[2019-06-26 02:14] shilman commented on #4505
@y-nk but it's a dupe to #4475 so let's solve it there?

[2019-06-26 02:14] #4505 closed

[2019-06-26 03:31] shilman commented on #6941
Pretty sure this is working well now. Thanks @libetl!!! 🙏

[2019-06-26 03:31] #6941 closed

[2019-06-26 03:32] #6933 closed

[2019-06-26 03:32] #6770 closed

[2019-06-26 03:33] #6636 closed

[2019-06-26 03:33] #6791 closed

[2019-06-26 03:34] #6691 closed

[2019-06-26 03:34] #6771 closed

[2019-06-26 03:34] #6662 closed

[2019-06-26 03:34] lonyele opened #7199 "CRNA-kitchen-sink example doesn't work"
**Describe the bug**
I can't run crna-kitchen-sink example on device.

**To Reproduce**
Steps to reproduce the behavior:
1. Download this repo
2. Setting up the project by `yarn install`, `yarn bootstrap`
3. Go to `/examples-native/crna-kitchen-sink` and `yarn start` (If it's not working `yarn install` here at this directory)
4. See error
`... module schedule/tracking does not exist in the Haste m

[2019-06-26 03:38] shilman commented on #7164
We run into a problem when trying to do:

[code]

=> `Cannot assign to read only property 'name' of function 'function(){return _ref2}'`

New proposal:

[code]

This is pure JS, allows us to stuff anything we want into `storyData` without worrying about name collisions, and is just slightly more verbose.

[2019-06-26 03:51] goldenlove commented on #6917
5.1.9, same issue here~ 😆
a temporary solution:
use iPhone 8 Plus or other “none notch" device Instead of iPhoneX simulator~ lol

[2019-06-26 04:06] Gongreg commented on #6917
Hey. It seems that safe area view is missing as a wrapper for storybook. Would someone like to add it?

[2019-06-26 05:32] mrmckeb opened #7201 "JSX not supported in config with CRA"
**Describe the bug**
As reported by @rlecaro2 and @Akaryatrh on #5183, JSX is not supported inside of the `.storybook` folder.

**To Reproduce**
Steps to reproduce the behavior:
1. Install `create-react-app`
2. Install Storybook

**Expected behavior**
JSX will be supported inside the `.storybook` folder.

**System:**
All.

**Additional context**
We had a similar issue with TypeScript which was res

[2019-06-26 05:33] mrmckeb commented on #5183
@revmischa Babel is how you can use TypeScript. The TS team give two paths - the TypeScript compiler, or a Babel plugin.

@rlecaro2 and @Akaryatrh, we made a change some months ago, where in the latest Storybook releases, babel-loader is not installed alongside CRA, and is instead found from within CRA.

As I understand it, you have no issues at all - apart from the fact that files within `.storyb

[2019-06-26 06:25] damianmr commented on #6147
I just wanted to mention that the very same issue drove me crazy for a couple of hours.

I'm using a fragment as  prop of a parent component. Something of the form:

[code]
And I see the same error message as above.

Removing the `withInfo` decorator from `config.js` allowed the very same code to run without problems. Changing the order of the decorators as suggested in other comment didn't work f

[2019-06-26 07:14] ohelixa commented on #6285
Hey Andre, it works for me:

https://components.helixa.ai/?path=/story/atoms-button--button
Storybook version : 5.1.9

[2019-06-26 07:46] shilman commented on #6147
@damianmr Unfortunately addon-info doesn't really have a maintainer right now. I'm happy to review a PR on documenting it better. Otherwise the best bet is to hope that people will find these github issues which also serve as "auxiliary documentation" indexed by Google and the like. 🤷‍♂

[2019-06-26 08:06] PhiLhoSoft commented on #7157
Same here. I tried to upgrade from Storybook 5.0.11 to 5.1.9 with Angular 7.2.15, and got:
[code]
in the browser.
It seems to choke on the HttpClientXsrfModule, after getting 3 other modules successfully.

[2019-06-26 08:47] pascaliske commented on #7157
This issue seems to be a duplicate of my issue #7106.
I will try to provide a PR for this bug later this day. 🙂

[2019-06-26 09:22] ganapativs commented on #6885
@smurrayatwork Yup, Solution works well for lazy loading component. But, I couldn't get `addon-info` or `addon-smart-knobs` to work with it.

`Component._result` is a `Symbol` and is empty at first. it's updated to `Component._result.defaultProps` once the component lazy loads.

The above addons doesn't detect the changes. hence, no propTables or smart knobs. Need to investigate this further 😇

[2019-06-26 09:52] jack-sf commented on #5551
This issue is still apparent to us, even after upgrading the storybook to 5.1.9 .

Only adding `depth: 3` fixes the problem, but that's a workaround, not a solution. As I've seen in https://github.com/storybookjs/storybook/issues/2590 , events shouldn't be serialized at all?

That's how it looks like for us:

![image](https://user-images.githubusercontent.com/44373826/60170479-c859cf00-9808-11e9-8

[2019-06-26 10:01] shilman opened #7204 "Source-loader: Post-merge fire fighting"
I accidentally broke the build by merging #7117, which replaced `@storybook/addon-storysource/loader` with `@storybook/source-loader` in all of the examples.

There are two problems, both of which can be reproduced locally.

- [ ] a broken unit test
[code]

- [ ] source-loader somehow causes `build-storybook` to run out of memory in most of the example directories
[code]

I've temporarily reverted

[2019-06-26 10:02] shilman commented on #7192
It turns out that there is more source-loader follow up work. Filing a separate issue that should be addressed before this one: #7204

[2019-06-26 10:34] Waseemrajashaik commented on #7033
Whenever we install a new package - then also we are facing this issue

[2019-06-26 10:51] z00m1n commented on #4716
Thanks for that @Gongreg! 👍
I really need this feature right now for work on my current project - good innings to try to set up stuff so I can test your PR in an unreleased version. Don't know much about the matter in general, so please don't expect to much 🥴
If you have any pointers you think might be helpful for me to get started, please let me know.

[2019-06-26 11:56] marco-silva0000 commented on #5817
@alasdairhurst I also ran Into this problem.

you can see it on this demo project with CRA
https://github.com/marco-silva0000/cra-test-pnp-storybook

[2019-06-26 12:07] ppalmeida opened #7205 "create-react-app + jsconfig.json paths: modules/scripts not found"
**Describe the bug**
When using CRA and "jsconfig.json": if I set "path" property to solve imports alias, the app works as expected running CRA, but Storybook crashes saying it can't resolve imports.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a new CRA app
2. Create some containers and import them using aliases.
3. Fill jsconfig.json file with paths/alias and make sure it works ok

[2019-06-26 12:15] marco-silva0000 opened #7206 "Support for yarn pnp on react"
**Describe the bug**
I am trying to integrate storybook and yarn pnp, without success.

**To Reproduce**
create react app,
setup storybook as in the tutorial
activate yarn pnp
run storybook
you can also see this on thix example project https://github.com/marco-silva0000/cra-test-pnp-storybook

Currently you get this error http://dpaste.com/1W0DQ1Y, which is the bug #5942 fixed in #5817 but probabl

[2019-06-26 12:19] atsikov commented on #7196
https://github.com/atsikov/storybook-addons-ts
Repo with minimal repro case

[2019-06-26 12:45] atsikov commented on #7196
Ok, after some more digging I finally solved this issue. It is not about "preview", but "manager" config.
After I added custom preset as described at https://github.com/storybookjs/storybook/issues/4995#issuecomment-447270973, everything became fine.

`.storybook/presets.js`
[code]
`.storybook/ts-preset.js`
[code]

Are there any plans to allow manager config extensions in some more straight-forwar

[2019-06-26 13:35] z00m1n commented on #4716
Sorry, I can't seem to get things set up to test the PR. I'm stuck here: https://github.com/storybookjs/storybook/blob/next/CONTRIBUTING.md#2-link
1. I don't know which one the _storybook root directory_ is
2. I don't know which one the _storybook-sandbox-app directory_ is
3. `yarn link @storybook/react` or `yarn link @storybook/react-native` fail with
`error No registered package found called "@s

[2019-06-26 13:44] rlecaro2 commented on #5183
Great! I'll try to figure out what's making the dev dependency work. Just for anyone else, the issue is #7201 (minor typo).

[2019-06-26 13:55] nmccready commented on #2118
I made the changes to the addons knob codebase and tried it out. Anyway it works. The build process for a specific addon does not really exist as it seems you must build everything via `build-packs`. It would be really nice to have separate lerna scopes which can target an addon specifically.

Anyway I'll submit a PR soonish.

[2019-06-26 13:56] jlowcs commented on #3593
This error could be caused by a improper (ie too new) version of `raw-loader`.

See https://github.com/TheLarkInn/angular2-template-loader/issues/86

Setting it to `1.0.0` fixed the issue in my project.

[2019-06-26 14:20] iamgbayer commented on #6873
@shilman I'm having this problem to see trigged consoles same with verbose enabled

[2019-06-26 14:53] CodeByAlex commented on #7167
@ndom91 is this something that you would like to take a look into?

[2019-06-26 15:08] ndom91 commented on #7167
@CodeByAlex yeah ill take a look at it this evening when I have some free time :)

[2019-06-26 15:14] nmccready commented on #2118
PR ☝️

[2019-06-26 15:23] creatyvtype commented on #3730
Let's keep this alive.... still want to know how best to sort the stories without hacky solutions.

[2019-06-26 15:45] kaiyoma commented on #6741
Still an issue.

[2019-06-26 15:49] MrHen commented on #6407
I longer use this pattern and don't need to fix the issue. I never got the time to look into fixing it. 😢

[2019-06-26 15:50] inspiratweb commented on #1147
Do we have any news about this @shilman?

[2019-06-26 16:08] lonyele commented on #6741
@kaiyoma Hey! I found where the bug is, I will make a PR that fixes this issue very soon(in 1day) Please wait until then

[2019-06-26 16:56] stmoreau commented on #6150
:)

[2019-06-26 17:00] #6089 closed

[2019-06-26 17:01] andyindahouse commented on #6089
This works, thanks for all.

[2019-06-26 17:08] libetl commented on #7204
Oh ok i told you those were missing and I will try to catch up asap sorry for the inconvenience

[2019-06-26 17:08] damusix commented on #7101
Hey @shilman, not sure if you are aware, but currently Riot has been upgraded to version 4, and it is not compatible with Riot 3. Lot of the dependencies currently in Storybook/Riot will not work with Riot 4. If you'd like to see an example of Riot4 with webpack, I have one [in my boilerplate project](https://github.com/damusix/riot-4-boilerplate/blob/master/webpack.config.js). Check out how [the

[2019-06-26 17:31] mtuzinskiy commented on #6308
Yes it's still a bug

[2019-06-26 17:36] shilman commented on #7101
@damusix Please open a separate issue about Riot4 support. Hopefully someone will pick it up!

[2019-06-26 17:44] freeman opened #7209 "Give preset the ability to inject content in preview/manager head"
**Is your feature request related to a problem? Please describe.**
To use storybook in multiple projects for my environment, I need to inject custom tags in head (mostly scripts tags with company wide shared libraries).

**Describe the solution you'd like**
To make it easy for everyone to use it I thought about creating a preset for that (and other needed customization).

**Describe alternatives y

[2019-06-26 17:54] shilman opened #7210 "Parallelize CI"
Break up CI jobs further to optimize build times. This is our current pipeline.

<img width="723" alt="Continuous_Integration_and_Deployment" src="https://user-images.githubusercontent.com/488689/60203036-6340c080-987e-11e9-8bda-d9a6d107851c.png">

We recently upgraded CircleCI so we can run as many jobs as we need in parallel. Therefore if we break long-running serial jobs into smaller parallel j

[2019-06-26 18:12] Gongreg commented on #4716
@z00m1n, I guess the best way for you to test things out would be to insert new code inside your project node_modules and play with it. I know that it sound really silly, but it is difficult to test things out when react-native storybook is inside monorepo.

If you want to run example project in storybook monorepo I can't help at the moment since I don't remember how to start it :/

I've tested th

[2019-06-26 18:14] #6445 closed

[2019-06-26 18:24] Gongreg commented on #6918
Hey, is there still an issue here?

[2019-06-26 18:32] Gongreg commented on #6614
Hey,
This issue exists because link addon emits SELECT_STORY event, but react native doesn't listen for this event, it listens to SET_CURRENT_STORY event. I assumed that SET_CURRENT_STORY is like an order and after preview handles it it emits SELECT_STORY event.

Do we have a list of events with descriptions when they are used? I know that there is list of events but it doesn't list use cases. @sh

[2019-06-26 19:24] ntucker opened #7211 "Using vulnerable package https://www.npmjs.com/advisories/815"
**Describe the bug**
Versions of `simple-markdown` prior to 0.4.4 are vulnerable to Cross-Site Scripting. See https://www.npmjs.com/advisories/815 for more info

[2019-06-26 19:49] CrashyBang commented on #6726
Still working on this, just having trouble finding the time.

[2019-06-26 19:55] damusix opened #7212 "Riot 4 support"
**Is your feature request related to a problem? Please describe.**
https://github.com/storybookjs/storybook/pull/7193
https://github.com/storybookjs/storybook/issues/7101#issuecomment-505963548
https://github.com/storybookjs/storybook/pull/7193#issuecomment-505965990

**Describe the solution you'd like**

**Are you able to assist bring the feature to reality?**
Yes, I can...

[2019-06-26 20:13] alechp commented on #7017
@edward-s Does this screencast reflect the issue you're describing?

https://drive.google.com/open?id=1KrkFttWi__MM8C2ms3hXIr1C3YYR1VdJ

[2019-06-26 21:33] haldunanil opened #7213 "How do we get dark theme in storysource?"
I'm trying to use the dark theme shown here only in the storysource code section but can't find the docs to do it:

![image](https://user-images.githubusercontent.com/9256828/60216596-5345c400-981f-11e9-8cb3-6ae4e8d2d218.png)

How can I achieve this in Storybook v5.0?

[2019-06-26 22:55] #6974 closed

[2019-06-26 23:04] stewwan commented on #6984
here too

[code]

[2019-06-27 00:05] JeffGuKang commented on #7017
Exactly same.

[2019-06-27 00:19] jonyeezs commented on #7149
Be awesome if it takes it one step further
If a story doesn't contain the settings/properties of a registered addon, it won't show its panel/tab.

[2019-06-27 01:04] shilman commented on #6345
Addon-docs is in alpha now and is intended to replace addon-info. Please give it a try and see whether it solves this issue: https://docs.google.com/document/d/1un6YX7xDKEKl5-MVb-egnOYN8dynb5Hf7mq0hipk8JE/edit?usp=sharing

[2019-06-27 01:10] shilman commented on #6614
@ndelangen can you document this as part of the addons documentation?

[2019-06-27 01:16] shilman commented on #7213
I believe it's currently tied to the overall storybook theme. So if you do the following in config.js:

[code]

It should set your overall theme to dark as well as the storysource. I don't think there's a way to use the dark theme in storysource and the light theme overall .. yet.

[2019-06-27 01:23] chrismiceli commented on #6194
Can we get a comment from project maintainers that a PR would even be accepted for this feature before someone invest time into resolving it?

[2019-06-27 01:27] shilman commented on #1147
@inspiratweb Addon-docs has been in alpha for over a month and is nearing beta. It solves a ton of problems with addon-info and adds a bunch of new features as well.

Read about it here: https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a

And get started here: https://docs.google.com/document/d/1un6YX7xDKEKl5-MVb-egnOYN8dynb5Hf7mq0hipk8JE/edit?usp=sharing

[2019-06-27 01:28] #5301 closed

[2019-06-27 01:36] shilman commented on #6873
@iamgbayer you don't see any console messages from the channel? or don't see this specific message?

[2019-06-27 01:37] shilman commented on #7196
cc @ndelangen

[2019-06-27 01:54] kon-rad opened #7215 "Uncaught DOMException: Blocked a frame with origin "http://localhost:9009" from accessing a cross-origin frame."
**Describe the bug**
After updated storybook 3 to 5 the 'actions addon' throws CORS error when an action is performed. Figured out that setting the 'depth' option to 2 or less is a work around and no error appears. Posting bug report hoping any better solution may be found.

**To Reproduce**
Steps to reproduce the behavior:
1. Initiate any action on storybook 5. CORS error appears in console.

**E

[2019-06-27 03:46] CrashyBang commented on #6726
Okay so I had a bit more of a play with this today.

Basically I tried modifying `node_modules/@storybook/core/src/server/templates/index.ejs` so that the script insertions included the `defer` attribute (I'm honestly just messing around at this point to see if I can come up with anything).

So the new code looked like this:
[code]

I also added `defer` to the script in my `preview-head.html`.

Th

[2019-06-27 04:18] abruzzihraig commented on #7113
I got the same issue when I try to start with the tutorial https://www.learnstorybook.com/react/en/get-started/. And the core-js version is 3.1.4 in it.

[2019-06-27 04:40] shilman commented on #7204
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.31 containing PR #7203 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-27 04:40] shilman commented on #6439
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.31 containing PR #6472 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-27 04:40] shilman commented on #7164
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.31 containing PR #7202 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-27 04:40] #6439 closed

[2019-06-27 04:40] #7164 closed

[2019-06-27 05:41] bennypowers commented on #6555
I was unable to reproduce with storybook 5.1.3. Closing for now. If it comes back once I succeed at building newer versions (#7084) I'll reopen

[2019-06-27 05:41] #6555 closed

[2019-06-27 08:31] darkowic commented on #4769
I would like to add also that react dev tool has a great feature `Highlight updates` but it also does not work with storybooks in an iframe.

[2019-06-27 10:16] skhiter commented on #6824
Hi everyone,
I have the same problem as @Hypnosphi, I installed create-react-native-app with storybook (v5.1.9).

DevDependencies:
-"@storybook/addon-actions": "^5.1.9",
-"@storybook/addon-links": "^5.1.9",
-"@storybook/addons": "^5.1.9",
-"@storybook/react-native": "^5.1.9",
-"@storybook/react-native-server": "^5.1.9",

Dependencies:
-"react": "16.8.3",
-"react-native": "0.59.9"

See error in con

[2019-06-27 12:38] chriscarpenter12 opened #7217 "Addon-knobs not working unless applied directly in story props"
**Describe the bug**
Hard to describe, but the knobs are not working unless the options are directly defined in the props of the story. I normally define a props variable I can share between stories for common data. If I put any knob options in this props variable it will not display in the knobs tab in Storybook. Occasionally if I refresh the page I can see both select knobs, but if I change the

[2019-06-27 12:56] lyqht commented on #6918
@Gongreg Nope, they are working! But theres still the debounce interval problem that i highlighted. But i guess this issue can be closed for its topic :) Thanks for helping out !

[2019-06-27 12:56] #6918 closed

[2019-06-27 13:07] #6617 closed

[2019-06-27 13:42] marklloydjones commented on #7017
Also reflects what I am experiencing at `5.1.9`. Also getting the `toLowerCase` error in the console.

[2019-06-27 13:45] chadlavi-casebook commented on #6204
babel-polyfills is a dep of a library I have to use. How can I get storybook to run in this case?

[2019-06-27 15:43] liamross commented on #6345
It seems to have resolved itself actually!

[2019-06-27 15:43] #6345 closed

[2019-06-27 16:35] alechp commented on #7017
@shilman I put together a fresh expo/storybook repo to illustrate.

* Repo

* Screenshots & package info of step-by-step reproduction:

* Screencast illustrating issue

[2019-06-27 18:51] webbower commented on #5880
Also seeing similar output after an upgrade from 4.0.0-alpha -> 5.1.8

`Storybook: Error: ENOENT: no such file or directory, stat '/path/to/project/node_modules/@storybook/core/dist/public/fcm-sw.js'`
'Storybook: Error: ENOENT: no such file or directory, stat /path/to-project/node_modules/@storybook/core/dist/public/main.a1003eb1e820800fc798.bundle.js'

[2019-06-27 23:23] danielmgarcia commented on #4958
just saw this thread. this is exciting! any outcome from the meeting?

[2019-06-27 23:28] shakeandbakeyo commented on #4958
just saw this thread. excited about the outcome! anything come out of the meeting?

[2019-06-27 23:47] stramel commented on #6625
still an issue I believe

[2019-06-28 01:13] sahilkhan99 opened #7218 "ENOSPC: no space left on device, mkdir '/app/build/docs"
**Describe the bug**
Building Docs fails when running storybook build inside the docker container. It works on the local windows machine (storybook start, storybook build). it creates build/docs and build/docsE2e.  But as soon as ran inside the docker linux container, it fails at build step.

**To Reproduce**
Steps to reproduce the behavior:
1. I have lerna monorepo setup with storybook/react. Got

[2019-06-28 01:25] cxwwa opened #7219 "5.1.9 Reproduce  #7049 issue; Warning: Received `false` for a non-boolean attribute `loading`."
**Describe the bug**
click sidebar get more menu icon button; at the console: Warning: Received `false` for a non-boolean attribute `loading`.

**To Reproduce**
Steps to reproduce the behavior:
1. npm i @storybook/react @types/storybook__react @storybook/addon-actions
2. Then follow the doc from [https://storybook.js.org/docs/configurations/typescript-config/](https://storybook.js.org/docs/configu

[2019-06-28 01:29] sahilkhan99 commented on #7218
Also inspected the docker container , while running the build and here are the logs for review
[code]
BOOM, all the 63 GB occupied while generating the build.

[2019-06-28 01:31] CrashyBang commented on #6726
Okay making more progress here,

I need to be modifying `node_modules/@storybook/core/dist/server/templates/index.ejs` (Obviously still messing around) and it appears to be somewhat working, so I moved:

[code]

Into the `<head>` and added `defer`, I am not sure if you would want to merge this up stream but it does mean the `<script>`'s in `preview-head.html` are guaranteed to load before the bund

[2019-06-28 03:07] shilman opened #7220 "Presets: Log conflicting webpack rules"
Presets should be simple and not need to know about other presets. However, it's very easy for two different presets to step on each other's toes. For example in this issue https://github.com/storybookjs/presets/issues/20, `preset-typescript` adds a typescript rule and `cra-config` is "smart" and removes it.

In general we can't know the order in which presets execute, so the best solution is to m

[2019-06-28 03:41] shilman opened #7221 "CRA: Move cra-config into a separate preset"
Currently CRA config is a magic step that happens during `@storybook/react` loading. It should be split out into its own preset so that it is more transparent and easier to reason about.

For example in https://github.com/storybookjs/presets/issues/20, CRA is silently removing the docgen information added by `preset-typescript`.

There are also other cases, e.g. supporting custom forks of CRA, whe

[2019-06-28 04:03] shilman commented on #7218
@sahilkhan99 How big is your `./assets` folder?

[2019-06-28 04:16] sahilkhan99 commented on #7218
@shilman
assets folder : 826kb
In window when the build docs success full, the build output folder is 19.1 MB.

[2019-06-28 05:47] CrashyBang commented on #6726
Okay working further still I now have the following issue rendering components, if I try to render like this:

[code]

Nothing works given that nothing has loaded, however if I try to render like this:

[code]

Nothing renders either but the `response` does show a valid story instance, it looked like it was working before becuase it would render the component the first time I ran `npm run storyboo

[2019-06-28 08:06] sophister commented on #4716
same problem with @alexakasanjeev

`storybook` related packages version `5.1.9`

[2019-06-28 08:08] Gongreg commented on #4716
@sophister, there is already a PR which solves the issue.

[2019-06-28 08:10] erhanbicer commented on #4716
@Gongreg which pr solves this problem?

[2019-06-28 08:11] Gongreg commented on #4716
Few messages above: https://github.com/storybookjs/storybook/pull/7187

[2019-06-28 08:23] #6735 closed

[2019-06-28 09:12] sparqueur commented on #7157
Any news ?

I have a pretty similar issue.

When using one NgModule as an entry point for importing  all modules, it does not find all components / directives :

`Template parse errors: Can't bind to 'ngIf' since it isn't a known property of`

[code]
==> OK

[code]
==> KO

[2019-06-28 09:21] danielknell opened #7223 "Storyshots fails with MDX stories via docs addon"
**Describe the bug**
If you try and use storyshots while using the docs addon, jest will try and import the MDX file, which will result in syntax errors (it not understanding markdown code and all)

**To Reproduce**
Steps to reproduce the behavior:
1. Enable docs technical preview
2. Setup storyshots
3. Create an based MDX story
4. Run jest

**Expected behavior**
Jest should create snapshots based

[2019-06-28 10:51] ManuelRauber commented on #7157
A current workaround for me seems to be to do:

[code]

[2019-06-28 14:24] #5624 closed

[2019-06-28 16:25] shilman commented on #7223
This is also blocking this PR: https://github.com/storybookjs/storybook/pull/7222

[2019-06-28 17:50] ruudyroon commented on #7097
Faced the exact same issue today with 5.1.8

[2019-06-28 19:49] ArmandoAA opened #7226 "CSSTransition of Reactjs in Storybook show error"
**Describe the bug**
I'm develop a modal that uses CSSTransition to animate itself but when I make this storybook show me a error.

**To Reproduce**
1. Install react-transition-group in your project
2. Create a component inside a CSSTransition
3. Create a stories for this component

**Expected behavior**
When I remove CSSTransition the component show in the storybook, thas is what I expected.

**S

[2019-06-28 20:02] ndom91 commented on #7167
So unfortunately I dont have a solution yet, but I did find some things - maybe it will ring a bell for someone else..

The element disappears immediately once any css transform is applied, be it scale, transformX, translateY, translateZ, etc.

In this case the zoom button adds a `translate: scale(1.25)`, for example. If you take this property off in the dev tools the element reappears. I did some

[2019-06-28 20:31] blackfalcon commented on #4958
As a user of lit-element and one looking for easy auto documentation solutions, I am very excited to see this addressed ASAP.

[2019-06-28 23:37] CodeByAlex opened #7227 "Component shows up in center of docs when using addon-centered"
**Describe the bug**
Addon centered causes component  to show up in the center of the docs view which is not the expected result.

**To Reproduce**
Steps to reproduce the behavior:
1. Apply addon centered
2. Click on the docs tab
3. See that the component is in the middle of the screen rather than in the markdown

**Expected behavior**
 Component should show up inline with the markdown

**Screensh

[2019-06-29 00:41] shilman commented on #7223
@danielknell For now, I just added the `mdx` file to a list of `fileMock` files, so it effectively skips the test. Not a very good workaround, but it unbreaks storyshots.

There's already a webpack loader that transforms the stories into JSX. Do you have any interest in trying to get that working for jest? I probably don't have time to look at this much more for awhile, but I'd be happy to answer

[2019-06-29 01:50] shilman opened #7228 "Addon-docs: "Unexpected default export without title ...: undefined" Error"
E.g. in https://github.com/hastebrot/lerna-starter/commit/76d3e4ea8c231f8bb108c0c8ef7af316fc36bef1

[code]

This fails because the preset only applies to `.stories.mdx` files and the user named his files `.story.mdx`.

Options:
- Update documentation
- Add `.story.mdx` support to preset
- ???

[2019-06-29 02:51] emilio-martinez commented on #4958
I have been working towards this behind the scenes. The main issue I haven't been able to address fully is HMR support, although some might argue it's a bit of a stretch in the web component space given how 'customElements.define' behaves currently.

I'll try to wrap the work I've done into a PR soon.

[2019-06-29 03:23] #6542 closed

[2019-06-29 03:40] shilman commented on #7101
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.32 containing PR #7175 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-29 03:40] shilman commented on #7204
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.32 containing PR #7214 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-29 03:40] shilman commented on #7228
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.32 containing PR #7229 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-29 03:40] shilman commented on #4716
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.32 containing PR #7187 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-29 03:40] #7204 closed

[2019-06-29 03:40] #7228 closed

[2019-06-29 04:48] daKmoR commented on #4958
HMR works fine for us in the current implementation :)

what seems to be the problem?

we advocate for splitting class code and `customElements.define` to be in separate files... so maybe that's why it works for us?

imho this could be a valid requirement if you want HMR

[2019-06-29 06:21] #5217 closed

[2019-06-29 06:21] #5778 closed

[2019-06-29 09:03] erhanbicer commented on #4716
@shilman I upgraded from version 5.1.9 to version 5.2.0-alpha.32. but the screen always says "Please open navigator and select a story to preview." is writing in a fixed way. I cleared the cache and tried many methods like this.

[2019-06-29 10:21] #6678 closed

[2019-06-29 13:26] guillermoarellano commented on #3575
Hi @nickbullock. How did you solve this problem? I don't see too much documentation on this.

[2019-06-29 13:39] Gongreg commented on #4716
@shilman I will once again check it on Monday. I checked it but since everything was in node_modules there is chance that something is still missing :(

[2019-06-29 20:32] ArmandoAA opened #7231 "Storybook doesn't work when I follow the tutorial in the Snapshot Test config"
**Describe the bug**
I'm creating a library with **create-react-library** package, but this error occur with the **create-react-app** too. When I follow the tutorial storybook works fine, but when I

**To Reproduce**
Steps to reproduce the behavior:
1. Create a project with create-react-library or create-react-app
2. Init storybook in project
3. Create a component for test
4. Install packages **@s

[2019-06-30 14:28] mateja176 opened #7232 "Storyshots require-context.macro causes start-storybook build to fail"
**Describe the bug**
Storyshots require-context.macro causes start-storybook build to fail

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/mateja176/react-hot-starter
2. cd react-hot-starter
3. git checkout storyshots-macro
4. npm run storybook

*NOTE* react-hot-starter is based on create-react-app@2

**Expected behavior**
Storybook builds and opens localhost:600

[2019-06-30 14:29] mateja176 commented on #7232
Related #7231

[2019-06-30 17:52] jonwilliams-bluescape opened #7233 "Knobs-addon when running tests"
I'm pulling my storybook scenarios into my Component.test.js files
so I can test each story against each test.
This works great except I get this error when the story uses knob hooks
ie import { color, text, boolean, number } from '@storybook/addon-knobs';

Uncaught [TypeError: Cannot read property 'emit' of undefined]
...

..from the fact that the knobs addon is trying to emit an event without in

[2019-06-30 17:57] alexeychikk commented on #2993
@Hypnosphi That doesn't answer the question. I need to call storybook api from the component returned from makeDecorator call. For example, I have the following code:
[code]
How can I pass storybook api to the `Provider` component?

[2019-06-30 18:43] alexeychikk commented on #7090
Version 5.1.9 - same f*cking error.

[2019-06-30 20:31] CrashyBang commented on #6726
After a bit more research I believe I need something like the proposed API in #713 but from what I can tell this was never implemented.

I also see there is some conversation happening in #6885 potentially we will see something happen here.

[2019-06-30 23:00] #6364 closed

[2019-07-01 05:01] claudio-moya commented on #7219
Same here, also using Macbook, Chrome and React

[2019-07-01 05:14] Gongreg commented on #4716
@erhanbicer, thank you for checking it. @shilman, looks like story store api has changed with docs mode :o . Doing a PR to fix it.

In the fix I used `storyStore.setSelection(story)` but it is actually `storyStore.setSelection({storyId});`

[2019-07-01 05:28] Gongreg commented on #7017
Hey, I think this issue is related to #4716. It already has a fix and should be released soon.

[2019-07-01 05:38] Gongreg commented on #7163
Hey @z00m1n. I guess we could expose @storybook/addon-knobs api inside @storybook/addon-ondevice-knobs. That way user could import from both addon-knobs and addon-ondevice-knobs. What do you think? Could you help us with PR here? :)

[2019-07-01 05:38] #6920 closed

[2019-07-01 05:41] Gongreg commented on #6309
Hey @owinter86. We could implement your suggestion to add option to allow to automatically focus story to preview. It could be an option inside getStorybookUI.

Fixing the main issue would require more investigation, since we have some logic to properly handle keyboard.

Could you create a PR for that option?

[2019-07-01 05:42] Gongreg commented on #6426
@benoitdion, feel free to DM me on Discord :)

[2019-07-01 06:57] christophehurpeau commented on #4487
I can create an PR on friday if no one works on this yet ?

[2019-07-01 07:59] mrmckeb commented on #7205
Hey @ppalmeida, sorry you're facing this issue. Could you try updating your Storybook version to the latest stable versions - if that doesn't help, please let me know.

Also, keep in mind that Create React App doesn't support paths officially, and we've not tested that in Storybook.

Can you also share a test repository that I could have a look at? A basic reproduction only.

[2019-07-01 08:00] mrmckeb commented on #7205
PS: Sorry for the slow reply, I've been away.

[2019-07-01 08:15] antonyjaved opened #7236 "In the "addon-info" in the "Story Sourse" section, add the ability to display functions in detail as component properties."
**Is your feature request related to a problem? Please describe.**
In the "addon-info" in the "Story Sourse" section, a component property that is a function displayed as function noRefCheck () {}. It is necessary to give the opportunity to display the function in detail.

**Describe the solution you'd like**
In the addon, the "react-element-to-jsx-string" package is used to display the jsx compon

[2019-07-01 08:24] mrmckeb commented on #7221
Hey @shilman, I could possibly pick this up over the weekend?

We'll have to think about how to handle customisation - I think we could probably just say that if you've modified CRA, you'll probably need to modify this config (or write your own).

[2019-07-01 08:44] erhanbicer commented on #4716
@Gongreg I made the changes manually. this did not work for me. Sorry!

[2019-07-01 08:46] Gongreg commented on #4716
@erhanbicer you applied all the changes in the new PR #7234 on 5.2.0-alpha.32? I’ve tested them with/without server and they worked for me.

[2019-07-01 08:53] erhanbicer commented on #4716
@Gongreg yes, I implemented them in 5.2.0-alpha.32.

`    "@storybook/react-native": "next",`
`    "@storybook/react-native-server": "next",`

[2019-07-01 08:55] Gongreg commented on #4716
Just to be sure, can you clear your async storage?

[2019-07-01 09:21] erhanbicer commented on #4716
I cleaned everything up. but it didn't work again

[2019-07-01 09:29] Gongreg commented on #4716
Do you see story list inside the navigator (in the app itself)? @erhanbicer

[2019-07-01 10:02] erhanbicer commented on #4716
@Gongreg Yes, the story list appears in both the application and the website.

[2019-07-01 10:05] Gongreg commented on #4716
Okay, one more question.

If you disable the server, does the storybook work for you? Because if you use 5.2.0-alpha.32 without #7234 storybook shouldn't even work for you.

I want to make sure that we are getting the same results.

[2019-07-01 10:10] erhanbicer commented on #4716
@Gongreg It also does not work when the server is disabled.

[2019-07-01 10:11] Gongreg commented on #4716
Great. We have common ground now. So did you apply the changes in #7234 to dist directories?

[2019-07-01 10:33] jorgecasar commented on #7084
I tried with last version 5.1.9 and I'm getting this errors:

[code]

And where is the dependency versions:

[code]

[2019-07-01 11:16] Hypnosphi commented on #4487
Sure @christophehurpeau

[2019-07-01 11:17] Hypnosphi commented on #4487
@christophehurpeau note that it's telejson library that needs a PR:

https://github.com/storybookjs/storybook/issues/4487#issuecomment-485805825

[2019-07-01 11:23] shilman commented on #4716
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.33 containing PR #7234 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-01 11:23] shilman commented on #5975
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.33 containing PR #7235 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-01 11:23] #5975 closed

[2019-07-01 11:27] huston007 commented on #6883
I've just updated to Storybook@5.1.9 and search works much selective now. Thank you!
<img width="209" alt="Screenshot 2019-07-01 at 14 27 18" src="https://user-images.githubusercontent.com/4318513/60432995-59b3b180-9c0c-11e9-9f0e-eb7f92c7e134.png">

[2019-07-01 12:11] Gongreg commented on #4716
@erhanbicer, I've tested out 5.2.0-alpha.33, it does work for me.

[2019-07-01 12:27] sergej-s commented on #5225
In case someone stumble upon this issue: hmr does work but not in the right order. When the story/test file is being changed then hmr hits updating of storybook immediately without waiting for jest to complete testing. So `test-addon` ends up with old `jest-test-results.json` albeit is reloaded successfully. After jest completed testing hmr tries to do reloading again for the changed `jest-test-re

[2019-07-01 13:46] shilman commented on #6883
@huston007 @ndelangen LOL did we change anything? 🙀

[2019-07-01 13:57] antoniojps commented on #6204
I ran `yarn upgrade interactive --latest`, upgraded all storybook related dependencies and now it's working! 🎉

[2019-07-01 14:19] ndelangen commented on #6204
@chadlavi-casebook uhm, you could try adding an webpack ignore plugin I guess?
https://webpack.js.org/plugins/ignore-plugin/

[2019-07-01 14:22] erhanbicer commented on #4716
@Gongreg I upgraded to 5.2.0-alpha.33, and reinstalled it. result; Not successful.

https://i.imgur.com/1ynQK3I.png

rn version: 0.59.9

[2019-07-01 14:26] Gongreg commented on #4716
@erhanbicer don’t want to sound like a broken record, but clear async storage and reset the cache.

[2019-07-01 14:54] erhanbicer commented on #4716
@Gongreg
I suspected my own project. I opened a new, clean project and did the installation. The result is the same. You can try pulling it out here if you want.

https://github.com/erhanbicer/alpha-storybook-test

[2019-07-01 15:13] MatthewMSaucedo commented on #5814
@gabrielmf this fix worked for me, and now my angular-cli webpack config doesn't throw any errors. However, I'm still failing immediately afterwards when the type checking service runs -- any ideas?

[2019-07-01 15:17] Gongreg commented on #4716
Thanks. I will look into it tomorrow. I am sorry that it is taking so long to fix. I am just not getting any errors locally.

[2019-07-01 15:24] erhanbicer commented on #4716
Good luck :)

[2019-07-01 15:25] dbeff commented on #4716
Thank you for your effort @Gongreg ! I just got the warning in a fresh install here... Good to see that is almost over!

[2019-07-01 15:45] rkara opened #7242 "Knobs-addon: Angular Components lose interactivity after adjusting property via knob"
**Describe the bug**
When adjusting properties on an Angular component via a Knob, the Angular component interactions start having issues.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a story using the code snippet below
1. Change a property using the knob add-on (change the first label to "error")
1. Click the Second Tab in the preview pane
1. Notice the tab content does not ch

[2019-07-01 15:48] owinter86 commented on #6309
Hey @Gongreg I should have some time end of this week to implement the auto focus option. I will file a PR as soon as I can.

[2019-07-01 15:51] Gongreg commented on #4716
Hey, I really don't like leaving broken things, so I investingated it more.

I found why I wasn't getting the issue. We are using github.com/wix/react-native-navigation in our app and it initialises the components sooner than in the default app. Making a PR with fix now.

[2019-07-01 15:55] Gongreg commented on #4716
Created a pr. I really really hope the last one.

[2019-07-01 17:23] trevordmiller opened #7244 "Sidebar search refreshes page when enter is pressed"
**Describe the bug**

When using storybook, the user can type in the search input to filter down to matching stories. If the user hits the enter/return key, the app does a hard refresh.

**To Reproduce**

Steps to reproduce the behavior:
1. Click in search input in storybook sidebar
2. Type letters in the search input
3. Hit the enter/return key
4. Notice that your app did a hard refresh

**Expect

[2019-07-02 00:44] jamesg1 commented on #7201
What would be an alternative? I've tried to add babel-loader in devDependencies on 8.0.4 and 8.0.5 but I get issues on the react-scripts warnings and my jest storybook snapshots come back empty. Currently in `.storybook` I have some JSX for theme providers to be added as decorators. I'm using a standard CRA 3.0.1 (requires this version for typescript support in other components).

If I change the

[2019-07-02 01:59] shilman commented on #5975
Gadzooks!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.34 containing PR #7245 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-07-02 01:59] shilman commented on #7101
w00t!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.34 containing PR #7222 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-02 02:13] shilman commented on #5814
@gabrielmf @MatthewMSaucedo Does this workaround also imply a fix? If so, any interest in contributing the fix as a PR?

[2019-07-02 02:47] brennancheung opened #7246 "dist version addon-info should not require user's webpack css loader"
**Describe the bug**
When upgrading to `@storybook/addon-info` `5.1.9` I receive the following error:

[code]

**To Reproduce**
This is most likely caused because I have the following rule defined in my `webpack.config.js`:

[code]
Note that `node_modules` is excluded.  This is a very common config but unfortunately it means webpack won't be processing anything inside of shipped `npm` modules.

**

[2019-07-02 02:50] brennancheung commented on #7246
I worked around the issue by excluding just `@storybook/addon-info` from the `exclude`.

[code]

[2019-07-02 06:42] erhanbicer commented on #4716
Sorry, not working

[2019-07-02 06:44] Gongreg commented on #4716
@erhanbicer, I think last PR is not released yet. Checking

[2019-07-02 06:45] Gongreg commented on #4716
@erhanbicer, ETA 10 hours till release.

[2019-07-02 07:54] mtuzinskiy commented on #6664
@shilman  Any updates on this?  I recall you said that you've managed to make it work,  and that the first version is soon to come... That would be great :pray:

[2019-07-02 08:03] graup commented on #6915
If @KadenLNelson could confirm that this solves their issue we can close this.

[2019-07-02 08:38] pksunkara commented on #6932
Try the following:

`template: <logo />`

You shouldn't be using upper case name of the components in templates. Closing this and if still not fixed, please reopen.

[2019-07-02 10:33] shilman commented on #7170
Changelog has been updated!

[2019-07-02 10:33] #7170 closed

[2019-07-02 10:35] shilman commented on #5827
We released #6472 and I'll update `MIGRATION.md` accordingly

[2019-07-02 10:38] shilman commented on #6804
Is this still an issue @kroeder ?

[2019-07-02 11:51] gabrielmoncea commented on #6998
Same here!
[code]

[2019-07-02 12:31] frebro commented on #6204
Had the same issue running @storybook/vue 5.1.9. Running `yarn why core-js` turned out this:

[code]

✅ **Adding `core-js@^2.6.9` to devDependencies solved it for me.**

[2019-07-02 12:37] meetromb opened #7253 "Error while loading astroturf/loader"
I use custom webpack config. But cant apply rule with **astroturf loader** (see screenshot)

Maybe it because webpack try to resolve wrong path?
```/Users/username/Desktop/work/node_modules/astroturf/loader.js!/Users/username/Desktop/work/node_modules/core-js/modules/web.timers.js```

<img width="1529" alt="Снимок экрана 2019-07-02 в 15 37 14" src="https://user-images.githubusercontent.com/3417562

[2019-07-02 13:07] MrDestroii opened #7254 "addon-info propTables"
**Describe the bug**
via addParameters I specify for info, propTables, I want props to be displayed only for those components that are specified in propTables

**Expected behavior**
In the Prop Types block, props should only be displayed for Form

**Code snippets**
`import Form from 'Form'`
`import Input from 'Input'`
`import Button from 'Button'`
`storiesOf('Form', module)`
`  .addParameters({ in

[2019-07-02 14:25] lslocum commented on #6804
I force upgraded to Angular 8 and had no issues with storybook.

[2019-07-02 14:49] OwenPattison opened #7255 "Composable storybooks (storybooks within storybooks)"
**Is your feature request related to a problem? Please describe.**
I'm trying to implement several Storybooks in a monorepo.
What I'd like to be able to do is then create a Storybook that I can compose from the several Storybooks I've created for each part of the monorepo.
This would allow me have an isolated development environment for each part of the monorepo whilst being able to publish a publ

[2019-07-02 15:45] shilman commented on #7255
You can achieve something like this today by simply loading all the `*.stories.js` files from each of those directories into the root storybook.

[code]

If each of the stories were appropriately "rooted", this would probably do something like what you'd want:

[code]

Storybook can def be smarter about how it loads these in, but I think this would be a workaround that you could use today. What do

[2019-07-02 16:41] shilman commented on #4716
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.35 containing PR #7243 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-02 16:41] #4716 closed

[2019-07-02 16:57] ghobashy commented on #3843
best solution is found is to add
[code]
in package.json

[2019-07-02 18:04] patrickleet commented on #4741
Came across this today - took some digging, but eventually found a solution.

The bug is actually in webpack, which storybook uses.

It is this: https://github.com/webpack/webpack/issues/8656

The solution is to install the correct version of `acorn`

[code]

Maybe worth doing the whole `rm -rf node_modules && rm package-lock.json` thing as well.

For completeness, here is the .babelrc file that w

[2019-07-02 18:27] hueter commented on #5949
thanks @Jimmydalecleveland, your fix worked for me! I also have a gatsby app inside a monorepo with yarn workspaces and kept getting an ambiguous error from nodemodules/gatsby when running `yarn storybook`

[2019-07-02 18:52] shilman commented on #6664
@mtuzinskiy check out https://github.com/storybookjs/storybook/pull/7257

[2019-07-02 19:22] ppalmeida commented on #7205
Hey, @mrmckeb.
Thank you for your reply.

Actually I have to say I was completely *WRONG* when said that CRA was assuming `jsconfig.json` file and using it to resolve the paths/alias. No no. Not, at least, not [YET](https://github.com/facebook/create-react-app/issues/5645#issuecomment-484750808)

So, I think we can close this issue.

For those who is interested in having CRA working with `paths` (

[2019-07-02 19:22] #7205 closed

[2019-07-02 19:22] Gongreg commented on #4716
Please tell me that it is working now

[2019-07-02 19:23] minardimedia commented on #5249
I also have this issue I just change the babel-loader from 8.0.6 to 7.1.5 and it worked

[2019-07-02 21:30] kaiyoma opened #7260 "emotion-theming@10.0.14" has unmet peer dependency "@emotion/core@^10.0.14""
**Describe the bug**
After upgrading from Storybook 5.1.3 to 5.1.9, we see this warning during `yarn install`:

[code]

**System:**
 - OS: Windows 10, Linux
 - Framework: React
 - Version: 5.1.9

[2019-07-02 23:46] minardimedia commented on #5013
What is the solution for this issue?

[2019-07-03 02:09] cbass561 opened #7261 "Cannot run storybook after install npm 'request' as separate dependency"
**Describe the bug**
Storybook will not run if the project has a dependency on 'request'.

**To Reproduce**
Steps to reproduce the behavior:
1. Install storybook and get it running (as per https://storybook.js.org/docs/guides/guide-react/)
2. Run 'npm install request --save'
3. npm run storybook (start-storybook -s ./public/) will not run

**Expected behavior**
install request should not break sto

[2019-07-03 03:13] shilman opened #7262 "Addon-docs: Canvas doc block"
Add a canvas doc block per the design:

![docs-design](https://user-images.githubusercontent.com/488689/60560549-d072bb00-9d82-11e9-8f7b-23b87485a065.png)

It should:
- [ ] Show a single story in an iframe
- [ ] Show the toolbar UI (without custom addons for now)

[2019-07-03 06:21] erhanbicer commented on #4716
@Gongreg Yes, it worked. Thank you for your work. :)

[2019-07-03 07:57] OwenPattison commented on #7255
@shilman thanks for the response, this seems like a functional workaround to use today definitely. I'll give this a try 👍

[2019-07-03 08:00] PenAndPapers opened #7263 "IE Edge/11 not displaying anything"
**Describe the bug**
We are using vue js in our app and our storybook seems to work fine in most modern browsers except for IE edge and 11.

Below are our configs
**package.json**
[code]

**/config/storybook/addons.js**
[code]

**/config/storybook/config.js**
[code]

**/config/storybook/webpack.config.js**
[code]

**To Reproduce**
Steps to reproduce the behavior:
Launch the app in IE edge or IE11

[2019-07-03 11:15] rwieruch commented on #5827
Thank you @shilman 🎉 Tried it in 5.2.0-alpha.35 and it worked.

**Just in case:** sortStoriesByKind  changed to storySort and expects a function now.

[code]

[2019-07-03 11:21] Gongreg commented on #7017
Hey,
the fix is released in v5.2.0-alpha.35

[2019-07-03 11:21] #7017 closed

[2019-07-03 11:43] rwieruch opened #7264 "Addon-docs: No global Style anymore"
Tried Addon-docs with Alpha version 35 today. Everything worked fine, except for my global style which isn't applied in the new **Docs** panel, but still working in the old **Canvas** panel.

This is how my *.storybook/config.js* looks like:

[code]

Whereas *Style* comes from styled-components:

[code]

[2019-07-03 11:48] Knskan3 opened #7265 "Built version stories crashing when using rewiremock"
**Describe the bug**
When building storybook statically, the stories using `rewiremock` crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a story
2. Install and import `rewiremock`
3. Create a mock like
[code]
4. Build storybook
5. Open the static page.

4. See error
<img width="706" alt="Screenshot 2019-07-03 at 13 41 52" src="https://user-images.githubusercontent.com/1422357/60

[2019-07-03 11:50] robaxelsen commented on #6869
Same issue here, unfortunately.

I wanted to try and find the root cause, and checked the markdown-to-jsx library for clues, but no similar issue reported there. Anyone have any insights into what part of the code or library is parsing this wrong?

[2019-07-03 11:58] rwieruch commented on #7223
Out of curiosity: Will Storyshots still work with MDX files? E.g. for

[code]

[2019-07-03 12:06] StuartTbox opened #7266 "React native PanGestureHandler not firing events"
onGestureEvent not firing within storybook on react native but is firing outside story book.

`<PanGestureHandler onGestureEvent={this._onPanGestureEvent}/>`

Confirmed this by extracting the component and running the same code outside of a storybook story.

[2019-07-03 12:07] rwieruch opened #7267 "Addon-docs: Oh no! The source is not available."
I tried the new Storybook addon-docs in Alpha version 35. Everything works as expected! However, I don't see the source code of  the Story. I guess it isn't implemented yet, is it? If it is implemented, do I need to add something to my story?

![Screenshot 2019-07-03 at 14 03 35](https://user-images.githubusercontent.com/2479967/60590231-c9a47200-9d9b-11e9-92b8-812251712c22.png)

[code]

[2019-07-03 12:11] rwieruch commented on #6700
Just set up Docs today. Wonderful work that you have done there!

I would love if the old "Canvas" Tab would disappear and the new "Docs" Tab would be the one and only. Then the Tabbar could be removed and would declutter the UI. However, then it would be possible to integrate all the other addons (Knobs etc.) in the "Docs" Tab.

Since it wouldn't be possible anymore to open a single story via the

[2019-07-03 13:11] shilman commented on #7264
This is closely related to #6803

[2019-07-03 13:13] shilman commented on #7267
@rwieruch What does your `webpack.config.js` look like? You need to add `source-loader` like this: https://github.com/storybookjs/storybook/blob/next/examples/official-storybook/webpack.config.js#L42

[2019-07-03 13:19] shilman commented on #6700
Thanks @rwieruch! 🙏

You can get part of the behavior you're looking for by running `start-storybook` or `build-storybook` with the `--docs` flag. This is still WIP, and will be getting some improvements in the next few days, but should give you a picture of what's to come.

Supporting all the addons is a longer-term project though. So until we figure that out, it's an either/or situation. 😺

[2019-07-03 14:02] rwieruch commented on #7267
That's my .storybook/webpack.config.js:

[code]

[2019-07-03 14:09] lalli-oni opened #7268 "[addon-knobs] valid JSON object not stringifiable"
**Describe the bug**
`@storybook/addon-knobs` is not able to stringify JSON that includes object inside of an array.

**Configuration**
Knob:
`data: {
  default: object('Data', defaultDataset)
},
`

**Invalid** JSON object:
`{
  labels: ['Red', 'Blue'],
  datasets: [{
    'data': [ 3, 5, 2, 3, 7]
  }]
}`

Also **Invalid**:
`{
  labels: ['Red', 'Blue'],
  datasets: [{}]
}`

**Valid** JSON object:
`

[2019-07-03 16:38] alistair-hmh opened #7269 "Upgrade Core-js"
**Describe the bug**

## ~~Issue 1~~

~~With some projects `@storybook/addon-actions` does not work. When launching storybook with the command `yarn storybook`, the following kinds of errors can be seen:~~

[code]

## Issue 2

Additionally, when installing `@storybook/react` - there is a warning about Storybook using an old version of `core-js`. I think these may be related?

**To Reproduce**

Ste

[2019-07-03 17:11] JosephHalter commented on #7049
This issue is already closed. Please refer to https://github.com/storybookjs/storybook/issues/7219 to follow progress on the similar issue in newer versions of Storybook rather than add to this already very long ticket.

[2019-07-03 17:49] RPDeshaies commented on #5975
@shilman I'm testing the alpha release heavily and it seems like the "zoom" button are throwing an exception and make the page entirely blank.

Does that ring a bell ? Should we open another issue for this ?

[code]

[2019-07-03 18:13] alechp commented on #7017
Confirmed it's working.

For anyone wanting to save a few minutes on upgrading before testing, here's a sample repo upgraded to 35a:

https://github.com/servexyz/rnes5-v2

[2019-07-03 18:16] cbass561 commented on #7261
The issue was unrelated to import request. Sorry for wasting anyones time

[2019-07-03 18:16] #7261 closed

[2019-07-03 18:26] MatthewMSaucedo commented on #5814
Was able to fix my typing issue by then modifying the .storybook/tsconfig.json to what I needed to pass typechecking.

It seems like the script for install should ideally be adding in the storybook project to angular.json -- I wouldn't be too sure where to begin on that pr but I may look into it.

[2019-07-03 20:36] halian-vilela commented on #7231
Same thing here, also raised an issue in `require-context.macro`since it seems to be the only thing that changed in the previous working code: https://github.com/storybookjs/require-context.macro/issues/3

[2019-07-03 21:04] halian-vilela commented on #7231
Hey guys,  try this:

1. Install `babel-plugin-macros` --> `yarn add babel-plugin-macros`
2. Add a `.babelrc` to root folder with
[code]
3. Restart Storybook.

See if it works

[2019-07-03 21:07] anvlkv opened #7270 "storybook angular build fails"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

I'm not sure

_Please provide issue details here - What did you expect to happen? What happened instead?_

I expected storybook to start but it didn't.

Build fails with errors:
[code]

I can't understand why it wants to load these node types
[code]

Also it tries to load lazy loaded modules, looking

[2019-07-03 21:42] ndelangen commented on #6555
Thanks for reporting @bennypowers 🙇

I sure hope the issues stays closed, but obviously happy to assist if it does crop up again.

[2019-07-03 22:56] #6540 closed

[2019-07-04 03:01] y-nk commented on #6909
@iamnewton if you wish to receive help, please consider duplicate your private repo in a separate folder, delete the `.git` directory, create a new one, strip out all the sensitive files/informations to isolate the problem and upload it on github.

[2019-07-04 04:15] shilman commented on #7267
This line:
[code]

Needs to be updated to:
[code]

Along with adding `@storybook/source-loader` as a dependency. We've refactored out that part into a separate package that will be shared by `addon-storysource` and `addon-docs`. However, we're still getting it all working. I'll update here when I think it's stabilized.

[2019-07-04 04:36] shilman commented on #5975
@RPDeshaies Thanks for following up on this. Yeah I think it's a new issue!

[2019-07-04 04:39] shilman commented on #7269
@ndelangen Here we go again :)

[2019-07-04 04:43] shilman commented on #7223
@rwieruch See my comment
 https://github.com/storybookjs/storybook/issues/7223#issuecomment-506912633
- If we `fileMock` MDX files they will be ignored and the stories won't be picked up
- If we write a jest transformation (equivalent to a webpack loader) or figure out how to adapt the webpack loader, these stories will be snapshotted. However, it requires investigation (help wanted!)

[2019-07-04 04:48] shilman commented on #7255
@OwenPattison Please do and post back here if it's working. Also, we're definitely interested in giving first-class support for this use case so if you're interested in figuring out a better way together that would be fantastic.

[2019-07-04 04:52] lonyele opened #7289 "Placement of NotificationList on Docs-page"
**Describe the bug**
It seems like the placement of `Notifications` on `Docs` page is at the wrong place.

**To Reproduce**
Steps to reproduce the behavior:
1. Open official-storybook
2. Go to `Notifications` -> `Notifications` -> any of `single`, `all`, `placement` and goes to `Docs` insted of `Canvas`
3. It seems like `Notifications` are at wrong place

**Expected behavior**
At least, `single, a

[2019-07-04 05:11] alistair-hmh commented on #7269
After more digging, we found that we had a conflicting version of @storybook/react in one of our own sub-dependencies that was triggering `Issue 1`: `Cannot find module '...web.dom.iterable'`.

React 16.8.6 w/ Storybooks 5.1.9 seems to be working well for us now.

Perhaps you can ignore that part of the problem as that is likely just configuration on our side.

With respect to `Issue 2`, it does s

[2019-07-04 05:19] libetl commented on #7267
If you do that you lose the storysource.
I have a pending PR #7272 to make both work at once (storysource and docs sharing the same source-loader)

[2019-07-04 06:23] claudio-moya opened #7292 "Google Analytics storyMissing undefined"
**Describe the bug**
The plugin trigger an error exception when there are missed stories.

**To Reproduce**
Steps to reproduce the behavior:
1. Use default setup using type react.
2. Enable the addon in `addons.js` (`import '@storybook/addon-google-analytics/register';`)
3. Run the project using the root localhost path (ex.: http://localhost:8080)
4. After the router redirects you to any of the st

[2019-07-04 06:48] shilman opened #7293 "Addon-docs: Add inline option to Story block"
Currently MDX `Story` block is either inline or iframe based on a global setting (or inferred based on which framework is being shown). A few users have requested to make it configurable on a per-story basis, so we should add that option.

[2019-07-04 07:18] Knskan3 commented on #7265
Hi, it was resolved here: https://github.com/theKashey/rewiremock/issues/89

[2019-07-04 07:18] #7265 closed

[2019-07-04 08:33] shilman opened #7304 "Addon-docs: Navigation enhancements"
The current tree nav UI is an approximation of the final

In storybook 'docs' viewMode:
- clicking on a story scrolls docs to that story

In `--docs` mode:
- clicking on a component expands that component and shows its stories
- clicking on a story scrolls docs to that story

[2019-07-04 08:45] smesko85 commented on #7217
@chriscarpenter12 While we wait for this to be fixed, you can change your props to be inline functions.

[code]

And then just invoke the function like `width()`:
[code]
I know it's annoying, but it works.

[2019-07-04 09:04] kirtrainford commented on #4796
Still getting this problem, not using @emotion package
[code]
Addons:
[code]

[2019-07-04 09:25] stjepangolemac commented on #7269
We are experiencing the "Issue 2" too. Any suggestions or timelines?

[2019-07-04 10:57] alexan commented on #7002
can anybody provide feedback for this one?

[2019-07-04 11:05] danielknell commented on #7223
[code]

hacky as fuck but seems to work...?

[2019-07-04 11:14] shilman commented on #7223
Nice @danielknell. Would somebody mind putting that into a PR as `@storybook/addon-docs/jest-loader.js` or the like?! 🙀

[2019-07-04 11:17] danielknell commented on #7223
@shilman it assumes you are using babel-jest, is that a safe assumption? thats also probably not the right way to chain jest transforms either but i couldn't see any other ways in the  docs...

[2019-07-04 12:22] miguelyoobic95 commented on #5866
I am on 5.1.9 and I am still observing this issue - my `brandTitle` is ending up in the `brandImage` `alt` attribute

[2019-07-04 13:07] lonyele opened #7313 "Linting fails after upgrading to the latest commit"
**Describe the bug**
`yarn lint` fails after #6923 is merged

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone` or `git pull` to the latest `next` branch after #6923 is [merged](https://github.com/storybookjs/storybook/commit/b9d2ba26114b1007af6cdd7bd3c3adfeb1d11df4)
2. Setting up project and run `yarn lint`
3. See errors
[code]

**Expected behavior**
`yarn lint` result should be su

[2019-07-04 13:12] slorber commented on #6918
is there someone having an Expo SDK33 setup that works? I can't find any RN example anymore in the repo and by ondevice knobs don't appear :(

[2019-07-04 13:22] Gongreg commented on #6918
Hey @slorber, this is the example: https://github.com/storybookjs/storybook/tree/next/examples-native/crna-kitchen-sink . I hope it works, I am not sure, didn't test it.

[2019-07-04 13:34] owinter86 commented on #6309
@Gongreg The auto open preview wont fix the issue in the end as it just returns as soon as you go to navigator to change story. So I think we will need to look into the logic around the keyboard.

[2019-07-04 13:38] Gongreg commented on #6309
https://github.com/storybookjs/storybook/blob/next/app/react-native/src/preview/components/OnDeviceUI/absolute-positioned-keyboard-aware-view.tsx I wish you luck! :D Touching keyboard part is quite scary since we need to be aware about ios android portrait/landscape mode and rotation.

[2019-07-04 14:25] djetcgw commented on #7219
Same here with Windows 10 and Chrome.

[2019-07-04 14:25] dylanaubrey commented on #6925
This is still an issue on v5.1.9. Although the workaround is valid, when you have a library of hundreds of components, it is not ideal. Is this being looked at?

[2019-07-04 15:10] #7313 closed

[2019-07-04 15:47] dennybiasiolli commented on #7231
@halian-vilela it works with perfectly with your solution

[2019-07-04 15:48] dennybiasiolli commented on #7232
@mateja176 there is a temporary workaround here: https://github.com/storybookjs/storybook/issues/7231#issuecomment-508254388

[2019-07-04 16:49] JabbyPanda commented on #7267
Probably storybook source addon does not work out of the box together with `storiesOf` API from storybook, at least that what I've experiences with Storybook source addon@4.0.13.

Can you try to write story for your component without relying on 'storiesOf` and get back here with results ?

[2019-07-04 17:14] beltranrengifo opened #7314 "Notes addon using markdown - code block with lang breaks"
**Describe the bug**
Using Storybook Vue and Notes addon, if any md has a code block with any lang specified, the app crashes. I'm using markdown-loader for webpack to handle this files.
**To Reproduce**
Steps to reproduce the behavior:
1. Create new Vue CLI3 project && Storybook
2. Install markdown-loader && html-loader && configure Webpack
3. Add Storybook Notes
4. Create a markdown with any cod

[2019-07-04 20:47] darkowic commented on #7087
Probably still a problem mr bot

czw., 4 lip 2019, 22:44 użytkownik stale[bot] <notifications@github.com>
napisał:

[2019-07-04 22:29] shilman commented on #7267
@jabbypanda you should be using the same version of all `@storybook/*` packages if possible. PR #7272 brings the storysource and docs add-ons up to date and dependent on the same source-loader package. Will merge and update once it's stable.

[2019-07-04 23:41] wachunga commented on #6640
Will this support typescript out of the box like [`<Props>` from Docz](https://www.docz.site/docs/built-ins-components#component-props)?

[2019-07-04 23:51] shilman commented on #5866
@miguelyoobic95 are you specifying a custom brandImage? If so, I think that's the designed behavior. If not, maybe this regressed?

[2019-07-04 23:53] shilman commented on #6925
@dylanaubrey Not being looked at AFAIK. Want to take a look?

[2019-07-05 00:04] shilman commented on #6640
@wachunga It already does! You need to use `@storybook/preset-typescript` or set up `react-docgen-typescript-loader` yourself to get this.

[2019-07-05 00:30] shilman opened #7316 "Addon-docs: Add DocsPage automagically"
You shouldn't need to configure DocsPage:

[code]

If this is done automatically when you enable the addon, it will make addon-docs zero config with sensible defaults.

The trick is how to do it without making `@storybook/core` not need to depend on `DocsPage`. Is this something we can achieve with presets? @igor-dv

[2019-07-05 02:07] shilman commented on #6644
@domyen @tmeasday After some aborted exploration in #7302 here is an updated proposal for how to deal with this in a more regular way.

<img width="805" alt="Storybook" src="https://user-images.githubusercontent.com/488689/60650619-114bfc00-9e77-11e9-9247-aecb12aa3de5.png">

First, a little background:

1. Users can define these lightweight "docs-only" docs, which can be co-mingled at any level in

[2019-07-05 05:19] ezpub opened #7318 "[Help Needed] ZoneAwarePromise `(window|global).Promise` has been overwritten"
Hi, I got Storybook successful setup with Angular 7 on a MacOS 10.14.5, but couldn't get Storyshots working.

Below is the error I got, as you can see, my other Jest tests were running fine without any problems, but Storyshots won't generate snapshots from the stories, looks like global["Promise"] was overwritten by `es.promise.js`.

I tried fiddling around with the files in `node_modules/@storybo

[2019-07-05 05:31] Kosmonaft commented on #2962
How to wrap the component from the story as I'm not using a template?
Exmaple:
`storiesOf('Angular component', module)
    .addDecorator(withTheme)
    .add(`Wrapping the component'`, () => ({
        component: SomeComponentFromAngular,
    }));`

[2019-07-05 05:56] ndelangen commented on #5866
if you supply a custom Image AND a custom title, then the title will be placed as the alt-text on the image. This is intended behaviour. I'm unsure what else to expect.

[2019-07-05 05:58] ndelangen commented on #6982
Is this still an issue? Have you been able to upgrade to Storybook 5?

[2019-07-05 08:53] anfriis commented on #6882
I had the same issue when installing these versions of Storybook:
[code]

Solved it by adding `emotion-theming` and `@emotion/core` as dev dependencies as explained in the previous comments:
[code]
I guess these dependencies should be added to Storybook's dependencies.

[2019-07-05 08:55] anfriis commented on #7260
Possible Duplicate of #6882

[2019-07-05 08:59] mykas commented on #6982
Hi! We decided to stay for some time on storybook 4 until we will have time to fix the issues for storybook 5. I am closing this issue as we have a workaround for now.

[2019-07-05 08:59] #6982 closed

[2019-07-05 09:56] rachelMP opened #7320 "Addon-info PropTable Td children undefined"
**Describe the bug**

_Addon-info => components => PropTable => Td_

When the property children is undefined, the _storyshots.test.js_ shows a console.error.
We could have empty Td. Multiple reasons, for example if we are using an external component that it doesn't have a good definition.

**To Reproduce**
Steps to reproduce the behavior:
1. yarn test

**Expected behavior**
Children shouldn't be r

[2019-07-05 10:01] rachelMP commented on #7320
Duplicated https://github.com/storybookjs/storybook/issues/7195

[2019-07-05 10:01] #7320 closed

[2019-07-05 10:09] anvlkv commented on #7270
Fixed by adding this to web.config

  const tschIndex = config.plugins.findIndex(p => p instanceof ForkTsCheckerWebpackPlugin);
  config.plugins.splice(tschIndex, 1);

[2019-07-05 10:24] shilman commented on #5030
Yippee!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.36 containing PR #7190 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-05 10:24] shilman commented on #5391
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.36 containing PR #6793 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-05 10:24] shilman commented on #5572
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.36 containing PR #6265 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-07-05 10:24] shilman commented on #6849
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.36 containing PR #6923 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-05 10:24] shilman commented on #7293
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.36 containing PR #7308 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-05 10:24] shilman commented on #7313
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.36 containing PR #7311 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-07-05 10:24] #5391 closed

[2019-07-05 10:24] #6849 closed

[2019-07-05 10:24] #7293 closed

[2019-07-05 10:33] JabbyPanda commented on #7267
Yes, we follow this rule of thumb across all of our projects.
The project I referred to above is using Storybook 4 (was not yet migrated to Storybook 5)

[2019-07-05 10:51] Hypnosphi commented on #2242
not anymore
https://github.com/storybookjs/storybook/blob/next/lib/core/package.json#L82

[2019-07-05 13:00] VladimirHumeniuk commented on #6998
Any updates about this? 🤔

[2019-07-05 13:04] AviwT commented on #3593
Thanx man!
`raw-loader` v. `3.0.0` also has the same issue

[2019-07-05 13:59] stonecrafter commented on #4202
Can confirm this also isn't working on 5.0.3

[2019-07-05 14:09] stonecrafter commented on #4801
Still an issue, please don't close :D

[2019-07-05 14:29] pocka opened #7324 "Addon-contexts: switching tab causes SB crash"
**Describe the bug**
When using `@storybook/addon-contexts@5.2.0-alpha.xx` with addons which use toolbar (e.g. viewport addon) and create tabs (e.g. notes addon), switching to `Canvas` tab causes page crash.

**To Reproduce**
Steps to reproduce the behavior:
1. `yarn add -D @storybook/addon-contexts@5.2.0-alpha.36 @storybook/addon-viewport@5.2.0-alpha.36 @storybook/addon-notes@5.2.0-alpha.36` then

[2019-07-05 15:22] christophehurpeau commented on #4487
I can't see how we could fix this in telejson, what about transorming undefined to 'undefined' before stringify ?

[2019-07-05 15:38] lifeiscontent commented on #4487
honestly, I don't think telejson is the right starting point for this work, what about a reviver and replacer for the parse/stringify for the knobs?

[2019-07-05 19:23] chriscarpenter12 commented on #6611
@blemaire I too would like to see your solution.

[2019-07-05 19:48] danrha commented on #6675
I submitted a pull request several days ago which got approved, so the fix should be up on an upcoming version. @andyearnshaw 's suggestion to prevent re-render by returning false was implemented.

[2019-07-05 19:55] backbone87 commented on #4475
sadly i cant contribute too much, to this issue, since all my projects are done with vue-cli 3+ and vue-cli-plugin-storybook. the latter doesnt use the bundled preset in @storybook/vue as far as i can tell and instead merges the webpack config from vue-cli with the one from storybook and it "just works".

[2019-07-05 19:58] pksunkara commented on #4475
😊. There are still some issues with it. I am currently working on contributing to @vue/cli v4 release. Will get back to the storybook plugin after that is done. Thanks for the help you provided in the meanwhile.

[2019-07-05 20:01] backbone87 commented on #4475
we should definitely update the storybook vue docs to recommend the usage of vue-cli-plugin-storybook as the "default storybook intergration" for vue projects. there is just too much going on in the webpack config to make a foolproof integration guide. ofc for non vue-cli 3+ users this is a little bit annoying

[2019-07-05 20:14] ndelangen commented on #2242
Hmm..

Still not vulnerability:
We use the `.mkdir` & `.cp` commands in user executed code:
https://github.com/storybookjs/storybook/blob/9835ab9d7982b3125a96582577b5b96dd2fee0d5/lib/core/src/server/build-static.js#L170

We do not use `.exec` in this context.

[2019-07-05 20:32] wbern commented on #244
I'd like to chime in to say that I wouldn't mind all my categories being expanded from the start either.

[2019-07-05 22:03] danielelder commented on #7004
Hi, is there any work arounds for this? I can try and give the code a look but not sure how far I’ll get as time is limited.

[2019-07-05 22:09] johnsocf opened #7325 "Storybook in React app isn't loading emotion styles."
**Describe the bug**
Storybook in React app isn't loading emotion styles.

**To Reproduce**
Steps to reproduce the behavior:
1.  adding storybook to existing react app which uses emotion.
2. set up webpack.config.js in ./storybook folder with code snippet below.  Set up tsconfig.json with subsequent code snippet.
3.  npm run storybook

**Expected behavior**
I expect that storybook will load my sto

[2019-07-05 23:28] Hypnosphi commented on #2242
BTW, is there any reason not to use builtin `fs` module for that?

[2019-07-05 23:31] Hypnosphi commented on #4487
@lifeiscontent what makes you think so?

[2019-07-06 03:04] Jack-Works commented on #6093
remove node_modules solve my problem

[2019-07-06 07:19] shilman commented on #4475
@backbone87 @pksunkara I'm fine as long as we have great documentation and support for the latest and greatest. Older versions can be in the documentation or even documented in issues.  really feels like storybook for Vue could use a little love ❤️

[2019-07-06 09:34] shilman commented on #7325
what version of emotion are you using?

[2019-07-06 09:45] nnaynnay opened #7326 "[Need help] Angular dependency can't resolve"
**Describe the bug**
Trying to create story of a simple Angular component, with a injected service. Result in following error
`Can't resolve all parameters for ButtonComponent: (?).`

**To Reproduce**
See below code snippets

**Code snippets**
button.component.ts
[code]
app.service.ts
[code]

stories.ts
[code]

[2019-07-06 10:50] knight-bubble commented on #7004
@danielduan I will try to create a repo to reproduce this issue.

[2019-07-06 11:38] brenzy commented on #7004
@danielduan My guess was that this was broken when zone.js was removed from Storybook with this issue:   https://github.com/storybookjs/storybook/issues/4641
I'm pretty sure I can set up a repository to recreate as well, although I may not get to it for a few days.

[2019-07-06 18:32] danielknell commented on #7223
having updated from alpha.29 to alpha.35 this has stopped working again...

[2019-07-06 18:32] ryanbas21 opened #7328 "storyshots breaks when using addon-actions"
**Describe the bug**
When using addon-actions, jest breaks due to regenerator runtime not being found. I have installed regenerator runtime and included it in my babel config under the test env.

if I uncomment out addon-actions from my ./addons.js, everything works.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expect

[2019-07-06 21:55] z00m1n commented on #4716
Doesn't seem to work here, same issue as before. Maybe I'm doing something wrong about my setup ?

1. uninstall 5.1.9 npm package versions
[code]
2. install `@next` versions
[code]
3. verify installed package versions
[code]
4. code in `.../storybook/index.js`:
[code]
5. in first Terminal window, run storybook server:
[code]
(curious question BTW ;-))
6. in second Terminal window, run my app
[code

[2019-07-06 22:25] Gongreg commented on #4716
@z00m1n I think your issie is that you are running your code through tunnel in expo.

[2019-07-06 22:44] shilman commented on #7223
@danielknell I think we could require users to use babel-jest if that's what's needed to make it work?

[2019-07-06 22:57] danielknell commented on #7223
i looked into it more and it seems that is how other people chain transforms, and there was some unneeded stuff in there, so i've updated the comment and wrapped it up in a pr

[2019-07-06 23:38] emilio-martinez commented on #5030
#7180 ready for review. Rebased on top of `next@HEAD` at the time of this writing.

[2019-07-07 06:19] #6067 closed

[2019-07-07 08:05] JeffGuKang commented on #7017
It works well with

[code]

[2019-07-07 08:47] shilman commented on #4716
@z00m1n also please upgrade `@storybook/*` to `5.2.0-alpha.36` across the board

[2019-07-07 08:54] shilman commented on #7099
Maybe open an issue on the `storybook-state` repo?

[2019-07-08 02:40] #7169 closed

[2019-07-08 05:46] shilman commented on #6664
Hurrah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.37 containing PR #7257 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-08 05:46] shilman commented on #6675
Gadzooks!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.37 containing PR #7197 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-08 05:46] shilman commented on #6849
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.37 containing PR #7333 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-07-08 05:46] shilman commented on #7087
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.37 containing PR #7315 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-08 05:46] shilman commented on #7169
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.37 containing PR #7319 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-07-08 05:46] #6675 closed

[2019-07-08 05:46] #7087 closed

[2019-07-08 06:19] Gongreg commented on #6882
@benoitdion, could you look into it?

[2019-07-08 06:28] Kosmonaft commented on #7326
I'm having the exact same issue. I found similar question on [stackoverflow](https://stackoverflow.com/questions/56868391/storybook-with-using-injection-in-angular-module), but it's unanswered.
Personally I believe the problem is how the service are provided through `providedIn`

[2019-07-08 06:30] brendonco opened #7335 "Can't load font files using custom webpack"
Cant load font files using custom webpack.

Font files are stored at: ```src/assets/fonts/[.eot, .ttf, .woff, .woff2]```

custom webpack (even using the comment out webpack config below doesnt help):
[code]

Storybook version:
[code]

Please advise.

[2019-07-08 07:11] shilman commented on #7335
@brendonco First suggestion is to run storybook with `--debug-webpack` and see whether there are collisions for those types (I expect there are). If so, you'll probably need to remove the conflicting rules.

[2019-07-08 07:20] ashnamuh commented on #6998
I have a same issue on

[code]

[2019-07-08 07:44] mrmckeb commented on #7201
Hi @jamesg1, the bad news is that the alternative is that I (or someone else) needs to fix this haha.

As a temporary workaround, you can add a custom Webpack config for Storybook and and add this directory to the paths handled by the current `babel-loader`.

Let me know if you need help doing that.

[2019-07-08 09:31] QingLeiLi commented on #602
Any progress about this?

[2019-07-08 12:22] IanVS commented on #602
I'm hopeful that this will give us what we are looking for: https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a

[2019-07-08 12:41] QingLeiLi commented on #602
Thanks for the quick reply, I will take a look at the article. Also thanks for the hard work what you are doing on the SB.

[2019-07-08 13:13] shilman commented on #602
@IanVS @QingLeiLi If you want to try it out, here's a more recent guide: https://docs.google.com/document/d/1un6YX7xDKEKl5-MVb-egnOYN8dynb5Hf7mq0hipk8JE/edit?usp=sharing

Currently in alpha, hustling to get it into beta this week 🤞

[2019-07-08 13:13] ndelangen commented on #5030
Thanks @emilio-martinez !

[2019-07-08 13:20] gpresland commented on #145
I ran into this issue when I copied my `.storybook` folder from an existing repo to a new one, before installing Storybook with `npx -p @storybook/cli sb init`. If you run `npx -p @storybook/cli sb init` and already contain a `.storybook` folder, it seems Storybook will skip some setup.

The solution was to simply delete my `.storybook` folder and run `npx -p @storybook/cli sb init -f` (with a `-f

[2019-07-08 13:40] Humberd commented on #3258
The config that worked for me was:

[code]

[2019-07-08 14:16] Laslo89 commented on #6204
Make sure to delete your node_modules at first.
[code]

[2019-07-08 15:48] sw-yx commented on #6342
hey @shilman! great work! it would be good to clarify if this applies for just components written in tsx or also for stories.

also outline when transpileManager is useful vs not

[2019-07-08 16:19] z00m1n commented on #4716
@Gongreg: The stories do show up in the left pane and are selected as I select them in the Storybook UI in the Simulator, so AFAICT, connectivity is established. The main pane remains _Welcome to storybook_; in fact, I have actually never seen the main pane show any other contents.
@shilman: I did:

[code]

Double-checked, refreshed, restarted, reviewed. The issue persists.

[2019-07-08 16:33] rembrandtreyes commented on #7244
I'll tackle this.

[2019-07-08 16:39] shilman opened #7339 "Source-Loader: Use real decorators for CSF"
When source-loader instruments module story format, it inserts a function `addSourceDecorator` around each story export. This makes the code hard to read and causes problems when reusing stories, e.g. in `DocsPage.stories.tsx`. Instead this annotation should be implemented as a proper decorator on the default export. The code resulting code will be much easier to read and also more correct. E.g. D

[2019-07-08 16:42] z00m1n commented on #4716
(DOH!) should have thought of that earlier: The screenshot below shows what I get in the browser dev tools console for the StoryBook page. No idea what any of that means nor if it's related, but maybe it helps. No further output, no matter what I click, just the same error repeating:

![20190708-184053 Screenshot](https://user-images.githubusercontent.com/662044/60827228-03b4b000-a1b0-11e9-9008-b0

[2019-07-08 17:21] QingLeiLi commented on #602
Nine work! I will give it a try soon.

[2019-07-08 18:44] domyen commented on #6644
This looks awesome! Comments inline:

I'm having some trouble following this. I'm thinking something along the lines of, please correct if I have it wrong:

- Clicking on a docs-only MDX file should take you to those docs. No toolbar.

If you have a component that uses MDX to create stories:
- Canvas tab active: Clicking on the story should take you to the story.
- Docs tab active: Clicking on the

[2019-07-08 18:49] shilman commented on #5030
Ta-da!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.38 containing PR #7180 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-08 18:49] shilman commented on #7192
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.38 containing PR #7272 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-08 18:49] #7192 closed

[2019-07-08 19:33] lifeiscontent commented on #4487
Well, I guess it would depend on if telejson is only being used for knobs. Considering this is a requirement of just knobs currently it makes sense that it should live there, unless telejson is purposely built for knobs. If we later find we want the same functionality across another part of the platform it should then be revisited.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-08 19:49] kevinsar commented on #1225
@casvil I can confirm that I am still seeing this bug in storybook 5.x.x, did you happen to come up with a fix?

[2019-07-08 20:20] auderer opened #7340 "Support for the experimental syntax 'optionalChaining' isn't currently enabled"
When trying to run storybook using `@babel/plugin-proposal-optional-chaining`, I get this error: `Support for the experimental syntax 'optionalChaining' isn't currently enabled`

However, I have the plugin installed and set up in my `.storybook/.babelrc`... A different plugin, `babel-plugin-root-import` is working great, but for some reason its acting like I don't have the optional chaining plugin

[2019-07-08 21:01] reduxdj commented on #1819
We had a similar problem, and rather than supply a whole config, we opted with having our webpack config look like the following. Also, what's confusing is that storybook has its own webpack, and it was messing  with stuff

[code]

[2019-07-09 00:38] domyen commented on #6644
@shilman and I discussed this in person.

Agreed that the only changes needed are:
- Clicking on a docs-only MDX file should take you to those docs. No toolbar.
- "Primary" story takes the top position in the tree view and clicking on it takes you to the top of the page in Docs

[2019-07-09 03:17] brendonco commented on #7335
@shilman Thanks.  Indeed there is. I tried to remove the conflict rules but still the fonts doesnt get loaded.

Remove below rules.
[code]

[2019-07-09 04:57] chris-dura commented on #7292
I’m experiencing the same thing for `@storybook/html`

[2019-07-09 05:52] shilman opened #7344 "Addon-docs: DocsPage multi-framework support"
Umbrella issue to track the status of DocsPage support for all Storybook frameworks:

FIXME

[2019-07-09 06:03] casvil commented on #1225
hey @kevinsar , it was merged in https://github.com/storybookjs/storybook/pull/6361 but removed later in https://github.com/storybookjs/storybook/pull/6862. Sad

[2019-07-09 07:00] kroeder opened #7348 "Wrong type for select(...) in addon-knobs"
**Describe the bug**
Prop-Options are typed wrong IMO
[code]
knobs now only accept a key/value pair instead of e.g. `string[]`

My story with
[code]
now fails with
[code]

**Expected behavior**
No breaking change

**Suggestion**
Either make it `unknown`, `any` or add a generic
[code]

**System:**
 - Framework: [angular]
 - Addons: [addon-knobs]
 - Version: [e.g. 5.2.0-alpha.38]

cc @emilio-martine

[2019-07-09 07:40] kroeder opened #7355 "Fresh Angular + Storybook alpha.38 installation throws warnings"
**To Reproduce**
Steps to reproduce the behavior:
1. Create a fresh angular project (8.2)
2. `sb init` alpha.38
3. Start storybook

**Expected behavior**
Should work without warnings

**Throws warnings to console**
[code]

**System:**
 - Browser: [chrome]
 - Framework: [angular]
 - Version: [5.2.0-alpha.38]

[2019-07-09 08:04] Dozalex commented on #6014
In my case it was due to
`data: PropTypes.arrayOf(PropTypes.shape())`

Solved by
`data: PropTypes.arrayOf(PropTypes.object)`

[2019-07-09 10:04] shiftgeist commented on #5684
@magisters-org

This works but it outputs:
[code]

[2019-07-09 11:00] emilio-martinez commented on #7348
@kroeder got a PR for you to review

[2019-07-09 13:18] seraj commented on #7246
is there any update here? i have same problem

[2019-07-09 13:24] backbone87 commented on #5030
once https://github.com/storybookjs/storybook/pull/7323 is merged, i will start the vue migration.

[2019-07-09 13:34] backbone87 commented on #6726
how does your component access the store in an app (not storybook)? also via `window.store` or via `this.$store` (and store is injected during component mount: `new Vue({ store: window.store, /* ... */ }).mount('#target');`)

[2019-07-09 13:39] shilman commented on #5684
@shiftgeist here's more about the deprecation https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#Deprecate-webpack-extend-mode

[2019-07-09 13:48] backbone87 commented on #6726
you could try the following decorator:
[code]

[2019-07-09 13:58] backbone87 commented on #6548
using `$root` is considered bad practice exactly for this reason, because your component can only be used in an environment (root) you have configuration control over. its better to use provide/inject (in your app, your root comp can provide and in storybook a decorator could provide) or a vuex store

[2019-07-09 14:20] n3utrino commented on #7069
As a workaround, add

`"skipLibCheck": true`

to your `compilerOptions`

[2019-07-09 14:58] stearruda commented on #6488
I have the same question regarding that. If you upgrade only the `@storybook/addon-info` and not the entire storybook is it gonna break? This was one of main reasons I didn't do it since I read problems on building.
I'm currently using the `5.0.11` version.
Did you find any solution @kunalnagar ?

[2019-07-09 15:21] miguelyoobic95 commented on #5866
@shilman  I am specifying a custom brandImage but I would like to add some text underneath, in this case the version number of the app. Is there anywhere to separate these two ? seems like a valid use case for me - a subtitle could be an alternative possibility maybe

[2019-07-09 15:54] gsaada opened #7360 "Load svg using vue-svg-loader not working"
.storybook/webpack.config.js
[code]

index.vue
[code]

error:
`
[Vue warn]: Invalid Component definition: static/media/test-icon.d9ed9e17.svg
`

[2019-07-09 16:12] auderer commented on #6479
@acnebs could you share your solution? I'm trying to get the same thing working on my end with @babel/plugin-proposal-optional-chaining.

[2019-07-09 16:51] keshavkaul opened #7361 "ReactNative: Error: Unable to resolve module `emotion-theming`"
**Describe the bug**
Cannot build the app because of missing dependency of `emotion-theming` in `@storybook/react-native`. I cannot find `emotion-theming` package directly under root `node_modules` folder but I see that it is present in `node_modules` folder of `@storybook/ui`

Actual error -
[code]

**Additional context**
I am using Yarn as my package manager. This seems like a packager issue bec

[2019-07-09 17:18] keshavkaul commented on #7361
Quick fixed the issue by adding `emotion-theming@^10.0.10` and `@emotion/core@^10.0.10` to my project's dev dependencies. Maybe this needs to be added as dev dependencies in `@storybook/react-native` for actually solving the root cause.

[2019-07-09 19:13] kevinSuttle commented on #6713
I noticed the `` [environment variable](https://storybook.js.org/docs/configurations/env-vars/#build-time-environment-variables) could be used at build time, but alas, the theme still is not applied when statically exporting.

[2019-07-09 19:44] rembrandtreyes commented on #7226
@ArmandoAA Could you share the files that you used to create the story and the components. That error seems to be more on the side of exporting/importing the files rather than storybook itself.

[2019-07-09 19:47] MasterAM commented on #6882
@benoitdion I think that there are 2 distinct issues here:

- Unmet peer dependencies, solved by explicitly adding them to the libraries in your PR.
- Error when running with a different `projectRoot`, as described in the original post. I have encountered this issue myself and would really prefer to have storybook as a separate entry point, and avoid mixing it with my production application's code

[2019-07-09 19:58] rembrandtreyes commented on #7010
I ran into this issue as well. It seems like the issue rises up when the story at the location of the issue is "broken." Could you paste your code for your `Banners.stories.*` I'm curious to see if there is something that is missing from `search trust banner`

[2019-07-09 20:01] CrashyBang commented on #6726
Hey @backbone87,

Components access the store via `this.$store` and yes when I mount them I essentially do it how you have described with `window.store`.

I will try the suggested decorator as soon as possible! Thanks!

[2019-07-09 21:47] web-padawan commented on #5910
Can this bot be instructed to not treat the issue labelled as "bug" as inactive? 🤔

[2019-07-10 00:19] #6335 closed

[2019-07-10 02:41] shilman commented on #5910
@web-padawan yes if you add the label "in progress". but AFAIK is not in progress.

[2019-07-10 02:48] shilman commented on #6488
@stearruda Generally you should be using the same version of `@storybook/*` if you can. In practice you can probably use 5.0.x and 5.1.x packages together since they are the same major semver version. But we don't officially support that and if you can possibly upgrade all your `@storybook/*` packages together, I'd highly recommend it.

[2019-07-10 02:49] shilman commented on #5866
@miguelyoobic95 I believe the intent is that you should include the text in your brandImage. cc @domyen who specified this feature.

[2019-07-10 02:51] shilman commented on #7360
@gsaada Run storybook with `--debug-webpack` webpack to see the entire webpack config. It's almost certainly the case that the rules you're adding are conflicting with existing rules added by storybook. The solution is probably to remove those conflicting rules.

[2019-07-10 03:00] shilman commented on #5030
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.39 containing PR #7054 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-10 03:00] shilman commented on #7244
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.39 containing PR #7342 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-10 03:00] shilman commented on #7348
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.39 containing PR #7356 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-10 06:00] thejuan commented on #6479
Same setup. I'm trying to upgrade to CRA3 and my storybook webpack.config.js that was adding jsx-control-statements is no longer working.

[2019-07-10 06:02] jacklimwenjie opened #7365 "Addon info display possible values for propTypes of oneOf"
**Is your feature request related to a problem? Please describe.**
The Storybook addon `addon-info` displays `oneOf` propType as `other` in the auto-generated PropType Table.

This is strange because this should already been [fixed in v3.3.14](https://github.com/storybookjs/storybook/issues/790#issuecomment-367326481).

**Describe the solution you'd like**
In the PropType Table, it should at least

[2019-07-10 07:10] kunalnagar commented on #6488
@stearruda nope, still stuck. Looks like I'll have to give @shilman's solution a shot where we need to update all the packages together.

[2019-07-10 07:14] cassiewang01 commented on #2708
It still does not work for me with docgen @niecnasowa

[2019-07-10 07:25] rajkeshwar commented on #6998
I have same issue on

[code]

[2019-07-10 07:38] shilman opened #7366 "Addon-docs: Fix default hierarchy separator"
[code]

Ideally should be DRY. If too much work, at least should be consistently `/\/|\./`:

https://github.com/storybookjs/storybook/blob/next/addons/docs/src/blocks/DocsPage.tsx#L102-L103

https://github.com/storybookjs/storybook/blob/next/lib/api/src/modules/stories.ts#L191

[2019-07-10 09:26] lalli-oni commented on #7268
This seems to be down to escape-HTML indiscriminately escaping inputs.

For now one can use the work-arounds listed here: https://github.com/storybookjs/storybook/issues/4445

[2019-07-10 09:56] stearruda commented on #6488
Tks @shilman and @kunalnagar for the replies!
I've updated the same packages as @kunalnagar (plus the `@storybook/addon-knobs`) to `5.1.9` and it worked like a charm!

[2019-07-10 10:24] jackocnr opened #7367 "Add options parameter to enable background grid by default"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I'd like a new [Options Parameter](https://storybook.js.org/docs/configurations/options-parameter/) to control the initial setting of the "Toggle Background Grid" setting, e.g. `showBackgroundGrid`, so that I can enable it by default.

**Describe alternatives you've considered**
According t

[2019-07-10 11:58] Fonze commented on #2962
@Kosmonaft I played around with the implementations above a bit and ended up with this kind of rough version for Angular components:

[code]

And now I can create a story without template like this:
[code]

Not sure if it works in every situation (do different browsers break something? Tested it with Chrome and Firefox). It's also a bit cheating as your story ultimately ends up with just a templat

[2019-07-10 12:05] Ludevik commented on #4378
@MaximSagan i struggled with same issue. Wondered why my storybook behaves strange until i added `defaultProject` to `angular.json`. When the storybook failed to load angular-cli webpack config then i had multiple issues, like not able to import components from my shared library, not able to use `.less` files, etc. Adding project from `angular.json` as a parameter for storybook would help in my ca

[2019-07-10 12:24] edsalter commented on #3493
Would love to see a fix here! <3

[2019-07-10 13:24] shilman commented on #5030
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.40 containing PR #6570 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-10 13:24] shilman commented on #6741
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.40 containing PR #7241 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-10 13:24] shilman commented on #7069
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.40 containing PR #7072 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-10 13:24] #6741 closed

[2019-07-10 13:24] #7069 closed

[2019-07-10 13:33] stearruda commented on #6981
I think this could be related to this issue.
Is there anyway to add the component when the `Info` Addon is not inline?

[2019-07-10 14:51] sioanis commented on #7160
issue with `react-sortable-hoc`

[2019-07-10 14:51] #7160 closed

[2019-07-10 15:12] jerlam06 commented on #5575
I have got the very same issue.

[2019-07-10 15:15] dmigliorisi-we commented on #7097
Any ideas if someone is working on fixing this?

[2019-07-10 15:36] alasdairhurst commented on #6749
This is the error i'm getting too.

[2019-07-10 15:53] acnebs commented on #6479
@auderer @thejuan

Fair warning, my solution is far from elegant, but it works. [Here's a gist.](https://gist.github.com/acnebs/17518ebd55ab7408311833095ce1542b)

[2019-07-10 20:10] #6882 closed

[2019-07-11 00:07] shilman opened #7378 "Addon-docs: Remove "primary" story"
There was an experimental `{ primary: true}` to promote a story to the "primary" story for a component in docs. If primary wasn't set, Docs simply used the first story.

Let's remove primary to simplify the API, making the first story in the document is the first story for the component.

[2019-07-11 00:13] shilman commented on #6615
Crikey!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.41 containing PR #6886 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-11 00:13] shilman commented on #6882
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.41 containing PR #7362 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-07-11 00:13] #6615 closed

[2019-07-11 00:51] backbone87 opened #7379 "@storybook/theming causes type errors during tsc"
**Describe the bug**
Ok this is a fun one. Basically tsc complains about missing react typings, when trying to use `create` of `@storybook/theming`.
This is because:
- `@storybook/theming` imports `@emotion/*`
- which in turn imports `react`
- which in turn requires `@types/react`
- which would have to be installed manually
- which would then declare global [`JSX` namespace](https://github.com/Def

[2019-07-11 07:28] #6870 closed

[2019-07-11 07:54] craigtaub commented on #7150
@Armanio @leoyli any chance someone could have a quick look at my question please? Would really appreciate it.

[2019-07-11 08:28] n44ps commented on #6799
Hey ! Sorry for the long time without any response. For now I'm still having the same issue, trying some stuff but still no good results. I'll keep you posted when I find anything :)

[2019-07-11 08:47] gsaada commented on #7360
@shilman Thank you for your response.
Here's the output after I add this flag.
As you can see there are 2 configs. I don't see any conflict.

[code]

[2019-07-11 08:51] Dammmien commented on #7033
Do we have any update or workaround on the topic ?
I have the same issue by upgrading to react-scripts 3.0.1.

[2019-07-11 09:05] ndelangen commented on #6308
@jonrimmer could you have a look at this repro?
https://github.com/storybookjs/storybook/issues/6308#issuecomment-482794031

[2019-07-11 09:43] ndelangen commented on #7379
@backbone87 try:
[code]

Does that solve the issue?

[2019-07-11 10:46] miguelyoobic95 commented on #5866
@shilman what if that text is dynamic i.e. a version number. I cannot include it as part of the brandImage (since I would have to regenerate the asset everytime) but I still think it would be valuable information to add as a subtitle for instance. Could you point me to where the `brandImage` code is ? I can help implement a subtitle if needed :)

[2019-07-11 10:52] backbone87 commented on #7379
@ndelangen no, see section "solution" in the opening post

[2019-07-11 11:59] adamdoyle commented on #7355
I'm seeing this with a polymer storybook as well.   (and probably other app types?)

[2019-07-11 12:09] adamdoyle commented on #7263
I've been having to `patch-package` my local `@storybook/api` for awhile now to deal with this.

for version `5.2.0-alpha.40` of `@storybook/api`:
[code]

(and obviously making sure to install `whatwg-fetch` if it's not already there)

Basically I'm adding a polyfill for "fetch" prior to where it's used in versions.js.

It would be nice if there existed the ability to add a 'polyfills.js` to the `

[2019-07-11 12:19] Evalon commented on #7348
Still getting wrong type if using with "as const".
For example:
`
const color = ['red', 'blue'] as const
<Button
  color={select('color', color, 'red'))}
/>
`
Actual result:
TS2345: Argument of type 'readonly ["red", "blue"]' is not assignable to parameter of type 'SelectTypeOptionsProp'.
  Type 'readonly ["red", "blue"]' is not assignable to type 'Record<string, SelectTypeKnobValue>'.
    Index s

[2019-07-11 12:23] Travilioni commented on #6998
Only deactivating these addons, resolves issue.
unfortunately we need them.
"@storybook/addon-a11y": "5.1.9",
"@storybook/addon-actions": "5.1.9",
"@storybook/addon-knobs": "5.1.9",

[2019-07-11 12:24] Travilioni commented on #6998
Only deactivating these addons, resolves issue.
unfortunately we need them.
`"@storybook/addon-a11y": "5.1.9",
"@storybook/addon-actions": "5.1.9",
"@storybook/addon-knobs": "5.1.9",`

[2019-07-11 12:32] #6837 closed

[2019-07-11 12:38] uxitten opened #7386 "Error spawn cmd ENOENT"
After run Storybook, I see an error

**To Reproduce**
Steps to reproduce the behavior:
1- Run command ```start-storybook -p 6006```
2- See an error

**Screenshots**
![image](https://user-images.githubusercontent.com/1549069/61051650-c5610000-a3fe-11e9-8df6-2b4b4d3b6531.png)

**Code snippets**
[code]

**System:**
 - OS: Windows10
 - Device: PC
 - Browser: Chrome
 - Framework: react (create-react-ap

[2019-07-11 13:14] centerwork80 opened #7387 "Duplicate Stories loaded for old .tsx story(with added stories.mdx import) and new stories.mdx file added with { docs: mdx.parameters.docs }"
**Describe the bug**
Duplicate stories are being loaded for the mdx files that are imported in to old stories with { docs: mdx.parameters.docs }.

**To Reproduce**
Steps to reproduce the behavior:
1. in a manual setup of storybooks
2. config.js:
[code]

3. webpack.congig.js
[code]

4. AddressDisplay.stories.tsx
[code]

5. AddressDisplay.stories.mdx
[code]

**Expected behavior**
Only one story shou

[2019-07-11 13:15] adamdoyle opened #7388 "Addon-Docs: source-loader has non-ES5-friendly template literals in output"
The output file `@storybook/source-loader/dist/events.js` is below:

_(comment mine)_
[code]

Consequently, in IE11, the stories don't load and it logs this error:
[code]

Line `201390:24` is the first backtick in `` `${ADDON_ID}/set` ``

**System:**
 - Browser: IE11
 - Framework: polymer
 - Version:  5.2.0-alpha.40

@libetl @shilman

[2019-07-11 13:21] ndelangen commented on #5866
@miguelyoobic95 after monoconfig is done, themes will gain the ability to have overriding react components.

Making your use-case possible.

But this is some time away. If you'd like, I could show you how far along monoconfig is, how it works, and possibly find a way for you to help?

[2019-07-11 13:54] centerwork80 opened #7389 "Stories Type error on 5.2.0-alpha.39 and 40 during build"
  **Describe the bug**
Upon upgrading to 5.2.0-alpha.39 the Story Type form @storybook/react started throwing a type error on build. 
*ERROR ON BUILD:* ERR! => Failed to build the preview
ERR! [at-loader] ./stories/api/UseRequest.stories.tsx:5:7
ERR!     TS2322: Type 'StoryApi<ReactElement<unknown, string | ((props: any) => ReactElement<any, string | ... | (new (props: any) => Component<any, any,

[2019-07-11 13:58] adamdoyle commented on #7388
There's also some arrow functions, etc. throughout.

Haven't seen that with the other `@storybook`-scoped packages.

I notice that [tsconfig.json](https://github.com/storybookjs/storybook/blob/32d3d476c436134803071a3aec1a3cfcf01ff0b7/tsconfig.json#L15) sets its target to `es5` and that [.babelrc.js](https://github.com/storybookjs/storybook/blob/32d3d476c436134803071a3aec1a3cfcf01ff0b7/.babelrc.js#

[2019-07-11 14:44] adamdoyle commented on #7355
[This commit](https://github.com/storybookjs/storybook/commit/ac0a42bec117cce3197187d440e782117905dfc9#diff-7e3255d9223f6e41b28eeb7f22fea5af) ("FIX linting") appears to be the culprit.  If I remove line 552, then the `options.isToolshown` error goes away.  The other errors seem to have related changes in the same commit.

If the commit is just changes for the linter, it might be easiest to just re

[2019-07-11 15:15] adamdoyle commented on #7355
Looks like removing the following lines gets rid of the errors:

- Invalid prop `options.isToolshown`:  [lib/ui/src/components/layout/container.js:552](https://github.com/storybookjs/storybook/blob/ac0a42bec117cce3197187d440e782117905dfc9/lib/ui/src/components/layout/container.js#L552)
- Invalid prop `Filter`:  [lib/ui/src/components/sidebar/treeview/treeview.js:395](https://github.com/storybookjs

[2019-07-11 15:25] adamdoyle commented on #7355
I don't have any React experience; else I'd investigate the type incompatibilities myself.

[2019-07-11 16:16] adamdoyle commented on #7355
In the meantime, one can [patch-package](https://www.npmjs.com/package/patch-package) a local install with this patch for `@storybook/ui@5.2.0-alpha.40`:

`@storybook+ui+5.2.0-alpha.40.patch`:
[code]

[2019-07-11 17:33] Hypnosphi commented on #4487
@lifeiscontent [telejson](https://github.com/storybookjs/telejson) states in the repo description that it supports `undefined` while in fact it doesn't. So it's not some specific requirement of knobs

[2019-07-11 17:37] byilagan commented on #4691
Wrapping the story in a div worked for me

[code]

[2019-07-11 21:28] gsaran commented on #7099
Upgrading to storybook v5.1.9 and @dump247/storybook-state to v1.6.1 fixed the issue.

[2019-07-11 21:28] #7099 closed

[2019-07-11 22:00] joyfulelement commented on #7246
@brennancheung thanks for the workaround, but I still run into the same issue even _without_ the `exclude` option for css rules as follow, did you had to change anything else?

[code]

[2019-07-11 22:26] stereodenis opened #7390 "Cannot read property 'displayName' of undefined"
**Describe the bug**
[code]
**System:**
 - OS: MacOS
 - Framework: React Native 0.59.10
 - Addons: Storyshots
 - Version:
"@storybook/addon-storyshots": "5.1.9"
"@storybook/react-native": "5.1.9"

[2019-07-12 01:04] jamesg1 commented on #7201
Thanks for your help @mrmckeb I managed to get it working. Added `babel-loader@8.0.5` as a devDependency which is the same currently as `"react-scripts": "3.0.1"`, changed `config.js` to `config.tsx` and added a custom `.storybook/webpack.config.js` from https://storybook.js.org/docs/configurations/typescript-config/#setting-up-typescript-to-work-with-storybook-1.
[code]
I also updated `tsconfig.j

[2019-07-12 02:42] shilman commented on #7092
@rwieruch In a separate issue we discovered the `source-loader` (the successor to `addon-storysource/loader`) was code that caused the Terser plugin to blow up.

Does the problem go away when you disable storysource?

[2019-07-12 03:51] shilman commented on #5030
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.42 containing PR #7338 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-12 03:51] shilman commented on #7289
w00t!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.42 containing PR #7290 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-12 03:51] shilman commented on #7366
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.42 containing PR #7382 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-12 03:51] shilman commented on #7378
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.42 containing PR #7383 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-12 03:51] #7289 closed

[2019-07-12 03:51] #7366 closed

[2019-07-12 03:51] #7378 closed

[2019-07-12 04:18] jamesg1 commented on #5803
@jwm0 Thanks for raising, any alternatives to storybook-addon-styled-component-theme?

[2019-07-12 04:35] crobinson42 commented on #3982
how did you guys solve this? I'm having an issue with the same problem and .scss files now

[2019-07-12 04:45] crobinson42 commented on #3982
I fixed with custom webpack
[code]

[2019-07-12 06:20] claudio-moya commented on #6339
Hi @shilman I'm using v5.1.9 and this feature is not working with the new `addParameters` function, actually there is no 'title' option listed in the docs as well.

https://storybook.js.org/docs/configurations/options-parameter/

I checked the previous releases and this feature should be fixed on v5.0.0-alpha.7  but it still broken (https://github.com/storybookjs/storybook/issues/866).

Can you ch

[2019-07-12 07:23] libetl commented on #7388
Well source-loader is almost nodejs only. We need to rethink the way storysource uses the source-loader to completely get rid of it in the frontend

[2019-07-12 07:23] libetl commented on #7388
Unfortunately it seems that this task is more urgent than expected. Michael ? @shilman

[2019-07-12 07:28] rwieruch commented on #7092
@shilman I didn't run into the problem anymore, because I extracted a larger part of the UI library into a separate library (Icons). This fixed the issue for me. Unfortunately I cannot revert to an older version at the moment to verify source-loader for causing the issue.

[2019-07-12 08:45] shilman commented on #7388
@libetl I think migrating Storysource to use parameters & removing decorators from source-loader is important from a code hygiene standpoint. I'm hoping this issue can get solved in the process.

[2019-07-12 09:24] shilman commented on #7263
@adamdoyle Mind opening a PR to add that polyfill to Storybook rather than just patching it locally? The Storybook UI ("manager") should support IE11, and whatever shows up in the iframe ("preview") the user already has control over AFAIK through config.js.

[2019-07-12 09:26] shilman commented on #7360
@gsaada I see a conflict:

[code]

[2019-07-12 09:44] RWOverdijk opened #7394 "ReactNative addon knobs: Events.REGISTER_SUBSCRIPTION is deprecated"
**Describe the bug**

Not sure if this is something that still needs to be done before the stable release but on master, I'm getting the following:

This is with the basic import on register and the .use call:

**addons.js**

[code]

**myStories.js**

[code]

**To Reproduce**
Setup storybook on master.

**Expected behavior**
No notice

**System:**
 - OS: iOS
 - Device: iPhoneX
 - Framework: React-

[2019-07-12 09:48] RWOverdijk commented on #7394
Actually, this is fixed on @next for the addon. My bad.

[2019-07-12 09:48] #7394 closed

[2019-07-12 10:40] libetl commented on #7388
makes sense

[2019-07-12 10:41] libetl commented on #7388
Maybe I will find some time during the week end to help.

[2019-07-12 10:49] jackocnr commented on #7367
I found an easy workaround - posting here in case it's useful for others.

That linked comment pointed me to `node_modules/@storybook/ui/src/components/preview/background.js` which contains Storybook's grid styles, which I just applied in manager-head.html like so:

[code]

[2019-07-12 11:25] stereodenis commented on #7390
workaround
node_modules/@emotion/primitives-core/dist/primitives-core.cjs.dev.js:221
![image](https://user-images.githubusercontent.com/1406461/61124797-9014ea80-a4b0-11e9-9fd3-6fedad1d429a.png)

node_modules/@storybook/react-native/dist/preview/components/StoryListView/index.js:111
![image](https://user-images.githubusercontent.com/1406461/61124881-d702e000-a4b0-11e9-86a8-915cc975f30c.png)

[2019-07-12 11:40] shilman commented on #7388
That would be 💯💯💯

[2019-07-12 12:53] Dammmien commented on #7033
The error is due to the use of [require-context.macro](https://www.npmjs.com/package/require-context.macro) instead of `require.context()`.

[2019-07-12 12:57] 8beeeaaat commented on #7167
I found the solution.
The `body` element should styled
[code]

![Jul-12-2019 21-54-07](https://user-images.githubusercontent.com/4495546/61129636-c2920800-a4ef-11e9-9815-0701f766a633.gif)

[2019-07-12 12:57] crimx commented on #3758
This is indeed a very confusing issue. Not likely to get fixed. How about additional options using other properties to identify components? Maybe `displayName`?

[2019-07-12 13:07] MatthewMSaucedo opened #7396 "Angular Storybook's 'Centered' stories are broken."
**Describe the bug**
Console shows issue with styles.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://storybooks-angular.netlify.com/?path=/story/addon-centered--centered-component'

**Screenshots**
![Screen Shot 2019-07-12 at 9 01 28 AM](https://user-images.githubusercontent.com/42758985/61130329-6f36a000-a484-11e9-9ad1-37937693c9cc.png)

[2019-07-12 13:08] Yankovsky commented on #7156
Ok ok bot, I'll try to do something with that issue.

[2019-07-12 13:18] stereodenis commented on #7390
if I change behavior to this
[code]
I got this error
[code]

[2019-07-12 13:25] Dammmien commented on #7033
To solve this issue you have to install the babel-plugin-macros:
[code]
Then add a .babelrc to your root folder:
[code]

[2019-07-12 13:40] mAAdhaTTah commented on #7033
I'm using with CRA. Macros are already a part of that build process.

[2019-07-12 13:42] crimx commented on #4312
Same here. This also relates to another ancient issue #729 where styles from different stories get piled up. With a clean slate option should be able to address these issues.

[2019-07-12 13:48] wellyshen commented on #6624
This issue has gone. Close it.

[2019-07-12 13:48] #6624 closed

[2019-07-12 13:59] rkara opened #7398 "Docs-addon: Error displayed when viewing non-mdx stories"
**Describe the bug**
When leveraging the docs plugin (@storybook/addon-docs) to render MDX files on an Angular project that has pre-existing `*.stories.ts` files, an error is displayed when viewing the Docs add-on.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to Story that is written within `*.stories.ts` file.
1. Select "Canvas" Tab
1. Component renders properly
1. Select "Docs"

[2019-07-12 14:02] ndom91 commented on #7167
Should this be changed in storybook itself, or in the addon?

[2019-07-12 14:03] ndom91 commented on #7167
Looks good on my end too! Have you made a pull request?

[2019-07-12 14:06] 8beeeaaat commented on #7167
@ndom91
Sorry, I couldn't make PR...
I can't push commit with permission error.

[2019-07-12 14:08] ndom91 commented on #7167
If you clone it first, make your change in your cloned version, and then you should be able to make a PR from there.

[2019-07-12 14:09] 8beeeaaat commented on #7167
Wow!! I'll try it!!

[2019-07-12 14:12] ndom91 commented on #7167
Yes, this is the standard way to do it if you dont have the rights to the repo.

See, for example, this pull request: https://github.com/storybookjs/storybook/pull/7397

It is from @ctavan's clone, back into storybookjs:next branch

[2019-07-12 14:28] jeanbenitez commented on #4600
What is the current state? Can we contribute? I would love to see this!

[2019-07-12 14:57] lifeiscontent commented on #4487
@Hypnosphi okay, then I guess it makes sense to do there. Are you working on this? Or should I open a PR?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-12 15:09] 8beeeaaat commented on #7167
@ndom91
I'made PR #7400 !
Thank you very much for guiding me! !

[2019-07-12 15:23] adamdoyle commented on #7263
@shilman done.

[2019-07-12 15:46] centerwork80 commented on #7389
So I spun up an instance without storybook-addon-jsx and upgraded to alpha.42 and I am still getting 2 type errors on the build.

1.     TS2322: Type 'StoryApi<ReactElement<unknown, string | ((props: any) => ReactElement<any, string | ... | (new (props: any) => Component<any, any, any>)> | null) | (new (props: any) => Component<any, any, any>)>>' is not assignable to type 'Story'.

2. TS2339: Prop

[2019-07-12 15:53] feonit commented on #7195
same in 5.1.0-rc.0

[2019-07-12 16:15] melquan opened #7403 "@storybook/marko: Add DefinePlugin to src/server/framework-preset-marko.js"
**Describe the solution you'd like**
Add DefinePlugin to src/server/framework-preset-marko.js to set an environment variable.

[code]

[2019-07-12 16:52] melquan opened #7404 "@storybook/marko: Migrate from 'marko-loader' to '@marko/webpack/loader'"
**Describe the solution you'd like**
Migrate from 'marko-loader' to '@marko/webpack/loader' which provides some bug fixes and enhanced functionality.

https://github.com/marko-js/webpack

[2019-07-12 19:41] devtoni commented on #7360
I had a similar problem, the reason as shilman commented is because storybook by default in its webpack configuration is using file-loader for the svgs. So it founds a conflict with the vue-svg-loader.

What I did in my case and it works is to remove from the regex the svg extension and then as you did push the new rule of svg with the vue-svg-loader.

[code]

[2019-07-12 20:19] joyfulelement commented on #7246
I tried with a different line up of dependencies and confirms that this issue exist since version `5.1.8` for `@storybook/addon-info`, and the **workaround mentioned above with the `exclude` option also does not work.**

[code]

[2019-07-12 20:57] spenceryue opened #7406 "File Extension Mismatch in `storybook/app/angular/src/server/options.ts`"
**Describe the bug**
In the [source file](https://github.com/storybookjs/storybook/blob/1dcfcb0abd079e4473b1987ea07745e5c253c775/app/angular/src/server/options.ts#L7), the code reads `require.resolve('./framework-preset-angular.js')`, but no such file exists in the `storybook/app/angular/src/server/` directory. Instead there is a `frame-work-preset-angular.ts` file.

There doesn't seem to be an er

[2019-07-12 21:03] #7406 closed

[2019-07-12 21:04] spenceryue commented on #7406
The files become `*.js` files after building I assume.

[2019-07-12 21:24] stereodenis commented on #7390
Then, I've changed my jest.config.js
[code]
And got this
[code]

[2019-07-12 22:17] orangeloops opened #7407 "[5.2.0-beta.x] babel-loader error: Cannot find module core-js/modules/web.immediate.js and others"
After migration from 5.1.1 to 5.2.0-alpha.x (exactly the same config file) multiple babel-loader error arise.

Repo to reproduce (branch **storybook_5_2_0**):
**https://github.com/orangeloops/public-ol-web-template/tree/storybook_5_2_0**
npm install
npm run storybook

Modules:
es.symbol.iterator.js, es.symbol.js, es.symbol.to-string-tag.js, web.dom-collections.for-each.js

Error example:
ERROR in

[2019-07-13 03:06] #6701 closed

[2019-07-13 03:06] #6857 closed

[2019-07-13 03:06] #6262 closed

[2019-07-13 03:23] shilman commented on #7398
Hi @rkara, thanks for this!

There are two issues here:
- Docs not recovering from errors
- Something relating to `markdown-to-jsx`

The first one is a duplicate to #7165 and will get fixed before we release.

The second I haven't seen before and I'd like to get to the bottom of it. Storybook already displays an error message when there are no docs associated with the story, so there's something e

[2019-07-13 03:36] shilman commented on #7403
Is this something required by all marko users or just your project? If the latter, you should be able to configure it yourself in `.storybook/webpack.config.js`?

[2019-07-13 03:43] shilman commented on #4600
I suggested contributing a preset above.

Presets are documented here: https://storybook.js.org/docs/presets/introduction/
There is a repo for community presets here: https://github.com/storybookjs/presets

If somebody wanted to put together a preset based on the patterns above, I'd be happ to help on the Storybook side. I'm not familiar with the Stencil side.

[2019-07-13 06:06] #6865 closed

[2019-07-13 09:28] #6093 closed

[2019-07-13 09:29] ndelangen commented on #7404
Hello @melquan would you be able to contribute with a PR for this? I can help if you want.

[2019-07-13 09:38] ndelangen commented on #7010
Storybook loads all stories synchronous in `config.js`, when there's an error in 1 story, the storyStore won't be complete. There should be an error in the terminal & browser console.

Fix the story and they should all show up.

[2019-07-13 09:38] #7010 closed

[2019-07-13 09:44] ndelangen commented on #7097
@iammattq @dmigliorisi-we @ruudyroon Can you post the code a story that fails for you?

I need to see the code for how you do:

[2019-07-13 10:00] ndelangen commented on #6012
I cannot reproduce, using the @thundermiracle steps to reproduce, this https://thundermiracle.github.io/storybook-loader/?path=/story/documentation-basic--description seems to not log errors for me.

What am I doing wrong, or has this been fixed?

[2019-07-13 12:17] emilio-martinez commented on #7348
@Evalon it looks like Typescript treats `ReadonlyArray` differently to normal arrays for some reason. I opened a PR that should cover that use case.

[2019-07-13 12:31] anselmdk commented on #6803
Same happening to me.
See the "edit" button, it should be 16px, but it's being overwritten by some CSS-in-JS styling.
Also margins and paddings seem to be affected.

![2019-07-13_14h28_08](https://user-images.githubusercontent.com/1316533/61171641-b901b200-a57a-11e9-9e3f-c809dc2a3028.png)
![2019-07-13_14h28_41](https://user-images.githubusercontent.com/1316533/61171642-ba32df00-a57a-11e9-9729-ab64

[2019-07-13 12:52] MSVO commented on #4256
The v-app wrapping worked. I wrapped the contents of element to which Vue is mounted.

[2019-07-13 13:18] thundermiracle commented on #6012
@ndelangen Sorry, I fixed it by [customizing google-analytics](https://github.com/thundermiracle/storybook-loader/pull/19/files) addon, so the steps to reproduce is wrong.

[2019-07-13 13:33] #7292 closed

[2019-07-13 13:40] Badlapje commented on #7407
I have this exact same error when i clone the learn storybook repo and install this addon.

[2019-07-13 14:03] shilman commented on #7292
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.43 containing PR #7410 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-07-13 14:03] shilman commented on #7355
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.43 containing PR #7408 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-13 14:03] #7355 closed

[2019-07-13 14:18] stereodenis opened #7412 "React.createElement: type is invalid -- expected a string but got: object."
[code]

**Code snippets**
[code]
[code]

**System:**
 - OS: MacOS
 - Device: Jest
 - Framework: React Native 0.59.10
 - Addons: Storyshots
 - Version:
"@storybook/addon-storyshots": "5.1.9"
"@storybook/react-native": "5.1.9"

[2019-07-13 16:33] leoyli commented on #6700
Agreed.  From what I've seen, there are isn't good agreement on how to structural an addon at first place, and potentially multi-framework support will makes the situation more challenging...

[2019-07-13 20:17] danielknell commented on #6803
I am seeing the same with anchor colors in external stylesheets being overridden, can the markdown elements be styled directly rather than using a single class and child element selectors?

[2019-07-13 22:12] Hypnosphi commented on #4487
No I'm not. Feel free to open a PR

[2019-07-14 10:46] gsaada commented on #7360
Thank you @devtoni !
Works!

[2019-07-14 15:08] brenzy commented on #7004
I added a repo to reproduce this issue at: https://github.com/brenzy/storybook-zone-issue
While attempting to recreate the issue, I noticed that if I used `npm install` the issue would occur, but if I used `yarn install` the issue would not occur.

[2019-07-14 17:49] donifer opened #7415 "Question: Disable addons pane"
**Is your feature request related to a problem? Please describe.**
Is it possible to hide/disable the addons pane?

**Describe the solution you'd like**
An option to disable the addons pane

**Are you able to assist bring the feature to reality?**
Not sure

[2019-07-14 18:01] donifer commented on #7415
My bad `showPanel` already exists.

[2019-07-14 18:01] #7415 closed

[2019-07-14 19:12] madroneropaulo opened #7416 "Storyshot, run individual tests"
This #6331 addresses the issue. I think it should have some priority since you can't develop and run only one test for your story. All the tests will run. This implies a big problem if, for example, you are editing a single component and want to "update" the shot for that component with `jest -u`, all the conflicting components will be accepted. Ideally, one should update an isolated component, up

[2019-07-14 22:23] ckwong90 commented on #7219
Why is this closed. I'm still getting this bug on v 5.1.9.

[2019-07-14 23:07] shilman commented on #7219
@ckwong90 it's not closed?

[2019-07-15 01:42] shilman commented on #1108
Hurrah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.44 containing PR #7414 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-15 07:01] #6879 closed

[2019-07-15 10:27] slorber commented on #6918
Thanks @Gongreg this probably saved me few hours :)

Just noticed I simply forgot to add "/register" at the end of each import.

Isn't there a way to warn the user if he types the wrong import, like I did?

[2019-07-15 12:13] rubiesonthesky commented on #7143
It was added on 5.1.0-alpha.6 (March 14, 2019) , PR here https://github.com/storybookjs/storybook/pull/5612

[2019-07-15 12:26] EdwardStepanian commented on #5910
I and my company front staff also faced this issue. It's not appropriate for our stakeholders to have this warning. We work hard on code quality and pay attention to any warning in console, which is important for us and our clients. If you are not going to resolve the following issue, please let us know so we can look for another platform. But we would like to see the issue resolved in yours.

[2019-07-15 13:04] shilman commented on #7101
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.0 containing PR #7418 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-15 13:45] ChristianOezelt opened #7420 "Suggestion: addon-knobs select() with TypeScript enum"
**Is your feature request related to a problem? Please describe.**
I'd like if (none const) enums are working out of the box with `select(...)` knobs, as this is "just" a typing issue.

Here is an example of what I'd like to do:

[code]

[code]
**Describe the solution you'd like**
The fix I currently use is a custom module declaration in my project.
I suppose the additional type could be added as

[2019-07-15 13:51] Ehofas commented on #4958
Is there any progress on this? We are looking eagerly to try this out!

[2019-07-15 14:07] kylerberry commented on #4958
@Ehofas I too am eagerly awaiting this, but if you're looking to use storybook with lit-element now you can follow the setup at open-wc.

[2019-07-15 15:42] melquan commented on #7403
@shilman, it should be for all marko users, but please confirm with Dylan Piercey (@DylanPiercey).  He asked me to file this ticket.

[2019-07-15 16:09] NickSofology commented on #5225
I'm on 5.1.9 and doing what you suggest @sergej-s is not working for me.  Nothing changes.

[2019-07-15 16:59] rkara commented on #7398
No problem!

[code]

and here's my config.js

[code]

[2019-07-15 17:01] #6216 closed

[2019-07-15 17:12] DylanPiercey commented on #7403
@shilman it is needed for a subset of Marko API's and should probably be set by default for Marko apps.

I will be personally integrating storybook with Marko into some apps shortly and I'll put up a PR for this and #7404 to make sure all is running smoothly. 😄

[2019-07-15 17:40] adamchenwei commented on #7176
similar issue.

[2019-07-15 17:58] shilman commented on #7403
Thanks for the clarification @melquan @DylanPiercey. Looking forward to the PR! 💯

[2019-07-15 18:03] adamchenwei opened #7421 "How to extend storybook js rule for webpack.config.js in v5?"
**Is your feature request related to a problem? Please describe.**
I am having problem with importing commonJS file, so I wanted to try tweak webpack.config.js to customize exclude property so the commonJS component is not processed by the loader, hoping that can eliminate the import problem.

**Describe the solution you'd like**
A valid approach to extend existing webpack config for storybook. Si

[2019-07-15 18:23] industry7 opened #7422 "Error: ENOENT: no such file or directory, stat '/.../node_modules/@storybook/core/dist/public/react/env.js'"
When running storybook via:

yarn storybook

which runs:

start-storybook -p 9001 -c .storybook

I get the following error:

Error: ENOENT: no such file or directory, stat '.../node_modules/@storybook/core/dist/public/react/env.js'

And when Storybook tries to load in browser, it's just a blank white screen.

.storybook
|- .babelrc
[code]
|- addons.js
[code]

|- config.js
[code]

I'm using version

[2019-07-15 19:46] backbone87 opened #7423 "Harden `actions` function of `@storybook/addon-actions`"
**Describe the bug**
Harden `actions` function of `@storybook/addon-actions` to allow calls with empty args:
https://github.com/storybookjs/storybook/blob/next/addons/actions/src/preview/actions.ts#L9

should be:
`names.length > 1`

when called with no args (which is a valid use case, when actions are generated from some metadata), the condition on the linked line will be `true`, then this would c

[2019-07-15 21:03] justindasilva commented on #7168
@shilman Has this issue that I brought up not been reported by anyone else? I basically started a new project from scratch and got the result that I posted.

Could it be something with my environment?

[2019-07-16 07:04] shilman opened #7430 "Storybook 5.2 Release 🚀"
It's that time again! [Storybook 5.1](https://medium.com/storybookjs/storybook-5-1-50afd02b5bbb) is stable and 5.2 is coming down the pipe!

## Schedule

- ✅ `5.2.0-alpha.0`: 2019-04-29
- ✅ `5.2.0-beta.0`: 2019-07-15
- ✅ `5.2.0-rc.0`: 2019-08-30
- ✅ `5.2.0`: 2019-09-17 (ready on 09-10, delaying to avoid clashing with Apple event)

## Contents

- [x] [Storybook DocsPage](https://medium.com/storyboo

[2019-07-16 07:20] flxwu opened #7431 "Ability to hide the tab bar"
There are documentation-only pages on which I don't want to see the tab bar at the top. Can I hide it somehow? This is probably coming with addon-docs, but I'm not using it yet.

Thanks!

[2019-07-16 07:40] #7431 closed

[2019-07-16 07:41] roydipti23 commented on #6674
HI this is not working for me. Tried removing -p 6006 as well. The web-server is showing infinite loaders instead of components in react native. Any help will be appreciated.

my config:

package.json
    "storybook": "start-storybook",

const StorybookUIRoot = getStorybookUI({});

[2019-07-16 07:43] Gongreg commented on #6674
Hey @roydipti23, just to make sure, are you using 5.2.0 beta? There were issues in 5.1.* release.

[2019-07-16 07:43] flxwu commented on #7431
Yeah, that was what I searched for. Thank you a lot! I hope that we'll soon see individual show/hide tab functionalities as well :)

[2019-07-16 07:45] roydipti23 commented on #6674
@Gongreg I am using 5.1.9

[2019-07-16 07:46] roydipti23 commented on #6674
@Gongreg ok thanks, i will try that.

[2019-07-16 07:53] Itrulia commented on #7219
Hes referencing #7049

[2019-07-16 07:55] roydipti23 commented on #6674
@Gongreg the issue remains
Also im getting irrelevant msg on server (image attached)

Here is the code:

const StorybookUIRoot = getStorybookUI({
  host: 'localhost',
  port: 6006,
  onDeviceUI: true,
});

script:
[
<img width="696" alt="Screenshot 2019-07-16 at 1 22 07 PM" src="https://user-images.githubusercontent.com/29539247/61276188-29077680-a7cd-11e9-8265-268262a02f24.png">
](url) "storybook

[2019-07-16 07:59] Gongreg commented on #6674
Could you remove the port part so it defaults to 7007?

Quick questions:
Do you use simulator or phone?
Ios or android?

[2019-07-16 07:59] roydipti23 commented on #6674
@Gongreg sure will do that. Using simulator / android

[2019-07-16 08:00] Gongreg commented on #6674
Also check for any error messages inside console log of browser.

[2019-07-16 08:03] roydipti23 commented on #6674
@Gongreg There are no error msgs on console. PFA the emulator / server / web-server
<img width="1429" alt="Screenshot 2019-07-16 at 1 32 04 PM" src="https://user-images.githubusercontent.com/29539247/61276779-50ab0e80-a7ce-11e9-93ca-675becae3145.png">

[2019-07-16 08:05] roydipti23 commented on #6674
@Gongreg  Also we are on RN59

[2019-07-16 08:06] Gongreg commented on #6674
Any chance you have access to mac with ios simulator?
I am trying to think of the reasons why it might not work.

[2019-07-16 08:13] roydipti23 commented on #6674
@Gongreg No i do not. And the teams across the organisation works on Android itself.

[2019-07-16 08:15] Gongreg commented on #6674
Alright @roydipti23 . I will try to find some time today to test on android simulator to see what might be the issue.

[2019-07-16 08:15] roydipti23 commented on #6674
@Gongreg That would be great. Thanks alot.

[2019-07-16 08:21] RWOverdijk opened #7432 "React Native: Backgrounds addon"
**Describe the bug**

The backgrounds addon for ondevice doesn't work as expected. I've seen several issues:

1. When combined with the knobs addon and importing the backgrounds addon **first**, an error is thrown:

I see duplicate dependencies (nested node_modules) so perhaps something hasn't been updated yet? For some reason `this.state` is null in the `BackgroundPanel.render()`.

2. Once loaded

[2019-07-16 08:39] shilman commented on #7432
@RWOverdijk this might not solve anything but please upgrade all the packages to `5.2.0-beta.0`. All bets are off when different versions are running together. That's probably not the issue here, but it's good to eliminate that variable anyway. 😉

[2019-07-16 08:42] omrilotan commented on #6998
The reason for this error has to do with `<style>` elements being added inline in the DOM when doing SSR.
It seems to me that the recommendation is a good one. Using `:first-of-type` will resolve this.

Other, more generic alternatives may be:
- `:first-child:not(style)`
- `style:first-child + *`

[2019-07-16 08:49] RWOverdijk commented on #7432
@shilman Your release cycle is absolutely insane. 😄 I like it.

I updated everything and same thing.

I did find out something else though! The tab for backgrounds _does_ show up, but it's behind the notch. If I wrap the StorybookUI in a SafeAreaView I can see the tabs.

Is that considered a bug? Or is it in the docs and I missed it?

Anyway, it doesn't solve the problem as the tab is showing this

[2019-07-16 09:03] shiftgeist opened #7434 "Dark theme: Markdown inline code is hard to read"
**Describe the bug**
When dark theme is enabled, markdown (Notes) inline code is hard to read, because it is styled white text on white'ish background.

**To Reproduce**
Steps to reproduce the behavior:
1. Run storybook.
0. Navigate to story.
0. Click on 'Notes'.
0. Get white text on white'ish background.

**Expected behavior**
Black text on white'ish background.

**Screenshots**
![image](https://

[2019-07-16 09:35] shilman opened #7435 "CLI: Warn on package version mismatch"
I see lots of support issues where users are using a variety of different `@storybook/*` package versions, e.g. `5.0.x`, `4.0.x`, `5.2.0-alpha.x` all mixed together.

We should check for this on load and warn them to upgrade to the same version.

[2019-07-16 10:17] cyrus-za commented on #7416
Would love to have this feature. Storyshots can get rather slow to run as the project grows. Should ideally be able to run only the changed components' tests

[2019-07-16 10:37] shilman commented on #7422
@industry7 do you know if `storybook-addon-specifications` is v5-compatible? What happens if you remove it?

[2019-07-16 11:18] mrmckeb commented on #7201
@shilman I wanted to get your thoughts on this.

I can tackle this on this weekend. There are two paths:
1. We add the Storybook config folder, so that it's also processed as a part of the build. But this doesn't fix the case where people use a `stories` folder*. We can then update the docs to say that stories must live within `src`.
2. We can allow all folders (except for node_modules) to be proc

[2019-07-16 12:07] RWOverdijk opened #7436 "React Native addon-links"
**Describe the bug**

The `links` addon doesn't seem to work on React Native.

Simply followed the instructions.

api.on is in the docs though so I'm not sure why it's not working.

https://github.com/storybookjs/storybook/blob/next/addons/links/src/manager.ts#L7

**To Reproduce**

React native app with storybook 5.2.0-beta.0 and @storybook/addon-links@5.2.0-beta.0. Adding the import to rn-addons.

[2019-07-16 12:16] flxwu commented on #3968
I've observed that babel-loader for me starts up a lot faster than atl - maybe it would make sense to change that in the sb documentation?

[2019-07-16 13:34] sirsavary commented on #6674
Chiming in to say I'm experiencing the same issue. Created a new project using Expo v2.12.2 and Storybook v5.2.0-beta.0. I have tried with both a physical device and a simulator. What I've noticed is that I can't seem to access the Storybook server over the network, e.g. navigating to "192.168.0.x:7007" in my phone's browser shows nothing

That being said, I can access the Expo server from my phon

[2019-07-16 13:37] Gongreg commented on #6674
hey @sirsavary, if you want to on your phone, running adb reverse tcp:7007 tcp:7007 should be enough (assuming you connect it with a cable).

[2019-07-16 13:42] ZebraFlesh commented on #7058
Definitely still an issue

[2019-07-16 13:48] Gongreg commented on #6674
Alright! @roydipti23 , try to run `adb reverse tcp:7007 tcp:7007` . It is needed even when yuo want to run locally.

[2019-07-16 13:49] sirsavary commented on #6674
@Gongreg that command works as well as my workaround, thank you. I had mixed results with the simulator -- Expo does open a tunnel but it doesn't always seem to let Storybook connect. Running `adb reverse tcp:7007 tcp:7007` seems to make things work 100% of the time. Good luck tracking down the source of this bug.

[2019-07-16 13:51] Gongreg commented on #6674
@sirsavary, it is not a bug, but a "feature", just the way android works.

@shilman, we should update cli to automatically run `adb reverse tcp:7007 tcp:7007` when running storybook server. Should help to avoid these issues in future.

Could someone work on it?

`(adb reverse tcp:7007 tcp:7007 || true)` should handle cases when adb is missing.

[2019-07-16 14:58] amwmedia opened #7439 "Add Ability to Configure Svelte-Loader Options"
I love storybook, but I can't use it with my Svelte components because I'm using a stylus preprocessor with my components and (as far as I can tell) there's no way for me to tell storybook about my preprocessor.

What I need is a way to pass options into [`framework-preset-svelte.js` at line 11](https://github.com/storybookjs/storybook/blob/next/app/svelte/src/server/framework-preset-svelte.js#L11

[2019-07-16 15:19] sirsavary commented on #6674
@Gongreg it's most definitely a bug and has nothing to do with Android. Storybook server is telling me to connect using `http://192.168.0.18:7007` yet this does not work from any device on my network. I don't understand why the CLI would give off the impression I can connect to Storybook "on [my] network" if this wasn't intended.

Output from `start-storybook`:
![Screenshot from 2019-07-16 18 15 2

[2019-07-16 15:23] Gongreg commented on #6674
I mean if you are using remote url (not localhost) this is not what storybook is responsible about. Your machine is not allowing connection to that port. Especially since you said that adb reverse does work. I may be wrong here, though.

[2019-07-16 15:24] Gongreg commented on #6674
If you are using macbook it will work, since macbooks have firewall turned off by default. But if you are using windows or something else with firewall it is up to you to handle it.

[2019-07-16 16:20] roydipti23 commented on #6674
@Gongreg Thanks alot. This worked. Couple of notes, it doens't seem to work if my script is    "storybook": "start-storybook --port 7007 --host localhost",

instead it worked on    "storybook": "start-storybook"

[2019-07-16 16:28] roydipti23 commented on #6674
Also it would be great if you could just update the documentation for same!!

[2019-07-16 16:29] Gongreg commented on #6674
@roydipti23, maybe you would like to make a PR to update the documentation? :)

[2019-07-16 16:30] roydipti23 commented on #6674
@Gongreg  sure, would do that! :)

[2019-07-16 17:26] shilman opened #7440 "CSF: Component Story Format documentation"
- [x] blog post
- [x] module format embedding example
- [x] module format reference
- [x] update existing docs examples
- [x] migration instructions

[2019-07-16 17:38] kroeder opened #7442 "Creating angular project with no initial app throws sb init error"
Angular allows to create an empty project with an almost empty `angular.json`. Later you can add projects by using `ng generate app` or `ng generate lib`.

However, running `sb init` on an empty project causes a hard error while it should bring up a user-friendly message.

[code]

At this moment you need to create an app or project and re-run `sb init --force` or else storybook won't run even thou

[2019-07-16 18:01] ruudyroon commented on #7004
Facing the exact same issue.

[2019-07-16 18:16] backbone87 commented on #7060
Does nuxt use vue cli 3? If so, you could give vue-cli-plugin-storybook a shot

[2019-07-16 19:59] Yankovsky commented on #7052
I still think it will be a good addition.

[2019-07-16 20:41] annakjet commented on #6505
So far I have found only one solution: add `SKIP_PREFLIGHT_CHECK=true` to `.env`, but that is more of a band-aid rather than an actual solution. Unfortunately, using `yarn` is not an option, since the company does not want to switch to it.

Anybody has any ideas on how to deal with this?

[2019-07-16 21:54] soriyath commented on #1642
.env should work out of the box.

[2019-07-16 23:41] CrashyBang commented on #6726
Hey @backbone87,

That works! Thank you so much for that! The only issue I have no is setting up the store on the components I am using in the stories, when loading them on the front end I have a function that sets them up with the store (I know the whole way we are doing this is weird but it fits the use case) like so:

[code]

So that is how all the components we load in get their reference to `

[2019-07-16 23:43] gaui commented on #7430
When you say, partial support for all frameworks, does it mean we could adapt to any library that utilises hyperscript syntax?

[2019-07-17 01:43] jamesg1 commented on #7201
@mrmckeb Just for an update I removed my yarn.lock and node_modules and reinstalled everything with the new storybook alpha `5.2.0-alpha.44` and I didn't seem to hit the same issues I was facing last week with JSX in `config.js`.

[2019-07-17 01:58] backbone87 commented on #6726
so you can access the store in the story via `this.$store`, but not in your component? that is strange. but inside your component `this.$parent.$store` works?

[2019-07-17 02:18] ZebraFlesh commented on #7179
Definitely still a problem that needs to be fixed

[2019-07-17 02:18] DesignByOnyx commented on #4600
I just posted my project out there for anybody who wants it. Here are the features:

- automatic generation of stories
    - automatic knobs generation for all `@Props` on your components
    - ability to customize which knobs are used for each prop
    - ability to define multiple states, each with a title and description (kind of a lightweight chapters implementation)
    - selectable code snipp

[2019-07-17 05:22] #1274 closed

[2019-07-17 05:31] RWOverdijk commented on #7432
Both issues have been fixed through #7437

[2019-07-17 05:31] #7432 closed

[2019-07-17 05:34] flxwu opened #7443 "[Feature Question] Hyperlinks in sidebar?"
Is there a way to have direct hyperlinks in the sidebar? See example below.

Thank you very much!

![image](https://user-images.githubusercontent.com/16862997/61349696-47b94c00-a865-11e9-9cda-90573fa566c6.png)

[2019-07-17 05:58] shilman commented on #7430
@gaui Storybook supports multiple frameworks and docs uses the same mechanism under the hood. But docs has additional functionality (like automatically displaying prop tables for your components) that is implemented on a framework-by-framework basis.

You can see which features are supported for which frameworks here: https://github.com/storybookjs/storybook/blob/next/addons/docs/README.md

[2019-07-17 06:05] shilman commented on #7443
@flxwu not currently. you can modify the storybook logo AND/OR make it link to a custom page, however. See `brandUrl` etc. options in https://storybook.js.org/docs/configurations/theming/#create-a-theme-quickstart

[2019-07-17 06:09] shilman commented on #7199
@lonyele is this fixed?

[2019-07-17 06:12] shilman commented on #4600
@DesignByOnyx This looks great. Tweet about this and mention `@storybook` and I'll RT from the storybook account. And if you want to write a post about it, I'd be happy to work with you to get it publicized. I think there's a pretty large demand here.

[2019-07-17 06:14] shilman commented on #7201
@mrmckeb I like the first solution also 💯 Thanks for being on top of this!

[2019-07-17 06:25] shilman commented on #7052
@Yankovsky You can add it here: https://github.com/storybookjs/storybook/blob/master/docs/src/pages/addons/addon-gallery/index.md

Separately, I'll figure out why the link is broken on the site

[2019-07-17 06:26] 9kx4hpum opened #7444 "Let's add description to entries"
I could use some help adding descriptions to entries in this list. The descriptions should be as succinct as possible. Short, but descriptive. They should be about the project/theme, NOT the list itself.购买加拿大麦吉尔大学毕业证，https://www.diplomaclub.net/ 办加拿大回国人员证明，办加拿大文凭，办加拿大使馆认证，办加拿大学历学位认证，国外学历学位认证办理
If you decide to do a PR, please do at least 10 descriptions.

[2019-07-17 06:32] shilman commented on #7189
@rwieruch Is this something you might be able to take a look at?

[2019-07-17 06:38] shilman commented on #7439
@amwmedia AFAIK there is no easy way to do that. However, as a workaround you can configure webpack manually by removing the rule in question, and adding a replacement that has the options you need. Or, if you're feeling cavalier, just updating the existing rule in place. See https://storybook.js.org/docs/configurations/custom-webpack-config/#full-control-mode

[2019-07-17 06:39] shilman commented on #7058
Good news, I think @mrmckeb is going to fix this!

[2019-07-17 06:46] shilman commented on #7421
@adamchenwei You can use full-control mode and simply modify the incoming config without rewriting it entirely. There are lots of examples in the docs, examples, and github issues.

[2019-07-17 06:47] shilman commented on #7168
@justindasilva I think this is an issue with stencil-storybook-wrapper. You should try to get help there.

[2019-07-17 06:48] shilman commented on #5225
@CodeByAlex Any chance you can look at this as part of your work on the Jest addon?

[2019-07-17 06:51] shilman commented on #7420
Is this addressed by https://github.com/storybookjs/storybook/pull/7411 ??

[2019-07-17 07:04] jacklimwenjie commented on #4801
Bump! Say no to stale bot

[2019-07-17 07:34] Gongreg commented on #7199
@shilman, I've tried to run CRNA example in storybook yesterday without success.

[2019-07-17 09:55] NickSofology commented on #5225
Perfectly honest I can't actually remember.  It's been a while since I created this project, it may well have been.  Sorry that's not massively helpful I know.

[2019-07-17 10:07] jdelStrother opened #7445 "corejs-upgrade-webpack-plugin causing problems"
**Describe the bug**
If you import fetch-mock (which relies on core-js v2), its core-js imports fail.  If I hack storybook to remove the corejs-upgrade-webpack-plugin, everything seems to work fine.

Sample errors:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/jdelStrother/corejs-demo (a create-react-app with storybook, and an import for fetch-mock)
2. Run

[2019-07-17 10:09] shilman opened #7446 "CLI: migrate works with Yarn but not NPM"
`yarn run foo` runs binaries and scripts, but `npm run foo` only runs scripts so `sb migrate` fails when trying to execute `jscodeshift`. Need to use `npx` instead!

[2019-07-17 10:11] emilio-martinez commented on #7420
Addressed in #7427.

[2019-07-17 10:39] fxxjdedd opened #7447 "addon/notes: syntaxhighlighter treat children as string may have errors"
**Describe the bug**
I encountered an error while writing markdown in notes, the console suggesting that `children.trim` is not a function.

The strange thing is that only when I write the code block such as ```jsx will report an error, there is **no problem** writing the general markdown code.

**To Reproduce**
write code block in notes suchs as:
![image](https://user-images.githubusercontent.com

[2019-07-17 10:42] markolofsen commented on #1171
**My variant:**

[code]

[2019-07-17 11:22] #6856 closed

[2019-07-17 11:37] JamyGolden commented on #6204
I have this issue after upgrading to `v5.1.9` from `v5.0.6`.

[2019-07-17 12:17] jeanbenitez commented on #4600
Amazing job @DesignByOnyx ! It seems that this fits perfectly to be a preset :tada:

[2019-07-17 12:30] iMarv commented on #7318
Running into the same problem with Angular 8, Storyshots v5.1.9

[2019-07-17 13:03] shilman opened #7450 "CLI: Migrate support for typescript files"
- [x] Support `--parser` option
- [ ] Debug failing stories from @CodeByAlex

[2019-07-17 13:12] CodeByAlex opened #7451 ""No components found" box should be removed from Docs"
**Describe the bug**
When prop definitions arent set a box shows up saying "no component found". This makes sense if it was a requirement to show props but some frameworks arent supported for that feature in Docs yet. Therefore, I feel as though it should be removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a project for Docs
2. Don't include props for a component
3. See the "n

[2019-07-17 15:00] jrsearles opened #7453 "[addon-contexts] Syntax causing issues with Storyshots addon"
**Describe the bug**
The contexts plugin works fine for me in the browser, but when run through Jest via the Storyshots addon a syntax error is generated.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add the import into your Storybook config in a project using Storyshots
2. Run jest

**System:**
 - OS: Windows10
 - Device: PC (node v10.15.0)
 - Browser: jsdom
 - Framework: React

[2019-07-17 16:54] annakjet commented on #6161
oh man, @jacobgranberry thank you very much!

[2019-07-17 16:59] shilman opened #7455 "Addon-Docs: Lazy load IFrame stories"
Addon docs achieves cross-framework support by embedding embedded stories in iframes. This can get pretty heavy when there are many stories on the page.

As an easy optimization, when a story is rendered in iframe mode, wrap the iframe in a lazy loader that only shows the contents when it's scrolled into view.

[2019-07-17 17:18] shilman opened #7456 "Addon-docs: DocsPage "slots""
## Problem

Current version of DocsPage tries to do a bunch of stuff automatically for you based on existing `addon-notes`/`addon-info`/`docgen` annotations. This can result in weird behavior depending on how you set up your storybook.

## Solution

1. Define a set of "slots" on the page and parameters to fill them.
2. Users can fill those slots manually
3. Some of those slots may be filled automa

[2019-07-17 17:44] domyen commented on #7456
👍 Seems like the right balance of "It Just Works", customizability, and maintenance burder.

[2019-07-17 17:55] Drag13 opened #7457 "Service is not resolved with Angular application"
**Describe the bug**
If component contains any hand written service, storybook will throw an error

**To Reproduce**
1. Create new application using @angular/cli
2. Generate new service
3. Inject new service to the app component
4. Start the application with npm start

Currently everything working perfectly.

5. Install storybook
6. Write short story about AppComponent (please, check the code bell

[2019-07-17 18:09] DesignByOnyx commented on #4600
OK, I've tweeted (I don't twitter much). Furthermore I don't have a blog :/, but I'm glad to put something together if someone wants to publish it.

While the project works, I threw it together in a hurry and did not really make it easy to customize. Some of the code in there is really brittle as I am having to load and merge multiple files in order to render each individual component. I'm hoping

[2019-07-17 18:12] shilman commented on #7210
@ndelangen's moved `cli-test` to Travis, so CI is much faster on Circle now. However, this could still be parallelized on Travis I suppose.

[2019-07-17 18:20] shilman opened #7458 "Addon-docs: Use MDX shortcodes"
MDX 1.0 introduced "shortcodes" which allow you to [use certain elements without needing to import them explicitly](https://mdxjs.com/blog/shortcodes).

Should we use this for `<Story>`, `<Preview>`, `<Source>`, and `<Props>`?

[2019-07-17 19:05] DylanPiercey commented on #7403
@shilman on second glance I am realizing this is not needed. The `process.env.BUNDLE` we are only using when you are bundling Marko with the `node` target in webpack which is not happening here.

This issue can be closed.

[2019-07-17 19:54] adamchenwei commented on #7421
@shilman would you have an example in full control mode update js loader config?

In this case i want the storybook to load commonjs component correctly by first try to use exclude property so sb ignore it when try to convert the commonjs file with the default js loader config.

Let me know if it makes sense or need example?

[2019-07-17 19:55] melquan commented on #7403
Closing per Dylan's comment.

[2019-07-17 19:55] #7403 closed

[2019-07-17 20:19] smasontst commented on #7254
@MrDestroii I have a fix for this, I'll PR once I get a test written

[2019-07-17 22:56] stereodenis commented on #4746
@igor-dv it's not working for React Native

[2019-07-17 23:11] tommedema opened #7461 "Storysource: possible to show _only_ story code?"
Currently when I have a story like so:

<img width="620" alt="Screen Shot 2019-07-17 at 4 09 36 PM" src="https://user-images.githubusercontent.com/331833/61417792-4ad82a80-a8ad-11e9-9bf5-6f19c1c82f2f.png">

This displays the entire `.stories.js` code:

<img width="493" alt="Screen Shot 2019-07-17 at 4 10 04 PM" src="https://user-images.githubusercontent.com/331833/61417815-5c213700-a8ad-11e9-8ffd-

[2019-07-17 23:44] duhseekoh opened #7462 "Support react-scripts installed at monorepo root"
**Is your feature request related to a problem? Please describe.**
It is a feature request.
I have a monorepo (yarn workspaces) with several CRA apps. Each of those apps has their own storybook. I recently decided to move react-scripts to the monorepo root package.json as a dev dep since it stopped making sense to keep individual versions of react-scripts for each workspace as I update all of them

[2019-07-18 00:12] lonyele commented on #7199
@shilman @Gongreg I think versioned up from #7200 should fix the problem though not yet merged(I'll resolve `yarn.lock` conflict and make it mergeable so that others can test again)

[2019-07-18 00:48] industry7 commented on #7422
In the other project with a similar (working) setup, it is also using storybook-addon-specifications, so I think it's compatible.

I tested removing it from the addons.js file, as well as from package.json.  Wiped out node_modules, reinstalled, and started Storybook back up.  I got the same error and blank screen :-(

[2019-07-18 01:45] shilman commented on #3730
@creatyvtype this was fixed in `5.2.0-alpha.31`:

- Core: Story sorting ([#6472](https://github.com/storybookjs/storybook/pull/6472))

[2019-07-18 01:45] #3730 closed

[2019-07-18 01:49] industry7 commented on #7422
Ok, so I got it working by basically recopy the config from the other project.  It seems like the problem was either in .babelrc, or maybe the webpack config?  I'm not sure.  But here's my working config, in case it'll help anyone running into a similar problem.

.storybook/.babelrc:
[code]

.storybook/addons.js:
[code]

.storybook/config.js:
[code]

webpack.config.js:
[code]

Btw, thank you @shil

[2019-07-18 01:49] #7422 closed

[2019-07-18 02:20] shilman commented on #7348
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.1 containing PR #7411 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-18 02:20] shilman commented on #7420
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.1 containing PR #7411 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-18 02:20] shilman commented on #7432
Gadzooks!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.1 containing PR #7437 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-07-18 02:20] #7420 closed

[2019-07-18 03:59] shilman commented on #4600
@DesignByOnyx Any chance you can hop on our Discord? https://discordapp.com/invite/UUt2PJb

I'd love to chat more about getting this work out there on the Storybook blog as well as promoting in the stencil community.

[2019-07-18 05:55] RWOverdijk commented on #7432
:o

[2019-07-18 06:07] zhenwenc commented on #5721
Be careful with the above `React.createElement` and `<Story />` approach, I think they are not quite right in some cases, because you are actually **redeclaring** the react components (the story component) instead of returning the rendered elements (while using `story()` in the storybook `config.js` as shown in the docs).

For example, when your story has `Knobs.button` that triggers component loc

[2019-07-18 06:07] shilman commented on #7432
@RWOverdijk More the former than the later, I assure you 😘

[2019-07-18 06:14] shilman commented on #6699
I believe the panel was removed in 5.2.0 when there are no addons. 😕

I'd like to add it back per the discussion above, so keeping this issue open for that. 😁

[2019-07-18 06:22] 47euewxm opened #7464 "How to define sample weights for ConvLSTM2D models?"
Hi,
By reviewing the literature and Keras documentation, I have built an architecture using ConvLSTM2D and Conv3D (I was inspired by[加拿大文凭购买，速办加拿大哥伦比亚大学本科毕业证，办加拿大使馆认证，办加拿大学历学位认证，国外学历学位认证办理](www.diplomaclub.net)

[2019-07-18 06:36] shilman commented on #7461
@tommedema You might want to check out addon-docs, which almost does this, tho with a very different UI:

<img width="869" alt="Storybook" src="https://user-images.githubusercontent.com/488689/61434727-538e3680-a969-11e9-8984-e642fb79d183.png">

https://docs.google.com/document/d/1un6YX7xDKEKl5-MVb-egnOYN8dynb5Hf7mq0hipk8JE/edit?usp=sharing

[2019-07-18 06:41] shilman commented on #7421
@adamchenwei here's one of many: https://github.com/storybookjs/storybook/issues/6758

[2019-07-18 07:27] Yankovsky commented on #7052
@shilman done

[2019-07-18 07:33] nzacca opened #7466 "Possible invalid peer dependency version for @angular-devkit/build-angular"
**Describe the bug**
Peer dependency for `@angular-devkit/build-angular` in the `@storybook/angular` package lists a required version of `>= 6.0` . All versions for devkit appear to be `< 1`, with the latest for Angular 8 being `0.801.2` at this current time.

**To Reproduce**
Steps to reproduce the behavior:
1. Install `@storybook/angular` package with the latest devkit installed.
2. Note the pee

[2019-07-18 08:15] BobbyLH commented on #2883
![image](https://user-images.githubusercontent.com/25814873/61440787-e5507080-a976-11e9-9f86-44eb1a952ae2.png)
Try adding `.md` in extension field at `.stroybook/webpack.config.js`

[2019-07-18 08:44] vivek-kandhvar commented on #5013
The issue is still happening, and how can you guys just mark it closed, without a solution?

[2019-07-18 09:10] shilman opened #7467 "CLI: convert-storiesof-to-module should handle user exports, collisions, reserved keywords"
When users export data from their `storiesOf` files, the conversion codemod should exclude that data from the resulting module-format file.

[code]

=>

[code]

[2019-07-18 09:13] rezaabedian opened #7468 "Error reading test.stories.mdx with Storybook Docs"
I am using Storybook 5.2.0-alpha.29, it is loading my storybook with:
[code]

My .storybook/config.js looks like this:

[code]
.storybook/presets.js looks like this:

[code]
.storybook/webpack.config.js looks like this:

[code]
then in my src/stories/test.stories.mdx I have the following:
[code]

I am using React, TypeScript and @storybook@5.2.0-alpha.29

[2019-07-18 09:15] shilman commented on #7468
Thanks @rezaabedian! Will take a look in the next hr! 🙏

[2019-07-18 09:17] RWOverdijk opened #7469 "Navigation on react native"
**Is your feature request related to a problem? Please describe.**

The navbar on react native is absolutely positioned. This is fine in theory, but frustrating in practise since it falls on top of the actual content causing some of it to be hidden.

![storybook](https://user-images.githubusercontent.com/781745/61444953-b1605580-a94c-11e9-85f5-1c33b744f821.gif)

It _is_ possible to toggle the navb

[2019-07-18 09:17] rezaabedian commented on #7468
Thank you! I was previously getting the error to do with mdx-loader and the <MDXLayout/> not being closed, but that message has gone away. Now all I get is storybook loading up with no console errors, but also "No Docs Found" and with no stories on the left nav.

[2019-07-18 09:39] Exomnius commented on #6204
Same issue. Fixed after downgrading from `v5.1.9` to `v5.0.6`

[2019-07-18 10:17] #7390 closed

[2019-07-18 10:17] #7412 closed

[2019-07-18 11:07] simonwalker-celadin opened #7472 "Storybook and RN 0.60.3"
This is our package.json script command for storybook: "storybook": "start-storybook -p 7007 | yarn start --projectRoot storybook --watchFolders $PWD",
This appears to be working well with RN v .59.9 and Storybook 1.0.0. However the '--projectRoot' command causes storybook to fail to launch when we upgrade to RN .60.3.

[2019-07-18 11:15] stmoreau commented on #6150
I will just comment one last time to remove the inactive label, in case someone wants to work on it then I will give up 😃

(sorry about that)

[2019-07-18 11:50] shilman commented on #7468
Hey @rezaabedian Try using the following `presets.js` setup:

[code]

Does that work for you?

[2019-07-18 13:03] padevone opened #7474 "Switch css files from theme"
Hi. I created storybook for Vue, but i want to display my components in different themes.
The themes are different css styles. Can do i switch these files from selected theme?
These files build by Webpack (full-control mode).

[2019-07-18 13:27] stropho commented on #7079
This is still a valid issue  @Armanio @leoyli

[2019-07-18 13:33] halfmatthalfcat commented on #4672
If you change the your custom Storybook `webpack.config.js` to resolve babel-loader via:

`loader: require.resolve('babel-loader', { paths: [ 'node_modules/react-scripts' ]}),`

it starts working for a longer term solution until it's actually fixed.

[2019-07-18 13:48] BartJanvanAssen commented on #7149
Any updates on the solution?

[2019-07-18 14:09] Evalon commented on #7348
Now error is showed in /node_modules/@storybook/addon-knobs/dist/components/types/Select.d.ts when trying to build by tsc.
Error:(4, 125) TS2344: Type 'T' does not satisfy the constraint 'string | number | symbol'.
  Type 'SelectTypeKnobValue' is not assignable to type 'string | number | symbol'.
    Type 'undefined' is not assignable to type 'string | number | symbol'.
      Type 'T' is not assig

[2019-07-18 14:10] Evalon commented on #7348
also node_modules/@storybook/addon-knobs/dist/components/types/Color.d.ts(2,29):
error TS7016: Could not find a declaration file for module 'react-color'.

[2019-07-18 14:37] shilman commented on #7101
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.2 containing PR #7454 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-18 14:37] shilman commented on #7446
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.2 containing PR #7463 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-18 14:37] shilman commented on #7450
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.2 containing PR #7463 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-18 14:37] shilman commented on #7467
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.2 containing PR #7471 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-18 14:37] #7446 closed

[2019-07-18 14:37] #7450 closed

[2019-07-18 14:37] #7467 closed

[2019-07-18 14:44] emilio-martinez commented on #7348
I think some of the errors you may be getting are because you're building with the strict flag on—Storybook isn't yet.

I'll look into enabling ts strict compilation in that add-on, but that kind of seems like a separate issue. In the meantime, your read-only array use case is covered.

[2019-07-18 14:57] shilman opened #7479 "Addon-Docs: Configurable Source snippetization"
Add the ability to configure Source block with per-framework snippetization, or even user-configurable snippetization. E.g.

- @CodeByAlex wants just the `template:` field for Angular
- `etb` (?) wants to remove the `() => ...`
- `HamHam` wants to remove single quotes from:

[code]
- @kushalmahajan wants to include the component's source in the story #10039

[2019-07-18 15:05] shilman opened #7480 "Addon-Docs: Preset weirdness around Babel"
In two different projects I had to add `babelOptions: { plugins: [] }` to the `configureJSX` option, which didn't used to be the case:

[code]

I also needed to add `@babel/plugin-transform-react-jsx` and `babel-loader`.

[2019-07-18 15:14] leetercola commented on #6998
@omrilotan
Can you explain how this is any better and would stop the warning as it still uses first-child?

[2019-07-18 15:20] omrilotan commented on #6998
Of course. This selector is made up of two parts:
1. `& > :first-child:not(style)` The first child *unless it is a style tag*
2. `& > style:first-child + *` The adjacent sibling immediate following a first element which *is a style tag*

Thus covering both options.
[code]

[2019-07-18 16:13] gergelyke opened #7481 "Storybook/react v5 breaks flow checks"
**Describe the bug**
After updating to @storybook/react v5, flow type checks start to fail (timeout).

**To Reproduce**
https://github.com/uber-web/baseui/pull/1581

[code]

=>

[code]

**Expected behavior**
Flow type check works.

**System:**
 - OS: MacOS and Ubuntu
 - Framework: react
 - Version: 5

[2019-07-18 16:14] gergelyke commented on #7481
Please let me know if you need more information for me / there is anything I can help with!

[2019-07-18 16:17] Evalon commented on #7348
You right but I think it's kind of regression because with @types/storybook__addon-knobs and storybook 5.2.0-alpha.37 I have proper type and don't get any errors.
Anyway thank you for your work. Maybe I look into this problem later and create PR.

[2019-07-18 16:26] titchimoto commented on #3916
You beautiful person @kexinlu1121. It worked perfectly, thank you.

[2019-07-18 17:05] steel commented on #7360
Thanks @devtoni !
I was running into this trying to use `svg-inline-loader`.

[2019-07-18 18:07] ramomex1 commented on #5183
hey yesterday it was everything for me ok but today 18 of July 2019, i get same error as you. did you find a solution?

[2019-07-18 18:16] tommedema commented on #7461
@shilman cool, this looks like something we will use once it gets out of beta. Will stick with the more noisy storysource code for now due to the lesser complexity/effort involved.

[2019-07-18 18:16] #7461 closed

[2019-07-18 18:17] mpalpha commented on #7479
Perhaps adding an option globally to pass each UI pattern through a transformer would be a good approach.

[2019-07-18 18:27] steel opened #7483 "Is there a way to remove the body margin only when in a specific viewport?"
When displayed in a responsive default viewport, I want to leave the default margin intact. But when the viewport is adjusted to say a mobile viewport, I'd like to remove the body margin to simulate how it's actually look on a device.

I can do it across the board in preview-head.html but would like more flexibility in how it's configured.

[2019-07-18 19:21] annakjet commented on #6505
Actually, found a solution: all I had to do was move the `react-scripts` dependency from `devDependencies` to reg `dependencies`.

[2019-07-18 19:22] ArmandoAA commented on #7226
@rembrandtreyes

Sorry for the delay to reply.
I'm posting the url to code.

https://github.com/ArmandoAA/csstransition-storybook

[2019-07-18 20:38] emilio-martinez commented on #7348
Yeah, totally get where you're coming from. Appreciate the patience 🙏 It's a bit harder here because the types need to actually match with the code, and unfortunately the @types weren't entirely accurate.

I actually had some time this morning to start taking a look, so I'm already working on enabling strict in this add-on. Hoping I'll have something to submit soon.

[2019-07-18 22:09] ramomex1 commented on #5183
hey yesterday it was everything for me ok but today 18 of July 2019, i get same error as you. did you find a solution?

[2019-07-18 22:24] MrFoxfr commented on #5183
@ramonex1

Yes for me it’s just a stupid think.

It’s another node modules in my folders

[2019-07-18 23:53] #7464 closed

[2019-07-19 00:13] stramel commented on #6625
still an issue I believe

[2019-07-19 00:20] shilman commented on #7348
@emilio-martinez are you on the storybook discord? would love to chat for a few mins about this!

[2019-07-19 00:50] shilman commented on #7472
@simonwalker-celadin what version of storybook?

[2019-07-19 00:52] shilman commented on #7474
Maybe this will help? https://github.com/storybookjs/storybook/pull/7465

[2019-07-19 00:55] shilman commented on #7149
Have you tried a workaround where you globally add

[code]

And then locally set it to `showPanel: false` on specific stories?

[2019-07-19 02:05] #6040 closed

[2019-07-19 05:54] padevone commented on #7474
@shilman thanks for reply. It's not that i want, but maybe i will try it.
In my case i want to switch style-files for different themes, because they have absolutely different styles.

[2019-07-19 07:36] isametal88 commented on #7005
Hi, any update on this issue?

[2019-07-19 07:47] dgana commented on #3592
[code]

[2019-07-19 08:40] shilman opened #7486 "Module format: Make story decorators first-class"
Module format decorator syntax should parallel parameter syntax. The only reason it didn't is because we didn't want to add more fields to the `storiesOf.add` API.

## Breaking change

This was an oversight in the first implementation of modules format, and so this deprecation will be a breaking change for anybody who used the module format in alpha. But it's not a hard breaking change, just a dep

[2019-07-19 09:37] simonwalker-celadin commented on #7472
I am running Storybook version 5.1.9

This is the package.json section defining storybook
[code]

This is in package.json scripts
[code]

This is the error I am getting
[code]

[2019-07-19 10:28] Drag13 commented on #7457
Hi guys!

Sorry for disturbing but does any one have a chance to look into this issue? If it exists, than, probably a lot of functionality is broken, because having service inside the component is quite common scenario in Angular.

[2019-07-19 10:29] RazvanDH commented on #6833
It seems to be an issue with `withInfo` and `jsxDecorator`. I had the same issue and it was fixed when I switched the order of the two (`withInfo` loading first). But that broke `jsxDecorator` - now it shows `<Story><MyComponent /></Story>`.

Would appreciate some help on this.

[2019-07-19 10:45] Gongreg commented on #7472
Hey,
Looks like projectRoot option has been removed from cli in RN 60.
If you want to keep using it like this I recommend to add projectRoots to your metro config and change them according to the environment.

Also the documentation in storybook should be updated to reflect this change.

[2019-07-19 11:02] simonwalker-celadin commented on #7472
Thanks for your response. This is something new for me, could you please expand on this. My current metro config looks like this...

[code]

[2019-07-19 11:12] Gongreg commented on #7472
[code]

And then in the command:

`"storybook": "start-storybook -p 7007 | RUNNING_STORYBOOK=true yarn start --watchFolders $PWD",`

[2019-07-19 12:28] shilman commented on #7199
Yippee!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.3 containing PR #7200 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-19 12:28] #7199 closed

[2019-07-19 13:37] simonwalker-celadin commented on #7472
Thank you, this has got me going with this version of RN and Storybook

[2019-07-19 13:37] #7472 closed

[2019-07-19 13:37] w2kzzz opened #7488 "No Scrollbar inside Storybook"
**Describe the bug**
i'm not getting scrollbar on the render side of the storybook

**To Reproduce**
Steps to reproduce the behavior:
1. Load Storybook with content greater than the layout
2. Scrollbar won't show

**Expected behavior**
Scrollbar should appear if the content overflows the container

**Screenshots**
![storybook](https://user-images.githubusercontent.com/13698269/61538701-f85f5100-aa

[2019-07-19 13:38] Gongreg opened #7489 "Target ES6 in app/react-native"
React Native supports ES6, so there is no need to uglify the code to es5 level. It would help to more easily test things out inside node_modules.

[2019-07-19 13:40] Gongreg commented on #7489
I love it when the bot tags me on my own issues!

[2019-07-19 14:29] padevone commented on #7474
@shilman Thanks. it's near my goal. I will try it.

[2019-07-19 15:57] aloifolia opened #7492 "Typescript template support"
**Is your feature request related to a problem? Please describe.**
Currently, in order to add Storybook to a project that uses Typescript, you first have to install Storybook (e.g. `npx -p @storybook/cli sb init --type react_native`). Afterwards you have to migrate the codebase [manually](https://storybook.js.org/docs/configurations/typescript-config/). This is much more tedious than it should be.

[2019-07-19 16:20] city41 opened #7493 "Stories disappear after HMR"
**Describe the bug**
While Storybook is running, after making a change to source and saving, webpack rebuilds and HMR updates the browser. But when this happens, many of the stories disappear.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch storybook
2. After it has built and launched in the browser, make a code change and save
3. wait for HMR to finish

**Expected behavior**
All the

[2019-07-19 17:38] w2kzzz commented on #2962
what do you have on the ./themes?

[2019-07-19 17:41] w2kzzz commented on #2962
@fvilers what do you have on the ./themes i wonder?

[2019-07-19 20:51] chrismiceli commented on #6194
Ping asking for comment on a whether a PR would be approved or not.

[2019-07-19 22:19] busticated commented on #3346
totally stymied by this one as well. spent the last ~2 days unsuccessfully trying all the suggestions from this thread as well as some of my own. none were successful 😢

ultimately, i'm left with:

[code]

...when starting storybook and...

[code]

...when viewing the storybook ui (http://localhost:9001). my stories don't load.

fwiw, here's my setup:

[code]

<details>
<summary>addons.js</summary

[2019-07-20 01:46] asheinfeld opened #7495 "Trying to load antd via less"
**Bug Description**
I followed [This guide](https://ant.design/docs/react/use-with-create-react-app#Advanced-Guides) to set up React with antd and typescript. Then I added Storybook using [this tutorial](https://blog.crowdbotics.com/setup-a-react-app-with-typescript-storybook-and-crowdbotics/)

I have a small component like this:
[code]

This component renders perfectly (loading the css from antd)

[2019-07-20 02:48] shilman commented on #6342
Or `--language typescript` per #7492

[2019-07-20 02:48] shilman commented on #7492
Mostly duplicate to #6342

[2019-07-20 02:49] #7492 closed

[2019-07-20 03:32] tryfg45754 opened #7496 "办理国外学历认证＃美国大学文凭＃加州大学伯克利分校文凭#国外文凭认证＃美国留学挂科毕业不了怎么办？"
办理国外学历认证＃美国大学文凭＃加州大学伯克利分校文凭#美国留学挂科毕业不了怎么办?＃国外文凭认证＃，办毕业证，办国外毕业证，留服认证，办美国文凭办理，办澳洲文凭办理，办加拿大文凭办理，办英国文凭办理，办理毕业证，定制成绩单！留学挂科不能毕业怎么办？加拿大留学挂科买毕业证，澳洲留学挂科买毕业证，美国留学挂科买毕业证，新西兰留学挂科买毕业证，英国留学挂科买毕业证，解决各种挂科拿不到毕业证的难题，被开除没有文凭的尴尬！办理毕业证，毕业证书，定制成绩单，毕业证，学历认证，真实可查教育部认证，定制毕业证成绩单，美国毕业证，美国文凭，澳洲文凭毕业证，英国毕业证，英国文凭，加拿大文凭毕业证，新西兰毕业证，国外文凭认证
精英国际文凭俱乐部官网：[www.diplomaclub.net](www.diplomaclub.net)
微信：[jywenping](www.diplomaclub.net)
◇留

[2019-07-20 03:41] shilman commented on #7493
@city41 Sounds pretty weird. I just tested it out in a simple project and wasn't able to reproduce. I did find a corner case bug in the process https://github.com/storybookjs/storybook/pull/7497, but don't think it's related to what you're seeing.

Are there any patterns to which stories are disappearing? Are entire files not loading, or are some stories from files partially loading and others not

[2019-07-20 04:30] Brianzchen commented on #4993
Hey there,

I tried the solution of using a script tag, but it doesn't seem to be working, it's loading with the title that I defined in the script but then it's immediately reverting back to `Storybook`. I imagine there must be some kind of JS code running somewhere that prevents it from staying as the title I define in the manager?

[2019-07-20 04:51] shilman commented on #7404
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.4 containing PR #7459 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-20 04:51] shilman commented on #7486
Crikey!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.4 containing PR #7490 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-20 04:51] #7404 closed

[2019-07-20 04:51] #7486 closed

[2019-07-20 06:45] #6744 closed

[2019-07-20 07:24] shilman opened #7499 "CLI: Update templates to module format"
We're introducing the module story format in 5.2, and should steer new users towards it.

- [ ] Update templates
- [ ] Update load functions
- [ ] Update filenames `*.stories.js`?

[2019-07-20 07:34] MatissJanis commented on #7157
Please don't close this. Angular is broken currently.

[2019-07-20 11:09] feonit commented on #5251
continue the discussion

[2019-07-20 11:47] lonyele opened #7505 "Running some storybook examples not working."
**Describe the bug**
Most of the storybook examples have a white page with an error when `yarn storybook`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any specific framework folders under `examples`
2. `yarn storybook`
3. White page with an error on console
[code]

**Expected behavior**
It should run storybook when `yarn storybook`

**Screenshots**
![nodllerror](https://user-images.

[2019-07-20 14:34] roydipti23 commented on #6674
@Gongreg https://github.com/storybookjs/storybook/pull/7508
not able to add label though

[2019-07-20 14:39] tvvignesh commented on #4958
@daKmoR Any plan to this? Starting a project with Lit-Elements. So, can I follow the tutorials at open-wc for lit-elements or will something change when this is released? Thanks in advance.

Btw, Amazing work with Storybook! It is something which the community really wanted!

[2019-07-20 16:53] shilman opened #7509 "Storysource: Remove peer dep on source-loader"
In 5.2, `@storybook/addon-storysource/loader` has been refactored into an independent library, `source-loader`, which is also used by `addon-docs`.

In the process, `source-loader` was added as a peer dep to `storysource`, which is an unintentional breaking change. h/t @Hypnosphi 🙏

What needs to happen:
- [ ] remove source-loader as a peer dep
- [ ] add source-loader as a direct dep
- [ ] make `a

[2019-07-20 17:23] shilman commented on #5251
FYI, addon-docs is the successor to addon-info and is currently in beta. We'll still take community contributions on addon-info, but most effort will be put into making docs better. To learn more about addon-docs: https://docs.google.com/document/d/1un6YX7xDKEKl5-MVb-egnOYN8dynb5Hf7mq0hipk8JE/edit?usp=sharing

[2019-07-20 20:32] interactivellama opened #7511 "Support for aXe / Puppeteer / storyshot / CI / Jest flow?"
**Is your feature request related to a problem? Please describe.**
No. Other than, trying to make the world a little more accessible! 😉

**Describe the solution you'd like**
I've got code working with Storyshots, but the `addon-a11y` mentions CI integration in its roadmap and add-ons seem more focused on the Storybook UI and not on test suites. Storyshots seems to be focused on DOM and image snaps

[2019-07-20 21:41] sirsavary commented on #6674
@Gongreg I was referring to it as a bug because explicitly telling storybook to bind to my local IP makes it work just fine; so it seems like by default it's binding only to "localhost" but the CLI prints that remote URL is available

[2019-07-20 23:27] ffxsam commented on #6219
This is still an issue.

[2019-07-21 00:13] shilman commented on #6219
@ffxsam knobs 5.2 has been migrated to typescript so the types should be up to date.  Have you tried the beta?

[2019-07-21 00:48] shilman commented on #7511
@interactivellama This sounds awesome. 💯💯💯

I think it would be its own package like `addon-storyshots-puppeteer`, as you suggest. `addon-a11y-ci` to start? It would be good if this new package and `addon-a11y` could share configuration, etc.

And maybe we can refactor & rename the way CI services work as part of a 6.0 breaking change.

[2019-07-21 01:04] Eoksni commented on #5975
@shilman Thanks for the awesome work, this preview-url feature is amazing! One note though: I couldn't manage to get addons to work in such setup. Not sure if I'm doing something wrong or it is not supported yet (or maybe an unrelated bug).

So in my parcel entrypoint I try to add info addon:

[code]

And in the storybook in browser it displays loading state for eternity and in the console there i

[2019-07-21 01:46] shilman commented on #5975
@Eoksni that's possible! Mind filing a new issue so we can follow up on that?

[2019-07-21 01:47] Eoksni commented on #5975
@shilman Ok I'll try to reproduce it in a fresh setup and create new issue later today.

[2019-07-21 01:58] shilman commented on #5975
@Eoksni Ideal repro is in the storybook monorepo itself, since that's where we'll be debugging and iterating. TBH your current comment is probably enough 😄

[2019-07-21 02:08] shilman opened #7512 "Core: Module format `load` accept loader function"
Storybook 5.2 introduces a `load` function that replaces the `configure` function. It currently takes a `require.context` `req` as its argument, and loads those files as either storiesof or module format.

There are a bunch of related issues:
- No longer convenient to load individual files (possible with a glob, but ugly)
- React native cannot support module format since it needs to resolve import

[2019-07-21 02:15] shilman commented on #7499
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.5 containing PR #7503 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-21 02:25] shilman commented on #7388
Fixed in 5.2.0-beta.5?

[2019-07-21 02:25] #7388 closed

[2019-07-21 03:24] LimWJie commented on #3823
Why is this closed?
This is still an issue in version 5.1.9

[2019-07-21 05:37] #6705 closed

[2019-07-21 06:46] steel commented on #6645
Any update on this? Thanks!

[2019-07-21 06:57] shilman commented on #6645
This issue has two parts:

1) Make it easy for users to write MDX files that show up in Storybook but that don't contain any stories #6644. This is work in progress, but has a workaround that's described in the issue.

2) Create doc blocks that help document styleguide-type components, such as colors and typography. These are finished (first versions at least) and available in `@storybook/addon-do

[2019-07-21 10:10] Eoksni opened #7514 "Addon-info doesn't work with --preview-url set up"
**Describe the bug**
Adding addon-info (dunno, maybe it concerns ANY addon, not just addon-info)

[code]

to the configuration of preview makes it break - in the browser it shows infinite loading state and in console there is an error

[code]

**To Reproduce**
Check the minimal setup to reproduce https://github.com/Eoksni/poc-storybook-preview

**Expected behavior**
I expect addon-info to be loade

[2019-07-21 10:13] Eoksni commented on #5975
@shilman Unfortunately I could not set up storybook monorepo - it failed the bootstrap at the node-gyp stage with some compilation errors, so I created fresh repo here https://github.com/Eoksni/poc-storybook-preview (using @storybook/react@next) and created new issue #7514.

[2019-07-21 15:33] #6911 closed

[2019-07-21 15:33] #6568 closed

[2019-07-21 18:11] ffxsam commented on #6219
I generally don't use beta packages, but it's ok since I found a workaround. I'll wait!

[2019-07-21 19:24] Gongreg commented on #6674
@sirsavary:

You just described that this is an issue on your end. Because there is no hidden logic for exposing storybook to outside. If your machine didn't block 7007 port you would access it from the external ip, but you cannot do that, so that implies that you are blocking the port.

[2019-07-21 19:54] barclayd opened #7516 "Auto generate story hierarchy based on local directory structure"
**Is your feature request related to a problem? Please describe.**

I am really enjoying using Storybook. In order to organise my stories, I am using the [React Atomic Design](https://codeburst.io/atomic-design-with-react-e7aea8152957) hierarchy solution, organising the stories in a folder per story within a directory of 'atoms', 'molecules', 'organisms' and 'templates' like so:
[code]

At the mom

[2019-07-21 21:33] #6576 closed

[2019-07-22 01:26] shilman commented on #7516
Related: https://storybook.js.org/docs/basics/writing-stories/#generating-nesting-path-based-on-__dirname

[2019-07-22 01:54] CrashyBang commented on #6726
Hey @backbone87,

So this is an issue with my setup, basically I load each component on demand and create the Vue instance as I need it, hence the `initializeComponent` function.

As you can see as I load each component I pass it a reference to the store at the time:

[code]

Basically there is no "global" Vue instance in my project so each component gets handed the store reference as it is instan

[2019-07-22 02:13] CrashyBang commented on #6726
From what I can tell, I would need to add the store [here](https://github.com/storybookjs/storybook/blob/fbb11ada4cdbe24651e84697d074b4a93771b7e3/app/vue/src/client/preview/index.js#L25) but from what I can see there are no hooks that would enable me to do this, I also doubt this is somewhere that the devs would like to add hooks as it would be pretty easy to mess things up.

[2019-07-22 04:09] shilman opened #7517 "Core: Preserve component ("kind") order on HMR"
When you edit a story name, it is possible for that story (and its component) to change position in the treeview if there is no story sort function.

This is due to the way HMR works. By default, Storybook sorts by load order, but this load order chan change with edits.

I think we to fix this problem as follows:
- Keep an ordering on all "kinds" that we've seen
- Sort on that kind order by defaul