[2020-02-27 11:17] yannbf opened #9973 "Outdated information on README (addons)"
**Describe the bug**
When checking the README of this repo, under the addons section, there are links pointing to pages that don't exist anymore.

**To Reproduce**
Check the links from README:
notes: https://github.com/storybookjs/storybook/blob/next/addons/notes
info: https://github.com/storybookjs/storybook/blob/next/addons/info

**Expected behavior**
Documentation should be up to date

**Additi

[2020-02-27 11:37] kalinchernev commented on #9455
Still relevant

On Thu, 27 Feb 2020, 19:03 stale[bot], <notifications@github.com> wrote:

[2020-02-27 12:02] matteobarone commented on #8375
Hello everyone, any news about this issue?

[2020-02-27 12:42] diondree commented on #9900
@shilman from what I'm seeing it appeared to have happened somewhere between v5.7.7 and v5.3.13.

[2020-02-27 13:41] ndelangen commented on #4475
@graup let me know if you need any help?

[2020-02-27 13:43] connor-baer commented on #9301
Does this [Storybook darkmode addon](https://github.com/hipstersmoothie/storybook-dark-mode) solve your issue?

You can integrate it with your own theme provider or however else you apply the dark mode.

[2020-02-27 13:46] eden-lane commented on #6766
I have the same issue.
My `main.js` file is
[code]

[2020-02-27 13:58] ndelangen commented on #8375
Is this problem specific to Stencil?

[2020-02-27 14:03] #9339 closed

[2020-02-27 14:03] #9167 closed

[2020-02-27 14:12] matteobarone commented on #8375
@ndelangen apparently not.
Seems related to native JS custom events, but also in my case I'm exporting web components through Stencil. I don't know if this is relevant.

implementation:
[code]

output:
[code]

the console.log output is:
[code]

Would be great if the addon could output also the other data.

Thanks for your time.

[2020-02-27 14:29] ckbedwell commented on #9973
I've had exactly the same issue today. I'm new to Storybook and the out of date documentation is very confusing. I don't have any past experience to know what the latest and recommended packages are, so I'm just going through trial and error and trying to work it out via the latest commits.

[2020-02-27 15:58] FarisSum commented on #9746
Hey @shilman

I was able to switch up the background via preview-head.html
[code]

[2020-02-27 16:23] badman-rodriguez commented on #9943
Found out the issue:

I had imported my existing webpack and that was causing issues, specifically with the svelte-loader options.

Might be a good idea to include in the documentation to not use these options :
[code]
That was causing the majority of my problems and it was directly related to the error shown.
 @cam-stitt @plumpNation @rixo

Once i did this:

[code]
Then i was fine, and did not in

[2020-02-27 16:23] #9943 closed

[2020-02-27 16:41] lpoulter opened #9975 "Incorrect Preview shown when importing story into mdx is:open"
I'm using MDX and js stories.
I'm writing my stories in `Dropdown.stories.js` and importing them into `Dropdown.stories.mdx`

[code]

Results in
<img width="793" alt="Screenshot 2020-02-27 at 16 39 31" src="https://user-images.githubusercontent.com/3940567/75464916-cf307700-597f-11ea-94e4-374f570a63a6.png">

Expected Behaviour.

I see the source code of the original story.

[2020-02-27 16:57] afebbraro commented on #6040
Thanks @ZacKeilholz! That worked for me!

[2020-02-27 16:58] ndelangen commented on #9729
Right.. I think it's very hard for the addon to know exactly which queryParams should be removed.

But not impossible..

Would be great to have some help on this, would you be interested in helping out @tredmon ?

[2020-02-27 17:03] #9256 closed

[2020-02-27 18:03] #9336 closed

[2020-02-27 18:04] vvanpo commented on #9964
So my workaround broke with the same error even when I didn't change anything related to storybook.

But I think I figured out the problem, it had to do with `NODE_ENV` not being set or maybe not being set at the right time, and my webpack config not having the `mini-css-extract-plugin` loaded when it expects it in production mode. If I run the reproduction script or the "workaround" with `NODE_EN

[2020-02-27 18:04] #9964 closed

[2020-02-27 18:05] NicolaSansom opened #9977 "Props table not displaying in MDX but does JS"
**Describe the bug**
I have components that have props & defaultProps defined within them but I am unable to get the props table showing when using MDX but can when writing stories in JS.

**Expected behavior**
I expect the Props table to show up in the same way it does when creating the stories within JS

**Actual Behavior**
Component docs is missing the Props table.

**Screenshots**
![js](https:

[2020-02-27 18:32] renet opened #9978 "Exporting stories from MDX files for reuse in other files"
I'm pretty new to Storybook, but for what I know, it's possible to export stories in `*.stories.tsx` for reuse in other story files, tests or whatever, for example like this:

[code]

In my case, I then reuse the export for unit testing with jest:

[code]

But my question is about `*.stories.mdx` files: Is there a way to export/import stories from MDX files to reuse them in other files? I didn't f

[2020-02-27 18:48] dvnrsn opened #9979 "Load storybook bundle with SystemJS"
I realize this is a long shot, but

I'm trying to load a number of modules with SystemJS. I'm doing this so that we can include features from other microservices in our storybook library.

What I've tried is populating `preview-head.html` with a script that obtains and adds an import map to the DOM. Then it fetches SystemJS and addons.

When I add the `config.output.libraryTarget = 'system'` to st

[2020-02-27 18:55] diondree commented on #9900
Actually from further investigation its possible it may have been between 5.3.12 and 5.3.13

[2020-02-27 19:33] lpoulter commented on #9977
Looks like you need to import `Props` from "@storybook/addon-docs/blocks";

[2020-02-27 19:34] lpoulter commented on #9977
Also your js file may be overriding your MDX. Try
[code]

[2020-02-27 19:39] lpoulter commented on #9583
I'm seeing the same had raised an issue will close that. Would be good to get some clarification on this.

[2020-02-27 19:40] lpoulter commented on #9975
Close as dup of #9583

[2020-02-27 19:40] #9975 closed

[2020-02-27 19:51] gromovadarya90 opened #9980 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 21:16] tobiaswahyudi commented on #7745
+1 to the stalebot shooing community!

[2020-02-27 21:25] evanmwillhite opened #9981 "A11y Addon error option"
**Is your feature request related to a problem? Please describe.**
Can we pass some extra options in the a11y addon to allow for errors to be passed actively to the component viewer (like an eslint error)?

**Describe the solution you'd like**
The axe tooling already provides the detail/content we would need, and it would be awesome to have  errors "stop" development (see screenshot below) based o

[2020-02-27 22:01] renata2216 opened #9982 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:21] renata7738 opened #9983 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:24] renata7738 opened #9984 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-28 00:17] shilman commented on #9981
cc @CodeByAlex

[2020-02-28 00:19] shilman commented on #9583
Hope to spend time on this during this 6.0 cycle. This is a dealbreaker for the currently recommended CSF/MDX mix.

[2020-02-28 00:22] shilman commented on #9977
Definitely the lack of `Props` import @lpoulter. Great catch! 💯

Wonder if there's a way to make MDX more strict about that 🤔

[2020-02-28 00:30] shilman commented on #9900
If it's due to a change in 5.3.13, then it's from this PR: https://github.com/storybookjs/storybook/pull/9759/files

@ndelangen can you investigate?

[2020-02-28 00:36] liamsc commented on #6083
@shilman there is no documentation of full-control vs. extend mode in the [docs.](https://storybook.js.org/docs/configurations/custom-webpack-config/)

Could you add that documentation and provide explicit examples of custom vs extended webpack configuration?

[2020-02-28 00:38] shilman commented on #9978
@renet Actually it's already possible, just not especially documented. MDX is compiled to CSF under the hood, so it's importable by the export key, which is basically the camel-cased version of the name:

https://github.com/storybookjs/storybook/blob/master/addons/docs/src/mdx/mdx-compiler-plugin.js#L23-L33

So if you define:

[code]

Then the following should work:

[code]

[2020-02-28 00:46] shilman commented on #9973
Hey @yannbf thanks for volunteering to help here! Storybook is a large and rapidly moving project and we definitely need to get better on the documentation front.

Based on your description above:
- [ ] `Notes` and `Info` should be removed from the documentation, and replaced with Docs examples. I'd be happy to answer questions here.
- [ ] `Docs` and `Queryparams` should be added to the addons sup

[2020-02-28 00:49] shilman commented on #6766
@eden-lane Hmm, the docs preset should set up `DocsPage` automatically? 🤔

[2020-02-28 00:55] shilman commented on #9455
@kalinchernev AFAIK there's no way to do this currently

[2020-02-28 00:56] shilman commented on #7644
Thanks @Hicksmix! Was just about to try this on a project and really glad to hear that it works.

[2020-02-28 00:59] shilman commented on #7149
@kushalmahajan why doesn't it work, and how is it related to this issue?

[2020-02-28 01:00] shilman commented on #9751
@jasongerbes it will if somebody from the community picks it up

[2020-02-28 01:02] shilman commented on #9422
Here's the react example https://github.com/storybookjs/storybook/blob/master/examples/official-storybook/stories/addon-docs/addon-docs-blocks.stories.js

[2020-02-28 01:05] shilman commented on #8928
@kumarharsh if you have ideas about how to do that, I'd be open to PRs

[2020-02-28 01:07] shilman commented on #9669
@mbylstra any chance you can contribute that PR?

[2020-02-28 01:08] Aaron-Pool commented on #9956
@armadillo-dev I think you need to specify in your ts-loader options to use `.vue` files as well as `.ts` files.

[2020-02-28 01:11] shilman commented on #6083
@liamsc Extend mode has been deprecated a year ago. All current documentation should use full-control mode, which is the recommended way to configure webpack since 5.0

[2020-02-28 01:16] liamsc commented on #6083
@shilman can you confirm that this documentation section uses full-control mode?
https://storybook.js.org/docs/configurations/custom-webpack-config/#using-your-existing-config

In addition, you will notice the documentation references "either" yet it only provides one option. Can this be clarified?

[2020-02-28 02:48] armadillo-dev commented on #9956
@Aaron-Pool thank you for you comment.
I removed `@storybook/preset-typescript` package.
And then modified config in `.storybook/main.js`
It working!

[code]

[2020-02-28 02:49] #9956 closed

[2020-02-28 03:05] graup commented on #9956
@shilman Let's add this to the vue docs. Do you think adding a "Using with Typescript" section to the vue guide would suffice? Or should we make the preset more intelligent somehow so this extra step could be eliminated?

[2020-02-28 03:11] shilman commented on #6083
@liamsc https://github.com/storybookjs/storybook/pull/9986

[2020-02-28 03:19] shilman commented on #9956
@graup Good question. I think the best thing would be to make the typescript preset smarter since Vue is one of the major frameworks (React, Vue, Angular) we want to support, and therefore I don't mind hard-coding it in the preset.

[code]

[2020-02-28 03:26] kalinchernev commented on #9455
Hi @shilman in a project where I need this, I have already migrated configurations to latest recommended structure, as well as stories format.

I made a small attempt last week to use the stories glob pattern from the config which was ok, and I also validated that the custom babel config for the storybook is usable outside the storybook (duh :))

In a week or two I plan to setup a webpack to follo

[2020-02-28 03:39] graup commented on #9956
Good, I'll make a PR for this as well then.

[2020-02-28 05:09] kushalmahajan commented on #7149
Oops! Posted on wrong thread. I will update accordingly.

[2020-02-28 05:34] helen798 opened #9989 "hytgfghjuyhghjuyg"
kjuyg juyghyg jhjuhgbhj jhghjhgvb

[2020-02-28 06:07] Azjargal13 commented on #9925
above typescript error is fixed by adding
[code]
in tsconfig.json file.

[2020-02-28 06:07] #9925 closed

[2020-02-28 06:11] shilman commented on #9956
@graup 감사합니다!

[2020-02-28 06:15] shilman commented on #9455
@kalinchernev I'm not aware of any efforts here yet. You've commented on  https://github.com/storybookjs/storybook/issues/9382 which is a similar issue/concern (can I close this and we continue the conversation there?). It should be possible, with work, and @ndelangen would be the right person to collaborate with on this.

[2020-02-28 06:26] helen78989 opened #9991 "I am looking for a guy to fuck ❤️"
I am looking for a guy to fuck ❤️

[2020-02-28 07:36] Jack-Works opened #9992 "feature request: hot reload when files in --static-dir changed"
Like the webpack-devserver option `--watch-content-base`. I found there is no way to modify the config  for devserver

[2020-02-28 08:02] ndelangen commented on #9900
I'm not confident at all that that PR caused this, I'd love to know exactly which released caused this so I can dive in with certainty.

[2020-02-28 08:04] ndelangen commented on #9705
I'll check it out.

[2020-02-28 09:23] eden-lane commented on #6766
[This doc](https://github.com/storybookjs/storybook/tree/master/addons/docs#installation) says nothing about preset so I didn't use it (I tried but it didn't work, so I just followed the steps from docs)

[2020-02-28 09:25] Vol4n3 commented on #9802
Sorry, this bug is due to a misuse of the event subscribe in the decorator, event was overwrite that is why only last child change.

Sorry again

[2020-02-28 09:25] #9802 closed

[2020-02-28 09:28] NicolaSansom commented on #9977
That was it! Seems so obvious now. Thanks @lpoulter

[2020-02-28 09:28] #9977 closed

[2020-02-28 09:42] kumarharsh commented on #8928
Okay, will look into it next week :)

[2020-02-28 10:02] shilman commented on #6766
@eden-lane this line is the preset:

[code]

[2020-02-28 10:07] ivoiv commented on #9766
Bumping this as it's still relevant.

[2020-02-28 10:53] dkleber89 commented on #9948
Hmm... Faster than me ... Thanks

[2020-02-28 10:53] #9948 closed

[2020-02-28 11:03] thany opened #9995 "Replacing DocsPage doesn't work"
**Describe the bug**
I'm trying to replace DocsPage. I just want to change some styling, and it appears to be possible by replacing DocsPage with another component. At least that's what I'm trying to do. It doesn't work. No error. No warning. Builds absolutely fine. Everything works. DocsPage just simply isn't getting replaced.

[It says right here](https://github.com/storybookjs/storybook/blob/8b

[2020-02-28 12:19] dcsw commented on #7770
Removing all yarn/npm storybook packages and then re-adding them worked for me.
Many thanks for the tip @an-parubets.

[2020-02-28 12:44] alexweber commented on #7149
try 5.3.12 that's the version I verified the functioning workaround :)

[2020-02-28 12:55] Benwick91 opened #9996 "Module build failed with MDX files: Unexpected token"
**Describe the bug**
My mdx files fail after upgrade to Storybook version 5.3.14. In Storybook 5.3.9 everything works fine. I have no empty lines in my MDX files.

[code]
**Expected behavior**
The building of my mdx files.

**Code snippets**
Here my main.js and my webpack.config.js. I get it only work in 5.3.9 with both files. perhaps here is the problem.

My main.js:
[code]
My webpack.config.js:

[2020-02-28 12:58] thany commented on #9575
This fixes some situation for me. Why does this matter???

[2020-02-28 13:54] thany commented on #9592
Importing react like that seems to fix *some* situations for me. Not all.

Here are a few more situation where it magically doesn't work.

## Union interfaces
No props found for this component:
[code]
If I change this to:
[code]
Then the props from `IModal` are displayed. `ISpacingComponent` is defined like so:
[code]
So there's nothing too special about it. Typescript loves this, and intellisense

[2020-02-28 14:21] WilliamIPark commented on #8675
I run into this today. Just to make the "whitespace issue" more clear, the fix was to add an empty line in between my imports and the `<Meta />` component

[2020-02-28 14:26] Sidnioulz commented on #7644
Building up on this, if you want to import `.md` files in the MDX loader by adding a rule to your `webpackFile` export in `main.js`, you'll need to filter out the original rule for `.md` files, like so:

[code]

Note that import `.md` files and rendering them as MDX seems to be the only way to have coloured source code blocks in Storybook. Using `<Description ... />` or `<Markdown>...</Markdown>`

[2020-02-28 14:49] thany opened #9997 "Defaults in props tables when using typescript"
**Is your feature request related to a problem? Please describe.**
The props tables have a column "Default" which is almost always empty. Since I'm using typescript, I have no need for `propTypes` and `defaultProps` in my components. But I don't see a way to expose a default value for a prop to storybook. Defaults are either implied by the implementation, or they are in a destructuring of the `pro

[2020-02-28 15:15] thany commented on #9511
If I add an export, I get only two props in the props table: `ref` and `key`. Both are not useful to display there. I actually have a whole interface defined that is still completely ignored.

[code]

At least the error is gone, but we're not there yet.

[2020-02-28 15:16] yannbf commented on #9973
Thanks for the quick reply @shilman ! Regarding `Notes` and `Info` addons, shouldn't there be some information for whoever is still using them?
Maybe some guides like: If you're using those, please consider moving to `Docs` instead, pointing to that [blogpost](https://medium.com/storybookjs/storybook-docspage-e185bc3622bf) of yours?

[2020-02-28 15:20] thany commented on #9626
@shilman

What if you write it like this:
[code]
Because it might be neccesary to maintain access to the full `props` object, e.g. for passing it on to a child component.

[2020-02-28 15:31] thany commented on #9592
As for the "Union interfaces" situation, it seems to purely be the fact that I'm pulling intefaces from another module. Again, why does that make any difference at all? Who cares where my interfaces live? Should I repeat them in each and every component where I use them? Surely that's not the most productive solution...

Just throwing this into the mix, not sure if it adds anything valuable to dia

[2020-02-28 16:10] sidhuko commented on #9575
Some issue in: https://www.npmjs.com/package/storybook-addon-react-docgen

A contributor said it they will be removing for the react-docgen package directly in Storybook v6. There are still caveats using my fix. On other issues I think they have made suggestions on how to implement react-docgen in v5.

[2020-02-28 16:27] JKillian commented on #9997
@thany, defaults work for me most of the time with TypeScript. If I have code like this:

![image](https://user-images.githubusercontent.com/1400151/75566140-35b7a280-5a1d-11ea-97c3-feba66807472.png)

I get output like this:

![image](https://user-images.githubusercontent.com/1400151/75566168-3fd9a100-5a1d-11ea-92c1-4f50269d89ad.png)

As you can see, the default value for `placement` correctly sho

[2020-02-28 16:35] dfagan2 commented on #9422
Thanks @shilman !

I'm still a little unsure how to translate that to an Angular Storybook though. Mirroring that example, I get the following error:

[code]
...for code:
[code]

[2020-02-28 17:15] nategreen opened #9998 "Strange behavior when passing single files to -s"
**Describe the bug**
When attempting to pass single files to the `-s` parameter of `start-storybook` or `build-storybook`, it didn't fail (with an error message), but:

- `start-storybook` started and built normally, but when visiting the local URL, a file called "download" was downloaded and the page wasn't shown.
- `build-storybook` didn't include the static assets listed but otherwise ran norma

[2020-02-28 22:28] Vanuan commented on #3809
I think the issue here is that story files are loaded before the first `describe`.

Most likely you have `new Date()` in the body of stories.

So move the date creation into the function. If you had this:

[code]

change it to this:

[code]

[2020-02-28 22:32] Vanuan commented on #3809
Also, be sure you have the mock before any module is imported. In you jest config:

[code]

And mock the date in that `./jest.setup.js` file:

[code]

[2020-02-28 22:34] Vanuan commented on #3809
So 2 things to remember:
1. Your mock should be installed before `moment` is loaded (which memoizes the reference to the real Date object)
2. No date creation should be executed in the body of your modules. I.e. no `Date` singletons, only factories.

[2020-02-28 22:40] sunlanterns opened #10000 "Embed MDX Docs into Gatsby"
**Is your feature request related to a problem? Please describe.**
So I noticed in this blog post [here](https://medium.com/storybookjs/rich-docs-with-storybook-mdx-61bc145ae7bc#78bb) that it mentions being able to embed the new mdx docs into gatsby at some point. But I went looking for some reference to that here in github that I could try to subscribe to and keep an eye on and didn't see anythin

[2020-02-29 02:40] #8821 closed

[2020-02-29 02:40] #9353 closed

[2020-02-29 02:40] #9352 closed

[2020-02-29 03:36] ljsherlock commented on #6974
Hey guys.

First I want to thank @jimmy-e for opening this issue and everyone else subsequently adding to it as I wouldn't have figure out my particular situation related to this.

I hope this helps someone else with a similar issue.

I started off following some of the advise above (adding the eslint options to webpack.config.js). This didn't work for me (although I'm already using a custom webpa

[2020-02-29 07:50] shilman commented on #10000
Integrating cleanly with Gatsby is definitely one of my goals for addon-docs. I've been working on getting the basics working smoothly before taking that on, but if anybody wants to give it a shot, I'd be happy to advise.

[2020-02-29 07:58] shilman commented on #9998
@nategreen the argument to `-s` should be a directory filled with static files, not a single file

[2020-02-29 08:01] shilman commented on #9422
@dfagan2 are you using the `configureJSX: true` option in the docs preset?

https://www.npmjs.com/package/@storybook/addon-docs#preset-options

[2020-02-29 08:06] shilman commented on #9575
Correct. We'll be recommending react-docgen in SB 6.0. Still working out the details!

[2020-02-29 08:17] shilman commented on #9973
Good point @yannbf. I've been posting transition information on every info/notes-related issue for the past year, but it would also be great to add that to the README.

There's some migration instructions here (that can probably also be improved): https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/recipes.md#migrating-from-notesinfo-addons

[2020-02-29 08:20] shilman commented on #7644
@Sidnioulz what about `Source` blocks?

[2020-02-29 08:22] shilman commented on #9996
@Benwick91 can you bisect to figure out exactly which version broke it?

[2020-02-29 08:29] shilman commented on #9995
Do you have a repro? Working for me in `official-storybook` and every other project I've tried.

[2020-02-29 10:08] apsychogirl commented on #9973
Hi, Can I help in improving the documentation?

[2020-02-29 10:45] jurgenbosch commented on #9786
@rdhainaut No so far I have not found a solution so working without SFC's.

[2020-02-29 11:46] abel-n opened #10001 "Ember Octane support"
### Bug or support request summary

I tried to set up Storybook with a new Ember application, with no success. I might be missing something but I think this might be related to Ember Octane being released and the many changes it brought, like native class syntax, angle bracket invocation, etc.

[Here is a repo](https://github.com/abel-n/storybook-ember-cli-test) with one component and a story tryi

[2020-02-29 13:29] nategreen commented on #9998
Yep, I figured that out…I guess maybe it's not a bug per se, but I would've expected it to fail somehow, instead of building "successfully," since that's the case. The lack of errors made it kind of tricky to figure out what was wrong.

[2020-02-29 15:59] rollrodrig commented on #3386
I have the same error

"@types/storybook__addon-knobs": "^5.2.1",
"@storybook/addon-knobs": "^5.3.14",

[2020-02-29 16:20] dfagan2 commented on #9422
@shilman I am, yeah, here is my `main.js` file:

[code]

[2020-02-29 20:23] yannbf commented on #9973
@shilman thanks for the info. I believe the migration instructions could indeed be improved, also showing how to move away from the previous addon if possible.

Regarding the addons table, I'm wondering what is the best way to display information. Would it be best to:
1 - remove deprecated addons from the tables
2 - keep deprecated addons but without a link, and a text saying it's deprecated
3 - h

[2020-03-01 00:11] #9175 closed

[2020-03-01 00:18] shilman commented on #9973
Yeah, docs should work with every framework except react native! 😄

Re: addons table, I like option 3. We'll be deprecating more addons in the future and it would be awesome to have a nice setup for this. Thanks so much for driving this!

[2020-03-01 00:51] CodeByAlex commented on #9981
I like this a lot and while the addon wasn’t originally intended to stop development, I could see how this could be a neat feature to make the errors more well know to the dev if they opted in. Would you an your team want to tackle this addition @evanmwillhite?

[2020-03-01 03:11] shilman commented on #9422
@igor-dv any chance you can take a look at why `configureJSX` isn't working here?

[2020-03-01 11:52] RyanHavoc opened #10004 "Extend component knobs into another component"
**Is your feature request related to a problem? Please describe.**
I want to know if it's possible to extend the knobs from one component into another component. For example I have a `BaseAnchor` component with knobs setup. I also have a `BaseAnchorIcon` component which has all the same props a `BaseAnchor` plus an additional `icon` prop.

**Describe the solution you'd like**
I'd like to be able t

[2020-03-01 12:27] tmeasday opened #10005 "Clearing global decorators / parameters does not work properly on HMR"
**Describe the bug**
There are few problems with the way global parameters&decorators work, some more problematic than others:

1. When you HMR and change global parameters (or decorators) we do not reload all stories so they don't actually change for the loaded stories.

2. We never clear global parameters so they accumulate over HMR.

3. We do clear global decorators (when reloading a `preview.j

[2020-03-01 15:35] mrmckeb commented on #9777
@bobsilverberg, sorry for the slow response. I was looking into this today and it looks like you're not using the preset for Create React App, but instead relying on the deprecated _built-in_ preset.

Have you tried using the new standalone preset?
https://www.npmjs.com/package/@storybook/preset-create-react-app

[2020-03-01 16:04] mrmckeb commented on #9681
Hi @boatcoder, I'm going to close this one off - and I'm sorry you hit this issue, I'm sure it was annoying to debug.

If you want to take a look at adding support for config-overrides to the CRA preset, that would be great.
The project is here: https://github.com/storybookjs/presets

[2020-03-01 16:04] #9681 closed

[2020-03-01 16:06] mrmckeb commented on #9800
Hi all, is this still an issue? Or can we close this off?

[2020-03-01 16:10] mrmckeb commented on #9946
Hi @gsklee, good question - CRA provides Jest config through `package.json`. Does that work for you?

If not, let me know and we'll try to sort this out.

[2020-03-01 16:11] mrmckeb commented on #9670
Hi @Tasemu, is this still an issue or can we close this off? Thanks!

[2020-03-01 16:16] mrmckeb commented on #9666
This is actually an issue in CRA itself from memory. This happens because the [`fork-ts-checker-webpack-plugin`](https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/issues) is running against more files than just stories.

In the preset for CRA, we simply lift that config and use it. We don't exclude files.

I'm not sure there is an easy fix - but we'd welcome a PR @AndrewPrifer. We'd nee

[2020-03-01 16:17] mrmckeb commented on #9514
Hi @Nber1 and @noelblaschke, if either of you can provide a repro repo, I can take a look and try to find a solution for you. Just let me know!

[2020-03-01 16:19] mrmckeb commented on #9327
Hi @kevin940726, that PR was merged and you should be able to continue this work now. Let me know if you hit any other template issues - as I was the one that built that feature, I can hopefully help!

[2020-03-01 16:41] AndrewPrifer commented on #9666
@mrmckeb I see that fork-ts-checker has a reportFiles option that accepts a glob. If there’s a more or less simple way to modify the lifted CRA config (I imagine there should be), I think we could just pass Storybook’s glob directly to it. What do you think?

[2020-03-01 16:48] mrmckeb commented on #9666
I'd argue that only type checking stories may not be expected behaviour.

I personally would expect an error if my component had type errors. This is why I think the issue is complex.

[2020-03-01 16:49] AndrewPrifer commented on #9666
@mrmckeb oh I see my error. Makes perfect sense. This way modules imported in stories would be excluded too.

[2020-03-01 16:54] AndrewPrifer commented on #9666
@mrmckeb I see why this is complex now. The whole idea of fork-ts-checker is that it doesn’t traverse the dependency graph so sadly this sounds pretty impossible to do properly indeed.

[2020-03-01 16:55] amimas opened #10006 "Missing docs on webcomponent"
**Describe the bug**
It's not exactly a bug report on storybook but not feature request either. Not sure what category it belongs.

I believe webcomponent support is now available as of version 5.3. But I still don't see any docs/guides in the official docs site about webcomponent.

Any info available or is webcomponent support not officially released yet?

[2020-03-01 17:34] kevin940726 commented on #9327
@mrmckeb Great! I'm wondering should we target this for 6.0 release though, as part of the features we can announce?

[2020-03-01 17:56] shilman commented on #10006
Closing as dupe to #9693

[2020-03-01 17:56] #10006 closed

[2020-03-01 21:52] serusko commented on #9809
same problemy,
my main.config

`const path = require('path');

module.exports = {
  stories: ['../src/**/*.stories.tsx'],
  addons: [
    {
      name: '@storybook/preset-create-react-app',
      options: {
        tsDocgenLoaderOptions: {
          tsconfigPath: path.resolve(__dirname, '../tsconfig.json'),
        },
        tsLoaderOptions: {
          configFile: path.resolve(__dirname, '../tsc

[2020-03-01 22:54] jamime opened #10007 "Custom addon not working on Windows."
**Describe the bug**
I have a custom addon loaded from my `main.js` file. This works fine on Mac but fails on Windows with "Cannot use import statement outside a module". Looking at `@storybook\core\dist\server\presets.js`, it's probably `node` related rather than `storybook` but I wanted to check here first.

[code]

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. On Windows 10 system

[2020-03-01 23:58] splitinfinities commented on #9900
I'm getting the same issue when building this repo: https://github.com/splitinfinities/Stellar/tree/beta.

View the source here, but this is the result of the build. https://midwest.splitinfinities.now.sh/iframe.html?id=ui-accordion--default

The type attribute is totally removed... I want to help find out where this is, I think it's in some HTML minimizing package that must be happening in webpac

[2020-03-02 05:17] mrmckeb commented on #9666
I mean that there's no easy solution (that I can think of)... But if you do have a good idea, or want to create a PR with some ideas, please do and tag me 🙂

[2020-03-02 05:26] tmeasday opened #10008 "Remove `setAddon` code"
Remove the `setAddon()` code from `client-api` and any addons that still use it.

[2020-03-02 05:27] tmeasday opened #10009 "Support async stories"
Consider supporting "async" stories in 6.0. What this may imply:

 - [ ] Adding new events for "story finished rendering async" (if needed)
 - [ ] Add UI to render something (spinner?) during async story loading, using event above.
 - [ ] Ensuring all frameworks support it "natively" (where possible) -- for React this means making stories/decorators non-"react"
 - [ ] Updating addons that care abo

[2020-03-02 07:50] mrmckeb commented on #9327
I'd be OK with that.

I'd like that we encourage stories alongside components in this template too.

What do you think?

[2020-03-02 07:56] baeharam opened #10010 "What is the type of storyFn?"
I'm using storybook with typescript, but I cannot find the type of `storyFn` function.
How can I write the type of this function? Is it just `any` type?

[2020-03-02 07:59] baeharam commented on #10010
I found it from `import { StoryFn } from '@storybook/addons';`

[2020-03-02 07:59] #10010 closed

[2020-03-02 08:12] mbylstra commented on #9669
I started a branch but it was very unfinished and I haven't had a chancee to revisit. The hard part was making the test suite (and refactoring it it run tests for Typescript as well as JS). The fix itself is just:

- replace "Literal" to "StringLiteral"
- remove the prettier code (it's unecessary and does not work in Typescript)

But then it will only work in Typescript, not JS, so it needs a cond

[2020-03-02 09:34] Sidnioulz commented on #7644
@shilman the issue with those is that I'd need to take the string from the `raw-loader` and manually extract code blocks from my Markdown. I did this at some point and loaded my code samples into CodeOrSourceMdx blocks, but I couldn't find how to display my mixed Markdown and JSX content.

I could've insisted and found some way to export my content but it felt silly that I had to parse MD manually

[2020-03-02 10:24] thany opened #10011 "addon-docs: ${...} in code block is executed"
**Describe the bug**
In a code block in MDX, inserting `${var}` is executed(-ish) and replaced by something that's not useful. There doesn't appear to be a way to escape it, and it shouldn't be neccesary anyway. This worked fine in Storybook 5.2.x but this bug may have creeped in at a later time.

This example MDX snippet:
[code]
Will be displayed as:
[code]
I've tried to escape it with `\${displa

[2020-03-02 11:01] darondel-yoobic commented on #9900
We have the same issue in our project:
- Upgrading to 5.3.13 failed at first. We used to update Storybook dependencies all at once (`npm i -D @storybook/html@latest @storybook/addons@latest ...`). Then we figured out that updating them one by one made the build work. Very weird, I guess there is something wrong with one of your own dependency.
- Upgrading to 5.3.14 just failed, whatever the update

[2020-03-02 11:14] kushalmahajan commented on #7066
Verified on 5.3.7 and 5.3.14 to be not working. Canvas tab is still visible

[2020-03-02 11:15] AndrewPrifer commented on #9666
@mrmckeb I'll let you know if I come up with something but I can't think of anything that wouldn't cause a considerable performance degradation. The way I see it we'd necessarily have to wait for Webpack to finish compiling to have the correct list of files to type check, which is not ideal. In the meantime I'll close this issue so it doesn't take up space. Hopefully we can reopen it in the future

[2020-03-02 11:15] #9666 closed

[2020-03-02 11:23] eduina commented on #7066
Then I am not sure what was even achieved in this PR

[2020-03-02 12:17] kushalmahajan commented on #7066
Waiting for this release desperately now. I'm almost done with the upgrade after holding this update for long. @shilman migt know my history of bugs raised with `addon-info`.  Off it goes from my project.
Successfully updated. Beautiful usage of `CSF` and `docspage`. Loved it!

Please speed this release if possible. Dependent on it.

[2020-03-02 12:23] ndelangen commented on #9455
@kalinchernev I've been giving the following some thought recently:

What if storybook had a command to generate a `data.json` which would include the stories? Would that help your case?

[2020-03-02 12:40] thany commented on #9997
I can't write all of my component with destructured props. Sometimes I need the individual props, *as well as* the whole `props` object, e.g. to pass it on to a child component/element. In this case, there seems to be no way for Storybook to figure out the default values.

Example:
[code]

I *could* add `children` and `error` in this case explicitly to a child component, but that's not DRY, and it

[2020-03-02 13:11] kalinchernev commented on #9455
The task at hand for me at the moment is to generate HTML files for teams
to compare markup between different language implementations in different
instances of storybook. Like between React and Twig.

What would the data.json look like?

On Mon, 2 Mar 2020, 20:23 Norbert de Langen, <notifications@github.com>
wrote:

[2020-03-02 13:12] kalinchernev commented on #9455
Clarification: comparison of components between implementations.

On Mon, 2 Mar 2020, 21:11 Kalin Chernev, <kalin.chernev@gmail.com> wrote:

[2020-03-02 13:14] lednhatkhanh commented on #8134
Same for me, the props table is empty

[2020-03-02 13:20] ndelangen commented on #9773
Ok, so the consensus is to make this a breaking change in 6.0 to make it always relative to the `main.js` file.

[2020-03-02 13:20] kushalmahajan opened #10017 "Docspage picks single type from a union from Typescript interface"
Okay. Let's say I have this code

[code]

However, the `docspage` `props` shows only ReactNode

I have added a screenshot of the same.

<img width="1029" alt="Screenshot 2020-03-02 at 6 49 00 PM" src="https://user-images.githubusercontent.com/11805936/75680006-a9281100-5cb6-11ea-8bfa-b8d7ecf91ad2.png">

You may notice the `shape` prop shown properly. It is not a direct union but a string tuple.

*

[2020-03-02 13:28] kushalmahajan opened #10018 "Custom props in CSF story format"
I use typescript and it would be nice to have custom props to add instead of automatic parsing.

Here

[code]

There are some cases where we merge `React.HTMLAttributes` and custom props for a component.

Example -

[code]
In such a case, earlier in story API format, I was handling this via my custom TableComponent just for that specific component story. However, can't see any options for in CSF f

[2020-03-02 13:52] ndelangen commented on #9900
on which `script` tag would you expect a `module` type? on the bundles generated by webpack?

[2020-03-02 14:01] ndelangen commented on #9455
@kalinchernev I think you could use storyshots for this purpose?
https://github.com/storybookjs/storybook/tree/next/addons/storyshots/storyshots-core

[2020-03-02 14:05] darondel-yoobic commented on #9900
Yes, the issue concerns additional scripts set in `preview-head.html`. We have the same thing.

[2020-03-02 14:27] kalinchernev commented on #9455
The projects are in different repositories. One is
https://github.com/ec-europa/europa-component-library and another is
https://github.com/ec-europa/ecl-twig

I tried the storyshots few months ago for regression testing in the first
one, but wasn't quite successful and the setup wasn't accepted in the main
branch.

I also checked it's code few weeks ago trying to imagine using part of its
APIs for

[2020-03-02 14:27] jugglingcats commented on #9923
Am also hitting this issue. Our library has a few providers and a number of `useSomething` convenience methods that `useContext` under the covers. We'd like to show example code snippets and this issue prevents this. For example, we'd like to have a story such as:
[code]
Using the long form doesn't really work because `usePrefs` uses `useContext` but we don't really want to show that.

[2020-03-02 14:28] ndelangen commented on #9900
Ok, I'll investigate

[2020-03-02 14:29] ndelangen commented on #9455
@kalinchernev I'd be open to an online meeting discussing this, and perhaps helping you in the right direction.

https://calendly.com/ndelangen/storybook

[2020-03-02 14:53] kalinchernev commented on #9455
Many thanks, sent a suggestion, please adjust to your preference!

Much appreciated!

On Mon, 2 Mar 2020, 22:30 Norbert de Langen, <notifications@github.com>
wrote:

[2020-03-02 15:00] aericson commented on #9777
worked for me, thanks!

[2020-03-02 15:03] evanmwillhite commented on #9981
Yay! Thanks for the feedback, and yes, we can definitely poke at it from our end @CodeByAlex. I'll see what progress we can make this week.

[2020-03-02 15:20] lucaswerkmeister opened #10019 "Knobs seem slow to update"
**Describe the bug**
When using the knobs addon to test a timing-dependent component (a loading bar that should appear/disappear after a certain time), we found that changes to the knobs seem to propagate rather slowly, compared to our previous solution (a plain `<input type="checkbox">` with `v-model`).

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the brief reproducer at https://gi

[2020-03-02 15:37] soullivaneuh commented on #9769
Up to avoid closing.

Do you have any feedback/question about this?

[2020-03-02 15:50] diondree commented on #9900
I've also been trying to go back to a previous version to see if one worked but no such luck which does lead me to also believe the issue is from one of your dependencies.

[2020-03-02 16:05] SergeyMell commented on #3828
Hi @doroncy, how did you manage to add StoryBook to a hybrid application? Is there any manual regarding this? Any help is appreciated.

[2020-03-02 16:27] XoBpawok opened #10024 "@storybook/addon-viewport scale"
at first defaultViewport was broken at version 5.3.4
but anyway...I installed ^5.3.0-rc.1

so I add 1920x1080 but it was not fit into my storybook browser window as I have right column with components and bottom panel with knobs.
when I press "Zoom In" or "Zoom Out" at the viewport toolbar it scales only viewport content but I cannot scroll it to see other content.
is there some way to get scaled

[2020-03-02 16:38] ufollettu commented on #6766
I have a similar issue using web-components and knobs addon. The Canvas tab works fine, but the docs tab pointing to `?path=/docs/zbutton--primary` raise the error

**Cannot read property 'fromId' of undefined**

![image](https://user-images.githubusercontent.com/12939926/75694948-99560000-5ca9-11ea-953a-86a7f70b274a.png)

I have this story file:

[code]
This is the `.storybook/main.js` file:

[co

[2020-03-02 16:38] mbulfair commented on #9900
My guess would be https://github.com/jantimon/html-webpack-plugin#minification the minify is being set to true if the mode is production which defaults to:

[code]
`removeScriptTypeAttributes: true,` is probably it.

Can we change this value through custom webpack config in anyway?

[2020-03-02 16:44] dsarfati commented on #9564
@salomvary We ended up doing what @zero298 suggested and setting `"homepage": "./"` with a build script when we build storybook and leave it to the normal value when creating the CRA build.

[2020-03-02 16:56] darondel-yoobic commented on #9900
Nice catch!

Using `html-minifier-terser` 5.0.2, `type="module"` is still there.
Using the 5.0.3+ version, `type="module"` is removed though minification.

I bet [this PR](https://github.com/DanielRuf/html-minifier-terser/pull/29) causes the issue. `module` type is now part of the `removeScriptTypeAttributes` option, don't know if it's intended though.

[2020-03-02 16:57] darondel-yoobic commented on #9900
Looking at [this issue](https://github.com/DanielRuf/html-minifier-terser/issues/31), it seems intended.

[2020-03-02 17:04] soullivaneuh commented on #9769
Another use case on a story using tailwind config:

[code]

Got:

[code]

I don't think this is related to my config file. Currently, it's required on svelte file without any error.

[2020-03-02 17:22] lucaswerkmeister commented on #10019
This might be a feature instead of a bug? ^^ It sounds like some debouncing was added in #5811, though I didn’t spend too much time looking through the history.

I briefly tried to switch the debouncing to the leading edge, instead of the trailing one, by adding a `{ leading: true, trailing: false }` third argument to the `_debounce` call in `node_modules/@storybook/addon-knobs/dist/registerKnobs.

[2020-03-02 17:28] soullivaneuh commented on #9769
The issue seems to come from this code block of tailwind.config.js:

[code]

[2020-03-02 17:30] wiese commented on #10019
Looked at the reproducer in dev tools.
It appears the event gets debounced (mind the `leadingEdge`) - the browser is not busy computing the new result, but rather waits to do so.

![Bildschirmfoto von 2020-03-02 18-12-00](https://user-images.githubusercontent.com/167557/75700761-e4284580-5cb2-11ea-923f-7f1f4a433bf5.png)

I have a hard time coming up with a scenario where it would have a detrimenta

[2020-03-02 17:34] soullivaneuh commented on #9769
Also tried:

[code]

And even:

[code]

It seems `Object.assign` is the problem, but I don't know why.

[2020-03-02 17:48] Nabellaleen opened #10025 "Problem to configure <base> to let storybook access statics in a subdirectory"
**Describe the bug**
I expose storybook behind a subpath on my website : `/storybook/`
So, as suggested in the [doc](https://storybook.js.org/docs/configurations/serving-static-files/#absolute-versus-relative-paths) for absolute path usage, I've tried to use `<base>` HTML element to define the base path of my statics

This is also mentionned in https://github.com/storybookjs/storybook/issues/7775

[2020-03-02 18:45] alanshortis opened #10026 "Addon-docs: Override generated code snippet."
Part of my system is to show typography, and something I would like to do is wrap my tags in a div with `contentEditable` so that the sample text can be edited. This works well, expect my wrapping div appears in the genrated code snippet as they're also children of the `Preview` and `Story` componnents.

[code]

As above, the code snippet would inclide my `Editable` wrapper but this isn't somethin

[2020-03-02 18:51] diondree commented on #9900
I can also confirm that it works on that version.

Not exactly what the real workaround should be but a temp fix would be to install `html-minifier-terser` as a dev dependency and lock it to version 5.0.2.

[2020-03-02 19:19] hisapy commented on #7223
Hi, I have just installed Storybook 5.3.14, addon-docs and addon-storyshots and tried to run Storyshot.test.js, all of it as given in the instructions for this version, but it fails with

` storyshots found 0 stories`

I have only one story in **src/Home**

[code]

Just for the record, .js format works

[code]

I debugged it a little bit and found that `storybook.raw()` length is 0 in `https://git

[2020-03-02 20:00] jasonleibowitz opened #10027 "Storybook Won't Compile - React Syntax Highlighter Loader Issue"
**Describe the bug**
I have a React/Redux application using TypeScript with a custom Webpack config (not CRA). I'm using ts-loader and not babel as the loader for TypeScript.

Following the instructions for both [automatic setup](https://storybook.js.org/docs/guides/guide-react/), and also manual setup for Storybook `v5.3.14`, when I run `npm run storybook` I'm getting a ModuleParseError saying th

[2020-03-02 20:06] boatcoder commented on #9681
My main reason for commenting on it was to save other people time.  Not sure if I'll be able to deal with the preset or not due to some other time constaints.

[2020-03-02 20:57] ndelangen commented on #9242
Waiting for emotion-js/emotion#1731 to be released

[2020-03-02 20:59] ndelangen commented on #9830
Is this fixed in the newest alpha release?

[2020-03-02 21:02] ndelangen commented on #9475
Happy to help you fix this bug if you want, schedule a meeting with me?

https://calendly.com/ndelangen/storybook

[2020-03-02 22:40] visualjerk commented on #9768
@rdhainaut thanks for pointing out that solution. Maybe we will give it a try and see how it works with multiple stories in one docs file.

@Aaron-Pool After working on the feature request for a while I can give a quick update:

## 1. Implementation

The current implementation uses babel parser, which unfortunately does not support custom plugins: https://babeljs.io/docs/en/babel-parser#will-the-b

[2020-03-02 22:42] gsklee commented on #9946
@mrmckeb unfortunately nope.

[2020-03-02 23:40] shilman commented on #9809
As a temporary workaround you can disable the source-loader:

[code]

I think this might be fixed with the new source loader available in 6.0-alpha, have you tried?

[2020-03-02 23:44] CodeByAlex commented on #9981
@evanmwillhite it might be cool if you could show some type of error state but still display the component. One of the cool features about the a11y addon is that it points out the failed a11y rule on the component so having a hybrid approach could be neat. @domyen do you have any ideas about this from the design perspective?

[2020-03-03 01:43] maurice-mf commented on #1622
Just to add a flavour or a different approach.
This worked for me specifically;

`
const animalOptions = {
  Monkey: <img src="images/animal-monkey.svg" />,
  Elephant: <img src="images/animal-elephant.svg" />
};

interface IImageWrapper {
  image: any;
}

const ImageWrapper = ({ image }: IImageWrapper) => {
  return <MyCoolComponent>{animalOptions[image]}</MyCoolComponent>;
};

export const Anima

[2020-03-03 02:52] VladimirPittner commented on #10026
Hi,
I think what you are looking for is prop `mdxSource` of `Preview` that will let you pass custom "source code" -> https://github.com/storybookjs/storybook/blob/v5.3.14/addons/docs/src/blocks/Preview.tsx#L15

[2020-03-03 03:13] kevin940726 commented on #9327
@mrmckeb You mean putting `Button.js` and `Button.stories.js` in the same directory? I'd love that, personally I've never used an universal `stories` folder ever. Either putting them inside the same directory, or following the convention in `Jest` and put stories inside a nearest `__stories__` folder along side the component. It could be too complicated for a template to do the latter though, in p

[2020-03-03 06:27] kushalmahajan opened #10030 "CSF format stories disappear after some change - Hot reloading"
I have started to migrate to CSF format stories one by one. What I realised is that I have to reload manually to see my migrated stories.

Steps to reproduce the behavior:
1. Change the API from `storiesOf` API format to CSF format.
2. Check the left side for your components
3. Congrats, you can't see
4. Refresh the page and you can.

**System:**

Environment Info:

  System:
    OS: macOS 10.15.2

[2020-03-03 06:31] kushalmahajan opened #10031 "docgen comments in CSF format stories not displaying"
**Describe the bug**
As per [docs](https://github.com/storybookjs/storybook/blob/master/addons/docs/docs/docspage.md#subcomponents-parameter)  the `docgen` comments should display. I wrote them in the exact format and the right place and couldn't see them above my story.

[code]
**System:**
Environment Info:

  System:
    OS: macOS 10.15.2
    CPU: (4) x64 Intel(R) Core(TM) i5-5257U CPU @ 2.70GHz

[2020-03-03 07:01] ganapativs commented on #6885
It would be nice if someone from the storybook team can help fix this issue on priority. It's been a long time since the issue was opened. I can spend some time on it if needed.

As mentioned earlier, we have many components(150+). We want to speed up the dev process and make components discoverable using the storybook. This feature is crucial for us to use the storybook efficiently 😅

[2020-03-03 07:08] izhan commented on #8527
Hey folks – long-time watcher of this thread here! I ended up creating a trivial Webpack loader a while back that got the job done. I only now had some extra time to put it on Github, which you can find [here](https://github.com/izhan/storybook-description-loader).

**Code**
[code]

**Output**

![](https://cl.ly/ec53a39ae2c9/Image%2525202020-03-02%252520at%25252010.50.55%252520PM.png)

Definitely

[2020-03-03 07:33] kushalmahajan commented on #9050
Facing the same issue

[2020-03-03 08:02] dvh91 opened #10034 "MDX Props table doesn't display props of external library component"
I have a use-case where I want to document in my storybook a material-ui component and get all of it's props to be displayed in the table.

As a naive approach, here was my mdx doc file:
[code]

Unfortunately, I couldn't see any props in the table.

I'm consuming the compiled version material-ui component which includes a separated `d.ts` types file with all the relevant props and descriptions but

[2020-03-03 08:27] iamshadmirza commented on #9784
Any support on this?

[2020-03-03 08:30] mrmckeb commented on #9666
Thanks @AndrewPrifer

[2020-03-03 08:32] mrmckeb commented on #9946
OK, thanks @gsklee. Did you want to take a look at this issue, try to raise a PR?

If not, I could take a look this weekend.

[2020-03-03 08:34] mrmckeb commented on #9327
Exactly @kevin940726 :) I think just alongside the component (Jest also allows you to put the test files alongside and use `*.test.js`).

The other question would be - do we have a TypeScript template or JavaScript template - or both?

[2020-03-03 08:39] kevin940726 commented on #9327
@mrmckeb Agree!

I would say both, `@storybook/cra-template` and `@storybook/cra-template-typescript`.

[2020-03-03 09:01] alanshortis commented on #10026
Thanks @VladimirPittner - that's exactly what I needed.

[2020-03-03 09:01] #10026 closed

[2020-03-03 10:22] gerardcastell commented on #6541
Thank you so much for the solution! Though, diving deeper I stumbled upon a problem. I started to use this feature with the 'StoriesOf' function, but eventually, I had to pass to an arrow function approach to build the story. The reason is, basically, for combine Knobs with the translate pipe and it works fine! Unfortunately, with the template on the arrow functions inputs works properly whilst ac

[2020-03-03 10:24] gerardcastell commented on #4820
Hello, I face a complex problem since I wanted to mix ngx-translate with Knobs. I solved thanks to this [issue](https://github.com/storybookjs/storybook/issues/6541) Though, diving deeper I stumbled upon a problem. I started to use this feature with the 'StoriesOf' function, but eventually, I had to pass to an arrow function approach to build the story. The reason is, basically, for combine Knobs

[2020-03-03 10:26] kushalmahajan opened #10039 "Custom source in story"
When using MDX and CSF together still there is no way I can read in docs which can show full functional stateful code of a component.

JSX is pulled up by default as we know if using a simple presentational component. But that's not enough for components which are complex. Say Form.

Also when using `{stories.basic()}` in `.mdx` file show code toggle block shows literally the same text.

Let me kn

[2020-03-03 10:30] wiese commented on #10019
As a blunt work around I was looking into ways to disable the debouncing altogether.

In the documentation a flag [`timestamps`](https://github.com/storybookjs/storybook/blame/v5.3.14/addons/knobs/README.md#L504) is mentioned which sounds like it could be related ("Doesn't emit events while user is typing.") - it does however not affect the behavior and **is not to be found in `KnobManagerOptions`

[2020-03-03 10:36] gerardcastell commented on #6541
I've solved it! I attach the code below. Anyway, I would like to be capable of switch language translate with a knob, is it possible?
Thanks!
`
export const englishComponent = () => ({
  moduleMetadata: {
    imports: [I18nModule],
    declarations: [UiEmptyScreenComponent],
    providers: [TranslateService]
  },
  component: UiEmptyScreenComponent,
  template: `<presenter-empty-screen
      [titl

[2020-03-03 10:38] gerardcastell commented on #4820
I've solved it! I attach the code below. Anyway, I would like to be capable of switch language translate with a knob, is it possible?
Thanks!
`
export const englishComponent = () => ({
  moduleMetadata: {
    imports: [I18nModule],
    declarations: [UiEmptyScreenComponent],
    providers: [TranslateService]
  },
  component: UiEmptyScreenComponent,
  template: `<presenter-empty-screen
      [titl

[2020-03-03 11:09] kushalmahajan commented on #10039
Actually CSF stories handle by default, unlike `storiesOf` API. Got that by experimentation.

Still, I have to define everything inside my story function for that. So basically functions inside functions and importantly no `import` statements to show.  It would be best and a closure to have all full fledged document at one place. So my proposal remains

[2020-03-03 11:33] ndelangen commented on #9900
If this is something that can be configured on the plugin, I'd be very grateful if someone would open a PR changing this option off.

[2020-03-03 11:36] ndelangen commented on #6885
@ganapativs I'd love to help you work on this, are you available for a zoom call in the foreseeable future?

https://calendly.com/ndelangen/storybook

[2020-03-03 12:20] diondree commented on #9900
I'd be willing to do that.

Would this be the configuration to look at for the issue in question?
https://github.com/storybookjs/storybook/blob/next/lib/core/src/server/preview/iframe-webpack.config.js#L89

[2020-03-03 12:39] thany commented on #9997
On top of this, some props that are passed on straight to, say, a styled-component that have a default value *there*, isn't picked up either. That's another good reason to have some feature to explicitly manage default values.

Example:
[code]
In the above example, the color is defaulted to `red` in the styled component. This is a sensible place to do this. I see no way to tell Storybook about def

[2020-03-03 12:47] ndelangen commented on #9900
Yes, indeed.

[2020-03-03 13:12] ganapativs commented on #6885
@ndelangen Scheduled. Thanks for your time.

[2020-03-03 14:07] soullivaneuh commented on #9769
Applied https://github.com/storybookjs/storybook/issues/5298#issuecomment-545625128, works well.

[2020-03-03 14:07] #9769 closed

[2020-03-03 15:00] billcreative commented on #9796
I've been looking for the answers for a similar problem. In [@storybook/preset-create-react-app](https://github.com/storybookjs/presets/tree/master/packages/preset-ant-design) it mentions configuring CRA to exclude less from the file loader.

[code]

May help.

[2020-03-03 15:17] beefchimi opened #10043 "[Docs] Error: Object(...) is not a function"
**Describe the bug**
I am using `mdx` files to author my docs. Currently, I'm attempting to author an example that imports some utility functions from a neighbouring file. Some of these functions work just fine when called within an example. However, any function that takes an `object` as an argument and does _something_ on that object results in the following error:

<img width="646" alt="Screen

[2020-03-03 15:30] ionab commented on #9670
@mrmckeb following as I have the same issue but using CRA.

My sass/scss is working fine from within this repository, however storybook build fails when I try to use a package from my node_modules where there is scss involved.

Private repo for now or I'd share appologies.

[2020-03-03 16:13] tonai opened #10044 "Decorators do not trigger onDestroy for Svelte 3"
**Describe the bug**
When creating an addon providing a decorator with `makeDecorator` like in the [centered addon](https://github.com/storybookjs/storybook/blob/next/addons/centered/src/svelte.ts#L23-L38), the `onDestroy` callback you may set inside the Svelte decorator component is not trigegred.

**To Reproduce**
In the centered addon, add an `onDestroy` callback inside the [decorator component

[2020-03-03 16:58] hasparus commented on #6255
xD I just had this error. Reinstalling node_modules helped.

[2020-03-03 17:20] poblouin commented on #9472
still an issue

[2020-03-03 19:06] naomiaro commented on #5803
Will this only work if I stop using `storybook-addon-styled-component-theme`? I'm still seeing this problem today. I don't use `require.context` as the newer `main.ts` format was supposed to be good enough as seen in the README.

[2020-03-03 20:05] serusko commented on #9809
@shamin both working (temp fix with option and also alpha version), so I am using alpha for testing :)
ty and GJ!

[2020-03-03 21:57] tysonmatanich commented on #8635
+1

[2020-03-03 22:34] hipstersmoothie commented on #8321
I haven't found a better solution other than overriding the types for emotion.

[2020-03-04 00:24] m1kl commented on #9499
@shilman I'm working on this issue and will submit a PR as soon as possible

[2020-03-04 04:37] matt-shine commented on #9185
Thanks heaps for this change @JohnAlbin, life saver

[2020-03-04 05:29] diegofss11 opened #10047 "Unknown for oneOfType for arrayOf"
**Describe the bug**
Is there any reason why storybook is rendering `unknown` in the docs for the item description?

I want to validate that text can either be an `array of strings` or `string`.

[code]

**Screenshot**
![image](https://user-images.githubusercontent.com/1537929/75848122-59bc1f00-5e35-11ea-9e78-c385c8277412.png)

[2020-03-04 07:24] vivek-pal commented on #3982
This worked for me! Thanks!

[2020-03-04 08:20] tobilen opened #10048 "[Question] Building storybook in parallel"
**Is your feature request related to a problem? Please describe.**
For some time, we have struggled with the build time of our storybook. It is by far the slowest part of our CI, clocking in somewhere at 4 minutes with 330 or so stories, and a subsequent 2 or so minutes for chromatic. We also use react-docgen for some of them. This will get worse fast, since we have several teams contributing to t

[2020-03-04 08:33] gwmaster commented on #9800
ok i definitely find how reproduce the problem
why this happen i don't know
load my
https://github.com/gwmaster/reactStarter
if node_modules have 'react-scripts' less don't loaded!
antd button no less styles
![image](https://user-images.githubusercontent.com/5362853/75859738-3d06f380-5e03-11ea-908d-4a89147d34a2.png)

work after delete 'react-scripts'
antd less styles loaded
![image](https://user-i

[2020-03-04 09:23] Benwick91 commented on #9996
@shilman Thank for your answer. There happens something weird. If I update from a version, that runs without problems, the update works (5.39 til 6.0.0.alpha20). But if I delete the node-modules folder and make a new yarn install, the MDX error occurs. And I can install another version (even 5.3.9) and it doesn't work anymore. One strange thing is that in the yarn.lock there are two node-logger ve

[2020-03-04 09:55] mrmckeb commented on #9800
Hi @gwmaster, if `react-scripts` is detected in the project, that webpack config will be used for Storybook.

It looks like you've got multiple configurations in that project. CRA doesn't support Less, are you modifying it?

[2020-03-04 13:16] Sidnioulz opened #10050 "Buggy rendering of template literal expressions in MDX doc when using `js` coloring"
**Describe the bug**
When writing template literals, we need to inject expressions that look like so:
[code]

In the Docs Addon with MDX, regardless of whether using the Markdown backtick syntax or `<Source>` blocks, expressions will not be properly rendered when syntax coloring is enabled and the language set to JS or JSX.

**To Reproduce**
1. Create a MDX file with the following content:
<pre>
i

[2020-03-04 13:54] The-Code-Monkey commented on #7998
@shilman any update as to when this issue will be fixed and what version it will be fixed in?

[2020-03-04 14:58] FarisSum opened #10051 "<Preview> component "height" property"
I have an issue where many components are being cut off, even with Preview being a dynamic component.

The classic case is when the component itself has a dynamic height (think dropdown menu when it's not collapsed). The Preview is not dynamic to state changes in its inner component.

This is not the only scenario, some components just simply don't look good in the default preview height.

Can the

[2020-03-04 15:32] evanmwillhite commented on #9981
@CodeByAlex I love that idea, and I think I saw something like that mentioned in the official roadmap too. I think we may still focus on the approach above from our end, as we are wanting to enforce accessibility standards at the same level as coding standards. But we'll definitely make that an "opt-in" thing and not default. Also, the work we do to interact with the component viewer will likely h

[2020-03-04 15:50] #9404 closed

[2020-03-04 15:50] #9202 closed

[2020-03-04 16:27] liamsc commented on #6083
@shilman thanks, much appreciated!

[2020-03-04 21:03] axe-me commented on #7729
[code]

This is how I write story in mdx

[2020-03-04 21:34] shilman commented on #9824
@albshin You're using the manual configuration. If you do the manual configuration, you also need to provide a function to extract the component description. I recommend using the preset and have updated the docs accordingly.

[2020-03-04 21:35] shilman commented on #10051
Sounds reasonable! PRs welcome!

[2020-03-04 21:36] shilman commented on #7998
@The-Code-Monkey yes. we are recommending a new configuration in 6.0 and will be updating the docs this week.

[2020-03-04 21:43] shilman commented on #10048
@tobilen we're building a new feature, storybook composition, that allows you to compose multiple storybooks into one. the first version should be merged in the next few weeks -- maybe take a look at that and re-assess once it's ready?

https://github.com/storybookjs/storybook/pull/9210

[2020-03-04 21:47] shilman commented on #10047
@diegofss11 any chance you can submit a repro per https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/props-tables.md#reporting-a-bug

[2020-03-04 21:59] shilman commented on #10044
FYI, there's a new layout parameter in 6.0 that should solve the centered issue specifically: https://raw.githubusercontent.com/storybookjs/storybook/next/examples/official-storybook/stories/core/layout.stories.mdx

I realize that it does not solve the general problem

[2020-03-04 22:03] shilman commented on #10043
What's the code for `formatThemePanelItem` look like?

[2020-03-04 22:09] beefchimi commented on #10043
@shilman that was just a mistake in the example. I meant to change that to the snippet showing an exported function. The code could be anything, as long as it is dealing with an object, I run into this error.

[2020-03-04 22:14] shilman commented on #9997
@thany should be coming in the next week or two as part of 6.0 props overhaul

[2020-03-04 22:23] rey-wright opened #10054 "MDX: sbdocs classes are applied to html elements, and they collide with styles applied from classnames."
**Describe the bug**
Storybook CSS is cancelling out CSS for classNames that I'm writing.

**To Reproduce**

1. Create a `.mdx` file with the following:

[code]

2. Import a CSS file into your `preview.js` file:

[code]

3. Create the css file with the following:

[code]

4. When you do all of this and load the above story, you should notice in the source code, Storybook has applied a set of class

[2020-03-04 22:26] shilman commented on #10026
Duplicate to #7479

[2020-03-04 22:26] tonai commented on #10044
In fact I took the centered addon as an exemple.
There is no issue with that addon because there is no `onDestroy` callback inside the Svelte decorator.
Maybe this can cause problems in other addons

[2020-03-04 22:29] shilman commented on #9784
I'm not seeing this on https://storybook-design-system.netlify.com/

[2020-03-04 22:37] shilman commented on #10034
We're updating the recommended configuration to use `babel-plugin-react-docgen` instead of `react-docgen-typescript-loader`, and they are tracking this issue here: https://github.com/reactjs/react-docgen/issues/416 please upvote!

[2020-03-04 22:40] shilman commented on #10031
Closing as dupe to #8527

[2020-03-04 22:40] #10031 closed

[2020-03-04 22:41] shilman commented on #10030
cc @ndelangen

[2020-03-04 22:46] shilman commented on #10054
@rey-wright does this also happen inside `<Story>` blocks?

[2020-03-04 22:48] shilman commented on #10043
I haven't seen this yet. Have you tried debugging this way? https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/faq.md#how-do-i-debug-my-mdx-story

[2020-03-04 23:03] shilman commented on #9923
@tmeasday that makes sense. i think we need a guide for each framework as part of the post-6.0 documentation overhaul, and decorators can be a section in that.

[2020-03-04 23:05] shilman commented on #10017
Any chance you can provide a repro? See the docs for details: https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/props-tables.md#reporting-a-bug

[2020-03-04 23:08] shilman commented on #8134
As a workaround you can simply provide the undecorated component as the `component` metadata in your stories.

[2020-03-04 23:13] shilman commented on #7066
You can track the release status here https://github.com/storybookjs/storybook/issues/9311

[2020-03-04 23:17] shilman commented on #10050
Closing this as a duplicate to #10011

[2020-03-04 23:17] #10050 closed

[2020-03-04 23:18] shilman commented on #10011
@thany any chance you can bisect to figure out which version introduced the bug? that would help a lot.

[2020-03-05 01:13] ericberens opened #10055 "@storybook/theming brandImage 404 using manager.js"
**Describe the bug**

`brandImage` results in `GET https://localhost:8009/static/media/logo.63592a43.png 404 (Not Found)` using a `manager.js` config.

**To Reproduce**
Steps to reproduce the behavior:
1. Run storybook (using `start-storybook -c .storybook -p 8009`)
2. See `brandImage` not rendered properly and a 404 in the Network panel

**Expected behavior**

The `brandImage` should load and ren

[2020-03-05 01:20] ericberens commented on #10055
Possibly a duplicate of https://github.com/storybookjs/storybook/issues/9443

[2020-03-05 03:35] jrmurad commented on #3286
I think we have narrowed down where the leak is. Our project has 198 test suites and we see ~45mb increase for each one with `node --expose-gc ./node_modules/.bin/jest --runInBand --logHeapUsage`.

We eliminated that (and had tests running same as usual) by commenting out lines in `node_modules/@storybook/core/server.js`:

[code]

We're on 5.3.14.

Before (machine has 64gb RAM):

[code]

After:

[

[2020-03-05 06:15] shilman commented on #8337
Released `preset-typescript@2.0.0` which contains https://github.com/storybookjs/presets/pull/68 and fixes this issue. See its CHANGELOG for migration info: https://github.com/storybookjs/presets/blob/master/packages/preset-typescript/CHANGELOG.md#200

[2020-03-05 06:15] #8337 closed

[2020-03-05 06:17] obweger commented on #8222
@shilman @Evalon I just published https://github.com/atlassian-labs/babel-plugin-storybook-csf-title if that's helpful!

[2020-03-05 07:13] kushalmahajan commented on #10017
Umm...that's a little time-consuming to abstract it out. Here is an easy way. I can point to my monorepo where it can be reproduced - https://github.com/turtlemint/mint-ui

Also, you can see the deployed project here - https://mint-ui.netlify.com/?path=/docs/avatar--size

[2020-03-05 07:18] #9588 closed

[2020-03-05 07:29] shilman commented on #8222
Very cool @obweger -- will definitely recommend it when this comes up again (and it will).

[2020-03-05 07:37] shilman commented on #10055
Yeah, looks like a duplicate of #9443. Can you try upgrading to 6.0.0-alpha and verify that it's fixed for you?

[2020-03-05 07:37] tobilen commented on #10048
thats so awesome, its exactly what we need. subscribed and will take a closer look 😍

[2020-03-05 07:37] #10048 closed

[2020-03-05 07:37] #10055 closed

[2020-03-05 07:52] gwmaster commented on #9800
if not include react-scripts StoryBook write failed .

[2020-03-05 09:21] thany commented on #10011
It's a commercial project so I can't spend too much time on it anymore, but I think I can give it a go. Would you suggest down/upgrading all storybook packages, or just addon-docs? Any specific versions where you might suspect changes pertaining to this problem?

It might help to know we came from SB 5.2.4, to be exact.

[2020-03-05 09:27] shilman commented on #10011
that would be really helpful. you should up/downgrade all the packages at once. it's a bit of a bore, but if you bisect it literally (divide in half each time), it should take you 7 tries at most (assuming there were 100 releases)

[2020-03-05 09:56] shilman commented on #9705
Great Caesar's ghost!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.21 containing PR #10016 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-03-05 09:56] shilman commented on #9900
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.21 containing PR #10042 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-03-05 09:56] shilman commented on #9499
Crikey!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.21 containing PR #10046 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-03-05 09:56] #9705 closed

[2020-03-05 09:56] #9900 closed

[2020-03-05 09:56] #9499 closed

[2020-03-05 11:22] chrisj-skinner opened #10059 "Update docs for 5.2 CSF: @writing-stories/#decorators. Please add angular solution - (in this ticket)"
**Is your feature request related to a problem? Please describe.**
Lack of 5.2 documentation for CSF at https://storybook.js.org/docs/basics/writing-stories/#decorators for angular users. Use of the latest spec across all frameworks would be more encourage with code snippets.

**Describe the solution you'd like**
Would be nice to see some demo code of how to implement this for an angular project

[2020-03-05 12:23] YDundie commented on #4645
Same for the version 5.3.13

[2020-03-05 12:48] thany commented on #9997
Very cool! 😎
Any idea on a timeframe for 6.0 stable? It'd be nice if we can (even if roughly) plan ahead on this.

[2020-03-05 13:54] vertic4l opened #10060 "Addon-Docs:"
Tried to add @storybook/addon-docs, but got the following error:

<img width="499" alt="Bildschirmfoto 2020-03-05 um 14 48 08" src="https://user-images.githubusercontent.com/1771763/75987562-65b8e700-5ef0-11ea-91a1-45ced39fcf97.png">

I'm using tsx-Files with styled components... Any ideas someone ?

**main.js**
[code]
**package.json**
[code]

**Expected behavior**
Storybook loads like before (as

[2020-03-05 14:09] #9401 closed

[2020-03-05 14:17] marizmelo opened #10061 "Reposition label for input options in knob tab whenever in sidebar orientation"
**Problem**
The current way to change orientation is cumbersome and frustrating at times since I barely can see the options available. Also, the top navigation could use some work since right now it just adds a strange scrollbar for long lists.

**Suggested solution**
It would be great if the size for the sidebar could be increased (or remembered) by default.
Another solution would be to repositio

[2020-03-05 14:41] tomdev10 opened #10062 "@storybook/addon-docs: @egoist/vue-to-react@1.1.0 requires a peer of vue@^2.6.10 but none is installed. You must install peer dependencies yourself."
### Bug or support request summary

@storybook/addon-docs has what appears to me to be an erroenous dependancy on: `@egoist/vue-to-react@1.1.0 requires a peer of vue@^2.6.10 but none is installed. You must install peer dependencies yourself.`

### Steps to reproduce

Installed clean on new React project.

### Please specify which version of Storybook and optionally any affected addons that you're

[2020-03-05 15:17] la99er commented on #10060
I have the same problem. My issue is the custom resolve prop. Removing it, removes this error. How does your custom resolve look like?

[2020-03-05 15:20] shilman commented on #10062
closing as dupe to #8936

[2020-03-05 15:20] #10062 closed

[2020-03-05 15:26] shilman commented on #10060
The props table code uses `acorn-jsx` for processing dynamic PropTypes declarations (cc @patricklafrance) and I think it's causing problems in some cases

[2020-03-05 15:32] shilman commented on #10059
I think we're going to do a documentation overhaul once 6.0 is released where we document all of the features for each framework. In the short term, if the Discord solution that you got is working well, maybe you can add it here as a placeholder, and then we can clean it up during the overhaul?

https://storybook.js.org/docs/guides/guide-angular/

[2020-03-05 15:35] shilman commented on #9997
Current estimate is May 4. I try to keep this issue updated: https://github.com/storybookjs/storybook/issues/9311

[2020-03-05 15:40] la99er commented on #10060
I just fixed my issue by changing the order of adding my custom resolve with the config resolve. @vertic4l , can you try to add config.resolve to you returning object?
[code]

[2020-03-05 15:44] shilman commented on #10017
Added repro https://github.com/storybookjs/storybook/commit/1e2ab41dab191fd6a6b5b8f2f4b8400ba9c6b588

[2020-03-05 15:50] YDundie commented on #4645
Hello.
Successfully solved it by adding this to my .storybook/main.js

`const path = require('path');

const publicPath = process.env.DEV ? "http://localhost:9009/" :"https://your-web-address.com/"

module.exports = {
	stories: ['../src/**/*.stories.js'],
	addons: [
		'@storybook/preset-create-react-app',
		'@storybook/addon-actions',
		'@storybook/addon-links',
		'@storybook/addon-knobs'],

	webp

[2020-03-05 15:50] tomdev10 commented on #8936
Thanks @shilman - confirming I'm happy with the approach above after reading this thread. Fully agree in it's current form it's at best confusing and at worse poor practise. Thanks for all thea activity and willingness to fix!

[2020-03-05 15:51] chrisj-skinner commented on #10059
Sure - I'll add that in tomorrow 👍

[2020-03-05 16:09] iansan5653 opened #10064 "Addon panel won't appear in Firefox and theme won't appear in Chrome"
**Describe the bug**
The Addons panel does not show up at all in Firefox for us, while the theme does not show up at all in Chrome. This is occurring both on the static deployment and the dynamic build.

**To Reproduce**
Simply view our static deployment here: https://usf-honors-college.github.io/usf-honors-portal/refs-heads-master/ in both Chrome and Firefox. We're using the following addons: kno

[2020-03-05 16:13] vertic4l commented on #10060
@la99er you are absolutely right! Nice hint!

It was all about the resolve part:

[code]

works!

Thank you very much!

@shilman most of time it just seems to be the webpack config part if one wants to use his own.

[2020-03-05 16:18] la99er commented on #10060
You're welcome :)

[2020-03-05 16:26] rey-wright commented on #10054
Thanks for the response. It fortunately does not happen inside of `<Story>` blocks as well.

I guess maybe then this is a question: Is this a design decision? Sometimes I don't want to have stories and want to document html & CSS classes... so right now I'm just having to define these things in a different javascript file and import them inside of mdx, which gives me what I want.

Happy to close t

[2020-03-05 17:04] shilman commented on #10054
Thanks @rey-wright. 🙏 The theming was very carefully designed since it’s very delicate situation with user and docs styles potentially clashing. However, it was designed back when the ONLY thing inside preview blocks was Story blocks. Now that preview can contain other “user” code, we can probably apply the same logic to Preview. Leave this open and I’ll see what i can do!

[2020-03-05 21:25] benwolfram opened #10066 "MDX Stories with Knobs"
**Describe the bug**
While knobs are enabled to supply prop values, having multiple stories within an MDX stories file using the same component more than once causes the components to share identical values. Working correctly in Canvas tab when stories are displayed individually. Also is corrected when removing knobs and hard-coding values.

**To Reproduce**
I have an example repo set up here [htt

[2020-03-05 21:31] domyen opened #10067 "Keyboard shortcuts page has an errant comma rendering in the UI"
**Describe the bug**
An errant comma somehow made it into the UI (look right above the toolbar).
![image](https://user-images.githubusercontent.com/263385/76027259-580a5e00-5efe-11ea-9eb3-763fbb99ab09.png)

This appears on every Storybook including the [official SB](https://deploy-preview-9210--storybookjs.netlify.com/)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://deploy-pre

[2020-03-05 21:46] iansan5653 commented on #10064
Actually it was a caching issue. Never mind.

[2020-03-05 21:46] #10064 closed

[2020-03-06 00:04] shilman commented on #10066
Hey, we're working on getting this fixed as part of 6.0! Hang tight!

[2020-03-06 00:09] shilman commented on #9824
@albshin sorry for the confusion. i'll be updating the documentation shortly -- we'll be moving away from `react-docgen-typescript-loader` in 6.0 because typescript is now supported directly in `react-docgen`. the typescript preset stuff just got released yesterday and the docs side hasn't caught up yet.

[2020-03-06 00:10] VladimirPittner commented on #7914
This same issue had occurred for us yesterday after updating our `yarn.lock` (without updating storybook).
Removing `yarn.lock`, `node_modules` did not helped.

I found out, that for some reason we had two `@emotion/core` in `yarn.lock`.
We use emotionJS in our project aswell, the version in our `package.json` was `10.0.27`. (I remember I already had to bump the version once to .27 when moving to

[2020-03-06 00:46] impurity-dev commented on #6364
Just some FYI that i just figured out, this approach works wonders when serving storybook locally, but it does not work (from what I saw) with build-storybook.

My solution
Add `<link rel="stylesheet" href="./your-global-styles.css" />` to the preview-head.html. Then use the -s flag on `your-global-styles.css`'s directory to the build directory of storybook. Now the iframe.html "should" be referen

[2020-03-06 04:00] Paosder commented on #8881
I have stuck in exact same problem in v5.3.14(latest release).

![image](https://user-images.githubusercontent.com/20926881/76048285-ab38eb00-5fa8-11ea-8677-09b5d90d1d41.png)

Here's my code:
[code]
[code]

dependencies:
[code]

I tried to change `type` to `interface` and extends props, but still happens in forwardRef only.
(FC works gracefully!)
Is there any way to solve this? Please help.

[2020-03-06 05:28] #9452 closed

[2020-03-06 05:37] aryyya commented on #9352
This doesn't just affect the knob addon, it also stops other input fields on the page from working. Try using the Storybook sidebar search and you will notice the same behaviour.

You can use the `disableEnforceFocus` prop on the Material UI `<Dialog />` component to prevent this from happening.

[2020-03-06 07:21] shilman commented on #9944
Maybe `componentTitleRegex`? Now would be a good time to make a change since we're on a breaking release. We can deprecate the old property and alias it to whatever new name we come up with. cc @ndelangen @tmeasday

[2020-03-06 07:35] vertic4l commented on #10060
@shilman Any chance to get the props too ?

[2020-03-06 07:41] shilman commented on #9905
It's rendering your stories, which are empty. If you hit "t" on your keyboard it will show the toolbar and you can see more clearly what's going on. I'd suggest running in `--docs` mode.

[2020-03-06 07:44] shilman commented on #10060
Yeah, Props supports typescript. Here's a walkthrough for CRA:

https://gist.github.com/shilman/bc9cbedb2a7efb5ec6710337cbd20c0c

I'll be updating the recommendations this week based on recent developments in `react-docgen`, one of the libraries we use under the hood. But that walkthrough should still work.

[2020-03-06 07:45] shilman commented on #8619
@kroeder @gaetanmaisse any help on this?

[2020-03-06 07:47] shilman commented on #9998
@nategreen any interest in contributing a small PR for this? would be a good improvement to DX

[2020-03-06 09:26] KornelijusGlinskas commented on #1575
I've found a solution to this and it is pretty simple actually. I've created a separate JS file that has methods returning knobs that should be shared across stories.  Let me give an example of two:

`
const getLabel = () => text('Label', 'Label');
const getPlaceholder = () => text('Placeholder', 'placeholder');
`

Then, in the same file, I've created an exportable function that returns the object

[2020-03-06 09:28] KornelijusGlinskas commented on #3147
I've found a solution to this and it is pretty simple actually. I've created a separate JS file that has methods returning knobs that should be shared across stories. Let me give an example of two:

const getLabel = () => text('Label', 'Label'); const getPlaceholder = () => text('Placeholder', 'placeholder');

Then, in the same file, I've created an exportable function that returns the object call

[2020-03-06 10:00] #9442 closed

[2020-03-06 14:01] dfagan2 commented on #9422
We're using Angular 8 and all Storybook dependencies are at `5.3.2`.

We are building 3 Storybooks across Angular, Vue, and React, and are hoping to get this resolved as our proof of concept that the Docs is going to be a viable and consistent option cross framework for what we're looking to do.

So please let me know if there is any other information I can provide to help keep momentum here.

[2020-03-06 15:47] quagliero commented on #10004
Just want to add we're currently struggling with this issue. We have a lot of 'Core' knobs that apply to a wrapping component that each story uses, and when you toggle one of the knobs, the entire 'Core' pane disappears.

[2020-03-06 16:15] ccveer commented on #9050
Looks like they forgot to import Props
![image](https://user-images.githubusercontent.com/49158600/76101057-66ef2000-5f93-11ea-91e2-c1674a923d24.png)

[2020-03-06 16:23] daneah commented on #9295
Still an issue.

[2020-03-06 17:23] kylemh commented on #9556
Go away

[2020-03-06 19:01] skube opened #10069 "Keyboard shortcut causes multiple copies of About"
**Describe the bug**
Using the keyboard shortcut <kbd>,</kbd> successive times in a row will open multiple copies of **About**.

**To Reproduce**
Steps to reproduce the behavior:

1. After starting up Storybook, go to any page
2. Using keyboard, hit the <kbd>,</kbd> three times
3. Now, in **About** panel, click ⓧ button in top-right corner

**Expected behavior**
- The **About** panel should close

[2020-03-06 19:46] ndelangen commented on #9970
[code]

[2020-03-06 19:53] rralbritton commented on #9598
Trimming all white spaces worked for me as well. For those of you that use VS Code, there is a setting to do this for you. In Preferences > Settings search for : `Trim Trailing Whitespace` and make sure its checked.

[2020-03-06 19:55] etylsarin commented on #9764
this is still an issue

[2020-03-06 19:58] mycarrysun commented on #164
@arunoda sorry to reopen such an old thread but the docs aren't clear on what you need to do to set it to `DEVELOPMENT`

Can you show an example of how one might set that variable and return it with the config?

[2020-03-06 21:28] #9456 closed

[2020-03-06 21:28] #9469 closed

[2020-03-06 21:28] #9466 closed

[2020-03-06 23:28] #9451 closed

[2020-03-06 23:30] awacode21 commented on #7644
I tried to use the workaround mentioned by @atanasster

[code]

But i always get this error when trying to serve storybook:

[code]

Shouldn't storybook out of the box be able to load those .md files?

[2020-03-07 01:28] #9473 closed

[2020-03-07 01:28] #9474 closed

[2020-03-07 01:40] shilman commented on #7644
cc @mrmckeb

[2020-03-07 01:42] shilman commented on #4475
@graup This might also help with https://github.com/storybookjs/storybook/pull/9841

[2020-03-07 01:51] shilman commented on #9764
@etylsarin can you try the recommended 6.0 setup (should work in 5.3 too) and based on the repro linked above I expect the problem to be fixed:

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

[2020-03-07 01:55] shilman commented on #10069
@skube any interest in submitting a fix?

[2020-03-07 02:01] shilman commented on #9832
@lgraziani2712 can you try the recommended 6.0 setup (should work in 5.3 too) and based on the repro linked above I expect the problem to be fixed:

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

[2020-03-07 02:02] shilman commented on #9465
@sami616 can you try the recommended 6.0 setup (should work in 5.3 too) and based on the repro linked above I expect the problem to be fixed:

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

[2020-03-07 02:04] shilman commented on #9556
@kylemh can you try the recommended 6.0 setup (should work in 5.3 too) and based on the repro linked above I expect the problem to be fixed:

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

[2020-03-07 02:07] shilman commented on #9591
@sami616 can you try the recommended 6.0 setup (should work in 5.3 too):

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

i don't expect it to fix the problem, but i believe this corresponds to https://github.com/reactjs/react-docgen/issues/33 which has an open PR. upvoting on the issue/PR might help move things along

[2020-03-07 02:10] shilman commented on #9422
cc @igor-dv

[2020-03-07 02:12] shilman commented on #8663
@donysukardi can you try the recommended 6.0 setup (should work in 5.3 too) and based on the repro linked above I expect the problem to be fixed:

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

[2020-03-07 02:12] shilman commented on #9668
@Moonachi can you try the recommended 6.0 setup (should work in 5.3 too) and based on the repro linked above I expect the problem to be fixed:

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

[2020-03-07 02:15] kylemh commented on #9556
I'll give it a whirl tomorrow!

[2020-03-07 02:22] aryyya opened #10073 "Tab order of addons is incorrect"
The [documentation says](https://storybook.js.org/docs/addons/using-addons/#addons-tab-order) the tab order of addons appears in a the order that they are declared:

My declaration order is "knobs", "storysource":

[code]

As you can see the tabs don't appear in that order:

<img width="194" alt="Demonstration" src="https://user-images.githubusercontent.com/29365565/76134876-d6d2ca00-5fd6-11ea-9d7

[2020-03-07 02:30] jeffreymeng commented on #9921
I have this problem too (also using `react-docgen-typescript-loader`). For me, the prop and descriptions show fine, but the type is `any`.

#### Output
<img width="1064" alt="2020-03-06_18-28-45" src="https://user-images.githubusercontent.com/15185258/76135065-76448c80-5fd8-11ea-8249-74728bae4b92.png">

#### Prop Types
[code]

[2020-03-07 02:50] shilman commented on #10073
Possible duplicate of #9819

[2020-03-07 11:42] gossi opened #10074 "Level up the Ember Experience"
Storybook is gaining attraction from Ember developers (I am one of them) and I'd like to improve the experience for those ember devs jumping onto storybook. Here are areas in which I see can it should need some love (and in that order):

1. Code Stability
2. Documentation
3. Addons

## Code Stability

Getting storybook to work with ember shouldn't be much more than running `ember install ember-cli

[2020-03-07 13:47] joanrm20 commented on #8114
hey @shilman, @ElForastero,

I faced the same problem and although it's not fixing the root cause, I found out that when using default export, if your component has the same name as the component file, you don't need the name export and the props are visible in the addon docs.

So, the following will work, hope it helps anyone facing the same.

**Component**
file name: `./components/Button.tsx`
[c

[2020-03-07 15:07] andrewshawcare opened #10075 "Allow for a `main.cjs` to accommodate module packages"
**Is your feature request related to a problem? Please describe.**
When a Node package is specified as a `module` type, the default behaviour loading `.js` files changes; `.js` files are now treated as ECMAScript modules and `.cjs` files are treated as CommonJS modules. When this occurs, it is impossible to load `.storybook/main.js` correctly as it is a CommonJS module but it is treated as if it w

[2020-03-07 16:12] aravij commented on #6262
Is there any solution without diving in Webpack config? I am using new (v5.3+) storybook configuration and here is mine `main.js` file. I would like to configure preset there. And I also getting `loading source...` error.

[code]

[2020-03-07 17:39] ssbelle commented on #8375
@matteobarone I created a work around for custom events, it is here https://www.npmjs.com/package/storybook-events-logger let me know if you need help implementing!

[2020-03-07 18:17] skube commented on #10069
Not really sure where to begin. I _think_ it may involve [shortcuts.tsx `onKeyDown` method](https://github.com/storybookjs/storybook/blob/f7fdd76e5c9fb1b10dda00ca00a28e70b120e6aa/lib/ui/src/settings/shortcuts.tsx#L171)?

[2020-03-07 19:20] nickzcv commented on #8892
Thanks @afholderman

Also we can simply use `addDecorator` method:

[code]

[2020-03-07 20:19] rdhainaut commented on #163
You can find the doc on the official website at this address: https://storybook.js.org/docs/configurations/add-custom-head-tags/

[2020-03-08 04:24] shilman commented on #8114
@joanrm20 thanks for that! also, for anybody reading this, you might try the recommended 6.0 setup (should work in 5.3 too) and I expect that also to fix the problem:

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

[2020-03-08 04:28] shilman commented on #10075
cc @ndelangen

[2020-03-08 04:32] shilman commented on #10069
cc @ndelangen @tmeasday

[2020-03-08 04:33] shilman commented on #9921
can you try the recommended 6.0 setup (should work in 5.3 too) and let me know if that helps?

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

[2020-03-08 06:23] kevin940726 commented on #9327
@kevin940726 @hard-turkey-15

[2020-03-08 07:59] igor-dv commented on #9422
Hey @dfagan2, do you have some public repo to dig in to reproduce this problem ?

[2020-03-08 14:48] #9044 closed

[2020-03-08 15:48] #9512 closed

[2020-03-08 17:09] dvyogesh opened #10076 "story and mdx file not loading if i configure mdx in storybook react"
git repo [working copy](https://github.com/trymysolution/lerna-starter/tree/master/packages/counter/src/__stories__)

**src/__stories__/counter.story.jsx**

    import React from 'react';
    import Counter from '../';

    export default {
      title: 'Design System|Counter',

      parameters: {
      component: Counter,
      componentSubtitle: 'Displays an image that represents a user or orga

[2020-03-08 17:56] dfagan2 commented on #9422
@igor-dv Unfortunately, no, it's a private repo embedded within my client's ecosystem. I can provide whatever code snippets you need to see though

[2020-03-08 18:50] igor-dv commented on #9422
Can you please share the `.storybook` files, and the relevant angular configuration in the project, if it's possible ? I will try to create some reproduction (or if you can create a reproduction on isolated environment that'd be great).

[2020-03-08 19:26] dvyogesh commented on #10076
** in main.js  **

2nd line i wrongly mentioned

     instead of story.(jsx|mdx)'], i mentioned  stories.(jsx|mdx)'],

     spel error
   - story
   - stories

[2020-03-08 19:26] #10076 closed

[2020-03-08 20:27] lhz516 commented on #9970
Fyi, the package `acorn`  also has some security issue.

------

                       === npm audit security report ===

                                 Manual Review
             Some vulnerabilities require your attention to resolve

          Visit https://go.npm.me/audit-guide for additional guidance

  Moderate        Regular Expression Denial of Service

  Package         acorn

  Patched

[2020-03-09 00:32] awacode21 commented on #7644
This is not only a problem in mdx files this seems to be also a problem for CSF Format files. Here i get the same error while trying to import an .md file! So it seems that the preconfigured loader for normal markdown files does not the job

[2020-03-09 00:57] awacode21 opened #10077 "importing and using .md files within .mdx files or CSF format files"
**Describe the bug**
I have a project created by vue-cli and storybook is added by its cli plugin.
Regarding this documentation: https://github.com/storybookjs/storybook/tree/master/addons/notes (see section about "Using Markdown") i should be able to import and use normal markdown files in CSF format files.
Also regarding this documentation: https://mdxjs.com/getting-started#documents the transcl

[2020-03-09 01:48] #9520 closed

[2020-03-09 02:27] awacode21 commented on #10077
i figured out i can work around it that way, but then it looses some of the formatting/styles it would have in the normal .md file. But for the moment it is the best solution i can find to proceed. But still, i think there is an issue because it does not work as stated in the documentation and it additionally needs custom webpack configuration to override the one which is not working.

<img width=

[2020-03-09 02:30] shilman commented on #7644
@awacode21 the preconfigured loader for markdown files probably needs to be updated. But we have not done that because it's a breaking change and we haven't done a major release since this issue was filed. However, we're working on a major release right now (6.0) so it's finally a good time to update it.

[2020-03-09 02:31] shilman commented on #10077
Closing as duplicate to #7644

[2020-03-09 02:31] #10077 closed

[2020-03-09 02:33] #9024 closed

[2020-03-09 03:21] emmanio commented on #10067
I'll pick up this one :)

[2020-03-09 04:42] jeffreymeng commented on #9921
@shilman I upgraded to babel-plugin-react-docgen, and it now says no props found for every single component.
Here's where I include the plugin:
[code]

[2020-03-09 07:30] derpdead commented on #9927
Hello, I was facing same issue as @CPatchane, tho I got something more:

[code]

**main.js**

[code]

**preview.js**

[code]

I've already spent too many hours on configuring mdx files with Storybook. I've found many configurations and each one has other issue. Could we get any tips how we should configure it?

[2020-03-09 07:57] zeorin opened #10078 "Yarn 2: preset-create-react-app doesn't work with Yarn v2 monorepo + hoisting/PnP"
I've got a Yarn v2 monorepo where I've got my React app as a package (at `packages/client`), and a component library as a separate package (at `packages/components`), where I'm using Storybook.

I'm not using Yarn's PnP resolution (I'm using the fallback [node modules plugin](https://github.com/yarnpkg/berry/tree/master/packages/plugin-node-modules)).

I have added `react-scripts` as a dependency

[2020-03-09 09:30] ndelangen commented on #9830
Assuming yes.

[2020-03-09 09:30] #9830 closed

[2020-03-09 09:32] shilman commented on #9927
cc @Aaron-Pool on MDX setup for Vue

[2020-03-09 09:37] shilman commented on #9921
@jeffreymeng can you try `require.resolve('babel-plugin-react-docgen')`?

here's how it's configured for JS files: https://github.com/storybookjs/storybook/blob/next/app/react/src/server/framework-preset-react-docgen.ts

Or if you're using CRA, you should be able to get it all "for free" in `@storybook/preset-create-react-app`.

[2020-03-09 11:07] amalv opened #10080 "Typescript preset-create-react-app documentation"
**Is your feature request related to a problem? Please describe.**
I've followed [the documentation](https://storybook.js.org/docs/configurations/typescript-config/) in order to get Typescript support for Storybook when using CRA but it did not load the `.tsx` extension.

These are the steps I followed:

* Install Create React App with the typescript template.
[code]

* Install storybook preset-cr

[2020-03-09 11:45] shilman commented on #10080
@amalv Take a look at these instructions. We need to do a rewrite of the page you referenced.

https://gist.github.com/shilman/bc9cbedb2a7efb5ec6710337cbd20c0c

[2020-03-09 11:52] Aaron-Pool commented on #9927
@derpdead this looks like a different issue to me, and should probably be addressed elsewhere. If you could set up a reproduction repo and then ping me on Vue channel of the storybook discord I should be able to help you get that sorted out.

[2020-03-09 12:00] amalv commented on #10080
Thanks for the link, pretty useful, let me know if you need help updating the documentation. Not sure if I should close the issue if a documentation update is pending, but please do so if appropriate.

[2020-03-09 13:36] basher opened #10081 "Storybook standalone preview example does NOT work"
**Describe the bug**
The [standalone preview example](https://github.com/storybookjs/storybook/tree/next/examples/standalone-preview) does NOT work.

- No output is rendered in the browser.
- No Storybook UI.
- No stories.
- `<div id="root"></div>` is empty.

**To Reproduce**
Clone the repo, install NPM packages and start Storybook as per the README instructions.

**Screenshots**
The components ar

[2020-03-09 14:07] shilman commented on #10011
To confirm, the problem got introduced somewhere between `5.2.8` and `5.3.0` and you weren't able to bisect into the 5.3 pre-releases, other than to confirm that the problem is present in `5.3.0-rc.6`? i'm not sure when i'll get a chance to look at this, but that helps narrow it down. shouldn't be too hard to get to the bottom of it, but i'm juggling a lot right now.

[2020-03-09 14:11] shilman commented on #10081
@basher just confirmed that it's working for me. try running `yarn bootstrap --core` at the root of the repo, then run the instructions in the standalone README

[2020-03-09 14:20] thany commented on #10011
I understand. It's not *that* big of an issue, to be honest. If we must, we could temporarily remove the `jsx` tag and have MDX not syntax-highlight the code at all.

In the mean time, I took a little bit more time to gather some evidence that might help tracking this down.

So first of all, this screenshot of the React inspector shows the `SyntaxHighlighter` component having the correct text as i

[2020-03-09 14:25] aloulouamine commented on #9818
Hi,

Got the same issue. Is there a workaround to this issue ?

thx

[2020-03-09 14:28] kausters commented on #9818
Not that I know of. My company has frozen the Storybook version but that's it.

[2020-03-09 15:01] basher commented on #10081
@shilman
OK Michael, I now get the Storybook UI loaded in the browser for your standalone demo.

However, what I can't figure out is how to get it working in my Parcel HTML environement?

- I've installed [Storybook for HTML](https://storybook.js.org/docs/guides/guide-html/) into my Parcel repo.
- I've installed other required [standalone files and sample stories](https://github.com/storybookjs/st

[2020-03-09 15:19] basher commented on #10081
I'm just creating a minimal setup repo that I can point you too.

[2020-03-09 15:53] vidarc opened #10082 "Module Parse error about JSX, only happening on Jenkins server"
**Describe the bug**
Final build is unable to resolve the loader to parse JSX properly, but this only happens on my Jenkins server. I have been unable to reproduce this locally. I have tried cleaning out my yarn cache as well as installing with `yarn install --frozen-lockfile`. This started happening recently after trying to upgrade dependencies.

First started with this error: https://github.com/

[2020-03-09 17:35] ldeveber commented on #3855
+1 for modals :)

[2020-03-09 18:47] DQvsRA commented on #3855
Can't believe that it's impossible from the beginning. Waiting for updates ...

[2020-03-09 18:56] BiosBoy commented on #7765
Seems like the same issue happens even on the Storybook v.5...

[2020-03-09 19:27] mattdeboard commented on #5666
Hi sorry but are the keyboard shortcuts documented somewhere? I keep tappign something that makes the story panel disappear and I can't get it back without completely restarting the process.

[2020-03-09 19:48] BiosBoy commented on #7765
Well, I found the issue finally.

It happens because inside `storybook` DOM tree inner SVG nodes don't look up to like they should be, eg: `<lineargradient />` should be `<LinearGradient />` or `<linearGradient />`. This applies to all non-regular DOM elements, indeed because SVG is not a regular DOM element.

So your turn guys now.

[2020-03-09 19:51] daKmoR commented on #9295
what is the output of that?

[code]

where does it place the `defs`?
[code]

I suspect that it only does a one time definition of those `defs` at the top and because in react it is on one page it is fine.

As soon as you introduce iframes (which get's used in html) it probably will not load as it can not access the `defs` in the main page...

so you probably would need to render the `defs` into ev

[2020-03-09 19:56] daneah commented on #9295
@daKmoR oooh that is an interesting thought, sounds plausible. Will look into that 😄

[2020-03-09 20:04] #8386 closed

[2020-03-09 20:24] ndelangen commented on #9455
@kalinchernev

Topic: Norbert de Langen's Personal Meeting Room
Date: Mar 9, 2020 03:04 PM Amsterdam

Meeting Recording:
https://zoom.us/rec/share/2MZ7Kozo-U1LZs-R10H4U7wxG57rX6a8hnNKrqINmE5x_3HCu8_bsfHWIQxvdm7P

[2020-03-09 20:53] vidarc commented on #10082
latest of version 5 storybook works on jenkins, but is lacking this PR: https://github.com/storybookjs/storybook/issues/9900

possible to get that one merged into 5?

[2020-03-09 21:04] RyanHavoc opened #10086 "storySort isn't find all stories in project."
**Describe the bug**
To control the order of my stories I have the following storySort function:

[code]

I have story files in two locations e.g. `src/components/SomeComponet/SomeComponent.stories.js` and `src/pages/SomePage/SomePage.stories.js`.

My `main.js` includes stories from these locations with `stories: ['../src/**/*.stories.([tj]s|mdx)'],`, all components appear Storybook however the st

[2020-03-09 22:33] shripadk opened #10087 "Props Table doesn't display for Props with complex types (Typescript addon-docs)"
**Describe the bug**
This bug is specific to Typescript. When you import Props from another Component and create a union type with current Component's Props, the Props table fails to load.

**Expected behavior**
Expect Props Table to be displayed for Components with complex Props Types.

**Screenshots**
<img width="1020" alt="Screen Shot 2020-03-10 at 4 02 23 AM" src="https://user-images.githubuse

[2020-03-09 22:42] TeoTN commented on #9639
I'd expect a way to get correct types without knowing internal structure of the library...

[2020-03-09 22:44] shilman commented on #10011
Thanks @thany! I'll try my best to track it down when I get a few mins. If anybody else wants to take it, have at it!

[2020-03-09 22:50] shilman commented on #10087
It looks like the loader is not running properly on your typescript files. Do you have a repro?

[2020-03-09 22:53] shilman commented on #9639
Looking to replace `addon-contexts` in SB6.0 with `addon-toolbars` that is much simpler and uses Storybook core features (args, decorators). Feedback welcome!

https://github.com/storybookjs/storybook/pull/10028

[2020-03-09 23:00] shilman commented on #9854
cc @yannbf

[2020-03-09 23:13] shilman commented on #10086
@RyanHavoc i doubt it's related, but you shouldn't mix 5.x and 6.x packages (i see you're using addon-docs 6.0.0-alpha.x)

[2020-03-09 23:14] TakenPilot commented on #9582
Still true, still an issue.

[2020-03-09 23:21] shripadk commented on #10087
@shilman I can make one and put it up in sometime. The loader is working for simpler components. As soon as I create a complex Props type it fails.

[2020-03-09 23:40] shilman commented on #10081
@basher you can run `--preview-url` from any working storybook. it doesn't have to be the `official-storybook`

[2020-03-09 23:41] shripadk commented on #10087
@shilman Have pushed a repro repo here: https://github.com/shripadk/storybook-repro

Two stories: one for **Button** component and another for **SubmitButton**. As you'll be able to see, the **Button** props table renders perfectly. **SubmitButton** on the other hand renders an empty props table.

Screenshot of **Button** Props Table:
<img width="1031" alt="Screen Shot 2020-03-10 at 5 09 41 AM" sr

[2020-03-09 23:44] shilman commented on #9634
@trek fixed in #10088 and will patch on next release. thanks!!

[2020-03-10 00:00] shilman commented on #10087
Thanks @shripadk. This looks like a dupe to #9591, I'm going to close this for now.

[2020-03-10 00:00] #10087 closed

[2020-03-10 01:14] jeffreymeng commented on #9921
@shilman Is this what you mean by using require.resolve?
When I try that, there are no errors, however it says `No props found for this component` in storybook.
[code]

[2020-03-10 02:45] shilman commented on #9921
@jeffreymeng yeah that's what i meant. can you share a repro?

[2020-03-10 02:58] Yama-Tomo commented on #7223
I faced a similar problem in CRA.
I tried fix problem. Try the following steps.

- check jest transform ordering

[code]

- modify `node_modules/@storybook/addon-docs/jest-transform-mdx.js`

[code]
  ☝️ I don't know  if this is a bug. It might be better to create custom transformer.

- modify `node_modules/@storybook/components/dist/syntaxhighlighter/syntaxhighlighter.js`

[code]

  fixed in v6.0.

[2020-03-10 04:07] tmeasday commented on #9944
Sure, works for me.

[2020-03-10 04:09] tmeasday commented on #10069
Probably just that we navigate here: https://github.com/storybookjs/storybook/blob/f7fdd76e5c9fb1b10dda00ca00a28e70b120e6aa/lib/api/src/modules/shortcuts.ts#L252-L254

and clicking the X does a "back"?

[2020-03-10 04:51] gsklee commented on #9946
@mrmckeb Sorry but no idea where to look at for the cause of the bug

[2020-03-10 06:20] shilman commented on #9944
@gsklee would you be able to create a PR with `componentTitleRegex` rename and an entry in `MIGRATION.md`?

[2020-03-10 08:07] kylemh commented on #9556
I gave this a try in other projects, but wasn't successful - although I'm a bit sleep-deprived.

Theoretically, I should be able to take this [minimal TSDX + React + Storybook repo](https://github.com/mariusespejo/react-ts-storybook), and do:

1) `yarn remove react-docgen-typescript-loader`
2) `yarn add @storybook/preset-typescript` (to get latest version of preset)
3) Move preset declaration from

[2020-03-10 08:26] FabzAn commented on #9908
Hi, I had the same problem.

The error is emitted by `terser-webpack-plugin` which seemed to be unable to load webpack.
I looked at its dependency tree using `npm ls terser-webpack-plugin`.
It returned `UNMET PEER DEPENDENCY webpack@4.41.6`. Turned out, my installed webpack version was 3.x.x and a simple upgrade fixed the problem.

tl;dr
Try `npm i -D webpack@4.41.6`

[2020-03-10 08:43] ryota-ka opened #10091 "[lib/api] Move @types/reach__router into devDependencies?"
**Is your feature request related to a problem? Please describe.**
I'm using Storybook with non-React JSX factory.
Since `@storybook/api` depends on `@types/reach__router` and it also brings `@types/react`, which introduces a global pollution of `JSX` namespace (`declare global { namespace JSX { ... } }`).

**Describe the solution you'd like**
Moving `@types/reach__router` from `dependencies` to `

[2020-03-10 09:36] basher commented on #10081
Thanks @shilman

- I have my Parcel + Storybook app running - `parcel ./storybook.html --port 9009`.
- I've created a brand new Create React App + Storybook app. `npm run storybook` works, so at least I know I have a working default Storybook environment.
- From this new CRA, I ran `npm run storybook --preview-url=http://localhost
:9009/iframe.html`. Port 9009 was not available, so I chose 9010. S

[2020-03-10 10:02] shilman commented on #10081
That all looks reasonable to me. I know in the past you had to do `npm run x -- -y` to get the `-y` argument passed properly, not sure if that's still the case?

[2020-03-10 10:10] basher commented on #10081
Sorry, I'm not sure I understand your comment?

Are you saying that you expected to see the CRA React stories by running `npm run storybook --preview-url=http://localhost :9009/iframe.html`?

- In which case, what's the value of having a standalone Storybook with Parcel?
- It's beginning to look like I need to keep my Parcel app (with HTML) separate from any Storybook implementation (where I can a

[2020-03-10 10:14] shilman commented on #10081
I'm saying that you might need to run `npm run storybook -- --preview-url=http://localhost :9009/iframe.html`

[2020-03-10 10:46] basher commented on #10081
Thanks Michael, I appreciate your help with this. :)

`npm run storybook -- --preview-url=http://localhost :9009/iframe.html` works OK:

![Screenshot](https://user-images.githubusercontent.com/452809/76304122-bc406f80-62ba-11ea-9313-d833d333c2b8.jpg)

It now shows the [1 test HTML story in my repo](https://github.com/basher/parcel-boilerplate-storybook/blob/master/stories/index.stories.js), which

[2020-03-10 11:00] shilman commented on #7479
Gadzooks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.22 containing PR #10084 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-03-10 11:00] shilman commented on #9811
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.22 containing PR #10014 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-03-10 11:01] shilman commented on #7479
Almost there. Next release will fix it 😉

[2020-03-10 11:03] ChiefORZ opened #10094 "Yarn 2: SB not working when using a .storybook/preview.js file"
**Describe the bug**

We tried to migrate our package to yarn v2 with `@storybook/react v6.0.0-alpha.21`.
And it always fails with following error:

[code]

**Code snippets**
We have following config files:

[code]

[code]

**System:**

System:
    OS: macOS 10.15.3
    CPU: (8) x64 Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz
Binaries:
    Node: 10.16.3 - /usr/local/bin/node
    Yarn: 2.0.0-rc.29 -

[2020-03-10 12:00] ChiefORZ commented on #10094
We think that it has to do with decorators, because when we remove the file `.storybook/preview.js` - it works like a charm

[2020-03-10 12:03] shilman commented on #10081
Glad you got it working and hope we can provide better support for this scenario very soon!

[2020-03-10 12:03] #10081 closed

[2020-03-10 12:11] shilman opened #10095 "Addon-docs: Remove framework-specific presets"
See: https://github.com/storybookjs/storybook/blob/next/addons/docs/src/frameworks/common/makePreset.ts

- [ ] Cleanup code
- [ ] Add migration instructions

[2020-03-10 12:32] kalinchernev commented on #9455
Thank you again for the time @ndelangen !

[2020-03-10 13:39] alexhhn commented on #10027
+1

[2020-03-10 13:45] ndelangen commented on #10091
We re-export some types from reach-router. If we move them, our packages break for typescript users, because the typings we refer to would be missing.

[2020-03-10 14:21] ndelangen commented on #8936
@tomdev10 Would you be able to contribute the fix perhaps?

[2020-03-10 15:12] maniax89 commented on #9837
@shilman was taking a look at the reasoning behind this issue and one of the issues I was trying to get around was this statement in `react-docgen` for typescript:

https://github.com/reactjs/react-docgen#flow-and-typescript-support

This is noted in https://github.com/strothj/react-docgen-typescript-loader/issues/80#issuecomment-583107882

will `react-docgen` support loading types external to the

[2020-03-10 16:37] ndelangen commented on #9635
@codemacabre Need any help?

[2020-03-10 16:46] ndelangen commented on #10075
Storybook doesn't control the Project Level `module:` field.. that's the user's `package.json`..

So the user get's to decide if `.js` mains CommonJS or ESM.

If the user adds a `module` field, they'll also be required to either change `main.js` to `.cjs` or migrate it to ESM.

Is an action required from storybook? I don't think so, perhaps some documentation?

I haven't seen this behaviour from n

[2020-03-10 16:52] functionalDev commented on #9564
The problems seems to be related to the file-loader.
I found a workaround by adjusting the config for the file-loader in main.js
`
const getFileLoader = (config) => {
  const { oneOf } = config.module.rules.find(({oneOf}) => oneOf);
  return oneOf.find(({loader}) => /file-loader/.test(loader));
};
module.exports = {
  stories: ['../src/stories/*.stories.js'],
  addons: [
    '@storybook/preset-cre

[2020-03-10 17:02] yannbf commented on #9854
Hey @gsklee, what @igor-dv said is correct. The `boost` array only holds the extension names, but `interpret` has loaders related to every extension, which would be required in order to load `.mjs` files. I have tried a workaround and it works, which is described in https://github.com/gulpjs/interpret/issues/65#issuecomment-597184897.

However, that is not optimal for your project, given that ever

[2020-03-10 19:46] egauci opened #10098 "knobs addon does not work on 5.3.0 +"
**Describe the bug**
After upgrading storybook from 5.2.8 to 5.3.x I noticed that none of the knobs were working any more.

This project has been around for some time. It was started with create-react-app and uses storiesOf().add(). On upgrading to 5.3.x I also needed to include the preset-create-react-app addon. However, even if I keep the preset and simply back storybook to 5.2.8 everything work

[2020-03-10 20:06] gaetanmaisse commented on #10078
@zeorin I worked on making SB CRA Preset compatible with Yarn 2 a few days ago, the PR is open and should be merged soon 😉 : https://github.com/storybookjs/presets/pull/104. I will tell you as soon as it will be released.

More globally, you can follow the WIP about Yarn 2 compatibility in this issue: https://github.com/storybookjs/storybook/issues/9527.

[2020-03-10 20:12] gaetanmaisse commented on #10094
@ChiefORZ Thanks for reporting this issue, I will try to work on it soon. I added this to the Yarn 2 compatibility TODO list 😉 You can follow the WIP about Yarn 2 compatibility in this issue: #9527.

Note for future me: The problem is not the decorators directly but the `.storybook/preview.js` file, the error is thrown even with an empty file.

[2020-03-10 20:32] kwhitejr commented on #8518
@Reignable can you share how you implemented state-sharing with `useChannel`?

[2020-03-10 21:12] kruthivijay31 opened #10100 "Docs(info link): info link under addons table in github docs is returning 404 error"
**Describe the bug**
A clear and concise description of what the bug is.
In the github document https://github.com/storybookjs/storybook, under addons table - `info` link is broken and return 404 error.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/storybookjs/storybook'
2. Click on 'info' link under addons table
4. See error - 404

**Expected behavior**
A clear an

[2020-03-10 21:42] yannbf commented on #10100
Hey @kruthivijay31, thanks for opening this issue! There is a PR which fixes the broken link at #10045.
For the time being please refer to [this link](https://github.com/storybookjs/storybook/tree/master/addons/info) for the documentation of the addon.

[2020-03-11 01:31] kruthivijay31 commented on #10100
Thanks!!!

[2020-03-11 01:55] shilman commented on #9837
@maniax89 please upvote this https://github.com/reactjs/react-docgen/pull/352

[2020-03-11 02:15] #10100 closed

[2020-03-11 03:36] MarkHorman opened #10104 "Text Knobs with spaces don't render after first space"
## Issue
When entering text into the text type knob of type addon-knobs, if the text contains spaces nothing renders after the first space. I'm building web components using StencilJS.

## Steps to reproduce
Load Storybook in any browser
Click on the knobs tab and start typing content including spaces into the text knob.

**Expected behavior**
The text should be rendered as I have typed it out, ho

[2020-03-11 03:41] tmeasday commented on #9811
We still need to delete `useStoryState` as per a conversation with @ndelangen

[2020-03-11 04:35] tylercaceres commented on #9415
Could you please paste your webpack config?

[2020-03-11 07:09] #9539 closed

[2020-03-11 09:20] shilman commented on #7479
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.24 containing PR #10089 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-03-11 09:20] shilman commented on #9279
Crikey!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.24 containing PR #9292 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-03-11 09:20] shilman commented on #9811
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.24 containing PR #10015 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-03-11 09:20] #7479 closed

[2020-03-11 09:20] #9811 closed

[2020-03-11 09:21] shubhamholkar007 commented on #6798
is there any simple option than creating new simple theme ?

[2020-03-11 09:52] jonhuteau opened #10105 "TypeError: _ref2 is undefined"
**Describe the bug**
When I start storybook, it builds without error but it crashes in browser wiht the error

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Update SB to 6.0.0-alpha.24
2. Start SB and go on your browser
3. The page should be blank with an error message in console

**Expected behavior**
Storybook should start

**Screenshots**
![image](https://user-images.githubusercon

[2020-03-11 10:29] codemacabre commented on #9635
Apologies @ndelangen, I've had a busy few weeks and not made much progress recently. I've refactored the basic structure to use CSS Grid. A few styling updates are needed, then testing.

I'll get back on it this weekend, if you're happy for me to continue?

[2020-03-11 10:37] shilman commented on #10105
Sorry about that @jonhuteau -- this was due to a bad merge. Fixed and in the process of re-releasing now! 😬

[2020-03-11 10:39] logankoester commented on #6867
This looks interesting: https://www.npmjs.com/package/@shedali/remark-mermaid

[2020-03-11 11:05] shilman commented on #10105
¡Ay Caramba!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.25 containing PR #10106 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-03-11 11:05] #10105 closed

[2020-03-11 11:13] jonhuteau commented on #10105
@shilman Nice ! This one seems to be fixed. I can get a skeleton of Storybook UI but it throws another console error

[code]

![image](https://user-images.githubusercontent.com/58468627/76411245-abaef880-6391-11ea-8693-17728328345e.png)

[2020-03-11 11:22] SilencerWeb opened #10107 "Is there a way to create a NOT nested story?"
As I can see in your docs, you were focused on examples of nested stories so I couldn't find any examples of creating a not nested story. Is there even a way to do it?

Right now my hierarchy looks like this which is not really comfortable to use since all stories are nested:

![image](https://user-images.githubusercontent.com/20713191/76411565-e2960600-63b3-11ea-9c27-35e8d7a36b8c.png)

If I'm not

[2020-03-11 11:26] shilman commented on #10105
@jonhuteau make sure all your SB packages are upgraded to the latest alpha?

[2020-03-11 11:35] jonhuteau commented on #10105
@shilman

[code]

[2020-03-11 12:13] shilman commented on #10105
@jonhuteau can you try deleting your `node_modules` and try again? cc @tmeasday

[2020-03-11 12:31] jonhuteau commented on #10105
@shilman Yes, done already, and nothing changed

[2020-03-11 12:32] shilman commented on #10107
@SilencerWeb AFAIK there was never any way to do this. Here's the `storiesOf` equivalent:

[code]

One thing you can do if you want to show a piece of documentation at the top-level is use "documentation-only mdx":

https://github.com/storybookjs/storybook/blob/8b11ec6eb9b710c5e7d896ce4da8074bd4af7f6f/addons/docs/docs/mdx.md#documentation-only-mdx

[2020-03-11 12:36] shilman commented on #6798
This is getting fixed in https://github.com/storybookjs/storybook/pull/9076 which will hopefully be merged/released soon.

[2020-03-11 12:36] shilman commented on #10105
@jonhuteau do you have a repro?

[2020-03-11 12:56] chriscarpenter12 commented on #9628
I think my issue was definitely related to the `mini-css-extract-plugin` issue. I upgraded to 5.3.14 and my sass loading started working properly.

[2020-03-11 12:56] #9628 closed

[2020-03-11 13:00] danielbayerlein commented on #9518
Exists a solution for this problem?

[2020-03-11 13:04] patricklafrance commented on #9904
What do you think @domyen ?

[2020-03-11 13:25] stefanbruvik commented on #9396
Got it working with `@svgr/webpack` using `webpackFinal`:

[code]

The issue is that there is already an existing rule for svg, which is using file-loader. So, removing "svg" from that rule test, then adding a separate svg rule using `@svgr/webpack` fixes it.

[2020-03-11 14:00] joey80 commented on #9589
I'm experiencing this issue with Vue as well

[2020-03-11 14:01] domyen commented on #9904
Thanks for the suggestion Patrick. This is a the default behavior of that component, which is used across Storybook and its sub-projects. I don't have a solution 😅 but am hesitant to make a change because it would prompt a change to a lot of other un-related things.

An idea that might sidestep this behavior is to hide the "ActionBar" and reveal it on `:hover`.

[2020-03-11 14:12] jonhuteau commented on #10105
@shilman Well, can't figure out what I've done but this seem to be gone. I tried to remove `node_modules` and even `package-lock.json`, maybe one of this fixed it

[2020-03-11 14:36] adamchipperfield opened #10109 "Setting `showPanel` as component-level parameter doesn't seem to work"
When I set parameter options on a Component level basis, the following occurs:

1. I set a Component to have `parameters.options.showPanel` set to `false`.
2. Storybook loads on a different Component (with no config set) and the panel shows.
3. Click on the Component (from step 1) and the panel hides. So far so good.
4. I click on the Component from step 2 (or any other Component) and the panel is

[2020-03-11 14:54] basher opened #10110 "Using preview-url to view standalone Storybook - storysource addon doesn't work"
**Describe the bug**
I have a working **standalone Storybook HTML** instance, using **--preview-url** option. I need to use standalone because I use Parcel for bundling, not Webpack.

However, I cannot get **storysource** addon to load source code for the standalone story.

**To Reproduce**
I have 2 minimal repos setup to demo the problem:
- `npm run storybook` from the [standalone repo](https://g

[2020-03-11 15:05] shilman commented on #10109
I think this might have more to do with how Storybook UI handles state and less to do with component parameters. What happens when you set `showPanel: true` globally?

[2020-03-11 15:12] adamchipperfield commented on #10109
Thanks @shilman. Annoyingly this doesn't work.

If it helps, I've also tried by explicitly setting `showPanel: true` on another component. The panel shows back up when clicking into that component. But then the same happens when returning to the original, no-panel component.

[2020-03-11 15:14] adamchipperfield commented on #10109
Clearly setting `showPanel: true` on every other component will fix it, but this isn't ideal nor future-proof.

[2020-03-11 15:33] patelvp commented on #8093
Hey, absolutely new to contributing to open source community. Can i give this a shot? Have some experience setting up and creating storybooks from scratch. Would be a good challenge that i would like to take on.

[2020-03-11 15:46] shilman commented on #10109
You can set parameters globally, per component, and per story. These are all workarounds. I believe @tmeasday  started on a proper solution once upon a time but it’s buried in an issue somewhere

[2020-03-11 15:47] shilman commented on #8093
@patelvp would be awesome! Lmk if you have q’s

[2020-03-11 16:21] dfagan2 commented on #9422
@igor-dv - here is a zip of the relevant `.storybook` and angular config files: [angular.zip](https://github.com/storybookjs/storybook/files/4319374/angular.zip). And here is what's probably relevant from the `package.json`
[code]

[2020-03-11 16:47] antony-k1208 opened #10111 "MDX render vue component is not working"
**Describe the bug**
If you try to render a component inside an mdx file its crashing with the following error message: `Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: object.`

**To Reproduce**
Steps to reproduce the behavior:
1. import a vue component inside an mdx file (i.e. `import BaseButton from './BaseButton/BaseB

[2020-03-11 16:50] 10chars commented on #9955
@whoisryosuke  Did you manage to sort this out with the Stencil team?

[2020-03-11 16:52] PatFawbertMills commented on #10080
Thanks @shilman this helped me out massively today.

[2020-03-11 17:14] whoisryosuke commented on #9955
@10chars I didn’t make an issue on their repo.

ended up using the distribution build of Stencils components and importing that, instead of using the Stencil loader and polyfills (which I think were the issue, since core-js is used for polyfillng).

Doesn’t allow for hot reloading though, which is lame 😭 I honestly would go back and [use the Enjin method to copy files using Webpack](https://whoisr

[2020-03-11 17:15] patricklafrance commented on #9904
Hiding the action bar until hovered seems like a great idea to me @domyen!

[2020-03-11 18:11] shilman commented on #10111
Please see the docs for how to use vue components in MDX:

https://github.com/storybookjs/storybook/tree/next/addons/docs/vue#mdx

[2020-03-11 18:15] andrewshawcare commented on #10075
Once the user decides `.js` means ESM `.storybook/main.js` will not load.

The behaviour is documented here: https://nodejs.org/api/esm.html

[2020-03-11 20:23] itaditya commented on #9723
Facing the same issue. Configuration-

[code]

[2020-03-11 22:50] rafaelalmeidatk commented on #9209
not stale

[2020-03-11 23:12] josesteva commented on #5013
Thank you!

[2020-03-12 01:04] tmeasday opened #10113 "Remove useStoryState"
We should consider if we remove `useStoryState()`.

 - If you want to set state on a story that affects rendering, use `useArgs()` or `useGlobalArgs()`.

 - If you want to set state for an addon, use `useAddonState()`.

There are conceivably use cases for the "story-level" addon state that *does not* affect rendering, but I am not sure the complexity of `useStoryState()`'s implementation is worth

[2020-03-12 01:04] tmeasday commented on #10113
cc @shilman @ndelangen

[2020-03-12 04:47] tmeasday opened #10115 "Combine composition w/ `args` and `globalArgs`"
Following on / part of #9210:

We need to make composition work with args + global args.

### Args

This one is probably easy. We simply need to ensure that:

1. When the `STORY_ARGS_CHANGED` event is received to the manager it is routed to the correct `storiesHash`

2. When the `api.updateStoryArgs()` API is called, it sends the update to the correct ref.

### Global Args

This one needs more tho

[2020-03-12 05:47] antony-k1208 commented on #10111
Thanks for the fast answer and for providing this link. Sadly it isn't helping at all.
The only thing mentioned there is how to create new stories. I do not want to create an new story but for example just show some use cases for a specific component as usual in documentations :)

MDX normally allows using components directly inside your markup. I found for example a `wrapper` component inside `@s

[2020-03-12 05:59] astrotim opened #10116 "Broken build error with order of addons array in main.js"
In an attempt to implement the `main.js` declarative configuration, we discovered that the order of presets can cause a broken build with the error

Initially, we had `@storybook/addons` is first in the addons array, which was producing the following build error:

[code]

The main.js configuration was:

[code]

If we changed the order of the addons array to have `@storybook/addons` last, this erro

[2020-03-12 06:00] wKich commented on #7677
@lirbank, I think, for decorators you can use `DecoratorFn` type from `@storybook/<framework>`

For stories it would be like this:

[code]

[2020-03-12 06:02] Ajayghoshm commented on #8077
Any Solution?

[2020-03-12 07:06] #9570 closed

[2020-03-12 07:24] Jeffzholy commented on #4840
Hi I have the same prob, and I didn't use CRA. An assumption, I was configuring the project by three webpack config files: ....common.js, dev.js, and prod.js, it might confuses storybook? Any ideas?

[2020-03-12 07:54] danielbayerlein commented on #9939
I use the following workaround:

*File:* `preview.js`
[code]

[2020-03-12 08:14] shilman commented on #9939
@danielbayerlein starting in 6.0 this will be the recommended way to do things:

https://github.com/storybookjs/storybook/pull/10028

[2020-03-12 08:17] shilman commented on #10116
@astrotim I think you should remove `@storybook/addons` from the array entirely. It's a library, not an addon...

[2020-03-12 08:21] shilman commented on #10111
@antony-k1208 The documentation shows exactly how to create stories. The syntax you are using is something you made up and doesn't work, and the syntax in the documentation is how you do it in Storybook.

There's an open issue to provide a more natural syntax for different view layers here https://github.com/storybookjs/storybook/issues/7984

[2020-03-12 08:21] #10111 closed

[2020-03-12 09:47] danielbayerlein commented on #9592
Is there already a solution for pure `styled-components` components?

[code]

[2020-03-12 10:16] shilman opened #10118 "Addon-centered: Move out of monorepo"
Storybook 6.0 includes a new built-in `layout` parameter that supersedes `addon-centered`. Let's:

- [ ] Move `addon-centered` out of the monorepo
- [ ] Update all references in the docs
- [ ] Update MIGRATION.md

[2020-03-12 10:40] o0Djeen0o opened #10119 "Documentation for peculiar frameworks integration"
**Is your feature request related to a problem? Please describe.**
Most common frameworks are handled by the Storybook team (which is great, thanks !). however, when it comes to integrate under the hood/specific technologies, it is hard to know what should be the way to move forward in order to integrate a given stack with Storybook architecture.

For instance, I must work with https://openui5.org

[2020-03-12 12:06] #9163 closed

[2020-03-12 13:36] shilman commented on #7101
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.26 containing PR #7673 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-03-12 13:36] shilman commented on #9662
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.26 containing PR #10114 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-03-12 13:36] #9662 closed

[2020-03-12 13:38] #7101 closed

[2020-03-12 13:56] peacefulseeker commented on #6020
Thanks, was muy case as well! 🙏

[2020-03-12 14:06] #9366 closed

[2020-03-12 14:06] #9581 closed

[2020-03-12 14:58] ronnyek commented on #6639
How would this work with docs pages that have multiple examples? Would we have multiple docs tables, or would the singular docs table just affect all examples? Or would the default example be the only thing knobs would get applied to?

[2020-03-12 15:14] ShaiDemri commented on #9939
This method doesn't work for stories of components that are related through "yarn link...."

[2020-03-12 15:40] adamborowski opened #10121 "Readme preview pane affects react-syntax-highlighter inside developed components"
**Describe the bug**
Components that use react-syntax-highlighter are always displayed without syntax highlighting.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a story that uses react-syntax-highlighter, for example
[code]
2. Go to storybook
You will see unstyled block of text
![image](https://user-images.githubusercontent.com/3614676/76538075-01ad9a00-647f-11ea-8009-f27b2d1bb58b.

[2020-03-12 15:52] calebdwilliams commented on #8375
FWIW, this problem isn't only related to Stencil, I have a completely vanilla web component library and am experiencing this issue as well.

[2020-03-12 15:53] adamborowski commented on #10121
After more investigation, I found different plugin which affects highlighting in similar way:
https://github.com/tuchk4/storybook-readme/blob/47152953f0086cebb635da1cafbe9f6dc298d5ad/packages/storybook-readme/src/services/highlite.js#L22

[2020-03-12 15:59] adamborowski commented on #10121
https://github.com/tuchk4/storybook-readme/issues/173 this is real issue

[2020-03-12 15:59] #10121 closed

[2020-03-12 16:12] ssbelle commented on #8375
@calebdwilliams I was using web components as well and my npm package gives us the full data payload like so:
[code]

[2020-03-12 16:19] neil-morrison44 commented on #9279
Has there been a non-prerelease version released that fixes this or is it still to come?

[2020-03-12 17:06] #9543 closed

[2020-03-12 17:06] #9516 closed

[2020-03-12 17:44] ahuth commented on #7625
Hey @shilman , did you ever get a chance to try to re-apply the changes? I can't actually find the commit that adds back the peer deps. Would love to be able to use this addon without needing to install packages I don't actually use (my company unfortunately runs `npm ls` on CI, and any warnings/errors from that will cause CI failure).

Let me know if you need any help with this, or if a new PR wo

[2020-03-12 18:10] calebdwilliams commented on #8375
@ssbelle, how are your events constructed? I'm just using `CustomEvent` and `event.detail`, with your package payload was null.

[2020-03-12 18:30] ssbelle commented on #8375
@calebdwilliams
export function logEvent(e) {
  const id = uuid();
  const formattedEvent = {
    id,
    data: {
      name: e.type,
      payload: e.detail
    }
  };

hope that answers your question!

[2020-03-12 22:10] sami616 commented on #9591
@shilman i've updated all my deps, presumably i still need `@storybook/preset-typescript` installed and referenced in my` main.js` ?  Are there wip docs anywhere i can see?

[2020-03-13 02:05] neryams commented on #2817
This is really cumbersome. Now we have to declare the component three(!) redundant times in a MDX story. Once in the Meta, once in the Props, and once in the moduleMetadata.... And then add the html with the selector too. There has to be a better way...

[2020-03-13 06:16] khatrimanoj commented on #2460
first delete your node_modules folder or rename it. And then again install node_modules by running "npm install". now working fine.

[2020-03-13 07:08] #9542 closed

[2020-03-13 09:53] PatFawbertMills commented on #8531
How do you add decorators in line with the new v6.0 migration to the `main.js` file?

[2020-03-13 11:00] astrotim commented on #10116
OK thanks Michael, I'll remove it and see how we go.

[2020-03-13 11:00] #10116 closed

[2020-03-13 12:18] blemaire commented on #6364
we serve scss files in storybook using the following:

import '!style-loader!css-loader!sass-loader!./main.scss';

This works fine for us

[2020-03-13 12:28] vasilevach commented on #9279
Hi guys,

I still get the error, even after updating to v6 everything storybook related:
[code]
Anything I might be missing?

[code]

[2020-03-13 13:17] Dashue commented on #9205
Another one having the same issue here. It was working recently

[2020-03-13 15:14] pf1gura commented on #8023
By forcing `sass-loader` to version 7 I was able to run storybook again.

`yarn add --dev sass-loader@7`

Does anyone have better ideas?

[2020-03-13 15:31] joelmukuthu commented on #9943
Just to add to the great answer by @badman-rodriguez, the `emitCss` option is actually needed if, for instance, you want that CSS processed by some other loader in your webpack config (e.g. processing background images via `file-loader`).

My resolve was to unset `svelte-loader`s hot-reloading options:

[code]

[2020-03-13 20:16] vasileermicioi commented on #8677
@ryascl  thanks for reproduction, I was also interested in the topic (to get rid of webpack but to use storybook) and  it led me to this solution / workaround https://github.com/vasileermicioi/parcel-storybook

[2020-03-14 01:29] shilman commented on #9205
@Dashue do you have a repro?

[2020-03-14 01:32] shilman commented on #9279
@vasilevach Please remove this line:

[code]

[2020-03-14 01:32] shilman commented on #9279
@neil-morrison44 coming in the next couple days

[2020-03-14 01:37] shilman commented on #8531
@PatFawbertMills you add it to `preview.js`.

In 5.3:
[code]

In 6.0:
[code]

[2020-03-14 01:49] shilman commented on #7625
@ahuth sorry this fell through the cracks. a new PR would be helpful!

Also, FWIW, I plan to deprecate `addon-contexts` in 6.0 and have created a new addon, `addon-toolbars` that achieves the same result in a simple/standard/ergonomic/cross-framework way. If you can upgrade, I highly recommend it:

https://github.com/storybookjs/storybook/tree/next/addons/toolbars

[2020-03-14 04:00] shilman commented on #9499
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.15 containing PR #10046 that references this issue. Upgrade today to try it out!

[2020-03-14 04:00] shilman commented on #9900
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.15 containing PR #10042 that references this issue. Upgrade today to try it out!

[2020-03-14 07:35] arjansingh commented on #6505
[Yarn resolutions documentation](https://classic.yarnpkg.com/en/docs/selective-version-resolutions/)

[2020-03-14 08:04] shilman commented on #9279
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.17 containing PR #9780 that references this issue. Upgrade today to try it out!

[2020-03-14 09:00] ridakk opened #10127 "storyshots is ignoring webpack config"
**Describe the bug**
storyshots is ignoring webpack configuration. i can stroybook succesfully and all assets/css etc are all working properly but while running test with jest, it is giving unexpected token error.

i am using my original webpack config as below for storybook.

[code]

here is my main.js

[code]

and my jest.config.js
[code]

and i get error below;

[code]

when i add file transfor

[2020-03-14 11:48] #9595 closed

[2020-03-14 11:48] #9593 closed

[2020-03-14 11:48] #9606 closed

[2020-03-14 11:48] #9605 closed

[2020-03-14 11:48] #9283 closed

[2020-03-14 11:58] Dashue commented on #9205
@shilman Hey Michael, thanks for your time.
I spent yesterday digging through bugs, issues and discussions.
I was both wrapping my components in a hoc (to apply consistent styling to all my components), which involved generics, this was working until I moved the hoc to it's own file for re-use.

I've solved it by exporting one component to feed to the docs addon and another to consume and use in t

[2020-03-14 13:58] Arguseye commented on #3949
i import component's sytle after add javascriptEnabled: true.

**https://github.com/ant-design/ant-design/issues/11603**

[2020-03-14 14:48] #9285 closed

[2020-03-14 15:48] #9614 closed

[2020-03-14 15:56] rohittagadiya commented on #9463
Getting same issue :)

[2020-03-14 17:08] danawoodman commented on #9889
Bumppppppppp

[2020-03-14 17:18] patelvp commented on #8093
Was able to find the bug.
In `DocsPage.tsx`

[code]

The first story is printed by the `Primary` component and the rest of the stories are printed with the `Stories` component.
In primary component DocStory is called as
`<DocsStory {...story} expanded={false} withToolbar />`
Expanded is set as `false` here hence it is not printing the title and description.
What was the design decision here. A sim

[2020-03-14 17:48] #8959 closed

[2020-03-14 21:37] etlovett commented on #9922
@shilman Is there something we should do to keep the stale bot from closing this?

[2020-03-14 22:48] #9313 closed

[2020-03-15 03:05] goyney commented on #8296
This would be a very welcome addition. 👍

[2020-03-15 04:48] #9286 closed

[2020-03-15 10:05] shilman commented on #8296
@kamranayub the only separator character is `/` as of 6.0 (available as opt-in in 5.3). does that solve the problem?

[2020-03-15 11:00] shilman commented on #9922
i've marked it as `todo` to keep it from being automatically closed. that said, i  use the stale bot as a kind of "snooze alarm" for issues that we can't get to right away, so it's actually useful to get the reminders.

In this case the 6.0 `react-docgen` setup has made some progress, and is now the default for the CRA setup. it's documented here:

https://github.com/storybookjs/storybook/blob/nex

[2020-03-15 11:02] shilman commented on #8093
That was a design decision, tho now I'm not sure it was the correct one. @domyen WDYT?

[2020-03-15 11:03] shilman commented on #9463
@rohittagadiya did you update to latest?

[2020-03-15 11:18] shilman commented on #9930
This appears to be fixed in SB6.0 thanks to https://github.com/storybookjs/storybook/pull/9547

Closing this!

[2020-03-15 11:18] #9930 closed

[2020-03-15 11:30] shilman commented on #9593
Sorry for the slow response. The behavior you describe is by design. In "DocsPage", the default docs that are generated for your stories, the first ("primary") story gets the toolbar and the rest don't.

If you want to show the toolbars, it's possible to customize DocsPage https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/docspage.md#replacing-docspage

[2020-03-15 13:38] Kosai106 commented on #8959
Any update on this @patricklafrance?

[2020-03-15 14:30] patricklafrance commented on #8959
Redirect to @shilman

[2020-03-15 15:07] #9619 closed

[2020-03-15 16:04] ridakk commented on #10127
nwm, it turns out to be my configuration problem. i solved it by creating a seperate config file for test seperately from storybook build and serve tests with pupeterr.

[2020-03-15 16:04] #10127 closed

[2020-03-15 17:31] kamranayub commented on #8296
Thanks, I will have to test that!

On Sun, Mar 15, 2020, 5:05 AM Michael Shilman <notifications@github.com>
wrote:

[2020-03-15 22:17] aleohli opened #10128 "ViewDestroyedError when switching between ngx-datatable stories and not working knobs"
When switching between stories for the component that uses ngx-datatable component ViewDestroyedError appears.
It appears only in the situation when switching between stories with changed table structure.

Simple example below:

Component that uses ng-datatable component:
`import { Component, Input } from '@angular/core';

@Component({
  selector: 'data-table',
  template: `
    <ngx-datatable

[2020-03-16 00:24] shilman commented on #8959
@Kosai106 I'm midway through a major refactor of the props table code for 6.0. When that is done, this should either come "for free" or be very easy to add. This issue is not on my radar right now, but I'll dig it up when the time comes.

[2020-03-16 02:07] #9629 closed

[2020-03-16 02:35] cdll commented on #9637
same issue here～

[2020-03-16 04:45] shilman commented on #9637
cc @Aaron-Pool can you help with this?

[2020-03-16 07:29] pankajdaffodil commented on #9463
Try "skipLibCheck": true, inside tsconfig.ts eg.
"compilerOptions": {
    "baseUrl": "src",
    "outDir": "./dist/out-tsc",
    "sourceMap": true,
    "declaration": false,
    "downlevelIteration": true,
    "experimentalDecorators": true,
    "module": "esnext",
    "moduleResolution": "node",
    "importHelpers": true,
    "target": "es2015",
    "skipLibCheck": true,
    "typeRoots": [
      "

[2020-03-16 09:03] matteobarone commented on #8375
@ssbelle Yea it is working for me ;);) Thanks a lot!
If you could also add Typescript, would be perfect.
And maybe storybook will include it in one of their official addons.

[2020-03-16 09:32] Thorgoo commented on #9463
I'm getting the same error with ngx-videogular, ngx-clipboard and @ng-bootstrap here is my package.json
`"dependencies": {
    "@angular/animations": "^9.0.6",
    "@angular/cdk": "^9.1.2",
    "@angular/common": "^9.0.6",
    "@angular/compiler": "^9.0.6",
    "@angular/core": "^9.0.6",
    "@angular/forms": "^9.0.6",
    "@angular/platform-browser": "^9.0.6",
    "@angular/platform-browser-dynam

[2020-03-16 11:04] #9938 closed

[2020-03-16 11:25] Bjodol commented on #8177
Hey! Came over this issue and found a solution that simplify the hack.
Add to your .storybook/preview.js:

[code]

[2020-03-16 13:17] Aaron-Pool commented on #9637
@cdll mind duplicating your setup and pushing it to a public repo?

[2020-03-16 13:57] lihanqi opened #10131 "Flow support"
Hi I'm currently working with docs and since our team is using Flow, Im wondering if current addon-docs support Flow props table?

I have seen some issues but its still unclear to me. I saw there is a way to use `react-docgen-typescript-loader` in webpack loader as follows:

[code]

Since react-docgen already support Flow, can we replace `require.resolve('react-docgen-typescript-loader')` with som

[2020-03-16 14:46] breytex commented on #9586
Sorry for the shameless bump, but is this scheduled to be fixed in an upcoming release? :)

[2020-03-16 15:36] ahuth commented on #7625
No worries! Also, the toolbars addon looks perfect 👍

[2020-03-16 16:33] 10chars commented on #9955
@whoisryosuke Thanks! Will take a look at your method and see if I can get it working

[2020-03-16 17:11] marr commented on #7775
The `base` solution seems to work fine for production (static) builds. But how do you get the dev server working with it?

[2020-03-16 17:12] lopis commented on #6364
@blemaire Where are you using that line?

[2020-03-16 18:01] garrettmaring commented on #8461
As @shilman suggests, one can manage these logs in the browser console. However, I think Storybook should provide a way to config these log levels. The info logs provide little to no value to the developer.

<img width="464" alt="Screen Shot 2020-03-16 at 10 59 58 AM" src="https://user-images.githubusercontent.com/8270120/76786940-54d06700-6775-11ea-93a6-f45b18dd8c84.png">

Providing a `logLevel`

[2020-03-16 18:40] agnislav commented on #7975
+1  for this feature. I use default browser (Safari) for personal stuff and Chrome for development. Currently each time I have to close safari tab and manually open Chrome with each storybook run. Would be great to have this feature implemented.

[2020-03-16 20:45] jonniebigodes commented on #10074
@gossi i've been hoping to expand the storybook tutorial to ember for quite some time and also some other frameworks aswell but this was put on the "back burner" for a bit of time as the existing documentation needed some tweaks. If you're ok with this i'll be working on the ember tutorial and i would like for you to proof read and help me fine tune the the pr, so that it gets the deserved attenti

[2020-03-16 20:48] jonniebigodes commented on #10098
@egauci it would go a long way if you could get a actual reproduction going, i saw in your description that you're having issues with GitHub, With that in mind if you can hoist the code to [GitLab](https://about.gitlab.com/) i wouldn't mind taking a look at it and possibly help you with your issue.

[2020-03-16 21:29] gptt916 commented on #729
Hi, wondering if this is still being worked on? I am also experiencing the issue, I am aware of the work around but would like to know if a fix will be available any time soon.

[2020-03-16 23:19] shilman commented on #9586
@breytex we've consolidated on `react-docgen` for prop table generation, and according to my repro above it appears to be working fine. Can you try upgrading and let me know if it's working for you?

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

[2020-03-16 23:20] shilman commented on #10131
@lihanqi can you try the recommended 6.0 setup (should work in 5.3 too):

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

We've consolidated on `react-docgen` as our typescript solution.

[2020-03-16 23:30] mattmoreira commented on #9173
@shilman, as this was solved by #10071, can we close it?

[2020-03-17 04:02] phpSing commented on #8177
It works for me, I am using jest and storyshots, initially it throws the Invalid hook call error, I checked the React duplicate issue and all other suggestions, but no luck.

until I find this solution!

[2020-03-17 05:21] lihanqi commented on #10131
@shilman Thanks for the reply!

Currently I'm using 5.3.14. It seems does not support Flow type check, not TypeScript. Is Flow doc parsing natively supported in 6.x?

[2020-03-17 06:02] Jeffzholy commented on #1369
@tarwn lol, nice try, it works for me as well!!! But anyway, it is a UX bug, storybook team should update it somehow.

[2020-03-17 06:46] shilman commented on #10131
@lihanqi i'm pretty sure @patricklafrance got flow working. i'm working on the docgen default configuration this week and will try to get an example ready that you can look at.

[2020-03-17 06:47] shilman commented on #9173
thanks @mattmoreira !

[2020-03-17 06:47] #9173 closed

[2020-03-17 07:41] yptr commented on #8129
Are there any news?

[2020-03-17 09:48] zokaman commented on #7152
This solution is worked for me! Thx!

[2020-03-17 09:49] FrederickEngelhardt opened #10138 "select @storybook types prevent compilation of arrays"
**Describe the bug**
When using select with an array of data, typescript will throw an error saying that it does not match the correct data format.

**To Reproduce**
Steps to reproduce the behavior:
1. Have typescript enabled
1. Have `@storybook/addon-knobs` installed

Use the snippet below (make sure you remove TS-IGNORE) and you will get the following error:
[code]

**Expected behavior**
I would

[2020-03-17 10:13] ajkl2533 opened #10139 "[docs] PropTypes are not expanded in props table"
**Describe the bug**
When I import props enumeration from external file, those values are not expanded in prop types table. Custom defined prop types are not expanded no matter if it's imported from external file or defined in components file.

**To Reproduce**

***Custom PropTypes***
****prop-types.js****
[code]

***Button.jsx***
[code]

***Imported props values***
****enums.js****
[code]

***But

[2020-03-17 10:59] lihanqi commented on #10131
Sounds awesome! Thanks!

[2020-03-17 11:23] jcampbell05 opened #10140 "Class Names not injected into components"
**Describe the bug**
When using storybook with preact the classname in my less file aren't injected into the component meaning the styles aren't loaded.

The stylesheets exist on the page which means less is working and it seems like a class is tying to be generated as all of the HTML for my components have a blank "class" attribute just no class name inside for the CSS style to be applied.

**Exp

[2020-03-17 13:07] marcandrews commented on #6505
Is this still happening?

I am on `react-scripts@3.3.0`, `@storybook/react@^5.3.14` with `@storybook/preset-create-react-app@^1.5.2` and I can compile without warnings.

By the way, I think this _preset option_ is an excellent solution; it's definitely better than modifying the _slow-start_ instructions. After upgrading from 5.2, I was back up and running in about 10 minutes ❤️

[2020-03-17 13:24] pdeka commented on #7884
Why has this been closed, cause this issue seem to still exist!

[2020-03-17 14:23] mrmckeb commented on #6505
Thanks for the feedback @marcandrews!

[2020-03-17 15:57] stephanepericat commented on #4099
also not working in IE 11 for 5.1.11

[2020-03-17 16:24] Pyrolistical commented on #9918
I'm looking at the internal webpack config and see the following rules
[code]

[2020-03-17 17:21] gijsbotje opened #10141 "reading preview html to copy to clipboard via an addon"
Hello everyone,

I'm trying to get make a storybook for my client where they can use the knobs to configure an element for their site. After they are happy with the configuration they should be able to copy the html and paste it in a text editor.
What i'm struggling with is finding an addon to copy the rendered html. I've already taken a dive into the docs to see if i can do it myself, but i can't

[2020-03-17 19:05] qdozaq commented on #8177
@Bjodol 's solution is perfect and can actually be simplified even more!

[code]

[2020-03-17 19:23] lifeiscontent opened #10142 "Feature request: Mock imports"
**Is your feature request related to a problem? Please describe.**

One thing I've noticed is I find myself mocking a lot of imports, e.g. if I am using apollo, I use the `MockedProvider` in storybook, or if I'm using next.js I will mock the `next/router`.

in jest, I can just do jest.mock('next/router') and it'll load a file from `__mocks__/next/router.js`

it would be nice if storybook could do

[2020-03-17 19:54] prashnts opened #10143 "If built with wrong configuration, the story frame turns recursive"
**Describe the bug**

It's not particularly a bug, rather an interesting/concerning side effect.

My storybook configuration is out of date, but it is correct, and the static export of Storybook completes without errors. However the "story" iframe errors with a 404. Netlify substitute it with their 404 page, with a link to ´/´. Clicking this repeats.

![79653527-7134-48DC-AB4E-B3A8BDAB970A](https:

[2020-03-17 20:49] hmnsinghai opened #10144 "Reset of max and min date in knobs panel"
Reset of max and min date in knobs panel

**Steps to reproduce the behavior:**
1. Open storybook
2. Click on Controls>Date
3. Click on Accessibility tab
4. Click on Knobs tab
5. Min and max date got reset

**Expected behavior**
Min and max date should not reset

**Screenshots**
![image](https://user-images.githubusercontent.com/16811517/76900073-0e5f3300-686f-11ea-8fb6-d3038071baa4.png)
![image](h

[2020-03-17 23:21] Grace-Dmello commented on #9808
Faced similar issues with angular 9. @kroeder solution works. However, it will be great if the storybook fixes the issue.

[2020-03-17 23:28] shilman commented on #9918
@Pyrolistical can you elaborate on that?

[2020-03-17 23:29] shilman commented on #9470
Anybody know what's going on here?

[2020-03-17 23:30] shilman commented on #10131
Keeping this open

[2020-03-17 23:34] erikt9 commented on #9470
@shilman This was fixed for me by the release you did a few days ago. https://github.com/storybookjs/storybook/issues/9279#issuecomment-599025529

[2020-03-17 23:34] shilman commented on #10139
I think this is due to https://github.com/reactjs/react-docgen/pull/352

Please upvote the issue!

[2020-03-18 00:14] lifeiscontent commented on #10142
Just to shed some more light on why I think this feature should exist, I just recently created an example app in next.js and in order to test the full pages in the project, I ended up having to re-export all the pages so I could import them into storybook without having an apollo client trying to send API calls to production: https://github.com/lifeiscontent/realworld/tree/master/web/src/pages

[2020-03-18 00:47] shilman commented on #10142
Love this feature and think it could make Storybook a lot more powerful

[2020-03-18 01:01] lifeiscontent opened #10145 "Feature request: add testing utilities"
**Is your feature request related to a problem? Please describe.**
I'd love to have some testing utilities exposed from storybook to be able to get a fully composed story (including decorators)

**Describe the solution you'd like**

expose a function to gather both the global and local decorators of a story so we can use a story as a fixture in tests.

**Describe alternatives you've considered**

[2020-03-18 01:22] shilman commented on #10145
I think we might be able to do this cleanly for jest specifically:
1. Starting in 6.0 we have `.storybook/preview.js` exporting `decorators`
2. Starting in 5.2 (CSF) we have stories exporting `default.decorators` and `StoryName.story.decorators`

So we could provide a [jest transform](https://jestjs.io/docs/en/configuration#transform-objectstring-pathtotransformer--pathtotransformer-object) that d

[2020-03-18 01:41] tmeasday commented on #10145
Some issues:

 - What about decorators added by addons via presets?
 - What about decorators that aren't actually wanted/needed in jest? Some things you do for SB's sake might not work in Jest

I'm not sure the magic you described above is the right approach. I wonder if it might be better to just make it as easy as possible to do it manually. For instance, it would not be a big burden for a user

[2020-03-18 02:09] lifeiscontent commented on #10145
@tmeasday how would you get the global context and merge it with the story context?

[2020-03-18 02:11] tmeasday commented on #10145
@lifeiscontent -- what do you mean by "context" in this setting?

If you mean decorators, you'll notice in the code snippet above the `decorateStory` that's exported (by the user) automatically decorates the story w/ the `globalDecorators`. My thinking here is that you might drop one or two of those decorators if they are problematic in Jest (in fact I'll update my comment to demonstrate that).

[2020-03-18 02:13] lifeiscontent commented on #10145
@tmeasday I'm specifically talking about the parameters, options that might be added in `preview.js`

[2020-03-18 02:27] shilman commented on #9470
Awesome @erikt9 ! Thanks for letting me know. 🙏

[2020-03-18 02:27] #9470 closed

[2020-03-18 02:38] tmeasday commented on #10145
Interesting. Do you have a use case where you need access to those parameters or are you just wondering?

[2020-03-18 03:45] HeyKJ commented on #5298
also { "modules": "commonjs" } is working

[2020-03-18 04:50] lifeiscontent commented on #10145
@tmeasday yeah, I do, I have a custom decorator for Apollo, which does a lot of boilerplate setup for the cache, and then in the individual story I'll reconfigure it via the default export or the individual story.

[2020-03-18 05:43] egor-a-trubnikov-panov commented on #9779
main.js
`module.exports = {
  stories: ['../src/**/*.stories.tsx'],
  addons: [
    '@storybook/addon-knobs/register',
    '@storybook/addon-actions/register',
    '@storybook/addon-viewport/register',
    '@storybook/addon-backgrounds/register',
  ],
};
`

[2020-03-18 07:00] egor-a-trubnikov-panov commented on #9779
Even if I specify the path in the config

<img width="982" alt="Снимок экрана 2020-03-18 в 11 55 44" src="https://user-images.githubusercontent.com/2979574/76933858-e83d9f80-690f-11ea-9f4b-6c7b3191696b.png">

[2020-03-18 08:14] davidouanounou commented on #9952
Hi, is there anything new on this please ?
I hope everyone is ok during these very weird days.

[2020-03-18 09:16] benbrowning commented on #3836
Is this likely to be fixed, or do I need to just always use the template syntax when I want to use stories (which is fine, it can just be a bit more verbose)?

[2020-03-18 11:21] ndelangen commented on #8077
[code]

is not valid JSX AFAIK

[2020-03-18 11:40] ndelangen commented on #10069
If we add a check on line 253.. are we already on `/settings/about`?

OR we can make the router smarter?

[2020-03-18 11:57] smeijer commented on #9384
messaging `stale bot` before he decides to close this one.

I'm unable to get the prop table to work with a project based on babel+typescript.

So far, I'm only getting

This is my `.storybook/main.js`:

[code]

[2020-03-18 12:04] vilemj-Viclick opened #10147 "WithInfo takes tsType from dosgenInfo into account when generating PropTable."
**Is your feature request related to a problem? Please describe.**
Here's what a PropTable for my `<Button />` looks like:
![image](https://user-images.githubusercontent.com/13902120/76958102-618cc080-6917-11ea-9fde-24d549c3fcd9.png)
The component is written in TypeScript. (Like everything else in our solution.)
Despite the hollow information provided by the table, this is what my `Button.__docgen

[2020-03-18 12:21] Dashue opened #10148 "v6.0.0-alpha.27 Storyshots addon: storyshots found 0 stories"
**Describe the bug**
V6 storyshots isn't finding any stories

**Code snippets**
[code]

**System:**
Environment Info:

  System:
    OS: Windows 10 10.0.18363
    CPU: (8) x64 Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz
  Binaries:
    Node: 10.14.2 - C:\Program Files (x86)\Nodist\bin\node.EXE
    npm: 6.9.0 - C:\Program Files (x86)\Nodist\bin\npm.EXE
  Browsers:
    Edge: 44.18362.449.0

**Additiona

[2020-03-18 12:36] GeorgeWL opened #10149 "Addon Knobs - files should have options param which can limit number of files allowed"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ar

[2020-03-18 13:25] iansan5653 commented on #9779
@egor-a-trubnikov-panov You should probably file a new bug; looks like a separate issue since mine was caused by the update to the new config method.

[2020-03-18 14:15] shaoran opened #10150 "npm audit fails due to minimist"
**Describe the bug**
`npm audit fix` fails to fix due to minimist dependency

[code]

See https://npmjs.com/advisories/1179

Currently using version 5.3.17

`npm list minimist` shows

[code]

**System:**
Please paste the results of `npx -p @storybook/cli@next sb info` here.

[code]

[2020-03-18 16:20] egor-a-trubnikov-panov opened #10151 "5.3.17 Storyshots addon: storyshots found 0 stories"
When I run `npm test`, I get the error: storyshots found 0 stories
My storybook works perfectly

"@storybook/addon-storyshots": "^5.3.17",
"@storybook/react": "^5.3.17",

main.js
[code]
storyshots.spec.ts
[code]
webpack.config.js
[code]

My folder structure looks like this:

- .storybook
  - main.js
  - preview.js
  - webpack.config.js
- src
  - lib
    - components
      - ComponentName
        -

[2020-03-18 16:39] folz commented on #7772
I have a need for this feature and would be down to build it out myself. I'm unfamiliar with storybook's source code. @shilman, could you point me to where you'd recommend starting (or someone else who has context)?

[2020-03-18 17:32] matthias-ccri opened #10153 "(Documentation) glob pattern support for stories config option"
Hi folks! Thanks for the awesome product.

TLDR: This issue is a request to document the fact that storybook uses glob for the `stories` config.

It seems like the `stories` option in `.storybook/main.js` is being parsed by [glob](https://www.npmjs.com/package/glob), but I don't think this is documented.

In the [React Guide](https://storybook.js.org/docs/guides/guide-react/#step-3-create-the-main

[2020-03-18 17:55] Louis345 opened #10155 "Need Help with having Storybook support TSX and JSX at the same time."
My Issue:
Having trouble getting Typescript and JSX files to work simultaneously.

**Expected behavior**
 I would like the ability to have Typescript files as well as plain JSX files working in Storybook.

**Code snippets**
My config.js file:
[code]
Webpack.config.js file:
[code]

Main.js file:
[code]

**System:**
System:
    OS: macOS 10.15.3
    CPU: (8) x64 Intel(R) Core(TM) i7-7920HQ CPU @ 3.1

[2020-03-18 17:56] goepi commented on #9594
What are after all the differences between all these different files???

It's nowhere to be found in the docs. Take "Using addons" for example; the docs say to add something to main.js, then later in a section entitled "global configuration" it says "To do that, you can add your decorators to a config file, typically in .storybook/preview.js.", but nowhere is it explained what "typically" even mea

[2020-03-18 18:33] pachuka commented on #9493
Looks like the issue specifically has to do with the filename of the component. For example if I do `product-section-header.tsx` the generated docgeninfo is attached to `productsectionheader`:

**This one fails to find props:**
[code]

vs. if I name the file `ProductSectionHeader.tsx`
**this one the props map properly**
[code]

[2020-03-18 18:43] Pyrolistical commented on #9918
I'm saying this line `test: /\.(stories|story)\.[tj]sx?$/, use: undefined`, I think is redundant, but basically signals there is no explicating handling of `yada.stories.js`, and this is why `yada/stories.js` currently work.

If do the same for mdx, then that will add support for `yada/stories.mdx`

[2020-03-18 19:19] devtreehouse opened #10156 "UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, utime '/.../storybookExample/.storybook/generated-entry.js'"
**Describe the bug**
A clear and concise description of what the bug is.
I simply tried to add a plugin in a brand new storybook repo, and it ran into the error in the title.
**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/devtreehouse/StorybookLazyCompile
2. yarn storybook
3. See the error popup

**Expected behavior**
A clear and concise description of what you expec

[2020-03-18 19:21] lifeiscontent commented on #10145
@tmeasday just pinging to pick back up where we left off from yesterday.

[2020-03-18 19:39] winterlamon opened #10157 "[addon-backgrounds] Switching between stories does not reset background color to global default background color"
**Describe the bug**
When a default background in global parameters is set using the backgrounds add-on, navigating between stories does not reset the background to use the default.

Given I have `preview.js` set up like the snippet below:

[code]

**Actual behavior**
When I set the global background color options, I expect any story I view to have a white background, unless that story has a diffe

[2020-03-18 20:45] egauci commented on #10098
@jonniebigodes Thank you for your offer. It's not possible for me to upload this code anywhere. It's proprietary not mine. There are no github issues with this though. Just upgrading from Storybook 5.2.8 to anything starting at 5.3.0 breaks knobs.

I don't think I'm doing anything extraordinary. The project was started with CRA but it is used only for Storybook (the standard CRA app is just the un

[2020-03-18 21:41] jonniebigodes commented on #10098
@egauci this is a bit of a bummer. But to the best of my knowledge there's some backward compatibility between 5.2.x and 5.3 for now. The only significant change is on how the configuration is handled. My recomendation for you based on this would be to take a look at the [intro to storybook](https://www.learnstorybook.com/intro-to-storybook/react/en/get-started/) and go over it step by step. Sorry

[2020-03-18 22:38] egauci commented on #10098
@jonniebigodes I really do appreciate your willingness. This is unfortunately something I have no input in. Rules are rules. Thanks also for the doc link.

[2020-03-18 23:00] AlexanderMelox commented on #5684
Same here :(

[2020-03-18 23:18] jack-bliss commented on #6700
Sincerely hope this is still being worked on - the --docs option is kinda useless without support for other addons! I think for the knobs/actions case, what @sanchez suggested is perfect, just make them per-story! Also the same can be said for viewports, just let me declare a default viewport using the normal parameters prop and have the inline story render in that viewport. This would make --docs

[2020-03-18 23:39] lockykeaney opened #10158 "CRA typescript addon-docs all descriptions unknown, missing props from interface"
**Describe the bug**
The `addon-docs` is not reading my components TypeScript interface and populating the prop table correctly. All descriptions are unknown, some props are missing completely. Some components don't find the props at all.

**Expected behavior**
Type Interface to be read and populate the prop table with prop name and description.

**Screenshots**
<img width="1048" alt="Screen Shot

[2020-03-19 00:39] josesteva commented on #9918
I have the same problem, I want to use the exactly same folder structure for my components. Is it possible changing the webpack configuration?

[2020-03-19 01:58] cdll commented on #9637
@Aaron-Pool oh, hi, sorry to see your reply late, here 's my reproduce repo:
https://github.com/cdll/storybook-v6alpha-vue-jsxLoader-issue-repro

[2020-03-19 02:17] key-joshua commented on #6505
Huge shout to you man and great thanks.

[2020-03-19 02:42] vdh commented on #8177
These workarounds still break the snapshots though? AFAIK any shallow rendering is wrecked by this hack.

[2020-03-19 02:51] thedamon commented on #3730
Outside of waiting for v6.0.. if you can't wait.. a neat trick to sort sections while dynamically loading your stories that works now feels a little less hacky:
in a file that always loads first (`_global.stories.js` or something) you can define each section with an intro story that describes the section.. and then let the rest of the stories load where they will.

Benefit: you get a nice little i

[2020-03-19 05:23] makasanas commented on #9463
I try this but it's not working !!

[2020-03-19 06:27] stereodenis commented on #9962
this is not stale

[2020-03-19 09:38] skrivanos commented on #9963
As far as I know the bug is still there.

[2020-03-19 10:10] codejamninja opened #10160 "Title case jest addon panel name"
Most of the panels seem to use title case for the panel name. I am confused why the jest addon panel does not use title case. I think it should use title case for consistency. I have attached a screenshot below that demonstrates this.

![Screenshot from 2020-03-19 15-37-47](https://user-images.githubusercontent.com/6234038/77056085-f36bfa80-69f7-11ea-8b88-8daf90bf8dd4.png)

[2020-03-19 10:12] codejamninja commented on #10160
I created the following pull request that should fix this issue.

https://github.com/storybookjs/storybook/pull/10161

[2020-03-19 10:28] ndelangen commented on #8518
In the latest alpha of 6.0 useAddonState should work in the preview when imported from `@storybook/client-api`

https://github.com/storybookjs/storybook/blob/615ce7f097da7533c3390cc484ac9ff4f7ab1526/examples/dev-kits/stories/addon-useaddonstate.tsx#L3

Here's the code that runs in the manager:
https://github.com/storybookjs/storybook/blob/5e76eb71ca0d9e33bba0f73f2d3a33a56f5aeb7a/examples/dev-kits/

[2020-03-19 10:32] Aaron-Pool commented on #9637
@cdll your setup is missing the `@vue/app` Babel preset. You need to install it and add it to your `babel.config.js`.

@shilman that's a step the user is supposed to setup manually, correct? Unless he's using the cli, I suppose?

[2020-03-19 10:34] DimitrK opened #10162 "Storybook Storyshots + Playwright"
**Is your feature request related to a problem? Please describe.**
Currently Storyshots + Puppeteer support Chromium based browsers only. During development the developer should do the manual testing on other browsers on new and existing UI to ensure consistency and avoid regression issues.
Running screenshot tests on other browsers such as webkit and firefox built better confidence on your suite

[2020-03-19 11:52] mvirbicianskas commented on #8928
hey, any chance @kumarharsh you made progress on that? I'm facing same issues, any kind of absolutely positioned popover is broken inside the Prieview block :(

[2020-03-19 12:06] lopis opened #10163 "Docs source loader doesn't render Vue code correctly."
I have been trying to show code snippets of my Vue components in docs, but due to the limitations of vue in docs, the result is overly noisy (See example below)

**Expected behavior**

I expected to be able to control what appears inside the code box, or at least only render the actual vue code.

**Code snippets**

[code]

This renders in docs like this:
![image](https://user-images.githubusercont

[2020-03-19 12:19] egor-a-trubnikov-panov commented on #10151
[code]

[2020-03-19 12:20] #10151 closed

[2020-03-19 12:37] garystephens commented on #9963
At the very least, the documentation should be updated as it doesn't tally with the implemenation.

[2020-03-19 12:40] lopis commented on #10163
I'm currently exploring the option `addScriptHandler` from the `vueDocgenOptions` passed to docs.

[2020-03-19 13:09] khawajaumarfarooq opened #10164 "Storybook fails to launch"
**Describe the bug**

I am trying to make Storybook work with IE11. I am part of a team creating a product to be used in the finance industry and IE11 is an important browser for us to support.

We were previously using Storybook v5.2.6 and things were working fine, except Storybook wouldn't run on IE11. This was due to some ES6 syntax such as rest/spread operators and arrow functions. I decided t

[2020-03-19 14:13] GeorgeWL commented on #9961
Not Resolved Still

[2020-03-19 14:43] lopis commented on #10163
As suggested by @shilman over on the discord channel, the easy way to solve this is with the new `formatSource` option in 6.0.

https://github.com/storybookjs/storybook/blob/38bc41f6bf892ebe26657d5565afcceedeb93026/addons/docs/docs/recipes.md

In my case, I added this function to my story:

[code]

So that my function

[code]

Renders perfectly:

![image](https://user-images.githubusercontent.com/

[2020-03-19 14:43] #10163 closed

[2020-03-19 14:48] GR34SE commented on #10094
I've got similar issue, but with running storyshots with jest. With preview.js it gives me:
`SyntaxError: Cannot use import statement outside a module`,
...and without preview.js it just works.

[2020-03-19 15:00] AlexanderMelox commented on #6262
I am also having this error when adding story source

[2020-03-19 15:48] cdll commented on #9637
@Aaron-Pool thank you for that after installed ``@vue/babel-preset-app`` and ``babel-preset-env`` my demo had been run up but with warning such as below:
[code]
what i really want you to know is that my demo repo is created by storybook-cli even with the packages deps and devDeps.
could also be reproduce by that repo https://github.com/cdll/storybook-v6alpha-vue-jsxLoader-issue-repro. thanks for m

[2020-03-19 15:50] aravij commented on #6262
I am planning to move to MDX stories. They have `<Preview>` component, which include story source automatically. But I havn't figured out yet, does it support Typescript, or at least plain Javascript (without React or Vue).

https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/mdx.md#writing-stories

[2020-03-19 16:42] bastienrobert commented on #9326
Not hoisted here too, I'm investigating.

[2020-03-19 17:19] adriencaccia commented on #7079
Hi @stropho I managed to make it temporarily work with this solution https://github.com/storybookjs/storybook/issues/3855#issuecomment-540113248

[2020-03-19 18:45] deanius commented on #6308
Yes, CodeSandbox does this safely, but Storybook doesn't (as of 5.3.9)

[2020-03-19 20:28] #9260 closed

[2020-03-19 21:05] CodeByAlex opened #10165 "CSS Resources addon works in docs mode for React but not for Angular"
**Describe the bug**
CSS Resources addon works in docs mode for React but not for Angular

**To Reproduce**
Steps to reproduce the behavior:
Pull up an Angular storybook app - add a style sheet or 2 using the code parameter (as seen in the official example). Then go to the css resources addon and check one of the themes. Then go to the docs view and see that the theme has NOT been applied.

Pull u

[2020-03-19 21:29] trek commented on #9634
@shilman Awesome! I'll close this issue. Thank you so much.

[2020-03-19 21:29] #9634 closed

[2020-03-19 21:46] CjChoiNZ commented on #7223
@Yama-Tomo Do you mean the `mdx` ordering should be moved to top from `transform`?

[2020-03-19 22:16] chuckurbis commented on #7975
+1. It's very frustrating, and makes the tool a little frustrating to work with.

[2020-03-19 23:05] petermikitsh commented on #7687
This issue is still present: `classes` and `innerRef` are all that's show for components from `@material-ui/core`.

<img width="1493" alt="Screen Shot 2020-03-19 at 4 04 18 PM" src="https://user-images.githubusercontent.com/1571918/77122622-527f3e80-69fb-11ea-97ce-e15476c1916a.png">

[2020-03-20 00:45] petermikitsh commented on #7687
Workaround:

[code]

[code]

<img width="1436" alt="Screen Shot 2020-03-19 at 5 44 35 PM" src="https://user-images.githubusercontent.com/1571918/77127347-56b25880-6a09-11ea-902f-d1588c62eb26.png">

[2020-03-20 00:52] alexkrolick opened #10167 "Expose color picker options"
http://casesandberg.github.io/react-color/

The `react-color` lib's Sketch picker has a few options that would be nice to be able to use in the color knob and/or the new controls.

1. presetColors - Array of Strings or Objects, Hex strings for default colors at bottom of picker
2. onChange => onChangeComplete should allow users to type in a value into the hex selector

**Are you able to assist bri

[2020-03-20 01:22] drKnoxy commented on #7987
@kylesuss I don't think your PR actually addressed this issue >_<

This pr is basically requesting dynamic content in the preview-head.html

[2020-03-20 05:11] tmeasday commented on #9741
Is this task now done?

[2020-03-20 05:18] tmeasday commented on #10145
Oh, hey, sorry, lots of distractions around at the moment.

So does your custom decorator rely on global parameters that are added in `preview.js`?

You could probably wire those parameters into your `decorateStory` function exported globally? Something like:

[code]

Then I guess you should also pass the story-level and component-level parameters when you render the story?

[code]

I guess perhap

[2020-03-20 06:43] natashavg opened #10168 "Knobs: Numbers passed in as number(5) and array([5,5]) stringified"
I added Knobs to my working story. When I added the `number `and `array ` functions around my passed props, the component loads correctly in my story. But, when I will in the array values in the Knobs tab, my passed numbers are stringified and added together as strings instead of numbers. 100 + 700 becomes 100700 instead of the correct 800.

For the below story and component, I add `100, 200, 400,

[2020-03-20 08:22] tskarhed commented on #6557
I would really like this feature!

[2020-03-20 08:25] Yama-Tomo commented on #7223
@CjChoiNZ Yes. (no problem anywhere before `fileTransform.js`

[2020-03-20 08:56] macrozone commented on #7745
dear stalebot, usually i would send in PRs, but i really have no clue how to do it better.

[2020-03-20 09:43] douglaseggleton commented on #9794
@suraj-eai Did you come up with a workaround for this?

[2020-03-20 09:54] gaetanmaisse commented on #10078
@zeorin https://github.com/storybookjs/presets/pull/104 has been merged and released so as of 2.1.0 `@storybook/preset-create-react-app` should handle Yarn 2 out of the box!

[2020-03-20 11:32] sebastian-nowak opened #10183 "Broken link in the 'Writing Presets' article"
1. Go to https://storybook.js.org/docs/presets/writing-presets/
2. Ctrl + f for `this is not possible using standard webpack configuration`
3. Click the `standard webpack configuration`

The link leads to https://storybook.js.org/docs/presets/custom-webpack-config/ which doesn't exist

[2020-03-20 13:56] lauthieb commented on #7223
Same error. "storyshots found 0 stories" :-(

[2020-03-20 14:08] raroul commented on #9326
It seems that there is a bug with `@storybook/react` and workspaces. A workaround could be to disable hoisting for storybook in the root package.json of your workspace. No more errors after that for me.

More infos here: https://classic.yarnpkg.com/blog/2018/02/15/nohoist/
[code]

[2020-03-20 14:18] alexpriceco commented on #9968
Bumping to remove inactive label.

[2020-03-20 14:28] bhough opened #10170 "Implement polished's cssVar to add CSS variable support fully to theming."
**Is your feature request related to a problem? Please describe.**
Previously theming would break when passed a CSS variable due to `polished` not supporting pulling variable values (https://github.com/storybookjs/storybook/issues/6135). A workaround was put in place (https://github.com/storybookjs/storybook/pull/6939) to guard against this but didn't add the ability to leverage them.

**Describe

[2020-03-20 14:56] Aaron-Pool commented on #9637
@cdll right, unfortunately I don't have any knowledge of the storybook/cli codebase, but you're right that it does seem like it shouldn't be throwing warnings or errors out of the box. I'll try to look into that.

[2020-03-20 15:16] patelvp commented on #8093
@shilman Might've messed up creating a PR. New to forking and creating a PR. Not sure why there are so many commits on the PR.

[2020-03-20 15:18] jonspalmer commented on #9741
I think we still want to merge it.

[2020-03-20 16:58] Gilbert-Adu commented on #6568
having the same bug. anyone with suggestions as to how to solve this?

[2020-03-20 18:09] lukasborawski opened #10172 "Nuxt.js sass/scss loader issue"
**Describe the bug**
I'm writing app with Nuxt.js. Using storybook returns SCSS loader bug/error.

The error:
[code]

Storybook config.js:
[code]

Storybook main.js:
[code]

The component is written in typescript.

Component styles:
[code]

I have installed `sass-loader` and `node-sass`.

**System:**
[code]

[2020-03-20 18:15] revelt opened #10173 "Addon to toggle all the CSS"
**Is your feature request related to a problem? Please describe.**
When coding HTML, it is handy to disable the CSS to see how the raw markup looks. It's for semantic markup decisions, accessibility and many other uses.

**Describe the solution you'd like**
Let's add a button to toggle CSS:

<img width="754" alt="toggle_button" src="https://user-images.githubusercontent.com/8344688/77192824-191b01

[2020-03-20 18:38] lukasborawski commented on #10172
Creating webpack.config.js solved the problem

[code]

[2020-03-20 18:38] #10172 closed

[2020-03-20 18:59] RogierdeRuijter opened #10174 "Angular: addDecorator in preview.js throw error ''Can't find React variable""
**Describe the bug**
addDecorator in preview.js throws error ''Can't find React variable" with Angular storybook

**To Reproduce**
1. Create angular app
2. Add storybook
3. Create preview.js file
4. Add a line with `addDecorator(...)`
5. Add packages: babel-loader, @babel/core, @babel/preset-env, @babel/preset-react,
6. Add babel.config.js in .storybook folder with
[code]
7. start storybook

Dummy

[2020-03-20 19:36] Skullpluggery commented on #7455
Hi!

Do we have a temporary workaround for this? I have 8 stories in one doc and it's really slow to load. The assets to some stories are not even loaded too.

[2020-03-20 20:33] iansan5653 opened #10175 "[CLI] Add the ability to pause rebuilding or add an on-demand mode"
**Is your feature request related to a problem? Please describe.**
Running `start-storybook` continuously in the background while developing can consume significant amounts of memory, which makes it almost impossible to do unless running a high-end machine. On the other hand, the first compile when running that command can take 5-10 minutes on such machines. This makes developing with Storybook on

[2020-03-20 23:08] Premm commented on #7914
Just for better clarification for those still struggling with this, these seem to be the 3 packages that need to all be on the same version in your package.lock.

By just installing the latest of each, deleting your package-lock / yarn-lock file, and then re-running `npm i` / `yarn`, should fix your issue.

[2020-03-21 01:21] shilman commented on #7914
@Premm In general, all `@storybook/*` packages from the monorepo should have the same version and we recommend in multiple places that people upgrade them simultaneously.

[2020-03-21 02:01] shilman commented on #10175
TBH this sounds like a lot of work. Storybook relies on webpack for building, and AFAIK the webpack file watcher is fairly efficient. I don't know whether turning it on and off would affect memory usage at all.

My guess is that the time would be much better spent optimizing Storybook. We're planning on doing a 6.x performance release to slim things down, but would gratefully accept perf-related P

[2020-03-21 02:07] shilman commented on #7455
@Skullpluggery this is the temporary workaround. The long-term fix is to implement inline rendering for the framework you're using. (It already exists for  React, Vue, Web Components)

[2020-03-21 02:13] shilman commented on #10174
@RogierdeRuijter you're wrapping your angular story in a React component, and `@storybook/angular` doesn't know how to render React. I'd recommend trying out `@storybook/addon-centered` if you want to center your stories.

@kroeder @ndelangen @tmeasday we need to fix our non-react decorator documentation

[2020-03-21 02:15] cdll commented on #9637
@Aaron-Pool so much thanks. hopes for good news soon~

[2020-03-21 02:18] shilman commented on #10173
That sounds like a great addon. If you can achieve that using a storybook decorator function, it might be easy to prototype using `@storybook/addon-toolbars`

[2020-03-21 02:21] shilman commented on #9626
@thany

[code]

[2020-03-21 02:26] shilman commented on #9741
Merged. Actions with args should be a slam dunk to round this out.

[2020-03-21 02:29] shilman commented on #8093
@patelvp branch from `next` and target `next` in the PR

[2020-03-21 02:33] shilman commented on #9637
@Aaron-Pool the CLI simply copies from a template directory. It's very possible that the template is wrong. It should be a straighforward fix -- feel free to DM if you have any q's

[2020-03-21 02:36] shilman commented on #10170
Can you explain the use case a bit more? Sounds like a great improvement but I don't quite get it yet. @ndelangen should be able to help if you have any q's about contributing!

[2020-03-21 02:43] shilman commented on #9968
sorry was looking into this and got distracted. i'll follow up.

[2020-03-21 02:45] shilman commented on #9326
@raroul there are bunch of yarn 2 related fixes that @gaetanmaisse has been working on, available in 6.0. hopefully these will make the workaround unnecessaruy.

[2020-03-21 02:56] shilman commented on #6557
Please upvote an issue if you think it's useful.

[2020-03-21 03:39] shilman commented on #9978
Closing this. Please lmk if you have any more questions.

[2020-03-21 03:39] #9978 closed

[2020-03-21 03:47] shilman commented on #7975
@chuckurbis please upvote the original issue

[2020-03-21 03:48] shilman commented on #9260
@ndelangen can we move centered out of monorepo and update the docs to point to the new `layout` parameter?

[2020-03-21 03:54] shilman commented on #6262
@aravij MDX does not support typescript. You can write your components in TS and use JS inside the MDX file. You can also achieve the same `Preview` behavior in `DocsPage` with the right configuration. `source-loader` got an overhaul in 6.0 (currently in alpha) so you might try upgrading to see if it fixes your issue.

[2020-03-21 03:57] shilman commented on #10094
Have you tried upgrading to 6.0 alpha? @gaetanmaisse has made a bunch of improvements to support Yarn 2 as part of #9527

[2020-03-21 03:57] alexpriceco commented on #9968
Thank you so much! I really appreciate you and the team’s efforts on Storybook. Absolutely no rush, and please stay safe in this difficult time.

[2020-03-21 03:58] shilman commented on #10163
Great job @lopis! Looks 💯

[2020-03-21 04:12] shilman commented on #9962
@stereodenis do you want to pick this up?

[2020-03-21 04:41] lifeiscontent opened #10176 "Storybook busted on 5.3.10"
**Describe the bug**
[code]

the only file I have in the `.storybook` folder is `main.ts`

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snippe

[2020-03-21 05:23] matheo commented on #9723
In my case, I want to hide the `Canvas` tab and browse the `Docs` by default, but `viewMode: 'docs'` is not respected and the story is opened by default.

[2020-03-21 06:09] Skullpluggery opened #10177 "addon-docs iFrame local assets such as fonts getting fallback due to slow network?"
**Describe the bug**
I don't understand why local assets getting fallback in an iFrame. See the screenshots for more information. I am using the latest next version, Storybook 6.0.0-alpha.27

**To Reproduce**
Steps to reproduce the behavior:
1. Install Angular Material
2. Import custom font to CSS
3. Add Stories to demo Buttons
4. Run Storybook

Note: I can't share the repository as this is a comp

[2020-03-21 09:07] RogierdeRuijter commented on #10174
Thanks for your response.

My use case is the following. In my angular application I have different themes, dark and light. To apply one of these themes I add the css class, light-theme or dark-theme to the body tag in the angular application.

Since this class is not there on the storybook body tag I need to add either the light or dark theme css class so it wraps around the story. I believe this

[2020-03-21 09:41] yoavniran opened #10178 "Bug in glob to require-context regex: storybook 5.3 attempts to load stories from node_modules"
**Describe the bug**
i upgraded my monorepo to 5.3.17 (from 5.2.8) and SB now tries to load stories from storybook's own node_modules directories.

Im hoping its just me doing something wrong but from what i can see this is an issue with SB and a breaking change from pre 5.3.

my .storybook/config.js had this configure:

[code]
which i translated to main.js:

[code]

when i run sb i get this error

[2020-03-21 09:43] stereodenis commented on #9962
@shilman could you give me a direction?

[2020-03-21 11:27] CjChoiNZ commented on #7223
@Yama-Tomo
hmm...I modified the `node_modules/@storybook/addon-docs/jest-transform-mdx.js` as your suggest.

[code]
And confirmed use this path `dist/cjs` but it doesn't work for me.

I defined the `jest` from my package.json as below.
[code]

And the result of transform still displays `mdx` is bottom.
[code]

Did I miss something?

[2020-03-21 13:35] #9679 closed

[2020-03-21 13:35] #9663 closed

[2020-03-21 13:35] #9671 closed

[2020-03-21 14:35] #9674 closed

[2020-03-21 15:35] #9026 closed

[2020-03-21 16:35] #9306 closed

[2020-03-21 19:17] jgarplind opened #10179 "Docs - React Typescript - No code available"
**Describe the bug**
Introducing `@storybook/addon-docs` to my repo, everything in the Docs tab works fine except for the source code which is not available.

**To Reproduce**
Started creating a repro repo using the `cra-ts` gist but got stuck in unrelated issues when ejecting to simulate my own main repo, hence no steps available at this point, please refer to below information.

**Expected behav

[2020-03-22 03:46] MohoiNad opened #10181 "Storybook offical 6.0.0-alpha.27 have problem with babel-loader."
**Describe the bug**
`Module build failed (from ./node_modules/babel-loader/lib/index.js):
Error: D:\storybook monorepo\official-storybook\stories\addon-docs\addon-docs.stories.mdx: transform-react-jsx: pragma has been set but pragmaFrag has not been set
    at PluginPass.exit (D:\storybook monorepo\official-storybook\node_modules\@babel\plugin-transform-react-jsx\lib\transform-classic.js:91:15)

[2020-03-22 09:38] Yama-Tomo commented on #7223
@CjChoiNZ You need to customize the order of `transform` with the `react-app-rewired`

- config-overrides.js
[code]

[2020-03-22 11:17] yannbf commented on #9973
this was fixed on #10045

[2020-03-22 11:17] #9973 closed

[2020-03-22 12:40] yas-tyoukan opened #10182 "Manifest request is timed out, and storybook freezes when I change the my codes."
**Describe the bug**

When starting storybook and I change my code, It's not reflect and I can't reload browser. And the following error occur in console.

[code]

I try pure enviroment, but it reproduce.

**To Reproduce**
Steps to reproduce the behavior:
1. ` mkdir mydir && cd mydir && npm init -y && npx -p @storybook/cli sb init --type react && npm run storybook`
2. I change `mydir/stories/1-But

[2020-03-22 12:48] yas-tyoukan commented on #10182
package.json (generated)

[code]

[2020-03-22 13:13] rurusyu commented on #9336
i have same problem..

[2020-03-22 13:49] sebastian-nowak commented on #10183
Just FYI if you click on the broken link (in my 1st post), the 404 page asks to create an issue in that repository :) That's why I posted there.

[2020-03-22 18:17] #8626 closed

[2020-03-22 19:13] trianta2 commented on #457
Thanks @markov00 , your solution worked for me. For those like me who are still new to storybook, follow [this example](https://storybook.js.org/docs/configurations/custom-webpack-config/#examples) to update the storybook webpack config.

[2020-03-22 21:07] shazhko-artem2 commented on #9514
I have the same problem. We use the "js" folder instead "src" and we have follow errors:
`RROR in ./js/stories/Button.tsx 3:7
Module parse failed: Unexpected token (3:7)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders
| import React, { FC, ReactNode, Component } from "react";
|

|

[2020-03-22 21:57] jmakGH commented on #9953
Resolved by #9957

[2020-03-22 21:57] #9953 closed

[2020-03-22 23:17] #9690 closed

[2020-03-22 23:18] CjChoiNZ commented on #7223
@Yama-Tomo
Cool, I removed the `jest` configuration from package.json and created a `config-overrides.js`  and then it does work for me. Cheers bro!!