[2020-06-15 16:37] lifeiscontent commented on #11177
@shilman

[2020-06-15 16:39] lifeiscontent commented on #11165
@shilman I think it's the entire aspect of theme.

[2020-06-15 16:40] lifeiscontent commented on #11165
just for reference, here's my preview.js

[code]

[2020-06-15 17:21] tooppaaa commented on #11176
It is related from the previous fix.
When a component doesn't have DocGen or PropTypes, we try to render it.
But we actually can't due to hooks.
My previous fixed worked because DocGen always succeed on the components I tried.

I was mis-leaded by my implementations with lots of forwardRef.

I do not think Storybook should try to render components at all. @tmeasday @shilman, any opinion on calling

[2020-06-15 17:52] ndelangen commented on #9819
YES! a solution at last, I think.

[2020-06-15 20:12] tooppaaa commented on #11176
[code]

But it's bad...
I'm not sure what the guards should be.

[2020-06-15 20:21] karlhepler opened #11179 "Server onListening callback and lazy flag"
**Is your feature request related to a problem? Please describe.**
I am using [Bazel](https://bazel.build) to build my Typescript project. To get Bazel to play nicely with webpack-dev-server, I had to set it to [lazy](https://webpack.js.org/configuration/dev-server/#devserverlazy-) mode and define a custom implementation of [onListening](https://webpack.js.org/configuration/dev-server/#devserveron

[2020-06-15 20:23] Smolations commented on #10828
Not inactive, just waaaiiittiiiinnnngggg! 😋

[2020-06-15 22:19] rhendric commented on #10616
An opt-in feature would be an elegant solution as far as I'm concerned. That would also buy time for the react-refresh stuff to land and then we could reevaluate whether any change would even be necessary for 7.0.

Two questions: the opt-in wouldn't depend on using the new args pattern, would it? And I don't understand your caveat about decorators returning elements—are you saying that would be a

[2020-06-15 22:27] melodi24 commented on #8840
Did you ever figure this out? I am trying to do the same thing and so far the only thing I've found that works is wrapping the the component I want to test inside of a parent component which injects the service. It's definitely not ideal.

[2020-06-15 22:49] ericsoco commented on #7745
@krishnaglick or other googlers, to prevent the `act` warnings you have to be sure to wrap the delay Promise in `act()`; otherwise, component updates can fire after the test fn exits but before jest cleans up the async test.

This is the adaptation of @chengyin's [suggestion](https://github.com/storybookjs/storybook/issues/7745#issuecomment-618150310) that's working for me:

[code]

[2020-06-15 22:55] crutchcorn opened #11180 "Storysource is always the first tab despite order in `addons` array"
**Describe the bug**
A clear and concise description of what the bug is.

According to the Storybooks docs, the order of the addons in the tabs will be decided by their place in the config array:

https://storybook.js.org/docs/addons/using-addons/#addons-tab-order

However, when setting it as the last item in the array:

[code]

It still appears to be the first tab:

![image](https://user-images.g

[2020-06-15 23:02] pelotom opened #11181 "Ability to exclude some directories/files from stories"
The new `main.js` format for specifying stories requires specifying an array of globs, e.g.

[code]

With this approach it's not clear how I can exclude certain things from being included. When the stories were configured within the browser environment I was able to use `require.context` with a regex, e.g.

[code]

I could walk the directory structure in node and just provide a large array of full

[2020-06-15 23:25] danielgamage opened #11182 "[v6.0.0-beta.28] zero-config typescript ignores `tsconfig.json` `compilerOptions.baseUrl`?"
**Describe the bug**
Using the new built-in typescript support, module resolution doesn't seem to be affected by `tsconfig.json`'s `baseUrl`.

**To Reproduce**
https://github.com/storybookjs/storybook/compare/next...danielgamage:broken-baseurl?expand=1
_(removed typing from main.ts, because the import throws a seemingly unrelated error)_

**Expected behavior**
`import { Button } from 'button';` sh

[2020-06-15 23:50] shilman commented on #11181
Haven't tried this, but possible solution here:
 https://github.com/prettier/prettier/issues/1358#issuecomment-295669193

[2020-06-15 23:51] shilman commented on #11180
closing as dupe to https://github.com/storybookjs/storybook/issues/9819

[2020-06-15 23:51] #11180 closed

[2020-06-15 23:52] beautyfree commented on #10109
Same issue with 5.3.19 storybook

[2020-06-16 00:17] shilman commented on #11177
@ndelangen WDYT? i think it makes sense and would be easy to add

[2020-06-16 00:21] shilman commented on #11125
@kroeder @lukasholzer this sounds reasonable to me!

[2020-06-16 00:30] pelotom commented on #11181
I can't seem to make that work, it ends up excluding all files.

[2020-06-16 00:41] shilman commented on #10109
@danielo515 do you want to fix it? if you want to contribute you are very welcome to. just because i don't have time to look into it doesn't mean that we should close the issue. Storybook is a community-driven project with almost 1000 contributors. If I close the issue then there is almost no chance that somebody will fix it. Stale bot and issue upvotes (this issue currently has only 2 upvotes for

[2020-06-16 00:50] shilman commented on #11146
@abbudao I released `@storybook/preset-create-react-app@3.1.0` with the upgrade, but now it seems to only show the `react-docgen` behavior. I'm not sure whether this is a bug in the the preset or in `react-docgen-typescript-plugin`. @mrmckeb @hipstersmoothie would it be possible for one of you to look into this?

[2020-06-16 00:52] hipstersmoothie commented on #11146
Is this behavior exhibited in the example in the repo?

[2020-06-16 01:01] shilman commented on #11146
@hipstersmoothie Yes. Here is the repro:

1. Clone https://github.com/abbudao/undefined-optional-sb6
2. Install and run storybook & observe the Controls
3. Comment out the `typescript` field in `main.js`
4. Re-run and observe the Controls have downgraded per @abbudao 's screenshot
5. Upgrade `@storybook/preset-create-react-app` to 3.1.0 containing https://github.com/storybookjs/presets/pull/149, w

[2020-06-16 01:02] hipstersmoothie commented on #11146
This is happening because of https://github.com/storybookjs/storybook/pull/11140. If the project doesn't have `typescript` installed the `react-docgen-typescript-plugin` is basically a no-op.

In the reproduction provided the project doesn't have typescript installed, so th plugin does nothing

[2020-06-16 01:04] shilman commented on #11146
@hipstersmoothie the project does have `typescript` in its dependencies (not devDependencies)

[2020-06-16 01:05] hipstersmoothie commented on #11146
whoops didn't see that

[2020-06-16 01:06] shilman commented on #11146
I'm also seeing similar behavior in @alexbchr's repo, which is a completely different setup. https://github.com/alexbchr/upgraded-giggle

[2020-06-16 01:10] hipstersmoothie commented on #11146
It's odd that the docs tab shows the docs though right?

[2020-06-16 01:13] hipstersmoothie commented on #11146
![Screen Shot 2020-06-15 at 6 12 50 PM](https://user-images.githubusercontent.com/1192452/84720791-d5992d80-af33-11ea-8260-fbb269241e72.png)

[2020-06-16 01:20] hipstersmoothie commented on #11146
Ok this is probably because we need to provide some default compiler options. When you remove the `typescript` block the plugin doesn't get loaded with any compiler options and misses these two key setting `allowSyntheticDefaultImports` and `esModuleInterop` (which implies `allowSyntheticDefaultImports`)

Adding the following fixes the loading

![Screen Shot 2020-06-15 at 6 20 30 PM](https://user-

[2020-06-16 01:21] hipstersmoothie commented on #11146
I'll get a PR up that uses the root tsconfig if no tsconfigPath or compilerOptions is provided

[2020-06-16 02:42] #9582 closed

[2020-06-16 03:54] tmeasday commented on #10616
No I guess it wouldn't.

The only way React won't remount your component if the story function changes is if the old and new story functions are pure functions that ultimately return `<SomeComponent>` where `SomeComponent` hasn't changed. (`SomeComponent` can be a function too of course).

However if somewhere in your decorator list you have something like:

[code]

Then from React's perspective t

[2020-06-16 05:12] shilman opened #11186 "CSF: Stylized title generation"
Provide a method for stylized title generation, such as automatically generating a title based on file path or a template based approach with a set of known macros.

## Why

Currently there are two options: fully static or fully dynamic titles. Fully dynamic titles (e.g.  #10959) is a flexible way for users to configure Storybook's navigation sidebar in CSF based on things like file paths of the s

[2020-06-16 06:19] shilman commented on #8096
Crikey!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.29 containing PR #11185 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-06-16 06:19] shilman commented on #9825
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.29 containing PR #11183 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-06-16 06:19] shilman commented on #11094
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.29 containing PR #11185 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-06-16 06:19] #9825 closed

[2020-06-16 06:19] #8096 closed

[2020-06-16 08:52] jbanulso commented on #11176
@tooppaaa out of curiosity, where in the code is `component.render({}).type` taking place?

I'm surprised too, I thought there'd be a bunch of issues with this use case as well 😄

[2020-06-16 09:18] sylvainDNS commented on #10657
Hi guys, sorry for not providing a repository.

I tested release [v6.0.0-beta.23](https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.23) and [v6.0.0-beta.24](https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.24). Beta 24 fix my issue, which introduce #11086 changes.

Thank you for your work !

[2020-06-16 09:18] #10657 closed

[2020-06-16 09:45] tooppaaa commented on #11176
https://github.com/storybookjs/storybook/blob/next/addons/docs/src/frameworks/react/extractProps.ts#L34

[2020-06-16 10:04] bannndi commented on #10351
Was having same issue, fixed by downgrading jest@25.
Storybook is 6-beta.29

![image](https://user-images.githubusercontent.com/3719008/84761271-e4362200-afd1-11ea-8d05-db36f0e41459.png)

[2020-06-16 10:06] bannndi commented on #10942
May be this would help https://github.com/storybookjs/storybook/issues/10351#issuecomment-644667392

[2020-06-16 10:53] ndelangen commented on #11177
I propose we create a new hook in lib/addons called `useRenderRootNode()` which returns the root DOM-node the story is being rendered on.

This way we do not have to change any APIs, just add something that's optional.

[2020-06-16 10:54] ndelangen commented on #11177
Want to work on this feature together @lifeiscontent?

https://calendly.com/ndelangen/storybook

[2020-06-16 10:58] #9819 closed

[2020-06-16 11:05] aaronmcadam opened #11194 "[v6.0.0-beta.29] Glob not finding stories files"
**Describe the bug**

Same thing as #10772, which was apparently fixed in `beta.18`. I'm using `beta.29`. My stories load but I'm seeing the following warning:

[code]

I believe I'm using a valid glob, is there a validator I can use to make sure?

Here's my `main.js` file:

[code]

[2020-06-16 11:11] aaronmcadam commented on #11194
My bad, VSCode hadn't saved the file properly, it was hanging on running some code actions.

[2020-06-16 11:11] #11194 closed

[2020-06-16 11:42] alexbchr commented on #11146
@hipstersmoothie I just updated my [repo](https://github.com/alexbchr/upgraded-giggle) and added the following compiler options in the `reactDocgenTypescriptOptions`:

[code]

[2020-06-16 12:17] tooppaaa commented on #11182
Sorry ! wrong link between issues !

[2020-06-16 13:11] ndelangen commented on #714
@vcastro45 I've tested this for both start-storybook & build-storybook, and it seems to work (tested on the `next` branch).

Could you create a reproduction repo for me?

[2020-06-16 13:13] krishnaglick commented on #7745
Oh, thanks for the ping.
I discovered what the issue was: one of my storybook tests was using `react-meta-tags`, which appears to use `react-test-renderer` or some other utility under the hood to render metatags. That was firing and conflicting. Once I mocked that module things worked out!

[2020-06-16 13:21] ndelangen commented on #714
@shilman It's possible, but we'd have to hoist the preset setup up from
https://github.com/storybookjs/storybook/blob/9ea455a1746c489b7364448212663f2445af8a8b/lib/core/src/server/manager/manager-config.js#L101-L102

to before here:
https://github.com/storybookjs/storybook/blob/19c2420db80fcb3b89b34cdbbe03bf9010b0b3b2/lib/core/src/server/build-static.js#L190-L191

And then pass it down to all lower

[2020-06-16 13:25] shilman commented on #714
@ndelangen OOF, let's not do that now then 🙈

[2020-06-16 13:41] kroeder commented on #11125
@lukasholzer do you have time to make the first step and create a PR where we can continue the discussion? I can help you set things up in the repo 🙂 you can join the storybook discord server or DM me on twitter if you want

[2020-06-16 14:15] bertho-zero commented on #10477
I fixed my problem by removing the 2 entries from `@babel/compat-data` in the `yarn.lock` and by launching a `yarn` to deduplicate.

[2020-06-16 14:17] sami616 opened #11199 "Beta.29: Namespace pattern ie: `List.Item` breaks prop tables for sub components."
When my sub component is totally separate i see a tab rendered with the correct prop table. ✅

[code]

However, if i use the popular namespace pattern: ❌

[code]

I see ```No props found for this component```

[2020-06-16 14:36] shilman commented on #11199
@sami616 any idea whether this worked in earlier betas? cc @hipstersmoothie

[2020-06-16 14:39] sami616 commented on #11199
@shilman sorry i have no idea!

[2020-06-16 14:50] shilman commented on #9819
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.30 containing PR #11178 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-06-16 14:50] shilman commented on #10207
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.30 containing PR #11055 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-06-16 14:50] shilman commented on #10799
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.30 containing PR #11197 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-06-16 14:50] shilman commented on #11176
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.30 containing PR #11195 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-06-16 14:50] #10799 closed

[2020-06-16 14:58] sarah-martinellibenedetti opened #11200 "[v6.0.0-beta.28] question: how to render stories into a new tab"
I would like to render stories that have the viewMode: lite into a new tab. I've created a new addon to add a new tab, which worked fine:

[code]

but I cannot get it to work - no matter what is in the render. I thought that the issue was that I was missing a decorator, something like this:

[code]
but it didn't work (I've added the decorator on meta and on the story itself).
My assumption is that

[2020-06-16 15:10] jfoliveira commented on #6408
Same error here with Storybook `v5.3.18` and `node v12.18.0`. Running on an almost empty 4 GB RAM AWS EC2 instance (only `nginx` running) dedicated to build Storybook for a ReactJs web app with ~30 components and 5 pages. :-(

Using `NODE_OPTIONS` as suggested in other comments, the task seems to never finish (I waited for only one hour):
[code]

**Question:**
Could anyone please guide me on how t

[2020-06-16 15:32] IshratPahalwi commented on #6408
For me this worked : NODE_OPTIONS=--max_old_space_size=4096 build-storybook .
However, my travis build seems to give the error : The job exceeded the maximum log length, and has been terminated during the storybook build. I am assuming the storybook build is generating too much logs which is causing the travis build to terminate . Can anyone please suggest how to supress storybook from generating

[2020-06-16 16:10] karlhepler commented on #11179
I noticed that I can add the `extendServer` property to the standalone storybook function options. If we could ensure that access to the webpack compiler is in the server's context, then that would satisfy my feature request.

[2020-06-16 16:26] hipstersmoothie commented on #11199
Are your components written in typescript or javascript? @sami616

[2020-06-16 16:26] sami616 commented on #11199
@hipstersmoothie TypeScript!

[2020-06-16 16:29] IshratPahalwi opened #11203 "Storybook build failing in Travis with error : The job exceeded the maximum log length, and has been terminated"
My travis build seems to give the error : "The job exceeded the maximum log length, and has been terminated" during the storybook build.
I am building using the command :
NODE_OPTIONS=--max_old_space_size=4096 build-storybook -s --quiet ./public -o .out

I am assuming the storybook build is generating too much logs which is causing the travis build to terminate . Can anyone please suggest how to s

[2020-06-16 16:40] MechJosh0 opened #11204 "Suggestion: Expose Vue setup composition API"
**Is your feature request related to a problem? Please describe.**
Using [Vue composition API](https://composition-api.vuejs.org/#summary) you can use the `setup` method when [initiating Vue](https://v4.apollo.vuejs.org/guide-composable/setup.html#_2-connect-apollo-client-to-vue). This provides whatever is done here into every component, like a global action.

When using Storybook you cannot acces

[2020-06-16 16:58] Kosai106 opened #11205 "[v6.0.0-beta.30][addon-docs]: broken build because of acorn-jsx"
**Describe the bug**
Unable to build or preview Storybook due to an issue with [acorn-jsx](https://github.com/acornjs/acorn-jsx) - Only when using `addon-docs`.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a repo with Storybook, addon-docs and MDX files prepared.
1. Follow the [migration guide](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#60-docs-breaking-changes)

[2020-06-16 16:58] ndelangen commented on #6569
[code]

[code]

I hope that helps?

[2020-06-16 17:10] shilman commented on #11205
@Kosai106 do you have a public repro repo i can look at?

[2020-06-16 17:11] shilman commented on #11200
Unrelated, but please upgrade all your packages to the same version. If 5.3 and 6.0 packages work together properly, it's only by accident.

[2020-06-16 17:16] Kosai106 commented on #11205
@shilman not right now but I will create one in just a minute.

[2020-06-16 17:19] aaronmcadam commented on #10363
I'm using beta.29 and I have defined all of my components before referencing them:

[code]

I still see the console warning.

[2020-06-16 17:33] shilman commented on #11203
I think `--quiet` was made more quiet in 6.0-beta. maybe try upgrading?

[2020-06-16 18:01] Kosai106 commented on #11205
I tried a hail Mary and deleted my `node_modules` and `yarn.lock` file and it seems to work (Tested on two computers). 🙌

I feel a little dumb for not trying this to begin with.

[2020-06-16 18:01] #11205 closed

[2020-06-16 18:13] Kosai106 opened #11206 "[v6.0.0-beta.30] blank canvas glitch"
**Describe the bug**
I've found a way to trigger a visual glitch which stops the canvas and docs from rendering.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit a Storybook on v6.0.0-beta.30 (I haven't tested others)
2. Click on `...` and then `About your Storybook`
3. Attempt to visit a story again

**Expected behavior**
The same behavior as `5.3` is expected - To see my stories after

[2020-06-16 18:23] divyeshjethwa commented on #6311
If you're facing this problem with angular then in my case:

I solved it by importing moduleMetadata from '@storybook/angular' instead of '@storybook/angular/dist/client/preview/types'

[2020-06-16 18:35] IshratPahalwi commented on #11203
@shilman : When I am using storybook :
"@storybook/addon-a11y": "^6.0.14",
"@storybook/addon-actions": "^6.0.14",
"@storybook/addon-knobs": "^6.0.14",
"@storybook/addon-options": "^6.0.14",
"@storybook/addon-storysource": "^6.0.14",
"@storybook/react": "^6.0.14",
"@storybook/theming": "^6.0.14",
I am getting :
No matching version found for @storybook/addon-a11y@^6.0.14

[2020-06-16 19:44] nanoblit opened #11207 "A typo in README"
**Describe the bug**
There is a typo in this line:
"Read our contributing guide to get started, or find us on Discord, we **'re** will take the time to guide you"

**To Reproduce**
Steps to reproduce the behavior:
Read the Readme

**Expected behavior**
No **'re**

[2020-06-16 19:44] nanoblit commented on #11207
I'll fix it!

[2020-06-16 19:58] lifeiscontent commented on #11177
@ndelangen scheduled! :)

[2020-06-16 20:02] hipstersmoothie commented on #11199
So this isn't currently supported but I just opened a PR to fix it 🎉

https://github.com/styleguidist/react-docgen-typescript/pull/265

[2020-06-16 22:30] aendrew commented on #10351
@bannndi I've tried that and `npm ls jest` lists `25.5.4`. Running `jest --test` shows the version running is indeed 25.5.4. I've also changed from running via react-scripts/react-app-rewired to just running via `jest` and it results in the same issue.

Currently on `6.0.0-beta.20` but same issue on `^5.3.19` like the rest of my Storybook deps.

[2020-06-16 23:26] rhendric commented on #10616
Oh good, that's all as I would have hoped. Solid :+1: from me then!

[2020-06-17 01:22] #11207 closed

[2020-06-17 01:23] shilman commented on #11203
try "next"

[2020-06-17 01:24] shilman commented on #11206
cc @ndelangen @kylesuss

[2020-06-17 02:06] shilman opened #11210 "Core: Add APIs to support async interactions"
## Why

Storybook supports "pure" component states that are triggered by different prop values, but there is currently no way to capture internal state that gets triggered by user interaction.

Consider a checkbox that is always set unchecked initially, and must be clicked by a user to set its value to checked. Unfortunately, it's not currently not possible to model the checked state in Storybook.

[2020-06-17 02:29] shilman opened #11211 "Addon-docs: Props block design refresh w/ Controls"
We've made a lot of changes to `Props` during the 5.3/6.0 milestone. Let's tighten up the design before shipping.

## What

Updated design by @domyen:

![image (4)](https://user-images.githubusercontent.com/488689/84847867-a34b1580-b084-11ea-85da-2719ca3a64d3.png)

## How

- [x] Add collapsible section rows (for flexibility, not currently part of design but should be)
- [x] Add collapsible sub-sec

[2020-06-17 04:00] #8340 closed

[2020-06-17 04:00] #10546 closed

[2020-06-17 04:00] #10507 closed

[2020-06-17 04:00] #10545 closed

[2020-06-17 04:00] #10541 closed

[2020-06-17 04:00] #10540 closed

[2020-06-17 04:18] tmeasday opened #11212 "Opt-in to *not* re-mount in React on HMR"
**Is your feature request related to a problem? Please describe.**
Long discussion on this here: https://github.com/storybookjs/storybook/issues/10616

The idea is that if you are willing to forgo React Hooks in your stories + decorators (instead you can just render components that use hooks), you can alter your stories (specifically the *args*) and not have the component remount, just like if you

[2020-06-17 04:29] tmeasday commented on #10616
OK I created a ticket: https://github.com/storybookjs/storybook/issues/11212

I've added it to the 6.0 milestone. Not sure when I'll get to it but hopefully before then!

[2020-06-17 06:17] mitchellbusby opened #11213 "Using template strings in a Storybook title does not work with storysource addon"
**Describe the bug**
When I use the "Storysource" add on, stories defined with template strings (backticks) don't correctly match the source code to the story case. The source code is visible in the panel, but I cannot click on a Story source snippet and go to the relevant story.

I tested this both in my company's Storybook setup (with Typescript) and a minimum test case with Storybook's quick st

[2020-06-17 06:56] tolerance-go opened #11214 "“export * from" syntax, Unable to generate code Preview"
**Describe the bug**

In the following picture, the syntax of the forwarding module cannot generate code preview correctly on the page

下述图片中，转发模块的语法无法在页面上正确生成代码预览

![image](https://user-images.githubusercontent.com/37258382/84864660-8f65da80-b0a9-11ea-8377-21f9e8fd5ea4.png)

![image](https://user-images.githubusercontent.com/37258382/84864722-aa384f00-b0a9-11ea-902d-09c0ff94b0c8.png)

**To Reprod

[2020-06-17 07:50] jbanulso commented on #11176
Thanks @tooppaaa and @shilman for the quick fix! 😄

[2020-06-17 08:26] kvas-damian commented on #11051
@shilman I think we still have this problem when we create MDX stories:

Add
[code]
in https://github.com/storybookjs/storybook/blob/next/examples/vue-kitchen-sink/src/stories/addon-docs.stories.mdx to verify that. For me canvas isn't updated.

[2020-06-17 09:54] shilman commented on #11051
@kvas-damian working for me. can. you check this out?

https://raw.githubusercontent.com/storybookjs/storybook/next/examples/vue-kitchen-sink/src/stories/addon-controls.stories.mdx

[2020-06-17 09:54] #11051 closed

[2020-06-17 10:04] kvas-damian commented on #11051
Ok, I see the problem. I have to pass args via `props`, not `data`. Thanks for help

[2020-06-17 10:12] dergroncki commented on #9800
I have a similar problem. I want to use the "csv-loader" to load a csv-file into one of my stories.

I am using Storybook with CRA. As well I am using the lastest Beta of Storybook: @storybook/react v6.0.0-beta.30

I have modified the .storybook\main.js as it is described in the documentation:

[code]
In my story file I imported the csv file like so:
[code]
For testing if the import works, I am us

[2020-06-17 10:55] tbelch-at-eHealth-Tec opened #11218 "Enable non-declarative namespaces in Babel"
**Describe the bug**
I am using namespaces to group types and classes with TypeScript in my project, like this...

[code]

As described [here](https://storybook.js.org/docs/configurations/custom-babel-config/) I have a `.babelrc` file in the root of my project with the following content:

[code]

This babel configuration enables non-declarative namespaces in my react application, but it doesn't wo

[2020-06-17 11:15] shilman commented on #11146
¡Ay Caramba!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.31 containing PR #11184 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-06-17 11:15] #11146 closed

[2020-06-17 11:22] tfiechowski commented on #8527
Hello everyone! Having JSDoc support would be great, but in the meantime I've created a little utility for adding docs to the stories based on `storyDescription` mentioned above.

[code]

Then you can use it to add docs to the story in the following way:

[code]

Effect:
<img width="585" alt="Screenshot 2020-06-17 at 13 17 34" src="https://user-images.githubusercontent.com/22667137/84892230-7b1be0

[2020-06-17 11:28] jfoliveira commented on #6408
Storybook as a component gallery is an amazing project and then we're here: developers struggling to take the most of this beautiful tool due to bundling size optimization issues - bundling that is not even needed in many scenarios.

Why is bundling such an important thing for a project like Storybook that mainly targets internal audience?
A very successful web app with 1 million daily users will

[2020-06-17 12:09] abbudao commented on #11146
@shilman, thank you for your hard work! 💪

The default Typescript preset is working automagically now! :partying_face:

Optional fields are still not hiding their `undefined` nature though.
I bumped the versions and removed the Typescript settings on `main.js` on the repro repository. This is the resulting Args Table:
![Screenshot-2020-06-17T08:59:38-03:00](https://user-images.githubusercontent.co

[2020-06-17 12:23] alexbchr commented on #11146
For me it is working now! Note however that if I didn't put the following compilerOptions under `typescript.reactDocgenTypescriptOptions`, I still had previous behavior (like @abbudao)

[code]

Thanks a lot for the quick fix, this is gonna make Stories Implementation so much simpler and clearer! :tada:

[2020-06-17 12:27] nikhilbasware opened #11219 "storybook-dynamic-app-root not reloading after knobs change in version 5.3.19"
HI ,

I was using storybook version 4 the time when I upgraded it to version 5 , component stops reloading after changing knobs value , It picks all the knobs value only one during initialization after that it does not show my angular component with updated knobs value.I have seen this thing that on version 4 it used to reload and the values such as placeholder used to get updated. Please suggest

[2020-06-17 12:39] shilman commented on #11146
this one was all @hipstersmoothie--bravo!!! 👏👏👏

[2020-06-17 14:44] danielgamage commented on #11026
I've been having trouble with this setup, too. You might get some mileage out of the following changes which I keep having to make to my components:

[code]

[2020-06-17 15:06] VsevolodChumachenko opened #11221 "Bad static app build"
## Describe the bug
Styles are not imported in production storybook build, but in dev mode all ok.

## To Reproduce
To see differences between dev and production build start `npm run storybook` and `npm run build-storybook`

## Expected behavior

Production and dev build will be the same

## Screenshots

Dev and production examples

![Button - interactive ⋅ Storybook и еще 2 страницы — Личный Micr

[2020-06-17 15:32] IshratPahalwi commented on #11203
@shilman : I upgraded my storybook to ^6.0.14. My package.json :
"devDependencies": {
		"@babel/core": "^7.9.0",
		"@babel/runtime-corejs2": "^7.5.5",
		"@commitlint/cli": "^8.1.0",
		"@commitlint/config-angular": "^7.1.2",
		"@isc/spotlight-devops": "^2.8.11",
		"@storybook/addon-a11y": "next",
		"@storybook/addon-actions": "next",
		"@storybook/addon-knobs": "next",
		"@storybook/addon-options":

[2020-06-17 15:34] ruicarest commented on #8383
Had the same issue on a desktop, chrome. Again, changing orientation helped but it keeps disappearing whenever I select another story.

[2020-06-17 16:54] danielo515 commented on #10109
Yeah, I completely understand that @shilman
It is just that the bot usually closes issues that are not fixed, and at the end it is not clear if the intention was to not fix it or if the bot just closed them. That's why I was suggesting to add a won't fix label if that was the case

[2020-06-17 18:08] shilman commented on #10109
whose call is that? i'd say there are very few issues that we "won't fix" but a lot of issues that we "can't fix" due to time constraints. which ones are those? the ones that stale out. how long does it take to determine the issues that stale out? a month or two. during that time, i can see the upvote/comment activity and whether people have signed up to fix them ("in progress"). if a bug/feature

[2020-06-17 18:18] shilman commented on #10717
@ndelangen FYI this was a critical bugfix that might have messed up the babel settings when you tried to delete that special webpack code: https://github.com/storybookjs/storybook/pull/11217. let's try again soon?

[2020-06-17 18:20] shilman commented on #10793
fixed in https://github.com/storybookjs/storybook/pull/11136

[2020-06-17 18:20] #10793 closed

[2020-06-17 19:54] lukasholzer commented on #11125
@kroeder for sure would be a pleasure to contribute this – Maybe I can spare some time on the weekend or next week to tackle this! Do you have a link to the discord channel?

[2020-06-17 20:28] probablyup commented on #7445
@ndelangen why wouldn't you take this for v5 as well?

[2020-06-17 21:29] shilman commented on #10530
cc @domyen

[2020-06-17 21:46] shilman commented on #7445
@probablyup v6 is coming up in the next 1-2 mo. we don't have the bandwidth to make potentially destabilizing changes to existing versions and iterate the product at the same time.

our process:
- add features & bugfixes to `next` (which will be released in the next minor/major), daily alphas
- patch "safe" or critical bugfixes back to master along the way, release as needed
- do heavy community Q

[2020-06-17 22:14] christinec01 opened #11222 "Customize Storybook panel via theming"
**Is your feature request related to a problem? Please describe.**
I'm using the [Storybook theming quickstart documentation](https://github.com/storybookjs/storybook/blob/9b7d7d271bdfea1e03c8958b6b7c0ce089b2ebcb/docs/src/pages/configurations/theming/index.md) about theming to 'brand' my Design System App.

**Describe the solution you'd like**
I don't see a variable that allows me to modify the `b

[2020-06-18 00:46] rbreeze opened #11223 "Retain Fullscreen View upon Page Refresh"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I refresh a story page when in fullscreen, and the refresh resizes the view to small screen.

**Describe the solution you'd like**
Maybe a url param for fullscreen view, so that upon refresh that view option isn't lost.

**Describe alternatives you've considered**
I did see that you can configure the stor

[2020-06-18 02:03] shilman commented on #11222
AFAIK the design rationale is that if you care about the brand look and feel, you should just use `brandImage` for that. @domyen @ndelangen might be able to elaborate.

[2020-06-18 04:51] AsherFoster commented on #11041
Having this exact same issue with Stencil + Storybook. When using start-storybook, `@Prop`s work as expected, however when running build-storybook they are all true. My only guess is that webpack has some bad optimizations, but I've had no luck debugging this.
[code]
We define the custom elements in preview.js:
[code]

Our main.js is relatively simple, just configures typescript
[code]

[2020-06-18 05:48] domyen commented on #11222
That’s correct. Most, if not all, theme customizers have a logotype (icon +
stylized text) that they use for brandImage.

We intentionally keep the theme api tight so we can be nimble and reduce
maintenance scope. If you’re looking for further customization, try the css
classes (escape hatches for intrepid theme creators).

On Wed, Jun 17, 2020 at 10:03 PM Michael Shilman <notifications@github.com

[2020-06-18 08:10] redders6600 opened #11226 "All props are listed as type 'unknown'"
I'm using storybook 5.3.19 with a CRA project that I have migrated to typescript (it was previously JS and I was using `PropTypes`), however all of the props listed in my stories are displayed as 'other'. I am not sure where to start debugging this...

Example:

BasicSpan.tsx
[code]

`BasicSpan.stories.tsx`
[code]
![image](https://user-images.githubusercontent.com/2893500/85017499-791c5500-b163-11

[2020-06-18 08:59] arthakdoo opened #11227 "Be able to mock global functions, e.g. to mock React hooks dependencies"
**Is your feature request related to a problem? Please describe.**
We often cannot run a storybook around some component which uses React hooks to fetch some data, e.g. useQuery or useMutation from the Apollo library. It fails because there is no Provider, and Apollo provider is not that easy to set up. Even when set up, it needs to be mocked, which Apollo has some support for, but some other libs

[2020-06-18 09:04] mattgek commented on #11116
I'm having very busy days at work. I'm hoping to provide you some additional information in my spare time. Hopefully by the end of this week (Sunday) @shilman

[2020-06-18 10:11] shilman commented on #11226
`Addon-info` is being superceded by `addon-docs`, which fixes a bunch of bugs and is easier to maintain. Please give it a try! https://medium.com/storybookjs/storybook-docspage-e185bc3622bf

[2020-06-18 10:11] tmeasday commented on #11227
Hi @dmaksimovic -- I think it is possible to do this with a custom webpack config that aliases the import (e.g. aliases `react-apollo` to your own mock version).

Having said that, I agree first class support for this in SB would be really cool. Do you have thoughts on an API for it?

[2020-06-18 11:53] kroeder commented on #11125
@lukasholzer sounds great!

Let's chat about the kick-off in Discord
https://discord.gg/E4CGPQ -> KaiR#5732

[2020-06-18 11:58] redders6600 commented on #11226
Hi @shilman thanks for the reply - I was actually using both but (the second screenshot is from docs I think), but I have just removed `addon-info`. I've now removed the confusing screenshot at the start of this issue so only the docs one is there, but I'm still having the same problem with docs - all props are showing as `unknown` regardless of how I define them.

As such it is probably worth re-

[2020-06-18 12:50] agriffis commented on #10878
Still a problem

[2020-06-18 13:22] shilman commented on #11226
Can you try upgrading to 6.0? We've smoothed out a lot of this there. Quick & dirty migration guide https://github.com/storybookjs/storybook/issues/9311

[2020-06-18 13:29] lkraav commented on #244
Storybook 5.3.19 (latest stable): I would like to have "Expand all" as project default state. Is it possible to configure or programmatically trigger?

[2020-06-18 13:44] mklanjsek opened #11228 "Addon-docs: Story selection broken in Docs panel after upgrading to v6.0"
**Describe the bug**
After upgrading Storybook on our Angular based project from 5.3.18 to v6.0.0-beta.31, the MDX docs selection is broken. The Docs panel always shows the last MDX story, regardless of which story is selected on the left. It's only the Docs panel that's broken, the Canvas panel still shows the right story when changing the selection.

This has been broken for a while, I've seen i

[2020-06-18 13:57] annacv commented on #9468
Hi @shilman it works properly :) But, what about slots, how can we add a slots' description? I've noticed it "catches" the slot when used as a tag (instead of using it as <div slot: 'bla'/>) but I'm not achieving how to customize the description. Any idea? Thks!

[2020-06-18 14:18] AnnaYuS commented on #10351
I've tried upgrading to `@storybook/vue": "^6.0.0-beta.31"` but another issue came up:

[code]

not sure if it's caused by the same problem. Tried both jest 25 and 26.

[2020-06-18 15:10] redders6600 commented on #11226
@shilman thanks for your suggestion - it indirectly fixed my problem. From the migration guide, `npx npm-check-updates '/storybook/' -u` didn't upgrade storybook or any of its plugins (probably because I'm missing a flag to include beta versions, or something), but it _DID_ upgrade `@storybook/preset-create-react-app` which was on an old `2.x` version - I'd totally missed it because when I upgrade

[2020-06-18 15:10] #11226 closed

[2020-06-18 15:14] shilman commented on #11226
@redders6600 thanks for letting me know about the typo. Fixed! And glad you got it sorted!!

[2020-06-18 15:27] Silverium commented on #7242
Hi all,

I've found a workaround. **Use functions!!**
As you may know, React is all about functions and so are knobs, with this approach, you have instant responsiveness:
[code]

[2020-06-18 15:28] Silverium commented on #3376
Hi all,

I've found a workaround. **Use functions!!**
As you may know, React is all about functions and so are knobs, with this approach, you have instant responsiveness:
[code]

[2020-06-18 15:29] Silverium commented on #6709
Hi all,

I've found a workaround. **Use functions!!**
As you may know, React is all about functions and so are knobs, with this approach, you have instant responsiveness:
[code]

[2020-06-18 15:37] jimmyfortinx commented on #8943
@Renji3 Thanks, I didn't see that part in the documentation. It worked well :D

[2020-06-18 16:51] smurrayatwork commented on #8040
Bumping this. It'd be nice to have an alternative to Patternlab to try. :)

[2020-06-18 17:07] shilman commented on #8040
https://www.npmjs.com/package/storybook-twig

[2020-06-18 17:14] iPzard commented on #10204
The issue still exists in React.

[2020-06-18 17:40] Claudia-Sardinha-Bose opened #11229 ""the types mismatch" warning when using same prop name with different types"
**Describe the bug**

Storybook (addon-docs) shows a warning in console when defining a prop and defaultProp with the same name but different types in two different components.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a React Storybook with the addon-docs
2. Create two React components with a prop that has the same name but different types:

[code]

[code]
3. Check the console

[2020-06-18 17:42] christinec01 commented on #11222
Got it! thanks all!

What about the ability to make the background color of the panel different than the background color of the app? (currently `appBg` styles both)

[2020-06-18 20:29] dfernandez-asapp opened #11230 "Theming: Line Height is absolute for many of the block components"
**Is your feature request related to a problem? Please describe.**
Storybook Docs add-on allows customizations using themes.

While you can change the font family and size, in some components the line height is set with an absolute value in pixels.

Source code:
https://github.com/storybookjs/storybook/blob/master/lib/components/src/blocks/DocsPage.tsx

**Describe the solution you'd like**
Using r

[2020-06-18 20:40] dfernandez-asapp commented on #8936
Perhaps this issue can be resolved by using `peerDependenciesMeta`?

See https://github.com/npm/cli/pull/224

[2020-06-18 21:48] domyen commented on #11222
There’s a css escape hatch for that too I believe :)

On Thu, Jun 18, 2020 at 1:42 PM Christinec01 <notifications@github.com>
wrote:

[2020-06-18 22:12] Jessica-Koch opened #11231 "support for gradient backgrounds in addon-backgrounds api"
Would love the ability to add a gradient background to preview-iframe with addon backgrounds.  I can make the PR for this if this is as simple as I think it is, which it never is...

**Describe the solution you'd like**
addon backgrounds changes `background` CSS property instead of `background-color`.
![image](https://user-images.githubusercontent.com/9360417/85076729-9823e280-b175-11ea-81a0-70241

[2020-06-18 22:42] kylesuss opened #11232 "What's new page state & manager UI"
**Are you able to assist bring the feature to reality?**
yes

**Additional context**

This is a new screen that shows the latest major/minor versions release notes.

* It appears automatically when SB is first opened after installing a new major or minor release.
* It does not appear when you install Storybook for the first time
* It does not appear when you build Storybook statically
* It does no

[2020-06-19 00:20] shilman commented on #11230
checking with @domyen who did the theming

[2020-06-19 00:55] JeffGuKang commented on #8943
@Renji3
Recommend to use `https://react-native-community.github.io/async-storage/` always.
And `require('react-native').AsyncStorage` is deprecated RN >= v0.59. You made a mistake writing the version.

[2020-06-19 01:06] nnennajohn opened #11233 "Addon Docs and Controls not working with Yarn 2."
**Describe the bug**
Hi. I have a monorepo setup with Yarn 2 and the latest storybook and addons. The Doc page shows an error when I navigate to it, and the controls section shows not setup, despite following the examples shown in the Docs.

**To Reproduce**
Steps to reproduce the behavior:
1. Create New Repo with Yarn 2
2. Try to setup Addon Docs and Controls
3. Observe errors in screenshots belo

[2020-06-19 01:06] nedkelly commented on #11222
Would it be possible to get a small example of "escape-hatch" in this scenario, or is there any related documentation to CSS escape-hatching, I've not been able to find anything and I'm in the process of applying our branding to storybook, unfortunately it's resulting in strange issues like white text on white backgrounds in panels etc..

Cheers.

[2020-06-19 02:27] jfarris587 opened #11234 ""TypeError: args.flat is not a function" when running yarn storybook on brand new CRA project"
**Describe the bug**

The below errors when runnin `yarn storybook`

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `npx create-react-app storybook-typescript --typescript`
2. `cd storybook-app`
3. `npx -p @storybook/cli sb init`
4. `yarn storybook`

`yarn start` appropriately starts the CRA dev server

[2020-06-19 02:58] shilman commented on #10949
Will fix (by explicitly disabling) in #11108

[2020-06-19 03:14] gvocale opened #11235 "Ember: "preview-head.html" generates paths as "assets./" instead of "./assets/""
After running in my Ember 3.18 app folder:
[code]
the file `.storybook/preview-head.html` gets created, but many paths wrongly starts with `assets./` rather then `./assets/`
[code]

I have to manually edit `.storybook/preview-head.html` and fix the paths, otherwise storybook opens blank, without error in console.

<img width="1919" alt="Screen Shot 2020-06-18 at 11 16 10 PM" src="https://user-imag

[2020-06-19 03:15] nedkelly commented on #11222
I think I finally figured this out, I created a `manager-head.html` and a `preview-head.html` file in `.storybook` and added my overrides there. It seems to work but requires the use of `!important` in more cases than I'd like.

[code]
And the preview panel
[code]

Is this feature intentionally not well documented? I looked for hours but couldn't find any clear reference to this in the docs, I had

[2020-06-19 04:01] ehzhang commented on #10757
@shilman would adding this to the 6.1 search milestone indicate this would be a reasonable thing to add?

As mentioned in the original post body, happy to contribute so long as the general idea sounds sane! :)

[2020-06-19 04:09] shilman commented on #10757
@ehzhang we're planning to overhaul search in 6.1 and I'd like to think about it as part of that larger body of work. I added it to the milestone to flag it for discussion and would love to have you involved in the design (and implementation) of the new search. we're thinking about things like story tags / faceted search for dealing with large storybooks, but are still in the throes of getting 6.0

[2020-06-19 04:32] ehzhang commented on #10757
Exciting to hear! Happy to be a part of those conversations :)

[2020-06-19 05:07] ghengeveld commented on #10757
@ehzhang Check this out: https://twitter.com/GHengeveld/status/1235622895910629378?s=20

Should be in SB 6.1.

[2020-06-19 08:46] MoeCasts opened #11237 "Cannot load custom postcss config from postcss.config.js"
**Describe the bug**
the `postcss.config.js` has not been loaded when running `yarn run storybook`

**Expected behavior**
To load the `postcss.config.js`  when running `yarn run storybook`

**Code snippets**
[code]

[code]

[code]

**System:**
[code]

[2020-06-19 09:07] tooppaaa commented on #11227
An option for this exact use case could be https://github.com/mswjs/msw.
There has been experiment to add this to Storybook by @yannbf.

If i'm right, msw starts asynchronously but our stories are synced. I think your work @tmeasday on async stories will unlock the use of that tool and ensure same data for unit test / storybook usage.

Having a mock mechanism in storybook might sound too much, Wha

[2020-06-19 09:43] dmaksimovic commented on #11227
Im afraid i don't. I've only been consumer of storybook for 3 years in 2 different companies but i have zero knowledge on its source and architecture. This issue is basically an obstacle to our team for using storybook, as we more and more shift to hook based components, and i only imagine we're not the only one's, as Facebook is pushing everybody in this direction. Service workers and custom webp

[2020-06-19 09:57] spawnia commented on #10351
@AnnaYuS managed to fix that issue by adding the following configuration to `jest.config.js`:

[code]

Looks like something might be off with the way that `addon-storyshots` is transpiled? See https://jestjs.io/docs/en/configuration#transformignorepatterns-arraystring

[2020-06-19 10:29] piemasters opened #11238 "Knobs broken for Vue components"
**Describe the bug**
The Knobs addon was working perfectly in v6 beta-21, but is no longer functioning correctly after upgrading to beta-25.

Using knobs on standard web elements works fine, but when passing as props to Vue components all values are being converted to strings and I receive the following error: `Invalid prop: type check failed for prop "orange". Expected Boolean, got String with va

[2020-06-19 11:05] RiaanWest opened #11239 "MDX SyntaxError warnings in CRA TS Kitchen sink"
**Describe the bug**
The example MDX stories in 6.0.0-beta.31 throw SyntaxError warnings. I've removed all empty lines between JSX blocks, which took care of some errors, but not all of them.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `yarn install`
2. Run `yarn storybook`
3. See errors in terminal

**Expected behavior**
Storybook should start up without errors, as this is the offic

[2020-06-19 11:12] tooppaaa commented on #10939
@tannerbaum What version of docs has been installed ?

We're seing that the version is not the one from next which can explain your issue.

If version is different, could you upgrade to @next ?

[2020-06-19 11:46] tannerbaum commented on #10939
So I will admit that I hadn't installed the docs separately as mentioned in step 3, that is my bad 😅  I thought it would in theory run without that add-on. So I did what the guide said and ran
`yarn add @storybook/addon-docs@next @storybook/addon-controls@next --dev`. Resulted in what appears to be the same error.

[code]

Could provide all the dependencies if helpful but the storybook ones are he

[2020-06-19 12:35] udaygowda commented on #10204
This issue is there even with vue.js and storybook version 5.3.19

[code]

[2020-06-19 12:56] Krysthalia commented on #10945
This bug is not solved and we could not install addon-doc.
However we are still interested to use this addon...

[2020-06-19 13:24] shilman commented on #11234
Fixed in https://github.com/storybookjs/presets/pull/154 and released as `@storybook/preset-create-react-app@3.1.2`. Please upgrade & try again!

[2020-06-19 13:24] #11234 closed

[2020-06-19 14:24] Tri101 opened #11244 "Addon Docs: decorated components break control reactivity in addon-docs props tables"
**Description**
I'm in the process of migrating knobs to controls, and it appears that props defined as controls are not being bound properly in the addon-docs tab.  The props are not being bound in the primary example.

I'm using the latest beta (6.0.0-beta.37).  The component and controls function as expected in the canvas tab with no console warning.

When I pass in my story args as data props,

[2020-06-19 14:47] Remeic commented on #9625
Hi, sorry for disorder.
I startup now a react native project with `npx react-native init appName`
After it, i run `npx -p @storybook/cli sb init --type react_native` but storybook keep loading, i don't have add either a new line of code.

There something i can do to fix it?
Thanks in advance!

[2020-06-19 15:09] ajkl2533 commented on #10351
I was getting similar error
[code]

I had styled-components `ThemeProvider` decorator defined in `preview.js`.
[code]

[2020-06-19 15:21] abhijit945 commented on #9979
Are there any updates on this?
I am running into the same issue, I am wondering if the storybook sources need to be pulled in via `type="systemjs-module"` ?

[2020-06-19 15:54] lostdesign opened #11245 "[v6.0.0-beta.31-32] camelCase ref key leads to blank page on click"
**Describe the bug**
Adding another storybook ref written in camelCase, will lead to the site not rendering anything once you click on that added storybook. Going back to the main sb doesn't fix it, a refresh is then necessary to display the main sb even.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a ref at `main.js` as follows:
![Bildschirmfoto 2020-06-19 um 17 34 39](https://user-i

[2020-06-19 16:30] shilman commented on #11233
@nnennajohn do you have mutliple copies of addon-docs installed? that stack trace looks like it's from a 5.3 version, which def won't work with the 6.0 setup. maybe somewhere else in the monorepo?

[2020-06-19 16:42] shilman commented on #11244
Do you have a repro repo? This all looks ok to me, and is working properly in the storybook monorepo: https://github.com/storybookjs/storybook/blob/next/examples/vue-kitchen-sink/src/stories/addon-controls.stories.js

[2020-06-19 16:59] shilman commented on #11239
These projects are written and run inside our monorepo and is picking up some babel settings from the monorepo that make it work. However, I can confirm the problem as soon as you remove the project from our monorepo. We're in the process of moving all the examples OUT of the monorepo, so we'll probably take care of this as part of that project.

cc @gaetanmaisse @tooppaaa

[2020-06-19 19:57] lifeiscontent commented on #10858
@shilman I'll take a look this weekend.

[2020-06-19 19:57] lifeiscontent commented on #10857
@shilman would it be possible to get the addon-actions to show up in docs? Or is that going against the idea?

[2020-06-19 21:41] RobertWHurst opened #11246 "Storybook resolving wrong dependency version when depended on by both storybook internally and the user's project"
**Describe the bug**
I have a react component for which I have created a story for documentation purposes. It depends on the usePopper hook from react-popper@2.2.3. When I render the component using my own webpack server (outside of storybook) it works as expected.

However when I start storybook I get an error stating that usePopper does not exist. After digging around in my node modules I discov

[2020-06-20 00:32] shilman commented on #10857
@lifeiscontent meaning show the addons panel? i think that's an instance of https://github.com/storybookjs/storybook/issues/6700

[2020-06-20 01:54] lyleunderwood commented on #7863
I hesitate to be this guy @shilman, but after seeing this comment I did try chromatic and it is both surprisingly awesome and exactly what my company needed. A little pricey, but hopefully it will replace our storyshots (which is painful), gemini-based screenshot testing of our stories, and now.sh / vercel automated hosting of our storybooks, and as a bonus has this nice UI review process. Very co

[2020-06-20 02:07] tx-nestor commented on #8936
@dfernandez-asapp  That's interesting. I have not used it before but worth a shot.

cc: @shilman @Hypnosphi  Any idea if this would work and resolve this problem?

[2020-06-20 02:16] shilman commented on #8936
@tx-nestor yes, agree it looks promising. my current thinking is to put all framework-specific dependencies in the framework package (e.g. `vue-docgen-api` => `@storybook/vue`) and then make it an optional peer dependency of `@storybook/addon-docs`. i'm under water with 6.0
blockers, but would gladly take a PR for this.

[2020-06-20 02:23] tx-nestor commented on #8936
@shilman  No worries re: v6 blockers.

I've pretty swamped myself. BUT, I think I can spare some time do some experimenting locally by hacking with node_modules and seeing how npm behaves. I can also publish a package to our internal private package repository and see if the peerDependenciesMeta works as documented. If my experiments look promising, I'll open an official PR in this repo.

[2020-06-20 02:30] shilman commented on #8936
FWIW we're using this successfully in Storybook already, but I didn't connect the dots until @dfernandez-asapp 's comment:

https://github.com/storybookjs/storybook/blob/next/addons/storyshots/storyshots-puppeteer/package.json

[2020-06-20 03:52] nnennajohn commented on #11233
@shilman You are right. Thanks for the prompt search. Let me remove the other version on the root folder and try again.

Screenshot:
<img width="680" alt="Screen Shot 2020-06-19 at 8 40 59 PM" src="https://user-images.githubusercontent.com/1761197/85190607-c6391d80-b26e-11ea-9299-b2328c3f164f.png">

[2020-06-20 04:35] nnennajohn commented on #11233
@shilman, Thank you. Removing the rogue mismatch version of storybook resolved addon-docs showing up.

But still don't have addon-controls working.

Per the docs, which I followed:

<img width="958" alt="Screen Shot 2020-06-19 at 9 21 59 PM" src="https://user-images.githubusercontent.com/1761197/85191609-5af24a00-b274-11ea-9464-42a9cdff053a.png">

It does not show up, both in the controls panel an

[2020-06-20 04:47] shilman commented on #11233
It’s because your story function does not accept an argument — see the big yellow warning in the Controls panel

[2020-06-20 06:33] ByeBye-Sama commented on #8444
Would love to see this soon 👀

[2020-06-20 11:59] vineetsgr07 commented on #8816
Hi @shilman, Can I pick this one? @alonsosfera, let me know if you going to look into it.

[2020-06-20 12:01] shilman commented on #8816
He’s already got a PR open and it’s on my plate to merge @vineetsgr07 ! Thanks for the offer!

[2020-06-20 14:28] diegovincent commented on #7708
@shilman I did not realize this was the "main" repository. Feel free to close https://github.com/storybookjs/react-native/issues/61 and open it here.

[2020-06-20 15:13] zmdavis commented on #11013
Was finally able to come back to this, and it appears to be fixed in `v6.0.0-beta.32`.  Thanks!

[2020-06-20 15:13] #11013 closed

[2020-06-20 17:14] sanchitbansal10 commented on #4896
I think this issue is fixed. Can be closed

[2020-06-20 17:20] #4784 closed

[2020-06-20 17:20] #10581 closed

[2020-06-20 17:20] #10574 closed

[2020-06-20 17:20] #10565 closed

[2020-06-20 17:20] #10454 closed

[2020-06-20 17:50] sanchitbansal10 commented on #7923
@shilman
Is this open. I would love to work on it.
I am new to storybook..would be great if u have any pre-thought on the possible approach and can share that.

[2020-06-20 17:59] kuldeepkeshwar commented on #10951
please keep it open

[2020-06-20 18:05] domyen commented on #10979
Working on this issue here https://github.com/storybookjs/storybook/pull/11216

[2020-06-20 19:53] JackHowa commented on #11065
addressed in https://github.com/storybookjs/storybook/pull/11243

[2020-06-20 21:02] o-alexandrov commented on #10987
it makes sense to keep this open as the opportunity to get rid of bundling from the process, resulting in extremely quick iterations, would be awesome to be built into storybook

[2020-06-20 22:23] lifeiscontent opened #11248 "Storybook 6.0 loads the wrong source code from addon-stories"
**Describe the bug**
If 2 stories share the same title, the source that is loaded is the last one regardless of if it's the right story or not.

**To Reproduce**
Steps to reproduce the behavior:
1. Create 2 index.stories.tsx
2. Make both files share the same title
3. Create 2 independent examples
4. Look at the source from storybook addon storysource.

**Expected behavior**
Load the correct storys

[2020-06-20 22:26] #11025 closed

[2020-06-20 22:30] zmdavis commented on #11010
Unfortunately I do not have a public reproduction.  Ultimately I was able to do what I wanted in a cleaner format anyways using the storySort config, eg:

[code]

[2020-06-21 00:47] dawidurbanski commented on #8112
@victorward @shilman

I made a simple POC to add this feature but it's not ideal.

First of all, it allows now to set `iframeHeight` to `auto` in storybook `preview.js` parameters. If specified otherwise or not set at all it works as before (defaults to 500px) so it's backwards compatible.

Screen from the `html-kitchen-sink`:

![localhost_9007__path=_docs_addons-a11y--default(Laptop with MDPI scr

[2020-06-21 00:53] shilman commented on #8112
@dawidurbanski That's awesome!!! I agree that the centered addon isn't a problem: we're deprecating it in 6.0: https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#removed-addon-centered

As for the delayed rendering, there is probably a Storybook event like `Events.STORY_RENDERED` you can listen to in order to trigger the code. This will be even more important in 6.1 when we introduce

[2020-06-21 03:02] dawidurbanski commented on #8112
@shamin Well, using any api related events would be very difficult in this case I think (but I might be wrong).

First of all I don't think `STORY_RENDERED` is aware of async code execution inside stories. It just fires on simple story render regardless of async execution status.

Second problem is that currently `docs` addon is not using any component in the render method so I don't have any way

[2020-06-21 03:07] dawidurbanski commented on #8112
I could make it a bit cleaner even, because we don't need to pass the height with the event, so this would work as well:

[code]

[2020-06-21 03:29] chrisj-skinner commented on #9962
@shilman I've been using controls with the latest V9 of Angular lately and having good progress 👍  Nice one on the CRA project.

[2020-06-21 04:16] chrisj-skinner opened #11250 "storyshots-core Validation Error jest-preset-angular/preprocessor.js not found - Storybook 6.0.0-beta.27"
**Describe the bug**
In an AngularV9 + Storybook 6.0.0-beta.27 env I receive a `Validation Error`

It appears `preprocessor.js` does not exist in jest-preset-angular

**To Reproduce**
Steps to reproduce the behavior:
1.  Setup at: https://github.com/storybookjs/storybook/tree/master/addons/storyshots/storyshots-core#configure-jest-for-angular
2. Run `ng test`
3. See error

**Expected behavior**
Te

[2020-06-21 04:54] lifeiscontent commented on #10857
@shilman yep, closing in favor of #6700

[2020-06-21 04:54] #10857 closed

[2020-06-21 08:36] lifeiscontent commented on #10856
@shilman did this get fixed?

[2020-06-21 10:48] lyx383982759 commented on #10869
Same problem here

[2020-06-21 11:09] nnennajohn commented on #11233
@shilman Can you please point me to somewhere in the doc that shows how to resolve it? I thought my stories.tsx looks exactly like the demo. I see the big yellow error. But clicking the link leads me to the docs where I followed it exactly, still it shows the same error.

[2020-06-21 13:03] abbudao opened #11252 "Storysource: Converting args spread into component current usage"
**Is your feature request related to a problem? Please describe.**
Storybook 6 has been awesome!
Addon controls and using args made writing stories very streamlined and I've been loving it!
The dev experience of just spreading args on components is superb!
The only drawback that I've perceived is how story source looks like; it always yields similar results, a source code that looks like:
[code]

[2020-06-21 13:12] TimboKZ opened #11253 "Is it possible to make `hrefTo` from Links addon a sync function?"
Relevant code snippet:
https://github.com/storybookjs/storybook/blob/d9a447773ccfb2d77e08feaeee678366389bf6b1/addons/links/src/preview.ts#L76-L82

Wondering if there's any particular reason this operation returns a promise, seems to be a synchronous operation.

I'm trying to define some custom Markdown story links for [my project](https://timbokz.github.io/Chonky/1.x/?path=/docs/1-file-browser-bas

[2020-06-21 19:36] 43081j opened #11255 "storybook@6 throws a core-js error"
With storybook 6, my _very basic_ typescript setup throws errors about core-js polyfills every time.

[code]

this is thrown from 'generated-stories-entry'. i can see earlier in the webpack output that the polyfill was built:

[code]

which afaik is where you include core-js.

with storybook 5, this works just fine. its a clean setup from today, `npm i -D @storybook/html` (5 or 6) and this config:

[2020-06-21 22:45] shilman commented on #11255
cc @ndelangen

[2020-06-21 22:53] shilman commented on #11252
Closing this as duplicate to #8342. Slightly different problem, but same solution, coming soon!

[2020-06-21 22:53] #11252 closed

[2020-06-21 22:54] shilman commented on #10869
@kroeder @matheo any idea what's going on here?

[2020-06-21 22:59] shilman commented on #11250
What version of jest are you using? I think we require `jest@26` now

[2020-06-21 23:11] shilman commented on #10856
Not explicitly. But maybe ... there have been lots of improvements since this was filed. Can you provide a repro in `official-storybook` for me to look at?

[2020-06-21 23:42] shilman commented on #11233
Sorry, I misread your story example on my phone! The `BaseCard` story looks good to me, so I think it's probably the fact that you're importing the `Card` component from an external library.

I've updated the documentation to include your use case. Please let me know if this works for you:

https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#my-controls-arent-being-auto-ge

[2020-06-22 00:49] tmeasday commented on #11227
@dmaksimovic I guess what I meant was how do you imagine using such a feature?

[2020-06-22 00:52] tmeasday commented on #10960
This was implemented in #11111 - @shilman should we close this issue?

[2020-06-22 00:54] tmeasday commented on #11010
I'm glad you figured out it out @zmdavis. I think the repro isn't necessary anyway as the reason it was happening is pretty clear.

[2020-06-22 00:54] tmeasday commented on #11010
@shilman do you think we should prioritizing fixing this for 6.0?

[2020-06-22 01:09] towry commented on #8835
I have the same issue, my example is `const Example = ....`, I have to change `Example` to `example`.

deps:

[code]

[2020-06-22 01:15] shilman commented on #8835
@towry do you have a public repro? i can't imagine why this problem might occur.

[2020-06-22 01:17] shilman commented on #10960
@tmeasday If you reference the issue in first line of the PR that fixes it, it will get closed as soon as I do a release.

[2020-06-22 01:33] nnennajohn commented on #11233
Thanks so much @shilman. You are right. I think its because my stories are in its own package. Sadly, I can't move it, as it's intentionally structured that way. I found that just adding `SampleStory.args = { someSampleProp: '' }` generates the specified arg. I will def be loosing out on automatic arg generation. But I get all the other awesome stuff with Storybook 6. So still happy.

Thanks again

[2020-06-22 01:33] #11233 closed

[2020-06-22 02:25] towry commented on #8835
I just created one: https://github.com/pze/storybook-vue-issue

`npm run storybook`

[2020-06-22 02:26] shilman commented on #11233
@nnennajohn so happy you got it working & thanks for your patience as we get all the pre-release issues ironed out!

[2020-06-22 03:03] shilman commented on #11010
@tmeasday probably worth fixing, tho we need to think about perf and this whole thing is somewhat in flux anyway e.g. https://github.com/storybookjs/storybook/pull/11097

[2020-06-22 03:05] shilman commented on #10893
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.33 containing PR #11080 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-06-22 03:05] shilman commented on #10960
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.33 containing PR #11111 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-06-22 03:05] shilman commented on #11211
Yippee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.33 containing PR #11216 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-06-22 03:05] #10960 closed

[2020-06-22 03:05] #10893 closed

[2020-06-22 05:24] airtonix opened #11256 "Cant render third party components that externalise react."
**Describe the bug**
- react externalised in our project
- using component X that externalises react and is published to our cdn
- usage of this component X actually works in webpack-dev-server but not in storybook `Uncaught TypeError: Cannot read property 'forwardRef' of undefined`

[2020-06-22 07:44] jonnysmith1981 opened #11257 "Providing mock data in MDX"
The MDX documentation for Storybook does not provide help / examples for how you would provide mock data for data-heavy components such as tables.

[2020-06-22 08:46] ndelangen commented on #9625
@Gongreg want to debug this together a bit?

[2020-06-22 09:27] ndelangen commented on #6408
@jfoliveira would you be interested in voicing your opinion on this matter in our next roadmap meeting?:
https://github.com/storybookjs/community

[2020-06-22 09:35] ndelangen commented on #11206
Yeah I can confirm, this is a bug.

@Kosai106 would you be able to help fix this with a PR?

[2020-06-22 09:40] ndelangen commented on #714
Yeah we'll do it some day

[2020-06-22 09:42] ndelangen commented on #11173
Is it just a matter of upgrading?

[2020-06-22 10:02] ndelangen commented on #10762
When you click it, it shows a tooltip with the error (hopefully formatted in a helpful way)

[2020-06-22 10:06] ndelangen commented on #11135
maybe instead of joining paths we can set the cwd in the glob library to resolve from there, this should make absolute paths work AND relative paths be resolved from the config dir.

Shouldn't be too big of a change, and would resolve your issue @hipstersmoothie. WDYT?

[2020-06-22 10:08] ndelangen commented on #11132
@aputinski do you have a suggestion for a fix?

[2020-06-22 10:10] s-h-a-d-o-w commented on #10477
Since only solutions but no reasons were mentioned in here so far (I was wondering which solution is the right one because of this), I thought I should point it out.

[This issue](https://github.com/nodejs/node/issues/32852#issuecomment-613655150) leads to the fact that **[babel relied on node behavior that was actually a bug](https://github.com/babel/babel/pull/11283)**. Then that bug got fixed i

[2020-06-22 10:12] Kosai106 commented on #11206
For sure @ndelangen, I'll try to dig in tonight.

[2020-06-22 10:22] ndelangen commented on #11103
Yes there is:

[code]

[2020-06-22 10:24] #11054 closed

[2020-06-22 10:26] ndelangen commented on #11206
Awesome, if you need help getting set up, LMK!

[2020-06-22 11:01] dfernandez-asapp commented on #11213
I got the same issue in Storybook@Next `6.0.0-beta.31`.

To reproduce, change the title to use a template string:
[code]
to
[code]

A search in `story-loader` code, tells me that the Sourcecode Addon is highly dependent on the source AST 😢 . I was trying to refactor common stories code with something like:
[code]

To use custom MDX for the docs. It will be great if the sourcecode addon documents a

[2020-06-22 11:14] nocarroll commented on #9516
I am experiencing this issue as well after upgrading from Storybook 3.4.11 to 5.2.8

For now, I have worked around the issue by importing each component from its directory rather than the component index file I had defined.

### Before
[code]

### After
[code]

In my project, I believe the issue is caused by `MyIcon` being a dependency of `MyColourPicker` as well as being imported as a sibling com

[2020-06-22 12:08] RiaanWest commented on #11239
So just to make sure I understand: currently, this example project won't work separately, because it's relying on settings from the monorepo?

[2020-06-22 12:18] Maks-Yaremenko commented on #11219
I have the same issue, after changing stories, rebuilding executed automatically, but the browser doesn't reload the page after I'm doing it my self - I'm able to see updated values.

so for some reason live-reload won't work.

[2020-06-22 12:30] nocarroll commented on #5941
In case someone ends up here with a similar setup to mine, what worked in my case was simply removing the custom webpack rule for loading images with `file-loader`

### Before
[code]

### After
[code]

This custom rule was necessary when I was running Storybook `3.4.11` but in `5.x.x` it seems to be defined in the base config so it is not required in the custom config.

[2020-06-22 13:02] danielo515 commented on #9605
Thanks for the detailed answer @lihue, I am using a similar (but simpler) approach by providing parameters to the stories.
The good thing it's that all I need to do is re-use the same story but attach a different params, the bad thing is that I end with extra stories that add nothing to my storybook.

[2020-06-22 13:23] mrmckeb commented on #9516
Hi @nocarroll, can you provide details about your Storybook config? Could there be duplicate Babel plugins/presets?

[2020-06-22 13:27] gaurav5430 commented on #1819
An update on `modules: false`, if you are using `babel-loader`, it will by default set `modules: false `with `babel-preset-env`

https://github.com/babel/babel-loader/issues/521

[2020-06-22 13:34] abhijit945 opened #11258 "Use SystemJS along with Storybook"
**Describe the bug**
Unable to load a SystemJS bundle in storybook. Already reported [here](https://github.com/storybookjs/storybook/issues/9979)

**To Reproduce**

* Use a regular story
* Add `config.output.libraryTarget = 'system';` to your `webpackFinal`
* Add `<script src="https://cdn.jsdelivr.net/npm/systemjs@latest/dist/system.min.js"></script>` to your `preview-head.html`

**Screenshots**
<

[2020-06-22 14:58] domyen commented on #11222
@nedkelly Thanks for posting the solution! 🙇‍♂️

maintenance scope.

The CSS escape hatches aren't a part of the "official" theming api. We can't make any guarantees about breaking changes in the future (unlike the theming api).

[2020-06-22 15:26] lainermeister opened #11260 "Typing in a value for a `number()` knob causes page to refresh"
**To Reproduce**
Steps to reproduce the behavior:
1. Add a `number()` knob to your storybook
2. Go to the component
3. Type in a number (instead of using the arrows on the field)
4. Press enter

**Expected behavior**
Input should change to the new inputted number.

**Actual behavior**
Page refreshes

**Screenshots**
![KWtAxCgkoV](https://user-images.githubusercontent.com/26628913/85305513-29979b00

[2020-06-22 15:58] ricardok1 commented on #1708
Is this still open?

[2020-06-22 15:59] xxvii27 opened #11261 "transformation/file/file is not found"
**Describe the bug**
Run `yarn storybook` got the error that transformation/file/file is not found.
Seems to originate from the mdx loader onto the babel.

**To Reproduce**
Add. storybook/addon-docs, and include the preset

**Expected behavior**
No error when running

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snippets**
If applicable, add code samples to

[2020-06-22 16:26] jackkoppa commented on #1708
I'd be OK closing, after we can update the docs section here to explain the "Pop Out" mode, which does indeed solve the problems described here much more simply than enabling a local dev tools, for example

https://github.com/storybookjs/storybook/blob/next/docs/src/pages/guides/guide-vue/index.md

[2020-06-22 16:33] blocka commented on #1708
it's still annoying to have to go into popout mode. Is it not possible to
do at all when it's in an iframe? Do react dev tools have the same issue in
storybook?

On Mon, Jun 22, 2020 at 6:26 PM Jack Koppa <notifications@github.com> wrote:

[2020-06-22 19:14] xveganxxxedgex commented on #8428
I'm having this issue as well, but noticed at least in my cases that it seemed to be caused by arrow binding functions existing in the class. It seems to happen whenever there is a class with arrow binding functions in the target file in general, even if that component/class is not the default export or even the one being used as the component in the stories.

**No issue:**

[code]

**Has the no p

[2020-06-22 19:43] hipstersmoothie commented on #11135
sounds good to me! Respecting absolute paths would solve my problem

[2020-06-22 20:28] maniator commented on #8230
Any updates here?

[2020-06-22 21:09] bfitch commented on #10074
Hi @jonniebigodes. I gave the updated instructions, in the preview linked above (https://deploy-preview-306--tender-kilby-05eed0.netlify.app/intro-to-storybook/ember/en/get-started/), a try and I'm still not able to load any stories. Here is a screenshot of the dev tools error:

![Screen Shot 2020-06-22 at 5 05 21 PM](https://user-images.githubusercontent.com/577208/85335326-d4737d80-b4aa-11ea-873

[2020-06-22 21:10] bfitch commented on #10074
Sorry that screenshot is not very clear. The error output is:
[code]

[2020-06-22 21:32] jonniebigodes commented on #10074
@bfitch if you don't mind i'll take a look at it tomorrow. Do you mind waiting a bit?

[2020-06-22 21:37] bfitch commented on #10074
@jonniebigodes No problem. Have a good night!

[2020-06-23 00:09] AsherFoster commented on #11041
So, after tampering with the webpack config for a while, I found the cause, as well as a workaround. The issue appears to lie within [babel-plugin-transform-simplify-comparison-operators](https://babeljs.io/docs/en/babel-plugin-transform-simplify-comparison-operators), which is responsible for converting `===` to `==`.
This breaks the build. Don't ask me why.

I disabled this in webpackFinal, and

[2020-06-23 01:07] tajo opened #11264 "?path=/story/* initially redirects to ?path=/undefined/undefined"
**Describe the bug**
When initially starting the dev server, it does a series of redirects. But it often (not always) ends up in this incorrect state:

[code]

The side navigation is displayed correctly (all stories and links). However, the links are corrupt: `?path=/undefined/teststory--base-web` where the `undefined` should be `story`.

When I open the base URL manually again, it works. I can't

[2020-06-23 02:18] chrislopresto commented on #11264
We have the same (or similar overlapping) problem. I'll try to amend this comment with more details when I have more time later tonight. Thanks in advance for any help!

I'll try to create a standalone repro, and I'm happy to hop on a screenshare to troubleshoot together.

**Setup**

- Storybook 6, recent betas. Observed the problem with beta 23 and beta 33
- TypeScript stories with default Storyb

[2020-06-23 02:20] tmeasday commented on #11264
@tajo / @chrislopresto thanks for the issue. Could you try the following?

1. Add `logLevel: 'debug'` to `main.js`
2. Turn on verbose logging level in the browser
3. Post a the logs that are posted when starting up both when it works and when it doesn't (if possible).

The logs should include all the event messages if 1&2 worked properly.

[2020-06-23 02:45] chrislopresto commented on #11264
@tmeasday I just realized that initially loading http://localhost:6006 leads to the problems described above. But if I load http://localhost:6006/ (with a trailing slash), the redirect to the first story works fine.

I'll get you some debug logs now.

[2020-06-23 03:00] chrislopresto commented on #11264
@tmeasday Here are some browser logs. I'll try to work on a repro later.

- Navigate to http://localhost:6006
- Browser first loads http://localhost:6006/?path=/story/*
- Browser redirects to http://localhost:6006/?path=/undefined/undefined and does successfully load a story

![image](https://user-images.githubusercontent.com/93691/85355680-2b914680-b4db-11ea-95dc-2233b354caca.png)

<details>
  <s

[2020-06-23 03:12] chrislopresto commented on #11264
To throw a 🔧  into the mix... or possibly help...

The initial story redirect does work somewhat consistently (not perfectly) if I am focused on the browser tab as it renders. If I right click on http://localhost:6006 and select "Open Link in New Window", the initial storybook redirect usually works:

![working](https://user-images.githubusercontent.com/93691/85356666-8166ee00-b4dd-11ea-81ee-c9f1e

[2020-06-23 03:26] tajo commented on #11264
## Not Working

[code]

## Working

[code]

So it seems that `currentStoryWasSet` not being initially set causes the issue. Anyway, I experience the same intermittent behavior as @chrislopresto.

[2020-06-23 04:05] tajo commented on #11264
Did some quick debugging. It seems that [`selectionSpecifier`](https://github.com/storybookjs/storybook/blob/next/lib/client-api/src/story_store.ts#L197) is undefined when this bug occurs. You initialize this value [here](https://github.com/storybookjs/storybook/blob/next/lib/core/src/client/preview/start.ts#L68) but is this a race condition assuming that URL is already set to `/?path=/story/*`? T

[2020-06-23 04:54] tmeasday commented on #11264
Thanks for the debugging @tajo

That's not quite right because `start.ts` runs in the preview, but the URLs you posted are in the manager. The preview (the iframe)'s URL should *start* as `id=*` but it seems like perhaps it isn't? Perhaps you could put a debugger in and see what the URL is when that code runs?

I was trying to retain the behaviour where if you go to `/iframe.html` with no query pa

[2020-06-23 06:33] Chetan11-dev commented on #3446
It fixed my problem
sudo npm i -g @storybook/cli
sb init

[2020-06-23 06:54] chrislopresto commented on #11264
@tomByrer When `getSelectionSpecifierFromPath` is invoked the first time from `start.ts` in the preview, the value of `_global.document.location.href` is http://localhost:6006/iframe.html?id=undefined&viewMode=story

I haven't managed to create a standalone repro, but I do have debugger statements set up locally. If you want to give me a hit list of debug/logpoints, I'm happy to run down the list

[2020-06-23 07:00] tmeasday commented on #11264
Hey @chrislopresto I've managed to get a reproduction (via https://github.com/chromaui/storybook-template-react) and I've tracked down the problem to this line:

https://github.com/storybookjs/storybook/blob/dbbf98f5d16077cc7581b11313bde02c79895103/lib/api/src/modules/url.ts#L90:L90

I've no idea why the `setTimeout` is there but it seems it is the cause of the race condition whether the `id=*` or

[2020-06-23 07:31] gaurav5430 opened #11266 "behaviour with nested node_modules, parent babel.config.js, useBuiltIns: 'usage' vs useBuiltIns: 'entry'"
**Describe the bug**
I have a lerna monorepo, where there can be nested `node_modules` folders inside `packages`.
I also have storybook setup in the same repo, though it is outside of lerna packages and hence not managed by lerna.

I have a custom webpack pipeline which is different from the default storybook webpack config (because I need to have a setup for using css-modules, postcss-loader etc)

[2020-06-23 08:15] gossi commented on #10074
@bfitch can you extract this into its own issue? We've seen this popping up in discord the last week. Nice opportunity or bringing people together here

[2020-06-23 09:04] nocarroll commented on #9516
Hi @mrmckeb here are the babel and storybook related packages in my `package.json`

[code]

and this is my `.babelrc`

[code]

The `.babelrc` is unchanged from when I was running Storybook 3.4.11 except for swapping `"transform-class-properties"` for `"@babel/plugin-proposal-class-properties"`

I think the spec option is not actually read by the plugin but I included it since it's still in my WIP

[2020-06-23 09:10] rantjobs commented on #10469
i have a wordpress website using amp and DevTools failed to load SourceMap too

insidenobs.com

[2020-06-23 09:19] mrmckeb commented on #9516
Hi @nocarroll, I can definitely see presets/plugins that would be duplicates in this setup. Is this a project Babel config or for Storybook?

@shilman We'll probably need to add some automatic filtering of duplicate plugins/presets in future... I'm not sure of the best way to do that now though.

[2020-06-23 09:29] nocarroll commented on #9516
The babel config is for our Storybook app only.

Would this have been an incorrect setup under v3 as well?

[2020-06-23 09:31] mrmckeb commented on #9516
@nocarroll I would need to look, but basically you're including a bunch of presets that are now included by default. By doing that, both get loaded and that's why the app is breaking. Maybe try without a Babel config, and see if it builds? If not, add the presets you think are missing? That would probably be the easiest path IMO!

[2020-06-23 09:37] nocarroll commented on #9516
@mrmckeb interesting, I saw the same thing happening with webpack loaders after upgrading v3 -> v5, though I managed to figure out that removing the custom declarations solved the issue in that case.

I'll try your suggestion, thanks for the replies.

[2020-06-23 09:53] mrlubos commented on #11014
@yannbf Can confirm, `5.3.x` does not solve the issue, `6.0.0` works! 🎉

[2020-06-23 10:16] ndelangen commented on #11135
I think someone else already picked this up, I saw a PR that used `isAbsolute()` to determine whether to join the path or not.

[2020-06-23 10:26] mlenser commented on #7516
@DragorWW your gist is now outdated as the readme has changed.

[2020-06-23 10:49] shilman commented on #11257
Mock data in the sense of component inputs (e.g. props in react)? Or mock data in the broader sense (faking network requests, modules, etc.)?

[2020-06-23 12:22] shilman commented on #9516
@mrmckeb i think we can detect & warn?

[2020-06-23 12:32] shilman commented on #1708
@blocka i think react devtools works using this hook:

https://github.com/storybookjs/storybook/blob/master/lib/core/src/server/templates/base-preview-head.html#L71-L73

somebody also added a hook for Vue devtools, but I guess Vue doesn't support it

[2020-06-23 12:35] shilman commented on #11261
Do you have a public repro repo I can look at?

[2020-06-23 12:37] blocka commented on #1708
So something has to be done in vue devtools for this to work?

[2020-06-23 12:40] dj-neza opened #11272 "Arrays and objects in Storybook for web components"
### Bug or support request summary

Hi!
I'm trying to upgrade the Storybook of a Stencil Web components project from the storybook for html to the one for web components. I've managed to set up basic stories using the lit html as in the demo but I'm having a problem with the more advanced Prop types (e.g. arrays and objects). My question is - is this possible in storybook for web components and if

[2020-06-23 12:40] shilman commented on #11260
FYI, we’ve released addon-controls in 6.0-beta. Controls are portable, auto-generated knobs that are intended to replace addon-knobs long term.

- [Controls README](https://github.com/storybookjs/storybook/tree/next/addons/controls)
- [Migration instructions](https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#how-do-i-migrate-from-addon-knobs)
- [Walkthrough: Controls w/

[2020-06-23 12:46] shilman commented on #11213
@dfernandez-asapp https://github.com/storybookjs/storybook/pull/10959 should have fixed this for `addon-docs` and I have plans to get rid of `source-loader` in `addon-docs` altogether. Haven't thought about the fix for `addon-storysource` yet.

[2020-06-23 12:49] shilman commented on #1708
I'm not familiar with Vue devtools, but that's my guess. I believe the way we support React devtools is through an API that they provide and we write to, since there is no general way to solve this iframe issue without security implications.

[2020-06-23 13:43] klh commented on #7386
bump on this one

[2020-06-23 13:49] huv1k commented on #11054
Is this possible to achieve this only with webpack config? Using old `config.js` and `addons.js` configuration?

[2020-06-23 13:50] nocarroll commented on #9516
@mrmckeb Just to follow up, I removed the presets from my `.babelrc` keeping only the test setup and the loader for `antd`. The app runs fine like this, which is great, but I'm still getting the same error as before when importing from the component index file (as detailed in https://github.com/storybookjs/storybook/issues/9516#issuecomment-647451558)

[code]

### Error when importing from shared

[2020-06-23 14:05] #4896 closed

[2020-06-23 14:07] shilman commented on #9415
Variant of this: https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#my-controls-arent-being-auto-generated-what-should-i-do

[2020-06-23 14:14] shilman commented on #10574
Reopened in #11186

[2020-06-23 14:31] jfoliveira commented on #6408
Hey @ndelangen ! Thanks for the invite! Not sure if l'll be able to make it to the roadmap meeting but I'll try to attend.

In the meantime, for those still facing this same issue when building Storybook, I share below the minimal config changes that I came up with on my `.storybook/main.js` to disable bundling:
[code]

After applying these changes the error message `92% chunk asset optimization T

[2020-06-23 14:42] bfitch opened #11274 "Ember storybook fails to load"
Thank you for storybook and for making it available to Ember developers. I truly appreciate your hard work! 🙏.

Following the instructions in the [preview Ember Storybook docs](https://deploy-preview-306--tender-kilby-05eed0.netlify.app/intro-to-storybook/ember/en/get-started/) [(linked from here)](https://github.com/storybookjs/storybook/issues/10074#issuecomment-617944487) – Storybook fails to l

[2020-06-23 14:43] bfitch commented on #10074
Thanks @gossi. I added the issue linked above.

[2020-06-23 14:45] ZebraFlesh opened #11275 "Storybook/react incompatible with older versions of react"
**Describe the bug**
We tried to setup a new storybook with an older version of React and see a number of issues from npm. Our particular project is constrained to react 16.4.1 for a variety of reasons; upgrading it is not an option. React will be provided as a webpack external, hence loaded outside of webpack bundle (oh the joys of working with legacy code).

You'd think this would work because `

[2020-06-23 15:00] shilman commented on #11275
The version of React running in "the manager" (outer UI) should be independent of the version running in the "the preview" (user code). We have an example running React 15 here: https://github.com/storybookjs/storybook/tree/next/examples/cra-react15

So I'm a little confused. Is this just some package dependency issue that needs to be fixed?

[2020-06-23 15:24] guilhermewaess commented on #11264
@tmeasday Hey, I did some tests here and looks like this error happens only on version 6.0.0-beta.33

`Version 6.0.0-beta.31` works fine 👍
`Version 6.0.0-beta.32` works fine 👍
`Version 6.0.0-beta.33` doesn't work fine 👎

Hope that it helps with the solution.

[2020-06-23 15:26] ZebraFlesh commented on #11275
I'm not sure since that example doesn't actually run from 5.13.9 tag. I see the following output (and get similar output running from the head of the `next` branch):
[code]

[2020-06-23 15:45] Hongbo-Miao commented on #10768
Activate.

[2020-06-23 15:54] shilman commented on #10526
Great Caesar's ghost!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.34 containing PR #11251 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-06-23 15:54] shilman commented on #11211
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.34 containing PR #11263 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-06-23 15:54] shilman commented on #11231
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.34 containing PR #11265 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-06-23 15:54] #10526 closed

[2020-06-23 15:54] #11211 closed

[2020-06-23 15:54] #11231 closed

[2020-06-23 15:54] gvocale commented on #11274
In my case the path is generated incorrectly in `preview-head.html`. See ticket here https://github.com/storybookjs/storybook/issues/11235. Is your path in preview-head.html incorrect as well?

[2020-06-23 16:24] dbendaou commented on #10074
About the topic issue, I think it would be cool to add some words about `services`/`Ember objects`/`model`/`store`?
It possible to make them work, though it's a bit hacky, I think it could be cool talk about it.
WDYT ?

[2020-06-23 17:14] adbenson commented on #10869
I have a workaround:

In `src/stories/0-Welcome.stories.ts`, replace:
`import { Welcome } from '@storybook/angular/demo';` with
`import Welcome from '@storybook/angular/dist/demo/welcome.component';`

In `src/stories/1-Button.stories.ts`, replace:
`import { action } from '@storybook/addon-actions';` with
`import { action } from '@storybook/addon-actions/dist/preview/action';`
and
`import { linkTo

[2020-06-23 17:16] jpmarra commented on #9996
Hit this same issue when running through the Controls walkthrough https://gist.github.com/shilman/69c1dd41a466bae137cc88bd2c6ef487#:~:text=Storybook%20Controls%20w%2F%20CRA%20%26%20TypeScript,ergonomic%20way%20to%20write%20stories.

[2020-06-23 17:19] bfitch commented on #11274
@gvocale I my case `preview-head.html` is generated, but the file is empty.

[2020-06-23 17:28] tajo commented on #11264
This seems to be right.

[2020-06-23 18:19] sdevalapurkar-bcgov commented on #7745
Thank you! This works great

[2020-06-23 18:21] DDDDDanica commented on #10768
Got same issue with following config:
[code]

[2020-06-23 19:21] frassinier commented on #10270
Hello @mamoonraja,

Nothing related to the piece of code you are linking at 🤔

Do you use a reset CSS library like [normalize.css](https://necolas.github.io/normalize.css/) or [reset.css](https://meyerweb.com/eric/tools/css/reset/)?
Tailwind has its one too based on normalize!
Because they use to disable the default list style.

Maybe related?

[2020-06-23 19:53] matheo commented on #10869
@adbenson I've worked with `import { linkTo } from '@storybook/addon-links'` without problems.

But I have no idea why the exported components could not work with this demo.js entrypoint:
[code]

[2020-06-23 20:38] mcshaz commented on #11173
Yes. All the information I have is from the issue on the shelljs github site (linked). The 1 minor version change from 0.8.3 to 0.8.4

taken from #https://github.com/shelljs/shelljs/issues/991#issuecomment-619316520

The single line dif is at https://github.com/shelljs/shelljs/commit/05374a749992969bb6b853095f4c9308df69aa82

[2020-06-23 21:36] domyen opened #11283 "Scrollbar for toolbars doesn't work in 6.0 beta like it did in 5.3"
**Describe the bug**
When there is horizontal overflow, the toolbar shows unsightly system scroll bars that obfuscate the toolbar tabs and icons. This was not the case in 5.3 (see before:after screenshots below).

| 5.3 ([link](https://storybookjs.netlify.app/official-storybook/?path=/story/*))  | 6.0 beta ([link](https://next--storybookjs.netlify.app/official-storybook/?path=/undefined/undefined)

[2020-06-23 21:47] justinbayctxs commented on #8884
I ran into this and agree this is not completely fixed on the v5 release. Looking at #9790, I tried tweaking that file in node_modules locally and could not get changes to take effect. I worked around this by force-compiling acorn-jsx in our 'main' storybook config since we're in full-control mode for TypeScript support (and other tweaks). Maybe full-control mode is a factor?

[2020-06-23 22:26] tmeasday commented on #11264
Yep, thanks team. We’ve identified where the problem is and @ndelangen and I’ll work towards a solution in the next day or two

[2020-06-23 23:11] alexkrolick commented on #10167
Does the new color control have all the options?

[2020-06-24 00:07] shilman commented on #11275
@gaetanmaisse any chance you can look at this? seems vaguely related to the yarn2 stuff you've been up to, with stricter dep checking

[2020-06-24 00:29] xxvii27 commented on #11261
hmm, I just tried create an empty repo with no source code and do quick install of storybook and same thing happens. I can push that if it helps

[2020-06-24 00:36] xxvii27 commented on #11261
https://github.com/xxvii27/storybook-test

[2020-06-24 00:50] xxvii27 commented on #11261
Nvm seems I got it working on another machine might be some problem with the node / npm version there

[2020-06-24 04:19] CregskiN commented on #11052
I have a same problem as you. It's solved now.thanks

[2020-06-24 04:58] fpunny commented on #7729
Not saying that this should be a solution... but here's a code snippet of getting JSX to work with vue for anyone who is dying to use JSX for vue

[code]

An example of using this looks like this
[code]

[2020-06-24 05:21] xxvii27 commented on #11261
what is the recommended npm / noder version BTW?

[2020-06-24 06:12] shilman commented on #11261
i think node 12 / npm latest? but should work with a pretty wide range

[2020-06-24 06:42] raintam0819 opened #11286 "can't read the import .ts file"
HI!

If import .ts from other file,it can't initializing.Instead, the code in the same .vue file,it work.How can i fix this problem?
![image](https://user-images.githubusercontent.com/25824731/85509187-1bd34880-b628-11ea-8de3-11a697c3291c.png)
![image](https://user-images.githubusercontent.com/25824731/85509500-b6cc2280-b628-11ea-891b-e934836e9f12.png)

[2020-06-24 07:06] mrmckeb commented on #9516
Interesting - sorry you're still hitting this @nocarroll. Are you able to share a small reproduction? Even privately?

[2020-06-24 08:04] nocarroll commented on #9516
@mrmckeb I'll see about putting something together. It likely won't be for a few days since it's not blocking my work at the moment.

[2020-06-24 08:45] mrmckeb commented on #9516
No problem, if it's by the weekend - that's perfect as I have a lot more free time then ;)

[2020-06-24 09:12] #10666 closed

[2020-06-24 09:21] ndelangen commented on #11173
@mcshaz would you be open to opening a PR to fix this?

[2020-06-24 09:22] ndelangen commented on #11054
changing the manager's webpack config can only be done via `main.js`

[2020-06-24 09:47] shilman commented on #10666
Ta-da!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.35 containing PR #11280 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-06-24 10:51] silinca18 commented on #11053
Up

[2020-06-24 11:15] zakkor commented on #4038
@ziodave 's solution works, but with the Create React App preset, only in dev mode, because it's not filtering out the existing rules correctly.
Here's how I got it to work on the latest versions, using CRA:
[code]

[2020-06-24 11:23] PaulieScanlon commented on #9580
@themre I wrote a couple of recipes to help in setting up Storybook + Gatsby and TypeScript / JavaScript. They are both available through the official Gatsby CLI, more info here: https://paulie.dev/posts/2020/05/gatsby-cli-recipes/

[2020-06-24 11:52] PaulieScanlon opened #11289 "Storybook addon-docs - imported flow types - flow intersection"
I'm using `
- "@storybook/react": "^5.3.19"`
- `"@storybook/preset-create-react-app": "^3.0.1"`
- ` "@storybook/addon-docs": "^5.3.19"`
- ` "flow-bin": "^0.109.0"`

The prop table is populated with my prop types / descriptions but ONLY if a `type` is declared in the same file as the component.

This works:

[code]

But because `widgetPropsT` is common i'd like to keep it in a common place eg:

[co

[2020-06-24 11:52] christophehurpeau opened #11290 "addons-actions: option to return something"
**Is your feature request related to a problem? Please describe.**

We have stories with callbacks that should return Promise.

[code]

Form onSubmit prop: `onSubmit: Promise<void>;`

**Describe the solution you'd like**
Option to specify a return value, either with a function or directly the value we want to return ?

[code]

[code]

I'm not sure about the naming

**Describe alternatives you've c

[2020-06-24 12:14] fernandopasik opened #11291 "Main config in typescript throwing error with export default"
**Describe the bug**
main.ts with typescript export default breaks

**To Reproduce**
1. rename your config if it's in js to ts and have something like
[code]

**Expected behavior**
No error produced and server starts

**Screenshots**
[code]

[2020-06-24 12:22] fernandopasik commented on #11291
Tracking back the version changes it's related to the changes in https://github.com/storybookjs/storybook/pull/11247

If I revert that it works

[2020-06-24 12:36] frassinier commented on #10522
Hey @meyerds

Did you get the same result using this instead?

test.stories.tsx

[code]

[2020-06-24 13:16] sauravkhdoolia opened #11292 "SVGs not working in CRA 3.4.1"
**Describe the bug**
I can't get SVGs to work in CRA 3.4.1. It consistently throughs `Error: Failed to execute 'createElement' on 'Document': The tag name provided ('static/media/user.ed52f187.svg') is not a valid name.`

**Expected behavior**
`import IconUser from './user.svg'` was supposed to work but it doesn't.

**Code snippets**
Components:
[code]

Stories:
[code]

**System:**
Please paste th

[2020-06-24 14:12] passionkind commented on #10939
We fixed the error by simply adding turning `'@babel/plugin-proposal-class-properties'` into `['@babel/plugin-proposal-class-properties', { loose: true }]` in our custom `.babelrc.js` as done in https://github.com/storybookjs/storybook/pull/10941

[2020-06-24 14:35] stupidawesome commented on #10760
I use code that depends on Ivy view engine being enabled, so this is a real blocker for me.

Looking at the current implementation, integration with storybook relies heavily on JIT compilation with dynamic calls to `NgModule` and `Component` decorators at runtime. AFAIK this won't work with AoT compilation. Ivy is also much stricter than View Engine here.

AoT compilation has [many restrictions](h

[2020-06-24 14:57] kroeder commented on #10760
@stupidawesome good to know, thanks! I think this will help me

I haven't really started (just tried a first working version)
Are you able to help me with https://github.com/storybookjs/storybook/pull/11157 ?

[2020-06-24 15:21] kunal13053 commented on #8541
Hello, Is anyone working on this issue?
Can I work on this?

[2020-06-24 15:32] schicks opened #11296 "Make ID of root component configurable"
**Is your feature request related to a problem? Please describe.**
I have an application that always lives within a third party frame that provides some context that the components rely on. This frame is outside my control, and assumes that there will be some root level structure on the page. It also assumes that all content will be rendered within a `<main id="ps-main">` tag.

**Describe the solu

[2020-06-24 17:01] jpmarra commented on #8538
@shilman Do you have any examples of how to use the `include` prop? Struggling to find documentation.

[2020-06-24 17:06] meyerds commented on #10522
@frassinier using that, there is no effect. There is no error, but neither is the story hidden in the navigation tree.

[2020-06-24 17:29] jpmarra commented on #8538
The only thing I'm seeing is `exclude` which doesn't seem to help in this case. https://github.com/storybookjs/storybook/blob/5c47099b2e87efbf02c04e4176486992a950589d/addons/docs/src/blocks/Props.tsx#L22

[2020-06-24 18:11] ddoria921 commented on #11274
@bfitch can you try running `ember s` in one window (wait till the server is up) and then run `npx start-storybook -p 6006 -s dist` in a separate window.

[2020-06-24 18:19] DDDDDanica commented on #10768
Update: tried `5.3.19` version, still got the same warning :(

[2020-06-24 19:00] ddoria921 opened #11301 "Allow support for JS decorators out of the box with @storybook/ember"
**Is your feature request related to a problem? Please describe.**
The latest version of Ember uses decorators to add functionality to components. Right now you're unable to use these int he `context` of stories in an Ember Storybook project without installing `@babel/plugin-proposal-decorators` and adding a `.babelrc` config file to the `.storybook` directory.

Then configuring the `.babelrc` fil

[2020-06-24 20:36] bfitch commented on #11274
@ddoria921 When I run `ember s` I get:
[code]
as reported [here](https://github.com/storybookjs/ember-cli-storybook/issues/42) and above.

When I run `npx start-storybook -p 6006 -s dist` in another terminal window, I get:

![Screen Shot 2020-06-24 at 4 34 59 PM](https://user-images.githubusercontent.com/577208/85624954-b3d92e00-b638-11ea-9328-988716b78e54.png)

as reported above.

Thanks for your

[2020-06-24 20:48] domyen opened #11302 "Composition: MDX pages don't get the appropriate Sidebar list items"
**Describe the bug**
I'm composing [Storybook Design System](https://5ccbc373887ca40020446347-synmdrrwjj.chromatic.com/?path=/story/design-system-intro--page) into [LearnStorybook's own Storybook](https://5cf841a3f3e3d200208ffc74-hjwclwhfba.chromatic.com/?path=/story/@storybook/design-system_design-system-intro--page). However the sidebar UI of the composed Storybook does not match SDS when it sho

[2020-06-24 21:02] ddoria921 commented on #11274
@bfitch  Huh, interesting...

I'm running the following versions and it's working fine.

[code]

what version are you on?

[2020-06-24 21:27] matheo opened #11304 "Beta 35: start-storybook not loading styles imported by preview.js"
**Describe the bug**

I have some CSS files imported at the end of `preview.js` and they doesn't seems to be loaded in the dev environment (`start-storybook`). Something changed around that after beta.28?

**Screenshots**
In the latest working build with `beta.32`, I'm able to see the imported CSS before the emotion ones:

![image](https://user-images.githubusercontent.com/260185/85629389-66a88c80

[2020-06-24 21:28] saschafuchs commented on #11244
I have a similar problem with Nuxt in combination with vue-i18n.

i18n I have included as a decorator in the `preview.js`

[code]

When the translation is included, I can enter values in the props, but they are no longer transferred to the component. If I deactivate the decorator, it works as desired. But this is not the desired way, because I need the translations in the components.

[2020-06-24 21:41] zackphilipps commented on #7421
Am I the only one super frustrated with Storybook docs? I have to use the old configuration method for integration with InVision's DSM (not that the specific reason matters much), and any time I have a need to customize anything it's nearly impossible to find what I need to do. Just one frustrating example is the link above going to nothing in particular (looks like the Full Control Mode docs were

[2020-06-24 21:59] bfitch commented on #11274
@ddoria921
[code]

[2020-06-24 22:31] #11264 closed

[2020-06-25 02:00] brandonpittman commented on #10351
Rolling back to Jest@25 solved the issue for me.

[2020-06-25 02:35] shilman commented on #11264
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.36 containing PR #11293 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-06-25 05:24] shilman commented on #11304
@tmeasday @ndelangen something to do with composition?

[2020-06-25 05:28] shilman commented on #8538
SB6 = next branch

https://github.com/storybookjs/storybook/blob/next/addons/docs/src/blocks/Props.tsx

[2020-06-25 05:29] shilman commented on #11296
Related: https://github.com/storybookjs/storybook/pull/10638

[2020-06-25 05:40] chrislopresto commented on #11264
I can confirm that beta.36 resolves our story loading issues in development mode. Thanks! 🎉

We still have an issue with the static storybook build: navigating to different stories doesn't work without a full refresh each time. I'll log this as a separate issue.

[2020-06-25 06:04] chrislopresto opened #11308 "[v6.0.0-beta.23-36] Selecting story in manager updates URL but does not display story in preview (statically built storybook only)"
**Describe the bug**
After a **statically built Storybook** loads and displays a story, selecting a different story in the manager sidebar does not display the story in the preview pane.

**To Reproduce**
I do not have a standalone repro, but I'm happy to assist, debug locally, etc.

Steps to reproduce the behavior:
1.  Build static storybook with `yarn build-storybook`
2. Open the static storyboo

[2020-06-25 06:53] katiasmet commented on #6408
Maybe to add a little more information. I have the same memory leak issue when running `start-storybook`.

Storybook Version: 5.3.18
Angular Version: 8.1.2
Node Version: 12.16.1

[code]

[2020-06-25 07:13] shilman commented on #11289
@PaulieScanlon this issue corresponds to https://github.com/reactjs/react-docgen/pull/352 / https://github.com/reactjs/react-docgen/issues/33

[2020-06-25 07:24] tommyc38 opened #11309 "Angular Not Compiling Correctly: False Terminal Warning and Error with Class-Validator Package"
**Describe the bug**
Storybook is not compiling correctly in Angular.  Throws false warnings (https://github.com/webpack/webpack/issues/7378) and does not work with class-validator in a mono repo, both very popular.

**To Reproduce**
https://github.com/tommyc38/nest-pipe-repro

The README has all of the instructions.  Should be pretty easy and straight forward.

**Expected behavior**

If you follo

[2020-06-25 07:59] tmeasday commented on #11308
Thanks for the report @chrislopresto.

I tried reproducing w/ https://github.com/chromaui/storybook-template-react but I didn't see the problem. Can you quickly try you steps there (I think I followed them but you know how it is)?

When you select a story, the manager should emit `setCurrentStory` via [this file](https://github.com/storybookjs/storybook/blob/next/lib/ui/src/components/preview/prev

[2020-06-25 09:34] shilman commented on #11291
@fernandopasik I believe this can be configured in your `tsconfig.json` using the `compilerOptions.module` option.

[2020-06-25 09:41] fernandopasik commented on #11291
I'm using `"module": "ESNext"` in `tsconfig.json`

[2020-06-25 09:51] fernandopasik commented on #11291
I was looking also to the examples in the repo, all of the `main.ts` use `module.exports`

[2020-06-25 10:24] tmeasday commented on #11304
Hmm, sort of doubt it, but could be?

[2020-06-25 11:11] schicks commented on #11296
@shilman, I don't agree a lot of context on that pr but it doesn't look too me like it would drive my problem, because it still requires a particular ID for the root element. I would like to be able to set the root ID.

[2020-06-25 11:13] shilman commented on #11296
Cc @ndelangen

[2020-06-25 11:25] schicks commented on #11296
Just read through the linked issue thread. It seems to me that making the root ID configurable but leaving `#root` as the default would solve my problem and those problems, and also avoid a breaking change / headaches for existing integrations.

[2020-06-25 11:28] shilman commented on #11296
Can you use a decorator to set up the context? Possibly in combination with preview-head.html?

[2020-06-25 11:33] shilman commented on #11291
main.ts is handled by node. So it requires module generation that’s compatible with the version of node you’re using. If your Node is handling ESNext modules then your setting will work. Maybe there’s some kind of transformation we can do when we load the file so we can get away with more modern module formats. Cc @igor-dv

[2020-06-25 11:35] schicks commented on #11296
I can try a decorator, though it isn't my ideal solution. I reached for preview body because I wanted to be able to have the root of the document be built there, which (as the other issue mentioned) is implied in the current documentation. If I can't change the root then I don't think preview body helps me. I'll get back to you after I try the decorator though.

[2020-06-25 12:15] Claudia-Sardinha-Bose opened #11310 "Bump vue-docgen-api version (4.25.0)"
**Is your feature request related to a problem? Please describe.**
vue-docgen-api version in use (4.7.0) lacks some interesting features that were already developed ([changelog](https://github.com/vue-styleguidist/vue-styleguidist/blob/dev/packages/vue-docgen-api/CHANGELOG.md)).

**Describe the solution you'd like**
Bump version to the latest one (4.25.0).

**Are you able to assist bring the featu

[2020-06-25 12:20] #11310 closed

[2020-06-25 12:24] christofflueck opened #11311 "Docs don't render PropTypes arrays of primitives in shapes correctly"
**Describe the bug**
When using an array of strings or numbers as a property in a shape the docs render it as "unknown[]"

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Component with the following code:
[code]

2. Create a Story with the following content:
[code]

**Expected behavior**
The prop should get rendered as "object[]" and the drop down should display
`{ not_working: stri

[2020-06-25 12:36] fernandopasik commented on #11291
Yes, sorry, I didn't specify, I'm using node 14.2.0 and type: "module" in package.json

[2020-06-25 12:54] schicks commented on #11296
The decorator approach didn't work. I'm not completely sure, but my suspicion is that the iframe gets reused between stories, and the framing component is not really designed to be unloaded and reloaded repeatedly. This wouldn't be a problem with the preview-body approach (with a custom root) because it appears from the incomplete dom solution that I initially posted that the preview-body content

[2020-06-25 12:55] bard opened #11312 "Regression in babel transpilation"
Same as #11045, which was closed as fixed. I re-tested under `beta.36`, same issue is present.

**Describe the bug**

The following transpiled fine in 5.x:

[code]

It no longer transpiles correctly with Storybook 6:

[code]

**To reproduce:**

- clone the minimal repro https://github.com/bard/storybook-6-babel-regression
- run `yarn && yarn storybook`
- storybook opens
- notice the absence of the

[2020-06-25 13:03] alexbchr commented on #11199
Using `subcomponents: { 'Accordion.Item': Accordion.Item }` worked perfectly for me with my setup.

However, when using stories with args, the `subcomponents` property seems to be completely ignored. If I remove the args from the story, subcomponents prop tables are displayed correctly.

[2020-06-25 13:49] chrisj-skinner commented on #10992
Also found that the following approach makes it possible to declare in `preview.js` only and not in every story.

preview.js
[code]

Then in every story - given that you have a `demo.component.spec.ts`

[code]

It seams the recommended approach mentioned in the angular section of the docs [here](https://github.com/storybookjs/storybook/tree/next/addons/jest#usage-with-angular) is not needed / inco

[2020-06-25 13:57] chrisj-skinner commented on #10992
@shilman PR created: https://github.com/storybookjs/storybook/pull/11313

[2020-06-25 14:05] fernandopasik commented on #11291
Actually I was using `export default` and it was working fine until I added `@storybook/addon-docs`

I see a few constrains in the package requirements adding old versions of babel, but I haven't pinpointed the one that's causing the problem

[2020-06-25 14:08] chrisj-skinner commented on #11250
@shilman
I found by upgraded every plugin except storyshots (where we kept at beta-27) as well as configuring jest.config.ts `jest-present-angular` like so, worked.

[code]
Current working package.json file

[code]

[2020-06-25 14:11] shilman commented on #11291
That's pretty strange that addon-docs would change that. Does the default export work if you remove addon-docs temporarily?

[2020-06-25 14:41] fernandopasik commented on #11291
Yes, it does. I know it's strange.

[2020-06-25 14:47] ozee31 opened #11314 "No config file for hostname"
**Describe the bug**
When I start Storybook with docker i have an error :

`No config file for hostname :`

It's work directly without docker http://localhost:6006/.

**To Reproduce**

- docker-compose.yml

[code]

- Dockerfile

[code]

- package.json

[code]

- .storybook/addons.js

[code]

- .storybook/config.js

[code]

- .storybook/webpack.config.js

[code]

**System:**
Storybook version : "@s

[2020-06-25 14:58] fernandopasik commented on #11291
Narrowing down it a bit the adding of `vue-docgen-loader` produces the error

[2020-06-25 15:00] psimk opened #11315 "The `@storybook/addon-knobs` addon package, contains `@types/react-color` as a dependency."
**Describe the bug**
The `@storybook/addon-knobs` addon package, contains `@types/react-color` as a dependency.

Disregarding the fact that JS users will see no benefit from this additional dependency. I encountered a TS error due to it's inclusion. The dependency creates a conflict between  `@types/react-color`'s `@types/react` and the `@types/react` of my project. I am assuming that TypeScript h

[2020-06-25 15:14] fernandopasik commented on #11291
Digging deeper into the rabbit hole `vue-docgen-loader` installs  `jscodeshift` which installs `@babel/register` and the last one produces the error

[2020-06-25 15:36] fernandopasik commented on #11291
Not sure if possible to try out https://github.com/vue-styleguidist/vue-styleguidist/tree/dev/packages/vue-simple-docgen-loader looks more official than vue-docgen-loader

[2020-06-25 16:02] abhijit945 commented on #11258
Nevermind, I found a solution to this for now.
I used a mutation observer and added it to `preview-body.html`

[code]

[2020-06-25 16:02] #11258 closed

[2020-06-25 16:34] Tri101 commented on #11244
Same. While putting together me repro I discovered that my issue was related to my use of decorators as well.

Seems that the props are being ignored by the decorators.  I'm using both a global decorator to apply theming to all my stories, as well as templateDecorators defined at the story level (for certain stories).  I'm looking into a way to have addon-docs consume a decorated component, and st

[2020-06-25 16:41] tommyc38 commented on #10952
Too was wondering about this.  I think it was be particularly helpful for documenting Angular services within Storybook.

[2020-06-25 16:44] tommyc38 commented on #10863
@kroeder , could this be why I am experiencing angular issues given I am using Angular 9?  I opened #11309  to address this.

[2020-06-25 16:47] xxvii27 commented on #11261
hmm weird, anyway thanks for the replies, closing this

[2020-06-25 16:47] #11261 closed

[2020-06-25 17:52] kevinhaas opened #11316 "Webpack config customized via main.js should print a more accurate message"
**Is your feature request related to a problem? Please describe.**
When I customize my webpack config via main.js in 5.3.19, it will still log `Using default Webpack setup` on the command line.

**Describe the solution you'd like**
It should say it's using a customized webpack config. It already does this if you provide a webpack config file in the main storybook directory. It prints the message `

[2020-06-25 17:53] 7rulnik commented on #9216
I will take it. Let's see how difficult it will be :)

[2020-06-25 20:26] antoniosZ opened #11318 "outdated react-textarea-autosize dep. causes Error: Invalid hook call."
**Describe the bug**
Please note this bug is for the **next/v6**
[code]

a web components typescript project, with args + controls for a text type and default text value throws
`Error: Invalid hook call. Hooks can only be called inside of the body of a function component.`
as described here
https://github.com/Andarist/react-textarea-autosize/issues/273

I was able to "fix" this by forcing storyboo

[2020-06-25 20:31] chrislopresto commented on #11308
Got my Storybook dev environment up (thanks @ndelangen!) and verified that this problem is _NOT_ with Storybook. Closing this issue. Thanks for the help.

[2020-06-25 20:31] #11308 closed

[2020-06-25 20:51] nickdandakis commented on #10142
Just pulled this off with a [custom Storybook Webpack config](https://storybook.js.org/docs/configurations/custom-webpack-config/), and a [Webpack alias](https://webpack.js.org/configuration/resolve/#resolvealias).

Example `.storybook/main.js`:
[code]

Example `.storybook/mockNext/link.js`:
[code]

I'm mocking Next's `Link` component here, but you should be able to mock any import with this patte

[2020-06-25 20:58] sethburtonhall commented on #9996
I am having the same issue when migrating from version 5.3.x to 6.0.x via https://github.com/storybookjs/storybook/issues/9311

[2020-06-25 21:05] RyannosaurusRex commented on #10204
Same issue with a small, non-CRA react app and latest Storybook (5.3.19). Removing `@storybook/addon-viewport` fixes the issue.

[2020-06-25 21:45] Steven-Harris commented on #10952
#11016

[2020-06-26 00:17] shilman commented on #11291
Related: https://github.com/storybookjs/storybook/issues/8936

[2020-06-26 00:25] shilman commented on #9216
@7rulnik awesome!!! i think @ndelangen has also started looking at this

[2020-06-26 00:25] shilman commented on #11316
Would love a fix for this @kevinhaas 💯

[2020-06-26 01:18] rickyPanzer commented on #8428
I have arrow functions in my class component. I just updated to the most recent beta, and it's working locally now! I've got no babel.config.js

[2020-06-26 02:16] shilman commented on #11315
@gaetanmaisse @ndelangen can somebody summarize why we chose to include these things as dependencies rather than devDependencies?

[2020-06-26 02:20] shilman commented on #11250
@Hypnosphi @SimenB @adover any help here?

[2020-06-26 02:20] chrislopresto commented on #11308
@tmeasday Turns out the problem was somehow caused by resolving multiple react|react-dom versions.

**Before - Story loading broken**

[code]

**After - Story loading fixed**

_package.json_

[code]

[code]

[2020-06-26 02:23] shilman commented on #11199
@alexbchr will fix in https://github.com/storybookjs/storybook/issues/10958

[2020-06-26 02:24] shilman commented on #11312
@bard you need to upgrade to @storybook/preset-create-app@3.0.1 or greater

[2020-06-26 02:27] shilman commented on #11296
@schicks Ok, I'd like to see who else has this problem--this is the first time we've received this request after tens of thousands of projects using Storybook. Adding a configurable root is easy from a code standpoint, but would be a maintenance nightmare, so I don't think it's going to happen.

[2020-06-26 02:34] tmeasday commented on #11308
Uggh, thanks yarn!

[2020-06-26 03:25] shilman commented on #10008
- [ ] Deprecate this & add to MIGRATION.md

[2020-06-26 04:18] jrr commented on #10190
5.3.19 fixed it for me, too.

[2020-06-26 04:35] tmeasday opened #11321 "Add version=$VERSION for package composition"
When loading a composed Storybook based on a `package.json:storybook.url`, append a `version=${package.json:version}` query parameter.

(This currently won't do anything but it would be good to get it in before the RC in case it causes problems. I don't think it will, but you never know!)

[2020-06-26 05:56] shilman commented on #10008
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.37 containing PR #11322 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-06-26 05:56] shilman commented on #11318
Gadzooks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.37 containing PR #11319 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-06-26 05:56] #10008 closed

[2020-06-26 05:56] #11318 closed

[2020-06-26 06:14] #10156 closed

[2020-06-26 06:14] #10593 closed

[2020-06-26 06:59] gaetanmaisse commented on #11315
These types are used (only a few of them) to type parameter of the `handleChange` function in [Color.tsx](https://github.com/storybookjs/storybook/blob/master/addons/knobs/src/components/types/Color.tsx#L106). When TypeScript is transpiled and declaration files emitted, we end up with `Color.d.ts` containing:

[code]

So types from `@storybook/addon-knob` are depending on the one from `@types/reac

[2020-06-26 08:08] ndelangen commented on #9216
I did a pair programming session last week with @ScriptedAlchemy

We did a bunch of the work to upgrade to webpack 5, but we didn't quite finish.
Here's our WIP branch: `origin/tech/webpack5`

[2020-06-26 08:38] RobbertWolfs commented on #8840
No never figured this out... Still waiting of this is possible..

[2020-06-26 09:34] 7rulnik commented on #9216
Could you open WIP pr so we can track progress?

[2020-06-26 09:46] dnasir opened #11325 "Warning: Failed prop type: Invalid prop `knob.value` of type `number` supplied to `RadiosType`, expected `string`."
**Describe the bug**
When using the radios addon knob with type `number` as the values, the following error is displayed in the browser console.

[code]

Additionally, the radio buttons stop displaying the selected state, albeit still registering the state changes.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new story.
2. Add a `radios` knob with the following options.
[code]
3.

[2020-06-26 09:57] ndelangen commented on #9216
Certainly:
https://github.com/storybookjs/storybook/pull/11326

[2020-06-26 10:16] vnues commented on #6998
Any updates about this? 🤔

[2020-06-26 10:41] alexbchr commented on #11199
Oh nice searched for this issue and found this one instead! Thanks for the info!

[2020-06-26 11:05] schicks commented on #11296
That's too bad. What makes it so much harder to maintain than the method in #10638?

[2020-06-26 12:18] TomPradat opened #11328 "Addon-docs : Wrap the story blocks in iframes"
**Is your feature request related to a problem? Please describe.**
I have a react component that creates a modal in the body.

This opens the modal on most of the page instead of just the story block.

**Describe the solution you'd like**
I'd expect the modal to open only in the corresponding block.

**Describe alternatives you've considered**
I don't see any alternative solution right now. I gues

[2020-06-26 13:10] PLQin commented on #10477
我也遇到了这个问题 ， 仅仅删除 node_modules 没有用， 还得删除 package-lock.json 文件才行

[2020-06-26 15:12] AGrabovajFitA commented on #8544
Here is a solution to this problem: https://stackoverflow.com/questions/13333683/javascript-customevent-detail-not-getting-passed

[2020-06-26 15:12] EdenTurgeman commented on #11071
@shilman First of all, thank you for the quick answer, secondly After a lot of battling with our yarn/babel/webpack configuration I've managed to somewhat resolve my issues (which were related to our monorepo configuration and hoisting issues with the storybook and react packages)

1. @ndelangen The scrollbar issue was weirdly fixed after updating to beta.37
2. @shilman after upgrading to beta.37

[2020-06-26 15:13] AGrabovajFitA commented on #8375
Here is a solution to this problem: https://stackoverflow.com/questions/13333683/javascript-customevent-detail-not-getting-passed

[2020-06-26 15:45] sami616 commented on #11019
@shilman This issue seemed to have been fixed in the above release, however i;ve just upgraded to .37 and it seems to have been a regression?

[2020-06-26 16:03] mushinz commented on #8531
This was a life saving

[2020-06-26 16:08] RobertWHurst commented on #11246
@shamin This is more of a bug than a question isn't it? It indicates module resolution is broken (resolving from the wrong path) for preview.

[2020-06-26 16:23] bastiRe commented on #3286
We had the same problem and fixed it for us by separating our storyshots by folder into different testsuites. We accomplished this by creating separate Storyshot files and using the `storyKindRegex` to only snapshot a specific subset of stories in each file.

[2020-06-26 16:38] piemasters commented on #9751
@shilman I don't think controls currently supports a list of objects as a select type. Whenever I've tried it only displays one option listed as `[object Object]`. Eg setup:

[code]

I could be wrong but I think knobs added support for this earlier in the year, although it could have been only in the 6.0-beta.

[2020-06-26 17:11] shilman commented on #9751
@piemasters controls does not support an array of objects. You can pass it an object whose keys are the labels and whose values are the corresponding data (in any form). Or an array of strings.

[2020-06-26 17:29] piemasters commented on #9751
@shamin yup that's how I'm doing it. I've found it's generally better practice to pass primitives rather than objects where possible when creating reusable components and using controls has helped me stick with that.

I just thought i'd note that because of that using controls over knobs doesn't really help the original problem, although I still recommend switching over because controls is much ni

[2020-06-26 17:59] jayarjo commented on #1833
How to make this work?

[2020-06-26 18:31] jayarjo opened #11329 "Failed to load preset - ERR! Error - @storybook/addon-docs/preset.js is not a valid preset"
**Describe the bug**

Getting the following error when I include `@storybook/addon-docs`:

[code]

My `main.js` looks like this:

[code]

**System:**

[code]

[2020-06-26 19:32] bfitch commented on #11274
1. `yarn global add ember-cli@3.15.2`

2. `~/.config/yarn/global/node_modules/ember-cli/bin/ember -v`
[code]

3. `~/.config/yarn/global/node_modules/ember-cli/bin/ember new storybook-test --yarn`

4. `cd storybook-test`

5. `npx -p @storybook/cli sb init`

6. `ember install @storybook/ember-cli-storybook`

7. `ember s`

8. In another terminal window: `npx start-storybook -p 6006 -s dist`

Loaded t

[2020-06-26 21:41] dankellett opened #11331 "Hot Module Loader (HMR) Timeout with Storybook/Angular"
**Describe the bug**
Storybook does not auto refresh when watched files are changed. The following console error results when a watched file is changed:
unhandled Promise rejection: Manifest request to xxxxxx.hot-update.json timed out.

**To Reproduce**
Steps to reproduce the behavior:
run storybook and changed watched file.

**Expected behavior**
Browser updates and displays reflected change.

**

[2020-06-27 03:41] shilman commented on #11329
@jayarjo you can't use `addon-docs@6.0` with 5.3 packages. all your `@storybook/*` packages should be on the same version (except `preset-create-react-app`, which is a bit confusing cc @mrmckeb @ndelangen )

[2020-06-27 03:41] #11329 closed

[2020-06-27 03:45] shilman commented on #9751
@piemasters yeah. I posted that notice to all open `addon-knobs` issues regardless of whether controls solves the problem, and will continue to do so. I want everybody who uses knobs to knob about controls and upgrade as soon as it's convenient. The sooner people upgrade, the sooner we can deprecate knobs, which doesn't have any maintainers.

[2020-06-27 03:47] shilman commented on #11246
@RobertWHurst Half the "bugs" that get filed are actually user configuration issues, so I mark everything as a question until somebody has a chance to look at it.

[2020-06-27 03:51] shilman commented on #11019
In the meantime we upgraded to `react-docgen-typescript-plugin` which fixed a lot of these issues, but possibly regressed in a few cases too.

For what it's worth, the examples [I linked to above](https://github.com/storybookjs/storybook/issues/11019#issuecomment-638535204) seem to still be working fine in the latest beta.

cc @hipstersmoothie

[2020-06-27 03:53] hipstersmoothie commented on #11019
Is there a specific example that shows the regression?

[2020-06-27 03:53] shilman commented on #11071
@EdenTurgeman do you have a public repro I can look at?

[2020-06-27 03:59] shilman commented on #11328
You can already force `addon-docs` to render your stories in iframes https://github.com/storybookjs/storybook/blob/next/addons/docs/react/README.md#inline-stories

You can also configure this globally, on a component level, or on individual stories using story parameters.

Rendering multiple iframes on the page can have performance issues which is why we avoid it as the default for all frameworks

[2020-06-27 04:01] shilman commented on #11296
@schicks every time you make something configurable, you have to read the configuration value in every place that it's used, including third party tools (of which there are many) that rely on the page structure.

[2020-06-27 04:03] shilman commented on #11315
FYI, we’ve released addon-controls in 6.0-beta. Controls are portable, auto-generated knobs that are intended to replace addon-knobs long term.

- [Controls README](https://github.com/storybookjs/storybook/tree/next/addons/controls)
- [Migration instructions](https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#how-do-i-migrate-from-addon-knobs)
- [Walkthrough: Controls w/

[2020-06-27 04:03] shilman commented on #11325
FYI, we’ve released addon-controls in 6.0-beta. Controls are portable, auto-generated knobs that are intended to replace addon-knobs long term.

- [Controls README](https://github.com/storybookjs/storybook/tree/next/addons/controls)
- [Migration instructions](https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#how-do-i-migrate-from-addon-knobs)
- [Walkthrough: Controls w/

[2020-06-27 04:53] Jessica-Koch commented on #10629
I am also experiencing this when I upgrade from the beta-23 to next.  I will try the simplified glob syntax.  I’m also on windows and edge canary.

[2020-06-27 06:40] costalvaro commented on #8153
This is definitely something I'd like to see happen!
iFrames are a blocker for anyone wanting to adopt addon-docs while having an Angular app.

@shilman I'm interested to take it so that it goes forward (or even if it's not forward, at least it'll move 😄 )

Since it'd be my first contribution, I'd definitely enjoy having someone to help there. 👍

[2020-06-27 08:07] jayarjo commented on #11329
@shilman maybe you should put an explicit note about that in the readme, 'cause it recommends `yarn add -D @storybook/addon-docs`, without any warning.

[2020-06-27 11:37] ccpu opened #11335 "api.getCurrentStoryData return invalid FileName"
**Describe the bug**

Assuming that all of the stories are in a folder named `stories` under the root of the application; using `../stories/*.stories.[tj]sx` matcher in `main.js` will cause storybook to ignore the folder name and return the file path like `./first.stories.tsx` but it should be `./stories/first.stories.tsx`. this happens when having a path in the matcher, so `../**/*.stories.[tj]sx

[2020-06-27 12:11] schicks commented on #11296
Alright. It does seem worth changing [these](https://storybook.js.org/docs/configurations/add-custom-body/) docs then. At the moment they are somewhat misleading.

[2020-06-27 13:13] shilman commented on #8153
@costalvaro thanks so much for taking this on! 💯

i'd be happy to help you out with the `addon-docs` integration. i suspect the trickier part will be on the angular side. hopefully @kroeder @matheo @gaetanmaisse and the rest of the #angular channel on Storybook's Discord can help you out with that.

[2020-06-27 13:21] shilman commented on #11296
@schicks good call on the documentation -- WDYT about this fix?

https://github.com/storybookjs/storybook/pull/11337

[2020-06-27 16:13] greggunner opened #11338 "docs not processing jsdocs in non-SFC component"
**Describe the bug**
When creating a vanilla render based component (Component.js) instead of a Component.vue, the JSDocs are not being processed by the docs addon.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a default project for vue with the docs addon
2. Create a javascript file for your component and add basic JSDoc documentation
3. Create a default story for your component
4.

[2020-06-27 17:20] TeoTN commented on #6505
Were there any changes applied to Storybook that would resolve that problem?

[2020-06-27 20:01] greggunner commented on #11338
OK, it appears I was able to resolve this by changing the webpack config and adding in a rule based on the documentation from [https://github.com/pocka/vue-docgen-loader](https://github.com/pocka/vue-docgen-loader).

My main.js now looks like:

[code]

Will close this issue.

[2020-06-27 20:01] #11338 closed

[2020-06-27 20:25] nirus commented on #11052
@CregskiN  Good.

### Finally solved
I wrote a blog **solving the issue.** You can checkout [here](https://coder.rocks/javascript/storybook-js-custom-webpack-setup-for-scss-sass/).

_Hope this helps someone struggling out there._

[2020-06-27 23:09] stephtr commented on #10543
In case anyone is looking for a quick, DIRTY & temporary fix, I added the following to `.storybook/preview.js`. However, be warned, that this is probably unstable and definitely unsupported, since it is overriding a part of React. I just used it for a few quick tests.
[code]

[2020-06-28 03:47] jiulingxiaoxin commented on #11272
I have the same problem. My components project was set up by using vue.js and echarts. I use objects and arrays as the props usually. But it's invalid when I set the props as object type.

[2020-06-28 10:53] PhilippeMorier commented on #10863
I was preparing my app from Angular `v9.1` to `v10` following the [update guide](https://update.angular.io/#9.1:10.0l2) and therefore removed the `entryComponents`. This caused the described issue. Thanks to @chriscarpenter12 I simple changed in the `package.json` the `postinstall` from
 `"postinstall": "ngcc --properties es2015 browser module main --first-only"`
to
 `"postinstall": "ngcc"`

Then

[2020-06-28 12:54] peterp commented on #1637
`config.js` doesn't seem to be documented.

[2020-06-28 17:24] niedzielski commented on #4853
@ndelangen, sorry to resurface an old issue. I am also seeing this in a Vue-only project. What should the conditional be? Maybe:

[code]

[2020-06-28 18:27] Jessica-Koch commented on #10629
So, I don't know if anyone stumbles on this, I upgraded from the beta-23 version to the beta-37, my current setup uses typescript and so i configured the main file within the `.storybook/` directory to use the .ts extension.  This didn't throw any errors, but storybook couldn't find my stories, I switched that file to be `main.js` instead and everything worked.

[2020-06-28 19:11] Horsty80 commented on #9205
Hi all, i've a similar issue, and i didn't know how to fix it ?
Any suggestion ?

//main.js
[code]

[code]

[code]
[code]

[2020-06-28 19:41] jonniebigodes commented on #11274
Sorry for the radio silence on this issue. I've been checking it on and off and compared it to my notes.
Issuing `ember -v` ( as i have already installed the cli when i started working on the documentation) yelds the following:

[code]

When i started the work on this i saw this exact same error. And i might be completely off base here, but when the user issues `npm run storybook-dev ` which conta

[2020-06-28 20:33] ddoria921 commented on #11274
Interesting.. thanks for the explanation! It also explains why I never ran into the issue myself. My process has always been to start the ember server `ember s` and then run the storybook command `npx start-storybook -p 6006 -s dist` once I saw the ember server was up and running.

[2020-06-29 00:18] astrotim commented on #10347
Keeping this issue alive as I’m still hoping for a solution to be found.

[2020-06-29 01:11] tmeasday commented on #1637
@peterp it is now `.storybook/preview.js`

[2020-06-29 01:42] shilman commented on #9205
We've overhauled props handling in 6.0, can somebody who's having this issue try upgrading and LMK if you're still having the issue? https://github.com/storybookjs/storybook/issues/9311

[2020-06-29 03:00] brandonpittman opened #11343 "addon-controls text input cannot handle Japanese (most likely all CJK text)"
**Describe the bug**
addon-controls' text-input doesn't handle Japanese typing events. Most likely caused by listening to oninput instead of onchange. Pasted Japanese text displays normally.

**To Reproduce**
1. Create a control that has a text input
2. Try typing Japanese directly into input (ex. 編集）
3. See garbled string

**Expected behavior**
Input contains string "編集". Copying and pasting this

[2020-06-29 07:56] Horsty80 commented on #9205
Hi @shilman , i've update to v6
[code]

But props it's steel not working and don't appear in docs tab.
=/

[2020-06-29 08:01] gerdy commented on #11255
I have the same problem.
I set a breakpoint on the webpackFinal method, but it did not trigger.
I suspect that the change here caused this problem, which was good before 6.0.0 beta14.

[2020-06-29 10:08] bard commented on #11312
Sorry @shilman, I had missed that bit.

The code base where I encountered the problem does not use create-react-app (the minimal repro did so just for ease of reproducing). Unfortunately, using @storybook/preset-create-react-app in this code base causes a cascade of parsing errors.

With the regression being just about TypeScript transpilation, wouldn't this be more properly addressed outside of a

[2020-06-29 11:58] diegovincent commented on #7708
Could we reopen this?

[2020-06-29 12:08] shilman commented on #9205
@Horsty80 do you have a public repro i can look at?

[2020-06-29 12:10] Horsty80 commented on #9205
Yes sure normally it's public, let me know if it's not
[https://gitlab.com/Horsty/horsty-components](https://gitlab.com/Horsty/horsty-components)

[2020-06-29 12:19] shilman commented on #11343
ありがとうございました. can confirm the issue in controls (and also that it's not an issue in addon-knobs, so hopefully it shouldn't be too hard to track down). thanks!

[2020-06-29 12:22] Horsty80 commented on #9205
Hum my build on netlify doesn't work anymore....

2:19:47 PM: │ 1. Build command from settings │
2:19:47 PM: └────────────────────────────────┘
2:19:47 PM: ​
2:19:47 PM: $ npm run build-storybook
2:19:47 PM: > horsty-components@0.1.0 build-storybook /opt/build/repo
2:19:47 PM: > build-storybook -s public
2:19:48 PM: info @storybook/react v6.0.0-beta.37
2:19:48 PM: info
2:19:48 PM: info clean outpu

[2020-06-29 12:56] brandonpittman commented on #11343
@shilman Thank!. I work for a Japanese company and I'm starting the Storybook adoption process here and not being able to use Japanese in the controls addon would be a huge bummer.

[2020-06-29 13:03] jayarjo commented on #9301
@connor-baer @angelolucas `storybook-dark-mode` doesn't affect `@storybook/addon-docs` in any way. The rest toggles dark/light as expected I guess.

[2020-06-29 13:08] shilman commented on #11343
@brandonpittman i've lived in japan, korea, and current in taiwan so i'm a bit embarrassed about this one. we won't ship with this bug, tho it turns out that it's not as easy as i'd hoped to track down.

both controls (new, broke code) and knobs (old, working code) effectively have the same logic:

[code]

in both cases, it is a "controlled component" where the value is passed in and the onChange

[2020-06-29 13:38] marina-mosti opened #11348 "Unable to set window variables"
**Describe the bug**
Within storybook I am unable to set a window variable.

We have i18n data that is set on a `window.i18n` variable. Storybook seems to prevent setting window variables, or overrides them. The documentation doesn't really specify at which point this could be/should be done.

**To Reproduce**
Steps to reproduce the behavior:
1. Set `window.test = 'hi'` in `preview.js` or in a scr

[2020-06-29 13:48] ManuelPortero commented on #8541
Hi ! Can I work on this issue ? Is anybody work on this ?

[2020-06-29 13:48] ricardoaguiar commented on #10933
I have the same issue.

[2020-06-29 14:21] brandonpittman commented on #11343
@shilman 9/10 of these sorts of issues are the events catching changes in the middle of character conversion. I’m interested to know what state management issue would be causing something so similar. Will keep following.

[2020-06-29 15:30] jayarjo commented on #10976
@matheo how do you disable control for a given arg? Lets I don't want to have control auto-generated for the Function type.

[2020-06-29 15:52] jayarjo opened #11349 "@storybook/addon-controls: argTypes in MDX"
How does one provide `argTypes` for a given component story in MDX file, with `@storybook/addon-controls`?

[code]

[2020-06-29 18:05] matheo commented on #10976
@jayarjo right now I don't see a way to remove rows

@shilman maybe do you know if this is possible?
or a new `hidden` property to be filtered by?

[2020-06-29 18:23] vajdagabor commented on #9516
I am having a similar issue after copying over my components into a new project and installing a fresh StoryBook. The SB version in **both projects** is 5.3.19. One works perfectly with the same components and structure, and the other is failing with `Element type is invalid` error, only in StoryBook (the app is fine).

The way I import the modules is very similar to what @chrisdunnbirch described

[2020-06-29 18:27] oussama-he opened #11353 "Get error when run yarn storybook command"
I started to learn storybook vue version. I followed the steps in this [page](https://www.learnstorybook.com/intro-to-storybook/vue/en/get-started/).
But when I run the `yarn storybook`command  I get this error:

[code]
Any help, please?
Thank you in advance.

[2020-06-29 18:43] jayarjo commented on #10976
@matheo not that I want to remove the row - just to hide the control fir the given arg row.

[2020-06-29 19:04] matheo commented on #10976
@jayarjo you can try:
[code]

[2020-06-29 20:17] ginaperez-kubra opened #11355 "Migration from addon-info to addon-docs"
**Describe the bug**
I haven't found documentation on how to migrate from addon-info to addon-docs without using MDX. Right now, I have a `config.js` file using `withInfo` and `infoAddon` from addon-info. Are there equivalent functions to use with addon-docs? Or is there a different way to write this with addon-docs?

My full code snippet is below.

**Code snippets**
[code]

[2020-06-29 20:32] jayarjo commented on #10976
@matheo talking about `argTypes` - can't find a way to reference them in `MDX`, is there one?

[2020-06-29 21:04] matheo commented on #10976
I found this one:
[code]
in [this PR](https://github.com/storybookjs/storybook/pull/10258)

[2020-06-29 21:07] atan4 opened #11356 "isChromatic error when building Storybook"
**Describe the bug**
I receive an error when building storybook `npm run storybook` even though I certainly do not have `isChromatic` installed in any capacity in my app. The same thing started happening to my coworkers as well. The error only goes away when i go to `node_modules/@storybook/ui/dist/components/layouts/layouts.stories.js` and comment out the two lines related to `isChromatic`.

**To

[2020-06-29 21:29] kmarple1 opened #11358 "[addon-docs] Newlines not rendered in markdown code blocks in prop comments"
**Describe the bug**
When adding code blocks to a docblock in markdown format, they appear in Storybook as a single line instead of properly formatted.

**To Reproduce**
Add the following comment to a propType declaration:
[code]

**Expected behavior**
It should appear in Storybook as follows:
[code]

**Actual Behavior**
It appears as:
[code]

**System:**
[code]

[2020-06-29 21:31] kmarple1 commented on #11358
Edited this slightly as it appears this only applies to prop comments. If the comment is applied to a class, it gets formatted correctly.

[2020-06-29 21:57] elie222 opened #11359 "Addon order not respected"
**Describe the bug**

The order of the addons I've added do not appear in the expected order.

[code]

![image](https://user-images.githubusercontent.com/3090527/86059782-1e8cce00-ba6c-11ea-8ef5-e91ab84b3bac.png)

**To Reproduce**

Use this for `main.js`:

[code]

**Expected behavior**
Storysource should be the last tab. Instead it's the first.

**Screenshots**
![image](https://user-images.githubu

[2020-06-30 00:10] shilman commented on #11359
closing as dupe to #9819, fixed in 6.0

[2020-06-30 00:10] #11359 closed

[2020-06-30 00:15] shilman commented on #11356
This looks like a configuration issue. I'd guess your storybook is configured to load stories from `node_modules` and is loading Storybook's own stories, which use Chromatic. Can you make your `stories` glob in `main.js` more specific?

[2020-06-30 00:22] shilman commented on #11355
When you install addon-docs, it automatically installs a [DocsPage](https://medium.com/storybookjs/storybook-docspage-e185bc3622bf) which is the zero-config replacement for `addon-info`. Is that showing up for you?

[2020-06-30 00:23] shilman commented on #11353
Please file an issue here: https://github.com/chromaui/learnstorybook.com/

[2020-06-30 00:32] shilman commented on #11348
I"d expect that to work. We're using `window` in `.storybook/preview.js` here:

https://github.com/storybookjs/storybook/blob/next/examples/angular-cli/.storybook/preview.ts#L9

which calls

https://github.com/storybookjs/storybook/blob/next/addons/docs/src/frameworks/angular/compodoc.ts#L22-L25

[2020-06-30 00:53] ginaperez-kubra commented on #11355
@shilman It is not showing up. I installed addon-docs and when I started it up, it just showed the loading screen with this error in the console `Warning: Failed prop type: Invalid prop `type` of type `symbol` supplied to `TableComponent`, expected `function`.`

The only way it would compile is if I commented out all the code above from `setAddon(infoAddon)` to `addDecorator(witha11y);` and everyt

[2020-06-30 01:04] shilman commented on #11355
First time I've heard about that error. Try removing that config file and creating the following two files:

[code]

[code]

[2020-06-30 01:52] tmeasday commented on #11343
@shilman where in the stack does it go from being "correct" to "broken"? Are the events on the channel correct or incorrect (and compared to knobs)/

[2020-06-30 02:01] brandonpittman opened #11361 "[addon-controls] Setting argTypes with properties other than `control` causes the control to be become unresponsive."
**Describe the bug**
In order to set control panel extras like label, description, and default, I set argTypes on the default export. Doing to causes the already responsive control input to no longer respond to keyboard inputs.

**To Reproduce**
Steps to reproduce the behavior:
1. Add `argTypes` key to `export default` with any property other than `control: ".."`
2. See control input that was work

[2020-06-30 05:16] jayarjo commented on #10976
@matheo wow, it works! Not sure how 'cause I was looking for it in type definition of the `Meta` and it definitely wasn't there. But huge thanks to you personally for the hint!

[2020-06-30 06:18] jayarjo opened #11362 "addon-docs: a way to override width of name column in props table"
30% for the name of the prop, especially when `addon-controls` is enabled is a bit too much:

![Screen Shot 2020-06-30 at 10 15 07 AM](https://user-images.githubusercontent.com/150075/86090133-997cd580-baba-11ea-8930-ca59ac792a00.png)

20% would have been perfect fit. Is there a way to override this somehow?

[2020-06-30 08:02] Bruno-Tavares-Bose commented on #10962
Any news on this one?

[2020-06-30 08:54] ndelangen commented on #11343
- If we make it an uncontrolled input, the characters combine properly
- the event send TO the preview already contains the incorrect string
- if we start using the value from useState the issue starts

[2020-06-30 09:05] ndelangen commented on #4853
@niedzielski the correct story contains a parameter called `framework` But I assume that's not going to be available in time.

I propose we add `__STORYBOOK_FRAMEWORK` as a global here:
https://github.com/storybookjs/storybook/blob/0e21344abe80610c11ecd0aa5f6ddd26b5415a01/lib/core/src/server/manager/manager-webpack.config.js#L87

That way your conditional would be really simple.

[2020-06-30 10:22] jayarjo opened #11363 "[addon-docs] prop descriptions not extracted for default exports"
I noticed that docgen is not able to extract any prop descriptions for default exports, why is that? Where this limitation comes from? It is a huge shortcoming for any containers (which I think constitute majority of components in any react app), since they are usually exported as defaults.

Should we export them separately from the module, or what's the recommended approach to deal with that?

[c

[2020-06-30 10:49] TomPradat commented on #11363
I noticed a similar problem but only with my components wrapped in functions :

This one works fine :

[code]

But the following fails to display props :

[code]

[2020-06-30 12:27] TomPradat commented on #11328
Alright, I completely missed this option. Thanks 👍

[2020-06-30 12:27] #11328 closed

[2020-06-30 13:06] aerlinn13 commented on #798
Well, I suppose it has to return Date object because it's called date, right? It's very easy to retrieve epoch timestamp from Date object via default getTime method, but if you want to convert epoch time in ms into Date, it would not be that easy. Current implementation is misleading and inconsistent.

[2020-06-30 13:16] shilman commented on #11362
@domyen can you take a look at this one? i think you might've modified this in the latest round of styling updates

[2020-06-30 13:42] ndelangen commented on #9773
AFAIK this has been fixed, I remember there being a bug on the fix, that has also been fixed (with absolute paths being joined too)

I think this issue can be closed. Would anyone be able to check if this is correct?

[2020-06-30 15:04] bfitch commented on #11274
Thanks for following up @jonniebigodes 🙏.

I'm still suck with the error I reported here: https://github.com/storybookjs/ember-cli-storybook/issues/42.

I think my issue is a little different than the race condition you had, as I'm not able to even get past running `ember s`.

Can you help me understand what the ember-cli-storybook generator is dong with `.storybook/preview-head.html`? I believe `

[2020-06-30 15:31] Tri101 commented on #11244
Link to the repro: https://github.com/Tri101/11244-addon-docs-decorators-issue

[2020-06-30 16:09] dietergeerts opened #11366 "Why is react stated as peerDependency when using @storybook/vue?"
I'm using the latest beta version right now (37), and use rush + pnpm for our mono-repo. I can't find in the docs what the reason is that react is stated as peerDependency for @storybook/vue, and some plugins, while react is only used internally by Storybook. An explanation would be great, as right now, I change them to normal dependency in `pnpmfile`, and all still works.

As a side-note: I know

[2020-06-30 16:14] shilman commented on #7644
¡Ay Caramba!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.38 containing PR #11333 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-06-30 16:14] shilman commented on #8444
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.38 containing PR #11332 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-06-30 16:14] shilman commented on #10240
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.38 containing PR #11345 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-06-30 16:14] shilman commented on #8342
Great Caesar's ghost!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.38 containing PR #11332 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-06-30 16:14] shilman commented on #10346
Gadzooks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.38 containing PR #11344 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-06-30 16:14] #7644 closed

[2020-06-30 16:14] #8444 closed

[2020-06-30 16:14] #10240 closed

[2020-06-30 16:14] #10346 closed

[2020-06-30 16:14] #8342 closed

[2020-06-30 17:51] jayarjo commented on #11363
We are using typescript types and they aren't picked up from default exports.

[2020-06-30 18:37] jayarjo opened #11367 "addon-docs: "Show code" feature becomes useless in version 6"
_Show code_ feature of `addon-docs`, is not useful for stories using new, concise syntax involving `args`:

![Screen Shot 2020-06-30 at 10 36 49 PM](https://user-images.githubusercontent.com/150075/86164037-31fa7080-bb22-11ea-9cd2-8cd20253b06b.png)

Basically makes the whole thing useless, since we will have to either not use it at all, or write full stories manually.

I think it should somehow ma

[2020-06-30 18:51] zero-t4 commented on #6739
Just re-order your `addons` in `.storybook/main.js`

[code]

[2020-06-30 19:16] ericsoco commented on #4996
Bump to reopen -- we have ~40 storybook files now with > 200 stories and all of @ndelangen 's original points are painfully valid for us as well.

I found https://github.com/storybookjs/jest-storybook but it looks like it's just the POC that @evexoio wrote up in 2018. Has anything moved on this in the past 18mo? thanks!

[2020-06-30 19:37] helabenkhalfallah commented on #9242
I tried this version but IE11 still not working :
`"@storybook/react": "=6.0.0-beta.38",`

![image](https://user-images.githubusercontent.com/1331451/86169310-b72d5780-bb19-11ea-9552-ac369de16fbe.png)

[2020-06-30 20:10] helabenkhalfallah commented on #9242
The same thing for :
`"@storybook/react": "=6.0.0-alpha.31",`

![image](https://user-images.githubusercontent.com/1331451/86172306-7126c280-bb1e-11ea-84a8-ed6272a7d1b2.png)

[2020-06-30 20:52] y0n3r commented on #7146
@shilman Thanks for the tip on `localStorage.clear()`! Nothing within Storybook was rendering for me using Chrome, but running that statement in the Dev Tools console fixed everything.

[2020-06-30 20:55] tooppaaa commented on #10794
@domyen @shilman @tmeasday has the Welcome story landed ?
addon-essentials is about to be shipped part of the `sb init` in https://github.com/storybookjs/storybook/pull/11282

I can definetely start to work on some parts.

[2020-06-30 21:05] frankstallone commented on #7146
Oh since we're adding to this, now if it ever happens I go-to Dev Tools > Application > Clear Application Data. That always does the trick.

[2020-06-30 23:58] shilman commented on #9242
@ndelangen @tooppaaa any idea what's going on here?

[2020-07-01 00:05] shilman commented on #6739
FYI, we’ve released addon-controls in 6.0-beta. Controls are portable, auto-generated knobs that are intended to replace addon-knobs long term.

- [Controls README](https://github.com/storybookjs/storybook/tree/next/addons/controls)
- [Migration instructions](https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#how-do-i-migrate-from-addon-knobs)
- [Walkthrough: Controls w/

[2020-07-01 00:07] shilman commented on #11367
Please upgrade to the latest beta that contains this change: https://github.com/storybookjs/storybook/pull/11332

[2020-07-01 00:10] katywatkins commented on #9242
@helabenkhalfallah have you tried updating all of the Storybook packages to 6.0.0-beta.38? I was struggling with the error you're seeing for a long time. beta.16+ resolved it for me, but I've been updating everything to beta versions, not just Storybook/react.

[2020-07-01 01:40] kylecordes commented on #10302
In spite of the bot, this item is definitely still needed

[2020-07-01 02:30] shilman commented on #714
@ndelangen I've documented the workaround per discussion with @tmeasday. Propose that we move this config to `main.js` and add an option to support this use case in 6.x as a feature not a breaking change.

[2020-07-01 04:16] jayarjo commented on #11367
Awesome!

[2020-07-01 04:16] #11367 closed

[2020-07-01 04:33] jayarjo commented on #11362
And I think Control column requires some `min-width` in general or it might end up with something like this:

![Screen Shot 2020-07-01 at 8 32 54 AM](https://user-images.githubusercontent.com/150075/86203204-811dc100-bb75-11ea-944e-81cb883ff02a.png)

[2020-07-01 04:41] tmeasday opened #11371 "Attach refId to events rather than source"
**Is your feature request related to a problem? Please describe.**
We cannot handle redirects and still know which frame an event comes from.

**Describe the solution you'd like**
 - Render iframes with `&refId=$refId`.
 - Pass `refId` over the channel when emitting events
 - Match events to refs first via `refId`, falling back to `postMessage` event `origin`.

---

just add some tests

[2020-07-01 06:29] kkomelin commented on #6391
For those who's in search of how to adjust Storybook webpack config, see [Custom Webpack Config](https://storybook.js.org/docs/configurations/custom-webpack-config/) section of the Storybook docs.

[2020-07-01 07:17] helabenkhalfallah commented on #9242
@katywatkins I tried now :

[code]

I can't update @storybook/addon-info, @storybook/addon-console and @storybook/addon-options, npm fail.

I get the same error.

I tried also remove node module, package lock, dist and reinstall.

![image](https://user-images.githubusercontent.com/1331451/86213988-d6a89c80-bb7a-11ea-8642-8cd525597a75.png)

This is also my storybook config file :

[code]

When depl

[2020-07-01 07:24] brandonpittman opened #11373 "Controls beta.38 causes crash when switching to controls tab"
**Describe the bug**
Controls that worked on beta.37 cause a React hooks error when trying to open the controls tab under beta.38.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to beta.38
2. View a control
*could only be an @storybook/angular issue*

**Expected behavior**
Control should display normally.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-07-01 10:06] rvanlaar commented on #11304
It seems I'm hitting this bug while working though the tutorial. https://www.learnstorybook.com/intro-to-storybook/react/en/get-started/

Installed  versions:
nodejs v12.18.0
yarn: 1.22.4
npm: 6.14.4
My package.json: https://gist.github.com/rvanlaar/db9b754d7ebd738f5deb931b83a16cb9

[2020-07-01 10:54] ndelangen commented on #11304
@matheo can you confirm the above?

[2020-07-01 11:49] jeroenheijmans commented on #10302
Possibly related, I saw [a blogpost on StoryBook Composition](https://medium.com/storybookjs/storybook-composition-af0da9084fba) come by, something coming in v6 I think.

[2020-07-01 12:31] marina-mosti commented on #11348
@shilman Thanks for the reply
I tried doing:

[code]

The `window` object logged in the console definetly has a `test` property, but when you try to access it from the global scope of the console, or from within the app it is not defined

[2020-07-01 12:31] shilman commented on #11373
Can you try clearing out node_modules and reinstalling? And if that doesn't work, clearing lockfiles and reinstalling? I'm not able to repro that in our Angular example

[2020-07-01 12:36] shilman commented on #11348
@marina-mosti storybook contains the main window (aka "manager") and an iframe where the stories are rendered (aka "preview"). when set `window.test` in preview it should be available in all your stories. if you're trying to access it from the console, make sure that the console is set to the iframe:

<img width="562" alt="Addon___Controls_-_Basic_⋅_Storybook" src="https://user-images.githubuserco

[2020-07-01 12:40] shilman commented on #9242
Good catch @katywatkins. Please try removing `@storybook/addon-info` @helabenkhalfallah

[2020-07-01 12:42] thuringia commented on #9404
@shilman Is something like this, or a table of contents feature planned/in the pipeline?
Or is this something we should be addressing in MDX directly, seeing as they lack support for TOCs in general?

[2020-07-01 12:49] shilman commented on #9404
@thuringia good question and there are a couple of different answers.

If you want a TOC in the body of the docs page, Storybook's MDX is extensible with an API and it should be possible to write something yourself based on your needs. I have some documentation in the works, but have been swamped with other stuff.

Something else we talked about was generating a sidebar navigation hierarchy based

[2020-07-01 12:52] jayarjo opened #11375 "ability to set default addon tab per stories module"
Would be great to have a way to set default addon panel. For some stories actions to be default, for others it'd better be controls, and then there might be several additional addons enabled too.

Something like `activeAddonTab` as one of the options in default export would do.

[2020-07-01 12:57] thuringia commented on #9404
@shilman Thanks for the quick response :)

While the second answer sounds much better in terms of developer experience, I'm on board with this not being on the roadmap. Major change doesn't seem worthwhile for this feature at the moment.
Some docs on how to work around this, as in the first one, sound really good though.

Right now, I'm thinking about something like the `:toc:` helper in AsciiDoc.

[2020-07-01 13:06] paulfelton commented on #4600
Just wondering, did @DesignByOnyx or @Edd-Strickland ever look at turning their solutions into a preset for 6?  I've used both repo's and - as is usually the way - I like bits of each :-)

I've moved my copy of @Edd-Strickland's to 6.0.0-beta reasonably successfully, although I find it doesn't always rebuild everything when it spots a change (eg readme.md).

[2020-07-01 13:10] ajkl2533 opened #11376 "Getting "Cannot use import statement outside a module" with MDX files running with Jest"
**Describe the bug**
When I add MDX documentation files into my Storybook and run Storyshots with Jest I'm getting `SyntaxError: Cannot use import statement outside a module` for each of loaded MDX.

**Expected behavior**
Console should be without errors

**Code snippets**
[code]

[code]

[code]

[code]

[code]
**System:**
[code]

[2020-07-01 13:15] brandonpittman commented on #11373
@shilman already tried and no, it’s a work project.

[2020-07-01 13:17] bard opened #11377 "Storyshots ships *.ts files in dist/ directory"
**Describe the bug**

The current (beta.37 and beta.38) Storyshots package contains TypeScript files along with transpiled files in `dist/`. This causes jest to (try to) import the wrong file.

**To Reproduce**

1. `git clone https://github.com/bard/repro-storyshots-dist-ts`
2. `cd repro-storyshots-dist-ts`
3. `yarn`
4. `yarn jest storyshots.test.ts`

[code]

**Expected behavior**

Storyshots gets

[2020-07-01 14:05] andreiQuant commented on #6885
Maybe it is not an acceptable solution for everybody but it works for me :)

[code]

[2020-07-01 14:36] kettanaito opened #11378 "Is there a lifecycle module that's called before each story in a browser only?"
Hey 👋 Thanks for an awesome project! I've been using Storybook for years and I love it.

I'm maintaining a usage example of [Mock Service Worker](https://github.com/mswjs/msw) library with Storybook, and I have a question about the best way to integrate those two.

## Integration

The point of the integration is to call the `setupWorker` function before each story _in a browser_. `setupWorker` can

[2020-07-01 14:50] shilman commented on #11373
Hmm can you try removing addon-console?

[2020-07-01 14:51] shilman commented on #11378
@yannbf i think you looked at this?

[2020-07-01 14:56] brandonpittman commented on #11373
@shilman Sure. I’ll try it tomorrow.

[2020-07-01 15:01] ghengeveld commented on #10639
This will be addressed in #10757 which will replace the search UI completely.
Closing this because it will no longer be relevant once that lands.

[2020-07-01 15:01] #10639 closed

[2020-07-01 15:42] aishwaryasharma14 opened #11379 "ERROR TypeError: Class constructor EventEmitter_ cannot be invoked without 'new'"
Hi @shilman ,

After upgrading to Angular 10, I am getting this error while displaying kendo grid on storybook - ERROR TypeError: Class constructor EventEmitter_ cannot be invoked without 'new'

![image](https://user-images.githubusercontent.com/20925856/86260499-a7ffe580-bbbd-11ea-9887-a7e71b55628b.png)

Do you think this is because of incompatible version of storybook with Angular 10? If so, cou

[2020-07-01 15:52] domyen commented on #11362
@shilman got it, will take a look later this week.

**Re: column width constraints.** This speaks to a larger issue. One of the columns will always get squished when the table is narrow. For instance, in the addon panel. I wonder if we need to hide columns altogether in this case. 🤔

[2020-07-01 15:56] yannbf commented on #11378
Hey @kettanaito, Nice to see that you're working on this! As of now I'd say unfortunately it's necessary to add a few workarounds to use msw with storybook, indeed preview is the way to go for registering the service worker, and a decorate to check if the story can be rendered.

But if I'm not mistaken there are people working on making stories async (@tmeasday can explain that better I think) and

[2020-07-01 16:02] jayarjo commented on #11362
So there's another row that is not seen in this screenshot that contained an action with very long type and that what was stretching that column. Maybe it makes sense to put `word-break` rule on those columns too.

[2020-07-01 16:03] matheo commented on #11304
@ndelangen nope
updated to `beta.38` and it doesn't work for me.
I will have to debug-webpack to see what changed around the CSS rules it seems.

[2020-07-01 16:18] a7madgamal commented on #9167
I'm also looking for this :(

[2020-07-01 16:27] helabenkhalfallah commented on #9242
Okay @shilman I try now this, thank you 👍

[2020-07-01 16:29] dankellett commented on #11331
This might be resolved if webpack can be configured to extend the timeout. Is there a way to do this with Storybook?

[2020-07-01 16:54] BWrites commented on #11255
I've run into this same issue when trying to migrate from v5.3.

My webpack.config.js:
[code]

When trying to run `build-storybook -s public -o ./docs`, I'm getting the following error in the output:
[code]
*(actual project path was replaced by `<LOCAL_PROJECT_PATH>` by me)

[2020-07-01 16:57] Ponayobi commented on #11290
Maybe try something like this?
`async (...args) => { action('Submit')(...args) }}`

[2020-07-01 17:32] jonniebigodes commented on #11274
@bfitch no need to thank. Glad that i was able to give some insights on the issue at hand.

I'll take a look on your other issue shortly and see if i possibly can come up with a solution for it.

Do you mind waiting a bit longer while i triage it?

Stay safe

[2020-07-01 17:49] helabenkhalfallah commented on #9242
Unfortunately not :

I removed everything :

stories index :

[code]

addonjs => empty

config.js :

[code]

package.json, info removed :

[code]

remove all node modules and reinstall.

![image](https://user-images.githubusercontent.com/1331451/86275668-e86a5e00-bbd3-11ea-9cf3-06522699f993.png)

[2020-07-01 17:56] maggiewachs commented on #11349
@jayarjo This is how I've got it working in my local build (6.0.0-beta.31).

At the top of my `.mdx` file, I defined a variable with my `argTypes` configuration:

[code]

And then referenced that variable in the `Story` tag's `argTypes` attribute:

[code]

My result:
![image](https://user-images.githubusercontent.com/228885/86276193-788faf80-bba2-11ea-8fc1-f590aa5c35a4.png)

It looks like some of

[2020-07-01 18:20] kettanaito commented on #11378
Thank you for the quick replies, folks.
I see, it's okay to have a slight workaround at this point. Looking forward to the async stories, though.

Do you find this approach sensible?

[code]

[2020-07-01 18:50] redradist opened #11380 "[Feature Request] Add possibility to design with `Blazor`"
**Is your feature request related to a problem? Please describe.**
Add possibility to design components with [Blazor](https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor
)
`npm` package for this is available [`dotnet` package](https://www.npmjs.com/package/dotnet)

**Are you able to assist bring the feature to reality?**
yes, I can

[2020-07-01 19:10] bgaynor78 commented on #6569
Sorry for my late reply on this, but I just tried @ndelangen suggestion and I still see the shortcuts dropdown being displayed. Do I need `addons` added to the front of the `setConfig`? Docs show that as part of the manager.js.

[2020-07-01 19:41] tooppaaa commented on #9242
@helabenkhalfallah What is the exact issue in the console ? I've seen above it was about semver but I don't recognize where `getterFor`

@storybook/addon-options is deprecated since 5.x, could you try to remove it and see how it goes ?

[2020-07-01 19:53] timomayer commented on #4600
Is this publicly available @paulfelton?

[2020-07-01 20:10] helabenkhalfallah commented on #9242
Yes @tooppaaa I will do it now ! thank you 👍

[2020-07-01 20:23] geoctrl opened #11381 "Navigation broken after adding showRoots option"
**Describe the bug**
First time loading the site doesn't show `showRoots` group titles. Refreshing the page after first load shows the group titles but now navigation doesn't work.

This is only a problem here [storybook.canopytax.com](https://storybook.canopytax.com). Running this locally works.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [storybook.canopytax.com](https://storyboo

[2020-07-01 20:36] helabenkhalfallah commented on #9242
The same error  :
I have delete node modules, package lock and reinstall.

![image](https://user-images.githubusercontent.com/1331451/86288591-72252600-bbea-11ea-90ac-25cb39ec43ae.png)
![image](https://user-images.githubusercontent.com/1331451/86288611-7d785180-bbea-11ea-88a0-1d18ba5b9556.png)
![image](https://user-images.githubusercontent.com/1331451/86288645-8832e680-bbea-11ea-8a8a-96fcbf8353c4.

[2020-07-01 20:40] helabenkhalfallah commented on #9242
Chrome :

![image](https://user-images.githubusercontent.com/1331451/86289291-be249a80-bbeb-11ea-90de-b1d5c941c864.png)

IE 11 :

![image](https://user-images.githubusercontent.com/1331451/86289358-dc8a9600-bbeb-11ea-9846-2fff55c693f8.png)

[2020-07-01 20:45] tooppaaa commented on #9242
Thanks for this.
The manager is correctly displayed, meaning it's not a storybook issue.

I can try to look a bit more, do you have a public reproduction of this issue ?

[2020-07-01 20:49] yannbf commented on #10794
Presenting myself available as well to help! Last month was crazy but now I have some time to contribute too 💃

[2020-07-01 20:56] helabenkhalfallah commented on #9242
@tooppaaa Unfortunately not, it is an internal project  :( :(
I removed everything from the storybook.
I will try in a separated project from scratch.
I will let you in, thank you so much :) :)

[2020-07-01 21:40] tooppaaa commented on #10794
Here's a proposal that we can start to work on https://gist.github.com/tooppaaa/08accf47c0823d2cfbc016debf47276e
Which displays as
![image](https://user-images.githubusercontent.com/599163/86293821-aa7d3200-bbf3-11ea-96ce-f659c5554bd8.png)

My main questions are:
- Is this how you imagine we can build it ?
- What do you think of using MDX variables to create "per story" components ?
- `React.child

[2020-07-01 21:43] mohsinulhaq commented on #9961
@ndelangen @stof just an FYI, I have published [v3](https://github.com/mohsinulhaq/react-popper-tooltip/releases/tag/v3.0.0) of `react-popper-tooltip` with the `popper-js` dependency upgraded to the latest version (v2).

[2020-07-01 22:20] shilman commented on #11381
A few things. `@storybook/addon-notes` is deprecated in 6.0 so you should probably remove it. Also, are you sure this is related to `showRoots`? The roots in your example storybook look fine to me, but the navigation is broken. I haven't seen this before, so I suspect it is something specific to your storybook.

[2020-07-01 22:38] shilman opened #11382 "CLI: Version consistency check"
Half the issues I see have inconsistent `@storybook/*` versions. Recent examples:

- #11381 6.0 but addon-notes 5.3.19
- #9242 6.0 but addon-info / addon-options 5.3.19

Users should remove these deprecated 5.3.x packages which are pulling in 5.3 dependencies. Furthermore, users should generally upgrade all `@storybook/*` to the same version when they upgrade.

We should:
- [ ] check for `@storybo

[2020-07-02 00:21] brandonpittman commented on #11373
@shilman Ripping out addon-console didn't change anything. I pulled out all the control code from the stories, but the addon itself is still set up.

I can now open the tab, see the docs, and it's fine. I'll add controls code back in slowly and try to see if I can figure out what broke it.

[2020-07-02 00:31] brandonpittman commented on #11373
@shilman As soon as I change the story declaration from

[code]

to

[code]

I get the React/Hooks crash.

[2020-07-02 00:31] shilman opened #11383 "CLI: Upgrade command"
In every release we tell users:

[code]

Let's make this an `sb upgrade` command. It can also run a version consistency check (#11382) and do other hygiene as needed.

[code]

[2020-07-02 00:36] shilman commented on #11373
If you can't share your storybook is there any chance you can create a minimal repro? @yannbf has set up a codesandbox template if that makes things easier: https://gist.github.com/yannbf/d7a32cfe697e71489db00bfd50e7ab5c

[2020-07-02 00:43] shilman commented on #11377
@bard any idea when this change was introduced?

[2020-07-02 00:46] shilman commented on #11375
It looks like such a thing already exists:

https://github.com/storybookjs/storybook/blob/next/examples/official-storybook/stories/addon-a11y/base-button.stories.js#L10-L12

[2020-07-02 03:07] matheo commented on #11304
@ndelangen I confirmed that webpack is loading the CSSs
but they are not being included in the iframe HTML :-?
I don't have idea of what's happening with Storybook's core :(

[2020-07-02 03:34] shilman opened #11384 "Rename GlobalArgs to Globals"
[Storybook Args RFC](https://docs.google.com/document/d/1Mhp1UFRCKCsN8pjlfPdz8ZdisgjNXeMXpXvGoALjxYM/edit?usp=sharing) introduces two types of dynamic data to Storybook, Args and GlobalArgs, and we are renaming GlobalArgs to Globals

## Rationale

Args and GlobalArgs share a similar implementation, but different semantics. Specifically, Args are arguments to a story and can only be set at the stor

[2020-07-02 05:19] jayarjo commented on #11349
Thanks @maggiewachs, that worked! :rocket:

[2020-07-02 06:16] tmeasday commented on #11142
Ok, here is the plan in detail:

1. There's a subset of `options` parameters that control the UI of Storybook in a "mutable" way, think `showAddonsPanel` et al.

 a. People want to set these parameters per-story, for various reasons.
 b. Arguably there could be a couple more here: `showDocs`, `showCanvas`, `activePane` or such.
 c. Currently there are various known issues with those parameters con

[2020-07-02 06:55] kylemh commented on #11384
DEFINITELY! My favorite draw to CSF was the ability to easily write "tests" once and use them across two tools, and this makes that very simple.

I basically already do this, but with way more silly boiler plate: https://github.com/innocuous-tech/core/blob/master/packages/components/src/Button/__stories__/Button.stories.tsx

[2020-07-02 08:34] Horsty80 commented on #9205
Hi @shilman any news of this bug ? =/
How can i help you to investigate on this ?

[2020-07-02 08:55] paulfelton commented on #4600
It is now, help yourself :-)

[I've forked Edd's project](https://github.com/paulfelton/stencilbook).  @Edd-Strickland, shall I pop in a PR?  It'll need good review, I'm no expert in this.

I've bumped the packages, refactored the config to the new format.  I had to add a typings and refer to it in tsconfig to get the story to import the stencil readme, and add a config to translate 'notes' to 'do

[2020-07-02 09:13] #10766 closed

[2020-07-02 09:39] shilman commented on #10947
@sami616 https://github.com/storybookjs/storybook/pull/11388

[2020-07-02 09:55] marina-mosti commented on #11348
@shilman Thanks a ton for your help :)

[2020-07-02 09:55] #11348 closed

[2020-07-02 10:54] jasancheg commented on #9625
Hi, I have the same problem that @Remeic had, did you find a solution? @Gongreg

[2020-07-02 11:45] shilman commented on #10795
Gadzooks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.39 containing PR #11282 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-02 11:45] shilman commented on #10947
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.39 containing PR #11388 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-07-02 11:45] shilman commented on #11108
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.39 containing PR #11369 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-02 11:45] shilman commented on #11384
Gadzooks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.39 containing PR #11385 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-02 11:45] #10795 closed

[2020-07-02 11:45] #11108 closed

[2020-07-02 11:45] #11384 closed

[2020-07-02 12:02] bard commented on #11377
It looks like it was introduced in `-beta.28`. Up to `-beta.27`, only javascript plus declaration files can be found under `dist/frameworks`.

[2020-07-02 12:47] akhilesh85 opened #11391 "Issue while using storybookjs Knobs Addon @5.3.19 in Angular 7 Workspace"
**Describe the bug**

When I installed story book in my angular 7 workspace with typescript@3.2.4, all the pre-installed addons such as actions and links were working fine without an errors. The moment I installed Knobs addon it started throwing errors.

**To Reproduce**

Steps to reproduce the behavior:

1. Create an Angular 7 workspace using npm.
2. Install latest storybook through npm.
3. Run t

[2020-07-02 13:28] danbamber commented on #5575
After trying upgrading Storybook, downgrading Jest and a few other things.
I found adding a .babelrc file to the root of my project with this inside fixed it for me:
[code]
I believe this is needed for Jest to work with Storyshot.
I'm not using Create React App so that's probably why most people aren't having this issue.
Hope this helps someone

[2020-07-02 13:30] danbamber commented on #8623
After trying upgrading Storybook, downgrading Jest and a few other things.
I found adding a .babelrc file to the root of my project with this inside fixed it for me:
[code]
I believe this is needed for Jest to work with Storyshot.
I'm not using Create React App so that's probably why most people aren't having this issue.
Hope this helps someone

[2020-07-02 15:49] ajkl2533 opened #11393 "[addon-docs] Links in headings have smaller font-size than text"
**Describe the bug**
When using a link in heading in the MDX file than the link and text have different font-size. I suspect that the issue is coming from [here](https://github.com/storybookjs/storybook/blob/next/lib/components/src/typography/DocumentFormatting.tsx#L88) where is hardcoded the `14px` font-size for links, instead, there should be probable `inherited` because the size of the link sho

[2020-07-02 16:08] jonnysmith1981 opened #11394 "Upgraded to 5.3.4 and now build fails with all Stories reporting "Module not found: Cannot resolve......""
Previously had successful setup using Storybook 5.3.1. Built with no problems whatsoever.

Updated Storybook to 5.3.4

**Expected behavior**
Storybook continues to build without any additional config required.

**Actual behavior**
Storybook no longer builds. All storybook files fail to build with spurious "Module not found" errors.

**Screenshots**
Fails with relative paths
![image](https://user-i

[2020-07-02 17:13] geoctrl commented on #11381
yeah, you're right - I removed the changes I made and navigation is still not working... here's a list of changes I made:

- removed `showRoots` prop
- removed all hierarchy in titles
- removed `@storybook/addon-notes` (we tested this out earlier and forgot to remove the dep)

I think it's also important to note that navigation was working before we messed with `showRoots` and hierarchy titles

Si

[2020-07-02 17:20] coltpini opened #11395 "CSS Custom Properties support for knobs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

As we are able to use custom properties more and more we are able to move styling props to styles and keep other props in the js. Knobs has become so integrated into our workflow it creates a sort of documentation on how to use the compone

[2020-07-02 19:07] AleshaOleg commented on #9819
Sorry if I'm missed something, but can it be fixed also for version `5.x.x`?

[2020-07-02 20:43] domyen commented on #10794
This is amazing @tooppaaa!

Before you get too far, I'm going to take a stab at the styling and markup today.

Ideally, we should use raw HTML and CSS in the MDX as much as possible. That will make it easy to port to all frameworks. And users will be familiar with what's going on no matter what framework they use.

Hang tight, hopefully will have something for you in a few hours

[2020-07-02 20:53] matheo commented on #10976
@jayarjo the latest v6.0.0 beta included a way to disable it ;)
https://github.com/storybookjs/storybook/pull/11388

[2020-07-02 22:32] shilman commented on #9819
@AleshaOleg unfortunately it's a significant change. 6.0 will be in RC in a few days, and i'd recommend upgrading once that lands

[2020-07-02 22:36] shilman commented on #11395
@coltpini Nice demo!!!

FYI, we’ve released addon-controls in 6.0-beta. Controls are portable, auto-generated knobs that are intended to replace addon-knobs long term.

- [Controls README](https://github.com/storybookjs/storybook/tree/next/addons/controls)
- [Migration instructions](https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#how-do-i-migrate-from-addon-knobs)
- [W

[2020-07-02 22:38] shilman commented on #11394
Did you try removing node_modules and possibly clearing lockfiles and reinstalling?

[2020-07-02 22:58] DemianX0 opened #11397 "Yarn 2 package manager: some undeclared dependencies"
**Describe the bug**
`yarn install` (Yarn 2 - berry) produces this output. These are warnings only, not blocking:
[code]

**Fixed in 6.1.0 [EDITED]**

The missing peerDeps were added in:
https://github.com/storybookjs/storybook/releases/tag/v6.1.0-beta.1
https://github.com/storybookjs/storybook/commit/eaa9410a4d8ea4a35bf9a58f7062842e15a0df78#diff-3e4e211bc6c8ad1c4934045fbab3fac862e23c8e00915e433d0

[2020-07-03 02:06] domyen opened #11398 "SB Docs gets padding from the layout parameter when it should not"
**Describe the bug**
SB Docs gets padding from the layout parameter when it should not. The layout parameter should be stories only. This is on `next`.

![image](https://user-images.githubusercontent.com/263385/86424187-d827b100-bcaf-11ea-9b2c-468ca0dbd495.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an MDX doc like in [Storybook Design System](https://5ccbc373887ca40020446347-

[2020-07-03 02:14] domyen commented on #10794
I styled the welcome mdx in this [repo](https://github.com/chromaui/storybook-template-react), see [this file](https://github.com/chromaui/storybook-template-react/blob/master/src/components/storybook-example/0.Introduction.stories.mdx).

My plan is to style the rest of the example components tomorrow because they're used in the updated docs. I think the idea is to make the welcome component and t

[2020-07-03 02:26] michaelbayday commented on #8177
I'm still getting this issue. Does anyone have any suggestions?

storyshots.test.js
[code]

jest.config.js
[code]

jest.setup.js
[code]

The serialization of the styled components is working, but just running into this last hiccup.

[2020-07-03 02:29] shilman commented on #11397
cc @gaetanmaisse

[2020-07-03 03:19] #10750 closed

[2020-07-03 03:19] #10505 closed

[2020-07-03 03:19] #10722 closed

[2020-07-03 03:19] #10724 closed

[2020-07-03 04:18] #9946 closed

[2020-07-03 04:18] #10648 closed

[2020-07-03 04:18] #7625 closed

[2020-07-03 04:18] #10140 closed

[2020-07-03 04:18] #10637 closed

[2020-07-03 04:18] #10600 closed

[2020-07-03 04:18] #10668 closed

[2020-07-03 04:18] #10164 closed

[2020-07-03 04:18] #10687 closed

[2020-07-03 04:19] #10681 closed

[2020-07-03 04:24] mitchellwarr opened #11399 "[addon-docs] mdx breaks with expressions as Story name"
### Describe the bug
When using a Story in mdx, if you use brackets around your text variable like below, then the compiler errors out.

[code]

### To Reproduce
Create MDX file with brackets around the Story name text

### Expected behavior
Storybook should compile

### possible cause

Error message points to this

https://github.com/storybookjs/storybook/blob/0ee0e2f1869f6565c84a8424b32bc39ee94f

[2020-07-03 05:18] shilman opened #11400 "Dynamic source rendering for Vue"
Follow-up to #11332 but for Vue

[2020-07-03 06:23] gaetanmaisse commented on #10798
I will work on it after https://github.com/storybookjs/storybook/issues/10797

[2020-07-03 06:49] tooppaaa commented on #10794
Hello !

I can take this task over the weekend ;)

The only comment so far is that it's a lot html of hard-to-read html and don't really show up the capabilities of MDX.
One small step to this direction could be to extract icons to constants

[code]

This would ease the reading of the links

We can of course see that later and so far, deliver this cross framework welcome page !

[2020-07-03 07:18] #10759 closed

[2020-07-03 07:23] eric-burel commented on #9610
Ah, stalebot, my favourite one. No, issue described just above is still happening, text is not blue with CSS modules and I still can't tell what would be a working setup so all Next (and TS) features work with Storybook.
![image](https://user-images.githubusercontent.com/7983005/86442813-a1cd4e80-bd0e-11ea-9cc7-de8a03c083dc.png)

[2020-07-03 07:24] AleshaOleg commented on #9819
@shilman got it. thanks for the answer!

[2020-07-03 07:51] ndelangen commented on #10794
That's beautiful @domyen !

[2020-07-03 07:57] shilman commented on #11127
Have a workaround for this on our side that I'm going to try to hook up this weekend!

[2020-07-03 08:06] ndelangen commented on #9773
See the PR: https://github.com/storybookjs/storybook/pull/11368

That should fix this!

[2020-07-03 08:16] ndelangen commented on #4600
@paulfelton do you need anything from me?

[2020-07-03 08:24] ndelangen commented on #11304
@shreyaghate02 This might be a good starting point for contributing?

[2020-07-03 08:36] ndelangen commented on #11255
(node:11596) UnhandledPromiseRejectionWarning: ModuleNotFoundError: Module not found: Error: Can't resolve 'chromatic/isChromatic' in '<LOCAL_PROJECT_PATH>/node_modules/@storybook/ui/dist/components/layout'

whut? I'm really confused.. the preview is bundling code for the manager.. and it's missing a devDependency..This makes very little sense..

[2020-07-03 08:43] ndelangen commented on #4996
Unfortunately no work has been done, would you be interested in contributing?

[2020-07-03 08:44] paulfelton commented on #4600
@ndelangen I'm not sure.  As you may have gathered, I'm pretty new to both Stencil and Storybook, so just munged together what I can drag up from various issues discussions, google, etc.

[2020-07-03 09:03] Marklb commented on #11152
@calebedwards21 are you using windows? My fix looks like a windows path issue.

One way to avoid the problem is using the object syntax for the directory assets. When the object syntax is used, Storybook doesn't try to normalize it and just passes is straight through to Angular. So, in `angular.json`, if you have `..., "assets": [ "src/assets" ], ...`, change it to `..., "assets": [ { "glob": "**/

[2020-07-03 09:03] ndelangen commented on #6505
@TeoTN A lot of work has been done to make storybook work much much better with CRA out of the box & typescript.

You mostly have @mrmckeb to thanks for it

[2020-07-03 09:10] ndelangen commented on #11296
Yeah I'm pretty sure we're not going to make this configurable, in fact the rename got rescheduled for 7.0.0, because we don't want to disturb the ecosystem too much.

[2020-07-03 09:11] shilman commented on #9205
Took me awhile to track down with @mrmckeb and I'm not very satisfied with where we got. Try adding the following to your `babel.config.js`:

[code]

I modified a bunch of other things in the project in the process of debugging, but pretty sure that's the proper fix. WDYT?

[2020-07-03 09:14] ndelangen commented on #11315
@gaetanmaisse that looks 💯 to me!

[2020-07-03 09:16] benbonnet opened #11402 "Unable to display nested components props correctly"
I might be mis-using the functionnality, in case apologies; but I havent't found any relevant clues if this use case had to be handled differently

*Feature request related to a problem?**
Re-using nested components props to validate on parent component as follow :

[code]

But getting weird displays :
<img width="562" alt="Capture d’écran 2020-07-03 à 11 14 20" src="https://user-images.githubus

[2020-07-03 09:20] dysol commented on #7593
For this part, I tried your code but am getting 'custom element <v-app> not registered' error.@mediafreakch do you have a sample repository? or anyone can help?

[2020-07-03 09:28] shilman commented on #9103
@Steven-Harris it's there https://github.com/storybookjs/storybook/blob/next/addons/docs/angular/README.md#props-tables

[2020-07-03 09:29] amannn opened #11404 "Support absolute anchors when Storybook is deployed at non-root"
**Describe the bug**

When Storybook is deployed at an URL like `https://example.com/storybook/component-library/v48.3.2/`, the anchors within docs content will remove the base url.

E.g. when you're on `https://example.com/storybook/component-library/v48.3.2/?path=/docs/components-icon--default` and you have a link to `/docs/components-button--default` in the documentation, the resulting link wil

[2020-07-03 09:31] simpel opened #11405 "How to run multiple storyshots?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1. Setup several storyshot tests with initStoryShots()
2. Run them and get the warning below

**Expected behavior**
No warning

**Code snippets**
`
    console.warn
      Unexpected loaded state. Did you call `load` twice?

      4 | const storybookUrl = 'http://localhost:9000';
      5 |

        | ^

[2020-07-03 09:34] dysol commented on #7593
can this be explained further? is there a documentation for me to read to understand this more?

[2020-07-03 09:34] ndelangen commented on #7421
Hey zack:

Of course we want this, and efforts are made to make this a reality.

[2020-07-03 09:36] ndelangen commented on #10204
Storybook 6.0.0 will got into Release Candidate real soon. The beta is out for you to try right now, it has this issue resolved.

A patch PR on master is still welcome though!

[2020-07-03 09:38] ndelangen commented on #11302
Oof, I'm not sure, will have to investigate!

[2020-07-03 10:00] dysol commented on #7593
Hi @mediafreakch, could you explain what does the parameter `vuetify` within `addDecorator()` does? I couldn't find any docs that mentioned that property. Similarly, for `configure()` function.

I'm abit confused here as I'm not very familiar with storybook mechanics

[2020-07-03 10:06] fregiese opened #11406 "Automatic refreshing browser when --static-dir is used"
### TLDR
Automatic refresh of the browser, when files in **--static-dir** are changed.

### Long Version
In our project we use the **--static-dir** CLI Option to load CSS and JS files from a static folder, as explained here: https://storybook.js.org/docs/configurations/serving-static-files/#2-via-a-directory

The Problem is that only the changes on stories are being refreshed in the browser. To re

[2020-07-03 10:18] #10434 closed

[2020-07-03 10:36] DomDomHaas commented on #7593
Thanks for that mate!
So I could globally load all vuetify components with:

[code]

[2020-07-03 11:18] #10763 closed

[2020-07-03 12:05] Rusinas opened #11409 "Vue Storybook doesn't compile with Pug components"
**Describe the bug**
Can't compile my storybook, if it contains components that written using pug. Compiler just stops at 14%. If I change template language in that components to html, compiling is successful and storybook works just fine. But the entire project written using Pug! :(

**To Reproduce**
Install vue, install storybook, create component using Pug, try to create story with it.

**Expec

[2020-07-03 13:02] dbendaou commented on #10074
By the way, I found that if you add  [babel-plugin-ember-modules-api-polyfill](https://github.com/ember-cli/babel-plugin-ember-modules-api-polyfill) and because it's already declared as a module [there](https://github.com/storybookjs/storybook/blob/next/app/ember/src/server/framework-preset-babel-ember.ts#L19) it will make ember import works 🎉

Maybe we can make it to be added by default with the

[2020-07-03 13:11] Horsty80 commented on #9205
Thanks @shilman it's working fine !
i've my propsTypes showing.

So fix with :
 - update in v6
 - add presets `const presets = ["@babel/preset-env", "@babel/preset-react"];` in `babel.config.js`
 - npm install

[2020-07-03 13:17] brandonpittman commented on #11373
@shilman After a bit of testing, I know it’s the 38+ angular package, not the controls package. After the upgrade, Angular appears to be missing dev kit/core, but installing it just gets you to the normal screens of Storybook. The controls panel will still crash.