[2019-10-01 13:25] shilman commented on #8252
@tflx does it work if you remove this snippet?

[code]

[2019-10-01 13:26] matthew-was commented on #8253
thanks @shilman, definitely going to look into docs in the future, just looking to upgrade at this point.

[2019-10-01 13:31] shilman commented on #4796
@lppedd Are you saying React15 support is broken in 5.2.1?

[2019-10-01 13:33] shilman commented on #8245
What does your `storybook.test.js` look like? Does the code get run and no snapshots are generated, or does the code never get run at all?

[2019-10-01 13:39] lppedd commented on #4796
@shilman apparently yes.

[2019-10-01 13:40] shilman commented on #6663
@elevatebart mind taking a quick look at the repro? Looks like storybook is having a hard time reading `vue-styleguidist` annotations and I don't know enough about vue to recommend a path forward.

[2019-10-01 13:42] shilman commented on #8122
@donaldpipowitch You can mix and match, you just need to do it deliberately. See the last code example here:

https://github.com/storybookjs/storybook/blob/next/docs/src/pages/basics/writing-stories/index.md#loading-stories

[2019-10-01 13:42] klangfarbe opened #8255 "UI: Option to collapse single-story components"
Hi,

currently I migrate to Storybook 5.2 and update all stories to the new CSF. I recognised that it isn't possible to reuse a story title for grouping simple stories as you could before with `storiesOf`.

*For example:* If you have a group `atoms` and some simple components belonging to that group, e.g. a checkbox and a radio button with one story for each component, you **must** specify a uniqu

[2019-10-01 13:48] elevatebart commented on #6663
I can and will do tonite. Which means in 5 hours.

[2019-10-01 13:50] elevatebart commented on #6663
On a side note, the problem does not seem related to annotations. It looks like reading the docs block is making it hard for the SB loader. Will investigate

[2019-10-01 13:50] shilman commented on #4796
confirmed 😭

[2019-10-01 14:13] shilman commented on #8035
Closing as dupe to #8255 since that has a better description

[2019-10-01 14:15] shilman commented on #8255
Related: #8035 #7700

We definitely wouldn't make this the default behavior since it would be a breaking change. I'm open to the idea of making it opt-in, though, since it seems to be a frequently requested feature.

You can also achieve this with https://github.com/storybookjs/storybook/pull/8133

[2019-10-01 14:19] shilman commented on #4796
@ndelangen this is broken in `cra-react15` and also on the now deployment, but since storyshots are enabled it apparently doesn't break the build. any ideas?

[2019-10-01 14:21] tflx commented on #8252
@shilman No I'm afraid not

[2019-10-01 15:56] hipstersmoothie commented on #8233
@shilman no I just added `DecoratorFn` which is similar to `StoryFunction` in the old types. We currently have no `RenderFunction` type.

The webpack env stuff is fixed on `next` though.

I'm guessing they need to update to latest knobs to get types

@dawidk92 5.2.1 isn't next and doesn't have the bug fixes I think. `StoryObject` is from the old types too, it will probably need to be added or some

[2019-10-01 16:39] bgarrett-rt commented on #6488
I'm still seeing this issue with all storybook packages at ^5.2.1

[2019-10-01 17:00] andrewpeterprifer opened #8262 "Storysource addon shows selected story highlight incorrectly when using uglyCommentsRegex"
**Describe the bug**
I have a `// @ts-check` comment on top of every file and I'm using `uglyCommentsRegex` to remove it from the story source. This works, however the highlight for the selected story shifts by two lines, the same amount that was removed from the top of the file.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a story with an ugly comment on top
2. Add the ugly commen

[2019-10-01 17:45] withinsight commented on #8088
Thanks @kgeorgiou! Wow, is the assumption that color challenged users don't need to know when a button is disabled? That seems a bit foot in mouth.

[2019-10-01 18:28] mikrotron commented on #8138
The same symptom, could it be the same issue?
https://github.com/carbon-design-system/ibm-dotcom-library/pull/100

[2019-10-01 19:32] 0tho commented on #8223
@mrmckeb updated to `react-scripts@3.1.2` and for me it has fixed the problems.

[2019-10-01 20:28] seanforyou23 commented on #5910
+1 this is still an issue in storybook@5.2.1

[2019-10-01 21:40] shilman commented on #8233
@hipstersmoothie @dawidk92 i'll patch those over to `master` soon and cut a release, probably next week

[2019-10-01 21:45] shilman commented on #6488
FYI `addon-info` is being superceded by `addon-docs`, which fixes a bunch of bugs and is easier to maintain. It’s been released in Storybook 5.2, and doesn't have this problem. Please give it a try! https://medium.com/storybookjs/storybook-docspage-e185bc3622bf

[2019-10-01 21:56] enagy27 opened #8264 "Deprecation warnings in docs"
I'm interested in marking components as deprecated to indicate that they should no longer be used, but the `jsdoc` attribute `@deprecated` is not being shown in the docs output in a way that is pronounced enough for readers.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
I've considered using the subtit

[2019-10-01 22:09] shilman commented on #8264
Nice one. So this would be at the component level, and would result in some kind of "label" UI for the component? Or were you thinking about props too?

[2019-10-01 22:20] shilman commented on #8221
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.6 containing PR #8235 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-01 22:20] shilman commented on #2629
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.6 containing PR #8200 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-10-01 22:20] #8221 closed

[2019-10-01 22:51] #7884 closed

[2019-10-01 22:55] enagy27 commented on #8264
@shilman both for components themselves and for props this would be very useful! Would also want it to support text after the deprecation to indicate what to use instead

[2019-10-01 23:21] JKillian commented on #8214
Hit this same issue experimenting today, where `storiesOf` worked, but CSF stories didn't work in TypeScript. I changed my `config.js` to match [@kevbost's suggestion](https://github.com/storybookjs/storybook/issues/8214#issuecomment-536694015) and it fixed the issue for me!

[2019-10-01 23:33] kevbost commented on #8214
FWIW, I discovered on accident that storybook config styles and stories can remain as javascript if allowJs. I assumed this wouldn't work, but I reverted all of my projects storybook files back to their original state and it ran as it previously did, except with typescript source files.

I discovered a different problem when converting a single storiesOf to CSF, where it brought my computer down t

[2019-10-01 23:33] davidli3100 commented on #6088
@mathiasrando let me know if you aren't able to implement it. I've got a similar setup on my own projects I can adapt to storybook

[2019-10-02 00:10] elevatebart commented on #6663
There seem to be a [bug in vue-loader](https://github.com/vuejs/vue-loader/issues/1595)
As a workaround you can add an empty loader to the ressourceQuery=custom rule as explained [here](https://vue-loader.vuejs.org/guide/custom-blocks.html#custom-blocks)

[2019-10-02 02:29] lbelavoir commented on #8224
@shilman If I can contribute, I'll be happy to do a PR to fix this small issue. Do you have a link in mind where it should lead to ?

[2019-10-02 04:43] SpainTrain commented on #8105
This issue still exists in 5.3 alpha 6 with `@storybook/addon-info`.  Should this be a separate issue? Thanks!

[2019-10-02 06:06] kroeder commented on #7877
@urish thanks for sharing this! I contacted the owner of `angular2-template-loader` and want to discuss the future of this package. Meanwhile I'll prepare a branch with this workaround

[2019-10-02 06:06] sanchez commented on #8094
I have encountered a similar issue for the code snippet for stories in mdx. See below

![image](https://user-images.githubusercontent.com/5264697/66021589-838fb380-e52e-11e9-9f33-07a65488f4e5.png)

I have fixed this by adding this css snippet into a site wide css file referenced:
[code]

[2019-10-02 06:09] jacobrask commented on #8105
If anyone gets blocked by this, I can recommend adding `skipLibCheck: true` to your `tsconfig.json` - because the internal typings of Storybook don't really matter that much to the type safety of your application code.

[2019-10-02 06:59] urish commented on #7877
@kroeder happy to help :-)

If you want the workaround to be backward compatible with the older `raw-loader`, I'd consider changing that line to:

[code]

[2019-10-02 08:22] stof commented on #8208
I opened a PR for the upgrade of regenrator-runtime, getting rid of 0.12.

Regarding the upgrade of react-syntax-highlighter, I'm stuck for now. Types are wrong in DefinitelyTyped. The fix has been submitted in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/38776 and is pending a merge.

[2019-10-02 08:25] bodograumann commented on #6663
Thx, the workaround works :-) @elevatebart
Cf. https://github.com/bodograumann/vue-storybook-docs-page-test/commit/87ce1fe5789e0d96d90a6f700797559789535aba

[2019-10-02 08:30] kykungz opened #8265 "Storybook Docs custom Preview component"
### Bug or support request summary

Is there a way to create my own custom component that will act like `Preview` block (can contain multiple `Story` and each `Story` generates its own story)?

Default `Preview` block:
[code]

So I tried:
[code]

and it showed 2 `No component or story to display` blocks in my storybook.

Is there a way to create my own component, say `ShowCase` component which wil

[2019-10-02 08:49] andrewpeterprifer commented on #8262
@shilman  I’m not sure if there’s a misunderstanding but just to clarify, uglyCommentsRegex is an option of the storysource loader which is supposed to be officially supported, not something external, so I’m not sure if the compatibility with other tools label is correct.

[2019-10-02 10:09] BenjaminVanRyseghem commented on #8124
got the same issue :/

I tried several variations, tried with a fresh install, still got no descriptions... (also when I build the static doc, all `required` props are gone). I feel like I got something missing, but I can't find it.

If anyone have any hint

[2019-10-02 10:10] maziarz opened #8267 "nuxt 2.9.2 does not run with storybook 5.2.1"
**Describe the bug**
nuxt does not seem to run when `yarn run dev` is started a long with storybook.

**To Reproduce**
Steps to reproduce the behavior:
1. Create boilerplate: `yarn create nuxt-app <project-name>`
2. Upgrade to nuxt 2.9.2: `yarn add nuxt@2.9.2`
3. Install @storybook/vue `yarn add @storybook/vue@5.2.1`
4. Install additional packages: `yarn add babel-preset-vue --dev`
6. Create confi

[2019-10-02 10:26] tjenkinson commented on #4887
This solved it for me: https://stackoverflow.com/a/57067253/1048589

[2019-10-02 10:26] tjenkinson commented on #2409
This solved it for me: https://stackoverflow.com/a/57067253/1048589

[2019-10-02 10:35] mathiasrando commented on #6088
Thanks @davidli3100!

I'm actually done implementing it, but have had a hard time finding a good way to test it due to `matchMedia` not being implemented in JSDOM and therefore not really being able to change the `matches` value in the mock during the course of a test in `create.test.js`(already has tests for picking light as the default theme).

The issue seems to be that it's required to import

[2019-10-02 10:50] AkshayRana92 commented on #6490
Hi, I'm also having the same issue. Did anyone find a solution yet?

[2019-10-02 10:56] RichardPK opened #8270 "Access parameters within .stories.js files in .storybook/config.js"
**Is your feature request related to a problem? Please describe.**
I have added a global select decorator within config.js to handle the `html { background }` css property - this allows Storybook users to select the background colour on which  all components are rendered.

The website in question has 3 different possible background colours so it's useful to have this as a universal knob across all

[2019-10-02 10:59] gastonmorixe commented on #7340
Any update @shilman @mrmckeb ? We would love to use Storybook ASAP. Thanks

[2019-10-02 12:55] mrmckeb commented on #7340
@gastonmorixe if you try the new preset for CRA, it allows you to pass in a Babel plugin - or this will be enabled in Create React App as of v3.3 I believe (waiting on TS 3.7).

[2019-10-02 12:57] mazikwyry opened #8272 "Storyshots not working after upgrading to 5.2 (fileName is missing in the context from addon-storyshots-puppeteer)"
**Describe the bug**
After upgrade to 5.2, all the image snapshot tests are failing. It is because `fileName` is `undefined` in `context` that is exposed from `addon-storyshots-puppeteer`. I guess it has something to do with a new way we call `configure`.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade all packages to 5.2
2. Change `configure` to not receive loadStories, but `require

[2019-10-02 13:51] shilman commented on #8272
Closing as dupe to #7697

There's a PR for that which is marked "do not merge" .. @Hypnosphi any progress?

[2019-10-02 13:51] #8272 closed

[2019-10-02 13:56] shilman commented on #8270
Pretty sure the decorator function takes multiple arguments, including a context object that contains the story parameters.

[2019-10-02 14:00] shilman commented on #8267
@Aaron-Pool @ndelangen this looks like a core-js version. do you know if we have a workaround here?

[2019-10-02 14:15] shilman commented on #8265
@kykungz Yeah `Preview` is a bit special. We can either fix Storybook's MDX compiler to be more forgiving, or it's possible that MDX [components configuration](https://mdxjs.com/advanced/components) might allow you to override somehow. https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/theming.md#mdx-component-overrides

[2019-10-02 14:16] shilman commented on #8262
@andrewpeterprifer Indeed that was a misunderstanding. good catch! 😄

[2019-10-02 14:16] Aaron-Pool commented on #8267
If it's a version issue, you could add a `resolution` field to your package json to force it to resolve the corejs version you need. Then hope that doesn't break anything else 😅

In other news we should probably do a pass to update all our Vue dependencies at some point, I know that, at the very least, the Vue storybook app is still using a really old (and I believe deprecated) Babel preset.

[2019-10-02 14:18] maziarz commented on #8267
Can you please guide me with the suggested `resolution` field? I have never utilised this bad boy.

[2019-10-02 14:23] arthurdenner commented on #7825
@shilman, is this example available somewhere? I couldn't find it anywhere.

[2019-10-02 14:29] bitkris-dev opened #8274 "React-native: "Addon" view always opened at start"
Each time I refresh the app, I find the "Addon" tab opened and I've to switch tabs every single time. I'm on an iOS emulator, running a simple React Native app initialized with "react-native init" (v0.61.1).
(please note: **I don't use Expo**).

![Screenshot 2019-10-02 at 16 25 03](https://user-images.githubusercontent.com/12634286/66052628-35c87a80-e531-11e9-9110-18b5bc99effa.png)

As you can see

[2019-10-02 14:37] Hypnosphi commented on #8272
@shilman tomorrow is a public holyday in Germany so I think I'll be able to pick it up. What needs to be done is to remove the `displayName` part in favor of https://github.com/storybookjs/storybook/pull/7878#issuecomment-532397143

[2019-10-02 14:43] klangfarbe commented on #8255
Thanks for the info, I will check out #8133. Would be good if this could be an opt-in functionality.

[2019-10-02 15:11] ethikz opened #8276 "Disable Story panel"
I could be missing the option but I don't see anywhere in docs to disable showing the `Story` panel.

I still want to show other actions in the panel but just not the `Story` specific one

[2019-10-02 15:19] #8035 closed

[2019-10-02 15:42] dsuarezlogans commented on #6898
Hello @shilman, I will like to help with this, is my first contribution, can you help me to understand the issue?

[2019-10-02 15:54] dsuarezlogans commented on #4896
Hello! is still open? can I help on this?

[2019-10-02 16:40] thuringia commented on #8267
@maziarz just add the following to your `package.json`:
[code]
followed by running `yarn`.

Just change the version number to the one you want. I'm using `2.6.5` in my current vue project due to issues in IE11 with more recent versions of `core-js` 2. The vue babel presets etc. do not appear to support `core-js` 3 yet.

[2019-10-02 17:17] Aaron-Pool commented on #8267
Thanks for the assist @thuringia ! Did that fix things for you @maziarz ?

[2019-10-02 17:23] meeech commented on #7587
anyone find a solution yet? i've started down the path of dockerizing the snapshot creation (with goal of images being consistent between creation and pipeline testing), but this ticket makes me wonder if I'm going in the wrong direction?

[2019-10-02 17:52] maziarz commented on #8267
I tried to add the resolutions and run `yarn` followed by `yarn run dev`. Infact i get 36 errors instead of 32 now. Not sure if this is random.

[2019-10-02 17:58] Aaron-Pool commented on #8267
@maziarz is it the same errors + 4 more, or an entirely different set now?

[2019-10-02 18:17] maziarz commented on #8267
[code]

[2019-10-02 18:20] Aaron-Pool commented on #8267
@maziarz  Mind posting your package.json?

[2019-10-02 18:23] maziarz commented on #8267
More than happy to do so!

[code]

[2019-10-02 18:36] Aaron-Pool commented on #8267
You may have to change it to `**/core-js` since `core-js` isn't a direct dependency of your project.

See here: https://github.com/yarnpkg/yarn/issues/5759

If that doesn't work, I might try deleting your `node_modules` and `yarn.lock` file to regenerate your `yarn.lock` file.

[2019-10-02 18:38] maziarz commented on #8267
Awesome! That did the trick. Cheers, Aaron!

[2019-10-02 18:44] brianzinn commented on #8062
I have used this and my build output is not minified (5.2.1):
[code]
There is a CLI option to verify your your config (from https://storybook.js.org/docs/configurations/cli-options/).  ie:
`yarn build-storybook --debug-webpack`

I am having trouble currently even with `minimize=false` and setting NODE_ENV in package.json.  I have a dependency in `vendors~main...bundle` that is also in `main...bund

[2019-10-02 18:51] maziarz commented on #8267
Well damnit, i was a bit to excited with nuxt running, but now storybook is failing:

[code]

[2019-10-02 19:31] Aaron-Pool commented on #8267
I was afraid of that. Storybook is depending on core-js 3. Ok, try just resolving `core-js` dependency under `nuxt` to be `2.6.5`. This may mean you have two different versions of `core-js` in your project, which isn't optimal for bundle size, but it should at least be a temporary work around to get you going.

You may have to read through [this](https://yarnpkg.com/en/docs/selective-version-resol

[2019-10-02 20:04] Pau1fitz commented on #8276
@ethikz is [this](https://storybook.js.org/docs/configurations/options-parameter/) what you are looking for? `showNav`, `showPanel`?

[2019-10-02 21:29] jremi commented on #7097
I feel everyones pain on this issue. I also ran into the same problem. I am using Storybook with **Vue**. My vue project was created using Vue CLI 3.x. Whenever I attempted to import the markdown and associate the markdown to the Storybook notes it would fail.

However, I don't think this issue is really a problem with Storybook. It is more an issue with making sure you have a markdown-loader setu

[2019-10-02 22:18] atanasster commented on #8054
@ShotaEbikawa you can check something i have been experimenting with - its a combination of a webpack plugin that collects dependencies information, and a storybook addon to display the collected data as a tree. Its early stage and I am open to suggestions both for functionality as well as UI.

 https://github.com/atanasster/storybook-dep-webpack-plugin

[2019-10-02 22:39] sanchez commented on #7066
I would love to see the ability to hide the canvas tab for particular stories as well as being able to hide stories so you have the high-level docs tab for a component and that's it

[2019-10-02 23:52] shilman commented on #8004
Those classes should now be present in the SB Docs CSS in `next` (5.3.0-alpha.x). Documented here: https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/theming.md#css-escape-hatches

Closing for now!

[2019-10-02 23:52] #8004 closed

[2019-10-03 00:11] #7744 closed

[2019-10-03 00:26] sanchez commented on #6700
Knobs and Actions could be added on a per story basis, so on the docs page you have a "Controls" and "Actions" button the bottom left (similar to the code button on the bottom right). Triggering this buttons unfolds a small section where the user can use Knobs and Actions as they would in the past (similar again to how the code snippet folds out)

[2019-10-03 00:45] sanchez commented on #7066
My current fix for this is to just not have any "Story" tags in the documentation, however I then loose the ability for the "Show Code" button. Is there any way to have a preview+code without a Story? Thanks

[2019-10-03 02:50] sanchez commented on #8094
I have also discovered this little gem that has occured in the source viewer

![image](https://user-images.githubusercontent.com/5264697/66095802-3cf89280-e5dc-11e9-9322-599fc0f5e08b.png)

The code to reproduce this:

[code]

[2019-10-03 02:53] sanchez commented on #8094
Turns out the issue was to do with a css selector from another library sorry. However I am wondering why the code blocks aren't prefixed? Thanks

[2019-10-03 06:52] shilman commented on #7066
@sanchez see https://github.com/storybookjs/storybook/pull/7966

[2019-10-03 06:53] shilman commented on #6700
Lol @sanchez 😂

[2019-10-03 07:07] maziarz commented on #8267
Bit of a twist here. As of [Nuxt 2.6.0](https://nuxtjs.org/guide/release-notes#v2.6.0) it seems to be possible to use core-js@3. I tried to apply this to my current project (`"core-js": "3.0.1"`), but i still seem to get a very limited amount of errors now. Not sure if this is for better or worse :-)

[code]

[2019-10-03 07:23] shilman commented on #8094
w00t!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.7 containing PR #8260 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-03 07:23] shilman commented on #6088
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.7 containing PR #8271 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-03 07:23] #8094 closed

[2019-10-03 07:23] shilman commented on #8211
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.7 containing PR #8260 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-10-03 07:52] donaldpipowitch opened #8278 "Correctly hashed files are served without Cache-Control header"
**Describe the bug**
[By default media assets are handle with the `file-loader`.](https://github.com/storybookjs/storybook/blob/4c757d05f162925217751bb5d61518c108d0935b/docs/src/pages/configurations/serving-static-files/index.md#1-via-imports) They are correctly hashed, but not served with a `Cache-Control` header. If you use Storybook as a live preview while developing a component this will often

[2019-10-03 08:00] EdenTurgeman commented on #7587
@meeech Hey we've done the same here for a little while.. doesn't seem like there is a better option for now, would love to know why this is happening.

[2019-10-03 08:01] davidouanounou commented on #8124
Same here :)  If anyone have any hint

[2019-10-03 08:27] davidouanounou opened #8279 "[addon-docs] DocGen description are not displayed with StyledComponent"
**Describe the bug**
Description related to the component or to the props are not displayed when component is based on StyledComponent.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a component based on StyledComponent
2. Launch Storybook

**Expected behavior**
Should display description as expected

**Screenshots**
![image](https://user-images.githubusercontent.com/1861711/66110856

[2019-10-03 08:30] MarianSulgan commented on #7914
Same issue here.
@pierrenel I am not using mentioned addon and still get the error, so must be related to something else...
Adding list of addons I have - worked without problems on 5.1.9.
`@storybook/addon-actions/register
@storybook/addon-links/register
@storybook/addon-backgrounds/register
@storybook/addon-viewport/register
@storybook/addon-a11y/register`

[2019-10-03 08:41] CKeogh commented on #8111
Having the same issue here 😕. Are there any disadvantages to dropping back to knobs 5.1 for the time being?

[2019-10-03 08:52] fabiradi commented on #8111
`addon-docs` (with CSF and MDX) needs 5.2: I have migrated all my stories to CSF and created some MDX stories as well. I cannot go back.

**Workaround:** Create your own "knobs" using `useState` and simple form fields like`<input type="text" ...` or `<input type="range" ...`. It works if you really have to show interactivity, but it is a lot less comfortable. However, it also works in docs view.

[2019-10-03 08:57] maziarz commented on #8267
Nevermind. I deleted `node_modules` and the `yarn.lock`, everything seems to be running.

[2019-10-03 09:23] pierrenel commented on #7914
I tried 5.2.1 and still having the same issue - the getScrollAreaStyles code references a property on a theme which it doesn't have access to for some reason :(

[2019-10-03 09:35] morrigan commented on #6004
I can also confirm that this is still an issue with MetaMask. @shilman

[2019-10-03 09:53] ShotaEbikawa commented on #8054
Hi @atanasster,

I have checked the Dep addon that you are currently working on, and it looks fantastic! Additional functionalities that I will love to see is:
* If a user clicks on the given UI component's dependency tree's node, and if that node is a child component, it navigates to its story.
   * For instance, let us say that we are looking at the SearchBar component. The pattern lineage or ch

[2019-10-03 10:17] Hypnosphi commented on #8010
@JEricaM what do you see if you open http://localhost:6007/src/assets/fontawesome/css/all.css in your browser?

[2019-10-03 10:39] Hypnosphi commented on #8010
@JEricaM You probably have to pass `src/assets` as [statics directory](https://storybook.js.org/docs/configurations/serving-static-files/#2-via-a-directory) to storybook commands:

[code]

Then change the reference to `all.css`:
[code]

You shouldn't need `manager-head` at all, because you probably only want font awesome inside your own stories.

Here's an example of working setup: https://github.

[2019-10-03 11:33] Aaron-Pool commented on #8267
@maziarz sweet! Closing the issue then, let me know if anything else comes up!

[2019-10-03 11:33] #8267 closed

[2019-10-03 11:53] RichardPK commented on #8270
Hey @shilman thanks for your reply.

Could you explain a bit more about how to get access to this within my `config.js` `addDecorator ` method? As an example - I am passing a notes parameter into my stories, but I don't know how this can be accessed within the `config.js` `addDecorator ` method. When accessing the `story()` callback within addDecorator at the `config.js` level - it is returning an

[2019-10-03 12:11] atanasster commented on #8054
@ShotaEbikawa thanks, love your suggestions they make perfect sense.
However some are a bit trickier to implement (like listing the usage of a component)

Would you like to contribute to the code or with testing? In any case it would be good to discuss some of the features more in depth, especially some might require support for the storybook core.
@shilman is there a preferred place to discuss ad

[2019-10-03 12:52] frankstallone opened #8284 "⛔️ React 15.x Storybook upgrade => 5.2.x fails"
**Describe the bug**
Storybook 5.2.x no longer works with React 15.x. Seems to be an issue with Emotion

**To Reproduce**
Upgrading a working React 15.x Storybook, on version 5.1.x to 5.2.x
- `npx npm-check-updates '/storybook/' -u && npm i`
[code]
- `npm start` to get storybook running it fails to load and errors out in console.

**Expected behavior**
Magic 🧙🏻‍♀️

**Screenshots**
![error-01](http

[2019-10-03 14:23] victorvilaca commented on #6984
+1

[2019-10-03 14:52] #7763 closed

[2019-10-03 15:05] mathieuartu commented on #7729
Hi,
A little bump on this.

I've been following drastically the installation guide for addon-docs, replacing the preset with `@storybook/addon-docs/vue/preset` and I've tried for the last 24 hours to display a vue component within a .mdx file, but still no success...

Here is my Button.stories.mdx file

[code]

Then I run storybook and when I go the docs tab on the Button story, I get this error :

[2019-10-03 15:42] sebinsua commented on #8111
I had this issue at some point, but it disappeared once I ensured there were no duplicate packages in my `yarn.lock` file. I suspect that there is some kind of global shared state within Storybooks and there needs to be only one version of a package in the output for it to work, however I've not checked whether this is the case.

[2019-10-03 15:46] Aaron-Pool commented on #7729
@mathieuartu Vue JSX _does not_ currently work on `mdx` files. Hopefully something that will be addressed in one of the next few releases.

As for your edit, have you registered `Button` globally somewhere (a.k.a `Vue.component(Button)`)? Because, if not, you still need to declare it in your component definition like so:

[code]

[2019-10-03 15:51] mathieuartu commented on #7729
@Aaron-Pool Thank you so much for your answer! I understand and I'll keep waiting for the day Vue JSX works in mdx files :)
In the meantime, your solution worked like a charm! Thank you.

[2019-10-03 16:02] ethikz commented on #8276
@Pau1fitz No unfortunately.  That seems to not show the whole bottom panel for me.  I just wanted to not show the Story addon but I didn't see a way so I just removed the add on and it's gone.

[2019-10-03 16:14] wbern commented on #4947
Did some additional testing now:

It did stop working since after 5.1.9, because I tested 5.2.0 just now and it doesn't work.

I also just tested 5.3.0-alpha.7, and it still doesn't work (plus the build time was a lot longer).

[2019-10-03 16:38] carcoral commented on #7833
Hi Everyone,
I will be back from my paternity leave next week. I will start working on this and the issue list aI promised the group on Monday 10/7.

[2019-10-03 16:40] salmanm commented on #8279
I think this is related to https://github.com/storybookjs/babel-plugin-react-docgen/pull/74.

Can we get some feedback on that PR?

[2019-10-03 16:43] salmanm commented on #8134
I think this is the fix for it https://github.com/storybookjs/babel-plugin-react-docgen/pull/74

Can someone please take a look?

 @elevatebart @JeroenReumkens @shilman

[2019-10-03 16:48] UlanaXY commented on #8128
Same here.
And this is duplicate of  #7227
![obraz](https://user-images.githubusercontent.com/12629308/66146881-f328a000-e60d-11e9-84c1-7001cf3263d6.png)

[2019-10-03 17:00] jgodi opened #8286 "Addon-docs: Docs scrolling to bottom when loaded"
**Describe the bug**
When a user loads a doc page, the page automatically scrolls to the bottom of the story. It should scroll to the top or provide a way to disable the scroll altogether.

**To Reproduce**
Steps to reproduce the behavior:
1. Repro is here at https://github.com/jgodi/storybook-test
2. Load storybook
3. Go to the Icon Cheatsheet story
4. Notice that it scrolls to the bottom

**Expe

[2019-10-03 17:06] crubier commented on #7206
Any news on this ? @lroling8350 @ndelangen ?

[2019-10-03 18:02] aleclarson commented on #4063
I'm seeing this error in `@storybook/components@5.2.1`

[2019-10-03 18:59] ShotaEbikawa commented on #8054
@atanasster Thank you very much for your consideration! Although I am unable to contribute to the source code at the moment, I would love to keep in touch with you about future topics regarding the addon.

[2019-10-03 19:26] Fouaib commented on #4801
i still have the same issue :(

[2019-10-03 19:58] javierguzman opened #8288 "Storybook error when using react-bootstrap / react-router-bootstrap"
Hello all,

I have a simple Header component as follows:
[code]
When I create a story about the Header, it throws me this error:
![imagen](https://user-images.githubusercontent.com/906599/66159516-0fcdd380-e620-11e9-83dc-fca5d64193a8.png)

I think it might be related to react-router-boostrap. Has it been tested before with this library? Is there a way to fix that?

Thank you in advance.

[2019-10-03 20:11] hectormerla commented on #7855
I just updated to 5.2.1 and now I have the following errors:

[code]
**Is there any news about this issue?**

The `"skipLibCheck": true` is a good workaround for making it work but it doesn't show the knobs addon.

For now I think we need to go back to the pervious stable version until a fix for this is ready.

[2019-10-03 20:40] javierguzman commented on #8288
Sorry, found the issue. If I add "addDecorator(StoryRouter());" to the config.js it works.

[2019-10-03 20:40] #8288 closed

[2019-10-03 22:42] sergiop opened #8290 "Addon-docs: story source showing "No code available"."
Story source showing **"No code available"**

<img width="491" alt="Schermata 2019-10-04 alle 00 29 56" src="https://user-images.githubusercontent.com/2235134/66168738-60ecc000-e63e-11e9-9d79-3fc846e54539.png">

`/stories/button.stories.tsx`:
[code]
`/src/components/Button/Button.tsx`:
[code]
If I remove **"as Type"**, code block **is shown as expected** (but Typescript show me this error: *Type '

[2019-10-04 04:19] knuckleswolf commented on #7829
@zerofront In addition to what @enagy27 said.
In order to work with ***.stories.tsx**, you need to add something like this config:

**.storybook/webpack.config.js**

[code]

[2019-10-04 05:59] shilman commented on #7855
I'll release a patch PR later today that will hopefully fix some if not all of these issues.

[2019-10-04 06:01] shilman commented on #8054
@atanasster Anything related to dependency analysis we can discuss here (or elsewhere if there's another issue for it). If it's a change to core, especially a more "meta" one, e.g. how to handle metadata in doc blocks, it should probably have its own issue.

[2019-10-04 06:32] shilman commented on #8270
It would look something like this (typing on my phone from memory, so YMMV):

[code]

[2019-10-04 06:40] shilman commented on #8111
This might be fixed in #8287 which I'll deploy today

[2019-10-04 06:43] shilman commented on #4947
@wbern Can you show me the equivalent in the old format? It doesn't make sense that it would work in one and not the other. (The new syntax gets translated to the old syntax under the hood, so I think something else is going on.) Thanks!

[2019-10-04 06:44] shilman commented on #7833
Awesome @carcoral!

[2019-10-04 06:51] raphaellueckl opened #8292 "What is the actual requirement for a folder to appear as folder?"
We tried to approximate it, but nothing really turned out to be true.

![Screenshot 2019-10-04 at 08 48 18](https://user-images.githubusercontent.com/8248662/66187027-1beb7c80-e684-11e9-8c11-7d4a2a096f7d.png)

Is it the amount of stories inside the folder? Is it the amount of files that are being displayed within a folder? Or is it maybe the depth of the folder that makes it appear as a folder?

T

[2019-10-04 07:27] shilman commented on #8292
AFAIK "groups" that contain only stories are shown as components and groups that contain anything else are shown as folders.

I think we could change this behavior if there was an alternative proposal that made sense.

[2019-10-04 07:37] shilman commented on #6004
@lookfirst @morrigan can one of you open a separate issue? seems like it's something specific to metamask?

[2019-10-04 07:47] sergiop commented on #7829
@zerofront @enagy27 yesterday I discovered that my issue (that was apparently the same of @zerofront) was caused exactly by the return type on function.

This fixed for me:
[code]
Source:
https://github.com/strothj/react-docgen-typescript-loader/issues/42#issuecomment-535090697
And partially this note could be related:
https://github.com/strothj/react-docgen-typescript-loader#react-component-class

[2019-10-04 07:48] shilman commented on #8087
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.9 containing PR #8100 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-04 07:48] shilman commented on #8165
Yippee!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.9 containing PR #8287 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-04 07:48] shilman commented on #8208
Hurrah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.9 containing PR #8258 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-04 07:48] #8165 closed

[2019-10-04 07:48] #8087 closed

[2019-10-04 07:53] one-thunder commented on #7842
Heyo, this is still present in `@storybook/addon-info": "~5.2.1` can we get just fix related to that regexp DoS issue. I know there is a proposal to just move to `addon-docs` but at the project I am working on, there is a sceptical approach to new libraries (yeah I know how it sounds). So just rising this issue once again as I saw it already being marked as innactive

[2019-10-04 08:12] ndelangen commented on #7833
@carcoral happy to help, PM me on discord if you want to pair on this.
https://discord.gg/sMFvFsG

[2019-10-04 08:50] kanishk30 opened #8293 "Can't access React v3.3 of storybook"
I need to migrate from v3.3 to v5.2 of storybook for my app build in react. However, I m unable to see the diff and go through the docs of v3.3.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://release-3-3--storybooks-official.netlify.com/
2. See error of NOT FOUND

**Expected behavior**
Shouls work to see the expected behaviour

[2019-10-04 08:53] jhesgodi commented on #4600
@alexlafroscia Thanks for sharing your findings. Can I ask how can I debug the `CustomDocsPage`?

I've tried adding it with `addParameters` and it doesn't seem to be using the custom but the default instead.

<details>
  <summary> `.storybook/config.js` setup</summary>

[code]
</details>

Thanks in advance.

[2019-10-04 09:04] sami616 commented on #7914
I am suddenly seeing this after updating to the new `alpha.9` release.

[2019-10-04 09:50] stof commented on #8208
The merged PR fixes only half of it. We still have `regenerator-runtime` 0.11 bundled due to the old version of `react-syntax-highlighter`, so I'm reopening this issue until the second related PR is also merged.

[2019-10-04 10:25] sergiop commented on #8290
I have a similar issue with `addon: storysource`, caused by the same type declaration inside the **Button** story. Other components story sources work as expected. This makes me think that is not `addon: docs` related issue.

Let me know if you need me to share a github repo with this config to reproduce the issue.

<img width="521" alt="Screenshot_2019-10-04_at_12_18_33" src="https://user-images.

[2019-10-04 10:46] raphaellueckl commented on #8292
Thanks @shilman , issue can be closed if you want.

[2019-10-04 11:01] shilman commented on #8068
Closing this as a duplicate to #8184

[2019-10-04 11:05] shilman commented on #8293
Recommended reading:

- https://medium.com/storybookjs/migrating-to-storybook-4-c65b19a03d2c
- https://medium.com/storybookjs/storybook-5-migration-guide-d804b38c739d

[2019-10-04 11:10] RichardPK commented on #8270
@shilman you G. Exactly what I was looking for!

[2019-10-04 11:47] jpaas commented on #8274
I've been having the same issue since I moved up to React Native 0.60.x

[2019-10-04 11:48] jpaas commented on #8274
It also stopped connecting to the storybook server, so these two issues together have made it not a lot of fun to use lately

[2019-10-04 12:24] donaldpipowitch opened #8294 "@storybook/source-loader messes with custom hooks - evaluates source code?"
**Describe the bug**
I have a custom component using a custom hook. The hook runs an assertion on the context at runtime. I don't know why, but it looks like the source loader runs parts of its logic on _my_ context/hook which throws an error.

**To Reproduce**
Clone this repo and follow README:
https://github.com/donaldpipowitch/storybook-bug-demo-source-loader-context-null

**Expected behavior**

[2019-10-04 12:42] johnmccollum commented on #8226
Just wanted to leave a quick note to say that I made exactly the same error with the theme - so your post helped me too. Thanks!

[2019-10-04 12:48] Vivek205 opened #8295 "Material UI - custom styles are not getting applied"
**Describe the bug**
The default styles of the material-ui components are overriding my styles.It is happening only in the storybook.

**To Reproduce**
Steps to reproduce the behavior:
1. Customize MaterialUI `Button` component using `makeStyles`.
2. Host the app using storybook.
3. You will find that your styles are ignored by the browser.

**Expected behavior**
I want to view my customized Mater

[2019-10-04 15:14] dcecile commented on #8165
Thanks @Hypnosphi and @shilman! The fix worked in v5.3.0-alpha.9 worked right away for my minimal reproduction, and also worked for my app once I replaced `React.createElement(story)` with `story()` in one of my decorators.

There's one more bug though: when the Storybook gets hot-reloaded, an extra button handler gets added. For my [minimal repro](https://github.com/dcecile/storybook-react-ts-kno

[2019-10-04 15:14] alexlafroscia commented on #4600
I ran into that issue as well -- I had to override the `DocsPage` component at the "component" level

https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/docspage.md#replacing-docspage

[2019-10-04 15:16] wkoutre commented on #8274
Same issue with RN >= 0.60

[2019-10-04 15:24] wkoutre commented on #8274
As a workaround, if you're okay with exclusively using the browser GUI (rather than `onDeviceUI`), you can set it up like:

[code]

[2019-10-04 15:53] kamranayub commented on #8184
Additionally, perhaps a separate issue, but `docs` ingests the JSDoc on a component, and in a large component library it'd be awesome to easily link between components. For example, this would be a common case of composed components:

[code]

## Prior Art

In [TypeDoc](https://typedoc.org/guides/doccomments/#symbol-references) for example the `[[symbol|display text]]` syntax denotes an internal sy

[2019-10-04 16:06] jlazarski commented on #8230
Agreed.  Please add this functionality back in.  It is necessary on occasion to react to a viewport change in code that wouldn't be covered by just CSS alone.

[2019-10-04 16:13] bitkris-dev commented on #8274
Many thanks, it indeed solves the UI problem, but I don't have anymore a way to open the Addons or Navigator tabs (which I need). What is the browser GUI?

[2019-10-04 16:22] kamranayub opened #8296 "[addon-docs] Deep linking to "kind" in JSDoc comments"
**Is your feature request related to a problem? Please describe.**

In JSDocs for components, we may want to link to another component but it seems the "selectedKind" syntax may not work nicely when specifying `|` characters, like so:

[code]

The `@link` JSDoc will not translate to a link anyway, so perhaps that's out-of-scope for this request.

The syntax is also a bit awkward, it would be great

[2019-10-04 16:56] tassoevan commented on #8265
@shilman BTW, there is no way to get source code without wrapping it into a `Story` component, right? So `Preview` can't really be used for documentation-only stories.

[2019-10-04 17:40] tflx commented on #8252
Hmm...It works now but I'm sorry to say that I have no idea why. As far as I know I have not done any changes related to storybook.

[2019-10-04 17:40] #8252 closed

[2019-10-04 18:15] wkoutre commented on #8274
@bitkris-dev

My config is:

[code]
So, with the `sotyrbook` server running, browser GUI can be found at `http://localhost:7007/`.

[2019-10-04 19:30] #7361 closed

[2019-10-04 19:44] danhead opened #8297 "Displaying imported HTML in Storysource"
### Support request summary

I would like to be able to display imported HTML in the Storysource panel, rather than the contents of the `.stories.js` file.

### Steps to reproduce

1. Create a new package and create/amend the two files below:

__html/button.html:__
[code]

__stories/index.stories.js:__
[code]

2. Set up Storysource addon as per package [README](https://github.com/storybookjs/story

[2019-10-04 20:08] Hypnosphi commented on #8165
@dcecile yes please

[2019-10-04 21:55] shilman commented on #8074
@dsusskind Sorry for the late response. This sounds like a bug to me. If you could open a PR with the fix and also an example inside `examples/official-storybook` to make it easier for our designer @domyen to review, that would be amazing!

[2019-10-04 21:59] shilman commented on #8265
@tassoevan There's a PR for this https://github.com/storybookjs/storybook/pull/7966

[2019-10-04 22:02] shilman commented on #8296
Related #8184

[2019-10-04 22:03] dcecile opened #8298 "Button knobs get extra callbacks on hot reload"
**Describe the bug**
Button knobs get an extra callback added for each hot reload of Storybook. Many source code changes results in button knob effects getting applied many times.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up my minimal stories:
[code]
2. Click a button knob, see increment/decrement by 1
3. Keeping Storybook running, change a source file, see it hot reload
2. Click

[2019-10-04 22:03] dcecile commented on #8165
@Hypnosphi No problem, I've created #8298

[2019-10-04 22:06] shilman commented on #8270
Awesome!

[2019-10-04 22:06] #8270 closed

[2019-10-04 22:06] #8292 closed

[2019-10-05 00:40] shilman commented on #7697
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.10 containing PR #8000 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-05 00:40] #7697 closed

[2019-10-05 06:10] celinrayen commented on #8294
Can I take a look on it if it the issue is still open?

[2019-10-05 07:51] donaldpipowitch commented on #8294
The issue should still be open. 🙂 Thank you.

[2019-10-05 08:54] speculees opened #8301 "Static build bug. Build creates storybook that opens storybook instead of stories in an infinite loop"
The bug appears when I build static storybook only with `yarn build-storybook` . Development built with `yarn storybook` works as expected. Once static storybook is deployed the sort of loads it self recursively in an infinite loop. Spent whole day debugging but no luck. It would be great if anyone could help me out with this. I am using "yarn workspaces" with typescript and I expect that might be

[2019-10-05 09:21] LeBenLeBen opened #8302 "Storiesof-to-csf codemod throws cannot find core-js module"
**Describe the bug**
When running the codemod script to migrate storiesof stories to csf format, the command throws the following error:

[code]

I've already tried everything suggested in #8267 but nothing worked so far.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `npx -p @storybook/cli@next sb migrate storiesof-to-csf --glob "**/*.stories.js"` in a project with some Storybook stori

[2019-10-05 09:36] LeBenLeBen commented on #8302
Whoops, this is very similar to #8209, I'll let you decide if it's worth keeping separately or closed as duplicate.

[2019-10-05 12:37] speculees commented on #8301
I Just created an new project without yarn workspaces and got the same issue. Here are my steps
[code]

[2019-10-05 13:47] gaetanmaisse commented on #8002
I discussed with @ndelangen on this and we agree to remove this dep as a quick fix. Moreover, it looks like the next major release of Jest will certainly fix the issue @ndelangen face when `weak` is not listed as a dependency.
More context about this in my PR https://github.com/storybookjs/storybook/pull/8300.

[2019-10-05 14:20] faun commented on #8076
This question still stands, robot.

[2019-10-05 15:22] speculees commented on #8295
You create a HOC component with MUIs ThemeProvider, then use is in each story

[2019-10-05 16:22] javierguzman opened #8303 "Is it possible to mock the current url?"
Hello,

I have a component that behaves in two ways depending on the url the user is currently visiting. I know there is a queryparam addon that allows you to mock query parameters. However,  I have not found anything related to the url itself. Is there a way to tell a story with a specific url?

Thank you in advance and regards.

[2019-10-05 17:42] lucasjs commented on #7246
This section helped me a lot:
https://storybook.js.org/docs/configurations/custom-webpack-config/#using-your-existing-config

[2019-10-05 18:41] dsusskind commented on #8074
No worries and thanks for following up. Sure I’ll put something up for review next week.

[2019-10-05 21:14] wbern commented on #4947
@shilman please see the code snippet in comment further up, that's the old format which didn't work for me in the version described in that post. https://github.com/storybookjs/storybook/issues/4947#issuecomment-532616346

[2019-10-05 21:25] wbern commented on #4947
Oh I see what you mean now.. I'll have to come back and test later..

[2019-10-05 23:23] jgodi commented on #8148
@shilman any update on this part? Would love to try this out.

[2019-10-05 23:25] hannah-saurusrex commented on #4896
Hi there, I just submitted a pull request for this fix. Let me know if I need to adjust anything for approval. Thanks!

[2019-10-06 00:42] shilman commented on #8148
@jgodi Not yet, I'll try to get something out this week!

[2019-10-06 00:49] shilman commented on #8076
We deal with this in [Chromatic](https://www.chromaticqa.com/) and AFAIK I know there is no easy way to do this on the Storybook side in a browser-independent way.

[2019-10-06 01:18] shilman commented on #8301
Dupe to https://github.com/storybookjs/storybook/issues/5269

Just `serve` from within the directory or use a different HTTP server

[2019-10-06 01:18] #8301 closed

[2019-10-06 01:19] shilman commented on #8302
Yeah closing as dupe to #8209

[2019-10-06 01:19] #8302 closed

[2019-10-06 02:49] shilman commented on #8002
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.11 containing PR #8300 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-06 02:49] #8002 closed

[2019-10-06 08:40] w3nda commented on #8209
For me this happens `Cannot find module 'react'`, is there any progress on fixing this issue?

[2019-10-06 10:37] yaelballa commented on #8095
Had the same problem, just with React (I'm not using react-native)

As a workaround, you can add location property on the global window type:

[code]

[2019-10-06 11:30] kushalmahajan commented on #8245
Code runs and no snapshots are generated.

`storybook.test.js` taken from section [here](https://github.com/storybookjs/storybook/tree/master/addons/storyshots/storyshots-core)

[code]

[2019-10-06 12:51] aleccaputo commented on #7899
for a little more context, i opened this #8115 issue a bit ago. Looks like some flow types (like primitives) are working by side effect, but like in my example "enums" or more complex types aren't supported

[2019-10-06 13:09] aleccaputo commented on #8115
@shilman i'd like to take a crack at this. Mind assigning it to me?

[2019-10-06 13:17] wgpsutherland opened #8306 "Storybook hot reloading causes hooks error"
I get the following error when my storybook hot reloads. It works perfectly on the first load:

    TypeError: Cannot read property 'hooks' of undefined
    at StoryStore.cleanHooks (http://localhost:9009/vendors~main.0e777466815571a0333e.bundle.js:6197:22)
    at renderMain (http://localhost:9009/vendors~main.0e777466815571a0333e.bundle.js:8181:22)
    at StoryStore.renderUI (http://localhost:900

[2019-10-06 14:42] #7769 closed

[2019-10-06 14:50] shilman commented on #8306
@wgpsutherland Have you tried `4.3.0-alpha.x`? There are one or more related bugfixes there that haven't made it back to `latest` yet.

[2019-10-06 14:51] shilman commented on #8115
Of course @aleccaputo! Thanks for taking it on! 🙏

[2019-10-06 15:59] ManAnRuck opened #8307 "[RN] hierarchySeparator"
**Is your feature request related to a problem? Please describe.**
on desktop hierarchySeparator option works to separate storiesOf by separator after including addon-options

**Describe the solution you'd like**
ondevice-addon for same behaviour of hierarchySeparator

**Describe alternatives you've considered**
full support of Addon-options or just the part for hierarchySeparator

**Are you able

[2019-10-06 18:42] #7560 closed

[2019-10-06 19:24] wgpsutherland commented on #8306
Hey, thanks for the reply. I upgraded from

    devDependencies": {
        "@storybook/addon-actions": "^5.2.1",
        "@storybook/addon-info": "^5.2.1",
        "@storybook/addon-links": "^5.2.1",
        "@storybook/addons": "^5.2.1",
        "@storybook/react": "^5.2.1",
        "@types/storybook__react": "^4.0.2"
     }

to

    "devDependencies": {
        "@storybook/addon-actions": "^5.3

[2019-10-06 21:52] shilman commented on #8306
@wgpsutherland Thanks for trying. Can you try disabling `addon-info`? It's been mostly replaced by `addon-docs` and it wouldn't surprise me if it's what's causing the problem.

[2019-10-06 23:15] Hypnosphi commented on #8306
@wgpsutherland does it happen on any code change?

[2019-10-06 23:27] danthareja commented on #7360
@devtoni's workaround worked for me too, with one additional change.

As of Storybook `v6.9.0`, I had to add `pdf` to the test regex that was being replaced. The updated code that worked for me is:

[code]

[2019-10-07 00:19] #8108 closed

[2019-10-07 00:20] shilman commented on #7779
@kroeder I think we're upgraded to node 10 now 💯

[2019-10-07 01:21] eldewen opened #8308 "How to enable [HMR] console logging in 5.2"
I'm hesitant to upgrade from 5.1 to 5.2, as it appears Webpack's [HMR] console logging has been disabled. Can this be re-enabled through configuration?

I've tried creating `./.storybook/webpack.config.js` with:

[code]

...and an assortment of variations, but no change.

[2019-10-07 01:53] shilman commented on #8308
@ndelangen any ideas?

[2019-10-07 04:15] mbpreble commented on #6349
This appears fixed by a change to `@types/react-redux`, which added this explicit dependency: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/33690

The 'build' target of `yarn bootstrap` still succeeds with the explicit dependency removed, opened PR #8310 to remove it.

[2019-10-07 06:54] eightHundreds commented on #8187
move `@types/react-syntax-highlighter` to `devDependencies` it should not be difficult.

[2019-10-07 07:20] gaetanmaisse commented on #8187
Moving `@types/react-syntax-highlighter` to `dependencies` was made here https://github.com/storybookjs/storybook/commit/df95686aeaba7da0bdfa97a9edb53a62723514c3 to fix https://github.com/storybookjs/storybook/pull/7072 😞
This issue needs some deeper investigation in order to not reopen https://github.com/storybookjs/storybook/pull/7072 🕵

[2019-10-07 07:28] dongmingchao commented on #416
Set`"esModuleInterop": true`instead.
[About](https://stackoverflow.com/questions/47493958/react-is-undefined-cannot-read-property-createelement-of-undefined)
for more people

[2019-10-07 07:36] robaxelsen commented on #7855
@shilman Thanks! Is there anywhere I can track when the mentioned PR will be part of a new stable release, like a milestone?

For reference, this is also affecting Stencil.js projects with Storybook.

[2019-10-07 07:47] MichaelBitard commented on #7152
Not sure if that's about CRA, I'm having the same issue using vuejs, so I guess it's related to jest and require-context

[2019-10-07 07:59] shilman opened #8311 "MDX: Better ergonomics for documenting CSF"
## Why

Documenting CSF stories in MDX is a common use case, but it's currently verbose/circuitous: https://github.com/storybookjs/storybook/commit/fc0f93f879114e0c485fbd420bc6a3f1cecfd620?short_path=0aa1b06#diff-0aa1b06709079cb04fe9d85f635caf68

## What

We can do this more ergonomically by:
- defining stories in CSF, but not loading them into storybook
- importing the CSF stories in MDX, and loa

[2019-10-07 08:17] shilman commented on #7855
@robaxelsen This is the PR and it looks like it's only for a few packages, and won't fix the stencil problem: https://github.com/storybookjs/storybook/pull/8119

Would you be able to create an analogous PR for that?

[2019-10-07 08:32] robaxelsen commented on #7855
Thanks. We're using `@storybook/html`, and I just tested 5.2.1 with explicitly installed `@types/weboack-env` on top, and that fixes the issue. Am I then right, having looked at the references PR, that the addition of `@types/webpack-env` there should fix my issue? If not, or uncertain, I would need pointers in what package/s to make the analogues PR for.

[2019-10-07 08:49] shilman commented on #7855
@robaxelsen Oops, I missed that! SMH. Ok I'll patch that in and comment here when it's ready.

[2019-10-07 09:12] Vivek205 commented on #8295
@speculees I have already created a HOC for MUI and added it using `addDecorator` globally.. The issue is, the default styles of MUI are overriding my styles. The way I see it is, the default styles are added after my styles are added, so it changes the `css specificity`

[2019-10-07 10:14] shilman commented on #7697
Great Caesar's ghost!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.2 containing PR #8000 that references this issue. Upgrade today to try it out!

[2019-10-07 10:14] shilman commented on #8005
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.2 containing PR #8006 that references this issue. Upgrade today to try it out!

[2019-10-07 10:14] shilman commented on #8051
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.2 containing PR #8061 that references this issue. Upgrade today to try it out!

[2019-10-07 10:14] shilman commented on #8083
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.2 containing PR #8163 that references this issue. Upgrade today to try it out!

[2019-10-07 10:14] shilman commented on #8087
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.2 containing PR #8100 that references this issue. Upgrade today to try it out!

[2019-10-07 10:14] shilman commented on #8094
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.2 containing PR #8260 that references this issue. Upgrade today to try it out!

[2019-10-07 10:14] shilman commented on #8105
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.2 containing PR #8118 that references this issue. Upgrade today to try it out!

[2019-10-07 10:14] shilman commented on #8110
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.2 containing PR #8119 that references this issue. Upgrade today to try it out!

[2019-10-07 10:14] shilman commented on #8211
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.2 containing PR #8260 that references this issue. Upgrade today to try it out!

[2019-10-07 10:43] pedroapfilho opened #8314 "broken build on version 5.2.2"
**Describe the bug**
Build is broken after updated to version 5.2.2

**To Reproduce**

1. Upgrade storybook to version 5.2.2
2. run storybook

**Expected behavior**

Build runs correctly

**Code snippets**

[code]

**System:**

[code]

[2019-10-07 10:47] shilman commented on #8314
@pedroapfilho Confirmed. It's a bad merge from `next`. Trying to fix it now!

[2019-10-07 10:50] abrcdf1023 opened #8315 "storybook/react@5.2.2 manual setup get Error "Can't resolve '@storybook/core/client'""
**Describe the bug**
I followed the manual setup in [guide page](https://storybook.js.org/docs/guides/guide-react/) with empty project and got these errors.
[code]
**To Reproduce**
Please follow the manual setup to create a new project.

**Expected behavior**
It should not have any error.

**Screenshots**
<img width="1849" alt="螢幕快照 2019-10-07 18 48 29" src="https://user-images.githubusercontent.c

[2019-10-07 10:56] pedroapfilho commented on #8314
@shilman np! Thanks for that!

[2019-10-07 11:09] sbadulin commented on #8315
Also have this problem after updating to 5.2.2

[2019-10-07 11:14] selrond commented on #8315
same issue as in #8314

[2019-10-07 11:14] nrdlab commented on #8315
Same here !!!  in 5.2.2

[2019-10-07 11:15] shilman commented on #8181
w00t!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.3 containing PR #8182 that references this issue. Upgrade today to try it out!

[2019-10-07 11:15] shilman commented on #8314
Fixed! https://github.com/storybookjs/storybook/releases/tag/v5.2.3

[2019-10-07 11:21] selrond commented on #8315
https://github.com/storybookjs/storybook/issues/8314#issuecomment-538958206

[2019-10-07 11:22] sbadulin commented on #8315
I've updated all dependencies with npx npm-check-updates -t -u '/storybook/' and now it's all good.

[2019-10-07 11:22] selrond commented on #8314
@shilman thanks! Can confirm it's working now

[2019-10-07 11:22] kevinsimper opened #8316 "Output webpack with absolute paths"
I am trying to get storybook to output `<script>` to load with absolute path, but it seems very difficult.

I tried providing my own webpack config, but that didn't help
[code]

Neither did the `$ npx build-storybook -c .storybook -o 'static/storybook' -s '/static/storybook'`

I did also find the `$ yarn storybook --debug-webpack` and I also looked in the template if there were an option `'... @st

[2019-10-07 11:25] nrdlab commented on #8315
Fixed in `"5.2.3"` , just update your storybook and everythink will work as always !!!

[2019-10-07 11:30] shilman commented on #8315
Thanks guys. Sorry for the hassle!

[2019-10-07 11:30] #8315 closed

[2019-10-07 12:10] pedroapfilho commented on #8314
It's working! Thanks!

[2019-10-07 12:10] #8314 closed

[2019-10-07 12:19] montezume commented on #6471
I'm also having this issue with the errors / warnings about reusing synthetic events. Any ideas to do a quick fix? There must be a way to wrap `action` so that we call event.persist() before it runs?

[2019-10-07 12:36] ndelangen commented on #8208
It's merged!

[2019-10-07 12:37] numerized commented on #7720
This should be added to the documentation where deprecated info onStory is shown.

[2019-10-07 12:37] ndelangen commented on #8208
@stof thank you so much for your efforts!

[2019-10-07 12:44] kfayelun commented on #8080
Hey! As discussed on discord I'm getting the same issue, and here is my repo: https://github.com/netliferesearch/netlife2019/tree/adding_storybook_/web

[2019-10-07 12:50] ndelangen commented on #8062
Hey Brian,
I don't have too much to go on for now. Can you please verify that the boolean makes it to the final config?

If it is, than it's a Webpack issue I think.

[2019-10-07 13:32] alazurenko commented on #8051
Thank you!

[2019-10-07 14:08] #8276 closed

[2019-10-07 14:37] romaindurand opened #8318 "using svg-spritemap-webpack-plugin with storybook"
I'm using a pretty straightforward config file, but no file is emitted

**To Reproduce**
Steps to reproduce the behavior (I created a minimal repo to reproduce the issue)
- clone https://github.com/romaindurand/storybook-svgspritemap/
- install deps, run storybook, search for generated spritemap

**Expected behavior**
A spritemap.svg file should be generated in `./node_modules/@storybook/core/dist

[2019-10-07 14:48] shilman commented on #8080
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.12 containing PR #8317 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-07 14:48] shilman commented on #8116
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.12 containing PR #8197 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-07 14:48] #8080 closed

[2019-10-07 14:48] #8116 closed

[2019-10-07 16:16] fabiomartins87 commented on #7664
I would like to help on this. I am not familiarized with the codebase...could you just give me a tip on where to start?

[2019-10-07 16:25] hipstersmoothie commented on #8128
This seems like a good opportunity for a pull request @UlanaXY if you don't want to get the ball rolling, I can.

[2019-10-07 16:42] chasemccoy commented on #8209
Running the codemod with version `5.2.0` of the Storybook CLI solved this issue for me:

`npx -p @storybook/cli@5.2.0 sb migrate storiesof-to-csf --glob "src/**/*.stories.js"`

[2019-10-07 16:53] UlanaXY commented on #8128
@hipstersmoothie I already cloned the repo to open a PR, unfortunately I was not able to install dependencies on any of my machines (Win10, OSX) - and I do not want to open an untested PR. So if You'd have the time to test the code and open a PR, that would be great.

[2019-10-07 17:28] brianzinn commented on #8062
@ndelangen What I can verify is that with the web.config above that I was able to turn off minimize in prod build on 5.2.1.

The other things I mentioned were solved by a custom .babelrc (otherwise imported modules were corrupted).  I think this can be closed, but I was hoping @jorenbroekema would reply with his full file to confirm.

[2019-10-07 18:17] afmire877 commented on #7954
@shilman Can you elaborate more on the this?

[2019-10-07 18:47] shilman commented on #7914
@sami616 upgrading from what?

[2019-10-07 18:59] wgpsutherland commented on #8306
@shilman I'm afraid it still happens after removing `addon-info`.
@Hypnosphi the error happens when modifying the story code of the story the browser is on, and the story you just changed disappears from the sidebar and the error is persistent across all other stories. When you modify the code of a story the browser is not currently navigated to, the story that you modified disappears from the sid

[2019-10-07 19:34] jorenbroekema commented on #8062
Hey guys thanks for looking into this. I will look into this tomorrow afternoon to see if I can still reproduce this problem with the latest storybook, and if so, post the minimum config I can reproduce it with :).

Oh and I'll use `yarn build-storybook --debug-webpack` to see if it flags anything, didn't know about this feature ;).

[2019-10-07 19:41] dhuang612 commented on #6596
Hi,

I would like to take this on!

[2019-10-07 20:40] hipstersmoothie opened #8321 "Build Error due to `@emotion/core`"
**Describe the bug**

The inclusion of `@emotion/core` types is modifying the global react module, which eventually makes its way into my types. Users of my component (which do not use emotion) get build errors because the type modification is not happening for consumers of the components

**To Reproduce**
Steps to reproduce the behavior:
1. Create a design system using typescript
2. Create the fo

[2019-10-07 21:20] JamesIves opened #8322 "mdx is not compiling"
**Describe the bug**

I'm trying to get `addon-docs` working, but I'm running into a syntax error and I'm not sure why. I'm requiring `addon-docs` via `presets.js`, and I've updated my story loader to support `mdx` like so:

[code]

[code]

I've got a single story named `Box.story.mdx` which you can view [here](https://github.com/UnitedIncome/components/blob/app-4006/components/atoms/Box/Box.story

[2019-10-07 22:24] jakemhiller commented on #8286
The smooth scrolling in general seems a little off. If i have a long page with a lot of stories, clicking on each one jumps to the top of the page and slowly scrolls down, and the story i'm scrolling do ends up at the bottom of the page.

I think these settings need some adjustment:

https://github.com/storybookjs/storybook/pull/7994/files#diff-e6335e6f979d5e741b3d10a7e7106ec5R60-R64

This feels b

[2019-10-07 23:52] sanchez commented on #6981
I have noticed this issue has come back in version `5.3.0-alpha.12`. The issue has occurred on both the code blocks and Story source viewing.

![image](https://user-images.githubusercontent.com/5264697/66357182-45bce000-e9b1-11e9-871e-861da81ad656.png)

Thanks!

[2019-10-08 00:46] shilman commented on #8322
@JamesIves Looking at that branch:

- Great-looking storybook! 💯
- You'll need to update the `configure` call in `.storybook/config.js`: https://github.com/storybookjs/storybook/blob/next/docs/src/pages/basics/writing-stories/index.md#loading-stories

I checked out your branch and made the following mod and it's working for me:

[code]

My changes don't explain the error you're seeing, however, so

[2019-10-08 01:50] shilman commented on #6349
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.13 containing PR #8310 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-08 01:50] shilman commented on #7837
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.13 containing PR #8313 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-08 01:50] shilman commented on #8311
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.13 containing PR #8312 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-08 01:50] #6349 closed

[2019-10-08 01:50] #7837 closed

[2019-10-08 01:50] #8311 closed

[2019-10-08 02:53] clintandrewhall commented on #8020
Hi @leoyli -- I was curious if you'd made any headway, and if I could be of any help?

[2019-10-08 02:54] clintandrewhall commented on #8019
Hi @leoyli -- I was curious if you'd made any headway, and if I could be of any help?

[2019-10-08 02:56] annaemu opened #8324 "Unable to resolve path to module '@storybook/addon-info'"
**Describe the bug**
We are using storybook ^5.2.1, and have found our builds to be recently failing with `Unable to resolve path to module '@storybook/addon-info'` with no changes. Happens locally and on the build server.

We recently upgraded storybook from v4 to v5, which was working before. The branches on the old v4 continue to build. All branches on v5 have started to fail with no changes.

[2019-10-08 03:31] annaemu commented on #8324
I can confirm that the error occurs as of v5.2.2. When version locked to v5.2.1, everything still works as expected.

[2019-10-08 03:50] tunaranch commented on #3449
Came across this error while trying to add a global decorator in my vue app.

Found something similar to this snippet after some digging, in case it helps someone else:

In my `config.ts`:

[code]

[2019-10-08 05:16] graup commented on #6548
@shilman yes, I believe this is still an issue, albeit a low priority one since there are possible (hacky) workarounds. Looks like nobody has a need for this strong enough to whip up a PR.

[2019-10-08 06:43] vanoMekantsishvili opened #8328 "Couldn't load images from public folder, looks like something is missing from documentation."
I am trying to load images from public folder like "import imageName from "../../public/imageName.svg" but it is not working. I added file loader as documentation suggested but still not working. please anyone give me any suggestions.

My custom Webpack config looks like below:

[code]

It show error below:

<img width="613" alt="error" src="https://user-images.githubusercontent.com/15087225/66372

[2019-10-08 07:32] HansCronau opened #8329 ""export 'ThemePalette' was not found in '@angular/material'"
I would like Storybook to include components that use Angular Material. For a reason I have yet to discover, Storybook throws the following warnings:

[code]

and

[code]

I have rebuilt the project from scratch and upgraded Angular and Storybook to the newest possible versions. (Note that due to a [bug](https://github.com/storybookjs/storybook/issues/7877) it's currently not possible for me to us

[2019-10-08 08:57] larswittenberg commented on #8104
thx. this works for me.

[2019-10-08 09:31] yiling-e0 commented on #8267
I have the same problem, how to solve it in the end? Thank you

[2019-10-08 09:46] LiamMartens opened #8336 "No Prop Types detected when using forwardRef (React +TypeScript)"
**Describe the bug**
When using `React.forwardRef` the prop types table is not correctly generated. From the moment I remove the forward ref stuff everything works as expected. Another thing to note, which might be related, is the fact that the story source loader also corrupts and is unable to show the component name when using forwardRef.

**To Reproduce**
Use reproduction repository [repository

[2019-10-08 10:00] darondel opened #8337 "TypeScript Preset - Make react-docgen-typescript-loader optional"
**Description**
At the moment, we cannot use  the TypeScript preset without installing `react-docgen-typescript-loader`. This one should be optional for non-React storybooks.

**Solution**
Make `react-docgen-typescript-loader` dependency optional.

**Alternatives**
None.

**Are you able to assist bring the feature to reality?**
If I can help, yes of course. :)

**Additional context**
None.

[2019-10-08 10:01] shilman commented on #8336
`Addon-info` is being superceded by `addon-docs`, which fixes a bunch of bugs and is easier to maintain. Please give it a try! https://medium.com/storybookjs/storybook-docspage-e185bc3622bf

[2019-10-08 10:20] shilman commented on #6706
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.15 containing PR #7929 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-08 10:20] #6706 closed

[2019-10-08 10:36] vanoMekantsishvili commented on #5941
@elie222 hello, did you make it work? I am struggling to load svgs, I've tried almost every kind of loader, file-loader, url-loader, svg-inline-loader but  without any luck. If you fixed it, Please provide your working code. Thank you.

[2019-10-08 11:11] RichardPK commented on #6204
This is a workaround rather than a fix, but rolling back ALL of my Storybook packages (including addons) to v 5.0.6 has fixed this. Nothing else in this thread helped.

(Commands for React + Yarn below, but easily translatable to NPM/Vue):

First up:
[code]

Followed by:
[code]

[2019-10-08 11:26] Aaron-Pool commented on #8267
@yiling-e0 based on what @maziarz said last, I would install Nuxt 2.6.0 and make sure you follow all the steps [here](https://nuxtjs.org/guide/release-notes#v2.6.0), paying close attention to the bit about using core-js 3

[2019-10-08 12:30] MichaelDeBoey commented on #5030
DefinitelyTyped/DefinitelyTyped#38447 is merged, which means all of the [above](https://github.com/storybookjs/storybook/issues/5030#issuecomment-532438475) (except the `@storybook/react` one) typings were deleted.

`@storybook/react` typing still needs to be deleted, 'cause it was [causing errors](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/38447#issuecomment-535869244).

I've created

[2019-10-08 12:44] eckmLJE commented on #714
Shouldn't this behavior be built into Storybook, where if you flag `-s ./static` then your paths will work the same way in Storybook as they would in production? Seems nonsensical that when I tell Storybook that my static directory is `./static`, that my relative paths e.g. `./static/image.png` have to instead be `./image.png` or use some goofy symlink 🤔

[2019-10-08 12:50] leomelzer commented on #8209
I can confirm this works with `5.2.0` but not `5.2.1` upwards (?).

I get the same error like mentioned in the issue but with `react`:

[code]

[2019-10-08 13:07] ctaepper opened #8340 "storybook/angular is not respecting css settings in angular.json"
**Describe the bug**
My angular application has the following config in `angular.json`
[code]
when I build the app, I end up with 3 css files: `styles.css`, `theme-light.css` and `theme-dark.css`. The 2 theme files get build into separate files. `extractCss:true` tells the compiler to build separate css files and `inject:false` tells the compiler not to insert this css file into the index.html. At

[2019-10-08 13:19] elie222 commented on #5941
Hey,

I think I did. Take a look at this:
https://github.com/elie222/elie-tech/blob/master/.storybook/webpack.config.js

Here's the deployed Storybook:
https://storybook.elie.tech

Some images don't load in the Storybook, but I think that may be a different issue. The icons I have in my project do load (for example, the heart icon).

[2019-10-08 13:32] SimonS commented on #7914
I don't know what's causing this, but we had the same issue. I pared it down to markdown looking like this (that's double-indented text):

<img width="177" alt="Screenshot 2019-10-08 14 25 57" src="https://user-images.githubusercontent.com/1513/66399548-bb3ba700-e9d7-11e9-9fe7-38948d247c33.png">

Converting it to a simple bullet list makes that error go away.

[2019-10-08 13:58] JamesIves commented on #8322
Jk found it! thanks so much for your help: https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/mdx.md#decorators-and-parameters

[2019-10-08 13:58] #8322 closed

[2019-10-08 14:50] JamesIves opened #8342 "Addon-docs: Show source block with generated knob values"
**Describe the bug**

I'm using `addon-knobs` along with `addon-docs`, and I'm having a hard time getting the two to work well together.

Within my `Component.stories.mdx` file I have the following:

[code]

I'm using `defaultProps` as a helper function for all of my stories in the mdx file as they all  share the same props. The problem I have is that when this renders in the Storybook docs page i

[2019-10-08 14:57] sod opened #8343 "@storybook/angular & @storybook/addons require node types"
Can't find it in the source code, but the published `@storybook/angular` & `@storybook/addons` version 5.2.3 types require node types:

![image](https://user-images.githubusercontent.com/905328/66405649-b7fde680-e9ea-11e9-8a6f-0190285000fc.png)
![image](https://user-images.githubusercontent.com/905328/66406695-55a5e580-e9ec-11e9-97d0-c2b617cd7848.png)

That conflicts with client code, e.g. we see

[2019-10-08 15:10] sod commented on #8343
The workaround I use right now it setting this in tsconfig.json compilerOptions:

[code]

and created an empty `@types/node/index.d.ts` file. So when typescript tries to resolve the `/// <reference types="node" />`, it'll grab the empty definition instead of the one installed in `node_modules/@types`.

[2019-10-08 18:02] nickofthyme opened #8344 "Setting select knob via query param with numbers returns string"
**Describe the bug**
When using a select knob with _**all**_ numbers say

[code]

When using the knobs via the UI, the `myNumber` value will return the **_number_** `0` when selected.

When setting the knobs from the query params, the `myNumber` value will return the **_string_** `"0"`.

**To Reproduce**
Steps to reproduce the behavior:
1. Add select knob of numbers to story
2. Go to story
3. Clic

[2019-10-08 18:02] jorenbroekema commented on #8062
Alright so I managed to reproduce it with the following config:
[code]
The debugger (--debug-webpack) spits out two things, a `manager webpack config`, and a `preview webpack config`. The `optimization: { minimize: false }` only makes it to the `preview webpack config`.

`build-storybook` still minifies, even though I turn minimize off in optimization. Also, if I turn minimize to "true", and try `

[2019-10-08 19:15] dlombardi commented on #7959
This is still happening:

[code]

[2019-10-08 19:38] chiangs opened #8345 "Unexpected token, expected "," when using presets.js"
**Describe the bug**
Following the learnstorybook tutorial, everything is fine until i use the following for `presets.js` for docs addon. Then every story has the following error:
[code]
[code]

I have cleared the `node_modules`, and deleted the `package/yarn.lock` file and tried reinstalling everything.

**To Reproduce**
[code]
[code]
[code]
[code]

**Repro***
[Link to repo](https://github.com/ch

[2019-10-08 20:43] #8101 closed

[2019-10-08 21:39] dhuang612 commented on #6596
Hello,
created PR #8347

[2019-10-08 22:20] adamlongaway opened #8349 "Request to have Storybook work with FontAwesome 5's (angular-fontawesome) Icon Library."
Have Storybook work with FontAwesome 5's library feature. Currently when making a story there is now obvious way to use the icon library as it says in the documentation below, it needs to be part of the Angular Modules Constructor. Storybook Stories have no Constructor to add this code to.

https://github.com/FortAwesome/angular-fontawesome/blob/master/docs/usage/icon-library.md#using-the-icon-lib

[2019-10-08 22:22] leonardofaria commented on #8129
Can confirm:

I have the buttons in the UI but clicking on them go nowhere - my `config.js`:

[code]

[2019-10-08 22:27] brianzinn commented on #8062
I think that you need to update the `config` that is passed in.  So, your first line should be: `module.exports = async ({ config, mode }) => {` . and then you can update the config object (ie: `config.optimization = ...`).  The optional `mode` param let's you know if it's dev/prod.

[2019-10-08 22:45] shilman commented on #8129
@SiAdcock i think having default the background carry over to the iframe popout is a feature request, and a pretty reasonable one. cc @ndelangen

[2019-10-08 22:46] shilman commented on #8129
@leonardofaria not sure what's going on with your setup -- I can't repro. can you share a reproduction?

[2019-10-08 22:50] leonardofaria commented on #8129
@shilman my apologies for not including them

[code]

config.js

[code]

addons.js

[code]

[2019-10-08 22:59] daniloprates commented on #7770
I'm having this issue with `v5.1.11`.

[2019-10-08 23:02] shilman commented on #8345
@chiangs I was able to get your repo working with the following preset config:

[code]

@tmeasday I'm not sure whether this is an issue with the repo or with the LSB guide. Can you give a hand?

[2019-10-09 00:37] tmeasday commented on #8345
Thanks for the detailed reproduction @chiangs.

I think in the guide we ask you to remove the `webpack.config.js` at this stage of the process--does that resolve the issue?

<img width="825" alt="image" src="https://user-images.githubusercontent.com/132554/66443002-301ae980-ea89-11e9-92a2-993ee4e23498.png">

If so, perhaps
a) we should make that clearer, and
b) we should show a more useful error,

[2019-10-09 00:39] mallik-svmx commented on #6471
I'm having the same issue. Any workaround will be greatly appreciated.

[2019-10-09 01:42] MazinZ commented on #714
@eckmLJE If you use the snippet that I posted above that should work without any additional webpack configuration or a symlink. We could look into outputting this automatically as part of the build process though.

[2019-10-09 03:09] yiling-e0 commented on #8267
Thank you for your reply, but unfortunately I need to use Nuxt 2.10.0 to solve the bug in the development environment, is there any other feasible solution?

[2019-10-09 07:40] chiangs commented on #8345
@shilman that worked, thanks.
@tmeasday I tried that yesterday, but still ran into the same error....and today, it works.

I think the directions were fine, but perhaps a troubleshooting guide that identifies this potential common mistake might be good.

With removing the webpack.config, the rest of the add-ons are no shown in the UI such as a11y or knobs, nor actions. How does one get that back?

[2019-10-09 08:08] shilman commented on #7221
Migration path for CRA users:

**5.2 (master):** if user adds CRA preset, we use that. if not, we use the built-in CRA hack. `sb init` does nothing special in a CRA project.

**5.3 (next):** if user adds CRA preset, we use that. if not, we use the CRA preset automatically and maybe log a warning that it will be required in 6.0. `sb init` adds the CRA preset automatically in `presets.js`.

**6.0:**

[2019-10-09 08:23] Lighttree commented on #6298
Still an issue in

[code]

As soon as I wrap my component in `React.memo` I start to have:
"No props found for this component" in `<Props />`

[2019-10-09 08:37] mrmckeb commented on #7221
Thanks @shilman, so in short, we 5.3 progresses as is - but use the preset if it exists. In 6.0, we require the preset.

[2019-10-09 08:56] rawris opened #8352 "propType shows "unknown""
@storybook/addon-info doesn't take PropTypes types, instead it shows "unknown"

Steps to reproduce the behavior:
1. use @storybook/addon-info
2. Define proptypes in a React Component
3. Build storybook again

**Expected behavior**
Storybook should show the propType of a Prop (eg.: String, func etc)

**Screenshots**
![image](https://user-images.githubusercontent.com/27147880/66466202-e8538c80-ea9f-

[2019-10-09 09:03] am-ma opened #8353 "Build Error when story title is not simple string"
Hi.
I am trying to follow the Storybook Docs recipe located [here](https://storybook.js.org/docs/basics/writing-stories/#generating-nesting-path-based-on-__dirname) to generate story title automatically.
But ...

**Describe the bug**
Storybook build error when title is **not** simple string.

<details>
  <summary>error log:</summary>
<pre>
  Module build failed (from ./node_modules/@storybook/sour

[2019-10-09 09:16] kroeder commented on #8329
Can you share some details about your setup and how to reproduce this?

Kind of like this?
[code]

Storybook currently tries to use the configuration of your default project but it's also possible to add a `Storybook` project in your angular.json with all the resources storybook would need in case you have a mono-repo with multiple apps

[2019-10-09 09:18] mazikwyry commented on #7697
@shilman @Hypnosphi I updated to 5.2.3 added: `'^.+\\.stories\\.jsx?$': '@storybook/addon-storyshots/injectFileName',` to jest.config.js and this is what I get:

`Module @storybook/addon-storyshots/injectFileName in the transform option was not found.`.

Looks like the file is not included in the `@storybook/addon-storyshots` package.

![image](https://user-images.githubusercontent.com/1079965/664

[2019-10-09 09:20] darondel commented on #8180
Hey there!
We found a related issue by using [timemachine](https://github.com/schickling/timemachine) and fixing the global `Date`. When the user update an input in the knobs panel, the iframe is not refreshed.

[2019-10-09 09:30] vandijkstef commented on #6201
As long as restarting isn't properly targeting the same browser window/tab (and/or reloading it), opening a new window by default is just frustrating for me. I think this is an anti-pattern a lot of packages are using to be *fancy or something*. We're all capable of opening a browser by the time we know how to handle npm.

After building it shows a nice box with 2 url's I can ctrl-click on, and mo

[2019-10-09 09:32] Sara2009 commented on #8144
It works! Thanks a lot~

[2019-10-09 09:33] Sara2009 commented on #8144
It also works! Thanks very much~

[2019-10-09 09:33] #8144 closed

[2019-10-09 09:52] shilman commented on #7697
@mazikwyry Ugh, this file got filtered out of the publish. I've fixed it here and will re-publish once it's merged: https://github.com/storybookjs/storybook/pull/8354

[2019-10-09 10:04] dtslvr commented on #208
Hi @picheli20

Thanks for the snippet. I have copied it to `.storybook/middleware.js`. In the terminal I can see `[HPM] GET /api/v1/users/59b49fbc-022e-47af-8469-b88f9158a36b:2ac82679-f51a-4524-8684-13132d2a180d -> http://localhost:8888`, but in _DevTools_ > _Network_  there is still `GET http://localhost:6006/api/v1/users/59b49fbc-022e-47af-8469-b88f9158a36b:2ac82679-f51a-4524-8684-13132d2a180d`

[2019-10-09 11:30] zerofront commented on #7829
@sergiop @enagy27 thanks! eventually, the props table is work.
but there is still some problems.

If defaultProps isn't string type, It can not generate.
![image](https://user-images.githubusercontent.com/19327366/66477601-1601fb00-eacb-11e9-8bb7-479e5c228d6a.png)

![image](https://user-images.githubusercontent.com/19327366/66477680-3c279b00-eacb-11e9-8df2-f30afabfbe7e.png)

[2019-10-09 11:33] Hypnosphi commented on #6201
Why do you need that? `start-storybook` should pick your changes. If it doesn't, it sounds like an issue by itself.

Of course you know *how* to open the browser, the problem is that you don't know *when*. In large projects, first build may take quite a while

[2019-10-09 11:48] sergiop commented on #7829
@zerofront I can confirm I have the same Issue. It is in my to-do list of issues to manage to fix. ;-)
If you want to search for the cause, you should probably start trying to understand if it’s related to storybook itself or to `react-docgen-typescript-loader`.

[2019-10-09 11:49] sergiop commented on #7829
@zerofront maybe it's better to open a dedicated issue. ;-)

[2019-10-09 12:08] vandijkstef commented on #6201
It should, and does on most changes, but not all changes. I'm currently setting up a new Storybook and fiddling around with it, so yes I ended up with 10 tabs in a few minutes.

I could still open the browser, it'll just tell me 'Connection refused'. I think it's more annoying that after a minute or 2 suddenly a browser is popping up while I'm doing something else.
There could be a comment in the

[2019-10-09 12:35] picheli20 commented on #208
@dtslvr and the same request to the backend works? Looks like that the request is going wrong, not the proxy

[2019-10-09 12:55] yomybaby opened #8355 "react-native : rn-host-detect module has a bug"
**Describe the bug**
react-native use `rn-host-detect` module to find a host.
https://github.com/storybookjs/storybook/commit/4b35ffc9fb28e0332ef2e8b91b1ba03a0c4c0852#diff-8c8fb660862821ef881e7a34133fd4dcR35

`rn-host-detect` has a polyfill of `console.warn` and a bug :
When [arguments[0].indexOf](https://github.com/jhen0409/rn-host-detect/blob/master/index.js#L33) is not a function, exception!

I

[2019-10-09 13:15] sami616 commented on #7829
i've had luck setting default props whilst de-structuring props. Perrty sure it's worked with non string values too.

ie:

[code]

[2019-10-09 13:22] sergiop commented on #7829
@sami616 I use default props same as you, but I don't see defaults for non-string as @zerofront already reported.

[2019-10-09 13:29] sami616 commented on #7829
Ignore my comment, yes im having the same issue.

[2019-10-09 13:52] bitkris-dev commented on #8274
Many thanks, it seems a good compromise for now. Unfortunately addons are not visible from the browser GUI in react-native, so I have to switch "onDeviceUI" to true sometimes or edit the values manually, which is not optimal.
I hope they will take in consideration this annoyance!

[2019-10-09 14:33] PaulieScanlon opened #8356 "Show Code Open by default"
Hey team, CSF is great but it would be even better if it were possible to configure the 'stories'

Where you currently have the "Show code" could there be config to allow this to show code by default and for the button to say "Hide code"

I'd be happy to contribute if someone could point me in the right direction.

<img width="866" alt="Screenshot 2019-10-09 at 11 56 31" src="https://user-images.g

[2019-10-09 14:37] Aaron-Pool commented on #8267
@yiling-e0

Yes, I believe if you add

[code]

It will force nuxt's core-js dependency to resolve to a non-3.x version

[2019-10-09 15:08] tenjojeremy commented on #5910
Still an issue in 5.2.3

[2019-10-09 15:10] thany opened #8357 "Cannot overrule styles for markdown in addon-info"
**Describe the bug**
It doesn't seem possible to overrule the styles for headers in markdown, that is injected via the addon `addon-info`.

**To Reproduce**
In my config file:
[code]
I'm setting the overrules as per [this documentation](https://www.npmjs.com/package/@storybook/addon-info). It clearly says "Overrides styles of addon. The object should follow this shape", which is what I did.

After

[2019-10-09 15:21] wkoutre commented on #8274
Some are, some aren't. Nonetheless, I agree with you! Hopefully, it's addressed soon.

[2019-10-09 17:13] ellisio commented on #8124
@BenjaminVanRyseghem @davidouanounou Storybook has a cache. If I remember correctly (haven't run into this issue since then), you just need to remove any build foot print from `node_modules/.cache` then restart Storybook. Might be a directory in `.storybook/*` as well.

[2019-10-09 17:17] SimonS commented on #7914
Further investigation seems to point it to anything involving code blocks. Our use case was that we changed a bunch of README.md files to .mdx files and imported them with the hopes that some super-literate component readmes could sit beside our components in storybook, so something like:

[code]

Is enough to make it fall over.

An example `.stories.jsx` file might look like:

[code]

I add the e

[2019-10-09 17:45] bostondv commented on #8336
`addon-docs@5.2.3` appears to suffer from the same bug with `forwardRef`.

## With forwardRef

The prop type descriptions as well as the component description is missing.

[code]

![Screen Shot 2019-10-09 at 1 41 47 PM](https://user-images.githubusercontent.com/133814/66506044-92c8b100-ea9a-11e9-9c64-7dad5e137b36.png)

## Without forwardRef

Prop type and component descriptions work.

[code]

![Sc

[2019-10-09 17:49] adamduncan commented on #3855
+1 to @raspo for pointing towards a solution here.

We can potentially get access to this in another way, too. Creating a generic helper module?

[code]

And calling as needed...
[code]

...but still feels like a workaround to something that could be built into the knobs API

[2019-10-09 18:56] davidouanounou commented on #8124
Thanks Andrew. I’ll make a try and let you know.

Le mer. 9 oct. 2019 à 19:14, Andrew Ellis <notifications@github.com> a
écrit :

[2019-10-09 18:59] dhuang612 commented on #6596
Hi,

I am pretty new to webpack. I've done some research into how to setup this via stats
https://webpack.js.org/configuration/stats/#statserrordetails

The files I see related to Webpack in this project are under
lib > core > src > server > preview
with the two files being:
**base-webpack.config.js** and ** custom-webpack-preset.js**
But then I also see a dev-server.js file.

Could I get some hel

[2019-10-09 19:12] sami616 commented on #7914
@SimonS i can confirm that removing the code block from my mdx file has worked, so seems to be the culprit. I'm also using the `docs: { page }` parameter

[2019-10-09 19:46] edelgado commented on #4802
Thank you again! 🎉

[2019-10-09 20:10] mlegait opened #8360 "Tags in preview-head.html are also applied to the Docs tab"
**Describe the bug**
I would like to apply some global style (reset.css to be precise) to the stories. But I don't want this style to affect the rest of Sorybook, and to be more precise, to affect the DocsPage.

I updated `config.js` in order to have each story in its own iframe in the DocsPage:
[code]
I added the reset styles in `preview-head.html`.

But the reset styles are applied to each story

[2019-10-09 20:50] tenjojeremy opened #8361 "DocPage: Prop table does not appear in the Docs panel if a component is exported wrapped in a React.memo function"
**Describe the bug**
Proptypes tabel does not appear in the Docs panel if a component is exported wrapped in a memo function.

For example
export default React.memo(Button)

**To Reproduce**
Steps to reproduce the behavior:
1. Create regular React component
2. Export component wrapped in React.memo function
3. Run storybook
4. Open Doc panel
5. The prop table does not appear.

**Expected behavior*

[2019-10-09 21:17] hasparus opened #8362 "Unescaped error messages are injected into the DOM"
**Describe the bug**
HTML/JSX tags in error messages are inserted into the DOM as HTML.

Error such as:

is displayed as:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to story that throws an error containing `<example>` text. (or create such story)
2. See error -- `<example>` string is missing, but it's present as HTML element in the DOM.

**Expected behavior**
I suppose they should be

[2019-10-09 21:20] tcjcodes commented on #691
I'm seeing a less issue :(

[code]

It's still failing, even after following the docs and replacing for 'less'

[2019-10-10 00:38] olimination opened #8364 "BUILD_TARGET env variable not respected for loading proper .env* file"
**Describe the bug**
If the `BUILD_TARGET`environment variable has been set, it won't be taken into account for loading the proper `.env.${BUILD_TARGET}` file as documented [here](https://github.com/storybookjs/lazy-universal-dotenv) in the "File Priority" section.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a storybook command in your package.json like `BUILD_TARGET=mycustomtargetn

[2019-10-10 01:19] ArnoZx commented on #7914
I managed to fix the issue by installing storybook theming
[code]

[2019-10-10 02:13] tmeasday commented on #8345
That sounds weird. Perhaps you need to restart the storybook process and see if it fixes it. Are there any errors in the browser console?

[2019-10-10 03:06] shilman commented on #8357
`Addon-info` is being superceded by `addon-docs`, which fixes a bunch of bugs and is easier to maintain. Please give it a try! https://medium.com/storybookjs/storybook-docspage-e185bc3622bf

[2019-10-10 03:14] shilman commented on #7914
@SimonS @sami616 can you try @ArnoZx 's workaround and lmk if it works for you?

[2019-10-10 03:17] shilman commented on #8361
Related: #7933

[2019-10-10 04:55] shilman commented on #6298
Will fix: #8361

[2019-10-10 04:56] shilman commented on #7221
@mrmckeb The diff between 5.2 and 5.3 is that 5.2 uses the built-in preset, whereas 5.3 uses your package. If that's possible?

[2019-10-10 04:58] shilman commented on #8352
`Addon-info` is being superceded by `addon-docs`, which fixes a bunch of bugs and is easier to maintain. Please give it a try! https://medium.com/storybookjs/storybook-docspage-e185bc3622bf

[2019-10-10 05:04] shilman commented on #7697
@mazikwyry Can you try `5.3.0-alpha.17`? I'l patch it over to 5.2.x at the end of the week.

[2019-10-10 05:19] pierrenel commented on #7914
@shilman - tried adding `"@storybook/theming": "^5.2.3",` and still getting:

[code]

[2019-10-10 05:22] chiangs commented on #8345
I've restarted it several times and there are no errors. If you give my
repo, are you able to get knobs, a11y and the docs to show up in the UI?

On Thu, Oct 10, 2019, 04:13 Tom Coleman <notifications@github.com> wrote:

[2019-10-10 05:26] tmeasday commented on #8345
Let's try it

[2019-10-10 06:17] kanishk30 commented on #8293
Thanks, it worked. You may consider to include this in the official documentation as well.

[2019-10-10 06:17] #8293 closed

[2019-10-10 06:42] chiangs commented on #8345
[Link to repo](https://github.com/chiangs/learnstorybook-design-system)

[2019-10-10 07:04] mlegait commented on #3493
Hi 😄

I gave it a try with **addon-docs**: https://github.com/mlegait/storybook-sandbox

With **internal** propTypes:
![screenshot-20191010-090211](https://user-images.githubusercontent.com/19664438/66546159-af1d2a00-eb3c-11e9-9382-361d0492caaa.png)

With **external** propTypes:
![screenshot-20191010-090253](https://user-images.githubusercontent.com/19664438/66546191-c52aea80-eb3c-11e9-936d-8ca350

[2019-10-10 07:52] agusID opened #8368 "Unknown property: 'backgroundColor' at button.svelte"
**Describe the bug**
After I installed storybook at Svelte, I found this unknown CSS property (backgroundColor)
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'stories/button.svelte'
2. Scroll down to 'line 9'
3. See unknown CSS property

**Screenshots**
![Screen Shot 2019-10-10 at 14 42 08](https://user-images.githubusercontent.com/13955708/66549086-ba884980-eb6c-11e9-9e88-0a99

[2019-10-10 08:08] zerofront commented on #7829
@sami616 @sergiop
I install react-docgen-typescript-loader version 3.2.1
I found some code in node_modules/react-docgen-typescript-loader/dist/generateDocgenCodeBlock

[code]

```&& typeof defaultValue.value === 'string'```

this condition limit the typeof defaultProps.

And In the newest version 3.3.0 react-docgen-typescript-loader, It supoort string、number、boolean

https://github.com/strothj/rea

[2019-10-10 08:17] sergiop commented on #7829
@zerofront, nice to know. I have 3.2.1 too. Later this morning I'm updating it to 3.3.0 to see if this will solve the issue. Thanks.

[2019-10-10 08:48] sinharaksh1t commented on #8356
I'd like to help contribute too. We can work together if you want @PaulieScanlon :)
I would, however, wait for the author(s) to give us a green signal to work on it.

[2019-10-10 09:03] BenjaminVanRyseghem commented on #8124
@ellisio I just tried, didn't change a thing 😢

[2019-10-10 09:14] shilman commented on #8124
Is anybody here using CRA? Might need to add the docgen loader seperately. Cc @mrmckeb

[2019-10-10 09:38] KoshiroKun commented on #8127
I placed all the stories in a separate folder and reinstalled the last version @5.2.3 and now it's working fine.

[2019-10-10 09:38] #8127 closed

[2019-10-10 09:41] SimonS commented on #7914
@shilman - cheers, I'm getting a slightly different error, but seems to be in the same area:

[code]

[2019-10-10 10:02] sergiop commented on #7829
@zerofront I can confirm updating `react-docgen-typescript-loader` will solve the issue. Thanks.
<img width="740" alt="Screenshot 2019-10-10 at 12 00 16" src="https://user-images.githubusercontent.com/2235134/66559426-ac7afe80-eb55-11e9-8cce-dc01684e3e5f.png">

[2019-10-10 10:44] sharikovvladislav opened #8370 "@storybook/angular does not work with Angular Ivy"
**Describe the bug**
The problem is that I get runtime exception, when I open some story of some Angular Component. The component is not starting.

**To Reproduce**
Steps to reproduce the behavior (ready repro):
1 Clone the repro: `git clone git@github.com:sharikovvladislav/angular-ivy-storybook-repro.git` (or use HTTPS link: https://github.com/sharikovvladislav/angular-ivy-storybook-repro.git)
2

[2019-10-10 11:10] benjaminreid opened #8371 "Promise.finally is being overwritten in React Native"
**Describe the bug**
The inclusion of Storybook inside a React Native app seems to remove the implementation of `Promise.prototype.finally`. Causing the `Promise.resolve(...).finally is not a function error` to occur.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a fresh React Native project.
2. Setup Storybook as reference here, https://storybook.js.org/docs/guides/guide-react-nati

[2019-10-10 14:11] NoahLiechti opened #8372 "Can not set ampersand with text knob"
**Describe the bug**
I tried to set my prop with a text knob to "me & you". In the textfield of the knob  it shows the ampersand perfectly, but not the prop itself.

**To Reproduce**
-> see code snippet

**Expected behavior**
I expected this output:
![Screenshot 2019-10-10 at 16 08 56](https://user-images.githubusercontent.com/38284563/66576593-4bb0ed80-eb78-11e9-9b6d-9157b3dc271f.png)

**Screensh

[2019-10-10 14:59] IanVS commented on #8017
@maikthomas thanks for the tip, but I'm not able to get that working so far.  It would be great if we could keep this open until the bug is fixed.

[2019-10-10 15:11] teddywsi opened #8373 "`theme.color is undefined` error when using DocsPage"
**Describe the bug**
When I click on the Docs tab, I get the following error:
[code]
*I think this error only started happening after `5.3.0-alpha.7`.*

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'Docs' tab for a component story
2. See error

**Expected behavior**
Docs should appear

**System:**
[code]

[2019-10-10 15:26] hrobarikt opened #8375 "Missing details on custom event using actions addon"
Hi,
just wanted to ask if there is any way of displaying additional details from the custom event in the actions panel.
This is the event details I see when logged to the console:
<img width="482" alt="Screenshot 2019-10-10 at 17 18 05" src="https://user-images.githubusercontent.com/19704768/66582773-97689480-eb82-11e9-9daf-53617b6e5266.png">
This is the event details I seen in the actions panel:

[2019-10-10 15:49] teddywsi commented on #8373
I seem to get this error from MDX files when I write out a codeblock such as:
[code]

It seems to happen in other instances, too, with just CSF format (`.stories.tsx`).

[2019-10-10 16:03] shilman commented on #8373
Thanks! Closing this as a dupe to #7914, tho it might be a separate issue in the end

[2019-10-10 16:03] #8373 closed

[2019-10-10 16:21] Tom910 opened #8376 "Knobs don't handle dynamic default value"
**Describe the bug**
I update the storybook in 5.0.11 to 5.2.3 and have a regression bug with knobs. When changing values in knobs, react component not reloading with the correct value

**To Reproduce**
Steps to reproduce the behavior:
1. Clone repo https://github.com/Tom910/storybook-knob-regression
2. npm run storybook
3. go to "as-dynamic-variables"
4. Change knobs

**Expected behavior**
Knobs

[2019-10-10 16:52] adamduncan commented on #7967
Hey, just circling back on this one. Is the prerequisite here that in order to avoid JSX classNames being hashed, we'll need to wrap components etc. within a `<Story>` when writing MDX?

I'd like to write certain pages in "Docs mode" and just render the MDX, as opposed to a series of stories. Although I'm not sure I can add any markup with `className` in there without them being obfuscated?

[2019-10-10 17:46] JamesIves commented on #8342
I've also experienced some inconsistencies with getting the default knob values to apply to stories that are created through the `mdx` format.

For instance the following code should apply the `selected` prop as `true`, and in the second one as `false`.

[code]

In this scenario, whatever the first `defaultProps()` function call returns is what gets applied to all stories. This makes creating seve

[2019-10-10 17:52] freddy-reye16 commented on #7687
Has anyone found a solution or workaround for this topic? I'm running into the same issue. Thanks in advance

[2019-10-10 17:57] JamesIves commented on #8342
Let me know if I should make a separate issue for the problem above @shilman ☝️

[2019-10-10 18:30] necolas opened #8377 "[addon-docs] How to customize order of props table and previews?"
**Is your feature request related to a problem? Please describe.**

I would like the docs page for a component not to render the first "story" above the prop types table. Also for the preset to load `<name>.mdx` files and not just `<name>.stories.mdx`.

**Describe the solution you'd like**

How to customize the page so I can control the order of the blocks and rename titles like "Stories" to "Exam

[2019-10-10 19:35] javierguzman commented on #8303
I have managed today to do this with react-router-addon. Apparently you can specify the current path as second argument when calling StoryRouter, specifically the param name is "initialEntries".

I close this.

[2019-10-10 19:35] #8303 closed

[2019-10-10 20:19] JabbyPanda commented on #8284
https://github.com/storybookjs/storybook/issues/6474

Had Storybook 5.x ever been pronounced to be compatible with React 15 ?

[2019-10-10 21:30] necolas commented on #8377
It looks like there is meant to be a way to do this but I get an empty props table that says "no component found"

[code]

I also think it could be easier to use MDX with examples if the ID wiring were explicit rather than using strings you discover by running the app. For example:

[code]

[2019-10-10 22:43] shilman commented on #8377
Hi @necolas! Let me try to answer with what's already there, and then maybe we can figure out what changes would be useful.

For the props table, try:

[code]

For customizing/overriding the `DocsPage`, there are a few options:

- **Slots.** You can override any section on DocsPage via slots. Documentation might need some work, but it's there: https://github.com/storybookjs/storybook/blob/next/add

[2019-10-10 22:45] shilman commented on #8284
@JabbyPanda Yes, at some point 5.x has been verified compatible. We'll fix it and be sure to do a better job keeping it unbroken.

[2019-10-10 22:47] shilman commented on #8342
Thanks, we can keep them lumped together for now!

[2019-10-10 22:53] necolas commented on #8377
Hi Michael,

Thanks this did the trick!

At the moment I manually document types as follows (to avoid cluttering the docs with the shared types):

[code]

The automatic storybook props table will inline all the View props. That's understandable and I'm not really sure how it could be any different. But thought I'd share.

Thanks, sorry I missed that, I'll give it a try!

[2019-10-10 22:53] #8377 closed

[2019-10-10 22:56] shilman commented on #7967
@adamduncan Can you create a separate issue for this? It sounds like a another bug.

[2019-10-10 22:57] shilman commented on #8376
@Hypnosphi maybe this is another preview hooks case?

[2019-10-10 23:10] shilman commented on #8377
@necolas Just fixed a bug in that recipe, sorry! https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/recipes.md#csf-stories-with-mdx-docs

[2019-10-10 23:23] shilman commented on #8140
Sorry for the slow reply here. Can you post your config/presets files? Also, are you using CRA?

[2019-10-10 23:28] necolas commented on #8377
When I do:

[code]

The code shown is `stories.basic` rather than the component itself.

I'd also like to avoid having the sidebar show the individual stories, and have it behave more like a "doc" type, e.g., the "introduction" MDX example. Is that possible?

[2019-10-10 23:31] shilman commented on #8377
@necolas The story source is a limitation right now. Hard to do it in a cross-framework way. Suggestions welcome!

As for collapsing the docs, it's WIP. Need to revive the PR now that 5.2 is shipped: https://github.com/storybookjs/storybook/pull/7700

[2019-10-10 23:49] seanmheff commented on #8376
I'm seeing the same behavior when going from 5.1.9 to 5.2.1

[2019-10-11 00:41] tmeasday opened #8379 "Improve addon-docs documentation in docs site."
Duplicate or link the docs from the markdown files inside https://github.com/storybookjs/storybook/tree/next/addons/docs to be visible on the docs site.

Add a link to the frontpage to that documentation.

[2019-10-11 00:43] necolas commented on #8377
I noticed that `Preview` has a `withSource` prop but at the moment nothing is done with the `'none'` value https://github.com/storybookjs/storybook/blob/next/lib/components/src/blocks/Preview.tsx#L72

[2019-10-11 01:01] darewreck54 opened #8380 "Can't init story book with an app created by create-react-app:3.2.0"
**Describe the bug**
create-react-app:3.2.0 has a bug where it will expect a "@babel/generator" that matches "^7.6.4".  If it's not there, it will ask the user to select a lower version.  This doesn't prevent created app to run, but the msg gets prompted every time you try to do a yarn install.

When you try to 'npx -p @storybook/cli sb init',  it will throw an error:

![image](https://user-images

[2019-10-11 03:39] Superpencil commented on #7693
This is working in 5.2!

[2019-10-11 04:03] tmeasday commented on #8345
I get a different problem @chiangs:

[code]

@shilman - AFAICT everything looks right, not sure what's happening here.

[2019-10-11 04:42] htunnicliff opened #8381 "Stories location docs inconsistent with recommendations"
**Describe the bug**

While the docs make the recommendation of _co-locating stories alongside their corresponding source files_, the CLI generates config files that don't follow that recommendation:

This can be confusing to newcomers who initiate the CLI and expect stories to be detected from `/src`.

**To Reproduce**
Steps to reproduce the behavior:
1. Read the docs at [`docs/src/pages/guides/g

[2019-10-11 04:56] mazikwyry commented on #7697
@shilman

I updated to `5.3.0-alpha.17` added: '^.+\\.stories\\.jsx?$': '@storybook/addon-storyshots/injectFileName', to jest.config.js and this is what I get:

![image](https://user-images.githubusercontent.com/1079965/66624814-03ceac80-ebf2-11e9-889a-7e38385b5c22.png)

It also doesn't work when I use a workaround `"^.+\\.stories\\.js$": "./injectFileName",` which works in `5.2.x`.

[2019-10-11 05:33] donaldpipowitch commented on #8126
Wow, the stale bot got quicker. I eventually would like to fix this myself, but maybe just in months or so to finish a previous project.

[2019-10-11 06:59] agusID opened #8382 "[addon-docs] Typo at svelte documentation"
**Describe the bug**
Typo at svelte documentation (guide-svelte)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://github.com/storybookjs/storybook/blob/master/docs/src/pages/guides/guide-svelte/index.md](https://github.com/storybookjs/storybook/blob/master/docs/src/pages/guides/guide-svelte/index.md)
2. Scroll down to 'Step 4'
3. See typo on the `Button` word that should be `My

[2019-10-11 07:02] kroeder commented on #8370
Thanks for reporting this! I wanted to test Ivy as well and had hoped it just works 😬
This is really something we have to fix before Angular 9 is released @shilman - I will start working on this soon

*Clarification for non-angular users*
Ivy is the new rendering engine of Angular and is currently "opt-in" in Angular 8. It's becoming "opt-out" in Angular 9 so basically every new project starting w

[2019-10-11 07:05] kroeder commented on #8370
@sharikovvladislav in your error screenshot rxjs is causing the error. Is there a pre-release of rxjs that might fix this issue?

[2019-10-11 08:12] sharikovvladislav commented on #8370
@kroeder
I think the problem is not about `rxjs`. It is just a call stack.

The problem appears in this line: https://github.com/storybookjs/storybook/blob/next/app/angular/src/client/preview/angular/components/app.component.ts#L44

It is ViewChild query:  https://github.com/storybookjs/storybook/blob/next/app/angular/src/client/preview/angular/components/app.component.ts#L30

[2019-10-11 08:13] chiangs commented on #8345
I get that error in my CircleCI build process but not locally ref another issue I opened up:
[LSB #174](https://github.com/chromaui/learnstorybook.com/issues/174).

[2019-10-11 08:20] Hypnosphi commented on #7697
@mazikwyry do you also have `"^.+\\.js$": "babel-jest"` entry?

[2019-10-11 08:21] sharikovvladislav commented on #8370
This is how Angular compiles the code before Ivy (I have `angularCompilerOptions.enableIvy` enabled, but I didn't use `ivy-ngcc` after installing the depencies):

![image](https://user-images.githubusercontent.com/5622526/66635876-b9145b00-ec18-11e9-8023-74ac4f920cb0.png)

In Ivy you don't have ngfactories. Here you have it. So it is not Ivy mode.

Lets check `this.target` expression. This is how

[2019-10-11 08:25] sharikovvladislav commented on #8370
Now lets compile node_modules using `ivy-ngcc` tool:

![image](https://user-images.githubusercontent.com/5622526/66636162-4b1c6380-ec19-11e9-95f1-0cb7b9c94d2e.png)

And lets execute `npm run storybook` command again.

Now we don't have ngfactories (so Ivy is enabled now):

![image](https://user-images.githubusercontent.com/5622526/66636283-90d92c00-ec19-11e9-9948-0e2e5cf94eae.png)

This is how com

[2019-10-11 08:26] sharikovvladislav commented on #8370
Now, let me check it with angular `9.0.0-next.10`

[2019-10-11 08:33] goralight opened #8383 "Addons panel not showing - but knobs are still working(?)"
**Describe the bug**
I am using the knobs addon for my StencilJs project and it is technically working (if i set the component prob within the story it is changing it, for example: look at the story file and then the component, you will see that it is setting it - and it does). but I cannot see the addons panel. I think have done all the set up correctly (addons.js, package.json, etc).

I have tri

[2019-10-11 08:38] sharikovvladislav commented on #8370
Looks like it is same using latest `angular` version (in my project, not in storybook).

Here is the list of known issues: https://docs.google.com/document/d/1Dije0AsJ0PxL3NaeNPxpYDeapj30b_QC0xfeIvIIzgg/preview
I found it there:
https://blog.angular.io/its-time-for-the-compatibility-opt-in-preview-of-ivy-38f3542a282f

Probably, this can cause error:

Let me fully reinstall `node_modules` and check

[2019-10-11 08:44] mazikwyry commented on #7697
Yes I do

[code]

[code]

Maybe there is something that I should change additionally for `5.3`?

[2019-10-11 09:23] SQReder commented on #3590
@verticalgrain I did the same, but without delay

[2019-10-11 09:33] PritulaRoman opened #8384 "Svelte component doesn't displayed"
**Describe the bug**
Using Centered addon in Svelte stories leads to an empty screen. No component displayed.

**To Reproduce**
 _devDependencies_
[code]
You can see the issue on the Live Examples [Svelte page](https://storybookjs.now.sh/svelte-kitchen-sink/?path=/story/addon-centered--rounded)

**Screenshots**
![image](https://user-images.githubusercontent.com/16545426/66641251-0c8ba680-ec23-11e9

[2019-10-11 09:36] lindesvard opened #8385 "Custom webpack.config.js not loaded with react-native"
**Describe the bug**
Storybook with @storybook/react-native-server does not pick up my custom webpack.config.js when running `yarn storybook` (start-storybook). This works when I'm doing it in web context but on react-native it will not load.

Am I doing something totally wrong here or is this even supported? Can't find any documentation that this do not work on react-native.

Repo: https://github

[2019-10-11 09:38] SQReder opened #8386 "Storyshots housekeeping for renamed and deleted snapshots"
**Is your feature request related to a problem? Please describe.**
We use `addon-storyshots-puppeteer` for automatic regression testing and it doesn't do anything with obsolete snapshots. We need to have some kind of housekeeping for image snapshots of stories that have been renamed or deleted entirely.

**Describe the solution you'd like**
The simplest way is to check for snapshots that cannot be

[2019-10-11 10:04] sharikovvladislav commented on #8370
I also tried to compile `@storybook/angular` package through `ivy-ngcc` tool and got no result.

Don't you think angular/angular#30565 could help?

[2019-10-11 11:14] gpawlik commented on #8306
I think the following method: https://github.com/storybookjs/storybook/blob/next/lib/client-api/src/story_store.ts#L399 should be changed to something safer, eg.:
[code]

[2019-10-11 11:24] Hypnosphi commented on #7697
@mazikwyry Can you please create a GitHub repo with minimal reproduction of your issue?

[2019-10-11 11:58] MarkLyck commented on #8306
I'm having this issue as well.

[2019-10-11 12:08] inspiratweb opened #8387 "[addon-docs] Display HTML code for react storybooks"
Can we have a block like in the current addon-docs to display also the resulting plain html markup?
It would be very useful for design systems

**Describe the solution you'd like**
Using the `text.stories` given in the installation example we get the react code (in my case) like
[code]

Is there a way to get the plain HTML from that code (not using addon-info)?
[code]

[2019-10-11 12:09] olimination commented on #6652
I have used the following, which worked for me:

[code]

Hope this helps.

[2019-10-11 12:18] mourad1081 commented on #5527
Same issue here.

[2019-10-11 13:53] glenp01 commented on #8140
Here you go.
`config.js`
[code]

`presets.js`
[code]

And yes CRA is being used. Thanks!

[2019-10-11 13:57] kroeder commented on #8370
🤦‍♂ Should have scrolled down. `styles` is set to `styles: ['']` at the end of `app.component.js` - but only after running `ivy-ngcc`
![image](https://user-images.githubusercontent.com/5478899/66657136-98133080-ec3f-11e9-8edc-1bfe654ab2a7.png)

**app.component.js**
[code]

[2019-10-11 14:13] shilman commented on #8377
😭 https://github.com/storybookjs/storybook/pull/8024

[2019-10-11 15:02] CodeByAlex opened #8389 "Addon:Docs Zoom in/zoom out impacts docs view"
**Describe the bug**
Zooming in and out impacts the look and feel of the docs view
![zoom-in-out-bug](https://user-images.githubusercontent.com/29763590/66662278-89645380-ec16-11e9-8104-e85df8c4b7b8.gif)

**Expected behavior**
Zooming in and out in the canvas should only impact the canvas

**Additional context**
version: 5.3.0-alpha.17
Example found in: Official Storybook - https://monorepo-git-ne

[2019-10-11 15:07] Goddak commented on #7195
Having this same issue here, except I can reproduce it with a single story in my storybook, I will provide the code for it below but this is the only story in my book that will cause the error on page load (refresh).

# ImageLoader.js
[code]

I'll start by saying this is not my component and I am not here to review it, I merely want to fix this specific issue (TL:DR; I don't need styling suggestio

[2019-10-11 15:08] bfeeley opened #8390 "Reference Error: It is not defined"
**Description**
When running Storybook, it throws the error: "Reference error: It is not defined".

**To Reproduce**
Steps to reproduce the behavior:
1. Run SB using `yarn storybook`

**Describe the bug**
Storybook should launch with no errors. It seems to choke on describe, it, etc.

**Screenshots**
![Screen Shot 2019-10-11 at 9 51 28 AM](https://user-images.githubusercontent.com/1482340/66657252

[2019-10-11 15:28] seanmheff commented on #8376
Looks like my issue was caused by using a duplicate `withKnobs` decorator - one at the global level, and the order at the individual story level. Can verify the addon works fine when I removed the duplicate decorator.

[2019-10-11 18:47] ssbelle commented on #8375
I am also having this issue and am very interested in suggestions and solutions. Thanks

[2019-10-11 20:06] YoungElPaso commented on #8009
In this case is SSR synonymous with pre-rendering? I guess if you're developing w/ SSR in mind, that's not the case.  But I think pre-rendering and SSR are related, and @shilman 's use case (docs) is the same one I'm going for.

[2019-10-11 20:10] vinceumo opened #8392 "MDX ability to loop (map) <Preview> and <Story>"
Hi, Thanks for this project, I love using it.

I'm using MDX, I would like to be able to generate multiple stories using an array. Not sure if it is possible.

I tries something like that with `@storybook/react v5.2.3`:

[code]

I have no error but the output is not as expected:

![Capture](https://user-images.githubusercontent.com/21067002/66681633-03262c80-ec6b-11e9-99d2-87962e916842.PNG)

Thank

[2019-10-11 20:41] shilman commented on #8392
@vinceumo Unfortunately I don't see this happening any time soon. Those story definitions get automatically compiled to named exports when the file is loaded, so they need to be static at this time. Making them dynamic is tricky, and a low priority unless somebody from the community wants to take it on.

[2019-10-11 20:48] shilman commented on #8390
@bfeeley do you use describe/it in your stories?

[2019-10-11 20:59] shilman commented on #8387
Closing as dupe to https://github.com/storybookjs/storybook/issues/7479

[2019-10-11 20:59] #8387 closed

[2019-10-11 21:11] shilman commented on #8126
I've added the `todo` label (which tells the bot to go away) and assigned you! 😄

[2019-10-11 21:18] #8382 closed

[2019-10-11 21:18] shilman commented on #8382
fixed!

[2019-10-11 21:54] kkorach commented on #8342
I'm seeing the same thing with CSF stories.  If the prop is set by a knob then it looks like its using the component's default value instead of what the knob says.

[2019-10-11 22:04] treshugart commented on #8009
Yeah, I think that would be sufficient. I think pre-rendering could cover a smoke test of SSR'able components.

[2019-10-11 22:39] carolstran opened #8394 "More inclusive language in docs"
:wave: Sorry I know I'm ignoring all of your well-thought out templates, but I wasn't sure where this would land! Here me out...

I noticed that there are many instances of the word "simply" in your documentation. Unfortunately, words like this can make people feel frustrated and isolated while reading (myself included, hence the issue) - especially if they are facing issues.

If it's alright with

[2019-10-12 00:35] shilman commented on #8394
@carolstran we'd absolutely welcome those updates! 🙏

[2019-10-12 00:36] sinharaksh1t commented on #8356
Fantastic. Sounds like we're in an agreement then. I'll also keep an 👀 out for #8024. Once that gets merged, we'll start work on this. Thanks @PaulieScanlon and @shilman.

[2019-10-12 00:43] shilman commented on #8345
@tmeasday The error is fixed when you ask docs to do its own babel configuration, which is typically needed for CRA apps:

[code]

If there is a way to get Docs to use CRA's babel config for downstream processing of MDX, that would probably be a more technically correct solution. However, I'm not sure how to do that, and it might be a better fit for the CRA preset cc @mrmckeb

[2019-10-12 02:11] kevinSuttle opened #8395 "storySort function jumps to 2nd group by default when sorting by kind"
:wave:  Hey all! I'm trying to sort my stories a certain way _and_ get the first group of the first story to be selected. This was working until I converted them to CSF, and now no longer.

[code]

The only thing wrong with this is it now defaults to the 1st story of the 2nd group, which is not ideal. I also tried `{numeric: false}` and just leaving that object out, but it's not doing what I would

[2019-10-12 03:04] #7637 closed

[2019-10-12 03:04] #7830 closed

[2019-10-12 04:40] tmeasday commented on #8345
Why didn’t I need to do that in the example repo though @shilman?
On 12 Oct 2019, 11:44 AM +1100, Michael Shilman <notifications@github.com>, wrote:

[2019-10-12 06:42] donaldpipowitch commented on #8126
Would you be fine with the 'manual' setting as well? See "Additional context". That would be a new feature however, not just a bug fix.

[2019-10-12 07:32] yiling-e0 commented on #8267
I tried it, but

These dependencies were not found:                                                                                                                   friendly-errors 15:24:26
                                                                                                                                                     friendly-errors 15:24:26
* core-js/modules/es6.array.find in

[2019-10-12 10:37] velopert commented on #8191
I am facing a similar issue here.

It works perfectly when I use arrow function syntax.

[code]

![image](https://user-images.githubusercontent.com/17202261/66700051-67a6c180-ed27-11e9-8c7a-58a52e69b4e2.png)

However, if I use function keyword, it does not extract defaultProps.
[code]

![image](https://user-images.githubusercontent.com/17202261/66700075-9f156e00-ed27-11e9-97a1-8c5bace7b61c.png)

[2019-10-12 10:40] velopert commented on #8191
I think this is a bug of react-docgen-typescript-loader because same thing happens when I use @storybook/addon-info

[2019-10-12 11:25] kfayelun commented on #6204
Im seeing the samme issue:
`ERROR in ./src/lib/helpers.js
Module not found: Error: Cannot find module 'core-js/modules/web.dom.iterable'
 @ ./src/lib/helpers.js 16:0-43
 @ ./src/components/Person.js
 @ ./src/components/Person.stories.js
 @ ./src sync \.stories\.js$
 @ ./.storybook/config.js
 @ multi ./node_modules/@storybook/core/dist/server/common/polyfills.js ./node_modules/@storybook/core/dist/

[2019-10-12 11:37] kfayelun commented on #8143
I'm also not getting any details for my props. Im seeing the prop name, but not type or default, even though it is defined in the component. Im using CSF, but project is gatsby so using manual install with webapck config, not the preset. Very open for it being my own config causing this, Im no webpack pro. Components are functional so no React.Component options like described above.

I had to upda

[2019-10-12 14:23] marcoautiero opened #8398 "Storybook with React Native, rendering react-native-linear-gradient gives error `_reactNative.requireNativeComponent) is not a function`"
**Describe the bug**
In a React Native app, launching `storybook-web` with `npm run storybook-web`, trying to get the story of a component using `react-native-linear-gradient` i get the error `(0 , _reactNative.requireNativeComponent) is not a function`

![image](https://user-images.githubusercontent.com/2686869/66702811-f86fa400-ed0b-11e9-8e65-85679b0af1dc.png)

**To Reproduce**
Steps to reproduc

[2019-10-12 14:42] Aaron-Pool commented on #8267
@yilling-e0 would you mind pasting your package.json?

[2019-10-12 14:48] carolstran commented on #8394
Yay! I'm on it 🚀

[2019-10-12 14:59] KASOGIT opened #8399 "Storybook knobs select typescript types false positive"
Ts-linter and ts compiler throw a type error with select that didn't appeared before.

[code]
![image](https://user-images.githubusercontent.com/15908751/66703296-5bb00500-ed11-11e9-99fe-50394e83b894.png)

I just upgraded to the version: 5.2.3. Work well with a `// @ts-ignore: Unreachable code error`.

Did i missed something ?

[2019-10-12 15:04] bfeeley commented on #8390
@shilman No .. just in the *.test.tsx. Not entirely sure why SB cares about the test files. I don't have them included in any of the build configs.

[2019-10-12 15:07] bfeeley commented on #8390
The thing is really perplexing is i have an almost exact copy of the app in another branch and it works fine.

[2019-10-12 19:53] cycleseven opened #8401 "Code preview in addon-docs only works for arrow functions in CSF"
**Describe the bug**

The docs panel doesn't seem to display a code preview when using a regular old `function` in Component Story Format (CSF). Instead, "No code available" is displayed. Looks like it only works for arrow functions.

Not a huge deal of course, can work around it by just using arrows instead :)

**To Reproduce**

Here's a new story in a [cra-kitchen-sink fork](https://github.com/c

[2019-10-13 01:35] shilman commented on #8126
@donaldpipowitch I like that idea. Any thoughts @CodeByAlex @jsomsanith-tlnd ?

[2019-10-13 01:45] shilman commented on #8345
@tmeasday Here's why: https://github.com/chromaui/learnstorybook-design-system/blob/master/package.json#L26-L30

[2019-10-13 02:21] bmayen commented on #8153
Would like to keep this open. Contribution is still pending the referenced issue above.

[2019-10-13 03:52] shilman commented on #8153
@bmayen #7929 has been merged. I'll assign this issue to you and mark it as `in progress` so the bot goes away.

[2019-10-13 07:52] jsomsanith commented on #8126
Hi !
To disable an addon per story you have #6923.
But having an option to only run it manually would be awesome.

[2019-10-13 10:42] jerriclynsjohn commented on #8384
I'm facing the exact same issue too.

[2019-10-13 11:34] #7802 closed

[2019-10-13 15:15] Ahmedhanafy4199 opened #8405 "what is the error in that code ???"
import React, {Component} from 'react';
import Todoitem from './Todoitem';
import PropTypes from 'prop-types'

class Todos extends Component {
   render(){
       return this.props.todos.map((todo) => (
           <Todoitem key={todo.id} todo={todo} />
       )) ;
   }
}

Todos.PropTypes = {
    todos: PropTypes.array.isRequired
}

export default Todos;

[2019-10-13 16:03] bfeeley commented on #8390
Ok .. I have half figured this out. Have the cause but not the reason. So I am creating mock data for my tests and stories. The mock data is defined in the test file as a `const`, and imported from there into the story: The minute i add the import in the story to get the mock from the test file is when this error shows up. Remove the import, and it goes away.

[2019-10-13 16:06] bfeeley commented on #8390
*.test.tsx
[code]

*.story.tsx
[code]

[2019-10-13 16:16] candentira commented on #8353
Couldn't reproduce any case mentioned as Not Working - everything was working fine for me.
@am-ma could you please create commit with the problem (how you're getting an issue)?

[2019-10-13 16:23] Hypnosphi commented on #8376
@shilman it doesn't look like TS has duplicate decorators

[2019-10-13 16:36] Hypnosphi commented on #8376
@seanmheff do you have knobs nested like that as well?

[code]

[2019-10-13 16:44] Hypnosphi commented on #8376
@ndelangen looks like we stopped handling updates to knob default values with https://github.com/storybookjs/storybook/commit/42b26cf9afd048d0e1f15bd57dfa36c6304dee17

[2019-10-13 16:55] Hypnosphi commented on #8085
@brookemitchell Hi, did something go wrong with the repro?

[2019-10-13 17:10] Hypnosphi commented on #8306
@wgpsutherland I tried to reproduce this in our own setup, and it happens only when I rename a story. If you're saying that in your case it also happens on any change in story _code_ (as opposed to the name), please create a GitHub repo with minimal reproduction

[2019-10-13 18:33] Hypnosphi commented on #7407
Should be fixed with #8287

[2019-10-13 18:34] #7407 closed

[2019-10-13 19:18] brookemitchell commented on #8085
Sorry no just haven't had time. I'll close and revisit the repro when I get time later this week.

[2019-10-13 19:18] #8085 closed

[2019-10-13 20:06] sayjeyhi commented on #3346
@shilman I am facing this error too , with `react-motion` in `lerna` mono-repo repository.
did @idbartosz solution fix the issue ?

[2019-10-13 21:21] wgpsutherland commented on #8306
@Hypnosphi it happens every time I change the code in the story or in the component. I've created this repo that reproduces the issue: https://github.com/wgpsutherland/storybook-hotreload-repro

[2019-10-13 22:54] Hypnosphi commented on #8306
@wgpsutherland Looks like you're mixing [Component Story Format](https://storybook.js.org/docs/formats/component-story-format/) and [`storiesOf` API](https://storybook.js.org/docs/formats/storiesof-api/) in your stories:

[code]

You have to pick one. So it should be either
[code]

or
[code]

[2019-10-13 22:55] Hypnosphi commented on #8306
@shilman I think we should show some warning when CSF and storiesOf are mixed inside a single file

[2019-10-13 23:07] Hypnosphi commented on #8306
Tu sum everything up, there are two issues here:

1. Stories get removed on HMR. The fix is to removing duplicate kind declarations, i.e. picking one from `export default` and `storiesOf`
2. When you remove a story, an exception is thrown. Fixed by #8408

[2019-10-14 00:01] tmeasday commented on #8345
Hmm, but that gets added later @shilman. Try checking out commit 3fb3567 -- it doesn't have that section in `package.json`, but runs just fine.

[2019-10-14 00:29] KamaKAzii commented on #5910
+1

[2019-10-14 01:21] #8298 closed

[2019-10-14 01:46] #8405 closed

[2019-10-14 02:38] shilman commented on #8390
`describe` is provided by `jest` when you're testing, but storybook doesn't provide it. you could try providing a stub in your `config.js`, something like `window.describe = () => {}`? Or create your data in a third file. Or, if you're using [component story format](https://medium.com/storybookjs/component-story-format-66f4c32366df), you can define your data in your stories and import it into your

[2019-10-14 02:42] shilman commented on #8154
@sami616 want to write a PR for this?

[2019-10-14 02:49] shilman commented on #8306
@Hypnosphi In the first version of CSF I actually forbid duplicate kinds. Then I re-enabled it due to this PR from @hipstersmoothie, which I tested (but perhaps not thoroughly enough). Can you take a look: https://github.com/storybookjs/storybook/pull/8133

[2019-10-14 04:16] shilman commented on #8345
Other than that, the only thing I can see is difference in `yarn.lock` versions. @mrmckeb do you have time to chat about this? It's not really a CRA problem, although it's related to your presets work

[2019-10-14 05:39] sami616 commented on #8154
yup, no problem.

[2019-10-14 06:11] Hypnosphi commented on #8306
@shilman Let's add duplicate kinds in official-storybooks and test how HMR works?

[2019-10-14 06:23] Hypnosphi commented on #8306
@shilman BTW #8133 was [released](https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.12) in `alpha.12` while the repro [uses](https://github.com/wgpsutherland/storybook-hotreload-repro/blob/master/package-lock.json#L1802) `alpha.11` and I still see no warning here, probably because only one of kind declarations is CSF.

The problem with duplicate kinds and HMR is not CSF-specific,

[2019-10-14 07:19] shilman commented on #7895
@CodeByAlex is this still a problem? Not repro'ing on https://storybookjs.now.sh/

[2019-10-14 07:36] shilman commented on #8038
@Sureiya Does this fix it? https://github.com/storybookjs/storybook/pull/8266

[2019-10-14 07:41] shilman commented on #7079
@stropho any interest in trying to fix this?

[2019-10-14 08:01] shilman commented on #6706
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.18 containing PR #8403 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-10-14 08:01] shilman commented on #7877
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.18 containing PR #8269 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-14 08:01] shilman commented on #8306
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.18 containing PR #8411 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-14 08:01] shilman commented on #8368
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.18 containing PR #8369 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-14 08:01] shilman commented on #8376
Ta-da!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.18 containing PR #8407 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-14 08:01] #7877 closed

[2019-10-14 08:01] #8368 closed

[2019-10-14 08:02] rolandoldengarm opened #8413 "Unable to have custom serializer for snapshot testing with Angular"
**Describe the bug**
I'm using Storybooks with Angular and would like to implement a custom serializer. The reason is that some of our 3rd party dependencies are generating unique ID's every time, so the snapshot changes on every render. I would like to ignore these properties.

The documentation around snapshotSerializers focuses on enzyme and React, but it does not describe how it may work for A

[2019-10-14 08:03] Hypnosphi commented on #8306
Issue with HMR not fixed yet

[2019-10-14 08:04] Hypnosphi commented on #8376
@shilman do you have some bot that does this? How can I mention an issue in a PR without triggering the bot?

[2019-10-14 08:09] shilman commented on #8376
It's part of my release script. It closes issues & adds this comment for any issue that's mentioned in the first line of the PR.

[2019-10-14 08:16] Hypnosphi commented on #8376
I see, will add some extra lines next time

[2019-10-14 08:36] gaurav5430 commented on #4136
@cwmrowe
adding this to the storybook webpack config works:
[code]

how does it work though? This seems specific to how webpack resolves module, and may or may not be directly co-related to how tsconfig is setup (?)

[2019-10-14 08:39] stropho commented on #7079
I can definitely give it a try. I have never really investigated the code of storybook or its addons. Can you give me some pointer where to start ? I mean I can just read the code but if you possibly know where the problem might reside, that would be great.

[2019-10-14 08:53] shilman commented on #8376
I'll update it to ignore comments

[2019-10-14 08:57] shilman commented on #8383
Sometimes the UI gets into a funny state where the addon panel is hidden based on local storage. In that case, running `localStorage.clear()` in the browser console and hard-reloading the page should fix it.

[2019-10-14 09:00] shilman commented on #7079
@stropho I'm not sure what the problem is. However if I was going to debug it, I'd get the storybook repo set up on my dev machine, create a repro in `examples/official-storybook`, and then debug it there, so that I could edit the storybook source and have the storybook hot-reload using `yarn dev`. More info in CONTRIBUTING.md.

[2019-10-14 09:42] frederickfogerty commented on #7746
Getting the same for `@storybook/react` version `5.2.1`

[2019-10-14 09:48] SimonS commented on #7914
I dunno if it's helpful for anyone else getting this error, for now we're working around this by sending in our own component. It loses the syntax highlighting, however:

[code]

[2019-10-14 09:49] shilman commented on #7877
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.4 containing PR #8269 that references this issue. Upgrade today to try it out!

[2019-10-14 09:49] shilman commented on #8080
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.4 containing PR #8317 that references this issue. Upgrade today to try it out!

[2019-10-14 09:49] shilman commented on #8306
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.4 containing PR #8411 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-14 09:49] shilman commented on #8368
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.4 containing PR #8369 that references this issue. Upgrade today to try it out!

[2019-10-14 09:57] Tarni-Baghel commented on #8058
@CodeByAlex  We got the same error in "@storybook/addon-jest": "^5.2.3"
Please let us know once you deploy the latest version.

[2019-10-14 10:50] shilman commented on #7914
If anybody has a public repro of this, I'd love to take a look!

[2019-10-14 11:00] shilman commented on #4796
Closing this as a dupe to #8284

[2019-10-14 11:00] #4796 closed

[2019-10-14 11:08] #7857 closed

[2019-10-14 11:08] #7853 closed

[2019-10-14 11:38] mrmckeb commented on #7221
Ah, OK - yes... will take a look today.

[2019-10-14 11:39] vinayg-cp opened #8414 "Storybook Docs - Not able to write CSF stories in MDX in Gatsby monorepo."
**Description**

In my Gatsby themes project, I am trying to integrate the storybook using .mdx format.
But the webpack of storybook is not able to convert the .mdx files.

And it gives the following error:
![image](https://user-images.githubusercontent.com/43405939/66748439-d0677880-eea4-11e9-94aa-8df6d4f43548.png)

Repository: https://github.com/vinayg-cp/storybook-poc.git

**To Reproduce**
Step

[2019-10-14 11:56] bfeeley commented on #8390
@shilman Yeah that's actually the route i went. Just set up the stubbed data in the story instead of pulling it from the test file. Seems to be working now. I would have thought having jest installed as a dev dependency would have covered the issue, but didn't seem to help. Anyway ...  I'll close this since there's a workaround. Thanks!

[2019-10-14 11:56] #8390 closed

[2019-10-14 12:39] lppedd commented on #7877
@shamin seems working ;) Thanks!

[2019-10-14 12:52] ahmetcaglayan commented on #8192
Is there a technological?

[2019-10-14 13:13] chiangs commented on #8345
I just wanted to confirm that this fixed it for me as well. Thanks

[2019-10-14 13:16] sharikovvladislav commented on #8370
I will check check it tomorrow morning.

[2019-10-14 13:16] sharikovvladislav commented on #8370
I will check it tomorrow morning.

[2019-10-14 14:05] kfayelun commented on #8414
Hey fellow gatsby user! I've been working on a setup of storybook 5.3.whatever-new-alpha-that-comes-out for a gatsby monorepo the last week and a bit. It's up and running now, but still not seeing props. I tested your Card story, and got it to work in my repo. I think your webpack config looks good, but you are missing the return in the config file. This is new for CSF stories, and described here:

[2019-10-14 14:23] khantopa commented on #6700
Looking for the same question

[2019-10-14 14:50] goralight commented on #8383
Yeah I did that and it worked, sorry for the redundant issue, thank you for your help!

[2019-10-14 15:16] slaviczavik commented on #7746
This issue was fixed in version **5.2.2**

[2019-10-14 15:34] shilman commented on #7746
Closing. Please upgrade to 5.2.2 and above!

[2019-10-14 15:34] #7746 closed

[2019-10-14 15:36] shilman commented on #8383
Sorry for the bug! Glad you got it working!

[2019-10-14 15:38] shilman commented on #8192
Sorry for the late reply. How about 10 lines? Would you mind putting together a PR for this?

[2019-10-14 15:58] apanizo commented on #8414
Hi everyone!

I have had the same issue you can just fork and run `yarn install && yarn storybook` here: https://github.com/apanizo/cra-sb

And I have been able to hack it by overriding ```generateSourcesInExportedParameters``` in source-loader/dist/server/abstract-syntax-tree/generate-helpers.js:

[code]

I have not created a PR because I am missing some dots here.

@shilman  Can you give us some

[2019-10-14 17:24] #8201 closed

[2019-10-14 17:39] hellsan631 commented on #7340
Also experiencing this issue, following along as well

[2019-10-14 17:50] shilman commented on #6706
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.19 containing PR #8415 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-10-14 17:50] shilman commented on #7221
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.19 containing PR #8416 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-14 17:50] shilman commented on #7543
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.19 containing PR #8396 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-14 17:50] shilman commented on #8058
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.19 containing PR #8410 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-14 17:50] #7221 closed

[2019-10-14 17:50] #7543 closed

[2019-10-14 17:50] #8058 closed

[2019-10-14 18:09] selrond commented on #8306
Not sure how is #8411 fixing it, as I don't use `storiesOf` in my app at all, but it works!

[2019-10-14 18:38] ssbelle commented on #8375
@hrobarikt did you ever find a solution?

[2019-10-14 18:45] macrozone commented on #5935
did not work for me, rebuilding on changed file still takes > 10seconds, which is too long for hot module reload

[2019-10-14 19:19] Hypnosphi commented on #8306
@selrond I think it was #8408 in your case

[2019-10-14 20:04] Lighttree commented on #3346
@sayjeyhi yeah, it should. This is not actually `Storybook` issue. This happens just because when you work in `monorepo`, you have `node_modules` not only in your project root, but in `*/packages` as well, which is not excluded by default. (I actually not sure that it shouldn't, because its `monorepo` organization specific. If you create your `Storybook` as `package` in Lerna `packages` folder you

[2019-10-14 20:23] busticated commented on #3346
has anyone actually shown their proposed work-around fixes the example repro I created?

https://github.com/storybookjs/storybook/issues/3346#issuecomment-514324312

seems like that would answer the question definitively.

[2019-10-14 21:08] kelly-tock commented on #4801
came across this issue after googling, I as well see the issue.

[2019-10-14 21:49] Aaron-Pool commented on #8392
For simple and deterministic cases, you might consider using [this](https://github.com/kentcdodds/codegen.macro)

[2019-10-14 22:03] hrobarikt commented on #8375
As a quick workaround, you can try another addon @storybook/addon-console in which you can output the console log into the actions panel as well. But it is still not outputting the whole object and you need to specify the exact property that you wanna log (in my case event.detail.message).

[2019-10-15 04:28] kroeder commented on #7641
In app/angular it was due to tsconfig "types=[webpack-env]"

I assume it was added because in one server file `module.hot` or something like that is accessed. It shows a TSLint error because it uses node instead of webpack.env module. I fixed it by casting module to any in this file and removed webpack-env from the tsconfig

[2019-10-15 04:41] vinayg-cp commented on #8414
Hi kfayelun,

Can you share with me your config.js file, I am not understanding where to add a return.
Currently I am not using loadStories function.

[2019-10-15 05:31] jerriclynsjohn opened #8420 "Presets-Docs: Advanced configuration compilation errors"
**Describe the bug**
Following the steps for advanced preset configuration in the docs leads to error in compilation. Please look at the steps to reproduce for the solution to fix it.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the `my-preset.js` file in the storybook folder with the necessary configs as mentioned in docs
[code]
2. Add the `presets.js` file in the storybook folder wi

[2019-10-15 05:54] jerriclynsjohn commented on #8420
@shilman I'm so loving advanced preset configuration right now!

[2019-10-15 06:02] shilman commented on #8420
@jerriclynsjohn great, thanks for the doc fix!!! 🙏

[2019-10-15 06:02] #8420 closed

[2019-10-15 06:30] sharikovvladislav commented on #8370
What is your `@angular/cli` version?

[2019-10-15 06:55] sharikovvladislav commented on #8370
@kroeder What is the code of your story?

[2019-10-15 06:58] smakhl opened #8422 "Knobs addon - 'Copy' button does not encode URL specific chars in query params"
**Describe the bug**
When you use a 'Copy' button in knobs addon, if any of the input values contain symbols like `#`, `&`, `?` , it is added in the URL 'as is' and breaks it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://storybookjs.now.sh/html-kitchen-sink/?path=/story/addons-knobs--simple
1. Type `Storybook & knobs` in Name text knob,
1. Click 'Copy'
1. Result URL is `http

[2019-10-15 06:59] kroeder commented on #8370
I tried 8 and 9 - can't tell you the version right now
Regarding the story I just set `component: AppComponent` - doesn't matter which story file

I'm at work and have no access to my project right now

[2019-10-15 07:58] donaldpipowitch commented on #8126
@jsomsanith That's awesome. I never saw that setting before. Thank you. That is a good workaround for me until a "manual run" feature landed.

[2019-10-15 08:01] sharikovvladislav commented on #8370
Looks like it is fixed in alpha.18 according to the [CHANGELOG.md](https://github.com/storybookjs/storybook/blob/next/CHANGELOG.md#530-alpha18-october-14-2019) file. It works on `alpha.19`.

[2019-10-15 08:17] kfayelun commented on #8414
Yep, here you go. I added a Link MDX story. https://github.com/netliferesearch/netlife2019/tree/storybook_setup_stories

[2019-10-15 08:34] shilman commented on #8143
FYI, @mrmckeb has done some awesome detective work that's possibly related to this. The TLDR is that there may be two problems:

1. The docgen loader may need to be pointed at your `tsconfig.json` using something like this:

[code]

2. There are potential Babel plugin conflicts:

[code]

These changes have improved the docgen support in the CRA preset's typescript docgen settings: https://github.c

[2019-10-15 08:41] kroeder commented on #8370
Oh really? That's what I have fixed 😄 Haven't expected that it fixes the usage of Ivy as well
Let me confirm this and we might be able to close this. Thanks for all your efforts! It helped a lot.

[2019-10-15 08:43] sharikovvladislav commented on #8370
@kroeder do you have any planned released date for the next stable version of `@angular/storybook`?

[2019-10-15 08:47] sharikovvladislav commented on #8370
Arrrgh... In our project we don't `@angular/cli` at the moment. My mate @nickbullock has this task at the moment :D

I can't start storybook in our project, since it does not have `angular-devkit` dependency at the moment. Looks like you need it to get webpack-configs. We have webpack configs extracted (well, actually Angular and Angular CLI did not exist at that moment in the past :D).

[2019-10-15 08:50] sharikovvladislav commented on #8370
Wait :DDD

It is just an error in console. Storybook started, whil I was typing the previous message.

I have this exception while storybook is starting:

[code]

But in general, storybook started and works fine. In Ivy. In our huge project :)

[2019-10-15 09:23] sharmavikram commented on #8058
Hello @shilman,  addon-Info not working in @storybook/addon-info 5.2.3. and i am using react with typescript and following [https://github.com/storybookjs/storybook/tree/master/addons/info](url) url for implementing addon. but iti showing an error.

**Property 'story' is missing in type 'StoryContext' but required in type '{ kind: string; story: string; }'**

[2019-10-15 09:23] apanizo commented on #8414
Hi @vinayg-cp @kfayelun,

one thing, can you guys try to remove this https://github.com/netliferesearch/netlife2019/blob/storybook_setup_stories/web/.storybook/webpack.config.js#L46-L51 from your project and try again?

I believe the problem is not on the Gatsby side nor your configuration, as I wrote in my message, unless I am missing something (this is why I asked @shilman for feedback), I belie

[2019-10-15 09:24] kfayelun commented on #8143
@shilman I'm not using typescript and still not seeing prop types and defaults. Should I file a separate bug?

[2019-10-15 09:40] shilman commented on #8143
@kfayelun Yeah, I think that's a separate issue (though it may end up being the same underlying problem). Thanks!

[2019-10-15 09:42] shilman commented on #8370
Great work @kroeder @sharikovvladislav!!! 👏 👏 👏

[2019-10-15 09:57] am-ma commented on #8353
@candentira
I made a minimal sample app.
https://github.com/am-ma/ts-react-storybook

Working: https://github.com/am-ma/ts-react-storybook/blob/master/src/components/stories/Button.stories.tsx

Not Working: https://github.com/am-ma/ts-react-storybook/blob/master/src/components/stories/ButtonBreak.stories.tsx

I hope you check it 🙏

[2019-10-15 09:58] danbirle commented on #4099
bug description fits exactly with what i get in version 5.2.1

[2019-10-15 10:04] vinayg-cp commented on #8414
Hi @kfayelun,
After using the config similar to yours,
The initial error is solved,
But now I am getting a new error, as shown below in the image:
![image](https://user-images.githubusercontent.com/43405939/66821716-83e17300-ef60-11e9-8a89-fc99591954aa.png)

I changed my storybook to the following version:
![image](https://user-images.githubusercontent.com/43405939/66821756-99ef3380-ef60-11e9-81cd

[2019-10-15 10:10] sharikovvladislav commented on #8370
@shilman @kroeder
any info how to supress exeption in the message above?

[2019-10-15 10:18] owen26 commented on #6978
As a workaround, what you can do is:

Create a new project entry in `angular.json` called "storybook",

angular.json
[code]

With this change, you basically tell storybook what's your intended project in your nx multi-projects monorepo to let storybook start/build.

[2019-10-15 10:51] vinayg-cp opened #8425 "Storybook Docs - Gatsby props not appearing correctly"
**Describe the bug**

Not able to see additional metadata of props in the props table, when using the addon-docs.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the following repository: https://github.com/vinayg-cp/storybook-poc.git
2. Checkout the following branch: vinay/storybook-props-issue
3. Install the dependencies
4. Start the storybook.
5. Click on button, and then Navigate t

[2019-10-15 10:58] shilman commented on #6706
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.20 containing PR #8419 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-10-15 10:58] shilman commented on #7844
Hurrah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.20 containing PR #7966 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-15 10:58] #7844 closed

[2019-10-15 11:12] envision commented on #8082
Hi @Aaron-Pool, how are things going regarding this issue?

[2019-10-15 11:21] envision commented on #7101
I don't think Vue kitchen sink example is done yet because there is no TypeScript configured in that example.

With Vue 3.0 approaching, people should already be using TypeScript in their Vue projects, and it seems this not straightforward setup to configure when using addon-docs, ref https://github.com/storybookjs/storybook/issues/8082

[2019-10-15 11:21] kfayelun commented on #8414
Hey @vinayg-cp
Try `export default Card` in Card.js and `import Card from './Card';`in the story. If you want named exports you can do `export { Card }` and `import { Card } from './Card'`.

Hey @apanizo
Not using storysource anymore,  as the new docs have the source option out of the box :) so Ill remove that loader.

[2019-10-15 11:23] envision commented on #7101
In addition, please note that by default Vue projects are configured to use '@' as an Webpack alias to point to */src* folder, so this should be configured as well.

[2019-10-15 11:25] ahmetcaglayan commented on #8192
if it is simple I would like to apply

[2019-10-15 11:42] sofiageo opened #8426 "React Context not working as expected"
**Describe the bug**
Passing a Context through a decorator doesn't work as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a React Context on a TS or a JS file.
2. Import that Context and pass it through a decorator, with an updated value.
3. Try to use the context object via hooks (useContext)
4. On TS files it will give an error, on JS files it will not get the updated val

[2019-10-15 11:48] shilman commented on #7101
@envision would you mind filing a separate issue containing Vue improvements you'd like to see? I'm working with @Aaron-Pool and @elevatebart to get official Vue support ready in 5.3. This issue is just about getting the alpha merged, which is done

[2019-10-15 11:50] shilman commented on #7101
@envision #8082 seems like a good place to aggregate this

[2019-10-15 11:51] vinayg-cp commented on #8414
Hey @kfayelun,

No difference still the same issue.
Am I missing something with babel transpilers?

You can checkout the last change I made at: vinay/withDefaultExport

[2019-10-15 11:59] samsoedien commented on #8370
I had similar console errors using storybook 5.2.3. Updated to 5.2.4 and it resolved all issues for me!

[2019-10-15 12:04] sharikovvladislav commented on #8370
I got it on next version :(

вт, 15 окт. 2019 г. в 14:59, Samsoedien <notifications@github.com>:

[2019-10-15 12:39] Aaron-Pool commented on #8082
@envision, right sorry. I totally let this slip through the cracks. I should have a little bit of free time tonight to pull down your repo and get it working. If I don't post some sort of update in this thread tonight, ping me again, just to keep me honest 😉

[2019-10-15 12:42] sharikovvladislav commented on #8370
@samsoedien wait, do you mean `ERROR TypeError: Cannot read property 'clear' of undefined` message or messages from https://github.com/storybookjs/storybook/issues/8370#issuecomment-542108871?

[2019-10-15 13:26] kfayelun commented on #8414
@vinayg-cp maybe you need to use the story source loader, maybe docs are using this to generate the code snippets? If you console out the config before you override it, maybe you can see the default loader-setup there?

[2019-10-15 13:56] JoshHub commented on #7004
I'm having the same issue even after upgrading to version 5.2.3, any updates?

[2019-10-15 14:09] apanizo commented on #8414
@vinayg-cp @kfayelun I am rushing (having many things on my plate), I will try to take a look into your comments later, but I wanted to add a comment for a small clarification, feel free to point any bad assumption.

If you want to see the `source` of your stories you need to rely directly or indirectly in source-loader.

So far there are three options:
Option 1: Using addon-docs with the [preset

[2019-10-15 14:12] apanizo commented on #8414
@vinayg-cp I have not used the MDX only approach, but if you are stuck, you can give a try to mix [CSF with MDX](https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/recipes.md#csf-stories-with-mdx-docs), by creating `Card.stories.tsx`.

Also another thing you can try is just export the Card component in this way:
` export default Card;` and then in the mdx do: `import Card from './

[2019-10-15 14:24] shilman commented on #8174
@antonija-nosto Sorry for the late response. How can I best support you on this? I'm guessing it belongs in a separate project, but I'd be happy to offer support from the Storybook Docs side!

[2019-10-15 14:24] sofiageo commented on #8426
I've installed babel-loader and now the TS error is gone, but the issue still persist. So it looks there are two issues, one is TS files without babel, and the other one is the context hook not updating properly.

[2019-10-15 14:30] sofiageo commented on #8426
It works fine, was I using a wrong syntax?

[2019-10-15 14:36] elevatebart commented on #8174
@antonija-nosto The biggest difference between VueDS and storybook is:
There is no automated discovery of components in storybookjs for now.
Storybook only detect stories files even with docs. So, if a component has no story, it does not show up in your docs.
In order to set the migration path, the first task is probably to generate default stories for the components that have none.
@shilman is it

[2019-10-15 14:48] sofiageo commented on #8426
The TS issue I think is caused by storybook/source-loader addon. When I disable it I get no errors.

[2019-10-15 15:49] hipstersmoothie commented on #8321
Current solution: https://github.com/microsoft/TypeScript/issues/18588#issuecomment-516130228

This doesn't feel like a good long term solution though, but it fixes it for now

[2019-10-15 15:49] kfayelun commented on #8414
Hey @apanizo, Im busy on other projects today, so not a lot of time to take down your repo etc. My project is running fine, I'm not seeing this issue, was just trying to help. Have you seen this article? https://www.gatsbyjs.org/docs/visual-testing-with-storybook/ It seems like you are missing some of that in your config.js. Both CSF and MDX stories are working for me, but havnet tested using both

[2019-10-15 15:56] mallik-svmx commented on #6471
@montezume It worked for me after removing import babel-polyfill.

[2019-10-15 16:08] mrmckeb commented on #8342
Adding a `groupId` (third parameter) to knobs solved this for me.

Each should be unique.

```text('Text', basic, 'basic')```

[2019-10-15 16:12] apanizo commented on #8414
@kfayelun thanks for getting back to me. Yes TS maybe is adding noise here.

Quick question, can you confirm me you are able to see the source code of each story on your MDX files? (you know clicking on the Show source code button at the end of each story, like [this](https://github.com/storybookjs/storybook/issues/8401))

[2019-10-15 16:21] kkoch986 opened #8428 "No propTypes/description column for React class components"
**Describe the bug**
When defining a react component with a class extending from `React.Component` the type and docgen description do not appear in the props table. Functional components seem to work fine.

Edit: sorry didnt realize i couldnt tag the issue. This pertains specifically to the docs page addon

When i create a component like this:
[code]

with this story:

[code]

i get the following

[2019-10-15 16:32] Mark24Code commented on #8136
+1

[2019-10-15 16:33] kfayelun commented on #8414
@apanizo correct, I do see the source code for MDX files, but I use arrow functions. You can pull down my repo and have a look.

I don't quite understand your last statement/question. So if you remove the docs addon and the source-loader you see your storybook (but without docs or sourcecode)? I dont see a reason why it still couldnt be a typescript issue with loading the source code? Cus thats yo

[2019-10-15 16:59] apanizo commented on #8414
No, if I remove the source-loader, then everything works but I can not see the source code in any place (old stories, new CSF stories or MDX stories). But it works, no compilation problem.

Hmmmm, not really, when I debugged the error, the files were transpiled correctly, and also with my hack (described in my first comment), I made it to work! So TS stuff went fine.

What I do not understand now

[2019-10-15 17:07] shilman commented on #8426
The <StoryFn /> syntax compiles to React.createElement(), which is needed for hooks. Didn't occur to me until I read the issue in its entirety. Thanks for putting this together!!

[2019-10-15 17:08] #8426 closed

[2019-10-15 17:11] shilman commented on #8136
React 16.8 Is the minimum requirement for docs. You can still use the rest of Storybook with earlier react versions.

[2019-10-15 17:14] shilman commented on #8174
@elevatebart we don't have anyone signed up for auto-discovery. Interested?

[2019-10-15 17:16] splomax commented on #6488
@shilman Is there a way in the new `addon-docs` to customize what actually shows up in the DocsPage?  Something I really like about `addon-info` is that I can write a markdown file for custom documentation but `addon-docs` seems to be a one-size-fits all as far as I can tell, unless there's some other documentation I'm missing.

I realize `addon-docs` supports MDX but I'm talking about configuring

[2019-10-15 17:32] shilman commented on #6488
@splomax there's a lot of documentation linked off of here: https://github.com/storybookjs/storybook/blob/next/addons/docs/README.md

For example, to disable stories in docs (in 5.3 only): https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/recipes.md#docspage

Docs is actually more configurable than `addon-info` AFAIK. It contains a set of "slots" that can be completely overridden

[2019-10-15 17:37] splomax commented on #6488
@shilman That looks super promising, thank you!  Not sure how I missed the stuff about configuring slots but I'm super grateful you shared it with me.  Playing with it now :)

[2019-10-15 17:40] shilman commented on #8140
@glenp01 can you try this? https://www.npmjs.com/package/@storybook/preset-create-react-app

cc @mrmckeb

[2019-10-15 19:22] elevatebart commented on #8174
@shilman Yes, I am! What did you have in mind?
I could see user gives a directory and we look for components in it.
Or a regular expression as an option to the preset?

[2019-10-15 20:42] splomax commented on #6488
@shilman I realize this is out of scope for this topic but I've been trying to figure out how to override each of those slots.  For example:

I understand that the SlotContext interface has properties for the different slots, but it's not entirely clear to me where I'm supposed to be overriding it.  I'm currently using CSF for my story definitions, if that makes a difference.  Thank you for any he

[2019-10-15 21:32] ryanfitzer commented on #8162
I'm also seeing this issue. The `type` column also fails to show.

[code]

[2019-10-15 22:24] shilman commented on #8162
Can either of you share a reproduction I can look at?

[2019-10-15 22:28] jebadirad commented on #8140
I am having this same issue, both with CRA and without CRA.

Without CRA i installed react-scripts and was able to get the `loading create-react-app config` message to appear.  I think that solved another issue I was facing as well so I have kept react-scripts as a dev dependency.

Would you, @shilman ,  suggest trying that preset-create-react-app as well? Unfortunatley I am using a `babel.config.

[2019-10-15 22:31] #8394 closed

[2019-10-16 02:26] Mark24Code commented on #8136
Thanks a lot! My problem is solved.

[2019-10-16 02:39] jerriclynsjohn opened #8434 "Preset config for TailwindCSS breaks build"
**Describe the bug**
I was trying to contribute a preset as advised by @shilman for setting up TailwindCSS, the first step towards that was to setup an advanced preset configuration and copy the working config from `webpack.config.js` to `my-preset.js` and import it to `presets.js`, everything else that was copied works except tailwind.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the

[2019-10-16 02:42] JeffGuKang commented on #8274
I do not have this issue in my project using RN 0.60.5
But it happens 0.61.2 in another project.

[2019-10-16 02:53] ryanfitzer commented on #8162
For sure!

Component: https://gitlab.com/ryanfitzer/design-system-starter/tree/master/components/button

Static build: https://ryanfitzer.gitlab.io/design-system-starter/?path=/docs/components-button--default-story

[2019-10-16 03:28] Aaron-Pool commented on #8082
Ok, tinkered with it a bit tonight for about an hour, and yeah, I couldn't get it running. Tried to sort out the repo as is, but there's a whole lot going on there, so I'll try again (hopefully tomorrow night) with a clean start in a brand-new repo. See if that's easier to get running.

[2019-10-16 03:37] shilman commented on #8140
There are a collection of issues piling up with different versions of what's probably the same underlying problem. I'm going to try to spend some time on it this week.

[2019-10-16 04:01] shilman commented on #8434
Thanks for working on this @jerriclynsjohn!

@igor-dv do you mind taking a look at this to help out?

[2019-10-16 04:04] shilman opened #8435 "Addon-Docs: Props Loading Issues"
There are a variety of issues piling up regarding inconsistencies in Storybook Docs Props handling. Creating an umbrella issue to track a systematic investigation:

- [ ] Static builds https://github.com/storybookjs/storybook/issues/8140
- [ ] Class components https://github.com/storybookjs/storybook/issues/8428
- [ ] Component description https://github.com/storybookjs/storybook/issues/8162
- [ ]

[2019-10-16 04:12] grantlouisherman commented on #4106
hey @ndelangen could I take a look at this bug? It seems like it has been around for a bit, not sure if it is already fixed.

[2019-10-16 04:57] vidarc commented on #4600
is it at all possible to get `@storybook/html` to work with jsx? would make writing my stories for stencil components much easier. would get typing, auto-complete, and don't have to use `document.createElement` or large template strings. tried to trick typescript with a `// @jsx` at the top using the react package, but that didn't work.

[2019-10-16 05:41] vinayg-cp commented on #8414
@kfayelun @apanizo ,

Appreciate your efforts guys,
But for some reason, it is not working still for .mdx stories.
For now I will proceed with only .js stories.

If I figure out anything I will let update here.
If anybody has any free time, you can clone my repository at: https://github.com/vinayg-cp/storybook-poc.git

And take a look.

Thanks

[2019-10-16 05:43] Tarni-Baghel commented on #8058
Thanks @shilman @CodeByAlex
It is working now.

[2019-10-16 06:11] dereklin opened #8436 "How to override a nested imported module in storybook angular?"
I want to write a story on a routing component.  The way I get away with some of the initialization set up is to create a host component wrapping the routing component and write the story against the host component instead so that I can do some bootstrapping work there.

Some of the bootstrapping work requires me to import a module which has a routing module.  The routing module is interfering wit

[2019-10-16 06:28] kfayelun commented on #8414
@vinayg-cp had a quick look at your repo; try removing the preset file (you dont need this) and add the storysource loader that I have in my config file to you webpack config.

@apanizo it's been working for me the whole time. Ive added the links to my repo before. Maybe go back and read my comments again.

[2019-10-16 07:09] shilman commented on #6488
@splomax here's a simple example if that helps?

https://github.com/storybookjs/storybook/blob/next/examples/official-storybook/config.js#L64

I'll see if I can spend some time documenting it better later this week

[2019-10-16 07:16] shilman commented on #4106
@grantlouisherman please do! 🙏

[2019-10-16 07:25] samsoedien commented on #8370
It could be that the issues I had were unrelated to the problem you are having. I couldn't get the components rendered in storybook and kept getting  `ERROR TypeError: Cannot read property 'hooks' of undefined` in 5.2.3. The storybook examples rendered without problems. Only when I imported my angular components using either the storiesOf API or CSF notation, I couldn't get them rendered.

[2019-10-16 07:35] mrmckeb commented on #8428
Hi @kkoch986, are you able to provide details of your environment?

[2019-10-16 07:37] mrmckeb commented on #8342
Everything is at latest stable (5.2.4). This could be related to something else though in your case.

What version are you on?

[2019-10-16 07:40] mrmckeb commented on #8143
We do know that the TS and JS loaders/plugins can interfere with each other. A good base test is to ensure that you don't have both in the mix ;)

[2019-10-16 07:43] vinayg-cp commented on #8414
https://github.com/vinayg-cp/storybook-poc/blob/5cfa434d990306e3dd2d6c627764ac4ff07c3a4b/.storybook/webpack.config.js

Hi @kfayelun

I replicated your webpack config, but still the issue exists.
![image](https://user-images.githubusercontent.com/43405939/66898261-7f779180-f016-11e9-89fc-4587c3040f2b.png)

And I removed preset too.

You can look into this code in my branch: vinay/netlifeWebpack
Rep

[2019-10-16 08:01] TaeKimJR commented on #8428
I'm not sure if this is the case w/ your react-dogen loader, but with `react-docgen-typescript`, the docs note that...

([source](https://github.com/strothj/react-docgen-typescript-loader#react-component-class-import))

It might be worth trying to import the named export from React
`import React, { Component from 'react';`

[2019-10-16 08:29] HansCronau commented on #8329
Hi. Sorry I can't get back on this right now. I'll close the ticket since you seem to have too little to go by.

[2019-10-16 08:29] #8329 closed

[2019-10-16 08:54] riandy-dimas commented on #3791
@florinpop17 have you solved this problem? I also have this problem and don't know what to do :(

[2019-10-16 09:27] Hypnosphi commented on #4600
@vidarc what was the error when you did that?

[2019-10-16 10:36] luke-john opened #8438 "@storybook/react-native invalid style prop used on TextInput"
**Describe the bug**
A clear and concise description of what the bug is.

Invalid style prop being used by TextInput, generating react-native error on @storybook/react-native@5.3.0-alpha.20

It looks like this was introduced when converting from style template string to style objects in the following pr.

https://github.com/storybookjs/storybook/commit/0f384bce072c7897926d98d43340581a6292ecb7#diff

[2019-10-16 10:55] KoshiroKun commented on #8279
In 5.2.4 I see the props from styled components in some components, not in all. Idk if it's my fault or not but I have all components styled and with stories in the same way.

Can you confirm this issue is resolved on 5.2.4? Thanks.

[2019-10-16 11:25] apanizo opened #8439 "Error source-loader using typescript parser with CSF"
**Describe the bug**
Using TS with CSF and source-loader (in both ways, directly using addon-storysource or using addon-docs), specifying **parser: 'typescript'** fails.

**To Reproduce**
1. Fork https://github.com/apanizo/cra-sb
2. run `yarn install && yarn storybook`

**Expected behavior**
Works and show the source code of the stories

**Screenshots**
<img width="1426" alt="Screenshot 2019-10-14

[2019-10-16 11:30] apanizo commented on #8439
Note I have created a Pull request for fixing it 💪. @shilman I would appreciate if you can provide me some feedback.

Thanks!

[2019-10-16 11:38] JamesIves commented on #8342
The same version that you're on. I can try and get a working example soon, we've scraped the use of addon-docs until this can get figured out.

[2019-10-16 11:58] JeffGuKang commented on #8274
`onDeviceUI: false` causes a another issue with `Action` addon as below.

![image](https://user-images.githubusercontent.com/216363/66917094-ae622780-f057-11e9-9653-5ab40ecf0112.png)

[2019-10-16 12:19] JeffGuKang opened #8441 "[RN] onDeviceUI of getStorybookUI cause a bug with action addon and fast refresh"
**Describe the bug**
I set `onDeviceUI` to false to avoid #8274.

But `onDeviceUI: false` causes error message `TypeError: JSON.stringify cannot serialize` when use `action` addons or run fast refresh.

[code]

React Native > 0.61
Storybook packages > 5.2.1

**To Reproduce**
Steps to reproduce the behavior:

1. Turn on storybook server with react native.
2. Trigger action addon

**Expected behavio

[2019-10-16 13:02] kkoch986 commented on #8428
@TaeKimJR thanks for the suggestion, im not currently using typescript but i tried that suggestion anyway with no luck unfortunately

@mrmckeb what other details are you looking for? Here is the package json for the project if thats helpful:

[code]

[2019-10-16 13:04] jackmellis commented on #8111
I'm still having this issue (after upgrading from 5.1.x to 5.2.4). Weirdly the first time I change a knob it works, then every subsequent knob change is ignored

[2019-10-16 13:15] raphaellueckl commented on #548
@ghengeveld Do you know how we can debug those objects that are being sorted? I tried it like this:

[code]

This does not output anything, even when I run `start-storybook -p 6006 -c .storybook -s src/static --debug-webpack`

[2019-10-16 13:17] jerriclynsjohn opened #8443 "Svelte named slot support"
**Describe the bug**
As mentioned in the docs if we use slots in a component then stories have to be created using another "view" component. This works perfectly for normal slots, but doesn't work for named slots.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a base svelte component with named slot `default.svelte`:
[code]
2. Create a view component `view.svelte`:
[code]
3. Create a

[2019-10-16 13:21] antonija-nosto commented on #8174
This auto discovery thing would make transition much easier! I will keep my eyes close to this topic!

[2019-10-16 13:30] #8443 closed

[2019-10-16 13:32] jerriclynsjohn commented on #8443
This was a basic error from my end, in the view component if we use `slot` instead of `name` the problem is solved! which is basic svelte syntax which i missed, my bad!

[2019-10-16 13:34] DigTheDoug commented on #8377
Is there an Issue created for this? I wasn't able to find a corresponding one in my search. I'd be happy to make one if there isn't. I _love_ the MDX docs for everything else it provides, but the code block not working is unfortunately a dealbreaker for using that format.

[2019-10-16 13:37] darmawanalbert commented on #7933
@shilman I'm trying to fix this issue 🙇

[2019-10-16 13:48] shilman commented on #8377
@DigTheDoug @necolas If you just define the stories in MDX, story source works perfectly. MDX files are loadable just like CSF and actually export an identical interface once loaded. But feel free to create an issue to track improving the source for the CSF/MDX mix case. Thanks! 🙇

[2019-10-16 13:49] shilman commented on #8174
@antonija-nosto communicating with @elevatebart in chat to coordinate this and we'll post here if anything comes of it!

[2019-10-16 13:52] shilman commented on #8111
@jackmellis can you share a repro?

[2019-10-16 13:55] DigTheDoug commented on #8377
@necolas Thanks, I was aware of that, but I feel that you give up the benefits of using CSF in that case, like having the portable components to use in testing, being able to define shared variables for stories, etc. But I will make an issue and at least see if others have any opinions or suggestions. Thanks!

[2019-10-16 14:24] DigTheDoug opened #8444 "Addon-docs: Bad source for CSF with MDX Docs"
**Is your feature request related to a problem? Please describe.**
When using MDX with stories defined in CSF, the `Show Code` button does not display the actual code, but only the imported method name.

**Describe the solution you'd like**
As with CSF or full MDX, I would expect the `Show Code` button to display the actual story reference code.

**Describe alternatives you've considered**
From th

[2019-10-16 14:49] shilman commented on #8439
Thanks @apanizo! I'll take a look tomorrow--very excited to see this fixed 💯

[2019-10-16 14:51] shilman commented on #8377
@DigTheDoug True, there are advantages to using CSF. You can also document it with DocsPage, which doesn't have this issue. Let me see if I can hack in a solution to the MDX problem tomorrow. Might actually be an easy fix! 😄

[2019-10-16 15:14] jonathanherdt commented on #8143
Insight: For us, it turned out that this is caused by how we extend Component: If we do `class MyComponent extends React.Component`, descriptions are omitted. If we use a named import of Component instead (`class MyComponent extends Component`), descriptions work!

[2019-10-16 16:23] #7365 closed

[2019-10-16 16:23] #7575 closed

[2019-10-16 16:48] jebadirad commented on #8140
Much appreciated!!!

[2019-10-16 17:11] rezaabedian opened #8446 "Advice - best way to kickstart react/typescript storybook"
Hi team,

We are using storybook 5.1 and want to upgrade to storybook 5.2 to benefit from Docs mode and future MDX support.

What is the recommended, easiest and fool proof way to get up and running with a new storybook with react and typescript support? This could be either utilizing create-react-app, or full control mode, ts-loader or babel.

Thanks

[2019-10-16 17:23] #7655 closed

[2019-10-16 17:44] kevinSuttle commented on #8115
@aleccaputo How did you even get the prop table to populate? I have never gotten that to work. Would love to know what the config looks like, especially since [`react-docgen`](https://github.com/reactjs/react-docgen#flow-and-typescript-support) supports `flow.`

[2019-10-16 17:45] kevinSuttle commented on #8115
@shilman What would it entail for Docs to support flow?

[2019-10-16 17:49] oscardavidrm opened #8447 "Issue loading CSS styles inside MDX"
**Describe the bug**
I am really not sure what's going on, but the thing is that I am building some *.stores.mdx files to document a project and some of my CSS classes are not rendering. The weird thing is that some of them are correctly rendering, and some of them are not.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

*

[2019-10-16 18:01] ssbelle commented on #8375
Thanks, yeah I had tried that addon a few days ago, and while it does show the event payload it shows each log beginning with 'console'. I have yet to find a way to replace the 'console' with something more verbose such as the name of the event. Did you manage to customize the console addon in that way @hrobarikt ?

[2019-10-16 18:04] Hypnosphi commented on #4600
@vidarc if `h` stands for hyperscript, it returns a custom object which is neither string nor DOM element

[2019-10-16 18:26] aleccaputo commented on #8115
here's the component
[code]

[2019-10-16 19:01] kkoch986 commented on #8428
@jonathanherdt i also tried that with the above test component and it didnt seem to change anything. does it make a difference that im not using typescript?

i dont have those test component hot anymore from the original issue but heres a component using it still with not prop types:

[code]
![image](https://user-images.githubusercontent.com/1666071/66950036-a38e9f00-f025-11e9-8a0f-50d1600433d2.pn

[2019-10-16 19:30] ugarciamtz commented on #3346
I can see that mostly everyone here with a monorepo project is using `lerna`, I have a monorepo project that uses `yarn workspaces` rather than `lerna` and everything is working fine with the latest version of `storybook` + `typescript`, and without strange `webpack` configurations, it should work fine as well with `babel`.

***If you show some interest*** I can create a monorepo with a working st

[2019-10-16 19:36] pixeleate commented on #3346
I can see that mostly everyone here with a `monorepo` project is using `lerna`, I have a `monorepo` project that uses `yarn workspaces` rather than `lerna` and everything is working fine with the latest version of `storybook + typescript`, and without strange `webpack `configurations, it should work fine as well with babel.

If you show some interest I can create a `monorepo` with a working `story

[2019-10-16 21:25] busticated commented on #3346
@pixeleate

can you be more specific?

also, keep in mind that i have a _working_ version of my example repo running storybook `v3` as noted here https://github.com/storybookjs/storybook/issues/3346#issuecomment-513397002

[2019-10-16 22:51] jsenosiain commented on #3575
Are there any plans to support updating props values? Knobs is good for updating values but not for handling event based updates.

[2019-10-16 23:46] kevinSuttle commented on #8128
I have just been putting a CSS grid inside a flexbox and aligning/justifying everything to center.

[2019-10-17 01:08] shilman commented on #8115
@kevinSuttle If I knew the answer to that question, Docs would support flow. Somebody who cares about flow just needs to dig through the chain, figure out where it's breaking, and fix it. I'd imagine it's a trivial change.

[2019-10-17 01:12] Aaron-Pool commented on #8082
@envision [Your wish is my command (Working Example)](https://github.com/Aaron-Pool/Vue-Cli-Storybook-Docs)

[2019-10-17 01:32] DigTheDoug commented on #8377
Thanks @shilman, let me know if I can do anything to help! To be clear, DocsPage is _awesome_ and a huge addition to Storybook and I started testing it out as soon as it was announced to see if we could move our existing docs over to reduce the various things we have to manage. I'm trying to match the parity of our design system docs that currently exist in mdx, but in a separate gatsby context. T

[2019-10-17 06:55] jeffwcx commented on #8096
Unfortunately, I am the one use jsx in vue 😭

[2019-10-17 07:22] denvash opened #8450 "Unwanted "Es Module" story added to each story"
**Describe the bug**
`Es Module` story was added for each of my stories.

**To Reproduce**
Steps to reproduce the behavior:
1. Run storybook `yarn storybook`
2. Check each story

**Expected behavior**
`Es Module` won't appear

**Screenshots**
### Stories tabs
![image](https://user-images.githubusercontent.com/27515937/66986371-7a264f80-f0c7-11e9-81e5-81e99029bde2.png)

### Es Module story
![image]

[2019-10-17 07:25] jonathanherdt commented on #8428
Right, not using TypeScript and using CSF might make a difference. Sorry to hear that it didn't work for you :(

[2019-10-17 07:49] ghengeveld commented on #548
You can see the console.log output in the browser console, not the terminal.

[2019-10-17 09:46] marcobiedermann commented on #6055
I pretty much used the same technique, just in an immutable way:

[code]

Loop over rules, find rule applied to `.css` files and update the option to add `modules: true` to `css-loader`

[2019-10-17 10:44] pierrenel commented on #7914
@thecreazy nope, still borked. Are you using styled components by any chance? Or storybook-addon-styled-component-theme ?

[2019-10-17 10:46] pierrenel commented on #7914
@shilman I'm trying to figure out if I'm allowed to stick a 5.2.* branch on a public repo for you :)

[2019-10-17 10:53] thecreazy commented on #7914
thx @pierrenel nope i'm using  this packages:

[code]
and this is my `config.js`

[code]

Unfortunately i'm not working on a public repo but if you need more information you can write directly to me

[2019-10-17 10:55] pierrenel commented on #7914
What happens if you remove all the bits to do with the exelerotech theme?

[2019-10-17 11:41] kfayelun commented on #8428
I cant see the description and default value either. I'm using Gatsby, CSF, jsx (no typescript) and functional components (so no `import Component from 'react'`). Repo here: https://github.com/netliferesearch/netlife2019/tree/storybook_setup_stories

[2019-10-17 12:29] ndelangen commented on #8284
Confirmed:
https://storybookjs.now.sh/

[2019-10-17 12:32] Aaron-Pool commented on #8096
@jeffwcx I use JSX in my storybook project as well, and we're definitely set on getting it working. Stay tuned.

[2019-10-17 12:40] ndelangen commented on #8284
@shilman it's a docs-mode change that broke it:
https://github.com/storybookjs/storybook/blob/next/lib/core/src/client/preview/NoDocs.js#L2

This code run in the preview and uses emotion, this therefore requires react 16.x

[2019-10-17 12:47] ndelangen commented on #4099
@danbirle can you help us with a reproduction repo?

[2019-10-17 13:07] dbartholomae commented on #8233
@shilman Any news? Running into the same problem and I would like to upgrade since the older versions give me problems when using enums in `select` :)

[2019-10-17 13:16] frankstallone commented on #8284
I appreciate you guys working on this. We attempted to update our app to React 16 within the last 12 months but ran into some bottlenecks. We'll get to it eventually but for now it's not mission critical like other issues we're working on. I was looking this morning to see if I could quickly do a `create-react-app` with React 15 but didn't see any flag for version so I could get an example up on N

[2019-10-17 13:25] krishnaglick commented on #7745
Bumping this, bloody stalebot.

[2019-10-17 13:26] #8439 closed

[2019-10-17 13:34] shilman commented on #8233
@dbartholomae Yeah I think everything's been patched over to `5.2.x`, so if you upgrade to the latest it should work for you. Closing, and we can re-open if anybody runs into more issues.

[2019-10-17 13:34] #8233 closed

[2019-10-17 13:57] feonit commented on #8165
5.2 still has the bug

[2019-10-17 14:01] sharikovvladislav opened #8456 "Two stories, same templates, different props - props from the second story are passed to the instances of the components in the first story on story change"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1 Clone the repo https://github.com/sharikovvladislav/angular-with-storybook-props-problem to some <directory> (`git clone git@github.com:sharikovvladislav/angular-with-storybook-props-problem.git`)
2 Go to the <directory> (`cd <directory>`)
3 Install deps via npm (`npm i`)
4

[2019-10-17 14:43] MMT-LD opened #8458 "5.1.10 -> 5.2.4 - parameters inside theme object?"
**Describe the bug**
weirdly i'm getting "parameters" key inside my theme object in some levels? None of this happened in 5.1.10. Trying to figure out what has changed to make this happen.

I also now see this in my console...

[code]

**To Reproduce**
I output my theme in the console, using console.log to see it is clearly visible? (see below image) My app is wrapped in my theme object at a top l

[2019-10-17 15:11] shilman commented on #6342
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.21 containing PR #8451 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-17 15:11] shilman commented on #7167
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.21 containing PR #8442 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-10-17 15:11] shilman commented on #7221
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.21 containing PR #8449 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-10-17 15:11] shilman commented on #8284
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.21 containing PR #8454 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-10-17 15:11] #8284 closed

[2019-10-17 15:48] siffash commented on #6505
Same problem here.

[2019-10-17 15:52] NickVlasov opened #8461 "Core: Add option to remove logs from the console"
Hi!
I have added a storybook to my project but there are a lot of internal storybook logs in the browser console. Are there any ways to remove it? I have noticed that these logs produced by `@storybook/client-logger` but I didn't find how to disable it/provide some config to change it

Used `npx -p @storybook/cli sb init --type react` to add storybook to my project.
Packages which have been instal

[2019-10-17 15:55] seanmhanson commented on #7914
The work-around of installing the theming and using a dark theme didn't work for me. For the record here were the changes that I made:

### Packages
[code]

### Config
[code]

[2019-10-17 16:25] NickVlasov commented on #8461
I see that it's possible to filter these logs(https://github.com/storybookjs/storybook/issues/252#issuecomment-389834714). But maybe storybook has its own configuration for it?

[2019-10-17 16:30] shilman commented on #8461
AFAIK the recommended approach is to use the browser's filter function

[2019-10-17 16:58] shilman commented on #7914
@seanmhanson what happens when you run `yarn list @storybook/theming` (or whatever the npm equivalent is) or `yarn ls @emotion/core`. i suspect that there's some package that should be a singleton, that's actually installed multiple times in your project due to some yarn/npm weirdness.

If you find that there are multiple copies installed, try installing `@storybook/theming`, clearing your lockfil

[2019-10-17 16:58] shilman commented on #6505
@mrmckeb Is there any provision for this in the preset?

[2019-10-17 17:01] shilman commented on #8458
Looks like it's running `source-loader` on non-story files. How's that configured?

[2019-10-17 17:48] JWHITEKNOWS opened #8463 "Text messages"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

_Please provide issue details here - What did you expect to happen? What happened instead?_

### Steps to reproduce

_Please provide necessary steps for reproduction of this issue. Describe the exact steps a maintainer has to take to make the problem occur. If the problem is non-trivial to reproduce,

[2019-10-17 17:52] seanmhanson commented on #7914
@shilman good hunch! That wound up being the trick, and I'm pretty certain it was something dup'd or stale involving my `package-lock.json`. Thanks for the help.

[2019-10-17 17:54] teddywsi commented on #7914
Generating a new lock file seems to have resolved the error for me as well.

[2019-10-17 18:04] shilman commented on #7543
Yippee!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-alpha.22 containing PR #8462 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-10-17 18:12] shilman commented on #8446
Here's a walkthrough: https://gist.github.com/shilman/bc9cbedb2a7efb5ec6710337cbd20c0c

[2019-10-17 18:15] #7879 closed

[2019-10-17 18:27] shilman commented on #8450
Duplicate to https://github.com/storybookjs/storybook/issues/8080 fixed in `5.2.4`

[2019-10-17 18:27] #8450 closed

[2019-10-17 18:27] MMT-LD commented on #8458
Yeah that'll be it. Thanks for the help. It was configured to look at all js files and not just stories. Once i changed the custom webpack it was all working.

[2019-10-17 18:51] shilman commented on #8458
Great 🚀

[2019-10-17 18:51] #8458 closed

[2019-10-17 18:52] shilman commented on #8345
@LanceALaughlin in `.storybook/presets.js`

[2019-10-17 18:58] rezaabedian commented on #8446
Thank you! 🙏

On Thu, 17 Oct 2019, 19:12 Michael Shilman, <notifications@github.com>
wrote:

[2019-10-17 19:12] patricklafrance commented on #7599
Sorry for poking from a closed story @shilman  but I am quite confused with what is available for `displayName`.

Is something like this valid?

[code]

Since setting "1 month visible" as the story name is invalid, I would like to use it as the displayName.

Thank you,

Patrick

[2019-10-17 19:15] danhead commented on #8297
Just a quick follow up to this, in older versions of @storybook/html (v5.1.9) I used to do this with success:

**.storybook/config.js**
[code]

However with @storybook/html@5.2.x upwards I get the following error with this technique:

[code]