[2019-12-20 10:57] 0gust1 commented on #7984
For information, on Svelte side, the equivalent of MDX is https://github.com/pngwn/MDsveX
I did some extensive tests, it's handled pretty well by the Svelte compiler (as a preprocess step that is feeded on the compiler). On Storybook side, I still have to catch up on the corresponding MRs.

[2019-12-20 11:00] jorenbroekema commented on #9005
I think I have the same issue.
In .mdx I got the following: `[bug in axios](https://github.com/axios/axios/issues/385)`

and it turns into: `<a href="http://localhost:9002https://github.com/axios/axios/issues/385" class="sbdocs sbdocs-a css-1cvpre6">bug in axios</a>`

[2019-12-20 11:23] nickbullock opened #9206 "[Angular] storybook rc0 + ng9 rc7 error - failed to get angular-cli webpack config"
**Describe the bug**
There is a problem with next angular and storybook versions - can't load angular-cli webpack config.
I found out that `budgets` property in `angular.json` is the root of evil.
Workaround is to set some array value - `"budgets": []` for example to `project.architect.build.options`.
Also created a [github](https://github.com/nickbullock/storybook-rc0-ng9-rc7-broken) repo to repr

[2019-12-20 12:20] laij84 opened #9208 "Story source in addon-info displays all default props"
**Describe the bug**
@storybook/react with addon-info displays all default props in the story source. This is not the behavior in Storybook 5.1.11 and earlier, but as of 5.2 and above all defaultProps are shown in the story source.

This is misleading for developers as it looks like the default props are required props that have to be passed to the component

**To Reproduce**
Install storybook rea

[2019-12-20 12:27] JohnAlbin commented on #775
Can we re-open this ticket?

It would be a super handy if Storybook could output a list of stories into a .json file. Not just for visual regression testing, I'd imagine.

[2019-12-20 16:01] rafaelalmeidatk opened #9209 "Add an option to hide a story from the sidebar"
**Is your feature request related to a problem? Please describe.**
I am doing visual regression testing with Storybook iframes. I have some docs pages that aren't specific for a single component, for example, I have an "icons" page that shows all the icons of the library in a grid. I would like to test all these icons but since they are on a docs page, I don't have the iframe available.

**Describ

[2019-12-20 17:18] #8635 closed

[2019-12-20 18:26] imdongchen commented on #7109
What's the answer here? Is there a way to get `filename` in a build?

[2019-12-20 19:35] giovannibenussi commented on #2011
It is a Jest configuration issue. I solved it by adding the following to my `package.json`:

[code]

[2019-12-20 20:18] zaki-yama opened #9211 "addon-info: is `withInfo` decorator deprecated?"
**Describe the bug**
Sorry this is just a question.
addon-info's `withInfo()` decorator is deprecated?

**To Reproduce**
When I write a story like this,

[code]

I get the following warning in the browser's console.

[code]

**What I want to know**
I found that Storybook 4 had introduced story parameters.
https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#addon-story-parameters
But ad

[2019-12-20 21:09] ndelangen commented on #775
In 5.2 we've introduced CSF which is a declarative format for defining stories.

In 5.3 we'll introduce tri-config which will make it possible for defining stoy-files declaratively too.

These 2 things together will make it possible -in theory- to generate a JSON file during the bundle-phase.

So work is being done to make this possible.

[2019-12-20 21:11] ndelangen commented on #9192
Thank you for the bug report @JeroenReumkens

I have a good idea on where to fix this, would you be interested in contributing? perhaps in a pair-programming way?

[2019-12-20 21:30] ndelangen commented on #8343
Maybe @gaetanmaisse knows how to solve this?

[2019-12-20 22:33] jonniebigodes commented on #8853
@andrei-ilyukovich and @cloakedninjas thank you for your help. It seems that the issue lies elsewhere.
Here are the steps i took to solve this:
- Added the following packages `@babel/preset-env`, `@babel/preset-typescript`.
- Created a `babel.config.js` with the following content:
[code]
- Changed the `jest` key in `package.json` to the following:
[code]
And the key to solving this was the additio

[2019-12-20 22:33] #8853 closed

[2019-12-20 22:33] aaronjensen commented on #8343
I think I have a fix. Will submit soon.

[2019-12-21 00:46] aaronjensen commented on #8343
Try out https://github.com/storybookjs/storybook/pull/9213

[2019-12-21 02:23] #8648 closed

[2019-12-21 03:50] shilman commented on #9211
`Addon-info` is being superceded by `addon-docs`, which fixes a bunch of bugs and is easier to maintain. Please give it a try! https://medium.com/storybookjs/storybook-docspage-e185bc3622bf

[2019-12-21 07:35] shilman commented on #9208
`Addon-info` is being superceded by `addon-docs`, which fixes a bunch of bugs and is easier to maintain. Please give it a try! https://medium.com/storybookjs/storybook-docspage-e185bc3622bf

[2019-12-21 09:23] #6548 closed

[2019-12-21 11:03] sixiaodong123 opened #9214 "keyframes"
How to pass on value in keyframes?

[2019-12-21 11:04] sixiaodong123 commented on #9214
[code]
i want to change to animation color by props value

[2019-12-21 11:08] sixiaodong123 commented on #9214
[code]

sorry, i have solve it.

[2019-12-21 11:08] #9214 closed

[2019-12-21 12:23] #8111 closed

[2019-12-21 13:00] ndelangen commented on #8844
@emilio-martinez could you take a look at this?

[2019-12-21 17:04] necolas commented on #8377
Thanks. I'm using `5.3.0-rc.0`. Does storybook need me to use CRA and TypeScript now?

[2019-12-21 19:09] helabenkhalfallah opened #9215 "@storybook/addon-contexts : context is not passed to childs"
**Describe the bug**

I used @storybook/addon-contexts to have dynamic theme.
ThemeProvider is correctly wrapping stories and hold the correct value each time I change the theme.
However stories (Consumer) have a **null theme**.

If I import ThemeProvider and my components (consumers) inside a project outside of storybook, everything work perfectly.

**To Reproduce**

My Storybook :
https://github

[2019-12-21 22:18] EdenTurgeman opened #9216 "Webpack 5 upgrade"
With webpack 5 reaching it's final stages, I would love to put this on the roadmap since there is much to be gained with the new upgrade.

[2019-12-21 23:59] salmanmd786 commented on #9028
I see 5.2.8 is working fine now. Thank you.

[2019-12-21 23:59] #9028 closed

[2019-12-22 00:08] salmanmd786 opened #9217 "Open Canvas in new tab stopped working in MAC browsers."
**Open Canvas in new tab** stopped working in MAC Browsers, opens blank screen and no console errors. Tested in Chrome, FF and Safari latest versions, whereas in **windows browsers** it works absolutely fine. Am not sure if anyone as well facing the same problem.

We are using the latest versions of storybook(5.2.8) and its add-on's and as well this issue is reproducible in version 5.2.6.
Can some

[2019-12-22 04:56] zaleGZL opened #9218 "How to show viewport on the docs page?"
**Describe the bug**
How to show viewport on the docs page?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
The canvas page has viewport options.
![image](https://user-images.githubusercontent.com/20339327/71317340-376368

[2019-12-22 06:23] shilman commented on #9216
@EdenTurgeman is there an ETA? We're planning for 6.0 right now and it would be convenient if we could make this line up.

cc @ndelangen

[2019-12-22 06:35] shilman commented on #8377
@necolas Of course it doesn't require you to use CRA. Just providing that as an example setup that's working. Can you share what's not working and we can take a look at it?

[2019-12-22 06:40] shilman commented on #9217
@salmanmd786 can you provide a reproduction repo? it seems to be working fine in storybook's monorepo.

[2019-12-22 06:47] shilman commented on #9218
See #6700 for the general issue

[2019-12-22 07:21] EgoziE commented on #9196
Thanks for the comment, I'll give it a try.
Just a question, will Storybook ever support this "mix" of loading stories both ways?
(Sometimes we prefer not to touch legacy code...)

[2019-12-22 07:45] zaki-yama commented on #9211
@shilman
Thank you! I'll try the new `addon-docs`.
What about my questions? Is `withInfo()` also deprecated like other addons' `withXXX` methods, right?

[2019-12-22 07:46] Angelk90 commented on #9024
@shilman , @dvnrsn : Are there any news?

[2019-12-22 09:17] kevin940726 commented on #9164
Here's some updates after digging into the source a little bit more. Turns out that the `parameters` value is merged upon creation, so we cannot get the parents' `parameters` if they've been overridden. It's a fundamental design choice, so it's not easy to fix. (Correct me if I was wrong though!)

For now the best way to work around this issue is to define a global variable and a marker function t

[2019-12-22 10:08] #9206 closed

[2019-12-22 10:41] shilman commented on #9211
@zaki-yama It looks like it's deprecated and better to use `parameters: { info: ... }}` instead. But still supported (for now)!

[2019-12-22 13:32] shilman commented on #9196
@EgoziE Storybook fully supports a mix of `storiesOf` and `CSF`, as long as they are in different files. I don't foresee supporting both in a single file, but could be convinced if there was a compelling use case.

[2019-12-22 14:16] shilman opened #9219 "Shallow merge top-level object parameters"
Currently, the `options` and `docs` parameters are shallow merged. I propose applying this behavior for all object parameters, as a breaking change in Storybook 6.0.

Here's the reference code: https://github.com/storybookjs/storybook/blob/next/lib/client-api/src/client_api.ts#L93-L105

## Motivation

The motivation for this is purely ergonomic.

In `addon-docs`, we set some configurations in the

[2019-12-22 14:17] shilman commented on #9164
Thanks @kevin940726. The way we handle parameters is actually up for grabs. Just filed #9219. It doesn't solve this problem directly, but you can see how it would be much easier to solve if the parameters were shallow-merged.

cc @ndelangen @tmeasday

[2019-12-22 18:02] #8306 closed

[2019-12-22 18:16] JohnAlbin opened #9221 "Output JSON list of stories for 3rd party integration"
**Is your feature request related to a problem? Please describe.**

I was looking to use the list of stories in a 3rd party tool. Unfortunately, I don't see any documented way to get the stories list.

This issue has been brought up before, but closed before implemented:
- #775
- #3847
- #4878

**Describe the solution you'd like**

A URL in the Storybook site like `/stories.json` that includes a l

[2019-12-22 20:14] michelcve commented on #825
@shilman is it possible to reopen? The original workaround doesn't seem to work anymore, and it would be nice if the property "centered: { disable: true}" would work when it's enabled globally.

[2019-12-22 22:11] acroyear opened #9222 "@storybook/notes documentation should have examples for CSF"
All of the examples in the README.md page for the notes add-on are still only using storiesOf.

There are no examples of how to configure notes for CSF. As a result, it discourages moving to the new format.

[2019-12-22 22:16] acroyear commented on #9222
I did eventually stumble into it when I found a 'parameters' entry in an example on another bug.

`export default {
  title: 'Welcome',
  parameters: { notes: "hi mom"}
};`

[2019-12-22 22:26] atanasster commented on #9221
@JohnAlbin - I made a quick addon https://github.com/atanasster/storybook-addon-export-stories

It adds a save to json button to the toolbar. You can play with it - basically you can also save automatically from the setStories event but it can create some complications. Feel free to open issues or send a PR.

[2019-12-23 01:27] astrotim commented on #8434
Can we keep this one alive? Or maybe rebrand it as a more generic issue such as "Preset API does not allow modification of non-JS rules in Webpack config"?

[2019-12-23 01:44] aromanarguello commented on #6985
Is someone working on this? I don't much about those features either but I can learn and document it :)

[2019-12-23 02:15] shilman commented on #9222
All of the examples are now in CSF: https://github.com/storybookjs/storybook/blob/next/addons/notes/README.md

[2019-12-23 02:26] kevin940726 commented on #9219
I don't think it would work in the context of #9164. Even though the merging algo will concat the array without duplicates, it would not work when we cannot effectively identify duplications.

[code]

Since the new entry is not equal to any of the entries in the original array, it would just get appended to the end instead of de-dup the `black` entry in the base.

We could special-case `name` or `

[2019-12-23 03:02] tmeasday commented on #9219
This proposal is pretty limited and I would say uncontroversial (how often are people calling `addParameters({ key })` at the top-level more than once?). 6.0 is a great time to do it, given it's technically breaking.

I don't think so

If you mean what I think you mean (what happens when you call `addParameters` twice globally), it won't help with that use case (wanting to do something per-story).

[2019-12-23 03:03] tmeasday commented on #9219
Note that the larger change would also make sense to only pass global parameters over the channel once, rather once than per-story (and similar with component parameters).

[2019-12-23 03:22] pocka commented on #8434
The problem is Storybook adds some assets related rules after presets' `webpack` called. If you want to add a rule for the assets, you need to filter them in `webpackFinal`. (See https://github.com/storybookjs/vue-cli-plugin-storybook/blob/master/preset.js#L43, https://github.com/pocka/storybook-preset-nuxt/blob/master/storybook-preset-nuxt/src/index.ts#L106)

Something like this (I'm not sure thi

[2019-12-23 03:29] shilman commented on #9164
Turns out that #9219 doesn't really apply. Here's what I'm thinking for a better backgrounds API. We can deprecate the old API in 6.0 and remove it in 7.0:

[code]

[2019-12-23 03:30] shilman commented on #9219
@tmeasday @kevin940726 Ok I didn't realize we were already applying `merge` to global and local parameters. In that case, my change is pretty uncontroversial. `unmergedParameters` also seems pretty uncontroversial to me, tho I wonder whether  it could  be abused or add bloat.

As for backgrounds, posted separately there: https://github.com/storybookjs/storybook/issues/9164#issuecomment-568341653

[2019-12-23 03:36] tmeasday commented on #9164
Yeah perhaps this is a better solution in the 6.0 timeframe than my plan :)

[2019-12-23 03:39] tmeasday commented on #9164
Although we are going to to run into the problem that @kylesuss was debugging in chromaui/chromatic#80, and see `backgrounds.values` get concat-ed if you try and overwrite it :/

I feel like we should drop that behaviour, I wonder why we added it?

[2019-12-23 03:39] shilman commented on #8434
Yeah @pocka we're starting SB6.0 and it's a good time to make this kind of breaking change. What do you propose?

cc @mrmckeb

[2019-12-23 04:00] pocka commented on #8434
@shilman
I think having an option like `noBaseRules` would be straightforward.

[code]

The downside of this method is conflicting between plugins: one plugin sets `noBaseRules: true` and another sets `noBaseRules: false` then what will happen...? etc

[2019-12-23 04:17] astrotim commented on #8434
I like the idea of turning off selected rules 👍🏻 Currently we have to do this:

[code]

to clear the way for our CSS rules.

Maybe the naming of the flags could be inverted?

[code]

[2019-12-23 05:01] wyqydsyq commented on #3855
This feature being implemented would let us do some really powerful cross-dependent knobs quite easily. Imagine making a pagination component story if you could have one knob dynamically updating depending on another, with something like this in your story:

[code]

I've tried doing essentially this, hoping that the max range on my `currentPage` knob would dynamically update when increasing the `r

[2019-12-23 07:21] shilman commented on #9221
I think wanting a list of stories in a JSON endpoint is a reasonable request, although it increases our surface area slightly. WDYT @ndelangen @tmeasday

[2019-12-23 07:53] shilman commented on #3855
We're almost done with 5.3 (early Jan release) and looking into a knobs rewrite for 6.0 (late Mar release) that will solve a bunch of long-standing knobs issues. I'll see if we can work this in!

[2019-12-23 08:01] shilman commented on #8434
Would it help if the preset itself was opt-in? So by default your `main.js` (for react) would look like:

[code]

Then you could just remove that react preset if you didn't want any of the base rules.

Alternatively, how about this:

[code]

[2019-12-23 08:13] shilman commented on #9164
Yeah I think concatenating the values is not a desirable behavior. @ndelangen what's the use case? I propose we revert this in 6.0.

[2019-12-23 08:17] javierbrea commented on #8531
I don't really understand why, but it seems like "wrapping" the story with another component works:

[code]

[code]
This is not the ideal scenario, and I'd like to know why, but at least it works, and I think it is an admissible workaround until this issue is fixed, and could provide a clue about how to solve it definitively.

I have my Theme Provider defined as a global decorator:

[code]

[2019-12-23 08:46] shilman commented on #825
Seems like it's already implemented?

https://github.com/storybookjs/storybook/blob/next/examples/official-storybook/stories/addon-centered.stories.js#L19-L25

[2019-12-23 09:21] michelcve commented on #825
I'm using it with angular, and it doesn't seem to do anything for me when I set props "centered: { disable: true }".

But perhaps this is an angular specific bug then?

[2019-12-23 09:31] pocka commented on #8434
@shilman
Yes, if we move baseWebpackConfig to each frameworks' presets. So simple and modular approach!
One thing I concern about is how users feel that we always need to set a preset for the framework... (e.g. users need to write `presets: "@storybook/react/preset"` even though they don't use any other presets)

[2019-12-23 09:56] shilman commented on #8907
w00t!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-rc.1 containing PR #9204 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-12-23 09:56] shilman commented on #9206
Yippee!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-rc.1 containing PR #9207 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-12-23 09:56] #8907 closed

[2019-12-23 10:02] zaki-yama commented on #9211
@shilman
I understood! Thank you.

[2019-12-23 10:02] #9211 closed

[2019-12-23 10:24] michelcve commented on #825
I'm sorry, it does work. I actually made 2 mistakes:

1) I mistakenly added it to th 'props' section, instead of the 'parameters' section
2) It should be in the 'export default {}' and not in the 'export primary = () => {}'

[2019-12-23 11:05] o-t-w commented on #8658
How do I set up a brand new project to use this?

[2019-12-23 13:11] acroyear commented on #9222
ah.  i'm not so cutting edge to be using 'next' yet. :)  i'm still catching up to react 16 hooks features and all that.  feel free to close this if you like.

[2019-12-23 13:40] vongohren commented on #5817
Did you ever understand why it helped? Because it helped for us as well, which is great! But I dont understand why :P

[2019-12-23 14:43] daneah opened #9226 "HTML stories misrender in canvas"
**Describe the bug**
When Storybook first loads in a set of HTML stories in Canvas, the one selected on initial page load renders properly. The first story you navigate to afterward renders the raw HTML. Navigating away and back to it a second time, it renders properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Run an HTML Storybook with multiple stories
2. Load Storybook in the browse

[2019-12-23 17:02] #8349 closed

[2019-12-23 17:02] #8669 closed

[2019-12-23 17:14] ndelangen commented on #9164
I agree we have a clearer picture of the best practices now, and should form an opinion on the dataformat inside parameters.

[code]

Looks like an improvement to me!

[2019-12-23 21:25] keyboard-clacker commented on #8647
For anyone that gets this problem as well, I blew away my yarn.lock file and reinstalled node_modules, and this issue went away. I think there's some weird version mismatching issue going on.

[2019-12-23 22:43] ndelangen commented on #9221
It's a strong yes, we should be able to do this as a webpack plugin also, so that we indeed can generate the .json for serving it and outputting a static file.

[2019-12-24 01:59] Dev-Jeromebaek opened #9233 "Addon-action does not work on projects created with 'storybook cli' and created with 'CSF'."
## **To Reproduce**

### 1. Bind the storybook through the cli first.
[code]

### 2. Run the storybook server.
[code]

## **Expected behavior**
Action should occur as shown in the following image, but no response will occur.
![image](https://user-images.githubusercontent.com/27988231/71388260-ea5acf80-263a-11ea-9ded-e8563334d306.png)

but, No matter how many times you press the button, the action

[2019-12-24 02:00] Dev-Jeromebaek commented on #9233
Looks like there's a collision with another chrome extension.

[2019-12-24 02:00] #9233 closed

[2019-12-24 02:14] luke-j commented on #8569
I'm seeing this problem, too. As soon as an object like `{ viewport: { defaultViewport: 'iphone6' } }` is added to a particular story, that story breaks.

Currently haven't found a workaround - does one exist?

[2019-12-24 02:33] shilman commented on #8658
@o-t-w

[code]

To add docs, see the instructions:  https://github.com/storybookjs/storybook/blob/next/addons/docs/README.md#installation

[2019-12-24 02:36] shilman commented on #9023
@gforrest-bw absolutely. hopefully we can address this in january as a high-priority bug.

[2019-12-24 02:36] #9222 closed

[2019-12-24 02:38] shilman commented on #9226
@ndelangen can you look at this?

[2019-12-24 07:46] shilman commented on #9026
@ndelangen can we upgrade this?

[2019-12-24 08:13] alexandrsmirnov93 opened #9240 "Site with documentation works not stable."
I have a problem during loading web site https://storybook.js.org/
This site is loading succsecfuly not all the time, aproximatly one time of five. Could you please resolve it?

[2019-12-24 08:44] shilman commented on #9240
Is it possibly a connection issue? It's a static site hosted at netlify -- not really sure what could be going wrong...

[2019-12-24 10:44] jacknevitt commented on #6652
This solved my problem too, when I put `setConfig` before `configure`. Thanks

[2019-12-24 11:01] piyushkmr opened #9241 "@storybook/react types dependency @types/webpack-env conflicting with @types/node"
**Describe the bug**
`@storybook/react` types dependency `@types/webpack-env` conflicting with `@types/node`

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Setup a TS env
2. Install @storybook/react
3. Install @types/node
4. Compile project

**Screenshots**
<img width="1541" alt="Screenshot 2019-12-24 at 4 27 34 PM" src="https://user-images.githubusercontent.com/7279475/71410213-63bd

[2019-12-24 11:28] alexandrsmirnov93 commented on #9240
This problem is reproduced on several devices, internet - providers and people. I guess it could be the problems on hosting.

[2019-12-24 11:31] helabenkhalfallah opened #9242 "storybook not working (IE11 & chromium)"
**Describe the bug**
Runing storybook on chrome works perfectly.
Howerver not on IE 11 and chromium.

**IE 11 :**
![image](https://user-images.githubusercontent.com/1331451/71410945-9d312a80-2647-11ea-9115-83f176efc268.png)

![image](https://user-images.githubusercontent.com/1331451/71411156-8dfeac80-2648-11ea-8335-6a11b79ae706.png)

**Chromium:**
![image](https://user-images.githubusercontent.com

[2019-12-24 13:06] rabelloo commented on #8170
I'm currently working around the issue like so, for those interested:

`manager-head.html`
[code]

`searchParams.js`
[code]

`config.js`
[code]

I'd love native support along with documentation though!

[2019-12-24 13:12] Zunaib commented on #8881
Any Leads on this, I'm Stuck too

[2019-12-24 15:53] #7730 closed

[2019-12-24 16:33] Aftab22 commented on #8170
hey @rabelloo ,
I am trying to get storybook working for my component.
My implementation->
componentDidMount(){
gets userName and userId from the url using window.location.search
//example www.xyz.com/userName=foo&userId=bar
and saves them in state
this.setState({userName, userId,});
}
render(){
return(<div>
userName is {this.state.userName} userId is {this.state.userId}
</div>)}

how do i pass th

[2019-12-24 17:29] bmayen commented on #8153
@shilman Finally had a chance to look into this a bit more. Hoping I can get some feedback/guidance from you.

The problem I see with using Angular Elements here is that creating an Angular Element requires more than simply defining an Angular Component and calling a function from Storybook to turn it to an Element. The Component needs to be declared in an app ngModule and have an app component wh

[2019-12-24 17:38] shilman commented on #8153
@bmayen TBH I have no idea. Maybe @kroeder  or someone with more angular knowledge can help out here?

[2019-12-24 18:39] davidhorm commented on #6591
This is my workaround that worked for me:

[code]

[2019-12-24 21:25] levelingup opened #9243 "TypeError: Cannot set property 'storybook' of undefined from npx -p @storybook/cli sb init"
I tried to follow the initial steps from here: https://www.learnstorybook.com/intro-to-storybook/react/en/get-started/

running:
[code]

Then when I ran:
`npx -p @storybook/cli sb init`

I get the error  `TypeError: Cannot set property 'storybook' of undefined`

This is the full message in my terminal:
[code]

running `npx --version`: 6.9.0

[2019-12-25 02:18] shilman commented on #9242
@ndelangen Another IE issue 🤦‍♂

[2019-12-25 04:32] shilman commented on #9243
Are you sure you're running that inside the `taskbox` directory?

[2019-12-25 04:39] levelingup commented on #9243
Yup, i was in the directory when I ran `npx -p @storybook/cli sb init `

[2019-12-25 05:51] shilman commented on #9243
The line that errored is trying to add something to the `scripts` field of `package.json`. Can you check to see if your `package.json` has a `scripts` field? Mine does when I try to repro.

[2019-12-25 06:21] levelingup commented on #9243
No scripts field. Only thing in my `package.json`:

[code]

[2019-12-25 06:32] buddabudda7 commented on #7367
# @

`

[2019-12-25 13:35] shilman opened #9245 "Main.js config: Combine presets and register entries in `addons` field"
### Before: Presets are a “superset” of addons
- _Addons_ are packages that extend Storybook’s UI (but not always, e.g. Storyshots). They sometimes use a mechanism called presets to configure storybook and/or register themselves (e.g. Docs)
- _Presets_ are both packages that configure Storybook and also a mechanism by which addons can configure Storybook.

[code]

### After: Addons are a “superset

[2019-12-25 14:24] #6749 closed

[2019-12-25 15:24] #8638 closed

[2019-12-25 17:19] rajatrao777 opened #9247 "Not able to view to react native stories on web"
<b>Already created issue Link in design system</b>
[Link](https://github.com/storybookjs/design-system/issues/138)

[2019-12-25 18:02] DalderupMaurice commented on #5298
I'm having this issue as well, not sure how to fix this as I'm not using any `module.exports` nor am I using Vue and I am uzing CRA so there's no babel config to modify

[2019-12-25 20:00] Portals commented on #8531
I'm having some similiar unexplainable issue accessing my redux provider. I have a decorator that wraps every story with the <Provider> from redux, but I cannot use useDispatch since it cannot find the Provider.

[2019-12-26 01:21] patricklafrance commented on #8060
Almost working. It works fine in the nav bar and for canvas. The remaining problem is that the stories are unavailable in docs.

https://cdn.discordapp.com/attachments/551682580941111296/659509145338118157/unknown.png
![image](https://user-images.githubusercontent.com/794579/71452549-0736f600-2754-11ea-8761-38bd58d72977.png)

@atanasster drill down the problem to be with `mdxStoryNameToId`.

[2019-12-26 01:50] pocka commented on #8531
I guess this issue is the same as https://github.com/storybookjs/storybook/issues/8426.
If so, [this](https://github.com/storybookjs/storybook/issues/8426#issuecomment-542240804) could solve your problem. (NOTE: I didn't test the code.)

[code]

[2019-12-26 02:37] shilman commented on #8060
@patricklafrance @atanasster Can you create a branch and add a repro to official storybook? I tried this and it worked for me:

[code]

[2019-12-26 02:59] patricklafrance commented on #8060
@shilman there you go: https://github.com/storybookjs/storybook/blob/8060-dynamic-title-mdx-issue/examples/official-storybook/stories/addon-docs/meta-string-template.stories.mdx

![image](https://user-images.githubusercontent.com/794579/71455156-d8278100-2761-11ea-914a-3d2266b55373.png)

[2019-12-26 07:54] BanlyTong commented on #9243
I encountered the same problem.
It caused because I installed create-react-app globally, so npx didn't use the latest version of cra.

The problem was solved after I uninstalled the global create-react-app package.
And [here](https://stackoverflow.com/questions/59188624/template-not-provided-using-create-react-app) is how to do it.

[2019-12-26 09:28] subelta commented on #8821
Ain't fixed yet

[2019-12-26 10:40] nickbullock commented on #9008
Can't reproduce this issue with ng rc7 and storybook rc0. It should be closed if I am the only one who got it.

[2019-12-26 12:27] shilman commented on #7842
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-rc.3 containing PR #9234 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-12-26 12:27] #7842 closed

[2019-12-26 14:48] Vanuan commented on #8104
I have renamed `stories.tsx` to `Component.stories.tsx` and it worked.

It looks like the preset ignores values provided from `configure/require.context`. Or maybe it uses heuristics

[2019-12-26 14:51] Vanuan commented on #8104
[code]

[2019-12-26 14:57] Vanuan commented on #8104
Found the source: https://github.com/storybookjs/storybook/blob/21b8a7fb2ca2ace85be14accabc5e046f9189377/addons/docs/src/frameworks/common/preset.ts#L36-L45

So, if your story filename is different, no code would be shown.

[2019-12-26 16:04] #8398 closed

[2019-12-26 16:30] shilman commented on #8821
I think storysource only works with chained stories. So:

[code]

Not:

[code]

[2019-12-26 16:33] shilman commented on #9243
I think the CLI should be smart enough to add a `scripts` section to your `package.json` if there isn't one. Great first issue if somebody wants to take it!

[2019-12-26 19:56] falnos24865 commented on #4672
Also want to mention for Typescript users this dependency is annoying. We have no need for anything babel, so adding it just for Storybook is a bit of a blocker.

[2019-12-26 19:58] falnos24865 opened #9251 "Remove dependency on babel-loader"
**Is your feature request related to a problem? Please describe.**
As a Typescript user we have no need to anything babel related in our projects. Storybook requires babel-loader which we do not want/need to install for any other reason.

**Describe the solution you'd like**
Support a method of using Storybook for Typescript without babel.

[2019-12-26 22:35] aqm1152 commented on #9241
Having the same exact issue with the same system. Also building a typescript project. The only way I was able to get my project to build was making skiLibCheck to true.

[2019-12-27 00:20] jcwarfield commented on #2691
Is there any updated information on this issue? The moduleMetadata link is now dead, and I am having this same issue with a nested component. Seems no matter what combination of moduleMetadata declarations and imports I use, I get a  `Template parse errors:
'app-welcome' is not a known element:
1. If 'app-welcome' is an Angular component, then verify that it is part of this module.` error when run

[2019-12-27 08:27] vasilii-kovalev commented on #9077
The same issue for Reactstrap.
`@storybook/react` version: 5.2.6
`reactstrap` version: 8.2.0

[2019-12-27 08:59] #7777 closed

[2019-12-27 09:31] LarsDenBakker commented on #9136
One minor thing I'm noticing while implementing this, is that perhaps we should have called it `__orderedNamedExports` since this should only contain the named exports and not the default export.

[2019-12-27 09:36] shilman commented on #9136
@LarsDenBakker This is an internal API, so happy to change it if you and @daKmoR prefer

[2019-12-27 09:38] shilman commented on #9042
I don't think this is still a problem in 5.3. Closing!

[2019-12-27 09:38] #9042 closed

[2019-12-27 09:40] shilman commented on #9077
Any Webpack gurus know what's going on here? @ndelangen @mrmckeb

[2019-12-27 10:00] jonathanherdt commented on #8881
@Zunaib this was fixed for me in Storybook 5.3

[2019-12-27 10:01] shilman commented on #7304
This is currently implemented in 5.3. Closing.

[2019-12-27 10:01] #7304 closed

[2019-12-27 10:17] Zunaib commented on #8881
Any specific Version like 5.3.0rc ?

[2019-12-27 11:36] jonathanherdt commented on #8881
Tried it out with one of the late betas (.28 or so) and it still worked with the RC

[2019-12-27 11:51] atanasster commented on #8881
@Zunaib I believe you need to install https://github.com/atanasster/webpack-react-docgen-typescript

@jonathanherdt - can you please confirm your configuration here.

[2019-12-27 11:59] #7246 closed

[2019-12-27 12:02] Zunaib commented on #8881
Got it working 👌

[2019-12-27 12:47] pocka commented on #9215
@helabenkhalfallah
I guess this is an issue about the usage of React Context API. Probably root cause is that your context reads [`sg-ui-core/lib/ThemeContext`](https://github.com/helabenkhalfallah/react-sg-components/blob/1eff6052525155add45b841c0236f467155d4c91/packages/storybook/.storybook/Contexts.js#L1)(`ThemeProvider -> ThemeContext`) although your stories reads [`sg-ui-core/es/ThemeContext`

[2019-12-27 13:07] Hypnosphi commented on #9077
Can you please create a GitHub repo with minimal reproduction of your issue?

[2019-12-27 13:27] pocka commented on #9161
Duplicate of #6002

That issue is still opened but I think it's already fixed in v5.3.0-rc. (#8205 )

[2019-12-27 13:27] #9161 closed

[2019-12-27 13:42] pocka commented on #9242
Probably https://github.com/zloirock/core-js/issues/736 ?
The issue was fixed in `core-js@3.6.1`, so please try upgrading. (And this might solve our CI error)

[2019-12-27 14:59] #8158 closed

[2019-12-27 15:19] helabenkhalfallah commented on #9242
OK I try. Thanks :)

[2019-12-27 15:19] helabenkhalfallah commented on #9215
Yes, I try, thanks :)

[2019-12-27 15:48] #8845 closed

[2019-12-27 15:58] helabenkhalfallah commented on #9242
Hello @pocka ,
I updated to storybook 3.6.8 and I have :

[2019-12-27 16:00] helabenkhalfallah commented on #9242
![image](https://user-images.githubusercontent.com/1331451/71523684-5141e800-28ca-11ea-9266-bc59648dc48f.png)
![image](https://user-images.githubusercontent.com/1331451/71523690-5bfc7d00-28ca-11ea-8d2d-32ba699138e3.png)

[2019-12-27 16:03] helabenkhalfallah commented on #9242
I tried also : delete package lock, delete node module, npm install again.

[2019-12-27 16:07] aqm1152 commented on #9241
Having to revert @types/node to version 12.12.18, the project builds fine.

[2019-12-27 16:18] artemi5c opened #9254 "Vue.js: 'Error' props throw error"
Hello there!

**Describe the bug**
With vue.js, when a component is passed a string that contains 'error' as a prop, Storybook throws an error.

I upgraded to 5.2.8. Everything worked fine in 5.1.8

**To Reproduce**
- Create a story with a Vue component
- Pass a string containing 'error' as a prop

**Expected behavior**
Story displays correctly

**Screenshots**
A good component:
![image](https://u

[2019-12-27 17:00] atanasster commented on #8881
Great - can you post your config and we can close this issue.

[2019-12-27 17:04] Zunaib commented on #8881
Okay sure.
## Here is my config.js

[code]

## Here are my presets.js

[code]

## Here is a component using ForwardRef

[code]

[2019-12-27 17:16] atanasster commented on #8881
Thanks  - closing

[2019-12-27 17:16] #8881 closed

[2019-12-27 17:32] Zunaib commented on #9205
## Try doing this, got out of the same problem.

[code]

[2019-12-27 18:59] #8475 closed

[2019-12-27 23:31] pocka commented on #9242
@helabenkhalfallah
Can't reproduce in a simple react app (non-CRA) even with core-js@3.5.0... could you provide a minimal repro repo?

[2019-12-28 03:59] #8174 closed

[2019-12-28 04:39] kevinbarabash commented on #6569
I'm just installed 5.2.8 and have run into this problem.

[2019-12-28 06:54] #8662 closed

[2019-12-28 08:04] Manish-Giri commented on #9243
Hello, I would like to give this a shot..

[2019-12-28 09:54] #7687 closed

[2019-12-28 09:54] #8481 closed

[2019-12-28 09:54] #7843 closed

[2019-12-28 12:46] shilman commented on #7829
Typescript should be working in the source block in 5.3. Closing.

[2019-12-28 12:46] #7829 closed

[2019-12-28 12:57] shilman commented on #6569
Did you try clearing localStorage?

[2019-12-28 13:19] shilman commented on #8060
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-rc.4 containing PR #9248 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-12-28 13:19] #8060 closed

[2019-12-28 14:40] ylacaute opened #9256 "Let the user define a CSS theme, not a JS theme file"
**Is your feature request related to a problem? Please describe.**
I am using a custom JS theme and I do not find a way to center my logo in its container. As the result, my circle logo is stuck on the left.
I read [the theming doc](https://storybook.js.org/docs/configurations/theming/) and checked the code without any clue. I also checked the **preview-head.html** or tried to include a custom CSS

[2019-12-29 00:54] #7206 closed

[2019-12-29 01:12] kevinbarabash commented on #8675
I'm running into the same issue.  I'm using the manual setup because I couldn't figure out how to make the preset work with typescript.  Here's my setup:

addons.js
[code]

config.js:
[code]

webpack.config.js
[code]

stories/Test.stories.mdx:
[code]

Full stack trace:
[code]

[2019-12-29 01:18] kevinbarabash commented on #8675
I didn't realize that I needed a `<Meta>` in my .mdx file.  It's working now.

[2019-12-29 01:54] #8447 closed

[2019-12-29 07:58] zloirock commented on #9242
Most likely it's an error in the Babel config https://github.com/zloirock/core-js/issues/514

[2019-12-29 08:18] mrmckeb commented on #4672
@falnos24865 Unfortunately it's needed by Storybook itself. I personally wouldn't consider it a blocker - if it was included by Storybook as a dependency, it would still be there - the way it is now, users have control over the exact version of `babel-loader` used.

[2019-12-29 13:59] ylacaute opened #9260 "Addon Centered: position fixed should be relative"
**Describe the bug**
The position "fixed" for the component container do not scale in all situations.
**The position should be "relative".**

**To Reproduce**
Steps to reproduce the behavior:
1. Create a component without width defined with flex display
2. Display it in MDX with a preview

**Expected behavior**
The component should appears, we see an empty container. But if we inspect the dom elem

[2019-12-29 15:27] shilman commented on #9096
@EdenTurgeman That's pretty strange. Did you figure it out? A couple comments:

1. the main difference between `all` and the other stories is that you're not using `all.story = { ... }` but you are for the others. Do the others work if you remove the `.story` from them?

2. your `addDecorator` re-definition looks a little weird to me. since you're applying it multiple times you're getting multiple

[2019-12-29 16:32] #8761 closed

[2019-12-29 16:32] #8750 closed

[2019-12-29 21:42] falnos24865 commented on #4672
@mrmckeb I would not mind if it was included as its own dependency, but forcing it be the used at the top level is not desirable. One of the main reasons I use Typescript is to avoid having to deal with Babel at all, so I would prefer if this was a dependency of Storybook and not a peer dependency. Other popular libraries (Jest, etc) include these internal tools as deps, not peerDeps (I don't have

[2019-12-30 02:10] weyert opened #9261 "Static builds fail while dev-server works fine, getCode() is undefined error"
**Describe the bug**
I am having an issue with Storybook failing to make a successful static build using `build-storybook`-command while `start-storybook`-command is working as expected.

I noticed when change the file `@storybook/core/dist/server/common/babel.js` in such manner that the `createProdPresets`-method doesn't return the `babel-preset-minify` the build is succesful. For example, like t

[2019-12-30 02:10] weyert commented on #9261
Looks like there isn't a way to disable this preset from being added?

[2019-12-30 04:19] SoloJiang opened #9262 "Unexpected token"
https://circleci.com/gh/storybookjs/storybook/186184?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

I submitted a [pull request](https://github.com/storybookjs/storybook/pull/9220) last week. But I couldn't understand the test result meaning.

[2019-12-30 10:17] raphaelboukara commented on #1637
## To reproduce:
Open a new shell and:
[code]
![image](https://user-images.githubusercontent.com/6442236/71577662-baf60800-2afd-11ea-9fd3-6d6d1d450798.png)

go to `src/Button/index.js`.
add some changes. (for instance add "hi!" before text)
![image](https://user-images.githubusercontent.com/6442236/71577744-ff81a380-2afd-11ea-8635-4e8d4ff7fe04.png)

The global decorator disappear.

[2019-12-30 11:16] SirMoustache commented on #8336
Still having this issue with `v.5.3.0-rc.3`

[2019-12-30 11:18] NikolayVolkovR opened #9263 "Webpack build fail during rebuild using addon-docs (5.3.0-rc.1)"
After **the second** rebuild webpack falls with
"93% after chunk asset optimization SourceMapDevToolPlugin main.ec7e1cf1f504a8b4b530.bundle.js generate SourceMap"

**To Reproduce**
"Addon-docs" + `devtool: 'source-map',`

packaje.json:
[code]

main.js:
[code]

webpack.config.json:
[code]

![image](https://user-images.githubusercontent.com/28064446/71579508-eed92980-2b0d-11ea-907f-87499215690d.png)

[2019-12-30 11:59] NikolayVolkovR opened #9264 ""Jest did not exit one second after the test run has completed." addon-storyshots-puppeteer 5.3.0-rc.1"
I migrated addon-storyshots & addon-storyshots-puppeteer from 5.2.8 to 5.3.0-rc.1

Storyshots.test.ts
[code]

Got the message:
"Jest did not exit one second after the test run has completed.
This usually means that there are asynchronous operations that weren't stopped in your tests. Consider running Jest with `--detectOpenHandles` to troubleshoot this issue."

![image](https://user-images.githubu

[2019-12-30 12:14] #8767 closed

[2019-12-30 12:15] ylacaute opened #9265 "Addon Knobs - Add function type ?"
**Is your feature request related to a problem? Please describe.**
I am discovering Knobs, I see many supported types (text, bool, number...) but nothing for functions.

How to create a knobs for a function ?
`showModal={() => {}}`

I tried to pass it as object but get a console error (Invalid prop `knob.value` supplied)
I also tried to pass as text with "() => {}" but of course it generates an er

[2019-12-30 12:43] ylacaute opened #9266 "Addon docs - Docgen regression with spead props"
**Describe the bug**
Composed props are not displayed anymore in the generated docs.

**Last working version:** 5.2.8
**The next is not working anymore:** 5.3.0-alpha.0 (RC-1 and RC-4 also verifed)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a component with its story
2. Define propTypes with spread:
[code]
**Expected behavior**
The name (and only the name) of the prop should be d

[2019-12-30 12:49] shilman commented on #9266
@ylacaute If this is a regression, does that mean that there's an older working version? If so, what version worked?

[2019-12-30 12:53] ylacaute commented on #9266
Yes, with v5.2.8 it is working as expected

[2019-12-30 15:19] JacopoBonta commented on #7829
I have update both `@storybook/react`and `@storybook/addon-docs` to 5.3.0-rc.4 but keep getting the error message `TS7005: Variable '__MODULE_DEPENDENCIES__' implicitly has an 'any[]' type.`

I'm not using the preset and also I'm new to webpack so probably I made some mistakes.
Here is my webpack.config.js:
[code]

[2019-12-30 16:39] afebbraro opened #9269 "[addon-docs] Add a check for multiple stories before rendering the Stories component in the DocsPage."
### Bug or support request summary
Check for multiple stories before rendering the the Stories component in the DocsPage. Without this check, unnecessary rendering of the Stories component headline would occur.

Expect to not see a "Stories" headline with nothing underneath it.

### Steps to reproduce

Go to the examples HTML storybook app and check out a component that only has one story. For exa

[2019-12-30 16:51] artemi5c commented on #9254
After a thorough investigation, the issue is on our side. Sorry for the inconvenience.

Happy Holidays!

[2019-12-30 16:51] #9254 closed

[2019-12-30 16:57] JacopoBonta opened #9270 "Addon-info: missing loader"
**Describe the bug**
Adding the `@storybook/addon-info` produce the error `Module parse failed:...`.

**To Reproduce**
I'm starting from a setup that already includes styled-components, react and typescript.
To install the addon I followed the steps as stated in the installation guide.

Steps to reproduce the behavior:
1. `yarn add @storybook/addon-info --dev`
2. In `config.js` import `withInfo` a

[2019-12-30 18:08] shilman commented on #9266
cc @patricklafrance - I think this is due to relying entirely on `react-docgen` without the fallback props processor. WDYT?

[2019-12-30 18:09] shilman commented on #9262
This typically means that babel is not configured properly for JSX

[2019-12-30 18:10] shilman commented on #9270
`Addon-info` is being superceded by `addon-docs`, which fixes a bunch of bugs and is easier to maintain. Please give it a try! https://medium.com/storybookjs/storybook-docspage-e185bc3622bf

[2019-12-30 18:14] patricklafrance commented on #9266
To my knowledge it never worked if the props types are imported from another file. This is is an issue with react-docgen.

There is a test case for this in cra-ts-kitchen-sink

[2019-12-30 18:18] shilman commented on #9266
The fallback code that got deleted didn't rely on `react-docgen`.

[2019-12-30 18:24] patricklafrance commented on #9266
@shilman the fallback code is for the defaultProps not the propTypes

[2019-12-30 18:28] patricklafrance commented on #9266
Sorry, was on my phone. If I understand well, in 5.2 there was fallback code that basically took the original propTypes object and use output the value for all the props that were not returned by react-docgen.

If this is the case, yeah that code is gone.

I think this is something to have been fix in react-docgen 5.0.

[2019-12-30 18:30] patricklafrance commented on #9266
Pretty sure though that it was working if the spreaded object was local. Only imported object were not working.

[2019-12-30 18:33] shilman commented on #1637
@raphaelboukara global decorators should be applied in `config.js`. if you move the global decorator in your example, HMR works as expected.

[2019-12-30 19:30] steveoh commented on #6505
Should this be closed? It's still unresolved and an issue that I just searched for.

[2019-12-30 19:51] shilman commented on #7829
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-rc.5 containing PR #9272 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-12-30 19:51] shilman commented on #9269
Gadzooks!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-rc.5 containing PR #9271 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-12-30 19:51] #9269 closed

[2019-12-30 20:09] shilman commented on #7829
@JacopoBonta can you try the most recent release `5.3.0-rc.5`?

[2019-12-30 20:18] patricklafrance commented on #9266
Works fine for me with the current `next` branch with a local object.

[2019-12-30 20:25] patricklafrance commented on #9266
@ylacaute this is how I fixed it in my design system until the issue is solved in react-docgen:

https://github.com/gsoft-inc/sg-orbit/blob/master/packages/react-components/components/date-picker/src/range/date-range-picker.jsx#L14

IMO it's better than adding back a fallback in storybook docs that will only partially render the prop. It's ugly but you'll get a proper rendering with the prop name

[2019-12-30 21:04] #7018 closed

[2019-12-30 21:15] andrewbranch commented on #9241
Here’s the problem.

The package `@types/node` exists to describe the intrinsic environment that programs have when they run in node, including the type of globals like `require` and `module`.

Another package, `@types/webpack-env` exists to describe the intrinsic environment that programs have when they are bundled by webpack (often run in the browser). Webpack defines or overrides identifiers li

[2019-12-30 22:24] patricklafrance opened #9273 "Improvements to props table for 6.0"
A lot of improvements to the props table have been released with 5.3.

However, along the way we discovered and discussed a few things that still need to be improved and new technologies have been released.

For 6.0 the following should be done:

- [ ] Remove storybook [react app dependency to react-docgen](https://github.com/storybookjs/storybook/blob/next/app/react/package.json#L46)
- [x] Upgrad

[2019-12-30 23:04] esakal commented on #7829
Hello @shilman Thanks for the amazing support for docs combined with storybook.
I updated to `5.3.0-rc.5` and I still get the error `TS7005: Variable '__MODULE_DEPENDENCIES__' implicitly has an 'any[]' type.`

It works only if I add `ignoreDiagnostics: [7005]` to the `ts-loader` configuration as shown below.

file `main.js`:
[code]

[2019-12-30 23:16] JacopoBonta commented on #7829
I'm sorry but upgrading to `5.3.0-rc.5` didn't work.
I have updated both `@storybook/react` and `@storybook/addon-docs` but keep getting the same error.

[2019-12-30 23:39] jayliu50 commented on #8981
Not working for me.  No stories show up whatsoever.

- ran the script. all stories.js files transformed fine, as per manually inspection.
- changing any story to CSF makes it disappear from the UI.
    - Going with output from the script makes ALL stories disappear (all were transformed successfully).
    - change any stories BACK to `storiesOf` makes them reappear
- NO errors in the browser conso

[2019-12-31 00:25] shilman commented on #8981
@jayliu50 please read the "loading stories" documentation:

https://github.com/storybookjs/storybook/blob/next/docs/src/pages/basics/writing-stories/index.md#loading-stories

Your `loadStories` function needs to return a value if you want to use CSF.

[2019-12-31 00:27] shilman commented on #7829
@JacopoBonta can you try @esakal's workaround?

[2019-12-31 01:23] jayliu50 commented on #8981
@shilman thanks for the reply!

Yes, I have a config.js. (it was all working fine in 5.1. As far as I'm aware, this hasn't changed in 5.2?)

Thanks

[code]

[2019-12-31 02:56] SoloJiang commented on #9262
But, weirdly, I don't have this error locally

[2019-12-31 03:30] lifeofmle opened #9274 "Prop descriptions from a Flow codebase does not show up in prop table"
**Describe the bug**
I expect that the comments above the props from a code base using Flow would show up in the prop table in Storybook.

**To Reproduce**
Steps to reproduce the behavior:
1. Install code from https://github.com/lifeofmle/storybook-flow
2. Run `yarn install`
3. Run `yarn storybook`
4. Open Docs panel of Button component

**Expected behavior**
I expect that the comments above the p

[2019-12-31 06:39] esakal commented on #7829
@JacopoBonta I see that you are using `awesome-typescript-loader`. I have used that one a month ago and used a similar workaround. for `awesome-typescript-loader` you should do the following:
[code]
taken from [here](https://www.bountysource.com/issues/79076105-addon-docs-source-doc-block-typescript-support)

[2019-12-31 07:41] shilman commented on #9274
@lifeofmle Flow support didn't get added until 5.3. Try upgrading!

[2019-12-31 08:23] JacopoBonta commented on #7829
Yes, it works. I was already using this workaround before but I was looking for a way without it.

Anyway, thanks for the helps I have appreciated a lot and happy new year 🎉

[2019-12-31 08:44] shilman commented on #9245
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-rc.6 containing PR #9246 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-12-31 08:44] #9245 closed

[2019-12-31 09:37] ylacaute commented on #9266
I agree with you, don't add this fallback.

From what I understand, all your DatePick declare all props directly, you don't factorize the props definition, that is exaclty what I was tried to not do but it is not a big deal, I will do the same :)

I will give a closer look at Orbit, it seems a very nice project !! Thank you for sharing.

[2019-12-31 10:06] #9266 closed

[2019-12-31 12:42] shilman commented on #9261
@weyert  Any chance you can submit a PR for this?

[2019-12-31 13:25] Rikpat opened #9279 "Syntax Highlighter should import react-syntax-highlighter from CommonJS dist instead of ESModules"
**Is your feature request related to a problem? Please describe.**
I have a problem when using Storyshots (It may be a jest misconfiguration, since I'm not really proficient in that, but I've tried everything to fix it), that syntaxhighlighter imports react-syntax-highlighter from it's esm distribution which creates an error for me
[code]

**Describe the solution you'd like**
I would like to impor

[2019-12-31 13:52] vasilii-kovalev commented on #9077
@Hypnosphi, @shilman, hi! I had time to create a repository to reproduce my issue.
You can find it [here](https://github.com/vasilii-kovalev/issues-storybook-reactstrap-tooltip).

I tried just to install all necessary dependencies and reproduce the issue - everything works perfect. Then I added `jsconfig.json` to support absolute paths imports - it broke the Storybook build. But at the same time i

[2019-12-31 14:01] EdenTurgeman commented on #9096
@shilman
1.YES! if i remove the .story from them, my snapshotting works fine, any idea why this could be?
2. Can you explain? i must be mixing something up, i apply the `<StoryContainer>` in a seperate line. and our addons in another, is there a multiplication?

[2019-12-31 14:41] weyert commented on #9261
@shamin I have made a PR for it :) And Happy New Year :)

[2019-12-31 14:46] #8742 closed

[2019-12-31 15:37] Kosai106 commented on #8959
This is not stale @shilman. 😅

[2019-12-31 16:06] LarsDenBakker opened #9282 "Reduce size of read-syntax-highlighter dependency"
When built, the manager + preview are around 2.6 MB excluding the user's code. Even for a development tool, this is quite a hefty amount.

I've been investigating different ways this can be reduced, and by far the largest contributor to the bundle size is `react-syntax-highlighter`. It's an astronomical 1.2 MB https://bundlephobia.com/result?p=react-syntax-highlighter@12.2.1 😲

This is a picture o

[2019-12-31 16:45] JoaoFGuiomar commented on #6014
I'm getting a similar issue when starting storybook up.

I recently upgraded to 5.2. No clue whats going on here 🤔

[code]

![screenshot](https://user-images.githubusercontent.com/2249046/71627712-fa028700-2beb-11ea-8a92-d9f666484fd6.png)

[2019-12-31 17:46] #8725 closed

[2019-12-31 17:46] shilman commented on #9282
@LarsDenBakker I will buy you a beer (or the beverage of your choice) if you can do something about this. Coming to Amsterdam in April and can actually follow through on this threat!

[2019-12-31 20:48] patdryburgh opened #9283 "Integrate addons-background with addons-a11y"
**Is your feature request related to a problem? Please describe.**

When I switch the background using the `addons-background` module and re-run the `addons-a11y` tests, I want the tests to use the new background colour, so I can test whether my components work on all available background colours.

**Describe the solution you'd like**

1. Open Storybook;
2. Select a new background colour using the

[2019-12-31 22:40] kevinkuebler opened #9285 "awesome-typescript-loader error with 5.3.0-rc.6"
Trying to update from 5.2.5 to 5.3.0-rc.6 and started getting an error from awesome-typescript-loader. Going back to 5.2.5 works, but I get the error as soon as I update the storybook packages. Here are the relevant versions from my package.json:
[code]
The error I'm getting when running Storybook 5.3.0-rc.6 looks like this:
[code]
In this case, `addressField.tsx` contains a simple story in CSF fo

[2019-12-31 22:52] kevinkuebler commented on #9285
As a follow-up, I get the same error with ts-loader. So it definitely appears to be something that broke between Storybook 5.2 and 5.3. I may give the previous rc releases a shot to see if it happens in any of them too.

[2020-01-01 00:36] randyridge commented on #6014
@JoaoFGuiomar I had same issue with 5.2 as you, found this thread today.  It appears that it's a problem with addon-viewport configuration.  The addParameters({viewport: { ... }}) has changed...  I ended up just removing mine.  See [this addon-viewport issue](https://github.com/storybookjs/storybook/issues/9129).

[2020-01-01 03:46] #8780 closed

[2020-01-01 07:24] SoloJiang commented on #9262
@shilman Can you help me to solve it?

[2020-01-01 08:18] mrmckeb commented on #4672
@falnos24865, if it is not installed at the top level, it can conflict with other installed versions of the loader. We've seen this with Creact React App as an example.

You'll note that most dependencies are handled as you suggest. This is about managing versions effectively.

[2020-01-01 08:39] shilman commented on #9262
@SoloJiang sure I'll take a closer look

[2020-01-01 08:43] shilman commented on #9283
cc @ndelangen

[2020-01-01 08:45] shilman commented on #8959
cc @patricklafrance on typescript types

[2020-01-01 08:55] shilman commented on #9279
@Hypnosphi mind taking a look?

[2020-01-01 08:56] shilman commented on #9096
cc @Hypnosphi on the `.story` issue in storyshots. Any idea what's going on?

[2020-01-01 08:59] shilman commented on #9049
@fredrikbergqvist decorators get run on every story render, so you could pretty much do whatever you want in there AFAIK.

[2020-01-01 10:25] fredrikbergqvist commented on #9049
@shilman Alright, I guess a global decorator is the way to solve this then instead of a "build up/tear down"-pattern. Thanks!

[2020-01-01 11:31] ylacaute opened #9286 "Addon-docs with MDX: ResizeObserver loop limit exceeded (?)"
**Describe the bug**
I am not sure at all this is related to Storybook. When building a MDX page with the code below, it generates 5 console errors "ResizeObserver loop limit exceeded" in the console (not in the broswer console, only in the "actions" tab with the console addons).

**To Reproduce**
Steps to reproduce the behavior:
1. Construct a MDX page with the code below
2. View the result on th

[2020-01-01 12:42] artaommahe commented on #8556
@stale nope :/

[2020-01-01 12:48] Terrafire123 opened #9288 "[@storybook/angular] [Knobs] forceRerender doesn't trigger Constructor"
There seems to be no ability to force a story to use Knobs to modify the constructor of its component. Various issues have been opened about this, but they all inevitably become stale, then closed without resolution.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a component and story with the following code:

[code]

[code]

**Expected Result**
There should be a console.log with the

[2020-01-01 14:41] LarsDenBakker opened #9289 "addon-docs with regular markdown"
**Describe the solution you'd like**
`.mdx` is a pretty cool format, but it may not play well with every type of framework and requires a transformation step. It would be cool if the docs addon could work with regular markdown and html as well.

Because markdown can render HTML elements, you can use that to embed stories and cover at least the basic use cases.

It could look something like this:

[2020-01-01 15:07] Hypnosphi commented on #9279
Changing imports to `cjs` makes sense to me, please open a PR

@Rikpat as a temporary workaround, you can try adding following field to your `jest.config.js`:

[code]

[2020-01-01 15:13] LarsDenBakker opened #9290 "Distribute esm without es5 and polyfills"
**Is your feature request related to a problem? Please describe.**
All the storybook packages are compiled to commonjs, es5 and include polyfills. This contributes to quite a growth in codesize, and removes (some of) the ability to do efficient tree shaking.

When using the default storybook setup, this doesn't create many problems. The tree shaking of es modules could help serve less code, but we

[2020-01-01 15:32] Hypnosphi commented on #9096
`storyshots-puppeteer` [infers](https://github.com/storybookjs/storybook/blob/next/addons/storyshots/storyshots-puppeteer/src/url.ts#L6) `id` from `name` which doesn't work if `name` is different from export name. I'll change that to getting `id` directly from context. We should also check other `toId()` usages.

[2020-01-01 15:44] travi commented on #6088
i upgraded to the latest pre-release for this ability, but it doesn't seem to work for me. My OS is set to dark mode, which works with other `prefers-color-scheme` situations, but i've also tried explicitly simulating through dev tools. did something regress?

i've pushed up a branch with my changes [here](https://github.com/travi-org/matt.travi.org-components/tree/dark-storybook) if it helps prov

[2020-01-01 16:49] #8785 closed

[2020-01-01 18:21] Rikpat commented on #9279
I've made the changes, I only need to verify whether I should keep the requires in as consts like this
[code]
or if I can inline them since they are only used in single function like this
[code]

[2020-01-01 20:04] Hypnosphi commented on #9279
@Rikpat please keep the `import` statements, only change the paths:

[code]

It's OK to import a CommonJS module from ES (or TS) module

[2020-01-01 20:57] Rikpat commented on #9279
@Hypnosphi Sorry I didn't notice your reply before I finished the changes
there's a problem with import statement, not CommonJS related, but the package doesn't have type definitions for CommonJS modules, so build and tests fail on no type definition.
I had to import it as require to work around this

[2020-01-01 21:06] Hypnosphi commented on #9279
@ndelangen @shilman can we somehow reuse the declarations for `esm`?

[2020-01-01 22:49] #8395 closed

[2020-01-02 00:45] lifeofmle commented on #9274
@shilman I have upgraded to `5.3.0-rc.6` and now I am getting `unknown` in the `Description` column.

![image](https://user-images.githubusercontent.com/2198653/71648175-2554b580-2d55-11ea-95a5-d7eb69731479.png)

[2020-01-02 01:17] shilman commented on #8386
@SQReder did you want to take a shot at this?

[2020-01-02 01:18] shilman commented on #9274
@patricklafrance does @lifeofmle need to do something special for flow?

[2020-01-02 01:48] shilman commented on #6088
@mathiasrando can you help @travi out with this?

[2020-01-02 01:53] #9096 closed

[2020-01-02 01:59] patricklafrance commented on #9274
@shilman nope it should work out of the box.

Haven't test it thoroughly since we don't officially support flow.

Would need to test if it's a bug with react-docgen or if it's on Storybook end.

[2020-01-02 02:36] shilman commented on #9290
@LarsDenBakker what will the build output look like?

[2020-01-02 02:39] zhigang1992 opened #9294 "React native fails with JSON.serialization issue"
**Describe the bug**
Default configuration with sb stopped working after `beta.25`

**To Reproduce**
Steps to reproduce the behavior:
1. `npx react-native init testSB --template react-native-template-typescript`
2. `npx -p @storybook/cli sb init --type react_native`
3. Launch the app
4. Launch the storybook server

**Expected behavior**
Should not throw error

**Screenshots**
![Simulator Screen Sh

[2020-01-02 02:50] shilman commented on #9289
How would this integrate with the existing package?

[2020-01-02 02:52] shilman commented on #9288
@Terrafire123 the issues go stale because nobody is picking them up. Do you want to try to fix this issue?

[2020-01-02 03:00] daneah opened #9295 "SVGs load inconsistently in Docs mode for HTML stories when using file-loader"
**Describe the bug**
When authoring HTML stories and viewing them in Docs mode, when multiple stories contain an `<svg><use href="..."></svg>` only some of them (non-deterministically) render.

**To Reproduce**
Steps to reproduce the behavior:
1. Using `file-loader`, author a number of story previews in Docs mode that use `<svg>` with a `<use href="...">` reference
2. Run and open the Storybook
3.

[2020-01-02 03:07] zhigang1992 commented on #9162
sry, how to do that?

Setting `scriptsPackageName` to `react-app-rewired` doesn't seems to work.

@shilman

[2020-01-02 03:20] lefreet opened #9296 "【DOCS】cant't resolve docgen comments from mixin file's props."
**Describe the bug**
when use `addon-docs`，i find that it's is no use for a `vue` mixin file, to resolve docgen comments

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**

![image](https://user-images.githubusercontent.com/

[2020-01-02 03:22] shilman commented on #9096
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-rc.7 containing PR #9291 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-01-02 03:22] shilman commented on #9261
Great Caesar's ghost!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-rc.7 containing PR #9280 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-02 03:22] #9261 closed

[2020-01-02 04:10] shilman commented on #9296
@Aaron-Pool @pocka @elevatebart Looks like an interesting use case... I'm not familiar with vue, so I don't know how common this is?

[2020-01-02 04:13] shilman commented on #8787
@JEricaM sorry for the slow response. does this do what you want?

https://github.com/storybookjs/storybook/tree/next/addons/cssresources

[2020-01-02 04:42] lifeofmle commented on #9274
@patricklafrance @shilman With `5.3.0-beta.7` the props started working for my internal library that is using flow.

It still doesn't work with this demo project. I have no clue why.

I think it is safe to close this issue because it is working on my real code

[2020-01-02 06:05] shilman commented on #9274
Excellent! Closing this, and somebody can reopen if they hit it again 💯

[2020-01-02 06:05] #9274 closed

[2020-01-02 06:46] lefreet commented on #9296
oh, may some hot refresh bug, it's done well now, thanks.

and there some way to show the `Description` of vue's `method` and `slots`? i can't find in document.

![image](https://user-images.githubusercontent.com/25679627/71654783-83da5d80-2d6e-11ea-9a33-23ba776b2331.png)

[2020-01-02 06:54] pocka commented on #9296
`vue-docgen-api` can parse derived mixins and its props, so I think something went wrong.

https://codesandbox.io/embed/sparkling-forest-2umxp?fontsize=14&hidenavigation=1&theme=dark

[2020-01-02 06:59] pocka commented on #9296
@lefreet
Since docs-addon for Vue uses `vue-docgen-api`, you can add docs for methods and events via special comments.

https://github.com/vue-styleguidist/vue-styleguidist/tree/dev/packages/vue-docgen-api#using-jsdoc-tags

[2020-01-02 07:00] lefreet commented on #9296
@pocka may some guide link of `vue-docgen-api` in the document will better for green hand. Now I can know more details about how to write docgen comments. thanks you anwer.

[2020-01-02 07:04] #9296 closed

[2020-01-02 07:11] salmoro commented on #8370
I had the same error as stated in the issue description and it disappeared after upgrading to `"@storybook/angular": "5.3.0-rc.7"`

[2020-01-02 07:20] trevoreyre commented on #8096
As a temporary work-around, I was able to tweak the Storybook webpack config to get MDX stories working for Vue components without having to disable JSX. Many thanks to @Aaron-Pool for helping me debug. I set up an example repo here:

https://github.com/trevoreyre/storybook-mdx-vue-example

[2020-01-02 07:25] shilman commented on #8370
That's great news @salmoro!! I'm going to close this issue and if it's still breaking for people they can comment & I'll reopen.

[2020-01-02 07:25] #8370 closed

[2020-01-02 09:25] JoaoFGuiomar commented on #6014
Yep, that was it.

Thanks 🍻

[2020-01-02 09:29] mathiasrando commented on #6088
That seems odd.

Things are a bit hectic at the moment, but I can take a look whenever I have an open slot.

What OS and browser are you using, @travi? It probably won't have an impact, but just to make sure 👍
And thanks for the branch.

[2020-01-02 09:44] chrisjbrown opened #9297 "Vue with css modules"
I'm able to run storybook in my Vue project however the css modules are missing. I've also created a new storybook project with the default webpack config and I have the same issue. No styles

i have a component like this
[code]

and the rendered html is
[code]

With no css class. Do I need to do something specific to enable css modules?

[2020-01-02 12:12] JEricaM opened #9298 "Not able to use Storysource addon"
Hi
I would like to use the **storysource** and I've followed this link https://www.npmjs.com/package/@storybook/addon-storysource
- I've installed the addon
- I've created a **.storybook/webpack.config.js** file this code
- I've put inside webpack.config.js
[code]

But I don't think that the addon works because I don't see anything in my story, maybe I need to enable something elsewhere?

### Vers

[2020-01-02 13:02] apefrown commented on #9261
Unfortunately the addition of `simplify: false` in the `babel-preset-minify` options in v5.3.0-rc.7 doesn't resolve a similar issue for me.

Removing `builtIns: false` does allow the static build of my Storybook though.

[2020-01-02 13:21] helabenkhalfallah commented on #9215
Yes, that is it, I created a separated npm module for this and everything works perfectly, thanks :)

[2020-01-02 13:21] #9215 closed

[2020-01-02 13:34] helabenkhalfallah commented on #9242
Hello, I removed all my stories and I started from scratch, but always the same issue.
Here is my webpack config :

[code]

Addons.js :

[code]

config.js :

[code]

I tried suggested solution in others thread for babel, but same issue.

[code]

If I use my components inside a separated project, everything works perfectly.

[2020-01-02 13:38] zloirock commented on #9242
One more time - please, check your Babel config - it should not transpile `core-js` - it's ~99% cases of errors in this line.

[2020-01-02 14:05] christiancooksponge opened #9299 "addon-knobs tab groups do not support horizontal scrolling on the panel"
**Describe the bug**
When there are too many groups for the knobs addon, the tabs flow off the edge of the container. The user is then unable to scroll horizontally to see the hidden tab groups.

**To Reproduce**
Steps to reproduce the behavior:
1. Create multiple tab groups for knobs so it exceeds the panel width
2. Try and horizontally scroll the tabs

**Expected behavior**
Horizontal scrolling

[2020-01-02 14:11] helabenkhalfallah commented on #9242
core-module is my core module, I know that it should not transpile core-js.
I updated the code.

[2020-01-02 14:18] helabenkhalfallah commented on #9242
I check my babel again, thank.

[2020-01-02 14:26] travi commented on #6088
i'm using macOS Catalina and tested in both brave and chrome. i did clear local storage too, as mentioned in the referenced PR.

[2020-01-02 14:36] patricklafrance commented on #9274
@shilman what is included in rc.7? did you update react-docgen?

[2020-01-02 14:50] renanmav opened #9300 "React Context not working with ThemeProvider of styled-components"
**Describe the bug**
I’m trying to consume the theme inside my styled-components when developing then through Storybook, but `theme` prop come as empty object. It is worth mentioning that the theme works as expected on app, but not in the Storybook.

Maybe there is something to React Context? I tried https://github.com/storybookjs/storybook/issues/8426#issuecomment-542240804 and read all of https:

[2020-01-02 15:25] aendrew commented on #729
Please re-open this, this issue makes adding custom styles on a per-story basis exceedingly difficult. I have totally separate MDX stories that implement custom styling for their examples, and globally including all styles from every story makes this use case untenable.

[2020-01-02 15:59] smollweide opened #9301 "Addon Docs: dark mode toggle"
**Is your feature request related to a problem? Please describe.**
While implementing a design system which supports dark mode it's not yet possible to toggle into the dark mode in docs. I added a toggle for each single story which works fine in Canvas but don't work in docs because a story is not an iFrame there.

**Describe the solution you'd like**
A Quite good example on how this could look li

[2020-01-02 17:11] #8456 closed

[2020-01-02 17:11] #8797 closed

[2020-01-02 17:30] patricklafrance opened #9302 "MDX linking should allow external link without target="_blank""
**Is your feature request related to a problem? Please describe.**
Currently, when an MDX anchor doesn't have the target="_blank" attribute, MDX will prepend the manager iframe hostname to the URL. This means, that it's impossible to open an external url in the same tab.

This feature is in place to facilitate linking to another story without requiring users to specify absolute URL.

**Describe th

[2020-01-02 18:00] bbellmyers commented on #4600
I have this starter repo that does something similar, based on the solution my team uses:  https://github.com/bbellmyers/stencil-storybook-starter

[2020-01-02 18:03] iansan5653 commented on #8059
@shilman Basic markdown appears to be supported (ie inline code), but markdown-style linebreaks are not preserved and lists are not working at all. Here's an example of such a list:

![image](https://user-images.githubusercontent.com/2294248/71683223-eed06800-2d5f-11ea-94d4-fe7d590c1832.png)

That was generated from this (truncated) comment:
[code]

Despite #8533 being closed "in favor of using ma

[2020-01-02 18:52] btecu commented on #8646
@meirish @shilman Thanks for working on this.
I'm trying this feature now on an Ember application and the default DocsPage doesn't appear to work:
![image](https://user-images.githubusercontent.com/7517745/71685656-06f7b580-2d67-11ea-9f86-e047562d0f80.png)

[2020-01-02 19:42] jayrungta commented on #244
is there any support for this yet?

[2020-01-02 20:15] afebbraro commented on #9242
I noticed that https://monorepo.storybook.now.sh/ is not loading in IE11. My instance of SB isn't loading either in IE11 on windows 10.
`"@storybook/addon-a11y": "^5.3.0-rc.7",
    "@storybook/addon-docs": "^5.3.0-rc.7",
    "@storybook/addons": "^5.3.0-rc.7",
    "@storybook/angular": "^5.3.0-rc.7",
    "@storybook/preset-scss": "^1.0.2",
    "@storybook/theming": "^5.3.0-rc.7",`

[2020-01-02 20:46] beth-panx commented on #9242
I am having the same issue with IE11 on windows 10. Below is storybook versions.
[code]

However I was able to get storybook to work on Edge by adding the webcomponent polyfill (@webcomponents/webcomponentsjs/webcomponents-bundle.js') in preview.js

[2020-01-02 21:30] martinmckenna commented on #6932
Agreed with @Pumba-Coder. I can resolve the mounting error with @pocka's solution but then I get some errors with my scss for some reason, and I'm not particularly sure why

[code]

Here's my webpack config

[code]

[2020-01-02 22:19] meirish commented on #8646
Followed up with @btecu on discord - https://github.com/storybookjs/ember-cli-storybook/issues/25 was the result, we'll track things there!

[2020-01-02 23:46] Tucker-Eric commented on #9077
I was running into the same issue and I was able to fix this locally with adding the following to `.storybook/webpack.config.js`

[code]

I think this may just be a windows issue due to case insensitivity where it's thinking `poppper.js` should resolve to `Popper.js` and the names don't match. I was receiving the error on windows but not on CentOS.

I hope this helps!

[2020-01-03 00:40] yingzuo opened #9304 "Security vulnerability found in @storybook/react > @storybook/core > shelljs"
**Describe the bug**
npm audit security report shows a moderate vulnerability found in shelljs.

**To Reproduce**
Version on package.json: "@storybook/react": "^5.3.0-rc.7",
Run `npm audit` and it reports this issue:

Moderate      │ Command Injection
Package       │ shelljs
Dependency of │ @storybook/react [dev]
Path          │ @storybook/react > @storybook/core > shelljs

**Expected behavior**
C

[2020-01-03 01:04] yingzuo opened #9305 "Security vulnerability found in npm dependency open"
Describe the bug
npm audit security report shows a high vulnerability found in npm package open.

To Reproduce
Version on package.json: "@storybook/react": "^5.3.0-rc.7",
Run npm audit and it reports this issue:

High │ Arbitrary Command Injection
Package │ open
Dependency of │ @storybook/react [dev]
Path │ @storybook/react > @storybook/core > react-dev-utils > open

Expected behavior
Clear securi

[2020-01-03 01:04] shilman commented on #244
There's support for collapse all, but not AFAIK not expand all:

<img width="450" alt="sb-collapse-all" src="https://user-images.githubusercontent.com/488689/71701980-d9167d80-2e07-11ea-8894-c7d58b31e30d.png">

[2020-01-03 01:06] shilman commented on #9139
@pistacchio take a look at preset-scss: https://www.npmjs.com/package/@storybook/preset-scss

[2020-01-03 01:12] shilman commented on #9300
@renanmav Can you share a reproduction repo?

[2020-01-03 01:15] shilman commented on #9274
@patricklafrance Nope, that upgrade is still sitting in a PR. I'm guessing it was a `node_modules` issue in @lifeofmle 's repo?

[2020-01-03 02:00] pocka commented on #6932
@martinmckenna
You don't need to configure a rule for `.vue` files. Instead, you need to set `sass-loader`:

[code]

https://vue-loader.vuejs.org/guide/pre-processors.html#sass

Or try [`@storybook/preset-scss`](https://github.com/storybookjs/presets/tree/master/packages/preset-scss).

[2020-01-03 02:18] denno020 opened #9306 "@storybook/vue breaks Gridsome build"
**Describe the bug**
I have a Gridsome project, and I've installed Storybook. Storybook itself works fine, but when I try and run the gridsome develop command again, it's broken. Removing Storybook fixes the issue with Gridsome

**To Reproduce**
Steps to reproduce the behavior:
1. Create Gridsome project, `gridsome create my-gridsome-project`
2. Move into directory, `cd my-gridsome-project`
3. Con

[2020-01-03 02:22] bostanio commented on #9304
I can't reproduce. From a blank npm project just with just a @storybook/react: 5.3.0-rc.7 dependency `npm audit` does not report issues. This means we're not requiring a version with a problem but likely something specific to your environment. Most likel you are npm locked to a old version of the offending package which you could just upgrade.

[2020-01-03 02:25] bostanio commented on #9305
This feels like a very similar issue as #9304. If there are specific details and reproduction steps please add to that ticket.

[2020-01-03 02:25] #9305 closed

[2020-01-03 02:30] atanasster commented on #244
@jayrungta - collapse all is in the menu as @shilman posted above.

Expand all is also implemented, but only with keyboard shortcuts (its not in the menu) since its not supposed to be used that often :)

The shortcut for Expand All is:
Command+Shift+DownArrow. (same as Collapse all but with down arrow opposite Up arrow)

[2020-01-03 03:42] shilman commented on #8059
@iansan5653 you need to add an extra linebreak between the "Possible values are" and the list, per https://github.com/probablyup/markdown-to-jsx/issues/217

As for the paragraph spacing, fixed in #9307. Here's what it looks like after the tweak:

<img width="660" alt="Addons___Docs___stories_-_Basic_⋅_Storybook" src="https://user-images.githubusercontent.com/488689/71706171-27367b80-2e1e-11ea-8b16

[2020-01-03 03:50] annewanghy commented on #3809
hi , it seems not solved yet, I have the same problem with https://github.com/storybookjs/storybook/issues/3809#issuecomment-428785848, the beforeAll is not a function.

[2020-01-03 07:51] Zunaib opened #9309 "Clicking on showcode in docs tab directs to just plain background."
**Describe the bug**
whenever i shift to the docs tab and click showcode button to view sourcecode. It falls apart and shows me plain screen instead of any code.

**Expected behavior**
When showcode is to be clicked, the sourcecode should be displayed.

**Screenshots**
## Before Clicking Show Code
![2020-01-03_12-39](https://user-images.githubusercontent.com/25710588/71712224-2bff2d80-2e26-11ea-9d

[2020-01-03 07:54] JEricaM commented on #9298
Solved upgrading all the @storybook packages to the last version.

[2020-01-03 07:54] #9298 closed

[2020-01-03 08:33] mrmckeb commented on #9077
@Tucker-Eric can you please raise that issue with Popper? That sounds like an issue that needs to be solved... others will definitely hit this one.

[2020-01-03 09:41] shilman commented on #8059
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-rc.8 containing PR #9307 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-03 09:41] #8059 closed

[2020-01-03 09:52] EdenTurgeman commented on #9096
@shilman AMAZING WORK. thank you so much for that!

[2020-01-03 09:58] shilman opened #9311 "Storybook 6.0 Release 🏆"
Storybook 6 is now in RC! That means all of the breaking changes are in, and we don't expect any destabilizing changes between now and the final release, just lots of cleanup and bug fixing (famous last words...)

## Schedule

- ✅ `6.0.0-alpha.0` 2020-01-21
- ✅ `6.0.0-beta.0` 2020-04-29
- ✅ `6.0.0-rc.0` 2020-07-08
- 🏁 `6.0.0` 2020-08-10

## Contents

* 💎 [Essentials: Zero-configuration setup](http

[2020-01-03 11:05] andywd7 commented on #8096
@trevoreyre This is a great temp work-around. It does seem however, for me at least, to break Jest unit tests as without a `babel.config.js` file with preset `@vue/app` in for Jest to pickup it errors when running the tests with `Unexpected token {`. Jest doesn't pick up the `@vue/app` preset specified in `main.js`.

Just wondering if anyone brighter than me, not hard, had any suggestions?

[2020-01-03 11:21] mathiasrando commented on #6088
I gave it a quick look last night and to sum up:
- Tests for the `getPreferredColorScheme` utility are passing
- The `getPreferredColorScheme` utility is working correctly(both with emulation and actual OS color sheme) with manual testing
- The applied theme never changes to dark

So I believe that the issue is related  to the `create` method inside `lib > theming > src > create.ts`.
I think I'll

[2020-01-03 11:41] smollweide opened #9312 "Addon-docs: GlobalStyles rendered multiple times"
**Describe the bug**
Following the documentation for [adding global styles](https://www.learnstorybook.com/design-systems-for-developers/react/en/build/) to storybook ends up with multiple global style tags because each story on a docs page creates one instance of the global style. This issue is only related to the docs pages not canvas!

**To Reproduce**
Steps to reproduce the behavior:
1. Create

[2020-01-03 11:46] smollweide commented on #9312
I was able to solve this issue by adding the following workaround:

*.storybook/config*
[code]

So maybe it's enough to update the documentation.
What do you think?

Btw. thanks a lot for the new Storybook. I'm using storybook for a while and the new version is just amazing 😉

[2020-01-03 12:13] smollweide commented on #9301
I tried to solve it by creating a custom switch in a portal in `.storybook/config.js`.

And than override the background :

[code]

With this approach each story has the dark mode but storybook itself stays in the chosen theme. My idea to solve also this part would be like this:

[code]
But this is not working.

[2020-01-03 12:53] hyochan commented on #8274
[code]
Confirm above resolves issue.

[2020-01-03 14:15] PHuhn commented on #9135
So, has the issue been resolved?  I work in the most recent Angular version 8.  Will this be Angular 9 in January?  Otherwise this is not viable for my development.

[2020-01-03 14:33] codejunkienick opened #9313 "Updating emotion breaks ThemeProvider Context"
@emotion/core           latest  10.0.22      ❯  10.0.27
@emotion/styled         latest  10.0.23      ❯  10.0.27
emotion-theming         latest  10.0.19      ❯  10.0.27

By upgrading this packages theme is not passed down to emotion wrapped components.

Possibly related issue https://github.com/storybookjs/storybook/issues/9300

[2020-01-03 14:35] hasparus opened #9314 "Unexpected 'componentname' when component has non leaf children"
Hi there 👋

**Describe the bug**
A component can't be a folder _(have non leaf children)_ in docs mode.

**To Reproduce**
Steps to reproduce the behavior:

1. Create stories in following manner

[code]

[code]

2. In dev mode, stories of `RichTextEditor` will gladly live alongside `EmojiButton`.
    In docs mode, the app crashes with an error:
[code]
    thrown from https://github.com/storybookjs/

[2020-01-03 14:51] jayrungta commented on #244
@atanasster do you know why this is not supported as a configuration/option? Why is expanding all by default such a "bad idea"?

[2020-01-03 14:51] renanmav commented on #9300
Sure thing @shilman

Here it is https://github.com/renanmav/theme-context-storybook-repro

I provided some additional context on [`README.md`](https://github.com/renanmav/theme-context-storybook-repro#some-context)

[2020-01-03 16:21] martinmckenna commented on #7593
Having the same issue - can't customize anything Vuetify related.

Here's my config:

[code]

[2020-01-03 16:46] kosek-michal commented on #9191
I also run into this issue. Does anybody have an idea about some workaround for this?

[2020-01-03 16:51] atanasster commented on #244
@jayrungta - because there can be a lot of stories and expand all will take significant time. If you would prefer to have expand all in the menu, please file an issue

[2020-01-03 17:05] robokozo commented on #8096
As a point for consideration, I would greatly appreciate if the working setup/config could be packaged up as a vue cli plugin

[2020-01-03 17:19] kevinkuebler commented on #9285
Some more information on this one ... I tried with both 5.3.0-rc.0 and 5.3.0-rc.8 and got the same results. So it appears this is something that broke between 5.2 and the first 5.3 RC release. What we're doing is probably considered "non-standared"/not best-practice, but goes back to how we were using Storybook before Storybook Docs was a thing. We would often write stories as a full React class c

[2020-01-03 17:51] danilovaz opened #9316 "Storybook Docs Vue: ReferenceError: "h is not defined""
**Describe the bug**
After upgrading Storybook to `5.3.0-rc.8` in my Vue application and try to migrate my stories to only MDX, the 'Docs' tab returns `ReferenceError: "h is not defined"`

**To Reproduce**
Steps to reproduce the behavior:

1. create an application using Vue;
2. add @storybook/addon-docs@5.3.0-rc.8
3. adjust main.js to load mdx files
[code]
4. Add MDX file: (any vue component)
*z-i

[2020-01-03 18:03] Bram-Zijp opened #9317 "[DocGen]: TypeScript & Styled Components sometimes shown prop types and sometimes didn't [With Solution]"
**Sharing insights on the DocGen bugs**
I had weird issue's where two of the exact same components (litterly copy pasted) would have one story show the prop types and the other wouldn't using TypeScript. I only used the [react-docgen-typescript-loader](https://github.com/strothj/react-docgen-typescript-loader). When I added the [babel-plugin-react-docgen](https://github.com/storybookjs/babel-plugi

[2020-01-03 18:11] sunlanterns opened #9318 "Dark/Light Full Theme Switcher Help"
**Is your feature request related to a problem? Please describe.**
I was already using the [dark-mode](https://github.com/hipstersmoothie/storybook-dark-mode) plugin, and really like that switch style. But I want to be able to change out my css for my components when it switches. I've gotten to the point where I have an if statement under the dark-mode's channel in `config.js` and I started lookin

[2020-01-03 19:19] cmurczek opened #9319 "Failed to load the Angular CLI config. (Angular 8/Storybook 5.3.0-rc.8)"
**Describe the bug**
I'm writing a library created with the Angular CLI (8.3.20). When I run storybook, I get the _Failed to load the Angular CLI config._ warning. I found #9206 dealing with a similar problem, but the suggested workaround did not fix the issue. I'd assume it's due to the fact that there is no app, just the lib.

**To Reproduce**
Steps to reproduce the behavior:
1. I created a repr

[2020-01-03 19:23] lannierose commented on #5298
Fixed mine by removing { "modules": false } from this line in .babelrc: ["env", { "modules": false }]

[2020-01-03 20:14] #8814 closed

[2020-01-03 22:03] Tucker-Eric commented on #9077
Looking into this a little more, this actually looks like a storybook webpack config issue. I was able to get it working with:

[code]

`config.resolve.modules` previously contained `['node_modules', './']` so when `Popper.js` was importing `popper.js` webpack was initially trying to resolve it in its current directory which was triggering [CaseSensitivePaths Plugin](https://github.com/Urthen/case

[2020-01-03 22:53] sunlanterns commented on #9318
Closing this issue because I figured out my own solution that doesn't use the cssresources addon.

For anyone curious.
1. Remove 'style-loader' from your webpack rule for your styles, so it doesn't load up automatically.

-- everything after this is in the storybook config.js file

2. Use `import * as light from "light-theme.scss";` syntax imports for the light and dark theme files.

3. Use `chann

[2020-01-03 22:53] #9318 closed

[2020-01-03 23:57] techieshark commented on #9133
What needs doing on this in terms of docs?

[2020-01-04 00:26] mathiasrando commented on #6088
The `getInitialState` in the context provider always gets the light theme. It makes sense since the light theme is the default, but it also causes `ensureTheme(state.theme)` to always `convert` the light theme instead of the default `themes[getPreferredColorScheme()]`.

I'm still unsure why it has stopped working since it doesn't seem like the use of `create`, `convert` and `ensure` have changed.

[2020-01-04 00:54] techieshark commented on #8115
Hi @patricklafrance I've tried this with 5.3.0-rc8 and am only seeing part of the component property info that should be derived from defaultProps + Flow's prop type.

I have a component such as:

[code]

The Docs tab renders a prop table starting with this html:

[code]

but the label value is missing. If I define other props in the Flow type and provide a `defaultProps` value for them, then the

[2020-01-04 01:16] techieshark commented on #4764
With the preset (and not using Typescript) I'm seeing:
[code]

[2020-01-04 02:14] #8528 closed

[2020-01-04 02:17] patricklafrance commented on #8115
@techieshark can you try with rc7 please?

In rc8 we switched to react-docgen v5. Just want to make sure this is not a regression from their part.

[2020-01-04 03:16] kevinbarabash commented on #6569
@shilman that did the trick.  Thank you!

[2020-01-04 04:56] shilman commented on #9309
Not seeing this, can you share a reproduction repo?

[2020-01-04 05:02] shilman commented on #9096
Thank @Hypnosphi 👏

[2020-01-04 05:24] shilman commented on #9285
Hi @kevinkuebler I can't think of anything that might cause the break off the top of my head. @gaetanmaisse @kroeder @ndelangen @mrmckeb any ideas?

Best step forward would be to create a minimal repro and hopefully we can get to the bottom of it. Thanks for raising the issue!

[2020-01-04 05:28] shilman commented on #9316
@danilovaz Please take a look at this issue, which AFAIK has a workaround: https://github.com/storybookjs/storybook/issues/8096

@Aaron-Pool should we update the documentation for this? Or is there a code change required? Thanks!

[2020-01-04 05:30] shilman commented on #9317
Thanks @Bram-Zijp ... that's pretty strange!!

As an aside, `addon-info` is being superceded by `addon-docs`, which fixes a bunch of bugs and is easier to maintain. Please give it a try! https://medium.com/storybookjs/storybook-docspage-e185bc3622bf

[2020-01-04 05:37] martinmckenna commented on #7593
ok I got this working with the following config. Hoping this helps someone in the future. The difference between the `sass` and the `scss` rules are the semicolon at the end of the imported `styles.scss` file. One expects semicolons and one doesn't so combining them into 1 loader became impossible.

Frankly getting Storybook working with Vuetify is entirely too much trouble

[code]

[2020-01-04 05:37] shilman commented on #8814
@Peeja sorry I missed this. Yeah this was intentional, just to keep things simple & fast. Maybe a PR for one-level deep search?

[2020-01-04 05:41] shilman commented on #7593
cc @pocka @Aaron-Pool anything we learn from this and improve in the docs or out-of-box config?

[2020-01-04 10:14] LarsDenBakker commented on #9290
@shilman there would be the commonjs output there is now, and a esm output side by side.

there are different ways to go about the folder structure, for example redux has a `dist` and a `es` folder: https://www.runpkg.com/?redux@4.0.4/es/redux.js

Vue ships an es module variant in the `dist` folder directly: https://www.runpkg.com/?vue@2.6.11/dist/vue.esm.browser.js

Angular has a lot of different

[2020-01-04 10:16] LarsDenBakker commented on #9289
I can come up with a more concrete proposal if there is interest in this.

Ideally there would be a 'core' docs mode, which can accept different kind of renderers. MDX and MD being two formats, but plain HTML docs would be useful too for server rendered frameworks as they could just serve out of the docs directly.

[2020-01-04 12:30] shilman commented on #9289
TBH I'm not entirely sure.

Here's how I see it:

1. At the base, Storybook core supports a "docs" `viewMode`, which renders `parameters.docs.container/page` in a tab, with a little bit of weird magic about iframes.
2. Above that, we have CSF, which fills in those parameters via the Storybook API.
3. Above that, we have MDX, which compiles to CSF.

Because of this architecture, it shouldn't be har

[2020-01-04 12:44] shilman commented on #9290
@LarsDenBakker that sounds reasonable to me! But I'm also pretty ignorant about this stuff. @Hypnosphi @ndelangen @tmeasday any thoughts?

[2020-01-04 12:48] LarsDenBakker commented on #9289
Ah I see, I hadn't dug deep enough to see the layering. So `@storybook/addon-docs` is basically the third MDX layer? Then indeed a separate package seems to be the right way to go for this.

[2020-01-04 13:06] shilman commented on #9289
Yeah, more or less. `@storybook/addon-docs` has got:
- MDX compiler
- Doc blocks components, esp smart props tables
- Various framework-specific configurations

We might find that there are common pieces that we want to share after you build a prototype.

One other relevant bit: the doc blocks are implemented in React, but we've talked about some day re-implementing them in some other easily embed

[2020-01-04 14:20] shilman commented on #9136
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-rc.9 containing PR #9315 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-01-04 17:23] ryanboswell commented on #9120
Took me a bit, but I did eventually figure out how to get `react-docgen` running on the project by adding it to our custom `babelrc` file.

[2020-01-04 18:35] martinmckenna commented on #6932
I posted in #7593, but I suppose it makes more sense to post my final webpack config here as well for anyone who's having similar issues:

From #7593 :

ok I got this working with the following config. Hoping this helps someone in the future. The difference between the `sass` and the `scss` rules are the semicolon at the end of the imported `styles.scss` file. One expects semicolons and one doesn'

[2020-01-04 18:49] Hypnosphi commented on #9077
@Tucker-Eric The default value is `['node_modules', process.env.NODE_PATH]`. Is there a chance that you defined `NODE_PATH=./` environment variable somewhere?

[2020-01-04 19:07] BPScott commented on #8308
poke stale bot, I'd still like to see this ticket addressed

[2020-01-04 19:35] BPScott commented on #9289
Hi!

Context for Lars: I expect I'm being mentioned as I've got some experience with writing docs in md files and importing them into storybook instead of writing CSF *.stories.js files in JS.

CSF is the common base layer that binds this all together.
Writing documentation in new formats (html, markdown etc) is a case of writing a webpack transformer that will take that format (e.g a markdown fil

[2020-01-04 20:54] Aaron-Pool commented on #8096
@andywd7 I think you can configure environment specific settings in your Babel config. If you confine the changes in the work around to environments that aren't "test", I think that may work?

[2020-01-04 20:56] Aaron-Pool commented on #9316
@shilman depends on whether you think it's worth adding documentation for a (possibly temporary) work around 🤷‍♂️

[2020-01-04 21:08] danvim opened #9326 "Yarn workspace @storybook/react not hoisted"
**Describe the bug**
I have a yarn workspace project. Running `yarn workspace x storybook` yields this error:

[code]
I am not too familiar with how Yarn decides what packages to hoist. I have everything except `@storybook/react` hoisted to my root folder.

What I have under my workspace `x` is like so:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize storybook react under

[2020-01-04 23:56] #8422 closed

[2020-01-04 23:56] #8262 closed

[2020-01-05 00:05] Peeja commented on #8814
@shilman It should be fast enough to do a full-depth search, no? I'm imagining searching the element tree rendered by the MDX directly, not the full eventual component tree. But I think we could make it so any use of `<Story>` directly in the MDX at any depth would show up.

WDYT?

[2020-01-05 01:01] shilman commented on #8814
Yeah, you're probably right!

[2020-01-05 01:15] tmeasday commented on #9290
Seems like something a lot of packages (although typically they are runtime dependencies). I guess given we are expanding in that direction we'll need to start doing it too 🤷‍♂ I also am pretty clueless about all the technical details.

[2020-01-05 01:56] #8542 closed

[2020-01-05 01:56] #8095 closed

[2020-01-05 02:01] SQReder commented on #8386
I'll check it after january 9th. Does it already published in npm?

чт, 2 янв. 2020 г., 4:17 Michael Shilman <notifications@github.com>:

[2020-01-05 02:42] Peeja commented on #8814
Cool! No idea when I'll get a chance, but I'll give that a shot sometime.

[2020-01-05 04:56] #8837 closed

[2020-01-05 05:27] shilman commented on #8386
Yes #8889 is published to NPM

[2020-01-05 09:46] kevin940726 opened #9327 "Create an official template for CRA"
**Is your feature request related to a problem? Please describe.**
Since CRA now supports [custom template](https://create-react-app.dev/docs/custom-templates), I think it makes sense for us to create official template for CRA. It would make new comers easier to get started with storybook and CRA.

**Describe the solution you'd like**
We can create a new package `cra-template-storybook` and mainta

[2020-01-05 10:28] daKmoR commented on #9136
As discussed in https://github.com/storybookjs/storybook/pull/9181 there have been 2 solutions to guarantee a story order if loaded via es modules. I went for the object. However, I have been missing the use case of rexports

[code]

which currently produces the following `export const __orderedExports = { notMyStory };` which fails as `notMyStory` is not a local variable.

Therefore we should go

[2020-01-05 10:57] Tjerk-Haaye-Henricus commented on #5875
Hey..
Same here

storybook: 5.2.8
styled-components: 4.4.1

did anyone solve the issue ?

[2020-01-05 12:46] Zunaib commented on #9309
Its a private repo. let me make a little example one.
I'll get back to this soon.

[2020-01-05 12:57] hurkanakbiyik commented on #6188
Thank you @snc , it is a nice solution but somehow it didn't work for me. It was really helpful to solve mine! I am using this example in version 5.2.8

[code]

[2020-01-05 15:01] shilman commented on #9327
@kevin940726 this sounds awesome! @mrmckeb WDYT?

[2020-01-05 15:12] pocka commented on #9300
@renanmav
You are using `ThemeContext` from `styled-components` module in Storybook config, and `ThemeContext` from `styled-components/native` module in components source code.

[code]

[code]

https://codesandbox.io/s/nervous-thunder-35ft4

[2020-01-05 18:58] patricklafrance opened #9328 "MDX links to stories should use Storybook API instead of doing a full refresh."
**Is your feature request related to a problem? Please describe.**
The current version of MDX linkings support links to other stories though full refresh.

This is quite slow and doesn't leverage existing Storybook API.

**Describe the solution you'd like**
MDX linkings should emit a `SELECT_STORY` event to navigate to another story.

[2020-01-05 19:33] patricklafrance opened #9329 "MDX linkings should not rely on the remark-slug plugin to generate slug for headers"
**Is your feature request related to a problem? Please describe.**
The current version of MDX linkings rely on the [remark-slug](https://github.com/remarkjs/remark-slug) plugin to generate the slugs for headers:

[code]

There is a few issues with this approach:

- The plugin doesn't handle MDX dynamic expression:

The following dynamic expression `## <Fragment children={props.title} />` result in

[2020-01-05 19:48] patricklafrance opened #9330 "Improvements to MDX linking for 6.0"
The basics of MDX linking have been released with 5.3.

It works "fine" but there are a few improvements that should land in 6.0:

- [x] Improve external links detection: https://github.com/storybookjs/storybook/issues/9302
- [x] Use SB select story API https://github.com/storybookjs/storybook/issues/9328
- [ ] Replace remark-slug plugin https://github.com/storybookjs/storybook/issues/9329

[2020-01-05 21:39] renanmav commented on #9300
It worked, thank you so much @pocka

[2020-01-05 21:39] #9300 closed

[2020-01-06 00:26] #8637 closed

[2020-01-06 00:26] #8840 closed

[2020-01-06 02:28] shilman commented on #6188
@hnryjms FYI the "manager" webpack config (that renders Storybook's UI) and "preview" config (that renders user's components) are completely separate, so you should be able to do whatever you want that's suitable to your codebase without having to worry about Storybook. 🤞

[2020-01-06 03:22] kevinkuebler commented on #9285
Hi @shilman, yeah I figured you guys might need to see an actual repro to be able to investigate this one. 😄  Fortunately, I was able to simplify our configuration down to an example with just one simple component, and the use of the "wrapper" story component as I described, which demonstrates the issue. Attached is a simple repro using 5.3-rc9 which should show the error.

Ultimately, I'll probab

[2020-01-06 05:42] Siskat opened #9332 "Stories not applying the ::ng-deep classes from component .scss files"
### Bug or support request summary

When writing stories of an Angular component and having `::ng-deep` classes in the .scss file with some `!important`, those styles are not loaded into storybook.

### Steps to reproduce

To reproduce:

1. Create an angular component that uses another component as a template.
2. Override the original classes with `::ng-deep` in the .scss file.
3. Write a story us

[2020-01-06 08:14] smollweide commented on #9301
Some UI inspiration :)

<img width="208" alt="2020-01-04_0920" src="https://user-images.githubusercontent.com/2912007/71804831-f005db80-3064-11ea-921a-ff81f45f2f71.png">

[2020-01-06 11:03] mrmckeb commented on #4764
@shilman @mikecousins This is hard to fix. Peer dependencies expect that you have listed the dependency, it doesn't recognise that the dependency is included as a _dependency of a dependency_ (if that makes sense). We could remove it, but that would cause chaos too...

We could remove it, make it an optional dependency instead - and then throw an error if it doesn't exist..?

[2020-01-06 11:04] mrmckeb commented on #4764
@techieshark, unfortunately this is hard to avoid... if you are using a CRA project with TypeScript, you would have to have this installed or things would break. We could force users to install `react-docgen-typescript-loader` if they use TS, but that will also cause confusion for some people.

There's no _easy_ solution, but I'm interested in hearing thoughts on these.

[2020-01-06 13:23] getignited commented on #9205
That seems a little excessive just to get Prop definitions working within Storybook - I was under the impression standard React could be used, rather than having to double up on type definitions for every Component.

@shilman has there been any update on this? I've updated to 5.3.0-rc.9 and I'm still facing the same issue.

[2020-01-06 13:46] kroeder commented on #9332
Hm I never had any issue using `::ng-deep` in storybook
Could you provide a minimal reproduction repo, please?

Side note, in case you don't know: `::ng-deep` applies a css rule globally and you can overwrite everything (e.g. ::ng-deep body is valid) while `:host ::ng-deep` means you overwrite everything in your specific component template.

Is it possible you use ::ng-deep in other places / other

[2020-01-06 14:00] igloude commented on #9186
Oh wow, `addon-docs` is exactly what I'm looking for. Thank you!

[2020-01-06 14:00] #9186 closed

[2020-01-06 14:20] shilman commented on #9205
@getignited Do you have a reproduction?

[2020-01-06 14:46] shilman commented on #8914
Hurrah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-rc.10 containing PR #9331 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-06 14:46] #8914 closed

[2020-01-06 14:52] danilovaz commented on #9316
@shilman I greatly appreciate your help. I had already followed the steps of the issue you commented on, even tried again now. But the same bug persists in this RC version, it is not possible to use only `stories.mdx` and another downside is that every Vue Component I need to register globally in `preview.js` otherwise it just does not work to import a Vue Component to my story.

I tried to follow

[2020-01-06 15:28] shilman commented on #9316
@danilovaz sorry about the hassle. Unfortunately, I'm still pretty ignorant on the vue side of things.. @Aaron-Pool any thoughts?

[2020-01-06 15:35] danilovaz commented on #9316
@shilman No need to apologize. I really appreciate the help. I will create a repository to explore the problem in isolation and share here with you.

[2020-01-06 15:53] dfagan2 commented on #6418
@leoyli - any rough ETA on Angular support for the `contexts` addon?

[2020-01-06 15:57] patricklafrance commented on #9328
Here's a few pointers to implement this:

The following code should be updated:

https://github.com/storybookjs/storybook/blob/next/addons/docs/src/blocks/mdx.tsx#L98

It currently append the Manager iframe hostname to the every local URL.

This component is rendered through <MDXProvider /> custom components feature..

Docs available here: https://mdxjs.com/advanced/components

The code providing

[2020-01-06 16:01] KevinTss commented on #7577
Spend hours on this issue, finally follow @tay1orjones solution and it works, just need to add theme using `@storybook/theming` for v5.2.x
Hope it will help others
Happy coding 👨‍💻

[2020-01-06 16:05] eric-burel commented on #155
Hi, this issue is still a problem in my app. The webpack config is rather complex and need ES6 (coming from electron-react-boilerplate). Having a separate config causes discrepancies between Storybook and the app. What could be a possible solution in current Storybook version?

[2020-01-06 16:05] getignited commented on #9205
@shilman I'll put something together for you.

[2020-01-06 17:14] dfagan2 commented on #9288
Running into the same thing

[2020-01-06 17:38] Aaron-Pool commented on #9316
@danilovaz if you could even simply fork the example repo you linked to, and get it to your "broken" state, that would be great to help us debug 👌

[2020-01-06 18:17] atanasster commented on #9328
@patricklafrance internal anchors might not work, for example the `#bottom` in the example :

[code]
Also its probably best to just keep the `kind` since the anchor is already located in the `docs` tab.

Here is what I tried let me know what you think:

[code]

[2020-01-06 18:19] gn-sky commented on #3593
Instead of ‘**style-loader**’, ‘css-loader’, ‘sass-loader’
I went with ‘**to-string-loader**’, ‘css-loader’, ‘sass-loader’
I used this article:
https://www.freecodecamp.org/news/how-to-configure-webpack-4-with-angular-7-a-complete-guide-9a23c879f471/

[2020-01-06 19:04] rexkenley opened #9335 "Unexpected Token (with JSX syntax)"
**Describe the bug**
SyntaxError: Unexpected token

**To Reproduce**
.jest\register-context.js
`import registerRequireContextHook from "babel-plugin-require-context-hook/register";
registerRequireContextHook();`

.storybook\addons.js
`import "@storybook/addon-actions/register";`

.storybook\config.js
`import { configure } from "@storybook/react";
import { configureActions } from "@storybook/addon-

[2020-01-06 19:22] number33 opened #9336 "SassError: file to import not found or unreadable - when using @import in scss file"
**Describe the bug**
My project is using react (not using create-react-app) with nextjs.

When I run story book I get an error on a line in my component scss file where I import a common scss file.

My banner component has a style.scss file in the same directory, and it gets imported like this: **import s from "./style.scss";**.  My style.scss contains **@import "variables";** where I have common

[2020-01-06 20:08] patricklafrance commented on #9328
That's a good point @atanasster I haven't though about the fact that local anchors might not work after switching to SB API.

From a usage standpoint, it seems very important to me. As a documentation writer, when I link to another page, my intent is almost always to link to a specific section of that page.

@shilman a few days ago on discord you were mentioning new API that we could add to naviga

[2020-01-06 20:17] atanasster commented on #9328
‘ /addons-docs-docs-only--page#bottom’

Yes, that works

[2020-01-06 20:55] dvnrsn commented on #9120
I am not using CRA. Curious what exactly you changed @ryanboswell. Was it something like:

[code]

[2020-01-06 21:38] atanasster commented on #9328
I checked in the changes, so we can get a conversation going.

Currently looks for href starting with `?path=/` but we could also consider
[code]

[2020-01-06 22:13] patricklafrance commented on #9328
That's a very good idea.

Using `story=` would also fix: https://github.com/storybookjs/storybook/issues/9302

I don't see any reason to support `?path=/`. I'm I missing something?

[2020-01-06 22:36] atanasster commented on #9328
Potentially just as a fallback if the storyId is not found in the storyStore. Not sure why :)

@shilman feedback?

[2020-01-06 22:49] patricklafrance commented on #9328
I am not sure the storyId will exist in the storyStore if it's a docs only page.

I add to take that into account in https://github.com/storybookjs/storybook/pull/9331

[2020-01-06 22:54] patricklafrance commented on #9328
It might be fine though since it's not the same scope? I am not very familiar with the `DocsContext` and the `storyStore`.

[2020-01-06 22:57] atanasster commented on #9328
Tried those two and both work (there is a story in the storyStore for the docs only agarics) :
[code]

[2020-01-06 22:58] atanasster commented on #9328
Lets wait for feedback, and I guess we can change it to `story=xxxx` ?

[2020-01-06 23:11] patricklafrance commented on #9328
Sounds good!

[2020-01-06 23:11] patricklafrance commented on #9328
Still need to figure out how to support local anchors though

[2020-01-06 23:24] hsablonniere commented on #8759
Anyone?

[2020-01-06 23:56] moimikey commented on #729
I hope for this to be solved by March 21st, 2020.

[2020-01-07 00:14] Siskat commented on #9332
[Here](https://github.com/Siskat/styleguide-minimal) is the minimal repo.

I am positive that they are not being overriden. If you take a look at the repo, and run the demo-page instead of storybook, the styles are applied correctly. Storybook is just not loading them.

[2020-01-07 00:49] duncanleung commented on #7540
In my project I was able to get Storybook to recognize css-prop (without using the jsx pragma) by adding this config to `/.storybook/webpack.config.js`.

[code]

I created a template to share my project config that uses Gatsby + TypeScript + Emotion + Storybook + React Intl + SVGR + Jest.

Here's a link to my [`webpack.config.js`]((https://github.com/duncanleung/gatsby-typescript-emotion-storybook

[2020-01-07 01:46] shilman commented on #729
@moimikey Any interest in taking this on? Best way to ensure it's done by a certain date ... 😉

[2020-01-07 01:57] shilman commented on #9328
Great progress guys. Some thoughts:

**Re: `story=`.** What's the rationale for inventing a new linking syntax when markdown already supports one? Just because `/?path=/` is ugly?

**Re: anchors.** The current anchor code triggers a CORS error in "standalone mode" because the preview iframe tries to refer to the parent iframe's URL, which is only valid if the two URLs are on the same host/port. So

[2020-01-07 02:00] shilman commented on #9336
Did you try https://www.npmjs.com/package/@storybook/preset-scss

[2020-01-07 02:02] shilman commented on #9335
Do you need https://babeljs.io/docs/en/babel-preset-react

[2020-01-07 02:44] patricklafrance commented on #9328
Thanks for your feedback @shilman

For `story=` well for me it's more about the fact that `story=` is more intuitive and easier to read than forcing the documentation writer to remember and hard code the querystring parameter `/?path=/`.

[2020-01-07 02:48] patricklafrance commented on #9328
Another proposition:

Instead of `/?path=/addons-docs-docs-only--page` it could be `/addons-docs-docs-only--page`.

That way it's still follow the classic URL syntax.

The code could:

- check if the URL is relative
- if it is, it parse the storyId out of the URL and check if it match a story in the store.
- if it does, on click it emit the SELECT_STORY (or whatever new event we come up with)

[2020-01-07 03:47] ibnYusrat opened #9339 "Writing addons for Storybook Angular"
Hi,

I was reading this document about writing Addons for storybook: https://storybook.js.org/docs/addons/writing-addons/

Is this guide actually valid for Storybook Angular also? I see mentioning of react pretty much everywhere in storybook. I have to write an addon for Storybook Angular but am completly clueless here.

[2020-01-07 05:36] duncanleung commented on #7325
In my project I was able to get Storybook to recognize css-prop (without using the jsx pragma) by adding this config to `/.storybook/webpack.config.js`.

Line 17 - Line 19:
[code]

Also, I am including the `@emotion/babel-preset-css-prop` for `.ts` and `.tsx` files

Line 41 - Line 43:
[code]

I created a template to share my project config that uses Gatsby + TypeScript + Emotion + Storybook + Reac

[2020-01-07 07:26] kroeder commented on #9319
The same happens in the reproduction repo of this issue https://github.com/storybookjs/storybook/issues/9332#issuecomment-571372680

Both projects are library only projects and have no app. I'll look into that

[2020-01-07 07:28] kroeder commented on #9332
Do you also have an error message when starting storybook? It seems to be related to the mentioned issue above

I'll look into

[2020-01-07 08:47] daKmoR commented on #9328
so imho this
[code]
is good enough for now...

Rationals against:
- `/addons-docs-docs-only--page` => needs a server that supports catch-all request (e.g. even though a subfolder is requested to send the request to an index.html or so) also what happens if it is an actual valid folder?
- `story=` => imho people wanna copy past... e.g. go to a page and then copy the url... at least that is what I a

[2020-01-07 09:01] pocka commented on #729
IMO we should add parameters or addon to handle this feature instead of adding special functionality just for stylesheets. It'll cause inconsistent behavior between stylesheets and scripts. But maybe it's a good time to consider how "isolation" should be?

I wrote a quick PoC for the addon approach, for who wonder it's possible.
https://github.com/pocka/storybook-addon-css

[2020-01-07 09:08] just-andy commented on #8951
We have a similar request for this feature and trying to look through the addon guides and existing docs block to see how this could be put into practice.

[2020-01-07 09:28] vertic4l commented on #2792
And how do you solve the wrong typings issue?

<img width="947" alt="Bildschirmfoto 2020-01-07 um 10 27 03" src="https://user-images.githubusercontent.com/1771763/71884346-73443180-3138-11ea-9238-31af45a1d819.png">

[2020-01-07 09:52] getignited commented on #9205
@shilman I've managed to reproduce that correctly here: https://github.com/getignited/storybook-docs-test

[2020-01-07 10:35] johot commented on #7829
Thank you @esakal you solution is the best (for me) so far. I used to set `transpileOnly: true` to fix the TypeScript issues but that ofc had the effect of allowing more TypeScript errors to go through unnoticed.

My current, pretty minimal configuration (`presets.js`) looks like this:

[code]

Thank you!

[2020-01-07 11:05] shilman commented on #9205
@getignited
- I added a debugging statement to `babel-plugin-react-docgen` and saw that it wasn't being run on your JS files due to your configuration
- I added `babel-plugin-react-docgen` to your list of babel plugins in `.storybook/webpack.config.js`
- I uncommented an error logging line in `babel-plugin-react-docgen` and am seeing this error: `Error: Configuration contains string/RegExp pattern

[2020-01-07 11:14] getignited commented on #9205
@shilman I'll take a look at that, thank you. When I was setting that reproduction up, it definitely worked for a bit, until some of the Babel stuff started coming into play. Just got to figure out which one is upsetting it, I suppose!

[2020-01-07 11:25] ivomynttinen commented on #9256
You can add custom CSS to the storybook wrapper by adding it to the **manager-head.html** file (instead of preview-head, which can contain css for the story iframes).

[2020-01-07 11:31] ivomynttinen opened #9341 "build-storybook ignores custom theme settings"
**Describe the bug**
I've set up a custom theme as described here https://storybook.js.org/docs/configurations/theming/#create-a-theme-quickstart which works well so far. However, when building a static version of storybook to host on guthub pages, the custom theme is entirely ignored. This is kinda critical in my opinion, since theming is especially important for public available storybooks.

**T

[2020-01-07 12:17] JonnyPS opened #9342 "Hot reloading not working after updating to @storybook/react 5.2.8 from 5.2.6"
**Bug**
After updating and saving a .stories.js file, I have to navigate to a different component and back again within the Storybook UI to see the changes take effect.

**Expected behavior**
I would expect the component to reload and update upon saving the .stories.js file

**Environment Info**
System:
    OS: macOS Sierra 10.12.6
    CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
  Binari

[2020-01-07 12:20] JonnyPS commented on #9342
This seems to have been fixed now, I don't know why, maybe it was just very laggy before.....
Please ignore this issue

[2020-01-07 12:20] #9342 closed

[2020-01-07 12:24] rexkenley commented on #9335
Thank you shilman, that solved it. But now I get a new error

![image](https://user-images.githubusercontent.com/10548251/71895342-ca3d0d00-311e-11ea-8e15-47355e146dba.png)

[2020-01-07 12:29] shilman commented on #9339
Most addons live entirely within the `manager`, which is the UI that wraps the user's components (which are rendered in the `preview` iframe). The manager is written in react, and the APIs are mostly framework-independent. The only angular-specific docs you need are if you want to modify the preview, and AFAIK those docs don't exist. However `addon-centered` and `addon-knobs` are example addons th

[2020-01-07 12:35] shilman commented on #729
@pocka You are AWESOME! 💯

[2020-01-07 12:40] shilman commented on #9341
Lots of static storybooks using theming. Can you share a repro?

[2020-01-07 13:00] ylacaute commented on #9256
Thank you, I still don't manage to include the CSS. For example:
[code]
In which directory should be test.css in order to have something working ? (I got a 404 on that file wherever I put it).

**More info:**
 - package.json: "start-storybook -s ./src/main/resources -p 6006 -c doc
 - ".storybook" rennamed to "doc"

[2020-01-07 13:13] ivomynttinen commented on #9256
There's probably a way to achieve that with an external file, but I wasn't able to get it working either. The only solution that worked for me was to include all styles directly within the manager-head.html as a style tag:

[code]

Also, you will probably need to work a lot with dirty `!important` overwrites, since all the styles in storybooks are inline styles.

[2020-01-07 13:27] ivomynttinen commented on #9341
You can pull my repo (I just remove basically all the components and stories since this shouldn't be public, but result is the same) here: https://github.com/ivomynttinen/storybook-example

### local version `yarn storybook`

This is how it should look like:

![image](https://user-images.githubusercontent.com/1096989/71898294-8af8d580-318b-11ea-9ad5-31f2618aa51f.png)

### Static version `yarn buil

[2020-01-07 13:34] ylacaute commented on #9256
Yes thank you, I was thinking about this as a workaround, but I must say it: inline styles are **EVIL** and we are assisting at the worst terrible trend over the last decade in the frontend development world. There are no valid argument, inline styles should be banned and the very last option.

That's said, I am exactly in the situation right now where inline styles can be acceptable since I have

[2020-01-07 13:54] macrozone commented on #7745
shoo stale bot

[2020-01-07 14:17] shilman commented on #9314
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-rc.11 containing PR #9321 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-07 14:23] rexkenley commented on #9335
@shilman Thanks for your help. I am closing this issue as resolved.

[2020-01-07 14:23] #9335 closed

[2020-01-07 14:34] atanasster opened #9343 "New config test for `register` add ons"
**Describe the bug**

using a `register` file in the add ons section generates a console error:
[code]

**To Reproduce**

[code]

[2020-01-07 14:44] moimikey commented on #729
yazzzzz. cheers @pocka

[2020-01-07 14:51] patricklafrance commented on #9328
This feature hasn't been released yet so I don't consider this to be a breaking change.

IMO, introducing `/?path=/` now and then changing to something else latter would be a broken change.

Anyway, it could be `/?path=/`. Seem weird though that we require the user to specify a queryString parameter that isn't even needed to select the story (I mean the SB event that is emitted to change the story

[2020-01-07 14:56] atanasster commented on #9328
I would support more the syntax:
[code]
since I agree with patrick's side that the `?path=` seems an unnecessary workaround that could be replaced at some point anyway.

final say @shilman ?

[2020-01-07 15:03] jorenbroekema opened #9344 "Override Preview code snippet"
Currently it frustrates me that when I write demos where the source code of my demo is not the same as what I want my users to copy, I need to omit the <Preview> and write the source code in a separate code block in the MDX, and this is always open and cannot be closed. This leads to bloat in my documentation.

I would like something where I can do:

[code]

But omit the <style> block from the cod

[2020-01-07 15:38] hasparus commented on #9314
Hey @shilman, it still fails for me with the same error. Isn't the order of collapsing wrong? In my case, the parent still has non-leaf children, because nobody collapsed them yet.

[2020-01-07 15:46] shilman commented on #9314
@hasparus can you share a repro repo?

[2020-01-07 15:49] shilman commented on #9344
Closing this as a dupe to https://github.com/storybookjs/storybook/issues/7479

[2020-01-07 15:49] #9344 closed

[2020-01-07 16:00] shilman commented on #9328
I'm with @daKmoR on this one. If we include the `/?path=` then it's valid markdown/MDX that can be cut & pasted. No need to reinvent something that already works.

I'd be open to reconsidering this if there were more good reasons to add it, but really not a fan of inventing new syntax when there's already a widely supported standard.

[2020-01-07 16:19] hasparus commented on #9314
some more info:

The parent is a component.  (`item.isComponent === true`)
![image](https://user-images.githubusercontent.com/15332326/71910143-afe04f00-3171-11ea-87c2-c48a58c29863.png)

---

I worked around it to get a satisfying result for my case

![image](https://user-images.githubusercontent.com/15332326/71910118-9c34e880-3171-11ea-9d8f-007c25dc7540.png)

![image](https://user-images.githubus

[2020-01-07 16:19] EdenTurgeman commented on #7743
@shilman  I'm a little confused on how this is a solution to a max memory issue with webpack, if i need docgen in my project and want to use this feature, am i somewhere down the line prone to getting a memory issue?
I'm currently experiencing the issue after migrating some stories to CSF and working them out with docgen.
Is there any resolution to that?

[2020-01-07 16:27] atanasster opened #9345 "CRA warning even if cra not installed"
**Describe the bug**
in official-storybook without cra:
[code]

[2020-01-07 16:30] Eplumecocq commented on #9260
+1 to replace the `position:fixed` on parent container by `position:relative`.

Is there any workaround ?

[2020-01-07 16:34] atanasster commented on #9328
@shilman - sounds good, the PR is already with `?path=`

[2020-01-07 16:47] ndelangen commented on #9192
I'll work on this tomorrow

[2020-01-07 16:49] aendrew commented on #729
Worth noting @pocka's solution doesn't work if you're using MDX stories because of mdx-js/mdx#894.

[2020-01-07 17:01] shilman commented on #9314
Thanks @hasparus! @ndelangen and I are going to pair on this tomorrow 💯

[2020-01-07 17:12] ylacaute commented on #9260
@Eplumecocq You Could forgot this plugin and build your own container (centered in flex in mine), it is much more poweful :)
Check this code: https://github.com/ylacaute/ez-Dashing/tree/master/ez-client/doc/containers

[2020-01-07 17:19] number33 commented on #9336
@shilman I tried that library and I'm getting the same error message as before when I run storybook.

[2020-01-07 17:39] shilman opened #9348 "Addon-docs: CORS issues on Standalone server"
When `manager`/`preview` run on different ports or domains, it triggers a CORS issue due to some hacked up preview code.

This commit patches over the issue: https://github.com/storybookjs/storybook/pull/9250/commits/c8faee0ac08f8e01acf330452fc115eaf1caf670

However, a superior fix would be to use the channel that we already have available to allow the `preview` to post an event to the `manager` t

[2020-01-07 20:36] danilovaz commented on #9316
@Aaron-Pool @shilman Really appreciate the attention and help. I found the problem with my project while trying to isolate an example. We have a `babel.config.js` and this config was overriding the workaround suggested. So I have to add `jsx: false` in my `babel.config.js` and in `webpack.config.js`

If you allow me a suggestion. Would it be possible in the future to use the Vue components in the

[2020-01-07 20:39] lordofthelake opened #9349 "Configuring Storybook dynamically"
**Is your feature request related to a problem? Please describe.**
As mentioned [on Twitter](https://twitter.com/vacooom/status/1214569358472699905) to @shilman, as part of the work that we're doing at [Compositive](https://compositive.design/), we're trying to integrate Storybook with our CLI toolbelt: the vision would be that it would be possible to spin (or build) an instance of Storybook progr

[2020-01-07 20:43] Aaron-Pool commented on #9316
@danilovaz that shouldn't be the case... You should be able to declare your components locally, just like you can in a Vue app. What kind of setup do you have that isn't working?

[2020-01-07 20:49] danilovaz commented on #9316
@Aaron-Pool If I don't register components in `preview.js` then I receive this error in console for each component when run Storybook:

[code]

My configurations in `.storybook`

main.js
[code]

manager.js
[code]

preview.js

[code]

[2020-01-07 21:24] Smolations commented on #8527
@donaldpipowitch Are you still planning to do this? It would be super awesome because my team would prefer writing stories with default syntax rather than using MDX files.  😁

[2020-01-07 21:34] atanasster commented on #9328
@shilman

The SELECT_STORY api is already in the manager, does the above note apply to the current issue for using the API?

[2020-01-07 21:35] atanasster commented on #9348
How can I reproduce this?

[2020-01-07 22:19] jcfranco opened #9350 "[addon-docs] Notes with multiple sections are not rendered"
**Describe the bug**

If a story using `addon-notes` [is configured with multiple sections](https://github.com/storybookjs/storybook/tree/master/addons/notes#multiple-notes-sections), the `Docs` tab does not display any content from notes.

**Expected behavior**

Each note section is rendered under the `Docs` tab.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Cod

[2020-01-08 00:43] artem7902 opened #9352 "Can't change knobs when material-ui dialog is open"
**Describe the bug**
Hello everyone. Just have a bug with knob addon. Fields lost focus immediately after click so that I can't change knobs. It happens only with material-ui Dialog.  Please look at the screenshot below. Thanks a lot for your help.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/26010756/71940926-c366d680-31c0-11ea-9053-5772b5b00f92.gif)

[2020-01-08 00:45] shilman commented on #9348
Repro: Run standalone mode with docs enabled

https://github.com/storybookjs/storybook/pull/7848

[2020-01-08 02:45] ranndev opened #9353 "Missing type definition for core/standalone"
@storybook/core/standalone.s is very useful package and it would be better if it has a type definitions.

[2020-01-08 03:32] pocka commented on #729
@aendrew
Thank you for pointing out that, I completely forgot about MDX :no_mouth:
I updated PoC and [added MDX examples](https://storybook-addon-css.netlify.com/?path=/docs/test--foo).

With the addon approach  (per story styles), in contrast to the file-scoping approach (per file styles), the Docs tab will get all stylesheets of every story. In [my example](https://storybook-addon-css.netlify.co

[2020-01-08 03:35] Aaron-Pool commented on #9316
Could you show me the actual story that is throwing the error?

[2020-01-08 04:23] #9262 closed

[2020-01-08 06:10] donaldpipowitch commented on #8527
Probably not within the next two weeks or so, but in general I'm still open for this. But if anyone else wants to tackle this first just go ahead 👍

[2020-01-08 06:11] donaldpipowitch commented on #8527
But shouldn't the workaround work for you as well?

[2020-01-08 07:07] ozanmanav commented on #6364
Is that working for everyone ? Not working my side :(

[2020-01-08 09:27] kevin940726 commented on #9327
First of all, I think in the first stage we can support for both `cra-template-storybook` and `cra-template-storybook-typescript`.

1. Naming
    Do we want to name it `cra-template-*` or `@storybook/cra-template-*`?

    IMO `cra-template-*` seems cleaner, since we can install the template just by `--template *` and not `--template @storybook/*`. For example, `--template storybook`, not `--templa

[2020-01-08 09:39] mrmckeb commented on #9327
But this is definitely a good idea - before we introduced it, I flagged this idea with @shilman and @ndelangen too.

My only question is, what does the template do?

What we want to discourage is a template for every tool in the ecosystem, and instead we want to encourage templates that are great starting points for new apps. So I'd ask that we try to ship something that's more than CRA with Story

[2020-01-08 09:42] #8494 closed

[2020-01-08 09:50] kevin940726 commented on #9327
@mrmckeb For point 1, I think that requiring users to type `--template @storybook/storybook` is a bit odd. If we want it to seems official, I'd suggest `--template @storybook` (to install `@storybook/cra-template`). However, it's not currently supported by CRA, now running `--template @storybook` would instead install `cra-template-@storybook`.

`@` is not a valid character in non-scoped package n

[2020-01-08 10:00] kevin940726 commented on #9327
IMHO an advantage for storybook is that it's purely a development tool, we don't have to touch any of the files in the default template. Instead we just have to add those deps and some files to `src`, and that's it. Perhaps we could automate this task with a script? So that we don't have to update our template every time CRA default template updates.

But yah it might seems like an overkill for cr

[2020-01-08 10:01] mrmckeb commented on #9327
I should double check, but I think you could just use `@storybook`. This PR added support for scoped templates, but I don't see a test for only providing a scope.
https://github.com/facebook/create-react-app/pull/7991

Otherwise, I'm OK with just `cra-template-storybook`, but the scope does make it more official.

[2020-01-08 10:02] mrmckeb commented on #9327
I'm not sure... We could use this to produce a best-practice template (the Storybook way)?

[2020-01-08 10:04] kevin940726 commented on #9327
I accidentally pressed comment, oops.

My recommendation would be to make this template more tightly coupled with CRA, like integrating it with `jest`, `testing-library/react`, etc. To make a difference from the `sb init`. Include more things that we cannot do with `sb init`. Maybe even a larger list of predefined addons?

[2020-01-08 10:06] kevin940726 commented on #9327
@mrmckeb I just run it, and here's the output.

[code]

Looks like it's trying to install `cra-template-@storybook`

[2020-01-08 10:25] devlato commented on #7987
Any updates on this?

[2020-01-08 10:49] ndelangen commented on #9192
PR is open!

[2020-01-08 11:48] subelta commented on #8821
Sorry for delayed response, and thanks, it does work with chained stories, but according to this: https://github.com/storybookjs/storybook/issues/6136 , I get the impression that it's supposed to work without chaining on 5.2.x and I'm on 5.2.8

<img width="257" alt="Screenshot 2020-01-08 at 14 33 41" src="https://user-images.githubusercontent.com/40162440/71975560-546f9900-3225-11ea-8140-ff658859e

[2020-01-08 13:35] shilman commented on #9350
@jcfranco I think you're confusing `addon-notes` and `addon-docs`

[2020-01-08 13:39] MatthisLT commented on #8885
I changed the title of the issue because it was misguiding, referencing "CSF with arbitrary MDX" recipe instead of "CSF with MDX Docs" one (as I have played with both).

In my current working case I ended up using arbitrary MDX as it was closer to the goal I wanted to achieve (having stories declared in CSF for development and MDX for custom documentation).

But the issue is still valid as is, in

[2020-01-08 13:56] JDansercoer opened #9357 "Include option in default webpack config breaks Lerna projects"
In the default Storybook webpack config, the `include` option for the `js` rule is set to the directory of the project.

We recently ran into some issues. In our stories, we were including a React component from one of our other packages in the repo. When trying to run Storybook, we would run into an `unexpected token` error, complaining about the `<` character in our React files.

After digging a

[2020-01-08 14:42] #8187 closed

[2020-01-08 15:03] JohnGrisham commented on #3389
@danieltott This is great but in my case I also received this console error when implementing.

Warning: Functions are not valid as a React child. This may happen if you return a Component instead of <Component /> from render. Or maybe you meant to call this function rather than return it.
        in ThemeProvider (created by Theme)
        in Theme (at config.js:39)

To fix this I had to call the

[2020-01-08 15:04] shilman commented on #9192
Gadzooks!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-rc.12 containing PR #9354 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-08 15:04] shilman commented on #9314
Gadzooks!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-rc.12 containing PR #9356 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-08 15:04] shilman commented on #9343
Hurrah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-rc.12 containing PR #9347 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-08 15:04] shilman commented on #9345
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-rc.12 containing PR #9346 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-08 15:04] #9345 closed

[2020-01-08 15:04] #9192 closed

[2020-01-08 15:04] #9314 closed

[2020-01-08 15:04] #9343 closed

[2020-01-08 15:11] divslinger opened #9358 "sb init creates a corrupted package.json"
**Describe the bug**
Setting up a new directory und running `sb init --type html` with version 5.3.0-rc.11.
My package.json now looks like this:

[code]

**To Reproduce**
[code]

**Expected behavior**
`scripts` field instead of  `type` and `data` in package.json

**System:**
[code]

**Additional context**
Corporate Environment with a proxy and lots of network drives

<details>
  <summary>Yarn log<

[2020-01-08 15:36] divslinger commented on #9358
I tested in on a second system that's not in a corporate environment and now even more is missing:

package.json
[code]

**System**

[code]
[code]

[2020-01-08 15:36] danilovaz commented on #9316
@Aaron-Pool Yes of course. This is one of the stories I have, I only removed private information but in general this is the structure:

**z-caption.stories.mdx**

[code]

[code]

\`\`\`js
import { ZCaption } from "XYZ";
\`\`\`

[code]

\`\`\`
export default {
  components: {
    ZCaption,
  },
}
\`\`\`

[code]

[2020-01-08 16:18] Type1J commented on #3329
I just started using StoryBook for a Webpack project, and I saw that it could detect Meteor projects when I set it up, but this thread sounds like there may still be some problems. Most of my other projects are Meteor based, so I'm hoping this issue to be resolved before I get back to them.

[2020-01-08 16:59] Aaron-Pool commented on #9316
@danilovaz Yeah, so the problem here is that the content of each `<Story>` tag in MDX is itself a component. So, if you want to use a component locally, rather than globally registered, you need to register it in the story component with `components: { ZCaption }` (assuming you have imported the component in the file.

Or have you already tried that?

[2020-01-08 17:11] raunofreiberg commented on #8336
This solved the problem for me: https://github.com/strothj/react-docgen-typescript-loader/issues/76#issuecomment-570368448 🎉

[2020-01-08 18:08] earlman commented on #9306
The problem is that it vue/gridsome is incompatible with core-js@3 (due to a change in folder names), but that's the version in the storybook dependencies.

To confirm this, you can check `node_modules/core-js/modules/` and note the file names in core-js@3 all start with "es".

If you remove @storybook/vue and install core-js@2, you can see that `node_modules/core-js/modules/` will have file names

[2020-01-08 18:40] Smolations commented on #8527
@donaldpipowitch It does, but I much prefer the comment solution. The workaround isn't great for large blocks of text, which I would define like so:
[code]

Unfortunately, using template literals results in the description being rendered as inline code, so it's all monospaced and whatnot. I have resort to using quotes, which I think we all know are lame to use for multiline blocks of text.  😋
<img

[2020-01-08 19:21] danilovaz commented on #9316
@Aaron-Pool You are absolutely right. In some of my tests I must have forgotten to set the Components property.

I really appreciate the support and patience from both of you.

[2020-01-08 21:41] ndelangen commented on #9290
I'd love to use pika/pack for compiling all storybook packages.

Pika has this figured out how to ship packages with multiple output types.

I've experimented with removing polyfills & core-js, but it's a lot of trial and error.
I haven't even attempted to compile packages with pika pack yet. https://github.com/storybookjs/storybook/pull/9231

I know @ghengeveld has some experience with pika and I

[2020-01-08 22:27] benmvp commented on #8104
I just ran into this same problem as well when using TypeScript. Turns out the problem was the TypeScript types. My guess is that whatever is loading/parsing the code isn't able to parse TypeScript (probably cuz it doesn't know it's TypeScript), and as a result ti fails. And then when it fails the "no code available" shows up.

[2020-01-08 23:45] likethemammal commented on #8129
This seems to break things for `addon-storyshots-puppeteer` as well, since it uses iframe.html to create snapshot images.

Since `addon-backgrounds` [sets the background-color to the `<iframe>` element](https://github.com/storybookjs/storybook/blob/next/addons/backgrounds/src/containers/BackgroundSelector.tsx#L130) directly, those styles dont get carried over inside iframe.html. This means all the

[2020-01-09 00:20] Siskat commented on #9332
Ah yes, I am getting the same warnings as the issue that you referred this from.

![image](https://user-images.githubusercontent.com/35063597/72027138-02388180-32d2-11ea-941e-c1790ed4fae4.png)

[2020-01-09 01:00] shilman commented on #8527
@Smolations you can use `dedent` or similar to fix that in the short term

[2020-01-09 01:45] benmvp commented on #8104
Ok, I traced it down to a bug in [`@storybook/source-loader`](https://www.npmjs.com/package/@storybook/source-loader). The parsed AST from JS slightly differs from that from TS and the code was only handling the JS version. Luckily @shilman has already [fixed the bug](https://github.com/storybookjs/storybook/pull/8499)! It's in a RC of `@storybook/source-loader` I believe, but `5.3.0` hasn't offic

[2020-01-09 02:09] ifndefdeadmau5 opened #9363 "preview-head.html not working with <noscript />"
**Describe the bug**
I was following this guide(https://storybook.js.org/docs/configurations/add-custom-head-tags/)
and when I did, storybook UI were not loaded without any explicit errors

**To Reproduce**
Add 'preview-head.html' under `.storybook` with below code
[code]
**Expected behavior**
Storybook UI should inject custom tag and working properly

**Screenshots**
![image](https://user-images.

[2020-01-09 02:17] emileber commented on #9243
@Manish-Giri While you're at it, it would be great if the CLI failed gracefully when there is no `package.json` at all. While really uncommon, right now, if crashes with the following error.

I think it comes from the following [lines](https://github.com/storybookjs/storybook/blob/c437db4f021b2c818c43eb35f55912be388b7636/lib/cli/generators/REACT/index.js#L25-L27):

[code]

[2020-01-09 08:48] ivomynttinen commented on #9341
Solved the issue, just fyi if anyone has the same problem as me, this is what I did:

Before I had an external theme file, as described in the storybook documentation. I moved the content of the theme file directly into the main .config file like this:

[code]

This way the theme is included correctly when creating a static version.

[2020-01-09 08:48] #9341 closed

[2020-01-09 09:39] ndelangen commented on #729
@pocka I think that approach might work out well with https://github.com/storybookjs/storybook/tree/next/addons/cssresources WDYT?

[2020-01-09 09:52] kriskate commented on #192
while that is technically true, you will need to add ```showAddownPanel: true``` option for all the stories that actually need the addons panel, as setting it to ```false``` in any story will hide it for all the stories

[2020-01-09 10:16] jorenbroekema commented on #9005
Any idea if this will get fixed for 5.3.0? Can I help somehow? If so, please point me in the direction if you guys know where the source of the issue may be. Is it in MDX to JS or in addon-docs?

It's quite important for our documentation to be able to link to external pages..

[2020-01-09 10:18] rwam commented on #6204
I found a more robust solution to get Storybook working in a Nuxt project. The solution depends on a version mismatch of core-js. Nuxt uses per default version 2 and Storybook version 3. So to solve the issue I have to follow this note from [@nuxt/babel-preset-app](https://github.com/nuxt/nuxt.js/blob/4ca253e0b82980daa6912070ec54127d12acd169/packages/babel-preset-app/README.md):

I get a working e

[2020-01-09 10:46] ndelangen commented on #9226
I'm having trouble reproducing this.

[2020-01-09 10:47] ndelangen commented on #9226
@daneah can you reproduce this on https://storybookjs-next.now.sh/html-kitchen-sink ?

[2020-01-09 11:12] jorenbroekema opened #9366 "CSF referenced in MDX does not work the expected way in Docs mode"
**Describe the bug**

When viewing a CSF that is imported in MDX by the use of `<Story id="yourID" />`, a strange Docs view is shown when clicking on the CSF story in the Storybook UI.

**To Reproduce**
Steps to reproduce the behavior:

1) Create an .mdx (using @open-wc/demoing-storybook + es-dev-server but this is essentially just re-exports made to work without a build/compile step, don't worry

[2020-01-09 13:02] #9241 closed

[2020-01-09 13:22] tolerance-go commented on #8055
same problem, and I use `storiesOf` method, still is not ok

[2020-01-09 13:46] shilman commented on #9005
@jorenbroekema I'm working on some linking related stuff now and will fold this in (if it's not already fixed -- it might be). Thanks for the nudge!

[2020-01-09 13:47] ndelangen commented on #8062
@brianzinn is correct.

[2020-01-09 13:47] #8062 closed

[2020-01-09 13:48] Vazerthon commented on #270
Thanks @madhudskumar! Installing `react-scripts` worked for me in a Gatsby project

[2020-01-09 13:56] #9316 closed

[2020-01-09 15:54] daneah commented on #8342
This is still valuable to fix.

[2020-01-09 15:58] ian-callaghan commented on #9084
Was this ever resolved? I have the same issue.

[2020-01-09 16:17] michaelcamper commented on #9319
Same issue here.

Minimal reproduction:
`ng new demo --create-application false --minimal true`
`cd demo`
`npx -p @storybook/cli sb init --type angular`
`npm run storybook`

[code]

[2020-01-09 17:05] joelstransky commented on #8342
@daneah This might be better as a new ticket.

[2020-01-09 17:06] liamross commented on #8342
Yeah this is still broken on version `5.3.0-rc.12`, even after adding `groupId`. I have a button component with some simple props and this is what I get in the docs "Show code" expandable:

[code]

For reference, here's my `Button.stories.tsx` file:

[code]

[2020-01-09 18:08] dmartinjs commented on #8544
I have also this issue, can you reopen ?

[2020-01-09 18:27] dmartinjs commented on #4600
@sem4phor can you share you configuration ?

I'm getting errors about lit-html on a fresh storybook install for web-components

[code]

[2020-01-09 20:02] gmlnchv commented on #4600
@dmartinjs you do need to install 'lit-html' yourself it's being used to render components in the default examples.

[2020-01-09 20:50] monospaced commented on #8342
Can also confirm what @liamross is saying. My approach has been to write new stories, without `knobs`, that specfically target the zero-config `docs` pages code previews. And a `knobs` story to be access by developers, in canvas tab, that I exclude from the `docs`:

[code]

This works pretty well, but would not be necessary if the code previews only showed the default values specifed by the knobs

[2020-01-09 21:40] nazarTrynko commented on #7577
I had to delete whole `"@emotion/core@^10.0.9": ...` entry from `yarn.lock` and re-run `yarn`

[2020-01-09 21:59] LarsDenBakker commented on #9290
@ndelangen Pika is pretty interesting, but I agree it's quite a big change to do.

My proposal can be achieved quite simply with a few additions to the babel config, I will come up with a concrete proposal then we can continue the discussion from there.

[2020-01-09 22:21] liamross opened #9376 "v5.3.0-rc.12: Running build-storybook does not include scss files"
**Describe the bug**
When attempting to run `build-storybook`, it builds successfully, but it does not include any of the `scss` style files, despite using the `@storybook/preset-scss`. I have also tried custom webpack setup for scss compiling, but that was also unsuccessful. The site is built, it just has absolutely no style.

It is also a TypeScript environment and has no problem with the TypeSc

[2020-01-09 23:21] liamross commented on #9376
@shilman I managed to fix this, but only by making `main.js`  and `preview.js` into TypeScript files. I don't know why that worked, I just decided to try it. Not sure if that gives any hints towards what the issue might be. I've been looking through the source code a bit but I'm not super familiar with the code base so haven't had much success.

[2020-01-09 23:24] shilman commented on #9175
@tleite This doesn't work?

[code]

[2020-01-09 23:37] shilman commented on #8055
@tolerance-go do you have a repro?

[2020-01-09 23:41] shilman commented on #9366
Please see

https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/recipes.md#csf-stories-with-mdx-docs

OR

https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/recipes.md#csf-stories-with-arbitrary-mdx

[2020-01-09 23:44] shilman commented on #192
@kriskate if that's the case,  you should be able to set it globally to true, since parameters cascade. (haven't tested for this specific case, but am certain cascading works)

[2020-01-09 23:49] shilman commented on #9376
@liamross That's pretty bizarre -- thanks for letting me know. Labeling as "has workaround" and let's see what other folks say.

[2020-01-10 03:38] pocka commented on #729
@ndelangen
Ah, that's right!

[code]

One concern: if a user imports very large stylesheets, the "CSS Resources" tab will be messy.

[2020-01-10 03:58] tolerance-go commented on #8055
after the overall upgrade of the storybook package, my problem was solved

[2020-01-10 04:09] tolerance-go commented on #8055
https://github.com/tolerance-go/markv/blob/d53c41486275730118731e932a456dad6abd73aa/src/components/MarkdownEditor/stories/index.stories.js#L15

same issue，I upgraded to CSF ​​story export

[2020-01-10 05:15] #8882 closed

[2020-01-10 05:15] #8601 closed

[2020-01-10 05:51] techieshark commented on #8115
Hi @patricklafrance I've just now tried with rc7, as well as rc12 and neither results in any the issue as described above remains in both cases (no improvement).

[2020-01-10 06:25] shilman commented on #8055
@tolerance-go Source-loader doesn't support fully dynamic titles. Please use a static variable or a template literal.

[code]

[2020-01-10 07:41] kfayelun commented on #9084
No, not as far as I know. Very keen on this!

[2020-01-10 08:17] v-parkhomenko opened #9378 "addon-action"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to
    <Button
      onPress={action('onPress')}
      label={text('label', 'buttonText')}
      disabled={boolean('disabled', false)}
      loading={boolean('loading?', false)}
      variant="primary"
    />
2. Click on the Button

screenshot
![Screenshot_1578644004](https://user-images.githubusercontent.com/45386134/72136729-1e035c80-3392-1

[2020-01-10 09:57] ian-callaghan commented on #9084
That is a shame I will post my workaround that I am currently using until this is fixed.

Button.stories.tsx

`
import mdx from "./Button.mdx"

export default {
    component: Button,
    title: "Core|Button",
    parameters: {
        docs: {
            page: mdx,
        },
    },
}
`

[2020-01-10 10:06] ian-callaghan commented on #9084
That is a shame I will post my workaround that I am currently using until this is fixed.

This uses a regular CSF stories file that works fine with storyshots. Then we can use an MDX file (not .stories. format) to add additional markdown for the docs page.

This gives us the best of both and could even be argued it looks a little cleaner in terms of content in the individual files.

Button.stories

[2020-01-10 10:17] kfayelun commented on #9084
Thanks for sharing @ian-callaghan. Does this mean that you get 2 stories for the button component in your Storybook or do you hide the 1 of them? If so, how?

[2020-01-10 10:23] ian-callaghan commented on #9084
As long as we do not use the .stories for the MDX filename (Button.mdx _not_ Button.stories.mdx) then you will not get duplicates.

I did originally try doing the opposite way, importing the CSF into the MDX but that causes duplication if done in a way that keeps storyshots.

[2020-01-10 11:06] kriskate commented on #192
thanks @shilman , just tried doing so and it works. I've set ```showAddonPanel: true``` as global in ```config.js```, and in the story I don't want it to be shown, as ```false```.

The only inconvenience right now is that in order for this to work, you have to write your stories the old fashioned, non-exports way:
[code]

[2020-01-10 11:49] JonnyPS opened #9379 "Unable to hide addon per story"
**Describe the bug**
I have multiple stories per component.
In the manager preview panel I display each story individually, and then display them all together in another story.

I want to hide the addon Knobs in the story where the components are displayed all together.
Essentially, I want to hide the Knobs addon per story.
When I try to set parameters on a per story level, it does not work.

**To

[2020-01-10 12:18] jorenbroekema commented on #9366
Ahhh that makes sense, so not a bug then, thanks for pointing me to those docs, currently we have to use external CSF imported inside the MDX because dynamic imports don't work in MDX (MDX-to-JS issue).

I don't have the time to try this, I'm off on vacation for the next week so feel free to close it, I trust both of those documented ways will resolve my issue ;).

[2020-01-10 12:21] JonnyPS commented on #9379
Ok, I have now worked this out..... i needed to use:

'disabled: true'
not...
 'disable: true'

:(

[2020-01-10 12:21] #9379 closed

[2020-01-10 12:38] johnjesse commented on #8663
Sorry, Christmas/Work got in the way

Here's a basic repro -
https://github.com/johnjesse/StorybookTemplate

It's basic repro. I made it in typescript by default, but there's not ts config for storybook

Run:
`yarn`,
`tsc`,
`yarn start-storybook --docs`

It looks like it's the `mobx-react-lite` wrapper that's causing the issue... but I think I've seen it without that, so I'll try and make an even

[2020-01-10 12:55] johnjesse commented on #8663
It looks like there is a simple work-around. If instead of doing

`export default observer(Component)`

you do

[code]
which isn't great, but seems to work

I think the problem is somehow it's not recognising it's an actual component being exported

[2020-01-10 13:01] kenborge opened #9380 "Angular DI broken with storybook and Angular 8+ projects"
**Describe the bug**
Components with dependency injection doesn't work in Storybook with new Angular 8+ projects.
They fail with `Can't resolve all parameters for XXX: (?).`

I think i tracked this problem down to a change in the CLI that was introduced with Angular 8.
https://github.com/angular/angular-cli/pull/14473
Angular CLI has moved away from using emitDecoratorMetadata: true and instead ha

[2020-01-10 14:01] teunw commented on #311
lolmaus's solution also works for @storybook/angular

[2020-01-10 16:24] NateRadebaugh opened #9382 "build-storybook should build stories with "Static Site Generation" (SSG) for improved perf/SEO"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I navigate to a page and see the page skeleton while the stories are fetched instead of just showing the full menu/first page immediately. There's already a build step, so this seems possible.

**Describe the solution you'd like**
I'd like to see a solution where static pages are generated from stories wi

[2020-01-10 16:26] shilman commented on #9366
The CSF/MDX story is still a little wonky. Feel free to re-open later if you want to continue the discussion. In the meantime, have a great vacation!

[2020-01-10 17:50] urbgimtam commented on #4038
This is great! Should be done as example on the docs! Thanks.

[2020-01-10 19:00] jeffcstock commented on #8336
Still having issues, the above solution @raunofreiberg suggested isn't working even with destructuring `forwardRef`.

https://github.com/strothj/react-docgen-typescript-loader/issues/76#issuecomment-573163382

[2020-01-10 19:02] mtsmachado8 commented on #9183
Hello guys, any thoughts about it?

[2020-01-10 19:37] Smolations commented on #8527
@shilman The main problem is that the description is rendered as a code block. If rendered as plain text the indentation issue becomes moot. And speaking of indentation issues, since all of my stories all defined as `export function StoryName() { return (...jsx...); }`, all of my "Show Code" blocks are missing a single indentation for all of the content in the function definition:
[code]

Just wan

[2020-01-10 20:16] snyderhaus commented on #6505
I've still got issues with my system as well. No resolve since April of last year just suggestions? And none of those suggestions seem to be working..

[2020-01-10 20:47] liamross commented on #8389
WORKAROUND: I have a workaround that I implemented to prevent this, it's a script inside of `.storybook/manager-head.html`.

[code]

Basically it just divides 1 by the current zoom of the body (the `style.zoom` property of body is what is changing when you zoom in and out) in order to "counter out" the zoom. It works pretty well for me.

[2020-01-10 21:52] baker-travis commented on #9299
I took a stab at fixing this one in the PR above. Just added a line of css to allow overflow on the container.

[2020-01-10 21:58] Smolations opened #9384 "Problems specifying "react-docgen" plugin in custom .babelrc"
**Describe the bug**
This _may_ not be a bug, but I am under the impression that custom `.babelrc` should be able to merge cleanly with the file from which it extends and should function exactly the same as if the new properties/values were simply added to the base config file. This does not seem to be the case.

To be clear, the new docs addon works pretty well out of the box along with a custom

[2020-01-10 22:04] preventdefault commented on #9264
Hi,
i run into the same issue. As far as i can say, by using the getCustomBrowser function, the current instance of the browser will not be closed after all tests are ran.
I have modified your example as follows:
[code]
I have a similar solution that works for me.

Regards

[2020-01-11 00:05] shilman commented on #8527
@Smolations  AFAIK the descriptions are rendered as markdown.

There's already an issue for code formatting. If you up vote it that's the least duplicative way of letting us know you think it's important. If it really bothers you, PR's are always welcome in storybook

[2020-01-11 00:14] ndelangen commented on #9290
@LarsDenBakker that'd be super interesting to see what you could do to help us in this direction.

I'm meeting with the author of Pika next monday btw. Any custom work and config we do to make this happen would be around for a while, the babel config is already quite complex as it is, and already not quite the way it should be IMHO.

[2020-01-11 01:28] aaronjensen commented on #8343
This was fixed.

[2020-01-11 01:40] ndelangen commented on #8209
This is so weird, the cli package depends on core-js itself.. why wouldn't it be available?
https://github.com/storybookjs/storybook/blob/next/lib/cli/package.json#L44

[2020-01-11 02:27] shilman commented on #9328
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-rc.13 containing PR #9381 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-11 02:27] shilman commented on #9358
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.0-rc.13 containing PR #9359 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-11 02:27] #9328 closed

[2020-01-11 02:27] #9358 closed

[2020-01-11 02:41] atanasster commented on #9348
should be fixed in rc13

[2020-01-11 02:41] #9348 closed

[2020-01-11 04:20] ryanboswell commented on #9120
@dvnrsn Yeah, that was the trick. For us, we have a bunch of different environment specific config in `.babelrc`, so it took some trial an error to get it into the right one for Storybook (and avoid having it in `prod` config).

If anyone else has the same question, it's the `development` config env as far as babel is concerned when you're running from `npm run storybook`.

[2020-01-11 06:15] shilman commented on #9183
We'd be happy to support anybody who wanted to take this on (@erickzanardo?) and would be happy promote the work to the Storybook community. Our theme for 2020 is building up the ecosystem, and this would fit into that nicely.

[2020-01-11 09:18] kroeder commented on #9319
@cmurczek I just created a PR that should fix this

Angular does not seem to handle undefined angular.json properties such as `styles`, `scripts` or `outputPath`

I added default values for them in https://github.com/storybookjs/storybook/pull/9390/files#diff-85c97608923e0cbbc684961efd172cacR111

You can try this in your angular.json
[code]

[2020-01-11 09:21] kroeder commented on #9332
I fixed the angular cli error in https://github.com/storybookjs/storybook/pull/9390) but it does not fix the issue with `::ng-deep`

Removing `::ng-deep` applies those styles but it doesn't make sense to me 🤔
I need to do some more research

[2020-01-11 09:38] michaelcamper commented on #9319
@kroeder Fixed it for me, good job!

[2020-01-11 11:00] #8658 closed

[2020-01-11 13:40] jeffryang24 opened #9391 "StoryBook CLI init fails on v5.3.0"
**Describe the bug**

StoryBook CLI init (`npx -p @storybook/cli sb init --type react_scripts`) did not execute successfully.

**To Reproduce**

Steps to reproduce the behavior:

1. Initialize a directory with `create-react-app`.
2. Initialize storybook to above directory with `npx -p @storybook/cli sb init --type react_scripts`.
3. See error

**Expected behavior**

StoryBook should be successfull

[2020-01-11 13:40] jeffryang24 commented on #9391
Probably because of `remark-mdx`.

[2020-01-11 14:06] shilman commented on #9391
@jeffryang24 Not able to reproduce. Can you check your network connection, clear your cache, and try again?

[2020-01-11 14:10] jeffryang24 commented on #9391
Ok, will try to clear cache and use another network connection. :bowing_man:

[2020-01-11 14:14] jeffryang24 commented on #9391
Yes, seems like my home connection is weird today. Just tested with my office VPN and it worked perfectly. Sorry for bothering the weekend. :bowing_man: Case closes... hahaha...

[2020-01-11 14:15] #9391 closed

[2020-01-11 14:20] daKmoR opened #9392 "Question: Looking for nice storySort function"
does anyone have a nice storySort function?
e.g. I would like to give orderings for each "level"

I have the following stories according to file system input
[code]

What I would  like to have is
[code]

e.g. I would like to be in control for the first and second level
a possible configuration could look like so

[code]

PS: posted as an issue here as I don't know a better place to discuss possibl

[2020-01-11 15:40] daKmoR commented on #9392
I found https://gist.github.com/JohnAlbin/83ef5282d07c6aa447ff39719429843e and adapted it to my use-case 💪

thx @JohnAlbin 🤗

[code]

[2020-01-11 15:40] #9392 closed

[2020-01-11 15:46] jonasantonelli opened #9393 "DocsPage Reference link is broken in NPM Readme"
**Describe the bug**
It's not possible to go to DocsPage reference using the link in NPM readme

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.npmjs.com/package/@storybook/addon-docs#docspage
2. Click on _DocsPage reference_ link
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screensho

[2020-01-11 16:21] #8375 closed

[2020-01-11 19:04] shilman commented on #9393
This is annoying. For now you'll need to click over to the GitHub readme where the link works fine

[2020-01-11 19:04] #9393 closed

[2020-01-11 19:05] cmurczek commented on #9319
@kroeder setting these in angular.json does resolve the warning when building storybook. It however also breaks ´ng build´, since none of them are supported by the _ng-packagr_-builder. I'm just mentioning that because I saw in the PR that on line 112 you're using the outputPath property of project.architect.build.projectoptions. This key will however never exist, since angular libs are built usin

[2020-01-12 03:10] shilman commented on #9392
@daKmoR FYI @JohnAlbin also put together this great PR to make it easier

https://github.com/storybookjs/storybook/pull/9188

[2020-01-12 08:36] daKmoR commented on #9392
@shilman
unfortunately, the solution in the PR does not work for my use-case as we want to have the same rules/structure for each 2nd, 3rd level - e.g. it would mean repeating (all nesting rules) ourselves for each 1st level... 🙈

also we want to define certain things first, last and decide if in between is alphabetically or source order...

doing that with a custom storySort works quite nice now

[2020-01-12 08:37] papeloto opened #9394 "Boolean default value not showing up in Addon-docs prop table"
**Describe the bug**
When using `addon:docs` prop table for React tsx components the boolean default values don't show up in the table.

**To Reproduce**
1. Follow this [guide](https://gist.github.com/shilman/bc9cbedb2a7efb5ec6710337cbd20c0c)
2. Add some boolean prop like this:

[code]
3. Run `yarn storybook` and see the result.

![72208407-20e97480-349a-11ea-9255-647840810252](https://user-images

[2020-01-12 08:45] #8654 closed

[2020-01-12 09:21] papeloto opened #9395 "Optional values get appended undefined in Addon-docs prop table when using typescript"
**Describe the bug**
When using `addon:docs` prop table for React tsx components optional props marked with `?` in typescript get appended `undefined` in the table.

**To Reproduce**
1. Follow this [guide](https://gist.github.com/shilman/bc9cbedb2a7efb5ec6710337cbd20c0c)
2. Run `yarn storybook` and see the result.

![image](https://user-images.githubusercontent.com/36263538/72216705-2049f000-3525-

[2020-01-12 09:56] arabold commented on #9376
I have a similar (?) issue that I could pin down to the use of `@storybook/preset-create-react-app`. It seems that if I use the preset, any customization in my custom webpack config (setting `config.module.rules`) is ignored and my css isn't imported in the `preview.css`.

The following _works_. If I uncomment the `"@storybook/preset-create-react-app"` preset, the styles are broken and my loaders

[2020-01-12 11:57] liorgreenb opened #9396 "New custom webpack customization hook doesn't act the same as old version"
**Describe the bug**
I tried to migrate my storybook to work with the new `main.js` configuration, part of it was moving the `webpack.config.js` be the `webpack` property in the `main.js` file.

Overall, i tried to change the configuration with `.svg` files, which storybook uses `file-loader` and I want to use `@svgr/webpack` or `svg-inline-loader`.

Previously, i changed the loader rule as mentio

[2020-01-12 13:08] mrmckeb commented on #9395
Hi @papeloto, I feel this is probably expected behaviour.

Optional means it can be undefined - I don't think Docs has any other way to show optional. Is that correct @shilman?

[2020-01-12 13:11] mrmckeb commented on #9394
@shilman I've looked over this and it appears to be an issue with Docs itself.

The default here is 'false' or 'true'. When testing, all default values come through unless Boolean. My guess is that we need to stringify the values, at least when boolean.

@papeloto are you interested in having a go at this? If not, let me know and I can take a look and make the fix :)

[2020-01-12 14:31] Kamahl19 opened #9397 "SB 5.3 + Declarative config + CRA + TS not working"
**Describe the bug**
When I migrate from `config.tsx` & `addons.ts` to `main.js` & `preview.tsx` I get this error
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/Kamahl19/react-starter
2. Migrate `config.tsx` & `addons.ts` to
`main.js`
[code]
`preview.tsx`
[code]
3. run `yarn add -D @storybook/preset-create-react-app`
4. run `yarn storybook`
5. get the error i

[2020-01-12 14:32] Kamahl19 commented on #9397
Also do you plan to support `main.ts` for TS projects? Both `config` and `addons` were working in TS as well

[2020-01-12 14:41] shilman commented on #9397
@Kamahl19 Yeah we hope to support `main.ts` in a future version.

Thanks for the bug -- I think I see the issue! Fix coming up.

[2020-01-12 15:03] shilman commented on #9395
Required props have a red star next to them. Optional props don't. In that sense the `| undefined` is redundant. However, I'm not sure it's a bad thing? I welcome a hard argument one way or the other :) cc @patricklafrance

[2020-01-12 15:04] EdenTurgeman commented on #7743
@shilman I still don't understand if this bug is just a fact of life right now if you want to work with docgen? This makes doc-gen unworkable for us, would love to clear this because I'm probably missing something ☹️

[2020-01-12 15:10] Kamahl19 commented on #9397
@shilman Fix is working although I am getting another error. Storybook builds but displays this

![image](https://user-images.githubusercontent.com/1591293/72220912-1096cf80-3556-11ea-85a2-c14258d48be8.png)

[2020-01-12 15:16] shilman commented on #7743
@EdenTurgeman Ok a few different things going on here:

I want to move as much as possible out of the core. You can see this with `@storybook/preset-create-react-app`. There are architectural/maintenance benefits to this. The user benefit is that these presets are actually user-configurable. So, for example, if you wanted to configure react-docgen to only run on a subset of your files, that would

[2020-01-12 15:19] shilman commented on #9397
@Kamahl19 Thanks for debugging this with us. Will be releasing the 5.3 fix as soon as CI passes. As for preset-cra, can you try upgrading to 1.5.1 that I just released? Doesn't address this issue, but it contains a few fixes and couldn't hurt to try. @mrmckeb is also online and can hopefully take a look & we can release 1.5.2 if needed. 🚀

[2020-01-12 15:20] Kamahl19 commented on #9397
@shilman Happy to help if I can. Yep i just upgraded to 1.5.1 and the issue persists.

[2020-01-12 15:23] mrmckeb commented on #9397
Looking now, will see what I can find.

[2020-01-12 15:25] EdenTurgeman commented on #7743
@shilman Absolutely! I understand your need to support as many as possible and doing that through configuration options seems to be the right way to do it.
So what you're basically saying is that our storybook and it's stories are somehow interacting in a bad way with webpack and the docgen plugin(it's `terser` dependency to be exact)?
I just don't fully understand if you narrowed it down to a ter

[2020-01-12 15:26] Kamahl19 commented on #9397
@mrmckeb @shilman Sorry for false alarm. It was a bug on my side! So far everything works fine, will keep testing the 5.3 with CRA and TS and let you know if I find any issue.

Looking forward to `main.ts` (let me know if I can help with that).

We can close this issue.

[2020-01-12 15:34] mrmckeb commented on #9397
Hi @Kamahl19, I was about to say the same thing - this was because Logo was not initialised. The error is correct :)

Can I also recommend that you move this package to use our new templates (I'm also on the CRA team).

This way, you don't need to update it to the latest version all the time.

[2020-01-12 15:45] mrmckeb commented on #9395
Yes, it's definitely _correct_ that it can be undefined...

[2020-01-12 15:54] shilman commented on #9397
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.1 containing PR #9398 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-12 15:54] #9397 closed

[2020-01-12 16:05] shilman commented on #7743
Here's my crude understanding:
- Webpack chains together a sequence of loaders. Each loader is a string-to-string transformation that reads in a file and outputs an updated file.
- The babel docgen plugin adds some docgen annotations to each source file, making each file a bit larger (maybe a lot larger in some cases? I'm not sure!)
- Then later, the terser plugin comes along and reads the file an

[2020-01-12 16:07] shilman commented on #9376
@arabold Thanks! I released `@storybook/preset-create-react-app@1.5.1` containing a related fix by @mrmckeb -- can you give that a try?

[2020-01-12 16:26] papeloto commented on #9395
I think is both correct and redundant. Maybe more redundant than correct since when you add more props you get something like this.

![image](https://user-images.githubusercontent.com/36263538/72222003-24dfca00-3560-11ea-83fe-b270fcb41b8b.png)

Besides looking buggy is pretty useless because you don't need to know that `undefined` is an option since you will never pass it to a prop. I mean, you wi

[2020-01-12 16:41] arabold commented on #9376
Tried 5.3.1 and related updates and indeed **everything works as expected** again. Thank you!
[code]

[2020-01-12 17:02] arabold commented on #9376
Unfortunately I had to update my comment above. While CSS import works as expected now, the WebPack customization seems to be ignored.

[2020-01-12 17:22] daneah commented on #9226
@ndelangen the link above doesn't seem to work for me. I'll see if I can make a minimal reproduction of the problem.

[2020-01-12 17:45] #8518 closed

[2020-01-12 17:46] shilman commented on #9376
@arabold  glad it's working again! AFAIK webpack customization is not possible in CRA

[2020-01-12 21:56] luenmuvel commented on #8023
Hello, how do can I make the same? Where I need to go? Please help me :(

[2020-01-12 22:16] ghost opened #9399 "On addon-docs DocsPage, PropType.shape renders as unknown"
I have a component with the following proptypes:

[code]

But on the DocsPage I am getting `unknown[]` instead of the `shape` definition inside the array:

<img width="1027" alt="Screen Shot 2020-01-12 at 19 09 20" src="https://user-images.githubusercontent.com/47044668/72226429-e0f4c100-356f-11ea-8e30-c0cadf62adff.png">

[2020-01-12 22:23] gpulido commented on #8023
@luenmuvel you need to add the @Tallyb solution on the storybook/webpack.config.js

[2020-01-12 22:23] bikeshaman opened #9400 "SB 5.3.1 + declarative config + vue-cli-plugin-storybook + TS not working"
**Describe the bug**
Similar steps to migrate as #9397, from `config.ts` & `addons.ts` to `main.js` I get this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/bikeshaman/vue-cli-starter (scaffolded with `vue create` and Storybook installed with `vue add storybook`, then adjusted to use CSF like the production component library I work with)
2. Migrate `

[2020-01-13 00:04] #9217 closed

[2020-01-13 02:11] pribilinskiy commented on #9400
Confirming, same issue
[code]

[2020-01-13 05:17] xiaoxiangmoe commented on #9024
0

[2020-01-13 05:45] pksunkara commented on #9400
Fixed by v1.1.0 of vue-cli-plugin-storybook.

[2020-01-13 05:45] #9400 closed

[2020-01-13 06:05] viggyfresh commented on #9396
Experienced a similar issue...when looking at what Storybook logs upon startup, it seems like the `webpack` configuration inside `main.js` isn't respected? Storybook still logs "using default Webpack config" instead of "full-control mode"

[2020-01-13 06:41] shilman commented on #9226
@daneah @ndelangen needs an extra slash at the end: https://storybookjs-next.now.sh/html-kitchen-sink/

[2020-01-13 07:13] michaelrobertson-fico-com commented on #9202
Don't understand the message that this is inactive, both of these issues need to be resolved by the team.

[2020-01-13 07:52] mrmckeb commented on #9376
@arabold @shilman the preset clears out any customisations that are set _before_ it is loaded, but you _should_ be able to make changes after. It's not something we officially support, but it should work.

If you think this is not working correctly, please raise an issue on the preset (https://github.com/storybookjs/presets/issues/new) with a reproduction and I'll take a look! :)

[2020-01-13 07:58] mrmckeb commented on #9395
@papeloto that's not strictly true. Users may opt to do something like this:

[code]

But I also agree that we could get rid of undefined. Again, we'd definitely welcome a PR here if you're interested? If not, I can take a look this week. I'm not sure if this work would be better as a part of Docs or the docgen loader (@shilman - what do you think)?

[2020-01-13 08:00] apust opened #9401 "Props table shadow missing in Safari"
**Describe the bug**
Props table rendered from `<Props />` does not have a shadow in Safari. It has a shadow in Chrome.

**To Reproduce**
1. Create a storybook with addon-docs.
2. Create a sample component with props.
3. Add `<Props of={SampleComponent} />` to your MDX docs file.
4. Open page with props in Chrome and Safari. Compare them visually.

**Expected behavior**
Props table should look the

[2020-01-13 08:23] NikolayVolkovR commented on #9264
@preventdefault That works, thank you!

[2020-01-13 08:23] #9264 closed

[2020-01-13 08:24] NikolayVolkovR commented on #9263
Solved in v5.3.1

[2020-01-13 08:24] papeloto commented on #9395
Oops, I didn't consider that case.
First, I will try to solve #9394, so if you can take a look at this :smile:

[2020-01-13 08:30] mrmckeb commented on #9395
NP, I'll talk to @shilman about it.

[2020-01-13 10:05] Hemant27031999 commented on #8892
Yes, the error still exist. If I try to use the Link component outside a Router, it throws the following error.
![Screenshot from 2020-01-13 15-33-37](https://user-images.githubusercontent.com/43013193/72247136-443b2d80-361a-11ea-8b1d-0554e28b182d.png)

[2020-01-13 10:18] p3k opened #9403 "Document how to add support for a new framework"
I know RactiveJS is not the most popular framework out there but at least ancestor of Svelte (both written by Rich Harris) and thus, comes with some similarities. And last but not least: I am using it.

So question is: (how) could it be supported by Storybook?

I would be able to assist bringing this feature to reality but first I’d need some pointers how such support needs to be implemented in St

[2020-01-13 10:35] NikolayVolkovR commented on #9263
Changed to:
[code]
Accroding to (#[9246](https://github.com/storybookjs/storybook/pull/9246))

Updated to 5.3.1

Still the same issue.

[2020-01-13 10:41] Hramkanvas opened #9404 "Addon-docs: Chapter component"
Hi, I'd like to have some component like `<Chapter/>` so I can put it above some section name in my .mdx file so I can see it in the sidebar on the left and navigate on it.

For example:

_myComponent.stories.mdx:_

[code]

So in the sidebar:
- Usage
- Imports
- Default
- Special

Now, instead of it, I'm using `<Story name="Usage" height="0px"/>`

[2020-01-13 10:46] johnhunter opened #9405 "v5.3.1 knobs: runtime exception on null value in select array"
**Describe the bug**
Updating `addon-knobs` to 5.3.1 throws a TypeError when a select knob array argument contains a null.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a story as per the snippet below
2. `npm run storybook`
3. Navigate to the "null" story
4. See exception thrown in console `Uncaught TypeError: Cannot read property 'label' of null`

**Expected behavior**
Story shoul

[2020-01-13 11:20] NikolayVolkovR commented on #9263
The problem was NOT in addon-docs, but in "webpack-react-docgen-typescript" loader.

[2020-01-13 11:20] #9263 closed

[2020-01-13 12:10] ndelangen commented on #9396
@liorgreenb please change the `webpack` property to `webpackFinal` can you report if it works correctly then?

[2020-01-13 12:59] oneshubh commented on #6188
This is how i resolved it.
`

    module.exports = async ({ config, mode }) => {
    const rules = config.module.rules;
    const fileLoaderRule = rules.find(rule => rule.test.test('.js'));
    fileLoaderRule.use[0].options.plugins.push([

        require.resolve('babel-plugin-named-asset-import'),
        {
            loaderMap: {
                svg: {
                    ReactComponent:

[2020-01-13 13:05] jcousins-ynap opened #9407 "Addon Docs @typescript-eslint definition error"
**Describe the bug**
When running storybook the following error occurs:
[code]
Although it occurs on first build, there is no issue in ignoring the error.

However, on a rebuild after saving a file the error stops storybook from rendering. This overlay is only removed when storybook is restarted.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple react-app
`npm init react-app te

[2020-01-13 13:54] michaelcamper commented on #9380
Same issue here.

A temporary work around would be to explicitly inject dependencies:
[code]

[2020-01-13 14:02] #9376 closed

[2020-01-13 14:27] shilman commented on #9202
@michaelrobertson-fico-com The message is pretty self-explanatory. If you want to take a cut at this, PRs are very welcome!

[2020-01-13 14:28] patricklafrance commented on #9395
I agree that "undefined" is redundant. I planned to remove it, some of the code is already in SB https://github.com/storybookjs/storybook/blob/next/addons/docs/src/lib/docgen/typeScript/createType.ts

Haven't had the time yet to plug in in the transformation pipeline.

[2020-01-13 14:32] shilman commented on #9395
Cool let's plan to just deal with it in the `react-docgen@5` upgrade then. 🙏

[2020-01-13 14:33] daneah commented on #9226
D'oh, thanks.

[2020-01-13 14:34] shilman commented on #9395
@patricklafrance check your discord messages 😘

[2020-01-13 15:12] NathanVG opened #9411 "Add-on docs in vue 'h is not defined'"
**Describe the bug**
We are trying to implement storybook in our Vue.js application. Normal stories work fine, but when trying to implement docs in storybook 5.3.1, mdx stories give the following error:

[code]
![image](https://user-images.githubusercontent.com/3620183/72265459-d6dccc00-361c-11ea-864d-96288283313e.png)

I found this [closed issue](https://github.com/storybookjs/storybook/issues/67

[2020-01-13 15:16] shilman commented on #9411
Closing as duplicate to #8096

[2020-01-13 15:33] roman-balzer commented on #9162
Using `path.resolve` works for me

[code]

[2020-01-13 15:52] shilman commented on #9407
Ta-da!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.2 containing PR #9410 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-13 15:52] #9407 closed

[2020-01-13 15:57] shilman commented on #9162
cc @mrmckeb

[2020-01-13 16:06] JonnyPS opened #9412 "Stories are not appearing in the manager preview pane"
**Describe the bug**
Since updating to 5.3.1, stories are not appearing in the manager preview panel on the left.
I believe this is to do with how they are being exported, although the same method works in 5.2.8.

**To Reproduce**
Create file named button.js and add:

[code]
Create file named button.stories.js and add:

[code]

**Expected behavior**
I expect this to produce five previews in the ma

[2020-01-13 16:11] shilman commented on #9412
Can you try removing node_modules and reinstalling?

[2020-01-13 16:32] mrmckeb commented on #9162
@SaadRegal, this is not officially supported by CRA, and we do a best-effort to support customisations like the one you're using.

The `scriptsPackageName` is for forks of `react-scripts`. Unfortunately, `react-app-rewired` is not compatible with this approach.

Are you able to supply a reproducible demo for me to take a look at?

Also, have you tried adding a `.babelrc` to your Storybook director

[2020-01-13 16:35] mrmckeb commented on #9162
Also, as we don't support `react-app-rewired` or `customize-cra` (and others) directly, files like `config-overrides.js` won't work.

If you need something more than Babel plugins (again, `.babelrc` should work fine), you can intercept the Webpack config yourself. You can find out more about this feature here:
https://storybook.js.org/docs/configurations/custom-webpack-config/

[2020-01-13 16:46] shilman commented on #9162
@mrmckeb That doesn't answer the question about what might have broken:

<img width="691" alt="_support_-_Discord" src="https://user-images.githubusercontent.com/488689/72274478-3c55aa80-3667-11ea-92eb-204b90941a5a.png">

I think getting a CRA fork working and the mobx/decorator thing are actually two separate issues.

[2020-01-13 16:48] kylesuss commented on #7987
@devlato A PR went up (https://github.com/storybookjs/presets/pull/66), though we hit a bit of a roadblock as there doesn't seem to be a good/safe way to override the webpack loader regex coming from Storybook without making too many assumptions.

[2020-01-13 18:08] lifeiscontent opened #9413 "5.2 -> 5.3 dynamic story creation"
**Describe the bug**
Previously I was dynamically adding stories, in CSF this I don't think is longer possible but I also noticed that knobs stopped working if I nested them.

**To Reproduce**
Steps to reproduce the behavior:
1. add knobs to a component
2. create a storyFn which uses that component
3. see knobs break due to nesting usage

**Expected behavior**
Have knobs work when nested in a comp

[2020-01-13 18:32] lifeiscontent commented on #9413
for anyone running into the same issues, this is how I solved it:

[code]

there's a bit of duplication, but I think its a decent implementation :)

[2020-01-13 18:32] #9413 closed

[2020-01-13 20:03] aareman opened #9414 "CSS breaks syntax highlighting in Storybook docs"
**Describe the bug**
The CSS from the Gentellela (a bootstrap admin template) overides the .tags and pre/code css selectors which breaks the syntax highlighting in storybook docs.

gentellela include in `preview-head.html`

[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/10500823/72287490-261efe80-3615-11ea-969

[2020-01-13 20:06] jeffcstock opened #9415 "Prop table broken in 5.3.2 with propTypes"
**Describe the bug**
On upgrading to 5.3.2, any props defined with `propTypes` are not building the prop table

**To Reproduce**
Declare propTypes for a component. Open storybook and see that it hasn't generated a prop table.

**Expected behavior**
Expected to see prop information

**Screenshots**

**Before**

![image](https://user-images.githubusercontent.com/13420097/72287805-95d4bf80-35fc-11ea-

[2020-01-13 20:11] aareman commented on #9414
perhaps https://github.com/storybookjs/storybook/blob/next/lib/components/src/syntaxhighlighter/syntaxhighlighter.tsx#L137

changing that to true would fix it?

[2020-01-13 20:39] #9405 closed

[2020-01-13 20:52] shilman commented on #9415
The props table in 5.2 had two different code paths. One that used `babel-plugin-react-docgen` to generate prop table data, and a fallback case that just looked at the runtime propTypes annotating a component.

The updated code in 5.3 does not have the fallback path. Since you're not seeing the props at all, I'm guessing that you've overriden your babel settings and `babel-plugin-react-docgen` is

[2020-01-13 21:17] domyen commented on #8926
Thanks for reporting this @kfayelun! Would be open to a PR that implements your suggestion 🙏

[2020-01-13 21:25] domyen commented on #8951
This seems possible via MDX (5.3) if you code up your own tab component. iirc I saw an implementation for this somewhere.

[2020-01-13 21:30] thedamon opened #9418 "Allow customization of storyshots.disable parameter name"
The (undocumented?) ability to set `parameters: {storyshots: {disabled: true}}` on a story is  useful, but can be restrictive if doing storyshots testing alongside screenshot testing, a11y testing etc.

Currently excluding stories from storyshots applies to all storyshots and storyshots-puppeteer tests and it runs at the same time as storyKind [as the initial list of stories is collected](https://

[2020-01-13 22:37] ndelangen commented on #8209
So https://github.com/ariporad/pirates uses babel preset env for node 6, but doesn't which injects core-js dependencies into their dist, but they dont directly depend on core-js..

I'm not sure how to fix this on our end.

We use core-js v3. They seem to implicitly depend on core-js v2, which causes the error

[2020-01-13 23:02] danilovaz commented on #9415
I have same problem here, after upgrade to `5.3.0`.

I'll try look at babel settings

[2020-01-13 23:04] danilovaz commented on #9411
@NathanVG take a look at: https://github.com/storybookjs/storybook/issues/9316 maybe can help you.

[2020-01-13 23:04] shilman commented on #9415
@patricklafrance I think technically this was a breaking change and we should consider adding back the fallback code for 5.3, and then removing it in 6.0. WDYT?

[2020-01-13 23:24] elevatebart opened #9419 "Weird re-routing when fixing a bug"
**Describe the bug**
When working on a story and making a mistake, I stay on the story and see the error.
When fixing the error, I get redirected to another page.

**To Reproduce**
Use the repo linked
Open storybook: `yarn storybook`
Open MoreMenu.tsx
Make the component fail somehow
Fix your mistake,
You get redirected to a page

**Screenshots**
![InvalidRouting](https://user-images.githubusercont

[2020-01-13 23:24] #9411 closed

[2020-01-13 23:29] elevatebart opened #9420 "UI: Navigation sections disappear after 5.3 upgrade"
**Describe the bug**
Upgrading to 5.3 from 5.2.3 made the groupped components of the side menu disapear

**To Reproduce**
Open the repo
Run `yarn storybook`

**Expected behavior**
In a minor version we should not see a feature broken without backwards compatibility features

**Code snippets**
[code]
should keep on yielding `MyComp` folder on the left

**System:**
Environment Info:

  System:
    O

[2020-01-13 23:54] BPScott commented on #9349
Over at Shopify we follow a similarish approach where most of our CLI tools (builds, running tests, linting etc) are centralised into a single entrypoint "sk" (e.g. `sk build` runs a build using webpack under the hood, `sk test` runs jest under the hood, etc).

We're interested in adding storybook to that swiss army knife, and would also appreciate this feature too.

[2020-01-13 23:56] jonniebigodes opened #9421 "Issue with writing addon with Svelte and Storybook"
**Describe the bug**

While updating the Svelte documentation for the LearnStorybook tutorial, to match the recent changes introduced in Storybook 5.3 all was going well up until the [Creating addons](https://www.learnstorybook.com/intro-to-storybook/svelte/en/creating-addons/) section.
After following the steps provided by the tutorial and installing necessary packages, running `npm run storybook

[2020-01-13 23:59] jeffcstock commented on #9415
Thanks for the helpful explanation @shilman, it explained why it was working before and I realized that we actually hadn't previously added that as a dependency as it had worked without it.

@danilovaz I fixed by adding `babel-plugin-react-docgen` as a dev dependency, and then adding `react-docgen` to plugins for the `babel-loader` in my webpack config (as our project doesn't use a .babelrc).

[2020-01-14 00:06] patricklafrance commented on #9415
Its'a an option @shilman , I dont like it though.

It shouldn't have ever work without the proper babel plugin setup and it's an easy fix.

If we had back the fallback, I fear we might end up with weird issues that might take a lot of our time to figure what's happening.

[2020-01-14 00:34] alexpriceco commented on #7577
@shilman, is there a fix for this issue? I'm trying to get 5.3 set up, and keep running into this when I open my docs page, even from a fresh install of Storybook + addons. 🙁

[2020-01-14 00:54] dfagan2 commented on #8023
@Tallyb and @sod 's solutions didn't work for me either. Getting the same `includePaths` error

[2020-01-14 01:14] dfagan2 commented on #8023
Spoke too soon. Wasn't the above solutions for me, but an upgrade to the new `5.3.2` via that `npx npm-check-updates '/storybook/' -u && npm install` script, then dumping `package-lock.json` and `node_modules` and re-running `npm install`. Up and running now!

[2020-01-14 03:49] dfagan2 opened #9422 "DocsPage customization error in Angular"
I'm trying to reproduce the DocsPage customization you guys pulled off in the `config.js` below, but for Angular:
https://github.com/storybookjs/storybook/pull/7680/files#diff-e1df968bb7311b09ca002ef2869df4ee

...but I'm getting:
[code]

A straight up `docs: DocsPage` works fine, but when I try to override it like shown in your code, it explodes. Is this possible with Angular?

At the end of the d

[2020-01-14 03:58] zhigang1992 opened #9423 "eslint failure on 5.3.1"
**Describe the bug**
![](https://user-images.githubusercontent.com/1057756/72264612-eb1bcb80-3612-11ea-8057-e3e4d40760f1.png)

**To Reproduce**

[code]

**System:**

https://github.com/zhigang1992/bug-free-fiesta
https://loom.com/share/2dbe62f73c9c470e83f732a8c9aa381c

[2020-01-14 03:58] zhigang1992 commented on #9423
https://gist.github.com/shilman/bc9cbedb2a7efb5ec6710337cbd20c0c#gistcomment-3136341

@shilman there you go. :)

[2020-01-14 07:59] shilman commented on #9415
@patricklafrance Ok better error message is an improvement. I just think going from something that kind of works to something that doesn't work at all would be a terrific disappointment for users, and we've seen that happen again and again since that change...

[2020-01-14 08:23] davidwuerfel opened #9428 "Addon-docs: Permalinking to MDX docs pages"
Currently in V 5.3 the `<Meta />` docs-block has a `title` property from which the docs-page URL is generated, e.g. the title "DesignSystem / Component / MyButton" creates a route like ` http://...path/=/docs/designsystem-components-mybutton--page`. If we change the title of the docs page, then the link is broken. It would be better if the Meta-Tag could receive an `id` which enables you to permal

[2020-01-14 08:28] #9319 closed

[2020-01-14 08:43] bencergazda commented on #8569
This has been fixed in 5.3.0, as how @luke-j reported. Closing this issue.

[2020-01-14 08:43] #8569 closed

[2020-01-14 08:57] johnhunter commented on #9405
Thanks guys!

[2020-01-14 09:11] kroeder commented on #9319
@cmurczek thanks for mentioning this.

The mentioned properties are set within storybook für a function we call in `@angular-devkit` so it is not needed to add these to your own angular.json nor should it break `ng build` because `ng build` won't trigger any storybook webpack implementations

Let me know if I miss something!
#9390 got merged and should be released soon - let me know if this causes