[2022-08-23 08:29] cwe-spb commented on #17326
hame some problem with:
`Vite-builder \ Interaction tests \ Vitest`

When i do `import { anything } from 'vitest' ` in storybook i see:
`Cannot read properties of undefined (reading 'includes')`

i tried resolve alias and import like `@storybook/jest`. same result

[2022-08-23 09:12] AndyOGo commented on #14118
Unfortunately that is still broken for my case.
The correct types show up in docs addon, but each control only shows "Set Object" control, instead of the proper control for the relating type.

[2022-08-23 10:30] shilman commented on #14118
@AndyOGo Got a reproduction you can share?

[2022-08-23 11:33] jmmccota commented on #18971
With less stories works good, weird :(

[2022-08-23 11:35] zhyd1997 commented on #18971
try **binary search** 👀 ?

[2022-08-23 12:05] TomJPrice commented on #15336
It goes into `.storybook/main.js` but as mentioned by @ugnelis, you will lose some Storybook functionality. Adding webpack as a peer dependency as somebody mentioned above fixed this error for me.

[2022-08-23 12:07] Kurtmcmurt commented on #4312
I know this is a bit of a "golden oldie" but I've been trying to adapt the govuk component library into Vue 3, largely successful but a bit of a pain in the rear. Nevertheless, managed to get all styles and scripts in for the components which is great. BUT...

I needed the Story to do a hard refresh on load. Whilst this is usually a great thing (for optimisation and such) it isn't when you need to

[2022-08-23 12:22] ferdicus commented on #18538
Hi there 👋🏿

I was running into something as well when trying to use react-leaflet with storybook.

Problem also being, that storybooks pipeline is different than the one I use under production.

I was getting

[code]

There are actually quite some issues open within the react-leaflet repo concerning this issue specifically.

Problem being the highlighted token `??` in the error message above and

[2022-08-23 12:23] yukiohori commented on #14667
[code]

something like this works to me

[2022-08-23 13:38] hrldcpr commented on #18571
Ah yeah good point, I think `yarn` fixes it because it ignores `package-lock.json`

Similarly, `rm package-lock.json && npm install --legacy-peer-deps` also fixes it.

Unfortunately, neither of these are easy options for the larger project where we're experiencing the error, so if anyone can find a less invasive fix/workaround, that would be awesome.

[2022-08-23 14:19] IanVS commented on #17326
@cwe-spb can you describe what your tests and stories look like, and how you are attempting to mix storybook and vitest?

[2022-08-23 14:47] blowsie commented on #10846
Is there a solution for Vue + MDX?

[2022-08-23 14:59] kaungsithar commented on #18879
Copied from docs.
https://storybook.js.org/docs/react/get-started/install

[2022-08-23 15:05] leilahbirchall commented on #18879
Sorry I forgot to mention that this project is using the Gatsby framework, it is not an empty project.

[2022-08-23 15:47] hrldcpr commented on #18571
That `overrides` trick is very helpful, thanks!

And it leads me to think that the issue is that both webpack 4 and 5 are in the project, for some reason… the relevant lines in `package-lock.json` seem to be:
[code]

I know very little about package-lock.json so I don't know how those got in there, but if there's some clever npm command to update them to webpack 5.52 then it could maybe be a clean

[2022-08-23 16:24] MarkLyck commented on #11554
I'm still running into this issue over 2 years later 😞

I wanted to add a `withSuspense` decorator so any storybook components I have that relies on `Suspense` would be able to render.

But getting the same error:

[code]

[The workaround](https://github.com/storybookjs/storybook/issues/11554#issuecomment-893438099) works for individual components. However it would be better if there was a "global

[2022-08-23 19:21] Pickra commented on #17884
@IanVS
`npx http-server storybook-static` worked like a charm, THANK YOU!

Any chance of adding this to the docs?

[2022-08-23 19:23] misterlocations commented on #6505
For me, either using `yarn` OR moving `react-scripts` back to regular dependencies solves the issue. Though, I don't totally understand why the default location of `react-scripts` is dependencies by default in CRA.

[2022-08-24 01:33] asigitjulianto commented on #15336
# The solution is simply to add the following to .storybook\main.js
reactDocgen: false

# Example
[code]

[2022-08-24 01:34] ChocolateLoverRaj commented on #18929
It also happens when webpack is not even involved! I am using Vite builder.

[2022-08-24 04:01] shilman commented on #10403
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.24 containing PR #10638 that references this issue. Upgrade today to the `@future` NPM tag to try it out!

[code]

[2022-08-24 04:01] shilman commented on #18629
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.24 containing PR #18725 that references this issue. Upgrade today to the `@future` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-08-24 04:01] shilman commented on #18732
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.24 containing PR #18912 that references this issue. Upgrade today to the `@future` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-08-24 04:01] #18629 closed

[2022-08-24 09:57] LucaColonnello commented on #18971
I was able to narrow it down to watchpack watching directories. As soon as I disable the watcher (manually commenting it out), everything works just as fine.

[2022-08-24 10:21] jmmccota commented on #18971
Hi @LucaColonnello  is it storybook watcher? how did you do that?

Obter o Outlook para Android<https://aka.ms/ghei36>
________________________________
From: Luca Colonnello ***@***.***>
Sent: Wednesday, August 24, 2022 6:57:26 AM
To: storybookjs/storybook ***@***.***>
Cc: João Marcos ***@***.***>; Mention ***@***.***>
Subject: Re: [storybookjs/storybook] Possible memory leak after upgrade to Stor

[2022-08-24 10:40] tigrr commented on #18779
One small improvement on the workaround I offered above for those who are looking for a solution now.

Given you have a story `MyComponent` with `args` property on it, add:

[code]

This will whitelist and show only the controls defined in `MyComponent.args`.

[2022-08-24 11:46] sun0day commented on #18991
https://storybook.js.org/docs/react/writing-stories/args#setting-args-through-the-url

[2022-08-24 17:16] dannyhw opened #19005 "Builder webpack 5 left.isCompileTimeValue is not a function"
**Describe the bug**

This relates to an [issue](https://github.com/storybookjs/addon-react-native-web/issues/29) raised on the react-native-web addon. When building with the webpack5 builder the `left.isCompileTimeValue is not a function` error appears

I'm not that familiar with how the webpack builder works but I wasn't able to find a good reason why the react-native-web addon would cause this

[2022-08-24 17:22] EliezerB123 commented on #15732
As @Marklb said, for me it was **absolutely** a circular dependency for me... but Angular doesn't seem to mind that I had one. More specifically:

[code]
***cannot*** be in `module.ts`, because you'll end up
a. importing `component.ts` into the module (For @NgModule declaring the component),
b. importing `module.ts` into the component (Because you need the InjectionToken)

Apparently **Storybook**

[2022-08-24 20:41] franktopel commented on #9328
Any news on this?

[2022-08-24 20:56] rtturner commented on #18416
Also running into this - coming from v6.4.19 to 6.5.x

I've found removing `@babel/plugin-transform-modules-commonjs` allows my stories to load but I'm not able to remove this  as a permanent solution. Also on babel 7 and webpack 5

[2022-08-24 23:31] 50bbx commented on #10403
@ndelangen The link in the docs does not work because they changed the code structure in the `next` branch (Because of the 7.x release, I believe).

 Here's what I think is the 7.x template link: https://github.com/storybookjs/storybook/blob/next/code/lib/core-common/templates/preview.ejs

If you are still on 6.x and you need to get a different template in order to change it, here it is: https://g

[2022-08-24 23:57] Kwooda opened #19008 "Upgrade addon-docs from 6.5.9 to 6.5.10 breaks build"
We use StencilJS to create Web Components and use Storybook to showcase them. After upgrading storybook to 6.5.10, our build fails. I have narrowed it down to something in the addon-docs module, as I individually upgraded all other @storybook modules one by one until the build failed.

[2022-08-25 00:27] rodrigovive commented on #12019
I have a similar issue, I was able to fix it with

`config.module.rules.push({
      test: /\.(js|jsx|ts|tsx)$/,
      use: {
        loader: 'babel-loader',
        options: {
          // Disable reading babel configuration
          babelrc: false,
          configFile: false,
          presets: [
            '@babel/preset-env',
            '@babel/preset-react',
            '@babel/preset-flo

[2022-08-25 00:29] melanieseltzer commented on #18921
Thanks @wooorm, make sense 👍

In my case, it was because I have my IDE set to run Prettier on save, and text was getting forced onto a new line due to props bloating the line length.

Getting around it in my stories with curly braces:

[code]

[2022-08-25 02:04] zhyd1997 commented on #11554
Submitted a PR here: https://github.com/storybookjs/storybook/pull/19004

[2022-08-25 04:33] demian-licht-hs commented on #17952
Has there been any progress in fixing this? I ran into a similar situation: needed to change my jsxRuntime for storybook to run; but that broke storyshots.

[2022-08-25 08:19] tmeasday commented on #18877
@stevensacks That comment in the MIGRATION is purely referrring to the `addDecorator` option that used to exist for the `actions` addon (you'd set it in `main.js` I believe`): https://github.com/storybookjs/storybook/pull/17755/files#diff-ee93d78468925fce77dd4fdbc569b373527961d478b712d27c074195dde99c4f

`addDecorator` in `preview.js` is still supported in 6.5, although it will be removed in 7.0.

[2022-08-25 08:21] archfisv commented on #18745
Solution: remove node_modules and yarn.lock, run `yarn cache clean` install it all again

[2022-08-25 10:09] Ch-sriram commented on #9598
Also make sure that no self-closing component is left unclosed

[code]

[code]

[2022-08-25 13:04] ronaldohoch commented on #10549
Hello!

I just have created a project with
`ng new project-name`
`cd project-name`
`npx sb init` <- Throwing me the error message:
![image](https://user-images.githubusercontent.com/2287371/186668477-c222af43-9ace-4df3-a196-1fbbfd734dc0.png)

But, angular have deprecated the defaultProject from angular.json:
![image](https://user-images.githubusercontent.com/2287371/186668381-cc5e8a65-2b1e-4c0b-be

[2022-08-25 13:30] ankurdeal opened #19013 "Can storybook+angular be deployed in aws serverless lambda"
**Is your feature request related to a problem? Please describe**
Is there any documentation on deploying storybook from angular app to aws serverless.

**Describe the solution you'd like**
I tried finding solution but all solutions are about deploying angular app using angular universal and nothing i found about deploying storybook related.

**Additional context**
Any help or pointing in any dire

[2022-08-25 14:14] vate opened #19014 "Support for Vue 2.7"
**Is your feature request related to a problem? Please describe**
While upgrading my project from Vue 2.6 to the recent vue 2.7 I found that the component compilation is not done correctly in storybook because the supported version is Vue 2.6.12

https://github.com/storybookjs/storybook/blob/3b441bf002b8c8e427310a55e66fbaa3beeee557/code/renderers/vue/package.json#L67

Vue 2.7 introduces some impor

[2022-08-25 14:33] zohar1000 commented on #15998
I have the same issue, I searched but could not found how to solve it.
I don't use defaultValue in my code but I can see that is automatically been added to the properties in documantation.json.

[2022-08-25 14:51] zhyd1997 commented on #18957
@jonniebigodes

A PR is here: #18998

[2022-08-25 15:03] LucaColonnello commented on #18971
Hey @jmmccota !
So basically I opened the `watchpack` package in my `node_modules` and commented the file and directory watchers instantiations. The code depends on what version of webpack you're using. As you're on v5, this might be a bit different for you though, but that's what I did...

[2022-08-25 16:11] IanVS opened #19015 "[7.0] Vite storybook crashes when first opened"
**Describe the bug**

When first opening storybook, an error is shown:

[code]

Refreshing the page will work fine.  It seems to only happen if there's no `?path=` in the url.

**To Reproduce**
This can be seen in the `react-vite/default-js` sandbox, or after creating a fresh vite storybook project.

**System**
[code]

[2022-08-25 16:46] adamsir opened #19017 "Issues with name length of react-docgen-typescript-plugin canary package"
**Describe the bug**
The package react-docgen-typescript-plugin in canary version https://github.com/storybookjs/storybook/blob/03b6c009026b7f04991854391141886708fef457/code/presets/react-webpack/package.json#L81

causes a problem with too long package name during install `ENAMETOOLONG: name too long`

**To Reproduce**
https://github.com/hipstersmoothie/react-docgen-typescript-plugin/issues/65

**

[2022-08-25 18:21] MarkPolivchuk commented on #17958
I'm encountering this after doing an `npx storybook upgrade` to `6.5.10` as well.

[2022-08-25 18:49] EduardoBautista commented on #18745
@lvndry @archfisv I was never able to solve it, but it looks like @archfisv came up with a solution.

[2022-08-25 19:32] Mr-LJQ commented on #18111
I tried to introduce storybook into my project for the first time today, but I didn't expect that it was not compatible with PNPM, I need both PNPM and storybook!! Here are my errors:
[code]

[2022-08-25 19:43] IanVS commented on #18111
@Mr-LJQ that's just an issue with the `init` script, it will use npm or yarn, but not pnpm.  Storybook itself should work alright with pnpm.  I'd suggest you could temporarily remove the non-standard (`link:`) parts of your package.json, use `npx sb init`, then re-add the pnpm-specific parts and continue to use pnpm after that.

[2022-08-25 20:25] Delagen opened #19020 "Fails to use Storybook 7 on Windows"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Create project using latest version of Storybook 7 on Windows
Start building (I tried via Angular-Cli and received ENOENT error when spawning CompoDoc via npx

Described in !19019

[2022-08-25 20:39] IanVS opened #19021 "[7.0] Peer Dependencies require typescript, webpack, jest-specific-snapshot, require-from-string"
**Describe the bug**
I created a new project with vite, and installed 7.0.0-alpha.25.  I tried to then perform a `pnpm install`, and got the following:

[code]

First of all, I noted that `babel-loader` is still a dependency of `@storybook/core-common`.  Is that intentional?

Second, the vite builder includes `@joshwooding/vite-plugin-react-docgen-typescript`, which has a peerDependency on typescr

[2022-08-26 06:27] JoostVanVelthoven commented on #729
I worked around it with the follow snippet used as a decorator:

`  var css1 = require('!raw-loader!./main.css')

    return <>
        <style>{css1.default}</style>
        {children}
    </>`

[2022-08-26 06:52] JakubPradeniak commented on #18891
@alirezaaminii hi! I have found simple solution to this problem -> according to https://github.com/storybookjs/builder-vite the Storybook will **not** load your `vite.config.ts`, thus it will not load anything you have specified in your cofig files.

As @akinorimizushima wrote the solution is to use viteFinal, but basicaly you only have to add your `vite.config.ts` contents.

To add path resolutio

[2022-08-26 08:34] davincho opened #19027 "--no-version-updates CI flag bust manager webpack5 cache"
**Describe the bug**

The CLI option`--no-version-updates` defined in https://github.com/storybookjs/storybook/blob/v6.5.10/lib/core-common/src/types.ts#L205 makes [this line](https://github.com/storybookjs/storybook/blob/v6.5.10/lib/core-server/src/build-dev.ts#L37-L38) to resolve with `{ success: false, data: {}, time: Date.now() }` which causes the cache config comparison in https://github.com/

[2022-08-26 10:04] Bidrman commented on #17398
@aaronadamsCA  hey, any update on this issue? It seems like we are facing the same problem in our project.  Interesting fact is, that when we swap babel.config for .babelrc.json and set it correctly, then Storybook takes the settings correctly. However its just a workaround how to deal with this issue.

[2022-08-26 11:00] wwglala commented on #15764
+1

[2022-08-26 11:21] shilman commented on #19021
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.26 containing PR #19022 that references this issue. Upgrade today to the `@future` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-08-26 11:21] #19021 closed

[2022-08-26 12:12] sherlock1982 commented on #16211
Looks like storybook runs in devMode. But you can also enable prod mode in preview.js:

[code]

I'm using Angular14 + Storybook 6.5.10

[2022-08-26 14:25] sotnikov-link commented on #12782
My `.storybook/main.js` which works with @linaria/core@4.1.1 and @linaria/webpack5-loader@4.1.2 without external additional babel config file.

[code]

[2022-08-26 14:54] see commented on #6188
it works for me

[code]

[2022-08-26 15:57] kpaxton commented on #13426
I am having a similar issue in that the lib storybook does not have access to the assets.
I had previously (v6.4.22) included `assets` in the storybook options and it worked correctly in linux.
NX recently updated their executors to use `@storybook.angular{start|build}-storybook and I guess the `assets` property didn't make it into the schema. I now receive an error about an invalid schema if I le

[2022-08-26 16:07] shilman commented on #19014
Hi @vate! `^2.6.12` is a range specifier and `2.7.x` matches that range specifier, so I added Storybook to a 2.7.10 project and it appears to work fine. If you run into specific issues getting SB to work with 2.7, please file bugs here. Closing this for now, but please let me know if I missed something.

[2022-08-26 16:07] #19014 closed

[2022-08-26 18:44] humarkx opened #19034 "Error: Unsupported framework: react - v7.0.0-alpha.26"
**When initializing storybook on a vite react app**

`npx storybook@v7.0.0-alpha.26 init`

![image](https://user-images.githubusercontent.com/13049940/186971194-437ca28c-398a-4ad4-8483-0a1f31657ecb.png)

[2022-08-26 21:57] EisenbergEffect commented on #18351
Just saw post and wanted to chime in. I'm the architecture lead for Microsoft's FAST Web Components. So, we were also a bit surprised to find out that the Web Components setup didn't work for us. We're now building our own custom solution on Storybook for FAST as a result. It would be great if we could all put our heads together and see if we can maybe decouple things a little bit so that it's eas

[2022-08-27 02:28] zhyd1997 commented on #19034
It works with `storybook@v7.0.0-alpha.16` but not later versions (start from`storybook@v7.0.0-alpha.17`) for me.

[2022-08-27 09:13] konsalex opened #19037 "React Component types are not inferred properly from declaration file"
**Describe the bug**
A clear and concise description of what the bug is.
I have a Yarn monorepo and trying to import components into `Button.stories.tsx`.
If I import the transpiled from `import { Button, ButtonProps } from '@newline-ds/react';` the Storybook page does not show me any control, while if I import `import { Button, ButtonProps } from '@newline-ds/react/src/Button';` it works as expec

[2022-08-27 10:57] tmeasday commented on #19015
Ok, I understand the problem. I'll explain it here, as I suspect you'll be interested @IanVS.

The problem is that during the bootup process, two things happen:

1. The preview "selects the specified story" (ie maps `id=*` to a specific story)
2. That triggers `renderSelection` with that selection directly.
3. It also emits a `STORY_SPECIFIED` event which reaches the manager and prompts it to sele

[2022-08-27 13:11] IanVS commented on #19015
Thanks a ton for figuring this out and explaining it!

[2022-08-28 12:18] MastalerzKamil commented on #18156
@ivanblank992 how did you solve your issue? I'm struggling with the same issue

[2022-08-28 12:36] MastalerzKamil opened #19038 "Issue with creating for decorator for"
**Description**
I'm using Next.js with [@tenstack/react-query](https://tanstack.com/query/v4/docs/guides/queries) and ChakraUI library and I get an error

[code]

I've tried to add a decorator
[code]
but it doesn't help and following error appeared
[code]

I've also took a look for an issue #18156  but it seems to be closed without any summary how to solve the issue.

**To Reproduce**

My file `_a

[2022-08-29 00:35] sdkdeepa commented on #7923
Hello, I would like to work on this enhancement. Please let me know.

[2022-08-29 00:36] sdkdeepa commented on #7987
Hello, I see that this issue is still open. Could I work on this? Thanks!

[2022-08-29 03:43] Rayhanns04 opened #19041 "Hi please help me to setup for react js with tailwind css postcss 8+ i cant using tailwind on storybook"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Please create a reproduction by running `npx sb@next repro` and following the instructions. Read our [documentation](https://storybook.js.org/docs/react/contribute/how-to-reproduce) to learn more about creating reproductions.
Paste your repository and deployed reproduction here. We prioritize issues with rep

[2022-08-29 03:44] vinay3206 commented on #12364
Is there any update on the issue ? I am also facing the same issue after updating the main.ts.
@asarosi, @shilman , @phobetron

[2022-08-29 06:26] tmeasday commented on #19015
Note also I was seeing a likely related bug when HMR-ing a component file and viewing it in story mode.
![image](https://user-images.githubusercontent.com/132554/187136504-4c2835f3-aca0-4227-845a-a01fb3aedaa9.png)

[2022-08-29 07:37] 365kim commented on #17701
I'm just facing the same issue. Seems like @Smankusors have already found out how to fix this...? 🙏

[2022-08-29 07:46] shilman commented on #12364
@vinay3206  what version of storybook are you using?

[2022-08-29 08:04] vinay3206 commented on #12364
@shilman

@storybook/react v6.5.10

    "@react-theming/storybook-addon": "^1.1.7",
    "@storybook/addon-docs": "^6.5.10",
    "@storybook/addon-essentials": "^6.5.10",
    "@storybook/addon-links": "^6.5.10",
    "@storybook/addons": "^6.5.10",
    "@storybook/builder-webpack5": "^6.5.10",
    "@storybook/manager-webpack5": "^6.5.10",
    "@storybook/react": "^6.5.10",
    "@storybook/theming":

[2022-08-29 08:05] vinay3206 commented on #12364
@shilman

main.js looks like this

module.exports = {
  stories: ["../src/**/*.stories.mdx", "../src/**/*.stories.@(js|jsx|ts|tsx)"],
  addons: [
    "@storybook/addon-links",
    "@storybook/addon-essentials",
    "@react-theming/storybook-addon",
  ],
  core: {
    builder: { name: 'webpack5' },
    channelOptions: { allowFunction: false, maxDepth: 10 },
  }
};

[2022-08-29 10:19] pascal-puetz opened #19044 "Telemetry environment variable not being used in Angular builder"
**Describe the bug**
Building the storybook in an Angular application using the Storybook `@storybook/angular:build-storybook` builder ignores the `STORYBOOK_DISABLE_TELEMETRY` variable. Since the builder does not have an option to disable telemetry itself, the only way to disable telemetry is currently through the CoreConfig.

**To Reproduce**
Create a plain angular project and add storybook to i

[2022-08-29 11:30] selenecodes commented on #13099
Having a similar issue to @Klypalskyi (only difference is that mine is failing at `manager-preset.js`)
[code]

[2022-08-29 13:26] zhyd1997 commented on #17701
PR: #19004

[2022-08-29 14:51] TSwizard opened #19046 "In Angular component, "arrow methods" become strings"
**Describe the bug**
In Angular component, "arrow methods" become strings.

**To Reproduce**
Any Component with an "arrow method":
`@Component({
  selector: 'bug',
  template: '<button click="click()"></button>',
})
export class BugComponent {
  logHello = () => { console.log('Hello') }
  click() { this.logHello() }
}`

**Additional context**
In runtime this.logHello will be a string "() => {...}"

[2022-08-29 15:04] GuilleDF commented on #16080
Update: this was working for me on version `6.5.8` but this PR https://github.com/storybookjs/storybook/pull/18425 changed `react-syntax-highlighter` from a dependency to a bundled package.

This makes the docs in this page https://storybook.js.org/docs/react/writing-docs/mdx#syntax-highlighting not work on `6.5.10` 😕

[2022-08-29 16:30] dpeese commented on #17233
@shilman Could you please help us here? Even with 6.5.10 we are facing same issue.

[2022-08-29 17:10] humarkx commented on #19041
@Rayhanns04 Here is my code to use Tailwind with postcss

#### postcss.config.js
`module.exports = {
  plugins: {
    'postcss-import': {},
    'postcss-nesting': {},
    tailwindcss: {},
    autoprefixer: {},
  },
}`

#### .storybook/main.js inside addons[ ]
`     {
      name: '@storybook/addon-postcss',
      options: {
        postcssLoaderOptions: {
          implementation: require('postcss'

[2022-08-29 17:44] EvHaus opened #19049 "[7.0 alpha] webpack stylus loader doesn't work anymore"
**Describe the bug**
After upgrading from 6.5.10 to 7.0.0-alpha.26 I'm running into an issue with `stylus-loader`. When starting Storybook, I get this failure:

[code]

The loader that causes this issue is:

[code]

This problem doesn't happen with the same configuration on Storybook 6.5.10.

**To Reproduce**

- Minimal reproduction repo is here: https://github.com/EvHaus/storybook-7-stylus-bug
-

[2022-08-29 18:26] jlowcs opened #19050 "6.x.x: Add TS 4.8 support"
**Is your feature request related to a problem? Please describe**
Type checking currently fails with Typescript [4.8.2](https://devblogs.microsoft.com/typescript/announcing-typescript-4-8/)

**Describe the solution you'd like**
Update the types so that the library can be used with Typescript 4.8.2

**Are you able to assist to bring the feature to reality?**
I'm missing some context as to where tho

[2022-08-29 18:38] jlowcs commented on #19050
Looks like those types are coming from [here](https://github.com/floating-ui/floating-ui/blob/v2.x/src/types.js#L135), which might be tricky to update.

[2022-08-29 18:40] jlowcs commented on #19050
So maybe updating `@popperjs/core` would do the trick?

[2022-08-29 18:49] drewbrend commented on #19050
Yes, I think upgrading would do the trick.  I just ran into this as well and came to log this exact same bug.  Thanks!

[2022-08-29 19:48] morganney commented on #18559
[code]

[2022-08-29 20:42] joungskim commented on #17504
I'm not sure if this will help anyone, but I spent a day with this exact same issue.  I believe if you are on a Windows machine the case sensitivity of the path in your command prompt/command shell matters.  This caused the issue where the casing was mismatched and gave me this error.  When I went back and tabbed through each of the folders within the path it fixed the issue.

[2022-08-29 20:58] srmagura commented on #18952
Reported in babel-loader repository here: https://github.com/babel/babel-loader/issues/951.

[2022-08-29 21:48] joewearing commented on #13428
I've got it working
I'm using `nx` + `pnpm workspaces` where `storybook` is installed alongside a `vue3 + vite` component library

Before adding storybook, an `.npmrc` file must be added to the root to hoist storybook deps:
[code]
You'll have to `pnpm i` again after this change

Then follow the steps in [this comment](https://github.com/storybookjs/storybook/issues/12995#issuecomment-813630999)

[2022-08-30 05:01] MarcusMorba commented on #18768
It should be possible to manage this via custom tag settings:
https://www.deque.com/axe/core-documentation/api-documentation/#axe-core-tags

[2022-08-30 05:05] yogarasu commented on #17336
It seems that this problem has not been solved even in Storybook ver6.5, so I will describe how to define your own environment variables in main.js when the builder is vite.

[code]

[2022-08-30 07:59] ayush9398 commented on #18732
@shilman I have opened a [PR](https://github.com/storybookjs/storybook/pull/19036) but my tests are failing, can you please review it?

[2022-08-30 09:31] gerhat opened #19055 "Deprecation warnings after upgrade to TS 4.8"
**Describe the bug**
After upgrading TypeScript to 4.8.2 from 4.7.4 I am getting the following deprecation warnings at the console:

[code]

**To Reproduce**
Execute:
[code]
Then select:
`react`, `react_typescript`, `any_folder_name` e.g.:
[code]
After it finishes installing everything try:
[code]
You should be able to see the warnings towards the top.

**System**
[code]

[2022-08-30 09:37] symmetriq commented on #18264
I tried all of the above suggestions, and am still seeing the same error when I try to start Storybook.

[2022-08-30 09:52] chelentos opened #19056 "Components are not being rendered (vite + vue3 + tsx)"
**Describe the bug**
Trying to get things work with Vite + Vue 3 + components in tsx, but components are not being rendered. Though setup function of component runs.
![image](https://user-images.githubusercontent.com/21958075/187403924-213698c5-f78e-42cb-81c3-1c0bb9482d80.png)

**To Reproduce**
You can clone or watch my repo(couldn't make a repro with sb@next repro) - https://github.com/chelentos/

[2022-08-30 11:31] SalahAdDin opened #19057 "'React' refers to a UMD global"
**Describe the bug**
**Storybook** files in `tsx` format show the following error: `'React' refers to a UMD global, but the current file is a module. Consider adding an import instead.`.

The same error does not come to other `tsx` files.

Clearly, It is an **eslint** error but we can find the correct way of solving it.

**To Reproduce**
[code]

**System**
[code]

**Additional context**
Add any ot

[2022-08-30 12:19] Axedyson commented on #16971
Thanks @mattlong your workaround works!

[2022-08-30 13:10] sun0day opened #19058 "code/examples/angular-cli nohoist"
**Describe the bug**

When I install storybook  src `code` dependencies in my host. I found that all `examples/angular-cli` dependencies were hoisted.

`workspaces.nohoist` is deprecated. Use https://yarnpkg.com/configuration/manifest#installConfig.hoistingLimits to replace

https://github.com/storybookjs/storybook/blob/bbc0e8293724102fceda3733fa1cadb0d6bc7f7e/code/examples/angular-cli/package.jso

[2022-08-30 13:32] srmagura commented on #18952
This has been fixed by the Babel team 🎉

[2022-08-30 13:32] #18952 closed

[2022-08-30 14:17] mintuz commented on #18771
I don't think the issue is resolved @shilman I have just upgraded Storybook to 6.5.10 and the issue still persists using the Reproduction Repo as an example

[2022-08-30 14:18] adambulmer commented on #18771
I don't think the issue is resolved @shilman I have just upgraded Storybook to 6.5.10 and the issue still persists using the Reproduction Repo as an example

[2022-08-30 15:27] Niravpatel129 commented on #17482
Same issue

[2022-08-30 16:03] rachelholtz opened #19061 "buildStoriesJson feature produces error when "stories" is set to async function"
In "main.js" I am using an [async function](https://storybook.js.org/docs/react/configure/overview#with-a-custom-implementation) to set which story files to load. This works correctly until I add the `buildStoriesJson` and I get an error.

<img width="727" alt="Screen Shot 2022-08-30 at 10 48 57 AM" src="https://user-images.githubusercontent.com/23062081/187485449-a8e7aebe-7258-48ed-b9c5-4f9197c43

[2022-08-30 16:07] bethlym commented on #17004
I am encountering this issue as well with Angular 13 and Storybook 6.5. Would love to see it resolved as I see Storybook as a potentially valuable tool for my organization!

Disabling docs does not resolve

[2022-08-30 18:23] kroeder commented on #16732
I did some research and narrowed it down to this line

https://github.com/storybookjs/storybook/blob/7035ea7389393da041985ebc491ee58dedb50d06/code/lib/core-server/src/utils/copy-all-static-files.ts#L55

I double checked it by step-debugging through it and modifying the node_modules code

[code]

What confuses me is that "overwrite" does not have an effect. It should default to true but even if I s

[2022-08-30 19:06] kroeder commented on #16732
I tried to use the latest version of fs-extra without success.

The error gets thrown here in fs-extra copy https://github.com/jprichardson/node-fs-extra/blob/9.1.0/lib/copy/copy.js#L154

Still investigating why

[2022-08-30 23:04] Elykauf commented on #14694
Any updates on this?

[2022-08-31 03:19] Akshat55 commented on #17233
Also ran into this issue in Angular 12 with Storybook@6.5.10.

What I found interesting was that when running `start-storybook` directly from `package.json`, the story source loaded correctly.

But there were some complications, styles didn't load for me (I don't use `styles.scss` to add styles, I use `preview.scss` for my use case).

If I want to have styles working, I need to start/build via scr

[2022-08-31 05:15] moeyashi commented on #13335
This is a known caveat.

https://github.com/storybookjs/storybook/tree/next/code/addons/storyshots/storyshots-core#testing-stories-that-rely-on-addon-added-decorators

[2022-08-31 08:21] bodograumann commented on #16774
This bug also affects the measuring tool when zooming. That is probably a bigger problem, because for small components zooming when measuring is quite a common workflow.

In chrome it is correctly placed, though blurry:
![Screenshot_20220831-101158](https://user-images.githubusercontent.com/1223583/187629721-931e5108-7d00-4641-81c3-a55955df961e.png)

In firefox it is not scaled correctly and offse

[2022-08-31 11:05] azer opened #19065 "Special characters in the bundle makes it hard to deploy to static site hosting"
**Describe the bug**
I've tried deploying a simple Storybook setup to following hosting providers and all of them had issues:

* Firebase
* Netlify
* Cloudflare Pages
* Github Pages

The issues were:
* `sb-addons/.storybook/manager.mjs` missing
* extension folders missing (e.g `@storybook/addon-controls/manager.mjs`)

My guess is that these services filter out certain file patterns. Storybook coul

[2022-08-31 11:27] IanVS commented on #19015
I'm no longer able to reproduce this in alpha.27.  I'll keep it open for a few more days in case it comes back or anyone else experiences it.

[2022-08-31 11:50] kaangokdemir commented on #18679
Any updates? 👀

[2022-08-31 12:45] Lucas-HMSC commented on #18679
I continued with the update of my project despite this problem... After I updated to `storybook/vue3` this message no longer appeared.

[2022-08-31 15:42] elvinasv commented on #13962
I was using AntD, Tailwind with the mix of `less` and `scss` for overrides.
Adding `postcss-loader` fixed it 👍 Thanks

[2022-08-31 16:04] CHBaker commented on #8141
I'm experiencing the same issue, is there any update on this? `@storybook/angular v6.5.10` angular 8

[2022-08-31 16:06] jimmynotjim commented on #16080
This is happening to me as well. I've lost all highlighting not automatically included, including both diff and scss. I've tried using both the single page and global settings provided in the syntax highlighting docs as well as including `react-syntax-highlighter` within my own dependencies. Any clues on what else I should try?

[2022-08-31 16:41] ProjektGopher commented on #18679
I'm still on storybook/vue at the moment, and it hasn't really affected me. However if it's breaking your app @kaangokdemir I have a local patch script that can fix it for you until something gets PR'd to the repo.

[2022-08-31 17:08] jmmccota commented on #18971
Following this https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/blob/main/README.md#options,  I've added this

	"fork-ts-checker": {
		"typescript": {
			"memoryLimit": 4096
		}
	}

And the error is gone, for while

[2022-08-31 18:13] pietrofxq opened #19068 "Require is not defined using type:module and webpack5"
**Describe the bug**
Storybook crashes in the browser with:
[code]

**To Reproduce**
main.cjs:
[code]
and add
[code]
in `package.json`

**System**
[code]

**Additional context**
Also tried with latest versions (6.5.9), same result

[2022-08-31 19:24] pietrofxq commented on #3346
I am having the same issue using `@storybook/vite-builder`. and
[code]

in package.json. Storybook version 6.5.10

[2022-08-31 21:13] #19068 closed

[2022-09-01 00:17] tmeasday commented on #19015
I saw it again in the sandbox after we spoke @IanVS so I definitely want to keep digging!

[2022-09-01 02:58] tmeasday commented on #18771
Hey @adambulmer -- this is the same issue @micahgodbolt ran into:

https://github.com/storybookjs/storybook/issues/18477#issuecomment-1198851902

@shilman do you want to discuss?

[2022-09-01 07:35] GuilleDF commented on #16080
@jimmynotjim My current workaround is to pin the version to `6.5.9` in the `package.json`, where it still works
[code]
(For all `@storybook/*` packages I have)

[2022-09-01 08:34] thany commented on #18094
I was getting this in a **Vue** project... I don't know why. I had just installed Storybook as well. All I did was switch branches, go back this my storybook brach, did a `npm i` like a good boy, and ran into this error. So,

1. How is it possible to get this error after switching branches and/or an `npm i` without any other changes in between?
2. Why does it require a **React** package in a proje

[2022-09-01 09:05] thany opened #19073 "Webpack 5 migration step during `npx storybook init`"
**Describe the bug**
The Webpack 5 migration step is not always asked - for an identical codebase. I guess sometimes it asks, and sometimes it doesn't ask and just does the migration. So it's fine in the end, but if the `init` script is going to execute this Webpack 5 migration, shouldn't it *always* ask if that's okay? Or at least be consistent on whether or not to ask for it? I shouldn't "someti

[2022-09-01 09:07] shenyi-dra commented on #18137
+1

[2022-09-01 09:24] thany opened #19075 "Please upgrade Chokidar 2"
**Describe the bug**
![image](https://user-images.githubusercontent.com/152227/187879875-d153152d-6990-40ef-b331-d2436b35e2af.png)

Chokidar 2 should probably be updated. It doesn't look good to get this message while doing a clean install.

**To Reproduce**
Do a clean install in (any?) project. Mine happens to be Vue 2.

**System**
Please paste the results of `npx sb@next info` here.
[code]

[2022-09-01 09:29] thany opened #19076 "eslint migration causes unnecesary edits in `.eslintrc`"
**Describe the bug**
After having done the eslint migration step in a clean install in an existing project, it does a lot of neccesary edits in the `.eslintrc` file. Not only that, but these edits introduce linting errors themselves.
![image](https://user-images.githubusercontent.com/152227/187880904-cd1bf210-7b2b-4199-8bc1-777fe149da6d.png)

Please only make the edits you need to do, and leave th

[2022-09-01 09:51] NsdHSO commented on #10582
@sashafklein  I had this issue, but what I did was only add this addon
![image](https://user-images.githubusercontent.com/37635083/187885188-67437575-6ede-429a-b552-11bf341a3215.png)
I hope it works for you too

[2022-09-01 12:41] jmmccota commented on #18971
Hello @LucaColonnello

You can do by webpack config as described in link.

I'm not sure, it worth trial

[2022-09-01 13:04] asauty opened #19079 "Serving static files via Storybook Configuration object"
**Describe the bug**
After building the Storybook application, I cannot find statics assets in the build

**To Reproduce**
Here is my main.js file with multiple staticDirs :

module.exports = {
    ...rootMain,
    core: { ...rootMain.core, builder: 'webpack5' },
    stories: [
        ...rootMain.stories,
        '../src/',
        {
            directory: '../../../libs'
        },
    ],
    st

[2022-09-01 13:11] rwagatenga commented on #18822
Hi @michalgrzegorczyk-dev
can you please clarify how to reproduce an error? better any image or loom video could help.

[2022-09-01 14:19] ninjarogue opened #19080 "Storybook pseudo states affect other stories within the same component"
**Describe the bug**
The pseudo states remain even after switching between stories for a single React (v18.0.2) component. The issue resolves itself once the component is remounted. If you click on the story with the active pseudo states first and click on the story without it after, you'll see that the hover state remains unchanged until the component is remounted.

**To Reproduce**
Please create

[2022-09-01 14:29] berthieresteban opened #19081 "Storybook build only functional at root of the host server"
**Describe the bug**
Asset paths are absolute in a vuejs storybook build with vite

The build is not functional if it is not at the root of the server

**To Reproduce**
Host a storybook build in a subfolder on the server

**System**

**Additional context**

[2022-09-01 17:29] shilman commented on #6867
@martincoote That package looks like a great option for all Storybook users 💯  If we ever build it into Storybook I'll re-open this.

[2022-09-01 17:29] #6867 closed

[2022-09-01 20:23] kmjungersen commented on #13958
Bless you @fikkatra - I've been wrestling with this for a half hour and none of the other solutions worked, however removing `.angular/cache` did the trick.  Thank you!

[2022-09-01 20:54] stephyswe commented on #17831
Take your time. Only thing that is the issue is this little warning message. When we find a solid way to get rid of that message (aka upgrade something). I think its better to wait until that fix arrives. :)

[2022-09-01 21:09] clintandrewhall commented on #16924
I spent a day digging into code before I was able to find this issue.  😭

[2022-09-01 21:16] IanVS commented on #19015
I just saw `Error: Cannot render docs before preparing` in an alpha.28 project, FWIW.

[2022-09-01 22:04] Cliabhach commented on #19075
Yes, this looks a lot like #18713 and #12393 . I think the devs say it's on track for the 7.0 release? But I have no idea when that's supposed to be.

[2022-09-02 09:46] DzmVasileusky commented on #18753
same here, that was working before and have stopped to work after I've change the static assets directory

[2022-09-02 10:55] thany commented on #19075
Ohh, that'd be very nice. I'd love to know when 7.0 is scheduled for release as well. I haven't found anything like a roadmap yet, so the answer is likely "when it's ready" 😀 (at least for the time being)

[2022-09-02 13:51] Niznikr opened #19094 "SB 7.0.0-alpha.28 storyStoreV7 shows TypeError: Failed to fetch"
**Describe the bug**
This is for a pnpm monorepo project migrating from `7.0.0-alpha.10` webpack React (which works perfectly) to `7.0.0-alpha.28` with the Vite framework. I get the following error when `storyStoreV7` is true:

<img width="1727" alt="Screen Shot 2022-09-02 at 9 45 18 AM" src="https://user-images.githubusercontent.com/2147624/188160133-bff591f1-7c23-486c-9c97-59960b6b6b7b.png">

Th

[2022-09-02 14:06] yogarasu commented on #19034
same for storybook@v7.0.0-alpha.28

[2022-09-02 14:17] blwinters commented on #1070
It's not clear to me how `staticDirs` can be leveraged for this, but here is how I got custom fonts working. I have a bare React Native project and I'm using `@storybook/addon-react-native-web` to get Storybook running in the browser ([as is now recommended](https://levelup.gitconnected.com/introducing-react-native-web-storybook-3c56d48a6508) by @dannyhw).

I created the following `FontLoader` com

[2022-09-02 14:31] samuelhorn commented on #18137
Same thing here!

[2022-09-02 16:17] shilman commented on #19015
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.29 containing PR #19071 that references this issue. Upgrade today to the `@future` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-09-02 16:17] #19015 closed

[2022-09-02 16:57] dannyhw commented on #1070
@blwinters about static dirs:

To use static assets (like fonts) for react-native-web or even just react you can use static dirs like the following.

Lets say I want to add fonts in the folder `fonts/`

I add this to my `main.js`

[code]

I add a `preview-head.html` file to `.storybook` and in here I add a style tag where I load the fonts into css.

.storybook/preview-head.html:
[code]

Then in th

[2022-09-02 17:22] avinean commented on #16301
@elevatebart Please take a look at this https://github.com/vue-styleguidist/vue-styleguidist/pull/1396
This small change will make life easier.
I'm sure I have not enough context of how things works. But my changes don't break test)
So hope will approve my PR or at least provide better solution.
But please don't ignore it

[2022-09-02 17:33] miko-github commented on #14688
I used

- `next@12`
- `tailwindcss`
- `node@18`

I was tried to run :

`npx sb init --builder webpack`

then have same Error!!

[2022-09-02 17:38] blwinters commented on #1070
@dannyhw Thank you for that explanation, I figured there must be something like this. However, I wasn't able to get it to work. I tried it in my project with no luck, then I cloned the example project that you linked and also there I saw a serif font instead of Roboto (screenshot attached). Seems like the `preview-head.html` isn't getting picked up by Storybook or something. Any ideas?

<img width

[2022-09-02 18:33] dannyhw commented on #1070
@blwinters you need to be on the patch-1 branch that I linked

[2022-09-02 19:24] blwinters commented on #1070
@dannyhw Ah, my mistake, yes that's working. I already had that correctly on my project, but looking at the differences between our projects I figured it must be because I had pinned my storybook packages to 6.3.x, due to the limitations of `@storybook/react-native`. Once I matched my packages to yours (which updates them to 6.5.x), I started seeing the custom fonts correctly. I'm fine with lettin

[2022-09-02 20:11] yogarasu opened #19096 "[7.0 alpha] React unsupported renderer error"
**Describe the bug**

I get React unsupported renderer error.

[code]

**To Reproduce**

[code]

**System**

[code]

[2022-09-02 20:17] yannbf commented on #19080
Hey @ninjarogue thanks for opening this issue!
However this is the wrong repo. You could write in the correct one instead: https://github.com/chromaui/storybook-addon-pseudo-states

[2022-09-03 05:53] LiamKarlMitchell commented on #17274
Hey @maicolbruski do you have example of story and component loading with the vue jsx plugin?
Trying to load .tsx component into Storybook.

[2022-09-03 15:01] eskimoblood commented on #6867
For me this didn't work, all I get is
[code]

[2022-09-03 18:48] yogarasu commented on #19096
In the first place, it was said that CRA was not supported, so it was closed.

[2022-09-03 18:48] #19096 closed

[2022-09-04 02:36] boompikachu commented on #16908
Find any solutions?

[2022-09-04 06:19] baruch1995 opened #19101 "Angular How to make basic FormControl work in Storybook"
### Discussed in https://github.com/storybookjs/storybook/discussions/19043

<div type='discussions-op-text'>

<sup>Originally posted by **baruch1995** August 29, 2022</sup>
I asked already in StackOverflow: "Angular How to make basic FormControl work in Storybook"
https://stackoverflow.com/questions/73520031/angular-how-to-make-basic-formcontrol-work-in-storybook

My problem is that I can't creat

[2022-09-04 10:23] SkyCodeSky commented on #17220
Are there any updates yet? It would be great if there would be 0 vulnerabilities with version 7.0. :-)

[2022-09-04 16:58] hutber commented on #2704
I am using nextjs, which means I have no src folder :'(!!!

[2022-09-04 19:06] JonathanLefebvreV commented on #14026
I just upgraded Storybook from 6.3.12 to 6.5.10 and I got the error. Thank you @ArturQuirino! Your workaround work for me as well.

[2022-09-04 22:12] IanVS commented on #16827
It sounds like the maintainer of `react-element-to-jsx-string` is willing to accept a PR that reverts 14.3.3.  If someone who is experiencing this issue could look into which of the changes in that release started to cause the problem, I'm sure a targeted revert would be appreciated. https://github.com/algolia/react-element-to-jsx-string/issues/681.

[2022-09-05 01:21] IanVS commented on #19034
Please try running `npx sb@future automigrate`.  There have been changes to how frameworks are structured, which you can read about in https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#framework-field-mandatory.  I suggest reading the other sections of the migration document as well, there have been a number of changes.

[2022-09-05 01:39] IanVS commented on #19094
@Niznikr thanks for the report.  Is there any chance you can share a link to the project, or create a minimal reproduction?  Also, have you confirmed that you don't have multiple stories files with the same `title`?

[2022-09-05 01:41] IanVS commented on #19081
You should be able to set the `base` option for vite to handle this.  https://vitejs.dev/config/shared-options.html#base

You can configure this in the `viteFinal` of your storybook config.

[2022-09-05 03:38] IanVS commented on #18463
Thanks for reporting back!

[2022-09-05 03:38] #18463 closed

[2022-09-05 03:41] IanVS commented on #16213
Hi, can anyone confirm if this is still an issue in the latest version of `@storybook/builder-vite`?

[2022-09-05 03:58] IanVS commented on #18732
I see that `@storybook/router` isn't in the list.  Should it be, or is there a reason not to convert it?

[2022-09-05 08:10] anhdd-kuro opened #19106 "Story not working with lodash/throttle"
**Describe the bug**

if function wrapped by lodash.throttle , that function only trigger once in storybook ( work perfectly fine in development )
if set throttle time to 0 , it work as normal , so I guess timeout function is not running ?

**To Reproduce**

A simple component

[code]

[code]

**System**
storybook 6.5.9
nextjs 12.2.5
lodash 4.17.21

[2022-09-05 08:35] anhdd-kuro commented on #19106
My bad ! I Used timeshift-js to frozen time to snapshot

[2022-09-05 08:35] #19106 closed

[2022-09-05 08:49] KeluDev-Code opened #19108 "Vite preview-entry.js Not Found"
**Describe the bug**
For several versions I have not been able to use the "feature storyStoreV7" because I get the error "preview-entry.js Not Found", I expected that with version 7 it would be solved, but it is not the case. I've tried to create simple projects, but I can't get them to work either. Can someone help me?

**To Reproduce**
As I said before, the error gives me in any base example. Yo

[2022-09-05 10:00] jdatpdm commented on #18696
I am also hitting this same error.

Did you find a solution?

[2022-09-05 10:03] thany opened #19110 "Documentation: page scrolls up"
**Describe the bug**
When going to any(?) documentation page, like [this one](https://storybook.js.org/docs/vue/essentials/controls) it will scroll up without me telling it to.

**To Reproduce**
1. Go to https://storybook.js.org/docs/vue/essentials/controls
2. Scroll down to where you like
3. I don't know what now. Maybe switch to another application or another tab.

It might be scrolled up while

[2022-09-05 10:08] thany commented on #19110
Just had this happen on an active browser, with the documentation tab active. It scrolled up right before my eyes.

I would suggest to just remove any and all javascript code that could possibly scroll the page. It's a horrible idea in every situation anyway. Job done 😊

[2022-09-05 10:23] DD10654 commented on #18356
I was just trying out Astro, and I just realized that it does not have support for storybook, which is something I use in next.js, although I think for react components inside astro (using @astro/react) it could work

[2022-09-05 10:34] KarolMilewski commented on #12983
[code]

I have the same problem with Vue3/Vite with the storybook.

[code]

`npx --legacy-peer-deps sb init` - doesn't works for me

any new update?

[2022-09-05 11:57] assentorp commented on #17768
Running Node 16.5.0 + Npm 7.19.1

I followed this step by step: https://github.com/storybookjs/presets/tree/master/packages/preset-scss but it didn't work. Only after I removed the line `"@storybook/preset-scss"`, from my `main.js` it worked. Really weird as it's what it says in the documentation...

My main.js now looks like this:
`module.exports = {
  stories: ["../src/**/*.stories.mdx", "../src

[2022-09-05 12:34] thany commented on #19110
Just happened to me a BUNCH more times. Just while reading, right before selecting someting, or right after clicking. It's random, it's annoying, and please give this issue some priority.

[2022-09-05 12:45] thany opened #19112 "Setup function in Vue story is not even called"
**Describe the bug**
I'm adding a `setup` function to a story for a Vue component, to transform a prop before it gets sent to the component. Trouble is, the setup function isn't even being called at all. Never mind if what I'm doing in it, is correct. If it isn't being called, surely it will never work.

**To Reproduce**
[code]

Here I would expect a `messagesArray` to become available in the temp

[2022-09-05 12:55] MONTYYYYY commented on #17768
I'm also having this issue, was anyone able to find a solution? I am using next js 12.

[2022-09-05 12:56] baptisteArno commented on #17701
Facing the same issue 👀

[2022-09-05 12:58] xiaozhiwen1998 commented on #17768
in preview.js add:
import '../src/styles/index.scss';

[2022-09-05 13:03] thany commented on #19112
Digged a little deeper. I noticed that this [bit of documentation](https://storybook.js.org/docs/vue/essentials/controls#dealing-with-complex-values) doesn't pass the `props` property. Seems weird to me anyway, to tell a component what props it has, while the component most likely already has this information (our components are not written THAT badly 😀). So I decided to remove it, and found a war

[2022-09-05 13:03] Leravig opened #19113 "Using backticks for default value in source file will get rendered wrong"
If using backticks for default values in the source file they will get rendered with backticks and double quotes instead of just one of them.

With backticks
![image](https://user-images.githubusercontent.com/12169404/188454998-2620fba4-494b-478b-9c2a-18237036b213.png)

With double quotes
![image](https://user-images.githubusercontent.com/12169404/188454588-608df5f6-987a-45bf-89d5-a918440048c0.png

[2022-09-05 13:22] Niznikr commented on #19094
Hi @IanVS! I will try to get a minimal reproduction for you tomorrow. I have confirmed that I don't have multiple stories with the same title. It even happens when I update the regex to target a single story.

[2022-09-05 14:04] beumsk commented on #4997
Here is what I found to be working and not showing inside the 'show code block'.
Inside preview.js:
[code]

[2022-09-05 14:45] Andrey-Mayanov commented on #18349
please, help! I have a react project, I recently updated react to version 18. When I ran stories, I got an error about the deprecated renderDom method. I updated my packages(@storybook/react, @storybook/addon-docs and etc.) to version 6.5.10 and now after starting I get an error:
[code]

[2022-09-05 15:41] itsik-avidan-gong commented on #18405
I'm encountering the same issue.
I have a dev server without any stories with `ref` pointing to 2 other dev servers on my localhost, all are configures with `buildStoriesJson: true`. It seems that there is a race condition on the server start between the hosting server to the child servers, resulting with CORS error when the host is trying to access `/stories.json` path.

env details :
node v16.13

[2022-09-05 15:45] IanVS commented on #13747
It looks like `satisfies` has been merged, but not yet released.  🤞 that it is released soon.  https://github.com/microsoft/TypeScript/pull/46827

[2022-09-05 17:04] shilman commented on #18349
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.30 containing PR #19104 that references this issue. Upgrade today to the `@future` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-09-05 17:04] shilman commented on #18559
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.30 containing PR #19104 that references this issue. Upgrade today to the `@future` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-09-05 17:04] #18349 closed

[2022-09-05 17:04] #18559 closed

[2022-09-05 18:53] MONTYYYYY commented on #11052
Did anyone find a workaround for this? :/

[2022-09-05 18:57] kompolom commented on #16730
Here is a workaround https://github.com/defencedigital/mod-uk-design-system/pull/2813#issuecomment-974212456

[2022-09-05 19:52] MONTYYYYY commented on #17768
nope, does not work.

[2022-09-05 19:54] efeharmankaya commented on #13665
In my case, with a simple storybook setup, reinstalling node_modules with `npm install` after deleting the previous node_modules and package-lock.json solved the issue.

[2022-09-05 20:49] jasuno opened #19117 "Failed to build the preview => Cannot get final name for export '__esModule' of ./src/node_modules/pretty-format/build/index.js"
**Describe the bug**
When trying to run  yarn build-storybook i'm faced with a plug in error

[code]
**System**
Environment Info:

  ***System:***
    OS: macOS 12.2
    CPU: (16) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
 ***Binaries:***
    Node: 14.18.1 - ~/.nvm/versions/node/v14.18.1/bin/node
    Yarn: 1.22.18 - /usr/local/bin/yarn
    npm: 6.14.15 - ~/.nvm/versions/node/v14.18.1/bin/npm

[2022-09-05 23:16] angelocordon commented on #18696
Unsure if this is applicable to a general setup, but for my current component library project (brand new), this started failing for us when we implemented Jest the more mainstream way - I had a hunch that babel was messing with compilation, so I reconfigured Jest to use ts-jest instead.

So far, its looking promising.

[2022-09-06 05:50] hayawata3626 commented on #18732
Hi @ndelangen

I would like to contribute!
Is it possible to take the rest of the addons/* packages?

[2022-09-06 09:01] ndelangen commented on #18732
@hayawata3626 yeah awesome! thanks!, I would suggest you start with `lib/client-logger`.

[2022-09-06 09:02] ndelangen commented on #18732
@IanVS ow, yes! `lib/router` can be converted as well!

[2022-09-06 09:27] hayawata3626 commented on #18732
@ndelangen
Thanks for the reply!
I checked, and it looks like it's already handled.
https://github.com/storybookjs/storybook/blob/next/code/lib/client-logger/package.json#L42

I would like try the others if possible.

[2022-09-06 10:06] abencun-symphony commented on #17357
Can confirm that updating to 4.1.2 works without the need to remove the preset from config.

[2022-09-06 13:02] axeljaeger-arculus commented on #17269
I am facing the exact same two issues. However, I was able to solve the first one with the double declaration by putting my component into its own module and import that module in the moduleMetadata-block.

Now my story is working on both Canvas and Docs tab, however, I still get the Unhandled Promise reject as Velmoren. It might have something to do with the mangled-name. I saw previously similar

[2022-09-06 13:49] PetrosyanTigran commented on #18520
@markglattback  @pixels4kids @tedesco8
I had the same problem. I started to experience this issue, after upgrading node to version 16.16.0 and npm to version 8.1.
I tried to downgrade storybook libraries, cleared browser's site data, but unfortunately nothing worked.

The solution, which worked for me, was to switch node versions with NVM to 14.0.0 and npm to 6.14.4  and run storybook. This way th

[2022-09-06 14:05] Niznikr commented on #19094
So I was able to re-enable `storyStoreV7` by using a stricter custom regex for the stories:
[code]

It seems past `7.0.0-alpha.10` Storybook was also capturing the stories of linked packages in the pnpm workspace. For example, our modal package depends on the button package. It gets linked and included in the modal's `node_modules` so technically the button's stories are in scope to get pulled in.

[2022-09-06 14:14] IanVS commented on #19094
@Niznikr what was your glob before the change?

@shilman is it expected that `stories` globs match inside node_modules?

[2022-09-06 14:14] axeljaeger-arculus commented on #17269
Setting `modernInlineRender: true` solved the problem for me as stated here:
https://bytemeta.vip/repo/storybookjs/storybook/issues/18175

[2022-09-06 14:24] Niznikr commented on #19094
It was `'../packages/**/*.stories.@(js|jsx|ts|tsx)'` which had worked for prior versions.

[2022-09-06 14:25] Niznikr commented on #19094
To be clear, it seemed to match the individual `node_modules` of each package, not the root `node_modules`.

[2022-09-06 14:47] swernerx opened #19120 "Extending dev server still possible? How? Documentation missing / Zombie code?"
**Describe the bug**

At one point in Storybook's development, there appeared to be an opportunity to customize or extend the web server. In our case it is about the extension with two HTTP proxy entries.

In the code there is an option "extendServer" (`storybookDevServer()`), which can still be found partially online. However, it is not present in the official documentation. An entry of this func

[2022-09-06 19:35] macrozone commented on #18435
did run into the same,

https://github.com/storybookjs/storybook/issues/18435#issuecomment-1165672499 's workaround solved it

[2022-09-06 20:37] jeremytenjo commented on #18641
Any progress on this?

Thank you

[2022-09-06 21:49] brandonthomas commented on #15421
Yah I'm still seeing this

[2022-09-06 21:50] brandonthomas commented on #15370
@shilman I'm still seeing this in 6.5.9.

[2022-09-06 23:41] shilman commented on #19094
@IanVS usually stories globs matching inside `node_modules` means that they are not "tight" enough, which can have some performance costs in webpack. also published components' docgen often fails, since many packages only publish the `dist` directory (or equivalent). so we don't recommend it, but I also don't think we explicitly forbid it. we could consider that, though, if it helps?

[2022-09-06 23:54] dev-nicolaos commented on #16819
Is fixing this on the roadmap? I'm also seeing "No code available" when specifying `type: "code"` for my source block and am wondering if this bug is why. I tried rewriting the story with JS in a _.jsx_ file rather than a _.tsx_ one but got the same result.

For context, I'm writing the story in CSF and then referencing it in MDX docs. Using React with the Vite builder.

I've also tried specifying

[2022-09-07 00:40] alansouzati opened #19121 "Rendering a story canvas is skipping false boolean props"
**Is your feature request related to a problem? Please describe**
When using `showCode` inside storybook canvas, the code section renders properly but currently skips false boolean prop. For example:

[code]

renders as:

[code]

**Describe the solution you'd like**
What would you like to see added to Storybook to solve problem?
Please keep the false boolean flags in the rendered code

**Describe

[2022-09-07 01:11] IanVS commented on #19094
Thanks @shilman.  It sounds like maybe something changed in recent alpha versions, though, according to @Niznikr.  They said it was not matching stories in node_modules until recently.  They updated storybook, and started to get failures.  @Niznikr if you can find the exact alpha version where this started, we could probably trace down the reason and figure out whether it was intentional or not.

[2022-09-07 01:45] shilman commented on #16819
@dev-nicolaos have you tried Storybook 6.5? I tried @757566833 's reproduction and it shows the error, but when I upgraded the storybook to 6.5, it shows the source correctly.

Closing this for now and will re-open with a 6.5 reproduction. Thanks for everybody's patience on this!

[2022-09-07 01:45] #16819 closed

[2022-09-07 01:52] shilman commented on #15370
@brandonthomas can you please share a reproduction?  i just tried it in the original repro & it demonstrates the bug, but upgraded to 6.5 and the bug is fixed (for that example, at least)

[2022-09-07 01:55] Niznikr commented on #19094
Sure @IanVS I can narrow down where it started. So cool to hear you're in the area! I'm usually at a RoosRoast, Hyperion, or some other coffee shop in the morning :P Would be fun to chat sometime.

[2022-09-07 07:45] AnyaParry commented on #18051
![image](https://user-images.githubusercontent.com/60728866/188819703-fb37750d-4ef0-4da3-9a8a-50db3e705159.png)
Same Here +1.

[2022-09-07 11:40] tmeasday opened #19126 "Docs Only stories do not work in SB7 with the v6 store."
It seems like the current implementation doesn't support them. The issues are:

- We don't handle docs only stories in `StoryStoreFacade.addStoriesFromExports()` currently. We should add a docs entry to the internal story index for each docs only story.

 - `SET_STORIES` filters out docs entries, in order to be back-compat (I'm not sure if we want to change this).

- So there would be no way to pa

[2022-09-07 12:59] Robin-Hoodie opened #19128 "Make it possible to save snapshots next to each story"
**Is your feature request related to a problem? Please describe**

Currently, the setup instructions read as follows:

There are 2 problems I've noticed with this:

1. All snapshots are written to a `__snapshots__/Storyshots.test.js.snap` file. This can become a nightmare to review pretty quickly
2. As the `Storyshots.test.js` file is an arbitrary test file, it's not picked up by Jest if running a

[2022-09-07 14:46] brunoenribeiro commented on #14092
Stumbled upon this issue as well.

We used `argTypes` as a workaround. @MondaySam's example would look like this:

[code]
It's not as good as inferring from PropTypes, but at least it keeps a single source of truth.

[2022-09-07 15:06] c-vetter opened #19130 "[Controls][Bug] conditional controls break with mapped options"
**Describe the bug**
Wenn using the conditional-controls feature in connection with a mapped `options`-controlled `arg`, control display and value assignment are often out of sync.

**To Reproduce**
Checkout and run https://github.com/c-vetter/repro_storybook_conditional-controls-with-mapped-options

**System**
  Binaries:
    Node: 16.15.0
    npm: 8.5.5
  npmPackages:
    @storybook/addon-a11y:

[2022-09-07 15:07] finalspy opened #19131 "SvelteKit Story disappears if contains nested SCSS styles"
**Describe the bug**
I use storybook on a SvelteKit project + SCSS
SCSS works fine in Sveltekit, i mean I can @import @mixins, or use nested styles.
SCSS works fine in Storybook when included from the components being tested (I mean scss declared in the componenet not the story).
Things like "@import @mixins" works fine in the <style> part of the Story.
But as soon as I nest a style in another one

[2022-09-07 15:13] c-vetter opened #19132 "[Bug] `npx sb@next repro` produces bad .gitignore"
**Describe the bug**
`npx sb@next repro` generates `.gitignore` with this content for react:
[code]
That leads to `node_modules` being put in git.

**To Reproduce**
Checkout https://github.com/c-vetter/repro_storybook_conditional-controls-with-mapped-options
and see the initial commit, fully automated.

**System**
  Binaries:
    Node: 16.15.0
    npm: 8.5.5
  npmPackages:
    @storybook/addon-a11

[2022-09-07 15:23] c-vetter opened #19135 "[Feature Request] functions for conditional controls"
**Is your feature request related to a problem? Please describe**
In the course of my current client project, we stumbled across #19130 while trying to use the conditional controls feature to reproduce our TypeScript interfaces in the controls table.

We quickly found that the simple conditions will become cumbersome or even ineffectual in complex situations.

**Describe the solution you'd like**

[2022-09-07 15:34] IanVS commented on #19094
I don't see anything jumping out to me in https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.12 that would indicate this is an intentional change.  @tmeasday it looks like most of those are your PRs.  Does it make sense that stories in node_modules would start being included in globs in this release?

[2022-09-07 16:30] ibrahimgabsi commented on #11548
@shilman I'm on 6.5.10 version but I still have this issue, can you give some updates about it?

[2022-09-07 16:37] jackw commented on #18876
We've been trying to upgrade to 6.5.x and this has also tripped us up. Unfortunately none of the above suggestions have helped us. We aren't writing `*.stories.mdx` but rather making use of arbitrary mdx and `parameters.docs.page` with an imported `.mdx` file in `story.tsx`. Downgrading addon-docs to 6.4.22 is the only way I've so far managed to keep the docs tab visible.

As reported by @bartaz I

[2022-09-07 16:45] Kwooda commented on #19008
Hello?

[2022-09-07 19:08] dtaltana commented on #9070
Thank you so much for posting this, this absolutely worked!

[2022-09-07 20:46] bmingles commented on #13747
I ended up writing a util function to help with this:

[code]

[2022-09-07 20:47] vandor commented on #18230
I ran into this issue as well. It appears to be a problem with webpack and node v17+ (see https://github.com/webpack/webpack/issues/14532)

The solution for me was to update my npm scripts for `storybook` and `build-storybook` in `package.json`:
[code]

This uses the `cross-env` package to set the NODE_OPTIONS environmental variable, but you could set the variable another way.

[2022-09-07 23:44] tmeasday commented on #19094
That release includes the PRs that include the error that is being thrown here, but AFAIK nothing that would influence the files that are processed by the indexer. So I'd hazard a guess that maybe the file was being processed before but it just didn't lead to an error? Couple questions @Niznikr:

1. Am I understanding correctly that the same file is matching more than once due to symlinks? (So it

[2022-09-07 23:59] IanVS commented on #18732
Should `@storybook/cli-storybook` and `@storybook/cli-sb` even _have_ a `prep` script?  They don't seem to have been generating any `dist` folders previously, and I can't think what the `entries` would be.

[2022-09-08 00:10] Niznikr commented on #19094
1. Correct it is a result of [symlinks via pnpm](https://pnpm.io/symlinked-node-modules-structure) workspaces
2. Yeah I only know that starting in `alpha.12` I get the `TypeError: Failed to fetch` error and using the custom glob that ignores `node_modules` fixes things

[2022-09-08 01:04] tmeasday commented on #19094
@shilman WDYT about this new behaviour? Do we consider it a bug? Do we need to document it?

[2022-09-08 03:08] shilman opened #19142 "CSF file with no stories results in cryptic error"
This file has a valid default export, but no story exports:

[code]

Resulting in:

<img width="1289" alt="image" src="https://user-images.githubusercontent.com/488689/189024958-57c62c39-6f97-4113-b147-5aeb210a76af.png">

[2022-09-08 07:09] beumsk commented on #18829
Hello, I face the exact same issue in Storybook for HTML. Is there any progress on this?

[2022-09-08 08:48] phil-tutti commented on #10618
I actually needed exactly this again, but the links to the docs are only showing a 404 page. I also tried looking for the docs elsewhere, but couldn't find them. Have they been moved? Is there a different way to do this now?

[2022-09-08 11:16] nowinskp commented on #12028
Can confirm the issue on 6.5.9 too.

[2022-09-08 13:38] ndelangen commented on #18732
No they probably do not need a prep script at all!

[2022-09-08 14:50] ndelangen commented on #2264
Thanks for that awesome suggestion @airtonix !

[2022-09-08 15:12] #16732 closed

[2022-09-08 15:22] anhdd-kuro opened #19148 "Allow using describe or test function in play function"
**Is your feature request related to a problem?

I'm writing interaction test in storybook
The problem is I want to use jest's describe or test function to separate and know what I'm testing inside play function
But for now both @storybook/jest and @storybook/testing-library don't have those functions
My interaction test file become long and hard to maintain and have to use comment to know what I'

[2022-09-08 16:41] embryCODE commented on #18094
Yeah, I'm getting the above too. Vue project, failing due to a React dependency. Madness.

[2022-09-08 17:02] DrUNE commented on #17482
In this example it hangs browser when you try to edit text in input:

`const MyInput = React.forwardRef<HTMLInputElement, TextInputProps>(({ icons, ...props }, ref) => {
  return <input ref={ref} {...props} />;
});

const Template: ComponentStory<typeof TextInput> = (props) => {
  const [localValue, setValue] = useState<string>('');

  const handleChange = (e: ChangeEvent<HTMLInputElement>) => {

[2022-09-08 18:12] melanieseltzer commented on #10618
@phil-tutti I think it lives here now: https://github.com/storybookjs/storybook/blob/next/code/addons/docs/docs/recipes.md#overwriting-docs-container

[2022-09-09 03:16] boid-com opened #19151 "init fails for quasar vite template"
**Describe the bug**
With a basic quasar (vue3, typescript, vite) project. Running `npx storybook init` installs successfully but `yarn storybook` fails with the error `TypeError: Cannot read properties of undefined (reading 'get')`

**To Reproduce**
[code]

[code]

**System**
[code]

**Additional context**
Also, I noticed that build-webpack is being installed when quasar is using vite, seems inco

[2022-09-09 05:10] phil-tutti commented on #10618
They indeed are. Thank you very much for the help, much appreciated!

[2022-09-09 06:30] fazulk commented on #18663
@bmulholland Thanks for the suggestion, I have been pulling my hair out for the past couple days trying to solve this one until i found this thread. I ended up needing to add a timeout like this to get it working. Super hacky! But works for now.
[code]

[2022-09-09 09:03] ndelangen commented on #18663
Just as a heads-up for users of (as of writing in alpha 7.0):
In storybook 7.0 we renamed this id to `#storybook-root`.

[2022-09-09 10:01] kestvirb opened #19155 "Not all props are being generated in controls for a certain component"
**Describe the bug**
Not all props are being generated in controls for a certain component.

![image](https://user-images.githubusercontent.com/95210075/189325240-52b33818-cd39-4127-a9cd-d9202f23522d.png)

**To Reproduce**

[code]
[code]

[code]

**Additional context**
I don't have issues with other components, even those using forwardRef, so was wondering what might be causing the issue.

[2022-09-09 11:53] ekowbaah commented on #6364
For anyone stuck with this, check out this article:
https://bitsnpixels.dev/blog/import-your-angular-scss-files-in-storybook.html

[2022-09-09 12:09] KyleTryon commented on #17220
I am currently showing 21 High vulnerabilities.

[2022-09-09 13:04] adamdiestelkamp commented on #14278
Hey! I'm running into this issue with Storybook when trying to group my Doc stories into a single snapshot for Chromatic.

I'm importing the stories for a particular component and then displaying them all together on a single page
`import * as stories from './docs.stories';`

But running into the same issue of if the story was using `Template.bind({})` it doesn't display correctly which makes the

[2022-09-09 13:43] DannyJoris opened #19157 "Storybook alpha 31 fails with Next.js and Typescript"
**Describe the bug**
A clear and concise description of what the bug is.

Storybook alpha 31 fails with Next.js and Typescript. It looks like when Storybook builds it does not recognize any TypeScript syntax. It throws errors when it encounters TypeScript syntax in Stories and React files.

This happens in our existing codebase when trying to upgrade from Storybook 6.5 to 7-alpha.31, but also when

[2022-09-09 20:44] JSMike commented on #17696
FYI, another way to get past this cors issue while doing local dev is to set your host to be '0.0.0.0' instead of 'localhost'

[2022-09-09 21:44] codthing commented on #18884
@fazulk I will try, thx fazulk

[2022-09-09 23:25] josedialpad opened #19160 ""No code available" when using manual configuration in Sb 6.5.10 and Vue 2.6.14"
**Describe the bug**
Using Vue CLI v5.0.8 to create a Vue2 project, running the npm7 migration, and setting up the [manual configuration](https://github.com/storybookjs/storybook/tree/next/code/addons/docs#manual-configuration) for webpack, the code for the story is not generated and shows "No code available".
Though if switching to another variant in the same story (e.g. from Primary to Secondary

[2022-09-10 03:11] shilman commented on #17220
@janaagaard75 storybook 7 is still WIP. i hope to get rid of the high severity vulnerabilities before we ship.

[2022-09-10 03:15] darenbt commented on #18732
Hi @ndelangen,
I'm hoping to contribute to your codebase by converting these json packages:
[code]
I'll be submitting a PR in the near future.

[2022-09-10 04:19] shilman opened #19163 "Addon-docs: DocsPage story sorting broken in V7"
Stories are sorted alphabetically on DocsPage, even when they are sorted correctly in the sidebar.

See reproduction in the addon-docs generic stories in which `Another` is sorted before `Basic`:

https://github.com/storybookjs/storybook/pull/19162/files#diff-c30e0cfbc01713e2dac4527bedfef88930352aa03330dd0771139689f2c1010b

[2022-09-10 06:23] lianapache commented on #19055
This seems to be an issue with [react-docgen-typescript-plugin](https://github.com/hipstersmoothie/react-docgen-typescript-plugin/issues/69)

[2022-09-10 17:47] Exifers commented on #18774
I have the exact same issue.
It's especially problematic with pnpm as when installing `ts-node@10` it's not visible to the dependencies, only to the package itself (unless [hoisting](https://pnpm.io/npmrc#hoist-pattern) but then it takes the wrong version, cf [here](https://github.com/pnpm/pnpm/discussions/5332)).

The only solution I found is falling back to a `main.js` file.

[2022-09-11 01:52] vladgorbachev commented on #17869
npx works fine,
but after
[code]
alpha31, react 18.2.0

[2022-09-11 01:59] vladgorbachev commented on #18045
![image](https://user-images.githubusercontent.com/32522459/189508558-f2564e36-3f1e-4a68-9b40-90320d3b0286.png)
![image](https://user-images.githubusercontent.com/32522459/189508567-1c507c03-9343-46dd-a543-df02ee6c5661.png)
I'm not sure correctness of result but twice result the same

[2022-09-11 02:01] vladgorbachev commented on #18045
I saw comment from @shilman how to fix but doesn't work

[2022-09-11 14:17] sonntag-philipp opened #19167 "custom-elements-manifest -> only "properties" are set when using iframe directly"
**Describe the bug**
The `slots`, `attributes` and possibly other declaration types are not applied when the component is opened in the iframe directly.

**To Reproduce**
The issue can be reproduced, but as I already spent much effort into debugging the issue I think an thorough explaination would help more.

**My problem**
When creating a new slot or attribute, I am able to set its value in the S

[2022-09-11 23:43] Semigradsky commented on #18045
@vladgorbachev why did you write it here? It is totally different issue, open your own.

Also, you use `7.x` version - it has break changes, read the migration guide at first (MIGRATION.md).

[2022-09-11 23:53] tmeasday commented on #18600
Hi @adrilolo9

Please create a reproduction by running npx sb@next repro and following the instructions. Read our [documentation](https://storybook.js.org/docs/react/contribute/how-to-reproduce) to learn more about creating reproductions. Paste your repository and deployed reproduction here. We prioritize issues with reproductions over those without.

---

Also, what framework/renderer is this? Yo

[2022-09-11 23:58] hayawata3626 commented on #18732
Hi @ndelangen!

I would like to contribute again.
Is it possible below?
[code]

[2022-09-12 00:24] tmeasday commented on #17330
Great analysis @Marklb and sorry for the delayed response. You are absolutely right and the answer is pretty simple:

Yes, they should export an annotation `applyDecorators` from their preview "config" file. This is a simple bug (🤦 ) -- it is exported as the wrong thing:

https://github.com/storybookjs/storybook/blob/bc436e15f1cd53207c5ffd7b93828de715c8a92f/code/frameworks/angular/src/client/confi

[2022-09-12 00:25] tmeasday commented on #17330
Would you like to submit a PR fixing it?

[2022-09-12 04:06] Saunved commented on #18732
I've been on vacation the last month! I'll pick up the pending packages in the next day or so 🤞

[2022-09-12 07:11] sonntag-philipp commented on #19167
@thepassle
Sorry for the notification, but maybe you could help me understand why things were previously implemented this way.

[2022-09-12 07:16] thepassle commented on #19167
Not sure, most of that code already existed when I worked on it. Maybe you can improve it and add support for other things as well :)

[2022-09-12 08:16] aymenmensi commented on #18704
Also, we should be able to set the default tab, I want it to open by default on the doc table not the stories

[2022-09-12 08:57] aymenmensi opened #19169 "Open on Docs tab by default"
# I want it to open by default on the doc tab and then be able to navigate as I used to

## Description
when using `viewMode: 'docs'` it doesn't load the docs by default at first and then when I change to another component story it goes to the doc tab, but when I toggle to another story from the same component it sends me back to the docs page

## scenario
1. Page loads at *http://localhost:6006/?

[2022-09-12 10:49] Daniel-Knights commented on #17518
Agree this could really use some improvement. For any user without knowledge of programming it's quite confusing how to use this control

[2022-09-12 11:16] Sidnioulz commented on #16750
Still an issue in 6.5.

[2022-09-12 13:15] Etzix commented on #19110
Confirmed happening to me too, except it jumps down. Might have to do with the videos/gifs playing on the site, because it seems to be jumping to that.

[2022-09-12 14:07] CasperSocio commented on #11587
## Solution Summary
I was struggling with this issue for a while and there's a ton of information here, so I'll just summarise what worked for a Svelte Vite setup in September 2022.

### Step 1
Rename `.storybook/main.js` to `.storybook/main.cjs`

### Step 2
In `.storybook/main.cjs` replace `require` with `import`:
[code]
Remember to include the file extension `.js`.

[2022-09-12 15:04] vitalii-bulyzhyn opened #19171 "Wrong links to Interractions documentation"
**Describe the bug**
Link on the app send us to [here](https://github.com/storybookjs/storybook/blob/next/addons/interactions/README.md), but the right path is [this one](https://github.com/storybookjs/storybook/blob/next/code/addons/interactions/README.md)

[2022-09-12 15:13] jonniebigodes commented on #19171
@vitalii-bulyzhyn, thanks for taking the time to open up the issue. We're aware of the fact that the addon is pointing to the wrong place in the documentation. Hope you don't mind, but I'm closing this issue as it's already being tracked in #18957.

Hopefully, a patch will be up soon addressing both issues.

Hope you have a great week.

Stay safe

[2022-09-12 15:13] #19171 closed

[2022-09-12 16:12] sethlivingston opened #19172 "Components are not being rendered (vite + react + tsx)"
**Describe the bug**
Storybook is detecting components but is not rendering anything on the canvas. There are no errors in the console.

**To Reproduce**
I tried to create a repo using your generator, but the `vite-react` skeleton does not build. If I can find some time this week, I will investigate that, too.

**System**

  System:
    OS: macOS 12.5.1
    CPU: (12) x64 Intel(R) Core(TM) i7-9750H

[2022-09-12 16:13] sethlivingston commented on #19172
Similar to https://github.com/storybookjs/storybook/issues/19056

[2022-09-12 16:24] sethlivingston commented on #19172
Resolved. We had an import build error in an unrelated file. I guess Vite wasn't putting everything together the way Storybook needed. I had to find the build error in a different console window.

[2022-09-12 16:24] #19172 closed

[2022-09-12 18:00] Kwooda commented on #19008
It would be nice to get some attention on this, please.

[2022-09-12 19:26] brandonthomas commented on #15370
Just did more digging and looks like we had an erroneous argTypesRegex so I think we're good now. It was pulling in a bunch of `on*` render functions. Removal of argTypesRegex fixed the issue.

[2022-09-12 20:39] javier-arango commented on #18732
Hi @ndelangen

I would love to help you guys with this. Is it possible I can help converting these packages:

[code]

[2022-09-12 20:50] IanVS commented on #18732
I think it's not necessary to ask for permission.  I suggest claiming them when you start working on them, just so others can know that they shouldn't start working on the same ones.

[2022-09-13 01:45] DiegoLopesLima commented on #14933
Any updates on this issue?

[2022-09-13 05:50] ziyafenn opened #19175 "Running Storyshots in a clean HTML app fails"
I installed Storybook and Storyshots addon on a clean HTML project with Jest. Followed the guidelines on how to initialize Storyshots, but every time i run the jest command to initialize the Storyshots, i get the following error:

[code]

After explicitly setting framework property within `initStoryshots` method to `HTML`, i get the following error:

[code]

Storybook is installed using WebPack5 b

[2022-09-13 07:43] ziyafenn commented on #17053
I have the same problem with HTML set up. Opened another issue: https://github.com/storybookjs/storybook/issues/19175

[2022-09-13 08:14] frassinier commented on #6867
Another quick solution using mdx-mermaid here if you want to use Markdown without JSX (and its import)

[code]

[2022-09-13 08:29] NominalTrajectory commented on #19151
@boid-com I'm having the same issue. Have you been able to resolve it?

[2022-09-13 08:39] Kretajak commented on #15819
Seems like the root cause of it is inside `inferArgsTypes`. This function merges argTypes, userArgTypesNames and userArgTypes.

`argTypes` are computed by Storybook and computed correctly, but later these `argTypes` are overwritten by `userArgTypes`. `userArgTypes` contains some very weird values. I'm not sure where they come from, but looks like they are generated by React DocGen. Here's how `use

[2022-09-13 09:26] MONTYYYYY commented on #17768
this article helped: https://bitcoden.com/answers/using-kebab-case-css-classnames-in-css-or-sass-modules-when-using-next-js

[2022-09-13 09:49] wKich commented on #15962
I have a similar problem, but in my case I have a preset in `.ts` which imports es module with `.js` extension. So I use this preset like this:
[code]

[2022-09-13 10:03] iscomandev commented on #17996
Maybe my method can fix someone's problem.

Before:
[code]
Actually in node_modules，I found package version is 6.15.X  . So I limit the semantic version like this.

After
[code]
Then `npm install` again.

This way work for my problem.

[2022-09-13 10:53] sarahquigley commented on #15401
Is there any plan to fix this issue?

[2022-09-13 11:14] shilman commented on #16732
Crikey!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.33 containing PR #19064 that references this issue. Upgrade today to the `@future` NPM tag to try it out!

[code]

[2022-09-13 11:14] shilman commented on #18732
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.33 containing PR #19140 that references this issue. Upgrade today to the `@future` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-09-13 11:14] shilman commented on #19020
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.33 containing PR #19019 that references this issue. Upgrade today to the `@future` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-09-13 11:14] #19020 closed

[2022-09-13 11:17] SirawichDev commented on #10654
I fixed all the problems by switched to use Node version 16 by `nvm use 16` and then `npx sb init` (if you did this command so many times and .storybook still not shown to your project I suggest to use `npx sb init -f`) and it worked

[2022-09-13 11:53] tigrr commented on #18094
I have a similar error coming from `@storybook/manager-webpack4` in my web components library.

[code]

[2022-09-13 14:23] IanVS commented on #13491
@dartess here's a recent slide from a monthly roadmap meeting that discusses the breaking changes in 7.0 to browser and node support: https://docs.google.com/presentation/d/187z_4QySXzrPReEpIYhdKWgwQDWMpxSNI0ZXb1NVXUo/edit#slide=id.g14ffbccc1fa_0_33

TL;DR: Storybook will support "modern browsers" (Chrome 100+, not sure about the details on Safari, Firefox, etc.), and Node 14+.

[2022-09-13 16:11] shilman opened #19176 "Presets: Support recursive addon imports"
Currently, addons can reference other addons by name. For example, `addon-essentials` has the following structure:

[code]

This matches how users configure addons in their `.storybook/main.js` file. However, it presents problems when it comes to package management / module resolution / hoisting, since the dependencies are implicit. If instead we supported the ability to reference other addons dir

[2022-09-13 16:27] IanVS commented on #19176
👍  This will help us to improve support for package managers that don't hoist, like pnpm and yarn pnp without some of the games we currently play like using `require.resolve()` to get an absolute path (which also always resolves to the cjs version, even if esm could be used).

[2022-09-13 17:19] ScubaDaniel commented on #16035
This is also a problem for us. It seems that the `history` module tries to grab `window.history.state` in which IE throws an error.

It seems like this should be wrapped in a try/catch on that module, as the fallback object in their code doesn't work for IE11.

It's this method: https://github.com/remix-run/history/blob/main/docs/api-reference.md#createbrowserhistory

[2022-09-13 17:30] jeangregorfonrose commented on #18732
Hi, @ndelangen,
I want to contribute to the codebase by converting these packages
`addons/essentials` `lib/addons`

[2022-09-13 18:46] katerberg commented on #13304
Same issue here.

[2022-09-13 21:14] mr-remington commented on #19117
I just stumbled into this, appears to be reproducible using a simple web app and the following docker file:
[code]

[2022-09-14 03:26] brendonco opened #19180 "Not able to load MDX in v6.5.8"
Not able to load MDX file in v6.5.8

**To Reproduce**
# file.stories.mdx

[code]

# main.js
[code]

**System**
Please paste the results of `npx sb@next info` here.

[code]

**Error**

[code]

[2022-09-14 07:59] ndelangen commented on #18732
@jeangregorfonrose `addons/essentials` should be very straight-forward!

I think `lib/addons` has been attempted before and was running into issues. #18805

[2022-09-14 09:04] shilman commented on #15498
@yannbf This is also an option for lit https://github.com/open-wc/open-wc/pull/2398

[2022-09-14 09:15] eendkonijn commented on #17413
Experiencing this issue as well, with or without defaultValue

[2022-09-14 10:15] sinoon commented on #14466
I have same error, and I found the reason Although I don't know how it happened.

the error occurred in cp-file:
[code]
when `fs.utimes(destination, stats.atime, stats.mtime),` will throw error, because the stats is wrong, you can console.log the stats.

my error stats is:
<img width="662" alt="image" src="https://user-images.githubusercontent.com/6065488/190127618-e0b5c448-5533-4614-8335-4c57d690

[2022-09-14 10:42] jamesjwarren commented on #14952
The `$app/env` example seems to be broken again with the latest sveltekit...

The `$app/env` import appears to have been moved to `$app/environment` https://kit.svelte.dev/docs/modules#$app-environment. I would've expected the same alias configuration to work as outlined above:

[code]

But with this we get the following error, that the module can't be found:
[code]

[2022-09-14 11:34] ld210 commented on #18435
The workaround didn't solve the issue for me,

[2022-09-14 12:40] sohamnandi77 commented on #7711
+1 Really in need of this.

[2022-09-14 13:54] yannbf commented on #15498
I wonder if we'll need to do something regarding the names of the args, given that we'd be spreading a mix of events, props and booleans and according to the docs, in that case, they'll have to be branded:

Example:
[code]

[2022-09-14 14:41] landoephan opened #19186 "Can't instrument code when serving production build"
**Describe the bug**
I'm having a storybook with vue3 and vite. I want to measure my code coverage via istanbul when I run playwright tests.
Therefore I configured my storybook vite under `.storybook/main.ts` as follows:
[code]

When I run storybook in dev mode with `start-storybook -p 6006` and execute my playwright tests afterwards, the code is instrumented (__coverage__ is not null) and a code

[2022-09-14 15:34] cameron-martin commented on #18559
`@mdx-js/mdx`, `@mdx-js/react` and `@mdx-js/loader` v1 is still used by the docs addon, which only support React 18. I did try upgrading these to v2, but hit a lot of issues with those packages and a lot of their dependencies being esmodule-only.

These are mentioned in the original post. Can this be re-opened?

[2022-09-14 17:28] Nerlin commented on #16941
I had the same problem today and I was able to fix it by removing a custom `config.optimization` entry from my `.storybook/main.js` file in the `webpackFinal` attribute:

[code]

[2022-09-14 18:06] spaceribs commented on #17330
Done, please review

[2022-09-14 20:05] omerfaran opened #19191 "TypeError: Cannot read properties of undefined (reading 'map')"
**Describe the bug**
I'm trying to run storybook test runner after installing it (being in nx environment):

`npx test-storybook --url http://localhost:4400 `

And getting the error in the terminal:
`[test-storybook] TypeError: Cannot read properties of undefined (reading 'map')`

I haven't created a reproduction yet because I'm not sure I'm allowed to. Does anyone know if this is actually a bug,

[2022-09-14 20:13] tim-phillips opened #19192 "`ts-node` in dependency tree breaks Storybook with TypeScript config"
**Describe the bug**

After following the instructions to [configure my project with TypeScript](https://storybook.js.org/docs/react/configure/overview#configure-your-project-with-typescript), if I install `ts-node` or a dependency that depends on `ts-node`, then `npm run storybook` exits with the following error:

[code]

If I remove the package then `npm run storybook` works fine.

**To Reproduc

[2022-09-15 09:30] JReinhold opened #19197 "@storybook/semver lacks types that are available in upstream semver package"
## tl;dr
Our usage of [`@storybook/semver`](v) is causing minor annoyances with types. Instead of fixing the types we could attempt to replace the usage of our own fork with the actual upstream [`semver`](https://github.com/npm/node-semver) that has types via [`@types/semver`](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/semver).

## The problem

Around 2 years ago we forke

[2022-09-15 10:12] captainspring commented on #18491
I have the same problem as well, also vue + storybook@6.5.9. :(

[2022-09-15 13:06] magersoft commented on #1708
I have devtools version 6.2.1, vue 3 and @storybook/vue3: ^6.5.12
for me not working, Vue.js not detected. How to fix it?

[2022-09-15 13:55] kismet-lee commented on #15336
I just wanted to mention here that installing webpack5 had gotten my Storybook issue back on track.
I used this code, we're running storybook.js with React.

`npm i -D webpack@^5.x.x`

[2022-09-15 14:39] mockingjet commented on #19056
any workarounds on this? This is a serious bug. 😢

[2022-09-15 14:44] lennartbuit commented on #12074
Stumbled on this too, maybe extend the check to use [`composedPath`](https://developer.mozilla.org/en-US/docs/Web/API/Event/composedPath) instead.

In my example, I have a `my-combobox` element, so `e.target.tagName === "my-combobox"`, but `e.composedPath()` has an actual `input` as first member.

[2022-09-15 15:19] shilman opened #19200 "Vue3 no longer exports app in 7.0-alpha"
This commit removes the `app` export from `@storybook/vue3`:

https://github.com/storybookjs/storybook/commit/24251e27f1233a568fd441df65af3355d89cf0f5#diff-63c4fc9feba520d3505ec8a6796e7d0576ef804b6f92d68ae8b8c2e64f18264c

We should try to restore it so that users can use it to add global components and directives.

[2022-09-15 17:40] scottfwalter opened #19201 "Angular Digest method not supported"
**Describe the bug**
I upgraded to Angular 14 and I can't get storybook to build successfullly.  I use
[code]

but I get:

[code]

**System**
Here are the relevant packages I have installed:

[code]

[2022-09-15 19:11] abhi40308 commented on #16941
i think updating storybook addons versions will fix this issue

[2022-09-15 21:48] sambunting commented on #16941
I've ran `npm update` in the test repository I posted a while ago, then ran `npm run test-storybook:ci` and I seem to be getting a different error:

[code]

Updating just `@storybook/test-runner` and `@storybook/testing-library` to the latest versions (`0.7.1` and `0.0.13`) will give me the same `Matcher error: received value must be a mock or spy function` error.

Then updating `@storybook/builde

[2022-09-16 00:02] thedamon commented on #17243
What an opportunity to demonstrate automated api documentation from jsdoc in storybook!

[2022-09-16 04:08] abhaykumar01234 commented on #18640
Facing similar issue:

[code]

[2022-09-16 05:11] rebelliard commented on #13515
Any tips here?

[2022-09-16 09:35] AthiNos commented on #12078
@ashnamuh thanks for the suggestion Flattening and unflattening worked wonders for my nested objects ❤️

[2022-09-16 10:25] robespmun commented on #18801
Fixed it for me too! Thanks for the tip

[2022-09-16 11:06] nperez0111 commented on #18571
At least with core-common it explicitly defines that it uses webpack 4:
https://github.com/storybookjs/storybook/blob/v6.5.12/lib/core-common/package.json#L92

I feel like this should be changed to "^4.0.0 || ^5.0.0" to allow either version. But I think that the default would be to install webpack 5 which would break the build of people not using the webpack 5 builder.

So the overrides option may

[2022-09-16 11:50] AlanGreene commented on #19075
Duplicate of https://github.com/storybookjs/storybook/issues/17436 and/or the issues already mentioned.

[2022-09-16 13:07] patrick-pf commented on #18491
Same problem 6.5.10

[2022-09-16 13:20] moglerdev commented on #15764
+1

[2022-09-16 13:42] BojanKogoj commented on #19201
Same error, upgraded to Angular v14.2.2 and @storybook/angular to 6.5.12.

[2022-09-16 15:41] leads commented on #18383
I know this has been closed but just adding my findings to it.

The above change to dependency `@mdx-js/preact` didn't work for me. It created a horrible chain of dependency issues 🤪

To get it sorted I needed -
upgrade storybook - now using 6.5.12

installed:
[code]

added the following to .storybook/main.js
[code]

The mdx pages now work but styles are missing (eg fonts).

[2022-09-17 02:11] shilman opened #19204 "Vue2 args handling"
Our framework-independent stories use a pattern where we override args to the `Pre` component, e.g.

[code]

This does not work with Vue2 args handling. We should change the way Vue2 rendering works to make it consistent with the other frameworks.

_Originally posted by @shilman in https://github.com/storybookjs/storybook/issues/19165#issuecomment-1249317346_

[2022-09-17 02:25] shilman opened #19205 "Svelte: Updating args causes a full page refresh"
https://github.com/storybookjs/storybook/issues/13913 but for Svelte

This causes failures in our new framework-independent rendering stories

[2022-09-17 06:03] mlegait commented on #18686
Hello 👋

I was also wondering if it could be possible not to fail if the directory already exists. I would like to be able to do something like that:
[code]
It works quite well when I launch Storybook locally but as soon as I want to build it in order to deploy it, it fails because of the error @dean-g mentioned above: `Error: EEXIST: file already exists, mkdir ...`

Being able to do that would be

[2022-09-17 16:37] KyleTryon commented on #18155
Up to 22

[2022-09-17 17:05] alexciesielski commented on #17330
I'm having the same problem in `7.0.0-alpha.33`

[2022-09-18 00:06] davidmh commented on #19050
In case anyone else is being blocked by this issue, I solved it by patching the package post-install with [patch-package([https://www.npmjs.com/package/patch-package):

`patches/@storybook+components+6.5.12.patch`

[code]

[2022-09-18 12:45] spaceribs commented on #17330
I don't believe these changes have been released yet, please wait until `7.0.0-alpha.34` at least

[2022-09-18 13:41] dungle-scrubs commented on #14686
In my individual stories, I'm adding

[code]

Instead of "Show code" it says "No code available" and is grayed out.

[2022-09-18 22:49] dayyad commented on #14694
This worked for me, although I still have to refresh the storybook in browser every time I start it to get it working.

[2022-09-19 06:08] dungle-scrubs opened #19208 "Source Doc Block - JavaScript not formatting properly"
When building a docs page and using `<Source />` with JavaScript via the `code` prop and using a template literal, it breaks when there's a line break in a specific location.

For example, here there is a line break above `return`,

[code]

Which leads to the error:

![CleanShot 2022-09-19 at 13 05 12@2x](https://user-images.githubusercontent.com/13479539/190958015-607dcc96-7962-4417-9b9f-34139106

[2022-09-19 06:25] mockingjet commented on #19056
I found that with `@storybook/builder-vite`, the default vite config has some react plugins

![image](https://user-images.githubusercontent.com/32839503/190959680-04c62c18-b348-4a07-8cf9-0676ddd0876d.png)

So I removed these plugin and restarted, the canvas page work.

[code]

However, the docs page fails: Uncaught (in promise) TypeError: Cannot read properties of undefined (reading 'isBatchingLeg

[2022-09-19 06:33] cxzx150133 commented on #12850
I think it's better to write this way, but the best solution is to modify the source code, otherwise you won't be able to enjoy the benefits of automatic generation.

[code]

[2022-09-19 08:45] BojanKogoj commented on #19201
Updating webpack to 5.74.0 fixed the issue.

[2022-09-19 09:21] clementcreusat opened #19210 "unknow description with storybook 6.5.0 and vitejs 3.0"
**Describe the bug**
`unknow` description in the Doc tab

<img width="1038" alt="Capture d’écran 2022-09-19 à 10 53 27" src="https://user-images.githubusercontent.com/89777926/190985718-06bc3240-7848-4f13-892e-907c50946870.png">

**System**
Environment Info:

  System:
    OS: macOS 12.4
    CPU: (8) arm64 Apple M2
  Binaries:
    Node: 16.17.0 - ~/.nvm/versions/node/v16.17.0/bin/node
    Yarn:

[2022-09-19 09:34] derekreilly1990 opened #19211 "When upgrading to react 18, getting an undefined object in Webpack"
**Describe the bug**
When attempting to upgrade to React 18, I am getting an undefined object from an internal storybook package,
` TypeError: Cannot read properties of undefined (reading 'options')`
![image](https://user-images.githubusercontent.com/14996120/190988355-1525c451-557d-4b27-94dc-65db7aab4474.png)

**To Reproduce**
Try upgrading to React 18.
upgrade react types, react and react dom.
r

[2022-09-19 09:36] derekreilly1990 commented on #19211
It seems like its this line from main.js
 // add toc plugins
    // mdxLoader.options.remarkPlugins.push(require("remark-git-contributors"));

    // add our custom toc plugin
    mdxLoader.options.remarkPlugins.push(
      require('../src/mdx-plugins/heading-structure')
    );

[2022-09-19 09:43] #19211 closed

[2022-09-19 15:33] scottfwalter commented on #19201
That worked for me as well.  Although I am hesitant about using a version of Webpack not certified by Angular.

[2022-09-19 15:58] IanVS commented on #19210
Out of curiosity, are you importing the button with the same name as the component is defined with in the file?  There's currently a bit of a limitation around that in the typescript docgen, I think.  @joshwooding I thought we (you) fixed that though.  @clementcreusat could you share the output of `npm ls @joshwooding/vite-plugin-react-docgen-typescript`?

[2022-09-19 15:59] joshwooding commented on #19210
@IanVS Im waiting for a fix to land in react-docgen-typescript officially. :(

[2022-09-19 16:06] clementcreusat commented on #19210
Hi !

For more context, in my library (@starter/core)
[code]

[code]

In `docs/storybook` workspace (@starter/storybook)

[code]

Output of `npm ls`:
[code]

[2022-09-19 16:24] DonnyVerduijn commented on #19148
The real question that undoubtedly comes up, is if we should envision the concept of a story as a single test or be unopinionated about it and let users decide for themselves.

[2022-09-19 16:29] clementcreusat commented on #19210
[code]

[2022-09-19 17:37] Kwooda commented on #19008
Bueller? Bueller?

[2022-09-19 17:44] rodrigomlpOz opened #19214 "Not able to customize documentation with MDX"
Hi everyone, I'm trying to customize the Docs tab of my Stories. I'm following the documentation :

https://storybook.js.org/docs/react/writing-docs/docs-page

Here is my code:

CommunityCoupons.stories.js
[code]

And then on

CommunityCoupons.mdx

[code]

For example:

<img width="524" alt="image" src="https://user-images.githubusercontent.com/55467806/191079600-114295bd-3981-4748-b3bf-c2ff699592

[2022-09-19 18:46] doolijb commented on #18846
Comments with Svelte have never worked for me in Storybook, whether in the component or inside `.stories.js`

[2022-09-19 19:28] life4aiur opened #19215 "Number control cannot be cleared"
Number control cannot be cleared or set to null

**To Reproduce**
Create any repo and initialize storybook, happens on any framework. Change the `Label` control for the generated "Button" story to be number instead of string. Whether it's required or not, once a value is entered it cannot be cleared out, it will always retain the last value held in the field.

**System**
Environment Info:

  Syste

[2022-09-19 21:11] doolijb commented on #18749
Still an issue.
Running Svelte with Vite

`Node v18.9.0`
`npx  @roxi/routify@next create .`
`npx storybook init`

Decorators will render but the children (story component) does not.

[2022-09-19 21:42] iamcsharper commented on #18920
Hi! Could you please provide an example? Can't see how a plugin for esbuild can be applied to storybook's vite pipeline

[2022-09-19 22:40] doolijb opened #19217 "Svelte: Adjacent JSX elements must be wrapped in an enclosing tag. Did you want a JSX fragment <>...</>?"
**Describe the bug**
Fresh Svelte/Vite project initiated with Routify 3.
JS/X method of declaring decorators is broken.
Attempted to use svelte syntax for stories instead as a work-around.

Using `FooBar.stories.svelte` format results in error `Adjacent JSX elements must be wrapped in an enclosing tag. Did you want a JSX fragment <>...</>?`

**To Reproduce**
`$ node v16.17.0`
`$ npx @roxi/routify@

[2022-09-20 00:36] pushred opened #19218 "PostCSS dependency conflict in fresh CRA v5 + Storybook project following node_modules and package-lock.json removal"
**Describe the bug**

As the repro demonstrates I have created a project using Create React App and Storybook init scripts, like so:

- `npx create-react-app <name> --template typescript`
- `npx storybook init`

The result works, until I reach a point in the project where I need to remove `package-lock.json` and `node_modules` in order to address some unrelated dependency issue. If I install depen

[2022-09-20 00:38] pushred commented on #18298
Reporting that the workaround didn't get me too far in the real world. Details and reproduction submitted in https://github.com/storybookjs/storybook/issues/19218

[2022-09-20 01:41] hirotaka commented on #17274
I used the above code for my project, and it was working fine(Thanks, maicolbruski!).
But, after upgrading Storybook to v6.5.12, I started getting errors.
I asked on Discord and IanVS showed me the code below, and it now works as expected.

[code]

However, this is a temporary workaround and MDX will not work properly.

[2022-09-20 01:45] hirotaka commented on #17274
@LiamKarlMitchell If you would like, please refer to my repository.
https://github.com/hirotaka/bulletproof-vue

[2022-09-20 04:53] JSMike commented on #15805
Also experiencing this in a composed storybook, specifically for the viewport, measure, outline, and a11y tools. The buttons appear and url changes when the buttons are selected but the addons don't apply unless you toggle between to the docs tab and then back to the canvas after the urls changes. Standalone the addons work as expected. The viewport tool doesn't work at all in the composed storybo

[2022-09-20 07:27] asirko commented on #17004
I have a similar issue. But it's not only inputs but also all property of my component with a default value.

MarkB, from the storybook discord, pointed me that compodoc was responsible of wrong analysis of the component and it was stringifying default values.

I dig it a bit and indeed, all default values were stringified directly in the documentation.json generated by compodoc which is created r

[2022-09-20 07:49] clementcreusat commented on #19210
My workaround for now is to change stories paths in `main.js` in storybook directory:

[code]

[2022-09-20 07:54] ngirardin commented on #15051
I was having the same problem a simple `react-hook-form` using `tailwind`.

Thanks @austinmccalley , your fix worked and you saved me a lot of time!

[2022-09-20 08:22] Juanjo-GEx opened #19220 "Problems using decorators with Vite"
Trying global decorators throws a server error:

[code]

This is Vite's config file::

[code]

This is the Storybook configuration `main.cjs` file:

[code]

This is the use of decorators in `preview.cjs`:

[code]

[2022-09-20 12:52] YoanDo commented on #18387
Hi @wegry!
I have the same issue. I'm using CSF [play function](https://storybook.js.org/docs/react/api/csf#play-function).
Could you give me more details about how you resolved it ?

[2022-09-20 12:58] wegry commented on #18387
@YoanDo `Your test suite must contain at least one test.` seems to have a number causes. If you're already using CSF, your issue is likely something different.

[2022-09-20 13:13] BorisL91 commented on #17086
Any update on this topic? I happen to run into this when integrating the test-runner for interaction testing.

[2022-09-20 13:20] DefinitelyADev commented on #13731
+1

[2022-09-20 14:17] aaronjones1 commented on #14257
Storybook `v6.5.12`
Angular `v14.2.2`

I'm seeing this error as well, but SB seems to run fine.

[code]

1. I have `webpack5` installed as a dev dependency in the workspace.
2. My workspace contains an Angular component library and a test a app.
3. The test app has environment files.
4. The component library is the default project.
5. I have Storybook configured in `angular.json`.

[2022-09-20 14:56] ChrisPlease commented on #12666
Still seeing this in 6.5.10

[2022-09-20 16:10] farhandotdev opened #19222 "Adding the dark mode for better experience."
**Is your feature request related to a problem? Please describe**
A clear and concise description of the problem. E.g. I'm always frustrated when [...]

**Describe the solution you'd like**
What would you like to see added to Storybook to solve problem?

**Describe alternatives you've considered**
Any alternative solutions or features you've considered.

**Are you able to assist to bring the featu

[2022-09-20 16:31] DzmVasileusky opened #19223 "Unexpected token if there is a line break in template function in mdx"
**Describe the bug**
checkbox.stories.mdx
[code]
Throwing the error:
[code]

And it is working fine if I will remove line breaks
[code]

**System**
Please paste the results of `npx sb@next info` here.
Environment Info:
[code]

[2022-09-20 18:10] derekreilly1990 opened #19224 "Types errors after React 18 update"
**Describe the bug**
We are receiving a tonne of typescript errors from packages used by storybook after upgrading our packages to react 18
![image](https://user-images.githubusercontent.com/14996120/191329614-65d05d07-828f-41d6-881d-9937f3db16f0.png)
It seems to be coming from a story internal dependency on reach router among others

**To Reproduce**
repro is not working.
1. upgrade react react-d

[2022-09-20 19:34] pushred commented on #19218
I've managed to workaround this issue (so far) by overriding a Sass-related Webpack plugin that react-scripts/CRA require, called [resolve-url-loader](https://github.com/bholloway/resolve-url-loader). The version required depends on PostCSS v7 but the latest major version upgrades to PostCSS v8. The override creates a separate issue where PostCSS is not found and builds fail with this error:

[cod

[2022-09-20 19:39] IanVS commented on #18258
I can also confirm I'm experiencing this (or a very similar) issue after updating to react 18 (and storybook 7-alpha.33).  I have the validation error problem as shown above, but also the first character is sometimes lost from `await userEvent.type();`.  For instance:

[code]

Results in `234` in the field.  But if I add a 1ms sleep, then it's fine, and the whole thing is typed correctly.

[2022-09-20 20:28] pushred commented on #19218
Actually optional dependencies are not a possibility for this, due to a separate issue concerning CRA:

https://github.com/storybookjs/storybook/issues/12625

[2022-09-21 02:04] broodfusion commented on #5183
The `npm` equivalent would be to use `overrides`:
[code]

Though you need npm >= 8.3

[2022-09-21 06:50] wbr911 commented on #11434
after my investigation. the easy way is to add additional `named export`  since react-docgen-typescript only support `named export`

# before
[code]

# change to
[code]

[2022-09-21 07:05] rwagatenga commented on #19214
@rodrigomlpOz have you wrapped in `Meta`, `Canvas` and `Story` component from `@storybook/addon-docs` in `story.mdx` file?

[2022-09-21 08:33] vorbrodt commented on #19197
Hello, new contributor here! :)

I would like to be assigned to this issue.

[2022-09-21 08:49] user-aslkdflkc opened #19225 "Type Errors With Angular Package"
**Describe the bug**
I'm having trouble getting Storybook to install. I'm able to install it with a fresh Angular 13 repo, but as soon as I import the popular calendar package [fullcalendar](fullcalendar.io) it stops working. Here's a minimal repo reproducing the error. (I don't think it's specific to that package, because you get the same error if you have a minimal repo using other packages as w

[2022-09-21 10:10] n0rdlicht commented on #17326
Same here. Added the alias and it seems to be working. But as soon as I import anything from `@storybook/jest` aliased to `vitest` I also get a `Cannot read properties of undefined (reading 'includes')`.

Just trying to get the [example from the docs](https://storybook.js.org/docs/vue/essentials/interactions#writing-interactions) working.

[2022-09-21 10:10] joshwooding commented on #19220
Hi @Juanjo-GEx, Could you try naming the preview file preview.jsx. I have a suspicion that vite will only transpile React code in mjs, js,j sx, ts or tsx files.

[2022-09-21 10:14] joshwooding commented on #18601
@humarkx Do you still encounter this? Storybook 7 now has vite support.

[2022-09-21 10:20] Klowes commented on #11486
I'd appreciate this feature, I think you should just open this up for us.

just let us straight register components to be used as controls, I'm writing a Vue app, but I'd gladly do some react like it's 2018 if that was supported 😛

[2022-09-21 11:01] Juanjo-GEx commented on #19220
Thanks for the answer josh. We are advancing.

I tell you the test cases:

1- Storybook running
-    Run Storybook `npm run storybook`
-    Rename the file `preview.cjs` to `preview.jsx`
Result: **Works**
-   Stop running Storybook
-   Run Storybook again `npm run storybook`
Result: **Fails**

[code]

2- Storybook no running
-    Run Storybook `npm run storybook`
Result: **Fails**

[code]

[2022-09-21 11:01] nilzona commented on #13824
how did that help you? did you not include SystemJS in your storybook at all?

[2022-09-21 11:29] joshwooding commented on #19220
@Juanjo-GEx The error text contains a link to the migration guide which gives you more information.

You should replace your sort with:

[code]

[2022-09-21 11:41] JReinhold commented on #19197
Welcome @vorbrodt, it's all yours!

Let me know if you need any help.

[2022-09-21 14:54] huraji commented on #11466
How did you fixed this? I am having the same issue with nx / react.

[2022-09-21 15:52] YoanDo commented on #18628
I have exactly the same issue.
@lucasriondel @msclp did one of you find any solution ?

[2022-09-21 17:16] TheColorRed commented on #19214
I have recently started having this issue. It was working last week till I ran `npm i`

![image](https://user-images.githubusercontent.com/1571806/191569296-7a8c64fa-a2cd-4eae-b6d2-c02918857df9.png)

[2022-09-21 17:34] nickmccurdy commented on #18963
It would be great to support `.astro` components too, so I don't have to use a frontend framework to take advantage of Astro components in Storybook. It uses Vite internally, so we may be able to write a plugin or fork for the Vite builder.

[2022-09-21 18:09] Juanjo-GEx commented on #19220
Indeed mate. You're right. Problem solved!

[2022-09-21 18:16] rodrigomlpOz commented on #19214
If we look at the docs, adding Canvas/Story adds extra styling to the Docs tab, but they are not necessary. It should work with Markdown out of the box.

[2022-09-21 18:31] rachelholtz commented on #19061
Any update on this?

[2022-09-21 23:13] binomialstew opened #19229 "Migration.md documentation link is broken"
The link here:
https://github.com/storybookjs/storybook/blob/ea70649db9bce2ed4ad2b1eaa13a380fb8cc8e57/MIGRATION.md#docs-framework-refactor-for-react

Goes to a 404:
https://github.com/storybookjs/storybook/blob/next/app/react/src/server/framework-preset-react-docs.ts

[2022-09-21 23:17] kherock commented on #18876
I'm seeing this again after noticing that what seemed to fix it locally didn't end up doing anything after it went through my CI. I'm not even using MDX at all in this storybook - the only things that are somewhat out of the ordinary are that I'm using Yarn 3 and have a custom `preview.tsx` file.

[2022-09-21 23:40] kherock commented on #18876
I came up with another potential fix:

[code]

I noticed that the docs page comes back if I enabled the docs addon via `addon-essentials`. I compared the way that it resolves presets and noticed that it uses `require.resolve('<addon>/package.json')`.

It seems like the problem might be in the way the addon loader resolves files under the package root. My build doesn't work with node_modules enable

[2022-09-22 00:43] IanVS commented on #19220
Glad you got it working!

[2022-09-22 00:43] #19220 closed

[2022-09-22 00:52] IanVS commented on #18963
I agree this would be really cool.  It's something that @jonathantneal was talking about a while back as well.

If I understand correctly, we'd need to create a new `renderer` for Astro that uses Astro's compiler to turn `.astro` files into a `.ts` file with a default export.  Then the easy part is creating a new `framework` that connects up that renderer with the vite builder, and any other confi

[2022-09-22 00:57] IanVS commented on #17326
@n0rdlicht can you explain what you want to accomplish by using vitest this way?  `@storybook/jest` is really just two small packages, `expect` and `jest-mock`.  Are you wanting to use vitest's assertions (chai) and it's mocking system?

[2022-09-22 00:58] IanVS commented on #19217
@doolijb You'll need to install and use https://github.com/storybookjs/addon-svelte-csf in order to write svelte-native stories.

[2022-09-22 01:04] IanVS commented on #18920
Vite does not polyfill `process` for the browser like webpack does.  You'll want to use `import.meta.env` instead, for code that runs in the browser.  See https://vitejs.dev/guide/env-and-mode.html#env-variables.

If you want to add esbuild plugins, I believe you can use the `esbuild` option (https://vitejs.dev/config/shared-options.html#esbuild), though I haven't done that before myself.  You can

[2022-09-22 01:12] IanVS commented on #19151
@NominalTrajectory @boid-com do you have a `vite.config.js` file in your quasar project?  If not, you'll need to pass `--builder=vite` explicitly to `npx storybook init`.  We use the presence of that config file to determine whether or not to use the vite builder.

[2022-09-22 01:15] IanVS commented on #18641
This normally happens when there is another error somewhere else.  Do you see any error messages in the terminal?  If you see messages about vite finding dependencies to optimize, you can add those to `optimizeDeps.include` in `viteFinal` as shown in https://github.com/storybookjs/builder-vite#customize-vite-config.

[2022-09-22 01:16] IanVS commented on #19081
Let us know if that's not working for you, but it should.

[2022-09-22 01:16] IanVS commented on #19034
Closing, let us know if you still have trouble.

[2022-09-22 01:16] #19034 closed

[2022-09-22 01:18] IanVS commented on #18891
You're right, @JakubPradeniak, thanks for explaining.  We found this behavior to be confusing, and in 7.0, we _will_ read and use your `vite.config.js` automatically, which should hopefully make things easier.

[2022-09-22 01:18] #18891 closed

[2022-09-22 01:18] Kwooda commented on #19008
Ping

[2022-09-22 02:11] yogarasu commented on #19034
@IanVS

Thank you, when I tried it with 7.0.0-alpha.33, the command worked, so there seems to be no problem.
The transition to CSF3 was also perfect.

[code]

[2022-09-22 02:20] yogarasu commented on #19034
@IanVS

sorry i was looking at the wrong file
I confirmed the phenomenon that Value is mixed with migrate command of csf-2-to-3.

If there are no duplicate issues, I make issue.

<img width="584" alt="スクリーンショット 2022-09-22 11 16 00" src="https://user-images.githubusercontent.com/68766032/191643709-e6e81f77-a146-4196-8b1b-e63b305e702c.png">

[2022-09-22 02:34] IanVS commented on #19034
I don't see an issue for that, and I haven't heard of it before, so yes, please do open an issue, ideally with some steps to reproduce it, if possible.  Thanks!

[2022-09-22 08:58] derekreilly1990 opened #19231 "'children' does not exist on Canvas element from addon-docs"
**Describe the bug**
ERROR in C:/Users/G024837/IdeaProjects/builders-core/storybook/src/theme/layout.tsx(80,14):
TS2322: Type '{ children: Element; className: string; withSource: SourceState.NONE; }' is not assignable to type 'IntrinsicAttributes & PreviewProps & { withSource?: SourceState; mdxSource?: string; }'.
  Property 'children' does not exist on type 'IntrinsicAttributes & PreviewProps & {

[2022-09-22 12:31] LinnJS commented on #19055
Having the same issue happy to see this issue is known 😄

[2022-09-22 16:45] jnarowski opened #19233 "Vue3+Typescript Controls Not Generating from Types"
**Describe the bug**
The controls are not populating with the info from our types. We do not want to define all of our controls twice (once in Types and once in Storybook). The only way we can justify storybook for Vue3/Typescript is if it automatically infers the controls and control options from the Types in the component.

https://jmp.sh/7Wp13yz

**To Reproduce**
[Here is the code sandbox link

[2022-09-22 17:32] yogarasu opened #19234 ""value" is mixed when migrate CSF"
**Describe the bug**
After running the CSF migration command below,the xxxx.stories.tsx file has mixed "values".
I investigated the reproducibility,and it seems that it happens when writing the `prettier-plugin-tailwindcss` plugin in postcss.config.js.

[code]

**To Reproduce**

The Reproduced repository is below.
https://github.com/yogarasu/test-migrate-csf

**System**

[code]

**Additional conte

[2022-09-22 17:35] yogarasu commented on #19034
@IanVS
Prittier plugin seems to interfere.
I don't know the detailed cause, but I created an issue #19234 just in case.

[2022-09-22 17:51] yogarasu commented on #19234
It is an example of Button.stories.tsx, but it looks like this.

<img width="717" alt="スクリーンショット 2022-09-23 2 50 34" src="https://user-images.githubusercontent.com/68766032/191817038-2bca0274-69b5-4f6f-8e1d-4fcefab80e4d.png">

[2022-09-22 19:01] 7studio commented on #19079
Hi,
I can confirm this issue too :disappointed_relieved: with:
[code]

### More information

This is the Storybook config in `main.js`:
[code]

The `build-storybook --output-dir ./docs` command outputs:
[code]
**Result**: into `docs/assets/`, all files from `./assets` are inside but no file from `../build/assets` has been copied.

Strangely, all files are correctly served with `start-storybook`:
[

[2022-09-22 19:11] coopbri commented on #13634
Worth mentioning that Storybook ships with two `useGlobals` exports. I was originally importing `useGlobals` from `@storybook/api` which, like you, was `undefined` in stories/preview. Importing from `@storybook/client-api` worked for me:

[code]

Very confusing imo, but give that a shot if you haven't.

[2022-09-22 19:14] TheColorRed commented on #19214
Here is my page content

[code]

Here is what is generated:

[code]

[2022-09-22 19:30] TheColorRed commented on #19214
Adding these into my dependencies solved the issue. I think it was mostly because I was using `@mdx-js/react 2.x.x`

[code]

see:
* https://github.com/storybookjs/storybook/issues/18094#issuecomment-1217135470
* https://github.com/storybookjs/storybook/issues/18094#issuecomment-1248188582

[2022-09-22 20:11] tigfamon commented on #16569
Same problem here

[2022-09-22 22:27] leads commented on #11984
Hello.

I'm hoping to pass a value into a story argTypes - is this the right chat for that?

It might look something like
[code]

And it would be created in preview.js?

[2022-09-23 03:28] doolijb commented on #19217
Oh weird, is csf included automatically now?
Regardless, installing and declaring it in `main.cjs` gives the same result.

[2022-09-23 06:51] rchanaud commented on #16880
I get this error only with `storyStoreV7` enabled (6.5.10)

[code]

[2022-09-23 08:54] YoanDo commented on #18240
same issue

[2022-09-23 11:29] LuisChiej commented on #18732
@ndelangen, I could pick up `lib/channels` and [lib/channel-websocket](https://github.com/storybookjs/storybook/blob/next/lib/channel-websocket/package.json)

[2022-09-23 11:45] LuisChiej commented on #18732
@IanVS, I'm new to the repo though, could I get a guide?

[2022-09-23 12:51] IanVS commented on #18732
Sure thing, you can checkout https://github.com/storybookjs/storybook/blob/next/CONTRIBUTING.md for overall repo setup, and there are some instructions in the original post above if you spin down the `How does this script work?` summary.  If you have other questions, feel free to ask here, or in the storybook discord: discord.gg/storybook.

[2022-09-23 13:47] derekreilly1990 opened #19236 "Type Error from Canvas component"
### Discussed in https://github.com/storybookjs/storybook/discussions/19232

<div type='discussions-op-text'>

<sup>Originally posted by **derekreilly1990** September 22, 2022</sup>
Hey we are getting the following type error from the Canvas components, has anyone else experienced this?

[code]
![image](https://user-images.githubusercontent.com/14996120/191736265-5b475643-db23-42cb-8f6a-e730a89b5e

[2022-09-23 13:48] #19236 closed

[2022-09-23 13:49] derekreilly1990 commented on #19231
Any chance of getting a response on this?
Is there a workaround? our teams are waiting on React 18 support :-)

[2022-09-23 14:20] Ruben-E commented on #18925
Same issue here.

According to the [docs](https://storybook.js.org/docs/react/sharing/storybook-composition#compose-published-storybooks):

Would this basic functionality (a.o. viewports) also be limited by this or is this an actual bug?

[2022-09-23 14:35] stuffaboutpete commented on #14986
This is definitely a point of confusion.

The fact that you can supply an array of globs in `main.js` implies that you can make your own choice. When I moved my `mdx` files to a new directory named `documentation` I update the globs as the `.stories.mdx` extension seemed verbose at this point - and Storybook gave me the message 'nothing found'.

[2022-09-23 15:11] ryanoglesby08 commented on #6364
@daniloarcidiacono Thank you for debugging that! I was struggling with the same issue and your comment helped me resolve it.

I did a little more digging into `@storybook/preset-scss` and discovered an easier way to set `sideEffects: true`. You can simply pass it as an option to the addon.

See source here: https://github.com/storybookjs/presets/blob/master/packages/preset-scss/index.js#L31

[code

[2022-09-23 20:48] wadefletch commented on #11492
Checking in again in September.

[2022-09-24 05:06] royrimachi commented on #17768
I solved removing the configuration of package `storybook-addon-sass-postcss` in main.js.

[2022-09-24 11:59] yaman3bd opened #19242 "[Vue warn]: Invalid VNode type: button (string) when writing TSX syntax"
**Describe the bug**
I am working on a Vue 3 components library and I am writing the components using TSX syntax, but when I try to add the component to storybook it gives me these warnings in the developer console:
![Screen Shot 2022-09-24 at 2 31 44 PM](https://user-images.githubusercontent.com/58285821/192095598-348421ca-1aaa-47b4-8a97-868e0b7037f3.png)
my component:
[code]
but when I changed m

[2022-09-24 12:18] shariqx5 commented on #18732
Hey @ndelangen, I'd like to pick `lib/source-loader.`

[2022-09-24 13:46] dimitrieh commented on #9209
Curious if there is an option to just hide all stories altogether. Rather, I'd surface them through the documentation. This would drastically simplify sidebar navigation for more documentation-first focused storybook implementations.

cc: @irnnr @michaltaberski

[2022-09-24 13:56] IanVS commented on #9209
@dimitrieh you might be interested in the upcoming "Portable Stories" feature being worked on in 7.0 that will allow stories to be rendered into react-based frameworks like Next or Rakkas. Then you can have complete control of the docs and how they're shown.

[2022-09-24 17:44] aneuhold opened #19246 "storyStoreV7 and Svelte"
### Discussed in https://github.com/storybookjs/storybook/discussions/18216

<div type='discussions-op-text'>

<sup>Originally posted by **dimfeld** May 12, 2022</sup>
It appears that Storybook doesn't find any stories when using `storyStoreV7` and Svelte stories in CSF format, since the `StoryIndexGenerator` [skips Svelte files](https://github.com/storybookjs/storybook/blob/612b03d75cea8c1d821322

[2022-09-24 19:06] shariqx5 commented on #18732
Hey @ndelangen, I'd like to pick `lib/source-loader.`

[2022-09-24 20:47] laurent-brisbois commented on #18051
I have the same problem. I have to wait an inconvenient time.

[2022-09-25 03:57] TwinkieLover commented on #18278
I'm seeing this error when using Web components (Lit) + SB. Following this issue [(Storybook cannot be built on packages using "type": "module" #11587)](https://github.com/storybookjs/storybook/issues/11587) progressed me to build without errors but SB simply doesn't load content, either dev or transpired to static site. Therefore, it appears this error is an ESM implementation blocker for me, pot

[2022-09-25 12:51] kellyrmilligan commented on #9997
@default seems to be working for me ATM.

[2022-09-26 01:55] pjedwabny commented on #19192
I think that in case of presence `ts-node` **Storybook** use it to interpret config and there is some incompletness in documentation. **Webpack's** documentation recommend another approach to write it's config in **TypeScript**, which also works with **Storybook** - override `ts-node` configuration in `tsconfig.json`

https://webpack.js.org/configuration/configuration-languages/#typescript

[code]

[2022-09-26 02:20] IanVS commented on #19242
I think this might be the same issue as https://github.com/storybookjs/storybook/issues/19056.  We add a react plugin to handle mdx, but didn't realize it would break vue/svelte tsx.  I think it might be resolved soon in 7.0, which is switching to mdx2 and doesn't need the react plugin.

[2022-09-26 02:21] treesen commented on #14110
any update?

[2022-09-26 10:07] shriharij opened #19252 "Provide a way to conditionally stop scrollIntoView from storybook docs"
Problem Statement:
I am including the storybook docs URL as source of iframe in an another web application that displays all the stories and other additional info. However, the page gets auto scrolled to the first story in the docs page. Which is a problem as there are other information on top of that iframe which user requires to go through first.
Looking at the code, apparently DocsContainer.tsx

[2022-09-26 12:27] user-aslkdflkc commented on #19225
Hi there,

No pressure, I know you guys are swamped with the v7 release. I just wanted to let you know that we we're here if you have any questions about this issue. We're very excited to use storybook for writing all of our angular components in our production system, but type errors like this keep coming up which prevent us from using it. We've been debugging for a little over a week, and don't

[2022-09-26 14:56] hlehmann commented on #16555
This issue seems to remains for with builder-vite, as I understand manager-webpack4 is still used.

[2022-09-26 15:03] shilman opened #19261 "Remove addon-jest from the monorepo"
We're trying to control the size of the monorepo, so let's move out addons that are not part of essentials and which we don't have plans to add in the future.

[2022-09-26 15:19] IanVS commented on #16555
@hlehmann that's true in 6.5, but in 7.0 webpack is not used in the vite builder at all.  I'd suggest trying out the new alpha version if you're having issues here.  `npx sb@future upgrade --prerelease`.

[2022-09-26 16:09] bebbi opened #19262 "new version opens browser despite "BROWSER=none""
**Describe the bug**
A clear and concise description of what the bug is.

Running this package.json line:
[code]

always avoided opening a default browser window/tab up to `^6.3.8`, but after upgrading to `^6.5.12`, storybook consistently opens a new default browser tab again everytime it's run.

**To Reproduce**

I've issued that command & read the docs

but ended up with a package.json missing s

[2022-09-26 17:14] klauskpm commented on #5183
This worked for me. I also needed to override the webpack version like this:
[code]

I'm using Storybook v6.5.0, `react-scripts` v4.0.3, and React v16.13.0.

[2022-09-26 19:49] Tim-arts commented on #19262
https://github.com/storybookjs/storybook/discussions/12186

[2022-09-27 02:20] #18783 closed

[2022-09-27 02:26] lauqerm opened #19264 "[React] Passing a mapping of React component as prop cause the app to become unresponsive"
**Describe the bug**
If I pass a mapping of React components as a prop into any component belong to a story, the app become completely unresponsive.

The content of prop itself, nor does its name, does not matter, as long as it is a mapping of React component.
[code]

If I put this props in any component in a story file, the app will become unresponsive right after update, even if it not, a simple

[2022-09-27 03:50] shilman commented on #12208
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.34 containing PR #18930 that references this issue. Upgrade today to the `@future` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-09-27 03:50] shilman commented on #15368
Great Caesar's ghost!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.34 containing PR #15472 that references this issue. Upgrade today to the `@future` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-09-27 03:50] shilman commented on #16642
Yippee!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.34 containing PR #18999 that references this issue. Upgrade today to the `@future` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-09-27 03:50] shilman commented on #18732
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.34 containing PR #19173 that references this issue. Upgrade today to the `@future` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-09-27 03:50] shilman commented on #18829
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.34 containing PR #18888 that references this issue. Upgrade today to the `@future` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-09-27 03:50] #12208 closed

[2022-09-27 03:50] #15368 closed

[2022-09-27 03:50] #16642 closed

[2022-09-27 03:50] #18829 closed

[2022-09-27 03:56] treesen commented on #19160
+1

[2022-09-27 07:15] DarwinOnLine commented on #19225
Same problem here. I have [fullcalendar](https://github.com/storybookjs/storybook/issues/fullcalendar.io) in my project, and exactly same errors.
Additionaly, my custom elements I want to display in my stories are ignored.
(in this example, I have a `CardComponent` component, with a `app-card` selector):
`NG0304: 'app-come-element' is not a known element (used in the 'StorybookWrapperComponent' co

[2022-09-27 08:50] huraji opened #19266 "ERR! SassError: expected "{""
I am getting the following error when I do `nx build-storybook @my-project-name`:

[code]

I am working with `nx` on the [default storybook configuration](https://nx.dev/packages/storybook) for workspace.
This started to happen when we imported some global `.scss`

My `.storybook/main.js`
[code]

My `frontend/<my-project-name>/.storybook/main.js`
[code]

My nx report
[code]
This repo https://githu

[2022-09-27 09:28] The-Code-Monkey commented on #11933
I have tried all of the above, work arounds an none of them work, I have styled components and also am pulling types from a third party lib and my props come through but the third party ones dont? any reason for this?

[2022-09-27 12:08] mandarini commented on #19266
Posting here as well, that's not an issue with Nx. The reproduction repository I created which is linked in the issue description (https://github.com/mandarini/sb-scss-bug) is a plain React app, generated with `create-react-app`, and then I used `npx sb init`.

[2022-09-27 13:02] IanVS commented on #18732
19/41 complete, almost half-way!

[2022-09-27 14:43] trystan2k commented on #18383
Same happens to me. I enabled MDX2 but lost all styles in MDX pages...

[2022-09-27 15:23] Smolations commented on #6867
For those having issues importing `mdx-mermaid/Mermaid` into their current projects such as myself and @eskimoblood, creating a small component to render diagrams via the core `mermaid` package (required by `mdx-mermaid` as well) is fairly trivial, though admittedly it's got its quirks 😋:
[code]

Usage in MDX:
[code]

[2022-09-27 16:35] mswezey23 commented on #12538
This worked for me:

`SOURCE ADDRESS: </^[^.]+$|\.(?!(html|css|gif|ico|jpg|js|png|txt|svg|woff|ttf)$)([^.]+$)/>` redirects to `/index.html` status: `200 (rewrite)`

So far, I haven't needed to include the iframe rule. I'll monitor and report back.

[2022-09-27 16:56] Kwooda commented on #19008
Man, the crickets are LOUD in here...

[2022-09-27 17:38] mateusvahl commented on #19041
I would love to see it documented somewhere 🙇‍♂️

[2022-09-27 18:01] dartoism commented on #17409
Same issue (^6.5.7). Can this be investigated? Thanks!

[2022-09-27 22:46] brodarte-gfm opened #19274 "vulnerability in got 9.6.0 package used by storybook cli"
**Describe the bug**
Not exactly a bug, but there's an Open Redirect vulnerability in the version of the got package (9.6.0) used by storybook cli. Details here: https://security.snyk.io/vuln/SNYK-JS-GOT-2932019

**To Reproduce**
running npm ls got or yarn why got shows the origin of the dependency as sb / storybook cli
<img width="333" alt="Screen Shot 2022-09-27 at 3 35 01 PM" src="https://user-

[2022-09-28 00:01] IanVS commented on #19217
Any chance you could create a minimal reproduction, or share a link to your project if it's open source?

[2022-09-28 05:59] Robin-Hoodie commented on #6408
This error is still popping up for me using version `6.5.12`

[2022-09-28 06:09] goddancer commented on #18696
i changed the builder option in the .storybook/main.js file from '@storybook/builder-vite' to 'webpack5', and refer this link [cra5-upgrade](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#cra5-upgrade) to force Storybook to use webpack 5 for building.
now it works fine

[2022-09-28 08:49] sgrobert opened #19277 "MDX Docs' StorybookJS Default Theme Not Working After Upgrades to Storybook v7.0.0-alpha.34 with ReactJS v18.2.0 + NextJS v12.3.1"
**Describe the bug**
I had a `partially-working` copy (Ref: https://github.com/storybookjs/storybook/issues/18383), after downgrading some `@mdx-js` libraries to a previous version `1.6.22` as follows:
[code]

However, as my work build has currently progressed forward into a `monorepo` build using [`lerna`](https://lerna.js.org/) + [`pnpm`](https://pnpm.io/), I had to migrate forward to the latest

[2022-09-28 10:57] DzmVasileusky commented on #18395
I am also thinking that essential bug fixes should be included into current stable version not a future one

[2022-09-28 11:40] IanVS commented on #19262
That's right, you can pass `--no-open` to keep the browser from opening.

[2022-09-28 11:40] #19262 closed

[2022-09-28 11:47] sag1v commented on #18395
I totally agree. Maybe @shilman can reconsider?

[2022-09-28 12:27] shilman commented on #18395
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.5.13-alpha.0 containing PR #18740 that references this issue. Upgrade today to the `@prerelease` NPM tag to try it out!

[code]

[2022-09-28 12:54] fabsval commented on #18670
Some problem here... but the fix you mentionned partially resolved that issue, because now additionalData files are called on every components and not globally...

[2022-09-28 13:22] IanVS opened #19280 "[7.0] Incompatible with sveltekit"
**Describe the bug**
A standard bootstrap of a sveltekit + storybook project fails to start.

**To Reproduce**
- `yarn create svelte`
- follow the prompts, choose `skeleton` for the template and `no` for everything else
- `yarn`
- `npx sb@future init`
- `yarn storybook`

[code]

It seems like this happens because of a `require` call here: https://github.com/storybookjs/storybook/blob/b42f0edea70f4

[2022-09-28 14:11] IanVS commented on #17869
@vladgorbachev there are some changes in 7.0 to the way storybook is run.  You can check out https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#from-version-65x-to-700, and can also run `npx sb@future automigrate` to handle most of the changes from 6.5 to 7.0.

[2022-09-28 14:24] thedamon commented on #18313
Do we know why the vue2 way doesn't work in vue3 out of the box? there's nothing about it that seems incompatible with vue 3. Also curious to see the comments about this from @shilman as creating a new component with different props is very different from updating props in an existing components and honestly _both_ are an important test case.

[2022-09-28 14:45] thedamon commented on #18313
We're currently really confused about what is happening with storybook behind the scenes as we are upgrading to vue-3 in a feature branch and can find very little guidance on what to expect (and a lot of what's happening isn't good). we were hoping that stories would not need to be versioned specifically for the version of vue.

[2022-09-28 14:48] kenny-f opened #19281 "Support playwright test runner and playwright/test api for interaction testing"
**Is your feature request related to a problem? Please describe**
We have started using interaction testing and it's been great so far.
In our project we already have playwright tests for end to end testing.

The niggling issue now is that we have to use two different apis for writing tests.

It would be cool if storybook could support different test runners and test apis for interaction tests.

C

[2022-09-28 15:26] ericclemmons commented on #18716
I have the same issue - everything "works", but any uncaught error on the page gets sent here.

For example:

[code]

[2022-09-28 16:28] David-Trejo opened #19282 "Wrong tab selected by default"
**Describe the bug**
My intention of my code modifications were to rearrange the order of the Tabs in Storybook. I want the Docs' tab to be the first item and be the selected item upon loading the page follow by the Canvas' tab as the second item.

Upon loading the storybook page, the Accordions story is chosen by default. However, the Canvas tab is selected rather than the Docs tab. The bug only

[2022-09-28 16:54] shilman commented on #18313
@thedamon I just spent a bit looking through the vue2/vue3 rendering functions with @prashantpalikhe. We're trying to reconcile the two different approaches & hopefully provide a fix & recommendations as part of 7.0.

Here's the context:
- The Vue2 renderer was written ages ago, and it's args handling / remount behavior was developed in 6.0
- The Vue3 renderer was written much later, by a differen

[2022-09-28 22:31] JReinhold commented on #19280
I'm actually working on creating a repro template for SvelteKit and ran into the exact same issue as you did - see https://github.com/sveltejs/kit/pull/6982

The plan I've agreed upon with @ndelangen is that we'll publish a small package that is just a wrapper around the `create-svelte` package so we can use the same methodology as we use with all our other repro templates.

You can follow along w

[2022-09-28 23:45] tmeasday commented on #18313
One thing we are doing as part of reworking our examples=>sandboxes and generic stories is creating test cases that explicitly test this behaviour across all the frameworks. That's making it a lot easier to understand the (unintentional) differences between SB's behaviour in different renderers and in the future it'll help up ensure that we both stay consistent and don't regress.

It sounds like t

[2022-09-28 23:46] tmeasday commented on #18313
PS reading that story, it currently links to https://github.com/storybookjs/storybook/issues/13913 -- is that a dupe of this issue?

[2022-09-29 03:19] shilman commented on #18313
Thanks @tmeasday. Closing this as a dupe to #13913

[2022-09-29 03:19] #18313 closed

[2022-09-29 06:48] tmeasday commented on #17458
Has anyone tried this in 6.5? I suspect it was fixed by this: https://github.com/storybookjs/storybook/pull/17375?

[2022-09-29 07:39] tomeof opened #19285 "Fix your examples"
All i wanted was to run locally your ts-react example. I sampled some of your countless braches and i got back a bouquet of errors. At some point i got an error python2 was not found in PATH. WHY ON EARTH python is needed for a frontend storybook react example??? Are your examples working? Do you even check if they are working? If your examples are not working then why you publish them?

[2022-09-29 07:52] kenny-f commented on #19281
Looks like this has already been raised in https://github.com/storybookjs/test-runner/issues/78

[2022-09-29 07:54] palerdot opened #19286 "React @storybook/builder-vite `build-storybook` fails for `v6.5.12`"
**Describe the bug**

`build-storybook` fails with the following message
[code]

Please note that `yarn storybook` for local development runs without any problem. Only the prod build with `build-storybook` fails.

`build.rollupOptions.extenal` is added in `vite.config.js` - https://github.com/palerdot/react-d3-speedometer/commit/eb613b8e740d6157a8d38bdf5e40bd6bdc9addaf

**To Reproduce**

Repositor

[2022-09-29 08:06] StillScripts commented on #17768
This solved my issues after 4 hours of pain. Unbelievable how badly documented Storybook is when it comes to Sass.

[2022-09-29 08:06] wabi91 commented on #12311
[Issue reason]

ForkTsCheckerWebpackPlugin memory leak. (I guess)

[My solution]

Use the type check plugin not on production mode.
So, remove the plugin from the webpackFinal options of stroybook.
[code]

[2022-09-29 08:48] eric-burel commented on #15962
Solution from @as-zlynn-philipps sounds great, but this is a fix at Storybook level. Eventhough TS seems to accept ".js" even when the source a ".ts", you probably want to improve the bundle process instead to automatically add the ".js" extension. This ticket shows a possible solution with Esbuild: https://github.com/evanw/esbuild/issues/622

[2022-09-29 09:08] cge-taal opened #19288 "Cannot call component folder `switch`"
**Describe the bug**

Storybook hangs when I call a component's containing folder `switch`.

**To Reproduce**

- create a simple `src/components/switch/index.tsx` and `src/components/switch/index.stories.tsx`
- run `yarn storybook`
- see the storybook launch, but the spinner continues forever.

In the Brave browser dev console the error reads `Uncaught SyntaxError: Unexpected token '.'`

In Firefo

[2022-09-29 09:31] Justicesoul opened #19289 "Type ...Component is part of the declarations of 2 modules: AppModule and StorybookModule"
**Describe the bug**

I'm trying to create story with combined component, but got this error:

`"Type H1HeadingComponent is part of the declarations of 2 modules: AppModule and StorybookModule! Please consider moving H1HeadingComponent to a higher module that imports AppModule and StorybookModule. You can also create a new NgModule that exports and includes H1HeadingComponent then import that NgMo

[2022-09-29 09:56] tolkadot commented on #18732
Hey @ndelangen, I can pick up  lib/telemetry.

[2022-09-29 10:29] penx opened #19290 "Stories with play functions are excluded in production when using addon-react-native-web"
**Describe the bug**

When [`@storybook/addon-react-native-web`](https://github.com/storybookjs/addon-react-native-web) is used, `yarn build-storybook` will not show stories that contain a story with a .play function/interaction (using `@storybook/addon-interactions`).

There are no errors during build, but an error does appear in the console when running the built storybook:

[code]

These storie

[2022-09-29 11:02] jackw commented on #18876
@kherock you're a legend! Gave the `require.resolve('@storybook/addon-docs/package.json')` workaround a try and can confirm it fixes the issue in our yarn PnP project too. Great work! 🙌

[2022-09-29 12:52] penx commented on #19290
After further investigation, I think this is due to [@storybook/addon-react-native-web](https://github.com/storybookjs/addon-react-native-web) overriding the babel config in a way that is not compatible with the async function

https://github.com/storybookjs/addon-react-native-web/blob/main/src/webpack.ts

I will raise an issue against @storybook/addon-react-native-web too and link

[2022-09-29 13:47] danielamram commented on #19197
Hey @JReinhold, i'v noticed no one is assigned to the issue and [uploaded a PR](https://github.com/storybookjs/storybook/pull/19292) can you have a look? (first contribution PR here)

Also regarding bullet 5: Deprecate [storybookjs/browser-semver](https://github.com/storybookjs/browser-semver) what should be done to deprecate it?

Thanks

[2022-09-29 13:48] symmetriq commented on #18264
Thanks @uoc1691 — I've got Storybook 6.5.12 working with Vue 3 now.

[2022-09-29 13:51] sag1v commented on #18395
Awesome @shilman thanks! 🙏  Do you want us to test this before you release the next official 6.x.x version?

[2022-09-29 14:03] NicholasMurray commented on #14856
In vite 3 storybook 6 only this would work for me - slight variation than above

[code]

[2022-09-29 14:15] penx commented on #6479
Note that you can also do this in `.storybook/main.js`:

[code]

[2022-09-29 14:23] R-154 opened #19293 "browser / storybook hanging with component having ReactElement[]"
I'm trying to upgrade storybook to version 6.5.12 and i'm facing this issue.

When i'm using a component that has a prop of the type React.ReactElement[] (an array of React.ReactElement) in the storybook template my storybook is crashing and browser gives a 'not responding ' warning.

In a short example i try to explain what i'm doing:
[code]
This was working in version 6.3 of storybook, but no lo

[2022-09-29 14:25] #19290 closed

[2022-09-29 14:44] mokone91 opened #19294 "Object literal may only specify known properties, and 'env' does not exist in type 'StorybookConfig'."
Hi!

StorybookConfig type do not support 'env' property.

tmp fix:
`const config: StorybookConfig & { env: any;} = {`

[2022-09-29 14:59] LucaColonnello commented on #18971
Small update here, I've upgraded to webpack 5 and the leak is gone, but the loading takes minutes at best, whether I put 1 story or 90.

I'm not sure how to fix it, I need some direction in debugging locally what the performance issue seems to be.
Does anybody know if there is a way to debug timing spent by storybook on different phases of the dev server process?

[2022-09-29 15:48] gygoo opened #19295 "Module '"@storybook/vue3"' has no exported member 'app'."
**Describe the bug**
Hi!

in file: .storybook/preview.js

`import { app } from '@storybook/vue3'
`

The above line reports an error:

_Module '"@storybook/vue3"' has no exported member 'app'._

_The requested module '/node_modules/.vite-storybook/deps/@storybook_vue3.js?v=1e8ee5ed' does not provide an export named 'app'_

Is the information in the documentation still valid?
[https://storybook.js.o

[2022-09-29 15:52] Tlahey opened #19296 "@storybook/svelte: component not render into .mdx"
Hello,
I have issue with svelte on my mdx storybook. Let me explain.

## I can't see my svelte component

I want to inject directly on my mdx a svelte component.
I've check some stackoverflow and someone use this synthax :

[code]

In fact, this one works well but it is not svelte compliant.

So if I changed to

[code]

An error provided on the console. This one are due to an issue with the svelte

[2022-09-29 16:12] DarwinOnLine commented on #19225
@user-aslkdflkc I found the cause to these errors.
[fullcalendar](https://github.com/storybookjs/storybook/issues/fullcalendar.io) use [Preact](https://preactjs.com), and this React alternative framework exports its namespace as... React.
So this namespace overrides the Storybook React namespace, and Preact has no members such as `ReactElement` or `ComponentType`...

A very (**_very_**) dirty hack

[2022-09-29 20:16] dep commented on #12111
With the following in my `preview.js`, my first Story still shows "Canvas" onload. Clicking to other stories and then back to it makes it switch to Docs, but always a problem on firstload.

[code]

[2022-09-29 20:39] dep commented on #14686
It would be cool if you could do this within an individual `<Story />` with a prop, for example:

[code]

[2022-09-29 22:25] aareskog-chwy opened #19299 "CSS not loading from files with aggregate javascript exports"
**Describe the bug**
Unable to load CSS or SCSS from files that have an aggregated javascript export. Internally, we have a design system where the component's CSS and javascript are exported in different packages and in our team's component library we are re-exporting them together for ease-of-use.

**ds/button.ts**
[code]
**ds/index.ts**
[code]
**header/header.tx**
[code]

I can workaround the b

[2022-09-30 04:35] anubhavadarsh commented on #18732
Hello @ndelangen , I can take up [`lib/store`](https://github.com/storybookjs/storybook/blob/next/code/lib/store/package.json)

[2022-09-30 05:24] derekreilly1990 commented on #18734
i have just started to get this after upgrading

[2022-09-30 06:18] derekreilly1990 commented on #18734
@drewbrend did you find a workaround?

[2022-09-30 06:54] sohamnandi77 opened #19302 "Named Imports are not working properly, Storybook adds everything present the folder to the bundle"
Whenever I use named imports, Storybook includes everything in the index file into the build, which eventually increases the bundle size.

main.js
[code]

My Folder structure looks like

[code]

All the main file in images folder, looks like this
Ex: images/noGoals/NoGoals.js

[code]

and then I am exporting the Component in the index file

in index file
[code]

and in the end, I am export all the

[2022-09-30 08:58] JReinhold commented on #19197
Nice @danielamram, thanks for the PR!

We just need to mark the package as deprecated in the npm registry and do the same for the GitHub repository, or delete it. That's not anything you can do, I'll handle it once the PR has been merged.

[2022-09-30 09:41] aleguern opened #19304 "Cannot add a mailto link to mdx documentation"
**To Reproduce**
I tried adding a `[Contact Us](test@gmail.com).` to my documentation page written in mdx,

But when I click on it i'm redirected to http://localhost:4400/mailto:test@gmail.com, instead of opening an email

**To Reproduce**
1. Make a file named test.stories.mdx
2. Add the line `[Contact Us](mailto:test@gmail.com)`.
3. Click on the link

**System**
Environment Info:

  System:
    O

[2022-09-30 09:49] wlaj opened #19305 "Unable to find versions of @storybook/react using yarn"
**Describe the bug**
Installing storybook fails when using command `npx sb init` ( or any other variant ) after  a few minutes in a Next.js project

**System**

     Unable to find versions of @storybook/react using yarn

     Unable to find versions of @storybook/addon-links using yarn

     Unable to find versions of @storybook/addon-essentials using yarn

     Unable to find versions of @storyb

[2022-09-30 10:22] mokone91 commented on #13917
Hi! I have use snippet from @tiagoskaneta it works!

But i faced with issue that code snipet not highlited properly
<img width="405" alt="image" src="https://user-images.githubusercontent.com/2384641/193249607-c7ebf0e7-a628-47d7-bf0d-4a28018dcaba.png">

is there any ide how its can be fixed?

btw, i have added extra type switch entry to parse object values

`
 const propToSource = (key, val) => {

[2022-09-30 14:37] LeLunZ commented on #13440
@shilman this is still an issue.
Can't get storybook to work with the latest angular@13 version.

will there be a solution?

[2022-09-30 15:07] OpheliaHiney commented on #5183
Hi. Will someone kindly tell me how to unclone a computer? My "friend" is a fuckwad.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Klaus Kazlauskas ***@***.***>
Sent: Monday, September 26, 2022 12:15:57 PM
To: storybookjs/storybook ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [storybookjs/storybook] babel-loader conflicts with create-react-app ver

[2022-09-30 19:41] lazysergey commented on #18395
@sag1v how do you upgrade it to exact version? `npx sb upgrade --prerelease` command actually installs `7.0.0-alpha.34`:

![Screenshot 2022-09-30 at 10 37 32 PM](https://user-images.githubusercontent.com/30532154/193344486-8ee0dd3b-b3c6-4d18-ae03-3758d517f38e.jpg)

[2022-09-30 19:47] sag1v commented on #18395
Yeah I know its a shame 😞 i had to manually upgrade each package. That's why it didn't work out at first because i forgot to upgrade some packages.

[2022-09-30 20:21] lazysergey commented on #18395
@sag1v tyvm, resolved for me, hope this will go live soon 🤞

what I did:
I've changed version manually and did `yarn install`:
![image](https://user-images.githubusercontent.com/30532154/193348549-1cbc6a6a-1fbf-452c-81e0-5b42f9e85bf0.png)

For me it  still gives `id: undefined` for mdx documents that import `*.md`, but it finally works fine for mdx 🎉 🎉 🎉
![image](https://user-images.githubusercont

[2022-09-30 22:42] JReinhold commented on #19280
Progress update from me.

I managed to release [`create-svelte-with-args`](https://github.com/storybookjs/create-svelte-with-args) and integrate it into our new repro template setup in the https://github.com/storybookjs/storybook/tree/jeppe/sb-544-sveltekit branch.

I run into the same CJS issue as you @IanVS, but I'm able to bypass it by commenting out the require call in the `.storybook/main.cjs

[2022-09-30 22:58] hepiBatman opened #19309 "Svelte Typescript installation from beginning but fails to start up"
**Describe the bug**
Install Svelte Typescript then add Storybook but get error on startup.

**To Reproduce**
npm create vite@latest myapp -- --template svelte
npx: installed 1 in 0.838s
✔ Select a framework: › Svelte
✔ Select a variant: › TypeScript

cd myapp
npm install
npx sb init
yarn storybook
yarn run v1.22.19

`
(node:90824) UnhandledPromiseRejectionWarning: Error [ERR_REQUIRE_ESM]: Must us

[2022-09-30 23:42] benmccann commented on #19280
I wouldn't worry too much about making `svelteOptions.preprocess` work. I would highly discourage use of that option and would not mind removing it. `builder-vite` will now read the `svelte.config.js` itself so we shouldn't make the user be responsible for it (https://github.com/storybookjs/builder-vite/pull/428).

[2022-10-01 00:11] danielamram commented on #19197
No worries, gussed it's a manual work with privileges to do so.
Anyways hit me up if I can help with anything, i'd be glad to help

[2022-10-01 01:57] IanVS commented on #19280
@JReinhold thanks for the update!  As for storybook launching the app, it's something we've seen before, and it should have been fixed in https://github.com/storybookjs/builder-vite/pull/453.  I'd start by taking a look there to see if that option isn't getting set correctly now for some reason.  I can dig into this as well in a day or two.

[2022-10-01 12:48] thedamon commented on #18313
This is really helpful, thank you!

It is unfortunate though as it drastically increases the complexity of upgrading from vue2 to vue3 within storybook if it's not possible to do very quickly within a commit or two (which it isn't because it's already totally confusing and hard due to the absence of any resources and the intensely internal stuff that storybook does at a framework level). Still try

[2022-10-01 17:03] anuj-scanova commented on #2817
@dexster The solution is not working for `ng-content` with `select`. My `ButtonComponent` looks like
[code]

Now using your code example (without any modification), it does not render the text
<img width="245" alt="Screen Shot 2022-10-01 at 10 32 21 PM" src="https://user-images.githubusercontent.com/105233146/193420213-2ab96ac7-0cd0-4428-8ad2-10c1820b9673.png">

If I remove the `select="[label]"`

[2022-10-01 20:58] JReinhold commented on #19280
## The CJS require call

Yeah that makes sense @benmccann, So essentially what we want to do is change the template so the `"preprocess": require("../svelte.config.js").preprocess` isn't part of `main.cjs` when we do `sb init` - right?

## The missing Storybook problem

Thanks for the tip about `appType` @IanVS, but it wasn't it. I've figured out that the issue is caused by Storybook's Vite server

[2022-10-02 03:09] clodal commented on #17950
Had this issue. Can confirm that this works in 6.5. Thanks!

[2022-10-02 10:54] SalahAdDin commented on #19057
`eslint-plugin-storybook` does not solve this problem actually.

[2022-10-02 12:17] shilman opened #19318 "Vue2: Events not properly registering in repro template"
See https://github.com/storybookjs/storybook/blob/next/code/lib/store/template/stories/hooks.stories.ts#L28

To reproduce:

[code]

[2022-10-02 15:31] doolijb commented on #19309
Has been happening to be with vite+svelte on every fresh install. Fix is to replace `require` in `.storybook/main.cjs` to `import`.
As so:
[code]

[2022-10-02 15:45] doolijb commented on #19217
https://github.com/doolijb/19217_sb_svelte_reprod

Just in case, I added svelte-csf and declared it in the addons, but it makes no difference. Otherwise this is a barebones install with the example button story swapped out for one in svelte syntax.

[2022-10-02 22:47] javier-arango commented on #18732
@ndelangen I open a PR for `lib/store` and I am working on `lib/telemetry` right now. I was working on `addons/storysource`, but I was getting errors and I was not able to fix it.

[2022-10-03 03:10] shilman opened #19321 "Symbols coming from multiple bundles"

[2022-10-03 05:29] nipendraaristeiaservices commented on #18188
I'm also getting same error with
node 18.0.0.
Mac OS: 12.6
CPU: Apple M1

[2022-10-03 08:16] ndelangen commented on #19280
@JReinhold Let me know if you want to discuss this in a tuple or zoom or something 👍

[2022-10-03 08:20] #19305 closed

[2022-10-03 08:52] tolkadot commented on #18732
I can pick up [lib/postinstall](https://github.com/storybookjs/storybook/blob/next/code/lib/postinstall/package.json)

[2022-10-03 09:21] jeanpierrecarvalho opened #19323 "Run generate-repros.sh has an error in generating Vue-CLI (Vue2 JS)"
**Describe the bug**
Run generate-repros.sh has an error in generating Vue-CLI (Vue2 JS)

**To Reproduce**
Run generate-repros.sh script

[code]

**System**

Environment Info:

OS Name: Ubuntu 22.04.1 LTS
OS Type: 64-bit

Processor: 11th Gen Intel® Core™ i9-11900K @ 3.50GHz × 16
Memory: 32,0 GiB
Graphics: Mesa Intel® Graphics (RKL GT1)

Binaries:

Node: v14.20.0
Yarn: 1.22.18
Npm: 8.9.2

**Additio

[2022-10-03 09:51] jeanpierrecarvalho opened #19326 "Error in story rendering showing previous stories as layers which causes a flickering effect"
**Describe the bug**
When I try to access the stories, there is a rendering error that shows previous stories as layers which causes a flickering effect

**To Reproduce**
Run yarn run start inside code folder

[Recorded Video](https://www.loom.com/share/f89fb4b8646a4574a32f4f6068d91d20)

**System**
Environment Info:

OS Name: Ubuntu 22.04.1 LTS
OS Type: 64-bit

Processor: 11th Gen Intel® Core™ i9-

[2022-10-03 10:13] janaagaard75 commented on #18801
We had this issue because `addons: ["@storybook-react-i18next"]` should have been written `addons: ["storybook-react-i18next"]`. The misconfiguration wasn't reported with Storybook 6.5.9, but it became apparent with version 6.5.12.

[2022-10-03 10:46] mokone91 opened #19328 "beforeUnmount now triggered when switched to docs"
Hi!
Have a bug - vue beforeUnmount event not triggered when story switched from Canvas to Docs, when story switched to another - it woks as expected.
What affected - I have component which use teleport vue feature, when i swiched to docs - old teleport node not removed(because of beforeUnmount) and new created, so each time when i swich canvas to docs and back - new node created..

Any solution?

[2022-10-03 13:11] IanVS commented on #19280
I did some poking around, and it seems to be the `configureServer` hook that sveltekit [adds](https://github.com/sveltejs/kit/blob/3b457f67d4d7c59fc63bb3f600a490e4dacc2e62/packages/kit/src/exports/vite/index.js#L508) which is causing the app to be served instead of storybook.  @benmccann do you know of any way we can prevent this within storybook? I think we want to keep the sveltekit plugin, rath

[2022-10-03 13:43] JReinhold commented on #19280
@IanVS you're right actually, I figured out an easy way to remove that. It also requires allowing directory because otherwise `preview.js` is denied.
I got a very crude PoC to work by changing the `viteFinal` function in `code/frameworks/svelte-vite/src/preset.ts` to:

[code]

I'll investigate further later, just wanted to keep you up-to-date

[2022-10-03 13:51] Aurolina-Jena opened #19330 "Background and foreground colors do not have a sufficient contrast ratio"
**Describe the bug**
Storybook has a lot of slightly darker gray on top of slightly lighter gray. The Storybook blue also has contrast problems.
**To Reproduce**
Use Color Contrast Analyzer to compare foreground and background colors.
The same issues can be reproducible using Chrome Lighthouse accessibility check.

**Additional context**
Is this accessibility issue being worked on and when is it l

[2022-10-03 13:57] IanVS commented on #19280
It looks like we lost this custom plugin in the move to 7.0: https://github.com/storybookjs/builder-vite/pull/427.

Though, I'm not sure it will work in this case, since the sveltekit plugin is using a `config` hook to add the allow list, so it won't show up in the `config` in `viteFinal`.

Why did you need to add `svelteDocgen`?  Shouldn't that be added already by the `svelte-vite` framework?

[2022-10-03 14:14] rwagatenga commented on #16195
This issue has to be closed. I have tested and I have found that the issue is no longer there kudos to _**`Storybook`**_ team that has resolved this issue.
https://www.loom.com/share/322912fead0d44ffa07c8dc7b0d6feae

[2022-10-03 14:16] Aurolina-Jena opened #19331 "Menu button next to the Storybook logo, contents are unreachable"
**Describe the bug**
 There is no way to navigate within the menu, for example if you wanted to switch to full-screen mode by choosing "Go full screen".

**To Reproduce**
1. Navigate to storybook page
2. Through keyboard navigation Enter the ... Menu item
3. Then try to navigate through the open menu item and it's not accessible

**Additional context**
Is this accessibility issue being worked on a

[2022-10-03 15:29] mokone91 commented on #8622
Exactly same bug with vue3 in v6.5.12

[2022-10-03 17:17] roofs-runner opened #19335 "Stories are not loading after upgrade from 6.4 to 6.5"
**Describe the bug**
After upgrading Storybook, my monorepo stories are not loading.
The Storybook starts fine but in browser console, I've got an error:

[code]

**To Reproduce**
Here is my `main.js`

[code]

And here is my file structure
<img width="285" alt="Screen Shot 2022-10-03 at 20 10 04" src="https://user-images.githubusercontent.com/7910948/193637872-919faa37-16b4-4369-81ef-33c1227f79c9.

[2022-10-03 17:18] benmccann commented on #19280
I'm surprised `configureServer` is causing issues in 7.0, but not 6.0. Here's an [example 6.0 project](https://github.com/michaelwooley/storybook-experimental-vite).

But anyway, I'm fairly skeptical that people should be writing SvelteKit-specific components. I almost think it's better that it's broken when you try to use SvelteKit functionality as it will force you to better structure your compo

[2022-10-03 17:20] benmccann commented on #19280
Adding `.storybook` to the fs allow list sounds like something that should be handled in the Storybook Vite builder regardless of whether you're using SvelteKit as it doesn't have anything to do with SvelteKit.

[2022-10-03 17:32] IanVS commented on #19280
@benmccann thanks, I agree we need to handle the fs.allow, likely by porting your plugin from the PR I linked into 7.0 (not sure how it got lost).

And to be clear on your other point, are you suggesting that we should filter out the `vite-plugin-svelte-kit` plugin entirely?

[2022-10-03 18:02] leeburnell opened #19336 "Error: EBUSY: resource busy or locked when running storybook"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
With Node v 16.13 and NPM 8.15 installed
Create-react-app
cd into directory
npx storybook init
Once completed, npm run storybook

**System**
 npmPackages:
    @storybook/addon-actions: ^6.5.12 => 6.5.12
    @storybook/addon-essentials: ^6.5.12 => 6.5.12
    @storybook/addon-interactions: ^6.5.12 => 6.5.12

[2022-10-03 18:47] nerdyman commented on #9483
It looks like the Webpack config has changed so the snippet from the Tweet above didn't work for me. I did the following to get Remark working with Storybook (`6.5.12` & MDX v1):

[code]

There's a working config using the Codesandbox Remark plugin here https://github.com/nerdyman/react-compare-slider/blob/ce05fffc2e54d2424e50a4b00a9d4577db5abf3c/.storybook/main.ts#L32

[2022-10-03 19:05] sysa20 commented on #19282
I can do that if you assign me that

[2022-10-03 19:05] benmccann commented on #19280
I don't quite understand yet why `vite-plugin-svelte-kit` would break things with 7.0, but not 6.0. Is 7.0 starting a Vite dev server where 6.0 was not? I think it's probably fine to filter out `vite-plugin-svelte-kit`, but I'm not sure it's the only plugin you'll encounter that has implemented `configureServer`. Will the others using that hook break too and you instead need some more general impl

[2022-10-03 21:21] IanVS commented on #19280
I'm pretty stumped by this as well.  Not _that_ much changed in the vite builder, mostly just that we read the vite.config.js automatically, and I found a few other minor differences as well, but no matter what I do I can't get 6.5 to reproduce the behavior of 7.0 or vice-versa.  Very weird...

[2022-10-03 23:03] JReinhold commented on #19280
`vite-plugin-svelte` actually also has a `configureServer` entry which sets up some watchers (https://github.com/sveltejs/vite-plugin-svelte/blob/main/packages/vite-plugin-svelte/src/index.ts#L98-L102), and I don't think we want to exclude those, so that's maybe a reason to not globally remove `configureServer` but just remove `vite-plugin-svelte-kit` instead?

[2022-10-03 23:34] JReinhold commented on #19280
I've done an initial PR based on our discussions at https://github.com/storybookjs/storybook/pull/19338

[2022-10-03 23:50] IanVS commented on #19280
Ideally we wouldn't have to remove anything. We don't need to with 6.5, and I'm trying to figure out what's different about 7.0.

[2022-10-04 07:23] lewismarvin44 opened #19340 "Staticdirs is not working on sass files."
I am working on a NextJs project which has public folder as static folder. To make it work on storybook I have added `staticDirs: ["../public"]` array in main.js file and it works for the stories files for example I can call the images like this `/images/logo.png` file but it does not work for SASS file for example for fonts. it is not able to resolve the path. To make it work I have to add full p

[2022-10-04 12:58] eric-burel commented on #16880
This error happened to me when not correctly defining a story as a function for a Web Component story:
[code]

[2022-10-04 15:30] tschaffter commented on #18626
@ld210 Unplugging `@angular/compiler-cli` solved the error `EROFS: read-only filesystem, open '/node_modules/.ngcc_lock_file'`. See https://github.com/Sage-Bionetworks/challenge-registry/issues/755#issuecomment-1267094617 for more detailed information.

[2022-10-04 20:27] drewbrend commented on #18734
No, but I don't see this issue anymore, I'm not sure what changed.  I won't close the issue for now since you're seeing it.

[2022-10-04 22:17] csantos1113 commented on #17458
For what is worth, I had the same issue using `@storybook/*` version **6.5** and higher, **but** I also had this in my package.json
[code]

**Why I had that resolution?**
No major reason, really I just got tired of webpack4 and all its dependencies existing in my node_modules even though I opted-in to using webpack5 long ago
[code]

**Why that resolution "breaks" my storybook?**
Because `assert` g

[2022-10-04 22:26] melocule opened #19349 "previewBuilder.bail is not a function"
Hey! I recently upgraded from v7.0.0-alpha.3*3* -> .3*4* in order to get around a bug that was patched with [this PR](https://github.com/storybookjs/storybook/pull/19123). `npm run storybook` worked great when this patch was added locally.

After upgrading however, a new error appears when I try to run Storybook saying that `previewBuilder.bail is not a function` at `@storybook/core-server/dist/cj

[2022-10-04 23:49] tmeasday opened #19350 "Errors in CSF files are logged but do not break the Storybook in SSv6"
**Describe the bug**

If you have a top-level error in a CSF file, causing the file not to execute, it is "swallowed" by `executeLoadable`:

https://github.com/storybookjs/storybook/blob/6d6a43217acdf3356bb830cc14cb88565c51c759/code/lib/core-client/src/preview/executeLoadable.ts#L37

The Storybook continues to load (with an error in the console), leading to a partial Storybook. This leads in parti

[2022-10-05 00:04] tmeasday commented on #17458
@csantos1113 thats a bit puzzling though. Did you have some kind of override of the webpack config ala [@ChrisSargent's comment?](https://github.com/ChrisSargent)

Because reading the source code, (in 6.5) we alias `assert` to `browser-assert` (obv. a different package to `assert`), which is a dependency of `@storybook/builder-webpack5`.

Perhaps if you run storybook with `--debug-webpack` you can

[2022-10-05 00:24] boid-com commented on #19151
ok I tried again with a fresh quasar project and `--builder=vite` and I'm getting this error, I noticed `viteReact` from `plugin-react` so it must not detect that this is a vue project.

[code]

[2022-10-05 00:48] tmeasday opened #19351 "Resolve issue with smoke-testing `cra/default-ts`"
**Describe the bug**
The `cra/default-ts` smoke test task works but then regularly times out (maybe 80% of the time). The `execa()` call just never returns (see https://github.com/storybookjs/storybook/pull/19306 for investigations).

We have no idea why but it happens only for that template, we can speculate that maybe it uses more memory or something.

**Possible fixes**

First off we want to ju

[2022-10-05 01:09] cjones26 commented on #14742
Any update on this?  We are encountering the same issue and it's going to be a real pain to have to utilize @Dreamufor's solution for all of our decorators.

[2022-10-05 07:57] lvjing-tuzhi opened #19356 "获取不到鼠标事件"
在react中，最顶部的OverlayScrollbarsComponent组件和做左边的OverlayScrollbarsComponent组件获取不到鼠标事件

[2022-10-05 09:25] penx commented on #19350
In the meantime, I can hopefully use `yarn test-storybook` via https://github.com/storybookjs/test-runner on CI as this will cause the build to fail.

I mentioned to @ghengeveld that in the meantime, perhaps Chromatic could get the list of stories in the same way that `yarn test-storybook` does and error if there are any missing.

[2022-10-05 09:35] ghengeveld commented on #19350
Maybe @yannbf has thoughts on that too, as the author of the test runner.

[2022-10-05 09:43] mlp73 opened #19359 "ColorPalette type fails to accept children. Type '{ children: Element; }' has no properties in common with type 'IntrinsicAttributes'."
**Describe the bug**
On react 18, when using <ColorPalette></ColorPalette> from '@storybook/addon-docs'
as described in this example: https://storybook.js.org/docs/react/writing-docs/doc-block-colorpalette

Typecheck with fail because of providing children to ColorPalette:
Type '{ children: Element; }' has no properties in common with type 'IntrinsicAttributes'.

**To Reproduce**
Running the provi

[2022-10-05 10:20] yannbf commented on #19350
The test runner by default will turn stories files defined in your `main.js` into tests, regardless if they are broken or not, which is different than how Chromatic accesses the stories. However, if you were to run the test runner with the `--stories-json` flag, I assume it would behave similarly to Chromatic.

[2022-10-05 10:42] penx commented on #19350
Thanks! Though I was hoping Chromatic would behave like test-runner rather than the other way around :)

[2022-10-05 11:16] avinean opened #19361 "MDX works only on Wednesday"
Steps to reproduce.
1. Wait for Wednesday
2. Run storybook
ER:
MDX works
AR:
MDX works but not really

WTF?

[2022-10-05 11:28] tdekoning commented on #19233
Can second this, Storybook doesn't auto-generate controls for vue3 components. It only honors the explicitly supplied arguments.

[2022-10-05 11:47] IanVS commented on #19151
@boid-com that error happens when there is a mismatch between the version of the vite-builder and vite itself.  If you're using a version of vite less than 3.0, you'll need to either upgrade, or downgrade `@storybook/builder-vite` to `0.1.x`.

[2022-10-05 13:39] csantos1113 commented on #17458
Hey @tmeasday thanks for the quick response.

Looking forward to using SB7 💪

---

Yes I do, I have this in my `.storybook/main.js`
[code]
but worth to mention: removing any of that has no effect on the `assert` issue.

---

I ran it but I see the same `fallback` object (with and without `"resolutions": { "webpack": "5.74.0" }` in my package.json)
[code]

---

I'm not experienced with SB source co

[2022-10-05 13:47] csantos1113 commented on #17458
this also fixed my issue (without having to install `assert` manually)..   @tmeasday - So perhaps `base-webpack.config.ts` **do need** the same `assert` fallback?
[code]

[2022-10-05 16:15] drewbrend opened #19363 "getStorybook() errors with "Cannot read properties of undefined (reading 'stories')""
**Describe the bug**
We use [screener-storybook](https://github.com/screener-io/screener-storybook) to run visual test against our storybook stories.  It [uses require('@storybook/react').getStorybook to hook into storybook](https://github.com/screener-io/screener-storybook#testing-with-static-storybook-app).  Since 2 days ago the call to this API started failing consistently.  We did not change a

[2022-10-05 16:23] blovato commented on #19363
➗  I'm also running into this issue in my repo. Please triage!

[2022-10-05 16:28] shilman commented on #19217
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.35 containing PR #19339 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-05 16:28] shilman commented on #19351
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.35 containing PR #19352 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-05 16:28] shilman commented on #18732
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.35 containing PR #18805 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-05 16:29] #19204 closed

[2022-10-05 16:58] ArmanNisch commented on #19335
I have a similar issue when attempting to upgrade from storybook v6.4.22 to any version of storybook 5.x (I have tested several versions). I always get the following error:

[code]

[2022-10-05 17:16] hummal opened #19365 "The symbol "prevRefreshReg" has already been declared"
**Describe the bug**
In the new 7.0 Alpha 35 it seems to break vite-plugin-react while launching storybook with `storybook dev`.

Does not happen in Alpha 34.

**System**
[code]

[2022-10-05 17:53] axlerk commented on #18961
+1, have the same issue (7.0.0-alpha.35)

[2022-10-05 18:09] jinyoung4478 commented on #12596
Thank you for your help! 😊

[2022-10-05 18:12] AntonisFK commented on #12982
Is there any updates on this?

[2022-10-05 19:38] rwwagner90 commented on #18028
Any updates here? I'm having a lot of Ember 4 / addon v2 issues.

[2022-10-05 19:58] cjones26 commented on #14742
For anyone having an issue with this, you need to make sure that Babel is properly transpilling your `preview.js` file or else you will get the above error.

My `.storybook` directory is a shared config which is symlinked from `node_modules/@myorg/frontend-shared-config/.storybook` -- this symlink in combination with my custom Webpack configuration was causing the file not to be included in the We

[2022-10-05 20:14] SirSerje commented on #6364
JFYI:
**.storybook/preview.js**:
`import '!style-loader!css-loader!sass-loader!./style-loader.scss';`

works well 💛
[code]

[2022-10-06 00:08] usrrname commented on #15659
Seems this still exists!

[2022-10-06 00:08] usrrname commented on #18704
I can confirm I too, experienced this behaviour. ☝🏼

[2022-10-06 01:07] koolksh opened #19371 "npm run build-storybook gives SyntaxError: Invalid regular expression: /%npm_config_"errors" : [ {%/: Unterminated character class ..."
**Describe the bug**
Using storybook for the first time and does not work on my mac. The same repo works for other colleagues. But for some reason gives
ERR! SyntaxError: Invalid regular expression: /%npm_config_"errors" : [ {%/: Unterminated character class
ERR!     at new RegExp (<anonymous>)
ERR!     at test-story-book/node_modules/@storybook/core-common/dist/cjs/utils/template.js:22:24

See de

[2022-10-06 01:20] Kwooda commented on #19008
HELLOOOOOOOOOOOOOOOOOOO!!!!!!

[2022-10-06 01:36] tmeasday commented on #17458
Funny you mention that @csantos1113 https://github.com/storybookjs/storybook/pull/19341#issuecomment-1267980712

So this issue will be fixed in 7.0.

@shilman / @ndelangen should we patch this back to 6.5?

[2022-10-06 01:44] #19309 closed

[2022-10-06 06:24] eric-burel commented on #1754
Debugger for Chrome is now deprecated, the above setup should still work but you don't need to install this extension anymore.

[2022-10-06 07:12] kenfdev commented on #16732
@shilman
Are there any plans on releasing this fix for v6?? I'm facing the same problem on Storybook v6.5.12 and am thinking about how I can fix this 🤔 The directory names can't be renamed because it's used in production.
Thanks in advance!

[2022-10-06 10:04] sandranrivas opened #19374 "add a default control value to all my stories in a component"
**Is your feature request related to a problem? Please describe**
I am using the MDX, to write stories, there are components where I have multiple stories, and all stories should have the same value. example size='sm'. I used to do this  in the default Value, and so I would have the same value for ' size' in all my stories for a component. but default value was removed in the new version, and now

[2022-10-06 10:56] sohamnandi77 commented on #19302
@tmeasday @ndelangen @shilman Please look into it.

[2022-10-06 11:30] JReinhold commented on #19280
I think I've figured out why SvelteKit breaks in 7.0 but not in 6.5.

## SvelteKit in 6.5 vs 7.0

As you say @IanVS, `builder-vite` automatically loads the user's `vite.config.js` in 7.0 but not in 6.5. And in 6.5 we manually load the necessary Svelte Vite plugins, which _doesn't_ include `vite-plugin-svelte-kit`. This means that in 6.5 we actually never load `vite-plugin-svelte-kit`, even in a Sv

[2022-10-06 12:21] alejandroclaro commented on #18679
I'm seeing the same issue even after updating `@storybook/vue3`. Any updates?

[2022-10-06 12:38] IanVS commented on #19280
@JReinhold even when including sveltekit plugin in 6.5, this issue didn't happen. Ben pointed to a 6.5 example sveltekit app with storybook in the issue, and it works correctly.

[2022-10-06 13:03] marckraw commented on #11919
Any updates on that ?

[2022-10-06 13:31] antonstagge commented on #18188
Same here.
Any plans on adding support for node 18?

[2022-10-06 14:23] #19335 closed

[2022-10-06 14:24] IanVS commented on #19280
Yeah, I tried things like that, even removing all other plugins and making sure the rest of the vite config was identical.  That's why the only thing I can think of is that it has something to do with the change moving the manager away from weback and to esbuild, though as far as I can tell, the dev server is unchanged and is still just an express server.

[2022-10-06 14:53] dep opened #19378 "UnhandledPromiseRejectionWarning: SyntaxError: Unexpected token (2:39)"
**Describe the bug**
Yesterday our storybook was working fine, but today we seem to have a new unexpected error:

[code]

**System**

devDependencies:
[code]

[2022-10-06 16:47] dep commented on #19378
This was a syntax error within a storybook entry on my part, whoops.

[code]

[2022-10-06 16:47] #19378 closed

[2022-10-06 17:20] matt-dalton opened #19381 "Getting "TypeError: Cannot read property 'initializationPromise' of undefined" on Storyshots after upgrading to React Native 0.66"
**Describe the bug**
After upgrading to React Native 0.66, our `@storybook/addon-storyshots` storyshot tests now give:
[code]

**To Reproduce**
[code]
I tried running this, but there didn't seem to be an option for React Native, and the command crashed
**System**

Environment Info:

  System:
    OS: macOS 12.5.1
    CPU: (8) x64 Apple M1 Pro
  Binaries:
    Node: 14.18.1 - ~/.nvm/versions/node/v1

[2022-10-06 18:51] geodn commented on #19349
I'm encountering the same issue when upgrading storybook-addon-mock from 2.4.1 to 3.1.0. `start-storybook` prints this error on the first run, but on subsequent runs, the storybook starts working.

[2022-10-06 20:24] ekfuhrmann commented on #11542
Just to add on this thread, I'm running into a similar issue on `v6.5.12`.

My Input is the following:

[code]

While everything works well including an interactive `ArgsTable`, the moment I add a `startIcon` or an `endIcon`, my code output is the following:

[code]

Instead of the expected output being:

[code]

[2022-10-06 22:42] jam-awake commented on #12881
I'm pretty sure the fix here was only for the Preview, not the Manager. I've written a custom addon that uses React in the Manager and ran into the same problem here.

[2022-10-07 04:22] himyjan commented on #18601
yes
<img width="674" alt="image" src="https://user-images.githubusercontent.com/51815522/194467259-1e8497ad-a5e7-4fcd-a7ce-db1cbd232dfe.png">

[2022-10-07 04:25] himyjan commented on #18601
works now
`npm create vite@latest`
typescript
react

`npx sb@7.0.0-alpha.35 init` work

`npx sb@7.0.0-alpha.35 init --builder @storybook/builder-vite` not work

<img width="674" alt="image" src="https://user-images.githubusercontent.com/51815522/194467411-eda03caf-9d79-4b42-a71c-9b416e1525bd.png">

[2022-10-07 07:58] R-154 commented on #19293
found out that it is somehow related to using addon @storybook/addon-essentials.
When i look more in detail and remove @storybook/addon-essentials i was able to narrow it down to be related to

- @storybook/addon-controls
- @storybook/addon-docs

once i enable one of both storybook is hanging on templates having attributes with array of components.

[2022-10-07 10:04] ndelangen commented on #13950
The feature has been merged to telejson some time ago:
https://github.com/storybookjs/telejson/pull/56

[2022-10-07 10:55] IanVS commented on #18601
The flag is `--builder=vite`, which should work hopefully.

[2022-10-07 11:30] #18601 closed

[2022-10-07 11:40] norcino commented on #9444
@clukhei sorry I didn't get the notification or I missed it.
I use stories in JSX format, so I don't know why you are not seeing the descriptions.
But how did you manage to load the argTypes for the other sub components?
That is still something I can't do.

[2022-10-07 11:50] R-154 commented on #17025
My issue is related, once i add @storybook/addon-essentials and enable 'docs' or 'controls' for that one storybook is crashing on some stories that have an array of ReactElements in the template of the story.

Is there in the meantime a fix that works on having source type: 'dynamic'?

[2022-10-07 12:19] R-154 commented on #19293
looks like a related  issue: [#17025](https://github.com/storybookjs/storybook/issues/17025)

[2022-10-07 12:27] MarcelGeo opened #19391 "storybook/react is missing renderToDOM function"
**Describe the bug**
Cannot start sb dev without error in alpha.35 version. UI is blocked by missin renderToDOM field.

**To Reproduce**
run

npm run storybook caused error

ERR! Error: Cannot find module '@storybook\react\preset'
ERR! Require stack:
ERR! - C:\Users\marcel.kocisek\Documents\sppd-webapp\node_modules\@storybook\core-server\node_modules\@storybook\core-common\dist\index.js
ERR! - C:\

[2022-10-07 13:14] #19371 closed

[2022-10-07 13:16] koolksh commented on #19371
This is fixed now. Not sure how but npm_config had some unexpected entries. After removing those storybook didn't complain. Not sure how the entries got in npm_config and also why it only bothered storybook

[2022-10-07 14:25] martinsik commented on #1736
For anyone wondering how to use this feature in Angular you need to import the function:

[code]

... and then use it whenever you need.

[2022-10-07 14:53] tbtommyb commented on #16914
I have encountered this bug on several different versions (6.3.12, 6.5.10, 6.5.12 all with versions matching across storybook versions).

From debugging, what happens in my case is that `dist/cjs/ClientApi.js` runs, sets up the singleton etc. Then when I see the same exception as above, it's in `dist/esm/ClientApi.js`. The ESM file does not run the `ClientApi` constructor and so the singleton is u

[2022-10-07 15:01] IanVS commented on #16914
@tbtommyb I'd suggest trying to delete your node_modules and lock file (`yarn.lock` or `package-lock.json`), and re-installing.  Sometimes a storybook version can get out-of-date and reinstalling fresh can fix it.

As for ESM vs CJS, storybook runs in two contexts: node and the browser.  Some packages only run in one or the other, and so the files can point to cjs for node and esm for browser.

[2022-10-07 15:38] tbtommyb commented on #16914
Hi @IanVS thank you for the suggestion, though I have tried that a few times with no luck. The fact that it's persisted across different versions makes me think it is related to webpack.

So if I want Storybook to run in the browser, should it be ok that the`start-storybook` script runs as CJS module and then ESM later runs? Or should I be trying to force `main.ts` to be an ESM module?

[2022-10-07 15:44] IanVS commented on #16914
`main.ts` is run in node, before storybook starts up the browser.  I'm not super familiar with webpack anymore (I help to maintain the vite integration for storybook), so I'm not sure the best way to be sure that the ESM code is being used when appropriate.

[2022-10-07 16:04] naveenkal opened #19393 "Digest method not supported"
### Discussed in https://github.com/storybookjs/storybook/discussions/19392

<div type='discussions-op-text'>

<sup>Originally posted by **naveenkal** October  7, 2022</sup>
I upgraded to Angular 14 and I can't get storybook to build successfully.

Getting below error :

99% done plugins webpack-hot-middlewarewebpack built preview c4fd3adfedabce8e8e4b in 28712ms
WARN Force closed manager build
Mod

[2022-10-07 16:07] LukyVj commented on #12065
Still there 👋

[2022-10-07 16:10] vitalii-bulyzhyn opened #19394 "Support multiple types for Vue"
**Describe the bug**
Some of my components can accept props of different types, for example String or Number, but when It comes to the Storybook - it renders input as object.

I'm not sure if that's a bug or it suppose to behave like that, but would be perfect if there is a possibility to select one of types that are specified in props and render input field for that type

**To Reproduce**

_compo

[2022-10-07 16:41] arimendelow opened #19395 "Using Webpack aliasing to mock an imported module breaks other imports"
Hi! I'm working on a project that requires mocking imports, and attempted to do so following [the docs](https://storybook.js.org/docs/react/writing-stories/build-pages-with-storybook#mocking-imports).

However, when I do this, it breaks other imports - they simply show up as `undefined`, even if they're totally unrelated.

This is very odd behavior, is there a suggested way for me to debug this?

[2022-10-07 17:12] schmkr commented on #18924
Closing this issue, because this PR added the logic to make ngcc optional: https://github.com/storybookjs/storybook/pull/19307

[2022-10-07 17:12] #18924 closed

[2022-10-07 18:37] jesrodri commented on #12516
Hi, is this still needed? Can I try to implement?

[2022-10-07 19:22] Platiplus commented on #18732
@ndelangen can I work on [lib/codemod](https://github.com/storybookjs/storybook/blob/next/code/lib/codemod/package.json) ?

[2022-10-07 19:31] IanVS commented on #18732
@Platiplus I've added you to the list, go for it!

[2022-10-07 19:38] tbtommyb commented on #16914
I found the problem and am leaving this note in case it helps anyone in future. In my case, I was trying to combine the Storybook webpack config with my own. My webpack config used `ts-loader` to handle the Typescript. I removed that plugin and relied on Storybook's built-in `babel-loader`.

I'm not sure why using `ts-loader` caused the problem, but it was obviously wasteful to use two loaders any

[2022-10-07 21:24] scottalguire commented on #8881
@RodrigoTomeES

I had the exact same situation where I had a polymorphic component that renders a different element type based on an `as` prop and uses a generic to impose type safety.

I redeclared the `forwardRef` definition using [the approach found here](https://fettblog.eu/typescript-react-generic-forward-refs/#option-3%3A-augment-forwardref) and controls work just fine in storybook now.

My

[2022-10-07 21:37] Nikitonu4 commented on #19151
same problem, the solution did't help, the vite version is 3.0.0, @storybook/builder-vite is 0.2.3

[code]

[2022-10-07 21:44] adrxlm commented on #14742
I had the same issue, I found a workaround but I'm not sure if is implemented correctly

[code]

[2022-10-07 21:49] fcisio commented on #12497
Hi, I'm on Storybook 6.5.12 and this is still an issue.

[2022-10-07 22:42] fcisio commented on #12497
Hi everyone, I believe I just figured this one out! 🎉🎉🎉

It seems that pages will only scroll back up if the `docs` tab is selected.
Now it happens quite often that you open an `mdx` story on the `canvas` tab.

## Solution:
We have to manually select the `docs` tab and hide the `canvas` one (this should probably be the default behaviour, but well...)

[code]

[2022-10-08 02:04] IanVS commented on #19151
@Nikitonu4 can you share the error message you're getting?

[2022-10-08 02:22] IanVS commented on #19151
I ran `yarn add --dev vite@3`, and adjusted my `.storybook/main.js` like this, and storybook loads the example stories.  I'm not familiar enough with quasar to know whether it's 100% working, though:

[code]

[2022-10-08 08:13] tolkadot commented on #18732
I can take a look at [lib/builder-webpack5](https://github.com/storybookjs/storybook/blob/next/code/lib/builder-webpack5/package.json)

[2022-10-08 09:38] Nikitonu4 commented on #19151
indeed, after installing vite@3 dependency it worked, thanks!

[2022-10-08 10:55] yannbf commented on #19394
Hey @vitalii-bulyzhyn I'm not sure if this is a bug with vue-docgen-api (underlying mechanism that infers the types from the args), but you can manually specify types for your args, probably solving your issue:
https://storybook.js.org/docs/react/api/argtypes#manual-specification

[2022-10-08 11:01] yannbf opened #19401 "Addon-interactions: assertion outside of Step appears as if it was inside of Step"
**Describe the bug**
When using the `step` construct in the play function and writing an interaction/assertion that is **outside** of the step, but **inside** of `waitFor`, the panel provides a wrong visual.

Here's the code that looks correct, not using `waitFor`:

[code]

and here's how it looks like (with the step collapsed):

<img width="462" alt="image" src="https://user-images.githubusercont