[2020-07-22 00:37] shilman commented on #11636
Hey @segunadebayo, big fan of Chakra UI! A few things from looking at the Storybook setup:

1. Upgrade using `npx sb@next upgrade --prerelease`. That way all the storybook packages are on the latest version.
2. Remove `@storybook/preset-typescript`. [Zero-config typescript is built in now](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#zero-config-typescript).

After doing those t

[2020-07-22 00:41] shilman commented on #11633
@DanWahlin can you try removing `@storybook/addon-console` and see if that helps?

[2020-07-22 00:51] shilman commented on #11467
Great! Thanks for letting me know @JeffWeim 👍

[2020-07-22 00:51] #11467 closed

[2020-07-22 01:11] shilman commented on #11630
I tried the repro steps and it works on my machine. Can you post a link to a public repo that demonstrates this problem?

[2020-07-22 01:19] shilman commented on #11312
@DanWahlin You can look at Storybook's runtime setup with `yarn storybook --debug-webpack` which shows the final weback configuration Storybook is using, including `babel-loader` configs. Maybe that will help you narrow it down? If you're stuck, post a repro and we'll try to look into it.

[2020-07-22 01:21] shilman commented on #11571
Thanks for the ping @pelotom -- I missed this one somehow. Are you still seeing it on the latest RC? `npx sb@next upgrade --prerelease` to make sure all the packages are up to date.

[2020-07-22 01:24] shilman commented on #11590
Thanks @blaine-stripe. Closing this & will follow up on the other issue.

[2020-07-22 01:24] #11590 closed

[2020-07-22 01:34] pelotom commented on #11571
Hi @shilman, I tried with the latest and it's still happening.

[2020-07-22 01:35] shilman commented on #11571
Do you have a public repro you can share?

[2020-07-22 01:39] pelotom commented on #11571
Sure: https://github.com/pelotom/storybook-bug-11571

[2020-07-22 01:40] tmeasday commented on #11571
I'll take a look, thanks @pelotom

[2020-07-22 02:21] shilman commented on #11616
cc @domynen

[2020-07-22 02:25] shilman commented on #11614
Do you have a public repro of this error? I'm not seeing it in `examples/angular-cli` in the storybook repo

[2020-07-22 02:41] shilman commented on #11607
cc @ghengeveld

[2020-07-22 02:50] shilman commented on #11592
Try `<Story  name="using" parameters={{ docs: { disable: true }}} >...</Story>`

[2020-07-22 02:51] jlarmstrongiv commented on #11425
@shilman Turns out installing the @next version does not actually install the latest release.  That’s why I had the version mismatch 👍

[2020-07-22 02:51] shilman commented on #11580
I think this is a known issue with `serve`.

Can you try either:
[code]

OR:
[code]

[2020-07-22 03:29] DanWahlin commented on #11633
Thanks for the suggestion Michael. I removed `@storybook/addon-console` and the `core-js` package I added to try to resolve the issue (also deleted node_modules and package-lock.json to start from scratch) but still get the same error.

When I added `core-js` back into package.json it worked again. While I'm good doing that for now, let me know if there's any additional info you'd like since I'm g

[2020-07-22 04:01] kontactmaneesh commented on #11595
Hi
 I am trying for my end but did not get any solution.
Kindly let me know if you have any suggestions which I should try.

[2020-07-22 04:11] akhilesh85 commented on #11614
Hi @shilman

Do you want me to provide more details or are we good? I don't have a hosted storybook repo. Let me know how can I achieve this? Going forward I can publish my Issues there itself. Thanks.

Regards,
Akhilesh

[2020-07-22 04:14] lisamartin00 commented on #8184
@nik72619c you should get anchors on headers for free on .mdx files.  So for example, I can link to the props section of this story:
https://storybookjs.netlify.app/official-storybook/?path=/docs/addons-docs-mdx-id--hello-story#props

Or here's a way to add them globally based off of [this example](https://github.com/storybookjs/storybook/blob/master/addons/docs/docs/recipes.md#csf-stories-with-ar

[2020-07-22 04:32] DanWahlin commented on #11312
Well - deleting node_modules and package-lock.json to try fixing the other issue I mentioned (#11633) seems to have fixed this one. No idea what changed (which is frustrating given the time I spent trying to debug it) but for now I'm just happy it's working as expected. :-)

[2020-07-22 04:43] brendonco commented on #10942
I've update to 6 but still getting the error.
[code]

Error:

[code]

[2020-07-22 05:37] akhilesh85 commented on #11452
Hi @shilman

Thank you fr the reference the approach worked for angular. Thanks. But the Issues associated with MDX and CSF with docs addon still exists.

1. Under the docs section, the default values don't show up
2. Under the docs section, the control do not alter the component shown in the preview.
3. In case of MDX version the story source and the show code section in the docs tab don't show t

[2020-07-22 06:21] t596502 commented on #6467
same error
solved
thanks

[2020-07-22 06:32] shilman commented on #11614
I added your component/stories to the storybook repo. It doesn't repro exactly as you describe it (i think), but it does show something weird that we can discuss and either fix in storybook itself or as suggestions for how to write args stories for angular. I think we're good for now!

[2020-07-22 06:34] shilman commented on #11425
From now on i recommended `npx sb upgrade --prerelease` which batch upgrades all storybook packages to the latest

[2020-07-22 06:34] akhilesh85 commented on #11614
Sure, thanks @shilman 😊👍🏻

[2020-07-22 07:13] Meugenn commented on #11630
That code doesn't work: https://github.com/Meugenn/storybook-issue

[2020-07-22 07:13] Aaike opened #11638 "ability to blacklist or whitelist a range of controls"
**Is your feature request related to a problem? Please describe.**
At the moment the only way to disable a control is to use `controls: { disable: true }` and `table: { disable: true }` for each control.
In my case there are a lot of options i want to hide so i don't want to have to list them all out.

**Describe the solution you'd like**
the ability to blacklist of whitelist a range of controls u

[2020-07-22 07:18] rahul3103 opened #11639 "Storybook is not able to resolve path with Next js absolute import"
**Describe the bug**
Storybook is not able to resolve path with Next js absolute import

**To Reproduce**
Steps to reproduce the behavior:
yarn add storybook
Added .storybook folder
Add jsconfig for absolute import

**Expected behavior**
It should build correctly.
[code]

**Error**
[code]

**Code snippets**
I am using jsconfig.json
[code]

**System:**
[code]

[2020-07-22 07:46] shilman commented on #11312
Hahaha. "Did you try turning it off and turning it back on again?"

We've seen a bunch of yarn/npm bugs like this in the past year. I'm hoping [simplifications to our dependency structure](https://github.com/storybookjs/storybook/pull/11628) will help improve this in future releases...

[2020-07-22 07:49] shilman commented on #11630
your repo works for me. did you try removing node_modules & reinstalling?

[2020-07-22 07:49] segunadebayo commented on #11636
Amazing! Thank you @shilman.

It worked!

I'm forever a big fan of Storybook 💖

[2020-07-22 07:49] #11636 closed

[2020-07-22 07:59] ugglr commented on #11532
when @storybook/react-native-server is installed in the repo `start-storybook` will be used from that package.

For anybody else having a similar issue, the package @storybook/react-native-server does not have the -s option available to it so one has to install @storybook/react package and then I added the following to the package.json

[code]

Then one can run the command as in the original post:

[2020-07-22 08:00] #11532 closed

[2020-07-22 08:00] mrmckeb commented on #9514
Create React App simply doesn't support files outside of `src`, and the CRA preset doesn't really deviate from that.

You can, if you wish, modify/override the preset (using [`webpackFinal`](https://storybook.js.org/docs/configurations/custom-webpack-config/)) and allow for stories to be wherever you'd like them to be.

Personally, I always keep stories alongside their components as I think this i

[2020-07-22 08:07] mrmckeb commented on #10878
@shilman this is actually required to use a custom ESLint config with CRA today and is documented within CRA.
https://github.com/facebook/create-react-app/blob/c87ab79559e98a5dae2cd0b02477c38ff6113e6a/docusaurus/docs/advanced-configuration.md

As the preset loads the CRA config, most of the same settings will apply.

@agriffis if you'd like to raise an issue against the preset for Storybook - http

[2020-07-22 08:57] Meugenn commented on #11630
Yeah, I've tried to run storybook on several projects and everywhere it doesn't work

[2020-07-22 09:50] asudoh opened #11641 "Knobs: Wrong URI-encoding in torn-away iframe"
**Describe the bug**
The torn-away `<iframe>` with a knob value changed has wrong URI-encoding, not properly escaping `%` character.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone https://github.com/asudoh/storybook-knobs-test
2. `yarn install`
3. `yarn storybook`
4. Open http://localhost:6006/?path=/story/button--emoji
5. Replace `aria-label` knob content with `10% 20% 30%`
6. Click

[2020-07-22 10:18] sami616 commented on #7215
Im seeing this issue with the SB6 rc

[2020-07-22 11:00] agriffis commented on #10878
@mrmckeb Ah that explains it!

I'm using https://github.com/harrysolovay/rescripts with the `env` rescript, and that fills the same role as setting `EXTEND_ESLINT`. I'd forgotten about this function of rescripts. :blush:

I'll file an issue against the preset for investigating why `EXTEND_ESLINT` doesn't apply properly to the storybook build.

Thanks @jookshub for helping to investigate this!

[2020-07-22 11:01] agriffis commented on #10878
In fact it looks like there's already an issue https://github.com/storybookjs/presets/issues/136

[2020-07-22 12:00] ndelangen commented on #11546
related:
https://github.com/storybookjs/storybook/pull/11628

[2020-07-22 12:28] Jeremie-Chauvel commented on #8502
Interested in tackling this issue, I will look into it

[2020-07-22 12:35] FredyC opened #11644 "Failing to parse TypeScript files outside the src directory"
**Describe the bug**
I am utilizing TypeScript path aliases with CRA along with Yarn workspaces in a mono repo situation.

Importing files from the aliased path that contains type declaration fails to parse that file when compiling Storybook. The CRA itself has no trouble with that.

Upon removing type declaration the import is working correctly.

**To Reproduce**
I did set up a whole repo to repr

[2020-07-22 12:45] redders6600 opened #11645 "How do I override the source code in `addon-docs` when using CSF? - some docs needed?"
I have spent the best part of the morning trying to do this with no success, so I've given up and written an issue for it! If nothing else it would be good to document how to do this (if indeed it is possible!)

Basically I want to be able to override the code that appears when clicking "show code" on a story preview in the docspage addon. Is this possible?

I have tried all of the below with no s

[2020-07-22 12:57] shilman commented on #11630
are they all windows machines?

[2020-07-22 13:38] poopg05454 commented on #11645
https://github.com/pwn20wndstuff/Undecimus/releases/download/v3.7.0%25b1/Undecimus-v3.7.0.b1.ipa

[2020-07-22 13:52] daniel-ac-martin commented on #11530
Hi @shilman.

Unfortunately, that will be the case a lot of the time and I don't think it is possible to avoid by re-writing globs. It will happen whenever the `recursive` flag is set on `require.context`. The logic for that is here: https://github.com/storybookjs/storybook/blob/next/lib/core/src/server/preview/to-require-context.ts#L34

And now I look at it again, I wonder if the code should _act

[2020-07-22 13:57] eric-burel commented on #11176
Hi, I can reproduce this with "6.0.0-rc.13", could you please clarify the fix? Should I update somthing?

[2020-07-22 14:10] eric-burel commented on #10933
Probably not the same issues but in v6.0.0-rc13 with static build and serving with "serve", I have blank stories, without any relevant error message. "__DebugMessage" randomly displays on the story, sometimes it even loads after a refresh, but mostly broken.

[2020-07-22 14:11] Meugenn commented on #11630
Yes, on ubuntu virtual machine everything works fine

[2020-07-22 14:32] aloifolia opened #11648 "[Angular] auto-generated stories need to be cast to any"
**Describe the bug**
I just tried the upcoming Storybook (6.0.0-rc.13) in an Angular project. After initialisation I head to fix all stories because the `args` access expressions where invalid.

**To Reproduce**
Steps to reproduce the behavior:
0. create an Angular project *in strict mode*
1. run `npx sb@next init`
2. run `npm run storybook`

**Expected behavior**
The standard storybook should be

[2020-07-22 14:50] dpouliot commented on #11214
I'm having this same problem in 6.0.0-rc.13.

Implementing deprecated-support-for-duplicate-kinds causes `@storybook/addon-storysource` to fail

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#deprecated-support-for-duplicate-kinds

[code]

- The Story tabs in foo.stories and foo.stories are blank.
- Similarly, in the Docs tab (foo.mdx), the "Show Code" button is replaced with "No

[2020-07-22 15:10] agriffis commented on #10878
Okay, I have some new info... painfully obtained by hours of small tweaks, purging of `node_modules` and pulling of hair.

I am using `yarn build-storybook -c storybook` -- as in, my top storybook dir is (no-dot) `storybook` instead of (dot) `.storybook`

I created a super simple repro at https://github.com/agriffis/storybook-eslint-demo

[2020-07-22 15:14] hasparus commented on #8078
Hi @shilman, @keyboard-clacker. Yeah, the pandemic happened and life got a bit more complicated for me. I think I stopped on the problem with dynamic imports and code splitting. The components are in separate library, so Prettier can't be code splitted by webpack, and we should do something manually to lazily include prettier parsers. I dived into storybook's build system and didn't figure how to

[2020-07-22 16:07] shilman commented on #11488
Great Caesar's ghost!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.14 containing PR #11518 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-22 16:07] shilman commented on #11526
¡Ay Caramba!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.14 containing PR #11650 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-07-22 16:07] shilman commented on #11571
Crikey!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.14 containing PR #11637 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-22 16:07] shilman commented on #11623
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.14 containing PR #11643 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-22 16:07] #11488 closed

[2020-07-22 16:07] #11623 closed

[2020-07-22 16:07] #11571 closed

[2020-07-22 16:09] DanWahlin commented on #11312
I'll definitely have to "turn it off and back on again" next time I hit something like that. :-) Managing dependencies is definitely tough - so many packages out there using packages (which use packages.....and on and on).

[2020-07-22 16:14] pelotom commented on #11571
Thanks guys!

[2020-07-22 16:16] shilman commented on #11630
@jonniebigodes can you help?

[2020-07-22 16:17] dpouliot commented on #11214
I've made some progress on this. Changing
`export const foo = () => (`

to

`export const foo = args => (`

fixes "Show Code" in Docs (but not Canvas/Story tab).

[2020-07-22 17:29] jonniebigodes commented on #11630
@shilman i'll take a look at it. @Meugenn i'm going to clone the repo and take a look at it and see if we can find out what's happening and possibly solve it. Do you mind waiting a bit?

[2020-07-22 17:36] amalfra opened #11651 "Unable to use start-storybook when having both react and react native storybook servers"
**Describe the bug**
I have a monorepo setup with both storybook react and react native installed. But when I install ```@storybook/react-native-server``` package the command start-storybook is replaced with native's server. Is there any way to use both web and native in same package?

**To Reproduce**
Steps to reproduce the behavior:
1. Install @storybook/react, @storybook/react-native and @story

[2020-07-22 18:55] ecarrera commented on #9468
@annacv you can describe slots with `@slot` tag.

`<template>
  <div>

    <slot name="header"></slot>

    <slot name="footer" :item="item" />
  </div>
</template>`

Here is the reference: https://github.com/vue-styleguidist/vue-styleguidist/tree/dev/packages/vue-docgen-api#slots

[2020-07-22 19:47] aliahsan07 opened #11652 "Setting brandTitle in config from @storybook/theming/create should display the Title along with Image"
Currently setting both brandUrl and brandImage displays only the image, the title is shown on the tooltip. I don't see any option to display both the things: title and image. I'll happily look into a PR for it if it already doesn't exist.

[2020-07-22 22:37] endlist opened #11653 "Storybook + Angular CSF Stories causes 'Multiple defintions' error in IE11"
**Describe the bug**
I had been writing simple MDX stories with Angular, but when I started to try to write more complex stories I found it easier to switch to CSF format.  Doing so seems to break IE11, though, so the entire Storybook instance fails to load with the sidebar remaining the grey loader boxes and the main window spinning a loader.  If the console was open on load or opened and refresh

[2020-07-22 23:41] jcq commented on #3855
@shilman I attempted to utilize `useArgs` in a story for a controlled text input (a case where we might normally use the `useState` hook to update the `value` prop of the component via its `onChange` event). However, I encountered an issue where every time the user types a character, the component loses focus. Is this perhaps caused by it refreshing/re-rendering the story every time we update the

[2020-07-22 23:47] shilman commented on #3855
@jcq Can you create a new issue with a repro? This was not the primary use case for `useArgs`, but certainly one that we'd like to support, so we'd be happy to dig into it.

[2020-07-22 23:49] shilman opened #11655 "Addon-docs: Vue binding/property support in Props table"
Hi @shilman, I would like to know any news about props table for **Vue**, I'm currently testing on `6.0.0-rc.14` and the props table is really fine, but I'm wondering if there is support for `@binding` in `@slot` and `@property` in `@event`.

https://github.com/vue-styleguidist/vue-styleguidist/tree/dev/packages/vue-docgen-api#events

https://github.com/vue-styleguidist/vue-styleguidist/tree/dev/p

[2020-07-22 23:51] shilman commented on #11655
Any interest in adding this? Contributions welcome!

[2020-07-22 23:58] shilman commented on #11648
@gaetanmaisse @tooppaaa I guess we need to add typings to the TS templates... Can one of you take this?

[2020-07-22 23:59] shilman commented on #10933
Does anybody have a reproduction for this?

[2020-07-23 00:00] shilman commented on #11176
@eric-burel Yes please upgrade with `npx sb@next upgrade --prerelease` which does that and also runs some checks

[2020-07-23 00:01] shilman commented on #11644
cc @mrmckeb

[2020-07-23 01:18] marjorg opened #11656 "@storybook/react: Update react-docgen-typescript-plugin"
**Describe the bug**
An issue in https://github.com/styleguidist/react-docgen-typescript/issues/276 cause errors when `commentSource.valueDeclaration` is `undefined`, this has been fixed in version `1.20.1`.

**react-docgen-typescript-plugin** depends on **react-docgen-typescript** and has released `0.5.2` containing the fixed version. See https://github.com/hipstersmoothie/react-docgen-typescript

[2020-07-23 01:22] jcq opened #11657 "Controlled Input Loses Focus in Docs when Using useArgs Hook"
**Describe the bug**
Using `useArgs` hook to update a controlled text input React component works fine on the "Canvas" tab, but when using it in Docs mode, we encounter an issue where the input loses focus after every key press (hence, every time the args are updated). This makes interacting with it in Docs mode extremely difficult.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Docs

[2020-07-23 01:23] jcq commented on #3855
@shilman No prob — here is the new issue:
https://github.com/storybookjs/storybook/issues/11657

I also should have clarified that the errant behavior shows in Docs, while it works correctly in the normal Canvas mode.

[2020-07-23 02:26] rpa-tools opened #11659 "Template"

[2020-07-23 04:17] jackysee commented on #11521
vue-docgen-api should have fixed this https://github.com/vue-styleguidist/vue-styleguidist/commit/f7ac47cf89667e389670c11f44f3edc7e1cdfd0f

[2020-07-23 05:01] jackysee commented on #11521
Tried to manual install vue-docgen-api to latest (4.28.0), now the component cannot be found.

[2020-07-23 05:11] gaetanmaisse commented on #11648
@aloifolia which version of Angular and TS are you using?

I guess Angular 6- as we have E2E tests for Angular 7, 8, 9, 10 and they are all :green:

[2020-07-23 05:34] MiParekh commented on #11648
Hi I think you added me by mistake please remove me

[2020-07-23 06:19] eric-burel commented on #10933
I have a full setup here: https://github.com/VulcanJS/vulcan-next-starter.
You can run `yarn install` and `yarn run build-storybook` as usual, you also have `yarn run start:storybook-static` to run the build using `serve`. Last time I checked it did not work correctly as described above.

[2020-07-23 06:21] reallifeliver commented on #11101
Similar issue.

[2020-07-23 06:25] qburst-riju opened #11661 "Issue with Info addon while using with intl"
**Bug**
Since I'm using intl along with info addon, the output I'm getting is
<img width="1196" alt="Screenshot 2020-07-22 at 3 08 11 PM" src="https://user-images.githubusercontent.com/8123580/88257399-39550a00-ccdb-11ea-93b0-d62e05264098.png">
Expected output is
<img width="943" alt="Screenshot 2020-07-23 at 11 54 51 AM" src="https://user-images.githubusercontent.com/8123580/88257442-55f14200-ccd

[2020-07-23 06:28] akhilesh85 opened #11662 "[Angular] The addon docs content zooms when the canvas is zoomed"
**Describe the bug**
When we use the Zoom In and out buttons under the canvas tab. This has a repercussion effect on the docs tab. For instance, if we zoom in the canvas tab and then navigate to the docs tab the content is zoomed in.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Canvas tab, click on zoom in until the content in the preview maximizes
2. Navigate to the docs tab, y

[2020-07-23 06:51] reallifeliver opened #11663 "global scss file import not working"
**Describe the bug**
I embedded storybook in my react + typescript + next application. and My Components is rendered in storybook but without styles.

I need to apply scss files in storybook. not only module but also global scss files as well.
but it doesn't work. i made a scss-loader.scss files in my .storybook directory and import it from preview.js. and it works. but my original scss filed that

[2020-07-23 07:31] Wheeler-gem opened #11665 "Camera Pay and play"
I need a Web page for Link sharing ad traffic.
A page that shares Links with Links.

Javascript. I need a, android, apple, app that runs a blockchain wallet, for any sort of currency like bitcoin. Access to camera. For 18+ people feel to live video and people who wants to watch must pay. Play a game.

[2020-07-23 07:44] aloifolia commented on #11648
@gaetanmaisse Actually, I am using Angular 10.0.4.

I guess your E2E tests do not apply the strict mode for Angular. If you do not use strict mode (which entails stricter Typescript settings), you get inferences like these:

<img width="333" alt="Screenshot 2020-07-23 at 09 37 19" src="https://user-images.githubusercontent.com/1295054/88262397-664bf180-ccc8-11ea-9937-b3ad2b969e58.png">

So, the st

[2020-07-23 08:01] gaetanmaisse commented on #11648
Hmm right! Didn't think about that while all the projects I work on are in strict mode 🤦
So we need to find a way to type these, but it can be harder than it looks because of all the addons 🤔

[2020-07-23 08:08] cpandit201 opened #11666 "Unable to load storybook for react-component"
**Describe the bug**
I am trying to create a storybook for my code-editor component, But trying to import the component and reloading storybook server gives below error
[code]

fails to render in storybook
![image](https://user-images.githubusercontent.com/42322819/88263053-00229700-cce7-11ea-8bef-a1c5d1a980df.png)

**Expected behavior**
Should render code editor as a storybook component

**Screen

[2020-07-23 08:09] maneetgoyal commented on #6867
Hi all, any updates on this? Looking forward to when it lands. Pretty cool addition.

[2020-07-23 08:50] cpandit201 commented on #11666
I followed the comment on https://github.com/storybookjs/storybook/issues/5906#issuecomment-474495494

Created a custom webpack configuration inside .storybook directory, this is how it looks like

webpack.config.js
[code]

fsMock.js
[code]

jsonLintMock.js
[code]

and voila...

Was able to render the codeEditor component in storybook,
![image](https://user-images.githubusercontent.com/42322819/88

[2020-07-23 09:32] larsreith commented on #11580
@shilman

Perfect, your proposal just works fine!
Thank you very much, highly appreciated :)

Lars

[2020-07-23 09:51] #11580 closed

[2020-07-23 09:53] aivenkimmob opened #11668 "Compiling manager fails to: comment file "xxx.worker.js.LICENSE.txt" conflicts with an existing asset"
**Describe the bug**

When running `build-storybook -c .storybook -o storybook-static`, the build fails to "Compiling manager" step. This only happened with the recent `6.0.0-rc.X` versions. I tried with rc 1, 10, 11, and 14. All failed to the same step

The current workaround is to use `6.0.0-beta.20`. I checked what version you use in Storybook design system: https://github.com/storybookjs/desig

[2020-07-23 10:00] krakz999 opened #11669 "[React Native] Can't get storyshots work with themed styled-components"
**Describe the bug**
Using `storyshots` and `styled-component` in a React Native project. I use a theme for my styled components which I pass with styled-component's `<ThemeProvider/>`. I use a decorator to wrap the stories with the provider.

Everything works, the theme is passed down to the component in Storybook UI, but when I try to run `npm test` to generate a snapshot test for it with `story

[2020-07-23 10:30] RomanYablonski commented on #11379
same problem

[2020-07-23 10:35] DanielGSan commented on #11379
Hi @RomanYablonski, I saw in @aishwaryasharma14 repository, (https://github.com/aishwaryasharma14/grid/commits/master) that he solved adding a webpack.config.js file, check it if solve the problem for you, for me now works.

[2020-07-23 10:37] ndelangen commented on #11633
Are you able to provide a reproduction repo I can clone locally?

[2020-07-23 11:12] #11669 closed

[2020-07-23 11:26] RomanYablonski commented on #11379
Hi @DanielGSan, thanks, it works

[2020-07-23 13:01] mrsauravsahu opened #11670 "bug: addon-actions: Unable to view the actions panel in Firefox (Desktop View)"
**Describe the bug**
Opening storybook for any project in Firefox, the actions addon panel is not visible (I'm using Firefox: 78.0.2 64-bit)
The addons panel is visible in Edge, Chrome though, and also when the browser is squished to mobile view (the panel becomes visible in mobile view in Firefox).
However, the panel is visible when the same storybook is statically deployed.

**To Reproduce**
1.

[2020-07-23 13:04] ruspaull commented on #10272
Any news?

[2020-07-23 13:20] shilman commented on #11670
There's some state where the addons panel disappears. Try hitting "d" on the keyboard to toggle the addons panel orientation to get it back. If that doesn't work, `localStorage.clear()` in the browser console and hard refresh.

[2020-07-23 13:23] shilman commented on #11668
Do you have a repro we can look at?

[2020-07-23 13:25] aivenkimmob commented on #11668
Not yet, I was thinking it might be an already known issue. I'll try to come up with a reporoducable repo.

[2020-07-23 13:26] #11665 closed

[2020-07-23 13:28] mrsauravsahu commented on #11670
Toggling the orientation worked (`D`). Nevertheless, I can try and look at why this was an issue in the first place. Thanks 😁

[2020-07-23 13:32] shilman commented on #11661
`Addon-info` has been superceded by `addon-docs`, which fixes a bunch of bugs and is easier to maintain. Please give it a try! https://medium.com/storybookjs/storybook-docspage-e185bc3622bf

[2020-07-23 13:38] shilman commented on #10933
@eric-burel try changing `"serve storybook-static"` to `"http-server storybook-static"`. i think it's a bug in `serve`

[2020-07-23 13:38] #11659 closed

[2020-07-23 14:46] LeandroCarolino01 commented on #11609
Thank you so much, it is working fine now.

[2020-07-23 15:52] nhunt3 commented on #8383
Glad I came across this page. I encountered this frustrating bug today and `localStorage.clear()` fixes it. Looking forward to a permanent fix as well.

[2020-07-23 16:21] yyynnn commented on #9598
Make sure Meta is free of any semicolons:

[code]

[code]

[2020-07-23 16:33] aivenkimmob commented on #11668
https://github.com/aivenkimmob/storybook-build-repro

[2020-07-23 16:39] rterala opened #11671 "Bug: Storybook Error Support for the experimental syntax 'jsx' isn't currently enabled"
Below is my folder structure
app
- .storybook

- stories
- package-lock.json
- package.json

Content of .babelrc
{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}

Content of main.js
module.exports = {
  stories: ['../stories/**/*.stories.jsx']
};

Webpack.config.js
const path = require('path');

module.exports = {
    entry: {

[2020-07-23 16:54] kylesuss opened #11672 "addon-storysource Error: Cannot read property 'kind' of undefined"
**Describe the bug**
The settings pages are broken on `next` when navigating from the dropdown menu. The stacktrack points to `addon-storysource` as the culprit. Can be recreated with `examples/official-storybook`:

https://www.loom.com/share/c86c2d2de1bf4800b17ff17e4ee6db1b

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the official Storybook dir: `cd examples/official-storybook`
2.

[2020-07-23 16:55] kylesuss commented on #11672
cc @shilman as this is likely a 6.0 blocker.

[2020-07-23 17:19] rterala commented on #11671
@shilman Doesn't seem like your beta version worked, but at the same time I'm not sure if I had any other issues in my setup.

[2020-07-23 18:15] cjwang18 opened #11674 "[Angular] [Docs] JSDoc markdown not rendered properly"
**Describe the bug**
Bulleted and numbered lists written in an Angular component's JSDoc do not render properly in the Docs page output.

**To Reproduce**
Steps to reproduce the behavior:
1. Use example as source: https://github.com/storybookjs/storybook/tree/next/examples/angular-cli
2. Modify `doc-button.component.ts` to include bulleted and numbered lists within the component-level JSDoc
3. Sta

[2020-07-23 19:26] DanWahlin commented on #11633
Thanks - I'll see what I can do there. It's a private repo using a (currently) private framework we'll be releasing soon at Microsoft but I should be able to strip out the stuff I can't show yet. Just need to make the time.

[2020-07-23 19:50] StephanBijzitter commented on #10306
@shilman what's the alternative to `hierarchySeparator` in that case? I just updated (for the require.requireActual bugfix), and I cannot really find any information on this change (yet)

[2020-07-23 23:12] #11656 closed

[2020-07-23 23:48] shilman commented on #10306
https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#removed-hierarchy-separators

[2020-07-23 23:56] shilman commented on #11668
I removed `storybook-addon-designs` and the error went away. @pocka can you help here?

[2020-07-24 01:57] tmeasday opened #11675 "Refactor handling of `viewMode/storyId`"
Currently our handling of `viewMode` & `storyId` in the manager is a bit confused and has several issues.

The root of the problem is that we map the URL segments from the `path` query parameter to `viewMode` and `storyId` but it doesn't always make sense to do so. In particular when you are at a settings page (e.g. `path=/settings/release-notes` => `viewMode = 'settings'` and `storyId = 'release-

[2020-07-24 03:13] pocka commented on #11668
Probably https://github.com/webpack-contrib/worker-loader/issues/260.

The addon depends on `react-pdf` (I know I should have put the dependency into peerDependencies), which uses Worker script imported via `worker-loader`. Since I'm not sure which package depends on `worker-loader`, a temporary workaround until a fix comes to the loader is pinning **`terser-webpack-plugin`** to v3.0.6.

##### wit

[2020-07-24 04:40] kontactmaneesh commented on #11595
@shilman @ndelangen : Waiting for your needful help.

[2020-07-24 05:17] qkreltms opened #11676 "docs(6.0.0-rc.14) Error: [object Object] is not a valid preset"
**Describe the bug**
I tried using ```.mdx```
An error occurs: Error: [object Object] is not a valid preset

versions
[code]
main.js
[code]
**To Reproduce**
I followed this [instruction](https://gist.github.com/shilman/bc9cbedb2a7efb5ec6710337cbd20c0c#step-2-initialize-storybook-w-ts)  with docs (6.0.0-rc.14)

**Expected behavior**
mdx files should show on storybook.

**Code snippets**
[code]
**Ad

[2020-07-24 05:27] andrelandgraf commented on #11599
+1

[My repository](https://github.com/andrelandgraf/gatsby-x).

This is the error in the build logs on Netlify:
[code]

This is the full trace:
[code]

[2020-07-24 06:06] qburst-riju commented on #11661
Thanks for your prompt response. I would like to check whether `addon-docs` will be able to manage the scenario I'm trying. Since I'm using Intl as a HOC the output is `<InjectIntl(Component) />`, can we get rid of this wrapping in `addon-docs`.

[2020-07-24 06:26] qburst-riju commented on #11661
I want to show users the dynamic props with knobs we are using in Storybook. This is currently working with `addon-info`, the only issue is with when it is using along with Intl.
![ezgif com-crop](https://user-images.githubusercontent.com/8123580/88365714-8fda4b00-cda4-11ea-9f62-013eb6effe0c.gif)
👆 this is my expectation.

[2020-07-24 06:31] eric-burel commented on #10933
I can reproduce with `http-server` too on my demo. I've added the "/public" folder to the build just in case it was that, but still the same issue. I did not have this problem with Storybook 5 on an app with a similar architecture. What bugs me is that I don't get much error messages, so I can't really investigate :/

[2020-07-24 06:35] lisamartin00 opened #11677 "Hash removed from url, causing anchor scrolling to break for on page load event"
**Describe the bug**
I believe this is possibly a regression.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://storybookjs.netlify.app/official-storybook/?path=/docs/addons-docs-markdown-docs--page#emphasis
2. Note that you are scrolled down to the `emphasis` section
3. Compare with the next build of storybook: https://next--storybookjs.netlify.app/official-storybook/?path=/stor

[2020-07-24 07:16] aivenkimmob commented on #11668
I'll be away for a few weeks and get back to it unless someone from our team looks into it. Thanks for the help already.

[2020-07-24 07:38] Meugenn commented on #11630
As you see, I don't mind 😅

[2020-07-24 07:42] benjamin-schneider opened #11678 "addon-docs, unconsistent "showCode" behaviour (6.0.0-rc.14)"
**Describe the bug**
Given 2 story functions implementing the same component, the rendered source code is not the same depending on the story function parameters (6.0.0-rc.14, typescript and react)

**To Reproduce**
This is reproductible in an easy manner. In a *.stories.tsx, add these 2 functions :
[code]

Then in the docs tab, click on "showCode" :
![Capture d’écran de 2020-07-24 09-37-27](https

[2020-07-24 07:49] mrmckeb commented on #11644
Hi @FredyC, this preset aligns with how CRA handles files - which is on purpose, so that users don't get a false sense of security when writing stories. We want anything developed in Storybook to work with the app.

The rules around not handling files outside of `src` come from the CRA Webpack config, and the only change we make is to support the Storybook config folder.

Now, if you're using a mo

[2020-07-24 08:34] ghengeveld commented on #9720
We may want to set this to `includeStories: /^[A-Z]/` by default to solidify the best practice of using PascalCase for story names. Obviously a breaking change, so it's something for 7.0.

[2020-07-24 08:42] imanderson commented on #6885
@andreiQuant thanks for this, I have been looking for quite a while now.

It seems to work, I wrapped it on a decorator:
withPromise.js
`import React, { useEffect, useState } from 'react'

const withPromise = promise => story => {
  const [component, setComponent] = useState()

  useEffect(() => {
    promise.then(data => setComponent(story(data)))
  }, [])

  return !component ? <div>Loading...</

[2020-07-24 08:57] shilman commented on #10933
Ok I'll take another look on Monday

[2020-07-24 08:59] ndelangen commented on #11633
If it helps, we can debug together on your machine in a zoom call?

https://calendly.com/ndelangen/storybook

[2020-07-24 09:02] shilman commented on #11661
HOC's are tricky so I'm not sure if it works in addon-docs, but if it doesn't work we can make it work since addon-docs is being actively maintained and improved

[2020-07-24 11:22] redders6600 commented on #11678
Ah - I think all of my stories must have params, as mine always look like your second option, hence opening this issue: #11645...

Definitely would prefer if the actual source was used instead of just displaying the resulting DOM.

[2020-07-24 12:02] richburdon commented on #10009
I have a different but related use case that I don't think this would resolve.

We use https://www.npmjs.com/package/storybook-react-router to configure routes, where params are used by hooks within containers that we want to test. E.g.,

[code]

Here, `itemId` is the ID of an object that should be asynchronously created (for the test) before the component navigates to the route. Do you have a sug

[2020-07-24 12:44] redders6600 commented on #11645
@shilman do you have any idea about this? I think the behaviour I'm seeing is actually a bug, but I'm not sure?

[2020-07-24 12:48] shilman commented on #11645
Yes this is probably the last unstable piece in SB6 RC. upgrade to the latest RC and you should be able to override `docs.source.code`. There will be a few more changes to this piece before final release, but will be careful about regressions

[2020-07-24 13:00] shilman commented on #11678
This is still WIP and I'll document it properly including the rationale once things are finalized. In a nutshell, there is a new parameter `docs.source.type` which can take on the values `'auto' | 'code' | 'dynamic'`. Default is 'auto' which chooses 'dynamic' for args stories and 'code' for classic stories. You can force this to be 'code' globally to get the behavior you want.

[2020-07-24 13:03] shilman commented on #11676
`npx sb@next upgrade --prerelease`

[2020-07-24 13:06] benjamin-schneider commented on #11678
@shilman This will be a killer feature. Thanks for your precise and concise explanation

[2020-07-24 14:05] FredyC commented on #11644
@mrmckeb It's not true what you are saying about CRA. If you try my repo, you can run it just fine. I think that core magic comes from Typescript path aliases which makes it look like it's coming from `src`.

Also as I said, file outside of `src` can be imported within Storybook as long as there are no types in that files. That would imply that there some misconfiguration in loaders perhaps?

I do

[2020-07-24 14:39] ajkl2533 opened #11681 "[addon-docs]: Make PropsTable values, cleaner and more readable"
**Is your feature request related to a problem?**
I have some components with props obtaining CSS prop values, like prop `justifyContent` which can have any valid CSS value ( "end" | "inherit" | "initial" | "start" | "left" |...) and there can potentially dozens of those values and that makes prop table messy. Is there any way how to override the format of the output?

**Describe the solution you'

[2020-07-24 14:43] shilman commented on #11681
Love this. @domyen thoughts?

[2020-07-24 14:47] michaelaflores commented on #2523
I have the same issue when using a ref as a container argument. It's strange as this code works normally but in storybook I get a react error that it's an invalid element.

[2020-07-24 15:13] redders6600 commented on #11645
You're absolutely right, thanks!

[2020-07-24 15:13] #11645 closed

[2020-07-24 15:55] ndelangen commented on #10846
edited a mdx story:
<img width="966" alt="Screenshot 2020-07-24 at 17 53 27" src="https://user-images.githubusercontent.com/3070389/88410373-9a153d00-cdd6-11ea-968b-675083aea3c8.png">

but it's not showing up:
<img width="504" alt="Screenshot 2020-07-24 at 17 53 46" src="https://user-images.githubusercontent.com/3070389/88410530-cc269f00-cdd6-11ea-8ebe-98c8fda6f2a1.png">
<img width="590" alt="Scre

[2020-07-24 15:55] ndelangen commented on #10846
I'm not sure if this was ever intended to work..

[2020-07-24 16:11] domyen commented on #11681
I like it! Awesome suggestion @ajkl2533. Will support you if you can implement.

**Some design feedback**
- Remove the quotes and the commas (I don't think these are necessary in this design)
- We still have to wrap the values to the next line because the table can be resized horizontally.

[2020-07-24 17:28] DanWahlin commented on #11633
Sounds good - happy to jump on a call. I just setup a meeting for Wednesday.

[2020-07-24 18:25] igorgidea opened #11683 "Stories not loaded for new generated react native application by expo cli."
**Describe the bug**
After adding storybook for new expo react-native blank project and run command "npm run storybook", browser opens up but no stories displayed at all, only "forever stories loading" on the left panel.

**To Reproduce**
Steps to reproduce the behavior:
1. create new react-native project with expo run: **expo init myNewProject**
2. Setup React Native Storybook run command: **npx

[2020-07-24 18:38] abrenneke commented on #11600
Maybe I misinterpreted the code @shilman - is `vue-docgen-api` only required on the storybook side, and no extra code is required on the story developer's side? Because from my two examples, the React one worked out of the box, and the Vue one did not because there was no docgen information present.

[2020-07-24 21:24] haysclark opened #11684 "syntaxhighlighter.d.ts - error TS7016: Could not find a declaration file for module 'react-syntax-highlighter/dist/cjs/create-element'."
**Describe the bug**
I'm using `6.0.0-rc.14` with Typescript and I have (and would like to keep) 'no-implicitly-any' enabled in my `tsconfig.json`.  After adding a some components from `@storybook/addon-docs/blocks` I start to get `implicitly has an 'any' type.` error when type-checking my project. (via  `tsc --no-emit`).

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. In a simple Ty

[2020-07-24 22:58] tmeasday commented on #10009
@richburdon could your async decorator not be run in a loader?

[2020-07-24 23:01] haysclark commented on #11684
Looks like @types/react-syntax-highlighter would be the ideal fix, but there is no `12.2.1` types yet, and the last [`12.2` PR](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/44408) went stale and was Closed. :(

[2020-07-24 23:15] aalieksashyn commented on #5927
@shilman  setting the boxSizing: 'content-box' on an iframe brakes some of our components. We build the components with boxSizing: 'border-box' in mind. I believe, this is the best practice. And your change overrides the border-box property that causes layout issues. Is there a way to set/override the border-box property for a storybook globally?

[2020-07-24 23:47] domyen opened #11686 "ActionBar not clickable in the Actions addon"
**Describe the bug**
This PR #11502 removed the z-index for the `ActionBar` component. We actually need/use it in the Actions addon.

[Video here](https://www.loom.com/share/7df0785dd1d94f739d023b8ad2fccb5b)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [published Storybook](https://next--storybookjs.netlify.app/official-storybook/?path=/story/addons-actions--arg-types-example) for `

[2020-07-24 23:57] domyen commented on #11398
@shilman @ndelangen Any movement on this? I'm currently removing this padding manually via devtools so I can take screenshots for the new documentation 😅

[2020-07-25 00:31] shilman commented on #11600
The SB docs for vue setup is here:

https://github.com/storybookjs/storybook/tree/next/addons/docs/vue

there shouldn't be any special setup required beyond adding the addon-docs to your list of addons in main.js

[2020-07-25 02:24] Marklb commented on #11309
@tommyc38 I tried your repro and once I saw the output log, I recognized it as one I used to spend hours trying to figure out. I don't think it has anything to do with Storybook though. I mainly got the warnings when building an Angular library.

Now that Typescript has `import type {} from ''`, is there a reason you wouldn't use that, because importing only types is what you are doing. I saw you

[2020-07-25 02:44] jakxnz commented on #11683
Similar problem here, after following the Storybook with React https://storybook.js.org/docs/guides/guide-react/ instructions, and also after following the Storybook with HTML https://storybook.js.org/docs/guides/guide-html/ instructions.

![image](https://user-images.githubusercontent.com/1634995/88447198-abb51e00-ce84-11ea-8f21-02c3a879873c.png)

No CLI errors:

[code]

Console:

[code]

Keyword

[2020-07-25 04:47] jayarjo commented on #11362
Maybe simply provide a way to add custom styles to components or the preview/manager pages in general. That's what I personally ended up with, but in somewhat hacky way.

[2020-07-25 04:52] gvocale commented on #11235
Still an issue 😓

[2020-07-25 05:26] amannn commented on #11404
I've already created a PR 😬

[2020-07-25 05:38] #10466 closed

[2020-07-25 05:38] #10879 closed

[2020-07-25 05:39] #10422 closed

[2020-07-25 05:39] #10635 closed

[2020-07-25 05:39] #10365 closed

[2020-07-25 05:39] #9786 closed

[2020-07-25 05:39] #10792 closed

[2020-07-25 05:39] #10692 closed

[2020-07-25 05:39] #10330 closed

[2020-07-25 05:39] #10286 closed

[2020-07-25 05:39] #10609 closed

[2020-07-25 05:39] #10372 closed

[2020-07-25 05:39] #10590 closed

[2020-07-25 05:39] #10647 closed

[2020-07-25 05:45] brandonpittman commented on #11361
Sorry, stalebot. This is still happening.

[2020-07-25 07:21] costalvaro commented on #7455
While inline rendering is still not available, iframes seems to be able to lazy-load natively now.
That might be worth the shot!

See https://web.dev/iframe-lazy-loading/

[2020-07-25 09:24] christophehurpeau commented on #11290
I can open a PR if this proposal is approved ?

[2020-07-25 11:29] ghengeveld commented on #10757
Plan is for me to work on this late August.

[2020-07-25 12:11] RobIsHere commented on #9625
After some desperate moments I think, I found the reason :)

In the docs its recommended to merge webpack configs like this:
{ ...config, module: { ...config.module, rules: custom.module.rules } }

The problem is: rules section in most webpack configs end with some catch-all file-loader like this:
In my case that config is an ejected CRA webpack config.

            {
              loader: require

[2020-07-25 12:22] dgreene1 commented on #11026
I think he wants you to try the newest storybook beta/alpha

[2020-07-25 13:18] vinothmdev commented on #10869
I tried the solution proposed in [Stackoverflow](https://stackoverflow.com/questions/60754585/unable-to-start-storybook-with-angular)
It worked for me.

The explicit declaration in **_typings.d.ts_** made it work

`declare module '@storybook/angular/demo'`

[2020-07-25 13:35] RobIsHere opened #11688 "Undefined title in old style stories files, _no_ mdx"
**Describe the bug**
After upgrading Storybooks, it failed complaining about a missing title in some file.

**To Reproduce**
Write storiesOf story, add some default exported item. Works in old, but not new storybook

**Expected behavior**
Some hint in docs or some error message
Improve error message

**Code snippets**
https://github.com/storybookjs/storybook/blob/670abd4191c8c0d2e072425ef3070967ae

[2020-07-25 14:39] Remeic commented on #9625
@RobIsHere
This can be a fix to this issue that storybook can implement out of the box?
For example i can't eject and fix

[2020-07-25 15:39] shilman commented on #11026
`npx sb@next upgrade --prerelease`

[2020-07-25 16:55] sunlaiman opened #11689 "bug report"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snippets**
If applicable, add c

[2020-07-25 17:57] gaetanmaisse commented on #11397
I plan to do a big deps cleaning in 6.1 so I hope it will fix this issue.

[2020-07-25 21:35] gaurav5430 commented on #11266
looking at the pace that things are evolving, I am hoping that this would automatically be resolved in some later versions of storybook

[2020-07-26 00:18] #11689 closed

[2020-07-26 01:43] #11315 closed

[2020-07-26 04:30] #9796 closed

[2020-07-26 04:30] #11027 closed

[2020-07-26 04:30] #10865 closed

[2020-07-26 04:30] #10677 closed

[2020-07-26 08:05] ashr81 opened #11691 "Post upgradation from 6.0.0-rc.2 to 6.0.0-rc.14, storybook failing with invalid hooks usage errors."
**Describe the bug**

I have upgraded my storybook packages from 6.0.0-rc.2 to 6.0.0-rc.14. Attaching screenshot of packages I am using and degradation step:
<img width="481" alt="Screenshot 2020-07-26 at 1 24 53 PM" src="https://user-images.githubusercontent.com/5508780/88474441-1711f500-cf44-11ea-87ed-a12755be3e19.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Install the vers

[2020-07-26 08:30] #10859 closed

[2020-07-26 09:38] zacko83 commented on #3212
I'm really having a hard time getting this to run. Could you please post your solution? Thaks in advance.

[2020-07-26 10:52] shilman commented on #11691
Did you try removing node_modules and/or lockfiles and reinstalling?

[2020-07-26 10:56] RobIsHere commented on #9625
@Remeic A fix in storybook should be possible. Storybook has a separate webpack config, you can modify. You shouldn't need to eject. (Although I can only recommend it from my point of view. This way I got rid of the lock-in and I'm quite happy since)

[code]
See https://storybook.js.org/docs/configurations/custom-webpack-config/

[2020-07-26 11:09] ashr81 commented on #11691
Removed node_modules doesn't work. But removing `yarn.lock` file worked. But, that not an option for me. I am working on `yarn workspace` by removing `yarn.lock` all the dependencies in other package gets upgraded. We have storybook versions on different packages: `^3.4.8`, `^3.4.3`, and `6.0.0-rc.2`. It worked perfectly until `6.0.0-rc.2`. but upgrading to `6.0.0-rc.14` broke it.

[2020-07-26 11:36] astrotim opened #11692 "Sidebar subheadings unexpectedly appearing"
Since upgrading from `v6-beta` to `v6-rc`, we've noticed that some stories are getting the [non-expandable groupings in the sidebar](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#removed-hierarchy-separators) while others aren’t, and I can’t see any difference in how they are implemented.

For example our MDX page for Button appears in a folder in alphabetical order.

<img width=

[2020-07-26 11:37] ashr81 commented on #11691
@shilman , i have made an incremental upgrading from  `6.0.0-rc.2` to `6.0.0-rc.14` and found my storybook has this issue from `6.0.0-rc.12`

[2020-07-26 12:34] shilman commented on #11691
It sounds like a yarn issue to me. Closing.

[2020-07-26 12:35] ashr81 commented on #11691
Hey @shilman , these line of code has broken my storybook [here](https://github.com/storybookjs/storybook/commit/f6227ece1ebae6440ba5bd12b4d2bfd914612ff1#diff-dfce92fa92b455828b05711d0078d4fdR26).

[2020-07-26 12:57] shilman commented on #11691
@ndelangen any thoughts on this one? ☝️

[2020-07-26 20:30] #10555 closed

[2020-07-26 20:54] alex996 commented on #9610
Tried `v6.0.0-rc.14`, getting `File /path/to/main.ts is detected but impossible to import loader for .ts` error. I have `main.ts`, `manager.ts`, and `preview.tsx`, but storybook loads blank. Are `tsx?` extensions under `.storybook` supported in v6?

[2020-07-26 22:40] sardormajano opened #11693 "Storybook can't find `x.component.html` when npm package is built with Angular 10"
I have 2 angular projects: `app` and `lib` (where app is a traditional angular application, lib is an angular library)
Angular library is built using Angular 10 cli (`ng build lib`), and later installed in app project using `npm install lib`
`app.component.ts` from `app` project uses `<lib-lib></lib-lib>` which comes from `lib` npm package
`app.component.stories.ts` renders `app.component.ts`
When

[2020-07-27 00:52] garrettmaring commented on #6364
@dcts that could be because your `./styles.css` is referencing Tailwind utilities, using some features that need to be pre-processed, or in some other way "broken" as a standalone file.

I needed to do three things:

1. Create an input css file. For me, this is `css/tailwind.css` where I import anything needed for my Tailwind setup.
2. When running storybook, build that file first. For me, this wa

[2020-07-27 01:09] Marklb commented on #11693
I'm not positive, but fairly sure Storybook is still using ViewEngine. Your non-prod build is using Ivy, which is not recommended for published libraries, since they aren't backwards compatible. Your library isn't published, but your using it like a published library. Also `npm link` is not necessary, because you are already mapping the path in `tsconfig.base.json`.

If you use the prod build, `ng

[2020-07-27 02:49] s-ong-c opened #11694 "Build Storybook iframe.html Failed to load resource"
Hi,

When build storybook is executed, output is executed or distributed.
However, it failed to load resoure despite the bundle file in iframe.html.
Of course, you can change the path to absolute path directly in iframe.html, but do you have to do this every time?

Version
   "@storybook/addon-docs": "^5.3.19",
    "@storybook/cli": "^5.3.19",

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-07-27 03:20] struct78 opened #11695 "@storybook/addon-toolbar: setting selected item at story level"
Hi,

I am using @storybook/addon-toolbar to inject mock states into a number of context providers, however I have some components where I would like to be able to set the default selected item of a particular toolbar, rather than force the user to do it manually.

I can't seem to find a way to do this in the docs.

For clarity, the "default" context of a particular toolbar has certain properties t

[2020-07-27 05:09] shilman commented on #11152
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.15 containing PR #11472 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-27 05:09] shilman commented on #11315
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.15 containing PR #11690 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-07-27 05:09] shilman commented on #11571
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.15 containing PR #11660 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-07-27 05:09] shilman commented on #11656
Gadzooks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.15 containing PR #11658 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-07-27 05:09] shilman commented on #11672
Great Caesar's ghost!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.15 containing PR #11679 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-27 05:09] #11152 closed

[2020-07-27 05:09] #11672 closed

[2020-07-27 05:25] marjorg commented on #11656
It works :)

[2020-07-27 06:32] #10270 closed

[2020-07-27 07:49] shilman opened #11696 "Addon-docs: Blocks renaming for 6.0"
- [x] Rename block
- [x] Add deprecated wrapper with old name
- [x] `Props` => `ArgsTable`
- [x] `Preview` => `Canvas`

[2020-07-27 07:57] mrmckeb commented on #11644
@FredyC, I see that you've updated the comment - but what I'm saying is definitely true. I'm one of the maintainers of CRA, alongside Storybook, and the preset for CRA.

I see that you're not actually using `react-scripts`, you're using `react-app-rewired` - and you have a plugin to enable aliasing.
https://github.com/FredyC/storybook-cra-workspaces/blob/master/modules/web/config-overrides.js#L7

[2020-07-27 08:43] stof commented on #9961
now that v3 of react-popper-tooltip, migrating to it becomes possible for Storybook

[2020-07-27 08:56] guilhermewaess opened #11697 "Addon-controls: configuring argTypes globally on preview.js"
Would be nice to have a way to configure some controls globally.

Example: imagine that all components contain one prop called `ComponentId` and we don't want this to be showing in the controls table.

### How we do now:
On each component.stories.tsx you have to configure it manually within the default export:

[code]

### Proposal

Add this as configuration inside the preview.js

_preview.js_
[co

[2020-07-27 09:14] Donghoon759 commented on #6743
This worked for me. Importing css in configure.js doesn't have effect in my case. Thanks a lot. I spent few hours to solve this issue. As a version increases, code above doesn't work now. So I modified a little bit.

data -> additionalData

{

[2020-07-27 09:24] FredyC commented on #11644
@mrmckeb Thank you for your patience. Have you also noticed, I am using the same aliasing config in Storybook webpack config?

https://github.com/FredyC/storybook-cra-workspaces/blob/master/modules/web/.storybook/main.js#L4

There is no other special webpack configuration done for the CRA. That's why I am not sure why Storybook is not working. There is no problem in finding those aliased imports,

[2020-07-27 09:24] hyochan commented on #11694
We had this issue so I've managed to fix this by running `shell script` in `postbuild` step in [PR](https://github.com/dooboolab/dooboo-ui/pull/259).

[2020-07-27 10:03] benbonnet commented on #11402
If someone could provide help; just to know if our expectation is something that should not be considered; and what would be the workaround

[2020-07-27 10:29] ndelangen commented on #11675
I prefer:

[2020-07-27 10:33] ndelangen commented on #11398
I'll take a look today @domyen

[2020-07-27 11:44] ajkl2533 commented on #11681
@shilman @domyen Thank you guys, I'll try to prepare PR for this.

@domyen Thoughts about your thoughts:
- personally I would leave quotes there since there can be a situation where you have values in enum defined and also have some fallback value and if you remove the quotes then you have no way how to differentiate, see below
<img width="686" alt="Screenshot 2020-07-27 at 13 40 48" src="https://

[2020-07-27 11:48] wzulfikar commented on #3916
I had similar issue where my absolute import works in `start-storybook` but not when I build. I'll just put it here for reference if someone wants some reference.

I'm using `@src` for absolute import and made it work by adding this line:

[code]

For context, my project directory looks like this:

[code]

Hope it helps :)

[2020-07-27 12:33] mrmckeb commented on #11644
Yes, I saw that - which I might have thought would work too, but can see it doesn't.

The problem is that code assumes a pure CRA Webpack config. However, the CRA preset takes the CRA config, modifies it a little (so that it works in the Storybook environment) and then returns it. So it's likely that your issue is being caused by these differences.

There is a way you can log out your Webpack conf

[2020-07-27 12:54] groundmuffin commented on #7770
In my case caused by blind insert
`import { useState } from '@storybook/addons'`
instead of
`import { useState } from 'react'`

[2020-07-27 13:22] sardormajano commented on #11693
@Marklb
Thanks for your response.

The thing is that I am migrating all our Angular projects to 10, and using Ivy in all of them, so backward compatibility is not an issue here. All consuming projects are using Ivy too.

What you are proposing is a workaround, but the only valid reason to do it is again the storybook that is using ViewEngine.

I don't think we should close an issue just because th

[2020-07-27 13:24] robbertkl opened #11698 "Props table does not show border on Safari"
For example, go to [the Avatar component on the Storybook Design System](https://5ccbc373887ca40020446347-synmdrrwjj.chromatic.com/?path=/docs/design-system-avatar--basic) using Safari. The props table should show a nice shadow border with rounded corners, but it's missing in Safari.

The underlying reason is that it's a `box-shadow` and `border-radius` on the `<tbody>` element. It seems Safari do

[2020-07-27 14:11] aleph-naught2tog commented on #10363
This is also the only solution that worked for me. 😐

[2020-07-27 15:13] supersnager commented on #9415
I found workaround.
Probably not working for all packages, but for me it's ok because i need this for my own package installed as module.

Just added custom webpack configuration:

[code]

[2020-07-27 15:18] supersnager commented on #9415
Another possible reason why props table is not generated can be class component.
See here: https://github.com/storybookjs/babel-plugin-react-docgen/issues/66#issuecomment-664447377

[2020-07-27 15:28] Marklb commented on #11693
@sardormajano I agree, what I proposed is a work around and not a solution.

I started looking into to fixing it, since the code to render the component is available in the source, but haven't familiarized myself with Ivy's compilation enough to fix it yet.

[2020-07-27 16:31] FredyC commented on #11644
Well, the only modification I am doing is adding those webpack aliases to the original CRA config. There is no hidden magic or webpack plugin behind it. When I do the same in Storybook config it's pretty safe to assume it will behave the same way.

I think there is something in Storybook webpack config that's different from CRA's one that prevents this approach. I tried to logging out the config,

[2020-07-27 17:40] blaine-stripe commented on #10846
@ndelangen Hmm, it works in the code I'm looking at. Maybe it is because you have text on the same line? Can you try it with the LinkTo on it's own line?

[2020-07-27 20:28] elektronik2k5 commented on #10846
I didn't check what happens when `LinkTo` is on it's own line, but can definitely confirm the issue when it isn't, cause all of our links are inline and the bug is consistently reproducible.

[2020-07-27 20:59] aleph-naught2tog opened #11702 "Naming variable before `export default` breaks code display"
**Describe the bug**
If you name the top-level story configuration in a stories file -- aka, what is usually done as `export default { ... } ` but instead you do `const config = { ... } ; export default config;` no code will be available for display in the `docs` view. It will show "No code available".

**To Reproduce**
Reproduction: https://github.com/aleph-naught2tog/addon-docs-code-issue

**Exp

[2020-07-28 00:51] #11676 closed

[2020-07-28 05:26] atl-mk opened #11705 "Crash in Edge 18"
**Describe the bug**
Storybook crashes in Edge 18 on load (blank page)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://storybookjs.netlify.app/official-storybook/?path=/story/*](https://storybookjs.netlify.app/official-storybook/?path=/story/*) in Edge 18
2. See the error in the console

**Expected behavior**
For Storybook to work on Edge 18

**Screenshots**
![image](https://u

[2020-07-28 06:22] 07Gond opened #11706 "Option to change the language attribute"
**Is your feature request related to a problem? Please describe.**
I need to test some multilingual sites and always the site is rendered with `<html lang="en">`

**Describe the solution you'd like**
The storybook `.ejs` template should include a language variable instead of the harcoded option as is it right now.

**Describe alternatives you've considered**
Maybe create an addon and we can change

[2020-07-28 06:51] tamilsweet commented on #6434
Any solution to make VSCode happy and not show the error `Cannot find module markdown.md` when hovering over the import line: `import markdown from 'markdown.md'`.

[2020-07-28 07:44] ndelangen commented on #11691
Uhm... that's unexpected. I'm not able to reproduce this in the monorepo.. do you have a reproduction repo you can demonstrate this on?

[2020-07-28 07:51] ashr81 commented on #11691
I am using `styled-components` `ThemeProvider` to pass our custom theme. I will try to reproduce this issue in an example project for the reference.

[2020-07-28 08:09] ndelangen commented on #11691
thanks!

[2020-07-28 08:31] ndelangen commented on #10846
This seems to work:
[code]

[2020-07-28 08:53] ajkl2533 commented on #11376
@shilman Any update on this?

[2020-07-28 08:53] ajkl2533 commented on #11393
@shilman Any update on this?

[2020-07-28 09:04] airtonix commented on #6327
There's a much simpler way:

https://www.npmjs.com/package/anysort

[code]

[2020-07-28 09:05] ndelangen commented on #9961
Nice! Would you be able to assist in the upgrade @stof?

[2020-07-28 09:38] ndelangen commented on #11694
Do you have an example?

When I build storybook, and host it: `npx http-server ./static-storybook` it works!

We can't hard-code an absolute url, because some people host static-storybook in a sub-directory.

[2020-07-28 10:02] s-ong-c commented on #11694
@ndelangen Thanks for the response,
code is in the repository below.
[https://github.com/dooboolab/dooboo-ui/tree/master/doc](https://github.com/dooboolab/dooboo-ui/tree/master/doc.)
We deploy gh-page branch after build.

[2020-07-28 10:21] ndelangen commented on #11602
Confirmed!

<img width="480" alt="Screenshot 2020-07-28 at 12 20 56" src="https://user-images.githubusercontent.com/3070389/88653794-d1346880-d0cc-11ea-9753-4a09a521b315.png">

[2020-07-28 10:52] elie222 opened #11711 "sb init v6 not working for React/TypeScript and how to fix"
*The fix is to delete `node_modules` and `yarn.lock` and run `yarn install` again.*

**Describe the bug**

Using Create React App for TypeScript and then running: `npx -p @storybook/cli@next sb init` causes the following error when running `yarn storybook`:

[code]

The fix is to delete `node_modules` and `yarn.lock` and run `yarn install` again but for others would be better if it worked first ti

[2020-07-28 11:02] ndelangen commented on #11694
So you change:
[code]
into:
[code]

Why are your assets and html pages not in the same directory when deploying?

Why would this 'hack' not be needed for `index.html`, but it is for `iframe.html`?

[2020-07-28 12:08] s-ong-c commented on #11694
`package.json` script
[code]
build result
<img width="527" alt="스크린샷 2020-07-28 오후 9 07 51" src="https://user-images.githubusercontent.com/34743425/88663401-817a8f00-d116-11ea-9563-75a85822a29c.png">

incorrect
[code]

When you create a build storybook

 Deploy the files in the storybook-static folder to git-pages.

The build result index.html, iframe.html and iframe.html are created. When

[2020-07-28 12:09] jaxxreal commented on #10768
I'm on `5.3.19` and have similar to @DDDDDanica config and also experiencing this issue.

[2020-07-28 12:32] andreiQuant commented on #6885
@imanderson
It looks even better now!
 One could parameterize the "loading state" for better customization but other then that it's perfect :D

[code]

[2020-07-28 12:51] donaldpipowitch commented on #8093
I don't know... every time I write stories I stumble over this issue. I think it would be nice if Storybook would not emphasize first story by default. It should be treated like the other stories and there should be a way to write a more general introduction/description unrelated to a specific story. But just my opinion. It's probably too late to get this into v6?

[2020-07-28 12:51] invious commented on #9628
I still don't know what is causing this:

[code]

[2020-07-28 12:54] pladaria opened #11712 "Static Typing in MDX stories"
Our components library is written in Typescript.

Writing stories using MDX is nice but we lose static typing checks so stories can easily get outdated without notifying. I was unable to find a solution for this so for now we keep using CSF.

Is there any tooling/configuration to typecheck MDX files?

[2020-07-28 13:04] ajkl2533 commented on #11523
@shilman any update on this?

[2020-07-28 13:36] ashr81 opened #11713 "`ArgsType` inside default export doesn't update props table."
**Describe the bug**
I am using my application using typescript. I am trying to add a few extra properties using `argsType` property in my `stories.tsx` file on the default export.
Link to the code here: https://github.com/ashr81/storybook-repro-styled-components/blob/master/src/Button.stories.tsx#L20

My use case is to add properties from `styled-system` that are not fetched using `react-docgen`

[2020-07-28 14:15] #11713 closed

[2020-07-28 14:35] shilman commented on #4667
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.16 containing PR #11066 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-28 14:35] shilman commented on #11591
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.16 containing PR #11707 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-28 14:35] shilman commented on #10270
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.16 containing PR #11281 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-07-28 14:35] shilman commented on #10797
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.16 containing PR #11354 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-28 14:35] shilman commented on #11398
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.16 containing PR #11699 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-28 14:35] shilman commented on #11483
Ta-da!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.16 containing PR #11700 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-28 14:35] shilman commented on #11678
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.16 containing PR #11710 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-28 14:35] #10797 closed

[2020-07-28 14:35] #11398 closed

[2020-07-28 14:35] #11483 closed

[2020-07-28 14:44] kevinsimper commented on #10586
I have the same error, haven't found it why, tried upgrading all my npm modules to latest but did not help:

[code]

[2020-07-28 16:17] robbertkl commented on #11616
Just ran into this as well. Found out if you remove `box-sizing: inherit` from the `<select>`, it does show up correctly. Hope this helps narrow down the cause.

[2020-07-28 17:15] garrrettt commented on #11419
I just had this exact same issue using Storybook v5.3.19 (current latest) and fixed it with the solution above.

[2020-07-28 17:46] kylegach commented on #11526
FYI, all of my issues are resolved as of RC15! 🎉  I don't even have to use this opt out. 🙃

[2020-07-28 17:53] blaine-stripe commented on #10846
Yeah, but if you have a "kind" without a "story", the component throws because of some internals.

[2020-07-28 18:09] robbertkl commented on #11542
It seems to only occur when using an intermediate variable (including the template/bind pattern):

[code]

☝️ Does not work (shows MDXCreateElement)

[code]

☝️ Does work (shows Button)

[2020-07-28 18:47] alexbchr commented on #9221
Tried running the mentioned `sb extract` command like so with latest version of the CLI and it worked great! It outputs a `stories.json` file in the Storybook build directory.

Command:
[code]

[2020-07-28 20:00] donaldpipowitch commented on #7227
I use `export const parameters = { layout: 'centered', }` and this looks awesome in the canvas view. But now the docs will be actually _centered_ but the stories inside aren't:

**Canvas (`layout: 'centered'`)**

![image](https://user-images.githubusercontent.com/1152805/88714669-6a8b6b00-d11d-11ea-9be3-341991b16352.png)

**Docs (`layout: 'centered'`)**

![image](https://user-images.githubusercont

[2020-07-28 20:35] yyynnn commented on #11678
@shilman
<Preview /> outputs nonsense of a controlled story.
With this syntax:

[code]

<img width="706" alt="Снимок экрана 2020-07-28 в 23 31 13" src="https://user-images.githubusercontent.com/13677727/88718673-cd373380-d12a-11ea-81b7-826e1785e5b3.png">

[2020-07-28 21:13] yyynnn commented on #11542
@robbertkl nah, not working

[2020-07-28 21:24] domyen commented on #11681
Got it, leave the quotes in :)

I meant that the implementation should truncate the list after a certain number of items. It shouldn't expect that the # of items will always fit in one row because the layout should be responsive and reflow depending on the column width.

[2020-07-28 22:41] robbertkl commented on #11542
@yyynnn Thanks for your very helpful comment, are you a troll?

The 2nd example I gave _does_ work (shows the correct <Button> in the source), both on `rc.3` (for which this issue was originally filed) and on `rc.16`(the current @next).

[2020-07-28 23:13] yyynnn commented on #11542
@robbertkl sorry
never meant to be

after some rm-rf magic + update to rc.16 it started working

someone should update the docs probably

[2020-07-29 00:48] shilman commented on #11526
@kylegach great news! will be tweaking this more before release -- hopefully I don't break anything for you 🙈

[2020-07-29 01:41] huneeeee opened #11715 "A story suddenly disappears when using CDKPortal in component"
While i am making a component using Angular CDK Portal to inject other component, Suddenly story that is showing the component is disappeared!

There is no error log and warning log.

So, i removed all component and remaked.
when i am remaking these component, i found that
when i uses @Input() decorator into the component that is injected to Portal, this problem happens.

[code]

[code]

[2020-07-29 02:39] yassh commented on #10190
The same issue is reproduced in v5.3.19. And I found a workaround.

I had declared inner components (styled-components) after a outer component. Like this:

[code]

I got around the problem by defining inner components before the outer component. Like this:

[code]

[2020-07-29 03:40] rafehi opened #11716 "Storybook fails to load BrowserAnimationsModule in Angular"
**Describe the bug**
After upgrading to Angular 9 / Storybook 5.3.19, Storybook is failing to load BrowserAnimationsModule / NoopAnimationsModule.

**To Reproduce**
I tested with the following stories (using both template and component) in a fresh Angular project. I've also tried with CSF, with the same result.

[code]

Navigate to the story, and notice the following error in the console:
![image]

[2020-07-29 04:55] shilman commented on #10768
Does the error still occur in 6.0-RC? `npx sb@next upgrade --prerelease`

[2020-07-29 04:56] shilman commented on #8093
cc @domyen

[2020-07-29 05:00] shilman commented on #11712
Not AFAIK. I know MDX v2 is coming out soon and might have some Typescript-related features, but I'm unclear on the extent of that work. You're better off asking there: https://github.com/mdx-js/mdx/issues/1041

[2020-07-29 05:00] #11712 closed

[2020-07-29 05:03] #11663 closed

[2020-07-29 07:40] jaxxreal commented on #10768
@shilman it says I cannot use both `main` and `config` files. But I figured out my issue. I loaded stories twice - once in config file and second time in main, using glob pattern. Removed manual loading from config and it works like charm! Thanks for pushing towards right direction!

[2020-07-29 08:59] #11009 closed

[2020-07-29 08:59] #11059 closed

[2020-07-29 08:59] #10739 closed

[2020-07-29 08:59] #11044 closed

[2020-07-29 08:59] #10966 closed

[2020-07-29 08:59] #10378 closed

[2020-07-29 09:31] ndelangen commented on #11694
@s-ong-c I'm having difficulty understanding what you mean.

Can you tell me if this statement is correct?
https://github.com/storybookjs/storybook/issues/11694#issuecomment-664975697

When I look at `https://dooboolab.github.io/dooboo-ui/iframe.html`

I observe:
<img width="359" alt="Screenshot 2020-07-29 at 11 30 47" src="https://user-images.githubusercontent.com/3070389/88783375-fa1d3200-d18e-1

[2020-07-29 09:34] shilman opened #11719 "Perf: useDataset slow in 6.0"
There's a performance regression in 6.0 related to `useDataset`. The following flame chart is from Chromatic's storybook on 6.0-rc.16:

<img width="940" alt="Emails___BuildNotification_-_with_changes_⋅_Storybook" src="https://user-images.githubusercontent.com/488689/88783466-644eca80-d1c1-11ea-8dd6-2234a0e9e3eb.png">

In contrast, the entire `handleEvent` took 560ms in 5.3.

<img width="576" alt="

[2020-07-29 09:37] fandepeng1993 opened #11720 "Failed to load preset: "@storybook/addon-info" on level 1"
Failed to load preset: "@storybook/addon-info" on level 1
ERR! /Users/fdp/Desktop/fandepeng/NPM/@frid/fdp-ui/node_modules/@storybook/addon-info/dist/components/PropTable/style.css:1
ERR! .info-table {
ERR! ^
ERR!
ERR! SyntaxError: Unexpected token '.'
ERR!     at wrapSafe (internal/modules/cjs/loader.js:1071:16)
ERR!     at Module._compile (internal/modules/cjs/loader.js:1121:27)
ERR!     at Objec

[2020-07-29 09:39] shilman opened #11721 "Perf: normalized parameters storySort"
We currently need to denormalize parameters in the preview side for story sorting. Unfortunately this is a perf bottleneck for large storybooks. Since we're in a breaking release, we can make storySort handle normalized parameters.

- [ ] Remove denormalization code
- [ ] Update documentation

[2020-07-29 09:40] ndelangen commented on #11719
I'll dive in!

[2020-07-29 09:41] ndelangen commented on #10846
aha

[2020-07-29 09:43] redders6600 opened #11722 "Not possible to display controls if using a custom `page` function?"
**Describe the bug**
It's either not possible or not documented as to how we can display controls in `addon-docs`'s `<Props/>` block if using a custom `docs.page` parameter.

**To Reproduce**
Steps to reproduce the behavior:
1. Define a custom page function for addon docs in `preivew.js` e.g.:

[code]

2. Create an args story
3. Confirm you can see controls tab in `canvas` view
4. Check props tabl

[2020-07-29 10:00] ndelangen commented on #11719
I'm finding:
<img width="909" alt="Screenshot 2020-07-29 at 11 59 52" src="https://user-images.githubusercontent.com/3070389/88786650-0efbc480-d193-11ea-8948-61016b5e6811.png">

[2020-07-29 10:23] timtos commented on #6434
I have the same problem with vs code. I "fixed" it now by adding the line

// @ts-ignore: md file and not a module
import markdown from './myFileName.md';

That works but is not very nice, of course, as one needs one extra line.

[2020-07-29 10:39] luk82 commented on #9729
I was able to fix similar issue with search param by setting query parameter to undefined for other stories. Not sure it will work with state...

[code]

[2020-07-29 11:00] s-ong-c commented on #11694
@ndelangen
Sorry for not giving a good explanation

first
in the doc directory
<img width="777" alt="Screen Shot 2020-07-29 at 6 53 04 PM" src="https://user-images.githubusercontent.com/34743425/88786496-8e0dee80-d1cd-11ea-9bd5-3f84af3ef7b2.png">

build
<img width="331" alt="Screen Shot 2020-07-29 at 6 53 24 PM" src="https://user-images.githubusercontent.com/34743425/88791184-450d6880-d1d4-11ea-8f

[2020-07-29 11:55] ajkl2533 commented on #11681
@domyen Got it 👍

[2020-07-29 12:10] benjamin-schneider commented on #11678
@shilman Thanks a lot for the resolution, it works very well (CSF)
With the sample you gave

I just had to add `docs: { source: { type: 'code' } }` in the story parameters, and everything is fine.

To illustrate, here is a before/after if somebody else encounters this problem :

**Before :** ![Capture d’écran de 2020-07-29 14-03-03](https://user-images.githubusercontent.com/3585213/88797942-67878d

[2020-07-29 12:11] #11678 closed

[2020-07-29 12:12] shilman commented on #11678
Thanks for documenting @benjamin-schneider!! 🙏

[2020-07-29 12:23] benedfit commented on #10366
@shilman thanks. Are there any plans to change some of the other official addons to be available in docs too?

[2020-07-29 12:39] shilman commented on #10366
@benedfit see #6700, hopefully in 6.x

[2020-07-29 14:27] bdobry opened #11723 "It's not possible to export decorator that contains React or HTML tags Storybook 6.0"
**Describe the bug**
When trying to export a decorator that contains React or HTML tags, Storybook returns an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `preview.js` with for example:
[code]
2. Run Storybook
3. See error:
`You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file.`
![image](https://user-images.g

[2020-07-29 15:03] iPzard commented on #10204
The issue persists. Will test when version 6 is released in the near future.

[2020-07-29 16:30] ndelangen commented on #11719
PR incoming

before:
<img width="215" alt="Screenshot 2020-07-29 at 16 25 24" src="https://user-images.githubusercontent.com/3070389/88826912-96642a80-d1c9-11ea-92c4-8d5c8d4f72ce.png">

after:
<img width="359" alt="Screenshot 2020-07-29 at 18 29 29" src="https://user-images.githubusercontent.com/3070389/88826917-97955780-d1c9-11ea-9ea9-639cc365f52e.png">

[2020-07-29 16:31] joneldiablo commented on #11720
I have the same error!!!!

[2020-07-29 17:33] shilman commented on #11720
`addon-info` is deprecated and has been superceded by `addon-docs`, which fixes a bunch of bugs and is easier to maintain. Please give it a try! https://medium.com/storybookjs/storybook-docspage-e185bc3622bf

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#deprecated-addon-info-addon-notes

[2020-07-29 17:37] shilman commented on #11602
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.18 containing PR #11709 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-29 17:37] shilman commented on #11719
w00t!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.18 containing PR #11725 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-29 17:37] #11602 closed

[2020-07-29 17:37] #11719 closed

[2020-07-29 19:43] DanWahlin commented on #11633
For future reference, Norbert and I looked at this and the workaround I tried above is the current solution. Add `core-js` into `package.json` and the problem goes away.

[2020-07-29 19:43] #11633 closed

[2020-07-29 20:31] i-am-the-slime opened #11727 "Is there a contract for docs?"
I'm using storybook with React and PureScript (a compile to JS language). It works very nicely, and now I tried to turn on "docs" which also works, but -as expected - I always get: "No props found for this component".
I know that docs page is supposed to be 0 config, but I'd really like to be able to manually pass the necessary info to the addon (via `parameters` on the `default` export?).
The sam

[2020-07-29 22:34] Marklb commented on #11716
I see two problems that would cause this error, but neither are an issue with Storybook. Unless you striped out to much in the snippet you posted, I don't see how it would have ever worked.

The error message is a little misleading. I don't know why the error isn't more specific, but what seems to be happening is that Angular sees `@anim` and knows that it is an animation trigger, but it can't han

[2020-07-29 23:32] elisechant commented on #5663
To the point about multiple versions of emotion, I recommend you install [@storybook/theming](https://github.com/storybookjs/storybook/tree/master/lib/theming) with @storybook/addons.

From the README.

Create a noop manager.js, with:

[code]

This will streamline your emotion versions in a sane way.

[2020-07-30 00:21] ct3685 commented on #10586
Same

[2020-07-30 00:21] ct3685 commented on #10586
Same issue here.

[2020-07-30 00:40] shilman commented on #10586
Try upgrading to 6.0 RC?

[code]

[2020-07-30 00:46] shilman commented on #11727
Try upgrading to 6.0 RC:

[code]

Then check this out:

https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#my-controls-arent-being-auto-generated-what-should-i-do

[2020-07-30 00:54] shilman commented on #11722
To set controls for the primary story:

[code]

[2020-07-30 02:27] ecarrera opened #11731 "Vue slots after v-if are not showing in props table of Addon Docs."
Slots after v-if are not shown in props table of the addon "Docs".

This example will produce a table props without the slots `adolescent` neither `adult`.

[code]

My real code is the following:
[code]

The documentation props result:

<img width="1011" alt="Screen Shot 2020-07-29 at 22 10 55" src="https://user-images.githubusercontent.com/2139735/88872541-64ae8c00-d1e8-11ea-8f74-5c64d2e219b0.png

[2020-07-30 02:28] kelvin-evari commented on #11446
The issue is still there. It might not be a problem with this library but a suggestion of what to do to investigate further will be appreciated.

[2020-07-30 03:05] shilman commented on #11543
Which version of React are you using?

[2020-07-30 03:23] shilman commented on #10911
As of #11601 in 6.0 when you set the parameter `docs.source.type` to `'dynamic'` it will force docs to display the rendered JSX output, similar to addon-info.

[code]

[2020-07-30 03:23] #10911 closed

[2020-07-30 03:24] shilman commented on #10617
Tracked in https://github.com/storybookjs/storybook/issues/11418

[2020-07-30 03:26] shilman commented on #11418
Closing as dupe to https://github.com/storybookjs/storybook/issues/10617

[2020-07-30 03:26] #11418 closed

[2020-07-30 05:40] i-am-the-slime commented on #11727
By the way, I'm very impressed with your work here @shilman ! Incredible work ethic on answering issues, I love the RFC approach, and the docs. Obviously love the product, too!

[2020-07-30 05:57] i-am-the-slime commented on #11727
Worked like a charm. I'm just missing `No code available` now.

[2020-07-30 07:23] shilman opened #11732 "Perf: Addon-docs rendering slowness"
Taken from a user's storybook that takes 2.5s to render a docs page:

<img width="923" alt="__gusto___workbench_-_lab___Disclosure_-_Basic_⋅_Storybook" src="https://user-images.githubusercontent.com/488689/88892945-36788d00-d278-11ea-89c2-5e589a80519a.png">

Hot spots:
- [ ] `getStoriesForKind` cache or index?
- [x] `combineParameters` cache or index?

[2020-07-30 07:59] yannbf commented on #11727
Hey @i-am-the-slime I think currently the addon docs is presenting a code snippet based on v-dom, which indeed will be JSX, but I believe soon you'll have the option to see the original source. If you want to check the exact code written for your stories, try checking [storyshots](https://github.com/storybookjs/storybook/tree/next/addons/storysource) for now, although it's not compatible with docs

[2020-07-30 08:11] michielmetcake commented on #11663
How did you fix the issue? I've the same problem :D

[2020-07-30 08:24] i-am-the-slime commented on #11727
Arlight, cool, thanks for answering so quickly! I'll close this for now then!

[2020-07-30 08:24] #11727 closed

[2020-07-30 08:33] redders6600 commented on #11722
Perfect, that's the one. I've also found this in the source so for anyone else who finds this in future you can also pass `.` to use the selected story (select via the sidebar).

@shilman thanks again for helping me out - really enjoying SB6.

[2020-07-30 08:33] #11722 closed

[2020-07-30 08:35] reallifeliver commented on #11663
@michielmetcake

I initialized all storybook setting first. and I checked scss version between my project and storybook . **I found they are different so made them use same version.** **This is point**

and I set webpack in main.js and loading global scss in preview.js

## main.js

[code]

## preview.js

[code]

[2020-07-30 09:39] michielmetcake commented on #11663
Nice! Thanks for the explanation.

[2020-07-30 09:43] reallifeliver commented on #11663
@michaelbiebl
I am not sure this works for your case. please share me your solution if you resolve.  thanks :)

[2020-07-30 09:47] malyw commented on #10078
@zeorin Wondering, is it still an issue?

[2020-07-30 10:22] ndelangen commented on #11694
That does sound like a bug..

Would you be open to trying the 6.0.0 RC? I think it's fixed in that. If you really need a patch on 5.x, could you assist?
We could schedule a meeting so I could help you get setup:
https://calendly.com/ndelangen/storybook

[2020-07-30 11:15] ndelangen opened #11734 "Stop stringifying data over channel"
The storybook channel is an abstraction over either a post-message or websocket.

It is used to transfer data, state & commands from 1 application to another.
Most prominent use is to transfer the list of stories to the manager, and set the selected story in the preview.

When we send a command or data, we stringily it before we send it. For small bits of data this is fast, but the larger the blob

[2020-07-30 11:27] ndelangen commented on #11734
Here's some data to back this up:

Here's a flame-chart of storybook loading:
<img width="1224" alt="Screenshot 2020-07-30 at 13 26 14" src="https://user-images.githubusercontent.com/3070389/88917593-51db9c00-d268-11ea-8786-c3c24942032b.png">
`stringifying + parsing combined = 1.08s`

[2020-07-30 11:57] Jeremie-Chauvel commented on #8502
Hi @shilman
I was able to cover most component with the exception of `<Props>`, the `lib/components/src/blocks/PropsTable/PropsTable.tsx` being difficult to update correctly.

That said, being unable to use `yarn dev` without running into the error `Error: EMFILE: too many open files`, makes for a long time debugging using `yarn bootstrap --core + yarn start`.

If I find how to reliably have a dev

[2020-07-30 12:09] azaidivl opened #11735 "ReferenceError: throwStyledComponentsError is not defined"
throwStyledComponentsError is not defined
ReferenceError: throwStyledComponentsError is not defined
    at eval (eval at result (http://localhost:62427/vendors~main.ec4cd5d7703f180496af.bundle.js:142327:17), <anonymous>:1:15)
    at Keyframes.toString (http://localhost:62427/vendors~main.ec4cd5d7703f180496af.bundle.js:142328:18)
    at isPlainObject (http://localhost:62427/vendors~main.ec4cd5d7703

[2020-07-30 13:25] shilman commented on #8502
Hi @Jeremie-Chauvel that's great news! You should base off `next` which is v6. If you have that, you can run:

[code]

And it should be much more efficient than `yarn dev` thanks to @yannbf

[2020-07-30 13:30] shilman commented on #11727
You can set `docs.source.type` parameter to 'code' to force the original source

[2020-07-30 14:16] hv-pul commented on #7066
If anyone is interested, I have a solution that is working well for me.

1)
I created a super simple plugin with this. It's `register.js` is this:

[code]

In my `manager-head.html`
[code]

On my `docsOnly` pages, I set `viewMode: 'docs'` to make sure navigation works nicely.

You can change the logic of when to hide the canvas button of course, you have full access to the storybook API, so you ca

[2020-07-30 15:54] hv-pul opened #11737 "CSF Story with arbitrary MDX docs – embedded story renders HTML as string"
**Describe the bug**
My setup is the one described here:
https://github.com/storybookjs/storybook/blob/6.0-docs/addons/docs/docs/recipes.md#csf-stories-with-arbitrary-mdx

I'm using the current version of Storybook 6, with the web components preset.

I'm trying to embed a story into the non-story MDX, like this:
`<Story id="my-component--my-story" />`

If I'm not mistaken, that should embed the st

[2020-07-30 15:58] SamSverko commented on #8531
This worked for me! Thank you so much, it was driving me crazy!

[2020-07-30 15:59] rikkit opened #11738 "Docs page doesn't show code preview when default export is a function call"
**Describe the bug**

I have been writing stories using CSF, and the auto generated docs show the source code of the stories, as expected.

I'm using Storybook to build a sort of living design reference, so I wanted to add a status badge to each docspage indicating the readiness of each component. After much searching, I settled on the best way to achieve this being configuring `parameters.docs.pa

[2020-07-30 16:00] tooppaaa commented on #11705
official-storybook is still runnning 5.x version.

Lots of efforts has been made to resolve IE 11 compatibility.

You can look at https://next--storybookjs.netlify.app/official-storybook/.

[2020-07-30 16:03] rikkit commented on #11702
I think I have a similar issue #11738 - I'm speculating that the code preview isn't actually running the module in the JS sense, but doing some other parsing to get the info it needs

[2020-07-30 16:45] shilman commented on #11146
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.19 containing PR #11149 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-07-30 16:45] shilman commented on #11404
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.19 containing PR #11403 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-30 16:45] shilman commented on #11732
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.19 containing PR #11736 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-30 16:45] #11404 closed

[2020-07-30 17:56] marie-maxime commented on #11737
When using Storybook web components, you have to render the code inside your story with lit-html

Something like this:

[code]

[2020-07-30 19:20] rabelloo opened #11739 "`.storybook/main.ts` file only works if `@storybook/addon-essentials` is installed"
**Describe the bug**
NOTE: this is a `next` bug, tested on `6.0.0-rc.14` and `6.0.0-rc.19`.

After checking out issue #9765 and PR #9775, I reproduced the [react-ts example](https://github.com/storybookjs/storybook/tree/next/examples/react-ts) on the `next` branch.

Storybook builds and runs fine.

However if `@storybook/addon-essentials` is removed/uninstalled then it no longer runs, instead it o

[2020-07-30 21:52] domyen commented on #11520
Closing, we chatted about this in Discord. This was a Firefox rendering bug upstream of us that has to do with layout reflows when animations

[2020-07-30 21:52] #11520 closed

[2020-07-30 22:06] clintandrewhall commented on #7855
I now have this problem after upgrading to 5.3.19, with `addon-storyshots`:

[code]

[2020-07-30 22:38] madebycaliper commented on #10590
@IntusFacultas I'm having the same exact issue. While the upcoming release of `args` in v6.x is cool, I'm using 5.3 and would like this to work without updating. What can I do?

[2020-07-31 02:44] rafehi commented on #11716
You're right that the code I used above was largely stripped down, was there to just demonstrate. Strangely, the production code seems to be working again, not sure why. It was working fine prior to upgrading Angular/Storybook. Thanks for your help.

[2020-07-31 02:44] #11716 closed

[2020-07-31 05:04] josephspurrier opened #11742 "@storybook/mithril@5.3.19 requires a peer of mithril@^1.1.6 but none is installed."
**Describe the bug**
When using the latest version of Mithril 2.0.4 and then installing @storybook/mithril 5.3.19, this warning will be thrown when you do an npm install:
`npm WARN @storybook/mithril@5.3.19 requires a peer of mithril@^1.1.6 but none is installed. You must install peer dependencies yourself.`

**To Reproduce**
Steps to reproduce the behavior:
1. npm init
2. npm install mithril
3. n

[2020-07-31 06:27] mattvalleycodes commented on #5298
This error happens when there is a mix of module.exports and export. Often times your code only uses ES6 syntax but still get this error. It could be because Webpack / Typescript / Babel are configured in a way that don't exclude some of the node_modules. For me that was the case as I'm using Yarn work-spaces.  Try to inspect the generated Webpack config by adding:

[code]

chances are that Typesc

[2020-07-31 06:39] shilman commented on #11591
Yippee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.20 containing PR #11740 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-31 06:39] shilman commented on #11721
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.20 containing PR #11743 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-31 06:39] #11591 closed

[2020-07-31 06:39] #11721 closed

[2020-07-31 07:18] milenaNeumann commented on #11176
Hi here,
I can reproduce this with "6.0.0-rc18"; for very simple components it works, but the stories of more complex components produce the hook-error as seen above. Do you have any tips for me?

[2020-07-31 07:27] shilman commented on #11653
Try upgrading to 6.0 RC?

[code]

[2020-07-31 07:47] eric-burel commented on #11176
It seems that it reappeared in v18, will retry with v13 because it stopped working for me just after a npm reinstall.

[2020-07-31 09:50] milenaNeumann commented on #11176
For me, the error disappears when I remove "@storybook/addon-controls" from the addons list in `main.js` and I can view the stories of all components in the Canvas and the Docs view.
The controls in the PropTable in my `.mdx` story still work as before, but when I use a Toggle for a boolean, I get this error:
[code]
 Of course, I am now missing the "Controls" tab in the Canvas view.

[2020-07-31 10:23] realmunk commented on #11543
After updating to the newest RC, this is not an issue. Thanks for your great work.

[2020-07-31 10:23] #11543 closed

[2020-07-31 10:41] shilman commented on #11176
@milenaNeumann do you have repro i can look at?

[2020-07-31 10:41] #11176 closed

[2020-07-31 10:51] shilman commented on #11738
Yes, CSF default exports should be plain objects. You can see more discussion here: https://github.com/storybookjs/storybook/pull/10959#pullrequestreview-431120762

[2020-07-31 10:51] #11738 closed

[2020-07-31 10:54] shilman commented on #11694
Try upgrading to 6.0 RC?

[code]

[2020-07-31 10:56] shilman commented on #11702
That's right @rikkit. We need the default export to be statically analyzable, so `export default { ... }` not `export default someVar`

[2020-07-31 10:56] #11702 closed

[2020-07-31 11:02] shilman commented on #11722
FYI, we're renaming the blocks and making `^` the default in `ArgsTable`. You can still opt in to the old behavior with `of='.'`: https://github.com/storybookjs/storybook/pull/11744

[2020-07-31 11:17] andrestone opened #11746 "Single story for React Native and React (react-native-web)"
**Is your feature request related to a problem? Please describe.**
I'm trying to achieve a setup where I can load both React Native storybook (on device) and React storybook (via react-native-web) using the same story source. It seems like, as of today, it's not possible since `storiesOf` has a different implementation for each platform (React / React Native).

**Describe the solution you'd like**

[2020-07-31 11:52] milenaNeumann commented on #11176
Sorry, not atm, I'm not allowed to share code from my workplace...

[2020-07-31 11:59] shilman commented on #11731
@elevatebart know anything about this?

[2020-07-31 12:07] shilman commented on #10190
Is everybody here using `create-react-app` and `@storybook/preset-create-react-app`? cc @mrmckeb

[2020-07-31 12:32] s-ong-c commented on #11694
I tried to upgrade, but the same error
so https://calendly.com/ndelangen/storybook schedule a meeting was booked.

[2020-07-31 14:33] elevatebart commented on #11731
Hello @ecarrera
This is indeed a known issue.

https://github.com/vue-styleguidist/vue-styleguidist/issues/430

And ultimately this

https://github.com/vuejs/vue/pull/10286

[2020-07-31 15:30] ecarrera commented on #11731
Hi @elevatebart, thanks 👍🏻 Maybe it will work for Vue 3?

[2020-07-31 15:59] Marklb commented on #11693
@kroeder I still haven't got a chance to find the exact problem. From my understanding, this seems to be a problem with how IVY uses AOT, but Storybook uses the JIT compiler, which doesn't seem to be accepting the AOT components. If I am right about that, then PR #11157 would be the solution, right?

[2020-07-31 16:11] shilman commented on #10939
Does somebody with this problem have a public repro repo they can share?

[2020-07-31 16:21] klikstermkd commented on #3916
@wzulfikar Thank your for your solution!

[2020-07-31 19:02] markrebec commented on #10197
Updating to the latest RC also worked for me. One additional thing to keep in mind is that the official addons will bump along with storybook, and some of their integration/documentation has changed slightly.

Mostly that means registering them in your `.storybook/main.js` with `@storybook/addon-a11y` instead of `@storybook/addon-a11y/register`, but a couple of them also have minor changes to thei

[2020-07-31 19:31] domyen commented on #11104
Thanks! Will make note to add it to the new docs.

[2020-07-31 19:31] #11104 closed

[2020-07-31 19:42] domyen commented on #11686
This is fixed ✅

[2020-07-31 19:42] #11686 closed

[2020-07-31 19:44] adamlohner opened #11748 "Add check before deleting entire output directory"
I accidentally mixed up the output and config flags on the command line and now my entire local repo is gone including all changes on various `wip` branches that I hadn't yet pushed. For the love of all things good and holy in this world, PLEASE protect against wiping an entire repo due to user error

https://github.com/storybookjs/storybook/blob/next/lib/core/src/server/build-static.js#L167

[2020-07-31 20:15] domyen commented on #8093
Apologies for the late reply everyone 🙏. There seem to be two issues here:

**`StoryDescription` is missing from the primary story** (the one at the top) of the DocsPage. I agree that this is an oversight. My strawman is to put the description (only) here.
![image](https://user-images.githubusercontent.com/263385/89072569-d43a8d80-d346-11ea-93b1-a129beaf52c9.png)

**The idea of "Primary" stories**

[2020-07-31 20:38] jonniebigodes commented on #8093
@domyen we can make it work. I'm going to add this to my todo list and i'll circle back to it shortly.

Sounds good?

[2020-07-31 20:59] patelvp commented on #8093
I can work on
1. Adding story description between the primary stories and args table
2. Finding a way to allow people to somehow override the primary story behavior

[2020-07-31 23:17] Marklb commented on #11715
@huneeeee You probably need to make a repro of the problem or at least more detail. I am using `CdkPortal` in multiple components and multiple different ways of using it. None of my stories have had a problem with it.

My assumption is that it has something to do with how your story is defined, but nothing about that is in the description. There were some issues that caused stories to disappear in

[2020-08-01 04:19] Marklb commented on #11694
Not sure what the fix would be, since I don't know anything about Expo, but I took a look and see what is happening, if that hadn't been found. Not sure if the problem was just about a fix or why it is happening, because the cause seems intentional, for some reason that may make sense if you know about expo.

The `withUnimodules` function that is wrapping the config in `.storybook/webpack.config.j

[2020-08-01 06:26] petermikitsh commented on #7587
It **is** possible to get consistent screenshots across environments. Here's how:

I ran into this issue and followed the strategy outlined in `storybook-addon-image-snapshots` (https://github.com/spring-media/storybook-addon-image-snapshots#testing-with-a-local-running-storybook-server). Two general principles I picked up:

- Generate your baseline snapshots and test snapshots using the same dock

[2020-08-01 13:30] corysimmons commented on #11482
.

[2020-08-01 13:59] shilman commented on #11412
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.21 containing PR #11752 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-08-01 13:59] shilman commented on #11696
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.21 containing PR #11744 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-08-01 13:59] #11412 closed

[2020-08-01 13:59] #11696 closed

[2020-08-02 00:20] shilman commented on #9583
Fix here https://github.com/storybookjs/storybook/pull/11752 available in `6.0.0-rc.21`.

[2020-08-02 00:21] shilman commented on #8444
Another fix here https://github.com/storybookjs/storybook/pull/11752 available in `6.0.0-rc.21`.

[2020-08-02 05:02] #11079 closed

[2020-08-02 05:02] #10658 closed

[2020-08-02 05:02] #10148 closed

[2020-08-02 05:02] #10970 closed

[2020-08-02 05:02] #10829 closed

[2020-08-02 05:02] #11093 closed

[2020-08-02 05:02] #10755 closed

[2020-08-02 05:02] #11120 closed

[2020-08-02 05:02] #10914 closed

[2020-08-02 05:02] #11114 closed

[2020-08-02 05:02] #11110 closed

[2020-08-02 11:35] imanderson commented on #6885
@andreiQuant perfect! 👌🏼

[2020-08-02 14:00] #11489 closed

[2020-08-02 14:44] shilman commented on #8936
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.22 containing PR #11759 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-08-02 14:44] shilman commented on #10511
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.22 containing PR #10512 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-08-02 14:44] shilman commented on #10524
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.22 containing PR #11760 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-08-02 14:44] shilman commented on #11441
Yippee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.22 containing PR #11761 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-08-02 14:44] shilman commented on #11489
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.22 containing PR #11730 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-08-02 14:44] #8936 closed

[2020-08-02 14:44] #10524 closed

[2020-08-02 14:44] #11441 closed

[2020-08-02 14:58] migsc commented on #1754
@boatcoder This worked for me for launching the storybook server and Chrome together.

[code]

[2020-08-02 15:41] fernandopasik commented on #11291
thanks to #11759 there's no need for this one anymore

[2020-08-02 15:41] #11291 closed

[2020-08-02 16:54] #10954 closed

[2020-08-02 16:54] #10576 closed

[2020-08-02 22:53] #11137 closed

[2020-08-02 22:53] #11131 closed

[2020-08-03 00:23] nareshbhatia opened #11763 "TypeScript regression in 6.0.0-rc.22"
**Describe the bug**
rc.22 gives "impossible to import loader for .ts" error.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone my minimum working example at https://github.com/nareshbhatia/react-component-mwe. This has dependencies set to rc.21.
2. Run the example (`yarn` then `yarn storybook`). Storybook should start and show one component.
3. Change the dependency to rc.22 and run aga

[2020-08-03 02:34] shilman opened #11764 "Sidebar infinitely switches between two stories"
When you click rapidly between stories it's possible to get into a buggy state where the UI toggles between two stories. It's intermittent, but happens often enough that many users will hit it when they upgrade.

During the last episode in `official-storybook` I observed the following in the dev console, looping repeatedly as the two stories toggled (one of the stories was a docs page story):

<im

[2020-08-03 04:35] shilman commented on #11763
Thanks @nareshbhatia I'm able to repro.

The problem is due to #11759, which moved a few Vue-related dependencies out of `addon-docs`. After the upgrade you can see that `@babel/register` is no longer present in `yarn.lock`.

As a workaround, I added it back and that fixed the problem:

[code]

I'm not sure what is the correct fix here, and will follow up with the team. cc @yannbf @ndelangen @tmea

[2020-08-03 04:40] shilman commented on #11723
Is this a regression, i.e. are you upgrading the project from 5.x and it was working there?

[2020-08-03 04:41] shilman commented on #11698
@domyen can you take a look?

[2020-08-03 04:48] shilman commented on #11641
Hi @asudoh! Thanks for filing and for the fix. Sorry I missed this first time around, will take a look at the PR now and hopefully get it out with the next release.

[2020-08-03 04:48] shilman commented on #11641
FYI, we’ve released addon-controls in Storybook 6.0. Controls are portable, auto-generated knobs that are intended to replace addon-knobs long term. Controls don't have a "populate from URL" feature yet, but we plan to add it in the future: https://github.com/storybookjs/storybook/issues/11604

- [Controls README](https://github.com/storybookjs/storybook/tree/next/addons/controls)
- [Migration ins

[2020-08-03 04:59] shilman commented on #11599
@Steffi3rd that site hasn't been deployed in over a year. here's a current one:

https://app.netlify.com/sites/storybookjs/overview

[2020-08-03 05:00] shilman commented on #11599
Try upgrading to 6.0 RC?

[code]

[2020-08-03 07:57] hv-pul commented on #11737
Thanks @marie-maxime, that does work indeed!

However I still think it is inconsistent, as it works differently on an MDX docs page (where you need to use lit-html) and a CSF story (where you don't)?

[2020-08-03 08:18] ndelangen commented on #11763
I'm just confused by this: the change in the mentioned PR doesn't change anything relating to `@babel/register`?

[2020-08-03 09:35] #11720 closed

[2020-08-03 09:49] Spy-Seth opened #11769 "Control addon warning on fully configured story"
**Describe the bug**
The "_This story is not configured to handle controls._" warning is show on a story with no controls but only actions:

**Expected behavior**
The warning should not be shown as all props are being handled by the control addons

**Screenshots**
![image](https://user-images.githubusercontent.com/95120/89169378-72646880-d57e-11ea-9e63-bb9d5bd6afdc.png)

**Code snippets**
The comp

[2020-08-03 09:59] ndelangen commented on #11692
@astrotim Do you think you could help me reproduce this?

I'm sure there's a bug / unwanted feature in there, but in our official storybook example (which does use a combination of storieOf, MDX, CSF)

Do you have any pointers to what you think might be the cause of this?

[2020-08-03 10:06] bdobry commented on #11723
@shilman No, I kicked off with 6.0 rc but looking at some other threads and examples I'd expect this to work but maybe I misunderstood some documentation. I can try to reproduce this case with `5.3` later today using `addDecorator()` method instead of new `export const decorators = [];`

[2020-08-03 10:21] ndelangen commented on #8230
You should be able to subscribe to the addon's state with:
[code]

We'll however possibly change this to use global args in 6.1:
https://github.com/storybookjs/storybook/pull/11627#issuecomment-664328874

[2020-08-03 10:34] EdenTurgeman commented on #11377
@Yama-Tomo Did you manage to solve this? if so, how and why?

[2020-08-03 11:05] #11641 closed

[2020-08-03 11:57] ndelangen commented on #10846
This is fixed in 6.0.0

I verified using:
[code]

[2020-08-03 13:06] #11393 closed

[2020-08-03 13:42] shilman commented on #11393
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.24 containing PR #11770 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-08-03 13:42] shilman commented on #11641
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.24 containing PR #11642 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-08-03 13:42] shilman commented on #11677
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.24 containing PR #11767 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-08-03 13:42] shilman commented on #11764
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.24 containing PR #11766 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-08-03 13:42] #11677 closed

[2020-08-03 13:42] #11764 closed

[2020-08-03 13:46] bdobry commented on #11723
@shilman Alright, I think I managed to fix my issue. It was incorrect babel config in the root of my project. I also needed to add `@babel/preset-react`. Working config for me is:

[code]

[code]

then this works just fine:

[code]

Thanks for help anyway, keep up the good work you're doing here! 😄  We can close this issue.

[2020-08-03 13:48] #11723 closed

[2020-08-03 13:58] floAr commented on #11377
Also having this issue after doing the zero step config and adding storyshots @ next. Any workaround or eta for a fix?

[2020-08-03 14:13] bard commented on #11377
I looked into this about a month ago and it appeared that the change was introduced between `-beta.27` and `-beta.28`, verified naively by installing one version after another until the typescript files showed up.

I reviewed [the diff between the two tags](https://github.com/storybookjs/storybook/compare/v6.0.0-beta.27...v6.0.0-beta.28) and couldn't immediately see the cause.

If anyone has the b

[2020-08-03 14:16] Thisen opened #11772 "start-storybook throws TypeError: storyStore.setSelectionSpecifier is not a function"
**Describe the bug**
When I access my local development version of Storybook (`start-storybook ...`), it throws with a TypeError:
`Uncaught TypeError: storyStore.setSelectionSpecifier is not a function`

**To Reproduce**
Steps to reproduce the behavior:
1. Run `start-storybook -p 9001`
2. Access Storybook at `localhost:9001`
3. See console with TypeError

**Expected behavior**
That Storybook can o

[2020-08-03 14:17] ajkl2533 commented on #11763
@shilman I can confirm that the adding of `@babel/register` works, but also have no idea why there is no change in yarn.lock regarding `@babel/register`. Also don't think that adding a dependency to make storybook work is not a correct fix. It should go directly to the package IMHO.

[2020-08-03 14:48] Yama-Tomo commented on #11377
@EdenTurgeman
Hi ✋
First, I'm using typescript, ts-jest and @storybook/vue.
https://github.com/Yama-Tomo/vue-vuex-typescript-sample/blob/cff9e6da36dcb32e1576275bfebb771101bf9a4b/package.json

My workaround is as follows
- Make the ts files under the `node_modules/@storybook/addon-storyshots/dist/*` can be transpiled by ts-jest.
  - If this package was provided js files only, you wouldn't need it,

[2020-08-03 15:16] Alonski commented on #10660
I would also like this feature :)

[2020-08-03 16:08] kyleBeikirch commented on #8444
I'm still struggling with the original issue. I just started upgrading to Storybook 6.0 last week and at the same time migrating stories to CSF/MDX. I got excited when I started work today and saw an update but updated to ```6.0.0-rc.24``` this morning and still have the issue.

I tried both ways of writing the story

[code]
but get this where there is no code example at all for the first one
<img

[2020-08-03 16:59] moarwick opened #11773 "Static build of Storybook does not load stories on default route"
**Describe the bug**
We are building Storybook for static deployment, ver `5.3.3`, using Typescript (`ts-loader`). When accessing the root `/` route (on `http-server`), the app is served, route becomes `http://localhost:8080/?path=/story/*` and.. no stories get shown in the UI. Sadly, also no console logs or any errors are thrown. However, if the URL is updated manually to remove the `*`, it picks

[2020-08-03 17:12] shilman commented on #8444
@kyleBeikirch Did you take a look at  #11752

[2020-08-03 17:13] shilman commented on #11763
@ajkl2533 that's why i said it's a workaround

[2020-08-03 17:17] shilman commented on #11773
Try upgrading to 6.0 RC?

[code]

[2020-08-03 17:28] shilman commented on #11772
Did you try removing `node_modules` and/or lockfiles and reinstalling?

And if that doesn't work, do you have a public repro?

[2020-08-03 17:40] puyt opened #11774 "Props not showing when importing from another file (Vue)"
**Describe the bug**
I have a component where the props are in a different JavaScript file because it's used for multiple button components but the props aren't rendered in the docs, am i doing something wrong?

**To Reproduce**
Steps to reproduce the behavior:
1. Run storybook with the 3 example files below

**Expected behavior**
Props being rendered in the DocsPage

**Screenshots**
![image](http

[2020-08-03 17:41] kyleBeikirch commented on #8444
@shilman would that not be Example #1 in my code where no code example shows up?

I didn't include the import statements in that example but here is the full thing

[code]

## Example 1
<Preview withSource='open'>
  <Story story={ChipStories.basic} name="Example 1"/>
</Preview>

## Example 2
<Preview withSource='open'>
  <Story name="Example 2">
  {ChipStories.basic()}
  </Story>
</Preview>

# Pro

[2020-08-03 17:45] shilman commented on #8444
@kyleBeikirch sorry my bad. i missed your "example 1", which is the recommended way to write the story. do you have a public repro i can look at?

[2020-08-03 17:47] kyleBeikirch commented on #8444
@shilman It's all in a private, company-owned repo, but let me try to get a reproducible live code example for ya.

[2020-08-03 18:27] ecarrera commented on #7360
https://github.com/storybookjs/vue-cli-plugin-storybook/issues/69#issuecomment-668171815

[2020-08-03 18:33] tknickman commented on #9311
Just chiming in to say we recently upgraded our storybook covering a big monorepo with custom webpack configs from 5.3.x to the latest 6.0 RC's (`npx npm-check-updates '/storybook/' -n -u && npm install`) and after the minimal changes following the [migration docs](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#from-version-53x-to-60x) everything is running great AND it fixed all

[2020-08-03 18:52] kyleBeikirch commented on #8444
@shilman was able to reproduce here as well - https://github.com/kyleBeikirch/storybook-test

[2020-08-03 20:01] domyen commented on #11230
Thanks for the feature request! Apologies for the lag in the reply.

I recommend using the CSS escape hatches for font-size and line-height combinations. Fonts have different "x-heights" which affect how large/small text appears even if they're technically the same font-size.
![image](https://user-images.githubusercontent.com/263385/89221832-ef550980-d5a1-11ea-925e-827d17bce555.png)

That means th

[2020-08-03 20:03] #11222 closed

[2020-08-03 20:32] domyen commented on #10530
So the request seems to be seeing stories as nested elements in the sidebar of the `--docs` page?

That's not the common behavior in most design systems I researched, however I could see why folks might want to quickly navigate to the story section.

I don't think it makes sense to link to every story but perhaps we can auto-generate nested sidebar elements for all `h2`s instead. That's inline wit

[2020-08-03 21:08] sardormajano commented on #11693
Hi @Marklb,
As per the goal of the PR, `The goal is to provide support for AOT compilation and the new Ivy renderer that came with Angular 9 as default`, #11157 should be the solution to this issue here.

The 2 issues could be marked as related as far as I can see.

[2020-08-03 21:26] #6436 closed

[2020-08-03 21:53] maggiewachs commented on #11588
@shilman thank you for adding this? Anything I can do to help get some traction here?

[2020-08-03 22:21] tim-evans commented on #11246
I've encountered this issue in our application while trying to use the storybook 6.0.0 RC— the error I was getting was:

[code]

I'm providing this info just to raise this as something that may be helpful to be fixed before releasing 6.0! ✨

[2020-08-03 22:44] shilman commented on #8444
@kyleBeikirch this line disables the source loader. remove it and restart storybook and you should be able to see the source:

https://github.com/kyleBeikirch/storybook-test/blob/master/.storybook/main.js#L11

[2020-08-03 22:54] shilman commented on #11588
@maggiewachs thanks for your enthusiasm for this. after 6.0 is released i can write more about what this might look like. but the core idea is that for each framework we need a decorator that takes the rendered output of the story function and converts it to an appropriate human-readable string. if you can contribute a proof of concept for web components, i'd be happy to point you at how to integr

[2020-08-03 23:17] kyleBeikirch commented on #8444
@shilman That was it, I knew it was a config somewhere! The code example is showing up although it renders as

```() => <TestChip label={'Dog'} />```  Ideally it would just be ```<TestChip label={'Dog'} />```

Is that some config option as well?

I'm sure you are quite busy in prep for the official 6.0 release. This remaining quirk is minor so not a big deal and a nice to have for me.

Thanks for

[2020-08-03 23:23] shilman commented on #8444
Yes! You can get the dynamically rendered source in two different ways:

1. Convert it to an args story
2. Set the `docs.source.type` parameter to 'dynamic' (default is 'auto')

[2020-08-04 00:24] cfhull commented on #11362
I have a related use case where I'm setting a long url as a default property for an avatar component.

![image](https://user-images.githubusercontent.com/5115526/89239400-0d813080-d5c7-11ea-8bc8-4ce02cad0506.png)

It looks perfect if I add  `word-break: break-all` to the cell through the dev tools.

![image](https://user-images.githubusercontent.com/5115526/89239360-f4787f80-d5c6-11ea-832d-27dc155

[2020-08-04 01:37] tmeasday opened #11780 "Source loader adds `X.parameters`, clobbering `X.story.parameters`"
**Describe the bug**
Our CSF loader only allows one of `X.parameters` and `X.story.parameters` being set: https://github.com/storybookjs/storybook/blob/next/lib/core/src/client/preview/loadCsf.ts#L173:L173

However, the source loader adds `X.parameters`, effectively making it impossible to use `X.story.parameters`.

**To Reproduce**
I can create a repro if it is helpful.

[2020-08-04 03:35] deadcoder0904 commented on #7978
@shilman It isn't working for me. I want to give a background color to `docs`.

I have the following code:

[code]

I even tried directly:

[code]

Am I doing anything wrong?

[2020-08-04 04:22] deadcoder0904 commented on #7978
Alright, I got it. Gotta create a theme myself as said in https://storybook.js.org/docs/configurations/theming/ :)

[2020-08-04 06:05] deadcoder0904 commented on #7978
Apparently, it doesn't work for me. Not sure if I'm doing anything wrong. It's the same error:

Here are my files:

# .storybook/main.js

[code]

# manager.js

[code]

# preview.js

[code]

# theme.js

[code]

Exactly followed the guide above so Idk what I am doing wrong? 🤔

[2020-08-04 06:52] shilman commented on #11780
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.25 containing PR #11781 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-08-04 06:52] #11780 closed

[2020-08-04 07:46] Thisen commented on #11772
It worked after I upgraded to 6.0.0-rc.25.

[2020-08-04 07:46] #11772 closed

[2020-08-04 07:57] deadcoder0904 commented on #7978
Alright finally got it.

I was using `preview.js` wrong. Finally focused on the error till it clicked. Had to do the following:

# .storybook/preview.js

[code]

[2020-08-04 08:39] yannbf opened #11782 "Fullscreen toggle does not work when all panels are collapsed"
**Describe the bug**
I am unsure whether this is the intended behavior, but the full screen button does not work when the panels are collapsed.

A bit unrelated to the bug, but it would be great to have a tooltip of some sorts indicating that when the user goes full screen they can press the toggle button or "F", because sometimes people press letters such as "A S D F"  by mistake and might feel l

[2020-08-04 09:32] #11694 closed

[2020-08-04 09:35] neil-morrison44 commented on #6408
We've got two (large ish) projects that build storybooks as part of their CI, both started failing with `JavaScript heap out of memory` errors after `@babel/core` auto-updated from 7.10.5 to 7.11.0, a 3rd project with a much smaller JS footprint (no react) is fine on v7.11.0 though.

**storybook/react:**: v5.3.19
**Node:** v12
**OS:** Linux (Travis CI Container)

[2020-08-04 09:37] floAr commented on #11377
![image](https://user-images.githubusercontent.com/765387/89276753-50351e00-d644-11ea-8ccf-2634cb541b86.png)
@bard & @shilman I took the time to do a full bisect and it seems that 94a969a246ea6fd9624f21d9ad95c309e5612586 is the culprit. I cant really tell what the problem is there due to my limited knowledge of the whole build ecosystem. Hope this helps a bit!

[2020-08-04 09:40] wKich opened #11791 "Type issues in fresh CRA+TypeScript using storybook/cli@6.0.0-rc.25"
**Describe the bug**
After init placeholder stories in fresh CRA+TypeScript project. Project failed to start/build due type errors.

**To Reproduce**
Steps to reproduce the behavior:
1. `yarn create react-app my-app --template typescript`
2. `cd my-app`
3. `npx -p @storybook/cli@next sb init`
4. `yarn storybook` — Works without issues
5. `yarn start` — Failed to compile

**Expected behavior**
Appl

[2020-08-04 09:41] floAr commented on #11377
Digging deeper, I found the actual error: In cd61e43e8ba71821caf089e3efb2a688003e31e4 there is a change to exclude *framework* folder from cleanup for the cli in the prepare script. This seems to have the side-effect on the framework folder withing storyshots. I will see if I can muster the regex knowledge to fix this :)

[2020-08-04 09:45] shilman commented on #11377
Awesome detective work @floAr 🥇

cc @tooppaaa

[2020-08-04 10:22] rikkit commented on #11738
Thanks @shilman. Would you be able to suggest an alternative way of adding a component to every docs page? Ideally I'd like to add one component without altering the default page order. Is there such a thing as decorators for docspages?

[2020-08-04 10:29] aloifolia opened #11793 "Unclear configuration of storysource with Typescript causes TypeErrors"
**Describe the bug**
The README for the storysource addon is confusing if you are not quite familiar with Webpack. You are supposed to change the `main.js` file like this:

[code]

But also, if you want to use Typescript-based stories, you need to change `main.js` like this:

[code]

I have problems with merging these two exports. My current not working solution looks like this:

[code]

But this

[2020-08-04 10:33] floAr commented on #11377
Added a simple fix, that I was able to validate on my machine.

Problem was that we cant change the regex ` (/dist\/frameworks\/.*/.test(filePath)` as it operates only relative to the dist/ directory. So there is no way to check if we are in cli/dist or storyshot/dist.
This fix tests initially if we are in the 'storyshot' directory and in that case disregards the regex.

This means we keep the cur

[2020-08-04 11:03] ajkl2533 opened #11794 "Stories doesn't include name when embedding CSF"
**Describe the bug**
Connected to #11752, Story component doesn't include 'name' prop automatically when using `<Story story={stories.basic} />` syntax, which causes storybook to fail with `Invalid name '', must include alphanumeric characters` error. When 'name' prop is added manually everything is working.

cc @shilman

[2020-08-04 11:24] s-ong-c commented on #11694
I saw you late. You're right. Thank you very much.

[2020-08-04 11:28] jackkoppa commented on #11186
Thanks for creating this, @shilman - we came across this issue while trying out Storybook 6, and it took us a while to dig down to the root cause of #9582

Happy to see #10959 address that in at least some way, but I think we'd also be very happy with a standardized, filesystem-based approach to allow easy static analysis to continue, given that we're probably going to try to use static names for

[2020-08-04 12:17] shilman commented on #11793
why do you need to do this?

[code]

[2020-08-04 12:21] shilman commented on #11774
@elevatebart is this a known limitation with `vue-docgen-api`?

[2020-08-04 12:34] jimmyandrade commented on #9311
Wow, looking forward for this <3

[2020-08-04 13:25] maggiewachs commented on #11588
@shilman:

If you can point me to an example of how to access the rendered output, I'm game to hack something together. :) Is there an API that describes each story?

[2020-08-04 14:38] hgenru commented on #8230
@ndelangen is this is the right way or just hack? Will event API deprecated?

[2020-08-04 14:54] jonasantonelli opened #11796 "Props table don't render using React dot-notation"
**Describe the bug**

Context: Using `Props` from `addon-docs`.

When I try to render a prop-types table of dot-notation component it doesn't work.

`"@storybook/addon-docs": "^5.3.18"`

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a dot-notation component
2. Import it in your MDX page
3. Refer this component using `<Props />`
4. See the empty table rendered

[code]

**Expected beh

[2020-08-04 14:56] elevatebart commented on #11774
Hello @puyt, Thank you @shilman,

It is indeed a known limitation of vue-docgen-api. The library does not resolve variables in props.
Since it is a static analyzer of the code, not its runtime, it often can't guess what variables will contain.

Though, @puyt you make me think of a scenario where it would make sense to have the props as a separate object.
Tell me if you have another scenario where

[2020-08-04 15:04] shilman commented on #11774
Thanks for clarifying @elevatebart! Static analysis is a beast--you're really doing the Lord's work. I'm fine to say it's a limitation of Storybook right now.

@puyt in 6.0 it's possible to specify types by hand if needed as a workaround: https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#my-controls-arent-being-auto-generated-what-should-i-do

[2020-08-04 15:11] aloifolia commented on #11793
I probably do not need this. However, the documentation (addons/storysource/README.md) tells me to do this:

![Screenshot 2020-08-04 at 17 06 21](https://user-images.githubusercontent.com/1295054/89310438-fdc02580-d674-11ea-9641-531a15ec6e52.png)

So, I just switched to this config instead:

[code]

Now the error message is not shown anymore. However, the story panel stays empty. Not sure, if this

[2020-08-04 15:32] koop commented on #11794
Can confirm that this is happening for us as well 👍

[2020-08-04 16:07] Spielboerg opened #11798 "The latest version of Storybook couldn't be fetched (in static build)"
**Describe the bug**
In the static build of Storybook, the latest version of Storybook cannot be fetched. It doesn't matter if I open the `index.html` locally or open the deployed version on my server.

**To Reproduce**
Steps to reproduce the behavior:
1. Build Storybook
2. Open `storybook-static/index.html` in your browser
3. Got to the "About your Storybook" page
4. Error: `Oops! The latest vers

[2020-08-04 16:11] albert-schilling opened #11799 "Remove unneccessary scrollbar from iFrame"
Hi there,

we just added viewport to our storybook. Everything works fine except we always have a scrollbar in our stories.

At the moment, I believe this is because of the following line where scrolling is set to yes on the iframe tag:

https://github.com/storybookjs/storybook/blob/94dc910229992a78ddfecbd252edde321c184a2b/lib/ui/src/components/preview/iframe.tsx#L86

If I go to .../node_modules/@

[2020-08-04 16:45] puyt commented on #11774
@elevatebart This is actually the way we implemented `Button.vue` but with a few more props and we're creating multiple variants which are frequently used to prevent other developers from using a different color, icon, label, rounded,... for those cases.

So we have variants such as `AddButton`, `DeleteButton`, `EditButton`,... We could have used something to `variant` but there would be too many

[2020-08-04 16:49] elevatebart commented on #11774
If you were to use a mixin for these props instead of an object, docgen would be able to pick it up out of the box.
I hope it helps you at all ;)

[2020-08-04 19:15] donaldpipowitch opened #11802 "Addon-a11y: Manual doesn't work"
**Describe the bug**
if you add

[code]
to this example https://github.com/storybookjs/storybook/blob/next/examples/cra-kitchen-sink/src/stories/App.stories.js#L16 you'll see that the a11y tests are run even though "manual: true" is set.

**To Reproduce**
Steps to reproduce the behavior: See above.

**Expected behavior**
We should be in the `manual` state where no aXe test is run automatically.

*

[2020-08-04 21:23] jldillman opened #11804 "TypeScript configuration docs link to incorrect version of Fork-TS-Checker-Webpack-Plugin"
The "See docs" link in Storybook v6's TypeScript configuration guide points to the wrong version of `fork-ts-checker-webpack-plugin`:
https://github.com/storybookjs/storybook/blob/next/docs/src/pages/configurations/typescript-config/index.md#mainjs-configuration

Storybook v6's `package.json` declares `"fork-ts-checker-webpack-plugin": "^4.1.4"` [here](https://github.com/storybookjs/storybook/blob

[2020-08-04 21:28] jldillman commented on #11804
Also, it might be useful to provide an example shape for custom configurations of `fork-ts-checker-webpack-plugin`, ie:

[code]

[2020-08-04 22:45] Tomastomaslol commented on #11782
Hi @yannbf

Just to clarify.do you expect the bottom panel to reappear when fullscreen mode is toggled and the sidebar is open?

![Kapture 2020-08-05 at 8 35 34](https://user-images.githubusercontent.com/1872246/89352077-a82c5d00-d6f6-11ea-8486-539e08c90343.gif)

Or is this fix only supposed affect the scenario when all panels have been closed and fullscreen mode is toggled?

I would love to try a

[2020-08-04 22:49] domyen commented on #11616
Hey there, thanks for the bug report!

I can't seem to reproduce this on rc26 in the official-storybook (where we QA and test Storybook itself). It would help me debug if a reproduction was published online somewhere.

Video here: https://www.loom.com/share/3c3fb5b644dc4c698bdcd85293b45a57

[2020-08-05 00:09] domyen commented on #11362
Addressed these issues here in #11805.

If you want to customize the styles further, target these classes:
- `.docblock-argstable`
- `.docblock-argstable-head`
- `.docblock-argstable-body`

e.g., `.docblock-argstable-head thead th:first-of-type { width: 20% }`. Make sure that your selectors specificity is greater than our default styling or use `!important`.

[2020-08-05 00:20] domyen commented on #11698
Got it! We'll need to provide separate styles for Safari (that aren't as handsome) due to limitations with table styling in Webkit.

[2020-08-05 01:12] thehappydinoa commented on #691
Just a quick update. The only way I could get it working with `v5.3.19` is with this:
[code]

and

[code]
(Ignore my [addons](https://github.com/storybookjs/storybook/tree/master/addons) if you don't have them set up)

[2020-08-05 02:19] shilman commented on #11804
@jldillman thanks for the heads up! will fix

@mrmckeb maybe we should upgrade `fork-ts-checker-webpack-plugin` before v6 goes out since it'll be a breaking change after? WDYT?

[2020-08-05 02:29] shilman commented on #11782
@Tomastomaslol we welcome all contributions. any issue that is not assigned is fair game (and if an issue is assigned and you want to grab it, just check with the person it's assigned to -- they might be happy for you to take it!)

@yannbf I guess when everything is hidden and you toggle fullscreen you expect everything to be shown again?

[2020-08-05 02:39] shilman commented on #8093
I like this proposal @domyen. i think we can squeeze it in for 6.0 if there's a good PR in the next day or two.

@patelvp people can override the primary story behavior using @donaldpipowitch 's workaround above https://github.com/storybookjs/storybook/issues/8093#issuecomment-665020569

[2020-08-05 03:00] shilman commented on #11802
cc @tooppaaa @tmeasday

[2020-08-05 04:24] Tomastomaslol commented on #11782
Thank you for explaining to me how it works. Could you assign this issue to me? I will try to get come up with a solution for it

[2020-08-05 04:30] Alfrex92 opened #11808 "String literal types with React Typescript"
I want to use `String literal types` in my component and I want to able to select any of those strings in my story using Storybook.

The component can only receive 3 types of strings: `LATER` | `IMMEDIATELY` | `FCFS`

But, I have this error:

`Type 'string' is not assignable to type '"LATER" | "INMEDIATELY" | "FCFS"'.ts(2322)
index.tsx(4, 3): The expected type comes from property 'type' which is d

[2020-08-05 04:44] zhaoyao91 opened #11809 "packages should not install react as dependency"
**Describe the bug**

packages, such as [storybook/addons/actions](https://github.com/storybookjs/storybook/blob/next/addons/actions/package.json#L43) installs `react` as dependency, this may cause [duplicate react problem](https://reactjs.org/warnings/invalid-hook-call-warning.html#duplicate-react).

say, I have a component package which declares react as peerDependency but installs storybook as

[2020-08-05 06:22] Tomastomaslol commented on #11782
Could someone please confirm if this is the behaviour we desire:

### Scenario 1
* Hide `Panel` or `Nav`
* Enter fullscreen mode
* Exit fullscreen mode
* One panel should be visible

![scenarioA](https://user-images.githubusercontent.com/1872246/89377786-ded59800-d735-11ea-9663-fbcdd4115e2e.gif)

### Scenario 2
* Hide  `Panel` and `Nav`
* Enter fullscreen mode
* Exit fullscreen mode
* `Panel` and

[2020-08-05 06:58] techieshark commented on #10987
@desireco I'm curious - how long does storybook take to start up on your (sizeable) storybook instance? Mine is not large but is taking over two minutes which is why I'd love to see snowpack used.

[2020-08-05 07:07] exogen commented on #8426
One thing I've noticed about the `<StoryFn />` solution is that adjusting values with the Knobs addon causes the entire story to remount, not re-render. This limits the usefulness (in my stories at least) because the knob are often used to test animations and such – so if the story remounts, there's no animation since the state is completely reinitialized.

A better approach I've found is:

[code]

[2020-08-05 07:49] wangdeweiseven commented on #3656
tks

[2020-08-05 08:23] zeorin commented on #10078
I presume it is, but I am no longer involved with the project in which this issue manifested itself. :man_shrugging:

[2020-08-05 10:30] wintercounter commented on #11809
Same problem on my side. It's completely failing our Storybooks now (we're updating custom configs to the new way).

[2020-08-05 11:08] astrotim commented on #11692
@ndelangen I haven't been able to spot any clues on this one, but I'll try reproducing it on a branch in the Storybook example and see how that goes.

[2020-08-05 11:13] schalkneethling opened #11812 "Error post RC upgrade"
**Describe the bug**

I was running v6.0-rc23 and decided to upgrade to the latest release candidate by running:

[code]

The process "completes" but then threw the following error:

[code]

Full trace:

[code]

Attempting to run Storybook now results in the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Have RC candidate release 23 installed
2. Run `npx sb@next up

[2020-08-05 11:33] schalkneethling commented on #11812
In a move of desperation :) I did the following:

[code]

Storybook works again post the above command.

Here is what can infer from looking at the contents of `package.json` over commits:

Interestingly the working version of RC23 had the following entries in `package.json`

[code]

After rerunning `init` the `devDependencies` now look something like:

[code]

Notice `@babel/core` and `babel-load

[2020-08-05 11:38] schalkneethling commented on #11812
I also noticed this new entry inside `preview.js`

[code]

Another change I notice is that I used to have the following in `preview.js`

[code]

This is no longer in `preview.js` but is now defined in `main.js` as follows:

[code]

[2020-08-05 13:31] #11681 closed

[2020-08-05 13:34] wintercounter commented on #11809
Update: Seems like with latest RC everything's fine.

[2020-08-05 13:47] schalkneethling opened #11813 "Display of Template inside Story not as expected"
**Describe the bug**
**To Reproduce**

I have the following code inside a `mdx` file:

[code]

When I view the relevant Docs page in the browser and click on the "Show code" link, the following is shown:

[code]

**Expected behavior**

I expected it to output the following:

[code]

**Screenshots**

![Screenshot 2020-08-05 at 15 46 23](https://user-images.githubusercontent.com/10350960/89420337-d9

[2020-08-05 13:57] rey-wright commented on #7215
I'm seeing this issue as well.

[2020-08-05 14:36] marie-maxime commented on #11813
Looks similar to https://github.com/storybookjs/storybook/issues/11542

I'm guessing this a bug or maybe the doc for controls is not updated, but you can do this as a workaround and it should output the code correctly:
[code]

[2020-08-05 14:38] rrsai commented on #10409
I am investigating this as well.  One possible approach: Create a wrapper component with children, and put a react-helmet <Helmet> component into the top of the wrapper, then use it as a decorator simply on the stories that need things like the global font.  Or use it as a global decorator, but often it's *good* to find the places where a component is relying on global styles, if you want to make

[2020-08-05 14:52] kelly-tock commented on #8630
would it be possible @daKmoR to see the source of this demo? I can't find how to do some of those options. is it just me or are the docs for this documentation tool hard to find?

[2020-08-05 15:02] marie-maxime commented on #11808
[code]
The properties inside the object are instantiated as strings instead of `LotteryCardInterface`.
You'll need to define them as `LotteryCardInterface`.

[2020-08-05 15:07] Alfrex92 commented on #11808
Thanks for the advice. I still don't get 100% how can I do that?

[2020-08-05 15:29] schalkneethling commented on #11813
That works o/\o

![Screenshot 2020-08-05 at 17 29 39](https://user-images.githubusercontent.com/10350960/89432302-3fb69d80-d741-11ea-859b-73cff81223a2.png)

[2020-08-05 15:33] visualjerk commented on #11774
Just wanted to add a similar usecase:

When sharing component functionality with the composition api, quite often prop definitions also need to be shared.

Example:

[code]

[2020-08-05 15:36] schalkneethling commented on #11813
Well, kinda. While it does not output the `MDXCreate` code, the code it does output always includes *all* the possible props. For the button in https://github.com/storybookjs/storybook/issues/11813#issuecomment-669261093 for example, the actual code is:

[code]

[2020-08-05 16:23] koop commented on #11442
I'm seeing this error on rc.26 with the following code included in an addon's `preset.js`:

[code]

I see there's a test case with an object so not quite sure what's happening here. Haven't dug in much further.

[2020-08-05 16:36] kelly-tock commented on #9133
I think we need a docs page for all the doc blocks?

[2020-08-05 16:51] marie-maxime commented on #11808
Sorry, kinda busy today so I don't have much time to explain, but this should look something like this:

To have a variable match a series of string in Typescript, you have to use enum.
The enum value can then be used directly in your code.

[code]
I'm not sure what is the radio methods doing, so you might need to change it a bit, but this should probably works.

[2020-08-05 16:56] elevatebart commented on #11774
@visualjerk good added feedback!

Spreads and multi-level props resolving makes static parsing all the more interesting... and complicated.

I will try and integrate these use cases in version 5 of docgen.
Hopefully they can be sorted out simply.

Would you be interested in learning how I do that?

[2020-08-05 17:13] desireco commented on #10987
@techieshark 10-15 mins.

[2020-08-05 17:31] shilman commented on #10987
that's nuts guys. can you share more about your respective projects? chromatic's storybook has 1500 stories including entire pages and takes 40 seconds to build.

[2020-08-05 17:35] phaistonian commented on #10987
@desireco it all comes down to the webpack config you use.

If you invest time to tweak it, you can get quite decent build times.

[2020-08-05 17:49] visualjerk commented on #11774
For sure 😄 Is there a related issue, that I can watch?

[2020-08-05 18:13] rey-wright commented on #7215
One important note of context for me: I'm trying to access the storybook production build directly by opening the `index.html` file. `^5.3.19` is the last version I tested where I was very easily able to do this. Any versions thereafter I've sort of had issues and get this cross-origin issue. If I run a server and load storybook, it works. Ideally storybook works "statically" without a server as w

[2020-08-05 18:20] shilman commented on #11362
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.27 containing PR #11805 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-08-05 18:20] shilman commented on #11662
w00t!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.27 containing PR #11795 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-08-05 18:20] shilman commented on #11681
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.27 containing PR #11768 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-08-05 18:20] shilman commented on #11698
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.27 containing PR #11805 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-08-05 18:20] #11362 closed

[2020-08-05 18:20] #11662 closed

[2020-08-05 18:20] #11698 closed

[2020-08-05 19:20] akhilaravind commented on #7416
Anyone have a solution for this, I just want to run only a single test, do we have any configuration for this.

[2020-08-05 19:36] elevatebart commented on #11774
Not yet. will probably work on it this Week end

[2020-08-05 20:18] PascalPixel commented on #10939
@shilman I can share one with just you 👍

[2020-08-05 21:34] KevinGhadyani-minted commented on #10939
I upgraded from `beta.28` to `rc.27` and now I have this error as well. Sadly, I haven't been able to fix it with the `loose: true`. It solved the Storybook errors, but Babel now breaks on code in my library with the same error message.

[2020-08-05 22:24] coclav commented on #4038
a minimal effort option that worked for me : https://stackoverflow.com/a/58924651/2656988

Essentially `vue add storybook` and `npm run storybook:serve`

[2020-08-05 22:55] jligh commented on #8428
@xveganxxxedgex Thanks, I ran into the same issue but I use `babel.config.json` and adding `"@babel/plugin-proposal-class-properties"` to `plugins` solved it for me.

[2020-08-06 02:50] ron0115 commented on #8078
I set the `format` = false, fixed the indent problem, I also run well in my custom code below.
[code]

[2020-08-06 03:52] rockmandash opened #11819 "6.0 isn't possible to reset UI in Vue if props don't provide default value"
It seems like if your Vue component doesn't provide a default value, you won't be able to reset UI due to this line.

![image](https://user-images.githubusercontent.com/7580792/89488169-dcc51500-d7d9-11ea-9519-3febbed1bc36.png)

https://github.com/storybookjs/storybook/blob/dee5c3ec5dec5cb6d870b2c573326246b0ac7b5b/lib/client-api/src/story_store.ts#L482

###### Step to Reproduce

1. `vue create hel

[2020-08-06 04:39] Alfrex92 commented on #11808
thanks 😃, is working.

[2020-08-06 05:59] rockmandash opened #11820 "6.0 Vue doesn't support dynamic $emit"
This code won't work, SB 6.0 can't detect the events:

[code]

However, this will work:

[code]

[2020-08-06 07:25] schalkneethling opened #11821 "Using SVG as React component inside Story causes error - v6.0.0-rc.26"
**Describe the bug**

In a `mdx` story file I have the following:

[code]

Further down in the same file I then have:

[code]

Starting up Storybook happens without any problems but upon launching it in the browser emits the following error in Developer Tools:

[code]

It seemed to me that my code was sound and so I tested this inside a `tsx` file inside the app i.e. outside of Storybook:

[code]

[2020-08-06 07:31] chawax commented on #7703
With newer versions of Storybook I added the import statement in `./storybook/preview.js` file to make it work.

[2020-08-06 07:36] schalkneethling commented on #11821
Update: Based on the deprecation warning in the devtools I changed all instances of `Preview` to `Canvas` inside the mdx story file and restarted Storybook.

[code]

Storybook builds and now shows all the button instances that do not use an SVG component(when viewed inside the Canvas tab).

When I click on the Story in the sidebar for the button that _does_ use an SVG component, the error in the S

[2020-08-06 07:42] schalkneethling commented on #11821
Update 2: I thought perhaps from within an arrow function call might be causing the problem and so tried:

[code]

The same end result though unfortunately.

[2020-08-06 07:54] schalkneethling commented on #11821
Apologies for all the comments folks, hopefully it is more useful than distracting.

Update 3: With the following:

[code]

I now get a slightly different error in devtools:

[code]

and

[code]

[2020-08-06 10:09] reme3d2y commented on #10982
in Alfabank, we really want to migrate to 6.x version, but this bug doesn't let us do it.

There's [PR](https://github.com/storybookjs/storybook/pull/11539) that's been closed for some reason.

@shilman, can you update react-popper-tooltip with one of the next releases? 🙏 🙄

[2020-08-06 10:31] TomONeill opened #11822 "addon-controls argTypes date returns UNIX timestamp exclusively"
https://github.com/storybookjs/storybook/tree/next/addons/controls#control-annotations

`argTypes` `date` returns a UNIX timestamp, though I need it to be a `Date` object.

Is there a way to customize this or can this be added as an option?

[2020-08-06 11:28] rurquia commented on #11666
You can save that webpack config file using the field webpackFinal in your storybook's main.js config file

[2020-08-06 13:09] charliematters opened #11823 "SSL cert/key provided by symlink does not get resolved"
**Describe the bug**
I cannot provide SSL certificate and key by using a symlink

**To Reproduce**
Start storybook with `--https --ssl-cert={symlink}/server.cert --ssl-key={symlink}/server.key` results in
[code]
**Expected behavior**
The server should start in the same way as using the actual paths

**System:**
[code]

[2020-08-06 14:24] chrisahardie commented on #10197
This add-on is amazing! Thanks so much!

[2020-08-06 14:24] #10197 closed

[2020-08-06 15:07] shilman commented on #11791
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.28 containing PR #11811 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-08-06 15:07] #11791 closed

[2020-08-06 16:59] tx-nestor commented on #8936
@shamin Confirmed fixed when I install the v6 release candidate. Thanks SO MUCH!

Can't wait to see what else is in store for Storybook v6!

[2020-08-06 17:04] tooppaaa commented on #10939
@KevinGhadyani-minted any chance your repo is public to investigate a bit more ?

[2020-08-06 17:19] KevinGhadyani-minted commented on #10939
Sadly no :/.

The best I can do is show this error:
[code]

Here's the `.babelrc`:
[code]

[2020-08-06 18:05] ashr81 commented on #11691
In the latest upgrade to `6.0.0-rc.28`. This issue is fixed. Thanks for your support

[2020-08-06 18:05] #11691 closed

[2020-08-06 23:18] shilman commented on #11822
Thanks, I'll fix the documentation.

Why do you need to customize it?

[2020-08-06 23:26] shilman commented on #11820
What doesn't it support exactly? The code doesn't work or .... ?

[2020-08-06 23:35] elevatebart commented on #11820
Hello @rockmandash

`vue-docgen-api` is under the hood of storybook.
It detects only static events. But you can tell it litterally what each event is going to fire.

Use `@fires` like this:
https://github.com/vue-styleguidist/vue-styleguidist/blob/df1c6061a80730a130e3fc0a0fc52e41bae11fbc/packages/vue-docgen-api/src/script-handlers/__tests__/eventHandler.ts#L212-L233

It is not documented yet but I

[2020-08-06 23:37] shilman commented on #11819
This was introduced in https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.26

Apparently the telejson upgrade has broken `undefined` serialization. Will follow up there.

[2020-08-06 23:45] elevatebart commented on #11820
Basically, where the method that calls your event is defined, you can comment like follows

[code]

It is a little crazy verbose, but works. If you are trying to get the controls of storybook to work you also have the possibility to customize them after the fact.

I would really go for the simple approach though:

[code]

or, simpler, pass the status in the payload:

[code]

[2020-08-06 23:48] shilman commented on #11809
That error can be due to duplicate versions of React, but can also be due to a variety of other things.

The `Docs` tab mixes user code & Storybook code and can potentially mix React versions.

The `Canvas` tab isolates the user's environment, so if you're seeing this on `Canvas` my guess is that it's an issue with your code and probably unrelated to the multiple versions.

[2020-08-07 02:18] Tomastomaslol commented on #11206
I took a quick look at this and I was able to recreate the behaviour in `v6.0.0-beta.30`, but was unable to recreate it in `6.0.0-rc.28`.

### Behavouir in `v6.0.0-beta.30`
![beta30](https://user-images.githubusercontent.com/1872246/89601091-026c2000-d8a7-11ea-98d0-29843588fa3d.gif)

### Behavouir in `v6.0.0-rc.28`
![rc28](https://user-images.githubusercontent.com/1872246/89601148-2def0a80-d8a7-11

[2020-08-07 02:31] shilman commented on #8426
cc @tmeasday

[2020-08-07 02:33] shilman commented on #691
@thehappydinoa what version of `@storybook/preset-create-react-app` are you using? cc @mrmckeb

[2020-08-07 02:34] shilman commented on #11799
cc @ndelangen @domyen

[2020-08-07 02:49] shilman commented on #11793
Fixed the docs. Can you check the new docs and see if they make sense?

[2020-08-07 02:51] shilman commented on #11377
cc @tooppaaa @gaetanmaisse @yannbf ☝️

[2020-08-07 02:55] rockmandash commented on #11820
@elevatebart Thank you!
Explicitly describe which event will be emitted solved the problem.

@shilman Sorry I didn't describe my problem clearly, I'll be careful next time!

[2020-08-07 02:56] #11820 closed

[2020-08-07 03:06] shilman commented on #11738
Yes there's a wrapper for the docs page: https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/recipes.md#overwriting-docs-container

I would probably use story parameters:

[code]

Then define a new DocBlock and add it globally in `.storybook/main.js` (untested):

[code]

[2020-08-07 03:10] shilman commented on #11821
do you have the appropriate loaders set up to load your SVGs as React elements?

[2020-08-07 03:36] Marklb commented on #11799
Do you happen to have a css rule with `{ height: 100vh; }` in your global styles or something that may cause a similar effect of shifting off frame from a container padding? Your problem may not be that, but it did confuse me for a little while, since I had initially gotten used to thinking of my story's template as the only thing in its own isolated iframe.

We had a lot of our stories get messed

[2020-08-07 04:40] wintercounter commented on #11809
As OP said it started to happen when addon-actions was added. For me when I added addon-docs. As I stated the latest 6.0.0 RC fixed the problem for me, so the issue must have been around Storybook somewhere.

[2020-08-07 05:42] TomONeill commented on #11822
Because the component I am working with uses a method on the Date object (specifically `getFullYear()`). When changing the value through the control, it tries to execute that method on a number, which fails.

[2020-08-07 05:59] Bellfalasch opened #11828 "addon-docs blocks has no exported member SourceState"
**Describe the bug**
So, this might be intentional from your side, but after the refactoring of Preview > Canvas we can no longer use the exportet enum `SourceState` from addon-docs blocks. We used it for customizing our Preview and making sure type checking worked internally for `SourceState`. No later RC-release of SB6 works for this.

**Error message**
[code]

The odd thing is that if I look at

[2020-08-07 06:12] tooppaaa commented on #11377
(sorry I'm slow to reply...)

I think this is an excellent idea. Now that we introduced a framework folder, the logic to cleanup folders is more complex when it should be simple.

On the other hand, it took some time to see the issue and fix it, I'm not sure this should be done now. short time after 6.0 ?

[2020-08-07 06:18] tooppaaa commented on #11802
I saw that manual was not working when working on a11y as well.

I'm curious about your use case, I've got a lot of stories, relying on this addon a lot and, never used manual.

The fix isn't that hard but it's a good occasion to me to challenge this feature now we know someone uses it :)

[2020-08-07 06:39] aloifolia commented on #11793
Unfortunately, I am still struggling 😕 . I see two problems with the documentation:

1. It does not tell me *where* to put the source loader configuration. Is it `.storybook/main.js` or some other file?
2. It does not clarify how this config is to be merged with the standard configuration (if the config should be added to `main.js`)  which looks like this:

[code]

Thus, my third approach, after r

[2020-08-07 06:43] yannbf commented on #11782
Hey @Tomastomaslol great question!
@domyen, what do you think is the best way from the user's perspective? Keep the precedence of closed panels or just toggle them back?

I can see a use case where the user is developing a page on Storybook and wants to use controls in the addons panel but also want to view the page in full screen, so the user could:
- Hide the navigation
- Move addons panel to th

[2020-08-07 06:45] shilman commented on #11822
Aha misunderstood the issue. That makes sense and should be an easy fix 🤞

[2020-08-07 06:47] aloifolia commented on #11793
So, I just checked the angular-cli example project in the storybook repo. Interestingly enough, it does not contain any source loader customisation for Typescript stories. I am wondering how this works 🤔 .

Anyway, I found `marko-cli/.storybook/main.js` which uses exactly the config merge approach that I described in the last message. So I guess that my last guess *should* be right, although it do

[2020-08-07 07:09] TomONeill commented on #11822
Awesome. I probably could have explained it better in the first place. Thanks mate, cheers!

[2020-08-07 07:23] donaldpipowitch commented on #11802
My use case was _big_ stories (documenting pages with complex tables and filters for example). During v5 when I navigated though big stories the a11y check was blocking the UI thread quite heavily. So I didn't want to run them automatically, but keep the original functionality for manual runs. I only had a quick look at v6 so far, but it looked like the a11y checks became faster. Or are they run n

[2020-08-07 07:50] tooppaaa commented on #11802
Of course, performance is a real concern ! Can you give a try on your large stories ?

[2020-08-07 07:59] schalkneethling commented on #11821
The app is based on CRA which does have the relevant loaders. I assumed(perhaps incorrectly) that Storybook is simply reusing these in the build pipeline?

[2020-08-07 08:04] shilman commented on #10982
@reme3d2y can you use the workaround described above? turns out it's not a trivial upgrade due to some compatibility issues. we'll try to get it sorted out in 6.0.x.

[2020-08-07 08:09] donaldpipowitch commented on #11802
I just tried it. Navigation between stories seems to be very fast - but I think because the a11y check runs too early (the _big_ DOM was not rendered yet, that's why the check is fast and also navigation is fast; also I get back incomplete results because of this).

When I completely refresh such a story the a11y check is run correctly and if you try to scroll inside the story while the check is r

[2020-08-07 08:38] tooppaaa commented on #11802
Thanks a lot for your feedback, very helpful !
I'll try to work on this but that might not be until next week.

@shilman not blocker for 6.0, can that be a patch some time later ?

[2020-08-07 08:40] shilman commented on #11802
@tooppaaa not a blocker and i think @tmeasday also had thoughts on `addon-a11y` implementation

[2020-08-07 10:03] claudio-basal-dev commented on #5721
Thanx! Tested and working fine on Storybook v5.3.

I had the same issue, my functional react component has `useState(value)` and `value` didn't re-render the new value from Knobs, this issue is caused by useState:

From React docs:
<img width="300" alt="Screen Shot 2020-08-07 at 19 00 04" src="https://user-images.githubusercontent.com/62595194/89634366-357ed580-d8e0-11ea-8721-eb95c6b0ea84.png">

*

[2020-08-07 10:55] Yardie83 opened #11830 "Links in included Introduction.stories.mdx are broken"
**Describe the bug**
Most links in the Introdcution.stories.mdx are pointing to nonexisting or outdated sites

**To Reproduce**
1. npx  sb@next init
2.  run storybook
3. click on the links in Introduction.stories.mdx

**Expected behavior**
Links should point to the right websites

[2020-08-07 11:47] shilman commented on #11819
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.29 containing PR #11829 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-08-07 11:47] #11819 closed

[2020-08-07 11:50] milenaNeumann commented on #11373
Hi there, I have created a repro of the bug: https://github.com/milenaNeumann/cautious-bassoon

[2020-08-07 12:45] priandsf opened #11831 "Failure when custom-elements-json misses an element definition"
**Describe the bug**
When custom-element.json misses the definition and the element is referenced in a story, storybook fails, displaying an exception. Even worse, the whole storybook doesn't load, not even the story list. So the other stories are not available.

**To Reproduce**
Create a web component story and reference an element that is not in your custom-elements.json:
export default {
    ti

[2020-08-07 13:25] shilman commented on #11830
Yep it's a prerelease. Those links will be live by the time we release. Thanks & sorry for the confusion!

[2020-08-07 13:27] shilman commented on #11821
aha, didn't realize that was built into CRA. do you have the CRA preset installed?

[2020-08-07 13:41] brandonpittman commented on #11373
Oh thank god it wasn’t just me.

[2020-08-07 13:45] rafaelgoncalves2010 commented on #9463
Thank you <3

[2020-08-07 14:13] schalkneethling commented on #11821
Yup - https://github.com/mdn/yari/blob/mdn-fiori/package.json#L78

[2020-08-07 14:54] oleg088097 opened #11832 "[BUG] Angular+Docs "Show code" button does not exist for stories described in MDX"
**Describe the bug**
Stories described in MDX files don't have "Show code" in Docs page.

**To Reproduce**
Steps to reproduce the behavior:
1. Run storybook in examples/angular-cli
2. Check any story in "background" section. All of them have "Show code" in Docs tab
3. Check any story in "docs" section. None of them have "Show code" in Docs tab

**Expected behavior**
I expect Docs stories to have "

[2020-08-07 15:19] albert-schilling commented on #11799
@Marklb Hi Mark, thank you for the tip. Indeed, the problem was that our css framework bulma set `overflow-y: scroll` by default for the html tag. It might still be a good idea to remove 'scrolling=yes' from the iframe since this attribute is deprecated.

[2020-08-07 15:24] domyen commented on #11738
I support a feature that allows you to set `componentStatus` and get a badge. Most professional design systems have this pattern.

Loop me in :)

[2020-08-07 15:49] IgorSzyporyn opened #11833 "Please move applied "zoom" css property to preview root rather than body"
**Is your feature request related to a problem? Please describe.**
When you apply the zoom feature in "Canvas" - this will leak into other panels like "Docs"

**Describe the solution you'd like**
Please move the css property "zoom" with applied value to "iframe > body > #root" element instead

**Describe alternatives you've considered**
No other alternative exists

**Are you able to assist bring t

[2020-08-07 16:09] shilman commented on #11373
Ok thanks so much for the repro. It's a very strange bug.

Specifically:
- It happens when you install with npm, but NOT when you install with yarn
- It happens in the addons panel, which is NOT where I'd expect this kind of error to occur.

Will dig in more over the weekend. Thanks! 🙏

[2020-08-07 16:24] thehappydinoa commented on #691
@shilman Here is my storybook versions:
[code]

[2020-08-07 17:00] sdurham commented on #8595
What if I want verbose logs from my own code though?

[2020-08-07 22:11] Marklb commented on #11831
It isn't unique to web-components, I got this earlier when I updated one of my Angular apps. I thought something must have been messed up with a locally cached file or something, because I restarted Storybook and didn't get the error. Didn't realize I accidentally fixed it when I made a change to the tsconfig I use for `compdoc`

[2020-08-08 04:32] Tomastomaslol commented on #11782
I had a think about this and maybe it would be helpful if we tried to redefine the issue. What about if we try to tackle the problem that the UI looks almost identical if all panels are hidden and fullscreen is toggled on and off?

## UI state when all panels are hidden, fullscreen mode OFF
![Screen Shot 2020-08-08 at 2 25 17 pm](https://user-images.githubusercontent.com/1872246/89702301-46ccee00-

[2020-08-08 04:57] Tomastomaslol commented on #11833
Hi @IgorSzyporyn The behaviour you are describing sounds very similar to https://github.com/storybookjs/storybook/issues/11662. There should be a fix for this in the latest next build.

Are you still able to recreate the behaviour in the latest next build of Storybook?

https://next--storybookjs.netlify.app/official-storybook/

[2020-08-08 07:13] #10828 closed

[2020-08-08 07:13] #10773 closed

[2020-08-08 07:13] #11165 closed

[2020-08-08 07:13] #10903 closed

[2020-08-08 07:13] #10656 closed

[2020-08-08 07:13] #10738 closed

[2020-08-08 07:13] #10278 closed

[2020-08-08 07:13] #10443 closed

[2020-08-08 07:13] #10380 closed

[2020-08-08 07:56] IgorSzyporyn commented on #11833
@Tomastomaslol tested, and fixed in next

[2020-08-08 07:56] #11833 closed

[2020-08-08 08:12] #9575 closed

[2020-08-08 08:12] #10610 closed

[2020-08-08 08:12] #10474 closed

[2020-08-08 08:12] #10580 closed

[2020-08-08 09:30] rockmandash opened #11837 "Storybook can't detect dynamic Vue Component Props' default values both in v6 and v5."
Thanks for resolving bugs so fast for previously issues!

**Describe the bug**

When Storybook is analyzing a Vue Component Props' default values, it only supports static analysis, no dynamic.

![image](https://user-images.githubusercontent.com/7580792/89706954-c74c1880-d99c-11ea-9f91-52c99b13a1bd.png)
![image](https://user-images.githubusercontent.com/7580792/89706959-ce732680-d99c-11ea-9b88-df3a

[2020-08-08 10:39] rockmandash opened #11839 "Vue Component's Boolean Prop default is `false`, not `undefined`."
Vue Component has a special boolean prop use case, when not giving boolean prop default value, the boolean prop's default value is `false`, not `undefined`

Please see this minimum v6 example

###### TestProp.vue

[code]

###### TestProp.stories.js

[code]

If Storybook not changing default boolean prop to `false`, people will often trigger this warning when tweaking knobs.

[code]

Then people wi

[2020-08-08 11:16] IgorSzyporyn opened #11840 "DOCS: Fix changes to property output from source"
**Describe the bug**
The new feature with removing pipes to present property types in a <span> tag is a breaking change and will mangle function types as example

**To Reproduce**
Steps to reproduce the behavior:
1. Open any story that has an arrow function call as a property type
2. Click on Docs
3. Scroll down to description for this property
4. See error: (here using example for ref property in

[2020-08-08 11:30] zacnomore commented on #9746
As of today, `source-loader` 6.0 is not out so it probably still makes sense to use the above workaround

[2020-08-08 12:02] IgorSzyporyn commented on #11840
Think I found the problem and solution

**In the file:** `addons/docs/src/frameworks/angular/compodoc.ts`
**In the function:** `extractTypeFromValue` (line 106)
**Change:** `const valueType = typeof defaultValue` into `const valueType = typeof(defaultValue)` (line 107)

**In the file:** `addons/docs/src/frameworks/react/lib/defaultValues/createFromRawDefaultProp.ts`
**In the function:** `createDef

[2020-08-08 12:21] matamatanot commented on #9610
I am Looking at a few issues for the official release of `@next/plugin-storybook`.
If you're interested, check these issues out.

https://github.com/vercel/next.js/issues/15195
https://github.com/vercel/next.js/issues/15196
https://github.com/vercel/next.js/issues/15351#issuecomment-670599434

[2020-08-08 13:33] GuillaumeAmat commented on #10351
Up

[2020-08-08 17:03] donaldpipowitch commented on #11802
@tooppaaa I'll try what I can (definitely test it at least). But maybe not within the next two weeks (vacation  ❤️).

[2020-08-09 06:26] vasilii-kovalev commented on #9765
Is there a type for the `main.ts` config?

[2020-08-09 06:39] shilman opened #11843 "CLI: Typings for main.ts"
Clean and consolidated typings for configuration files:
- [ ] Type definitions
- [ ] Add to CLI templates

[code]

[2020-08-09 06:40] shilman commented on #9765
Not yet, coming in 6.1 #11843

[2020-08-09 06:43] vasilii-kovalev commented on #9765
Ok, thanks!

I used `require` to get the type, but `import` solved the problem and made it accessible:
`import { StorybookConfig } from '@storybook/core/types';`

[2020-08-09 06:44] shilman opened #11844 "Typings for parameters"
Typings for addon-specific parameters:
- [ ] Define extensibility structure (e.g. `.storybook/typings.d.ts`)
- [ ] Define how addons modify this structure (e.g. codemod from `sb add`, manual config)
- [ ] Typings for essential addons:
  - [ ] actions
  - [ ] backgrounds
  - [ ] controls
  - [ ] docs
  - [ ] viewport
- [ ] Add to CLI templates

[2020-08-09 06:50] shilman opened #11845 "CLI: Typings for frameworks"
In late 6.0 we defined a type structure for [React](https://github.com/storybookjs/storybook/pull/11811) and [Angular](https://github.com/storybookjs/storybook/pull/11825). Apply to the remaining templates and update as needed:

### Core
- [x] [react](https://github.com/storybookjs/storybook/pull/11811)
- [x] [angular](https://github.com/storybookjs/storybook/pull/11825)
- [x] [vue](https://github

[2020-08-09 06:51] shilman commented on #11648
This was fixed in #11825 closing!

[2020-08-09 06:51] #11648 closed

[2020-08-09 06:58] shilman opened #11846 "Core: Deduplicate typings"
Due to package structure complexities there are currently core types, such as `Parameters`, `Decorators`, `Args`, ArgTypes`, etc. defined in multiple places in the code.

To clean this up, we should define a lightweight package, `@storybook/types`, that can be imported by both manager & preview code with little overhead, and provides a consistent definition for all core types.

This may be a prere

[2020-08-09 08:38] shilman commented on #10584
Fixed in #11760

[2020-08-09 08:38] #10584 closed

[2020-08-09 08:43] shilman commented on #9444
This is fixed in 6.0, closing. Either:

[code]

[2020-08-09 08:43] #9444 closed

[2020-08-09 09:13] shilman commented on #10371
Disabling via `argTypes` customization:

https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#how-can-i-disable-controls-for-certain-fields-on-a-particular-story

Disabling via `propFilter`:

https://github.com/storybookjs/storybook/blob/next/docs/src/pages/configurations/typescript-config/index.md#mainjs-configuration

[2020-08-09 09:13] #10371 closed

[2020-08-09 09:24] vasilii-kovalev opened #11848 "Viewport addon is not registered automatically"
**Describe the bug**
As [documentation](https://github.com/storybookjs/storybook/tree/master/addons/essentials) says, Essentials addon includes both Backgrounds and Viewport addons. Backgrounds addon is registered automatically, Viewport requires manual registering.

**To Reproduce**
Steps to reproduce the behavior:
1. Register Essentials addon
2. Run Storybook - Viewport addon is not presented on

[2020-08-09 09:25] shilman commented on #11272
Can you clarify your question with an example of something that isn't working for you, or better yet, something that works in `@storybook/html` and doesn't work in `@storybook/web-components`?

[2020-08-09 09:39] shilman commented on #11238
Is this still a problem?

[2020-08-09 09:45] shilman commented on #11553
I'd recommend looking at https://github.com/storybookjs/storybook/tree/next/app/server

It's loading in JSON files with a custom webpack loader that "compiles to CSF", which I'm guessing is very similar to what you want

[2020-08-09 10:04] shilman commented on #11848
It's working properly in Storybook's monorepo (NOTE: comment out the disabling code in `main.js`): https://github.com/storybookjs/storybook/tree/next/examples/cra-ts-essentials

Do you have a public repro?

[2020-08-09 10:08] shilman commented on #8595
It's filtered out by default in 6.0: https://github.com/storybookjs/storybook/pull/10370

[2020-08-09 10:13] shilman commented on #11832
Are you wrapping the `<Story>` in a `<Canvas>` wrapper?

[code]

[2020-08-09 10:14] shilman commented on #11821
cc @mrmckeb

[2020-08-09 10:17] piemasters commented on #11238
Not sure if this issue still exists in the latest version of knobs, but I've fully transitioned over to controls and this is no longer an issue so happy for it to be closed.

[2020-08-09 10:18] #11238 closed

[2020-08-09 10:18] #11377 closed

[2020-08-09 10:26] shilman commented on #11482
Fixed

[2020-08-09 10:26] #11482 closed

[2020-08-09 10:28] shilman commented on #11465
can you try upgrading to the latest RC?

[2020-08-09 10:41] shilman commented on #11402
Sorry I haven't had a chance to dig into this. But maybe this helps: https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#my-controls-arent-being-auto-generated-what-should-i-do

[2020-08-09 10:44] shilman commented on #9996
Sorry for the slow reply on this. Lots of valid Storybook MDX files here: https://github.com/storybookjs/storybook/tree/next/examples

[2020-08-09 11:07] vasilii-kovalev commented on #11848
Not yet. I'll do it today.

[2020-08-09 11:40] oleg088097 commented on #11832
@shamin yep, still the same
![image](https://user-images.githubusercontent.com/36167478/89731249-1ef68c80-da4e-11ea-9c40-30bc1ca6e753.png)
![image](https://user-images.githubusercontent.com/36167478/89731265-43526900-da4e-11ea-82c5-884aa65e6846.png)

[2020-08-09 11:43] vasilii-kovalev commented on #11848
Actually I've tried to import my project via CodeSandbox, but it throws some errors. It seems, that it is related to its ecosystem.
Here the repository: https://github.com/vasilii-kovalev/games_world
I've created a `client` branch (where all the files on the first level) for convenience.

[2020-08-09 11:45] oleg088097 commented on #11832
@shilman I need to wrap it with Canvas, I see. Thanks, missed that

[2020-08-09 11:45] #11832 closed

[2020-08-09 11:47] shilman commented on #11848
Cool I'll check it out

[2020-08-09 12:27] shilman commented on #11290
Why not just:

[code]

[2020-08-09 13:41] sakulstra commented on #11812
Just tried to upgrade and can confirm that I get them same error:
[code]
everything works though :shrug:

In addition to that I have some typescript issues:
[code]
now spams some warnings a la:
[code]

[2020-08-09 13:56] shilman commented on #11812
@schalkneethling @sakulstra the upgrade script uses `npm ls` and looks for the package version for `@storybook/*`. when it throws that `No storybook core packages found!` it means that it couldn't find any of those packages installed. what happens when you run `npm ls` by hand on the command line?

[2020-08-09 13:57] shilman commented on #11812
@sakulstra is `SomeType` defined in `./SomeComponent`? did it not raise that warning before you upgraded?

[2020-08-09 14:24] shilman commented on #10961
`docsOnly` is an internal API and probably should've been called `__docsOnly`. You shouldn't use it yourself.

[2020-08-09 15:35] sakulstra commented on #11812
yes and yes - we're building the project as a package and the output contains the types and doesn't complain about any missing things. I was able to workaround that issue by using instead :shrug: :
[code]

can't check atm., but i could imagine there's sth wrong because I was running this in a yarn monorepo/workspaces subpackage :thinking:. Will check when I get the chance and report back.

[2020-08-09 16:16] jayarjo commented on #9221
Hm... is there a way to do the opposite, have stories that are stored in json to be imported into storybook?

[2020-08-09 16:23] jayarjo opened #11851 "Create stories in JSON?"
Is it possible to create stories in some other format, more portable that is, in json for example?

[2020-08-09 16:42] iamandrewluca commented on #11608
This will be closed when #11634 will be merged or closed

[2020-08-09 18:02] nareshbhatia opened #11852 "Decorator does not wrap the story"
**Describe the bug**
The decorator is expected to _decorate_/wrap a story. Instead the story is wrapping the decorator. Please see below. Note that `storyFn` is wrapping the decorator (`ThemeProvider`).

![image](https://user-images.githubusercontent.com/1220198/89737602-1b5c0900-da40-11ea-9c02-5e5f93e4b271.png)

**To Reproduce**
1. Create a simple decorator like this one:

[code]

2. Run Storyboo

[2020-08-09 19:16] gossi opened #11853 "Ember Stories not Shown when Using Unicode Characters"
I'm using SB `v6-rc.29`. I love it for ember it is almost usable without any special config, even in combination with typescript, this is impressive (at least for addons, still need to check apps).

However, I realized one problem with unicode characters.
This is the code for my story:

[code]

Which results in this error (it shows warning, but all the stories do not render):

[code]

Now, if I ad

[2020-08-09 20:41] jlawanson commented on #9311
Hello @ndelangen Thank you for all your work! I wanted to check in and see how you're coming along with the CORS bugs on the composition feature because I am still getting errors.

[2020-08-10 00:20] shilman commented on #11852
What happens when you use:

[code]

[2020-08-10 00:29] shilman commented on #11366
I believe we're considering making it a direct dependency: https://github.com/storybookjs/storybook/pull/11628

[2020-08-10 00:30] shilman commented on #11363
Please upgrade preset-create-react-app to the latest: `npx sb@next upgrade --prerelease`

[2020-08-10 01:46] nareshbhatia commented on #11852
@shilman, can you please clarify your suggestion? I don't understand where I would use the `StoryDecorator`. Are you suggesting that I go back to the `storiesOf` API? The latest [Decorators](https://storybook.js.org/docs/basics/writing-stories/#decorators) documentation does not describe anything like this.

[2020-08-10 01:50] shilman commented on #11852
Try replacing this code:

[code]

With this code:

[code]

[2020-08-10 02:09] nareshbhatia commented on #11852
Ah, ok. So that's to be used in conjunction with `addDecorator`:

[code]

Yes, that indeed fixes the issue. Interesting that it adds an `Anonymous` component wrapping the story:

![image](https://user-images.githubusercontent.com/1220198/89747420-b67ad000-da8c-11ea-9151-770bfe545a4c.png)

Not sure what's going on under the scenes, but should this be the preferred way to use the decorator compared

[2020-08-10 02:43] #11182 closed

[2020-08-10 02:43] #11179 closed

[2020-08-10 02:43] #11204 closed

[2020-08-10 02:43] #11200 closed

[2020-08-10 02:43] #11177 closed

[2020-08-10 02:43] #11203 closed

[2020-08-10 02:43] #10717 closed

[2020-08-10 02:43] #10109 closed

[2020-08-10 02:43] #10921 closed

[2020-08-10 02:43] #11221 closed

[2020-08-10 02:43] #11218 closed

[2020-08-10 02:43] #11223 closed

[2020-08-10 02:43] #11116 closed

[2020-08-10 02:43] #11237 closed

[2020-08-10 02:43] #10945 closed

[2020-08-10 07:18] mrmckeb commented on #691
Hi @thehappydinoa, Create React App does not support Less, which is why the Create React App preset doesn't.

You'll definitely need to modify the Webpack config to make this work - which it looks like you have done :)

[2020-08-10 07:59] yannbf commented on #11782
Question to think about:
- from a user standpoint, if you hide all panels, are you then on full screen?

If so, then I think it makes sense to have the full screen button in the "on" state when that happens, so that when the user closes it, it just does its normal behaviour which is to bring back the panels.

[2020-08-10 08:25] jdelStrother commented on #7745
Stay out of this, stalebot.

[2020-08-10 08:41] schalkneethling commented on #11812
Dang, I am unfortunately(fortunately? :slight_smile: ) not in that broken state anymore. I am going to bump the version of the RC today. Should this happen again, I will be sure to run the command and let you know the output.

[2020-08-10 09:16] dependabot-preview[bot] opened #11862 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/docs/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/accounts/storybookjs).

[View th

[2020-08-10 09:21] kettanaito commented on #11378
@simmo, if you update to the latest version of MSW (0.20.x), some of the previously described issued may be fixed. We've added improvements to the worker instance management. I'd love to hear your feedback on this.

[2020-08-10 09:33] mamodom opened #11863 "Addon knobs - object converting deep objects to ["Object"]"
**Describe the bug**
The addon knob of type object transforms deep objects to ["Object"]. The value is not thrown away, but it makes it imposible to modify these values

**To Reproduce**
Steps to reproduce the behavior:
1. Create an addon of type `object`
2. through the addons ui, set the value of the addon to the output of:
[code]
3. The contents of the knob are then formatted.
4. for depth: 9, t

[2020-08-10 09:40] shilman commented on #11377
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.30 containing PR #11792 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-08-10 10:08] jdelStrother commented on #7745
For what it's worth, we were seeing this error/warning when using `useEffect` -

[code]

but all our storybook tests are wrapped in <StrictMode>.  Removing StrictMode sidesteps the issue, which is probably good enough for our snapshots, but it would be nice to see an official mechanism for supporting act/useEffect.

[2020-08-10 10:51] mrmckeb commented on #11821
Hi @schalkneethling, this is working in our tests - but it may be something related to your environment. I haven't checked out the project locally, but I had a quick look at this:
https://raw.githubusercontent.com/mdn/yari/mdn-fiori/client/src/ui/docs/atoms/button.stories.mdx

I can't actually see where `"../../dinocons/arrows/arrow.svg"` is supposed to come from. It isn't in this directory: https

[2020-08-10 11:32] klavsjs opened #11865 "Addon-docs: Adding id for story in CSF breaks story source preview ("No code available")"
**Describe the bug**
When enabling [permalinking of a story](https://github.com/klavsjs/storybook-addon-docs-story-id/blob/4bb58af07c9732123f4dafee74fa577a0b21194e/src/stories/1-Button.stories.js#L7) by adding an `id` to the story in CSF, the story source preview button in the `Docs` view becomes disabled with the label "No code available".

**To Reproduce**
Steps to reproduce the behavior:
1. Clo

[2020-08-10 11:50] Tomastomaslol commented on #11782
That is a great point.  Playing around with UI again I think it might be beneficial to think about the full-screen mode as a separate state from `showPanel` and `showNav`.

I can't really come up with anything else that makes sense and would be easy to understand.

At the moment I feel like we have 2 options:

1. Go with https://github.com/storybookjs/storybook/issues/11782#issuecomment-669005097

[2020-08-10 12:05] brunoreis commented on #10602
I started to use a component driven approach as you suggest in the docs, but the discovery that the react refresh (we use next 9) is not supported and that I would have to wait more than 8s to see a change quickly threw cold water on all the excitement. I understand that the best sequence to this previous phrases would be a help proposal from me here, unfortunately I'm not able to dive into that A

[2020-08-10 12:20] schalkneethling commented on #11821
@mrmckeb Thank you for taking a look. The source might have changed since I opened the PR but, let me double-check this locally.

[2020-08-10 13:22] shilman commented on #10602
@brunoreis any idea why it takes 8s to see a change? is it because code that uses fast refresh is a lot slower in environments that don't support it? or you have a large project? i'm not familiar with fast refresh yet--just want to understand the severity of this issue. thanks for reporting & helping make the project better!

[2020-08-10 13:25] shilman commented on #11863
FYI, we’ve released addon-controls in Storybook 6.0. Controls are portable, auto-generated knobs that are intended to replace addon-knobs long term.

- [Controls README](https://github.com/storybookjs/storybook/tree/next/addons/controls)
- [Migration instructions](https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#how-do-i-migrate-from-addon-knobs)
- [Walkthrough: Control

[2020-08-10 13:31] brunoreis commented on #10602
@shilman, we are using Next.js and it uses fast refresh to do the "hot reload". Since that is not supported by SB, it's waiting for a new webpack build to refresh the screen.

I'm not sure why the Webpack build is taking so long though. But to use this component driven approach/dev cycle, I think the way to go is to use the "hot reload"/"fast refresh" strategy and not wait for the webpack build an

[2020-08-10 13:40] shilman commented on #10602
@brunoreis gotcha. in normal React HMR i'd expect updates to take a second or so, so it def sounds like there's a problem of some kind (whether with next, storybook, or perhaps your setup). we're on the verge of releasing storybook 6, so hopefully we can get this working in 6.1. in addition, nextjs is making a storybook preset for next ("storybook plugin" in next parlance?) and perhaps they will h

[2020-08-10 14:03] IanVS commented on #11544
@shilman it doesn't seem like inquirer will be making a change to follow semver.  Would you accept a PR to lock down to 7.2.0?  Otherwise folks trying to install storybook 5.3 using node 8 will have a bad time.

[2020-08-10 14:56] dpouliot opened #11870 "rc30: <Props /> render as "nothing found"."
**Describe the bug**
I updated from rc20 to rc30 this morning and all of my `<Props />` show up as "nothing found".
(This is a Lerna monorepo)

[code]

I also tried

[code]

and got the same "Nothing found" result.

**System:**
[code]

[2020-08-10 15:07] dj-neza commented on #11272
Hey!
The thing is that it doesn't work in basic html storybook (or at least I haven't found a good way to do it yet 😅) but I assumed it would be possible with the storybook for web components. To give an example, I have Stencil based web components that take in different props - I guess a good example is Date objects for a calendar component and an array with content for a tabs menu. For both of t

[2020-08-10 15:31] rannyeli commented on #9311
Experiencing some CORS issue in `6.0.0-rc` while using storybook composition feature.
I'm adding a ref for a local storybook:
[code]
The local storybook works well on port 9010, but not loaded from the combined storybook
![image](https://user-images.githubusercontent.com/42379604/89799674-74a66400-db36-11ea-8a7a-7253be8dfab3.png)

dev-tools output:
![image](https://user-images.githubusercontent.co

[2020-08-10 16:29] brunoreis commented on #10602
Hey, np at all.

I suspect I did not make myself clear. The fast refresh on next is not a problem, it works out pretty well and quick.

It's when I try to render the SB story that the refresh takes those 8 seconts. I think it's because SB don't support the fast refresh, and then it will only refresh when the rebuild through webpack happens. Rebuilding through webpack is not the usual flow on devel

[2020-08-10 16:43] PazDak commented on #9311
Is 6.0.0 still planning on general release today?

[2020-08-10 17:04] ghengeveld commented on #9311
Expected Monday afternoon US time.

[2020-08-10 19:20] thedanchez opened #11873 "Storybook + TypeScript Setup Documentation is Unclear"
**Is your feature request related to a problem? Please describe.**
I feel that the current structure of the [TypeScript setup documentation](https://storybook.js.org/docs/configurations/typescript-config/) is unorganized and not clear for users of certain environments. It's frustrating because I'm facing this problem and I do not know the full scope of what I do or do not need from the current doc

[2020-08-10 22:05] shilman commented on #11870
Did you try removing `node_modules` and/or lockfiles and reinstalling?

[2020-08-10 23:10] shilman opened #11875 "Presets: Rename `config` to `previewEntries`"
Make it parallel to `managerEntries` for consistency:
- [ ] Add `previewEntries`
- [ ] Deprecate `config`
- [ ] Update the entrypoint generation in core
- [ ] Update all addons
- [ ] Update documentation

NOTE: I tried to do this quickly and it failed, so punting to 6.1

[2020-08-11 03:49] brandonpittman commented on #11373
@shilman Were you able to find the cause?

[2020-08-11 05:11] atl-mk commented on #11705
I assume and thus supporting Edge 18 by proxy? if so all good, feel free to close

[2020-08-11 06:25] #11213 closed

[2020-08-11 06:38] #11436 closed

[2020-08-11 06:41] #11705 closed

[2020-08-11 06:46] jayarjo commented on #11851
@shilman I'm eager to invest my time in writing something like this, however not being familiar with the architecture of the Storybook itself, my plan is to simply:

 * have stories in my own format in json
 * make webpack to somehow pick them up
 * have custom webpack loader for given files that will transform them to regular React stories

If you guys interested in something like this as well, a

[2020-08-11 06:59] fcamblor commented on #10987
Hi there !

FYI I achieved to integrate storybook in a snowpack-based project using a "statically generated" storybook 5.3 based on [openwc's prebuilt-storybook](https://github.com/open-wc/open-wc/tree/master/packages/demoing-storybook).

Fork of this prebuilt-storybook is here : https://github.com/fcamblor/fcr-storybook-prebuilt-wrapper (I had to tweak some stuff here and there (most important on

[2020-08-11 07:15] shilman commented on #10987
@fcamblor this is awesome, thanks so much for sharing! 💯

we're fans of `prebuilt-storybook` and will be looking at ways of incorporating some of those improvements into storybook 6.x to make this all integrate better and not be tied to a specific storybook version.

[2020-08-11 07:16] ghengeveld commented on #9311
https://www.npmjs.com/package/@storybook/core?activeTab=versions 🚀

[2020-08-11 07:17] techieshark commented on #10987
@shilman my repo isn't open but if it helps I can add you as a contributor so you could test it. It may just be my computer - on a good day it's 33-45 seconds.

[2020-08-11 07:53] uni-zheng opened #11883 "Props slot not render right in Stories when use optional chain in component."
**Describe the bug**
Props slot not render right in Stories(or MDX) when use optional chain in component.

There is [No props found for this component] placeholder in props slot. And props slot render right content when removed optional chain.

![image](https://user-images.githubusercontent.com/9986421/89871189-9280d100-dbe9-11ea-930f-99fc4407b28c.png)

![image](https://user-images.githubuserconte

[2020-08-11 08:00] gcofficial commented on #11870
Hey guys 👋🏻

We have the same problem...
![image](https://user-images.githubusercontent.com/8502021/89872500-b5978a80-dbc1-11ea-91da-8f9fb424193c.png)

and

![image](https://user-images.githubusercontent.com/8502021/89872567-ccd67800-dbc1-11ea-99c6-baaa955f0c7f.png)

The result is always nothing
![image](https://user-images.githubusercontent.com/8502021/89872636-e8418300-dbc1-11ea-8d97-27a448a5d94

[2020-08-11 08:04] shilman opened #11884 "Storybook 6.1 Release 🚀"
Storybook 6.1 is in RC (release candidate). Originally scheduled for a January release, we've accelerated the schedule to support React 17 in a stable release as quickly as possible.

## Schedule

- ✅ `6.1.0-alpha.0` 2020-09-01
- ✅ `6.1.0-beta.0` 2020-11-02
- ✅ `6.1.0-rc.0` 2020-11-12
- 🏁 `6.1.0` 2020-11-17 ETA

## Contents

- Fast search and navigation #12601
- Manager caching for faster startup