[2022-10-08 12:31] user-aslkdflkc commented on #19225
@DarwinOnLine , that's pretty cool that it has to do with fullcalendar's use of Preact. I'm afraid that I don't think we can use this (clever) technique --- I don't see a non-hacky way to do it in our production codebase.

[2022-10-08 13:11] ashwin-acharya01 commented on #19401
I would like to work on it.

[2022-10-09 02:15] anuj-scanova opened #19407 "TS2339: Property 'content' does not exist on type"
I have the following **ButtonComponent**

*button.component.ts*
[code]

*button.component.html*
[code]

and the story *button.stories.ts*
[code]

A few issues I'm facing with this setup
1. `${arg.content}` gives the error `TS2339: Property 'content' does not exist on type 'ButtonComponent'.`
<img width="423" alt="Screen Shot 2022-10-01 at 11 32 09 PM" src="https://user-images.githubusercontent.com

[2022-10-09 10:19] pumano commented on #14603
@shilman could you please update @mdx-js/mdx to 2.0.x according to comment above? Looks like in 7 alpha.35 branch it's not updated, I tested it today.

[code]

[2022-10-09 13:44] enkot commented on #19295
@gygoo I guess the 7.0 has a different API, so docs should be changed. This works for me:

[code]

[code]

[2022-10-09 14:57] Amerlander opened #19409 "Svelte Example Components injecting global CSS"
**Describe the bug**
The example components (Button, Header, Page) are adding the CSS files trough `import './header.css';`.
The CSS is then Globally available and not scoped to the Component.

https://github.com/storybookjs/storybook/blob/c745ff687e0dd445e0b9b4b908c1dfe75b3bfa3a/code/lib/cli/rendererAssets/svelte/Header.svelte#L3

The Behavior of adding CSS through an Import is resulting in globa

[2022-10-09 15:13] Amerlander commented on #19409
Example: Here is an Icon component, that has an unstyled SVG. But there is still some css applied, which comes from the header-css:
![image](https://user-images.githubusercontent.com/3764089/194764044-539a67a1-a89f-4e57-b41e-842492cfbc3d.png)

Also, I have a Button component, which has an Icon.
This is how it should look like and how it looks on my actual site:
![image](https://user-images.githubu

[2022-10-09 16:46] IanVS opened #19412 "CLI: Use pnpm to install packages if project is using pnpm"
**Is your feature request related to a problem? Please describe**
The problem occurs when adding storybook into a project that has been bootsrapped using pnpm.  We already have logic to detect whether the project is using npm or yarn, but not pnpm.  And when trying to `yarn install` or `npm install`, an error is thrown on pnpm vite projects:

[code]

To reproduce, in a new folder, run:

[code]

**

[2022-10-09 17:50] HicksonWei commented on #17637
+1

[2022-10-09 20:22] brunoreis opened #19413 "Add thumbnails to the left menu"
**Is your feature request related to a problem? Please describe**
For big and nested trees, it's hard to navigate in the component index shown in the left menu.

**Describe the solution you'd like**
Generate thumbnails for each story showing the component that it renders.

**Describe alternatives you've considered**
Picking different icons or colors to serve as bullets to the items (poor option IM

[2022-10-10 02:32] nedredmond opened #19414 "Web components argTypes mapper makes controls for internal/private members"
**Describe the bug**
At least in the case of using `@custom-elements-manifest/analyzer` interpreting `stencil` components:

The `members` array documents all class members, whether they are exposed attributes/properties, internal methods, or otherwise. This line overwrites the `attribute` argTypes with `members` (categorized incorrectly as `properties`), which creates controls for every field and

[2022-10-10 04:15] shilman opened #19415 "Web-components: Updating args causes a full refresh"
Web-components version of https://github.com/storybookjs/storybook/issues/13913

[2022-10-10 04:22] nedredmond commented on #15436
I just implemented this in a pretty ugly wrapper function to filter out undesirable docs:
[code]

[2022-10-10 04:44] nedredmond commented on #19414
I kind of addressed this [here](https://github.com/storybookjs/storybook/issues/15436#issuecomment-1272769983) by filtering out private fields.

However, to prevent having to deliberately mark fields as `private`, I added a second option that adds the fields that `members` have that `attributes` do not, then deletes `members`.
[code]

[2022-10-10 12:55] hummal commented on #19365
Ok I figured out that this only happens after updating the react-vite package to alpha 35.

It is working with this setup
[code]

and NOT working with this
[code]

[2022-10-10 14:53] shilman opened #19420 "CLI: `sb init` should not initialize with the deprecated `-s` option for static folders"

[2022-10-10 15:51] tatimblin commented on #17336
I noticed that my .env variables for my associated application generated with create-react-app still work. So now anything I need in storybook I just prepend with `REACT_APP_` even if it's not needed in the create react app application.

[2022-10-10 16:25] thedamon opened #19421 "Story control pattern that works in Vue 2.7 and Vue 3"
**Problem**
Currently the way you pass args into stories is different between Vue 2 and Vue 3, and since the release of Vue 2.7, which backports the composition API, "Vue 3 way" looks exactly like it should work in Vue 2, but it doesn't.

By not working I mean that in both cases the controls do not have an effect unless the story is reloaded.

This is limiting when it comes to upgrading a library

[2022-10-10 19:23] KorySchneider opened #19423 "Snapshot testing broken with static builds in v7"
**Describe the bug**
Snapshot testing with `@storybook/addon-storyshots-puppeteer`, using a static storybook build and dockerized headless chrome worked with Storybook 6, breaks in Storybook 7. Resulting image diffs look like this:
![button-primary-1-diff](https://user-images.githubusercontent.com/5200816/195152571-112cb6f9-421a-4498-943d-6607fa3cff3a.png)

**To Reproduce**
The `npx sb@next repro`

[2022-10-10 20:53] bralandealmeida commented on #18240
same here

[2022-10-10 22:36] JReinhold commented on #19197
@ndelangen can I get you to archive the GitHub repo [storybookjs/browser-semver](https://github.com/storybookjs/browser-semver)? I guess we don't want to deprecate the NPM package since 6.5 users will keep using it and it would be an annoying warning to display for them.

[2022-10-10 23:58] halkeye opened #19426 "Looks like @storybook/web-components@7.0.0-alpha.35 didn't get released properly (package.json isn't updated)"
**Describe the bug**

If you look at the version tagged @ https://github.com/storybookjs/storybook/blob/v7.0.0-alpha.35/code/presets/web-components-webpack/package.json and the dist that was release, you'll see a discrepancy (exports['./preset'] is missing.

**To Reproduce**

[code]

**System**

I don't think really applicable
[code]

**Additional context**
[code]

I might be running the new alpha

[2022-10-11 00:17] halkeye commented on #19426
Oh i see a `@storybook/web-components-webpack5` which i think is the right package now, but its a little confusing how its that (name isn't updated)

[2022-10-11 08:09] lukasvice commented on #18734
I have the same problem. A workaround is to `npm install react-textarea-autosize`.

[2022-10-11 08:29] BillyCatchpole commented on #19391
I had the same problem, but adding the following to the main.js resolved it for me

`  "addons": [
    "@storybook/addon-essentials",
  ],`

[2022-10-11 08:29] shilman commented on #19426
@halkeye please see the MIGRATION notes for more info on this:

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#framework-field-mandatory

We're still working on the migration path to 7.0, which contains big breaking changes, so that's why it's tagged as "alpha"

[2022-10-11 08:39] halkeye commented on #19426
Oh cool. I think this can be closed. I was poking around trying out the webpack5 upgrade and i think i didn't realize until much later i also did the storybook 7 alpha. That migration dock is super useful.

I think this can be closed though.

[2022-10-11 08:55] nikki-cat commented on #11492
We're having this issue.

Installed storybook in my vue3 project with Yarn, and I'm getting Peer Dependency warnings. Note: I installed the version: 7.0.0-alpha.35.

[2022-10-11 09:26] rpressburger commented on #13604
We are also seeing the same issue

[2022-10-11 10:07] Moumouls commented on #19055
Hi @shilman

A PR was sent on the dep repo https://github.com/hipstersmoothie/react-docgen-typescript-plugin/pull/70

Any chance to motivate @hipstersmoothie to merge, release and then update storybook/react dep to fix warnings ? 🚀

[2022-10-11 11:39] joanrodriguez commented on #340
[From the docs](https://storybook.js.org/docs/react/writing-stories/args):

You should be able to access `state` and `setState` by making a small adjustment to the story function signature:

[code]

source: https://stackoverflow.com/questions/66731079/storybook-6-decorator-pass-props-to-story-not-working

[2022-10-11 12:46] matthewhampton commented on #12423
For anyone else who runs in to this - it is not actually coming from Storybook itself - it is from the samples that are generated when you bootstrap... If you delete / modify those you'll be fine:

![image](https://user-images.githubusercontent.com/2015485/195094491-e385ce14-1ead-4f21-bafb-42b8f8c05cc3.png)

[2022-10-11 14:03] shilman opened #19436 "Update links to example storybooks"
As part of the Canvas CI project, we got rid of all of our `examples`, e.g. https://github.com/storybookjs/storybook/pull/19343 and replaced them with `sandboxes`  that are dynamically generated.

This leaves a large documentation gap, since there are numerous links throughout the docs to Netlify-hosted storybooks based on those examples. We need to come up with a suitable replacement, either base

[2022-10-11 14:17] fcisio commented on #15094
[Here's the solution](https://github.com/storybookjs/storybook/issues/12497#issuecomment-1272139961)

[2022-10-11 14:47] tonalnik commented on #14118
In my case, the problem was that the component being tested was different from the file name. Once I changed the name, Storybook was able to detect all types.

[2022-10-11 16:42] KorySchneider commented on #19423
Update: I was adding the chrome launch flags in the wrong place -- I have updated the docker command in the original post to include these flags. Unfortunately, after adding the flags to get past the CORS issue I ran into another problem:

<img width="1680" alt="Screen Shot 2022-10-11 at 9 27 42 AM" src="https://user-images.githubusercontent.com/5200816/195147839-152d49ab-65c5-4ad9-a340-f54ef34dee

[2022-10-11 17:04] LucaColonnello commented on #18907
After debugging storybook locally, I found out the issue here.
Essentially, the problem is linked to the fact that storybook is picking up stories from node_modules.

In fact, when listing all stories manually, no glob pattern, it works.
I noticed this by switching to `storyStoreV7` mode, as a bug printed out the full path of a story with an error, and it was coming from a sub-package symlinked by

[2022-10-11 17:04] #18907 closed

[2022-10-11 17:14] mosherc commented on #17512
Just decided to extract our design system to a new repo using TypeScript, and it works there although obviously everything is different. We were planning on migrating to TS anyway.

[2022-10-11 17:14] #17512 closed

[2022-10-11 17:38] LucaColonnello opened #19446 "Storybook loads stories from node_modules"
**Describe the bug**
Storybook is loading stories from the `node_modules` folder.
This happens especially in monorepos, where usually packages have co-located stories.

This is responsible at times for [crashes of the dev server as well as memory leaks](https://github.com/storybookjs/storybook/issues/18907) or generally bad user experience due to how slow storybook becomes compiling, even when the

[2022-10-11 20:19] Guilherme-Farias commented on #17950
Anyone using version "^6.5" managed to solve it?

[2022-10-11 20:25] mynameisgenesis commented on #18240
I ended up going back to react-test-renderer@16.14.0 and the tests worked for me. This is what my dependencies look like now:
`  },
  "dependencies": {
    "expo": "44.0.0",
    "expo-linear-gradient": "11.0.3",
    "expo-status-bar": "1.2.0",
    "jest": "29.1.2",
    "react": "17.0.1",
    "react-dom": "17.0.1",
    "react-native": "0.64.3",
    "react-native-web": "0.17.1",
    "react-test-rend

[2022-10-11 20:36] Nikitonu4 commented on #19151
however, with vite 2.9.13 version of @storybook/builder-vite 0.1.39 doesn't work. It turns out that either the quasar or storybook assembly works, can you have a solution how to get @storybook/builder-vite with the 2nd version of vite?
[code]
[code]

[2022-10-11 20:55] IanVS commented on #19151
@Nikitonu4 I was able to get Vite 2 working correctly as long as I installed `@vitejs/plugin-vue@2`, which is the version that is compatible with Vite 2.

[2022-10-11 21:33] Ariane-B commented on #18298
The workaround doesn't work for me. It causes [@ag-grid-community/vue](https://www.npmjs.com/package/@ag-grid-community/vue) to be unable to find its peer dependency [vue-property-decorator](https://www.npmjs.com/package/vue-property-decorator).

Here's what I've tried. The result is the same in every case.

- Delete node_modules and use `--no-cache` for every `npm install
- Use `npx storybook ini

[2022-10-11 22:14] jonniebigodes commented on #19436
@shilman, thanks for letting me know. I'm going to take a pass at docs, checking in the links starting here, moving on to other documentation sources, and adjusting accordingly.

[2022-10-12 04:01] tmeasday opened #19453 "Test runner failing in `vue-cli/default-js` and `vue-cli/vue2-default-js`"
Disabling test runner for Vue CLI sandboxes due to:

[code]

See: https://app.circleci.com/pipelines/github/storybookjs/storybook/30129/workflows/d872a67a-1965-4027-9d32-3ae862a5a331/jobs/424116/parallel-runs/12?filterBy=FAILED

[2022-10-12 06:13] koskinpark opened #19455 "How to handle twig files with @storybook/builder-vite"
In one of the file.stories.js i have this
[code]

and storybook with vite showing this:
[vite] Internal server error: Failed to parse source for import analysis because the content contains invalid JS syntax. You may need to install appropriate plugins to handle the .twig file format, or if it's an asset, add "**/*.twig" to `assetsInclude` in your configuration.

[2022-10-12 07:18] rjamet opened #19456 "Open redirect : https://[your storybook]//example.com/..;/x"
**Describe the bug**
There's an open redirect in some Storybook 6.5.9, but I'm not quite clear what causes it and I can't repro on next despite not seeing anything that looks like a fix in the changelogs since. It's barely a security issue (hence the regular GH issue), but I suspect that any users of Storybook with a bug bounty gets loads of reports about it :/

**To Reproduce**
I only managed to

[2022-10-12 07:54] srigar opened #19459 "`npx sb extract` not working in docker with node 14 latest image"
**Describe the bug**
`npx sb extract` throwing error with node:14.20.0-alpine docker image and it is working fine in node v12.

`12:29:04  + npx sb extract components components/stories.json.
12:29:11  npm WARN exec The following package was not found and will be installed: sb@6.5.12
12:31:02  npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
12:31:02  npm WARN d

[2022-10-12 08:43] livevsonline commented on #18156
Did anyone solve this?

Issac over at Dailydevsblog found something that looks like a solution for Vite and rollup. I'm currently on a setup where I use Webpack. I assume the problem he refers to [here](https://dailydevsblog.com/troubleshoot/resolved-using-queryclientprovider-in-a-wrapper-162243/) is caused because Vite uses treeshaking...

However Webpack is not, and I'm having this issue now :)

[2022-10-12 09:25] iosifnicolae2 commented on #17701
Any news on this issue? It would be awesome if we can gave good code export functionality.

Thank you!

[2022-10-12 09:46] tomasfrancisco commented on #18120
For me it also works with
[code]

[2022-10-12 11:48] litera commented on #19336
I'm having the very same problem and since compilation takes some time, this really kills development experience.

[2022-10-12 12:02] IanVS opened #19464 "[7.0] Add sourcemaps to compiled SB packages"
**Is your feature request related to a problem? Please describe**
Troubleshooting issues within storybook is particularly difficult for packages that have been bundled with ts-up, because the output is minified and it's not possible to tell which files in the storybook source they map back to.

**Describe the solution you'd like**
I'd appreciate if we could build and ship sourcemaps, so that the s

[2022-10-12 12:16] LucaColonnello commented on #19446
I tried the following pattern `'../packages/*/(!(node_modules)**/)?*stories.{mdx,jsx}'`, and it's super slow with pnpm, as this translated to a `require.context` call internally (same pattern tested using `picomatch` works excluding the node_modules).

So I resorted to this to achieve compatibility with `pnpm` for monorepos:

[code]

[2022-10-12 12:39] danilonobren commented on #18356
It would be awesome to use storybook with astro pages.

[2022-10-12 13:25] IanVS commented on #19176
Is this something that I could start working on, or do you envision it being something with sharp edges, @shilman @ndelangen?

[2022-10-12 16:52] Ariane-B commented on #18298
Update: Turns out, the two packages seem to actually agree if you have the latest version of npm. I had updated my Node, but due to [this problem](https://github.com/nodejs/node/issues/31056#issuecomment-568956303), I still had an old version of npm to go with it.

I used `npm uninstall -g npm` to go back to the version of npm that came with Node, and now, _without_ the NPM v7 migration, [@ag-grid

[2022-10-12 19:44] shilman commented on #13747
Yippee!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.37 containing PR #19238 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-12 19:44] shilman commented on #19197
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.37 containing PR #19292 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-12 19:44] #19197 closed

[2022-10-12 19:48] shilman commented on #15498
Web-components fixed in https://github.com/storybookjs/storybook/pull/19164 and released in https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.37 🎉

[2022-10-12 19:48] #15498 closed

[2022-10-12 20:07] David-Rickard commented on #15407
@eric-burel Could we reopen this since it's not a documentation issue? Ideally we would have storybook entries for all our components but that means it's impossible to make use of this new NextJS feature to leave off the image width/height/

[2022-10-12 20:13] David-Rickard commented on #15407
Issue on NextJS side https://github.com/vercel/next.js/discussions/33010

[2022-10-12 20:30] David-Rickard commented on #15407
Nevermind, this addon fixes it: https://storybook.js.org/addons/storybook-addon-next

[2022-10-12 22:45] alvamanu commented on #15780
@maeriens Exactly. Have you by any chance found a solution?

[2022-10-12 22:50] alvamanu commented on #15780
Leaving the prop for documentation purposes only and disabling the ability to change the component can be done like so:

`component: MyComponent,
  title: 'MyComponent',
argTypes: {
    multiple: {
      control: { type: null },
    },
  },`

[2022-10-13 04:11] singhinderpal commented on #13128
do we have anyluck on this?
I am facing the same issue...

[2022-10-13 04:21] singhinderpal commented on #13128
I just tried it, didn't work for me.

[2022-10-13 09:52] sohamnandi77 commented on #17587
This is Still Happening for
    "@storybook/builder-webpack4": "^6.5.9",
    "@storybook/manager-webpack4": "^6.5.9",

  @shilman Please Look into it.

[2022-10-13 10:41] SeepG commented on #18732
I can pick this [lib/channel-postmessage](https://github.com/storybookjs/storybook/blob/next/code/lib/channel-postmessage/package.json)

[2022-10-13 11:39] Likilee opened #19473 "Storybook/addon-actions [6.5.12] didn't work with Vue3 project"
**Describe the bug**
Action didn't work in my cases

**To Reproduce**
### Case1, didn't work at all
**_DskCheckboxTagGroup.stories.ts_**
[code]

_**DskCheckboxTagGroup.vue**_
[code]

### Case2. `onInput` action work, but `onCancle` not work.

**_SearchInput.stories.ts_**
[code]
**_SearchInput.vue_**
[code]

**System**
[code]

**Additional context**
**_.storybook/main.js_**

[code]

**_.storybook/p

[2022-10-13 11:45] wladiston commented on #13428
For the really anxious out there, I've put together this branch that simulates it working with Vite
https://github.com/wladiston/storybook-7-vite-pnpm/tree/fix/workarounds

Couldn't get MDX files supported there so if you have MDX don't even try

[2022-10-13 11:51] asheerrizvi opened #19474 "Docs: Add next and previous buttons to navigate documentation"
**Is your feature request related to a problem? Please describe**
The guides section should have buttons to navigate from the current page to the next or the previous page.

**Describe the solution you'd like**
Something like the following screenshot (from react-testing-library):

<img width="1058" alt="image" src="https://user-images.githubusercontent.com/17976252/195588700-eb6b7c8a-f514-4c65-8b4

[2022-10-13 11:55] IPWright83 commented on #13428
Ah, you're not using a `pnpm workspace` in here?

[2022-10-13 12:13] IanVS commented on #18732
@SeepG it looks like there's already a PR for channel-postmessage.  https://github.com/storybookjs/storybook/pull/19388

I'll update the table, would you like to work on a different package?

[2022-10-13 12:24] saiteja2108 commented on #19474
hello , can you please assigned this to me .I will add this features to your code in html and for your reference see the below code . let me know about the changes to the code I have to do

<!DOCTYPE html>
<html>
<head>
<style>

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
a:hover {
    background-color: white;
    color: black;
}

.previous {
    background-c

[2022-10-13 12:32] dbendaou commented on #18028
Can you copy past which errors you have? I have an ember addon working with Ember 4 & embroider safe
The only issue that I got was related to `doc.json` not working (API of component through YUIdoc)

[2022-10-13 12:49] #19474 closed

[2022-10-13 13:36] EldinZaimovic commented on #14405
Same here

[code]

[2022-10-13 13:56] kylegach commented on #19474
Hi @saiteja2108,

They meant that the website's code is not in this repository, it's in https://github.com/storybookjs/frontpage. So any issues or PRs related to the site belong there.

However, the docs pages already have a "what's next" link, _when there is a clear next step_:

![Screenshot of the "next" link on a docs page](https://user-images.githubusercontent.com/486540/195616833-8c537b53-b4a

[2022-10-13 14:16] gbkwiatt commented on #19280
Just to make sure this issue here is related.
I am trying to deploy sveltekit  storybook with latest storybook alpha and alpha `@storybook/svelte-vite` as per default configuration.
But upon web preview I get `Expected your framework's preset to export a `renderToDOM` field.`

Is that what you are trying to sort out here  or it's not related ?

[2022-10-13 14:30] IanVS commented on #19280
@gbkwiatt that looks like a different error.  I was able to bootstrap a new sveltekit project, run `npx sb@next init`, and then tweak the `.storybook/main.cjs` file a little:

[code]

and storybook started up successfully after that.

This workaround in the `main.cjs` will only be needed until https://github.com/storybookjs/storybook/pull/19338 is updated and released.

[2022-10-13 14:33] IanVS commented on #13428
As for `npx sb init`, I've opened https://github.com/storybookjs/storybook/pull/19425 which will detect when pnpm is in use in a project, and use it to install dependencies if so.

@IPWright83 what error are you getting, and what framework are you using?

[2022-10-13 14:36] IanVS commented on #19391
@MarcelGeo Canyou run `npx sb@next info` and share the output here?  That will show us what versions of storybook packages you have installed.

[2022-10-13 14:37] saiteja2108 commented on #19474
Thank you for the clarification.

On Thu, Oct 13, 2022 at 7:27 PM Kyle Gach ***@***.***> wrote:

[2022-10-13 14:42] gbkwiatt commented on #19280
Weird, I've created latest basic sveltekit project and created some basic story, and when it tries to render it's just that
![image](https://user-images.githubusercontent.com/62710468/195627403-550d3072-ffb2-47e2-82f9-740a28938825.png)

Also when I am using your config above I get `config.server.fs.allow.push is not a function
ERR!     at config (/home/gbkwiatt/storybook/node_modules/@storybook/bu

[2022-10-13 14:50] gbkwiatt commented on #19280
[code]

[2022-10-13 14:56] IanVS commented on #19280
Ah, yep.  `@storybook/builder-vite` should be the same alpha version as the rest.

[2022-10-13 14:57] gbkwiatt commented on #19280
Rookie mistake - I thought I've checked all deps. Clearly not ;) Thanks that works

[2022-10-13 15:09] alina-holletzek opened #19477 "Jumping and Reloading Story on click/change of controls in composed storybook"
**Describe the bug**
I have two typescript/react storybook projects. One for a design system only and an other global one as composed storybook that also shows the stories of the design system. In the design system storybook itself everything works fine.

But when I am in the global composed storybook and I am at a design systems story that has multiple controls of the same type (without default v

[2022-10-13 15:36] IanVS commented on #19280
@benmccann I'm seeing this when trying to build:

[code]

Is there a way to prevent sveltekit from overriding those settings?

[2022-10-13 16:06] BigPackie commented on #2817
I am using typescript for stories I and had to adjust @ThibaudAV and @dexster  solution otherwise the component would not reflect the changes to angular component `@Input()`  when changing the arguments in storybook `Control` tab or when setting them in code `args={}`.

[code]

[code]

Usage example of the component:
[code]

This might help to some people, although there is a limitation to this ap

[2022-10-13 16:38] IPWright83 commented on #13428
Hey @IanVS, my issue is possibly slightly different but I thought I'd be bumped here if I raised a new one. It's a pnpm monorepo with workspaces (though just 2 packages currently) using React.

It's the `build-storybook` script hitting a module not found
- Project: https://github.com/IPWright83/chart-it
- Example run: https://github.com/IPWright83/chart-it/actions/runs/3241844682/jobs/5314327741

[2022-10-13 17:36] brycnguyen commented on #18258
This saved me today. Thanks! I'm also seeing this on my copy using react 18.

[2022-10-13 18:45] sballesteros commented on #18258
I think that I have noticed smtg similar with the latest preact as well. I think Preact changed some of the internal (maybe related to 10.10). I will try to create a repro later when I have time (I am kind of lazily hoping that a preact update fixes it).

[2022-10-13 19:27] aliceathens commented on #18431
I have upgraded to `"@storybook/react": "^7.0.0-alpha.16",` but it still doesn’t work for me.

[2022-10-13 19:41] JReinhold commented on #19280
In a perfect world the SvelteKit Vite plugin could be loaded with something like
[code]

that would disable route handling as well as build outputs, etc.
This could allow us to include the SvelteKit features without having to battle with it for who gets to be the "main" handler.

But I assume that we're a pretty niche use case and I can't imagine why anyone other than Storybook would benefit from

[2022-10-13 22:54] SeepG commented on #18732
Sure @IanVS, the table is updated now. I see [lib/channel-websocket](https://github.com/storybookjs/storybook/blob/next/code/lib/channel-websocket/package.json) can I do that ?

[2022-10-13 23:01] bryanjtc commented on #18732
I can do `lib/channels`

[2022-10-13 23:25] IanVS commented on #18732
@SeepG @bryanjtc thanks, go for it!

[2022-10-13 23:41] samydoesit opened #19479 "storybook v7 / vue is missing renderToDOM function - alpha.37"
**Describe the bug**
Tried to migrate our vue storybook project from 6.5 to latest alpha.37.

Probably a duplicate of #19391
<img width="1319" alt="image" src="https://user-images.githubusercontent.com/15785987/195730465-2f1b9b60-a802-4570-82e6-42d486b21ffc.png">

**System**
[code]

[2022-10-14 01:09] bryanjtc commented on #18732
It seems someone already did lib/channels and it was merged. I will do `addons/storysource` and `addons/highlight`

[2022-10-14 01:43] jacob-8 opened #19481 "v7-alpha.37 fails to install in a SvelteKit project"
**Describe the bug**
Running `npx sb@7.0.0-alpha.37 init` fails to install packages on Windows SvelteKit project and throws this error:
[code]

**To Reproduce**
- `pnpm create svelte@latest` (Choose default options + Typescript)
- `npx sb@7.0.0-alpha.37 init`

**System**
[code]

[2022-10-14 02:05] bryanjtc commented on #18732
Someone named Jean already did addons/essentials and it was merged. It should be on the table.

[2022-10-14 07:24] philipp-wy opened #19484 "TS2430: Interface 'Event' incorrectly extends interface 'KeyboardEvent'"
**Describe the bug**
After updating our dependencies to the newest major releases the following error appears when starting storybook:

Error: node_modules/@storybook/api/dist/ts3.9/modules/shortcuts.d.ts:55:18 - error TS2430: Interface 'Event' incorrectly extends interface 'KeyboardEvent'.
  Types of property 'target' are incompatible.
    Property 'prototype' is missing in type '{ tagName: strin

[2022-10-14 08:25] Minitiai opened #19485 "builder vite is webpack builder and vite export ?"
"core": {
    "builder": "@storybook/builder-vite"
  }

when i use vite and npm run storybook, The log output is as follows, actually vite import, is this reasonable ?

Version: webpack 4.46.0
Time: 6421ms
Built at: 2022/10/14 15:55:01 utc +08:00

[2022-10-14 09:58] Sidnioulz commented on #14420
I've just checked in `code/lib/store/src/csf/prepareStory.ts`, and I can see that the mapping is correctly computed. In Vue 2, we have `renderTimePassArgsFirst` true, so we do receive the `includedContext.args` correctly.

From there, in my story function, I can see it is the mapped values that are passed to `args`. The trick is to actually bind the component to those `args` instead of `$props`, a

[2022-10-14 10:34] germanz commented on #18356
I wonder whether v7.0 being on Vite makes it easier to integrate [Astro](https://github.com/withastro/astro) components 🤔

[2022-10-14 10:37] dkoprowski commented on #19484
Hi, I installed this version of `"@types/node": "18.7.23"` and it is fixed now. What is interesting – I didn't had this package in my project previously at all.

[2022-10-14 11:52] neil-morrison44 commented on #15539
There's a way to reproduce this if you add my addon _after_ the `interactions` addon https://github.com/neil-morrison44/storybook-addon-recoil-flow

My addon will no longer be able to get a right `100%` width & height so will render all broken

[2022-10-14 12:05] aliceathens commented on #17985
I upgraded to the prerelease but still get the same issue doesn't work for me..

[2022-10-14 12:20] IanVS commented on #18732
Thanks, I've updated the table.  We're getting close!

[2022-10-14 12:20] ka2n commented on #19365
Same,

I see a log output below:

[code]

[2022-10-14 13:16] Conviley commented on #12153
I just updated to 6.5.12 and replicating OP's post controls are not showing for me either. I currently have the issue that some controls work on some stories and others are said to not be configured.

I duplicated one of my stories that did have working controls into a new story file and that new story file with the exact same content does not work.

[2022-10-14 21:26] vinesh20 commented on #19336
We are having same issue and couldn't find any solution. Anyone figured it out?

[2022-10-14 21:53] MarcelGeo commented on #19391
@IanVS

I hate it in description:

@storybook/addon-actions: 7.0.0-alpha.35 => 7.0.0-alpha.35
@storybook/addon-essentials: 7.0.0-alpha.35 => 7.0.0-alpha.35
@storybook/builder-vite: 0.2.3 => 0.2.3
@storybook/cli: ^7.0.0-alpha.35 => 7.0.0-alpha.35
@storybook/react: 7.0.0-alpha.35 => 7.0.0-alpha.35

[2022-10-14 23:41] IanVS commented on #19391
Ah, you'll need to update builder-vite to 7.0, the same alpha as the rest.

[2022-10-15 03:04] shilman commented on #18732
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.38 containing PR #19388 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-15 03:04] shilman commented on #19280
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.38 containing PR #19338 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-15 03:04] shilman commented on #19349
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.38 containing PR #19405 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-15 03:04] shilman commented on #19351
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.38 containing PR #19466 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-15 03:04] #19349 closed

[2022-10-15 10:22] shilman opened #19497 "Migration for transforming `.stories.mdx` into `.mdx` + `.csf`"

[2022-10-15 13:07] IanVS commented on #19280
https://github.com/storybookjs/storybook/issues/19280#issuecomment-1277810919 is still a problem (can't build).

[2022-10-15 14:07] michaelcamper opened #19500 "Use only actions, but disable all controls"
**Is your feature request related to a problem? Please describe**
I would like to disable all controls for certain stories (based on their `context`), but still be able to use the "Actions" tab.
The idea is to statically set my properties, remove all the props from controls, but still see all triggered events in the Storybook UI.

**Describe the solution you'd like**
Dynamically adjust `context.pa

[2022-10-15 17:34] 0xDing opened #19501 "[v7] Invalid esm dist exists in @storybook/store"
**Describe the bug**
 The `dist/index.mjs` file in the `@storybook/store` package is not really a valid esm
**To Reproduce**
https://github.com/0xDing/storybook-es-issue

**System**
Environment Info:

  System:
    OS: macOS 12.6
    CPU: (10) arm64 Apple M1 Max
  Binaries:
    Node: 18.10.0 - /private/var/folders/pd/n93d7dmn1tvgzs__q_9lv__h0000gn/T/xfs-3e420a0b/node
    Yarn: 3.2.4 - /private/var

[2022-10-16 10:29] souppower commented on #18154
Closing because this is not urgent.
Potentially good idea, though.

[2022-10-16 10:29] #18154 closed

[2022-10-16 21:23] hanscl commented on #19391
I had the same problem and was able to fix it after some trial and error with dependencies in `packages.json` and `.storybook/main.js`.

I got this output when running storybook -- even though it's just warning, this was the last step for me to get this resolved:
[code]

Here is my output from `npx sb@next info`:
[code]

My `.storybook/main.js` file:
[code]

[2022-10-16 22:46] tmeasday opened #19504 "Preact: Updating args causes a full refresh"
**Describe the bug**
Preact version of https://github.com/storybookjs/storybook/issues/13913

Seems like it was originally fixed in https://github.com/storybookjs/storybook/pull/12221 but regressed (perhaps in preact 10?)

[2022-10-17 03:31] shilman commented on #14986
We've addressed this in 7.0 but still need to finalize things and update the documentation accordingly.

[2022-10-17 06:33] philipp-wy commented on #19484
Thanks @dkoprowski, that worked perfectly!

[2022-10-17 07:23] dkoprowski commented on #19484
Im happy to help. I think my workaround doesn't close the issue though. It shouldn't be needed to downgrade other packages in order to use Storybook.

[2022-10-17 07:48] philipp-wy commented on #19484
@dkoprowski yes, you are right. I reopened it.

[2022-10-17 09:27] litera commented on #19336
I've solved my problem by adding `managerWebpack` configuration to the `.storybook/main.js` file:

[code]

I'm not getting any errors any more. It compiles successfully.

[2022-10-17 11:16] hummal commented on #19365
@ka2n thx for your input. It is true. Without plugin-react it is working. Also with alpha 38.

Thank you for your good input!

[2022-10-17 11:16] #19365 closed

[2022-10-17 12:32] mystrdat commented on #8618
[code]

This suggestion from @Bamblehorse will lead to `http://localhost:6006/iframe.html?path=/?path=/docs/another-page--page`, eg. a broken page.

[2022-10-17 13:04] petterhoel commented on #19484
Same issue here with complely new angular project
`npx @angular/cli@latest new Frontend`
cd into folder
`ng add @angular/material //should not interfere`
and then in root angular folder:
`npx storybook init`

Used same workaround as suggested by @dkoprowski (thanks!)

[2022-10-17 13:10] nicollecastrog commented on #9917
First of all, thanks for your solution @shilman! 😍 `requiredFirst` is already SO much better than the seemingly random order the props were displaying in before.

However, I was wondering if you (or anyone else) knows of a way to set an actual sort _function_ for the props? I know you can do this for the order of the Stories themselves (`parameters.options.storySort`) and was hoping for a similar

[2022-10-17 13:20] MarcelGeo commented on #19391
I updated package @storybook/builder-vite to the same version:

npmPackages:
    @storybook/addon-actions: 7.0.0-alpha.35 => 7.0.0-alpha.35
    @storybook/addon-essentials: 7.0.0-alpha.35 => 7.0.0-alpha.35
    @storybook/builder-vite: 7.0.0-alpha.35 => 7.0.0-alpha.35
    @storybook/cli: ^7.0.0-alpha.35 => 7.0.0-alpha.35
    @storybook/react: 7.0.0-alpha.35 => 7.0.0-alpha.35

Error while building s

[2022-10-17 13:54] IanVS commented on #19391
@MarcelGeo can you share your `main.cjs`?

@hanscl Glad you got it working.  FWIW, you no longer need to specify `core.builder` in 7.0 config.  That's handled by the `framework` now.

[2022-10-17 14:05] CasperSocio commented on #16231
I would like to see this extended to `<script setup lang="ts">` too.
My team has just made the transition to Vue3 with the goal of using Vite soon. Our styleguidist design system is now broken and I would very much like us to use Storybook instead. We're using Typescript along with script setup which is not properly supported in v6.5 and the workarounds results in a ton of cumbersome extra code th

[2022-10-17 14:37] vnabet commented on #19484
Same issue here

node 16.17.0
@angular/cli 14.2.6
strorybook 6.5.12

Effectively version 18.7.23 of `@types/node` solves the problem

[2022-10-17 16:54] gravyboat commented on #19055
https://github.com/hipstersmoothie/react-docgen-typescript-plugin/pull/70 has been merged. If anyone has time to bump this to see if it addresses the warnings that would be great!

[2022-10-17 17:11] didii commented on #11971
Our use-case: a bunch of our components have internal state and will react on external events. A button is the most suitable of the bunch to make this work.

Voventia exposes a cool little thing though. Why not expose the `Controls` dictionary and allow users to add or overwrite control types? Then I think anyone could create another addon to allow for button types from within the controls window.

[2022-10-17 17:25] benmccann commented on #19280
plugins: [sveltekit({ server: false, builder: false })]
...

That seems almost equivalent to removing the SvelteKit plugins, so would be roughly the same as doing:
[code]

Are there particular features you're thinking of? If you don't build the SvelteKit generated code such as the route handlers, I'm not sure you're left with much...

I think stripping out the SvelteKit plugin is probably a fine s

[2022-10-17 17:45] bcarriereupgrade commented on #17098
Quick comment on this issue: debugging this was a nightmare.  Also, you'll run into this even if you had disabled the docs plugin. The controls plugin appears to be using the same code under the hood.

[2022-10-17 17:57] jeremytenjo opened #19513 "[v7] Uncaught SyntaxError: The requested module '/node_modules/.cache/.vite-storybook/deps/@storybook_react.js?v=f28f4e0b' does not provide an export named 'addons' (at setup-addons.js:1:60)"
**Describe the bug**

Getting error when updating to latest v7

[code]

**To Reproduce**
1. run `git clone https://github.com/jeremytenjo/starter-website --branch upgrade-to-storybook-7 && cd starter-website && npm i && npm run storybook:dev`
2. open `http://localhost:6006/?path=/story/lib-components-basic-input-inputfile--default`
3. open chrome console
![image](https://user-images.githubusercont

[2022-10-17 18:02] jeremytenjo opened #19514 "[v7] Failed to load preset: "@storybook/react/preset" ERR! Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: Package subpath './preset' is not defined by "exports" in /Users/jeremytenjo/Desktop/starter-website/node_modules/@storybook/react/package.json"
**Describe the bug**

Error when upgrading to v7

terminal output error:

[code]

**To Reproduce**
1. run `git clone https://github.com/jeremytenjo/starter-website --branch upgrade-to-storybook-7 && cd starter-website && npm i && npm run storybook:dev`
2. check terminal
![image](https://user-images.githubusercontent.com/25231946/196249498-104877f5-c7d5-4d69-bf43-7261e54313c5.png)

**System**
[code

[2022-10-17 18:10] Amerlander commented on #19280
I agree with benmccann. But I can give some examples for SvelteKit-specific code I used in my components and had to change to use with Storybook. It were only about the SvelteKit specific `$app/environment` `browser` variable and `$app/stores` `page` store:

I have a menu component which uses the `page` store:
[code]
I haven't thought about a workaround yet, I just decided to not add this componen

[2022-10-17 19:15] vinesh20 commented on #19336
Thanks @litera! It worked.

[2022-10-17 20:09] JReinhold commented on #19280
I'll do a follow up PR that removes the SvelteKit Vite plugin.

I think it's mainly importing the SvelteKit specific modules. I agree most of them don't make sense in a deep component that you'd have in a Storybook story, eg. `@sveltejs/kit/hooks` doesn't make sense in a Storybook context.
But I can see some of them make sense, eg.:

- `$app/environment` - As @Amerlander mentions should probably a

[2022-10-17 21:47] brennancheung opened #19517 "No documentation or way users can tell what possible values of `type` to use for controls / ArgTypes"
**Describe the bug**
There is no mention or documentation on what the possible `type` values are to expose controls for `ArgTypes`.  The documentation only shows the `radio` type.

Ex:
[code]

**To Reproduce**
1. Read the documentation for controls located at https://storybook.js.org/docs/react/essentials/controls.
2. Ask yourself the question, what are the other types of controls I can use?
3. Co

[2022-10-17 21:57] brennancheung commented on #19517
After digging through the source code I think I found the answer here:

https://github.com/storybookjs/storybook/blob/next/code/lib/blocks/src/controls/types.ts#L68

This really needs to be documented though.

[2022-10-17 22:11] jonniebigodes commented on #19517
@brennancheung, thanks for reaching out to us with your question. We appreciate it. One quick question for you. Did you, by any chance, check this part of the [documentation](https://storybook.js.org/docs/react/essentials/controls#annotation)? I know there's room for improvement, and we're addressing it in the near future in terms of better example usage. But for now, at least should give you some

[2022-10-17 22:24] brennancheung commented on #19517
Thank you, that solves my issue.  I must admit I missed that part.  I was scrolling through the documentation and skimmed over it because it was so far away from https://storybook.js.org/docs/react/essentials/controls#choosing-the-control-type and looked like it belonged to another section.

You have to scroll through `Custom Control Type Matchers`, `Fully Custom Args` , `Dealing with complex valu

[2022-10-17 22:33] jonniebigodes commented on #19517
I get it. It's a lot to take in, I can make a pull request throughout those docs to point out to the table and add some clarification.

[2022-10-18 02:05] MarNi-Works commented on #14791
Can you show your solutions?

[2022-10-18 02:06] Matheus8174 commented on #11639
now just install the next addon in your project.

https://storybook.js.org/addons/storybook-addon-next

[2022-10-18 05:30] jacob-8 commented on #19481
Duplicate

[2022-10-18 05:30] #19481 closed

[2022-10-18 05:38] BibhushanKarki commented on #18801
I'm using storybook v6.5.12. I'm getting this same error. How to fix this?

[2022-10-18 08:20] MarcelGeo commented on #19391
Hi @IanVS , my main.ts

Error in interface import, but only ts error.

[code]

[2022-10-18 08:27] nnmax commented on #12074
This is still an issue.

[2022-10-18 10:01] Andrew-Kovalenko commented on #14789
@shilman Any progress on it? Problem still reprodusing for me with webpack 5 and module federation

[code]

[2022-10-18 10:02] Andrew-Kovalenko commented on #14405
@shilman Any progress on it? Problem still reprodusing for me with webpack 5 and module federation

[code]

[2022-10-18 11:07] emlai commented on #16230
Seems to be a duplicate of #16995?

[2022-10-18 11:34] IanVS commented on #19391
@MarcelGeo if you're using 7.0, there are some changes that are needed to your config file.  See https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#mainjs-framework-field for details, but basically you need to change the `framework` to `@storybook/react-vite` (and install it if it's not already installed in your project, with the same version as the other packages).  Also note, that y

[2022-10-18 11:34] #19391 closed

[2022-10-18 12:46] anshumanbisoyi commented on #18327
npm i --save-dev react@18 react-dom@18

[2022-10-18 13:32] noreff commented on #13146
@mrchantey I also don't think closing it is right, as a workaround you can try using query parameter like this - https://drei.pmnd.rs/?path=/story/controls-firstpersoncontrols--first-person-controls-story&shortcuts=false

[2022-10-18 13:40] yurica7 commented on #19289
Is there any solution? I have tried all the issues about this issue!

[2022-10-18 13:42] nivpenso opened #19523 "adding headers support to @storybook/server"
**Is your feature request related to a problem? Please describe**
Today I'm using `@storybook/server` to help me serve `ejs` layouts. The `ejs` server sits behind a basic authentication mechanism (simple user and password). Today there is no way to add specific headers to the storybook server requests therefore, I can't supply this username and password.
when trying to use it with in URL I get an

[2022-10-18 15:44] jaysalvat commented on #19514
Same here. Impossible to install.

[2022-10-18 16:21] lachieh commented on #13545
I'd be interested in taking this one. Is this something that is still wanted?

Assuming that the deprecation change should target `main-prerelease` and the removal should target `next`?

[2022-10-18 16:27] shilman commented on #18732
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.39 containing PR #19482 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-18 16:27] shilman commented on #14621
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.39 containing PR #19434 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-18 16:27] #14621 closed

[2022-10-18 16:27] shilman commented on #19412
Ta-da!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.39 containing PR #19425 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-18 16:27] #19412 closed

[2022-10-18 17:14] giantrobotbee commented on #18278
Oh wow, so much activity I missed. I'll try again with the latest version when I get a chance.

[2022-10-18 17:34] coler-j opened #19525 "[Bug]: `npm-check-updates` not installed during upgrade"
### Describe the bug

When I do `npx storybook@6.5.12 upgrade` I get an error because `npm-check-updates` is not installed as a sub-dependency of storybook with npx.

I've cleaned my `yarn` cache, as well as deleted the npx directory.

[code]

### To Reproduce

_No response_

### System

_No response_

### Additional context

_No response_

[2022-10-18 18:17] mayankav commented on #8112
update on this? @shilman

[2022-10-18 23:27] MartinMasek commented on #18653
I have the same use case, did you solve it?

[2022-10-18 23:27] agiron123 opened #19527 "[Bug]: "Learn how to add interactions to your story" link is broken."
### Describe the bug

After running a fresh install, I noticed that the link to the documentation on how to add interactions to your story is broken.

The link goes here, which appears to not exist:
https://github.com/storybookjs/storybook/blob/next/addons/interactions/README.md

### To Reproduce

Run a fresh install of storybook.

In my case:

[code]

Now choose a component like the Button compon

[2022-10-18 23:49] jonniebigodes commented on #19527
@agiron123, thanks for taking the time to open up the issue. We're aware of the fact that the addon is pointing to the wrong place in the documentation. Hope you don't mind, but I'm closing this issue as it's already being tracked in #18957.

Hopefully, a patch will be up soon addressing both issues.

Hope you have a great week.

Stay safe

[2022-10-18 23:49] #19527 closed

[2022-10-18 23:51] agiron123 commented on #19527
Thanks @jonniebigodes, glad that this is being tracked. Have a great one!

[2022-10-19 00:00] pseudotsuga-fir commented on #11486
I'm surprised it's not yet something you can do in storybook! Definitely worth bumping priority up on.

[2022-10-19 01:13] nattySP commented on #16838
I am having this problem as well.
@storybook/angular v6.5.12 (also tried v6.5.13)
@angular v13.3.11
I am using the builder.

- There are no abstract components involved when I get the ` this.destroyed$.next is not a function` error when its called from ngOnDestroy. The component class member declaration looks like `private readonly destroyed$ = new Subject<void>();`
- Although the workaround of se

[2022-10-19 02:58] IanVS commented on #19176
OK, I've gotten further.  I can now require the sub-addons just fine, but I think there's a fatal flaw here. I now have an array of `previewAnnotations` that is something like this:

[code]

Now, I need to get that into the preview.  But since there are objects with functions, I guess I can't just serialize it straight into the virtual module in the preview builder.  The strings can be `import`ed

[2022-10-19 06:15] shilman opened #19532 "MDX2 migration path for docs components"
In MDX1, Storybook created a bunch of themed components for HTML elements `h1`, `h2`, ..., `p`, `div`, etc.

https://github.com/storybookjs/storybook/blob/next/code/addons/docs/src/DocsRenderer.tsx#L10-L15

We used this convoluted approach to try to avoid CSS bleed between our documentation components and user components which can be rendered inline from their stories.

| MDX source | MDX1 | MDX2

[2022-10-19 07:40] edoardocavazza opened #19533 "[Bug]: .mjs modules are bundled without esModuleInterop"
### Describe the bug

Some bundled modules that are meant to work in node environment, does not work when using ESM imports and `"type": "module"`. It happens because the module tries to import cjs dependencies without the `esModuleInterop` option.

For example, you cannot use `@storybook/csf-tools` because it imports `traverse` from `@babel/traverse` as default import.  Since `@babel/traverse` is

[2022-10-19 07:47] nikki-cat opened #19534 "[7.0]: Addon paths are url encoded and broken on Windows"
### Describe the bug

When trying to run `yarn storybook`, storybook does start the server and at least runs the main skeleton of the app, but at some point gets errors and no stories or pages are loaded.

Eventually the following error happens:

[code]

also in the browser I get the following errors in the console (This happens regardless of the previous error or not), I am not sure if this matte

[2022-10-19 07:51] nikki-cat commented on #19534
Oh also, wanted to mention that Vite was updated to latest beta version.

[2022-10-19 09:16] PythooonUser opened #19536 "[Bug]: `stable@0.1.8` is abandoned"
### Describe the bug

When using the current version `6.5.12` we receive the following warning message. Is this being addressed already?

[code]

### To Reproduce

_No response_

### System

_No response_

### Additional context

_No response_

[2022-10-19 11:21] mjcarsjens commented on #19534
Running into this same issue as well in a SB7+Vite+Lit project on Windows.
When creating a new project and running it with:

[code]

This results in all addon scripts being added in the HTML using a encoded backslash instead of a slash (%5C), probably due to this being the windows path separator. This does not work for retrieving the scripts though, resulting in the addons not being loaded in, and

[2022-10-19 11:31] MarcelGeo commented on #19391
@IanVS this was helpfull.

[2022-10-19 11:32] nikki-cat commented on #19534
Oh wow, I hadn't thought of that, but that actually makes a lot of sense. Do you have any idea for a fix/workaround? or is it more a Vite problem? I have contemplated posting this issue on Vite's Github too, but I'm a bit shy about double-dipping.

[2022-10-19 11:44] mjcarsjens commented on #19534
Same, still a bit in doubt about whether this is a Storybook or Vite issue, but looking at the fact that this only occurs for the sb-addons and that other `script` sources get injected properly I'm inclined to believe the issue lies within the Storybook implementation.

Have tried to dig around to find the specific cause of this issue but no luck so far, hoping I can find some time to look into it

[2022-10-19 11:48] mjcarsjens commented on #19534
With regards to the ENOENT issue, it seems to occur for me only when I add dependencies to the `optimizeDeps.include` entry in in the SB specific vite config changes made in `main.js` (as seen in the example on https://storybook.js.org/blog/first-class-vite-support-in-storybook). Adding these to the project-wide vite config file solved this for me.

Looking at your project however makes me think t

[2022-10-19 11:52] nikki-cat commented on #19534
Yup, in regards to the ENOENT bug, it's pretty much out-of-the-box, and the only thing I have to do to make it consistent is delete the `.cache` folder from `node_modules`.  Everything else is left in as created by the `storybook init` bootstrap, so theoretically it should just work, right?

[2022-10-19 11:54] mjcarsjens commented on #19534
It first started occurring for me when I deleted the `.cache` folder too. This should indeed in no way cause this specific behaviour and should just work. Even deleting the `node_modules` altogether and reinstalling everything did not stop this issue from occurring for me.

[2022-10-19 12:09] IanVS commented on #19534
Thanks for filing this issue.  It seems like there are two things happening, one is an issue in vite (ENOENT), which is filed at https://github.com/vitejs/vite/issues/9986.

For the windows issue, that definitely seems like a storybook bug.  Could you try reverting back a few alphas, to see if it was something that started recently?  Maybe try alpha.36, for example?

[2022-10-19 12:19] IanVS commented on #19533
@ndelangen I've noticed this as well.  Is this something we can fix by adjusting the way ts-up is bundling the files?

[2022-10-19 12:27] IanVS commented on #13428
The latest alpha version of storybook will now use pnpm to install dependencies when you run `npx sb@next` commands.

For those of you who were not able to install storybook at all (e.g. due to pnpm workspace), this should fix your issue.  You can now run `npx sb@next init`, and you'll get the latest storybook 7 alpha version.  Unfortunately I don't think there's a way to install storybook 6.5 tha

[2022-10-19 12:28] nikki-cat commented on #19534
Done! alpha.36 wasn't on the list of version, but it let me choose "35" which I did, and there seems to have been no issues with loading the files in that version. So your suspicions that it's been introduced recently is probably true.
But the css is still wonky, but I am starting to think that maybe it's because it didnt take dark mode into account? I was a bit confused about whether it was like

[2022-10-19 12:31] IanVS commented on #18111
The latest alpha version of storybook 7 will now use pnpm to install your dependencies when you run `npx sb@next init` or `npx sb@next upgrade`.  Would anyone here like to try it out and check whether that solves the error that you were getting before?

[2022-10-19 12:32] mjcarsjens commented on #19534
Same for me, reverting to alpha.35 fixes the issue, also couldn't find alpha.36. This issue starts occurring from alpha.37.

[2022-10-19 12:33] IanVS commented on #19534
Yes, those default stories that it installs are not designed for dark mode, which was added in storybook 7.  We'll get it straightened out, but you shouldn't need to worry about it for now.

Thanks for the troubleshooting, that will help us narrow in on what happened!

[2022-10-19 12:36] nikki-cat commented on #19534
Ok, thank you for the clarification :) And happy to help!

[2022-10-19 12:49] PythooonUser commented on #19536
I see this is missing in the `7.x` version. Alright then!

https://github.com/storybookjs/storybook/blob/v6.5.12/lib/store/package.json
https://github.com/storybookjs/storybook/blob/next/code/lib/store/package.json

[2022-10-19 12:49] #19536 closed

[2022-10-19 13:13] arsen-melkumiants commented on #19328
Hello,

I have similar issue in Angular. `NgOnDestroy`  hook is not executed when moving from canvas to docs tab.
Please let me know if there is any setting or workaround.

Thanks

[2022-10-19 13:15] barroudjo opened #19541 "[Bug]: @storybook/addon-storyshots is not compatible with react 18"
### Describe the bug

storyshots with react v18 throws `react-test-renderer TypeError: Cannot read properties of undefined`

This is due to @storybook/addon-storyshots@6.5.12 having the following dependency for react-test-renderer: `^16.8.0 || ^17.0.0` which is incompatible with react v18.

Using resolutions in package.json solves the problem, but it should really be solved in @storybook/addon-sto

[2022-10-19 13:41] alopix commented on #18656
@Andarist do you know if your fix has ever been released or is it gonna be part of Storybook 7?

[2022-10-19 14:47] Sidnioulz commented on #14092
In my previous company, we built another, much more comprehensive workaround.

* We replaced the PropTypes library with our own, that wrapped the original one
* We made StoryBook use our dev build of our PropTypes wrapper, so the typechecking functions would run
* We wrote an override to the docs `Props` component, which set a special global flag
* When that flag was on, all our typechecking wrapp

[2022-10-19 14:57] Sidnioulz commented on #14420
I said lots of silly things so let's go at it again.

Mappings work in the docs renderer. That is because it always rerenders the whole component on control change. They do not work in the canvas renderer.

I have tested on
* StoryBook 6.4 / Vue 2.6 / Webpack 4 / Vue-Class-Component latest
* StoryBook 7.0-alpha37 / Vue 2.7 / Vite / Vue-Class-Component latest

In SB7, both canvas and docs share the

[2022-10-19 15:54] Sidnioulz commented on #17605
Confirming this bug for Vue 2.6 / SB 6.4, and for Vue 2.7 / SB 7.0-alpha37.

On the alpha branch, because docs now use the canvas mode renderer, the bug has propagated to the docs page too.

[2022-10-19 15:57] jfgreffier opened #19543 "[Bug]: Loki can't extract stories - Storybook 7"
### Describe the bug

Loki, a visual testing tool for Storybook, cannot extract stories when using Vite and Storybook 7. It is fine with Storybook 6.5.12 using Vue3 and Webpack, got similar issue with Storybook 6.5.12 and vite using

Error message is `Cannot call extract() unless you call cacheAllCSFFiles() first.`

### To Reproduce

Project to reproduce
https://github.com/jfgreffier/vite-sb7-loki

[2022-10-19 17:25] CWSites commented on #19057
I've had this issue for months, it would be great if there was a solution.

[2022-10-19 18:01] EloB commented on #18405
Also face this issue. One main storybook that consume 2 other storybook.

[2022-10-19 18:03] elstgav opened #19545 "[Bug]: ArgsTable: Code in Markdown Descriptions renders incorrectly on first render"
### Describe the bug

Similar to #18090, code blocks in ArgsTable descriptions encounter a race condition with prism and output `[object Object]` on first render. This happens when there are other syntax highlighted blocks on the page, like in the description section below:

![Google Chrome - Example  Header - Logged In ⋅ Storybook - 2022-10-19 at 10 50 36 AM](https://user-images.githubusercontent

[2022-10-19 18:35] shilman commented on #14603
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.40 containing PR #19495 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-19 18:35] shilman commented on #19142
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.40 containing PR #19529 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-19 18:35] #14603 closed

[2022-10-19 18:35] #19142 closed

[2022-10-19 18:44] IPWright83 commented on #13428
@IanVS I realised why the public-hoist-pattern doesn't work for me. It's not supported for workspace dependencies which is where Storybook is failing for me https://github.com/pnpm/pnpm/issues/3642.

Still going to try the alpha and see if there's any improvement.

[2022-10-19 19:21] AckermannJan opened #19546 "[Bug]: Issue loading stories.json when using webpack publicPath"
### Describe the bug

The goal is to deploy storybook feature branches via a Gitlab CI/CD.

We deploy our static files to static.cdn.domain-staging. So URLs for the bundled js files will look like this:
`https://static.cdn.domain-staging.de/shared-components/feature/storybook-ssc-461-update-node-and-package-lock/dist/551.9c307ca83b3e46cacb04.manager.bundle.js`
Reaching the index.html is done via a

[2022-10-19 19:23] aldrichdev commented on #14464
How is this wrong?

I am experiencing the same issue. Getting `Check the render method of unboundStoryFn` for every story

[2022-10-19 20:48] SalahAdDin commented on #19057
It depends on your **typescript** configuration, whether files you include or not... complex to understand.

[2022-10-19 21:08] dev-nicolaos commented on #18434
It looks like this may have been solved on the `next` branch but the change has not been part of a stable release yet?

https://github.com/storybookjs/storybook/pull/18587/files#diff-04ecdb88863dcdcc0dfd5f7db20a47d0b4e7ae30a5501e736fdf0d80b5fd479eR80

[2022-10-19 21:11] EricDeColS commented on #18801
It just started happening to me, it broke down earlier, I made it work again,  wento to work, came back to my personal project without touching a finger on it, and now it's just broken

[2022-10-19 22:28] charlesfonlupt opened #19550 "[Bug]: Icons does not render correctly with IconGallery addon with Vue3"
### Describe the bug

I am trying to implements Icons documentation through StoryBook 6.5.12 (Vue3, Vite) following the[ doc](https://storybook.js.org/docs/vue/writing-docs/doc-block-icongallery)

[code]

All my icons are listed as component in a icons.vue file

[code]

When trying to Import them, the mdx page does not render properly.

### System

[code]

### Additional context

StoryBook is used

[2022-10-20 01:48] DavidDudson commented on #18600
Our company also getting the same issue.

turning `storyStoryV7` on in an angular 6.5.12 project, with a decorator such as

[code]

results in story being undefined.

[2022-10-20 03:15] CalinaCristian opened #19551 "[Feature Request]: Update angular-devkit dependency for angular 14"
### Is your feature request related to a problem? Please describe

The latest version of the package (6.5.12) comes with a direct dependency of `@angular-devkit/build-angular@13.3.9`
This makes the build storybook command fail when upgrading to angular 14.

![image](https://user-images.githubusercontent.com/9513641/196846035-36d0cf7c-271e-4b97-b957-a769ea77fe25.png)
![image](https://user-images.gi

[2022-10-20 06:34] ktorlakonda-eightfold commented on #3346
thank you. this worked

[2022-10-20 07:03] #19551 closed

[2022-10-20 07:34] ndelangen commented on #18656
This is going to be fixed in 7.0 @alopix

[2022-10-20 08:49] treksn commented on #13587
An interface, where all available parameters are defined, would already help a lot. `[key: string]: any;` should be avoided if possible.

[2022-10-20 08:57] HongSiyuan opened #19554 "[Bug]: story source code not avaliable with vite builder"
### Describe the bug

docs page dose not show story source code with vite builder. It shows "No code avaliable".
**Storybook version: 7.0.0-alpha.40**

<img width="1363" alt="image" src="https://user-images.githubusercontent.com/38722610/196901625-4cdd0bc6-49af-4bf6-afc4-3178ca0e53d1.png">

### Reproduce
[code]

### To Reproduce

_No response_

### System

[code]

### Additional context

_No respo

[2022-10-20 09:02] maertz commented on #17233
Doesn't work with angular 14 either. After some deeper dive it looks like the addon doesn't register itself into the state of storybook from where it tries to pull the "locationMap". Tried to fix it but with no luck.

[2022-10-20 09:40] shilman opened #19555 "MDX2 migration path for inline styles"
The following pattern, which we included in our `sb init` for MDX1, breaks in MDX2:

[code]

This is documented as intended behavior in https://github.com/mdx-js/mdx/issues/1945. The solution is to update this to:

[code]

We should create a migration path for users to help ease the transition:
1. An automigration that scans all `.stories.mdx` files, looks for this pattern, and updates
2. A migrat

[2022-10-20 10:26] andreaswissel opened #19556 "[Bug]: Show source only works after interacting with Storybook UI"
### Describe the bug

Use any flavour of the `<Canvas>` block in the docs tab try to show the source code for that component. It will say `No source` until the user has interacted with the Storybook UI in any way. This has been an on/off error for quite a few versions now and it's really frustrating to fix.
I'd greatly appreciate any help here and would love to help fix this.

### To Reproduce

[c

[2022-10-20 11:14] dreampulse commented on #14603
This is working for me:
[code]

[2022-10-20 11:53] shilman commented on #19555
Proposal:
- An automigration that globs `**/*.stories.mdx` and returns the list of files
- If the list is not empty, we prompt the user:

[code]

Then, if the user responds yes, we run our set of heuristics, such as above ☝️ , on the set of files.

[2022-10-20 13:26] IanVS commented on #19479
Can you please share your `.storybook/main.js`?  And double-check that you've run the migration steps in https://github.com/storybookjs/storybook/blob/next/MIGRATION.md.  Running `npx sb@next automigrate` should take care of most of it.

[2022-10-20 14:27] samydoesit commented on #19479
Storybook [main.ts](https://github.com/samydoesit/vue-turbo-starter/blob/update-to-storybook7/apps/storybook/.storybook/main.ts) looks like this:

[code]

Running `npx sb@next automigrate` is unable to detect storybook version because of pnpm.
I tried to double check the migration steps and i can not see any issues.

[2022-10-20 14:32] IanVS commented on #19479
Ah, sorry I didn't see this before, the problem is:

[code]

This can be removed, since the correct version will be installed by `@storybook/vue3-vite`

Now that I think about it, I've seen this error before.  Can I ask how you did the initial upgrade?  Did you use `npx sb@next upgrade --prerelease`?  We may need to add a step to that script to remove the vite builder.

[2022-10-20 14:35] atrunelle commented on #18397
I was just about to raise an issue for this and found this one. We have the exact same problem.
I managed to narrow it down to using `vue-cli-storybook` plugin.

I tried to set up Storybook on a brand new Vue 2 project with the Vue CLI. Controls and ArgTable were working. But if I use `vue-cli-storybook`, it breaks and I see `Args unsupported. See Args documentation for your framework.`.

The othe

[2022-10-20 15:07] TheColorRed opened #19557 "[Bug]: TypeError: Cannot set properties of null (setting 'innerHTML')"
### Describe the bug

I keep getting an error here:

https://github.com/storybookjs/storybook/blob/ce0b0205d73a58693617762594d1bdc0b7c3db73/code/lib/preview-web/src/WebView.ts#L137-L138

The error is as follows:

### To Reproduce

_No response_

### System

[code]
[code]

[2022-10-20 15:17] Sidnioulz commented on #14864
As I understand now, only `component` and `title` must be provided statically for SB7+ to run, is that correct?

I have struggled to find explicit documentation for that limitation, though https://storybook.js.org/docs/7.0/react/writing-stories/naming-components-and-hierarchy could be a good spot. Is it somewhere where I've missed it?

Given that you need statically available titles (or autoTitle?

[2022-10-20 15:21] Sidnioulz commented on #17605
Duplicate of https://github.com/storybookjs/storybook/issues/16750

[2022-10-20 15:54] LBBO commented on #19420
If possible, I would like to work on this.

I think the cause for this lies in `code/lib/cli/src/generators/baseGenerator.ts:242` where the staticDir is passed to the package scripts in order to then be included in the default scripts in the package.json. Instead, I would suggest passing a `staticDirs` array to `configureMain` that is set to `[staticDir]` if it is set.

Are there any issues with m

[2022-10-20 16:04] samydoesit commented on #19479
Output of `npm ls @storybook/builder-vite`
[code]
🤔

[2022-10-20 16:46] samydoesit commented on #19479
I tried again `npx sb@next upgrade --prerelease` and it works like you said.

It has also updated:
[code]

Vite will now be resolved correctly with a `pnpm.override` in place i have update the [repo branch](https://github.com/samydoesit/vue-turbo-starter/tree/update-to-storybook7/apps/storybook) but am still stuck here:
[code]
<img width="895" alt="image" src="https://user-images.githubusercontent

[2022-10-20 17:05] KorySchneider commented on #19541
Same issue here, even when I have `react-test-renderer` 18.x installed, the storyshots addon uses version 17.

[code]

[2022-10-20 17:08] LBBO commented on #19420
Alright, I hope to have fixed the issue. However, I can't figure out how to test the CLI locally. I've tried running `yarn build cli` successfully (after some problems that I was able to solve) and it produces a `dist/generate.js`, but I haven't managed to execute it (via the `bin/index.js` file) because dependencies can't be found. Any pointers?

[2022-10-20 17:47] coler-j commented on #10367
The example at [docs.stories.mdx](https://raw.githubusercontent.com/storybookjs/storybook/next/examples/web-components-kitchen-sink/stories/addon-docs.stories.mdx) is a dead link :(

[2022-10-20 18:03] IanVS commented on #19479
Since the vite builder is at `7.0.0-alpha.40`, are all the rest of your dependencies as well?  You might consider removing your lockfile and node_modules, and re-creating it with a fresh install, to be sure everything's at the same version.  I think you still have a mismatch somewhere.

[2022-10-20 19:17] samydoesit commented on #19479
I got it.

I have accidentally added this
`"storybook": "future",`
changed it to:
`"storybook": "7.0.0-alpha.40",`

Now it works storybook v7 is running. 💪

[2022-10-20 19:17] #19479 closed

[2022-10-20 20:32] KorySchneider commented on #19541
The `resolutions` workaround did not work for me, but updating `@storybook/addon-storyshots` and `@storybook/addon-storyshots-puppeteer` to `@future` (currently `7.0.0-alpha.40`) seems to have fixed it.

@shilman It would be great to get [this change](https://github.com/storybookjs/storybook/pull/18296) released on 6.x

[2022-10-20 21:10] #19517 closed

[2022-10-20 22:16] andreaswissel opened #19560 "[Bug]: ArgsTable does not show controls when story is referenced through {Template.title}"
### Describe the bug

When using the `<ArgsTable>` DocBlock, the table itself will only show story-related controls when the story name is explicitly referenced as a magic string:

`button.stories.mdx`
[code]

Expected behaviour: The DocBlock should resolve the story correctly, no matter if it's a string or passed by reference
Actual behaviour: Controls only show up when the Story name is provided

[2022-10-20 23:29] AprilArcus opened #19561 "7.0.0-alpha.40: Illegal export statement in @mdx-js/react"
### Describe the bug

With 7.0.0-alpha.40, Jest complains:

[code]

I have Babel configured to transpile a set of opt-in node modules using `babel.config.js` in my monorepo root and `rootMode: 'upward'` in my babel-jest config, and I have added `@mdx/react` to my opt-in list. Note that when I disable babel entirely, I receive a more straightforward error:

[code]

### To Reproduce

_No response_

[2022-10-21 00:19] AprilArcus commented on #19561
A little `console.log` debugging shows that no `options` are being passed to `requireModule` in `node_modules/jest-runtime/build/index.js`, so the babel transformer is being bypassed.

[2022-10-21 01:24] bryanjtc commented on #18732
I can try to do [addons/docs](https://github.com/storybookjs/storybook/blob/next/addons/docs/package.json)
I know there is already a pr, but it seems it had a few problems.

[2022-10-21 01:29] burntcustard commented on #10817
I was having the exact same problem - trying to apply utility classes to an `.mdx` file, to demo typography.

I can happily and easily do the same thing within a regular old `.jsx` or `.tsx` story, where inside the `<head>` is:
[code]

I assumed I'd be able to do the same with `.mdx` docs, overriding any extra docs styling that's added, with Tailwind utility classes like `text-xl`. However, with t

[2022-10-21 03:48] tohsaka888 commented on #18111
I try to use `npx sb@next init` in a `next.js` project.It doesn't has any error.

but when i use `pnpx sb init`, the error that i were getting before still exist.

[2022-10-21 03:48] tohsaka888 commented on #18111
I try to use npx sb@next init in a next.js project.It doesn't has any error.

but when i use pnpx sb init, the error that i were getting before still exist.

[2022-10-21 03:53] tohsaka888 commented on #18111
when i use `pnpm run storybook`, i got some error.

![image](https://user-images.githubusercontent.com/58759688/197107865-09fa41f0-1802-4c30-b9f5-3458af31c465.png)

[2022-10-21 06:33] HemendraKhatik commented on #17701
any update I'm facing the same issue

[2022-10-21 09:28] h000780 opened #19567 "deprecated warning about "withActions""
### Describe the bug

I've been using a combination of storybook + webcomponents,
but it keeps triggering a warning when I configure actions via the officially recommended way.(https://storybook.js.org/docs/web-components/essentials/actions#action-event-handlers)
[code]
<img width="822" alt="截屏2022-10-19 16 15 17" src="https://user-images.githubusercontent.com/38276156/197147484-8e591cb4-7ca7-4802

[2022-10-21 09:58] fs-innonova commented on #11919
+1

[2022-10-21 10:08] zhyd1997 commented on #17701
@iosifnicolae2 @HemendraKhatik

PR #19004

[2022-10-21 10:13] dubem-design commented on #18356
I have not had any serious issues yet using Storybook with Astrojs. My observations thou

1. Install storybook using vite as a builder: npx sb init --builder @storybook/builder-vite (It will depect your framework - Vue 3)
2. Install tailwindcss Seperately: yarn add tailwindcss & postcss
3. Add this plugin: @storybook/addon-postcss
4. Include it into: /.storybook/main.js under addons
5. Import your

[2022-10-21 12:31] Alpha1337k commented on #5269
@nilslp Take a look at the redirects of amplify. It might be that all requests would be redirected to /index.html instead of /iframe.html etc.

Hope this helps.

[2022-10-21 12:38] charlesfonlupt commented on #19550
I tried to import icons directly, but it present the same problem. The page does not render properly and there is no indication on the possible error from the server.

[code]

[2022-10-21 13:02] jtiala opened #19570 "[Bug]: v7.0.0-alpha.40 Stories on DocsPage don't respect sort order"
### Describe the bug

Seems like they are always ordered alphabetically.

### To Reproduce

[code]

### System

[code]

### Additional context

_No response_

[2022-10-21 13:12] emlai opened #19571 "[Bug]: memoized components show display name `[object Object]`"
### Describe the bug

"Show code" view shows `[object Object]` as display name for `React.memo`ized components, for example:

[code]

### To Reproduce

[code]

### System

_No response_

### Additional context

_No response_

[2022-10-21 13:57] florian-milky commented on #17003
Running into this issue again. Removing `--quiet` did not help. No error or warning is shown. It just stops after the manager has been built.

[2022-10-21 14:05] emlai opened #19572 "[Bug]: Play function docs instruct to use `screen` instead of `within(canvasElement)`"
### Describe the bug

https://storybook.js.org/docs/react/writing-stories/play-function#writing-stories-with-the-play-function tells you to use Testing Library's `screen` object.

But when you run Storybook, you get a warning:

More info: https://storybook.js.org/docs/react/essentials/interactions

So it seems https://storybook.js.org/docs/react/writing-stories/play-function is out-of-date and sho

[2022-10-21 14:19] IanVS commented on #18111
Thanks @tohsaka888.  I wouldn't expect it to work on the old version of the storybook cli (`npx sb`), so that makes sense.  As for your other issue, that seems like a separate problem.  Maybe you could open a new issue, ideally with a reproduction that we can use to help troubleshoot?

[2022-10-21 14:50] Nxtivision opened #19573 "[Bug]: deprecation warning migration for v7.0 won't work with MDX"
### Describe the bug

Hi Storybook Team,

I would like to get your attention about a potential problem following the migration of MDX to the future v7.0.

Inside a MDX story, I would like to show two components. Using the following will work :
[code]

Of course, there is a deprecation warning on it :

[code]

So, I switched to the other format like this :

[code]

But, after doing this, nothing wi

[2022-10-21 15:52] shilman commented on #19280
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.41 containing PR #19522 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-21 15:52] shilman commented on #19555
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.41 containing PR #19568 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-21 15:52] #19555 closed

[2022-10-21 15:52] #19280 closed

[2022-10-21 15:53] alicnik opened #19575 "[Bug]: array or object with JSX elements in context causes Storybook to hang indefinitely"
### Describe the bug

Providing an array of JSX elements, or an object containing JSX elements, as the `value` in a context provider causes Storybook to hang indefinitely. The UI may load but it cannot be interacted with once you click on the story with the context issue.

Example code of adding context in a story (with an array):
[code]

This also happens if the context is placed in decorators, e

[2022-10-21 16:03] splitinfinities commented on #4600
Hey all, unfortunately I was let go from the Stencil team last December. I'm not aware of the Stencil projects direction since then. Sorry for the lack of updates on my part, since that timeframe, these tickets weren't in my purview! I may recommend closing this ticket. Folks have been reaching out to me asking about progress on this so I wanted to give an update here to curb some of that. I'm rea

[2022-10-21 16:49] markpinero commented on #18356
This ticket's in reference to rendering `.astro` components

[2022-10-21 17:30] burdisal commented on #19575
I am also running into this issue, passing an array of JSX elements as a prop to a component in Storybook. The following works well in a fresh Create React App, but hangs in Storybook, locking up my browser when I try to click any of the buttons.

One of my projects is not able to update Storybook because of #17413, and this component works without issue in that project (Storybook 6.3.12). I have

[2022-10-21 18:40] davloperez opened #19576 "[Feature Request]:"
### Is your feature request related to a problem? Please describe

There is no way to use a nullable Date prop.

Example:
[code]

This component prop `myDate` can not be represented with current Controls addon, as date is converted to a numeric timestamp (noted in #11822, with workaround), **but also, the null value can not be represented with the current Control for date.**

The control for this

[2022-10-21 19:55] parky128 commented on #19266
Same for me, only this time with an Nx 12 workspace, repo where you can see it breaking [here](https://github.com/parky128/nx12-ng-storybook)

[2022-10-21 20:16] JuhG commented on #12576
The interesting thing is that Styleguidist is able to figure out the props with a HOC. For the exact same component, where the component is not even exported, just a single default export with the wrapped component. And they use the same `react-docgen-typescript` package. It doesn't work by default, only if we pass the our tsconfig as `withCustomConfig`:

[code]

Here's the docs for that: https://

[2022-10-22 01:03] jacob-8 commented on #19280
When I init and run Storybook 7 with a new SvelteKit project, I get this error:

[code]

The storybook shell will load but each page has no content.

## To reproduce:

- `npm create svelte@latest`
- choose skeleton project, typescript
- `npm i`
- `npx sb@next init` (I'm running `npm 8.17.0` so I agree to the prompt to run the `npm7` migration on my project)
- `npm run storybook`

[2022-10-22 03:19] IanVS commented on #19280
Unfortunately that's a vite error: https://github.com/vitejs/vite/issues/9986.

You may be able to get past it by removing the `node_modules/.cache` directory, and restarting storybook.

[2022-10-22 04:15] Dule-martins commented on #19436
@jonniebigodes This issue still open?

[2022-10-22 06:30] Ankitchaudharyy commented on #19572
Can I work on this issue ?

[2022-10-22 06:32] Ankitchaudharyy commented on #19413
Can I work on this issue?

[2022-10-22 11:05] mgutbor opened #19582 "[Feature Request]: [Storybook] [web components] [renderer] custom-element.json only add control type to properties"
### Is your feature request related to a problem? Please describe

We are trying to create all controls from all elements extracted from custom-element.json without writing it on story index as argTypes.

We work with [lit](https://lit.dev/), analize all documentation in the components with [web component analyzer](https://github.com/runem/web-component-analyzer) to create custom-element.json.

We

[2022-10-22 12:39] thedamon commented on #18222
Running into this..
I have added router to certain routes in a decorator and anytime HMR runs I get `"Cannot redefine property: $route"` error.
It also makes me wonder how often the code in preview.js reruns on the same instance of `app` from what @Akryum is saying it's any time i go to a new Story without reloading or anytime I make a change to the story and it hot reloads?

I think this will als

[2022-10-22 13:28] davidbwaters opened #19584 "[Feature Request]: Outline Plugin Use Universal Selector for Web Component Compatibility"
### Is your feature request related to a problem? Please describe

The Outline addon doesn't work correctly for shadow-dom custom elements.

### Describe the solution you'd like

It would be awesome to have the plugin just use a universal selector and target all elements, so custom elements would also be outlined:

[code]

It would also be better to apply a has-outlines class to .sb-show-main, ins

[2022-10-22 15:18] jonniebigodes commented on #19572
@emlai, thanks for taking the time and effort to open the issue. To give you a bit of context on this, writing interaction tests using the `play` function and the screen object isn't incorrect. That means that Storybook will start traversing the DOM tree from the top-level element of the Canvas, which works for smaller components (e.g., buttons) as there's not much to render on the UI and how it's

[2022-10-22 15:27] jonniebigodes commented on #19436
@Dule-martins yes, it is, and we're already looking to address this at a team level. Appreciate the willingness to help, but we're on it in this case. If you're interested in contributing, we'd love it. Check out the [good first issues](https://github.com/storybookjs/storybook/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22), read our [contribution documentation]https://storybook.js.o

[2022-10-22 16:51] yogarasu commented on #15577
same for 7

[2022-10-22 17:57] byjokese commented on #17233
Same problem, tried several configs and options for the loader.
* NX workspace `15.0.1`
* Angular `14.2,0`
* @storybook/addon-storysource: `6.5.12`

[2022-10-22 19:07] BodhisattaKumar commented on #19582
i want to like work in this issue please assign me this issue

[2022-10-22 19:41] aommm commented on #17329
Agree, it would be great with some error messages in the "infinite spinner" case.
I'm trying to set up storybook for my project now, but after running into the infinite spinner I'm not sure how to proceed. (I probably have some problem with my Webpack config, but it's hard to tell)

[2022-10-23 06:39] sag1v commented on #18395
@shilman Hey 👋
When do we expect to see version 6.5.13 released?

[2022-10-23 06:41] shilman commented on #18395
@sag1v sorry this fell off my radar. I want to get one more thing patched back to 6.5 in the next day or two and then will release. Thanks for your patience!

[2022-10-23 06:43] sag1v commented on #18395
@shilman Thanks!
Just heads-up, it turns out that `npx sb upgrade --prerelease` is installing version 7.x and not 6.x. Is there away to pass a major version or is it a bug that needs to get fixed?

[2022-10-23 06:45] shilman commented on #18395
We're going to change upgrade to allow you to specify an npm tag. For now it's just the way it works:

- upgrade = latest stable
- upgrade --prerelease = latest prerelease

[2022-10-23 06:56] jithurjacob commented on #19218
Facing the same issue.

[2022-10-23 13:12] #4600 closed

[2022-10-23 13:13] ndelangen commented on #4600
Thank you for the update @splitinfinities

I appreciate the hard work, effort and time you've put in!

[2022-10-23 21:23] morasumu commented on #17095
I had the same issue with next.js, tailwindcss and sass.
Sass worked with global style files, but didn't with module css files.
For me, 'css-loader' configuration for modules was the key to solution.
[code]
Thanks, @7iomka !

[2022-10-23 22:39] KurtGokhan commented on #15780
I have another problem. For good measure I write this in global `argTypes`:

[code]

But if I do this, `style` prop is visible under every story. This does not happen for `className` prop. It also does not show in Docs tab, only in Canvas tab. This is very weird.

[2022-10-24 04:09] shilman commented on #18395
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.5.13 containing PR #18740 that references this issue. Upgrade today to the `@latest` NPM tag to try it out!

[code]

[2022-10-24 08:26] mokone91 commented on #19328
any updates? maybe somebody have some temporary solution?

[2022-10-24 08:53] arsen-melkumiants commented on #19328
The only thing that helped me, as a workaround, is to make sure that docs are in inlineStories: true. Only then I see a proper lifecycle.

[2022-10-24 09:09] glitchedgitz commented on #19217
Hey @shilman,
Got the same error, so I upgraded.
Got this error now
[code]

[2022-10-24 09:31] avinean commented on #19361
@shilman Did you have a chance to check this?
It's a really blocking issue.

[2022-10-24 09:43] TomFreudenberg commented on #18742
Would be great to get an information about any progress on this task.

[2022-10-24 09:53] JuhG commented on #12558
Exporting the bare component is not really a solution, it's missing functionality the HOC provides. Doesn't make much sense to show your component without styles for example. (any better solution since @chadlavi-casebook?)

`react-docgen-typescript` is able to get the props and documentation, even if we're only exporting the wrapped component. Also other tools like Styleguidist (using the same doc

[2022-10-24 10:15] espipj opened #19597 "[Bug]: Storybook Docs Addon wrong displayName when using react's useContext+decorator"
### Describe the bug

When using a decorator to give context to stories and then using the `code` feature, it displays the wrong displayName that it has been given to it by using `context.displayName = "Some Name"`  as the react docs say [here](https://reactjs.org/docs/context.html#contextdisplayname) and shows this (actually buggy):

![image](https://user-images.githubusercontent.com/12865914/197

[2022-10-24 10:16] florian-milky commented on #17003
Updated to storybook 6.5.13 and it is gone again

[2022-10-24 10:35] IanVS commented on #19217
@glitchedgitz there are some changes in 7.0, you should be able to run `npx sb@next automigrate` to take care of most of them, including the error you're seeing. And be sure to check out MIGRATION.md for the full list of changes.

[2022-10-24 10:43] shilman commented on #12558
@JuhG Thanks for your example. I looked in some detail and tried it out in Storybook. Here's what I found:

`TwoWaySwitch.tsx` declares two components, `TwoWaySwitch` and the wrapped default export. As far as I can tell, `react-docgen-typescript` correctly analyzes the types for `TwoWaySwitch`, but doesn't pick up anything for the default export.

Thus if you were to write your story like this (CS

[2022-10-24 10:45] #19361 closed

[2022-10-24 11:15] shilman commented on #19573
Hi @Nxtivision, Thanks so much for raising this issue. Indeed the documentation for 7.0 is still in flux, especially when it comes to MDX, where we are making some substantial changes.

Here's what I did to get your example working in 7.0:

### A.stories.ts

[code]

### B.stories.ts

[code]

## new-way.mdx

[code]

We'll be providing a bunch of documentation & codemods to help people make the tran

[2022-10-24 11:20] tmeasday commented on #19573
I'm not 100% sure but I suspect this is more of an issue with the way you override `component` in Angular (which was deprecated and removed in 7.0), than docs, specifically. Have you tried the equivalent code in a CSF file @Nxtivision?

We could definitely improve our migration notes on Angular I suspect!!

[2022-10-24 12:02] shilman commented on #19573
@tmeasday I think the issue is that in 6.x it was possible to write stories for multiple components in the same file. Whereas in 7.0 that is no longer possible.

[2022-10-24 12:23] shilman commented on #12576
@JuhG responded in the other issue 👍

[2022-10-24 12:25] shilman commented on #12423
@ArmanNisch I think it's being addressed here https://github.com/storybookjs/storybook/pull/19433

[2022-10-24 12:30] shilman commented on #19541
@KorySchneider pretty sure that would be a breaking change. Can you use 6.x and force it with yarn resolutions (or whatever the npm equivalent is)?

[2022-10-24 12:31] shilman commented on #19541
@KorySchneider pretty sure that would be a breaking change. any idea why the resolutions workaround didn't work?

[2022-10-24 12:34] shilman commented on #14864
@Sidnioulz I believe the default export must have either `component` OR `title`. Any chance you can make a PR to fix the docs?

[2022-10-24 12:34] shilman commented on #14864
Closing this as finished. Thanks @yannbf

https://storybook.js.org/blog/how-to-use-storybook-with-eslint/

[2022-10-24 12:35] #14864 closed

[2022-10-24 12:53] Nxtivision commented on #19573
Hey there,

Thank you for your answers !

Maybe I should add something quite important to this topic that will explain better why we are doing this way :

I understand the point to use CSF and I wanted to go this way, however, the source code of these were not "complete", I mean, I can get the HTML implementation of my component with the current version of Storybook.
To complete the source code, I

[2022-10-24 12:56] shilman commented on #12687
I don't think we're support this use case any time soon  cc @tmeasday

However, as a workaround, you might be able to do something like this in your `.storybook/main.js`

[code]

It's not pretty, but might do the trick if you really need it.

[2022-10-24 13:01] shilman commented on #19573
@Nxtivision I think you might be able to achieve the same in the CSF file like so

[code]

Part of the goal of moving everything to CSF and reusing those stories in MDX is so that we can have a single set of docs that we can invest in & get these use cases properly documented. cc @jreinhold

[2022-10-24 13:14] shilman commented on #14420
@prashantpalikhe If you have a min, this is highly related to the last set of fixes you made to the Vue2 renderer. In fact, I'm a bit surprised they did't solve this issue.

[2022-10-24 13:16] Nxtivision commented on #19573
Oh, interesting !
We could effectively use this one to generate the source code and swithc stories directly in CSF mode.
I took a look to the documentation here : https://storybook.js.org/docs/react/writing-docs/doc-block-source#working-with-the-docspage

I think the best improvement we could add on this one is to be able to have multiple source code and display a tab like we did, so it could be :

[2022-10-24 13:20] shilman commented on #13146
We're not going to implement a UI for that, but we should fix the configuration if it's not currently working

[2022-10-24 13:23] shilman commented on #14405
AFAICT this isn't an error. For example, in the second to last comment:

It prints out 99% done, and then prints out "built preview", which means that it's 100% complete. We should provide better debugging tools for Webpack users, but the "99% complete" is a red herring. Closing this.

[2022-10-24 13:29] #14405 closed

[2022-10-24 13:29] KorySchneider commented on #19541
@shilman Ah I see. Not sure why the resolutions didn't work...I'm using pnpm so potentially a bug with that?

[2022-10-24 13:30] denkrasnov commented on #14405
Hello @shilman thanks for your reply and your time.
I have provided a repro repository with the only storybook installed and the issue is present there and doesn't resolve.
https://github.com/storybookjs/storybook/issues/14405#issuecomment
<img width="822" alt="Screenshot 2022-10-24 at 15 30 37" src="https://user-images.githubusercontent.com/20475673/197537559-5feafd16-57f4-4965-a33f-76afd4952e86.

[2022-10-24 13:35] shilman commented on #14405
@denkrasnov Your repro works fine for me. What is the output of `npx sb info` on your machine?

[2022-10-24 13:38] denkrasnov commented on #14405
@shilman
[code]

[2022-10-24 13:42] shilman commented on #14405
@denkrasnov here's mine. looks pretty damn close...

[code]

[2022-10-24 13:44] shilman commented on #19573
@Nxtivision yes, I think we could do that at some point. though in the short term we're focused on tightening up what's there and not adding new features. maybe in 7.x depending on where we get to! cc @jreinhold

[2022-10-24 14:08] KorySchneider commented on #19541
@shilman Yep that's what I used. `resolutions` is just an alias for `overrides`. I tried it two ways:

[code]
and
[code]

[2022-10-24 14:16] csantos1113 commented on #15391
I'm confused, if this is the fix, couldn't we open a PR here in storybook to upgrade the dependency

[code]

Or what else are we missing?

[2022-10-24 14:22] JuhG commented on #12558
@shilman Thanks for the answer!

We'll do the workaround, but changing code based on developer tooling always feels wrong. :( It's good to hear, that there are plans on improving this! Thanks for your effort!

I assume there's no chance for a function similar to [propsParser](https://react-styleguidist.js.org/docs/configuration/#propsparser) to main.js which let's us override whatever SB detects?

[2022-10-24 14:26] IanVS commented on #15391
Yes, I've been working on upgrading jest in the storybook packages, but it's a bit complex because of the way that jest types are global and the interactions with jest-dom.  I'm waiting for some feedback on https://github.com/testing-library/jest-dom/pull/483.

[2022-10-24 14:33] Nxtivision commented on #19573
OK, it seems clearer now. If you need support on this one, I think I could be able to help you on this feature 🙂 We could ship this quite easily and support the Object described in the docs and this new one with a simple condition.

Thank you for your time !

[2022-10-24 14:40] barroudjo commented on #19541
Have you checked in your node_modules the package version of
react-test-renderer to see if the overrides/resolutions were respected ?

Le lun. 24 oct. 2022, 16:08, Kory Schneider ***@***.***> a
écrit :

[2022-10-24 14:54] KorySchneider commented on #19541
@barroudjo I believe I did but I'll try it again soon and see what I see. What I do remember is that in the logs, the TypeError was coming from `react-test-renderer@17.x.x` (with the overrides set in package.json)

[2022-10-24 15:23] iansan5653 opened #19605 "[Bug]: DocsPage does not respect story sort"
### Describe the bug

The DocsPage feature seems to be ignoring the sort order of my stories. For example, I have this `Avatar` component which exports five stories:

[code]

This looks correct in the story navigation sidebar:

<img width="212" alt="The sidebar section for 'Avatar'. Under the component name is (in order): Docs, Default, Square, Custom Size, Custom Alt Text, and Custom Styling." sr

[2022-10-24 17:35] ianvieira commented on #12687
I was able to workaround that with a also not pretty solution, but it works only on V6 Store, if I enable V7 Store, I have no access to the component on the story (btw, is this going to be like that in V7?):

[code]

[2022-10-24 17:59] peterctct commented on #14523
We're still experiencing this issue in 6.4.22, where optional props are being presented in Storybook with an `undefined` option even though a default prop is set within the component.

Is there an ETA on when this might be addressed?

[2022-10-24 18:42] thedamon commented on #17005
This worked for me in that it got the correct output in the correct files, but it's not including some decorators that I specifically made for testing. Is that expected? is there a way to include decorators?

[2022-10-24 18:57] #19525 closed

[2022-10-24 19:12] azabraao commented on #12464
Worked for me to copy'n paste my webpack configurations for sass modules into storybook configs:

[code]

[2022-10-24 19:26] tomjonkman commented on #9209
Hacky workaround using the status addon (when a story has status HIDDEN it will be hidden in the sidebar):

in `./storybook/manager.js`:

`function waitForElement(selector) {
  return new Promise((resolve) => {
    if (document.querySelector(selector)) {
      return resolve(document.querySelectorAll(selector));
    }

    const observer = new MutationObserver(() => {
      if (document.querySelec

[2022-10-24 21:12] OladapoAjala opened #19609 "[Feature Request]:"
### Is your feature request related to a problem? Please describe

In Storybooks documentation, the sample codes provided imports a Button component. However, the code for the Button component isn't provided.

This makes it difficult to understand the provided sample code as it lacks the necessary context to follow through.

Example Documentation: https://storybook.js.org/addons/@storybook/addon-i

[2022-10-24 21:13] Karaca7 commented on #728
I was getting the same error on storybook, I was trying to install with pnpm instead I deleted node_modules and package-lock.json file. I installed all dependecie with npm and then I solved the problem by install npx storybook init

[2022-10-25 00:42] tmeasday commented on #12687
@ianvieira this is code running in the manager (ie. in a `register.js`?). I'm not sure how component is making it over the channel in v6 mode, it's not serializable AFAIK.

[2022-10-25 00:54] ianvieira commented on #12687
@tmeasday Yes, it's on the manager.ts of my addon.

I believe it worth to mention that my component is a string, as I'm using Stencil and this is the best way to correlate the data. For other frameworks for sure the limitation applies.

Which raises me a question, how an addon is able to know the component a story refers to? Shouldn't this be exposed in someway on the Storybook API? I'd expect the

[2022-10-25 01:14] shilman commented on #9209
@dimitrieh There's also a CLI flag `--docs` that already does what you want (if I understand correctly). In 7.1 we'll be adding a much more flexible mechanism here.

[2022-10-25 01:29] shilman commented on #12558
@JuhG The only change required is adding an extra named export to your component file. We do this all the time for writing tests -- this isn't too different. You also need to write your stories a little differently--which is unfortunate--but those stories aren't your production code.

I'm not going to touch this in the short term. We could add more configuration, but it would just lead to more stu

[2022-10-25 02:03] tmeasday commented on #12687
@ianvieira what else is missing?

Usually the title of the "component" (ex-kind) contains the name of the component. Not sure what else you can do in a non-string-based context.

[2022-10-25 02:49] tuan-bui commented on #15820
We've also ran into this issue but on Mac also:

![Screen Shot 2022-10-25 at 1 47 38 pm](https://user-images.githubusercontent.com/39510058/197670462-02171a16-ac9a-46aa-a14a-5d341b6aa04f.png)

Wondering if anyone has any suggestions to fix this also? We've tried the above suggested solutions and they don't resolve the issue.

Version: nuxt-edge `2.16.0-27720022.54e852f`

[2022-10-25 04:10] reywright commented on #18961
Exact same issue `7.0.0-alpha.42`

[2022-10-25 06:22] DavidDudson commented on #18600
Turns out this is a duplicate of https://github.com/storybookjs/storybook/issues/17330 and there is a fix is here: https://github.com/storybookjs/storybook/commit/23a3438abbde0be05631a1cbd747fa1970a26806

Because its not in the 6.X line, the best solution is to use patch-package to patch this.

@tmeasday This can probably be closed as a duplicate

[2022-10-25 07:00] tmeasday commented on #18600
OK, thanks @daviddudson

[2022-10-25 07:00] #18600 closed

[2022-10-25 08:31] roeean commented on #14266
Hi! Is there news on this offer?
This sounds like an excellent proposal; it can significantly help in various projects.
@michaek

[2022-10-25 08:39] azinit commented on #7664
Still actual! :(

[2022-10-25 09:50] ryuran opened #19617 "[Feature Request]: Query param to hide toolbar"
### Is your feature request related to a problem? Please describe

We need to show an embedded story without toolbar but with panels.

The documentation say to use the inner iframe content: https://storybook.js.org/docs/react/sharing/embed#embed-a-story-without-the-toolbar.

But by this way it's not possible to display panels.

### Describe the solution you'd like

I would like a query param `tool

[2022-10-25 09:57] RafalBesztak commented on #18960
There's so quiet. Any progress on the issue?

[2022-10-25 10:12] ianvieira commented on #12687
@tmeasday I'm posting a summary of what I have in the story for V6 and V7 stores, using the `api.resolveStory(storyId)`:

V6:
[code]

V7:
[code]

On the V7 I cannot have any information to correlate a component with a story, none of them are safe as it would be based on the assumption that a title I don't control is the same of the html tag, what is an unsafe path and also not preferred as the com

[2022-10-25 11:24] daniel-ac-martin opened #19618 "[Bug]: react-docgen-typescript-plugin: Deprecation warnings after updating to TypeScript 4.8"
### Describe the bug

See: https://github.com/hipstersmoothie/react-docgen-typescript-plugin/issues/69

### To Reproduce

[code]

### System

[code]

### Additional context

Is there any chance that the [Storybook fork of react-docgen-typescript-plugin](https://github.com/storybookjs/react-docgen-typescript-plugin) could be updated to [v1.0.2](https://github.com/hipstersmoothie/react-docgen-typesc

[2022-10-25 11:38] MarceloArraes commented on #19349
The error remains for me..

[2022-10-25 11:39] shilman commented on #19349
@MarceloArraes do you have a reproduction you can share?

[2022-10-25 11:42] MarceloArraes commented on #19349
The repository is trying to deploy on githubpages here:
https://github.com/MarceloArraes/react-design-system

The error is like this:
`
npm run storybook

info @storybook/react v6.5.13
info
info => Loading presets
attention => Storybook now collects completely anonymous telemetry regarding usage.
This information is used to shape Storybook's roadmap and prioritize features.
You can learn more, inc

[2022-10-25 11:45] shilman commented on #19349
@MarceloArraes looks like this was only released in 7.0-alpha per my comment above. I'm not sure about the release schedule for the stable version, but maybe @ianvs or @joshwooding can comment here

[2022-10-25 11:46] SuperOleg39 commented on #19038
Looks like the problem is in Dual Package Hazard.

My decorator with `QueryClientProvider` import CommonJS version of `@tanstack/react-query`, but my application code import `.mjs` version, and I started to get the same error.

[2022-10-25 11:46] MarceloArraes commented on #19349
Yes yes, i'm sorry. I sended you the wrong error. When I update to your alpha i get this:

`react-ds@0.0.0 build-storybook

/tmp/build-storybook-3b3eca9[8](https://github.com/MarceloArraes/react-design-system/actions/runs/3312508880/jobs/5469259924#step:5:9).sh: 1: build-storybook: not found`

[2022-10-25 11:48] shilman commented on #19349
@MarceloArraes migration notes here

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#start-storybook--build-storybook-binaries-removed

We'll be adding an automigration to do this automatically, but for now you need to do it by hand. There might be some other useful migration notes there as well.

[2022-10-25 12:21] shilman commented on #19534
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.43 containing PR #19589 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-25 12:21] #19534 closed

[2022-10-25 13:00] jwloka commented on #17147
We ran into a similar issue. A brief analysis seems to indicate that the problem is twofold:

* (i) methods are ignored in the current implementation of `custom-elements#mapData` (and that might be for a reason?):

https://github.com/storybookjs/storybook/blob/7bcf944bbdb159bb38196dbad8ef48bcb2ed53dc/code/renderers/web-components/src/docs/custom-elements.ts#L80-L89

* (ii) properties with clashing

[2022-10-25 14:51] ppulwey commented on #16635
Any news here?

[2022-10-25 15:04] saltnpixels commented on #6188
This worked for me. Thanks. Need both svg and url loader. Otherwise some of storybooks svg's are broken.

[2022-10-25 15:09] saltnpixels commented on #6188
@buondevid worked for me, and makes sure not to break storybooks svg's.

https://github.com/storybookjs/storybook/issues/6188#issuecomment-940081810

[2022-10-25 17:32] alicnik commented on #19575
After some digging, it seems to be the same issue at heart as https://github.com/storybookjs/storybook/issues/12747. @burdisal perhaps the workaround there will work for you? Adding this to `parameters` in the story solved the issue for me:
[code]

[2022-10-25 17:52] vincent-lecrubier-skydio opened #19622 "[Feature Request]: Turbopack Builder"
### Is your feature request related to a problem? Please describe

Storybook with webpack can be slow to build and load

### Describe the solution you'd like

Create a new [builder](https://storybook.js.org/blog/first-class-vite-support-in-storybook/) based on [Turbopack](https://vercel.com/blog/turbopack)

### Describe alternatives you've considered

The [Vite builder](https://storybook.js.org/bl

[2022-10-25 18:42] keyvanm commented on #18094
For me just doing `npm i -D @mdx-js/react` did the job. Didn't need to pin the version nor add `overrides` to package.json

[2022-10-25 18:59] burdisal commented on #19575
@alicnik Thanks for the comment. Adding this does indeed solve this on my end.

[2022-10-25 19:03] sanbornhilland commented on #13375
As @antonselukh mentioned, there are some cases where you want to completely remount the component for testing purposes without polluting your production code with additional lifecycle handling that isn't needed. I've just run into this in a React application so I also agree with @Marklb that this would be a useful parameter to have in all cases (not just specific to angular).

In case this is use

[2022-10-25 21:08] jinglesthula commented on #13316
Having a similar issue with a tailwind.css file I'm importing into my .storybook/preview.js file.  Style changes don't show up unless I reload the whole page to pick up the changed tailwind.css file.

[2022-10-25 21:17] richard-jfc commented on #19605
It seems that the stories returned by https://github.com/storybookjs/storybook/blob/65957e6789bc57d506ca63e6f3be3927f110565e/code/lib/preview-web/src/render/TemplateDocsRender.ts#L67 are returned in alphabetical order.

I patched around it by changing https://github.com/storybookjs/storybook/blob/65957e6789bc57d506ca63e6f3be3927f110565e/code/lib/store/src/csf/processCSFFile.ts#L56 to
[code]

Unfor

[2022-10-25 22:58] tmeasday commented on #12687
So I don't think there's anything else in there that's interesting that's gone from v6->v7.

Like I said, I think the fact that component used to get passed over the channel was an accident and wouldn't have occurred in any non-string based framework.

My advice to reproduce something similar would be to put the component "name" in `parameters`. Appreciate that you can't do that dynamically, and i

[2022-10-26 01:41] TomFreudenberg commented on #18383
If I use:

[code]

and

[code]

I get this error:

[code]

If I try to set config option "runtime": "classic" the storybook won't start anymore and hangs on build at 53%

Still no solution for Storybook 6.x and React18

[2022-10-26 01:43] shilman commented on #18383
@TomFreudenberg which builder? FWIW we've fully updated in 7.0-alpha and it seems to be working well

[2022-10-26 01:46] TomFreudenberg commented on #18383
@shillman Hi Michael,

I am using WebPack 5

On production I am not able to switch to alpha release currently - sorry

[2022-10-26 01:57] shilman commented on #18383
@TomFreudenberg Looks like this might be addressed here https://github.com/storybookjs/mdx2-csf/pull/10. if i cut a release with that feature, would you be able to take it for a spin?

[2022-10-26 02:00] TomFreudenberg commented on #18383
For sure I do

Please let me know what to add / change for options in addition if necessary.

[2022-10-26 02:23] shilman commented on #18383
@TomFreudenberg On closer inspection that PR might be a red herring.

What does it look like when you go to the "Sources" tab in chrome and look at the compiled MDX source? I'm looking at an MDX2 Storybook now and it looks like this

![image.png](https://volta.s3.fr-par.scw.cloud/image_6ccb1f84f4.png)

Perhaps that is a clue for why your babel config is choking?

[2022-10-26 02:28] TomFreudenberg commented on #18383
@shilman I do not come to this point to check the source like that:

In the moment I enable MDX2 like in above comment https://github.com/storybookjs/storybook/issues/18383#issuecomment-1291366659

I can't start storybook anymore due to the pragmaError

If I don't enable MDX2, I got the error:

Introduction.stories.mdx:227 Uncaught TypeError: (0 , _mdx_js_react__WEBPACK_IMPORTED_MODULE_12__.mdx) i

[2022-10-26 02:34] shilman commented on #18383
@TomFreudenberg Ouch. Are you sure that you can't get MDX1 working with React 18? If this was a general problem I think I would've heard about it.

[2022-10-26 02:40] TomFreudenberg commented on #18383
@shilman, to be honest, I have not tried to enable MDX1 in our current environment. All I had read about that made myself a feeling of "too much (peer) dependencies" and so I left out MDX for our stories.

But for using DOCS addon it would be nice to have MDX working - that's why we brought it up again.

[2022-10-26 02:41] shilman commented on #18383
If you're having problems I'd recommend skipping MDX for now. We are making huge improvements to MDX in 7.0 and fully switching over to MDX2 as well, so if you're looking to pick it up, that might be a better time to do it.

[2022-10-26 02:43] TomFreudenberg commented on #18383
Yes - agree - let's do it in this way!

Thanks for discussion and feedback Michael @shilman

[2022-10-26 02:45] shilman commented on #18383
@TomFreudenberg you're very welcome! sorry this was causing problems. hoping we can get to a "just works" state in 7.0 and keep major releases coming more frequently so we can avoid more weird `peerDependency` hacks in the future

[2022-10-26 07:02] sauldeleon commented on #19622
Subscribed to this. Thanks for opening!

[2022-10-26 09:53] thovo commented on #13958
Remove node_modules and reinstall worked for me

[2022-10-26 11:01] ShayDavidson commented on #18663
Can confirm it only worked for me with the timeout solution by @fazulk

[2022-10-26 11:56] zalash333 commented on #17768
`// .storybook/main.js

const path = require('path');

module.exports = {
  ...
  webpackFinal: async (config) => {
    config.module.rules.push(
      {
        test: /\.s(a|c)ss$/,
        include: path.resolve(__dirname, '../'),
        use: [
          'style-loader',
          {
            loader: 'css-loader',
            options: {
              modules: {
                auto: true,

[2022-10-26 13:08] ArnaudGathy commented on #17768
Can you detail your configuration please ? Do you use any storybook presets / addon ?

[2022-10-26 15:00] JReinhold opened #19634 "[Bug]: Svelte stories errors with `'target' is a required option`"
### Describe the bug

When creating a fresh Svelte project and adding Storybook with `npx sb@next init`, none of the example stories render correctly, instead throwing the error:

[code]

Googling the error make it seems like it's a fairly common error related to modules, building or similar.

### To Reproduce

#### standalone SvelteKit setup
[code]

#### `svelte-vite/default-js` Sandbox
Within th

[2022-10-26 15:13] philmill commented on #18662
We were having issues with our GH action where we have addons array populated but still getting this error. What fixed for us was adding `--legacy-peer-deps` to npm install command. I noticed while upgrading Storybook to `6.5.13` that it mentioned using this flag with npm 8.

[2022-10-26 17:24] robstarbuck commented on #14686
My current fix for this is:

[code]

@shilman  _Thanks but your link now returns a 404_

[2022-10-26 18:40] bryanhidalgo commented on #18801
I had the same issue with '@storybook/preset-create-react-app`, I removed it and that fixed it.

[2022-10-26 20:03] yanestevesufjf commented on #6541
I was able to use ngx-translate just by creating a specific module for the storybook and adding the translation configuration.
My storybook.module.ts:

`import { TranslateModule, TranslateService, TranslateLoader } from "@ngx-translate/core"
import { TranslateHttpLoader } from '@ngx-translate/http-loader';
import { LOCALE_ID, NgModule } from '@angular/core';
import { HttpClient, HttpClientModule }

[2022-10-26 21:00] rafawalter commented on #17394
Same error here.

@angular 9.1
@storybook 6.5.12

[2022-10-26 22:23] JReinhold commented on #8112
So in summary there are two issues being discussed here:

1. `parameters.docs.iframeHeight` is undocumented, which is a shame.

Anyone is free to pick this up and do a PR for it. @guaiamum's suggestion of where to add it to the docs seems good to me. The gist is:
`parameters.docs.iframeHeight` can be a number that defines the min height in pixels - so not `"200px"` but just `200`. It defaults to `

[2022-10-26 23:12] ofirgeller opened #19640 "[Naming]: 'Interactions' or 'play functions'"
### Describe the bug

UI has one name, docs have both, was there a decision on this?

### To Reproduce

_No response_

### System

_No response_

### Additional context

_No response_

[2022-10-27 03:32] oscarmrom commented on #18319
@shilman I'm still getting this error on the latest v6.5.13 😞

doing a clean install following this: https://dev.to/alexeagleson/how-to-build-scalable-architecture-for-your-nextjs-project-2pb7#adding-storybook

Going to do this for the workaround: https://github.com/storybookjs/storybook/issues/18319#issuecomment-1173697483

[2022-10-27 04:36] Marklb commented on #13375
@sanbornhilland That hack made me think of one that could be done for the Angular renderer. I don't know enough about Storybook's React renderer, but I assume your hack could be wrapped into a decorator, like the following, also.

This decorator could be used to force a full rerender each time props changes, because changes in `moduleMetadata` cause the story to be fully rerendered. I put a provid

[2022-10-27 06:43] zalash333 commented on #17768
[code]
This is how my main.js file looks like. Nothing special

[code]
so I use

[2022-10-27 06:59] 365kim commented on #12022
Only @kinoli's solution worked for me. Thank you 👍

[2022-10-27 09:43] robotkutya commented on #18696
@goddancer that kind of defeats the purpose though, no?

Does anyone have a solution for this using the vite builder?

[2022-10-27 09:44] gbkwiatt commented on #19634
Exactly same here. So seems like more of a "global" issue rather than single example

[2022-10-27 09:51] tgelu commented on #12135
This seems to be tagged as "has workaround". What is the workaround @shilman ? :)

[2022-10-27 10:17] shilman commented on #12135
@tgelu In the original issue description @robbertkl mentioned that it works if he adds a layout parameter to the `Story` block, so I added `has workaround` label. I did not verify the behavior. Though re-reading the issue I doubt that actually works. Removing the label, but please let me know if you find a workaround!

[2022-10-27 10:32] jayarjo commented on #12109
@iamandrewluca neither one has any effect for me for some reason. Do you need to add some addon for this to have an effect?

[2022-10-27 10:47] JulesTRC commented on #12782
For anyone using Storybook with Vite and Linaria this works for me

[code]

[2022-10-27 11:25] kasperpeulen commented on #19634
Pff, super strange, I don't think I touched runtime code indeed.

I do import svelte here, which could maybe have an effect?

https://github.com/storybookjs/storybook/blob/75d5e18972ebe0325981210adbe520a5038fd41c/code/renderers/svelte/src/render.ts#L1-L11

This could be an `import { SvelteComponentTyped } from 'svelte'`, to make sure that didn't break anything.

[2022-10-27 11:48] thielium commented on #19622
Worth reading about [migration from webpack](https://turbo.build/pack/docs/migrating-from-webpack) from the docs.

Anxiously awaiting this, but I acknowledge the technical hurdles.

[2022-10-27 15:35] dhananjaysa92 commented on #16774
I would like to look into it and fix. Pls confirm if anybody looking into.

[2022-10-27 15:41] dhananjaysa92 commented on #16774
I started to look into

[2022-10-27 17:32] dhananjaysa92 commented on #6114
checking

[2022-10-27 18:01] IanVS commented on #19622
Hi, I'm one of the maintainers of the Storybook Vite builder.  I think it would be a great idea to create a Turbopack builder, and Storybook itself is well set up to support new builders. We have already gone through the process of integrating with a community-created builder (`storybook-builder-vite` from @eirslett), proving it out, and eventually bringing it into Storybook itself as a [first-cla

[2022-10-27 18:08] joshwooding commented on #19485
The manager is built with webpack but the preview is built with vite. So this is normal in v6, in v7 the manager will be prebundled so only vite will be used when using the vite builder.

There's more explanation on preview vs manager here: https://storybook.js.org/docs/react/builders/overview

[2022-10-27 18:08] #19485 closed

[2022-10-27 18:13] joshwooding commented on #19455
You will need to add a vite twig plugin (e.g. https://github.com/fiadone/vite-plugin-twig) to your viteFinal in your main file.

Here are some instructions showing how to customise the vite config: https://github.com/storybookjs/builder-vite#customize-vite-config

[2022-10-27 19:15] xCryzed commented on #19622
I would really appreciate this, too 🙌🏻

[2022-10-27 21:45] joshwooding commented on #19349
@MarceloArraes 0.2.5 has been released which should fix this if you're on v6

[2022-10-27 22:03] shilman commented on #19634
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.45 containing PR #19653 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-27 22:03] #19634 closed

[2022-10-27 22:04] shilman commented on #19634
@JReinhold @kasperpeulen any idea why this wasn't caught in CI?

[2022-10-27 22:08] IanVS commented on #19634
It only failed when starting storybook in dev mode, not in production.  We don't have any tests that start storybook and navigate to stories, as far as I know.

[2022-10-28 01:04] shilman commented on #19634
Aha makes sense. @ndelangen @tmeasday any thoughts about this?

[2022-10-28 03:55] tmeasday commented on #19634
I guess it makes the case we should smoke test all sandboxes after all @ndelangen

[2022-10-28 06:14] taitems commented on #12622
FYI for anyone else who ends up here, I was receiving this on `Storybook 7.0.0-alpha.40 for svelte-vite`, because a default install of this plugin goes to `6.5.x`. Matching the versions made it go away.

[code]

[2022-10-28 06:28] ndelangen commented on #19634
That's not great news. So we have to figure out how to run all of them..

[2022-10-28 07:57] lazysergey commented on #5598
latest 6.5.13 still has the same

[2022-10-28 08:14] gbkwiatt opened #19663 "[Bug]: all svelte stories fail `does not provide an export named 'combineParameters'``"
### Describe the bug

on latest alpha.45 after fixing one regression, another happens, and all stories don't work at all

`The requested module '/node_modules/.cache/.vite-storybook/deps/@storybook_client-api.js?v=d02afa6c' does not provide an export named 'combineParameters'`

### To Reproduce

_No response_

### System

_No response_

### Additional context

_No response_

[2022-10-28 08:42] JReinhold commented on #19634
Just to be explicit, for us to have caught this bug in CI, we would need to:

1. spin up a Storybook dev server
2. Visit each story in a "browser"
3. See that the preview is showing the error view

Non-trivial.

[2022-10-28 10:39] IanVS commented on #19634
I think the test runner could handle smoke testing the stories after launching the dev server, right?  And honestly, since we're already testing each story in the prod build, it might be enough to just test one story in dev. Normally with this kind of issue they all break, not just one or two.

[2022-10-28 10:44] stefanoschrs commented on #16386
Same issue here. When running Storybook all the enums stop working, when you rename the enum and rebuild it works...

[2022-10-28 11:17] IanVS commented on #12622
@taitems note that you can also use `npx sb@next add @storybook/addon-a11y` to install an addon, which will use the right version, and will add it to your `.storybook/main.js` for you.

[2022-10-28 11:24] Grsmto commented on #16941
The way I have worked around that is by defining the args as a mock function directly:

[code]

[2022-10-28 11:58] JReinhold commented on #19663
I'm not able to reproduce this, tried with the `svelte-vite/default-js` sandbox.

Can you provide a minimal reproduction?

Have you tried deleting the `node_modules/.cache` folder after upgrading?

[2022-10-28 12:34] tmeasday commented on #19634
That's pretty fair, I think the test-runner at a dev server is a much better test than the smoke test. WDYT @ndelangen?

[2022-10-28 12:49] gbkwiatt commented on #19663
ok so I figured that it happens with latest `@storybook/addon-svelte-csf` 3.0.0.next but not with `2.0.9`

[2022-10-28 13:45] gbkwiatt opened #19671 "[Bug]: Svelte - Decorators not working at all"
### Describe the bug

I was trying to apply decorators on my sveltekit storybook. But no matter how I do it it's just not being wrapper at all, either globally or component. I was thinking maybe class is not being picked up by tailwind, but I can't find that div with a class anywhere in the code

### To Reproduce

Here is an example of `mdx` file
[code]
and my Decorator.svelte
[code]

or I've trie

[2022-10-28 14:29] shilman commented on #11554
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.46 containing PR #19004 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-28 14:29] shilman commented on #18732
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.46 containing PR #19655 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-28 14:29] shilman commented on #19533
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.46 containing PR #19661 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-10-28 14:29] #19533 closed

[2022-10-28 14:32] The-Code-Monkey commented on #19622
Maybe we should ping one of the devs from TurboPack to make sure they are aware that this is something the community would love

[2022-10-28 14:52] The-Code-Monkey opened #19674 "[Bug]: Webpack 5 needed for nullish coalition but webpack 5 and esm dont work"
### Describe the bug

So i have a ESM repo that a package breaks when you update it to the latest version for some reason due to nullish coalition.

but when i setup webpack 5 i get this error on boot.

[code]

### To Reproduce

[code]

### System

[code]

### Additional context

_No response_

[2022-10-28 15:30] IanVS opened #19677 "[Bug]: Reference to @storybook/mdx1-csf still exists in 7.0"
### Describe the bug

A user was having a problem in Discord, getting this warning:

![image](https://user-images.githubusercontent.com/4616705/198675435-5443b05f-e6cd-4bf6-860e-a82550c6f408.png)

The only place I can still see `@storybook/mdx1-csf` still being referenced is in https://github.com/storybookjs/storybook/blob/4368b1569df0f2b296189ad5f3f8add9522d4ddd/code/addons/docs/mdx-compiler-plug

[2022-10-28 15:30] gbkwiatt commented on #19663
Here it is, minimal reproduction - basically any svelte component
https://github.com/gbkwiatt/generic-sveltekit-storybook

[2022-10-28 17:05] naquarius commented on #18794
running into same issue here, any help is appreciated

[2022-10-28 19:22] itsajay1029 commented on #13632
Is anyone working on this issue ?

[2022-10-29 06:58] emojivibe commented on #19677
can i do this?

[2022-10-29 10:37] rfgamaral commented on #13604
I think we are also seeing a similar issue (if not the same exact issue) as the 3 comments above mine.

@phobetron @k4lu-0p @rpressburger Have any of you found any workaround to this issue?

[2022-10-29 13:38] IanVS commented on #19677
Sorry, it's already done in https://github.com/storybookjs/storybook/pull/19681

[2022-10-29 14:56] XuluWarrior opened #19685 "[Feature Request]: More discoverable docs for alternatives to React"
### Is your feature request related to a problem? Please describe

I've been in the process of creating a Storybook for our Ember app and although the [Storybook for Ember tutorial](https://storybook.js.org/tutorials/intro-to-storybook/ember/en/get-started/) gives a decent starting point, when attempting to go deeper in the docs, one is very quickly dumped back in React land.

Any Googling for Sto

[2022-10-29 15:04] yannbf commented on #19622
Seems like we should expand that chat at some point @mattpocock

[2022-10-29 15:06] XuluWarrior commented on #19685
Actually, having taken a look at the other frameworks supported by Storybook, it looks like the issue I describe might be Ember specific.

https://storybook.js.org/docs provides proper sample code for the other frameworks.

Adding the appropriate snippets to https://github.com/storybookjs/storybook/tree/next/docs/snippets would go along way to resolving the above.

[2022-10-29 15:12] jonniebigodes commented on #19685
@XuluWarrior, thanks for taking the time and reaching out to us with your question. We appreciate it. To be honest with you, I was the original author of the Ember version of the tutorial, and with the expert guidance of some of the Storybook Ember maintainers, we were able to get it to its current point. I'm aware of the fact that it's a bit outdated and requires some work, and so does the offici

[2022-10-29 15:27] XuluWarrior commented on #19685
I think I might be able to make some time to contribute towards the code snippets.
The code samples I've seen have predominantly been "classic" Ember.  We use "Octane" and I am happy to contribute in that dialect.  But I guess for completeness there would need to snippets for both.

[2022-10-29 16:08] jonniebigodes commented on #19685
I'll leave it to you then to choose the path you're willing to go with. If you're willing to start with the code snippets, my recommendation is to start by reading the [contribution documentation](https://storybook.js.org/docs/react/contribute/new-snippets) for snippets and examples and if you're aiming for completeness and you're willing to support both versions (e.g., classic and Octane) I would

[2022-10-29 18:08] joeheyming commented on #15175
Is this still an issue?  can I try taking it?

[2022-10-29 19:43] veritymedia commented on #18111
@IanVS I had the same issue as OP and I tried using v7-alpha. At least, it installed well, and I actually see the storybook deps in package.json. As although SB starts, it instantly crashes as it cant resolve ``` @storybook/addon-docs/preview``` :(

[2022-10-29 21:39] harshitsharma-toddle commented on #18623
is there any update on this ?

[2022-10-29 22:06] IanVS commented on #18111
@veritymedia yep we're still working on that part. The addons that are bundled in addon-essentials can be installed in your project manually for now, there are about half a dozen of them. We'll find a better way to handle them soon, I hope.

[2022-10-29 22:07] JumboWumbus commented on #1900
@vanluke
Necro post sorry xoxo
Spent an ungodly amount of time looking for a solution, yours is the one that worked.

[2022-10-30 07:20] thebinaryfelix commented on #18045
I'm having the same problem as @sivaraj-v and I'm trying to debug but it's gone beyond my capabilities for now.

This is what I've discovered so far:

The error only appears when this function gets called:
`require$$2.render(React$2.createElement(Root,{key:"root",provider:provider}),domNode)` inside `@storybook/ui/dist/esm/index.js`. Which I assume it's the [renderStorybookUI](https://github.com/s

[2022-10-30 09:12] #18045 closed

[2022-10-30 09:12] shilman commented on #18045
Closing this as fixed by https://github.com/storybookjs/storybook/pull/17215

[2022-10-30 12:48] bjankord commented on #8011
You might try wrapping a div around your story with the following CSS:
[code]

[2022-10-30 17:53] SeepG commented on #18732
Haven't been able to look at 😞 [lib/channel-websocket](https://github.com/storybookjs/storybook/blob/next/code/lib/channel-websocket/package.json), if anyone is interested please feel free to pick it up.

[2022-10-30 20:15] azat-io commented on #19513
Same error with `@storybook/react-vite`:

[code]

[2022-10-30 22:13] bryanjtc commented on #18732
@SeepG I can

[2022-10-30 22:45] Arahis commented on #19038
Have the same issue, any workaround found?

[2022-10-31 07:34] ketimaBU commented on #19381
Facing the same issue here :/ after upgrading react to 18, and RN to 0.70

[2022-10-31 07:56] MaKs-Tkachyk commented on #6408
tkanks, helped me

[2022-10-31 08:02] SuperOleg39 commented on #19038
For me, excluding `import` condition from bundle process, works:

[code]

[2022-10-31 08:21] SuperOleg39 commented on #19038
Ofc looks like an antipattern

[2022-10-31 09:24] daphnesmit commented on #18559
N Could not resolve dependency:
npm WARN peer react@"^16.8.4 || ^17.0.0" from react-inspector@5.1.1
npm WARN node_modules/@storybook/addon-actions/node_modules/react-inspector
npm WARN   react-inspector@"^5.1.0" from @storybook/addon-actions@6.5.13

[2022-10-31 09:55] Etzix commented on #17220
Remember that you only have to have Storybook as a dev dependency, so aslong as you skip dev when doing audits, your repos should be fine.

[2022-10-31 10:00] KrofDrakula commented on #19504
@tmeasday I thought that was intentional; I've seen this behaviour last time I was diving in the story rendering code, but wanted to preserve existing behaviour since I didn't really know whether it was intentional or not.

[2022-10-31 10:17] fabis94 opened #19691 "[Bug]: SB7 `env` config option missing"
### Describe the bug

The docs reference an `env` function that can be set in `main.js` to adjust env vars that will be loaded in Storybook. The TS types show that such a property doesn't exist, however, and it doesn't seem to work even if added. So what's the replacement for this?

Sure, you can still auto-load env vars prefixed with `STORYBOOK_` but that is bad DX considering that I'd have to wr

[2022-10-31 11:42] The-Code-Monkey commented on #15335
@ndelangen How long until we have a working version of v7 as you cannot use webpack 5 and v7 ATM.

[2022-10-31 13:48] dcastil opened #19692 "[Bug]: Storybook build and dev server not working after updating to Node.js 18"
### Describe the bug

After I updated from Node.js 16 to 18, the `storybook-build` command fails with following error message:

[code]

### To Reproduce

Run this in the CLI:

[code]

### System

[code]

### Additional context

The problem seems to be [due to a change in the OpenSSL API in Node 17](https://stackoverflow.com/questions/70582072/npm-run-fails-with-err-ossl-evp-unsupported). There is

[2022-10-31 14:27] shilman commented on #17220
AFAIK all high severity npm audit issues are fixed in SB7

To upgrade to the latest prerelease:

[code]

[2022-10-31 14:28] #17220 closed

[2022-10-31 16:00] sid-the commented on #714
None of the images were loading within my pipeline but worked fine locally, ended up being because the components were fetching images using a relative path `<img src="/my-image" />` which apparently is not allowed using the[ file protocol](https://stackoverflow.com/questions/7857416/file-uri-scheme-and-relative-files).

I ended up doing 2 things:

1. Updating the static dirs directory to use the

[2022-10-31 16:00] CraigWatt commented on #19692
downgrading node to v16.13.0 avoids the error for me.  Not really a valid solution though...

[2022-10-31 16:05] Sid-Turner-Ellis commented on #714
None of the images were loading within my pipeline but worked fine locally, ended up being because the components were fetching images using a relative path `<img src="/my-image" />` which apparently is not allowed using the[ file protocol](https://stackoverflow.com/questions/7857416/file-uri-scheme-and-relative-files).

I ended up doing 2 things:

1. Updating the static dirs directory to use the

[2022-10-31 16:23] inthegreenwild opened #19693 "[Bug]: storyshots does not work with vue3"
### Describe the bug

Storyshots does not work with Vue3

Error:
 FAIL  ./storyshots.test.js
  ● Test suite failed to run

    Your test suite must contain at least one test.

      at onResult (node_modules/@jest/core/build/TestScheduler.js:172:18)
      at node_modules/@jest/core/build/TestScheduler.js:300:17
      at node_modules/emittery/index.js:311:13
          at Array.map (<anonymous>)

[2022-10-31 16:35] dcastil commented on #19692
I also just noticed that the Storybook dev server also doesn't work anymore in Node.js 18. I updated the issue description to include that.

[2022-10-31 16:44] CraigWatt commented on #19692
Looking around this does seem to be a node specific issue...

I guess I would want to ask anyone using storybook, are they able to run / build storybook using node 17 or 18 at all?

Does everyone just use Node 16?

[2022-10-31 18:49] Emil-Ekman commented on #13332
Deleting node_modules & package-lock.json then running `npm i` resolved it for me.

[2022-10-31 18:50] Emil-Ekman commented on #18696
Deleting node_modules & package-lock.json then running npm i resolved it for me.
using "@storybook/builder-vite": "^0.2.5",

[2022-10-31 18:59] CraigWatt commented on #19692
I'm currently checking the following in storybook docs... https://storybook.js.org/docs/react/builders/webpack

[2022-10-31 19:06] CraigWatt commented on #19692
Bingo!  i think this solves it.  by default storybook uses Webpack 4.  if you set storybook to use Webpack 5, i am able to run yarn storybook on node v18.2.0

https://storybook.js.org/docs/react/builders/webpack

@dcastil can you let me know if this solves the issue for you too?

[2022-10-31 20:59] dcastil commented on #19692
Hey @CraigWatt! Ah nice that it works with webpack5. Unfortunately I can't switch to it in my app because we're using the Vite builder which forces us to use `@storybook/builder-vite` for Storybook. But I guess that makes this a problem in the Vite builder rather than Storybook itself.

After some searching I also came along a definitive answer to the problem in https://github.com/storybookjs/buil

[2022-10-31 20:59] #19692 closed

[2022-10-31 21:48] michaeljsalo commented on #8375
We're still missing some details on custom events fired from Stencil web components.  On Storybook v6.3.13, Storybook Actions tab reports the 'event.target' property as undefined, for all events.  If I console log the same event, I can see the event.target successfully.

[2022-10-31 22:59] tmeasday commented on #19504
Hey @KrofDrakula. I'm not quite sure what was intended by who/when but the "correct" behaviour in Storybook is that the story/component should remount when you change story (or a couple other events) but should re-renderer without remounting when you change args or globals.

[2022-11-01 00:52] shilman commented on #15335
@The-Code-Monkey v7 works with webpack5. what problems are you seeing?

[2022-11-01 01:01] shilman commented on #18559
@ismay mdx has been upgraded in v7 `npx sb@next upgrade --prerelease`

@daphnesmit npm audit warnings are fixed in v7. can't be fixed in v6 due to semver/breaking changes in dependent packages.

[2022-11-01 01:52] SwimmingPolar opened #19695 "[Bug]: Storybook freezes when trying to change args through Controls"
### Describe the bug

Not really sure if it's a bug or me just doing things in a wrong way but I have some leads why storybook freezes.
I think it happens when trying to provide react-router-dom's memory router to story through component decorators.

Here's a repo to the code.
https://github.com/SwimmingPolar/storybook-freeze

[code]

It's just simple navbar rendering a list of menu items it took

[2022-11-01 02:24] SwimmingPolar commented on #19695
![image](https://user-images.githubusercontent.com/53928959/199144932-c2218778-34cf-4211-8dbd-ccb29823a7ba.png)

It looks like components are not unmounting properly when attempt to change values from Controls panel. It jumps straight into fresh rendering of the entire component tree. Maybe that's what's causing the freeze?

[2022-11-01 04:22] shilman commented on #8527
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.47 containing PR #19684 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-11-01 04:22] shilman commented on #19677
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.47 containing PR #19681 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-11-01 04:22] #8527 closed

[2022-11-01 04:22] #19677 closed

[2022-11-01 08:01] admir86 opened #19696 "[Bug]: non-story content not working with angular components"
### Describe the bug

Canvas without Story but using angular components inside, is not working. I followed [this docs](https://storybook.js.org/docs/angular/writing-docs/doc-block-canvas#non-story-content).

There seems to be a problem with instantiation:
![image](https://user-images.githubusercontent.com/36576424/199184444-4dea1402-089b-4889-85ae-80f7f7f0d4ef.png)

My Component
[code]

My mdx sto

[2022-11-01 11:36] spaceribs commented on #17330
This issue appears to have been fixed in https://github.com/storybookjs/storybook/releases/tag/v6.5.13 and https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.34

[2022-11-01 11:36] #17330 closed

[2022-11-01 11:56] KrofDrakula commented on #19504
@tmeasday Yeah, that makes much more sense to me; it always bothered me that it completely unmounted the components when changing any parameter.

[2022-11-01 13:37] IanVS opened #19700 "Vite and Webpack builders handle .env files differently"
### Describe the bug

In Vite, environment variables specified in .env files are only injected into the client if they start with `VITE_`.  For the Storybook builder, we add `STORYBOOK_` as well, and this setting is configurable by the `envPrefix` Vite setting.  This also applies to environment variables specified in the `env` preset field, since calling `presets.apply('env')` returns all variable

[2022-11-01 13:56] shilman commented on #11908
@SushkaVlad you're correct that's the only option for now

@tmeasday will any of the recent docs rearchitecture address this limitation of addon-docs custom useArgs hook for iframed stories?

[2022-11-01 14:12] shilman commented on #15175
Closing as fixed in SB7. Please try upgrading to the latest prerelease:

[code]

[2022-11-01 14:12] #15175 closed

[2022-11-01 15:13] totszwai opened #19701 "[Bug]: storyStoreV7 completely break stories"
### Describe the bug

Before v7
[screencast-nimbus-capture-2022.11.01-11_06_55v6.webm](https://user-images.githubusercontent.com/4440365/199266696-206849aa-bfd4-4416-8fc4-537b65c6f84f.webm)

After v7
[screencast-nimbus-capture-2022.11.01-10_59_50.broken.webm](https://user-images.githubusercontent.com/4440365/199266754-fbca90cf-4f8b-4b4e-ba72-dbf0f8bb76cd.webm)

### To Reproduce

[code]

preview.js

[2022-11-01 15:19] MathRivest commented on #17996
I had the same problem and after messing around I found that adding `/register` after the `addon-action` worked for me. Without it, I kept getting the `TypeError: (intermediate value) is not iterable` error

[code]

[2022-11-01 16:36] #18421 closed

[2022-11-01 18:11] certainlyakey commented on #548
Clearly as @prantlf mentioned there's a regression - in Storybook 6 it's not possible anymore to sort stories of a specific component in the source code order, while in Storybook 5 it was possible.

[2022-11-01 19:22] kylemh commented on #8527
Hey @shilman would you like the bounty to go to you, SB, or to @izhan who I saw you reference in the PR?

[2022-11-01 20:06] domyen opened #19703 "[Bug]: Docs: Update link to Testing Library user-events page"
### Describe the bug

Update link for "official user-event docs" in the Interaction Testing docs [here](https://storybook.js.org/docs/react/writing-tests/interaction-testing#api-for-user-events) to point to the latest user-event docs (instead of the recently deprecated 13.5 docs).

<img width="863" alt="image" src="https://user-images.githubusercontent.com/263385/199329705-8be548a8-707b-4221-8a90-

[2022-11-01 20:47] izhan commented on #8527
@kylemh it 100% should not go to me, @shilman did the actual work here :)

thank you @shilman for adding this feature!

[2022-11-01 20:49] kylemh commented on #8527
alrighty! just claim it by clicking the badge on OP @shilman

[2022-11-01 20:50] SushkaVlad commented on #11908
@shilman Thanks a lot)

[2022-11-01 22:06] tmeasday commented on #11908
@shilman I don't think we've changed the implementation, but then again it uses the channel so it's not clear to me why it wouldn't work. Probably something we should look at while we revisit the `ArgsTable` component cc @JReinhold

[2022-11-01 22:07] tmeasday commented on #11908
Oh, is the issue that we have a preview embedded inside a preview and messages aren't making it three layers deep? I guess that's probably the problem, scratch what I just said above.

I don't think anything we are doing will influence this problem. It's sort of orthogonal to everything else.

[2022-11-02 01:23] shilman commented on #8527
@izhan next time i'm in SF, dinner's on me!!

[2022-11-02 03:14] bryanjtc opened #19707 "[Bug]: Yarn pnp support broken on 7.0.0-alpha.47"
### Describe the bug

After installing storybook 7.0 on a react-vite project with yarn v3 pnp, the following error shows up on mdx files:
`Uncaught TypeError: Cannot read properties of undefined (reading 'fonts')`
![image](https://user-images.githubusercontent.com/49354825/199386643-a1f813e4-47e5-4135-97f5-2a99155db0c1.png)

### To Reproduce

[code]

### System

[code]

### Additional context

_No

[2022-11-02 03:17] LucasZheng opened #19708 "[Bug]: canvas render nothing after change some story"
### Describe the bug

I wrote some stories to render vue components. It's ok when I refresh each story page, but when I click continuously between each story, some stories render nothing in canvas tab, there are no warnings or erros in console tab(Chrome browser), also there are no relative doms in element tab. The code of which story not work as below:

`import Vue from "vue";
import ElementUI fr

[2022-11-02 03:28] AmishBaztard opened #19709 "[Bug]: docgen not being loaded with my vue setup"
### Describe the bug

The docgen doesn't get loaded. Here is my barebones repo:

https://github.com/AmishBaztard/privateStorybook

### To Reproduce

[code]

### System

_No response_

### Additional context

_No response_

[2022-11-02 03:50] madeleineostoja opened #19710 "[Feature Request]: [@storybook/nextjs] Are there any plans to support @next/font loading?"
### Is your feature request related to a problem? Please describe

I'm using Storybook v7 with NextJS 13, which introduced a new way you have to load fonts, using the [`@next/font`](https://nextjs.org/docs/api-reference/next/font) package. It would be wonderful if Storybook supported this since Next abstracts away the output fonts.

### Describe the solution you'd like

For Storybook to support us

[2022-11-02 03:57] madeleineostoja opened #19711 "[Bug]: [@storybook/nextjs] Using @next/font breaks storybook v7"
### Describe the bug

Using Next 13's new `@next/font` font loader, which is required for loading fonts in the new `/app` routes directory, breaks storybook v7 if it is referenced. Not sure if something can be done to shim it here or if it needs to be fixed upstream.

The workaround is to ensure that no code that touches storybook references the font loader (eg: global styles etc), which could be

[2022-11-02 04:00] madeleineostoja commented on #19710
Closing in favour of a bug report as it's easy to get caught out, if storybook uses any code that references the font loader (eg: global styles): https://github.com/storybookjs/storybook/issues/19711

[2022-11-02 04:00] #19710 closed

[2022-11-02 07:02] rohanrajpal commented on #15675
Was quite excited with the announcement of first class Vite support

https://storybook.js.org/blog/first-class-vite-support-in-storybook/

But I guess since 7.0 is in Alpha, still some work is required.

For now, it installs yarn on my project, tho everything sets up correctly but I think yarn is not required, right? Maybe pnpm support in 7.0 is yet to catchup .

On running ` pnpx sb@next init --b

[2022-11-02 07:48] tfrijsewijk commented on #8375
Thinking aloud: The event comes from an element in an iframe. I wouldn't be surprised that the communication is done using serialization, which inadvertently means loss of data: you can't serialize a reference to an element.

![image](https://user-images.githubusercontent.com/9696261/199430128-86b70611-0e83-4fdb-89a5-c003da44bf1d.png)

[2022-11-02 08:26] Allenice commented on #18408
+1

[2022-11-02 13:27] coler-j opened #19719 "[Bug]: Dead links in docs (everywhere)"
### Describe the bug

Many of your website docs have links that are dead.

For example: https://storybook.js.org/docs/react/configure/babel

![image](https://user-images.githubusercontent.com/7839615/199501323-96b81d8a-9258-4ec2-acc6-9bd23f8cadb7.png)

The "source" link goes to "https://github.com/storybookjs/storybook/blob/next/lib/core-common/src/utils/babel.ts"

Which does not exist.

I think i

[2022-11-02 14:01] roeean opened #19721 "[Bug]: /sb-addons/node_modules/%40storybook/addon-*/manager.mjs not found (404) after build"
### Describe the bug

Greetings,

I'm experimenting with version 7, which looks great so far!

After the build, when I try to load the **static version** of my storybook, it loads pretty slowly, while the following errors appear in the console:

<img width="554" alt="image" src="https://user-images.githubusercontent.com/85000486/199508251-d230390f-4f5b-47e5-86b5-0d65a129fd82.png">

The same thing

[2022-11-02 14:19] ryuran commented on #11984
Hello!

I have a complex storybook using conditional knobs to migrate to controls.

Some knobs are visible only in specific case. With complex condition.

like
[code]

It's currently not possible with controls: https://github.com/storybookjs/storybook/discussions/18542

[2022-11-02 14:56] yannbf commented on #19711
Hey @madeleineostoja thanks for opening this issue. This is definitely something we want to get working, but it's really tricky, given how the `@next/font` component works. I could be wrong, but I think it:
- Requests the font assets that you need at build time (as you run next dev)
- Stores them as media in the .next folder
- Creates a global css which gets injected somehow
- Provides you a class

[2022-11-02 17:10] NourIM commented on #17329
I'm having same issue and having deadline to deliver the storybook and I'm sooooo blocked :(

[2022-11-02 17:15] michaeljsalo commented on #8375
Oddly enough we are seeing values for 'currentTarget' and 'srcElement' properties. It's just 'target' that's showing as undefined.
![Screen Shot 2022-11-02 at 12 12 37 PM](https://user-images.githubusercontent.com/1945279/199556684-1c4bfabf-e527-4650-b8cf-aca58a1a50bc.png)

[2022-11-02 18:06] shilman opened #19727 "[Bug]: newFrameworks automigration should respect builder"
### Describe the bug

From [discord](https://discord.com/channels/486522875931656193/915642585761075280/1037393201620852756):

### To Reproduce

_No response_

### System

_No response_

### Additional context

_No response_

[2022-11-02 18:07] shilman opened #19728 "sb-scripts automigration unable to migrate script"
[code]

[2022-11-02 18:16] IanVS opened #19729 "[Bug]: Docs for MDX builder support are incorrect"
### Describe the bug

In the builder [documentation](https://github.com/storybookjs/storybook/blob/e414b9ed958057562e92551724991d325648b843/docs/snippets/common/storybook-builder-api-mdx.ts.mdx) for supporting mdx, it mentions:

[code]

But there is no such export.

The [vite mdx plugin](https://github.com/storybookjs/storybook/blob/e414b9ed958057562e92551724991d325648b843/code/lib/builder-vite/sr

[2022-11-02 18:16] shilman opened #19730 "builder-vite does not export StorybookViteConfig anymore, it is now StorybookConfig"
See https://gist.github.com/mihkeleidast/af2e01ee4672804ed79d903a1093a7ab

[2022-11-02 18:18] shilman opened #19731 "typescript.checkOptions has been removed"
See https://gist.github.com/mihkeleidast/af2e01ee4672804ed79d903a1093a7ab

[2022-11-02 18:20] shilman opened #19732 "Automigration: Clean up features object"

[2022-11-02 18:44] mihkeleidast opened #19733 "Improve migration docs for MDX2 markdown import"
### Describe the bug

Importing a markdown file (changelog) that includes some "special syntax" causes the mdx page to not render.

Minimal markdown:

[code]

The two issues in there are:
- `<IconSort/>` is not wrapped in backticks, so mdx2 treats it as a component, but does not find the import
-
- It does not like the email syntax `<foo@google.com>`
  - Error in browser: `Failed to fetch dynamica

[2022-11-02 19:10] zackphilipps commented on #14489
Adding this to `package.json` fixed the issue for me:

[code]

[2022-11-02 19:12] CWSites commented on #19057
@SalahAdDin were you able to figure out a solution? If so what changes did you make. I have a pretty basic `typescript` setup and I'm using `.stories.tsx` for my Storybook files.

[2022-11-02 22:15] mikestecker commented on #19571
Following. Having the same issue.

[2022-11-02 22:29] JonHaywood opened #19736 "[Bug]: Storybook Production Build Takes Over An Hour When Importing FontAwesome"
### Describe the bug

When a story imports a component that uses the FontAwesome npm package, build time skyrockets. On my local machine it takes around 20 minutes for my entire project, but over an hour on my build server.

I'm using React and MDX stories. I can reproduce the 20 minute build consistently with all the files in my project. But I can also reproduce it when I have just one MDX story,

[2022-11-03 00:01] velidan commented on #17329
The same problem

[2022-11-03 00:03] velidan commented on #17329
@NourIM try to check the dev tools console. I had the same problem but then I checked the console and found that some import was undefined

[2022-11-03 00:52] jdubs1994 commented on #25
did you ever figure out how to fix it?

[2022-11-03 00:52] jdubs1994 commented on #25
Did you ever figure out how to fix it?

[2022-11-03 01:12] shilman commented on #25
@jdubs1994 you can run your stories in iframes using the `docs.iframeStories = true` parameter. however, this has performance implications

[2022-11-03 01:18] shilman commented on #19729
Taking this one @jonniebigodes . I'll readdress this after the 7.0 MDX handling is finalized

[2022-11-03 01:39] shilman commented on #19733
@JReinhold would love to brainstorm about this one. the issue is that MDX2 has gotten a lot more strict about markdown syntax than MDX1, so things that "transcluded" properly don't anymore.

We could either:
1. Explain to users in the migration notes
2. Figure out a different way to import and render markdown in MDX

[2022-11-03 04:41] #18422 closed

[2022-11-03 08:22] SalahAdDin commented on #19057
Either you remove all type paths so Typescript gets them itself, or you include the `storybook` path to the `types` option, I hope I remember it well.

[2022-11-03 09:53] yannbf opened #19739 "Preact: Missing addon-docs support"
Preact seems to not have proper addon-docs support, which results in:
- Stories being rendered in iframed mode (inlineStories: false)
- No docgen
- No dynamic snippets

Seems like react-docgen [kind of supports](https://github.com/reactjs/react-docgen/issues/96#issue-164035716) Preact, so maybe it's not that complicated to add support?

[2022-11-03 12:08] jonniebigodes commented on #19729
Understood. Thanks for taking this one on. Appreciate it 🙏 ! Let me know if you need anything from me and we'll go from there.

[2022-11-03 12:32] jdubs1994 commented on #25
`import '../src/scss/global.scss'

export const parameters = {
  actions: { argTypesRegex: "^on[A-Z].*" },
  docs: {
    iframeStories: true
  },
  controls: {
    matchers: {
      color: /(background|color)$/i,
      date: /Date$/,
    },
  },
}`

Running into the same result, this is what my preview.js looks like. Everything looks good besides the code snippet section of the story.

[2022-11-03 16:55] billyliuschill commented on #14791
Under .storybook/preview.js

`import '!style-loader!css-loader!sass-loader!../src/styles/style.scss';
import '!style-loader!css-loader!../node_modules/@fortawesome/fontawesome-free/css/all.css';

export const parameters = {
  actions: { argTypesRegex: "^on[A-Z].*" },
  controls: {
    matchers: {
      color: /(background|color)$/i,
      date: /Date$/,
    },
  },
}`

[2022-11-03 17:29] berkeleycole commented on #14405
The above are very close to my versions as well. I had the same issue as original poster. I upgraded my yarn packages, removed the storybook cache, removed the whole node modules folder, tweaked libraries, tried lots of things but couldn't get it to load past 99% and none of my components showed in the UI though the rest of the app loaded successfully. There were also no errors in terminal, code,

[2022-11-03 17:33] joycebrum opened #19743 "[Feature Request]: Enable Scorecard Github Action and Badge"
### Is your feature request related to a problem? Please describe

Hi I am Joyce from Google and I'm working on behalf of the [Open Source Security Foundation][ossf] (OpenSSF) to help open source projects to improve their supply-chain security, since open source supply-chain attacks are [increasing every year][sonatype].

Besides, many maintainers, due to lack of time, are not able to be always up

[2022-11-03 18:24] unional commented on #15406
Type assertion (`as`) is fine in this case.

What you can do further is to create a type alias, so it will save you some typing:

[code]

so you can use the same `Story` type in each of your story in the file.

[2022-11-03 19:23] dreyks commented on #8618
@mystrdat this might be a bug, but the immediate workaround is `[link](/docs/another-page--page)`

[2022-11-03 19:30] shilman commented on #19743
Thanks so much for this @joycebrum ! We'd be happy to accept a PR adding this to our repo 🙏

[2022-11-03 20:20] rogerioyokoi opened #19745 "[Bug]: Storybook + Vue 3 Project, after build storybook page stucks on loading."
### Describe the bug

Locally, all processes seem to work fine, both when using start-storybook and build-storybook.

After the build by the pipeline + Docker File, when accessing the documentation page it gets stuck in loading.

![image](https://user-images.githubusercontent.com/2967845/199822715-78616c84-506f-4b50-a1cb-d6b572562bcc.png)

### To Reproduce

[code]

### System

[code]

### Addition

[2022-11-03 20:24] rogerioyokoi commented on #19745
Maybe some adicional informations are important:

.storybook/main.js
`
const { loadConfigFromFile, mergeConfig } = require('vite');

const eslintPlugin = require('vite-plugin-eslint').default;

const path = require('path');

module.exports = {
  stories: ['../src/**/*.stories.mdx', '../src/**/*.stories.@(js|jsx|ts|tsx)'],
  addons: [
    '@storybook/addon-docs',
    '@storybook/addon-links',
    '

[2022-11-03 22:13] mystrdat commented on #8618
This seems to result in the same behavior, somehow Storybook actually modifies the url as such
`[link](/docs/another-page--default)` becomes `href="?path=/docs/another-page--default"`
and it leads to `http://localhost:6006/iframe.html?path=/docs/another-page--default`

[2022-11-03 23:26] JReinhold commented on #19733
I have a strong preference for option 1., otherwise it feels like we're making our own flavor of MDX2, and that's just an API surface that's really difficult to support down the line.

But we can talk this over in more detail.

[2022-11-04 00:53] IanVS commented on #19501
Thanks for the issue, @0xDing, would you be willing to submit a PR to fix it?

[2022-11-04 02:34] Antoniomora95 commented on #4840
do you remember if you solved the issue? i have the exact same problem none of the stories load :(

[2022-11-04 05:30] JoBurg007 opened #19751 "26 high vulnerabilities with latest react and storybook setup"
### Describe the bug

Hello,
I have just installed a react 18.2 and storybook app and receive some dozens of warning like "Could not resolve dependency:" and a warning of "26 high severity vulnerabilities". The following screenshot is only showing a fraction:
https://ibb.co/R0VKtvp

Before installing storybook I did not have any warnings or vulnerabilities like this.

What is wrong? How to solve t

[2022-11-04 05:43] shilman commented on #19751
Please try upgrading to the latest prerelease:

[code]

We've fixed all of the known vulnerabilities in 7.0. Unfortunately many of them involve breaking changes that can't be ported back to 6.5.

[2022-11-04 05:43] #19751 closed

[2022-11-04 06:13] shilman commented on #4840
@Antoniomora95 which version are you using? this is a very old issue and i can imagine that it's a different issue with the same symptoms. If you'd like to file a new issue with more information we could try to help you out there

[2022-11-04 07:16] mihkeleidast commented on #19733
I would have no objections if this was mostly a migration docs fix - I had only three offending lines, so not hard to fix. However, it would be very nice if the error message could be improved so it would point to the offending place in the markdown file, manually trying to figure out what is wrong in a file thousands of lines long is a bit of a hassle.

[2022-11-04 08:12] JoBurg007 commented on #19751
Thank you very much! This reduced the "26 high severity vulnerabilities" down to "5 high severity vulnerabilities". Looks good. A further "npm audit fix --force" solved it down to 0.
You saved my weekend.

I guess your hint is valuable for many users!

Thank you!

[2022-11-04 08:21] hanneslund commented on #19711
Hi! Is there an example somewhere I can clone and take a look? Thanks!

Just to clarify, it's not required but it gives you a bunch of stuff automatically. You can still add `@font-faces` in your CSS as usual.

[2022-11-04 08:37] highalps opened #19752 "`@storybook/addon-jest` does not show "Tests" tab"
### Describe the bug

Adding addon `@storybook/addon-jest` but not working (Tests tab is not visible)

![image](https://user-images.githubusercontent.com/20738369/199928960-a2113c0f-86ee-48f4-a196-f7fee2805fbf.png)

### To Reproduce

[code]

.storybook/main.js

[code]

.storybook/preview.js

[code]

Avatar.spec.tsx

[code]
[code]

### Additional context

_No response_

[2022-11-04 09:17] jakapatb commented on #17950
It worked on v6.5

[code]

[2022-11-04 11:19] nilslp commented on #5269
You were right @Alpha1337k, I had meant to return to post this as amplify was the issue all along. Thanks

[2022-11-04 12:01] konsalex commented on #19532
Redirected from: https://discord.com/channels/486522875931656193/1037707463811674203

The difference we have with Storybook v7 can be seen below:
![image](https://user-images.githubusercontent.com/12672541/199967403-4b37a680-a342-4c56-be0f-0f2443205c4d.png)

The original code was:
[code]

If the children are in one line it fixes the weird new line rendering:

[code]

but still the children is wrap

[2022-11-04 12:15] daneah commented on #17975
This still appears to be the case in 6.5.9.

More broadly, I have seen @shilman [suggest not using `addon-storysource`](https://github.com/storybookjs/storybook/issues/13362#issuecomment-779804329) and the addon is not mentioned in a first-class way in the official docs. I'm curious if there's a sentiment that we should forego it in favor of doc blocks (which do work great with CSF 3)?

[2022-11-04 12:56] yannbf commented on #19711
Thanks for the swift reply @hanneslund! I set up an example with instructions here for you:
https://github.com/yannbf/nextjs-font-issue

Happy to discuss further between our teams and come up with a good solution together!

[2022-11-04 15:36] AlexanderShushunov commented on #17409
@mgameover, set `{ depth: 6 }`. I think the "transport" has been changed and 4 auxiliary layers have been added.
According to the [docs](https://github.com/storybookjs/storybook/blob/v6.5.13/addons/actions/ADVANCED.md#configuration), an action is sent over the channel.

The line where an action is sent
https://github.com/storybookjs/storybook/blob/d99735bfe1a04ece1c960052cf2b925137699dd1/code/addo

[2022-11-04 16:25] niksauer commented on #4841
We're having the same problem in https://github.com/storybookjs/storybook/issues/12270. Please re-open!

[2022-11-04 20:33] timurcatakli commented on #18641
I had the same issue and fixed it by
1- Renaming `preview.js` to `preview.tsx` as I am utilizing TS
2- Added `import React from "react"

[code]

[2022-11-04 22:27] Kwooda commented on #19008
Knock, knock...

[2022-11-04 23:43] amccloud commented on #16383
Is anyone else running into a similar issue where args are not persisted when calling `reload` from the iframe? My args are optional and initially unset. I have a hunch the reload is briefly rendering the default (unset) vs. what is in the args query param. My args eventually update to match query params, but the brief gap in consistency makes it hard to distinguish a never used arg from an arg th

[2022-11-05 05:20] KarafiziArtur commented on #12306
I have the same issue with `react-hook-form FormProvider` in the last version of Storybook

[code]

By the way, `SnackbarProvider` is working fine and doesn't throw any error

But for the context of FormProvider - it comes as `null` as well as in previous comment

[2022-11-05 05:26] viveleroi commented on #13665
I'm having this issue on yarn 3.2.4. I tried installing sb via `npx sb@next init --builder=vite`. I was hoping to use this because storybook 6 has some deps that break on node 17+.

I think the issue here is yarn 3... if something is actually looking for the file (`Cannot find module '@storybook/react/package.json'`) it's not going to be there because yarn 3 uses the new plug'n'play system.

[2022-11-05 10:04] shgtkshruch opened #19758 "[Bug]: `play` function does not work in stories built for Production"
### Describe the bug

I build storybook with `build-storybook` command.
[code]

When I open a stories that implements the `play` function in a browser, I get the following error.

[code]

I build storybook with `NODE_ENV=development`,

[code]

This is work fine.
![スクリーンショット 2022-11-05 19 01 24](https://user-images.githubusercontent.com/5207601/200114326-eae909b1-f582-48d0-9cec-3b2d9c1ae94d.png)

#

[2022-11-05 13:16] i-am-the-slime commented on #11486
What is it with the entitledness in the comments? If you want this functionality, create a PR that adds it or [create your own](https://storybook.js.org/docs/react/addons/addons-api) custom controls addon.

[2022-11-05 15:08] ryuran opened #19760 "[Bug]: Illegal value for check argType when "eject" a story"
### Describe the bug

`@storybook/html: 6.5.13`

"check" argTypes do not works in standalone iframe.

Url parsing to get args values warn `Received illegal value for…`

### To Reproduce

[code]

### System

[code]

### Additional context

_No response_

[2022-11-05 15:15] ryuran commented on #19760
Maybe related to #17413

[2022-11-05 16:46] yogarasu commented on #19055
I can't get rid of the warning. Can I try something?

[2022-11-05 18:46] mashirozx commented on #12544
Same on M1

<img width="899" alt="image" src="https://user-images.githubusercontent.com/16148054/200135990-d6e82a54-dda4-445f-8029-3dcfe88db669.png">

[2022-11-05 20:35] dpedersoli commented on #311
I'm having this issue. Can someone please help me?
![image](https://user-images.githubusercontent.com/63932322/200140108-994d0e72-16ee-4e3d-be33-eee6a5bd37aa.png)

I've already tryied delete "node modules" -> clean cache -> "npm install"

(-npm -v -> 8.10.0

-node -v -> 16.11.1

'"@storybook/react": "^6.5.13"')

[2022-11-06 03:58] Klowes commented on #11486
@i-am-the-slime idk about you but my company is def not paying me to build out storybook

[2022-11-06 13:22] i-am-the-slime commented on #7847
@ndelangen I can't make this work (in v7 alpha), did it break?

[2022-11-06 16:35] bmitchinson commented on #17357
Getting the error with the following. Didn't have this error prior to an `npx storybook upgrade`

[code]

[2022-11-06 21:08] matthias-ccri commented on #17105
2022 Nov --- still an issue. Basically if a `@storybook/preact` story uses controls, it will remount on any control change. Anyone have further info or workarounds?

This remounting bug is only tolerable if the component is purely stateless (because then, the component renders purely from the controls values). The remounting is untenable for components with state (anywhere in their tree), because

[2022-11-06 22:56] kicikhaluk commented on #11821
I found a solution and it works for me ,

    //storybook main.js
    module.exports = {
    .....
    webpackFinal: async (config, { configType }) => {
      const fileLoaderRule = config.module.rules.find(
        (rule) => rule.test && rule.test.test('.svg')
      );
      fileLoaderRule.exclude = /\.svg$/;

      config.module.rules.push({
        test: /\.svg$/i,
        enforce: 'pre',

[2022-11-06 23:37] viveleroi opened #19763 "[Bug]: Could not find "./buttons.stories" for docs file"
### Describe the bug

Using storybook v7 alpha 47 with the vite builder. When attempting to run storybook I get the following error when trying to import a stories file. The file exists, it's in the same directory, so I can't find a cause on my end for this error.

`Extraction error on app\components\buttons\buttons.docs.mdx: Error: Could not find "./buttons.stories" for docs file "app\components\

[2022-11-07 01:48] shilman commented on #19763
Seems like a windows bug. @joshwooding Is this something you can look into?

[2022-11-07 02:26] shilman commented on #16383
@amccloud According to https://github.com/storybookjs/storybook/pull/16469, it should fix the issue for both args & globals. Perhaps @ghengeveld can weigh in on your comment, since he is more familiar with the guts of what's going on here

[2022-11-07 02:33] shilman commented on #4841
@niksauer please try using the `env` preset to get arbitrary environment variables:

https://storybook.js.org/docs/7.0/react/configure/environment-variables#using-storybook-configuration

[2022-11-07 02:52] graup commented on #13323
This also affects the "grid" background of custom mdx stories with Canvas. A workaround there is to find the ID of the story and add it to the canvas element, like `<Canvas id="anchor--foundation-color--color">`.

[2022-11-07 02:55] shilman commented on #13323
@graup FWIW this appears to be fixed in 7.0 https://next--storybookjs.netlify.app/doc-blocks/?path=/docs/components-argstable-argrow--docs

[2022-11-07 02:58] shilman commented on #19751
Thanks @JoBurg007 !! We'll be doing major version updates more frequently in the future to avoid getting into this situation again

[2022-11-07 02:59] shilman commented on #17975
@daneah FWIW I recently updated doc blocks to use a `csf-plugin` https://github.com/storybookjs/storybook/pull/19680, which will allow us to move both `source-loader` and `addon-storysource` out of the monorepo. I'm hoping to also create an addon based on the same underlying code as doc blocks that shows up next to your story in the addon panel, but don't have a timeline for that

[2022-11-07 03:51] viveleroi commented on #19763
Here is the full stack trace if it helps:

[code]

[2022-11-07 05:30] hayeon9826 opened #19764 "[Bug]: Storybook 6.5 not working with yarn pnp (yarn berry)"
### Describe the bug

Storybook is not working with yarn pnp. I upgraded my yarn version to yarn berry, and it's not working anymore.
(Used to work perfectly on previous yarn version with node modules)

When I try to run storybook
[code]

It gets following errors:
[code]

I looked up for the relevant issues and added packageExtensions code on .yarnrc.yml, but still not working (getting the same er

[2022-11-07 07:27] shilman commented on #19764
@hayeon9826 what version are you upgrading from?

[2022-11-07 07:47] hayeon9826 commented on #19764
@shilman From yarn 1.22.19 to yarn 3.2.3

[2022-11-07 07:48] shilman commented on #19764
@hayeon9826 I see. So you were not upgrading from an older version of Storybook that supported pnp. Thanks for clarifying!

[2022-11-07 08:27] shilman commented on #18342
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.48 containing PR #19766 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-11-07 08:27] shilman commented on #19205
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.48 containing PR #19705 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-11-07 08:27] shilman commented on #19420
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.48 containing PR #19585 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-11-07 08:27] shilman commented on #19453
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.48 containing PR #19706 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-11-07 08:27] #18342 closed

[2022-11-07 08:27] #19205 closed

[2022-11-07 08:27] #19420 closed

[2022-11-07 09:20] shilman commented on #18556
We can add an automigration that tells them:

"If you use table / x / y / z and want GFM support in MDX2, we can add it for you [y/N]"

More info: https://mdxjs.com/migrating/v2/#gfm

[2022-11-07 15:51] NourIM commented on #10662
@ron23 could you find any solution? I'm having the same issue

[2022-11-07 17:07] coler-j commented on #15012
This does still seem to be an issue

[2022-11-07 17:39] rogerioyokoi commented on #19745
Sorry for opening this issue wrongly.

I carried out a more careful process about what could be happening, and found the problem, which was actually the lack of a configuration in the main.js file, where in the `viteFinal` configuration I had not changed the `base`, since after the build by Docker, I would no longer access the documentation through Root, but through another folder inside the image

[2022-11-07 17:39] #19745 closed

[2022-11-07 19:09] chadlavi-casebook opened #19770 "[Bug]: `npx sb upgrade` fails silently when you have a private npm registry"
### Describe the bug

trying to upgrade from 6.3.8 to the latest version, 6.5.13.

I ran `npx sb ugrade` in the terminal, and was surprised to find that _there were no changes_ in my working directory in git. My `package.json` file and lockfiles were not affected at all by this, yet npx seemed to run successfully.

I took a closer look at npx's output though... and it actually emitted some errors

[2022-11-07 19:12] chadlavi-casebook commented on #19770
note that I was able to work around this by manually setting the version to `6.5.13` for all the relevant packages in my package.json file then installing, but if there were any migration scripts or anything that should have run, I missed out on those.

[2022-11-07 23:02] aaronadamsCA commented on #17398
Still having problems, now trying with the Storybook v7 alpha and it's the same situation: Storybook tries to parse our TypeScript as either JavaScript or Flow.

Our Babel config is not very complex:

[code]

With only a `babel.config.json` in the monorepo root, Storybook gives syntax errors whenever it encounters any TypeScript syntax.

If I copy the contents of the file to `.babelrc.json` in our

[2022-11-08 03:35] thedamon commented on #12111
I'm having this issue as well with a story that I wish to default to docs _and_ have no canvas tab.

If I click the story title in the nav it goes to the docs tab, but if I click the story's group (which this is the first story inside) it goes to canvas... missing the parameters I have set.

As mentioned, the idea to go to the Docs tab as default for a certain story without messing around what the

[2022-11-08 03:38] shilman commented on #12111
@thedamon we're getting rid of the docs tab entirely in 7.0, so i don't expect us to fix this in 6.5 unless it's community contributed & an easy fix

We're actively working on the Docs behavior for v7 now and would love feedback for what needs to be done to suit your use case. You can read about the changes here: https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#docs-changes

And you

[2022-11-08 03:42] shilman commented on #17398
@aaronadamsCA that's pretty weird. are you sure you've completely upgraded to SB7? AFAIK there is nothing in v7 that references flow. Do you have a reproduction repo you can share?

[2022-11-08 03:45] thedamon commented on #12111
My usecase is to include a README.md from a package as my story as it doesn't really have a story. I thought using Docs with a content override would work since it's more doc than canvas, but I think now I ought to just stick it in canvas with mdx. I'll have a look tho!

[2022-11-08 03:54] shilman commented on #12111
I think you can do that very directly in v7:

[code]

We might even be able to support `.md` files directly so you could just include that in your `main.js` file, but that's not currently implemented and I'm not sure we would. cc @JReinhold

All that said, I think you should be able to do the same thing in V6:

[code]

There's a `transcludeMarkdown` true option that's needed to get this behavior

[2022-11-08 07:56] sunnykantkr commented on #14912
May be little late. I just observed that for `"@storybook/angular": "^6.5.12"` adding material theme style url in angular json is working when the project is angular library.

![image](https://user-images.githubusercontent.com/19726703/200506076-cdbad4b2-4f73-40a2-b412-4f8524bea4e2.png)

[2022-11-08 08:04] BikashSah999 commented on #19215
Hi @shilman  @ndelangen , Can I work on this issue ?

[2022-11-08 08:05] BikashSah999 commented on #18780
Hi @shilman @ndelangen , Can I work on this issue ?

[2022-11-08 09:35] aaronadamsCA commented on #17398
@shilman, I will try to upgrade this issue's reproduction repository to the v7 alpha now.

BTW, did anyone ever get a chance to review the original repro? It does seem to be the same fundamental problem.

[2022-11-08 09:49] eric-burel commented on #18019
I seem to have this issue with following dependencies:
[code]

I can't run `sb upgrade` yet (we use 2 separate package.json to isolate the dependencies of Storybook from the code), is there something else to do to avoid this issue?

I am on 6.5.12 and it seemed to have been fixed in 6.5.6 already.

I am using Node 18.12.0

[2022-11-08 10:11] eric-burel commented on #18764
Similar issue here if I use `"type": "commonjs"`, `"type": "module"` doesn't work either (will require "main.js" to be a .cjs file), and having no type creates a lengthy error message explaining that "lit" module is not found.

It worked perfect with Webpack 4, however we have to switch to Webpack 5 to support Node 18.

Stuck here :/

[2022-11-08 10:27] NathanVss commented on #17831
Thank you for this precision, it prevented us to waste time in trying to find a solution to this error message. The main point to keep in mind for us is that **Storybook renders of components with React 18** ( if installed ), so when we interact with them we are "really" testing them with React 18 and its concurrent features.

Thank you for your amazing work :)

[2022-11-08 10:39] Moumouls commented on #19055
@gravyboat @yogarasu @LinnJS  @lianapache @gerhat  after updating to latest version (6.5.13) warnings are gone.

Note: i'm using react 18

[2022-11-08 10:42] zh-lx opened #19772 "[Bug]: algolia search is invalid"
### Describe the bug

algolia search of the website of storybook is invalid

### To Reproduce

_No response_

### System

_No response_

### Additional context

_No response_

[2022-11-08 10:43] Maysjtu commented on #13304
Same issue here.

[2022-11-08 10:57] robcaldecott commented on #19711
I am hitting this issue (using `@next/font/local`) and I can't even mock it out with a webpack alias which is odd. If I could get that to work then I could just import the font as CSS in `preview.js` so my Stories look OK.

main.js
[code]

my-font-mock.js
[code]

preview.js
[code]

theme.js
[code]

[2022-11-08 11:19] hanneslund commented on #19711
`@next/font` is now mocked in `next/jest`.

I also got this to work to mock `@next/font/google` in a story.
[code]

This will set the class in `.className` to be named the same as the function imported from `@next/font/google`, e.g. `Playfair_Display`.
[code]

And then import a CSS files that defines the font inside the story.
[code]

[2022-11-08 12:39] sirganya commented on #11554
This issue still exists using 7.0.0-alpha.48

`decorators: [(Story) => <Suspense>{Story()}</Suspense>]`

[2022-11-08 12:53] robcaldecott commented on #19711
My mock is not working because of `lazyCompilation` in `main.js`:

[code]

Removing `lazyCompilation` allows me to mock out `@next/font/local` but I lose the performance benefits that `lazyCompilation` brings.

[2022-11-08 12:56] LukyVj commented on #11919
Any updates ?

[2022-11-08 13:37] zhyd1997 commented on #11554
Maybe we need to find a way let https://github.com/storybookjs/storybook/blob/9a07fcba8a581558d0fa8262989ef83b70a507a0/code/renderers/react/src/docs/jsxDecorator.tsx#L77 inherit this: https://github.com/algolia/react-element-to-jsx-string/blob/984f26908c17cea134fa53d17ac51f179e5195b2/src/parser/parseReactElement.js#L74

[2022-11-08 13:38] joaomelo commented on #19186
I'm having the same issue

[2022-11-08 14:28] avinmaster commented on #18257
Check your path's case in the shell. It should be precisely the same as real folder names.

[2022-11-08 15:11] aaronadamsCA commented on #17398
@shilman, I've added Storybook 7 examples to the repro repo, and documented the result of each example:

https://github.com/aaronadamsCA/storybook-issue-17398#readme

Only Storybook 6 using the built-in Babel config runs correctly.

[2022-11-08 17:22] viniisdsc commented on #17701
Same issue here.

![image](https://user-images.githubusercontent.com/111364301/200632814-4a2fe1d9-640c-4ad9-ab17-b84eaed43d29.png)
![image](https://user-images.githubusercontent.com/111364301/200632730-a72da95b-3ddf-42a0-8068-b18a137c0448.png)

[2022-11-08 17:42] yannbf commented on #19772
Hey @zh-lx thanks for opening this issue, but can you provide any context? How is it invalid to you?

[2022-11-08 19:55] zhyd1997 commented on #17701
@viniisdsc

Did you try the latest version of storybook?

[2022-11-08 20:36] maaxayotte opened #19782 "[Bug]: Next.js / Typescript Interaction with Storybook"
### Describe the bug

When utilizing storybook with next.js and Typescript there is an error with storybook displaying the next Image tag when the src link is a gif.

`{loading ? <Image src="/gifs/spinner.gif" alt="A loading gif" width={26} height={26} quality={100} /> : children}`

In this code snip the loaded image is a gif called "spinner.gif"

The component loaded in storybook loads with the a

[2022-11-08 23:08] nategarrow commented on #18716
Not sure if you have figured this out yet or not, but I had the same issue and it came down to a conflict I had with a browser extension ('Change Timezone for Google Chrome™' in my case).

In addition to the `/runtime-error 404` error, I had another error that had a few variable and function names that led me to the culprit extension. If you haven't already, start there. Hope you can figure it out

[2022-11-09 00:50] HerilS opened #19784 "[Bug]: Can't use StitchesJS with Storybook"
### Describe the bug

Whenever I try and run ```start-storybook -p 6006``` in my repo which contains storybook tests for components using StitchesJS. I receive this error
[code]

This is what my ```.storybook/main.js``` file looks like:

[code]
These are the storybook packages I have installed:
[code]

Babel packages:
[code]

Node Version: Tried running with ```v18.11.0``` & ```v16.16.0```
Running

[2022-11-09 02:49] zhyd1997 commented on #11554
Handled by PR #19785

[2022-11-09 05:13] HerilS commented on #19784
Ok. I fixed this by installing webpack 5 and downgrading babel

[2022-11-09 05:13] #19784 closed

[2022-11-09 06:08] wadefleming-nz commented on #18662
I am getting this too.
- Storybook 6.5.12
- react/react-dom 16.14
- Windows 10

[2022-11-09 06:27] sohamnandi77 commented on #19302
@shilman Please look into it, and let me know if you need anything from my side

[2022-11-09 07:24] mtrabelsi commented on #13665
building software that no one will use, react-dom is missing and storybook team does not give a *** adding this tiny step

[2022-11-09 07:30] dubem-design commented on #18356
Oh, understood. Support for .astro components would be great

[2022-11-09 08:55] dennisschroer commented on #17701
We also have this issue. Running version `6.5.13`

[2022-11-09 08:59] zhyd1997 commented on #17701
@dennisschroer

Please try the prerelease version: [v7.0.0-alpha.46](https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.46)

[2022-11-09 09:23] ndelangen commented on #7847
Yeah i think this indeed breaks in 7.0.

We'll have to come up with a better solution for this.

[2022-11-09 10:34] misiyevich commented on #18197
Got the same error.

[2022-11-09 11:34] NourIM commented on #17329
@velidan :(
<img width="1283" alt="Screenshot 2022-11-09 at 11 26 47" src="https://user-images.githubusercontent.com/14943545/200819506-2566676a-3fad-4c13-ad9a-2e79c8e45405.png">
<img width="824" alt="Screenshot 2022-11-09 at 11 26 29" src="https://user-images.githubusercontent.com/14943545/200819496-bebbeb60-ebcd-4b7a-8c37-0287a29463c5.png">

[2022-11-09 12:08] johannespn commented on #17329
This should not be closed :) @shilman

[2022-11-09 13:03] AndrewLeedham commented on #19050
Had a little look at this, and it seems `@storybook/components` depends on `react-popper-tooltip`, which depends on `@popperjs/core`. `react-popper-tooltip` is now on 4.x, and `@storybook/components` is using 3.x, meaning the implementation would need to be refactored to use the new hook model, as well as the minor being bumped over there.

I am using the patch for now, thanks @davidmh. Just thoug

[2022-11-09 14:15] noveo-greshilov-vlad commented on #18051
+1
Any solutions so far?

[2022-11-09 14:28] adamdiestelkamp commented on #14360
Thanks @stefanhamburger for that, was having this issue and that resolved it!

[2022-11-09 14:28] BikashSah999 commented on #18386
Hi @shilman @ndelangen @tmeasday  , Can I work on this issue ?

[2022-11-09 14:37] yannbf commented on #19782
Hey @maaxayotte thanks for opening an issue here! So `@storybook/react` does not contain the necessary setup for the Next Image component. You have two options here:
1. Use [storybook-addon-next](https://github.com/RyanClementsHax/storybook-addon-next) in your project, with Storybook 6.
2. Try our new `@storybook/nextjs` package, which only works with Storybook 7 (currently in alpha). If you do, y

[2022-11-09 15:10] hyeongrok7874 commented on #18801
Thanks I solved it 😍

[2022-11-09 16:53] bzh2610 commented on #13893
I encountered a similar issue with the terser pluggin ( Storybook v7.0.0-alpha.47 + Angular 13 ), my workarround was to apply the following change in the webpackFinal parameter of `.storybook/main.js`

[code]

[2022-11-09 18:29] kharann commented on #18920
Anyone has some guidance on how to solve this?

[2022-11-09 18:41] rogerfar opened #19792 "[Bug]: v7 build fails with "Invalid option in build() call: "tsconfigRaw""
### Describe the bug

When running a vite project v7 it errors out with:
[code]

### To Reproduce

[code]

### System

[code]
[code]

[2022-11-09 18:51] IanVS commented on #18920
@kharann what have you tried?  I've given some guidance above.  You should be using `import.meta.env` and not `process.env`, and you may need to find packages that are designed to run in the browser instead of ones using node.js APIs, if this is coming from a dependency.

[2022-11-09 20:46] mvaljento opened #19793 "Compilation fails with error TS2305: Module '"parse5"' has no exported member 'ElementLocation'."
I followed this tutorial to install Storybook into my new NX monorepo with an Angular app and libraries:

https://nx.dev/recipes/storybook/one-storybook-for-all

Up to that point everything compiled and the Storybook page opened saying I have no stories. I then created a simple button component with a few inputs and outputs and ran "nx generate @nrwl/angular:stories" for the component. So far so g

[2022-11-09 22:01] amccloud commented on #19792
Running into the same on a react project migration to 7.0.0-alpha.48. Was previously using 6 with:

[code]

Now using `framework: "@storybook/react-webpack5"`

[2022-11-09 22:23] marcusvalverde commented on #18383
@shilman  I know its in alpha right now but do we have a tentative release date for V7?

[2022-11-10 00:57] daneah commented on #13362
It appears that for the React Storybook adding `docs: { source: { type: 'dynamic' } }` helps.

[2022-11-10 02:58] shilman commented on #18383
@marcusvalverde rough ETA is beta in mid-december, RC/final in Q1 next year

[2022-11-10 03:01] shilman commented on #19793
What package manager/version are you using? Looks like it might be a hoisting issue. Maybe somebody from Nx can chime in here? cc @mandarini

[2022-11-10 03:34] shilman commented on #18386
@BikashSah999 That would be awesome!!! 🙏

[2022-11-10 03:35] shilman commented on #17329
@johannespn What's left to do here?

[2022-11-10 03:43] shilman opened #19794 "Extending syntax highlighter languages broken in v7"
_Originally posted by @i-am-the-slime in https://github.com/storybookjs/storybook/issues/7847#issuecomment-1304800591_

[2022-11-10 03:54] zh-lx commented on #19772
Oh, it was abnormal yesterday and now it's normal.

[2022-11-10 03:54] #19772 closed

[2022-11-10 04:05] shilman commented on #13665
@viveleroi did you try adding a dev dependency on `@storybook/react` to your project?

[2022-11-10 04:09] shilman commented on #19302
@sohamnandi77 do you have a reproduction repo you can share?

[2022-11-10 04:51] viveleroi commented on #13665
Yes that’s automatic through the init program.

On Wed, Nov 9, 2022 at 8:05 PM Michael Shilman ***@***.***>
wrote:

--
Mike Botsko
Ph: 1-(503)-897-0155

[2022-11-10 07:48] mvaljento commented on #19793
@shilman Thanks for the quick response. I'm running npm 8.18.0 with node v16.15.0.

[2022-11-10 09:14] coolboy0961 commented on #19541
This solution fix my problem.

"overrides": {
  "react-test-renderer": "18.2.0"
}

steps
1. add overrides setting in package.json
2. delete node_modules and package-lock.json
3. npm install
4. execute `npx jest --clearCache`
5. npm run test

[2022-11-10 09:16] raymondboswel commented on #4600
The initial way I developed with stencil & storybook (as described here: https://ionic.io/blog/how-to-use-storybook-with-stencil) required doing production builds, which was fast initially, but quickly slowed down as the project grew.

So just to add one more workaround to the mix, offering fast builds via stencil dev mode and page reloads on stencil changes; I do the following:

1) Add build outp

[2022-11-10 09:41] NexZhu commented on #11587
@yannbf Hi, I'm trying `@storybook/vue3-vite@7.0.0-alpha.47`
I have `"type": "module"` in my `package.json`, `.storybook/main.ts` and `.storybook/preview.ts` using ESM import, however `storybook dev` still fails and the error log shows that the command is still running the CommonJS version of Storybook:
[code]

As you can see in the last few lines it's still running the CommonJS version:
```node_m

[2022-11-10 10:38] mandarini commented on #19793
I'll look into it! @mvaljento the tutorial has a repo attached. Can you see lots of differences between your code and the repo? Does the example repo work on your machine?

[2022-11-10 11:22] sawadyecma commented on #17985
Please let me report.
I see that `v6.5.13` has the same issue.

I tried without resoultions and tried with it.
Specifying resolutions of `react-test-renderer:18.1.0` doesn't seem to solve the problem.

[2022-11-10 12:20] IanVS commented on #11587
@NexZhu what `moduleResolution` are you using in your TS config?

[2022-11-10 13:20] JaapWeijland commented on #18920
I did this and it worked - for now. What seems to be causing the error is the fact the we are using webpack 5 under the hood (?), and webpack 5 doesnt provide polyfills by default anymore. Since `process` doesn't exist in the browser, it needs to be polyfilled.

This is a very dirty workaround (`.storybook/main.js`):

[code]

[2022-11-10 13:24] IanVS commented on #18920
Personally I would recommend against mixing @storybook/builder-vite with an app that is using webpack.  I think it's better to have consistency between the way your app and storybook are being bundled.  But I understand that some prefer to have the speed of vite in storybook even if they aren't using it for their app (e.g. they're using next.js and can't switch).  Just be aware that it's not reall

[2022-11-10 13:24] #18920 closed

[2022-11-10 14:01] JaapWeijland commented on #18920
I actually don't mix webpack with vite intentionally; I am using Hydrogen which is using vite. I think it's one of the addons that is using webpack instead of vite, and not my project per se. Since @storybook/vite-builder is supposed to work in tandem with addons like `@storybook/addon-essentials`, I do think its an issue with the storybook ecosystem, of which @storybook/builder-vite is part.

[2022-11-10 14:03] JaapWeijland commented on #18920
Btw, during debugging, commenting out `@storybook/addon-essentials` did remove the error. So it has something to do with the interplay between this addon and `@storybook/builder-vite`.

[2022-11-10 14:43] NexZhu commented on #11587
It was `node`, I've just tried `classic`, `nodenext`, the same result.

[2022-11-10 14:47] sawadyecma commented on #17985
Sorry... I mistook about specifying dependency of dependency. → https://github.com/storybookjs/storybook/issues/17985#issuecomment-1310136737

When I use `npm >= 8`, I should have edit package.json bellow.

[code]

In my enviroment, storyshot worked correctly !

[2022-11-10 14:57] teebodscvr commented on #208
This worked for me in an Angular project

[2022-11-10 14:59] IanVS commented on #18920
@JaapWeijland what version of storybook are you using?  6.x uses webpack 4 for building the "manager" part of the UI (sidebar, addons panel, etc), but 7.0 does not.  You could try running `npm why webpack` to see why webpack might be getting included in your project.   But, I don't see `NODE_DEBUG` anywhere in the storybook source, so I'm not sure where that could have been coming from.

[2022-11-10 15:10] Nxtivision commented on #16642
Hello @shilman ,

Is it possible to cherry-pick this PR #18999 to the next patch version of 6.5 ? 😄 Because my team is not ready for v7 and we use a lot of referenced Storybook with Chromatic and Nx. Or a possible workaround until v7 is stable ?

have a nice day !

[2022-11-10 15:31] mvaljento commented on #19793
@mandarini Yes, the repo works. I didn't find much difference to my code except course my app is based on Angular and the tutorial is React, but also my code base contains a lot of project specific stuff. However, there are only story files in the simple button component I added. Also in the repo there's a .storybook folder under a button library, but that does not seem to be used as the story cod

[2022-11-10 16:24] barroudjo commented on #19541
Yeah my bad, my solution with `"resolutions": { "react-test-renderer": "18.2.0" }` was for yarn, the solution if you use npm is `"overrides": { "react-test-renderer": "18.2.0" }`

[2022-11-10 16:26] mogsdad commented on #17019
I note that V7 (specifically `@storybook/addon-docs@7.0.0-alpha.48`) is still dependent on `@jest/transform@26`. Is this a work-in-progress?

[2022-11-10 16:46] mogsdad commented on #17112
Not fixed as of `@storybook/addon-docs@7.0.0-alpha.48`.

[2022-11-10 16:58] kharann commented on #18920
I kinda fixed it with:
[code]

in my viteFinal config. I'm mixing Vite due to my design-system is being built with esbuild. Therefore I used vite to display the stories from the design system. However, I also have some specific storybook components in the Nextjs application that didn't work.

[2022-11-10 17:41] hannajones opened #19799 "[Bug]: Props tables for custom elements are inaccurate"
### Describe the bug

When creating web components using Lit, all properties are set up to have corresponding [attributes](https://lit.dev/docs/components/properties/#attributes) by default. After following the instructions [here](https://github.com/storybookjs/storybook/tree/next/code/addons/docs/web-components#props-tables) for generating pops table documentation, I noticed that only attributes