[2021-04-09 02:31] shilman commented on #14508
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.6 containing PR #14511 that references this issue. Upgrade today to the `@latest` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-09 02:31] #13687 closed

[2021-04-09 05:17] shilman commented on #12307
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-alpha.2 containing PR #14445 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-09 05:17] #12307 closed

[2021-04-09 06:39] ThibaudAV commented on #14519
@yngvebn what do you think? It's always the same confusion with compodoc -> agrs -> props which overloads angular components?

[2021-04-09 06:40] ThibaudAV commented on #14520
same 🙈
@yngvebn what do you think? It's always the same confusion with compodoc -> agrs -> props which overloads angular components?

[2021-04-09 06:54] nitesh3539 opened #14530 "### Storybook did not show the argsTable for my **HOC** propTypes"
### Storybook did not show the argsTable for my **HOC** propTypes

is there any other approach to do this apart from above approach?

[code]
System:
OS: macOS 11.2.3
Binaries:
Node: 12.7.0
npm: 6.10.0
Browsers:
Chrome: 77.0.3865.120
npmPackages:
"@storybook/addon-links": "^6.0.22",
"@storybook/addon-storysource": "^6.0.22",
"@storybook/addons": "^6.0.22",
"@storybook/react": "^6.0.22",
![077FD762-

[2021-04-09 07:02] shilman commented on #14530
closing as dupe to  #12576

[2021-04-09 07:02] #14530 closed

[2021-04-09 08:07] Mokkapps commented on #4600
I am also looking for an official tutorial how to use Stencil with storybook-web-components.

Thanks @dutscher for his demo project, I also created one with a different approach using storybook-html and storybook-react: https://www.mokkapps.de/blog/run-build-and-deploy-stencil-and-storybook-from-one-repository/

[2021-04-09 08:11] ajkl2533 commented on #14521
@tmeasday I found the source but I didn't commit it yet. I'll try to refresh node_modules

[2021-04-09 09:32] artaommahe commented on #14197
Debugged a little more and here is my results
- does not really work with `6.2.0-rc.1` for me, i had `@storybook/angular: 6.2.0-alpha.31` that time and it works
- `6.2.0-beta.3` works well
- `6.2.0-beta.4` breaks with `Cannot convert undefined or null to object`

Looks like this pr breaks everything https://github.com/storybookjs/storybook/pull/14047

[2021-04-09 10:23] mercs600 commented on #14524
@shilman I have tried -> https://github.com/vue-styleguidist/vue-styleguidist/issues/1066 -> but I got any help from their side, I'm wondering is it any workaround ?

[2021-04-09 11:19] randak commented on #14353
I've raised a PR for this feature at #14531.

[2021-04-09 11:39] LuisReinoso commented on #14026
Finally, I have fixed this. It looks like something was wrong with dependencies.
So I execute `npx sb init --parser ts -t angular --story-format csf -f` to use typescript parser and csf format and all things works well now! 🎉

More info you could get on `npx sb init --help`

[2021-04-09 12:35] dizan commented on #12007
Still can reproduce this bug with String unions  on version  6.2.5...

[2021-04-09 13:34] haileyambition opened #14533 "Storybook 6.2.7 Unusable with ngOnDestroy takeUntil(this.destroyed$) pattern."
**Describe the bug**
Existing working stories regress when upgrading to 6.2.7 tracked to
Storybook 6.2.7 Unusable with ngOnDestroy takeUntil(this.destroyed$) pattern.

**To Reproduce**
1. Create story for simple component referenced in Code snippets section.
2. Click on story and click off story.
3. See error

**Expected behavior**
No failure to unsubscribe errors shall appear and continue to supp

[2021-04-09 13:47] stof commented on #14347
ssri has backported the patch into a 6.0.2 release. So this is now solved (run `yarn upgrade` to get the new ssri release)

[2021-04-09 13:47] #14347 closed

[2021-04-09 14:25] turbulent-desfossez commented on #14410
@shilman After removing all node_modules and yarn.lock
I made a 'lerna bootstrap'
I made a yarn storybook --no-manager-cache

and got exactly the same error that my previous message : https://github.com/storybookjs/storybook/issues/14410#issuecomment-811813295

Another member of my team working in the same repository has the same error.

[2021-04-09 14:26] tmsss commented on #192
For future reference, you can remove the actions tabs globally in `main.js` like this:
[code]

[2021-04-09 14:43] themagickoala commented on #13608
I'm on Storybook 6.2 in two separate repositories, composing one (port 9009) into another (port 6006). I get the CORS error `Uncaught DOMException: Blocked a frame with origin "http://localhost:9009" from accessing a cross-origin frame.` at JSON.stringify, so I'm not sure this is fixed.

[2021-04-09 14:46] shilman commented on #14410
@ndelangen any ideas about @turbulent-desfossez ?

[2021-04-09 14:48] shilman commented on #14533
As a workaround have you tried using the legacy angular renderer?

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#new-angular-renderer

[2021-04-09 15:04] newcanopies commented on #2615
hi @ndelangen

there is no root div in my index.html

![image](https://user-images.githubusercontent.com/65022111/114200540-98d07400-9955-11eb-8606-69aa1495132b.png)

[2021-04-09 15:21] stof commented on #14487
The `ssri` package has released a patched 6.0.2 version. So running `yarn upgrade` will install a patched version thanks to semver ranges.

[2021-04-09 15:21] #14487 closed

[2021-04-09 15:27] chadlavi-casebook commented on #14508
the latest version (6.2.7) does not address this. It still does not work.

[2021-04-09 16:24] nickbullock commented on #13441
I have `swagger-ui@3.28.0` that ships with `react@15` and it breaks storybook for me (with the same `emotion-element` problem). What?

[2021-04-09 16:30] haileyambition commented on #14533
That and some import updates takes care of the issue entirely.  Apologies for not seeing it on my own this is not an issue.  Does this however mean that at v7 storybook will no longer work with Angular?

[2021-04-09 16:37] elevatebart commented on #14524
Hello @mercs600,

I just answered you ticket on vsg. I know I am not hyper responsive on it. I have been a bit blindsided by parenthood.

I hope you get to send a PR soon. This would help a ton of people.

[2021-04-09 16:45] victoriaunizhona commented on #13441
Yep, this works as I mentioned in description. But it seems redundant and  increases bundle size.
Would be great to have it fixed.

[2021-04-09 16:49] haileyambition commented on #14533
I am seeing these now though.

`
vendors~main.manager.bundle.js:24664  manager  received storybook/docs/snippet-rendered but was unable to determine the source of the event
vendors~main.manager.bundle.js:24664  manager  received storyRendered but was unable to determine the source of the event
`

[2021-04-09 16:50] cbranch101 commented on #14481
@MukeshJ2506 Do you have the storysource addon installed?  I'm seeing this too, and I think it's an issue related to that

[2021-04-09 16:58] nikolaidk commented on #13391
Any news on this problem?

[2021-04-09 18:07] coreyjv opened #14536 "Support a before method in `axeTest` to allow page customization before the test is run"
**Is your feature request related to a problem? Please describe**

I would like the ability to modify the page before accessibility test is run using `addon-storyshots-puppeteer`. This would allow me to modify the DOM to say add a class that may change the UI prior to test execution.

**Describe the solution you'd like**

`imageSnapshot` has a `beforeScreenshot` callback. I would like the same thi

[2021-04-09 18:26] softshipper opened #14537 "[6.2.7] Stoorybook does not refresh after save"
Hi all

I have created a Storybook and after when I change something and save it, the browser does not refresh automatically. So every time I have to press the F5 button.
Unfortunately, I could not figure the problem.
Here are the files:
[components.zip](https://github.com/storybookjs/storybook/files/6287778/components.zip)

Thank

[2021-04-09 18:29] stof opened #14538 "axe-core tries to reference node's crypto, which requires a fallback config in webpack 5"
**Describe the bug**
When using the webpack 5 builder, the following error happens during a buildt (I haven't seen the same error when using `start-storybook` instead of `build-storybook`, which I find weird, but maybe that's why the progress stayed at 99% when using start):

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Add the a11y addon
1. Use the webpack5 builder
1. run `build-

[2021-04-09 18:44] gburning commented on #14441
The first problem is is fixed (tested with 6.2.7). Thanks for the quick turnaround!

As for the second problem, I agree. Maybe a better idea is to change which keys are used? I noticed that Docsearch uses cmd/ctrl+K. That seems to work well.

Regardless, the main problem is solved so feel free to close this issue.

[2021-04-09 18:48] antonio-b commented on #13929
New to open source, is this issue closed? if not, may i work on this issue?

[2021-04-09 18:57] Alecell commented on #13834
@duarten how can I remove the `@babel/plugin-transform-classes` form the babel? I mean, I don't add it directly it's added internally on storybook, right?

[2021-04-09 18:58] pward123 commented on #11179
Did you ever find a solution? I'd also like to run storybook with bazel using lazy.

[2021-04-09 19:02] contrast-jeremiahp opened #14539 "6.2.5 addon-link - LinkTo TypeScript Errors (did not occur in 6.1.21)"
**Describe the bug**
Following the addon-link documentation captured here: https://www.npmjs.com/package/@storybook/addon-links

`LinkTo` in `@storybook/addon-link@6.2.5` now results in a TypeScript error:
*  `JSX element type 'LinkTo' does not have any construct or call signatures.`

This issue did not exist in `@storybook/addon-link@6.1.21`

**To Reproduce**
Steps to reproduce the behavior:

1.

[2021-04-09 20:11] softshipper commented on #14537
I have figured out that on Firefox hot reload works like a charm. However, on Chromium hot reload does not work at all. I am using https://pop.system76.com/ as OS and Chromium is installed with flatpak.

[2021-04-09 21:21] kpruden commented on #14342
I have this problem as well, and it definitely seems related to globbing.

This works: `stories: ['../../src/components/SomeComponent/index.story.js']`

This loops: `stories: ['../../**/*.story.js']`

FWIW It appears this issue appeared in 6.2.x. If I go back to 6.1.21 the problem goes away..

[2021-04-09 21:57] KenACollins opened #14541 "ArgsTable Not Rendered For React Class Components"
**Describe the bug**
In a MDX story file (*.stories.mdx) utilizing Storybook Docs in version 6, the ArgsTable will not render at all if the component is coded as a class, even if the PropTypes and defaultProps declarations have been pulled out of the class, where they were defined as static blocks, and placed below the class in the same component file and renamed with the component name preceding

[2021-04-09 22:07] karlhepler commented on #11179
No. I decided to just run it natively without bazel.

[2021-04-09 22:12] kevinbarabash commented on #12703
I'm not using Storyshots because I have a custom snapshot serializer (it outputs each snapshot to its own SVG file) so I ended up creating a small helper to convert stories to components.  There are some cases it doesn't handle yet, but it meets my current needs.  I thought I'd share in the hope that other may find it useful.
[code]
Here's an example test using this helper:
[code]

[2021-04-09 22:30] ayhid commented on #14214
I have the same issue with 6.2.7 :/ @matheo  did you solve the problem ?

[2021-04-09 23:47] ebellumat commented on #14483
Yes! I will put more context here.

I'm using [@emotion](https://github.com/emotion-js/emotion) to create my components and [styled-system](https://github.com/styled-system/styled-system) to create my design-system.

But, the [@types/styled-system](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/styled-system) of styled-system comes with this huge documentation and generic typ

[2021-04-10 01:36] actiew opened #14542 "How to load the vue-styled-components theme separately in a Vue project"
How to load the vue-styled-components theme separately in a Vue project?

[2021-04-10 03:40] #14441 closed

[2021-04-10 03:41] shilman commented on #13929
@antonio-b a PR is open here #14296

[2021-04-10 04:05] matheo commented on #14214
Nope, I'm still waiting a deep solution :(
cc @shilman

[2021-04-10 04:37] shilman commented on #14214
Do you have a repro repo you can share?

[2021-04-10 04:47] shilman commented on #13182
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-alpha.3 containing PR #14437 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-10 04:47] shilman commented on #14353
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-alpha.3 containing PR #14531 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-10 04:47] #13182 closed

[2021-04-10 04:47] #14353 closed

[2021-04-10 08:39] softshipper commented on #14537
When I start the storybook, in the terminal it shows me:
[code]

[2021-04-10 08:45] shilman commented on #14537
Nothing looks odd about those warnings FWIW

[2021-04-10 09:32] irudoy commented on #14407
Friendly ping. Any news or ETA on this? Maybe I can help somehow?

[2021-04-10 10:11] vnglst commented on #12983
Another workaround (that also works for co-workers that might be unaware of the --legacy-peer-deps flag) is creating a `.npmrc` in your root folder with the following line:

[code]

After that `npm install` should just work (also on CI).

[2021-04-10 10:37] IvanovRoman commented on #12969
You can remove node_modules/@types/node using  .yarnclean. Inside the file line -> @types/node.

[2021-04-10 12:20] shilman commented on #12983
Great tip @vnglst 💯

[2021-04-10 13:16] doutatsu opened #14544 "Add ability to set Vue.js 2 state directly"
**Is your feature request related to a problem? Please describe**
There are many instances, where using props is not enough to set a particular state of the component. For example, if I have a `watcher` that watches a change in a `prop`, let's say visibility of a modal. I can't have the story in a particular state, without manually switching that prop.

Another example, is fetching some data, that

[2021-04-10 13:40] TheFirstMe commented on #14403
@shilman The PR seems to be reverted. Is there some issue? I am renaming my .env file for now :(

[2021-04-10 13:42] shilman commented on #14403
@TheFirstMe yes, the PR caused storybook to break for a bunch of people so I'm waiting for a better fix.

[2021-04-10 13:58] shilman commented on #14544
@doutatsu If it's an option, the way we handle args in `@storybook/vue3` with Vue 3's `setup` function is a lot more flexible.

[2021-04-10 14:00] doutatsu commented on #14544
Unfortunately, I am on Vue 2 and unable to upgrade just yet. But I'll keep it in mind, that it is easier to make it happen in Vue 3. Could you point me to an example as to how that is handled in Vue 3?

[2021-04-10 14:13] RohitRajP commented on #13893
This solved the problem for us too

[2021-04-10 14:20] shilman commented on #14544
There's an example here. You need to click over to the "Vue 3" tab.

https://storybook.js.org/docs/vue/writing-stories/args#args-can-modify-any-aspect-of-your-component

And I think there might be a typo in that example @jonniebigodes @phated -- it should be `setup() { return args; }`, no?

[2021-04-10 14:23] shilman commented on #11588
As a workaround, if you're using args stories, you can set the `docs.source.type` parameter to `"code"` and it will use the static source code of the story function.

[2021-04-10 14:50] petergaal91 commented on #13952
I also facing with the same issue, but the reason is: tried to use lit-element@3 which is not supported (yet).

[Related Issue](https://github.com/storybookjs/storybook/issues/13489)

Hope it's helps to someone

[2021-04-10 14:56] softshipper commented on #14537
I have installed Chromium via https://flatpak.org/. May that is the reason, why it does work.

[2021-04-10 16:33] TheFirstMe commented on #14467
It seems to be working now. Don't know what changed.

[2021-04-10 16:35] TheFirstMe commented on #14467
![image](https://user-images.githubusercontent.com/23120939/114277387-9fcdb400-9a33-11eb-94f7-6210abdd07e0.png)
Seeing that "99% done" is bothering me though 😅

[2021-04-10 16:36] shilman commented on #13952
@petergaal91 good news, i think we're going to tackle that one in 6.3

[2021-04-10 16:43] merceyz commented on #14544
That should be possible in Vue 2 using https://github.com/vuejs/composition-api as well right?

[2021-04-10 16:44] duarten commented on #13834
@Alecell you could filter the plugins array, but it's probably simpler to just add the `@babel/plugin-transform-typescript` to the plugins, which is what I'm doing:

[code]

[2021-04-10 16:52] doutatsu commented on #14544
@merceyz I am not familiar with composition API, so not sure if I can. But regardless of that, I don't want to rewrite my components to use it, just to make this work I am afraid

[2021-04-10 19:14] softshipper opened #14546 "How to pass browser explicitly?"
Hi all
I have downloaded Chromium binaries from https://download-chromium.appspot.com/. When I start the storybook then it would take browser.

The question is, how to pass the browser explicitly when I start the storybook?

Thanks

[2021-04-10 19:40] ScottAgirs opened #14547 "Canvas empty when adding ThemeProvider v6"
**Describe the bug**
After following the docs and adding Theme provider via `addDecorator(withThemesProvider(themes), ThemeProvider);` the canvas renders white screen.

**Screenshots**
What happens:
![visual](https://user-images.githubusercontent.com/11737572/114282569-a7c92c00-9a12-11eb-8da9-f8afbce59575.gif)

Browser console:
<img width="1016" alt="browser console output" src="https://user-image

[2021-04-10 20:32] ThibaudAV commented on #13243
@nomadoda I have redone the steps and I can't reproduce the problem :/ Is it still there ?

[2021-04-10 20:56] tooppaaa commented on #12179
![image](https://user-images.githubusercontent.com/599163/114284366-a2d69d80-9a4f-11eb-9792-5c9525128c17.png)
https://github.com/storybookjs/presets/pull/197

**Please note that you need to disable fastRefresh**. A IE 11 fix will be released as part of version 0.5.0 I guess https://github.com/pmmmwh/react-refresh-webpack-plugin/pull/298

[2021-04-10 21:42] tooppaaa commented on #13763
@bozdoz, I didn't saw any issues with uuid before but in any doubt, I added it to the @storybook/preset-ie11 https://github.com/storybookjs/presets/pull/197

Could you give it a try when it gets out ?

[2021-04-10 21:45] tooppaaa commented on #13418
Closing as it worked - and should work with 6.2.

In any case:
I have added acorn-jsx to https://github.com/storybookjs/presets/pull/197.

If this is still an issue (when it gets out), could you reopen this ?

[2021-04-10 21:45] #13418 closed

[2021-04-10 21:52] tooppaaa commented on #12399
This issue is now quite old and is fixed if I'm not mistaken.
@jackysee, if there's still something not working with the released 6.2, please create a new issue :)

[2021-04-10 21:52] #12399 closed

[2021-04-11 00:08] shilman commented on #14407
@irudoy sorry for the slow response. i get a few different errors when i try to run your repro:

[code]

=>

[code]

As far as I can tell, these errors are not related to the original issue. Am I doing something wrong?

[2021-04-11 00:10] ScottAgirs commented on #14547
Okay, so this is embarrassing, my apologies, working between multiple projects looks like one of the lines got lost.

### .storybook/main.js
[code]

Perhaps as a feature request, there's a way to add some sort of warning or check that this addon is present, not sure if possible.

Either way @shilman, thanks for tagging this, since it's solved, closing this.

[2021-04-11 00:10] #14547 closed

[2021-04-11 00:16] shilman commented on #14547
Thanks @ScottAgirs -- I think there is a warning in the CLI if a preset fails to load?

[2021-04-11 03:53] irudoy commented on #14407
@shilman strange. I just tried from scratch: `git clean -fdx && yarn && yarn build` and have no issues like yours.
Also, I have no `Test.stories.mdx` in my repo https://github.com/irudoy/sb-14407-repro/tree/master/src
And why you have this path `home/projects/baseline/storybook` in your traces?

[2021-04-11 05:22] shilman commented on #14407
I'll try a clean build later. Thanks!

[2021-04-11 08:36] mdirshaddev commented on #14467
Hey I found that what was bothering I was trying to use the windows file system within a Linux environment. After I stopped using the mount drives of windows 10 within the Linux everything went well the HMR is working now and it is superfast really just as was mentioned in the doc of Microsoft WSL2. You should save file in linux drive when working in WSL not in Windows any  drives.
Sorry for my we

[2021-04-11 08:36] #14467 closed

[2021-04-11 12:08] nir-ne opened #14548 "Unexpected props values when using proptypes + passing to default prop a value which imported from another package (e.g react-virtualized)"
**Describe the bug**
I am using Storybook in a monorepo project.
I have a table repo which includes Table.js component and Table.stories.js story.
Within the Table component, I am importing  defaultTableRowRenderer from react-virtualized (import {defaultTableRowRenderer} from react-virtualized).

1. when i run storybook i get an exception:  "Failed prop type: Invalid prop `rowRenderer` of type `st

[2021-04-11 13:01] bjornharvold opened #14549 "Importing global styles into an Angular component is not working [or documentation is outdated]"
### Greetings Team Storybook!

**Describe the bug**
I am using an Nx Workspace v12.x with Angular v11.2.9. According to your documentation located here:
https://storybook.js.org/docs/angular/get-started/setup
It says to include global styles in .storybook/preview.js

This is my preview.js for my specific component (Note; this is not my global preview.js)
[code]

My main.js looks like this:
[code]

[2021-04-11 14:03] Bram-Zijp opened #14551 "Bind template and arguments helper"
**Is your feature request related to a problem? Please describe**
Most of my stories just need to render with x props, so I've learned using the latest version of storybook 6.2+ (nice!). To save some lines of code, I created this quick and dirty helper. It's not perfect but it works for me now. Perhaps it's an idea to include something like this into storybook.

**Describe the solution you'd like*

[2021-04-11 14:48] shilman commented on #14551
We have some other plans for this, outlined in #12654

[2021-04-11 14:53] shilman commented on #14548
If you are installing Storybook with `sb init`, it will create a `.storybook/preview.js` which contains the following code:

[code]

This is what is generating the action handler passed into `onSelectedIdsChange`. You can delete/modify that line if you don't want to actions for `on*` props

[2021-04-11 15:05] Bram-Zijp commented on #14551
Nice, I like those plans. Closing in favor of #12654

[2021-04-11 15:05] #14551 closed

[2021-04-11 16:06] jwir3 commented on #14423
Hi @shilman:

Unfortunately, it doesn't look as though this helped. I'm getting the same errors after upgrading using `npx sb@latest upgrade` with the aforementioned repository I posted. It's possible that the babel versions are causing the problems, so I will look into that over the next few days.

@ndelangen I'm going to try your suggestion, but I suspect that this won't work in tandem with the

[2021-04-11 16:09] nir-ne commented on #14548
@shilman First of all, Thank you for the quick response.
Your answer indeed fixed one of the bugs i had.
But regarding the other one:
the defaultTableRowRenderer i am importing from react-virtualized is somehow turned to a string (it is a function originally) when i am running storybook.
images below...
Thanks!

![image](https://user-images.githubusercontent.com/22729152/114311776-c1dd3a00-9af8-11

[2021-04-11 16:09] jwir3 commented on #14423
@ndelangen Yeah, unfortunately, with the changes you made, when I run `yarn build`, I now get the following:
[code]

This was the reason we used the aliases in the `.scss` files. I am open to any suggestions, though... I'm by no means a webpack expert, so I don't quite know what the solution to something like this would be.

I do appreciate the suggestions, though! Thank you for looking in to this

[2021-04-11 16:24] shilman commented on #14548
@nir-ne can you share the story that's failing?

[2021-04-11 16:31] nir-ne commented on #14548
I changed it a bit (still broken).
something like:
`export default {
	title: 'new-table/UncontrolledTable',
	component: BaseTable,
};

const Template = (args) => <BaseTable {...args} />;

export const UncontrolledTable = Template.bind({});
UncontrolledTable.args = {
	columns,
	data: mockData,
};

UncontrolledTable.argTypes = {
	columns: {
		control: {type: 'disable'},
	},
	data: {
		control: {type

[2021-04-11 18:22] #12567 closed

[2021-04-11 21:09] ThibaudAV commented on #14549
I'll see if I can find a solution I can't promise anything 😅

but a first thing seems to me not "normal" , maybe :
`ERR! architect.build is not defined for project 'workspace'.`

This error means that storybook does not find angular config in the angular.json (if you use a workpase nx a conversion to angular.json is made)
If storybook finds it, it allows it to use assets and global style directly

[2021-04-11 23:23] ScottAgirs commented on #14547
Ahh, fair enough, there are indeed some warning containing this

[2021-04-12 00:56] shilman commented on #14548
Args must be JSON-serializable. If you have function/binary data you need to use a `mapping`

https://storybook.js.org/docs/react/essentials/controls#dealing-with-complex-values

[2021-04-12 02:08] bjornharvold commented on #14549
Hi @ThibaudAV

Here's the Angular.json entry for the Nx storybook project I am trying to get to work. I have not modified this code after it was generated and architect.build is present:

[code]

[2021-04-12 06:29] sarahbethfederman commented on #13478
I'm also getting this error in 6.2.7 on a react project

[2021-04-12 07:08] ThibaudAV commented on #14549
`booking-engine-ui-booking-entry` is your `defaultProject` ?

[2021-04-12 07:43] nir-ne commented on #14548
I didn’t pass "rowRenderer" as an arg. It should just get the default prop assign to it (defaultTableRowRenderer which imported from react-virtualized).
So in this case, i should explicit pass it as a mapped arg in the story file?

any way, i removed the default prop and drilled it down like below
![image](https://user-images.githubusercontent.com/22729152/114357377-589e0b00-9b7a-11eb-9c81-c2e34c5

[2021-04-12 08:29] ndelangen commented on #14119
@andykenward but storybook IS compatible with react 17 at runtime. Won't changing that mean users will get a warning?

Seems to me there's simply no point in having peerDependencies in npm 7?

[2021-04-12 09:07] andykenward commented on #14119
@ndelangen `>=16.8.0` includes the version that are equal to or greater than 16.8.0. Which includes  React `17` and above. Would also cover a React `18`. So perhaps `>=16.8.0 <=17`. Try it out on https://semver.npmjs.com/ .

<img width="1258" alt="Screenshot 2021-04-12 at 10 05 09" src="https://user-images.githubusercontent.com/4893048/114369883-c0eaed80-9b76-11eb-8000-946c64af5e88.png">

NPM 7 in

[2021-04-12 09:28] AndrewLeedham commented on #14354
Also curious @shilman / @jonspalmer would this work with Chromatic?

[2021-04-12 10:42] AndrewLeedham opened #14557 "Export getBlockBackgroundStyle from @storybook/components"
**Is your feature request related to a problem? Please describe**
We are using `getBlockBackgroundStyle` to create various custom documentation component that fit in with the wider storybook theme. For example this little colour card thingy:
![image](https://user-images.githubusercontent.com/5557458/114381945-ab2ff500-9b83-11eb-9646-423baf6737cc.png)

pre-6.2 we used `import { getBlockBackgroundSt

[2021-04-12 11:15] turbulent-desfossez commented on #14410
If this can help.
Here a very detailed Step by Step of my investigation:

1. In packages/ create an empty folder named 'storybook'
2. `npx sb init -t vue`
3. Successfully install
4. Note: `packages/storybook/node_modules` includes all dependencies
5. Note: in this project, we have only 1 storybook
6. `cd storybook` then `yarn storybook`
7. ✔️ Successful preview `6.2.7` with demo components (no err

[2021-04-12 11:33] theAdhocracy commented on #14523
@shilman Sorry for the delay, but I've put together a stripped down example showing the behaviour: https://github.com/theAdhocracy/sb-example

Just clone locally, `npm install`, and `npm run storybook` to get it working. You'll see the `Button` component has two props which are being populated with `undefined`. I've tested and confirmed that this only happens when string literals are marked as opt

[2021-04-12 12:23] gomorizsolt opened #14559 "[@storybook/vue] v6.1.21 and above: dynamic code snippet auto-generation is broken"
After upgrading to either the latest 6.1.x or 6.2.x version (6.1.21 & 6.2.7 respectively), the code snippets don't get auto-magically generated based on the template:

![dynamic_story_source_error](https://user-images.githubusercontent.com/30864202/114391579-f6540300-9b97-11eb-8346-b3d0f178c727.png)

Interestingly though, if the version is pinned to 6.1.20 then the warning no longer shows up.

##

[2021-04-12 12:36] shilman commented on #14559
This must have to do with the babel transpilation of prettier for IE11 @pocka ... any ideas?

[2021-04-12 12:42] lihbr opened #14561 "Inconsistency between @storybook/core-server buildDev & buildStatic options resolution (regression)"
**Describe the bug**
`buildDev()` and `buildStatic()` don't resolve the `configDir` option the same way.

Basically `buildStatic()` now ignore provided `loadOptions.configDir` option.

This leads to build failing when using `buildStatic()` with a custom `configDir` provided through the `loadOptions` object.

* `buildDev()` configuration resolver: https://github.com/storybookjs/storybook/blob/next/

[2021-04-12 13:15] farnabaz opened #14562 "Cannot change `configDir` by calling `buildStatic`"
In the latest release of Storybook, we can't change `configDir` by passing arguments to `buildStatic` function.

It is possible to modify `configDir` in the v6.1

https://github.com/storybookjs/storybook/blob/7b49fc1fad07d27ac484e6eb8ce50d75ec99604c/lib/core/src/server/build-static.ts#L207

But this behavior breaks in v6.2

https://github.com/storybookjs/storybook/blob/a74824617615a89c7659a8685365

[2021-04-12 13:22] farnabaz commented on #14562
Close in favor of #14561

[2021-04-12 13:22] #14562 closed

[2021-04-12 13:22] farnabaz commented on #14562
Close in favor of #14561

[2021-04-12 13:24] farnabaz commented on #14561
This is also reported in nuxt-community/storybook#259

[2021-04-12 13:31] andfinally opened #14564 "Preview intermittently disappears from Canvas"
**Describe the bug**
This may be similar to https://github.com/storybookjs/storybook/issues/9412. I've been getting previews fine, but this morning they stopped appearing in the Canvas tab and refused to come back for quite a while. (Actually, they were appearing and disappearing almost immediately when the page loaded.) I'm back to normal now, just wanted to log this in case it happens to anybody

[2021-04-12 13:38] johanvanhelden opened #14565 "[6.2.7] [Webpack 5] [Laravel] [Vue] Cannot GET /"
I am in the middle of upgrading my webpack 4 stack to webpack 5 so I can use PostCSS 8 and Tailwind 2.

When I was on webpack 4 Storybook ran great - no issues whatsoever.

Everything on the Laravel side works flawlessly and I can compile all my assets using Laravel Mix.
The only issue is getting Storybook up and running.

The reason why I mention that it is a Laravel setup is because I had anothe

[2021-04-12 13:42] shilman commented on #14523
I took a quick look at the repro. What I found is that we are passing the following to react-docgen-typescript-plugin using `yarn storybook --debug-webpack`:

[code]

This is a bit different from what we passed in 6.1. I also found that `Button.__docgenInfo` contains:

[code]

I think this means there is a bug in `react-dogen-typescript` for these options, since we are passing `shouldRemoveUndefin

[2021-04-12 13:49] shilman commented on #14564
Do you have a repro repo you can share?

[2021-04-12 13:54] ndelangen commented on #14561
@lihbr I think your analysis is spot on!

https://github.com/storybookjs/storybook/blob/next/lib/core-server/src/build-static.ts#L110

Should be changed! If you are to open a PR, I'm sure we can get it merge today! 🙇

[2021-04-12 13:56] lihbr commented on #14561
Awesome! Can you just please highlight me as to which source/target branch should I use? Contributing guide got me confused :/ Will try to hop on Discord~

[2021-04-12 13:57] onimougwo commented on #10768
So it's basically not possible to run both storyshots and A11y checks ? The code below wouldn't run both ?

![image](https://user-images.githubusercontent.com/40011061/114406332-74eb7900-9b75-11eb-9a75-100b22ee11f2.png)

[2021-04-12 14:04] pocka commented on #14559
I'm not sure... we can revert the commit but it breaks IE compat again 🤷

Maybe same as this https://github.com/whitespace-se/storybook-addon-html/issues/46? The empty error message is weird but the stack traces are so similar. (some people posted workarounds there, those would help if this issue has the same cause)

[2021-04-12 14:06] ndelangen commented on #14561
You should branch off (and target) The `next` branch

[2021-04-12 14:27] szmq commented on #14508
looks like I have the same problem. For arg named `date` can't pass value via URL. It gets undefined. Before that, I had the same problem with the `select` control type but it turned out that it was enough to move options from control according to updated documentation. In the case of the `date` arg, it seems there is only a problem with the name of that argument. Changing a parameter directly fro

[2021-04-12 15:11] mercs600 commented on #14524
@elevatebart  I saw your changes in your repository, I have tested it with my current code base and it works great. I have crated PR to storybook to bump your package in this repository. Thank you for your time ❤️

[2021-04-12 15:35] ndelangen commented on #14119
@andykenward I appreciate your expertise and time invested!

I personally haven't used npm's CLI in a long time.

Can you explain to me why B is better and actually solves the problem?:
[code]

Can you help me understand how come npm seems to choose the incorrect version then?

Why with version-range B, does npm chose the correct one?

Understandable, again I want to stress, I'm really appreciativ

[2021-04-12 15:42] theAdhocracy commented on #14523
Just done some local testing, looks like it's a conflict between `shouldExtractLiteralValuesFromEnum` and `shouldRemoveUndefinedFromOptional`. If `shouldExtractLiteralValuesFromEnum` is set to `false` the issue goes away (though unsure what issues that itself might create).

For example, the `docgenInfo` output with `shouldExtractLiteralValuesFromEnum` set to `true` looks like this:
[code]

Wherea

[2021-04-12 15:47] ndelangen commented on #14410
@turbulent-desfossez
what version is `node_modules@storybook\vue\node_modules@storybook/package.json`?

it should be the same version as `node_modules@storybook\vue\package.json`

Are you overriding webpack aliasses? I think you're **removing** them, which we have in place to prevent issues like these.

[2021-04-12 15:54] andfinally commented on #14564
Thanks @shilman, unfortunately it's a private one, but I just had four very basic stories – please see attached.

[storybook.zip](https://github.com/storybookjs/storybook/files/6298067/storybook.zip)

[2021-04-12 15:58] ndelangen commented on #14423
Seems like the imports in scss are broken honestly:
https://github.com/ndelangen/aegir-dupe/blob/master/src/components/04-Organs/Ingredients.scss#L3

imports

https://github.com/ndelangen/aegir-dupe/blob/master/src/assets/styles/typography.scss#L23

which imports

`https://github.com/ndelangen/aegir-dupe/tree/master/src/assets/fonts/...`

but the relative import from `typography.scss` is resolved

[2021-04-12 16:15] Methuselah96 commented on #14119
I think you guys are barking up the wrong tree here. There are two issues. The first issue is with external dependencies not allowing React 17 (`@reach/router` (see https://github.com/reach/router/pull/436) and `react-inspector` (see https://github.com/storybookjs/react-inspector/issues/121). The second issue is with `@storybook/addon-docs` which has an optional peer dependencies on React, Vue, et

[2021-04-12 16:59] andykenward commented on #14119
@Methuselah96 I am going by the error message from npm 7. Which is flagging that the `@storybook/addon....` are the issue. Npm finds React 17, but complains.

![CleanShot 2021-04-12 at 17 29 52@2x](https://user-images.githubusercontent.com/4893048/114431791-cd436a80-9bb7-11eb-98b4-a96c594feccf.png)

example project `package.json`
[code]

I was just seeing if it would be an easier fix for the addon

[2021-04-12 17:06] Methuselah96 commented on #14119
@andykenward Right, the top part of that error message under "Found react@17.02" is specifying the React dependencies that are correctly resolved to React 17 (which includes `@storybook/addon-actions`). The bottom part of that error message under "Could not find resolve dependency" is the issue where `react-inspector` has a peer dependency on React 16 which is the issue at hand.

[2021-04-12 17:06] andykenward commented on #14119
Ah okay. It looks like the `@storybook/addon-links` is using `reach/router`, which doesn't actually support react 17.
https://github.com/storybookjs/storybook/blob/90f27eb4d3e6f876771cdbe8772e892b0c693d97/lib/router/package.json#L39

[2021-04-12 17:13] andykenward commented on #14119
@Methuselah96 D'oh I totally missed the difference between "Found react@17.0.2" vs "Could not find resolve dependency". I just saw the red `ERR!` meaning it's all bad :(. Thanks
![CleanShot 2021-04-12 at 17 29 52@2x-h](https://user-images.githubusercontent.com/4893048/114434179-9fabf080-9bba-11eb-9db8-d79f626a5b1a.png)

[2021-04-12 17:49] stephiescastle opened #14569 "Upgrading to 6.2.7 triggers several outdated dependency warnings for @storybook/addon-a11y"
**Describe the bug**

I was on v6.2.5 and used `npx sb@latest upgrade` to upgrade to v6.2.7.

Everything worked fine except now I see a long list of warnings about outdated dependencies for @storybook/addon-a11y:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. run  `npx sb@latest upgrade` on a storybook that uses @storybook/addon-a11y. Even if you've already upgraded to 6.2.7, the s

[2021-04-12 17:50] shilman commented on #14523
Pretty sure it's all needed in the storybook side unfortunately

[2021-04-12 17:52] kylegach commented on #13478
I also ran across this when upgrading from `6.1.21` to `6.2.7`. I _think_ it may be less of a bug and more of a lack of documentation issue?

I tracked the change down to `6.2.0-alpha.20`, which introduced the "module" field in a bunch of Storybook package's `package.json` (e.g. [the change for `@storybook/addon-docs`](https://github.com/storybookjs/storybook/commit/c5c5a983ab18885ad586b56bbb57e8f

[2021-04-12 18:10] contrast-jeremiahp opened #14571 "6.2.5 addons-action TypeScript Definitions No Longer Default Import Correctly"
**Describe the bug**
When upgrading `@storybook/addons-action` from `6.1.21` to `6.2.5`, imports now result in a TypeScript error:
* E.g. `import { action } from @storybook/addon-actions/`
* Results in `TS2307: Cannot find module '@storybook/addon-actions/'.`
* Documentation used to import actions is based off the legacy usage https://github.com/storybookjs/storybook/blob/HEAD/addons/actions/ADVAN

[2021-04-12 18:27] johanvanhelden commented on #14565
@shilman I've added some more detailed information, a public repository and steps to reproduce.

If you have a few minutes, could you please clone the repo and try them out to see if you get the same issues?

[2021-04-12 18:29] natterstefan commented on #4082
Hi @sibelius,

I had the same issue until I discovered this note in the [migration guide](https://webpack.js.org/migrate/5/#clean-up-configuration):

I ended up adding this to my `main.js`:

[code]

[2021-04-12 18:54] johanvanhelden commented on #14565
@shilman

Wow, after diving into the rabbit hole even further I found out that simply installing `html-webpack-plugin` solves the issues. 🤯

Maybe this should be documented somewhere, because even after fully removing storybook and using the `npx sb init` it did not include that package.

I stumbled onto this issue and that made me want to try it out: https://github.com/storybookjs/storybook/issue

[2021-04-12 18:54] #14565 closed

[2021-04-12 18:54] IntusFacultas commented on #13223
I'm currently experiencing the same issue. onClick is defined by storybook/actions-addon, and the onClick handler provided by actions addon does work when looking at the story, but Jest and Vue consider it undefined at jest run time.

[2021-04-12 20:14] BiancaArtola commented on #14487
Thanks!!!!!!!!!

[2021-04-12 23:40] Sammii commented on #4667
@shilman  Can we please re-open this request since the referenced PR seems to have been immediately reverted? https://github.com/storybookjs/storybook/pull/11718

I don't see this functionality in Storybook as of v6.1.15.

[2021-04-13 00:36] shilman commented on #14565
@johanvanhelden thanks for the follow up. was it a hoisting issue? i think builder-webpack5 and builder-webpack4 both have dependencies on these packages, so if you had to install yourself that would suggest that the wrong version was getting hoisted. WDYT?

[2021-04-13 00:42] jmlivingston commented on #12270
Small tweak to @maxbeier's script above. Important thing is to remember to return the config.

[code]

[2021-04-13 00:43] shilman commented on #14571
In your second snippet (5), there's a trailing slash. What happens if you remove that?

Here is the line that tells Typescript where to look for the types: https://github.com/storybookjs/storybook/blob/next/addons/actions/package.json#L22

[2021-04-13 00:46] shilman commented on #14569
I suspect there are multiple versions installed and the warning is actually correct. What gets shown when you run:

[code]

[2021-04-13 01:19] #14524 closed

[2021-04-13 01:33] ctamas commented on #5051
It can be caused by using the
https://storybook.js.org/blog/storybook-6-migration-guide/
`npx sb upgrade`
NPM command to upgrade while otherwise using yarn.
No need to delete package file, just node_modules.

[2021-04-13 02:05] kdong007 opened #14574 "initStoryshots can't work with typescript and accessing non-needed files"
**Describe the bug**

 initStoryshots doesn't work with typescript, although stories are written in typescript

**To Reproduce**

1. init storybook

2. create test files:

[code]

[code]

3. build-storybook

4. jest. you will see this
[code]

**Expected behavior**
things working as https://github.com/storybookjs/storybook/tree/next/addons/storyshots/storyshots-core says

**Screenshots**
If applica

[2021-04-13 03:25] bjornharvold commented on #14549
Hi @ThibaudAV

This library is just one of a 1000+ in our mono repo. We don't have a default project. Nx does not set one nor is it needed.

[2021-04-13 04:18] Cheddam commented on #12183
Hitting this again on Storybook 6.2.7 😕

![image](https://user-images.githubusercontent.com/242621/114496303-c11ce300-9c73-11eb-9781-5023346b67d3.png)

[2021-04-13 06:23] nickbullock commented on #13441
@victoriaunizhona totally agree

[2021-04-13 07:18] Greenie10 commented on #11798
Still an issue with 6.2.7

<img width="581" alt="Screenshot 2021-04-13 at 08 17 33" src="https://user-images.githubusercontent.com/1492173/114512208-c278ec00-9c30-11eb-888c-8ca2e3d8c479.png">

[2021-04-13 07:22] elkaz commented on #13731
Not able to access discord but thought this might be worth sharing: https://github.com/conficient/BlazorTemplater

[2021-04-13 07:25] gomorizsolt commented on #14559
Hey @shilman and @pocka, thanks for quickly replying to the issue! I skimmed through the referenced issue and it seems that upgrading `@babel/core` to the latest version (`^7.13.15`) was enough to resolve the issue (at least in the case of the [example repo](https://github.com/gomorizsolt/intro-storybook-vue-template)). Having said that, you may need to adapt transitive dependencies as well and sp

[2021-04-13 08:17] shilman commented on #13441
@victoriaunizhona does it help if you remove this dependency

[code]

[2021-04-13 08:41] shilman commented on #14524
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-alpha.6 containing PR #14567 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

[2021-04-13 08:41] shilman commented on #14561
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-alpha.6 containing PR #14566 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-13 08:41] #14561 closed

[2021-04-13 08:55] ThibaudAV commented on #14549
hum ok,

On this part Storybook is not (yet) very flexible and is looking for a project with the following rules:
https://github.com/storybookjs/storybook/blob/ba332aedd4ec1ae0611c961b444079973e0a55bb/app/angular/src/server/angular-cli_config.ts#L90-L99

So, if you can add one of the following cases with an `architect.build.options` that contains the
[code]
that you want

it should work 🤞

[2021-04-13 09:13] kanidjar opened #14575 "[6.2.7] Cannot create a Story without a component set in export default"
**Describe the bug**

An error is thrown when trying to display a story not having a component set in "export default".

![](https://user-images.githubusercontent.com/12607242/114527573-6de16b00-9c48-11eb-932e-55bb95720d02.png)

**To Reproduce**

[code]

**Expected behavior**

The HTML element "button" should appear on the page without any error.

**System**

[code]

**Workaround**

Pass any compo

[2021-04-13 09:20] turbulent-desfossez commented on #14410
@ndelangen
Thanks for the reply.

I made a search in my root `node_modules` on `6.1.21`
No results.
Only for `6.2.7`.
I checked my yarn integrity too and my yarn.lock.

I didn't find a package.json here: `node_modules@storybook\vue\node_modules@storybook/package.json`
![image](https://user-images.githubusercontent.com/76117287/114529334-23f98480-9c4a-11eb-8d79-676d7d3eaa46.png)

But deeper yes:
`n

[2021-04-13 10:32] matttk commented on #14497
This still happens for me and I'm on 6.2.7. I've cleared my `node_modules` and `package-lock.json` to make sure I am truly upgraded but it doesn't help. Is there something I might be missing?

[2021-04-13 10:35] dunklesToast commented on #14497
@matttk, could you send your package.json (dev)dependencies fields?

[2021-04-13 10:37] matttk commented on #14497
@dunklesToast

[code]

[2021-04-13 10:39] Faey2222 commented on #14481
Definetely has to do with the storysource addon. Just got the same exact error after installing storysource :(

[2021-04-13 10:53] dunklesToast commented on #14497
Hmm. I've installed the same dependencies as you (added react and react-dom) and Storybook builds. Have you also deleted any `storybook-static` folder?
You could also try to clean your npm cache: `npm cache clean --force `

[2021-04-13 10:58] zanona opened #14577 "add gherkin/cucumber syntax highlighting to docPages"
**Describe the solution you'd like**
I've being finding storybook a great platform to create documentation prior starting development and outlining the project scope under a `MDX` file, I currently add some examples and business rules in form of BDD test cases as I outline a few requirements.

One nice way of doing so is writing specific in gherkin, used by cucumber. So ideally on my MDX it could

[2021-04-13 11:06] Greenie10 opened #14578 "Storybook not loading Browserstack for ie11"
**Describe the bug**
Either locally, or on production, the components within our instance of Storybook (https://www.findmypast.com/canopy) do not load in Browserstack to check ie11.  Other browsers in Browserstack work happily. It's only ie11 that will not load the components. The outer frame of Storybook shows, but the list of components - shown as skeletons - just throb, waiting to load.

**To R

[2021-04-13 11:18] matttk commented on #14497
Didn't help, unfortunately. I never had a `storybook-static` folder because I never run `build-storybook`. I only use `npm run storybook`.

Maybe my problem looks the same but is different...

![image](https://user-images.githubusercontent.com/28646175/114544260-aee27b00-9c5a-11eb-9c7a-238a665f0182.png)

[2021-04-13 11:45] dunklesToast commented on #14497
it actually looks the same like it did for me as i had the problem. Does rolling back to v6.2.5 work for you?

[2021-04-13 11:46] matttk commented on #14497
I didn't try that but I did try rolling back to 6.2.3 and that did not help. I will try 6.2.5.

[2021-04-13 11:51] shilman commented on #14575
@ThibaudAV is this required now? I think we are supporting the old format until 7.0?

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#deprecated-angular-story-component

[2021-04-13 11:52] dunklesToast commented on #14497
Interesting. 6.2.3 should actually work I guess. Maybe @paulrosania knows more

[2021-04-13 11:54] shilman commented on #14578
Is there an error in the browser console?

[2021-04-13 11:57] shilman commented on #11605
We added user-configurable sorting here:

https://github.com/storybookjs/storybook/pull/13125

[2021-04-13 11:57] #11605 closed

[2021-04-13 12:12] shilman opened #14579 "Controls: Rework default value handling"
Instead of initializing an optional control value to its default value, initialize it to `undefined`

## Rationale

Default value handling is currently problematic in Storybook's Arg handling.

We statically analyze the code to determine the default value. This is impossible to do statically in all cases, and on top of that there are various inconsistencies between how different libraries handle t

[2021-04-13 12:18] ThibaudAV commented on #14575
normally not 🤔  yes that's what the code should do, I'll go look

[2021-04-13 12:27] ThibaudAV commented on #14575
🤔  I just tested with 6.2.7. and the example code I have no error :sad:

@kanidjar can you give a repo with the error reproduction?

[2021-04-13 12:31] contrast-jeremiahp commented on #14571
@shilman the issue still occurs in 6.2.5 with or without the trailing slash
![image](https://user-images.githubusercontent.com/51373394/114552379-8a72a880-9c32-11eb-9098-b699a99ac619.png)

[2021-04-13 12:32] shilman commented on #14571
Do you have a repro repo you can share?

[2021-04-13 12:35] johanvanhelden commented on #14565
I am not really sure how to check that to be honest.

With the fix, the tree for `html-webpack-plugin` looks like this:
[code]

And without the fix it looks like this:
[code]

So my guess is that `html-webpack-plugin@4.5.2` was being used, even tho I configured Storybook to use the webpack 5 builder, which depends on `html-webpack-plugin@5.3.1`

[2021-04-13 12:45] TeemuKoivisto commented on #12881
For any sorry soul who wandered here to fix that pesky `ModuleNotFoundError: Module not found: Error: Can't resolve 'react/jsx-runtime'` error, in my case I was too unfamiliar with the storybook configuration that I didn't notice that it existed in a different spot, away from the root of the project where all the other webpack configs laid. So, heading to `stories/config/webpack.config.js` I final

[2021-04-13 12:47] sibelius commented on #4082
I did a lot of fallback and it is compiling now

the only problem is `process` is not defined

[2021-04-13 13:10] norbitrial commented on #14497
@matttk It looks like you have similar issue what explained here:
https://gist.github.com/shilman/8856ea1786dcd247139b47b270912324#gistcomment-3704208

[2021-04-13 13:25] shilman commented on #14481
I'd recommend removing storysource as a workaround

[2021-04-13 13:29] mercs600 commented on #14524
@shilman I love open source cooperation like this. It works like a charm.

[2021-04-13 13:33] kanidjar commented on #14575
sure @ThibaudAV , you will get it by the end of the day

[2021-04-13 13:36] MukeshJ2506 commented on #14481
@ cbranch101 Apology for the delayed response. Yes we do use storysource in our repo

[2021-04-13 13:39] #13172 closed

[2021-04-13 13:58] pantelispanayiotou opened #14580 "Encountered two children with the same key on ColorItem"
**Describe the bug**
When i pass an array with colors inside <ColorItem  colors={[]} /> and i have two or more identical colors then the error occurs and some values are getting duplicated on rerenders.

**To Reproduce**
Steps to reproduce the behavior:

1. Use ColorItem with one or more identical colors

**Expected behavior**
ColorItems should not be duplicated or at least provide an option to ad

[2021-04-13 14:31] jordancolburn opened #14581 "MDX Imports from a path labelled "super" break storybook"
**Describe the bug**
MDX files importing from the path `./super` seem to break building storybook.

**To Reproduce**
Try to import a component like `import { Super } from "./super"` and watch it not build.

Then try to rename the files and import to something like `import { Super } from "./supper"` and it works.

**Expected behavior**
I should be able to import from a path that contains the word s

[2021-04-13 15:16] Greenie10 commented on #14578
<img width="1034" alt="Screenshot 2021-04-13 at 16 15 26" src="https://user-images.githubusercontent.com/1492173/114576951-85821900-9c73-11eb-8fc0-cd3b133d89c9.png">

[2021-04-13 15:33] kanidjar commented on #14575
@ThibaudAV : https://github.com/kanidjar/storybook

You will find the example story in apps/extranet/src/app

[code]

[2021-04-13 15:43] matttk commented on #14497
OK, I've been reading a lot of different threads here and it seems what solved it for me was adding `dotenv-webpack` to dev dependencies (6.0.4 was enough) and `html-webpack-plugin`. Without the second one, I was just getting a different error (about snapshots). Now I seem to have moved past this error into into some unrelated ones.

`postcss` wasn't working. I followed [the migration guide](https

[2021-04-13 15:53] stephiescastle commented on #14569
Ah, yes that explains it. I'm using a couple of packages that list older versions as dependencies. I don't use yarn, but doing `npm ls @storybook/api` gives me:

[code]

[2021-04-13 16:05] fcisio opened #14584 "React runtime automatic breaks MDX"
**Describe the bug**
Using React runtime automatic breaks MDX stories.

Some work needs to be done on MDX, for it to remain a viable syntax to use.

**To Reproduce**
Steps to reproduce the behavior:

1. [Enable automatic runtime](https://github.com/storybookjs/storybook/issues/12881#issuecomment-715401423)
2. Write a MDX story

**Expected behavior**
MDX should still work with runtime automatic

![

[2021-04-13 17:11] maximegel commented on #10768
I would really use a way to run tests for multiples viewports too. Is there a way to loop inside de `test` function instead? Something like:
[code]

[2021-04-13 18:39] #14569 closed

[2021-04-13 19:06] ThibaudAV commented on #14575
Perfect it reproduces well the problem

Well it seems to be linked to `ngcc` if not executed it works perfectly ^^
Storybook does not use ivy yet but should be compatible with a workspace using it

It will be necessary to add this change earlier than expected
https://github.com/storybookjs/storybook/pull/11157/files#diff-70601b7629ca05a548de90f4bd456a56cbd6494c5bb3028f0942267ba1a8167fR45

@shilman

[2021-04-13 19:36] deepakanuraags commented on #13440
Just wanted to know if this issue will be resolved and when can it be expected to be resolved.
I used the package.json snippet given by @chriscarpenter12 and it seems to work fine. However, as said by him we do not know what might break if we fix the tapable version to 1.1.3

[2021-04-13 20:19] cesarp commented on #14510
I am getting the same thing, I upgraded a project from 5.x to 6.x and after downgrading to 6.2.3 it works. I can't share the source since it is a private project but I have custom typescript options, not sure if that makes a difference:

[code]

[2021-04-13 20:21] cellog opened #14587 "date knob incorrectly deserializes value"
**Describe the bug**
https://github.com/storybookjs/storybook/blob/next/addons/knobs/src/converters.ts#L18 has this deserialization code:

[code]

However, since `value` is a `Date` when used in the iframe, but is a `number` when used in a new tab (by clicking on the `open Canvas in new tab` button), it always initializes to the current date.

https://developer.mozilla.org/en-US/docs/Web/JavaScrip

[2021-04-13 21:42] hipstersmoothie commented on #14197
Running the following fixed it for me:

[code]

[2021-04-13 22:04] ThibaudAV commented on #13440
if you can add a repo with the reproduction of the problem 🥺 🙏 ?
it could be faster to help and see what's going on

Je n'ai pas réussi a reproduire exactement ce problème

[2021-04-13 22:35] iKnowMagic commented on #12432
[code]

@davpascoal

[2021-04-14 01:26] shilman commented on #14587
FYI, we’ve released `addon-controls` in Storybook 6.0. Controls are portable, auto-generated knobs that are intended to replace `addon-knobs`, which are slated for deprecation.

- [Controls documentation](https://storybook.js.org/docs/react/essentials/controls)
- [Migration instructions](https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#how-do-i-migrate-from-addon-knobs)

[2021-04-14 01:40] shilman commented on #14584
Do you have a repro repo you can share?

[2021-04-14 02:32] shilman commented on #6541
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-alpha.7 containing PR #14226 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

[2021-04-14 02:32] shilman commented on #13791
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-alpha.7 containing PR #14226 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-14 02:32] shilman commented on #14575
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-alpha.7 containing PR #14586 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-14 02:32] #13791 closed

[2021-04-14 02:32] #14575 closed

[2021-04-14 03:01] shilman commented on #14561
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.8 containing PR #14566 that references this issue. Upgrade today to the `@latest` NPM tag to try it out!

[code]

[2021-04-14 03:30] bjornharvold commented on #14549
Hi @ThibaudAV

What is the result of this: process.env.STORYBOOK_ANGULAR_PROJECT?

We have multiple applications using different global stylesheets. Ideally, Storybook can leverage what the Angular team has done in ng-package.json and support styleIncludePaths.

[code]

[2021-04-14 04:36] brownieboy commented on #14180
I've run into this same issue, using Web Components

The web components support seems to be somehwhat in state of flux at the moment.

If you look at the Addons Readme https://github.com/storybookjs/storybook/tree/next/addons/docs, under the "Be sure to check framework specific installation needs" section, it links to Web Components at https://github.com/storybookjs/storybook/tree/next/addons/docs

[2021-04-14 05:39] noylev commented on #13958
@jlabaj can you add your SharedFeatureCommonModule ? I dont have it and id like to see how it's done (does it use a like app.module in a lib project) ?

[2021-04-14 06:11] sarahbethfederman opened #14591 "Core: iframe.html no longer built with --preview-url"
**Describe the bug**
Since upgrading to 6.2.7 from 6.1.21, we're no longer seeing an iframe.html generated, and it seems the --preview-url flag has been removed from the CLI? I didn't see any release notes about this, and it's causing our CDN deploy to break.
Our build script looks like this

[code]

**Screenshots**
Before:
![](https://user-images.githubusercontent.com/5673114/114662406-f7be3080-9

[2021-04-14 07:19] ThibaudAV commented on #14549
`STORYBOOK_ANGULAR_PROJECT` is an env variable that you can set to force sotrybook to use a specific project. (which should `contain architect.build.options`)

no storybook does not read the `ng-package.json`

it's a part that doesn't work very well, I think, I'm trying to improve it so that storybook can work in multi application easily

Another way to add different global styles for each app is

[2021-04-14 07:43] avendiart commented on #14107
Resolved in #14582

[2021-04-14 07:43] #14107 closed

[2021-04-14 08:14] shilman commented on #14591
Argh, that looks like a fairly serious regression caused the by the webpack4/5 refactor. Looking into it now.

[2021-04-14 08:31] shilman commented on #14591
Hi @sarahbethfederman can you tell me more about your setup? I tried reproducing the problem in our monorepo (`examples/standalone-preview`) and everything is behaving as I would expect.

When you run `build-storybook` with `--preview-url` I wouldn't expect any `iframe.html` to be generated, and I'm not seeing one. Was there an `iframe.html` generated in 6.1.x?

[2021-04-14 09:09] shilman commented on #14407
I have reproduced the problem on my machine. don't know what was happening earlier. @ndelangen and I played around with it to try to understand why this is happening, but didn't make any headway. We suspect it is a webpack bug related to resolution. Perhaps you can experiment with different versions?

[2021-04-14 10:08] VincentLanglet commented on #14044
Hi, @shilman what do you think about adding more visibility to your gist ?

Adding it somewhere in the readme ? Pinning this issue ?
It would also help to know when it will be possible to remove the resolution part.

[2021-04-14 10:50] VincentLanglet commented on #14257
I also experience the issue
[code]
[code]

With
[code]
and the conflict resolution
[code]

But the storybook seems to work even with this warning

[2021-04-14 10:52] bmayen commented on #14193
Looking at diffs between 6.2.0 rc.7 and rc.10. Perhaps a change introduced [here](https://github.com/storybookjs/storybook/commit/1e20a891fa705239037e34ae786155d06ffc0f12) is having an effect on this?

[2021-04-14 11:23] sarahbethfederman commented on #14591
The situation we have is described here: https://github.com/storybookjs/storybook/issues/3699 there was previously an iframe.html generated and we were using the --preview-url to point it to the correct CDN url instead of `/iframe.html`

[2021-04-14 11:28] JamieB-gu commented on #14170
We managed to get this merged in about a week ago (PR here in case it helps anyone in future: https://github.com/guardian/apps-rendering/pull/1245) and it's been fine so far, so we're happy to close this issue now. Thanks for all your help @shilman!

Hi @webb04! Small world 🌎

[2021-04-14 11:37] #14170 closed

[2021-04-14 11:39] apapadopoulou commented on #11124
Hello! I have looked into it a bit and I am currently working on the solution. Could you assign me to this issue?

[2021-04-14 11:45] shilman commented on #11124
Fantastic! 🎉 Excited to see this happen!!!

[2021-04-14 11:51] alexbchr commented on #14257
I have the same issue as well, Storybook works nonetheless, but the live reload is not working when doing edits to components. I need to manually refresh the Storybook webpage in order to see my changes.

[2021-04-14 12:23] shilman commented on #14193
cc @ThibaudAV ☝️ 🤔

[2021-04-14 12:39] ThibaudAV commented on #14193
@bmayen yes there is a problem in this commit but it is fixed [here](https://github.com/storybookjs/storybook/commit/9557b4f054428c758e2b78c07fee720e1c8a5ff8) and this problem is fixed in v6.2.8

I'm not sure if it's related 🤷‍♂️ . I also find that the behavior of the "Show code" is quite random

[2021-04-14 12:40] shilman commented on #14044
Thanks @VincentLanglet. Here are my rough thoughts:
1) I'll update the official docs with a reference to the gist for now.
2) We're calling webpack5 support experimental in 6.2, because we're still collecting issues and fixing them. I'm hoping that by the 6.3 release we can say that it's fully supported. It will still be opt-in on the preview because it's a breaking change otherwise.
3) Unless we

[2021-04-14 12:43] shilman commented on #14193
@ThibaudAV which PR fixed it in 6.2.8? Also can you elaborate on "quite random"?

[2021-04-14 13:14] cellog commented on #14587
thanks, we are aware of controls. We also have a gigantic codebase, so the migration has not happened yet.

[2021-04-14 13:24] ld210 commented on #13823
It's very frustrating.  To have a single mdx file for both stories and documentation is an awesome feature, but i can't get it to work properly because of lack of information / code examples.

[2021-04-14 13:32] wszydlak opened #14593 "Show code not showing valid code for current configuration"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://next--storybookjs.netlify.app/angular-cli/?path=/docs/addons-controls--basic
2. Change `label` attribute to unlock "Show code" button
3. Click "Show code to preview code"
4. You will see old `label` value, not current
5. Again you can change label - you will

[2021-04-14 13:45] bmayen commented on #14193
I'm setting inlineStories to `true` in my config, so I don't think this would affect things. On 6.2.0-rc.7, the behavior works reliably/consistently as expected. Something changed at some point between then and 6.2.0-rc.10 that caused the problem described in this issue. Not able to pinpoint exactly which version introduced it because rc.8 and rc.9 don't work for me, so the commit I posted above i

[2021-04-14 14:04] ThibaudAV commented on #14193
@shilman this PR : https://github.com/storybookjs/storybook/pull/14447
added in version 6.2.2 no ?  :
[6.2.2 changelog](https://github.com/storybookjs/storybook/commit/c47b438f10b3104eedad9e38e6b61b923bc48f3c#diff-06572a96a58dc510037d5efa622f9bec8519bc1beab13c9f251e97e657a9d4edR8)

@bmayen In `6.2.0-rc.10` this bug stil present unless you have angular/element configured for inline stories

you nee

[2021-04-14 14:16] robcaldecott opened #14595 "Storybook 6.2.8 Docs blocks (Description, ArgsTable) not working with React monorepo"
**Describe the bug**
I am having a problem getting `Description` and `ArgsTable` to work with some of my React components in a `lerna` monorepo (although I am not convinced this is solely a monorepo issue.)

I have created the following repo that exhibits the issue:

https://github.com/robcaldecott/storybook-docs-bug

The project contains two components and although the MDX renders fine the `Descr

[2021-04-14 14:25] wszydlak opened #14596 "Ability to display argument as content for component"
**Is your feature request related to a problem? Please describe**
Lets say we have some component named: app-button.
We want content (children) of this component to be displated eg. as label:

[code]

[code]

How can we pass prop which will correspond with `ng-content` and generate examples as given:

[code]

**Describe the solution you'd like**
I would like to have ability to pass content which w

[2021-04-14 14:27] shilman commented on #13823
Simple example here: https://github.com/storybookjs/storybook/pull/14597

[2021-04-14 14:38] shilman commented on #14595
I think it's an issue with your custom babel config. I removed `babel.config.json`, and deleted the `node_modules/.cache` and it's working fine now.

[2021-04-14 14:45] dexster commented on #14193
Still happening in 6.3.0-alpha.7. If I get some time I will try assist and see if I can find anything in the source

[2021-04-14 14:46] ld210 commented on #13823
Thanks. This page also helped me a lot : https://github.com/storybookjs/storybook/tree/master/addons/docs/angular#docspage
Using the inline rendering solved a lot of issues...

[2021-04-14 14:55] robcaldecott commented on #14595
Wow, that works @shilman ! Thank you. Any ideas how I can tell Storybook not to use that babel config and instead use whatever the defaults are? I need that config for publishing the components.

[2021-04-14 15:07] dontsave commented on #14257
we are running into this issue as well when using yarn resolutions for webpack 5 in our workspaces monorepo

[2021-04-14 15:11] robcaldecott commented on #14595
I tried adding this to my main `main.js` config but it did not make any difference:

[code]

[2021-04-14 15:21] ThibaudAV commented on #14193
I don't know if it's related but I have bump babel to `"@babel/core": "7.13.15",` and it works better for me 🤷‍♂️

[2021-04-14 15:24] ThibaudAV commented on #14193
@dexster can you give a repo with the reproduction of the problem?

[2021-04-14 15:33] ThibaudAV commented on #14193
@dexster @shilman another way to reproduce this problem ^^

1. Go : https://next--storybookjs.netlify.app/angular-cli/?path=/docs/addons-actions--component-output-with-event-emitter (storybook angular exemple)
2. See "No code available"
3. Navigate on next story `Use action in method `
4. See "Show code"
5. Go back to the previous story
6. See "Show code"

why the 1st time the code is unavailable

[2021-04-14 15:38] shilman commented on #14538
Do you have a repro repo you can share?

[2021-04-14 15:54] darrenmcc-microfocus opened #14598 "Issue with tabs controlling appearance of the toolbar"
**Is your feature request related to a problem? Please describe**
We discovered this issue when hiding the canvas and only showing the docs tab for a component. The entire top toolbar disappears when only one tab is visible.

I've referenced the related component from the source code below. The logic seems to be controlling the appearance of the entire toolbar and not just the tabs.

https://githu

[2021-04-14 16:12] chadlavi-casebook opened #14599 "Possible to add custom source to an inline `<Canvas>`?"
**Is your feature request related to a problem? Please describe**

I would like to be able to pass custom source code to display in the `<Source>` for an inline `<Canvas>` used in an MDX document.

This is useful if, for example, you need to use a React Hook in the code that runs in the Canvas, which necessitates defining a separate component to use inside the Canvas.

Source code like this:

[cod

[2021-04-14 16:21] shilman commented on #14451
closing as dupe to #12307

[2021-04-14 16:21] #14451 closed

[2021-04-14 16:41] shyam528 commented on #13362
I am reading the content from read me file to create the doc. Is there any way to show the code with this approach?

[2021-04-14 16:49] fcisio commented on #14584
I wasn't able to reproduce the error with `Title`, `Description` or `@storybook/components/html`

But I did reproduce two things (uncomment to test):
- MDX `argTypes` breaking the stories
- Runtime `importSource` breaking MDX

[See Repro](https://github.com/fcisio/repro-storybook-mdx)

[2021-04-14 17:12] jsg2021 commented on #14497
You will have this issue if you use the webpack5 builder and use parts of your own config that use `webpack.DefinePlugin` in your config...
https://github.com/webpack/webpack/pull/13138

[2021-04-14 17:15] kaleem-elahi commented on #1493
i am getting same isssue looks like it is something rrelated to SCSS loader of webpack

![Uploading image.png…]()

[2021-04-14 17:15] jsg2021 commented on #14497
#14576 will probably solve this

[2021-04-14 17:23] wagedomain commented on #14425
Are monorepo setups a consideration as well, with root configs?

[2021-04-14 17:43] nhoizey commented on #7671
There are some nice ideas in this article written by @varya:
https://frontside.com/blog/2021-04-07-helping-designers-and-developers-storybook/

[2021-04-14 18:08] #14574 closed

[2021-04-14 18:14] kdong007 opened #14602 "initStoryShots, jest can't parse sample mdx file"
**Describe the bug**
`@storybook/addon-docs/jest-transform-mdx` can't properly transform sample mdx file for jest

**To Reproduce**

1. npx sb init
2. jest.config.js
[code]

3. babel.config.js
[code]
4. test case
[code]

5. yarn jest
**Expected behavior**
no error

**Error log**
[code]
**System**
Environment Info:

  System:
    OS: macOS 10.15.7
    CPU: (8) x64 Intel(R) Core(TM) i5-1038NG7 CPU @

[2021-04-14 19:33] BiancaArtola opened #14603 "Vulnerability on @storybook/addon-docs related with trim"
I know that it is not a bug, but I need to report a vulnerability that `@storybook/addon-docs` has.

![image](https://user-images.githubusercontent.com/21174759/114767355-e70eba00-9d3d-11eb-9cfd-18350faf35d3.png)

The following is the related dependencie tree:
`@storybook/addon-docs` -> `@mdx-js/loader` -> `@mdx-js/mdx` -> `remark-mdx` -> `remark-parse` -> `trim 0.0.1`

`trim 0.0.1` has a `ReDoS`

[2021-04-14 19:34] astreiten commented on #14487
Hello, I ran the `yarn upgrade` command but the vulnerability is still present. Am I missing something? Thanks.

[2021-04-14 20:08] stof commented on #14538
@shilman here is the reproducer:

1. `npx sb init --type html --builder webpack5` (works also with `--type react` but it requires an extra step to add `react` and `react-dom` in the project. I haven't tried other types)
2. `npx sb add @storybook/addon-a11y`
3. edit `.storybook/main.js` to enable the a11y addon (why isn't it done by `sb add` ?)
4. run `npm run build-storybook`

[2021-04-14 20:21] malouro opened #14605 "Syntax highlighting for diff code blocks in .mdx not working after 6.1.x+"
**Describe the bug**
In 6.0.x, the syntax highlighting for diffs was supported in mdx out-of-the-box. After upgrading to 6.1.x or later, this is no longer the case.

**To Reproduce**
Steps to reproduce the behavior:

1. Clone the [repro repo](https://github.com/malouro/storybook-diff-syntax-repro)
2. Switch to the branch corresponding to the Storybook version to test (`git checkout 6.1.x` or `6.0.

[2021-04-14 23:36] joycemwang commented on #13482
@lalogrosz did you manage to resolve the issue. i'm facing the same exact problem

[2021-04-15 00:02] schontz opened #14607 "Storyshots skips some stories"
**Describe the bug**
Storyshots is skipping some of my stories, even though they show up in the browser. Using CRA.

**Question**
Is it possible to get verbose output to figure out which stories it is processing?

[2021-04-15 00:22] mauroencinas opened #14608 "Story decorators are not working properly after 6.2"
**Describe the bug**
- When using another component as a story decorator, the controls stop working completely (this did not happen before 2.6)
![controls-not-working](https://user-images.githubusercontent.com/32255583/114922379-319d3e80-9df1-11eb-8dd2-bac8dd50f9a5.gif)

- When using Div or another html element as a decorator and when using the controls, the component changes state abruptly and yo

[2021-04-15 01:11] lalogrosz commented on #13482
No, just removing storysource and docs is working for me

[2021-04-15 01:25] shilman commented on #14608
@mauroencinas do you mean 6.2? what version are you upgrading from?

[2021-04-15 01:43] mauroencinas commented on #14608
@shilman , thanks  , yes, I mean 6.2, I'm upgrading from:

 "@storybook/addon-essentials": "^6.0.25",
 "@storybook/addons": "^6.0.25",
 "@storybook/react": "^6.1.21",
 "@storybook/theming": "^6.0.21",

[2021-04-15 01:55] shilman commented on #14608
i think it might be fixed by https://github.com/storybookjs/storybook/pull/13049

[2021-04-15 02:41] shilman opened #14610 "CLI: `sb add` should update main.js"
When we use `sb add` to add an addon, it should also update the `addons` field in `.storybook/main.js`

_Originally posted by @stof in https://github.com/storybookjs/storybook/issues/14538#issuecomment-819799037_

[2021-04-15 03:41] shilman commented on #14591
Ok, I've confirmed that `iframe.html` was generated in 6.1.x and is no longer generated in 6.2.x. My impression is that this is actually a bugfix that ended up being a breaking change in your case, is that correct? It shouldn't be hard to restore the old behavior, but I don't really understand why it's needed. Can you clarify a bit? I didn't understand https://github.com/storybookjs/storybook/issu

[2021-04-15 04:03] sarahbethfederman commented on #14591
By default our router/CDN setup only fetches the index.html, so all static assets need to refer to an absolute path with the ugly url that's generated in our deployment pipeline. The `publicPath` webpack setting works for this with mostly, with the exception of the iframe.html which doesn't respect this setting. By default src in the index.html refers to `/iframe.html` and the only way to point it

[2021-04-15 04:04] sarahbethfederman commented on #14591
I'm not sure if it was a "bugfix" because the actual use case for --preview-url didn't seem to be documented :)

[2021-04-15 04:18] shilman commented on #14591
Ok thanks for explaining. I'll see if i can restore the old behavior for now (or maybe fix the other bug?!), and there's a good chance we'll be revisiting the preview url feature in the coming months

[2021-04-15 04:24] sarahbethfederman commented on #14591
Awesome, thanks!!

[2021-04-15 04:26] OkhaifoOikeh opened #14611 "Unable to build storybook, "command not found""
**Describe the bug**
A clear and concise description of what the bug is.
The `yarn build-storybook` command is not working in react native
**To Reproduce**
Steps to reproduce the behavior:
`yarn add @storybook/cli --dev`
`yarn sb init`
`"scripts": {
    "start": "expo start",
    "android": "expo start --android",
    "ios": "expo start --ios",
    "web": "expo start --web",
    "eject": "expo eje

[2021-04-15 05:22] deepakanuraags commented on #13440
@ThibaudAV i unfortunately cannot do that, however the problem i am currently facing is that i am able to build locally but in pipeline under while npm resolution comes it fails because of timeout

[2021-04-15 05:27] bjornharvold commented on #14549
Hi @ThibaudAV

Your above suggestion gives me a "path is not defined" so didn't continue down that road.

Global styles work when I add a default project. Will just have to change the default project depending on which app I am working on at the moment. We are just starting to use StorybookJS so it won't get too much into advanced use cases like running Cypress with StorybookJS any time soon.

Hop

[2021-04-15 05:27] #14549 closed

[2021-04-15 05:41] bjornharvold opened #14612 "feat(Angular): Support for global styles for individual components"
**Is your feature request related to a problem? Please describe**
#14549

**Describe the solution you'd like**
An easy way to apply global styles to an Angular component library in a mono repo with multiple SPA apps / styles.

**Current solution**
When testing individual components, we switch between SPA projects by changing defaultProject in angular.json.

**Are you able to assist to bring the fe

[2021-04-15 05:57] thanh90 commented on #3916
Thanks a ton, bro

[2021-04-15 05:58] thanh90 commented on #3916
@wzulfikar thanks a ton, bro

[2021-04-15 06:44] dexster commented on #14193
Hope this helps:

I added a log entry in sourceDecorator.ts for when the sourceDecorator method emits SNIPPET_RENDERED with the source code data.

In 6.2-rc.7 on initial page load it emits SNIPPET_RENDERED first **then** the events for setting and rendering docs happen. Note the "manager received docsRendered"

In later versions (6.3-alpha5 for this test) on initial page load, you can see in the s

[2021-04-15 07:29] shilman commented on #14591
@sarahbethfederman I don't think the build points to `/iframe.html` anymore, but instead to `iframe.html`, which should solve the real issue here. Can you give that a try on your end and let me know if it's doing the right thing for you? If not, would it be possible to create a simple repro illustrating the problem?

Side note: I've taken a look at the 6.1 => 6.2 changes and it would be easy to ro

[2021-04-15 07:54] irudoy commented on #14407
@shilman played around with versions and determined that it starts breaking on v6.2.0-rc.4, that referencing only one change: https://github.com/storybookjs/storybook/pull/14271

[2021-04-15 08:03] sivaraj-v opened #14613 "Remove console.log in addons.addons.setConfig"
**Describe the bug**
Remove printing console.log in storybook

![image](https://user-images.githubusercontent.com/6199252/114835258-01ed3700-9def-11eb-814e-44096daf9d31.png)

Steps to reproduce the behavior:

[code]

[2021-04-15 08:16] stof commented on #14538
@shilman should this be closed now that https://github.com/storybookjs/storybook/pull/14592 is merged ?

[2021-04-15 08:17] shilman commented on #14538
Will close when released

[2021-04-15 08:18] randak commented on #14513
@blankwavearcade Just want to confirm if you will still have time to work on this. If not, I can take a look over the weekend.

[2021-04-15 08:46] sarahbethfederman commented on #14591
Yeah unfortunately that will still create a 404 since it needs the absolute path (similar to delivering images via CDN). I can't really set up a repro without creating a new pipeline atm. I guess I'm just unclear as to why the publicPath would effect everything but the iframe location. Was that a conscious design choice, or is it something that can be changed?

[2021-04-15 09:52] robcaldecott commented on #14595
As an experiment I emptied my `babel.config.json` and the issue persists:

[code]

I have to remove/rename the file for this to work. 🤔

[2021-04-15 10:36] ricovitch commented on #10983
Seems we need to use the `page` option instead of `container` with latests storybook versions (6.2.0 as of today) for this workaround to work.

[2021-04-15 10:50] shilman commented on #14407
I took a look and the error is still there on 6.2.0-rc.3. It just comes out as a warning instead of an error. I also needed to disable the 'util' fallback:

[code]

When i do that and try to view the page, I get a `process.env.[SOMETHING]` not defined, which means that the webpack define plugin isn't working, which makes sense because it's disabled in your main.js config

[2021-04-15 10:51] shilman commented on #14595
@robcaldecott here's the issue to track https://github.com/storybookjs/storybook/issues/14425

[2021-04-15 12:15] jsdw commented on #13893
Just to chime in, I have hit precisely the same issue as @Hypnosphi has above using webpack 5.33.2

[2021-04-15 12:21] edwardbrowncross commented on #4764
I found [this medium article](https://medium.com/learnwithrahul/understanding-npm-dependency-resolution-84a24180901b) helpful in understanding what it means by 'higher up the tree'. As I understand it, it is insisting (pointlessly) that its version is the first one to be installed into node_modules. However npm installs dependencies in alphabetical order, so there's really no way to actually enfor

[2021-04-15 13:02] Greenie10 commented on #14578
A colleage tried to load our storybook in real ie11, and this is a screenshot:
![image (6)](https://user-images.githubusercontent.com/1492173/114873423-2ea34d80-9df3-11eb-8fd0-83b88d32c329.png)

[2021-04-15 13:45] shilman commented on #14613
Do you have a repro repo you can share?

[2021-04-15 13:47] jonniebigodes commented on #12961
@MrCull a pull request addressing this issue was merged. Closing this issue now, thanks for bringing this to our attention.

Stay safe

[2021-04-15 13:47] #12961 closed

[2021-04-15 13:48] shilman commented on #14193
@dexster thanks for this detective work. just to confirm a bit:
- this is only about the iframe rendering of stories in angular; inline rendering is working?
- is there a version where iframe rendering has been working properly, given that there are a few different behaviors above?

Thanks! 🙏

[2021-04-15 13:55] dexster commented on #14193
inlineStories is true when I tested above with those logs.

When I initially created this issue I was using iframes but I have moved to inline and it still happens

[2021-04-15 13:55] bmayen commented on #14193
@shilman I'm seeing this specifically with inline rendering. @dexster also confirmed earlier that he is seeing the problem with inline rendering enabled. 6.2.0-rc.7 is the last version I've found that works as expected.

[2021-04-15 13:55] bmayen commented on #14193
Beat me to the comment @dexster :)

[2021-04-15 14:35] shilman commented on #13823
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-alpha.8 containing PR #14597 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-15 14:35] shilman commented on #14107
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-alpha.8 containing PR #14582 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

[2021-04-15 14:35] shilman commented on #14538
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-alpha.8 containing PR #14592 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-15 14:35] #13823 closed

[2021-04-15 14:35] #14538 closed

[2021-04-15 14:51] pantelispanayiotou opened #14616 "Build Fails, storybook checking types on unrelated files"
**Describe the bug**
When i run yarn storybook, then storybook runs as it should, but when i generate a build, then the build fails and shows errors on unrelated typescript files i have. I already switched off fork-ts-checker-webpack-plugin as mentioned in https://storybook.js.org/docs/react/configure/typescript but with no luck. The build fails with no additional info, it only mentions the compoe

[2021-04-15 14:52] #14616 closed

[2021-04-15 15:13] krzempekk opened #14617 "Provide option to hide default toolbar tools"
**Is your feature request related to a problem? Please describe**
In some storybooks I don't want default tools (zoom, fullscreen, eject or copy) to be visible on toolbar. At the moment those are hardcoded in `lib/ui/src/components/preview/toolbar.tsx` in `defaultTools` and `defaultToolsExtra` arrays.

**Describe the solution you'd like**
It would be nice to be able to set config for toolbar speci

[2021-04-15 15:15] randak commented on #5193
I think most of the people commenting in this thread here have missed the point that @ndelangen is making above.

A Storybook build is a static site. It has no backend. Therefore, you cannot add auth directly in the storybook code itself—you've already sent all the assets to the client so any authentication you put in place could be trivially circumvented. This is no different than if you wanted t

[2021-04-15 15:29] dvago commented on #5193
@randak what are you saying? static web apps (like storybook) can get auth mechanisms to prevent accessing certain content/route without need of reverse proxy :/

Since the Webpack bundle provides a compressed and obfuscated version of your source it is quite tricky to say "could be trivially circumvented". Not sure but it seems last few years of the frenzy around "static sites coupled and re-hydr

[2021-04-15 15:34] Mintoo200 opened #14618 "Storybook fails to load a custom class extending Date"
**Describe the bug**
I added a custom class extending Date to my project adding some helper functions but storybook considers every occurence where I use it as a simple Date and throws a `<helper function> is not a function`. This problem does not occur when I start the CRA app with the Calendar directly.

**To Reproduce**
1. clone [this repository on Github](https://github.com/Mintoo200/storybook

[2021-04-15 15:43] randak commented on #5193
Sorry if I'm misunderstanding you. Your storybook assets are still on a public route in this scenario, right? I guess it depends on what level of protection you are looking for. I don't mean to imply that Storybook couldn't offer _some_ protection here, but if the goal is to prevent access to your documentation, obfuscation alone wouldn't really help you with that since the text has to be preserve

[2021-04-15 16:09] randak commented on #5193
I know it's not just a bunch of HTML files 😓

Admittedly, I've never tried to put authentication on a truly static site, so I may be unaware of some technique here, but how is your initial route supposed to load the other JS files without having their paths to those files contained somewhere within the JS code? Setting aside obfuscation, how are you protecting the discovery of those paths? Or is i

[2021-04-15 16:35] PilotConway commented on #14602
I'm running into this same issue. I printed the underlying stack trace from the error being thrown which contains some more info on where the export is coming from (this is from a `console.trace(error)` placed at line 101 in loadCsf.js) which I pasted below.

What's odd is I have other mdx files in a different directory that have been able to load without any issues. Working on trying to isolate i

[2021-04-15 16:40] dvago commented on #5193
So, as mentioned above the world SPA should give an idea on how you prevent to get fully functional Storybook to download and use in your local environment/elsewhere. Your components "reacts" and render to certain conditions, if you don't have such requirements (e.g. a valid token) you can't actually render data nor download content from a mock service (e.g. chart components that fetch mock data i

[2021-04-15 16:49] alexan commented on #14193
inlineStories are also not working for me

[2021-04-15 16:52] randak commented on #5193
Ah, it seems we're talking past each other.

In my case, my concern is not about someone decompiling and rendering my JS components; it is about the descriptive content surrounding the components—the text that explains what the components are for, how to use them, and potentially business-sensitive information that shouldn't be on the open internet. That kind of content can usually be more easily

[2021-04-15 17:04] dvago commented on #5193
Indeed, having an authentication system within Storybook could permit you to serve these business-sensitive info via API.

Serving these descriptions via API could give you an extra scope of such as"permit non-dev people to edit/review/publish via a 3rd dashboard/CMS" (that's just me expanding your needs).

In general, as bare minimum usage of Storybook as "list of live components within a UI wher

[2021-04-15 17:14] randak commented on #5193
Personally, serving descriptions via API that I would normally write in MDX files sounds _far_ more onerous than just having auth from my server. That destroys all the convenience of Storybook's documentation approach.

If you really want an official authentication solution from Storybook, I imagine the real answer is "use Chromatic". The basic tier is free, and it supports access control accordin

[2021-04-15 17:24] dvago commented on #5193
What probably the author and I were looking for is the comment above, no sensitive description involved, just the possibility to serve components across multiple devs having a login system so not everyone can render and control them via Storybook UI.

Chromatic is not the answer as it involves your code to be deployed into a 3rd party service/hosting (Chroma Software, Inc).

I think the discussion

[2021-04-15 17:36] bcomnes opened #14619 "Upgrade @reach/router to react-router@6"
Storybook uses @reach/router in a few critical place places.  Reach router is EOL, and unfortunately not receving much attention today (like [react 17 support for the time being](https://github.com/reach/router/pull/452)).

The long term path forward for @reach/router is react-router@6. The short term path forward is react 17 support for reach.

I attempted to start a PR to port over to the simila

[2021-04-15 17:42] bcomnes commented on #14119
I started an issue specifically for reach router to react-router 6: https://github.com/storybookjs/storybook/issues/14619

I gave it a shot this morning but gave up after a few hours.  Perhaps this would be easier for someone more familiar with @storybook/router and the various imported types around @reach/router.

The quickest path forward would be for reach to just support reach 17: https://gith

[2021-04-15 17:48] eliserothberg commented on #14193
Odd behavior - if you run storybook and have Safari as your default browser and it automatically opens on the first load of storybook only, it WILL show "Show Code" but if you open another browser or browser window or even refresh that same page hat had previously worked, it won't show "Show Code" until you toggle or click something else on the page.

[2021-04-15 17:55] kaiyoma opened #14620 "start-storybook output is missing colors and progress bar"
**Describe the bug**
start-storybook seems to have some issues with its output, depending on how it's invoked and what package manager is used.

**To Reproduce**
If I use yarn and run start-storybook through a custom package.json script, then everything is great: the output has colors and the progress bar works. However, if I run start-storybook directly, like this:

[code]

then the output is ter

[2021-04-15 18:51] mauroencinas commented on #14608
Thank you very much again, I have uploaded screenshots to illustrate the problems, while reviewing the information you shared with me

[2021-04-15 19:24] rwieruch commented on #14463
Confirmation: Story needs to be named *.story or *.stories. Thanks @shilman 👍🏽

[2021-04-15 19:24] #14463 closed

[2021-04-15 19:59] doutatsu commented on #1573
Does anyone know how to make thsi work for Vue 2 and Storybook 6? I've been trying various things in `preview.js`, including solutions mentioned here, but with no success:

![image](https://user-images.githubusercontent.com/4270980/114930845-64652800-9e2d-11eb-87a7-97a094a22336.png)

[code]

[2021-04-15 20:06] kaiyoma opened #14621 "build-storybook writes to STDERR even when it's successful (causes warnings with Rush.js)"
**Describe the bug**
build-storybook writes to STDERR even when it's successful. This causes warnings with tools like Rush.js, which monitor STDERR for content and flag the build as "successful with warnings" as a result.

**To Reproduce**

[code]

**Expected behavior**
build-storybook should be writing normal output to STDOUT.

**System**

[code]

┆Issue is synchronized with this [Asana task](htt

[2021-04-15 21:22] salmin89 commented on #14147
We turned on legacyRendering because we got these kinds of errors:

How would we turn off angularLegacyRendering and solving the above error?

[2021-04-16 01:03] alanjo4 opened #14622 "Arguments are not escaping special characters."
**Describe the bug**
Storybook is not supporting special characters

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Storybook,
2. Click on the example button component
3. Put "To be or not to be, that's the question" on the label field
4. Click on the preview mode
5. See error

**Expected behavior**
The preview mode should render "To be or not to be, that's the question"

**Screenshot

[2021-04-16 02:38] Jogiter opened #14623 "@storybook/vue won`t work when using vue-loader@16.x"
https://github.com/storybookjs/storybook/blob/next/app/vue/src/server/framework-preset-vue.ts#L2

[code]

there is a `lib/plugin.js` file in vue-loader@15.x, but after vue-loader upgrade to 16.x.  `lib/plugin.js` is not exist anymore

see [vue-loader/plugin.ts](https://github.com/vuejs/vue-loader/blob/v16.1.2/src/plugin.ts)

Fix:

[code]

i`ll do a pr in minutes

[2021-04-16 04:16] shilman commented on #14622
This is a known limitation, with a workaround that's documented in the last two sections here:

https://storybook.js.org/docs/react/writing-stories/args#mapping-to-complex-arg-values

I'd like @ghengeveld to chime in -- perhaps there are things we can do to make this less limiting.

[2021-04-16 06:43] jasperdunn opened #14625 "Using args with Typescript"
**Describe the bug**
I followed the TS pattern outlined [here.](https://storybook.js.org/docs/react/writing-stories/args#story-args)
Is this documentation already outdated?

I have two errors reported by Typescript:

[code]

and

[code]

**Screenshots**
<img width="808" alt="Screen Shot 2021-04-16 at 4 42 33 pm" src="https://user-images.githubusercontent.com/26566353/114982430-c9268e00-9ed2-11eb-8

[2021-04-16 06:56] shilman commented on #14625
That's not what the documentation says. Story is the type of the template, not the type of the argument to the template

[2021-04-16 07:38] YozhEzhi commented on #13929
@antonio-b I have to write test for new logic. I'll try to make it on this week end.

[2021-04-16 08:20] wszydlak opened #14627 "Angular - problems with component using ControlValueAccessor"
**Describe the bug**
I tried to use my own component which is using `ControlValueAccessor` without success. I have many problems.
I prepared example (below as Code Snippet) which seems to not work with Storybook - please use it to reproduce errors.

Problems:

1. Canvas Tab:
    * throwing error: `ERROR TypeError: instance.registerOnChange is not a function` (in legacy renderer)
    * throwing err

[2021-04-16 08:21] fikyair opened #14628 "SassError: File to import not found or unreadable"
**Describe the bug**
When I deploy on travis CI, the following error will be reported, but no error will be reported when running locally

[code]

**To Reproduce**
Steps to reproduce the behavior:

`travis.yml`:

[code]

`main.js`

[code]

running locally:
`build-storybook -s public`

In addition:

When I use ` @storybook/preset-scss`，An error occurred after running locally，like this:

[code]

**E

[2021-04-16 08:47] irudoy commented on #14407
@shilman I has disabled Define and Dotenv plugins because of another issue. It used unneeded env vars from some dotenv files, that used for backend app purposes. Anyway, seems like it doesn't affect this issue.

Also, I don't clearly understand why you needed to disable the 'util' fallback.

And it definitely works fine on 6.2.0-rc.3. You can try it on this branch: https://github.com/irudoy/sb-144

[2021-04-16 09:37] irudoy commented on #14407
Some news. The issue is happening only when using yarn berry. It's good with npm.

[2021-04-16 09:50] BryanAdamss opened #14629 "How to develop `vue componet` and `vanilla js lib` togethor?"
**Is your feature request related to a problem? Please describe**
No

**Describe the solution you'd like**
Integrate `jsdoc` for `vanilla js lib`

**Describe alternatives you've considered**
Hi,Im  trying develop `vue compoent` and `vanilla js lib` togethor.
I am useing `@storybook/vue` to generate `vue` document，I alos have some `vanilla js lib`  need to doc it.
Im trying use `jsdoc`，but how can

[2021-04-16 11:04] Fouppy opened #14630 "Building on CircleCi"
**Describe the bug**
Building on CircleCi fails, whereas locally everything works as expected.

Error output:

<details>
<summary>Details</summary>

[code]

</details>

**Code snippets**

`.storybook/preview.js`
[code]

`app/config/global-styles.ts`
[code]

Relevant bits from `package.json`
[code]

`babel.config.js` just in case:
[code]

**System**
Working build (local):
[code]
Failing build (Circ

[2021-04-16 11:17] patou opened #14631 "Update Storybook 6.2 : TypeError: Cannot convert undefined or null to object"
**Describe the bug**
I try migrate my angular application to storybook 6.2 from 6.1.
Stories component not display, we have instead a black background with a red border (screenshot below) and we have a javscript error : TypeError: Cannot convert undefined or null to object

**Javascript Error**

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/841858/115016143-fc5a2480-9e

[2021-04-16 11:31] #14542 closed

[2021-04-16 11:32] actiew commented on #14542
Already resolved.

[2021-04-16 11:44] jasperdunn commented on #14625
Thanks shilman, I feel extremely smart 🤣

[2021-04-16 11:44] #14625 closed

[2021-04-16 12:07] kabomi commented on #13342
Same problem with 6.2.1

[2021-04-16 12:09] shilman commented on #14621
Is this a regression in 6.2?

[2021-04-16 12:11] shilman commented on #14620
@ndelangen any idea what's going on here?

[2021-04-16 13:41] weaintplastic opened #14632 "Panel isn't visble when it's content is too large"
**Describe the bug**
We are using the controls add-on. When we have a large number of controls rendered, the panel isn't shown anymore as soon as it runs out of vertical space. We only see the preview and the panel is hidden behind it but not visible due to a low (non-existing) z-index. https://github.com/storybookjs/storybook/blob/1e97c2690fe080012ddcaee177d27327cb50d51e/lib/ui/src/components/lay

[2021-04-16 14:40] shilman commented on #14631
Did you try removing `node_modules` and/or lockfiles and reinstalling?

[2021-04-16 14:46] shilman commented on #5193
As @randak explained above, it's just not secure. And there are secure methods available on the server. Chromatic is one example, but you can easily set it up yourself. Those solutions are actually secure, so why would we want to put in extra work to create and maintain something that's worse than the existing solution that doesn't require any change to Storybook?

[2021-04-16 15:01] michaelaflores commented on #14342
I upgraded today from `6.1.15` and began experiencing this issue as well. The workaround does not prevent the constant rebuilds for me.

[2021-04-16 15:02] ThibaudAV commented on #14579
a thought that comes to me while reading : 😁
not sure if I understand the `initialize it to undefined`
but the case of args:`{}` is not the same as `{foo: undefined}`
So if I don't have a default value defined on the `foo` property, when I click on reset I expect to find `{}`.

[2021-04-16 15:23] AndrewJSchoen opened #14633 "Webpack file-loader error with non-standard file types"
**Describe the bug**
Adding an additional rule for file-loader of files like `.glb`, and then trying to import them within the javascript source returns an alias file, not the actual file.

**To Reproduce**
1. Add an additional rule for file-loading of the filetype (`.glb`).
2. Import the file relative to a javascript file using the `import _ from _` syntax.
3. Console log the value obtained from

[2021-04-16 15:31] shilman commented on #14633
i'm not sure how `@storybook/preset-create-react-app` deals with these novel files, because it essentially throws away storybook's webpack config and replaces it with CRA's. @mrmckeb might be able to give a more precise description of what's going on here

[2021-04-16 15:37] AndrewJSchoen commented on #14633
@shilman @mrmckeb Thanks for pointing that out. A quick test of removing the "@storybook/preset-create-react-app" add-on does seem to produce the _expected_ behavior without apparently breaking anything else. I guess I can proceed without that for the time being, and maybe this should be pointed over to [preset-create-react-app](https://github.com/storybookjs/presets/tree/master/packages/preset-cr

[2021-04-16 16:18] gabiseabra commented on #14425
In the example linked on #13811 the main babel config is loaded during the webpack build step even though the final babel-loader config has the babelrc option set to false. Adding this to `.storybook/main.js` fixes it:

[code]

See differences between config file and babelrc [here](https://babeljs.io/docs/en/options#configfile).
Perhaps adding `configFile: false` to the object at `lib/core-common/

[2021-04-16 16:21] ThibaudAV commented on #14147
@salmin89 can you give more details about the component you added in the story ?

Make sure that you do not directly pass all `args` in your story `props`
prefer a "destructuring" to control them :
[code]

[2021-04-16 16:24] ThibaudAV commented on #14627
@wszydlak can you try this ? :

Make sure that you do not directly pass all `args` in your story `props`
prefer a "destructuring" to control them :
[code]

[2021-04-16 16:25] ThibaudAV commented on #14520
@RGunning can you try this :

Make sure that you do not directly pass all `args` in your story `props`
prefer a "destructuring" to control them :
[code]

[2021-04-16 16:35] ThibaudAV commented on #14596
you can use two way to do that :

1. with template
[code]

2. with `componentWrapperDecorator`
[code]

se more exemple [here](https://github.com/storybookjs/storybook/tree/next/examples/angular-cli/src/stories/basics/component-with-ng-content) or [here](https://github.com/storybookjs/storybook/tree/next/examples/angular-cli/src/stories/core/decorators/componentWrapperDecorator)

[2021-04-16 16:39] kaiyoma commented on #14621
@shilman I'm not sure. I can't test earlier versions because they seem to have some kind of core-js dependency problem that causes the build to actually fail. I have to run 6.2 for the build to pass.

[2021-04-16 17:46] ThibaudAV opened #14634 "Args value difference depending on the opening of the story"
**Describe the bug**

The content of args differ depending on how the story is displayed and whether the story has argTypes by default

**To Reproduce**
Example with angular and [this story](https://github.com/storybookjs/storybook/blob/2cdf01a07b54f9946cdb0453431ddf93510031bb/examples/angular-cli/src/stories/addons/controls/addon-controls.stories.ts#L5) :

[code]

1. opening of the project on the

[2021-04-16 17:48] ThibaudAV commented on #14634
I add this issue in connection with this one https://github.com/storybookjs/storybook/issues/14579 in order that it can improve args and have an idempotent behavior

[2021-04-16 19:50] hydrosquall opened #14635 "[cli][build-storybook] Enable built assets to be output to a separate directory"
**Is your feature request related to a problem? Please describe**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

- Our storybook is deployed and working with to a long URL. We'd like to deploy our built Storybook to a custom subdomain
- For this to happen, we need `index.html` to exist in a separate directory than the built `JS`  files. Currently, the

[2021-04-16 20:05] jonniebigodes commented on #12317
Closing this as a pull request was made to address the issue. Feel free to let me know if the issue persists and I'll gladly re-open the issue.

Stay safe

[2021-04-16 20:05] #12317 closed

[2021-04-16 20:09] jonniebigodes commented on #14148
Closing this issue as the documentation was updated with a pull request to address it. @starzonmyarmz let me know if this is still an issue and I'll gladly re-open it.

Thanks for bringing it to our attention.

Stay safe

[2021-04-16 20:09] #14148 closed

[2021-04-16 20:10] jonniebigodes commented on #14094
Closing this issue as the documentation was updated to address this issue. @d-koppenhagen feel free to let me know if this is still an issue for you and I'll gladly re-open the issue and revisit and update the documentation.

Stay safe

[2021-04-16 20:10] #14094 closed

[2021-04-16 20:34] justgook commented on #10987
Doesn't this #14545 (didn't check yet) opens ability to use storybook with snowpack?

[2021-04-16 21:35] shilman commented on #12853
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-alpha.9 containing PR #14555 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-16 21:35] shilman commented on #13589
Yippee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-alpha.9 containing PR #14495 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-16 21:35] #12853 closed

[2021-04-16 21:35] #13589 closed

[2021-04-16 21:51] shilman commented on #10987
#14545 means that if somebody wrote an experimental snowpack builder, users would be able to try it out without having to fork storybook. AFAIK nobody's written that builder yet. (but if anybody's interested, I'd be happy to guide!)

[2021-04-16 23:16] #14506 closed

[2021-04-17 06:42] tannerlyons commented on #14515
Seems like a dupe of https://github.com/storybookjs/storybook/issues/12019

[2021-04-17 08:50] moltar commented on #13377
Having the same issue

[2021-04-17 08:50] Vadorequest commented on #5193
How would you implement an authentication system when your Storybook static site is hosted on Vercel?

Maybe there are better alternatives to strong authentication than building something in Storybook itself, but if that's the case, then maybe there is a lack of example/documentation about those.

At this time, I'd like to protect my storybook static site hosted on Vercel and I don't know how to d

[2021-04-17 10:19] mancristiana commented on #11697
I am also interested in this feature, except I would like to configure global custom props, rather than disable `children` props. I had created an issue on Stackoverflow https://stackoverflow.com/questions/67074392/how-can-i-add-a-global-control-matcher-in-storybook expecting this was already possible.

Here was my attempt to edit `preview.js` to add a global configuration for props named `icon`.

[2021-04-17 12:37] patou commented on #14631
Yes, I remove all many time and reinstalling.

[2021-04-17 12:45] shilman commented on #14631
Try running with `--no-manager-cache`

[2021-04-17 13:00] gburning commented on #11774
Sorry to revive an old thread but was there ever any progress on this @elevatebart?

I appreciate that parsing extracted props is not a core feature for vue-docgen-api but if there was a gist or perhaps some sort of plugin to do this I think that might be useful. It does seem like a fairly commonly requested feature (https://github.com/storybookjs/storybook/issues?q=vue+mixin+props).

I have a bun

[2021-04-17 13:55] apapadopoulou commented on #13632
I am currently working on another issue, but I could take a look at this afterwards. To begin with, I think it needs more reproduction, as the step to reproduce that is mentioned is the link to the Storybook doc about controls.

[2021-04-17 15:08] apapadopoulou commented on #12737
Thank you, I will start off from there!

[2021-04-17 15:25] justgook commented on #10987
I'm kind of have idea for that, tryout, check what it spits out, and see what it needs.. and if at all it is possible to build snowpack into storybook or storybook into snowpack.

[2021-04-17 17:12] Gagaro opened #14638 "Error when there is a simple quote in the project path."
**Describe the bug**

If there is a simple quote (`'`) in the project path, then the `npm run storybook` command does not work. Note that there is a `test ' test` directory in the log below:

[code]

**To Reproduce**
Any project with a simple quote in its path.

**System**
[code]

[2021-04-17 18:02] justgook commented on #10987
Main point of snowpack - that it acts just as middleware for each file - so it results just 1:1 if imports.. only way that I can imagine how it can work with storybook and custom bundler - is just provide full files that is required, and give snowpack ability to build/serve it.. but for that storybook should become something like Storybook prebuilt - that acts just like bare framework that can be

[2021-04-17 19:42] Maokli commented on #14638
try the following
import { addDecorator, addParameters, addLoader, addArgTypesEnhancer } from "C:/Users/Gagaro/PycharmProjects/test ' test/node_modules/@storybook/client-api";

[2021-04-17 21:47] gabiseabra commented on #14595
This has something to do with `react-docgen` parsing components with the project's main babel options, it affects other addons that use docgen info like `addon-controls` too.
Configuring `react-docgen` not to read babel config files fixes your example, you could add this to `.storybook/main.js` as a quick fix:

[code]

I'm not sure why your example breaks with an empty config file though.

[2021-04-18 02:45] pconrad commented on #11542
This issue is still happening for me with Storybook 6.2.8, and I can't seem to find any work around.

[2021-04-18 09:35] shilman commented on #10987
@justgook vite is also doing browser-native ESM for the dev server and there is a WIP vite builder here: https://github.com/eirslett/storybook-builder-vite

[2021-04-18 10:59] Gagaro commented on #14638
It is not in any of my files.

Please see https://github.com/Gagaro/storybook-quote-bug for a way to reproduce.

[2021-04-18 11:30] JB1905 opened #14642 "Placeholder and value are not centered vertically in Firefox"
**Describe the bug**
Placeholder and value are not centered vertically in Firefox in text input from `@storybook/addon-controls`

**To Reproduce**
Open Storybook playground in Firefox

**System**
[code]

![Zrzut ekranu 2021-04-17 o 19 58 33](https://user-images.githubusercontent.com/28870390/115143919-25f88480-a04a-11eb-889c-759a4590f094.png)
![Zrzut ekranu 2021-04-17 o 19 58 43](https://user-imag

[2021-04-18 11:33] JB1905 commented on #14642
Issue is visible e.g. here https://5ccbc373887ca40020446347-fmqyskzoof.chromatic.com/?path=/story/forms-input--template

[2021-04-18 11:57] #11608 closed

[2021-04-18 12:28] vetrov opened #14643 "Angular: ngModel/ngModelChange don't work in Storybook 6.2+"
**What's the problem?**
There was a way to define inputs for Angular components implementing ControlValueAccessor interface (reactive form controls) by using `ngModel` and `ngModelChange` as props in story. After upgrading to Storybook 6.2 these props seems do not work anymore.

* new renderer: nothing happens, component.writeValue is not called
* old renderer (angularLegacyRendering: true): see t

[2021-04-18 13:07] tfrijsewijk commented on #3062
@joeycozza's solution still works (Storybook 6.2.5) :tada:

but... `config.entry` is an array of paths, and since I'm running Windows the entry I wanted to remove looks something like `node_modules\\webpack-hot-middleware\\client.js`

I changed the solution to

[code]

I'm using Storybook to develop and run my Cypress tests on and want to resemble production as close as possible. `start-storybook

[2021-04-18 13:29] shilman commented on #14580
¡Ay Caramba!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-alpha.10 containing PR #14636 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-18 13:29] #14580 closed

[2021-04-18 14:32] gburning commented on #11774
For the time being I hacked together some code to do the prop to argType mapping manually:
https://gist.github.com/gburning/7727cb834760460a796fbf103b89986e

Not great but will work fine until a better solution exists.

[2021-04-18 14:49] mt9eet commented on #14578
Hey @Greenie10, if you click on the `vendors-main...`, what does the debugger show you?

I'm encountering this issue as well. Mine is something with `acornJSX`, which was reported in https://github.com/storybookjs/storybook/issues/8884, and the error points exactly to [this](https://github.com/storybookjs/storybook/issues/8884#issuecomment-608456104)

The cause is:

---

I will try to dig  deeper

[2021-04-18 17:31] mt9eet commented on #14578
I found that the issue also comes from `react-refresh-webpack-plugin`.

They have made a fix [here](https://github.com/pmmmwh/react-refresh-webpack-plugin/pull/298), but it doesn't seem to be released yet.

[2021-04-18 18:21] orouz commented on #9682
workaround:

set `resizerPanel.x` in `localStorage["storybook-layout"]`

example:
[code]

[2021-04-18 22:25] mnquintana opened #14644 "Local font preloading broken in Storybook 6.2.x with webpack 5 builder"
## Describe the bug
It seems that preloading fonts from a local static directory in `.storybook/preview-head.html` is broken as of Storybook 6.2. This is reproducible both with the ~default Webpack 4 and~ new Webpack 5 builder. It's not reproducible in Storybook 6.1.x, or on Storybook 6.2.x with Webpack 4.

**Example `preview-head.html`**

For a file located at `/public/Inter.woff2`, and with Stor

[2021-04-18 22:30] dee103 commented on #14631
I get a similar error after installing Storybook for the first time - into an existing Angular project:

![image](https://user-images.githubusercontent.com/4279721/115162882-f83d2b00-a09d-11eb-9af9-2507ede629a1.png)

Screenshot:
![image](https://user-images.githubusercontent.com/4279721/115162900-0be89180-a09e-11eb-8dc2-502bf8a96f08.png)

I have tried the suggestions above with no luck.

[2021-04-18 23:33] Dschungelabenteuer commented on #14401
Okay, I'm jumping in! I'd like to give it a try @shilman, can't assure I'll be doing good though, this will likely require some feedback ☺

[2021-04-19 01:57] ljwrer opened #14645 "tailwind.css @apply not work in sass mixin when build-storybook"
**Describe the bug**
tailwind.css @apply not work in sass mixin when build-storybook, but works on development mode

**To Reproduce**
<https://github.com/ljwrer/storybook-tailwind-sass-mixin-issue>
when run npm storybook, you'll see a white text with blue  background color in button.stories
when run npm build-storybook, the style of text is disappear due to tailwind.css @apply not compiled
**Syste

[2021-04-19 01:58] shilman commented on #14644
Was this working as expected in a previous version of Storybook?

[2021-04-19 02:01] mnquintana commented on #14644
It was! It was working as expected in 6.1.21.

[2021-04-19 02:04] hasanirogers commented on #14180
Yeah I definitely noticed the state of flux that web components are in too. A lot of the documentation for them uses React examples for example.

@shilman has there been updates on this?

[2021-04-19 02:06] shilman commented on #14180
The missing web-components README has been restored

[2021-04-19 02:07] shilman commented on #14644
Do you have a repro repo you can share?

[2021-04-19 02:52] m17805804790 opened #14646 "Why I have a nothing found at the bottom of page"
**What's the problem?**
When I use storiesof to build a componet， there is always have a nothing found render at the bottom of page

**Additional context**
Add any other context about the problem here.
storiesOf("Icon", module)
  .addDecorator((storyFn) => <div>{storyFn()}</div>)
  .add("default", () => (<div>test</div>}
it behaved like this
![image](https://user-images.githubusercontent.com/38969

[2021-04-19 03:10] shilman commented on #14646
what's the value of `test`?

[2021-04-19 03:41] mnquintana commented on #14644
Sure!

- **Minimal repro (6.2):** https://github.com/mnquintana/storybook-font-preload-repro/tree/storybook%406.2-webpack5-minimal-repro
- **Last known good state (6.1):** https://github.com/mnquintana/storybook-font-preload-repro/tree/storybook%406.1

From some additional testing, it seems like this is only broken with the Webpack 5 builder after all. This is the culprit: https://github.com/mnqui

[2021-04-19 05:14] tmeasday commented on #11697
@mancristiana I think you are looking for this feature (although it would be `parameters.argTypes.icon...` rather than `parameters.controls.icon...`, right?).

I am happy to help if you want to work on it. I think the [comments I made above](https://github.com/storybookjs/storybook/issues/11697#issuecomment-737547724) are still relevant.

[2021-04-19 05:16] m17805804790 commented on #14646
just a string，now whateve the value test is， there is always have a nothing found render at the bottom of page

[2021-04-19 05:49] paulrosania commented on #14514
PR is up! Sorry for the delay, I was intimidated by the number of packages. 😵

[2021-04-19 06:28] shilman commented on #14646
please read the documentation on writing stories https://storybook.js.org/docs/react/writing-stories/introduction

[2021-04-19 06:29] shilman commented on #14644
@mnquintana so it works with webpack4 in 6.2?

[2021-04-19 06:33] mnquintana commented on #14644
It does! Let me know if there's any more info I could provide that'd be helpful for debugging.

[2021-04-19 06:40] shilman commented on #14644
Thanks so much for all the info, this is wonderful 🙏

[2021-04-19 08:05] RGunning commented on #14520
@ThibaudAV that seems to fix it.

Another fix that works is to add  ` /** @ignore */` to the other properties so that compodoc ignores them

e.g.
[code]

[2021-04-19 08:36] ThibaudAV commented on #14520
I had also seen this :
[code]

[2021-04-19 08:55] mfrancekovic opened #14648 "(Angular) Inject a mock component-level provider in a Story"
I can't seem to figure out how to inject a component level provider in a Story. And I would appreciate if somebody can give me an idea.

Here is an example:

[code]

Now I want to create a story for this component, by using a mock service instead of the real SomeService.

The story looks something like this:

[code]

With this example, the real SomeService will in fact be used in the Story, and th

[2021-04-19 09:10] Gagaro commented on #14638
Reproduced on Linux:

[code]

[2021-04-19 09:30] tobyhinloopen commented on #14515
It is.

[2021-04-19 09:30] #14515 closed

[2021-04-19 09:31] tobyhinloopen commented on #12019
I've posted an example repo + another example in my issue: https://github.com/storybookjs/storybook/issues/14515

[2021-04-19 09:35] mfrancekovic commented on #14648
The only thing I've found to be working is to extend the component and provide a mock service for that extended component and then create a story for that extended component instead of the original component.

Something like this:

[code]

and then create a story for that Mock component instead of the original component.

[code]

[2021-04-19 09:36] RGunning commented on #14520
modifying the docs:json works nicely

[2021-04-19 09:42] RGunning commented on #14519
Related to #14520 the work around is to set the args explicitly instead of spreading the args into the props and to add  '@internal' or '@ignore' to the tsDoc of methods matching the  '^on[A-Z].*' regex.

'@internal' or '@ignore' on their own don't seem to work as I then had my Angular Output EventEmitters being "mocked".

e.g.

With the following snippet, without any changes an onDelete action is

[2021-04-19 09:58] ndelangen commented on #5193
This seems like an answer from vercel, on how to do that:
https://vercel.com/support/articles/how-do-i-add-password-protection-to-my-vercel-deployment?query=password
It does require a paid tier it seems.

Netlify has a similar feature here:
https://docs.netlify.com/visitor-access/password-protection/

[2021-04-19 10:04] weaintplastic commented on #14632
As a hotfix I'm deleting the local storage entry in `.storybook/preview.js`

[code]

[2021-04-19 10:16] Vadorequest commented on #5193
Yeah, it costs $150/month min (on top of the cost of the Pro plan itself).
https://vercel.com/docs/platform/projects#password-protection

[2021-04-19 12:00] wszydlak commented on #14627
Hi @ThibaudAV, checked it and seems that your solution fixed problems - thank you very much. I prepared quick solution that create props object from args, cutting non-inputs. For me this solution is perfect.

[2021-04-19 12:00] #14627 closed

[2021-04-19 12:26] wszydlak commented on #14596
Hi @ThibaudAV,

1. Firstly - how can i achieve correct "Show code" syntax, cause as You can see in examples:

![image](https://user-images.githubusercontent.com/6583977/115235544-97a00380-a11a-11eb-88a6-bd15c96514cc.png)

I expected "Show code" to show something like:

[code]

2. Secondaly - how again can i do same thing assuming parent-component accepts multiple child components, or event nested?

[2021-04-19 13:42] mancristiana commented on #11697
@tmeasday thanks for clarifying! You are correct, I meant  `parameters.argTypes.icon...`.
I will attempt to implement this sometime this week following your comments! 😄

[2021-04-19 14:04] ghengeveld commented on #14622
The comma, perhaps. The quote, way too risky. The only thing we could consider is supporting a custom serializer/deserializer, which essentially makes it "use at your own peril" (security wise).

[2021-04-19 14:27] shilman commented on #13768
Hurrah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-alpha.11 containing PR #14649 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-19 14:27] shilman commented on #14514
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-alpha.11 containing PR #14647 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-19 14:27] #14514 closed

[2021-04-19 14:27] #13768 closed

[2021-04-19 15:00] elevatebart commented on #11774
Hello @gburning,

The problem of dealing with runtime generated is a little deeper than just extracting those props.
It also asks the question "Where do I add the comments to describe each prop?" or "What if I have to redocument a specific case in a component?". If you prefer mixins to generated props, you will get all those questions answered and will still keep the DRY code.

So my question is w

[2021-04-19 15:34] ThibaudAV commented on #14519
@RGunning  Yes, I think we can close this issue, no?

Since it is the same problem. A lack of knowledge of compodoc + agrs on the properties of the sotry component

[2021-04-19 15:56] RGunning commented on #14519
Yes, I think this one can be closed but #14520 left open. This one is more my confusion around how the argTypesRegex should work. It seems that the argTypesRegex doesn't necessarily make sense in an Angular context, but does in a React context due to the differences in how output events are handled. In Angular, I wouldn't expect storybook to replace the method as output events are handled by event

[2021-04-19 15:56] #14519 closed

[2021-04-19 16:11] robcaldecott commented on #14595
@gabiseabra That did the trick! Thank you so much.

[2021-04-19 16:23] ThibaudAV commented on #14596
Hi,

1.
the generated "Show code" always concerns the component or template of the story (template first)

so it depends on the `default.component` or the `MyStroy.parameters = {component: MyComponent}` (for an override on a story)

if you want the grandparent to be in the "Show code" it must be part of the story component. you can either make an intermediate component or add it in the template

t

[2021-04-19 16:57] kelly-tock commented on #12020
@henrycity where did you remove babel-preset-env?

Thanks!

[2021-04-19 17:12] RodrigoTomeES commented on #12464
Hi, I had the same problem but I was able to fix it by changing the sass-loader version from 11 to 10.

https://stackoverflow.com/questions/66082397/typeerror-this-getoptions-is-not-a-function

[2021-04-19 17:31] kylegach opened #14654 "Custom control type matchers should support all control types"
**Is your feature request related to a problem? Please describe**

[Custom control type matchers](https://storybook.js.org/docs/react/essentials/controls#custom-control-type-matchers) are a useful feature, but would be much more useful if they supported _all_ control types, instead of just `color` and `date`.

**Describe the solution you'd like**

Something like `type Matchers = Record<keyof Suppo

[2021-04-19 17:44] freakzlike opened #14655 "storyshot/vue3 - Unable to extend vue app with plugins"
**Describe the bug**

When running storyshot with Vue 3 I am not able to install plugins to vue app instance used on `initStoryshots()`. Installing the plugin in `preview.js` works fine in storybook and also gets called when running storyshots. But I think storyshots is using another vue app instance.

**To Reproduce**

1. Checkout repo: [https://github.com/freakzlike/vue3-storyshot-bug](https://g

[2021-04-19 18:37] danielgroen opened #14656 "Docs creating a vue storybook addon seems incorrect or deprecated"
Hi,

I am following the docs which should let me build my own plugin for vue.
However i am following the instructions of [this page](https://github.com/storybookjs/storybook/blob/next/docs/addons/writing-addons.md) but when i follow these instructions, i can't get my "Button.vue" up and running.

i've made myself a [test repo](https://github.com/danielgroen/storybook-vue-addon-test) so you can see

[2021-04-19 19:21] dep opened #14657 "Error: EMFILE: too many open files"
**Describe the bug**
When my Storybook recompiles, I get the following error:

[code]

**To Reproduce**

Run storybook

**System**

Environment Info:

  System:
    OS: macOS 10.15.7
    CPU: (16) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
  Binaries:
    Node: 12.18.1 - /usr/local/bin/node
    Yarn: 1.22.10 - /usr/local/bin/yarn
    npm: 6.14.10 - ~/.npm/bin/npm
  Browsers:
    Chrome: 89.0.438

[2021-04-19 20:04] carlosbaraza commented on #14214
I'm getting this error too. It happens intermittently, sometimes when I change the `main.js` or `preview.js` it will start appearing. And sometimes it will just work, which makes it quite strange.

![Screenshot 2021-04-19 at 21 03 25](https://user-images.githubusercontent.com/1270425/115296417-d81b7380-a152-11eb-8feb-a58396d3cb66.png)

[2021-04-19 20:17] carlosbaraza commented on #14214
Not sure if this has fixed it. But I updated `react` to 17.0.2 (was on 17.0.1) and `react-dom`, and now it seems to be stable 🤞

[2021-04-19 20:27] jwir3 commented on #14423
I found the issue. As suspected, it was an issue with my configuration. When importing, I was using `@import '@Assets/<path>` instead of `@import '~@Assets/<path>`. I'm not quite sure _why_ this only happened with the newer version of storybook, but my suspicion is that webpack had a bug that was since upgraded, resulting in a kind of "quirks mode" for this situation, and I was relying on this qui

[2021-04-19 20:44] kylegach commented on #14654
Being able to specify the equivalent of `{ control: false }` via matchers would be helpful, as well. Use case: `*Ref` props, e.g. `innerRef`.

[2021-04-19 20:59] kevingill1966 opened #14659 "Vue.js + SCSS + NPM7 Workspaces - won't build"
**Describe the bug**

I am splitting a project using npm7 workspaces. The webpack snippet for scss in the docs builds vue components in the current workspace fine. However, it won't build a vue component in another workspace if scss is used.

**To Reproduce**
https://github.com/kevingill1966/storybook-problem

**System**
[code]

**Additional context**
I reported this issue via stackoverflow, https

[2021-04-19 21:12] matheo commented on #14214
Thanks for the tip @carlosbaraza !

[2021-04-19 23:32] matheo commented on #14214
Didn't work for my repo :disappointed:
(I see that `@storbook/angular` relies on `react@16.14` but I guess it doesn't affect the manager, dunno)

![image](https://user-images.githubusercontent.com/260185/115315714-82889c00-a13d-11eb-8d55-605884df29a3.png)

[2021-04-20 00:01] shilman commented on #14214
@matheo that dep is for the manager. we can try updating it in 6.3 and see if that fixes your problem?

[2021-04-20 00:06] shilman commented on #14656
I don't see any `Button.vue` in that repo?

[2021-04-20 00:07] matheo commented on #14214
yes please @shilman :slightly_smiling_face:

[2021-04-20 02:07] DavidSabine commented on #11397
+1 this issue.

<bump>

It's unclear how to resolve these YN0002 warnings. And it's annoying that yarn keeps growling about these warnings.

1. First, these warnings are produced by various and deep modules.
2. Second, there doesn't appear to be any *problem* or consequence if package A doesn't provide package B.
3. Is there a way to silence these warnings? Fine, maybe it's appropriate that yarn g

[2021-04-20 02:27] sergeylukin commented on #6188
## With storybook 6

[code]

### main.js

[code]

[2021-04-20 03:18] fcisio commented on #14584
Any progress on this?
Right now, I'm resorting to removing my MDX docs until this is supported.

From what I found,  MDX just doesn't support automatic runtime yet.

I did see [this workaround](https://github.com/mdx-js/mdx/issues/1441#issuecomment-786745109), which could work until it is supported on their end.

Thanks

[2021-04-20 05:31] danielgroen commented on #14656
Inside the stories folder

[2021-04-20 06:22] shilman commented on #14656
- the `.storybook/main.js` `stories` field is empty
- you've installed `@storybook/react` but you probably need `@storybook/vue` instead

there might be more...

[2021-04-20 06:56] gaetanmaisse commented on #11397
To give some context about a big part of these warnings, they are related to the modularity of Storybook and the fact it has to support a dozen of different framework. One of these frameworks is React but the Storybook app itself is also using React, so to avoid any compatibility issue or dependencies duplication some Storybook packages need to have React as peer dependencies and not regular ones.

[2021-04-20 07:15] mesihtasci opened #14663 "Custom code in docs page will not rerender when args changes."
**What's the problem?**
I have a component where I am adding javascript code. This code will change depending on the args specified from the user. Because I am using javascript code as source, I also have to pass this code to the docs page code section. For this I am passing the code with the static parameters like the following example:

**HorizontalWidgets.stories.js**

[code]
And this is how th

[2021-04-20 07:51] mangei commented on #14026
this is still a blocking issue for me with the latest version (6.2.8 and also 6.3.0-alpha.10).

I tried the approach/workaround from @snutij, but with no effect.

[2021-04-20 08:00] danielgroen commented on #14656
you were right,

i previously filled the main.js with the stories but later on i deleted it because i wanted to be sure that I 100% followed the docs.

It now works. Can the docs be updated for adding a module for vue?

[2021-04-20 08:02] nikosama7 opened #14664 "barTextColor not applied correctly in unselected tabs in toolbar"
**Describe the bug**
I have noticed that the unselected tabs in toolbar haven't got the same color as the 'Zoom' buttons.

**To Reproduce**
I reproduced it using your example of custom theming [https://storybook.js.org/docs/angular/configure/theming](https://storybook.js.org/docs/angular/configure/theming)

![image_2021_04_20T07_32_14_100Z](https://user-images.githubusercontent.com/47453821/115358

[2021-04-20 08:13] renjith-jr opened #14665 "Getting Error: Can't resolve '@storybook/react/dist/client/preview' in '/builds/StixNext/mojito/.storybook' on build"
ERR! => Failed to build the preview
ERR! Module not found: Error: Can't resolve '@storybook/react/dist/client/preview' in '/builds/StixNext/mojito/.storybook'
ERR! ModuleNotFoundError: Module not found: Error: Can't resolve '@storybook/react/dist/client/preview' in '/builds/StixNext/mojito/.storybook'

[2021-04-20 08:55] sandwichsudo commented on #5935
This was a massive boost for us, thanks so much for sharing

[2021-04-20 09:00] sarahbethfederman commented on #14664
Yes, mine seem to be getting all silver since updating to 6.2 as well

[2021-04-20 09:04] lordVelisch opened #14666 "Storybook doesn't load stories: Cannot set property 'STORYBOOK_REACT_CLASSES' of undefined"
**What's the problem?**
I initialized Storybook (6.2.7) in an existing Angular project with multiple angular libraries that are built separately. When I start Storybook with ```npm start storybook``` it serves storybook but never loads any story (only loading screen) and displays this error in the console: `Uncaught TypeError: Cannot set property 'STORYBOOK_REACT_CLASSES' of undefined`. In the glo

[2021-04-20 09:25] wszydlak commented on #14596
I tried with template, but it is not displayed in "Show code".

It seems that using template have affect only on displaying component example, but "Show code" is not respecting template option, and still showing only component selector and inputs.

Also setting `component` to null in story does not help:

[code]

Show code still displays:

[code]

[2021-04-20 10:35] artaommahe commented on #14197
I've reproduced `Cannot convert undefined or null to object` error with the new ng application and our real package.json/yarn.lock minimal crop. Somehow it's related to `@storybook/addon-docs` usage

- `yarn install`
- `yarn start-storybook -c src/.storybook`
- see error
- stop storybook server
- comment out this line https://github.com/artaommahe/storybook-issue14197/blob/main/src/.storybook/main

[2021-04-20 10:51] artaommahe commented on #14197
@shilman @hipstersmoothie I've reproduced `Cannot convert undefined or null to object` error with the new ng application and our real package.json/yarn.lock minimal crop. Somehow it looks related to `@storybook/addon-docs` usage

https://github.com/artaommahe/storybook-issue14197

- `yarn install`
- `yarn start-storybook -c src/.storybook`
- see error
- stop storybook server
- comment out this lin

[2021-04-20 11:06] AbreezaSaleem commented on #9625
@RobIsHere, can you tell me where I can update this webpack config? I followed [this](https://storybook.js.org/tutorials/intro-to-storybook/react-native/en/get-started/) guide but I don't have `.storybook/main.js` folder. @Remeic can you tell me how you fixed it?

[2021-04-20 11:54] nemonemi opened #14667 "Cannot read property 'location' of undefined at useLocation"
**Describe the bug**
The feature, which worked both in the Storybook and in the application, got the react-router hook `useLocation` introduced. Since then the feature in the Storybook is broken, but in the application, it works.

**To Reproduce**
I would provide a codesandbox, but I'm not sure how to set it up for the storybook. Do you have some examples or a boilerplate?

**System**
Environment

[2021-04-20 13:59] jellyfish-tom commented on #3714
@danZheng1993 have you maybe solved it?

[2021-04-20 14:42] 3nuc commented on #9768
Any news on this?

The current approach of wirting the template in inline string `template: `<div></div>` has some flaws:
* eslint-plugin-vue rules are not checked in inline strings
* no syntax highlighting (unless you use the vue\` tagged template)
* no language features (LSP)

[code]

Right now as shown above, it's possible to export a .vue file in .stories.js like
[code]

Assuming that right no

[2021-04-20 15:39] bmayen opened #14668 "Angular with inline stories interferes with `keypress` binding"
**Describe the bug**
I have components that call a method when an element receives a `keypress`. For instance, `<button (keypress)='foo($event)'>`. When enabling inline stories, the keypress event doesn't trigger for certain keys. Spacebar works, but Enter/Return doesn't. If I disable inline stories and go back to iframes, everything works as expected.

Note: I am still pinned to 6.2.0-rc.7 due to

[2021-04-20 15:50] apapadopoulou commented on #14187
Hello! Is anyone working on this?

[2021-04-20 16:10] shilman commented on #14187
@apapadopoulou nobody yet! it's yours if you want it 😄

[2021-04-20 16:57] ThibaudAV commented on #14596
@wszydlak do you have a component in `export default` ?

[2021-04-20 17:41] kevingill1966 commented on #14659
On further investigation, I found the error is in the line in main.js:

`
include: path.resolve(__dirname, '../'),`

I removed this line and it worked fine. Clearly it is limiting the rule to the current workspace instead of all workspaces.

Perhaps the documentation should be reviewd at: https://storybook.js.org/docs/vue/configure/webpack

[2021-04-20 17:41] #14659 closed

[2021-04-20 19:51] AriaMoradpour commented on #6255
@shilman Hello, running into the same issue when upgrading to storybook 6.2. what was the solution here?

[2021-04-20 20:08] AriaMoradpour opened #14671 "Webpack 5 upgrade - Error: Duplicate plugin/preset detected."
**What's the problem?**
Clear and concise statement of what's troubling you.
After upgrading to the latest version and using webpack 5, storybook does not start. i get the following unhandled promise rejection thrown.

[code]
**Is there documentation on this?**
https://gist.github.com/shilman/8856ea1786dcd247139b47b270912324#upgrade
**Additional context**

[2021-04-20 20:13] AriaMoradpour commented on #14671
I can resolve the issue after removing  `presets: ['@storybook/preset-typescript'],` in  my main.js file, but then i get a lot of  errors.

---
errors after
[code]
----
main.js

[code]

[2021-04-20 21:04] miladfm commented on #12644
any update?

[2021-04-20 21:44] smasala commented on #14044
I can confirm that the following works:

**package.json**
[code]

**.storybook/main.js**
[code]

**build environment**
[code]

I'm also using `nx` monorepo version 12.0.1 and the storybook plugin `"@nrwl/storybook": "12.0.1",`

[2021-04-20 21:54] jeremyzilar commented on #3984
This would be very helpful

[2021-04-20 21:57] jeremyzilar commented on #14401
This would be very helpful 🎉

[2021-04-20 22:58] kaiyoma opened #14672 "start-storybook seems to run, but then displays "Cannot GET /" in the browser"
**Describe the bug**
When I run start-storybook, it seems to work correctly, and prints out this message:

[code]

However, when I open that link in the browser, I get only this:

[code]

**System**
[code]

**Additional context**
The browser console has only this:

[code]

There's nothing interesting in the Network tab in devtools and start-storybook itself doesn't print out any errors. build-stor

[2021-04-20 23:06] kaiyoma commented on #14672
Oh also, I should add that when I searched for this problem in the other issues, I found a few semi-related posts that mentioned deleting `node_modules` and reinstalling packages. I tried that and nothing changed.

[2021-04-20 23:13] jimmynotjim commented on #11542
Landed here due to the same issue as everyone above. Can confirm that the suggested fix from @robbertkl works in my case. I'd be happy to update the MDX documentation in a PR if it'll be accepted.

[code]

[2021-04-21 01:26] shilman commented on #14671
@AriaMoradpour if you upgrade to 6.2, it has typescript support built in

[2021-04-21 01:32] cmsbased opened #14673 "Styling for "Show Code" button and dark mode."
**What's the problem?**

I have successfully customized my storybook with `addon-themes` and created the dark style for div with a `.docs-story` class.

I tried to style the "show code" button on the docs tab without luck via CSS in preview-head.html.

The problem is that there is no unique CSS class to scope (only dynamically generated classes):

[code]

**Is there documentation on this?**
I chec

[2021-04-21 01:43] shilman commented on #3984
This feature is finished AFAIK. Closing, please open enhancements to the existing functionality as separate issues.

<img width="666" alt="Example___Introduction_-_Page_⋅_Storybook" src="https://user-images.githubusercontent.com/488689/115484739-df8f6980-a285-11eb-8088-5f916e6426b3.png">

[2021-04-21 01:43] #3984 closed

[2021-04-21 02:49] shilman commented on #14667
You probably need to provide a decorator that provides the location so that the hook works?

https://storybook.js.org/docs/react/writing-stories/decorators#gatsby-focus-wrapper

[2021-04-21 03:37] zereight commented on #10231
same to me

[2021-04-21 07:18] #14667 closed

[2021-04-21 09:41] wszydlak commented on #14596
You mean in story meta? If so then yes i have

[2021-04-21 09:41] darkowic opened #14674 "Controls filtering doesn't work"
**Describe the bug**
The controls filtering feature (https://storybook.js.org/docs/react/essentials/controls#filtering-controls) introduced in issue https://github.com/storybookjs/storybook/issues/11638 (PR https://github.com/storybookjs/storybook/pull/13898) doesn't work at all.

**To Reproduce**
Try this story:
[code]

![Screenshot 2021-04-21 at 11 35 21](https://user-images.githubusercontent.co

[2021-04-21 09:57] ThibaudAV commented on #14596
yes ,

so it will be taken preferably
https://github.com/storybookjs/storybook/blob/next/addons/docs/src/frameworks/angular/sourceDecorator.ts#L45

it is on this component that the doc will be targeted and the source code too

to override it in strory you can try :

[code]
:not-sure:

[2021-04-21 10:06] wszydlak commented on #14596
Works ! Thanks for your help 👍

It works both with omitting component and when overwrite story parameter.

[2021-04-21 10:06] #14596 closed

[2021-04-21 10:07] thomasmery opened #14675 "Is SB, because it uses emotion, breaking the compilation of a Typescript + styled-components project expected?"
SB seems to break the compilation of a create-react-app with _Typescript_ and _styled-components_

this is caused by the cssprop ts definition from the _emotion_ lib overrides the _styled-components_ one

see https://github.com/DefinitelyTyped/DefinitelyTyped/issues/31245#issuecomment-759730109

which seems to be a fix in most cases

Creating this issue here as I don't think this is documented any

[2021-04-21 10:18] williamliangwl commented on #10817
It happens on my case as well. I am trying to add custom fonts to my Storybook through `preview-head.html`.

The `preview-head.html` does work expectedly, the `@font-face` is inserted successfully to iframe's head. However, in the iframe's `head`, there are so many injected styles and one of them is overriding the `font-family`.

I was trying to use
[code]
at `preview-head.html` to reduce needs of

[2021-04-21 10:46] #14516 closed

[2021-04-21 11:09] gauravverma029 opened #14676 "Args Table dropdown does not working with more than 15 options"
Some click options also not working  **.. 11 more ...**

![Screen Shot 2021-04-21 at 13 06 41](https://user-images.githubusercontent.com/4488516/115544248-a44f6380-a2a2-11eb-9eaf-faf66aca17c5.png)

Storybook version Storybook 6.2.8

[2021-04-21 11:24] pdimova commented on #12558
I have exactly the same issue as @cieldon32

`export { A,B,C,D,} from './types';` throws an warning message in the console:

"export 'A' was not found in './types'
"export 'B' was not found in './types'
"export 'C' was not found in './types'

interestingly, no warning message for type D 🤷

`export * from './types';` seems to cuase no troubles

Is there something I can do about the following messag

[2021-04-21 11:37] darkowic opened #14678 "Expose `extractArgTypes` helpers"
**Is your feature request related to a problem? Please describe**

It is not possible to change arg types for a specific story easily. The arg types are generated based on the default exported story file configuration (the `component` entry). In some cases, it is needed to actually display `argTypes` for a different component in the controls. Because `extractArgTypes` is not exposed officially, it

[2021-04-21 12:28] Sinled opened #14679 "Storybook composition won't load"
Hi,

**What's the problem?**
i am trying to setup storybook composition, and have strange problems,
everything works fine on local machine, but wouldn't work on gitlab pages, each url from composition configuration is working, and can be opened separately without problems, but when i open root storybook, all composite parts are stuck in loading, without any error in console, network requests to `s

[2021-04-21 13:12] stephanrotolante commented on #13751
@jeffedsell What versions of Formik are you using to wrap your custom components? I was having issues the past few days.  My custom components were using a different version Formik than the Formik component used to wrap them.

[2021-04-21 13:50] adrianiy opened #14680 "Cannot set property variable of [object Object] which has only a getter (angular-redux)"
**Describe the bug**
I'm using [angular-redux](https://github.com/angular-redux/platform) to manage application state in a multi-framework library. When i try to test a component that uses @select() to get application state (somthing like useSelect in react) i'm getting this error when storybook initialize component:

[code]

Anyway the state is loading correctly, i guess that this angular-redux s

[2021-04-21 14:22] totszwai commented on #13243
I'm experiencing this bug in React.

Message in the console:

I'm not sure how this thing works, but putting a breakpoint and this is where it throws that message:

[code]

This is in package.json:
[code]

[2021-04-21 14:23] bartenra commented on #12983
This doesn't work for me. I'm getting the same error.

[2021-04-21 14:29] shilman commented on #14679
Is it a CORS issue?

[2021-04-21 14:29] gwithian commented on #12464
Hi, I managed to get SCSS modules working by adding the following config to the `webpackFinal` in `.storybook/main.js`.
This solution uses no add-ons/presets, just needed `sass` and `sass-loader@10`(see above) installed.
My use case is fairly simple (just need `Component.module.scss` files to compile) but might help others.

`webpackFinal: async (config) => {
    // add SCSS support for CSS Module

[2021-04-21 14:33] alexanderniebuhr commented on #14381
@j3rem1e can not make it work with your suggested way. How to use svelte custom-elements? Do you have an doc or example?

[2021-04-21 14:34] Sinled commented on #14679
There are no errors in console, all requests except `metadata.jsons` are completed, requests are made to the same domain, so probably there shouldn't be CORS issues

[2021-04-21 14:54] jqrun commented on #14257
Is this because of: https://github.com/storybookjs/storybook/blob/75e2b73964dab1e10576ad6b43fbb4f5bf0e3640/lib/core-server/src/manager/manager-webpack.config.ts#L109?

According to the Webpack docs, one should avoid overriding upper-level portions of process: https://webpack.js.org/plugins/define-plugin/.

[2021-04-21 15:10] IsurusPrime commented on #6506
I too would like to embed the page in an iframe and include the controls for the knobs at least. Anything else is a bonus.

I tried adding "&nav=0" to my url like so:
`<iframe width="100%" height="720px" src="https://agrium.github.io/nutrien-bonsai/?path=/story/banner--default&nav=0" allowfullscreen></iframe>`

but that doesn't hide the nav when the iframe loads.

[2021-04-21 15:55] sjuchno commented on #11644
I added a small modification to @Deschain23 solution so you don't need to worry about proper indexes
[code]

[2021-04-21 16:34] certainlyakey commented on #14631
Same here. In my case, removing @addon-docs helped.

[2021-04-21 17:08] qoalu opened #14682 "PropsTable shows only args or "Nothing found""
**Describe the bug**

Storybook does not register propTypes. Only `Component.args` are picked up by the PropsTable

![image](https://user-images.githubusercontent.com/1624045/115593078-581d1700-a2d4-11eb-88a2-2331db169872.png)

Example component:

[code]

full gist of the component: https://gist.github.com/qoalu/604dedd2ad868b7ddf67c093fbed6e38

**Configs**

main.js
[code]

[code]

**System**
Envi

[2021-04-21 17:34] shilman commented on #14682
what happens when you remove your custom babel config?

[2021-04-21 17:40] futbolsalas15 commented on #7641
Hi!

It seems the error persists even with version 6.0.22

[code]

I've tried to install the required package, but it seems to continue requiring more packages.

Analyzing the content of `@storybook/core` folder inside node_modules, it seems that it has its own version of node_modules, where the package is available. Maybe it is an error where the local `node_modules` inside  `@storybook/core` isn

[2021-04-21 17:47] js-wi5 commented on #6743
Thanks @davestewart that's much simpler than the other solutions and worked for me too.

It should be noted that if your version of sass-loader is v10.* (as on my project) then the above will work when `data:` is replaced with `additionalData:`.

[2021-04-21 19:37] qoalu commented on #14682
the file resolution stops working. I had to update a bunch of imports and add a webpack alias

this is the main.js now:
[code]

the PropsTable is still having the same issue

[2021-04-21 20:08] yannbf commented on #14674
Hey @darkowic, thanks for reporting. I tried to reproduce the issue with the code you provided (small fixes as it was not 100% correct) and Storybook 6.2.1, but it was working fine.

Here's a video (click on it if you want to see it bigger):
![controlsworking](https://user-images.githubusercontent.com/1671563/115613063-3e87c980-a2ec-11eb-924f-3079ac60f6df.gif)

Could you provide an example that lo

[2021-04-21 20:40] jgresham commented on #13183
bump :)

[2021-04-21 20:46] musab commented on #13353
@michaeljaltamirano

Does that mean we must wait for Storybook to first upgrade to emotion 11 before upgrading our own apps to emotion 11?

[2021-04-21 20:48] apapadopoulou commented on #14187
Thank you, I will look into it!

[2021-04-21 20:56] Ayushsunny commented on #14673
Hello @shilman I would like to work on this issue

[2021-04-21 21:04] DavidSabine commented on #11397
This solves my concern. Awesome. Thanks.

[2021-04-21 21:17] michaeljaltamirano commented on #13353
Hi @musab, these two issue threads might be helpful:

1. `webpack` config changes: https://github.com/storybookjs/storybook/issues/13145
    - You can see an example commit here: https://github.com/curology/radiance-ui/commit/db37ca22fe53beeaac7213a490e257ce067b9869#diff-2d9ab5214985b9a608b4cd47ed561a301cfd4c7d5352c7a94ee046d4e1f1af10
1. (If you are using TypeScript): https://github.com/emotion-js

[2021-04-21 21:19] nigel-codaio commented on #12864
The workaround of excluding `thread-loader` under `.storybook` worked for me.

[code]

[2021-04-21 21:27] frassinier commented on #14673
@Ayushsunny I've already done something, maybe we can work together? Are you available for a review?

[2021-04-21 22:21] frassinier commented on #12552
@smurrayatwork Do you mean like this?

https://storybookjs.netlify.app/official-storybook/?path=/story/docs-preview--with-additional-actions

[2021-04-21 22:36] aantonyuk commented on #14508
I also see the same issue but with boolean attributes. When I switch to toggle from true to false it's work perfect but when I refresh the page I see the error message.

![3](https://user-images.githubusercontent.com/26109453/115629522-2ecbad80-a30b-11eb-9868-8db93b8c35e5.jpg)

[2021-04-21 22:37] frassinier commented on #9483
And FWIW there is a simple workaround for now
https://twitter.com/frassinier/status/1381581824699273222

[2021-04-22 00:28] MichaelTrilford-Airwallex opened #14686 "Option to turn off `Show code` & `Hide code` in the preview panel"
**Is your feature request related to a problem? Please describe**

1. I'm creating 'Design Tokens' documentation page on Storybook.
2. I'm creating a story representing a group of 'Design tokens', which isn't the best looking code to preview, as it isn't useful to the consumer to read or consume. See below:

E.g.
`() => {
  return (
    <div css={{ maxWidth: 1080, margin: '20px auto' }}>
      <Ta

[2021-04-22 00:48] tihuan commented on #10231
https://github.com/storybookjs/storybook/issues/10231#issuecomment-728038867 this temp solution works for me too!

[2021-04-22 01:01] dohomi opened #14687 "Control nested property moving "Knob" to "Control""
**What's the problem?**
I used knobs and try to get ready for controls of Storybook. For any value where the property value needs to be controlled directly as first level props everything works fine.
But I have a situation where I want to control an object property not as JSON but just one property which represents the value.

**Additional context**
This is my `knob` code:
[code]
I like to have th

[2021-04-22 01:38] danpaldev opened #14688 "npx sb init error: Unable to find versions of @storybook/react using yarn"
**What's the problem?**
Whenever I try to run `npx sb init` in a project it fails with `Unable to find versions of <dependency> using yarn` error message.

**Is there documentation on this?**
No

**Additional context**
Kubuntu 20.04
Node v14.16.1
Yarn 1.22.10
npm 7.10.0

Examples:

[code]

Does anybody knows what can I do?

[2021-04-22 01:58] hydrosquall commented on #14675
We were running into typescript compiler issues issues related to the `emotion` library when we tried to use the storybook `Story` and `Meta` typescript types in our stories, so we stopped using them (this has been true since at least version 6.0). Our project wasn't using `styled-components` or any form of CSS-in-JS at all, in case that helps with debugging.

[2021-04-22 03:22] tourze commented on #14257
same problem

[2021-04-22 03:25] shilman commented on #14688
Try clearing your yarn cache?

[2021-04-22 03:37] shilman commented on #14687
You can do whatever you want to in your story function. I'm not sure what you're trying to do, but here's an example of doing something weird to control only one component of the color value:

[code]

Hope that helps!

[2021-04-22 03:45] shilman commented on #14686
I think this already exists:

https://github.com/storybookjs/storybook/blob/next/examples/official-storybook/stories/addon-docs/addon-docs-mdx.stories.mdx#L198-L208

[2021-04-22 04:00] dohomi commented on #14687
@shilman thanks for your reply.
Currently I do following:
[code]
I will try to follow your advise thanks!

[2021-04-22 05:06] Ayushsunny commented on #14673
yes @frassinier

[2021-04-22 05:17] Ayushsunny commented on #14688
Hello @danpaldev
I solved this using the following command.

`npm uninstall -g create-react-app`

then

`npm install -g create-react-app`

[2021-04-22 05:24] dpickett commented on #10054
I'm seeing this behavior as well. Even if you create a separate component, the applied theme creates challenges if you want to document general CSS / a design system using body font-sizes and other items that are relative.

Can we just not apply these classes to elements that are inside a `<Story>` component?

[2021-04-22 07:23] bartenra commented on #12983
Alright, not sure how it's solved now, but it is.

[2021-04-22 07:54] ndelangen commented on #7641
@futbolsalas15 if you can provide a clean reproduction repo, I can take a look.

I suspect it's a lockfile issue, try removing all lockfiles, node_modules and re-installing.
See if it works then.

[2021-04-22 07:57] kaiyoma commented on #14672
Ah, I figured this out! Leaving a comment here in case some other poor soul runs into this in the future. If you've already tried blowing away `node_modules` and reinstalling packages, then you may have an issue with your Storybook cache. To fix this, run `start-storybook` once with the `--no-manager-cache` flag, and hopefully Storybook will work correctly for you. You only need to use this flag o

[2021-04-22 07:57] #14672 closed

[2021-04-22 08:19] lordVelisch commented on #14666
Found the issue. There was a library called global in the project so global.window.Story... accessed the wrong object.

[2021-04-22 08:19] #14666 closed

[2021-04-22 08:46] lucapu88 opened #14691 "Syntax error in the documentation"
![Schermata da 2021-04-22 10-37-30](https://user-images.githubusercontent.com/56302007/115684214-7710bd00-a357-11eb-89a5-f0aee442fd7b.png)

In your documentation there is an extra brace that gives an error in compilation, and for an inexperienced user, doing a copy and paste, could create problems......

[2021-04-22 09:08] Pineapples commented on #14342
I was having the same issue after upgrading Storybook from 6.1.x to 6.2.x. In the webpack config we use `CopyWebpackPlugin` with a glob of `'**/assets/**/*'` to copy any assets to the output. Somehow after the upgrade the copy plugin was triggering on the `node_modules/.cache` output of Storybook. Even though we had `node_modules` in the `globOptions.ignore` it still triggered an endless build loo

[2021-04-22 09:09] kyro38 commented on #14631
Per #14262, removing `prettier` from the regex in `node_modules\@storybook\core-common\dist\cjs\utils\es6Transpiler.js`, solves the problem.

But that's not an acceptable workaround for me.

[2021-04-22 10:07] mleister97 commented on #25
### Storybook v6.+ solution
Super simple for everyone facing issues with importing custom styles/fonts/sass/...

Create a file called `preview.js`
Import your global stylesheet e.g.

preview.js
[code]

[2021-04-22 10:31] shilman commented on #14672
Glad you figured it out! I'm hoping we can do away with the manager caching soon ... it's good for perf but introduces a lot of unfortunate side effects.

[2021-04-22 10:37] shilman commented on #14691
I think this belongs on a different repo https://github.com/chromaui/learnstorybook.com

cc @jonniebigodes

[2021-04-22 10:37] #14691 closed

[2021-04-22 11:41] abhi9bakshi opened #14693 "Function defined in component.ts throws error "ERROR TypeError: _co.functionName is not a function" when called from storybook"
**Describe the bug**
I have defined a function to toggle text in my storybook component. On calling the function from button, application throws error
`"ButtonComponent.html:1 ERROR TypeError: _co.toggleLabel is not a function"`.

This error occurs only if I launch my application directly to that story URL, or reload page when that URL is already loaded. If I launch app at a different story URL an

[2021-04-22 12:18] pdimova opened #14694 "Failed to fetch dynamically imported module: GlobalScrollAreaStyles, OverlayScrollbars, WithTooltip"
I'm trying to upgrade Storybook to the latest version 6.2.8

Had multiple issues upgrading through `yarn upgrade` so the final solution was to remove all old packages and run `npx -p @storybook/cli@ sb init`. We discarded our old configuration (Storybook hasn't been modified too much prior to this upgrade) and now we're using the default config which came with the install, just used custom logic t

[2021-04-22 12:26] ndelangen commented on #10987
@justgook I'd love to pair on this together with you.

If you have the time and interest of course!
I know the ins and outs of storybook, the webpack builder.

If you'd like to schedule a meeting to talk about this:
https://calendly.com/ndelangen/storybook

[2021-04-22 12:29] darkowic commented on #14674
Hmm. Ok, I tried again and I see where is the difference... This doesn't work:
[code]
This does work:
[code]
This doesn't work:
[code]
This does work:
[code]

Well, it's not easy to catch these kinds of issues... You don't even need to pass the args to the component to make it work. Do you have ideas on how to help us, users, easily find it is the problem? Or maybe it can be done differently?

I s

[2021-04-22 12:43] igodorogea commented on #14631
As @certainlyakey wrote - removing `@storybook/addon-docs` solves this issue.

[2021-04-22 12:53] yannbf commented on #14674
First thing you should understand is the purpose of controls: a way to manipulate properties of a component. In order for that to be possible, a minimal setup is required, as you can find in the [docs](https://storybook.js.org/docs/react/essentials/controls) (which I hope you checked before opening the issue):
[code]

If you're not passing args (they can be seen as props), then Storybook is not ab

[2021-04-22 12:58] kyro38 commented on #14631
Ok to me, it meant removing `@storybook/addon-essentials` which imports addon-docs

[2021-04-22 13:13] dexster commented on #14026
I have one project where this happens when I don't use @NgModule for the component. To get around it I just added an NgModule with the component declaration and then added the module to the default story export in moduleMetadata.

In a standard storybook install this doesn't happen so I'm trying to find out how to recreate it properly so we can hopefully get this fixed

[2021-04-22 13:16] darkowic commented on #14674
Ah, yes I understand how it works, and thank you for the additional explanation. And indeed the warning should be there if someone did not disable it globally (`hideNoControlsWarning`) as it is in our storybook 🤦  I will revisit and make sure the warning is not disabled globally... Thank you.

Anyways, even if the controls are improperly configured (or we don't want to configure it by purpose but

[2021-04-22 13:28] florian-milky commented on #6700
If you wrap it into `<Preview>` or `<Canvas>` you can apply `width` style there:
[code]

[2021-04-22 13:57] ndelangen commented on #10231
That solution seems to force Emotion11 upon storybook, right?

Perhaps our inline rendering in docs could be change to use separate rendering, so the context between storybook and the story is separate too?

## Here's a concept:

We render the `DocsContainer` & `Page` here:
https://github.com/storybookjs/storybook/blob/62bc50560d6c4e8d191556f569519b6c4d406ff9/lib/core-client/src/preview/StoryRende

[2021-04-22 14:09] arganaphangquestian commented on #7540
@crushjz Thanks sir, now it's works!

[2021-04-22 14:17] ndelangen commented on #10231
## potential complications:

- dynamic story source rendering ?
- render multiple instances of framework (for examples angular)
  solved in the existing inline rendering solution for example Angular (@ThibaudAV)

[2021-04-22 14:23] gburning commented on #11774
Thanks for the answer!

In my particular case those props are written in the same way as props usually are. Just not in the same file.

I understand that there's an issue of parsing runtime code and potential feature/scope creep. If the answer is that this is not something vue-docgen-api will do, then I can live with that. Just figured I'd add my vote and explain my use case. :)

Mixins are unfort

[2021-04-22 14:32] alexis-klimatsidas opened #14696 "ERROR TypeError: provider.ngAfterViewInit is not a function (Angular)"
**Describe the bug**
There is an error when we are trying to write a story for an Angular component that uses the interface "AfterViewInit" and its function "ngAfterViewInit". The error that we have on all browsers is:

[code]

**To Reproduce**
**my-component.component.ts**
[code]

**my-component.stories.ts**
[code]

**System**
  System:
    OS: macOS 10.15.4
    CPU: (8) x64 Intel(R) Core(TM) i7-

[2021-04-22 14:42] bromso opened #14697 "Possible to divide an entire Frontend application, including Storybook/Chromatic, into different workspaces?"
## Sections:
1. [Idea](#history)
2. [Might inspire someone to create something cool.](#infrastructure)
3. [A explanation of the current tech-stack I'm working with.](#applications)
4. [My current problems & errors.](#challenges)

## History
When working in legacy web company & organisations, they usually trying to convert & divide their monolithic code into micro-services.
Coming into a relative n

[2021-04-22 15:20] ndelangen commented on #13377
Could you provide a reproduction @moltar ?

[2021-04-22 15:24] kylegach commented on #14579
Can anyone think of a workaround that's better than applying a decorator like so:

[code]

This approach has two major limitations:

1. `argName` no longer has an effect on the story, so this only works for args that have disabled controls or table rows
2. You have to manually ignore each individual arg

[2021-04-22 15:28] patou commented on #14631
I resolve the issus, but I not know how.
I clear cache of node, remove node module, add --no-manager-cache, add @babel/plugin-proposal-class-properties dependencies, ...

Now, I have this error :
`Type UserAccountComponent is part of the declarations of 2 modules: `

It's display the component one time, and the second view there are an error.

[2021-04-22 15:32] ndelangen commented on #14620
@kaiyoma This is literally what the `--ci` is for:
https://storybook.js.org/docs/react/api/cli-options#start-storybook

"I'm going to run this on CI, which will log into a plain text log-file, No need for fancy stuff like colors or progress-bars that move the cursor around."

If you don't want to progress you can add `--quiet` too, and then there should be no progress at all.

[2021-04-22 15:33] patou opened #14698 "Type Component is part of the declarations of 2 modules:"
**Describe the bug**
The first time the component display well, but the second time, this error is displayed :
[code]
I had this error next this issues #14631

**System**

Environment Info:

  System:
    OS: Windows 10 10.0.18363
    CPU: (8) x64 Intel(R) Core(TM) i7-8665U CPU @ 1.90GHz
  Binaries:
    Node: 12.11.1 - C:\PBapps\ctlm-myeclipse\nvm-1.1.7\nodejs\node.EXE
    npm: 6.13.6 - C:\PBapps\

[2021-04-22 15:35] ndelangen commented on #14119
I guess that's me!

I'd be happy to debug this together, want to schedule something?
https://calendly.com/ndelangen/storybook

[2021-04-22 15:36] kaiyoma commented on #14620
Interesting, I already run this with the `--ci` option (and have for years). Are you sure that flag works? With yarn, I see progress percentages and colors; with any other invocation method, I see thousands of lines of (seemingly wrong) output.

[2021-04-22 15:40] kaiyoma commented on #14620
I just tried running with and without `--ci` and I don't see a difference between the two. I'm getting thousands of lines of progress bar output either way.

[2021-04-22 15:45] kaiyoma commented on #14620
Specifying `--ci` and still getting a ton of output:

![image](https://user-images.githubusercontent.com/10719780/115743598-ab2fb200-a346-11eb-9dad-60cdfe840dc1.png)

It all seems to be going to stderr (which is possibly related to another issue I filed: https://github.com/storybookjs/storybook/issues/14621) and there's a lot of it:

[code]

[2021-04-22 15:47] ndelangen commented on #14620
😭
Seem you're right, I don't know what happened. Will have to investigate.

<img width="870" alt="Screenshot 2021-04-22 at 17 45 41" src="https://user-images.githubusercontent.com/3070389/115744129-937e1b00-a392-11eb-83ce-0ebe52a19594.png">

[2021-04-22 15:49] kaiyoma commented on #14620
Whew! I feel less crazy now. 😄 I still have no idea why I'm seeing different results though when launching via different methods (`yarn run` vs. invoking directly vs. `rushx`). That's still baffling to me.

[2021-04-22 15:50] ndelangen commented on #14620
me neither, can you share a reproduction maybe?

[2021-04-22 15:54] ndelangen commented on #14620
I was wrong about the scope of `--ci` is really only does:

Something is causing your terminal to no longer respect colors are cursor movements

[2021-04-22 16:01] kaiyoma commented on #14620
For me, the repro is to simply run `start-storybook` without using yarn. I have two repos (of proprietary code, so I can't share them unfortunately) and I can repro this in both. Try running `start-storybook` directly or with npm and you'll get really verbose, color-less output.

[2021-04-22 16:05] ndelangen commented on #14620
@kaiyoma If i run start-storybook without `yarn` it won't work at all, because I do not have storybook globally installed.

[2021-04-22 16:05] kaiyoma commented on #14620
Running the binary directly (no colors, progress bar doesn't work right):

![image](https://user-images.githubusercontent.com/10719780/115746793-7bce7480-a349-11eb-89e1-defb7ef31302.png)

Running the same exact command line through yarn (everything looks good):

![image](https://user-images.githubusercontent.com/10719780/115747096-c819b480-a349-11eb-9d56-7e24a3aa1056.png)

[2021-04-22 16:06] kaiyoma commented on #14620
Run it directly out of `node_modules/.bin`. Or run it with `npm run`.

[2021-04-22 16:07] ndelangen commented on #14620
![Uploading Screenshot 2021-04-22 at 18.07.18.png…]()

[2021-04-22 16:08] ndelangen commented on #14620
I can't reproduce, using the .bin directly..

I do not have a rush monorepo handy.

[2021-04-22 16:12] kaiyoma commented on #14620
Yeah, this could be related specifically to running Storybook on Windows 10 with the git bash shell. Storybook is the only command-line tool that's exhibited this kind of behavior. For example, webpack uses a progress bar and colored output and I can run that directly and it's just fine.

[2021-04-22 16:36] ndelangen commented on #14620
@kroeder I know you use storybook and windows 10, have you noticed anything like this?

[2021-04-22 16:53] ndelangen commented on #14539
Does anything change if you were to import `{ LinkTo }`?

We specify the types here:
https://github.com/storybookjs/storybook/blob/cc55b7456e1496e8d56b3aebe86f548cc05c5ca0/addons/links/react.d.ts#L1-L2

I'm not sure what we're doing wrong?

I think the types were `any` before, can you confirm?

[2021-04-22 19:26] Smolations opened #14699 "Main component tab next to subcomponent tabs keying off displayName"
**Describe the bug**
When specifying `subcomponents` for a story (in CSF) the main component's tab shows the component's `displayName` instead of what's parsed from the default-exported `title`.

**To Reproduce**
Create a component which contains subcomponents, and assign the main component a `displayName`. When viewing the Docs tab, the `displayName` will show in the first (farthest left) tab.
[c

[2021-04-22 19:47] certainlyakey commented on #14631
For me it's acceptable, at least until an official fix is out. I've managed to resolve the issue with both `@addon-docs` and `@whitespace/storybook-addon-html` by removing this `|prettier` string from `@storybook/core-common` and applying a patch with [patch-package](https://github.com/ds300/patch-package).

[2021-04-22 20:40] danpaldev commented on #14688
@shilman  It didn't work :(

[2021-04-22 20:41] danpaldev commented on #14688
Thanks for your help @Ayushsunny , unfortunately it didn't work :(

[2021-04-22 20:56] Ayushsunny commented on #14688
Hey @danpaldev Can you try this ?

Uninstalling Command:

 `npm uninstall -g create-react-app`

installing Command:

   ` npx create-react-app my-app`

[2021-04-22 20:58] Ayushsunny commented on #14688
or this go through it

The command is as below:

`npm uninstall -g create-react-app && npm i -g npm@latest && sudo npm cache clean -f && npx create-react-app my-app`

This is taken from one of the Stack Overflow posts.

https://stackoverflow.com/questions/64963796/create-react-app-is-not-working-since-version-4-0-1/65043610

[2021-04-22 21:11] danpaldev commented on #14688
@Ayushsunny Thanks for your rapid response. It seems that you are suggesting that the issue is related to create-react-app? I don't have any problems creating CRA apps command using npx, but I just tried it anyways as I don't know why this error is happening.

The only issue that I have is that `npx sb init` always throws those yarn errors on every react project.

[2021-04-22 21:20] xavidram commented on #14698
I had to downgrade to `@storybook/angular 6.1.21` to get it to work. Problem now is that when I close vs-code and come back later and re run `npm run storybook` I get the same error again. Upon deleting the node modules and re-installing, `@storybook/links-addon` prompts me to select the version I would like to install, so I go down and select `v6.1.21` and let it install. Then I ran run it again

[2021-04-22 21:23] tfrijsewijk commented on #8375
I don't think this has anything to do with Storybook, check out what happens when you try to object spread an CustomEvent:

[code]

![image](https://user-images.githubusercontent.com/9696261/115786484-2afa6280-a3c1-11eb-9719-cd4672ef133a.png)

Since I'm not interested in the actual CustomEvent object but only what's on `.detail`, I went with the following:

[code]

[2021-04-22 22:11] coreybruyere commented on #13304
I have components that are exported later as a default that **do** work and others written the same way that **don't**

[2021-04-22 23:53] #14686 closed

[2021-04-23 00:25] shilman commented on #14698
closing as dupe to https://github.com/storybookjs/storybook/issues/14026

[2021-04-23 00:25] #14698 closed

[2021-04-23 02:01] shilman commented on #14694
Do you have a repro repo you can share?

[2021-04-23 02:05] shilman commented on #14693
closing as dupe to #14147

[2021-04-23 02:05] #14693 closed

[2021-04-23 02:28] shilman commented on #13183
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-alpha.14 containing PR #14689 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-23 02:28] #13183 closed

[2021-04-23 03:19] shilman commented on #14575
Hurrah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.9 containing PR #14586 that references this issue. Upgrade today to the `@latest` NPM tag to try it out!

[code]

[2021-04-23 04:13] akita-programs opened #14700 "Setup fails to install storybook due to missing version"
**Describe the bug**
A clear and concise description of what the bug is.

Unable to use the setup due to missing version of @storybook/addon-actions.

![image_2021-04-23_000944](https://user-images.githubusercontent.com/73960514/115817114-34d39400-a3c8-11eb-93dc-3ea70f0c3436.png)

**To Reproduce**
Link to a reproduction repo that demonstrates the bug, plus instructions on how to trigger it.

- Cre

[2021-04-23 05:23] sweeetland commented on #14416
Yes I have this issue also

[2021-04-23 07:28] kroeder commented on #14620
It does look normal on my windows 10 machine using git-bash

[code]

Same result in `cmd` for me

[2021-04-23 09:02] ndelangen commented on #10231
## potential additional upside:

- No more need for the whole `prepareForInline` business (converting non-react to react)

[2021-04-23 09:32] sergey-orlov-arcadia opened #14702 "Angular Material button classes are removed if the HostBinding('class') is used to add a class"
**Describe the bug**
When Angular Material is used, and there's a directive to add a class to `mat-button` using `HostBinding('class')`, all material classes are removed and replaced with the class set in directive. That happens in Storybook only, not in a regular Angular app.

**To Reproduce**
I've created a repo to reproduce the issue
https://github.com/sergey-orlov-arcadia/angular-storybook-dir

[2021-04-23 09:44] Jakob-em commented on #14702
Maybe this is related to the difference between ivy and non ivy. Because storybook doesn't use ivy at the moment, but your application probably does.

[2021-04-23 09:51] Jakob-em opened #14703 "tsconfig could not be read on windows"
**Describe the bug**
It seems like the recent changes (https://github.com/storybookjs/storybook/pull/14358) to the angular configuration detection broke something on windows.
This makes the current prerelease version unusable on windows.
If I try to run storybook in a new angular project I get the following **error**:
[code]

**To Reproduce**
[code]
**System**
[code]

**Additional context**
I am n

[2021-04-23 09:54] ndelangen commented on #14620
thanks for checking @kroeder really appreciated. I'm stuck on being unable to reproduce the issue @kaiyoma.

Does the problem occur in a specific version range of storybook? Perhaps this could give me an insight into what's changed recently that is causing this behavior on your machine.

[2021-04-23 10:09] shilman commented on #14700
Can't repro:

[code]

Try clearing your yarn/npm cache and reinstalling

[2021-04-23 10:46] wszydlak commented on #14593
@ThibaudAV as You helped me in other topics maybe here You can also tell me if this is a known problem?

[2021-04-23 11:05] shilman commented on #14579
@kylegach @ThibaudAV we're introducing a new `ArgType.disable` property that will tentatively do this for you. PR is here, but I haven't added that part yet.

[2021-04-23 11:11] shilman commented on #14593
@yngvebn can you please take a look?

[2021-04-23 11:11] daan93 commented on #14631
I solved this following these steps:
1. Update @babel packages
2. Remove node_modules
3. Remove package-lock.json
4. Run npm install

Removing the |prettifier from the regex in node_modules worked too, but I didn't want to go through writing a fix in main.js.

However now I have a different error for stories using ngmodel, like #14643

[2021-04-23 11:22] daan93 commented on #14643
I can confirm this issue on storybook 11.2.11. In my console the following error shows up.

![image](https://user-images.githubusercontent.com/7119213/115864200-d8f42400-a436-11eb-839c-478f1b347d30.png)

[2021-04-23 11:24] stfnbssl opened #14704 "Possible bug when a Story property contains "color" or "Color" in the name and is not a string"
When I declare in a Story a property of name "color" (or "rgbaColor" or "bkgColor", etc..)  that is not a string; example:
[code]
then viewing the story I see in a flash the correct widget but immediately I receive:
[code]
Renaming it, example "rgba", everything go right.

I could be wrong but it seems that trying to detect color properties for the controls panel s.t. goes wrong in the sb browser.

[2021-04-23 11:34] kyro38 commented on #14631
I went with the workaround with [patch-package](https://github.com/ds300/patch-package).
Really simple solution 👍

[2021-04-23 12:23] pdimova commented on #14694
Yes, I have. https://github.com/pdimova/storybook-failed-fetching

Actually, while I was preparing a repro repo I stumbled upon the solution. We happen to have `"acorn": "^7.1.1",` added to the package.json resolutions for some reason (something related to Nextjs). Once I removed that package from there it all started to work smoothly (at least for now).

[2021-04-23 13:17] AchilleasMich commented on #14700
This is also happening in a clean environment with `@storybook/addon-docs`

[code]

[2021-04-23 13:18] sergey-orlov-arcadia commented on #14702
@Jakob-em You might be right - I've managed to install the Ivy addon from https://github.com/storybookjs/addon-angular-ivy and this issue have disappeared. The addon integration doesn't work seamlessly - or, most probably, I just do it the wrong way - but I guess that after v6.3.0 it would be fine.

[2021-04-23 13:26] michelengelen commented on #14523
just to drop this in here since i have been looking into `react-docgen-typescript` package to solve this issue. I cannot get it to reproduce a property that has a type, values or raw type that includes `undefined` like it does in your example.

Even if I run it in our `storybook` installation directly it does not show the `undefined` value (we have the same problem there as @theAdhocracy )

I will

[2021-04-23 14:07] michelengelen commented on #14523
cc'ing @shilman @theAdhocracy
I checked all files and ran some tests over at the `react-docgen-typescript-plugin` repo and could not find a single case where ` | undefined` is added to the value array of the type definition.

One last thing I will try is getting an "old" version of both packages and see if it occurs with them.

[2021-04-23 14:08] eric-burel commented on #14342
Side question: is it possible to have an option for debugging this? `--webpack-debug` could for instance display which file triggered the reload?

[2021-04-23 14:27] eric-burel commented on #11916
This seems to make the required fields optional though

[2021-04-23 14:51] shilman commented on #11916
@eric-burel discussion here:

https://github.com/storybookjs/storybook/pull/14550

[2021-04-23 14:53] yannbf commented on #14704
Hey @stfnbssl, thanks for opening this issue! I assume you have configuration for [custom controls matchers](https://storybook.js.org/docs/react/essentials/controls#custom-control-type-matchers) in your `preview.js` file.
Controls offers ways to set a regex for color and date fields so that you don't need to set them in every story. I believe controls for colors only works with strings, and that's

[2021-04-23 14:57] shilman commented on #14704
@yannbf I think:
- the out-of-box install should not cause the user's storybook to break
- things should not fail silently if they break our assumptoins

If we take those two statements as constraints, the natural thing would be to restrict the color inference to string types only and warn if there's a conflict. WDYT?

[2021-04-23 15:40] ThibaudAV commented on #14579
@shilman Okay
We could already not add all the properties in agrTypes but this has a major impact:
- the documentation for private properties or internal methods would not be generated anymore

We can't have documentation on a class without assigning a value for each property in args.
_bad combo with compodoc -> argTypes -> args + angular renderer ^^_

I think that with the rework it could be nice

[2021-04-23 15:42] shilman commented on #14579
@ThibaudAV great point 🤦

i'll sleep on it and see if i can come up with something better

[2021-04-23 15:47] yannbf commented on #14704
Sounds like a plan! I'd say it's also important to see how to better handle unforeseen events like this. I reproduced it locally and the entire Storybook breaks, leaving the user clueless with a blank page. This happened because [this piece of code](https://github.com/storybookjs/storybook/blob/f9158180b8c3ba7b2c4d56d8bd6352efe544aae5/lib/components/src/controls/Color.tsx#L245) in the color picker

[2021-04-23 16:03] JasonBusse commented on #14539
Same issue here. I can get it to build and work using, `import LinkTo from '@storybook/addon-links/dist/esm/react';` but eslint is not happy.

Previously, we had imported from `@storybook/addon-links/dist/react`

When changing to named import `import LinkTo from '@storybook/addon-links/react';` we get:
`react-dom.development.js:23965 Uncaught (in promise) Error: Element type is invalid: expected a

[2021-04-23 17:18] contrast-jeremiahp commented on #14571
I tried reproducing this in a `react-create-app` but wasn't able to successfully create a quick project to share re-creating the issue.

For others who run into this, adding this snippet to `tsconfig.json` as a workaround solved the problem.

[code]

[2021-04-23 17:22] nickiaconis commented on #14603
I can add a little data from my experience: specifying `"**/remark-parse": "^9.0.0",` our in package.json did remove the `trim 0.0.1` dependency, but caused all `*.stories.mdx` files—which were previously working—to generate an `Unexpected default export without title: {"includeStories":[],"parameters":{"docs":{}}}` error. So it seems there may be changes needed to accommodate bumping the major ve

[2021-04-23 17:47] astreiten commented on #14603
Exactly, @nickiaconis. I´m facing the same issue.  Do you know if is there a plan to fix this in the next release?

[2021-04-23 17:47] laustdeleuran commented on #9832
Seeing this on Storybook `v6.2.8` as well. Unfortunately don't have the bandwidth to set up a clean repo to reproduce. It's in a fairly complex Gatsby (v3) + Contentful app.

[2021-04-23 17:48] yannbf commented on #11916
@shilman is there a reason this issue is still open? We do have support for the types. Maybe documentation can be improved, but the feature is already implemented

[2021-04-23 17:58] kaiyoma commented on #14620
I can't seem to run Storybook 6.1 because when I do, I get some low-level core-js error that causes the entire thing to bail. Any other versions you want me to try?

[2021-04-23 18:57] jgresham commented on #13183
thank you @shilman!

[2021-04-23 20:50] stevendavisfoto commented on #14700
I also get this same error just as of today.

[2021-04-23 21:18] shilman commented on #14700
i've seen this before where it takes time to propagate to different NPM servers around the world. it's definitely published. i'd recommend clearing your cache and trying again. and as a workaround, you can pin your versions to 6.2.8 and wait another few hours. this is an NPM bug, not a storybook one.

[2021-04-23 21:20] #11916 closed

[2021-04-23 21:38] stevendavisfoto commented on #14700
"i'd recommend clearing your cache and trying again"

it's not a cache issue. our gitlab instance is having the same problem.

[2021-04-23 22:32] akita-programs commented on #14700
It was a problem with either your team not able to push the update to NPM fast enough, or NPM not pushing updates fast enough itself, and since then, has been fixed. Some of your libraries were out of version and do not fallback to prior versions in case. It'd be nice to see a fallback option just in case this happens again. I checked the Storybook libraries, and they're all up to date. It shouldn

[2021-04-24 00:26] jeffersoneagley commented on #12558
Same issue here. I'm extending an interface from an external library and none of the properties of the base type I extended show up.

[2021-04-24 01:03] shilman commented on #14700
Can you elaborate on this? Does NPM have some kind of fallback mechanism built in?

The release process takes ~2 minutes from the start of pushing the first 6.2.9 package to the end of pushing the last 6.2.9 package. That means there is a 2 minute window where people might legitimately see this kind of problem.

I think this is a package propagation issue on NPM's side, and it's not the first time

[2021-04-24 06:19] tuuling commented on #14026
I spent a good part of 2 days on this. I don't know why, but the problem seems to be when a story has a module metadata decorator that has declarations:
[code]

The solution I found to this was to create a module that declares and exports this component.
[code]

[2021-04-24 07:55] akita-programs commented on #14700
I have no clue, I wish NPM did if it doesn't. Though, building your own could help with the problem, cause usually updates are made a lot around React framework and others.

Possibly could make a quick package, specifically to fall back on installing if it fails for a version. I have NO clue how that would work, but I bet it would be nice to have a fallback option in place. Maybe NPM could integra

[2021-04-24 10:35] mancristiana commented on #11697
@tmeasday could you update these steps since
* the virtual module entry you are referencing in step 1 no longer exists. Also, I can see we are using TypeScript so I assume this step might be updating a type instead. Which file would this be?
* `addParameters` and `addDecorators` seem to have been deprecated in favour of exporting parameters and decorators

I really appreciate your guidance, especi

[2021-04-24 11:49] iwan-uschka opened #14708 "Essentials addon vs. component props using TS Enums / Unions of numbers"
**Describe the bug**
TypeScript ENUMs or UNIONs of numbers are not handled properly for component props when using @storybook/addon-essentials.

**To Reproduce**
https://github.com/iwan-uschka/storybook-essentials-bug-ts-union-with-number. Please have a look at the README where you can find a step by step kinda "guide".

**System**
[code]

**Additional context**
Thx for this great peace of softwar

[2021-04-24 19:22] randak opened #14709 "addon-docs: Docgen component description does not generate anchor links"
**Describe the bug**
I am in the process of converting an existing React Storybook to CSF format, and using `@storybook/addon-docs` to generate the description using the docgen method. Writing markdown inside of docblock comments on the components is working well, and is extracting and rendering headings that look the same as the others on the page—except they don't have anchor links. Since we are

[2021-04-24 20:06] randak opened #14710 "addon-docs: Allow setting `argTypes` for `subcomponents`"
**Is your feature request related to a problem? Please describe**
I have a situation where I want to use `subcomponents` but I need to be able to customize some of the values displayed in the generated table. As far as I can tell, I can only apply `argTypes` customization to the main `component`, not the `subcomponent`.

**Describe the solution you'd like**
A method of setting `argTypes` for subco

[2021-04-24 20:23] randak opened #14711 "addon-docs: Default code block syntax highlighting has contrast issues"
**Describe the bug**
When writing a code block inside of a Storybook page (in this case, generated from a component description using docgen), the syntax highlighting causes contrast issues that hamper readability of the code example.

<img width="276" alt="Screen Shot 2021-04-25 at 3 19 21 AM" src="https://user-images.githubusercontent.com/2506770/115971918-8bca9c00-a575-11eb-9b8e-9f3605e70542.pn

[2021-04-24 20:33] randak commented on #14699
As a workaround, have you tried simply overriding your component's `displayName` inside of your story file? I've had success doing that for a similar issue.

[2021-04-25 09:05] shilman commented on #14711
I think this is due to conflicts between your project's CSS and the built-in theme.

[2021-04-25 09:25] clipvision commented on #14703
I have the same problem too, I was testing the alpha version for the rendering on toolbar buttons click.

[2021-04-25 10:09] vetrov commented on #14643
@daan93 Looks like you need to explicitly import FormsModule into your story. Do you have something like this in your code?
[code]

[2021-04-25 11:23] andy-57blocks commented on #14405
I am also facing the above issue as well, no error information, I get this warning in the console:
![image](https://user-images.githubusercontent.com/68219010/115991113-9595e300-a5f9-11eb-9fff-ca7ae916d9bd.png)

<pre>
 vendors~main.manager.bundle.js:120986 [Deprecation] SharedArrayBuffer will require cross-origin isolation as of M91, around May 2021. See https://developer.chrome.com/blog/enabling-

[2021-04-25 14:52] innaditiashova commented on #12455
Hey folks :)

Just wanna check if it's going to be solved any time soon? It's not that obvious issue and I guess it becomes really frustrating for lots of people as they don't even have an idea what's broken and how to google about it :)

[2021-04-25 17:57] utkarsh22garg opened #14712 "How to change Storybook icon and name with custom icon and name ?"
**What's the problem?**
How to change Storybook icon and name with custom icon and name ?

**Is there documentation on this?**
I saw some projects like Reaviz pass their custom icon and name in storybook side panel, but couldn't see any documentation to do it. Please refer to the image below.

![image](https://user-images.githubusercontent.com/31355903/116003828-73ae5780-a61d-11eb-8cd5-7ecd2fa1674

[2021-04-25 21:31] gabiseabra commented on #12022
Storybook's printing of elements to jsx in dynamic mode has a couple of quirks causing these problems:
(1) It picks one point in the component tree and renders all of its children, somewhere before global and after component decorators, at `jsxDecorator`. Some examples here would be manageable if there was a way to configure this — an option to skip or filter nodes that get printed from the compon

[2021-04-26 00:08] sreeg123 opened #14713 "Storybook Select knobs with long list is crashing"
Select knob with long list options when an option is selected then the page is crashing, will need to reload.

**To Reproduce**

<Meta
  title="Foundations/Icons/Iconography"
  decorators={[
    withKnobs({
      escapeHTML: false
    }),
    moduleMetadata({
      imports: [CommonModule, IconModule]
    })
  ]}
  parameters={{
    a11y: { ...a11yConfig, element: 'icon' }
  }}
/>

export const ico

[2021-04-26 01:39] tmeasday commented on #11697
@mancristiana - good pickup! - I'll update the comment to be more accurate, but in short:

- The `virtualModuleEntry.template.js` is now duplicated in two places:
  - https://github.com/storybookjs/storybook/blob/next/lib/builder-webpack5/src/preview/virtualModuleEntry.template.js
  - https://github.com/storybookjs/storybook/blob/next/lib/builder-webpack5/src/preview/virtualModuleEntry.template.js

[2021-04-26 02:35] michaelfarrell76 opened #14714 "prettier should be a dev dep"
**Describe the bug**
In the following: prettier is a regular dependency when it should be a devDependency
- "@storybook/addon-docs@npm:6.2.9":
- "@storybook/codemod@npm:6.2.9":
- "@storybook/source-loader@npm:6.2.9":

[2021-04-26 04:27] randak commented on #14711
@shilman You're right, we are in the process of migrating from storybook-readme and I think the style is coming from there. I initially thought it was from Storybook because it wasn't in our code :) I'll close this, thanks.

[2021-04-26 04:27] #14711 closed

[2021-04-26 05:55] shilman commented on #14714
Why should prettier be a dev dep? Storybook directly depends on it to function.

[2021-04-26 05:56] shilman commented on #14713
FYI, we’ve released `addon-controls` in Storybook 6.0. Controls are portable, auto-generated knobs that are intended to replace `addon-knobs`, which are slated for deprecation.

- [Controls documentation](https://storybook.js.org/docs/react/essentials/controls)
- [Migration instructions](https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#how-do-i-migrate-from-addon-knobs)

[2021-04-26 05:58] shilman commented on #14712
https://storybook.js.org/docs/react/configure/theming#create-a-theme-quickstart

[2021-04-26 06:01] utkarsh22garg commented on #14712
Thanks @shilman !

[2021-04-26 06:01] #14712 closed

[2021-04-26 06:07] alexworker23 commented on #14694
I am experiencing the exact same errors with `resolutions: { "acorn": "8.2.1" }`.
The only difference is that I have 0 successful runs. Each storybook run fails with the same logs.

[2021-04-26 06:23] brandonpittman commented on #14696
After updating to 6.2 from 6.1 today, I started seeing this too.

[2021-04-26 07:06] randak opened #14715 "Story source code in addon-docs only updating with every other change to controls"
**Describe the bug**
We are having two issues with code snippets which I think are actually symptoms of the same problem:
- Freshly loaded pages on Storybook don't display the correct story source
- Changes to controls are reflected immediately in the story, but the code snippet is only updated on every SECOND change to the controls (for example, if I toggle a boolean control from false to true, t

[2021-04-26 07:13] NeoSimvolist opened #14716 "Clean install angular and storybook are broken"
**Describe the bug**
Launching a storybook results in an error:
ENOENT: no such file or directory, lstat 'D:/D/src/ng11/tsconfig.app.json'
![image](https://user-images.githubusercontent.com/7588392/116042717-ef99b580-a698-11eb-976c-c77bf90f2f2f.png)

**To Reproduce**
npm install -g @angular/cli
ng new app
npx sb@next init --builder webpack5
npm run storybook

or repo https://github.com/NeoSimvolis

[2021-04-26 07:33] shilman commented on #14716
It works for me when I check out your repro & run

[code]

Am I missing something?

[2021-04-26 08:04] NeoSimvolist commented on #14716
Really. If you just clone a repository and run npm install, npm run storybook, then the build will go further. But if you do everything in steps, then there will be the above error. Perhaps this is not critical, but strange.

However, later on, I still get the error. Maybe that's another story
![image](https://user-images.githubusercontent.com/7588392/116049519-903fa380-a6a0-11eb-8999-1b8bdc2e615d

[2021-04-26 08:28] kanidjar opened #14717 "[Angular] Going back to a component already loaded throws an error"
**Describe the bug**

1. Display Component A
2. Display Component B
3. Display Component A

<img width="1434" alt="Capture d’écran 2021-04-26 à 10 25 18" src="https://user-images.githubusercontent.com/12607242/116052238-b69e1880-a679-11eb-9955-82277987d46d.png">

https://www.loom.com/share/ddb9919ac5604eceac92c3b3a184b370

**System**

[code]