[2019-03-26 03:20] shilman commented on #6004
Olé!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.15 containing PR #6240 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-26 03:20] shilman commented on #6261
Egads!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.15 containing PR #6267 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-26 03:20] #5017 closed

[2019-03-26 03:20] #5256 closed

[2019-03-26 03:20] #5812 closed

[2019-03-26 03:20] #6004 closed

[2019-03-26 03:20] #6261 closed

[2019-03-26 03:20] #6001 closed

[2019-03-26 04:55] platonish commented on #3916
For me, it worked by adding `__dirname` to `path.resolve` in my webpack config, like this: (I'm working on a create-react-app + TypeScript setup):
[code]
My file structure, adjust yours accordingly:

[code]

[2019-03-26 05:30] nfm commented on #6188
@elie222 I ran into problems here too. We have custom webpack config that includes svgr-loader, and are merging our config with Storybook's webpack config.

I believe the issue is the Preview config of file-loader here: https://github.com/storybooks/storybook/blob/4da246bbe9413510b48d1ab8b9faf4fae4656d92/lib/core/src/server/preview/base-webpack.config.js#L36-L40

In our case, we needed to have our

[2019-03-26 05:50] dougmacknz commented on #6210
I'm able to reproduce the warning if I follow the steps @jakehewitt provides above by creating a new project and then installing storybook as a dependency. However, I cannot reproduce this if I use the `cra-kitchen-sink` example inside the storybook repo, or if I `yarn link` my local storybook from the external project.

Is there a production build or something that needs to run to reproduce this

[2019-03-26 06:02] shilman commented on #6210
@dougmacknz Perhaps you need to run your storybook with the `--no-dll` option?

[2019-03-26 08:08] dougmacknz commented on #6210
Thanks @shilman - that works. I'll have PR up with a fix for this a bit later on.

[2019-03-26 08:28] shilman commented on #6210
@dougmacknz i'm super curious .. thanks for taking this on!!!

[2019-03-26 08:34] kroeder commented on #6144
I am also interested in this topic because we are heavily using typescript snippets. I thought about to add typescript support as a default
If it is easy to add a couple more I also will look into this.

Adding language support yourself was possible in the old syntax but I'm not sure if it works anymore - maybe @ndelangen can answer this?

We did it that way (doesn't work anymore):

[code]

and a

[2019-03-26 10:08] shilman commented on #3389
Solved in 4.1.x by https://github.com/storybooks/storybook/pull/4961

And maybe re-solved (?!) in 5.0.x by https://github.com/storybooks/storybook/pull/6222

[2019-03-26 10:16] aaronchenwei commented on #6069
Just met the same issue with `create-react-app` created React projects.

The issue is about the order of overriding options passed to `babel-loader`. If it is a `create-react-app` project, `@storybook/react` would detect if `react-scripts` is present. If yes, it will load the options from `react-scripts` package. As you might know, `react-scripts` from `create-react-app` has configured babel optio

[2019-03-26 10:33] jsomsanith commented on #6185
Quick investigation only :
* import of `addDecorator` from `@storybook/react` executes `app/react/src/client/preview/index.js` that calls `@storybook/core/client` > `start()` that sets the channel. That's why it works when it is imported before a11y.
* import of anything from  `@storybook/addon-a11y` executes a `addons.getChannel()` that has not been set yet. It is used to set a listener to execut

[2019-03-26 10:39] eldyvoon commented on #5701
@shilman

@storybook/addon-viewport": "^4.1.11",
@storybook/addon-knobs": "^4.1.11",

[2019-03-26 10:47] ohelixa opened #6285 "Addon Info - Prop Types wrong infos on static bundle"
**Describe the bug**
After running static build the Prop Types table misses informations

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://components.helixa.ai/?path=/story/atoms--button
3. Scroll down to Prop Types
4. See error

**Expected behavior**
Should look the same as on dev mode

**Screenshots**
Local
![Schermata 2019-03-26 alle 11 21 01](https://user-images.githubusercon

[2019-03-26 10:48] shilman commented on #6185
@jsomsanith once again you do not disappoint. 😄 Thank you kindly!

[2019-03-26 11:28] ar7casper opened #6287 "Action addon causes Maximum Call Stack"
**Describe the bug**
I've built a Button component using `react-pose` library.
In my story I called `<Button onClick={() => {}}>Text</Button>` and everything worked fine.

When adding the button in a Dialog component, it suddenly started being very laggy on localhost and threw a "Maximum call stack" error with NODE_ENV=production in the build.

The only difference was that for the Dialog Story, I

[2019-03-26 11:50] mtuzinskiy commented on #5509
@gogs85  same for me. Did you use webpack's copy?

[2019-03-26 12:06] ayiaq1 opened #6288 "vue this.$refs.xx.function is not a function"
1. vue-cli3 create
2. npm install @storybook/vue --save-dev
3. npm install vue-loader vue-template-compiler @babel/core babel-loader babel-preset-vue --save-dev
4. App.vue has children components A.vue

**Code snippets**

`
<div>
        <A ref="A"></A>
    </div>

    mounted() {
        this.$nextTick(() => {
            console.log(this.$refs.A); // is find A
            this.$refs.A.func();

[2019-03-26 12:21] favri commented on #6262
Hi @shilman i've changed that and still the same.

this is mi current package.json (updated to Beta)

[code]

Simplified my index.js to return only one story
[code]

And webpack config looks like this (changed jsx to js as my main file is index.js
[code]

[2019-03-26 12:28] tomspeak commented on #6194
Would also appreciate this being an optional thing, or possible to have it only in a local dev environment.

[2019-03-26 12:49] lumio commented on #6204
Although it says it is fixed with 5.0.4 and 5.0.5, I still get this error.

**How to reproduce:**
Install `@storybook/cli` and init package. Then init storybook with `npx -p @storybook/cli sb init --type react`.

[code]

[2019-03-26 13:14] shilman commented on #6287
What version of Storybook?

[2019-03-26 13:24] shilman commented on #6204
@lumio That's not an error, it's a warning. It's fixed in `5.1.0-alpha.16` and I'll release the fix to `latest` after it's been out for a few days if nobody complains.

[2019-03-26 13:31] shilman commented on #6262
Did you try it without smart-knobs? https://github.com/storybooks/addon-smart-knobs/issues/44

[2019-03-26 13:35] lumio commented on #6204
Got it! Thanks!

[2019-03-26 13:44] B3zo0 commented on #5703
Closing this as this is no longer an issue in 5.0.0

[2019-03-26 13:44] #5703 closed

[2019-03-26 13:53] rosskevin commented on #5267
/unstale forever. It is now my life's mission.

[2019-03-26 13:59] gogs85 commented on #5509
I didn't solve in ng-7, just move back go ng-6. This is separate project to display components. For that for us it was not problem to stay on ng-6. Sorry for late answer...

[2019-03-26 13:59] #5509 closed

[2019-03-26 14:03] metasean commented on #6148
@swust-xiaoj Did you figure out what's going on?

I'm running into the same problem after an upgrade, and it looks like it's specifically the Vue SFC `<styles>` section that is build system is getting hung up on.

### Upgrade details
[code]

### Error
[code]

I'm going to start working through individual updates to see if I can find change that caused this problem.  Unfortunately, I don't have a l

[2019-03-26 14:07] radum opened #6294 "Storybook v5, corejs v3 and SVG Issue"
Having the following config:

`babel.config.js`

[code]

`package.json`

[code]

`.storybook/webpack.config.js`

[code]

Running storybook works fine, all components that have an SVG are working just fine.

If I upgrade core-js to v3 and update the babel config to use v3 under `@babel/preset-env` storybook on run fails with this error for each SVG used:

[code]

This relates to the conversation fr

[2019-03-26 14:08] radum commented on #5708
@shilman Raised here #6294

[2019-03-26 14:48] backbone87 commented on #6148
seems like your webpack setup isnt quite right, i recommend using vue cli and vue-cli-plugin-storybook

[2019-03-26 15:04] garyee opened #6295 "Fragment in prop causes error in PropVal"
**Describe the bug**
When using a component with a prop that has the prop-type node, causes an error if that node is a React Fragment.
Error Message: Cannot convert a Symbol value to a string
Thrown in [PropVal](https://github.com/storybooks/storybook/blob/master/addons/info/src/components/PropVal.js#L230)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a story with the code snippets

[2019-03-26 15:16] favri commented on #6262
Yes, totally i've disable smartKnobs and removed imports from:

addons.js
config.js
index.js

[2019-03-26 15:28] favri commented on #6262
Just to add. I've tried to show one of the Storybook demo components (button) and same issue.

[2019-03-26 15:31] favri commented on #6262
I see this error in dev console:

onStory(...) has been replaced with on(STORY_CHANGED, ...)

[2019-03-26 15:40] metasean commented on #6148
@backbone87 - I won't garuntee that my webpack setup is correct (configs in general, and webpcak in particular, are my achille's heal) *_however_*  mine *_was working_*; it was a change during the upgrade process that broke it.

At this point, if i revert to my previous working version, then run the following upgrades:
[code]

Everything continues to work just fine.

However, *_when I run the `@st

[2019-03-26 15:57] maratfakhreev opened #6296 "Addon-info doesn't work with Vue jsx components"
**Describe the bug**
I've tried to use `addon-info` globally or locally but the error still occurs.

**To Reproduce**
On the screen you can see exact story code. I think additional description isn't necessary.

Storybook version: 5.0.3
Vue version: 2.5.13

Also using the styled components

**Screenshots**
![image](https://user-images.githubusercontent.com/1300497/55012628-c2313800-4ff8-11e9-91e6-7

[2019-03-26 16:00] maratfakhreev commented on #6296
Sorry, it's not for storybook, it is for specific plugin `addon-info`

[2019-03-26 17:11] shilman commented on #6294
Which version of storybook? Can you try the latest alpha that specifically uses corejs@2?

[2019-03-26 17:13] shilman commented on #5731
Let's add this as part of 5.1?

[2019-03-26 17:37] electricg commented on #5959
Hi, I submitted a PR to fix this bug https://github.com/storybooks/storybook/pull/6297

[2019-03-26 17:40] papa-rugi commented on #6262
Just to be clear,  the default location is src/stories/index.jsx right?

[2019-03-26 18:34] JKirkYuan opened #6298 "Using React.memo causes issues with Storybook Info Addon"
**Describe the bug**
Wrapping a functional component with `React.memo` causes the Info Addon to display the Story Source as `<Unknown />` and causes all the Prop Types to disappear

**To Reproduce**
Steps to reproduce the behavior:
1. Wrap your functional component with `React.memo`
2. Click on 'showInfo'
3. We can see that the JSX is wrong and has no Prop Types

**Screenshots**
- With `React.memo

[2019-03-26 19:07] backbone87 commented on #6288
more context needed: in which component do you use the mounted listener? which component sets the ref?

[2019-03-26 19:24] Armanio commented on #6287
It should be fixed in 5.1.0-alpha.15. Check it please.

[2019-03-26 19:51] metasean commented on #6148
### *_BREAKING_* changes were committed with `"@storybook/vue": "5.0.2"`

Apparently [Storybook's own kitchen sink webpack examples for v5.0.0 & v5.0.1](https://github.com/storybooks/storybook/commit/9cf28661bbcb838a14483ec4fa79edb0e38a1457#diff-f3d3aa42086a095a08c1bc9cfd1a2ac1) were marked as deprecated but were still very much working and the demonstrated approach is still listed as an option in

[2019-03-26 19:53] plowman opened #6299 "React Native - Unable to resolve module `@babel/runtime/helpers/interopRequireDefault`"
**Describe the bug**
After upgrading to React Native 59.2, I'm no longer able to run storybook the way I did previously. Whenever I try to load my app while the storybook server is running, I get the following exception:

**To Reproduce**
Steps to reproduce the behavior:
1. Run `yarn storybook` where storybook is defined as `"storybook start -p 7007 | yarn start --projectRoot storybook"`
2. Run `r

[2019-03-26 21:43] oblador commented on #6214
It was a [regression in the RN CLI](https://github.com/react-native-community/react-native-cli/pull/259), installing latest via `yarn add @react-native-community/cli --dev` should fix the issue.

[2019-03-26 21:52] uriel-sf commented on #5533
If the API is called set/get _query_ params, you kinda expect it to work that way :-)  How about instead of changing its behavior, this API is slowly deprecated over several releases? That would probably be better for devs expecting the API to work like it did before (myself included).

[2019-03-26 21:56] shilman commented on #6296
Addon-info is currently only for react. I'm working on a replacement that will be compatible with all view layers.

[2019-03-26 22:02] Armanio commented on #6185
Intresting. I'll try fix it in as soon as possible.

[2019-03-26 22:29] alexreardon commented on #5817
I am still getting this issue. I have the latest of the following:

- `@storybook/theming`
- `@emotion/core`
- `@emotion/styled`

All the cache clearing did not work. It is still trying to find the old `emotion-theming` package:

[code]

I installed `emotion-theming` package and everything is working..

[2019-03-26 22:43] shilman commented on #5267
Could be related to #6114 ?

[2019-03-26 23:10] #6299 closed

[2019-03-26 23:24] pandaiolo commented on #5533
Hi there! I have a custom addon that is broken by Storybook update to v5 because the `setQueryParam` is not... well, setting query params anymore. (same use case as @leoyli above with shareable URLs)

What do you suggest as a workaround? When I manually add query params, they get removed by Storybook. 😕

@tmeasday

Are there actually users complaining about this? I suspect most people just type th

[2019-03-26 23:42] shilman commented on #5959
Egads!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.18 containing PR #6297 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-26 23:42] shilman commented on #6210
Zoinks!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.18 containing PR #6290 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-26 23:42] #6210 closed

[2019-03-27 00:30] RyanZhu1024 opened #6306 "storybook 5.0.5 upgrade broken on load svg and png"
**Describe the bug**
[code]

**Expected behavior**
Everything is fine before upgrading to 5.0.5. It was 5.0.1

**System:**
 - OS: [MacOS]
 - Device: [ Macbook Pro 2015]
 - Framework: [react]
 - Version: [5.0.5]

[2019-03-27 00:35] RyanZhu1024 commented on #6306
I'm going to downgrade back to 5.0.1. Now all are back to normal

[2019-03-27 01:04] EskelCz commented on #6253
Oh, I missed the last instruction of the migration info. So I guess it's fine, everyone with the same problem will find this thread.
Just update the docs with the new command when it's out of alpha.
Thanks for your patience! :)

[2019-03-27 01:04] #6253 closed

[2019-03-27 01:05] airtonix commented on #2989
in your `preview-head.html`
[code]
simple. Don't bother installing `semantic-ui` via npm it's a huge pain in the ass, the build is overly convulated.

[2019-03-27 01:10] shilman commented on #6306
There was a bugfix in `5.0.2` and I'm guessing you're using `extend-mode` webpack configuration. If you convert to `full-control` it should work. More info:

https://github.com/storybooks/storybook/blob/next/MIGRATION.md#deprecate-webpack-extend-mode

[2019-03-27 01:25] ayiaq1 commented on #6288
![1](https://user-images.githubusercontent.com/3860498/55043655-26dca900-5072-11e9-8cf8-3681408e2936.jpg)
App.vue mounted A.vue

[2019-03-27 02:42] tmeasday commented on #5267
I think it's worth understanding as part of solving #6114 in any case. The HMR part is interesting in this one.

[2019-03-27 03:25] emjaksa commented on #6156
I am experiencing the same issue. @leoyli do you have showPanel set to false?
I only experience the issue after setting showPanel to false.

[2019-03-27 03:35] backbone87 commented on #6288
do you use vue-cli-plugin-storybook?

[2019-03-27 03:38] ayiaq1 commented on #6288
Oh my god, I didn't see this in the API documentation? Do you have a link address

[2019-03-27 03:41] backbone87 commented on #6148
that is really annoying, i recommend using full control mode only (since this is what will be the only option in the future, if i understood that correctly) or use the vue-cli-plugin-storybook

[2019-03-27 03:42] backbone87 commented on #6288
come on: http://lmgtfy.com/?q=vue-cli-plugin-storybook

[2019-03-27 04:01] leoyli commented on #6156
This is really weird... It seems like this was actually happened when you open it directly in the local file system?! Anyway, I think I will close this issue for the moment since SB is happy and normal when we deployed the static build internally.

[2019-03-27 04:01] #6156 closed

[2019-03-27 05:00] chawlaaditya8 commented on #6157
I would like to work on this one

[2019-03-27 07:14] codeNoobie commented on #5814
@igor-dv  I am getting this error too on migration to storybook v5 from v4. What is the recommended version of angular dev kit that would work with storybook 5?

[2019-03-27 07:45] radum commented on #6294
@shilman Sorry I should have mentioned I am using `5.1.0-alpha.17`. If v2 is used then that should be the problem then.  Because if my babel config is set to 3 it will be incompatible with the old version I guess.

[2019-03-27 07:54] ayiaq1 commented on #6288
good! 3Q

[2019-03-27 07:54] #6288 closed

[2019-03-27 08:21] mtuzinskiy commented on #1417
Hi! I have the same problem, but on Angular. When I change something slightly, the input fields of my simple component get cleared, and the whole state is lost.
And the `./storybook/config.js` file gets indicated as updated.
@remotezygote 's fix didn't help.
Any suggestions? Is it as expected?

[2019-03-27 08:36] maratfakhreev commented on #6296
@shilman ok, thanks. Will be waiting for it

[2019-03-27 08:47] haskelcurry opened #6308 "HMR clears the component state"
I use Angular Storybook. When I change something slightly (i.e. the component's SCSS), the input fields of my simple component get cleared, and the whole state is lost.

**To Reproduce**
Steps to reproduce the behavior:
1.
[code]
2. In Storybook app, insert some text in the input field
3. Change something not related to this component
4. The text gets cleared. The `config` is among the [HMR] updat

[2019-03-27 09:08] kakadiadarpan commented on #6255
@mohamedmansour tried that, didn't work. 😕

Breaks with `react@16.8.4` as well.

[2019-03-27 09:30] jcampalo commented on #6255
I have the same error:

`
ModuleNotFoundError: Module not found: Error: Can't resolve '../src/themes' in '/Users/jcampalopez/Projects/tangram/storybook'
    at factory.create (/Users/jcampalopez/Projects/tangram/node_modules/webpack/lib/Compilation.js:823:10)
    at factory (/Users/jcampalopez/Projects/tangram/node_modules/webpack/lib/NormalModuleFactory.js:397:22)
    at resolver (/Users/jcampalo

[2019-03-27 10:08] VladimirHumeniuk commented on #6262
Try to set `test: /.story.jsx?$/,` instead of `test: /.stories.jsx?$/,` in your webpack config.

[2019-03-27 10:42] owinter86 opened #6309 "React Native TextInput Autofocus Infinitely opens and closes keyboard"
**Describe the bug**
A story with a TextInput that auto focuses will continually open and close the keyboard when selecting the story on the Navigator ui.

**To Reproduce**
Create a story with a TextInput with the prop autoFocus={true}, navigate to story in the React Native ui, see keyboard continually open and close until Preview mode is selected.

**Expected behavior**
Either selecting a story f

[2019-03-27 11:04] shilman commented on #6148
Yes, there was a bug in 5.0.0 which caused many peoples' webpack config to break migrating from 4.x. I fixed the bug in 5.0.2 and it caused some problems for anybody who used "extend mode" configuration in the 12 days between the 5.0.0 release and the 5.0.2 bugfix. To keep this from happening I deprecated extend-mode and will be removing it in a future version of Storybook. I also added a `--debug

[2019-03-27 12:03] VaclavSir commented on #4873
Hi, I just ran into a similar issue. Thanks for this report, it helped me.

As a workaround I have hidden the Flow definition from Babel using a [comment type include](https://flow.org/en/docs/types/comments/):

[code]

[2019-03-27 12:29] VladimirHumeniuk opened #6311 "Uncaught TypeError: Object(...) is not a function"
I have this errors in console, when i run Storybook (tried 5.0.5 and 5.0.3). Does anyone faced with this?

[code]

[2019-03-27 12:33] shilman commented on #6311
This looks a bit like the React version error: https://github.com/storybooks/storybook/issues/4796

But it doesn't make sense in 5.0, so I'm not sure what's going on...

[2019-03-27 12:36] uriel-sf commented on #5533
Hey devs, any ETA on when we can expect backwards-compat behavior?

[2019-03-27 12:37] caioincau opened #6312 "The knobs are not updating the component after change in Vue"
**Describe the bug**
The knobs are not updating the component after change.

**To Reproduce**

The knobs are working, but when I change some value in storybook, the component doesn't chage at all, I am usign v5.0.5 and this is my config:

[code]

My story:

[code]

And my Component:

[code]

Video:

[Screen Recording 2019-03-27 at 09.36.30.zip](https://github.com/storybooks/storybook/files/3013113

[2019-03-27 12:52] Kailaash-Balachandran commented on #6312
It doesn't work on v5.0.3 either.

[2019-03-27 12:54] VladimirHumeniuk commented on #6311
@shilman  exactly, because I already tried on 16.8.0 and 16.3.0

[2019-03-27 13:05] Kailaash-Balachandran commented on #6312
**Story:**
[code]

**in Console when I toggle knob:**
[code]

[2019-03-27 13:56] exlame commented on #6312
I can reproduce this problem when I am using imported components:
## Working
[code]

# Not working
[code]
./Simple/Simple.vue
[code]

[2019-03-27 14:26] erikdstock commented on #6255
Should `@emotion/core` be a dev or peer dependency? Adding that addressed this issue for me but seems like something is missing there. From the OP:
[code]

[2019-03-27 15:11] jsomdev commented on #4891
Was there any solution @CloudPower97 ? I am having the same issue

[2019-03-27 15:50] caioincau commented on #6312
@Kailaash-Balachandran I just tested with V5.0.5, because it is a new project.

[2019-03-27 16:14] codestitch opened #6316 "Cannot find path when using alias"
**Describe the bug**
In one of my stories. I used a custom component called **List Component** wherein it calls a service that is located deep in one of my library folder. The service was imported via alias like this:

`import { ClientService } from '@gs/shared/services';` instead of the lengthy full path.

When using List component in storybook it showed me this error:

![Capture](https://user-im

[2019-03-27 17:09] rieznik commented on #6075
Have the same issue 😞 probably that is why I've got empty screenshots in [Chromatic](https://www.chromaticqa.com)

[2019-03-27 17:41] leifoolsen opened #6319 "A working example with PostCSS for Storybook v5"
**Is your feature request related to a problem? Please describe.**
A working example with PostCSS / css-modules for Storybook v5

**Describe the solution you'd like**
We have a Lerna monorepo project. We're using Storybook version 4.1.14 for component development. To convert CSS for our react components, we use postcss-preset-env. This setup works without any issues in Storybook version 4.1.14. Wh

[2019-03-27 17:41] maracuja-juice opened #6320 "Storybook 5.0: Not all files under rootDir"
In the Migration to Storybook 5.0 I get the following issue when trying to start it up:

[code]

This is my current webpack config:

[code]

 Package Versions:
[code]

[2019-03-27 17:42] Hypnosphi opened #6321 "Can't apply custom theme in official example"
**To Reproduce**
In `examples/official/storybook/config.js`:

[code]

`yarn start`, see no effect on UI theme. Reloading page, restarting storybook, and even `yarn bootstrap --reset` don't help

[2019-03-27 18:00] RPDeshaies commented on #5975
Alright I don't know what I changed but it works now

![image](https://user-images.githubusercontent.com/6224111/55100607-a41b1480-5098-11e9-8942-52a6d7ec0523.png)

Will create a PR

[2019-03-27 18:06] Batarian711 opened #6322 "Logo design"
Hello there. I like volunteering to help open source projects. I'm a graphic designer. I want to design a logo for the readme file. Dou you like? I will make a gift.

[2019-03-27 18:11] RPDeshaies commented on #5975
https://github.com/storybooks/storybook/pull/6323

[2019-03-27 21:03] Keraito commented on #5050
Took a bit longer, but I started working on this again :)

On Sun, 3 Mar 2019 at 15:42, Michael Shilman <notifications@github.com>
wrote:

[2019-03-27 21:04] metasean commented on #5959
I hate to have to post this, but it's not working for me.

I upgraded to v5.1.0-alpha.18 (fwiw: that went a _whole lot smoother_ than the upgrade to v5.0.2) and ran `yarn storybook`.

<img src="https://user-images.githubusercontent.com/7552754/55112045-49d28180-50a1-11e9-8c2e-8151f5ac0c73.png" width="250px"/>

However, when I visit a components page, but I'm still seeing only the mono sample:

<im

[2019-03-27 21:05] metasean commented on #5959
@shilman - I don't have an option to reopen this, would you please do that.

[2019-03-27 21:10] Keraito commented on #5731
Sounds good @shilman , is there a (tentative) release date for 5.1?

As a todo list for what we want:
- [ ] Include the above addons together with the templates.
- [ ] Register them in the `addons.js`.
- [ ] Should we also import them into the existing template stories?
- [ ] Do we want (separate) example stories with usages of those addons?

[2019-03-27 22:15] #5974 closed

[2019-03-27 22:54] jacobgranberry commented on #6161
@trevoreyre @shilman Hey!  Tried to track down a solution still but coming up short...getting the same error even after downgrading storybook and react scripts, seems webpack just doesn't want to line up versions

[2019-03-27 22:56] CodeByAlex opened #6326 "Browser Support Addon - New Addon Feature  - Based on static analysis"
**Feature description**
One of the largest issues when developing an application for a wide array of users is ensuring that a component will work in Chrome, IE, Firefox, Safari, etc.. At the moment, the best way to determine if your component is likely to look the same across browsers is to test them in each. Based on static analysis, the Browser Support addon will offer the information necessary

[2019-03-27 23:08] petekp commented on #5934
Not sure this is an issue anymore. Closing!

[2019-03-27 23:08] #5934 closed

[2019-03-27 23:42] ahahn95 commented on #4891
Having this same issue!

[2019-03-28 00:12] swese44 opened #6327 "[question] How to order top-level sections?"
We've just upgraded to latest version `5.0.5`. I'm organizing stories into sections with the `|` character in `storiesOf()`:
<img width="200" alt="Screen Shot 2019-03-27 at 5 07 03 PM" src="https://user-images.githubusercontent.com/471731/55120332-c9b51780-50b2-11e9-926b-a536abdeeaad.png">

But the sections seem to be organized randomly. How can I declare the sections order? Thanks

[2019-03-28 00:20] backbone87 commented on #5879
partially implemented in #6045

missing:

[2019-03-28 01:17] shilman commented on #6312
cc @backbone87

[2019-03-28 01:19] shilman commented on #6316
There's probably a way to do with a webpack alias. I don't know if we support this aspect of Typescript... @kroeder?

[2019-03-28 01:21] shilman commented on #6319
What was your config in 4.x?

[2019-03-28 01:26] shilman commented on #6321
@ndelangen Why don't we have a custom theme in the official example? And was there not a pull request for this change?

[2019-03-28 01:45] shilman commented on #5731
@Keraito Yes we should add them to the template config. I think we can just add them in the simplest way possible including `viewport` and `backgrounds` and maybe `a11y`. I'm going to overhaul the way notes/info work soon, and will include updates for Storybook Docs separately.

[2019-03-28 01:57] shilman commented on #6161
Cc @mrmckeb

[2019-03-28 01:57] shilman commented on #6161
@jacobgranberry If you set up a new CRA from scratch and then add storybook to it, does it work for you?

[2019-03-28 02:00] shilman commented on #6327
I'm not sure it's possible. Related https://github.com/storybooks/storybook/issues/5827

[2019-03-28 02:15] jacobgranberry commented on #6161
@shilman yes - seems to work as expected when created from scratch

[2019-03-28 02:34] shilman commented on #6326
I think this would make a great addon and a useful standalone library/tool like axe. If there were more "check the DOM" use cases like this, I could even imagine generalizing `addon-a11y` into a generalized checker.

[2019-03-28 02:35] backbone87 commented on #6312
in your example from the opening post you define your `knobConfigs` outside of your story function. the knob calls must occur inside the story function (knob calls have sideeffects that get tracked during story function execution)

your example from https://github.com/storybooks/storybook/issues/6312#issuecomment-477143974 should work

[2019-03-28 02:47] jacobgranberry commented on #6161
@shilman @trevoreyre

I believe I've figured it out.  React-scripts needs to be in dependencies, not DevDependencies. I believe storybook requires some polyfills that are not built/included by CRA if its in devdependencies.

[2019-03-28 03:11] shilman commented on #6161
Great! :+1:

[2019-03-28 03:11] #6161 closed

[2019-03-28 03:28] MaximSagan commented on #5542
I agree with Raidok. Ideally, we should be able to import the module that a component was originally declared in (so that any of its dependent child components are also declared) and specify its props using Typescript without template binding.

[2019-03-28 03:31] shilman commented on #5974
Yippee!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.19 containing PR #6222 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-03-28 04:52] fillipvt commented on #5817
Fixed it by installing emotion-theming: https://emotion.sh/docs/emotion-theming was getting the following error:

[code]

[2019-03-28 05:05] kristian-puccio commented on #6319
I am finding the same issue.

I believe this is caused by there being an existing rule to process css in the webpack config and it's got it's own postcss configuration. There appears to be no restrictions other than `        { test: /\.css$/,` so I think it's also picking up all the user code.

[2019-03-28 05:22] tomashapl commented on #5974
Works like charm 🎉

![image](https://user-images.githubusercontent.com/7850592/55132144-b1301600-5121-11e9-9285-cb20b0f49785.png)

Thank you guys 👏

[2019-03-28 06:27] shilman commented on #6319
@kristian-puccio You can use the `--debug-webpack` option to see the final config getting passed into the preview. If there are duplicate rules you can filter them out as needed?

[2019-03-28 06:42] ayiaq1 opened #6330 "How do I write multiple types in vue props"
storiesOf('multiple', module)
  .addDecorator(withKnobs)
  .add('props', () => ({
    template: `
        <el-select v-model="selected">
            <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
            </el-option>
        </el-select>
    `,
    props: {
      selected: {
        type: [String, Ar

[2019-03-28 06:51] Pushplaybang commented on #5818
@shilman @hipstersmoothie  - not certain if this is related, but currently using the viewport addon obscures the very useful background grid, let me know if this should be a separate issue.

[2019-03-28 08:19] joms opened #6331 "Storyshot should split tests in a way that Jest only tests changed components"
**Is your feature request related to a problem? Please describe.**
When running tests using Storyshots and Jest for React with CRA, it will run all tests for Storyshots even if only a single component changed. This makes the test running take a lot more time than required.

**Describe the solution you'd like**
When running test runner using Storyshots I would want Storyshots to split up the tests

[2019-03-28 08:54] visioneers commented on #6262
I've been having the same issue. I think the `webpack.config.js` isn't even being loaded. I know this because I attempted to change the file content to get a reaction through compilation, to no avail. It is in the `.storybook` folder, in the same directory as the `storybook` folder, along with `src` folder. Problem occurred after upgrading from **4.1.11** to **5.0.5**.

[code]

I've tried the foll

[2019-03-28 09:02] Arch1tect commented on #1369
This solved my problem as well, but I believe this is a bug. I installed storybook with one line from the official website and I got this
<img width="794" alt="屏幕快照 2019-03-28 上午2 01 17" src="https://user-images.githubusercontent.com/1332712/55144163-6ef4dd80-50fd-11e9-8c1c-7fef0c7fc4ad.png">
I don't have the addons.js file and had to create it myself.

[2019-03-28 09:07] yaharga commented on #6262
I've been having the same issue. I think the `webpack.config.js` isn't even being loaded. I know this because I attempted to change the file content to get a reaction through compilation, to no avail. It is in the `.storybook` folder, in the same directory as the `storybook` folder, along with `src` folder. Problem occurred after upgrading from **4.1.11** to **5.0.5**.

[code]
I've tried the follo

[2019-03-28 10:35] johnhunter commented on #6116
Perhaps `checkInterval` could be set in config with some sort of value that indicates never?

https://github.com/storybooks/storybook/blob/master/lib/ui/src/core/versions.js#L7

[2019-03-28 10:40] johnhunter commented on #6116
Looks like https://github.com/storybooks/storybook/pull/6143 resolves this issue as long as I use the production build.

[2019-03-28 11:07] mr-wildcard commented on #6047
Thank you @shilman . You're right, I was aware of the preview/manager distinction but didn't realize they were built using different webpack configurations.

I'll try @ndelangen [solution](https://github.com/storybooks/storybook/issues/4995#issuecomment-447270973) 👍

[2019-03-28 11:37] theinterned opened #6332 "Can't use hooks in Storyshots"
### Describe the bug
Hello, I'm trying to add Storyshots to a project on `CRA@2.1.8` (latest) and `@storybook/*@5.0.5` (also latest) that uses hooks.

Storyshots runs fine for the majority of components / stories. But fails on any component that uses hooks:

[code]

This is my super-basic test component:

[code]

and this is the story that runs it:

[code]

And the `storyshot.test.js`

[code]

###

[2019-03-28 11:43] ndelangen commented on #4169
Working on this

[2019-03-28 13:43] shilman commented on #6330
cc @backbone87

[2019-03-28 13:44] marcel-k commented on #5974
The table component is still not working in my build.
Is this fix also for the table? Or is it my build.. using CRA, Storybook and styled components.

 "dependencies": {
    "react": "^16.8.4",
    "react-dom": "^16.8.4",
    "styled-components": "^4.1.3",
    "styled-normalize": "^8.0.6"
  },
"devDepedencies": {
    "@babel/core": "^7.3.4",
    "@storybook/addon-actions": "^5.1.0-alpha.19",
    "

[2019-03-28 13:48] shilman commented on #1369
@Arch1tect did you use `sb init`? And it didn't generate an `addons.js` file?

[2019-03-28 13:58] dougestey commented on #4600
@nisheed2440 Thank you so much for this really great effort. Hopefully this gives the team here a head start in the right direction. Stencil and Storybooks are ideal for each other.

[2019-03-28 14:58] mathieuk commented on #3855
@erickwilder I tried your approach but that never seemed to update the knob form (even when it did update the props provided to the component).

[2019-03-28 15:00] metasean commented on #5959
Indeed.

I had only run `yarn add @storybook/vue@latest` thinking that it would update all of it's dependencies, but it didn't.  🤦‍♂️

Explicitly running `yarn add @storybook/addon-a11y@next` brought it up to speed.  👍

@electricg  - **_Thank you for the bug fix and helping me debug my own oversight in getting it up and running!_**

[2019-03-28 15:01] #5959 closed

[2019-03-28 15:12] Kailaash-Balachandran commented on #6312
@backbone87 It doesn't seem to work in the example.

[2019-03-28 15:36] andyford commented on #5249
I ran into this problem when we bumped babel-loader from 7.1.5 up to 8.0.5. Rolling babel-loader back to 7.1.5 worked in our situation. (your mileage may vary)

[2019-03-28 15:49] vpicone opened #6335 "Selected sidebar item doesn't respect theme colors"
**Describe the bug**
Setting `theme.color.lightest` and `theme.color.inverseText` doesn't impact the color of selected items in the sidebar (they remain #FFFFFF regardless)

From the sidebar component, it looks like `theme.color.lightest` should effectively color the component but it it looks like it is overridden by `div#accordion--skeleton` for some reason.

https://github.com/storybooks/storybo

[2019-03-28 15:58] ohelixa commented on #2716
I have the same issue

[2019-03-28 16:06] jephjohnson commented on #1316
Same Issue

[2019-03-28 16:32] langri-sha commented on #6251
I upgraded to v5.0.5 and can confirm from my lockfile that all the dependencies are also on v5.0.5. Still receiving `Error: Manager build is broken` with `{ error: null }`.

[2019-03-28 16:41] theinterned commented on #6332
UPDATE:

I have figured out that my version of `react_test_renderer` was outdated. It was at `16.3.2`. Running

[code]

upgraded me to `16.8.6`. This is the same version number as `react`, `react-dom` etc!

So it seems the error was due to the version mismatch between `react-dom` and `react-test-renderer`.

[2019-03-28 16:41] #6332 closed

[2019-03-28 16:55] maracuja-juice commented on #6320
I needed to change my rootDir in the tsconfig.json which fixed this error.

[2019-03-28 16:55] #6320 closed

[2019-03-28 17:04] metasean opened #6336 "@storybook/api v. 5.1.0-alpha.18/19 hiccup"
**Describe the bug**
In updating other @storybook depencendencies to `next` (i.e. 5.1.0-alpha.19), several of them are themselves dependendent on @storybook/api and trying to upgrade it to `5.1.0-alpha.19` but apparently `@storybook/api@5.1.0-alpha.19` doesn't exist, even though it does https://www.npmjs.com/package/@storybook/api. 😕

**To Reproduce**
Steps to reproduce the behavior:

From a pre 5

[2019-03-28 18:03] backbone87 commented on #6330
single element array is treated the same way as a string by element-ui, so just use an array knob
https://github.com/storybooks/storybook/tree/master/addons/knobs#array

for support questions please use discord (see https://storybook.js.org/support/) or standard support networks like stackoverflow

[2019-03-28 18:03] #6330 closed

[2019-03-28 18:09] backbone87 commented on #6312
@Kailaash-Balachandran what example? https://github.com/storybooks/storybook/issues/6312#issuecomment-477143974 should work, if storybook is set up correctly

[2019-03-28 18:16] backbone87 commented on #6148
is this actionable?

[2019-03-28 18:55] Kailaash-Balachandran commented on #6312
@backbone87 No, it does not work. I added the example story as a reply to https://github.com/storybooks/storybook/issues/6312#issuecomment-477138728

Other addons seems to work just fine. If the issue is not reported by anyone else, I should check the webpack setup as you suggested.

[2019-03-28 19:04] backbone87 commented on #6312
without more context, i cant judge, the story itself is fine

[2019-03-28 19:51] iamjaredwalters commented on #4891
Running into this issue as well ;(

[2019-03-28 19:57] iamjaredwalters commented on #4891
Success. I was able to make get this working using this config:

[code]

[2019-03-28 19:58] iamjaredwalters commented on #6319
I was able to resolve the above error with this config:

[code]

[2019-03-28 20:21] metasean commented on #6148
I tried to update documentation to decrease the probability that someone else could run into this - https://github.com/storybooks/storybook/pull/6318

Based on @shilman's last comment, I'm not sure that there's much else that is actionable. 🤷‍♂️

[2019-03-28 20:21] erickwilder commented on #3855
I might have omitted some details of my setup:
* We're using Vue.js with Storybook
* The code mutating the value and triggering the re-render was done inside a method if the story wrapping component.

I don't know if such approach would work for everyone.

[2019-03-28 21:41] kristian-puccio commented on #6319
I think that the issue is that there is a conflict with the css rule that is already in the list, I'm guessing it's used to generate the css for the storybook ui.

If I change the file extension to something else, say .xcss and modify my rule so it matches that then it all works perfectly.

@shilman do you think it's possible to add more restrictions to the existing css rule?

[2019-03-28 22:29] elliotdickison opened #6337 "Storybook 5 breaks with Emotion 9"
**Describe the bug**

I'm working on react@16.3.x components that use emotion@9.2.x. I recently upgraded to @storybook/react@5.0.x, but when I boot it up I get the following runtime error:

[code]

I dug into it and it appears that this is due to the fact that storybook is pulling in @storybook/theming, which is in turn pulling in emotion 10, which does not play nice with emotion 9.

**To Reproduc

[2019-03-28 22:30] codeNoobie opened #6338 "Storybook startup fails for Angular"
**Describe the bug**
I am trying to migrate to V5 of storybook. We are using Angular in our repo. When I start the storybook, it gives warning that it is unable to load angular-cli config.
After this, the storybook complains that it is unable to find my local library inside the story. This library is my local library which we publish from our repo.

**To Reproduce**
1. Add storybook to angular cli

[2019-03-28 22:40] metasean commented on #6336
It looks like this may have been a nexus issue.
Regardless, it seems to have resolved itself, so 🤷‍♂️

[2019-03-28 22:40] #6336 closed

[2019-03-28 22:55] andremw commented on #4799
Same problem here. @amittkSharma have you found a solution?

[2019-03-28 23:17] shilman commented on #5959
@metasean In general I'd try to keep all versions the same unless you have a specific need to diverge. E.g. `vue@next && a11y@next` OR `vue@latest && a11y@latest` but NOT `vue@latest && a11y@next`.

[2019-03-28 23:22] robbertolierook opened #6339 "Setting a custom document title in React"
I'm not able to set a custom title. Even the workaround in the `manager-view.html` file doesn't work anymore (well it works for about 0.5 second):

`<script>
   document.title = 'custom title';
</script>`

I'm guessing this has to do with the implementation of #866. Setting a custom title shouldn't be this hard, an addParameter option for it would be awesome.

This has been asked a lot, so sorry i

[2019-03-28 23:43] shilman commented on #2716
@ohelixa what version?

[2019-03-28 23:43] shilman commented on #1316
@jephjohnson which version?

[2019-03-28 23:45] shilman commented on #6251
@ndelangen Any known changes to middleware in 5.0?

[2019-03-29 00:21] backbone87 commented on #6148
ok, so i gonna close it

[2019-03-29 00:21] #6148 closed

[2019-03-29 00:22] shilman commented on #6319
@kristian-puccio What would you suggest? My suggestion would be that you use full-control mode and remove the existing rule and add your own on top of it.

[2019-03-29 00:24] shilman commented on #6337
@elliotdickison What addons are you using?

[2019-03-29 00:25] kristian-puccio commented on #6319
Wouldn't that break the storybook UI though? As in do you need the existing
css rule?

My idea was that the existing css rule just have an includes clause applied
to it, so it only applies the storybook ui files.

On Fri, 29 Mar 2019 at 11:22, Michael Shilman <notifications@github.com>
wrote:

[2019-03-29 00:31] elliotdickison commented on #6337
No addons, @storybook/react@5.0.5 is my only storybook dependency.

[2019-03-29 00:35] shilman commented on #6338
How did you reproduce this in `examples/angular-cli`. The following works for me:

[code]

[2019-03-29 00:41] shilman commented on #6337
Storybook runs two separate webpacks: one for the "preview" (user code, running in an iframe) and a second for the "manager" (UI wrapping that iframe). AFAIK the preview has no dependency on emotion unless you happen to be using a buggy addon (which you're not). So this makes me think that simply running emotion 9/10 together in the same browser window, even if they are in different iframes, is ca

[2019-03-29 01:43] iamjaredwalters commented on #6319
@shilman @kristian-puccio thats exactly what my example does

[2019-03-29 02:05] shilman commented on #6319
@kristian-puccio The storybook UI has its own separate webpack config, so the goal of the default rules are to provide sensible out-of-the-box experience for users.

If you think the defaults can be improved, we're open to it, but with the caveat that the bar's pretty high because we don't want to disrupt users that are happy with their current setup.

If you think the documentation can be improve

[2019-03-29 02:10] backbone87 commented on #6327
we maybe could do this via parameters:
[code]

[2019-03-29 02:11] shilman commented on #6256
Zoinks!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.20 containing PR #6301 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-29 02:17] swese44 commented on #6327
array version would allow manual order so i'd be in favor of that approach.

for now i'm making sure the individual story files are imported in the section order i want, it works but isn't really scalable

[2019-03-29 02:45] kristian-puccio commented on #6319
Ahh I understand!

Yep happy enough to filter it out my self now knowing it's not required.
Yeah I reckon documentation would help here

On Fri, 29 Mar 2019 at 13:05, Michael Shilman <notifications@github.com>
wrote:

[2019-03-29 02:52] uriel-sf opened #6340 "What happened to Table in @storybook/components?"
**Describe the bug**
A component disappeared without warning!

**To Reproduce**
Steps to reproduce the behavior:
1. `import { Table } from '@storybook/components'

**Expected behavior**
A working component. Instead, we get an error because that component doesn't exist.

**System:**
 - storybook 5.0.5

**Additional context**
It would have been nice if these breaking changes were announced somewhere

[2019-03-29 03:25] kristian-puccio commented on #6319
Ok for those playing along at home this works perfectly.
[code]

[2019-03-29 04:37] codeNoobie commented on #6338
I ran `yarn install` and then `yarn storybook` in the example folder (This is also what we usually run for my angular project).

I tried your above steps in your `storybook/examples/angular-cli` example and it worked for me as well. It was able to find tsconfig and angular cli webpack config.

What are these commands doing extra which is not covered by yarn install and yarn storybook? Do I need to

[2019-03-29 04:49] leoyli commented on #4169
I'm having a customized story loader that will generate stories on the fly..., it will also do something like `addon-smart-knobs`.  Not sure if this can be done in the core or reserve an option entry to run customized scripts?!

[2019-03-29 05:02] elliotdickison commented on #6337
That is good to know. It sounds like this is more likely an emotion issue. I'll close for now, thank you for the help!

[2019-03-29 05:02] #6337 closed

[2019-03-29 06:23] shilman commented on #6339
@robbertolierook What version of Storybook?

[2019-03-29 06:25] shilman commented on #6319
Hooray, glad you got it sorted! I'll update the docs to clarify this point about the default config. 👍

[2019-03-29 06:25] #6319 closed

[2019-03-29 06:35] ohelixa commented on #2716
Latest 5.0.5

On Fri, 29 Mar 2019 at 00:43, Michael Shilman <notifications@github.com>
wrote:

[2019-03-29 07:04] #6214 closed

[2019-03-29 07:10] shilman commented on #5872
Has anybody tried this with SB5?

[2019-03-29 07:15] sucat commented on #5872
@shilman
Yes, I did. The issue still persist on:
Webpack: `4.29.6`
Storybook: `5.0.5`

[2019-03-29 07:36] shilman commented on #6338
Hmm @codeNoobie. Those commands I ran are for building storybook and getting `angular-cli` to run with the freshly-built packages on your local machine.

I tried getting the `examples/angular-cli` working with the packages from NPM and it worked for me after a few tricks:

[code]

[2019-03-29 08:41] iernie commented on #6213
This seems to be fixed in `5.0.5`. Thanks!

[2019-03-29 08:41] #6213 closed

[2019-03-29 09:38] shilman commented on #5030
Here's a list of NPM download counts to help prioritize for the 5.1 release:

package | count
--- | ---
@storybook/components | 7827790
@storybook/addons | 7462926
@storybook/channels | 7325019
@storybook/client-logger | 6555723
@storybook/ui | 6213746
@storybook/node-logger | 6193581
@storybook/channel-postmessage | 6178465
@storybook/core | 5883110
@storybook/react | 5553373
@storybook/addon-act

[2019-03-29 10:01] shilman opened #6342 "Storybook Typescript preset"
We're rewriting Storybook in Typescript https://github.com/storybooks/storybook/issues/5030 which means we'll soon have native type support for every SB package. Let's also make it a one-liner to use Typescript with all of our supported view layers:
- [x] Typescript preset with sensible defaults
- [ ] Ensure that it works with every view layer
- [x] Add to CLI `sb init --story-format=csf-ts`
- [x]

[2019-03-29 10:41] kroeder opened #6343 "Resizing the browser to a small height breaks the UI permanently"
**Describe the bug**
Resizing the browser to a small height so the addons-area toolbar moves behind the preview toolbar destroys the UI permanently. The only way I found to get rid of this is to remove the preview toolbar manually in the DOM and then resize the addons-area back to a normal state

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://storybooks-official.netlify.com/?pa

[2019-03-29 13:16] casvil commented on #1225
overflow-x does not work. I'll propose a PR

[2019-03-29 13:40] DmMhs opened #6344 "Paths to components (imports) defined in 'stories/index.js' are not working after ejecting. CRA + Typescript."
**Describe the bug**
I've installed Storybook with 'npx storybook' command into my CRA with Typescript project. It worked OK, until I ejected it and changed webpack config to add .less styling support (nothing more). After that I've got an error inside of stories/index.js of type
`Module not found: Error:`
`Can't resolve '../relative/path/to/my/Component' in 'D:\project\name\pathToStories'`
Ejecti

[2019-03-29 13:49] DmMhs commented on #6344
I've tried to replicate an error in a 'clean' project with ejecting and I've got the same result.
[code]

[2019-03-29 14:23] DmMhs commented on #6344
**SOLVED**
If you faced the same issue try `npm i react-scripts` or `npm i react-scripts-ts`

[2019-03-29 14:23] #6344 closed

[2019-03-29 14:48] jsomsanith commented on #6256
Is it a reason tis issue is reopened ?
The fix is great, fixing the contrast on the button.

[2019-03-29 14:50] #6256 closed

[2019-03-29 15:24] iamjaredwalters commented on #6319
@kristian-puccio using that config results in the same error reported in this ticket initially 🤷🏼‍♂️

[2019-03-29 16:05] robbertolierook commented on #6339
It's storybook 5.0.5

[2019-03-29 16:57] pgoforth commented on #6326
In looking at the above libraries, they all use manual feature data updates and it could be dicey to create those kind of dependencies. Perhaps there is a way to implement something along the lines of:
https://github.com/una/caniuse-component

...as a separate panel that would display the features you are currently using (optionally features you specify as well) and load compatibility tables for t

[2019-03-29 17:58] liamross commented on #5974
@marcel-k  Yeah I'm noticing the same thing, except that for mine, there just isn't a **Prop Types** section at all. Hopefully this can be resolved as well. @Krustal @shilman

[2019-03-29 18:14] liamross opened #6345 "[Addon: info - v5.x] No Prop Types table if using React.forwardRef"
### Describe the bug

In version 5.0.x of the **info** addon, the **Prop Types** section is not appearing if the component is wrapped in `forwardRef`. This is in a **TypeScript** project.

<img width="728" alt="Screen Shot 2019-03-29 at 11 13 02 AM" src="https://user-images.githubusercontent.com/24969218/55253913-d0a76b80-5213-11e9-9a99-040156b46014.png">

### To Reproduce

1. Create any component

[2019-03-29 18:32] liamross commented on #6345
Maybe related to #3389 as well? Regression?

[2019-03-29 19:28] CodeByAlex commented on #6326
@pgoforth Thanks for the feedback! Just took a look into the caniuse-component and it looks interesting and is similar to what we want to do at the component level at the "CSS Property Name" level. Maybe we can take some tips about how they wrote their code but it looks like it depends on caniuse-api which depends on caniuse-lite. A lot of projects rely on caniuse-lite and it looks like caniuse-li

[2019-03-29 23:36] ndelangen commented on #4169
@leoyli that's something presets should be able to do.

[2019-03-30 00:27] RyanZhu1024 commented on #6306
@shilman thank you! Problem solved!!

[2019-03-30 00:27] #6306 closed

[2019-03-30 03:27] backbone87 commented on #4169
it should still be possible to use a storybook dir:
- it has just no special meaning
- the configuration can be set via cli option: `--config ./path/to/storybook.config.js` (filename optional, so `--config ./path/to` would be the same)
- entries can be referenced in parent dirs: `../src/**/*.stories.ts` (relative to config file)

theme configuration, automatically gets passed through `theme.create

[2019-03-30 12:23] #5968 closed

[2019-03-30 12:26] shilman commented on #5936
@churichard It should be fine, see: https://github.com/storybooks/storybook/pull/6341/files

@mt-roberto @churichard Should this be changed in the default Storybook webpack config?

[2019-03-30 13:57] kroeder opened #6349 "Remove hoist-non-react-statics as soon as react-redux works without an explicit dependency"
I needed to add hoist-non-react-statics in as dependency in `addon-a11y`, (https://github.com/storybooks/storybook/pull/6348#issuecomment-478246983) otherwise the build runs into the following error

`../../node_modules/@types/react-redux/index.d.ts(103,79): error TS2694: Namespace '"/tmp/storybook/node_modules/hoist-non-react-statics/index"' has no exported member 'NonReactStatics'.`

This depend

[2019-03-30 14:26] leoyli commented on #5030
I believe we later might want to come back to add more powerful type annotation with generic or conditional type into `@storybook/addon`.  The `MakeDecoratorResult` type is just an arbitrary function and may not really have typed something since it escaped by `any`...

Reason behind it is to provide intellisense into IDE.  The parameter `__here__` in `storiesOf().add(, __here__)` is highly associa

[2019-03-30 16:32] maciejmyslinski commented on #5391
It's still an issue in v5

[2019-03-30 16:48] maciejmyslinski opened #6351 "date knob returns a number, not a string"
**Describe the bug**
The documentation states:

Yet, when I pass its value to react component, I see this warning in the console

**To Reproduce**
Steps to reproduce the behavior:
1. Create a react component that takes a string prop.
2. Use `prop-types` to ensure a string type
3. Use `date` knob like this:
[code]

**Expected behavior**
I expect a value returned from `date` knob to be as documented

[2019-03-30 17:36] nnquangit commented on #5777
Storybook 5.0.5 not use babel in .storybook folder. All plugins like: storybook-readme, @storybook/addon-info will not detect **Component.__docgenInfo**. So propTypes always empty

[2019-03-30 21:47] langri-sha commented on #6251
Would appear I was actually missing some Storybook packages. After adding everything there was a small error for the preview build. This is the setup I have now that's working:

[code]

[2019-03-30 21:47] #6251 closed

[2019-03-30 23:21] CodeByAlex commented on #6326
@pgoforth, would you be interested in helping out with this addon?

[2019-03-31 00:30] omaracrystal commented on #5578
How would I import into Angular Storybook all of my global styles (scss) with several imports such as: Normalize, Base, Mixins, Variables, Thirdparty?

[2019-03-31 01:04] omaracrystal commented on #5648
Still looking for an answer on how to properly include global sass files into all iFrames within Storybook. Please let me know!

[2019-03-31 02:22] lednhatkhanh commented on #6147
Doesn't use any of those addons and still face the issue

[2019-03-31 04:21] shilman commented on #5891
Related https://github.com/storybooks/storybook/issues/5857

[2019-03-31 06:57] SleepWalker commented on #6255
Hey, looks like this issue is resolved now. I've just updated to the recent React version and everything looks fine again. Here is the dependency tree:

[code]

I think this issue was due to `emotion` package, which was updated to 10.0.10 recently (6 days ago), were this issue seems to be fixed.

[2019-03-31 09:59] kroeder commented on #6316
It should work out if the box. There was an issue a while ago that forced you to have a custom webpack Config but we could get rid of it in our project a while ago.

I can take a look at this.

[2019-03-31 10:26] #5520 closed

[2019-03-31 13:18] Armanio commented on #6351
Hmm, I think it's the error in docs: unixtime should be a number.
What you think about it? Maybe just fix docs?

[2019-03-31 14:17] TimoGlastra commented on #6335
I looked into this issue a bit. As you see in the `ThemeVars` interface below, `theme.color.lightest` is not a property you can set.

https://github.com/storybooks/storybook/blob/ed9bcff0d88da47c4f014ea78eb8fcb6458e5821/lib/theming/src/base.ts#L97-L131

The `color.lightest` is always `#FFFFFF` because the base theme definition is used for this attribute. I think there are two possible solutions he

[2019-03-31 16:33] vpicone commented on #6335
It seems like it should use the inverseText theme property or a new property all together.

[2019-03-31 17:19] Armanio commented on #6185
Hi guys! Sorry for my long absence. I create PR, check it. ⬆️

[2019-03-31 17:41] viridia opened #6356 "Can't find addons"
**Describe the bug**

I've gone through the basic instructions for setting up a Storybook app with TypeScript and React, and registered the "actions" addon as described. However, when I go the the page, the addons panel says "nothing found". I've tried this with several addons and I get the same result.

You can see a live demo of my site here: https://viridia.github.io/skyhook/storybook/index.htm

[2019-03-31 21:45] kristian-puccio commented on #6319
@iamjaredwalters I wonder if you're postcss config is working correctly?
Can you run it without issues using the postcss cli?

Also you could try changing the extension from css to something else so you can be sure that there is no interference with anything that picks up css files.

So for example I changed the extension of my css files to xcss then modified my webpack regex to also match that. T

[2019-03-31 21:55] aralroca commented on #5803
I guess it is related to global decorators. @tomekbuszewki have you already fixed it?

[2019-03-31 22:41] tomdohnal opened #6357 "Vue component as a function won't load without registering"
I tried to setup storybook for Vue according to the docs.

However, trying to render the component like this :arrow_down:
[code]
...didn't work out.

I had to manually register like this :arrow_down:
[code]

Is this the expected behavior or not? In the docs there is no such a thing as registering the component so it is kind of confusing to me. I'll be happy to update the docs if the problem is not

[2019-03-31 22:46] majames opened #6358 "Cryptic runtime error when used with NEXT.JS"
**Describe the bug**

A receive a runtime error and see the empty storybook state when attempting to use it with NEXT.JS. The `addItem` function in the vendor bundle is exceeding the call stack (some sort of inifinite loop?)

**To Reproduce**
Steps to reproduce the behavior:
1. Clone scaffold repo - https://github.com/majames/whatamidoing
2. `yarn` to install deps
3. `yarn storybook` to spin up st

[2019-03-31 23:29] MaximSagan opened #6359 "[Angular] Knobs do not update preview for class-specified components when changeDetectionStrategy is set to OnPush"
**Describe the bug**
When a component is class-specified, and that component has its change detection strategy set to OnPush (see "additional context" below), the user is unable to manipulate the component's inputs using the knobs add-on.

(I believe this issue is almost certainly due to angular/angular#14087, but I think there are ways we can work around it, such as manually triggering change det

[2019-04-01 01:21] shilman commented on #6358
Dupe to https://github.com/storybooks/storybook/issues/6128

Your repo works when I change `<Card/>` to `Card` in your stories.

[2019-04-01 01:21] #6358 closed

[2019-04-01 01:23] shilman commented on #6357
cc @backbone87

[2019-04-01 01:41] majames commented on #6358
Oh my bad 🤦‍♂️ ... thanks @shilman!

[2019-04-01 02:04] shilman commented on #6128
Just got a dupe to this. @Armanio what's a better long-term solution?

[2019-04-01 02:08] shilman commented on #6358
@majames No worries - we need a better fix on our side! I'm just glad it wasn't a new bug 😆

[2019-04-01 02:25] benjamind commented on #5932
This appears to be due to the options check on the actions stored in the actions panel. The default/global config is not being copied into each action, but the check is being done against the first action in the log. You can currently work around this by setting the config options on every action you log to have the `clearOnStoryChange: true` option, then the log will properly clear.

[2019-04-01 04:26] #5461 closed

[2019-04-01 04:50] shilman commented on #5959
Yee-haw!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.6 containing PR #6297 that references this issue. Upgrade today to try it out!

[2019-04-01 04:50] shilman commented on #6210
Olé!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.6 containing PR #6290 that references this issue. Upgrade today to try it out!

[2019-04-01 04:50] shilman commented on #5256
Great Caesar's ghost!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.6 containing PR #6232 that references this issue. Upgrade today to try it out!

[2019-04-01 04:50] shilman commented on #5974
Whoopee!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.6 containing PR #6222 that references this issue. Upgrade today to try it out!

[2019-04-01 04:50] shilman commented on #6004
Yowza!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.6 containing PR #6240 that references this issue. Upgrade today to try it out!

[2019-04-01 04:50] shilman commented on #6256
ZOMG!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.6 containing PR #6301 that references this issue. Upgrade today to try it out!

[2019-04-01 04:50] shilman commented on #6261
Jiminy cricket!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.6 containing PR #6267 that references this issue. Upgrade today to try it out!

[2019-04-01 05:08] MaximSagan commented on #4378
Having the same issue (`Failed to get angular-cli webpack config.`) in the latest Storybook with the latest @angular-devkit/build-angular. Will try to look into this when I have a chance.

[2019-04-01 06:12] leifoolsen commented on #6319
Thank you all for helpful comments. I will try the suggestions that have come in this thread and make a feedback.

[2019-04-01 06:28] ohelixa commented on #6285
Any news on this ?

[2019-04-01 07:43] Armanio commented on #6128
Sorry, guys. Honestly, I forgot about this issue. Today I'll try find better solution.

[2019-04-01 07:47] leifoolsen commented on #6319
I have filtered out the CSS rules, as suggested, but I'm still facing the same errors as before.
If I remove the exclusion of babel-loader, my project starts without any issues, but the I think I'm facing this issue: [exports is not defined](https://github.com/storybooks/storybook/issues/3346)

Added:
[code]
Removed:
[code]

[2019-04-01 07:51] #6311 closed

[2019-04-01 08:45] eugenio4 opened #6362 "An error ocurred while installing dependencies"
**Describe the bug**
The following error occurred when install Storybook for angular.

npm ERR! code ETARGET
npm ERR! notarget No matching version found for @babel/plugin-proposal-unicode-property-regex@^7.4.0
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as

[2019-04-01 08:54] shilman commented on #6311
@VladimirHumeniuk did you figure it out?

[2019-04-01 08:58] shilman commented on #6362
This looks like an NPM issue. Can you try again?

[code]

[2019-04-01 09:03] eugenio4 commented on #6362
Sorry, is a problem of my internal registry.

This issue can be closed.

Thanks

[2019-04-01 09:03] #6362 closed

[2019-04-01 09:16] leifoolsen commented on #6319
@kristian-puccio My postcss.config.js seems to work. This command:
`npx postcss --config ./postcss.config.js ./packages/**/src/*.css  --base ./packages --dir ./out --verbose`
produces the expected CSS.

[2019-04-01 09:21] VladimirHumeniuk commented on #6311
@shilman no, we just abandoned the idea of using the 5.*.* versions.

[2019-04-01 09:50] shilman commented on #6311
That's a shame. Can you paste your package.json deps?

[2019-04-01 09:54] backbone87 commented on #6357
yes this is expected behavior. nothing is done automagically in regards to component registration. so you need to make sure the component is available just like when you do normal components. the `() => string` overload is just a shortcut for `() => ({ template: string })` so this component only knows about globally registered components.

[2019-04-01 10:43] caioincau commented on #6312
Thanks @backbone87 I moved the config to an inline one and it worked.

[2019-04-01 11:07] VladimirHumeniuk commented on #6311
@shilman

[code]

[2019-04-01 13:06] pgoforth commented on #6326
@CodeByAlex
This is something that I could work on, although I think it's going to be a long running project unless the scope is limited. Analyzing the Javascript itself is a particularly tedious task. Based on my limited understanding of the Storybook addon structure, the story is fed through the addon at runtime. How would you determine what features were being used by the story at runtime? Dete

[2019-04-01 13:19] tnatanael commented on #5648
Same here

[2019-04-01 14:05] CodeByAlex commented on #6326
@pgoforth Thanks for getting on board for this addon. I agree that the initial scope has to be limited. I think that hardcoded caniuse options is an interesting approach for this addon but those options would have to be changed whenever the component is updated and really doesn't test the components capabilities which is the goal I'm aiming for.

What I'm thinking is that we can run analysis on th

[2019-04-01 14:26] leoyli commented on #6326
To get thing clear, is the current direction focused on CSS compatibility only?!  That is how I see this can take a similar approach from a11y.

Also, I would suggest we start from React as the baseline since the main SB App is based on it. And to make things easier later, I think we should take TypeScript from the ground up. Based on my experience on [addon-contexts](https://github.com/leoyli/add

[2019-04-01 14:31] CodeByAlex commented on #6326
@leoyli I think the end goal would be to test css, javascript, and html. We have to start somewhere though and Im thinking CSS could be a good place to start.

I totally agree that we should start by using typescript. Not sure that we have to start by focusing on React. Seems like an implementation to check the dom would be framework agnostic. May get more tricky when we get into checking JavaScri

[2019-04-01 14:49] leoyli commented on #6326
The main reason for building from React is due to the need of communicating between the SB manager (panel/toolbar/view-mode, etc) and the story decorator.  A story decorator is nothing but a parent component of a story, so it have to align with its underlying story rendered with its framework of choice.

I believe we will need to choose a framework for prototyping, then React is a reasonable choic

[2019-04-01 14:58] CodeByAlex commented on #6326
Thanks, @leoyli  for the insight! I guess Ill have to look into making sure we can get all of those types of styling from a single element. I guess I was thinking we could solve this by doing something like this: **https://zellwk.com/blog/css-values-in-js/**

[2019-04-01 15:07] davidolivefarga commented on #3855
I completely agree with @IanVS, I love storybook but I really miss the ability to update knobs via actions. In my case, I have two individual components A and B but in one of my stories I want to show a composition using both of them, so that whenever I change A I emit an action that would modify B and viceversa.

I tried @erickwilder's hack with my setup (Angular 7), but whenever I try to update

[2019-04-01 15:17] flav0061 opened #6363 "Storybook .eslintrc"
Hi,
i'm trying to setup a vue storybook with eslint, i believe the problem is related with storybook, because i'm reusing the same components in a different vue project without storybook and i'm getting linter errors in that project as expected. After reading all the documentation i found a possible solution where someone was using `eslint-loader` but i couldn't make it work. Is there someone with

[2019-04-01 16:20] trippingtarballs commented on #6185
Not sure if this fix has worked. I'm using `v5.0.6` and having the same issue.

[2019-04-01 16:44] orpheus commented on #5721
Could you provide a snippet of this please?

[2019-04-01 16:56] shilman commented on #6185
@trippingtarballs the change hasn't been released yet

[2019-04-01 17:18] omaracrystal opened #6364 "How do I include global styles (scss) once for all Storybook iframes?"
**Describe the bug**
I have been trying multiple ways of incorporating global styles (scss) once for all Storybook Iframes and have been unsuccessful. There doesn't seem to be a clear concise way to do this.

**To Reproduce**
Attempts:
1. - Import the global styles within each component.
    - Results: Styles are applied, but, multiple global.scss styles is repeated {story#} x times.

2. - Followe

[2019-04-01 17:45] worc commented on #5926
downgrading to @storybook/react 4.1.16 fixes the svg and `Unexpected keyword 'var'` error. but reintroduces the `Can't resolve 'fs' in babel-plugin-require-context-hook` bug

[2019-04-01 19:13] backbone87 commented on #6312
ok, gonna close this.

@Kailaash-Balachandran if you still have problems please open a new issue

[2019-04-01 19:13] #6312 closed

[2019-04-01 19:33] albertjke commented on #5684
Hey @codestitch, sorry to bother you - I'm having the same issue, but it's not super clear to me how you ended up resolving it. Did you find a way to resolve this error?

[2019-04-01 19:42] tyler-johnson opened #6365 "Error "Maximum call stack size exceeded" with circular objects in actions"
**Describe the bug**
When an action is fired (using addon-action) that contains a circular object (ie an object that refers to itself), an error is logged which comes from the dependency `fast-deep-equal`. This results in the action never being logged.

Error in Chrome: `RangeError: Maximum call stack size exceeded`
Error in Firefox: `InternalError: "too much recursion"`

**To Reproduce**
Run the

[2019-04-01 19:53] Armanio commented on #6365
Hi, Tyler!
Just update you SB to [5.0.6](https://github.com/storybooks/storybook/releases/tag/v5.0.6). It already fixed.
Let me know if your problem still remains.

[2019-04-01 20:15] meebix commented on #4248
I am having intermittent issues on v4.1.6 across the board.

[code]

Something strange going on with a race condition or similar with styling in the main Storybook UI.

[2019-04-01 20:53] metasean opened #6366 "v5.1.x change breaks Boolean knob"
**Describe the bug**
[Changing `value` to `value: value || ''` in addons/knobs/src/components/PropForm.js](https://github.com/storybooks/storybook/commit/c1f8ec90d804be765a4450313136ff803fe4006e#diff-8ec888992c85289adbfe8de770998b3c) (introduced with bug fix #6043 😞 ) causes boolean knobs to return an empty string when toggled from `true`, which itself causes the error:
[code]

**To Reproduce**
St

[2019-04-01 20:59] ryanrombough commented on #6311
I had this same issue. It was because I was still trying to import `action` from `@storybook/react`. It is now imported from `@storybook/addon-actions`. So I had to update:

[code]

to

[code]

in all of my `.stories.js` files

[2019-04-01 21:09] metasean commented on #6366
Using the following instead addresses the _known situations_, however I haven't tested it against all knob types, and _ideally_ there will be tests in any pull request for this fix.

_possible fix_: `value: value === true ? false : value || '',`

[2019-04-01 22:01] tomdohnal commented on #6357
Shall I then make a PR to the docs? And include this `Vue.component('my-button', MyButton)` in the example usage?

[2019-04-01 22:21] kristian-puccio commented on #6319
@leifoolsen sounds like your issue is with js code then rather than the css. You could try a couple of things first would be to get a webpack config working outside storybook to make sure your babel config is correct.

Once you have that working you could try filtering out the js rule in the storybook webpack config and replacing it with the one in your working config

[2019-04-01 22:27] CrashyBang opened #6367 "Error with Storyshots, Jest and Canvas"
I am not sure if this bug lies within the realm of storybooks/storyshots itself, and it may actually need to be transferred to another project altogether, looking for some guidance as to where this belongs.

**EDIT** Links to outputs do not work (seems to be an issue with GitHub issues) so you will need to scroll down.

**Describe the bug**
I am trying to use the `@storybook/addon-storyshots` (`^5

[2019-04-01 22:38] backbone87 commented on #6357
ofc, go ahead

[2019-04-01 22:46] kroeder commented on #6364
Try adding your global.scss File into `angular.json`

Check your defaultProject (there's a defaultProject property inside the json) and add it to the styles list
[code]

I do it that way and it works just fine. Is that an option for you?

[2019-04-01 23:20] tyler-johnson commented on #6365
Wow, I'm sorry for wasting your time. I saw the notification that a new version was available after I submitted this issue and I thought to myself, "oh maybe it was fixed". And what do you know it is.

Thank you!

[2019-04-01 23:20] #6365 closed

[2019-04-02 01:33] CrashyBang commented on #3917
Hey @rwieruch,

Did you ever get this working? Trying to implement at the moment and not having a lot of luck.

Cheers,
Otis.

[2019-04-02 05:55] jasperdunn commented on #6147
I'm also getting this issue

using in config.js
[code]

[2019-04-02 05:59] rwieruch commented on #3917
Nope @CrashyBang Unfortunately not. I would have expected it to be the default at some point :)

[2019-04-02 06:21] leifoolsen commented on #6319
@kristian-puccio Tanks. I'll try that. I already have a separate Webpack for this project, so I can investigate further.
BTW: As I menioned earlier, I use the same webpack config for Storybook-4.1.14 - the only difference is the module.exports line: `module.exports = async (config) => ....`

[2019-04-02 08:03] jessy1092 commented on #6204
I upgrade storybook version to 5.0.6 and it solved this problem.

[2019-04-02 08:09] VladimirHumeniuk commented on #6311
@ryanrombough will try to do this, thanks in advance

[2019-04-02 08:26] shilman commented on #6204
@jessy1092 Great to hear it. I'm closing this for now. If anybody runs into this problem again I'll reopen.

[2019-04-02 08:33] shilman commented on #6039
@EnixCoda AFAIK there is no such addon. Perhaps you're looking for this one?

https://github.com/vertexbz/storybook-addon-react-live-edit#readme

[2019-04-02 08:33] #6039 closed

[2019-04-02 08:42] christophehurpeau commented on #6204
Hello,
It doesn't seems to work for me, even with storybook 5.1.0-alpha.18

Here a reproducible repo: https://github.com/christophehurpeau/cra-rest-hooks-storybook

[code]

I hope this helps

[2019-04-02 08:44] VladimirHumeniuk commented on #6311
Tried everything from the scratch on 5.0.6, same errors::
![image](https://user-images.githubusercontent.com/20288162/55388792-2e99c300-5534-11e9-899f-d98eb4cdb1a8.png)

[2019-04-02 08:44] EnixCoda commented on #6039
Hi @shilman

Code of `addon-liveedit` was available in this repo (under the `/addons`) when this issue was drafted. Maybe it has been removed recently (finally deprecated?).

Thank you anyway.

[2019-04-02 09:05] shilman commented on #6319
@leifoolsen Here's the difference between the two versions:

**v4:** `module.exports = async (baseConfig, mode, defaultConfig) => ...`

**v5:** `module.exports = async ({ config, mode }) => ...`

Looks similar, but actually different. v5's `config` in the second line is actually equivalent to v4's `defaultConfig`. In v4 you were extending `baseConfig` (tho you called it config), but there is no v5

[2019-04-02 09:09] shilman commented on #6204
@christophehurpeau Any chance you can try out `5.0.6` for me? Re-opening this. 😭

[2019-04-02 09:11] shilman commented on #6311
@VladimirHumeniuk Do you happen to have a reproduction I can look at?

[2019-04-02 10:55] apurvaojas opened #6381 "Unexpected Token async function"
**Describe the bug**
Upgrading strorybook@3 to latest version gives the following error
Bug in @storybook\core\dist\server\build-static.js:31

`async function  Unexpected Token`

As i am using node 6.9.1 and async support is from node version 7.4
So its node compilation error.

**Expected behavior**
package.json should have "engines"
https://docs.npmjs.com/files/package.json#engines

[2019-04-02 11:15] rezaabedian commented on #5878
I have tried multiple different ways to try and load an svg as a logo but no luck.

This is what I have tried:

**config.js**

[code]

and no luck. I have also added `width="100" height="40"` to my svg.

The result is I still see the Storybook logo being loaded in.

There seems to be some confusion as to whether this **brandImage** variable is a URL to an svg, or a URL to a png, or an import of an

[2019-04-02 11:20] lumio commented on #6204
I'm gonna look into that again today or tomorrow.

Weirdly enough I don't get a warning about core-js with 5.0.5 any longer, but a deprecation warning instead with the extend-mode (fair enough). I'll test it again after I fixed that. :)

[2019-04-02 12:27] cellog commented on #5882
This is still an issue with the latest everything.

[2019-04-02 12:43] favri commented on #6262
Any news?

[2019-04-02 12:51] kimamula commented on #2531
I came across the error `storyshots is intended only to be used with storybook` which took several hours for me to find the solution (setting `framework`).
I wish the error message would have been much more helpful and informative.

[2019-04-02 13:20] artursvonda commented on #6204
I still came across the same issue while using core-js@v3 in my main project. The solution was to make sure in webpack config, that `core-js/modules` is resolve to the version bundled with storybook
[code]
Hacky solution but should be good enough for now.

[2019-04-02 13:22] shilman commented on #5878
@rezaabedian `brandImage` should be a URL

[2019-04-02 13:24] christophehurpeau commented on #6204
@shilman also tried 5.0.6, same result (https://github.com/christophehurpeau/cra-rest-hooks-storybook/tree/storybook-5.0.6)

[2019-04-02 13:24] #5875 closed

[2019-04-02 13:35] christophehurpeau commented on #6204
@artursvonda I'm not using core-js v3, a dependency uses it. I don't have `node_modules/@storybook/core/node_modules/core-js` because v2 is the one used by both react-scripts and @storybook/core, deduped in node_modules. Only the dependency using core-js 3 doesnt find core-js

[2019-04-02 13:36] christophehurpeau commented on #6204
ah so it works when I delete the alias:

[code]

[2019-04-02 14:11] #5319 closed

[2019-04-02 15:12] vsubbotskyy commented on #5455
Thanks for following it up, I was making the same mistake

[2019-04-02 16:07] ntucker commented on #6204
wow. aliases are scary. why is storybook using them?

[2019-04-02 16:45] kroeder commented on #6316
Could you please provide a reproduction repository? There are lot of things that could cause this

[2019-04-02 17:18] jmcpeak opened #6386 "When running storybook in static model - main page nested inside itself"
**Describe the bug**
When I just run storybook, it runs just fine:
start-storybook -s public -p 9009

When I build storybook as a static app:
build-storybook -s public
serve -s storybook-static -p 4000

I get no errors, it works - but each entry is nested inside itself. (See attached image.)

**To Reproduce**
Steps to reproduce the behavior:
(See above)

**Expected behavior**
build-storybook works

[2019-04-02 17:20] tarikhamilton opened #6387 "Multiple Storybooks configs (multi framework) in same repo not working"
This is a weird one. I've figured out a workaround, but this is different behavior than SB4.

**Describe the bug**
I have `@storybook/html`, `@storybook/react`, and `@storybook/vue` installed and they use their own config files that I point to.

**To Reproduce**

Here are my npm scripts
[code]

When I run `storybook:react`, in termial,  I get this:

[code]

**Expected behavior**
I would expect `@s

[2019-04-02 17:56] mbifulco commented on #6255
Chiming in to say that `react@16.8.6` does indeed seem to work for me, but I had to delete `node_modules` and `yarn.lock` and then run `yarn` to get everything working again. 🎉

[2019-04-02 18:53] jmcpeak commented on #6386
I'm an idiot

[2019-04-02 18:53] #6386 closed

[2019-04-02 19:05] mbifulco opened #6389 "Add ability to change camelCase option for CSS modules"
(I think this is a feature request - it may just be a bug, or a small cry for help 😉)

**Is your feature request related to a problem? Please describe.**
Hi there - I'm building a storybook and Gatsby front end for [thegymnasium.com](https://thegymnasium.com).  Our goal is to use storybook to prototype new UI enhancements which will get promoted into a gatsby front end once they're tested and read

[2019-04-02 20:32] trevordmiller opened #6391 "Improve performance for larger storybooks"
First off, thanks for such a fantastic tool! Our company loves storybook and uses it in hundreds of projects.

**Is your feature request related to a problem? Please describe.**

Building a storybook with many stories currently leads to webpack performance warnings:

"asset size limit: The following asset(s) exceed the recommended size limit (244 KiB)"

![image](https://user-images.githubuserconte

[2019-04-02 21:01] lhguerra commented on #6109
I don't think this issue should be closed since the Readme is still wrong and causing confusion.

[2019-04-02 21:16] lhguerra opened #6392 "Viewport addon not working as expected"
**Describe the bug**
After registering the addon it's icon shows up in the storybook window but the behavior is odd. Whenever I try to chose a viewport I end up with the same thing.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the addon `yarn add -D @storybook/addon-viewport`
2. Register it in `addons.js`
[code]
3. Create a story:
[code]
4. Run storybook

**Expected behavior**
The

[2019-04-02 23:30] MaximSagan commented on #6359
Solved by #6360

[2019-04-02 23:30] #6359 closed

[2019-04-02 23:31] o-alexandrov commented on #3855
@davidolivefarga temporary solution from @erickwilder should work for any framework as it is not related to the framework/library (react, angular, vue, anything else) but to the rerendering of the Knobs addon.

Worked for us using React the same way as mentioned [above](https://github.com/storybooks/storybook/issues/3855#issuecomment-476149416)

+1 to add a publicly visible method to trigger, pass

[2019-04-02 23:58] bmarti44 commented on #5488
This `.storybook/tsconfig.json` worked for me

[code]

The important bits seem to be the `types` and `typeRoots`, and making sure you exclude all your tests.

[2019-04-02 23:59] kaiwen-zhang-ck commented on #5377
what a hack. is there official issue to change this? why is default black?

[2019-04-03 00:48] OKNoah commented on #709
Dead link btw

[2019-04-03 00:58] ckeeney commented on #6255
I encountered a similar issue when upgrading from `react@16.8.5` to `react@16.8.6`.

I upgraded using `yarn upgrade-interactive --latest`.

After upgrading, running storybook errored out:

[code]
I checked my `yarn.lock` to see how `react` had resolved, and it... resolved twice?

[code]

Deleting `yarn.lock` and re-running `yarn` fixed my corrupt `yarn.lock` and storybook works again.

[2019-04-03 01:11] shilman commented on #5377
This has been fixed in https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.19
by https://github.com/storybooks/storybook/pull/6315

[2019-04-03 01:11] #5377 closed

[2019-04-03 01:18] shilman commented on #6392
Have you taken a look at our example? Does this work as expected on your machine/browser?

https://storybooks-official.netlify.com/?path=/story/ui-panel--default

[2019-04-03 01:19] shilman commented on #6109
@lhguerra Mind taking a pass at updating the README and create a small PR?

[2019-04-03 01:23] shilman commented on #6386
Inception! What was the fix?

[2019-04-03 02:38] jmcpeak commented on #6386
For my npm script command to run the storybook server I had:

"storybook-serve": "serve -s storybook-static -p 4000"

The "-s" arg got accidentally copied over from the "-s" option to specify the public folder for "build-storybook -s public"

The "-s" option for serve is "Rewrite all not-found requests to `index.html`"

Hence the "inception"...

[2019-04-03 02:41] shilman commented on #6387
Hi @tarikhamilton I'm not sure how this actually would've worked in 4.x -- I wouldn't expect it to. Your workaround looks good to me and is what I would do. I'll leave this open in case somebody else wants to chime in, since it's possible that something broke in the v5 release.

[2019-04-03 03:00] shilman commented on #6204
cc @ndelangen

[2019-04-03 03:51] BudgieInWA commented on #3329
#6323 introduces a "manager only" mode, with `storybook --preview-url=http://localhost:3000`, that loads everything except the stories. It seems like a Meteor Test Driver Package that loads the stories (like mocha loads tests) and uses the storybook API to serve the story previews on `localhost:3000` would be a good solution. We can let meteor build our source but still configure and run the real

[2019-04-03 04:40] tmeasday commented on #3329
That's a cool idea @BudgieInWA!

Another option is building on https://github.com/storybooks/storybook/pull/6382 to allow the stories to be served off a subpath, and then doing something like:

[code]

[2019-04-03 07:19] eric-burel commented on #3329
For reference we have very experimental but working solution in Vulcan (https://github.com/VulcanJS/Vulcan-Starter/pull/122).

It is similar to the solution proposed by @Batistleman (though less advanced concerning the scraping), it simply mocks Meteor as much as possible and scraps out unmocked Meteor packages imports.
As expected calls to Meteor packages/globals will fail at runtime (or be repla

[2019-04-03 07:23] shilman commented on #6386
One of the cooler bugs I've seen 👌

[2019-04-03 07:48] gka opened #6394 "Ability to link from one (Markdown) note to another"
**Is your feature request related to a problem? Please describe.**
I am using the [notes addon](https://github.com/storybooks/storybook/tree/next/addons/notes) and I would like to be able to link from one note to another, without having to refresh the entire storybook.

**Describe the solution you'd like**
I think it would be nice if I could just use Markdown links, maybe with a special syntax lik

[2019-04-03 07:55] natterstefan commented on #6156
Hi @leoyli, I have the same issue right now. We are also using `serve` for the static bundled build of our stories. Can you tell me what you mean with "when you open it directly in the local file system"?

[2019-04-03 08:45] andreeasimona opened #6396 "PropsTable console warning after update to 5.0.6"
**Describe the bug**
After an update from storybook 4.0.7 to 5.0.6, an error appears in the console. I followed the migration instruction from [here](https://github.com/storybooks/storybook/blob/next/MIGRATION.md). Everything works well and the error does not seem to affect anything in the stories and the adds-on.

**Screenshots**
<img width="593" alt="Screenshot 2019-04-03 at 10 21 44" src="https

[2019-04-03 09:10] Pixelatex commented on #5878
I'm loading an svg file from my directory.

This is converted to a base64 string and prefixed with `data:image/svg+xml;base64,`. It doesn't show... because the image component doesn't have any size of itself. Manually adding width/height to 100% shows the logo as intended.

[2019-04-03 09:20] Lelith commented on #6311
i also experience the same issue after trying to upgrade from 4 to 5 but i already use `@storybook/addon-actions` so  no solution for me
![image](https://user-images.githubusercontent.com/1789174/55467889-7be46600-5602-11e9-83d6-a48c592f44e4.png)

[2019-04-03 09:21] tmeasday commented on #3329
@eric-burel yes there are kind of two sides we can approach the "meteor/vulcan in storybook" problem and getting your Vulcan components running in a Meteor-agnostic way (via mocking or better yet never importing from the `meteor/` namespace at all) is sort of the "better" way as it would mean you can also use them in a variety of other tools without Meteor.

However, I realise that's a challenge;

[2019-04-03 09:30] rezaabedian commented on #5878
@shilman thank you for getting back to me, I will try that.

@Pixelatex could you provide a sample of how you do that? I'd like to do something similar!

[2019-04-03 10:43] Pixelatex commented on #5878
[code]
Then just use the converted logo. This works in a theme file but without height/width added on the img element, you won't see it :/

[2019-04-03 10:45] JulienPradet opened #6399 "Addons compilation configuration"
Hi! First of all, thanks for the awesome work you are doing y'all!

**Is your feature request related to a problem?**
I've stumbled into two issues while creating custom addons for our Storybook:
- There are several webpack aliases and a custom webpack resolver plugin in our webpack configuration but they are not applied to the custom addons
- Once my project is used as a npm dependency, JSX trans

[2019-04-03 12:28] angelozehr commented on #4796
Has anyone found out what caused the problem in the first place? I am running on the latest versions and still encounter this error

[2019-04-03 12:40] jenko3000 opened #6400 "Question - 'all' equivalent"
I used the 'All' panel as a way to see and play around with all the states at once (it was my go-to view in fact) but it seems it's been removed or replaced.

AFAIK knobs can only be in one group at a time, so how can I access more than one knob group at the same time now?

[2019-04-03 13:19] shilman commented on #6399
Hi @JulienPradet, this is the issue you're looking for and there's a workaround described there:

https://github.com/storybooks/storybook/issues/4995

@ndelangen is working on a cleaner way of doing things for a future version of Storybook (5.2?) but in the meantime the workaround is fully supported.

Closing this as a dupe, please comment there if you have any problems getting things working 👍

[2019-04-03 13:19] #6399 closed

[2019-04-03 13:23] shilman commented on #6400
There was a panel called "all" that showed the ungrouped knobs, so I changed the name to "other" to reflect that. Did it used to show all the knobs in an older version of Storybook?

[2019-04-03 13:31] jenko3000 commented on #6400
Yes, it did. All of them (both ungrouped and grouped) together...

[2019-04-03 13:41] shilman commented on #6311
@Lelith Try removing "addon-info"?

[2019-04-03 13:44] shilman commented on #4796
@angelozehr the original problem was caused by a dependency on react 16.3+ that was introduced in storybook 4.0 due to emotion. Users trying to run older react projects in 4.0 ran into this error. However, in SB4.1 we split the "manager" (UI) and "preview" (user components) into two separate processes so that it was possible to use SB4.1 with older versions of React. Now in 5.0 it appears that the

[2019-04-03 13:47] tomekbuszewski commented on #5803
@aralroca Yes, I did, thanks for asking. Actually it was related to using ts-jest. Without it, everything is going well.

[2019-04-03 13:47] shilman commented on #6400
I see. In that case, perhaps I merely covered over a 5.0 bug. 😢

I'm open to PRs to restore the "all" tab in 5.1

[2019-04-03 13:49] jenko3000 commented on #6400
As it was called 'All' and it showed all, it's definitely one of those feature not a bug cases ;-)

[2019-04-03 13:49] KamiShikkaku commented on #5542
I have created a PR (#6346) for this. As has been discussed, the issue is that when Storybook sees a component specified in the form `component: MyComponent` it assumes that the component requires declaration, and hence we get the "MyComponent is part of the declarations of 2 modules" when it's already been declared in an imported module (generally its feature module).

To solve this, I simply add

[2019-04-03 13:52] MaximSagan commented on #5542
I have created a PR (#6346) for this. As has been discussed, the issue is that when Storybook sees a component specified in the form "component: MyComponent" it assumes that the component requires declaration, and hence we get the "MyComponent is part of the declarations of 2 modules" when it's already been declared in an imported module (generally it's feature module).

To solve this, I simply ad

[2019-04-03 13:55] shilman commented on #6396
I think this might be a `storybook-addon-react-docgen` issue. We also have a `PropTable` in `@storybook/addon-info`, but it doesn't look like you're using that.

[2019-04-03 14:10] lhguerra commented on #6109
@shilman not at all. Will do it tonight.

[2019-04-03 14:12] lhguerra commented on #6392
Yes it does. I cloned the repo and will test the example to see if I find any difference between my setup and what the example does.

[2019-04-03 14:20] CodeByAlex commented on #6392
@shilman, I'm definitely seeing an issue similar to this in next. Example can be found here: https://next--storybooks-vue.netlify.com/?path=/story/welcome--welcome
![image](https://user-images.githubusercontent.com/29763590/55486291-0d9ba580-55fa-11e9-88ef-6edae749373c.png)

[2019-04-03 14:28] mortal94 opened #6402 "URL - in v5 old url structure is not working"
**Describe the bug**
When using the old URL structure of storybook v4 in storybook v5 it'll select the story in the sidebar (stories tree) and also will change the url to the new structure of v5, but the story view will not show the selected story and will show an error of "No preview".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the link below (offical storybook site with old stru

[2019-04-03 15:02] bufke commented on #5814
@codeNoobie I had this error until I used

[code]

Versions have to be exact, seems like any mismatch results in the failed to get webpack config error.

[2019-04-03 15:27] shilman commented on #6392
It looks like this is a problem in `next` but not `master`. Perhaps it was introduced in https://github.com/storybooks/storybook/pull/6045

@lucas-carl mind taking a look at this?

[2019-04-03 15:52] vkrol commented on #5817
I agree with @mAAdhaTTah that this will be the right solution. It is wrong to hope that a package manager will hoist the dependency.

[2019-04-03 16:30] sergiotapia opened #6404 "Upgraded from 5.0.1 to 5.0.6, storybook no longer building because of missing loaders for .otf files."
Will post more info as I find it.

[code]

[2019-04-03 16:32] leoyli commented on #6156
Just open the file directly from the OS folder instead of have a local server serving files from localhost.

I'm not really sure what was going on but I can not always reproduce this problem... If @natterstefan have a reproducible steps then it may worth to reopen this issue.

[2019-04-03 16:37] sergiotapia commented on #6404
To fix, I had to add the `file-loader` loader to my `webpack.config`:

[code]

[2019-04-03 20:02] MarcoDeJong commented on #6117
I've been searching for days. This fix is validated and working.

[2019-04-03 20:08] kevinSuttle commented on #6327
The demo here seems to be _mostly_ alphabetical. https://storybooks-official.netlify.com/

Anyone know where the source for the storybook-react demo is?

[2019-04-03 20:52] MrHen opened #6407 "NODE_PATH does not work with isBabelLoader8"
**Describe the bug**

I have a docker set up to install `node_modules` somewhere completely unrelated to my source folder. If I set `NODE_PATH='../../../modules/node_modules'` before starting storybook I get an error similar to the following:

[code]

I think I've tracked down the problem to here: https://github.com/storybooks/storybook/blob/master/lib/core/src/server/utils/load-custom-babel-confi

[2019-04-03 21:15] yuanstanley opened #6408 "Javascript heap out of memory when doing build-storybook"
**Describe the bug**
When trying to do build-storybook it gets to 92% and then fails with the following out of memory error:

[code]

The entirety of my source code is less than 1 MB so not sure why I would be OOM.

**To Reproduce**
Steps to reproduce the behavior:

Run `yarn build-storybook`

**Expected behavior**
The build shouldn't fail.

**Screenshots**
If applicable, add screenshots to help e

[2019-04-03 21:27] rowellx68 commented on #2226
Is Aurelia support still in the pipeline?

Some documentation as to how to add support for new front-end frameworks would be great.

[2019-04-03 22:18] CrashyBang commented on #3917
Hey @rwieruch,

I kept playing with this and was able to get something like what you want with this:

[code]

[2019-04-03 22:46] snowystinger opened #6409 "Addon Actions should be able to use options: depth"
**Describe the bug**
When using `action('click')` and passing an actual event object through, the JSON stringify takes about 200ms. `action` claims to take an object that includes `depth` that should limit how far down the object is stringified. Instead, it is always ignored and 15 is used. This is making our storybook representations of our components appear very sluggish.
https://www.npmjs.com/p

[2019-04-03 23:04] yuanstanley commented on #6408
This issue ended up being resolved when I upgraded to the latest storybook version, 5.0.6.

[2019-04-04 00:08] tomhuze commented on #3758
Still not working as of v5.0.5.

[2019-04-04 01:03] spiltcoffee commented on #6339
@robbertolierook: Here's a workaround I found for this for now
* Put this into your `manager-head.html` file:
[code]

(MutationObservers have pretty good browser support, so this should work fairly well: https://caniuse.com/#search=mutationobserver)

[2019-04-04 04:09] Cheebang opened #6413 "Custom addon not included in bundle after running build-storybook"
### Bug or support request summary

My custom addon is not being included in the JS bundle after running `build-storybook -c .storybook`. No errors are thrown when running build-storybook. However, I am seeing the addon on the page and in the Javascript when I run `start-storybook`.

The result of this is that my custom addon is not displayed in my static storybook build.

### Steps to reproduce

[2019-04-04 07:16] Navdisenyo commented on #3937
How to fix this file?
 package.json

{
  "name": "mstore",
  "description": "MStore Pro - Complete React Native template for e-commerce",
  "author": "InpireUI",
  "version": "3.6.0",
  "private": true,
  "main": "node_modules/expo/AppEntry.js",
  "scripts": {
    "setup": "./scripts/setup.sh",
    "start": "expo start",
    "android": "expo start --android",
    "ios": "expo start --ios",
    "ej

[2019-04-04 07:34] supadupdip opened #6414 "Middleware error : Missing 'target' option http-proxy-middleware"
**Describe the bug**
After upgrading from 4.0.2 to 5.0.6 I am unable to start up storybook and am getting an error for a Missing 'target' option for a middleware configuration.

**To Reproduce**
Steps to reproduce the behavior:
running `yarn start-storybook -c .storybook`

**Expected behavior**
Should build and open browser

**Code snippets**
[code]

**Additional context**
Using custom webpack con

[2019-04-04 08:09] rwieruch commented on #3917
Oh perfect! I will definitely check it out 👍

[2019-04-04 09:25] Stefanwullems opened #6416 "required semicolons or commas for interfaces in stories"
When defining an interface in a story, the build fails if the properties are not separated by either semicolons or commas. In normal files this works just fine.

[2019-04-04 09:42] rwieruch commented on #5827
Not working in 5.0.6.

![Screen Shot 2019-04-04 at 11 42 26](https://user-images.githubusercontent.com/2479967/55546053-c92e0980-56ce-11e9-8da2-094c5bc6a83a.png)

[2019-04-04 09:47] OBrian16 commented on #909
`    ReferenceError: error is not defined

      83 |           className={'reactSelect'}
      84 |         />

         |          ^
      86 |       </div>
      87 |     })
 `
I'm getting the same error. Anyone with a solution?

[2019-04-04 09:58] rwieruch opened #6417 ""StyledComponent" Component - No propTypes defined!"
After upgrading from Storybook 4.x.x to 5.0.6., I am not able anymore to see the assigned propTypes for Styled Components in Storybook anymore.

That's what I see in Storybook:

___

![Screen Shot 2019-04-04 at 11 56 05](https://user-images.githubusercontent.com/2479967/55547048-c7654580-56d0-11e9-9116-a820436a3015.png)

___

That's what I have coded:

[code]

And I would expect to see the childre

[2019-04-04 11:08] rezaabedian opened #6418 "Toggle theme"
**Is your feature request related to a problem? Please describe.**
Our component library inherits it's styling from a class that is applied to the root <html>  tag.

Example:
[code]

And similar for light.

So I can get so far by including this html in the preview-head.html and then importing in our stylesheet.

In parallel I have also developed a storybook theme that is defined in config.js that

[2019-04-04 11:15] MilosJo commented on #5051
`Import { Link } from 'gatsby';`
breaks my Storybook...
Tried upgrading `yarn`, removing `node_modules`, `yarn.lock` and `cache`,
now I get `Cannot GET /` error.
Any solutions?

[2019-04-04 11:48] codestitch commented on #5684
Sure @albertjke. You can check my repo at https://github.com/codestitch/sbnx.

it's using version 5.0.6 though. What I did there is I added this line:

`import '!style-loader!css-loader!../stories/stories.scss';`

to **config.js** file.

[2019-04-04 12:05] Lelith commented on #6311
@shilman its a quite big component library with many stories and all of them using this addon :/ so will stop migration for now but will update once i tried out eliminating this addon / other addons.

[2019-04-04 12:47] ar7casper commented on #6287
@shilman
Yeah, sorry for not pointing that out, ver 5.0.1 (I can't upgrade for some reason it fails, still trying)
@Armanio
Thanks, I can take it for a spin soon and let ya know

[2019-04-04 12:57] kroeder commented on #6416
Can you provide more details? Which framework do you use? I assume you are using TypeScript? Can you provide a Code-Snippet or even better a reproduction example repository?

[2019-04-04 13:38] lauterry commented on #6020
Hello

I encountered the same issue.

Here is my webpack.config.js

[code]

[2019-04-04 13:46] codestitch commented on #6316
Hi, @kroeder ... I've uploaded my code in my repo so you can check the problem. I'm actually calling a component from the library in w/c it also imports a service from another library.

You can check the repo in [here](https://github.com/codestitch/sbnx). and then `npm run storybook`.

Thanks.

[2019-04-04 14:09] shilman commented on #5051
@MilosJo did you follow these instructions? https://www.gatsbyjs.org/docs/visual-testing-with-storybook/

[2019-04-04 14:15] shilman commented on #6418
Have you taken a look at this? https://github.com/leoyli/addon-contexts

cc @leoyli

[2019-04-04 14:22] shilman commented on #6417
So this worked as is in 4.x and then just broke in 5.0? Are you using a custom webpack config?

[2019-04-04 14:29] shilman commented on #6414
@supadupdip This worked in SB4? I thought we didn't support webpack 3 in SB4... 🤔 ?

[2019-04-04 14:32] shilman commented on #6413
You're also using `addon-knobs`. Is that bundling properly?

[2019-04-04 14:35] Glazy opened #6420 "Move 'Show Info' button in info addon"
**Is your feature request related to a problem? Please describe.**

When using `@storybook/addon-info` the 'Show Info' button at the top right of the component view area overlays the rendered component. This was a problem when we had a full-width component that had an icon on the right hand side that was being covered by the button.

**Describe the solution you'd like**

It would be nice to make u

[2019-04-04 14:38] shilman commented on #6408
Thanks for following up @yuanstanley -- glad it's working for you!

[2019-04-04 14:38] joealden opened #6421 "Feature request: Support ui-related query params in addon-links"
I saw this issue got closed by stale bot: https://github.com/storybooks/storybook/issues/3787

Was there any progress on this? I am wanting to use `addon-links` to link to a story that has its knobs set to different values than the default ones, but I can't see that this is possible.

[2019-04-04 14:41] shilman commented on #2226
@rowellx68 If you're interested in working on this, jump on our Discord and we can probably help you get going. It's still not documented, but it's a well-traveled path by this point. cc @ndelangen

[2019-04-04 14:43] MilosJo commented on #5051
This is my `.storybook.config.js`
[code]
Roughly I would say they look pretty much the same.
Many thanks, @shilman

[2019-04-04 14:47] shilman commented on #6327
@kevinSuttle All of our netlify deploys are in the repo in the `/examples/*` directories

[2019-04-04 14:48] MilosJo commented on #5051
@shilman
I haven't noticed that I need to create `webpack.config.js` file as well.
[code]
Works now like charm.
Thanks again!

[2019-04-04 14:49] shilman commented on #6117
Thanks for this correction. Is there any chance you can create a small PR for this?

[2019-04-04 14:52] shilman commented on #6404
@sergiotapia Please read up on the MIGRATION instructions for 5.0.2 specifically:

https://github.com/storybooks/storybook/blob/next/MIGRATION.md#deprecate-webpack-extend-mode

[2019-04-04 14:53] shilman commented on #6156
@leoyli you mean `file://` URLs?

[2019-04-04 14:55] shilman commented on #5051
@MilosJo I guess you're using Storybook 4.x? Note that the custom webpack config has changed in 5.x if you decide to upgrade: https://github.com/storybooks/storybook/blob/next/MIGRATION.md#webpack-config-simplification

[2019-04-04 14:56] kevinSuttle commented on #6327
Thanks!

[2019-04-04 15:02] MilosJo commented on #5051
Hey @shilman
Yeah, current project is run on Storybook 4.x.
Will migrate it this week to Storybook 5.x.
Thanks for the heads-up.
Much appreciated

[2019-04-04 15:05] rwieruch commented on #6417
I checked again and it worked with 4.1.11. @shilman That's my custom webpack config:

[code]

[2019-04-04 15:06] shilman commented on #6420
Cool idea! I think this would be a nice improvement for `addon-info` 👍

[2019-04-04 15:10] shilman commented on #6417
Thanks for confirming @rwieruch. I'm working on a replacement for addon-info, and will keep my eyes out for this. I'll also fix it in addon-info assuming that it's an easy fix.

[2019-04-04 15:19] rwieruch commented on #6417
Perfect! Thank you @shilman 👍

[2019-04-04 15:46] shilman commented on #6359
Yo-ho-ho!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.21 containing PR #6360 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-04-04 15:46] shilman commented on #5030
Yay!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.21 containing PR #5109 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-04 15:46] shilman commented on #6185
w00t!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.21 containing PR #6354 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-04 15:46] #6185 closed

[2019-04-04 15:48] leoyli commented on #6156
@shilman, yes.

[2019-04-04 15:53] leoyli commented on #6418
Would like to know more about your framework of use.  I'm currently pushing my addon out of React to Vue. So if you are in other framework, it may not be so useful at the moment.  But I guess we can work together, or at least I can investigate or prioritize something for you. 💪

[2019-04-04 15:54] matthewharwood commented on #6122
@shilman I'm still blocked by this I and fela thinks it's storybook problem.  Could ya please help https://github.com/rofrischmann/fela/issues/690

[2019-04-04 16:05] liamross commented on #6417
@shilman  This may also be related to the bug I logged for the missing prop table in TypeScript: https://github.com/storybooks/storybook/issues/6345

[2019-04-04 16:41] BennyZ28 commented on #6145
Same here, actually we'd like to just use our own styles but they're getting overridden by specific notes styles. Would be good to have an option to remove them.

[2019-04-04 18:12] natterstefan commented on #6156
Hi @leoyli,

Interesting, I did not open it with `file://`.

All I do is building the storybook with this command: `"build-storybook": "rimraf dist && build-storybook -c .storybook -o dist/storybook && copyfiles static/**/* dist/storybook",` _inside_ a Dockerfile. It is then later served in the docker image with `serve dist/storybook -p 9001` ([serve module](https://www.npmjs.com/package/serve)).

[2019-04-04 18:17] georgediaz88 commented on #4540
Agreed ^. Any update on this being available for Angular repos? This would be huge for us to switch to Storybook.

[2019-04-04 18:24] supadupdip commented on #6414
Yup, been working for us for months. I think the only breaking change that I saw in 4 from our configuration was the babel 7 upgrade.

[2019-04-04 19:04] MightyRevenge commented on #5217
having the same problem!

[2019-04-04 20:31] kevinSuttle commented on #6418
I was wondering why using `context.theme` wasn't the default in addon-backgrounds...

[2019-04-04 21:29] supadupdip commented on #6414
Upgrading to webpack 4 didn't resolve this issue either

[2019-04-04 21:58] acollazomayer opened #6426 "Is there a way to close storybook and return to the main app"
I have a button that opens storybook within the app. However I then can not return to the original app. Is there a way I can do this

[2019-04-04 22:08] Cheebang commented on #6413
Yes knobs is bundling correctly. When I load up the static storybook built with `build-storybook` I see the knobs and they are functioning correctly. However the custom addon is missing. I tried commenting out knobs in the addons.js file and building and then knobs disappeared.
So my theory is that it's using addons.js but maybe silently failing when importing the custom addon's register.js?

[2019-04-04 23:10] Jivanvl opened #6427 "Vue stories don't work with mixins"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://jivl-mixin-storybook-bug.162.243.131.170.nip.io/?path=/story/charts-stacked-column-chart--with-toolbox
2. Click on `Show Toolbox`
3. See error

**Expected behavior**
`Show Toolbox` should show a toolbox on top of the chart, that property comes from a mixin, it

[2019-04-04 23:58] kroeder commented on #6316
Can you please try to copy&paste my webpack.config
[code]

You added a plugin that might not be needed. `@storybook/angular` already has a plugin integrated that takes all paths in `tsconfig.json` and sets them in the internal webpack config of storybook

Your repo had no story so I added one myself and I got another error but nothing seems to complain about your tsconfig paths anymore

Can you ve

[2019-04-05 01:30] clintandrewhall opened #6430 "Progressively Slowed Builds with react-docgen-typescript"
**Describe the bug**

The [documentation](https://storybook.js.org/docs/configurations/typescript-config/#using-typescript-with-the-tsdocgen-addon) for Typescript offers TSDocgen as an option for parsing and providing `props` tables for stories.  In my recent experience, and as noted in an [recent issue](https://github.com/styleguidist/react-docgen-typescript/issues/112) in `react-docgen-typescrip

[2019-04-05 02:00] ilyaztsv commented on #5936
@shilman I've checked it using storybook 5.0.3 and it works without my custom rule for fonts:

[code]

[2019-04-05 02:31] strothj commented on #6430
The documentation needs to be updated to reflect that `react-docgen-typescript-webpack-plugin` should be replaced with [react-docgen-typescript-loader](https://github.com/strothj/react-docgen-typescript-loader). The Webpack plugin was the initial implementation which was later replaced with a loader.

https://github.com/strothj/react-docgen-typescript-loader/pull/40 was just merged in and publishe

[2019-04-05 02:52] shilman commented on #6122
@matthewharwood Did you get it working with fela+react in Storybook?

[2019-04-05 02:54] shilman commented on #4475
cc @backbone87

[2019-04-05 02:55] shilman commented on #6156
@natterstefan Have you tried `cd`ing into the folder and serving from there? It shouldn't make any difference, but just throwing it out there...

[2019-04-05 02:59] shilman commented on #4540
I'm building Storybook Docs, a replacement for notes/info:

https://twitter.com/mshilman/status/1113532547764342784

I just got it working for React+Vue and will try it out on Angular today. It'll be in alpha for awhile because I want to make sure it's working well for a bunch of view layers and use cases. But it's coming!!

[2019-04-05 03:01] shilman commented on #6418
@kevinSuttle That would be a nice feature for `addon-backgrounds` 👍

[2019-04-05 03:03] shilman commented on #6414
Any chance you can provide a repro, or give more info about how this is called? Hard to make sense of it from the stack trace alone.

[2019-04-05 03:04] shilman commented on #6426
Need more context. Is this for React native?

[2019-04-05 03:08] leoyli commented on #6418
@kevinSuttle, @shilman: where this `context.theme` came from?! Is the storybook theming or the application theming?!  I think the later is a bit harder for `addon-backgrounds` to get processed automatically...?!  In our use case, we have theming object came from `material-UI` and we just have a simple file to glue the theming definition with `addon-backgrounds` to remain 1 source of the truth. So

[2019-04-05 03:08] shilman commented on #6413
@Cheebang that's a good theory. I think there have been some issues about webpack errors getting swallowed ... so this could be related to that? Just did a quick search but couldn't find the issue ☹️

[2019-04-05 03:13] shilman commented on #6090
@leoyli sorry i missed this. i probably would've named it `booleanKnob`. i don't think we should fix it unless it's breaking for people. if you don't want that in your code you can always rename it at import time:

[code]

[2019-04-05 03:20] leoyli commented on #6090
Yeah, that is what I did actually.  Not a big issue though since it would be a breaking change and need some extra deprecation warning.  But this maybe looks a bit strange for TypeScript people?! Although not necessary change the typing of `boolean` but it can be quite confused...

[2019-04-05 03:45] Cheebang commented on #6413
OK I have an update: I removed the import to the custom addon and just pasted the contents of register.js into addons.js and it has appeared in the bundle :)
So it would seem it is the `import './json-addon/register';` that is silently failing

[2019-04-05 04:02] MadebyAe commented on #6381
Hi @apurvaojas `async` is only available for node >=7.x

[2019-04-05 05:47] natterstefan commented on #6156
Hi @shilman, good idea. I just tried it

[code]

and it did not work. :/ I'll later try it with an nginx inside the image instead. Let's see what happens then.

[2019-04-05 06:10] shilman commented on #6092
what version of storybook? any custom webpack config?

[2019-04-05 06:27] Navdisenyo commented on #3937
show error on this page:

**error**: C:\Repos\mstore-3.6.4\mstore-expo\node_modules\expo\build\environment\logging.js: Cannot read property 'bindings' of null

logging.js

import { Constants } from 'expo-constants';
import Logs from '../logs/Logs';
import RemoteLogging from '../logs/RemoteLogging';
if (Constants.manifest && Constants.manifest.logUrl) {
    // Enable logging to the Expo dev tools o

[2019-04-05 06:40] ndelangen commented on #6381
Can you upgrade to the Node 8?

Node 7 isn't LTS, and Node 6 is end of life:
https://github.com/nodejs/Release

[2019-04-05 06:42] ndelangen commented on #6092
Is it that the mime-types are incorrect?

Can you please provide more information and possible provide a reproduction?

[2019-04-05 06:45] shilman commented on #6090
@leoyli I'd be up for making this change:
1) In a major release of SB
2) Alongside some other major changes to knobs

[2019-04-05 06:58] shilman commented on #6413
@Cheebang Out of curiosity I did static builds with two separate projects that use custom addons and didn't have problems with either. Both were running `next` code (5.1.x) and neither were typescript. FYI.

[2019-04-05 07:08] shilman commented on #6381
@ndelangen He knows what the problem is, he's saying we need to update our package.json to document the incompatibility.

[2019-04-05 07:29] rezaabedian commented on #6418
@leoyli we are using Angular and React. I'll investigate `addon-contexts` but I'm guessing that because our theme is being driven by a global scss and not state, context or props, the model in `addon-contexts`isn't just going to do it place.

[2019-04-05 07:30] lucas-carl commented on #6392
@shilman I looked into the _next_ version right after my PR but can't seem to find any bugs.

[2019-04-05 07:53] rofrischmann commented on #6122
@shilman @matthewharwood My first thought was: It's either a Preact or Storybook issue as react-fela and preact-fela built on the exact same source and react-fela works perfectly fine with Storybook.

[2019-04-05 08:56] Stefanwullems commented on #6416
I stripped most unrelated things from our repository to still make the thing fail. [here's the repo](https://github.com/Stefanwullems/ts-storybook-interface-error )

[2019-04-05 11:13] shilman commented on #6122
@rofrischmann I'm confused why we're having this conversation. 😄 AFAIK there's a known issue with preact & storybook that I linked to above in a twitter convo. But @matthewharwood said he thought it was about Fela. So ... ???

[2019-04-05 12:01] rofrischmann commented on #6122
Oh sorry, didn‘t see that. So I guess that‘s the issue then? Can‘t see how this issue is Fela related either.

[2019-04-05 12:06] svdsande opened #6434 "Import markdown.md for notes "Cannot find module""
**Describe the bug**
I want to use the [notes addon](https://github.com/storybooks/storybook/tree/master/addons/notes) to display relevant information about my component using markdown, see code below.
[code]
Unfortunatly this results in `TS2307: Cannot find module './card.component.notes.md'.`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new story
2. Create a markdown file with

[2019-04-05 13:30] clintandrewhall commented on #6430
@strothj Absolutely.  I'll test it and get back to you...!

[2019-04-05 13:39] leoyli commented on #6418
@rezaabedian, Angular is not supported in the addon yet (will do this). But I believe you can still use this addon for React. If you just want to dynamically inject `className`, you can specify like this:

[code]

Think this addon is just like an agent who knows how to communicate between Storybook manager and your component preview.

[2019-04-05 13:42] clintandrewhall commented on #6430
@strothj BRAVO!  Those two changes-- removing the plugin and updating the package-- dropped build time to ~9s.

![Screen Shot 2019-04-05 at 8 40 56 AM](https://user-images.githubusercontent.com/297604/55631861-9e9b8980-577e-11e9-9875-91aaa1e80192.png)

@shilman I would recommend updating the documentation for `5.0.5`+, depending of course on your own tests.

[2019-04-05 13:50] shilman commented on #5030
Huzzah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.22 containing PR #6428 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-05 13:51] shilman commented on #6409
Released in https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.22

[2019-04-05 13:52] MightyRevenge commented on #6117
I noticed this as well! Thanks for the correction too!

[2019-04-05 14:34] shilman commented on #6430
@clintandrewhall Mind submitting a small PR for that?

[2019-04-05 14:38] strothj commented on #6430
Credit where it's due. @denieler submitted the pull request which fixed that. :)

[2019-04-05 14:38] shilman commented on #6434
Are you using a custom webpack config? If so, can you share it?

[2019-04-05 14:46] kroeder commented on #6416
For the record - the stacktrace:
[code]

addon-storysource causes it (as you can see in the stacktrace)

[code]

Removing the storysource code in `webpack.config.js` resolves the error.
It has a workaround.
[code]

Good catch 👍

[2019-04-05 15:36] kroeder commented on #6434
Do you use angular workspaces? We do use md files in our angular mono repo and also had a lot of trouble using md files

[2019-04-05 15:50] acollazomayer commented on #6426
Yes this is for react native @shilman. Thanks for the response. Sorry if I was not more specific

[2019-04-05 16:05] MaxMcKinney opened #6436 "Change sidebar icon colors"
Seeing as the icons are SVGs we should have theme access to changing the icon colors. Right now I don't see any way that exposes them for us to modify.

[2019-04-05 16:26] Ineigo opened #6437 "storybook 5.0.6 not working manager-head.html"
**Describe the bug**
У меня не получается подключить файл `manager-head.html`
I can't connect the file `manager-head.html`

Так как его поиск происходит в папке которую я не указывал как путь до настроек
Since its search occurs in a folder that I did not specify as the path to the settings `<rootProject>/styles/base/.storybook/manager-head.html`.

**To Reproduce**
Steps to reproduce the behavior:

[2019-04-05 16:34] shilman commented on #6426
@Gongreg @benoitdion what's the best practice on this?

[2019-04-05 16:50] benoitdion commented on #6426
For the time being, you'll have to manage it within your app and the answer kinda depends on your set up and what navigation stack you use. Usually, you should be able to treat it like any other screen in the app.

With 5.1 we'd like to add support for a storybook switcher that makes it really easy to switch between the app and storybook.

[2019-04-05 17:03] acollazomayer commented on #6426
@benoitdion Thanks you. Yeah I have a screen but dont see any button that I can trigger a pop, I am using react-native-n avigation

[2019-04-05 17:44] creatyvtype commented on #3730
I'd like to resurface this. Sorting the sections should be more configurable than this arbitrary import order.

[2019-04-05 17:52] mtuzinskiy commented on #3134
Yes please!

[2019-04-05 17:58] mtuzinskiy commented on #4540
@shilman That is so great to hear! Thank you, looking forward

[2019-04-05 18:39] snowystinger commented on #6409
wow, that was fast, thanks!

[2019-04-05 18:39] #6409 closed

[2019-04-05 20:48] rafael-anachoreta commented on #6356
I'm having the exact same problem and it is driving me crazy 😵.

What is more - I actually do get some logging output on the console for the knobs plugin, and my components work correct, which makes me think this is more of a UI problem.

![image](https://user-images.githubusercontent.com/10238432/55655515-ba417700-57f4-11e9-8338-8575e2df2844.png)

[2019-04-05 21:02] georgediaz88 commented on #4540
@shilman, that's awesome news! I can't wait to try that out once it's available for Angular. Question I'm not super clear on, so when the mdx files are available for Angular, is the concept then that stories are written together with the markdown in an `mdx` file? Or are stories still written in under `stories/`?

[2019-04-05 23:11] snowystinger opened #6439 "Tree of stories loses order on HMR"
**Describe the bug**
Tree of stories loses order on hmr

**To Reproduce**
Steps to reproduce the behavior:
1. Run storybook
1. Edit a story
1. Watch that story drop to the bottom of the tree

**Expected behavior**
Tree should stay in order

**Screenshots**
<img width="374" alt="Screen Shot 2019-04-05 at 4 09 26 PM" src="https://user-images.githubusercontent.com/698229/55660852-3fa93500-57bd-11e9-8

[2019-04-05 23:15] snowystinger commented on #6439
I'm happy to work on a fix for this, but I'm actually having a bit of trouble tracking down where the loading of stories happens and this component

[2019-04-06 00:45] matthewharwood commented on #6122
@shilman @rofrischmann Sorry for the confusion.  I don't think the issue linked above is the problem: https://twitter.com/marvinhagemeist/status/1105346547338878976?s=21.  Because, Storybook works with preact@next.  The only issue I know of storybook and preact is because preact uses mjs https://github.com/storybooks/storybook/issues/6003.

I did a bit more research and here's what I found:

These

[2019-04-06 01:20] shilman commented on #6122
Thanks for the followup @matthewharwood. I'm on vacation for the next week but I'll take a closer look when I get back if somebody else doesn't get to it first. If you're interested in debugging it yourself, you can run it in dev mode in the repo by adding your code to `examples/preact-kitchen-sink` then:

[code]

If you want to hack on the code, you can run `yarn dev` in another window (CPU inten

[2019-04-06 01:22] shilman commented on #5301
I have the rest of the puzzle thanks to a call with @igor-dv last week. Hope to finish this soooooon....

[2019-04-06 01:26] shilman commented on #3730
Reopening since there's useful info and closing #6327 as a dupe

Also related: #5827

[2019-04-06 01:27] shilman commented on #6327
Closing this as a dupe to #3730

[2019-04-06 01:27] #6327 closed

[2019-04-06 01:28] shilman commented on #3134
It's coming as part of Storybook Docs 💥

<img width="727" alt="Storybook" src="https://user-images.githubusercontent.com/488689/55663227-3ddb8200-584e-11e9-9bdd-6a14b2c2fa72.png">

[2019-04-06 01:32] shilman commented on #6356
@viridia This line should be moved to `.storybook/addons.js`:

[code]

[2019-04-06 01:32] #6356 closed

[2019-04-06 01:36] shilman commented on #4540
And it's working! (Still in POC form, but super smooth):

<img width="727" alt="Storybook" src="https://user-images.githubusercontent.com/488689/55663308-f73a5780-584e-11e9-94fd-c4c82a714253.png">

[2019-04-06 01:39] shilman commented on #6115
Cc @kroeder

[2019-04-06 01:40] shilman commented on #6439
Related: #5827

[2019-04-06 02:04] shilman commented on #6296
Some progress!

<img width="716" alt="Storybook" src="https://user-images.githubusercontent.com/488689/55663627-48e4e100-5853-11e9-83ce-407affb9ed8d.png">

[2019-04-06 04:03] smmike commented on #4202
The same in version 5.0.6. I use global decorator to wrap all my component (otherwise it won't be styled properly) like this:
[code]
Then in my Info section Source I see this wrapper div element included.

What's worse is that I actually need to wrap stories like this:
[code]

and my story renders:
[code]

In this case I don't even see attributes of my components in the Source section. It just pri

[2019-04-06 04:08] mikkelking commented on #4691
I hit the same problem using a hooks based component, and after some experimentation found the cause of it...

My story markup looked like this
[code]
It appears that a normal `<div>` tag is what confuses the matter, and the solution is to make sure that the wrapping component is a React component, and not just a regular html tag. So I defined a `Wrapper` component like this:
[code]
and then chang

[2019-04-06 07:43] y0c opened #6440 "Storybook 5.0.6 react-docgen propTypes uknown !"
**Describe the bug**
I tried storybook 5.0.6 migration progress react-docgen is not working!
Am i using wrong? working in storybook 4.1

webpack.config.js
[code]

![image](https://user-images.githubusercontent.com/2585676/55666496-a8121800-588a-11e9-9ed4-c8747801a1b3.png)

[2019-04-06 07:56] ioanlucut commented on #6392
Having the same issue.

[2019-04-06 08:52] vinodloha commented on #5817
Same issue exists with @storybook/react v5.0.6 as well.

Failed to load preset: "/Users/vinkumar2/Documents/Projects/PatternLibs/ReactPatternLib/node_modules/@storybook/core/dist/server/manager/manager-preset.js"
ERR! Error: Cannot find module '@emotion/core/package.json'

Adding @emotion/core in DevDependencies help and Storybook is working. Looks like its missing in package dependencies with @st

[2019-04-06 11:16] kroeder commented on #6434
Currently, there's no out-of-the-box support for md files in Angular Storybook (maybe every ViewLayer using TypeScript)

In my companies project we simply added it to `src/typings.d.ts` and it worked (even though it was shown as an error in my IDE)

I suggest that we add out-of-the-box support

[2019-04-06 12:38] Armanio commented on #6128
Hi, guys! I'm back with a possible fix. Invite you in PR for discussion.

[2019-04-06 14:12] i8ramin opened #6443 "Gatsby + storybook + async/await + NODE_ENV=production == FAIL"
**Describe the bug**

For some reason, the following combination of things causes the Gatsby build to fail:

- `async/await` code
- `@storybook` packages
- `NODE_ENV=production`

## Steps to reproduce

Repo with basic Gatsby setup + @storybook devDependencies + async/await code:
https://github.com/i8ramin/gatsby-test-prod-async

[code]

### Possibly related GH issues

- https://github.com/storyboo

[2019-04-06 14:21] kroeder commented on #6434
I just opened a PR with a fix, just follow my changes
https://github.com/storybooks/storybook/pull/6444/files

It works in every possible scenario for me, can you verify that?

[2019-04-06 15:54] ryancat commented on #6261
Upgrade to 5.0.6 and I am no longer seeing this issue. Thanks @shilman !

[2019-04-06 18:29] haldenl commented on #5941
@pascalduez Your solution worked for me. Thank you!

[2019-04-06 20:16] milesj commented on #3346
Also want to chime in here. Using Storybook 5, Babel 7.4 (with core-js 3), TypeScript 3.4 and a monorepo. Most of these suggestions did not work 100%, but something I realized did. The very nature of monorepos is that a package is importing the "built" files from another package, not the source files, which is true when in the NPM registry/node module layer, but in development, is quite annoying.

[2019-04-07 00:12] shilman commented on #6127
Upgrade to `5.0.x`/`5.1.x-alpha` if you can. There have been a lot of good a11y improvements recently.

[2019-04-07 00:20] shilman commented on #5962
Hi @anthonytranDev any interest in picking this up again? @Keraito?

[2019-04-07 00:22] shilman commented on #6112
@backbone87 Can we close this now?

[2019-04-07 00:41] Zodiase commented on #6004
@shilman With `5.0.6` I haven't seen the call stack maxed issue but the click actions still takes more than 1 second to show up in the logger. Is this expected?

[2019-04-07 01:26] kristremblay opened #6445 "Storybook does not work with Expo"
**Describe the bug**
When trying to install Storybook with the most recent release of Expo, the process fails at `installing dependencies` with the error `No matching version found for @storybook/react-native@^5.0.6`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new project with `expo init ProjectName`
2. cd into the directory
3. Run `getstorybook`
4. See error

**Expected behavior

[2019-04-07 03:10] devrelm commented on #5817
I've put in a PR for this here: #6435

[2019-04-07 03:10] devrelm commented on #6255
I've opened #6435 to fix this.

[2019-04-07 04:05] dallas commented on #6418
+1 to being able to toggle between various Storybook themes. Our UI suite has to accommodate light and dark versions of our components and so far I’ve built a Grommet (styled-components) level toggle as a global decorator but it would be splendid if a similar toggle existed on a higher level that switched the entire Storybook UI theme and simply notified my decorator component in some way so that

[2019-04-07 04:10] dallas commented on #6418
Something that would let me toggle between light and dark like this:

<img width="1920" alt="Screen Shot 2019-04-06 at 21 08 10" src="https://user-images.githubusercontent.com/5059/55678523-30ef7a80-58b0-11e9-913e-a37699c7db2a.png">
<img width="1920" alt="Screen Shot 2019-04-06 at 21 07 38" src="https://user-images.githubusercontent.com/5059/55678525-38168880-58b0-11e9-9ad2-50b53ecfb40a.png">

[2019-04-07 05:19] leoyli commented on #6418
@dallas, as mentioned in this thread, please take a look on [`addon-contexts`](https://github.com/leoyli/addon-contexts), this allows you to wrap your stories globally or locally with the ability to control the injected component props from storybook toolbar.

[2019-04-07 08:21] RoystonS commented on #3968
If you haven't already, it's worth ensuring you've provided an explicit `tsconfig.json` file to both your loaders.

e.g. for the docgen loader:

[code]

[2019-04-07 08:23] RoystonS commented on #3968
If you haven't already, it's worth ensuring you've provided an explicit `tsconfig.json` file to your loaders, especially the docgen loader, e.g.

[code]

This took my generation down from 2 minutes to 9 seconds.

Without the `tsconfig.json` file, the loaders can easily end up scanning an entire file system tree, which takes ages.

[2019-04-07 08:30] shilman commented on #6004
@Zodiase I think you might need this: https://github.com/storybooks/storybook/pull/6410

It was released in `5.1.0-alpha.22`

[2019-04-07 08:43] shilman commented on #3968
cc @strothj @clintandrewhall

[2019-04-07 10:00] backbone87 commented on #6112
yeah i dont think we can do anything here. the BC breaks in @storybook/vue for v5 could be documented better, but then again the pre sb5 vue integration was fragile anyway

[2019-04-07 10:39] shilman commented on #6112
@backbone87 Would you mind adding a few lines to `MIGRATION.md` under the `From version 4.1.x to 5.0.x` heading to explain this change in behavior? I'd like to be able to point people at that if this comes up again.

[2019-04-07 15:35] backbone87 commented on #6112
see https://github.com/storybooks/storybook/pull/6447

[2019-04-07 15:35] #6112 closed

[2019-04-07 22:57] codeNoobie commented on #5814
@bufke Thanks! Yes this fixed it. Sorry for a late reply. May be the storybook should declare these dev dependencies versions as a must for 5.0.6?

[2019-04-07 23:51] leoyli commented on #6440
As far as I know the current implementation only able to capture the default export info with its propTypes.   If you wrap your component with HOC and then export directly, then it is not working as you may expected.

[2019-04-08 00:20] Cheebang commented on #6413
Thanks that is good to know. What was the structure of the project? I'm curious to see where the register.js of the custom addon was sitting

[2019-04-08 01:35] #5619 closed

[2019-04-08 04:12] shilman commented on #6440
@leoyli something changed if it was working in 4.x. @y0c can you check if it works in 5.0.0?

[2019-04-08 04:14] shilman commented on #6413
Register.js was just in my .storybook folder

[2019-04-08 04:16] y0c commented on #6440
@shilman I'll check to see if it's working on version 5.0.0 and leave you a comment after I check it out.

[2019-04-08 04:22] leoyli commented on #6440
Oh sorry my bad, don't aware that it was working on 4.1...  I was also trying to get it working on v5 but I thought it just because I export my component along with wrapping in HOC.  If remove the HOC wrapping, the type is working as expected.

[2019-04-08 04:42] y0c commented on #6440
@shilman  I tried in version 5.0.0 but the results were the same.
The typescript interface is as follows:
[code]
In 4.x version working perfect.
As shown in the code below, several "Prop"s were combined to function normally.
but 5.x version combine prop and propTypes is not working.
[code]
![image](https://user-images.githubusercontent.com/2585676/55698939-4cb76580-5a03-11e9-99ad-c02d731df6ca.png)

[2019-04-08 06:40] simonhoss commented on #5827
I found out that the order of the stories is now sorted by the folder name where there story is inside.

To make a correct ordering you can rename the folder to the same structure you want to see. I will rename my folders to 01_feature/... 02_feature/... and so on

[2019-04-08 07:38] svdsande commented on #6434
Currently I don't use a custom webpack config.

[2019-04-08 07:57] svdsande commented on #6434
@kroeder your solution works like a charm! Thanks for the help! 👍

[2019-04-08 08:30] rwieruch commented on #5827
Hm, I have the stories co-located to the actual implementation of the component. I wouldn't want to order my UI components based on Storybook, but rather how it fits best for my UI libraries project folder structure. So that's no option for me unfortunately

[2019-04-08 08:38] shilman commented on #6440
Thanks for following up @y0c. I'm on vacation this week (but obsessively checking github .. FML) and I plan to look into this once I get back

[2019-04-08 08:47] shilman commented on #6136
Hmm @igor-dv I think you're the only one who really understands the code ... 😉

[2019-04-08 08:50] y0c commented on #6440
Thank you for your reply on vacation @shilman.

[2019-04-08 08:52] yairEO commented on #6020
I also face the same issue :(

[code]

[2019-04-08 10:34] shilman commented on #5030
Great Caesar's ghost!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.23 containing PR #6403 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-08 10:34] shilman commented on #5817
Egads!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.23 containing PR #6435 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-08 10:34] shilman commented on #6434
Shiver me timbers!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.23 containing PR #6444 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-08 10:34] #5817 closed

[2019-04-08 10:34] shilman commented on #6255
Shiver me timbers!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.23 containing PR #6435 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-08 10:34] #6434 closed

[2019-04-08 10:34] #6255 closed

[2019-04-08 10:53] daKmoR commented on #6208
So what should be the name?
- `@storybook/web-components` => probably used mostly by web component people
- `@storybook/lit-html` => technically it just uses lit-html to render html with properties
?

[2019-04-08 12:14] shilman commented on #6208
I vote web-components

[2019-04-08 14:17] zjaml commented on #6204
I'm having this problem too. I'm using the latest firebase which added a dependency to core-js@3 recently.
after upgrading firebase, the storybook used to run produces the following errors:
[code]

[2019-04-08 15:00] nv7sk commented on #6066
It does not repeat after upgrading to version 5.0.6.

[2019-04-08 15:00] #6066 closed

[2019-04-08 15:05] saintplay commented on #6204
can confirm,

[code]

in a fresh `cra2` and `sb init` crashes

[2019-04-08 15:06] #5440 closed

[2019-04-08 15:20] MaxToyberman opened #6452 "Storybook does not work with RN0.59.+"
**Describe the bug**
Unable to load findSymlinksPaths: Cannot find module 'react-native/local-cli/util/findSymlinksPaths'

error: unknown option `--projectRoots'

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to latest react-native version
2. run storybook start -p 7007 | react-native start --projectRoot storybook

**Additional context**
I think the problem is because the path is wr

[2019-04-08 15:26] Jony-Y commented on #6014
@shilman any update on this?

[2019-04-08 16:53] dallas commented on #6418
Hi, @leoyli, thanks for re-sharing that. I’ve taken a look at the `addon-contexts` add-on, and I’ve found it quite useful already for simplifying my theme wrapper & toggling between my own defined “light” and “dark” themes for our UI library (built on Grommet), but I’m afraid I still don’t understand how it can be used to toggle the UI theme of Storybook itself. Could you provide some guidance or

[2019-04-08 17:17] milesj commented on #5533
@tmeasday

And? Who cares? That's the entire point of query params. If I want to send a URL to a co-worker, with the exact state of the story I'm looking at, the only way to do that is with query params. At the moment, it's impossible and it forces my co-worker to go through the same steps I did to get to the same outcome.

This is even harder to accomplish when using addons or custom implementati

[2019-04-08 18:32] libetl commented on #6136
I do if needed

[2019-04-08 19:54] creatyvtype commented on #6157
@chawlaaditya8 what's the progress?

[2019-04-08 20:02] kevinSuttle commented on #6418
That's great @leoyli. Thanks!

[2019-04-08 20:45] shilman commented on #5631
Pretty neat! I think this will be a useful option -- any plans to push it forward?

[2019-04-08 20:47] shilman commented on #6136
@libetl I think you just volunteered yourself 😘

[2019-04-08 20:53] shilman commented on #6014
Sorry no progress yet. Been working on other aspects of a replacement for addon-info and tons of progress there, but haven't gotten to take a pass at the info bugs yet unfortunately. On vacation this week but hopefully next week when I'm back. Thanks for your patience!

[2019-04-08 20:55] shilman commented on #6452
Which version of storybook?

[2019-04-08 21:02] shilman commented on #5460
cc @sharathm89

[2019-04-08 21:03] shilman commented on #5814
@kroeder any thoughts on this?

[2019-04-08 21:12] ndelangen commented on #6020
@yairEO @lauterry
Yeah well, you're both REMOVING all webpack plugins, including the HtmlWebpackplugin, so it would make sense for there to be no html outputted.

[2019-04-08 21:13] ndelangen commented on #6020
@dmoojunk you may have stumbled upon an actual bug

[2019-04-08 21:13] #6020 closed

[2019-04-08 21:20] marcos-abreu commented on #5721
This was my workaround to this problem:

[code]

As I mentioned is still a workaround, but it does work and don't break the `info` addon. (I haven't tested other addons)

[2019-04-08 21:38] tomtomau commented on #2226
Hey @rowellx68, have you started on the Aurelia support? I'd be keen to help out possibly?

[2019-04-08 21:51] anthonytranDev commented on #5962
Hello There, I still am interested in helping with this Issue

I'll be sending @Keraito some of the work I'll be getting up to, before the end of the week!

Unfortunately, it's still premature at this point. However it's a least a start...

[2019-04-08 22:44] leoyli commented on #6418
@dallas, Oh my bad, it's actually more than just the story preview but the theme of the manager app too...  then `addon-contexts` can not do such thing although may have a workaround on top of it.

In `addon-contexts` v1.1.0, internally, after user change the addon state from toolbar menu, the addon fires an event called `addon-contexts/UPDATE_PREVIEW` with the information about the current user s

[2019-04-08 23:53] snowystinger commented on #6439
More information on this
https://github.com/storybooks/storybook/blob/next/lib/client-api/src/story_store.js#L141 is called to add a story. When HMR fires, it calls https://github.com/storybooks/storybook/blob/next/lib/client-api/src/story_store.js#L136 and then calls https://github.com/storybooks/storybook/blob/next/lib/client-api/src/story_store.js#L141 again.

This is important because the rend

[2019-04-09 01:00] tmeasday commented on #5533
I assure you people care. That's why we changed it in the first place.

Anyway, I just said there is a tension--basically we don't want addons updating the URL "just because" and leading to the situation we had before where the storybook URL was super long and not readable and full of UI-specific things that really didn't need to be saved there. I understand the use case I think we should solve it

[2019-04-09 01:04] milesj commented on #5533
At minimum, I think enabling/disabling query params can be an option. Consumers who don't want the ugly params can disable it, and consumers who do want params can enable it.

[2019-04-09 01:07] tmeasday commented on #5533
Another idea I heard mentioned was to show a spot on the UI where you can get a "full" URL that includes all the bits and pieces to reproduce the current state.

I'm not quite sure if there is a benefit to having two URLs, am interested in people's thoughts here.

[2019-04-09 01:14] shilman commented on #6402
Sorry for the delay @mortal94 somehow this didn't show up in my notifications.

Closing as a dupe to https://github.com/storybooks/storybook/issues/6075

[2019-04-09 01:14] #6402 closed

[2019-04-09 01:16] shilman commented on #5533
I think the URLs should be clean and we should allow people to get the "full" URL for sharing.

Steps to make this happen:
- [ ] Elevate this "copy URL" function out of the knobs UI and into the main UI
- [ ] Ensure that URL parameters are handled properly and make sure it's tested so we don't regress again (I fixed this already in the midst of the 5.0 release, but it broke before shipping). Alrea

[2019-04-09 01:24] shilman commented on #6439
IMO the right solution is to add sorting. Users want it, and then it ends any questions about what the order should be.

[2019-04-09 01:24] leoyli commented on #5533
I think this sharing ability is very important, especially when we need to reproduce a specific state for visual smoke testing too!  I am expecting the standalone mode (the icon on the top right) of a story can carry forward these query information directly (so we may just open it or copy its link directly). -> i.e. what you seen in the preview should be able transfer the state easily over to the

[2019-04-09 01:26] shilman commented on #6153
cc @ndelangen

[2019-04-09 01:31] CrashyBang commented on #6367
I was able to fix this by:

- Downgrading `canvas` to `1.x.x`
- Installing the [required libraries](https://github.com/Automattic/node-canvas#compiling) in my docker VM to compile `canvas`.
- Installing (and building) `node_modules` in the docker VM (not mounting them from my local file system)

Eventually I would like to use the newer (`2`) version of `canvas` perhaps following the instructions [

[2019-04-09 01:31] #6367 closed

[2019-04-09 02:28] shilman commented on #6055
@manuelbieh This is a great feature. However, I don't want to add any more dependencies to Storybook (in fact, I'd like to start removing them!). Last year @igor-dv developed a feature called "presets" which is perfect for this. It's a solution that can modify your webpack/babel configs and more by adding a single line to `presets.js`. It's used internally by all of our different "apps" (React, Vu

[2019-04-09 02:30] shilman commented on #5030
Ta-da!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.24 containing PR #6095 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-09 03:48] shilman commented on #6146
This has been updated in 5.1 and @ndelangen is working on an add-on guide to document this

[2019-04-09 06:40] tkryskiewicz commented on #5631
hey @shilman,
Definitely yes! Been quite busy lately. Will find some time in the upcoming days to work on styling.

[2019-04-09 07:55] rowellx68 commented on #2226
@tomtomau I've got something very very basic [here ](https://github.com/rowellx68/storybook/tree/aurelia). Any help would be great. Currently battling the `Cannot find 'fs' module` issue.

[2019-04-09 09:33] fahidnasir commented on #1981
Fixed by Removing `node_modules` folder and re-installing the packages.

[2019-04-09 09:54] pandaiolo commented on #5533
@shilman is that "copy URL" feature different from the actual browser URL?

I concur with @tmeasday , if a use case requires URL copy/paste, it seems an anti pattern to have both a real browser URL that does not contain all params, and another "secondary URL" component, either shown in the UI or hidden with a button that says "copy URL"? (even though it is not copying browser URL, but something el

[2019-04-09 10:31] marcel-k commented on #6264
Even with this fix, it still won't work with styled components though, neither does the proptable. related to #6345 ?

[2019-04-09 10:43] shilman commented on #6345
How did you setup docgen for typescript?

[2019-04-09 10:49] shilman commented on #5533
@pandaiolo Yes, I'm proposing a clean URL that shows up in the toolbar and a "sharing URL" that can be generated in the UI. That's what's supposed to be implemented in the UI right now, but (1) it's apparently buggy, and (2) the "copy URL" is only available in the knobs UI, which I think is the wrong place for it.

@ndelangen Do you want to weigh in here? I think you're the one who architected thi

[2019-04-09 11:46] feonit opened #6465 "Migration to 5.1.0-alpha.24 fail"
I try migrate from 4.1.11 to 5.1.0-alpha.24 and did catch this:

**Describe the bug**
[code]

**System:**
 - OS: [MacOS]

[2019-04-09 11:54] stmoreau commented on #6150
This issue has been added to the [v5.1.0 milestone](https://github.com/storybooks/storybook/milestone/13) so hopefully it will get picked up by someone and not get buried forever 😆

[2019-04-09 16:29] dallas commented on #6418
Okay, cool. Thanks for the info, @leoyli!

[2019-04-09 17:03] milesj commented on #5533
I'm open to any approach that allows the consumer to use the full URL somehow. We write custom addons and need to persist our state via query params. At the moment it's very difficult.

[2019-04-09 17:29] j0lv3r4 commented on #6262
I was having the same issue and this configuration fixed it for me:

[code]

[2019-04-09 19:20] taurean opened #6467 "Loading global SCSS"
I'm having some issues importing global SCSS files using a pretty bare bones storybook set up inside of an angular project.

**the storybook config:**
[code]

**the webpack config for storybook:**
[code]

**the test scss file I”m trying to load:**
[code]

**and lastly, the error I’m getting:**
[code]

**Possibly related?:**
I didn't find any solutions here that worked for me though
#3618
#3814

[2019-04-09 20:16] Armanio commented on #6262
Guys, storysource addon dont working if your stories not chaining. It's known bug.
Try add stories in chain like in my comment above.

[2019-04-09 20:37] taurean commented on #6467
figured it out, it was an issue with storybook clashing with my existing apps postcss configuration I think.

updated webpack config:

[code]

[2019-04-09 20:37] #6467 closed

[2019-04-09 20:46] favri commented on #6262
@Armanio I've chained and even showed only 1 file and still the same error.

However @j0lv3r4 's code, "fixit". Instead of "loading source" i see now. Still not the component code, but closer. Any idea?:

[code]

[2019-04-09 21:07] Armanio commented on #6262
@favri, storysource not show your component code. Storysource show you story file and allow to navigate between stories in file.
You screenshot look like a working. :thinking:

[2019-04-09 21:10] Armanio commented on #6262
Oh, of course, I see!
In my comment I chain stories after `storiesOf` call. And you separate stories and `storiesOf` call. Try to do like me. :smiley:

[2019-04-09 21:31] j0lv3r4 commented on #6262
@favri Storybook is working as intended. What happens if you add the decorator above the story, like so:

[code]

[2019-04-09 22:19] shilman commented on #6262
@favri The code you shared isn't chained. Chained is:

[code]

[2019-04-09 22:38] shilman commented on #6150
Is this anything you might be able to work on? TBH there are many higher priority issues in the pipe.

[2019-04-09 22:49] shilman commented on #5533
@milesj Thanks for your patience on this & flexibility on the approach. URL handling got messed up in various ways in the v5 release and didn't manage to get fix in the post-release bug bash. I'll make sure it gets handled soon -- on vacation this week (supposedly) but will put more urgency here (aside from just labeling as `high priority`, which apparently didn't magically solve the problem 😆)

[2019-04-10 00:51] shilman opened #6469 "Update RN docs for 5.1"
Right now the best source of documentation for RN 5.1 is:

https://github.com/storybooks/storybook/blob/next/MIGRATION.md#react-native-server

However the main RN guide has not been updated yet:

https://storybook.js.org/docs/guides/guide-react-native

We need to update the guide, at least in the `next` branch if not on `master`.

From grokling:

[2019-04-10 00:58] benweier commented on #6020
I ran into this issue as well after migrating from extend mode to full control mode. Fixed it by changing the `config.plugins` option from
[code]
to
[code]
It may be worth updating the docs at https://storybook.js.org/docs/configurations/custom-webpack-config/#full-control-mode to preserve the `plugins` config array as well

[2019-04-10 00:59] shilman opened #6470 "Update react-native sb init for 5.1"
`sb init` for React Native modifies the user's `package.json` to call `storybook start`.

However in 5.1 this has changed to `start-storybook`, see:

https://github.com/storybooks/storybook/blob/next/MIGRATION.md#react-native-server

We need to update the CLI to fix this (and if there are any other 5.1 fixes needed?)

[2019-04-10 02:04] vdh opened #6471 "Addon Actions is not handling React events properly"
**Describe the bug**
Attempting to use `action` from `@storybook/addon-actions` causes console errors and the output doesn't match the docs, possibly due to how the React Synthetic Events are being serialized.

**To Reproduce**

[code]

Then the demo button in the "Button" "with Text" story is clicked. Google Chrome gives a deprecation warning:

[code]

The output in the Storybook Actions addon pa

[2019-04-10 03:20] jgcmarins commented on #6452
I've solved this adding `react-dom` as devDep
and then adding this to `metro.config.js`:
[code]

[2019-04-10 03:53] shilman opened #6474 "SB5 Theming breaks React 15 compat"
## The problem
Currently theming operates in `config.js` which is "preview" code (user code). It requires Emotion, which in turn requires React 16.3+.

In `5.0.x` the workaround is to not theme Storybook.

This breaks in `5.1.x`, probably due to https://github.com/storybooks/storybook/pull/6435

I've created an example and added it to the repo so we can discuss around it, and also to make sure we

[2019-04-10 03:53] shilman commented on #4796
@angelozehr It is a regression. See https://github.com/storybooks/storybook/issues/6474

[2019-04-10 04:01] tmeasday commented on #6474
There is another solution which I suggested somewhere else and which seems to have dropped off the map: rearrange `@storybook/theming` so the bit that you import from `config.js` doesn't import from emotion.

This doesn't seem at all hard to do, I had just asked @ndelangen some question about the animation stuff but he hadn't responded. I can take a look at it if we clear that up (that's the file

[2019-04-10 05:11] vdh commented on #4769
It's still an issue, stalebot

[2019-04-10 05:27] MaxToyberman commented on #6452
@shilman 3.4.12 latest on npm

[2019-04-10 05:29] shilman commented on #6017
cc @ndelangen

[2019-04-10 05:31] shilman commented on #6452
Oh wow. Any reason you're not upgrading to 4.x or 5.1-alpha.x (other than that upgrading can be a pain in the neck)?

[2019-04-10 05:32] shilman commented on #5630
@rally25rs Is this still an issue in v5?

[2019-04-10 05:33] steffenmllr commented on #5935
Same here we went from 40sek to over 2 minutes for the initial build and 2-15sek for the rebuild. Thinking about switching back to 4.x. I'm using babel with typescript.

[2019-04-10 06:10] MaxToyberman commented on #6452
@shilman actually i have tried to use version 4.1.16 which is using "airbnb-js-shims" which is using "promise.prototype.finally" . and then i have another error "finally is undefined".

[2019-04-10 06:49] #3018 closed

[2019-04-10 07:05] shilman commented on #6452
@benoitdion @Gongreg have you seen this `airbnb-js-shims` issue?

@MaxToyberman Perhaps @jgcmarins workaround will work for you on 3.4? If not, I suggest trying to upgrade to 5.1-alpha. All active development is going on there, so you're much more likely to get help if you're running latest. We just don't have the resources to go back and support RN59 in old versions of storybook unless it's commu

[2019-04-10 07:09] shilman commented on #5935
@steffenmllr @jniemin Anybody who's using typescript, please take a look at this issue for a fix: https://github.com/storybooks/storybook/issues/6430

TLDR; you should be using `react-docgen-typescript-loader` instead of `react-docgen-typescript-webpack-plugin`

[2019-04-10 07:12] steffenmllr commented on #5935
thanks for the hint but I'm not using `react-docgen-typescript` or `react-docgen-typescript-webpack-plugin`.

[2019-04-10 07:18] shilman commented on #5935
Ugh, sorry to hear that. @ndelangen any performance hints for @steffenmllr ?

[2019-04-10 07:23] shilman commented on #5935
For anybody who is interested in performance and doing any webpack customization, it's important to understand the webpack configuration. I added a `--debug-webpack` flag to print out the manager & preview webpack configs. Please take a look and see what's being applied in 5.x vs 4.x and this will most likely explain the performance differences.

If it's getting slower without any webpack customiz

[2019-04-10 07:25] MaxToyberman commented on #6452
@shilman  the same problem on 5.1-alpha, my dependecies:
[code]

[2019-04-10 07:29] shilman commented on #6452
@MaxToyberman I don't think this will solve the problem, but in general keep all your `@storybook/*` to the same version (in this case `5.1.0-alpha.24`). Also did you follow the 5.1 migration instructions: https://github.com/storybooks/storybook/blob/next/MIGRATION.md#react-native-server

[2019-04-10 08:46] yairEO commented on #6020
@ndelangen - Thanks, I wasn't aware there were any default plugins in the first place! who knew...

[2019-04-10 09:27] #5640 closed

[2019-04-10 09:27] #5642 closed

[2019-04-10 10:00] ndelangen commented on #5533
Sorry for the delay on my part.

- standardising the knobs’ copy feature would be great
- having a piece of UI to generate a share-url
- keeping the main url easy to read is important

What if we allowed addons to put their state into the main storybook state?
This would help addon creators, since they can more easily combine their own state, with the state of other addons & storybook's internal s

[2019-04-10 10:12] oknoorap commented on #6417
it's fixed already and published? @shilman

[2019-04-10 10:27] #5637 closed

[2019-04-10 11:20] emjaksa commented on #5721
My info addon doesn't break provided I added the Story decorator last.

[code]

[2019-04-10 11:33] shilman commented on #6417
@oknoorap Nope, will comment here when it is. If anybody else wants to take a crack at it, they're more than welcome!

[2019-04-10 11:37] shilman commented on #5533
I'm down with that solution @ndelangen provided that there's an easy way to specify what state gets into the URL and what is kept internal. Those ugly share URLs would get even uglier if we persisted all the state there 😉

[2019-04-10 11:44] MaxToyberman commented on #6452
@shilman I have created a new empty project and added storybook with : npx -p @storybook/cli sb init --type react_native

then i write  :

[code]
i get this error :

![Simulator Screen Shot - iPhone 6 - 2019-04-10 at 14 43 39](https://user-images.githubusercontent.com/11058371/55875950-11ea3480-5b9f-11e9-9c6c-d82d7e068f4e.png)

[2019-04-10 12:06] MaxToyberman commented on #6452
The solution for me was to modify package.json to :

[code]

[2019-04-10 12:32] leoyli commented on #5533
@ndelangen,

I'm also good with the above too. But I hope the "opening on a standalone tab with the current state" can also put on the table (query params are working there but just not approachable...).  Reason as I've mentioned.

About the sore part, my initial concerns is a bit on mess up the storybook internal state so it became hard to debug but maybe I just worries for no reason.  After some

[2019-04-10 12:46] majirosstefan opened #6478 "npx -p @storybook/cli sb init --type react_native fails"
**Describe the bug**
npx -p @storybook/cli sb init --type react_native results in npm ERR! code ETARGET
npm ERR! notarget No matching version found for @storybook/react-native@^5.0.6
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.
npm ERR! notarget
npm ERR! notarget It was specified as a dependency of 'indie_pro

[2019-04-10 13:07] ryan-ds opened #6479 "Using a custom .babelrc in create-react-app"
**Describe the bug**
I am using `customize-cra` to add a specific babel plugin for development and I have also added a `.babelrc` in the `.storybook` folder which has the following:

[code]
The issue is it doesn't read the babel config even though the terminal says:
![image](https://user-images.githubusercontent.com/38418557/55880828-25a59300-5bbf-11e9-8951-76a63864631b.png)

But in the end it sho

[2019-04-10 13:07] daviddelusenet commented on #6020
For me the problem was also in the webpack config.

Before

[code]

After

[code]

[2019-04-10 13:19] callmephilip commented on #6083
the solution that worked for me is here (just remove `post-css` from `loaders` ): https://github.com/storybooks/storybook/issues/6319#issuecomment-477852640

[2019-04-10 13:28] callmephilip commented on #6392
Seeing this issue with `@next`

[2019-04-10 13:55] maeligg commented on #4801
Also experiencing this issue. @tonai 's workaround works (thanks !) but is not practical for our use case as we need both a global and a local withInfo decorator.

[2019-04-10 13:58] mick-feller commented on #6392
Same here, broken on @next

[2019-04-10 14:38] shilman commented on #6478
Dupe to https://github.com/storybooks/storybook/issues/5893

[2019-04-10 14:38] #6478 closed

[2019-04-10 14:40] orioltf commented on #5926
Similar issue on my side.

The project setup:

- create-next-app
- styled components
- storybooks with:
   - actions
   - links
   - a11y
   - knobs
   - notes
   - viewport
   - storyshots
- no webpack nor babel custom configs for storybooks
- no custom webpack config in the root of the project
- babel config in the root of the project from nextjs
- custom webpack loader for next using `next.conf

[2019-04-10 15:00] sairus2k commented on #5225
Can't reproduce this issue with storybook 5.0.6
Repro repo https://github.com/sairus2k/storybook-jest
Just run `npm run storybook:dev` and change App.test.js — it works just fine.

[2019-04-10 15:20] shilman commented on #6392
@lucas-carl Indeed, I checked and the problem got introduced in `alpha.15`, probably by this PR: https://github.com/storybooks/storybook/pull/6126

@Armanio mind looking into this?

[2019-04-10 15:36] kevbost commented on #488
Hi from the future everyone! 👋

The updated doc link is here:
https://storybook.js.org/docs/configurations/add-custom-head-tags/

[2019-04-10 16:04] jniemin commented on #5935
@shilman Like I wrote in my previous comment, this helped for our project to get back to decent build times.

[2019-04-10 16:10] Armanio commented on #6392
I check it today. Give me a few hours. 👍

[2019-04-10 16:14] jalovatt opened #6481 "S and A hotkeys are swapped after entering Fullscreen mode"
**Describe the bug**
After entering full-screen mode, the first press of `s` or `a` is swapped - `s` opens the addon panel, and `a` opens the sidebar. Subsequent presses behave correctly, but the issue repeats if "Go Fullscreen" is selected again.

**To Reproduce**
1. Create a temporary folder and navigate to it.
2. `npx create-react-app my-react-app`, `cd my-react-app`, `npx -p @storybook/cli sb

[2019-04-10 16:59] ThiagoMiranda opened #6482 "RN - Cannot read property 'kind' on null after upgrading to 5.x"
**Describe the bug**
Hi.. I've upgraded my Storybook version following the Github guide but it isn't working anymore ( before I was using the 3.x version and worked fine ). It displays a message: "Cannot read property 'kind' on null"

**Expected behavior**
Work as before

**Screenshots**
![Captura de Tela 2019-04-10 às 13 54 07](https://user-images.githubusercontent.com/141922/55898225-88376880-5

[2019-04-10 17:40] vpicone commented on #6073
My PR will allow for theming, however the addon-notes should be updated to be compatible with dark mode by default. It's unusable with dark mode in it's current state.

[2019-04-10 17:47] trevordmiller opened #6483 "Feature request for greater discoverability in large storybooks"
**Is your feature request related to a problem? Please describe.**

I work for an organization that has hundreds of apps and websites. We have helped migrate many of them to use storybook and will continue to do so going forward. Storybook is fantastic and meets our needs well for the most part. But one area it struggles in is in projects that have many components (some of them hundreds) it is har

[2019-04-10 19:24] ZebraFlesh commented on #5897
This is still an issue as of 5.0.6

[2019-04-10 19:42] stuxdev commented on #6208
Yeah, is the most accurate name, IMO.

[2019-04-10 20:57] shilman commented on #5897
@ZebraFlesh can you try adding it to `addons.js`?

[2019-04-10 20:58] liamross commented on #6345
<details><summary><code>.storybook/webpack.config.js</code></summary>

[code]

</details>

<details><summary>Example of component with no Prop Table</summary>

[code]

</details>

And then `addDecorator(withInfo);` in `.storybook/config.ts` as the very first `addDecorator`

[2019-04-10 21:02] shilman commented on #6483
I think tagging would be useful. FYI, Storybook's search also includes the file path (I think?) so this might be a short-term workaround for you.

[2019-04-10 21:04] shilman commented on #6482
Can you upgrade to the latest 5.1-alpha and try again?

cc @benoitdion

[2019-04-10 21:08] ThiagoMiranda commented on #6482
@shilman which one? Storybook itself?
`npm i -g @storybook/cli@v5.1.0-alpha.24`?

[2019-04-10 21:16] ThiagoMiranda commented on #6482
@shilman I've upgraded @storybook/react-native-server and the message is gone but I still got no stories on the webpage
<img width="1611" alt="Captura de Tela 2019-04-10 às 18 15 18" src="https://user-images.githubusercontent.com/141922/55914103-afa02c80-5bbc-11e9-8c0c-a4eed9c5e3cf.png">

[2019-04-10 21:36] CPedrini opened #6485 "Integration between addon-info and addon-viewport"
**Describe the bug**
If you switch the viewport and then open the info then the information is displayed in the modified viewport.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new storybook with both viewport and  info addons.
2. Create a new story for a component.
3. Switch viewport and see the error.

**Expected behavior**
Ideally it should reset the viewport or use a new panel

[2019-04-10 22:05] ndelangen commented on #5533
Ok, I've been doing some digging and coding.. so there are 2 things I've been working on today: It's about to get technical..

a few facts:

1. Addons used to be able to write to the URL using the setQueryParams, knobs used to do this

2. V5 introduced an easy way to open the preview/iframe in a new window

3. Addons all manage their own local state, and have really no standardized way to share st

[2019-04-10 22:10] JimSRush commented on #5051
This was breaking for me because my storybook and addon versions were:
 `"@storybook/react": "^4.0.0-alpha.25",` and `" "@storybook/addon-knobs": "^5.0.6",`. Once I dropped the addon version to `^4.0.6` it seemed to work ok.

[2019-04-10 22:58] than-speedline commented on #6065
The problem seems to relates to the background on the body of the iFrame being set to color other than transparent. Currently resetting the background color after importing bootstrap seem to have helped.

[2019-04-11 00:01] nimaiwalsh commented on #5278
Hi @shilman,

It would definitely be nice to be able to style the propsTable, could this be achieved by adding propsTable to baseInfoStyles object?

Thanks for all of your work.

[2019-04-11 01:30] tmeasday commented on #5533
Technically, how would it work for a preview-only URL to open up with knobs parameters on the URL? Aren't those parameters read by the manager and sent to the knobs in the preview side via the channel? Would this require an overhaul of how knobs works to be feasible?

[2019-04-11 03:25] benoitdion commented on #6482
Are you using an android or ios device? If android, did you run `adb reverse tcp:7007 tcp:7007`?

[2019-04-11 04:41] y0c commented on #6440
I solved the problem, but I couldn't figure out the exact cause.
when updating version 5.0.6 it executed the command `rm -rf node_modules yarn.lock && yarn`
this part seems to be a problem. It seems that there was a problem among some submodules.

This is the `yarn.lock` file that fixes the problem.
https://github.com/y0c/react-datepicker/commit/204a1ab70d9b151829ec16b71814cab96aab6a43

[2019-04-11 05:46] leoyli commented on #6440
@y0c, that is kind of surprising but useful! Thank you for finding where is the source of bugs 🙈!

[2019-04-11 06:03] KiyaDoig commented on #5217
+1 I would like to be able to use markdown in-line (without having to import or use const). Thank you.

[2019-04-11 07:09] daviddelusenet commented on #5184
I'm also experiencing this issue. Even when I delete all of my stories and run an empty Storybook I'm getting the `Uncaught RangeError: Maximum call stack size exceeded` error.

[2019-04-11 07:39] gerrytan commented on #3916
The stupid thing I failed to realise is I forgot to add a leading `../` to my `resolve.modules` config.

Here's what works for me:

[code]

This is because my storybook webpack config is located 1 directory deeper in the default `.storybook` dir.

[2019-04-11 08:20] lhalbritter commented on #6020
For me the problem was that the output path was the same as the configuration path.
Storybook clears the output path before build.

[2019-04-11 09:30] shilman commented on #6440
@leoyli FYI we have a `yarn / npm` label for exactly these kinds of problems 😖

[2019-04-11 09:32] shilman commented on #5278
we're replacing addon-info with a much better option that will also be stylable. more updates soon 👀

[2019-04-11 09:34] shilman commented on #5051
@JimSRush try to use the same version of all `@storybook/*` packages if possible

[2019-04-11 09:36] shilman commented on #6485
Closing this as a dupe to https://github.com/storybooks/storybook/issues/1147

This issue has been around for a long time but it's finally being worked on. More here very soon.

[2019-04-11 09:36] #6485 closed

[2019-04-11 09:38] shilman commented on #6345
@liamross No, there may have been some regressions in 5.0 but no material changes in `addon-info` specifically AFAIK. We'll be replacing it with a superior alternative very soon, so I'll be looking at this case as I work on that (and will patch `addon-info` if it's easy while I'm at it)

[2019-04-11 11:00] shilman commented on #6196
@alexan any interest in picking this up?

[2019-04-11 12:11] haruelrovix opened #6487 "TypeError: Cannot read property 'default' of undefined"
**Describe the bug**
TypeError: Cannot read property 'default' of undefined.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone this repo [react-native-elements-storybook](https://github.com/haruelrovix/react-native-elements-storybook.git)
2. Run `yarn storybook`, everything works fine
3. Run `yarn build-storybook`
4. Serve

[code]

5. Open localhost:5000 in the browser

![image](https://

[2019-04-11 12:29] libetl commented on #6136
quite busy these days, ideally already fixed in storysource v2, I will take a look when I can

[2019-04-11 12:34] shilman commented on #6136
Fair answer! Keep it in mind for storysource v2. In the meantime if anybody else wants to pick this up, go for it!

[2019-04-11 12:51] ThiagoMiranda commented on #6482
@benoitdion yes. One thing that I've noticed is that the original error is back.
My steps are:
1. run storyboard `start-storybook -p 7007 --ci`
2. open a new terminal and then: run `react-native run-android`
3. at the second terminal I run `adb reverse tcp:7007 tcp:7007`

[2019-04-11 13:15] mhauens opened #6488 "vulnerability in @storybook/addon-info > marksy > marked"
npm audit security report
===================================================
Moderate:  Regular Expression Denial of Service
Package:  marked
Patched in:  >=0.6.2
Dependency of: @storybook/addon-info [dev]
Path: @storybook/addon-info > marksy > marked
More info:  https://npmjs.com/advisories/812

found 1 moderate severity vulnerability in 1002488 scanned packages
  1 vulnerability requires manual

[2019-04-11 14:16] NemanjaManot opened #6489 "React Native - Stories aren't displaying in browser (5.1.0-alpha.24)"
**Describe the bug**
My stories don't appear in browser.
On (android) simulator i can see the stories, but action logger doesn't work.

**Expected behavior**
To see my stories / action loggers on Web Browser.

**Screenshots**
![image](https://user-images.githubusercontent.com/18553180/55963794-c81f4e00-5c73-11e9-843f-d9d7808aa479.png)
![image](https://user-images.githubusercontent.com/18553180/559

[2019-04-11 14:36] rfreydi opened #6490 "Angular Storyshots 5.0.6: Cannot read property 'get' of undefined"
**Describe the bug**
I was trying to follow the tutorial from https://www.learnstorybook.com/angular/en/simple-component/ but got a lot of trouble (the doc for jest-preset-angular is not up to date and hard to find the right way).

I'm stuck with last step, I think I configured everything up but when I run the jest test angularshots.test.ts fail. it look like it's the import 'global' which doesn't

[2019-04-11 14:42] sh00ter opened #6491 "CRA v2.1.8 and @storybook v5.1.0-alpha.24 addon-info not working for Flow types"
**Describe the bug**
Can't get addon-info to work properly with Flow types when using @storybook with CRA.
Using the default Flow Typed Button example from the official examples I am getting this Props Table

<img width="1624" alt="Screenshot 2019-04-11 at 17 24 06" src="https://user-images.githubusercontent.com/306704/55965188-c14a0880-5c7e-11e9-9dca-471d9aaa7a19.png">

Here is the code used for

[2019-04-11 14:53] codestitch commented on #6316
@Thanks a million. @kroeder!!! it worked!.

[2019-04-11 14:53] #6316 closed

[2019-04-11 14:58] sebastian-nowak commented on #6136
For those of us mortals, what is storysource v2? Is that some new 5.x.x release?

[2019-04-11 16:24] #5668 closed

[2019-04-11 17:38] bbellmyers opened #6492 "Library upgrade of react-treebeard to 3.2.0 breaks storybook ui."
**Describe the bug**
Running an upgrade on storybook upgrades react-treebeard dependency to 3.2.0, which breaks storybook/ui.

**To Reproduce**
Steps to reproduce the behavior:
1. delete node_modules and package-lock.json
2. Run npm install
3. run storybook
4. Storybook starts, but then immediately becomes a blank page, console shows errors with TreeBeard.

**Expected behavior**
Storybook should s

[2019-04-11 22:08] shilman commented on #6219
@justindra we're in the process of migrating our codebase to typescript, so this problem should go away pretty soon

@kroeder @gaetanmaisse anybody have a workaround in the meantime?

[2019-04-11 22:10] shilman commented on #6492
What version of Storybook?

[2019-04-11 22:13] shilman commented on #6136
@sebastian-nowak Probably 6.0 :trollface:

[2019-04-11 22:51] shilman commented on #6489
Did you run `adb reverse tcp:7007 tcp:7007`? Sometimes this is necessary to get android devices to talk to the server

https://github.com/storybooks/storybook/issues/6469

[2019-04-11 23:04] shilman commented on #2531
Jiminy cricket!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.25 containing PR #6383 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-04-11 23:04] shilman commented on #5183
Good golly!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.25 containing PR #5308 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-11 23:04] shilman commented on #5533
Son of a gun!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.25 containing PR #6486 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-11 23:04] shilman commented on #6298
Ermahgerd!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.25 containing PR #6347 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-11 23:04] #6298 closed

[2019-04-11 23:04] #5533 closed

[2019-04-11 23:22] milesj commented on #5533
@shilman Is there a migration guide for 5.1? Seeing as how there are 25 alpha releases... it sounds intense.

[2019-04-12 00:20] piperchester commented on #6492
@shilman we're seeing this break on at `^4.1.16`.

[2019-04-12 00:44] stheobald opened #6493 "Storybook Server UI bottom pane renders BEHIND top pane"
When running the storybook serverUI (ReactNative project), the header, and content of the bottom pane (addons etc) is rendered behind the (transparent) story pane.

Expected that the bottom pane would have sole occupancy of the area below its draggable header.

Seen on Linux Chrome, and confirmed by @benoitdion
![sb_serverUI](https://user-images.githubusercontent.com/10693305/56004634-826c8f00-5d2

[2019-04-12 01:38] shilman commented on #6492
Thanks for the heads up. 🙏 I'll update 4.x this weekend!

[2019-04-12 01:52] shilman commented on #5533
@milesj I release an alpha once every few days. The releases typically contain new features, bugfixes ahead of getting patched back into `master`, and dependency updates. Right now, the only major migration is for React-Native and it's documented here:

https://github.com/storybooks/storybook/blob/next/MIGRATION.md#from-version-50x-to-51x

Since this project has so many contributors, it usually re

[2019-04-12 02:28] #6198 closed

[2019-04-12 02:56] milesj commented on #5533
Awesome thank you!

[2019-04-12 03:22] shilman commented on #5533
Please give this a try and let me know how it works for you. If it works well and is not breaking anything I'll patch it back into 5.0 even though that’s probably technically a violation of semver. Let me know what you think!

@leoyli @tmeasday @uriel-sf @pandaiolo @andyindahouse @ndelangen @jack-sf @milesj

[2019-04-12 04:24] #4945 closed

[2019-04-12 04:35] shilman commented on #5648
@omaracrystal @tnatanael Have you tried the `preview-head.html` approach?

[2019-04-12 05:57] hellotusharkhanna commented on #6338
[Change (baseConfig, env, config) to { config } in storybook webpack.config](https://github.com/storybooks/storybook/issues/5877#issuecomment-469857645)

[2019-04-12 06:49] NemanjaManot commented on #6489
Yes, but nothing is changed..

[2019-04-12 06:52] mohsinulhaq commented on #4995
return baseConfig;
}
May I know why all these functions are marked async? I remove async and it still works.

[2019-04-12 06:58] #6489 closed

[2019-04-12 07:11] bennypowers commented on #6135
@Armanio did your investigations turn up anything helpful?

[2019-04-12 08:01] gaetanmaisse commented on #6219
I think a quick workaround is to cast `withKnobs` as `any`:
[code]
Hope it will be migrated to TS soon 😉

[2019-04-12 09:11] LucaMele opened #6495 "storybook/html addon not rendering HTML, just string"
**Describe the bug**
While creating an addon in `storybook/html` i cannot render childNodes. In `storybook/react`, as far as i understood the code if you pass a child React Component it will render the React children. In Storybook Html we dont have react and therefore we need to be able to render childrens.

**To Reproduce**
My code:

[code]

**Expected behavior**
render should accept type HTMLEle

[2019-04-12 09:12] jantimon commented on #6492
Can confirm - we had the same issue (which caused an empty storybook with that stack trace).
Using the older `react-treebreard` version fixed it.

Thanks a lot @piperchester and @shilman

[2019-04-12 09:13] LucaMele commented on #6495
error message in console:

` Warning: Functions are not valid as a React child. This may happen if you return a Component instead of <Component /> from render. Or maybe you meant to call this function rather than return it.`

[2019-04-12 09:29] benediktvaldez commented on #6000
I ran into a similar problem today, in my case I was trying out the color blindness emulation and realised that the background isn't affected by it. IMHO that sort of negates the purpose of the emulation.

My initial reaction @shilman is to disagree. You're right that the backgrounds tool is a display helper, but accessibility is in so many ways exactly about the visual aspect, which leads me to t

[2019-04-12 09:52] mmintel opened #6496 "Can't run storybook in docker"
Hi there,

I am not able to run storybook in docker. Everytime I run `docker-compose up` I can see the port bumped by one, even though I am passing the port as a CLI option.

from my `docker-compose.yml`:
[code]

in my `package.json`:
[code]

on `docker-compose up` storybook boots up just fine and also shows the message:
[code]

Although when I open those URLs in my browser it results in `This sit

[2019-04-12 10:33] mtuzinskiy commented on #6308
Any thoughts or comments on this?

[2019-04-12 11:34] BinaryCry opened #6498 "Error around workaround"
I wanna use Storybook with my project but components in there predominantly was making with Lit-Element.
Regarding a workaround described [here](https://github.com/storybooks/storybook/issues/4958#issue-389191229) I got an error after I created webpack.config.js in .storybook dir and put there next config:
[code]
**### ERR! TypeError: Cannot read property 'module' of undefined**

[2019-04-12 12:10] shilman commented on #6498
What version of storybook? That's a 4.x config and if you're using 5.x you need to migrate it:

https://github.com/storybooks/storybook/blob/next/MIGRATION.md#from-version-41x-to-50x

[2019-04-12 12:27] DimitrK commented on #5878
I can't get the general branding working on `Storybook 5.1.0-alpha.24`. That means neither `brandTitle` nor `brandImage` seem to have an effect. The rest of the theming seems to be working fine though.

I tried the following:
- Setting a URL (https://www.mybrand.com/image/path/file.png)
- Setting a URI relative to `brandUrl`
[code]
- Import the file, add the webpack loaders pass it as an object to

[2019-04-12 12:30] flexiblefactory commented on #6110
Still relevant.

[2019-04-12 12:33] shilman commented on #6000
@benediktvaldez if you can make it happen, go for it!

[2019-04-12 13:07] BinaryCry commented on #6498
Oh, you are right!
Now it works. Thank you so much :)

[2019-04-12 13:29] nowells commented on #4995
I just wanted to say thank you for your work in making the `presets.js` available. It worked great, and was easy to migrate to (and actually made the settings easier with the more granular configuration).

[2019-04-12 14:00] slikts commented on #4995
@mohsinulhaq There's a practice of annotating promise-returning functions as async even if they don't use `await` syntax, just to ensure and document that they're async.

[2019-04-12 14:22] mohsinulhaq commented on #4995
wouldn't that result in wrapping promise inside another promise?

[2019-04-12 14:24] slikts commented on #4995
You can't wrap JS promises, as they automatically flatten.

[2019-04-12 15:06] #6498 closed

[2019-04-12 15:08] shilman commented on #6308
cc @kroeder @CodeByAlex @jonrimmer

[2019-04-12 15:22] jonrimmer commented on #6308
@mtuzinskiy This may have been fixed by #6094. Can you test using `@storybook/angular` version `5.1.0-alpha.25` and see if it still happens?

[2019-04-12 15:25] mohsinulhaq commented on #4995
Wow, I didn't know that. Thanks a lot @slikts !

[2019-04-12 15:40] #5234 closed

[2019-04-12 16:40] #5336 closed

[2019-04-12 16:47] haruelrovix commented on #6487
It was due to wrong `webpack.config.js`.

[code]

Fixes, this [commit](https://github.com/haruelrovix/react-native-elements-storybook/commit/e1775aee1cb3b3af95de8bcb70c3e450db789780#diff-6da49b24efd584154cfb4ec759745192):

[code]

`build-storybook` work flawlessly now. Result: [http://rne-storybook.surge.sh](http://rne-storybook.surge.sh)

@shilman You can close this issue 🤝

[2019-04-12 16:55] aralroca opened #6501 "[Security] Vulnerability in `marked` (addon-info)"
See: https://nodesecurity.io/advisories/812

![image](https://user-images.githubusercontent.com/13313058/56053416-51a64d00-5d54-11e9-9740-755848b2fcfd.png)

[2019-04-12 17:01] #6487 closed

[2019-04-12 17:49] mtuzinskiy commented on #6308
@jonrimmer That would be great! I tried to update the `@storybook/angular` in  basic example to `5.1.0-alpha.25` and got this:
[code]

[2019-04-12 19:07] Armanio commented on #6392
Guys, I apologize: it's my mistake, I fixed zoom and broke background addon.
I create PR to fix my past mistakes. 🔝

[2019-04-12 19:08] alexlafroscia commented on #5817
Alpha version fixed the issue for me, thanks @shilman !

[2019-04-12 19:15] anthonytranDev commented on #5962
Hi @Keraito, how can I contact you - so that you check whether my Gatsby + Storybook support fits?

[2019-04-12 20:10] mattkoch614 opened #6504 "Storybook configuration for CKEditor 5"
We are attempting to set up a basic story for a CKEditor 5 component in our React project. This project uses **create-react-app**, and we have followed the instructions here to get it working: https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/frameworks/react.html#using-create-react-app2

These instructions had us eject the `webpack.config.js` file and modify it accordingly. The

[2019-04-12 22:19] firaskrichi opened #6505 "CRA & Storybook webpack clash"
CRA 2.1.5 & Storybook webpack clash - I tried with the latest alpha v of storybook v5.1.0-alpha.25 and the stable version and the problem happens in both

[code]

[2019-04-12 23:46] shilman commented on #6505
@mrmckeb Is this related to https://github.com/storybooks/storybook/pull/5308?

[2019-04-12 23:48] shilman commented on #6201
Does anybody prefer the current behavior? If not, I think we can make the change

[2019-04-12 23:51] shilman commented on #6308
@mtuzinskiy can you try clearing your node_modules and possibly your yarn.lock?

[2019-04-12 23:53] shilman commented on #5378
Closing. Please comment if you're still seeing this problem on recent alphas

[2019-04-12 23:53] #5378 closed

[2019-04-13 01:09] lhguerra commented on #6392
Just tested and it is working just fine. Thank you guys :)

[2019-04-13 01:09] #6392 closed

[2019-04-13 01:19] jeaster12 opened #6506 "Add url parameter for collapsing sidebar"
**Is your feature request related to a problem? Please describe.**
Currently collapsing the sidebar is only available globally in the options, but not as a URL parameter.

For instance we can embed the story in a buttons section of a docs with all the correct options and knobs selected and present in the URL. However the sidebar remains open - if we collapse it in the config - it ruins the usabili

[2019-04-13 02:24] shilman commented on #6392
w00t!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.26 containing PR #6502 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-04-13 08:41] mmintel commented on #6496
I there, was my fault!

it must be
[code]

instead of
[code]

[2019-04-13 08:41] #6496 closed

[2019-04-13 09:39] mtuzinskiy commented on #6308
@shilman Yes that was it. But unfortunately it didn't solve the problem. I created the sample project, which uses `5.1.0-alpha.25`:
https://github.com/mtuzinskiy/storybook-hmr-temp
To reproduce, please clone it, run `yarn install` and then `yarn storybook`.
It'll render the simplistic Input component.
Enter anything in the input, and then change the `margin:` value in `input.component.scss`. You'l

[2019-04-13 13:36] Hypnosphi commented on #6201
I do

[2019-04-13 13:36] Armanio opened #6507 "SB fail on browser window resize"
**Describe the bug**
Like in [this](https://github.com/storybooks/storybook/issues/5910) issue, but if you add jest addon you get a fatal error.

**To Reproduce**
Steps to reproduce the behavior:
Run cra-kitchen-sink
Resize browser window to less 600px
See error

**Expected behavior**
Mobile view

**System:**
 - OS: any
 - Device: any
 - Browser: any
 - Framework: any
 - Addons: jest
 - Version: 5

[2019-04-13 15:38] hatton commented on #4739
In webpack.config.js, I was getting

`TypeScript error: Cannot compile namespaces when the '--isolatedModules' flag is provided.  TS1208`

Worked around this by adding
``export function dummy() {}``

to the top of that file. It would make more sense to tell CRA to ignore `.stories/`,  but I don't know how.

[2019-04-13 15:49] divbhasin commented on #6493
@stheobald @shilman @benoitdion I would like to work on this issue, but haven't been able to duplicate it. I created a react-native project, setup Storybook for react-native, installed some add-ons, and ran `yarn storybook`. Is there something I'm missing here?

[2019-04-13 16:30] divbhasin commented on #6506
@jeaster12 @shilman I can work on this feature. I was thinking that the user can probably just toggle the menu themselves if we present the static storybook but that is a few extra steps which is bad for usability if the intent is to just showcase a component.

[2019-04-13 17:10] shilman commented on #6493
@divbhasin Haven't repro'd myself yet, but from what I can tell from the screenshot the page is in its loading state. Is that what you're looking at?

[2019-04-13 17:34] #5438 closed

[2019-04-13 21:06] divbhasin commented on #6506
I was going through the codebase and saw that we already support something like this. In https://github.com/storybooks/storybook/blob/next/lib/api/src/modules/url.ts, there is support for 'nav' parameter. 'nav=0' hides the sidebar, and 'nav=1' shows it (the default).

[2019-04-13 21:24] backbone87 commented on #6201
maybe we just provide both cli flags: `--option` and `--no-open` and allow to configure this once `storybook.config.js` landed.

[2019-04-13 21:52] matthewharwood commented on #6122
@shilman I make the smallest app I could with preact@next, fela, & storybook here:
https://github.com/matthewharwood/testing-storybook-fela

I'm still unable to figure out why it's broken.

I tried the preact-kitchen-sink and I was unable to even get preact working.  Any help would be awesome!

[2019-04-13 22:58] Armanio commented on #6135
@bennypowers honestly, no. Sorry. 😥
But first, I'll want to get @shilman and @ndelangen opinions.
SB use 'polished' not many times:
<img width="435" alt="Снимок экрана 2019-04-14 в 1 46 25" src="https://user-images.githubusercontent.com/3195714/56086065-71726980-5e57-11e9-885e-760eac036aac.png">

Some features can realize by native CSS (with rgba, filters, etc). But not all. It's can be a design p

[2019-04-13 23:32] zhaoyi0113 opened #6510 "Storybook doesn't work for nodejs 7.2.1"
When I tried to add storybook on a react application. I got below error. It is caused by the nodejs I am using doesn't support `async` syntax. I have configured `babel` and `webpack` to transpile the code but it doesn't seem to work. How can I make storybook work for node7?

[code]

[2019-04-14 00:07] divbhasin commented on #6493
@shilman I didn't see the crna app in the examples-native folder before. I'm able to reproduce on that app. I will work on a fix.

[2019-04-14 00:27] shilman commented on #6135
Thanks for investigating @Armanio.  Since it's not used much we should be able to switch it out  for something more permissive without too much hassle. But I'll defer to @ndelangen and @domyen on theming decisions since they did the work, and will be maintaining our themes

[2019-04-14 00:31] shilman commented on #6510
@zhaoyi0113 Unfortunately we have a node requirement of 8.6 and above:

https://github.com/storybooks/storybook/blob/next/package.json#L190-L193

[2019-04-14 01:29] shilman commented on #5872
Boo-yah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.27 containing PR #6390 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-14 01:29] shilman commented on #6507
Crikey!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.27 containing PR #6508 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-14 01:29] #5872 closed

[2019-04-14 01:29] #6507 closed

[2019-04-14 02:34] #5435 closed

[2019-04-14 08:32] Phoenixton commented on #6481
Ok so I believe that's not exactly what's happening.

After testing it extensively, I think that what happens is the following (For reference, showNav refers to the stories on the left and showPanel to the addon panel)

1) You start by not being in Fullscreen, hence {isFullScreen == false, showNav == true, showPanel == true}.
2) You go FullScreen by pressing F. This sets {isFullScreen to true, **b

[2019-04-14 10:41] backbone87 commented on #6427
knobs values must be passed in as prop default values. (this was a change done somewhere in sb 4.x, but not very well documented):
[code]

[2019-04-14 10:59] Armanio commented on #6420
Hey @Glazy! I like it, it will decide any problem with 'info' toggle.
Are you have progress? I can help you? Let me know.

[2019-04-14 12:06] Armanio commented on #4602
Hi @mpaarating! If you didn't change your mind and its feature request its actually: yes if user choice "no" app should be an exit.
Let me know if you want to start working about this.
Thank you!

[2019-04-14 12:52] shilman commented on #6481
@phoenixton thanks for looking into this! Your analysis sounds spot on. I think the UI should do what the user expects, which use to show the add-ons panel when the user presses A, or the sidebar when user presses S. i think we can achieve that by updating the handler logic in full screen mode without losing the state.e

What do you think?

[2019-04-14 12:57] Armanio commented on #6481
Easy, guys, eeeeasy.

[2019-04-14 13:03] Armanio commented on #6481
@shilman, @jalovatt and @Phoenixton catch fix. 🔝

[2019-04-14 13:30] Phoenixton commented on #6481
@Armanio Mind you, I can't test your code until tomorrow evening, apologies if I am way off base, but is that all that's needed? I would think it sidesteps the problem. To me, in togglePanel(),
[code]
makes logical sense. As in, if you're full screen and you want the addon panel to pop up, well... you're no longer fullscreen, see what I mean? (I also wonder why the change is only made for togglePa

[2019-04-14 13:41] Armanio commented on #6481
Hmm, now I rebuild storybook and see that I broke toggle panel. I investigate this issue today.

[2019-04-14 13:49] Phoenixton commented on #6481
I tried a couple of obvious fixes this morning and nothing worked well, I'll take a look at it again tomorrow evening if it's still open, no pressure. But I really believe it's worth considering a case where we redefine what being fullscreen really means (to plan for potential future panels we might want to have by default outside of addons and sidebar, or even if we want the toolbar to disappear