[2022-11-10 18:08] elliot-nelson commented on #17636
We are also seeing this issue on linux & macos, so I think it's an issue with any type of symlink (not just Windows).

This command succeeds:

[code]

But this command, pointing at the exact same folder, fails:

[code]

At this point we haven't found any workaround other than just using the relative path to point to the storybook folder. Oddly, if we _delete_ the `preview.js` file, the build-story

[2022-11-10 19:09] mbektimirov commented on #19286
Failing into the same error. @palerdot did you manage to resolve this?

[2022-11-10 19:27] mvaljento commented on #19793
@mandarini I tried removing all the unnecessary code etc. and still got the same errors. I have now shared my code in a public repo here, if you want to give running it a shot.

https://github.com/mvaljento/monorepo

[2022-11-10 20:15] jonniebigodes commented on #19703
Closing this as the documentation is now updated to reflect. Changes are already featured in a local 7.0 branch. They will be pushed in the upcoming weeks

[2022-11-10 20:15] #19703 closed

[2022-11-10 20:19] jonniebigodes commented on #19572
@emlai, sorry for the delayed response, a pull request is already been merged, addressing and closing this issue. A follow-up one will ensue in the upcoming weeks for the 7.0 documentation.

Once again, thank you for bringing this to our attention. We appreciate it 🙏 !

Hope you have a great day!

Stay safe

[2022-11-10 20:19] #19572 closed

[2022-11-10 21:16] mandarini commented on #19793
Hi there @mvaljento ! Thanks for taking the time to put this together. I'll try to take a look at it tomorrow!

[2022-11-10 21:33] augustl commented on #17405
Can confirm, I'm experiencing this exact issue using the latest version of storybook.

[2022-11-11 07:04] HuiWang111 opened #19800 "[Bug]: ArgsTable cannot automatically generates when I write .tsx vue components"
### Describe the bug

when I use .tsx write vue components，storybook cannot automatically generate JSDoc to ArgsTable description. But use .vue to write，it work fine.

### To Reproduce

_No response_

### System

_No response_

### Additional context

_No response_

[2022-11-11 09:07] mandarini commented on #19793
Hello @mvaljento ! I just cloned your repo, ran `yarn` and then ran `nx storybook stories` and it works just fine. Here's the log: https://app.warp.dev/block/Q37r5KntUXnGpwZNmqPy0h

And here's a screenshot of Storybook running
<img width="1167" alt="Screenshot 2022-11-11 at 11 06 48 AM" src="https://user-images.githubusercontent.com/6603745/201305757-87b0dcdd-d0ba-4c3d-8bb3-49270f973e56.png">

Can

[2022-11-11 12:22] jonniebigodes commented on #18957
@MichaelrMentele  wanted to let you know that a pull request is already up addressing and closing this issue. Sorry for the delay in getting it pushed.

Once it's merged, the issue will be closed. Thanks for reaching out with this small but rather crucial issue. Appreciate it 🙏 !

Hope you have a great weekend.

Stay safe

[2022-11-11 12:27] alirezamirian commented on #18234
For me the issue goes away as soon as a change is made in the mdx file, causing a hot-reload.

[2022-11-11 16:56] thomaswelton commented on #16555
Thanks, I ran `yarn dedupe` instead of manually editing the lock file and this resolved my issue

[2022-11-11 18:03] brettlyne commented on #11515
In case anyone else ends up here that's
- not using Typescript
- can build fine, but get error in Storybook dev server

What worked for me was [upgrading to webpack 5 in main.js](https://storybook.js.org/docs/vue/builders/webpack#webpack-5)
1. install `@storybook/builder-webpack5` `@storybook/manager-webpack5`
2.
[code]

[2022-11-11 18:06] EnyakStew opened #19810 "[Feature Request]: Write proper documentation for components exported by @storybook/addon-docs"
### Is your feature request related to a problem? Please describe

I couldn't find any documentation on how to use Docs "blocks", i.e. components exported by @storybook/addon-docs.
As components like `Primary` seem to have a particular logic that cannot be inspected, it would be great to have proper documentation on how to use them.

### Describe the solution you'd like

Create documentation on ho

[2022-11-11 18:08] mhesham32 commented on #12489
I think @jonniebigodes answer will be perfect for most scenarios but there is a problem if you're using something like Firebase where the back-end endpoints are hard to track not like a regular API. Does anyone have a suggestion about this case? I think we can mock the data of the query by using `queryClient.setQueryData('rest-ricky', mockFn)` but will this be applied for all the references of thi

[2022-11-11 18:31] blowsie commented on #12850
I too have encountered this issue, wondering why my props are missing from the table.
I'd prefer not having to maintain storybook manually to keep it in sync with my components.

[2022-11-11 19:33] theElectricBear commented on #17636
We found an acceptable solution here:
issue: [5362](https://github.com/storybookjs/storybook/issues/5362)

[2022-11-11 21:22] NatoBoram opened #19811 "[Bug]: `storybook init` doesn't work with `pnpm`"
### Describe the bug

I'm trying to create a new project with SvelteKit, TypeScript and Storybook but it's pretty difficult. I'm encountering a wide range of issues.

This one is about setting up the project in a fresh, new, extra virgin workspace.

1. Despite the project being setup with `pnpm`, having a `pnpm-lock.yaml` and no `package-lock.json`, the dependencies that `storybook` installs are f

[2022-11-11 21:32] NatoBoram commented on #19811
Got it. We have to replace `pnpx storybook init` by this:

[code]

However, this means the instructions at https://storybook.js.org/docs/svelte/get-started/install are wrong.

[2022-11-11 21:32] #19811 closed

[2022-11-11 22:01] literalpie opened #19812 "[Bug]: certain glob patterns in stories dramatically slows down launch time"
### Describe the bug

Before the webpack build even starts, the build gets stuck after logging "Using default webpack5 setup" for over a minute - doubling the time it takes to launch storybook.

Changing our `stories` config value from `../../../my-lib/react-[box|stack]/index.stories.tsx` or ``../../../my-lib/*/index.stories.tsx`` to `["../../../my-lib/react-box/index.stories.tsx", "../../../my-li

[2022-11-11 22:47] muhammad-saleh opened #19813 "[Bug]: Next.js 13 - Broken next/link styles due to missing html attributes on <a>"
### Describe the bug

[Reporduction repo available]
https://github.com/muhammad-saleh/storybook-next13-link

We were migrating one of our projects from Next.js 12 to 13, one of the new changes is a new `next/link` component. We use Chromatic to detect visual regressions. Migration was smooth until we found regressions with links.
After investigation we found that Storybook doesn't emit props passe

[2022-11-11 22:54] muhammad-saleh commented on #19813
As a workaround, I added this to `preview.js` to destructure the props to a child anchor. I'm still not sure if this will cause regressions or if this will cause Storybook/Chromatic to diverge from the main app.

[code]

[2022-11-12 00:33] jeanfredrik commented on #14489
Please try upgrading to v5.x of the addon and install `prettier` and `react-syntax-highlighter` as direct dependencies (check the readme). It should fix the problem with conflicting Prettier versions because it's now only a peer dependency.

[2022-11-12 00:54] joshwooding commented on #19763
Reproduced and have a fix :) Will raise a PR soon

[2022-11-12 04:04] rlam3 commented on #16871
@habtim were you able to get around this issue?

[2022-11-12 07:52] robin-ambachtsheer opened #19815 "[Feature Request]: Make background.hoverable themeable"
### Is your feature request related to a problem? Please describe

Almost every aspect of the UI is themeable by providing a custom theme object, but the hover state of the buttons in the sidebar menu is not included for some reason.

### Describe the solution you'd like

Allow to set a color for the `background.hoverable` theme variable.

### Describe alternatives you've considered

_No response_

[2022-11-12 12:05] henryobiaraije commented on #11916
Yea. Turning `strictBindCallApply` on in tsconfig works.

[2022-11-12 12:47] habtim commented on #16871
Hey @rlam3,
Yes, thank you 👍

[2022-11-12 12:47] #16871 closed

[2022-11-12 14:27] mvaljento commented on #19793
@mandarini Thanks very much for testing it. Indeed, I can get it working if I install the packages with yarn! However if I use npm (which I normally do) I still get the same errors even with the freshly pulled test repo. I tried upgrading to the latest npm 9, but it didn't help.

I can keep using yarn, since it seems to work, however would be useful and interesting to understand the reason. I'm no

[2022-11-12 14:57] darklight9811 opened #19816 "[Bug]: update deprecations"
### Describe the bug

when running the storybook app it throws this messages:

[code]

### To Reproduce

[code]

### System

[code]
[code]

[2022-11-12 15:13] MatanelGordon opened #19817 "[Bug]: Failed creating a repro"
### Describe the bug

I had another issue in mind, but as i was trying to create a repro, i stumbled an error:
<img width="1099" alt="Screen Shot 2022-11-12 at 16 55 23" src="https://user-images.githubusercontent.com/72258277/201479972-eac03624-0457-4445-9f86-ca9e7de36a8d.png">

I guess it's something to do with you not producing a version in your generated `package.json`.

### To Reproduce

[code

[2022-11-12 18:51] remleduff commented on #17398
I am having the exact same problem in my own project where I'm trying to move storybook to a subfolder.

However, I just tried your reproduction repo, and it didn't work for the v6 case for me either. Could this be node version related? I'm on a pretty old version and get these messages when I npm install:
[code]

[2022-11-12 20:34] JonathanLefebvreV commented on #6247
I have the same problem and am experimenting for weeks to find a way without success.
 Did you find a solution @Jonathan0wh ?

[2022-11-13 15:58] shilman commented on #18732
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.49 containing PR #19790 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-11-13 15:58] shilman commented on #19176
Hurrah!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.49 containing PR #19689 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-11-13 15:58] #19176 closed

[2022-11-13 16:00] shilman commented on #19176
@IanVS @tmeasday is it correct that we won't pursue this issue now that @IanVS 's PR has been merged/released, and if we do enhance it, it will be a different approach with an `addons` field in `preview.js`? In other words, should I leave this closed?

[2022-11-13 17:09] IanVS opened #19821 "[Bug]: @mdx-js/react is not used in a pnpm-safe way"
### Describe the bug

When creating a new project with pnpm and storybook, an error occurs in the introduction mdx.

[code]

I guess this is because of the way that `@mdx-js/react` is included as a sub-dependency of a storybook package, but is being injected directly into the code that is run in the browser, which fails due to the way pnpm does not hoist dependencies.

### To Reproduce

[code]

##

[2022-11-13 17:36] shilman commented on #19821
I believe this is the off the shelf MDX behavior @IanVS. We might be able to do the re-export trick for addon-docs and tweak the compiler to import from addon-docs. However this is ugly because we'd need to figure out whether to reference addon-docs or addon-essentials.

Any ideas?

[2022-11-13 18:20] #19707 closed

[2022-11-14 05:26] tmeasday commented on #19176
That sounds right to me @shilman

[2022-11-14 07:18] kamil7777777 opened #19824 "[Bug]: Failed to resolve import of "storybookpreview.jsx""
### Describe the bug

Hello

I'm using storybook version alpha49 with vite plugin. When running storybook dev command `storybook dev`, I get following runtime error:
`[vite] Internal server error: Failed to resolve import "C:pathtorepo.storybookpreview.jsx" from "..\..\virtual:\@storybook\builder-vite\vite-app.js". Does the file exist?`
`Plugin: vite:import-analysis`
`File: /virtual:/@storybook/bu

[2022-11-14 09:56] OnlyWick commented on #19800
你有用 vite 吗, 我 vite + tsx + vue3, storybook 一直抛出 `[Vue warn]: Invalid VNode type:`, 但是正常的 vue3 项目能正常运行。

[2022-11-14 09:57] erkinun commented on #18920
hey @IanVS I created a fresh Vite project and added Storybook to it and getting the same exact problem.
[code]

And these are my dev dependency versions:
[code]
Shall I create another issue?

[2022-11-14 10:05] mandarini commented on #19793
Intersting. I'll test with `npm` and let you know!

[2022-11-14 10:21] BikashSah999 commented on #18386
Hi @shilman  @ndelangen  @tmeasday , the PR for this issue is up for review. Could you please review it?

[2022-11-14 10:24] Dschungelabenteuer commented on #19824
@IanVS this might be related to #19689, this seems to be a Windows-specific issue, which is why it didn't raise any error when I've tested it. Just went through a quick test on both environments, it still works fine on Linux.

[2022-11-14 11:04] KingSora opened #19826 "[Feature Request]: update OverlayScrollbars to version 2"
### Is your feature request related to a problem? Please describe

Currently Storybook uses `v1` of [OverlayScrollbars](https://github.com/KingSora/OverlayScrollbars). `v2` was released recently and has a lot of improvements compared to `v2`. (Focus on modern browsers, 50% smaller size, treeshaking and many more).
A full list of features and changes can be found [here](https://github.com/KingSora/

[2022-11-14 11:09] mandarini commented on #19793
So, the thing is, in YOUR repository, I CAN reproduce the error using `npm`. If I create a new repository, either using Nx 14.8.4 (which you are using), either using the latest version of Nx, with `npm`, I cannot reproduce the error. Everything runs smoothly.

[2022-11-14 11:14] florian-milky commented on #17003
I think this is the culprit: https://github.com/webpack-contrib/terser-webpack-plugin#parallel

[2022-11-14 11:21] mandarini commented on #19793
OOoooookkk!!!! Here are the changes I did to your `tsconfig.base.json` and got it to work!!!!! :D

![Screenshot 2022-11-14 at 1 21 06 PM](https://user-images.githubusercontent.com/6603745/201647621-1841622f-6a14-4edf-97a6-48b59a5c616b.png)

[2022-11-14 11:28] mandarini commented on #19793
Let me know when you get it to work, and I'll close the issue!

[2022-11-14 11:39] anuuu16 opened #19827 "ModuleNotFoundError: Module not found"
### Describe the bug

**LOG:**
99% done plugins webpack-hot-middlewarewebpack built preview c15b371328b6edb107ca in 2357ms
ModuleNotFoundError: Module not found: Error: You attempted to import /Users/anu/Desktop/projects/pax-ui/client/node_modules/@storybook/client-api which falls outside of the project src/ directory. Relative imports outside of src/ are not supported.
You can either move it insi

[2022-11-14 11:52] lamualfa commented on #15391
Overriding `jest-mock` version doesn't work for me even after deleting `node_modules` folder.

[Override](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides) field in `package.json` file:
[code]

Output of `npm list jest-mock`:
[code]

Any idea about this problem @Juice10 @larsenwork?

[2022-11-14 11:55] redjov commented on #8618
@joakimbeng Add `target='_self'` to the anchor element and storybook will not prepend iframe.html

[2022-11-14 12:32] IanVS commented on #19242
I'd encourage you to try it out now, @OnlyWick!  It's still in alpha, but is close to being beta, and it solves many problems already.  To upgrade, you can use `npx sb@next upgrade --prerelease`.

[2022-11-14 14:19] velsonjr commented on #18713
Upgrading to 6.5.13 still has below issues

- ansi-regex, Regular Expression Denial of Service
- trim Regular, Expression Denial of Service (ReDoS)
- loader-utils, Prototype Pollution
- trim-newlines, Denial of Service (DoS)
- unset-value, Prototype Pollution
- glob-parent, Regular Expression Denial of Service (ReDoS)
- loader-utils Regular Expression Denial of Service

Any timeline for this?

[2022-11-14 14:39] mvaljento commented on #19793
@mandarini Yes, it works now also with npm when I added the compiler options! Thanks!

[2022-11-14 14:40] #19793 closed

[2022-11-14 14:53] mtorre4580-peya commented on #18713
For a few dependencies I use resolutions from yarn to force the new version with the fix, but has a disadvantages to break something.

https://classic.yarnpkg.com/lang/en/docs/selective-version-resolutions/

[2022-11-14 15:13] IanVS opened #19830 "[Bug]: Vite runs `define` replacements in story-source"
### Describe the bug

Vite is performing [define](https://vitejs.dev/config/shared-options.html#define) replacements on the code in story source, which is a problem for a few reasons:

1) The code that appears there should appear largely as-written by the developer, so environment variables should remain intact (probably?).
2) It replaces with double-quotes, which breaks syntax since the whole sou

[2022-11-14 15:17] 01oseluiz commented on #12944
up

[2022-11-14 16:31] #12944 closed

[2022-11-14 17:07] yuri-scarbaci-lenio commented on #17587
Hello,
 Back to the original topic of this issues ( CSF not supporting `export * from` )
 this happens when moving from `6.4.22` to latest `6.5.13`

In our project we kind of followed an unspoken rule of naming the story file the same as the only export inside that file so the following was kind of possible for us
![image](https://user-images.githubusercontent.com/59743524/201721661-9a4598dd-2178-

[2022-11-14 18:58] tcolinpa commented on #15012
same issue here with third party types

[2022-11-14 23:15] cullylarson commented on #17081
I'm having a similar issue. `start-storybook` hangs without an error message or a status update. Addding `stats: "verbose"` to the webpack config and `--loglevel silly` to the command doesn't change the output.

[2022-11-15 06:17] gwin-lim opened #19837 "[Bug]: I use ejected CRA, react18, storybook/react6.5, but still got warning about ReactDOM.render()"
### Describe the bug

 I use ejected CRA, react18, storybook/react6.5, but still got warning about ReactDOM.render()
How could I fix this?

[click here to look warning msg](https://drive.google.com/file/d/1YmIzwvb0NGNfufo2j9NzuL4vFyNGq-7g/view?usp=sharing)

### To Reproduce

[code]

### System

[code]

### Additional context

I ejected CRA project.

"react": "^18.2.0",
"react-app-polyfill": "^3.0.

[2022-11-15 07:46] Sjeiti opened #19838 "[Bug]: Error: CSF: missing title/component _ when passing title by destructured object literal"
### Describe the bug

In order to write dry code we use a factory to populate the default export. This way all stories have the same configuration of decorators and we only need to add custom properties like `argTypes`.

[code]

Lately this has been failing with the following error

[code]

The error can be suppressed by explicitly adding a `title` property but that is sloppy code.

[code]

### To

[2022-11-15 10:59] tomjn commented on #17081
I managed to track this down to some SCSS code that was making webpack freeze. Unfortunately the output from storybook made it look like it was storybook itself that had frozen, and I couldn't extract the command storybook was using to reproduce it independently.

From the storybook end, I believe the solution is better signalling, so it's clear it's not storybook that has the problem, but the web

[2022-11-15 11:56] kozzztya commented on #19575
@alicnik thanks, added to global parameters in preview.js and it worked
[code]

[2022-11-15 13:30] AthulMuralidhar opened #19843 "[Feature Request]:"
### Is your feature request related to a problem? Please describe

So, i have a long running test and I want to be able to override the global timeout defined in the storybook config

### Describe the solution you'd like

the error suggestion says
[code]
I would just like this one to work

FYI:  the imports for `jest` looks like this: `import { jest } from "@storybook/jest";`

### Describe alterna

[2022-11-15 16:23] yarinsa commented on #14798
Having the same issue here

[2022-11-15 16:58] diegocrivelaro commented on #16949
I have the same problem! When I change from "Canvas" to "Documents", the modal persists on the canvas.

The solution below helped me to solve another problem, but not this problem I described.

[code]

[2022-11-15 17:10] aBiteleva opened #19844 "[Bug]: Looping when processing an array of objects, one field of which is a react node"
### Describe the bug

I have a problem with using a storybook.

In my library, there is a Tabs component that accepts "tabs" as one of the props - an array of objects with the following structure:

[code]

When I pass just an array to this prop, with the structure above, everything works fine.

**BUT**, when it comes to the simplest function that returns the same array - the page and the whole sto

[2022-11-15 23:20] JReinhold opened #19846 "Portable Docs: Umbrella issue"
This issue is a collection of all issues and bugs that we need to fix to make Portable Docs usable. As we continue to try it out we should add to this list.

Currently the last known version to work* with Next.js is [`v7.0.0-alpha.33`](https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.33). An example can be seen at [this branch](https://github.com/storybookjs/portable-docs-nextjs-

[2022-11-15 23:21] jozef-drabik commented on #17344
I tried the same thing. Did not work for me. Nothing in terminal but when storybook starts i get this
![image](https://user-images.githubusercontent.com/104101610/202045547-d95beb7b-f8d5-4d46-80ea-970ff824ab5c.png)

[2022-11-16 05:48] BikashSah999 commented on #19318
Hi @shilman , Can I work on this issue and could you please give more clarification on desired behavior?

[2022-11-16 07:06] shilman commented on #19318
Hi @BikashSah999 thank you for volunteering to look at this.

Here's what I would recommend:
0. Read the contribution guide here: https://storybook.js.org/docs/7.0/react/contribute/code
1. Follow the reproduction steps above & verify that you can view the story (`hooks--use-state`), which should render without error.
2. Next, comment out the early exit code in the `play` function referenced above

[2022-11-16 09:42] AmirTugi commented on #12078
Is there any progress with this?

[2022-11-16 11:49] yarinsa commented on #12129
If anyone is looking for a solution working with ant-design & react-docgen-typescript. The following solves the issue:
1. In the component level, redeclare the Props even if empty, "redeclare" the component so docgen can infer the propTypes (see example)
[code]
2. Add the following configuration to filter in antd props (node_modules is filtered out by default)
[code]

[2022-11-16 12:19] AndyKIron commented on #14026
It works for me. But maybe you know how to Remove scrollbar from iFrame without height changes?

[2022-11-16 14:05] MichaelBitard commented on #17578
Thanks @AndrewLeedham!

For those searching for vue3, here is what we use:

[code]

[2022-11-16 14:23] JReinhold commented on #19215
This is a broader situation with most of the controls, most of them can not be unset:

- Boolean
- Date
- Files
- Number
- Object

So if we want to support this functionality without workarounds we should think about it from a holistic approach, a design that makes it possible to unset all of the different control types, and not just button.

[2022-11-16 14:42] Shinokami opened #19855 "[Feature Request]: add i18n to sb7 vue 3 vite"
### Is your feature request related to a problem? Please describe

stack: vue 3, vite.
I'm trying to run storybook 7 alpha but can't add the `i18n` package.
it used to be like this in `preview.js`, but now it can't work. unable to import `app`
[code]
<img width="754" alt="image" src="https://user-images.githubusercontent.com/38629018/202206602-9a3bc832-c4f0-47d2-a7c0-ec95f06e24bd.png">

### Descri

[2022-11-16 14:50] IanVS opened #19857 "[Bug]: Unit test coverage is broken in CI"
### Describe the bug

Currently seeing this in CI:

[code]

### To Reproduce

[code]

### System

_No response_

### Additional context

I tried changing to a default export, but then I get errors like this:

[code]

So, I'm wondering if the image stub is broken.

[2022-11-16 15:58] aaronadamsCA commented on #17398
@remleduff The reproduction repository uses Yarn, so `yarn install` would probably be better. There's a chance the dependencies are just shaking out a bit differently between Yarn and NPM.

[2022-11-16 17:21] yannbf commented on #19857
Closed by #19858

[2022-11-16 17:21] #19857 closed

[2022-11-16 17:41] MikeMatusz commented on #10054
I also came across some issues because I was trying to create a landing page for our Angular library documentation.  Wrapping in a Canvas is very constraining in terms of layout, and writing the landing page as a React component is hardly ideal given it's an Angular library.  I think a simple way to either disable built-in styles on a page level, or a new wrapper component that doesn't have any of

[2022-11-16 20:11] BikashSah999 commented on #19318
Hi @shilman , the PR for this issue is ready for review. Could you please review it?

[2022-11-16 20:55] daveeeeeeed commented on #19571
Following. Same issue here with version 6.5.13

[2022-11-16 22:49] alexgorbatchev commented on #18051
Also started happening for me, using version `6.5.12`. Tried with `--max-old-space-size=4096` with no observable difference. In my case storybook is stuck at 57% seemingly forever. I waited an hour and it made no progress.

[2022-11-16 23:29] alexgorbatchev commented on #14405
I found that my storybook was hanging because of `@babel/plugin-proposal-decorators` in babel config file.

[2022-11-16 23:31] fcisio commented on #18556
Very much looking forward to this!
My usage of SWC breaks my MDX (01) at the moment and MDX2 seems to be way more stable in my environment.

But my tables & checkboxes can't currently be transformed.

[2022-11-17 02:47] shilman commented on #19215
@JReinhold FWIW the current workaround is to reset all controls for the story. Not great, but at least it's an option. Would be great to get per-control reset, but would probably need some design input from @domyen @MichaelArestad

[2022-11-17 07:21] shilman commented on #18639
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.50 containing PR #19508 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-11-17 07:21] shilman commented on #19763
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.50 containing PR #19777 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-11-17 07:21] shilman commented on #19824
Hurrah!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.50 containing PR #19822 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-11-17 07:21] shilman commented on #19857
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.50 containing PR #19858 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

[2022-11-17 07:21] #18639 closed

[2022-11-17 07:21] #19763 closed

[2022-11-17 07:21] #19824 closed

[2022-11-17 07:36] RonnyLark opened #19865 "[Bug]: csf migration tool throws error about missing package"
### Describe the bug

I fresh-installed Storybook 7 and would like to convert my stories to csf3.
I attempted using the migration tool as described here:
https://storybook.js.org/blog/component-story-format-3-0/
And used the following command:
[code]
This command fails and throws the following error:
[code]
I had thought I missed something but @shilman on Discord said this might be a bug so here w

[2022-11-17 07:45] nismangulov opened #19866 "[Bug]: CVE-2022-37603 vulnerability in @storybook/addon-storysource"
### Describe the bug

Hi guys!

Could we update `loader-utils` to version 2.0.4 (currently used 2.0.3), which was used in latest version of `@storybook/source-loader`?

It is causing security issues in our repository

Snyk vulnerability report: https://security.snyk.io/vuln/SNYK-JS-LOADERUTILS-3105943

### To Reproduce

_No response_

### System

_No response_

### Additional context

_No response

[2022-11-17 08:24] yarinsa opened #19867 "[Bug]: Add viteFinal to StorybookConfiguration"
### Describe the bug

The current
`import type { StorybookConfig } from '@storybook/react/types';`

Includes "webpackFinal" in it's types but I am using viteBuilder and got viteFinal.

### To Reproduce

[code]

### System

[code]

### Additional context

_No response_

[2022-11-17 10:39] kasperpeulen commented on #19867
@yarinsa You should import this type from the framework:

[code]

However, I get some issues when I try to do this:

[code]

You can get rid of those by not explicitly typing the `viteFinal` parameters.

[code]

As they are contextually typed now.

Seems because of the type definitions of vite 3.2 and 3.1 conflict. Shall we upgrade to vite 3.2 in the monorepo @IanVS @ndelangen?

[2022-11-17 11:38] andykono commented on #14026
I tried iFrame solution with docs: { inlineStories: false } storybook v6.5.12. But it has performance issues that make this solution unusable :(
Any other solutions? Is this error exist in storybook v7?

[2022-11-17 12:21] zigang93 commented on #19605
I had same problem.. well it is not random.. actually is sort by alphabetical

[2022-11-17 12:30] IanVS commented on #19867
@kasperpeulen Vite 4 will be released soon.  I think we need to find a way to be more flexible with the vite dependency and types, and use whatever the user already has installed.

[2022-11-17 13:36] blowsie commented on #9682
This doesn't work for new users.

I made some amendments for it to set the value for new and returning users.
[code]

[2022-11-17 13:38] daviddelusenet commented on #19813
I can confirm that this is an issue.

[2022-11-17 13:46] emlai commented on #19121
Caused by https://github.com/algolia/react-element-to-jsx-string/issues/732

[2022-11-17 14:04] Koda-Pig commented on #334
Thank you for sharing that snippet 🙏

I'm struggling to get it to work properly though. Could you please share an example of how to use that decorator in a Story?

[2022-11-17 15:50] bmarshall511 opened #19872 "[Bug]: Buffer is not defined when using Next.js 13 & async components"
### Describe the bug

Here's the component in question: https://github.com/Entermedia-LLC/nextjs-components/tree/671e9ca8da781a2a1a16c4bc84b1a127d413b3c1/templates/Page

When running storybook on Next.js 13 looking at a component in the `app` directory, getting:

[code]

Only happens when running storybook.

Found this https://github.com/storybookjs/storybook/issues/17344 and mentioned something a

[2022-11-17 16:05] stefanprobst opened #19873 "[Bug]: incorrect location of `.cache/.vite-storybook` folder"
### Describe the bug

when a storybook config folder is located et e.g. `./config/storybook/`, the `vite` builder will create a cache folder at `./config/node_modules/.cache/.vite-storybook/` instead of in the root `node_modules` folder.

afaict this is because it assumes [here](https://github.com/storybookjs/storybook/blob/next/code/lib/builder-vite/src/vite-config.ts#L47-L48) that the config fol

[2022-11-17 16:16] iansan5653 commented on #19605
Just sharing my workaround. This is pretty hacky and relies on Storybook internals which may break, but it allows me to customize which story becomes the primary one. I do this by defining a custom docs page component:

[code]

Which I then set in my `preview.js`:

[code]

[2022-11-17 16:20] jerkovicl opened #19876 "[Bug]: Storybook build fails"
### Describe the bug

## Current Behavior
Running build-storybook target for ui library with command  `nx run ui:build-storybook` fails with weird error

## Expected Behavior
Storybook runs as normal, no errors.

### Failure Logs
[code]

error about unresolved import is weird because if i go to the mentioned file i dont have that import written like that, its completely different

[code]

### Envi

[2022-11-17 16:58] BikashSah999 commented on #18780
Hi @shilman  @ndelangen , the PR for this issue is ready for review. Could you please review it?

[2022-11-17 17:43] yannbf opened #19878 "[Feature Request]: Compatibility with Angular 15"
### Is your feature request related to a problem? Please describe

Angular 15 was [released yesterday](https://blog.angular.io/angular-v15-is-now-available-df7be7f2f4c8), and our CI detected a regression in Storybook.

When running Storybook with Angular 15.0.0, Storybook opens fine in the browser, however an error is thrown in the console:

[code]

It's still unclear exactly what is the cause of

[2022-11-17 18:33] LeandrodeLimaC commented on #9394
Using
    "@storybook/react": "^6.5.13",

[2022-11-17 18:37] LeandrodeLimaC commented on #9394
Using "@storybook/react": "^6.5.13" and ran into the same issue 😅
[code]

I had to display those as inline radio so at least it shows wich option is select by default
![image](https://user-images.githubusercontent.com/34483410/202530219-5e85c33b-1fe1-4a48-8144-27a9c7f95eed.png)

[2022-11-17 22:25] helmutgranda commented on #15044
What about projects for Enterprise where we the infrastructure exists to host it and would be faster to deploy than having to get a green light to use Chromatic?

[2022-11-17 22:53] mturnersada commented on #18197
Still getting this issue on the latest version + npm

[2022-11-17 22:57] victorhenriq3 commented on #18473
Do you have the repository of this code? This problem already happened to me and I solved it just by deleting the **.cache** folder in `node_modules/.cache`

[2022-11-18 00:02] pm0u commented on #19813
Also confirmed here, this was driving me crazy. Tested the "mappings" functionality to pass JSX as options as well that I saw referenced somewhere and the problem still persisted.

next 13.0.3
react 18.2.0
storybook/react 6.5.13

[2022-11-18 00:06] pm0u commented on #19813
@muhammad-saleh 's fix worked for me THANKS! - the full fix I needed:

[code]

[2022-11-18 05:14] DaveLak commented on #14718
@shilman @ndelangen Correct me if I'm wrong but it looks like this issue can be closed as complete. @pahan35's fix from #16963 has been incorporated in the stable releases [since at least v6.5.0](https://github.com/storybookjs/storybook/blob/05070ca621fcebd46cd6c58fcb0eb24a35bbe651/lib/ui/src/app.tsx#L51).

[2022-11-18 06:44] #14718 closed

[2022-11-18 07:05] DaveLak commented on #15458
FYI @shilman [it looks like this issue was resolved](https://github.com/storybookjs/storybook/pull/15554#discussion_r791936330) by some other changes while #15554 was in progress. This can probably be closed as completed.

[2022-11-18 08:29] pauloamgomes commented on #19813
I got Next 13 Link working on SB by setting in the .env file `__NEXT_NEW_LINK_BEHAVIOR=true` or enforcing the value as below (required for example in Netlify as the we can't set env vars prefixed with __):

[code]

[2022-11-18 09:11] TomDoFuture opened #19882 "[Bug]: Storysource not working for v7"
### Describe the bug

Hangs on loading source...

### To Reproduce

Create Project with Svelte
Add SB to it @next so alpha.50
Add the storysource plugin then create a component and a story for it
Hangs on Loading source...

### System

[code]

### Additional context

I tested this on Sveltekit , but there is no reason why it would just break on Svelte

[2022-11-18 10:19] JReinhold opened #19884 "[Feature Request]: Add sun and moon icons to be used in theme switcher toolbars"
### Is your feature request related to a problem? Please describe

Adding a theme switcher to Storybooks is a pretty common scenario, and it's fairly easy to do as shown in this recent video:

https://youtu.be/FVg9eWQsUbU

The only thing missing is really good icons to be used in the toolbar options.

### Describe the solution you'd like

It seems like the industry has settled for the sun/moon ana

[2022-11-18 12:53] TomDoFuture commented on #19882
@IanVS

[2022-11-18 13:25] Buburanda opened #19887 "[Bug]:"
### Describe the bug

Yes

### To Reproduce

_No response_

### System

_No response_

### Additional context

_No response_

[2022-11-18 15:32] mukundkatpatal commented on #19866
The pull request is created @shilman https://github.com/storybookjs/storybook/issues/19866

[2022-11-18 16:06] pm0u commented on #19813
@pauloamgomes do you have any more information on what exactly the flag does? i tried to track that down but it was pretty hard to follow.

[2022-11-18 16:17] yannbf commented on #19813
@pm0u it's super tricky indeed to track it down. You can see explanation here: https://github.com/vercel/next.js/pull/36436, and it's equivalent of next.config.js -> `experimental.newNextLinkBehavior`

There's an open PR at #19834 which will take care of this (for Next.js 12 projects that use the flag, or Next.js 13 projects by default). Will soon be available in the next versions of Storybook 7!

[2022-11-18 16:22] pm0u commented on #19813
@yannbf thanks. So, from what I gather this is not yet the default in Next13? That seems odd, since in use it does seem to be using the new link syntax in my NextJS app (13.0.3), which is the same version used in my storybook (confirmed in the yarn.lock) without this ENV var set?

[2022-11-18 16:36] kylegach commented on #19813
Yes, the new link behavior is the default in Next13. But they engineered it in a way such that the behavior is dependent on that env var, which they set automatically within a Next app and must be manually applied when used outside of Next (which our PR does).

[2022-11-18 16:37] pm0u commented on #19813
Thank you for the explanation & fix! 🥇 that helps me a lot to increase confidence in working in storybook. cheers!

[2022-11-18 16:41] #19887 closed

[2022-11-18 16:42] shilman commented on #15458
Thanks @DaveLak I think you're right. Closing!

[2022-11-18 16:43] #15458 closed

[2022-11-18 18:17] MirKml commented on #19055
It seems that @shilman is responsible for plugin fork - https://github.com/storybookjs/react-docgen-typescript-plugin.
So @shilman please, can you update @storybook/react-docgen-typescript-plugin to upstream version which includes updates mentioned by @gravyboat which seems fixed this issue?

current stable Typescript is 4.9.2 (4.9 was released before 2 days), but many of us stuck with 4.7.x becau

[2022-11-18 19:22] Tilek0 commented on #9796
Hi everyone, i cant integrate less into my react app
i used yarn add less less-loader @types/less but there are not anough
a question is, I can't do like import styles from './someStyle.less'

[2022-11-18 19:58] yannbf commented on #19878
Update: the error seems to be related with changes in `@angular-devkit/build-angular`, from 15.0.0-next-3 to 15.0.0-next-4.

[2022-11-19 01:12] darvid7 opened #19896 "[Bug]: unsure how to disable a11y tests in automated testing"
### Describe the bug

Adding

[code]

To a story does not remove this from the test runner / axe tests.

### To Reproduce

[code]
[code]

### Additional context

_No response_

[2022-11-19 03:09] shilman commented on #19605
closing as dupe to #19605

[2022-11-19 03:09] #19605 closed

[2022-11-19 03:13] jonniebigodes commented on #19896
@darvid7, thanks for reaching out to us with your question. We appreciate it. Based on your description, the problem seems not actually with the test runner itself but rather a documentation issue. If you check the test runner's readme file, you'll see that there's a recipe added specifically for your use case, more exactly [here](https://github.com/storybookjs/test-runner#utility-functions), with

[2022-11-19 03:27] IanVS commented on #19707
@bryanjtc did you find out what was causing this?  I'm running into it with someone else's repo, and trying to figure out what's going on.

[2022-11-19 03:32] GarryCummins-Q4 commented on #19571
Following! Also same issue with version 6.5.13

[2022-11-19 03:41] viveleroi opened #19897 "[Bug]: Error when importing component from mdx: Unexpected dependency: false"
### Describe the bug

In sb 7 alpha 50, I am trying to use the documented example of `ArgsTable` in an mdx file. It causes an error in the console.

`WARN 🚨 Extraction error on app\components\buttons\buttons.docs.mdx: Error: Unexpected dependency: false`

### To Reproduce

[code]

My button component looks like this:

[code]
[code]

### Additional context

_No response_

[2022-11-19 04:50] bryanjtc commented on #19707
No, but when I upgraded to alpha 49 it was fixed.

[2022-11-19 06:40] darvid7 commented on #19896
Hi! yes that looks right, thank you.
Pleaase feel free to update the docs or i'm happy to do that for you if you like!

[2022-11-19 07:49] rebelchris commented on #8527
Sorry to reply to this closed issue, I'm on 7.alpha.50 and use comment like this:

[code]

But it doesn't get generated, am I missing some setup?

[2022-11-19 13:03] shilman commented on #18386
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.51 containing PR #19807 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-11-19 13:03] shilman commented on #18732
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.51 containing PR #19694 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-11-19 13:03] #18386 closed

[2022-11-19 20:50] jonniebigodes commented on #19896
No need to thank whatsoever. A pull request should be up in the upcoming weeks addressing this issue.

[2022-11-20 04:59] mayo0828 commented on #19513
I have same problem with `Next.js`, `pnpm` and `@storybook/react-vite`.
And I already tried [this solution](https://github.com/storybookjs/storybook/issues/19391) (It was a very helpful thread for solve some problems of my project) but the problem still exists.

[code]
Nothing appears
<img width="1437" alt="image" src="https://user-images.githubusercontent.com/52463060/202886320-14be4be5-c8d4-4df2

[2022-11-20 05:28] IanVS commented on #19513
I see one issue is that you have some different versions of storybook packages. Make sure they are all the same alpha version, that might help.

[2022-11-20 05:48] mayo0828 commented on #19513
@IanVS Thank you for your help and it worked! 🥳
current environment info after updated and removed several packages:
[code]

[2022-11-20 06:11] latin-1 opened #19902 "[Bug]: 7.0: Unmet peer dependencies for @storybook/preset-react-webpack"
### Describe the bug

[code]

### To Reproduce

[code]

### System

_No response_

### Additional context

_No response_

[2022-11-20 12:42] retyui commented on #18691
any progress?

[2022-11-20 22:30] matteusbarbosa commented on #7390
Remove your child components one by one, as this will help you identify which one is missing a property.

[2022-11-21 00:56] tmeasday opened #19904 "Backport #19623 (overriding `WebView`/`UrlStore`) to 6.5"
### Is your feature request related to a problem? Please describe

React Native wants to be able to define a non-web version of the view+store without needing to monkey patch and polyfill.

We have a solution in https://github.com/storybookjs/storybook/pull/19623 but we need to backport it to 6.5

### Describe the solution you'd like

As https://github.com/storybookjs/storybook/pull/19623 but leav

[2022-11-21 05:53] tmeasday opened #19908 "Automigration: 6.x directory-specifier to match `.stories.mdx` files"
### Is your feature request related to a problem? Please describe

If a user is using a stories glob that refers to a directory, in 6.x it will include `.stories.mdx` files and *not* `.mdx` files.

In 7.0 we would like it to match `.mdx` and *not* `.stories.mdx`. To make that change in a non-disruptive change, we need a migration that only runs on the transition between 6.x & 7, and changes:

a) s

[2022-11-21 07:24] BikashSah999 commented on #18870
Hi @shilman @ndelangen , Can I work on this issue and what would be the desired behavior?

[2022-11-21 10:51] Yobro7292 commented on #17470
I also get a warning in react-ts while I'm trying to import 'ComponentMeta' from '@storybook/react' it shows me that...

`Module '"@storybook/react"' has no exported member 'ComponentMeta'`

[2022-11-21 13:36] gduliscouet-ubitransport commented on #11492
I think the issue was closed by mistake (because maybe the issue was only partially fixed) ?

@shilman @merceyz if those stroybook addons are used on a Vue project, and it works, then for me yes it seems reasonable to mark `react` and `react-dom` dependencies as optionnal. But maybe I'm missing something ?

For now, the only workaround we have, if we want to keep yarn warnings readable, is to inst

[2022-11-21 14:21] djindjicdev22 commented on #17578
@MichaelBitard can you share some example setup as a whole repository? I would like to run it also with vitest, but nor sure:

1. where to put you snippet code
2. how to generate snapshots

[2022-11-21 14:23] MichaelBitard commented on #17578
@djindjicdev22 sure, here is our exact code source in our repo: https://github.com/MTES-MCT/camino/blob/master/packages/ui/src/storybook.spec.ts

let me know if you need more information :)

[2022-11-21 14:47] shilman commented on #19813
Hurrah!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.52 containing PR #19834 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-11-21 14:47] #19163 closed

[2022-11-21 14:47] #19813 closed

[2022-11-21 14:57] younthu commented on #18562
same here

[2022-11-21 16:01] #19876 closed

[2022-11-21 16:06] stuthib commented on #19186
Relieved to see this is an issue. I am having the same problem but using react with vite and trying to figure out for a few days now. Works fine on dev mode but fails saying the story is not instrumented on production build.

![Screen Shot 2022-11-21 at 11 04 08 AM](https://user-images.githubusercontent.com/12240549/203102023-b8a63885-eeaa-4191-a04f-fcb4f23c7224.png)

[2022-11-21 16:53] matsko commented on #19200
I've also run into this issue.

[2022-11-21 17:20] matsko commented on #19200
Looks like this is the current approach:

[code]

[2022-11-21 17:26] PaulieScanlon opened #19914 "[Bug]: MDX styles not working with @storybook/mdx2-csf"
### Describe the bug

Hi team, here's s small reproduction repo using the following:

- Node `v18.0.0`
- `@storybook/mdx2-csf`
-  `previewMdx2: true`
- ` builder: '@storybook/builder-webpack5'`

The introduction story does render but there's no styling on the markdown.

Here's s screen shot: [Storybook + MDX 2](https://res.cloudinary.com/www-paulie-dev/image/upload/v1669051305/Temp%20Stuff/storybo

[2022-11-21 18:25] amery commented on #13428
`pnpx sb@next init` is still needed in late 2022...

[2022-11-21 18:27] IanVS commented on #13428
@amery what do you mean it's still needed?  It should work properly, if not, can you explain the issue you're having?

[2022-11-21 18:28] amery commented on #13428
on a pnpm workspace going into `src/packages/foo`, `pnpx sb init` failed claiming typescript wasn't installed...

[2022-11-21 18:37] amery commented on #13428
@IanVS not complaining, I misread the date of the post. I thought it was October 2019 and wanted to inform newcomers the solution still applied.
I'm really sorry it sounded as a complain.

[2022-11-21 18:40] bgonzalez-thestable opened #19915 "[Feature Request]: Allow embedding component + code view (snippet)"
### Is your feature request related to a problem? Please describe

We are writing documentation for our internal component library. We use Storybook to handle core component functionality, props, settings, etc. and have a separate system to document setup instructions, use cases, examples, etc.

We're not seeing the desired behavior when embedding a story within our docs, being restricted to eithe

[2022-11-21 18:42] IanVS commented on #13428
No worries!  We know folks like using PNPM and I'm on a mission to make Storybook work correctly with it out of the box.  It's just been a bit tricky, is all, but we're getting close.

[2022-11-21 20:10] yagiz-noonlight opened #19918 "[Bug]: next/link className props is not available in storybook"
### Describe the bug

Using next/link component with className results in empty className in storybook, but works correctly in Next.js 13

### To Reproduce

[code]

### System

[code]

### Additional context

_No response_

[2022-11-22 02:22] alvara commented on #6155
Thanks @sag1v , this was the only solution that worked for me.

[2022-11-22 03:00] kimyvgy commented on #14482
Same issue

[2022-11-22 07:26] mJarsater opened #19920 "[Bug]: Args not setting default value in first render"
### Describe the bug

We are using args on the default export to set default values for out controls. However for one of our components (we are building webcomponents with Stenciljs) the controls does not get populated with these default values. In the component that is rendered the values are present and used but the radio boxes aren't pre-selected. If I refresh that page or go to the canvas tab

[2022-11-22 07:32] brionmario commented on #18764
We got the following error in our package which uses `@storybook/html`.

[code]

And as @LucaColonnello had mentioned, the package i created with `nx` had the `module: "commonjs"` and after removing it, storybook build was working as expected.

Thanks alot @LucaColonnello.

[2022-11-22 10:34] yannbf commented on #19878
**Another update:**

@alan-agius4 kindly helped and here are their findings:

[2022-11-22 11:38] abhijeet-shelhalkar opened #19921 "[Bug]: File controls are not resetting in storybook"
### Describe the bug

File controls (name of previous selected file) not resetting.

1. before reset button clicked.
![before-reset](https://user-images.githubusercontent.com/32697900/203303874-d2aa28bc-12fe-46fe-8a67-5ee6ef07b329.png)
2. after reset button clicked.
![after-reset](https://user-images.githubusercontent.com/32697900/203303873-ebb07700-17f4-434a-82d8-0a5ede7ae506.png)

**Note:** I am

[2022-11-22 11:50] valentinpalkovic commented on #18780
Hi @BikashSah999, the PR has been merged!

[2022-11-22 12:36] onigoetz commented on #19816
This bug seems to be identical to https://github.com/storybookjs/storybook/issues/19055

[2022-11-22 12:53] amolbs2106 opened #19922 "[Bug]:Failed to construct 'HTMLElement': Please use the 'new' operator, this DOM object constructor cannot be called as a function"
### Describe the bug

Getting below error for one of the custom element in angular:

Uncaught TypeError: Failed to construct 'HTMLElement': Please use the 'new' operator, this DOM object constructor cannot be called as a function.
    at TabsComponent.LifecycleElement [as constructor] (lifecycleElement.js:9:28)
    at TabsComponent.CustomElement [as constructor] (customElement.js:22:47)
    at new

[2022-11-22 14:18] BikashSah999 commented on #16701
Hi @shilman @ndelangen , Can I work in this issue and what would be the desired behavior?

[2022-11-22 14:24] jonniebigodes commented on #18780
@BikashSah999 wanted to follow up with you on a tiny item related to this issue and the pull request you've made addressing it. If you're ok with it, can you message me on our [Discord server](https://discord.gg/storybook) (same username), and we'll take it from there. Sounds good?

Hope you have a great week.

Stay safe

[2022-11-22 16:13] TheColorRed commented on #10846
I still cannot get this working in MDX `v6.5.12` so I just created my own component with the `linkTo` function.

[code]

[2022-11-22 17:05] BikashSah999 commented on #18870
@iKrishnaSahu  We can use this config to resolve this issue
[code]

[2022-11-22 17:28] hettiger opened #19926 "[Bug]: Constraint validation does not work on play function input"
### Describe the bug

Standard HTML [Constraint validation](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Constraint_validation) does not work properly when typing text into an input using a Storybook play function.

### To Reproduce

[code]

The input is required and has a min length. It should not be `valid: true`.

Now select the input element in the Chrome developer tools elements pa

[2022-11-22 17:57] rtturner opened #19927 "Webpack - Module not found Error Can't resolve '.storybook/preview.js-generated-config'"
### Describe the bug

Earlier today I started having issues trying to build storybook. Receiving an error complaining about not being able to resolve `.storybook/preview.js-generated-config-entry.js`. I assumed it was something in our codebase but trying many older commits that were working is still failing.

I noticed that the latest commits in storybook were failing this check: [ci/circleci: bui

[2022-11-22 18:04] FezVrasta commented on #10467
decorators and loaders are different

[2022-11-22 18:12] Marklb commented on #19878
From my understanding, `storybook dev` and `storybook build` are not supported anymore by the Angular framework and instead have to use the Angular builder. Storybook's init generator does not seem to be updated for that yet, but that is how the docs say to install in Angular: https://storybook.js.org/docs/7.0/angular/get-started/install

Switching to the builder seems to fix an Angular `15.0.0` p

[2022-11-22 18:19] yannbf commented on #19927
Hey @rtturner thanks for opening this issue and investigating!

A few hours ago, there was a release of [enhanced-resolve](https://www.npmjs.com/package/enhanced-resolve) v5.11.0, which ended up breaking Storybooks that use Webpack. You might be experiencing this issue if you:

- Installed a fresh Storybook, regardless of version (could be 6 or 7)
- Do not use package lock files
- Deleted your pac

[2022-11-22 20:40] jeremyzilar opened #19928 "[Bug]: Finding the Docs for configuring DocsPage is challenging"
### Describe the bug

Hey friends —

I am having trouble finding more information on the `DocsPage` feature included in Storybook and exactly how to implement it and get any text to show up in the Docs tab within a particular story.

As a member of a small engineering team, we don't have a lot of time to document components, so any work in Storybook is an act of love. It also means that there is n

[2022-11-22 20:53] PaulieScanlon commented on #10403
For anyone still wondering. Something like this seems to work.

[code]

[2022-11-22 20:58] tyhurson commented on #19927
Adding the `enhanced-resolve` override in `package.json` on a fresh project doesn't work for me. Still getting the webpack error.

For reference, I am using `@storybook/react` version `6.5.13`.

[2022-11-22 21:46] DavidLeonard77 opened #19931 "[Bug]: Can't get storybook to run on a vanilla install."
### Describe the bug

Can't get storybook to run on a vanilla Angular install. I can reproduce this on macOS and PC on ,multiple computers.

Simple create -> install -> run.

It seems to be looking for storybook-init-framework-entry.js but can't find it.

Node: v18.12.1
Angular: 15.0.0
npm: 18.9.2

Nothing fancy here. Just following the docs as a new user.

Steps to reproduce:
Create angular app `

[2022-11-22 22:28] Kwooda commented on #19008
I mean, it's only Thanksgiving.

[2022-11-22 22:29] Kwooda commented on #19008
Oh, and now when we try to upgrade to 6.5.13, we get NO docs in the Docs tab... But, I doubt anybody is listening.

[2022-11-22 22:45] doougui commented on #19918
The same thing happened to me. Even inline styles are not being applied for some reason.

![image](https://user-images.githubusercontent.com/44846329/203436493-9818a189-aa83-4320-acc2-57c670a18e78.png)
![image](https://user-images.githubusercontent.com/44846329/203436504-dd77e104-9555-4285-8a52-6cc87837882d.png)

[2022-11-22 22:47] doougui commented on #19918
Seems like this is related to this issue: https://github.com/storybookjs/storybook/issues/19813.

[2022-11-22 23:21] pm0u commented on #19927
I just did a fresh install of storybook and I'm running into an issue implementing this fix as there is also a dependency on webpack4 coming from "@storybook/core-server@6.5.13" that relies on "enhanced-resolve@^4.5.0" so setting a global resolution seems to break that dependency

[2022-11-22 23:26] pm0u commented on #19927
repro:
[code]

Check the lockfile, there is enhanced-resolve@^4.5.0 and enhanced-resolve@^5.10.0 called out

[2022-11-22 23:53] cristobalchao commented on #19931
Same happens on React.

Steps to reproduce:

[code]

[code]

Tested using `Node v14.19.1` and `v18.12.1`

[2022-11-22 23:56] pm0u commented on #19927
the following resolved the above error for me:

[code]

[2022-11-23 01:13] robksawyer commented on #18801
I removed `@whitespace/storybook-addon-html` and it worked for me.

[2022-11-23 02:30] ericledonge commented on #19931
+1 with a vanilla create-react-app and npm 8.

[2022-11-23 02:44] ericledonge commented on #19931
Related to https://github.com/storybookjs/storybook/issues/19927

[2022-11-23 08:07] admir86 commented on #17004
we also work with nx and have the same problem.

will https://github.com/storybookjs/storybook/pull/19935 be the fix?

[2022-11-23 08:19] ryu-man commented on #12348
disable the creation of sourcemap in `storybook@6.5.13` works for me

[2022-11-23 08:39] BikashSah999 commented on #19921
@shilman @ndelangen  I can reproduce this issue so can I work on this issue?

[2022-11-23 08:49] ghengeveld commented on #16383
It's been a year since I worked on that, so I don't have that much familiarity anymore. Judging by my own description on that PR, I would expect a reload to just work. What I'd do is check the `window.location.href` of the iframe before the reload, to check whether the correct args/globals are in the querystring. If not then that's a bug, or your args/globals are deemed insecure and therefore don'

[2022-11-23 08:50] CharowDEV commented on #19927
Same issue after fresh install. A workaround if the temporary solutions above not work is to comment out

[code]

In `.storybook/main.js`

[2022-11-23 09:52] bgonzalez-thestable commented on #19915
Looks like this has been requested before: https://github.com/storybookjs/storybook/issues/17352

[2022-11-23 10:40] jtiala commented on #19570
Duplicate: #19163

[2022-11-23 10:40] #19570 closed

[2022-11-23 11:28] seelam621 commented on #16108
main.js:1 ERROR Error: NG0900
    at e.value (main.js:1:491478)
    at F.value (main.js:1:337876)
    at hs (main.js:1:380317)
    at pa (main.js:1:380120)
    at fo (main.js:1:379805)
    at Rd (main.js:1:406708)
    at Object.Od (main.js:1:406604)
    at template (958.js:1:105148)
    at uf (main.js:1:410323)
    at _a (main.js:1:409032)
es @ main.js:1
value @ main.js:1
(anonymous) @ main.js:1
B

[2022-11-23 11:41] drunkenvalley commented on #18094
For what it's worth, I found I had to set `legacy-peer-deps` with npm. Absolutely nothing else here worked for me.

I.e. either using `--legacy-peer-deps` or creating `.npmrc` with `legacy-peer-deps=true`.

[2022-11-23 11:42] felixhaeberle commented on #19816
@shilman Also having this bug, would be cool to see it fixed!! :)

[2022-11-23 11:42] felixhaeberle commented on #19055
Would be cool to see it this merged!! :)

[2022-11-23 12:42] valentinpalkovic commented on #19837
@gwin-lim Please take a look at the discussion here: https://github.com/storybookjs/storybook/issues/17831#issuecomment-1205173409

[2022-11-23 13:06] che198976 opened #19938 "[Bug]: ERR! => Failed to build the preview ERR! Module not found: Error: Can't resolve '/app/storybook-init-framework-entry.js' in '/app'"
### Describe the bug

![image](https://user-images.githubusercontent.com/35691725/203552344-e6ea7a53-ee35-470a-b15d-11fa335c5691.png)

### To Reproduce

[code]

### System

[code]

### Additional context

1.with react.
2. run in docker.

[2022-11-23 13:45] ErikParso opened #19939 "[Feature Request]: Story displaying all material-ui components for mui theme testing"
### Is your feature request related to a problem? Please describe

_No response_

### Describe the solution you'd like

Is there any addon or library that renders all mui components possible in single story? This would be useful for theme testing.

### Describe alternatives you've considered

_No response_

### Are you able to assist to bring the feature to reality?

no

### Additional context

_N

[2022-11-23 14:54] BenjGiles commented on #19866
Hey 👋, any idea when this will be patched and live? I've seen the PR commit has been taken to pre-release.

[2022-11-23 15:25] mandarini commented on #19938
Hi there! Take a look at this issue please:

https://github.com/storybookjs/storybook/issues/19927

[2022-11-23 16:02] nessor commented on #14795
Using v6.5.13 I don't have this problem anymore. Is it also solved for you?

[2022-11-23 16:07] dungmidside commented on #19927
Please, please publish a new version of storybook with fixed version of broken package 😢

[2022-11-23 16:27] Franccescalee opened #19940 "[Bug]: "storybook-config-entry.js doesn't exist" - building Storybook 7.0.0-alpha.52 & Angular 14 Component Library"
### Describe the bug

In a new Angular 14 library with Storybook 7.0.0-alpha.52 - error when running "npm run storybook"
I can't find any help online for this specific issue/version.
From what I'm reading online Storybook 7.0.0-alpha.52 is the only version that works with Angular 14?

[code]

### To Reproduce

[code]

### System

[code]

### Additional context

_No response_

[2022-11-23 16:38] yuri-scarbaci-lenio commented on #19094
We are afected by this too and the stricter regex isn't helping us out,
 It's not clear to me yet how do I find the duplicate-id file paths since the error message isn't providing any reference that I seem to be able to understand

 We are at alpha.58

[code]

[code]
 (in our configuration we don't use most of the addons, we may have to clean up a bunch of the dependencies ASAP)

 we are also usin

[2022-11-23 16:45] IanVS commented on #19094
@yuri-scarbaci-lenio, are you using a similar project structure to https://github.com/storybookjs/storybook/issues/19094#issuecomment-1238200500, where stories from linked packages are being included?

If not, I would suggest searching through your stories for two of them using the same `title` of `hooks`.

Maybe you can describe your project structure a bit?

[2022-11-23 16:48] yuri-scarbaci-lenio commented on #19094
Actually I just found out I did have duplicated stories,

for me to be able to debug this I had to modify the node_modules file to get some meaningful information
![image](https://user-images.githubusercontent.com/59743524/203602361-e0b50982-14e9-4b47-ab07-f1a140e9b8c5.png)

Can we add the information on the error thrown by `StoryIndexGenerator.js -> chooseDuplicate`
at
[code]
can we either includ

[2022-11-23 16:55] BibiSebi opened #19941 "[Nextjs 13]: preview.js-generated-config-entry.js.ts doesn't exist"
### Describe the bug

Today I was trying to create a project using Nextjs 13 + Storybook, however no success so far.

I have tried it with multiple node versions but this is the current one I am using:
[code]

Here are my dependencies from `package.json`:
[code]

I also configured the following inside `next.config.js`:
[code]

added a `.babelrc` with:
[code]
and a `.npmrc`:

`legacy-peer-deps=true

[2022-11-23 16:59] el-j commented on #19218
had the same issue and fixed with override in package.json
[code]

[2022-11-23 17:07] yuri-scarbaci-lenio commented on #19940
We are being affected by the same using
[code]
## `npx sb@next info`
[code]

this also happens with storybook version  `@6.5.x`

reading around the issues from storybook it seems to be related with `pnpm`

we already tried to no avail (in both version 7.0.0-alpha.52 and 6.5.x) to implements the workarounds at https://github.com/storybookjs/storybook/issues/13428

so for clarity this is our `.npmrc

[2022-11-23 17:10] BibiSebi commented on #19941
Found an answer in [#19927](https://github.com/storybookjs/storybook/issues/19927)

[2022-11-23 17:10] #19941 closed

[2022-11-23 17:13] yuri-scarbaci-lenio commented on #19940
Can we have some insight regarding
`storybook-config-entry.js` and where exactly it is being `required/imported` ?
Are we missing a file? we never created such a file anywhere and I can't find any related documentation mentioning this file

[2022-11-23 17:18] yuri-scarbaci-lenio commented on #19931
relates to https://github.com/storybookjs/storybook/issues/19940

[2022-11-23 17:21] yuri-scarbaci-lenio commented on #19940
Relates to https://github.com/storybookjs/storybook/issues/19927#issuecomment-1324075415 ?

[2022-11-23 17:22] Franccescalee commented on #19940
I was able to get past the error above by running "npm i enhanced-resolve@5.10.0" that I found [here](https://www.google.com/search?q=(relative+path:+.)+Field+%27browser%27+doesn%27t+contain+a+valid+alias+configuration+storybook+angular+site:stackoverflow.com&sa=X&ved=2ahUKEwidgr3M4cT7AhUUkmoFHa3CAJ8QrQIoBHoECBMQBQ&biw=1900&bih=885&dpr=1) in a different issue.

That got me passed the error and I w

[2022-11-23 17:39] Franccescalee commented on #19940
Getting closer: I added these to my tsconfig.json.

  "include": [
    "../stories/Introduction.stories.mdx",
    "../stories/*.stories.ts",

I'll start adding some of my own stories and see if everything works OK.

[2022-11-23 17:45] mandarini commented on #8556
I'm having the same issue on a Nx workspace. If I have a root level `tsconfig.json` file, Storybook uses that and ignores the `.storybook/tsconfig.json`. Is there a way to force Storybook to use a tsconfig.json at a specific path? @gaetanmaisse

[2022-11-23 20:06] kylegach commented on #19927
This issue has been addressed by a new release of `enhanced-resolved`: https://github.com/webpack/enhanced-resolve/pull/364.

We've confirmed that it works in a few sample projects, but please let us know if you continue to experience problems.

[2022-11-23 20:06] #19927 closed

[2022-11-23 20:14] EloB commented on #8556
@mandarini Haven't tried it but someone claims that this should work.
https://stackoverflow.com/a/69040674

[2022-11-23 20:25] menasheh commented on #18298
unclear why this is closed

[2022-11-23 20:42] redbugz commented on #15223
We just ran into this again, only this time it was caused by running storybook through Cypress tests. We have a decorator for our stories that need authentication to prompt to authenticate, and that decorator works fine in storybook alone, but as soon as we try to hit those stories with Cypress tests, then we get the hooks error and those stories fail. So that's a new wrinkle. I will continue to i

[2022-11-23 20:48] DavidLeonard77 commented on #19927
New release fixes the issue. 😄 ❤️

[2022-11-23 22:47] WesleyKapow commented on #19065
Just hit this.

You can add a `.nojekyll` file at the root of your github pages repo. In my case, I added it to `public/` so that it gets populated in the root directory when my pages get built.

https://github.blog/2009-12-29-bypassing-jekyll-on-github-pages/

[2022-11-24 00:11] tmeasday commented on #19094
@yuri-scarbaci-lenio would you be interested in submitting a PR doing that? I'd be very happy to review it. Otherwise I'll get to this eventually as part of the 7.0 release cycle.

[2022-11-24 08:27] JuanjoOrt opened #19947 "[Bug]: I have a error compiling Storybook with ifram"
### Describe the bug

Hello,

When I compile my storybook to static versión, everythings works. But when I open it, have this issue:

`iframe.html:373          GET http://localhost:63342/assets/iframe.38d22227.js net::ERR_ABORTED 404 (Not Found)`

### To Reproduce

_No response_

### System

_No response_

### Additional context

_No response_

[2022-11-24 09:12] loic-enedis commented on #17094
This issue is still present in my current project, constructor of the component in the story is running twice without knowing why.
But I see that my components in the decorators are well constructed once. The story template is also running only one time

[2022-11-24 10:49] fabis94 opened #19950 "[Bug]: TS type aliases can't be augmented"
### Describe the bug

AFAIK TypeScript type aliases (e.g. `type Story = ...`) can't be [augmented](https://www.typescriptlang.org/docs/handbook/declaration-merging.html), as opposed to TypeScript interfaces. This is a pretty big problem when it comes to Storybook types, because it appears that pretty much all exported types are done using `type` aliases.

What this means in practice is that you ca

[2022-11-24 11:09] shilman commented on #18732
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.53 containing PR #19895 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-11-24 11:09] shilman commented on #18780
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.53 containing PR #19877 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-11-24 11:09] shilman commented on #19878
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.53 containing PR #19937 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-11-24 11:09] #18780 closed

[2022-11-24 11:39] amanyzohair commented on #14828
I had the same problem, downgrading npm version worked for me

[2022-11-24 15:38] valentinpalkovic commented on #19950
@kasperpeulen 👆

[2022-11-24 15:51] kasperpeulen commented on #19950
@fabis94 In the latest alpha, `Parameters` is an interface, which you can augment now:

[code]

Or there any other interfaces that we export that you would like to augment? @fabis94

[2022-11-24 15:56] fabis94 commented on #19950
@kasperpeulen `StoryContext` is the one that prompted me to create this issue - you can usually add stuff to the context through decorators.

Also make the `VueFramework` type that is commonly used as a generic argument for various Storybook types exported out from the package, because otherwise it's very difficult to use some of the generic Storybook storybook types to create new ones

[2022-11-24 16:11] valentinpalkovic commented on #19423
@KorySchneider Why was `npx sb@next repro`? With which framework was it failing? Can you try it once again and try to create a reproduction repository?

[2022-11-24 16:49] mimamuh opened #19955 "[Feature Request]: Play functions for storybook-server"
### Is your feature request related to a problem? Please describe

Storybook-server misses an option to define play functions for testing.

### Describe the solution you'd like

It would be helpful if I can define play functions in an extra js file which will be executed at certain events like window.DOMContentLoaded or similar to run the interaction tests.

### Describe alternatives you've consid

[2022-11-24 19:21] kasperpeulen commented on #19950
Ah I see. I think it is in general good if we make StoryContext an interface. But I'm unsure if we encourage people to add arbitrary properties to the context.

Looking at this comment:

https://github.com/ComponentDriven/csf/blob/b170e3d459d5619384fdf181b91c0867c62fbd7a/src/story.ts#L109-L115
[code]

What do you guys think @tmeasday @yannbf? Maybe we should recommend using `parameters` for this?

[2022-11-24 20:19] fabis94 commented on #19950
This is the reason why I had to change the context, I don't think you can achieve the same with just parameters: https://craigbaldwin.com/blog/updating-args-storybook-vue/

[2022-11-24 22:02] tmeasday commented on #19950
I don't think so, parameters are the one thing you cannot update in a decorator[1] -- the idea of parameters being that they are static and available everywhere (i.e on the manager).

I think args are the ideal place for this callback to go. The pattern we'd recommend for that article is pretty close @fabis94 but I think a bit simpler (I'm no Vue expert so apologies if this is garbled) -- basicall

[2022-11-25 03:37] wztech0192 commented on #19827
I have the same issue, but update @storybook/preset-create-react-app to the latest ^4.1.2 fixed it.

` "@storybook/preset-create-react-app": "^4.1.2",`

[2022-11-25 06:07] Mr-GaoYu opened #19960 "[Bug]: vue3 + vite"
### Describe the bug

![image](https://user-images.githubusercontent.com/67352005/203912132-e32d10db-3eea-4c73-a87e-dca158d801ab.png)

### To Reproduce

_No response_

### System

_No response_

### Additional context

_No response_

[2022-11-25 07:09] fabis94 commented on #19950
Ok then it would be nice to be able to augment the Args type as well. Also would be nice to make it possible to modify its contents through a generic argument so that in stories you get type checking when filling out Story.args

[2022-11-25 07:28] OlegStrokan opened #19961 "[Bug]: Wrong link in storybook page"
### Describe the bug

![IMAGE 2022-11-25 08:23:20](https://user-images.githubusercontent.com/31828361/203924048-5bb7ed15-4058-40ff-a81b-a0e4683f0da9.jpg)
I find incorrect link in control panel in storybook page.
This link looks like - https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#writing-stories
But I received error:
![IMAGE 2022-11-25 08:27:00](https://user-images.g

[2022-11-25 10:10] 87Dev opened #19962 "[Bug]: The MDX documentation doesn't work as expected in Angular. A link to documentation please!"
### Describe the bug

Creating the stories directly in MDX generates a navigation on the side. When you try to navigate to see the different stories they disappear.

The show code feature doesn't always work, and also causes stories to disappear.

The official documentation is not clear. What is the correct way to write stories in MDX with Angular?

I have tried to create them in CSF and then impo

[2022-11-25 12:55] pomm0 commented on #18028
I'm also not able to update my addon to Ember version 4. But I stuck at the very first step: installing node modules because storybooks' `package.json` only allows [ember 3.x](https://github.com/storybookjs/storybook/blob/4b47793e118f091971f2a453d486c5f01875811d/app/ember/package.json#L61):

[code]

[2022-11-25 13:51] will-stone opened #19964 "[Bug]: Unable to use Description without a Story in MDX"
### Describe the bug

An MDX (docs only) story with a `Description` errors with:

[code]

### To Reproduce

Create an MDX story file with `Meta` and a `Description` of a component:

[code]

Reproduction: https://github.com/will-stone/storybook-description-bug

### System

[code]

### Additional context

This used to work (I last tested on alpha 48 but not sure which alpha between then and now was

[2022-11-25 14:59] shilman opened #19965 "Extra sidebar entries in docs-only MDX with local variables"
### Describe the bug

Originally reported at https://discord.com/channels/486522875931656193/1045086330268422254/1045086330268422254

A `.stories.mdx` file with a local variable will cause the following extra sidebar entries:

![](https://cdn.discordapp.com/attachments/1045086330268422254/1045086330696249446/image.png)

### To Reproduce

[code]

### Workarounds
- If you rename the file to `Introdu

[2022-11-25 15:17] #18870 closed

[2022-11-25 15:23] ricovitch commented on #13323
That does not look to work in my case (testing with latest 6.5 storybook for html).
Could you please show a more detailed example on how you make it work in mdx @graup ?

[2022-11-25 15:31] DzmVasileusky commented on #18679
Seeing it with Angular/NX/Storybook state

[2022-11-25 15:51] DzmVasileusky commented on #17686
Experience almost the same, just error is different

<img width="1425" alt="Снимок экрана 2022-11-25 в 18 50 32" src="https://user-images.githubusercontent.com/10651174/204019858-7f44a0c7-dffc-4312-ba9f-9a81c545bf8c.png">

[2022-11-25 16:05] yannbf opened #19968 "[Bug]: Cannot GET / when starting Storybook"
### Describe the bug

In Storybook 7.0.0-alpha.54, once running Storybook, the browser is instantly opened with an error:`Cannot GET /`

![image](https://user-images.githubusercontent.com/1671563/204021955-f8ea05e7-3ca4-4930-9515-cbaf62a3d0b2.png)

Doing a refresh fixes the issue.

### To Reproduce

[code]

### System

_No response_

### Additional context

_No response_

[2022-11-25 16:17] CrisOspina commented on #18552
Hi, same error, has anyone found a solution? in my case build-storybook from vercel

[code]

[2022-11-25 16:58] yannbf opened #19969 "[Bug]: Interactions panel duplicating entries in Storybook 7.0.0-alpha.48"
### Describe the bug

When remounting the component (or clicking on interactions debugger for anything, either step back or forward), the panel is not behaving correctly.

**Alpha 47:**
![2022-11-25 17 53 04](https://user-images.githubusercontent.com/1671563/204029346-fff0a98e-ad4c-4669-bd01-244c0ea1c801.gif)

**Alpha 48:**
![2022-11-25 17 56 10](https://user-images.githubusercontent.com/1671563/2

[2022-11-25 17:17] cmcnicholas commented on #19965
I have also a third workaround, put the export in an additional file e.g. `TestControl.tsx` and then reference that in your MDX file with an `import`

[2022-11-25 17:24] AlexandreCornillon commented on #19381
Same issue here. Have solution to restore storyshots ?

[2022-11-25 18:04] nerdyman commented on #19964
I've got this issue too, after a bit of digging I found that `@storybook/react-vite@7.0.0-alpha.52` is the cause. Version `7.0.0-alpha.51` renders without error. Also tried using the latest alpha release but it seems to cause more issues as it fails to render even with `@storybook/react-vite` pinned to `7.0.0-alpha.51`.

[2022-11-25 18:11] Fritze1602 commented on #9394
Can confirm, that the issue is still around in 6.5.13. But despite @LeandrodeLimaC workaround the default false booleans are NOT shown in the docs.

[2022-11-25 19:02] ScorpAL commented on #12308
Hi Guys,
Could you please help me to optimize next code?

It works fine, but I feel that I miss something and can utilize duplicated `mapping` in `argTypes`.

[code]

[2022-11-25 19:05] evtk opened #19973 "[Bug]: Conflicting values for 'process.env.NODE_ENV' when using Angular builders"
### Describe the bug

When using the `@storybook/angular:start-storybook` I get terminal logging, that I do not get when running without the builders and just triggering an `npm run storybook`.

I get this with a fresh NG14 + Storybook setup.

[code]

Do I have something misconfigured or do I need to apply additional configuration?

### To Reproduce

[code]

### System

[code]

### Additional cont

[2022-11-25 19:07] yannbf commented on #19969
Also for some reason the spies changed.

**Alpha 47:**
<img width="409" alt="image" src="https://user-images.githubusercontent.com/1671563/204043014-f56a6f4f-563f-4a03-83f1-a7be9e2040bc.png">

**Alpha 48:**
<img width="379" alt="image" src="https://user-images.githubusercontent.com/1671563/204043026-d90a0b55-4057-4090-bf98-64c283b5854a.png">

[2022-11-25 19:12] evtk opened #19974 "[Bug]: TsConfig solution-style throws warning"
### Describe the bug

Running Storybook for Angular. I have a tsconfig project that contains the `solution-style` [setup](https://devblogs.microsoft.com/typescript/announcing-typescript-3-9/#solution-style-tsconfig). But running storybook throws a bunch of warnings on this:

[code]
What I don't get is why Storybook would catch that tsconfig file, since I have configured the setup to use the `tscon

[2022-11-25 19:57] ScorpAL commented on #12308
Whooh....
utilized a little bit....

[code]

[2022-11-25 20:26] sohamnandi77 commented on #19302
Hi @shilman, Sorry for the late reply
Here is a reproduction repo:
https://github.com/sohamnandi77/storybook-issue (it's a small example, but issue still remains in this repo)

So, if you will inspect through "App-stories.cc25eb1d.iframe.bundle.js" file in storybook-static
you will find that all I have the code for all the files in `src/images` folder. like I only imported a single svg in app, but

[2022-11-25 21:08] jonniebigodes commented on #19961
@OlegStrokan, thanks for reaching out to us with your issue. We appreciate it. Hope you don't mind, but I'm closing this as it's already being addressed in #19803. If you check the pull request description, you'll also see that some other Storybook users have already reported it and we're on top of it.

Hope you have a great weekend.

Stay safe

[2022-11-25 21:08] #19961 closed

[2022-11-25 23:49] sauce-tartar commented on #19363
Thanks to the excellent repro shared, we were able to prove our new screener-storybook hook for storyStoreV7 *also* works in your mysterious edge-case here.  We have end to end Visual test results working and looking to push out an alpha soon for feedback.

This is the basis for our first step into proper V7 support in screener-storybook, we'll make sure there's an option for this path as well whe

[2022-11-26 00:49] JReinhold commented on #19671
You are correct, currently decorators doesn't work with Svelte (at least not in v7). I'm not getting _nothing_ like you are, I'm instead getting `'target' is a required option`. Maybe that's because you're using `stories.mdx` to define the story while I've only tried with CSF3.

I have managed to get decorators working with slots in Svelte locally, but it's not quite done yet. I'll keep you update

[2022-11-26 01:00] matthew-dean commented on #19055
I'm getting this issue with TypeScript 4.9.3

[2022-11-26 22:27] unional opened #19976 "[Bug]: `npx sb upgrade` failed with `@storybook/react`"
### Describe the bug

The `prepare` script in `@storybook/react` is executed during `npx sb upgrade`.

It contains `"prepare": "node ../../scripts/prepare.js"`
Which resolves to a non-existing `prepare.js` file:

Here is the error from `pnpx sb upgrade`:

[code]

Here is the error from `npx sb upgrade`:

[code]

It tries to reference this file: https://github.com/storybookjs/storybook/blob/next/sc

[2022-11-26 22:29] unional commented on #18318
[code]

I'm getting error on `touch`. Seems like it does not work with Windows env.

[2022-11-26 22:48] unional commented on #18552
Getting these errors when running storybook.

[code]

[2022-11-27 01:09] elmaurer commented on #9794
hey, i encountered the same problem.
Storybooks default interface added **theme**,  **as** and **forwardedAs** to my props table.
I found a simple workaround, without wrapping the whole styled component in a wrapper.
By simple defining the components return value as React FC and your custom interface.

### Button.tsx
![image](https://user-images.githubusercontent.com/25457670/204114633-2ba7177a-0c

[2022-11-27 11:39] tomschall commented on #18557
Thanks man, you helped me a lot. <3

[2022-11-27 15:47] chrisbraddock commented on #13440
Same w/ Angular 14 and @angular-builders/custom-webpack.

[2022-11-27 20:35] cmcnicholas commented on #12505
I've just got v7 alpha 54 working and this is still an issue, it creates a bad developer experience as it's not immediately apparent why this broke my monorepo setup.

[2022-11-27 20:41] danilonobren commented on #18356
this is a must have

[2022-11-27 23:41] tmeasday commented on #19969
Hmm, I can't see anything in the diff between those two versions that could be relevant @yannbf. What are the versions of the interactions addon / testing-library dependencies in your repros there?

[2022-11-28 02:11] lucas-labs commented on #19878
Hi @shilman, is this fix going to be available in v6.x or should we wait for the first stable v7.x release before migrating to angular 15?

Thanks!

[2022-11-28 03:02] shilman commented on #19878
@lucas-labs good question. @valentinpalkovic  what do you think?

[2022-11-28 03:12] JohannesFischer commented on #13632
Looks like this issue has been resolved in #18780

[2022-11-28 06:48] valentinpalkovic commented on #19878
@shilman We can make it available for 6.x. If cherry picking is not possible, I can create a PR for it.

[2022-11-28 07:49] olyckne commented on #18028
@pomm0
I've solved that by putting an override in package.json.
[code]

[2022-11-28 08:05] yannbf commented on #19969
interactions: equivalent alphas
testing-library: 0.0.14-next

[2022-11-28 09:57] LukasMachetanz opened #19981 "[Bug]: Styling and CSS (Uncaught TypeError: __webpack_require__.n is not a function)"
### Describe the bug

Having a storybook-configuration with custom [styles](https://storybook.js.org/docs/angular/configure/styling-and-css#nx-with-angular-13) within an [nx](https://nx.dev/)-workspace throws an unexpected error within the browser console - see screenshot.

<img width="1054" alt="Screenshot 2022-11-28 at 10 56 46" src="https://user-images.githubusercontent.com/44839051/204248611-a

[2022-11-28 11:33] kim-taewoo commented on #19224
[derekreilly1990](https://github.com/derekreilly1990)
If your `yarn.lock` file or `package-lock` file has higher version of `@types/react` compared to `react` or `react-dom`, try add
[code]
to `package.json` file and reinstall libraries by `yarn install` or `npm install`. The version "17.0.19" is not fixed value. Use whatever react version you are using for your project.
Check https://github.com/f

[2022-11-28 13:14] shilman commented on #16877
Discussed this with @JoshTumath today. Josh will get their design system updated to the latest 6.5.x and verify that the problem is still happening. At that point, I'll dig in and see if I can figure out what's going on. I'm still unable to reproduce.

[2022-11-28 14:20] #1108 closed

[2022-11-28 14:23] #4996 closed

[2022-11-28 14:31] valentinpalkovic commented on #19285
@tomeof Thank you for opening up this issue. Could you provide a reproduction repository or tell us which commands you have executed?

[2022-11-28 14:34] #19947 closed

[2022-11-28 14:50] octoxan opened #19984 "[Bug]: digital envelope routines - won't run with Svelte projects"
### Describe the bug

Ran `npx sb init` in the root of my Svelte project, and it complained that I'm using too modern of dependencies and asked me if I wanted to run the npm7 migration, which I answered yes to.

After this, `npm run storybook` and `npm run storybook --legacy-peer-deps=true` throw the same error:

[code]

### To Reproduce

_No response_

### System

[code]

### Additional context

[2022-11-28 15:14] Crylion commented on #16386
I agree, it's really not great having the enums not working.
We use enums a lot in our templates to avoid just using arbitrary string values. And for the actual angular applications, that never posed any problem.

[2022-11-28 15:31] zenatshockbyte commented on #14087
We're using Vite and ts project references and something like;
[code]

worked for us!

[2022-11-28 16:05] BikashSah999 commented on #17762
Hi @shilman @ndelangen  , the PR for this issue is ready for review. Could you please review it?

[2022-11-28 16:26] DzmVasileusky opened #19989 "[Bug]: addon-interactions + disabled actions breaks storybook"
### Describe the bug

Steps:
1. Generate nx/Angular/Storybook project.
2. Disable actions in `preview.js`
[code]
3. Add interaction addon.
4. Try to build.

Just try to build storybook in repo with `nx run ui-kit:storybook`

Actual:
`Error: Minified React error #311` and some other errors
Endless storybook app loading

Expected:
No errors, app is loaded

### To Reproduce

[code]

### System

[code

[2022-11-28 18:43] glrodasz commented on #19984
I'm having exactly the same error with a freshly created react project.

[2022-11-28 19:37] mindingdata opened #19990 "[Bug]: Action Handler Returning Boolean Has Inconsistent Behaviour"
### Describe the bug

If I have a component that has an action that returns a boolean, for example a Toggle Switch or checkbox like so :

[code]

When this is wired up automatically by Storybook, the actions tab looks looks like so :

![image](https://user-images.githubusercontent.com/1021021/204365161-70894546-35ff-443a-bfe0-a405c49a5723.png)

Notice how when the value is false, I get a more verb

[2022-11-28 20:09] renato-bohler commented on #19964
Same here, but I'm using `Source` instead of `Description`.

Here's another quick reproduction repo: https://github.com/renato-bohler/storybook-repro

The "Example" story will load if I remove the `Source` tag from the `Example.stories.mdx` file OR if I downgrade Storybook from `7.0.0-alpha.52` to `7.0.0-alpha.51`.

Otherwise, the story will go blank and the following message appears on DevTools (

[2022-11-28 20:29] octoxan commented on #19217
Have the same error in 7.0, and that automigrate command is basically useless.

[2022-11-28 20:35] IanVS commented on #19217
@octoxan can you open a new issue with the details of the error you're seeing and the output of the automigrate command?   And please tag me in it so I see it?

[2022-11-28 20:55] octoxan opened #19991 "[Bug]: No matching story indexer found for LinkButton.stories.svelte"
### Describe the bug

Using Svelte + Inertia and trying to get Storybook working **with slots** so that I can reuse the same components in Storybook and in my actual project, example `<LinkButton> This goes in the slot. </LinkButton>`.

Following along with the official guide there are 3 ways to create a story - JS, NATIVE-FORMAT, and MDX. I tried JS at first but since it just doesn't support slot

[2022-11-28 21:20] NatoBoram opened #19992 "[Bug]: 'target' is a required option"
### Describe the bug

Using decorators as described in https://storybook.js.org/docs/svelte/writing-stories/decorators crashes Storybook.

I am unsure if this is because of Storybook, Svelte, TypeScript, Vite or something else.

### To Reproduce

[code]

#### `src/lib/MarginDecorator.svelte`

[code]

#### `src/lib/YourComponent.svelte`

[code]

#### `src/lib/YourComponent.stories.ts`

[code]

###

[2022-11-28 21:43] octoxan commented on #19991
This can be resolved by doing the following two steps.

In the terminal install the dependency:
`npm install -D @storybook/addon-svelte-csf`

Update main.js to have the "@storybook/addon-svelte-csf" set as an additional add-on

[2022-11-28 21:43] #19991 closed

[2022-11-29 00:22] xandmore commented on #17621
@RodrigoTomeES the workaround I used:

[code]

[2022-11-29 00:35] sir-captainmorgan21 commented on #13144
@gaetanmaisse I am still facing this issue with globals.d.ts in the src of the lib and it being listed under include in the tsconfig. Can we get the minimum requirements to get this working? If so Ill open a PR to get this into the docs

[2022-11-29 01:46] JavaVista opened #19994 "[Bug]: FATAL ERROR: Reached heap limit Allocation failed - JavaScript heap out of memory"
### Describe the bug

When I run `npm run storybook`

[code]

### To Reproduce

[code]

### System

[code]
[code]

[2022-11-29 01:49] soeasyjx opened #19995 "Unexpected reserved word 'interface'"
### Describe the bug

1. Initialize the project using `npx storybook@next init --type react`

2. Write components in typescript, define interfaces，An error occurred starting the project

3. Run a command `npm run storybook`

Directory structure：
[code]

### src/Button.tsx

Component Development Directory：

[code]

### stories/Button.stories.tsx

**Reference components to write stories**

[code]

#

[2022-11-29 02:07] ffxsam commented on #18111
Just chiming in:

This is also an issue with Vue 3:

[code]
[code]

(obvious steps, cd'ing into dir, `pnpm i`, etc)

[code]
[code]

[2022-11-29 02:28] IanVS commented on #19286
@pwang2 what version of storybook are you using?  Does this only happen in dev, or also when you build storybook?

[2022-11-29 02:30] IanVS commented on #19286
I'd like to also ask, why do you need to specify `window` as external?  Do you have a dependency called `window` that is being bundled in, otherwise?

[2022-11-29 02:32] pwang2 commented on #19286
I didn't have anything fancy yet, just the stories from the boilerplate.  Start-storybook is okay and only throw when run build-storybook.
"@storybook/builder-vite": "^0.2.5",
"@storybook/vue3": "^6.5.13",

[2022-11-29 02:57] pwang2 commented on #19286
I think I have figured out why.  The problematic project was a monorepo project and when i created it `preview-head.html` was not added, so in start-storybook run, it throws error and some google search points me to modify viteConfig as below which creates some problem in build-storybook run.

![image](https://user-images.githubusercontent.com/1592014/204427558-a8a41354-b088-4ec6-a15c-860d0b56f524

[2022-11-29 04:58] ffxsam commented on #18111
@IanVS Yes, though when I try to run storybook, I get this error in the shell:

[code]

And this in the browser:

![localhost_6006__path=_docs_example-introduction--docs](https://user-images.githubusercontent.com/12532733/204442479-82da2c84-e6c1-4627-86f5-df5cb4dc682e.png)

It's a bummer that Storybook isn't ready to use with Vue 3, as we're doing a major refactor/rebuild of our app, and I was hop

[2022-11-29 07:29] ScorpAL commented on #11919
+1

[2022-11-29 08:23] JReinhold opened #20000 "[Bug]: Svelte source viewer shows events as `event_NAME` in prerelease"
### Describe the bug

Native Svelte events are shown in the source viewer, even though they are not supposed to be passed as props.

I **think** this is only an issue in 7.0.

![image](https://user-images.githubusercontent.com/5678122/204476423-65523dfe-08d7-408f-9e20-013af0a010b9.png)

### To Reproduce

_No response_

### System

_No response_

### Additional context

_No response_

[2022-11-29 08:52] jpzwarte opened #20001 "[Feature Request]: Support changes to `globals` when using composition"
### Is your feature request related to a problem? Please describe

When using composition, any changes to add ons in the "root" storybook do not translate to changes in a "child" storybook.

See for example: https://kind-plant-088739303.1.azurestaticapps.net/?path=/story/core_button--api (uses 7.0 alpha 53).

Any changes to the viewport add-on are not reflected in the Button story.

### Describe t

[2022-11-29 09:13] BikashSah999 commented on #19921
Hi @shilman  @ndelangen  the PR for this issue is ready for review. Could you please review it?

[2022-11-29 11:21] wojtekxtx commented on #19927
@DavidLeonard77 This is what I thought it would be. Im starting looking for an alternative for sorybook. If none found, we (our team) will write our own one.

[2022-11-29 11:52] IanVS commented on #18111
@ffxsam it should work if you install react, reacr-dom, and one other mdx-related package. This is due to storybook using MDX to render docs pages. We're hoping to find a way to avoid users having to install those manually, but for now that workaround should get you up and running.

[2022-11-29 13:47] geromegrignon opened #20008 "[Bug]: Web component installation snippet missing"
### Describe the bug

On the [Installation page](https://storybook.js.org/docs/web-components/get-started/install) of the Web Component documentation, the following snippet is missing:

![image](https://user-images.githubusercontent.com/32737308/204545064-ea0a6c1e-7398-4a2d-b536-dc0981d7a99c.png)

But as it's clearly defined in the md snippet without any typo:

[code]

### To Reproduce

[code]

##

[2022-11-29 13:59] JoshTumath opened #20009 "[Bug]: Globals in Toolbar show as selected even when default value is selected"
### Describe the bug

When a button is in the toolbar (such as the vision simulator), it appears with a transparent background by default and blue when something is selected.

However, when making a Global, all of the options appear blue when selected - even the default value. You would expect that when the default value is selected, the button would be marked as transparent/unselected.

### To Re

[2022-11-29 15:29] jonniebigodes commented on #20008
@geromegrignon, once again thanks for taking the time to reach out to us. We're aware of the fact and it's actually being tracked [here](https://github.com/storybookjs/frontpage/issues/228) if you're interested in helping us out let's continue the conversation in the issue I've linked and close this one out. Sounds good to you?

[2022-11-29 15:53] geromegrignon commented on #20008
@jonniebigodes sounds good indeed.
I close this one and will investigate based on the existing info.

[2022-11-29 15:53] #20008 closed

[2022-11-29 16:03] itsjoekent opened #20013 "[Bug]: @storybook/react 7.0.0-alpha.54 not working with @storybook/react-vite 7.0.0-alpha.46"
### Describe the bug

In upgrading from @storybook/react from 7.0.0-alpha.43 to @storybook/react 7.0.0-alpha.54, we are encountering an error loading any story in our storybook.

[code]

This document suggests we add a `framework` field to our `main.js` file, which we have,

[code]

### To Reproduce

We are currently running Storybook 7 with the following packages,

[code]

And the following confi

[2022-11-29 17:23] gkadillak-lyra commented on #18258
@shilman is there a timeline for this fix? The workaround does help, but we've had to use `sleep(1000)` to get the tests to reliably run and this time is starting to stack up.

[2022-11-29 17:36] MirKml commented on #19055
@matthew-dean according the repo, it seems that there are some storybook patches, so I don't know if overriding plugin is save. It's used in [doc part of the storybook](https://storybook.js.org/docs/react/writing-docs/introduction).
When you overrides, all your doc pages are fine?

@onigoetz made the PR https://github.com/storybookjs/storybook/issues/19816, thank you very much. So @shilman can you

[2022-11-29 17:54] IanVS commented on #18258
I see that @yannbf is assigned to this ticket, I think he might be the best to discuss the plans for it.  I do hope it can be fixed soon, since it's essentially blocking my upgrade to react 18 right now.

[2022-11-29 19:08] cesarriva commented on #13747
Not sure if it's still relevant, I suffered the same problem and solved this way:

[code]

[2022-11-29 19:21] matthew-dean commented on #17720
Note, we're also seeing huge story freezes. Up to 40 seconds for a single story.

For us, it wasn't related to component args. Changing from this:
[code]
to this:
[code]
...dropped the delay / render time from 40 seconds to zero!!

[2022-11-29 19:38] kasperpeulen commented on #13747
@cesarriva In storybook 7 alpha you can write for a component like this:

[code]

[code]

[2022-11-29 19:41] #19896 closed

[2022-11-29 22:23] yannbf commented on #20013
Hey @itsjoekent please make sure that your storybook packages are aligned with their versions. Can you pick one version and update all of them to that version,preferably the most recent? Thanks!

[2022-11-29 23:06] ndelangen commented on #19927
First: This issue (yes urgent!) is actually resolved! It's not just closed "without further ado" that's simply not true.

---

Hey @wojtekxtx I'm sad to hear you feel this way. As a storybook maintainer it's never a great moment when a user voices their displeasure. But it happens, I understand. You feel somehow that this is our fault, that we should do better.

We try, but you know, sometimes bui

[2022-11-30 00:19] BrendanRomanDev commented on #12078
This seems so essential! I was shocked when reading the docs that this is not available :(

[2022-11-30 00:29] DavidLeonard77 commented on #19927
Very happy with the quick response time. Thanks!

[2022-11-30 00:59] wojtekxtx commented on #19927
@ndelangen Thats seriously great answer. Many thanks :)

Its good you try, keep doing this :) Im well aware, that `giants are moving`, but the thing is to move with them; follow them step-by-step ( every release they make; you incorporate changes so your product uses latest version etc ). Ideal situation would be to even be one step ahead of them. Would be great :)

Within 1 hour after discovery w

[2022-11-30 03:53] emosheeep commented on #1291
# Summaries of above

- If you want to **change the path of assets inside the `index.html`**, you should edit `managerWebpack` whether you used webpack or vite. Because storybook's main frame is built with webpack, `managerWebpack` is used to change its configurations.

- If you want to **change the path of assets of `iframe.html`**, you should edit `webpackFinal` or `viteFinal` according to which

[2022-11-30 03:55] emosheeep commented on #7775
# Summaries of above

- If you want to **change the path of assets inside the `index.html`**, you should edit `managerWebpack` whether you used webpack or vite. Because storybook's main frame is built with webpack, `managerWebpack` is used to change its configurations.

- If you want to **change the path of assets of `iframe.html`**, you should edit `webpackFinal` or `viteFinal` according to which

[2022-11-30 06:26] thomasleduc commented on #11989
Same here ! This comment led me to the answer.
For me :
[code]
Doesn't work with Storybook 6.5 (it worked with 6.3)
But if I change the symbol by string keys, it works perfectly.
[code]

It's probably not the main problem here,  but I would have love that someone share this earlier, so if it can help it's here ☝🏽

[2022-11-30 08:10] yannbf commented on #19904
Quick reminder to also change code in the instrumenter if you're backporting this to 6.5, else addon-interactions will break as it refers to `urlStore` to get the story ids.

[2022-11-30 09:11] bissolli opened #20024 "[Bug]: vite:vue3 - At least one <template> or <script> is required in a single file component."
### Describe the bug

Since Vue [v3.2.42](https://github.com/vuejs/core/blob/main/CHANGELOG.md#bug-fixes-3),  the compiler-sfc requires <template> or <script> in SFC and by some reasons, storybook doesn't compile due to the following error:

[code]

Anyone facing the same issue? How can I solve it?

### To Reproduce

_No response_

### System

[code]

### Additional context

_No response_

[2022-11-30 09:47] ndelangen commented on #19927
I do not appreciate your tone of voice @wojtekxtx
In my humble opinion you're not giving constructive feedback, but rather, are lecturing. It seems to me you're not interested in actually improving the situation, but rather dragging it down. This is toxic behavior.

You say you are still having this exact issue? please supply a reproduction.

You say when you were trying this 4 hours ago you ran i

[2022-11-30 10:14] HendrikPetertje commented on #19964
Don't know if my issue is related, but I'll add it here too.

---

After upgrading to Storybook 7 I am noticing that my docs-only pages are no longer working if they have Story objects in them.

In our application we have 3 basic pages to describe the use of typography, icons and color.
all of these pages work fine if I remove any Story-blocks, if story-blocks are defined then the page raises the

[2022-11-30 10:19] wojtekxtx commented on #19927
@ndelangen just as I expected. You understand nothing, but I dont care one bit. If you think Im the one doing sth wrong - ok, its your right tothink that way. And no, Im not breaking your CoC; the one breaking it is you alone. Read carefully and maybe you will know whatIm talking about.

What do we see here? Pushing guilt away from yourself. How classy! Fact is: thats acting like this, thats makin

[2022-11-30 10:43] joshwooding opened #20026 "[Bug]: composeStories from @storybook/react does not work with components that have required props"
### Describe the bug

This is essentially a regression of https://github.com/storybookjs/testing-react/issues/4 and affects users migrating to use @storybook/react instead.

### To Reproduce

_No response_

### System

[code]

### Additional context

You can workaround this the same way as https://github.com/storybookjs/testing-react/issues/4 and use `composeStory`

### Potential Fix

I haven't te

[2022-11-30 10:56] #19837 closed

[2022-11-30 11:01] valentinpalkovic commented on #19931
The underlying [issue](https://github.com/storybookjs/storybook/issues/19927) got fixed. I cannot reproduce the issue anymore. Therefore, I will close this.

[2022-11-30 11:01] #19931 closed

[2022-11-30 11:03] valentinpalkovic commented on #19938
The underlying https://github.com/storybookjs/storybook/issues/19927 got fixed. Therefore, I will close this. Please let me know if you can still reproduce the issue.

[2022-11-30 11:03] #19938 closed

[2022-11-30 11:07] valentinpalkovic commented on #19940
The underlying [issue](https://github.com/storybookjs/storybook/issues/19927) got fixed. I cannot reproduce the issue anymore. Therefore, I will close this.

[2022-11-30 11:07] valentinpalkovic commented on #19940
The underlying [issue](https://github.com/storybookjs/storybook/issues/19927) got fixed. I cannot reproduce the issue anymore. Therefore, I will close this.

[2022-11-30 11:07] #19940 closed

[2022-11-30 12:42] #19968 closed

[2022-11-30 13:01] yannbf commented on #20026
@kasperpeulen can we take a look at this once we have time?

[2022-11-30 14:08] yairEO commented on #10367
I am seeing now same problem in VSCODE after following [this guide](https://github.com/mdx-js/eslint-mdx):

![image](https://user-images.githubusercontent.com/845031/204817032-4a2e1e28-93d5-4aad-bad7-a4d0280097fb.png)

I know this is not related to storybook probably, but only putting it here for others to know this issue exists (as of "now")

[2022-11-30 14:11] Pinelopi29 commented on #17941
any process on that?

[2022-11-30 14:28] ro-routable opened #20030 "[Bug]: Documentation does not make clear which storybook packages must be installed"
### Describe the bug

The documentation uses `npx storybook` and `build-storybook` but does not contain a minimal or full list of NPM packages that should be installed for storybook to work. For instance, I ran `npx storybook init` and I did not see any updates to my `package.json` and I did not see any list of packages in the command output. Should I include `@storybook/cli` in my package json so

[2022-11-30 15:16] aaronadamsCA commented on #13747
Is there any chance these new types could be backported to `@storybook/types` v6.x, to help with v7 migration prep? Especially now that TS 4.9 and the `satisfies` operator have arrived.

[2022-11-30 15:35] bmayen opened #20031 "[Bug]: Runtime issue with Angular 15"
### Describe the bug

Builds previously worked fine with Angular 14, but after upgrading to v15 I get the following runtime error after building and running the app:

[code]

This does not happen when I serve Storybook during local dev, only when running build-storybook then running with http-server.

### To Reproduce

[code]

### System

[code]

### Additional context

This appears to be a race c

[2022-11-30 15:58] varjmes commented on #19340
I am having the same issue when attempting to upgrade to webpack 5.

[2022-11-30 16:14] samparhizkar commented on #18094
I originally experienced this issue with nx projects. And like everyone else had to use `legacy-peer-deps=true` in order to get going. But by updating both storybook and nx dependencies I exeperience no issues yesterday (even withouth that legacy flag).

[2022-11-30 17:08] yannbf commented on #18258
@tmeasday I thought #18737 and #19125 fixed that issue, but I see they got released before alpha.33 and the issue is still happening 🤔

[2022-11-30 17:16] shilman opened #20033 "[Feature Request]: Add `satisfies` support to `csf-tools`"
### Is your feature request related to a problem? Please describe

`satisfies` is a new TS 4.9 language feature, but our `csf-tools` does not support it yet.

[code]

### Describe the solution you'd like

Examples like the above parse cleanly & correctly

### Describe alternatives you've considered

_No response_

### Are you able to assist to bring the feature to reality?

yes, I can

### Additio

[2022-11-30 17:16] herrKlein commented on #18315
There is, but some kind of work is involved,
first add ts-loader in webpack config

```storybook/main.js```
[code]
optionally if you are in a monorepo ( we are in NX, use this to resolve extended typescripts add this to
```storybook/main.js```
[code]

you can use mdx wit lit webcomponents like this:
[code]

Our babel consists of this
babel.config.js
[code]

Our tsconfig is a little messy and split

[2022-11-30 17:42] shilman commented on #19671
Hurrah!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.55 containing PR #19987 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2022-11-30 17:42] shilman commented on #19968
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v7.0.0-alpha.55 containing PR #20005 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

[2022-11-30 17:42] #19671 closed

[2022-11-30 18:21] yannbf commented on #19728
The automigration looks for official scripts added by Storybook: `storybook` and `build-storybook`. If a user decides to change them, the automigration stays on the safe side and does not change them (but does detect them if they contain storybook in the name), the command is quite explicit showing that and asking users to change them manually:

![Image](https://user-images.githubusercontent.com/1

[2022-11-30 18:23] yannbf commented on #19727
I tried my best to replicate that specific user's `main.ts` and the migration ran successfully:

![Image](https://user-images.githubusercontent.com/1671563/204877912-3abda28f-a56a-46d9-9d6a-7c5c2ac15a18.png)

 I'm missing something, so hopefully the user will answer on discord and I'll be able to replicate this

[2022-11-30 19:05] andykenward commented on #13747
@aaronadamsCA
You can also do this in Storybook 6.5. The type imports are named differently.

So this @storybook/react v7
[code]

changes to this for @storybook/react v6.5
[code]

Full example
[code]

[2022-11-30 19:09] WarpRat commented on #19994
We're hitting the same thing. It looks like it may be related to [this](https://github.com/webpack-contrib/terser-webpack-plugin/issues/403#issuecomment-862263428)

[2022-11-30 19:22] yannbf commented on #19728
I improved the logic at #20035 which should detect that particular use case

[2022-11-30 19:52] subskribe-kevin opened #20036 "[Feature Request]: Add the ability to add a play with storiesOf"
### Is your feature request related to a problem? Please describe

We're trying to build a number of stories via configurations so that every major property for a story is tested.

We're doing this with storiesOf() and add() but this won't work with plays.

### Describe the solution you'd like

It should be possible to build a normal story, with a play, and add it with add()

### Describe alternat

[2022-11-30 20:08] JReinhold commented on #19671
@gbkwiatt I'd love if you could try with the new alpha version and let us know if it fixed the issue or not.

[2022-11-30 21:05] reinertisa commented on #18258
@yannbf I tried with "6.5.13" storybook version and still it does not work.

[2022-11-30 21:17] yuri-scarbaci-lenio commented on #19094
@tmeasday  sure, see related PR at https://github.com/storybookjs/storybook/pull/20038

[2022-11-30 22:00] itsjoekent commented on #20013
@yannbf Thanks for the suggestion, this leads to a different error when I pin all of the packages to `^7.0.0-alpha.55`

[code]

[2022-11-30 22:55] riethmue commented on #14405
Same issue for me
`  System:
    OS: macOS 12.5.1
    CPU: (10) arm64 Apple M1 Pro
  Binaries:
    Node: 18.12.1 - ~/.nvm/versions/node/v18.12.1/bin/node
    npm: 8.19.2 - ~/.nvm/versions/node/v18.12.1/bin/npm
  Browsers:
    Chrome: 107.0.5304.121
    Firefox: 106.0.3
    Safari: 15.6.1
  npmPackages:
    @storybook/addon-actions: ^6.5.13 => 6.5.13
    @storybook/addon-essentials: ^6.5.13 => 6.5.