[2016-03-22 00:44] arunoda opened #2 "Add support for custom webpack config"
Specially to support CSS module loading.

[2016-03-25 09:56] pahans opened #3 "localstorage QuotaExceededError"
`QuotaExceededError` occurs when logging for events.
![](https://www.evernote.com/l/AK9_z7hPKipNUo4kJ83G5lQsrepxowQ5TIwB/image.png)

[2016-03-25 10:21] #3 closed

[2016-03-25 10:22] arunoda commented on #3
Fixed with `v0.11.6`

[2016-03-28 22:05] queso opened #4 "Why not Meteor?"
Just curious, cool to see express and webpack, just curious.

[2016-03-29 03:47] arunoda commented on #4
This is not an app. Works with Meteor too.

[2016-03-29 06:23] arunoda opened #5 "Add support for additional public folders"
This is to support loading static files via a folder.

[2016-03-29 09:27] #4 closed

[2016-03-29 09:28] arunoda opened #6 "Add a simple routing/url system"
Otherwise, after a manual reload we can't get the same story.

[2016-03-29 13:47] arunoda opened #7 "Block page navigations and make them as actions"
When clicked on a  HREF we need to prevent any page navigation. Instead we need to fire an action.

[2016-03-29 15:59] arunoda opened #8 "Rename binary as start-storybook"
Currently the binary name is `storybook-server`, but we need to change that to `start-storybook`.

[2016-03-29 16:00] arunoda opened #9 "Add Changelog and release 1.0"

[2016-03-30 12:15] arunoda commented on #8
Implemented.

[2016-03-30 12:15] #8 closed

[2016-03-30 12:16] arunoda commented on #5
Implemented.

[2016-03-30 12:16] #5 closed

[2016-03-30 12:16] arunoda commented on #2
Implemented.

[2016-03-30 12:16] #2 closed

[2016-03-31 10:09] arunoda commented on #9
Done!

[2016-03-31 10:09] #9 closed

[2016-03-31 10:10] arunoda opened #10 "Add a search box to search stories."

[2016-03-31 19:05] arunoda opened #11 "Allow to create a production build"
Right now, we need to run storybook locally via something like `npm run storybook`. But, it'd be great, if we can build the final HTML and share it anywhere.

So it'll be something like `npm run storybook-build`.

Then it'll create a directory in your project and you can upload those HTML file to anywhere you want and share your stories.

[2016-03-31 19:08] sammkj opened #12 "Add something like Google Resizer"
link: http://design.google.com/resizer/

React Storybook is awesome! I just integrated react storybook in one of my apps! I think one thing is missing is the ability to see my components on different devices. It would be awesome if there is a way toggle device like Google Resizer.

[2016-03-31 19:23] arunoda commented on #12
Yeah. That'd a great feature.
For now you can resize your browser :)

[2016-03-31 19:23] arunoda commented on #12
BTW: Is there any open source we can use.

[2016-03-31 19:56] sammkj commented on #12
you mean something like [this](https://github.com/bradfrost/ish.)? [demo](http://bradfrost.com/demo/ish/#m).

[2016-03-31 20:41] arunoda commented on #12
Yeah. That one looks nice.

[2016-03-31 23:21] quicksnap opened #13 "Unknown option: direct.presets"
My project uses Babel 5. Following the setup example, I when I run `npm run storybook`, I get:

[code]
It comes from the Webpack output. This error seems like a Babel 5/6 mismatch of some sort. Should Babel 6 be a peer dependency, or is this able to work with legacy Babel?

[2016-03-31 23:22] quicksnap commented on #13
Node 4.2.0 / NPM 3.8.1

[2016-04-01 01:03] arunoda commented on #13
Yes I think that's the issue. It's try to load babel5 inside this where we don't support.
I didn't find this. I assume, you need to upgrade to babel6 for now.

I'll see what I can do about this.

[2016-04-01 01:05] adrianmc opened #14 "Specific Webpack Loader is Required for React?"
I'm trying to use storybook for an existing component in my Mantra app. The `ChatInput.jsx` component has two import statements at the top for React and the PureRenderMixin. I had assumed that storybook would work out of the box with Mantra apps. Do I need to do some webpack configuration in order to load my component?

This is the error I get from the storybook GUI:
[code]

This is the story file

[2016-04-01 01:06] arunoda commented on #14
Just rename you module to `ChatInput.js` and it'll work.

[2016-04-01 01:07] adrianmc commented on #14
@arunoda Thanks! You may close this.

[2016-04-01 01:08] arunoda commented on #14
Great.

[2016-04-01 01:08] #14 closed

[2016-04-01 01:23] quicksnap commented on #13
I upgraded to Babel 6 and it works well. The bug is in Babel, and I couldn't figure out what was going wrong.

It may be worth considering making babel v6 a peer dependency and call it good.

[2016-04-01 01:55] arunoda commented on #13
Cool. I think that's something we can do.

[2016-04-01 06:03] sammkj commented on #12
@arunoda , I'm currently working on viewport resizer and other stuffs for my team. I have a partially working viewport resizer. I might put in a PR this weekend or next week.
![react-storybook](https://cloud.githubusercontent.com/assets/9153498/14198938/49705210-f7a5-11e5-80cc-89dfee3b839f.gif)

Some features that I will be adding:
1. manual resizer
2. 'hay' resize
3. random resize
4. a set of pre

[2016-04-01 06:40] arunoda commented on #12
Awesome. Looking forward to that.
I could may help it to go with the styling as well.

[2016-04-01 16:26] D1plo1d commented on #12
I'd definitely want the ability to see multiple sizes at once. Here's what it looks like in my (now way too similarly named) ReactStoryboard project:

![](http://g.recordit.co/67iFe1e5bm.gif)

PS. I'd be stoked to merge these two projects if there's an interest.

[2016-04-01 16:32] sammkj commented on #12
@D1plo1d , that looks awesome! You already have all the features that I want to implement. If you're gonna do a PR then I will stop working on mine and work on yours later.

[2016-04-01 16:53] tedlin182 opened #15 "Getting 404 Registry returned when trying to run `npm install`"
Simply cloned your repo and ran `npm install` and got the error:
[code]

[2016-04-01 16:53] arunoda commented on #12
@D1plo1d this looks great.
I think as the start we can go with a simpler solution just like with Google Resizer.

First we have ways to see it in different resolutions. For multiple windows, we may need to work bit on data communication layer. Since the compoenet actually render on the iframe.

So, let's first go with the @sammkj 's way.
Then once we have it, we can step into the multi window view

[2016-04-01 16:57] luandro commented on #15
Same

[2016-04-01 17:23] arunoda commented on #15
This is a scoped NPM package. I hope that's not available on mirrors yet or something.

[2016-04-01 17:24] arunoda commented on #15
Is it possible for you guys to use the official mirror. If not directly install from github.

[2016-04-01 17:42] elado opened #16 "Module parse failed - Babel loader issue?"
Getting an error when running with this `.storybook/config.js`:

[code]

Error:

[code]

Seems like babel is not transpiling or it clashes with some config in my package?

[2016-04-01 18:12] tedlin182 commented on #15
@arunoda - Sorry, mind if you explain more of what you mean?

[2016-04-01 23:08] arunoda commented on #15
@tedlin182 it seems like you are using fury.io as the NPM mirror.
May be to support private modules.

They seems not support scoped NPM modules. Starting with @.

Just contact them and verify.
As a quick fix, use our github repo URL as the package version. Then it get the module via NPM.

[2016-04-01 23:11] arunoda commented on #16
Are you using babel6? Try to see you have a .babelrc in your project root and it has es2015 and react presets.

If not, try to create a sample repo and send to me. I will work on it.

[2016-04-01 23:13] elado commented on #16
Yes. This is my `.babelrc` in the root of my project:

[code]

I'll work on a repo.

[2016-04-01 23:37] arunoda commented on #16
Great.
BTW: check whether you are using NPM@3

[2016-04-01 23:37] elado commented on #16
npm 3.7.3 and node 5.9.1

[2016-04-02 00:03] D1plo1d commented on #12
@sammkj thanks!

I'm not sure if you should stop working on your component right away. I think @arunoda's got a point: The more I'm reading react-storybook's src the more I'm seeing implementation differences that would make cherry picking features difficult without larger changes.

I've got some ideas on how a merge could be done. @arunoda I don't want to step on any toes, could we have a quick s

[2016-04-02 00:14] arunoda commented on #16
Okay. Just to make it sure. Send me a sample repo.
I will try to see what's going on here.

[2016-04-02 00:15] arunoda commented on #12
@D1plo1d yes sure. I am happy to.
Drop me an email to arunoda@kadira.io and let's schedule a time.

[2016-04-02 00:24] sammkj commented on #12
@arunoda, regarding multiple windows, can we just duplicate the iframe in the layout component? I don't understand the data communication part.

[2016-04-02 00:45] arunoda commented on #12
@sammkj we can. We get data into the admin panel via the iframe and admin panel actions like selected story back to the iframe.

With multiple iframes things may go wrong. I didn't tested that.
But fixing that would be straight forward too.

I will work on that.

[2016-04-02 01:11] luandro commented on #15
Yea, I was using [sinopia](https://www.npmjs.com/package/sinopia). Doing a `npm set registry https://registry.npmjs.org/` solved the problem.

[2016-04-02 14:14] arunoda opened #19 "Get some features from ClojureScript devcards"
See: https://github.com/bhauman/devcards

Clojurescript devcards is a very similar project but they have implemented some cool features which reminds me iPython notebooks.

It has a concept of card (which is similar to story in our case). Unlike in our case, we can render not only React elements, but markdown and tests as cards.
See: https://vimeo.com/97078905

Which is very useful for creating se

[2016-04-02 14:27] arunoda commented on #15
I hope we are good here. Hope there's nothing we can do for this.
I'll add this into the README, if someone got this error.

[2016-04-02 16:05] jschlieber opened #20 "How to work with imports from meteor packages"
I would like to write some stories for React components based on some MaterializeCSS components. I'm using the materialize:materialize meteor package. Unfortunately they rely on extending jQuery. I know it is certainly not best practice to use jQuery with React, but some MaterializeCSS components are really handy. I tried to import MaterializeCSS from npm, but failed: [Issue 1422](https://github.c

[2016-04-02 16:38] arunoda commented on #20
Unfortunately you can't. Try to get it fixed.
Anyway, eventually you need to use everything with NPM in Meteor.

[2016-04-02 17:23] jschlieber commented on #20
Ok, thanks nevertheless...

[2016-04-02 17:36] sammkj commented on #19
One of other things that I'm working on to add for my team is markdown description. Perhaps I can send another PR on that?

I don't quite understand point #2. Mind to elaborate more?

[2016-04-02 17:39] antoinerey opened #21 "Some early reviews"
First of all, this a very good idea ! :)

I find confusing that the story you select jumps to the top of the list. You can't rely on the order since it keeps changing every time you click on a new story. In my opinion, one solution could be to just expand the item in the list without touching the order.

Moreover, a way to empty the action logger box should be a very very good addition. It gets ha

[2016-04-02 21:56] robin-drexler opened #22 "Invalid name: "@kadira/storybook" when installing package with npm"
When I try to install the package with npm version 3.8.3, I get the following error:

[code]

Have seen that before?

[2016-04-02 22:18] themgt commented on #22
Same here:
[code]

See also https://github.com/kadira-samples/react-storybook-demo/issues/3

[2016-04-02 22:22] alexissmirnov opened #23 "parse failed"
running  `npm run storybook` inside a react project (called graph),

getting this:

[code]

[2016-04-02 22:42] arunoda commented on #22
It seems like you guys are using a NPM mirror registry. See here: https://github.com/kadirahq/react-storybook/issues/15

[2016-04-02 22:42] glenjamin commented on #19
That's a great idea!

[2016-04-02 22:45] arunoda commented on #23
Are you using NPM 3 or NPM 2? If it's NPM2 this will help - https://github.com/kadirahq/react-storybook/blob/master/docs/known_issues.md#potential-issues-with-npm-2

[2016-04-02 22:45] arunoda commented on #20
Great.

[2016-04-02 22:45] #20 closed

[2016-04-02 22:46] arunoda commented on #21
@antoinerey I agree on both. Will land a fix very early next week.

[2016-04-02 22:51] arunoda commented on #19
@sammkj yes please :+1:

Basically, with this we are just reading propTypes for a given component class and just list them. It's kind of a documentation for a component.

@glenjamin Thanks.

[2016-04-02 23:13] themgt commented on #22
gotcha, thanks!

[2016-04-02 23:19] sammkj opened #24 "Use Mantra?"
I think this is a very good way to show mantra to the JS community.

Also, different devs have different storybook use case. With mantra, core module can export a set of apis to allow other devs to add features easily without affecting the core.

[2016-04-02 23:24] croogie opened #25 "How can I use CSS framework styles inside a storybook"
Let's say that my application is basing on some CSS framework like Semantic UI, Bootstrap or something like that. How can I easily incorporate that styles inside a story book so that my components will display correctly?

[2016-04-02 23:31] arunoda commented on #24
Yes it is.
I think we should thinking to rebrand Mantra as an architecture for React. Let's have a chat on the Mantra forum. (What I am planning to do in the early next week)

[2016-04-02 23:31] arunoda commented on #25
Yes it is. Read here - https://github.com/kadirahq/react-storybook/blob/master/docs/setting-up-for-css.md

I that's not what you need, just reopen this.

[2016-04-02 23:31] #25 closed

[2016-04-02 23:32] arunoda commented on #22
I'm gonna close this and re-open the original #15.

[2016-04-02 23:32] #22 closed

[2016-04-02 23:33] arunoda commented on #15
It's great to reopen and this this on the issue list.

[2016-04-03 03:28] jakedeichert opened #26 "Add visual/css diffing"
Just an idea, but it would be cool to see pixel-perfect diffing of your components/stories to see how they progress over time?

[PhantomCSS](https://github.com/Huddle/PhantomCSS#phantomcss) is a great example of what I mean.

[2016-04-03 14:20] robin-drexler commented on #15
Setting the registry, unfortunately doesn't fix it for me. :(

[code]

Also adding the github url in `package.json` leads to the same result.

`"@kadira/storybook": "https://github.com/kadirahq/react-storybook.git#v1.1.0"`

I suppose, I'm still somehow holding it wrong.

[2016-04-03 15:07] kevin-wolf opened #29 "CLI option to specify Storybook configuration"
Hello!

I've started using _react-storybook_ on a component library I am authoring and so far I like it. The only thing I haven't found on the docs and I think it can be better is the ability to specify the `config.js` path.

Maybe an option like `--config` on the cli?

[2016-04-03 15:18] arunoda commented on #29
Okay. That's a good idea. May be it's the config dir.

[2016-04-03 15:20] kevin-wolf commented on #10
:+1:

[2016-04-03 18:56] LFDM opened #30 "Example directly within this repo?"
Can we add an example to this repository - especially to make additional feature development more accessible, so that we can just fire up within this repo while we try to code on our PRs for you?

[2016-04-03 20:12] jamby77 commented on #23
Not sure if my issue is the same, but I am getting:
[code]
The component works fine when served with webpack dev server Or after processed with webpack and served via regular server. Does storybook need some configurations passed to it?
npm version is 3.2.3, webpack 1.12.14

[2016-04-03 20:29] awright415 opened #32 "Support for custom webpackDevMiddleware options?"
I'd like to try out storybook in a Docker project that uses boot2docker (picking up the changes using webpack polling). Everything seems to work properly by providing a `watchOptions.poll` value in the webpackDevMiddleware options. Are you open to making those options configurable? If so, any preference on how it should be implemented?

(Edit: Included `lazy: true` as an option originally by mista

[2016-04-03 21:23] Gi972 opened #33 "Add TypeScript Definition"
Hello,

Good Tool, can you add a TypeScript Definition for use with *.tsx files.

Thanks

Gi

[2016-04-03 22:00] ritz078 opened #34 "Steps for development"
It will be great if development steps are added in the Readme. This way contributing can become easier. Thanks.

[2016-04-03 22:27] tomitrescak commented on #33
Is this what you are after? @arunoda you can maybe add it? Or do you want a PR?

[code]

[2016-04-03 22:36] tomitrescak commented on #33
You also need to extend your definition of webpack.config.js to following. @arunoda, resolving jsx should be supported by default in my opinion.

[code]

[2016-04-03 22:48] tomitrescak commented on #33
Hmm, resolving does not seem to work .. not sure why .. the jsx files are not resolved ;(

[2016-04-03 22:56] tomitrescak opened #35 "JSX files not resolved"
I'm creating a spearate issue following on #33 when it is not possible to use typescript with storybook as jsx files are not resolved and storybook is concerned only with js files. Here is what I attempted yet it does not work:

[code]

[2016-04-03 23:35] arunoda commented on #35
There is a PR for JSX and I will take it as soon week started.

So, what about the type script, I didn't get it.

[2016-04-03 23:36] tomitrescak commented on #35
Not much, just adding a .d.ts definition will help typescript developers write typescript rich stories.

[2016-04-03 23:37] tomitrescak commented on #35
If the PR will work we can close this.

[2016-04-03 23:37] #35 closed

[2016-04-03 23:46] arunoda commented on #35
So you mean you got it configured for type script properly?

[2016-04-03 23:46] tomitrescak commented on #35
No, it does not resolve jsx files currently .. will wait for your PR.

[2016-04-03 23:50] arunoda commented on #33
@tomitrescak I am not good with TS, yes send me a PR.
Also add .configure() method as a definition.

BTW, how TS and .jsx extentions are related?

[2016-04-03 23:51] arunoda commented on #35
Will do it ASAP, I get to the office.

[2016-04-03 23:52] tomitrescak commented on #33
tsx are compiled into jsx in some configurations (e.g. mine). I am not using typescript loaders or typescript compiler in Meteor, but am compiling TS files into JS. This is faster and more controllable.

[2016-04-04 00:19] tomitrescak opened #36 "CSS not resolved"
Am trying to load CSS from my project folder but it is giving me error "Cannot resolve file or directory". Weird part is thta it is resolving correctly CSS from sub-packages. The `style-loader` and `raw-loader` have been added and webpack.config.js configured.

Example:

[code]

my webpack.config.js

[code]

[2016-04-04 00:19] tomitrescak commented on #36
Nevermind .. sorry about that.

[2016-04-04 00:19] #36 closed

[2016-04-04 00:34] tomitrescak opened #37 "Packing CSS images"
When there is an image or a font embedded in the CSS, it is not loaded in the storybook. I tried adding

[code]

but this only solves the resolution of the file, yet it is not loade from the correct URL. For example this fails for icon files in semantic ui and bootstrap:

[code]

[2016-04-04 01:10] tomitrescak opened #38 "Show all stories from one component on the same page"
Hi, it would be great if I could view all stories from the same component on the same page. This would help me a lot to see the general design. for example, I am working on a upload component and I would like to preview all states at the same time. Low prority though. Loving it so far!

[2016-04-04 05:23] arunoda commented on #34
Sure. That's one of my top priority this week.

[2016-04-04 05:25] arunoda commented on #37
Do you why is this? What's the normal webpack config we used when doing this?
Then we can see how to do something on this.

I am pretty new to webpack. So, any help would be great.

[2016-04-04 05:27] arunoda commented on #38
In order to do this, we need to configure our data later to work with multiple preview iframes. We discuss some of that here.
See: https://github.com/kadirahq/react-storybook/issues/12

Will work on once we get there.

[2016-04-04 05:29] arunoda commented on #33
Okay. got it.
I took the jsx PR and now in master.
Will do a release in few hours.

[2016-04-04 05:30] arunoda commented on #33
BTW: could you work on the TS definition file. Not sure where to add it.

[2016-04-04 05:32] namKolo opened #39 "Can't run the example in my project. Babel problem"
I just created the example and moved it to my project.
When i start, it throws error
[code]
Please help me.
Anyway, your project is so cool =D I really want to try to apply to my project soon. Love your concept and idea :+1:

[2016-04-04 05:35] arunoda commented on #32
Yes. Sure. I'm open to that.

Let's do like this.

* We support another config file called `webpack.devoptions.json` (or whatever the name works best)
* We can add additional config inside that.
* Then let's use it here with these default options: https://github.com/kadirahq/react-storybook/blob/master/src/server/index.js#L45

That's how I like to do it. But, I am open to suggestions.

[2016-04-04 05:37] arunoda commented on #30
I don't like putting examples here. But, I'll work on proper dev guide also include how to do use a real app when testing.

Will do it today.

[2016-04-04 05:37] #30 closed

[2016-04-04 05:38] arunoda commented on #39
Use NPM3. See: https://github.com/kadirahq/react-storybook/blob/master/docs/known_issues.md#potential-issues-with-npm-2

[2016-04-04 05:38] arunoda commented on #39
Please reopen if that's solve your issue.

[2016-04-04 05:38] #39 closed

[2016-04-04 06:55] arunoda commented on #21
These two have been fixed in version `1.2.0`.
Thanks for the feedback.

[2016-04-04 06:55] #21 closed

[2016-04-04 08:46] arunoda commented on #34
It's here: https://github.com/kadirahq/react-storybook/blob/master/.github/CONTRIBUTING.md

[2016-04-04 08:46] #34 closed

[2016-04-04 09:35] flosse opened #40 "why do we use separate webpack configurations?"
Most setups already use a webpack configuration and I wonder why do we use a separate one? Of course I could just symlink my config but that doesn't work because the server just uses the module loaders and plugins but ignores everything else. E.g. if I want to use stylus with the nib plugin there is a stylus option within the webpack configuration:
[code]
Because that option is ignored I can't use

[2016-04-04 13:55] arunoda commented on #40
That's because, Storybook uses it's own server with it's own set of configurations (files) to setup it.
But there's one thing that you can do.

You can import your existing configuration into storybooks file and pick whatever the parts you need.

[2016-04-04 14:53] gajus opened #41 "Does not use .babelrc"
My `.babelrc`:

[code]

My project tree:

[code]

(`./node_modules` is excluded).

When I run `babel ./src/index.js` program works as expected (compiles code using the presets defined in the `./babelrc`).

When I run `node ./node_modules/.bin/start-storybook -p 9001`, I get an error:

[code]

It appears that `start-storybook` is not using `./.babelrc`.

[2016-04-04 14:55] gajus commented on #41
Hm. Interestingly, if I change `.babelrc` to:

[code]

I am getting:

[code]

[2016-04-04 14:55] gajus commented on #41
Relevant versions:

[code]

[2016-04-04 15:26] arunoda commented on #41
Could you send me your versions of:

* webpack-hot-middleware
* webpack-dev-middleware

This is the project right? Where's the `.babelrc` file?

[2016-04-04 15:27] Xiphe opened #42 "logic as standalone npm module"
I really love the idea of building a DSL for state mutations. Since this comes as a standalone application it's not possible to integrate it in existing pattern lab solutions. (And I would really like to do that, instead of reinventing the wheel here ;)

So any plans to distribute the logic as a standalone npm module without the UI?

[2016-04-04 15:32] gajus commented on #41
Sorry, `.babelrc` is in the main directory. I did not notice that `tree` program excluded it.

There is no local version of `webpack-hot-middleware` or `webpack-dev-middleware`.

While https://github.com/gajus/react-youtube-player this is the project, I have not pushed the code using `./src` setup upstream.

I have created an issue that replicates the issue, https://github.com/gajus/react-youtube-

[2016-04-04 15:36] arunoda commented on #41
Got it. Will check that.

[2016-04-04 15:43] arunoda commented on #41
I think I got the issue and will work on a fix.

[2016-04-04 15:46] arunoda commented on #42
What you you mean by the logic? The UI is core part of Storybook.
Could you add more information a bit.

[2016-04-04 15:59] Xiphe commented on #42
We already have an application that provides a visual overview for all our patterns. I do not want to setup another tool that provides the same thing with just another featureset.

here would be an imaginary flow on how to use the logic of this project in my application:

`npm install react-storybook --save`

[code]

[code]

[code]

This way I could use this as a less opinionated subcomponent in m

[2016-04-04 16:00] finneganh commented on #29
I'd second this. The config file is an important part of the overall codebase and it's hidden inside a dot-directory.

[2016-04-04 17:15] arunoda commented on #41
Check the version `1.3.0`

[2016-04-04 17:17] arunoda commented on #42
Okay got it. Good idea.

[2016-04-04 18:36] Gi972 commented on #33
Thanks guys!

The best place for typescript definition  is on the definitelytyped site.
http://definitelytyped.org/

it's a catalogue for typescript definition.

[2016-04-04 20:11] ivivona opened #44 "Accept resolve alias in custom webpack config"
React native web project requires aliasing it to react-native to keep it like React native.

[2016-04-04 21:08] tomitrescak opened #45 "Components with containers"
Loving the storybook! Great job, I already added it to several of my packages to showcase their interfaces.

I've bumped into an issue, when a component contains a container that snatches its own data. The data are taken reactively from Meteor source. What is the workflow to accomodat these types of components?

[code]

[2016-04-04 22:06] chrislloyd commented on #19
Other than a property name, there's not enough reflective data in Reacts PropTypes to extract that information. Facebook uses (and recommends) static analysis to access that data: https://github.com/facebook/react/issues/4794

[2016-04-04 22:06] chrislloyd commented on #19
Also, why do you not recommend writing tests inside of stories?

[2016-04-04 23:45] arunoda commented on #45
That's the kind of thing I'm looking at. With React Komposer, I use a way to disable the container functionality at all.
See: https://github.com/mantrajs/mantra-sample-blog-app/blob/master/.storybook/config.js#L4

I hope we can do much better job as well.

[2016-04-04 23:45] arunoda commented on #45
Looking for some ideas.

[2016-04-05 00:57] submitteddenied opened #47 "Providing a static file directory breaks React Storybook"
If you use the `-s` flag to provide a static file directory, the express routing appears to break and the app fails to load.

[2016-04-05 01:06] arunoda commented on #47
what was the error you got? please provide the stack trace

[2016-04-05 01:09] submitteddenied commented on #47
No errors in the console (the express app works), but the browser console shows:

[code]

This is because the static files middleware is taking precedence over the webpack middlewares and failing to load the built files.

[2016-04-05 03:43] travi commented on #16
I'm seeing something similar when my webpack config works correctly for production:
[code]

* babel 6
* node 5.1.1
* npm 3.8.5

This is a fairly simple reference app that I thought would be a good testbed for this tool, but I can't seem to figure out how to get past this issue. This project is [public](https://github.com/travi/travi.org-admin/tree/react-storybook).

[2016-04-05 04:05] travi commented on #16
Digging through the examples in more detail, I realized that I needed to add a `webpack.config.js` under `.storybook`. I thought I had read somewhere that the existing one in the root of the project would be used automatically, but adding this file got me past this issue.

[2016-04-05 04:07] arunoda commented on #16
@travi I assume this because of the .jsx extension.
Try the latest version: `v1.3.0`

[2016-04-05 04:17] travi commented on #16
Thank you for that tip. Pulling down that latest version did enabled me to remove the diplicated `webpack.config.js` from under `.storybook`

I'm still getting `Error: inst.render is not a function` once I load it into the browser, which I'm assuming is related to the fact that this component is pure/stateless. I'm still digging in to confirm what I can, but I can log a separate issue for that if

[2016-04-05 04:19] arunoda commented on #16
@travi Great. That's better for another issue.

[2016-04-05 04:20] arunoda commented on #47
Hmm. I can't reproduce this issue.
Could you send some way, I can reproduce this error.

[2016-04-05 04:21] stewartduffy opened #48 "Custom webpack Configurations: postcss"
Hi there,

Have been playing around with storybook & I like it, but having trouble with the Custom webpack Configurations. I am trying to use postcss-loader with autoprefixer, and having no luck. Does storybook support this? I read in the docs it says the following:

"_Usually, there are a lot of things we can do with webpack, but React Storybook allows you to add only custom loaders and plugins_.

[2016-04-05 04:27] travi opened #49 "trouble rendering pure/stateless components"
As briefly mentioned in #16, I'm having trouble getting a pure component to render in a [simple reference application](https://github.com/travi/travi.org-admin/tree/react-storybook). I receive the error `Error: inst.render is not a function` when attempting to render [this component](https://github.com/travi/travi.org-admin/blob/react-storybook/lib/shared/views/theme/primary-nav.jsx).

I plan to k

[2016-04-05 04:40] arunoda commented on #48
Good timing. Started a discussion here: https://github.com/kadirahq/react-storybook/pull/46#issuecomment-205640580

We can do this soon.

[2016-04-05 04:44] arunoda commented on #49
Seems everything okay for me at a quick glance. Give it a try to find the problem. If not, ping me.
I'll try to debug.

[2016-04-05 05:07] travi commented on #49
I did sort it out. I forgot that this component was wrapped in a factory function. Once I sorted that out, it worked correctly.

Sorry for the noise.

[2016-04-05 05:07] #49 closed

[2016-04-05 05:38] arunoda commented on #49
Okay. Great.

[2016-04-05 05:42] tomitrescak commented on #33
@Gi972 I submitted a pull request, yet they need to include a test file with it as well. And I have noo idea what to put in those tests. Have you done a PR there before?

I also have a full d.t.s definition for Mantra ready, which I'm using personally and I can share it .. yet again .. no idea what tests should be there.

[2016-04-05 05:44] tomitrescak commented on #33
Another problem is that storybook does not have a npmjs page, therefore it is not recognised by the DT CI workflow.

[2016-04-05 05:48] tomitrescak commented on #37
Unfotunatelly I'm not a webpack master. @exon, would you be able to shed some light on this please? What is needed to be done to serve static assets from webpack?

[2016-04-05 06:22] arunoda commented on #33
We have a NPM page.
See: https://www.npmjs.com/package/@kadira/storybook/

[2016-04-05 06:26] tomitrescak commented on #33
Yea, I know, but the silly CI scrip only check for high level npmjs addresses such as https://www.npmjs.com/package/storybook/

[2016-04-05 06:34] tlrobinson opened #50 "Configure actions to transition to a different story?"
It would be nice if an action could trigger a transition to a different story to simulate interactivity, similar to how you can create simple prototypes with Invision, Framer.js, etc.

For example, say you have a "Toggle" widget with two states, "on" and "off", it would be nice if you could set up the actions for each story to switch to another story to simulate the toggle actually occurring:

[co

[2016-04-05 06:51] Gi972 commented on #33
hello Tomitrescak , I never make PR before, I don't know how it works.
For the test , I think you have already tcheck it : http://definitelytyped.org/guides/contributing.html#tests

It's right, I never saw the npm module name like @username/module-npm-Name  I think it's not very conventional.
Does you think rename it  like it:   https://www.npmjs/package/storybook after @arunoda ?
It will better f

[2016-04-05 08:00] arunoda commented on #50
Wow. Thats  a cool feature.

[2016-04-05 08:05] arunoda commented on #50
We can do it like this:

[code]

[2016-04-05 08:16] arunoda commented on #33
@Gi972 yes it not. That's something NPM introduce recently. This is very important because of the recent NPM related issues.

If that user have used a scoped package, there may not such an issue.

[2016-04-05 09:40] MasterAM commented on #45
One option that comes to mind is stub the context.
Something like a more function-complete version of [meteor-stubs](https://github.com/meteor-velocity/meteor-stubs) could be useful for this.

Another idea is providing a parameter to `ComposeAll` that will include metadata about the component being composed. This could be a string, for the requirements of this set of functionality.
When in test mo

[2016-04-05 10:18] stewartduffy commented on #37
Hi @tomitrescak I just had the same issue, I fixed it by specifying a static directory. So you can run
[code]
in this example `./dist` is the output dir that webpack will put the files, so my webpack output config looks like this:
[code]
and I changed my package.json scripts block to
[code]
See here https://github.com/kadirahq/react-storybook/blob/master/docs/api.md#static-directory

[2016-04-05 10:48] ritz078 opened #51 "Show some transition while new action trigger is logged"
Whenever I trigger a new action that is same as the previous action, it's hard to tell the difference seeing the logger . If there can be a small transition in the newest logged action for a moment when it's added , the difference will be more visible.

Open to sending a PR.

[2016-04-05 12:53] tomitrescak commented on #37
@stewartduffy that is great! Woulf you be please so kind and post the whole webpack configuration file? Thanks!!

[2016-04-05 14:13] arunoda commented on #51
Yeah! That's would be awesome.

[2016-04-05 14:14] tutturen opened #53 "Left menu goes blank when switching items"
When switching from one item to another in the storybook, the entire left menu disappears. When clicking "clear", it shows up again.

After some investigation, I found out that i only occurs when a scrollbar is present in the left menu.

This is tested in Chrome 48 on OS X.
I could not reproduce the same bug in Safari.

![Screen recording](http://g.recordit.co/ZnlBGLUocz.gif)

[2016-04-05 14:16] arunoda commented on #53
Thanks. I've seen that too in some places. Will see how it can fixed.
Let me know, if you find anything on this.

[2016-04-05 14:31] #29 closed

[2016-04-05 14:31] #41 closed

[2016-04-05 14:33] kevin-wolf commented on #29
@arunoda I think it would be better to specify filepath rather than directory. On that way I can name the file whoever I want.

[2016-04-05 14:35] arunoda commented on #29
@kevin-wolf We will have a few config files over the time. (Currently we've two)
So, it's better to have a directory.

[2016-04-05 15:26] antoinerey opened #55 "Center the story within the iFrame ?"
Do you consider centering the story inside the iFrame ? I currently work on a 27-inch screen and my Button component is pretty much lost in all this space :D

![image](https://cloud.githubusercontent.com/assets/3336873/14287536/47ae6c1c-fb53-11e5-9420-9ef5e18f87c5.png)

One solution could be to simply center the story on the screen. And of course, let the story scroll if it overflows the viewport.

[2016-04-05 15:29] antoinegrant opened #56 "Render React components with it's source..."
and perhaps with an editable source and live preview!

This could potentially be implemented in storybook: http://stack.formidable.com/component-playground/

[2016-04-05 15:38] vadirn opened #57 "Atom plugin"
Hi! I've set up a plugin here: https://github.com/vadirn/atom-storybook, but not yet succeeded with rendering url into the pane.

It seems like webview tag (https://github.com/electron/electron/blob/master/docs/api/web-view-tag.md) should be used in order to render the storybook.

Any help is highly appreciated)

[2016-04-05 15:40] jasford opened #58 "Toggle global settings"
It would be fantastic if there was a way to set up multiple "profiles" for global settings. So if you were designing a site that can be themed with a light or dark layout, you could choose "light" from a new nav area (maybe in the bottom left?) and then click through all the stories, then choose "dark" and click back through to see the dark variations of each one.

Think of designing a website tem

[2016-04-05 16:45] nrempel commented on #15
Has this issue been fixed? I'm having the same issue as @robin-drexler

[2016-04-05 17:25] nrempel commented on #22
@arunoda I think these issues are unrelated.

I am using the npm registry:

`npm c get registry`
https://registry.npmjs.org/

and I get

`Invalid name: "@kadira/storybook"`

Any ideas?

[2016-04-05 21:10] nicksp commented on #19
@arunoda Hi there,

Have some local groundwork for exactly these two features that I'd like to integrate in your tool :)

1. Allow to add a markdown description for each story. (Technically, there can be stories with just the markdown)
1. We can also show proptypes and what are they for a given React component. It's nice, if we can show them with a story.

How shall i put a note that i started to

[2016-04-05 21:52] arunoda commented on #55
I get it. But, the component run inside a pure isolated environment where we don't inject any code. So, we shoudn't inject anystuff to change it.

That's how I view about this. Thanks for the request.

[2016-04-05 21:52] #55 closed

[2016-04-05 22:11] arunoda commented on #58
I like to learn more about this. Is that showing the same stories but with some different profiles (like CSS stuff and so on).

I also want know about what we can do when we select a profile. How the components in the story get to know about this.

[2016-04-05 22:17] arunoda commented on #22
@nrempel That's so weird. I'm working on to support GH based distribution. Need some work, I'll publish on the other thread.

[2016-04-05 22:24] arunoda commented on #19
@nicksp awesome.

Yes. That's what we can start with. Something like this.

[code]

[2016-04-05 22:32] arunoda commented on #15
@nrempel @robin-drexler

You you can get if from the github like this:

[code]

I had to publish the `dist` directory to github in order to enable this.

[2016-04-05 22:44] nicksp commented on #19
@arunoda How shall i start? I mean do i need to create and issues and mark that i'm working on it or what?

[2016-04-05 23:09] arunoda commented on #19
@nicksp just add a note and start working on it. May be just work on a simple task.
Once you done something, just create a PR and link to this issue.
(PR doesn't need to be complete)

[2016-04-05 23:18] MasterAM commented on #45
I have [implemented my last suggestion for react-komposer](https://github.com/MasterAM/react-komposer/tree/composer-test-override).

It works pretty well, as long as you don't need more than one composer type for the same component type (which seems to me like a reasonable expectation).

If I have a component that depends on a composition, I can enable the test mode and register a stub composer fo

[2016-04-05 23:20] nicksp commented on #19
@arunoda Sounds good. Will ad a note right here then, in that specific issue. But since i don't have that much free time unfortunately, it won't be fast development process... just so you know. But i'll do my best. Would really love to pimp that project.

[2016-04-05 23:33] submitteddenied commented on #47
Ah found the problem, my static file directory had an index.html which was being served by the static middleware. Renaming this file (to something other than `index.html`) resolved the problem.

[2016-04-05 23:33] #47 closed

[2016-04-05 23:37] arunoda commented on #19
@nicksp No problem. Take your time. If we are working on that, I will let you know.

[2016-04-06 04:14] arunoda opened #59 "Keyboard Shortcuts"
It would be great we can create a set of keyboard shortcuts. Then we can do following this very easily:

* toggle controls (the menu on the left)
* toggle action logger
* full screen component preview window

[2016-04-06 05:11] arunoda commented on #57
I have no experience in Atom as well. Seems like webview is the thing we need. What was the problem you got?

[2016-04-06 10:17] karl opened #61 "Custom HTML for iframe (was 'Using Typekit')"
At work we use typekit to load fonts for our components. They are loaded using the simple Typekit embed code (as seen here: https://helpx.adobe.com/typekit/using/embed-codes.html).

The embed code is two script tags like the following:

[code]

I'm not sure of the best route for adding these script tags in to React Storybook, and wondered if anyone had any ideas!

Would React Storybook be interest

[2016-04-06 10:52] jide opened #62 "Customizing the layout"
It would be great to be able to customize the layout / html / css. Something like adding a custom component in .storybook.

[2016-04-06 12:01] arunoda commented on #61
Yes. This would be something great. We could have a file in the .storybook directory as base.html and use it in the iframe.

[2016-04-06 12:03] arunoda commented on #62
Could you give us more information? What you are trying to achieve?

[2016-04-06 15:20] arunoda commented on #48
Now you can add custom webpack config as shown above.
Try with the version: `1.5.0`

[2016-04-06 15:26] davidxmoody opened #65 "Cannot resolve modules 'stack-source-map' and 'webpack-hot-middleware'"
Hi, after installing react-storybook for the first time and trying to run it I always get the following errors:

[code]

Explicitly installing them (with `npm install --save-dev stack-source-map webpack-hot-middleware`) fixes the problem.

I'm not exactly sure where the problem is coming from as they are both listed as dependencies of react-storybook. My guess is that they are needed by webpack wh

[2016-04-06 16:05] arunoda commented on #65
Yes. That's true. It's because of NPM3. I think we should specifically mention this is only for NPM3. I'll try to do it.

Thanks for informing. This is an known issue.

[2016-04-06 16:05] #65 closed

[2016-04-06 16:39] jide commented on #62
I would like to be able to customize the layout, make the sidebar smaller... I tried to inject css in config.js and use global selectors, but it did not work, and seems hackish anyway.

I like to have my code and storybook side by side, and on my screen the current design takes a lot of space. I'm sure there could be many other use cases !

[2016-04-06 17:55] tlrobinson commented on #55
@antoinerey You could create a simple component to center the content, something like this:

[code]

Then just do:

[code]

[2016-04-06 18:08] tlrobinson opened #66 "Update URL based on currently selected story"
It would be nice if the URL path (e.x. `localhost:9001/MyComponent/storyName`) or fragment (e.x. `localhost:9001/#MyComponent/storyName`) updated when switching states, and was used to select the initial state when loading storybook, so that you could share links to a specific component/state, or if you need to do a refresh for whatever reason (crash, etc) it goes back to the last state.

[2016-04-06 18:21] antoinerey commented on #55
Yep. That's what I did too. That's why I proposed this idea to be included
into the final solution. :)
Le mer. 6 avr. 2016 à 19:55, Tom Robinson <notifications@github.com> a
écrit :

[2016-04-06 19:46] nobleach commented on #49
I'm actually having the same problem. Any component created by `class MyComponent extends React.Component` works just fine. But if they include any pure components, I get

[code]

[2016-04-06 20:43] nrempel commented on #15
Thanks @arunoda.

That didn't fix my problem but I was able to fix it by explicitly upgrading npm to version `3.8.6` by running `npm update npm -g`. Now I can install it correctly with `npm i --save-dev @kadira/storybook`.

I think it was a bug with npm itself.

[2016-04-06 21:45] nicksp commented on #19
Started implementation of the following tasks:

- [ ] Allow to add a markdown description for each story. (Technically, there can be stories with just the markdown)
- [ ] We can also show proptypes and what are they for a given React component. It's nice, if we can show them with a story.

[2016-04-06 22:57] arunoda commented on #66
Thanks. We are tracking it here - https://github.com/kadirahq/react-storybook/issues/6

[2016-04-06 22:57] #66 closed

[2016-04-06 23:04] jide commented on #62
I made a PR in case you find this useful.

[2016-04-06 23:26] jeef3 commented on #61
Also useful for any other CDN links, e.g. Font Awesome.

[2016-04-06 23:30] arunoda commented on #44
Now we've enabled this. Use version `1.5.0`.
See: #64 for more information.

[2016-04-06 23:30] #44 closed

[2016-04-07 00:02] arunoda commented on #45
@MasterAM overall, this seems like a good idea.
Send a PR and let's discuss.

[2016-04-07 00:21] jide commented on #62
If someone is interested, this can already be done using a custom webpack config file :
[code]

[2016-04-07 00:35] arunoda commented on #62
Great. I added a comment on this PR. https://github.com/kadirahq/react-storybook/pull/67

[2016-04-07 04:09] arunoda commented on #24
Okay. This is very good point. I thought using Storybook for Mantra apps. But, this is other way around and very interesting.

I think I kind a like it. Will work on it.

[2016-04-07 07:50] borisyankov commented on #12
You can point Google Resizer to localhost:9001

[2016-04-07 08:06] simonelp opened #72 "Custom entry point"
Hi,
I'd like to load a global css file (Font icon) valid for all components.
Is there  a way to have an "entry point", common to all the components?

[2016-04-07 12:00] #62 closed

[2016-04-07 13:57] RamonGebben opened #74 "Resizable Action Logger"
It would be really nice if I could resize the action logger.
Also it would be great if I could pick where it should be located,

- At the left of the screen next to the stories
- on the right of the screen next to the component view
- Botton like now

Like so for instance

![image](https://cloud.githubusercontent.com/assets/5405406/14353447/65fabe6e-fcd9-11e5-8177-86e7cf0f1f57.png)

[2016-04-07 14:00] simonelp commented on #72
I figured it out.
I imported `main.scss` (which in turn imports my font icon ) from inside `.storybook/config.js`
If there are no better solutions, feel free to close this.

[2016-04-07 14:02] arunoda commented on #74
If you update to the latest version, you can resize the Action Logger. But, switching it to a different location is not supported yet.

But, there's an adhoc way to do this. See: https://github.com/kadirahq/react-storybook/blob/master/docs/api.md#customizing-the-ui

[2016-04-07 14:07] arunoda commented on #72
I think this is the way to do it.

[2016-04-07 14:07] #72 closed

[2016-04-07 14:33] RamonGebben commented on #74
Then I would say the issue can be closed

[2016-04-07 14:42] arunoda commented on #74
Cool.

[2016-04-07 14:42] #74 closed

[2016-04-07 15:46] arunoda commented on #53
Hi, @tutturen,

We've changed the sidebar with #64 and now this should've been fixed. Check the latest version,

[2016-04-07 17:07] lowkay commented on #6
Howdy,

I've been having a poke around the code and got a working implementation of this feature using react-router.

To get it to work nicely I did a bit of refactoring. I wasn't really initially intending on opening a PR so I changed more than just implementing the feature - such as renaming files to have a jsx extension and naming them CamelCase if they export a type rather than a module.

Anyh

[2016-04-07 17:10] jhartma opened #75 "Module not found: Error: Cannot resolve module 'meteor/meteor'"
Hi, I'm getting this error in storybook
[code]
In the app itself everything works fine.
How do I tell storybook where to find meteor?

[2016-04-07 19:54] stewartduffy commented on #37
Hi @tomitrescak sorry about the delayed response.

So I currently have 2 webpack configs - one at the root dir & one in .storybook:

``.storybook/webpack.config.js ``
[code]

And my root ``webpack.config.js``

[code]

The reason for 2 configs is at the time, storybook didn't allow for anything in ``.storybook/webpack.config.js `` other than loaders. So I had webpack --watch running on my root dir

[2016-04-07 20:23] davidpelaez opened #76 "How to use context?"
Currently many UI libraries like material-ui depend on the context for theming. I wasn't able to figure out a way to setup this. Maybe I should have a global container and use it to wrap all my stories? It doesn't feel 100% clean, but I wanted to check if this if the correct approach.

Thanks for react-storybook, this is amazing! We've wanted this for so long in our team, it's currently changing t

[2016-04-07 20:41] karl commented on #61
I've started a PR to enable adding custom html to the iframe, I'd appreciate anyone's thoughts on whether I'm headed in the right direction!

https://github.com/kadirahq/react-storybook/pull/77

[2016-04-07 21:07] sammkj commented on #24
Storybook is gaining more and more attention. With mantra structure, other devs can work on new features (mantra module) and distribute it to npm. Then storybook users can just `npm install react-storybook-[feature]` and boom! `[feature]` is added. But normally features would require a layout change. For example, adding a resizer would certainly change the layout. I'm not sure how we can approach

[2016-04-07 21:26] stewartduffy commented on #76
Hi @davidpelaez we are doing this by setting context on each component. Not ideal, but in the context of a component library which we are building - it makes sense, having each component be self containing so they can be used in isolation.

[code]

[2016-04-07 22:54] arunoda commented on #6
I was also going to re-factor the UI code a bit using the [Mantra](https://github.com/kadirahq/mantra) architecture. But, feel free to send the PR directly.

[2016-04-07 22:56] arunoda commented on #24
Yes. I get it. That's really good.

[2016-04-07 22:58] arunoda commented on #75
This is not going to work. You should not use any Meteor specific code inside the Storybook. See whether you can do it or not.

If you follow the [Mantra](https://github.com/kadirahq/mantra), this is doable because of it's dependancy injection system.

[2016-04-07 23:01] alex88 opened #79 "Bootstrap not imported"
Hi there,

in my project I'm using `bootstrap--loader` within the entry configuration, in storybook I have:

[code]

and

[code]

[2016-04-07 23:09] arunoda commented on #76
@davidpelaez, They way you do it the correct way to do it. But, I think we can introduce a new API to make these things a bit easier.

See:

[code]

This is just a nice syntax but it will wrap each story with the context. But, I think that's the way it should be anyway.

[2016-04-07 23:17] ritz078 commented on #56
I don't think we should go ahead with this idea at this moment. react-storybook shouldn't take the component development out of the application. We should edit real files because otherwise using this module will become as good as using codepen or jsfiddle. At the same time as long as we are using this for development and not for component display, we can use devtools to see source code.

[2016-04-08 05:30] davidpelaez opened #81 "Babel constructor only being called once"
I have googled everywhere and I cannot find someone with a similar complain regarding React, so I would appreciate it if you take a moment and see if this could be a bug in Storybook. Consider this component:

[code]

And this story definition:

[code]

This uses hyperscript (I wanted to check it wasn't an issue with JSX, but it behaves exactly the same). Basically the alert on the constructor of

[2016-04-08 05:33] davidpelaez commented on #81
As a result of this problem, the state of the second instance is for some reason whatever the initial state was on the first one.

[2016-04-08 05:57] borisyankov opened #82 "Deploy to GH Pages?"
React Storybook works rally great for me!
So good, that I want to use it as the main thing illustrating one of my projects.

Is there any official process for the output the static files, so I can put them in a gh-pages branch?

[2016-04-08 06:08] jhartma commented on #75
the 'meteor/meteor' import is not inside the storybook, it's in the app code. But somehow the storybook webpack server is processing the entire app, and that's where the error occurs. I'm also using the webpack:webpack package which may lead to conflicts?

[2016-04-08 08:21] tutturen commented on #53
Checked version 1.6.0, and the bug seems to be fixed. Good work!

[2016-04-08 09:42] antoinerey commented on #57
What does your plugin do ? I can't find any informations about it :)

[2016-04-08 11:04] khmelevskii opened #87 "Add panel with component props"
<img width="441" alt="screen 2016-04-08 at 14 03 07" src="https://cloud.githubusercontent.com/assets/668591/14381955/c69cae4e-fd92-11e5-9d53-dfb26e146df4.png">

[2016-04-08 11:48] zimt28 commented on #55
I like the idea, this would be great to have! It should be an optional solution though.

[2016-04-08 12:18] mnmtanish commented on #11
Almost done just need to cleanup the code a bit.

[2016-04-08 12:39] mnmtanish commented on #11
I have a working version [here](https://github.com/kadirahq/react-storybook/pull/88). I'm not that familiar with webpack so someone should take a look.

[2016-04-08 12:59] zimt28 commented on #82
There's already a similar issue: https://github.com/kadirahq/react-storybook/issues/11

[2016-04-08 13:13] antoinerey opened #89 "Upgrade to React@15.0.0"
[React@15.0.0 is now out](https://facebook.github.io/react/blog/2016/04/07/react-v15.html). Could the peerDependencies be upgraded to reflect this ?

[2016-04-08 15:54] vadirn commented on #57
Plugin is not ready yet, don't really know how to make that. It seems like webview should be added to a pane, but I didn't find any information on that yet.

The idea is to open a pane with storybook rendered in it, so that you can edit your files and see the changes without switching windows.

[2016-04-08 18:07] karlguillotte commented on #89
@antoinerey Is React 15 working with Storybook for you?

I am getting: Error: Objects are not valid as a React child (found: object with keys {}). If you meant to render a collection of children, use an array instead or wrap the object using createFragment(object) from the React add-ons. Check the render method of `bound `.

Thanks!

[2016-04-08 19:44] antoinerey commented on #89
Yup. It works the same with both React 14 and 15. The only warning I have is the one about CSS unitless string value. See #84

PS: I'm using the Storybook 1.6.0

[2016-04-08 20:43] stewartduffy commented on #48
After upgrading to latest version this works nicely! Thanks!

[2016-04-08 20:44] stewartduffy commented on #48
Although you have to use array syntax for loaders, piping doesn't work

[2016-04-08 21:00] karlguillotte commented on #89
Thanks @antoinerey! Discovered that the issue is related with recompose.

[2016-04-09 02:19] arunoda commented on #48
Great. Hope we can close this now.

[2016-04-09 02:19] #48 closed

[2016-04-09 12:25] arunoda commented on #89
Updated peer-deps to React v15.0.0 and tested.

[2016-04-09 12:25] arunoda commented on #89
Hope we can close this.

[2016-04-09 12:25] #89 closed

[2016-04-09 13:24] arunoda commented on #53
Awesome. Kudos to @mnmtanish for this.

[2016-04-09 13:24] #53 closed

[2016-04-09 13:27] arunoda commented on #87
Yeah! Something like this would be great.
We are discussing something similar here: https://github.com/kadirahq/react-storybook/issues/19#issuecomment-206584563

[2016-04-09 13:27] #87 closed

[2016-04-09 13:29] arunoda commented on #75
Storybook has nothing to do with any Meteor package. I assume, you are importing a module which uses a module that uses `meteor/meteor`.

[2016-04-09 14:01] arunoda commented on #50
Thanks to @jeef3 's PR #86, now we've the story linking functionality.
Released with `v1.8.0`.

[2016-04-09 14:01] #50 closed

[2016-04-09 14:25] arunoda commented on #51
Released in `v1.9.0`.

[2016-04-09 14:25] #51 closed

[2016-04-09 19:15] stewartduffy commented on #48
Yep close away!

[2016-04-10 19:31] stewartduffy opened #90 "Custom webpack.config linting"
Has anyone had any using eslint-loader in the custom webpack.config? I have the following set up, however eslint-loader is not running

[code]

[2016-04-10 23:32] arunoda commented on #90
May be it cant read the .eslintrc this way. See if you can can pass that in a different way.

[2016-04-11 06:11] achtan commented on #56
view source - **yes**
edit source - **no**

[2016-04-11 08:09] arunoda commented on #10
I think @roonyh is working on this right now.

[2016-04-11 08:16] arunoda commented on #16
@elado  I assume this fixed. If not, please re-open and give me more info.

[2016-04-11 08:16] #16 closed

[2016-04-11 09:18] jiji262 opened #92 "Does it support .jsx file?"
Does it support .jsx file?

[2016-04-11 09:26] jeef3 commented on #56
I would actually start to wonder the value of seeing even the source inline (other than to make this a complete component IDE of course).

Instead, what do you want Storybook to become? So far it is a place for seeing the different states a component might be in, while also providing hot-reloading, ideal for development. Does Storybook then become a living styleguide perhaps? A library so other de

[2016-04-11 09:38] arunoda commented on #92
Yes it is. Do you found any issues with that?

[2016-04-11 09:40] arunoda commented on #56
@jeef3 It's too early to say where Storybook goes. Currently, it's only work as dev tool. But we are working on a static builder. See: #88

With that, we could publish our storybook into a set of static HTML files and publish to GitHub pages (or similar).

There is also an attempt to use markdown inside stories and render proptypes. See: https://github.com/kadirahq/react-storybook/issues/19#issuec

[2016-04-11 09:45] arunoda commented on #19
@nicksp We discuss a bit about this in our office. So, we thought rather than doing any changes to Storybook core, may be we can use some helper components to achieve these. See some sample code:

[code]

[2016-04-11 09:53] jiji262 commented on #92
Yes, with .jsx component, we get a error message:
Error: Cannot find module "../XXX"
(../XXX.jsx is the component)

[2016-04-11 09:54] jeef3 commented on #19
The only catch with something like that, would be if you're still wanting that component resizer (#17) . That resizes the whole `iframe` I think currently?

So you would end up possibly needing another helper to wrap the component (and then only resize that?).

[code]

[2016-04-11 09:56] arunoda commented on #19
@jeef3 That's a good point.

[2016-04-11 09:58] arunoda commented on #92
That's pretty weird.
Make sure you've the latest version of `@kadira/storybook`. (currently `v1.9.0`)

If it's the latest, could you send us a sample repo where we can reproduce it locally.

[2016-04-11 10:05] jhartma commented on #75
I got it working by stubbing the meteor api and exporting it into the global namespace. a bit tedious, but it works

[2016-04-11 10:08] arunoda commented on #75
@jhartma Got it.
May be you use a project like this: https://github.com/meteor-velocity/meteor-stubs

[2016-04-11 10:17] jhartma commented on #75
@arunoda thx for the hint.

[2016-04-11 12:40] ritz078 opened #93 "Separate CSS files"
As the project starts getting bigger, it will make more sense to separate out CSS in different files. We are already using css-loader so that shouldn't be a problem. Also in future we will be able to use CSS feature like keyframe etc and at the same time make the project more modular.

[2016-04-11 13:08] arunoda commented on #93
Got it.
But, How that's relate to this project?
We allow to use any [kind of CSS](https://github.com/kadirahq/react-storybook/blob/master/docs/setting-up-for-css.md).

If this is related to this project, We use CSS in JS mostly. But, we need some cleanup for the use of CSS.

[2016-04-11 13:13] ritz078 commented on #93
when I was implementing transition n action, I couldn't use CSS's keyframe functionality as they can't be used with inline CSS. So instead I had to use `setTimeout` . Separating it will be better in the long run as it will remove any limitations.

[2016-04-11 13:23] arunoda commented on #93
@ritz078 got it.

It is possible for you to use keyframe functionality with Radium.
See: https://github.com/FormidableLabs/radium

If so, I'm happy to use that instead of setTimeout.

[2016-04-11 14:42] bhishp commented on #81
+1. I find that I am unable to utilise defaultProps when creating multiple stories for a given component

[2016-04-11 14:54] zeroasterisk commented on #75
I'm getting this bug, and my config is dead simple:

[code]

[code]

and I get the bug:

[code]

[2016-04-11 14:54] arunoda commented on #81
I think I know the issue.
We need to unmount the existing component in the DOM, before rendering the new one.

See: `ReactDOM.unmountComponentAtNode()`

[2016-04-11 14:56] arunoda commented on #75
@zeroasterisk This is someother issue please see: https://github.com/kadirahq/react-storybook/blob/master/docs/known_issues.md#potential-issues-with-npm-2
(You need to use NPM3)

[2016-04-11 15:01] zeroasterisk commented on #75
thank you @arunoda - you continue to rule!

[2016-04-11 15:14] arunoda commented on #75
Okay. Removing your post since it's unrelated.

[2016-04-11 15:14] arunoda commented on #75
Closing this since we've a kind a fix.

[2016-04-11 15:14] #75 closed

[2016-04-11 17:06] arunoda commented on #61
Check version: `v1.10.0`. We've #77 in it.

[2016-04-11 17:07] arunoda commented on #81
Check version: `v1.10.0`. I did a fix for that.

[2016-04-11 17:51] namuol opened #95 "Failure parsing .babelrc with comments"
Comments can apparently be used in `.babelrc` files, [as is done in **react-redux-starter-kit**](https://github.com/davezuko/react-redux-starter-kit/blob/844e966688910ac79aed4629da0edfd4d7794fff/.babelrc), like so:

[code]

Storybook parses `.babelrc` configuration somewhere and fails when it encounters `//`.
It's easy to work-around (remove the comments):

[code]

However, Babel allows comments i

[2016-04-11 18:06] zeroasterisk opened #96 "Meteor CSS not importing"
I'm following your docs/guide for CSS importing, from a Meteor app, and I am not getting the CSS into React Storybook, but it is in my Meteor app... and both are running at the same time.

[code]

[code]

React Storybook has no CSS files loading via Chrome Inspector Network.

[2016-04-11 18:09] elado commented on #16
Looks like it's fixed in the most recent version. Thanks!

[2016-04-11 18:33] bhishp commented on #81
Yeah, works for me. Cheers

[2016-04-11 19:02] arunoda commented on #81
Great. Closing this then.

[2016-04-11 19:02] #81 closed

[2016-04-11 19:02] arunoda commented on #16
Great.

[2016-04-11 19:05] arunoda commented on #96
See here: https://github.com/mantrajs/mantra-sample-blog-app/blob/master/client/modules/core/components/.stories/index.js#L1

You need to import CSS inside the story files. You can also done that with config.js as well.

[2016-04-11 19:15] peisenmann commented on #61
Just to clarify, #77 seems to only cover the `<head>` whereas this ticket is for customizing the entirety of the iframe html. I'd like, for example, to be able to add a class to the root div for my SCSS styles to be properly namespaced.

[2016-04-11 19:43] arunoda commented on #95
yes. We should use [cjson parser](https://www.npmjs.com/package/cjson) I guess.

This is the place we should do it. See: https://github.com/kadirahq/react-storybook/blob/master/src/server/config.js#L18

I am open to PRs for this.

[2016-04-11 21:16] davidpelaez commented on #81
Works like a charm. Thanks @arunoda

[2016-04-11 21:26] zeroasterisk commented on #96
OK great, thanks... Will that work for '.less' files too? How about module loaded frameworks like bootstrap?

[2016-04-11 22:49] jeef3 commented on #93
Keyframes in Radium: https://github.com/FormidableLabs/radium/tree/master/docs/api#keyframes

*Radium works really well, although I'm personally still undecided on the best CSS approach for use with React.*

[2016-04-11 23:59] arunoda commented on #96
For the less, you need to configure a less webpack loader.
In the boostrap case it doesnt work. You may can directly i
pory such bootstrap in the config.js with a help of a NPM bootstrap library.

[2016-04-12 00:07] jeef3 opened #99 "Static directory (-s) serves index.html instead of Storybook"
I have static images etc in a `public` directory, as well as my applications `index.html`. I want to make the images available to Storybook (as some are used in my components). However, when I supply the `-s` parameter to serve the static directory, my `index.html` is served up instead of the Storybook app.

**Repro**
 - Create a `public` directory in your app
 - Place a `index.html` in it
 - Star

[2016-04-12 00:34] arunoda commented on #99
Yes. This is valid. But, I'm not sure how to fix it.

I think best way is to remove index.html from the static directory.
Is it possible to make that file as something like `index.html.tmpl`.

Otherwise, I'm open some ways to fix this.

[2016-04-12 00:59] arunoda commented on #93
I agree with @jeef3 too.
CSS area where no one agrees with one tech.
I think, it will be like that.

[2016-04-12 01:10] jeef3 commented on #99
Yeah, for now I have renamed my `index.html` :+1:

[2016-04-12 01:34] psimyn commented on #90
@stewartduffy you can try passing the .eslintrc location explicitly

[code]

[2016-04-12 04:15] #99 closed

[2016-04-12 04:15] #95 closed

[2016-04-12 05:28] jiji262 commented on #92
Hi,

I forked the demo codes here: https://github.com/jiji262/react-storybook-simple-demo

I have a demo file for jsx: react-storybook-simple-demo/blob/master/TreeView.jsx

And add this component in story script react-storybook-simple-demo/components/stories/button.js:
import Tree from '../TreeView';

Then the error is:

[2016-04-12 06:17] wwfalcon commented on #92
`import Tree from '../TreeView';`
should be:
`import Tree from '../TreeView.jsx';`

[2016-04-12 07:57] rogchap opened #102 "React dev tools"
Firstly, Storybook is a great tool.

Secondly, is it possible use the React (Chrome) dev tools to inspect the components/iframe?

I think this can be enabled by adding (see https://github.com/facebook/react-devtools/issues/76) to the iframe:

[code]

[2016-04-12 08:17] jiji262 commented on #92
@wwfalcon : I tried "../../" and it got the same error as before.

[2016-04-12 09:06] wwfalcon commented on #92
copy your "webpack.config.js" to ".storybook",and add jsx loader:
`
     {
        test: /\.jsx$/,
        loaders: [ 'babel' ],
        exclude: /node_modules/,
        include: __dirname
      },
`

[2016-04-12 09:12] dgsunesen commented on #33
How far are you with supporting .tsx files?

In my `.storybook/webpack.config.js` I have the following configured for typescript files:

[code]

However, it does not seem to work. Sad panda.

[2016-04-12 09:24] jeef3 commented on #92
I think the `.jsx` part of the `import` is actually quite important. You can see the list of files it's attempting to match and none of those attempts have the `.jsx` extension.

[2016-04-12 12:23] arunoda commented on #102
I think we should support. Send us a PR.

[2016-04-12 12:28] rogchap commented on #102
Cool... I'll look into this. Official assigned! :smile:

[2016-04-12 13:46] arunoda commented on #102
Awesome.

[2016-04-12 16:54] wyattdanger commented on #102
I was just about to submit a PR for this yesterday. Great timing. Will submit now

[2016-04-12 18:47] nicksp commented on #19
@arunoda Yep, sounds like a good solution. I like idea of separate components doing its stuff only. So, will implement on my account then, as a separate component which you can you later.

[2016-04-13 00:08] #102 closed

[2016-04-13 00:11] arunoda commented on #102
Merged #104 and released as `v1.11.0`

[2016-04-13 04:40] stewartduffy commented on #90
OK so looks like it is an issue with webpack preLoaders rather than eslint-loader.
This config works:
[code]
this config does not work:
[code]

[2016-04-13 06:27] boustanihani opened #105 "Question: How does this compare to Chromatic?"
Just wondering, how does React-Storybook compare to https://github.com/meteor/chromatic ?

[2016-04-13 06:33] LFDM opened #106 "Unable to start 1.11.0"
This is an issue of `react-split-pane` in fact, but I am still posting it here, as most people will probably run into this through `react-storybook`.

When I try to run storybook, webpack's throwing this exception:

[code]

[2016-04-13 07:19] arunoda commented on #105
Please refer this: https://medium.com/@arunoda/it-s-a-different-solution-runs-inside-your-app-we-are-doing-totally-isolated-from-your-app-51cc52ad46b1#.tsp231i3n

[2016-04-13 07:19] #105 closed

[2016-04-13 07:22] arunoda commented on #106
That's weird. I'm not getting this error? Are you using NPM v3?
Is there anyway, I can reproduce this?

[2016-04-13 07:25] LFDM commented on #106
I am on npm 3.3.6, yeah.

Would love to have more info, but don't really know why this would happen myself. I'll do further digging too and check back when I find anything

[2016-04-13 07:39] arunoda commented on #106
Could you try removing all the NPM modules and try re-installing again?

[2016-04-13 07:43] LFDM commented on #106
Did that - it's of no help.

I think the issue is that `react-split-pane` is not transpiled. When `storybook` requires it know, it goes through the webpack build processes the consumer specifies in his storybook configuration. This might not have access to this `transform-object-assign` plugin (and it shouldn't, as it's an implementation detail of `react-split-pane`).

Does this make sense?

[2016-04-13 07:48] stewartduffy commented on #90
Looked into this more, can confirm that ti does not support preLoaders. Have made a PR https://github.com/kadirahq/react-storybook/pull/107 to add support for this.

[2016-04-13 09:12] arunoda commented on #106
I will take a look at that and try to make it traspile correctly or not.

[2016-04-13 09:57] ritz078 opened #108 "Code folding in logger [UX]"
We can use react-codemirror or ace editor to enable code folding in the logger so that the logged object doesn't take the whole space just like you get in the console. If you want to see it, you can open it. We can keep that in read only mode. We can also have syntax highlighting this way.

For a lightweight solution we can use [JSONView](https://github.com/yesmeck/jquery-jsonview) or [this](https

[2016-04-13 09:59] ritz078 commented on #93
Thanks . I will go forward with the proposed solution.

[2016-04-13 09:59] #93 closed

[2016-04-13 10:23] arunoda commented on #93
Awesome.

[2016-04-13 10:32] arunoda commented on #108
Codemirror or ACE is too big for that. I don't like complete folding. But, something like in the chrome's console looks great.

See:

![screen shot 2016-04-13 at 4 00 36 pm](https://cloud.githubusercontent.com/assets/50838/14490542/0786af52-0191-11e6-955b-df7db98339d2.png)

[2016-04-13 11:29] bcowgill opened #109 "Filter box should work on story levels too"
I tried the simple instructions for testing a Button as shown here: https://github.com/kadirahq/react-storybook

and it works, but I don't see the Filter box doing anything.

[2016-04-13 11:31] bcowgill opened #110 "Logo should link you to the main page or perhaps the issues page"
Clicking on the R E A C T  S T O R Y B O O K link at top left does nothing, should probably take you to the github issues page, storybook home page or be configurable.

[2016-04-13 12:30] arunoda commented on #110
Yeah. Good one. Linking into this repo would be great.

[2016-04-13 12:31] arunoda commented on #109
Filterbox only filter the top level menu (Which you defined with `storiesOf()` API.

[2016-04-13 14:15] MasterAM commented on #45
@arunoda, PR sent.
Currently I use some fixtures located in a file under `.stories` as the alternative data source for the composer stub. The composer stub itself is set up in another file inside the `.stories` directory.

In the stub setup file I import those fixtures and the base component, use the fixtures in the stub composer function and call `createStubComposers` with the base component and

[2016-04-13 23:53] #90 closed

[2016-04-14 00:09] stewartduffy commented on #37
Did this help?

[2016-04-14 08:57] shilman opened #112 "Adding stories from data structure throws error"
I have a working set of stories from the sample code. However, when I try to populate stories from a simple data structure, storybook gives me an error.  Loading stories from data would keep code DRY when you are sharing fixture data between stories and unit tests.

When I modify the storybook example `components/stories/TodoItem.js` with the following trivial change, it gives me the following err

[2016-04-14 09:14] mnmtanish commented on #112
Hi @shilman,
I believe the code given above will work fine if we use an arrow function.

[code]

React storybook can be modified to support data structures by changing these 2 lines.

 - https://github.com/kadirahq/react-storybook/blob/master/src/client/story_store.js#L53
 - https://github.com/kadirahq/react-storybook/blob/master/src/client/ui/preview.js#L35

But using a function to create the com

[2016-04-14 09:26] shilman commented on #112
@mnmtanish You're correct, it's just a bug in my code, not a problem with storybook. Thanks for the quick response and solution! I think we can close the issue.

[2016-04-14 09:28] mnmtanish commented on #112
You're welcome 😃

[2016-04-14 09:40] shilman commented on #112
@mnmtanish Could be a convenience function perhaps, something like `todoStories.addAll(data)`?

[2016-04-14 09:48] jeef3 commented on #112
I was thinking this as well. The only problem though is that currently the `add()` story requires you to pass a function that does the rendering. `addAll` could only work like you've described if a Story was set-up knowing what component it would render, and then only allowed you to pass `props`.

Perhaps something like:

[code]

Where the render function of `addAll` passes the props each time. Co

[2016-04-14 10:04] shilman commented on #112
@jeef3 @mnmtanish This looks great. Mind if I submit a PR, to practice my "open-sourcery"?

[2016-04-14 10:11] jeef3 commented on #112
I don't think anyone will stop you :smile:

One thing I notice though is that `add(kind, fn)` requires you to give it a name (*kind*) and a render function that does all the work. Where this proposed `addAll(data, fn)` requires a kind/props pair, with a render function that accepts props. While it might work well, `add` and `addAll` work quite differently, so it might be weird that they are named

[2016-04-14 10:32] shilman commented on #112
Looking into the code it's a non-trivial change. I think it's better implemented as a convenience function external to the library. This works for me for now:

[code]

[2016-04-14 14:43] peisenmann opened #113 "Question: Is it valid to test Redux-Form components?"
I'm having a little trouble when I try to test a Redux-Form component in the storybook. The error I get is
`Uncaught Invariant Violation: Could not find "store" in either the context or props of "Connect(ReduxForm(SimpleForm))". Either wrap the root component in a <Provider>, or explicitly pass "store" as a prop to "Connect(ReduxForm(SimpleForm))".`

Which I imagine is because there's no `<Provide

[2016-04-14 15:00] mnmtanish commented on #113
Please correct me if I'm wrong, but the component we provide when adding stories will be rendered as the root component ([source](https://github.com/kadirahq/react-storybook/blob/master/src/client/ui/preview.js#L35)). So I guess it's easy to wrap it with a Provider component when adding stories.

Something like this perhaps

[code]

[2016-04-14 15:50] peisenmann commented on #113
@mnmtanish Certainly. I was able to do something like
[code]

I just wasn't sure if that was idiomatic. Your `withProvider` function may be something I pickup to shorten the above code, though. Thanks. I think this could be closed unless you'd want to add this the storybook itself as configuration.

[2016-04-14 16:03] arunoda commented on #113
Check this as well: https://github.com/kadirahq/react-storybook/issues/76

[2016-04-15 06:47] mcbain commented on #76
The same is needed for material-ui. Currently I wrap every story with a `<WithTheme>/<WithTheme>` component. +1

[2016-04-15 09:10] stewartduffy commented on #56
If there is talk of adding support for displaying code example - I think it's worth looking at how material ui do it in their docs. Quite a nice implemtation. They store their code example in external js module & import it in twice to their page. One using the raw webpack loader, they pass the result of this file into a markdown component & the pass the regular loaded example to their page compone

[2016-04-15 12:37] davidpelaez commented on #76
@mcbain exactly I came to this because of material-ui. Thanks for pointing
out that using the wrapper was correct. It would be nice to either have
this is in the docs or have a dedicated helper for it. A slightly closer
integration to small details of React like this would be great. I've seen
many constants update in the last dates and you are doing an amazing job.
Whatever you choose will work gr

[2016-04-16 00:20] arunoda commented on #56
@stewartduffy using rawLoaders is a pretty interesting idea. @mnmtanish Check this.

[2016-04-16 04:02] arunoda commented on #76
@mnmtanish could you work on the `addDecorator()` API when you have some time. Make a comment if you are working on this.

If some else could do it before @mnmtanish that's great too :)

[2016-04-16 07:51] ffxsam commented on #96
I came here for the same issue - trying to use SCSS with React Storybook.
https://forums.meteor.com/t/react-storybook-how-to-get-styling/21496

Is webpack the only solution?

[2016-04-16 11:48] arunoda commented on #96
@ffxsam Yep. That's the only way which supports hot loading.

[2016-04-16 14:33] mnmtanish commented on #76
@arunoda just wrote a simple implementation [here](https://github.com/kadirahq/react-storybook/pull/115/files). Let me know if there are any changes.

It should work but I haven't tested it with a React demo yet. I'll comment here after testing in a while.

[2016-04-18 07:09] arunoda commented on #108
This is implemented with #111 and released as `v1.13.0`.

[2016-04-18 07:09] #108 closed

[2016-04-18 13:00] willdady opened #116 "Action logger breaks stateful components"
I've just started using storybook and so far it's been great. I've ran into the following issue. Basically if I have a component which maintains it's own internal state the action logger causes the component to be re-rendered when called, effectively creating the component anew.

The following breaks the component by re-rendering the component...
[code]
...but the following does not.
[code]

Is th

[2016-04-18 13:48] mnmtanish commented on #113
Just for reference, with the `addDecorator` API, we can do something like this:

[code]

[2016-04-18 16:39] arunoda commented on #82
Closing since we've added this now.

[2016-04-18 16:39] #82 closed

[2016-04-18 16:39] arunoda commented on #11
This is implemented.

[2016-04-18 16:39] #11 closed

[2016-04-18 17:39] gsabran opened #117 "Does this work when components depend on meteor packages?"
Hi! Project looks amazing. I've followed the read me and things fail with `Error: Cannot find module "meteor/react-meteor-data"` Is that because meteor package in not a traditional npm package?

I know I'd better not mix the UI component and the container, but they sometime happen to be in the same file

[2016-04-18 19:29] ritz078 commented on #37
@tomitrescak The following config is working fine for me to load fonts and images. Might be helpful.

[code]

[2016-04-18 21:40] tomitrescak commented on #37
Works for me as well, thanks guys! Amazing stuff.

[2016-04-18 21:40] #37 closed

[2016-04-18 23:27] gsabran commented on #117
Also happening with `meteor/kadira:flow-router`. It seems to be related to how meteor handles its packages

[2016-04-19 00:19] gsabran opened #120 "Uncaught Error: Cannot find module 'crypto'"
The requirement of `uuid` ([here](https://github.com/kadirahq/react-storybook/blob/master/src/client/synced_store.js#L4)) that in turns requires `crypto` ([here](https://github.com/defunctzombie/node-uuid/blob/master/rng.js#L1)) makes my app crash with `Uncaught Error: Cannot find module 'crypto'`

That's weird because `crypto` comes with node. If it's not related to `react-storybook` in particula

[2016-04-19 00:28] arunoda commented on #120
Is this a Meteor app?
When you are getting this error?
Try to provide some way we can reproduce this.

[2016-04-19 00:32] gsabran commented on #120
Sure. Yes a Meteor app. adding `import { storiesOf, action } from '@kadira/storybook';` in a client file is enough to trigger the require chain and to make the app crash (I just get a blank page)

[2016-04-19 00:33] gsabran commented on #120
I'll try to get a small example to reproduce the error

[2016-04-19 02:59] arunoda commented on #120
Okay looking forward to that. Make sure to put stories in a place where Meteor does not load those files.

[2016-04-19 03:02] arunoda commented on #117
We simply can't use them. One possible way to pass everything via props.
Or use webpack's resolve.alias feature to map a mock modules for Meteor packages.
( You can configure it with our custom webpack config )

[2016-04-19 03:02] #117 closed

[2016-04-19 03:07] arunoda commented on #113
I think we can close this now.

[2016-04-19 03:07] #113 closed

[2016-04-19 05:57] arunoda commented on #116
I can see what's going on here. We should not render in that case.

**Note:**
Find out a way to stop rendering preview iframe if there's no related data change.

[2016-04-19 06:08] gsabran commented on #117
Ok I'll try the webpack config way (I'm getting started with it, might take some time!)
What do you think of mentioning this important caveat in the main readMe? It sounds like this project is not only aimed at Meteor apps, but for those it'd be very good to know about that.

[2016-04-19 06:50] ritz078 opened #121 "File search shortcut"
Instead of having a search box in left, won't it be better to have a search box that pops up on hitting `cmd+P` with the fuzzy search? I think developers are more used to it.

[2016-04-19 07:57] arunoda commented on #121
Yes. That's very cool too. Also, I'll like to have a ctrl + F to render the whole preview in the browser as well.

Related: https://github.com/kadirahq/react-storybook/issues/59

[2016-04-19 08:40] ritz078 commented on #121
I can work on these.

[2016-04-19 08:40] 11th commented on #61
@peisenmann just wrap your story with that div/class.

Thanks for this. Useful for google maps.

[2016-04-19 09:25] arunoda commented on #121
Ah awesome.
We also discussed a bit on this. We may have to deal with some issues here.

For an example, when we are in focus inside the iframe, our keyboard shortcuts may not work. So, we may need to track short cuts on the iframe as well send them back to the admin page to do the actual effect.

[2016-04-19 09:35] ritz078 commented on #121
As far as the iframe is served from the same domain `postMessage` can be used.

[2016-04-19 09:43] arunoda commented on #121
We don't need to use postMessage, we already have a communication channel.
See: https://github.com/kadirahq/react-storybook/blob/master/src/client/synced_store.js

It's a matter of pushing data to above synced_store.

[2016-04-19 09:45] ritz078 commented on #121
Cool. I will look into that then.

[2016-04-19 09:46] arunoda commented on #61
I think we can close this now.

[2016-04-19 09:46] #61 closed

[2016-04-19 09:57] yhjor1212 opened #122 "How can I install storybook via npm?"
Here is the error message:

`npm i --save-dev @kadira/storybook
npm ERR! Darwin 15.4.0
npm ERR! argv "/usr/local/Cellar/nvm/0.30.1/versions/node/v5.9.1/bin/node" "/usr/local/opt/nvm/versions/node/v5.9.1/bin/npm" "i" "--save-dev" "@kadira/storybook"
npm ERR! node v5.9.1
npm ERR! npm  v3.7.3
npm ERR! code E403

npm ERR! unregistered users are not allowed to access package @kadira/storybook : @kadira

[2016-04-19 10:35] arunoda commented on #122
Check this: https://github.com/kadirahq/react-storybook/blob/master/docs/known_issues.md#npm-404-error

May be you are using an NPM proxy.

[2016-04-19 13:43] zeroasterisk commented on #96
Ok I finally got this working last night... though I'd share.

Webpack builder + bootstrap + font-awesome + meteor `.css` files (need to change to `.less` builder soon)

This isn't perfect, and I think I might be duplicating effort a bit, but it's at least working.

[code]

[2016-04-19 17:20] ffxsam commented on #96
Boggles my mind why people like webpack so much.. ugh. All that, just to get everything working?

@arunoda I would recommend maybe adding a webpack config to the package so that Sass & LESS work out of the box, as I'm willing to bet most projects don't use plain CSS.

[2016-04-19 17:34] arunoda commented on #96
We can add a link to above when we are talking about [CSS in Meteor.](https://github.com/kadirahq/react-storybook/blob/master/docs/setting-up-for-css.md#css-with-meteor) We won't bundle anything default related to CSS with Storybook.

I hope that's the best way.

[2016-04-19 17:37] ffxsam commented on #96
Ok, but even if you can have webpack boilerplate that we can copy/paste that will make CSS, Sass, and LESS work right away.. that would be awesome. Because lots of Meteor folks like myself haven't had a need to use webpack thanks to Meteor's build system, and the learning curve for webpack is _massive_. I know I don't have the time to invest in learning it.

[2016-04-19 19:37] arunoda commented on #96
@ffxsam Yes. We can simply put it there.

[2016-04-19 19:38] ffxsam commented on #96
Many thanks! 😀

[2016-04-19 19:39] arunoda commented on #96
@ffxsam BTW: Send me a PR, if you can do if before me.
I suggest to create a gist with the boileplate and link it with other info.

[2016-04-19 19:40] ffxsam commented on #96
Love to, but I don't know webpack - sorry!

[2016-04-20 00:09] necolas commented on #116
That sounds good! The re-render also causes assets like images to flash every time an action is taken as the whole story gets re-rendered.

[2016-04-20 00:14] necolas commented on #76
Could you not use something like https://github.com/mattzeunert/react-with-context?

[2016-04-20 00:15] necolas commented on #56
I'm using this and it's a great feature. View source / edit source is complex and I'm not sure what value it adds to react development workflows.

[2016-04-20 00:18] necolas opened #124 "Mobile storybook view"
It would be great if we could view the storybook UI on a mobile device, especially when building mobile apps. At the moment the UI is missing meta tags for viewport scaling, and the nav / component menu has no mobile view (could probably be the standard hamburger + drawer pattern initially).

[2016-04-20 01:18] yhjor1212 commented on #122
It has been fixed now. Thank you.

[2016-04-20 01:18] #122 closed

[2016-04-20 03:50] arunoda commented on #122
@yhjor1212 Could you update on how you get it fixed?

[2016-04-20 03:52] yhjor1212 commented on #122
I just disabled the registry and reinstall again. After the installation I enabled it again.

[2016-04-20 03:53] arunoda commented on #124
Yes. This contains two issues actually.
We discuss about viewport resizing and mobile device previews here: https://github.com/kadirahq/react-storybook/pull/17

Also, it's great to have a mobile theme for Storybook itself. So, that's why I marked this as a feature.
If you can work on this, we are more than happy :)

[2016-04-20 03:53] arunoda commented on #122
Ah got it.
Thanks.

[2016-04-20 03:58] arunoda commented on #116
Actually, I find out a simple way to fix this.
Here's the line we need to focus: https://github.com/kadirahq/react-storybook/blob/master/src/client/ui/preview.js#L22

We can check for equality of both `selectedKind` and `selectedStory` and proceed if only at least one of them has changed.

[2016-04-20 04:30] gavriguy commented on #45
you might want to try https://github.com/gavriguy/react-indie which has some similar concepts to react-komposer but takes a different approach for handling data defaults, data loading and errors. it lets the component itself deal with the ui of all of the above making it a perfect fit.

it even uses storybook to showcase how the component works.

(note: im the creator of react-indie)

[2016-04-20 04:47] gavriguy opened #125 "allow to import all stories files to storybook without explicitly requiring one file at a time"
it would be nice to add to the storybook config an option to require all story files that matches a specific file name pattern like *.storie.js -  in a similar way that test runners are loading all test files in a projects

[2016-04-20 05:00] arunoda commented on #125
I think that's possible to do with webpack. So simply need to use it in the config.js
But I'm not exactly sure about the syntax.

[2016-04-20 05:02] arunoda commented on #45
@gavriguy great. And you can publish your storybook to GitHub pages.
Checkout react-cdk for this. It has the sample code to do it.

[2016-04-20 11:23] gavriguy commented on #125
Hi, I followed your advice:

Assuming all your stories follow the name `_story.js`

e.g

[code]

then this is the way to require all project's stories

[code]

Maybe it will be good idea to add this to the docs. Let me know if you want me to open a pull request for it.

[2016-04-20 11:54] arunoda commented on #125
Yes. It should fit somewhere here - https://github.com/kadirahq/react-storybook/blob/master/docs/api.md#loading-modules

[2016-04-20 12:10] arunoda commented on #116
Guys, now we've a fix for this with PR #126.
Try this version: `v1.16.0`

[2016-04-20 12:30] gavriguy commented on #125
I see its already documented there :)

[code]

[2016-04-20 12:30] #125 closed

[2016-04-20 14:21] tomitrescak opened #127 "JSX (TSX) not resolved"
Hi, I'm trying to make this work with my project, but again I cannot make the JSX to resolve.

On contrary to #92 when I add 'import ./a.jsx' it works for jsx but that's not the solution as I need it to import by default. The TS and TSX solution does not work at all as it is not even resolving TS and TSX to supply to "ts-loader"

I even added my own webpack.config.js with a following content but I

[2016-04-20 14:34] tomitrescak commented on #127
I tried to use pure typescript with a following config, yet it does not even resolve ts and tsx.

[code]

[2016-04-20 15:02] de-monkeyz commented on #116
I'm not sure if I'm doing anything wrong (just picked up storybook, loving it). But it seems like I still get this error if I'm passing the event object from a form submit, rather than a click. More specifically the Storage quote error. Any ideas? I'm assuming that React is sending a different event type that isn't handled.

[2016-04-20 15:05] winkerVSbecks opened #128 "onSubmit stripped for Forms"
Trying to test a button that allows form submissions:

[code]

It seems that `onSubmit` gets stripped when it loads in React Storybook. I've tried different combinations: wrapping it with a div, making it the root component, using a custom `Form` component, etc. In all cases the `onSubmit` is stripped out. Any idea what I'm doing wrong? Or are forms not supported by React Storybook?

[2016-04-20 15:13] arunoda commented on #125
oops.

[2016-04-20 15:35] de-monkeyz commented on #128
You need to pass in just the call to action() not a function that calls it:

`<form onSubmit={action('form submitted')}>`

This doesn't prevent the default action on the form though, so the iFrame will reload

[2016-04-20 15:40] winkerVSbecks commented on #128
I see, thanks for explaining that.

[2016-04-20 15:40] #128 closed

[2016-04-20 17:34] agilliland commented on #15
For folks that are on npm 2.x I ran into this issue and found that npm `2.15.1` will fail but after upgrading to `2.15.3` everything is working.

[2016-04-20 19:19] Ghosh opened #129 "Loading styles with browserify"
Is there any way of loading styles with browserify? Similar to like that of webpack?

[2016-04-20 19:47] #129 closed

[2016-04-20 20:38] arunoda commented on #127
Try to run a fork and add ts loader to here: https://github.com/kadirahq/react-storybook/blob/master/src/server/webpack.config.js#L30

But above should work too. You need to use `path.resolve('../', __dirname)` instead of direct `dirname`.

[2016-04-20 21:30] tomitrescak commented on #127
@arunoda still no luck. I have downloaded the react-storybook-demo and renamed Header.js to Header.jsx and used following webpack.config.js and still am receiving the error:

[code]

[2016-04-20 21:53] jasford commented on #58
So say I was building an app and provided a `displayDensity` setting for the user with options for "Comfortable", "Cozy" or "Compact (like Gmail). This is a global setting, and most/many components would render differently based on the setting. Rather than add duplicate stories in React Storybook for each `displayDensity` setting, it would be ideal to make that choice once, and have all stories re

[2016-04-21 00:48] willdady commented on #116
This update seems to have fixed my original issue above. Thanks.

[2016-04-21 00:52] arunoda commented on #116
@willdady great.
@de-monkeyz could you submit a new issue.

This is the reason of the event object. I assume you are not getting a standard React event.

[2016-04-21 00:52] #116 closed

[2016-04-21 11:43] MiMaMuh opened #130 "Action Logger unmounts the component?"
Hi,

I created a component and a story which uses a action to log a event. But I get erros due to the component gets unmounted when after the action-log is executed? Is this a normal behaviour?

[2016-04-21 11:44] MiMaMuh commented on #130
Sorry, its already fixed: https://github.com/kadirahq/react-storybook/blob/master/CHANGELOG.md#v1160

[2016-04-21 11:44] #130 closed

[2016-04-21 12:56] zvictor opened #131 "Isolation of components inside the iframe"
I am having a hard time with the isolation of components inside the storybook's iframe.
The elements **absolute positioned** are not using the iframe's viewport as anchor.
Stating `position: relative` to `#root` solved it, but I could not understand why.

![slice 1](https://cloud.githubusercontent.com/assets/181076/14709460/ffbe97da-07d0-11e6-823e-893de9ba910b.png)

[2016-04-21 13:13] tomitrescak commented on #127
I do not understand what is going on, looks like you do have support of jsx in the core: https://github.com/kadirahq/react-storybook/blob/master/src/server/webpack.config.js#L28-L34 but it just does not work even in your demo app.

[2016-04-21 13:27] tomitrescak commented on #127
SOLVED. I disected the way you compose the final config and following works (please see the "resolve" section in the parent of the child configuration):

[code]

[2016-04-21 13:28] #127 closed

[2016-04-21 13:54] arunoda commented on #131
Hmm. I have no idea why is that?
Let me know anyone finds something about this.

[2016-04-21 15:40] arunoda commented on #116
Note: @de-monkeyz mentioned issue fixed by his PR: #132

[2016-04-21 20:22] borisyankov opened #135 "Documentation for static site generation"
It seems you guys added the static site generation functionality already. Great!
There is no documentation though, and looking through the commit history and source code does not make it clear to how to use it.

[2016-04-21 23:06] arunoda commented on #135
It's here: https://github.com/kadirahq/react-storybook/blob/master/docs/configure_storybook.md#static-builder

May be wanna change some keywords.

[2016-04-21 23:15] lowkay commented on #131
@zvictor I just tried this out with an absolutely positioned element and it anchored to the iframe fine. Can you give more details about the component style you have applied to your custom component, what version of Chrome you're running etc.?

@arunoda I think that the ml-root component should have height: 100% and position: relative set so that it acts as the 'stage' in a well-defined way for ab

[2016-04-21 23:33] lowkay commented on #131
Actually, I suppose you could say as react-storybook doesn't care what you're rendering it's up to you to style the preview as required. i.e. define preview.css that sets up the html/body/root elements how you want it and require it from your .storybook/config.js. After all if you have your own component css you're loading if react-storybook defined styles they would blat your css.

[2016-04-21 23:43] arunoda commented on #131
@lowkay you are correct. We don't (and won't) do anything for the root div inside the iframe(preview). It's something the app should take care. May be a custom CSS and something within the app should handle that.

I want to get the default browser settings inside the iframe.

[2016-04-22 01:08] wyattdanger opened #136 "Recording actions causes stories to unmount and remount"
I have a story that displays 259 Icons. Whenever I record an `action`, it appears as if all of the components are unmounted from the DOM and remounted, resulting in 259 calls to each of `componentWillUnmount`, `componentWillMount`, and `componentDidMount`. Here is a screenshot from the console: (the timer measures from `componentWillMount` to `componentDidMount` of a component which contains the s

[2016-04-22 04:56] arunoda commented on #136
We fixed this. Could you try to use the latest version?

[2016-04-22 06:48] ritz078 commented on #121
Can we finalize on the key bindings for :
* opening search box (not Cmd+P as it has a default behaviour of Print. Don't want to override expected behaviours)
* toggling action_logger
* toggling controls
* toggle full-screen preview.

[2016-04-22 06:55] borisyankov commented on #135
Great. I would suggest linking to this document's main points from within the README.

[2016-04-22 06:55] #135 closed

[2016-04-22 07:10] arunoda commented on #121
@ritz078 I really can't look come up with something straight. Do we need to use (CMD), how about using SHIFT?

[2016-04-22 08:57] sethkinast opened #138 "No way to prevent .babelrc use"
I have an isomorphic app that runs using Node (without Webpack) on the server, and bundles with Webpack for the client.

So, I turn off .babelrc in my Webpack config:

[code]

There doesn't seem to be a good way to hook into storybook and make it ignore the .babelrc, so it tries to run my Node-specific Babel plugins and bombs out.

[2016-04-22 09:10] sethkinast opened #139 "Server sets NODE_ENV=production"
In `server/index.js`, `process.env.NODE_ENV` is forcefully set to production. This causes my app to try to load production plugins from .babelrc, even though I am trying to run in development mode.

[2016-04-22 10:54] arunoda commented on #138
Okay. We load babelrc manually. May be should allow and option to prevent it.
Here's the potential place for that.
See: https://github.com/kadirahq/react-storybook/blob/master/src/server/config.js#L16

[2016-04-22 10:56] arunoda commented on #139
On the other hand, we wanted to prevent running some of the dev only packages from here. May be we need to think about this again.

But for your case, I suggest to use two different directories for the server and client. Then I hope it can be fixed easily.

[2016-04-22 17:19] wyattdanger commented on #136
I still see the issue on 1.17.1, (I should have mentioned that in the original issue).

[2016-04-22 17:40] sethkinast commented on #138
Yep, I saw the PR and issue. I may have too special of a case :)

It would be nice if I could put a `.babelrc` in the `.storybook` directory,
and you look there first. That would give me a chance to override it (and
would fix #139) at the same time.

Would you accept a PR that looked for a .babelrc in two places? (First
config, then app root)?

On Fri, Apr 22, 2016 at 3:54 AM, Arunoda Susiripala <

[2016-04-22 17:42] kevinSuttle opened #140 "README: Where are the example components?"
<img width="260" alt="screen shot 2016-04-22 at 1 38 05 pm" src="https://cloud.githubusercontent.com/assets/95672/14749786/796b91e6-088f-11e6-8161-ebcd51c7471d.png">

[2016-04-22 17:50] evidens commented on #92
If you want to resolve `.jsx` without including the extension, you need to ensure you have the correct webpack configuration:
[code]

Otherwise, webpack will only allow `.js` files without the explicit extension.

[2016-04-22 18:15] kevinSuttle commented on #124
Related: I like how this was done, with grabbers to resize. http://styleguide.devbproto.com/styleguide/

[2016-04-22 23:30] arunoda commented on #138
Yes. That's a good idea.

[2016-04-22 23:32] arunoda commented on #136
Okay. Then is a problem. Could you send me a sample app with this issue.

We will work on it test it.

[2016-04-22 23:34] arunoda commented on #140
You mean this one?
https://github.com/kadira-samples/react-storybook-demo

[2016-04-22 23:37] sethkinast commented on #138
OK, I will work on that this weekend.

My team loves using storybook for development-- building components is
effortless.

On Fri, Apr 22, 2016 at 4:30 PM Arunoda Susiripala <notifications@github.com>
wrote:

[2016-04-22 23:50] arunoda commented on #138
Super.

[2016-04-22 23:56] kevinSuttle commented on #140
![long day](http://i2.kym-cdn.com/entries/icons/original/000/000/554/facepalm.jpg)

[2016-04-22 23:56] #140 closed

[2016-04-23 00:50] wyattdanger commented on #136
I'll work on an example, thank you

[2016-04-23 01:58] arunoda commented on #136
Great.

[2016-04-23 13:12] tomitrescak commented on #37
Guys, sorry to ask this here, but you seem to have much better understanding of webpack than me. I have a problem when storybook is not loading icons.woff and icons.tts from semantic ui. The framework is trying to load them from "themes/default/assets" directory. How can I mount assets to storybooks webpack so that they are then served from the correct url? Maybe webapck can even parce css and ser

[2016-04-23 13:46] willdady commented on #56
Not sure if this is what everyone else had in mind but I'd rather see the component's **implementation**, not the source code. If I wanted to see the source code I'd look at the source code. If my story looked like this:

[code]

I'd like to see `<ProgressBar progress={0.25} />` rendered somewhere in the storybook. Maybe as a separate panel above the action logger, or a separate tab?

[2016-04-23 22:49] zimt28 opened #142 "Storybook + meteor-webpack?"
Hi! I just switched from plain `1.3` to using `meteor-webpack`, and now get this error:

[code]

This seems to be because I'm using a container in MainLayout, but I haven't even added the MainLayout to the imports:

[code]

When I remove all the `require` functions, I get `No preview available`. But when I add any of them, I get the error, even if the file I require just imports react and exports

[2016-04-23 23:31] arunoda commented on #142
Seems like there's a container inside any of this components.
Try this: https://github.com/kadirahq/react-komposer#disable-functionality

Calling `disable()` on top of your `config.js`

[2016-04-24 11:13] zimt28 commented on #142
That solved the issue, thank you :-)

[2016-04-24 11:13] #142 closed

[2016-04-24 11:49] arunoda commented on #142
cool.

[2016-04-25 05:32] UYEONG opened #143 "not working in Firefox"
`ReferenceError: identity is not defined`

![2016-04-25 2 32 06](https://cloud.githubusercontent.com/assets/1321707/14774576/8d2c19d4-0af2-11e6-82bd-4bfcae8fbbd1.png)

Version is 45.0.2

[2016-04-25 06:15] mnmtanish commented on #143
Hi @UYEONG

I'm also getting the same error.

**NOTE**:
It works fine with the static build so most probably this must be an HMR issue.

<img width="1072" alt="screen shot 2016-04-25 at 11 37 35 am" src="https://cloud.githubusercontent.com/assets/136691/14775215/fac580f6-0ada-11e6-8c98-d8dac3f8187a.png">

[2016-04-25 09:55] mnmtanish commented on #143
https://github.com/kadirahq/react-storybook/pull/144 fixes this error

[2016-04-25 10:12] mnmtanish commented on #143
Hi @UYEONG
Just released a new version `v1.17.2` with the fix.
Thanks for reporting

[2016-04-25 12:53] Strutsagget opened #145 "ERR! on npm run storybook"
I get thesse errors: What am i doing wrong?
npm run storybook
npm ERR! Darwin 15.4.0
npm ERR! argv "/usr/local/Cellar/node/5.10.1/bin/node" "/usr/local/bin/npm" "run" "storybook"
npm ERR! node v5.10.1
npm ERR! npm  v3.8.3

npm ERR! missing script: storybook

[2016-04-25 13:13] mnmtanish commented on #145
I think you forgot to add the npm script. Add `"storybook": "start-storybook -p 9001"` under `scripts` in your package.json file. [more info](https://github.com/kadirahq/react-storybook#getting-started)

[2016-04-25 15:11] mquandalle opened #146 "Programmatic way to launch Storybook"
In an application I’m developing I have a root directory called `tools/` that contains various things to spawn Webpack dev server, or Graph_i_QL, or run scripts. I would like to define Storybook configuration in `tools/storybook.js` and be able to call it using JavaScript methods instead of using the `start-storybook` command line interface. That would allow things like:

[code]

How to do that?

[2016-04-25 15:14] mquandalle commented on #143
I also encountered this error and I didn’t understand it was specific to Firefox and I thought Storybook was just plain broken. This is a pretty bad first experience, do you have any plan to configure a CI tool run the tests in the different major browsers?

[2016-04-25 17:43] antoinegrant commented on #56
@willdady that's what I had in mind when stating this ticket.

[2016-04-25 18:18] wyattdanger commented on #136
Closing until I have a good example

[2016-04-25 18:18] #136 closed

[2016-04-25 18:58] mnmtanish commented on #143
Yes I agree. Thanks for checking it out again. We're going to refactor the storybook to use Mantra. We'll setup a good CI for cross browser tests as soon as it's done.

[2016-04-25 18:59] garris commented on #26
There is a probably a straightforward way to integrate BackstopJS (similar to PhantomCSS but with a workflow & UI tuned for diff-ing many states and viewport sizes).  If there is some interest I could look into it.

[2016-04-25 21:14] arunoda commented on #146
You can change the config directory using this API: https://github.com/kadirahq/react-storybook/blob/master/docs/configure_storybook.md#configuration-directory

You may use shelljs to run the storybook command.

[2016-04-25 21:59] mquandalle commented on #146
But can I change the `config.js` filename?

[2016-04-25 22:40] arunoda commented on #146
We have many config files, so it's always better to store them in a directory. (even if you've just the `config.js` file)

So, I think changing that's not ideal.
But I'm open to find a way to run the storybook manually.

[2016-04-25 23:13] #59 closed

[2016-04-26 02:37] ritz078 commented on #110
Sometimes when I publish storybook to showcase my component, I would like to rename `REACT STORYBOOK` to my component name and redirect it to its GitHub page. That should be optional.

[2016-04-26 02:38] #121 closed

[2016-04-26 04:45] arunoda commented on #110
Currently, we have the original feature implemented on the latest version.

@ritz078 I think we can file a new issue for this. We are now trying to change the architecture a bit. So, we need to bit before we can do this.

[2016-04-26 04:45] #110 closed

[2016-04-26 06:42] achtan commented on #56
@willdady exactly!

[2016-04-26 08:12] ritz078 commented on #56
Or maybe a panel showing the state and props just like React Devtools

[2016-04-26 12:53] sakulstra opened #150 "Displaying docs inside the storybook"
At the moment the only way to display docs is the use of:
[code]
This is insufficient for most our components...

In our use case it would be nice if we:
1. could add some more description (like an optional description tag for the story)
[code]
2. or even better somehow reads the jsdocs in the js files and displays them above the component examples:
[code]
I think this is somehow related to #56 bu

[2016-04-26 16:16] vadirn commented on #57
Here is the package: https://atom.io/packages/atom-storybook

I messed up with package version number though.

[2016-04-26 23:26] arunoda commented on #57
@vadirn superb.

[2016-04-26 23:35] arunoda commented on #150
Yeah. This is great.
If we need the file system manually, that'll be bit harder and over complicated.
But, I think pushing this with the story makes sense.

We are also looking something for this with notes. Basically, with that we have another Tab on the bottom called "Notes".

[2016-04-26 23:42] #138 closed

[2016-04-27 00:37] sethkinast commented on #139
Closed by #149

[2016-04-27 00:37] #139 closed

[2016-04-27 17:31] otmjka commented on #145
The same situation:
`
"scripts": {
 "storybook": "start-storybook -p 9001"
}
`

[npm-debug.log.txt](https://github.com/kadirahq/react-storybook/files/239072/npm-debug.log.txt)

[2016-04-27 18:41] kevinSuttle commented on #150
I'd prefer a .md file in the component folder, rendered below or beside.

[2016-04-28 01:11] mikem-mup commented on #92
This issue can be closed - it's a confusion about import paths + webpack module `resolve` config. Duplicate of #127.

The issue can probably be avoided in the future by adding the `resolve` config that @evidens offered into the webpack config in [the example repo](https://github.com/kadira-samples/react-storybook-demo)

[2016-04-28 03:16] arunoda commented on #92
Yes. I think this can be closed.

[2016-04-28 03:16] #92 closed

[2016-04-28 03:54] joeruello opened #151 "Substories/Hierarchy"
Would be nice to be able to have "Substories" or a Hierarchy of stories. My case involves various mini "apps" being contained in the same repo. A simple solution would be an option to display stores named like `ui.core.foo` and `ui.core.bar` like:

[code]

With support for expanding and collapsing nodes.

[2016-04-28 06:58] arunoda commented on #151
Currently, we've no plan to implement that. That's because it makes navigation harder. You can namespace story kinds with dot like "ui.core", "ui.app". Then you can filter them as you need.

If there are a lot of stories, you can start a few storybook instances. You can do that by having two storybook config directories. But, anyway that's an extreme case.

[2016-04-28 20:24] camwest commented on #33
Definitely Typed is deprecated in favour of https://github.com/typings/typings. It's much easier to add to.

[2016-04-28 21:16] tomitrescak commented on #33
Great catch! I'll add it as soon as I'll have a bit of time.

[2016-04-29 14:36] decoursin commented on #145
I'm having the same issue. The storybook script is there, but I'm getting: "sh: 1: start-storybook: not found"

[2016-04-29 15:19] arunoda commented on #145
@decoursin Are you using windows?

[2016-04-29 15:24] decoursin commented on #145
I'm using Linux.

[2016-04-29 16:08] decoursin commented on #145
I switched from npm 2.x.z to 3.y,z, rm -rf node_modules, and now it's working. I'm not sure at all if this was the issue.

[2016-04-29 18:32] otmjka commented on #145
Switched the storybook to 1.6.0 version, and it started working fine. I'm using react 0.14.8.

[2016-04-29 20:37] otmjka commented on #145
created stories + config.
`npm  run storybook`
after updated to 1.10.0 after to last, in both cases the storybook worked.

[2016-05-02 14:39] jxodwyer opened #155 "Support es modules syntax in .config & webpack.config"
It seems as though babel isn't working properly for me. Here's my .babelrc file:

[code]

and my .storybook/webpack.config.js file:

[code]

Error I'm seeing:

[code]

[2016-05-02 17:15] arunoda commented on #155
What's the node version you are running? I hope it's not 5.x.x
The file `.storybook/webpack.config.js` is not runs with a babel loader, so it uses the normal node binary.
You may need to use ES5 in that file.

Otherwise, use the latest node version.

[2016-05-02 17:18] jxodwyer commented on #155
[code]
is this not compatible with 5.x.x? So eitherway  I will have to stick to es5 in `webpack.config.js`?

[2016-05-02 17:50] arunoda commented on #155
Hmm. That's weird.
Try using ES5 in the `webpack.config.js`.

This is the place which loads, babel config for client apps.

[2016-05-02 17:51] mgarf opened #156 "Importing CSS only in Storybook"
This is an unusual use case but I'm trying to import the css only for use in the storybook. Currently this is what I have:

Config.js

[code]

webpack.config.js

[code]

I'm getting the following error:

ERROR in Loader C:\Users\******\Desktop\JSApp\node_modules\raw\raw.js didn't return a function
 @ ./~/@salesforce-ux/design-system/assets/styles/salesforce-lightning-design-system.css 4:14-119 13:

[2016-05-02 18:07] arunoda commented on #156
May be remove the `css` loader. That may help.

[2016-05-02 18:11] arunoda commented on #156
Also, you should try to do following changes.

* include should be this: `include: path.resolve(__dirname, '../')`
* CSS import should be like as follow:

[code]

[2016-05-02 18:16] mgarf commented on #156
thank you for your quick response.

I made the changes you suggested but still getting the following:

[code]

Updated Bits:

webpack.config.js

[code]

config.js
[code]

[2016-05-02 18:20] arunoda commented on #156
May be seems like an issue in the `raw` module. Make sure you've installed `raw` npm module into your app. (It's version should be something like: `0.5.1`)

[2016-05-02 18:21] arunoda commented on #156
This is a similar project you can use as a reference: https://github.com/kadira-samples/react-storybook-demo/tree/master/.storybook

[2016-05-02 18:27] mgarf commented on #156
Yeah,

I just looked into my package json and raw was missing. I think i had raw in but not raw-loader. Once i did that it all worked. Thank you for your help!

[2016-05-02 18:27] #156 closed

[2016-05-02 18:27] arunoda commented on #156
Great.

[2016-05-02 20:09] zeroasterisk commented on #151
I'm willing to concede this point, and thought I'd just make a different config and run it on a different port and whatnot...

But I think it'd be much better to allow storybook to take multiple config files... and then toggle between named config files, perhaps reloading...

As for UI to switch configs, it would only appear if your config file "loaded" other config files, and it could be sidebar

[2016-05-03 02:08] tomitrescak commented on #33
@camwest I simply do not have the time. Yet, @arunoda, if you make the typings part of your package (above), it can be easily added to the typings repository.

[2016-05-03 04:51] arunoda commented on #33
@tomitrescak You mean, use typescript?

[2016-05-03 05:04] tomitrescak commented on #33
No, making the typescript definition as a part of the package and including it in package.json:

[code]

and in package.json

[code]

More info ... http://www.typescriptlang.org/docs/handbook/typings-for-npm-packages.html

Do you want a PR for this?

[2016-05-03 05:18] arunoda commented on #33
Why not. Send me a PR.

[2016-05-03 06:56] joeruello commented on #139
Would there be a way to allow things like PropTypes to work? I just developed a new app 100% in storybook and then got bombarded with a bunch of warnings when I fired it up with webpack-dev-server.

[2016-05-03 09:13] arunoda commented on #139
@joeruello Could you submit a new issue with more information.
We are happy to discuss.

[2016-05-03 09:48] hirviid commented on #79
Hi alex88, did you manage to get this to work?

[2016-05-03 12:03] Ghosh commented on #129
@billgloff I realized that you don't really need to lead styles via browserify. A webpack conf already comes bundled with react-storybook. Therefore you can use browserify for your app, while storybook uses webpack.

All you need to do is install the loaders locally, `npm install --save-dev style-loader raw-loader` , and point the compiled css file in `.storybook/config.js`.

This helped me - http

[2016-05-03 12:19] joeruello opened #158 "NODE_ENV=production silences developer warnings."
Following on from #139, developing in React Storybook has been awesome! I've been working completely inside it for a few days, when it came time to test it outside Storybook I was assaulted by a bunch of PropTypes warnings.

I'm assuming this is because NODE_ENV is force set to production. It would be nice to be able to see these warnings when developing inside Storybook.

[2016-05-03 15:34] kevinSuttle opened #159 "Request: Deep link to specific stories and substories"
`http://localhost:9001/stories/Button/SubmitButton` or something

[2016-05-04 01:09] arunoda commented on #159
Duplicate:  https://github.com/kadirahq/react-storybook/issues/6

Currently this is implemented in the `mantra` branch and we could release it today or tomorrow.

[2016-05-04 01:09] #159 closed

[2016-05-04 01:10] arunoda commented on #158
Yes true.
We are using NODE_ENV=production for a kind of hack. I think we could remove it.
Will do it.

[2016-05-04 04:38] travi opened #161 "Wrap current API to extend it to align with Atomic Design"
I am a big fan of the idea behind [atomic design](http://bradfrost.com/blog/post/atomic-web-design/) and the [pattern lab](http://patternlab.io/) tools that have been built around it. React components fit this model incredibly well, but there is no implementation of pattern lab for React components (yet at least).

When I came across this project, pattern lab for React was the first thing that cam

[2016-05-04 05:29] arunoda commented on #161
Atomic design is kind cool. But the problem is I don't it's suitable for everyone. The components grouping in atomic may be too much for some apps. And for some components, it may be less.

So, currently this is our suggestion for this: https://github.com/kadirahq/react-storybook/issues/151#issuecomment-215328664

I'm going to close this issue in-favour of #151

[2016-05-04 06:56] Thisman opened #162 "componentDidUpdate didn't executed"
I have a simple component

[code]

My story.js

[code]

In initial render, when i click on `CustomCo` in left sidebar, `componentDidUpdate` didn't excuted.
On second render and other componentDidUpdate works fine. When i go to other component and return the behavior is repeated.

[2016-05-04 07:03] #162 closed

[2016-05-04 09:04] moroshko opened #163 "How to add a <script> tag?"
[react-prism](https://github.com/tomchentw/react-prism#usage) recommends to add a script tag directly in the HTML:
[code]
Is there a way to do this?

[2016-05-04 09:59] jeef3 commented on #163
Yes, there is, but I don't think there's any docs on it yet. See #77.

Basically, create a `head.html` in your `.storybook`. That will get included.

[2016-05-04 10:12] yahu577 commented on #122
The solution is to set a registry for modules of specific scope. You can add the following to your project's .npmrc file
[code]

[2016-05-04 11:34] moroshko commented on #163
Thanks!

[2016-05-04 11:34] #163 closed

[2016-05-04 13:11] joeruello commented on #151
Adding additional configs seems to be overly complex. What about a toggle for classic/hierarchy view? I'm happy spike out an implementation over the next few days.

[2016-05-04 14:22] kevinSuttle commented on #159
Nice! Thanks @arunoda!

[2016-05-04 14:54] alex88 commented on #79
Hi @hirviid, unfortunately nope, I haven't :(

[2016-05-04 20:43] timkindberg commented on #109
So maybe this issue should rename to "Filter box should work on story levels too"

[2016-05-04 20:45] timkindberg commented on #40
#160 is probably relevant here.

[2016-05-05 01:50] moroshko opened #164 "How to disable minification when running `build-storybook`?"
Is there a way not to minify the JS files when running `build-storybook`?

[2016-05-05 02:46] travi commented on #161
Sorry that I missed that existing issue. I do want to clarify that my intent wasn't to suggest that react-storybook should shift to follow atomic design, but only to enable users that would like to follow it simply to have the ability to categorize stories that could align with its suggested groupings.

Enabling groups could simply provide added flexibility that could greatly improve the abiity to

[2016-05-05 02:54] travi commented on #151
This would be a very valuable feature to me as well, but for organization of component types within a single app rather than for multiple apps.

I would be more than happy to provide any help in shaping an implementation that could work for both use cases if this is able to move forward.

[2016-05-05 03:52] arunoda commented on #109
@timkindberg Goog idea.

[2016-05-05 03:54] arunoda commented on #40
I think #160 is the best we can have.
Closing this in favour of that.

[2016-05-05 03:54] #40 closed

[2016-05-05 03:55] arunoda commented on #164
Currently there is no way. You need to change the webpack config and remove uglifyjs plugin.
You can try this: #160

[2016-05-05 03:57] arunoda commented on #161
@travi Yep. I got it.
But, I think it's better we provide some layer on top of Atomic design. I hard to get that a core feature in Storybook. This is just like the CSS issue.

I'll reopen this and you may change the title to mention Atomic Design.

[2016-05-05 03:58] arunoda commented on #151
@travi One of our another idea is to provide a drop down menu just below the filter box to select the category.

A category is assigned in the config.js and different set of files. So, we can have a another layer of grouping.

[2016-05-05 04:05] travi commented on #151
I think that type of solution would be enough to satisfy my needs at this point. In addition, I think the namespacing convention mentioned above could still be a reasonable way to assign the category that could be interpreted into the choices in the drop down. Such a solution would enable linking across categories to still remain simple as well.

[2016-05-05 04:14] travi commented on #161
Honestly, I'm not sure that reopening this story is actually beneficial since my intention of mentioning atomic design was really only to highlight one use case for grouping. Because of this, I think it was appropriate to close in favor of the other issue.

I agree that atomic design likely doesn't make sense as a core feature of storybook at this point. However, I'm not clear about what you mean

[2016-05-05 04:43] arunoda commented on #161
Actually I was talking about a layer on top of Storybook. (sorry for the typo, I corrected that). CSS issue is there is no correct or wrong way. There are a lot of choices.

I think this can be closed. Feel free to do that.

[2016-05-05 09:37] arunoda commented on #24
@sammkj Now we use Mantra.
More info [here.](https://github.com/kadirahq/react-storybook/blob/master/docs/how_storybook_works.md)

[2016-05-05 09:37] arunoda commented on #24
Hope we can close this now.

[2016-05-05 09:37] #24 closed

[2016-05-05 09:38] arunoda commented on #6
Now this is implemented in the latest release: `v1.20.0`

[2016-05-05 09:38] #6 closed

[2016-05-05 09:39] arunoda commented on #10
This is implemented.

[2016-05-05 09:39] #10 closed

[2016-05-05 09:42] arunoda commented on #12
Check this comment: https://github.com/kadirahq/react-storybook/pull/17#issuecomment-217112876

I'm going to close this in favour of the PR comments thread.
And we won't have a built-in resizer, but users could use browser tools and existing stuff with the FullScreen API.

[2016-05-05 09:42] #12 closed

[2016-05-05 09:43] arunoda commented on #33
@tomitrescak This is merged and released with `v1.20.0`. What else do we need to have to do?

[2016-05-05 09:43] arunoda commented on #57
I think we can close this now.

[2016-05-05 09:43] #57 closed

[2016-05-05 09:47] arunoda commented on #124
Now we support full screen mode with the keyboard shortcuts. See: https://github.com/kadirahq/react-storybook/pull/17#issuecomment-217112876

This is not directly related to mobile view BTW.
Anyway, we need to have a mobile UI as well.

[2016-05-05 10:58] tomitrescak commented on #33
All you need to do is enjoy the smiles of Typescript developers that will love you for this;) and occasionally update the typing when API changes. If you'll need help, just ping me. Thanks!

[2016-05-05 10:58] tomitrescak commented on #33
And you can close this now. Thanks!

[2016-05-05 11:19] ianlovell opened #166 "Editing of props"
Hi, I love the concept of React Storybook - it fits very well with UX pattern libraries. There's also the concept of style guides and projects like https://github.com/devbridge/Styleguide for managing 'live' style guides. I can imagine a single tool that not only shows 'live' branding colours, fonts, font sizes etc, but also display the components of the application within a 'live' pattern library

[2016-05-05 11:21] moroshko commented on #164
@arunoda Isn't #60 allowing extending only *webpack.config.js* but not *webpack.config.prod.js*?

[2016-05-05 12:46] travi commented on #161
Well, before we close it, I am interested in your thoughts about this extra layer and how it would be approached. Would you like to expand on your thoughts?

[2016-05-05 14:01] kevinSuttle commented on #150
Not sure if this should be another request, but showing a snippet of the code used to implement the component would be handy.

[2016-05-05 14:53] cjcheshire opened #167 "1.20.0 Babel issue"
I'm running the usual the npm storybook task setup in my package json but getting the following:

[code]
I'm running node 5.5.0 and npm 3.8.8.

Any thoughts?

[2016-05-05 18:20] kevinSuttle opened #168 "build-storybook - CMD icon breaks in UI"
<img width="250" alt="screen shot 2016-05-05 at 2 18 50 pm" src="https://cloud.githubusercontent.com/assets/95672/15052607/78ecb014-12cc-11e6-9362-91be59299ebf.png">

[2016-05-05 20:18] kevinSuttle commented on #116
I came here confused as to how to exec JS in the actions call. I'd rather just call a function on the component that sends data to the action logger.

[code]

[2016-05-05 23:51] arunoda commented on #33
Thanks @tomitrescak.
I think I can update the def file with API changes :)

[2016-05-05 23:51] #33 closed

[2016-05-05 23:55] arunoda commented on #164
Okay. It's the production build. So, we need to support the production build too.
@mnmtanish could you find some way to add production webpack conf support to #160 as well.

[2016-05-05 23:57] arunoda commented on #167
Are you using babel inside the module mentioned above? If not can we have a sample repo to debug this issue?

[2016-05-06 00:01] arunoda commented on #168
Oops. What's this OS?

[2016-05-06 00:02] arunoda commented on #168
@thinkholic Could you add a SVG icon to this button?

[2016-05-06 00:08] arunoda commented on #166
I think this is great and definitely, inside our radar. Pro props you can assign some configurable values and there will be a panel at the bottom allow you to edit them.

And the changes are saved in the URL. So, you can copy the current URL and pass it back and forth to get feedback.

[2016-05-06 00:49] kevinSuttle commented on #168
OSX 10.4, Chrome stable. Latest.

[2016-05-06 03:28] mnmtanish commented on #164
@moroshko @arunoda both use the [config.js](https://github.com/timkindberg/react-storybook/blob/d7c8c424ff9cca200ce5a86aa0994118b3248247/src/server/build.js) file to build the config so it should work out of the box. I'll check it out.

[2016-05-06 04:10] moroshko commented on #164
@mnmtanish As far as I can see, [custom config is hardcoded to `webpack.config.js`](https://github.com/kadirahq/react-storybook/blob/master/src/server/config.js#L63), so we never check if a custom `webpack.config.prod.js` exists.

[2016-05-06 04:30] arunoda commented on #161
Basically, it's a way to wrap the current API for atomic design.
Then stories are created with dot(.)s.

If needed, we can introduce some core changes for additional things.

[2016-05-06 04:48] arunoda commented on #164
@moroshko I checked the code, yes it'll work for both alike.

[2016-05-06 05:07] Gi972 commented on #33
@tomitrescak @arunoda
Guys thanks a lot for your time

;-)

[2016-05-06 05:30] travi commented on #161
If you see a reasonable way to get to that point and see value in getting there, I think that would be a great enhancement. How can I help make such an evolution successful?

[2016-05-06 05:44] mnmtanish commented on #164
@moroshko I also though at first that having 2 files will be easy and straightforward but it can cause some issues.

So far we're using custom config from **webpack.config.js** for both the dev-server and the production builds. If we use separate files, users who need the same custom config for both will have to make a copy of the file. Let's say we try to fix it by falling back to **webpack.confi

[2016-05-06 06:38] moroshko commented on #164
@mnmtanish Thanks for #169. I'd just update the docs to reflect the changes.

[2016-05-06 06:38] #164 closed

[2016-05-06 08:57] arunoda commented on #164
@moroshko Where did you update the docs?

[2016-05-06 09:18] arunoda commented on #168
@kevinSuttle We released a new version(`v1.21.0`) with a potential fix. Could you check that?

[2016-05-06 10:44] moroshko commented on #164
@arunoda I didn't. I suggested @mnmtanish to update the docs as part of #169.

[2016-05-06 10:52] moroshko commented on #155
@arunoda It would be nice to be able to use things like `import` and the destructuring operator in `.storybook/webpack.config.js` the same way you use it in `server/config.js` or `server/webpack.config.js`.
Is there any reason why can't we use Babel in `.storybook/webpack.config.js`?

[2016-05-06 11:18] MechJosh0 commented on #167
@cjcheshire Do you also happen to have this in the console log?
`Uncaught Error: Cannot find module "E:\projectPath\.storybook\config.js"`

I've resolved this by installing storybook `1.1.0` and installing each version until `1.19.0`. This resolved the problem for me.

Something along the way I assume has been dropped from the dependencies but is still relying on it. Installing each version as you

[2016-05-06 12:06] arunoda commented on #167
Guys, yep this is an issue if the project does not have some babel packages installed by default. Most of the node project have it, but projects like Meteor won't have them.

So, I fixed this with `v1.22.1`. Give it a try.

[2016-05-06 12:06] arunoda commented on #164
@moroshko Ah okay. BTW: I did it.

[2016-05-06 12:08] moroshko commented on #164
Thanks @arunoda

[2016-05-06 13:37] jamieholliday opened #171 "Update url"
Is it possible to update the url based on the story being viewed? I thought this may have been suggesting that this was maybe an option:
https://github.com/kadirahq/react-storybook/blob/master/docs/how_storybook_works.md#routing
It would be a nice feature if not, so I could refer the designers to a url or maybe even run some sort of visual testing of each different story state

[2016-05-06 14:38] MechJosh0 commented on #167
I can confirm it's working, thanks. While I was there I figured to make a pull request for the Mantra sample app to mainly to update the Meteor version.

https://github.com/mantrajs/mantra-sample-blog-app/pull/105

[2016-05-06 15:02] MechJosh0 commented on #171
This is working for me in `1.22.1`. When I switch to a story it's changing the URL and I'm able to use this URL to land directly on that story.

Example URL for going to **Admin Panel** module on **Page - Home** story: http://localhost:9001/?selectedKind=Admin%20Panel&selectedStory=Page%20-%20Home

[2016-05-06 16:13] jamieholliday commented on #171
Sorry my bad. I installed this yesterday but when I checked I had version 1.1.0 somehow. Anyways updated to 1.2.1 and url works correctly

[2016-05-06 16:13] #171 closed

[2016-05-06 17:43] stefvhuynh opened #172 ".babelrc extends issue"
If I have a `.babelrc` file in the root of my project with an `extends` clause, the path doesn't resolve relative to the `.babelrc` file. Instead, it seems like it's relative to the `.storybook/config.js` file.

For example, consider a directory structure like this:
[code]

And say my `.babelrc` at the root level has this code:
[code]
This does not work. But if I change the code to (go up a direct

[2016-05-06 19:07] sethkinast commented on #151
The way that we're getting around this in the app I'm building (hundreds of components, organized inside loose "pillar" areas) is with a script that dynamically writes out the stories for the area we're currently working on.

[code]

This means that Storybook doesn't even have to build the other components. I would love some level of support for this as a built-in option.

[2016-05-06 19:21] sethkinast commented on #172
I'll have to look into how `extends` works (I wasn't aware it existed) but I should be able to fix this up.

[2016-05-06 20:16] stefvhuynh commented on #172
Ok, great!

As an update, when I put a `.babelrc` file in `.storybook/` and use `extends` from there, I can get past the initial issue that I reported above. However, when my components start requiring each other, I run into the same issue but from my components' directory.

[2016-05-06 20:23] arunoda commented on #167
Okay. seems like we can close this issue.

[2016-05-07 11:07] isuvorov commented on #58
dark layout +1

[2016-05-07 13:51] darul75 opened #174 "linkTo another story error"
Hi guys,

I try to figure out what can produce that error when clicking a button with a specific handler to switch to another named story:

`page_bus.js?147f:40 Uncaught Error: dataId is not supplied via queryString`

[code]

[2016-05-07 15:18] tonyxiao opened #175 "React native support"
How complicated would it be to adapt this for developing react native components?

[2016-05-07 16:01] mnmtanish commented on #175
@tonyxiao it's not as complicated as one would think :)

With the Mantra module system, we should be able to just replace the preview module and use it to send/receive messages with a react-native app. We're still only planning this feature so can't say anything for now. We'll notify when we have a working POC.

[2016-05-07 17:45] kevinSuttle commented on #168
Nope. Unfortunately, no fix.

<img width="1439" alt="screen shot 2016-05-07 at 1 45 13 pm" src="https://cloud.githubusercontent.com/assets/95672/15093564/036571f2-145a-11e6-84f7-e7aafe95989c.png">

[2016-05-08 19:42] darul75 commented on #174
well, it was due to my handler

[code]

instead of

[code]

[2016-05-09 04:19] arunoda commented on #175
Most probably in this week.

[2016-05-09 04:21] arunoda commented on #174
@darul75 Try this:

[code]

Then it'll work.

[2016-05-09 04:24] arunoda commented on #168
@mnmtanish @thinkholic Could you guys try @kevinSuttle's suggestions. I'm kind a noob in this area.

[2016-05-09 04:25] arunoda commented on #58
@isuvorov Could you submit a new issue about the Dark Layout.
I hope this is something else.

[2016-05-09 07:25] darul75 commented on #174
ok fine, thx

[2016-05-09 13:51] jamieholliday opened #177 "Sidebar stories overflow container"
I have a long list of stories which overflow the size of the stories sidebar as no scrollbar is rendered.
I tried following the instructions in the docs to override the component and fix this issue by setting a height to the stories container. https://github.com/kadirahq/react-storybook/blob/master/docs/configure_storybook.md#customizing-the-ui - but this isn't overriding. I tried finding the layo

[2016-05-09 15:00] kevinSuttle opened #178 ""Error: Cannot read property 'state' of undefined""
No errors in Webpack, none in React, none in the console. I can only surmise that Storybook doesn't like some data it's getting.

[2016-05-09 15:50] arunoda commented on #178
Can I get more info about this? When this is happening? Any way I can test this out?

[2016-05-09 15:52] arunoda commented on #177
Yep. This seems like a bug.
I'll work on it.

[2016-05-09 19:09] darul75 commented on #174
Hi,

I have tried but result is still the same

<img width="1158" alt="capture d ecran 2016-05-09 a 21 07 27" src="https://cloud.githubusercontent.com/assets/2134003/15124830/247aa37c-162a-11e6-9189-1c7254d76853.png">

linkTo is giving error and action dump to console but trigger same error

[2016-05-09 19:22] timkindberg opened #179 "Double Scrollbar in Full Screen Mode"
I'm getting two scrollbars in full screen mode. It's messing with my media query development, because I'm always off by ~10px.

![double_scrollbar](https://cloud.githubusercontent.com/assets/168046/15125183/8b7ca718-15f9-11e6-9e45-e78a30b5c201.png)

You can hide it by adding `overflow: hidden` to the dev containing the first iframe. See here:

![overflow_hidden](https://cloud.githubusercontent.com

[2016-05-09 20:49] timkindberg opened #180 "Store panel visibility / full screen mode into permalink or local storage"
I'd love if the panel visible states and the full screen mode were stored in the permalink or local storage. That way when I refresh (sometimes) I don't have to enter full screen mode again (or hide panels again).

[2016-05-09 20:50] timkindberg commented on #180
Local storage probably makes more sense, that way if I share a url it will retain the settings on the person's computer, instead of whatever I had set to.

[2016-05-09 23:38] arunoda commented on #174
Okay. I'll have look at them do a fix if we can ASAP.

[2016-05-10 01:43] kevinSuttle commented on #178
The example:

![no idea](http://img1.rnkr-static.com/user_node_img/50013/1000240969/870/doing-science-photo-u1.jpg)

[2016-05-10 03:56] arunoda commented on #178
Now this is fixed right? :)

[2016-05-10 03:58] arunoda commented on #179
I'll add that.

[2016-05-10 04:00] arunoda commented on #180
Hmm.
I like putting them in the URL.

I'm think this in the other way around :)

[2016-05-10 05:27] arunoda commented on #143
Closing this since we've fixed this.

[2016-05-10 05:27] #143 closed

[2016-05-10 06:15] joncursi opened #181 "Conflicts with NPM Shrinkwrap"
After installing this package from NPM, I am running into conflicts with npm shrinkwrap.

[code]

Only way to get past this is to uninstall the package and re-install the package, and rerun the shrinkwrap command which is a pain. Any idea why this is happening?

[2016-05-10 06:17] joncursi commented on #181
`npm-debug.log`:

[code]

[2016-05-10 06:22] arunoda commented on #174
This seems not like a linkTo issue. But something else, if there anyway you can provide a repo where we can reproduce this issue.

[2016-05-10 07:35] darul75 commented on #174
first thanks for giving feedback quickly, I need to extract and reproduce the case in a small repo as I am not allowed to share it with you.

[2016-05-10 08:41] arunoda commented on #158
Try the latest version. (v1.24.0).
It has a fix for this.

[2016-05-10 08:41] #158 closed

[2016-05-10 08:41] arunoda commented on #177
Try version 1.24.0 or higher.
It comes with a fix for this.

Reopen, if that's not what you are looking for.

[2016-05-10 08:41] #177 closed

[2016-05-10 08:42] arunoda commented on #179
Try version 1.24.0 or higher.
I applied your suggestion for that.

Hope now we can close this.

[2016-05-10 08:42] #179 closed

[2016-05-10 10:19] immuzov commented on #55
@antoinerey You can use [decorator](https://github.com/kadirahq/react-storybook/blob/master/docs%2Fwriting_stories.md#using-decorators).

[2016-05-10 10:42] jamieholliday commented on #177
This does work. As an improvement I was thinking the filter bar could be always visible at the top and just the stories scroll. I have created a PR with those changes in here:
https://github.com/kadirahq/react-storybook/pull/182

[2016-05-10 10:53] wuzhuzhu commented on #76
I'm tring to use storybook with Material-ui. And the Dropdown menu in material-ui not response for clicking.
After reading above I have tried to use new addDecorator API, but import Context from '../context'; cause new Error:
[code]
here is content in context.js:
[code]

[2016-05-10 13:13] witnessmenow opened #183 "Always removes one preset from users .babelrc"
Using 1.24.0 I am unable to run storybook, I get parsing errors.

I've looked into and it is removing the last preset from my babelrc file.
This is occurring in the function "removeReactHmre" in server/config.js it was using -1 to splice.

I'll submit a PR now

[2016-05-10 14:25] kevinSuttle commented on #178
Yeah totally.

[2016-05-10 18:39] kevinSuttle commented on #166
Or even just a place to display the `propTypes`?

[2016-05-10 19:03] timkindberg commented on #183
I was just about to fix this too :) it's definitely breaking things

[2016-05-10 19:05] timkindberg opened #186 "scripts/webpack.manager.conf.js doesn't run on linux without shebang"
I'm not sure why but the line below was not running for me during prepublish:

[code]

After adding `#!/bin/bash` to the top of the file it fixes it.

I'll submit a PR.

[2016-05-10 19:07] timkindberg opened #187 "prepublish npm script broken"
It's currently with an extra dot and is breaking for me:

[code]

needs to be:

[code]

I'll submit a PR (probably merged with my other one :)

[2016-05-10 20:00] timkindberg opened #189 "Please push v1.4.0 of react-split-pane"
You have published v1.4.0 of **react-split-pane** but you haven't pushed it to github. We have to publish vendor libs to a private npm registry so I need to clone it and publish it myself but its not up there.

I would log an issue over there but issues tab is not enabled.

[2016-05-10 20:44] ericclemmons opened #190 "Embed in existing Express app?"
Would this be possible by replicating some of the `server.js`, `iframe.html.js`, & build?

[2016-05-10 22:39] arunoda commented on #189
Okay. Will do it.
It's in my office workbox.
I'm on leave for 2 days. Anyway, I'll try to push it.

[2016-05-10 22:51] arunoda commented on #187
A Fix for this is landed in `v1.25.0`.

[2016-05-10 22:51] #187 closed

[2016-05-10 22:51] arunoda commented on #186
A Fix for this is landed in `v1.25.0`.

[2016-05-10 22:51] #186 closed

[2016-05-10 22:51] arunoda commented on #183
A Fix for this is landed in `v1.25.0`.

[2016-05-10 22:51] #183 closed

[2016-05-10 22:52] #172 closed

[2016-05-10 22:58] arunoda commented on #76
@wuzhuzhu

Storybook can't read `meteor/xxx` dependencies since they are some special deps managed by Meteor. Seems like you are using Mantra and you should not import context directly. That may fix your issue.

[2016-05-10 23:00] arunoda commented on #190
This is a dev time tool. So having a it's own express seems fine to me.
What's the reason behind this decision?

[2016-05-10 23:05] ericclemmons commented on #190
@arunoda Our projects have DX baked into it.  `npm start` gives you both the public interface as well as an internal component playground + docs + private tools + dashboard, etc. (If authenticated. Otherwise, you only see the public portal).

We were evaluating using this project instead of our internal playground, which means having it available under <http://localhost:3000/components>.

(We drop

[2016-05-10 23:16] arunoda commented on #190
@ericclemmons Our idea with storybook is to develop without using the full app. Just the components once.
AFAIK: It works pretty well.

We are also building storybooks.io which allows to keep, comment and discuss storybooks for every commit in your app.

---

Seems like you need to find a way to display your storybook right inside your app. If that's the case, there's a much easy way. Follow this:

[2016-05-11 14:02] achtan opened #191 "Module build failed: SyntaxError"
hi, I'm getting this error:
https://www.dropbox.com/s/ist4p2vljk1d25y/Screenshot%202016-05-11%2016.01.07.png?dl=0

my package.json is:

[code]

any idea how to fix it?

[2016-05-11 17:39] kevinSuttle commented on #178
Well, maybe. Not sure if this is Webpack, or Storybook. Error only appears in the Storybook UI, but nowhere else.

<img width="1437" alt="screen shot 2016-05-11 at 1 38 05 pm" src="https://cloud.githubusercontent.com/assets/95672/15190408/b8e1e49a-177d-11e6-8473-f07567d8e915.png">

[2016-05-11 19:18] kevinSuttle commented on #178
I feel like the URL has something to do with it.

[2016-05-11 20:15] clauderic opened #192 "Option to hide the action logger"
Is there an option to hide the action logger?

[2016-05-11 20:40] ericclemmons commented on #190
I think we have slightly different goals, so no fault of this project.

Thanks for the prompt responses. Beautiful project so far!

[2016-05-11 20:40] #190 closed

[2016-05-12 09:53] arunoda commented on #178
We had source maps supports in the error message. That package seems to give some weird errors on FF. So, we removed it.
We'll try to add it back in after they've fixed the issue.
Then we can easily find out the root cause of the error.

[2016-05-12 09:55] arunoda commented on #191
Try updating storybook to the latest version. We had some issue, which removes the first preset in the babel config.

I think that's the issue here.

[2016-05-12 09:55] arunoda commented on #192
Yes. That's via keyboard shortcuts.
See this post: https://voice.kadira.io/power-tools-for-react-storybook-d404d7b29b82#.6br0o4xb0

[2016-05-12 11:38] clauderic commented on #192
Sorry, should've been more specific. I meant is there a way to permanantly disable it from a configuration perspective, not at runtime. I'd love to use that area to display code examples instead, since my app doesn't use Redux

I read this section about customizing the UI https://github.com/kadirahq/react-storybook/blob/master/docs/configure_storybook.md#customizing-the-ui, but it links to a dead

[2016-05-12 12:03] arunoda commented on #189
@timkindberg Okay pushed.

[2016-05-12 12:03] #189 closed

[2016-05-12 12:28] achtan commented on #191
i have a latest version of SB `"@kadira/storybook": "^1.25.0",`
here is the rebo https://github.com/achtan/mo-admin-theme
it's a mix of https://github.com/kadirahq/npm-base and storybook

[2016-05-12 13:41] kevinSuttle commented on #178
Thanks, I'm all of a sudden seeing this issue almost every time I refresh now. :/

[2016-05-12 13:43] zvictor commented on #131
I couldn't reproduce this anymore, therefore I am closing it for now. Thank you guys for taking a look at it.

[2016-05-12 13:43] #131 closed

[2016-05-12 13:50] arunoda commented on #191
@achtan Thanks for the repo. I'll check.

[2016-05-12 13:52] arunoda commented on #192
Ah okay. That's a nice feature.

[2016-05-12 16:06] kevinSuttle commented on #178
Here's how I fix this locally: comment out the first story, let the browser refresh, uncomment, let the browser refresh. Works consistently.

[2016-05-12 22:59] arunoda commented on #178
Can I have a sample repo for this issue. Then I can debug the issue.

[2016-05-13 13:20] cjcheshire commented on #167
My severe apologies.  It's all good to close.  Thank you for you help.

[2016-05-13 16:08] kevinSuttle commented on #178
_[Sent privately]_

[2016-05-14 17:28] #167 closed

[2016-05-15 20:32] khmelevskii opened #197 "How can I change a property in a stateless component?"
I have a stateless component:
`<Button fired={fired} onClick={() => setState('fired': true)} />`
how can I change `fired` property when I click on the button?

[2016-05-16 05:21] wwlweihai opened #199 "can not load scss file with storybook"
i hava configed the webpack.config.js follow:

`const path = require('path');
module.exports = {
    module: {
        loaders: [
            {
                test: /\.scss$/,
                loader:'style!css!sass',
                include: __dirname
            }
        ]
    }
}`

buy when i run storybook ,the error follow show:
@arunoda  can u help me.

`ERROR in ./imports/ui/layouts/app.scs

[2016-05-16 11:57] jdelStrother commented on #197
Maybe wrap your button in a stateful component?  eg:
[code]

[2016-05-16 12:53] khmelevskii commented on #197
Yes, it will work. But it would be a good idea to solve this problem using Storybook API @arunoda.

[2016-05-16 13:18] arunoda commented on #197
@khmelevskii It's unlikely that we'll have a direct API for this, since stories needs to be static with it's data.

But, I think story linking might help you: https://github.com/kadirahq/react-storybook/blob/master/docs/writing_stories.md#linking-stories

[2016-05-16 13:21] arunoda commented on #199
include should be `path.resolve(__dirname, '../)`

[2016-05-16 14:20] khmelevskii commented on #197
@arunoda Story linking won't help me if, for example, I want to show animation when I click on button.

[2016-05-16 19:39] VirtueMe commented on #76
@wuzhuzhu

I had the same issue with SelectField, the answer is in the material-ui [readme.md](https://github.com/callemall/material-ui/blob/master/README.md#react-tap-event-plugin) You need to load the ```react-tap-event-plugin``` when storybook loads.

[code]

[2016-05-17 02:30] wuzhuzhu commented on #76
Thanks for both of your answers! It's working now.

[2016-05-17 04:54] arunoda commented on #178
Working on this.

[2016-05-17 11:01] isuvorov opened #200 "Feature: Remember hidden action panel"
Case:
1. Open storybook
2. ⌘ ⇧ D
3. F5

[2016-05-17 11:16] isuvorov opened #201 "Feature: Nested stories"
I have a lot of different states of components, a good solution would be nested story directories.
Depth ~ 3-4
Custom Library > BaseComponent > SubComponent > SubComponent with different state

![sceen](https://4.downloader.disk.yandex.ru/disk/e5fa647fb5643299d08cf61687d07f852ccc548e71e0ee5612aa3a184a22200a/573b3374/iiDA5hNE_Yiv7XevHxWvxfrKF4DmZbQicJ1BDOYQ5WZgU2VI-jrPEmnoq_EOLK1JizIuxMV_YMGrTuR2n5

[2016-05-17 12:15] zvictor commented on #197
I have a similar problem where I have a chart and I want it to render different values while I am in the storybook, according to a control panel I put next to the chart component.

Being able to tell the storybook to re-render the story would solve the problem for me.

[2016-05-17 12:47] arunoda commented on #197
May be we need to have some kind of reactive variables where we can change values. How about this:

[code]

Once you set the value, the related story will get re-rendered again.
This can be even built completely outside of `@kadira/storybook` if we expose a refresh story method.

[2016-05-18 09:44] jdelStrother opened #202 "Disable sourcemaps?"
Heya - I'm not a fan of debugging with sourcemaps, and in my project they grind iOS Safari to a complete standstill.   I've currently hacked Storybook's internal [webpack.config.js](https://github.com/kadirahq/react-storybook/blob/master/dist/server/webpack.config.js#L20) to disable them, but was wondering if there was a better way.  Simply exporting `{devtool: null}` from .storybook/webpack.confi

[2016-05-18 09:55] arunoda commented on #202
You need to use our full control mode for that.
See [here in docs](https://github.com/kadirahq/react-storybook/blob/master/docs/webpack_full_control_mode.md).

[2016-05-18 10:42] jdelStrother commented on #202
Perfect, thanks

[2016-05-18 10:56] jdelStrother opened #203 "Feature: Sandboxed stylesheets?"
Our site has 2 distinct, conflicting stylesheets.  Each is used on different pages, and we never have both on a single page.

The default `import 'app.css'` approach results in both our stylesheets getting used simultaneously in Storybook, which is causing problems.   Any suggestions on better approaches where I might be able to specify per-component styles?

[2016-05-18 11:11] arunoda commented on #203
Currently, there's no way to isolate unless you run two storybooks instances with two config files.

[2016-05-18 11:12] arunoda commented on #202
Hope we could close this.

[2016-05-18 11:12] #202 closed

[2016-05-18 14:47] DominicTobias commented on #2
Adding a loader to `.storybooks/webpack.config.js` doesn't have an effect on node_modules which use css - any idea how to get that working? thanks

[2016-05-18 16:49] DominicTobias opened #204 "Using npm modules that have JSX"
Hi,

Wondering if there's a reason why you are doing this in your webpack config:

[code]

It means that story components can't be imported from node_modules which have uncompiled JSX.

I want to use storybook as a documentation kind of site, and components live in their own repos.

[2016-05-18 16:59] #204 closed

[2016-05-19 13:40] dimaip commented on #166
Might be relevant, have a look at how these guys handle it: http://react-styleguidist.js.org/
They have both editable props and automatic propTypes documentation generated with [react-dockgen](https://github.com/reactjs/react-docgen#example).
I'm somehow torn between these two projects, storybook seems to be more stable (and also with storybooks.io on the horizon), but styleguidist has better docu

[2016-05-19 13:52] kevinSuttle commented on #166
UIHarness
![image](https://cloud.githubusercontent.com/assets/95672/15395774/15ab50ba-1da7-11e6-9040-9dd54ddd9da3.png)

http://scup.github.io/atellier/material-ui-atellier/ doesn't really have this though.

[2016-05-19 13:57] dimaip commented on #166
@kevinSuttle could be nice to auto-generate such examples from propTypes validation, e.g. from `oneOf`.

[2016-05-19 20:30] testerez opened #205 "Cannot resolve module 'webpack-hot-middleware/client'"
I tried to install it on an existing project. I followed the [Getting Started](https://github.com/kadirahq/react-storybook#getting-started) guide but I get this error:
[code]

I then tried to do `npm install webpack-hot-middleware babel` but now I get this error:
[code]

Am I doing something wrong?

[code]

[2016-05-20 07:27] arunoda commented on #166
@kevinSuttle @dimaip @ianlovell Thanks guys for the input. We are planning for this feature and here's how it'll be.

We call this features as "knobs".

Basically we allow to assign a knob to a prop. Like this:

[code]

Then we've a tab in the bottom panel called "Knobs" and they'll show a editable input component based on the type of the default value passed.

Then user's can edit those knobs and

[2016-05-20 07:29] arunoda commented on #205
Please use npm version 3.x.
This is a known issue: https://github.com/kadirahq/react-storybook/blob/master/docs/known_issues.md#potential-issues-with-npm-2

[2016-05-20 07:29] #205 closed

[2016-05-20 09:32] arunoda opened #206 "Integrate React DocGen"
We could integrate [React DocGen](https://github.com/reactjs/react-docgen) to nicely render the propTypes of a given component.

[2016-05-20 13:02] zvictor commented on #151
#201 could help on this.

[2016-05-20 16:20] kevinSuttle opened #207 "Integrate React-Hot-Loader?"
Is this possible to integrate? http://gaearon.github.io/react-hot-loader/

[2016-05-20 16:21] kevinSuttle commented on #166
Ah maybe #207 would cover some of this.

[2016-05-20 17:05] arunoda commented on #207
@kevinSuttle could you tell me why? There is no reason on doing that.
We are directly hook into Webpack's HMR API and work with it.
Since we are managing the state, there's no need of special tooling for React.

[2016-05-20 17:14] kevinSuttle commented on #207
Ah ok that makes sense.

[2016-05-20 17:14] #207 closed

[2016-05-20 22:37] thebuilder commented on #197
I think you should create your own wrapper component, that handles the state in this case.

[2016-05-24 06:56] yianL opened #208 "Feature: custom proxy settings"
First of all, great work with react-story book! I love how I can now jump between different states of my components quickly, and work on the visual changes.

So I have a component that fetches data from an api, and plots it onto a chart. Although I can write a story and feed mocked data into the component, sometimes it's helpful to render the "smart" version of the component and see it in real act

[2016-05-24 09:12] azl397985856 opened #209 "building static site faild"
i wanna build static site by following the steps you provided in the doc, but i got a error when i try to run it on the python simpleHTTPServer
![image](https://cloud.githubusercontent.com/assets/12479470/15498657/18279dbe-21d3-11e6-9934-2e8dd46ab89c.png)

stacktrace:
Error: Invalid regular expression: /[a-zA-Z邪-褟袗-褟]+[*]?/: Range out of order in character class
e.exports
file:///E:/ltcrm/trunk/lt

[2016-05-24 10:47] mnmtanish commented on #209
Hi @azl397985856
It looks like there's an error with the regular expression [(error)](https://regex101.com/r/hL7gY5/1)

[2016-05-24 12:58] dgsunesen opened #210 "Reference to local files"
Hi,

How would one reference say some local `.css` file that's located in `dist` folder next to my `.storybook` folder?

I've seen the examples of using `head.html` but every example has references to anything else but local files.

Br,
Dan

[2016-05-24 13:03] dimaip commented on #166
@arunoda looks cool! Though it may be a bit annoying to write all variants of props by hand, as said, they could be (optionally) imported from the proptypes validation.

[2016-05-24 13:04] mnmtanish commented on #210
Hi Dan,

You can use the `-s --static-dir` argument to serve additional files. Try changing your npm script to something like this:

[code]

`dist/style.css` should be available at `http://localhost:9001/style.css`

[2016-05-24 13:37] mnmtanish commented on #208
Hi @yianL,

Thanks for bringing this use case to our attention. I started working on a way to make storybook more flexible [here](https://github.com/kadirahq/react-storybook/pull/211).

[2016-05-25 00:14] krainboltgreene opened #212 "No CLI documentation that's helpful D:"
Currently there's no (from what I've seen) documentation on the 3 commands you get.

(Also, is there a particular reason it doesn't follow the (seemingly common) format of `libraryname subcommand` aka `storybook [build|start|server]`?)

[2016-05-25 00:24] krainboltgreene commented on #212
Looks like there's some details deep in the documentation: https://github.com/kadirahq/react-storybook/blob/master/docs/configure_storybook.md#command-line-api

[2016-05-25 00:24] #212 closed

[2016-05-25 00:38] ffxsam commented on #117
@gsabran What did you wind up doing? I'm just now getting into React Storybook, and running into the same issue of it choking on meteor packages.

It also doesn't like absolute path imports, e.g.:

    import '/imports/something/file';

Any suggestions, @arunoda?

[2016-05-25 02:53] gsabran commented on #117
I've ended up separating more clearly containers that were using `react-meteor-data` and UI components, so now I can use storybook with the UI component that have no dependency on Meteor packages. Better separation is good, but it's annoying not to be able to use Meteor packages from a Meteor app... There is also https://github.com/meteor/chromatic that seems to address a similar goal with a focus

[2016-05-25 02:57] ffxsam commented on #117
I can't get clear enough separation on all my components. For instance, one React component uses a component called `MeteorUser` which takes a user ID and returns various information (which of course, comes from `Meteor.user()`).

Chromatic looks promising, but development on it has lagged while MDG focuses on Apollo. I'm interested to see how it progresses though.

[2016-05-25 03:05] arunoda commented on #117
@ffxsam you don't have seperation between the data layer and the UI layer. That's the issue.

Meteor.user() is a data later stuff and you shouldn't access it inside a UI component.

Instead, pass it via props. Use container pattern may be with react-komposer or similar.

[2016-05-25 03:07] ffxsam commented on #117
But the problem is that my container I want to import into Storybook uses a component which is a container for something else. In other words:

    ComponentIWantToUseInStorybook -> SomeComponentContainer -> SomeComponent

[2016-05-25 03:08] arunoda commented on #166
@dimaip Idea is this. You don't need to write them all. This is the raw version.
We can use propTypes and defaultProps if needed instead of passing custom values.

[2016-05-25 03:11] ffxsam commented on #117
Seems like Storybook needs some way to mock components, so when it tries to import `SomeComponentContainer` which references Meteor stuff, I can supply my own dummy stand-in component.

[2016-05-25 03:11] arunoda commented on #117
@ffxsam Yep. I get it. For that, you need some help from the container toolkit.
In react-komposer we have this: https://github.com/kadirahq/react-komposer#disable-functionality

[2016-05-25 03:13] ffxsam commented on #117
Ahh. Unfortunately I'm not using komposer in my project, it's all MDG's `createContainer`. I'll have to find another workaround.

[2016-05-25 03:25] arunoda commented on #117
It will be simple too.
We don't also import meteor packages. You may could give a mock API for the createContainer using the Webpack alias config.

Or otherwise, use react-komposer just for that compoenet. Both do the same job.

[2016-05-25 03:26] ffxsam commented on #117
Webpack... argh. I guess I need to finally give in, and learn it. :)

Thanks!

[2016-05-25 03:32] azl397985856 commented on #209
but running successfully.

only when I try to build-static-site . something went really wrong

[2016-05-25 03:58] azl397985856 commented on #209
![image](https://cloud.githubusercontent.com/assets/12479470/15527767/d5ce0dde-226f-11e6-9aba-d48a3fbc89f3.png)
i delete part of pages, then it works.
but i get messy code。 what am i doing wrong?

[2016-05-25 04:00] azl397985856 commented on #209
ps:
I add <meta http-equiv="content-type" content="text/html; charset=UTF-8" /> tag

[2016-05-25 04:18] azl397985856 commented on #209
maybe i found the reason.     i shouldn't run as local file, it should be placed on the static server, the  add the tag<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
so if you'd like to add this into your html template when running the shell 'build-storybook', it may help many other people like me,  thanks

[2016-05-25 04:20] #209 closed

[2016-05-25 06:01] mindjuice opened #213 "Loading babel-polyfill for IE11"
I have my first component working in Storybook, and everything is fine on Chrome and Firefox, but in IE11, I get the error `Object doesn't support property or method 'find'` when Storybook is trying to find a story in an array.

This seems to be because `Array.find()` needs to be polyfilled.

The solution should be to add `import 'babel-polyfill;` to the entrypoint, but I can't seem to find the ri

[2016-05-25 06:33] dgsunesen commented on #210
Cheers @mnmtanish. That solved it!

[2016-05-25 07:04] ickyrr opened #214 "ERROR in Loader /mantraproject/node_modules/css/index.js didn't return a function"
Need help with loading less file, still new to mantra and having a very difficult time with this. I installed the following modules:

less
less-loader
style-loader
raw-loader

I followed the the webpack's instructions [here](https://github.com/webpack/less-loader) but could not get it to work.

[code]

[2016-05-25 07:22] ffxsam commented on #117
@arunoda Oh, one last thing: React Storybook doesn't like when it imports components of mine that use root level imports (`import X from '/some/path'`). I tried adding [babel-root-slash-import](https://www.npmjs.com/package/babel-root-slash-import) to my project but it didn't help.

[2016-05-25 07:35] #210 closed

[2016-05-25 07:55] mnmtanish commented on #208
Published `v1.28.0`. You can now import the middleware and write your own express server.

[code]

Check this [line](https://github.com/kadirahq/react-storybook/blob/3a21d57d30f7a7f0252205f9dfc6dc820fb46e94/src/server/index.js#L49)

[2016-05-25 08:58] i4got10 opened #215 "Lack of charset in builded html"
While running storybook under node, server return Content-Type header, that allow browser to show content in utf-8.

``Content-Type:text/html; charset=utf-8``

But then build static html, there is no charset specified. It leads to

![react storybook 2016-05-25 13-56-15](https://cloud.githubusercontent.com/assets/1151154/15534050/873014ae-2280-11e6-80f1-3845b9949752.png)

Problem here is that there

[2016-05-25 09:21] mnmtanish commented on #215
Related https://github.com/kadirahq/react-storybook/issues/209

[2016-05-25 09:48] mnmtanish commented on #209
Hi @azl397985856
Thanks for all the info. I've just release `v1.28.1` with the charset meta tag.
This should fix this issue.

[2016-05-25 09:49] mnmtanish commented on #215
Hi @i4got10
Thanks for the tip. Added the meta tag and released `v1.28.1`

[2016-05-25 09:51] i4got10 commented on #215
Thank you!

[2016-05-25 09:51] #215 closed

[2016-05-25 09:54] mnmtanish commented on #168
Hi @kevinSuttle
I think https://github.com/kadirahq/react-storybook/issues/215 is related. Can you try `v1.28.1` I'm sure it will fix the issue.

CC: @arunoda @thinkholic

[2016-05-25 09:58] mnmtanish commented on #146
Hi @mquandalle
A storybook express middleware is available from `v1.28.0`.

[code]

Check this [line](https://github.com/kadirahq/react-storybook/blob/3a21d57d30f7a7f0252205f9dfc6dc820fb46e94/src/server/index.js#L49)

Related: https://github.com/kadirahq/react-storybook/issues/208

[2016-05-25 16:35] mindjuice commented on #214
Not sure if you're asking for mantra or storybook, but my `webpack.config.js` for storybook handles `.less` files (and images and fonts):

[code]

[2016-05-25 20:25] yianL commented on #208
Wow, this is awesome. I will definitely try it out. Feel free to close this issue.

[2016-05-26 01:33] kevinSuttle commented on #168
Woot! Seems fixed! Thanks gents!

[2016-05-26 01:33] #168 closed

[2016-05-26 01:35] kevinSuttle commented on #168
<img width="382" alt="screen shot 2016-05-25 at 9 34 20 pm" src="https://cloud.githubusercontent.com/assets/95672/15561111/885773aa-22c0-11e6-8760-343840985343.png">
<img width="266" alt="screen shot 2016-05-25 at 9 34 28 pm" src="https://cloud.githubusercontent.com/assets/95672/15561112/885a7e1a-22c0-11e6-8b26-ad196e3a0f81.png">

[2016-05-26 03:37] #208 closed

[2016-05-26 04:16] ickyrr commented on #214
@mindjuice - did you install other loaders?

[2016-05-26 04:23] ickyrr commented on #20
@jschlieber - did you find a solution for this?

[2016-05-26 07:30] jschlieber commented on #20
No, I no longer use MaterializeCSS...

[2016-05-26 08:14] ickyrr commented on #96
Thank you! That solved my problem.

[2016-05-26 19:39] loudwinston commented on #155
My solution to this was use `babel-register`.  I created 2 files, `webpack.config.js` and `webpack.config.es6.js`.   `webpack.config.js` is responsible for loading `babel-register` then requiring `webpack.config.es6.js`.

### webpack.config.js
[code]

### webpack.config.es6.js
[code]

[2016-05-26 21:16] BevanR opened #217 "Different to UI Harness?"
How is React Storybook different to [UI Harness](https://github.com/philcockfield/ui-harness)?

I read https://github.com/philcockfield/ui-harness/issues/29 already.  A concise summary would be useful for anyone weighing up the two options.

I asked the same question of the UI Harness team; https://github.com/philcockfield/ui-harness/issues/68

[2016-05-26 21:45] SimeonC commented on #217
I evaluated both and I think it really boiled down to which way of writing the setup. For me UIHarness reads like a set of TDD scripts whereas Storybook read like scenarios that a non-developer could understand.

I picked Storybook as I liked that I can use the story source code as examples and I didn't like the describe/it abstraction. From reading around their repository it looks like storybook

[2016-05-27 22:05] gbylenok opened #218 "Error installing 1.28.1"
I am trying to use the latest storybook and have run into a few issues that I wanted to run by someone here. Everything worked fine a couple of weeks ago, but then I upgraded to npm 3.x and tried to grab the latest storybook code.

I tried to keep the package.json simple, like this:
[code]
but always received errors like this upon "npm install":
[code]
So I tried to expand the list of dependencies

[2016-05-28 08:09] mnmtanish commented on #218
Please use storybook module from npm.

[code]

We're using the `prepublish` hook to transpile ES6 code to ES5. That is why you're getting the "Module not found" error. Anyways we don't recommend using storybook from Github.

[2016-05-28 15:03] zillding opened #219 "Error occurs when the arguments passed to 'action' cannot be stringified"
I encountered the `Invalid string length` error and it turned out to be because the arguments passed to the `action` function cannot be stringified or too big after stringified.

Example:
[code]

When the argument passed to the `onClick` handler cannot be stringified, an error occurs. If I do sth like:
[code]
Everything is okay.

[2016-05-28 15:36] arunoda commented on #218
@mnmthanish it should be possible to refer GitHub as the source as well.

May be we need to publish the dist directory of split-pane and mantra-core into GitHub.

[2016-05-29 14:21] kjetilge opened #220 "Cannot resolve module 'style' when using react-flexgrid"
I can't get react-flexgrid to work alongside storybook.
When I add this line:
```import "react-flexgrid/lib/flexgrid.css"```
to my componen.jsx I get the error:
[code]

My ./storybook/webpack.config.js looks like this:

[code]

[2016-05-30 08:33] mnmtanish commented on #218
@gbylenok @arunoda

Published `lib`, `dist` directories in `react-split-pane` and `storybook-core` packages.
Github installations will work from now.

**Tip:**
No need to enter the complete url for Github sources, `user/repo` will also work.
https://docs.npmjs.com/files/package.json#github-urls

[code]

[2016-05-30 09:45] hliyan commented on #44
@arunoda ,
I'm having some trouble resolving an alias. storybook version: 1.28.1

./storybook/webpack.config.js resolve block:

[code]

`import foo from 'foo';` just doesn't seem to get resolved (undefined). I've verified the file path gets resolved. What am I doing wrong?

[2016-05-30 17:15] RajnishDashora commented on #174
+1

[2016-05-30 20:31] mindjuice commented on #213
I downloaded the repo and used `npm link` to connect it to my project.

If I add `import 'babel-polyfill';` as the first line of `/src/client/manager/index.js`, then everything loads properly in IE11.

It also works if I instead change the `/src/client/manager/webpack.manager.conf.js` to have the following entry points:

[code]

Can anyone else confirm if Storybook works for them in IE11 without o

[2016-05-30 23:33] mking-clari commented on #32
Here is another reason why this would be good. I would like to use React Storybook to test Redux containers which make API requests to my backend. I think there's room for a middle ground between developing the full-fledged app (which wouldn't use Storybook) and developing pure UI components (which wouldn't make API requests). For example, I have a search result container that I want to develop in

[2016-05-31 05:18] shijunti19 opened #221 "npm WARN deprecated jade@0.26.3: Jade has been renamed to pug, please install the latest version of pug instead of jade"
npm WARN deprecated jade@0.26.3: Jade has been renamed to pug, please install the latest version of pug instead of jade

[2016-05-31 05:41] mnmtanish commented on #221
Hi @shijunti19
The warning comes from [mocha](https://github.com/mochajs/mocha/issues/2200).
I'm afraid we'll have to wait for now.

[2016-05-31 06:19] #221 closed

[2016-05-31 14:39] gbylenok commented on #218
Thank you! I have verified that the install works from github. I could never get it to work from our private npm registry, so that's why I went the github route.

[2016-05-31 21:41] arunoda commented on #218
Great work guys.

[2016-05-31 21:41] #218 closed

[2016-05-31 21:46] arunoda commented on #213
Yes. PR on this would be great if it doesn't work on IE11.
But I assume we have added some polyfills as well

@mnmtanish could you help @mindjuice on this.
And check what's the size increase by this change.

[2016-06-01 17:53] nwwells commented on #181
FWIW, I'm using `shrinkwrap` and didnt' run into anything like that. Did you try `npm prune`?

[2016-06-01 21:26] ffxsam opened #223 "Trouble using Storybook with Sinon"
[code]

I get the following warnings:

[code]

And the following red screen:

![react_storybook](https://cloud.githubusercontent.com/assets/12532733/15726283/d5f48f14-2804-11e6-962a-ffa495dd0a95.png)

[2016-06-01 21:47] ffxsam opened #224 "General enhancement: Make more Meteor-friendly"
Just leaving this here for anyone who knows webpack and has the time..

Out of the box, Storybook is not very Meteor-friendly, for a handful of reasons:

- No support for absolute/root path imports (`import X from '/root/folder/X'`)
- No support for ES2015 stage 2 (which includes object spread operator for objects)
- Errors out when importing a React component that imports a Meteor package

I woul

[2016-06-01 21:50] j6k4m8 commented on #175
Is there a status report on this? Just decided to start using Storybook for our web app and we'd love to use it for native too! (Would totally devote some dev hours to this if it were a relatively short-term goal)

[2016-06-02 17:04] jhicken opened #225 "Storybook Contribution Guide"
So I pulled open the code to try and add some features. And I'm super lost. I spent about an 3 hours digging through stuff and this is my conclusion

I have never used Mantra. There seems to be very little documentation on it.

It would also be nice to have some documentation on the folder structure and how to contribute to storybook.

Documentation on what all the different repos are. storybook-u

[2016-06-02 17:25] gsabran commented on #224
+1

[2016-06-02 21:45] gsabran commented on #117
@arunoda would you have an example of a webpack config with `resolve.alias` that would work? I've:

[code]

(I really don't care how the module is going to be resolved, I just want my file loading to work)

This doesn't prevent storybook's building to fail with `Module not found: Error: Cannot resolve module 'meteor/mongo'`.
Also, is it possible to have a config that's only for storybook?

[2016-06-03 08:58] zvictor commented on #224
I think the two first points you can cover just by having a `.babelrc` next to the config file. You are right, it is not out of the box support, but would it be something we want?

It seems that what we are missing are guides for different setups, or pre made presets, so in the future we are not stuck to a specific technology like Meteor or whatever else.

The third point is indeed a big problem f

[2016-06-03 16:26] ffxsam commented on #224
I don't see why it wouldn't hurt. If I built a new tool and were to advertise it to the Meteor community in some capacity, I'd at least make sure that there was an easy step-by-step guide to get it to work with Meteor.

[2016-06-03 16:50] TigerC10 commented on #155
@jxodwyer / @moroshko / @loudwinston - Rename `webpack.config.js` to `webpack.config.babel.js` and make sure your webpack is updated to the latest version.  It should allow ES2015 syntax once you do.

[2016-06-03 17:07] TigerC10 opened #227 "Switch to stage-0 preset; Static variables are not permitted in components"
There's no support for static variables in the components, when I attempt to use static vars in my component classes here's what I get:
[code]

I believe that switching to `stage-0` (or even `stage-1`) instead of `stage-2` will resolve the issue.  Is there a reason the project is using `stage-2`?

[2016-06-03 17:50] zvictor opened #229 "[Feature] Multiple static dirs"
In my project I have multiple packages adding static files to it from different places.
Besides my own files at `/public` I have, for example, semantic-ui adding fonts and icons from a different location. With Storybook I can only serve one of them by pointing to a single location.

Can we change the `--static-dir [dir-name]` option to accept multiple folders instead of just one ?

[2016-06-04 01:08] gsabran opened #230 "can't parse class attribute"
There might be something weird with some `.babelrc` but
[code]
can't be parsed when using storybook. This raises `Unexpected token` on the `=` apparently.
I'm on a meteor project with no custom  `.babelrc`

[2016-06-04 01:14] gsabran commented on #230
fix with a standard `.babelrc` ...:
[code]

[2016-06-04 01:14] #230 closed

[2016-06-04 20:09] raedle opened #232 "Access files in Meteor public folder"
Just discovered storybook and it's pretty neat!

I'm using it together with a Meteor project. Also, I'm using static images in some stylesheets. The images are in the /public folder. Is it somehow possible to add this folder to the webpack configuration?

[2016-06-05 08:46] grabcode commented on #175
@tonyxiao @j6k4m8 I'm happy to share with you my attempt to solving this react-native/web gap with my [React Native for Web Starter](https://github.com/grabcode/react-native-web-starter). In a nutshell, I plan on developing a webapp and later on launch a v2, native, as it may need depth sensors.

[2016-06-05 20:34] tonyxiao commented on #175
@grabcode awesome. At first glance it seems to render native components into web browser?

[2016-06-05 23:58] grabcode commented on #175
That is what it does mate. Check it out and contribute!

[2016-06-06 06:41] #227 closed

[2016-06-06 08:06] mnmtanish commented on #229
Released `v1.29.0`

Now it'll accept multiple static directories separated by commas.
Thanks for submitting the issue.

[2016-06-06 08:58] mnmtanish commented on #223
Seems like sinon and webpack don't work well together. I just checked some related issues ( https://github.com/sinonjs/sinon/issues/830 https://github.com/webpack/webpack/issues/304 ) and it seems we can avoid this error using a couple of methods:

**use sinon v2**
Update the package.json file to use sinon v2 (pre-release) which doesn't have this error. The downside is that there seems to be a few

[2016-06-06 09:33] zvictor commented on #229
Thank you! You guys are always fast and very supportive 🏄

[2016-06-06 09:33] #229 closed

[2016-06-06 15:00] smesko85 opened #234 "Static build doesn't work on Safari"
On Safari, static build doesn't initialize because of the source map (manager.js.map) not found (url not resolved). When source mapping comment (sourceMappingUrl) is removed from manager.js in dist folder, everything works as expected.

[2016-06-06 19:45] ritz078 commented on #180
A complete isolated view will be great having just the component and nothing else. like full screen but no need of iframe too. This will help while profiling.

[2016-06-06 21:43] timkindberg commented on #180
@ritz078 that already exists with Ctrl Shift F

[2016-06-07 00:13] mindjuice commented on #213
Sorry, I'm not clear if you want me to submit a PR first, or if you are first going to try to verify that you have the same issue on IE11.

If you'd like a PR, I'll get that done ASAP, but I'm wondering if you have a preference over the two ideas I suggested above (adding an `import` line in `/src/client/manager/index.js` or changing the `entry` array in `webpack.config.js`).

Thanks.

[2016-06-07 01:25] suhaotian opened #235 "npm install error on win 10"
[code]

[2016-06-07 02:09] gsabran commented on #117
@ffxsam I'm in the process of doing the following:
- passing all the meteor packages [through context](https://github.com/gsabran/kickstart-meteor-react-flowrouter-SSR-codeSplit/blob/master/src/TodoApp/client/layout/components/Layout.jsx#L16-L18) from the root so that no component import them directly
- using a wrapper [boilerplate](https://github.com/gsabran/kickstart-meteor-react-flowrouter-SSR-

[2016-06-07 04:44] mnmtanish commented on #235
Hi @suhaotian
Are you using a different npm registry or a proxy? If so, can you try the default registry.

[code]

[2016-06-07 05:14] mnmtanish commented on #234
Hi @smesko85
Just released `v1.29.1` to include the source map file. Can you confirm whether it works?
Thanks for reporting the issue.

[2016-06-07 07:33] smesko85 commented on #234
Hi @mnmtanish,
It works perfectly! Thank You for quick response!

[2016-06-07 07:33] #234 closed

[2016-06-07 08:48] mnmtanish commented on #213
Pushed 2 PRs #237 and #238 one with `babel-polyfill` and one with `es6-shim`. But I guess #238 is better because `es6-shim` seems lighter compared to `babel-polyfill`. Both of them fixe the IE11 issue.

[code]

[2016-06-07 08:55] avin opened #239 "Wrong path join"
Hello guys, I think you should not use '\' in path.join.
[code]

Firefox does not like this
[code]

[2016-06-07 08:56] mnmtanish commented on #213
We can also conditionally enable the shim with a command line flag

[code]

[2016-06-07 09:16] mnmtanish commented on #239
I think I just found the issue. Just to make sure, are you using Windows?

[2016-06-07 09:29] mnmtanish commented on #239
@avin can you try `v1.29.2`
It should work now

[2016-06-07 10:04] avin commented on #239
@mnmtanish, yes i'm windows user and `1.29.2` works fine! Thank you very much for fast reply!

[2016-06-07 10:05] #239 closed

[2016-06-07 16:46] TigerC10 commented on #230
#227 Fixes this issue; Pretty recent change to the project.  I'm still getting a few slight errors from needing to update the stage in kadirahq/storybook-ui#1 - need #241 to fully resolve, I think.

[2016-06-07 17:47] mindjuice commented on #213
Sweet!  Thanks!

The `es6-shim` works too.

Out of curiosity, is the `--enable-polyfill` flag new?  I didn't see it in PR #238.

[2016-06-08 00:42] tdreyno opened #242 "An `index.html` file in the "static" directory overwrites built Storybook index"
I have an `index.html` file in my public directory (passed to storybook via the static-dir flag). The preview server correctly ignores this and serves the Storybook index when that is running.

However, when building the storybook statically, the public `index.html` overwrites storybook, making it unusable.

This can probably be fixed by copying the static assets before compiling Storybook, so it

[2016-06-08 04:31] mnmtanish commented on #213
Just released `v1.29.3` which will add the shim by default.
I think 50KB is quite reasonable for IE11 support.

[2016-06-08 04:41] #242 closed

[2016-06-08 11:02] mnmtanish opened #244 "Expand all categories"
@arunoda

It'll be easier to navigate if categories are always expanded. Even when there are many stories, as long as they're sorted alphabetically it won't take much effort to scroll to the category we're interested. And we also have filters to help for long lists.

[2016-06-09 18:12] mindjuice commented on #213
Thanks @mnmtanish.  It's basically working now, although I see the following warning in the console:

`webpack-hot-middleware's client requires EventSource to work. You should include a polyfill if you want to support this browser: https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events#Tools`

[2016-06-09 18:30] kevinSuttle commented on #166
Saw this in the CloudFlare UI framework

<img width="1440" alt="screen shot 2016-06-09 at 2 29 44 pm" src="https://cloud.githubusercontent.com/assets/95672/15941551/b4c1c758-2e4e-11e6-9064-3f544d4cb373.png">

[2016-06-09 18:35] track0x1 commented on #220
Did you install `style-loader` in your npm package?

[2016-06-09 18:43] kjetilge commented on #220
I did, but it gave me new problems/warnings. Don't remember exactly. Switched to reflexbox now, though I think some things are missing in that package..

[2016-06-09 18:54] ericmcgregor commented on #79
same issue.  I'm specifically trying to get the javascript to load.  have you had any luck here?

[2016-06-09 18:56] track0x1 commented on #220
Also I'd remove `include: ...` from your loader because the css file is going to be in `node_modules` which isn't included by your config.

[2016-06-09 19:01] kjetilge commented on #220
This webpack stuff is totally new to me. Need to read up on the syntax etc. I'll try it !

[2016-06-09 20:23] majapw opened #245 "Backslash in the search field causes a syntax error"
Accidentally hit the backslash in the `Filter` input on my storybook instance. The entire left panel errored out with the following syntax error:
[code]

This can only be fixed with a refresh.

[2016-06-09 22:42] gisenberg commented on #175
@mnmtanish @arunoda Any update on this issue? Are you looking for help?

[2016-06-09 23:04] mnmtanish commented on #213
I'll check it out. Thanks for reporting these errors :) everyone here use macs.

[2016-06-10 00:44] mindjuice commented on #213
I'm a Mac guy too actually, but my coworker is on Windows.

The bad news is that it doesn't work under Microsoft Edge either, even with the polyfill.  The sidebar doesn't appear, and clicking on a button tied to a Storybook action like `action('Clicked me!)` doesn't show anything in the bottom panel.

I installed Edge in a Windows 10 VM in VMWare Fusion to try and help debug this, but Edge crashes

[2016-06-10 00:48] mnmtanish commented on #213
I'm using Microsoft's RemoteIE.
https://developer.microsoft.com/en-us/microsoft-edge/tools/remote/

On Fri, Jun 10, 2016, 6:14 AM Ken Carpenter <notifications@github.com>
wrote:

--

*MN MUHAMMED THANISH*
*@MNMTANISH | HTTP://THANISH.ME <http://thanish.me/>*

[2016-06-10 03:36] #245 closed

[2016-06-10 04:40] mnmtanish commented on #245
Hi @majapw
Just pushed `v1.29.5` with a fix. Thanks for reporting.

[2016-06-10 05:05] majapw commented on #245
Thanks! Much appreciated.

[2016-06-10 06:54] mnmtanish opened #248 "Add support for Webpack2"
I just found this interesting [commit](https://github.com/trabian/react-storybook/commit/ae6e066af014597e842e3bb5949c514df86dd93d) on a fork of this repo.

It seems storybook is not compatible with webpack 2 because of `OccurenceOrderPlugin`.
Test whether this is true and remove the plugin if necessary.

[2016-06-10 20:26] shawnrice commented on #248
There was a typo in the plugin name in Webpack 1. They fixed it, but to keep it backwards compatible, they supported both. So, in Webpack 1 you have `OccurrenceOrder` and `OccurenceOrder`. In Webpack 2, you just have the correct spelling. So a PR that just adds an extra `r` would work for both Webpack 1 and 2.

[2016-06-12 13:09] kjetilge commented on #76
Is it possible get formsy-react to work with storybook  ? All fields just disappears in storybook.

[2016-06-13 05:03] arunoda commented on #225
Yes. This is very very needed. This is my first priority in this week.

[2016-06-13 05:19] arunoda commented on #224
Thanks for making this. I know it's kind a pain. I think this is almost fixed and we need some find tunes and so and guides. (May be an extended project).

#### Root Import

We could use [this](https://github.com/mantrajs/babel-root-slash-import) or fix it if needed.

#### Stage 2 Support

Latest version of storybook comes with stage-0. So we are all covered.

#### Meteor Imports Webpack Plugin

S

[2016-06-13 05:20] arunoda commented on #232
Yes that's possible. See: https://github.com/kadirahq/react-storybook/blob/master/docs/configure_storybook.md#static-directory

[2016-06-13 05:20] #232 closed

[2016-06-13 05:22] arunoda commented on #223
I think this is not directly related to us and @mnmtanish pointed out some great ways to fix it.

[2016-06-13 05:22] #223 closed

[2016-06-13 05:24] arunoda commented on #117
@gsabran I made some related comments at here - https://github.com/kadirahq/react-storybook/issues/224#issuecomment-225491154

[2016-06-13 05:29] arunoda commented on #244
This is a good feature. But I don't think we have a alphabetically sorted functionality. It should be based on the order stories has been written (loaded).

[2016-06-13 05:34] arunoda commented on #248
@mnmtanish could you work on this?
And generally how to deal with webpack 2.0 if used in a project. (Do we need to change the `package.json`.

[2016-06-13 08:03] kelvinji2009 commented on #235
@mnmtanish It works. Thanks.

[2016-06-13 14:06] davidshift opened #249 "Alias static directory"
Is it possible to alias a static directory to another path?

Example:
`/public` becomes `/alias/public`

[2016-06-14 03:52] arunoda commented on #249
See: https://github.com/kadirahq/react-storybook/blob/master/docs/configure_storybook.md#static-directory

You can name it as anything you like.

[2016-06-15 02:46] arunoda commented on #249
I hope we can close this.

[2016-06-15 02:46] #249 closed

[2016-06-15 14:37] MechJosh0 opened #252 "Turn [HMR] console.log off"
How do you turn this console.log off? I see there is an option to turn it off in the code but I'm unable to backtrack it to how it's possible from my end.

[2016-06-15 14:49] FredyC opened #253 "Use webpack as a peer dependency ?"
Since storybook depends on Webpack 1, it's not possible to use same Webpack 2 configuration for bundling components. This is especially problematic with loaders which I have configured for application.

For example I have some basic loaders (more will come) like this
[code]

Here comes first issue with babel as for Webpack 2 which recognizes ES6 modules, I have `.babelrc` file which uses preset `e

[2016-06-15 21:11] mindjuice commented on #213
Thanks, RemoteIE worked for me too.  I used `ngrok` to temporarily expose my `localhost` service, which was cool.

Storybook is definitely not working under Edge for me either (matching my coworker's experience that I described two comments above).

I don't have time to debug right now, but will try to find some time soon.

[2016-06-15 23:07] tomitrescak commented on #15
Would you consider to publish this as non scoped package?
With the scoped name I cannot use the [amazing pnpm substitute of npm project](https://medium.com/@tomi.trescak/reducing-size-of-npm-based-projects-1b02ebe32d61#.1n1vvwto6) that saves soo much space with creating symlinks instead of having a copy of storybook in each project.

I have 13 packages that use storybook. Each package copies over

[2016-06-16 01:43] ihealthdavid commented on #45
@MasterAM Some of us are following the Mantra spec, which usually has 2 composer types for each component type, so I had to use a different approach.

@arunoda It doesn't look like https://github.com/gavriguy/react-indie would work well with mantra-core either.

I added a composeAllWithStub function on top of the setTestMode. Will submit PR shortly.

[2016-06-16 02:05] arunoda commented on #15
We choose scoped packages for a reason to avoid global name collision (ref: the left-pad story). So, we are unlikely to change that.

But, we do realize the pain.

[2016-06-16 02:08] ihealthdavid commented on #45
I run @MasterAM 's setTestMode(), then

[code]

Please check mantrajs/mantra-sample-blog-app#110 to see a working example.

[2016-06-16 02:11] arunoda commented on #253
Yep. I can see the problem. Using it as a peer-dep for now may not work for us. But we can add support for webpack 2 in the package.json.

So, if you've installed webpack2 for your app, it'll use it. We will also move to webpack2 by default.

[2016-06-16 02:18] arunoda commented on #253
This will be address in #248

[2016-06-16 02:18] #253 closed

[2016-06-16 02:23] arunoda commented on #248
Here's my suggestion to support both Webpack2 and Webpack1

* We will write storybook to work with either webpack2 or webpack1 (May be we could detect the version and do any tricks, if needed)
* We make the version for webpack like this: `"webpack": "1.x.x || 2.x.x"`
* If the source project uses webpack2, npm will use it and it's the same for webpack2.

I didn't test this, but this will work and f

[2016-06-16 04:31] ffxsam commented on #76
@VirtueMe  Where did you wind up putting the `injectTapEventPlugin()` call? I keep getting errors, because it can only be invoked once. I'm not sure what the best place for it is.

[2016-06-16 07:07] zeroasterisk opened #254 "Feature request: link back to github repo"
I just demoed `react-cdk` for a meetup and got storybook working, and published up to github... all super slick and smooth (thanks!)
- https://github.com/zeroasterisk/react-confirm-button
- https://zeroasterisk.github.io/react-confirm-button/

But I noticed that on the storybook page, there was no way to get back to the github repo.

I think if we are auto-publishing to github pages, it would like

[2016-06-16 07:13] MasterAM commented on #45
@ihealthdavid
AFAICT, You can set the composers however you like for the original component, so you can use the Mantra spec (as I do, too). What prevents you from specifying as many composers as you like for a component? Can you show a simple example where it fails?

I created `createStubComposers` the way I did because I did not want to do "scaffolding" for tests in the application code.

@arunod

[2016-06-16 07:38] arunoda commented on #254
Yes. That's a good feature. Basically, we need to provide a way to change the `React Storybook` icon into something user provide.

[2016-06-16 07:39] arunoda commented on #45
@MasterAM I'm taking all of them in this week. Stay in touch.
Sorry about the delay.

[2016-06-16 08:42] FredyC commented on #56
Yes, that's definitely something that is missing to see what actual properties were used to display component in such state. As of now it only relies to having good enough description of the story.

[2016-06-16 08:50] arunoda commented on #56
@mnmtanish and @roonyh is working on project related to this.
See: https://github.com/kadirahq/react-storybook-story

We'll launch this soon. Anyway, you can use this right now as well.

[2016-06-16 09:45] sunnybogawat opened #255 "How to export stories into new react green field application"
I have used storybook to create a component based on stories. The component is plain react component where data has been supplied from container. The component has been tested properly now, I want to use this component into a separate react project where I can integrate this component as per business logic. So one way is I can directly use component jsx file into my new project but I want to know

[2016-06-16 21:34] alexofob commented on #224
@arunoda. I tried the Meteor Imports Webpack Plugin to fix the issue of meteor imports in storybook. It doesn't work.

I get the below error when I run storybook:

_... node_modules/meteor-imports-webpack-plugin/index.js:45
      throw Error('Run Meteor at least once.'_

Also when I run meteor I get the below error:

_Unable to resolve some modules:

  "meteor-imports" in
..._

So we may need to e

[2016-06-17 11:37] VirtueMe commented on #76
I added it to the ```.storybook/config.js``` file.

[2016-06-17 17:03] michaltakac commented on #76
Was trying to use Material UI with storybook today and came up with this solution:

`/stories/materialize.js`:
[code]

`stories/header.js`:
[code]

[2016-06-17 17:44] ffxsam commented on #76
@michaltakac No need for the `materialize` function. What you're doing is easily done via Storybook's built in `addDecorator` method:

[code]

[2016-06-17 17:48] michaltakac commented on #76
Thank you for example code, helped!

[2016-06-17 22:44] testerez commented on #205
In fact it worked, thanks

[2016-06-18 11:06] mnmtanish commented on #175
@tonyxiao as promised earlier, here's the POC. It works but need to jump through a few hoops. We still have some major issues to fix, write docs, contributor guides, etc. before announcing it.

<img width="1920" alt="screenshot" src="https://cloud.githubusercontent.com/assets/136691/16170166/f37b1aa2-3566-11e6-9228-ca2941182fa6.png">

Check these repos and issues but please note that it's possible

[2016-06-18 11:24] mnmtanish commented on #175
@arunoda @grabcode It'll be **awesome** if we can render the component using `react-native-web` instead of the "Please check your device/simulator" text. It can also be used for the static build to push to gh-pages.

[2016-06-18 23:09] timkindberg commented on #180
I've picked up this story! PR coming right now.

[2016-06-18 23:10] timkindberg commented on #200
Duplicate of #180. Should close.

[2016-06-19 05:06] arunoda commented on #175
@mnmtanish react-native-web is a tiny subset of component of React Native. So, spending time on that is not wise.

May be we can stream the device's screen and render it on the web :)

[2016-06-19 05:11] arunoda commented on #180
Thanks. Will be working on the PR.

[2016-06-19 05:12] arunoda commented on #200
@timkindberg yep. Thanks.

[2016-06-19 05:12] #200 closed

[2016-06-19 21:20] bronson opened #257 "Roadmap?"
https://news.ycombinator.com/item?id=11414392  :)

I'd really enjoy seeing one.  I suppose it could include wishlist items like #19 but I'd mostly be interested to see what's coming next.

Roadmap files are kind of a PITA to maintain.  If you've rethought this, feel free to close.

[2016-06-20 02:52] arunoda commented on #19
I'm going to close this since we'll be working on some of these features as extensions to react storybook.
See: https://github.com/kadirahq/react-storybook-story for an example.

We'll be launching an addon API soon.

[2016-06-20 02:52] #19 closed

[2016-06-20 02:53] arunoda commented on #257
I think it's better to have a ROADMAP.md.
I'll create a one in a moment.

But, I won't put dates.

[2016-06-20 02:57] arunoda commented on #257
See: https://github.com/kadirahq/react-storybook/blob/master/ROADMAP.md

[2016-06-20 02:57] #257 closed

[2016-06-20 05:16] bronson commented on #257
Nice!

[2016-06-20 15:05] jurgob opened #259 "Storiesof creator"
Hi,
I think than a common pattern using react-storybook could be like writing a bunch of stories for the same component and watch them simultaniusly while you are coding.
That's why I have created this utility:

https://gist.github.com/jurgob/a0f2e0cfc3296279fcf47ff4a697076f

let me know if this idea make sense for you and if there's a better way to do it.

[2016-06-20 15:20] mnmtanish commented on #259
Here's an example
https://github.com/kadirahq/react-storybook-addon-info/blob/9bfca0d8219300fcb467674a4064183f1622eea1/src/index.js

[2016-06-20 16:58] arunoda commented on #259
@jurgob great.
As @mnmtanish mentioned, write an [addon](https://github.com/kadirahq/react-storybook/blob/master/docs/extensions.md) and send a PR to [this list](https://github.com/kadirahq/react-storybook/blob/master/docs/extensions.md#available-extensions).

[2016-06-20 17:49] FredyC opened #260 "Webpack loaders required by addons"
Related to https://github.com/kadirahq/react-storybook-addon-info/issues/12

As I said there, it would require to add json loader to a webpack config here. However is that a good solution in general? There might be surely some other addon in future that would require it. On the other hand it's better solution to include it instead of forcing consumer to add it there manually in my opinion.

[2016-06-20 19:10] deeptiagrawa commented on #175
@mnmtanish: Is there any configuration file that need to be setup to load the stories like `.storybook/config.js` we have in react-storybook. I tried cloning `react-native-button` repo but no stories get loaded.

![image](https://cloud.githubusercontent.com/assets/10557763/16207010/ecd5aaee-36df-11e6-91bd-a6bdb10fc64b.png)

[2016-06-20 20:45] raedle commented on #232
Very neat! It works like a charm. Great job!

[2016-06-21 01:12] arunoda commented on #260
@FredyC. That's something buggy at the moment. There's no need for that.
Will be fixing it by today.