[2018-08-27 20:08] alexkrautmann commented on #4071
I went ahead and installed alpha.18. It also requires I install @babel/core as I mentioned in a previous message. It really is unfortunate I have to add 2 deps for storybook that I don't actually use in my project. I'm not sure if this truly is a bug or intended, I imagine this changes the barrier of entry to using storybook on existing projects.

At this point though, it is a different issue.

[2018-08-27 20:30] andrei-ilyukovich commented on #3968
@kroeder @igor-dv I also faced with significant performance issues during starting up storybook. It works fast in case of having one or two simple stories, but adding about 10 leads to start up time about 3-4 mins.
Also I've noticed that addon-knobs for Angular works in a very strange manner that impact story loading performance. Every time I change some knob, the whole story is reinitialized like

[2018-08-27 20:49] kroeder commented on #3968
Can you reproduce this in a Repo? I was not able to..

[2018-08-27 21:01] Hypnosphi commented on #2758
`@4.0.0-alpha.18` release of Storybook uses Babel 7 by default.

@noinkling #4077 should fix the issue: after releasing it, our default config will be merged with the one from your `babelrc.js`.

I'm also going to add a way to disable loading app's babel config without replicating Storybook default by providing a `.storybook/babel.config.js` file with following content:
[code]
It will work with Ba

[2018-08-27 21:20] igor-dv commented on #4082
You can mock anything using babel or webpack. But IMO the proper solution is to isolate UI out of any logic that is using state and of course file system.
Can you provide an example of the "email"?

[2018-08-27 21:39] ritchieanesco opened #4085 "@storybook/react 4.0.0-alpha.18 Throwing Error"
If you are reporting a bug or requesting support, start here:

### Bug or support request summary

The latest version of storybook (4.0.0-alpha.18) is breaking the build. So as a temporary solution we have had to roll back to 4.0.0-alpha16.

_Please provide issue details here - What did you expect to happen? What happened instead?_

Expected:
Executed the following task and expected the storybook

[2018-08-27 21:53] Hypnosphi commented on #4085
Do you have any babel config?

[2018-08-27 22:16] ritchieanesco commented on #4085
@Hypnosphi updated description with babel config.

[2018-08-28 07:04] #3971 closed

[2018-08-28 07:42] andrei-ilyukovich commented on #3968
Yes, sure. You can open browser console for this page https://storybooks-angular.netlify.com/?selectedKind=Addon%7CKnobs&selectedStory=All%20knobs&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs&background=%2300aced
There should be "constructor" log  message from AllKnobsComponent. Then try to open another story then get back to "All knobs" again - you'll see d

[2018-08-28 07:43] andrei-ilyukovich commented on #3968
I didn't find such behavior for stories which doesn't have knobs

[2018-08-28 09:42] fredcido commented on #3992
+1

[2018-08-28 09:45] hoodwink73 commented on #2706
Worked for me as well.

[2018-08-28 09:54] fredcido opened #4087 "Addon-Info: Fix issues with property names"
### Bug or support request summary

Addon-info is destructing the `propType` object when it comes as a string. https://github.com/storybooks/storybook/blob/master/addons/info/src/components/types/PrettyPropType.js#L34

### Steps to reproduce

When using a simple component, the prop types are not being presented on the PropTables:

[code]

![button_story](https://user-images.githubusercontent.com/7

[2018-08-28 09:59] SleepWalker opened #4088 "@storybook/react 4.0.0-alpha.18 alias to @babel/runtime breaks build with some libs"
### Bug

There are some structural changes between stable `@babel/runtime@7.0.0` and `@babel/runtime@7.0.0-beta.42` (or other beta versions, where @babel/runtime contained more helpers).

In default config we have an alias:

https://github.com/storybooks/storybook/blob/v4.0.0-alpha.18/lib/core/src/server/config/webpack.config.js#L107-L109

In case, when we have some dependencies, that rely on olde

[2018-08-28 10:11] akae commented on #3990
The fix works when using Artifactory as cache for the remote repo npmjs
"Bypass HEAD Requests" did the trick
Thanks @emckay

[2018-08-28 10:16] SleepWalker commented on #4088
As a temporary fix you can use `NormalModuleReplacementPlugin`:

[code]

replace `react-swipeable-views` with the name of one of the modules, that failing to build

[2018-08-28 10:38] xueqingxiao commented on #4088
same issue.

[2018-08-28 10:47] #3335 closed

[2018-08-28 10:55] igor-dv commented on #3625
Let's remove storyshots from the list. It's a new functionality for it, and shouldn't block us.

[2018-08-28 10:56] Hypnosphi commented on #4088
Mostly to avoid an extra peer dependency

[2018-08-28 11:16] Jony-Y opened #4089 "addon-info: PropTypes docgen not generated for class component"
Docgen only adds description for functional components

steps to reproduce:

create a class component:
[code]
add story:
[code]

expected: the docgen to show the description.
actual: docgen not showing the description

but when I use functional components the description is shown.

Is there any solution for that?

[2018-08-28 13:37] sibelius commented on #4082
email is just a react component, and we use renderToString to send in email.

the problem is that it can use any function of our server codebase, doing this we hit this problem

do you have any example of how to mock using babel or webpack?

[2018-08-28 13:37] blainekasten opened #4090 "Latest 4.0.0 alpha breaks with babel"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

Latest 4.0.0 alpha breaks because `yup` has a dependency on a different pre-release version of @babel.

https://github.com/jquense/yup/blob/master/package.json#L88
https://github.com/storybooks/storybook/blob/master/package.json#L76

Now that babel 7 is officially released, it seems like it would make

[2018-08-28 13:52] igor-dv commented on #4082
Babel - https://github.com/tleunen/babel-plugin-module-resolver
Webpack - https://webpack.js.org/configuration/resolve/#resolve-alias

[2018-08-28 13:55] igor-dv commented on #3975
So didn't #3952 help you?

[2018-08-28 14:15] igor-dv commented on #4075
@trevordmiller, the code of the `addon-info` that renders everything is located [here](https://github.com/storybooks/storybook/blob/master/addons/info/src/components/Story.js)

You are welcome to play with it and PR =)

[2018-08-28 14:18] igor-dv commented on #4054
Are you using docker to run these tests?

[2018-08-28 14:40] trevordmiller commented on #4075
Ok thanks

[2018-08-28 14:40] #4075 closed

[2018-08-28 16:32] andrei-ilyukovich commented on #3968
Probably performance issue is related somehow to typescript files processing. https://storybook.js.org/configurations/typescript-config/
Guide tells that we need to add "awesome-typescript-loader" to work with typescript, but angular-cli example doesn't have it configured. So do we need it or not? If not then what loader is used by storybook under the hood to process ts files?

[2018-08-28 16:52] igor-dv commented on #3968
If awesome-typescript-loader solves the performance, we can make it work, Storybook doesn't use angular-cli's `ts` rules.

[2018-08-28 17:26] davidm-public commented on #1708
@igor-dv vue-component-tree has been renamed vue-book:
https://github.com/asvae/vue-book
it's pure Vue, no need to run Vue inside react.

[2018-08-28 17:30] chrisnojima commented on #4063
I don't have a fix for this yet but what I've seen so far
importing {storiesOf} from '@storybook/react-native' pulls in a series of imports

@storybook/react-native/dist/index.js
dist/preview/index.js
components/dist/index.js
which ultimately pulls in input which pulls in react-textarea-autosize. This seems like the native side is getting mixed with the web ui side again (similar to https://github

[2018-08-28 17:45] andrei-ilyukovich commented on #3968
So could you please explain how [angular-cli example](https://github.com/storybooks/storybook/tree/master/examples/angular-cli) is working without any typescript configuration? Does default webpack config contain typescript loader definition?

[2018-08-28 19:34] #3798 closed

[2018-08-28 19:36] igor-dv commented on #3679
It's not happening anymore.

[2018-08-28 19:36] #3679 closed

[2018-08-28 19:45] #3839 closed

[2018-08-28 19:48] #3869 closed

[2018-08-28 19:48] #3870 closed

[2018-08-28 19:50] shiftsave commented on #3679
thanks!

[2018-08-28 19:53] igor-dv commented on #3895
Did you solve the problem?

[2018-08-28 20:02] donaldpipowitch commented on #4054
Yes :)

[2018-08-28 20:08] #3927 closed

[2018-08-28 21:13] bill-vatomic commented on #4090
+1. Had to roll back to alpha-16 to make this work.

`ERR! Failed to build the storybook
ERR! ./.storybook/addons.js
ERR! Module build failed (from ./node_modules/babel-loader/lib/index.js):
ERR! ReferenceError: [BABEL] /Users/bill/Projects/wombo/.storybook/addons.js: Unknown option: /Users/bill/Projects/wombo/node_modules/react/index.js.Children. Check out http://babeljs.io/docs/usage/options/ fo

[2018-08-28 21:17] jquense commented on #4090
not sure how i'm involved but there is a new version of yup out now :P

[2018-08-28 22:02] #3997 closed

[2018-08-28 22:04] igor-dv commented on #4001
@chovy did you solve the problem?

[2018-08-28 22:16] igor-dv commented on #4005
[Here](https://storybooks-official.netlify.com/?selectedKind=Addons%7CActions&selectedStory=All%20types&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel) is an example of what `addon-actions` can do

Anyway, I don't understand what are you asking here in this issue. If you have any better suggestion for the actions behavior you are welcome to PR

[2018-08-28 22:27] igor-dv commented on #4015
Would you like to PR this?

[2018-08-28 22:33] igor-dv commented on #4020
Please read [here](https://github.com/storybooks/storybook/blob/master/CONTRIBUTING.md) about how to bootstrap the monorepo.

[2018-08-28 22:33] #4020 closed

[2018-08-28 22:39] igor-dv commented on #4032
Did you see this guide - https://storybook.js.org/configurations/typescript-config/ ?

[2018-08-28 22:40] igor-dv commented on #4035
Do you want to PR this?

[2018-08-28 22:41] #4038 closed

[2018-08-28 22:51] igor-dv commented on #4049
Who is this decorator?
Anyway, you can add whatever **env** variable you wish and use them anywhere (almost) in your code.

[code]

And then in the code:

[code]

[2018-08-28 22:52] #4051 closed

[2018-08-28 22:52] #4052 closed

[2018-08-28 22:53] igor-dv commented on #4054
🤔 so why do you have changes?

[2018-08-28 23:03] igor-dv commented on #4063
Does it happen without any addons as well?

[2018-08-29 00:26] Asday commented on #4005
I am passing `{ 'type': 'button', 'payload': ... }`.  Storybook is wrapping that in an object, such that what I get back in the interface is `{ 0: { 'type': 'button', 'payload': ... } }`.

Why is there that wrapping object?  It is obstructive.

[2018-08-29 01:30] techieshark commented on #1409
Adding to the comment from @wallslide above -

According to [these docs]( https://github.com/storybooks/storybook/tree/master/addons/storyshots/storyshots-core#configure-jest-for-react),

[code]

(If using Angular or Vue you'll need another package; see the docs I link to.)

[2018-08-29 03:12] donaldpipowitch commented on #4054
Oops 🙈 This issue is actually older than our Docker setup 🤣 we made it afterwards. It is correct that _we_ currently don't need it anymore, because we don't need any `failureThreshold` anymore currently. But I guess it is still good to have for anyone who uses `failureThreshold`.

[2018-08-29 06:40] PhmNgocNghia commented on #2384
+1

[2018-08-29 07:31] kroeder commented on #3968
I did some more research regarding my initial issue

I said "Loading 1 story takes as long as loading every story (about 40-45)"
That's not entirely correct.

#### Loading 1 story in a project with 40-45 story takes as long as loading every of these 40-45 stories
*Start time: 1,5min
Hot reload time: 5.2s*
[code]

#### Removing every component + story except 1
*Start time: 0,5min
Hot reload time: 1

[2018-08-29 07:42] igor-dv commented on #4005
Try something like this:

[code]

[2018-08-29 07:56] igor-dv commented on #3968
@kroeder, it makes sense the problem is somewhere in ts configuration. Maybe you can just copy-past an existing component 100 times to simulate the problem ?

@andrei-ilyukovich with the full control mode of the webpack.config, you can do something like this (pseudo):

[code]

[2018-08-29 09:37] iTonyYo opened #4091 "it's weird after exporting Storybook as a static app"
![image](https://user-images.githubusercontent.com/5499703/44779323-c952ad80-abb1-11e8-9937-2ac359214188.png)

[2018-08-29 12:22] Eelsie opened #4093 "@storybook/vue 4.0.0-alpha.18 addon-knobs: knob 'color' throw error"
### Bug or support request summary
With @storybook/vue 4.0.0-alpha.18 addon-knobs. knob "color" throw error: "Cannot read property 'contains' of undefined".
![screen shot 2018-08-29 at 15 18 36](https://user-images.githubusercontent.com/11568278/44787121-ecc02d00-ab9e-11e8-9f24-1909f11d8329.png)

### Steps to reproduce

I'm importing the knob like this:
`import {color} from '@storybook/addon-knobs

[2018-08-29 13:17] blainekasten commented on #4090
😆 I made a mistake.. Doesn't actually seem like I have an issue here with storybooks. Updating yup fixed it for me.

[2018-08-29 13:17] #4090 closed

[2018-08-29 14:36] andrei-ilyukovich commented on #3968
@kroeder @igor-dv It look like I found solution to reduce building time significantly. The reason why it takes so long in current config is just ts-loader configuration, which is used internally by storybook. We need to skip type checking with setting flag ``` transpileOnly: true``` for ts-loader in webpack config. [Ts-loader docs](https://github.com/TypeStrong/ts-loader) tell us how it is possibl

[2018-08-29 14:52] igor-dv commented on #3968
😱 omg, it's a huge difference. We probably need to enable `transpileOnly` by default for angular...
I don't know though if we want to have a ForkTsCheckerWebpackPlugin set by default. It means we will also need to discover the user's `tslint.json`.

BTW, there is an option to define a custom tsconfig.json in the .storybook dir.

[2018-08-29 15:01] andrei-ilyukovich commented on #3968
Basically tslint is just an option, you could configure ForkTsCheckerWebpackPlugin to not make ts linting.
But anyway you could use awesome-typescript-loader which also have fast type checking out-of-the box.

Yes, I know about custom tsconfig.json, in examples above I have to set it explicitly, because by default it isn't picked up by plugin

[2018-08-29 16:30] arvindnama opened #4094 "@storybook/angular-4.0.0-alpha-18 issues with angular 6"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

**Issue 1:**

when `npm run storybook` picks up angular default projects webpack config ..
and in default project of mine is of type angular application & `options.style` property which takes in style files ,
angular cli/builder expects the path to the file be relative to workspace ..
but story book a

[2018-08-29 16:39] sneko commented on #3871
Hi!

I'm working on a Vue.js project and according to the Storybook docs I add the following script in the `preview-head.html` file (https://storybook.js.org/configurations/add-custom-head-tags/):
[code]

And to show a button I create a story like this one:
[code]

Everything works well except the font-family. It should looks like:
![image](https://user-images.githubusercontent.com/8195958/4480187

[2018-08-29 17:08] Primigenus commented on #4093
Was able to reproduce in official react storybook as well: https://storybooks-official.netlify.com/?selectedKind=Addons%7CKnobs.withKnobs&selectedStory=tweaks%20static%20values&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs

[2018-08-30 03:02] mshaw-nm opened #4096 "How to install properly"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

What is the correct way to install this, if I do an npm install @storybook/addon-knobs@latest, I get version 4.0.0, however this doesn't include all of the props mentioned in the documentation (i.e radio is missing and will throw an error).

If I install using npm install @storybook/addon-knobs@4.0.0-

[2018-08-30 06:17] SunHuawei commented on #548
To support alphabetically reordering, in `.storybook/config.js`, just rewrite this line from
[code]
to
[code]

So, if you want Component > View 1 > View 1 Mutation, you could rename them to 1.Component > 2.View 1 > 3.View 1 Mutation

[2018-08-30 06:40] gombek commented on #3933
@danielduan Hi, I created PR but some tests fails. Error logs looks like it is not because of my changes. Could you look on that and give me a hint?

[2018-08-30 07:29] igor-dv commented on #4094
**Issue 1**: was fixed in #4058 (not released yet)

**Issue 2**": storybook uses your default `src/tsconfig.app.json` file (which makes me think now that we actually should take the one is provided in `angular.json` 🤔), so it's related to what is written there. You can add a custom `tsconfig.json` in the .storybook dir, extend it from whatever `tsconfig.json` you want and override the exclude/incl

[2018-08-30 08:34] sneko commented on #3871
I was following the Ionic docs but it seems I have to add the style too accoding to their repo:
https://github.com/ionic-team/ionic/tree/master/core#vanilla-html

So I need to set:
[code]

Now the font-family is concording with my Vue.js app. But I don't have animations on my Ionic elements (like when I click on a button, a circle expands).

[2018-08-30 08:42] Gongreg commented on #4063
Hey. It happens always:
Reason:

Addons/index.js

import { TabWrapper } from '@storybook/components';

This line brings many things that are not relevant to RN and is part of global import.

In first place no ui should be inside @storybook/addons at all

@igor-dv

[2018-08-30 08:45] igor-dv commented on #4063
So, do we have a bug?

[2018-08-30 08:48] zizou1982 commented on #4089
I have exactly the same problem

[2018-08-30 08:54] Gongreg commented on #4063
Yes :)

[2018-08-30 08:59] igor-dv commented on #4063
🤦‍♂️

I think we need to add some test that will prevent this kind of bugs.

[2018-08-30 09:14] Gongreg commented on #4063
Simple sanity test would help a lot here. We could try to add detox tests in the future for React Native.

[2018-08-30 10:14] MJ0826 commented on #3897
@andycloke I am still stuck with the same issue with React Native (0.56) and typeScript, can you please help me out here is my config

devDependencies -
`"@babel/core": "7.0.0-beta.47",
    "@storybook/addon-actions": "4.0.0-alpha.2",
    "@storybook/addon-links": "4.0.0-alpha.2",
    "@storybook/addon-storyshots": "4.0.0-alpha.2",
    "@storybook/addons": "4.0.0-alpha.2",
    "@storybook/react-na

[2018-08-30 10:37] kroeder commented on #3968
Can confirm.
Using `ForkTsCheckerWebpackPlugin` and `defaultConfig.parallelism = 1;` it took
*Build Time: 50s~*

Without `defaultConfig.parallelism = 1;` (which was only used, because ts-loader ran faster with it)
*Build Time: 38s~*

Might be quicker but I have do deal with a couple new typescript errors like
[code]

or

[code]

[2018-08-30 10:41] igor-dv commented on #4063
I am fixing this.

[2018-08-30 12:28] vvscode commented on #3969
any updates?

[2018-08-30 13:40] sibelius commented on #4082
The path I'm trying to follow is a custom webpack config

I've tried some approaches:

1 - use fs: 'empty':

[code]

this gave me `fs.readFileSync is not a function webpack`

2. try to target: 'node'
[code]

then I've got `global` is not defined

Try to fix this, using DefinePlugin

[code]

then I've got a `require` is not a function

[2018-08-30 14:00] igor-dv commented on #4082
let's say you have `.storybook` dir like this:

[code]

fsMock.js:
[code]
webpack.config.js:
[code]

[2018-08-30 14:37] sibelius commented on #4082
it worked well, tks

[2018-08-30 14:37] #4082 closed

[2018-08-30 15:37] andrei-ilyukovich opened #4098 "[addon-knobs] addon forces story to be recreated on every knob change"
### Bug or support request summary
Addon-knobs for Angular works in a very strange manner that impacts story loading performance.
1.  Every time I change some knob, the whole story is reinitialized like during story first loading (I assume that based on initializing of modules needed by story, changing value in knob causes modules to be recreated)
2. Stories with added knobs are initialized twice

[2018-08-30 16:13] ssylvia commented on #3940
I have the same issues.

[2018-08-30 18:59] taygrave commented on #3633
@igor-dv - Do you mean a new Medium post or are you referring to adding the functionality to storybook as taking some time?

[2018-08-30 19:27] igor-dv commented on #3633
A new Medium post

[2018-08-30 20:37] pelotom opened #4099 "Storybook not working in IE11"
### Bug summary

It seems that something broke in `v4.0.0-alpha.16` and has remained broken through `v4.0.0-alpha.18`. Using a fresh install of storybook into a brand new CRA, the storybook doesn't load.

Having done some cursory research, [this issue](https://github.com/facebook/react/issues/8379) looks potentially relevant and in particular [this comment](https://github.com/facebook/react/issues

[2018-08-30 23:38] arvindnama commented on #4094
Issue1: when would this be released?

Issue2: I ve `node_modules` excluded from `tsconfig.json`, yet i get issues `npm run storybook`

[2018-08-31 07:49] igor-dv commented on #4094
Soon. CC @shilman.

what are the errors now ?

[2018-08-31 08:52] kroeder commented on #3968
After fixing everything it takes around 30-35s - Sadly, my hot-reload still takes around 5s but that's ok for now

More good news: It seems this approach moves the build-time bottleneck to something else.
30-35s build time on a Citrix VM
25s~ build time on a Gaming PC

Before:
2:30min build time on a Citrix VM
1:30min build time on a Local Developer Machine (which is obviously weaker than my gamin

[2018-08-31 12:07] ndelangen commented on #4063
@igor-dv @Gongreg and i talked a bit about this, we think the best method to fix this is by moving this code to `/lib/ui` somewhere:

https://github.com/storybooks/storybook/blob/master/lib/addons/src/index.js#L56-L62

[2018-08-31 14:53] CurtisHumphrey opened #4101 "storiesOf name the same in two files (for nesting) but HMR causes only the update file to be listed"
### Bug or support request summary

1. You have two files each with storiesOf("same name") but with different .add( names).
2. When storybook first loads both .add (both files) appear under the same group name as they should
3. You change one and on the hot module reloading (HMR) only the one that updates is left being displayed.
Expected: I would expect it to not remove other file's stories.

- @

[2018-08-31 16:14] kaitmore commented on #1059
Upgrading `hoist-non-react-statics` to 3.0.1 did the trick!

[2018-08-31 17:06] #3692 closed

[2018-08-31 19:31] theinterned commented on #4023
I haven’t been an active contributor in a while, but I’m a huge Storybook advocate in real life.

**XL** please and thank you.

Also seconds on the sticker request. My laptop has a perfect spot for it.

[2018-08-31 21:06] brunoreis opened #4102 "*Cannot read property 'parent' of undefined* when calling *initStoryshoots()*"
I'm getting this error:
[code]

when running

[code]
in my only jest test

storybook and all addons are @4.0.0-alpha.16

Please let me know if you have any hint of what is be happening. I'll dive deep into it in the next days.

[2018-08-31 21:11] brunoreis opened #4103 "What about having a way to generate (click) snapshots for specific knob variables in the frontend."
I'm thinking in a workflow where I set some dynamic data on my component and click to freeze that data in a component that can be snapshotted.

Maybe I can create it in a new storybook stories dir/config.

That could be nice to change knob values and grab snapshots of the actual values. The same would be very helpful for ApolloMocked provider. To grab some dynamic data and transform it into a mock

[2018-09-01 06:59] techieshark opened #4104 "Storybook flow-type error for addon-links?"
### Bug or support request summary

I believe there may be an error in Storybook's Flow type definitions. Either that or I'm misunderstanding something...

When I run `flow` I get the following error:
[code]

(On my terminal, `linkTo('AnotherComponent')`, passed to `onClick` above,  is in red.)

I would expect to get no errors here.

### Steps to reproduce

* Create project with Create React App
*

[2018-09-01 07:42] Gongreg commented on #4063
Hello,

4.0.0-alpha.20 was released. It should solve this issue.

[2018-09-01 13:15] CurtisHumphrey commented on #4101
My guess is the fix will be somewhere in this file: https://github.com/storybooks/storybook/blob/v3.4.10/lib/ui/src/modules/api/actions/api.js

[2018-09-01 16:00] Hypnosphi commented on #3442
Fair point @jneuendorf, would you like to send a PR?

[2018-09-01 16:12] Hypnosphi commented on #3484
This would require a separate build process that would transpile all the packages to ES5 + modules. Feel free to open a PR introducing that

[2018-09-01 16:35] Hypnosphi commented on #3157
1) Unfortunately, there's currently no way to view components from different frameworks in one storybook, so you need two separate storybooks
2) You can use [custom webpack config](https://storybooks.netlify.com/configurations/custom-webpack-config/#extend-mode) for that. Which template engine do you use?

[2018-09-01 16:45] Hypnosphi commented on #3716
^ this is the proper way to tell this to the bot =)

[2018-09-01 16:49] Hypnosphi commented on #3493
@kschiffer Somebody just copypasted the sniped and published under MIT license. This isn't legal

[2018-09-01 17:27] Hypnosphi commented on #2582
Released as [`4.0.0-alpha.20`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.20)

[2018-09-01 17:27] Hypnosphi commented on #2771
Released as [`4.0.0-alpha.20`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.20)

[2018-09-01 17:27] Hypnosphi commented on #2610
Released as [`4.0.0-alpha.20`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.20)

[2018-09-01 17:27] #2610 closed

[2018-09-01 17:27] Hypnosphi commented on #754
Released as [`4.0.0-alpha.20`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.20)

[2018-09-01 17:27] #754 closed

[2018-09-01 17:27] Hypnosphi commented on #2635
Released as [`4.0.0-alpha.20`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.20)

[2018-09-01 17:27] #2635 closed

[2018-09-01 17:28] Hypnosphi commented on #4025
Released as [`4.0.0-alpha.20`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.20)

[2018-09-01 17:28] #4025 closed

[2018-09-01 17:28] Hypnosphi commented on #3993
Released as [`4.0.0-alpha.20`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.20)

[2018-09-01 17:29] Hypnosphi commented on #3864
Released as [`4.0.0-alpha.20`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.20)

[2018-09-01 17:29] #3864 closed

[2018-09-01 17:39] Hypnosphi commented on #3044
@anujparikh @pollen8 requiring our default config directly is deprecated, you should see a deprecation message when using it. The correct way is to use third argument: https://storybook.js.org/configurations/custom-webpack-config/#full-control-mode--default

@Melocaster no, `@storybook/core` is an internal library shared by storybooks for different frameworks. You still should use `@storybook/reac

[2018-09-01 17:44] Hypnosphi commented on #3843
With current alpha (`4.0.0-alpha.20`), Babel 7 should work OK without hacks with webpack config

[2018-09-01 17:44] #3843 closed

[2018-09-01 17:49] Hypnosphi commented on #866
@martinmacko47 Both make sense to me. Would you like to open a PR?

[2018-09-01 17:57] Hypnosphi commented on #4071
But we do. And to know which version to use, we need it to be installed on your side. And yes, you also need to install either `babel-core@6` or `@babel/core@7`. This shouldn't be a barrier for newcomers though, as we add those dependencies in `getstorybook` command.

How does it look?

[2018-09-01 22:03] donaldpipowitch commented on #4025
Thank you 😍

[2018-09-02 00:25] brunoreis commented on #4102
it's happening when the loader requires @storybook/react:

[code]

[2018-09-02 00:49] brunoreis commented on #4102
using
[code]

[2018-09-02 02:01] brunoreis commented on #4102
@Hypnosphi, please, I was studying newest commits and this is fixed, right?
I'm using alpha16 here because I need to evaluate moving to babel 7 with the team.

[2018-09-02 06:16] igor-dv commented on #4047
If only our twitter could make it public, that'd be great 🤓

[2018-09-02 06:16] #4047 closed

[2018-09-02 06:25] igor-dv commented on #3968
I think we need to include `transpileOnly` to the default config,

Would somebody like to PR this?

[2018-09-02 09:34] vschoener opened #4106 "Getting warning with select Knobs: Warning: Failed prop type: Invalid prop `knob.value` of type `number` supplied to `SelectType`, expected `string`."
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

I'm trying to use `select` and lately `selectv2` as the first one is deprecated but I'm still getting this warning:
[code]

I should not have this warning at all.

### Steps to reproduce

Create a new story file with this basics content:

[code]

### Please specify which version of Storybook and optio

[2018-09-02 10:52] Keraito commented on #1108
Really wanted to work on this, so reached out the @ndelangen on Slack and for now the short term goals are to:

- [ ] Change the current CLI to be able to handle more than just one thing.
- [ ] Implement the trivial commands like `start` and `build`.
- [ ] Probably also some migrations of tests.

After that, it can be expanded with all the ideas in this issue.
@wuweiweiwu, are you still down to wo

[2018-09-02 19:36] jneuendorf commented on #3442
@Hypnosphi On my way to the PR I noticed, that the docs have already changed significantly: apparently the addons API has changed and already been applied to the docs (see d1d8138fa7d10cc3defb07cb7d94f04ae03faedd by @tmeasday).

So now the question has become:
Why is this not reflected on https://storybook.js.org/addons/using-addons/ ?

Looking through the [package.json](https://github.com/storybo

[2018-09-02 21:57] igor-dv commented on #3969
Looks unrelated to Storybook. Do you have a reproduction somewhere?

[2018-09-02 22:40] eraldojr commented on #3897
I've updated the `babel-preset-react-native` to `5.0.2` according to 0.57-RC [documentation](https://github.com/react-native-community/react-native-releases/blob/master/CHANGELOG.md#react-native-now-uses-babel-7), and it worked.

[2018-09-03 01:56] hirumi16489 commented on #4102
Hello, I have the same exact issue with @4.0.0-alpha.20. Could we please have an update about that ? Is it even possible to use storyshots @4 ?

[2018-09-03 03:50] tony commented on #3346
This is still happening for me in v4.0.0-alpha.20 with babel 7.0.0

[2018-09-03 04:08] hirumi16489 commented on #4102
FYI, I found a workaround but I have no idea if it destroys any features, snapshots are generated and testing are working well so far.

Just declare a setupFile in your jest config, then write in it:
`var global = require("global");
var document = require("global/document");

global.window = {};
global.document = document;`

[2018-09-03 04:10] arvindnama commented on #4094
i added a custom `tsConfig.json` in  `.storybook`
[code]
and i get this error .

[code]

[2018-09-03 06:07] pupudu commented on #3379
@tsiq-swyx I had the same thought. People are moving away from storybook to docz, and this is one of the reasons. Should be really convenient for everyone if addons like `info` supported mdx

[2018-09-03 07:52] Gongreg commented on #3907
#3903

[2018-09-03 08:10] igor-dv commented on #4102
Did you set `testEnvironment: 'jsdom'` in `jest.config.js` ?

[2018-09-03 08:26] kroeder commented on #3968
`transpileOnly` sounds good but there should be any form of type checking per default
Just setting it to `true` feels wrong to me

What about your concerns regarding `tslint.json`? See my comment above

[2018-09-03 08:35] igor-dv commented on #3968
Makes sense

[2018-09-03 08:44] igor-dv commented on #3897
Looks like the issue is unrelated to typescript, but to some kind of combination between RN, babel, and Storybook.

[2018-09-03 09:38] StanLindsey commented on #3379
I think this really suits Storybook. We already display React Component's paired with markdown readmes. This would fit nicely out of the box.

[2018-09-03 10:58] epoz commented on #2615
Yowzers, thanks for the heads-up @Mandy94 that saved me a lot of time.

[2018-09-03 13:30] igor-dv commented on #4094
How does your file structure look like?

[2018-09-03 13:30] rkclark commented on #3975
Unfortunately not, we've moved over to React Cosmos now @igor-dv

[2018-09-03 13:30] #3975 closed

[2018-09-03 14:57] #3933 closed

[2018-09-03 15:13] brunoreis commented on #4102
Hey @igor-dv, that worked fine here. Thanks a lot for alerting on that config.
In fact "jsdom" is the default option for that config:
https://jestjs.io/docs/en/configuration.html#testenvironment-string

But in this project I'm working now it was set as "node". Probably because it was copied from a config used to test the server or something like that.

What do you think about adding a note on this

[2018-09-03 16:05] brunoreis opened #4111 "Improve storyshot addon to alert about required jest config."
Add a note on the storyshot addon readme to alert to the need of testEnvironment=jsdom

Add it here:
https://github.com/storybooks/storybook/tree/release/3.4/addons/storyshots#configure-your-app-for-jest

Saying: "Please make you are using 'jsdom' as the testEnvironmnet on your jest config."

As discussed on: #4102

[2018-09-03 16:12] brunoreis opened #4112 "Cannot find module 'wide-align' when running "yarn bootstrap --core""
I've cloned the repo and followed instuctions on CONTRIBUTING.md
But, when I run
[code]

it throws an error saying that

[code]

[2018-09-03 16:28] igor-dv commented on #4112
Hey,
You should `yarn install` for the first time. Since you have no modules installed, yarn `bootstra won't` work

[2018-09-03 16:49] arvindnama commented on #4094
I was able to solve it ( by adding dedicated include paths to app & libs)  .. thanks..

i was trying to set up SASS loader as none of the assets were getting resolved
Added this to the `webpack.config.js`
[code]

i get these errors ::

[code]

[2018-09-03 17:13] brunoreis commented on #4112
I did it. To double check I just cloned all again and run yarn install again. My node_modules listing is showing a total of 1280, but the same error is still happening and there is no wide-align module there.

<img width="376" alt="screen shot 2018-09-03 at 14 12 52" src="https://user-images.githubusercontent.com/217240/44997282-7d25b580-af83-11e8-8f53-df0b8121aa5e.png">

[2018-09-03 22:04] igor-dv commented on #4094
Don't you use angular-cli? sass should be supported by default

[2018-09-04 05:52] y-nk commented on #1708
@zephraph shouldn't it be like vue-devtools should add a manual "please select an iframe to inspect" kindof feature ?

[2018-09-04 08:16] igor-dv commented on #4054
I have no idea what to do with this 😅 PR is welcomed anyway.

[2018-09-04 08:16] #4054 closed

[2018-09-04 09:01] igor-dv commented on #4112
That is strange because I use `yarn bootstrap` pretty much a lot. Anyway `yarn install` will probably be enough for the basic usage. Also, you need to run `yarn dev` to watch the changes. And then just use one of the example apps to test the change.

[2018-09-04 09:13] Emidomenge opened #4114 "Unable to start storybook (based on CRA) after importing css file"
### Bug or support request summary

I have a create react app. I use [react bootstrap](https://react-bootstrap.github.io/). From there, I'm using a customized bootstrap css file.

I try to load this css into storybook but then storybook doesn't start anymore.

### Steps to reproduce
1) Create a react app
2) Install [react bootstrap](https://react-bootstrap.github.io/)
3) Put `bootstrap.min.css` in

[2018-09-04 09:59] brunoreis commented on #4112
Thanks. Would it be possible that the wide-align package is installed globally on your machine? I'm not very used to monorepos yet, but researching a little here I found out that with yarn workspaces you should only have a root yarn.lock. But, there is a yarn.lock inside the docs folder. Is that correct? Maybe that's what is causing that conflict.

[2018-09-04 11:01] igor-dv commented on #4112
`yarn list` gives me this:
![image](https://user-images.githubusercontent.com/7867954/45027696-d0167000-b04a-11e8-8cf6-178d57c96fe1.png)

it's not global IMO.

Docs are not a part of the `workspace`, they are bootstrapped separately

[2018-09-04 11:10] perevezencev opened #4115 "@storybook/addon-info does not work correctly with @material-ui/core"
### Bug or support request summary

instead of getting "Story Source" I getting this

<img width="252" alt="2018-09-04 14 04 02" src="https://user-images.githubusercontent.com/5954104/45027892-6f3b6780-b04b-11e8-9488-095991839553.png">

while my code looks like this:

[code]

### Steps to reproduce

[code]

### Please specify which version of Storybook and optionally any affected addons that you'r

[2018-09-04 11:30] rickieanand commented on #561
any progress? @bojandragojevic

[2018-09-04 13:26] brunoreis commented on #4112
In fact when I run yarn list it also shows wide-align@1.1.3 here.

The error occurs after the install command, that runs well. It happens when running
[code]

I will need to lear more about lerna to go deeper into it.

[2018-09-04 14:38] Gongreg commented on #3906
#3903 will solve this.

It will simply not throw red screen anymore and display onDeviceUI by default.

[2018-09-04 16:08] trippingtarballs opened #4116 "mark babel-loader as a dependency"
According to [the instructions](https://github.com/storybooks/storybook/blob/v4.0.0-alpha.20/docs/src/pages/basics/guide-react/index.md#add-storybookreact) to stand-up a Storybook React project all one need to do, from within their project;

[code]

However, as see [in the source](https://github.com/storybooks/storybook/blob/620dc75db02056ee42a21cb4106b58b848ba1986/app/react/package.json#L39) for

[2018-09-04 16:52] arvindnama commented on #4094
so .. i used default `angular.json` and my default project's config looks like this
(the build & serve json)
i am was assuming, `npm run storybook` will pick the default projects cli info but when i read ur above comment , i though i will need to add a custom `webpack.config.js` will `scss-loader` hence i did something above ^ ..
but no luck ,,

Basically, I want the npm run to resolve styles and

[2018-09-04 17:48] Hypnosphi commented on #4071
Thanks @sregg, https://github.com/storybooks/storybook/pull/4117 should fix it

[2018-09-04 20:26] Hypnosphi commented on #4116
Yes, we need to update those instruction. If you'd like to open a PR, please refer to https://github.com/storybooks/storybook/blob/master/MIGRATION.md#babel-7

[2018-09-04 22:00] Ne-Ne commented on #174
I am getting the same issues when using it with setState in react:

### Problem
This is just a quick example, a button is clicked. `isLoading` a boolean state for react component overlay. Complete `1500` millisecond delay then it should fire `linkTo()` however it does not work...

[code]

### Button origin
[code]

Any ideas?

[2018-09-05 01:01] tmeasday commented on #3442
@jneuendorf - this is because `master` of this repository is for the v4 version of storybook which has not yet been released (so the docs are not in sync with it).

You could submit a fix on the `release-3.4` branch (which controls the currently active docs) if you are feeling keen, or just wait for v4, where as you say the problem will resolve itself!

[2018-09-05 01:49] dontry commented on #3990
Same issue here.  "@storybook/node-logger@3.4.10"  seems to be unavailable in "npm" registry. Anyone knows how to fix it?
[code]

[2018-09-05 02:42] mAAdhaTTah commented on #4055
I'm experiencing this issue on `alpha.20`.

[2018-09-05 10:28] jneuendorf commented on #3442
@tmeasday Sorry I didn't think of that. Can you guess how long it'll take until `v4` is released? If it's likely still a while I'm gonna create a PR.

[2018-09-05 10:44] donaldpipowitch opened #4119 "Allow setting Query Parameters to imageSnapshot configuration"
### Work summary

`@storybook/addon-storyshots-puppeteer` allows us to set a `storybookUrl` configuration to `imageSnapshot`.  This is documented [here](https://github.com/storybooks/storybook/tree/master/addons/storyshots/storyshots-puppeteer#specifying-the-storybook-url) and can be found in the code [here](https://github.com/storybooks/storybook/blob/c6de98993f40d1acfcd7fdf31fd18ecb2e7c9b31/addo

[2018-09-05 11:14] WearyMonkey opened #4120 "Merge webpack optimisation configuration"
### Bug or support request summary

Storybook in prod mode provides a minimal optimisation configuration, and does not merge the custom configurations optimisation.

Storybook does not specify a minimiser, which Webpack 4 defaults to UglifyJs with parallel set to true. https://github.com/webpack/webpack/blob/master/lib/WebpackOptionsDefaulter.js#L310

Parallel mode can use considerably more memory

[2018-09-05 14:09] kroeder opened #4124 "Addon for multiple storybook versions of the same lib"
Our team is about to write an addon that allows us to
- Show the current version of our lib (package.json => version) e.g. in the bottom of the navigation bar
- Inject a dropdown that has multiple ways of adding something like
[code]
Either directly as `string[]` or something like a promise for async scan of available versions (e.g. on page reload)

**Why?**
We want to offer backward compatibility

[2018-09-05 14:20] kroeder commented on #4124
From a library perspective I can imagine something like this in e.g. `.storybook/config.js`

[code]

[2018-09-05 15:00] sregg commented on #3703
I'm having the same issue, is there any fix?

[2018-09-05 15:19] sibelius commented on #4011
@sirganya could you provide more info on your solution?

[2018-09-05 15:28] sibelius commented on #4011
how is the extend webpack config

[2018-09-05 15:30] sirganya commented on #4011
You'll have to clarify that sentence please. :)

[2018-09-05 15:46] zephraph commented on #1708
That's a possibility. https://github.com/vuejs/vue-devtools/pull/361 really already does everything that's needed though. Sure, if they wanted, they could actually support it in the UI. Ultimately this would be enough... unfortunately, it doesn't look like there's any movement from that side.

[2018-09-05 15:48] sibelius opened #4125 "Can't reexport the named export 'visitWithTypeInfo' from non EcmaScript module (only default export is available)"
I'm using 4.0.0-alpha.20, to make storybook work well with babel 7

[code]

![image](https://user-images.githubusercontent.com/2005841/45105041-c43db300-b109-11e8-8444-e4249352fed8.png)

I'm hit this error, I think it is related to .mjs extensions, or a missing babelrc plugin

[2018-09-05 15:50] KADlancer commented on #4099
I tested it with my pet project on browserstack and can confirm, but with a different error in IE11:
[code]
which leads to this line of code:
` Object.assign(glamorousComponentFactory, { withConfig: withConfig });`

while the project runs in my other browsers.

[2018-09-05 15:56] sibelius commented on #4011
solved my problem in another way

just migrate to 4 alpha and worked well, tks

[2018-09-05 17:36] pelotom commented on #4099
@KADlancer you will need to provide a polyfill for `Object.assign` and other things before it has a chance to work in IE11. I use [core-js](https://github.com/zloirock/core-js) for this.

[2018-09-05 17:51] shilman opened #4126 "Move storybook.js.org to Netlify"
## Why

Infrastructure for next-gen docs. We've already been deploying our docs and project storybooks there for awhile. With this change we can get rid of the hacked up github pages setup and it will also help us do versioned docs in docs 2.0.

## What

- [x] Update the js.org settings to point `storybook.js.org` at Netlify
- [x] Update https://storybooks.netlify.com/ settings as necessary

[2018-09-05 17:57] KADlancer commented on #4099
Thanks, I'm gonna try that tomorrow.

I made my build with the alpha to get support for webpack 4. So far it looks good but there are a few minor things with addons I need to figure out but that's something for another issue

[2018-09-05 18:30] shilman commented on #4126
Log of what's happened so far until the switchover is complete:

1. Submitted the PR to js.org: https://github.com/js-org/js.org/pull/2304
2. js.org setting updated and the Storybooks.js docs site went down temporarily
3. I updated the netlify domain settings
4. The site came back up, but pointing to the github pages version of the site, not the netlify version
5. The PR got merged, and presumably

[2018-09-05 20:35] ndelangen commented on #4126
How can we verify?

[2018-09-05 20:48] daKmoR opened #4127 "Question: reusing stories in different file (with different parameter)"
hey,

I'm just wondering if anyone has already thought of it.
Essentially I would like to reuse a story and "just" change the tag name.

so I have in the left menu "default" which shows
[code]
and then I would like to have "extended" which shows
[code]
PS: this is, of course, a little simplified 🙈

Basic Idea
[code]

Another Idea:
[code]

So is this completely crazy or might this be possible after

[2018-09-05 20:50] shilman commented on #4126
Correction to above: apparently `js.org` is served _through_ cloudflare, so there are no DNS settings to propagate. Instead, I believe that Cloudflare is pointing to the Netlify site, and that the site is going through two levels of CDN, which is problematic.

Next steps:
- [ ] Verify that storybook.js.org is serving content from Netlify not GH-pages
- [ ] Set up HTTPS certificates on Netlify
- [

[2018-09-05 22:01] shilman commented on #4126
Verify & cleanup:
- [ ] edit docs in minor way & push to `release/3.4` which will trigger netlify deploy
- [ ] verify changes on storybooks.netlify.com and storybook.js.org
- [ ] verify NO changes on `gh-pages` branch which corresponds to `storybooks.github.io/storybook`
- [ ] remove deploy step from circle config & issue PR and notify @pksunkara
- [ ] update deploy directory on netlify since it's

[2018-09-05 22:05] pksunkara commented on #4126
- [ ] Create netlify storybook team
- [ ] Invite storybook github team to netlify storybook team

[2018-09-05 22:29] tmeasday commented on #3442
@jneuendorf I'm not totally sure -- @ndelangen? I would say at least a couple of weeks. Haven't done an rc yet.

[2018-09-05 22:47] daKmoR commented on #4127
so I did some digging and there is the clientApi and the storyStore...
=> with that I can get the story and also add it but once you click it I get the feeling you can't reuse those stored functions => I just get a white page and quite console errors

maybe something with the scope of the function? it seems to be stored with multiple "wrappings" (multiple closures like defaultDecorateStory, metaSu

[2018-09-05 23:17] ReDrUm commented on #3940
Still occurring in 4.0.0-alpha.20

[2018-09-06 00:38] ReDrUm opened #4129 "Storybook Knobs Query Strings not unset/reset when navigating between Story pages"
### Storybook Knobs add `knob-${label}=${value}` query params for each knob added.
This is useful for retaining state for page refreshes and deep linking.

Unfortunately they're not being cleaned up when navigating between different story pages. They simply concatenate together. After browsing a storybook instance for a while and having visited many pages you end up with a mess in your url's query

[2018-09-06 09:54] y-nk commented on #1708
@zephraph i'll try my luck and ask ; in the meantime, what are the possibilities to fix this issue on storybook side ?

[2018-09-06 10:02] kuka-radovan commented on #3777
I am using `@storybook/html 4.0.0-alpha.20` and `@storybook/addon-knobs` of the same version and `root` element is still fully re-rendered when I change a knob value.
It causes some issues to me so I am wondering if it is expected behaviour or a bug.

[2018-09-06 10:12] y-nk commented on #3777
@ndelangen thanks a lot for reporting. i don't feel very secure to use an alpha build, but i'll give it a try in a separate env before migrating. is there any set date for v4 release ?

@kuka-radovan oh. is that in a clean new env ?

[2018-09-06 10:15] kuka-radovan commented on #3777
@y-nk Yes... I don't have there anything else. Only one simple story with one addon - `addon-knobs`. Nothing more, nothing less.

[2018-09-06 10:16] ndelangen commented on #4126
There's a netlify team here:
https://app.netlify.com/teams/storybook/members

Let me know who to invite via a personal message

[2018-09-06 10:46] ndelangen commented on #1708
@y-nk In the next version I'll introduce an eject button to 'eject' the iframe from the manager.

This will give the dev tools direct access there.

Hope that helps.

[2018-09-06 11:00] ndelangen commented on #548
Thanks @SunHuawei

[2018-09-06 11:00] ndelangen commented on #3972
Need any help @astrotim ?

[2018-09-06 11:04] ndelangen commented on #2384
Can I reproduce this somewhere?

[2018-09-06 11:06] ndelangen commented on #3944
Would be nice to actually create an addon for this, Anyone on the @storybooks/team who'd want to do it?

[2018-09-06 11:07] ndelangen commented on #3999
I'll check it out

[2018-09-06 11:32] pksunkara commented on #3944
I would love to. Writing an addon will get me familiar with the client side code of storybook.

[2018-09-06 13:13] pksunkara commented on #4126
I have a question about this. Does netlify support deploy production only on tags? Because, we don't want the website to be changed for every commit on master. The documentation might be changed on master but it won't be valid until the next version is published, right?

[2018-09-06 13:23] teekirol opened #4130 "Question about usage with main app"
In the documentation, it says "Storybook runs outside of your app".

I'm wondering how people keep the components in their stories in sync with the components in their main app. Do you have to continually make updates in both places?

I tried researching whether it's possible to declare your instance of Storybook as a dependency of your main app, but haven't found anything. Is this recommended?

[2018-09-06 13:26] ndelangen commented on #4126
yes

[2018-09-06 13:32] pksunkara commented on #4126
So, netlify doesn't support tag based deploys. It only talks about branches. See this, https://github.com/mochajs/mocha/issues/3206#issuecomment-385365665. Do we want to keep the deploy job in circleci?

[2018-09-06 13:43] #3890 closed

[2018-09-06 14:59] jneuendorf commented on #3442
In this case: PR https://github.com/storybooks/storybook/pull/4131 😉

[2018-09-06 17:58] y-nk commented on #1708
@ndelangen I kinda made the devtools work with iframe, at least in the dev environment. I commented my progress here : https://github.com/vuejs/vue-devtools/pull/361

My goal is to try to build this devtools version to make it testable with storybook.
Let's see how it goes !

[2018-09-06 18:06] ndelangen commented on #1708
@y-nk that is freaking awesome!

[2018-09-06 18:43] rhalff commented on #4023
@storybooks/team I'll go for the leftover **L**

I think @Hypnosphi deserves a jacket btw :1st_place_medal:

[2018-09-06 19:05] ndelangen commented on #4017
@KevinGrandon Sorry for me jumping on this a bit late.

Let's schedule a meeting shall we?

When would be a good time for you?

[2018-09-06 19:15] ndelangen commented on #3442
I think it's worth fixing the docs, would really appreciate that PR @jneuendorf!

[2018-09-06 19:30] KevinGrandon commented on #4017
I'd be happy to, but it sounds like waiting for the `presets` might be the best way to go here? Any documentation on the plan for those?

[2018-09-06 19:32] ndelangen commented on #3157
https://storybook.canny.io/roadmap/p/add-ability-to-run-multiple-frameworks-in-1-storybook

[2018-09-06 19:36] ndelangen commented on #1754
If that works for you, it might be of help to others, would you care to make the PR to our docs @kresli ?

[2018-09-06 19:38] ndelangen commented on #4017
When @igor-dv is back from vacation I'm sure he'll add some docs about it.

We'll gradually be opening the presets feature and documenting it better.

To the point that once we have the [unified config](https://storybook.canny.io/roadmap/p/universal-config-file) we'll just have a list of add presets configured.

[2018-09-06 19:41] ndelangen commented on #174
`linkTo('section_1', 'section_1_2')` returns a function that when called, will navigate.

`linkTo('section_1', 'section_1_2')()` will navigate.

[2018-09-06 20:09] kroeder commented on #4130
If you meant that your app and storybook are in the same project then it's just in sync because you develop your components in storybook and just use them in your real app. In my opinion, one of the best parts of storybook is that you don't want to develop your components in your app but just in storybook and use them in your app because storybook is more or less free of side-effects.

If you mean

[2018-09-06 20:32] pksunkara commented on #3944
Can you guys link me to the routing issues we need to fix first before the addon can be worked on?

[2018-09-06 21:08] jneuendorf commented on #3442
#4132 should do ;)

[2018-09-06 21:09] ndelangen commented on #3944
I think the addon would just push to GA on every story change, and detect story changes via channel / api ?

[2018-09-06 21:18] ndelangen commented on #4130
@teekirol The components never run out of sync, because instead of showing code demoes or examples of code, we write stories, which USE the code / components.

Of course props can change in the component and then not be changed in the stories, or stories could be broken or missing.

But this is exactly the same as unit tests. They provide a validation on your code, your code/components are run.

I

[2018-09-06 21:18] #4130 closed

[2018-09-06 21:21] ndelangen commented on #4099
Still an issue with the latest alpha?

[2018-09-06 21:48] ndelangen commented on #4099
Thank you for confirming, gonna try to look into this as soon as I can.

Do you happen to have a reproduction repo?

[2018-09-06 21:59] pelotom commented on #4099
The commands in the description create a repro project.

[2018-09-07 03:43] #3172 closed

[2018-09-07 07:46] tonai commented on #4106
Same issue for me.
As a workaround I have pass a string in my options and cast the value into a number in my property (notice the `+` in front of `selectV2`).
[code]

[2018-09-07 09:47] ndelangen commented on #3972
Are they nice kids?

[2018-09-07 10:13] mhauens opened #4135 "@storybook/addon-knobs 4.0.0-alpha.20 Throw Error"
[code]

- @storybook/react 4.0.0-alpha.20
- @storybook/addon-knobs eact 4.0.0-alpha.20
[code]

[2018-09-07 10:13] ndelangen commented on #3590
On the roadmap:
https://storybook.canny.io/roadmap/p/storyshots-continues-feedback-during-run

[2018-09-07 10:30] cwmrowe opened #4136 "TypeScript modules not resolved when using "baseUrl"."
### Support request summary

`@storybook/angular` is not resolving non-relative imports. I believe non-relative imports are a relative new feature of TypeScript that allow you to reference imports from a `baseUrl` rather than always using relative imports to your own code.

I think that support for this feature should be a priority as VS Code will now rename all your modules to use non-relative im

[2018-09-07 10:36] Hypnosphi opened #4137 "A11y addon stopped working"
http://storybooks-official.netlify.com/?selectedKind=UI%7CMenuItem&selectedStory=default&full=0&addons=1&stories=1&panelRight=0&addonPanel=%40storybook%2Faddon-a11y%2Fpanel

Expected: a warning about black text on blacky background
Actual: 0 violations 0 passes

[2018-09-07 11:32] pksunkara commented on #3944
Made an early PR, #4138.

[2018-09-07 12:00] Pjata commented on #4115
Same problem with v3, im getting the MuiTheme info

[2018-09-07 14:08] christopherstat opened #4139 "[Feature] Improved SearchBox for stories"
Hello everyone! First time poster here.

Currently search is performed exclusively on the name of the story, but it might be relatively easy/safe to take advantage of [Story Parameters](https://github.com/storybooks/storybook/issues/3625) to make search a bit smarter.

I wanted to implement an interactive Design System in storybook in which stories could be "tagged" and searched for by typing in s

[2018-09-07 14:30] fetis opened #4140 "NPM script is missed for both Angular and React slow guides"
Docs says  https://storybook.js.org/basics/guide-angular/#run-your-storybook
`npm run storybook`
but this script is never created. Only Vue guide has an explanation

[2018-09-07 14:38] EskelCz opened #4141 "4.0.0-alpha Peer dependency warnings"
[code]

### Steps to reproduce

install 4.0.0-alpha.20 with yarn

[2018-09-07 14:48] EskelCz opened #4142 "4.0.0-alpha with Haul"
I'm using Storybook with the Haul packager method as described here:
https://github.com/storybooks/storybook/tree/master/app/react-native

yarn

`storybook start -p 7007 --haul ./storybook/webpack.haul.storybook.js`

haul config

[code]

and the included webpack seems to be building a static bundle, therefore my device will not connect, if I understand correctly. In version 3 the connection and bu

[2018-09-07 18:50] pksunkara commented on #4126
The deploy job in circleci was broken anyway. Once we decide on the process of release deployment on netlify, I will create a new job on circleci. So, here are some more tasks in the list.

- [ ] Decide on the deployment schedule and how to
- [ ] If automated, set it up

[2018-09-07 21:51] rndmerle commented on #3988
I can't upgrade to V4 but from what I've seen in the code and after some tests on a V4 kitchen-sink it seems this issue is sorted out.

Thanks :)

[2018-09-07 21:51] #3988 closed

[2018-09-07 21:56] microminibmx opened #4143 "Story source for component that is wrapped by HoC show wrapping component in story source"
I'm using a higher order component to wrap several other components that I want to export for others to use.  Clients don't need to use or know about the HoC.  In the following simplified example I'm calling the HoC "Base" and the exported component that I want to create stories for "Test".

### Steps to reproduce
Base.jsx:
[code]

Test.jsx:
[code]

Story code:
[code]

This renders the following s

[2018-09-07 22:26] ndelangen commented on #4143
Have you tried something like this:

[code]

[2018-09-07 22:30] ndelangen commented on #4137
Axe assumes default styling (white background on body).

however the background of the iframe is transparent, and below you see the color of the manager UI. (which is dark)

Axe cannot possibly know this, I think.

Is A11Y addon even enabled for that story?

[2018-09-07 22:30] ndelangen commented on #4137
I do not think this is a bug.

[2018-09-07 22:35] ndelangen commented on #4135
Error is coming from [react-datetime](https://www.npmjs.com/package/react-datetime)

We should open an ticket there.

Would you care to do so @mhauens ?

Our code does not directly depend on `moment`. (well except for app/riot, investigating that, since it doesn't seem to be used at all).

[2018-09-07 22:39] ndelangen commented on #4135
I'm confused seems `moment` is a peerDep for react-datetime, but we do not have supply it...

Might be a bug with us then still..

So strange this has gone unnoticed for so long...

[2018-09-07 22:42] ndelangen commented on #4135
I'm wondering how much bundlesize and all we'd safe by just using the native datepicker provided by browsers...

[2018-09-07 22:52] ndelangen commented on #4126
Great topic for the roadmap meeting next week 👍

[2018-09-08 00:12] dtb commented on #713
[This comment](https://github.com/storybooks/storybook/issues/696#issuecomment-280368818) from #696 offers a simple workaround that worked for me.

(sorry for the noise, but this issue is the first result in Google)

[2018-09-08 01:00] microminibmx commented on #4143
No, I hadn't tried that and it certainly fixes the story source part of the sample.  In my actual code I'm using react-themed which I didn't think was relevant at the time of creating this issue.  So, storybook is now displaying the equivalent story source to this `<Themed(Test) text="Hi Everybody"/> `, which is better, but not ideal.  I guess react-themed is co-opting the displayName too.

Settin

[2018-09-08 05:29] mevansam commented on #3897
This seems to be caused be some changes to `babel-jest`. It works fine for me with version "23.4.0" and but not the most recent "23.4.2". Below is my `devDependencies`.

[code]

[2018-09-08 08:00] theKashey opened #4144 "Stories Panel is quite slow"
### Bug or support request summary

One could not change stories quickly, due to performance issues. Stories pannel update itself requires about half second to redraw.

### Steps to reproduce

Create 100 stories.

### Affected platforms

### Screenshots / Screencast / Code Snippets (Optional)

Perfomance graph
<img width="281" alt="screen shot 2018-09-08 at 5 29 11 pm" src="https://user-images.git

[2018-09-08 11:29] omril1 commented on #1869
Still reproduced on the latest alpha version

[2018-09-08 14:49] Hypnosphi commented on #3855
Sounds reasonable to me. Let's discuss the API

[2018-09-08 15:03] ndelangen commented on #4137
All tabs are always present, we do not have a system to only display tabs that are relevant.
We should add such a thing, sure.

It's light on the light theme, it's dark in the dark theme. User have the ability to theme or add a preview-head.html or load css some other way to give the body inside the iframe a colour. Also they can use the background-addons.

The background addon works by adding the

[2018-09-08 15:37] Hypnosphi commented on #4102
@brunoreis you should be able to use current alpha with Babel 6

[2018-09-08 16:38] Hypnosphi commented on #4141
You need to have `babel-loader` and `@babel/core` in your `package.json`. If you prefer using Babel 6, please ignore those warnings

[2018-09-08 16:40] Hypnosphi commented on #4137
The transparent background also breaks full screen mode: http://storybooks-official.netlify.com/full=1

WDYT on this point?

[2018-09-08 16:42] Hypnosphi commented on #4137
https://deploy-preview-4086--storybooks-official.netlify.com/?path=/components/Components-Heading-types

=( https://deploy-preview-4086--storybooks-official.netlify.com/iframe.html?path=/components/Components-Heading-types

[2018-09-08 17:27] Hypnosphi commented on #4126
It's deployed from release branch not master. And we only cherry-pick commits there right before the release so it shouldn't be a problem

[2018-09-08 17:48] Hypnosphi commented on #3933
Released as [`4.0.0-alpha.21`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.21)

[2018-09-08 18:37] Hypnosphi commented on #4069
@VRedondo I wasn't able to reproduce the issue in master.
Can you please create a GitHub repo with minimal reproduction?

[2018-09-08 18:48] VRedondo commented on #4069
I'm sorry, I didn't update this before, not an issue anymore.

[2018-09-08 18:48] #4069 closed

[2018-09-08 19:08] EskelCz commented on #4141
@Hypnosphi Ok, thank you

[2018-09-08 19:08] #4141 closed

[2018-09-08 19:16] wuweiweiwu opened #4147 "Update react-split-pane for lib/components to fix StrictMode issues"
See https://github.com/storybooks/storybook/pull/3965#issuecomment-411602308 for context

The latest release of `react-split-pane` solves local dev issues for desktop layout where size changes were not being updated

edit:

`0.1.83` breaks some other stuff. One thing is that drag is now extremely slow.

[2018-09-08 20:30] ndelangen commented on #4137
Fullscreen going white is a known issue I want to fix.

Hmm, I need to think about it.

[2018-09-08 21:27] ndelangen commented on #4143
@microminibmx

I'll start work on https://storybook.canny.io/roadmap/p/docs-view-mode after the UI refactor and 4.0.0 release.

It will likely be the biggest change storybook ever: adding a completely new method of looking at components.

I mention this because I will personally not spend a lot of time on the addon info because of that. I think docs-view will render addon-info obsolete. (It will s

[2018-09-08 21:54] microminibmx commented on #4143
The second issue I was trying to describe was that my inline documentation of the component did not get rendered in my story info.  My understanding was that by putting these lines into the component source, they would be parsed and rendered by withInfo:
[code]
[code]
But something about the way that the Test component is wrapped is interfering with that.  The component description does not show u

[2018-09-09 03:58] majames commented on #4066
I believe I may be having the same issue, currently using storybook in _full-control_ mode with typescript and getting this output from `svg` importing:

[code]

My `webpack.config.js` simply looks like:

[code]

[2018-09-09 07:16] #3901 closed

[2018-09-09 09:56] ndelangen commented on #4143
How about putting the ThemeProvider in a decorator?

[2018-09-09 09:57] ndelangen commented on #4143
see:
https://storybook.js.org/addons/introduction/#storybook-decorators

[2018-09-09 14:07] bent0b0x commented on #4101
I see a similar issue even if there is just one `storiesOf` call. If I have multiple `add`-ed stories, on page reload (via manual reload, live reload, or HMR), the first story is always the one that is rendered even if I had been previously viewing a different story.

[code]

[code]

[2018-09-09 15:46] albertchan commented on #3850
@krazov I'm having the exact same issue, my setup and config is almost identical to yours except I'm not using pug in my template. I'm also getting `[Vue warn]: Failed to mount component: template or render function not defined.`

[2018-09-09 20:26] anthonyxiques opened #4150 "Storybook 4 error: cannot assign to read only property 'exports' of object '#<Object>'"
### Bug or support request summary

Storybook 4, Webpack 4, Babel 7 throws this error after running `yarn storybook`:

![image](https://user-images.githubusercontent.com/3936097/45268494-43552300-b44b-11e8-93c4-8ee7fd8001cd.png)

It looks like Storybook/Webpack is parsing content from the `react` directory in the `node_modules` directory of my `shared-components` package.

### Steps to reproduce

[2018-09-10 00:08] igor-dv commented on #4055
Better have all the SB deps ofvthe same version. Do you @mAAdhaTTah. ?

[2018-09-10 00:14] igor-dv commented on #3703
@michaelduminy, does your PR fix this ?

[2018-09-10 00:46] Brian-McBride commented on #4066
It does seem that the file-loader works just fine.
@majames I did a quick hack for my `webpack.config.js` that does a replace. It probably has too many tests, but I just didn't want things to blow up later until this bug is fixed.

[code]

[2018-09-10 03:40] nerdmax commented on #3044
Tried with `4.0.0-alpha.20` and `webpack4.10.2`, DefinePlugin doesn't work.

[2018-09-10 05:44] Mactaivsh opened #4151 "Panels resizing in storybook-vue are slow and lagging"
### Bug or support request summary

In @storybook/vue

The resizing of panels become quite slow and lagging

It seems to affect all the panels (include addons like option, action-log, knobs etc)

### Steps to reproduce

I made a reproduction repo, check [here](https://github.com/Mactaivsh/storybook-vue-alpha-test)

This repo has no addition addons, but you can still see the effect

### Please spec

[2018-09-10 08:56] wuweiweiwu commented on #4147
New version `0.1.84` is released!

[2018-09-10 09:27] michaelduminy commented on #3703
@igor-dv I think so. I never noticed it affect multiple `storiesOf` calls more than single calls, but the symptom is the same so my guess is the PR fixes this.

[2018-09-10 10:55] fletcherist commented on #4125
Same here

[2018-09-10 12:36] igor-dv commented on #4136
Regarding the absolute paths, there was a similar issue - #3916. Maybe we should add 'baseUrl' to `resolve.modules` by default 🤔

For build time, please check this - #3968

[2018-09-10 12:47] igor-dv commented on #4124
@ndelangen is working on a major UI refactoring which will probably allow this kind of customization. But currently, it's not possible

[2018-09-10 12:55] igor-dv commented on #4125
Google gave me this - https://github.com/graphql/graphql-js/issues/1272 issue. I belive it's not related to us directly.

[2018-09-10 12:55] #4125 closed

[2018-09-10 12:58] kroeder commented on #4124
Alright, I'll implement it as a landing page story and check this again after the UI refactoring happened

[2018-09-10 12:58] #4124 closed

[2018-09-10 13:00] igor-dv commented on #4124
Also, maybe you can add it as a addon to addons panel

[2018-09-10 13:01] fletcherist commented on #4125
@sibelius Actually I've solved this with [this comment](https://github.com/graphql/graphql-js/issues/1272#issuecomment-393903706). Why not to try it out?

Actually the problem here is that Storybook can't parse `.mjs` modules out of box.
I think this issue should be closed.

[2018-09-10 13:08] sibelius commented on #4125
@fletcherist you used a custom webpack config to achieve this?

can u share part of it?

[2018-09-10 13:11] fletcherist commented on #4125
@sibelius of course, sure:

[code]

[2018-09-10 13:13] igor-dv commented on #4151
@wuweiweiwu can this issue be also related to the `react-split-pane` ?

[2018-09-10 13:13] kroeder commented on #4124
Hm, interesting idea. You mean like if you are on e.g. FancyButtonStory and click on "Versions" Panel, then switch versions but directly jump to the same story in a different version?

[2018-09-10 13:14] igor-dv commented on #4125
@Hypnosphi, is this `mjs` something we would like to support by default ?

[2018-09-10 13:17] igor-dv commented on #4124
Yeah

[2018-09-10 13:35] igor-dv commented on #4150
Is this a monorepo ?

Why did you add this rule? :

[code]

[2018-09-10 14:06] dperetti commented on #1435
Haven't tried yet but obviously the storybook app must be run in Electron, not in Chrome.

[2018-09-10 17:08] piratefsh opened #4154 "Add option to fail storyshots test if existing screenshot does not exist"
### Support request summary

Current addons-storyshots for image snapshots automatically generates new snapshots for stories that do not have existing snapshots on file and passes.

This causes an issue when we have engineers committing in stories without their corresponding snapshots. When the tests run in CI, new snapshots get generated and thus, tests will always pass.

I'm wondering if there i

[2018-09-10 17:16] wuweiweiwu commented on #4151
@igor-dv I believe so. But I think #4153 will fix it.

[2018-09-10 17:16] wuweiweiwu commented on #4151
I'll double check locally with all the example storybooks

[2018-09-10 17:26] anthonyxiques commented on #4150
@igor-dv

Thanks for the quick reply!

It is a monorepo.

Looking at this today it looks like the easiest solution might be to just not include node_modules in each component's subdirectory?

Here's the directory structure:

[code]

The babel-loader rule is for compiling JSX into Javascript. But it seems like webpack is trying to compile the node_modules in each component sub-directory, instead of

[2018-09-10 17:36] igor-dv commented on #4150
Storybook already contains this rule. Try to use "full control mode" to modify webpack to something like this:

[code]

[2018-09-10 18:35] #3729 closed

[2018-09-10 19:30] Nimaear opened #4156 "@storybook/react ends up with a faulty inclusion of iframe.css"
### Bug or support request summary

After running storybook, the created iframe ends up including the css with the following line which renders all of the css completely useless.
[code]

### Steps to reproduce
Pretty straight forward setup with the following versions

[code]

### Please specify which version of Storybook and optionally any affected addons that you're running

[code]

### Code Snip

[2018-09-10 20:36] #4154 closed

[2018-09-10 23:51] Hypnosphi commented on #3044
@nerdmax can you please provide some reproduction example? We use this plugin ourselves and it works for us

[2018-09-11 00:33] stclairdaniel commented on #4026
I'm having this same issue. Once I add `addDecorator(withInfo);` to the config file, none of my stories load. No errors or warnings, just no stories.

[2018-09-11 00:38] #4147 closed

[2018-09-11 00:39] tmeasday commented on #3625
Yay! This is now done! Great team effort everyone!

When I next have some free cycles I am going to look at #4010 but I agree its not a blocker for 4.0

[2018-09-11 00:39] #3625 closed

[2018-09-11 00:40] nerdmax commented on #3044
@Hypnosphi Thank you for your response. I'm so sorry, I just checked, it's working fine with `4.0.0-alpha.20`. My project is using yarn's workspaces and it seems like the storybook got installed in the root node_module. After deleting that folder and reinstall all packages, it works.

[2018-09-11 00:46] majames commented on #4066
Ok cool, I wanted to use the `raw-loader` to just load the plain text in (and _dangerously_ set it into a react component) but the same approach of filtering out the pre-existing rules should work for me 🙂

[2018-09-11 00:57] ridhoq commented on #3044
I was able to get this working after upgrading to `@storybook/react: ^4.0.0-alpha.21` with `webpack: ^4.17.2`

[2018-09-11 02:03] Mactaivsh commented on #4151
@storybook/vue 4.0.0-alpha.21
no addons

BTW, I found it also affects the non alpha version, my another test was using 3.4.10

[2018-09-11 05:47] qianqian05723 opened #4157 "storybook for vue error: addon-backgrounds"
Bug or support request summary
![image](https://user-images.githubusercontent.com/17306867/45340253-82f54980-b5c8-11e8-8d14-cf82c2714d19.png)

Please specify which version of Storybook and optionally any affected addons that you're running

- @storybook/vue : 3.4.10
- @storybook/addon-backgrounds 3.4.10

"dependencies": {
    "postcss-flexibility": "^2.0.0",
    "vue": "^2.5.17"
  },
  "devDepende

[2018-09-11 06:43] stramel opened #4159 "Error about no parser with prettier"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

Running this plugin is causing, `No parser and no filepath given, using 'babylon' the parser now but this will throw an error in the future. Please specify a parser or a filepath so one can be inferred.`

### Steps to reproduce

Run this plugin with default `prettierConfig` and/or specify a custom `pr

[2018-09-11 06:45] wuweiweiwu commented on #4151
verified with my fix locally. I ran the vue kitchen sink example and it was dragging fine!

[2018-09-11 06:46] wuweiweiwu commented on #4151
closing by #4153

[2018-09-11 06:46] #4151 closed

[2018-09-11 07:55] dmngu9 opened #4160 "css not injected to components in storybook"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

I use style loader, css loader, sass loader in my webpack config for storybook. My component in storybook does not have styles

### Steps to reproduce

I use React with SASS. This is my webpack config

[code]

### Please specify which version of Storybook and optionally any affected addons that you're

[2018-09-11 08:55] igor-dv commented on #4159
I think it was fixed in v4.

[2018-09-11 09:48] cwmrowe commented on #4136
Thanks @igor-dv its all working a treat now. And the build time has gone from 7 minutes down to 20 seconds 🚗 💨

Here's my `.storybook/webpack.config.js` for anyone that needs it, although hopefully this will be fixed in the angular storybook project soon.

[code]

[2018-09-11 09:56] #4136 closed

[2018-09-11 09:58] VrajSolanki commented on #3346
@ryanflorence I have the exact same lerna setup and the exports issue for storybook.
I have a package which exposes the built version of the UI-Elements.
Apologies but could you provide more details when you say, `"module" field that pointed to the ES module version of my builds, adding that back in makes everything work again.`

[2018-09-11 10:02] EskelCz commented on #4142
My use case is that I would like my stories in the same folder as my components, to easily see when I'm missing a story for something.

[2018-09-11 10:11] jonrandy opened #4161 "How to try out the Riot features?"
Following the 'getting started' instructions here - https://github.com/storybooks/storybook/tree/master/app/riot - does not appear to work.

I get
[code]
Am I missing something?

[2018-09-11 10:13] igor-dv commented on #4161
`riot` was introduced in the alpha version. You need to use `@storybook/cli@alpha`

[2018-09-11 10:37] jonrandy commented on #4161
Still appear to have the same issue
<img width="426" alt="screen shot 2018-09-11 at 17 35 24" src="https://user-images.githubusercontent.com/1510194/45354969-4d148d00-b5e9-11e8-840b-ce905b76cd28.png">

[2018-09-11 12:03] chiholiu commented on #2615
Check in your html file if the id attribute has the same name as
ReactDOM.render(<App />, document.getElementById('index'));

[2018-09-11 13:34] devmetal commented on #3897
@igor-dv I agree, i wanted try to use with a simple rn project. I just created one with react-native init. The rn itself is working i tried with ios, and the bundler working. After i just added the storybook with the cli, and i just started and i get the same error.

[2018-09-11 13:54] Smolya opened #4163 "How export async from storybook/webpack.config.js"
Hello. Faced the problem that I need to make asynchronous calls before exporting the config from storybook/webpack.config.js.
[code]
it's possible? Because native webpack support return promise/async functions
thanks

[2018-09-11 14:36] kumarpatel commented on #4029
https://github.com/storybooks/storybook/blob/master/lib/cli/lib/detect.js#L27-L30

That logic determines your project type as a react app based on the existence of react-scripts in your dependencies.

If that's the case, then you might be able to just remove your react-scripts from there temporarily. run getstorybook in project. Then bring back your react-scripts.

Hope that helps.

[2018-09-11 16:57] libetl commented on #4161
hmm.. let me have a look

[2018-09-11 16:59] libetl commented on #4161
Does not work with --angular or --react either

[2018-09-11 17:03] libetl commented on #4161
not working for angular or react either
![image](https://user-images.githubusercontent.com/1233790/45375490-69b6c200-b5f5-11e8-9697-bd02b5faef37.png)

[2018-09-11 17:06] libetl commented on #4161
As a workaround, can you try adding 'riot', and 'riot-tag-loader' to your project, then just issue getstorybook without the riot tag

[2018-09-11 17:16] libetl commented on #4161
actually the documentation is more up to date than the code. Sorry about that

[2018-09-11 18:57] igor-dv commented on #4160
Looks like you missed `style-loader` there

[2018-09-11 19:03] igor-dv commented on #4139
Interesting Idea 👍
I would wait though until @ndelangen and co will finish a major refactoring of the UI and State management.

[2018-09-11 19:28] dandrei opened #4166 "Multiple .env support"
If you are reporting a bug or requesting support, start here:

### Bug or support request summary

Create React App supports multiple `.env` files.

It reads `.env.development` when it's run locally (e.g. with `yarn start`), and `.env.production` when it's built.

[Ticket #1833](https://github.com/storybooks/storybook/issues/1833) (curiously, created exactly one year ago) added `.env` support to S

[2018-09-11 23:05] dmngu9 commented on #4160
I added style loader but it still does not work

[2018-09-12 04:42] dmngu9 commented on #4160
@igor-dv any more details you need in order to resolve this issue? please let me know

[2018-09-12 04:47] jonrandy commented on #4161
OK, the workaround allows me to test out the functionality - thanks!

On Wed, 12 Sep 2018 at 00:23 LiBe <notifications@github.com> wrote:

[2018-09-12 04:51] ivansnek commented on #3897
Downgrading to `^4.0.1` did the trick to me

[2018-09-12 05:57] igor-dv commented on #4160
If you have a reproduction, it will be helpful

[2018-09-12 09:47] kresli commented on #1754
@ndelangen I'll do if I'll find a time :/ . Where it should go? `IDE integration/VS Code`? Also the above setup works for react (with typescript). Should be tested with other frameworks before adding to docs?

[2018-09-12 10:51] dperetti commented on #1435
Just a thought. If Storybook, when used in Electron could use the special <[webview](https://electronjs.org/docs/api/webview-tag#nodeintegration) /> tags (with node integration) instead of iframes, I think it would work.

[2018-09-12 10:53] SimenB commented on #3590
Nice! I wonder if that'll fix/help #3286 at the same time

[2018-09-12 10:59] igor-dv opened #4169 "Single Configuration File - A.K.A. storybook.config.js - monoconfig"
_let's discuss the "Single Configuration File" feature_

I will update this template with the agreed changes. The inspiration is from [here](https://github.com/storybooks/SBNext/blob/master/examples/react/storybook.config.js)

## API
The `storybook.config.js` will be at a root level, but we also may consider it to be configurable with the cli argumetns (for example for people that will have a few

[2018-09-12 11:51] ndelangen commented on #4139
@christopherstat Let's have a chat on our slack?
https://now-examples-slackin-rrirkqohko.now.sh/

[2018-09-12 12:28] ndelangen commented on #3590
Yeah possibly

[2018-09-12 12:32] ndelangen commented on #1754
Testing/Debugging is VS Code seems like a good place to me?

If you are constrained on time, I'd suggest just adding the docs that you know work, and add a comment about the docs being in complete, and we're happy to take PR's adding/changing it.

[2018-09-12 15:05] nicholasmaddren commented on #4139
Wow, I was literally just explaining to my team how cool this functionality would be to find that a few days ago it had been raised here!

I found myself scrolling through the list of my components trying to find form related components. It would be really nice if you could tag components and then filter by those tags, e.g... ['form', 'input'].

[2018-09-12 16:48] EskelCz commented on #4142
I'm trying the same thing without haul and with `react-native-storybook-loader`. Now the client connects but I see only white screen on the device and no components in the menu, although storybook loader says he loaded my components.
This is my fourth attempt to get storybook working and I'm on the cusp of giving up.

[2018-09-12 17:03] daviscabral commented on #4055
I was also getting that error, but after updating it changed to the error below:

[code]

This is the storyshot file:
[code]

And the config.js
[code]

These are the versions used by the project:
[code]

custom .babelrc that is inside the `.storybook` folder:
[code]

And the `setupTest.js`:
[code]

BTW, it's an `CRA` that was not ejected.

[2018-09-12 17:41] igor-dv commented on #4142
I am not familiar with the RN part of SB that much (and with haul), but I am not seeing from this printscreen that it's a static build.

[2018-09-12 17:52] EskelCz commented on #4142
I tried the same thing without haul and the client connected. Now I'm geting this error, with everything I try (both storybook 3 and 4):

![Error screen](https://i.imgur.com/5CkIlN4.png)

Maybe something in my stories, I'm digging deeper, will update this when I figure it out.

[2018-09-12 17:53] igor-dv commented on #4055
The line your error is coming from is this:

[code]

Looks like you don't have a document on a `window`...

Also, this line in your `setupTest.js` looks suspicious:
[code]

[2018-09-12 18:05] igor-dv commented on #4142
I see a few issues with this error, but all are not in RN

https://github.com/storybooks/storybook/issues/1549
https://github.com/storybooks/storybook/issues/3969

[2018-09-12 18:06] EskelCz commented on #4142
Hm, figured it out, it was a problem with my import aliases. Thank you for helping out.

[2018-09-12 18:06] #4142 closed

[2018-09-12 18:16] raynor85 commented on #3897
The solution no longer work with ```"react-native": "^0.57.0"```

[2018-09-13 00:34] jhoffmcd opened #4171 "Alpha Version Static Export Build Script Does Not Respect Env Vars"
### Bug or support request summary

**What did you expect to happen?**

Running `build-storybook` would respect environment variables such as `NODE_ENV` and `STORYBOOK_*`

**What happened instead?**

Running `build-storybook` seems to not respect environment variables such as `NODE_ENV` and `STORYBOOK_*`

**NOTE**: `start-storybook` does behave as expected.

### Steps to reproduce

Here is a repo

[2018-09-13 07:06] no23reason commented on #3936
This is still an issue, tested on
react-native 0.56
@storybook/react-native 3.4.10

[2018-09-13 08:24] SatoshiKawabata opened #4174 "How to use `constructor` in `.stories.js`?"
# Proposal
I want to use `constructor` in `.stories.js` file like [`riot.tag` method](https://riot.js.org/api/#-riottagtagname-html-css-attrs-constructor).
Like below.
[code]
### Who to contact

@libetl

[2018-09-13 08:32] tomasztomys commented on #3805
up

[2018-09-13 08:59] libetl commented on #4174
Hello.

[2018-09-13 09:02] libetl commented on #4174
as a workaround what you can do is to use { compileNow } from @storybook/riot, then to mount it with your opts.

for example compileNow('<my-tag><div>etc...</div></my-tag>')

and then return {tagName: 'my-tag', opts: { }}

I will think about your proposal and try to find the good way.

Thank you.

[2018-09-13 09:30] shaozj opened #4175 "hierarchyRootSeparator not work with version 4.0.0-alpha.21"
### Bug or support request summary

hierarchyRootSeparator not work with version 4.0.0-alpha.21

### Steps to reproduce

- config.js

[code]

- addons.js

[code]
- story.js

[code]
- result

![image](https://user-images.githubusercontent.com/7326406/45480046-a102ab80-b77a-11e8-8a3f-c6cfb53d3f62.png)

### Please specify which version of Storybook and optionally any affected addons that you're runni

[2018-09-13 09:35] libetl commented on #4174
In the meantime, I have a better workaround for you @SatoshiKawabata
Why don't you use tag & mount ?

https://storybooks-riot.netlify.com/?selectedKind=Story%7CHow%20to%20create%20a%20story&selectedStory=built%20with%20tag&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Fstories%2Fstories-panel

[2018-09-13 10:17] Hypnosphi commented on #3805
Webpack 4 + Babel 7 Is fully supported in current alpha. Here's the issue for support of React Native 0.56
https://github.com/storybooks/storybook/issues/4011

[2018-09-13 10:18] Hypnosphi commented on #3936
Duplicate of https://github.com/storybooks/storybook/issues/4011

[2018-09-13 10:18] #3936 closed

[2018-09-13 10:18] #3805 closed

[2018-09-13 12:04] pksunkara commented on #4171
Possibly because of [this](https://github.com/sebastian-software/universal-dotenv/commit/e5a2a2b656718d01d9952124b0cbe1f9c9d13166) change in universal-dotenv. But this issue should also include of allowing `REACT_APP_*` and other framework specific environment variables. The way to do it is to use `.env` files which is currently not working. There is a little bit of discussion regarding this [here

[2018-09-13 12:14] pksunkara commented on #4166
Storybook does support the other files. Related to #4171

[2018-09-13 12:15] pksunkara commented on #3242
Related to #4169.

[2018-09-13 12:17] dandrei commented on #4166
Thanks, I see that [a commit in universal-dotenv](https://github.com/sebastian-software/universal-dotenv/commit/e5a2a2b656718d01d9952124b0cbe1f9c9d13166) is referenced there.

If I understand it correctly, it now defaults to `.env.local` for local development, and `.env` for builds?

[2018-09-13 12:19] pksunkara commented on #4166
You can do `NODE_ENV=development start-storybook` and it should read from `.env.development`

[2018-09-13 12:50] pksunkara commented on #4169
All the `client` part of @storybook/[apps] can be deprecated also, right?

[2018-09-13 12:52] igor-dv commented on #4169
Which one? I am not sure

[2018-09-13 13:11] libetl commented on #1108
storybook snippets [framework] : add some sample snippets from the chosen framework (detected one or in param)

[2018-09-13 13:12] libetl commented on #1108
storybook upgrade : upgrade to latest version of the cli

[2018-09-13 13:12] libetl commented on #1108
mmmh... `storybook deploy` is it worth trying surge instead ? surge would be free.

[2018-09-13 13:17] libetl commented on #1108
storybook test : run the storyshots ?

[2018-09-13 14:28] hackily commented on #4156
The same is happening for me with both

`@storybook/html: ^4.0.0-alpha.14` and
`@storybook/html: ^4.0.0-alpha.20`

[2018-09-13 15:32] reggi opened #4177 "Storybook + Typescript (Issue: Requires Babel "^7.0.0-0", but was loaded with "6.26.3")"
I am following the [Typescript](https://storybook.js.org/configurations/typescript-config/) documentation.

I am using version `^4.0.0-alpha.21` of storybook.

[code]

The issue here is that the default webpack config is depending on an old version of `babel-core`, when I install `@babel/core@7.0.1` it is still using `babel-core@6.26.3`.

[code]

[code]

[2018-09-13 16:05] igor-dv commented on #4177
You should also install `babel-loader` **8**.

[2018-09-13 16:07] stephenway commented on #4135
Same here on alpha.21

[code]

[2018-09-13 16:13] hassanshaikley opened #4178 "Error: Plugin/Preset files are not allowed to export objects, only functions."
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

Getting `Error: Plugin/Preset files are not allowed to export objects, only functions.`

### Steps to reproduce

package.json

[code]
.storybook/webpack.config.js
[code]

### Please specify which version of Storybook and optionally any affected addons that you're running

- @storybook/react: "^4.0.0-a

[2018-09-13 17:27] igor-dv commented on #4178
If you are using `@babel/core` (which is v7), you should use `babel-loader` v8. And probably `babel-core` bridge because of jest.

[2018-09-13 17:30] mgcrea opened #4179 "Broken with react-native@0.57 due to packager (local-cli) API change"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

Bug

### Steps to reproduce

On a fresh project (`react-native init`):

[code]

And another error after that:

[code]

Looks like this commit is the culprit:

https://github.com/facebook/react-native/commit/c5ce7626977a7650e8dce335f2ce78b94839a2a8#diff-4a892a6b8856f0253e2de7094e585ae6

### Please spec

[2018-09-13 20:44] brunoreis commented on #3855
This will be a great feature. I just faced this same need here with a very basic controlled component and had faced it before in other components also. Thanks for looking at it.

To keep up with current syntax seems a little challenge. Maybe you could use something like:

[code]

[2018-09-13 21:32] dkushner commented on #3044
Currently encountering this original error using `@storybook/vue: ^4.0.0-alpha.21` and `webpack: ^4.18.0`. Have tried most of the solutions in this thread to no avail, can anyone explain what's going on here? I find the labyrinth of webpack configs intractable.

[2018-09-13 21:48] dkushner commented on #3313
Currently experiencing this exact issue with `@storybook/vue: ^4.0.0-alpha.21` and `webpack: ^4.18.0.`.

[2018-09-13 22:15] dkushner commented on #3937
@morficus Your solution was dead on for my use case (which was identical to yours in that I had generated a project via vue-cli@3). Thank you!

[2018-09-13 22:48] billyvg commented on #4026
Getting the same issue in `3.4.10`

[2018-09-13 23:46] damianthekreeeytor commented on #3897
For those still running into the this issue, here are the steps i followed to get updated:

1. change the version number for "babel-preset-react-native" in package.json to: ```"babel-preset-react-native": "^4.0.1"```
2. I am using yarn so run ```yarn install```
3. Run ```react-native-git-upgrade```
4. Fix any conflicts; I had one
5. Remove babel-preset-react-native: ```yarn remove babel-preset-rea

[2018-09-14 03:52] dmngu9 commented on #4160
i figured it out. I forgot to set modules: true in css-loader :face_palm:

[2018-09-14 03:52] #4160 closed

[2018-09-14 03:54] SatoshiKawabata commented on #4174
@libetl  Thank you for your response.

I want to get `this` of riot tag in `.stories.js`. [This way](https://storybooks-riot.netlify.com/?selectedKind=Story%7CHow%20to%20create%20a%20story&selectedStory=built%20with%20tag&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Fstories%2Fstories-panel) is also good so we've tried it already. Can you implement it in riot addon? Or can we creat

[2018-09-14 07:55] airtonix commented on #3952
I get this error even without a custom `webpack.config.js`.

[2018-09-14 09:56] resting commented on #4179
Getting the same error.
Works with RN v0.55.4 though.

[2018-09-14 13:01] jacquesdev commented on #4179
This worked for me https://github.com/facebook/react-native/issues/20876

[2018-09-14 13:17] IanVS commented on #3855
@brunoreis, I would worry that changing the return signature of the knobs would be a breaking change.  My off-the-cuff suggestion would be to do something like:

[code]

Where the `onChange` callback might even allow currying, so that this would also work:

[code]

The important part is that the first argument must be the same as the label of the knob which should be changed.  I believe this would

[2018-09-14 13:36] brunoreis commented on #3855
@IanVS, that's nice. I agree with you about not changing the way things work. I could not find a way to do so because I did not think about using the label as a key. That might work. Let's see what @Hypnosphi has in mind.

[2018-09-14 14:35] cball commented on #4179
@jacquesdev mind providing more detail on the steps you took? I was able to get a project to build correctly using storybook v4.0.0-alpha.21, `.babelrc.js` and explicitly requiring `metro-react-native-babel-preset` but Storybook didn't seem to function correctly after that.

[2018-09-14 14:48] raynor85 commented on #3897
https://github.com/storybooks/storybook/issues/4179

[2018-09-14 15:09] raynor85 commented on #3897
@damianthekreeeytor I have tried your approach but it doesn't work. It is worth to mention I am using ```Typescript```, and I don't get any errors when I start storybook. The main difference I get compared to when I was using React 0.56 is that the storybook packager doesn't connect to the simulator, and I have also noticed that I can run simultaneously metro bundler with the storybook web socket.

[2018-09-14 15:34] cainlevy opened #4180 "SVGs are broken by quotes"
### Bug summary

SVGs used by my components are broken when rendered in Storybook. The data URI appears to be wrapped in double quotes.

### Steps to reproduce

1. Create a component like:

[code]

2. Note that the component renders fine in a normal Webpack setup.
3. Note that the component renders a broken image with Storybook's Webpack config.

The problem is that Storybook uses svg-url-loader b

[2018-09-14 15:35] raynor85 commented on #3897
@ivansnek it seems like we have the same issue. Storybook watcher is working but it is simply not connected to the simulator. I have also tried to create a fresh react-native project (version 0.57), but no luck.

[2018-09-14 15:38] cainlevy commented on #4180
If there is a use case for SVGs wrapped in double quotes (CSS?) then I think that use case should be forced to add the quotes. Otherwise `svg-url-loader` is not drop-in compatible with `url-loader`.

[2018-09-14 18:01] pelotom commented on #3865
Yeah. I would call that a workaround, not a fix.

[2018-09-14 19:32] ivansnek commented on #3897
Yep I also tried the same and 👎

[2018-09-14 20:59] simpleimpulse opened #4181 "[Feature Requests] - Branding options, Versioned stories & Segmentation options"
## Hello from Telus Digital!
We are currently auditing Storybook as a potential component cataloging solution, and wanted to reach out about a few desirable features that we deem important to the core of what we're building.
For more context:
- [Learn more about the Telus Design System](https://www.telus.com/en/digital/our-work/digital-platform/telus-design-system)
- [Check out the current state o

[2018-09-14 23:36] kdawgwilk commented on #4011
RN 0.57 is now out lol so this should prob track that instead?  Although most of the issues I saw with 0.56 I am still seeing with 0.57

[2018-09-14 23:39] kdawgwilk commented on #4011
@sirganya In my case I am not using webpack at all just a `.babelrc`
[code]

[2018-09-14 23:50] kdawgwilk commented on #4179
@cball I am in the same situation as you. I can get things to build correctly with `v4.0.0-alpha.21` but the packager doesn't appear to run and so the simulator just gives me a `No bundle URL present` red screen

[2018-09-15 01:08] haakenlid commented on #3865
I agree.

[2018-09-15 02:04] adamchenwei commented on #2695
@phillduffy may I know where to put that config?

[2018-09-15 02:14] adamchenwei opened #4182 "vuejs with storybook, always through error WARNING in ./node_modules/@storybook/vue/dist/client/preview/ErrorDisplay.vue?vue&type=template&id = ... & Module parse failed: Unexpected token (2:0) You may need an appropriate loader to handle this file type."
If you are reporting a bug or requesting support, start here:
### Bug or support request summary
Bug
_Please provide issue details here - What did you expect to happen? What happened instead?_
Expect storybook to run without issue
### Steps to reproduce
git clone https://github.com/adamchenwei/ez-timer/tree/feature/storybook
yarn install then yarn run storybook

![screen shot 2018-09-14 at 10 08 3

[2018-09-15 15:07] ljharb commented on #3955
Closing “stale” issues is user-hostile; this remains important.

[2018-09-15 20:09] Hypnosphi commented on #3855
Technically, that's not a problem right now. We have a major release upcoming. But it indeed would be better to allow some backwards compatibility.

I like the idea of currying support.

Yes they are, and actually they are unique across different types. So there should be no need in separate `change<Type>` exports, just `change` should be enough. That's basically what was made in https://github.co

[2018-09-15 20:13] Hypnosphi commented on #3994
@ndelangen AFAIR you had some open ticket on an external platform about this

[2018-09-16 06:39] igor-dv commented on #3955
I feel that `airbnb-js-shims` is too minor to have it as a peer dep. We already have IMO too much peer deps, and people are going crazy on them.

What is the problem with this?

[2018-09-16 06:42] ljharb commented on #3955
I’d suggest telling your users to use `install-peerdeps`, at which point they won’t have to care.

Either way, while it *is* a peer dep, this issue is asking you to widen the semver range to `^1 || ^2`.

If you want to make it *both* a dep and a peerDep, that should also ease users problems with it while still ensuring it’s not duplicated in the graph.

[2018-09-16 06:49] igor-dv commented on #3955
Currently, it's not a peer (at least in v4). It's a dependency of `@storybook/core`.

@Hypnosphi WDYT?

[2018-09-16 06:50] ljharb commented on #3955
Then by making it use the semver range I’ve asked for, Airbnb can use either version, and it will be deduped out of storybook/react - there’s still a benefit.

[2018-09-16 06:58] igor-dv commented on #3955
Yeah, I understand that making it a peer will allow us to extend the range. But I still want to get feedback of other maintainers about making it a peer.

Technically, every dependency that we have, can conflict with users setup 🤷‍♂️  we can't make every dependency to be a peer, right?

So, maybe we can solve your problem somehow else? If you are having two versions of this package in a graph, may

[2018-09-16 07:00] ljharb commented on #3955
Sorry for the confusion - you don’t need to make it a peer dep.

If you merely make the *dep* be `^1 || ^2` that will solve my use case.

[2018-09-16 07:52] igor-dv commented on #3955
I can't understand how it will solve it (sry for being picky).
If we will add range to the _strong dep_ it will just install the latest one for you. What am I missing?

[2018-09-16 07:56] igor-dv commented on #3955
I've checked it locally with this structure:

![image](https://user-images.githubusercontent.com/7867954/45594171-da1b6580-b99e-11e8-8cb0-f518125f317f.png)

![image](https://user-images.githubusercontent.com/7867954/45594176-e9021800-b99e-11e8-982a-289d15431683.png)

![image](https://user-images.githubusercontent.com/7867954/45594177-f3bcad00-b99e-11e8-888e-66cbb642416d.png)

`npm list` gives me t

[2018-09-16 11:05] Hypnosphi commented on #3955
Agree with @igor-dv

Telling the users to use some additional tool just to make things work doesn't sound like a good idea to me

@ljharb is probably going to rely on npm deduping. Namely, that it will pick the same version as they have in their app

[2018-09-16 11:09] Hypnosphi commented on #3955
I see two other options there:

1. Airbnb adds `resolve.alias` in their custom webpack config
2. We remove `polyfills.js` in 4.0 and add a note in `MIGRATION.md` that users now should add the polyfills they need themselves. After all, they have to do it for their own app anyway.

[2018-09-16 14:37] ljharb commented on #3955
if the range allows v1, and v1 is already present in the tree, then npm won’t install v2. No webpack is required.

Since the mention of peer deps was off topic and a misunderstanding, the (good) advice re install-peerdeps isn’t related to this thread.

[2018-09-16 15:06] Hypnosphi commented on #3955
Looks like @igor-dv provided a counter-example: https://github.com/storybooks/storybook/issues/3955#issuecomment-421719272
Anyway, even if it was like you say, it would be an optimisation not a contract you could rely on

[2018-09-16 15:10] ljharb commented on #3955
That’s not how it works in practice, if you have a lockfile and v1 is at the top of the tree, and then you install something that depends on “v1 || v2” then it will not install v2.

It’s quite reliable; i rely on it with many packages. It’s how npm and semver work ¯\\\_(ツ)_/¯

[2018-09-16 15:27] Hypnosphi commented on #3955
You're a lucky man then. That doesn't make current npm behavior in that aspect a contract.

My advice is to use option 1 from https://github.com/storybooks/storybook/issues/3955#issuecomment-421746703. It will provide a guarantee.
Here's documentation for custom webpack configs:
https://storybook.js.org/configurations/custom-webpack-config/

[2018-09-16 15:35] ljharb commented on #3955
We need it across not just webpack, since the shims are also used in node.

Its a contract npm provides since its inception. It’s a shame you don’t want to add 4 characters and no behavior change to “dependencies” to unblock Airbnb from continuing to use storybook.

[2018-09-16 15:43] igor-dv commented on #3955
@Hypnosphi since it won't affect us, let's add this to help Airbnb friends ☺

[2018-09-16 15:46] igor-dv commented on #3955
@ljharb, BTW, if you could point us to any example or a blog post about this, that'd be great. Maybe it will solve us something as well

[2018-09-16 15:53] ljharb commented on #3955
I’m not aware of any specifically; it’s just the way npm handles its dependency graph. Shims are a  unique category because they’re usually only dependencies of apps, but due to storybook’s iframes, they’re needed in this package - as such, something that would normally always be a singleton by virtue of only being defined in the top level package.json isn’t, and widening the dep range helps avoid

[2018-09-16 21:38] Hypnosphi commented on #3955
Npm doesn't have lockfiles since its inception. And as demonstrated in https://github.com/storybooks/storybook/issues/3955#issuecomment-421719272, it doesn't work like that without a pre-generated lockfile.

What's wrong with using webpack's `resolve.alias` as a more explicit way to provide your own version of package?

[2018-09-16 21:40] Hypnosphi commented on #3955
@igor-dv I'd prefer not to help anyone to shoot in their feet.

[2018-09-16 22:15] ljharb commented on #3955
Yes, npm has had shrinkwrap for a long time.

Again, webpack will not work because we are using the shims in node as well. Webpack is not an option.

Also, it definitely works like this without a lockfile, although installation order might matter.

This won’t cause any pain for users - most users will just get v2. This will just prevent Airbnb from publicly abandoning storybook. Why is this change

[2018-09-17 00:51] Hypnosphi commented on #3955
Sorry, I don't get how is Storybook relevant heue

[2018-09-17 00:55] Hypnosphi commented on #3955
Because the semantics of it is "let npm install either v1 or v2 depending of what its optimization algorithms find reasonable". This is not exactly what you, or anyone else, need.

[2018-09-17 01:12] Hypnosphi commented on #3955
The custom config you need may look like this:

[code]

I'll really appreciate if you actually try it and tell us if anything goes wrong with it.

[2018-09-17 05:34] ljharb commented on #3955
@Hypnosphi this is exactly what I need, and I maintain what everyone needs. Whether they have v1 or v2 won't impact storybook's code, but it *will* impact their application's code.

The issue is that i need storybook to use v1, because my application's code uses v1. Later, when I upgrade to v2, I'll need storybook to use that. I'm not clear on how storybook's webpack config can address that, but e

[2018-09-17 09:07] Hypnosphi commented on #3955
What you need is to use everywhere the version that you depend on. The `resolve.alias` solution gives you exactly that, thanks to `require.resolve` part. And it's an explicit way to say "I want this package to be a singleton".

If 64 kilobytes of disk space is a real issue, we can consider [option 2](https://github.com/storybooks/storybook/issues/3955#issuecomment-421746703), that is removing the

[2018-09-17 10:34] jogelin commented on #3995
Small update to avoid deletion of the issue ;)

Repository of the POC: https://github.com/jogelin/storybook-builders

Next step: integrate in the storybook repository to see how could we build the builders and update the core that could match the builders "way"

[2018-09-17 12:52] JiiB commented on #4178
@hassanshaikley any news?

I get the same error. In my app the `babel-preset-react-app` package seems do be the problem. I'm still searching for a solution.

[2018-09-17 12:57] igor-dv commented on #4178
Did you try to do what I wrote?

[2018-09-17 13:05] Hypnosphi commented on #4178
@hassanshaikley why do you have `@babel/core` dependency? Looks like all your plugin and preset dependencies are for babel 6

[2018-09-17 13:05] Hypnosphi commented on #4178
@JiiB please try `babel-preset-react-app@canary`

[2018-09-17 13:57] martinmacko47 commented on #4078
Yes, the bug is still there.

[2018-09-17 13:59] JiiB commented on #4178
@Hypnosphi Thanks for your reply but unfortunately is still get the same error.

### Error:
`Module build failed: Error: Plugin/Preset files are not allowed to export objects, only functions. In /Users/jiib/Documents/rasch-stack/node_modules/babel-preset-stage-0/lib/index.js
`

I checked my `yarn.lock` file and searched for `babel-preset-stage-0`. Storybook is the only package that depends on `bab

[2018-09-17 14:41] erickwilder opened #4186 "[vue] Unpin peer dependency versions"
### Bug or support request summary

`@storybook/vue` contains pinned versions for `vue` and `vue-template-loader`. React for example uses a more relaxed version notation:

[code]

I have an environment with `vue@2.5.17` and npm still complain about unmet dependency of `2.5.16` from `@storybook/vue`

### Steps to reproduce
1. Initialize a storybook project
2. Install vue with `npm install vue@2`

T

[2018-09-17 15:19] ljharb commented on #3955
64k of disk space is far more of an issue than 5 characters in a semver range that 99% of users will never interact with.

[2018-09-17 15:29] Hypnosphi commented on #3955
I never sad the characters are a problem

[2018-09-17 15:35] ljharb commented on #3955
Then i still don’t understand why you aren’t willing to widen the bottom end of the semver range for this dependency :-/

[2018-09-17 15:37] Hypnosphi commented on #3955
Because it isn't guaranteed to solve your issue. It most probably will, but it could break with any npm patch release.

[2018-09-17 15:46] ljharb commented on #3955
It’s guaranteed to solve my issue, in my setup, with a lockfile. It wouldn’t break unless you then raised the lower bound, which you’d have no reason to do, but that’s a risk I’m happy to accept.

[2018-09-17 15:48] Hypnosphi commented on #3955
OK please open a PR. Someone will definitely approve it

[2018-09-17 15:57] ljharb commented on #3955
I’ll try! Now that master is the v4 alpha, to where should i make a PR to get this in v3?

[2018-09-17 16:31] adamchenwei opened #4188 "storybook with vuejs is not processing correctly for vue component with jsx render method"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary
I created a repo to experiment writing vue with jsx and load it into storybook, but its not working properly. I am not sure what I need to add to fix it.
It generates error of `Module build failed: SyntaxError: Unexpected token (19:6)` for returned template in render function for a vuejs component.

_P

[2018-09-17 17:14] adamchenwei commented on #4182
ref also with https://github.com/storybooks/storybook/issues/4188

[2018-09-17 17:21] shilman commented on #3955
@ljharb Just PR to master and we'll cherry-pick it into v3 😄

[2018-09-17 18:13] ljharb commented on #3955
@shilman in master, it's in storybook/core, in v3, it's in storybook/react, but sure, np. (this is why i filed an issue in the first place instead of just opening a PR; because having master be an unreleased version makes contributing very confusing)

[2018-09-17 18:14] ljharb commented on #3955
Filed #4189 for v4.

[2018-09-17 18:19] shilman commented on #3955
@ljharb I see--the 3.4 release branch is `release/3.4`. Feel free to issue another PR there or I can handle it. Will get on this this afternoon.

[2018-09-17 18:31] ljharb commented on #3955
@shilman thanks, i'll open up that PR as well.

[2018-09-17 18:34] ljharb commented on #3955
@shilman #4190

[2018-09-17 20:31] Sujimoshi opened #4191 "Storybook 4 not compatible with react 15"
### Bug
Expected: Min version of react is set to `react >= 15.0.0` , but real minimal version of `react` set by `@emotion/core` which need `react >= 16.3.0`
Using react 15 produce error on loading storybook
![image](https://user-images.githubusercontent.com/10153611/45650818-30d88a80-bad8-11e8-985d-b0ce61a745ad.png)

### Please specify which version of Storybook and optionally any affected addons

[2018-09-17 21:55] ljharb commented on #3955
Both PRs are now merged, thanks!!

[2018-09-17 21:55] #3955 closed

[2018-09-17 22:32] Hypnosphi commented on #4178
Do you have a dependency on `babel-core@bridge`?

[2018-09-17 23:09] shilman commented on #3955
@ljharb Here's the first release: https://github.com/storybooks/storybook/releases/tag/v3.4.11

Let me know if that works for you, and I'll get the other one out with the other alpha changes. Fingers crossed!

[2018-09-18 12:34] Jero786 commented on #3564
@zhsisusie that fix my problem too. Thanks!

[2018-09-18 12:40] pksunkara opened #4192 "Remove Babel@6 completely from all dependencies of storybook"
Installing storybook apps or addons currently installs babel@6 because of emotion@9. This causes issues for people who are using babel@7 in their apps. But the reverse should be okay.

### Please specify which version of Storybook and optionally any affected addons that you're running

- @storybook/* 4.0.0-alpha.21

### Acceptance criteria

Installing storybook apps or addons should never install

[2018-09-18 12:40] pksunkara commented on #4177
Might be related to https://github.com/storybooks/storybook/issues/4192

[2018-09-18 14:00] Sujimoshi commented on #4191
It's frustrating, since I can not use the react 15 and webpack 4 in my application if it use storybook

[2018-09-18 15:13] ndelangen commented on #4191
Hey @Sujimoshi thanks for the issue.

We want to help you as much as wel can. I hope you understand we're doing the best we can to stay backwards compatible AND allow users to use the latest and greatest AND have a nice experience doing it ourselves.

Right now this is these thoughts on the matter:
We're moving forward with React 16 compatibility only for the moment. We didn't want to exclude Reac

[2018-09-18 15:37] sztrzask opened #4197 "Build-storybook in docker yields no files"
### Bug or support request summary

When trying to build storybook within docker, the output folder contains only favicon, without any actual static files.

### Steps to reproduce

Create minimal docker setup. Create CRA app with storybook from cli.

Create following Dockerfile
[code]

### Please specify which version of Storybook and optionally any affected addons that you're running

  "@storybo

[2018-09-18 17:07] hassanshaikley commented on #4178
@JiiB I eventually downgraded storybook & webpack

[2018-09-18 18:54] Sujimoshi commented on #4191
Isn't alpha.20 have the same dependencies?

[2018-09-18 18:54] Sujimoshi commented on #4191
Isn't alpha.20 have the same dependencies?

[2018-09-18 19:05] Sujimoshi commented on #4191
I am not familiar with storybook source code, but why not just remove react from peerDeps, and allow storybook webpack bundle two versions of react

[2018-09-18 20:15] brochington commented on #4191
I am in the process of updating a React 15 application to use Webpack 4 and Babel 7. An upgrade to React 16 is in the horizon, but our app is quite large, and will take quite a long time.

Of the options that @ndelangen posted above, I chose to pin the version of Storybook.

Just a note that I needed to pin to version 4.0.0-alpha.18 to get things to work.

[2018-09-18 20:27] Hypnosphi commented on #4191
@Sujimoshi how does your `.storybook/webpack.config.js` look? There's a chance we could find out how to make it work with `storybook@3.4`

[2018-09-18 21:47] Sujimoshi commented on #4191
Thank for you reply, my project is huge, so i can't just update to react 16. But pin to 4.0.0-alpha.18 make sense.

[2018-09-18 21:51] Sujimoshi commented on #4191
I'm in no hurry to switch to webpack 4. I just would like to solve the problem with backward compatibility, and help Storybook. Anyway here is my webpack 4 config:
[code]

[2018-09-18 22:02] Sujimoshi commented on #4191
I just managed to launch Storybook 4 with webpack 4 and react 15. As I mentioned above, I just set react and react-dom 16.4.1 as forward dependencies of `Storybook/core`, `Storybook/react` and `Storybook/ui`. So after the launch, there were two versions of the react inside the bundle. React 15 for my project, and React 16 for storybook components. And it works

[2018-09-18 22:05] Sujimoshi commented on #4191
Why react is listed as peerDependency, if Storybook generally use react for its ui. I'm surprised that this problem did not arise before

[2018-09-18 22:09] ndelangen commented on #3855
We can have this:
[code]
without having to change the return type of `text`.

Javascript functions are objects and thus can have properties.
Object can be destructured.

<img width="208" alt="screen shot 2018-09-19 at 00 08 35" src="https://user-images.githubusercontent.com/3070389/45719306-35687600-bba0-11e8-8f24-8c9b7db15784.png">

[2018-09-18 22:13] ndelangen commented on #4191
Can you please help me understand what you mean with this?
I'm unfamiliar with "forward dependencies".

[2018-09-18 22:19] Sujimoshi commented on #4191
Direct dependency (just `dependencies` in `package.json`), sorry for my english

[2018-09-18 22:30] ndelangen commented on #4191
No problem, I think I understand now.

I guess if we set react & react-dom as regular dependencies with 16 or higher, this will fix this issue too.

Is what you're saying..?

---

Yeah that sounds like something we could do, to preserve React <16 compatibility!

@Hypnosphi is our peerDependency master, do you see any issues with this?

The version of react Storybook needs, is whatever emotion 10 n

[2018-09-18 22:37] Sujimoshi commented on #4191
Exactly

[2018-09-18 23:08] chovy commented on #4001
No, I did not solve the problem.

[2018-09-19 01:38] Hypnosphi commented on #4191
@Sujimoshi you have no plugins, so there are good chances that your setup will work with Storybook 3.4 and webpack 4 as is

[2018-09-19 01:40] Hypnosphi commented on #4191
We use React & React DOM in preview iframe as well: https://github.com/storybooks/storybook/blob/master/app/react/src/client/preview/render.js

[2018-09-19 03:16] kyleoliveiro commented on #3813
This is happening again with v4.0.0-alpha.20.

[2018-09-19 04:52] davidqqq commented on #2862
Hi I can confirm same thing happens when using button.
[code]
Each click re-mount and re-rendered the component. Any way to prevent re-mounting?

[2018-09-19 04:54] gmukul01 opened #4200 "All addon's config is coming in one tile"
### Bug

All addon's config is coming in one tile

![image](https://user-images.githubusercontent.com/3636885/45731552-bf8ef980-bbf5-11e8-97b5-6620820fdbee.png)

### Version of Storybook and addon, i have used

- @storybook/addon-actions": "^3.4.10"
- @storybook/addon-info": "^3.4.10"
- @storybook/addon-knobs": "^3.4.11"
- @storybook/addon-options": "^3.4.10"
- @storybook/addon-viewport": "^3.4.11

[2018-09-19 05:01] gmukul01 opened #4201 "Lot of unwanted prop types is coming"
### Bug
Lot of unwanted prop types is coming

![image](https://user-images.githubusercontent.com/3636885/45731759-b81c2000-bbf6-11e8-875d-bdadb4154ef4.png)

### Version of Storybook and addon, i have used

- @storybook/addon-actions": "^3.4.10"
- @storybook/addon-info": "^3.4.10"
- @storybook/addon-knobs": "^3.4.11"
- @storybook/addon-options": "^3.4.10"
- @storybook/addon-viewport": "^3.4.11"
- @

[2018-09-19 05:54] ljharb commented on #3955
@shilman thanks, this worked perfectly and allowed the deduping we needed :-)

[2018-09-19 09:38] Sujimoshi commented on #4191
Is this a problem?

Not the best solution, as for me

Not an option, I have other configurations that require plug-ins

[2018-09-19 13:13] Undistraction opened #4202 "Request: Don't Show Wrapper Components In Story Source"
Currently any layout component used to wrap the Component will be included in the story Source, for example:

[code]

Will result in the following in the Story Source:

[code]

However this wrapper is only there for laying out the Component. It shouldn't appear in the story source as it has nothing to do with the story.

[2018-09-19 14:43] Hypnosphi commented on #4191
those will require some duplication between `webpack.config.js` and `.storybook/webpack.config.js`

[2018-09-19 15:00] Sujimoshi commented on #4191
What if pass specific version of ReactDOM as option to storybook

[2018-09-19 15:55] aminimalanimal commented on #3813
@kyleoliveiro Please open a new ticket for it. I tried upgrading to alpha 20 and it didn't go well for me and I had to reverse the update back to alpha 14, so if you're on 20, you can at least give them an accurate ticket that applies to the version they're currently working on.

[2018-09-19 15:58] shilman commented on #4126
Almost there: https://github.com/js-org/js.org/pull/2340

[2018-09-19 17:46] Hypnosphi commented on #4191
I'd say that `resolve.alias` is such an option =)

[2018-09-19 18:47] Hypnosphi commented on #3855
@ndelangen the `text` function is indeed an object, but its return value isn't

[2018-09-19 18:51] Hypnosphi commented on #3855
We could have something like this though (the name is disputable):

[code]

[2018-09-19 21:28] shilman opened #4204 "Publishing broken in Lerna 3"
Publishing `4.0.0-alpha.22` in master. All the packages got published properly (AFAIK), but the overall command failed, due to this line in `package.json`:

[code]

Here's the log:

[code]

I believe this is related to:
- the CLI smoke tests by @igor-dv https://github.com/storybooks/storybook/commit/c5f54338a2e4bd65e1be09eedb4f692f86df0edf
- the upgrade to lerna@3 by @pksunkara https://github.com/

[2018-09-19 21:29] shilman commented on #4204
See also: https://github.com/lerna/lerna/issues/1602

Thanks @Hypnosphi !

[2018-09-19 22:14] pksunkara commented on #4204
We don't need to duplicate the packages information in lerna.json. We can add an ignore option for publish configuration.

[2018-09-19 23:04] Jessica-Koch commented on #3984
@ndelangen I would be willing to work on this, I personally had an issue with <kbd>⌘</kbd><kbd>⇧</kbd> <kbd>C</kbd> being taken because I use that specific command for the Chrome inspector.

[2018-09-19 23:29] Hypnosphi commented on #4204
And hope that this check comes before the one that causes the failure =)

[2018-09-19 23:45] mcmar commented on #3897
@damianthekreeeytor You are a god amongst men. https://github.com/storybooks/storybook/issues/3897#issuecomment-421186803 saved my butt

[2018-09-20 01:17] #4044 closed

[2018-09-20 04:58] jaywick commented on #1578
FYI the URL is now https://github.com/storybooks/storybook/tree/master/addons/storyshots/storyshots-core#storykindregex

[2018-09-20 08:06] noscripter commented on #4002
ping @arunoda @Hypnosphi @ndelangen @mnmtanish @shilman , since node.js does not support es modules by default by now, it is not recommended to use `import` directly in your modules, yet the published latest tag was set to be `3.4.11` which uses `import` directly.

So, my suggestion is, either:

-   transpile the code to normal commonjs codes

or:

-  set the latest tag to versions not using `impo

[2018-09-20 08:06] noscripter commented on #4002
ref https://github.com/storybooks/storybook/issues/3035

[2018-09-20 09:43] liangtongzhuo commented on #4135
How to solve？

[2018-09-20 11:16] Hypnosphi commented on #4002
We use babel-register

[2018-09-20 11:16] Hypnosphi commented on #4002
@q-jason which version of @storybook/cli is it?

[2018-09-20 11:38] #3854 closed

[2018-09-20 13:54] pksunkara commented on #4204
Did some research. There's no ignore option for publish, and putting `packages` in lerna.json won't work if we still want to use yarn workspaces. A better way of fixing this issue would be to edit the testing script to write this line to package.json when testing.

[2018-09-20 13:57] griable commented on #4179
Based on @jacquesdev comment, I followed this [recommandation](https://github.com/facebook/react-native/issues/20876#issuecomment-422555476).

I got it working by adding those two dependencies:

- "@babel/core": "7.1.0",
- "babel-core": "7.0.0-bridge.0",

[2018-09-20 14:15] Hypnosphi commented on #4204
What do you mean? We don't use `lerna bootstrap` command, we just `yarn install` directly. How can the latter be affected by `lerna.json`?

[2018-09-20 14:18] pksunkara commented on #4204
I mean, `lerna` won't respect `packages` in lerna.json when we are using yarn workspaces. https://github.com/lerna/lerna/blob/62843b04e3a5a03012ceabe465519b39a09fbcc1/core/project/index.js#L73

[2018-09-20 14:50] Hypnosphi commented on #4204
The long-term solution is to make https://github.com/storybooks/storybook/blob/master/scripts/run-e2e.sh work
CC @ndelangen

[2018-09-20 14:51] anthon commented on #4093
+1 using @storybook/react@4.0.0-alpha.22 and @storybook/addon-knobs@4.0.0-alpha.22

[code]

Seems to be an issue with `this.popover` never being set.

[2018-09-20 15:07] peter-mouland commented on #1208
if anyone else ends up coming back here (_years later_) then my solution ends up being quick and simple.

The reason I was interested in a node-api (more recently) is because storybook takes an age to start (300+ components).  Luckily for me, in CI, we've already _built_ storybook (to publish demos per feature branch).  This means that we can run a simple static server + anything in the `middlewar

[2018-09-20 15:09] pksunkara commented on #4204
Yeah, to finalize the discussion, these are the possible solutions:

1. Remove `useWorkspaces` and add `packages` in lerna.json
2. Fix run-e2e.sh

[2018-09-20 17:10] Jessica-Koch commented on #3984
@ndelangen, I assume that you want users to have the ability to change the existing shortcuts, but are there any additional ones you had in mind to configure?  Otherwise, I can start working on the customizability of the existing shortcuts

[2018-09-20 17:27] shilman opened #4207 "Storybook docs deployment"
Now that we are moved over to Netlify (https://github.com/storybooks/storybook/issues/4126), let's streamline our docs publishing flow.
- [ ] Deploy based on branch? Git tag? Publish?
- [ ] We should also figure out branch previews, though maybe that's a separate issue.

[2018-09-20 17:28] shilman commented on #4126
@pksunkara Closing this and have opened up a follow-up issue regarding deployment: https://github.com/storybooks/storybook/issues/4207

[2018-09-20 17:28] #4126 closed

[2018-09-20 19:11] Amurmurmur commented on #4179
@griable +1

[2018-09-20 20:59] stephenway commented on #4135
@liangtongzhuo That's correct.

[2018-09-20 21:34] johntips commented on #4157
👍

[2018-09-20 22:28] levilansing commented on #752
`rm -rf node-modules && npm i`

Just had this exact issue. Storybooks v3 though I doubt it's related to Storybooks. `rm -rf node-modules && npm i` did the trick for me. I'd believe it's related to fsevents, but I did a clean npm install first. The issue started after installing/uninstalling a bunch of node modules.

[2018-09-20 23:51] selipso opened #4208 "React Native Vector Icons don't load on react-native-web storybook"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary
I'm trying to add react-native-vector-icons as a font to my react-native-web project using storybook. I followed the instructions on react-native-vector-icons for web and was able to get the icons to show up in my project. However, they don't show up in my storybook even though I added the same configu

[2018-09-21 01:34] matheuscouto commented on #4179
@griable +1

[2018-09-21 05:09] ryanfitzer commented on #4087
I'm seeing the same issue with:

[code]

[2018-09-21 08:26] #4186 closed

[2018-09-21 10:13] actraiser opened #4210 "How to get storybook dark styles as shown in React example?"
Sorry if this is obvious but I could not find any resource on how to switch my Storybook project to the dark theme as used in [the official Example](https://storybooks-official.netlify.com/). I use Storybook 4.0.0-alpha.22.

Pointer on how to configure the theme would be appreciated.

Greets
-act

[2018-09-21 10:28] #4042 closed

[2018-09-21 10:34] pksunkara commented on #1433
@shilman Are you still encountering this on release/3.4 branch?

[2018-09-21 11:00] erickwilder commented on #4186
Awesome! Thanks for the hard work! 👍

[2018-09-21 11:30] mrmartineau commented on #4177
I am also seeing the similar errors when using version `^4.0.0-alpha.22` of the various storybook packages..

[code]

here's my `devDependencies`:

[code]

[2018-09-21 14:18] mrmartineau commented on #4177
thanks @reggi, I just tried it with babel-bridge to no avail:

this line was added to my `devDependencies`:

[code]

It's this error that consfuses me:

[code]

Why would it say that when there is a config in that directory??

[2018-09-21 14:30] Keraito commented on #4210
Hey @actraiser, the repo and configuration for the official Storybook example can be found here: https://github.com/storybooks/storybook/blob/master/examples/official-storybook/config.js. It also includes the code necessary to get the dark theme

[2018-09-21 14:38] Keraito commented on #4157
Hey @qianqian05723, it's basically as @katrynmc 	said. The documentation on the `master` branch is for the `alpha` release of Storybook packages, while you're using the `3.4` release. The documentation for that stable release is on another branch: https://github.com/storybooks/storybook/tree/release/3.4/addons/background, where as mentioned by @katrynmc 	the addon-backgrounds still made use of a d

[2018-09-21 14:43] Keraito commented on #4207
Do you mean with `based on branch` that there's a dedicated branch with only the documentation? Using a git tag on merge seems like the most efficient way, although I think that was previously also how it worked and from time to time there would slip a PR through.

[2018-09-21 15:17] #3968 closed

[2018-09-21 16:43] Keraito commented on #4072
hey @mjoyce91 	I initialized and ran Storybook on a fresh `create-react-app` project in a `t est` folder (with space), and it succeeded. Could you try with an alpha version of Storybook?

[2018-09-21 16:53] actraiser commented on #4210
Much appreciated, thanks for the link! I will have a look and eventually open a PR for the docs.

Greets
-act

[2018-09-21 17:09] Keraito opened #4211 "Issue with Storybook on fresh CRA project"
Installed Storybook on a fresh CRA project. It compiled and ran perfectly fine, but there seem to be some things missing (font + no borders). Console logs no errors.

![image](https://user-images.githubusercontent.com/5955441/45895369-519f2980-bdd1-11e8-9bd2-bac0f2f38a41.png)

# Versions
- create-react-app -V: 1.5.2
- storybook-cli: current master branch / 4.0.0-alpha.22

[2018-09-21 17:20] shilman opened #4212 "Storybook CLI not runnable from npx"
## why
When I run the following commands (in `@4.0.0-alpha.22`), it should install Storybook:

[code]

What it actually does is run `getstorybook` and fails midway through:
[code]

Note that the following works:
[code]

## what
- [ ] `npx @storybook/cli@alpha` should run `storybook` instead of `getstorybook`
- [ ] `getstorybook` should either exit after deprecation warning or run to completion

[2018-09-21 17:33] shilman commented on #1433
Nope, it looks like it's been fixed across the board. Closing this. Yay!

[2018-09-21 17:33] #1433 closed

[2018-09-21 18:05] Keraito commented on #4212
what does the `-p` flag do?

[2018-09-21 18:16] Keraito commented on #4212
Could it be possible that the first issue is caused by the order in https://github.com/storybooks/storybook/blob/master/lib/cli/package.json#L23?

[2018-09-21 22:07] eddiemonge commented on #552
This seems to have regressed:

[code]

[2018-09-22 02:44] unknown24 opened #4215 "Select knob cant pick any value in react native"
### Bug or support request summary

1. Cant pick any value
2. Missing knobs after change tab

### Please specify which version of Storybook and optionally any affected addons that you're running

-  "@storybook/addons": "^3.4.11",
-  "@storybook/react-native": "^3.4.11",
-  "@storybook/addon-knobs": "^3.4.11",

### Affected platforms

- React Native https://github.com/expo/react-native/archive/sdk

[2018-09-22 05:56] pixeleate commented on #3346
this issue can be fixed by adding the correct plugin in the `.babelrc` file, since the `tsconfig` file is configured to generate `commonjs` compatible modules, we need to use the proper plugin

[code]
This is what I have in my `.babelrc` file and everything is working fine, I have my `tsconfig` file with exactly the same options and values.

`"@babel/core"` **"^7.1.0"**
`"@storybook/react"` **^4.0

[2018-09-22 16:02] ca057 opened #4216 "Contribution guide for knobs"
Hey!

First of all - thanks for an amazing tool!

I found an issue in the knobs I would like to fix, as I'm affected myself. Apparently, I've problems getting a setup where I can work on a knob and test my changes in one of the examples.

My idea is to use the kitchen sink example to run the actual storybook to test my changes while developing on the knobs.

I've never worked with a monorepo so fa

[2018-09-22 16:23] nelsonomuto opened #4217 "build-storybook not exiting after build completes"
### Bug or support request summary
- Running build-storybook works but does not exit the process making it impossible to proceed to in a CI process or script.

### Steps to reproduce

- Run
`npx build-storybook`

<img width="246" alt="screen shot 2018-09-22 at 9 21 32 am" src="https://user-images.githubusercontent.com/1546207/45919361-f6108280-be48-11e8-9dbb-3f9682d651e0.png">

### Please specify

[2018-09-22 17:54] dangreenisrael commented on #4197
When I try using this dockerfile and then running `docker ps` I see no running containers. This is (I think) because the docker container exits when it finished `RUN npm run build-storybook`.

Were you able to shell into the container and verify that the files weren't there or were you looking on your local machine?

[2018-09-22 18:51] Keraito commented on #4216
Hey @ca057, awesome to hear that you're interested in helping out 😊

Take a look at the `CONTRIBUTING.MD` file, it should be a great starting point for getting to work with the mono repo and kitchen sinks. Especially https://github.com/storybooks/storybook/blob/master/CONTRIBUTING.md#initial-setup this part (Initial Setup) together with (Working with the kitchen sink apps) should answer most of yo

[2018-09-22 19:51] dangreenisrael commented on #4197
After adding `CMD tail -f /dev/null` to the end of the docker file (just to keep it running) I was able to SSH in and verify that the files are there:

<img width="1327" alt="screen shot 2018-09-22 at 3 50 15 pm" src="https://user-images.githubusercontent.com/4509692/45921199-46a2d280-be7f-11e8-9ac0-02c211b739a7.png">

<details><summary>My `package.json`</summary>
<p>
<pre>
{
  "name": "temp-react

[2018-09-22 19:52] dangreenisrael commented on #4197
@sztrzask Can you provide other steps to reproduce this issue?

[2018-09-22 21:11] K-Eo commented on #4179
I have the same issue with a fresh react-native app. As @griable said on changing `babel-core` to `7.0.0-bridge.0` fixes metro module error and I can run the server but the Storybook UI doesn't show any component.

[2018-09-22 23:12] ndelangen commented on #4139
In my branch the search is expanded to full text on every property of the story.

I'd like to implement fuzzy search on it, would you care to help with that @nicholasmaddren or @christopherstat ?

[2018-09-22 23:31] ndelangen commented on #4207
We link master to storybook-next.netlify.com or something and a release/stable branch to storybook.js.org
When doing a latest release we merge master into the release/stable branch.

would be my suggestion.

We can cherry-pick documentation changes or security fixes unto the release/stable branch too

[2018-09-23 11:32] ndelangen commented on #3984
@Jessica-Koch AWESOME, please checkout my ui-refactor branch
https://github.com/storybooks/storybook/pull/4086

We should develop this feature on top of this branch.

I haven't given how to do this a lot of thought yet, Would you want to schedule a online meeting to discuss perhaps?

[2018-09-23 11:58] ndelangen commented on #3855
why won't this work?

[code]

[2018-09-23 14:04] ndelangen commented on #3837
@trentrand will be part of 4.0.0 via this PR:
https://github.com/storybooks/storybook/pull/4086

[2018-09-23 14:19] ndelangen commented on #4191
As long as we keep the react in the iframe compatible with react15 we're good on react15 compatibility, IF we make sure iframe and manager can have a separate versions of react.

I think it's natural for there to be 2 versions of react there, otherwise react-users are locked to use the same version of react as we are.

[2018-09-23 14:49] #3946 closed

[2018-09-23 15:49] #3947 closed

[2018-09-23 15:49] #3943 closed

[2018-09-23 18:33] Jessica-Koch commented on #3984
@ndelangen sounds great, I'm also on the storybook slack.  I'm glad you responded because I would love input on how the UI would ideally be implemented, I have some ideas but felt uncomfortable just throwing them together.

[2018-09-23 19:27] Hypnosphi commented on #4191
I thinlk we can just prebuild manager and bundle our react 16 into dist

[2018-09-23 19:27] Hypnosphi commented on #4191
`addons.js` makes it a bit tricky but still possible

[2018-09-23 19:29] Sujimoshi commented on #4191
Is I know webpack doesn't have such option.

[2018-09-23 19:30] Hypnosphi commented on #3855
I was talking about `x = () => {}`.

If we make `text` return a function, users need to change their code from `<Foo bar={text('Bar', '')}>` to `<Foo bar={text('Bar', '')()}>`

[2018-09-23 19:43] Hypnosphi commented on #4191
And we probably can't use emotion in info addon unless we do #1501

[2018-09-23 19:44] Hypnosphi commented on #4207
Yes, it's how it works now and it works quite well.

[2018-09-23 21:33] ndelangen commented on #3994
Yes https://storybook.canny.io/roadmap/p/add-ability-to-run-multiple-frameworks-in-1-storybook

[2018-09-24 06:40] ndelangen commented on #4191
@Hypnosphi docs-view will solve this. I'd say we're not doing #1501 and we'll assist people migrating to docs-view instead. (which will not have the react in preview)

[2018-09-24 07:38] ndelangen commented on #3855
I see

[2018-09-24 07:40] ndelangen commented on #3984
I messaged you on slack!

[2018-09-24 07:42] ndelangen commented on #4135
Who'd vote in favor of just using the browser native datepicker?

[2018-09-24 08:58] sztrzask commented on #4197
@dangreenisrael

Huh, this certainly is weird.

I have a Linux based TFS agent. I can only say that if I try to run the `build-storybook` the files are not created on that specific machine. I did shelled into container and verified the files are not there - even went so far as adding extra build step to list them after the `RUN npm... ` step.

The same dockerfile run on Windows with Docker for Win

[2018-09-24 10:52] robwalkerco commented on #4179
@K-Eo If you run storybook with the `--skip-packager` option, you can continue to use the normal react-native packager that you app uses, and then
`import StorybookUI from '../storybook/storybook'`
add `<StorybookUI />` as a Component in your app to view it.

I was able to get it working that way, so hopefully it will work ok for you too...
(Also, see https://github.com/storybooks/storybook/pull/4

[2018-09-24 11:26] simaks opened #4220 "Addon-info: Source while using JSS injectSheet"
### Bug or support request summary
I have created <Button> component and use JSS to style it. So what I export is:
`export default injectSheet(styles)(Button)`
Then I try to use it in storybook with info plugin:
[code]
What I want to see rendered in storybook:
- Rendered button preview
- Source code `<Button onClick={clicked} label="Button Label" primary />`

What I actually see:
- Rendered button

[2018-09-24 11:38] simaks commented on #4220
I just realised that there is a way to change displayName for JSS-decorated component that is being exported.
[code]

[2018-09-24 11:38] #4220 closed

[2018-09-24 13:33] EloB opened #4223 "Color in the latest knobs version is broken"
The colorpicker is totally broken and cannot be used. Provided a PR to fix it.

https://github.com/storybooks/storybook/pull/4222

The bug is also reproducible in your examples. Try to update the `background` property here:
https://storybooks-official.netlify.com/?selectedKind=Addons%7CKnobs.withKnobs&selectedStory=tweaks%20static%20values&full=0&addons=1&stories=1&panelRight=0&addonPanel=storyboo

[2018-09-24 13:45] grncdr commented on #4135
Just ran into this upgrading an older project to v4.0.0-alpha.22. I'm totally happy with the native picker, but I think it's would be good to add the dependency here until somebody has the time to remove `react-datetime`

[2018-09-24 14:43] michaelpumo commented on #3313
I was getting the same error with Vue Storybook, so I decided to upgrade to `@storybook/vue: ^4.0.0-alpha.22` and now I get the following error:

[code]

This is all from following the guide for Vue at https://storybook.js.org/basics/guide-vue/

I am installing Storuybook into a Vue Cli 3 project, with Vue version `"vue": "^2.5.17"`. I don't think it's set up to even use `babel-preset-vue`

You ju

[2018-09-24 15:02] dangreenisrael commented on #4197
Is this happening during a CI pipeline?

[2018-09-24 15:11] Abdisalan commented on #4033
I ran into this as well.. happens to me when there are a lot of knobs on a single component

[2018-09-24 15:11] Keraito commented on #4223
Duplicate of #4093, closing this issue in favour of that one, thanks for the PR tho!

[2018-09-24 15:11] #4223 closed

[2018-09-24 16:37] binomialstew commented on #4211
I'm also seeing the same thing on an established project after I updated from `@storybook@4.0.0-alpha.18` to `alpha.20`, but strangely only when installing with `yarn`. When I use `npm install`, storybook fonts load properly.

[2018-09-24 17:42] Gongreg commented on #4179
Hello everyone,
Regarding this issue use `--skip-packager` command when starting the storybook server.

Then use

[code]

And somewhere in your app (a separate screen, admin panel, anything) render the StorybookUIRoot

[code]

I hope this helps.
We want to remove the packager completely (since it is bringing a lot of unnecessary issues), but I am away for some time.

Sorry that something is not wo

[2018-09-24 21:59] GabiOC opened #4224 "[@storybook/addon-info] 'Story Source' text violates a11y color contrast ratio"
### Bug or support request summary

Text in the 'Story Source' field in the [Info Add-on](https://github.com/storybooks/storybook/tree/master/addons/info) has a [color contrast ratio of 4.29](https://webaim.org/resources/contrastchecker/?fcolor=777777&bcolor=FAFAFA), which fails the 4.5:1 minimum ratio for AA level accessibility compliance.

Aside from this impacting partially sighted users, this

[2018-09-25 07:37] Jauny opened #4227 "Add Storybook to Next.js with Styled JSX Sass Plugin"
Hi all! I seem to have trouble adding Storybook into a Nextjs project, and don't seem to find any documentation on it.

### Bug or support request summary

Can't make storybook work with a new next.js app when Sass is added

Getting the following error when running `yarn run storybook`
[code]

### Steps to reproduce

Setup a new Next.js project, add https://github.com/giuseppeg/styled-jsx-plugin-s

[2018-09-25 08:05] jobaerkhan commented on #2750
I solved this like this :

[code]

[2018-09-25 09:12] igor-dv commented on #3809
You can try something like this:

(The example is for the v4)

[code]

LMK if it works for you.

[2018-09-25 09:33] igor-dv commented on #4208
There is this line in your step `4b`

[code]

Does it mean that `node_modules` are located in your `.storybook` dir?

[2018-09-25 09:39] igor-dv commented on #4177
@reggi, actually it's not a hacky wat to solve it. If you still want to use babel 6, you have to do this with a bridge.

@mrmartineau, is this a full error? can you maybe print script it ?

[2018-09-25 09:43] #4210 closed

[2018-09-25 09:51] mrmartineau commented on #4177
@igor-dv no it wasn't the full error. I'll get the full error soon. Cheers

[2018-09-25 12:12] panosangelopoulos commented on #4007
@tquinlan1992
I saw an error in your `.storybook/config.js` file, it's necessary to first load your stories and then configure the Viewport.

Please try out this one

[code]

[2018-09-25 12:34] carlorizzante commented on #3214
Same problem for me, all good until I add Storybook to my project (create-react-app). The "yarn test" fails with the error at the top of this page.

Installing (or updating) Watchman via Brew seems to fix the issue.

[2018-09-25 15:36] ndelangen commented on #3379
YES! This is on our roadmap, and we've started work on this already, Sorry for the

[2018-09-25 15:39] gidztech opened #4229 "Storybook doesn't reload current story when HMR attempts full page load"
I have a component that initializes some state based on the current page (regex matching). In my story setup, I use the [History API](https://developer.mozilla.org/en-US/docs/Web/API/History_API) to push a URL path, e.g. "/something/12345", before returning the component.

This works fine, except when I make code changes and Hot Module Replacement needs to do a full page reload (e.g. when there's

[2018-09-25 17:11] KolbySisk opened #4230 "Angular 6 setup errors - starting from the docs - Module build failed (from ./node_modules/postcss-loader/lib/index.js):"
### Bug or support request summary

I'm going to share my journey to get storybook angular to work again in my project. It was working fine when I was running Angular 5, but after updating to 6 ... it stoped.

So I'm starting with a fresh Angular 6.0.3 project.

Following the Storybook documentation, after a basic setup, I get the error:
[code]

After digging around the current issues I learned th

[2018-09-25 17:57] selipso commented on #4208
No, the node module folder is one level up from the src, same standard
setup as CRNA

On Tue, Sep 25, 2018 at 2:34 AM Igor <notifications@github.com> wrote:

[2018-09-25 18:32] eddiemonge commented on #1735
I think this issue should still be opened, especially as CSSinJS becomes more popular

[2018-09-25 19:59] eddiemonge commented on #742
More than a year in and this still makes me sad. Monorepos might make dev easier but definitely make support harder.

[2018-09-25 21:07] maosenchen6ix commented on #4088
same issue here

[2018-09-25 22:32] raynor85 commented on #3897
@mcmar did you manage to make it work with React Native 0.57? If yes, can you please share how you did it?

[2018-09-25 22:34] ColeTownsend commented on #1622
Seems like you can do this know

[code]

[2018-09-25 22:41] raynor85 commented on #4011
Just to clarify, I was able to make storybook works for RN 0.56, following this https://github.com/storybooks/storybook/issues/3897#issuecomment-406386349. Unfortunately for RN 0.57 I was not able to make it work, but I simply got rid of the errors thrown by `yarn storybook` following the comment https://github.com/storybooks/storybook/issues/3897#issuecomment-421186803. It looks like one user was

[2018-09-25 22:50] binomialstew commented on #4211
I found this to be because `@emotion/provider` has a peerDependency of `@emotion/core`. Yarn installs 0.13.1 in a node_modules that is a child of `@emotion/provider`. Which behaves differently than the one installed in the root node_modules by npm, which is `@emotion/core@0.13.0`. I've added 0.13.0 to my package resolutions for now.

[2018-09-25 23:06] mcmar commented on #3897
@raynor85 I just followed the directions in https://github.com/storybooks/storybook/issues/3897#issuecomment-421186803 except for the `watchman watch-del-all` part because I don't have watchman.
The key I think was downgrading to `"babel-preset-react-native": "^4.0.1"` before I ran `react-native-git-upgrade. I had tried a million times upgrading to 0.57 before that and that was the only thing that

[2018-09-25 23:31] codejamninja commented on #3952
Same, I think the internal storybook webpack config is resolving to the wrong place. How can we resolve it to the v3 webpack.

[2018-09-25 23:44] swese44 opened #4231 "Show a URL reachable on the network when starting the Storybook server"
### Support request summary

Running `start-storybook` prints a line like `info Storybook started on => http://localhost:8082/`

I'm on a Mac, and I run a Windows VM to occasionally test in IE. It would be nice if Storybook also printed a "network reachable" URL where my VM can reach it, essentially my computer's IP address:
`info Reachable on the network at http://10.30.43.152:8082`, otherwise I

[2018-09-26 00:29] raynor85 commented on #3897
@mcmar @damianthekreeeytor can you please share your ```package.json``` and ```yarn.lock```? I really want to get to the bottom of this

[2018-09-26 00:38] mcmar commented on #3897
@raynor85 No. Clearing your node modules in the last step is just a one-time thing. Actually, I don't think it's really necessary. It's just a precaution. I think it's really only necessary if you install a different version of node.

Step 1 was the critical step for me that I was missing.
Step 2 is fairly obvious. When you do step 1, you always have to do step 2.
Steps 3 and 4 I was already doing

[2018-09-26 00:42] mcmar commented on #3897
I also had a few steps that I didn't include in here. I had to delete the `resolutions` section from my package.json and then re-add it after doing `react-native-git-upgrade` because that was causing the upgrade script to fail. I also had to reset my `.babelrc` to the starting point that the upgrade script was expecting, which I found from the [rn-diff repo](https://github.com/ncuillery/rn-diff)

[2018-09-26 04:03] mukeshsoni commented on #3880
@Keraito When i installed the alpha version, i get this error in the browser -

[code]

[2018-09-26 04:11] mukeshsoni commented on #3322
The documentation says install using
[code]

which will not install the alpha version. But the rest of the documentation is with respect to the alpha version.

[2018-09-26 05:01] Regaddi commented on #3702
If keyboard navigation is a thing, you can actually tab through the menu links. You can also open and close the groups with enter.
Hijacking up/down arrow keys will possibly break the ability to scroll the frame with your keyboard.

[2018-09-26 06:35] igor-dv commented on #4211
Checked it with the latest alpha (23) - doesn't happen anymore.
Please reopen if I am wrong.

[2018-09-26 06:35] #4211 closed

[2018-09-26 07:34] ndelangen commented on #742
How so?

[2018-09-26 07:38] ndelangen commented on #3702
Cool, will add this to my UI overhaul!

[2018-09-26 08:05] nunos7 commented on #4230
Hi, i have a similar problem...
I use in my project angular 6.1.0 and @storybook/angular 4.0.0-alpha.22, when i try to start storybook i get this error:

info @storybook/angular v4.0.0-alpha.22
info
info => Loading presets
TypeError: Cannot read property 'build' of undefined

[2018-09-26 08:28] ndelangen commented on #3702
Done

[2018-09-26 08:31] ndelangen commented on #3702
@Jessica-Koch

[2018-09-26 08:32] igor-dv commented on #4230
@KolbySisk,
Just to clarify, there was a lot of work form the 3.4 release (that worked with angular < 6) until today.
One of the major changes is moving to webpack 4 (angular 6 have to work with webpack 4) and moving to babel 7 (I know, for TS user it's less intuitive, I will check what we can do with this), as a result we, currently, have a peer dep for babel-loader (that has a peer dep for babel

[2018-09-26 08:43] nunos7 commented on #4230
Hi @igor-dv,
I said similar, because i did the same steps, described by @KolbySisk.
I create an angular 6 project, then i install storybook (v3.x.x), and after some search i update to storybook 4alpha22, after that i install @babel/core, babel-loader, @angular-devkit/core...
After this i got a diferente error, but the steps are basically the same...

If you prefer e open a new issue?
Thank you for

[2018-09-26 08:57] igor-dv commented on #4230
@nunos7, do you have any stack trace of the `Cannot read property 'build' of undefined`

[2018-09-26 12:27] igor-dv commented on #4230
Ok, I see. How does your `angular.json` look like?

[2018-09-26 13:15] nunos7 commented on #4230
{
  "$schema": "./node_modules/@angular/cli/lib/config/schema.json",
  "version": 1,
  "newProjectRoot": "projects",
  "projects": {
    "fx-wc": {
      "root": "",
      "sourceRoot": "src",
      "projectType": "application",
      "prefix": "app",
      "schematics": {},
      "targets": {
        "build": {
          "builder": "@angular-devkit/build-angular:browser",
          "options": {

[2018-09-26 13:17] nunos7 commented on #4230
[angular.json.txt](https://github.com/storybooks/storybook/files/2419823/angular.json.txt)

[2018-09-26 13:55] #3759 closed

[2018-09-26 14:28] igor-dv commented on #4230
I see you don't have an `architect` field, why so? (I am not familiar with the full angular.json structure)

[2018-09-26 14:31] nunos7 commented on #4230
Hi @igor-dv
You read my mind :), i see angular.json again and detect that "architect" was replaced by "target", i have to consult with my colleagues why and when this appened... but i change "target" to architect and them works...

[2018-09-26 14:40] kimamula commented on #3172
@Hypnosphi

If you visit `/storybook/index.html`, then it's OK.
However, if you visit `/storybook`, browser tries to fetch JS files under `/static` (not `/storybook/static`) which do not exist in this case.

[2018-09-26 15:17] jonmilner commented on #3759
@Keraito is more info still needed?

[2018-09-26 16:05] eric-burel commented on #1277
Hi, how are we supposed to set the name? I just began using React Native this week, with CRNA so I am using the very last version. `package.json` and `app.json` both have a `name` property.

[2018-09-26 17:13] andrei-ilyukovich commented on #4098
Has anybody some thoughts about that issue?

[2018-09-26 17:47] #4231 closed

[2018-09-26 18:02] kylemh commented on #4171
Is there a good reason why environment variables are being hijacked? `.env` certainly doesn't cover all use cases - especially considering Storybook within CI processes. I think this is a huge limitation that needs to be addressed.

[2018-09-26 19:19] sdussaut opened #4233 "Decorator gets added multiple times"
Hello!
Thanks for all the work done on Storybook, it's amazing!

### Bug summary
When adding a decorator to wrap the story in the preview iframe, the decorator gets added multiple times.

### Steps to reproduce

WrapperElement is a Vue component that has the following template:

[code]

Adding it to wrap a story in it:
[code]

I get:

[code]

instead of:

[code]

I use @storybook/vue 4.0.0.alpha22

[2018-09-26 19:55] eddiemonge commented on #742
Searching issues is almost impossible for specific add-ons now. Unless every single issue is tagged with the add-on then knowing what applies to what is hard to do. Even if it is tagged, searching will still most likely pull non-related things in.

[2018-09-26 20:16] selipso commented on #4208
Ah whoops! This seems to work, thanks!

[2018-09-26 20:16] #4208 closed

[2018-09-26 22:01] caiodesign opened #4234 "Error: Plugin could not be registered at 'html-webpack-plugin-before-html-generation'. Hook was not found."
### Bug

i'm using react-storybook v4.0.0-alpha.22 and everytime I try to build or start storybook, i get this error:

[code]

### Dependencies:

- "@storybook/addon-actions": "^3.4.5",
- "@storybook/addon-links": "^3.4.5",
- "@storybook/addons": "^3.4.5",
- "@storybook/cli": "^4.0.0-alpha.7",
- "@storybook/react": "^4.0.0-alpha.7",
-  "webpack": "^4.8.1",
-  "webpack-bundle-analyzer": "^2.13.1",

[2018-09-26 22:09] caiodesign commented on #4234
Resolved after running `npm update`

From:
-    "@storybook/cli": "^4.0.0-alpha.7",
-    "@storybook/react": "^4.0.0-alpha.7",

To:
+    "@storybook/cli": "^4.0.0-alpha.23",
+    "@storybook/react": "^4.0.0-alpha.23",

[2018-09-26 22:30] ndelangen commented on #4234
So it appears the GoogleFontsPlugin assumes the html-webpack-plugin is used:

https://github.com/gabiseabra/google-fonts-webpack-plugin/blob/master/src/index.js#L108

I guess I'm going to need to implement the 'html-webpack-plugin-before-html-generation' hook into our plugin generating pages for us 😞

[2018-09-26 22:31] ndelangen commented on #4234
For now you could remove the Plugin and add the fonts via `preview-head.html` regular old `<link>` tags?

[2018-09-26 22:47] caiodesign commented on #4234
@ndelangen I removed GoogleFontsPlugin and now I can build my storybook.
I'll add the fonts via `<link>` tag.
thank you so much mate!

[2018-09-26 22:47] #4234 closed

[2018-09-26 22:55] ndelangen commented on #4233
@sdussaut that should not be happening, definitely a bug

[2018-09-26 23:03] ndelangen commented on #4098
Yeah I understand that's the assumptions, I'm interested in supporting it. @igor-dv would you have an idea how to change this?

[2018-09-26 23:06] ndelangen commented on #742
I see, that's a valid point. We try to label things as much and accurate as possible.

Do you have any suggestions what we could do to improve things?

[2018-09-26 23:11] ndelangen commented on #4112
@brunoreis that's super strange, could you clone master from scratch and try again?

Maybe upgrading yarn to the latest version could help?

We have no dependency on `wide-align` at all, I wish there was more that I could do..
I do not know if there's anything I can do, can you reproduce on an another machine?

[2018-09-26 23:13] ndelangen commented on #4227
Could you try the latest alpha? I think you're hitting a babel7 incompatibility maybe?

the alpha release uses webpack 4 and Babel 7.

[2018-09-27 01:34] ReDrUm commented on #4129
I'm still affected by this. Has no-one else experienced it with their projects? I can't see anything in my configuration which would cause this.

[2018-09-27 03:28] Jessica-Koch commented on #3702
I'm working on this :)

[2018-09-27 03:39] theKashey opened #4235 "Speeding up Storybook runtime"
## Background
We are using storybook to present our components and pages in different states, to make our dev cycle easier, and also to be able to capture screenshots.

For the first time we have used (storybook-chrome-screenshot)[https://github.com/tsuyoshiwada/storybook-chrome-screenshot] by @tsuyoshiwada, which just opens storybook in puppeteer and shot it, but run into several performance issu

[2018-09-27 05:54] ndelangen commented on #4137
Closing this as strictly speaking the addon works, I'll improve the official example in an attempt to make it as accessible as possible.

[2018-09-27 05:54] #4137 closed

[2018-09-27 06:13] ndelangen commented on #3904
I think addons that pollute the content of #root should be discouraged, I'm working on adding a docs-view to storybook so addon-info (the prime offender) will be 'fixed'.

Was this the use-case you had in mind?
Can you give me some example use-cases of why this is needed?

[2018-09-27 06:15] #4157 closed

[2018-09-27 06:18] ndelangen commented on #3787
I'll see what I can do, I need to fix addon-links in #4086 anyway

[2018-09-27 06:30] ndelangen commented on #4127
`_storyStore` is an internal API bound to change, I recommend not accessing it directly.

I think abstracting the examples to make them more DRY is probably not a really good idea.

Many developers look at stories' source to see how the example was setup so they can mimic or copy it into where they are using the component.

If the example is generated so complex they can no longer see what's going

[2018-09-27 06:33] ndelangen commented on #3940
Can confirm:
https://storybooks-official.netlify.com/?selectedKind=Addons%7Ca11y&selectedStory=Default&full=0&addons=1&stories=1&panelRight=0&addonPanel=%40storybook%2Faddon-a11y%2Fpanel

[2018-09-27 06:35] ndelangen commented on #3940
Related:
https://github.com/dequelabs/axe-core/issues/1041

[2018-09-27 06:37] ndelangen commented on #3940
We likely need to do this as well:

Would anyone here maybe want to open a PR for a fix?
@vajkri @ssylvia @ReDrUm

[2018-09-27 06:41] ndelangen commented on #4116
Hey @trippingtarballs would you be able to open a PR to fix? 🙇

[2018-09-27 07:39] igor-dv commented on #4129
Hey, I am not sure I can reproduce it. Can you please somehow demonstrate it on the official example -https://storybooks-official.netlify.com

[2018-09-27 08:56] ndelangen commented on #4235
Hey @theKashey thanks for this, I was about to contact you to collaborate on some of these exact improvements, Let's chat on discord?

[2018-09-27 08:56] ndelangen commented on #4235
https://discord.gg/sMFvFsG

[2018-09-27 09:05] Jauny commented on #4227
Didn't try to latest alpha but Webpack 3 was the issue. I added webpack 4 as a hard dependency in my package.json and it fixed the issue.

Thanks!

[2018-09-27 09:05] #4227 closed

[2018-09-27 09:34] ndelangen commented on #4235
If your issue is mainly related to screenshotting, we have image screenshotting build-in to storyshots, an addon for creating snapshots of stories.

There are also integration partners such as https://www.chromaticqa.com

[2018-09-27 10:46] theKashey commented on #4235
I've tried story shooter but it did not work as I needed. And we need not only images, but some meta information about what is displayed.
Any way - any solution would work not quite cool with big bindles.

[2018-09-27 11:54] mkretschek opened #4241 "Low severity vulnerability in @storybooks/cli"
### Bug or support request summary

When installing my project's dependencies or running `npm audit` I get a vulnerability alert. The vulnerability is caused by the [`merge-dirs`](https://www.npmjs.com/package/merge-dirs) dependency which doesn't seem to be maintained anymore (last release was 3 years ago and the issues posted there doesn't seem to get any attention).

I get the following from `np

[2018-09-27 11:58] Pupskuchen commented on #3423
Is there a way this would work with hot module reloading? So I could develop web components using stencil and get a live display of them by Storybook?
@tonai does your setup provide this functionality or does it run without HMR?
I can't seem to get this running without it being static…

[2018-09-27 13:31] ndelangen commented on #4241
Thanks for reporting this!

We'll be looking for an alternative that's secure, do you happen to have any recommendations?

[2018-09-27 13:32] ndelangen commented on #4241
Maybe this:
https://www.npmjs.com/package/merge-trees

[2018-09-27 13:42] ndelangen commented on #4135
Ok, let's remove react-datetime!

[2018-09-27 16:12] keul opened #4243 "Copy button from the info addon should not copy the ellipsed code"
### Work summary

When the example code of the storybook is too long it's cutt-off in the view using ellipsis  (which is ok) but the cut version if also the ones who is copied.

![storybook](https://user-images.githubusercontent.com/284924/46159236-12188780-c280-11e8-9aec-39464607f0ce.png)

I think that when clicking on the *copy* button a uses is expecting to get the whole example in the clipboar

[2018-09-27 18:59] BradMcGonigle commented on #714
@aviramga is this method still working for you?  I'm not having any luck using a symlink.

My folder structure
[code]

I can get this working when serving storybook `start-storybook -c sandbox -s sandbox,docs -p 6006` using a middleware file:
[code]
But adding a symlink using `ln -s /docs sandbox/docs` and running `build-storybook -c sandbox -s sandbox,docs -o storybook` still does not work.

The

[2018-09-27 20:58] ndelangen commented on #4243
I agree

[2018-09-27 21:39] ndelangen commented on #4135
Anyone want to review the PR I made?
@mhauens @jhoffmcd @stephenway @liangtongzhuo @grncdr

Link to working example:
https://5bad25d0dd28ef0d35c0ebbc--storybooks-official.netlify.com/?knob-Name=Storyteller&knob-Years%20in%20NY=9&knob-Age=70&knob-Items%5B0%5D=Laptop&knob-Items%5B1%5D=Book&knob-Items%5B2%5D=Whiskey&knob-Color=%23ffff00&knob-Other%20Fruit=lime&knob-Account%20Balance=12.5&knob-Birthda

[2018-09-27 21:39] ndelangen commented on #4135
I will do a similar PR for master, this one is for 3.4

[2018-09-27 22:12] ndelangen commented on #4127
Yeah that looks like a good pure-JS solution to me.

That's framework- and in fact storybook-agnostic

[2018-09-27 22:12] #4127 closed

[2018-09-27 22:52] ndelangen commented on #2384
The above mentioned addition wasn't made to code, The docs got fixed up so now we only mention:
[code]

Still happy to merge a PR adding this:
[code]

Or some other solution that would allow the example code that created this issue.

Anyone interested in creating that PR?

[2018-09-27 22:52] #2384 closed

[2018-09-27 23:33] laplacesdemon opened #4246 "Bug: Attempted to assign to readonly property."
### Bug or support request summary

Storybook started giving following error in the main iframe after no related changes happened. The only change was that I have added flow static checker and implemented a few components with it but I don't think it caused this bug. I have reverted back to a version that storybook was working before but still gives the same error. I tried to upgrade to `3.4.11` (

[2018-09-27 23:51] laplacesdemon commented on #4246
Nevermind. The bug was caused by my local filesystem. Removing `node_modules` and generating them again solved the problem.

[2018-09-27 23:51] #4246 closed

[2018-09-28 03:57] Jungwoo-An opened #4247 "Iframe bundle parse error"
### Bug or support request summary

I opened chrome developer tool after start-storybook.

### Steps to reproduce

![default](https://user-images.githubusercontent.com/17793088/46187116-f9aa7a80-c31c-11e8-9ca8-60578b1fd04b.PNG)

![2](https://user-images.githubusercontent.com/17793088/46187118-fca56b00-c31c-11e8-9b20-1151d9345474.PNG)

### Please specify which version of Storybook and optionally an

[2018-09-28 08:20] mmintel opened #4248 "Missing styles"
### Bug or support request summary

There seem to be styles missing in the storybook, some styles are loaded, others are not, also fonts missing. No error message.

### Steps to reproduce

I don't know how to reproduce, I tried disabling all storybook addons, i disabled every story, disabled my custom webpack config (also restarted node afterwards)

### Please specify which version of Storybook an

[2018-09-28 09:13] gidztech commented on #4229
**Workaround**
I have a workaround for the time being, but it means not taking advantage of HMR's in memory updates when it doesn't necessarily have to fallback to full page reload.

We can use `require.context` to handle when changes are detected in the stories (and their dependencies), and push the original URL and reload the page.

[code]

[2018-09-28 09:32] robwalkerco commented on #4179
@sinewave440hz
I have `metro-react-native-babel-preset` as a devDependency in package.json
I also have `"presets": ["module:metro-react-native-babel-preset"]` in `.babelrc`

[2018-09-28 09:36] sinewave440hz commented on #4179
Sorry, my mistake. I re-read the thread and realised I had missed upgrading the babel packages. All up and running now, thanks.

[2018-09-28 09:41] ndelangen commented on #4127
Just to add this this:

`addParameters({ tag: 'example-vanilla' })` is a fine solution as well, you can do this:

[code]

[2018-09-28 12:04] Keraito commented on #4181
Tagging @ndelangen  here since there was no activity.

[2018-09-28 12:31] arbaaz commented on #3322
Doc says adding a new viewport is not supported in 3.4.11
https://github.com/storybooks/storybook/tree/v3.4.11/addons/viewport#faq

[2018-09-28 14:07] geekytime commented on #1369
We are in the process of combining our projects into a lerna-based monorepo, and I can confirm that the projects in the monorepo all have this "No panels available" problem, and the projects that have _not_ been migrated to the monorepo still work fine. All of our storybook-related devDependencies are added directly in our packages, but I suppose something else that lerna links in via `lerna boots

[2018-09-28 14:11] ar53n opened #4249 "Feature Storybook Node API"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

Hello, I propose to do `Node API`.
Like a `webpack`
[code]

[2018-09-28 14:41] cwmrowe opened #4250 "Tear down DOM outside of Angular App Component"
When creating components that use Angular CDK Overlays. The overlays are not torn down (removed from the DOM) when navigating between stories.

This is because the DOM created by CDK Overlays exists outside the app component.

I have created a Gist that fixes it in the short term, but there may be a better way of doing it.

https://gist.github.com/cwmrowe/86fa0671e632b1369635d4d8411c0d02

### Plea

[2018-09-28 16:04] igor-dv commented on #4249
That's nice. I even have a few stashed changes toward this =)

[2018-09-28 16:10] igor-dv commented on #4250
IMO your solution is good enough =)

[2018-09-28 16:27] maciej-gurban commented on #3851
I've run into similar issue. Is there any progress on this front?

[2018-09-28 16:49] jhoffmcd commented on #4135
@ndelangen on your example, changing the date field through up/down arrow keys seems to work great. What is the expected behavior for when a user tries to type number directly into the dd/mm/yyyy entries? It seems to be a bit hit or miss.

[2018-09-28 17:55] psychobolt commented on #3346
For me the issue is caused with the recent changes to include babel-loader in 4.0.0.alpha. The server webpack config includes root project js files (which could include your commonjs such as package dists, config files, etc): https://github.com/storybooks/storybook/blob/b2b73596f9dd97b4ba8c03340bd36f868e836772/lib/core/src/server/config/webpack.config.dev.js#L78
https://github.com/storybooks/story

[2018-09-28 18:06] #3823 closed

[2018-09-28 19:44] psimyn commented on #4248
@mmintel can you try loading in a different browser (or in Incognito). Could be an extension conflicting

Are there any missing files in Chrome Network tab (404 etc)?

How did you install Storybook?

[2018-09-28 20:12] joefiorini commented on #4248
I can confirm I have the same issue. All the CSS classes that specify fonts say `inherit` and there doesn't seem to be anything specifying a font to use, so it's defaulting to `Times`. Here's my tree of storybook dependencies:

[code]

I checked this in incognito in Chrome 60 & Safari, same result in both.

[2018-09-28 23:53] Keraito commented on #4248
Seems like the issues from  #4211 are still there, @igor-dv

[2018-09-29 03:06] #3985 closed

[2018-09-29 09:09] igor-dv commented on #4248
That is strange.. Doesn't happen to me.. Can anyone reproduce on a clean env?

[2018-09-29 09:37] ConneXNL commented on #4235
Been waiting for something like this for a long time. I think isolating the stories could make storybook a lot faster. Currently ,as your component library grows, the incremental built time also increases. I am going around this by commenting any component I am not working on but it feels really counterintuitive to do so.

[2018-09-29 11:49] mrmckeb opened #4251 "PropTypes error with addon-jest in latest beta"
### PropTypes error with addon-jest in latest beta
Although it seems to work well, there is a PropType error in the console in the latest beta.

### Steps to reproduce
- Install `4.0.0-alpha.23`.
- Set up `@storybook/addon-jest` to use config file (`addDecorator`).
- Run Storybook.

The following error will appear in the browser console:
```Warning: Failed prop type: Invalid prop `panels.storybook

[2018-09-29 12:11] mrmckeb commented on #4251
I found the issue and I've created a PR to resolve this.

[2018-09-29 14:14] sinewave440hz opened #4253 "What are the updated steps for Storybook and seamless typescript integration for 0.57+ ?"
### Bug or support request summary

Expected to be able to init a new typesript project and install storybook and work seamlessly with typescript. After solving some issues general to 0.57, I have still not managed to get storybook working with typescript components - in fact, I don't see any components in the storybook server ui.

### Steps to reproduce

`react-native init tstest --templates type

[2018-09-29 19:59] matchu opened #4254 ""Toggle stories panel" won't re-show panel"
### Bug or support request summary

When I use the "Toggle stories panel" keyboard shortcut to hide the stories panel, I can't re-show it again. The panel successfully hides, but issuing the same keyboard shortcut again seemingly has no effect on the panel.

### Steps to reproduce

1. Launch Storybook.
2. Use "Cmd+Shift+X" to hide the stories panel.
3. Observe that the stories panel is successfull

[2018-09-29 23:11] ryancat commented on #3444
I got this error as well. After I update webpack from v3 to v4 (the recent version is v4.20.2), it works.

[2018-09-30 09:54] Hypnosphi commented on #1622
@ColeTownsend this will work as well:

[code]

[2018-09-30 09:56] Hypnosphi commented on #3172
You should serve all the `storybook-static` directory. So `storybook-static/static` should be served as `/storybook/static`

[2018-09-30 09:57] Hypnosphi commented on #3172
OK, you need a redirect then

[2018-09-30 10:01] Hypnosphi commented on #4098
I think it can still be solved on `app/*` level. We just need to update the data instead of recreating instances when `forceRender === true`

[2018-09-30 10:28] theKashey commented on #4144
For everyone, interested in speeding up storybook right now, by __removing__ slow stories pannel
[code]
^ it will just delete this pannel in runtime, without any codechanges from storybook.

[2018-09-30 10:28] #4144 closed

[2018-09-30 11:15] RomainGoncalves commented on #3805
Hey guys,

sorry to barge in, but I'm having the same issue and was wondering how I can use the alpha in order to test if it would fix my build

[2018-09-30 13:33] Hypnosphi commented on #3805
You need to change all the `@storybook/*` packages versions to latest alpha (today it's `4.0.0-alpha.23`), and probably apply something from https://github.com/storybooks/storybook/blob/master/MIGRATION.md#from-version-34x-to-40x

[2018-09-30 16:08] kevinnio opened #4255 "Is it possible to overwrite default values for already defined knobs?"
Hello, guys. Nice piece of software you have here.

I was wondering if it is currently possible to overwrite the default value for an already defined knob. Let me give you an example.

Let's say I have a function that returns the described component with default knobs and a default story like this:

[code]

Now, if I write a `Disabled` story like this:

[code]

That doesn't work. When I open the s

[2018-09-30 16:10] rickbsgu opened #4256 "Vue + Vuetify theme not working"
### Bug or support request summary

Calling Vue.use (Vuetify {theme: { primary: <color>, etc.}}) is not working - a component that tries to use that theme does not take on the color, for instance.

_Please provide issue details here - What did you expect to happen? What happened instead?_

Component should use theme color in rendering.  It does not.

### Steps to reproduce

- Create a minimal proj

[2018-09-30 21:29] petrbela commented on #4179
If you don't want to include StorybookUI in your main app and want to continue to use the old standalone behavior, change the npm script to:

[code]

[2018-10-01 09:41] Gongreg commented on #4179
@petrbela, you are completely correct, this is what we will suggest for people who want to use old behaviour.

[2018-10-01 12:52] alex-fournier commented on #4200
To avoid this, each addon should be aware of the `active` prop sent by Storybook and only render addon when `active` is `true`.

Example for Notes addon: https://github.com/storybooks/storybook/blob/master/addons/notes/src/register.js#L84

Storybook doc should be updated as it is not mentioned here: https://storybook.js.org/addons/writing-addons/#the-addon

I don't know if this is the correct solu

[2018-10-01 13:45] ivansnek commented on #3897
Hey Guys I manage to get it working RN v0.57 and storybook,

- I started a project from scratch using `react-native init`
- I had an issue regarding `@babel/runtime` so I installed(IDK if this will happen to you as well)
- I installed storybook as usual with `getstorybook`
- At that point I remember I was seeing a warning on the storybook builder, I delete `node_modules` and ran `npm start -- --re

[2018-10-01 21:40] libetl commented on #4174
https://github.com/storybooks/storybook/pull/4258/commits

[2018-10-01 22:57] KeionneDerousselle opened #4259 "Vuex is undefined"
### Bug or support request summary

My team is trying to use the alpha version of storybook because we are upgrading our project to use Nuxt 2. This requires that we use Webpack 4.

When using @storybook/vue 4.0.0-alpha.23, any stories for components which require the Vue store, Vuex, throw errors.

![screen shot 2018-10-01 at 4 25 38 pm](https://user-images.githubusercontent.com/6044786/46319547-

[2018-10-02 02:05] Brian-McBride commented on #4066
Hey there stale bot. I took your digital advice and opened a pull request:
https://github.com/storybooks/storybook/pull/4260

Anyone on this issue know of any compelling reason to keep `svg-url-loader` in the repo when `url-loader` will do the job?

[2018-10-02 09:41] igor-dv commented on #4098
Do you have any specific changes in mind?

[2018-10-02 09:42] igor-dv commented on #4249
@Keraito, does this issue somehow collides with your work on CLI ?

[2018-10-02 09:48] #4159 closed

[2018-10-02 09:48] #4035 closed

[2018-10-02 09:49] #4119 closed

[2018-10-02 09:56] andrei-ilyukovich commented on #4103
I have the similar question regarding making screenshots for all possible knobs selected/updated. Right now storybook can make screenshot only for default component state, which doesn't cover all possible variants.
Is it possible to update storyshots addon to make this real somehow?

[2018-10-02 16:00] sylvhama opened #4264 "create-react-app v2: Cannot read property 'compilation' of undefined"
### Bug

I've updated my project to create-react-app v2 (`"react-scripts": "^2.0.3"`).
Running `start-storybook -p 9001 -c .storybook` or `build-storybook -c .storybook -o build/storybook` will fail with the error:
[code]

### Steps to reproduce

See React blog to see how to update to CRA V2: https://reactjs.org/blog/2018/10/01/create-react-app-v2.html.
*Switching back to 1.1.5 will work!*

### Pl

[2018-10-02 17:18] einarlove opened #4265 "Content in iframe is not set to an opaque background"
### Bug or support request summary

Viewing you content in fullscreen mode expands the iframe—your content—across the whole screen. The iframe wrapper is set to `background: rgba(255,255,255,0.89)` making the Storybook sidebar visible behind your content.

I thought for hours I had screen burn-in but eventual saw that it was because of what I described above. This might be intentional. I don't kno

[2018-10-02 18:19] ryancat opened #4266 "After bump up version to 4.0.0-alpha.15, got errors"
### Bug or support request summary

I bumped up to @storybook/html v4.0.0-alpha.15 and corresponding addons. I was trying to use the new radios knob. After that I get some errors while running start storybook

### Steps to reproduce
Just bump up version and compile

### Please specify which version of Storybook and optionally any affected addons that you're running

- @storybook/html 4.0.0-alpha.1

[2018-10-02 21:30] nickolas1 commented on #3850
I'm having the same problem with an extremely vanilla vue-cli project. Has anyone found the solution to this?

[2018-10-02 21:30] nicholaai commented on #4224
So, I'm also having this issue. I figured out, the code we're looking for is actually in the `Node` component.

As you can see [here](https://github.com/storybooks/storybook/blob/master/addons/info/src/components/Story.js#L282), Node is being rendered within the `<Pre>` component. Node itself, is what renders our story source. By referencing the [node code](https://github.com/storybooks/storybook/

[2018-10-03 07:10] astrotim commented on #3972
I still have my hand up for this one 🤚

I hope to get something into PR soon...

[2018-10-03 08:16] igor-dv commented on #4264
create-react-app v2 uses webpack 4, and a compatible version of SB that uses webpack 4 is latest v4.alpha.

[2018-10-03 11:45] G-Pex opened #4269 "Incorrect iPhone viewport dimensions"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

Viewport Addon has incorrect viewports for iPhones (possibly other phones too, haven't checked)

### Steps to reproduce

https://github.com/storybooks/storybook/blob/master/addons/viewport/src/shared/index.js

No need to reproduce, reference config file.

All iPhone **+** models have a viewport of **4

[2018-10-03 16:04] annezhou920 commented on #4116
@ndelangen I can take this on if @trippingtarballs haven't had the chance to.

Should I update the instructions to say `Add react, react-dom, babel-core, and babel-loader` and include `npm i --save-dev babel-loader@7`?
https://github.com/storybooks/storybook/blob/v4.0.0-alpha.20/docs/src/pages/basics/guide-react/index.md#add-react-react-dom-and-babel-core

[2018-10-03 17:20] Brian-McBride commented on #4180
The problem with svg-loader is that if you enable the noquotes you break others things (Like Polymer).

The pull request #4260 removes svg-url-loader from the webpack. Here is the value of that module:

For Storybook, I'm not sure dealing with turning on/off noquotes is worth the inline size. In your production webpack build you can tweak for super optimized builds based on your project anyway. Gr

[2018-10-03 18:20] ankitstudent09 opened #4271 "How can I configure storybook as server side on react."
I am using server side react and therein I am unable to use my storybook in my existing project, so how can I use storybook as server side react and what all changes need to make.

[2018-10-03 18:29] ankitstudent09 commented on #4271
Below is my sample app.js file from where my react application is started on server 3000

**app.js**
[code]

[2018-10-03 18:30] patthiel commented on #3802
@testerez did you ever manage to get the tests to run in parallel?

[2018-10-03 18:32] tobilen opened #4272 "Pass serializers to addon-storyshots"
I'm not sure whether to call this a bug or feature request.

# My Problem
I am snapshotting a component that includes a javascript date in its props. When a date object is serialized, it applies the timezone to the printed string, which means a serialized date will be different depending on the machines timezone.
The solution to this problem is to apply a custom serializer that strips the timezone

[2018-10-03 18:49] nicholaai opened #4274 "[3.4.11 - react - info - a11y] Stories render w/ page scrolled down instead of @ page start"
### Bug or support request summary

This problem is with storybook react / addon-info / addon-a11y. I'm also using styled-components v4, but I've adjusted my code to use a plain old button and this problem persists.

When switching to a story (named Component Summary), I expect for the viewport to be at the top of the screen. Instead, the story is in a scrolled position, showing the lower half of

[2018-10-03 19:05] #4180 closed

[2018-10-03 19:37] sylvhama commented on #4264
Thanks @igor-dv, so the only way to use CRA v2 and Storybook is to migrate Storybook to v4.alpha.

[2018-10-03 20:50] igor-dv commented on #4264
Yes. Why is it a problem ?

[2018-10-03 21:05] testerez commented on #3802
No @patthiel I didn't try.

[2018-10-03 21:30] sylvhama commented on #4264
There is no problem ^^ I was unaware of v4 and I was not expecting v3 to break because of CRA migration to webpack 4. If there are others people in my situation, here is the doc: https://github.com/storybooks/storybook/blob/master/MIGRATION.md#from-version-34x-to-40x

[2018-10-03 21:30] #4264 closed

[2018-10-03 21:55] bastienfp commented on #4015
This issue should be closed.
@pavel1992 fixed it already => #4110

[2018-10-03 22:49] gabrielcsapo commented on #4200
We definitely should add this to the addon doc

[2018-10-03 22:57] #4174 closed

[2018-10-03 22:58] #2877 closed

[2018-10-03 23:07] gabrielcsapo commented on #3992
@amittkSharma would you be able to provide an example repo for us to reproduce?

[2018-10-03 23:31] haldunanil opened #4278 "Any way to run storyshots with just the component?"
### Bug or support request summary

When running storyshot image tests, the screengrabs get not just the component but also the README/info file and whatever else might be in the middle section. Is there any way to limit it to just the component being rendered?

### Steps to reproduce

N/A

### Please specify which version of Storybook and optionally any affected addons that you're running

- @sto

[2018-10-04 01:28] jasonbarry opened #4279 "export 'default' (imported as 'PropTypes') was not found in 'prop-types'"
### Bug or support request summary

I'm receiving this error multiple times when trying to run start-storybook. Currently running version 4.0.0-alpha.23. localhost:9001 appears in my browser, but the whole page is blank. The JS error is `TypeError: Attempted to assign to readonly property.`. Stack trace:

<img width="656" alt="screen shot 2018-10-03 at 6 27 44 pm" src="https://user-images.githubus

[2018-10-04 01:36] gabrielcsapo commented on #4279
could you provide a minimal viable example to reproduce?

[2018-10-04 06:38] igor-dv commented on #4271
I am not sure I got your question. Do you want to build a static version of Storybook and serve it with your app?

[2018-10-04 06:43] #4055 closed

[2018-10-04 06:59] igor-dv commented on #4094
@arvindnama, did you manage to solve the problem? Or you can share a reproduction repo?

[2018-10-04 07:08] ankitstudent09 commented on #4271
I am using node with react, from node application I am connecting my graphQL, redis and mongodb. Components created in react are communicating via node for fetching up the output for my component, when I am using storybook as per described to start are as follows:-
[code]
and in **stories/index.js**, where I am binding my component with storybook doesn't fetch the Initial content from node applica

[2018-10-04 07:15] igor-dv commented on #4271
Can you run your node application and storybook in two different processes?

[2018-10-04 07:18] shilman opened #4281 "Storybook Compatibility / Migration"
Since we are upgrading Babel and Webpack in SB4 and many other popular packages are also in the process of upgrading, we need to understand and document the common patterns to help users make sense of it all. Also we need to make sure the migration instructions are clear for common cases:

|         | SB3 | SB4 |
|---------|-----|-----|
| CRA1    |  o  |  o  |
| CRA2    |  o  |  o  |
| Next6   |

[2018-10-04 07:34] shilman commented on #4281
## CRA

@igor-dv @Hypnosphi here are my steps to test SB4 with CRA1:

[code]

It generates a `package.json` with the dependencies, and both the app and storybook work:
[code]

However, when @tmeasday upgraded his existing CRA1 app per `MIGRATION.md`, he ended up with:
[code]

And this setup got the "unexpected token" error for JSX.

Questions:
- What's going on here? Is the `MIGRATION.md` wrong (s

[2018-10-04 07:54] igor-dv commented on #4281
Checked the `MIGRATION.md` now, it looks lacking some stuff (at least for the current state).

If your app is using babel 7, everything will be probably simple, like in your case.

if your app is using babel 6, you need to make some work.
- add babel-core@bridge
- you will probably need to add .babelrc with all the v6 presets/plugins like `babel-preset-env` `babel-preset-react`

BTW, maybe we need

[2018-10-04 08:04] ankitstudent09 commented on #4271
Yes, My React Components fetching data from node and configuring storybook doesn't allow to fetch data from node server and I want to configure storybook in such a way where In I can fetch data from node application.

[2018-10-04 08:06] ankitstudent09 commented on #4271
Yes we are running storybook and node application in different process but importing the react component in storybook doesn't communicate to node service as they now become difference instance.

[2018-10-04 08:19] igor-dv commented on #4271
Can you please share an example of such a component?

Anyway, I think it's not possible to integrate the Storybook **dev** (server side) mode to a different node server. You can serve a **static** version though (also, a static version can be run with the watch mode). Or, to make them communicate (I don get it, why can't they do this ?)

Side note:
IMO the most common usage of Storybook is to isol

[2018-10-04 10:33] Keraito commented on #4249
@igor-dv 	currently not as the CLI is basically just running terminal commands on the background 😅 Having this kind of API to do it codewise would be cool tho for both the CLI and what is suggested here.

[2018-10-04 11:00] ankitstudent09 commented on #4271
Thanks for your quick update, I too thinking of same process that I need to isolate my component from Node and pass on my props data for the behavior response.

Just in my case there been around 10 components that are child component of parent and all are inter-related to node service for configuration and data fetching for the first time.

That includes major rework for that single parent compone

[2018-10-04 11:12] igor-dv commented on #4271
If you have a fetching logic as a separate module, you can just mock it with babel or webpack (in storybook I mean)

[2018-10-04 12:33] mAAdhaTTah commented on #4055
Yeah, it was a version mismatch issue in this case.

[2018-10-04 14:39] mimamuh opened #4286 "React Native v0.57.1 + storybook 4.0.0-alpha.24 = websocket: connection error"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

**Issue:**
Storybook websocket seems to fail when running on iOS simulator and I start to navigate through the webbrowser, [see this video. ](https://www.useloom.com/share/db80e037836d40b18c64d0ea9fa153dc)

**Details:**
I'm running a new storybook setup with the default stories created by the storyboo

[2018-10-04 15:32] igor-dv commented on #4278
You can create a separate setup for the storyshots that won't include problematic addons.

Or maybe you can customize the [storyshots-puppeteer](https://github.com/storybooks/storybook/tree/master/addons/storyshots/storyshots-puppeteer), and provide the `customizePage` parameter that will set a viewport rectangle of the page

[2018-10-04 16:30] sypl opened #4287 "Cannot hide size dimensions on preview panel"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

We are trying to run pixel diff tests on a storybook instance using cypress-image-snapshot. When snapshots are taken of the preview pane, the dimensions of the pane are shown on the bottom right because it resizes just before taking the shot. Because of this we are getting false positives.

It would b

[2018-10-04 18:55] alastairanderson commented on #49
I feel like I'm 2 years too late to this one, but I'm getting this issue at present with this code:
`
import React from 'react';
const HeaderBar = () => {
    return (<div>Some nav stuff</div>);
}
export default HeaderBar;`

React version 16.5.2, Storybook version 4.0.0-alpha.23

I do not have the issue if I switch to this code:
`import React from 'react';
export class HeaderBar extends React.Comp

[2018-10-04 19:15] datatribe commented on #3044
I'm having the issue with the DefinePlugin problem as well.  I've tried above recommended alpha fixes with no luck.  I'm following this tutorial out of the box: https://www.valentinog.com/blog/react-webpack-babel/, which with the latest versions of all listed dependencies works fine.

`getstorybook` works fine, but `npm run storybook` throws the exception many others seem to have encountered in on

[2018-10-04 19:18] gabrielcsapo opened #4289 "make react a implicit dependency of @storybook"
Right now we make clients who are not using react bundle react, which seems a little confusing.

[2018-10-04 19:19] gabrielcsapo commented on #4289
@shilman @igor-dv continuing discussion here

[2018-10-04 19:51] shilman commented on #4281
@igor-dv running into some problems. What I did (starting from a CRA1 project using `babel-core@6` and `babel-runtime@6`:

[code]

Then I added the following `.babelrc`:
[code]

And I'm getting the error:
[code]

[2018-10-04 19:53] lflpowell opened #4290 "addon-info: propTypes with references"
Passing references into prop types such as oneOf results in incorrect info being created.

Example:

[code]

Generates:

[code]

Rather than the expected:

[code]

[2018-10-04 20:39] relaxed-tomato commented on #3044
@ridhoq - can you share your `config.js` and `webpack.config.js` for storybook. I have the same versions, and am still receiving the below error:

[code]

[2018-10-04 20:56] dfenske opened #4292 "Error: Can't resolve 'react-icons/lib/io/chevron-right' when running start-storybook."
### Bug or support request summary
Process: I run `start-storybook -p 9001 -c .storybook` in the root of my React component library.
Expected outcome: Storybook runs.
Actual outcome: Error in console:
[code]

When I check for the react-icons/lib/io/chevron-right file, it indeed does not exist. Storybook has a dependency on react-icons (^2.2.7) and I have tried both v3.1.0 (the most recent) and v2.

[2018-10-04 21:06] ridhoq commented on #3044
Sure - https://gist.github.com/ridhoq/bfeb7688994cb8fe25f481671bf4d3b4. I don't know how helpful this will be for you as we may have different build requirements. I'm using npm for this project

[2018-10-04 22:03] shilman commented on #4281
## Gatsby

Here's what I found with Gatsby projects:

Gatsby 1.x projects are not auto-detected by `@storybook/cli` (see #3740), however if you set up the project manually (by copying a CRA config for example), it works fine with SB3.

Gatsby 1.x projects don't seem to work with SB4 and I suspect won't without some real work. I tried both of the CRA upgrade approaches and here's what I found:

1.

[2018-10-04 23:10] tmeasday commented on #4289
This seems like the right thing to do to me.

[2018-10-05 03:42] haldunanil commented on #4278
Do you have any examples you can point me to that implements the viewport setting?

[2018-10-05 05:30] igor-dv commented on #4289
Yes. Agree.

[2018-10-05 06:03] igor-dv commented on #4281
I agree

[2018-10-05 06:06] igor-dv commented on #4289
With the same effort, let's maybe add `babel-loader` + `@babel/core` to the angular app since they don't really need babel themselves.

[2018-10-05 06:10] cbzehner opened #4294 "Unable to resolve relative imports from *.stories.js files"
### Bug Summary
After installing the latest version of `create-react-app` with the [Typescript extension](https://github.com/wmonk/create-react-app-typescript) and using `@storybook/cli` to run `getstorybook`, I'm unable to resolve React (`.tsx`) files with relative imports.

Please let me know what additional information I can provide. Thanks for your help!

### Steps to reproduce

Pull down this

[2018-10-05 06:17] gabrielcsapo commented on #4289
@igor-dv you think we should do this in the same cleanup?

[2018-10-05 10:50] kuka-radovan opened #4295 "Explicit overriding of default babel configuration does not work"
Acording to [documentation](https://storybook.js.org/configurations/default-config/#babelrc-support), in case of project specific `.babelrc` file, storybook use that instead of the default one. It looks like this does not work.

I use `@storybook/polymer 4.0.0-alpha.24` and I have following `.babelrc` file
[code]

and `.browserslistrc` file
[code]

This configuration is mandatory, because `custom

[2018-10-05 11:59] Yogu opened #4296 "Full-control webpack config with default results in duplicate style loader rules"
We use storybook with angular in full-control webpack.config mode (to configure ts aliases). In v4.0.0-alpha.20 this worked fine, but sincd v4.0.0-alpha.21, we get the error "Module build failed: Unknown word" while loading CSS file. This is because `module.rules` includes css rules twice - once from angular-cli and once from the storybook's default webpack. I guess this should be migitgated by `a

[2018-10-05 12:44] codeaid commented on #3599
Is there any update on when Webpack 4 support will be released? Your comment said next month but it's been almost 5 months now and it's still alpha.

[2018-10-05 13:14] kaustubhslambda commented on #4006
Did You Solved it?

[2018-10-05 14:02] semb09 opened #4298 "Storybook webpack not configured for Create React App 2.0 Inline SVG's"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary
I recently upgraded to Create React App 2.0 so that I could use the new SVG import feature

`import { ReactComponent as Icon } from 'icon.svg';`

I then realised that this is provided via react-scripts webpack config and that Storybook has its own config. I then updated to the latest alpha version of S

[2018-10-05 14:39] pavel1992 commented on #4015
Forgot to do it after merge.

[2018-10-05 14:39] #4015 closed

[2018-10-05 15:37] kellym commented on #4259
Also experiencing this issue.

[2018-10-05 16:04] IanVS commented on #4093
Seems to be fixed on or before `alpha.24`, it's working now.  I think this issue can be closed.

[2018-10-05 16:05] binomialstew opened #4299 "Failed prop type: Invalid prop `value` of type `array` supplied to `TextareaAutosize`, expected `string`"
This seems to be due to the value prop passed by the storybook `array` knob.

Here, it is shown to accept an array:
https://github.com/storybooks/storybook/tree/master/addons/knobs#array

But in the component, `storybook/addons/knobs/src/components/types/Array.js`, the array value is passed to the '@storybook/components' TextArea and then through to `react-textarea-autosize`, which only accepts a

[2018-10-05 18:41] #4251 closed

[2018-10-05 20:11] brandondurham opened #4300 "@storybook/addon-viewport defaultViewport switching to first option when changing pages"
### Bug or support request summary

The `defaultViewport` setting loads the correct viewport on initial page load, but navigating to other components makes it switch to the first option in the viewport select menu.

### Steps to reproduce

1. In your viewport addon settings, make sure you have any setting but the first selected for the `defaultViewport` value.

[code]
1. Start up Storybook and loa

[2018-10-05 21:00] westandy opened #4301 "getstorybook installed wrong version of webpack?"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary
I have a newly built angular 6 project.  I then installed getstorybook and ran it in my project.  All is well so far.  I then run `npm run storybook` and I get the following error, which has been reported in other issues.  However, the solution I have seen is to upgrade storybook to an alpha version.

[2018-10-05 21:03] westandy commented on #4301
I think I may have figured it out.  Just upgrade my `@storybook/angular` to v4.0.0-alpha.  I was looking in all the wrong places... should had just read the ReadMe.md

[2018-10-05 21:04] #4301 closed

[2018-10-05 21:51] westandy-dcp commented on #3593
I followed @wuyuanyi135 solution.

1) I added a `.storybook/webpack.config.js` file code is below.
2) I added `to-string-loader` and `@storybook/addon-storysource` (alpha 4.0.0 version)

Here's my webpack code (same as @wuyuanyi135):
[code]

Adding `.less` to my project looks straightforward now.  Thank you, @wuyuanyi135 !

[2018-10-05 22:50] jonmilner opened #4303 "Addon panel buttons scroll with content or get pushed out of view"
Some addon panel buttons scroll with content. Others get pushed out of view as the content length increases:

https://storybooks-official.netlify.com/?selectedKind=Addons%7CKnobs.withKnobs&selectedStory=tweaks%20static%20values&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybooks%2Fstorybook-addon-knobs

- Scroll through the Knobs panel, and see the buttons scroll with the content.

![oct-