[2021-06-09 08:42] yairEO commented on #12101
I just click on the sidebar to open another story and then again back to one I want to reload.

[2021-06-09 09:26] ghengeveld commented on #11971
@lewispeel, @kendagriff and anyone else who has a need for this feature:

Can you describe the ways in which you intend to use this "button" control? How are you currently using Knobs? Can you give specific examples of real use cases? What problem does it solve for you?

Even though there's a PR open that adds a button control, we've decided to put that on hold and go back to the drawing board. Ri

[2021-06-09 09:58] activenode commented on #14909
@ThibaudAV there seems to be some flakyness involved in the process.

I followed the steps above and used `@next` resulting in the versions `6.3.0-beta.17` related to the packages.

Then, after serving storybook (not "build"ing it but only serving it) it would stop at 99% and show an empty page not being able to fetch the assets (js, css).

So I also followed what @vdiaz1130 said and at that point

[2021-06-09 10:30] npc-allanb commented on #14257
Also looking for work around for this issue.

[2021-06-09 10:39] dewinterjack commented on #14257
Removing the yarn resolutions removed the error on `build-storybook` and `storybook` however I am still having an issue with `process` not being defined

[2021-06-09 12:10] brylie commented on #6760
I'm experiencing a similar issue with Storybook 6.2.9

https://github.com/creativecommons/vocabulary/issues/895

[2021-06-09 13:03] shilman commented on #15176
Thanks for raising this @jbadan! Short answer: probably. We are in transition about how we implement polyfills, so will discuss with @ndelangen as we push that forward. I'll keep you posted.

[2021-06-09 13:06] as-zlynn-philipps commented on #10530
This is still an "issue" in v6.2.9. Also, it'd be nice to be able to search by story in docs mode. We just wanted to hide the Canvas tab, not remove these features.

[2021-06-09 13:32] shilman commented on #15180
do you see stories in the left-hand navigation panel?

[2021-06-09 13:46] yairEO commented on #7902
Reporting it's been almost over a year (since last comment) and this bug is still occurring

I've just spent some time not understand why my simple MDX story broke:

[code]

 It was caused from the new lines between each `<Story>`, inside the `<Canvas>`

[2021-06-09 14:07] shilman commented on #7902
@yairEO It's been over a year and we're still waiting for [MDX 2.0](https://github.com/mdx-js/mdx/issues/1041)

[2021-06-09 14:24] shertu commented on #15180
No. 😢

[2021-06-09 14:24] massi08 opened #15185 "Angular dependency injection not working"
**Describe the bug**
Angular dependency injection doesn't seem to work right with Angular 9.

**To Reproduce**
Simply import `ChangeDetectorRef`  in component constructor

[code]

Component story:

[code]
Browser Error:

[code]

**System**
Environment Info:
[code]

**Additional context**
I've seen other closed tickets related to this issue (https://github.com/storybookjs/storybook/issues/7544), bu

[2021-06-09 14:38] SebCorbin commented on #12944
I would like to know if there is a hook or a way to execute something when a vue component is unmounted too...

[2021-06-09 14:39] bdefore commented on #14938
i'm encountering a similar issue with storybook 6.2.9 as well as 6.3.0-rc.0 with the time-input-polyfill library for which i've filed an issue (https://github.com/Dan503/time-input-polyfill/issues/35)

[code]

This occurs in my storybook build, even though the webpack build succeeds, where i'm configuring a rule for `mjs` files:
[code]

[2021-06-09 14:49] jbadan commented on #15176
@shilman Thanks!

[2021-06-09 14:52] oscard0m commented on #13250
Hi @ndelangen and sorry for the delay in the response. These days I'm focused on searching for a new job and studying for it, so I don't have the time I would like to work on this. Still interest into it but I don't want to block other interested contributors if there are.

[2021-06-09 15:04] kendagriff commented on #11971
In our case we're using a button to save the current state of the component to `localStorage`.

But speaking generally, I think it's a straightforward need: imagine needing a button that increments a counter which is in turn _used as an input_ to the component you're testing in Storybook. I can't think of any other reasonable control accept to kind of fake it with a number or range input.

[2021-06-09 15:05] anwalkers commented on #14905
@shilman From our application using latest and v0.0.1 Angular Ivy compiler addon.

OUR APPLICATION Environment Info:

  System:
    OS: Linux 5.4 Ubuntu 20.04.2 LTS (Focal Fossa)
    CPU: (8) x64 Intel(R) Core(TM) i7-7820HQ CPU @ 2.90GHz
  Binaries:
    Node: 12.21.0 - ~/.nvm/versions/node/v12.21.0/bin/node
    Yarn: 1.22.10 - ~/.nvm/versions/node/v12.21.0/bin/yarn
    npm: 6.14.11 - ~/.nvm/versio

[2021-06-09 15:10] jrandallw commented on #3291
This worked for me. Spent a few days working on it, finally a solution. Thanks @cristian-spiescu.

[2021-06-09 15:46] dominicjameskelly commented on #14909
Exactly the same for me. It would be great if we didn't need a default (dummy) application to make this work.

[2021-06-09 17:00] 3nuc commented on #1708
**Good news**

If you [download the latest beta of Vue devtools](https://github.com/vuejs/vue-devtools/releases/tag/v6.0.0-beta.14) and open the storybook main page you'll see this:
![image](https://user-images.githubusercontent.com/5359825/121397723-e583fb80-c954-11eb-8a2f-0b33d57b5a4d.png)

As you can see that's the main storybook page, not the bare iframe view.

This works for both Vue 2/3-base

[2021-06-09 17:59] hawkticehurst commented on #6569
Not sure if this might help for anyone new coming to this issue, but I was running into the same problem in `v6.2.9`.

The [Storybook documentation](https://storybook.js.org/docs/react/configure/features-and-behavior) demonstrates setting the `enableShortcuts` inside of `.storybook/manager.js`, which had no effect for me. However, setting the same config inside of `.storybook/preview.js` as shown

[2021-06-09 18:59] JBallin commented on #15180
Are you defining a [default export](https://storybook.js.org/docs/react/writing-stories/introduction#default-export) in your story?

I spent a while with this same issue until I realized it is required. I think the docs should either clarify this or the title should be inferred from the file name (e.g. `MyComponent.stories.js` ➡️  `MyComponent`).

[2021-06-09 19:28] pardoman opened #15188 "Avoid reinitializing component when resizing pass the 600px width threshold"
**Is your feature request related to a problem? Please describe**
When using Storybook in fullscreen mode, with a screen with above 600px, when I resize the screen to less than 600px, the entire Storybook seems to re-initialize, along with the component I'm the fullscreen view.

The frustrating part is that it resets all the knobs I've manually changed for the story.
It's also frustrating testing

[2021-06-09 20:26] yannbf commented on #15188
Hey @pardoman  I'm not 100% familiar with the specific code for this but I think there are two different components, one to handle desktop and one to handle mobile, and when switching between them it ends up rendering a new iframe instance. I might be wrong though.

Could you please tell me the use cases for using the dev tools? In Storybook 6.3(currently in RC) there is a new addon added to essen

[2021-06-09 21:07] huchim commented on #14807
I have the same problem:

`package.json`:

[code]

When i try t `npm i -D @storybook/addon-actions` throws the same error:

[code]

[2021-06-09 21:20] JoshuaToenyes commented on #14807
@huchim – Seems like this is the tracking issue now https://github.com/storybookjs/storybook/issues/14619, which is currently in the [v6.4 milestone](https://github.com/storybookjs/storybook/milestone/64). Current workaround is using `npm install --force`.

[2021-06-09 21:30] huchim commented on #14807
Thanks @JoshuaToenyes ...  I'll be patiently waiting for the next release... :)

[2021-06-09 22:11] yann-combarnous commented on #15067
PR was merged for react-docgen-typescript, but they bumped major version to 2.0.0 and storybook is using ^1.0.0.

[2021-06-09 23:33] lukegravitt commented on #14434
This is not an exclusive issue to vue3, this occurs in all versions. Storybook does not set default props correctly if the value is a function (which is required for all arrays and object types) so this results in storybook spewing a lot of errors that don't otherwise exist in your code.

[2021-06-10 01:03] pardoman commented on #15188
Hey @yannbf thanks for all that info. Thanks for your response.

I wasn't aware of the viewport addon, nor addon controls controls in general, so I'll be sure to look into those, next.

I'll post back again after I evaluate them. Thank you.

[2021-06-10 03:32] shilman commented on #15067
We'll try to get this sorted for 6.3

[2021-06-10 03:58] shilman commented on #14024
@o-alexandrov Ok I understand the question better now after chatting with @IanVS

This is primarily a vite-builder issue. Builders are 100% responsible for Storybook's preview iframe in the current architecture, and as far as I know have all the information they need to implement HMR for both components and stories.

There may be more changes needed on the Storybook side. For example, we've been m

[2021-06-10 03:58] #14024 closed

[2021-06-10 05:02] shilman commented on #14434
@lukegravitt Try upgrading to the latest prerelease:

[code]

We've changed the way default values are handled and I'm betting this is fixed

[2021-06-10 05:03] shilman commented on #15180
@shertu Can you please create a reproduction by running `npx sb@next repro`, following the instructions, and linking it in your issue description? We prioritize issues with reproductions over those without. Thank you! 🙏

[2021-06-10 05:04] shilman commented on #6569
@jonniebigodes looks like a documentation issue ☝️

[2021-06-10 05:05] shilman commented on #1708
Awesome. Going to close this issue! Thanks for the heads up @3nuc !!!

[2021-06-10 05:05] #1708 closed

[2021-06-10 05:41] shertu commented on #15180
This was the issue. Thank you for you assistance.

![image](https://user-images.githubusercontent.com/7973587/121470996-546b5e00-ca02-11eb-9167-aeebba47e609.png)

[2021-06-10 05:41] #15180 closed

[2021-06-10 07:23] #14842 closed

[2021-06-10 07:35] eduludi commented on #12093
The way I solved this, using Storybook v6.29, was adding the following into `.storybook/main,js`

[code]

[2021-06-10 07:36] cloakedninjas commented on #15124
Will this make it to 6.3 or will it have to wait for 6.4? Oris it possible to have `storyshots` at a different version to the core package?

[2021-06-10 08:03] jantimon opened #15190 "add tsx support for <Canvas />"
Canvas supports `mdxSource` but does not allow to set a language and always fallsback to `jsx`.
Therefore it is not possible to set it to `tsx`.

**Describe the solution you'd like**
Right now Canvas has only the `mdxSource` prop:

https://github.com/storybookjs/storybook/blob/0404fa95601dca508812c34db6bc03292461f0e9/addons/docs/src/blocks/Canvas.tsx#L17

This value is handed over to `getSourcePro

[2021-06-10 08:55] Himself65 commented on #15067
Upstream package has fixed this bug. When could this package use the correct version?

https://github.com/styleguidist/react-docgen-typescript/releases/tag/v2.0.0

[2021-06-10 08:57] bebraw commented on #15067
@Himself65 There's a tiny regression in v2.0.0 that likely has to be fixed before the related webpack plugin can be updated as its test suite is failing with the fix. Here's more info: https://github.com/hipstersmoothie/react-docgen-typescript-plugin/issues/42#issuecomment-858433886 .

[2021-06-10 09:20] krishnadevz commented on #979
* delete your stories

* delete the .storybook folder

* delete scripts and dependencies from package.json (usually, delete every single line which contains 'storybook')
and then
do `npx sb init`
and then do `npm run storybook` good to go

[2021-06-10 09:22] bebraw commented on #15067
For reference, here's the issue related to the regression that's blocking react-docgen-typescript-plugin upgrade to v2: https://github.com/styleguidist/react-docgen-typescript/issues/366 .

[2021-06-10 10:11] shilman commented on #15124
I would recommend somebody releases a forked version of storyshots.

[2021-06-10 10:32] alanionita commented on #12576
@wztech0192  Where does this params object need to go? Have tried adding it to `.storybook/main` under addons/addon-storysource/options/parameters

Seems to be the wrong spot.

[2021-06-10 10:45] radk0s opened #15193 "Inconsistent state of url query params"
**Describe the bug**
Switching themes/locale in storybook preview toolbar adds corresponding query params to url. However selecting new story from sidebar removes all of them from url despite of selections in toolbar stays the same. Similar thing happens when you change values in controls add-on - instead of adding query param to existing ones it replaces all of them. As result when you copy link/

[2021-06-10 12:37] timohermans commented on #13859
@bodenloszt @shilman  this has been fixed in [6.3.0.rc-1 See ](https://github.com/storybookjs/storybook/commit/202bfa548be19dfe807bd1384e48e2eff0c79449)

[2021-06-10 12:37] hupato-vomatec commented on #15161
I tried it but still same error :/

[2021-06-10 12:43] shilman commented on #13859
great, thanks for letting me know. closing!

[2021-06-10 12:43] #13859 closed

[2021-06-10 12:45] shilman commented on #15172
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-rc.2 containing PR #15192 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-10 12:45] #15172 closed

[2021-06-10 14:56] ThibaudAV commented on #14909
@dominicjameskelly

I recently tested it and it seems to work on a configuration like :
[code]
the important points are :
- the `architect.build` (but becomes configurable with the new storybook ng builder)
- tsConfig path in options

but it would be nice to have examples of simple projects where it doesn't work in order to progress on this feature with real use case :)

[2021-06-10 15:25] mdeberryfadv commented on #14909
@ThibaudAV, I don't have a project to share, but I have confirmed that the issue I was having was caused by the tsConfig property not being set in options.

[2021-06-10 15:34] ThibaudAV commented on #14909
@mdeberryfadv Do you use one instance of storybook per library?
or one instance for all libraries ?

[2021-06-10 15:36] mdeberryfadv commented on #14909
@ThibaudAV The current setup is one per library

[2021-06-10 15:44] ThibaudAV commented on #14909
@mdeberryfadv I recommend you to watch this https://gist.github.com/ThibaudAV/b5a9f993b01c3d3bbdf01c0fd8f3c73f it's brand new (some adjustments are in progress https://github.com/storybookjs/storybook/pull/15194)
but will allow to have a correct config per library
otherwise in your case each storybook instance will use the defaultProject config

if I am not mistaken

[2021-06-10 15:55] shilman commented on #14909
Hi All, It seems like Angular12 is working successfully for a lot of people, so I'm going to close this issue. If you're experiencing any problems with Angular12 compatibility, please:

1. Search the Storybook github issues to see if there's a match, and upvote it if there is
2. File a new issue if you can't find an existing issue

Thanks and happy hacking! 🚀

[2021-06-10 15:55] #14909 closed

[2021-06-10 16:08] AndranikA commented on #12028
I confirm having the bug after running npx sb@next upgrade --prerelease
version 6.3.0-rc.2

[2021-06-10 16:40] IanVS opened #15195 "[@storybook/testing-react] composeStories typescript error when using parameters.layout"
**Describe the bug**

My story is using

[code]

But I get the typescript error below when I try to `composeStories`:

[code]

I can work around this by specifying:

[code]

But maybe it's better for the typescript type for composeStories to be a bit more generic and allow `string` (or perhaps specify `readonly` somewhere...)?

**To Reproduce**
I can create a reproduction if requested, but I think

[2021-06-10 16:54] EliHowey opened #15196 "Incorrect typesVersions in @storybook/* packages cause build errors with older TS versions"
**Describe the bug**
I have an Angular 9 Storybook running on TypeScript v3.6.5. I recently tried to upgrade Storybook from v6.1.3 to v6.3.0-rc.0, but ran into a TS compilation error in every file that imported a `@storybook` package: `Cannot find module '@storybook/*'`

I was able to trace the issue to the `typesVersions` listed in each package's `package.json`. Currently, each package lists some

[2021-06-10 18:13] tjlittle commented on #11587
I would like to add that it would be really nice to be able to import items from the SvelteKit config - it's a good spot for specifying shared config between SvelteKit and Storybook.

[2021-06-10 21:34] Manubi commented on #10987
Any news on this one? 😄

[2021-06-10 22:05] pardoman commented on #15188
Hey @yannbf , I added `"@storybook/addon-viewport": "^6.2.9"` to my storybook and it's working great for my needs.

I still need to look deeper into `addon controls`, but as far as the issue I reported here, I think we can close it. @shilman

Thank you.

[2021-06-10 22:05] #15188 closed

[2021-06-10 23:24] DiFuks commented on #12585
I have the same problem (the build hangs for about 5 seconds at this stage: `"70% sealing plugins DocGenPlugin"`)

With the `typescript: {reactDocgen: 'react-docgen'}` option enabled, rebuilding is very fast, but almost all types are missing from the document.

<details>
  <summary>With the option enabled:</summary>
![Screen_Shot_2021-06-11_at_2 16 35_AM](https://user-images.githubusercontent.com/

[2021-06-10 23:35] DiFuks commented on #12585
Args children and icon declare in argTypes. Without this, the props panel is empty

[2021-06-11 01:30] DiFuks commented on #12585
main.js:

[code]

[2021-06-11 04:31] shilman commented on #11971
@ghengeveld another use case from Discord

[code]

[2021-06-11 08:27] sho-otani-icare commented on #14827
Removing `^` from package.json works for me.
In my case, `@storybook/components` was installed in different version.
I just fixed the version and the error has gone.

[2021-06-11 08:42] davesnx opened #15202 "Storybook only accept an `integer` as port, causing Unix sockets to not work."
**Describe the bug**
The start-storybook CLI and the storybook config only accepts integers as port values. This causes a type-checking problem here: https://github.com/storybookjs/storybook/blob/next/lib/core-server/src/dev-server.ts#L52-L54 but in reality disables a use-case that I'm interested in using: which makes the server listen to a Unix socket instead of a port.

**To Reproduce**
The step

[2021-06-11 09:36] mike-han commented on #12022
Hi @shilman, I have upgraded to the latest version(`6.3.0-rc.2`), but this problem still exists:

Here is my stories:

[code]

The code in docs:
![image](https://user-images.githubusercontent.com/16368087/121665505-f8283d00-cada-11eb-8fac-b04f2a4268c3.png)

[2021-06-11 11:38] massi08 commented on #15185
Some additional info: The project where this happens is a monorepo powered by Lerna (https://github.com/lerna/lerna#how-it-works).
So in my story when i Import `import {RadioComponent, RadioGroupComponent} from '@engie-group/fluid-design-system-angular'`; it actually imports the components from a package which is a linked directory in my projet, not from a package downloaded from npm.

[2021-06-11 12:18] shilman commented on #12022
@mike-han you need to opt-out

[code]

[2021-06-11 12:22] shilman commented on #15171
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-rc.3 containing PR #15201 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-11 12:22] #15171 closed

[2021-06-11 12:54] vprothais commented on #14026
Thank you @dexster for the tip. Storybook works well with `--create-ivy-entry-points` in my Nx repo. But it makes some Jest unit tests to fail.
It seems to have problems with the fixture or the declarations of some directives. Did you notice the same thing ?

[2021-06-11 14:57] vousys opened #15206 "Next.js 10 webpack5 + Storybook 6.2.9 + Tailwind / Not loading CSS"
Hi, I've installed storybook on Next.js 10  with webpack5 + Storybook 6.2.9 + Tailwind,  but I can't see the CSS styles, as you can see in this image:

![image](https://user-images.githubusercontent.com/12813221/121705833-6fde7380-caab-11eb-9931-1bbebb58df75.png)

main.js

[code]

I check all github related issues, but I don't want to downgrade Tailwind to use Storybook, is there anything I can do

[2021-06-11 17:22] IvanovRoman opened #15208 "Storybook not compile source monaco-editor"
I am get this error
[code]
This is code `contextMenuHandler.css`
[code]
This is my main.js
[code]

[2021-06-11 18:22] litan1106 opened #15210 "Uncaught Error: Singleton client API not yet initialized, cannot call addParameters after upgraded from 6.3.0-beta.16 to 17"
[code]

[2021-06-11 18:33] litan1106 commented on #15210
fixed with 6.3.0-rc.4 and vite builder 0.0.8

[2021-06-11 18:33] #15210 closed

[2021-06-11 19:15] erikt9 opened #15211 "@storybook/addon-storyshots-puppeteer@6.3.0-rc.4 requires a peer of @storybook/addon-storyshots@6.3.0-beta.17"
https://github.com/storybookjs/storybook/blob/a2752c20b83025da7b57ecb691ebeea11ab2d247/addons/storyshots/storyshots-puppeteer/package.json#L56

Getting the npm warning:
`npm WARN @storybook/addon-storyshots-puppeteer@6.3.0-rc.4 requires a peer of @storybook/addon-storyshots@6.3.0-beta.17 but none is installed. You must install peer dependencies yourself.`

When installing any of the rc releases.

[2021-06-11 22:03] farukbigez commented on #6188
I'm using 6.2.9 none of them didn't work for me. Is there any other solution for this?

[2021-06-11 22:07] corymharper opened #15214 "The Addons section in the readme has several broken links"
**Describe the bug**
The [addons](https://github.com/storybookjs/storybook#addons) section of the readme seems to link to several pages that don't exist. Specifically:

[cssresources](https://github.com/storybookjs/storybook/blob/next/addons/cssresources)
[design assets](https://github.com/storybookjs/storybook/blob/next/addons/design-assets)
[events](https://github.com/storybookjs/storybook/blob/

[2021-06-11 22:25] JBallin commented on #15180
@shilman do you know if the issue I mentioned is known? If not - would you like me to open a new issue with a repro?

[2021-06-11 22:44] jonniebigodes commented on #15214
@corymharper thanks for bringing this to our attention. We're aware of it and soon a pull request will be up to address this. This came from #14831.

Stay safe

[2021-06-11 23:29] farukbigez opened #15215 "Storybook 6.2.9 svgr causes crash and @svgr/webpack can't solve the issue"
I'm using @svgr/cli and using webpack to initialize storybook. Every solution on the internet didn't fix my issue.

here is my try:

[code]

my error:
[code]

[2021-06-12 05:12] Ghazaleh-Graziella opened #15216 "Bug report"
hello
would you please help on this issue ? #15094

[2021-06-12 10:52] Niznikr commented on #14274
Would love to know as well where this can be tweaked. We're forced to use a script to insert the `.js` separately for our design system as a result of Storybook not working with it which doesn't feel great. This feature is important for [ES modules and import maps](https://blog.logrocket.com/es-modules-in-browsers-with-import-maps/).

[2021-06-12 22:08] grett1212nyc commented on #15136
``https://reposhub.com/linux/miscellaneous/M3GABOY-Termux_url_opener_all_in_one_downloader.html#all-in-one-download-script-for-termux"

[2021-06-12 22:09] grett1212nyc commented on #15136
[]() #15197

[2021-06-12 22:09] grett1212nyc commented on #15136
@grett1212nyc

[2021-06-13 04:44] lifeiscontent opened #15221 "TypeError: dep.getModuleEvaluationSideEffectsState is not a function"
**Describe the bug**
using 6.3.0-rc.4 I'm getting an error when running storybook

**To Reproduce**
@shilman I can show you on lifetime, not sure how to reproduce in paired down example.

**System**
Environment Info:

  System:
    OS: Linux 5.4 Zorin OS 15.3
    CPU: (4) x64 Intel(R) Core(TM) i3-10110U CPU @ 2.10GHz
  Binaries:
    Node: 14.16.1 - ~/.asdf/installs/nodejs/14.16.1/bin/node
    Yarn

[2021-06-13 13:13] pixelass opened #15223 "preview > decorators causes: "Rendered more hooks than during the previous render.""
**Describe the bug**
When adding a decorator to `.storybook/preview.js` an error occurs: "Rendered more hooks than during the previous render."

[code]

<img width="420" alt="Screen Shot 2021-06-13 at 15 10 48" src="https://user-images.githubusercontent.com/1148334/121808610-8e826d00-cc59-11eb-8839-46d96675f51c.png">

**To Reproduce**
Repro: TBD

Add the following code to your `.storybook/preview.

[2021-06-13 15:13] dudiharush opened #15224 "Running Storybook with Webpack 5 and swc-loader results with an error"
**Describe the bug**
I use Storybook for a React application, and it works with babel-loader, but not with swc-loader

**To Reproduce**
in a working Storybook project, change babel-loader to swc-loader in main.js webpackFinal function's config and run Storybook

**System**
 @storybook/builder-webpack5: "6.3.0-rc.4",
 @storybook/manager-webpack5: "6.3.0-rc.4",
 @storybook/react: "6.3.0-beta.4",

**

[2021-06-13 15:55] WoodyDark opened #15225 "Cannot GET / error on Vue 3"
**Describe the bug**
Everything seems to be compiling fine, but there's a 404 error after I run `npm run storybook`.
![image](https://user-images.githubusercontent.com/40813266/121814332-ff9a4280-cca2-11eb-90ff-62924b27c510.png)
![image](https://user-images.githubusercontent.com/40813266/121814358-2b1d2d00-cca3-11eb-8a23-10542d272814.png)
![image](https://user-images.githubusercontent.com/40813266

[2021-06-13 17:53] MathurUtkarsh commented on #15214
I want to fix this issue . Please Assign it to me.

[2021-06-13 18:22] WoodyDark commented on #15225
Seems like maybe the installation wasn't correct or something. It works after I purged the `node_modules` folder and re-ran` npm install`

[2021-06-13 18:22] #15225 closed

[2021-06-13 19:26] wbern commented on #9979
I changed my storybook instance to systemjs and it was pretty painless.

Just switch output to "system" in webpack config, add an import map using a previewHead hook in main.js, and it is done.

Another important part is that each story needs to import from the module name, not by relative path.

The original posters issue sounds like the script tag for systemjs just wasn't high up enough in the p

[2021-06-14 02:29] christopherjbaker commented on #12262
The first answer on [this stackoverflow](https://stackoverflow.com/questions/65894711/module-not-found-error-cant-resolve-emotion-styled-base-when-running-story) fixed the above problem perfectly, by telling storybook to use emotion 11's new locations. I do not know if there will be effects to this, but I have not found any. Worth a try if it is holding you back!

`.storybook/main.js` from the abo

[2021-06-14 07:27] meriturva opened #15227 "build-storybook (v6.3.0-rc.4) produce output but process doesn't complete"
We have quite a big project here (Angular v12) and with Storybook 6.3.0-rc.4 we have a blocking issue for our CI system.

Running: `build-storybook -o dist/storybook --loglevel verbose` we see log output with no errors:

[code]

Actually, we find storybook build on the output directory but the main process doesn't complete. The build process still running with 0 CPU consumption(our CI cannot compl

[2021-06-14 07:42] kroeder commented on #15185
Long shot: You use `component: RadioGroupComponent` and also use `RadioComponent` in the stories
Doesn't this mean you never actually declare `RadioComponent`? I wonder why there's no "RadioComponent is not part of an NgModule" error

Is there a `RadioModule` you can use in your story?
Can you reproduce this with e.g. a new hello-world component that does nothing but injecting the ChangeDetectorRe

[2021-06-14 09:17] Asim-Tahir opened #15228 "6.3.0-rc.4 white border appears on page render"
**Describe the bug**
When open the devtools and change selected stories or switch between `canvas` and `docs` tabs, white borders appears. I don't know this is bug or was it done on purpose.

**To Reproduce**
Repro links: https://github.com/Asim-Tahir/storybook-repro-15228
1. - [ ] `git clone https://github.com/Asim-Tahir/storybook-repro-15228.git`
2. - [ ] `yarn storybook`
3. - [ ] Go to http://l

[2021-06-14 10:13] eric-burel commented on #11916
Just a note on this, there seems to be bugs from time to time when using `strictBindCallApply`. I am not sure yet of the cause, it's probably not Storybook's fault since the other typings are perfectly ok. I suspect VS Code sometimes is not applying `strictBindCallApply`, or type checking failing somehow, in some setups.

[2021-06-14 12:04] #15215 closed

[2021-06-14 12:14] afonsoalban commented on #10647
Any news on this?

[2021-06-14 12:26] yannbf opened #15233 "React: Uncaught Syntaxerror: unexpected identifier"
**Describe the bug**

Storybook initializes correctly and works fine, then you make a change in a component used in the story, and if you refresh Storybook, it gives the error below:

![image](https://user-images.githubusercontent.com/1671563/121820038-cb1d8b00-cc90-11eb-9812-c22cd0b28e65.png)

**To Reproduce**

1 - Access the [repo](https://github.com/yannbf/mealdrop)
2 - Run `yarn storybook`
3 -

[2021-06-14 12:26] Foxandxss commented on #13940
Any update on this? It is a weird issue indeed

[2021-06-14 13:28] shilman commented on #13913
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-rc.5 containing PR #15168 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-14 13:28] shilman commented on #14204
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-rc.5 containing PR #15145 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-14 13:28] shilman commented on #15193
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-rc.5 containing PR #15213 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-14 13:29] #14204 closed

[2021-06-14 13:29] #15193 closed

[2021-06-14 13:59] bdefore commented on #15221
I'm also experiencing this since upgrading from Webpack 4 to a non-PNP Webpack 5 setup. Looks like @lifeiscontent is using PNP.

[2021-06-14 14:12] massi08 commented on #15185
Yes i still get the same issue.

Here's the component:

[code]

template: `test-cdr.component.html`

[code]

its story:

[code]

Here's the browser preview with the same error:

![image](https://user-images.githubusercontent.com/17096495/121905507-83e3d880-cd2a-11eb-8921-77b13886ada2.png)

[2021-06-14 14:22] daan93 commented on #15063
Just downgraded storybook to 6.1.21 because of another issue with story example code not being available. After downgrading, the issue with createEmbeddedView is also not there anymore. I understand the focus for Angular support is now on storybook version 6.3, so I will test with the release candidate after this.

[2021-06-14 14:44] bebraw commented on #15233
I can confirm the issue. For reference, here's the full error:

[code]

See especially the line

/* WEBPACK VAR INJECTION */}.call(this, __webpack_require__(/*! ./node_modules/@pmmmwh/react-refresh-webpack-plugin/lib/runtime/RefreshUtils.js */ "./node_modules/@pmmmwh/react-refresh-webpack-plugin/lib/runtime/RefreshUtils.js"), __webpack_require__(/*! ./node_modules/@pmmmwh/react-refresh-webpack-plu

[2021-06-14 14:56] bebraw commented on #15233
The next weird thing is that the generated code is like this:

[code]

It's the same code **three** times except for the center one that has been rewritten a bit my the HMR plugin.

I know react-docgen-typescript-plugin is generating the try/catch at `generateDocgenCodeBlock` but looking at https://github.com/hipstersmoothie/react-docgen-typescript-plugin/compare/v0.7.1...v1.0.0, it wasn't changed

[2021-06-14 15:01] bebraw commented on #15233
It seems the project is pulling an old version of react-docgen-typescript-plugin. Looking at `yarn.lock`, I noticed the following

[code]

Then if you inspect `node_modules`, you can see it's using `react-docgen-typescript-plugin "^0.6.2"`.

I'm not sure if this is the problem, though, as it's possible it's still resolving to the right one elsewhere in the tree.

@yannbf Can you simplify the issue

[2021-06-14 15:58] yannbf commented on #15233
Hey @bebraw thank you so much for the investigation!! I added a resolution step:
[code]

So both storybook and storybook cra preset use the latest version. The problem persisted unfortunately!

[2021-06-14 16:37] bebraw commented on #15233
@yannbf Ok, good to know. If you have time, you could try to fix it to `0.7.1`. If that fixes the issue, then it's something in `1.0.0`. I'll try this as well unless you get to it first.

[2021-06-14 16:54] yannbf commented on #15233
Thanks for your suggestion! That does fix the issue.

[2021-06-14 17:23] s100 commented on #15174
`glob-base` has [an issue open](https://github.com/micromatch/glob-base/issues/6) to upgrade from `glob-parent@^2.0.0` (!!) to a patched version (`@^5.1.2`). However, that issue has been open since 15 May with no activity, and the `glob-base` repo itself has seen no activity since **September 2015** and is clearly unmaintained.

Recommendation is for `@storybook/core-common` to stop using `glob-ba

[2021-06-14 18:09] jmtt89 opened #15238 "ERESOLVE unable to resolve dependency tree (html-webpack-plugin)"
**Describe the bug**
ERESOLVE unable to resolve dependency tree

**To Reproduce**
- ng new my-first-project
- cd my-first-project
- npx sb@next init
- rm -rf package-lock.json  node_modules
- npm install

[code]

**System**
Environment Info:

  System:
    OS: Linux 4.19 Ubuntu 20.04.2 LTS (Focal Fossa)
    CPU: (8) x64 Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz
  Binaries:
    Node: 14.17.0 - ~/.nv

[2021-06-14 18:52] yairEO commented on #12054
I see `<Template.bind({})` in my `Addons` toolbar's **Stroy** tab:

![image](https://user-images.githubusercontent.com/845031/121943883-51e66c80-cd52-11eb-904a-d2e5fed386b5.png)

But see the "correct" story within the *docs* page:

![image](https://user-images.githubusercontent.com/845031/121943999-72aec200-cd52-11eb-9a84-353a34ba357a.png)

[2021-06-14 19:13] jonniebigodes commented on #15214
@corymharper I've just pushed a pr to address this.

@MathurUtkarsh I saw your pull request and I left a note why it's closed.

Stay safe both of you

[2021-06-14 20:09] meriturva commented on #15227
I have just build a static storybook from a new angular 12.0.4 project and storybook 6.3.0-rc.5 finding same issue.
Build project is blocked after generating all files necessary. Investigating a little bit i have found that:

due to the fact that `buildStatic` is an async function:

https://github.com/storybookjs/storybook/blob/next/app/angular/src/server/build.ts#L4

I guess that you have to wait

[2021-06-14 21:37] bdefore commented on #15221
Following this issue https://github.com/mrsteele/dotenv-webpack/issues/275, I was able to avoid this error by adding to my config:

[code]

Storybook builds, but I am now encountering an error when viewing in browser: https://github.com/storybookjs/storybook/issues/15097

[2021-06-14 21:38] bdefore commented on #15097
Similar error for me on 6.3.0-rc.5:

[code]

[2021-06-15 00:44] shilman commented on #15097
See the note about filenames here:

https://storybook.js.org/docs/react/writing-docs/mdx#mdx-file-names

Closing!

[2021-06-15 00:44] #15097 closed

[2021-06-15 06:03] mike-han commented on #12022
@shilman It works well, thanks!

[2021-06-15 06:35] joniruokamo commented on #14912
I am also using my Angular 12 project as a library and styles are not working. The only way I am able to get the styles into the storybook is to add them as global styles to angular.json, but this is not a viable solution as global styles are not permitted in angular.json for a library project. How did you get yours work @ronaldohoch?

[2021-06-15 07:02] #15233 closed

[2021-06-15 07:40] fikkatra opened #15246 "storybook build error on fresh Angular CLI project"
When adding Storybook to an Angular project that was created with the Angular CLI (monorepo approach with a single library), running `npm run storybook` produces the following error:

Repro steps:
[code]

Build output:

1.1.11

TypeScript version used by Compodoc : 2.9.1

TypeScript version of current project : 4.2.3

Node.js version : v12.18.3

Operating system : macOS Catalina

[09:26:42] No con

[2021-06-15 07:40] badsyntax commented on #10231
For me the solution was to add the emotion packages to the webpack.config.js:

[code]

[2021-06-15 08:05] shilman commented on #15246
Angular 12 was added in 6.3. To use the RC:

[code]

[2021-06-15 08:58] meriturva commented on #12116
Sorry @jonniebigodes and @shilman , just to know: do you plan to add an example on repo to explain how to use MDX, ArgsType and Angular?

Thanks!

[2021-06-15 09:11] fikkatra commented on #15246
@shilman thank you for your answer, but unfortunately that still produces the same error.

Build output (starting from @storybook/angular version):

info @storybook/angular v6.3.0-rc.6
info 
info => Loading presets
Compiling @angular/animations : fesm2015 as esm2015
Compiling @angular/core : fesm2015 as esm2015
Compiling @angular/animations/browser : fesm2015 as esm2015
Compiling @angular/animatio

[2021-06-15 09:26] hazem3500 commented on #15153
Closed as PR is merged in `react-docgen-typescript`

[2021-06-15 09:26] #15153 closed

[2021-06-15 09:37] shilman commented on #15067
Gadzooks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-rc.7 containing PR #15247 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-15 09:45] shilman commented on #12116
You probably need something like:

[code]

[2021-06-15 09:48] rschulz-scisys commented on #15227
alternate approach is the process.exit in angular/dist/ts3.9/server/build.js, I do this as npm post ionstall script to keep our Jenkins Pipeline running

sed -i 's/server_1.buildStatic(options_1.default);/server_1.buildStatic(options_1.default).then(function(){process.exit(0)});/g' node_modules/@storybook/angular/dist/ts3.9/server/build.js

[2021-06-15 10:00] hazem3500 commented on #14477
I've tested this issue on version `6.3.0-rc.7` but it's still not working, is it supposed to be fixed in `6.3.0-rc.7` or will it be in another version?

[2021-06-15 10:25] meriturva commented on #15227
Thanks @rschulz-scisys, actually we have also this kind of approach on our Teamcity build pipeline but I think it is an issue to fix quite soon. I'm going to test rc7 in minutes.

[2021-06-15 10:41] Athira001 commented on #14789
![image](https://user-images.githubusercontent.com/37729206/122039420-4cd9f980-cdf4-11eb-86f4-d42c7df93c82.png)
@shilman Facing the same issue

[2021-06-15 10:41] mfrancekovic commented on #15246
I'm having the exact same issue with Angular 12.

I've tried upgrading the Storybook to `6.3.0-rc.7` and adding the extends path to tsconfig.json to `.storybook/tsconfig.json`.
But it didn't help.

[2021-06-15 11:27] shilman commented on #14477
issue's still open so i don't think it's going to happen in this release. we're redoing how we render stories in docs mode in 7.0, so maybe that's the best time to fix it.

in the meantime you can probably set `docs: { inlineStories: false }` in your global parameters as a workaround.

[2021-06-15 11:32] mfrancekovic commented on #15246
@fikkatra @shilman I've managed to make it work by just adding tsConfig to the angular.json like this 👇

[code]
It seems like the storybook builder doesn't know to take into account the `defaultConfiguration` from the angular.json.

[2021-06-15 11:50] paschalidi commented on #14682
+1 on this

[2021-06-15 11:57] oussamabouchareb commented on #2758
for some odd reason using ```"@babel/preset-typescript"``` in my .babelrc made it fail, creating a new .babelrc file in .storybook folder with and putting all of my code from the other .babelrc I had and only removing ```"@babel/preset-typescript"``` fixed it

[2021-06-15 12:21] ronaldohoch commented on #14912
I don't think i remember exactly, but i this is that line commented in preview.js, check below:
This is my .storybook/main.js

[code]

This is my .storybook/preview.js
[code]

[2021-06-15 13:08] sayinserdar commented on #13015
In my case, the output is exactly the same but the way I reproduce is completely different. Unfortunately, @desirelabs' solution doesn't apply.

Whenever I change a branch it sticks at  `95% emitting fork-ts-checker-webpack-plugin` I have to restart to the local server to make it work. It's probably related to webpack plugin. It could be nice to have a time limit on these kinds of obstacles so it

[2021-06-15 13:29] MuizMahdi opened #15248 "RenderException on Angular"
**Describe the bug**
Components do not render on canvas.

**System**
Environment Info:

  System:
    OS: Windows 10 10.0.19041
    CPU: (8) x64 Intel(R) Core(TM) i7-4790 CPU @ 3.60GHz
  Binaries:
    Node: 14.15.4 - C:\Program Files\nodejs\node.EXE
    npm: 6.14.10 - C:\Program Files\nodejs\npm.CMD
  Browsers:
    Edge: Spartan (44.19041.1.0), Chromium (91.0.864.41)
  npmPackages:
    @storybook/

[2021-06-15 14:27] fikkatra commented on #15246
@mfrancekovic that worked, thanks!

[2021-06-15 14:56] jeffgaynorspok commented on #15067
@shilman `@next` is still set to `6.3.0-rc.5`. `6.3.0-rc.7` is not in the registry.

[2021-06-15 15:42] ktmDeveloper opened #15250 "6.3.0-beta.0 decorator not updating story"
The decorator is not updating the story after I updated to 6.3.0-beta.0. It was working on version @6.2. I can see that my args for the story has changed, but the story is not updated.

![image](https://user-images.githubusercontent.com/8963447/122083133-71fb4780-cdb5-11eb-8722-09b07fd93888.png)

[2021-06-15 15:46] ctjlewis opened #15251 "`@storybook/react` forces outdated `react-docgen-typescript`, causes TypeError at runtime"
**Describe the bug**
I created a Storybook project with TSDX, but it fails on `yarn storybook` because `@storybook/react` forces a version of `react-docgen-typescript` which causes a TypeError (but has since been patched, and totally moved to TS).

I am unable to manually override the version in my own package.json because it is resolved within the package itself, you can see that the resolved `no

[2021-06-15 15:47] sahariko opened #15252 "Can't run Storybook with Webpack@5"
**Describe the bug**

When trying to use Storybook in a project that uses `webpack@5`, and it's not installed as a direct dependency, but rather as a transitive dependency, you get the following error:
[code]

This is due to the fact that `react-docgen-typescript-plugin` does not install `webpack`, but relies on it as a peer dependency, and relies on it being version 4, while the `webpack` install

[2021-06-15 16:08] shilman commented on #15252
what happens if you install webpack5 as a direct dev dependency?

[2021-06-15 16:22] sahariko commented on #15252
It works, but from the side of `my-webpack-config-package`, I don't necessarily have control over my consumers' `package.json`, and while requiring them to install it manually works, it's not ideal 😕

[2021-06-15 16:56] ctjlewis commented on #15251
May need to be moved to https://github.com/styleguidist/react-docgen-typescript, but it's not under the @storybookjs organization.

I updated to 2.0.0 in a local branch and it seems to break the parsing of the props, such that the `@default` JSDoc doesn't get parsed to a proper `defaultValue` and is instead faultily set as `null`. Presumably this is why it has not been updated - I would advise upd

[2021-06-15 18:39] #15214 closed

[2021-06-15 18:47] shilman commented on #15251
Try upgrading to the latest prerelease:

[code]

[2021-06-15 18:49] shilman commented on #15067
@jeffgaynorspok that's a problem with the registry propagation and AFAIK not a problem with storybook

[2021-06-15 18:50] shilman commented on #15251
closing as duplicate to #15067

[2021-06-15 18:50] #15251 closed

[2021-06-15 19:03] mayank99 commented on #14883
🎉 Postcss has backported its fix into 7.0.36! https://twitter.com/PostCSS/status/1403351574110511106

The advisory has been updated too: https://github.com/advisories/GHSA-hwj9-h5mp-3pm3

[2021-06-15 19:17] MariuzM opened #15253 "Storybook not getting Emotion 11 styles :("
When using Emotion 11 in my component example `Box` I'm not able to get styles applied in storybook mode. But it does work in `yarn dev`

main.js
[code]

babelrc
[code]

Box component
[code]

Repo: https://github.com/MariuzM/next.js-emotion

[2021-06-15 19:51] MariuzM commented on #15253
Right i was able to get this working by adding `'@storybook/preset-create-react-app',` to addons but because I'm using Next.js project not sure if this is correct but it does work, for now I'm just getting this error in console `ERR! Failed to resolve a `react-scripts` package.`

[2021-06-15 22:05] wfischer42 commented on #12666
I'm experiencing the original issue. Nothing to do with lag, it just makes storybook unhelpful for certain kinds of components.

For example, a component that uses css transitions to animate state changes can't be tested in storybook because it's redrawn when props are changed. The redraw first resets everything to default values, then applies the new prop value, so there's a jump where there shou

[2021-06-16 00:46] MichaelTrilford-Airwallex commented on #8013
Just FYI, the documentation around `import { Props } from '@storybook/addon-docs/blocks'` is super hard to find.

[2021-06-16 01:55] erikt9 commented on #15250
You should probably try one of the release candidate versions and see if it's fixed there (current is 6.3.0-rc.7).

[2021-06-16 03:12] kaelig opened #15259 "Toolbars config regression: should fall back to name when no title is present"
**Describe the bug**

I noticed that in recent pre-releases of 6.3, toolbars we defined in `globalTypes` stopped appearing unless they had an icon.

I'd expect toolbars without a `title` (new key in 6.3) to still appear, and to see a console deprecation message telling me to specify the title.

(Regression confirmed with @shilman)

[2021-06-16 03:31] tl24 opened #15260 "TypeError: Invalid Version: undefined when initializing angular 12 project"
**Describe the bug**
I get the following error "TypeError: Invalid Version: undefined" when trying to run "sb init -t angular -N" on an angular 12 project.  I also get the same error if running "npx sb init".  This is running sb version 6.3.0-rc.7.

**To Reproduce**
Install angular as a devDependencies rather than dependencies (this is for a library project)

**System**
Environment Info:

  System

[2021-06-16 03:39] qiuxiaolian commented on #14667
any example

[2021-06-16 03:59] shilman commented on #14667
Something like this: https://stackoverflow.com/questions/58909666/storybook-w-react-router-you-should-not-use-link-outside-router

[2021-06-16 04:56] joniruokamo opened #15261 "Global styles cannot be added via preview.js with Storybook and Angular v12"
**Describe the bug**
Global styles cannot be added via preview.js with Storybook and Angular v12

**To Reproduce**
Please create a reproduction by running `npx sb@next repro` and following the instructions. Read our [documentation](https://storybook.js.org/docs/react/contribute/how-to-reproduce) to learn more about creating reproductions.
Paste your repository and deployed reproduction here. We pr

[2021-06-16 05:00] mrcarl79 opened #15262 "SecurityError when clicking the example button in Chrome"
**Describe the bug**
Clicking the example button gives a security error as follows:

SecurityError
Blocked a frame with origin "http://localhost:6006" from accessing a cross-origin frame.

This works ok using Edge, and I'm sure it worked previously so wondering if there has been a change or a Chrome update has caused this?

**To Reproduce**
Setup a brand new React site using create-react-app, then

[2021-06-16 05:09] madeleineostoja commented on #14952
I can confirm that with `@storybook/svelte@6.3.0-rc.7`, `storybook-builder-vite@0.0.9`, and `@storybook/addon-svelte-csf@1.1.0` this is now fixed 🎉

You can add a manual alias to Sveltekit's runtime modules in `viteFinal` and they work, with the caveat being that you have to have had run `sveltekit dev` previously.

[code]

I think this is worth documenting somewhere, probably in the docs for `@st

[2021-06-16 05:24] irudoy commented on #14407
Seems like this issue isn't happening in the latest 6.3 RC. Thanks!

[2021-06-16 05:24] #14407 closed

[2021-06-16 06:07] JanJakes commented on #14714
Having prettier as a dependency indeed can cause problems when your own projects wants to use prettier as well (which I guess is often the case). We use prettier `2.3.1` in our monorepo in the workspace root but we've been seeing random small differences in formatting when used by different devs or in the CI pipeline.

After some investigation we realized this was caused by the Storybook's prettie

[2021-06-16 06:32] hochan222 commented on #1992
@Hypnosphi

Hi. I'd like to know the cause of this rather than simply changing the eslint configs. Because, I think `@storybook/addon-actions` should be in `devDependencies`. It's not a production environment.

In fact, other open sources are also guessing it is a bug. https://github.com/pagarme/artis/pull/126#discussion_r165860685

Is it a story book idea or a bug?

[2021-06-16 06:48] pantelispanayiotou opened #15263 "Properties wont update their value from theme"
**Describe the bug**
Using Material UI v5 (alpha 34, emotion) and the decorator i wrap my stories inside my theme. The problem is that on the first render of some components the default theme of material ui is used and only on the next refresh or component switch will the component actually inherit from my custom theme.

**To Reproduce**
    1. Click on a component
    2. Wrong theme is used
    3

[2021-06-16 09:26] SarcevicAntonio commented on #2817
while the approach of @ThibaudAV works it feels like a hack

and there are some issues
* like _having_ to define a template or else i will get my component nested inside itself (because its a hack)
* or the fact i now can't set args per story but have to set them in the default export
* and it also doesn't seem to play nice with the "show code" feature inside Docs-tab

There needs to be an actual

[2021-06-16 10:08] Abdulrahman-Falyoun opened #15264 "cannot change select control options in run-time or asynchronously"
I've a simple `storybook` which contains a `select` control with default options, I am trying to get some data from backend and then change the `options` for the `select` control

I am defining a global `loader`
[code]

`component.stories.js`
[code]

[2021-06-16 11:40] ghengeveld commented on #11971
@kendagriff can you explain what you use that `localStorage` data for afterwards? Does the component retrieve that data from localStorage? Storybook itself is moving away from localStorage, instead using the URL to track state (args and globals, specifically). Only Storybook UI state (panel size and such) is still in localStorage.

The `localStorage` example is an "interaction" or "side-effect", t

[2021-06-16 11:45] YuCJ commented on #11933
Come from https://github.com/storybookjs/storybook/issues/12387 .

Is there any workaround for styled-components in JavaScript?

[code]

I want to document the `Button.jsx` (which is a styled component) with `Button.propTypes`. And I can't wrap it with another React component. Because I need to use the `Button` as a selector like this:

[code]

Is there any way to auto-create args table for `Butto

[2021-06-16 12:26] shilman commented on #15264
Controls options must be statically defined. You can set the option value that you pass into your component via a loader, but you can't define the ArgType (schema) dynamically like that.

[2021-06-16 12:29] Abdulrahman-Falyoun commented on #15264
@shilman This really an issue though, btw can mention how to change `values` for `select` control

[2021-06-16 12:31] shilman commented on #11933
@YuCJ you could do a workaround like:

[code]

Then in your stories file:

[code]

[2021-06-16 12:33] ktmDeveloper commented on #15250
Thanks for the response. I tried that rc version, but the story is still not updating.

[2021-06-16 12:33] shilman commented on #15263
Can you please create a reproduction by running `npx sb@next repro`, following the instructions, and linking it in your issue description? We prioritize issues with reproductions over those without. Thank you! 🙏

[2021-06-16 12:35] Hypnosphi commented on #1992
That's how the corresponding rule from `eslint-plugin-import` package works. This package is *not* added to your project by storybook, so unfortunately storybook can't be responsible for configuring it for you. By default, it only allows regular `dependencies`. See details here: https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-extraneous-dependencies.md

[2021-06-16 12:38] shilman commented on #14714
@ndelangen do you know why we're using "~2.2.1" instead of "^2.2.1"? you changed it last.

[2021-06-16 12:40] shilman commented on #14952
@jonniebigodes @j3rem1e can you two please figure out the best way to document this? it's weird because SvelteKit depends on vite community builder, which is not part of core. But we're going to have to figure this out and I don't want to lose more Svelte users.

[2021-06-16 12:54] moltar commented on #13377
huh ya @kirakishin same here!! so weird

[2021-06-16 12:55] moltar commented on #13377
Also works fine in Firefox (non private window).

[2021-06-16 14:01] shilman commented on #15250
Can you please create a reproduction by running `npx sb@next repro`, following the instructions, and linking it in your issue description? We prioritize issues with reproductions over those without. Thank you! 🙏

[2021-06-16 14:20] bdefore opened #15265 "addon-docs: incorrect path in mdx-compiler-plugin, manual configuration flow fails"
**Describe the bug**

Manual configuration of MDX compilation is documented here https://github.com/storybookjs/storybook/tree/next/addons/docs#manual-configuration. It states to use:

`import mdxCompiler from '@storybook/addon-docs/mdx-compiler-plugin';`

and configure in webpack config:

[code]

This works in 6.2.9 but as of 6.3.0-rc.7 an error occurs during build using this:

`Error: Cannot fin

[2021-06-16 15:34] ktmDeveloper commented on #15250
That command gives this error `Invalid command: repro.`.  I ran `npx sb@next info` and this is the result:
[code]

[2021-06-16 15:57] shilman commented on #15041
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-rc.8 containing PR #15128 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-16 15:57] shilman commented on #15265
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-rc.8 containing PR #15266 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-16 15:57] #15041 closed

[2021-06-16 15:57] #15265 closed

[2021-06-16 16:22] bdefore commented on #15265
confirmed rc8 now works with existing documented import guidance. 👏

[2021-06-16 16:36] frmysantana commented on #15206
I'm seeing something similar. We have an experimental branch to try out Next.js 11 (with webpack 5 by default) + storybook 6.2.9 + tailwind. Tailwind is working fine on our next.js pages, but is not loading in our stories.

On our main branch (Next.js 10 + Webpack 4 + Storybook 6.2.9 + Tailwind), we have no problems loading tailwind in our stories.

[2021-06-16 17:32] anatel commented on #11404
Is this problem back in `6.2.9`? I'm trying to have the following link as part of a story's doc:
[code]
But the link redirects to: http://localhost:6006/iframe.html?path=/story/design-system-another-story--default
Notice the `iframe.html` :(

[2021-06-16 17:39] anatel commented on #14360
I have the same problem :(

[2021-06-16 18:10] terrancecorley opened #15268 "Object being passed in template arguments merges with default props in a react component"
Unless this is user error (and it very well could be), right now I'm noticing that when I pass in an object to a story via the template arguments, that object will entirely replace the associated object in the `defaultProps` of the component that is rendered. I would think the object provided to the component from the story would merge with the object provided from the `defaultProps`. Am I wrong h

[2021-06-16 18:16] terrancecorley commented on #15268
Closing this as I'm just seeing there is an issue already referencing this situation.
#12455

[2021-06-16 18:16] #15268 closed

[2021-06-16 18:21] terrancecorley commented on #12455
Does anyone have a good solution for the issue I'm seeing here? #15268

[2021-06-16 18:40] johnwp opened #15269 "Unable to install storybook using npx sb init"
**Describe the bug**
I'm not able to install storybook using `$ npx sb init`

**To Reproduce**
1. `$ npx create-react-app my-app` — Success
2. `$ cd my-app` — Success
3. `$ npx sb init` — Fail

Results of `$ npx sb init`:
[code]

**System**
node version: v14.6.0
npx version: 10.2.2

Results of `$ npx sb@next info`:
[code]

**Additional Context**
Contents of `/Users/john/.npm/_logs/2021-06-16T18_30

[2021-06-16 18:40] NitsanCohen770 opened #15270 "Using a Decorator with react-theming/storybook-addon crashes all parameters and other styles"
**Describe the bug**
When I am trying to add a theme provider with react-theming/storybook-addon it all works well and all the themes are shown on the screen but my styles from the parameters variable crashes (are not seen on the screen, even though I can select them) I can't see the background color I set, for example.
**To Reproduce**
Was not able to do it

**System**
Environment Info:

  System

[2021-06-16 18:41] metal-gogo commented on #14933
I had the same issue, but for me it is only present when I have `v-on="$listeners"` on my component. Like this:

[code]

[2021-06-16 20:34] jenter commented on #14764
bump +

[2021-06-16 21:09] fslc92 commented on #10231
I have it working like this

**.storybook/main.js**
[code]

**.storybook/preview.js**
[code]

[2021-06-16 23:11] ahuggins commented on #8383
This did the trick for me!!!

[2021-06-17 01:23] shilman commented on #15270
Have you tried disabling backgrounds? https://storybook.js.org/docs/react/essentials/introduction#disabling-addons

[2021-06-17 01:25] shilman commented on #15269
Did you try this? https://stackoverflow.com/questions/63429304/npm-err-cb-apply-is-not-a-function

[2021-06-17 02:29] hochan222 commented on #1992
I understood what it means. Thank you for your kind reply. After reading several issues/comments, I think it is not the responsibility of the storybook. ESLint is just a tool for proofreading, but I think my thoughts were short. Have a nice day :)

[2021-06-17 03:09] Ethan-code commented on #13109
Hi, could you tell me how you import Angular Material's scss file?
I can't show material styles in stories.

[2021-06-17 04:12] channelaffairs opened #15271 "Storybook-Expo - Unable to build when referencing @react-navigation"
**Describe the bug**
I can run storybook locally with no problems, however when I run the command build-storybook, the build fails while attempting to optimise the bundle
In short it seems that the storybook webpack cannot manage static files coming from react-navigation

<img width="1268" alt="image" src="https://user-images.githubusercontent.com/61307145/122329809-622a6180-cf75-11eb-8872-ab6e53a

[2021-06-17 05:56] madeleineostoja commented on #14952
Also just in case you wanted to document the other option for the runtime aliases, this would be the path based on `sveltekit build`

[code]

If you used ^ you'd probably want to make your storybook run script

[code]

Might be a better default for documentation, doesn't have the gotcha of having to have had run `sveltekit dev` recently

[2021-06-17 06:24] annayap opened #15272 "[V6.2.9] Control type object's value is not set on initial load"
### BUG DESCRIPTION
- Controls of object type is not set on initial load of story:
  - ![image](https://user-images.githubusercontent.com/43020293/122341123-77f45280-cf86-11eb-8b23-08694861fad2.png)

- _**But**_ it will be set once you click on **Reset controls** button.
  - ![control object gets set on reset only](https://user-images.githubusercontent.com/43020293/122341317-b12cc280-cf86-11eb-9f4

[2021-06-17 06:25] amannn commented on #11404
@anatel I think so, yes. I've worked on resolving the issue again here: https://github.com/storybookjs/storybook/pull/14558

[2021-06-17 06:56] NitsanCohen770 commented on #15270
The thing is, I want to have the background :)

[2021-06-17 07:11] meriturva commented on #15227
I just test all RC now 😄 and same issue on v6.3.0-rc.8
Sorry if I'm quite annoying but I think the issue has to be fixed quite soon.

[2021-06-17 08:03] ndelangen commented on #14714
I do not see a reason for this at all. Let's upgrade!
@JanJakes would you be able to open a PR upgrading us to the more lenient version-range?

[2021-06-17 08:21] ndelangen commented on #2758
I'm planning to fix this one for 6.x:
https://github.com/storybookjs/storybook/issues/14425

But then we'll have to really figure out what we want to do for 7.0
There's a ton of issues relating to babel:
https://github.com/storybookjs/storybook/issues?q=is%3Aissue+is%3Aopen+babel+sort%3Acomments-desc

A lot of them is because in the past (and still to some degree) storybook mixes the babel config

[2021-06-17 08:36] ndelangen commented on #13377
I suspect you might have some service-worker installed on the same port from some other application?

[2021-06-17 09:11] 43081j opened #15273 "rc8 fails to install due to peer dependency mismatch"
Very simple one here, in the rc8 version bump it seems the docs package didn't have its peers bumped at the same time:

https://github.com/storybookjs/storybook/blob/c59f2136bdd338bd2cf8e28fd6e6d286a5994952/addons/docs/package.json#L140-L143

This means latest npm can't install storybook rc8 without `--force` as `addon-docs` wants the beta version but the user wants the rc version.

[2021-06-17 09:12] DtStorm opened #15274 "After compiling the .vue file into a js file component and adding it to the storybook, the props and events on the docs are not displayed"
why?
![image](https://user-images.githubusercontent.com/56500428/122367602-27352780-cf8f-11eb-8962-21451b588438.png)
![image](https://user-images.githubusercontent.com/56500428/122367654-31efbc80-cf8f-11eb-90d3-a8dda1b1d034.png)

[2021-06-17 09:32] 43081j opened #15275 "@storybook/web-components lit v1 compat requires lit-html dependency"
**Describe the bug**

Introduced by #14898.

The peer dependency configuration means that we're forced to have `lit-html` as a dependency to make storybook pull in the right peer.

We have something like this inside storybook now:

[code]

however, going forward the best practice is to pull from `lit`, _not_ `lit-html`. Which means all lit v2 projects will have to install lit-html as a dependency

[2021-06-17 09:42] shilman commented on #15275
@43081j what's the backwards-compatible fix?

[2021-06-17 09:43] lmestel commented on #10450
I have the same problem with Storybook 6.3.0-rc.8 and vite-builder (initialized via `npx sb@next init --builder storybook-builder-vite`).
Canvas looks good, Docs thow `Uncaught TypeError: Cannot read property 'fromId' of undefined`

Repo to reproduce: https://github.com/lmestel/storybook-demo-vite-mdx

[2021-06-17 09:56] shilman commented on #15227
@meriturva are you able to submit a PR to fix it?

[2021-06-17 09:57] shilman commented on #15270
Maybe try filing an issue on react-theming/storybook-addon?

[2021-06-17 10:05] ndelangen commented on #13578
I don't think we should add specific hover colors for specific elements/components to our ThemeVars.

I respect you want to theme storybook and customize it to suit your wishes, but every bit of customization we allow adds complexity for us. In this case, I don't think the costs outweighs the benefits.

[2021-06-17 10:07] 43081j commented on #15275
im really not sure, its a super awkward situation.

i think we should have set them both as optional peer dependencies (lit-html 1.x, lit 2.x). im not sure how npm would handle the resolution, but maybe then if you had lit 2 as a peer, it'd resolve the `lit-html` import to the one inside lit 2.

if thats not how npm would deal with it, we'd be a bit stuck i think

[2021-06-17 10:07] shilman commented on #15272
Try upgrading to the latest prerelease:

[code]

Does that fix it?

[2021-06-17 10:16] shilman commented on #15260
what happens if you run `npx sb@next init`?

[2021-06-17 10:23] #13578 closed

[2021-06-17 10:24] shilman commented on #10450
@lmestel please file on the builer-vite repo

[2021-06-17 10:32] ndelangen commented on #8078
We should now be lazy-loading the syntaxhighlighter.. Maybe we can restart the effort to employ prettier for formatting?

[2021-06-17 10:53] merceyz commented on #15275
It doesn't look like its optional so as it is right now it needs to stay required https://github.com/storybookjs/storybook/pull/14898/files#diff-6c3ee5d62a4cb906cba13eff0e50822ea7b155558e7df3a1d98cdf3403a51a00R3

You can't rely on that, see https://yarnpkg.com/advanced/rulebook#packages-should-only-ever-require-what-they-formally-list-in-their-dependencies for more details

[2021-06-17 11:07] 43081j commented on #15275
yeah which is why this is such an awkward position.

i suppose the "right thing" to do would've been to not support lit2 in 6.x, and not support lit1 in 7.x.

as far as i can tell, the issue is that consumers will install `lit`, which transitively gives them `lit-html`. but a transitive dependency doesn't fulfil a peer dependency requirement. which is why we then have to install `lit-html` for the

[2021-06-17 11:19] shilman commented on #15273
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-rc.9 containing PR #15277 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-17 11:19] shilman commented on #14883
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-rc.9 containing PR #15276 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-17 11:19] shilman commented on #15211
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-rc.9 containing PR #15277 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-17 11:19] #15273 closed

[2021-06-17 11:19] #14883 closed

[2021-06-17 11:21] TheComputerM opened #15278 "[6.3.0rc-8] Controls not inheriting args from url."
**Describe the bug**
The args in the url are not obeyed.

**To Reproduce**
I toggle a control named `outlined`
![image](https://user-images.githubusercontent.com/24741538/122386938-fdc6cc80-cf8b-11eb-9f53-7d1372327a1c.png)

I copy the url and paste it into another tab.
![image](https://user-images.githubusercontent.com/24741538/122387028-0fa86f80-cf8c-11eb-9a31-83b9bd12d56a.png)

The `outlined` co

[2021-06-17 11:44] shilman commented on #15278
Can you please create a reproduction by running `npx sb@next repro`, following the instructions, and linking it in your issue description? Or if you have an existing repro you can share, that would be much appreciated!

Also, do you happen to be using the vite-builder?

[2021-06-17 11:46] TheComputerM commented on #15278
I am not using storybook-builder-vite. Can I send you a repro using `sb init`?

[2021-06-17 11:48] shilman commented on #15278
@TheComputerM that's basically what `sb repro` does, but it adds a little extra information to standardize the repo for maintainers to consume

[2021-06-17 11:59] TheComputerM commented on #15278
Here is repro: https://github.com/TheComputerM/url-params-storybook

[2021-06-17 12:03] meriturva commented on #15227
Thanks, @shilman for your request, actually my proposal is just to add a process.exit(0) on file: https://github.com/storybookjs/storybook/blob/next/lib/core-server/src/build-static.ts#L136
I could easily arrange a PR but I really don't know why it is necessary, secondly... is that issue present also on other frameworks, for example, react or vue?

I work actively in Angular and I never used story

[2021-06-17 12:06] shilman commented on #15227
I've never heard of this issue until now. Perhaps it has something to do with the recent Angular12 changes, or the recent Storybook changes for Angular (e.g. Ivy support). Creating a repro or a PR is the best way to help get an issue fixed.

[2021-06-17 12:13] meriturva commented on #15227
I have tested right now a static generation with vue and process exit correctly.

How to reproduce the issue with Angular.... quite simple:

- ng new testProject (with angular cli v12)
- npx sb@next init
- build-storybook

[2021-06-17 12:28] alexiadorneles commented on #14631
I'm facing the same issue after upgrading storybook. https://github.com/storybookjs/storybook/issues/14631#issuecomment-824675245 solved for me but it is not something I can adopt in my project, can't tell every developer to install and then directly changes the `node_modules` every time we install things again.

Tried https://github.com/storybookjs/storybook/issues/14631#issuecomment-828483482 ap

[2021-06-17 12:31] meriturva commented on #15227
I have made other tests creating new projects based on the latest angular cli version (v12.0.4) and I found that the build issue is related to SCSS. Creating a new project just with CSS support storybook build static process exit correctly.

[2021-06-17 12:45] c10b10 opened #15281 "Error with storybook addon docs blocks and vite"
**Describe the bug**

When starting the React Storybook app, I'm getting the `Uncaught SyntaxError: The requested module '/node_modules/.vite/@storybook_addon-docs_blocks.js?v=917f9cd3' does not provide an export named 'ArgTypesTable'` error in the console.

This happens when importing:

[code]
in a story.

**To Reproduce**

Have a storybook app with

[code]

in `.storybook/main.js`, with these de

[2021-06-17 13:10] shilman commented on #15281
There is no `ArgTypesTable` in either storybook or the vite-builder. Is that something you are defining in your code?

[2021-06-17 13:42] ghengeveld commented on #15278
The way the options are configured is [deprecated](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#deprecated-controloptions) (see console), but correcting it did not help. Need to look into this.

[2021-06-17 13:43] wenche opened #15282 "Storybook crashes with children.match is not a function when using 6.3.0-rc.9"
**Describe the bug**
The use of  `6.3.0-rc.9` is causing my Storybook to crash with a runtime error of
![Skjermbilde 2021-06-17 kl  15 37 28](https://user-images.githubusercontent.com/1568252/122407881-3cf02000-cf82-11eb-9dab-38e50744cecd.png)
It seems like it is related to the use of **code** in parameters
[code]

**System**
Environment Info:

  System:
    OS: macOS 11.2.3
    CPU: (16) x64 Inte

[2021-06-17 14:07] BennaceurHichem commented on #14770
Any Updates about this issue, the same issue for me, I even tried to set global loaders then use them in my stories using `loaded.mydata` like mentioned in the doc that it's accessible for all stories, the problem is that I couldn't get this data and pass it into my story component property, even if the request handled in the loader is handled correctly, which mean that both local and global loade

[2021-06-17 14:15] maxKimoby commented on #12073
Is there any development on this issue?

[2021-06-17 15:12] maxKimoby commented on #798
Makes no sense to return a number when type is 'Date'.

[2021-06-17 15:16] meriturva commented on #15227
I have investigated a little bit mode using a simple lib named: `why-is-node-running`

So I have just modified https://github.com/storybookjs/storybook/blob/next/lib/core-server/src/build-static.ts#L136 with:

[code]

**Note the log call of lib `why-is-node-running`**

And I have few logs about whats going on, what I found is a sass worker active:

[code]

Now I'm looking for a specific use of ang

[2021-06-17 15:24] Grienauer commented on #14489
What was the motivation to close this issue? On newer versions, the plugin does still not work and I think it is good to have an issue for that and not close it if there is no solution jet.
thank you!

[2021-06-17 15:36] meriturva commented on #15227
I found that angular sass service has already a close method to terminate and it is linked to webpack compiler hooks:

https://github.com/angular/angular-cli/blob/master/packages/angular_devkit/build_angular/src/sass/sass-service.ts#L122

https://github.com/angular/angular-cli/blob/master/packages/angular_devkit/build_angular/src/webpack/configs/styles.ts#L122

so I guess storybook for angular doe

[2021-06-17 16:04] gpxl-dev commented on #12255
Hit this issue because I have a story that always seems to re-render when I change one of the props via a control - it's breaking my animation.

I've bumped to 6.3 rc-9 but it's still happening. I'm wondering if it's because I'm using a suspense decorator needed for `react-i18next`, I think:

[code]

[2021-06-17 16:44] fallemand opened #15283 "6.3rc - Switch to canvas not working."
**Describe the bug**
Switch to "Canvas" when storybook has been compiled with `--docs` doesn't work.
You need to refresh the page.

![111](https://user-images.githubusercontent.com/16105726/122439579-0f17d500-cf9c-11eb-874c-14015f7f71f6.gif)

**System**
[code]

[2021-06-17 16:59] codewaseem commented on #14764
Same here! I'm using this with the next.js project.

[2021-06-17 17:11] Ryuno-Ki commented on #10560
Can we reopen this?

[2021-06-17 17:12] Ryuno-Ki commented on #12786
Can we reactivate this?

[2021-06-17 17:26] johnwp commented on #15269
Apparently, there was an issue with my installation. Thanks.

[2021-06-17 17:26] #15269 closed

[2021-06-17 18:15] 7rulnik commented on #15221
Seems that it's problem in docgen plugin. As I understand it should implement `getModuleEvaluationSideEffectsState` method like this: https://github.com/webpack/webpack/blob/4837c3ddb9da8e676c73d97460e19689dd9d4691/lib/dependencies/ConstDependency.js#L52-L54

[2021-06-17 21:09] kaydeejay opened #15286 "controls: argtypes not applying styles to elements"
**Describe the bug**
When using controls, with the `argTypes` specified in the `<Meta>` tag (within stories.mdx), the options given are meant to be applied to an element as a style in the template. They are not being applied, and I am unable to access them from within the template.

Unable to reproduce. Please see code examples and screenshots.
[code]

[code]
[desired appearance](https://i.imgur.c

[2021-06-17 22:06] shilman commented on #15221
Thanks @7rulnik -- will follow up with @bebraw to see if we can get this fixed!

[2021-06-18 00:27] annayap commented on #15272
@shilman Just tried to upgrade to latest pre-release
[code]

But the problem is still there, the object's value still isn't set on load:
![sb-v2 3-prerelease-control-object-issue](https://user-images.githubusercontent.com/43020293/122487938-be49c000-d01f-11eb-83ea-c9f6ae6f84f4.gif)

[2021-06-18 02:39] bebraw commented on #15221
I have an initial fix at https://github.com/hipstersmoothie/react-docgen-typescript-plugin/pull/46 .

@shilman Can you cut a canary version to test?

[2021-06-18 03:22] erikt9 commented on #15211
@shilman The fix only worked for one release.  rc.10 brings the issue back: `npm WARN @storybook/addon-storyshots-puppeteer@6.3.0-rc.10 requires a peer of @storybook/addon-storyshots@6.3.0-rc.8 but none is installed. You must install peer dependencies yourself.`

Whatever you are using to doing to update the other dependencies of `storyshots-puppeteer`  is not getting applied every release (e.g.,

[2021-06-18 05:18] shilman commented on #15211
@erikt9 oops, thanks for letting me know. it looks like i broke the release script at some point. i'll fix it and hopefully put this to bed!

[2021-06-18 05:41] shilman commented on #15272
Thanks for trying that @annayap. I tried reproducing, but couldn't.

Do you happen to have a reproduction repo you can share? If not, can you create one using `npx sb@next repro`, following the instructions, and linking it in your issue description?

[2021-06-18 06:16] shilman commented on #15211
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-rc.11 containing PR #15288 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-18 06:16] #15211 closed

[2021-06-18 06:16] shilman commented on #15221
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-rc.11 containing PR #15287 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-18 06:16] #15221 closed

[2021-06-18 07:07] BBlackwo commented on #13482
I had the same issue. As a workaround I had to replace all instances of `moment.add()` with something else.

For example instead of `moment().add(1, 'years').year()` I did `moment().year() + 1`

[2021-06-18 07:10] dhall2211 opened #15289 "Storybook and material cant find parent style sheet on snap shot test"
**Describe the bug**
I have a storybook project with Webpack 5.7.3 and material ui. When I run my snap shot tests in jest all test passed but I receive two different console warning messages multiple times .

1. parentStylesSheet undefined (6x)

[code]

2 JSS Rule is not linked (3x)

[code]
What i can see is happening is that the makeStyles tries to attach and deploy the stylesheet but since it do

[2021-06-18 11:41] gpxl-dev commented on #12255
@tmeasday - what is the best way to work out why my component is re-mounting? I thought it might be because of the decorator but it happens regardless... Doesn't happen if I change a prop in my actual app, but does when I change it via a storybook control...

[2021-06-18 12:15] RowanDZ commented on #14539
LinkTo is in the package code exported as default,
but in the type definitions for ts3.9 exported as {LinkTo}

![image](https://user-images.githubusercontent.com/8612920/122559432-9bc79f00-d03f-11eb-9287-a32cc1a8bc1f.png)

node_modules/@storybook/addon-links/react.d.ts

[2021-06-18 12:55] parkersweb commented on #12116
Just an alternative that works for us connecting mdx to the Story args with a custom template:
[code]
Obviously adding argTypes if you need them where the ArgsTable doesn't derive them automatically from the type.

[2021-06-18 14:26] erkobridee commented on #15252
@shilman installing the `webpack v5` as dev dep fixed the issue for me

ps.: I'm using the `@storybook v6.3.0-rc.11`, project with next.js v11, tailwind css v2.2, sass and typescript

[2021-06-18 15:17] c10b10 commented on #15281
Yes. Remving it solved it. Thank you.

[2021-06-18 15:17] #15281 closed

[2021-06-18 15:55] scottdickerson commented on #14152
I had the chance to debug this some more today.  When running the development build of storybook. It seems like the index.html file written to the `node_modules/.cache/storybook` is incorrect, missing a lot of the bootstrap information.  This is why removing the `node_modules/.cache/storybook` between builds fixes the problem.  Here's my built index.html file.  I think this only fails the second t

[2021-06-18 15:58] nikwilliamson commented on #7729
@shilman I saw you removed this from 6.2 docs milestone. Any news or movement on this?

[2021-06-18 16:29] tobiaskraus commented on #12028
I don't get it. I have one project with sb 6.2.9 where it doesn't work (union type props are shown in "controls" as strings) and one project with sb 6.2.9 where it works (shown as radio buttons).

I don't see any difference. Only the working project is built on create-react-app and uses `'@storybook/preset-create-react-app',` - but I don't think that's missing puzzle peace...

[2021-06-18 16:40] shilman commented on #12028
@tobiaskraus this is a bug in React-docgen-typescript which is an indirect dependency of storybook. Check the version of that in each project and that's probably your answer

[2021-06-18 16:58] tobiaskraus commented on #12028
thank you @shilman for the quick answer

but both times I could see in yarn.lock (and in node_modules/) that the resolved versions where exactly the same:

[code]

[2021-06-18 17:55] shilman commented on #7729
waiting on mdx 2.0

[2021-06-18 17:56] Ryuno-Ki commented on #10560
Thanks.

I'm willing to submit one. Likely over the course of the weekend.

[2021-06-18 18:24] scottdickerson commented on #14152
I figured it out.  We are merging our webpack.config.js and the storybook one, and one of our plugins specifically the HTMLWebpackPlugin was overriding storybooks config.  Our index.html file was being swapped into the storybook cache and storybook is looking for a div id="root" to put all it's bootstrapping information in.  Removing our custom plugin from the merged webpack.config fixed the issue

[2021-06-18 18:24] #14152 closed

[2021-06-18 19:51] acusti commented on #13830
i’m still seeing this error using yarn 2 (actually v3.0.0-rc.5, but v3 is just a continuation, rather than a massive change like v1 to v2) and storybook v6.3.0-rc.11. i’m directly depending on:
[code]
i started seeing the error in my builds after i added a `.storybook/manager.js` file with the following contents (the storybook keyboard shortcuts were interfering with testing keyboard navigation in

[2021-06-18 19:54] anatel commented on #11404
Cool, hope it'll be merged soon

[2021-06-18 21:05] jonniebigodes commented on #6569
@Domiii and @hawkticehurst I wasn't able to reproduce the issue here. If someone could provide a reproduction I'm more than willing to take a look at it and update the documentation as needed.

Here's what I did:
- Spun up a new React project and installed the latest Storybook version (version 6.2.9).
- Created the file `.storybook/manager.js` with the following inside:
[code]
- Updated one of the

[2021-06-18 21:57] jonniebigodes commented on #14770
@BennaceurHichem I have a working reproduction [here](https://github.com/jonniebigodes/intro-storybook-vue-3) for vue 3, one for Angular [here](https://github.com/jonniebigodes/storybook-angular-loaders), and svelte [here](https://github.com/jonniebigodes/storybook-svelte-loaders). Vue 2 is a bit of an edge case that I'm still working on. Hence why I haven't pushed the updated docs for the other f

[2021-06-18 21:58] hoffination opened #15294 "6.3rc - storybook-build script hangs"
**Describe the bug**
After running the build script, the resulting script hangs and times out in our CI.

Last line before timeout:
`info => Output directory: /Users/bh/Dev/<project>/storybook-dist`

**To Reproduce**
https://github.com/hoffination/storybook-timeout-repro
Hoping to see if anyone else has come across this.
Didn't see any others recently in the issues.

**System**
System:
    OS: mac

[2021-06-18 22:20] hawkticehurst commented on #6569
@jonniebigodes Wow, thanks for the detailed response!

The project I'm working on is actually built with web components and `@storybook/html` (apologies for not clarifying that earlier 🤦), so maybe that's where the issue is stemming from? I'd also be very curious to hear what @Domiii's tech stack was.

The project I'm working on is unfortunately still in private development for the time being (it'

[2021-06-18 22:56] jonniebigodes commented on #6569
@hawkticehurst no need to thank whatsoever. I should be the one thanking you for the follow-up response and willingness to provide us with a reproduction. Let us know once it's up and we'll look into it.

Stay safe

[2021-06-18 23:54] hawkticehurst commented on #6569
@jonniebigodes Alright here's a minimal reproduction of the issue!

[https://github.com/hawkticehurst/storybook-shortcuts-repro](https://github.com/hawkticehurst/storybook-shortcuts-repro)

Once again, this is built with web components and the `@storybook/html` package (v6.2.9). In particular, I'm using [Microsoft FAST](https://www.fast.design/) which is a framework for building web components––si

[2021-06-19 00:16] michaelwooley opened #15295 "`index.stories.svelte` not recognized as a legit story"
**Describe the bug**

I have historically set up my stories so that each component has a directory containing the component with the story right beside it. For example:

[code]

I found that `index.stories.svelte` is never picked up by Storybook. _However,_ if I rename this file to, e.g., `Navbar.stories.svelte` then everything works fine.

This is not a problem _per se_ - I can rename things - bu

[2021-06-19 00:26] michaelwooley commented on #14929
Curiously, the latest version appears to change the name of `app.css` to `app.postcss`. I found I needed to change the name back to `app.css` to get things working.

[2021-06-19 05:04] shilman commented on #12028
@tobiaskraus are the two use cases **exactly** the same? can you give an example from each project?

[2021-06-19 05:06] shilman commented on #15295
That's pretty strange. Any ideas @j3rem1e ?

[2021-06-19 05:08] shilman commented on #15294
Possible duplicate to #14405

[2021-06-19 09:21] koba04 commented on #5935
I have a similar issue with storybook v6 on `react-transition-group` and it is a blocker to update the storybook version.

[code]

You can reproduce it on https://github.com/reactjs/react-transition-group/pull/741.

[2021-06-19 10:54] Domiii commented on #6569
I am also very thankful for the pro-active help and your time investment!

Even more so, because I realized, it was my own mistake. Miswrote `'keydown'` as `'keyDown'`. Fixed it now, and I can confirm that this is not a storybook bug. NOTE: I am using `react`.

Again, thanks and sorry!

[2021-06-19 11:06] j3rem1e commented on #15295
This is related to the generation of the component name. there is two "index" in the folder "Navbar", and the two components are assumed to have the same name "Navbar" (the real component and the stories component).

I'll check how to fix that.

[2021-06-19 12:52] mtorromeo commented on #13917
This is my workaround based on the code from @lee-chase.

For simplicity, I made it work by only looking for templates that are surrounded by backticks. The code goes in `.storybook/preview.js` and works globally without any modification required to the stories (easier to remove when this gets eventually fixed).

[code]

[2021-06-19 14:18] jonspalmer commented on #14908
My proposal is we close this. Camel case keys/variables are much more predictable in JS that the quirks of half supported kebab case.

[2021-06-19 14:25] #14908 closed

[2021-06-19 14:31] jonspalmer commented on #14354
@AndrewLeedham a root story is likely possible. I suspect its' a simple bug somewhere  (Though IMO a story 'without an id' is a slightly strange idea. In my projects I'd want to make it explicit)

Supporting path params as well as just query params is likely pretty doable.

The details for all this are here: https://github.com/storybookjs/storybook/blob/next/app/server/src/client/preview/render.ts

[2021-06-19 14:35] jonspalmer commented on #13136
@santialbo thoughts on my comment https://github.com/storybookjs/storybook/issues/13136#issuecomment-731646333 ?
I'd like to better support these use cases but needs more information to come up with a good solution. I'm hesitant to add a 2nd reload mechanism when one already exists. Happy to continue to discuss.

[2021-06-19 17:10] petermikitsh opened #15300 "Document middleware.js"
**Is your feature request related to a problem? Please describe**

Stack overflow, Google, etc. discuss a "middleware.js" file but I can't find anything official on the Storybook site.

It seems like something I'm interested in using, but I'm unsure if it's considered a stable part of the public interface, if it is subject to breaking changes without semver update, etc.

<img width="705" alt="Scre

[2021-06-19 22:28] njsokol commented on #10817
@domyen I'm looking at the 3 options you've mentioned
- I believe we are talking in the docs page, the stories are fine inside their Preview/Canvas.
- Do you have an example of ejecting the DocBlocks and implementing custom styling for these? We are HTML/Web-Components/React language so we need something to work across all of these (SASS for styling following a little on the Bootstrap curtails wit

[2021-06-20 09:25] a-ursino commented on #15252
can confirm that on a clean next.js project (with no custom code)

`yarn create next-app --typescript && npx sb init --builder webpack5` I've experienced the same issue.

Adding webpackv5 to `devDep` solved it.

[code]

[2021-06-20 10:14] santialbo commented on #13136
Exactly @jonspalmer, my json files are manually generated. I edit mjml files and livereload is listening for changes in those files to trigger the reload on the storybook iframe.
And whenever my mjml templates need a new interpolation property y add it manually to the json file.

[2021-06-20 10:35] KevHH opened #15301 "Webpack not recompiling on file change in Docker container (Windows)"
**Describe the bug**
Upon change to files in "/stories" (in a mounted drive), webpack is not recompiling in the docker container (*note: this is not even a hot reloading problem yet*). I have a similar setup for React and, in React, watching was resolved specifying watchOptions.poll while hot reloading was resolved by mapping appropriate ports.

**To Reproduce**
A reproduction is probably not help

[2021-06-20 12:41] literalpie commented on #15246
I think this issue should be reopened. Storybook should handle the case where tsConfig isn't included in the `options` - especially since is the default when you create a new angular project

[2021-06-20 12:58] Ryuno-Ki commented on #10560
@blowsie @mmellado I'd be thankful if you could take a look at #15302 before @shilman reviews it if time permits.
Do you have additional CSS Properties to add to Typeset?

[2021-06-20 13:17] shilman commented on #15246
@kroeder @ThibaudAV  can one of you take a look?

[2021-06-20 14:05] AlaaDq opened #15303 "ArgsTable description of all props is unknown"
import VideoComponent from './VideoComponent'

my code
// VideoComponent.stories.js
export default {
  title: 'VideoComponent',
  component:VideoComponent,
argTypes: {
    source: {
            defaultValue: { summary: 'Hello' , detail: 'something really really long' },
            description: 'overwritten description',
            control: { type: 'text' }
        },
    videoURL:{
        type:

[2021-06-20 21:57] Rixcy opened #15305 "Vite builder sorting stories alphabetically instead of by export order"
## Describe the bug

It doesn't seem like stories are sorted in the same way as previous versions. Previously it looked like stories were sorted by the order they were exported, so if `Default` was exported first, it'd show first in the sidebar and in the docs page. This doesn't seem to be the case with the new Vite builder, if I create `Default` and `Custom`, even if Custom comes after Default in

[2021-06-21 02:01] shilman commented on #15305
Please file Vite-related issues in https://github.com/eirslett/storybook-builder-vite/

Thank you! 🙏

[2021-06-21 02:01] #15305 closed

[2021-06-21 04:28] tmeasday commented on #12255
Ok, sounds like a separate issue @gpxl-dev, perhaps worth opening a ticket. See if you can reproduce it down to a simple example.

[2021-06-21 06:16] petermikitsh commented on #15300
Looking through more issues, https://github.com/storybookjs/storybook/issues/208#issuecomment-659082436 from @shilman sets expectations for `middleware.js`.

[2021-06-21 06:37] bodograumann commented on #13311
Just upgraded to 6.3-rc.11 and it works very well. Thank you!

[2021-06-21 06:46] henrycity commented on #12108
Is there a way that I could just use `npm run start-storybook` to avoid cors errors when fetching stories.json?

[2021-06-21 11:09] thiagodebastos commented on #13885
Thank  you, this got it working for me.

[2021-06-21 12:09] shilman commented on #12108
@henrycity `start-storybook` doesn't currently serve `stories.json` as far as I know. I've added an experimental feature for that in 6.3, hidden behind a feature flag, and I think that should be fully supported in 6.4.

[2021-06-21 12:57] yannbf opened #15310 ""No Preview" when starting Storybook for the first time"
**Describe the bug**

Sometimes when running Storybook for the first time of the day, it opens the browser with a "No Preview" error (404 for story url).
Then you need to switch between stories a couple of times till they are actually rendered.

![image](https://user-images.githubusercontent.com/1671563/122765169-8309f400-d2a0-11eb-9b9d-696da5e8f997.png)

This was once reported in #14376

**To Rep

[2021-06-21 13:10] shilman commented on #15013
Here are the places we use direct references to specific distributions:

## ESM references

- [ ] Addon presets (`a11y`, `actions`, `backgrounds`, `controls`, `docs`, `jest`, `links`, `storysource`, `toolbars`, `viewport`) for preview entries
- [ ] `core-server`, `manager-webpack4`, `manager-webpack5` presets
- [ ] Misc entrypoints (`lib/api/shortcut.js`, `addons/docs/blocks.js`)
- [ ] `app/react/

[2021-06-21 13:18] MathiasOliveira opened #15311 "[Angular 6.2.x] Cannot find module @storybook/angular"
**Describe the bug**
I am trying to setup Storybook for Angular 8, however when running npm run storybook I am getting the following errors:

[code]

**To Reproduce**
Unable to create a reproducible test case as Angular 8 is not listed in `npx sb@next repro` and the node version I am using `node@10.12` does not support the versions listed.

**System**
[code]

**Additional context**

[My current pa

[2021-06-21 13:21] shilman commented on #15310
I think the first 404 might be caused by running Storybook on a port you've already run it on in the past, and some kind of caching there. I don't think most users will experience that. The second click concerns me more.

[2021-06-21 13:45] Jispry commented on #14257
additionally when running `build-storybook` the task gets stuck and never finish, even though the files are created in `storybook-static` folder

[2021-06-21 13:54] tobiaskraus commented on #12028
### Project A

- shows Radio Buttons for prop "size" in Controlls Addon

Modal.tsx

[code]

Modal.stories.tsx:

[code]

### Project B

- shows normal text input for prop "application" in Controlls Addon

index.tsx

[code]

Header.stories.tsx

[code]

[2021-06-21 14:22] #15286 closed

[2021-06-21 15:16] shilman commented on #15311
Have you tried upgrading to the latest prerelease?

[code]

[2021-06-21 16:38] MathiasOliveira commented on #15311
@shilman Same error, sadly.

I have included the full npm output when running `npm run storybook` in the original post

[2021-06-21 16:42] hoffination commented on #15294
@shilman Was able to reproduce here: https://github.com/hoffination/storybook-timeout-repro

[2021-06-21 18:26] JSMike commented on #15294
I'm experiencing this issue as well, it looks to be different than #14405 in that it gets beyond 99% and gets to

[code]

This is only happening when I add angular stories. I have some `@storybook/html` stories that work just fine if I exclude the angular config. Both are set up to use webpack5

[2021-06-21 19:22] meriturva commented on #15294
I think it is duplicate to https://github.com/storybookjs/storybook/issues/15227

It is related to scss worker not correctly terminated

[2021-06-21 19:54] JSMike commented on #15294
Note, I'm also getting the following warning up above in the logs.

[code]

This is even with using the webpackDefine plugin to set a NODE_ENV the same as this previous issue: https://github.com/storybookjs/storybook/issues/14257#issuecomment-842175514

Is something getting stuck in dev mode and listening?

[2021-06-21 19:54] JSMike commented on #15294
@meriturva That looks like it is the same root cause.

[2021-06-21 19:58] frassinier commented on #12982
@williamliangwl  Here is a workaround I found today!

[code]

Hope it can help!

[2021-06-21 20:02] frassinier commented on #13634
Could be related to #12982

[2021-06-21 20:11] JSMike commented on #15227
@meriturva Just brainstorming, could it be a webpack4/webpack5 issue? Maybe something in `@nrwl/angular`, `@nrwl/storybook`, `@storybook/angular` that's not making the right close call for webpack5?

[2021-06-21 22:27] osdiab commented on #13145
The two PRs above seem to have gone stale - would love an update / if there's a way to help would love to know!

[2021-06-21 23:01] #15303 closed

[2021-06-22 05:54] meriturva commented on #15227
@JSMike I'm not a webpack expert but I think that it is something related to @storybook/angular package. Sadly I have no time to investigate more and tomorrow we are going just to force process.exit on our continuous integration pipeline.

[2021-06-22 07:05] meriturva commented on #15227
We have prepared (and attached) a simple patch using library `patch-package` https://www.npmjs.com/package/patch-package
Now our build pipeline exit correctly, but I repeat: force a `process.exit` is not the correct solution. It is important to know why angular workers (scss worker for sure) are not terminated correctly.

[@storybook+angular+6.3.0-rc.11.zip](https://github.com/storybookjs/storyboo

[2021-06-22 07:32] shilman commented on #15227
Reproduction: https://github.com/hoffination/storybook-timeout-repro

[2021-06-22 07:32] shilman commented on #15294
Closing as duplicate to #15227 & have copied repro there

[2021-06-22 07:32] #15294 closed

[2021-06-22 07:33] marxsk opened #15313 "storyshots and component initialization"
**Describe the bug**
When using combo jest/angular/storybook/storyshots there is a problem with initialization of the components. The error does not occurs when using storybook alone (or when 'npm run storybook' is used). But it occurs only when running snapshot testing.

It looks like that component is initialized without args and they are set later on. There should be a way how to do this at onc

[2021-06-22 07:42] meriturva commented on #15227
@shilman : to reproduce even easier just:

- ng new testProject (with angular cli v12) (choosing SCSS)
- npx sb@next init
- build-storybook

[2021-06-22 08:21] sayinserdar opened #15314 "Can't access variables in template - Angular"
**Describe the bug**
I'm working on a task to upgrade the storybook version from 6.1.10 to 6.2.9. I have a header component and dropdown possibilities of this header is decided upon an enum.I am accessing this enum via assigning to a variable and calling in the template
[code]

[code]
 Everything was working smoothly until I upgrade the storybook. Now I have error like this

[code]
In order to tac

[2021-06-22 09:24] meriturva commented on #12116
Thanks for examples @parkersweb @shilman ! It works correctly!

Issue could be closed for me!

[2021-06-22 09:57] RowanDZ opened #15315 "Import from @storybook/addon-docs/blocks makes IE11 crash"
**Describe the bug**
Import from @storybook/addon-docs/blocks makes IE11 crash, even with preset.

**To Reproduce**
import {Meta, etc} from '@storybook/addon-docs/blocks'

**System**
System:
    OS: macOS 11.4
    CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
  Binaries:
    Node: 15.14.0 - ~/.nvm/versions/node/v15.14.0/bin/node
    Yarn: 1.18.0 - ~/.nvm/versions/node/v15.14.0/bin/yarn

[2021-06-22 09:58] muster-mark opened #15316 "Storybook does not open in default browser"
**Describe the bug**
My default browser is Firefox (if I type `open https://storybook.js.org/` in my console then it opens in Firefox. However when I run `npm run storybook` it opens in another browser I happen to have installed on my computer, called Google Chrome.

**To Reproduce**
Set Firefox as default Browser. In a Story book project, run `npm run storybook`

**System**
Environment Info:

  S

[2021-06-22 10:37] shilman commented on #15316
FWWIW we use `better-opn` under the hood: https://www.npmjs.com/package/better-opn

[2021-06-22 10:38] #12116 closed

[2021-06-22 11:15] Bilge opened #15320 "HTML/Button.ts incompatible with @tsconfig/recommended"
**Describe the bug**
[`Button.ts`](https://github.com/storybookjs/storybook/blob/7d81f46f947769ae3db920bc553c2f9b13f3f9b8/lib/cli/src/frameworks/html/ts/Button.ts) fails to build out-of-the-box with [`@tsconfig/recommended`](https://www.npmjs.com/package/@tsconfig/recommended).

**To Reproduce**
1. Add recommended TS config: `yarn add @tsconfig/recommended`.
2. Include recommended config in projec

[2021-06-22 12:42] ihodex opened #15322 "Action output is an object like {name: 'example', args: ''} instead of ''"
**Describe the bug**

I have a story with a simple text input component. It has a `valueChange` event that returns string value on change. After upgrade to 6.3 I've noticed that empty string value is displayed like `{name: "valueChange", args: ""}` instead of just `""`. The same thing is with an `undefined` value.

Is possible to change this behavior? :)

**System**

[code]

Thanks ;)

[2021-06-22 13:02] dexster commented on #2817
@SarcevicAntonio You can have args per story. Just remove them from the default export and add them to the story

[code]

You can also move the componentWrapperDecorator out the default export to the story as well.
[code]

I am seeing my args in "Show code". Now if I could just see my ng-content there as well then this solution would be great

[2021-06-22 14:07] ArcticTee commented on #12093
I tried the things mentioned above, but they did not work for me.

**Upgrading all `@babel` dependencies and `storybook `worked for me** 🏁

Now I still get a warning, but I can start storybook... 🥳

Coming from `@babel/core@7.13.10` and `@storybook/cli@6.1.10`

upgraded to  `@babel/core@7.14.6` and `@storybook/cli@6.2.9`

[code]

Hope this helps someone... 😄

[2021-06-22 14:37] pyymenta commented on #14883
@shilman Thanks for this update. Unfortunately we still have the problem related in https://npmjs.com/advisories/1693.

To fix this, we must update postcss to 8.2.10 or later.

[2021-06-22 15:14] IanBellomy commented on #11587
Every time I try a new dev tool that's supposed to make life easier and I end up in a place like this trying to resolve a conflict between two other tools via some fiddling with a buried config file I wonder if npm was just a JODI project all along.

[2021-06-22 15:44] fabiradi commented on #11657
I have a very similar problem with `useEffect` triggering a onChange event, which in turn triggers `updateArgs`, again. The values never change, but the component gets remounted. Also, it happens **only in Docs mode**, but _not in Canvas mode_. It seems to have the same cause.

[2021-06-22 16:10] jamesonhill opened #15325 "Story parameters do not update when they are based on story args"
**Describe the bug**
If a story has a parameter set based off another arg of the story, changing the arg control does not update the parameters that depend on it.

Before upgrading from version `5.3.x`, we could control parameters (like graphQL query mocks) using knobs like below (simplified example).
[code]

However, what seems like the "args" equivalent after updating to version `6.3` does not w

[2021-06-22 17:59] RayLuxembourg commented on #5013
Seems like the compound component pattern is not working properly with the storybook.

[2021-06-22 22:53] santiagoarizti opened #15327 "Issue with "Controls - Dealing with complex values" guide for Vue"
**Describe the bug**
Following [this guide](https://storybook.js.org/docs/vue/essentials/controls#dealing-with-complex-values) for Storybook+vue doesn't produce output expected.

In this guide "dealing with complex values" we find that we can map the value of a control in a story through a complex function to produce some complex prop for a component.

Following the guide, although very closely, d

[2021-06-22 23:06] frassinier commented on #8078
Here is a workaround for now, by editing your main.js

[code]

Hope it can help!

[2021-06-23 00:06] kaiyoma commented on #14619
I'm running into this same problem as well. I have a Rush mono-repo that uses pnpm as the package manager and I'm trying to upgrade to React 17. pnpm fails to install packages because the peer dependency requirement is not being met:

[code]

I don't want to disable this strict-peer-dependency setting for the package manager, because it's a helpful tool to ensure that the packages in the repo are

[2021-06-23 01:39] tmeasday commented on #15325
Hey @jamesonhill, this is an interesting use case.

Just to be clear: you are not **changing** the parameter when the knob value changes. The parameter is a function that reads the value of the knob **at runtime.**

So to replicate the same idea in args, you would need some way to read the value of the arg **at runtime**. `BasicStory.args.error` is not going to give you that -- that's the value of

[2021-06-23 01:45] IanVS commented on #14619
Unfortunately I think both reach router and react-router aren't getting much love right now as the lead maintainers are heads-down on building a new paid framework, remix.  I'm hopeful that they'll come back up for air at some point and give some love to the routers, but for now it seems like we're in a holding pattern.  I wonder if the best thing might be to fork reach router (and react-create-co

[2021-06-23 01:50] bcomnes commented on #14619
IMO the best thing to do short term is to do a storybook org fork of reach with react 17 support, and to follow up with that, move back over to react router at the latest version.

[2021-06-23 01:54] jamesonhill commented on #15325
@tmeasday  Yea, that approach does make sense. I'll give it a shot. Thanks for the explanation.

[2021-06-23 02:07] shilman commented on #14619
Seems to me that reach-router is dead. I'd love it if somebody could upgrade to react-router 🙏

[2021-06-23 02:19] shilman commented on #15300
Hey @petermikitsh -- yeah that comment is pretty much still valid. `middleware.js` is an intentionally undocumented API that we are not promoting. That said, the APIs haven't changed in years and are still working and used by a bunch of different projects so ... if it seems to fit your use case YMMV.

[2021-06-23 02:20] shilman commented on #11587
@tjlittle what would that look like?

[2021-06-23 05:38] shilman opened #15328 "Use `main` instead of `master` for the trunk branch"
Get with the times: https://github.com/github/renaming

- [x] Update docs
- [x] Update CI
- [x] Update release process
- [x] Add branch & update branch protection rules

[2021-06-23 05:50] shilman commented on #13830
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-rc.12 containing PR #15312 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

[2021-06-23 06:48] gaetanmaisse commented on #15227
TLDR; Workaround: downgrade to Angular 12.0.3.

After some investigation, it looks like Storybook RC is working fine when using `angular/*@12.0.3` but stop completing as soon as we are using `angular/*@12.0.4`. There is not a lot of changes in the 12.0.4 release, see https://github.com/angular/angular/releases/tag/12.0.4, but I didn't found anything obvious for now.

[2021-06-23 07:12] sarangk-hotstar commented on #6364
With v6 we can directly import styles in `preview.js` that will be available globally!

[code]

[2021-06-23 07:41] VisionYi commented on #14933
Hi, @shilman
Could the Storybook team fix this issue? or any plan to improve that?
I hope it will be fixed on **v6.3**, please. 🥺

[2021-06-23 08:35] shilman commented on #14933
@VisionYi does the workaround in #14933 work for you?

[2021-06-23 08:39] sandranrivas commented on #13962
did someone fix this? I'm also trying to use @apply

[2021-06-23 09:04] meriturva commented on #15227
Great catch @gaetanmaisse ! i was looking for a commit on `@storybook/angular `package but the change was on `@angular-devkit/build-angular`. Happy to know that it is related to scss worker as I suspected before.

Anyway patching with `process.exit` works like a charm on our CI infrastructure even with angular 12.0.4 version.

[2021-06-23 09:17] #15328 closed

[2021-06-23 09:18] #14397 closed

[2021-06-23 09:40] EvtK opened #15330 "New Angular render filters out input/output props from extended Component Classes"
**Describe the bug**
In the new Angular renderer, the storybook input and output properties are filtered against the input and output properties defined on the component.

https://github.com/storybookjs/storybook/blob/c5749b0b640fcc2e1e27c04206c8a46418f7a34c/app/angular/src/client/preview/angular-beta/ComputesTemplateFromComponent.ts#L10

We have multiple Angular components that extend from a base

[2021-06-23 10:10] JohnCasab commented on #14833
Hi @ndelangen, sorry for the late answer, I have just seen your reply right now!
I want to use `yarn` as my package manager, can I just remove `npm` is there a smart way to this?

[2021-06-23 11:18] robertpiosik commented on #14087
`.storybook/main.js`
[code]

allows for aliased imports such `import BaseWrapper from '@/components/base/BaseWrapper';`

[2021-06-23 12:06] imbhargav5 commented on #14197
@shilman Issue still persists in 6.3. 😞

[2021-06-23 12:15] tjlittle commented on #11587
@shilman - I was specifically trying to share aliased folders with webpack in Storybook and SvelteKit.
Storybook improves very quickly, so I'm not sure if this is still the case, but about a month ago, TypeScript projects had to change the storybook config files to *.cjs. Because of different module systems I wasn't able to directly import the svelte.config.js file.

I ended up creating a sharedCo

[2021-06-23 13:09] jamesonhill commented on #15325
@tmeasday That worked perfectly. Thanks again. I'll close the issue.

[2021-06-23 13:09] #15325 closed

[2021-06-23 14:16] rothsandro opened #15333 "New Angular renderer throws "Converting circular structure to JSON" when using InjectionToken with options"
**Describe the bug**
Create an Angular Injection Token that uses the second parameter "options" to pass an object:

[code]

Create a story that with `moduleMetadata` that provides that token (either directly or by importing a module that provides that token):

[code]

The story shows the following error in the browser:

[code]

It works if I

* set `angularLegacyRendering` to true OR
* remove the

[2021-06-23 14:36] JoyTailor-1775 opened #15334 "argTypes table is not generated for components with React.forwardRef and index type in their interface (with typescript)"
**Describe the bug**
Hello, dear Storybook dev team, please take my sincere appreciation and gratitude toward the top-notch tool that you've created.

I have started using Storybook recently in my existing project and bumped into this problem right away, with the very first component. Frankly speaking, I hesitate regarding the importance of this bug, but I personally have spent around 10h trying t

[2021-06-23 15:17] arty-name commented on #14877
Confirmed the issue with storybook@6.3.0

[2021-06-23 16:07] rodoabad commented on #6083
This is still an issue. Are we supposed to remove the default CSS rule as standard guidance?

[2021-06-23 16:11] Nautman commented on #14355
Did you solve this?

[2021-06-23 16:25] panmau commented on #14397
In the release notes it says: "Reuse your stories in unit tests: Jest, Cypress & more".
Can someone maybe link me to the right place to get more info about this? I couldn't anything about it in the changelog :thinking:

[2021-06-23 16:39] arty-name opened #15335 "Webpack5 + type: module + addon-actions = ModuleNotFoundError"
**Describe the bug**
 A barebones example with type: module, Webpack5 and addon-actions results in "ModuleNotFoundError" error during the build

**To Reproduce**
`git clone git@github.com:arty-name/storybook-webpack5-module.git && git checkout module-not-found && yarn install && npx start-storybook`

[Added `"type": "module"` to package.json, configured Storybook for webpack5, added addon-actions]

[2021-06-23 16:40] hiimtmac commented on #14666
How did you fix this? Im having the same problem:

[code]

[2021-06-23 17:15] ismay opened #15336 "Storybook build fails with "Cannot find module 'webpack/lib/util/makeSerializable.js" after upgrading storybook packages to 6.3.0"
**Describe the bug**
`start-storybook` and `build-storybook` fail with `Error: Cannot find module 'webpack/lib/util/makeSerializable.js'`

**To Reproduce**
See this commit: https://github.com/ismay/superwolff/commit/2ef03b79734af55c87d8b58f84422c1e1894a2c2. Chromatic tests here are unchanged, so on CI the build isn't failing. However a local npm install (even after clearing node_modules) of this c

[2021-06-23 17:19] jonniebigodes commented on #15327
@santiagoarizti thanks for bringing this to our attention, let me take a look and see what might be the issue and if need be I'll update the documentation accordingly.

[2021-06-23 17:23] ThibaudAV commented on #15227
I finally had the time to test.
and I agree with you I think that is exactly this change https://github.com/angular/angular-cli/commit/1dd5c28f8d32e382d271a3da2bed25f16e88153a#diff-6f1d85ee071c6e16d742bed5b1c832894a14dc4c9452f0bd6b95e3b61e5d1b17L210

I think we should open an angular-cli issue to ask their opinion? or comment on this PR https://github.com/angular/angular-cli/pull/21045

[2021-06-23 18:44] darleendenno opened #15338 "Comment thread shouldn't crowd UI @storybook/addon-comments"
**Describe the bug**
Multiple comments make the UI difficult to perform interactions.

**Screenshots**
![image](https://user-images.githubusercontent.com/17681528/123151373-00607080-d429-11eb-9698-7cffd3117e27.png

[2021-06-23 18:45] #15338 closed

[2021-06-23 18:45] NicolasBonduel commented on #14397
@panmau I believe this is what they are referencing this: https://medium.com/storybookjs/testing-lib-storybook-react-8c36716fab86
Looks great! Can't wait to try it out.

[2021-06-23 18:48] bennypowers commented on #11588
cc @matsuuu

[2021-06-23 19:54] maxmezzomo commented on #14301
Following up, I put in a PR a few months ago.  PR #14356. Is there anything to follow up with.

[2021-06-23 20:41] muster-mark commented on #15316
Well it should be possible to detect the default browser and only use better-opn if it is one of the Chromium browsers supported by better-opn. Far more annoying for it to open in a different browser than a different tab.

[2021-06-23 21:55] jbuckner commented on #11395
I'm also interested in using controls for CSS Custom Properties to demo WebComponents. I've come up with a solution that works, but could probably be abstracted to remove some of the boilerplate:

[code]

[2021-06-23 22:25] heldr commented on #12668
Got running in 6.2.9 https://github.com/storybookjs/storybook/issues/12668#issuecomment-773958085 , but after upgrading to 6.3.0 error is back.

[2021-06-23 23:17] shilman commented on #11395
cc @storybookjs/web-components ☝️

[2021-06-23 23:18] shilman commented on #15316
@muster-mark PRs welcome!

[2021-06-23 23:22] shilman commented on #15336
Did you try installing `webpack5` as a project dependency?

Do you have a repro you can share? You can create a reproduction by running `npx sb@next repro`, following the instructions, and linking it in your issue description. We prioritize issues with reproductions over those without. Thank you! 🙏

[2021-06-23 23:42] silverboyir opened #15340 "(0 , upath__WEBPACK_IMPORTED_MODULE_10__.normalize) is not a function - @storybook/addon-jest"
**Describe the bug**
after I add the

[code]
to the preview.js file I get "(0 , upath__WEBPACK_IMPORTED_MODULE_10__.normalize) is not a function" in all stories page

[code]

Storybook 6.3.0
webpack 5

with Webpack 4 and the older version of Storybook everything works fine

[2021-06-24 00:56] shilman commented on #15340
Can you please create a reproduction by running `npx sb@next repro`, following the instructions, and linking it in your issue description? We prioritize issues with reproductions over those without. Thank you! 🙏

[2021-06-24 02:05] timbomckay commented on #13254
@shilman Looking at the [syntax highlighter component](https://github.com/storybookjs/storybook/blob/main/lib/components/src/syntaxhighlighter/syntaxhighlighter.tsx), it looks like `scss` needs to be registered like so:

[code]

Looking at the code as of `6.3.0`, if I put an `scss` code snippet in an `.mdx` file, it doesn't provide the correct token markup, so I don't think importing the theme wil

[2021-06-24 02:13] timbomckay commented on #13254
Also, I can create a separate issue for `scss` syntax highlighting if needed since the original comment was regarding `css`. Let me know if I should do that or if this thread is fine.

[2021-06-24 02:45] dohomi commented on #15336
@shilman
I am facing the same issue. After manually adding webpack 5 I receive this errors in the install:
[code]
It seems that internally some storybook features still point to webpack4?

[2021-06-24 02:49] csaden commented on #6188
`@storybook@6.2.9`
`webpack@5.39.1`

I was able to get svgs working by removing Storybook's svg loader and using the one suggested in Webpack5 docs.
`{ test: /\.(svg)$/, type: "asset/inline", }`

[code]

[2021-06-24 03:43] chornos13 commented on #3172
Hey, thank you that's giving me hope about custom **publicPath**

In my case with Storybook version is 6.2.9 I need extra configuration in managerWebpack because **--preview-url** doesn't seem to works

[code]
you can replace /assets/storybook with your any prefix

Thanks

[2021-06-24 05:42] ismay commented on #15336
Haven't tried that yet.

Sorry about that, I was a bit pressed for time when I opened this. I'll take a closer look asap and see if I can create a minimal reproduction. Should be this week. I'll try adding webpack 5 as a project dependency as well at that time and report back (weird that apparently the chromatic build doesn't need webpack 5 to be set as a dependency in my project).

[2021-06-24 06:56] shilman commented on #15278
Gadzooks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.4.0-alpha.0 containing PR #15332 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-24 06:59] TheComputerM commented on #15278
Thank you very much @shilman.

[2021-06-24 08:22] sayinserdar commented on #15314
Version 6.3 resolves this issue. I don't see such an error in my local machine anymore. I'm closing this issue for now.

[2021-06-24 08:22] #15314 closed

[2021-06-24 08:42] JounQin commented on #15227
My workaround for not down leveling Angular is using [patch-package](https://github.com/ds300/patch-package) and following patch:

[code]

[2021-06-24 08:45] seferturan commented on #14410
Not really a useable workaround in my case, but maybe it'll help with tracking down the issue:

Upgrading Storybook from `6.1.21` to `6.3.0` also resulted in a WSOD. But, downgrading `react` from `17.0.2` to `16.14.0` does get rid of the WSOD. Which feels weird, since none of the stories use react components (I'm using `@storybook/html`).

Just having react `17.0.2` seems enough to result in a WSO

[2021-06-24 09:47] thomasaull opened #15345 "Vue3: issues when working with args in stories"
**Describe the bug**
This is a follow up to some changes I introduced in this PR: https://github.com/storybookjs/storybook/pull/15168

While working with the new released version `6.3.0` in a project, I found some issues when working with args/props in story components:

- Args get passed the the component regardless of using `v-bind="args"`
- No way of overwriting specific args in setup or on the

[2021-06-24 10:24] gynekolog commented on #5013
Same problem.
I had folder `components/ui`. There is barrel index.ts:
[code]
and my component `Icon` that has default export.

I had another components folder `components/shared`. When I import any component from the UI folder to any `shared` component I get the error:
`Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: unde

[2021-06-24 10:32] Sapendo commented on #11442
I am faced with the same warning. However, we do not have `@storybook/addon-docs` in main.js.
![image](https://user-images.githubusercontent.com/24610132/123248238-5d732980-d4f0-11eb-83c6-12b88c8017cc.png)
![image](https://user-images.githubusercontent.com/24610132/123248310-7085f980-d4f0-11eb-8990-62c8db790c60.png)
![image](https://user-images.githubusercontent.com/24610132/123248383-898eaa80-d4f

[2021-06-24 10:37] anil-hulkapps commented on #8637
[code]

Write important at the end its important

[2021-06-24 10:39] maxmezzomo commented on #15336
I had the same issue from 6.29 (using  npx sb init --builder webpack5 -f to install few weeks back) to 6.3. Upgrading to latest webpack fixed

[2021-06-24 10:40] anil-hulkapps commented on #4545
Add this in manager-head.html
[code]

I have changed font size of sidebar stories title like this..you can target different class and use css..

[2021-06-24 10:43] zerocewl commented on #14257
Have you solved the error?

I tried to add `process/browser` as suggested [here](https://stackoverflow.com/a/64553486/10036039) to storybooks `main.js`, but without any luck.

[code]

[2021-06-24 11:01] tedlittledale commented on #12844
I was able to resolve this by adding the following to the webpack config:
`config.resolve.roots = [
			path.resolve(__dirname, '../public'),
			'node_modules',
		];`
The whole config looked like this:
`webpackFinal: async (config, { configType }) => {

		config.module.rules.push({
			test: /\.scss$/,
			use: ['style-loader', 'css-loader', 'sass-loader'],
			include: path.resolve(__dirname, '../sty

[2021-06-24 11:21] surdu commented on #8383
In version 6.3.0 none of the above options seems to work anymore ... 😞

[2021-06-24 11:47] martinburford opened #15347 "Show objects as objects and not strings within Props Tables (when using Typescript type definitions)"
Hi there,

When using **PropTypes** within a React component, props which contain objects are rendered like this, showing key/value pairs in a tabulated format:

![001](https://user-images.githubusercontent.com/925095/123257424-0b2f0a00-d4ea-11eb-8bb6-33d39c44b1d6.jpg)

When switching over to TypeScript and providing type definitions via interfaces, objects get shown as strings, like this:

![002]

[2021-06-24 13:04] muster-mark commented on #15316
I think the issue is with better-opn to be honest, it's hardly "better" if it doesn't open in the user's preferred browser. You may wish to use open instead of better-opn, though it may annoy chrome users who enjoyed that functionality. I am satisfied by using the --ci option to prevent opening in a browser at all. I am of the opinion that not opening in a browser would be a better default anyway.

[2021-06-24 14:33] massi08 commented on #15185
Any news about this issue ? I still have not found a fix yet

[2021-06-24 14:36] shilman commented on #13254
@timbomckay we won't add those to the defaults, but we will make documentation on how to customize the syntax highlighter to your needs

[2021-06-24 15:24] maeriens commented on #13074
Updated to 6.3 and confirming the warning is still present

[2021-06-24 15:45] TheComputerM commented on #15278
@shilman , @ghengeveld Just tested this out in storybook 6.4.0 alpha, still getting the same error. Even reinstalled the node_modules folder.

[2021-06-24 15:45] rowindatas25 opened #15350 "[Storyshots, Structural Testing]TypeError: Cannot read property 'createStringLiteral' of undefined"
**Describe the bug**

After upgrading to jest-angular-preset ^8.3.0 and attempting to run structural testing, with npm run I see the error below:

● Test suite failed to run

    TypeError: Cannot read property 'createStringLiteral' of undefined

      at Object.getCreateStringLiteral (../../node_modules/jest-preset-angular/build/TransformUtils.js:5:12)
      at ../../node_modules/ts-jest/dist/com

[2021-06-24 15:58] BennaceurHichem commented on #9956
@armadillo-dev I tried your solution,, but in my case when I launch Storybook again it crashes, and the reason is probably that that I don't have ts-loader in my case, should I install it, and is there any changes that I should do after installation to make things working?

[2021-06-24 16:07] WalterWeidner commented on #14257
We're seeing this also in our repository (using builder-webpack5). We have Webpack 5.38.1 as a direct dependency at the root of our repository (no fancy monorepo setup here).

This is the config as it comes through storybook's `main.js`:

[code]

[2021-06-24 16:25] shilman commented on #15278
@TheComputerM do you have a repro repo you can share?

[2021-06-24 16:25] shilman commented on #15278
@ghengeveld can you check out the repro above with 6.4 and let me know what you find?

[2021-06-24 17:49] shilman commented on #14257
@WalterWeidner please give `6.4.0-alpha.0` a try which should fix the problem when there's no `.env` file. If that works, I'll patch it back to `6.3.x`.

[code]

[2021-06-24 17:53] JamesHenry opened #15351 "Angular: global style entry points are bundled into JS instead of separate CSS files"
**Describe the bug**
Honestly, this is one of those things where it seems so obviously an issue that I am half expecting you to tell me I am misunderstanding 😅

As you know, in `angular.json` you provide `"styles": []` on your project - these are global entry points and when you run `ng build` they will be spat out as individual CSS files via the webpack build.

When building storybook, however, e

[2021-06-24 18:37] WalterWeidner commented on #14257
@shilman the empty define plugin doesn't exist in `6.4.0-alpha.0` but I still get that warning about `process.env`.

[2021-06-24 18:40] robertkirsz commented on #11933
What worked for me, was removing `Story<Props>`, so I replaced this:
[code]
With this:
[code]
I now get the full props table. And `MyComponent` is a pure styled-component, no need for React wrappers.

[2021-06-24 18:59] shilman commented on #14257
@WalterWeidner did you even get the warning when you removed your .env file

[2021-06-24 19:06] WalterWeidner commented on #14257
Yes. I still get the warning without the _.env_ file. I've completely removed it for now. The _.env_ file is only used for a separate CLI tool that doesn't touch Storybook.

[2021-06-25 01:34] shilman opened #15355 "Storybook 6.4 release 🏗"
SB6.4 adds interaction testing and performance re-architecture in preparation for a huge 7.0 release.

## Schedule

- ✅ `6.4.0-alpha.0` 2021-06-24
- ✅ `6.4.0-beta.0` 2021-09-22
- ✅  `6.4.0-rc.0` 2021-11-12
- ✅ `6.4.0` 2021-11-26

## Contents

Storybook 6.4 contains hundreds of features and bugfixes. For a full list, see [CHANGELOG.md](https://github.com/storybookjs/storybook/blob/next/CHANGELOG.md

[2021-06-25 01:53] shilman commented on #15310
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.4.0-alpha.1 containing PR #15349 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-25 01:53] #15310 closed

[2021-06-25 01:59] shilman opened #15356 "CI fails on 6.3 requirements"
CI uses Verdaccio to publish the most recent version of packages. In the `next` branch, this is currently `6.4.0-alpha.X`.

Meanwhile, the new [Outline](https://storybook.js.org/addons/storybook-addon-outline) and [Measure](https://storybook.js.org/addons/@storybook/addon-measure) depend on `^6.3.0` and are included in the Essentials addon in the monorepo.

This causes CI to fail because apparentl

[2021-06-25 03:41] gajus opened #15357 "v6.4.0-alpha.0 swallows errors"
**Describe the bug**

storybook quietly fails without surfacing errors in `.stories.tsx` files.

**To Reproduce**

[code]

**Additional context**

I would expect to see some reference to error "OK".

However, build just completes without any errors:

[code]

[2021-06-25 03:50] orange727 commented on #10784
I have the same problem。lerna monorepo, build time cost 3mins。I added 'exclude' in webpack.config.js and tsconfig.json，but not work。I dont' know how to locate the problem。

i have my packages like this:

- packages
  - a component
  - b component
  - all

I run npx start-storybook in directory 'a', cost 1min。when i run that command at directory -- 'all', cost 3 mins。

[2021-06-25 04:19] jogelin commented on #14257
@shilman Same here, I played with `6.4.0-alpha.0` yesterday and still have the waning without .env file.

[2021-06-25 06:50] ismay commented on #15336
Ok, I've tried to reproduce it, and in messing around with it I seem to have fixed it 'accidentally'. I've narrowed it down to changes in the `package-lock.json`, those are the only (indirect) changes I made in the end that had an effect on the above bug. For some reason, after multiple rounds of adding/deleting over 20k lines to the package-lock, npm seems to have settled on a combination that wo

[2021-06-25 06:50] Jispry commented on #14257
still present, i just tested with `6.4.0-alpha.1`

[2021-06-25 07:53] netcoding87 opened #15359 "children.match is not a function when using HTML entity numbers inside <code> inside markdown table"
**Describe the bug**
When using an HTML entity number inside a `<code>` element inside a markdown table the storybook crashes with `Uncaught TypeError: children.match is not a function at Code`

**To Reproduce**
GitHub Repo: https://github.com/netcoding87/storybook-html-entity

* Start storybook
* Open Story 1 => code is shown
* Open Story 2 => Exception occurs

**System**

* System:
  * OS: Windo

[2021-06-25 08:09] heli-d-bhavsar commented on #7987
Can I contribute to fix this issue?

[2021-06-25 08:28] tomaboro opened #15360 "Storybook 6.3 + Angular 12: `build-storybook` never finishes"
**Describe the bug**
`build-storybook` command never finishes (on our CI process was killed after 40 minutes) on clean Angular 12 project (with default stories only).

**To Reproduce**
Reproduction repository(generated with `npx sb@next repro`): https://github.com/tomaboro/fuzzy-carnival
Manual reproduction:
[code]

**System**
[code]

**Additional context**
It looks like assets are generated corre

[2021-06-25 08:43] karol-f commented on #10784
@orange727 Add this config to storybook config:

[code]

[2021-06-25 09:15] ThibaudAV commented on #15246
@literalpie and others. I've some question 🙋‍♂️

### Some context :
In order to avoid redoing the same code as angular-cli. Storybook uses parts of the code of this one with the `framework-preset-angular-cli.ts`
More precisely storybook uses some code block of the builder `@angular-devkit/build-angular:browser` which allows it to manage this options
[code]
for example. And also to use the `tsConfi

[2021-06-25 09:20] BennaceurHichem commented on #9956
@graup @shilman I tried to add the config mentioned below to my main.ts, but in my case when I launch Storybook again it crashes, and the reason is probably that that I don't have ts-loader in my case, should I install it, and is there any changes that I should do after installation to make things working?
I'm using `@nuxt/storybook` module,  and `@storybook/preset-typescript` is not installed

[2021-06-25 09:21] jdelStrother commented on #14257
I've updated my demo repo here with 6.4.0-alpha.1 - https://github.com/jdelStrother/conflicting-process-env

It still emits a process.env warning during build, and causes `yarn start-storybook --smoke-test` to fail entirely.

(The latter is the more frustrating bit for me: I can ignore the warning, but we use the smoke-test check in our tests, and the process.env warning causes our CI to fail...)

[2021-06-25 10:01] majolo315 commented on #14789
I have the same issue and nothing is works

[2021-06-25 10:17] graup commented on #9956
Hi @BennaceurHichem, you should not need any extra config anymore. Ts-loader is required but should be installed automatically as a dependency of storybook/vue. Could you open a new issue with the error you are encountering?

[2021-06-25 10:20] BennaceurHichem commented on #9956
I'm usinf nuxt-storybook module, I will do

[2021-06-25 10:25] martinburford commented on #15347
The current implementation (understandably) truncates types defined via TypeScript. PLEASE update this to include some kind of prettified formatting of objects defined this way...

![Screenshot 2021-06-25 at 11 23 59](https://user-images.githubusercontent.com/925095/123411067-f0bb6600-d5a7-11eb-8c85-f8c7e6d8efe9.png)

[2021-06-25 10:53] Wintermoose opened #15362 "Storybook angular: tsconfig-paths-webpack-plugin incorrectly resolving relative references"
**Describe the bug**
In a monorepo situation tsconfig-paths sometimes remaps relative file reference as absolute one. Compilation itself works (since for tsc everything works fine), but the resulting bundle is broken (will refer wrong webpack modules and thus miss some objects)

From debugging the code, I think it's actually caused by this problem https://github.com/dividab/tsconfig-paths-webpack-

[2021-06-25 11:16] majolo315 commented on #14789
OK, It is able to fix this issue by commenting this addon  in  main.js > preset-create-react-app
The both commands "storybook" and "build-storybook" will magically works after this little change.
I installed storybook as clean installation via: "npx sb@next init --builder webpack5"

[code]

[2021-06-25 11:56] miguelleite commented on #9254
@artemi5c can you give some detail on what was wrong on your side? I'm facing the same issue and having trouble figuring it out 🙏

[2021-06-25 12:49] mitow7821 opened #15364 "Cant build storybook while using vite-builder."
**Describe the bug**

I'm using storybook-builder-vite which doesnt want to build my stories giving error:

![image](https://user-images.githubusercontent.com/34492112/123511132-f08e9980-d67f-11eb-9f00-dda20f3c82b5.png)

**To Reproduce**
Clone this repo: git clone https://github.com/eirslett/storybook-builder-vite.git
Go to the React example folder: cd storybook-builder-vite/packages/example-react

[2021-06-25 14:17] daan93 commented on #15063
Problem is not showing up in version 6.3.

[2021-06-25 14:18] pouretrebelle commented on #12718
I'm having the same problem, caused by having `.`s in a story title. I've chosen to do as suggested in https://github.com/storybookjs/storybook/issues/9761#issuecomment-629614838 and use a `․` [homoglyph](https://www.irongeek.com/homoglyph-attack-generator.php) (alternative unicode character) instead of the periods. In your case you could do `${pkg.version.replace(/\./g, '․')}`

[2021-06-25 14:28] CWSites opened #15367 "Unmet peer dependencies"
I'm getting the following unmet peer dependencies with latest of these packages. Any help would be greatly appreciated

[code]

[2021-06-25 14:33] JesusTheHun commented on #13950
I still have the issue when I switch to the `Docs` tab. `Canvas` works fine.

[2021-06-25 14:36] j-m commented on #13950
Whoops, I should've clarified, same here

[2021-06-25 14:51] bowmsamman opened #15368 "In Firefox, ZoomElement component doesn't resize on child resize"
**Describe the bug**

`ZoomElement` maintains a `height` state value that it updates using a ref to a child element and an effect hook. This approach doesn't update the height value if the child element changes in size. This means that if the component being showcased becomes larger (e.g. the component is a list of items that allows items to be added dynamically), the component will overflow the b

[2021-06-25 15:20] shilman commented on #15367
You'll need to provide more info than that

[code]

[2021-06-25 15:22] #15063 closed

[2021-06-25 15:25] y-nk commented on #10677
This also happens to me now (v6.3.0) with a simple javascript (no typescript) project.

[2021-06-25 15:27] daan93 commented on #14193
This is still a problem in storybook 6.3. Currently I reverted to 6.1 and not upgrading until fixed.

[2021-06-25 15:40] shilman commented on #14257
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.4.0-alpha.2 containing PR #15365 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-25 15:40] #14257 closed

[2021-06-25 16:10] stefan-schweiger commented on #14257
@shilman the error is now gone for me, thank you very much :) Are you planing on patching this back to 6.3?

[2021-06-25 16:12] willmcvay commented on #14894
I don't know if this is helpful but I had this issue upgrading from 6.3.x - solved by deleting the `node_modules/.cache/storybook` directory and re-starting SB - error disappeared

[2021-06-25 17:07] shilman commented on #14257
@stefan-schweiger yup, will patch back in a day or two!

[2021-06-25 17:11] quangv opened #15370 "Can't set callback arg to `null` on @storybook/react 6.3.0"
**Describe the bug**
As of @storybook/react 6.3.0 can't seem to set a callback arg to `null`, the `argTypesRegex` seems to over zealously create an actionHandler when manually setting an arg callback to `null`. This wasn't happening with @storybook/react 6.2.9

**To Reproduce**
Please create a reproduction by running `npx sb@next repro` and following the instructions. Read our [documentation](http

[2021-06-25 17:41] aemonm commented on #15360
See  #15227. Solution for me is to downgrade  @angular-devkit/build-angular to 12.0.3

[2021-06-25 18:04] sadir commented on #15210
@litan1106 I've just upgraded from `6.2.9` to `6.3.0` and run into this error. What was the issue you fixed? Not seeing anything [here](https://github.com/storybookjs/storybook/compare/v6.3.0-rc.3...v6.3.0-rc.4) that jumps out at me.

We have a custom webpack config so I assume that's got something to do with it?

[2021-06-25 18:15] Marklb commented on #15333
I took a quick look at this, since I already had an idea what may have been happening, and found a fix, but I don't have time to test it right now. Until I have more time to test it, maybe later this afternoon, I will just add what I found here.

The problem seems to be how Angular adds `ɵprov` to injectable objects. For `InjectionToken` objects initialized with `options` the `ɵprov.token` is it's

[2021-06-25 18:28] quangv commented on #15370
I noticed it doesn't have to do with `null`, but the `arg.onHandler` gets overwritten regardless of the value... is this suppose to happen now as of v6.3.0 ?

I do see we can still access it via the new `originalStoryFn.args` ...

[2021-06-25 18:43] jonniebigodes commented on #6569
@hawkticehurst sorry for the late response. But I was able to look into the issue. Going to detail what I did.

- Cloned your repository.
- Installed the dependencies.
- Commented out the `option` parameter in `.storybook/preview.js`.
- Ran `npm start` and was able to confirm the issue.
- Stopped Storybook and commented the `addons.setConfig()` inside `.storybook/manager.js` and enabled it in `.st

[2021-06-25 19:51] WalterWeidner commented on #14257
@shilman the warning is gone for me as well. One of the other issues, mentioned by someone else in this ticket, was about the hot update not working. Sounds unrelated?

This is the error we see in the console:
![image](https://user-images.githubusercontent.com/3867422/123478215-616c7d80-d5bc-11eb-874e-8ea3c205e8ec.png)

[2021-06-25 19:58] stefan-schweiger commented on #14257
@WalterWeidner for me the hot reload is working fine now with `6.4.0-alpha.2` for me again, so I think this should have been related?

[2021-06-25 20:12] WalterWeidner commented on #14257
I just removed my _node_modules/_ folder so there shouldn't be a cache problem, reinstalled, and ran `start-storybook` but the problem still persists.

These are what I have configured as dev dependencies currently:
[code]

I'm curious if any of them stand out to you as important diferences @stefan-schweiger

[2021-06-25 20:20] stefan-schweiger commented on #14257
@WalterWeidner since I'm using storybook with angular, all of them stand out for me 😅

[2021-06-25 20:42] bufordeeds commented on #15210
My team is running into the same issue after upgrading today.

[2021-06-25 20:43] lodisy commented on #12995
any updates?

[2021-06-25 20:50] hcl-bpchasse commented on #11989
When I encountered this issue, I was expecting the aliases to resolve correctly for files in the `.storybook/` directory. What I found was that it seems the aliases are not for resolving in the `.storybook/` directory (.storybook "config" files?), but instead for resolving when running the Storybook webpack build (`npm run storybook`).

One thing we noted was that our custom React "add on" compone

[2021-06-25 22:58] kevinfaveri commented on #9854
Did we had a revert on this fix? It is not recognizing my "main.mjs"... And while we are at it, why not validate the package.json type use the appropriate loader now that all stable versions of node support ESM?

[2021-06-25 23:21] shilman commented on #15360
closing as dupe to #15227

[2021-06-25 23:21] #15360 closed

[2021-06-25 23:23] shilman commented on #10677
@y-nk do you have a repro?

[2021-06-25 23:44] JoshuaKGoldberg commented on #15336
I can reproduce this issue with the current latest version of webpack here: https://github.com/Codecademy/client-modules/pull/1404/commits/d45f6dca52db943b653b9ddb639915ee8bd28df3. Sorry the reproduction is so complex; it's the only one I've got 😉 .

The CircleCI builds are private but you can clone the repository locally, build all packages, and `yarn start` to reproduce:

[code]

Adding webpack

[2021-06-26 01:14] tmeasday commented on #14894
This is interesting; I wonder why lazy compilation would help at all given SB isn't code split.

@dontsave do you have an example repo you can upload that we can look at?

Storybook isn't currently structured in such a way that it can really take advantage of code splitting/lazy compilation. I have no idea what WP is doing if you include that flag without splitting, so I can't speak to the specifi

[2021-06-26 02:50] y-nk commented on #10677
@shilman no, but i found the root cause - at least for my own case and it was pretty annoying to discover about it.

[code]

[code]

With just this, run `yarn storybook` and (at least for me) the console.log "in decorator" would not show up... until... i clicked on a ".js" story.

I spent hours trying to go around the issue (literally reverting until 6.0.0), but it appears the decorator wasn't loa

[2021-06-26 03:54] lacolaco commented on #14268
https://github.com/storybookjs/storybook/pull/14343#issuecomment-811648761

@dexster Could you share your workaround on how to add the source for the view? Thanks

[2021-06-26 03:55] shilman commented on #10677
@y-nk Thanks I'll take a look and let you know 🙏

[2021-06-26 06:13] y-nk opened #15373 "Rework around addon API"
**Is your feature request related to a problem? Please describe**

Not really a problem per say, but kindof. I personally believe the Addon API is not well designed. It expects too much from addon/plugins/preset creators, with requirements such as files with specific names, self executing etc.

Self-executing modules on plugin creator side are mutating the state of modules in node_modules actively

[2021-06-26 14:48] Naoto-Ida opened #15378 "Regression with default value not being selected in Controls column"
**Describe the bug**
We've been loving Storybook with our Typescript setup, but after upgrading from 6.2.9 to 6.3.0, we've lost the feature to have SB select the default value in the Controls column.

For example, in the demo files produced with `npx sb init`, a `Button.tsx` is created.
Its `size` prop has a default value of `medium`, but the [RadioControl](https://github.com/storybookjs/storybook

[2021-06-26 15:07] pertrai1 commented on #14631
@kyro38 what was the patch-package command you ran to patch this change?

[2021-06-26 15:30] ampcpmgp opened #15379 "[Vite & Svelte] Edits to the story file are not reflected in the page."
**Describe the bug**
HMR of story files does not work.  Initialize with npx sb@init, Vite & Svelte.

**To Reproduce**
https://github.com/ampcpmgp/issue-storybook-svelte-6.4

[code]

**System**
[code]

**Additional context**
Edit `stories/Button.stories.svelte`, not reflected page. But if reload browser, reflected.  It works fine edited `stories/Button.svelte` .

[2021-06-26 17:58] phong-lam commented on #13377
I am having the same issue here. Could anyone provide a reason or workaround (outside of using Safari)

[2021-06-26 18:22] puzant commented on #9996
Hello everyone, I'm also facing the same issue, & I can't figure out what's wrong
I'm basically using hooks inside the `input.stories.mdx`
[code]
& just rendering it inside a `Canvas`  like so

[code]

- but if I remove the `onChange`  line & the `handleChange` function the input shows on storybook,
- any idea why this is happening?

[2021-06-26 19:11] ghengeveld commented on #15278
With that repo, after upgrading with `npx sb upgrade --prerelease` I see the problem appears resolved for `boolean` and `option` types, but the backgroundColor is still broken.

[2021-06-26 23:00] lifeiscontent opened #15380 "Upgrading from 6.2 to 6.3 seeing significant slow down"
**Describe the bug**
After upgrading in a TypeScript Monorepo  when trying to reload storybook it's taking 10+ seconds to reload. Previously it was 1 to 2 seconds.

**To Reproduce**
@bebraw I added you to my lifetime repo, you can check it out there, just run the following:

[code]
pnpm dev will start storybook from the `/website` folder
all stories are in `/packages/react-ui` and `/packages/react

[2021-06-26 23:10] shilman commented on #15378
This is the new intended behavior. Please see `MIGRATION.md` for an explanation:

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#deprecated-argtypedefaultvalue

[2021-06-26 23:31] nathansom opened #15381 "Unable to run Storybook after installing TailwindCSS [Stack: NextJS11, PrismicCMS with Slice Machine, Storybook]"
### Bug:

- Failing to run Storybook (command: `yarn run storybook`) after TailwindCSS was installed on a NextJS project with Prismic CMS [with Slice Machine]. The console shows the following error:

`ModuleBuildError: Module build failed (from ./node_modules/@storybook/addon-postcss/node_modules/postcss-loader/dist/cjs.js):

TypeError: Cannot read property 'query' of undefined

    at getOptions

[2021-06-27 00:31] pilar1347 commented on #15316
You can also install `cross-env` and change the storybook command to:
`"storybook": "cross-env BROWSER=firefox start-storybook -p 6006 -s public"`
This worked for me.

[2021-06-27 01:13] shilman commented on #15379
closing as dupe to https://github.com/eirslett/storybook-builder-vite/issues/3

vite-related issues should be reported in the `storybook-builder-vite` repo

[2021-06-27 01:13] #15379 closed

[2021-06-27 02:46] petermikitsh commented on #15300
Thanks for the update on the status of `middleware.js`! Closing for now.

[2021-06-27 02:46] #15300 closed

[2021-06-27 07:12] eXodes commented on #14201
@shilman I am having issue with the docs render for MDX as well. But I am using the Vite as the builder. Is it related to this as well?

[2021-06-27 08:13] Naoto-Ida commented on #15378
Thanks for pointing me to the relevant migration doc.

Could you help me understand what it means my "allowing the framework to supply the default value"?

I'm struggling to understand what necessitated this change in behavior, as we'll need to duplicate default values in the component, as well as the story.

[2021-06-27 09:04] BennaceurHichem opened #15382 "Property or method is not defined on the instance but referenced during render in component props"
**Describe the bug**
I built a component then I made a story file where I'm passing multiple props, I created multiple stories to describe the behavior of the component. The majority of stories doesn't need all props, the problem is that when I don't add some of these props in a specific story, an error in the console is handled where it says :
`[Vue warn]: Property or method "optionsLimit" is not

[2021-06-27 09:52] shilman commented on #15378
Consider the react component:

[code]

Now consider two different ways of calling that function:

[code]

Alternatively:

[code]

The former will display 'hello' in most cases, but can also fail in others. The latter will always product 'hello'. That's why we changed the default value handling in 6.3, to avoid the failure cases.

To restore the 6.2 behavior, you can set the value of the arg to the

[2021-06-27 09:55] shilman commented on #15382
If you are using the args mechanism from 6.2 you can:

[code]

https://storybook.js.org/docs/react/writing-stories/args

[2021-06-27 10:02] JamesHenry commented on #15351
@shilman You have removed bug and added support, so does that mean you are saying this is the intended behaviour and storybook is overriding angular CLI’s standard behaviour?

[2021-06-27 11:02] shilman commented on #14201
Added working example here https://github.com/storybookjs/storybook/pull/15383

@eXodes all vite-related issues should go to https://github.com/eirslett/storybook-builder-vite

[2021-06-27 11:06] BennaceurHichem commented on #15382
I'm using this writing types for the Template,

[code]

[2021-06-27 11:26] #14201 closed

[2021-06-27 11:30] shilman commented on #15351
This needs some discussion before we agree it's a bug -- for now it seems more like a question to me. @ThibaudAV @kroeder any thoughts?

[2021-06-27 11:40] #15382 closed

[2021-06-27 12:25] nodir-sulaymonov opened #15384 "The above error occurred in one of React components"
I have updated Storybook to version 6.3.0 I got a weird error in the browser console, but no errors in the IDE console
![image](https://user-images.githubusercontent.com/20314452/123544363-9ebb4180-d75b-11eb-96c2-9047bb52236f.png)

These components are not in our project, most likely they are inside the storybook

Additional context

"addons": [
"@storybook/addon-docs",
"@storybook/addon-links",
"

[2021-06-27 12:58] VisionYi commented on #14933
@shilman
I only replace `$event` with a clear value as a prop, it just can avoid the error message happened.

[2021-06-27 13:38] strothj commented on #15223
Seems to happen for me when React Refresh is enabled.

[2021-06-27 14:10] shilman commented on #15223
Can you please create a reproduction by running `npx sb@next repro`, following the instructions, and linking it in your issue description? We prioritize issues with reproductions over those without. Thank you! 🙏

[2021-06-27 15:23] votemike opened #15388 "NextJS, Vercel and Storybook don't work nicely together"
**Describe the bug**
NextJS, Vercel and Storybook don't work nicely together when using the Next default of removing trailing slashes.
The problem is that Storybook expects a trailing slash in the URL, while Next removes trailing slashes by default. This can be flipped to require trailing slashes, but only for all URLs.
Another way around this is a custom route, but [Vercel doesn't support custom

[2021-06-27 15:23] votemike commented on #15388
Same issue in Next: https://github.com/vercel/next.js/issues/26651

[2021-06-27 16:43] Newbie012 commented on #14177
This is something that bugs us a lot. Is there a way I could contribute to this? It slows down the hot reload + it's really annoying whenever we refactor stuff :)

[2021-06-27 17:18] husayt commented on #15210
I am seeing the same issue as well after building with vite-builder and vue3 project.

[2021-06-27 17:58] shilman commented on #15210
Please file Vite-related issues in https://github.com/eirslett/storybook-builder-vite/

Thank you! 🙏

[2021-06-27 18:10] rsmidt opened #15390 "Using Emotion seems to break MDX"
**Describe the bug**
Using Emotion seems to break stories in MDX format. The following stack trace is from the auto generated `Introduction.stories.mdx`:
[code]

**To Reproduce**
The repo including the storybook can be found here: https://github.com/vocabularee/web/tree/voc-38-add-storybook-for-building-ui-components.

**System**
[code]

**Additional context**
I'm using the experimental? `storyboo

[2021-06-27 19:14] adiun opened #15391 "Vite + Storybook 6.3 + Jest: "global is not defined""
**Describe the bug**
I am trying to get Vite + Storybook 6.3 working with some existing stories. These stories use `jest.fn()` as mocks. I previously added this in `preview.js` to get `jest.fn()` working within storybook:
[code]

But when using the Vite integration I am now getting an error when running storybook:
[code]

**To Reproduce**
I am trying `vite` with storybook 6.3 and npm 7.19 workspac

[2021-06-27 19:28] R-Bower commented on #8383
I'm seeing the same on my end.  Tried all of the above steps including clearing the localStorage and trying other browsers.  Could it be because I'm only using MDX docs?  Are addons even available in those cases?

[2021-06-27 20:01] ThibaudAV commented on #15351
I want to help you to find a solution, but I don't understand very well 😁 How do you handle the change of theme?

If you have several themes and only one project with angular `styles` put everything in one file?
you do not have a parent class for example `dark-theme`

[2021-06-27 20:08] zhzz opened #15392 "Storybook 6.3 stopped respecting some custom reactDocgenTypescriptOptions"
Hello.

I've discovered that after updating from 6.2.9 to 6.3.0.

**Describe the bug**
Specifing custom values for some docgen options (according to the [docs](https://github.com/storybookjs/storybook/blob/next/docs/configure/typescript.md#mainjs-configuration)) isn't working any more. E.g. `setDisplayName: false` has no effect.

**To Reproduce**
Sorry, I don't know how to reproduce it outside of

[2021-06-27 20:14] ravecat commented on #14177
Use workaround with `eslint-plugin-only-warn` plugin in dev-mode

`eslintrc.js`

[code]

[2021-06-27 21:25] adiun commented on #15391
I was able to get a little further by mapping `global` to `window` in my `main.js`:
[code]

Storybook loads now, but now I get this error:
`Cannot read property 'fn' of undefined` (the `jest` object which should be coming from `jest-mock` is `undefined` here)

![image](https://user-images.githubusercontent.com/120026/123559740-c8239f80-d752-11eb-8dbe-294678ff6f1a.png)

Note I also tried adding `je

[2021-06-27 22:02] filipesperandio commented on #11587
I still facing problems with this as well.

`.storybook/main.cjs`
[code]

-> changes to `Button.tsx` are indeed auto-reloaded
-> changes to `Button.stories.tsx` don't get reflected in Storybook, though, the HMR update gets triggered properly with the above config with those `reactRefresh` options.

[2021-06-27 22:06] adiun commented on #15391
Alright, I finally fixed this... `jest-mock` doesn't explicitly provide a default export so in storybook's `preview.js` this is what I have:

[code]

This combined with assigning `global` to `window` in `main.js` fixed this issue.

**preview.js**
[code]

**main.js**
[code]

Updated [my repo](https://github.com/adiun/vite-monorepo) too

[2021-06-27 22:52] Tomastomaslol commented on #15368
Firefox doesn't support the CSS `zoom` property so it has its own way of calculating zoom.

https://github.com/storybookjs/storybook/blob/master/lib/components/src/Zoom/browserSupportsCssZoom.ts#L5

https://github.com/storybookjs/storybook/blob/7064642e1aee7786c77fe735c064c0c29dbcee01/lib/components/src/Zoom/ZoomElement.tsx#L6

I got a very busy week coming up but should be able to fix this next w

[2021-06-28 01:43] shilman commented on #15391
cc @eirslett

[2021-06-28 01:47] shilman commented on #8383
@surdu do you have a repro?

[2021-06-28 03:50] sarahbethfederman commented on #14353
This doesn't seem to work the way that I expected in nested stories. I assumed I would be able to use it like so to say that within Components category, pages named 'Overview' should be sorted first.
[code]
This seems to have no effect?

I was hoping to avoid having to write out every component (which should already be in alphabetical order) in order to sort the pages underneath each component

[2021-06-28 05:37] JJ commented on #14603
That does not work if you specify it in package.json either. The old version is still installed.

[2021-06-28 05:39] JJ commented on #14603
Plus adding another dependency just to solve a vulnerability introduced by one does not make a whole lot of sense. It's probably OK, if you already use it in your project (slash those troubles building the code, of course)

[2021-06-28 06:43] surdu commented on #8383
Not using them, still have the issue

Unfortunately, no, it's a private repo :(

[2021-06-28 07:23] #15364 closed

[2021-06-28 07:36] JamesHenry commented on #15351
@ThibaudAV Allow me to break it all down, hopefully that will help:

## How and why the Angular CLI build piece works

- The application, let's call it `my-app` is developed by a company for several clients/customers who have their own theme for the application which is appropriate for their brand - logos, colour differences etc. Therefore things need to be developed in such a way that not all the

[2021-06-28 07:49] shilman commented on #15370
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.4.0-alpha.4 containing PR #15394 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-28 07:49] #15370 closed

[2021-06-28 08:02] reutgrubervcita commented on #14933
Hi,

I am also experiencing the above issue, the differences being that:

1. my package version are as follows:
`"@storybook/addon-actions": "^6.3.0",
"@storybook/addon-essentials": "^6.3.0",
"@storybook/vue": "^6.3.0"`

2. I am using the actions through the args property on the template:
`Button.args = {
onClick: action('clicked'),
}`

The result I see is:
1. an immediate action is printed in the

[2021-06-28 08:12] jgoux commented on #15336
Hello, we're in the same situation.
Adding webpack@5 in our dev dependencies doesn't solve the issue for us, we still have the same error.
We're in a monorepo using yarn workspaces.

[2021-06-28 08:36] enguyen807 commented on #14466
I am also having the same issue. I was able to build storybook by changing
 `  var defaultFavIcon = require.resolve('./public/favicon.ico');  to  var defaultFavIcon = './public/favicon.ico'`
but I don't think it's a very viable solution...

[2021-06-28 09:00] shilman commented on #14257
Great Caesar's ghost!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.1 containing PR #15365 that references this issue. Upgrade today to the `@latest` NPM tag to try it out!

[code]

[2021-06-28 09:00] shilman commented on #15278
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.1 containing PR #15332 that references this issue. Upgrade today to the `@latest` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-28 09:00] shilman commented on #15310
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.1 containing PR #15349 that references this issue. Upgrade today to the `@latest` NPM tag to try it out!

[code]

[2021-06-28 09:00] shilman commented on #15370
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.1 containing PR #15394 that references this issue. Upgrade today to the `@latest` NPM tag to try it out!

[code]

[2021-06-28 09:25] jdelStrother commented on #14257
Thanks! Looks good to me

[2021-06-28 09:28] ktmDeveloper commented on #15250
@shilman do you have any update on this? Basically, the highlighted behavior from the screenshot below is not happening anymore.

![image](https://user-images.githubusercontent.com/8963447/123613578-672eb280-d7b8-11eb-978f-625416abe0dd.png)

[2021-06-28 09:39] sawden commented on #7439
I found a solution that works for Storybook 6.3.0:

.storybook/main.js
[code]

[2021-06-28 10:01] shilman commented on #15250
@ktmDeveloper nope, I don't have a reproduction

[2021-06-28 11:13] ibohatyrchuk commented on #15340
@silverboyir I have the same issue.
Solution of @tassoevan in https://github.com/storybookjs/storybook/issues/14856 works for me.

[2021-06-28 11:15] luke-plutoflume commented on #11071
I was also seeing "Args unsupported. See Args documentation for your framework"

I found that for similar reasons to @dehypnosis, I needed to inject the preset parameter object, but the export has changed slightly:

[code]

The project I'm working on also has a customised `main.js` so I guess the relevant part of the `@storybook/addon-docs` never gets added.

It might be worth adding this to the r

[2021-06-28 11:28] FrozenFalcon commented on #11514
Any update on this issue? I do not agree that the provided workaround is sufficient. When using `code` as a value for `docs.source.type`, you lose all of the prop values that were provided to the component. This is a major loss of information and basically removes the point of showing the source.
An example of the output with `docs.source.type` set to `code`:
[code]

[2021-06-28 11:40] henrycity commented on #15252
Installing `react-docgen-typescript-plugin: 1.0.0` and added this to `.storybook/main.js` fix this issue for me in storybook 6.3.1.

[code]

[2021-06-28 11:41] henrycity commented on #15340
Thanks, this works for me too.

[2021-06-28 11:46] sadir commented on #15210
Ours isn't vite related @shilman - can you set my expectations here on what will happen next please?

[2021-06-28 11:47] sadir commented on #15210
I can post some of our config if that would help? Don't have a repo to share with you.

[2021-06-28 11:48] sadir commented on #15210
Here's the error we are getting

[code]

[2021-06-28 13:06] hutchy2570 commented on #13335
We see this on Storybook 6.2.8.

[2021-06-28 13:43] dexster commented on #14268
@lacolaco Here you go  [Adding source code](https://storybook.js.org/docs/riot/writing-docs/doc-blocks#docspage-1)

[2021-06-28 13:46] lacolaco commented on #14268
@dexster Thanks a lot!

[2021-06-28 13:48] dexster commented on #15170
I haven't made any updates to the angular code. Will this be done in the doc addon or should i try again just to fix Angular ?

I updated to 6.3 final and my docs look very empty now because of this  😞

[2021-06-28 14:22] Naoto-Ida commented on #15392
I noticed this too. Going from `6.2.9` to `6.3.0`, the `setDisplayName` seems to not work.

In our case, we have compound components like this:
[code]

where a `Header` component set as `Card.Header` has an explicit displayName set as `Card.Header`.

Now the code tab started showing:
[code]

[2021-06-28 14:45] TonyHoanTrinh commented on #7149
Any updates?

[2021-06-28 14:58] MondaySam commented on #15347
I think I stumbled upon a related issue concerning PropTypes and imported Objects.

In my Button.js I am using PropTypes.oneOf(Object.values(BTN_SIZES))
with const BTN_SIZES = {SMALL: 'small', REGULAR: 'regular', LARGE: 'large'}

Now, if that BTN_SIZES Object is defined within my Button.js, everything is fine.
However, if I define the BTN_SIZES in another class, and import it into Button.js,
Story

[2021-06-28 14:59] JoshTumath opened #15400 "Passing props into stories through decorators no longer working in Storybook 6.3"
**Describe the bug**
Prior to version 6.3 of Storybook, when I create a decorator, I'm able to pass props into it like so

[code]

And then I expect to be able to access the props from any story:

[code]

However, as of 6.3, the props I pass in via the decorator are now `undefined`.

**To Reproduce**

https://github.com/JoshTumath/storybook-decorator-props-bug-repro

https://joshtumath.github.io/s

[2021-06-28 15:14] MondaySam commented on #14092
I stumbled upon this very issue today:

1) Two component ReactJS files Button.js  and SpecialButton.js
2) Button.js includes a small object with button sizes: export const BTN_SIZES = {SMALL: 'small', REGULAR: 'regular', LARGE: 'large'}
3) SpecialButton.js imports the Button.js as well as the size class: import {Button, BTN_SIZES} from "./Button";
4) In the PropTypes of both Button and SpecialButt

[2021-06-28 15:26] shilman commented on #15400
@JoshTumath what version are you upgrading from?

[2021-06-28 15:29] shilman commented on #15400
Thanks @JoshTumath. I can confirm this is a change in behavior from 6.2.9

[2021-06-28 16:13] TrevorBurnham opened #15401 "ArgsTable breaks if the component's displayName doesn't match its export name"
**Describe the bug**
If a story for a React component renders an `ArgsTable` block, and the component's `displayName` doesn't match its export name, then the `ArgsTable` will render this error instead of the component's props:

**To Reproduce**
https://github.com/TrevorBurnham/sb-displayname-breaks-argstable

**System**
Please paste the results of `npx sb@next info` here.

**Additional context**
T

[2021-06-28 17:06] EliHowey commented on #15311
I think this might be related to an issue I wrote a few weeks ago: https://github.com/storybookjs/storybook/issues/15196

For this issue, notice that the Storybook is compiling with TypeScript v3.5.3, but VS Code's Intellisense is pointing to the `ts3.9` types.

[2021-06-28 18:10] johanvanhelden opened #15403 "[6.3][6.4] [Vue3] Controls not updating the component if a wrapper is present"
**Describe the bug**
After updating to 6.3 I noticed all my story controls stopped working. I came from 6.2.
If a wrapper is present around the Vue component (and all my stories have a layout wrapping around them), the controls are no longer updating the component. If I refresh the page the state does update if the control's URL parameters are present.

**To Reproduce**
- Clone / download: https:/

[2021-06-28 18:20] euaaaio commented on #15403
The same issue with slots:

[code]

[2021-06-28 18:22] ajbarry commented on #1357
Likewise, I am attempting to learn how to use Storybook, but I am limited to the version currently used in my org.
I took a look at the netlify links and while the version in the sidebar header is 5.1 all of the sub pages are currently not found:

https://storybooks.netlify.app/docs/basics/introduction/

@Hypnosphi @ndelangen ... if versioned documentation is already available, could you please pr

[2021-06-28 18:40] johanvanhelden commented on #15403
I've noticed changing the implementation to use the `props` option API, it does work....

[code]

But having to refactor all my stories would suck as last month a refactored everything to use the `setup()` composition API as per the docs...

[2021-06-28 19:17] futurethang opened #15404 "@storybook/web-components 6.3.1 WSOD with no console Errors"
**Describe the bug**
I know other issues are active, and so far I have not found working solutions for my case. I am also experiencing a blank white screen, with no terminal or browser console errors at all.

Project is built on Lit Element / Lit HTML

**To Reproduce**
https://github.com/momentum-design/momentum-ui/tree/kehyde/storybook-upgrade/web-components

run `yarn install`
run `yarn storyboo

[2021-06-28 19:52] jonniebigodes commented on #1357
@ajbarry see if [this](https://storybook.js.org/docs/react/workflows/faq#is-it-possible-to-browse-the-documentation-for-past-versions-of-storybook) helps in your case.

[2021-06-28 19:54] zgottlieb commented on #15129
Were you able to sort this out? I am experiencing the same issue. I am using Storybook 6.3 and Webpack 5.40, and I am trying to import a federated module / component into my host Storybook module using top-level await. My implementation suffers the same failure to render the story, despite the local Storybook app loading fine otherwise.

When I import a federated module / component into a story, s

[2021-06-28 20:42] Nazeeh21 commented on #13924
I want to give it a try to resolve this issue.

[2021-06-28 21:04] TrayHard commented on #14259
Really hope this will be added

[2021-06-28 21:09] euaaaio commented on #15403
Looks like this bug appeared in @6.3.0-rc-5 and related to #15345. Can be fixed by reverting #15168.

[2021-06-28 21:09] zgottlieb commented on #15129
@LinuCC, I think I managed to get this working! Rather than do the top-level await, I loaded my remote component asynchronously by doing the following in my story file:

[code]

[2021-06-28 21:15] euaaaio commented on #15403
@shilman, can you release a fix?

[2021-06-28 23:55] Bilge opened #15406 "Type information missing for "loaders""
**Describe the bug**
There is no TypeScript type information for any of the [loaders](https://storybook.js.org/docs/html/writing-stories/loaders) feature.

In particular, there is no `loaders` property on `Story`/`BaseStory`.

**To Reproduce**
[code]

**System**
[code]

[2021-06-29 03:13] soulcactus opened #15407 "Storybook doesn't recognize what's new in next/image."
**Describe the bug**
The next/image no longer requires width, height, layout="fill" when accessing the public directory. (next 11) But the storybook doesn't seem to recognize this.

`Image with src "..." must use "width" and "height" properties or "layout='fill'" property.`

**System**
Environment Info:

  System:
    OS: macOS 11.4
    CPU: (16) x64 Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
  Bina

[2021-06-29 05:11] alexluke commented on #15367
We're also seeing this after updating from 6.2.8 to 6.3.1

[code]

[2021-06-29 05:52] tmeasday commented on #15400
👋 thanks for the repro @JoshTumath

[2021-06-29 06:20] EvtK commented on #14968
hi @nzacca I think we are experiencing the same issue:

https://github.com/storybookjs/storybook/issues/15330

but so far it hasn't got any attention here. Did you have made any progress on this? It prevents us from updating to Angular 12 because of the webpack version.

[2021-06-29 07:23] nzacca commented on #14968
Hi @EvtK

Yes, I agree, #15330 does sound like we're experiencing the same thing. I unfortunately have not been able to move on this. I can probably update my reproduction repo to include Input examples as you detailed on #15330 .

We have elected to proceed with our Angular upgrade without this. Unfortunate, but the benefits of Angular 12 outweigh our Storybook usage at this present time. Our wor

[2021-06-29 07:40] johanvanhelden commented on #15403
Or, if the composition API method is no longer supported and it needs to be changed to the props method, the documentation should reflect this.

I hate to refactor everything again only to have the bug fixed and needing to refactor again if the props method becomes deprecated. It's very confusing to have 2 possible implementation methods and have them break.

[2021-06-29 07:52] shilman commented on #11514
@FrozenFalcon do you have a fix?

[2021-06-29 07:57] shilman commented on #15403
@johanvanhelden I'm going to revert the PR and release today

[2021-06-29 08:01] shilman commented on #15330
closing as dupe to #14968

[2021-06-29 08:01] #15330 closed

[2021-06-29 08:02] shilman commented on #15367
@winkerVSbecks are these peer deps needed? if so, maybe these deps should be provided by addon-essentials? WDYT?

[2021-06-29 08:04] shilman commented on #15407
@eric-burel any idea what it would take to provide this support?

[2021-06-29 08:08] shilman commented on #13924
Thanks @Nazeeh21!

[2021-06-29 08:09] EvtK commented on #14968
Hi @shilman. Thanks for checking in. You have closed my issue and added a label P1 here. Does this mean it gets priority now? I do hope so :)

[2021-06-29 08:11] IgorSzyporyn commented on #15170
I like nanoid, 108 bytes (minified and gzipped), has no dependencies and is a lot faster than UUID (If you are to believe the propaganda)

[2021-06-29 08:16] shilman commented on #15392
Please PR a fix to `react-docgen-typescript-plugin` if you have one. `@storybook/react-docgen-typescript-plugin` is a temporary fork until a new version of `react-docgen-typescript-plugin` gets released with some of our fixes included.

[2021-06-29 08:20] shilman commented on #15210
@sadir Can you please create a reproduction by running `npx sb@next repro`, following the instructions, and linking it in your issue description? We prioritize issues with reproductions over those without. Thank you! 🙏

[2021-06-29 08:21] zhzz commented on #15392
@shilman have already done! https://github.com/hipstersmoothie/react-docgen-typescript-plugin/pull/49

[2021-06-29 08:24] shilman commented on #15392
@zhzz Nice! I don't know when that will be released, but when it is we'll upgrade our dependency. Thanks!!!

[2021-06-29 08:25] shilman commented on #14968
Let's see what the @storybookjs/angular team says!

[2021-06-29 08:47] shilman commented on #15345
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.4.0-alpha.6 containing PR #15409 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-29 08:47] shilman commented on #15400
Gadzooks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.4.0-alpha.6 containing PR #15408 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-29 08:47] shilman commented on #15403
Ta-da!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.4.0-alpha.6 containing PR #15409 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-29 08:47] #15345 closed

[2021-06-29 08:47] #15400 closed

[2021-06-29 08:47] #15403 closed

[2021-06-29 08:54] eric-burel commented on #15407
As next/image is a component that rely on a Next server running it should always be mocked in Storybook imo, you cannot really have it to work normally in Storybook.

Regarding this specific issue, are you sure of your app setup? Is the Next version right? Do you have TypeScript warnings etc.?

[2021-06-29 08:57] JoshTumath commented on #15400
Thank you for fixing! Does the 'patch' label on the PR mean the fix also be released in v6.3.2?

[2021-06-29 09:05] shilman commented on #15400
@JoshTumath Yes, will release in 6.3.x later this week or first thing next

[2021-06-29 09:17] emadbaqeri commented on #12585
This worked for me, great thanks :)

[2021-06-29 09:24] jokull commented on #15210
Same here when upgrading to 6.3. Removing all addons makes it work — except the postcss addon, that doesn't trigger this error. The addons I've tried adding that trigger this are links, essentials and docs.

[2021-06-29 09:50] shilman opened #15411 "Essentials: Bring measure/outline addons into monorepo"
Addon-essentials depends on the measure and outline addons, which are each developed in their own repos. This causes two problems:

1. Two copies of storybook are installed for prerelease users
1. E2E tests failing in CI

Both of these are due to a deficiency in semver where `6.4.0-alpha.x` does not match the range `^6.3.0`. As far as I know, there is no easy workaround and I believe gaetanmaisse

[2021-06-29 10:02] thomasaull commented on #13913
@shilman This issue should be reopened, since the PR was reverted and there's needs for a better solution (proposal in https://github.com/storybookjs/storybook/issues/15345 might be one)

[2021-06-29 10:05] thomasaull commented on #15345
@shilman This issue maybe should be re-opened. What do you think about the proposal of bringing back the old method of using props instead of args, which solves all the issues in this issue aswell as the one in https://github.com/storybookjs/storybook/issues/13913 for me

[2021-06-29 11:54] Alexandervn opened #15414 "Error in story for component that implements Angular's ControlContainer"
Storybook doesn't seem to be able to handle component that implement Angular's ControlContainer.

**To Reproduce**
1. Write one component that implements `ControlContainer`:

[code]

2. Write one component that hosts the form:

[code]

3. Write the story

[code]

4. Visit the story in Storybook and refresh the page

The error that will appear in console is:

[code]

**System**

[code]

**Additiona

[2021-06-29 11:57] IgorSzyporyn commented on #15170
https://github.com/storybookjs/storybook/pull/15415

[2021-06-29 12:36] JesusTheHun commented on #13950
@phated anything you can do about that ? It would be great if it could be shipped with 6.3.1

[2021-06-29 12:44] y-nk opened #15416 "Decorator unmounted when switching stories"
**Additional Context**

I'm trying to create a storybook addon for my company. We're looking to create a decorator which will hold a stateful object (our company's sdk) via the react's context api. After that we'll have stories which will make use of this context to load some data.

This addon is part of our web solution, and we work in a yarn workspaces environment with boilerplates made with tsd

[2021-06-29 12:52] ninadvadujkar commented on #15414
I faced this issue too. Can anyone help? I have to use the old Story format of `template` and `props` with custom form controls.

[2021-06-29 12:58] shilman commented on #15345
IMO using the vue3 setup method is strictly an improvement over the vue2 args technique. Vue2 automagically maps the args passed into your story function into a reactive store, so there is no way for the user to manually curate the values of the args. The setup function is a natural and "vue3-native" way to explicitly create that mapping.

[2021-06-29 13:01] anil-hulkapps commented on #7149
NOt working in ```6.2.9``` version

[2021-06-29 13:09] gaetanmaisse commented on #13950
@shilman @ndelangen does it look ok to use `telejson` in `@storybook/components`? For instance here https://github.com/storybookjs/storybook/blob/next/lib/components/src/controls/Object.tsx#L282 or there is a reason to avoid that

[2021-06-29 13:31] ThibaudAV commented on #15351
Top ! I understand much better 👍

For another topic I have slightly detailed the logic of angular here
https://github.com/storybookjs/storybook/issues/15246#issuecomment-868358335+

Indeed. I don't know if it's a bug or a missing feature ^^

Storybook uses some angular.json part read by some part of angular-cli code. But not complete only what it needs to complete a global webpack configuration. I

[2021-06-29 13:48] soulcactus commented on #15407
The next version of the project is as follows:
"next": "11.0.1"

I didn't use next/image often before because I didn't think next/image was a usable feature.
However, this version of next/image has improved significantly.
After reading this comments, I tested how Storybook renders the next/image of the previous version of the next project, just in case.
With next/image(major version 10), only alt

[2021-06-29 13:51] pybuche commented on #14805
@shilman I also still have the problem, even after trying all the solutions above. I'm on 6.3.1 and come from 6.2.5.
- I've tried to add ` @babel/plugin-proposal-private-property-in-object` plugin everywhere (in addons, in babelrc with `loose` mode enabled)
- I've tried to install it as a dev dependency
Nothing worked so far, always the same message

<details>
   <summary>stack trace</summary>

[c

[2021-06-29 14:09] bebraw commented on #15380
I noticed that in your 6.3 update (commit `3fb0f69ddb89a`), `react-docgen-typescript-plugin` was bumped from 0.6.3 to the current one. The difference between these two is that the former doesn't support webpack 5 so most likely it wasn't extracting documentation for you (I didn't test but that's the reason why we did the work on the plugin to add the support).

For a reason I don't understand, whe

[2021-06-29 14:49] IgorSzyporyn opened #15419 "@storybook/types - package for selected types shared across other packages"
**Is your feature request related to a problem? Yes**
Many packages are using each other - and where circular referencing is a problem `any` or at best `Record<string, unknown>` is being used.

This is especially a problem where packages uses the global object to hand over values

This is party covered by the PR #15385 which introduces another package `@storybook/global-root`

`@storybook/global-r

[2021-06-29 14:52] johanvanhelden commented on #15403
I can confirm everything is working flawlessly again, thank you for the quick release @shilman ! ❤️

[2021-06-29 15:06] codylindley commented on #15359
I'm seeing this as well when I moved from 6.2.9 to 6.3.1.

[2021-06-29 15:09] sforehand opened #15420 "Component defaultProps are not displayed in Storybook"
**Describe the bug**
In our React components, we define our component properties using prop-types like this:

`ComponentName.propTypes = { size: PropTypes.oneOf(["small", "medium", "large"])}`

Then, we regularly define defaults for these props immediately following our property types like this:

`ComponentName.defaultProps = {size: "small"}`

However, since our last update from Storybook 6.2.9 to

[2021-06-29 16:02] allangrds opened #15421 "Storybook adds actionHandler function to every function prop"
**Describe the bug**
I have the following component:
[code]

and my `Footer.stories.tsx`:
[code]

The problemn here is: I'm always seeing the 3 buttons, not just the button I prop in the story.

**System**
Environment Info:
  System:
    OS: macOS 11.4
    CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
  Binaries:
    Node: 14.17.1 - ~/.nvm/versions/node/v14.17.1/bin/node
    Yarn: 1.22.10

[2021-06-29 16:42] y-nk commented on #15373
I think the issue and repo at https://github.com/storybookjs/storybook/issues/15416#issue-932614739 could help give a little context/additional information.

[2021-06-29 17:00] eric-burel commented on #15407
As far as I can tell it's just Next doc that is not totally up to date so maybe it shows a non-working example (`<Image src={profilePic} alt="Picture of the author" />` without fill/width/height).
You should trust the error message and define those props accorded. Don't you have the same error in your Next app?

I am going to close because that's most probably just a small documentation issue from

[2021-06-29 17:00] #15407 closed

[2021-06-29 17:01] muster-mark commented on #15316
Thanks for the idea @pilar1357 but this is a multi-dev project.

[2021-06-29 17:14] ktmDeveloper commented on #15250
The following PR fixed it.
https://github.com/storybookjs/storybook/pull/15408
Thanks

[2021-06-29 17:14] #15250 closed

[2021-06-29 17:26] maeriens commented on #15252
I have a very similar experience. _Something_ seems to be overriding `webpack@5` in favour of `webpack@4` and installing that.

We have a UI library which uses storybook and another custom package to build itself.
Our custom package has as dependency `webpack@5`, but storybook has a mix of `webpack@4` and `webpack@5` once you use the `@storybook/manager-webpack5` and `@storybook/builder-webpack5`.

[2021-06-29 17:27] ajbarry commented on #1357
Ah... thank you so much @jonniebigodes ... it does.

[2021-06-29 17:40] irudoy opened #15423 "Incremental build time increased drastically since v6.3"
**Describe the bug**
Incremental build time was increased after updating to v6.3. It was about 4s and becomes about 15s.

**To Reproduce**
TBD

**System**
[code]

**Additional context**
I can't create a reproduction for now, because it's quite tricky. But I'll try to describe the investigation that was done.

First of all, using SpeedMeasureWebpackPlugin was determined, that the culprit is [Docgen

[2021-06-29 17:46] bebraw commented on #15423
Ah, I see now. I missed that check for the new webpack 5 portion. Thanks for bringing this up, I'll add the check there.

[2021-06-29 17:51] irudoy commented on #15423
![image](https://user-images.githubusercontent.com/5372690/123844247-21a7ec00-d956-11eb-9137-0266e2f0e92b.png)

It turned out not so optional 😄

[2021-06-29 17:59] bebraw commented on #15423
Yeah. That said, testing recompilation time is tough.

The problem here is that the checks in code are webpack 4 specific so we'll need to find a way to do the same for webpack 5 to maintain compatibility. I found an easy fix for webpack 4 but webpack 5 is unclear at the moment.

[2021-06-29 18:04] bebraw commented on #15423
It looks like [module.built was removed in webpack 5](https://webpack.js.org/blog/2020-10-10-webpack-5-release/#other-minor-changes) so we cannot use that anymore. If someone knows what replaced it, please let me know.

[2021-06-29 18:08] irudoy commented on #15423
Totally agree. Low-level webpack API have a lack of documentation. And this kind of task always requires deep dive into webpack sources, unfortunately.

[2021-06-29 18:10] TonyHoanTrinh opened #15424 "Dropdown feature for stories (with Code Preview, ArgsTable and Documentation)"
**Is your feature request related to a problem? Please describe**
Currently when you want to have stories you have to export them and they display in the sidebar.
This causes a lot of clutter especially when you have many stories for your component.
I suggest a way of having a dropdown that allows you to select which story you want to view with all the knobs, code preview, documentation and etc wi

[2021-06-29 18:14] irudoy commented on #15423
Maybe @alexander-akait can point out how to do this with webpack 5

[2021-06-29 18:17] alexander-akait commented on #15423
https://github.com/webpack/webpack/pull/7933

:star:

[2021-06-29 18:29] bebraw commented on #15423
Ok, here's a PR to test: https://github.com/hipstersmoothie/react-docgen-typescript-plugin/pull/50 .

[2021-06-29 18:46] robheittman commented on #15404
When I went from from 6.3.0-rc.11 -> 6.3.1, on Chrome specifically (which is what Storybook auto-opens on my machine) I experienced this going to http://localhost:6006/ - but http://localhost:6006/? then worked. Incognito window and other browsers worked without the query string. Hard refresh (cmd-shift-R) on the WSOD page fixed it in Chrome. I imagine something about my site headers allowed the b

[2021-06-29 18:49] hawkticehurst commented on #6569
@jonniebigodes No worries at all! In the scheme of things, I'd say a week is actually a fairly fast response 😉.

But thank you again for checking out the issue and getting back with a descriptive response! I'd be happy to upgrade to 6.3 and get back to you on what the results are. I'm a bit swamped this week, however, so I will likely get back to you sometime next week.

I was also starting to won

[2021-06-29 18:54] irudoy commented on #15423
Confirmed, it works as expected, in case of "un-built modules". Thanks, @bebraw!
Got [this](https://github.com/hipstersmoothie/react-docgen-typescript-plugin/issues/42) issue while testing, and updating `react-docgen-typescript` to v2.0.0 helped.

What do you think about other cases (`module.external`, `module.rawRequest`)? Maybe it should be handled as well for webpack 5?

[2021-06-29 18:58] bebraw commented on #15423
That's a good point.

@alexander-akait Do you know the webpack 5 equivalents for these two? It's probably best I add webpack 5 specific checks for these two to be complete.

[2021-06-29 19:00] alexander-akait commented on #15423
hm, I think they are same for webpack v5

[2021-06-29 19:01] bebraw commented on #15423
Ok, I'll keep the code as it is then. Maybe it's just the `Module` type that's missing these two.

[2021-06-29 19:11] thien-do commented on #14805
@pybuche hi, can you try `yarn why` with the mentioned packages? (@babel/plugin-proposal-class-properties, @babel/plugin-proposal-private-methods and @babel/plugin-proposal-private-property-in-object)

It's to see if there's any duplication in the dependencies.

[2021-06-29 19:15] euaaaio commented on #15403
Yes, I've already updated my code as well. It works.

[2021-06-29 19:19] CWSites commented on #15367
[code]

[2021-06-29 19:37] souporserious commented on #8881
Explicitly setting the tsconfig path is what worked for me:

[code]

[2021-06-29 19:44] armurei commented on #13223
I'm dealing with this issue as well. As @Nakroma said, it is reproducible with the boilerplate stories. From my experience, it seems to be any story that uses the [action argType annotation](https://storybook.js.org/docs/vue/essentials/actions#action-argtype-annotation).

Obviously not a great solution, but it's possible to suppress these errors by mocking out `console.error` for the storyshot tes

[2021-06-29 19:48] GuillaumeAmat opened #15426 "Essentials: 6.3.x breaks the browser HTML inspector usage"
**Describe the bug**

With `@storybook/addon-essentials` v6.3.x (up to v6.3.1 for now), I can't use the native HTML inspector of my browser (reproductible in Firefox and Chrome at least).

Using the contextual menu "inspect" option, or the inspector button at the top left of the dev tools, the result is always the same, it briefly selects the right element and then "goes back" to the `<div id="roo

[2021-06-29 20:49] sawden commented on #4600
Will there be an official solution to run stencil with storybook-web-components without a lot of hacky configuration?

[2021-06-29 21:30] chief10 commented on #15124
Im kind of flabberghasted that they just used a glob pattern for the `jest-preset-angular` dependency. I have no way of knowing which version worked for them.

Unless you already have an old setup of storyshots going with jest-preset-angular, it looks like doing a new setup is next to impossible with the state of the library and documentation.

[2021-06-29 23:37] iamchanii commented on #15252
In my case, I set resolutions field of package.json (fyi: Yarn Berry)
[code]

[2021-06-30 00:14] soulcactus commented on #15407
This is not a documentation issue. It works well on Next app. This is a new feature.

![스크린샷 2021-06-30 오전 9 10 36](https://user-images.githubusercontent.com/44562005/123883135-58482b80-d983-11eb-996d-6e61cde15bca.png)

[2021-06-30 00:31] armordog commented on #7745
It's been a couple of years now.
Is Storyshots deprecated?
Or am I just supposed to avoid using it with anything that has state?

[2021-06-30 02:17] shilman commented on #7745
@armordog we're planning an overhaul of storyshots as part of the 6.x/7.0 cycle

[2021-06-30 02:24] shilman commented on #15407
@soulcactus agreed. this is a nextjs feature, so ideally the nextjs integration for storybook provides this feature somehow. i can imagine a webpack loader/plugin that implements this somehow--not sure how it's implemented inside nextjs

[2021-06-30 02:33] y-nk commented on #15416
( @shilman no offense but it seems like a bug except if it's expected behavior from decorators )

[2021-06-30 02:33] shilman commented on #4600
We've presented a prototype to the Stencil team for how an official integration might work, and are waiting to hear back as they figure out their development priorities for Stencil.

[2021-06-30 02:42] shilman commented on #15416
Yes, it's the expected behavior. @tmeasday can give more detail, but this issue has been done to death in previous discussions.

[2021-06-30 02:47] y-nk opened #15429 "Toolbar decorator remounts component when dismiss"
**Describe the bug**
Story gets unmounted/remounted even **when dismissing** the pick of a choice in the toolbar addon

![Screen Recording 2021-06-30 at 09 43 13 AM](https://user-images.githubusercontent.com/411625/123894236-0524a780-d988-11eb-80fc-e50ea5c82759.gif)

**To Reproduce**

- Create a new storybook instance
- Add the code related to language selection as provided in the docs
- Add a con

[2021-06-30 02:48] shilman commented on #15420
This is the [intended behavior as of 6.3](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#deprecated-argtypedefaultvalue).

@domyen @tmeasday we're getting a lot of confusion about the new behavior. My recommendation, as before, is to use the "set value" button across the board to indicate that no value is set. Or maybe we need to improve the docs? Or maybe this is only an issue fo

[2021-06-30 02:50] tassoevan commented on #15336
It looks like a conflict from the version used by `@storybook/react-docgen-typescript-plugin`. Here's the resolution from yarn that spawned the same error for me:

[code]

[2021-06-30 02:52] shilman commented on #15426
Can you record a screen capture of the problem? I'm not able to reproduce

[2021-06-30 03:08] shilman commented on #15424
Please see the `--docs` flag for something in that direction https://storybook.js.org/docs/react/writing-docs/build-documentation

[2021-06-30 03:11] shilman commented on #15421
Closing as dupe to https://github.com/storybookjs/storybook/issues/15370 which has been fixed in 6.3.1

[2021-06-30 03:11] #15421 closed

[2021-06-30 03:15] shilman commented on #15429
@IgorSzyporyn can you please take a quick look at this one? 🙏

[2021-06-30 03:46] tassoevan commented on #15336
I can confirm @jgoux workaround for yarn-based monorepos. Only installing `webpack@5` at the root workspace did it for me.

[2021-06-30 03:52] tmeasday commented on #15420
I can get behind the "set value" in all undefined cases idea.

[2021-06-30 04:02] tmeasday commented on #15416
This is a slightly different issue to the one discussed before;

We don't make any guarantees about decorators being retained as you move between stories. The mechanism to render a set of decorators and a story creates a series of "decorated story" SFCs that are unique to the story. It's something like this:

[code]

You can see that `decorateStory(decorators, story)` creates a *new* function that

[2021-06-30 06:55] bummzack commented on #15426
Similar behavior here. Whenever I open the inspector and click an element to inspect, the component gets reloaded. Not sure if it's related to my setup, which is using (among others):

- `@storybook/svelte 6.3.1`
- `@storybook/addon-svelte-csf 1.1.0`
- `@storybook/addon-essentials 6.3.1`
- `storybook-builder-vite 0.0.10`

[2021-06-30 07:13] y-nk commented on #15416
Thanks for the explanation @tmeasday it somehow makes sense.

I kinda managed a temporary workaround by storing my sdk instance in a global var outside of the decorator component and reusing the instance on remount based on some criterias ; but it definitely feels like a hack (...but it does work) and has few caveats as well : our sdk has to reinit itself since it disposes itself at unmount (and t

[2021-06-30 07:26] Nazeeh21 commented on #13924
I am getting this error while running the command ```yarn build```  as specified [heer] (https://storybook.js.org/docs/react/contribute/code#start-developing)

![image](https://user-images.githubusercontent.com/56908732/123918982-11b5f980-d9a2-11eb-83ac-ccd84a384778.png)

Error message displays ```MODULE NOT FOUND```in spite of running ```yarn``` in the root directory.
Do I need to install another

[2021-06-30 08:11] wangJacker commented on #13665
The problem remains,use npx sb init

[2021-06-30 08:21] thomasaull commented on #15345
I generally agree, however if the new method is inferior to the old one in terms of functionality I'm not sure if it should be the prefered one. In this comment is described how Storybook should behave in terms of updated values of controls: https://github.com/storybookjs/storybook/issues/13913#issuecomment-782948194 and I currently can't think of a way to do this with vue without relying on props

[2021-06-30 08:32] shilman commented on #15380
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.4.0-alpha.8 containing PR #15431 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-06-30 08:32] #15380 closed

[2021-06-30 08:44] arty-name commented on #14877
Confirmed the issue with storybook@6.3.1

[2021-06-30 08:46] arty-name commented on #15335
Confirmed the issue with storybook@6.3.1

[2021-06-30 08:56] bummzack commented on #15426
Here's a screen-recording:

https://user-images.githubusercontent.com/1006185/123932313-9ba99680-d991-11eb-825f-c2d9df60b95f.mov

In the component there's a `console.log("Navigation component init");` right at the start and you can see that it gets called with almost every interaction with the inspector.

[2021-06-30 09:02] ld210 commented on #15227
We have the same issue here, with Angular 12.1
Downgrading Angular is not option for us, so we had to remove Storybook from our CI until resolution.

[2021-06-30 09:23] mitow7821 opened #15435 "Automatically exposing stories problem"
**Describe the bug**
I have chart story where I want to dynamically get args and file names from other folder and then I create story for each of them. Here is my code:

![image](https://user-images.githubusercontent.com/34492112/123933693-e677de00-d992-11eb-9a82-51f1d8fd675d.png)

When I run storybook localy everything works fine, but while trying to build with chromatic I am getting this message

[2021-06-30 09:43] GuillaumeAmat commented on #15426
Same behavior here, thanks for the screen recording @bummzack :pray:

For the record, I'm on the React Storybook + TS

[2021-06-30 09:49] alexan commented on #14193
this is still a major blocker

[2021-06-30 10:11] edoardocavazza opened #15436 "Ignore private members and methods from Custom Elements Manifest"
**Describe the bug**
The new `setCustomElementsManifest` method correctly loads a Custom Element Manifest and it populates properties in the API table, but it does not filter private members using the `privacy` field in the manifest.

**To Reproduce**
https://github.com/edoardocavazza/custom-elements-manifest-private-members

Run the storybook and open docs page.

**System**

Environment Info:
[co