[2020-01-14 09:33] EdenTurgeman commented on #7743
@shilman
First of all, thank you so much for taking the time to explain the issue thoroughly.
Second, I have narrowed down the issue to disabling the `react-docgen-typescript-loader` plugin. it seems that this plugin is the cause of all my problems right now, and is causing the javascript out of memory issue as well as slowing my build times significantly. while looking into this issue i've disabl

[2020-01-14 10:12] shilman commented on #7743
@EdenTurgeman That's really useful to know. Apparently `react-docgen@5.0` has typescript support built in, so hopefully we can adopt that in the next release (6.0, ETA end of March). I don't know whether it will solve the problem, but it will certainly make the whole system simpler. If you're interested in contributing on that project, I'd love to loop you in. Right now I think @patricklafrance an

[2020-01-14 10:16] shilman commented on #9405
Ta-da!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.3 containing PR #9416 that references this issue. Upgrade today to try it out!

[2020-01-14 10:16] shilman commented on #9407
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.3 containing PR #9417 that references this issue. Upgrade today to try it out!

[2020-01-14 10:16] shilman commented on #9419
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.3 containing PR #9424 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-14 10:16] shilman commented on #9420
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.3 containing PR #9425 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-14 10:16] shilman commented on #9423
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.3 containing PR #9417 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-14 10:16] shilman commented on #9319
w00t!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.3 containing PR #9390 that references this issue. Upgrade today to try it out!

[2020-01-14 10:16] #9419 closed

[2020-01-14 10:16] #9423 closed

[2020-01-14 10:16] #9420 closed

[2020-01-14 10:32] johnhunter commented on #9405
Less than 24h turnaround - fantastic!! 🙌

[2020-01-14 10:54] josias-r opened #9441 "EXTEND_ESLINT=true breaks linting (typescript?)"
I'm working with Storybook and create-react-app and am using the `@storybook/preset-create-react-app` preset.

W/ react-scripts you need to set the environment variable `EXTEND_ESLINT` to true, to have it recognize the .eslintrc config.

...So I added `EXTEND_ESLINT=true` to my `.env` file, but now I'm getting errors from TSX files.
Weird errors like when using the TypeScript `as` keyword I get a

[2020-01-14 11:19] jcousins-ynap commented on #9407
Thanks @shilman for the quick turn around 👍

[2020-01-14 11:26] RWOverdijk commented on #3855
@shilman I'm very excited about this feature 😄

[2020-01-14 12:16] atanasster commented on #7743
@EdenTurgeman - I have published a similar /but lighter / https://github.com/atanasster/webpack-react-docgen-typescript

Can you please try it and see if it solves your issues

[2020-01-14 12:20] uaalah commented on #9078
Hi all!!
@shilman ,  I think I have a problem similar to @dotamir . On the one hand I have the stories in CSF with knobs, and they work well. These stories are linked to an MDX that shows the stories with <Story id = "" />. The question is ... how can I pass the knobs by parameters to these stories? It's possible?
I've been looking for information, but I haven't found it, and I don't know if it ex

[2020-01-14 12:34] uaalah commented on #9078
Sorry, I just found https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/recipes.md#csf-stories-with-mdx-docs and https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/docspage.md#replacing-docspage.
I think the first one will be valid for me.

[2020-01-14 13:01] shilman commented on #9441
@josias-r Can you file this issue on the presets repo?

https://github.com/storybookjs/presets

[2020-01-14 13:01] #9441 closed

[2020-01-14 13:29] josias-r commented on #9441
@shilman  Ofc, but I don't think it's caused by the preset itself 🤔

[2020-01-14 13:36] Amay88 commented on #8530
So the problem still exists. Is there any idea how to fix it or maybe somebody is working on it? It would be nice **not** to disable `noUnusedLocals` in tsconfig file just because of that...

[2020-01-14 13:52] SaadRegal commented on #9162
@mrmckeb
i tried adding babel.rc under .storybook/ didn't work, Here's a demo of the error :

https://gitlab.com/saadregal/mobx-sb-error-demo

[2020-01-14 13:57] patricklafrance commented on #9415
@shilman I understand.

I guess it only happens to the TypeScript users? Since with 5.3 react-docgen is added out of the box.

Could we add the typescript loader to the doc preset by default? Maybe then it will solve it for MOST of the users?

If you don't use presets and have a fully customized webpack setup, I guess you can expect to make a few changes to your config between versions.

[2020-01-14 14:00] ndelangen commented on #3855
Me, @atanasster & @PlayMa256 have been working on the foundation for this for a while. It will take a few more iterations to get right, but I feel very confident we can get is to 100% in 6.0.0 and really revolutionise data & reactivity for storybook.

[2020-01-14 14:31] Adam-Michalski opened #9442 "Unable to configure story for module with RouterLink"
**Describe the bug**
Cannot configure story for module where routerLink is used due to error

ERROR NullInjectorError: StaticInjectorError(DynamicModule)[RouterLinkActive -> Router]

**To Reproduce**
Steps to reproduce the behavior:
https://github.com/Adam-Michalski/theme-demo-app
Run app and you can test that there is no possible solution to add RouterModule to work with story.
It cannot be confi

[2020-01-14 14:42] SuneRadich opened #9443 "Link to brandImage not working"
**Describe the bug**
During upgrade from 5.2.8 to 5.3.3 my brandImage stopped working.

I have a custom theme, using a static assets folder for the image
[code]
Previously I had me theme defined like this:
[code]
After updating to 5.3.3 I've moved my theming to manager.js, like so

[code]

But the logo.svg does not show up when I start storybook using `start-storybook -p 6006 -s ./.storybook/publi

[2020-01-14 15:09] blind76 opened #9444 "Addon Docs subcomponents support for sub element components"
**Is your feature request related to a problem? Please describe.**
I use Component.SubComponent for my components and I want to show prop tables for subcomponents and as far as I can see that is not supported

**Describe the solution you'd like**
I would suggest supporting something like:
`subcomponents: {'Component.SubComponent': Component.SubComponent}`

**Are you able to assist bring the featur

[2020-01-14 15:09] RWOverdijk commented on #3855
Revolutionise? Hot damn diggity. Stop teasing me, my body is ready.

[2020-01-14 15:13] shilman commented on #9444
@blind76 This is already supported, e.g.

https://github.com/storybookjs/storybook/blob/next/examples/official-storybook/stories/addon-docs/subcomponents.stories.js

[2020-01-14 15:19] blind76 commented on #9444
@shilman It is but for exported regular Components and not for sub-components.
In my case that would be something like:
`
import Component from '../Component';

export default {
	component: Component,
	subcomponents: Component.SubComponent
};

export const someStory = () => (
<Component>
     <Component.SubComponent>Content of subcomponent</Component.SubComponent>
</Component>
);
`

[2020-01-14 15:20] kelly-tock opened #9445 "Upgrading @storybook/addon-actions from 5.2.8 to 5.3.2 breaks fetch?"
**Describe the bug**
I upgraded @storybook/addon-actions, and after upgrade, my universal app was having issues calling fetch from node.

[code]

I have isomorhpic fetch@2.2.1, node v11.12.0.

**To Reproduce**
Steps to reproduce the behavior:
This is specific to my project, and not to storybook directly. you would have to have my app installed.

**Expected behavior**
I expect fetch to still work.

[2020-01-14 15:34] elvorad opened #9446 "Cannot load .md files (addon-notes) with preset-create-react-app"
### Summary

When I try to use the addon `notes` with Storybook 5.3.0 or 5.3.3 (with preset-create-react-app 1.5.1), it only shows this error message.

![image](https://user-images.githubusercontent.com/29063703/72357154-c8f57c80-36ea-11ea-9b54-90b4f15b9637.png)

When I remove `@storybook/preset-create-react-app` from `main.js`, the Markdown will show. However, Storybook will protest that the pres

[2020-01-14 16:33] danilovaz commented on #9415
@patricklafrance That happens with my React project and I don't use TypeScript 😢

[2020-01-14 16:34] eddybrando commented on #5880
How did you solve this issue? @vpicone

[2020-01-14 17:13] patricklafrance commented on #9415
@danilovaz that's weird!

How is it possible @shilman ?

[2020-01-14 17:40] JonnyPS opened #9449 "CSS not being imported after update to 5.3.3"
**Describe the bug**
CSS is not loading into Storybook

**To Reproduce**
Set up create-react-app, add storybook to it.
Add a file named test.css to the src/ dir.
Create a .storybook/preview.js file, add the following line:
[code]
**Expected behavior**
The styles from the css file to be applied to the storybook components

**System:**
System:
    OS: macOS Sierra 10.12.6
    CPU: (4) x64 Intel(R) C

[2020-01-14 17:51] lostPixels opened #9450 "Issues with stories and docs rendering when including both HTML and React stories."
**Describe the bug**
On the newest version of Storybook (5.3.3) I am attempting to include both HTML and React stories together. They are successfully registered as stories in the sidebar UI, and I can click on them. Docs also display as a tab. However, the React stories do not show in the **canvas** viewer, instead I get this error: `Expecting an HTML snippet or DOM node from the story: "Lots Of

[2020-01-14 18:14] kelly-tock commented on #9445
just to note, I've also tried updating all to make sure they are on 5.3.3 and it has the same effect.

[2020-01-14 18:19] ach206 commented on #707
I had this error message too.  Apparently, I was missing my import statement in `.storybook/preview.js`. When I added it in, it resolved this entirely.
`import 'storybook-chromatic'; `
[https://www.learnstorybook.com/intro-to-storybook/angular/en/test/](url)
I'm running React not Angular but the link above helped.

[2020-01-14 18:26] hsablonniere commented on #7479
In our case, we cheated and would love an official way to provide a custom source snippet:

* Generate source https://github.com/CleverCloud/clever-components/blob/master/stories/lib/make-story.js#L67-L93
* Override source with `mdxSource` https://github.com/CleverCloud/clever-components/blob/master/stories/lib/make-story.js#L67-L93

Event better would be to be able to customize the source compone

[2020-01-14 18:29] daKmoR commented on #9289
one possible format could be a special `js run` markdown block 👍

[code]

Pros:
- has highlighting (even on github)
- clear separate of a normal module

Cons:
- needs special markdown processing

-------
### output of above code 👇
-------

[code]

# My first story

That is one hell of a preview :+1:

<docs-story name="Provide own light dom">

[code]
</docs-story>

[2020-01-14 18:47] danilovaz commented on #9415
@patricklafrance really weird! 😞 before `5.3` it's works, but after upgrade, stopped works

An example of my proptypes

[code]

[2020-01-14 18:51] kelly-tock commented on #9445
ended up reverting all back to 5.2.8 for now. my guess is something to do with the latest actions addon adding axios as a dependency?

[2020-01-14 19:08] kikorb commented on #8928
Hi bot! I am still interested in a solution.

[2020-01-14 19:10] kikorb commented on #8928
I understand this is a concern but shouldn't the popable content have a higher z-index than the entire next component? Wouldn't you run on the same issue in your application?

I would prefer for the preview overflown content to be visible than hidden, at least we would be able to fix the issue you are pointing out on a per-page basis.

[2020-01-14 19:52] BPScott commented on #9289
The metadata at the top - imports and the `export default` config could be solved with yaml frontmatter, and the story name could be attached as part of the meta of the component block. That would remove the need for any special markdown parsing. You'd need to read front-matter and extract the contents of the fenced code blocks whose meta begins with `story:` and convert them into a story but that

[2020-01-14 20:00] brianbento commented on #9384
+1

[2020-01-14 20:08] brianbento commented on #9415
@danilovaz Do you have a custom babel config? I'm having similar issue and noticed that if I axed my custom babel config the props table started working again. Problem then is that I can't build storybook. I can only run it locally.

[2020-01-14 20:27] pksunkara commented on #8109
@Aaron-Pool I like this, What do you think? I saw that you used something like this in https://github.com/Aaron-Pool/Vue-Cli-Storybook-Docs/blob/master/src/stories/index.stories.js#L9

[2020-01-14 20:36] robfentress opened #9451 "make shortcut button and submenu accessible (#7833 reopened)"
Issue [#7833](https://github.com/storybookjs/storybook/issues/7833) is still a bug (it is not really a feature request, since it presents a real barrier for some people).  See the [Web Content Accessibility Guidelines Success Criteria 2.1.1 Keyboard](https://www.w3.org/WAI/WCAG21/quickref/#keyboard) for details on why the current implementation is problematic, if you are unsure.  I would like to b

[2020-01-14 21:21] CrashyBang opened #9452 "Unable to pass the vuex store to a story synchronously with a decorator"
**Describe the bug**
I want to add a [Vuex](https://vuex.vuejs.org/) store to a story after the store has loaded, it is initialized by an external script that I am loading in via `preview-head.html`.

This issue was discussed at length in [#6726](https://github.com/storybookjs/storybook/issues/6726) and I closed that at the time because it moved outside of the scope of the original question, I hav

[2020-01-14 21:37] sw-yx commented on #8626
also reporting this issue but i dont have the storybook being stuck problem. the preset just doesnt work with mdx for me. hmm.

[2020-01-14 21:58] aareman commented on #9414
As an update the code/pre classes in bootstrap 3/4 both are part of this in addition to gentellela.

[2020-01-14 22:32] LarsDenBakker commented on #9289
Id like to avoid creating too much meta syntax, and extra "things to learn".

Using frontmatter for things like title can be interesting, but putting code in there I think is not a good idea.

Im not certain either about custom syntax in the margins of the fenced codeblocks. I dont think there any real standard syntax there, so we dont know what conflicts it might cause. The markdown parsers ive t

[2020-01-14 22:53] RuneKR commented on #9343
Hi. The solution does not work on a MacBook. Regex fails for absolute paths such as /User/Rune/some/nested/@at/here/register.js

[2020-01-14 23:07] tmeasday commented on #9421
@shilman it looks like it is treating a file that ends in `/register.js` as a preset?

[2020-01-14 23:13] chuckmasucci commented on #6663
@Znegl Can you show an example of your story and component that is working? I am in the same predicament where I see the example and code but no props or methods.

[2020-01-14 23:49] chris-pearce commented on #9396
I'm experiencing this issue with both `webpack` and `webpackFinal` property names.

[2020-01-14 23:58] jonniebigodes commented on #9421
@tmeasday yes..yes i am...i'm running windows 10. Also to add a bit more context it seems that using the naming scheme provided in the documentation will yeld the same result.

[2020-01-15 00:58] shilman commented on #9421
@tmeasday @jonnibigodes I think the parsing code has a problem with relative paths. Open PR here, which I'll get merged/released today: https://github.com/storybookjs/storybook/pull/9454

[2020-01-15 01:11] shilman commented on #8626
@sw-yx do you have a repro i can look at? if it helps, i put together a short walkthrough of setting up Typescript / CSF / MDX in one go:

https://gist.github.com/shilman/bc9cbedb2a7efb5ec6710337cbd20c0c

[2020-01-15 01:13] shilman commented on #9451
@robfentress Any interest in giving this a shot? PR's very welcome!

[2020-01-15 01:24] shilman commented on #9445
@kelly-tock AFAIK actions does not use axios. I recommend you try upgrading all your SB packages to 5.3.3, and in general keep them on the same version.

[2020-01-15 01:26] shilman commented on #7479
@hsablonniere you might be able to hack in your own component today:

https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/theming.md#mdx-component-overrides

We should also provide better source snippetization in 6.0 (knock wood)

[2020-01-15 01:29] shilman commented on #9450
This just isn't supported by Storybook at the moment, but hopefully we'll get proper simultaneous multi-framework support this year. Closing this as a dupe to https://github.com/storybookjs/storybook/issues/3889

[2020-01-15 01:29] #9450 closed

[2020-01-15 01:39] pksunkara commented on #8685
@shilman Should you close https://github.com/storybookjs/storybook/issues/8109 because they look the same?

[2020-01-15 01:43] kelly-tock commented on #9445
I did that and still same result. It was chromatic(sp? On my phone) that included axios which is included from actions I think?

[2020-01-15 01:48] sw-yx commented on #8626
no, sorry i just tried converting the netlify codebase to use storybook 5.3 with mdx stories and the mdx part didnt work at all. felt like the preset wasn't working, but had no way to check.

[2020-01-15 02:45] lostPixels commented on #9450
Hmm, this road map item led me to believe that having multiple frameworks in a storybook was possible.

https://storybook.canny.io/roadmap/p/add-ability-to-run-multiple-frameworks-in-1-storybook

[2020-01-15 02:48] shilman commented on #9445
@kelly-tock chromatic does include axios, but it's a `devDependency` so it shouldn't affect your project at all. do you have a repro i can look at?

[2020-01-15 02:53] shilman commented on #9450
Didn't happen. Believe me, once it's possible we'll let everybody know very loudly. 😂 We'll try to be better about not giving specific timeframes for features we're not equipped to deliver. cc @ndelangen

That said, I've heard of people successfully rendering HTML stories inside `@storybook/react`, so you might search around for instances of that. It's just not officially supported right now.

[2020-01-15 02:56] shilman commented on #8626
@sw-yx i've also seen an increase yarn issues that get resolved by clearing node_modules and reinstalling. 😭 i assume you've already tried that.

happy to help you debug your preset. can you paste that part of your config here?

[2020-01-15 02:59] shilman commented on #8685
@pksunkara good call. closing this issue instead as dupe to #8109, since that one already has upvotes.

[2020-01-15 02:59] #8685 closed

[2020-01-15 03:03] shilman commented on #9441
@josias-r TBH i'm not exactly sure what's going on. But I'd like to consolidate CRA-related issues around that preset package as much as possible.

[2020-01-15 03:58] sw-yx commented on #8626
am traveling now but will do when i get back. maybe one actionable item is to log out in console or somewhere in the ui what presets and addons have been registered (at the global level since it doesnt make sense to log out every little thing). found myself wishing for more visibility as i tried to reason out where things were going wrong.

[2020-01-15 04:33] tommyc38 commented on #9103
I followed the docs as well and couldn't get it to work.  Please help.

[2020-01-15 05:45] chris-pearce commented on #9396
I just managed to get it working, here's my config:

[code]

`webpack` property doesn't work.

Another issue I'm now facing (on `5.3.2`) is `react-docgen` doesn't work at all, i.e., no component description or prop types coming through.

[2020-01-15 06:54] kalinchernev opened #9455 "How to render stories to individual HTML files?"
## Versions

- `@storybook/addon-a11y`: 5.2.8,
- `@storybook/addon-cssresources`: 5.2.8,
- `@storybook/addon-knobs`: 5.2.8,
- `@storybook/addon-options`: 5.2.8,
- `@storybook/addon-viewport`: 5.2.8,
- `@storybook/addons`: 5.2.8,
- `@storybook/react`: 5.2.8,
- `@storybook/theming`: 5.2.8,

Hello, I'm looking for a way to provide rendered HTML files for each story defined withing a project.

The cur

[2020-01-15 06:59] shilman commented on #9103
In the attached ZIP file, it uses `.storybook/preset.js`, which is wrong. The file should be called `.storybook/presets.js`. Or, if you're using the new [declarative configuration](https://medium.com/storybookjs/declarative-storybook-configuration-49912f77b78), `.storybook/main.js`.

[2020-01-15 07:00] bodograumann commented on #6663
@chuckmasucci, have a look here https://github.com/Aaron-Pool/Vue-Cli-Storybook-Docs. Maybe that helps you. @Aaron-Pool posted this in https://github.com/storybookjs/vue-cli-plugin-storybook/issues/73.

[2020-01-15 07:50] ZhihaoLau commented on #9394
same here, boolean defaultProps disappear after upgrade to 5.3.x

[2020-01-15 08:07] mnpenner commented on #8835
Could we make this error message a little better? I just hit this one too and it was super confusing.

Also a warning about missing a default export in a `.stories.tsx` file would nice for us newcomers.

[2020-01-15 08:10] Pain-and-Love opened #9457 "bug in CSF export default"
**Describe the bug**
i cant see the Components in the Storybook SideBar

**To Reproduce**
Steps to reproduce the behavior:
just create a file named by X.stories.tsx; then import other Comps

**Expected behavior**
if i remove the line 6; then i can see nothing about these Comps in the Storybook SideBar

**Screenshots**
![image](https://user-images.githubusercontent.com/9690422/72415923-8ac29080-37b

[2020-01-15 09:02] bendobos opened #9458 ""Support for the experimental syntax 'dynamicImport' isn't currently enabled" after upgrading addon-docs from 5.2.8 to 5.3.3"
**Describe the bug**
After upgrading `addon-docs` from 5.2.8 to the newest 5.3.3, I get the following error when starting storybook:
[code]

I have created a `.babelrc` in the `.storybook` folder with the following contents:
[code]
and obviously installed the plugin: `npm install --save-dev @babel/plugin-syntax-dynamic-import`.
This does not change the error message above.

I also upgraded all oth

[2020-01-15 09:48] bendobos commented on #9458
I just noticed that the plugin needs to be applied to `babel-loader` like so:
[code]

If you do it that way, the error is gone :).

[2020-01-15 11:01] shilman commented on #9449
@JonnyPS did you figure it out? what was it?

[2020-01-15 11:07] shilman commented on #9457
@Pain-and-Love are you sure it works in 5.2.8? Can you double check? I would't expect it to work (it shouldn't work). The sidebar shows _stories_ and when there are no stories, there shouldn't be anything to show. The `default.title` simply shows where to show those stories.

I think this is a reasonable feature request, but it would be tricky in the current architecture. Let's see what other peop

[2020-01-15 11:10] eriktoyra commented on #9449
@JonnyPS: I tried to reproduce the problem with my Storybook running 5.3.3 but for me it's working fine. The CSS file is imported and the CSS is applied to the preview as expected.

Compare your setup with mine below.

### System
**OS:** macOS Mojave 10.14.6
**Binaries:** Node 12.11.1

### NPM
[code]

[2020-01-15 11:11] eriktoyra commented on #9449
@JonnyPS: I tried to reproduce the problem with my Storybook running 5.3.3 but for me it's working fine. The CSS file is imported and the CSS is applied to the preview as expected.

Compare your setup with mine below.

### System
**OS:** macOS Mojave 10.14.6
**Binaries:** Node 12.11.1

### NPM
[code]

[2020-01-15 11:20] JonnyPS opened #9460 "SCSS not being compiled 5.3.3"
**Describe the bug**
I include scss files in ```preview.js``` file but it throws an error when running ```storybook yarn```.
The error states: ```ModuleParseError: Module parse failed: Unexpected character '@' (1:0)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders```

I am using ```"@s

[2020-01-15 11:30] #8524 closed

[2020-01-15 11:31] JonnyPS commented on #9449
Hello @shilman - sorry for the trouble, no bug, I just didn't have my styles setup correctly it would appear. However, I am having trouble with importing scss which i have opened a new ticket for - I have followed the docs but it doesn't seem to run the loaders.

[2020-01-15 11:31] #9449 closed

[2020-01-15 11:31] eriktoyra commented on #9446
I had the exact same issue yesterday and couldn't find a solution. I ultimately switched to using `@storybook/addon-docs` instead of `@storybook/addon-notes` to document my stories in MDX.

[2020-01-15 11:33] ahmetcaglayan opened #9461 "5.3.3v forwardRef props table problem"
forwardRef or React.forwardRef using props table description show problem

**FIRST CASE**

![B4079D49-56CD-4735-8D8E-4220E293BCB8](https://user-images.githubusercontent.com/13018803/72430559-c2770b80-37a3-11ea-8fa6-ce82c1a98583.jpeg)
![55E6134C-04BC-4D6E-8A9A-7DE4208DCE64_4_5005_c](https://user-images.githubusercontent.com/13018803/72430561-c2770b80-37a3-11ea-93b2-1f1b3ae98e13.jpeg)

**SECOND CASE

[2020-01-15 12:00] johnhunter commented on #4995
We also need to override the manager webpack config so we can enforce a maximum chunk size.

Seems like there has been some changes with preset config since this thread started. The solution that worked for SB 5.x.x. was to use a `.storybook/main.js` config as documented here:
https://storybook.js.org/docs/presets/writing-presets/#advanced-configuration

_Background: since upgrading to SB 5.3.1 we

[2020-01-15 12:16] SQReder commented on #8386
It seems to does not work in 5.2.8

[2020-01-15 12:31] vinceumo opened #9462 "5.3.x Failed to build the preview with sass"
Hi,

I have some issue with the latest version of Storybook 5.3.x, I'm upgrading from 5.2.8 to 5.3.3 (Same issue on 5.3.1).

**Describe the bug**

If I run `yarn run storybook` I get no issue Storybook start.

When I run `yarn run build-storybook` I get the following error:

[code]

<details>
<summary>Full error</summary>

[code]

</details>

The error seems related to this one https://github.com/

[2020-01-15 12:31] Pain-and-Love commented on #9457
i try it with  5.2.8.
it works fine...
![image](https://user-images.githubusercontent.com/9690422/72434174-ea7f6280-37d5-11ea-8283-9029f6a99aaa.png)

![image](https://user-images.githubusercontent.com/9690422/72434227-0a168b00-37d6-11ea-925f-e6e2d13ee529.png)

[2020-01-15 12:35] cloakedninjas opened #9463 "TS1086: An accessor cannot be declared in an ambient context"
**Describe the bug**
Upgraded to 5.3.3 just now and our Angular build is failing with the following:

[code]

From a quick google, it appears other repos are facing the same issue due to the use of TypeScript 3.7.0 - but Angular is restricted to <3.5.0

**Similar errors**
https://github.com/nestjs/nest/issues/3513
https://github.com/googleapis/node-gtoken/issues/244

I believe the breaking change

[2020-01-15 12:38] Pain-and-Love commented on #9457
i hope this way could work fine in 5.3.3。
so i can avoid to repeating the code  ```export default { title: 'XXX'}```

[2020-01-15 13:12] shilman commented on #9457
@Pain-and-Love you are exporting named constants above `SOverview` `SBaseInfo` `SSingleLiveTable`. That doesn't work in 5.3?

[2020-01-15 13:14] shilman commented on #9462
@vinceumo @ndelangen Any idea what's going on here? Is it due to an upgrade to `mini-css-extract-plugin` between 5.2 and 5.3?

[2020-01-15 13:16] shilman commented on #8386
@SQReder that's because it's not in 5.2.8. It's in 5.3.x.

[2020-01-15 13:17] SQReder commented on #8386
Oh, well, my bad! I'll check it out ASAP 😖

[2020-01-15 13:18] shilman commented on #4995
@johnhunter you should be able to do this by filling in `managerWebpack` in `main.js`. Have you tried that?

[2020-01-15 13:19] shilman commented on #9461
`Addon-info` is being superceded by `addon-docs`, which fixes a bunch of bugs and is easier to maintain. Please give it a try! https://medium.com/storybookjs/storybook-docspage-e185bc3622bf

[2020-01-15 13:21] shilman commented on #9446
`Addon-notes` is being superceded by `addon-docs`, which fixes a bunch of bugs and is easier to maintain. Please give it a try! https://medium.com/storybookjs/storybook-docspage-e185bc3622bf

[2020-01-15 13:25] shilman commented on #9460
Yes, AFAIK the two presets are NOT compatible. Does the SCSS work in your CRA app without storybook? If so, I would also expect it to work in Storybook. cc @mrmckeb

[2020-01-15 13:35] shilman commented on #8835
Good idea @mnpenner - any interest in trying to fix this?

[2020-01-15 13:38] brionmario commented on #9285
Any update on this, I'm getting the same exact error with 5.3.3.

[2020-01-15 13:40] shilman commented on #9444
@blind76 this doesn't work?

[code]

[2020-01-15 13:48] andrewpeterprifer commented on #8658
@shilman considering it seems like there were quite some changes to the preferred way of configuring Storybook (moving to main.js and presets), will there be a migration guide from 5.2 to 5.3? Currently I can't find any.

[2020-01-15 13:50] johnhunter commented on #4995
All good thanks!

**main.js**
[code]

[2020-01-15 13:57] robcaldecottvelo commented on #9446
We have a lot of `addon-notes` docs and migrating these to MDX/Docs is no mean feat. It would be great to get support for `addon-notes` in 5.3 to give us time to migrate.

[2020-01-15 14:19] sami616 opened #9464 "Prop table defaults does not pick up boolean values in typescript"
Hi, when using typescript and setting default values when destructuring props boolean values seem to be ignored, eg:

[code]

The proptable for the above renders as expected only its missing the value  'false' in the default column. As far as i can see this is working correctly with other types, eg - strings, objects, functions etc.

[2020-01-15 14:22] Pain-and-Love commented on #9457
yeah. some code.  expect that the line 6。
in the version 5.2.8 。without line 6 , the storybook SideBar shows the Comps i want。
but in the version 5.3.3。if i comment the  line 6, the  storybook SideBar don't show the Comps i want,  when i add the line 6。 it works。

[2020-01-15 14:24] sami616 opened #9465 "Prop table does not render when a Type is used"
`Interface`'s work as expected, however when declaring prop as a `Type` storybook isn't able to render a prop table.

ie:

👍🏼
[code]

<hr/>

👎🏼
[code]

[2020-01-15 14:33] jhackett1 opened #9466 "Not working in a UI library that makes use of styled-components"
**Describe the bug**

I'm building a library of React components that also makes use of `styled-components` for styling.

Storybook of course needs `styled-components` to be installed to work.

However, when I `npm link` my library and install it in an example app I'm building, the app throws an error due to multiple versions of `styled-components` loading.

I'm using `rollup` to package up my lib

[2020-01-15 14:34] sami616 opened #9467 "Imported interfaces not displaying in Prop tables"
When extending an interface with another imported from another file, the prop table doesn't render any of the imported properties. I assume this would also apply when using the `Type`'s too.

eg:

[code]

☝🏼Prop table only outputs the disabled prop (ignores `bar`)

[2020-01-15 14:36] JonnyPS commented on #9460
@shilman - I have followed these steps and run the program as a CRA project without Storybook and it compiles the scss correctly:

1. remove any storybook associated dev dependencies from package.json
2. delete yarn.lock & node_modules
3. run ```yarn install```
3. change scripts obj to standard CRA scripts
4. change App.css to App.scss & change any imports to the scss file extension
4. run ```yarn

[2020-01-15 14:41] Znegl commented on #6663
@chuckmasucci Sadly not, since it's a closed source corporate project on a local git server.
Did the links from @bodograumann help you? If not, I might be able to take some time look at it.

[2020-01-15 14:44] hsablonniere commented on #7479
@shilman I think I already tried those, does it laso work for DocsPage generated from CSF files?

[2020-01-15 14:45] cloakedninjas commented on #6490
This is now resolved as of `5.3.3`

[2020-01-15 14:46] kelly-tock commented on #9445
I’ll try and put one together. With just upgrading actions I can clearly see a axios being added via yarn.lock. I think his may be related to node fetch versions from isomorphic fetch and something in the dependencies with this. 5.2.8 works perfectly fine, so something has changed.

[2020-01-15 14:50] cloakedninjas commented on #9463
I had a stab at doing the upgrade but got lost in the package structure 😅 - The end result (after dist files are generated) should make `@storybook/channels/dist/index.d.ts:25` go

**From**
[code]
**To**
[code]

[2020-01-15 15:12] grgur commented on #9282
I was thinking something like this could help

[code]
Followed with
[code]

The only thing is that this might not work great in SSR so there's extra attention needed for SSR to work

[2020-01-15 15:14] elvorad commented on #9446
I agree with @robcaldecottvelo. I know about `addon-docs`, but we did not yet have time to migrate all the stories yet. I guess we should though. Is `addon-notes` already deprecated and no longer maintained?

[2020-01-15 15:26] pksunkara commented on #8096
So, I worked on this yesterday and debugged the following.

In default Vue App serving storybook with the following in `main.js`

### Default

[code]

results in the following error while viewing docs

[code]

will give the following webpack config

[code]

### With Options

[code]

works perfectly showing the docs with the following webpack config

[code]

/cc @shilman @Aaron-Pool

[2020-01-15 15:31] pribilinskiy commented on #9443
A temporary solution until it's fixed:
[code]

[2020-01-15 15:45] AlekseyPn opened #9468 "Storybook docs description for primary slot"
Hi, i need help.
How i can write description for primary slot with vue story, and how i can describe props or events, i have not found how i can do it.
And i have not found describes for parameters.docs api. I lost many hours in tried find describes((

[2020-01-15 15:48] shilman commented on #9457
Can you share a reproduction repo?

[2020-01-15 15:52] m0t0r commented on #8658
@andrewpeterprifer you can find the Migration Guide [here](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#from-version-52x-to-53x).

[2020-01-15 15:55] hcz opened #9469 "Group of knobs fails storybook"
I've created an example repo for this bug
Code: https://github.com/hcz/sb-bug
Storybook: https://hcz.github.io/sb-bug/storybook-static/

Addon Knobs fails the page, when:
- two knobs use the same source for options, [link to code](https://github.com/hcz/sb-bug/blob/master/examples/index.examples.tsx#L29)
- knobs have a groupname contains a dot, [link to code](https://github.com/hcz/sb-bug/blob/mas

[2020-01-15 15:58] shilman commented on #9446
PR's are very welcome for `addon-notes`! I'll be happy to review, merge, and release them in a timely manner 👍

[2020-01-15 16:01] shilman commented on #9468
Use JSDoc, like this: https://github.com/storybookjs/storybook/blob/next/examples/vue-kitchen-sink/src/stories/components/InfoButton.vue

[2020-01-15 16:03] shilman commented on #6490
awesome! closing!

[2020-01-15 16:03] #6490 closed

[2020-01-15 16:04] shilman commented on #7479
@hsablonniere Aha unfortunately not. We'll do our best to get you a good solution in the next release cycle.

[2020-01-15 16:06] shilman commented on #9460
Ok, I think it might be a bug in the Storybook CRA preset. @mrmckeb any ideas?

[2020-01-15 16:16] gregoryBernard commented on #8542
I have same issue.

Package just need to be released https://github.com/CharlesMangwa/react-native-simple-markdown/blob/next/package.json#L22

[2020-01-15 16:17] shilman commented on #8658
@andrewpeterprifer We do migration notes for every release like @m0t0r linked to. All of the changes in 5.3 really just test balloons for the next release, which is 6.0. We'll work out the kinks, make breaking changes if we need to, deprecate the old versions, and release a more structured guide like we did for 5.0 and 4.0 before it.

As for globs, I can't speak to that decision, except that it se

[2020-01-15 16:19] shilman commented on #9464
Closing as dupe to #9394

[2020-01-15 16:19] #9464 closed

[2020-01-15 16:44] SQReder commented on #7440
It is still not clear why I should specify the `component` field when exporting by default to CSF. In fact, the default export format does not have a clear specification, at all.

TypeScript definitions might provide specification, but AFAIK they don't. (#7677)

[2020-01-15 16:47] davidgolden opened #9470 "Unexpected Token Import Running Jest with Storyshots, Docs, and MDX"
**Describe the bug**
When running jest with `.stories.mdx` files in storybook@5.3 and @storybook/addon-storyshots, returns error

[code]

I've looked through many other open issues that are related, but haven't found anyone reporting this specific error (and other's solutions have not resolved it for me).

**To Reproduce**
Steps to reproduce the behavior:
I've created a minimum reproducible exampl

[2020-01-15 17:09] jonniebigodes commented on #9421
@shilman thanks for the speedy fix. I'll be on the lookout and check this pr and when i'ts merged bump Storybook version to check it out.

[2020-01-15 17:23] JonnyPS commented on #9460
I have created a repro is that helps at all: https://github.com/JonnyPS/repro-repo

[2020-01-15 17:50] mikeriley131 opened #9471 ""Please wait while the accessibility scan is running ..." never completes"
**Describe the bug**
A clear and concise description of what the bug is.

I've set everything up as shown in the README, and I see the Accessibility tab in Storybook now, however it's been showing "Please wait while the accessibility scan is running ..." for almost two hours now for all stories. Is this expected or did I miss something?

**Expected behavior**
I would expect the scan to take no mor

[2020-01-15 18:02] benmvp commented on #8104
Just upgraded to `5.3.3` and verified the code shows for me

[2020-01-15 18:08] costalvaro commented on #7318
Ping. Still happening on v.5.3.3. :)

[2020-01-15 18:15] poblouin opened #9472 "Addons / Knobs - When type is Number using the number knob, throws an error on delete and field is null"
**Describe the bug**
You have a knob, the prop type is Number and the default is number('something', 0). If the user deletes the 0 (or all digits in the field), an error is thrown in the console because the value cannot be null

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set a prop using a knob in a story
[code]
2. Use it in the template
3. Run the Storybook
4. Navigate to the st

[2020-01-15 18:19] michaelmior commented on #9462
I'm seeing the same thing. Downgrading to `mini-css-extract-plugin` 0.7.0 fixes it for me.

[2020-01-15 18:27] michaelmior commented on #9462
Things also seem fine with `mini-css-extract-plugin`, but I haven't looked closely so this may have already been fixed upstream.

[2020-01-15 18:27] davidgolden commented on #9470
I was able to resolve this issue by adding this to my `jest.config.js`:
[code]

I believe this is a bug in `storybook/lib/components/src/syntaxhighlighter/syntaxhighlighter.tsx` as it is importing the `esm` version of `react-syntax-highlighter` rather than the `cjs` version, and according to Babel:

If this is indeed a bug I'd be happy to open up a PR to fix it.

[2020-01-15 19:33] patdryburgh commented on #9470
I also experienced this exact issue and error while running `stories.tsx` and _not_ `stories.mdx` files when upgrading from 5.2.8 to 5.3.3. The [jest configuration](https://github.com/storybookjs/storybook/issues/9470#issuecomment-574790318) @davidgolden suggested worked to remove the error, but definitely seems to be a band-aid until a proper fix is released.

[2020-01-15 19:57] mediafreakch commented on #7593
Here is how I got `vuetify-loader` to at least partially auto-import vuetify components.

`storybook@5.3.3`
`vuetify-loader@1.4.3`
`vuetify@2.2.4`
`vue-cli-plugin-storybook@1.1.0`

[code]

Now if I use `<v-btn>` for example within a component that I import into a story, `VBtn` is automatically imported and registered by `vuetify-loader`. No warnings in the console and button looks fine visually.

[2020-01-15 20:00] SMOHA786 opened #9473 "Blocker | build-storybook failing in Jenkins - v5.3.3"
From past few days prod storybook builds are failing in Jenkins env only. I can't share the project repo nor I can create a test repo. Below are the error log, please help us with the solution. Tried all the possible ways, but none helped. Currently this is a blocker for us.

[code]

[2020-01-15 20:00] pksunkara commented on #7593
Yes, it is how storybook requires stories and how it interacts with Vue

[2020-01-15 20:07] chrisabrams commented on #9311
5.3 introduced major changes even though it was a minor version release so not really sure what y'alls definition of major is.

[2020-01-15 20:11] Tibblist opened #9474 "Problem with docgen description/props when exporting arrow function"
**Describe the bug**
When you export a component using either export or export default const xyz = props => {} the docgen doesn't grab the description from above it in comments nor does it read any propTypes you attach to it.

**To Reproduce**
TestBadge.js
[code]
TestBadge.stories.js
[code]

**Expected behavior**
Docgen will generate with a description below the title and show the label proptype i

[2020-01-15 20:22] thekevinscott opened #9475 "Storybook-addon-queryparams fails to render"
**Describe the bug**
Attempting to include the [decorator `storybook-addon-queryparams`](https://github.com/storybookjs/storybook/tree/master/addons/queryparams) fails to render.

**To Reproduce**
1. [Clone example repo here](https://github.com/thekevinscott/test-storybook-addon-queryparams)
2. `yarn && yarn storybook`
3. Navigate to `localhost:6006`
4. Observe the following error:

[code]

**Expe

[2020-01-15 20:28] rijkvanzanten opened #9476 "Show template value in Preview component"
Hi there! I'm really excited about Storybook Docs. Great work 😄

**Is your feature request related to a problem? Please describe.**
When using MDX stories with Vue, you have to put the components and template in an object like structure in the `<Story>` component as follows:

[code]

The `<Preview>` component has a very handy Show Source button, however, when used with Vue (as demoed above) it wil

[2020-01-15 20:52] blind76 commented on #9444
@shilman no it's not.
I get the tabs and subcomponents have correct tab titles but the primary component has title "Undefined".

Primary component (tab Undefined) has correct props table but other tabs just say "No props found for this component"

[2020-01-15 21:21] benmvp opened #9477 "Stories appearing in reverse order in v5.3.3"
**Describe the bug**
I upgraded from 5.3.2 to 5.3.3 today and my stories were displaying in reverse order than how they are exported (using CSF).

**To Reproduce**
1. Write stories using CSF
2. Observe that in the nav pane on the left they are in reverse order, including subcategories

**Expected behavior**
I would expect that the stories would be in the order that they were exported in, which is

[2020-01-15 21:38] pksunkara commented on #6663
I have released https://github.com/storybookjs/vue-cli-plugin-storybook 1.2.0 which should get DocsPage working for Vue (with and w/o typescript)

[2020-01-15 21:44] third opened #9478 "Writing Stories Documentation Typo"
**Describe the bug**
Writing Stories documentation says

"Storybook will prioritize the componentId over the title for ID generation"

I tried using `componentId` and did not work. I looked at the code and saw it uses `id` instead of `componentId`. One way to fix this is to update the documentation. The other option is to update the code. I can do either one of the option if need be.

https://stor

[2020-01-15 22:15] benmvp commented on #9477
I think the problem has to do with [this line in `story_store.ts`](https://github.com/storybookjs/storybook/blob/31365c1534f7fb9d543d115a40c8951596e916ea/lib/client-api/src/story_store.ts#L146):

[code]

I'm not entirely sure what it does, but it seems to sort the stories by their category, but amongst themselves. This process must inadvertently reverse the original order of the stories themselves

[2020-01-15 22:16] benmvp commented on #9419
@shilman I think this _may_ have caused the bug I've mentioned in #9477. I left some details there...

[2020-01-15 22:20] aareman opened #9479 "docgen broken in 5.3.3"
**Describe the bug**
I just went through the migration guide from 5.2xxxxrcsomething to 5.3.3

 I think its related to #9415

Now the prop tables are not being populated (or loaded, not __docgenInfo on conponents)

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/10500823/72475408-d2e5b100-37b8-11ea-98d0-5941c74ab8cd.pn

[2020-01-15 22:48] tmeasday commented on #9477
Thanks for the issue @benmvp, can you just clarify with a screenshot -- is it the stories are the wrong order within a kind? Or are the kinds in the wrong order? Or both?

[2020-01-15 23:00] robfentress commented on #9451
Oh no, I was afraid you were gonna say that!  :-)

I'd love to, but, realistically, I don't see it happening anytime soon.  When I get a free minute, I'll look at the code to see how hard it would be.

[2020-01-15 23:06] robfentress commented on #9451
Hey, @mikesir87.  Any interest in taking this on?

[2020-01-15 23:16] astorije opened #9480 "Impossible to use the Notes addon as a panel"
**Describe the bug**

Using the new configuration format, it is not possible to use the "Notes" addon as a panel anymore.

**To Reproduce**

Here is our `main.js`, as documented [here](https://github.com/storybookjs/storybook/tree/master/addons/notes#getting-started):

[code]

When starting up Storybook with `start-storybook --config-dir storybook --port 9001 --static-dir .`, we get the following

[2020-01-15 23:21] blacklight66 commented on #8626
Just had the same issue, was working yesterday and won't build today with no file changes.

[2020-01-16 00:08] chris-pearce commented on #9477
I'm experiencing this also after updating to `5.3.3`. Seems it's now alphabetical? Here's the order I see now:

<img width="211" alt="Screen Shot 2020-01-16 at 11 08 35" src="https://user-images.githubusercontent.com/1342772/72482041-6e763080-3850-11ea-8334-a45162874044.png">

Before `5.3.3`, "Default" was first.

[2020-01-16 00:14] shilman commented on #9311
@chrisabrams which major changes?

[2020-01-16 00:23] shilman commented on #9478
You're right, that was a typo in the docs. Fixed & deploying now!

[2020-01-16 00:23] #9478 closed

[2020-01-16 00:27] shilman commented on #9444
Ah, add a `default.title` to the previous example to get a tab title for the main component. You need that anyway in CSF.

As for the prop support for subcomponents, can you share the source of `Component` + `Component.SubComponent`?

[2020-01-16 00:33] chrisabrams commented on #9311
We used to be able to provide addons as a function that returns an array; starting in 5.3 addons only supports an array it does not check to see if there is a function anymore. This broke all of our storybook setups (we have 100s setup this way).

[2020-01-16 00:45] shilman commented on #9471
Did you set the `withA11y` decorator`?

[2020-01-16 00:45] shilman commented on #8104
🎉 closing this! 🎉

[2020-01-16 00:45] #8104 closed

[2020-01-16 00:50] shilman commented on #9470
@davidgolden I think there's a change for the ESM => CJS fix here: https://github.com/storybookjs/storybook/pull/9292

[2020-01-16 00:56] shilman commented on #9474
`babel-plugin-react-docgen` is probably not being run on your components, so it's a configuration issue. Are you overriding your babel settings?

[2020-01-16 00:59] shilman commented on #9476
Totally agree @rijkvanzanten! Closing this as a dupe to #7729

[2020-01-16 00:59] #9476 closed

[2020-01-16 02:35] benmvp commented on #9477
@tmeasday, it appears like both.

Here's a screenshot:
![Screen Shot 2020-01-15 at 6 33 45 PM](https://user-images.githubusercontent.com/5714478/72488361-98364580-37c5-11ea-86c2-abfb8d9b91b5.png)

The kinds used to be sorted alphabetically, and now they are backwards. The stories w/in the kind used to be sorted by their `export`s within the story file and now they are sorted in reverse.

[2020-01-16 03:02] vidarc opened #9481 "Story roots not working as expected with 5.3"
**Describe the bug**
I have several stories in the form of Root/Story || Root/Submenu/Story || Root/Submenu/Submenu/Story
Before 5.3, this worked fine with the different hierarchy specifiers I could use. Just trying to recreate that in the new setup.

**Example Story Names Being Used**
- Introduction/Getting Started
- Introduction/Framework Integration/React
- Design System/Components/Button

Belo

[2020-01-16 03:14] tmeasday commented on #9477
Thanks @benmvp and @chris-pearce. Fix coming.

[2020-01-16 03:54] tommyc38 commented on #9103
@shilman, I made the changes and still couldn't get it to work.  Do you know if there is a live example of Docs working with Angular anywhere?

[2020-01-16 04:03] shilman commented on #9103
@tommyc38 For sure!

Demo: https://storybookjs-next.now.sh/angular-cli/
Source: https://github.com/storybookjs/storybook/blob/next/examples/angular-cli/

[2020-01-16 04:04] tmeasday commented on #9481
Hi, this is odd. Can you reproduce on a simple project with just those story names?

Are you using hierarchy separators now? Are you using the showRoots option?

[2020-01-16 04:07] kevin940726 opened #9483 "[addon-docs] Add support for providing remark plugins in docs"
**Is your feature request related to a problem? Please describe.**
See the [twitter discussion](https://twitter.com/kevin940726/status/1217637106182307840) I had with @shilman.

Currently if the user wants to add new remark plugins to docs, they have to manually create the loader in conjunction with `createCompiler`, as seen in the [doc](https://github.com/storybookjs/storybook/blob/next/addons/do

[2020-01-16 04:08] shilman commented on #9311
@chrisabrams I see. Try renaming `addons` to `managerEntries` in your presets. We'll document this unintended breaking change in the migration guide. cc @ndelangen

[2020-01-16 04:13] shilman commented on #9483
I think adding an `mdxLoaderOptions` to the docs preset would be 💯! cc @patricklafrance

[2020-01-16 04:17] shilman commented on #9479
Closing this as a dupe to #9415

[2020-01-16 04:30] #8730 closed

[2020-01-16 04:32] VladimirPittner opened #9484 "[addon-docs] theme.background is undefined"
**Describe the bug**
When using addon-docs in 5.3.3, I am getting `theme.background is undefined` error in Docs tab.
![storybook](https://user-images.githubusercontent.com/1529181/72493130-80dc7400-3828-11ea-84be-4f67ec620cff.png)

**To Reproduce**
My test setup:
main.js
[code]
preview.js
[code]
manager.js
[code]
test.stories.js
[code]
**System:**
Environment Info:
  Binaries:
    Node: 8.17.0 - /

[2020-01-16 04:49] #9479 closed

[2020-01-16 05:03] JeffGuKang opened #9487 "[React Native] No Addon tab in @storybook/react-native-server v5.3.3"
**Describe the bug**

I cannot find addon tab in @storybook/react-native-server v5.3.3.

I have been using addons well like addon-knobs in v5.3.0-alpha.45 as below.

###  "@storybook/react-native-server": **"v5.3.0-alpha.45"**,

[code]

![image](https://user-images.githubusercontent.com/216363/72494049-06324980-3866-11ea-94b8-442d011a99e4.png)

### "@storybook/react-native-server": **"5.3.3"**

[c

[2020-01-16 05:20] JeffGuKang commented on #8943
It is working well in my case in v5.3.x.

[2020-01-16 05:30] #8361 closed

[2020-01-16 05:30] #8909 closed

[2020-01-16 05:30] #8677 closed

[2020-01-16 05:53] Pain-and-Love commented on #9457
https://github.com/Pain-and-Love/storybookReproduction

[2020-01-16 06:15] shilman commented on #8943
Nice! Closing 😂

[2020-01-16 06:15] #8943 closed

[2020-01-16 06:20] mikeriley131 commented on #9471
:)
I had added it to our config.js file but after further inspection it turns out we somehow have two .storybook folders and I had added it to the wrong one. All sorted. Thanks.

[2020-01-16 06:24] shilman commented on #9471
@mikeriley131 You're not the first person to run into this. I'm re-opening it in case one of the `addon-a11y` maintainers can provide a more useful message.

[2020-01-16 06:35] shilman commented on #9343
Yippee!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.4 containing PR #9485 that references this issue. Upgrade today to try it out!

[2020-01-16 06:35] shilman commented on #9477
¡Ay Caramba!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.4 containing PR #9482 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-16 06:35] shilman commented on #9480
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.4 containing PR #9486 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-16 06:35] #9477 closed

[2020-01-16 06:44] assimovt commented on #9481
We've just upgraded to 5.3 and bumped into the same problem. Previously, our Intro doc (similar to the storybook's design system), has been first in the ToC, now it's at the end. Is there a way to define the positions of the story MDX files?

[2020-01-16 07:14] Pain-and-Love commented on #9457
hi~,  i can reproduction this bug in the repo. and i am worried with it ... could u plz  resolve it as soon as possible 🥺

[2020-01-16 07:17] shilman commented on #9481
@assimovt Just released a fix for https://github.com/storybookjs/storybook/issues/9477 in `5.3.4` .. does that fix your problem?

[2020-01-16 07:26] assimovt commented on #9481
@shilman Ha, it seems like when I reported it, I've installed `5.3.4` and yeah I still have the same problem:

[code]

[2020-01-16 07:42] shilman commented on #9481
@assimovt RATS. 😭 So things are getting grouped under "OTHERS" like in the issue description?

[2020-01-16 07:48] assimovt commented on #9481
Nope, the MDX files just dropped to the bottom. We use a similar kind of set up as the [Storybook Design system](https://github.com/storybookjs/design-system/blob/master/src/Intro.stories.mdx) having an Intro file and then more docs inside the components dir.

<img width="245" alt="Screenshot 2020-01-16 at 08 44 36" src="https://user-images.githubusercontent.com/5113/72503613-71ffbc80-383c-11ea-9f

[2020-01-16 08:12] kalinchernev commented on #9455
Possibly related https://github.com/storybookjs/storybook/issues/9221

Maybe an example of https://github.com/storybookjs/storybook/issues/775#issuecomment-568088728 will be helpful enough.

[2020-01-16 08:36] jackysee opened #9490 "addon-storysource would throw compile error 'addSourceDecorator is not a function' when import after named export"
**Describe the bug**
When writing story in CSF with import statement appear after first named export, it will throw compile error.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the demo repo https://github.com/jackysee/storysource-order
2. `npm install` and `npm run storybook`
3.  Open browser `http://localhost:6006`
4.  See error

**Expected behavior**
It should compile fine. When `

[2020-01-16 09:07] shilman commented on #9481
@assimovt can you share your config (before & after)?

[2020-01-16 09:15] agusburgos commented on #8531
Hello @daviddelusenet , i have a working approach on my app using `vue-styled-components` and knobs as well.

You have to create a decorator and pass the knobs properties.
This worked for me:

[code]

[code]

I based my solution on this closed PR https://github.com/storybookjs/storybook/issues/2962 but i wasn't able to add the select to change the props.

I hope this helps!

[2020-01-16 09:24] kalinchernev commented on #9455
Another issue I found which could be related: https://github.com/storybookjs/storybook/issues/8009

I tried to use `getStorybook` from storybook and get a list of stories during the process of "sourcing" the information in the configuration file. It's a client API though and I don't quite want to have the need to load the storybook in the browser in order to click on a button to get a list of stor

[2020-01-16 09:39] shilman commented on #9446
@mrmckeb did something change in the CRA preset to cause it to no longer load `.md` files in 5.3?

[2020-01-16 10:00] mrmckeb commented on #9162
I'm working on this and will test against your repo ASAP :)

[2020-01-16 10:00] mrmckeb commented on #9460
I'm looking into this and I think I have a fix here: https://github.com/storybookjs/presets/pull/90

But it needs more testing.

[2020-01-16 10:05] siropo commented on #9463
I had the same issue. I resolve it by update the Typescript package to the latest version

[2020-01-16 10:19] chiptus opened #9491 "Props table is broken when using more exports in file (vue)"
**Describe the bug**
I'm working with VUE.
I have a component that in addition to its default export (as required by SFC) it has some states that are exported for use for others that use this component. In this component stories are working fine, but the props table doesn't show.

**Expected behavior**
I expect to see the props table in every component

**Screenshots**
when using exports:
![image]

[2020-01-16 10:24] mrmckeb commented on #9446
@shilman CRA never handled `.md` files, so this may have been an oversight as we don't have test cases fo this. We do test for `mdx` with Docs.

Does addon-notes add a loader for this?

[2020-01-16 10:36] shilman commented on #9446
@mrmckeb No, I think it might be part of Storybook's common loaders? Or `@storybook/react`?

[2020-01-16 10:38] shilman commented on #9491
@Aaron-Pool @pocka any insights here?

[2020-01-16 10:50] pocka commented on #9491
vue-docgen-api not supporting additional named-exports in SFC?
https://codesandbox.io/s/vue-docgen-api-mixed-export-w2xj3

[2020-01-16 10:51] mrmckeb commented on #9446
Will look, thanks!

[2020-01-16 10:54] mrmckeb commented on #9446
Correct, that would be a good temporary fix methinks. If you can share what works, I can look to add that to the fix to the preset (I can't look until tomorrow sorry @robcaldecottvelo).

[2020-01-16 11:05] SQReder commented on #8386
Checked it again and, I suppose that #8889 does not cover my case.
I created a story, snapshotted it, then remove the story, run `jest -u` again. The snapshot wasn't removed.

[2020-01-16 11:05] shilman commented on #9491
Aha, I thought we already solved this with `vue-docgen-loader` for the Evergarden stuff... 🤔

[2020-01-16 11:07] hasparus commented on #8571
I'd like to bump this.

Multiple children of story crash for me at 5.3.3 with `SyntaxError: Unexpected token` and I'd love to drop fragments on the picture below.

![image](https://user-images.githubusercontent.com/15332326/72519841-7934c380-3858-11ea-8082-2035896e0217.png)

[2020-01-16 11:09] shilman commented on #8571
Thanks @hasparus good call. Any interest in creating a PR for this?

[2020-01-16 11:11] shilman commented on #8386
@Hypnosphi can you help out @SQReder ?

[2020-01-16 11:13] SQReder commented on #8386
To be specific, all storybook packages are version ~5.3.3

[2020-01-16 11:39] pocka commented on #9491
No 👌
I'll check source codes of vue-docgen-api and vue-docgen-loader, soon.

[2020-01-16 11:43] DuncanLewis commented on #7390
@stereodenis I appear to be facing this same issue - how was it resolved for you?

[2020-01-16 11:44] siropo commented on #9463
@IsharaMadawa "typescript": "3.7.4"

[2020-01-16 12:15] Hypnosphi commented on #8386
@SQReder can you please share your `storyshots.tests.js`? Or, even better, create a GitHub repo with minimal reproduction of your issue?

[2020-01-16 12:37] robcaldecottvelo commented on #9446
It looks like even with the react preset there is definitely still a raw loader for .md files added to the webpack config so I am not sure how to tackle this now.

[2020-01-16 12:41] IsharaMadawa commented on #9463
@siropo  Can you drop the package.json  here?

[2020-01-16 12:45] davidgolden commented on #9470
It looks like that does address it and should resolve the issue. Thanks @shilman

[2020-01-16 12:45] SQReder commented on #8386
I use image snapshots from `addon-storyshots-puppeteer` package, so I think this is the core issue 😮

[code]

[2020-01-16 12:48] siropo commented on #9463
@IsharaMadawa why? Just try to update your typescript version and check if it is working

[2020-01-16 12:48] afebbraro commented on #9242
Hey all! Wondering if anyone found a workaround for this for the react/angular/html storybooks? Still experiencing the new 5.3.3 not working in Edge or IE.

[2020-01-16 12:58] cloakedninjas commented on #9463
If you're running older version of Angular, e.g. 8.1.0 you'll see the following error

`The Angular Compiler requires TypeScript >=3.4.0 and <3.5.0 but 3.x.y was found instead.`

[2020-01-16 13:07] grgur commented on #8618
I just used @robbeman's suggestion (thanks!) to navigate to another page with the `<LinkTo>` component. The router maintains scroll position (doesn't scroll back to the top) but using anchor links actually worked. Here's what I did:

[code]

**Notes:**
* `writing-docs` - the ID of the other page
* Appending `--page` was needed to navigate to another Docs page, although I don't like that it's hacky

[2020-01-16 13:07] Pain-and-Love commented on #9457
SAD  T.T

[2020-01-16 13:21] robcaldecottvelo commented on #9446
The issue is in `processCraConfig.ts`. I forced the `isStorybook530` to `false` and that fixes it. I don't know why that fixes it yet: I guess the rules are being manipulated somehow but the `raw-loader` one probably needs to be ignored.

[2020-01-16 13:26] EvgenyOrekhov commented on #9480
Just tried 5.3.4, still getting the same error. Only we are using `@storybook/ember`.

[2020-01-16 13:36] robcaldecottvelo commented on #9446
Maybe this will work:

[code]

[2020-01-16 13:46] elvorad commented on #9446
@robcaldecottvelo: This workaround eliminates the problem, I can confirm it.

[2020-01-16 13:59] patricklafrance commented on #9483
Oh yeah, sorry I was to suppose to had this, i've been lazy ;) @shilman

[2020-01-16 14:07] patricklafrance commented on #9483
Not sure though about just overriding the existing remark plugins since MDX linking depends on `remark-slug`.

Still it would be nice if someone could somehow opt out of `remark-external-links`.

Maybe we could offer an object that contains all the default remark plugins? I believe `react-docgen` is using a similar approach.

[2020-01-16 14:10] patricklafrance commented on #9483
If this issue is tackled, it would also work and we could the overriding all the existing remark plugins https://github.com/storybookjs/storybook/issues/9329

[2020-01-16 14:10] shilman commented on #9480
@EvgenyOrekhov Can you remove `node_modules` & reinstall? And if that doesn't work, share your `main.js` config here?

[2020-01-16 14:10] patricklafrance commented on #9302
@shilman did you fix this in 5.3?

[2020-01-16 14:11] shilman commented on #9302
I might have. Can you verify? It all came together pretty quick at the end.

[2020-01-16 14:13] #8946 closed

[2020-01-16 14:18] alazurenko commented on #9481
I faced with something similar.
Please, make sure that you have in your `preview.js`:
[code]

[2020-01-16 14:29] aareman commented on #9415
@danilovaz When I add a blank .babelrc I get a json parse error.

[2020-01-16 14:47] eriktoyra opened #9493 "Description and Props slots not shown when using TS and Component.displayName"
**Describe the bug**
@storybook/addon-docs fails to populate the "Description" and "Props" slots in the following scenario;

- TypeScript is used.
- The component to document has a `Component.displayName` and the display name is assigned a string that doesn't match the component's name exactly.

**To Reproduce**
Here's a sample repo which reproduces this bug: https://github.com/eriktoyra/storybook

[2020-01-16 14:50] Aaron-Pool commented on #9491
Yeah. My guess is that the docgen-api supports mixed default and named exports in a regular js file, but maybe hasn't considered that case in a SFC. It isn't a super common thing, though I think I've done it once or twice in my own code base.

[2020-01-16 15:07] eriktoyra commented on #9493
I poked around in the code base and found line 34 in `./addons/docs/src/blocks/utils.ts` that might be the cause of this problem.

https://github.com/storybookjs/storybook/blob/66c524f194e14a6ba1328ba19bd6c71ecfc9e2da/addons/docs/src/blocks/utils.ts#L23-L39

[2020-01-16 15:10] shilman commented on #9493
@patricklafrance mind taking a look?

[2020-01-16 15:15] rijkvanzanten commented on #9476
I wouldn't say it's a duplicate per se, more a different way to achieve the same thing. I do agree that having "native" support without the need of the object syntax is a preferable solution 🙂

[2020-01-16 15:29] shilman commented on #9476
Gotcha, sorry I pattern-matched and kind of glossed over the details. It's actually a special case of #7479, and also related to #8109

[2020-01-16 15:34] LeeBurton commented on #8297
@shilman You added a "TODO" label but didn't re-open the issue. It still appears to have problems, which appear to be related to the changes mentioned by @danhead:

https://github.com/storybookjs/storybook/pull/7272/files#diff-904dad7f92c7bbfac64aca74960bbf33

I am trying to use the following:

`.addDecorator(withStorySource('my test source'))`

but nothing changes in the Storysource panel.

I deb

[2020-01-16 15:36] EvgenyOrekhov commented on #9480
@shilman `rm -rf node_modules && npm i` didn't help.

`main.js`

[code]

Storybook dependencies in `package.json`

[code]

[2020-01-16 15:44] atanasster commented on #9493
@eriktoyra - i think the displayName is used by `react-docgen-typescript` to match the parsed typescript prop tables and and docgen info (ie the description). In this respect, it makes sense that the dislayName will affect those features, since the component prop table will not be "found", no?

[2020-01-16 15:55] sw-yx opened #9495 "[question] Getting passing tests in spec addon but failing in browser console. Does storybook render twice or catch story errors?"
**Describe the bug**

i have a weird bug with react testing library and the storybook specs addon (its no longer maintained but we were dumb enough to use it) and i have a weird symptom of passing tests in the addon but failing tests inside the browser console

repro repo: https://github.com/sw-yx/repro-react-storybook-specs-addon-bug
live demo of bug: https://repro-react-storybook-specs-addon-bug

[2020-01-16 16:03] rijkvanzanten commented on #7479
@shilman Are there any outstanding things that need to be done to move this forwards? I would love to help out where possible.

[2020-01-16 16:06] alazurenko opened #9496 "Questions: Web components HMR for v5.3.4"
Dear Maintainers,

With `v5.3.x` came new setup, particularly, import stories into `main.js`.
Thus [HMR approach for Web Components](https://github.com/storybookjs/storybook/tree/master/app/web-components#setup-page-reload-via-hmr) no longer works for  `'@storybook/html'`
Are there any workarounds?

[2020-01-16 16:12] liorgreenb commented on #9396
@ndelangen
It works well with `webpackFinal`, just saw the docs were updated already, thanks.

[2020-01-16 16:12] #9396 closed

[2020-01-16 16:13] #8713 closed

[2020-01-16 16:23] astorije commented on #9480
I can confirm that the problem is still present with v5.3.4. @shilman, would you mind re-opening this issue?

[2020-01-16 17:00] shilman commented on #9480
I see the problem, will fix in the next release.

[2020-01-16 17:10] shilman commented on #9496
cc @daKmoR @ndelangen

[2020-01-16 17:12] shilman commented on #9457
@atanasster mind taking a look?

[2020-01-16 17:17] teddywsi commented on #9481
For me it seems like #9477 fixes sorting for CSF stories, but MDX stories are still being sorted in reverse order.

[2020-01-16 17:22] VladimirPittner commented on #9484
It seem to have been problem of @storybook/addon-docs not getting installed in correct place (due to unknown reason, probably our tooling).
Closing the issue

[2020-01-16 17:22] #9484 closed

[2020-01-16 17:29] atanasster commented on #9457
@shilman got it

[2020-01-16 17:30] #9078 closed

[2020-01-16 17:32] shilman commented on #9349
cc @ndelangen

[2020-01-16 17:34] shilman commented on #9428
I'm gonna call this a bug. There should be a `<Meta id="xxx">` to go along with the CSF equiv.

[2020-01-16 17:35] shilman commented on #8023
Gonna close this and see who complains 🙈

[2020-01-16 17:58] wadehammes opened #9498 "Docs not applying base theme in manager.js"
**Describe the bug**
Migrating to manager.js has caused Docs to not apply my theme which has a base of 'dark'

**To Reproduce**
Steps to reproduce the behavior:
1. Create a theme in `manager.js` and set the base to 'dark'.

**Expected behavior**
Docs would have a base theme of 'dark' as in 5.2.

**Screenshots**
Canvas:
![Screen Shot 2020-01-16 at 12 54 14 PM](https://user-images.githubusercontent.

[2020-01-16 18:02] shilman commented on #9458
@bendobos any idea what changed between 5.2 and 5.3 cc @atanasster

[2020-01-16 18:06] shilman commented on #9412
Possible dupe to #9457 cc @atanasster

[2020-01-16 18:21] #6985 closed

[2020-01-16 18:25] shilman commented on #6638
Documented in https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/theming.md

[2020-01-16 18:25] #6638 closed

[2020-01-16 18:38] benmvp commented on #9477
Yup, that fixed it! Thanks! 🎉

[2020-01-16 18:38] JonnyPS commented on #9412
@shilman - I have resolved this to an extent - when I remove the Docs addon the stories all appear - Put the Docs addon back in again and they disappear

[2020-01-16 18:42] shilman commented on #7517
I think this was fixed in #9482

[2020-01-16 18:42] #7517 closed

[2020-01-16 18:43] jonniebigodes commented on #9421
I've checked that a new pr went through and a new Storybook version was released and i updated my version to 5.3.4 and the issue still persists, still getting the same error.

[2020-01-16 18:49] shilman commented on #8972
Closing as dupe to #9282

[2020-01-16 18:59] shilman commented on #9421
Fixed in #9485 and released in 5.3.4. Can you verify?

[2020-01-16 19:01] shilman commented on #9421
@ndelangen any idea what's going on here?

[2020-01-16 19:02] jonniebigodes commented on #9421
Just did @shilman, removed `node_modules` and updated `package.json` to the following
[code]

[2020-01-16 19:03] shilman commented on #9495
cc @ndelangen

[2020-01-16 19:08] shilman commented on #8078
@atanasster can you help out here?

[2020-01-16 19:12] PHurst1 commented on #2590
I still see this issue. Reducing depth worked.

[2020-01-16 19:17] shilman commented on #9498
@ndelangen I think this was a case we didn't think through in the theming update 😱

[2020-01-16 19:26] rijkvanzanten commented on #6738
Hi @shilman, I'm encountering this issue on `5.3.3` using `mdx` + `vue` files for stories.

[2020-01-16 19:30] shilman commented on #6208
We have a `@storybook/web-components` now. Is anything further needed here? Should we deprecate this package somehow in 6.0?

[2020-01-16 19:34] rijkvanzanten commented on #7479
You can use `mdxSource` on `<Preview>` as a temporary override. Not ideal, but provides the expected highlighted source code:

[code]

![image](https://user-images.githubusercontent.com/9141017/72556723-37fade80-386d-11ea-9ae2-bf0bac85a94f.png)

<details>
<summary>Full example</summary>
<pre>
&#x3C;Preview mdxSource={&#x60;
&#x3C;v-icon name=&#x22;accessibility_new&#x22; color=&#x22;--red&#x22; x-

[2020-01-16 19:38] juliandavidmr opened #9499 "Actions: Truncate string arguments"
**Describe the bug**
When launching an action and it contains a string argument, the spaces are truncated.

**To Reproduce**

I have the next action definition:

[code]

An input component of angular with the next event:

[code]

Event `(ngModelChange)` launches the following example string: "ddddddddddddx &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
but Storybook show "ddddddddddddx ", that is, truncate

[2020-01-16 19:45] palashkaria commented on #8115
This seems to work fine with the latest storybook v5.3.3

[2020-01-16 19:46] sw-yx commented on #9495
more broadly - also wondering if you'd like to take on maintenance of storybook-addon-specs. its pretty much [the only thing you recommend for interaction testing](https://storybook.js.org/docs/testing/interaction-testing/), and it is unmaintained. i probably dont need to sell you guys on how its probably a good idea to have a good interaction testing story together with storybook. the question is

[2020-01-16 19:56] shilman commented on #9495
@sw-yx i'll be trying to build out a bunch of maintainers this year, and will keep `addon-specs` in mind. it's come up a couple times in support, but otherwise doesn't seem to be particularly widely-used.

agree about interaction testing support, but i'm guessing the documentation needs to be updated more than anything. with CSF the sky's the limit on interop with your favorite testing tools. that

[2020-01-16 19:56] astorije commented on #9480
I can confirm that v5.3.5 fixes the issue. Thanks @shilman! 🙏

[2020-01-16 19:56] #9480 closed

[2020-01-16 19:57] shilman commented on #8115
WOOT! @techieshark can you confirm?

[2020-01-16 19:58] shilman commented on #7479
@rijkvanzanten that's pretty sweet!! not what i had in mind, but effective! 💯

[2020-01-16 19:59] shilman commented on #9480
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.5 containing PR #9497 that references this issue. Upgrade today to try it out!

[2020-01-16 19:59] shilman commented on #9490
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.5 containing PR #9492 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-16 19:59] #9490 closed

[2020-01-16 20:02] shilman commented on #6738
@rijkvanzanten this exact error? i thought zone-xxx was an angular thing..

[2020-01-16 21:25] sw-yx commented on #9495
yeah. obviously no pressure, you dont owe us anything. You could even wipe out that page and just ask for someone to step up with a new take on it.

anyway, back to the main question of this issue - how come i have a failing test in the browser console but not in the addon? just looking for a hint as to how storybook might work internally, i saw some mentions of [double rendering](https://github.c

[2020-01-16 22:07] rijkvanzanten commented on #6738
Hmm, same symptom caused by something else

[code]

[2020-01-16 22:13] rijkvanzanten commented on #6738
It starts happening to me as soon as I have more than 1 `<Story>` component inside a `<Preview>` component.

Works:

[code]

Causes the error:

[code]

[2020-01-16 22:30] zbream opened #9502 "Addon-Docs: MDX links to internal docs cannot be opened in new tab"
**Describe the bug**

When writing MDX, opening an internal link in a new tab displays an error due to a malformed URL (see screenshot). This is related to the new `NAVIGATE_URL` functionality introduced in #9328, which is otherwise amazing btw.

The new URL has `iframe.html` before the query string, so presumably the manager isn't getting loaded in the new tab.

**To Reproduce**

Steps to reprodu

[2020-01-16 22:32] daKmoR commented on #9496
what "does no longer work" mean in that context? and are we talking about `@storybook/web-components` or `@storybook/html`?

[2020-01-17 00:16] jonniebigodes commented on #9421
To add more context, while working on the updates for the angular documentation, the same issue is present.

[2020-01-17 00:28] shilman commented on #9481
@teddywsi can repro. will dig in and fix!

[2020-01-17 01:38] matt-shine opened #9503 "Knobs - Grouping not applied to props of type 'number'"
**Describe the bug**
Grouping doesn't work as expected for number props

**To Reproduce**
see https://github.com/matt-shine/storybook-knobs-issue/blob/master/src/stories/test.stories.js

[code]

**Expected behavior**
Expect the numberProp to be grouped into a tab titled 'numbers', however it is added to the 'Other' tab (see screenshot)

**Screenshots**
![image](https://user-images.githubuserconten

[2020-01-17 01:55] patricklafrance commented on #9302
Yes it's fixed, great success @shamin :)

[2020-01-17 01:55] #9302 closed

[2020-01-17 01:56] arfa commented on #8342
@monospaced

also this work

[code]

[2020-01-17 02:38] Pain-and-Love commented on #9457
but i don't add the Docs Addons in my  addons.
in my repo,  i think the  typescript  cause the affect on the preview pane
  T.T

[2020-01-17 02:45] uhoh-itsmaciek commented on #8461
@shilman one of the great uses of Storybook is developing components in isolation--it's not unreasonable to want logs from your components as you are building it, but not logs from the harness.

[2020-01-17 03:21] kevin940726 commented on #9483
@patricklafrance That's a fairly good point, I didn't know that we actually depends on `remark-slug`.

While #9339 is still on-going, and also I think we can't be sure that we won't have any other dependency plugins in the future, we can somehow provide the users a list of the default plugins.

What I'd propose is to make the config a function, and we can call our default settings in the first arg

[2020-01-17 03:50] IsharaMadawa commented on #9463
yes. i had to update angular also

[2020-01-17 04:00] shilman commented on #9483
I really don't like the merge version 😉

@patricklafrance any chance you can knock out #9329 and unblock this?

[2020-01-17 04:10] kevin940726 commented on #9483
@shilman Fair enough! I'm hesitant about that either.

I can help with #9339 if @patricklafrance hasn't got time with it 😉

[2020-01-17 04:11] shilman commented on #9457
@Pain-and-Love It's working on my machine. I had to regenerate `yarn.lock` because the repo version was pointing at some weird registry like this:

[code]

=>

[code]

[2020-01-17 04:15] pocka commented on #9491
It was that vue-docgen-api cannot parse mixed exports in SFC, as @Aaron-Pool said. I filed an issue on docgen-api repo (https://github.com/vue-styleguidist/vue-styleguidist/issues/717).

[2020-01-17 05:02] chris-pearce commented on #9443
Experiencing this issue too.

[2020-01-17 05:13] atanasster commented on #9457
Its caused by "@storybook/source-loader" - so any add-on like ''@storybook/addon-docs', '@storybook/addon-notes',  '@storybook/addon-storysource', that are using it in their presets will cause this issue.

[2020-01-17 06:19] shilman commented on #9443
cc @ndelangen i think this is about moving from preview => manager

[2020-01-17 06:47] Pain-and-Love commented on #9457
i remove all the addons. and delete yarn.lock.  in my repo
but it still works bad;
![image](https://user-images.githubusercontent.com/9690422/72590200-28949780-3938-11ea-911d-576928d3ed2e.png)

[2020-01-17 06:47] Pain-and-Love commented on #9457
yeah.  i have tries remove all the addons from my  main.js.
but it still works  badly...  like the img above

[2020-01-17 06:50] atanasster commented on #9457
but it still works badly... like the img above

You have "@storybook/source-loader" in your config - can you try removing it?

[2020-01-17 06:52] Pain-and-Love commented on #9457
![image](https://user-images.githubusercontent.com/9690422/72590520-e1f36d00-3938-11ea-98be-7bf8bc101966.png)

this load?  but i need to use typescript   T.T

[2020-01-17 07:01] atanasster commented on #9457
Yes, this one - you can still use typescript.
But unfortunately the source-loader module does not play nicely with re-exported or separate named exports.
We will check in a fix soon that will display your stories in the sidebar but the source code of the stories will not be available

[2020-01-17 07:16] Pain-and-Love commented on #9457
but it could show Stories in the SiderBar and support show .tsx source code in the  addon.
it means i can choose there three way now:
1. remove the source-loader from webpack.config.js。 so that i can see the Stories but i can't preview the tsx source code
2. add the  PLACEHOLDER Stories like the first picture at line 6. so that i can see Stories **and** preview the tsx source code
3. revert the ve

[2020-01-17 07:25] atanasster commented on #9457
I really doubt it works fine in 5.2.8.
However if you can confirm 100% it works in 5.2.8 we can investigate the version of babel ast parse - that would be the only thing that could have worked differently.
In any case, it would not have shown the source code - since the source code is not located in the story itself.

For your needs (to not duplicate story title and config, iI would suggest to sha

[2020-01-17 07:32] Pain-and-Love commented on #9457
thx.  i confirm it works fine in 5.2.8。 because i upgrade it from 5.2.8 to 5.3.1 with the same config。
then i can't found the Stories  in the sidebar。

[2020-01-17 07:46] atanasster commented on #9457
Very very strange - and you were able to see the story source code?
In any case i think my workaround above (sharing the default export title) should work better.

[2020-01-17 08:03] atanasster commented on #8078
can someone please paste source code in text form to reproduce the issue instead of pics

[2020-01-17 08:13] #8976 closed

[2020-01-17 08:14] shilman commented on #8078
i think we have plenty of examples in the monorepo already, e.g.

https://storybook.js.org/docs/basics/writing-stories/#loading-stories

[2020-01-17 08:18] atanasster commented on #8078
Thanks

[2020-01-17 08:25] mrmckeb commented on #9446
Thanks, I'll add that to the excludes list for Storybook 5.3.0! I'll get that into the PR I'm working on now.

[2020-01-17 08:29] shilman commented on #9412
Hurrah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.6 containing PR #9505 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-17 08:29] shilman commented on #9457
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.6 containing PR #9505 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-17 08:29] shilman commented on #9481
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.6 containing PR #9504 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-17 08:29] #9412 closed

[2020-01-17 08:29] #9457 closed

[2020-01-17 08:31] shilman commented on #9481
Fixed the sorting issue, but I think the original "Others" issue is still outstanding.

[2020-01-17 08:43] mrmckeb commented on #9460
@JonnyPS I thought I had created a fix for this (I did clean the preset up in the process), but it turns out that this was caused by an import of `preview.js` into `manager.js`.

I also cleaned up the addons list:
[code]

And finally I found an issue where `all.scss` was importing a file that doesn't exist (from `components`).

And everything now works as expected.

Let me know how you go with the

[2020-01-17 08:45] cloakedninjas commented on #7855
I'm getting this error using the following packages
[code]

[code]

Running `npm i -D @types/webpack-env` fixes it - but I thought this was resolved in 5.2 🤔

[2020-01-17 08:48] shilman opened #9506 "Addons: Remove deprecated makeDecorator"
## Why

Clean up the code. Initially we attached data to stories with decorators. Then in 5.0 we introduced story parameters and deprecated decorators.

## What
- [ ] Remove makeDecorator function
- [ ] Remove decorators in all addons
- [ ] Update docs for all addons
- [ ] Add to migration guide

[2020-01-17 08:51] Pain-and-Love commented on #9457
THX very much.  i would take your way (sharing the default export title)  to resolve this problem

[2020-01-17 08:53] mrmckeb commented on #9162
Hi @SaadRegal, I can confirm this work fine with `@storybook/preset-create-react-app`.

All I did was add a `main.js` with:
[code]

I then saw another error, which was related to an import of a non-existent file (a `jpg`). I removed that, and everything worked as expected.

Let me know how you go with this :)

[2020-01-17 08:54] shilman opened #9507 "Core: Remove legacy data from story store"
## Why

In 5.0 we restructured the story store to be a flat list of story objects. We left around a legacy data structure so that it wouldn't be a breaking change.

## What

- [x] Remove `_legacydata`
- [x] Reimplement legacy methods with `_data` (and deprecate them if they haven't already been?)
- [x] Update migration docs

[2020-01-17 08:58] shilman commented on #7855
@cloakedninjas can you try removing node_modules & reinstalling? possibly regenerating lock files?

[2020-01-17 09:40] alazurenko commented on #9496
HMR for web components when `@storybook/html` is used.
Previously, there [was a way to configure it](https://github.com/storybookjs/storybook/tree/master/app/web-components#setup-page-reload-via-hmr) but now configuration is different and we don't have that much control.

[2020-01-17 09:52] SaadRegal commented on #9162
Yes, adding that to `.storybook/main.js ` solved it. Thanks !

[2020-01-17 09:53] #9162 closed

[2020-01-17 10:59] JonnyPS commented on #9460
@mrmckeb @shilman Thank you for your efforts. i have got everything running on 5.3.4 and it all seems to be working - addons, compiling scss, all stories showing... thanks

[2020-01-17 10:59] #9460 closed

[2020-01-17 12:06] shilman commented on #9498
Based on discussion with @ndelangen:

### In 5.3

- [ ] Verify that parameters still works
- [ ] Recommend to users (here and in migration/documentation) to use parameters if they're using docs

### In 6.0

- [ ] Allow specifying manager/preview/(docs?) themes in main.js and recommend that

[2020-01-17 12:16] cloakedninjas commented on #7855
No joy

[2020-01-17 12:21] SirMoustache opened #9511 "Addon-Docs: Props table won't be generated for TypeScript types if forwardRef used with the default export"
**Describe the bug**
If forwardRef used without named export and with only default one, then no props table will be generated.

For example, this:

**Button.tsx**
[code]

**Button.stories.tsx**
[code]
Will lead to this result:

![image](https://user-images.githubusercontent.com/8169559/72607436-5b835f00-3929-11ea-9ee3-b1318796bc9d.png)

But if I add **export**, a props table will be generated. No

[2020-01-17 12:30] #9309 closed

[2020-01-17 12:33] Zunaib commented on #9511
**Hi,**
You are missing the export keyword before the Component's name.
You have to **export** const {Component} too, as react-docgen-typescript-loader has not added support for forwardRef's yet.
[code]

[2020-01-17 13:07] shilman commented on #7855
Can confirm that it's dependency in `@storybook/react`, `@storybook/html`, and a bunch of others ... but NOT in `@storybook/angular`.

@ndelangen @kroeder @gaetanmaisse can we add this?

[2020-01-17 13:15] mbulfair opened #9512 "lit-html missing when installing web_components"
**Describe the bug**
When running `npx -p @storybook/cli sb init -t web_components`

The documentation says some dependencies are installed, but they aren't

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/5325543/72614733-07fd1b00-3901-11ea-8555-bbb740bb693f.png)

![image](https://user-images

[2020-01-17 13:15] daitan-rovaris commented on #7577
@nazarTrynko  that did it to me! thanks

[2020-01-17 13:16] losbeekos commented on #7987
@kylesuss Does your solution also work with packages like [ng-inline-svg](https://www.npmjs.com/package/ng-inline-svg)? I tried all sorts of things to make it work but couldn't find a workaround.

[2020-01-17 13:17] patrick-radulian commented on #9044
Any update on this topic? I've run into issues with HMR as well - not in so far as the changes are not detected, but the browser does not reload the respective updated resources. WebPack re-builds when changes occur.
I am interested if both issues might stem from the same root cause.

[2020-01-17 13:19] mavenik commented on #8892
I'm getting this too. Just bumping the comment thread to not let this go stale.
Meanwhile, https://github.com/gvaldambrini/storybook-router has worked for me.

[2020-01-17 13:43] ConnorDY commented on #9462
Downgrading from 0.9.0 to 0.7.0 did not resolve the issue for me. I'm seeing the exact same error mentioned in the original post still.

[2020-01-17 13:48] monospaced commented on #8342
@arfa yep, that works if you want to exclude the whole file from docs, not just an individual story.

[2020-01-17 13:51] monospaced commented on #8342
@shilman nice one for the issue rename. "Show source block with generated knob values" is exactly what we need i think.

[2020-01-17 13:58] AlekseyPn commented on #9468
![Screenshot_20200117_184644](https://user-images.githubusercontent.com/18575325/72617197-470b8a80-395a-11ea-9439-9878c658304a.png)

@shilman Thanks for reply, I talk about that example, on the third line "description" rendered by JSDoc, from this example https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/docspage.md#description
But when i use it in my stories with vue, it doesn't

[2020-01-17 14:02] andreasabilio commented on #9205
We've also run into this issue. Indeed `babel-plugin-react-docgen` seems not to be running.

Furthermore, it works with a dummy React component but doesn't work with Semantic UI React (SUIR) components... And all SUIR components do have a `propTypes` property.

When A SUIR component reaches the `getDocgenSection` function it lacks the `__docgenInfo` property.

This is on Storybook v5.3.3 and v5.3.

[2020-01-17 14:06] patricklafrance commented on #9483
Still too busy but i'll be happy to participate to the review if you want to do this @kevin940726

[2020-01-17 14:36] shilman commented on #9512
cc @daKmoR

[2020-01-17 14:45] daKmoR commented on #9496
indeed you can not use that configuration in `main.js` 🙈

@ndelangen any way to influence the HMR behaviour now?

[2020-01-17 14:50] shilman commented on #9468
Does this help? https://github.com/storybookjs/storybook/commit/3bcaaeb769ef21234837cc755a27c056092d1f00

[2020-01-17 14:55] daKmoR commented on #9512
I don't really understand? do you want to automatically setup `lit-html` as a devDependency to the projects?

on storybook it is a peerDependency and that gives you
[code]
which means you have to do that yourself?

is that the step you want to change?

[2020-01-17 15:00] mbulfair commented on #9512
I think my point is the docs that I found say its there, but it's not so if you run the basic install, then start storybook you get an error. I doubt that's the intent is it? I just like clear documentation. Also is this ready? since it's not listed on the main storybook doc site? I'm having issues with mdx docs with my web components as well.

[2020-01-17 15:12] shilman commented on #9496
@daKmoR can you put this in `preview.js`?

[code]

[2020-01-17 15:35] vidarc commented on #9481
trying to make a small repo that can reproduce the issue, but not having much luck.

main.js
[code]

manager.js
[code]

preview.js
[code]

all my storybook related configs. story wise, i'm using both mdx and csf styles

[2020-01-17 16:00] #8983 closed

[2020-01-17 16:01] #8810 closed

[2020-01-17 16:01] #8979 closed

[2020-01-17 16:01] #8961 closed

[2020-01-17 16:05] Nber1 opened #9514 "preset-create-react-app all files need to be in a src/"
You are forced to include all files in a /src file

What the hell happened [here](https://github.com/storybookjs/presets/blob/2411dc9ecc8dbaf184159c0df5f9d9becec85562/packages/preset-create-react-app/src/index.ts#L94)?

[code]

That's clearly a breaking change and as it looks has nothing to do with the [bug](https://github.com/storybookjs/storybook/issues/9446) which the [commit](https://github.co

[2020-01-17 16:41] lozinsky opened #9515 "Module build failed with thread-loader for javascript modules"
**Describe the bug**
When javascript modules build with [thread-loader](https://github.com/webpack-contrib/thread-loader), building fails with the error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Add `thread-loader@2.1.3` dependency
2. Add `thread-loader` to javascript webpack rule
3. Run `start-storybook`

**Expected behavior**
There should be no error.

**Code snippets**
htt

[2020-01-17 16:44] andrewpeterprifer commented on #8658
Thank you for pointing me to the guide! I was looking in the docs. The point about globs for file matching is fair.

[2020-01-17 17:14] jerridan commented on #6332
Thanks for posting this @theinterned! Not sure what's with people giving 👎, this saved me a bunch of time.

[2020-01-17 17:44] chrisdunnbirch opened #9516 "Import order wrongly causing "Element type is invalid" errors in stories"
**Description**

When using a component import/export entry-point for terse imports throughout the application the order of imports can cause unexpected errors in Storybook only; not in the `yarn start` environment or compiled application. The error is:

`Element type is invalid: expected a string (for built-in components) or a class/function (for composite components) but got: undefined. You like

[2020-01-17 17:55] mklanjsek opened #9517 "Storyshots Puppeteer is broken with latest update"
**Describe the bug**
Bumped the storybook versions from 5.2.8 to 5.3.x and can no longer run our storyshots-puppeteer tests.

**To Reproduce**
Steps to reproduce the behavior:
1. Install 5.3.x
1. Create an `__tests__/imageStoryshots.test.js` using `imageSnapshot` for the test (code snippet below)
1. We narrowed the problem down to the call to `imageSnapshot` function in the snippet below. If we re

[2020-01-17 18:22] michaelmior commented on #9462
I believe the current version specified is 0.8.0. For me, both an upgrade to 0.9.0 and a downgrade to 0.7.0 seemed to fix the issue.

[2020-01-17 19:02] alex-f1v commented on #9517
@mklanjsek We were able to solve this error by adding puppeteer directly to our project.

[2020-01-17 19:21] rijkvanzanten commented on #6738
Scratch that, I'm seeing it without multiple items per preview now too. Maybe it's caused by the total item of <Story> elements.. ?

[2020-01-17 19:48] kylesuss commented on #7987
@losbeekos that looks slightly different, though I'm not super familiar w/ Angular. The preset I was working on was meant to modify Storybook's webpack loader. It doesn't look like you need to do that w/ `ng-inline-svg`, is that right?

[2020-01-17 20:07] patricklafrance opened #9518 "Addon-docs: Docs mode shouldn't render "Canvas" & "Docs" tabs"
**Describe the bug**

In 5.2 when Storybook is compile in `--docs` mode the "Canvas" & "Docs" tabs are not rendered, which is great.

In 5.3.6 it doesn't seems to be the case anymore:

![image](https://user-images.githubusercontent.com/794579/72642384-321eff00-393a-11ea-82a9-052a2378b257.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Start storybook with `--docs`

**Expected behavior**

[2020-01-17 20:47] BrianD91 opened #9519 "No sidebar in Storybook UI"
**Describe the bug**
When I run `yarn storybook` it compiles and opens in a browser as normal, but the sidebar UI / stories list doesn't render

**Expected behavior**
The search textfield and list of stories will appear in a sidebar on the UI

**Screenshots**
![image](https://user-images.githubusercontent.com/37163937/72645036-99d84880-3940-11ea-87c7-4e18e8bc4512.png)

[2020-01-17 20:53] mklanjsek commented on #9517
Thanks, adding `puppeteer` to project fixed it for us as well.

Would be good if don't need to do that, though.

[2020-01-17 21:20] rijkvanzanten opened #9520 "Vue version in template"
**Describe the bug**
While writing a story, I noticed that Storybook's `template` string doesn't play nicely with Vue's scoped slot syntax. This indicates to me that the Vue version that's used to render the template string is < 2.6.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `.stories.js` file that renders a Vue component as follows:

[code]

2. Note how
`'<v-button><v-icon #i

[2020-01-17 22:14] kerryj89 commented on #7479
I'm Hamham on Discord and to clarify on what I want, I would just like plain HTML output for storybook-html.  It'd be cool if it could also generate the knob-affected preview.

[2020-01-17 23:06] shilman commented on #9481
@vidarc does it fix the problem if you update preview.js with this:

[code]

[2020-01-17 23:30] nahumzs commented on #8675
`Unexpected default export without title` can also happens if you use an `export default function` inside of your story, if for some reason want to reuse the story is better to simply export it without doing it with the `default` option

[2020-01-17 23:36] shilman commented on #9520
@pksunkara @Aaron-Pool @pocka any thoughts?

[2020-01-17 23:39] pksunkara commented on #9520
Additional context, Latest @storybook/vue devDependencies has

[code]

[2020-01-17 23:39] shilman commented on #9517
It looks like this was the guilty commit:

https://github.com/storybookjs/storybook/commit/aad29ed53d63daf145ed226dc2848913c6c3b9e5#diff-7618e1ea33b2f7a83797c63c2c55acf0

[2020-01-17 23:42] shilman commented on #9519
- Try hitting "f" on your keyboard to toggle fullscreen
- Try doing `localStorage.clear()` in browser console & hard refreshing page

[2020-01-17 23:46] shilman commented on #9518
@patricklafrance Unable to repro. Can you try removing node_modules, reinstalling, maybe `localStorage.clear()`, removing `.cache`? I think it's something funny on your machine. (NOTE: it's messed up that `--docs` is sensitive to this stuff, but I really don't know what's going on)

[2020-01-17 23:48] shilman commented on #6738
@rijkvanzanten Are you using inline story rendering for vue, or iframes?

[2020-01-17 23:51] shilman commented on #6332
@jerridan Apparently people hate helpful workarounds 🤷‍♂

[2020-01-17 23:55] shilman commented on #9514
@Nber1 can you elaborate on what you'd like to see changed? Happy to bump the version to 2.0.0.

[2020-01-18 00:15] shilman opened #9521 "Remove 5.0 deprecations for 6.0"
## Why

Storybook has a policy of deprecating APIs with `util-deprecate` to give users advanced notice of their removal. Now in 6.0 we should remove most of those deprecations and clean up the code.

## What

Scour the code for `util-deprecate`:
- [ ] If we think a deprecation is "too recent" or removing it will be too disruptive to users, add to a list of "remaining deprecations" in the PR descri

[2020-01-18 00:28] moarwick opened #9523 "Styled Components not working in a Storybook static build?"
**Describe the bug**
We have a Storybook 5.3.3 running perfectly fine in dev mode, components utilizing React 16.8.6, Styled Components 4.4 (also tried the new 5.0) and Typescript 3.7 (with ts-loader 6.2.1).

When built for static deployment, things work fine except no styles get injected into the head, so all components are unstyled. Class names are generated fine, and no errors are thrown. Someh

[2020-01-18 00:32] Aaron-Pool commented on #9520
@rijkvanzanten Any public code that I can easily pull down and debug?

[2020-01-18 01:25] patricklafrance commented on #9518
Ok thanks for the reply, i’ll do some testing and keep you posted.

[2020-01-18 01:41] techieshark commented on #8115
@shilman sadly, no.

I've just tried with v5.3.3 and 5.3.6 but am not seeing any change; as described before, I'm finding that the Docs tab props table pulls info from the static `defaultProps` rather than anything from the Flow prop type.

[2020-01-18 02:30] shilman commented on #9523
No, there are a variety of styled-components issues but this is the first time I'm seeing this.

Storybook's own design system uses styled-components and I've just confirmed that it builds fine with the latest 5.3.x. Maybe take a look at how the project is set up?

https://github.com/storybookjs/design-system

[2020-01-18 07:10] jeffryang24 commented on #6633
My current solution is by adding `rootMode` options inside storybook webpack configuration. And it is working properly without need to create sub-package `.babelrc` file. :bowing_man:

Reference: https://babeljs.io/docs/en/config-files#webpack

[code]

[2020-01-18 07:59] gaetanmaisse commented on #9517
@mklanjsek it was an intentional move in order to:
 - give SB users more control on `puppeteer` version used by the addon: update `puppeteer` (i.e. Chromium version) independently from `@storybook/addon-storyshots-puppeteer`
 - not download `puppeteer` dep for projects that don't need it

Sorry for having missed the doc update...

@shilman here it is: https://github.com/storybookjs/storybook/pull/

[2020-01-18 08:53] gaetanmaisse commented on #7855
I think `"types": ["webpack-env"]` in `tsconfig.json` have been propagated from lib to lib because in the "Initial steps for every migration" of https://github.com/storybookjs/storybook/issues/5030 we use `addon-notes` as a base example but it looks like this addon is using `webpack-env`. Almost all libs have surely inherited from it but only a few should really need/use it.

I will go through all

[2020-01-18 10:28] shilman commented on #9517
@gaetanmaisse I think it's a huge improvement for users to install it themselves. It's also a breaking change in a minor release, which we've gotten a lot of criticism for in the past (rightfully?). Anyway, I'm cool with it, but let's watch out for this next time! (Next-next time, since we're starting 6.0 now and can break as much stuff as we want this milestone 😂) Thanks for the updates!!!

[2020-01-18 10:53] gaetanmaisse commented on #9517
@shilman you're 💯right and I'm a bit frustrated because I'm one of them, claiming to have breaking changes only in major updates 🙃! Looking back, I was overconfident when I was working on this addon a few months ago, I will definitely be more meticulous next time.

[2020-01-18 12:54] shilman commented on #9517
It's all good--it happens to everybody. This is great work: I'd rather err on the side of upgrading the product than be scared to change anything. 💯

[2020-01-18 12:54] #9517 closed

[2020-01-18 13:11] crubier opened #9527 "Yarn 2: Support Yarn v2 "Berry""
**Describe the bug**

If you use Yarn v2, then you can't add Storybook to a simple Create React App, it crashes.

See https://github.com/yarnpkg/berry/issues/592#issuecomment-575895264

And the output here:

https://github.com/crubier/berry/commit/78acb633a0ad411ed173dae0a0037ab82fe346ad/checks?check_suite_id=407781418

**To Reproduce**

The following process is used in the workflow to reproduce t

[2020-01-18 15:07] pocka commented on #9297
@chrisjbrown
Yeah, you need to configure a webpack rule for `.css` file in the way [Vue Loader Docs](https://vue-loader.vuejs.org/guide/css-modules.html#opt-in-usage) describing (if you have files something like SASS, add rules for them too.)
I'm not sure `vue-cli-plugin` handles it or not, though.

#### Sample Config

[code]

[CodeSandbox](https://codesandbox.io/s/vue-storybook-css-modules-fy4n7)

[2020-01-18 15:43] whitebackdoor7 opened #9528 "Live examples for next and current releases throw 404"
**Describe the bug**
Live examples for next and current releases throw 404.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://storybook.js.org/docs/basics/live-examples/](https://storybook.js.org/docs/basics/live-examples/)
2. Click on any example from next and current releases.
3. See error: `404: NOT_FOUND
Code: RESOURCE_NOT_FOUND`

**Expected behavior**
Live examples for next

[2020-01-18 18:09] jukben opened #9529 "react-native-server can be reached via local ip adress"
**Describe the bug**
When I run `@storybook/react-native-server` (5.3.6) I can't connect via local network e.g http://192.168.190.232:7007/

**To Reproduce**
I used this guide https://storybook.js.org/docs/guides/guide-react-native/

**Expected behavior**
I can connect via localhost and also via local ip adress. Thus I can develop in simulator but also on real device.

**Screenshots**
If applicabl

[2020-01-18 18:17] akeating commented on #6574
fyi in `5.3.6`, this does not work with `baseUrl: "."`. Workaround is `NODE_PATH=.` as outlined in earlier comments.

[2020-01-18 18:45] Hypnosphi commented on #8386
Looks like https://github.com/americanexpress/jest-image-snapshot/issues/59 to me

[2020-01-18 19:40] atanasster commented on #9516
@chrisdunnbirch thanks a lot for the detailed report and reproduction sample.
It is a strange issue, not sure whats the root cause.

However, wouldn't it be better practice to isolate your stories anyway
Ie
`import { A } from ‘./index’`

[2020-01-18 19:42] ArrayKnight opened #9532 "Applying custom styles to Storybook components doesn't work"
**Describe the bug**
When trying to apply styles (new or override) to Storybook components (not all have been tested, but should be), the styles do not get applied.

**To Reproduce**
See code sample below.

**Expected behavior**
Styles are applied.

**Screenshots**
![image](https://user-images.githubusercontent.com/5431637/72669494-ff7f1000-39e6-11ea-9a8b-f835da5d0631.png)

**Code snippets**
[code

[2020-01-18 19:43] ArrayKnight commented on #9532
"@storybook/addons": "^5.3.6",
"@storybook/api": "^5.3.6",
"@storybook/components": "^5.3.6",
"@storybook/core-events": "^5.3.6",
"@storybook/theming": "^5.3.6",

[2020-01-18 19:47] patricklafrance commented on #9518
@shilman the issue occurs when I specify one of these:

[code]

[2020-01-18 19:48] atanasster commented on #9516
As a reference point, Here is a similar use case as yours, and i am avoiding circular references inside the repo:

https://github.com/atanasster/grommet-controls/blob/master/src/components/Avatar/doc/Avatar.stories.tsx

[2020-01-18 20:15] orlov-vo commented on #6364
@ozanmanav did you try import it in `.storybook/config.js`?

[2020-01-18 21:09] CodeByAlex commented on #9288
@dfagan2 + @Terrafire123 Quick solution if you want a full refresh of the iframe:
refresh: button('Refresh', () => { document.location.reload(); })

It works like a charm!

[2020-01-18 22:23] rijkvanzanten commented on #6738
I tried both, doesn't seem to make a difference

[2020-01-19 00:51] #8990 closed

[2020-01-19 00:51] #8820 closed

[2020-01-19 00:51] #8741 closed

[2020-01-19 00:51] #8114 closed

[2020-01-19 00:51] #8162 closed

[2020-01-19 01:21] ArrayKnight opened #9534 "Update or expose maxDepth for telejson"
**Is your feature request related to a problem? Please describe.**
I'm working on building an addon and when trying to pass graphql-tag DocumentNode(s) through parameters, data is lost (stringified) at a certain depth and queries are rendered useless.

**Describe the solution you'd like**
I'd like to be able to set the max depth (via register config?)

**Describe alternatives you've considered**
I

[2020-01-19 01:28] shilman commented on #6738
@rijkvanzanten I tried adding your example to our `vue-kitchen-sink` and could not repro. Can you check your setup?

https://github.com/storybookjs/storybook/commit/ee29dbaf0aaf01a95f94bc88a6f9e6276653acaf

[2020-01-19 01:30] shilman commented on #9532
@ndelangen any ideas?

[2020-01-19 03:36] ArrayKnight commented on #9534
Update: It may actually be as simple as adding the same maxDepth option to the parse call:
https://github.com/storybookjs/storybook/blob/next/lib/api/src/lib/store-setup.ts#L12

It appears that options are not shared, and need to be passed to both:
https://github.com/storybookjs/telejson/blob/master/src/index.ts#L378

50 may be enough, though I wouldn't mind it being higher just in case.

[2020-01-19 08:22] tmeasday commented on #9498
😨

[2020-01-19 08:58] shilman commented on #9528
I think this might be a service issue on Now. @ndelangen WDYT?

[2020-01-19 09:10] whitebackdoor7 commented on #9528
Still broken for me.

[2020-01-19 10:04] shilman commented on #9528
@whitebackdoor7 the deployed content is wrong. The links themselves are correct

[2020-01-19 10:05] tscolbert commented on #9518
I'm having this same issue. I removed node_modules, cleared localStorage, and I don't have a .cache to remove. Is there anything else I can do to get the --docs mode to work?

[2020-01-19 10:37] shilman commented on #9518
Are you using the `options` global parameter like @patricklafrance mentioned above?

[2020-01-19 11:04] whitebackdoor7 commented on #9528
Right @shilman

[2020-01-19 12:01] soullivaneuh opened #9537 "[addon/knobs] Use default value of a Svelte component"
**Is your feature request related to a problem? Please describe.**

I created a Svelte component with some props containing default value:

[code]

It allows the component to be customizable when it need to be.

To make it more interactive on Storybook, I setup the knobs addons like this:

[code]

It works, but all the field are empty:

![empty slots](https://user-images.githubusercontent.com/1698

[2020-01-19 12:17] gaetanmaisse commented on #7855
I hope this one https://github.com/storybookjs/storybook/pull/9536 will fix this `@types/webpack-env` issue for good!

[2020-01-19 12:31] gaetanmaisse commented on #7855
And https://github.com/storybookjs/storybook/pull/9538 should fix @astorije issue with `npmlog` types.

[2020-01-19 12:51] #8656 closed

[2020-01-19 15:50] MateusAndrade commented on #9511
Thanks @Zunaib , applying the docs-gen at webpack fixed that.

For anybody having this problem, you just need to add a docs gen for TS after you TS loader. Like that:

[code]

Then it worked like a charm! 💃

<img width="991" alt="Screen Shot 2020-01-19 at 12 49 39" src="https://user-images.githubusercontent.com/15278828/72683862-35d98f80-3aba-11ea-8a59-d7307322cf07.png">

[2020-01-19 16:24] codenoobforreal opened #9539 "npx -p @storybook/cli sb init failed"
I was following "Setup React Storybook" part of "Storybook for React tutorial"

"npx create-react-app taskbox" is fine,
I create my app successfully and use "cd taskbox" go into the project folder
finally, run 'npx -p @storybook/cli sb init' and it failed

error log below

[code]

![image](https://user-images.githubusercontent.com/18373253/72684346-e4152180-3b1a-11ea-9cf7-955251194351.png)

it see

[2020-01-19 16:25] codenoobforreal commented on #9539
feel sorry about this bigger text...i didn't notice until now.

[2020-01-19 16:34] Zunaib commented on #9511
Happy To Help

[2020-01-19 16:35] mAAdhaTTah commented on #9470
Looking at the PR, if you're running into this issue, you can use this in `moduleNameMapper`: `    'react-syntax-highlighter/dist/esm/(.*)': 'react-syntax-highlighter/dist/cjs/$1',` which will remap the esm `require`s to `cjs` ones. This got me around the issue until the PR is merged and released.

[2020-01-19 17:00] Zunaib commented on #9518
@patricklafrance is right, works without the
```options```.
But if you don't want canvas at all, why would you want a panel position ?
Anyways i think panel position has a preference over the --docs tag.

[2020-01-19 17:06] tscolbert commented on #9518
@Zunaib changing the options doesn't make any sort of difference for me.

Right now my config is only

[code]

And I'm still having the issue, after again repeating what @shilman suggested.

Could it be an issue related to to using typescript w/ react?

[2020-01-19 17:11] Zunaib commented on #9518
Can you show me you files in .storybook/ folder and the storybook version.
Might suggest a fix

[2020-01-19 17:13] patricklafrance commented on #9518
@Zunaib

This is because I deploy 2 storybook, one with Stories & one with Docs only. They both share the same config.

I fix it by not setting the options when I compile my SB for docs only, but I don't see why it wouldn't be fine out of the box?

[code]

[2020-01-19 17:14] Zunaib commented on #9518
This should be looked into then by the Storybook Team. I'd try tr reproduce it and get back.

[2020-01-19 17:21] Zunaib commented on #9518
How's your file structure, is it the new one. Have you migrated yet to new files ?

[2020-01-19 22:33] 779g commented on #9415
5.3.6, broken as well. I have tried to install `babel-plugin-react-docgen` with no luck. I have also updated the preset as recommended in the [version docs](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#from-version-52x-to-53x)

[2020-01-19 23:37] soullivaneuh opened #9542 "svelte: Unable to load an external svelte components (.svelte files)"
**Describe the bug**
I cannot import svelte module from external components library like this one: https://gitlab.com/nexylan/svelty

**To Reproduce**
Steps to reproduce the behavior:
1. Follow Svelty installation (`package.json` edit). (For my case, I put it on `dependencies` because I want it installed while my library is added, but `devDependencies` causes the same issue).
2. Try to import and

[2020-01-20 01:46] pocka commented on #9491
You can now parse an SFC including named exports with `vue-docgen-api: >=4.6.0`.

[2020-01-20 01:46] #9491 closed

[2020-01-20 01:49] dennis8844 opened #9543 "please allow for a 'manager-body.html" to append to the parent window body"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I'd like to add some script at the bottom of the page, and some elements. This way I can wrap the root div in vanila js to hide it and show a login button if the session is not logged in.

**Describe the solution you'd like**
A clear and c

[2020-01-20 01:53] brianbento commented on #9415
Try copying your babel config in your root to your `.babelrc` in your `.storybook` folder.

I think this fix is also now broken in 5.3.6

[2020-01-20 02:18] patricklafrance commented on #9415
If your component doesn't have any docgen info then, for sure it will not work.

There are a few possibilities:

- You haven't setup the [docs presets](https://github.com/storybookjs/storybook/tree/next/addons/docs#preset-options) correctly

- You are using TypeScript and you haven't configure the [Typescript or CRA  presets correctly for docs](https://storybook.js.org/docs/presets/introduction/).

[2020-01-20 03:28] tmeasday opened #9544 "Legacy "selectedName=$name" query parameter doesn't work if story name/id is different"
**Describe the bug**

As we naively map the name to an "story id part" using `toId()` we don't factor in the possibility the story has a non-automatic name.

**To Reproduce**
[code]

1. Browse to http://localhost:6006/iframe.html?selectedKind=kind&selectedName=Default
2. Notice it redirects you to http://localhost:6006/iframe.html?id=kind--default

**Expected behavior**
It should redirect you to t

[2020-01-20 04:41] Moonachi opened #9546 "Where is the stories.js 'parents' file?"
Where is the stories.js 'parents' file?
For example, if this is React, it is the App.js file.

The reason I want to know this file is because I think it is inefficient to put the provider in all the stores when I use storybook-addon-apolo-graphql.

This is my package.json devDependencies
  "devDependencies": {
    "@babel/core": "^7.8.3",
    "@storybook/addon-actions": "^5.3.3",
    "@storybook/a

[2020-01-20 06:26] shilman commented on #9491
@pocka do we need to make changes in storybook?

[2020-01-20 06:31] pocka commented on #9491
@shilman No, just re-installing vue-docgen-api (after removing lockfile) then it should work! (https://github.com/storybookjs/storybook/blob/next/addons/docs/package.json#L73)

[2020-01-20 07:01] #8838 closed

[2020-01-20 07:20] shilman commented on #8078
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.7 containing PR #9513 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-20 07:20] shilman commented on #9394
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.7 containing PR #9525 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-20 07:20] shilman commented on #9544
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.7 containing PR #9545 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-20 07:20] shilman commented on #7855
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.7 containing PR #9538 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-20 07:20] #9544 closed

[2020-01-20 07:38] gaetanmaisse commented on #7855
Reopening this issue, it should/will 🤞  be fixed by #9536.

[2020-01-20 08:17] robcaldecottvelo opened #9551 "Update @storybook/react react-dev-utils dependency to v10"
**Storybook 5.3.6**

We have a fairly complicated yarn monorepo and are seeing build problems when using node 12 on MacOS due to an old version of `fsevents` that is ultimately being pulled in via the v9 `react-dev-utils` dependency of `@storybook/react`. However, `react-dev-utils` is now at v10 (and is the version used by `create-react-app` v3.3.0) and we believe this will help address the `fseve

[2020-01-20 08:54] papeloto commented on #9394
Just upgraded to v5.3.7

![image](https://user-images.githubusercontent.com/36263538/72712059-99bb9100-3b6a-11ea-8e70-7cc87a1d1e3b.png)

Now false values don't show up 😂
[code]

[2020-01-20 09:30] blind76 commented on #9444
Hi

something like this: https://github.com/koldy/ui/blob/master/src/components/Table/Table.js

[2020-01-20 09:35] mrmckeb commented on #6574
Hi @akeating, are you using the new standalone preset?

[2020-01-20 09:51] fleischsalod commented on #8161
Issue was fixed in #9158 by @umar-ahmed  💯

[2020-01-20 09:51] #8161 closed

[2020-01-20 09:58] Terrafire123 commented on #9288
@CodeByAlex  @shilman

Hey, CodeByAlex.

Thank you for the suggestion, but apparently the issue wasn't explained well, and it doesn't solve the problem with Knobs, **at all**.

The expected result is that the page should be re-rendered using **the current value of the knobs**.

The code you suggested reloads the page, but when it reloads the page, two problems occur.

1. Knobs reset to their defau

[2020-01-20 10:01] #8668 closed

[2020-01-20 10:01] #8823 closed

[2020-01-20 10:05] RavilM commented on #9428
I also expect this.
Interesting possible to add name to story.
`<Meta
 title="DesignSystem | Components" (name in menu and story)
 id="781e6e22-e3d2-4ca7-835b-a8b65095bfc0" (url to story)
/>
<Story
 name="MyButton" (name in menu and story)
 id="321-432df34-321" (url to story) >
    <SimpleButton />
</Story>
`

[2020-01-20 10:19] dbenfouzari commented on #7916
By doing this `disableWebsockets: true` Storybook server does not work anymore

[2020-01-20 10:25] #8343 closed

[2020-01-20 10:37] Pain-and-Love opened #9553 "stories displays none after trigger auto refresh"
**Describe the bug**
after auto refresh, other stories displays none;
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'OverView.stories.tsx'
2. change the``` OverView.story = { name: 'OverView111' }``` or any other modify can trigger the Chrome auto refresh
3. back to the Chrome waiting for the refresh
**Expected behavior**
A clear and concise description of what you expected to happen.

[2020-01-20 10:48] SimonSch opened #9554 "NPM/Yarn Cannot find the latest version"
**Describe the bug**
When trying to install the lastest versions(+5.2.8) via npm or yarn I get an error message that it is not able to find the package.

**To Reproduce**
Steps to reproduce the behavior:
1. Add "@storybook/angular" to package.json
2. run install
3. See error

**Expected behavior**
The latest version is found and installed

**Screenshots**
`Couldn't find any versions for "@storyboo

[2020-01-20 11:08] Jiavan opened #9555 "Support config addons panel position"
**Is your feature request related to a problem? Please describe.**
Addons panel it's always appear to the page bottom, when I run `yarn storybook`, but I want to rendering it at right side forever. Now I just can only click the `change orientation` button to change it.

**Describe the solution you'd like**
Addons panel's position is configurable, add options in main.js or CLI.

**Describe alternat

[2020-01-20 11:30] kylemh opened #9556 "Docs addon fails to render props table when source code uses default export types"
**Describe the bug**
In a TypeScript React (non-CRA) setup with the Docs addon and the `react-docgen-typescript-loader`, the props table will not work if you use the React default export's properties for type definitions.

(Please ignore the fact that the example uses React.FC. It's still an issue outside of [this](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#reactfc-interfaces)

[2020-01-20 11:34] kylemh commented on #9467
It also won't catch the default in this case (at least it isn't for me)

[2020-01-20 11:37] kylemh commented on #9467
It's not about any import, it's about using types stemming from a default export.

https://github.com/storybookjs/storybook/issues/9556

[2020-01-20 13:05] Roen00 commented on #4844
What's the status this issue? Should we worry about these warnings?

[2020-01-20 13:19] mckn commented on #9326
I have the same issue

[2020-01-20 13:24] ndelangen commented on #9242
Found some problem kinda caused by this:
https://calendar.google.com/calendar?cid=OGQwdTcwc25vc2NmZDhsNmdpazZvNzNrMjBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ

[2020-01-20 13:31] mckn commented on #9326
So I got it resolved by removing the react-is from the workspace package.json. See if it helps.

[2020-01-20 13:59] ndelangen commented on #9242
I'm seeing 2 errors in the manager, 0 in the preview.

1 error is related to emotion. The emotion plugin seems to add a property to an object that already has that exact property. A duplicate property is a fatal error in IE11 😭

the second error seems to do with some code in node_modules not being IE11 friendly, graphiql has dependencies on some packages that have destructuring in them.

---

I ha

[2020-01-20 14:20] owen26 commented on #8023
Replicable with the following:

My Angular project has a configuration in `angular.json` similar to the following:

[code]

This make storybook complains "options has an unknown property "includePaths".

My guess is that my current Angular project (8.2.14) relies on a `sass-loader` of version 7+, but sotrybook (5.3.6) relies on version 8+ which introduced breaking change to option's validation sch

[2020-01-20 14:40] kushalmahajan opened #9558 "Support for links in props addon-info"
I'm using `"@storybook/react": "^5.2.6"` and  `"@storybook/addon-info": "^5.2.6"`. What I would like is the ability to mention links inside the comments in my description.

Now, below is an attempt to do so

[code]
But this renders text only version.  The above is an example taken from JSDoc.  Please guide for a
solution or an alternative.

[2020-01-20 14:43] jcousins-ynap commented on #9462
How did you downgrade? This package isn't in my list of dependencies.

[2020-01-20 14:49] LeeBurton commented on #9163
I am having exactly this issue too. For instance, I am loading source code for the stories using the "addon-storysource" addon, and trying to overwrite it for some stories using "withSource(source)". The withSource content is being overwritten by the code loaded by the loader. For this use case, it would also be resolved by being able to execute the local decorators first.

Or should this not be t

[2020-01-20 14:53] 779g commented on #9415
@patricklafrance THanks, Patrick, unfortunately this didn't work.

=> yarn storybook --debug-webpack gives me the following, which is, I suspect, the default storybook babel configuration, that executes added to my user settings defined in `babel.config.js`in the root of `/myproject`.
[code]

As you can see, the docgen plugin is actually loaded. I have tried, without much understanding, to copy my

[2020-01-20 15:00] jcousins-ynap commented on #9462
I solve the `mini-css-extract-plugin` error by adding `@storybook/preset-create-react-app` to my addons, but then that breaks all by stories.

`Module parse failed: Unexpected token` with the error pointing to a JSX component.

<details>
  <summary>Full error</summary>
  WARN ./components/paragraph/paragraph.stories.js 25:29
  WARN Module parse failed: Unexpected token (25:29)
  WARN You may need

[2020-01-20 15:01] lpoulter opened #9559 "[addon-docs] Interactive prop table on docs page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
For doc only mdx projects it would be nice to make the prop table interactive similar to knobs but built into the props table and on the docs page.

**Are you able to assist bring the feature to reality

[2020-01-20 15:04] akeating commented on #6574
Yes I'm using `@storybook/preset-create-react-app`

[2020-01-20 15:07] michaelmior commented on #9462
@jcousins-ynap In my case, I'm using yarn, so I used the [resolutions](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/) feature. This allows you to override the version of a nested dependency. [Here](https://github.com/michaelmior/relational-playground/blob/0499449132c62cdec6056bb7a4d4d8f25245a0b1/package.json#L93) is the relevant part of my `package.json`.

[2020-01-20 15:21] mrmckeb commented on #6574
Thanks @akeating, can you please raise an issue against that preset (https://github.com/storybookjs/presets/issues) with any details you can provide? I can take a look this week and resolve.

[2020-01-20 15:32] Roen00 commented on #7318
I am facing the same issue with storybook v5.3.7 and angular 8.2.14 :(

[2020-01-20 15:41] LeeBurton commented on #8297
@shilman @igor-dv @libetl

I created a pull request with a fix for the issue I described above:

    https://github.com/storybookjs/storybook/pull/9561

If you try to use `withStorySource(source)` in `addDecorator`, and the '@storybook/source-loader' is added to the storybook webpack config, with "injectDecorator" set to true, the story decorators are executed first, then overwritten by the decora

[2020-01-20 16:06] Roen00 commented on #8023
I followed the tutorial and I got tons of issues. Could somebody try to setup the project with the newest angular and sass?

[2020-01-20 16:19] chachaxw commented on #9462
I fixed it by adding `@storybook/preset-create-react-app`
[how to config it](https://www.npmjs.com/package/@storybook/preset-create-react-app)

- `./.storybook/main.js` (for Storybook 5.3.0 and newer)

[code]

[2020-01-20 16:26] costalvaro commented on #7318
Did you try using @markushall workaround?
Sure it's not perfect but at least it permits to move on. ;)

[2020-01-20 16:55] atanasster commented on #8297
@LeeBurton thanks for taking the time to file this pull request.

For 6+, storybook is moving away from addDecorator: https://github.com/storybookjs/storybook/issues/9506 and I just filed a refactor of source-loader here: https://github.com/storybookjs/storybook/pull/9547

Would you like us to work together on adapting your use case to use parameters instead of addDecorator with the new code base?

[2020-01-20 17:03] HoraceKeung commented on #9468
It works and would like to share the following info from my experience in case of any misunderstanding:
1. The comment for the description should be inside the Vue single file component, not in the story
2. The comment must be right above this line of code: `export default {`
i.e.
[code]
The above will work and the below will not
[code]
3. It won't work if the story is written with MDX

[2020-01-20 17:06] rijkvanzanten commented on #6738
This is happening for me in a pretty big project. Let me try to delete everything but the storybook story so you have an accurate reproduction 👍

[2020-01-20 17:17] jcousins-ynap commented on #9514
This has broken the storybook for my lerna mono repo.

[2020-01-20 17:35] liamross commented on #8342
Just bringing up my question again, not sure if anyone has this information:

"I am wondering if there are any plans to allow you to set knobs within docs without having to go back to canvas?"

[2020-01-20 17:43] Roen00 commented on #7318
@costalvaro I am not really sure where exactly I need to put it.
I am not using Jest.

[2020-01-20 18:11] akeating opened #9562 "Unexpected peer dependency on vue in a react app"
In my create-react-app, I have configured `@storybook/addon-docs` and I see the following warning:
[code]

I'm reluctant to install `vue` into a react app when I wasn't planning on using it. At the same time I tend to want to resolve all warnings so this is bothering me. Am I missing some configuration option? This seems a borderline bug to me, but I'm not sure sure if it's a configuration issue,

[2020-01-20 18:13] ndelangen commented on #9242
I'm able to get it to work right now by changing the webpack config:

[code]

[2020-01-20 18:19] atanasster commented on #8297
An example of using storySource parameters:
https://github.com/storybookjs/storybook/pull/9547/files#diff-f9e4c1787dc63502454a68f7ff88245c

[2020-01-20 18:42] ndelangen commented on #9242
related?:
https://github.com/storybookjs/storybook/issues/7540

[2020-01-20 18:47] arfa commented on #8342
Yes That is what I am doing. `Docs` with description of the cases of my component and any other additional informations. And `canvas` with `knobs` to manipulate `props`.

[2020-01-20 18:52] arfa commented on #8342
I think it is a good idea to keep docs for documentation and isolate the canvas to manipulate the component. but may be one canvas for all the stories.

[2020-01-20 19:11] akeating commented on #9562
Ah I guess this is related to https://github.com/storybookjs/storybook/issues/4764. I suppose the same warnings exist for those not using, for example, typescript. I'm going to close this in light of the other discussion, but am continuing to examine options to using storybook without warnings. In general I don't want developers on my teams getting comfortable with ignoring warnings.

[2020-01-20 19:11] #9562 closed

[2020-01-20 19:33] soullivaneuh commented on #9542
Here is the workaround I found:

[code]

Put that on the `install` script, it generate the compiled js file to get StoryBook working.

Still, it is possible to load `.svelte` files directly with rollup and webpack.

Maybe a missing configuration/loader on the Storybook compiler? Which one do you use?

[2020-01-20 19:52] robphoenix opened #9564 "font file URL wrong for imported font package"
**Describe the bug**
I'm using an installed typeface package, similar to [typeface-roboto](https://www.npmjs.com/package/typeface-roboto) in my *create-react-app* app.
I'm importing it for use in storybook in *.storybook/preview.js*, `import 'typeface-roboto'`. This works fine when running storybook with `start-storybook`. However when I build it, storybook is trying to load the font from the wron

[2020-01-20 20:18] jimmyfortinx commented on #8943
@shilman @JeffGuKang I just tried in our project and we are facing this issue after moving from v5.2.8 to v5.3.7. We would like to upgrade to solve #8613 but we blocked by this issue.

On Android, after opening Storybook it always shows the first story after reloading the page even if we added the `shouldPersistSelection: true` flag to `getStorybookUI({ ... });`. On v5.2.8 we didn't have this issu

[2020-01-20 20:30] LeeBurton commented on #8297
We are using the HTML version to include web components, rather than React, so I guess that we are a little limited with what we can do in the stories.

It would be useful if I could somehow set a parameter within the stories, then access that parameter within a global decorator to emit an event to update the source panel.

Currently, the only solution I have found is to emit the event in the stor

[2020-01-20 20:32] LeeBurton commented on #8297
Plus, this should also be tagged as a bug, I guess.

[2020-01-20 20:57] atanasster commented on #8297
@LeeBurton - did you check the example, it does not use events at all and this makes it to also work for the docs tab (the source-loader events were only working for the StorySource panel):

[code]

[2020-01-20 21:16] philippe-lavoie commented on #8926
I created a pull request to fix this #9567

[2020-01-20 21:16] ArrayKnight commented on #9534
I initially thought this was part of:
https://github.com/storybookjs/storybook/blob/next/lib/api/src/lib/store-setup.ts#L8

But now I think it's actually:
https://github.com/storybookjs/storybook/blob/next/lib/channel-postmessage/src/index.ts#L78

[2020-01-20 21:42] LeeBurton commented on #8297
I’ll explain a little more about what I’m trying to achieve, as I’m not sure how this helps with my problem.

The story uses a template string with our custom elements, such as:

`<my-grid
    title=“my title”
    rows=3>
</my-grid>`

and I am then populating it with data by setting the “data” attribute.

So I need to document our grid component HTML code, but also the necessary code populating va

[2020-01-20 22:31] ckknight opened #9568 "addons-info: supply options to react-element-to-jsx-string"
**Is your feature request related to a problem? Please describe.**
I want to nicely-render elements such as `<Suspense fallback={...}>{...}</Suspense>`, but it renders as `<Symbol(react.suspense) fallback={...}>{...}</Symbol(react.suspense)>`

**Describe the solution you'd like**
I would like to provide the `displayName` option to `react-element-to-jsx-string` (imported as `jsxToString`) to be abl

[2020-01-21 00:48] shilman commented on #9467
Closing this in favor of #9556. Thanks @kylemh!!

[2020-01-21 00:48] #9467 closed

[2020-01-21 00:50] shilman commented on #4844
@Roen00 no need to worry about these issues. At some point we'll need to do a refactor to address this, but it's low on our priorities.

[2020-01-21 00:52] shilman commented on #9558
`Addon-info` is being superceded by `addon-docs`, which fixes a bunch of bugs and is easier to maintain. Please give it a try! https://medium.com/storybookjs/storybook-docspage-e185bc3622bf

[2020-01-21 00:54] shilman commented on #9163
@LeeBurton if you're using MDX, this might help https://github.com/storybookjs/storybook/issues/7479#issuecomment-575309548

[2020-01-21 00:54] atanasster commented on #8297
Thanks @LeeBurton I think we can have a 'dynamic' `storySource` parameter - ie a function that will be called at runtime, so you can entirely customize what source code to display for the developers.

@shilman - any thoughts?

[2020-01-21 00:57] shilman commented on #9559
Totally agree! Closing as a dupe to #6639

[2020-01-21 00:57] #9559 closed

[2020-01-21 01:03] shilman commented on #9468
@HoraceKeung thanks! for MDX, you should be able to do:

[code]

[2020-01-21 01:06] shilman commented on #8342
@liamross #6639 is coming, probably in a 6.x release.

[2020-01-21 01:15] diego06884 commented on #5526
@worc I am getting the same error. Were you able to fix it on your end?

[2020-01-21 01:17] shilman commented on #8297
@atanasster @LeeBurton Parameters cascade, so global parameters can be overridden at a story level, just as you have done in your comment above @atanasster . I don't think we need to do anything special to support user configuration. Maybe just better documentation on how to do it.

[2020-01-21 01:29] shilman commented on #9568
`Addon-info` is being superceded by `addon-docs`, which fixes a bunch of bugs and is easier to maintain. Please give it a try! https://medium.com/storybookjs/storybook-docspage-e185bc3622bf

We're still happy to merge contributions to `addon-info` tho, if you're stuck using it and want to enhance it. 😄

[2020-01-21 01:43] ranndev opened #9570 "addon-jest: Test error logs on dark theme"
**Describe the bug**
Can't see the logs due to low contrast of text.

**To Reproduce**
Steps to reproduce the behavior:
1. [Enable the dark mode](https://storybook.js.org/docs/configurations/theming/#global-theming)
2. Add the [@storybook/addon-jest](https://github.com/storybookjs/storybook/tree/master/addons/jest)
3. Add the test results with failed tests
4. Check the error logs

**Expected behav

[2020-01-21 02:47] shilman commented on #9551
@robcaldecottvelo mind submitting a small PR for that?

[2020-01-21 02:48] Moonachi commented on #9546
Self answer : use preview.js
reference url : https://storybook.js.org/docs/addons/introduction/

[2020-01-21 02:48] #9546 closed

[2020-01-21 02:58] shilman commented on #9554
Try clearing your yarn cache? There are multiple 5.3.x versions on NPM:

https://www.npmjs.com/package/@storybook/angular

[2020-01-21 03:00] shilman commented on #9555
See `panelPosition` parameter: https://storybook.js.org/docs/configurations/options-parameter/

[2020-01-21 03:00] #9555 closed

[2020-01-21 03:01] #8981 closed

[2020-01-21 03:15] shilman commented on #9543
shouldn't need to be messy: https://github.com/storybookjs/storybook/blob/next/lib/core/src/server/utils/template.js

[2020-01-21 03:15] danvim commented on #9326
@mckn I don't believe I have `react-is` installed though. I currently still have to use `cd x && yarn storybook` for it to work. Let me see if rerunning yarn upgrade works.

[2020-01-21 03:22] SoloJiang opened #9572 "In README, rax example online link is not found"
**Describe the bug**
https://storybooks-rax.netlify.com/ this link is not found.

**To Reproduce**
Click README **Supported Frameworks** table.

**Expected behavior**
A real link

[2020-01-21 03:25] Moonachi opened #9573 "If file merge, it's not excute (addons, preset -> main)"
**addon.js**
import "@storybook/addon-actions/register";
import "@storybook/addon-links/register";
import "@storybook/addon-knobs/register";
import "@storybook/addon-console";
import "@storybook/addon-a11y/register";
import "@storybook/addon-docs/register";
import "storybook-addon-material-ui/register";

**presets.js**
module.exports = ["@storybook/addon-docs/preset"];

**preview.js**
import { con

[2020-01-21 03:35] shilman commented on #9573
Try removing these lines. Does it still error?

[code]

[2020-01-21 03:36] shilman commented on #9573
Also, you probably want:

[code]

NOT

[code]

[2020-01-21 04:11] #8965 closed

[2020-01-21 04:11] Moonachi commented on #9573
The above 2 addons applied automatically?

[2020-01-21 04:39] ranndev opened #9575 "addon-docs: "No props found for this component" when component is exported in camelCase"
**Describe the bug**

Props table is empty when the default exported variable of the component file was in the camel case format.

**Code snippets**

Here is my MDX file:

*icon-button.stories.mdx*
[code]

And here is my component:

**Not working when the default exported variable is "iconButton"**

*icon-button.tsx*
[code]

**Not it works after I changed the default exported variable to "iconbutt

[2020-01-21 06:35] iiroj opened #9576 "@storybook/addon-storyshots supports only main.js"
**Describe the bug**

The `getMainFile` method of the _storyshots_ addon has a hardcoded name for the new configuration style for version 5.3 of `main.js`. This prevents usage of TypeScript, for example, where the file is `main.ts`.

You can see the file name here: https://github.com/storybookjs/storybook/blob/76c3f3a6403aeeac6175a4d086c7b35c087f0d52/addons/storyshots/storyshots-core/src/framework

[2020-01-21 07:15] AlekseyPn commented on #9468
@HoraceKeung Thanks!!!

[2020-01-21 07:15] #9468 closed

[2020-01-21 07:41] tommyc38 commented on #9103
@shilman thank you for your quick response.  My wife went into labor with our twins the minute you responded haha.  At any rate, I found the issue...I was using SBv5.3.6 which doesn't seem to support Docs just yet.  SBv5.3.5 works just as expected.  Thanks again!

[2020-01-21 07:52] LeeBurton commented on #8297
1. `withSource(...)` doesn’t work when the source loader is used in webpack. It injects a decorator which overwrites the value set by the `withSource` decorator. The same goes for `storySource` added to a story’s parameters...

2. How can parameters be updated dynamically within a story?

[2020-01-21 08:05] SimonSch commented on #9554
Tried that already, still have the same issue. Tried it on another computer  and have the same problem.

[2020-01-21 08:11] abnerlee commented on #1178
@ndelangen I searched the doc, but I cannot find how to do this in your doc, so which doc should I refer to?

[2020-01-21 08:22] LeeBurton commented on #9163
@shilman Thanks for the swift response.

We are not currently using MDX and don’t have a lot of time right now to refactor everything. How could this be resolved without MDX?

[2020-01-21 08:25] cloakedninjas commented on #7855
Just checked and sadly **5.3.7** hasn't fixed it, still seeing those reference errors in

- `@storybook/client-api/dist/client_api.d.ts`
- `@storybook/client-api/dist/config_api.d.ts`
- `@storybook/addon-storyshots/dist/frameworks/Loader.d.ts`

[2020-01-21 08:34] Zunaib commented on #9575
you need to do export const abc (if in camelCase)

[2020-01-21 08:39] kushalmahajan commented on #9558
I know @shilman. I have an update about from you earlier. I did read this medium article and had some observations and questions a while back. You might find it interesting. The very same concerns are holding me to upgrade to it plus thinking if full flown site like Gatsby is a way to go.

Importantly,  are you saying that for a definitive that`addon-docs` will have the link feature I asked for he

[2020-01-21 09:19] eriktoyra commented on #9493
@atanasster Thank's for looking that up! It seems you are correct. But the purpose of `displayName` is not to be used as a "component lookup" alternative to the actual component name. As per the [official documentation](https://reactjs.org/docs/react-component.html#displayname) its purpose is to be used for _displaying_ an alternative component name when debugging.

Given the fact that this bug do

[2020-01-21 09:35] themre opened #9580 "Gatsby + TS + Storybook gives 'babel-preset-react-app' error"
Storybook does not run when I try to use it inside Gatsby with TypeScript.

**To Reproduce**
Steps to reproduce the behavior:
1. Use https://github.com/gojutin/gatsby-starter-typescript-deluxe
2. Modify webpack.config.js:
[code]
3. Run `yarn build` and then `yarn storybook` (otherwise there is an babel error)
4. See error:
[code]
[code]

**System:**
Stroybook: 5.2.5
gatsby: 2.17.9
gatsby-plugin-ty

[2020-01-21 09:35] jorenbroekema commented on #9366
Since this is still open, I would like to add something.

We have a white label component library that we extend to a design system. Essentially, the white label components have MDX docs to start with already. We then extend those in our internal design system, and we add some extra stories. These extra stories appear under the same section in the sidebar menu (because same meta title) but the Doc

[2020-01-21 09:44] ian-callaghan opened #9581 "Storybook does not resolve .graphql file imports"
**Describe the bug**
Storybook cannot import .graphql files. I'm trying to use `graphql-tag/loader`, which I'm using in a react create project that uses typescript. It works fine in the app itself but when running storybook it does not resolve correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a storybook project
2. Add graphql/tag to webpack config (info below)
3. Include an

[2020-01-21 09:46] chrisdunnbirch commented on #9516
Maybe it is, I don't really know. It seems to make sense that that is a good idea.

There are often cases where I need to import multiple components for use in a story and whereever possible I prefer to keep my code clean. For example `import { A, D, M, N } from "components";` is much cleaner than:

[code]

Regardless of what is best practice, I've been using Storybook for around a year and this e

[2020-01-21 09:56] shilman commented on #9573
No, perhaps one of them has an incompatibility with 5.3

[2020-01-21 09:57] shilman commented on #9576
The file is never `main.ts`, at least for now.

[2020-01-21 09:59] shilman commented on #9103
Congratulations!!! 🎉 (on both fronts, but more on the twins -- that's amazing!!!)

[2020-01-21 10:04] shilman commented on #8297
you can create separate stories for each state that you want to show. in the future we may try to support more interaction scenarios, but we have our hands pretty full with doing a great job of simply showing every state. you can also link between stories with `addon-links` to fake interactivity.

[2020-01-21 10:04] HoraceKeung commented on #9468
@shilman Thank you! Would like to mention that in Vue, it is `import Component from './component';`, also I think it should be `import { Description } from '@storybook/addon-docs/blocks';` Speaking of docs blocks, I couldn't find documentation regarding all the available docs blocks, but I guess it is coming soon on this page? https://storybook.js.org/docs/formats/mdx-syntax/

[2020-01-21 10:30] LeeBurton commented on #8297
I greatly appreciate the hard work you guys are doing, but any assistance in achieving my goals would be greatly appreciated. My client is a government department responsible for building web components that various other government departments can use, and we are trying to convince them that Storybook is the best choice for documenting their components for developers in the other departments. If

[2020-01-21 10:52] shilman commented on #9554
@SimonSch i can't repro, and we have over 50,000 people installing `@storybook/angular` each week, so I don't know what to say.

[2020-01-21 10:54] shilman commented on #9163
@LeeBurton MDX support became official in 5.3. Updating the documentation now:

https://medium.com/storybookjs/rich-docs-with-storybook-mdx-61bc145ae7bc

[2020-01-21 11:07] shilman commented on #8297
As far as I know it's not possible to update parameters dynamically this way.

@atanasster and @ndelangen have been working on powerful addon APIs (shared state hooks) that could make sharing state between stories & addons much easier. It might be fairly easy to implement your use case using that shared state hook, and not have to deal with the entirety of storysource for that purpose.

[2020-01-21 11:08] LeeBurton commented on #9163
Thanks. That may help us. We are currently looking into using MDX and seeing if we can get it working. Hopefully, that’ll make things somewhat easier :-)

[2020-01-21 11:22] ndelangen commented on #6208
Yeah I think it's better to continue with `web-components` only in the long term.

Do you agree @daKmoR ?

[2020-01-21 11:26] daKmoR commented on #6208
jup, I agree - only polymer 2 (superseded by polymer 3 & lit-element) applications would still need it - HTML imports are not going to happen and that is the only reason you would stick with `@storybook/polymer`.

[2020-01-21 11:40] iiroj commented on #9576
Thanks for the reply, @shilman. I assume it then works by accident? I’ll update my repo.

[2020-01-21 11:58] SimonSch commented on #9554
After cleaning my yarn cache, deleting all node_modules, invalidating caches in Intellij and restarting it seem to have finally worked. Could have also been a internal infrastructure problem on my side.

[2020-01-21 11:58] #9554 closed

[2020-01-21 12:34] aizerin opened #9582 "Docs tab shows 'no code available' when using dynamic title for story"
**Describe the bug**
When creating story with dynamic title, story shows no code available.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create story with dynamic title
2. Start storybook
3. See the docs tabs

**Expected behaviour**
Code will be available

**Screenshots**

![image](https://user-images.githubusercontent.com/18553162/72805215-a0bdce80-3c52-11ea-874b-3ea4f133eea3.png)

**Co

[2020-01-21 12:38] aizerin opened #9583 "Code preview with CSF Stories with MDX Docs shows only imported function"
**Describe the bug**
When creating story according to this recipe https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/recipes.md#csf-stories-with-mdx-docs

**To Reproduce**
Steps to reproduce the behaviour:
1. Create story by recipe mentioned above
2. Start storybook
3. See the docs tabs

**Expected behaviour**
Code will be available from real story

**Screenshots**

![image](https

[2020-01-21 12:46] aizerin opened #9584 "CSF Stories with MDX Docs does not take decorators from csf stories"
**Describe the bug**
When defining decorators in CSF stories then they are not applied in MDX. Which is wrong according to

https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/recipes.md#csf-stories-with-mdx-docs

**To Reproduce**
Steps to reproduce the behaviour:
1. Create story by recipe mentioned above and add decorator
2. tart storybook
3. See the docs tabs

**Expected behaviou

[2020-01-21 13:02] shilman commented on #9558
@kushalmahajan Yes, I believe it exists or there is a good workaround. More importantly, if it doesn't exist there is a non-zero chance it will be added. In `addon-info`, it's likely that the only way you'll get the feature is if you add it yourself. It's good to upgrade to docs because it's much better than `addon-info` AND it's being improved very rapidly with every release. And of course if Sto

[2020-01-21 13:03] shilman commented on #7855
@gaetanmaisse Yes, in the day hopefully.

[2020-01-21 13:23] ndelangen commented on #9528
Yeah the script to build-storybooks is broken on now.sh, though it works locally & on CircleCI.

This isn't the first time now.sh has some issue (presumably cache).

It's a bit frustrating to say the least.

[2020-01-21 13:24] kushalmahajan commented on #9558
x

[2020-01-21 13:27] kushalmahajan commented on #9558
Ok @shilman. I will have a deeper look.

[2020-01-21 13:27] #9558 closed

[2020-01-21 13:32] shilman commented on #9366
@jorenbroekema I think yours is a pretty special use case. Actually Docs is super-configurable to handle cases like this, but through configuration rather than built in:

https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/docspage.md#replacing-docspage

And here are some examples of that:

https://github.com/storybookjs/storybook/blob/next/examples/official-storybook/stories/addon

[2020-01-21 13:39] shilman commented on #9584
Yeah, you'll need to add those decorators yourself in MDX.

[2020-01-21 13:40] ndelangen commented on #6208
Shall we just not update app/polymer anymore (and therefore remove it from the monorepo in 6.0.0) ?

[2020-01-21 13:42] aizerin commented on #9584
Ok, so this sentence from docs is no longer valid? I can update it.

`The MDX loader is using story metadata from CSF, such as name, decorators, parameters, but will give giving preference to anything defined in the MDX file.`

[2020-01-21 13:44] shilman commented on #9576
Does it really work?! 😱  If so, sorry for the misinformation.

[2020-01-21 13:46] shilman commented on #6208
YES PLEASE! 🙏

[2020-01-21 13:49] shilman commented on #9468
@HoraceKeung thanks, fixed. yes docs coming soon 🙈

[2020-01-21 13:50] ndelangen commented on #6208
consider it done, kinda sorry for @kroeder 's efforts to migrate it to TS

[2020-01-21 13:52] sinkz opened #9586 "addon-docs: Props doesn't work when using React.memo."
**Describe the bug**
I trying show the props in docs page using `<Props of={Component}/>` in .mdx file. But i receive this message **"No props found for this component"**

**To Reproduce**
Steps to reproduce the behavior:
1. Create Component in React and wrapped this with React.memo
2. Run Storybook and open docs tab
3. The prop table does not appear

**Screenshots**
![ex1](https://user-images.git

[2020-01-21 13:52] shilman commented on #9584
Ouch. That section is wrong. 🙈 I'll update it now, can you review the PR for me?

[2020-01-21 13:55] aizerin commented on #9584
Sure

[2020-01-21 14:01] shilman commented on #6208
it'll go to `storybook-eol` repo?

[2020-01-21 14:04] shilman commented on #9586
Unsatisfying workaround is to also export your pure component and use that for documentation purposes

[2020-01-21 14:06] ndelangen commented on #6208
I'd have to extract it out, I don't know if I can do that preserving history, and all.

It will take more time. And for what gain exactly?

[2020-01-21 14:09] jimmyfortinx commented on #8943
Finally, I took the time to create the repository where I was able to reproduce the issue.

https://github.com/jimmyfortinx/storybook-bug-rn

And to help understand the issue I did record a short video where we see the issue (at the end we have been redirected to `Welcome/to Storybook` screen instead of `Button/with Text` screen):

![storybook-bug-rn](https://user-images.githubusercontent.com/1602

[2020-01-21 14:12] atanasster commented on #8297
@LeeBurton as michael mentioned, its not possible to modify parameters dynamically.
However we can add a dynamic property source that would allow you to do pretty much the same thing. The best thing would be if you can join and test the upcoming sb6 alphas and give us feedback on the discord channel until me make it work as best as we can for your use case.

[2020-01-21 14:22] iiroj commented on #9576
Well, at least `start-storybook` and `build-storybook` seem to run fine with a `main.ts`. I was having trouble only with the `@storybook/addon-storyhots` not finding any stories.

For now I've gotten along by converting to `main.js`, but having everything typed would be nice, of course.

Looking at the source, it seems `main` is required here without a hard-coded extension:

https://github.com/sto

[2020-01-21 14:42] shilman commented on #5030
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.0 containing PR #9020 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-21 14:42] shilman commented on #5949
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.0 containing PR #8822 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-21 14:42] shilman commented on #7980
Great Caesar's ghost!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.0 containing PR #7981 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-21 14:42] shilman commented on #8126
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.0 containing PR #8883 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-01-21 14:42] shilman commented on #8686
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.0 containing PR #9123 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-21 14:42] shilman commented on #8926
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.0 containing PR #9567 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-21 14:42] shilman commented on #9394
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.0 containing PR #9560 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-21 14:42] #5949 closed

[2020-01-21 14:42] #7980 closed

[2020-01-21 14:42] #8686 closed

[2020-01-21 14:42] #8926 closed

[2020-01-21 14:42] #9394 closed

[2020-01-21 14:42] shilman commented on #3346
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.0 containing PR #8822 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-21 14:42] #3346 closed

[2020-01-21 14:42] shilman commented on #9397
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.0 containing PR #9398 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-01-21 15:01] ndelangen commented on #9528
I'm attempting to migrate (back) to netlify for the examples

[2020-01-21 15:23] vidarc commented on #9481
adding in showRoots worked out. ended up having some stories that I didn't convert over (still had | instead of /). think that was the main cause for the Others grouping? works great now though

[2020-01-21 15:25] chrisdunnbirch commented on #9516
@atanasster I'm not sure what you mean by library, do you mean internally within Storybook? I think I'm confused because in my specific case our components are not in a separate library, they are in the same project as the application itself so "internally in the library" and "users of the library" is the same thing.

To clarify, do you mean that any component which is exported from `src/component

[2020-01-21 15:26] atanasster commented on #9516
ah, sorry for confusing.
Yes, I meant that if A is exported from 'src/components/index.js', it should not import from that same file but instead do a relative import.

[2020-01-21 15:28] LeeBurton commented on #8297
Okay, thanks. Unfortunately, I’m too much under pressure with my client’s project at the moment. If I have more time later, I’d love to help. When is v.6.0 release planned?

When will my bug fix pull request likely be merged to fix the storySource event parameters to the correct format? Currently my workaround won’t work without these changes merged...

[2020-01-21 15:32] #9481 closed

[2020-01-21 15:43] kushalmahajan opened #9588 "Show Code is not visible in adddon-docspage"
**Problem** - No code available after setup in React Typescript setup
**Screenshot** below

<img width="1280" alt="Screenshot 2020-01-22 at 2 07 56 PM" src="https://user-images.githubusercontent.com/11805936/72878543-260fb480-3d21-11ea-975c-74b86adb2df8.png">

**Context** - migrating from `addon-info` to `addon-docs`

I will quickly share my setup files

**main.js**
[code]
**config.js**

[code]

N

[2020-01-21 15:48] shilman commented on #6208
Probably into its own repo with a big fat deprecation warning at the top of the README. We can't just start deleting packages without warning. We need to deprecate the packages and give users time to migrate off. This means that for some amount of time, users need to be able to submit bugfixes or security fixes. I don't care if we have the github history preserved -- if people really want they can

[2020-01-21 15:49] poblouin commented on #9472
Let me know if you guys if you need more info

[2020-01-21 15:52] chrisdunnbirch commented on #9516
Webpack should figure everything out for you but yeah that seems like a sensible approach in general.

It is worth noting again, for anyone readin now, that the error doesn't appear in either the development or production application. It only appears in Storybook (wrongly I believe).

[2020-01-21 15:58] shilman commented on #9516
Yeah, I think something changed in 5.3 (maybe in `preset-cra`? cc @mrmckeb) that is causing these kinds of idiosyncrasies to show up all of a sudden.

[2020-01-21 16:11] #9015 closed

[2020-01-21 16:18] dennis8844 commented on #9543
Cool. I a virgin to commiting to a project like this, but sure! I see the getPreviewBodyHtml grabs a base template. Would A base template need to be created or should I do something else with the base? like grab the manager index or the root div?

[code]

[2020-01-21 17:20] shilman commented on #9394
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.8 containing PR #9560 that references this issue. Upgrade today to try it out!

[2020-01-21 17:20] shilman commented on #7855
¡Ay Caramba!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.8 containing PR #9536 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-21 17:20] shilman commented on #9041
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.8 containing PR #9097 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-21 17:20] #7855 closed

[2020-01-21 17:20] #9041 closed

[2020-01-21 17:41] mfulton26 opened #9589 "react: Apostrophes in strings are rendered incorrectly"
**Describe the bug**
Apostrophes are rendered as `&#39;` instead of as `'`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://storybooks-official.netlify.com/?path=/story/addons-knobs-withknobs--tweaks-static-values
2. Click on **Knobs**
3. Change **Name** from "Storyteller" to "Mc'Storyteller"
4. See error rendered on the **Canvas**: `My name is Mc&#39;Storyteller`

**Expected b

[2020-01-21 18:16] ptocheia commented on #9462
I was also having this issue. Downgrading `mini-css-extract-plugin` to 0.7.0 in devDependencies, and adding `"mini-css-extract-plugin": "0.7.0"` to my resolutions fixed this for me.

[2020-01-21 18:52] aareman commented on #9415
I have the same issue, but i don't use the import() syntax.

[2020-01-21 19:29] RuneKR commented on #3566
Someone looked into this yet? I will implement a POC next week. Would imagine the POC working like this in CSF:

[code]
I will then create a webpack plugin to attach source code following a specific glob/regex `(such as *.source.tsx`) and put it in storybook like done in:

https://github.com/storybookjs/storybook/blob/da303c5151e724551fb4b04f1ad0cbcf3e03359d/lib/source-loader/src/client/preview.js

[2020-01-21 21:03] papeloto commented on #9395
This has been solved so far, so thank you so much and great work! :heart:

[2020-01-21 21:03] #9395 closed

[2020-01-21 23:30] 779g commented on #9586
I ran into the same problem and found a solution some time ago: add the proptypes to the memo'ed component and you will be fine. Also I believe this has less to do than storybook than with the way the PropTypes work.

[2020-01-22 01:37] shilman commented on #3566
cc @atanasster

[2020-01-22 01:46] joelstransky commented on #8342
I still don't see the point of having Knobs UI in Docs. Would it still be an add-on tab? Would it be one set of knobs that controls all the stories with Knob params or would a Knob UI need to be appended to every story? Why not include a few more stories showing the important variations? I'm not saying it's pointless, just doesn't seem like a high priority.

[2020-01-22 02:09] threehams commented on #7902
Here's an example and error message. Unfortunately, it's upstream like you noted in the link. I've hit it about a dozen _different_ ways while trying to use MDX stories, as it's a significant-whitespace issue, and both `prettier` and my editor strip out trailing whitespace.

Example:
[code]

Error:
[code]

Error: Two linebreaks in an object prop:
[code]

Error:
[code]

[2020-01-22 02:10] atanasster commented on #3566
@RuneKR - we are in the process of refactoring source-loader #9547 and this should be done easier with the new code base. Do you want us to work together on implementing this feature?

[2020-01-22 03:05] pocka commented on #9542
@soullivaneuh
Your package's `main` and `module` fields rely on `dist/` which does not exist. Try using a `prepare` hook instead of `prepublishOnly`. The `prepublishOnly` hook won't run when the package is installed as git dependency.

If you expected to Storybook to resolve to the file specified in `package.json#svelte`, [configuring `resolve.mainFields`](https://github.com/sveltejs/svelte-loader

[2020-01-22 03:34] RuneKR commented on #3566
Yeah that would be great. I will have a look at your current progress!

[2020-01-22 04:47] #9000 closed

[2020-01-22 05:33] sami616 opened #9591 "Addon docs fails to render prop table correctly when type is imported from a .tsx file (.ts works as expected)"
Works 👍  (table shows both `other` and `foo` props)

[code]

---

Doesnt work 👎🏼 (table doesnt render at all)

[code]

---

Doesnt work 👎🏼 (table renders, but shows `foo` as type `any`)

[code]

[2020-01-22 05:35] sami616 commented on #9591
ps - this is a contrived example, you might wonder why i dont just change `Bar.tsx` to `Bar.ts`, reason being - in my real app i have a component declared in it too

[2020-01-22 05:47] #9022 closed

[2020-01-22 06:17] kevin940726 commented on #9329
Looks like we already have a set of components like in https://github.com/storybookjs/storybook/blob/da303c5151e724551fb4b04f1ad0cbcf3e03359d/addons/docs/src/blocks/mdx.tsx#L185-L202
So now we need to _slugify_ the text content into `id`? Since the content is evaluated in run time, how should it suppose to do that 🤔?

[2020-01-22 06:36] shilman commented on #9415
@779g I'm confused about your config above. The docgen plugin needs to run on your components, not your stories, so the rule you've included isn't valid. It's great that you solved your problem, but I just want to point that out in case it saves other people headaches.

[2020-01-22 06:43] shilman commented on #9591
What's your setup? Is this a webpack configuration issue?

[2020-01-22 08:04] #9573 closed

[2020-01-22 08:22] sami616 commented on #9591
Hi @shilman im not using a weback config, my `main.js` looks lilke this:

This is a react setup (without CRA)

[code]

and my `tsconfig-sb.json` is as follows:

[code]

[2020-01-22 08:24] sami616 commented on #9591
One thing that might be worth noting is that all my storybook deps are updated to latest versions, apart from `@storybook/preset-typescript` updating this to `1.2.0` broke my build so have downgraded to `1.1.0`

[2020-01-22 08:47] #8778 closed

[2020-01-22 09:44] #9584 closed

[2020-01-22 10:00] thany opened #9592 "addon-docs: No props for some components"
**Describe the bug**
Some components storybook cannot find/display props for.
I've scraped a couple of issues concerning this, but found no solution. It seems I've found another situation yet, where storybook is unable to show props.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a component
2. Make it complex or something maybe?
3. Hope that it doesn't show props
4. ...?

Sorry, I rea

[2020-01-22 10:16] LeeBurton commented on #8297
@atanasster When I set the `storySource.source` parameter, it does nothing. It just says “Loading source...” 😳

[2020-01-22 10:21] atanasster commented on #8297
@LeeBurton - are you trying the PR, its not yet merged.

If yes, please try the html-kitchen sink example https://github.com/storybookjs/storybook/pull/9547/files#diff-f9e4c1787dc63502454a68f7ff88245c

[2020-01-22 12:45] JamesIves commented on #8342
For me at least It's not so much about making the knobs visible in the docs so much as it's making the previews that are generated as an outcome useful. Otherwise you end up with a bunch of component previews with business logic in them.

Originally we wanted to define all of our stories in our docs (still using Canvas for addons) but we had to move away from that approach in favor of the `stories

[2020-01-22 12:52] ahdigital opened #9593 "When using addon-docs with multiple embedded stories the toolbar disappears"
**Describe the bug**
The toolbar which normally shows buttons to zoom in | out | reset and open story in new tab are missing from the top of my stories, apart from one.

It looks like once this toolbar has been rendered once, for one story in my app any other story doesn't have it.

This is my first time using Storybook, and the addon-docs plugin following the Git docs. The framework is Angular.

[2020-01-22 13:55] lidoravitan opened #9594 "docs: what are the differences between `main.js`, `preview.js`, `manager.js`?"
### Issue
Can't find any documentation about what the difference between `main.js`, `preview.js`, `manager.js`.
when should I use/choose each one? what are their lifecycle (I mean do they load before/after the env)?

[2020-01-22 14:24] eriktoyra commented on #9592
@thany: I would try the following:

1. Move the props interface to the same file as `FormInputUpload`. If that doesn't work, you may rule out #9205.
2. Make sure that you haven't set a `displayName` for your component. Using a `displayName` will cause the problem I have in #9493.
3. If possible, post the code from `FormFieldUpload` in this issue and I will try to help you from there.

[2020-01-22 14:31] ndelangen commented on #6208
https://github.com/storybookjs/polymer

[2020-01-22 14:36] bathan opened #9595 "Color Picker Knob displaying underneath other color buttons"
**Describe the bug**
When using multiple `color` selectors on same story, it displays oddly.

**To Reproduce**
Write a story that has more than 1 `color` picker/prop.

**Expected behavior**
All color pickers should display on top of other elements.

**Screenshots**
When having multiple color props, the picker displays only on top of the one it was called from.

<img width="693" alt="Screen Shot 20

[2020-01-22 14:58] erickzanardo commented on #9183
Thanks for tagging me guys, sounds good, I started Dashbook because since Storybookjs is heavily focused on JavaScript, I could not see a Flutter runtime fitting here.

So I created it with a similar API which the original storybook is built on, so it is easy for anyone coming from storybookjs, to use Dashbook.

I would be honored to work alongside/get support of the StorybookJS team @shilman. I w

[2020-01-22 15:22] LeeBurton commented on #8297
@atanasster I don’t understand what you mean by “are you trying the PR”... which PR?

And still no response regarding `withSource` not working and being overwritten by the Webpack-injected decorator. From what I understand, the injected one should execute and set the parameter first, and `withSource` overwrite it...?

[2020-01-22 15:32] mrtraser commented on #8078
Indentation still wrong for `*.mdx` files in storybook v5.3.8

Source:
<img width="518" alt="Screenshot 2020-01-22 at 17 29 38" src="https://user-images.githubusercontent.com/24567091/72907693-01c1d100-3d3d-11ea-9bc5-503a5de26a0c.png">

Result:
![Screenshot 2020-01-22 at 17 29 22](https://user-images.githubusercontent.com/24567091/72907673-f1115b00-3d3c-11ea-9af6-6229e37c7144.png)

[2020-01-22 16:00] HoplaGeiss commented on #810
Naive question - Is this fix also implemented for @storybook/angular?

[2020-01-22 16:24] kelly-tock commented on #9445
ok, I figured it out while creating a repro case. our webpack config was preventing isomorphic fetch from using the version it wanted to. storybook core is using 2.6.0, and isomorphic fetch is still on 1.0. so fetch was expecting node fetch to be the 1.0.

[2020-01-22 16:24] #9445 closed

[2020-01-22 16:50] kelly-tock commented on #9445
https://github.com/lquixada/cross-fetch/issues/15 was my inspiration for fixing this issue.

[2020-01-22 16:55] matthewcm opened #9598 "Addon Docs not compiling MDX"
**Describe the bug**
Addon Docs is not compiling MDX

Module build failed (from ./node_modules/@mdx-js/loader/index.js):
SyntaxError: Unexpected character '#' (3:0)
    at Object.raise

main.js
[code]

Button.stories.js

[code]

Button.stories.mdx
[code]

**System:**
[code]

**Additional context**
The Docs tab on each component is working. However this error comes as soon as I add an MDX file.

[2020-01-22 17:05] iansan5653 commented on #9523
I'm seeing the same issue with `5.3.8`. Elements have the styled-components class names and they have access to the global theme context, but none of the components are styled in any way. No errors in console or on build.

[2020-01-22 17:08] joelstransky commented on #8342
Can you elaborate on this?

Great looking code there btw. Maybe it's my level of experience with Storybook but I don't understand this. I define everything in a single MDX and get both a Canvas tab where I can play with add-ons and a Docs tab that renders my MDX in full. Is it that docs contaminate the canvas or visa versa? I can definitely understand wanting more control over content, just hasn't

[2020-01-22 17:14] tobias-kuendig commented on #9576
I can confirm this problem. Since the update to 5.3 the following storyshots test file does no longer find any stories:

[code]

I also use a `main.ts`.

[2020-01-22 17:23] JamesIves commented on #8342
The biggest reason we have to separate the two out is mostly due to how the preview code gets generated. As knobs require a function the value gets rendered in the preview as that, instead of what the result of that function produces.

[code]

In our markdown file we generate document specific versions that have more context around why they are being displayed that don't use knobs to prevent this

[2020-01-22 17:34] joelstransky commented on #8342
Thanks for elaborating!
Yes, I hate seeing add-on code in the sample. Maybe storybook needs a babel extension.
And yah, seems like a simple prop could flag a story as "Docs only". Similar to the OP's point of needing to be able to dictate if knobs should render controls next to MDX stories.

[2020-01-22 17:47] #8570 closed

[2020-01-22 18:09] AkhmedovValikhan commented on #9162
having the same issue with unejected CRA,
`SyntaxError: /Users/valikhan.akhmedov/Documents...: Decorators are not enabled.
If you are using ["@babel/plugin-proposal-decorators", { "legacy": true }], make sure it comes *before* "@babel/plugin-proposal-class-properties" and enable loose mode, like so:`

[2020-01-22 18:12] atanasster commented on #8297
@LeeBurton - yes i meant the listed PR from above.

That PR is meant for 6.0 and @shilman would know about the merging, but i think he is currently very busy with the 5.3 updates.

[2020-01-22 18:15] AkhmedovValikhan commented on #9162
What has worked for me, is removing new separate "preset-create-react-app" and rely on old built-in one, althought I am getting deprication warnings it compiles everything without decorator errors

[2020-01-22 18:35] JamesIves commented on #9598
Seeing this on build also after the latest update.

[2020-01-22 18:47] #8575 closed

[2020-01-22 19:30] iansan5653 commented on #9523
I was able to work around this by disabling "speedy" mode in styled-components by adding the following to my `webpack.config.js` for Storybook:
[code]

[2020-01-22 19:55] shannontan-bolt commented on #8686
Apologies everyone! Somehow, I missed all the notifications for this hence no response.

Thanks for getting the fix in!

[2020-01-22 20:06] MaxMilton commented on #8686
@shilman thanks for the release, great to see some movement here!

I am concerned that it's in a major alpha version. This means we'll need to run an unstable storybook just to get the fix. Not sure it's something that warrants a major/breaking change.

Could we get the change added to `v5` in a patch/bugfix version instead?

[2020-01-22 22:07] jivane-perich opened #9600 "Unable to define / surcharge sass variable in global scss loaded using inline-loader"
**Describe the bug**

I'm using storybook for angular, and my project is using bootstrap.

I have a themable component (using $primary and $secondary scss variables of bootstrap), and I'm trying to switch between themes.

In order to visualize the component for each theme, I add the inline loader as per  https://storybook.js.org/docs/configurations/default-config/#css-support and I'm loading varia

[2020-01-22 22:46] zslabs opened #9602 "addon-docs MDX: State management"
I may have overlooked this since the docs are still being worked on for MDX, but what's the way to manage state in my stories using MDX? Right, now, I'm importing a component that handles the state management in a normal `.js` file, but then the code examples are a bit lackluster in the `<Preview />` window:

[code]

[2020-01-22 23:03] adhiravishankar commented on #9183
Couldn't Flutter work if it was first converted to Javascript. I know that portion is still in alpha, but that could be a possibility??

[2020-01-22 23:05] hipstersmoothie commented on #8321
This issue constantly pops up as a build error. The way emotion core augments the global makes for a very not-fun experience

[2020-01-22 23:07] erickzanardo commented on #9183
That is a good question @adhiravishankar, my first thought is that it won't work, as the way Flutter web is converted has a very peculiar structure, but I could be wrong, I haven't ventured myself a lot on the web.

But either way, even if it works, it wouldn't run on mobile/desktop devices. And a flutter/dart runtime is still worth IMO.

[2020-01-22 23:20] hipstersmoothie commented on #8321
I think my new error is coming from addon-knobs including the types for @emotion/core as a type reference starting in this release

https://unpkg.com/browse/@storybook/addon-knobs@5.3.0-alpha.3/dist/components/types/index.d.ts

[2020-01-22 23:26] adhiravishankar commented on #9183
It should be possible because Flutter/Dart seems to be a more advanced version of something like Svelte (could be wrong, haven't dealt into either much). But since Dart itself compiles down to JS if need be, it shouldn't be as big of an issue as it would be if there needed to be a bridge of some sort between Storybook and the Dart runtime.

[2020-01-23 00:10] hipstersmoothie commented on #8321
I am now just using patch-package to nuke the emotion types, as they only cause me problems

[2020-01-23 00:39] apalaniuk commented on #9496
[It still works](https://github.com/storybookjs/storybook/blob/97a4aad4587ac975fd814c22a136f8293b72fc12/examples/web-components-kitchen-sink/.storybook/preview.js), but then you're also moving some declarative config from `main.js` into `preview.js`, which is a bit odd. It would be nice to have a callback that's provided module/req so you can do post-config tweaks, or something.

[2020-01-23 00:40] izhan opened #9604 "Overriding header text of Stories in addon-docs?"
**Is your feature request related to a problem? Please describe.**
A small nit! It's more common for engineers at my company to talk about "examples" or "usage" rather than "stories". I'd like to change some copy to avoid confusion.

**Describe the solution you'd like**
I'd like to change this header text from `Stories` to something else:
<img width="1114" alt="Image 2020-01-22 at 4 35 22 PM" src=

[2020-01-23 01:14] shilman commented on #8321
@hipstersmoothie can you submit a PR to remove them, as a conversation starter?

[2020-01-23 01:16] shilman commented on #8686
@MaxMilton will do!

[2020-01-23 01:35] shilman commented on #9602
You can use hooks in MDX stories:

https://github.com/storybookjs/storybook/blob/master/examples/official-storybook/stories/demo/button.stories.mdx#L30

[2020-01-23 01:36] shilman commented on #9598
Not seeing this in our monorepo. Can somebody provide a public repro?

[2020-01-23 01:37] shilman commented on #9162
cc @mrmckeb

[2020-01-23 01:39] shilman commented on #8297
I can probably merge/release an alpha today, but I want to do another review & test it first. Juggling a lot.

[2020-01-23 01:45] shilman commented on #9576
So `main.ts` works -- played around with it yesterday -- tho AFAICT support for it is entirely accidental. @mrmckeb and I played around for a few minutes and couldn't figure out WHY it works (that `serverRequire` is doing something tricky cc @igor-dv ). At any rate, will merge the fix. Thanks @iiroj !!!

[2020-01-23 01:47] shilman commented on #810
@HoplaGeiss yeah, it's a knob thing, so should be framework-independent

[2020-01-23 01:56] shilman commented on #9592
@thany sorry for the hassle on this. turns out that reliably displaying props across 1000 different configurations and language features is not an easy thing. fortunately `react-docgen@5` supports typescript, so we can halve that number in 6.0 (and clean up/document most of these cases). thanks for your patience!

[2020-01-23 01:58] shilman commented on #9594
@lidoravitan can you review this PR and add questions as comments there?

[2020-01-23 01:59] #9049 closed

[2020-01-23 02:03] shilman commented on #8959
@Kosai106 do any of the examples in `cra-ts-kitchen-sink` help you out? if not, can you add a repro there and i can take a look?

[2020-01-23 02:08] shilman commented on #9591
And I'm assuming that you've tried making both `Other.tsx`'s identical, just to remove that variable and insure that it's entirely due to the file suffix?

[2020-01-23 03:02] jayknott opened #9605 "Addon Storyshots Puppeteer: allow viewport per kind or story"
**Describe the solution you'd like**
Enable specifying a viewport per kind or story so that when imageSnapshot() is used you can size the images to something that makes sense for your component. For small components like a checkbox you might only want a 100x100 viewport, but for a list or a page you might want 900x900 so that way the diff comparisons are more accurate. This can be done in the stor

[2020-01-23 03:03] anwalkers opened #9606 "enum defined in a type definition file (.d.ts) cause build failure"
**Describe the bug**
If an enum is defined in a .d.ts file it causes the build to fail.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/anwalkers/ngx-storybook-type-bug
2. Download the repo and run `npm run storybook`
4. See error

**Expected behavior**
I would expect enum to be supported in TypeScript definitions files.

**Screenshots**
![image](https://user-images.

[2020-01-23 03:04] anwalkers commented on #8961
@AssisrMatheus Could this bug be related to #9606 ??

[2020-01-23 04:56] atanasster commented on #8342
@JamesIves and other participants - you make great points. We are adding to the csf story format, and with sb6+ the properties(knobs) will be created in a declarative way and without and addon code in the story, so this should address your main concerns.
here show you would write your knobed stories in 6.0:
[code]

Additionally, we can add a second tab to the <Soure /> preview component to display

[2020-01-23 05:49] dependabot-preview[bot] opened #9607 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/examples-native/crna-kitchen-sink/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/acc

[2020-01-23 05:49] dependabot-preview[bot] opened #9608 "Dependabot couldn't find a package.json for this project"
Dependabot couldn't find a package.json for this project.

Dependabot requires a package.json to evaluate your project's current JavaScript dependencies. It had expected to find one at the path: `/examples-native/crna-kitchen-sink/package.json`.

If this isn't a JavaScript project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com/acc

[2020-01-23 05:53] joelstransky commented on #8342
I certainly wouldn't mind a <Knobs> literal component. something like:

[code]

[2020-01-23 05:57] atanasster commented on #8342
Yes, that would be the goal, sth

[code]

[2020-01-23 07:02] sami616 commented on #9591
Not sure I follow? Examples 1 and 2 are identical apart from the file extension for `Bar` changing

[2020-01-23 07:53] shilman commented on #9183
I think there's a lot we can do here, depending on how much horsepower is available.

Let me give a little context with the React Native project, which has recently split into its own repo: https://github.com/storybookjs/react-native

Storybook initially supported both React and RN. RN ran as an app on the device and interfaced with Storybook's web server. Storybook's addons ran in the browser and

[2020-01-23 08:01] shilman commented on #9591
Ah sorry, was looking at Examples 1 and 3 due to "scrolling error" on my laptop screen 😂

[2020-01-23 08:05] shilman commented on #8342
Nothin' but ❤️ 's for this work @atanasster. Heroic! 🥇

[2020-01-23 09:11] thany commented on #9592
@eriktoyra I have tried those things.
1. The interface in the same file or not makes not difference. It's actually kind of weird if it would, I feel. I would think the docgen for typescript "just" takes whatever typescript also provides to intellisense, but I'm sure it's more complicated than that.
2. We don't use displayName. They get generated pretty well, usually 😎
3. Due to intellectual proper

[2020-01-23 09:34] Kosai106 commented on #8959
@shilman I'll try and see if I can make time to create a small reproduction for you today.

[2020-01-23 09:59] ndelangen commented on #8321
What's the way forward for us? What do we need to change to fix this? Do you have any points for us @hipstersmoothie ?

[2020-01-23 10:06] ndelangen commented on #9496
@daKmoR @alazurenko The code to deal with stories HMR when configured with `main.js` is right here:
https://github.com/storybookjs/storybook/blob/a6c2a85183e3701c8f73003b0df4d62c540ce771/lib/core/src/client/preview/start.js#L493-L502

As you see, we know exactly which framework we're in, so we can do a bit of framework dependent HMR handling code.

Would you be able to open a PR @alazurenko ?

[2020-01-23 10:15] ndelangen commented on #9283
Hey @lkopacz, perhaps this issue would be something you'd be keen to investigate?

[2020-01-23 10:31] alazurenko commented on #9496
Alright, I think this setup would be beneficial for HTML and Web Components.

[2020-01-23 10:36] ndelangen commented on #1178
This issue is 2 years old, I lack the exact context of your question @abnerlee.

Can you elaborate what you're asking?

[2020-01-23 10:44] stephenkoo opened #9610 "Next.js + TypeScript + Storybook compatibility issues"
**Describe the bug**
Following the TypeScript instructions & recommended config in the [Storybook docs](https://storybook.js.org/docs/configurations/typescript-config/) results in ` TS2769: No overload matches this call` errors when running `build storybook` with Next.js.

Specifically in my [Next.js setup](https://github.com/stephenkoo/aesther/compare/sk/feat-add-storybook):

1. `/src/stories/0-W

[2020-01-23 11:04] ndelangen commented on #9498
I added this to my todo list

[2020-01-23 11:05] ndelangen commented on #9532
Adding this to my todo list

[2020-01-23 11:13] ndelangen commented on #6633
We can do a breaking change in 6.0.0 and improve this behaviour.

@jeffryang24 @ashoksudani @jono-allen @lydell

Would you be interested in taking this on?

[2020-01-23 11:15] ndelangen commented on #9443
Added to my todo-list

[2020-01-23 11:20] ndelangen commented on #9421
I'll add this to my todo list, @jonniebigodes is this repo the way to reproduce the problem?:
https://github.com/jonniebigodes/updated-intro-to-storybook-with-svelte

[2020-01-23 11:27] ndelangen commented on #9495
@sw-yx I'm looking at repro-react-storybook-specs-addon-bug.netlify.com but I'm seeing this:

<img width="1121" alt="Screenshot 2020-01-23 at 12 25 09" src="https://user-images.githubusercontent.com/3070389/72980748-6c294e80-3ddb-11ea-90af-5bebfdecbd5b.png">

I'm not seeing a specs panel at all. Nor do I see any errors in the console.
https://repro-react-storybook-specs-addon-bug.netlify.com/?path

[2020-01-23 11:33] shilman commented on #9592
@thany actually `addon-info` is not technically deprecated yet. but it will be soon, and definitely an evolutionary dead end at this point, so i definitely migrating off at your earliest convenience!

[2020-01-23 11:47] shilman commented on #9610
@stephenkoo don't know if this will fix your problem, but the custom webpack config with `webpackFinal` is probably conflicting with `preset-typescript`, which  is doing mostly the same thing (but using `ts-loader`). that certainly can't be helping things.

[2020-01-23 12:03] #8972 closed

[2020-01-23 12:10] ndelangen commented on #9285
No update yet, any help you could offer would be greatly appreciated!

[2020-01-23 12:19] ndelangen commented on #9226
Sorry for the confusion

[2020-01-23 12:22] ndelangen commented on #6505
@mrmckeb did CRA end up allowing for more loose versions of its dependencies?

Can we tell users that upgrading to the latest CRA + Storybook resolves the issue?

[2020-01-23 12:23] ndelangen commented on #729
@pocka right, I think the cssresources addon can be vastly improved in that department. Do you feel like taking that on?

[2020-01-23 12:25] ndelangen commented on #4600
@Edd-Strickland we added storybook for web-components & in 6.0.0 storybook for polymer will be deprecated / not updated anymore.

Is there anything there needs to be done to make storybook for web-components work for stencil components?

[2020-01-23 12:27] ndelangen commented on #9191
I remember debugging this a while ago, can't remember if it's fixed. I'll add this to my todo-list to check what needs to happen.

[2020-01-23 12:29] LarsDenBakker commented on #4600
The web components storybook can render stencil components, but stencil isn't able to run in the browser as is and needs to be compiled. Therefore it still needs some special handling, unless you compile the stencil components before running storybook.

[2020-01-23 12:32] ndelangen commented on #4600
@LarsDenBakker is it a matter of adding a webpack plugin / loader to get the above to work. ( I imagine it's desired to make stencil component HMR & compile dynamically )

[2020-01-23 12:37] LarsDenBakker commented on #4600
Yes, although stencil itself uses rollup. If the compile step can be used as a separate project, you could make it into a webpack plugin perhaps. I don't know enough about the internals for that.

[2020-01-23 12:37] Edd-Strickland commented on #4600
Stencil doesn't use Webpack. It uses Rollup instead.

It's possible using the repo I set up to have both working accordingly and enable HMR equivalent in Stencil with the -watch call.  So that stencil reloads when stencils updated and that Storybook reloads when it's updated.

So no need to build out each time as this will cover it.

Whilst I'v e not had time recently to update the repo with the l

[2020-01-23 12:39] Edd-Strickland commented on #4600
yes it still doesn't really account for live reload/ HMR because as detailed above the differences between webpack use and roll up use so at present if you want to use the SB WC version then it requires a full build of stencil in order to render then all the goodness of HMR is lost to stencil.

This version is currently based on the HTML version not the polymer version so this shouldn't impact on

[2020-01-23 12:42] shilman commented on #9191
I'm pretty sure we fixed this @ndelangen but it's possible that the fix doesn't work for HTML or that it somehow to got lost in the shuffle.

[2020-01-23 12:42] Edd-Strickland commented on #4600
I wouldn't advise it, the webpack version of Stencil is a significantly more difficult development path and increases the dependancies footprint without any need, As show in the repo I produced it's perfectly possible to have stencil running in watch most which recompiles live on every change of the WC or the SB instance.  It's about configuring it to allow both.

[2020-01-23 12:43] Edd-Strickland commented on #4600
There is already a stencil WP plugin however this isn't a supported or community approved dependancy.

[2020-01-23 12:48] shilman commented on #6208
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.1 containing PR #9596 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-01-23 12:48] shilman commented on #9041
¡Ay Caramba!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.1 containing PR #9097 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-01-23 12:48] #6208 closed

[2020-01-23 12:53] romulocintra commented on #4600
cc @jthoms1

[2020-01-23 13:27] tweetzal opened #9611 "REACT demo broken"
**Describe the bug**
The react demo is broken.
When I clicke it, it just shows:

404: NOT_FOUND
Code: RESOURCE_NOT_FOUND
ID: lhr1:49fkm-1579785960719-17bc0f2c5c01

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://storybook.js.org/docs/basics/live-examples/
2. Click on 'React'

**Expected behavior**
Should show react demo of storybook

**Screenshots**
If applicable, add screenshot

[2020-01-23 13:29] shilman commented on #9611
closing as dupe to #9528

[2020-01-23 13:29] #9611 closed

[2020-01-23 14:03] jeffu92 commented on #9556
My understanding is that this has been an issue for a while and is due to the limitations of `react-docgen-typescript-loader`, due to its reliance on `react-docgen-typescript`.

The limitations are called out at https://www.npmjs.com/package/react-docgen-typescript-loader#limitations and https://github.com/styleguidist/react-docgen-typescript#example.

I would love for this to be addressed too if

[2020-01-23 14:45] more-v-kaple opened #9614 "Browser history broken"
Hey guys! Thank you for this product and contribution to its development.
Please, help me to figure out what I'm doing wrong or if such a feature is not supported,  help with enhancing the functionality for the particular business case.

**Issue details**
Business case:
We have a page with search results. After user interaction with search filters, we make a new data fetch, update search results a

[2020-01-23 14:49] JamesIves commented on #8342
Amazing! This will be a game changer for us!

[2020-01-23 15:11] shilman commented on #9556
@jeffu92 are you familiar with `react-docgen`'s typescript support? we're hoping to move to that in 6.0 to simplify things and hopefully address some of these issues.

[2020-01-23 15:26] pocka opened #9615 "Addon-docs: Options for vue-docgen-api"
**Is your feature request related to a problem? Please describe.**
For now, we can't pass options to vue-docgen-api. It's necessary when you use a module alias (e.g. `@` for a project root) and import files with it in a component file.

**Describe the solution you'd like**
Add a property something like `vueDocgenOptions` to addon-docs' preset option.

[code]

**Describe alternatives you've conside

[2020-01-23 15:30] an-parubets commented on #7770
I was have same error with v5.1.9.
In my case it was fixed with upgrading all storybook packages to v5.3.8.

[2020-01-23 15:30] sw-yx commented on #9495
wow, you're right - it disappeared in production?! i think i did have it while in dev. even weirder :(

[2020-01-23 15:36] pocka commented on #729
@ndelangen
Yes :smiley:

By the way, what do you think about letting users to write raw-webpack-query? (like `!to-string-loader!...`) I think we need a lot of black magic in the addon code if we want to get rid of this...

[2020-01-23 15:39] ndelangen commented on #729
I think we support babel-macros by default, so users could be using [macro-preval](https://github.com/kentcdodds/preval.macro) to inject file-contents into the bundle as well?

[2020-01-23 15:39] jeffu92 commented on #9556
@shilman Not particularly, unfortunately. I just ran into this issue myself recently, so figured I'd share what I found.

[2020-01-23 15:41] ndelangen commented on #9495
@sw-yx it's on the wish-list to revamp the connection between testing + storybook.

Both on the e2e & unit test front, I have a lot of amazing things in mind. but not really the time to work on it, right now.

[2020-01-23 15:41] pocka commented on #729
I didn't know that, will take a look at it soon!

[2020-01-23 15:42] narajaon commented on #9313
I got the same issue. In my monorepo it looks like I have two different instances of emotion after the migration to `10.0.27`.

[2020-01-23 15:44] ndelangen commented on #9313
If someone would be able to create a reproduction, that's be super helpful 🙏

[2020-01-23 15:44] zslabs commented on #9602
@shilman Ah, thank you very much - super useful! Have a great day!

[2020-01-23 15:47] Kosai106 commented on #8959
Alright @shilman I took a look at `cra-ts-kitchen-sink`.

In the Prop Types example, there's `arrayOfComplexShape` which has the desired look, but it's made using PropTypes, not TypeScript types.

<img width="1029" alt="Screenshot 2020-01-23 at 16 43 02" src="https://user-images.githubusercontent.com/6379824/72999331-82e19c80-3dff-11ea-8e4c-9dd2c5561c46.png">

In the TypeScript examples, there's `

[2020-01-23 16:04] lydell commented on #6633
Sorry, I’m not interested but thanks for asking!

[2020-01-23 16:10] JamesIves commented on #9598
@shilman https://github.com/UnitedIncome/components/tree/storybook-upgrade `storybook-upgrade` branch.

[2020-01-23 16:27] patricklafrance commented on #8959
Yeah this kind of support hasn't been implemented yet for TypeScript. If I remember well, the tree structure returned for TS is a lot less refined than the one returned for PropTypes which make it hard to implement.

I might be wrong though, it's been a few month since I looked at it.

We are currently working through switching to react-docgen for TS support. We might be able to work this out whil

[2020-01-23 16:28] zslabs commented on #9602
@shilman I noticed a few funny things when attempting to get this to work, and wasn't sure if it may merit another issue being opened for each.

### Spacing between code lines isn't allowed:

[code]

Notice the blank lines after the state declaration and in the `onChange` handler. With them there, I get the following:

[code]

When I remove those blank-lines, all is well.

### Emotion `css` prop i

[2020-01-23 16:57] nmiddleweek commented on #6505
@ndelangen - I'm currently experiencing this issue with an old repo running ```"react-scripts": "^3.3.0",``` and ```"@storybook/react": "^5.2.6",```.

Storybook is loading 4.41.5
react-scripts is loading 4.41.2

But they conflict.

I'm being told the workaround is to manually ```npm i webpack@4.41.2``` as Storybook works fine with it.

However I'm reluctant and I'm wondering if you know what versi