[2016-06-21 08:12] mnmtanish commented on #175
@deeptiagrawa Yes, configuration quite similar to react-storybook but the directory name has changed. Use `storybook` (without the leading dot) instead of `.storybook`. Stories will appear only after a device connects. I've updated the README [here](https://github.com/kadirahq/react-native-storybook) with a short guide to help get started.

[2016-06-21 11:08] jurgob commented on #259
I'll do it

[2016-06-21 11:58] jurgob commented on #259
I did the add-on (new code here: https://gist.github.com/jurgob/f0604291619634f0e5e6204814ea2ed1).

Next days I'll do a proper repo and a pull request

[2016-06-21 12:10] arunoda commented on #259
Since we've a way plan, I'm gonna close this.

[2016-06-21 12:10] #259 closed

[2016-06-21 16:28] arunoda commented on #260
We've fixed this and we've more discussions on this on:https://github.com/kadirahq/react-storybook-addon-info/issues/12 and #261

[2016-06-21 16:28] #260 closed

[2016-06-21 17:12] jurgob opened #263 "new addson: story with a form to insert component value"
What do you think about this idea? basically it's something like this project:
https://github.com/carteb/carte-blanche

The corner-case automatic generation could be really something

[2016-06-21 17:17] jurgob opened #264 "new proxy: propsInfo"
Basically I did a props displayer proxy,

it is similar to yours addInfo add on, but as a proxy  it can work nicer within my story generators

here is the code
https://gist.github.com/jurgob/0ba5e7daa12b85b9e2d693c3ff9431e6

It is still very limitated, my main problem is this one:
https://discuss.reactjs.org/t/print-proptypes-definition/4228

[2016-06-21 17:20] #180 closed

[2016-06-21 17:43] arunoda commented on #264
@mnmtanish @roonyh I think you guys could add something to this.

[2016-06-21 17:47] arunoda commented on #263
@jurgob Yep. We talked with the authors. It's a great project.

For editing props, we've an discussion here - https://github.com/kadirahq/react-storybook/issues/166 I'm not sure, that can be done without changing the core of storybook.

But, corner case auto generation is something we can do with a addon. Actually, carte-blanche does not have that functionality. They just trick us with a nice scre

[2016-06-21 20:58] SimeonC opened #265 "Docs Issue on customising the ui"
Currently the link and guide here https://github.com/kadirahq/react-storybook/blob/master/docs/configure_storybook.md#customizing-the-ui are incorrect. I'm trying to muddle my way through the code currently to see if I can figure it out but I'm not there yet!

*EDIT* Just found out why I can't edit the ui - your storybook-ui components are all mass bundled into the dist so I can't just go around r

[2016-06-22 02:14] joscha opened #266 "Selenium testing (E2E, Functional Testing)"
Has anyone looked into using the React Storybook for selenium testing? The well-defined stories make it ideal to run tests against them, the only obstacle I see is potentially the iframe, which makes writing steps cumbersome. Has anyone tried this before, potentially directly hitting the iframe.html and/changing the static output?

[2016-06-22 04:33] arunoda commented on #266
Actually, you can hit the iframe directly. Here's how.
See:

* Here's the iframe: http://kadira-samples.github.io/react-button/?selectedKind=Button&selectedStory=some%20emojies%20as%20the%20text
* Here's the iframe: http://kadira-samples.github.io/react-button/iframe.html?selectedKind=Button&selectedStory=some%20emojies%20as%20the%20text&dataId=something

You can change the `selectedKind` and `sel

[2016-06-22 05:18] travi opened #267 "register with greenkeeper"
greenkeeper is a tool that is free for open source projects that is a big help in keeping dependencies up to date by providing PRs each time one of your dependencies publishes an update.

it's obviously up to you how you manage your own dependencies, but for those of us that consume your package and also use the greenkeeper service, registering would be a big help. since this is a scoped package,

[2016-06-22 05:37] arunoda commented on #267
Thanks. I'll work on this.

[2016-06-22 11:19] arunoda commented on #45
Hi all, I've looked at all these options. They are great.
Anyway, I come up with something which looks like simple to me.
So, I implemented that. See: https://github.com/kadirahq/react-komposer#stubbing

I hope that's more than enough.

[2016-06-22 12:36] macrozone opened #268 "fonts in meteor /public directory"
Hi guys,

I have fonts in the /public directory of meteor, say in /public/fonts/myfont.ttf

I now declare font-face in a scss file like this:

[code]

[2016-06-22 14:08] tycho01 opened #269 "Angular 2 support"
I realize Angular 2 support was on the roadmap, and I'm pretty happy about that.
I wanted to share my related attempt at adapting the repo to that end, and didn't find a relevant thread here yet, so figured I might as well make one.
I hadn't managed to put a PoC together yet, but perhaps the Angular bits from my first commit [here](https://github.com/tycho01/react-storybook/commits/master) may hel

[2016-06-22 16:50] arunoda commented on #269
We've made our core UI into a separate app. We are planning to use it for NG2 directly. See: https://github.com/kadirahq/storybook-ui

[2016-06-22 17:02] arunoda commented on #268
Yes. I can understand the pain. Looking for some ideas to get around with this.

[2016-06-22 17:27] michaltakac opened #270 "CSS modules"
Hi, I'm trying to use SASS styles like this in my React components:

[code]

Styles are working in my app normally, all good. But when I open them in storybook, styles won't show up. Is this problem with my webpack setup for storybook? Here is how it looks like:

[code]

If I import styles with `import './sidebar.scss' ;` and then write class names explicitly into classNames, then styles are used

[2016-06-22 18:09] jainprash opened #271 "Need to have browser refresh automatically with code changes"
Currently, the nodejs server ( webpack) picks up my changes and builts the file, but still I have to do one more step of refreshing the browser. Is there way to have websocket communication between browser an d server, so that the browser page is refreshed automatically ( similar to live reload script)

[2016-06-22 18:14] arunoda commented on #271
Hmm. We've hot module reloading for code changes. It doesn't need to do a page refresh to do that. Components just updated with new data.

Are you looking for something else?

[2016-06-23 02:20] ffxsam opened #273 "Latest version not working (JSON loader issues?)"
I could've sworn this was somewhere in the documentation, but I can't find it now.

I'm getting a bunch of these errors:

[code]

There was some setup instructions regarding a JSON loader, but I don't recall what it was. Can anyone point me in the right direction?

[2016-06-23 02:25] ffxsam commented on #273
Never mind, got it. Will do a PR to add this to the documentation.

[2016-06-23 02:25] #273 closed

[2016-06-23 02:31] tycho01 commented on #269
Cool. Looking forward to it! :)

[2016-06-23 03:49] arunoda commented on #273
FYI: related PR: #274

[2016-06-23 07:25] wallslide opened #275 "Storybook not recovering from errors "Error: _get__(...).unmountComponentAtNode is not a function""
If an error occurs in a story, after fixing the error the story is stuck in an error state.

I'm using version 1.34.0

**Expected:**
The story will 'recover' and return to a working state after the coding/syntax error is fixed.

**Actual:**
The following error replaces the original error:

`Error: _get__(...).unmountComponentAtNode is not a function`
![image](https://cloud.githubusercontent.com/as

[2016-06-23 07:41] arunoda commented on #275
Is it possible to get a kind of a sample project. So, I can work on this.

[2016-06-23 07:42] arunoda opened #276 "Do a full reload if needed"
Find out whether we need to do a full reload or not. If a full reload is needed, do it.

[2016-06-23 07:42] arunoda commented on #275
May be related to this: https://github.com/kadirahq/react-storybook/issues/276

[2016-06-24 07:16] joscha opened #277 "Programmatically access defined stories"
Is there a way to programmatically access defined stories? I am trying to run https://github.com/marmelab/gremlins.js against each of the stories defined, but in order to hit the right one in the iframe (#266) I need the story name. I tried exporting storiesOf(..).add(...) but there is no way to read them from that object.

[2016-06-24 08:03] arunoda commented on #277
Try out extensions API: https://github.com/kadirahq/react-storybook/blob/master/docs/extensions.md

[2016-06-24 19:18] shilman opened #278 "Help: Exporting / Importing CSS from an NPM package"
### what
I'm trying to create a Storybook demo for Telescope (see https://github.com/TelescopeJS/Telescope/issues/1345) and need help exporting CSS from an NPM package and importing it into another package

### details
Telescope defines a `nova-base-components` package that defines the components, and a `nova-base-styles` package that defines the CSS since part of its design goal is to be themable

[2016-06-24 19:18] shilman commented on #278
cc @pahans

[2016-06-25 00:47] arunoda commented on #278
@shilman You can simple import CSS or SCSS files directly inside any story or in the main config. See: https://github.com/kadira-samples/react-storybook-demo/blob/master/.storybook/config.js#L2

Then you need to use the correct loader for your CSS. In this case, we used [raw-loader and style-loader](https://github.com/kadira-samples/react-storybook-demo/blob/master/.storybook/webpack.config.js#L8)

[2016-06-25 07:33] Maxhodges opened #279 "Error: Cannot resolve module 'webpack-hot-middleware/client'"
what is this command suppose to do? seems it removed npm from my machine

[code]

now i get

[code]

[2016-06-25 07:34] shilman commented on #278
Got it. My `include` / `exclude` rules were set up wrong, so that the loaders worked for files in the project but didn't work for package-exported files. Thanks so much for the pointers!!

[2016-06-25 07:34] #278 closed

[2016-06-25 07:37] Maxhodges commented on #279
installed node, but storybook still fails

[code]

[2016-06-25 07:45] Maxhodges commented on #279
now meteor doesn't run.

[2016-06-25 07:54] Maxhodges commented on #279
ok working now after
`sudo meteor npm install --save react react-router classnames stardust`
then reinstalled storybook under sudo too

[2016-06-25 07:54] #279 closed

[2016-06-26 05:11] Maxhodges opened #280 "repeat"
often I want to repeat an element. Like if I have a complex `ui card` and I want several on the screen, is there a way to write an extension or something so I could have my `ui card` element repeat a few times?

[code]

[2016-06-26 05:53] roonyh commented on #280
You can put javascript expressions inside JSX. So using [map](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/map) to get an array of `ui card` elements works.

[code]

[2016-06-26 10:01] Maxhodges opened #281 "how to goto another story"
can we only create button based links?
[code]

I'm using Semantic-UI, and we can have icons or menu items. Is there some way to hookup a click on an icon? or only buttons?

[code]
I get result in the action logger
[code]
but how do I actually make it jump to another story?

[2016-06-26 16:22] jurgob commented on #145
I had the same error becouse I had installed npm install react-storybook instead of npm install @kadira/storybook

[2016-06-26 23:32] arunoda commented on #280
I think @roonyh answered this.

[2016-06-26 23:32] #280 closed

[2016-06-26 23:38] arunoda commented on #281
You can simply use linkTo on any prop accept a callback function.

[code]

[2016-06-27 06:50] PEM-- commented on #275
Got this issue too since 1.34.x. I need to it a full reload each time the red warning is displayed.

[2016-06-27 09:00] arunoda commented on #275
Yep. Found the issue and fixed with the newest version: `v1.35.1`

[2016-06-27 09:04] PEM-- commented on #275
Thanks 👍  You nailed it.

[2016-06-27 09:07] arunoda commented on #275
Great. Going to close this then :)

[2016-06-27 09:07] #275 closed

[2016-06-27 15:54] Maxhodges commented on #281
OK I see I had it in on the wrong element.
Cheers!

[2016-06-27 15:54] #281 closed

[2016-06-28 01:46] nickick commented on #270
We're having this problem too, but with PostCSS. Any help here is appreciated.

[2016-06-28 02:46] arunoda commented on #270
Is it possible to send me a sample repo, I can work with this.
So, I can find out the problem with PostCSS o SASS.

[2016-06-28 07:08] joscha commented on #277
Thanks @arunoda. Adding an extension would work, but it basically would be something like:
[code]
which seems a bit silly, given that the information about defined stories must be kept inside the main object already. I think an `introspect(storObj)` with a method `.getAddedStories()` would be saner in the longterm.

[2016-06-28 07:52] alexofob commented on #75
@jhartma It would be great if you elaborate on how to export the meteor-stub into the global namespace.

I am also having the same issue with the meteor packages. However, I am not familiar with how to import meteor - stub in the global name space to prevent this  "Module not found: Error: Cannot resolve module 'meteor/meteor' " issue.

Thanks.

[2016-06-28 12:21] Maxhodges opened #283 "issue with links in stories (iframe)"
I'd like to have links in my stories to docs and github files, but I get errors due to iframe. Any solutions?

![image](https://cloud.githubusercontent.com/assets/957271/16415027/19228882-3d76-11e6-9c66-1e2af3b9f983.png)

`Refused to display 'https://github.com/white-rabbit-japan/Semantic-UI-React-Storybook' in a frame because an ancestor violates the following Content Security Policy directive: "

[2016-06-28 12:31] Maxhodges opened #284 "addDecorator in .storybook/config.js applied multiple times"
each time I save my story, the decorator is applied again i.e. while editing my story, if I save in my editor five times, it reloads the story in the browser, but the decorate is applied five times. Refreshing the browser will clear it.

![image](https://cloud.githubusercontent.com/assets/957271/16415297/86d5afc0-3d77-11e6-9610-160eab960e95.png)

[2016-06-28 13:43] davidnormo commented on #197
I have a similar problem. My component fires an action when the user is in the middle of a mousemove event that should result in re-rendering the component with different props. I don't think `linkTo` is appropriate for this right?

 I think exposing an API to re-render the story would be very helpful!

[2016-06-28 16:30] michaltakac commented on #270
seems like when I use this loader setup in my app's webpack config:

[code]

and the same in storybooks webpack:

[code]

Then CSS modules works from both plain .css files and also from .scss files.
Installed packages `sass-loader`, `css-loader`. Example repo:
https://github.com/michaltakac/react-storybook-demo/tree/sass-css-modules, branch `sass-css-modules`.

Or check commit: https://github.com/

[2016-06-28 20:11] MasterAM commented on #45
Thanks, @arunoda; this looks fairly elegant and useful. I will implement it soon in one of my apps which uses StoryBook and let you know how it went. :smile:

[2016-06-29 04:21] mnmtanish commented on #283
The web browser is refusing to load the Github page inside an iframe. This is a security feature and it protects users from some types of attacks. Try adding a `target` attribute to your links to open them in parent tab/window or a new tab/window.

[2016-06-29 04:23] mnmtanish commented on #283
Try these

[code]

For more information:
https://developer.mozilla.org/en/docs/Web/HTML/Element/a

[2016-06-29 05:42] arunoda commented on #45
@MasterAM great.

[2016-06-29 05:46] arunoda commented on #270
Thansk @michaltakac for the sample.
I'll close this issue.

[2016-06-29 05:46] #270 closed

[2016-06-29 06:02] arunoda commented on #284
Yep. This is a good call.
We need to stop applying decorators, if it's a HMR change.

[2016-06-29 06:53] Maxhodges commented on #284
for context, the decorator we used was in .storybook/config.js not directly in the story

https://github.com/white-rabbit-japan/Semantic-UI-React-Storybook/blob/master/.storybook/config.js#L5-L9

[2016-06-29 07:43] mnmtanish commented on #284
@Maxhodges thanks for that info. It helped narrow down the issue.

[2016-06-29 12:46] andresin87 opened #286 "Handling communication between components in a single story"
I've not seen before in your documentation the way to communicate two different components in a single story so I share to people in order not to be blocked like I was yesterday...

[code]

[2016-06-29 12:47] andresin87 commented on #286
It is closed.

[2016-06-29 12:48] #286 closed

[2016-06-29 13:09] andresin87 commented on #271
I think @jainprash, you have made a mistake in your custom webpack config file or you are running build-storybook and you should run start-storybook script. The hot reloader is working fine.

[2016-06-29 17:28] kevinSuttle commented on #248
@arunoda @KentCDodds has a great Webpack course on Egghead covering version 2.
https://egghead.io/courses/using-webpack-for-production-javascript-applications

[2016-06-29 17:37] arunoda commented on #248
Thanks @kevinSuttle

[2016-06-29 18:48] pcardune commented on #284
+1 for fixing this issue

[2016-06-29 18:49] pcardune commented on #265
+1 to fixing this bug, or at least the documentation discrepency.

[2016-06-30 04:18] arunoda commented on #265
At this moment, it'll be hard to do that.
We'll have a plugin system soon.
For now, I'll remove that section from docs.

[2016-06-30 04:19] arunoda commented on #265
@SimeonC I suggest you to fork the storybook-ui and use your customized one, instead of our own one for now.

[2016-06-30 04:19] #265 closed

[2016-06-30 09:05] sokki commented on #45
Is there a way to deal with containers-in-component without react-komposer? We use Meteors `createContainer` and ran into the same problem ...

[2016-06-30 16:13] arunoda commented on #45
Yes. There is a way. Check Kadira Voice in few hours.

[2016-06-30 16:34] michael-martin commented on #79
For anyone that comes back to this later, I've got it working by:

- Add bootstrap-loader as an entry point to Storybook's webpack.config.js
- Import it in config.js as @alex88 did.

Full webpack.config.js (Mostly just the CSS loaders from React Redux Starter Kit):

[code]

And then in storybook/config.js:

[code]

[2016-06-30 17:31] arunoda commented on #45
@sokki See: [Stubbing React Containers for Testing](https://voice.kadira.io/stubbing-react-containers-for-testing-11bcd537e586#.r1arfj905)

[2016-06-30 22:09] alterx commented on #269
Hey, @arunoda, so what's gonna be the approach for this one?
Do we want to create an ng2 specific storybook UI? Just curious to get a high level description of what you guys want to achieve and see if I can help

[2016-06-30 22:47] eschaefer opened #289 "Module not found: Error: Cannot resolve module 'webpack-hot-middleware/client'"
Like https://github.com/kadirahq/react-storybook/issues/205, tried adding this to an existing project using the [guide](https://github.com/kadirahq/react-storybook#getting-started)

[code]

Really lost about how to resolve this, since I'm using npm version 3+ and no other similar bug reports have had an issue on this version.

[code]

Tried this already too:
[code]

[2016-07-01 08:30] joscha opened #290 "Running functions conditionally based on the story displayed."
I am currently trying to integrate https://github.com/mrdoob/stats.js in order to add a `addMonitored` method that would allow specifying a performance monitored story like this:

[code]

I tried like this:

[code]

It kinda works:
![react_storybook](https://cloud.githubusercontent.com/assets/188038/16516150/9ddda238-3fb9-11e6-9723-dc5b0462f7c9.png)

however there are some flaws in that - the func

[2016-07-01 12:08] jurgob opened #291 "full screen mode should persist on page refresh"
I thing a param like "&fullscreen=true" should be added on fullscreen mode, so it can persist on the occasionally page refresh

[2016-07-01 13:28] ritz078 opened #292 "[Idea] A mode with no iframe : debug mode"
When I switch to fullscreen mode `iframe` is still there and some intermediate code. Though UI wise I have no problem but when profiling and testing the performance I have following problems :
1. A major part of profiling consists of manager.js code.
<img width="1080" alt="screen shot 2016-07-01 at 6 48 12 pm" src="https://cloud.githubusercontent.com/assets/5389035/16522588/735227f2-3fbc-11e6-8d2f

[2016-07-01 14:14] jurgob commented on #291
yes it is working now, thanks

[2016-07-02 01:53] cesarandreu opened #293 "Search both package.json and .babelrc for babel config"
Babel can be configured by adding a `babel` field to your `package.json`. Right now react-storybook only searches for `.babelrc`, but babel lets you use both.

[2016-07-02 02:35] mnmtanish commented on #292
Hi @ritz078
We've moved all our UI code to [kadirahq/storybook-ui] repo. The pop-out issue can be discussed there. Until it's ready, I think you can use the preview iframe html file directly [(example)](http://kadira-samples.github.io/react-button/iframe.html?dataId=whatever&selectedKind=Button&selectedStory=custom%20styles).

[2016-07-02 02:53] arunoda commented on #292
@ritz078 I think this is important. And @mnmtanish gives an example. You can simply get the iframe content directly.

You need to build a URL like this: <http://kadira-samples.github.io/react-button/iframe.html?dataId=whatever&selectedKind=Button&selectedStory=custom%20styles>

Let's introduce another shortcut to get this URL in the storybook-ui.

[2016-07-02 02:54] arunoda commented on #291
Yep it is. Thanks @ritz078 for pointing this out.

[2016-07-02 02:54] #291 closed

[2016-07-02 02:56] arunoda commented on #293
I'd like to have a PR for this :)

[2016-07-02 02:58] arunoda commented on #290
Yes you are correct, `this.add` called immediately. Here's you need to provide a React element. Inside that, render the perfTool, when mounted.

[2016-07-02 02:59] arunoda commented on #290
Here's an example: https://github.com/kadirahq/react-storybook-addon-info/blob/master/src/index.js

[2016-07-02 05:54] ritz078 commented on #292
A button will be better. You can also put a shortcut if you want but additional to the button.

@mnmtanish I know about the repo but the thing is there's very fewer chance people will go there and post issues. We can't expect the users to identify the module and post the issue there. So maybe add a label for it here itself ?

[2016-07-03 15:23] dimaip opened #294 "[help wanted] Render all stories on one page"
Hey, I want to visually diff all of my stories with BackstopJS. I know you have this feature planned, but for now, I need something simple to get going.

Is it possible to create a storybook plugin to render all stories on one page? Can you give me a pointer? I could feed that page to BackstopJS, specify a class name that is wrapping each story and call it a day.

[2016-07-03 16:29] roonyh commented on #294
See [available extensions](https://github.com/kadirahq/react-storybook/blob/master/docs/extensions.md#available-extensions). I think [add stories group](https://github.com/jurgob/react-storybook-addon-add-stories-group) from @jurgob is just what you want.

[2016-07-03 16:46] dimaip commented on #294
Hey, thanks, I'm already using that one, but it's good for adding multiple variants of one component on one page, whereas I need to concat all stories together and display them on one page.

[2016-07-04 03:21] joscha commented on #290
Thank you for your help @arunoda - I successfully created an example here: https://gist.github.com/joscha/9e1d4eea6fddd50df25012d704180aa1

[2016-07-04 04:36] joscha opened #295 ".storybook folder is a dotfile and ignored by default by eslint"
currently `config.js` and `webpack.config.js` under `./.storybook` is ignored by default by eslint. As the dotfiles option of eslint (https://github.com/eslint/eslint/blob/fca067938fcd54c98945356b41c8c9a7dc404c04/tests/lib/ignored-paths.js#L91) can't be disabled on the command line, these files never get linted.

[2016-07-04 05:03] arunoda commented on #295
Yep. May be you should change the config directory.
Check this: https://github.com/kadirahq/react-storybook/blob/master/docs/configure_storybook.md#configuration-directory

[2016-07-04 05:04] arunoda commented on #295
I'm closing this in favour of above. If you are looking for something else, reopen with more info.

[2016-07-04 05:04] #295 closed

[2016-07-04 05:06] arunoda commented on #290
Okay. We are good here right :)
Publish this into NPM and send me a PR to here - https://github.com/kadirahq/react-storybook/blob/master/docs/extensions.md#available-extensions

[2016-07-04 08:43] jurgob commented on #294
So basically, you want to see different widget in every story? Can you specify why? (It could be interesting).
Bte A dirty  and fast solution could be create a widget which Just display a child and then use my widget. Something like:
const Cont = ({child}) => <span>{child}</span> and then passing Cont to the plugin.

[2016-07-04 08:44] jurgob commented on #294
*and then use "add stories group" plugin

[2016-07-04 08:55] arunoda commented on #289
That's weird. I couldn't re-produce this.
Could you send me a sample repo, where I can work with.

[2016-07-04 09:36] tcoopman commented on #289
I can confirm the same issue on 2 pc's (1 mac, 1 windows). All runing npm 3.x. But the same repository works on another windows pc. So we're also lost at the moment.

We tried: `rm -rf node_modules && npm cache clean` and compared shrinkwrapped outputs, but we can't get it to work.

I cannot provide a sample repo, but I'm not sure if it's a repo thing...

[2016-07-04 11:18] tcoopman commented on #289
@eschaefer a workaround that works for us at the moment is to reove the 'webpack-hot-middleware/client' from `dist/server/webpack.config.js`

[2016-07-05 03:46] arunoda opened #296 "Add base html tag to the iframe when building"
Most of the time, we host our storybooks in a subpath of the domain. So resources started with `/` doesn't work properly.

So, we need add a `<base>` tag with a proper subdomain (and the path) to the iframe. This needs to be done, when building the storybook.

[2016-07-05 06:00] joscha commented on #292
refs #266

[2016-07-05 06:43] arunoda commented on #292
@joscha Thanks for the mention. I couldn't find it :)

[2016-07-05 07:20] ffxsam opened #297 "How to test higher order components?"
I'm trying to use Storybook to quickly test a [package of mine](https://github.com/ffxsam/formous), which is a higher-order component:

[code]

That's not going so well :) Two questions:

1. How do I use Storybook to test higher-order components?
2. How do I access the props passed into the story component by Formous?

[2016-07-05 08:54] arunoda commented on #297
Here `story()` returns a react element. So, you need to wrap it as a class  like this.

[code]

[2016-07-05 14:07] STRML commented on #95
Just a note on this - since this shows up in Google - babel [uses json5](https://github.com/babel/babel/blob/dc1f40540de11045bb4714350350e012fee4f93e/packages/babel-core/src/transformation/file/options/option-manager.js#L9) rather than cjson.

[json5](http://json5.org/) is a little more liberal and supports unquoted keys, single quotes, trailing commas, etc. So if you're using cjson you may still

[2016-07-06 07:09] ThaumRystra commented on #289
Using `meteor npm i --save-dev @kadira/storybook` instead of just `npm i --save-dev @kadira/storybook` fixed this for me in a Meteor project.

[2016-07-06 10:15] szopenkrk commented on #145
Hi Guys i have same problem $ npm run storybook
npm ERR! Windows_NT 6.3.9600
npm ERR! argv "C:\\Program Files (x86)\\nodejs\\node.exe" "C:\\Program Files (x86)\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "run" "storybook"
npm ERR! node v0.12.2
npm ERR! npm  v2.7.4

npm ERR! missing script: storybook

[2016-07-06 16:37] jonnylevy opened #298 "Internet Explorer 10"
Hi,

I have setup some stories and storybook is working fine for me locally on latest versions of Chrome and Firefox on Mac OS 10.11.3 ,however, none of my stories are showing when I try on Internet Explorer 10 on Windows 7. It also seems to be failing silently so no error messages in the console.

I've noticed that this demo is not working on ie10 either: https://kadira-samples.github.io/react-st

[2016-07-06 17:47] eschaefer commented on #289
@tcoopman I did this as well, and it fixed the issue for now. Would still love to have hot module loading in the future, but this at least lets me move forward.

[2016-07-06 19:45] schrepfler opened #299 "Unclear how to refresh state"
I haven't seen an example in the documentation how to do a store.subscribe(render) if the render function is not really part of the story setup?
Ex. like this one https://github.com/schrepfler/storybook-counter

[2016-07-06 19:55] arunoda commented on #145
Hmm. Seems like we are only support bash. We need to add support for windows.

[2016-07-06 19:59] arunoda opened #300 "Add proper windows support."
Seems like we use some bash features. See: #145
We need to add some proper support for windows.

cc @mnmtanish

[2016-07-06 20:07] arunoda commented on #298
Yes. We have seen similar issues.
See: https://github.com/kadirahq/react-storybook/issues/213

Looking forward to do a proper fix.
@mnmtanish could you arrange proper fix plan for windows.

[2016-07-06 20:11] arunoda commented on #299
Basically, storybook is for pure React Components which accepts data over props.
I saw that, you are passing a redux store to a component. That's not how to use React Storybook.

Just create a component, which accepts data via props. Connect redux store in another layer of components.

[2016-07-06 20:11] arunoda commented on #299
There's a related PR in the progress as well: https://github.com/kadirahq/react-storybook/pull/285

[2016-07-06 20:11] #299 closed

[2016-07-06 20:13] arunoda commented on #289
This is a weird issues. Guys, help us to figure our what's going on here. (I know it's hard to create a re-producible build)

I want this to be fixed somehow.

cc @mnmtanish

[2016-07-06 20:17] eschaefer commented on #289
@arunoda I will continue investigating and will report what I find. (I can't share the current repo this is happening on, unfortunately)

[2016-07-07 04:37] mnmtanish opened #301 "Add browser compatibility info to the README"
Decide which browser we should support for storybook and add it to the README file. Also make sure storybook works without any errors with those browsers.

[2016-07-07 05:01] mnmtanish commented on #300
I think we can use [shelljs](https://www.npmjs.com/package/shelljs) to write scripts so it'll work on all platforms. Eg. `prepublish.js` instead of `prepublish.sh`.

I'm working on integrating Appetize.io to react-native-storybook these days. I'll get back to react-storybook as soon as it's ready.

[2016-07-07 05:12] mnmtanish commented on #145
@szopenkrk can you follow these steps and try again?

- add the npm script `storybook` to your projects package.json file if it's missing

[code]

- install npm3 [(more info)](https://github.com/kadirahq/react-storybook/blob/master/docs/known_issues.md#potential-issues-with-npm-2)

[code]

if you're trying to use storybook with your react app, install from npm

[code]

If you're trying to contribu

[2016-07-07 08:29] tcoopman commented on #289
It's a very strange issue. At the moment I don't have time to further investigate.
I also checked the global npm packages and couldn't find anything wrong with those.

I will update when I find out more.

[2016-07-07 21:08] schrepfler commented on #299
Still, is this documented anywhere? For a complete beginner an example ow to "Connect redux store in another layer of components" would be very much appreciated. Feel free to take my code base as an example if you like and demo how it should be done.

[2016-07-07 23:48] raedle opened #302 "Support for GraphQL Mocks"
Any suggestions on how to use Storybook together with GraphQL mocks? I think this could be really handy.

[2016-07-08 11:06] MechJosh0 opened #303 "Cannot read property 'downgradeElements' of undefined"
I'm having two problems with Storybook, they are very likely to be related.

**Reproduce**
https://github.com/MechJosh0/storybook-mdl-error
`npm install`
`npm run storybook`

**Bug 1** *CSS/JS not loading on initial view.*

**Bug 2** *downgradeElements of undefined*

Both bugs are only producible in Storybook, loading in Meteor is perfectly fine.

[2016-07-08 15:52] kevinSuttle opened #304 "Possible to use the top-level Webpack config?"
Do you need to have 2 separate Webpack configs?

[2016-07-08 15:56] kevinSuttle commented on #302
I wonder if looking through the Graphiql editor source could help. cc: @leeb
https://github.com/graphql/graphiql

[2016-07-08 17:15] arunoda commented on #302
@raedle could you tell me more about GraphQL mocks. Not sure, what exactly we can do with GraphQL.

[2016-07-08 17:17] arunoda commented on #304
Hmm not, you can use the exisiting one.
Import it and use the parts needed in the storybook version.

And checkout the full control version too. See: https://github.com/kadirahq/react-storybook/blob/master/docs/webpack_full_control_mode.md

[2016-07-08 17:17] arunoda commented on #304
Do you need something else? May be we can do something about it.

[2016-07-08 17:19] arunoda commented on #301
Yep. Simply add this doesn't work with IE10 and Edge for now. And also note we are looking for help to fix it. May be show related issues.

[2016-07-08 17:20] arunoda commented on #300
@mnmtanish sounds like a good plan.

[2016-07-08 18:09] kevinSuttle commented on #304
No, I just have 2 in mine for some reason. :/ Feel like I saw an example that had 2.

[2016-07-09 09:44] arunoda commented on #304
Is that helped you?

[2016-07-09 10:21] AlexandreRoba commented on #79
Hi all, thanks for the solution.
Unfortunately it fails for me. I'm getting webpack errors for file extention such as "ttf", "svg", "woff"...
I tried to add the following loader to my webpack config file:
[code]
but after this none of my stories loads. Any idea?

Thanks

[2016-07-09 11:44] AlexandreRoba commented on #79
I manage to isolate the issue but I have no idea why this is not working.
My config files is  the following:
[code]

my webpack.config.js is like:
[code]
when I start sorybook I do not see any story loaded on the storybook.
But If I remove the import 'bootstrap-loader' from the config they show up.
It is like the import is preventing the stories to be loaded...

After Investigating a bit I saw tha

[2016-07-10 16:47] PEM-- opened #306 "1.37.0 - Module not found: Error: Cannot resolve module 'webpack-hot-middleware/client'"
Specific to 1.37.0:
[code]

Node version: v6.3.0
NPM version: 3.10.5

After reverting to react-storybook 1.36.0, everything went fine again.

[2016-07-10 18:50] necolas commented on #306
I'm having this issue too. Many modules can't be resolved. Including 'redux', which isn't a dependency of this repo :/

[2016-07-10 20:00] arunoda commented on #289
Guys, I also found this issue. I haven't started to fix it.

Pinpoint  `@kadira/storybook` to version `1.22.1` to get rid of this in the short-term.

[2016-07-11 04:13] danderu commented on #306
@PEM-- I was having the same issue, thanks for reporting and saying the solution! (revert to 1.36.0).

[2016-07-11 13:01] arunoda commented on #306
I just released a new version of `v1.37.1` by replacing `v1.37.0`.
It just contains the pre-published code of `v1.36.0`.

It will work on a proper fix.

[2016-07-11 13:16] Moezalez commented on #306
Make also sure you run NPM3.

[2016-07-11 13:17] PEM-- commented on #306
Works like a charm. Thanks 👏

[2016-07-11 13:17] #306 closed

[2016-07-11 13:17] arunoda commented on #306
See: #305 for more info.

[2016-07-11 13:42] kevinSuttle commented on #304
A little. It's not clear how the top-level Webpack config file is known, though.

[2016-07-11 20:48] kevinSuttle commented on #304
Can you show a full example using a webpack.config.js in the root?

[2016-07-12 03:59] travi commented on #266
I've been considering something similar lately. I've been thinking about extending our testing scope to go beyond unit tests and include some level of integration tests. The tests would likely align very closely with the scenarios that we have built stories for. Coordinating the two concepts could greatly improve automated verification, but still give us the benefit of live demos that we already l

[2016-07-12 04:07] travi commented on #255
I've been tinkering with a side project to learn about topics around this process. Feel free to take a look at https://github.com/travi/admin.travi.org-components if it can help you make progress.

[2016-07-12 09:28] arunoda commented on #266
This is how we do this.

We use stories to test the UI components visually. We also use a enzyme setup to test functional testing.

In our case, both has different type of scenarios where you don't need some of visual (storybook) test scenarios for functional testing and wise versa.

So, we've two npm scripts like this:

[code]

I talk more about this [here](https://voice.kadira.io/ui-testing-in-r

[2016-07-12 12:07] szopenkrk commented on #300
Its possible to fix that soon ?

[2016-07-12 18:41] evanc commented on #304
All you need to do is require your "top level" `webpack.config.js` in your `.storybook/webpack.config.js`.

For instance, here's my `.storybook/webpack.config.js` file, in its entirety:

[code]

[2016-07-12 19:36] kevinSuttle commented on #304
[code]

[2016-07-13 04:18] travi commented on #266
@arunoda I agree with most of the points that you highlight in your article, but I think it comes down to scope of the tests. There are different approaches to testing depending on the scope intended to be covered by certain testing layers.

In my case, we unit test each component in isolation as well as have a testing layer similar to your description of functional tests at the application level.

[2016-07-13 09:59] szopenkrk commented on #145
I made that but on Windows still i have error
`karol@FIZZ MINGW64 /c/Dev/react-storybook-demo (master)
$ npm run storybook

'start-storybook' is not recognized as an internal or external command,
operable program or batch file.

npm ERR! Windows_NT 6.3.9600
npm ERR! argv "C:\\Program Files (x86)\\nodejs\\node.exe" "C:\\Program Files (x86)\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "run" "storybo

[2016-07-13 10:09] szopenkrk commented on #145
OK i have solution

[code]

and in demo we dont need add "storybook": "start-storybook -p 9001" because we have it there.

[2016-07-13 10:51] arunoda commented on #266
Got it. I think we could provide a way to give access to the DOM and then we can write assertions. Is that something you are looking for?

[2016-07-13 12:54] roonyh commented on #296
This should go in the head tag right? Adding custom head content is already possible with the [head.html](https://github.com/kadirahq/react-storybook/blob/master/docs/configure_storybook.md#load-custom-html-head-content)

[2016-07-13 13:02] arunoda commented on #296
Yeah. That's a good idea as well.
But, I need to make this pretty simple by providing an argument when we are building the storybook.

[2016-07-13 13:28] roonyh commented on #296
Got it. I will work on this.

[2016-07-13 20:07] ffxsam commented on #297
Great, thanks! I'll give that a try.

[2016-07-13 20:11] ritz078 opened #309 "Remove dist folder from github"
Anyways `dist` is never supposed to be on github. Its preferable to build files before `publish`

Reasons:

* unnecessary clutter in PR
* irritating conflicts in dist

[2016-07-13 20:41] gkaran commented on #79
Had the same issue but adding the following loader solved the issue with jQuery for me:

[code]

You also need to install the `imports-loader` package.

[2016-07-13 21:37] k88hudson opened #310 "Svg images do not have the correct MIME type on storybooks.io"
Hi there!

I noticed while using storybooks.io that svgs are being served by your proxy as `text/plain`. This makes them not show up in our UI 😢

I am using the `-s` param for the `build-storybook` to serve static images.

Example:
![screenshot of devtools](https://k88hudson-screenshots.s3.amazonaws.com/screen-shots/Screen_Shot_2016-07-13_at_5.35.26_PM.png)

[2016-07-14 04:55] roonyh commented on #309
Having dist folder in source control allows storybook to be installed from github in addition to npm. See #218.

I think its fine if you just submit src changes in your PRs if you like (thanks for those PRs btw :), since we do a new commit for each new version with dist changes.

[2016-07-14 06:05] KornbergFresnel opened #311 "sh: start-storybook: command not found"
**what's wrong?**

[code]

[2016-07-14 06:07] arvi commented on #289
Encountering the same issue while trying to learn Mantra via mantra sample blog app. Accessing the url results to empty storybook.

Here:

[code]

[2016-07-14 06:13] KornbergFresnel commented on #311
I've solved it by myself, because I didn't use: 'npm install'

[2016-07-14 06:37] AlexandreRoba commented on #79
Hey gkaran, thanks for the solution. It did the trick for me. :)

[2016-07-14 07:42] xyc opened #312 "More declarative way of adding stories?"
Say we have an `addStories` method:
[code]

then we can reduce some boilerplates and be more declarative:
[code]

[2016-07-14 09:12] vjau commented on #289
I got the same problem with 1.22.1

[2016-07-14 09:51] roonyh commented on #310
@k88hudson Thanks for reporting this and sorry about the issue. We just did a new release and this should be fixed now. Could you please verify?

[2016-07-14 10:18] mnmtanish commented on #312
Hi @xyc . It can be done with an [addon](https://github.com/kadirahq/react-storybook/blob/master/docs/extensions.md#addons). @jurgob wrote something similar [here](https://github.com/jurgob/react-storybook-addon-add-stories-group).

[2016-07-14 12:03] arunoda commented on #312
Hope we can close this.

[2016-07-14 12:03] #312 closed

[2016-07-14 12:05] arunoda commented on #311
Great.

[2016-07-14 12:05] #311 closed

[2016-07-14 12:07] arunoda commented on #309
@ritz078 It's the case a @roonyh mentioned.
I am gonna close this.
Just reopen this, if we have a much better solution.

[2016-07-14 12:07] #309 closed

[2016-07-14 12:07] arunoda commented on #297
I am closing this now. But feel free to reopen.

[2016-07-14 12:07] #297 closed

[2016-07-14 12:10] arunoda commented on #266
Great. @mnmtanish any input on this.

[2016-07-14 13:16] ritz078 commented on #309
Are we recommending to use it from github directly ? In #218 too he tried npm but couldn't get it to work. So we can build the dist just before publishing and remove it after publishing if we are concerned about npm.

[2016-07-14 15:23] arunoda commented on #309
It's not like that. He (or someone) want to use GitHub URL as the source for the package. So, that's why we need to put dist on the GitHub.

[2016-07-14 17:14] necolas opened #313 "Custom storybook UI"
I'm starting to use storybook for react-native-web - https://necolas.github.io/react-native-web/storybook - and internally at Twitter. In both cases, we could benefit from customising the UI outside of the iframe. For example:
- something more whitelabel that can be themed with React Native or Twitter brand styles (e.g., replace "React Storybook" with our own logo, style the sidebar)
- support for

[2016-07-14 17:35] arunoda commented on #313
I think you are referring to this: <https://github.com/kadirahq/storybook-ui>
We also started to work with the [React Native](https://github.com/kadirahq/react-native-storybook).

I think we could add more features into the storybook-ui and then simply upgrade the version in this repo.

Is this something you looked for?

[2016-07-14 17:38] arunoda commented on #313
BTW: It's nice to see you guys started to using storybook and that's a nice storybook :)

And add some better mobile support is important. I think we can talk this on the storybook-ui repo.

[2016-07-14 18:36] ritz078 commented on #309
cool then :)

[2016-07-14 19:05] necolas commented on #313
Oh I see, thanks. Using `storybook-ui` directly feels more like developing another app which is something I want to avoid at the moment. But perhaps we can eventually help adapt `storybook-ui` to support some basic skinning and better mobile support. I see you already have https://github.com/kadirahq/storybook-ui/issues/4.

[2016-07-14 19:14] arunoda commented on #313
I think we could work more features directly into the storybook-ui and put it here.
There are still a few to merge. Implementing a mobile view is pretty important at this moment.
We will work on that.

[2016-07-14 19:19] k88hudson commented on #310
Awesome, thanks so much! Verified fixed 💃

[2016-07-15 00:13] arunoda commented on #310
cool.

[2016-07-15 00:13] #310 closed

[2016-07-15 05:01] aray12 opened #314 "Enter Full Screen mode without a keyboard"
I'd love to be able to test certain items on my phone, but I can't enter full screen without the keyboard. I know I can test most items by just resizing the window, but I'd also like to test how certain items look with a keyboard taking up 1/3 of the screen etc.

Thoughts?

[2016-07-15 06:02] FredyC opened #315 "How to write story that updates component?"
I would like to simply see if component behaves correctly when it receives new props. Or even if it receives same props so it's possible to check that there is no logical error with `shouldComponentUpdate`. Is there some way for that?

Perhaps an idea for addon? Although I see tiny problem with addons that they cannot be combined, so if such functionality comes with addon, I could not use info add

[2016-07-15 09:37] arunoda commented on #315
Could you explain a bit about this?

[2016-07-15 09:39] arunoda commented on #314
Yeah I know. This is a pain. We will need to implement a mobile UI.

[2016-07-15 09:40] arunoda commented on #314
cc @mnmtanish

[2016-07-15 10:27] szopenkrk opened #316 "How add mock props"
HI guys i have isssue.
I'm use this.props.something and cant specyfy in storybook that value like
[code]
To use that like

[code]

Where i should add that for element line stories/MainSection.js ?

[2016-07-15 10:27] FredyC commented on #315
Ok simple use case... _(note: ReactStamp can be compared to createClass, nothing special about it in here)_
[code]

So component is updated on its own with local state as user types and based on debounced input the external value can get updated. Think of it like auto completion.

In a story I would like to somehow invoke that `componentWillUpdate` to see it has been updated properly.

[2016-07-15 16:17] aray12 commented on #314
Do you want me to repost in storybook-ui? After some digging, I realize now that is the repo where this change would happen. I don't think the problem is getting into fullscreen (make the icon in the popup a button) but then getting back out

[2016-07-16 22:27] smeijer commented on #7
Is there already a workaround available for this?

[2016-07-17 10:09] wallslide commented on #300
It's working for me on Windows now. Thanks!

[2016-07-18 06:51] PEM-- opened #318 "1.38.1 - ERROR in multi manager"
Since the upgrade in 1.38.1, I get this error:

[code]

Downgrading to 1.38.0 fixes the error.

[2016-07-18 08:26] mnmtanish commented on #318
@PEM-- thanks for reporting. I'll check it out right away.

[2016-07-18 08:39] mnmtanish commented on #318
Released `v1.38.2` with a fix

[2016-07-18 09:00] PEM-- commented on #318
Thanks. It works like a charm. By the way, thanks also for the addons. `react-storybook-addon-info` is a very neat idea 👍

[2016-07-18 09:00] #318 closed

[2016-07-18 09:59] mnmtanish opened #320 "More control over decorators for addon developers"
Allow addon developers more control over decorators. Sometimes they may need to apply decorators to only some parts exported by the addon or ignore them completely.
Example usecase: https://github.com/kadirahq/react-storybook-addon-info/issues/40

That being said, this makes addons behaviour more ambiguous and harder to debug.

[2016-07-18 11:05] mnmtanish opened #322 "npm warnings caused by storybook"
There's an issue which says storybook may be causing some npm warnings.
https://github.com/FormidableLabs/victory/issues/286#issuecomment-230003193

[2016-07-18 12:08] mnmtanish commented on #300
Fixed with #308

[2016-07-18 12:08] #300 closed

[2016-07-18 12:34] mnmtanish commented on #266
We can start by exporting a function to dump storybook stories. Eg:

[code]

Command line tools can use this dump to test with enzyme or do something else.

[2016-07-18 13:11] mnmtanish commented on #266
Yes, using an addon seems like the best idea we have so far.
_sorry about the previous comment, I totally missed the point there._

[2016-07-18 13:12] #283 closed

[2016-07-18 13:14] mnmtanish commented on #38
This can be done with this [addon](https://github.com/jurgob/react-storybook-addon-add-stories-group).

[2016-07-18 13:14] #38 closed

[2016-07-18 13:18] mnmtanish commented on #150
Fixed with this [addon](https://github.com/kadirahq/react-storybook-addon-info)

[2016-07-18 13:19] #150 closed

[2016-07-18 13:22] mnmtanish commented on #56
Fixed with this [addon](https://github.com/kadirahq/react-storybook-addon-info)

[2016-07-18 13:22] #56 closed

[2016-07-18 13:23] mnmtanish commented on #175
React Native Storybook is quite stable right now so I'll close this issue.

[2016-07-18 13:23] #175 closed

[2016-07-18 13:25] mnmtanish commented on #264
Fixed with this [addon](https://github.com/kadirahq/react-storybook-addon-info)

[2016-07-18 13:25] #264 closed

[2016-07-18 17:51] travi commented on #266
A few things that I'm curious about further thoughts on if this were an add-on
* would that require that the server instance was started in order to run the "tests"? i'm thinking we could approach this in a way that the story definitions are run with some separate processor that focuses on the tests without setting things up for browser rendering
*would that work if another add-on, like the info a

[2016-07-19 03:37] FredyC commented on #315
Another more straightforward example...
[code]
Locating user is one time operation so it does happen in mount only. Component will get updated when location is retrieved. I can write story for a first case, but I am failing with other one.
[code]
Problem is that my `componentWillUpdate` never sees the change because that `userLocation` is within props since the mount.

I've already find out that y

[2016-07-19 16:37] msaglietto opened #323 "Run storybook with custom NODE_PATH"
Hello,

Im trying to set up react-storybook in a project that I'm working on. They are using better-npm-run with custom NODE_PATH, so what I tried is setting up the same way react-storybook:
[code]

But storybook is not picking up the new path like:

I have a component:

project/src/components/MyComponent.js
is importing
import Bar from 'components/Others/Bar';

and I got

ERROR in ./src/component

[2016-07-19 17:02] mnmtanish commented on #323
Hi @msaglietto
I think you're looking for [this](https://webpack.github.io/docs/configuration.html#resolve-root). Add a webpack config file as explained [here](https://github.com/kadirahq/react-storybook/blob/master/docs/configure_storybook.md#custom-webpack-configurations) and set `resolve.root` to your src directory. I haven't tried it but I think it should work. Let us know how it goes :)

[2016-07-19 17:13] renanvalentin opened #324 "Font-face not loading properly"
Hey guys nice work!!!

I've could setup and running storybook, but I wasn't able to load static files:

this is my config:

**package.json:**
`"storybook": "start-storybook -p 9001"`

**webpack.config:**

[code]

this is the output created by webpack:

[code]

If I hit **localhost:9001/static/fonts/Lato-Regular.ttf** it will download the font properly, but when I load the page it is not loaded :/

[2016-07-19 17:18] mnmtanish commented on #324
Hi @renanvalentin
Add the `-s` switch with `start-storybook` command as explained [here](https://github.com/kadirahq/react-storybook/blob/master/docs/configure_storybook.md#static-directory).

[code]

[2016-07-19 17:27] renanvalentin commented on #324
Hi @mnmtanish !

I've tried that before, my fonts are located at:

[code]

and my package is like this:

`"storybook": "start-storybook -p 9001 -s ./src/fonts"`

I've should be doing something wrong, because I can request it from the browser :/

[2016-07-19 19:51] renanvalentin commented on #324
I couldn't figure out why it is not working, but after increasing the url limit loader size from 10000 to 100000 it started to work. that's crazy 🚶 .

[2016-07-19 19:57] renanvalentin commented on #324
It's using base64 now, I suppose that was some encoding problem. 😞

[2016-07-20 02:31] tonyxiao commented on #175
oh wow this is awesome!

[2016-07-20 04:20] arunoda commented on #315
`componentWillUpdate` is not called in the initial render. We always do the initial rendering for all stories. That to prevent to state related issues.

So, if you wanna test `componentWillUpdate` you need to run render your component inside a wrapper component.

That wrapper component may have a some kind of a button which re-render your original component. Then it'll call the `componentWillUpdat

[2016-07-20 04:27] arunoda commented on #314
@aray12 Good question. May be we need to support the shake event or a long press event on the screen.

[2016-07-20 07:36] msaglietto commented on #323
Hey @mnmtanish, thanks  it worked. I used:
[code]
or  ```path.resolve(__dirname, '..', process.env.NODE_PATH)``` if you want to keep using the NODE_PATH

[2016-07-20 07:36] #323 closed

[2016-07-20 16:36] kevinSuttle commented on #248
Any progress to note here? I think this may be affecting this issue as well: https://github.com/kadirahq/react-storybook/issues/304#issuecomment-232155335

[2016-07-20 19:24] kevinSuttle commented on #304
No luck with this, still.

[2016-07-20 19:57] kevinSuttle commented on #304
Aha. Since the top-level config is Webpack 2, then it needs to return a function in the config inside storybook. Notice the trailing `()` self-invoking function.

`module.exports = require('../webpack.config.js')();`

[2016-07-20 19:57] #304 closed

[2016-07-21 12:24] Teemobustin opened #326 "babelRelayPlugin dose work with storybook"
I try to use storybook in f8app,which is an app provided by Facebook for tutorial purpose.
I get this:

`ERROR in ./.storybook/config.js
Module build failed: ReferenceError: Unknown plugin "./server/schema/babelRelayPlugin" specified in "foreign" at 0, attempted to resolve relative to "/Users/Kathy/f8app/.storybook"
    at /Users/Kathy/f8app/node_modules/babel-core/lib/transformation/file/options/

[2016-07-21 13:31] arunoda commented on #326
React storybooks works with UI components. It can't handle Relay components. You have two options here.

1. Expose the original UI component from the module ( Before it wraps with Relay's higher order component)

2. Stub the Relay container: https://voice.kadira.io/stubbing-react-containers-for-testing-11bcd537e586#.pu21eacy6

[2016-07-22 01:41] tomitrescak opened #327 "How to import jQuery into global namespace (for Semantic UI)"
Hi. I'm trying to use Semantic UI and I'm fading all css from it. The problem is that Semantic UI expects jQuery in the global namespace. I tried following to import it, but I still get 'jQuery' is not defined.

[code]

Any idea how can this be achieved ?

[2016-07-22 01:45] tomitrescak commented on #327
Ok, this seemed to do a trick, when I put this code into my main `.stories/index` file.

[code]

[2016-07-22 01:45] #327 closed

[2016-07-22 05:20] IthacaDream commented on #49
I am experiencing this one too. any solutions?

[2016-07-22 12:53] fredabrahamson commented on #49
+1

[2016-07-22 13:38] orta commented on #302
So, my example is in React-Native, but I don't think this should make too much of a difference. However, we are using relay, which _does_ matter.

I wanted to [write stories like this](https://github.com/artsy/emission/blob/f43068bf73914220bcc5b133cc706d0a80aa8ed9/stories/artist_articles_story.js#L28-L45):

[code]

So I created a component that emulates the work of really against a graphQL impleme

[2016-07-22 13:42] orta commented on #276
Would love some kind of choice in the API here ( sometimes we have work happening on `init()` that doesn't get changed when switching between stories of the same component) would love to be able to declare that this should get a fresh virtual DOM.

[2016-07-22 15:14] arunoda commented on #302
@orta Great. This is awesome. Is it possible for you to wrap this component into a NPM package and add it to [here](https://github.com/kadirahq/react-storybook/blob/master/docs/extensions.md#available-extensions).

[2016-07-22 15:19] arunoda commented on #276
@orta you mean something like this? https://github.com/kadirahq/react-storybook/pull/285

[2016-07-22 15:27] kevinSuttle opened #328 "Hot reloading causing Chrome debugger pause?"
This is getting annoying and I'm not sure if it's Webpack or what.

<img width="1440" alt="screen shot 2016-07-22 at 11 26 12 am" src="https://cloud.githubusercontent.com/assets/95672/17062041/41246b20-4fff-11e6-917a-a4948f94f002.png">

[2016-07-22 15:29] kevinSuttle commented on #328
Hm. Seems it was Chrome's dev tools.

[2016-07-22 15:29] #328 closed

[2016-07-22 17:34] orta commented on #276
I think so, I'm still quite fresh to all these pieces

[2016-07-22 18:30] rohit-ravikoti commented on #326
I am having the same issue. The problem is in the .babelrc file:
[code]
When I remove the `"./build/babelRelayPlugin"` line from plugins, storybook runs just fine (I used option 1 to expose original UI component). The problem is, the babelRelayPlugin is needed for the actual app to work.

Is there a way to exclude this plugin for storybook but keep it for the actual app?

[2016-07-24 02:46] arunoda commented on #326
@rohit-ravikoti You can create a custom `.babelrc` file for storybook. See: https://github.com/kadirahq/react-storybook/blob/master/docs/configure_storybook.md#custom-babel-config

I hope that'll work.

[2016-07-25 09:11] mnmtanish commented on #322
Opened a pull-request here
https://github.com/kadirahq/react-storybook/pull/325

[2016-07-25 09:56] mnmtanish commented on #303
Hi @MechJosh0

Thanks for the test repo, it made debugging this issue quite easy.

These bugs happen because the JS files loaded by Helmet is not available when the table gets rendered. It seems helmet is loading js files asynchronously. This can be verified with a `console.log` statement.

[code]

**Solution**

Just `import` the js file. This will fix these bugs.

[code]

**Reference:**
- [table.

[2016-07-25 10:14] MechJosh0 commented on #303
Thanks @mnmtanish for both the solution and the helpful explanation.

[2016-07-25 10:14] #303 closed

[2016-07-25 12:07] reauv commented on #284
Is there any progress on this? I've tried to create a workaround but no luck yet & I don't understand the code of storybook enough to create a pull request.

[2016-07-25 12:30] mnmtanish commented on #294
Hi @dimaip

How about creating a scenario per story? I've wrote a simple POC to do that. Before doing anything else, how can developers use backstopjs with storybook?

To check the POC

[code]

With a little extra effort we can remove the last `gen_backstop.js` stage (backstop supports js configs). Didn't do it for the POC.

cc: @arunoda

[2016-07-25 19:20] purplecones opened #333 "Issues with Absolute Paths"
This works
[code]

Throws error
[code]

`Module not found: Error: Cannot resolve 'file' or 'directory'`

Some of my components have absolute paths in the import statement, and this breaks the story too. Is there a workaround other than doing `../../../../` etc?

I tried using https://github.com/mantrajs/babel-root-slash-import but began getting the
`Uncaught SyntaxError: Unexpected token import` i

[2016-07-25 19:30] purplecones commented on #333
was able to resolve this with
[code]

[2016-07-25 19:30] #333 closed

[2016-07-25 21:00] purplecones commented on #327
Thanks for this @tomitrescak

I decided to `npm install semantic-ui-css --save-dev` package and import the files directly from it like so
[code]

[2016-07-25 21:37] purplecones commented on #37
@tomitrescak were you able to load the fonts that come with semantic-ui with storybook? I'm having issue with the fonts and icons that semantic ui uses. See image.

![react_storybook](https://cloud.githubusercontent.com/assets/136654/17118380/54895ef0-528e-11e6-90b7-2b442f6f477d.png)

[2016-07-26 00:02] cauealves opened #334 "How to load an external scripts"
Hello,

Today I'm try to use the `react-storybook` for building a component thats use the SDK of  Facebook. I will try something like this:

[code]
And I did not succeed. The script loads up if I see on the *network of browser*. But it is not accessible through the console or even within React functions.

I believe it can be related to how the encapsulation `react-storybook` works.

[2016-07-26 00:08] tomitrescak commented on #37
The only way to go is to copy icons and all other required file to the asset directory which you configure when you run storybook. Copy the files into the "default" directory (see where sui is trying to load it from). Then configure loaders as above. And you are done.

[2016-07-26 01:02] arunoda commented on #334
Since we are running inside an inframe, you wouldnt see it directly in the console.
But your other method will see it.

Make sure, we only run a component once. Hooks like componentWillRecieveProps won't work. When you change a story, we will run it from the begining after cleaning the DOM.

[2016-07-26 06:02] roonyh commented on #37
@tomitrescak @purplecones there could be more than one static directories. You can pass them to storybook `-s` as a comma separated list. So you can do,

`start-storybook -p 9001 -s ./assets,/path/to/themes/directory`

picked this info from #229

[2016-07-26 06:49] dimaip commented on #294
@jurgob sorry for not replying for a long time, was on vacation without the internet... So yes, I just want to test every component I have with BackstopJS. I could dump them all on one page, wrap them with some div with a class and match them in BackstopJS. Another solution would be as @mnmtanish proposed, which I quite like, to generate BackstopJS' config based on data received from Storybook.
Bt

[2016-07-26 06:52] mnmtanish commented on #294
POC means "Proof of Concept". Like a demo.
https://en.wikipedia.org/wiki/Proof_of_concept

[2016-07-26 06:54] dimaip commented on #294
@mnmtanish ah hah, I see. I'll try to integrate your solution and get rid of 4) when I'm back from vacation, sounds really promising so far!
Thanks a lot!

[2016-07-26 07:45] alanzanattadev opened #336 "React version"
Hi,

Some react bugs are not fixed because it still use React@15.0.0 instead of React@15.2.1, can we update it and push the update to npm please ?

Thank you :)

[2016-07-26 08:00] arunoda commented on #336
Yes sure. @mnmtanish do this when we are updating a new version.

[2016-07-26 08:02] arunoda commented on #336
Anyway, React version is only relevant for our UI code only. For your component's it'll use your app's version.

[2016-07-26 09:22] mnmtanish commented on #284
Released `v1.40.0` with a fix

[2016-07-26 09:59] michael-martin commented on #284
Can confirm 1.4.0 is working great for us, thanks @mnmtanish :)

[2016-07-26 15:11] purplecones commented on #37
@roonyh I have this
[code]

but it still does not load the assets
[code]

@tomitrescak I also wasn't able to get the fonts to load by copying them to the 'default' folder in the `semantic-ui-css` module

[2016-07-26 15:39] dallonf commented on #326
I think the bigger problem here is that babel plugins are being resolved relative to each file.

I'm running into the same sort of error message with a project-specific plugin (`"plugins": ["./plugins/babel-code-example.js"]` - but _only_ when running Storybook. Running Webpack without stroybook behaves as expected.

For those blocked by this issue, I found a workaround, but it's terrible :)

[cod

[2016-07-26 16:30] roonyh commented on #37
@purplecones That config will make the fonts available at root. At url `http://localhost:9001/icons.woff2 `

What you probably should do is giving `-s` is the path to the themes directory. So try,

`"storybook": "start-storybook -p 9001 -s ./node_modules/semantic-ui-css"`

This will make them available at `http://localhost:9001/themes/default/assets/fonts/icons.woff2`

[2016-07-26 17:17] raveclassic opened #338 "Question: Passing 'module' everywhere - what for?"
Hi!

Could you please explain why do you need to pass `module` to `ConfigApi#configure` and to `ClientApi#storiesOf`. Does this somehow mean usage of different `module` apis? If so, could you please provide an example.
Otherwise it seems unnecessary to require passing `module` and it can be omitted.

[2016-07-26 18:14] purplecones commented on #37
@roonyh that did it. Thanks for that insight!

[2016-07-26 20:15] kevinSuttle opened #339 "build-storybook expects root dir to be .storybook"
Try changing the config to `_storybook`.
`$ build-storybook -o _storybook/`
`Error: => Create a storybook config file in "./.storybook/config.js".`

[2016-07-27 01:54] arunoda commented on #339
@kevinSuttle -o is the output directory. -c is for the config directory.

[2016-07-27 01:56] arunoda commented on #338
That's for hot module replacement. We use HMR api attached to the module.
It's necessary.

[2016-07-27 01:56] #338 closed

[2016-07-27 01:58] arunoda commented on #326
@dallonf I know the pain. Do you know anyway to fix that. May be changing our webpack config?
Would love to see a PR.

[2016-07-27 04:49] #322 closed

[2016-07-27 08:56] raveclassic commented on #338
Ah I see now, thanks.
Sorry about writing to closed issue but have you tried this approach for enabling HMR for React components? https://github.com/gaearon/react-hot-loader
It seems more user-friendly to developers allowing them not to pass `module` by hand.

[2016-07-27 09:22] arunoda commented on #338
@raveclassic yes I have.
It's for another reason. Our use case is different and how we use it.

[2016-07-27 09:33] raveclassic commented on #338
@arunoda Ok thanks for explanation anyway

[2016-07-27 17:06] vladfr commented on #76
Shouldn't this be closed now that addDecorator exists?

[2016-07-28 04:13] arunoda commented on #76
@vladfr I think yes.

[2016-07-28 04:13] #76 closed

[2016-07-29 00:55] satstanford commented on #145
I am also encountering this problem, despite trying all the fixes suggested above (including removing node modules and reinstalling them, adding storybook to the scripts in package.json etc)
I am using npm3,TypeScript 1.8.10, I installed with "npm i -D @kadira/storybook", and I am using Git Bash on a Windows 10 computer.
I attached my npm-debug log

[npm-debug.txt](https://github.com/kadirahq/reac

[2016-07-29 01:37] arunoda commented on #145
@satstanford try to use `start-storybook` instead `./node_modules/.bin/start-storybook`

[2016-07-29 15:15] isnifer opened #340 "Context feature in decorators breaks my storybook"
Hi, guys!

I have updated storybook from 1.17.0 to 1.41.0 today.
I found that some of my components doesn't work.

Early (in 1.17.0) one piece of code was https://github.com/kadirahq/react-storybook/blob/a6a6458385a58611984e8db8bd96ced7038661c5/src/client/client_api.js#L24

And it was beautiful, because I did something like this:
[code]

Currently this piece of code was changed.
https://github.com

[2016-07-29 19:55] henrytseng commented on #181
I'm also running into a similar issue.  `lodash@^3.7.0` is required by `mock-express-request@0.1.1`but it looks like we're using `lodash@^4.14.1`.

Is not 4.14.1 > 3.7.9?  Am I missing something?

[code]

[2016-07-31 04:53] tylercollier opened #341 "Hot reload fails without warning when another webpack dev server is already running"
I just spent the last 3 hours debugging why hot module reloading (HMR) wasn't working on my project's storybook. I even tried using the [react-storybook-demo](https://github.com/kadira-samples/react-storybook-demo) and saw the same results.

Turns out it's because I had webpack-dev-server running already as part of my project. I use webpack-dev-server (WDS) for its hot-reloading, and it runs on th

[2016-07-31 05:00] tylercollier commented on #341
After more research, what's odd is that the port that my project runs WDS does not change the conflict I described above. E.g. if I run WDS on port 8081 instead of port 8080, I see the same results: whichever process I start first works as expected (file changes are seen and thus HMR works), and whichever process starts second does not work.

I'm wondering if this has something to do with how [web

[2016-07-31 06:15] arunoda commented on #341
I tried locally and I couldn't reproduce this locally. Everything seems working fully.
It may be issue with your OS's open file count or something.

Try to increase the open file limit.

[2016-07-31 20:17] cauealves commented on #334
@arunoda Nice! Works fine to me :)

[2016-07-31 20:17] #334 closed

[2016-08-01 05:53] tylercollier commented on #341
You're right. Thanks. Would it be possible to issue a warning message of some kind if the watcher fails? For example, if `nodemon` is unable to watch files, it reports:

[code]

[2016-08-01 06:07] arunoda commented on #341
@tylercollier That's basically managed by the webpack. Not sure why they don't output the warning. Normally, it does fire errors and warnings.

[2016-08-01 13:43] edorivai commented on #324
Having the exact same problem.

Webpack/storybook generates the following CSS:

[code]

But none of the woff files is ever loaded:
![screenshot from 2016-08-01 15-37-32](https://cloud.githubusercontent.com/assets/765358/17295744/f6c1e10a-57fd-11e6-8386-932ce35d309e.png)

I've added the `-s` flag: `start-storybook -p 9001 -c ./src/.storybook -s ./static/dist`, which works perfectly fine with images

[2016-08-01 14:52] arunoda opened #343 "Add better production build support"
Currently, our production build works. But it's not optimized properly for static pages. So, try to get some input from React Create App and adapt.

[2016-08-01 14:54] arunoda opened #344 "Add support for publicPath."
When deploying to production sites, it's better to provide a public URL. We can use webpack's publicPath field for that.

We can provide a cli argument for this. React Create App looks for the homepage field of the package.json for this.

[2016-08-01 20:57] willianjusten commented on #343
It would be great if we can get a way to change the title page to our component/app name and maybe add an og:image to share ^^

A friend of mine created a decorator to add the github corner inside the storybook and it helped a lot to opensource projects.

[React Storybook Github Corner](https://github.com/Personare/react-storybook-decorator-github-corner)

[2016-08-01 22:32] arunoda commented on #343
It's coming soon.

[2016-08-02 01:28] willianjusten commented on #343
Let me know if you need some help. I really like this project, if you have some issues that you need help, call me.

[2016-08-02 02:49] arunoda commented on #343
We are pretty happy to get more help. Have a look at the issue list in here.
If you are familiar with webpack, get some of the production optimizations added [here](https://github.com/facebookincubator/create-react-app/blob/master/config/webpack.config.prod.js) to storybook.

[2016-08-02 06:08] arunoda opened #345 "Add polyfills directly bypassing babel"
Currently, we are importing polyfills directly via babel. Now it throws a warning due to the size limit.
So, we should try to add it directly bypassing babel.

[2016-08-02 06:08] arunoda commented on #336
This is fixed in a recent version.
Anyway this is not a bug.

[2016-08-02 06:08] #336 closed

[2016-08-02 13:36] moimael opened #347 "Webpack config breaks with storybook 2.1"
Hi,

I tried to update storybook to 2.1.0 but css modules do not seems to work with it.

I get a bunch of errors like this one :
[code]

Here is my webpack config which worked fine with storybook 1.41 :

[code]

Any idea on what's going on ? I tried to look at the doc to see if any changes were needed but it doesn't seems so.

Thanks.

[2016-08-02 14:35] arunoda commented on #347
We've added some default configurations here: https://github.com/kadirahq/react-storybook/blob/master/CHANGELOG.md#v200.

It comes with a default set of loaders similar to "Create React App".

I suspect issues like this. That's why we have done a major release.
Anyway, I know how to fix this issue.

[2016-08-02 14:44] moimael commented on #347
Awesome thanks ! :+1:

[2016-08-02 18:51] oskarhane commented on #15
Im having the `Invalid name: "@kadira/storybook"` issue.
Same error when I `npm i --save-dev @kadira/storybook` or just add it to package.json with `"@kadira/storybook": "https://github.com/kadirahq/react-storybook.git"`.

I've tried with node 5.11.1 (npm 3.8.6) and 6.2.2 (npm 3.9.5).
The registry I use is `https://registry.npmjs.org/`.

On OS X.

I don't think it's a duplicate of this issue, but

[2016-08-03 00:40] arunoda commented on #15
Seems like something like this: https://github.com/npm/npm/issues/10344
This will tell me to move this package to something like `react-storybook`.

[2016-08-03 01:32] arunoda commented on #347
I just released a new version with `v2.1.1`. Could you try that. I hope it'll fix the issue.

[2016-08-03 03:07] arunoda commented on #224
I'm moving this thread to here since we are focusing the effort on here: https://github.com/kadirahq/getstorybook/issues/1

[2016-08-03 03:07] #224 closed

[2016-08-03 03:08] arunoda commented on #268
We are going to fix this with https://github.com/kadirahq/react-storybook/issues/344.
So, I'll move the discussion to there.

[2016-08-03 03:08] #268 closed

[2016-08-03 03:09] arunoda commented on #181
I am sure it's fixed by now or not related to storybook.

[2016-08-03 03:09] #181 closed

[2016-08-03 03:10] arunoda commented on #120
Closing this and adding a ref to here: https://github.com/kadirahq/getstorybook/issues/1
Because, we'll focus efforts on great Meteor support there.

[2016-08-03 03:10] #120 closed

[2016-08-03 03:11] arunoda commented on #96
We will use this or similar by default. We'll work on this with our new tool `getstorybook`. Closing this and moving the discussion here: https://github.com/kadirahq/getstorybook/issues/1

[2016-08-03 03:11] #96 closed

[2016-08-03 03:12] arunoda commented on #45
I think we could close this.

[2016-08-03 03:12] arunoda commented on #45
Add ref: https://github.com/kadirahq/getstorybook/issues/1

[2016-08-03 03:12] #45 closed

[2016-08-03 03:34] banderson commented on #166
@arunoda Is this still the plan? I'd be willing to contribute if that would help 😄

[2016-08-03 04:39] arunoda commented on #166
@banderson yeah! That's there.
Will do a release soon.

[2016-08-03 08:31] moimael commented on #347
Thanks for your reactivity, unfortunately, I get another issue now. The console displays this error :
[code]

[2016-08-03 09:32] arunoda commented on #347
weird. Is to possible for you to send me sample repo, where I can work on this?

[2016-08-03 11:02] moimael commented on #347
Hum not really our Gihub repo is private. But the error is a bit weird, happens on Chrome and Firefox.
This is the file in question :

[code]

We can clearly see that _crypto is not defined here. Is it some sort of transpiling/webpack issue ?

[2016-08-03 17:05] arunoda commented on #347
May be this is related to a transpiling error. I think we'll go with some essentials rather using `stage0`.

[2016-08-03 17:06] arunoda opened #349 "Stop using stage0 babel config."
Currently, we are started to seeing some issues due to the use of `stage0`. Try to use some defaults we are okay with.

[2016-08-03 17:24] arunoda opened #350 "Avoid the use of webpack-hot-middleware"
Now we don't need to use this middleware. We could simply use webpack-dev-server directly.
See: https://webpack.github.io/docs/webpack-dev-server.html

[2016-08-03 17:38] paul42 opened #351 "Latest version of create-react-app and getstorybook don't work together?"
wanted to try out create-react-app with getstorybook - should I have 'ejected' first?

[code]

[2016-08-03 17:48] paul42 commented on #351
are there any Node or npm version requirements? I'm running slightly older versions

[2016-08-04 01:20] arunoda commented on #351
Yes. You need to use NPM 3.
We will add NPM 2 support soon.

you can install NPM3 with `npm i -g npm@3`

I'm closing this in favour of https://github.com/kadirahq/getstorybook/issues/6

[2016-08-04 01:20] #351 closed

[2016-08-04 01:48] mnmtanish commented on #347
Better check whether we're getting this error because of stage-0 first.
Having stage-0 is good because it covers requirements of most developers.

On Wed, Aug 3, 2016, 11:11 PM Arunoda Susiripala <notifications@github.com>
wrote:

--

*MN MUHAMMED THANISH*
*@MNMTANISH | HTTP://THANISH.ME <http://thanish.me/>*

[2016-08-04 02:11] arunoda commented on #347
@mnmtanish but these features can be buggy. We anyway allow custom babeljs support if users need it.

Here's some insight from dan about this.
https://github.com/facebookincubator/create-react-app/issues/317#issuecomment-236570911
I really l like to follow that.

[2016-08-04 08:52] PTihomir opened #352 "Can't use storybook ^2.0.0 when babel-loader is defined in preLoaders"
Hi!

My webpack configuration is something like this:
[code]

The problem is as I see is, that storybook 2.0.0 defines the new default webpack config. There a default babel-loader is probably defined, and my configuration is not overriding that. I am assuming this also from the fact, that running storybook is now very slow and it shows that babel is trying to transpile everything from node_modules

[2016-08-05 02:47] arunoda commented on #352
Could you try to use the latest of 2.x. Once you use a custom webpack setup, it'll stop using the default config.

Anyway, is it possible for you to send me a small repo with your bug. So, I can work on it quickly.

[2016-08-05 04:05] arunoda commented on #350
I think we can close this as we need to use middlewares.

[2016-08-05 04:05] #350 closed

[2016-08-05 04:51] #349 closed

[2016-08-05 04:59] #345 closed

[2016-08-05 08:45] Nickman87 opened #358 "Uncaught TypeError: $export is not a function"
I've just updated to the latest react-storybook 2.1.1 and with our old configuration I'm now getting the following error:

[code]

which relates to this piece of code
[code]

By adding `exclude: /node_modules/,` to the webpack config, the error goes away and everything seems to work fine.

Is there a reason you do not exclude the node modules, or do you need more information to debug this?
We have

[2016-08-05 08:45] PTihomir commented on #352
Here is the sample project: https://github.com/PTihomir/storybook-test-project

One note. This is a simplified project. When I cleaned it up, I installed storybook with the command
`npm install @kadira/storybook`.

Then by running `npm run storybook` I got some errors in the browsers console log.

Uninstalling and installing version 1.41.0 with `npm install @kadira/storybook@1.41.0` worked, storyb

[2016-08-05 09:06] arunoda commented on #351
Update the `@kadira/storybooks` to the latest. Now we support NPM2 :)

[2016-08-05 09:08] arunoda commented on #358
@Nickman87 we just released `v2.2.0`. Could you try that?
I hope it'll fix this issue.

[2016-08-05 09:10] arunoda commented on #352
@PTihomir thanks for the repo. I'll have a look at this.

[2016-08-05 10:40] arunoda opened #360 "Modules and NPM2"
@mnmtanish I just implemented NPM2 support for storybooks.
See: #356

It'll work with current modules.
But I want to know about how it will work with custom modules (user supplied modules.)

Could you possible to do some review on this.

[2016-08-05 11:07] arunoda commented on #352
@PTihomir yeah that's hugely slow.
Try using `v2.2.0`. It'll fix this issue.

BTW: I had to add following changes to get your app working:

[code]

[2016-08-05 11:18] arunoda commented on #347
@moimael Could you try the version `2.2.0` or higher.
We have added more fixes into this.

[2016-08-05 11:20] Nickman87 commented on #358
Hi @arunoda, this has indeed solved the issue for me, awesome :).
It also fixes https://github.com/kadirahq/react-storybook/issues/289 for me, so maybe that issue can be closed now?

[2016-08-05 11:30] arunoda commented on #358
Awesome.

[2016-08-05 11:30] #358 closed

[2016-08-05 11:31] arunoda commented on #289
Guys, try the new version `v2.2.0`. It might fix this issue.

[2016-08-05 11:54] PTihomir commented on #352
Sorry about the wrong path :) I was checking if some of the stories affect the whole picture, and after that I forgot to revert.

I will try the newer version on our full project.

[2016-08-05 12:04] moimael commented on #347
@arunoda `2.2.0` seems to work perfectly fine, thanks !

[2016-08-05 12:15] thebuilder opened #361 "DLL Plugin broke with 2.x"
I've got a setup that packages libs into a DLL, to speed up rebuilds. It's running in full-control-mode, and was working fine in 1.4.x.

Running in 2.2.0, i'm now getting:
[code]

I'm guessing it's caused by Storybook trying to use parts of the same webpack setup? The error is happening before the UI is rendered.

If i remove the DllReferencePlugin, everything works.

**webpack.config.js**
[code]

[2016-08-05 12:18] arunoda commented on #347
Awesome.

[2016-08-05 12:18] #347 closed

[2016-08-05 12:20] arunoda commented on #361
Could you send me a sample repo where I can test this locally. So, we could fix the issue.

[2016-08-05 12:43] thebuilder commented on #361
Hey, i've tried to create a cutdown version of my project, containing just a simple storybook setup:
https://github.com/thebuilder/broken-storybook-dll

Thanks for looking into it.

[2016-08-05 14:35] paul42 commented on #351
works like a charm, excited to dive in! Thanks for taking the time to backtrack for me, I'm sort of locked in due to some of the requirements of work on my work machine here, and I couldn't find an npm-switcher like there are for node versions (like nvm, or n) so thanks again! I appreciate it!

[2016-08-05 16:12] arunoda commented on #361
@thebuilder I'm looking at this.

[2016-08-05 16:47] arunoda commented on #361
@thebuilder I could able fix it by doing this. Had to add some deps too.
See:

<details>
<summary>Here are the changes:</summary>
[code]
</details>

[2016-08-05 16:50] thebuilder commented on #361
Cool! Changing context to __dirname fixed it.

Is it running running the Webpack instance in a new process?

[2016-08-05 16:50] #361 closed

[2016-08-05 16:52] arunoda commented on #361
@thebuilder No we don't running it in a new process.
It's just the normal way.

[2016-08-05 20:04] PTihomir commented on #352
I can confirm that v2.2.0 fixes my issue and now everything works as expected.

[2016-08-05 20:04] #352 closed

[2016-08-05 23:32] arunoda commented on #352
Great. Awesome.

[2016-08-06 13:23] mnmtanish commented on #360
We can try a few open source repos with customised storybook and see whether it works with npm2. We can try repos with custom `.babelrc` files and webpack config files. If you know any, I can check them out.

[2016-08-06 14:36] mnmtanish commented on #340
@arunoda with the new addon API I guess we can get rid of the context argument too. The context argument is not documented and as far as I know only the story info addon is using it.

[2016-08-06 19:06] arunoda commented on #340
@mnmtanish Yeah! I think we no longer need it.
BTW: Try to help on this case.

[2016-08-07 00:50] tleunen opened #362 "Use json5 to parse .babelrc"
Babel uses json5 to parse its configuration file, so react-storybook should use the same instead of cjson.

The reason is json5 allows trailing commas for example, but cjson does not.

[code]

[2016-08-07 12:27] stipsan opened #363 "How to disable mangled component names during build-storybook"
Hey,

When you build a static storybook the component names get mangled, as seen here: http://uikit-react.io/

This is suboptimal when using the [React Storybook Info Addon](https://github.com/kadirahq/react-storybook-addon-info)
I've tried to use the "full-control" mode but without luck.

Here's the webpack config for the storybook: https://github.com/stipsan/uikit-react/blob/master/.storybook/we

[2016-08-07 12:34] mnmtanish commented on #363
It's happening because component names are getting minified. It's done by the uglifyjs plugin [here](https://github.com/kadirahq/react-storybook/blob/master/src/server/config/webpack.config.prod.js#L27). You can remove that plugin with the "ful-control" mode to fix the issue. A better solution is to set the `displayName` property for your React Components so it'll work with the info addon and Reac

[2016-08-08 00:29] lorensr opened #364 "How to make changes to components after render?"
I have:

[code]

I would like to add another story that has some form fields filled in with certain values, but I don't want to add to the `BankForm` API/proplist. What's the best way to do this?

[2016-08-08 01:20] arunoda commented on #363
I think thanish has the answer. Check the storybook-addon repo's issues for more info on this.

[2016-08-08 01:20] #363 closed

[2016-08-08 01:22] arunoda commented on #364
Hey, didn't get this.
Could you give more info?

Are you looking to render another story inside another one.
Or jump to another story or something else?

[2016-08-08 04:53] lorensr commented on #364
Hi! Sure, sorry. My `<BankForm>` has a few input fields. In the above story, the fields are blank. I would like to have a story where some of the fields are filled in, eg with "Loren Sands" and "000222094". Like `$('form > input').val('Loren Sands')`. Where's the best place to put that code (or something similar)?

[2016-08-08 05:09] arunoda commented on #364
Hmm. Seems like you need to prefill some data. So, using jquery is not good.

Best way is to provide some props where you can send defaults for user inputs. Then you can create a helper function to stop writinng defaults in every story.

[2016-08-08 05:49] lorensr commented on #364
Is there a way to do it without adding to the component's API / proplist?

On Mon, Aug 8, 2016 at 1:09 AM, Arunoda Susiripala <notifications@github.com

[2016-08-08 06:17] arunoda commented on #364
Then it's not storybook related stuff, but it's more generic one. You can get the DOM of the children from the `StoryWrapper` component and then manipulate it.

But i don't recommend it.

Other way is to expose some instance function and call it by getting the react ref.
I think you could get more help from posting to StackOverflow.

[2016-08-08 06:17] #364 closed

[2016-08-08 20:24] michaelryancaputo opened #365 "getstorybook -f overwrites existing stories"
Use case:
Creating react components that will be used in a private npm registry. To init the storybook app to view/make changes, it needs to be reinitialized. The only way to do this seems to be to run `getstorybook -f` which seems to overwrite any changes to the `/stories` folder.

A user should be able to pull a repo containing a storybook component and initialize a storybook app that does not o

[2016-08-09 01:09] arunoda commented on #365
Could you give me more info on this.
For that, I don't think you need to `getstorybook -f`.

Just invoking `npm install` is sufficient I guess.
Tell me more, I'll try to think more.

[2016-08-09 03:18] michaelryancaputo commented on #365
Thanks,
running `npm i` does install the packages, but it doesn't include the storybook configurations. When I pull my repo, after running an npm install, I get the following error: `Error: => Create a storybook config file in "./.storybook/config.js".` - I guess this file isn't included in the repository i'm committing, which can be remedied, but I'm guessing others may have this problem as well

[2016-08-09 04:43] arunoda commented on #365
@michaelryancaputo The thing is you need to commit the files created by `getstorybook` after you've done any changes.

I hope that's the issue here. Or could you give me a sample repo or some other way we could re-produce this locally. Then I can dive more.

[2016-08-09 14:16] michaelryancaputo commented on #365
Ok, it seems like there is a `.gitignore` somewhere stopping me from being able to add the config file without forcing it. I don't see it anywhere in my path.

I guess that is the only way to do this. Thank you for your prompt reply.

Please close this if you are satisfied with this answer.

Thanks again.

[2016-08-09 16:14] arunoda commented on #365
great.

[2016-08-09 16:14] #365 closed

[2016-08-10 02:30] mattkime opened #367 "v2.x is incompatible with webpack v2.x projects"
storybook v2.x has `extract-text-webpack-plugin@1.0.1` as a dependency. `extract-text-webpack-plugin@1.0.1` has webpack ^1.9.11 as a peer dependency.

This means you'll get an 'unmet peer dependency' WARNing on `npm install`. This is fine if you're playing npm version roulette but if you're locking down your dependency revisions with `npm shrinkwrap` it'll refuse to write the `npm-shrinkwrap.json`

[2016-08-10 02:47] arunoda commented on #367
I think for now, we could remove the `extract-text-webpack-plugin`. We are not using it yet. Could you send me a PR for that?

[2016-08-10 13:26] ritz078 opened #368 "lifecycle methods not executed"
Somehow `componentDidMount ` and `componentWillReceiveProps` are not getting executed.

The debugger stops directly in render.

[2016-08-10 13:46] #368 closed

[2016-08-10 17:21] #367 closed

[2016-08-10 18:37] kesne opened #370 "Addon channel not being called for changing stories"
I've been playing with the new panel addon api, and so far it's great! One thing I noticed was missing was that the `selectStory` event is not called when one of the story links in the left pane was clicked. This would be useful so that you can change the bottom panel content based on the currently selected story.

[2016-08-10 19:34] arunoda commented on #370
For that you can listen one of our other API. (Which is not documented yet.) But I can show you a sample.

See this [onStory api](https://github.com/kadirahq/getstorybook.io/blob/master/.storybook/notes_addon.js#L42). With that, you can listen for the story changes.

[2016-08-11 06:51] qiangege opened #371 "The webpack watch dosn't rebuild when I perform npm run storybook"
here:https://github.com/qiangege/react-storybook-demo.git

first
 I perform `npm run storybook `
 now, I  change content of the files in node_modules,the webpack can rebuild

then
I open  another  service, don't  close `npm run storybook`, I perform `npm install range-input-react`  or  `npm install`. now , I  change content of the files in node_modules,the webpack dosn't  rebuild,

this question i

[2016-08-11 07:52] arunoda commented on #371
You mean, when you install new NPM modules, storybook webpack cannot determine that. Is it?

[2016-08-11 09:08] qiangege commented on #371
step  npm run storybook  > npm install a modules > change a file
it's not rebuild the project   webpack watch it's not working .
you can try it.

[2016-08-11 09:20] arunoda commented on #371
Okay. Got it. I know how to fix this.
Note: Use CRA's [WatchMissingNodeModulesPlugin](https://github.com/facebookincubator/create-react-app/blob/master/scripts/utils/WatchMissingNodeModulesPlugin.js).

[2016-08-11 12:40] stipsan opened #372 "build-storybook chunk hash assets"
Hey guys,

If you look at the source of [uikit-react.io](https://uikit-react.io) (built using standard `storybook-to-ghpages`) this is how the script is loaded:

[code]

Is it possible to configure it to use the chunkhash feature of webpack?
To generate something like this:

[code]

That way the long term caching setup on the domain (using Cloudflare CDN) is automatically busted when we deploy. Ot

[2016-08-11 12:48] arunoda commented on #372
Yep. This is good feature we need to work on.

[2016-08-11 19:43] lnmunhoz opened #373 "How to require all stories?"
It is possible to require all stories using like [node-glob](https://github.com/isaacs/node-glob) in the `config.js` file?

I tried but there something wrong happening when `glob` tries to access my `src` path. Maybe I am doing something wrong, but I would like to see this working.

[code]

Someone has a workaround?

[2016-08-11 20:36] sean-clayton opened #374 "Can't use Babel ES2015 syntax in config.js"
[code]

[code]

[code]

[code]

[code]

[2016-08-11 20:40] sean-clayton commented on #374
I just changed my `config.js` to the following

[code]

And now I get this error:
![image](https://cloud.githubusercontent.com/assets/1108160/17604107/4493940a-5fe2-11e6-8359-4fd7d1f73cf9.png)

[2016-08-11 20:47] sean-clayton commented on #373
[code]

That should work 😃

[2016-08-11 21:55] sean-clayton commented on #374
Closing this because I found out the issue. It turns out this broke because of my own webpack configuration file. The `export` of my `webpack.config.js` was a function that returned an object. I made it so it wasn't a function and instead an object and all seemed to be fine!

[2016-08-11 21:55] #374 closed

[2016-08-12 00:57] lnmunhoz commented on #373
Worked like a charm! Thank you @sean-clayton!

[2016-08-12 00:57] #373 closed

[2016-08-12 02:54] dhansiddh opened #375 "Addon and decorator not working."
I am a issue while using addons and global decorators in the react-storybook. Here is what my config file looks like
[code]

And when i am trying to use the `infoAddon` method in the component story file i am getting error that the function is not find. Below is my component.story  file

[code]
 This is the error i am getting
```Uncaught TypeError: (0 , _storybook.storiesOf)(...).addWithInfo is no

[2016-08-12 03:09] arunoda commented on #375
@roonyh could you have a look at this?

[2016-08-12 04:53] roonyh commented on #375
@dhansiddh Remove the line, `import stories from '../src/components/stories';`. This line is called before `setAddon` is called so it gives that error.

And change the `loadStories` function to,
[code]

[2016-08-12 04:57] dhansiddh commented on #375
Thanks @roonyh this seems to fix the issue 👍

[2016-08-12 04:57] #375 closed

[2016-08-12 05:24] chibicode opened #376 "Silence Webpack Output"
Just FYI for people having the same question - if you would like to suppress webpack output, try this:

[code]

This works because `react-storybook` uses webpack dev middleware, which supports the above option. See: https://github.com/webpack/webpack/issues/1191#issuecomment-197359079

### Before

![image](https://cloud.githubusercontent.com/assets/992008/17613451/390285f8-6012-11e6-8a08-77bd58b4f

[2016-08-12 05:24] #376 closed

[2016-08-12 17:53] mattkime commented on #367
thanks @arunoda  - just curious if you could publich v2.2.2 to npm

[2016-08-13 00:39] arunoda commented on #367
oops. Just did it.

[2016-08-14 08:10] ritz078 opened #378 "How do you use react-storybook ?"
Would love to know how people use storybook and the particular use case it serves for them. 💻

[2016-08-14 08:12] ritz078 commented on #284
@mnmtanish can be closed.

[2016-08-14 08:15] mnmtanish commented on #284
Yeah, thanks

[2016-08-14 08:15] #284 closed

[2016-08-14 08:26] FarhadG opened #379 "Default Webpack configuration seems to minify everything by default and doesn't catch prop types"
By the way, I must say that I absolutely love this project. It's been very easy getting up-and-running. A few things I've noticed:

- Default Webpack build minifies everything or the component names are preserved, which makes it difficult for the documentation aspect (using `addWithInfo`).
- Either due to the minification or the fact that `propTypes` cannot be read when exported components are wra

[2016-08-14 13:31] arunoda commented on #378
This is a great question. I'll start why we started this in the first place.

We are using Meteor with React. Earlier it takes a lot of time to happen hot code reloading. Something more than 3 minutes. So, we needed a fix. This was it. We pick ideas from some other existing tools.

Now, we are experimenting this as a design tool where we compare design and the implementation side by side. (Kudos t

[2016-08-14 13:34] arunoda commented on #379
Try to define a displayName for your component. It'll fix this.
Minification is something we must do.

Check this: https://github.com/kadirahq/react-storybook-addon-info/issues/43

[2016-08-14 13:34] #379 closed

[2016-08-14 13:35] arunoda commented on #379
If this is something else, try to create an issue on the addon-info repo.

[2016-08-15 03:26] aray12 commented on #314
After some thought, it might be a good idea to completely rethink the approach for mobile. Responsive development is only becoming more important and in a perfect world I would see my components in both desktop and mobile (using something like browser-sync) simultaneously as I build for the basic visual testing. I noticed in #378 that you use storybook to match design which is exactly how we use i

[2016-08-15 09:45] abnerCrack commented on #371
@arunoda
The first, thinks for your project.it's very great
About this problem I have a suggestion
 see that:
https://www.npmjs.com/package/npm-install-webpack-plugin
npm-install-webpack-plugin

[2016-08-15 10:59] arunoda commented on #371
@abnerCrack This plugin does too much.
We don't want to save NPM packages and others. We just need to detect changes.
The plugin I mentioned above would work fine for this usecase.

PRs welcome :)

[2016-08-15 11:03] abnerCrack commented on #371
@arunoda  TOT.ok~~~~

[2016-08-15 13:52] alikhani opened #381 "Error while running tests"
I added react-storybook to a project with [react-boilerplate](https://github.com/mxstbr/react-boilerplate). When I try to run tests I get this error

`Uncaught Error: dataId is not supplied via queryString
  at webpack:///~/@kadira/storybook/dist/client/preview/index.js:64:0 <- test-bundler.js:54610`

Has anyone experienced this issue or know what it belongs to?

[2016-08-15 16:57] arunoda commented on #381
Is there anyway we could re-produce these errors?

[2016-08-15 17:53] FarhadG opened #382 "GitHub pages build doesn't load images"
I have the following `npm` script:

[code]

which works flawlessly, where it builds and deploys to github pages, however, none of the images are loading (asset paths are incorrect). This works just fine in storybook's development cycle, however, when I build and deploy to github pages, the assets don't load.

Any ideas?

[2016-08-15 20:24] ritz078 commented on #269
Angular 2 APIs have become stable with the release of RC5. There won't be any breaking changes now. So its a good time to start developing it.

[2016-08-16 00:18] arunoda commented on #382
Yes. That's an issue with paths. We are going to fix this in upcoming days.
For now for your images, try to use relative paths if possible.

[2016-08-16 07:46] alikhani commented on #381
@arunoda I will create an example soon when I have time

[2016-08-16 08:00] oracle000 opened #383 "Active State in React Routes shows in StoryBook"
Is it possible to display an active state of navigation that was build with react router in storybook?

[2016-08-16 11:51] arunoda commented on #383
Could you add more info to this?

[2016-08-16 11:51] arunoda commented on #383
It that about showing the URL navigations in storybook?

[2016-08-16 22:30] oracle000 commented on #383
Hi, thank you for your response. What I want to achieve is to shows one of my navigation link that is active. So here is my code for React Router :

**header.js**
[code]

[2016-08-17 01:48] ffxsam commented on #297
This is what wound up working for me:

[code]

[2016-08-17 01:52] ffxsam commented on #297
So in the example above, in the "basic" story, how would I access props passed in by `Formous`?

[2016-08-17 11:53] joaomilho commented on #381
+1, I get this in the UI

[2016-08-17 12:18] joaomilho commented on #381
And all I have is this:

[code]

[code]

[2016-08-17 12:20] joaomilho commented on #381
Mmm, solved by removing some plugins I had in the webpack config. I just copied and pasted the real one...

[2016-08-17 12:44] mnmtanish commented on #381
Hi @joaomilho
Which plugins were causing this error?

[2016-08-17 16:01] PTihomir opened #385 "Storybook and webpack-dashboard"
I am trying to add to my project the webpack-dashboard plugin, which makes a nicer output from webpacks default build output. But with storybook it fails, because I can't figure out how to make storybook be quiet when it has some errors in build process.

Here is a sample project, with intentional error:
https://github.com/PTihomir/storybook-test-project

`npm run storybook` will start the build,

[2016-08-17 16:28] mnmtanish commented on #385
Looks like we should forward the `devServer` field as options for the **webpack-dev-middleware**. This is what the **webpack-dev-server** seems to be doing (check [this link](https://github.com/webpack/webpack-dev-server/blob/2f02d0c169c0681e85c2b12dae6774ab0ee7a115/bin/webpack-dev-server.js#L137) and [this link](https://github.com/webpack/webpack-dev-server/blob/2f02d0c169c0681e85c2b12dae6774ab0e

[2016-08-18 03:00] arunoda commented on #385
I'm gonna close this since we've a clear set of actions.
@PTihomir feel free to ask more questions or re-open if you need.

[2016-08-18 07:38] PTihomir commented on #385
Ok, thanks. I will make the modifications and create the PR.

[2016-08-18 08:02] arunoda commented on #385
@PTihomir awesome.

[2016-08-18 08:11] ritz078 opened #386 "Don't need storybook-deployer to gh-pages anymore"
https://github.com/blog/2228-simpler-github-pages-publishing

Simply build them in docs folder and make the appropriate settings for the repository.

[2016-08-18 12:47] arunoda commented on #386
Yeah. We can set a prepublish script or something like that to generate the storybook and put it into the docs directory.

[2016-08-18 12:48] arunoda commented on #386
I'll put this into the next version of documentation.

[2016-08-18 16:46] fab1an opened #387 "Tachyons.css for styling"
Would you consider adding a hint somewhere that links to http://tachyons.io/?

In my opinion this is a way of styling that works extremely well with React and react-storybook.

[2016-08-18 22:09] arunoda commented on #387
Thanks. It's a great project.
We are mostly unopiniated when it's comes to CSS.

[2016-08-18 22:09] #387 closed

[2016-08-19 00:45] jhicken opened #388 "extract-text-webpack-plugin with webpack 2"
So I am using webpack 2.1.0-beta.21 and storybook 2.3.0 and extract-text-webpack-plugin 2.0.0-beta.3. In full control mode. When I have new ExtractTextPlugin('styles.css') defined things explode.

/node_modules/extract-text-webpack-plugin/index.js:245
                                var shouldExtract = !!(options.allChunks || chunk.isInitial());

if i use extract-text-webpack-plugin 1.0.1 I get th

[2016-08-19 11:56] ritz078 opened #389 "An API to set options"
Currently options can't be passed to storybook-ui through react-storybook. This will need discussion regarding the API. storybook-ui [already accepts some options](https://github.com/kadirahq/storybook-ui/pull/20) but there's not a way to pass them while using react-storybook. Once this is implemented we can add more optional parameters. Even changing UI colors. It will be great if someone looks i

[2016-08-19 13:12] roonyh commented on #389
The method `setOptions` is open to addons. So this can be done by an addon. Maybe we can just create an addon for these customizations.

[2016-08-19 18:31] michaelryancaputo opened #390 "Full Control Webpack Breaks Loaders"
I'm trying to load in some environment variables into my storybook using the webpack full control method.

my webpack.config.js file looks like this:

[code]

When I do this, I seem to loose all of my loaders, css won't load. Also, i can't seem to load in webpack with es6 syntax `import webpack from 'webpack'`.

[2016-08-19 20:21] michaelryancaputo commented on #390
Managed to get this working, with some help from #155

My webpack config:
[code]

webpack.config.babel.js

[code]

.babelrc

[code]

[2016-08-19 20:21] #390 closed

[2016-08-21 11:18] julienp commented on #324
I ran into the same issue, and after noticing that it worked fine in Safari, but not in Chrome I found the following explanation http://stackoverflow.com/questions/34133808/webpack-ots-parsing-error-loading-fonts/34133809#34133809

As per the Stackoverflow explanation, the fix is to set an absolute output path in the storybook webpack config:

`storybookBaseConfig.output.publicPath = 'http://local

[2016-08-21 13:04] ritz078 commented on #389
So do you mean as the options keep increasing, we will create as many addons ? If this is it, that won't be a scalable solution. This isn't an additional feature. `setOptions` is already present in storybook-ui. So the option to set it should be inbuilt ?

[2016-08-21 13:30] roonyh commented on #389
I meant one addon for all the options named 'customizer' or something. But I realized it would just be five lines :) So no point of maintaining separately. So I agree this should be inbuilt.

[2016-08-21 19:11] ritz078 commented on #389
Yes that's what I was concerned about. A build in API will be great. Once this is done, the following can be configured:

- [x]  title and link
- [ ] theme colours
- [ ] show non enumerables in action logger.

[2016-08-22 06:41] soneymathew opened #393 "Provide global switches for RTL, fonts, locales, themes"
Provide options to
1) Switch between rtl and ltr for all the displayed stories at runtime
     To see how my stories get affected based on the direction
2) Switch between multiple configured fonts for all stories at runtime
     To see how my stories look with different fonts
3) Switch between multiple configured locales for all stories at runtime.
   saw this one https://github.com/Tarabyte/react

[2016-08-22 17:54] PolGuixe opened #394 "Module not found - Meteor Issues"
I have started using Storybook and I have some issues with the Meteor packages.

Yes, I use some Meteor packages inside components, such as:
-std:accounts-ui.
-kadira:flowrouter-ssr --> to obtain urls, etc.

Any idea how to solve this issues with modules not being found?

[2016-08-22 18:53] necolas commented on #174
We're having the same issue after updating from 1.x to 2.3.0

[2016-08-22 20:44] necolas commented on #393
Have you looking into doing this in user-land with the new addons API?

[2016-08-22 21:22] necolas opened #395 "Storybook doesn't run when `--dont-track` flag is included"
We added `--dont-track` to our storybook script:

[code]

Result:

[code]

And the process exits.

[2016-08-22 21:25] necolas commented on #395
Looking through the tracking patch, it looks like this is the intended behaviour. Really confusing decision IMO.

[2016-08-23 00:53] arunoda commented on #395
Actually, you need to do this only once. After that, there's no need to use dont track command.

May be we can just print a log to run storybook command again or simply ignore sending data when there's the flag.

[2016-08-23 00:57] arunoda commented on #394
Unfortunately there's no way to do that. That's the intendant behaviour.

You need to write your UI component without those modules. Then use a container to do use those modules and inject.

[2016-08-23 01:15] arunoda commented on #174
@necolas Interesting.
I'll do a test and see what's going on here.
May be we'll remove `HtmlWebpackPlugin` if it exists. Since it has no effect when used with storybook.

[2016-08-23 04:35] necolas commented on #174
I think this was just a case of my mistake :)

[2016-08-23 04:45] necolas commented on #395
Oh I see. So you'd expect storybook to be installed globally in that case? In my case we have a tool like create-react-app that bundles storybook and wraps commands. So the storybook script now runs 2 start-storybook commands. No problem

[2016-08-23 05:04] arunoda commented on #395
@necolas ah nope. It's the same command you install in your project. Anyway, this is confusing.
I'll change it as you expected it to work.
That makes sense.

[2016-08-23 08:18] vass-david opened #396 "TypeError: _webpack2.default.optimize.OccurenceOrderPlugin is not a constructor"
We've recently updated npms in our project. Storybook is now complaining with this error:

[code]

The apparent solution should be this (https://github.com/webpack/webpack/issues/1964):

I know that in your package.json there is webpack in version `1.13.1`, but it would be nice to support version 2 as well.

I've tried to rename problematic plugin name and after renaming it works fine. I suggest u

[2016-08-23 08:31] arunoda commented on #396
What's the storybook version you are running. Try to use the latest which is: `v2.3.0`. I hope it has the fix for this.

[2016-08-23 08:34] arunoda commented on #396
May be this seems like a bug. Let me try to fix this.

[2016-08-23 08:37] vass-david commented on #396
I've updated to `v2.3.0` and the problem is still present. I think the only two options here are a) upgrade webpack or b) put simple condition there (e.g. `new (webpack.optimize.OccurenceOrderPlugin || webpack.optimize.OccurrenceOrderPlugin)()`)

[2016-08-23 09:03] vass-david commented on #396
BTW If my suggested solution b) is OK for you, I can create a PR myself since it's just one line modification.

[2016-08-23 09:34] #396 closed

[2016-08-23 09:35] #248 closed

[2016-08-23 10:53] #362 closed

[2016-08-23 10:57] arunoda commented on #289
Closing this since we fixed this with `v2.2.0`. Please reopen if it's not.

[2016-08-23 10:57] #289 closed

[2016-08-23 10:57] arunoda commented on #23
Try to use this with the latest version of storybook. Surely, we've fix this.

[2016-08-23 10:57] #23 closed

[2016-08-23 10:59] arunoda commented on #13
I think we can close this now. Since everybody is using babel6.

[2016-08-23 10:59] #13 closed

[2016-08-23 11:15] #395 closed

[2016-08-23 11:17] #394 closed

[2016-08-23 11:25] PolGuixe commented on #394
Let's say that if I want the `href` prop for several links I'll have to generate those in the container using e.g.FlowRouter. Ok got it, altought it can become very cumbersome in many cases.

But if I used React-Router, because it is an npm package, I won't have this issue. Correct?

This issue is mainly related to using meteor packages in ui-components.

[2016-08-23 15:03] necolas commented on #395
Thanks!

[2016-08-23 20:10] sean-clayton opened #400 "`new Date` does not work with a valid ISO-8601 date string"
I'm using the `react-intl` library which relies on `new Date()` to function for date formatting. Storybook injects a few ES5 shims from `es5-shim` (from `airbnb-js-shims`), which overwrites the browsers `Date` function with its own. Using `es5-shim`'s `Date` function, it cannot parse this valid ISO 8601 date string: "2017-04-31T10:39:10-04:00", and returns `Invalid date`. Unfortunately, we're usin

[2016-08-23 20:41] FarhadG commented on #382
Thank you! Looking forward to this release :)

[2016-08-24 00:14] stipsan commented on #363
Hey guys,

While the displayName solution works in most cases, it appears it does not work for components passed as props.

Example: https://form.uikit-react.io/?selectedKind=renderInput&selectedStory=Basic%20Usage&full=0&down=1&left=1&panelRight=0

Here it should be:
[code]

But instead it's:
[code]

Despite giving it `displayName` [here](https://github.com/stipsan/redux-form-uikit/blob/master/sr

[2016-08-24 00:20] arunoda commented on #400
Okay. This is bad.
We should do something for this.

[2016-08-24 09:02] arunoda commented on #382
We did a fix for this with `v2.4.2`.
Give it a try.
It should fix your issues. (Only if you are using require(or import) to load images).
If you are using static directories, (via -s option) you must use relative URLs.

[2016-08-24 09:02] arunoda commented on #382
Reopen if this doesn't work for you.

[2016-08-24 09:02] #382 closed

[2016-08-24 10:04] arunoda commented on #400
@sean-clayton Try to use Storybook `v2.5.0`. It has the fix for this.
See https://github.com/kadirahq/react-storybook/pull/402 for more info.

[2016-08-24 10:04] #400 closed

[2016-08-24 10:05] arunoda commented on #400
Reopen if this doesn't solve your issue.

[2016-08-24 20:42] mkozhukharenko commented on #127
@tomitrescak can you add more clear description how did you manage to add a typescript support for the storybook?

[2016-08-24 21:36] MaDDmin opened #403 "Storybook keyboard shortcuts overlap in IE/Edge and Firefox"
That particular combination is taken on Firefox and opens a new private tab instead of toggling the Searchbox as it was meant to.

Here is the relation of Firefox shortcuts in which can be found that particular one: https://support.mozilla.org/en-US/kb/keyboard-shortcuts-perform-firefox-tasks-quickly?redirectlocale=en-US&redirectslug=Keyboard+shortcuts#w_windows-tabs

Control + Shift + P = private

[2016-08-25 05:28] mkozhukharenko commented on #127
How I managed it works with `tsx`:
[code]
Hope this will help anybody.

[2016-08-25 08:32] tomitrescak commented on #127
Looks good! I have a bit different approach as I first compile to JS and let Storybook load javascript. I know it seems weird, but I like it this way, it's generally much faster (or it was when I was testing it couple years ago :)

[2016-08-25 12:25] Nickman87 commented on #213
IE11 does not like the latest version of storybook (2.5.1) either. Seems like some other polyfills are still missing.

![image](https://cloud.githubusercontent.com/assets/870416/17968880/77c9adc6-6acf-11e6-845c-f3c067f94f72.png)

You want me to try and find out more about this issue or is somebody already on it?

[2016-08-25 13:58] kjetilge opened #404 "Images gets extra height when displayed in storybook"
Just discovered that I get extra height on images when they are displayed in story book:
I have:
[code]

With the above code I get a an open space under my avatar picture when shown in storybook, but it looks ok in normal browser view. It seems the height of the image is 95px in storybook and 91 in normal browser view. If I add a style with display:block like this:
[code]

Then it looks fine in bo

[2016-08-25 14:09] kjetilge commented on #404
I found out what was wrong. I have a css file that is automatically loaded in my meteor app and this file is not loaded by it self in storybook. Fixed the problem by adding:
[code]

in my_module/components/.stories/index.js file

[2016-08-25 14:26] jimmiebtlr opened #405 "Any way to use this with meteor?"
I'm currently getting

[code]

Seems like it won't work if any components have a meteor package used?

[2016-08-25 16:28] arunoda commented on #405
Check this: https://github.com/kadirahq/react-storybook/search?q=meteor+packages&type=Issues&utf8=%E2%9C%93

[2016-08-25 16:28] #405 closed

[2016-08-25 16:28] arunoda commented on #404
Great.

[2016-08-25 16:28] #404 closed

[2016-08-25 23:15] jimmiebtlr opened #406 "Cross browser testing"
Thoughts on an integration with browser stack, to quickly see what browsers break and/or don't degrade gracefully?

Seems like the storybook concept would work great for something along those lines.

[2016-08-28 02:43] tommoor commented on #406
I'm not sure why any integration would be needed on storybook's side to achieve this? What did you have in mind?

[2016-08-28 09:16] UsulPro commented on #378
I use it as start point for developing react components and for deploing live preview in gh-pages ([small example](https://sm-react.github.io/react-smart-textarea/?selectedKind=SmartTextarea&selectedStory=appearance&full=0&down=1&left=1&panelRight=0))
By the way, is there any badge for this purpose to use in readme or elsewhere? What do you think about to have it? I have made such this for myself:

[2016-08-28 09:20] ritz078 commented on #378
Won't it be better if `Live Demo` is `Development` ? Just an idea. or something containing both.

[2016-08-28 15:59] NathanielScottStevens opened #408 "Namespace Storybook Styling"
I'm having an issue where the styling used for the preview screen is cascading into my story previews. I'm happy to work on fixing it, I'm just unclear on where the css is getting declared at.

[2016-08-28 17:43] sylvainbannier opened #409 "missing module after error with create-react-app"
I added storybook to my app generated with `react create app` using those steps :
https://voice.kadira.io/react-storybooks-meets-create-react-app-ac8a3f32cc79#.gzg8s4e1c

I had to manually add babel-runtime 6.11.6 to prevent errors with missing babel runtime modules at build time (using node 4)

I can now use the storybook which updates correctly after files changes except when I accidentally inse

[2016-08-29 03:25] arunoda commented on #408
It's pretty weird. Storybook does not add any styles into the preview. (It's rendered inside an iframe).

Check CSS you've imported into your stories. Places to check:

* storybook config file
* story files
* component files.

[2016-08-29 03:25] #408 closed

[2016-08-29 03:26] arunoda commented on #406
@jimmiebtlr Have a look at this issue: https://github.com/kadirahq/react-storybook/issues/266

[2016-08-29 03:26] #406 closed

[2016-08-29 03:32] arunoda commented on #409
I'm seeing some issues.
For now, try to use NPM@3.

[2016-08-29 04:08] arunoda commented on #409
Update `@kadira/storybook` to the latest. We've just fixed it.

[2016-08-29 06:12] nadeemja opened #411 "[Feature] Integrate `stphdenis/meteor-client-packages-meteor`"
This might be useful to have as an option in react-storybook.

_Use Meteor's client Packages in a non Meteor project_
https://github.com/stphdenis/meteor-client-packages-meteor

[2016-08-29 06:26] mnmtanish commented on #411
React Storybook supports custom webpack config files so It can be used to setup modules like this one. Check [this page](https://github.com/kadirahq/react-storybook/blob/master/docs/configure_storybook.md#custom-webpack-configurations) for more info.

[2016-08-29 06:26] #411 closed

[2016-08-29 08:49] sylvainbannier commented on #409
Confirmed : bug fixed. (tested on a new "blank" create react app project). Thanks.

[2016-08-29 09:41] arunoda commented on #409
Awesome.

[2016-08-29 10:16] sylvainbannier commented on #409
I responded too fast : this solved this issue with the missing babel runtime module but not the one with the  missing `App` module after an error.

I investigated further and it appeard that the issue only happen if I import CSS in the component using webpack loader
[code]
By removing the line above the problem is solved for `App.js`. But I'd rather like to keep CSS loading with webpack because :

[2016-08-29 13:05] arunoda commented on #409
@sylvainbannier This should be work fine. Can I have a sample repo?

[2016-08-29 22:16] travi commented on #386
since this would mean versioning that auto-generated docs/ folder, i personally would not prefer that change. i actually prefer to have a CI job run to do this automatically rather than dealing with the noise of generated files in git.

just throwing this on the table as a reminder that some prefer the current approach in case something is done to change in this direction. please at least keep the

[2016-08-29 23:05] arunoda commented on #386
Yep. We are not going to kill this :)

[2016-08-29 23:05] #386 closed

[2016-08-31 14:10] renminghao opened #414 "Component have ref, storybook will have error"
my component render function has return many input with ref, when I run `npm run storybook`,  the error will throw
[code]
what should I do?

[2016-08-31 16:22] arunoda commented on #414
This is usually means two versions of React running here. Could you send us a sample repo?

[2016-08-31 18:30] wyattdanger commented on #26
I am currently using https://github.com/Galooshi/happo for visual diffing React components

[2016-09-01 00:55] tomjakubowski opened #416 "Confusing error message if stories import React weirdly"
First of all, thank you so much for react-storybook! It's truly amazing :-)

I'm still getting used to ES6 syntax and all that (~2 years out of the web dev game), so I messed up my imports in my stories file and ended up with something like this:

[code]

(note the extra braces around `React`, which I imagine is doing something like a destructuring assignment)

When I use this stories file, I get

[2016-09-01 01:08] arunoda commented on #26
@wyattdanger Thanks. I saw you guys use it at AirBnb.

[2016-09-01 01:12] arunoda commented on #416
Yep. That's messages coming from webpack and react.
Unfortunately we don't have much control over them.

[2016-09-01 01:12] #416 closed

[2016-09-01 02:22] renminghao commented on #414
my project React version just one with 15.3.1, and if I remove the ref from input, the error will gone，but I can not do this, because I can't  guarantee other component render function have ref.  I try to `npm uninstall react react-dom`, `npm install react react-dom`,the problem have not solve.

[2016-09-01 02:32] renminghao commented on #414
and I run `npm ls | grep react` the result is ![https://img.alicdn.com/tps/TB17tJgNXXXXXboaXXXXXXXXXXX-1055-530.png](https://img.alicdn.com/tps/TB17tJgNXXXXXboaXXXXXXXXXXX-1055-530.png)

[2016-09-01 03:25] renminghao commented on #414
I run the `find ./ -name react -type -d` in my node_modules folder, just output one `react`

[2016-09-01 03:47] renminghao commented on #414
The probelm is gone, the reason is I used webpack bundle file in the stories, and the webpack bundle file has used react. anyway, thx so much.

[2016-09-01 03:47] #414 closed

[2016-09-02 10:45] sylvainbannier commented on #409
here's a repo
https://github.com/sylvainbannier/cra-storybook

this is just a create-react-app where I add react-storybook.

this commit is the only think I changed :
https://github.com/sylvainbannier/cra-storybook/commit/bc135a6b0282b600681f75122fd2f6e20e9b72c9

To see the bug uncomment this line :
https://github.com/sylvainbannier/cra-storybook/blob/master/src/App.js#L10

you'll see something li

[2016-09-03 00:16] ljharb commented on #400
Instead of replacing es5-shim, could you perhaps have filed a bug on it? I'll be happy to fix it and publish a replacement ASAP. `core-js` and babel-polyfill are very heavyweight, and Airbnb won't be able to continue using storybook if it relies on it.

[2016-09-03 00:18] ljharb commented on #400
@sean-clayton have you tried that Date string in other browsers than Chrome? Unless all the browsers parse it the same, then "Invalid date" is in fact the proper thing for `Date` to be producing. If it is the same across browsers, then it's an es5-shim bug, and I'd be happy to fix it.

[2016-09-03 00:57] arunoda commented on #400
@ljharb That's due to sudden of the release of Storybook 2. I think it was too quick.
Seems like it's only Chrome thing.
I'll revert this commit.

[2016-09-03 14:00] travi commented on #266
https://github.com/mthuret/storybook-addon-specifications covers my needs in this area quite well. I'm super excited to have that available.

As far as I'm concerned, this issue could be closed now.

[2016-09-03 14:03] travi commented on #267
Any update with this?  Should be a quick update to get this taken care of and would be a big help for consumers.

Unfortunately, there's not much I can contribute to help move it along since it needs to be done with organization access in order to grant the privileges to configure webhooks.

[2016-09-04 07:33] arunoda commented on #267
Done. Had to do few eslint rule updates too.
See: https://github.com/kadirahq/react-storybook/pull/421

[2016-09-04 07:33] #267 closed

[2016-09-04 09:18] ashfaqrafi opened #422 "Button is not defined error while running the storybook"
I have gone through the article https://getstorybook.io/docs/basics/slow-start-guide and after doing all the necessary steps while I ran the npm run storybook command I encountered the error "Button is not defined
ReferenceError: Button is not defined
    at eval (webpack:///:6:5)
    at renderMain (webpack:///~/@kadira/storybook/dist/client/preview/render.js:85:31)
    at renderPreview (webpack:/

[2016-09-04 10:10] ashfaqrafi commented on #422
Found the error: the Button tag which is used in the index.js file is given as "Button" but it will be "button" instead.

[2016-09-04 12:51] mnmtanish commented on #422
Hi @ashfaqrafi
Thanks for reporting the issue. I Just updated the docs site.

[2016-09-04 12:51] #422 closed

[2016-09-04 18:20] travi commented on #267
Thanks!  I got a PR from greenkeeper for the latest release, so I can confirm that it is working.

[2016-09-04 21:56] HBCharles opened #423 "dataId is not supplied via queryString"
I'm having this issue in the browser console when launching my meteor app after doing a getstorybook command :

The app was working before, i have a blank page instead.

Any idea how solve to issue ?

[2016-09-04 23:17] arunoda commented on #423
Can  we get a sample repo or help us to get this reproduced. May be tell us Meteor version and the package you are using?

[2016-09-05 08:22] HBCharles commented on #423
You can find [the repo](https://github.com/HBCharles/corona_storybook). I took the repo from [cheersjosh](https://github.com/cheersjosh/corona) and have performed the getstorybook command;

You can also have the issue by doing the getstorybook command on a newly created project.

[2016-09-05 10:24] qiangege opened #424 "Can I modify the page style or structure of main page of React Storybook ??"
My questions ：
1.   I want to change the style or structure of main page ，can be achieved?
2.   The search box on the page can search components by keywords in package.json of  components package?

I can not found information about them from the document。
I need help , thank you！

[2016-09-05 12:23] arunoda commented on #424
Currently, there's is no way to customize the UI. But you can hack is via some Webpack alias stuff. But we don't have docs for that.

Now sure about the search box question? Could you clarify it a bit more.

[2016-09-05 12:24] arunoda opened #425 "Allow to access env vars"
We should allow to access env vars prefixed with `STORYBOOK_` in the client side.
This allows to pass different configuration parameters dynamically.

This should works on both in the build time and dev time.

[2016-09-05 18:53] arunoda opened #428 "Add theming support"
Add the ability to theme storybook as needed.
We should also carry a new theme with getstorybook.io look and feel.

[2016-09-05 23:20] tomitrescak opened #429 "AddDecorator breaks AddWithInfo"
Info text is rendered in the decorator.

If I do this:

[code]

Info text is rendered in the very small window of 300px wide.

[2016-09-06 02:07] qiangege commented on #424
@arunoda
Thank you for your answer, it is a great help to me.

About the search box，
when i install a component npm package,there are some keywords in its package.json  file.
The search box can search through these keywords??
I want to know whether it can.
Thank you.

[2016-09-06 03:01] sonicviz opened #430 "Error on running getstorybook"
Hi,
I have a test meteor react todo project which runs fine, and wanted to add storybook to learn it while prototyping some new UI components.

Tried the recommended setup sequence but gets fails on:

G:\Meteor Projects\Meteor 1.4\rubix-meteor-todolist>getstorybook

 getstorybook - the simplest way to add a storybook to your project.

 • Detecting project type. ✓
 • Adding storybook support to you

[2016-09-06 03:05] mnmtanish commented on #430
Hi,
Is there an npm-debug.log file in your project directory? It may have more information on why `npm install` failed.

[2016-09-06 03:21] sonicviz commented on #430
no

[2016-09-06 03:40] arunoda commented on #424
Ah nope. You can't search like this. This is just for search stories.

We will have more docs on cusomizing the UI soon.

[2016-09-06 03:40] #424 closed

[2016-09-06 04:02] mnmtanish commented on #430
Can you send me the link to the todo list repo

[2016-09-06 04:13] sonicviz commented on #430
No I can't because it's a paid template: https://wrapbootstrap.com/theme/rubix-reactjs-powered-admin-template-WB09498FH

Cheap, but paid nonetheless. The project was the meteor react todo example they have as a sample and also as a tutorial (different from MDG guide react todo)
Was working fine, added storybook and broke it badly!

[2016-09-06 06:53] tomitrescak commented on #127
Hmm, I tried with pure TS and no luck again :/ Looks like the resolver is not called for my ts files :(

[code]

[2016-09-06 07:10] mkozhukharenko commented on #127
@tomitrescak, try to add few more lines to your code:
[code]

[2016-09-06 08:11] arunoda commented on #430
We need to see what's actually breaking here. It's hard to say without seeing any error info.
Anyway, try to use our [Slow Start Guide](https://getstorybook.io/docs/basics/slow-start-guide).

[2016-09-06 08:12] arunoda commented on #429
@mnmtanish @roonyh could you guys help us?

[2016-09-06 08:14] arunoda commented on #430
May be this is a related issue: https://github.com/kadirahq/react-storybook/issues/423

[2016-09-06 08:31] arunoda commented on #423
Yep. We had an issue related to Meteor.
We fixed it with the latest version of getstorybook.

The issue was:

* We created directory called `stories` inside the main app. So, it's going to load as well in Meteor.
* So we renamed that to `.stories`.

[2016-09-06 08:32] arunoda commented on #423
I assume this is fixed now and close this issue.
But, reopen this if this is not what you are looking at.

[2016-09-06 08:32] #423 closed

[2016-09-06 08:55] qiangege commented on #424
Okay, I understand。
Thanks for your help。😊

[2016-09-06 08:55] sonicviz commented on #430
I tried both guides, same error.

I'd email support@sketchpixy.com and ask them for a free copy of rubix. They'd probably give you one considering what you do and the reported bug. If they do try it with the example meteor react todo project. That's how I got the error.

[2016-09-07 15:39] HriBB opened #431 "Failed prop type warning but my component is not even rendered"
Hey there. First of all great work on storybook. I've been using it for a couple of weeks now, and it's a great tool. Thanks!

I'm using `@kadira/storybook@2.11.0` and I'm getting this weird PropType error on initial load, even though my component `children` are not even rendered yet. After that, everything works as expected. Anyway, it's not a problem at all, just wanted to report it. Could be an

[2016-09-07 15:57] HriBB commented on #431
Basically all required props give me a warning on initial load. Will try to debug is somehow, although I'm not sure where to start ...

[2016-09-07 16:00] HriBB commented on #431
Ahh ... this is a problem on my side, nevermind :)

[2016-09-07 16:00] #431 closed

[2016-09-07 18:04] darthtrevino commented on #430
I ran into this issue, but it's because my machine was configured to use a Sinopia proxy instead of the global NPM registry directly.

[2016-09-08 00:39] arunoda commented on #266
Awesome.
I think we'll have more tools in this area in the future as well.

[2016-09-08 00:39] #266 closed

[2016-09-08 03:08] eugene1g commented on #326
A solution that worked for me - I created a `.storybook/.babelrc` with `{"extends": "../.babelrc"}` and it seems to fully respect relative paths from the parent/project .babelrc file.

[2016-09-08 03:47] arunoda commented on #326
I think we can close this.
@eugene1g mentioned way it how it suppose to be.

[2016-09-08 03:47] #326 closed

[2016-09-08 20:38] vidaaudrey opened #439 "Higher Order Component lost the name after build/publish"
Local version:
![image](https://cloud.githubusercontent.com/assets/10999093/18365909/65fa4236-75c9-11e6-9e43-ae7e05930751.png)

Published version:
![image](https://cloud.githubusercontent.com/assets/10999093/18365968/a65c08b4-75c9-11e6-9fc8-55f1c4bfdc1c.png)

[2016-09-08 20:40] #439 closed

[2016-09-08 20:41] vidaaudrey commented on #439
Moved the issue to the addon repo

[2016-09-09 02:37] dburles opened #440 ".babelrc es2015 preset breaks Meteor build"
It seems to somehow conflict with Meteor's build process as immediately after running Meteor I see an undefined error on the server caused by a reference to a global variable that's defined deep within a lib directory. Meteor 1.4.1.1.

[2016-09-09 02:56] cisen opened #441 "The shortcuts doesnot works in windows"
Can anyone tell me (⌃ ⇧ P) match (shift + 6, shift, P ) is Correct？Why does it not works？

[2016-09-09 04:26] mnmtanish commented on #441
The `⌃` is used for `CTRL`. So the shortcut will be `CTRL + SHIFT + P`

@arunoda it really is a bit confusing if you're not familiar with mac os

[2016-09-09 05:52] cisen commented on #441
Oh, I see.Thank you!

[2016-09-09 05:52] #441 closed

[2016-09-09 08:49] arunoda commented on #440
Have you fixed it? If so how?

[2016-09-09 08:52] arunoda opened #443 "Static version of Storybook doesn't like Safari"
This is only the static build. Here's how to reproduce:

[code]

Then visit http://localhost:8010 on safari and you'll see this:

![screen shot 2016-09-09 at 2 21 38 pm](https://cloud.githubusercontent.com/assets/50838/18381207/c27aa4fe-7698-11e6-9afa-3fe499991f1b.png)

Could you guys have a look at this?
cc @mnmtanish @roonyh

[2016-09-09 09:07] dburles commented on #440
I haven't really dug into it any further

[2016-09-09 09:08] dburles commented on #440
I'll create a reproduction

[2016-09-09 09:15] dburles commented on #440
See here https://github.com/dburles/meteor-storybook-babelrc-issue

[2016-09-09 09:24] arunoda commented on #443
Let's close this with a PR to this repo.
Anyway, do we need to update any package.json values?

[2016-09-09 09:57] mnmtanish commented on #443
It's a patch release and It should work fine on fresh npm installs. Anyways, opened a pull-request here https://github.com/kadirahq/react-storybook/pull/444 which updates the package.json file.

[2016-09-09 11:32] arunoda commented on #441
@mnmtanish May be we can provide the correct shortcut help UI based on the OS.

[2016-09-09 11:52] PolGuixe commented on #411
@mnmtanish the link you have provided redirects to a 404.

[2016-09-09 11:56] arunoda commented on #443
Deployed a release.

[2016-09-09 11:56] #443 closed

[2016-09-09 17:31] arunoda commented on #166
Guys, Storybook Knobs is out. Give it a try: https://github.com/kadirahq/storybook-addon-knobs
Hope I can close this issue.

[2016-09-09 17:31] #166 closed

[2016-09-12 16:48] mstn opened #445 "Configure a custom proxy using webpack.config.js"
Thanks for the great work. I have a question about how to set a custom proxy for remote requests. As far I understand from #208, you suggest to implement a custom express server. I was wondering if it is possible to pass a proxy configuration to the webpack.config.js file defined in .storybook directory [in this way](https://webpack.github.io/docs/webpack-dev-server.html#proxy). I tried without su

[2016-09-13 14:05] arunoda opened #451 "Try to consider to use a CSS loader inside the Manager."
We should to use a CSS loader inside the manager as it doesn't affect user's code.

[2016-09-14 08:39] Donaldini opened #452 "Storybook starts with error: Failed to execute setItem on Storage"
On starting storybook I get the following error

`Failed to execute 'setItem' on 'Storage': Setting the value of 'cb0320b0-988a-47a9-8aa0-c7a963e524bb' exceeded the quota.`

Already tried...
  * I updated to the latest version (@kadira/storybook@2.13.1) to see if the problem was resolved but alas.
  * Removing the @kadira folder from node_modules and readding it with npm update

<img width="1436"

[2016-09-14 09:03] mnmtanish commented on #452
Hi @Donaldini
Can you share the repo ( or an example repo with the issue ).

[2016-09-14 09:46] Donaldini commented on #452
Couldn't share the code because it's a private repo, but we managed to fix the issue ourselves (should've waited longer to post this :-) ) .

The problem was linked to the local storage of the browser (in my case Chrome 53.0.2785.113), because when I tried it in Firefox, which I don't often use, the problem was non-existent.

I can only show you what it currently looks like in Firefox (even though

[2016-09-14 09:47] arunoda commented on #452
We may need to look at how we use local storage.

[2016-09-14 11:39] nmaro opened #453 "Meteor fontawesome"
I use the meteor package fortawesome:fontawesome
but the icons don't show up when running the components in react-storybook.

[2016-09-14 11:47] arunoda commented on #453
We don't support Meteor packages. You need to load font-awesome manually.
One way is to add it manually into the head: https://getstorybook.io/docs/configurations/add-custom-head-tags

Or you can import the fontawesome CSS directly from NPM.

[2016-09-14 11:47] #453 closed

[2016-09-14 15:26] #341 closed

[2016-09-14 18:03] gerwinbrunner opened #455 "@ decorator in component breaks build"
I have a simple component which uses @Radium decorators
[code]

When storybook tries to run it throws this error
[code]

Any idea how to solve this?

[2016-09-14 19:53] shreyansqt opened #456 "Adding Dash Docset"
Hello,

We are using this package in our Frontend app at [Sloppy](http://sloppy.io). Kudos on the new and updated documentation!

I was wondering if anyone has thought of adding the documentation to [Dash](https://kapeli.com/dash). Its a wonderful app to store documentations offline.

If not, I am willing to contribute and create a docset using https://github.com/Kapeli/Dash-User-Contributions#con

[2016-09-14 23:57] mindjuice opened #457 "Breakpoints or Source Maps not working properly in Chrome"
I'm using Storybook for some components, but breakpoints are not working correctly in Chrome Dev Tools.

I was able to reproduce the same issue in the[`kadira-samples/react-storybook-demo`](https://github.com/kadira-samples/react-storybook-demo) app with no modifications (the Todos app sample).  Just clone it from github, do `npm i` and `npm run storybook` and open your browser to `localhost:9001`

[2016-09-15 00:03] mnmtanish commented on #455
Hi @gerwinbrunner, can you try adding a custom `.babelrc` file ([more info](https://getstorybook.io/docs/configurations/custom-babel-config))

[2016-09-15 01:20] arunoda commented on #455
As thanish mentioned we don't support this. Add a stage-0 babel preset as mentioned on the docs.

Or radium has a way to use without decorators.

[2016-09-15 01:20] #455 closed

[2016-09-15 01:21] arunoda commented on #456
Yep. Go for it.

[2016-09-15 06:16] arunoda commented on #457
I've also seen this issue.
Would love to work on this.

[2016-09-15 06:17] arunoda commented on #456
Closing this since this don't need any further support from us.

[2016-09-15 06:17] #456 closed

[2016-09-15 06:19] arunoda commented on #445
We don't recommend that method as we are not documented that.
Suggest way is build a storybook into a static app and deploy it anywhere you want.
(You can setup some basic auth basic auth setup pretty easily)

[2016-09-15 06:19] #445 closed

[2016-09-15 06:19] arunoda commented on #430
I hope we can close this now.

[2016-09-15 06:19] #430 closed

[2016-09-15 06:20] arunoda commented on #409
Hey could you try this with the latest version of Storybook. We did a fix for this.

[2016-09-15 06:20] arunoda commented on #409
Reopen this if it doesn't fix your issue.

[2016-09-15 06:20] #409 closed

[2016-09-15 06:22] arunoda commented on #371
We've fix this (original issue by @qiangege) with the latest Storybook.
Reopen if that doesn't fix your issue.

[2016-09-15 06:22] #371 closed

[2016-09-15 06:24] arunoda commented on #293
Since now everyone is using `.babelrc` we won't go searching the package.json.
Having a single method is pretty great.

[2016-09-15 06:24] #293 closed

[2016-09-15 06:25] arunoda commented on #292
I think we've a solution for this issue.
Anyway, we'll add a proper section of different kinds of testing to docs soon.
Then it'll have a section for this.

[2016-09-15 06:25] #292 closed

[2016-09-15 06:26] arunoda commented on #276
We are doing this now with the latest version of Storybook. (2.14.0+)

[2016-09-15 06:26] #276 closed

[2016-09-15 06:26] arunoda commented on #225
I think we've some pretty guide now specially with addons.
See: https://getstorybook.io

[2016-09-15 06:26] #225 closed

[2016-09-15 06:27] arunoda commented on #203
Currently we don't have a feature planned for this.
What I suggest it to run two storybooks.

[2016-09-15 06:27] #203 closed

[2016-09-15 06:28] arunoda commented on #201
We are tracking this here: https://github.com/kadirahq/react-storybook/issues/151

[2016-09-15 06:28] #201 closed

[2016-09-15 06:28] arunoda commented on #197
I think we do this via a wrapper component.

[2016-09-15 06:28] #197 closed

[2016-09-15 06:31] arunoda commented on #192
You can simply remove it via our custom [addons.js file](https://getstorybook.io/docs/addons/using-addons).

Or you can hide it by adding `down=0` query parameter.
See: http://kadira-samples.github.io/react-button/?down=0

[2016-09-15 06:31] #192 closed

[2016-09-15 06:32] arunoda commented on #425
We've this with the version `2.14.0`

[2016-09-15 06:32] #425 closed

[2016-09-15 06:33] arunoda commented on #344
We don't use this and we don't need this.
You can deploy to any domain without any issues.

But for images, you need to do something. Check this: https://getstorybook.io/docs/configurations/serving-static-files#absolute-versus-relative-paths

[2016-09-15 06:33] #344 closed

[2016-09-15 06:35] arunoda commented on #429
Ping @mnmtanish

[2016-09-15 06:36] arunoda commented on #393
I think we've given more ways to extend with the new addon API(s).

[2016-09-15 06:36] #393 closed

[2016-09-15 06:36] arunoda commented on #388
We are not using this plugin and I hope people use Webpack2 with Storybook without any issues.

[2016-09-15 06:37] arunoda commented on #385
Closing since we are open to accept a PR.

[2016-09-15 06:37] #385 closed

[2016-09-15 06:38] arunoda commented on #381
Gonna close this since the original issue has been fixed.

[2016-09-15 06:38] #381 closed

[2016-09-15 06:39] arunoda commented on #370
I think we have solution for this.

[2016-09-15 06:39] #370 closed

[2016-09-15 06:39] arunoda commented on #360
I think this is working pretty greatly.

[2016-09-15 06:39] #360 closed

[2016-09-15 06:39] arunoda commented on #340
I think this is not a problem anymore.

[2016-09-15 06:40] arunoda commented on #339
I assume this is fixed.

[2016-09-15 06:40] #339 closed

[2016-09-15 06:41] arunoda commented on #320
I hope we already discussed about this.

[2016-09-15 06:41] arunoda commented on #315
I think we've a answer for this.

[2016-09-15 06:41] #315 closed

[2016-09-15 06:43] arunoda commented on #316
We don't have a built in way to mock props. But you can use any JS module for that inside your Storybook.

Also we've added props editing support: https://github.com/kadirahq/storybook-addon-knobs

[2016-09-15 06:43] #316 closed

[2016-09-15 06:44] arunoda commented on #294
I think we've a kind of solution now.
We wanted to more docs for this and it' coming soon.

[2016-09-15 06:44] #294 closed

[2016-09-15 06:45] arunoda commented on #255
We've documented some ideas here: https://getstorybook.io/docs/basics/writing-stories#managing-stories

[2016-09-15 06:45] #255 closed

[2016-09-15 06:46] FredyC commented on #315
Ah, sorry, I wanted to try it first before responding, but never got a chance with it (more priority stuff). But what you said makes total sense.

[2016-09-15 06:46] arunoda commented on #252
We've added(again after removing) HMR logs. They are pretty important.

[2016-09-15 06:46] #252 closed

[2016-09-15 06:47] arunoda commented on #302
I hope we've a fix here.

[2016-09-15 06:47] #302 closed

[2016-09-15 06:47] #277 closed

[2016-09-15 06:48] arunoda commented on #220
Our latest storybook has much support for CSS and read our docs here: https://getstorybook.io

[2016-09-15 06:48] #220 closed

[2016-09-15 06:48] #219 closed

[2016-09-15 06:48] #15 closed

[2016-09-15 06:49] arunoda commented on #15
There's nothing we can do about this issue.

[2016-09-15 07:33] isnifer commented on #340
@arunoda it's not a problem for you, but what a solution for now? This piece of code wasn't changed.

[2016-09-15 07:56] sylvainbannier commented on #409
It's fixed. Thanks !

[2016-09-15 08:32] arunoda opened #458 "Add a category feature to Storybook."

[2016-09-15 08:32] arunoda opened #459 "Add a category feature to Storybook."

[2016-09-15 08:32] arunoda opened #460 "Add a category when defining Stories."
Then we can provide a dropDown to select categories.
This will help us to create a workflow when we've a lot of stories.

[2016-09-15 08:44] mnmtanish commented on #277
For reference: React Storybook has a `getStorybook` function which can be used to get all stories.
[source](https://github.com/kadirahq/react-storybook/blob/82cace8df34f9cb7f7908245d3c564088e8094b0/src/client/index.js#L7)

[2016-09-15 08:48] mnmtanish commented on #429
We can't fix this unless we fix this issue
https://github.com/kadirahq/react-storybook/issues/320#issuecomment-247248502

[2016-09-15 08:48] mnmtanish commented on #320
Need to reopen

[2016-09-15 09:13] sonicviz commented on #430
Don't know, afaik it's still there!

[2016-09-15 15:25] kevinSuttle commented on #389
Is it possible to set these options in the config file? Like, never showing the actions panel?

[2016-09-15 15:41] jhicken commented on #388
@arunoda I know storybook is not using this plugin but my project does. Therefore storybook breaks when I am trying to have it compile my styles from my project.

This is important because my external style file must exist for my story's to display properly.

Simply removing the plugin from storybook #369 does not solve the problem if I need the plugin for my project.

[2016-09-16 00:46] arunoda commented on #388
That's pretty weird. We don't automatically load it.
That seems like you are importing existing config which import this module.
May be try to avoid loading that module when using your config for Storybook.

[2016-09-16 00:46] arunoda commented on #388
Anyway, we need to find the root cause for this issue.

[2016-09-16 00:48] arunoda commented on #389
@kevinSuttle you found the correct issue.
@roonyh Could you work on something like this. Expose this API to the storybook and allow to pass some default queries.

[2016-09-16 00:51] arunoda commented on #430
Try this: https://github.com/kadirahq/react-storybook/issues/122#issuecomment-216820405

[2016-09-16 00:52] roonyh commented on #389
@arunoda OK. So this should be called from `.storybook/config.js` right? I'll be working on this.

[2016-09-16 00:54] arunoda commented on #340
Okay. I think we can do something about this.
Reopening this.

[2016-09-16 00:56] arunoda commented on #389
@roonyh yep. We need to export the same setOption API provided by the `storybook-ui`

[2016-09-16 14:50] nmaro opened #461 "Metamodule to write tests and stories"
This is just an idea, but since the structure of a storybook and of a testsuite might end up being quite similar, there might be an approach to write both in the same sweep. Just close the issue if it is out of scope.

[2016-09-16 14:57] mnmtanish commented on #461
Try this addon https://github.com/mthuret/storybook-addon-specifications

[2016-09-16 15:43] PolGuixe commented on #411
Does anyone has a webpack config files which is able to include certain meteor packages?

[2016-09-16 15:55] nmaro commented on #461
Amazing

[2016-09-16 20:40] jennylia commented on #457
@arunoda Could you please add this feature, it would help me (and others) so much to learn React. <3

[2016-09-17 01:16] roonyh commented on #389
@arunoda I gave this a try. My idea was that a `setOptions` method exported from `@kadira/storybook` is called by the story writer on `.storybook/config.js`. But then it gets bundled with the preview. So these options are sent through the channel to manager. Which makes it a little delayed to set. Check: https://roonyh.github.io/react-button

How to get this bundle with the manager instead? Is it

[2016-09-19 02:27] arunoda commented on #389
@roonyh Adding a new file is not a good idea.
Anyway, can we do this via an addon? If so, we can just document this with a good example.
(I think that's viable)

If so, share me an example. I'll add the docs.

[2016-09-19 10:59] PolGuixe opened #463 "Problems with webpack configuration"
I am trying to use different npm modules (Material-ui, etc) , but they don't seem load properly.

The error message I get is:
[code]

I am using Meteor, hence the only Webpack configuration I have is the one for Storybook:
[code]

Here is the story:
[code]

Here is the component:
[code]

### What I am missing?

[2016-09-19 17:40] arunoda commented on #44
@dziamid We had a bug in the latest storybook release. We patched and released a new version. Could you try the latest version (v2.15.1)

[2016-09-19 21:02] ritz078 commented on #389
As far as the addon comes built in with storybook, its fine. but if the user has to manually include it I think it won't be a nice idea.

[2016-09-20 06:46] philcockfield opened #466 "Retain Resized Panel Size in LocalStorage (between loads)"
Would be great if the action-logger panel, and the index panel, didn't not lose their size between page loads.

![image](https://cloud.githubusercontent.com/assets/185555/18660028/64393536-7f62-11e6-9606-3cb6b967aa4d.png)

[2016-09-20 09:25] arunoda commented on #466
Yeah. This is a pretty cool feature.
This is the place we are doing this: https://github.com/kadirahq/storybook-ui/
If you are looking to send a PR :)

[2016-09-20 09:30] arunoda opened #468 "Get some cool features from Create React App"
* [x] NODE_PATH Support: https://github.com/facebookincubator/create-react-app/pull/476 [PR528](https://github.com/kadirahq/react-storybook/pull/528)
* [x] Add audio support in url loader: https://github.com/facebookincubator/create-react-app/pull/665 [PR527](https://github.com/kadirahq/react-storybook/pull/527)
* [x] Public URL support: https://github.com/facebookincubator/create-react-app/pull/7

[2016-09-20 15:46] tinybug commented on #463
you should add `MuiThemeProvider` before you use material-ui components,  you can find the answer here: http://www.material-ui.com/#/get-started/usage, but I have not tried to use the material-ui in storybook.

[2016-09-20 16:09] PolGuixe commented on #463
@tinybug ok I see the problem.
In my normal app as the `MuiThemeProvider` is added as to the main_layout. Hence, there are no issues.

In React Storybook I'll have to add the `MuiThemeProvider` to all the component. Is the a way to add it to all the component, without doing it explicitly? May be using a decorator?

[2016-09-20 17:07] tinybug commented on #463
@PolGuixe I try to add decorator before add story like this, but it doesn't work...😵:

[code]

[2016-09-20 20:02] tleunen opened #470 "addon-db.json not found when building the static website"
Using these 2 packages:
[code]

I'm having a 404 on addon-db.json when running the static website built with `build-storybook -o _docs`

[2016-09-21 00:22] arunoda commented on #463
@tinybug could you look at out docs on how to write a decorator properly: https://getstorybook.io/docs/addons/

[2016-09-21 02:12] arunoda commented on #470
Could you update the storybook to the latest. We did a fix recently for this.

[2016-09-21 02:12] tinybug commented on #463
@arunoda nice!
[code]
@PolGuixe you can work like this.

[2016-09-21 03:01] mnmtanish commented on #470
@arunoda we fixed the bug but a 404 error still shows up on the console when it tries to get the DB file. But storybook should still work as expected. I'll try to see if there's a way to get rid of it without big changes.

[2016-09-21 07:39] arunoda commented on #470
@mnmtanish okay.

[2016-09-21 07:41] arunoda commented on #463
Thanks @tinybug
I'm closing this as we already have a fix for this.

Anyway, feel free to re-open this if needed.

[2016-09-21 07:41] #463 closed

[2016-09-21 08:45] mnmtanish opened #471 "Storybook config environment variables are sent to the client"
Storybook config variables also have the `STORYBOOK_` prefix so they'll be sent to the client. Sources:
 - [dev-server](https://github.com/kadirahq/react-storybook/blob/d518941d3260db579fabac1566280a90a04b9d16/src/server/index.js#L28,L34)
 - [static-build](https://github.com/kadirahq/react-storybook/blob/d518941d3260db579fabac1566280a90a04b9d16/src/server/build.js#L31,L35)

[2016-09-21 09:44] mnmtanish commented on #470
Opened PR #472 to fix this

[2016-09-21 12:14] zvictor commented on #224
@arunoda in a comment you suggest using **Meteor Imports Webpack Plugin**. However, it requires to change the *client entry point*, which belongs to storybook and I don't see how it could be modified.

Would it be possible to modify storybook's entry point anyhow to include `meteor-imports`?

[2016-09-21 12:16] mnmtanish commented on #470
Released `v2.16.1` with a fix

[2016-09-21 12:16] zvictor commented on #224
@alexofob this is an issue of the plugin itself, not the storybook. You have to set `meteorFolder` properly in order for it to find meteor. If you need help, I recommend posting at the plugin's page.

[2016-09-21 12:38] arunoda commented on #224
@zvictor check our full control mode: https://getstorybook.io/docs/configurations/custom-webpack-config#full-control-mode

[2016-09-21 19:18] kentcdodds opened #474 "Make tracking opt-in"
Would you consider making tracking opt-in? I realize that this will significantly reduce the amount of data you'll get, but I feel pretty uncomfortable with any software that sends data to a third party by default. And I'm sure I'm not alone. Feels pretty shady honestly.

I would say you could make a prompt in `getstorybook` that asks: "Are you ok helping us understand how you use react-storybook

[2016-09-22 01:19] arunoda commented on #471
Currently this is not so bad.
But we need to find a another prefix for above commands.

[2016-09-22 01:30] arunoda commented on #474
I got your concern.
The thing we started this because, we need a metric of usage where we can rely and it'll help us a lot to see the actual usage of storybook. (We can't rely on NPM's install count)

Basically, we don't send any other information other than the package version installed on your app. (We even don't use even that yet)
[See.](https://github.com/kadirahq/react-storybook/blob/master/s

[2016-09-22 01:31] kentcdodds commented on #474
Thus is the same case for all open source software. Even React struggles with this.

[2016-09-22 01:46] mnmtanish commented on #474
@arunoda will it help if we're more transparent about the data we collect? Make collected data itself open perhaps?

[2016-09-22 01:53] arunoda commented on #474
@mnmtanish That's pretty great.
Shall we host that Storybook @madushan1000 built, so data is in the public :)

[2016-09-22 02:02] mnmtanish commented on #474
It'll be awesome if we can do that :D
Better make the data set public as well

[2016-09-22 02:04] arunoda commented on #474
Can we do that in BigQuery.

[2016-09-22 02:05] mnmtanish commented on #474
Yeah

[2016-09-22 02:06] arunoda commented on #474
Okay. Then it's pretty cool.
Let's do this.

[2016-09-22 03:34] jason-ivy opened #475 "Offer options when project type cannot be determined automatically"
getstorybook - the simplest way to add a storybook to your project.

 • Detecting project type. ✓
    Unsupported Project type. (code: UNDETECTED)
    Visit http://getstorybook.io for more information.

[2016-09-22 04:07] mnmtanish commented on #475
Hi,
Can you run it from the directory which has the `package.json` file.

[2016-09-22 04:49] arunoda commented on #475
@jeffrygan anyway, you can start here: https://getstorybook.io/docs/basics/slow-start-guide

[2016-09-22 04:56] arunoda opened #476 "Egghead Course"
Good News Guys :)

I published my first Egghead lesson on Storybook today: https://egghead.io/lessons/react-getting-started-with-react-storybook

I am planning to do a course on Storybook and I'd like to know the things you guys like to see on that.

[2016-09-22 05:01] jeffrygan commented on #475
@mnmtanish the project already has package.json.
@arunoda I do this way, but complicated procedures

[2016-09-22 05:09] arunoda commented on #475
@jeffrygan we detect your project type based on the package.json.
We'd like to see it or the repo to fix the original issue.

Here's the detection logic we are doing: https://github.com/kadirahq/getstorybook/blob/master/lib/detect.js

[2016-09-22 05:16] jeffrygan commented on #475
@arunoda thx, I only init the package.json without install react or anything. I have to install react first.

[2016-09-22 05:23] arunoda commented on #475
Ah okay. Cool.

[2016-09-22 12:30] tleunen commented on #470
Thanks, I'll retest this :)

[2016-09-22 12:52] tleunen commented on #470
Confirmed it's fixed. Thanks @mnmtanish

[2016-09-22 12:52] #470 closed

[2016-09-22 23:05] gthomas-appfolio commented on #15
This is a problem for companies that must use private npm proxies, we can't just switch to using global.  If there isn't a specific reason for using scopes would appreciate you publishing non-scoped.

[2016-09-23 00:03] arunoda commented on #15
Hey, most of the private repositories now supports scoped modules.

Try their docs.

[2016-09-23 00:04] arunoda commented on #15
Check this issue as well: https://github.com/kadirahq/react-storybook/issues/122

[2016-09-23 00:09] arunoda opened #480 "Solo Mode"
Currently we need to install React Storybook into an app in order to use it.

But it would be pretty useful to run few stories, without a full app. We do it by installing storybook globally.

Then we can run command like this and we get a storybook:

[code]

What do you guys think?

[2016-09-23 01:35] rhalff commented on #480
If so, it's better to use commands I think, e.g:

[code]

[2016-09-23 02:42] markopavlovic commented on #151
any updates on this one?

[2016-09-23 03:54] mnmtanish commented on #480
We should also consider other frameworks. We currently support both React and React Native and there'll be more in the future.

If it'll be used only as a global command, it'll be okay to bundle all frameworks with it and automatically detect the framework when it's executed.

[2016-09-23 08:34] mnmtanish commented on #471
Fixed with #481

[2016-09-23 08:34] #471 closed

[2016-09-23 09:35] madushan1000 commented on #474
Hi, This is the Google bigquery dataset for our tracking data. Anyone can access and query it(under their own expense) if they are logged into google.
https://bigquery.cloud.google.com/dataset/kadira-storybooks:storybook_ping_data

[2016-09-23 09:45] Guria commented on #301
It almost work in Edge if you use direct url to story. But stories list is empty.

[2016-09-23 09:46] Guria commented on #213
Works in IE11 for me.

[2016-09-23 10:11] jzaefferer opened #482 "Navigation order breaks during hot reload"
To reproduce: Start with 3 stories, A, B, C. By default, they're alphabetically ordered. Now edit story A. After a hot reload, observe the navigation order.

Expected: A, B, C
Actual: B, C, A

It seems like the hot reloaded story gets stuck to the end of the list. After a hard reload of the page, its back where its supposed to be.

Tested with 2.18.0.

PS: The "Known Issues" link in https://github

[2016-09-23 10:21] PolGuixe commented on #463
I can confirm that now it works.

cheers @tinybug and @arunoda

[2016-09-23 11:03] PolGuixe commented on #463
I would also recomend to add this bit of code:
[code]

It is a dependency for Material-UI, otherwise it will throw an error

[2016-09-23 11:17] PolGuixe opened #484 "Error on re-render"
The first time it loads its fine, however when I make a change and it tries to re-render shows this error message:

[code]

Here is the code of the component:
[code]

I am also using a decorator to provide the props to the Material-UI components.

[2016-09-23 11:28] jzaefferer opened #485 "Log React Router <Link/> clicks as actions?"
I'm looking for a way to log clicks on `<Link/>` components (from react-router@2.x.x) as actions. Currently a click throws this error: "Uncaught Invariant Violation: <Link>s rendered outside of a router context cannot navigate."

Is there a way to do this already? I couldn't find anything

The links addon is interesting, but a completely unrelated usecase.

[2016-09-23 11:33] Donaldini opened #486 "Better terminal output for webpack built"
Even though it's great to have hot reloading whenever the code is built again, I would like a clearer message in my console to tell me my code has been built.

As an example I can show you how parallel-webpack outputs this:

![screen shot 2016-09-23 at 13 26 53](https://cloud.githubusercontent.com/assets/2185680/18784357/e081d694-8191-11e6-9d80-dab6f5e0512f.png)

Reference code: https://github.com

[2016-09-23 12:18] mnmtanish commented on #389
Published the addon but there's not much we can configure right now. I'll try to add more options soon. As soon as the option fields are stable enough we can add this addon by default on React Storybook and expose a function.

[2016-09-23 14:00] Gnito commented on #314
Iframe certainly is problematic with Storybook. To me it would make more sense to
1) have general page with navigation column where React components are rendered to some container (main column)
2) have component specific page (pure component -> i.e. what currently is shown inside iframe).
-> addon related info etc. should be showed on off-screen canvas.

[2016-09-23 14:53] kevinSuttle commented on #389
@mnmtanish Can you configure which panels are open and included without having to use URL params?

[2016-09-23 15:43] mnmtanish commented on #389
Not yet. (ia) I'll try to do it tomorrow. At the moment we can only set the heading on top of the list and its link.

[2016-09-23 15:49] gthomas-appfolio commented on #15
Great, thank you.   This helped:

[2016-09-23 17:53] achtan commented on #440
my solution:
put `.babelrc` for storybook into `.storybook/` dir
and dont let meteor load any files where `@kadira/storybook` is imported (put all files under /imports dir)

[2016-09-23 19:15] achtan opened #487 "How to extend default webpack.config.js ?"
Hi, i want to have default webpack config + add SCSS and Less loader, is it possible?

[2016-09-23 21:33] casesandberg opened #488 "Set body font-size for rem units"
I use rem units for font-sizes, is there a way to set `font-size:62.5%;` on the body so that they will display properly?

[2016-09-23 23:38] arunoda commented on #487
Yes. That's doable try this to adding to your custom webpack config.

[code]

I didn't try this but this should work.

[2016-09-23 23:39] arunoda commented on #487
Let me know how this goes, if so we could include in the docs.

[2016-09-24 01:20] UsulPro commented on #484
You have this error when you don't wrap material-ui components in [MuiThemeProvider](http://www.material-ui.com/#/customization/themes). So it's not a storybook issue.
You can use this [addon](https://github.com/sm-react/storybook-addon-material-ui) to insert your component directly to storybook

[2016-09-24 08:19] tonyxiao commented on #468
@arunoda on a related note could we try to integrate react-storybook directly into create-react-app itself? And make it really easy for people to create storybooks for their components?

[2016-09-24 08:43] tonyxiao commented on #468
Nvm just saw this
https://github.com/facebookincubator/create-react-app/issues/297
https://github.com/kadirahq/getstorybook
Sick! Insane work @arunoda . Looking forward to seeing storybook in notes.

[2016-09-25 01:30] arunoda commented on #484
Thanks @UsulPro
Closing this since we've a good solution.

[2016-09-25 01:30] #484 closed

[2016-09-25 01:31] arunoda commented on #488
You could set custom HTML tags to the <head>.
See: https://getstorybook.io/docs/configurations/add-custom-head-tags

[2016-09-25 01:34] arunoda commented on #440
@achtan That's a good solution and I'll change the getstorybook tool to be like that.

[2016-09-25 01:38] arunoda commented on #486
Okay. I like this.
Another idea is to integrate [webpack dashboard](https://github.com/FormidableLabs/webpack-dashboard).
May be it'll too big for here.

I'm open for PRs for this.

[2016-09-25 01:41] philcockfield opened #489 "Async/Await"
I'm using a vanilla setup of StoryBook with no tweaks to babel.  If I use `async/await` I get an error of:

    regeneratorRuntime is not defined

Typically the `babel-polyfill` is required to have async/await work on the client.  What are the steps to get this working within StoryBook?

I tried importing `babel-polyfill` within the `.storybook/config.js` but to no avail.

Thanks.

[2016-09-25 01:43] arunoda commented on #485
@jzaefferer First of all, link addon is a totally different one.
This is because, we are using the RR <Link/> outside of the it's router context.

We need to find a proper way to deal with the `<Link/>`. One way is to put a custom webpack alias and set a mock to `<Link>`.

Or you can new Link component wrapping the original with [react-stubber](https://github.com/kadirahq/react-stubber).

[2016-09-25 01:44] arunoda commented on #482
Yep. This is a bug.

[2016-09-25 01:45] arunoda commented on #482
@mnmtanish This is suppose to work earlier. Seems like HMR dispose is not working properly. Isn't it?

[2016-09-25 01:45] arunoda commented on #489
@philcockfield Hope you are using the latest Storybook. I'll dig into this.

[2016-09-25 01:47] philcockfield commented on #489
@arunoda - `"@kadira/storybook": "^2.5.2",`

[2016-09-25 01:47] philcockfield commented on #489
I'll bump to latest `2.18.1` and see if it fixes it.

[2016-09-25 01:48] philcockfield commented on #489
BTW: 2.5.2 was what was in my package.json - but I was actually on 2.15.1

[2016-09-25 01:53] philcockfield commented on #489
Confirmed - errors in the way described on `2.18.1`

[2016-09-25 02:06] arunoda commented on #296
We don't need now.
See: https://getstorybook.io/docs/configurations/serving-static-files#absolute-versus-relative-paths

[2016-09-25 02:06] #296 closed

[2016-09-25 02:20] arunoda commented on #489
I tried it's works pretty fine for me.

Here's the code I used:

[code]
I tried in both NPM 2 and NPM 3.
We don't use `babel-polyfill` and we use some other polyfills.

Could you send me some sample code and I'll try to dig into where this goes wrong?

[2016-09-25 04:04] arunoda commented on #485
I tried this, here's how to do this:

First create a file called `rr.js` inside your Storybook config directory (`.storybook`) with the following content:

[code]

Then create another file called `webpack.config.js` and add following content:

[code]

[2016-09-25 04:07] arunoda commented on #383
This is not exactly the same, but this is how you can mock the RR with Storybook.
See: https://github.com/kadirahq/react-storybook/issues/485#issuecomment-249401443

I think this is the best we can do this from the Storybook end.

[2016-09-25 04:07] #383 closed

[2016-09-25 04:10] arunoda commented on #6
If someone looking for how to use React Router `<Links>` in Storybook, check this: https://github.com/kadirahq/react-storybook/issues/485#issuecomment-249401443

[2016-09-25 04:22] arunoda commented on #487
My above suggestion works and here's the link in the docs: https://getstorybook.io/docs/configurations/custom-webpack-config#extending-the-default-config

[2016-09-25 04:22] #487 closed

[2016-09-25 05:57] mnmtanish commented on #482
@jzaefferer when calling `storiesOf`, are you giving `module` as the second argument? HMR dispose will work only if it's done. Example:

[code]

[2016-09-25 06:34] philcockfield commented on #489
@arunoda - weird, I've just tried your code and it works fine here too - so I've got something else strange happening in the pipeline.  Thanks for checking it out, and sorry for the false alarm.

[2016-09-25 06:34] #489 closed

[2016-09-25 11:04] nmaro opened #492 "One big storybook or split by package?"
First of all thanks for this great package! Thanks to it I was able to modularize my code and create my first external npm package - a collection of components used by my project.
This is a question about best practices: if you split your application in many npm packages, do you keep a separate storybook in each package, or do you create one big one in the main app, or both? And if the answer is b

[2016-09-25 22:41] arunoda commented on #492
The idea is always to keep stories closer to their components. In that case, I think having them inside the NPM module is ideal.

But you may want to keep a Storybook in the main project to see how they great together. Kind of integration with multiple components.

[2016-09-26 06:30] mnmtanish commented on #389
Which panels are visible initially can be configured from Storybook `v2.19.0`. See the options addon [repo readme](https://github.com/kadirahq/storybook-addon-options) for an example.

[2016-09-26 06:42] madushan1000 opened #495 "Environment variables are not working"
`process.env.<VAR>` type statements are not working in both the storybook static version and the dev server. Storybook version is 2.19.0.

[2016-09-26 07:57] arunoda commented on #389
@mnmtanish Add this addon to our addon Galary

[2016-09-26 09:05] mnmtanish commented on #389
Done

[2016-09-26 09:45] PolGuixe commented on #484
@UsulPro thanks for the addon. Looks great.

Just to know what I am doing wrong -so I can learn from it-, I got this error even when providing a theme using `MuiThemeProvider`. In my case I was using a decorator like:
[code]

The first time it renders fine, however on a change I get the error message above.

[2016-09-26 10:33] nmaro commented on #492
I ended up doing exactly that - creating the stories in the packages and importing them in the main project.

[2016-09-26 11:42] arunoda commented on #389
I think we can close this now :)

[2016-09-26 11:42] #389 closed

[2016-09-26 11:43] arunoda commented on #492
Hope we can close this.
Feel free to ask more :)

[2016-09-26 11:43] #492 closed

[2016-09-26 11:46] arunoda commented on #495
I think this is working properly.
We need to use `process.env.STORYBOOK_XXX` in our source code.
We can't get all these values via `process.env`.

That's because webpack simply's define plugin simply replace a give key which is like C preprocessor.

But, we should provide a way to get it via `process.env` to avoid the confusion.

[2016-09-26 11:47] arunoda opened #496 "Improve production caching setup"
Currently manager and preview code will be cached by the server because we don't have unique URLs for every build.

We should do that to avoid unnecessary caching.
Also, we should handle this properly in the Iframe too.

[2016-09-26 15:04] jzaefferer commented on #485
Thank you! I will give that a try.

[2016-09-26 15:08] jzaefferer commented on #482
Yes, just verified that all our `storiesOf` calls pass `module` as the 2nd argument.

As far as I can tell, we're not doing anything out of the ordinary. Here's our config, webpack config and a sample story: https://gist.github.com/jzaefferer/e4c3152d60dd7e6537a1b72a6f6116dd

[2016-09-26 15:14] mnmtanish commented on #482
Thanks for the info. I'll check it out.

[2016-09-26 21:43] ffxsam commented on #411
Yeah, as someone who finds webpack quite puzzling, it would be great if someone could add an example to the Storybook docs on how to mock meteor packages.

[2016-09-27 06:50] faceyspacey commented on #113
also if anyone is having issues with the redux provider not being able to hot load, put it in another file than your `config.js` file like this:

*config.js:*
[code]

*Provider.js:*
[code]

That way when your `config.js` file hot reloads it doesn't have to hot reload your redux `Provider` "on the fly."

[2016-09-27 10:10] mnmtanish commented on #495
There's also an `EnvironmentPlugin` which comes bundled with webpack
https://github.com/webpack/docs/wiki/list-of-plugins#environmentplugin

[2016-09-27 11:02] mnmtanish commented on #482
@arunoda this issue was there from the beginning. The order is lost, when the module gets disposed and re-added. And when it's added again, it's added as a new component (kind) and so it goes to the end of the list.

Opened a PR for this issue:
https://github.com/kadirahq/react-storybook/pull/499

[2016-09-27 11:53] arunoda commented on #495
Does it provide `process.env`?

[2016-09-27 14:15] sylvainbannier opened #500 "Feature : generate variable props values"
When testing a component, I often use long and small texts to check how the component looks in extreme situtations.
Like this :
![image](https://cloud.githubusercontent.com/assets/452941/18877211/c9f30590-84cc-11e6-9ca3-5379b7f48197.png)

To do that I currently pass props to my component :

[code]

It would be very usefull to have a way to generate random texts which lengh could be modified in sto

[2016-09-27 14:43] arunoda commented on #500
I think this is a pretty neat feature.
I hope we could build an addon for that as well.

We don't have built in way for this. But I hope we can use some NPM library like [faker](https://www.npmjs.com/package/Faker).

[2016-09-27 20:53] sylvainbannier commented on #500
thanks,
[the knobs addon](https://github.com/kadirahq/storybook-addon-knobs) seems  like a good starting point to me. It look like all I need is to feed props with fakerJS.
I'll give it a try

[2016-09-28 01:13] nikhilbaradwaj commented on #457
https://github.com/FountainJS/generator-fountain-webapp/issues/129

[2016-09-28 01:14] nikhilbaradwaj commented on #457
https://github.com/webpack/webpack/issues/2145 has the discussion and temporary fix.

[2016-09-28 04:45] arunoda commented on #457
@nikhilbaradwaj Thanks for the reference.

[2016-09-28 05:19] #461 closed

[2016-09-28 05:20] mnmtanish commented on #452
Fixed with `v2.20.0`

[2016-09-28 05:20] #452 closed

[2016-09-28 09:19] joscha opened #502 "Hostname for storybook not localhost anymore"
We just upgraded to 2.20.0 and see some problems with Storybook starting under a different hostname. Before it was always `localhost` now it seems to be the machine name. Even when `-h 0.0.0.0` or `-h localhost` is passed. I am still investigating why this is happening with the new version.

[2016-09-28 09:25] mnmtanish commented on #502
Hi @joscha, thanks for reporting this. It's a bug recently crept into Storybooks, I'm working on the fix right now.

[2016-09-28 09:32] #502 closed

[2016-09-28 09:37] mnmtanish commented on #502
Released `v2.20.1` with a patch. It should work correctly now.

This happened when I mistakenly removed the `STORYBOOK_` prefix from config environment variables (because the same prefix is used to send data to the client). [[source]](https://github.com/kadirahq/react-storybook/pull/481/files#diff-6e0d62f54b853b53af874f5965d7adf2R31)

[2016-09-28 10:13] jmfrancois opened #505 "accessibility: please use link to open a story"
At the moment they are div which is not the best for accessibility.
I'm used to navigate with my keyboard and this is not possible on storybook.

I can make PR only if you show me where the code of that left navigation bar is (can't find it in the code)

<img width="507" alt="screen shot 2016-09-28 at 12 12 36" src="https://cloud.githubusercontent.com/assets/19857479/18909700/e0e4c416-8574-11e6-92

[2016-09-28 10:16] mnmtanish commented on #505
Most of the UI code is available here:
https://github.com/kadirahq/storybook-ui

The storybook component is in this directory:
https://github.com/kadirahq/storybook-ui/tree/528e00b6952c1926f0ef2fb4ab49a0dbdbcc7e8a/src/modules/ui/components/left_panel

[2016-09-28 10:47] frassinier commented on #505
Usually, we should prefer `<ul>` or `<ol>` to display a list too

[2016-09-28 11:07] joscha commented on #502
nice one, thank you @mnmtanish

[2016-09-28 11:32] acateland commented on #505
PR time guys !

[2016-09-28 11:55] joscha commented on #502
just verified: this fixed the problem!

[2016-09-28 16:37] UsulPro commented on #484
In general this code works well for me.
(just don't miss `import React from 'react';`)
Could you give more details where it goes wrong?

[2016-09-29 08:11] jmfrancois commented on #505
PR done ! Could you @mnmtanish please review it ?

[2016-09-29 08:42] mnmtanish commented on #505
@jmfrancois with pleasure :)

[2016-09-29 08:59] #505 closed

[2016-09-29 16:30] kevinSuttle commented on #458
What are you thinking this could be used for? I'm interested.

[2016-09-29 16:32] kevinSuttle opened #521 "Abstract docs for registering addons"
Right now, there is a link to a gist that's specific to one addon. It would be handy to have this API abstracted for general reuse.

https://getstorybook.io/docs/addons/writing-addons

[2016-09-29 16:43] kevinSuttle commented on #521
Actually, I see this: https://getstorybook.io/docs/addons/api

[2016-09-29 18:45] kevinSuttle commented on #14
Seeing the same issue locally, but not using a .jsx file extension.

I used the guide and gist from here: https://getstorybook.io/docs/addons/writing-addons

[2016-09-29 19:02] kevinSuttle commented on #14
There seems to be a lot of info missing from the docs, like adding babel etc, and specifying a dist folder.

https://github.com/kadirahq/storybook-addon-notes/blob/master/register.js

[2016-09-29 19:16] kevinSuttle commented on #14
I have a working implementation here: https://cloudup.com/cwK7EtZCpaw

[2016-09-29 22:02] rhalff opened #522 "Custom page title for the preview window"
The iframe currently has a hardcoded title `React Storybook`, which is the same as the parent window.

See: https://github.com/kadirahq/react-storybook/blob/master/src/server/iframe.html.js#L15

This cause redux devtools to show the same instance names:

![storybook](https://cloud.githubusercontent.com/assets/274358/18973788/9ba5928c-869f-11e6-884a-2074077f1862.png)

Perhaps this could be changed

[2016-09-29 23:38] arunoda commented on #458
It's about organizing a pretty large storybook. Now we are thinking about moving this into tags.

We can tag stories. Then we can filter them our focus on a set of tags at a moment.

[2016-09-29 23:51] arunoda commented on #522
Yep. That something we should conside to imple
ent.
Anyway, why do you the Redux devtools. I am trying to understand the reason behind it.

[2016-09-29 23:53] arunoda commented on #521
Okay. That's a good idea.

[2016-09-30 01:01] rhalff commented on #522
I've noticed storybook made the redux instance running in the iframe available and it proofs useful to me.

This way containers which are using connect can be tested in isolation and I can verify whether the actions are being dispatched correctly and if the state is updated as intended.

So basically to verify the redux part of the code.

[2016-09-30 02:16] arunoda commented on #522
@rhalff Got it.
FYI: We are removing the Redux stuff in out code into a something smaller. We really don't need the power of Redux, since it's not a pretty big UI.

[2016-09-30 02:21] arunoda commented on #521
Added a section.

[2016-09-30 02:21] #521 closed

[2016-09-30 02:22] arunoda commented on #495
Anyway, we can close this.

[2016-09-30 02:22] #495 closed

[2016-09-30 02:23] #488 closed

[2016-09-30 02:23] arunoda commented on #485
@jzaefferer how was it?

[2016-09-30 02:33] rhalff commented on #522
Ok, no problem, I can live with that :-) this issue can be closed then.

[2016-09-30 04:08] kevinSuttle commented on #521
Thanks, @arunoda. Next one's on me. 👍

[2016-09-30 11:52] arunoda commented on #474
Here's the summary of all the data we collect.
See: https://stats.getstorybook.io

[2016-09-30 13:24] gaearon commented on #468
I think it should be dev-only, should it not? Is Storybook use case different?

[2016-09-30 14:33] glenarama opened #523 "Should not depend on index.css"
The create-react-app config loads the default ../src/index.css file
This is the first thing i remove on my create-react-app based projects and storybook breaks.

Suggest not depending on this.

[2016-09-30 17:06] arunoda commented on #468
@gaearon Storybook is mostly a devtool even we have a way to export into a static app. I think it's pretty useful in that case.

[2016-09-30 17:29] arunoda commented on #523
Yep. We don't need that.
Need to clear that, this is going to be on our `getstorybook` utility.

[2016-09-30 17:55] arunoda commented on #523
Published a new `getstorybook` version by removing this.

[2016-09-30 17:55] #523 closed

[2016-10-01 04:17] iansoper commented on #485
Can you use this method to use the `linkTo()` function for `<Link />` components

[2016-10-01 20:01] ffxsam opened #524 "Style bug (paddingLeft)"
I just upgraded Storybook to 2.20.1, and now I'm getting the following warning:

[code]

[2016-10-03 07:35] PEM-- commented on #524
Fixed with https://github.com/kadirahq/storybook-ui/pull/52

[2016-10-03 19:51] Idered opened #525 "storybook-loader for webpack"
I have a project in which, each component directory contains a story:

![](http://i.imgur.com/xn6Tfc4.png)

With current react-storybook I have to require each .story.js file:

![](http://i.imgur.com/UWWVwjD.png)

Is it possible to load all files ending with .story.js as stories using webpack:

[code]

storybook-loader is just an idea.

[2016-10-04 02:18] arunoda commented on #525
I hope you found this: https://getstorybook.io/docs/basics/writing-stories#loading-stories-dynamically

[2016-10-04 02:18] #525 closed

[2016-10-04 02:26] arunoda commented on #524
This should be fixed by now.
Delete storybook-ui and install it again.

[code]

[2016-10-04 02:49] dburles commented on #440
hey @arunoda what's ETA on this fix? :)

[2016-10-04 05:41] arunoda commented on #524
I think we could close this now.

[2016-10-04 05:41] #524 closed

[2016-10-04 10:41] jzaefferer commented on #485
I tried this, but couldn't get it working. Apparently the aliased `rr.js` is never loaded, so the custom `Link` implementation isn't loaded either. I couldn't figure out how to debug the resolve.alias besides outputting the resolved path for `rr.js` (which was correct).

Any ideas what I might be missing? I'm hardly an expert on webpack :/

[2016-10-04 14:14] UsulPro commented on #500
@sylvainbannier how are you getting on with this?
Just as an idea, if you want dynamic text: how do you like [this way](https://sm-react.github.io/react-smart-textarea/?selectedKind=SmartTextarea&selectedStory=appearance&full=0&down=1&left=1&panelRight=0) to select the right amount of text by mouse

[2016-10-04 19:05] sylvainbannier commented on #500
@UsulPro sorry I don't see the feature you'r talking about. Is there a slider somewhere I didn't noticed ?

[2016-10-05 03:07] UsulPro commented on #500
@sylvainbannier just select by mouse some 'lorem ipsum' text at the right column and you will see this amount of text in all textarea elements

[2016-10-05 08:24] arunoda commented on #468
I just released `@kadira/storybook@2.21.0` with all these features.

[2016-10-05 08:24] #468 closed

[2016-10-05 10:19] guy-kdm opened #530 "Create React App - Unexpected token import in config.js"
Hi, after running `getstorybook` in my create react app and running storybook I get:
`config.js?1daa:1 Uncaught SyntaxError: Unexpected token import`
In the console when loading `http://localhost:9009/` and no stories loaded.

Didn't tinker or anything (just plain CRA, though not an empty project)
Sorry if that's not enough information, will happily provide more if needed.

package.json:
`{
  "nam

[2016-10-05 10:34] gaearon opened #531 "Highlight the URL in console output"
It took me a while to find it:

<img width="955" alt="screen shot 2016-10-05 at 11 32 29" src="https://cloud.githubusercontent.com/assets/810438/19109982/ba5bd002-8aef-11e6-897b-5c756e9fca21.png">

Highlighting it with cyan would solve the issue.

[2016-10-05 10:51] gaearon opened #532 "Show a meaningful error on missing element"
Can you spot a mistake here?

[code]

I used `{` instead of `(`, and so didn’t return anything.
As a result, I got this error:

<img width="1118" alt="screen shot 2016-10-05 at 11 47 29" src="https://cloud.githubusercontent.com/assets/810438/19110383/82799b68-8af1-11e6-9ce8-6d962290d05b.png">

I think Storybook should validate elements before passing them to React. If element is undefined, it shou

[2016-10-05 12:38] sylvainbannier commented on #26
@wyattdanger have you managed to reuse react storybook stories with happo ?

[2016-10-05 12:53] sylvainbannier commented on #294
@mnmtanish, tried backstop with the settings found in `backstop-setup` branch of https://github.com/kadira-samples/react-button but I always get half of my CSS

![image](https://cloud.githubusercontent.com/assets/452941/19113608/d1ae9e40-8b0a-11e6-9870-6fda7315fa67.png)
Upper half is what I get, lower half is what I should get.

It's like some CSS is missing.

I guess it's more of an issue with ba

[2016-10-05 13:31] arunoda commented on #530
It's pretty great, If I can get a sample repo.
And tell me the NPM version you are using.

[2016-10-05 13:31] arunoda commented on #531
Yep. I am on this.

[2016-10-05 13:33] arunoda commented on #532
This is pretty great.
And I think many people would have met with this error.
I can do a fix.

[2016-10-05 15:29] arunoda commented on #532
Fixed with `v2.22.0`

[2016-10-05 15:29] #532 closed

[2016-10-05 15:30] arunoda commented on #531
Fixed with `v2.22.0`

[2016-10-05 15:30] #531 closed

[2016-10-06 04:50] mnmtanish commented on #294
Hi @sylvainbannier

The script on the `backstop-setup` branch just loads story functions with nodejs and renders them. As we're not using Webpack here, it won't load styles from css files. The styles which do get loaded in this example must be inline styles.

The `backstop-setup` branch was just an experiment so I don't recommend using it. When we find a good way to do this, we'll try to add this

[2016-10-06 06:14] mnmtanish commented on #482
Fixed with #499

[2016-10-06 06:14] #482 closed

[2016-10-06 07:11] jzaefferer commented on #482
Nice, thank you!

[2016-10-06 13:35] sylvainbannier commented on #294
thanks @mnmtanish  so storyshot will be about jest screenshot testing and css regression testing too ?

[2016-10-06 14:02] ufukomer commented on #15
Put your auth token into local .npmrc (the .nprc file inside the repository folder), not into the global one.

[code]

[2016-10-06 15:54] arunoda commented on #294
@sylvainbannier check the last part of this blog post: [Snapshot Testing in React Storybook](https://voice.kadira.io/snapshot-testing-in-react-storybook-43b3b71cec4f#.3py9xmzi7)

[2016-10-07 07:42] guy-kdm commented on #530
Sure, I'll do that in a little while (npm 3.10.3, node 6.3.0)

[2016-10-07 08:32] zzztuzzz commented on #175
great! THX your Hackness!!

[2016-10-07 13:45] akofman opened #537 "Error with missing regeneratorRuntime"
With the actual version of `babel-preset-react-app`, we have two different versions of `babel-plugin-transform-regenerator` :

[code]

This prevents to use storybook without `babel-polyfill`. I did a [PR](https://github.com/facebookincubator/create-react-app/pull/864) to `creat-react-app` to fix this issue. Once it will be released, we should update the version of `babel-preset-react-app`.

[2016-10-07 14:03] UsulPro commented on #530
I have same error both in react-cdk and pure [Storybook](https://getstorybook.io/docs/basics/slow-start-guide)
[code]
I guess that this is a problem because of windows @guy-kdm do work under windows?
`Unexpected token (7:4)` in `react-wizard/src/stories/index.js` it's just place where jsx code goes:

![image](https://cloud.githubusercontent.com/assets/14885189/19192318/124d5df8-8cd0-11e6-9153-da5e

[2016-10-07 17:26] kevinSuttle opened #538 "Show notification and add opt-in for tracking usage"
https://github.com/kadirahq/react-storybook/blob/master/dist/server/track_usage.js

[2016-10-07 20:34] kevinSuttle opened #539 "NODE_ENV no longer appears to be set to "development" locally"
https://getstorybook.io/docs/configurations/env-vars

[2016-10-07 23:09] arunoda commented on #539
Hmm.
I am seeing it.

[code]

[2016-10-07 23:09] arunoda commented on #539
Do you mean something else?

[2016-10-07 23:12] arunoda commented on #538
Related: https://github.com/kadirahq/react-storybook/issues/474

[2016-10-07 23:12] #538 closed

[2016-10-07 23:21] arunoda commented on #537
I'll bump the version when it's published.
We we use semvar, you could simply do a clean node_modules and install deps again to fix this issue on the Storybook side.

[2016-10-08 01:16] kevinSuttle commented on #474
As a privacy advocate, I almost always opt-_in_ when given the opportunity.

See Homebrew's experience with this. Being upfront is the best approach, IMO.
https://news.ycombinator.com/item?id=11566720

[2016-10-08 01:17] kevinSuttle commented on #539
I saw this only occurs in the older setup. Apologies for the false alarm.

[2016-10-08 01:17] #539 closed

[2016-10-08 02:43] arunoda commented on #539
Okay.

[2016-10-08 20:13] faceyspacey commented on #489
I'm using the latest storybook (2.24.0) and am still getting this issue using *redux-sagas* and generators. I've done both what @philcockfield did by trying to import the babel-polyfill (as well as setting the webpack entry point for it), as well as what @arunoda said where it should just work with storybook out-the-box.

[2016-10-09 18:10] Krabaul commented on #428
What about using [react-with-styles](https://github.com/airbnb/react-with-styles) by airbnb?

I have already used it together with [aphrodite](https://github.com/khan/aphrodite) and its working really well.

[2016-10-10 16:03] Nesciosquid commented on #430
I am running into this on both my Win7 and Win10 machines, regardless of which repo I try to install to.

[2016-10-10 19:15] arunoda opened #540 "Ship babel-plugin-react-docgen with storybook"
The repo: https://github.com/kadirahq/babel-plugin-react-docgen

With this, we could get more meta data information about React classes in runtime.
For an example, you could get more info any React class with:

[code]

This will help us to build a huge set of storybook addon which improve the dev workflow.
### Performance Cost

This might carry some performance cost since it parses classes with re

[2016-10-11 07:03] BenSwennen opened #541 "PostCSS/CSSmodules css not loading in Storybook"
I have the following component that imports styles are generated via PostCSS and CSSmodules and works fine if I use them in my app normally, but the styles won't show up in storybook:

[code]

Here is my `webpack.config.js` (which is basically a copy of the `webpack.config.js` in root) in .storybook:

[code]

Suggestions in https://github.com/kadirahq/react-storybook/issues/270 couldn't help me. C

[2016-10-11 23:47] eugene1g opened #542 "yarn compatibility"
This is not an issue within Storybook, and I'm documenting this here purely for reference/Google-fu.

[Yarn](https://yarnpkg.com/) is a new alternative to NPM-cli from Facebook. There is a known issue (https://github.com/yarnpkg/yarn/issues/620 and https://github.com/yarnpkg/yarn/issues/709) that prevents it from fully handling scoped packages, such as `@kadira/storybook` The package gets installe

[2016-10-12 00:08] arunoda commented on #542
Yarn is pretty cool. I hope this will get fixed soon.

[2016-10-12 14:14] sylvainbannier opened #543 "display errors twice with create react app"
I freshly installed storybook on create-react-app with `getstorybook`.

here's the brouwser output of `npm start` (CRA) when there's a missing closing tag for instance :
![image](https://cloud.githubusercontent.com/assets/452941/19313189/f03015fc-9095-11e6-84e0-def2b7dcbe60.png)

And here's the browser output of `npm run storybook` with the same kind of issue :
![image](https://cloud.githubusercon

[2016-10-13 03:13] arunoda commented on #543
@roonyh could you look into this?

[2016-10-13 05:26] roonyh commented on #543
Sure. Working on it.

[2016-10-13 06:24] Domiii commented on #76
Can the MUI support be generalized in a way that I can choose to only add the decorator once, in the global config, instead of each individual story?

For reference, my `.storybook/config.js` looks like this:

    import { configure } from '@kadira/storybook';
    import { setStubbingMode } from 'react-komposer';

    // See: https://github.com/kadirahq/react-komposer#stubbing
    setStubbingMode(

[2016-10-13 07:20] UsulPro commented on #76
@Domiii You can add decorator both locally and globally:
[code]

[2016-10-13 08:12] Domiii opened #544 "Version issues: storybook@0.0.0"
I am suddenly getting this error when starting storybook:

[code]

`npm` tells me that there are dependency issues:

[code]

The funnest part:

[code]

So apparently, I have storybook v0.0.0. That would certainly explain a lot (and also nothing at all!). I tried uninstalling + reinstalling -> Nothing! Any help?

[2016-10-13 08:23] arunoda commented on #544
Our package is `@kadira/storybook` not storybook.

[2016-10-13 08:23] #544 closed

[2016-10-13 08:37] Domiii commented on #544
Sorry about the mixup!

Sadly, `@kadira/storybook` yields similar issues:

[code]

Could this be caused by `storybook-addon-material-ui` not being able to work with the latest storybook release?

Any suggestions as to how to debug this issue?

[2016-10-13 08:43] Domiii commented on #544
NVM! That's exactly what it is. Sorry for the hassle! :)

[2016-10-13 08:44] roonyh commented on #544
I think Its the other way around :) `storybook-addon-material-ui` require newer 2.x.x storybook and you have 1.x.x. Do `npm install --save-dev @kadira/storybook@^2.18.1`

Simple `npm update` will get you latest 1.x.x release if your package.json is not updated to 2.x.x

[2016-10-13 08:45] Domiii commented on #76
@UsulPro  Does this work for you with the latest version?

I can't seem to properly install [storybook-addon-material-ui](https://github.com/sm-react/storybook-addon-material-ui):

[code]

When visiting the storybook frontend, I get:

[code]

[2016-10-13 08:46] Domiii commented on #544
Oh Ok!

Thanks, @roonyh! I give it a go!

[2016-10-13 09:44] arunoda commented on #76
@Domiii your issue is your webpack config can't understand png files.
Our default setup should support it.
But if you are using a custom webpack loader, try to use a proper loader for png files.

[2016-10-13 11:35] roonyh commented on #543
I used the [example project](https://github.com/glenjamin/webpack-hot-middleware/tree/master/example) from webpack-hot-middleware and used babel-loader on it. It shows errors in the exact same format.

So this seems like its not fixable from inside storybook. I'll leave this for now to work on some higher priority issues.

We have plans for a error reporting system of our own, like the one create-

[2016-10-13 13:34] filmic commented on #530
I had a similar issue with `SyntaxError: Unexpected token import` and solved it by adding `"es2015"` preset to my `.babelrc` file in the app root folder.

Using `transform-es2015-modules-commonjs` plugin instead of entire preset should also work.

[2016-10-13 13:37] a-magdy opened #545 "[Enhancement] Configure Webpack to include stubs instead of composers"
Hi,

We are working on a project with Meteor and React, and we are using React Storybook for react components, and so far it is amazing.

But we have this issue, where in containers, we might need dependencies that cannot be available in react storybook, like Meteor (if we are calling a Meteor method).

We tried to come up with a solution using [react-komposer's setComposerStub](https://github.com

[2016-10-13 19:08] evandavis opened #546 "Open browser automatically on run"
Hi, I'm trying to use the [open-browser-webpack-plugin](https://github.com/baldore/open-browser-webpack-plugin) to launch my storybook in the browser as soon as it's ready. However, when I use this plugin, the server hangs and doesn't render anything.

I opened [an issue on that repo](https://github.com/baldore/open-browser-webpack-plugin/issues/11) as well because I'm not sure where the problem l

[2016-10-13 22:29] arunoda commented on #546
@evandavis I haven't used this plugin personally.
But I assume, this is something related to plugin itself.

[2016-10-13 22:35] arunoda commented on #545
I hope setComposerStub should work properly. You need to call following in your storybook config file:

[code]

Also make sure to not to write any Meteor specific imports in the composer file.

---

You can also use [React Stubber](https://github.com/kadirahq/react-stubber). Which is the same thing.

What you said is doable with a custom webpack config. But I think there are some easy ways to do i

[2016-10-13 22:38] arunoda commented on #530
@guy-kdm @filmic Do you guys have any `.babelrc` file in your project root?
If so, you may need to remove it.

Here I'd to see a sample repo (or how to reproduce this).

[2016-10-14 06:27] mcreations opened #547 "Support for testing storybook breaks on each code commit"
Hi,
We heavily use React storybook for building React components in our project. There are multiple teams working on the project. We build stateless components and use props to pass values to the components. One of the main issues we face is that there are unintentional storybook breaks when one team changes data structures without changing the storybook tests. It would be better if we can add a p

[2016-10-14 07:40] guy-kdm commented on #530
No babelrc (cause CRA), if no one will before I'll upload a sample repo in Saturday, thanks for the help meantime

[2016-10-14 07:44] guy-kdm commented on #530
@arunoda Yep, windows unfortunately :)

[2016-10-14 09:36] filmic commented on #530
@arunoda Rather than removing the `.babelrc` in root folder (which is used for the app production build) I would create a custom `.babelrc` just for Storybook as described in docs: https://getstorybook.io/docs/configurations/custom-babel-config

[2016-10-14 14:25] a-magdy commented on #545
Thanks Arunoda,

We couldn't avoid importing Meteor specifics in the composer file.
And actually we went with "react-simple-di" solution for a while, but it takes a lot of time and effort.

We went with customising webpack config, and we came up with this solution: [react-stubs](https://github.com/Quadric/react-stubs), it would be great if you could take a look at it, and give us your thoughts.

[2016-10-16 03:59] robinspark commented on #16
This is broken again. To fix it, remove all carets/^ from package.json, then run:
`$ npm update`
//NOTE: running '`$ npm install`' wont fix the issue as it doesn't resolve micro version changes.

OR
`$ yarn upgrade`

[2016-10-16 23:45] tomitrescak opened #548 "Sorting stories"
Hi, the stories are listed in rather random order, is it possible to sort them alphabetically? This is how it looks on my end.

![screen shot 2016-10-17 at 10 45 11 am](https://cloud.githubusercontent.com/assets/2682705/19421911/d78160aa-9456-11e6-937e-cd97889e404e.png)

Also, in my project I have quite a few stories by now, would it be possible to add also more hierarchy into stories? Component >

[2016-10-17 05:33] arunoda commented on #548
This is based on the way you load stories.
@mnmtanish how about providing a global API to sort stories.

[2016-10-17 05:42] arunoda commented on #545
@a-magdy This is too application specific and we can't land this on storybook by default.
But you could do this by writing a custom webpack config or edit our default config.
Check docs: https://getstorybook.io/docs/configurations/custom-webpack-config