[2021-03-25 00:28] srt4rulez commented on #9205
On Storybook 6.1.21, I had the same issue as @keyserfaty, where it only showed a few props from the default "button" component that Storybook shipped with.

The issue was because I completely overwrote the module.rules array in webackFinal function of main.js with my own webpack config.

I instead spread storybooks rules first, then did my own webpack config:

[code]

[2021-03-25 02:32] shilman commented on #12431
cc @yannbf any chance you can make this work for subcomponents?

[2021-03-25 02:50] shilman commented on #14327
I take it back after reading the code:

https://github.com/storybookjs/storybook/blob/next/addons/actions/src/preset/addArgs.ts#L15-L28

As long as there is an argType that matches the regex, this should add a `defaultValue` which is the action, which should then get passed to the component as an arg. If it's not working and you have a clean repro, I'm happy to take a look.

[2021-03-25 03:07] lifeiscontent opened #14332 "React Hooks in Decorators/Addons"
@Hypnosphi I heard you wrote the hooks code for Storybook. I'm seeing some pretty weird behavior where if a user uses my addon:

https://github.com/lifeiscontent/storybook-addon-apollo-client/issues/14

with https://github.com/react-theming/storybook-addon

they get the error linked above.

Would you mind helping me uncover why this issue happens?

[2021-03-25 03:13] lurch83 commented on #14321
Also getting this issue.

[2021-03-25 03:30] Sawtaytoes commented on #14327
I'll remake that `create-react-app` repo again tomorrow and let you look into it.

[2021-03-25 05:55] Sawtaytoes commented on #14327
@shilman https://github.com/Sawtaytoes/fresh-storybook-click-test

[2021-03-25 06:33] ABWalters commented on #14108
Experiencing the same issue with MDX files:
[code]

[2021-03-25 09:00] ndelangen commented on #13630
Hello @mgameover,

I found a fix for this, should be fixed real soon. thanks for reporting!

[2021-03-25 09:25] PhilippeMorier commented on #12311
FYI: I have this problem with WebStorm & Angular 🤔.

[2021-03-25 11:28] victoriatomzik commented on #14160
These subpackages are still not upgraded: (6.2.0-rc.9)
<img width="866" alt="image" src="https://user-images.githubusercontent.com/17315148/112465915-26f50980-8d5d-11eb-827f-14236550ea86.png">

[2021-03-25 11:58] ghengeveld commented on #14085
Resolved in #14316 and released in 6.2.0-rc.9

[2021-03-25 11:58] #14085 closed

[2021-03-25 12:14] AndrejGajdos commented on #5183
+1 I have the same issue with CRA and `"@storybook/react": "^6.1.21",`

[2021-03-25 13:54] dexster opened #14337 "addons config not persisted when changing screensize"
**Describe the bug**
This may not be a bug and more a feature. I'm hiding the sidebar but when I go full screen and then back to normal view the sidebar appears.

**To Reproduce**
Steps to reproduce the behavior:

1. Hide the sidebar in manager.js
[code]
2. Run Storybook and click the fullscreen icon
3. Click the "exit fullscreen" icon
4. The sidenav appears

**Expected behavior**
I would expect t

[2021-03-25 15:29] sami616 commented on #10979
Did this ever make it onto the roadmap for a future release?

[2021-03-25 15:33] sami616 commented on #13379
Yes, there is a separate issue (#10979) here. Would love to see this make it into a future release.

Perhaps something like this might be a nice API.

![94360539-e5cdb680-00a5-11eb-8058-0f7f2b4db15a](https://user-images.githubusercontent.com/21065581/112499453-63396180-8d7f-11eb-9b53-74a9548019aa.png)

[2021-03-25 16:10] Firebrand opened #14339 "Sharing knob values across stories"
I've scoured the forum here as well as resources online, but can't seem to find an answer. How would I go about sharing knob values across different stories? (ex. I have a story of a button and if the user sets knob values for it those values persist if the user changes to a story of a form that includes that button as a subcomponent)

Thanks so much guys!

[2021-03-25 16:23] yngvebn commented on #14268
Please submit a PR. I'll be happy to take a look. Haven't had time to look at it myself 😊

[2021-03-25 18:39] jessepinuelas opened #14340 "Failed to exec deploy-storybook script"
**Describe the bug**
No longer able to deploy to GH Pages. Previously I was able to simply run `npm run deploy-storybook`.  Now when running the deploy command I run into the following error **Failed to exec deploy-storybook script**

**To Reproduce**
1. Run the following: npm run deploy-storybook

**Expected behavior**
Successfully deploys updates to GH Pages

**System**
    OS: macOS 10.15.6

[2021-03-25 19:03] YozhEzhi commented on #5065
**For monorepo with packages only.**

You could run all stories in package but not in all repo.

[code]

[code]

[code]

[2021-03-25 19:26] piouson commented on #324
for anyone else facing this issue, see [this stackoverflow answer](https://stackoverflow.com/a/66806281/1235675)

[2021-03-25 19:30] millermedeiros commented on #7745
since none of the solutions above worked for my repository — `React.createElement` is required for hooks to work as expected, can't call `story.render()` directly — I wrote these two solutions:

[code]

Or if you want to save the snapshots to multiple files (similar to `multiSnapshotWithOptions`):

[code]

[2021-03-25 19:50] myyellowshoe opened #14342 "Webpack Building Constantly"
**Describe the bug**
Webpack constantly builds/rebuilds storybook on `6.2.0-rc.9`

**To Reproduce**

1. Install Storybook 6.2.0-rc.9.
1. Start storybook

**Expected behavior**
Should only rebuild when I update a file.

**Code snippets**

[code]

**System**

[code]

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1199622255231368/1200143215549071) by [Unito](https://www.unito.

[2021-03-26 00:50] shilman commented on #14321
If you want this fixed, please upvote by adding a 👍 to the issue description. We use this to help prioritize!

[2021-03-26 04:31] shilman commented on #14339
FYI, we’ve released `addon-controls` in Storybook 6.0. Controls are portable, auto-generated knobs that are intended to replace `addon-knobs`, which are slated for deprecation.

- [Controls documentation](https://storybook.js.org/docs/react/essentials/controls)
- [Migration instructions](https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#how-do-i-migrate-from-addon-knobs)

[2021-03-26 04:33] shilman commented on #10979
@sami616 was hoping to get it into 6.2 but we ran out of time. We plan to continue to work on all this in 6.3, but haven't prioritized yet.

[2021-03-26 04:34] shilman commented on #14337
Sounds like a bug to me. @ndelangen @ghengeveld any thoughts?

[2021-03-26 04:38] shilman commented on #14160
@victoriatomzik can you explain how this is related to the issue?

[2021-03-26 04:56] shilman commented on #14327
@Sawtaytoes you're not binding the `onClick2` handler in your story. When I fix that, it works as expected:

[code]

[2021-03-26 05:24] williamliangwl commented on #7644
Not sure if you guys have successfully used this feature. What I did to get my MD files to be embeded, is by doing the followings:

Storybook version: 6.1.21

`.storybook/main.js`
[code]

I followed the example from here https://github.com/storybookjs/storybook/pull/11334/files

[2021-03-26 05:32] #13630 closed

[2021-03-26 05:35] shilman opened #14344 "Composition: Option to load external storybook minimized"
I've already [asked](https://github.com/storybookjs/storybook/discussions/14089) about this feature, but it seems, right now there is no option for that.
I want to add several external storybooks and it's not very convenient to scroll through llooooong list of every stories grom every storybooks.

<img src="https://user-images.githubusercontent.com/8345600/112463642-8eb64f00-8d73-11eb-9ae6-ffa5846

[2021-03-26 08:08] shilman commented on #13630
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.10 containing PR #14334 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

[2021-03-26 08:08] shilman commented on #13797
Ta-da!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.10 containing PR #14338 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-26 08:08] #13797 closed

[2021-03-26 10:18] havercake commented on #14322
Hi everyone, for Stories that are wrapped in a <Canvas> element there is a an easy target class of:

`sbdocs sbdocs-preview`

You could set the background on that. (Note that this is div that the background colour is being set on by default already)

[2021-03-26 10:25] havercake commented on #14322
As @angryzor pointed out in their investigation (thanks for that), the change in the PR [here](https://github.com/storybookjs/storybook/blob/next/addons/backgrounds/src/decorators/withBackground.ts#L28-L56).

If I understand correctly this line:

`context.viewMode === 'docs' ? `#anchor--${context.id} .docs-story` : '.sb-show-main';`

Could be changed to:

`context.viewMode === 'docs' ? `.sbdocs-pr

[2021-03-26 11:14] mgansler opened #14346 "Storybook fails to load story when generated code from @openapitools/openapi-generator-cli is used"
**Describe the bug**
Storybook fails to load a story as soon as generated code from @openapitools/openapi-generator-cli is used.
The context is a NX monorepo but there is no issue when self-written code is used. We could not find what exactly breaks storybook.

**To Reproduce**
Steps to reproduce the behavior:

I created a minimal example: https://github.com/mgansler/openapi-storybook

1. Clone Re

[2021-03-26 11:15] ricoli opened #14347 "Webpack 4 dependency tree has a High severity vulnerability"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

This repository depends on Webpack 4 and even the latest version of Webpack 4 (v4.46.0) has a High severity vulnerability in its tree which goes like so:
https://github.com/webpack/webpack/blob/v4.46.0/package.json#L28
https://github.com/webpack-contrib/terser-webpack-plugin/blob/v1.4.3/package.json#L

[2021-03-26 11:31] darkowic commented on #13160
If you need PostCSS, include '@storybook/addon-postcss' in your '.storybook/main.js' file

What if not relying on it? How to get rid of the warning?

[2021-03-26 11:56] darkowic commented on #14197
In my case, I was able to make it work by forcing `"@babel/plugin-proposal-class-properties": "~7.10.1",`. This may be also because we have a babel mess in our monorepo. The babel v7.11 or 7.12 is causing many problems.

[2021-03-26 12:18] mts commented on #14321
- Reproducible here through the following steps using Node v14.16.0, NPM v6.14.4 and Storybook v6.1.21:
  - https://github.com/mts/freestyler
    - `git clone git@github.com:mts/freestyler.git`
    - `npm run install-packages`
    - `npm run bootstrap`
    - `npm run start-storybook`
- ![image](https://user-images.githubusercontent.com/28991521/112630275-a0f8c180-8e35-11eb-9df3-41fd2d3f8e33.png)

[2021-03-26 13:04] darkowic opened #14350 "[6.2.0-rc] inferActionsFromArgTypesRegex was not supported :( !"
**Describe the bug**
After upgrade from 6.1.x to newest 6.2.0-rc.10 version the warning in console appears:

[code]

I found in the source that the log is from `lib/builder-webpack4/src/preview/virtualModuleEntry.template.js`

**To Reproduce**
Not sure how to reproduce it. It appeared after the upgrade.

**Expected behavior**
No warning or docs on how to resolve the warning.

**System**

[code]

┆

[2021-03-26 13:16] dptoot commented on #14278
Thanks for the help all.  Seems like there might be a plan in place to provide this functionality and I look forward to using it :)

[2021-03-26 13:39] shilman commented on #14321
Try upgrading to the latest prerelease:

[code]

Does that fix it?

[2021-03-26 14:01] Firebrand commented on #14339
@shilman Thanks so much!

[2021-03-26 14:23] mts commented on #14321
@shilman Yes, upgrading to the latest prerelease fixes it.
![image](https://user-images.githubusercontent.com/28991521/112645619-effb2280-8e46-11eb-937f-eeb305d68c75.png)

[2021-03-26 14:36] Cnordbo commented on #12098
I did not get the workaround that @KaiVandivier suggested, to work.
Could be a different issue tho? Trying to render a default component sent is as a parameter.

[code]
When trying to render that with default values, it just shows up as `<KeyboardArrowDown />` string.

![image](https://user-images.githubusercontent.com/385693/112647565-f5f20300-8e48-11eb-99de-9484334a1e2e.png)

[2021-03-26 14:45] shilman commented on #14197
@PhekPR is there any chance you can update your project to use the Yarn or NPM registry? Currently your lockfile is pointing at `pricerunner.info`, which I don't have access to. Also please remove `eslint-config-pricerunner` which looks unused in the repo and is not public. Many thanks!

[2021-03-26 14:56] thomasaull opened #14352 "[6.2.0-rc] Breaks HMR for vue with imported modules"
**Describe the bug**
Using storybook vue and the latest `6.2.0-rc10`. Importing and using a function in a component works on the initial load after starting storybook. However, on changing something in the imported file, storybook breaks with the following error:
`TypeError: options is undefined` (see screenshot below)

**To Reproduce**
Steps to reproduce the behavior:

1. Clone repository: https:

[2021-03-26 15:07] mgameover commented on #13630
Hi guys,
Hi @shilman,

Unfortunately, the issue has not been fixed.
I did a clean install of v6.2.0-rc.10 and still can see that "iframe.html?" is being added:
**md:**
[code]
**url:**
![image](https://user-images.githubusercontent.com/62712576/112651297-42721a00-8e1a-11eb-81a9-ed716696c835.png)
**console log:**
[code]
**npx sb@next info:**
npmPackages:
    @storybook/addon-a11y: ^6.2.0-rc.10 => 6.

[2021-03-26 15:14] shilman commented on #14197
For those of you running into this, is it fixed if you remove `node_modules` and lockfile and reinstall?

[2021-03-26 15:16] mgameover commented on #13630
As I mentioned before it was broken in PR [#13022](
https://github.com/storybookjs/storybook/pull/13022/files#diff-12b9595a5eeba07a4bda64bf2ee67b94fed4ee0d7522a5d3ff51fffb1da512d3L75)

**lib/components/src/typography/DocumentFormatting.tsx  line 75-80**
And it looks like it is not a part of `addons/docs`

Hope that helps, Thanks.

[2021-03-26 15:23] shilman commented on #13630
@mgameover Do you have a repro repo you can share? @ndelangen repro'd the problem in the monorepo and fixed our repro (you can check #14334 for details). If it doesn't fix your case, it would be useful to be able to try it, or at the very least understand how it differs from our repro.

[2021-03-26 15:35] randak opened #14353 "storySort: support sorting a kind to the bottom of the list"
**Is your feature request related to a problem? Please describe**
We recently upgraded to Storybook 6, and so far it has been a big improvement. The new `storySort` `order` option greatly simplifies our configuration, which is awesome. However, we currently have our component stories sorted like this:

- Guides
- [alphabetical list of all components in our library]
- Internal
- WIP

From what I ca

[2021-03-26 15:50] zolk commented on #13630
Unfortunately I'm also still having this issue. In my case, I'm including md links as part of a JSDoc block in the component file. If I have some time today I can put together a repro repo, but hopefully that tidbit can provide more context.

[2021-03-26 16:17] AndrewLeedham opened #14354 "New "Framework" which renders live pages"
**Is your feature request related to a problem? Please describe**
We have an express app that powers a lot of different pages, it does not use a single framework and does not have an easy way to render directly to html. Knowing what routes are available requires digging through code for the express routers.

**Describe the solution you'd like**
Being able to provide a `*.stories.ts` file next to e

[2021-03-26 16:35] yannbf commented on #14322
Hey @havercake thanks for your insights! The problem with that approach is that we lose the specificity of the story. That will indeed make the backgrounds work, but it will apply the same background to every story, even if each story has a backgrounds override.

Essentially this can only be solved if we change the structure of a docs block. I will see what I can do about it!

[2021-03-26 16:59] jessepinuelas opened #14355 "Using react-scripts 4.0.0 breaks storybook-build fails at 92% of build process on chunk asset optimization TerserPlugin"
**Describe the bug**
No longer able to build after updating to react-scripts 4.0.1 Previously I was able to simply run **npm run build-storybook**. Now when running the build command it fails. **It fails at 92% of build process on chunk asset optimization TerserPlugin**.

**To Reproduce**
Use a version of react-scripts below 4.0.0 for **example 3.4.4** running build-storybook will work
Install rea

[2021-03-26 17:36] machineloop opened #14357 "Webpack5: No matching version found for @storybook/channel-postmessage@6.2.0-rc.10"
**Describe the bug**
When I run the commands to upgrade from existing installation with Webpack5 working properly, I can't install the latest @next versions. Npm is getting tripped up on dependencies of builder-webpack5.

**To Reproduce**
Follow storybook webpack5 upgrade directions:

1. Run `npx sb@next upgrade --prerelease`
2. Run `npm i -D @storybook/builder-webpack5@next`
3. See error:
[code]

[2021-03-26 17:47] yannbf commented on #14322
### Context

Hey @shilman, if all stories from docs used DocsStory instead of Story block, the addon would work just fine (as well as any other addon that needs specific story targeting). The reason is because the addons need a wrapper containing an identifier for that story, and when users write stories like this, it won't have the id in the wrapper:

[code]

whereas the automatically generated d

[2021-03-26 18:15] mgameover commented on #13630
Hi @shilman,

I've just created a repo: https://github.com/mgameover/sb-md-relative-links Please take a look.

**To reproduce the issue:**
1. npm run storybook
2. goto "Markdowm / Link test" story, "Docs" tab
3. click on "test link"

**Result:**
You will be navigated to http://localhost:6006/iframe.html?path=/docs/markdown--target
**Expected result:**
You should be navigated to "Markdown / Target"

[2021-03-26 18:37] fabian-michael commented on #13160
@darkowic

 Run

[code]

and this to the addons in your main.js

[code]

[2021-03-26 20:59] jonniebigodes commented on #14231
@KenACollins that's a weird one. I've created a branch on my end and bumped the Storybook packages to the quasi latest versions, tested it, and wasn't able to reproduce it. [Here](https://github.com/jonniebigodes/design-systems-with-a-template/pull/3) is the pull request and [here](https://deploy-preview-3--pedantic-bell-a99307.netlify.app/?path=/docs/design-system-avatar--standard) the deployed S

[2021-03-26 22:22] #14355 closed

[2021-03-26 22:57] shilman commented on #14353
I love the `'*'` syntax. Any interest in creating a PR implementing it?

[2021-03-26 23:21] shilman opened #14360 "Addon-docs: Relative links are broken in descriptions"
Extracted from previous issue because this repro is a special case.

===

Hi @shilman,

I've just created a repo: https://github.com/mgameover/sb-md-relative-links Please take a look.

**To reproduce the issue:**
1. npm run storybook
2. goto "Markdowm / Link test" story, "Docs" tab
3. click on "test link"

**Result:**
You will be navigated to http://localhost:6006/iframe.html?path=/docs/markdown--

[2021-03-26 23:23] thomasaull commented on #14352
I did some more digging and it seems like, this issue does not happen, when I additionally `require` the module:
[code]
even though there is no default export in `test.js` it looks like it's changing something in the behaviour how everything is loaded.

[2021-03-26 23:24] shilman commented on #14354
We have a project called "Storybook for Server" that might suit your needs:

https://github.com/storybookjs/storybook/tree/next/app/server

@jonspalmer can you give @AndrewLeedham a hand with this if he needs it?

[2021-03-26 23:27] shilman commented on #14357
Clear your NPM cache and try again?

[code]

[2021-03-26 23:35] shilman commented on #14342
Did you try removing `node_modules` and/or lockfiles and reinstalling?

Do you have a repro repo you can share?

[2021-03-26 23:36] shilman commented on #14352
Interesting finding. I'm checking out your repro now.

[2021-03-26 23:51] shilman commented on #14352
I'm not sure this is a bug, but just "proper" HMR.

What I'm seeing in the repro:
- I load up the Storybook
- I edit a story => observe an HMR request in the network tab (`<hash>.hot_update.js`)
- I edit the button component => observe an HMR request
- I edit the test => observe an HMR request

Like you, I didn't observe the `console.log` per your test instructions. So I:
- Added `console.log('mou

[2021-03-27 02:07] tmeasday commented on #12071
This seems to have regressed with inline default values in React/TS in `6.2-rc.9` somehow.

[2021-03-27 09:21] zanona commented on #14000
related #13099

[2021-03-27 11:35] abbudao commented on #7215
I believe I'm having this same issue on `6.2.0-rc.10`. The problem is unique to Firefox (tested on 87, incognito off and on), as all examples worked just fine on Chromium 89.
![Screenshot-2021-03-27T05:13:19-03:00](https://user-images.githubusercontent.com/4575197/112719097-ba514a80-8ed5-11eb-9b4b-8c4aac429a91.png)
Repro:
1. Create a fresh project with Create React App and Storybook CLI :
[code]
2

[2021-03-27 12:58] AndrewLeedham commented on #14354
Ooh nice, didn't see that in the documentation. Although running the setup from the README doesn't seem to be working:
![image](https://user-images.githubusercontent.com/5557458/112721502-fb5c5580-8efb-11eb-9d21-40b64f1d17c9.png)

[2021-03-27 15:04] zhdanjj opened #14361 "Customize message on rebuild"
When I run `start-storybook` and start editing files it prints build hash and time it took.
![image](https://user-images.githubusercontent.com/22837399/112724908-8baf9000-8f26-11eb-93c4-bd6725435044.png)

How can I add date when it happend? As far as I know Storybook uses `webpack-dev-middleware` and it should be configured there but I can't see any way to change it

[2021-03-27 15:48] thomasaull commented on #14352
I think I wasn't precise enough: The HMR itself is working fine, like I see the network request. However it seems like in this particular case the answer causes some problem throwing an error. Additionally after reloading the component does not show up anymore. I made a quick screencast illustrating the issue:

https://user-images.githubusercontent.com/227756/112725537-112c4380-8f19-11eb-8117-0ad4

[2021-03-27 16:20] thomasaull commented on #14352
I think I found the setting which is causing the problems, setting `optimization.concatenateModules` in the webpack config to false resolves the error for me:
[code]
I can confirm that this setting was not set in storybook `6.0.28` and according to the webpack docs is disabled if not building for production: https://webpack.js.org/configuration/optimization/#optimizationconcatenatemodules. I also

[2021-03-27 16:37] sluther opened #14362 "Single Story Hoisting isn't working"
**Describe the bug**
Single story hoisting isn't working

**Expected behavior**
I expect the single story to be hoisted as described in the documentation

**Screenshots**
<img width="229" alt="Screen Shot 2021-03-27 at 12 29 37 PM" src="https://user-images.githubusercontent.com/38088/112727253-f6d57400-8ede-11eb-80f9-a136638410f0.png">

**Code snippets**
[code]

**System**
Environment Info:

  Sys

[2021-03-27 17:00] 100terres commented on #12969
Has anyone found a way to resolve this issue ? :slightly_smiling_face:

I'm maintaining a project that use storybook and when I import `@storybook/react` node typings are loaded and it trigger [this problem](https://github.com/Microsoft/TypeScript/issues/842).

I will be able to bypass the issue, but it would be nice to find a way to remove the `/// <reference types="node" />` from ` @storybook/re

[2021-03-27 19:23] theycallmeswift commented on #13332
FYI I ran a completely fresh storybook install just now and encountered this same problem (@storybook/react": "^6.1.21"). To fix the problem I had to explicitly install `html-webpack-plugin` at a version >= 5.0.0.

[2021-03-28 00:02] shilman commented on #14352
@thomasaull great detective work. can confirm that `concatenateModules` was NOT set in 6.1 and is currently being set in 6.2. Will discuss with @ndelangen and report back.

[2021-03-28 00:05] shilman commented on #14354
@AndrewLeedham you probably need this https://github.com/storybookjs/storybook/pull/13979

[2021-03-28 00:06] shilman commented on #13099
dupe to #14000

[2021-03-28 00:26] frederikhors commented on #12754
Are you referring to https://github.com/storybookjs/storybook/blob/master/examples/svelte-kitchen-sink/.storybook/main.js?

I do not see any `svelteOptions.preprocessor` there.

@jonniebigodes did you forget to push? 🤣

[2021-03-28 03:02] jeongtae opened #14364 "[6.2.0-rc] Various errors occur when live changing import statements of Svelte component"
**Describe the bug**

Using Storybook `6.2.0-rc10` and Svelte.
If I change import statements on Storybook is running,  The canvas breaks, and sometimes an error occurs.

**To Reproduce**

1. Clone repository: https://github.com/jeongtae/storybook-svelte-import-bug
2. Run Storybook
[code]
3. Open `src/stories/Test.svelte` and uncomment the commented lines below `/* TEST1 */`
4. See the phenomenon t

[2021-03-28 06:58] j3rem1e commented on #12754
It's in v6.2, in the next branch : https://github.com/storybookjs/storybook/blob/next/examples/svelte-kitchen-sink/.storybook/main.js

[2021-03-28 07:27] fcisio opened #14365 "Improve CSF Docs Description Multiline"
**Is your feature request related to a problem? Please describe**

Hi 👋
Currently, the descriptions in the docs parameters only work with single-line strings.

It would be nice to take `array` along with `string` to allow for a more complete `MD` experience.

**Currently**

[code]

**Describe the solution you'd like**

The array would be parsed under the hood and each string in the array would the

[2021-03-28 07:46] Firebrand commented on #14339
@shilman   I really appreciate your response. I have edited my original post. Cheers.

[2021-03-28 10:01] j3rem1e commented on #14346
The storybook fails to load because of :

[code]

The `Configuration` class doesn't seem to be valid :

[code]

In the constructor, `configuration` is not copied to this. When I add this line, it works :
[code]

that's said, I am not an expert of this generator, but the code in this repo doesn't look like the code i am used to.

[2021-03-28 10:50] Sumolari commented on #12144
I had the same issue where styles using SCSS in Vue Single File Components where ignored when building the Storybook using `build-storybook`:

[code]

When the style was marked as `css` it worked fine. I managed to fix it for `scoped` styles, too, with the same solution.

Note that my Vue components are in a Yarn workspace and they are split in several packages that are marked as ES Modules using

[2021-03-28 10:57] jonspalmer commented on #14354
@shilman is right. You need that change but its very simple to setup Storybook Server by hand. I suspect from your description that server will be what you need. I would expect you do write a few stories as json and off you go. It might be that you can auto generate the json from your other code much like we do with this gem for Rails: https://github.com/jonspalmer/view_component_storybook. I'd be

[2021-03-28 11:42] frederikhors opened #14366 "Can we please avoid those redundant Svelte's wrappers?"
_Thanks for your amazing, delicious work on Storybook!!!_

**Is your feature request related to a problem? Please describe**
I'm trying Storybook for the first time and with Svelte.

Using [kitchen-sink example here](https://github.com/storybookjs/storybook/blob/v6.2.0-rc.10/examples/svelte-kitchen-sink/src/stories/button.stories.js) I find it very inconvenient to create "wrappers" (such as `Butto

[2021-03-28 12:28] j3rem1e commented on #14366
Check this plugin: https://www.npmjs.com/package/@storybook/addon-svelte-csf

It allows to write stories directly in svelte syntax.

[2021-03-28 12:44] shilman commented on #14365
Have you considered using template literals?

[code]

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals#multi-line_strings

[2021-03-28 12:44] shilman commented on #12754
to upgrade:

[code]

[2021-03-28 12:55] wKich commented on #14254
@shilman @rmknecht. I released a new version of Creevey 0.7.26 with the command 'creevey --extract'. It generates 'stories.json' file, and it's 10x faster than 'build-storybook && sb extract'.

[2021-03-28 12:57] frederikhors commented on #14366
@j3rem1e thank you! Interesting! I'm studying...

@shilman, can I ask you to not close this issue until we found a comfortable way to write Svelte stories?

[2021-03-28 13:07] shilman commented on #14366
@frederikhors sure thing. i'll let you close it when it's answered to your satisfaction

[2021-03-28 18:18] TheMightyPenguin commented on #13589
After some debugging, the cause of this is that the MDX components used by the [`Description`](https://github.com/storybookjs/storybook/blob/6a937b6d032b91c3fbd3ca057a7ee58696a0dcfd/lib/components/src/blocks/Description.tsx#L16) for `code` blocks is different than the one being used by [`DocsContainer`](https://github.com/storybookjs/storybook/blob/6a937b6d032b91c3fbd3ca057a7ee58696a0dcfd/addons/d

[2021-03-28 18:30] fcisio commented on #14365
I did consider template literals, as it would offer a great MD experience.

But there are two main cons:
- Remove the possibility to use backticks for MD purposes
- Literals syntax would still require some parsing to insert `<br/>` into the string, or Storybook will output a single line.

Example:  `something` becomes {something}
---
My suggested solution seems to be working pretty well for me so

[2021-03-28 20:17] gEt-rIgHt-jR opened #14368 "Bug in destructuring of values in 'custom tooltip' storybook under 'Pie'"
**Describe the bug**
There is a bug in destructuring of `id`, `value`, and `color` values in [custom tooltip](https://nivo.rocks/storybook/?path=/story/pie--custom-tooltip) storybook under Pie. Because of this, if you hover over the pie chart, you don't see the id and its value. It shows `:` (no `id` and `value`) instead of `css:298` for example and the text color is black instead of the color of

[2021-03-28 20:37] ghengeveld commented on #14362
Your names don't match. Story exports are "title cased" to get the name, in this case `Simple Button`. Your component name (from `title`) is `SimpleButton`. Note the missing space.

Try `title: 'Example/Simple Button'`

Or if you don't want the space, try `SimpleButton.name = "SimpleButton"`

[2021-03-28 21:40] jesperp commented on #8544
FYI: This error also happens with Svelte!

[2021-03-28 23:58] sluther commented on #14362
That fixed it, thanks!

I do see this warning in the console now, though:

./src/components/SimpleButton.stories.js 31:13-34"export 'SimpleButton' (imported as 'SimpleButtonComponent') was not found in './SimpleButton'./src/components/SimpleButton.stories.js 42:29-50"export 'SimpleButton' (imported as 'SimpleButtonComponent') was not found in './SimpleButton'

Any ideas?

[2021-03-29 00:11] apapadopoulou commented on #14266
Hello! Is this issue still open? If so, are there any resources that could help me get a better understanding of the objective?

[2021-03-29 03:39] shaodowm commented on #11255
I have the same problem with you. You can try to add the option corejs: 3 with @babel/preset-env config in your .babelrc file and this works for me.
[code]

[2021-03-29 05:39] balibebas commented on #13184
subbed pull with the destructuring pattern you left in #14087 (very nice). https://github.com/storybookjs/storybook/pull/14371

[2021-03-29 05:42] balibebas commented on #13184
@shilman subbed pull with the destructuring pattern you left in #14087 (very nice). https://github.com/storybookjs/storybook/pull/14371

[2021-03-29 05:42] mgansler commented on #14346
@j3rem1e thanks! Can confirm, with this change the story does show up in our private repo, there is still another error but we can fix that. How did you get it to print that error though?

[2021-03-29 05:43] balibebas commented on #13184
@shilman subbed pull https://github.com/storybookjs/storybook/pull/14371 with the destructuring pattern you left in #14087. thanks for cleaning up the code 👍🏼

[2021-03-29 05:43] balibebas commented on #13184
@shilman subbed pull https://github.com/storybookjs/storybook/pull/14371 with the pattern you left in #14087. thanks for cleaning up the code 👍🏼

[2021-03-29 07:15] j3rem1e commented on #14346
This kind of errors are catched here, but the original exception is not shown : https://github.com/storybookjs/storybook/blob/next/lib/core-client/src/preview/loadCsf.ts#L60

I used to change this log, but I should maybe make a PR about that :)

When I remove the babel plugin `plugin-transform-class` here, storybook works : https://github.com/storybookjs/storybook/blob/next/lib/core-common/src/uti

[2021-03-29 07:17] PhekPR commented on #14197
Ah of course. I missed one of them, thought I removed them all. It should now be fixed!

[2021-03-29 07:18] dutscher commented on #8544
i use a workarround until the fix is inside of telejson:
[code]

cheers

[2021-03-29 08:03] zdila commented on #14020
Same issue if used in decorators:
[code]

Maybe related: https://github.com/storybookjs/storybook/issues/11554

[2021-03-29 08:04] shilman commented on #14197
@PhekPR hey, the lockfile still points to https://nexus.pricerunner.info, any chance you can fix it? If I blow away the lockfile I believe it solves the problem, but I want to repro if possible.

[2021-03-29 08:41] zanona commented on #13213
This seems to work on `v6.2.0-rc.10` through `@storybook/addon-jest@next`. I am not sure about the production disclaimer though :wink:

https://github.com/storybookjs/storybook/blame/next/addons/jest/README.md#L131-L132

[2021-03-29 08:44] shilman commented on #12071
Yippee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.11 containing PR #14370 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-29 08:44] shilman commented on #14320
Ta-da!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.11 containing PR #14369 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-29 08:44] shilman commented on #14350
w00t!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.11 containing PR #14372 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-29 08:44] shilman commented on #14352
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.11 containing PR #14373 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-29 08:44] #12071 closed

[2021-03-29 08:44] #14320 closed

[2021-03-29 08:44] #14350 closed

[2021-03-29 08:44] #14352 closed

[2021-03-29 08:48] shilman commented on #14020
closing as dupe to #11554

[2021-03-29 08:48] #14020 closed

[2021-03-29 09:00] PhekPR commented on #14197
Ahh. Of course 🤦‍♂️
Yes if I blow away the lockfile I get a different error, probably some changed versions. I tried replacing the registry now in the lock file to the default one. Seems to reproduce the same error. Hope it works on your end now also

[2021-03-29 09:02] yannbf opened #14374 "Addon-controls not behaving correctly in docs view"
Hey peeps this contribution is super awesome! I wanted to show something I noticed while testing controls on docs page.
[Here's the link to the story](https://next--storybookjs.netlify.app/angular-cli/?path=/docs/basics-component-with-ng-content-button-with-different-contents--always-define-template-or-component)

I hope you don't mind the QA:

1 - the input is not as responsive as it could be, an

[2021-03-29 09:43] darkowic commented on #14350
Looks like not everything has been published correctly @shilman :
[code]

[2021-03-29 09:49] darkowic commented on #14350
ok, looks like the cache issue. Checking: https://www.npmjs.com/package/@storybook/addon-actions

[2021-03-29 09:57] danielgroen opened #14375 "Controltype repeater field"
Hi,

It would be nice if the controls would enhance a controll called: "repeater field"

This would be nice for reactive add or remove items in a array (or even object).
This would be handy for showing a menu list:
[code]

would look something like this:
![afbeelding](https://user-images.githubusercontent.com/6578052/112820334-cb40be00-9085-11eb-89db-473cadacec72.png)

This gives you a nice UI to

[2021-03-29 10:02] thomasaull commented on #14352
Awesome :) 👍

[2021-03-29 10:52] azurinspire commented on #1573
If any one is searching solution for Storybook & Vue3 & vue-i18n, just add this to .storybook/preview.js:

[code]

[2021-03-29 11:04] darkowic commented on #13160
@fabian-michael yeah, but what if **I don't use postcss and don't need this addon?**

[2021-03-29 11:34] cderche commented on #13335
Hello - is there any movement on this? Thanks!

[2021-03-29 12:09] shilman commented on #13160
@darkowic this is a warning for anybody who does use it. we plan to remove it in 7.0, so we want people to switch over now. since you don't use it and don't want the warning, do you have any suggestions on what we can do about it?

[2021-03-29 12:15] shilman commented on #14375
Have you checked out the new JSON editor in 6.2: https://github.com/storybookjs/storybook/pull/12824#issuecomment-783508606

There's also this existing feature request that is related: https://github.com/storybookjs/storybook/issues/14266

[2021-03-29 13:12] bsastregx opened #14376 "No Preview"
I have just upgraded to version 6, and when storybook first loads, the following message appears on the "canvas" :

**No Preview**
Sorry, but you either have no stories or none are selected somehow.

Please check the Storybook config.
Try reloading the page.
If the problem persists, check the browser console, or the terminal you've run Storybook from

How can I fix this issue?

You can see the sto

[2021-03-29 13:15] #14376 closed

[2021-03-29 14:22] darkowic opened #14377 "[v6.2.0-rc.11] TypeError: Cannot read property 'name' of undefined"
**Describe the bug**
After upgrade from v6.2.0-rc.10 to v6.2.0-rc.11 I got the following error in preview (displayed in UI):

[code]

First of all - **this error is useless. It doesn't point to any place where this occurs.** I spend a lot of time trying to find a place where it happened (we have ~30 components)...

**To Reproduce**

I found it is because of this weird combination of propTypes and

[2021-03-29 14:28] darkowic commented on #13160
I prefer to avoid warnings in the console. In this case, I have to add this warning or see a console warning. If right now, I know that I do not use it there is no option to hide this warning without actually installing the not used addon. I can live with the addon and a commend to remove later...

[2021-03-29 14:34] danielgroen opened #14378 "Getting "slot" under the slot tab"
Hi,

i'm wondering how i can get the property under "SLOTS"

See below the appearence:
![afbeelding](https://user-images.githubusercontent.com/6578052/112852598-5e8cea00-90ac-11eb-9e95-7ce55a7a3b1c.png)

The code i use is:
[code]

Any idea? I cannot find anything about this in the docs under "controls"

[2021-03-29 15:13] machineloop commented on #14357
Thanks again to everyone working on Storybook. We really appreciate your hard work! 👏👍

I tried force clearing my NPM cache, but possible it's an issue with the Lerna monorepo we're using. I've tried on another machine, but I'm closing this issue since it's likely just a local dev issue with how we have NPM configured, thanks @shilman!

[2021-03-29 15:13] #14357 closed

[2021-03-29 15:41] KenACollins commented on #14231
@jonniebigodes, Bummer. Too bad you could not reproduce the error. What I can't tell from your pull request is if it is based off the same version I have, 6.2.0-beta.11.

[2021-03-29 15:44] shilman commented on #13160
@darkowic I understand not wanting to see warnings, especially when they don't apply to you. I'm just not sure there's a lightweight way to fix it other than what you suggested

[2021-03-29 15:49] KenACollins commented on #14320
@shilman,

So don't you mean the command to upgrade would include `@next` as in:

[code]

[2021-03-29 16:08] frederikhors commented on #14366
@j3rem1e, @shilman it works amazing! Thanks!

Is there more extensive documentation?

[2021-03-29 16:08] #14366 closed

[2021-03-29 16:34] EvHaus commented on #14374
@ghengeveld if you don't get to it this week, I can jump on this by Friday

[2021-03-29 16:49] frederikhors opened #14379 "Can we add addon-svelte-csf to svelte-kitchen-sink?"
**Describe the solution you'd like**
Can we add https://github.com/storybookjs/addon-svelte-csf to svelte-kitchen-sink?

[2021-03-29 17:12] j3rem1e commented on #14379
It's not possible today because of dependencies.

this addon has a dependency on storybook. storybook can't have a dependency to the addon.

[2021-03-29 17:36] zaqqaz commented on #12479
up

[2021-03-29 17:57] jonniebigodes commented on #14231
@KenACollins as a testing measurement I started from Storybook version 6.2.0-beta.9 up to the rc version in the pull request. Each time purging the `node_modules` directory and the associated `yarn.lock` file so that the versions match up. Also, testing was done with a development Storybook build with `yarn storybook` and a production build with `yarn build-storybook && serve-prod` to check if the

[2021-03-29 19:19] gburning commented on #11492
Problem remains here as well in 6.1.21. Our project uses neither typescript, react nor react-dom but I still get flooded with warnings about missing peer dependencies for those.

[code]

Could this be a problem with yarn? https://github.com/yarnpkg/yarn/issues/5810

Unfortunately we're unable to upgrade to the latest version of yarn until we can upgrade
to webpack 5. Which I believe will be possib

[2021-03-29 19:20] almalib commented on #8965
Hi! Did you find the solution to this problem?

[2021-03-29 19:26] yannbf commented on #14374
I also noticed something else related to controls, although not related to the color picker. This might be quite simple so maybe there's no need to add an extra issue, however if you feel there is, I can create the issue!

For numeric enums, controls is identifying as objects and presenting the "RAW" toggle:
![image](https://user-images.githubusercontent.com/1671563/112888892-349bed80-90d5-11eb-99

[2021-03-29 20:18] alexanderniebuhr opened #14381 "[BUG] Svelte custom-elements not working"
**Describe the bug**
If using svelte with custom-element, you have to set `customElement: true` in `main.js`.
This breaks the UI of Storybook, if using svelte CSF configs. (since loader is in this repo, I open issue here).
Svelte CSF configs, do also have .svelte ending, so are picked up by svelte loader, and compiled with  `customElement: true`, which is wrong. They should not. Setting in main.js

[2021-03-29 20:24] alexanderniebuhr commented on #14381
UPDATE: this is the code part I am talking, where I need to show the tag defined in component with
[code]

![storybookcode](https://user-images.githubusercontent.com/45965090/112895398-5e591280-90dd-11eb-8093-75ed7b419778.png)

[2021-03-29 20:34] j3rem1e commented on #14381
As a workaround, you can add your own svelte-loader which compiles to custom element only your components. You can't compile to custom-element `<Meta/>` or others internals svelte classes.

[2021-03-29 20:39] alexanderniebuhr commented on #14381
@j3rem1e I know that. This is why the loader options, just need to be used for non `stories.svelte` files..

What is an workaround to use following config, and still get the correct code (seen in the screenshot above)
[code]

[2021-03-29 21:07] YozhEzhi commented on #866
I've tried to dig it. As we see in `lib/ui/src/components/preview/preview.tsx` `title` has overriding by `Helmet`:

[code]

But `iframe` doesn't using `Helmet` or `Preview`.
So I didn't understand how to upgrade `title` in `iframe` rendering :(

[2021-03-29 21:10] j3rem1e commented on #14381
I am not speaking about the `svelteOptions.loader` but about a custom `webpackFinal` which creates another instance of the svelte-loader with another set of test rules targeting the components you want to compile into custom element. Juste like the recipe you linked.

[2021-03-29 21:31] dptoot commented on #14377
Can confirm this is a major issue for us.  I had the reverse issue.  With propTypes defined but defaults missing .  This would seem like a valid syntax pattern as our defaults were defined via destructuring within our functional component.   For documentation I would see a defaultProps would be better but IMO this shouldn't break all the stories  in storybook if missing

[2021-03-29 21:37] dptoot commented on #14377
After some further investigation it does look like the issue also occurs while there is a default defined in the destructuring of props but is missing from the defined propTypes of the component.

The following looks to throw an error as it is trying to assign the default for `bar` to an unassigned propType

`const MyComponent= ({
    foo= true,
    bar = false,
}) => <div> Hi</div>

MyComponent.p

[2021-03-29 21:50] anicholls commented on #14197
@shilman I don't have a stripped down repro repo, but it is reproducible on our component library: https://github.com/Workday/canvas-kit. All dependencies use the yarn registry. Ideally we'd avoid blowing away our lockfile.

[2021-03-29 22:07] alexanderniebuhr commented on #14381
@j3rem1e ok.

is there also an option to change the naming in the code preview of storybook docs in the UI.
like importing it old way, but instead of showing `Button` giving it a setting to show `f-button` as tag?

[2021-03-29 23:04] shilman commented on #14320
@KenACollins both commands will work. it's the `--prerelease` flag that's important

[2021-03-29 23:29] shilman opened #14385 "Controls: Buggy "stories not configured for args" warning"
Stories are not configured for args, yet (1) controls are showing, and (2) they work:

https://next--storybookjs.netlify.app/angular-cli/?path=/story/basics-component-with-ng-content-button-with-different-contents--always-define-template-or-component&args=color:!hex(42576b)

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1199622255231368/1200128238436677) by [Unito](https://

[2021-03-29 23:39] cherylcarpenter commented on #9682
I can't even seem to force the height with modifying the preview-header file in .storybook. Even with !important. This keeps us from using several tools.

[2021-03-29 23:56] seanwuapps commented on #13917
Workaround 2 worked for me, make sure your template uses `v-bind="$props"` as that's what the function is looking for. or you can add the third argument when you call the `templateSourceCode` function to replace a different string in your template.

I do look forward to seeing this fixed officially, sorry I don't have enough knowledge in Storybook to create a PR

[2021-03-30 03:01] shilman commented on #14374
Crikey!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.12 containing PR #14382 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-30 03:01] #14374 closed

[2021-03-30 03:01] shilman commented on #14377
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.12 containing PR #14387 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-30 03:01] #14377 closed

[2021-03-30 03:07] sluther commented on #14362
Okay, it turns out that you must use default exports with Vue i.e.:

[code]

I fixed that, but now I'm getting the following warning:

  at <Anonymous>
  at <Anonymous>
  at <App>

[2021-03-30 03:28] tmeasday commented on #14377
Thanks for the useful reproduction @darkowic! Hopefully the above fix worked ☝️

[2021-03-30 05:43] SimonGodefroid opened #14388 "Search input does not have native Home + Shift and End + Shift to select behavior [Updated title...]"
### Bug or support request summary

The native selection behavior is not supported by the search input.

### Steps to reproduce

1. Go to your storybook
2. Type anything in the search input (prefer a component that does not exist)
3. Now in fact you typed "blah" but you want to search for "foo", you're not gonna hit `backspace` 4 times, you wanna Home+Shift... do it
4. Nothing is happening, cursor

[2021-03-30 07:46] CosticaPuntaru opened #14389 "jsx.onBeforeRender deprecated in favor of transformSource but there are differences"
**Describe the bug**
it appears that `transformSource` is called in different life cycle  steps then `onBeforeRender`, when using story decorators, it breaks the `transformSource`

**To Reproduce**
i've added both functions to a story
[code]

**Expected behavior**
Expected the same number of logs calls from both function, but my issue is that the source is incorect

**Screenshots**
result with dec

[2021-03-30 08:26] ghengeveld commented on #14374
@yannbf I addressed your other issues here: https://github.com/storybookjs/storybook/pull/14392

[2021-03-30 08:55] balibebas commented on #6201
I landed here trying to stop the browser window from opening. If it could detect an existing open tab and reuse it I think 99% of people would be fine with that. But the concern with this issue (which has 47 upvotes at current) is that they simply don't want to have the browser window open and `--ci` is a misnomer.

[2021-03-30 09:15] darkowic commented on #13160
Well, some option to quiet this warning maybe. Not sure how this could be set tbh. In the main config? Anyways, it's a minor issue.

[2021-03-30 09:17] darkowic commented on #14377
Thanks! @tmeasday  @shilman Do you have any follow-up to improve the error messages? A better error message which points to the story where the error happened would be really helpful.

[2021-03-30 10:01] shilman commented on #14362
@sluther does it need to be `single-button-component` to line up with `SingleButtonComponent`?

[2021-03-30 10:19] tmeasday commented on #14377
That sounds like a good idea, WDYT @shilman ?

[2021-03-30 10:22] matis-dk commented on #12108
Works just fine if you add the `--cors` flag.
`npx serve storybook-static --cors`

[2021-03-30 10:45] hereiscasio commented on #13532
@shilman
I found that this issue still existed after I use the latest version of Storybook (i.e. 6.2.0-rc.11 at now)
the error message just the same as @kauanschaeffer reported
and [the workaround](https://github.com/storybookjs/storybook/issues/13532#issuecomment-767277470) still works

but I hope I can just upgrade to certain version which I don't need to use workaround

[2021-03-30 11:00] shilman commented on #14374
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.13 containing PR #14392 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

[2021-03-30 11:24] AndrewLeedham commented on #14354
Thanks @shilman and @jonspalmer I have a little prototype up and running now, just to get familiar with the JSON syntax and possibilities. 2 things I have noticed so far:
1. Is doesn't seem to be possible to have a story pointing to the root: `parameters.server.id` of `"/"` creates a double slash even when `parameters.server.url` doesn't have a trailing slash e.g `http://localhost:4444`. And `para

[2021-03-30 11:48] amcdnl opened #14395 "Stories not showing up in start mode, but show up in build mode"
## Issue
Some stories do not show up when you run the start mode, however, they do show up when you run the build mode.

I've tried downgrading / upgrading various different things and can't seem to pinpoint the breaking point. I'm thinking its related to maybe a circular dependency, however, no errors are thrown by babel or ts or webpack ( even in debug mode ).

## Command
[code]

## Custom Confi

[2021-03-30 12:04] shilman opened #14397 "Storybook 6.3 Release 📐"
SB6.3 adds new UI development and testing features, while continuing to evolve with the JS ecosystem:

## Schedule

- ✅ `6.3.0-alpha.0` 2021-04-08
- ✅ `6.3.0-beta.0` 2021-05-25
- ✅ `6.3.0-rc.0` 2021-06-09
- ✅ `6.3.0` 2021-06-23

## Contents

Storybook 6.3 contains hundreds of features and bugfixes. For a full list, see [CHANGELOG.md](https://github.com/storybookjs/storybook/blob/next/CHANGELOG.md)

[2021-03-30 12:59] shilman commented on #14377
Sure, PRs welcome! 🙏

[2021-03-30 13:00] shilman commented on #13532
@pocka any idea what @hereiscasio needs to do to get the fix?

[2021-03-30 13:02] shilman commented on #14395
Do you have a repro repo you can share?

[2021-03-30 13:08] shilman commented on #14395
Try upgrading to the latest prerelease:

[code]

Does that fix it?

[2021-03-30 13:37] pocka commented on #13532
@hereiscasio
Hmm... what's your problem actually? Injecting `vuetify` to component options (or via a decorator) is required (we can't inject it into root options though). If your problem is "an error happens with a decorator that injects vuetify, but works with [the local injection workaround](https://github.com/storybookjs/storybook/issues/13532#issuecomment-767277470)", it seems the same as [thi

[2021-03-30 14:18] adrianiy commented on #14254
@wKich nice work!

Is there any way to change the output dir?

[2021-03-30 14:42] amcdnl commented on #14395
1. Upgrading did not fix it
2. Related to issue w/ webpack using something before it loaded it. Re-arranging some imports resolved the issue.
3. We should add better logging for when this happens in the core apis.

[2021-03-30 14:44] F0rsaken commented on #12634
@jgaehring @tmeasday  How's the status about this issue? Do you need help? It's really important for me to make this work, as it's makes some of my stories unusable 😞

[2021-03-30 14:57] TheColorRed commented on #14026
@snutij running `npm ci` is what fixed it for me (`"@storybook/angular": "^6.1.21"`).

[2021-03-30 15:22] petermikitsh commented on #13160
Webpack stats' errors-only option might suppress the deprecation warning:

[code]

https://webpack.js.org/configuration/stats/

[2021-03-30 15:39] wKich commented on #14254
@adrianiy, do you want to save it into the storybook-static dir? I'm going to make the extract step a part of the build process. So you be able to do 'storybook-build' and get stories.json automatically in the same directory with storybook static. Is it ok for you?

[2021-03-30 16:29] shilman commented on #14385
This is just a weird story. The warning is correct, and the only reason the control works is because the decorator (not the story!) consumes it. Won't fix unless there's a suggestion for how it should work.

[2021-03-30 17:03] mrtnbroder commented on #14118
@shilman shouldn't this issue get the label `label:webpack5`? We are also running into this issue where the typescript docs are not being generated.

[2021-03-30 17:14] AndrewLeedham commented on #12586
This is dropped fairly low on my priority list, if anyone wants to pick it up I can share what I have, or better yet start from scratch because I would probably rewrite what I have anyway :/

[2021-03-30 18:42] kaelig commented on #9073
For me, cycling through the viewports with <kbd>V</kbd> (next) and <kbd>shift</kbd> + <kbd>V</kbd> (previous) would be a nice addition.

[2021-03-30 18:44] kaelig opened #14401 "addon-viewport: cycling through viewports with keyboard shortcuts"
**Is your feature request related to a problem? Please describe**
I often switch between viewports and it requires a lot of clicking around.

**Describe the solution you'd like**
Cycling through the viewports like so would be a nice time saver:

- next viewport: <kbd>V</kbd>
- previous viewport: <kbd>shift</kbd> + <kbd>V</kbd>

**Describe alternatives you've considered**

- A custom addon
- A Chro

[2021-03-30 20:09] Jakob-em opened #14402 "Nested ContentChildren have wrong content in Angular"
**Describe the bug**
When angular components/directives are nested and use the ContentChildren decorator the inner component/directive
has a reference to itself as part of contentChildren.

When the same code snippet is used in a new angular application the inner component/directive doesn't have a reference to itself. (as it would be expected)

**To Reproduce**
A reproduction can be found [here](h

[2021-03-30 20:10] paulrosania opened #14403 "Webpack5: `start-storybook` fails when `.env` is present"
**Describe the bug**
This was a doozy to track down! :sweat_smile: The gist is, you get a failure with a strange error if you have a `.env` file under the right `npm` conditions. This happens because `@storybook/builder-webpack4` and `@storybook/core-server` depend on `dotenv-webpack` 1.8, which does not support Webpack 5.

If `npm` hoists `dotenv-webpack` 6.0.4 to the `node_modules` root, everyth

[2021-03-30 20:24] JAMesserman commented on #1291
Still not working for me... what are you guys using to serve your static files / whats your server config like?

[2021-03-30 22:54] kaelig commented on #14185
In the meantime, here's a workaround that will show the URL before the info box:

[code]

[2021-03-31 00:09] tmeasday commented on #12634
@F0rsaken looks like this missed the boat on 6.2 (although we could patch it if someone does a PR).

In 6.3 we plan on dropping this whole default value thing; so if you can wait a bit for those changes (and use an alpha) it'll be fixed there.

[2021-03-31 02:12] lijing666 opened #14404 "vue2: v-model , @on-change and sibling template disappeared in "show source" panel"
**Describe the bug**
In vue2 , when template contains two way binding "v-model" or event listener like "@on-change" with "v-bind=$props", in docs "show source" panel, they get lost;  Some siblings in template also get lost too.

**Expected behavior**
Should keep them always.

**Code snippets**

Story fragment:

[code]

Produced show source:

[code]

We can found:
"v-model" disappeared, "@on-change

[2021-03-31 02:49] hydrosquall commented on #14395
I have a related issue when running the latest `Storybook 6.2.0` - `start-storybook` yields the `Cannot Get / ` error (so none of the stories display) with no build errors, but `build-storybook` works (all of the default stories + my 1 custom new story) display correctly.

I'm not sure how to debug the issue further, so I'm leaving it alone for now.

Details for the project (private repository for

[2021-03-31 03:08] leslie555 opened #14405 "wait until bundle finished, stopped at 99% [webpack 5]"
when I run start, the progress bar is stuck at 99%. and then my local web page opened but just keep loading.
I use npm to install packages.

**OS:  window 10**
**node:  V10.22.0**
**npm :  V6.14.6**

**storybook config:**

[code]

**devDependencies**

[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/40735433/113083096-2d2c2f80-920e-11eb-966e-eee3e9f60792.png)
![image](htt

[2021-03-31 03:08] hatkyinc2 opened #14406 "6.2.0 doubling story list for title prefix `/`"
**Describe the bug**
Updated to 6.2.0 from 6.1.21

And am getting my story list doubled:
![Screenshot from 2021-03-31 13-59-34](https://user-images.githubusercontent.com/56898601/113084288-6a51eb00-9229-11eb-8047-d02d616ddbb8.png)

You can see that one is straight on the root level and another is with an empty header

It could be that I'm doing something weird by naming my stories starting with `/

[2021-03-31 03:32] shilman commented on #14405
Do you have a repro repo you can share?

[2021-03-31 03:34] #14395 closed

[2021-03-31 03:35] shilman commented on #14404
@pocka is this something you've encountered before?

[2021-03-31 03:42] irudoy opened #14407 "Webpack 5: Preview build fails, window/global"
Trying to upgrade the storybook to the latest version with webpack 5.

Upgrading from storybook@6.2.0-beta.14 and webpack@5.25.1. In this case, all works fine with no issues.
But with storybook@6.2.0 and webpack@5.28.0 I have some issues that were workaround by pinning webpack and other dependencies with `resolutions`, and removing `DefinePlugin` and `Dotenv` from final preview and manager configs

[2021-03-31 04:05] shilman commented on #12183
I fixed this in the release process. Versions 6.2.1 and above should no longer exhibit this behavior.

[2021-03-31 04:05] #12183 closed

[2021-03-31 04:07] shilman commented on #14406
Indeed this is a corner case. As a workaround, I'd recommend removing the leading slash. Nevertheless it also looks like a bug since it's duplicating the UI.

[2021-03-31 04:50] randak commented on #14353
Yes, I'd be happy to take a stab at this when I get a free moment.

[2021-03-31 04:50] hatkyinc2 commented on #14406
Agree with the low priority, has workaround classification, just noting it's a different layout, creating the sections:
![Screenshot from 2021-03-31 15-42-40](https://user-images.githubusercontent.com/56898601/113091577-f5d27880-9237-11eb-94f6-9fbfa7292944.png)

[2021-03-31 04:53] ntucker commented on #9216
I was looking into this and I found out why `@pmmmwh/react-refresh-webpack-plugin` was detect webpack 4. For some reason when storybook is installed, it has webpack 4 under @pmmmwh/react-refresh-webpack-plugin own node_modules folder. Not sure why this is. Using yarn 1.

[2021-03-31 05:29] dudedigital commented on #14259
I feel this feature is essential with Controls.

[2021-03-31 06:09] cjmcintyre commented on #13924
90% sure I've found the cause of this - will get a PR in soon.

[2021-03-31 06:51] jesperp commented on #12995
Also an issue for pnpm as previous commenter mentioned.

When running pnpx sb init / upgrade:

[code]

Running `pnpm i` to manually afterwards _seems_ to work though. Not sure if sb is suppose to do anything important after trying to install deps

[2021-03-31 09:00] leslie555 commented on #14405
sorry it's  private and I'm not admin

[2021-03-31 09:18] daviddelusenet opened #14409 "Webpack 5 - error: Universal Chunk Loading is not implemented yet"
**Describe the bug**
When I run `start-storybook -p 9001 -c storybook` I get the following output:

[code]

My `main.js` file:

[code]

Some dependency information:

[code]

Environment Info:

[code]

Please let me know if you need any more information, I'll be happy to provide it!

[2021-03-31 09:28] j3rem1e commented on #14409
it's caused by the browserslist or the target option used by webpack.
You can't bundle an app for web and node at the same time today with webpack5.

[2021-03-31 09:42] darkowic commented on #13615
@shilman can you actually close this issue? :)

[2021-03-31 10:37] #13615 closed

[2021-03-31 10:51] matamatanot commented on #13160
https://github.com/storybookjs/storybook/releases/tag/v6.2.0
🎉

[2021-03-31 11:04] michal-husak commented on #13958
for me `npm ci` resolved the issue

[2021-03-31 12:00] #12076 closed

[2021-03-31 12:06] thany opened #14410 "Upgrade to 6.2.1 caused WSOD"
**Describe the bug**
I've upgraded from 6.1.11 to 6.2.1 without changing any config, and now starting it causes a WSOD.
Here it is: [Storybook.zip](https://github.com/storybookjs/storybook/files/6236393/Storybook.zip)

I see that when going to localhost:6006 (where it runs) it redirects to localhost:6006/?path=/settings/release-notes which is probably not correct. That is not the starting page tha

[2021-03-31 12:10] daviddelusenet commented on #14409
You're right, thank you! Had the following `.browserslistrc` in my project:

[code]

Removed the `maintained node versions` and now it's working 🙌

[2021-03-31 12:21] daviddelusenet commented on #14405
I think I'm experiencing a similar issue:

[code]

When I go to http://localhost:9001/ I just get `Cannot GET /`

[2021-03-31 12:56] shilman commented on #14410
AFAICT the zipfile contains a single HTML file. can you try again?

Did you try removing `node_modules` and/or lockfiles and reinstalling?

[2021-03-31 12:57] #13160 closed

[2021-03-31 13:01] Ben-Adlington opened #14411 "Global args inheritance no longer working"
**Describe the bug**
I've run into issues with global parameter inheritance not working after updating my project to the latest version of storybook.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a blank Create React App project `npx create-react-app my-app`
2. Install the latest version of storybook `npx sb init`
3. Add in some global arguments into preview.js as per the documenta

[2021-03-31 13:09] kanidjar commented on #14342
hi @shilman , same issue here. Tried to remove ```node_modules``` + lockfile then reinstalling, same result on 6.2.1. Did not have this issue with 6.1.

[2021-03-31 13:10] shilman commented on #14342
Do you have a repro repo you can share?

[2021-03-31 13:13] kanidjar commented on #14342
Unfortunately, private project.

Here is my env info:

[code]

[2021-03-31 13:17] shilman commented on #14410
Is this in the dev server or static build? Do these files exist?

[code]

[2021-03-31 13:18] heysyam99 opened #14412 "M1 running development mode will return error and macbook start lagging"
**Describe the bug**
I am M1 user but after running `yarn dev`, an error occurred and my macbook start lagging.

**To Reproduce**
Steps to reproduce the behavior:

1. `git clone https://github.com/storybookjs/storybook.git`
2. `cd storybook`
3. `yarn bootstrap --core`
4. `yarn test`
5. `yarn dev`

**Expected behavior**
To start the project in development mode

**Screenshots**
If applicable, add sc

[2021-03-31 13:24] shilman commented on #14412
If you know the packages you'll be working on, e.g. `@storybook/addon-docs` and `@storybook/components`, you can run the following instead which is much more efficient:

[code]

We'll be improving the contributor/maintainer DX dramatically in 6.3

[2021-03-31 13:24] nhoizey commented on #9828
@shilman I've read the doc about this proposal, is there an issue to follow implementation? (I couldn't find it)

I wonder if it could also be used for color palettes/shades, to present design tokens.

[2021-03-31 13:32] heysyam99 commented on #14412
This helps me to run it, thank you very much @shilman

[2021-03-31 13:32] #14412 closed

[2021-03-31 13:32] thany commented on #14410
It's puttng hashes in the filenames, but the html that Storybook renders as, does not have those hashes... That might have to do with it.

This is what a static build outputs in my case:
[code]

[2021-03-31 13:41] shilman commented on #9828
It's just a proposal, we haven't agreed on anything and haven't started implementing it. However, we are intent on deprecating `storiesOf` and will try to get a suitable alternative in place before we pull the trigger.

[2021-03-31 13:42] destpat commented on #5183
You should add a resolution dependencies in your package.json file :

`
 "resolutions": {
    "babel-loader": "8.1.0"
  }
`

[2021-03-31 13:44] thany commented on #14410
It's React + Typescript. No custom webpack config at all. My `.storybook/main.js` is literally this:
[code]
Maybe `.babelrc` is relevant too:
[code]

Otherwise there's nothing reallt out of the ordinary as far as I can tell. I also can't find any package that is supposed to perform (or remove) file hashes.

[2021-03-31 13:46] Sqrrl commented on #14342
Having the same issue after upgrading to 6.2.1. Changing my main.js file to only load stories from the src/ directory fixes the issue.

Before (constantly re-building):
`stories: ['../**/*.mdx', '../**/*.stories.tsx']`

After (no issues):
`stories: ['../src/**/*.mdx', '../src/**/*.stories.tsx']`

I have no clue, what files were triggering the watcher.

[2021-03-31 13:52] nhoizey commented on #9828
@shilman ok, thanks. I've not used `storiesOf` yet, but I find `ColorPalette`/`ColorItem`, `Typeset`, etc. not enough for presenting design tokens (I get them in a JSON file generated with Style Dictionary), so I'm looking for alternatives.

[2021-03-31 13:53] shilman commented on #14410
@thany looks like it's based on tsdx? i'm going to try to generate a repro with that

[2021-03-31 14:00] shilman commented on #9828
@nhoizey look into MDX -- you can embed arbitrary react elements in there to do whatever you want

https://storybook.js.org/docs/react/writing-docs/mdx

[2021-03-31 14:02] kanidjar commented on #14342
Wow, thank you @Sqrrl, it worked!

Before:

[code]
After:
[code]

[2021-03-31 14:05] rhutchison commented on #13768
@kroeder it's great to hear that this issue is getting support of the angular team. I'd be curious if someone can weigh in about the importance of resolving this issue as it relates to blocking future angular updates -- if this is not resolved, will projects be able to upgrade to angular 12? 13?

cc: @petebacondarwin

[2021-03-31 14:11] nhoizey commented on #9828
@shilman I'm already using MDX, I explained it in another issue, let's continue there: https://github.com/storybookjs/storybook/issues/7671#issuecomment-797064663

[2021-03-31 14:27] infiniityr commented on #14410
I have the exact same issues with a Vue project.
After an upgrade, I have a white screen with the same redirect.

I tried to remove `node_modules` and `package-lock.json` but the result was the same.

[2021-03-31 14:28] hereiscasio commented on #13532
@pocka, @shilman

My problem just the same as [this](https://github.com/storybookjs/storybook/issues/13532#issuecomment-767277470)

some stories use Vuetify component without issues
but some of them(i.e. v-data-table) will

anyway

I think the workaround is already enough(i.e. inject Vuetify instance into every story)
thx anyway

[2021-03-31 14:31] infiniityr commented on #14410
For your information and in my case, It is a dev server and those 3 files exists.

Here is a screenshot of the console logs
![image](https://user-images.githubusercontent.com/15141959/113161179-6e3c3800-923e-11eb-972c-d5023b8fa73e.png)

[2021-03-31 15:18] Jordan-Eckowitz opened #14413 "manager-head.html not updating"
**Describe the bug**
When I update the `<link>` elements in `manager-head.html` the changes are not working - it keeps using my old values. It works fine when I build, only have the issue when running locally.

[code]

**Expected behavior**
The `<head>` attributes should update

[2021-03-31 15:39] davestewart commented on #6743
After installing the [scss presets](https://github.com/storybookjs/presets/tree/master/packages/preset-scss) I needed to add global variables and tried the steps above.

Unfortunately, it caused [other errors](https://github.com/vuejs-templates/webpack-simple/issues/107) with loaders being loaded twice (makes sense, as `scss` would be added twice; once in the preset and once here).

A bif of exper

[2021-03-31 15:46] alexjamesmacpherson opened #14414 "Configured `controls.sort` mode is ignored by props table on "Docs" tab"
**Describe the bug**
The configured `controls.sort` mode (introduced in Storybook 6.2.x) is not adhered to by the props table on the "Docs" tab. Sort mode has been [configured per the docs](https://storybook.js.org/docs/react/essentials/controls#sorting-controls), with the sort mode defined in `.storybook/preview.js` (as below) to globally set controls sort mode:

[code]

Note that setting the sor

[2021-03-31 15:47] JESii commented on #13108
Hello... this is still happening. I'm on SB 6.2.1 and react-scripts@4.0.3... Storybook is forcing a newer version of babel-loader
[code]

[2021-03-31 15:48] shilman commented on #14193
@bmayen any chance you can bisect to find out which specific version introduced the problem?

[2021-03-31 15:49] shilman commented on #13768
@rhutchison i think we'll be able to ship ivy support in 6.3 by july, and in prerelease much earlier than that

[2021-03-31 15:55] JESii opened #14416 "babel-loader version required by StoryBook conflicts with create-react-app version"
**Describe the bug**
This is the same issue previously described in https://github.com/storybookjs/storybook/issues/13108 , https://github.com/storybookjs/storybook/issues/11275 and elsewhere.
When running `yarn test` the following errors are displayed:
[code]
I have followed all the steps described and it does not resolve the issue.
I have also upgraded `create-react-app` to version 4.0.3.

Runni

[2021-03-31 16:32] pocka commented on #14404
Yes and no 🙃

@lijing666
The Dynamic Source Rendering for Vue.js does not display both directives (example: `v-model`) and events (example: `@change`) by technical limitation. Directives are lost in VNode so we can't even know the VNode has directives or not. Events are, although I'm not sure it's inspectable via VNode, not supported mostly because we need to serialize the function body in order t

[2021-03-31 17:05] pocka commented on #14300
Maybe incompatible webpack versions? It seems [laravel-mix uses webpack5](https://github.com/JeffreyWay/laravel-mix/blob/467f0c9b01b7da71c519619ba8b310422321e0d6/package.json#L89). If it's the culprit, [the new `webpack5` builder](https://gist.github.com/shilman/8856ea1786dcd247139b47b270912324#upgrade) might solve your problem.

[2021-03-31 17:25] pocka commented on #14145
@evgencode

1) `vue-types` is [not fully supported by vue-docgen-api](https://github.com/vue-styleguidist/vue-styleguidist/issues/902), which Docs Addon uses under the hood.

2) You need to set up a webpack config in `main.js` so `vue-docgen-loader` is applied to your component js files. More info at [the loader's README](https://github.com/pocka/vue-docgen-loader#getting-started). Related: https:

[2021-03-31 17:59] jdevries3133 commented on #3339
For anyone finding themselves here more recently, storybook no longer has a `.storybook/webpack.config.js` file. Instead, if you want to hook into the Webpack configuration to add your own file path alias or otherwise, you can do it as described in [their documentation here](https://storybook.js.org/docs/react/configure/webpack)

For example, I was able to bring all my project aliases into storybo

[2021-03-31 18:02] nrakochy commented on #10231
Are there any other work-around options?

The `emotion` alias option does not seem to be working in my yarn project as well. Further, after downgrading `theme-ui` and `emotion` to get access to a working provider, I am [running into this error](https://github.com/system-ui/theme-ui/issues/1160), which causes conflicts with `create-react-app` pragma from v4.

[code]

To say it another way, this dow

[2021-03-31 18:19] GLosch commented on #9516
storybook version 6.2.1 resolves this issue for me

[2021-03-31 19:17] catrope opened #14420 "argTypes mapping doesn't work with Vue props"
**Describe the bug**
When using the new `mapping` feature for an argType that corresponds to a prop of a Vue component, the mapping is applied to the value that is passed to `args`, but is not applied to the value of the prop that is passed to the component.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a story for a Vue component, with automatic prop detection (using the docs addo

[2021-03-31 19:42] temacode commented on #14410
Same in Angular, build files exists, but nothing works. Updated from 6.1.21.

<img width="1680" alt="Снимок экрана 2021-03-31 в 22 40 59" src="https://user-images.githubusercontent.com/52513630/113201494-3bac3280-9272-11eb-8576-f0cafcdb2cc1.png">

[2021-03-31 19:51] stevenbriscoeca commented on #12479
The solution of adding in a .babelrc file

[code]

Does not work if you have a mix of mdx file and tsx files for me getting this error :
![image](https://user-images.githubusercontent.com/3018441/113202603-f0c1f900-9238-11eb-9fcf-148f64f5d69b.png)

[2021-03-31 20:07] Jordan-Eckowitz commented on #14413
Thanks! I assumed it was a caching issue but didn't know where it was saved - good to know. Much appreciated.

[2021-03-31 20:07] #14413 closed

[2021-03-31 20:08] KenACollins commented on #14231
Hi @jonniebigodes and @shilman -- I issued the following command...

[code]

...and was expecting to land on a later 6.2.0-beta.xx release but was surprised to find my app at a stable 6.2.1 release. The issue with the overlapping headers 1 and 2 does not occur! It was an odd one as neither of you were able to reproduce it but no worries now! I am closing this ticket.

[2021-03-31 20:08] #14231 closed

[2021-03-31 20:15] kiramclean commented on #12288
Hello, just lurking here.. I'm curious whether your clojurescript storybook work is available to poke around anywhere @neilyio? I'm interested in doing something similar.

[2021-03-31 20:20] KenACollins commented on #12950
Hey, What is this nonsense of closing stale issues? This issue has not been resolved!

I am on Storybook 6.2.1 and I can confirm that the theming `fontBase` property ignores the `'Roboto'` font. In the Chrome browser, this font can be rendered as I can see this by altering the font-family in the developer tools. So while adding a link to the font file may help in other browsers, its absence is not

[2021-03-31 20:20] neilyio commented on #12288
Hey @kiramclean, I'm afraid that I gave up on it. I just found it too difficult to get Storybook to work outside of exact frameworks it supports. I agree that it would be an amazing combination (particularly because of ClojureScript macros, which would allow for some extremely concise syntax).

I love "batteries included" projects, but I think Storybook does try and manage too much of the developm

[2021-03-31 20:20] ccocoual commented on #12479
It seems that you can make it work by using those babel presets: [babel-preset-const-enum](https://github.com/dosentmatter/babel-preset-const-enum#usage) and [babel-preset-typescript](https://babeljs.io/docs/en/babel-preset-typescript).

Then in your **.babelrc** file, you can add:

[code]

It allows you to have a mix of stories written in **.mdx** and **.tsx**.

If you have an error mentionning `

[2021-03-31 20:46] jonniebigodes commented on #14231
@KenACollins indeed. Storybook 6.2 was just released, check the blog post [here](https://storybook.js.org/blog/storybook-6-2/). I'm glad that the issue is now fixed on your end!

Let us know of any issues you might encounter with Storybook and good luck with the Design System you're working on!

Stay safe

[2021-03-31 21:28] saurabh-egov commented on #5183
1 possible workaround is to add babel-loader@8.1.0 to dependencies in package.json. Another is to add SKIP_PREFLIGHT_CHECK=true to .env.

[2021-03-31 22:13] jwir3 opened #14423 "Newest release 6.2.0 causes issues with webpack4 aliases"
**Describe the bug**
The following setup:
[code]

with the following `.storybook/main.js`:
[code]

Works as I would expect when I run `yarn start`. However, when I upgrade to storybook v6.2.1 using `npx upgrade sb@latest`, it produces a series of errors similar to the following:
[code]

It looks as though it can no longer resolve `@Assets`. I have verified that my webpack is still using webpack v4

[2021-03-31 22:46] shilman commented on #14423
Was this working in a previous version of Storybook? If so, which one?

Also, do you have a repro repo you can share?

[2021-03-31 22:50] shilman commented on #12950
@KenACollins you've read this? https://storybook.js.org/docs/react/configure/theming#theming-docs

[2021-03-31 22:54] shilman commented on #14410
@temacode Do you have a repro repo you can share?

[2021-03-31 22:58] temacode commented on #14410
@shilman unfortunately, the repository is private, a little later I'll try to write how to reproduce it.  However, a little googling showed that this is some kind of problem in routing, i think

[2021-03-31 22:59] shilman commented on #3339
@jdevries3133 did this break in 6.2?

[2021-03-31 23:30] jwir3 commented on #14423
Hi Michael:

Yes, it is currently working in storybook v 6.1.21.

I can prepare a link so you can download the repo, but I'm away from my
computer at the moment, so it'll be tomorrow.

Thanks for the quick response.

~Scott

On Wed, Mar 31, 2021, 5:47 PM Michael Shilman ***@***.***>
wrote:

[2021-03-31 23:38] shilman commented on #14423
thanks @jwir3 🙏  would love to get this figured out!

[2021-04-01 00:30] shilman commented on #8356
closing as dupe to #10430

[2021-04-01 00:30] #8356 closed

[2021-04-01 00:41] shilman commented on #10617
this is done and available in 6.2 thanks to @yngvebn

[2021-04-01 00:41] #10617 closed

[2021-04-01 00:45] shilman commented on #13371
Fixed in #14284 released in 6.2

[code]

[2021-04-01 00:45] #13371 closed

[2021-04-01 01:15] shilman opened #14424 "Deprecate .story.parameters"
If we haven't already deprecated it, get rid of the `.story` annotation in CSF

[2021-04-01 01:29] jagregory commented on #12977
I'm seeing this issue too ever since upgrading to 6. Disabling the background addon fixes it.

[2021-04-01 02:47] KevinGhadyani-minted commented on #12977
On a fresh install in 2 completely greenfield projects, I haven't noticed this. Is it fixed?

[2021-04-01 03:12] DallasGale commented on #13182
Hey SB, @shilman I can give this one a crack.. happy to contribute to the project.

[2021-04-01 03:14] shilman commented on #12977
we didn't do anything to fix it. i think it's some corner case that arises from cross-package interactions -- i've certainly never seen this problem myself

[2021-04-01 03:15] lijing666 commented on #14404
Thanks for your reply! This is the repo [https://github.com/lijing666/storybook-demo](https://github.com/lijing666/storybook-demo) can show the siblings get lost! As my opinion, the reason is `v-for="(items,index) in itemsArray||[]"` cause that bug, first time "itemsArray" is null cause "com-b" renders nothing

[2021-04-01 03:18] shilman commented on #13182
@DallasGale much appreciated! 🙏

[2021-04-01 03:25] hydrosquall commented on #14395
To close the loop on this - it was a strange thing that was ultimately resolved by removing `node_modules/.cache/storybook`, so no action was needed :)

[2021-04-01 04:34] shilman commented on #13145
As follow-up, let's be sure to check these two issues: https://github.com/storybookjs/storybook/issues/13114 https://github.com/storybookjs/storybook/issues/12114

[2021-04-01 04:40] shilman commented on #14424
Already deprecated https://github.com/storybookjs/storybook/blob/master/lib/core-client/src/preview/loadCsf.ts#L179-L182

[2021-04-01 04:40] #14424 closed

[2021-04-01 04:47] shilman commented on #5267
We want to address this in 6.3. If you want to contribute to Storybook, we'll prioritize PR review for any fixes here. And if you'd like any help getting started, please jump into the #support channel on our Discord: https://discord.gg/storybook

[2021-04-01 04:47] shilman commented on #5551
We want to address this in 6.3. If you want to contribute to Storybook, we'll prioritize PR review for any fixes here. And if you'd like any help getting started, please jump into the #support channel on our Discord: https://discord.gg/storybook

[2021-04-01 04:47] shilman commented on #6471
We want to address this in 6.3. If you want to contribute to Storybook, we'll prioritize PR review for any fixes here. And if you'd like any help getting started, please jump into the #support channel on our Discord: https://discord.gg/storybook

[2021-04-01 04:47] shilman commented on #7367
We want to address this in 6.3. If you want to contribute to Storybook, we'll prioritize PR review for any fixes here. And if you'd like any help getting started, please jump into the #support channel on our Discord: https://discord.gg/storybook

[2021-04-01 04:47] shilman commented on #8544
We want to address this in 6.3. If you want to contribute to Storybook, we'll prioritize PR review for any fixes here. And if you'd like any help getting started, please jump into the #support channel on our Discord: https://discord.gg/storybook

[2021-04-01 04:47] shilman commented on #11302
We want to address this in 6.3. If you want to contribute to Storybook, we'll prioritize PR review for any fixes here. And if you'd like any help getting started, please jump into the #support channel on our Discord: https://discord.gg/storybook

[2021-04-01 04:47] shilman commented on #12022
We want to address this in 6.3. If you want to contribute to Storybook, we'll prioritize PR review for any fixes here. And if you'd like any help getting started, please jump into the #support channel on our Discord: https://discord.gg/storybook

[2021-04-01 04:47] shilman commented on #12188
We want to address this in 6.3. If you want to contribute to Storybook, we'll prioritize PR review for any fixes here. And if you'd like any help getting started, please jump into the #support channel on our Discord: https://discord.gg/storybook

[2021-04-01 04:47] shilman commented on #13200
We want to address this in 6.3. If you want to contribute to Storybook, we'll prioritize PR review for any fixes here. And if you'd like any help getting started, please jump into the #support channel on our Discord: https://discord.gg/storybook

[2021-04-01 04:47] shilman commented on #13250
We want to address this in 6.3. If you want to contribute to Storybook, we'll prioritize PR review for any fixes here. And if you'd like any help getting started, please jump into the #support channel on our Discord: https://discord.gg/storybook

[2021-04-01 04:47] shilman commented on #13323
We want to address this in 6.3. If you want to contribute to Storybook, we'll prioritize PR review for any fixes here. And if you'd like any help getting started, please jump into the #support channel on our Discord: https://discord.gg/storybook

[2021-04-01 05:00] shilman opened #14425 "Core: Fix babel config handling"
Storybook's babel handling is inconsistent / broken.

There are three ways to configure it:

* project babelrc/babel.config
* storybook babelrc/babel.config
* main.js `babel`/`babelDefault`

Given this:

* [ ] Storybook config should take precedence over project config
* [ ] Main config should take precedence over storybook config

Based on experiments in #13811 we observed that there are conditio

[2021-04-01 05:01] shilman commented on #13811
Closing this in favor of #14425

[2021-04-01 05:01] #13811 closed

[2021-04-01 05:16] KevinGhadyani-minted commented on #12977
That would make more sense. The other projects where I've seen it are existing projects with their own dependencies that were later upgraded to Storybook 6.1.

[2021-04-01 06:01] williamliangwl opened #14426 "Scroll to specific heading without reloading"
Is it possible to scroll to specific heading without reloading the Storybook or changing the url ?

I am using Storybook `v6.1.21`
I tried the following mdx

[code]

When I click on the `click to go to events`, it navigated to http://localhost:9009/iframe.html?id=story-id&viewMode=docs#events (notice the `iframe.html`) and hence a reload happened and the toolbar on the left disappeared.

What I wa

[2021-04-01 06:13] AnandKatta opened #14427 "Is there a way to install storybook version 5 in angular 7?. Whenever i give sb init, its install the latest version. I couldnt find any doc to install storybook in a specific version"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snippets**
If applicable, add

[2021-04-01 06:26] liby opened #14428 "Type parameter list cannot be empty"
**Describe the bug**
After upgrading to the latest version, I encountered the following error:

<details>
<summary>Cannot find module '@babel/helper-builder-react-jsx-experimental'</summary>

[code]
</details>

After I run "yarn add @babel/helper-builder-react-jsx -dev", I get the following error again:
<details>
<summary>Type parameter list cannot be empty.</summary>

[code]
</details>

**To Repr

[2021-04-01 08:06] didoesdigital commented on #13604
I had a similar issue with docs only MDX stories appearing without classes and with no styling on a fresh Storybook 6.2 install.

I'm not 100% sure precisely what fixed it but I *believe* the fix was related to uninstalling an older `@mdx-js/loader` used by another dependency, `docz`, (without needing to remove `package-lock.json`), which then required explicitly installing some babel plugin depen

[2021-04-01 08:11] josias-r opened #14429 "ModuleNotFoundError @storybook/addon-docs NPM 7"
**Describe the bug**
`Can't resolve '@storybook/addon-docs/blocks' in '/Users/me/myproject/path/to/stories'`.
I can't import addon-docs from my stories, after I upgraded to storybook 6.2.1 (from 6.1.17). I have addon-essentials installed.

I suspect this has something to do with incompatibility issues with NPM 7 workspaces. I get this error in a subpackage from a worspace set-up.

A workaround is

[2021-04-01 09:00] MickL commented on #5542
@ThibaudAV Where do you see `getExistenceOfComponentInModules`?

[2021-04-01 09:18] pybuche commented on #9917
@shilman Thanks for this awesome feature! I'm just wondering: it doesn't seem to work on the ArgsTable, only on the controls panels, am I right? Is there a way to make it work in the docs blocks?

[2021-04-01 09:24] CapsE opened #14430 "Webpack-loader not working as expected"
With version 6.2.1 our twig-loader doesn't work like it used to in version 6.1.21. Instead of getting a function to render the twig-template when importing it into our story we now get a string which is a path to the twig file in a webpack created folder.

I'm no webpack expert but it seems like there some kind of general asset loader that is prioritised over our twig loader.

[code]

[code]

home

[2021-04-01 09:30] shilman commented on #14430
Do you have a repro repo you can share?

[2021-04-01 09:30] thomasoreilly commented on #13692
Hey @shilman.

Just recently installed 6.2 and we are still experiencing this issue with IE11. We are also seeing experiencing this issue on a vanilla Angular setup. Has there been any discussion about IE11 support for Angular and Storybook?

[2021-04-01 09:53] nicolae536 commented on #14147
Any updates on this ?

[2021-04-01 10:26] turbulent-desfossez commented on #14410
Since my upgrade from 6.1.21 to 6.2.1, after deleterd my node_modules and the lock files, then a fresh yarn install, I experienced the same error with Storybook + @storybook/vue.

![image](https://user-images.githubusercontent.com/76117287/113278234-f7f11180-92e1-11eb-9a46-ea5392b90f22.png)

[code]

I created a repo with my error: https://github.com/turbulent-desfossez/storybook-issue-6.2.1
Thanks

[2021-04-01 10:28] petebacondarwin commented on #13768
I am not sure how you build Angular libraries in StoryBook but if you are not just using the CLI, you may need to be aware of the new "partial-ivy" APF format that is becoming available in v12 for libraries, which need "Angular linker" processing before they can be bundled into the distributable sent to the browser. (That being said, I saw mention of JIT mode - and the partial-ivy declarations can

[2021-04-01 10:32] thany commented on #14410
Sorry but I don't think TSDX should make a difference. Building/starting Storybook doesn't invoke TSDX, does it? But what exactly does invoke then? And where is it pulling configs from?

[2021-04-01 10:53] criskrzysiu commented on #13768
For example we need to change how we write app as id oby was disabled cause
we want our components to be used with storybook. For example hostbinding
with class works diffrently in ivy etc.
So not having ivy in storybook actually have impact on our app.

W dniu czw., 1.04.2021 o 12:28 Pete Bacon Darwin ***@***.***>
napisał(a):

[2021-04-01 11:10] GDC6203 commented on #14416
Manually install again babel-loader@8.0.1
[code]

[2021-04-01 11:13] hacknlove opened #14431 "6.2.1 Building once and again, all the time."
**Describe the bug**
After I upgraded from 6.1.21 to 6.2.1 storybook build once and again, all the time

If I downgrade back to 6.1.21 everything it works again as expected.

**Expected behavior**
It should build only when some file changes.

**Screenshots**
https://asciinema.org/a/XMH9ElIyGlywN23sxEW6yrv10

**System**
Please paste the results of `npx sb@next info` here.

Environment Info:

  Syst

[2021-04-01 11:39] spoike opened #14433 "npx sb init ends abruptly with EBADPLATFORM error"
**Describe the bug**
Installing storybook on a create react app based project appears to crash on Windows due to usage of `fsevents`. `*snip-snip*` added in logs below for NDA reasons.

[code]

The following folders are added: `.storybook` and `stories`. Nothing is changed in `package.json`.

`npm run storybook` doesn't work either as script is missing:

[code]

The debug log from npm-cache ends w

[2021-04-01 11:43] spoike commented on #14433
I tried to install one of the deps (`@storybook/react@6.2.1`) from the last command stated in the debug log and it also fails with the same error.

[code]

[2021-04-01 11:48] i-kostyakov opened #14434 "Vue 3 default parameter as function for component props work incorrect"
**Describe the bug**
I have a component (MyButton) with prop type. That prop has default value and validator. For my internal logic, default value is a function which return string.
And, I have a story for this component which I don't send type prop to component. In this case prop have incorrect value (function as text instead of result of function)

Steps to reproduce the behavior:
When I load de

[2021-04-01 11:50] Ravindersingh1526 commented on #7959
Don't add  addon @storybook/addon-storyshots in main.js file

[2021-04-01 11:50] shilman commented on #14433
@tooppaaa you use windows right? ever seen this?

[2021-04-01 11:52] shilman commented on #14431
closing as dupe to #14342

[2021-04-01 11:52] #14431 closed

[2021-04-01 11:54] shilman commented on #14416
closing as dupe to  #5183

[2021-04-01 11:54] #14416 closed

[2021-04-01 11:57] shilman commented on #14410
@thany i need a repro to be able to diagnose the problem. tsdx sets up an environment on install, so i thought i might get a repro on a new tsdx project. but alas, it didn't repro.

[2021-04-01 11:57] oreqizer opened #14435 "addon-knobs select typedef missing Record"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@storybook/addon-knobs@6.2.1` for the project I'm working on.

The `select` knob typedefs are missing an option for including `Record` types. This fixes the problem

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by

[2021-04-01 11:59] turbulent-desfossez commented on #14410
Looks like it was a problem with my yarn install and the generated node_modules.
Because I created a repo to reproduce the Bug and after clone it again and made a clear yarn install, 6.2.1 works perfectly.

The problem, I think, was my project using Lerna to generate multi package.json and create a root node_modules it could be related to that.
My solution : node_modules should stay in the storybo

[2021-04-01 12:12] shilman commented on #14427
AFAIK the only way is to edit your package.json by hand.

[2021-04-01 12:13] shilman commented on #14428
Do you have a repro repo you can share?

[2021-04-01 12:15] shilman commented on #14435
FYI, we’ve released `addon-controls` in Storybook 6.0. Controls are portable, auto-generated knobs that are intended to replace `addon-knobs`, which are slated for deprecation.

- [Controls documentation](https://storybook.js.org/docs/react/essentials/controls)
- [Migration instructions](https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#how-do-i-migrate-from-addon-knobs)

[2021-04-01 12:20] infiniityr commented on #14410
Here is a reproduction of the bug
https://github.com/infiniityr/storybook-issue-wsod

I get the white screen doing this:
- `npm i`
- `npm run serve:storybook`

[2021-04-01 12:22] jdevries3133 commented on #3339
@shilman The .storybook/webpack.config.js file isn't there. I didn't try adding it... it seems like extending your managed configuration was a more sensible pattern anyway.

[2021-04-01 12:34] boardfish opened #14436 "addon-controls: Requests multiplying with each change"
**Describe the bug**
When I edit a control value, the number of requests made to do so doubles from the previous attempt:

**To Reproduce**
Steps to reproduce the behavior:

1. Set up a Rails app with Webpack.
2. Configure [`view_component_storybook`](https://github.com/jonspalmer/view_component_storybook) for it by following their Getting Started guide. In addition, configure CORS headers accordi

[2021-04-01 12:57] snutij commented on #14193
If it can help you the problem is present at least on version `6.2.0-beta.1`.
I have updated the storybook version on my project to see if the problem was solved, seems not, but the workaround `inlineStories: true` work fine :)

[2021-04-01 13:00] froleo commented on #7745
@millermedeiros Thank you! This helped me enable async testing and get rid of "Component is not wrapped in act" warnings from my tests.

@annaloukianova I was using createNodeMock to fix Material UI Dialog related warnings in my previous setup,
 this solution works for me in combination with async testing:

`import React from "react";
import ReactDOM from "react-dom";
import initStoryshots, {
  St

[2021-04-01 13:14] shilman commented on #14410
For those of you with WSOD problems, can you try running `yarn storybook --no-manager-cache` once and see if it fixes the issue?

[2021-04-01 13:16] mikestu commented on #12634
Do you expect the 6.3 alpha with this fix soon?  We have half a dozen Vue components this affects, and holds up our 6.2 upgrade for now.  I would imagine that a lot of people out there have Vue props that require default value factory functions, because they are Array or Object types, so 6.2 may be a no-go for many Vue devs.  If the workaround may work for stories, we still can't take it out of th

[2021-04-01 13:18] bmayen commented on #14193
I am using `inlineStories` but I see the problem even with it enabled on versions `>=6.2.0-rc.10`. `6.2.0-rc.7` works as expected. Trying rc.8 and rc.9, but they aren't building properly for me with the changes to the prepareForInline config. Don't really have time this morning to debug exactly what's going on there, but hopefully it's helpful to know that rc.7 works but something changed between

[2021-04-01 13:18] shilman commented on #14436
@jonspalmer is this something you can look into?

[2021-04-01 13:18] DallasGale commented on #13182
@shilman  here is the PR https://github.com/storybookjs/storybook/compare/next...DallasGale:next

[2021-04-01 13:19] boardfish commented on #14436
Would it help you for me to put together a repo to demonstrate the bug, or is there enough info here?

[2021-04-01 13:20] shilman commented on #14436
@boardfish would definitely help a lot--much appreciated! 🙏

[2021-04-01 13:22] shilman commented on #13182
@DallasGale looking great. is there a reason you didn't create the PR yourself?

[2021-04-01 13:23] DallasGale commented on #13182
@shilman PR is here.. https://github.com/storybookjs/storybook/pull/14437

[2021-04-01 13:23] danielkoch opened #14438 "Environment variables in HTML files not working anymore"
**Describe the bug**
I upgraded from from 6.1.21 to 6.2.1 and it seems that Environment variables (https://storybook.js.org/docs/react/configure/environment-variables) not working anymore in HTML files. I used one before in preview-head.html

**To Reproduce**
Add environment variable into preview-head.html. Example: %BRAND%. Start Storybook `BRAND=value start-storybook`

**Expected behavior**
Envi

[2021-04-01 13:23] DallasGale commented on #13182
sorry it was a mistake.. i thought it had been created.

[2021-04-01 13:27] thany commented on #14410
Omg, I got it working.

Somehow, NCU didn't see some updates, updates that Storybook 6.2 requires. When I did a `npm list --depth=0` I got a readable list of unmet peer dependencies, among which was React 16.3 ??!?! This is weird, because I had very explicitly instructed NCU to upgrade absolutely everything to the latest possible versions. And that should've included React 17.0.2, which it now doe

[2021-04-01 13:37] boardfish commented on #14436
I've just pulled together a [reduced test case](https://github.com/boardfish/storybook-14436) and the bug isn't present. It's not exactly identical at the time of writing because I haven't configured some dependencies like Hotwire and Tailwind, but I'll see if introducing those provokes the bug.

[2021-04-01 13:42] shilman commented on #14410
@thany that's really strange. unfortunately there's no version of `@reach/router` that fixes the dependency issue. i think we're going to replace it with react-router, which is what that package evolved to, and which supports react@17. at any rate, i'm happy to hear you got it working!

[2021-04-01 13:43] shilman commented on #13182
aha cool, thanks so much for putting this together! really appreciate it! 💯  will approve/merge as soon as we finish stabilizing 6.2, which should be in a week or two.

[2021-04-01 13:56] jonspalmer commented on #14436
I have a demo repo for this combination if it helps track this down: https://github.com/jonspalmer/view_component_storybook_example

I don't remember seeing this problem.

[2021-04-01 13:57] thany opened #14440 "Disable PostCSS deprecation warning"
**Describe the bug**
Starting Storybook 6.2+ will trigger a deprecation warning, which will make the console output look quite noisy. The warning is about deprecating the implicit PostCSS loader, which is guess is fine to show... **if** it's actually being used. I'm not using _any_ CSS in our project, and so I don't want such a warning to clutter the console output. My OCD wants to do away with wa

[2021-04-01 13:59] gburning opened #14441 "Search box triggers while typing `-` in a text input"
**Description**
When pressing `-` (hyphen) in a text input knob the search box is triggered.

Using version 6.1.21 and @storybook/addon-knobs of the same version.

I'm using a Swedish keyboard so the key that triggers `/` (forward slash) on english QWERTY keyboards instead writes a `-` (hyphen).

This keyboard layout is similar to the one I use (excluding the numpad):
http://kbdlayout.info/KBDSW/

[2021-04-01 14:01] boardfish commented on #14436
Okay, I've reduced the problem down to my own JS bundle. The only thing that really tampers with the flow to that level is [hotwired/turbo](https://github.com/hotwired/turbo), so I'm willing to bet it'll have been that that's caused the issue.

[2021-04-01 14:08] boardfish commented on #14436
Yep, the problem is definitely Turbo. I'm loading it once from `application.js` and importing it inside a Stimulus controller. Both of those files are then part of the JS bundle and are getting loaded when the iframe loads, so Turbo is doubly loaded. I assume it's then leaving that callback which is then responsible for duplicating the requests.

I think what I might need to do is look into ways t

[2021-04-01 14:08] #14436 closed

[2021-04-01 14:24] mlachance commented on #5051
Just in case someone else stumbles across this in a Google search like I did, I want to repeat the fix that helped me:

## Delete your `package-lock.json` and your `node_modules` directory.

[2021-04-01 14:28] infiniityr commented on #14410
@thany I'm not sure to understand what you have done to make it work. Could you provide the steps to the resolution ?

[2021-04-01 14:39] boardfish commented on #14436
Okay - I found [this](https://storybook.js.org/docs/react/configure/webpack#using-your-existing-config) in the docs, which fits my use case perfectly. However,

[code]

Whether I prefix the function with `async` or not, Storybook claims not to be able to find any stories. They're definitely there, and if I start Storybook without `webpackFinal` in the exports, the stories show just fine.

[code]

[2021-04-01 14:39] jwir3 commented on #14423
@shilman You should be able to access my repository here: https://github.com/FoamFactory/aegir-dupe

Sorry I didn't have a chance to prune it down to just the basics of reproducing this issue, but I'll give you a description of the repository. It's a storybook instance, with a number of components, but it also builds as a standalone npm library so it can be imported into a react application.

To b

[2021-04-01 14:41] shilman commented on #14440
@thany what's your proposed solution?

[2021-04-01 14:52] shilman commented on #14438
We think this is a bug in 6.1. We explicitly filter out environment variables that don't start with `STORYBOOK_` for security purposes. If you put the variable in a `.env` file, then you don't need to prefix it.

[2021-04-01 14:52] #14438 closed

[2021-04-01 14:53] thany commented on #14440
I'm not sure. On the one hand, a warning is neccesary for folks relying on postcss. On the other hand it's just noise for folks who don't use it. To them, it might even look like the warning is telling them to install said addon, which shouldn't be the goal of this warning... Isn't there a way to detect if postcss is (going to be) used?

Perhaps it's possible move the warning to trigger at runtime

[2021-04-01 14:56] shilman commented on #14407
Do you have a repro repo you can share?

[2021-04-01 14:59] shilman commented on #14407
We think that there's something weird in your webpack config that's causing this line:

https://github.com/storybookjs/storybook/blob/master/lib/theming/src/utils.ts#L2

To try to import this file:

https://github.com/storybookjs/storybook/blob/master/lib/theming/src/global.ts

Whereas it should load `node_modules/global` package. If you could share your project, we might be able to narrow it down

[2021-04-01 15:05] danielkoch commented on #14438
@shilman: Means the bug is that it worked till 6.1?
Using .env file is not really an option because I need to run the script multiple times with different environment values.

[2021-04-01 15:23] JESii commented on #14416
@GDC6203 Already tried that -- does not work

[2021-04-01 15:24] stephiescastle commented on #3339
@shilman Not sure if this is related, but previously I was able to resolve aliases in an image source. With the 6.2.1 update, this breaks, and I get `<img src=[object Module]/>`.

I configured my aliases in main.js:

[code]

[code]

Turns into:
[code]

The alias is working otherwise (able to import components using the same alias). And this was working in storybook as recently as v6.1.21

[2021-04-01 15:38] JESii commented on #5183
The resolutions option does not work: yarn test throws the same old error:
[code]
Notice that it says "don't manually install it" (as recommended when #14416 was closed) so there's. still no solution to this issue which was opened in 2019!

[2021-04-01 15:41] shilman commented on #14438
@danielkoch yes, I'm surprised it worked at all since the variable is not prefixed with `STORYBOOK_`

[2021-04-01 15:42] shilman commented on #3339
@stephiescastle do you happen to have a repro repo we can look at? we're also looking at an alias-related issue in #14423 with different symptoms

[2021-04-01 15:47] stephiescastle commented on #3339
@shilman thanks for the response, I'll set one up and get back to you.

[2021-04-01 15:53] KenACollins commented on #12950
Hi @shilman ,

Ooooh!! Okay. Thank you for pointing this out. I did read that page, Mike, before posting my comment above, but obviously did not read it as carefully as I should have. I had the `manager.js` file reference my custom theme file, but did not realize that I needed to make the change in two places, the `preview.js` file too. It works! I have Roboto font everywhere now - sidebar, Canvas

[2021-04-01 15:58] 100terres commented on #6201
Hi everyone! I've took a look at the code of the library used to open the browser ([beter-opn](https://github.com/ExiaSR/better-opn/tree/master)) and I've found these lines

https://github.com/ExiaSR/better-opn/blob/37065aa27fa1e5ad8c9f78a993d22b8ec3d9db23/src/index.js#L115-L117

[code]

I've tried to add the environment variable `BROWSER=none` to my script and it seems to be working as expected!

[2021-04-01 16:24] tkdphoenix opened #14442 "Is there a way to hide the panel on a story basis rather than in the global settings?"
**Is your feature request related to a problem? Please describe**
My use case includes @storybook/web-components. I presume it would not be different for other frameworks. I have a scenario where I want to display available icons, but there are no actions required. In versions prior to 6.2.1 I could write something like `options: { showPanel: false } }` and the bottom panel would not show up. I se

[2021-04-01 16:33] stephiescastle commented on #3339
@shilman repro repo here:
https://github.com/stephiescastle/repro-storybook-alias

The main branch is storybook 6.2.1 with the broken image src alias.

Branch https://github.com/stephiescastle/repro-storybook-alias/tree/test/storybook-6.1.21 downgrades storybook to 6.1.21 and the image src alias works.

[code]

[2021-04-01 17:04] tooppaaa commented on #14433
All good on my side with a fresh create-react-app using the same command. However I'm running node 12. Any chance you can downgrade and let us know @spoike ?

[2021-04-01 17:14] tooppaaa commented on #14388
@SimonGodefroid Can you upgrade to the latest 6.2 ?
I just tried here: https://5ccbc373887ca40020446347-qrbicufmsd.chromatic.com/?path=/story/design-system-intro--page

and did not managed to reproduce yet.

[2021-04-01 17:39] liby commented on #14428
@shilman
Cannot share because it is a private project.
I tried to copy this project. It throws the error "Cannot find module '@babel/helper-builder-react-jsx-experimental'" when upgrading to the latest version.
But after I run `yarn add @babel/helper-builder-react-jsx -dev` I don't see "Type parameter list cannot be empty. "
I can only guess that there are too many dependencies within the project

[2021-04-01 17:50] daviddelusenet commented on #5051
@mlachance why would this solve the problem? I'm now also experiencing this issue but I don't want to delete my `package-lock.json` since this can cause unexpected problems.

[2021-04-01 17:57] duarten commented on #13834
I chased this down to the @babel/plugin-transform-classes plugin. Removing that from Storybook's default plugin list solves it for me.

[2021-04-01 18:07] SimonGodefroid commented on #14388
Well I am not in charge of the Storybook it's the company's very own I can
check with the team in charge.

Thanks for trying to reproduce though I guess you can close the ticket
then, I'll re-open it if it's still not fix after upgrade.

Le jeu. 1 avr. 2021 à 21:14, Clément DUNGLER ***@***.***> a
écrit :

--
Simon GODEFROID

[2021-04-01 18:11] danielbachhuber commented on #14300
@pocka I think that might be it! Storybook made more progress after running `npx sb@next init --builder webpack5`.

When I try `npm run storybook`, I see a couple of errors:

<img width="1413" alt="image" src="https://user-images.githubusercontent.com/36432/113336078-b0b35280-92da-11eb-9c50-dedeb5111938.png">

[code]

[code]

It gets stuck here:

<img width="995" alt="image" src="https://user-imag

[2021-04-01 18:30] j3rem1e opened #14443 "Svelte Dynamic snippets doesn't work without user interactions"
**Describe the bug**

The source dynamically generated for a svelte story isn't show until the user changes an arg or clicks on another story.

This is caused by this commit https://github.com/storybookjs/storybook/commit/5c1e2b458abda5e1740b83de1f2145b99fda86d6

In order to support "async loaders", the function `prepareForInline` is asynchronous. However, the `SourceContainer` doesn't seem to be

[2021-04-01 18:31] j3rem1e commented on #14443
@shilman I don't know if we should revert the commit or fix the real bug: Today, the doc addon can't handle asynchronous loader.

The injection of args from the url doesn't seem to work either.

[2021-04-01 18:31] erouze commented on #12176
Were you able to figure out what was going on to have the [object object] show up in the Canvas? I'm having this same problem

[2021-04-01 18:41] shilman commented on #14443
@j3rem1e let's revert the async loader support. it doesn't work in other frameworks yet anyways, so we can bring it back later

[2021-04-01 18:41] jgaehring commented on #12634
I think I have time this afternoon to take a stab at some of the suggestions in https://github.com/storybookjs/storybook/issues/12634#issuecomment-783932795 and my following comment. I'll update here.

[2021-04-01 19:12] david-shortman commented on #4844
^ In same situation as above, would be cool to resolve

[2021-04-01 19:27] thorn0 commented on #14262
Upgrade Babel. This was fixed in [v7.12.13 (2021-02-03)](https://github.com/babel/babel/blob/main/CHANGELOG.md#v71213-2021-02-03) by https://github.com/babel/babel/pull/12544

[2021-04-01 19:43] DallasGale commented on #13182
Great, looking forward to upgrading existing projects to v6 soon...

[2021-04-01 20:13] LuigiClaudio commented on #14342
Hi there, although marked as a `has workaround`, in my case I do need that globbing `'../**/*.stories.js'` - I do need to go one folder up, then into any folder name and right there, there's a `stories` folder and a list of `*.stories.js` files.

[2021-04-01 20:35] RafaelMarinho96 commented on #14342
Hi @shilman, here is an example: [repository](https://github.com/RafaelMarinho96/storybook-reloading)

[2021-04-01 21:29] shamilovtim commented on #3339
I think its still their own webpack config? It's just served from main.js. Not really much different from what you were already describing.

[2021-04-01 22:00] shamilovtim opened #14446 "On the first load of Docs the component does not show real code of the named story, only args."
**Describe the bug**
On the first load of docs the component does not show real code with the selected story. Only args. Any value needs to be clicked on the page in order to get the real source code to show up. I have tried setting different `docs.source.type`, it does not fix the problem which seems to be related to async / ajaxing. I realize that the code is supposed to change with the story, b

[2021-04-01 22:20] sluther commented on #14362
That was indeed the issue. Thanks!

[2021-04-01 22:20] #14362 closed

[2021-04-01 22:32] jgaehring commented on #12634
I gave this a shot today but I could not figure out where/how to get access to the original Vue component. The `component` argument passed to `extractArgTypes` is not the actual component instance, so it does not have the `$options` property as I described above. Perhaps someone with more knowledge of Storybook's internals can shed a light.

I'm not sure if/when I'll have another chance to work on

[2021-04-01 23:35] shilman commented on #14446
Do you have a repro repo you can share?

[2021-04-02 00:53] kaiyoma commented on #13870
@shilman I'm on a decently recent version of Storybook (6.1.20) and this is still broken. In fact, I think the problem is even worse than originally reported: if the props of a component inherit props from another component, those props are missing as well.

For instance, if you have this:

[code]

then `bar` will appear in the props table, but `foo` will not.

[2021-04-02 02:19] irudoy commented on #14407
It's quite a huge project. I'll try to reduce it keeping this issue reproducible.

[2021-04-02 03:54] DallasGale commented on #14204
@shilman i can take a look at this one.

[2021-04-02 04:47] shilman commented on #6201
cc @jonniebigodes ☝️

[2021-04-02 04:51] pocka commented on #14300
@danielbachhuber
A quick search shows webpack5 users also facing similar errors. Probably no `iframe.html` on `build-storybook` is also due to the same reason (an incompatible `html-webpack-plugin` version).
https://github.com/storybookjs/storybook/issues/13332
https://github.com/storybookjs/storybook/issues/14273

I think [this comment](https://github.com/storybookjs/storybook/issues/13332#issuec

[2021-04-02 05:09] SimonGodefroid commented on #14388
Oh crap... my bad... actually I recall now... Ctrl+Shit+Arrow is what my
colleague suggested to use... What does not work is `Home + Shift`

Le jeu. 1 avr. 2021 à 20:07, S G ***@***.***> a écrit :

--
Simon GODEFROID

[2021-04-02 05:12] SimonGodefroid commented on #14388
@tooppaaa You're right it does work I updated ticket issue title and description... I opened an issue on the work around vs the bug haha.

[2021-04-02 05:19] irudoy commented on #14407
@shilman done https://github.com/irudoy/sb-14407-repro

[2021-04-02 06:09] ThibaudAV commented on #5542
Legacy one is [here](https://github.com/storybookjs/storybook/blob/next/app/angular/src/client/preview/angular/helpers.ts#L106) in next branche

The new one used in last storybook version (6.2) is [here](https://github.com/storybookjs/storybook/blob/next/app/angular/src/client/preview/angular-beta/utils/NgModulesAnalyzer.ts#L8)  (with new name `isComponentAlreadyDeclaredInModules`)
And some test [

[2021-04-02 08:44] thany commented on #14410
@shilman Thanks for the help. I'm glad to see the problem was on my end. Sorry to have bothered you with it.

@infiniityr I ended up manually checking each and every dependency in our project for the latest version. Where something wasn't updated, I updated it. What I don't understand, is why building our project worked fine, while Storybook was not fine. Maybe this nudges you in the right directi

[2021-04-02 09:27] shilman commented on #14410
@thany I'm going to keep this issue open since it seems other people are hitting the problem. Perhaps we can figure out a more reliable workaround.

[2021-04-02 09:30] #14443 closed

[2021-04-02 10:02] shilman commented on #14414
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.2 containing PR #14422 that references this issue. Upgrade today to the `@latest` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-02 10:02] shilman commented on #14443
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.2 containing PR #14444 that references this issue. Upgrade today to the `@latest` NPM tag to try it out!

[code]

[2021-04-02 10:02] #14414 closed

[2021-04-02 10:06] darkowic opened #14449 "Improve rendering stories error details:"
**Is your feature request related to a problem? Please describe**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Are

[2021-04-02 10:12] darkowic commented on #14377
Created another issue to not forgot about it...

[2021-04-02 12:04] gaetanmaisse opened #14451 "[Lit] Improve page reload setup"
### Work summary

Web components cannot be hot reloaded as `customElement.define` can only be called once per page with a unique string.

So for now in `@storybook/web-components`, to have a page reload when a component or a story is updated users need to add a specific, dirty config in `preview.js`, see: https://github.com/storybookjs/storybook/tree/master/app/web-components#setup-page-reload-via

[2021-04-02 13:32] paulgv opened #14454 "[Vue] Source panel doesn't include render function-based component"
**Describe the bug**

One of our components is written in a `.vue` file but leverages a `render` function instead of a `<template>` section to render its markup: [`GlSprintf`](https://gitlab.com/gitlab-org/gitlab-ui/-/blob/889aee6f484a31229693537f377ffe29c13450fa/src/components/utilities/sprintf/sprintf.vue).

We wrote a few [stories](https://gitlab.com/gitlab-org/gitlab-ui/-/blob/889aee6f484a3122

[2021-04-02 14:26] gaetanmaisse opened #14455 "[Lit] Bootstrap an example app with lit-next and TypeScript"
### Work summary

The current kitchen sink for web components is really basic and hasn't been updated for a while. It would be really useful for Storybook devs to have a more complete + up to date kitchen sink for the `lit` ecosystem.

To do so I would be great to take a look at other, more up to date, example like Vue, Angular, Svelte ones and set up a fresh `lit` app using more or less the same

[2021-04-02 14:52] VictorLandim commented on #13747
I would also love to see this addressed. It seems that casting the arg to component prop type is the only solution for now, although verbose.

[2021-04-02 15:30] kmurgic commented on #13826
I can open a PR for this.  I figured out a way to change the storybook code to fix it, but I'm not sure if it's the best/cleanest possible way.

[2021-04-02 15:33] kmurgic commented on #13826
I haven't really contributed to open source before, so apologies in advance if my PR and ability to follow the contributing process is a bit sloppy.

[2021-04-02 15:55] heath-freenome commented on #14440
We also do not use postCSS and this warning is more than annoying. How about adding a setting that 1) disables any post-css capabilities in storybook (if any) and as a result stops printing the warning as well?

[2021-04-02 16:36] SatorCube opened #14456 "[Feature] Add layout option to toolbar"
**Is your feature request related to a problem? Please describe**
As a user, I enjoy the presentation of a component that is centered in a story. However, I often would like to use the grid to help with designing the layout of a component and the grid is only practical when a component is aligned top and left.

**Describe the solution you'd like**
I would like a button in the toolbar that would al

[2021-04-02 18:06] kmurgic commented on #13826
https://github.com/storybookjs/storybook/pull/14457  That should fix the issue.

[2021-04-02 18:59] abhijit945 commented on #14405
Facing the above issue as well. `Cannot GET /`

[2021-04-02 21:08] rdsedmundo opened #14458 "Build breaks if `config.js` is used instead of `main.js`, was working on 6.17.1"
**Describe the bug**
After upgrading Storybook to `6.2.2` my build stopped working, without any configuration changes. It was working perfectly on `6.17.1` (downgrading makes it work again).

[code]

I debugged the issue and found that it's erroring out because `getPreviewBuilder` is sending an `undefined` value to `serverRequire` as the `main.js` file does not exist.

**To Reproduce**
Steps to re

[2021-04-02 23:32] jagregory commented on #12977
I managed to do a bit more investigation and it seems to be some combination of the background addon and **storybook-addon-apollo-client** for me. If I have that addon last in the list (which their docs example shows) then I get the hooks error, but if I move it to before the essentials addon then everything works as expected.

[2021-04-03 00:50] shilman commented on #12977
cc @yannbf @lifeiscontent ☝️

[2021-04-03 02:30] lifeiscontent commented on #12977
@shilman this is the issue I mentioned to you earlier. It seems like there might be more than one reason for this error. One of the reasons this can happen is due to having multiple versions of Apollo installed so when the addon tries to register it uses a different version than the one expected. I generally fix this using the yarn resolutions feature in the package.json but there could be another

[2021-04-03 02:32] lifeiscontent commented on #12977
If anyone can put together a reproduction that would be very helpful. If anyone does manage to track it down feel free to open an issue on the Apollo addon GitHub. I'd love to fix it, but I need more context on the problem in order to make a proper change.

[2021-04-03 05:08] renemonroy commented on #14458
Getting same error here.

[2021-04-03 05:38] Yzrsah opened #14462 "Unexpected webpack version in manager-builder - Received: 5.30.0 - Expected: 4.x"
**Describe the bug**
When starting storybook:

[code]

**To Reproduce**
My `package.json` uses:
[code]

**Expected behavior**
manager-builder working with webpack 5.

[2021-04-03 05:41] shilman commented on #14462
closing as dupe to #14044

[2021-04-03 05:41] #14462 closed

[2021-04-03 08:08] rwieruch opened #14463 "@storybook/addon-docs: Yet another "No code available""
* [Storybook with "No code available"](https://react-table-library.com/)
* [Project on GitHub](https://github.com/table-library/react-table-library)

I am not sure when this happened, but for `@storybook/addon-docs` I get "No code available". It worked some time ago though.

Version: 6.1.21

_main.js_:

[code]

(I tried removing `@storybook/addon-storysource`, [as suggested over here](https://gith

[2021-04-03 09:34] Krausso opened #14464 "Story is not shown in storybook"
![image](https://user-images.githubusercontent.com/52201020/113474326-0c671280-9478-11eb-88d0-2bbe4a011a2d.png)
Everything that I've written is on the screenshot above.

I'm not really sure what's wrong with it, cuz there's no errors
There was just an error that looks like
[code]
And the warning that my `export default` is actually unused.

[2021-04-03 09:54] Domiii commented on #10153
This information from this issue is outdated, and at the same time, one of the top google results. If you (like me) are confused about Storybook's `glob` resolution algorithm:

1. The official documentation on this is now [here](https://storybook.js.org/docs/react/configure/overview#configure-story-loading)
2. As explained on that page, the glob syntax is that of [micromatch](https://github.com/mi

[2021-04-03 09:58] Domiii commented on #11181
For anyone still struggling: You can in fact exclude stories without custom story resolver functions.

First of all, these are the relevant resources (as I also explained in #10153):

1. The official documentation on this is now [here](https://storybook.js.org/docs/react/configure/overview#configure-story-loading)
2. As explained on that page, the glob syntax is that of [micromatch](https://github

[2021-04-03 10:12] fikyair commented on #14458
Getting same error here.

[2021-04-03 10:17] fikyair commented on #14458
Hope to fix it soon
tx~

[2021-04-03 12:00] Krausso commented on #14464
Already fixed 👌🏿

[2021-04-03 12:00] #14464 closed

[2021-04-03 14:44] apapadopoulou commented on #12737
Is this issue still open? A pull request is mentioned above so it is not clear to me whether someone is working on this.

[2021-04-03 14:46] lee-chase commented on #12850
I think I prefer grouping props and slots, perhaps in the second parameter passed to the template.

[2021-04-03 15:10] apapadopoulou commented on #11124
Hello! Is anyone working on this?

[2021-04-03 16:05] euaaaio commented on #14342
@Sqrrl, @kanidjar, thanks, it works.

@shilman, it seems that rebuilding starts because of `.cache` folder.

My log with some debug info:
[code]

[2021-04-03 16:22] mdminoza opened #14466 "[React JS] Build error, NestedError: Cannot copy '@storybook\core-server\diat\node_modules\@storybook\core-server\dist\cjs\public\favicon.ico''"
**Describe the bug**
I always encountered this error recently.
Build failed when running `build-storybook` on @storybook/react `6.2.2` & `6,1,1`.
Using create-react-app typescript

**To Reproduce**
Run `build-storybook `

**Expected behavior**
Build should be successful.

**Screenshots**
![err2](https://user-images.githubusercontent.com/31148142/113484690-3b16d480-94dc-11eb-873b-7f13fbcb0f2a.PNG)

[2021-04-03 17:30] CharlieDieter commented on #14410
It is hard to tell for sure, but I believe I resolved this issue by updating react and react-dom to 17.0.2. Removed yarn.lock and node_modules, installed packages with those packages removed, then ran `yarn add -P react react-dom`.

[2021-04-03 19:30] newmandani commented on #5183
It can work for yarn only.

[2021-04-03 19:33] newmandani commented on #5183
SKIP_PREFLIGHT_CHECK explained as shot in to your own leg, at some point. Even if you install babel-loader as independent module why storybook or CRA eill decide to switch on it, rejecting thay own packages.json?

[2021-04-03 19:54] dustinlacewell commented on #5051
Hmm something in my repo changed and I'm now getting this, and have no idea what caused it.

[2021-04-03 21:27] TheFirstMe commented on #14403
I am also facing this issue. Is there a temporary fix for this?

[2021-04-03 21:50] TheFirstMe commented on #14273
Storybook v6 seems to be working fine with Gatsby v3 even with npm. I followed the same steps on Gatsby docs for setting up Storybook v5

[2021-04-03 21:53] mlachance commented on #5051
@daviddelusenet my experience is that the checksums in `package-lock.json` sometimes prevent the proper installation of dependencies, and it does not help that updating your Node version may cause breaking changes.

Your `package-lock.json` should be committed in your Git repository anyways, so rolling back should it not work is still something you can do. And if you are curious, you can also simp

[2021-04-04 00:14] kayteh commented on #14342
I have a repro case of the workaround not working, [repository](https://github.com/kayteh/storybook-reload-loop) set up similarly to [my live repo](https://github.com/roleypoly/roleypoly/tree/main/packages/design-system)

If the `main.js` `stories` value includes seemingly anything in the root dir, it seems to do the loop.

[2021-04-04 00:36] renemonroy commented on #9516
I have version 6.2.2 and still gets this issue.
<img width="1447" alt="image" src="https://user-images.githubusercontent.com/106011/113495014-70ef9500-94ab-11eb-8a30-ac5958304aee.png">

[2021-04-04 06:17] mdirshaddev opened #14467 "Storybook HMR working in windows but not in WSL2 ubuntu"
**HMR not working in storybook running on WSL2 ubuntu**
Currently I am using Webpack5 based React the storybook version is 6.2.2 it works very well in windows environment but in WSL2 Ubuntu it does not auto reload changes.

[2021-04-04 08:00] thaoms commented on #14440
I actually get this error and I'm not using postcss in our storybook itself, it's actually trying to run a postcss.config.js inside a node module import, while I'm just importing the dist css from that module. Seems like a bug?

[2021-04-04 13:57] ArrayKnight opened #14469 "Knobs & Backgrounds addons cause React hooks render error"
**Describe the bug**
Error message: "Rendered more hooks than during the previous render." displayed instead of stories

**To Reproduce**
Steps to reproduce the behavior:

1. Setup Storybook with Knobs and/or Background addons registered
2. Add a global decorator (even a basic empty div)
3. Run Storybook
4. See error

**Expected behavior**
Story works as expected

**Screenshots**
![image](https://

[2021-04-04 16:46] etsiaDigital opened #14471 "Storyshots testing not working with Svelte"
**Using Storyshots auto testing fails**

Using and following the Svelte tutorial:
https://storybook.js.org/tutorials/intro-to-storybook/svelte/en/simple-component/

Running Sample.test.js works fine.
Running storybook.test.js (created following tutorial instructions) fails with:  "Jest encountered an unexpected token"

Details: .../node_modules/@storybook/svelte/dist/cjs/client/preview/SlotDecorat

[2021-04-04 17:22] TheFirstMe commented on #14467
I also noticed this issue. Does not auto reload on changes

[2021-04-04 18:07] j3rem1e commented on #14471
We can't ship precompiled js of the svelte files, because they should be compiled against the version on your project.

However, you just had to tell jest to transform files in `@storybook/svelte` :

[code]

[2021-04-04 18:23] KrofDrakula commented on #13928
It looks like there's a problem in the preact kitchen sink app. In [`package.json`](https://github.com/storybookjs/storybook/blob/next/app/preact/package.json#L57-L63), we have:

[code]

This installs `preact` as a dev dependency when bootstrapping, so when `client/preview/render.tsx` imports the `preact` package, it would always import `preact^10.5.9`. If the app uses `8.x`, the mismatch between

[2021-04-04 18:31] jeanfredrik commented on #11587
I solved it by adding a package.json file inside the `.storybook` folder. The file could have any content really, but an empty object gives an error, so I went with this:

[code]

[2021-04-04 18:48] etsiaDigital commented on #14471
You misunderstood me about "precompiled".  (I meant it as used here: https://github.com/mihar-22/svelte-jester ) I might have misunderstood the error as this is the first time I've used Storybook much less Storyshots.  And I'm new to Jest (I'm from the C++ world and a different workflow).  I noticed that both 'svelte-jester' and, what is shipped with Storybook: 'jest-transform-svelte', both do the

[2021-04-04 18:48] #14471 closed

[2021-04-04 19:30] apapadopoulou commented on #13632
Hello! Is anyone working on this?

[2021-04-04 20:18] kaleem-elahi commented on #9139
Need this resolved, getting same issue :(

[2021-04-04 21:11] eirslett commented on #14024
I'll just leave this link here: there is some community work going on for Vite support: https://github.com/SasanFarrokh/storybook/tree/vite-support

[2021-04-04 21:28] mdirshaddev commented on #14467
Don't know when it will be fixed

[2021-04-04 23:29] sunny-mittal commented on #5051
Hopefully posting this doesn't reopen the issue but for yarn users, if you set up storybook with the CLI commands which uses npm by default, you could run into this. The two package managers handle dependencies very differently and it turned out to be my issue. Trashing node_modules and package-lock and reinstalling with yarn fixed it.

[2021-04-05 01:08] Danktuary opened #14474 "Color control gets stuck on initial state"
**Describe the bug**
Upgrading from v6.2.0-beta.14 to v6.2.2, I've experienced that the new color control seems to work on initial load, but its input value get stuck when switching to other stories. Changing the color on other stories reflects on the initial story.

If you click the `<>` color format toggle button, the value will update and show on the current story, but it'll only update once; d

[2021-04-05 03:01] shilman commented on #14024
And here's a WIP strawman for how we plan to incorporate new builders into the Storybook ecosystem:

https://docs.google.com/document/d/1M3pFGLCnZLec78p3fFkWvei-ajnpn1BXjzjd93TGvRs/edit?usp=sharing

I'm hoping that we can agree on a mechanism for allowing community builders this week and release it in 6.3-alpha next week.

[2021-04-05 03:04] shilman commented on #13632
@apapadopoulou not as far as i know. are you interested in taking a shot?

[2021-04-05 03:32] shilman commented on #14469
FYI, we’ve released `addon-controls` in Storybook 6.0. Controls are portable, auto-generated knobs that are intended to replace `addon-knobs`, which are slated for deprecation.

- [Controls documentation](https://storybook.js.org/docs/react/essentials/controls)
- [Migration instructions](https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#how-do-i-migrate-from-addon-knobs)

[2021-04-05 03:34] shilman commented on #12977
@yannbf Feels like this is an `addon-backgrounds` issue: #14469

[2021-04-05 03:38] shilman commented on #14466
Do you have a repro repo you can share?

[2021-04-05 03:41] shilman commented on #14458
This is a regression in 6.2 and we'll fix this week. That said, `config.js` is deprecated and will be removed in 7.0, so please consider upgrading to `main.js` configuration as a workaround:

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#to-mainjs-configuration

[2021-04-05 03:43] shilman commented on #12737
Still open. If you're interested in helping please consider reviewing the PR mentioned above. We'll get it merged in SB 7.0 because it's technically a breaking change.

[2021-04-05 03:44] shilman commented on #11124
@apapadopoulou it's wide open! I believe @yannbf took a crack at it but had some problems getting it working, so you might want to check with him if you're thinking about tackling it. Thanks!!! 🙏

[2021-04-05 04:07] jferragut commented on #12153
FYI, I had this problem as well with NextJS, Typescript, Storybook.

If I used the following syntax, it resulted in Storybook not detecting my controls and giving the warning:
[code]
I used template syntax because it was more convenient for multiple variants, but the following fixed the warning:

[code]

It seems like the template bind is messing with the detection, but I haven't dug in to see wha

[2021-04-05 04:35] shilman commented on #12153
@jferragut I believe the typescript setting `strictBindCallApply` must be `true`. @jonniebigodes can we get this in the documentation as a troubleshooting step?

Reference: https://discord.com/channels/486522875931656193/490070912448724992/774340693941551165

[2021-04-05 04:41] shilman commented on #14442
I don't believe this is configurable on a per-story basis anymore. @ndelangen?

[2021-04-05 04:43] shilman commented on #14423
Another repro here from @stephiecastle https://github.com/storybookjs/storybook/issues/3339#issuecomment-812026893

[2021-04-05 04:43] tmeasday commented on #12634
@mikestu

Not super soon, there is a bit of UI work required to allow us to drop default values.

I'm not sure I quite understand this, sorry!

[2021-04-05 05:46] Sawtaytoes opened #14475 "Using decorators causes state to be lost on Controls change"
**Describe the bug**
If you change a control (like typing in a text field) when `decorators` is defined in `.storybook/preview.js`, it completely reloads the component without state.

**To Reproduce**
Steps to reproduce the behavior:

1. `export` a `decorators` with a function that renders a story.
2. Create a story that sends `children` as a string to `args`.
3. Controls will display a text input

[2021-04-05 05:53] Sawtaytoes commented on #12435
I think your issue is because of adding a custom `decorators` to `preview.js`.

I created an issue on the topic:
https://github.com/storybookjs/storybook/issues/14475

There's a possible fix here:
https://github.com/storybookjs/storybook/pull/13049

[2021-04-05 07:07] KrofDrakula commented on #12853
Looks like this issue might be resolved with #12403.

[2021-04-05 09:29] hazem3500 opened #14476 "Docs-only stories"
**Is your feature request related to a problem? Please describe**

I want to make a Documentation-only MDX story of our design tokens.
The problem is that for me to access the `ThemeProvider`'s (which I've added via `decorators`) value, I need to wrap each token section inside a `Story` block.

[code]

which makes each token appear as a story in the sidebar.

**Describe the solution you'd like**
I

[2021-04-05 09:52] hazem3500 opened #14477 "ThemeProvider decorator not affecting stories in docs page"
**Describe the bug**
I have a decorator that toggles between color modes.

[code]

[code]

it works fine when viewing in canvas mode. but when I switch to the docs page it doesn't work.

**Expected behavior**
It should switch color mode on the docs page just like it does in canvas.

**Screenshots**
![chrome_2021-04-05_11-44-45](https://user-images.githubusercontent.com/22430645/113561181-7a404500-

[2021-04-05 13:13] ebellumat commented on #11933
Still not working =(

I tried a lot of work arounds and nothing.

I don't want to write these props on docs manually.

I'm using MDX with Styled components here.

[2021-04-05 13:24] jgaehring commented on #12634
Sorry, yea, I should have explained more. The workaround I referenced is to always provide `args` in your story for the props that have a factory function default. Example here: https://github.com/farmOS/farmOS-client/commit/afc55bd52a2538311901d14158520416f52a0948. This is a bit onerous as workarounds go, but it keeps things working, w/o having to make changes to your actual application code.

@F

[2021-04-05 13:33] MukeshJ2506 opened #14481 "Warning: Encountered two children with the same key, `30-54`. Keys should be unique so that components maintain their identity across updates. Non-unique keys may cause children to be duplicated and/or omitted — the behavior is unsupported and could change in a future version"
**Describe the bug**
I have a date range picker with two instances of date pickers running in a story

**To Reproduce**
Steps to reproduce the behavior:

Its within our storybook which is used internally

**Expected behavior**
This is printed as warning but it blocks the functionality in my story and the code i use is an external lib within my component

**Screenshots**
If applicable, add screensh

[2021-04-05 13:39] macrozone commented on #14458
same happens if you have no main.js. I now just added an empty one with `module.exports = {}`

there are a lot of user who missed the migration of these files, i personally never heard about preview.js, main.js etc.

[2021-04-05 13:45] CH9587 commented on #12153
I got hints from @GuidovdRiet and @mohit242, but for me, it was a combination of both using a named export for my component, as well as NOT using `React.FC` when declaring the component, and instead importing `FC` from react explicitly and doing `FC<MyType>` during the component declaration.

[2021-04-05 13:48] ebellumat opened #14482 "Styled component props not showing using typescript and styled-system"
**Describe the bug**
The props in docs are not loaded correctly using @emotion/native and styled-system
![image](https://user-images.githubusercontent.com/26942680/113580302-e79ba800-95fb-11eb-95d3-5ce014bdb55d.png)

**To Reproduce**
Component:
[code]

Story MDX:
[code]

**Expected behavior**
The expected behaviour its generate the docs correctly, like this.

![image](https://user-images.githubuse

[2021-04-05 14:09] shilman commented on #3339
@stephiescastle thanks so much for the awesome repro. turns out it's not an alias issue but an issue with the default webpack `file-loader` settings! fix will be merged & released shortly.

[2021-04-05 14:30] shilman commented on #14481
Do you have a repro repo you can share?

[2021-04-05 14:33] shilman commented on #14477
Do you have a repro repo you can share?

Also, all of your storybook package versions should match. You can do this automatically (recommended) by:
- stable: `npx sb upgrade`
- prerelease: `npx sb upgrade --prerelease`

[2021-04-05 14:35] shilman commented on #14476
You probably want this: https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/recipes.md#overwriting-docs-container

[2021-04-05 14:36] MukeshJ2506 commented on #14481
@shilman Apologizing since its behind the orgs walls. But noticed this in storybook/angular with two instances of angular-mydatepicker in the same component

[2021-04-05 14:38] MukeshJ2506 commented on #14481
`angularLegacyRendering: true` currently this helps in functioning as of now. Also could see these errors pop up at some places

`ngOnDestroy is not a function`

[2021-04-05 14:39] shilman commented on #3339
Hurrah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.3 containing PR #14480 that references this issue. Upgrade today to the `@latest` NPM tag to try it out!

[code]

[2021-04-05 14:39] shilman commented on #14440
Crikey!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.3 containing PR #14478 that references this issue. Upgrade today to the `@latest` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-05 14:39] shilman commented on #14458
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.3 containing PR #14479 that references this issue. Upgrade today to the `@latest` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-05 14:39] #14440 closed

[2021-04-05 14:39] #14458 closed

[2021-04-05 16:09] ebellumat opened #14483 "Why my Docs are loading this way?"
My props from components are loading with this annoying MDN references and i don't know why.

Can anyone help me to configure the react-docgen-typescript correctly?

![image](https://user-images.githubusercontent.com/26942680/113595948-0b68e900-9610-11eb-98eb-ccdcfd9a8a0e.png)

[2021-04-05 16:24] targumon commented on #9216
In continuation to my comment from a few weeks ago - I ran `npm ls html-webpack-plugin` and got this:
[code]
Is this the expected output? does the `compilation` error exist due to the old `html-webpack-plugin` still being used under the hood?

[2021-04-05 16:34] corysimmons commented on #7066
I'm sure there is a way to inject global CSS to Storybook via the webpack config or something. So you can do this to hide the Canvas tab:

[code]

Then add `viewMode: 'docs'` to auto-focus the Docs tab:

[code]

If someone wants to update this with the correct way to add global CSS to a Storybook, it'd solve this problem for everyone. I'm happy with just the default tab being Docs though.

[2021-04-05 17:06] christiankaseburg opened #14484 "Jest Add On Feature Request"
**Is your feature request related to a problem? Please describe**
My feature is not related to a problem, but is related to why we cannot use the jest test view that is displayed on the jest add on page.

**Describe the solution you'd like**
I would like the ability to choose the view shared in the Jest plugin directory.

**Describe alternatives you've considered**
I can stick with using the curre

[2021-04-05 17:15] christiankaseburg commented on #14484
This is the view I was expecting when adding the jest add on:
![image](https://user-images.githubusercontent.com/17897588/113601997-eddb5580-95f6-11eb-8425-01d58fa3fe94.png)

Or the view from the storybook preview:
![image](https://user-images.githubusercontent.com/17897588/113602235-36930e80-95f7-11eb-86fa-c44ed6220256.png)

This is the view I actually got that works, but I prefer the one above:

[2021-04-05 17:29] michael-woodward-spok commented on #14403
The workaround is to add `dotenv-webpack@6.0.4` to your devDependencies list

[2021-04-05 17:36] GitProdEnv commented on #8601
Is there another solution to this? I have the same issue, where my component library is built with emotion.

Accessing the theme within the styled components does not work, since the docs addon overwrites the theme.

I do the workaround as mentioned above. Any help appreciated

[2021-04-05 17:40] awreese commented on #11923
@shilman

I think this is a bug that could and should be addressed even if Knobs overall are being (eventually) deprecated and replaced by Controls. With identical code and using `display: 'inline-check'` and de-selecting/toggling all options the result is correctly returned as an empty array (`[]`) as one would expect. I would expect the multi-select display config to match behavior.

Is there a

[2021-04-05 17:56] david-shortman commented on #12348
@gabrielliwerant Have you tried using the Nx command for your monorepo?
[code]

[2021-04-05 18:50] marcoavazquez commented on #12983
doing a `npm install` I got the same error
using node v10.23.3 was resolved

[2021-04-05 19:22] coreybruyere commented on #7998
I recently had to wipe node modules and package-lock while debugging an issue when implementing jest+enzyme into a project and am now getting extremely slow start times for Storybook. Initially I was getting [this error](https://github.com/storybookjs/storybook/issues/12093):
[code]
but seemed to have resolved it with [this](https://github.com/babel/babel/issues/11622#issuecomment-638609015).

Can

[2021-04-05 19:58] BiancaArtola opened #14487 "Vulnerability on Storybook 6.2.2"
I know that it is not a bug, but I need to report a vulnerability that appears when I update to version `6.2.2`

[code]

Can you fix this on the next release?? This vulnerability wasn't present on version 6.1.21

┆Issue is synchronized with this [Asana task](https://app.asana.com/0/1199622255231368/1200155097096936) by [Unito](https://www.unito.io/learn-more)

[2021-04-05 20:13] danielbachhuber commented on #14300
@pocka Works great, thank you!

[2021-04-05 20:13] #14300 closed

[2021-04-05 20:28] jesperp commented on #12995
For now these steps should work to setup a package in a monorepo (I'm using Svelte & pnpm):

[code]

[2021-04-05 22:39] kaelig commented on #14440
For people who can't upgrade to 6.2.3 yet, this is a workaround:

[code]

[2021-04-05 23:37] shilman commented on #7998
All of your storybook package versions should match.

You can do this automatically (recommended) by:
- stable: `npx sb upgrade`
- prerelease: `npx sb upgrade --prerelease`

[2021-04-05 23:38] shilman commented on #12983
@marcoavazquez in npm7

[code]

[2021-04-05 23:42] shilman commented on #11923
@awreese PRs welcome!

[2021-04-05 23:43] shilman commented on #8601
@GitProdEnv there's an open PR to replace Storybook's theming with a custom context to avoid conflicts. I'm hoping we can get that into 6.3.

[2021-04-05 23:51] ruckefeller opened #14488 "@storybook/angular renderer component selector issue"
**Description**
Looks like the storybook renderer for angular doesn't account for components with selectors containing attributes (see example).

**To Reproduce**
Steps to reproduce the behavior:

1. Create a component with an attribute selector: ````@Component({ selector: 'my-component[type=text]'})```
2. Create a story for the component. The story should have a template e.g. ```export const defa

[2021-04-06 00:46] abhijit945 commented on #14192
Got around this by creating a custom serializer that clean the ids.
[code]

In Storyshots spec,
[code]

Hope this helps someone.

[2021-04-06 00:58] hawkticehurst commented on #12599
Hi @shilman and @hydrosquall, I've been excitedly waiting for this feature to be published in a stable release (i.e. not behind a prerelease flag) and I discovered today it seems like that might have happened in `v6.2.0` (_tentative woo_ 🎊).

However, now that I've updated all my Storybook packages (`v6.2.3`) I'm completely unable to get the tree view to render and I only see the regular text area

[2021-04-06 01:11] shilman commented on #14403
@michael-woodward-spok currently `@storybook/builder-webpack5` has a dependency on

[code]

This should resolve to 6.0.4 when you install it. Any idea why adding the dependency to your own project is a workaround? Is it a hoisting issue?

[2021-04-06 01:12] shilman commented on #12599
@hawkticehurst yes it's been released in `6.2.x`. check your storybook versions using `npx sb info` and make sure they are all 6.2.x. And if that doesn't work, try removing `node_modules` and/or lockfiles and reinstalling?

[2021-04-06 01:22] stephiescastle commented on #3339
@shilman awesome! v6.2.3 fixes the issue for me :)

[2021-04-06 01:30] hawkticehurst commented on #12599
Deleting `node_modules` / lock file and then reinstalling totally did the trick! Thank you so much!

[2021-04-06 05:20] hazem-osama commented on #14476
It works great 👍, thanks @shilman 😄

[2021-04-06 05:29] hazem3500 commented on #14476
It works great 👍, thanks @shilman 😄

[2021-04-06 05:29] #14476 closed

[2021-04-06 06:30] pravbeseda commented on #14463
I have the same problem (angular)

1. ng new test-app
2. cd test-app
3. npx -p @storybook/cli sb init
4. npm run storybook

On Docs tab of predefined Stories I see "No code available". The "Show code" button is unlocked after clicking on "Reset controls".

The problem is reproducible on versions 6.2.1-6.2.3.

Please help!

[2021-04-06 06:47] hazem3500 commented on #14477
here is a reproduction repo: https://github.com/hazem3500/storybook-14477-repro

[2021-04-06 08:42] apapadopoulou commented on #11124
@shilman Thank you! I would like to take a look at it, so I will check with @yannbf in order to catch up.

[2021-04-06 08:58] desirelabs commented on #12311
I assume the issue might have different causes. The one I had was with vim, setting `backupcopy=yes` solved it.

[2021-04-06 09:20] kaeh commented on #14192
@abhijit945 thanks a lot, it works !!

I just had to update the CustomSerializer to remove unwanted attributes and attributes values recursively

[code]

Thanks a lot again :)

[2021-04-06 09:27] spoike commented on #14433
I've switched over to 12.22.0 with nvm for windows. And `npx sb init` works with a caveat on different version on `package-log.json`:

[code]

However `fsevents` is correctly skipped (since it's only for mac):

[code]

Running `npm run storybook` works on 12.22.0 (after fixing all the prettier errors from the generated files 😄)

On 15.13.0 after the `npx sb init` was made in 12.22.0:
* `npm run st

[2021-04-06 09:30] fmipsylone commented on #12311
I think that it would be better to not have to disable Vim features just to be able to use a node package. Maybe an .ignore or a .*rc style file would be preferable.

The problem is that due to the freeze it is very difficult to know where the issue happens. I personally can not say if the responsible package is fork-ts-checker-webpack-plugin or one of its dependencies.

If the issue is sovled wit

[2021-04-06 09:33] spoike commented on #14433
Tried to issue the `npx sb init` command on the following versions:
* 15.13.0 - doesn't work, EBADPLATFORM error
* 14.16.0 - doesn't work, EBADPLATFORM error
* 12.22.0 - works

[2021-04-06 09:46] panjiesw commented on #14321
The warning still comes up in `v6.2.3` for `/node_modules/axe-core/axe.js`, not in CLI console when running `start-storybook`, but in browser console as well as when running `build-storybook`.

Browser console:

![2021-04-06-164319_4480x1440_scrot](https://user-images.githubusercontent.com/1451848/113692230-8822c280-96f7-11eb-8560-e5ba3972f3a4.png)

`build-storybook`:

![2021-04-06-164456_4480x144

[2021-04-06 09:48] jeanfredrik opened #14489 "Problems with HTML preview addon since v6.1.21"
I’m the main author of [HTML preview addon @whitespace/storybook-addon-html](https://github.com/whitespace-se/storybook-addon-html) and we have received several reports that the addon no longer works since storybook@6.1.21. I have tried to solve the issue (see https://github.com/whitespace-se/storybook-addon-html/issues/42), but new issues have opened related to storybook@6.1.21 and storybook@6.2.

[2021-04-06 10:07] shilman commented on #14489
@jeanfredrik happy to help! i'll take a quick look and see if I can figure out what's going on and we can go from there.

[2021-04-06 10:13] nicolae536 commented on #11433
Same error tried the fix but it's not working... Very poor support for @angular :( @

[2021-04-06 10:24] shilman commented on #14477
Thanks @hazem3500, I've reproduced with your repo. I'm going to merge some related PRs into 6.3-alpha next week and then see if it still has the problem. Thanks for the repro and for your patience!

[2021-04-06 10:26] shilman commented on #11433
@nicolae536 Try upgrading to 6.2. We just released a bunch of improvements there.

[code]

[2021-04-06 10:43] nicolae536 commented on #11433
Thanks for tips @shilman . I managed to fix it by changing this -> I also updated to latest version. In `storybook/tsconfig.json`

[code]

[2021-04-06 10:46] shilman commented on #14463
@rwieruch was this ever working for this repo? There's a duplicate issue which I'm unable to find right now, which is that addon-docs sets up the source-loader to run on `\.(stories|story).[tj]sx?$`, which your stories don't match:

https://github.com/storybookjs/storybook/blob/next/addons/docs/src/frameworks/common/preset.ts#L54-L63

Ideally it would simply use the `.storybook/main.js` `stories`

[2021-04-06 10:51] shilman commented on #14403
Thanks for tracking this down @paulrosania. Since this is a hoisting issue, I'm not sure whether there's much more we can do other than perhaps document the workaround better. Any ideas?

[2021-04-06 11:18] shilman commented on #14423
@jwir3 we looked at your repro but we saw a lot of different babel versions and thought your problems might be related to that. Then we looked at @stephiescastle's repro and found a bug in the `file-loader` settings (NOT aliases) and fixed that in v6.2.3. Can you try upgrading and see if that might fix your issue as well?

[code]

[2021-04-06 12:26] MhMadHamster commented on #12179
In the recently released versions `6.2.*` storybook started to use `color-convert` (which is not in es5) so now you need to transpile it by yourself as well (in addition to `acorn-jsx`).

[2021-04-06 12:31] petr001 commented on #14053
I have the same problem, but I'm using typescript. No ArgsTable rendered at all 😢

[2021-04-06 12:33] Niznikr commented on #14167
@shilman Not sure what changed (perhaps the ESM file-loader fix?) but upgrading from `6.2.0-rc.3` to `6.2.3` seems to fix things and this snippet now works as expected:

[code]

[2021-04-06 12:44] ajkl2533 commented on #14487
I also have this issue it's coming from `webpack@4` through `terser-webpack-plugin` :(

[2021-04-06 12:46] hazem3500 commented on #14477
You're welcome 😄

[2021-04-06 12:47] shilman commented on #14167
Awesome. I bet that was it!

[2021-04-06 12:47] #14167 closed

[2021-04-06 12:51] shilman commented on #12179
@tooppaaa Can you add this to the list? Maybe the new color controls did it

[2021-04-06 13:28] pravbeseda commented on #14463
@shilman Should I create a separate issue? The malfunction in the reference example looks like a bug.

[2021-04-06 13:31] shilman commented on #14463
@pravbeseda that bug already exists here i think #14193

[2021-04-06 13:40] rwieruch commented on #14463
Yes, it could be that I changed something in the in my last commits that caused this issue, but I have a hard time narrowing it down. So you are saying that I need to name my stories in a specific way to make it work again? I can look into this!

[2021-04-06 13:44] jwir3 commented on #14423
Sure.

I'm not sure what I should do to fix the babel issues you mentioned, do you
have suggestions?

~Scott

On Tue, Apr 6, 2021, 6:20 AM Michael Shilman ***@***.***>
wrote:

[2021-04-06 13:49] petr001 commented on #14053
BTW only happens for webpack 5 ;)

[2021-04-06 14:04] shilman commented on #14053
@petr001 that's #14118

[2021-04-06 14:06] shilman commented on #14463
@rwieruch this constraint has been there since v5.3, which is that in order for source-loader to be auto-registered by addon-docs you must name your stories files `*.(story|stories).[tj]sx?`.

[2021-04-06 14:08] shilman commented on #14321
@panjiesw Do you (or anybody else) have a repro repo they can share that uses 6.2.x?

[2021-04-06 14:17] Alecell commented on #11989
@TheDutchCoder seems like the `config.resolve.alias['#'] = path.resolve(__dirname, '../src')` doesn't have any effect

[2021-04-06 14:49] mts commented on #14321
@shilman I have a repro [repo](https://github.com/mts/freestyler) using the latest Storybook v6.2.3, but the critical dependency warning has already disappeared since v6.2.0 and Storybook build looks good.

[2021-04-06 14:50] infiniityr commented on #14410
I tried to reproduce the bug starting from a new project.
I've been able to reproduce the bug following those steps:
* Create Vue2 project
* Initialize Storybook
* Personnalize storybook (`main.js` and `preview.js`)
* Add the following addons:
     * "@storybook/addons": "6.2.3"
     * "@storybook/theming": "6.2.3"
     * "@storybook/addon-knobs": "6.2.3"
     * "@storybook/addon-viewport": "6.2.3

[2021-04-06 14:51] shilman commented on #14321
Ok thanks! I'm going to call this closed until somebody produces a 6.2.3+ repro.

[2021-04-06 14:51] #14321 closed

[2021-04-06 14:53] shilman commented on #14410
@infiniityr
Do you have a repro repo you can share?

[2021-04-06 14:55] infiniityr commented on #14410
Everything is in here

[2021-04-06 14:58] JamesIves opened #14491 "Unable to import images into documentation mdx"
I'm trying to import images into my mdx files but they keep throwing a 404 error and don't work. The images are stored within `.storybook/documentation/assets` and I'm importing them into my mdx like so:

[code]

I have an image loader configured within `.storybook/main.js` like so:

[code]

And my start script looks like so: `start-storybook -p 6006 --no-manager-cache -s ./src`, I've tried modify

[2021-04-06 14:59] panjiesw commented on #14321
@shilman turns out it was because of issue in `axe-core@4.1.3` https://github.com/dequelabs/axe-core/pull/2843

Tried to reproduce using fresh install, the issue disappeared because there is a new release of `axe-core@4.1.4` that resolves this.

[2021-04-06 15:03] shilman commented on #14410
@infiniityr Oops thanks! Missed that!

[2021-04-06 15:12] michael-woodward-spok commented on #14403
I think it's worth trying @paulrosania's suggestion:

[2021-04-06 15:23] paulrosania commented on #14403
@shilman I think Storybook can solve this, since the hoisting issue is caused by incompatible `dotenv-webpack` versions used by Storybook itself. (You can reproduce this issue just by installing Storybook, without bringing in your own conflicting versions of the library.)

I believe this issue would be resolved if all versions of `dotenv-webpack` used by Storybook were v6+. In particular, `@storyb

[2021-04-06 15:34] shilman commented on #14403
@paulrosania Totally missed that part! Yes please create a PR and let's see what happens. 🙏🙏🙏

[2021-04-06 15:49] andreiho commented on #14197
@anicholls I fixed it by specifically removing only the `@babel/plugin-proposal-class-properties` entries in the lockfile, then re-installing. Before there were about 5 different version resolutions for that package.

[2021-04-06 15:57] PascalPixel commented on #13893
@marjisound's `npm i terser-webpack-plugin && npm remove terser-webpack-plugin` fixed it for us 👏

[2021-04-06 16:16] gregStevenard commented on #13687
Does anyone know if this has been fixed yet ? What is the way around it ?

[2021-04-06 16:50] bard commented on #10987
I have a create-react-app project where I use Snowpack in dev and WebPack 4 for the prod build.

Storybook was taking 6+ seconds to refresh simple components; I brought it down to around 3s by disabling DocgenPlugin, ESLintWebpackPlugin, and ForkTsCheckerWebpackPlugin, and further to around 2s by enabling the [turbo build](https://github.com/pocka/storybook-addon-turbo-build) plugin with `optimiza

[2021-04-06 16:57] sebastienbarre commented on #10987
@bard I think I could deal with 2 seconds. Could you give us more details about "disabling DocgenPlugin, ESLintWebpackPlugin, and ForkTsCheckerWebpackPlugin, and further to around 2s by enabling the turbo build plugin with optimizationLevel: 3" ? Thanks

[2021-04-06 17:13] coreybruyere commented on #7998
@shilman - Thanks. That seems to have worked. Not sure what happened to my babelrc but I ended up having to add these changes like someone else noted in this thread:
[code]

[2021-04-06 17:13] bard commented on #10987
@sebastienbarre the `.storybook/main.js` above, plus `npm i storybook-addon-turbo-build`, should be enough. Lower the optimization level if things break.

[2021-04-06 17:31] daviddelusenet commented on #13893
I'm also experiencing this issue unfortunately :(

[2021-04-06 18:03] JohnCasab commented on #14440
If you dont use Postcss you can out this in your `.storybook/main.js`

[code]
As suggested in the documentation: https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#deprecated-implicit-postcss-loader

[2021-04-06 19:18] paulrosania commented on #14403
I put up a PR. The new library version seems to work fine without code changes; it appears the major version bumps were related to dropping very old Node versions that are already unsupported by Storybook.

[2021-04-06 19:57] ghengeveld commented on #14441
First problem should be resolved in 6.2: https://github.com/storybookjs/storybook/pull/14062

The second I don't really know how to reliably fix for any keyboard layout. We could use `code` rather than `key` so we target the *location* of the key rather than the `/` character, but that would probably be even more confusing, unless we somehow manage to render the actual character in the search box

[2021-04-06 21:13] JamesIves commented on #14491
Additional context:

The URL's are accurate, but the files don't seem to be binary files after webpack is done with them. Inspecting the image files
in VSCode reveals the following: `export default __webpack_public_path__ + ".storybook/documentation/assets/logo.png";`.

Is the MDX compiler doing something funky here, or is there a setting I need to configure to allow this?

[2021-04-06 21:16] JamesIves commented on #14491
Turns out this was an issue with my image loader. Removing the rule push resolved this entirely.

[2021-04-06 21:16] #14491 closed

[2021-04-06 22:31] JamesGelok commented on #13108
in the meantime you can install babel-loader locally fixed to version 8.1.0

(`package.json`)
[code]

the error went away for me after doing that

[2021-04-06 22:56] Shane32 commented on #11554
I am having the same problem as listed in #14020

Here's my workaround so the 'view code' sample looks right:
[code]

[2021-04-07 01:21] TheMightyPenguin commented on #13589
@shilman I opened a PR fixing this 😄 https://github.com/storybookjs/storybook/pull/14495

[2021-04-07 02:08] stuartizon-x opened #14496 "Dynamic preview head not rendering"
Not sure if I've misunderstood this feature, but I've tried to add the new `previewHead` config option (https://github.com/storybookjs/storybook/pull/13432) and it seems to not be doing anything.

I've created a small sample repo here based on the way it's described in the docs. https://github.com/stuartizon-x/storybook-example.

I'd expect to see the yellow background I've added to the previewHea

[2021-04-07 03:31] shilman commented on #14496
Turns out the presets got renamed to `xTemplate` (e.g. `previewHeadTemplate`) in commit https://github.com/storybookjs/storybook/commit/2a5895c59e0d988609dc40754a9d430d61becb36

I tested out `previewHeadTemplate` in your repro and it's working as expected.

I'll discuss the change with @ndelangen to see whether we need to update the documentation or revert the changes. Thanks for raising the issue

[2021-04-07 03:50] shilman commented on #13687
If you inspect your browser console, you should see this warning:

[code]

So the workaround is to follow the instructions: this isn't intended to work in Storybook.

That said, Storybook shouldn't crash in this state, so we'll fix the bug in the next week or two.

[2021-04-07 04:31] shilman commented on #14403
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.4 containing PR #14492 that references this issue. Upgrade today to the `@latest` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-07 06:03] stuartizon-x commented on #14496
Ah good to know I'm not a complete idiot! Thanks

[2021-04-07 06:46] CapsE commented on #14430
Seems to have been in issue with a lot of different moving parts. We started of with a clean new install of the latests version and now everything is working as expected. Sorry for the inconvinience.

[2021-04-07 06:46] #14430 closed

[2021-04-07 06:48] pravbeseda commented on #14193
I have the same problem (angular 11)

1. ng new test-app
2. cd test-app
3. npx -p @storybook/cli sb init
4. npm run storybook

On Docs tab of predefined Stories I see "No code available". The "Show code" button is unlocked after clicking on "Reset controls" or after some switching between Stories.

The problem is reproducible on versions 6.2.1-6.2.4.

And inline mode does not solve the problem.

[2021-04-07 07:32] moroine opened #14497 "[webpack5] DefinePlugin cannot read property 'get' of undefined"
**Describe the bug**
I cannot build storybook using webpack5. I have the following error message with storybook `v6.2.4`:

[code]

I rollback to `v6.2.3` and it works (it's probably caused by `dotenv-webpack` upgrade.

**To Reproduce**

Here is my `main.js` (not the original but this minimal one causes the issue).

[code]

**System**

[code]

**Additional context**
Given the stack trace, it looks

[2021-04-07 07:54] shilman commented on #14497
@paulrosania mind taking a look at this? i think at this point you know the most about this corner of Storybook 🙈

[2021-04-07 08:00] ghengeveld commented on #14456
Would lining up the grid with the centered component make sense here?

[2021-04-07 08:02] thebuilder commented on #14497
Think I'm seeing a related issue when trying to build after upgrading to 6.2.4 - Getting the following error:

[code]

[2021-04-07 08:03] albert-schilling opened #14498 "New version popup disturbs visual regression tests"
**Describe the bug**
The new version available popup disturbs visual regression tests in CI.

**To Reproduce**
First install a not so recent version of storybook, then start and open it. A message pops up indicating that there is a newer version of storybook available.

**Expected behavior**
Although, it is nice to be reminded of newer versions, I would suggest to only display this reminder in the

[2021-04-07 08:05] ghengeveld commented on #14483
Can you provide more context such as the source of this story and your Storybook configuration?

[2021-04-07 08:13] ndelangen commented on #14423
Hello scott (@jwir3) I'm not sure what's going on within sass-loader that the alias doesn't seem to working right.. I was able to get storybook to work on your repro here: https://github.com/FoamFactory/aegir-dupe/pull/1

I hope this helps you somewhat..

[2021-04-07 08:20] dunklesToast commented on #14497
Having the exact same issue. Rolling back to v6.2.3 fixed it for me, too.

[2021-04-07 08:38] markvs1 opened #14499 "Azure (Storage Account) support for Storyblok backup"
hello,

this is a feature request: please add Azure support for the Storyblok backup so companies that have a preferred Azure PaaS policy in place can also use the backup feature.

https://www.storyblok.com/docs/backups

THank you!

[2021-04-07 08:41] ajkl2533 commented on #14111
@brandondurham you can add `viewMode: 'story',` into `parameters` for stories with disabled docs. After that, it will redirect into the canvas tab even when you were on docs before.

[2021-04-07 10:15] shilman commented on #14498
@albert-schilling are you running in dev mode? we recommend running production mode, where the popup should not show.

[2021-04-07 10:46] marvhen commented on #13144
I have this issue attempting to use the [CSF Stories with arbitrary MDX](https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/recipes.md#csf-stories-with-arbitrary-mdx) recipe.

My main.js is more out-of-the-box, with simply:
[code]

My Button.mdx file is:

[code]

...and my Button.stories.ts file begins with:

[code]

I don't have a global.d.ts file but I did try to see what happen

[2021-04-07 10:51] shilman commented on #14474
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.5 containing PR #14493 that references this issue. Upgrade today to the `@latest` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-07 10:51] shilman commented on #14496
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.5 containing PR #14500 that references this issue. Upgrade today to the `@latest` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-07 10:51] shilman commented on #14497
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.5 containing PR #14501 that references this issue. Upgrade today to the `@latest` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-07 10:51] #14474 closed

[2021-04-07 10:51] #14496 closed

[2021-04-07 10:51] #14497 closed

[2021-04-07 10:58] dunklesToast commented on #14497
Build works again! Thanks for the quick patch.

[2021-04-07 11:45] sjwilczynski commented on #14342
For me the workaround didn't work, looking forward to a different solution.

[2021-04-07 11:51] ghengeveld commented on #13687
☝️ This should fix it.

[2021-04-07 12:06] albert-schilling commented on #14498
@shilman Thank you for the quick reply. This makes sense, we'll adjust our CI script. Thanks!

[2021-04-07 12:06] #14498 closed

[2021-04-07 12:22] ajkl2533 opened #14503 "addon-docs: Stories with disabled docs are displayed in --docs mode"
**Describe the bug**
I have several stories used only for visual testing with the disabled Docs tab. I was expecting that those stories will be hidden in the sidebar when I build a static storybook in docs mode (via `--docs` flag). But when I open build storybook I still can see those stories in the sidebar and when I open any of them it opens the docs page with title and `Cannot read property 'id

[2021-04-07 12:36] msisti commented on #14410
Hi @shilman, running storybook with that flag resolved the WSOD issue for me. I'm curious if this is a short-term workaround until something more permanent can be patched in, or if it shows there's an issue with my configuration? Thank you!

[2021-04-07 12:41] SatorCube commented on #14456
That could work as well. The root of the problem is that the grid isn't very useful if components are centered. So if the grid was aligned with the centered component then that would solve that problem.

You would need to account for the component moving in the following cases:

- The preview is resized when
    - Addon pane is closed
    - Fullscreen is entered
    - Navigation pane is closed/res

[2021-04-07 12:49] ghengeveld commented on #14475
There must be something special about either your story or your component, because I cannot reproduct. In fact, `official-storybook` uses a bunch of global decorators as well as [controls](https://github.com/storybookjs/storybook/blob/01d3f8f63cc62b8c4b7a498757498604072178e4/examples/official-storybook/stories/addon-controls.stories.tsx#L8) for `children` and other props, and these work as expecte

[2021-04-07 13:28] shilman commented on #14342
@sjwilczynski do you have a repro repo you can share?

[2021-04-07 13:30] shilman commented on #13144
@marvhen I wonder if one of our typescript wizards can offer a suggestion here. @gaetanmaisse @ndelangen @yannbf @tooppaaa ? ☝️  i'm guessing the workaround for this should be something pretty standard?

[2021-04-07 13:44] shilman commented on #14503
@ajkl2533 I'm not sure if this is the best fix, but I think you could probably do some kind of early-exit thing here:

https://github.com/storybookjs/storybook/blob/next/lib/core-client/src/preview/loadCsf.ts#L193

And here's how to tell whether you're in docs-mode:

https://github.com/storybookjs/storybook/blob/next/lib/api/src/modules/layout.ts#L1

[2021-04-07 14:25] mikestu commented on #12634
The issue may be around the default factory function for Vue props, when running in Storybook, and not anything to do with the stories themselves.  I see multiple issues logged in this repo, related to Vue prop defaults as a function, where it seems to not use the result of the factory function correctly.  Here's one, where he also says "The Default parameter should be the result of an expression,

[2021-04-07 14:37] jgaehring commented on #12634
Yea, I think I found that if you supply the props in all your stories, Storybook does not evaluate the code related to defaults and therefore no error is thrown and nothing breaks. Again, not an ideal fix, just a workaround, and of course that might not work for everyone.

[2021-04-07 14:39] sjwilczynski commented on #14342
Unfortunately, it's a private repository, but we are on the 6.2.3 version of storybook and are using webpack 4. I will see if I can prepare a mock repository resembling the structure of the real one.

[2021-04-07 14:40] chrisdrifte commented on #13269
I got this error after adding a package with `npm install` instead of `yarn add` by accident -- leaving this note in case anyone else makes the same mistake

[2021-04-07 15:29] ghengeveld commented on #14158
Closing this now. Please reopen if there's still an issue.

[2021-04-07 15:29] #14158 closed

[2021-04-07 15:31] ghengeveld commented on #14225
Closing this now, please reopen if there's still an issue.

To be clear, commas *should* work as arg value, but will *not* be included in the URL due to security constraints.

[2021-04-07 15:31] #14225 closed

[2021-04-07 15:55] paulrosania commented on #14497
👀. Fascinating. Sorry about this. Looks like Webpack v5 is being hoisted now in some configurations, leading to the break.

I imagine the upgrade to `dotenv-webpack` causes Webpack 5 to now be hoisted instead of 4 if no version of Webpack is installed directly. This is quite a tangle, as Node's module resolution is going to depend on what gets hoisted, and what gets hoisted is going to depend on t

[2021-04-07 15:57] paulrosania commented on #14497
Folks who suffered from this issue: would you be willing to try the following to help me debug what's going on here?

1. Reinstall the broken version (v6.2.4)
2. Share the `version` field from `node_modules/webpack/package.json`
3. Share the `version` field from `node_modules/dotenv-webpack/package.json`

That would help me create a stable repro.

[2021-04-07 16:14] andykenward commented on #14119
Would changing the `peerDependencies` semver version from
https://github.com/storybookjs/storybook/blob/8a40dbd43106fae798548950dc3096482f3deae7/addons/actions/package.json#L62-L65

to

[code]

Solve the npm 7 install issue?
You can use the [npm semver calculator](https://semver.npmjs.com/) to see what version of `react` that ranger covers.

[2021-04-07 16:19] dunklesToast commented on #14497
FYI: We have a monorepo. We only use WebPack for Storybook but for reasons I also included `yarn why` output.

Validation that 6.2.4 is installed:
[code]

`node_modules/webpack/package.json` => 5.30.0

yarn why:
[code]

`node_modules/dotenv-webpack/package.json` => 6.0.4

[code]

If you need more info, let me know :)

[2021-04-07 16:22] paulrosania commented on #14497
This is super helpful, thank you. Taking a look now.

[2021-04-07 16:29] paulrosania commented on #14497
I have a solid repro case now, thank you for your debugging info!

[code]

[2021-04-07 17:26] gaetanmaisse commented on #13144
Which version of Storybook are you using @marvhen? Because I think it has been fixed in 6.2
I created a sample project, bare Angular CLI + Storybook CLI, and didn't face any issue.

Repo: https://github.com/gaetanmaisse/storybook-angular-mdx
Commit trying to reproduce the issue: https://github.com/gaetanmaisse/storybook-angular-mdx/commit/0102a0926b7ddfea9ab6c77cf74710b294406100

Maybe I missed so

[2021-04-07 17:49] JamesBurnside opened #14505 "Canvas and Preview have conflicting `withSource` properties"
**Describe the bug**

`withSource` from `CanvasProps` from `@storybook/addon-docs` https://github.com/storybookjs/storybook/blob/c61b404a624d1b18027330906e7cf9000043379e/addons/docs/src/blocks/Canvas.tsx#L19

conflicts with

`withSource` from `PreviewProps` from `@storybook/components` https://github.com/storybookjs/storybook/blob/4747fea33f82eb488aa78b8bd3835e5b2e5dfa5d/lib/components/src/blocks/

[2021-04-07 18:04] gyto23 commented on #12472
Have same issue where component contain multiple external files and it cannot import them dynamically on the storybook start.

This is my setup and it also doesnt work

[code]

[2021-04-07 18:11] coderkevin opened #14506 "@storybook/addon-knobs metadata is incorrect"
**Describe the bug**
The `@storybook/addon-knobs` addon is missing the icon and the readme is incorrect (it's the monorepo one)

[2021-04-07 18:35] chadlavi-casebook opened #14507 "upgrading from 6.1.17 to 6.2.5 is a breaking change"
**Describe the bug**

I just ran `npx sb upgrade` on a working storybook app. After the upgrade from 6.1.17 to 6.2.5, I can no longer run storybook, as there seems to be a new babel dependency.

This is the error I get:

[code]

Some googling seems to suggest that [installing some other babel plugins](https://github.com/nrwl/nx/issues/3657#issuecomment-698898192) can solve this, but I don't see wh

[2021-04-07 20:05] chadlavi-casebook opened #14508 "url params don't work for some args (protected names maybe?)"
**Describe the bug**

After reading that storybook supports controlling args through URL parameters [[1](https://github.com/storybookjs/storybook/issues/6133#issuecomment-797551716)] [[2](https://storybook.js.org/docs/react/writing-stories/args#setting-args-through-the-url)], I am trying it out, because I had a great use case for linking to a particular set of props for a component from my release

[2021-04-07 20:13] chadlavi-casebook commented on #14508
This is reproducible in Storybook's own DS storybook: https://5ccbc373887ca40020446347-qrbicufmsd.chromatic.com/?path=/story/button--basic&args=children:hello;appearance:outline

that should show a button with appearance set to outline (which works correctly) and its children set to "hello", but the children arg here has no effect.

[2021-04-07 21:14] shilman commented on #14507
closing as dupe to #14197

[2021-04-07 21:14] #14507 closed

[2021-04-07 21:15] jd-carroll commented on #9282
@shilman Did this ever make it in to [6.2 perf](https://github.com/storybookjs/storybook/milestone/43)?

[2021-04-07 21:29] ghengeveld opened #14509 "UI: Incorrect rendering of document nodes in composed Storybooks"
When a composed Storybook contains `document` nodes (MDX pages), these are not displayed correctly.

<img width="479" alt="Screenshot 2021-04-07 at 23 26 37" src="https://user-images.githubusercontent.com/321738/113937130-ff8c4b00-97f8-11eb-92bc-fb8f00505c25.png">

[2021-04-07 21:32] marvhen commented on #13144
I am using SB 6.2.2 but after comparing my project to yours it turns out that I need the `globals.d.ts` file after all.

I guess the reason it didn't work when I first tried it was I had it in the root of the project and it needed to be in the `src` folder.

Thanks for the help!

[2021-04-07 21:49] shilman commented on #9282
@jd-carroll yes, 6.2 is now tree shaking and the bundle sizes are dramatically reduced. I think there might be more to do here, so I'm leaving the issue open

[2021-04-07 21:52] ghengeveld commented on #14508
I'm not quite sure the DS exhibits the same issue per se. Your problem appears to be with TS inference. I'm going to need more info to debug this. Could you run the following in your Storybook (iframe context) and post the resulting JSON?

[code]

I suspect that the `name` field is reported as object while `color` is a string or option.

I've confirmed a bug in restoring object string values from

[2021-04-07 22:18] vinpac opened #14510 "Missing index.html, only on development mode, after 6.2.5 (had to downgrade to 6.2.3 to work)"
**Describe the bug**
The index.html is not created in development mode on version 6.2.5. I had to downgrade to 6.2.3 for it to work.

**To Reproduce**
1. Start a Typescript project with next.js
2. Run `npx sb init`
3. Run `npm run storybok`
4. Get a 404. If you look at node_modules/.cache ... (where storybook outputs ) you see there's no index.html there.
5. Now build it with `npm run build-storyb

[2021-04-08 01:30] shilman commented on #14510
I wasn't able to repro this following the steps above. I used this typescript setup: https://dev.to/dewaleolaoye/how-to-setup-next-js-with-typescript-8lb

[2021-04-08 01:43] bsastregx opened #14512 "StencilJs"
As the title suggests, my proposal is to bring stencil into the game.
Plase, add support for stenciljs as well!

[2021-04-08 01:51] shilman commented on #14512
closing as dupe to #4600

[2021-04-08 01:51] #14512 closed

[2021-04-08 02:12] Sawtaytoes commented on #14475
@ghengeveld
I see what you're talking about with [global custom decorators](https://github.com/storybookjs/storybook/blob/01d3f8f63cc62b8c4b7a498757498604072178e4/examples/official-storybook/preview.js).

There's also a PR out there to fix this exact issue: https://github.com/storybookjs/storybook/pull/13049, and a bunch of other people have reported similar problems in their PRs. I've also run in

[2021-04-08 03:51] randak opened #14513 "Global types added to the toolbar are illegible when using OSX dark theme"
**Describe the bug**
A clear and concise description of what the bug is.
The dropdown menu on the global types that are defined in the menu is displayed with black text on a black background when using a Mac with dark theme.

**To Reproduce**
Steps to reproduce the behavior:

1. Install the Storybook a11y add-on or define a global type
2. Set Mac to dark theme
3. Click on one of the menus in the t

[2021-04-08 04:30] tmeasday commented on #12634
Just to be clear, you can bypass SB's default props handling by setting `argTypes.defaultValue` directly on the component. Setting an `arg` value works too, though.

You might ask: what is the difference between a default value and an initial `arg` value? The answer is not much really ;)

[2021-04-08 05:41] paulrosania opened #14514 "Adding `funding` to `package.json`?"
**Is your feature request related to a problem? Please describe**
We use `npm fund` to organize our open source sponsorships. I noticed Storybook accepts funding through Open Collective on GitHub, but not listed in `package.json`, so `npm fund` doesn't turn up Storybook.

**Describe the solution you'd like**
Add a link to Open Collective in packages' `package.json`. (It would need to be in subpack

[2021-04-08 05:52] moroine commented on #14497
v6.2.5 works on my side too!

I did check the versions of `node_modules/webpack/package.json` & `node_modules/dotenv-webpack/package.json` and I had the same as dunklesToast.

[2021-04-08 06:13] dexster commented on #14193
Yeah, I see inline mode no longer solves this for me anymore.

[2021-04-08 06:27] dexster commented on #14193
Maybe it was never working correctly. I have been manually setting the source code using parameters.source.code. Doing this   makes the source code view available immediately.

[2021-04-08 06:45] gaetanmaisse commented on #13144
@jiheapark can you give it a try with SB 6.2 too and let me know if you're still facing the issue?

[2021-04-08 06:46] yannbf commented on #11124
Hey @apapadopoulou hit me up on discord if you'd like! Yann#9096

[2021-04-08 07:52] tobyhinloopen opened #14515 "Typescript constructor arguments get thrown away (with example repo)"
**Describe the bug**

Storybookjs's standard out-of-the-box compiler configuration for react typescript applications incorrectly compile Typescript code by removing some constructor bodies. Specifically, my class:

**my `time.ts` class**
[code]

is compiled to:

**BROKEN JS code as generated by storybookjs**
[code]

Note how `this.time = time` is missing. The correct JS code should be something li

[2021-04-08 08:37] nitesh3539 commented on #12576
### Storybook did not show the argsTable for my **HOC** propTypes

is there any other approach to do this apart from above approach?

[code]
System:
OS: macOS 11.2.3
Binaries:
Node: 12.7.0
npm: 6.10.0
Browsers:
Chrome: 77.0.3865.120
npmPackages:
"@storybook/addon-links": "^6.0.22",
"@storybook/addon-storysource": "^6.0.22",
"@storybook/addons": "^6.0.22",
"@storybook/react": "^6.0.22",
![077FD762-

[2021-04-08 08:43] daviddelusenet commented on #13893
Some additional information from my end, I currently have the following (dev) dependencies:

[code]

I'm in the process of updating of all my dependencies, this is the result of `npm outdated`:

[code]

With this setup everything is working fine. Now let's try to update to Webpack 5:

`npm i webpack@latest webpack-cli@latest && npm i -D @storybook/builder-webpack5`

Add the following part to my `m

[2021-04-08 08:45] pmccreadycs commented on #14273
@chris-erickson did you manage to find a way around it by any chance? I'm having the same issue

[2021-04-08 09:54] mbootsgezel opened #14516 "Storybook v6.2.1 with React executes useEffect code even when not selected"
**Describe the bug**
When initially loading Storybook, it renders every function component available. This causes every other function component besides the one actively selected in Storybook to execute any API calls in their `useEffect()` or `useLayoutEffect()`, even though they are not needed (yet).

**To Reproduce**
Steps to reproduce the behavior:

1. Create a stories file like so `Test.storie

[2021-04-08 10:00] cascornelissen commented on #13893
I ran into a similar problem and had to install both `html-webpack-plugin@latest` and `terser-webpack-plugin@latest` manually to resolve everything. To figure out which plugin you need to install check the stacktrace that's included in the error. The second line starting with `at` usually shows which dependency is causing the issue.

So in the [previous comment](https://github.com/storybookjs/stor

[2021-04-08 10:53] turbulent-desfossez commented on #14410
--no-manager-cache didn't solve my problem.
I dig the problem and found something:

node_modules\@storybook\vue\node_modules\@storybook\ui\dist\components\preview\preview.js

cannot find: merge.

`var _merge = _interopRequireDefault(require("@storybook/api/dist/lib/merge"));`

indeed; it was not in the package :
![image](https://user-images.githubusercontent.com/76117287/114014573-0ce11e00-9869-11

[2021-04-08 11:03] cksal0805 opened #14517 "@storybook/addon-knobs install in devDependencies"
The storybook documentation tells you to install it in'devDependency',
but if you install it in'devDependency',
it says" **'@storybook/addon-knobs' should be listed in the project's dependencies, not devDependencies.** "

Looking at the packages, it seems that there are some packages that are used in production mode.
Is it correct to install it on devDependency?

[2021-04-08 11:33] mvz commented on #12784
This shortcut interferes with history back in Firefox on Linux as well.

[2021-04-08 11:41] azvfx commented on #14257
We are experiencing this issue as well, however it's hit and miss, sometimes it works sometimes it doesn't. Our project has to use Yarn dependency resolution for webpack 5, it may have something to do with that as some parts of storybook is still using webpack 4.

[2021-04-08 12:08] anilanar commented on #10967
I can reproduce this using v6.2.5 with `react-docgen-typescript` via 0 config setup, for React properties that are optional and whose types are `number`.

[2021-04-08 13:05] RGunning opened #14519 "Angular actions Regex matching internal methods"
**Describe the bug**

 `export const parameters = {
  actions: { argTypesRegex: "^on[A-Z].*" },
}` matches and intercepts methods within Angular components.

 i.e. If a component has an internal method called onButtonClick then this will be matched by the actions regex and the internal method will no longer be called https://github.com/RGunning/storybook-bug-mwe/blob/master/stories/methodname-bug.

[2021-04-08 13:19] domyen commented on #11124
Nice! Here's an example of the `BadgeCount` UI we're moving towards for counters:
![image](https://user-images.githubusercontent.com/263385/114032406-46eef780-984a-11eb-848a-1c9ae5ffa25a.png)

We don't have a component for this in Storybook yet. The Figma spec https://www.figma.com/file/woQ3HfwrxO84lXKvv7Gq2O/BadgeCount?node-id=0%3A1

[2021-04-08 13:31] pmccreadycs commented on #14273
Hope this helps others. I managed to solve my issue with Gatsby 3 and Storybook 6.2.5 (with Webpack5). I initially followed https://gist.github.com/shilman/8856ea1786dcd247139b47b270912324

I had to change my main.js file to include the following webpack config:

[code]

[2021-04-08 13:42] RGunning opened #14520 "Angular Input setter/getter syntax with default options"
**Describe the bug**

Setting a default argument for a component input that uses getter/setter syntax no longer sets the initial view correctly. The internal setter is called correctly, but the view doesn't re-render to match the input. This is despite a changeDetectionRef markForCheck or detectChanges.

However, once the initial render is done toggling the control will render correctly.

Inputs t

[2021-04-08 14:16] gpolanco commented on #12977
This problem is solved in the latest update?

I have version 6.2.4, and I have this same error

[2021-04-08 14:42] #13928 closed

[2021-04-08 15:19] ajkl2533 opened #14521 "controls: Boolean props interpreted as strings for radio control"
**Describe the bug**
After upgrade to v6.2 I started to see warnings in the console `Received illegal value for '{{propName}}'. Supported options: 'false', 'true'`. I was used to that boolean props are interpreted as `radio` control type, but it was using at least real `true` and `false` values (not strings).

**To Reproduce**
Steps to reproduce the behavior:

1. Clone https://github.com/securitys

[2021-04-08 15:28] shilman commented on #14521
I think what's going on here is an unintentional breaking change in the way argTypes are extracted for React/Typescript. Specifically, there are changes to the default `reactDocgenTypescriptOptions` configuration:

[code]

In your repo, you're overriding the settings so the new 6.2 config changes are not getting applied, and downstream 6.2 code is breaking because of it.

I think we should:
- [ ]

[2021-04-08 15:48] marvhen commented on #10921
I am interested in this functionality.  Any updates?

[2021-04-08 16:36] shilman commented on #13928
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-alpha.1 containing PR #14473 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

[2021-04-08 16:36] shilman commented on #14079
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-alpha.1 containing PR #14313 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

[2021-04-08 16:36] shilman commented on #14280
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.3.0-alpha.1 containing PR #14459 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-04-08 16:36] #14280 closed

[2021-04-08 16:41] theAdhocracy opened #14523 "Controls incorrectly populating an undefined option"
**Describe the bug**
Since upgrading to v6.2.5 all optional component props using string literals are also outputting an "undefined" option. Whilst technically accurate, this is causing confusion with users, particularly where default prop values are set that would make an `undefined` value an impossible outcome.

Using TypeScript and React. We've upgraded directly from v6.1.2 so unclear exactly w

[2021-04-08 16:46] mercs600 opened #14524 "vue-docgen-api: failed to parsed when exported component use "as" with typescript"
**Current behavior**
We have exported components this way (for better typing extended components with composition api)
[code]

But this way of exporting causes warnings in storybook:
[code]

**To reproduce**

Just export some component as default and add some as typeof operator:

[code]
**Expected behavior**

I would like to use "as" operator without any warnings.

[2021-04-08 17:01] Shane32 opened #14525 "Provide configuration option to set which stories apply to which storyshots test runs"
## Summary
I'm using addon-storyshots with puppeteer to create visual regression tests for a variety of devices/resolutions of a React app.  However, many storyshots do not need to be created for certain resolutions.  For example, a simple component (e.g. a button) need only be rendered once with a predefined viewport, where as the homepage view should be rendered multiple times for multiple devic

[2021-04-08 17:06] chadlavi-casebook commented on #14508
@ghengeveld thanks for getting back to me!

here's what I get:

[code]

[2021-04-08 17:21] KrofDrakula commented on #13928
Sweet! Thanks.

[2021-04-08 18:08] artaommahe commented on #14197
caught this bug after updating 6.2.0-alpha.24 -> 6.2.5. Nothing from this thread helped 😕 6.2.0-rc.1 works well though

[2021-04-08 20:17] yannbf commented on #12977
Hey @gpolanco could you please paste here your main.js file? the addons section of it

[2021-04-08 22:16] WikiRik commented on #14433
I get the same issue, but for a Vue application.

[code]

[2021-04-09 00:28] stuartizon-x commented on #14496
Amazing. Thanks for your prompt support!

[2021-04-09 00:43] blankwavearcade commented on #14513
Hi, I’d like to work this issue.

[2021-04-09 01:11] shilman commented on #14513
Thanks @blackwavearcade! 🙏

[2021-04-09 01:19] shilman commented on #14524
Might this issue be better filed here? https://github.com/vue-styleguidist/vue-styleguidist

cc @elevatebart

[2021-04-09 01:20] shilman commented on #14523
Do you have a repro repo you can share?

[2021-04-09 01:26] shilman commented on #14517
`@storybook/*` packages should generally be listed in `devDependencies` because you are using them to develop your app/library/design system, but you don't want to ship those dependencies with your app/library/design system. Do you know what's printing that warning?

===

Also, FYI, we’ve released `addon-controls` in Storybook 6.0. Controls are portable, auto-generated knobs that are intended to r

[2021-04-09 01:29] shilman commented on #14410
@turbulent-desfossez Did you make sure all your storybook packages are upgraded, try removing `node_modules` and/or lockfiles and reinstalling? You shouldn't need to do that.

[2021-04-09 01:42] shilman commented on #14193
@dexster the difference between your work around and the default behavior for stories that accept args as their input is that the `source.code` parameter is static, and the default snippets are dynamically rendered with the live value from the controls.

[2021-04-09 01:44] shilman commented on #14514
@paulrosania sounds great! can you make a PR for this? would love to get this in.

[2021-04-09 02:16] tmeasday commented on #14521
@ajkl2533 - I am not seeing the problem you've outlined -- I followed the steps you mentioned above and I don't see any browser warnings:

<img width="2401" alt="image" src="https://user-images.githubusercontent.com/132554/114119089-585d0000-992d-11eb-9412-9551aca069cd.png">

Perhaps you might try the old blowing away and reinstalling `node_modules`?

[2021-04-09 02:30] shilman commented on #14521
@tmeasday he probably fixed it already. from discord:

[2021-04-09 02:31] shilman commented on #13687
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.6 containing PR #14502 that references this issue. Upgrade today to the `@latest` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.