[2017-11-21 17:49] Hypnosphi commented on #1570
We don't use it directly, only via webpack's builtin plugin

[2017-11-21 17:50] Hypnosphi commented on #1513
I love the idea

[2017-11-21 18:04] dangreenisrael commented on #1513
I may have some time later this week that I could use to start digging into this. `3.3` or `master`?

[2017-11-21 18:05] dangreenisrael commented on #1513
@Hypnosphi

[2017-11-21 18:39] ndelangen commented on #1981
@TroySchmidt First of all, thank you so much for giving the 3.3 alpha a go! 🙇
It means a lot!

Second: sorry to hear it's not been a happy road, we will fix the problem!

[2017-11-21 18:45] AlexanderTserkovniy opened #2346 "Storyshots does it really checks based on screenshots?"
Hi guys,

Sorry for bothering you with such a silly question, but I can't make heads of the comparison feature of the addon.

In all the examples (in README.md of Storyshots project and in the [Jest snapshot testing](https://facebook.github.io/jest/docs/en/snapshot-testing.html)) is shown only the process of comparing attributes and text inside a component.

**But what about CSS and Styling?**

Wh

[2017-11-21 19:24] Hypnosphi commented on #2346
Storyshots are not visual screenshots, they are rather snapshots of your React tree. So it won't detect a difference in styling unless those styles are inline.

There are multiple tools for visual diffing that can be used with storybook, maybe @ndelangen can tell you more about options that you have

[2017-11-21 20:43] ndelangen commented on #2346
You can roll-your-own using something like https://github.com/GoogleChrome/puppeteer
or you could use a premade SAAS solution like https://percy.io/ or https://screener.io/

[2017-11-21 22:34] ndelangen commented on #1513
base off of `3.3` but I don't expect it to get merged before release, because that's close now.

[2017-11-21 22:39] shilman commented on #269
@Insayt @LTiger14 @MTariqAziz @MathieuFouillet @Quramy @RemiAWE @VadimDez @aitboudad @bermanboris @cheapsteak @christian-bromann @diagramatics @dlcardozo @elad-morphisec @jbueza @johannesjo @jshthornton @justinlee0777 @mixn @npatta01 @qrrock @realappie @ruedap @tiny-dancer @tycho01

Angular2+ support is in alpha (`3.3.0-alpha.3` to be precise) thanks to a herculean effort from @alterx to get it wo

[2017-11-21 22:40] ndelangen commented on #1728
Will happen at some point as part of https://github.com/storybooks/storybook/issues/1108

[2017-11-21 22:55] ndelangen commented on #1005
I will give this on my high priority list to work on after the 3.3 release.

Related:
https://github.com/storybooks/storybook/issues/1570#issuecomment-345896597

[2017-11-21 22:55] ndelangen commented on #1981
https://github.com/storybooks/storybook/issues/269#issuecomment-346184773

[2017-11-21 23:05] ndelangen commented on #1892
@TroySchmidt I'm real sorry you're experiencing these issues, We're working hard resolving the issue, but it's a non-trivial problem to solve.

@Hypnosphi has proposed a solution that involves moving the dependency of the @storybook/addons package to a peerDependency.

[2017-11-21 23:35] aitboudad commented on #269
@shilman running `yarn getstorybook` throw the following error:
[code]

changing the file `node_modules/@storybook/cli/bin/index.js:1` would solve the issue:
[code]

[2017-11-22 00:55] Hypnosphi commented on #269
Weird, we actually use babel-register in `cli@alpha`

[2017-11-22 00:59] Hypnosphi commented on #269
@aitboudad which node version do you use?

[2017-11-22 01:04] aitboudad commented on #269
v8.9.0, It's not related to node version but it's about babel which ignore transpiling all files located in the `node_modules`

[2017-11-22 01:20] aitboudad commented on #269
@shilman the second issue I have got is
[code]
solved by setting [transpileOnly](https://github.com/TypeStrong/ts-loader#transpileonly-boolean-defaultfalse) to true in `/node_modules/@storybook/angular/dist/server/config/webpack.config.js`
[code]
### Missing feature:
Passing a custom `NgModule`:
Right now there is not way to pass a custom [NgModule](https://github.com/storybooks/storybook/blob/rel

[2017-11-22 02:58] pelotom opened #2348 "Superfluous vertical scrollbar in fullscreen"
In full screen mode, there is always a vertical scrollbar with a minute amount of wiggle room (maybe 1 pixel). This is with a brand new storybook:

![image](https://user-images.githubusercontent.com/128019/33107631-5dbc4944-cef5-11e7-85f6-c2c7a3781a42.png)

It doesn't matter what the actual content is or how you resize the window, although if you make it small enough that the content doesn't fit t

[2017-11-22 05:52] tmeasday commented on #614
This is actually easy to reproduce. Follow these steps carefully (tested on current `release/3.3`):

1. Load the `cra-kitchen-sink` storybook
2. Browse to http://localhost:9010/ (that exact path).
3. Browse to a different story (not the welcome story).
  - Notice that the main URL will change
  - Also notice the iframe URL will *not* change.
4. Add `throw new Error("foo");` somewhere in some story

[2017-11-22 06:14] tmeasday commented on #614
See https://github.com/storybooks/storybook/pull/2349

[2017-11-22 06:14] tmeasday commented on #1328
See https://github.com/storybooks/storybook/pull/2349

[2017-11-22 09:40] Hypnosphi commented on #269
Oh I see, will fix. I wonder how it used to work before

[2017-11-22 10:26] Hypnosphi commented on #2348
Would you like to make a PR?

[2017-11-22 11:00] hermanvos commented on #1570
Will try and come up with a pull request over the next couple of days...

[2017-11-22 11:35] shilman commented on #269
@aitboudad  Thanks so much for debugging this! @Hypnosphi fixed the CLI issue and I just released it. Will try to get the angular fixes out soon!

https://github.com/storybooks/storybook/releases/tag/v3.3.0-alpha.4

[2017-11-22 13:18] klh opened #2351 "expose iframe.html.ejs to user via config object."
instead of the whole ```preview-head.html``` thing just expose the complete ```iframe.html.ejs``` template via the config object.

usage scenarios:
- for instance, adding lang="myLanguage" to the Html tag (impossible to do with the current solution.)

it would just make life easier for most people.

[2017-11-22 13:23] lcsrinaldi opened #2352 "Not able to change overlay style"
https://github.com/storybooks/storybook/blob/0ed6e1f75bbb1a911306be0afdb42742df5cadd8/addons/info/src/components/Story.js#L159

I'm trying to remove some padding from the overlay page, but I saw it's using the default stylesheets object instead of the one from the component state.

Is this on purpose?

[2017-11-22 14:34] alterx commented on #269
@aitboudad, we're aware of that missing feature and we're trying to make up for that. The issue with custom NgModules is that, with our current implementation, we build our modules programatically and provide them. I have some changes in my local to allow passing providers and schemas but right now we can't just allow to pass custom modules as a module could potentially contain multiple components

[2017-11-22 14:36] alterx commented on #269
Also, using transpile only will leave you without type checking. We need to look into this before making this change.

[2017-11-22 14:43] AlexanderTserkovniy commented on #2346
Ah I see, thanks guys. What do you think about Gemini, should it work as screenshots checker?

[2017-11-22 15:05] aitboudad commented on #269
What if my component require some external modules like material or whatever to work, how we could handle it with the current approach?

[2017-11-22 15:18] Hypnosphi commented on #2346
Sure, you need to
[code]
in your `button.gemini.js`

[2017-11-22 15:25] AlexanderTserkovniy commented on #2346
And how is it going now?

[2017-11-22 15:30] alterx commented on #269
In that case it should suffice with providers, imports and schemas (in case you need, idk, custom elements). The issue with letting a custom module in is that we can't control the amount of components that an user can submit and it could potentially break. Storybook is about developing and testing component as isolated units. This works a bit different in React and Vue but for angular we need to m

[2017-11-22 15:38] Hypnosphi commented on #2346
Here's the snippet I use for generation:

[code]

[2017-11-22 16:01] #2346 closed

[2017-11-22 16:29] alterx commented on #269
@aitboudad I tried to replicate your issue with a freshly created `@angular/cli` app and `getstorybook` but everything works as expected. Could you provide some more details about your setup? Angular version? TypeScript version?
I won't not be able to test it right away, tho.
![screen shot 2017-11-22 at 10 27 33 am](https://user-images.githubusercontent.com/1593752/33138365-f4c9b52c-cf6f-11e7-8c89

[2017-11-22 16:39] aitboudad commented on #269
@alterx just tried again and it seems to be working fine with the new alpha version, thanks!

[2017-11-22 16:51] alterx commented on #269
Oh, perfect!
And rest assured, we have plans to support some way to provide imports, providers and so on to the module we create. We just need to figure it out :)

[2017-11-22 19:22] Chris502 commented on #2139
Has anyone found a fix for this? I have encountered the same issue in my project. It wont render in the storybook at all.

[2017-11-22 19:56] ToniaDemchuk commented on #269
Just tried to run storybook/examples/angular-cli with the following package versions:
[code]

It crashes in browser console after navigate to _Addon Knobs_ components with the error while trying to get `component.__annotations__[0]`:
[code]

[2017-11-22 22:07] marcobiedermann opened #2355 "Bug: CSS Source Maps"
I am using a custom `webpack`configuration which includes `postcss-loader`. Although I enabled source maps the outputted files are not mapped correctly to the file.
Apart from that everything is working fine.
Any idea why the mapping is off? Do I have to enable another configuration?

`.storybook/webpack.config.js`
[code]

`./postcss.config.js`
[code]

`./packages/module/stories.jsx`
[code]

[2017-11-23 01:22] shilman commented on #269
@ToniaDemchuk Thanks so much for testing it out. How did you set it up on your machine? Can you share a repro? Many thanks!

[2017-11-23 05:43] scttcper commented on #269
Hey guys, super pumped on how easy this was to add. Few issues.

I had to add `"@storybook/addon-notes": "3.3.0-alpha.4",` to package.json as well.

Is there a way for it to respect my local typescript paths? They're defined in tsconfig.
repo: https://github.com/scttcper/ngx-color

[2017-11-23 06:41] davidhouweling commented on #2303
Also related would be the use of react-transition-group (present libraries are using version 1, whereas version 2 is available).

[2017-11-23 07:43] ktj opened #2356 "Native storybook with storyshots broken when using knobs"
When using knobs addon in native storybook, storyshots fail
[code]

I made a reproduction of the problem:

https://github.com/ktj/storyshots-knobs-repro

run `yarn test`

Problem line: https://github.com/storybooks/storybook/blob/master/addons/knobs/src/index.js#L74
window is undefined in native

[2017-11-23 09:23] Vinnl opened #2357 "Lodash modules not found from within velocity-react"
I finally got around to setting up the community-maintained Storybook (I'd used the Kadira one before), but I'm running into an odd error. `start-storybook` appears to mostly run fine, except that it outputs several instances of the below error:

    ERROR in ./node_modules/velocity-react/velocity-transition-group.js
    Module not found: Error: Can't resolve 'lodash/collection/each' in...

It doe

[2017-11-23 10:53] ToniaDemchuk commented on #269
@shilman The example you can find here https://github.com/ToniaDemchuk/storybook/tree/angular-4.3.5-sample
Setup commands:
[code]
Open `localhost:9009` in browser and navigate to _Addon Knobs > Simple_ in menu

[2017-11-23 13:36] #1852 closed

[2017-11-23 14:57] joe-strummer commented on #1779
Just a little workaround for anyone not upgrading to the alpha yet.

If scrolling has frozen due to using the resize grabber in the middle, resizing the actual browser window will unfreeze it. I've been resizing the browser to test responsive design, which works fine.

[2017-11-23 16:11] luetkemj opened #2358 "addon-info - setDefaults styles not working"
Not sure if this is a bug or if I am just doing something wrong.

I've read the docs and viewed the available styles to be overridden in
`addon-info/src/components/Story.js` but I've had no luck seeing any styles change.

The info is displaying inline so I know that the setDefaults object is working. It is located in my `.storybook/config.js` file and looks like this:

[code]

Version:
[code]

[2017-11-23 17:16] IssamAlhail opened #2360 "I want install cordova : npm install g- cordova"
npm ERR! code E404
npm ERR! 404 Not Found: g-@latest

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\[MynameComputer]\AppData\Roaming\npm-cache\_logs\2017-11-23T17_10_36_232Z-debug.log

[2017-11-23 20:30] Hypnosphi commented on #2360
This is not cordova repository, but you probably need to put the dash before `g`:
[code]

[2017-11-23 20:30] #2360 closed

[2017-11-23 20:35] PaulieScanlon opened #2361 "Fonts not loading"
Apologies if this has been asked before, i have had a look around the issues and there are various mentions of fonts not loading using Create React App / Webpack 2 and Scss.... but i couldn't find a definitive answer or solid solution. Can anyone point me in the right direction please? Ty in advance!

[2017-11-24 08:26] ximenean opened #2362 "native storybook unable to resolve babel aliases"
I had a working storybook that broke when upgrading to RN 0.50. It can no longer resolve the babel aliases. The package was created with react-native init

RN: 0.50.3
Storybook: 3.2.16

My babelrc:

[code]

[2017-11-24 08:50] ximenean commented on #2362
Looks to be due to a breaking change in RN 0.50.
See https://github.com/facebook/react-native/commit/023ac57337b351959d443133c3c09607c4ffc800

Can be resolved by creating a `rn-cli.config.js` file with the following contents:

[code]

[2017-11-24 10:03] ritz078 commented on #2362
Switch to haul just for storybook. That works.

[2017-11-24 10:17] zvictor commented on #2021
I had the same problem. In my case I had `react-test-renderer@16` installed along with `react@15`. Downgrading to `react-test-renderer@15` solved the issue for me.

[2017-11-24 11:30] ximenean commented on #2362
@ritz078 not for me. Haul runs in to issues with some of my dependencies. Specifically victory-native

[2017-11-24 15:24] folmert opened #2363 "Support svg assets"
Svg assets don't seem to be supported in Storybook, because I get error:

which is:
[code]

Coming from:
[code]

I've added following rules for svg files to storybook's webpack config:
[code]

and I try to inject generated svg sprites with [svg-sprite-injector](https://github.com/TrySound/svg-sprite-injector) (couldn't find a better way, any alternatives?):
[code]

Anyhow, it works on webpack's de

[2017-11-24 15:35] rsimsek commented on #2021
I have react@16 and  react-test-renderer@16 and still fails.

[code]

[2017-11-24 19:16] Hypnosphi commented on #2021
What does `npm list react` output for you?

[2017-11-25 03:45] sandinosaso opened #2366 "Update documentation about using the addon-jest"
Hi,
Thank you for the great job here guys. Just a small typo that can frustate new user because if you follow the Documentation you got a Red screen error with no enough information to know what is going on.

You should change:
`import withTests from '@storybook/addon-jest';`
For this:
`import { withTests } from '@storybook/addon-jest';`

At https://github.com/storybooks/storybook/tree/master/addo

[2017-11-25 04:20] sandinosaso commented on #2366
Another typo I noticed, but in the code, is when no file found for a story that has tests configured on it, it says: 'This story has tests configures, but no file not found', it should say:
'This story has tests configures, but no file was found'

This is in components/Panel.js line 101.

Thank you

[2017-11-25 04:28] sandinosaso opened #2367 "No tests found using the addon-jest"
Hi, thank you for this great tool, today I decided to use the addon-jest and found some problem, not sure if I am using it properly or it is a real bug.

I followed the documentation of the addon-jest and I got the 'This story has tests configures, but no file not found' (by the way I reported the typo, it should be 'was found' instead.

Not sure what is going on, I inspected the code and found th

[2017-11-25 09:42] Hypnosphi commented on #2366
Hi sandinosaso! Can you please send a PR? If you need to change only one file, you can do that right from GitHub UI, using pencil icon: https://github.com/storybooks/storybook/blob/master/addons/jest/README.md

[2017-11-25 09:57] Hypnosphi commented on #2367
Which version of `@storybook/addon-jest` do you use?

[2017-11-25 13:49] kentcdodds opened #2368 "Allow fileExt to be optional"
Right now if you don't provide one this will append `undefined` to the end of the regex:

https://github.com/storybooks/storybook/blob/087647673aedfe925496698a4e9c3a6106b967f4/addons/jest/src/index.js#L9

[2017-11-25 13:51] kentcdodds opened #2369 "Make a default location for the jest results"
This way, so long as people are using the default location, they don't need to worry about providing it to the `withTests` function at all. Combine that with https://github.com/storybooks/storybook-addon-jest/issues/5 and https://github.com/storybooks/storybook-addon-jest/issues/4 and folks could do something as simple as:

[code]

As an idea, the default location could be in `./node_modules/.cach

[2017-11-25 13:58] Hypnosphi commented on #2368
Looks like it's just a matter of using empty string as a default value. If anybody wants to make a PR, go for it

[2017-11-25 14:05] Hypnosphi commented on #2316
@storybooks/team how do we decide that alpha is tested enough?

[2017-11-25 14:39] ndelangen commented on #2368
If anyone new to storybook or open source in general wants to take this issue, I'm available to help!

[2017-11-25 14:51] Promhize commented on #2368
@ndelangen just dabbling into open source. Would make a PR

[2017-11-25 15:32] ndelangen commented on #2368
@Promhize
You'll have to
1. Fork the repo
2. Clone the forked repository to your computer
3. Create a branch named `feature/default-`
4. Edit the following file: `addons/jest/src/index.js`
    The change to apply: change line 3 from:
[code]
    to:
[code]
5. Commit the changed file and push to the remote
6. Go to our github page here: https://github.com/storybooks/storybook
7. GitHub should sugges

[2017-11-25 15:35] lifeiscontent opened #2374 "@storybook/addon-info not working properly when building static styleguide"
Hey there, I'm using recompose to build my UI Components and I'm not sure if that has anything to do with it, because when I run storybook e.g. `yarn storybook` from a create-react-app it works as expected but not when I build-storybook.

So the issue, is when I've set my propTypes, they display as expected, but when I run a build all of the propTypes types are equal to node, which is obviously a

[2017-11-25 16:12] Promhize commented on #2368
@ndelangen thanks. Looking to make further contributions. You all are awesome

[2017-11-25 18:32] sandinosaso commented on #2367
Hi, I am using
`"@storybook/addon-jest": "^3.2.16",`
And jest version is
`"jest": "^21.2.1",`
along with react 16:
`"react": "^16.1.1",`

Is this expected, I can not find in the code where options.tests came from? I think I am missing the part of the code that does the actual parsing of the json test results.

Regards.

[2017-11-26 00:27] Hypnosphi commented on #2369
Sounds like a good idea.

More generally, supplying a file location string instead of imported JSON feels like a better API.  Not sure this is possible for dynamic strings though, given that `addon-jest` runs in a browser

[2017-11-26 02:25] kentcdodds commented on #2369
Yeah, I'm fine having to import it manually if I place it in the non-standard location. That actually makes the most sense to me. But having a standard place for it so I don't have to import it sounds good.

[2017-11-26 04:16] sandinosaso commented on #2366
Hi Hypnosphi !! Sure: https://github.com/storybooks/storybook/pull/2376

[2017-11-26 12:14] lifeiscontent opened #2377 "React Docgen Integration not working as expected"
when using `@storybook/addon-info` I've tried to document my prop types of my react components but they don't seem to show up.

any ideas why? I'm using create-react-app. do I need to save `babel-plugin-react-docgen` as a dev dependency?

[2017-11-26 12:33] ndelangen commented on #2316
I've used alpha.4 react version on my current project, works great!

[2017-11-26 13:35] Hypnosphi commented on #2316
I use it on mine since day one =)

[2017-11-26 14:00] lifeiscontent opened #2379 "Feature request: storybook-addons-knobs"
is it possible to turn the knobs into state machines so you could call setState on them?

e.g. allowing the setState function to be passed to an input to have the input update the value of the knob.

Would be a nice addition to the addon.

[2017-11-26 15:56] #2366 closed

[2017-11-26 16:43] #1853 closed

[2017-11-27 01:55] syneva-runyan commented on #2196
Put in pull request for the warnings in release/3.3 https://github.com/storybooks/storybook/pull/2381/files

[2017-11-27 10:40] #1777 closed

[2017-11-27 11:46] folmert opened #2382 "ERR! FAILED: @storybook/vue@3.2.16 when installing forked storybook"
Steps to reproduce:

1. Fork this repository.

2. `cd storybook/app/vue`

3. `npm i -g @storybook/cli`

[code]

4. `getstorybook`

[code]

5. `yarn storybook`
[code]

[2017-11-27 12:00] folmert commented on #2382
Output from debug.log:

[code]

[2017-11-27 12:44] dmitrymalakhov commented on #2367
Hi everybody! I too have experienced the problem described above.

[code]
My problem here is "jest --json" use "testResults" in output file, but "addon-jest" use "options.results"

[code]
And "findTestResults" gets the value of "jestTestResults" is undefuned

![screenshot from 2017-11-27 15-43-46](https://user-images.githubusercontent.com/2477267/33267204-aaae5d80-d389-11e7-90cb-1c4f52b8ab25.png)

[2017-11-27 14:21] clementallen commented on #2374
Possible duplicate of #1661

[2017-11-27 14:33] clementallen opened #2383 "Background does not persist when changing between story scenarios"
When using a custom background, it resets to the default when changing to a different story scenario.  I'm not sure if this is deliberate or not but it seems like it would be more convenient to persist the background when changing.

Demo:
![storybook-background-bug](https://user-images.githubusercontent.com/6305750/33271665-d030eb68-d37f-11e7-9cda-b8c863bd95f7.gif)

[2017-11-27 16:25] Maxhodges opened #2384 "vue storybook install fails"
The example yields
[code]

[2017-11-27 16:52] waltermvp commented on #2063
@quyentranvan which do we run first?

`npm run storybook` or `react-native run-<platform>.`

[2017-11-27 16:58] Maxhodges commented on #2384
another user is reporting the same issue on discord

[code]

[2017-11-27 17:59] andrewmartin commented on #2039
If I can learn how to add the keyboard shortcuts properly, e.g. the main steps involved –– I'd love to contribute a PR for this

[2017-11-27 18:29] TroySchmidt commented on #1892
@Hypnosphi @ndelangen update on using alpha.4 it is back to building locally with the panels showing.  But now I am getting a undefined error in KnobManager when it is trying to ```_this.channel.emit('addon:knobs:setKnobs',...```

The actions panel is working properly.

[2017-11-27 19:34] Hypnosphi commented on #2039
Sure, here's the contributing guide: https://github.com/storybooks/storybook/blob/master/CONTRIBUTING.md

You need to do the following to start:
— fork the repo and checkout to the `release/3.3` branch
— `yarn install`
— `yarn bootstrap --core`
— `yarn dev` to watch & autobuild the sources (this one should keep running in background)
— `yarn start` to launch the example app

The code for shortcuts

[2017-11-27 19:46] vpandura commented on #2382
Getting the same error!!

``npm WARN react-native@0.50.4 requires a peer of react@16.0.0 but none was installed
``

[2017-11-27 20:17] tobilen opened #2387 "No horizontal Scrollbar on Sidebar (Firefox 57+)"
Seems to be the flex-basis of 0% on one of the nested pane divs. I changed it in the second screenshot and it works.

![image](https://user-images.githubusercontent.com/8217788/33287348-b6558eea-d3b8-11e7-8dd8-97c8119e89f2.png)

![image](https://user-images.githubusercontent.com/8217788/33287404-d529e550-d3b8-11e7-9df2-992fb72aa546.png)

[2017-11-27 20:42] Hypnosphi commented on #2063
It doesn't matter, they should run in parallel, in separate terminal tabs

[2017-11-27 21:15] neo commented on #269
This worked:
![image](https://user-images.githubusercontent.com/9028430/33289561-fc2068ee-d38d-11e7-83c6-c8957e6ca92e.png)

This didn't:
![image](https://user-images.githubusercontent.com/9028430/33289586-090d72b8-d38e-11e7-8246-6368d37f59e1.png)

Error in console:
![image](https://user-images.githubusercontent.com/9028430/33289618-22346062-d38e-11e7-991b-3403bc06076e.png)

[2017-11-27 22:00] FDiskas commented on #1519
Same issue for me. Any news about that? :mailbox_with_mail:

[2017-11-27 22:11] Hypnosphi commented on #2387
Hi @tobilen =) Feel free to send a PR

[2017-11-27 22:15] Hypnosphi commented on #2382
You need to run `yarn bootstrap --core` in the root to install all the dependencies, cross-link and transpile the local packages. See contributors guide: https://github.com/storybooks/storybook/blob/master/CONTRIBUTING.md

By the way, the examples for Vue Storybook live in `examples/vue-kitchen-sink`, so you shouldn't need to add storybook in `app/vue` directory

[2017-11-27 22:35] lifeiscontent commented on #2374
@clementallen I also noticed it's not working when using recompose.

[2017-11-27 23:17] #1897 closed

[2017-11-28 03:23] tmeasday commented on #1191
Hmm, maybe we should just make this change @shilman ;)

[2017-11-28 03:25] tmeasday commented on #894
Looking at this again, I reckon the real "solution" here is to not put JS includes in `preview-head.html`.

I wonder if the problem (needing static includes) could be solved in some other way, like a require from `.storybook/config`?

[2017-11-28 03:25] tmeasday commented on #1286
I think this problem is mostly OK now.

[2017-11-28 04:19] DaxChen commented on #2384
Got the same error,

[code]

[2017-11-28 06:14] mlmassey commented on #2377
Duplicate of #2010

[2017-11-28 07:58] tobilen commented on #2387
will do. probably not before friday though :)

[2017-11-28 09:02] folmert commented on #2382
Actually the error is gone after I removed yarn, it works when installing with npm, so might it be a yarn issue?

[2017-11-28 09:34] Hypnosphi commented on #2382
This project uses yarn workspaces feature: https://yarnpkg.com/blog/2017/08/02/introducing-workspaces/

So when you switch to npm, you actually install the published `@storybook/*` packages instead of linking the local ones. Note that you still need to install root packages

[2017-11-28 10:10] bjankord commented on #2316
Is this alpha.4 version published to npm? Trying to figure out how I can test it in my projects.

[2017-11-28 10:21] andreasvirkus commented on #2384
I was the person reporting the same issue on Discord (Oct 20th) and what worked for me eventually was switching from this:
[code]

To this:
[code]

[2017-11-28 10:47] Hypnosphi commented on #894
You always can insert scripts dynamically:

[code]

[2017-11-28 10:49] Hypnosphi commented on #1286
Not really. When testing RN, you have to do `yarn bootstrap --reset --core --reactnative` after each change in packages

[2017-11-28 10:49] hendrikniemann commented on #2357
So I had the same issue and I quickly came across the resolve field in webpack. [The documentation](https://webpack.js.org/configuration/resolve/#resolve-modules) describes that you can define the standard Node.js `node_modules` behaviour by just passing the string _"node_modules"_. This is what I did and this fixed the issue for me. Here is the diff of my webpack config:

[code]

[2017-11-28 10:50] Hypnosphi commented on #1286
@danielduan does the bot ignore mentions from PRs? This issue had one 3 days ago

[2017-11-28 11:09] Vinnl commented on #2357
@hendrikniemann You're clearly better at reading docs than I am, as I read that exact same passage yet didn't manage to extract that from it. That solved it indeed, thanks!

And I guess that also means this isn't an issue with Storybook but with my Webpack config, so I'm closing this issue.

[2017-11-28 11:09] #2357 closed

[2017-11-28 11:16] hoschi opened #2388 "Warning: Unsupported vendor-prefixed style property webkitOverflowScrolling"
In full screen mode I get an error
Warning: Unsupported vendor-prefixed style property webkitOverflowScrolling. Did you mean WebkitOverflowScrolling? Check the render method of `Layout`.

When I search in my `node_modules` folder I found that in:
ui/dist/modules/ui/components/layout/index.js
137:  webkitOverflowScrolling: 'touch'
When I change this to upper case `WebkitOverflowScrolling` the error

[2017-11-28 11:26] hoschi opened #2389 "HMR problem with webpack DLL reference plugin"
I use the webpack feature to build and use DLL for vendor code. Our current version 3.2.12 works fine, but with 3.2.16 I found a bug. When I update a source file and HMR kicks in, storybook updates but throws an error:

![2017-11-28-122539_1320x1384_scrot](https://user-images.githubusercontent.com/163128/33317382-4009715a-d437-11e7-8ceb-9a251363348b.png)

To include the vendor bundle I added `scri

[2017-11-28 14:14] dangreenisrael commented on #1286
@tmeasday I was working on implementing a new logger in RN, but the process of building and testing with the example was indeed a nightmare. I have some stuff I was working (haul and workspaces) for the RN example over the weekend, but probably won't have time to get to until the new year. I can push my (broken) code if you would like to take a look and/or a crack at it.

[2017-11-28 14:52] #2377 closed

[2017-11-28 17:09] mlmassey commented on #2010
I'm seeing the same problem with my prop documentation.  Mine was a bit weird in that I would get prop documentation for some Components, but some would be empty.  I can confirm my problem/situation is the same as @swashcap.  I'm using a custom webpack config with Storybook loading in extend mode (not full control mode).  The problem is essentially that I still included a rule to parse js/jsx usin

[2017-11-28 17:56] leetercola opened #2390 "Peer dependencies resolving from child rather than parent"
Importing a component from a linked node module with a peer dependency of react/react-dom, storybook is trying to resolve the dependency from the child node module directory and not the parent application.

[2017-11-28 21:52] #1902 closed

[2017-11-28 21:58] Hypnosphi commented on #2388
This is actually fixed in #2343, but not released yet
@shilman can we do a patch?

[2017-11-28 22:05] Hypnosphi commented on #887
Works in `3.3.0-alpha.4`

[2017-11-28 22:05] #887 closed

[2017-11-28 22:06] Hypnosphi commented on #1013
Works in `3.3.0-alpha.4`

[2017-11-28 22:06] #1013 closed

[2017-11-28 22:06] Hypnosphi commented on #1839
Fixed in `3.3.0-alpha.4`

[2017-11-28 22:06] #1839 closed

[2017-11-28 22:10] Hypnosphi commented on #1945
I think the problem is that those properties are non-enumerable:

[code]

[2017-11-28 22:49] Hypnosphi commented on #2316
There is also a regression that has to be fixed: https://github.com/storybooks/storybook/pull/1887#discussion_r148990688

@rhalff did you have any success with fixing it?

[2017-11-28 23:16] tmeasday commented on #1286
Oh! My bad, sorry!

[2017-11-28 23:16] tmeasday commented on #1286
And @dangreenisrael may as well post any information / branches to this issue as you can, hopefully someone can figure it out!

[2017-11-28 23:18] tmeasday commented on #894
Perhaps @eric-burel or @HBCharles could confirm if the above technique, as posted by @Hypnosphi helps?

[2017-11-29 02:23] #1186 closed

[2017-11-29 02:23] #1296 closed

[2017-11-29 02:23] #590 closed

[2017-11-29 02:23] #1378 closed

[2017-11-29 02:23] #1520 closed

[2017-11-29 02:23] #1611 closed

[2017-11-29 02:23] #612 closed

[2017-11-29 02:23] #1815 closed

[2017-11-29 02:23] #1774 closed

[2017-11-29 02:23] #1822 closed

[2017-11-29 02:23] #1869 closed

[2017-11-29 02:23] #1860 closed

[2017-11-29 02:23] #794 closed

[2017-11-29 02:23] #1227 closed

[2017-11-29 03:23] #814 closed

[2017-11-29 03:23] #829 closed

[2017-11-29 03:23] #1120 closed

[2017-11-29 03:23] #1152 closed

[2017-11-29 03:23] #1313 closed

[2017-11-29 03:23] #1305 closed

[2017-11-29 03:23] #486 closed

[2017-11-29 03:23] #816 closed

[2017-11-29 05:26] pelotom commented on #2348
@Hypnosphi done: #2394

[2017-11-29 07:59] #2348 closed

[2017-11-29 08:22] zhipenglin opened #2395 "How to set addon-viewport viewport default value"
This plugin is very good , but I can not set a default value for its viewport so that it remembers the previously selected value the next time it opens

[2017-11-29 11:02] terrencewwong commented on #2144
From looking at the source, looks like you need to specify a function if you want custom styles:

https://github.com/storybooks/storybook/blob/b157cae9d40f2176821990fff142b75f920ce383/addons/info/src/index.js#L56

You'll want to return an object that has this shape:

https://github.com/storybooks/storybook/blob/master/addons/info/src/components/Story.js#L19

Here's an example of some code I have:

[2017-11-29 11:53] terrencewwong opened #2397 "addon-info: option to render a custom component for the doc table"
TLDR: I'd like to add an option like this:

[code]

This is the reason why I'd like to add this option:

Currently the two options for modifying the styles of the doc table are these:

[code]

However, there are some things I'd like to do with my doc table that I don't think are currently possible.

I'm using Flow right now, and if I have a prop that is an enum. It will render the literal type ann

[2017-11-29 14:00] pauldcollins commented on #2127
Hi @ndelangen, I am currently setting up my first app, based on your recommended structure above: all within the same repo. I've installed a new version of `create-react-app` inside a sub folder, that sits alongside components at the same folder level.

When trying to import from the components folder, I get an error saying I can't import anything outside of the `src` folder of my `create-react-ap

[2017-11-29 17:12] baktiaditya commented on #1735
@loliver me too :(
is there any luck getting the description in a wrapped component?

[2017-11-29 20:18] rhalff commented on #2316
Yes I had success, the fix contained more then fixing that issue though, will try to create a pull request this week, sorry for the delay.

[2017-11-29 21:09] loliver commented on #1735
I wasn't able to find anything further, we've decided to stop using this addon for any documentation going forwards as it doesn't quite do what we need unfortunately.

[2017-11-30 00:42] #2196 closed

[2017-11-30 00:43] Hypnosphi commented on #2196
Fixed with #2343 and #2381

[2017-11-30 00:48] Hypnosphi commented on #1138
Does anyone really use anything other than web search (i.e. Google) to find stuff?

[2017-11-30 04:12] powermikee opened #2402 "Sub menu items disappear on rebuild"
The items will appear again if you clear the url params.
![screen shot 2017-11-30 at 2 11 54 pm](https://user-images.githubusercontent.com/2126542/33412648-78aa129c-d5d8-11e7-8d43-5fd1d2836a71.png)
![screen shot 2017-11-30 at 2 12 30 pm](https://user-images.githubusercontent.com/2126542/33412662-8ebb6b44-d5d8-11e7-8685-a72b8790c50e.png)

[2017-11-30 09:34] Hypnosphi commented on #2402
Hi! Looks like you're using an outdated version. Latest version of `@storybook/react` and other packages is `3.2.16`.

If you use `@kadira/storybook`, you can migrate half-authomatically by running this command in your project root:
[code]
`npx` is a command-line tool bundled with node 8 and higher. If you're using earlier versions, you can install it from npm

[2017-11-30 11:00] danbruegge opened #2403 "Storyshots Unexpected character on test run."
I got this failing test for my Storyshots:
[code]

#### storybook/webpack.config.babel.js
[code]

#### .babelrc
[code]

#### .storybook/config.js
[code]

#### components/Theme
[code]

#### fonts
[code]

Storybook is working fine. Only storyshots is giving me this error. Any idea?

[2017-11-30 13:47] thomasbertet commented on #1781
I may start working on this real soon.

[2017-11-30 13:49] danbruegge commented on #2403
Looks like storyshots is ignoring original and custom webpack config.

It does not change something when removing file-loader for fonts.
[code]

[2017-11-30 14:03] marcobiedermann opened #2404 "Feature: Offline Support"
It would be super great if there would be offline support via service worker so the docs would even work if there is no internet connection. Also it would make the docs super fast.

[2017-11-30 16:18] dependencies[bot] opened #2405 "eventemitter3 versions available: 3.0.0"
There are new versions of eventemitter3 available from npm.

## 3.0.0

_No content found._

[2017-11-30 16:50] thomasbertet opened #2407 "addon-jest broke tests in the cra-kitchen-sink example"
Hi there,

I simply wanted to run the tests on the cra-kitchen-sink example project, and it fails due to Jest override in package.json:

# How to reproduce
- Checkout the `cra-kitchen-sink` project
- run `yarn`
- run `yarn run test`

# Why
- On the addon-jest PR, some "jest" properties were added in package.json : https://github.com/storybooks/storybook/pull/2295/files#diff-a63f6fd207d99e7f8eacd7a

[2017-11-30 16:58] renaudtertrais commented on #2407
Perhaps you could extract this configuration needed for addon-jest and put it in a separate file. Then you should just need to add `--config ./jest-config-for-addon-jest.json` to `generate-addon-jest-testresults` script.

Usage of `--config`:
https://facebook.github.io/jest/docs/en/configuration.html#content

[2017-11-30 17:02] Hypnosphi commented on #2407
This file is ignored in root jest config. So you can do `yarn jest examples/cra-kitchen-sink` in root

[2017-11-30 17:04] renaudtertrais commented on #2367
Try to check the documentation in README I have just updated it because the examples regarding the usage of `withTests()` were wrong:  https://github.com/storybooks/storybook/tree/master/addons/jest#usage

[2017-11-30 17:11] renaudtertrais commented on #2368
Already done. Check README here: https://github.com/storybooks/storybook/tree/master/addons/jest#withtestsoptions

[2017-11-30 17:14] renaudtertrais commented on #2369
I tried it but it feel more complicated as it sounds. Results are loaded in "browser", not in node. So this happen at build time (Webpack).

[2017-11-30 17:25] davegaeddert commented on #1921
@Hypnosphi too many updates for a batch PR again?

[2017-11-30 18:37] kentcdodds commented on #2369
Maybe you could do:

[code]

That should work right? I think there's even a way to ask webpack if a dependency exists so you wouldn't need the try/catch.

[2017-11-30 18:51] Hypnosphi commented on #2368
Done, but not released yet

[2017-11-30 18:54] Hypnosphi commented on #1921
Looks like it. In fact, it does an unneeded job when running `npm install package-name@version --save` in package dir, and then `yarn install` in root. If the first step was `yarn add package-name`, it would save time (and probably memory), because yarn is aware of workspaces, and the subsequent `yarn install` would just yield "Already up to date"

[2017-11-30 19:00] renaudtertrais commented on #2368
Actually it was release in 3.2.16 but not well documented:
https://unpkg.com/@storybook/addon-jest@3.2.16/dist/index.js#pos_47

Commit: https://github.com/storybooks/storybook/commit/d185d1abd7e15e0c435bdb740d0ac44e784d58c4#diff-c1ceced995a7529ca1ae8fcb2a0f4aafR26

[2017-11-30 19:14] Hypnosphi commented on #2368
Oh. Should we revert https://github.com/storybooks/storybook/pull/2373 then?

[2017-11-30 19:22] renaudtertrais commented on #2368
Yes, please. Sorry for the lack of documentation regarding it.

[2017-11-30 19:44] davegaeddert commented on #1921
Yeah, so I think the reason it worked that way originally had to do with the yarn + lerna + `--hoist` combination...which I feel like I saw is no longer even supported now that yarn workspaces are a thing? What I'm wondering is if what we really need to do is just add support for workspaces to the normal js-npm collector/actor. I think we could get some of those improvements you're mentioning and

[2017-11-30 20:34] Hypnosphi commented on #1921
Yeah, makes sense

BTW, when using monorepo (with lerna or yarn workspaces), you can't really do `npm install something` in package directory safely. For example, if monorepo contains a package that wasn't ever published, and another package depends on it, `npm install` will fail because of an unmet dependency. With lerna, there are actually no good way to add/updgrade dependencies in packages AFA

[2017-11-30 21:33] tobilen opened #2408 "Feature: Storyshots: custom renderer"
I'd really appreciate an option to provide a custom renderer (i.e. enzymes shallow, mount or render) to the storyshots addon.

We do all of our snapshot testing with enzyme, and it feels consistently more robust and able to handle edge cases when compared to react-test-renderer. I totally understand not wanting to pull in another dependency into your project though.

So what im proposing is being

[2017-11-30 22:11] Hypnosphi commented on #2408
Sounds like a great feature! If you'll do a PR, please base it on `release/3.3` branch (sorry for inconvenience)

[2017-11-30 23:14] powermikee commented on #2402
Thanks.

[2017-12-01 00:10] powermikee commented on #2402
Sorry guys still happening in new version.

![storybook](https://user-images.githubusercontent.com/2126542/33461798-ca564c12-d67f-11e7-98b5-e2ffce090eea.png)

[2017-12-01 00:18] powermikee opened #2409 "Knobs disappear"
![awesomescreenshot-2017-12-01t00-14-52-244z](https://user-images.githubusercontent.com/2126542/33462025-efde1d74-d680-11e7-9c28-6c7a41198788.gif)

[2017-12-01 09:58] thomasbertet commented on #1781
@smith-kyle @sideroad I would like to discuss about some possibilities around this if you have time. You can join Slack https://storybooks.slack.com to chat, otherwise I will write here my thoughts:

As pointed out by @shilman , there is an alternative here: https://loki.js.org/ but I don't quite understand how to compare images on CI, it seems everything is generated locally, so the CI will fail

[2017-12-01 11:21] ndelangen commented on #2407
Perhaps we can ask CRA to support extending the jest config more?

[2017-12-01 11:41] ndelangen commented on #2402
@powermikee can you share a replication repository? A repo where you know this problem exists after install?

I'm unable to reproduce this.

[2017-12-01 11:50] ndelangen commented on #1138
Either way, the correct packages (ours) show up first now.

[2017-12-01 11:50] #1138 closed

[2017-12-01 11:54] ndelangen commented on #2368
@Promhize drop by our slack channel.

That way we can collaborate much easier and faster, if you want to do more collaboration I can help get you on-boarded on the project.

[2017-12-01 11:54] #1913 closed

[2017-12-01 12:28] #2368 closed

[2017-12-01 16:20] dependencies[bot] opened #2411 "lint-staged versions available: 6.0.0"
There are new versions of lint-staged available from npm.

## 6.0.0

# [6.0.0](https://github.com/okonet/lint-staged/compare/v5.0.0...v6.0.0) (2017-12-01)

### Features

* Add debug mode, deprecate verbose option ([#344](https://github.com/okonet/lint-staged/issues/344)) ([8f214f0](https://github.com/okonet/lint-staged/commit/8f214f0))

### BREAKING CHANGES

* `verbose` config option has been depr

[2017-12-01 16:20] dependencies[bot] opened #2412 "lodash versions available: 4.0.0"
There are new versions of lodash available from npm.

## 4.0.0

# [lodash v4.0.0](https://github.com/lodash/lodash/wiki/Changelog#v400)

2015 was big year! [Lodash](https://lodash.com/) became the [most depended on](https://gist.github.com/anvaka/8e8fa57c7ee1350e3491#file-01-most-dependent-upon-md) npm package, passed [1 billion](http://npm-stat.com/charts.html?package=&author=jdalton) downloads,

[2017-12-01 16:38] thomasbertet commented on #2407
@ndelangen that's a lot of config properties to support and I believe they won't be incline to support all these. Maybe *you* can start an issue over there, it will certainly have more weight than me ? :)

Also @renaudtertrais thanks for pointing me out to the right direction, I will fix it ASAP.

[2017-12-01 17:08] DaxChen commented on #2329
Hi, is there currently any workaround for this issue?
Or any hints why this occurs?
Great thanks!

[2017-12-01 18:50] zdrummond commented on #1994
I have a very similar issue with `3.3.0-alpha.4', but only with `preview-head.html`.

1. Start on a main line release of Storybook, like what I am using `3.2.15`
2. Setup your config directory somewhere other than `/.storybook`, add a `preview-head.html` to that directory and pass `-c` to the `start-storybook`.
3. Run storybook and see your `preview-head.html' injected
4. Upgrade to alpha 4
5. Run

[2017-12-01 23:01] #1942 closed

[2017-12-01 23:26] bjankord commented on #2397
I'm interested in this feature.

[2017-12-02 02:05] coffenbacher opened #2415 "How do I use Apollo Dev Tools with Storybook?"
My `__APOLLO_CLIENT__ ` is created, but it gets attached to the storybook-preview-iframe, so the devtools don't connect. Any ideas on how to connect this to the global window?

https://github.com/apollographql/apollo-client-devtools

[2017-12-02 13:30] jozefpetro commented on #2183
Hello, I would like to fix this :) can you assign it to me ? @danielduan

[2017-12-02 13:59] Hypnosphi commented on #2183
@jozefpetro It's an external component. Please open a PR in its repo: https://github.com/ritz078/react-fuzzy-search

[2017-12-02 14:19] jozefpetro commented on #2183
Oh I see, I will let you know once it’s done.

[2017-12-02 16:07] Maxhodges commented on #2384
@Hypnosphi I think it should be labeled bug.

[2017-12-03 08:34] Maxhodges commented on #2384
for me i doesn't work without the `components: { MyButton },` statement

compiles but doesn't render the button in the `button template` story
[code]

[2017-12-03 08:41] Maxhodges commented on #2384
I also got my working per @andreasvirkus's approach

[code]

[2017-12-03 12:25] jozefpetro commented on #2183
Hey, I went through fuzzy-search-component and found out that we are using custom implementation for item template so I think that it should be also fixed on our side. Here is the function that is passed to react-fuzzy as resultsTemplate prop.

[code]

and here is my idea of how it can be fixed
[code]

here is how it will look like after that
<img width="436" alt="screen shot 2017-12-03 at 21 23 2

[2017-12-03 12:30] Hypnosphi commented on #2412
@davegaeddert Where should we update it? Looks like we already use `lodash@4` everywhere

[2017-12-03 12:40] Hypnosphi commented on #2183
Ok, please send a PR

[2017-12-03 14:52] jozefpetro commented on #2183
Here it is :) #2419

[2017-12-03 18:14] #2387 closed

[2017-12-03 18:15] #2408 closed

[2017-12-03 20:50] ersel commented on #1108
Just a quick update. I was busy for the last 2 weekends. Will pick this up following weekend.

[2017-12-03 23:10] Hypnosphi commented on #2412
Ok it was caused by https://github.com/dependencies-io/collector-js-npm/issues/23

[2017-12-03 23:10] #2412 closed

[2017-12-04 07:51] ndelangen commented on #2384
I can see how the string only option would be a nice syntax to use, and would be happy to label this as a bug. This should be fairly easy to fix tbh, anyone here wants to do it?

[2017-12-04 12:35] Mujaddadi commented on #2358
Same bug here! I appreciate the work of developers in it but for version 3, this repo contains lot of bugs.

[2017-12-04 13:08] rhalff commented on #1945
I came to the same conclusion and currently using:
[code]

It's not perfect though, while console.log only shows the properties: `lastModified`, `lastModifiedDate`, `name`, `size`, `type` and `webkitRelativePath` and does not show the `slice` function.

I'm not sure how chrome / firefox determine what to log, if I knew I could perhaps mimic that behavior.

[2017-12-04 13:26] Mujaddadi opened #2423 "Change the Theme of storybook"
I am interested in customizing the UI of storybook. I am talking about the styles not just layout. At the moment the chances of changing it are zero to none. The UI even don't use classes so we can't overwrite it. Is there is anyway to do it without forking the repo? If it is, I will appreciate.

[2017-12-04 13:49] bustEXZ commented on #1945
Maybe like this?
[code]

[2017-12-04 14:39] Hypnosphi commented on #1945
That's OK in my view. It doesn't present any data

[2017-12-04 14:43] Hypnosphi commented on #1945
Why only Array?

[2017-12-04 14:52] bustEXZ commented on #1945
Static methods. Its just example. We cant use File, because method delete our properties.

[2017-12-04 17:07] rhalff commented on #1945
I'm now trying this:
[code]
Which ignores any functions not being an own property.

[2017-12-04 19:34] thirdhand opened #2425 "Error: Cannot assign to read only property 'exports' of object '#<Object>'"
I'm trying to set up a repo with React Storybook and Typescript, but I run into this error:

[code]

At first I thought something was wrong in my Typescript setup, but I didn't run into this when trying to make a minimal test case. Also when I try removing the custom webpack config, and only using Javascript the problem persists. The repo is here: https://github.com/thirdhand/components

The story

[2017-12-04 19:54] danielduan commented on #2363
svg file is already supported out of the box without the need for custom loaders:
https://github.com/storybooks/storybook/blob/master/app/react/src/server/config/defaults/webpack.config.js#L47

[2017-12-04 20:00] danielduan commented on #2388
Published in `3.2.17`

[2017-12-04 20:00] #2388 closed

[2017-12-04 20:00] danielduan commented on #2352
Published in 3.2.17

[2017-12-04 20:00] #2352 closed

[2017-12-04 20:00] danielduan commented on #2324
Published in 3.2.17

[2017-12-04 20:00] #2324 closed

[2017-12-04 20:01] danielduan commented on #2280
Published in 3.2.17

[2017-12-04 20:01] #2280 closed

[2017-12-04 20:01] danielduan commented on #1634
Published in 3.2.17

[2017-12-04 20:05] danielduan commented on #1781
I'm gonna ask for this to be delayed until v3.4.0 since we should be releasing 3.3 soonish.

[2017-12-04 21:09] jkingworking commented on #1570
If anyone else needs a quick workaround for this issue that still minifies the static build here's my workaround. It swaps the Webpack plugin for UglifyJs with the plugin for babel minify.

1. Install `babel-minify-webpack-plugin`
[code]

2. Create a new `webpack.config.js` inside `.storybook/`
[code]

[2017-12-04 21:16] danielduan commented on #2144
Thanks, this should be added to the info README at the very least.

[2017-12-04 21:26] #2397 closed

[2017-12-04 21:55] #2405 closed

[2017-12-04 21:56] #2411 closed

[2017-12-05 00:40] Hypnosphi commented on #1945
@rhalff @bustEXZ  What's wrong with the approach from #2401? Looks like it logs exactly what's needed

[2017-12-05 05:20] bustEXZ commented on #1945
Looks great! Thanks

[2017-12-05 14:01] DimaRGB opened #2431 "[addon-knob] Why max number equals 10, by default?"
### Issue details
Always need pass options `number(, , { max: Infinity })`.

### Please specify which version of Storybook and optionally any affected addons that you're running
- `@storybook/react 3.2.17`
- `@storybook/addon-knobs 3.2.17`

### Screenshots / Screencast / Code Snippets (Optional)
[in source](https://github.com/storybooks/storybook/blob/master/addons/knobs/src/index.js#L25)
[code]

[2017-12-05 14:29] DimaRGB opened #2432 "[addon-info] Why not just .addDecorator(withInfo(options))?"
### Issue details
Is it possible to use `withInfo` decorator like others?
for example: `.addDecorator(withKnobs)`

### Steps to reproduce
[code]

### Please specify which version of Storybook and optionally any affected addons that you're running
- `@storybook/react 3.2.17`
- `@storybook/addon-knobs 3.2.17`

### Screenshots / Screencast / Code Snippets (Optional)
Current interface:
[code]

[2017-12-05 16:10] skyrpex commented on #2329
Yeah :smile: The workaround is to tell webpack to use Vue's runtime compiler file. You need to add this to your webpack.config.js:

[code]

[2017-12-05 16:36] skyrpex opened #2434 "Is there a watch mode? (without hot server)"
Looking at the docs I just see the `start-storybook` and `build-storybook` modes... They are awesome but sometimes we work on machines that can't reserve ports.

The watch mode would create files (something like the build mode) but leaving the process open to more code changes.

Is it planned?

[2017-12-05 16:48] danielduan commented on #2434
Probably not. Your use case is pretty specific and it's probably the first time this is requested.

[2017-12-05 16:54] Hypnosphi commented on #2434
You can try `watch: true` in `.storybook/webpack.config.js`. Should work even using [extend mode](https://storybook.js.org/configurations/custom-webpack-config/#extend-mode)

[2017-12-05 20:49] ralzinov opened #2435 "storybook/angular typing errors "implicit any""
### Issue details
Code written in typescript has no proper typings.

### Steps to reproduce
Set ``` "noImplicitAny": true ``` flag in tsconfig.json

### Please specify which version of Storybook and optionally any affected addons that you're running
- storybook/angular 3.3.0-alpha.4
- typescript@2.3.4

### Screenshots / Screencast / Code Snippets (Optional)
[code]

[2017-12-05 22:09] Hypnosphi opened #2436 "generate-addon-jest-testresults command behaves weirdly"
— Go to `examples/cra-kitchen-sink`
— Run `yarn generate-addon-jest-testresults`: it hangs for a couple of seconds before exiting
— Run `yarn generate-addon-jest-testresults --watch`: it goes into infinite loop

[2017-12-05 22:26] #2407 closed

[2017-12-05 22:37] Hypnosphi commented on #2431
That's a bug introduced with #2371. We shouldn't apply default min/max/step for plain number knob

[2017-12-05 22:38] Hypnosphi commented on #1632
Added in `v3.2.17`

[2017-12-05 22:38] #1632 closed

[2017-12-05 23:45] rhalff commented on #1945
@Hypnosphi I've created a new pull request (#2438) which also incorporates your changes and fixes the bug reported in [your comment](https://github.com/storybooks/storybook/pull/1887#pullrequestreview-74315778). I refactored the code a bit and have added tests.

[Live example](https://storybook-dev-rhalff.c9users.io/?selectedKind=Addon%20Actions&selectedStory=All%20types&full=0&addons=1&stories=1&

[2017-12-05 23:53] rsolomon commented on #2062
I'm also interested in using storybook with Babel 7. It's currently in beta, but should have a stable release soon, at which point I am sure a lot of other tools will turn down support for Babel 6.

[2017-12-06 04:52] DaxChen commented on #2329
I ended up using something like this (I'm using vue-cli webpack template):

[code]

Thought I shared it for someone else using vue-cli's webpack template!

[2017-12-06 09:13] ralzinov commented on #2435
Do you have plans to fix that soon? I can make PR.

[2017-12-06 11:46] dantesolis commented on #2384
@ndelangen I would like to take it :)

[2017-12-06 12:34] johnnyBira opened #2440 "Props of component being passed as a prop"
I have a usecase where I pass a component as the prop to a different component.
Using the `withInfo` addon I can see the props of the "main" component, but not those of the component being passed as a prop.

In my editor:
<img width="375" alt="screen shot 2017-12-06 at 13 31 16" src="https://user-images.githubusercontent.com/23634023/33661823-d3faaf48-da89-11e7-8000-7eaae973926d.png">

Rendered in

[2017-12-06 14:40] AlexanderTserkovniy commented on #2010
Same here pretty much the same as @pjnovas has. Hey buddy @pjnovas have you been able to fix that?

My issue snippet is:
[code]

Again if I remove ternary operator it will work just fine.

[2017-12-06 16:11] MrSaints commented on #2062
To get around this, I decided to override the default Webpack config rules using the method described here: https://storybook.js.org/configurations/custom-webpack-config/. I can run `storybook` with Babel 7 now.

[2017-12-06 16:20] dependencies[bot] opened #2441 "babel-preset-vue versions available: 2.0.0"
There are new versions of babel-preset-vue available from npm.

## 2.0.0

_No content found._

[2017-12-06 16:41] Hypnosphi commented on #2441
We use it in example app. The major change is removing support for functional style JSX:
https://github.com/vuejs/babel-preset-vue/compare/v1.2.1...v2.0.0

[2017-12-06 17:29] ndelangen commented on #2441
Are we depending on this plugin anywhere? If it's indeed 'buggy and hard to get right' we shouldn't.

[2017-12-06 17:56] swashcap commented on #2010
@AlexanderTserkovniy I think I ran into that problem, too. If I recall I changed to `if` and it worked:

[code]

Related: reactjs/react-docgen#107

[2017-12-06 18:14] Hypnosphi commented on #1921
@davegaeddert looks like it's not so much updates this time (9):
https://app.dependencies.io/projects/github/storybooks/storybook

[2017-12-06 18:37] davegaeddert commented on #1921
@Hypnosphi it still takes a long time though the way it works currently (runs install twice essentially each package). I opened an issue here: https://github.com/dependencies-io/actor-js-lerna/issues/25

I'll try do look into it a little further, but it seems like that is at least one major step we could take in improving this (although I still think separating yarn workspaces from lerna will be t

[2017-12-06 18:41] rsolomon commented on #2062
@MrSaints the issue I'm having is that, even when including `@babel/register` in the custom webpack config, it ignores the `.babelrc` file so none of the presets or plugins are used. I'm not sure what else I can do to have it parse it. It's the same `.babelrc` I use for the main project (just in a different location), and this location is where it was working with babel6.

[2017-12-06 18:47] MrSaints commented on #2062
@rsolomon I could possibly help if you share your Webpack / Babel configuration. It is definitely picking up on my `.babelrc`.

[2017-12-06 18:47] AlexanderTserkovniy commented on #2010
Jesus what a dirty approach... anyway, thanks.

[2017-12-06 18:50] rsolomon commented on #2062
[code]

[2017-12-06 18:53] rsolomon commented on #2062
Note that exact config is picked up fine by my main app. Even changing the above to invalid config options (ex: `env` -> `env123`) does not throw errors, so it really seems like it's not even trying to parse it.

[2017-12-06 18:54] MrSaints commented on #2062
@rsolomon  What's your directory structure like? And can you include your Webpack config? Did you also specify a custom Webpack config for Storybook?

[2017-12-06 18:57] rsolomon commented on #2062
The config that Storybook is using looks like this:

[code]

The problem is that `@babel/register` is not doing what it's supposed to with ES6 imports, leading to this error from the imported config:

[code]

I had the same setup with babel 6, except using the older `babel-register` module.

[2017-12-06 19:17] Hypnosphi commented on #1921
Just adding `install_command` option which would accept `package@version` argument would be enough. We could just pass `yarn add` there, and yarn would keep the type of dependency (dev/peer/optional)

[2017-12-06 22:11] majapw commented on #2423
We would also be interested in this feature. We use storybook to show off our internal design language, and it would be nice if we could leverage the features of the design language in the storybook as well.

A high-level styles object with a font stack, default spacing, colors, etc. would be a good start.

cc @noratarano

[2017-12-07 00:20] madhaze opened #2445 "[addon-knob] Display for Number value, min, max when slider is used."
Feature Request:
It would be nice to have Value, Min and Max displayed when using the number knob range to give the user some context before they grab the slider.

[2017-12-07 00:40] skyrpex commented on #2434
Thanks for the support. Yeah, I know it's pretty specific. 😢

Will try the webpack's built-in watch mode!

[2017-12-07 00:40] #2434 closed

[2017-12-07 00:50] Hypnosphi commented on #2445
Looks like it may be relatively easy to implement using `<datalist>` element, see "A range control with hash marks and labels" section here: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/range

Feel free to send a PR, but please base it on `release/3.3` branch

[2017-12-07 01:00] dangreenisrael commented on #1736
I'll take a crack at it when I get a chance

[2017-12-07 12:09] PaulieScanlon commented on #790
Hi, is this still outstanding? I have `react-docgen` working but `oneOf`still displays `-`

[2017-12-07 12:52] igor-dv commented on #269
@neo, I've tried to reproduce, but for me everything is working fine. Can you share more context? Maybe you have a repo?

[2017-12-07 13:12] dcorb opened #2446 "Add eslint-loader to the custom storybook webpack configuration"
### Issue details

Adding eslint-loader to story webpack config doens't seem to work

### Steps to reproduce
I have this in webpack.config.js:
after reading this documentation piece https://github.com/storybooks/storybook/blob/master/app/react/src/server/config/defaults/webpack.config.js

I can't get eslint to output any type of messages, I have a .eslintrc file in the root folder, and I have trie

[2017-12-07 13:42] Hypnosphi commented on #2446
To override loader for `js`, you need to use [Full Control Mode](https://storybook.js.org/configurations/custom-webpack-config/#full-control-mode)
Don't forget to include babel-loader as well

[2017-12-07 14:07] danielduan commented on #790
I wonder if this is related to https://github.com/reactjs/react-docgen/issues/235

Just checked in our example app and it looks like the propType indeed doesn't work.

[2017-12-07 18:01] itsdeezy commented on #2358
There seems to be an issue with `withInfo`. The older `addWithInfo` API still works (as of `3.2.17`) with `setDefaults`

[2017-12-08 12:06] #1541 closed

[2017-12-08 15:41] ralzinov commented on #2409
Got the same issue with storybook/angular@3.3.0-alpha.4

[2017-12-08 16:10] danielduan commented on #2395
This will probably require a PR to set something in the cookies or browser local storage.

[2017-12-08 16:43] #1535 closed

[2017-12-08 16:43] #1984 closed

[2017-12-08 16:45] #2114 closed

[2017-12-08 19:20] jennvoss commented on #2144
I'll submit a PR with the README update for this.

[2017-12-08 19:57] danielduan commented on #2144
it'd be great if you can add a usage example to `examples/cra-kitchen-sink` under `Addon Info/options` as well 🥇

[2017-12-08 22:32] huntwj commented on #1402
Just in case it is relevant, build-storybook was working ok for me until I swapped from babel to the awesome-typescript-loader. It would be nice to have this fixed, but I can work around it by having our stakeholders look at a running storybook server for now.

As always thanks for your work on this awesome project. :)

[2017-12-08 22:58] stereodenis commented on #2325
@rodriguesbreno could you provide how you do this?

cause my
`jest.mock('../node_modules/@storybook/react-native/dist/preview/components/OnDeviceUI/menu_open.png', () => 0)`
is not working

[2017-12-09 08:10] ndelangen commented on #2240
@mAAdhaTTah Let's chat in our slack, it's actually quite easy already, the PR just addresses a bit of duplicated code.

[2017-12-09 08:54] Havelaer opened #2451 "Multiple story hierarchies"
Hi guys,

I've been working on a feature to have multiple hierarchies (or see it as a flattened first level).
It's a small iteration on Igor's [story-hierarchy-in-storybook](https://medium.com/sears-israel/story-hierarchy-in-storybook-3-2-7506b5a6ceb9).

A second 'Addons' hierarchy:
![screen shot 2017-12-08 at 21 36 52](https://user-images.githubusercontent.com/817113/33794001-0ecb3774-dcc3-11e7-9

[2017-12-09 11:10] Hypnosphi commented on #2451
Looks promising. Please base on `release/3.3` branch

[2017-12-09 13:22] #2065 closed

[2017-12-09 17:41] igor-dv commented on #269
@shilman , @alterx , Regarding the problem with angular v4.3.5 (@ToniaDemchuk ), I've researched the issue (I am not familiar with angular much, so... ) In the knobs addon, there is code that relies on fact that a component object has a `annotations` array on it. This array is set by `angular/core` package in the new version. But in the previous version (in this case v4.3.5) they used a `reflect-m

[2017-12-09 17:53] alterx commented on #269
Yeah, this change definitely has an impact in how we get the metadata. Will
look into it once I have some free time. Probably sometime over the next
week

On Sat, Dec 9, 2017, 11:41 AM Igor <notifications@github.com> wrote:

--
Ing. Carlos Vega Rodríguez
*Web Developer / Software Engineer  | +506 89131416 *

[2017-12-09 18:43] priley86 commented on #1749
@ndelangen apologies for the late response... it's been a hectic few weeks. I don't think we will be exploring custom elements/web components for a while (it's a bit too early for us and we are currently progressing w/ React & Ng only).

Last I checked, the storybook-deployer was working fine w/ 3.3 branch and Ng. The main issue w/ Web Components was the current WC polyfills have some es6  in thei

[2017-12-09 23:56] coffenbacher commented on #2415
Managed to solve this one 👍 This might be good to put a pointer to somewhere, and/or hopefully Google just picks this up for anyone searching for an iframe issue with other React tools

The key is just bumping the client object up to the iframe parent as part of `.storybook/config.js`

[code]

[2017-12-09 23:56] #2415 closed

[2017-12-10 07:03] #1872 closed

[2017-12-10 13:56] marcobiedermann commented on #2425
Same here, I am trying to import my React component into my story:

Header.jsx

[code]

stories.jsx

[code]

As soon as I also import `prop-types` (`import PropTypes from 'prop-types';`) into my component, I get

[code]

[2017-12-10 14:08] marcobiedermann opened #2455 "Feature: PostCSS config"
Instead of hardcoding the postcss options into the default webpack config, I suggest moving this to a `postcss.config.js` file.
https://github.com/storybooks/storybook/blob/master/app/react/src/server/config/defaults/webpack.config.js#L21

This way it can be overwritten in your own project, similar to the `babel.js` config.
https://github.com/storybooks/storybook/blob/master/app/react/src/server/c

[2017-12-10 14:14] igor-dv commented on #2455
You can override the configuration with the full control mode: https://storybook.js.org/configurations/custom-webpack-config/#full-control-mode

[2017-12-10 14:15] marcobiedermann commented on #2455
@igor-dv I know but I think it is simpler to move the postcss configs into it's own file.

[2017-12-10 16:10] danielduan commented on #2455
I think that most people are happy with the default settings. The extend and full control modes are for people like you who want to add or customize different webpack plugins.

There are many more people who require custom babel configs than postcss configs. We try to keep the code and setup complexity to a minimum. If there is demand for this feature, we'd be happy to add it.

[2017-12-10 16:15] danielduan commented on #951
I'm gonna close this one.

I'm not sure what it means by inline code. If you want to insert code, you can use markdown in the notes addon or the description field of the info addon as well.

[2017-12-10 16:15] #951 closed

[2017-12-10 18:31] c-crosby commented on #113
for those getting React.Children.only you can wrap your provider output in a div to address the issue

<div>{story}</div>

[2017-12-10 22:02] thirdhand commented on #2425
@marcobiedermann Strange, I don't get this error just from importing prop-types.

[2017-12-10 23:39] ersel commented on #1108
I was bedridden with flu this weekend :(  I have a 2 week holiday coming up, will make some time to pick it up before Xmas.

[2017-12-11 03:20] #1982 closed

[2017-12-11 04:05] seveibar commented on #1735
I may have a solution to this,

Instead of...
[code]

Do this...
[code]

Seems to be working so far for me.

[2017-12-11 09:23] #1633 closed

[2017-12-11 12:10] Lazzaro83 opened #2460 "sh: 1: start-storybook: Permission denied"
My storybook was working fine on Windows 10. I had to move to Linux Ubuntu 16 and after I have set my environment and typed in the terminal npm run storybook, this is what I get:

sh: 1: start-storybook: Permission denied
npm ERR! code ELIFECYCLE
npm ERR! errno 126
npm ERR! quinyx-components@1.0.0 storybook: `start-storybook -p 9001`
npm ERR! Exit status 126
npm ERR!
npm ERR! Failed at the quinyx-

[2017-12-11 12:20] texttechne commented on #2460
Seems to me that it tries to start a shell script: `sh`.
The permissions are probably wrong, maybe the line encoding is wrong if you've moved it from windows...

Did you install it from scratch? With sudo or without?
Have you tried to nuke node_modules and npm install everything again?

[2017-12-11 12:36] Lazzaro83 commented on #2460
@texttechne thank you very much. I am new to Linux, so it will take some time to get into it :)

[2017-12-11 13:03] texttechne commented on #2460
Did any of the tips solve your issue?

In any case, I think it would be best to close this issue, because it's really not an issue of storybook and the guys have enough tickets :-)

If you need more help then tell me more specifics..

[2017-12-11 14:56] #2460 closed

[2017-12-11 16:23] dependencies[bot] opened #2461 "marksy versions available: 6.0.0"
There are new versions of marksy available from npm.

## 6.0.0

## BREAKING CHANGES

`code` and `codespan` elements now work as documented (#47)

## Bug fixes

The contents of `code` block are now escaped (#46)

[2017-12-11 18:06] pauldcollins commented on #2127
Hi @ndelangen, sorry to trouble you again.

I've been trying to get this setup to work for a number of days now and can't seem to make it happen.

Basically, if I install a new version of Create React App, there are all kinds of issues with importing component files from outside the `src` folder and using a linter if I eject. So I can't get the storybook files in from a sibling folder to my app ro

[2017-12-11 20:09] Hypnosphi commented on #2155
Superseded by #2461

[2017-12-11 20:09] #2155 closed

[2017-12-11 20:18] texttechne commented on #2127
If you use different CRA's then you need something like symbolic links, a feature supported by plain npm / yarn, to circumvent the problems you've mentioned. You could also take the mono repo approach from [lerna](https://github.com/lerna/lerna), which also makes use of symbolic links.

In either case you would end up with having a dependency on your storybook components from your apps with the ef

[2017-12-11 22:14] cilice commented on #2445
Unfortunately, even if it's within the spec, no browsers support it fully right now (codepen https://codepen.io/cilice/pen/ypBWKM)

Unfortunately, latest Safari supports neither hash marks nor labesls just like Firefox. ☹️

[2017-12-12 00:47] dcorb commented on #2446
babel-loader fixed it for me, thanks Filipp

[2017-12-12 00:47] #2446 closed

[2017-12-12 09:22] pauldcollins commented on #2127
Hi @texttechne thanks very much for your reply.

Does this mean I would need to publish an NPM package in order for the project to work? I imagine once someone else downloads it, they won't have the `npm-link` setup, so it wouldn't work for them. Would this also affect it going live?

Thanks for your help

[2017-12-12 10:30] sapkra opened #2466 "Change URL structure to a better readable solution"
### Issue details

We want to link on our stories in our JIRA tickets for our QA.
It's really hard to create short readable URLs, so my suggestion is to create a new URL structure.

should be restructured to

### Steps to reproduce

You just have to create a story in a hierarchy tree.

### Affected platforms

- All browsers

[2017-12-12 10:52] #2461 closed

[2017-12-12 11:07] Hypnosphi commented on #2466
What if user defines a separator other than slash and uses slash as part of kind name?

[2017-12-12 12:02] sapkra commented on #2466
While generating the URL you can add a backslash or tilde sign before the slash which is added by the user and ignore these slashes in the routing. It's just an idea - better solutions are definitely welcome.

[2017-12-12 12:16] texttechne commented on #2127
The npm link stuff is only for development. For production you publish to a private or public repo and then it becomes easy: Your component lib becomes a plain npm dependency.

For private repos take a look at: Nexus (quite powerful repo manager for Java, Docker, NPM, ...) or [Sinopia](https://github.com/rlidwka/sinopia) (much easier to setup).

[2017-12-12 12:21] marcobiedermann commented on #2425
@thirdhand
I tested this with another project and still getting this error as soon as I import `prop-types`.
I will create a branch on my project, so you can take a look at it.
It would also be great if you could provide a link to your project.
This way we can review each other and maybe figure out what we are missing.

[2017-12-12 13:36] pauldcollins commented on #2127
Thanks for your quick reply @texttechne

It sounds like an NPM package is really the best way to go, maybe the only way, after spending the last four days on this! I thought the "all in the one repo" option would be quicker!!

Thanks for your help and advice, much appreciated.

[2017-12-12 14:12] ndelangen commented on #1108
🎄 🎁

[2017-12-12 15:25] folmert commented on #2363
@danielduan yea, but this is for classic import/require only.

I've noticed however that this error doesn't occur when I'm putting my `icons.svg` in the root directory, I wondered why, and I've found out that for some reason the `assets` variable in previously mentioned iframe.html.js will become an object in both cases:
[code]

while for static/img/svg/sprites-icons.svg it's a separate string:

[

[2017-12-12 16:07] ralzinov opened #2469 "[app/angular] Add ability to define component props binding in story."
### Issue details
Angular components can have 3 types of binding for props. Binding should be defined by template, like:
[code]
But currently story components are rendered dynamically and there is no way to define binding for props of story. I think something like this would be solution for that:
[code]

[2017-12-12 16:23] dependencies[bot] opened #2470 "fs-extra versions available: 5.0.0"
There are new versions of fs-extra available from npm.

## 5.0.0

Significant refactor of `copy()` & `copySync()`, including breaking changes. No changes to other functions in this release.

Huge thanks to **[manidlou](https://github.com/manidlou)** for doing most of the work on this release.

- The `filter` option can no longer be a RegExp (must be a function). This was deprecated since fs-extra

[2017-12-12 16:23] dependencies[bot] opened #2471 "process-nextick-args versions available: 2.0.0"
There are new versions of process-nextick-args available from npm.

## 2.0.0

_No content found._

[2017-12-12 16:23] dependencies[bot] opened #2472 "remark-toc versions available: 5.0.0"
There are new versions of remark-toc available from npm.

## 5.0.0

* d2fae0e Update `remark-slug`
* e878563 Migrate to `remarkjs`

See [`remark-slug@5.0.0`](https://github.com/remarkjs/remark-slug/releases/tag/5.0.0) for more info.

[2017-12-12 16:31] ndelangen commented on #2407
@thomasbertet If we found an alternative way, then I'm not going to create an issue asking for more configuration in CRA. I know this would be an uphill battle, which I'm personally not really interested in having.

Out of the box CRA-compatibility is important though, So I'm happy we found a way.

[2017-12-12 16:43] ndelangen commented on #1872
Related: #1108

[2017-12-12 16:45] ndelangen commented on #754
@fczuardi Need help help opening a PR?

[2017-12-12 16:47] ndelangen commented on #2384
@dantesolis That would be seriously amazing! Do you need any help from me to open a PR?

[2017-12-12 16:54] #2363 closed

[2017-12-12 16:55] marcobiedermann commented on #2425
Meanwhile I digged a bit deeper into this issue.
I used the most minimal setup which was copied from https://storybook.js.org/basics/guide-react/
Here is a simplified version of my setup:

[code]

in `packages/Button/package.json` I have listed `prop-types` and `react` as dependencies (of Button component).

Withing my `packages/Button/index.jsx` I import the packages defined by the component itse

[2017-12-12 16:55] ndelangen commented on #2384
I THINK it should be as simple as replacing:
https://github.com/storybooks/storybook/blob/master/app/vue/src/client/preview/render.js#L78-L80

with:
[code]

[2017-12-12 16:59] ndelangen commented on #1570
@hermanvos Need any help opening a PR? If there's anything I can do to help, let me know!

[2017-12-12 17:02] #938 closed

[2017-12-12 17:02] #878 closed

[2017-12-12 17:03] danielduan opened #2474 "Use svg-url-loader instead of file loader for importing svg"
### Issue details

svg-url-loader is more optimized and can make the import around 30% smaller than url encoding a file.

Please turn on `noquotes` option so it could be used in `<img>` tag.
https://www.npmjs.com/package/svg-url-loader#noquotes

### Affected platforms

- vue
- react
- angular

[2017-12-12 17:14] ndelangen commented on #2329
Thanks for sharing the working config @DaxChen
I've tried reproducing this issue, but setting a config like the one @MiMaMuh provided in his reproduction repo seems to work on our vue-kitchen-sink example. I think this got fixed.

[2017-12-12 17:14] #2329 closed

[2017-12-12 20:30] xdmorgan commented on #2356
Adding a script with `global.window = global;` to my Jest config's `setupFiles` array fixed this for me. Having `window` as a global fixes the undefined error which allows the default case to execute.

[2017-12-12 21:21] CLL80 opened #2475 "Error message when removing value from number knob"
### Issue details

There is an error message when removing the value from a "number" knob input:
[code]
I would expect this to be handled by the knob itself so we can avoid having these error messages in our consoles.

### Steps to reproduce

This issue can be seen in the `cra-kitchen-sink` examples. Run the storybook examples and navigate to a story like 'withKnobs - tweaks static values':
[code]

[2017-12-12 23:04] Hypnosphi commented on #2475
Should be quite easy to fix, feel free to send a PR

[2017-12-13 00:12] #2024 closed

[2017-12-13 12:35] danbruegge commented on #2403
Looks like, i had to mock fonts and images in jest config.
[code]
and **fileMock.js**
[code]

[2017-12-13 12:35] #2403 closed

[2017-12-13 15:59] switchnollie commented on #2144
@danielduan Your propsed solution to specify the styles option as function does not work in my case.

[code]

Here is the error that I'm getting (gets thrown with setDefaults and withInfo):
<pre><code>
TypeError: Cannot read property 'base' of undefined
    at Story._renderOverlay (VM2331 preview.bundle.js:80746)
    at Story.render (VM2331 preview.bundle.js:81018)
    at ReactCompositeComponentWr

[2017-12-13 16:10] jennvoss commented on #2144
@switchnollie I discovered that as well and addressed it in https://github.com/storybooks/storybook/pull/2449. See my last comment on that PR for more details.

[2017-12-13 16:39] Hypnosphi commented on #2144
@switchnollie that function actually has default stylesheet as an argument, so you can decide what to pick from it:
https://github.com/storybooks/storybook/pull/2449#issuecomment-351447095

[2017-12-13 17:56] atinder commented on #2063
@Hypnosphi
the description on [this page](https://github.com/storybooks/storybook/tree/master/app/react-native) is little misleading

[2017-12-13 18:01] mbellgb commented on #2266
@mattferderer I managed to get it working by passing the component itself rather than the rendered component.

E.g.:

[code]

Instead of:

[code]

This wasn't that apparent when reading the documentation. Perhaps it's worth explaining this is what should be passed into the options rather than the rendered components? I only worked this out by reading the source code and seeing that `propTablesExcl

[2017-12-13 18:15] Hypnosphi commented on #2063
You don't actually run your app, see
https://github.com/storybooks/storybook/tree/master/app/react-native#create-react-native-app-crna

[2017-12-13 18:32] atinder commented on #2063
but we do need to run emulator right?
Stories list is blank until I run emulator.
<img width="1080" alt="screen shot 2017-12-13 at 11 58 58 pm" src="https://user-images.githubusercontent.com/2451681/33955533-e41b8176-e061-11e7-9fc7-038bf64c778b.png">

[2017-12-13 18:39] Hypnosphi commented on #2063
No, you can't view RN stories in desktop browser currently

[2017-12-13 20:13] TomPridham commented on #2123
could we have that console log be behind a debug flag or something? it feels like something you should opt into if you need it, not something that you should have to opt out of.

[2017-12-13 21:38] Hypnosphi commented on #2470
We don't actually use that package, will remove

[2017-12-13 21:44] Hypnosphi commented on #2471
Same as https://github.com/storybooks/storybook/issues/2470#issuecomment-351533162

[2017-12-13 22:06] Hypnosphi commented on #2472
This plugin keeps "Table of contents" sections in sync with rest of the `.md` file. Unfortunately, we don't actually apply it since #1964

It's actually quite valuable. I wonder if we can apply it alone on precommit hook (without linting)

[2017-12-13 23:02] thirdhand commented on #2425
@marcobiedermann You wouldn't happen to be using lerna in your setup? I tried making a subpackage in my simplified test, but I still don't get the error there. In my real project I'm using lerna, and that's where I encountered the bug.

[2017-12-14 06:11] tmeasday opened #2481 "[Release 3.3]: Cannot log non-object arguments in actions"
### Issue details

An event handler that calls its prop with a non-object argument does not appear in the actions addon

### Steps to reproduce

Add this story to the `addon-actions.stories.js` in `cra-kitchen-sink`:

[code]

When you click the button, note no action is logged.

### Please specify which version of Storybook and optionally any affected addons that you're running

- @storybook/react

[2017-12-14 06:12] tmeasday commented on #2481
Someone remove the `needs reproduction` label if they confirm the issue please

[2017-12-14 06:15] tmeasday commented on #2481
Ahh, I see this now: https://github.com/storybooks/storybook/pull/2438 covers this. I'll leave this open until that's merged, and we should probably add this story as a test case.

[2017-12-14 08:04] adrianblynch opened #2482 "Preview panel no longer scrolls after resize on Chrome/Safari"
### Issue details

After I use the grab-handle to resize the preview panel, it's no longer possible to scroll.

![no-scroll](https://user-images.githubusercontent.com/4160967/33980820-66b5a5e0-e0a2-11e7-8cf6-f2578098beec.gif)

### Steps to reproduce

Start Storybook with enough content in the preview panel to require scrolling.

Resize the panel using the horizontal handle.

Attempt to scroll the

[2017-12-14 13:09] Hypnosphi commented on #2481
[Stories for different types](https://deploy-preview-2438--storybooks-cra.netlify.com/?selectedKind=Addon%20Actions&selectedStory=All%20types&full=0&addons=1&stories=1&panelRight=1&addonPanel=storybook%2Factions%2Factions-panel)

[2017-12-14 16:22] dependencies[bot] opened #2483 "webpack-dev-middleware versions available: 2.0.0"
There are new versions of webpack-dev-middleware available from npm.

## 2.0.0

_No content found._

[2017-12-14 16:22] dependencies[bot] opened #2484 "webpack-dev-middleware versions available: 2.0.0"
There are new versions of webpack-dev-middleware available from npm.

## 2.0.0

_No content found._

[2017-12-14 16:22] dependencies[bot] opened #2485 "webpack-dev-middleware versions available: 2.0.0"
There are new versions of webpack-dev-middleware available from npm.

## 2.0.0

_No content found._

[2017-12-14 16:32] AlexanderTserkovniy opened #2487 "TypeError: require.context is not a function"
Hi guys,

### Issue details

If you use `require.context` within a React component the storyshots will fail with `TypeError: require.context is not a function`.

### Steps to reproduce

Just write `require.context()` in any of the component.

This is mine:

[code]

### Please specify which version of Storybook and optionally any affected addons that you're running

- storybook/react ^3.2.16 (my is

[2017-12-14 16:37] Hypnosphi commented on #2485
duplicate of #2483

[2017-12-14 16:37] #2485 closed

[2017-12-14 16:57] Hypnosphi commented on #2487
`require.context` is a webpack-specific feature, so it doesn't work in jest. You can try to mock it somehow

[2017-12-14 17:05] AlexanderTserkovniy commented on #2487
Yes I tried [this](https://stackoverflow.com/questions/38332094/how-can-i-mock-webpacks-require-context-in-jest) mock, but then it gives syntax error of just running `start-storybook -p 9001 -c .storybook`. Some incorrect left-hand assignment. I prefer to keep main job working, tests are something additional.

If you can help mocking it in different way, that main storybook could be working, would

[2017-12-14 17:41] ndelangen commented on #2487
You could try something like this:
https://github.com/mzgoddard/jest-webpack

[2017-12-14 18:05] Hypnosphi commented on #2487
That's weird. Mocks should only be applied when running tests

[2017-12-14 18:07] Hypnosphi commented on #2482
Please check if it works on `3.3.0-alpha.4`. I believe we had fixed it at some point

[2017-12-14 19:00] Hypnosphi commented on #1921
@davegaeddert looks like it runs for too long again =( https://app.dependencies.io/projects/github/storybooks/storybook/builds/118

Is there a way to run `bootstrap_command` only after all the updates in the batch are made?

[2017-12-14 19:02] cdtinney commented on #2320
Note that you don't have to use Full Control Mode.

You can just set the options for `css-loader`:

e.g.

[code]

[2017-12-14 20:05] mattferderer commented on #2266
@danielduan would adding a pull request to the docs to include an example like @mbellgb showed be acceptable?

[2017-12-14 20:23] danielduan commented on #2266
@mattferderer would really appreciate that. sorry for the confusion.

[2017-12-14 20:49] mattferderer commented on #2266
I'll try & make a pull request today or tomorrow then, unless someone beats me to it.

[2017-12-14 20:56] davegaeddert commented on #1921
@Hypnosphi shoot. Running `bootstrap_command` at the end would definitely help...but then each individual commit wouldn't have the yarn.lock changes to go with the individual dependency update, right? What about trying `--prefer-offline` with your `bootstrap_command`? Would there be any major downside to that?

[2017-12-14 21:13] Hypnosphi commented on #1921
That's Ok. If I revert a particular commit, that means that I have already checked out the branch and it's not a big deal to update lockfiles after that.

Anyway, will try the `prefer-offline` approach

[2017-12-14 21:38] #2320 closed

[2017-12-14 21:38] ndelangen commented on #2320
Thanks for posting your working solution @cdtinney ♥️

[2017-12-14 21:40] ndelangen commented on #2487
@AlexanderTserkovniy Did you try to apply the mock in the `storyshots.test.js` file?

[2017-12-14 21:57] #2470 closed

[2017-12-14 21:57] #2471 closed

[2017-12-14 22:36] #2472 closed

[2017-12-14 22:39] Hypnosphi commented on #2483
Changelog: https://github.com/webpack/webpack-dev-middleware/releases/tag/v2.0.0

[2017-12-14 22:52] Hypnosphi commented on #2483
We bypass `devServer` option from user's config to `webpack-dev-middleware`. So upgrading it means a breaking change on our side:
https://github.com/storybooks/storybook/blob/f9e9cbf421b33c91c15e13d87179fc6c12c4e77b/packages/react-storybook/src/server/middleware.js#L28

[2017-12-14 23:11] seniorquico commented on #2193
I'm bummed it took this long... but I finally got the time to dig into this and post a repo that reproduces the problem.

https://github.com/seniorquico/storybook-2193

This appears to be an issue with using Storybook.js in a project using Lerna and/or Yarn Workspaces. The repo includes a create-react-app project that works just fine standalone. The same project copied into a Lerna/Yarn Workspaces

[2017-12-15 06:16] gersongoulart commented on #1108
@ndelangen are there any plans to allow programmatic usage of storybook's build system? I'm needing to do something like:
[code]
I'd be more than happy to contribute with a PR, just need some direction on how to get started...

[2017-12-15 06:58] #1311 closed

[2017-12-15 10:27] AlexanderTserkovniy commented on #2487
Yes, I have tried quite much approaches. Let me show you what I get.

1) If I put it in the `.storybook/storyshots.test.js` it just fails the same way. Basically this code is not get invoked before the component code is run.

[code]

[code]

2) When I put it into `Icon` component:

[code]

 then tests are passed  PASS  .storybook/storyshots.test.js. And command `jest` just works.

**BUT** if I run

[2017-12-15 11:11] denkristoffer commented on #124
I'm just commenting to avoid the bot closing this issue. Sorry about that.

[2017-12-15 11:12] Hypnosphi commented on #2487
The problem is that `require.context` is not actually a runtime function, it's rather a hint for webpack that gets replaced by an actual context object.

Did you try this answer?
https://stackoverflow.com/questions/38332094/how-can-i-mock-webpacks-require-context-in-jest/42439030#42439030

[2017-12-15 11:27] AlexanderTserkovniy commented on #2487
Will try and return with results, thanks. Just remember that it was not so neat to try it.

[2017-12-15 11:38] AlexanderTserkovniy commented on #2487
BTW

https://github.com/mzgoddard/jest-webpack

Fails on https://github.com/mzgoddard/jest-webpack/issues/21.

[2017-12-15 11:39] Hypnosphi commented on #2487
By the way, how does your story for icon look like?

[2017-12-15 11:50] AlexanderTserkovniy commented on #2487
[code]

[2017-12-15 11:52] Hypnosphi commented on #2487
So, `icons.Line` is an object of this form?
[code]

[2017-12-15 11:58] frankred commented on #2460
The problem is that there is no `start-storybook` cmd or binary. How to get this tool?

[2017-12-15 11:58] frankred commented on #311
The problem is that there is no start-storybook cmd or binary for windows. How to get this tool?

[2017-12-15 12:01] AlexanderTserkovniy commented on #2487
Yes

[2017-12-15 12:03] Hypnosphi commented on #2487
You can mock it like this then:

https://gist.github.com/Hypnosphi/043d6f138c3dd2ad88472ea74f7bc12f

`icons.js` gets executed in browser, and `__mocks__/icons.js` in node

[2017-12-15 12:06] AlexanderTserkovniy commented on #2487
Thanks, looks good. But I believe I need require.context for webpack to actually bundle all svgs. So if I go with fs, webpack will not add all svg files to the bundle.

[2017-12-15 12:08] Hypnosphi commented on #2487
files under `__mocks__` directory are only for jest. You shouldn't require them yourself, so they shouldn't affect webpack in any way

[2017-12-15 12:13] AlexanderTserkovniy commented on #2487
Yes, got it, I mean this part `require.context('../../assets/icons/Line', true, /.+\.svg$/)` is used by webpack to actually add files to bundle.

[2017-12-15 12:16] Hypnosphi commented on #2487
Sure, and it's preserved in `icons.js`

[2017-12-15 12:18] Hypnosphi commented on #2487
BTW you actually add those SVGs to bundle only when you call `requireAll`

For storyshots you don't need it because the svg sprite is hidden anyway

[2017-12-15 12:25] thirdhand commented on #2425
I created a repo with my test. Currently I don't get any errors with it.

https://github.com/thirdhand/test-typescript-storybook

[2017-12-15 12:31] UsulPro commented on #1604
Yes, I did:
![image](https://user-images.githubusercontent.com/14885189/34042052-ec41de54-e1ab-11e7-9b4e-348a4176e125.png)

![image](https://user-images.githubusercontent.com/14885189/34042215-a3b72f94-e1ac-11e7-9841-e2e2d2a559d7.png)

[2017-12-15 19:16] #2181 closed

[2017-12-15 19:30] davegaeddert commented on #1921
Ok, let me know how it goes. I appreciate the feedback (and the patience).

[2017-12-15 19:39] #1604 closed

[2017-12-15 19:48] ndelangen commented on #1108
@gersongoulart I'd be happy to add this functionality to storybook.

How to exactly achieve this, I'd have to really dive into too. Right now, I just don't know either.

Let's have a look together, maybe you, me and @ersel can go on a skype-call together and figure this out?

[2017-12-16 10:23] ndelangen commented on #1576
Anyone interested in helping out?

[2017-12-16 10:34] ndelangen commented on #729
@ConneXNL to finish this issue up, do you think you could help us with improving the docs in this regard?

If you can't find a good place for it, just punk it down somewhere in markdown format. I'll take take of placing it in.

🙇

[2017-12-16 15:13] UsulPro commented on #1604
sure!

[2017-12-16 18:20] thirdhand commented on #2425
I discovered that I'm able to reproduce the issue if I install React as a dependency of the subpackage. I've updated my [test repo](https://github.com/thirdhand/test-typescript-storybook).

[2017-12-16 18:43] marcobiedermann commented on #2425
@thirdhand You are right.
You must not install react as a dependency of a sub package :/

[2017-12-17 11:42] #2029 closed

[2017-12-17 22:22] #2082 closed

[2017-12-18 03:21] Skovy opened #2501 "3.3.0-alpha.4 `preview-head` does not work with a custom configDir"
### Issue details

On `3.3.0-alpha.4`, we use a custom config directory (`frontend/.storybook`). This works on `3.2`, but is broken on `3.3.0-alpha.4`. This appears to be fixed on `master` but not `release/3.3`. It appears the ENV var is always undefined:

https://github.com/storybooks/storybook/blob/3c1715dacaf95a789e4e024cdb1e8993bf3ada9b/app/react/src/server/config/utils.js#L37

### Steps to re

[2017-12-18 03:29] Skovy commented on #1994
I couldn't find this issue with googling, but I had this same issue and using the ENV var seems to fix the issue.

https://github.com/storybooks/storybook/issues/2501

[2017-12-18 11:38] adrianblynch commented on #2482
Checked on `3.3.0-alpha.4` by running:
[code]

Works as expected. The panel now scrolls after a resize.

Sorry I didn't check this before posting.

[2017-12-18 11:44] Gongreg commented on #831
I think we can close this issue. If you have questions you can ask more about it.

[2017-12-18 11:44] #831 closed

[2017-12-18 12:59] ndelangen commented on #1108
@gersongoulart when would you be available? Would you mind joining our slack so we can communicate easier?

[self invite link](https://now-examples-slackin-nqnzoygycp.now.sh/)

[2017-12-18 14:32] Gongreg commented on #2216
Hey @andrespch, Sorry to be late to party. Take a look:

https://expo.io/@gongreg/rn-storybook-hosted-client-example

And the server:

https://vast-eyrie-45947.herokuapp.com/ (takes ~30s to load because of heroku, but possible to solve, just don't have enough knowledge about heroku).

I will try to do post about how you can achieve it.

Right now:

Server: https://github.com/wix/wix-react-native-s

[2017-12-18 14:46] #2482 closed

[2017-12-18 16:19] dependencies[bot] opened #2506 "jest versions available: 22.0.0"
There are new versions of jest available from npm.

## 22.0.0

_No content found._

[2017-12-18 16:19] dependencies[bot] opened #2507 "jest-cli versions available: 22.0.0"
There are new versions of jest-cli available from npm.

## 22.0.0

_No content found._

[2017-12-18 16:19] dependencies[bot] opened #2508 "babel-jest versions available: 22.0.0"
There are new versions of babel-jest available from npm.

## 22.0.0

_No content found._

[2017-12-18 16:19] dependencies[bot] opened #2509 "jest versions available: 22.0.0"
There are new versions of jest available from npm.

## 22.0.0

_No content found._

[2017-12-18 16:39] Hypnosphi commented on #2506
duplicates #2509

[2017-12-18 16:39] #2506 closed

[2017-12-18 22:05] swashcap opened #2513 "Question: propTypes for redux-connected components?"
### Issue details

I'm creating components that must use [react-redux's `connect`](https://github.com/reactjs/react-redux/blob/master/docs/api.md#connectmapstatetoprops-mapdispatchtoprops-mergeprops-options) to grab some global application state. These components also have configurable properties. I'd like to be able to view the components' `propTypes` in their storybooks, _but_ I only see the `co

[2017-12-18 23:42] eddiemonge commented on #2513
Do the connect in a different export and just export your component as a pure component

[2017-12-19 01:07] noratodaitan opened #2514 "Angular - Add component story with dependencies"
### Issue details

I had some errors when I try to create a story for a component that has dependencies, like pipes and directives.

### Version of Storybook and optionally any affected addons that you're running

- storybook/addon-actions ^3.3.0-alpha.4
- storybook/addon-knobs ^3.3.0-alpha.4
- storybook/addon-links ^3.3.0-alpha.4
- storybook/addon-notes ^3.3.0-alpha.4
- storybook/addons ^3.3.0-al

[2017-12-19 04:16] igor-dv commented on #2514
What is the angular version in this case ? Can you elaborate where the error is happening ?

[2017-12-19 08:29] ndelangen commented on #802
@vgpena There's a hex notation for rgba, so that shouldn't be a problem.

[2017-12-19 10:27] noratodaitan commented on #2514
@igor-dv It's angular 5.0.0
This is the same error when miss the dependency injector for the pipe.
In the first comment I attach module code.

[2017-12-19 11:22] frankred opened #2515 "Storybook adds { and } to my objects."
### Issue details
withInfo or Storybook wraps { } to all my values and objects.

[code]

Will be shown as Storybook Source:

[code]

### Steps to reproduce
Pass an object as component probs.
[code]

[2017-12-19 13:52] mantissa7 opened #2516 "Addons > StoryShots > Docs - Tutorial behind paywall"
### Issue details

What happens:
Readme points to a resource that is behind a paywall.

What should happen:
Resource should be generally available, or alternatives should be provided.

https://github.com/storybooks/storybook/blob/master/addons/storyshots/README.md

Under ** Configure your app for Jest** the docs mention that if Create React App is used then it's fine, otherwise refer to the link.

[2017-12-19 16:04] igor-dv commented on #2514
I've added a PR to fix this. Thanks !

[2017-12-19 16:09] noratodaitan commented on #2514
Amazing, man!
Thanks for you help!

[2017-12-19 16:16] apertureless commented on #2445
Diplaying the currentValue would be nice. Especially while development when you're tweaking some default values.

[2017-12-19 17:56] swashcap commented on #2513
@eddiemonge That approach doesn’t scale for me, unfortunately: I have several dozen components, each requiring unique slices/pieces of the state tree.

[2017-12-19 20:38] diegolacarta opened #2522 "storyshots bug in react with typescript"
### Issue details

When running storyshots with jest I get this error:

[code]

I've been able to replicate it in the following repo:

https://bitbucket.org/diegolacarta/storyshots-bug/src

After a bit of debugging I saw the error happens here:

[code]

Any ideas?

Thanks

[2017-12-19 20:46] leetercola opened #2523 "React 16 update and react portals not working"
### Issue details

Using latest react 16 and creating a story for elements created by ReactDOM.createPortal(child, container)  the modal components are rendering outside the iframe and add a portal to the page every time you click the story. I would expect that the elements would be rendered to a container element inside the preview iframe and to visiting the story link would not create multiple p

[2017-12-19 23:22] ndelangen commented on #124
No worries @denkristoffer thanks perfectly fine to do, I hear @UsulPro is back and might invest some time on this again. 🙇  (after 3.3)

[2017-12-20 03:29] hermanvos commented on #1570
@ndelangen I have a change but haven't been able to test it yet... will try and get on to it this week.

[2017-12-20 11:23] fczuardi commented on #2509
not sure if related, but trying to upgrade jest to 22 broke storyshots on a codebase I work on with:

[code]

[2017-12-20 13:39] noratodaitan commented on #2514
@igor-dv Found the same behavior for apply a directive with input
### Code Snippets
[code]

## Console error
[code]

[2017-12-20 13:59] igor-dv commented on #2514
Yeah. I think @alterx have a more robust solution for the other missing features. Once #2467 will be finished we will take care of other stuff. Thanks for the feedback!!

[2017-12-20 14:29] alterx commented on #2514
Yup,  @noratodaitan, we have a solution coming that will allow people to inject schemas, providers et al (basically everything you can include in a NgModule).

[2017-12-20 14:32] noratodaitan commented on #2514
That sounds great, I will write more tests here.

[2017-12-20 15:54] frankred commented on #2515
I also have a datePicker component that receives a date object.

[code]
But the Story Source does not show the `new Date()` call:
[code]

[2017-12-20 18:23] eddiemonge commented on #2513
My app is using hundreds. They are divided into components and containers. The component only takes props and has stories that show it in different states. The other export is a container that is purely responsible for maintaining state from redux. Your code would look like this:

[code]

Then in your story:
[code]
Your stories should show the components, not the containers

[2017-12-20 19:00] brianespinosa opened #2525 "Storybook Centered Decorator & IE11 compatability"
### Issue details

When using the [Storybook Centered Decorator](https://github.com/storybooks/storybook/tree/master/addons/centered) addon, it appears that it may be trying to center the component before the iframe has been rendered when using IE11. This causes the component top be rendered out of the viewport.

### Steps to reproduce

1. Configure Storybook with a global centered decorator in `c

[2017-12-20 21:26] mjswensen commented on #1981
It's also worth noting that you will also get this error if you haven't yet `register`ed your addon. Maybe that's super obvious to others, but it tripped me up for a while. 😊

[2017-12-20 22:22] KaySackey commented on #2522
I'm having the same issue. It looks like its related to the preview functionality for story panels. Is that new? I couldn't find documentation of it.

Since I was already mocking out react-dom for other reasons, I was able to fix the tests by using:

[code]

[2017-12-20 22:31] alterx commented on #269
@aitboudad, here's the PR to support custom module metadata.
So far I've added examples for Pipes and Services. I need to test Directives, Schemas, etc but they *should* be working too.

Let me know what you think

[2017-12-20 22:37] alterx commented on #2469
@ralzinov this is something we definitely want in `@storybook/angular` and I like this API.
I can't work on this right now but it's definitely in the top spot of my todo list.

Do you think you could take this proposal one step further and issue a PR? I'm more than willing to guide you if something doesn't make sense (although it looks like you're well versed in Angular :) )

[2017-12-20 22:40] alterx commented on #2514
@noratodaitan here's the PR https://github.com/storybooks/storybook/pull/2526
We still need to test some stuff but please do give it a spin and let us know how that goes :)

[2017-12-20 23:34] swashcap commented on #2513
I created a demo project to show what's happening: https://github.com/swashcap/react-storybook-connect-example. The [sample button component](https://github.com/swashcap/react-storybook-connect-example/blob/ec6d900b6a2980dbf22f3d779a536d68bbd40429/src/components/PrimaryButton.js) has a few necessary properties that gathers from the redux store. In practice this may be _way more_ properties. It doe

[2017-12-21 00:58] philipbeadle commented on #2522
Thanx for this, I was getting the same thing :)

[2017-12-21 05:26] ggarek commented on #1402
Same here. I am using webpack with awesome typescript loader and  the `build-storybook` fails with:

[code]

whereas `start-storybook` works fine.

i am using `@storybook/cli#3.2.18`

[2017-12-21 06:19] igor-dv commented on #269
@ToniaDemchuk, would you mind checking again with new changes?

[2017-12-21 06:24] igor-dv commented on #2525
I think browser detection is the best way. But everything that is not changing an existing functionality (there are people that may just rely on flex) will be a good PR.

[2017-12-21 13:57] ralzinov commented on #2469
@alterx Thank you! I think i can do that. But that api seems to me little dirty solution, bindings rarely  changing, what if do that with another decorator like this:
[code]

[2017-12-21 15:34] alterx commented on #2469
Hmmm, what would this bring to the table that the other approach (a simple object) wouldn't? 🤔
"Decorators" in Storybooks are actually add-ons that, for the most part, work across all the supported frameworks. I think it makes sense to declare all the things inside the story (the same way it makes sense to declare all the dependencies and thing inside an NgModule when we create angular apps.

I'd

[2017-12-21 16:18] ralzinov commented on #2469
Mm its just less verbose and has better readability. I thought about decorators because you can decorate component once at top and use it in stories. You can also pass there other things ( f.e dependencies for ngModule) which don't change. It is more laconically than "propsBinding" property in every story and 1 and 2 methods.

Problem with 3 method can be if somebody want to pass a callback or cla

[2017-12-21 16:50] alterx commented on #2469
I agree with you concerns with method # 3

Readability is somewhat subjective, what's readable for me it's not necessarily readable for others. And it just feels like the percentage of verbosity reduced isn't worth. However, decorating a component a single time and then using it in several stories does feel like a solid reason to lean towards this approach.
Also, I can see how adding this decorato

[2017-12-21 17:58] ralzinov commented on #2469
Ok, i will do that

[2017-12-21 19:57] brianespinosa commented on #2525
Thanks @igor-dv. I will submit a PR on this either late today or sometime tomorrow. You can assign this to me if you want.

[2017-12-21 22:03] Hypnosphi commented on #1921
@davegaeddert It's still failing on 9 updates

[2017-12-21 22:53] thirdhand commented on #2425
Doesn't seem to matter whether the versions are the same. I found out that if I use the command `lerna bootstrap --hoist` then lerna will lift (the `--hoist` flag) any common dependencies (such as React) to the top level `node_modules` directory. This seems to resolve the problem.

As for this bug, I'm not even sure whether it belongs here or in the Webpack issue tracker. I'm leaving this open, bu

[2017-12-21 23:48] marcobiedermann commented on #2425
@thirdhand You are good! I did not know that a `--hoist` flag exists. I tested it and it works absolutely fine. Good job! 👍

[2017-12-22 03:50] ggarek commented on #1402
Here is what i found out.

○ the `react-storybook` project uses [default `UglifyJS` provided by webpack v3](https://webpack.js.org/plugins/uglifyjs-webpack-plugin/), which is old version and thus it can not handle es6+ features (e.g. let, const, =>, etc).

_It means, that your build produces es6+ code, which is passed to old UglifyJS, hence the error_

○ For those, who use `at-loader`, the reason

[2017-12-22 08:55] Hypnosphi commented on #2523
What do you pass as `container` argument?

[2017-12-22 11:02] leoselig opened #2531 "Incorrect isStorybook-check ("Storyshots is intended only to be used with storybook")"
### Issue details

The `hasDependency()`-check to verify if `addon-storyshots` is running in a storybook-project is looks up the first package.json's dependency list via [`read-pkg-up`](https://www.npmjs.com/package/read-pkg-up). If the dependency resides in the `node_modules` on higher level (e.g. in certain monorepos) this check gives a false positive and fails. However, a lookup due to an `impo

[2017-12-22 14:04] frankstallone opened #2534 "Upgrade failed: from 3.2.8 to 3.2.18"
### Issue details

Current project running version 3.2.8. Running `npm update @storybook/react` will properly upgrade to 3.2.18. We are running full control mode + default.

What did you expect to happen?
Storybook to run fine, as it did before.

What happened instead?
During start up we see `Failed to load ./.env.`. Storybook continues to load. Bringing it up in the browser produces Storybooks si

[2017-12-22 16:15] frankstallone commented on #2534
This also appears to fail in the same way when installing 3.2.17.

[2017-12-22 16:54] ndelangen commented on #2469
@ralzinov Could you join us on the storybook slack?
[self invite link](https://now-examples-slackin-rrirkqohko.now.sh/)

[2017-12-22 16:54] ndelangen commented on #2469
WHOOPS didn't mean to close at all

[2017-12-22 19:27] frankstallone commented on #2534
Appears to be two issues. I can see [in 3.2.17's changelog](https://github.com/storybooks/storybook/releases/tag/v3.2.17) dotenv was added. Fine, we don't use it.

Second issue: If I am running storybook on 3.2.18, console tells me:

[code]

Going to [Why is there no addons channel?](https://storybook.js.org/basics/faq/#why-is-there-no-addons-channel) I see that I may have different version of add

[2017-12-22 20:12] Primigenus opened #2537 "Handle a11y for components with delayed rendering"
### Issue details

The a11y addon doesn't work with content that loads late. I have a component that waits until data has arrived before rendering, but the a11y addon runs immediately. There is no way to access the underlying axe object used by the addon in order to re-run the test once the content is available.

The best solution would be to magically handle components with delayed rendering. A s

[2017-12-22 21:06] adamchenwei opened #2539 "Custom Head Tag is not loaded"
### Issue details
I read https://storybook.js.org/configurations/add-custom-head-tags/ and added `preview-head.html` into `.storybook/` dir. But it never actual render upon the component style!

Below is the content
[code]
but when I inject similar header as `manager-head.html` in `.storybook/` then it works, but ONLY for the control panel.

What is going on?

### Steps to reproduce

Do above inst

[2017-12-22 21:08] adamchenwei commented on #2539
silly me, I did `preview_head` instead `preview-head`. man

[2017-12-22 21:08] #2539 closed

[2017-12-23 00:29] pelotom commented on #2509
#2522 mentions a workaround in the comments.

[2017-12-23 05:13] davegaeddert commented on #1921
@Hypnosphi ok, I increased the time limit to 45 minutes for now. That's more than double what it was. We're in the middle of working through what is essentially turning into a "v2" of the whole system -- which factors in all of the feedback and things that we've seen so far. Hopefully, it will deal with most of these kinds of problems, while also introducing some new UI and workflows for managing

[2017-12-23 17:44] shilman commented on #269
I just released 3.3.0-alpha.6 containing a bunch of Angular changes from @alterx @igor-dv @ralzinov

https://github.com/storybooks/storybook/releases/tag/v3.3.0-alpha.6

The relevant Angular changes include:

-   Added type annotation to helpers, added ts declaration files for angu… [#2459](https://github.com/storybooks/storybook/pull/2459)
-   Adding extra metadata to module/components [#2526](ht

[2017-12-23 21:09] aitboudad commented on #269
@alterx that's exactly what I'm looking for, thanks!

it would be nice if we can provide the template content instead of component:
[code]

@shilman for  `3.3.0-alpha.6` looks good to me, the only issue I noticed is the addons are not included in the package like `@storybook/angular`, solved by
[code]

[2017-12-23 21:42] ToniaDemchuk commented on #269
@igor-dv, Thanks for response. Now it's working fine.

@shilman, Some changes broke the angular-cli example, now NameComponent and ServiceComponent are not compiling due to typings:
[code]

I suppose that the `moduleMetadata?: { [p: string]: NgModuleMetadata; }` in the `IGetStory` should be as `moduleMetadata?: NgModuleMetadata`. After casting module metadata in examples to `any` everything works

[2017-12-23 21:55] ToniaDemchuk commented on #269
I have also faced some problems with scss loaders for angular, similar to the issue @neo described above.
I solved the issue with the following webpack config rule:
[code]
It looks like the angular does not work with `style-loader` and you need to use `to-string-loader` instead.
It would be nice to provide documentation and(or) example how to use components with scss stylesheets.

[2017-12-23 23:00] dependencies[bot] opened #2544 "babel-jest versions available: 21.0.0"
There are new versions of babel-jest available from npm.

## 21.0.0

_No content found._

[2017-12-23 23:00] dependencies[bot] opened #2545 "jest versions available: 21.0.0"
There are new versions of jest available from npm.

## 21.0.0

_No content found._

[2017-12-23 23:00] dependencies[bot] opened #2546 "jest-cli versions available: 21.0.0"
There are new versions of jest-cli available from npm.

## 21.0.0

_No content found._

[2017-12-23 23:00] dependencies[bot] opened #2547 "codelyzer versions available: 4.0.0"
There are new versions of codelyzer available from npm.

## 4.0.0

### Features

- Support for Angular version 5 [#409](https://github.com/mgechev/codelyzer/issues/409) [0217e2d](https://github.com/mgechev/codelyzer/commit/0217e2dba6a93c93329cbf09ae0fca81af9f05ba)
- Rule for checking the name events without the prefix on https://angular.io/guide/styleguide#dont-prefix-output-properties [#449](http

[2017-12-23 23:00] dependencies[bot] opened #2548 "check-node-version versions available: 3.0.0"
There are new versions of check-node-version available from npm.

## 3.0.0

This release changes the default output behavior to only print
*unsatisfied* versions. If all checked versions pass, there is no
output. A `--print` option has been added to get the old behavior of
always printing versions.

* **Breaking**: Remove `--quiet` option, add `--print` option.
* **Breaking**: Move versions under

[2017-12-23 23:00] dependencies[bot] opened #2549 "@types/node versions available: 7.0.0"
There are new versions of @types/node available from npm.

## 7.0.0

_No content found._

[2017-12-23 23:00] dependencies[bot] opened #2550 "codelyzer versions available: 4.0.0"
There are new versions of codelyzer available from npm.

## 4.0.0

### Features

- Support for Angular version 5 [#409](https://github.com/mgechev/codelyzer/issues/409) [0217e2d](https://github.com/mgechev/codelyzer/commit/0217e2dba6a93c93329cbf09ae0fca81af9f05ba)
- Rule for checking the name events without the prefix on https://angular.io/guide/styleguide#dont-prefix-output-properties [#449](http

[2017-12-23 23:00] dependencies[bot] opened #2551 "karma versions available: 2.0.0"
There are new versions of karma available from npm.

## 2.0.0

_No content found._

[2017-12-23 23:00] dependencies[bot] opened #2552 "ts-node versions available: 4.0.0"
There are new versions of ts-node available from npm.

## 4.0.0

_No content found._

[2017-12-23 23:48] ralzinov commented on #269
@ToniaDemchuk Yes you right it should be ```moduleMetadata?: NgModuleMetadata```. Actually i fixed that already [here](https://github.com/storybooks/storybook/pull/2554)

[2017-12-24 04:37] shilman commented on #269
I published @ralzinov 's change at `3.3.0-rc.0` which is under the NPM tag `rc` instead of `alpha`.

@ToniaDemchuk please try it out and let us know if that fixes it for you.

Thanks everybody for your patience and hard work to help us get this out!

[2017-12-24 11:10] Hypnosphi commented on #2551
@alterx Are we actually running some tests in Karma, or is it just a part of angular-cli default setup?

[2017-12-24 18:59] alterx commented on #2551
Yup, it's just part of the cli default setup

On Sun, Dec 24, 2017, 5:10 AM Filipp Riabchun <notifications@github.com>
wrote:

--
Ing. Carlos Vega Rodríguez
*Web Developer / Software Engineer  | +506 89131416 *

[2017-12-24 19:03] #2551 closed

[2017-12-24 22:41] igor-dv commented on #2531
There is a [`framework`](https://github.com/storybooks/storybook/tree/master/addons/storyshots#framework) prop that should help you. We actually use StoryShots in the Storybook monorepo as you describe.

[2017-12-25 01:31] DrSensor opened #2560 "Module not found @storybook/addon-knobs/vue"
### Issue details

I'm trying to use [poi](https://github.com/poi-examples/storybook-vue-example) for prototyping component. So far so good without knobs but when I added this to `config.js`

[code]

It gives me this error
[code]

I believe this is an issue in `@storybook/addon-knobs` because when I open the folder `node_modules/@storybook/addon-knobs` there is no `vue.js` nor `vue/index.js` and n

[2017-12-25 10:34] leoselig commented on #2531
Oh, I apologize for missing that one. Thanks for helping out!

[2017-12-25 10:34] #2531 closed

[2017-12-25 19:56] danielduan commented on #2534
@frankstallone you must use all addons to the same version as your react storybook package. If you have any lock files, you must delete them when deleting node_modules as well.

[2017-12-25 20:00] danielduan commented on #2516
We should not be including any paywall content inside our docs. @ndelangen thoughts on possible alternative for link?

[2017-12-25 22:07] ndelangen commented on #2516
Hi @mantissa7, thanks for checking out storybook and storyshots, and opening up a ticket, the effort is appreciated.

To setup storyshots you need to have jest setup first. So indeed there's some knowledge required.

I have no problem linking to payed courses, people have to make a living.
What's described in the payed content is how to use and setup Jest. Which is a prerequisite to using storysho

[2017-12-26 12:51] suhas777 commented on #15
Initially I tried with "npm set registry https://registry.npmjs.org" (without quotes) and it didnt work. Later I tried with npm set registry https://registry.npmjs.org/ and it worked. "/" MATTERS

[2017-12-26 14:05] frankstallone commented on #2534
Thanks @danielduan for the response. Fresh start this morning.

1. Deleted `node_modules` folder
2. Deleted `package-lock.json` file
3. Updated `package.json`*
4. Ran `npm i`
5. Ran `npm run storybook`
6. Profit 💰

Everything seems to be working perfectly now. I presume not previously deleting the `package-lock.json` file was the final culprit.

* Updated `package.json`:
[code]

[2017-12-26 14:07] #2534 closed

[2017-12-26 15:10] arush commented on #2522
thanks for the workaround.
To clarify, this only works if i put it before the `initStoryshots()`, but breaks all my other normal jest tests if i put it in `setupTests.ts`.

I guess we need to make sure the snapshot tests don't rely on `react-dom` for now. How would we go about fixing this for real so we don't need a workaround?

[2017-12-26 19:01] danielduan commented on #2537
We'd love a PR if you have time to look into it. I think adding an additional button to re-evaluate seems like a short and simple approach.

[2017-12-27 00:22] shilman opened #2569 "Angular getstorybook broken"
### Issue details

Added storybook to a fresh angular project and it needs extra steps to install.

### Steps to reproduce

Here's what I expected to work:
[code]

Here are the additional steps I had to take to get the example working:

[code]

### Please specify which version of Storybook and optionally any affected addons that you're running

- @storybook/cli 3.3.0

### Affected platforms

- Thi

[2017-12-27 00:41] tmeasday opened #2570 "Don't require storyshots users to transform `lodash-es`"
### Issue details

As part of https://github.com/storybooks/storybook/pull/2558 we added a dependency on `lodash-es`, an uncompiled JS dependency.

This means that Jest needs to be configured to transform the file with:

[code]

within each users' storyshots-using project.

### Steps to reproduce

Create a storyshots project with 3.3.

[2017-12-27 00:58] tmeasday commented on #2570
Can we add to the user's jest config? Feels a little hacky, but then storyshots is pretty hacky ;)

[2017-12-27 00:58] tmeasday commented on #2570
cc @igor-dv @Hypnosphi

[2017-12-27 01:00] tmeasday commented on #2570
The only other option I can think of is to use something like `babel-register`

[2017-12-27 02:40] tmeasday commented on #2570
I don't think `babel-register` works with jest, so I think that is out.

[2017-12-27 04:29] igor-dv commented on #2570
Hmm.. Shit. I've Forgotten about people need their own jest config. Storyshots already use babel-core internally maybe we can somehow use it for that?

[2017-12-27 04:33] igor-dv commented on #2569
So is it fixed?

[2017-12-27 04:44] tmeasday commented on #2570
It also overrides `require`, so maybe.. let's try some stuff.

[2017-12-27 04:53] tmeasday commented on #2570
This line is the place the exception comes from (it isn't clear from the stack trace):

https://github.com/storybooks/storybook/blob/tmeasday/note-jest-changes/addons/storyshots/src/index.js#L46

[2017-12-27 06:34] shilman commented on #2501
I'm able to reproduce this exactly as described here by @Skovy. Looking into a fix.

cc @danielduan

[2017-12-27 06:50] shobhitchittora opened #2573 "[unexpected behavior] Restrict Storybook to be opened inside Storybook"
### Issue details

I was crating a `Link` component and gave `href` as `/` for the anchor tag.  This opened Storybook inside the rendering area of the main Storybook.
Screenshot is attached below -

![screen shot 2017-12-27 at 12 07 52 pm](https://user-images.githubusercontent.com/4711855/34373282-3e297198-eb00-11e7-80ca-2381dd4d3a63.png)

### Please specify which version of Storybook and optional

[2017-12-27 07:13] igor-dv commented on #2573
Looks like you are using a very old version of Storybook. Can you please try the @storybook/react v3.2.x

[2017-12-27 07:39] shobhitchittora commented on #2573
@igor-dv The new version does not have this issue. 👍🏻
But when I change `href` to '#', it opens up the iframe in for the component, with the url as -
[code]
Is this an intended behavior?

[2017-12-27 09:07] samouss commented on #2501
The issue seems to come from the fact that in the `webpack.config` the `configDir` is always read from the `ENV` instead of coming from the program (see [config/webpack.config.js#L37-L53](https://github.com/storybooks/storybook/blob/master/app/react/src/server/config/webpack.config.js#L37-L53)). If you follow the call to `getConfigDir` you will see that the function always read the `configDir` fro

[2017-12-27 11:47] Hypnosphi commented on #2570
Why?

[2017-12-27 13:12] igor-dv commented on #2570
DIdn't work for me,

[2017-12-27 14:27] alterx commented on #2469
Hey @ralzinov , what about a simpler API? Take a look at https://github.com/storybooks/storybook/issues/269#issuecomment-353748311.

I think we could just allow users to provide a template. Given that we already have an `NgModule` it should be pretty straightforward 🤔
I'll create a PoC today after work

[2017-12-27 14:43] FredyC opened #2575 "Haul support for React Native not working on Windows"
### Issue details

I am trying to configure `storybook-react-native` with Haul because I want to use Typescript loader. On my Windows machine I end up with this error.

[code]

### Steps to reproduce

Run following on the Windows machine
`storybook start -p 7007 --haul webpack.haul.storybook.js`

### Please specify which version of Storybook and optionally any affected addons that you're running

[2017-12-27 17:28] eur00t opened #2582 "Support for `.babelrc.js`"
### Issue details

Currently `@storybook/react` only looks for Babel configuration in `.babelrc` file:

https://github.com/storybooks/storybook/blob/d63bf65afa75f2f6f4c0f63b0fedb990a8ea98d0/app/react/src/server/babel_config.js#L48

In `@babel/core` they support more configuration sources (`.babelrc.js`, `.babelrc`, `package.json`):

https://github.com/babel/babel/blob/7d798952d2a305cf77d24d1707f72

[2017-12-27 17:42] #2005 closed

[2017-12-27 19:03] greggb opened #2583 "Snapshot and reloading slowdown in 3.3.1"
### Issue details

When using Storyshots with version 3.2.17 my tests generally run in about 15 seconds. After upgrading to 3.3.1 (all storybook packages), they are taking well over a minute.

Hot reloading has also increased from 1.9s to 4s after the upgrade.

Aside from the slowdown a few of my snapshots no longer match after the upgrade. For instance:
using `jest-glamor-react`
[code]

### Steps

[2017-12-27 23:21] tmeasday commented on #2570
Jest overrides require itself I guess. It doesn't seem like they are compatible.

[2017-12-27 23:45] tmeasday commented on #2570
If we want to try and get it working with Jest we should probably follow these for insights into a non-hacky solution: https://github.com/facebook/jest/issues/4842 https://github.com/facebook/jest/issues/2205

[2017-12-28 00:25] tmeasday opened #2587 "Hot Module Reload not working properly for `@storybook/react@3.3.1`"
### Issue details

Due to https://github.com/storybooks/storybook/pull/2503

if you change a story's or component's implementation, it will not re-render on HMR.

### Steps to reproduce

Simply change any of the story implementations in kitchen-sink

### Please specify which version of Storybook and optionally any affected addons that you're running

- @storybook/react 3.3.1

[2017-12-28 00:39] tmeasday commented on #2587
See https://github.com/storybooks/storybook/pull/2588

[2017-12-28 01:03] eddiemonge commented on #2570
This is a breaking change and is causing test failures for us

[2017-12-28 02:34] shilman commented on #2501
@samouss I have also tried this fix out and have something basic working, but don't understand the implications of the fix. If you could put together a PR and we can get other people on the team to comment, that would be really awesome!!

[2017-12-28 02:40] danielduan commented on #2501
I'm quite confused as to why this was working before and not anymore. I think there might be a PR somewhere to enable configuration via environment variables.

[2017-12-28 03:31] tmeasday commented on #2587
Fixed in 3.3.2

[2017-12-28 03:31] #2587 closed

[2017-12-28 04:44] tmeasday opened #2590 "Action addons is slow to log events"
### Issue details

A callback that logs the passed event directly to an action can incur a noticeable delay before logging.

For instance, in `cra-kitchen-sink` if you change the story to:

[code]

It takes probably 2-3s for the action to be logged in the actions pane, on my iMac.

**Notes**:

1. It seems to depend on the complexity of your app exactly how slow it is. In the kitchen sink app (a CR

[2017-12-28 06:01] igor-dv commented on #2570
Will revert it today

[2017-12-28 08:31] samouss commented on #2501
It seems that a recent change introduce the `HtmlWebpackPlugin` for generate both manager & iframe html files. Previously they was generate in the `build.js` file where the `configDir` was available in the current scope (see https://github.com/storybooks/storybook/commit/f42248157b3cf9b49de98ea9bca1f88495d6d58a#diff-ba110c4fe305160aa94df6d17e4235dcL102).

But now they are generated form the `webpa

[2017-12-28 13:37] lufego opened #2593 "storybook-readme broken after version 3.3.0 update"
### Issue details

After the update of `@storybook/react` to version 3.3.0, `@storybook-readme` addon seems to be broken

### Steps to reproduce

| Before | After |
|:---|:---|
|<img width="849" alt="screen shot 2017-12-28 at 14 28 09" src="https://user-images.githubusercontent.com/14938754/34412186-1c3d7df4-ebdc-11e7-8eba-60068e321921.png">|<img width="848" alt="screen shot 2017-12-28 at 14 29 53

[2017-12-28 14:37] ndelangen commented on #1088
@Spy-Seth Looks like you might be able to make a PR, adding this for everyone? 🙇

[2017-12-28 14:53] ndelangen commented on #15
Thank you @suhas777 I've updated the first post to match. 👏

[2017-12-28 15:42] greggb commented on #2590
Seeing this also (related #2583)

[2017-12-28 16:10] #2569 closed

[2017-12-28 16:22] dependencies[bot] opened #2595 "babel-loader versions available: 7.0.0"
There are new versions of babel-loader available from npm.

## 7.0.0

### 💥 Breaking Change
 * Drop support for node < 4
 * Drop support for webpack 1

### 🚀 New Feature

* support babel-core@7 (#403) (Henry Zhu)

### 🐛 Bug Fix

* Make sure .babelrc is a file, not a directory (#427) (Hiroki Osame)
* Bump loader-utils and use getOptions (#391) (Brian Ng)
* Ensure options are always an object (#413)

[2017-12-28 20:09] ralzinov commented on #2469
@alterx hmm i think its great idea, will experiment on weekend. Found lib that can help us [link](https://www.npmjs.com/package/ng-dynamic#dynamiccomponenttemplate)

[2017-12-28 20:14] Hypnosphi commented on #2595
In `docs` package, we need to use the same major version that `gatsby` does

[2017-12-28 20:14] #2595 closed

[2017-12-28 20:22] alterx commented on #2469
This looks really promising @ralzinov , we could offload the tricky parts of dynamic component generation 🤔

[2017-12-28 21:17] DimaRGB opened #2602 "[3.3.3] eslint: Unable to resolve path to module @storybook/react"
### Issue details

After update to `3.3.3` see eslint error: `Unable to resolve path to module @storybook/react. (import/no-unresolved)`

### Please specify which version of Storybook and optionally any affected addons that you're running

- `@storybook/react 3.3.3`

### Screenshots / Screencast / Code Snippets (Optional)

[code]

eslintrc.js:
[code]

[2017-12-28 21:32] Hypnosphi commented on #2602
Probably related to adding `jsnext:main` in #2589

[2017-12-28 22:12] DimaRGB commented on #2602
seems like eslint try to use `jsnext:main` but `src` folder not published.

[2017-12-28 22:55] DimaRGB opened #2603 "[3.3.3, addon-info] Incorrect parse props with babel-plugin-flow-react-proptypes"
### Issue details

`OneOfType` and `ArrayOf` try to get [propType.value](https://github.com/storybooks/storybook/blob/master/addons/info/src/components/types/OneOfType.js#L7) but only have `propType.elements`.

[code]

[code]

### Steps to reproduce

Use `babel-plugin-flow-react-proptypes` and union prop:

[code]

### Please specify which version of Storybook and optionally any affected addons tha

[2017-12-29 02:25] tmeasday commented on #2587
I wonder if vue has this same problem:

https://github.com/storybooks/storybook/blob/03f04e03dab9c1230be1b90afc60664674bbc59f/app/vue/src/client/preview/render.js#L63-L72

[Not introduced in 3.3 but there anyway?]

I'm not sure who to @ here @ndelangen

[2017-12-29 08:00] orlov-vo opened #2606 "[Storyshots] SyntaxError: Unexpected token import"
### Issue details

I tried to add the add-on "storyshots" to my big project for testing stories. But I can't connect everything together to make it work.

### Steps to reproduce

[code]

### Please specify which version of Storybook and optionally any affected addons that you're running

- `@storybook/react 3.3.2`
- `@storybook/addon-actions 3.3.2`
- `@storybook/addon-links 3.3.2`
- `@storybook/ad

[2017-12-29 08:48] igor-dv commented on #2606
Yeah, there was a regression. Please try v3.3.3

[2017-12-29 09:37] ndelangen commented on #2587
Could @ @kazupon ?

[2017-12-29 09:43] ndelangen commented on #2606
I had the same problem, I fixed it using by adding the lodash-es module to the jest `transformIgnorePatterns`:

[code]

[2017-12-29 09:45] ndelangen commented on #2606
I think that closes this issue, this was addressed in `3.3.3` right?

[2017-12-29 09:45] #2606 closed

[2017-12-29 10:07] #2435 closed

[2017-12-29 13:15] TomYeoman opened #2607 "Unable to extend my webpack config"
### Issue details

Storybook is saying I don't have a CSS loader after attempting to extend the webpack config to allow for SASS in addition to CSS. It seems my webpack is getting overritten rather than extended

### Steps to reproduce

add **.storybook/webpack.config.js** with the following code

[code]

![image](https://user-images.githubusercontent.com/14075632/34437888-3159140a-ec9a-11e7-8d56-

[2017-12-29 13:20] ndelangen commented on #2607
Please use the [Webpack2 syntax](https://webpack.js.org/configuration/)

[2017-12-29 13:23] ndelangen commented on #2607
This might be what you need:
https://storybook.js.org/configurations/custom-webpack-config/#full-control-mode

[2017-12-29 13:32] tuchk4 commented on #2593
@lufego I will fix this bug in few days

[2017-12-29 13:34] TomYeoman commented on #2607
@ndelangen thanks for the speedy response!

That certainly looks like it would achieve what i'd be after, however i'm still experiencing the same error about needing a CSS loader after using that code aswell

webpack.config.js

[code]

Error

![image](https://user-images.githubusercontent.com/14075632/34438184-cdbe98a4-ec9c-11e7-9adf-7906d766fe29.png)

Again the CSS loads fine without that webpack

[2017-12-29 15:11] adamchenwei commented on #208
anyone would add the doc for allowing webpack dev server proxy into the storybook?

[2017-12-29 17:59] #2514 closed

[2017-12-29 18:05] Hypnosphi commented on #1402
We replaced the uglify plugin in #2530

Can you please check if the problem is still present in `3.3.3` version?

[2017-12-29 18:06] Hypnosphi commented on #2545
Fixed with #2542

[2017-12-29 18:06] #2545 closed

[2017-12-29 18:07] Hypnosphi commented on #2560
Those files were introduced only in version `3.3`

[2017-12-29 18:07] #2560 closed

[2017-12-29 18:17] ndelangen commented on #2607
the logged webpack config IS missing the css loaders..

[2017-12-29 19:25] adamchenwei commented on #208
this should add into the doc...

[code]

[2017-12-30 00:12] psimyn commented on #2607
@TomYeoman it is failing to load a `.css` file because your loader is only configured for `.scss` files.

change `test: /\.scss$/,`

to `test: /\.s?css$/,`

[code]

[2017-12-30 02:40] #301 closed

[2017-12-30 02:40] #707 closed

[2017-12-30 02:40] #1355 closed

[2017-12-30 02:40] #970 closed

[2017-12-30 02:40] #1569 closed

[2017-12-30 07:08] nimadera commented on #2607
@TomYeoman, assuming you're using Material UI, wrapping the component in `<MuiThemeProvider>` within Storybook should get rid of the "Cannot read property 'prepareStyles' of undefined" error.

[2017-12-30 12:42] Hypnosphi commented on #2573
What would you expect instead in that case?

[2017-12-30 13:13] #1580 closed

[2017-12-30 15:19] Spy-Seth commented on #1088
Did you mean add the gist as an official decorator inside storybook mono-repo?

[2017-12-30 16:56] 0xcaff commented on #197
ReactiveVar was a proposed solution, not something which was implemented.

[2017-12-30 17:03] Hypnosphi commented on #197
You can try any of the two `storybook-state` addons:
https://github.com/Sambego/storybook-state
https://github.com/dump247/storybook-state/

[2017-12-30 18:25] #1121 closed

[2017-12-30 18:50] ndelangen commented on #1088
Activate it by default seems good to me, do you agree?

[2017-12-30 21:41] Spy-Seth commented on #1088
In the preview view it's a good idea yes.

I just need to find where to it in the source code 😄

[2017-12-30 23:08] #686 closed

[2017-12-30 23:10] adamchenwei opened #2610 "Storybook does not process .babelrc extends correctly"
### Issue details

_Please provide issue details here - What did you expect to happen? What happened instead?_
I expect `npm run storybook` to load correctly without errors show in screenshot below
### Steps to reproduce
get react-static, produce a site, install storybook-cli globally then `getstorybook` in the react-static produced base site.

_Please provide necessary steps for reproduction of t

[2017-12-31 01:55] SEAPUNK commented on #799
bump

[2017-12-31 03:18] priley86 commented on #790
Noticing the same issue after attempting to upgade all my storybook packages to 3.3.3...

when setting a propType using `oneOf` alongside `withInfo` addon, I now see the following error with addon-info `3.3.3`. I did not see this issue when using the deprecated API and [3.2.12]( https://github.com/patternfly/patternfly-react/blob/master/package.json#L33)

`Alert.js`:
[code]

`constants.js`:
[code]

[2017-12-31 03:19] priley86 commented on #790
after debugging a bit...seems that `OneOf` definition [here](https://github.com/storybooks/storybook/blob/master/addons/info/src/components/types/OneOf.js#L4) is accepting literals but not `import`'d types.

[2017-12-31 09:28] #777 closed

[2017-12-31 17:31] Hypnosphi commented on #2610
Here's the `.babelrc` this generator produces:
[code]

Looks like we don't process this `extends` properly

[2017-12-31 19:23] #2205 closed

[2017-12-31 20:24] M-ZubairAhmed commented on #2475
hi can I work on this?

[2017-12-31 21:07] dangreenisrael commented on #2515
@frankred Could you create a fork of storybook, and try reproduce this issue in the `examples/cra-kitchen-sink`

[2017-12-31 23:46] Hypnosphi commented on #2475
Of course @M-ZubairAhmed
Make sure to refer to [`CONTRIBUTING.md`](https://github.com/storybooks/storybook/blob/master/CONTRIBUTING.md) to get familiar with our dev setup

[2018-01-01 01:41] #760 closed

[2018-01-01 17:43] #2214 closed

[2018-01-01 19:19] #2135 closed

[2018-01-01 22:58] pelotom opened #2615 "Uncaught Error: Target container is not a DOM element."
I am getting this error since upgrading from `3.2.18` to `3.3.3`:

[code]

And the page is just showing the following text:

[code]

[2018-01-02 00:57] dereklin opened #2616 "Failed when first time trying out storybook-angular. Could you please provide more comprehensive example for Angular?"
I am new to storybook.  I have just given storybook-angular a try.

Here is my repo: https://github.com/dereklin/nx-demo-jest/tree/trying-out-storybook

The set up was quick easy.

Then I tried to test (write a story) my tab-nav component.

The first problem:

When I tried to do this

[code]
'@nx-demo-jest/tab-nav' can't be resolved.  Is there an option to map @nx-demo-jest to my libs folder?

So

[2018-01-02 05:20] dereklin commented on #2616
Digging through the examples I found this to help me set up the dependencies:

[code]
Now I need to figure out how to supply styles on the story level.

How to use scss

How to use mapped modules

[2018-01-02 05:31] igor-dv commented on #2616
Hey, @dereklin , thanks for the feedback. We will improve our docs to make it easier.
Regarding the `storybook/angular-cli` - Storybook is a monorepo, you need to build it in the appropriate way before running the examples - you can check it [here](https://github.com/storybooks/storybook/blob/master/CONTRIBUTING.md#1-download-the-latest-version-of-this-project-and-build-it).
Scss - yeah, there is

[2018-01-02 05:32] tmeasday commented on #2570
This was fixed and released in 3.3.3

[2018-01-02 05:32] #2570 closed

[2018-01-02 06:14] tmeasday commented on #2590
I think a short term suggestion here would be to just treat native events / react versions / etc (e.g. `instanceof Event`) specially and not serialize them/deserialize them at all. I don't think inspecting a `MouseEvent` really tells me anything..?

What do you think @rhalff?

[2018-01-02 07:16] dereklin commented on #2616
@igor-dv Thanks for all good work.

I followed the link you gave me to try to set up scss: https://storybook.js.org/configurations/custom-webpack-config/

It's still not working

Here is my repo: https://github.com/dereklin/nx-demo-jest/tree/trying-out-storybook

I have these loaders installed: "style-loader", "css-loader", "sass-loader"

[2018-01-02 08:13] igor-dv commented on #2616
You need to use `raw-loder` instead of the `style-loader`

Something like this:
[code]

Not shire if you need css-loader.

[2018-01-02 08:21] kotpal opened #2617 "getstorybook doesn't work"
### Issue details

Followed the steps to create a storybook, but got an error when I ran getstorybook command:
 getstorybook - the simplest way to add a storybook to your project.

 • Detecting project type. ✓
    We couldn't detect your project type. (code: UNDETECTED)
    Please make sure you are running the `getstorybook` command in your project's root directory.
    You can also follow some of

[2018-01-02 09:00] rhalff commented on #2590
@tmeasday I think that will be the best solution for now.

The original behavior was to just return the string `[SyntheticEvent]` by checking whether the `preventDefault` property existed on the object.

I've been rather occupied with this bug, but did not come to a solution yet.

I found there is also a rather nasty memory leak. There is an obvious one where all the actions are kept within state

[2018-01-02 10:51] karlos1337 commented on #269
Still have the error with scss loader and angular storybook v3.3.3 with @ralzinov changes:

`angular/index.d.ts: moduleMetadata?: Partial<NgModuleMetadata>;`

https://gist.github.com/karlos1337/18e4538b37128818ec3e4b507b3b3a3c

Thanks.

[2018-01-02 11:01] igor-dv commented on #269
@karlos1337 , take a look at this issue - #2616.

[2018-01-02 11:29] karlos1337 commented on #2616
But to expand the webpack configuration you need to run an' ng eject' and this removes other CLI capabilities and can't be undone.

Is there a solution that doesn't involve modifying the CLI webpack configuration?

[2018-01-02 11:37] igor-dv commented on #2616
I am not sure, but maybe for Storybook you don't need to eject the CLI. Try to put `webpack.config.js` to the `.storybook` dir and fill there only missing scss things.

[2018-01-02 11:42] shilman commented on #269
Released in 3.3! 🎉

Closing this issue, and if you're having problems with storybook for angular, please file a separate issue. Thanks!

[2018-01-02 11:42] #269 closed

[2018-01-02 12:29] karlos1337 commented on #2616
Thanks @igor-dv, it works, now have problems with providers dependencies, can't find any Angular documentation and don't want to make more rubbish in your github issues, are there any forum or channel for support?

[2018-01-02 13:13] pedrokermitgoncalves commented on #2358
I have the same issue here, I've downgraded `@storybook/addon-info` to v3.2.18 and it works fine on that version, so the problem must has been introduces between there and v3.3.3

[2018-01-02 13:25] ndelangen commented on #799
Should be merged/solved pretty quick:
https://github.com/storybooks/storybook/pull/1745#issuecomment-354765501

[2018-01-02 13:31] igor-dv commented on #2616
Yeah, we have to provide a better documentation. For now, you can check this: https://github.com/storybooks/storybook/blob/master/examples/angular-cli/src/stories/custom-metadata.stories.ts

And we have a [slack](https://now-examples-slackin-nqnzoygycp.now.sh/)

[2018-01-02 13:56] igor-dv commented on #2616
Here is the right slack links - https://now-examples-slackin-rrirkqohko.now.sh/

[2018-01-02 14:42] ndelangen commented on #2615
@pelotom Thanks for opening up an issue, I've seen this error during development on 3.3.
It was when running storyshots, We fixed it there, but it seems you're experiencing it in a different scenario.

Can you make sure all storybook related packages are at the same version?

It looks like it's related to a webpack config. We use the HTMLplugin with a template, seems that's where the problem might

[2018-01-02 14:43] ndelangen commented on #2615
Are you using a custom webpack config? If so, can you share it?

[2018-01-02 15:36] lifehackett commented on #799
Awesome. Glad to be able to make use of this. I think this issue can be closed.

[2018-01-02 15:45] aaronfullerton commented on #2615
@ndelangen I'm also getting this exact error using a custom webpack config since upgrading to 3.3.

If it's helpful, here's my [webpack config](https://gist.github.com/aaronfullerton/48a52d99763b68fd6bb5d84a4f4d44b2), which is more or less the version that ships with create-react-app.

[2018-01-02 15:48] #2316 closed

[2018-01-02 15:48] #1634 closed

[2018-01-02 15:48] #1892 closed

[2018-01-02 15:48] #2481 closed

[2018-01-02 15:58] pelotom commented on #2615
I’m also using a webpack config derived from CRA.

[2018-01-02 16:10] shilman commented on #2617
Do you have a public repo I can look at to help diagnose and suggest a fix? Thanks!

[2018-01-02 16:21] greggb commented on #2583
3.3.3 has reduced this down to `Time: 31.207s`. I haven't dug into why yet. Also seems like my snapshots are back to all being correct.

Storybook recompile time back down to 2s as well.

Thanks folks - So happy I can upgrade now.

[2018-01-02 16:21] #2583 closed

[2018-01-02 17:20] tourshi opened #2619 "Info addon - setting an option within the story without using addWithInfo"
### Issue details

Is there a way to set the info addon options per story? I've added the info addon globally so that all my stories have the info-addon activated but what I would like to do is also pass options to an individual story. Particularly, the option to show PropTable or exclude a component from a PropTable.

is this possible?

### Please specify which version of Storybook and optionally

[2018-01-02 17:40] karlos1337 opened #2620 "Angular 2 APP_BASE_HREF problem"
### Issue details
Can't load a component because of APP_BASE_HREF provider, I try to load component loading only  necesary dependencies and importing all AppModule, same error on loading APP_BASE_HREF, not sure but maybe because StoryBook adds `<base target="_parent">` to the iframe.
### Steps to reproduce
* Create a story for a component from an app with `<base href="/">`.
* With `providers: [  ]

[2018-01-02 19:05] ersel commented on #2617
Detect logic depends on inspecting the `package.json` file to figure out which generator template to run, it would be help if you could share the `package.json` file at least.

[2018-01-02 19:22] kotpal commented on #2617
I was just following the steps. What was missing in the steps - and I figured it out after reading more about how Storybook operates - is the creation of the appropriate app (be it React, Angular or Vue).

I got the getstorybook to work. I see only the button components for Angular. I don't see any other components that are shown in the Medium post. What am I missing here?

[2018-01-02 19:24] greggb commented on #2583
Just as a data point for anyone that may find this issue. Moving `initStoryshots` into a single file and not outputting to individual directories takes my test run from 31 seconds to 8 seconds. The organization of `storyKindRegex` doesn't seem to be worth the hit in speed.

[2018-01-02 19:57] igor-dv commented on #2583
Did you try the multisnapshot option ?

[2018-01-02 20:11] greggb commented on #2583
@igor-dv Yes, and it did exactly what I needed, but I wasn't able to get the [emotion serializer](https://github.com/emotion-js/emotion/blob/master/docs/testing.md) to work, so I'll need to revisit in the future.

I tried moving my testSetup serializer config into the init config, but no luck.

[code]

[2018-01-02 21:03] tobilen opened #2622 "[3.3.3 storybook/react] Content in panels is escaped"
### Issue details

Generated Content (as done by the [storybook-readme](https://github.com/tuchk4/storybook-readme) addon) is being auto escaped. The HTML is (ultimately) set via dangerouslySetInnerHTML (see https://github.com/acdlite/react-remarkable/blob/master/src/index.js#L31 ), addon worked prior to 3.3

addon-notes works fine **as long as no loader (like `raw-loader`) is specified in the web

[2018-01-02 21:09] tobilen commented on #2622
duplicate of https://github.com/storybooks/storybook/issues/2593 👼

[2018-01-02 21:55] dereklin commented on #2616
@igor-dv Thanks for the tip on getting scss to work.

Does storybook config provide any module name mapper feature like jest?:

[code]
So that I can do this:

[code]
instead of
[code]

I can create .storybook/preview-head.html and include style frameworks like bootstrap.  That's on the global level.  Can I use different styles on the individual story level?

Should I be asking these questions in s

[2018-01-02 22:01] ndelangen commented on #2615
Do you have a repo I can checkout @aaronfullerton or @pelotom ?

I'm trying the webpack config @aaronfullerton provided, but it's demanding a lot of time getting it setup in a way for me to reproduce.

[2018-01-02 22:05] psimyn commented on #2619
you can use `withInfo`, example: https://github.com/storybooks/storybook/tree/master/addons/info#usage-with-options

[2018-01-02 22:18] ndelangen commented on #799
I'll close it when the PR is merged 👍

[2018-01-02 23:22] psimyn commented on #2582
another example: jest currently reimplements same logic: https://github.com/facebook/jest/blob/master/packages/babel-jest/src/index.js#L29

adding it as an export from babel-core makes sense

[2018-01-02 23:30] Primigenus opened #2623 "Allow alpha transparency to be returned from color picker knob"
https://github.com/storybooks/storybook/blob/7ef5e392ce26ab04ba28c55b9d7e22c90f26380f/addons/knobs/src/components/types/Color.js#L87

It looks like the `hex` value is set and passed back up to the story from the color picker. But if I instantiate it with a transparent color (eg. `rgba(255,0,0,.5)`), the `.5` is discarded - both in the color picker itself (interacting with the opacity field does no

[2018-01-02 23:30] Primigenus commented on #2623
Aaaand this is a dupe

[2018-01-02 23:30] #2623 closed

[2018-01-03 00:02] aaronfullerton commented on #2615
@ndelangen sure, You can try this: https://github.com/aaronfullerton/storybook-issue-2615

I pulled this from our existing codebase and attempted to remove as much noise as possible. My apologies if there's still a bit of unnecessary code in there.

[2018-01-03 01:07] #2115 closed

[2018-01-03 02:43] tmeasday commented on #2590
Would you like me to submit a PR reverting this behavior for events?

[2018-01-03 03:50] rhalff commented on #2590
@tmeasday Added the changes I did in this pull request. I haven't created any tests for it yet though.

Let me know if you think this solution is sufficient.

[2018-01-03 04:26] travi opened #2627 "jsnext:main for @storybook/react is not included in published package"
* https://github.com/storybooks/storybook/blob/911e6156f17ebe153418133dfc7d077eb1fb96a2/app/react/package.json#L11
* https://github.com/storybooks/storybook/blob/911e6156f17ebe153418133dfc7d077eb1fb96a2/app/react/.npmignore#L2

[2018-01-03 04:55] #805 closed

[2018-01-03 05:15] chrbala commented on #208
To make it API-compatible with CRA, the following works:

[code]

IMO this should be added as a default to storybook, since it does say that it bases the default setup on CRA.

[2018-01-03 05:54] tmeasday commented on #2590
Definitely sufficient. My only additional suggestion would be to treat that type specially and log it as such (i.e. so it doesn't look like a string). I'm not sure if `react-inspector` would support that though?

[2018-01-03 06:38] igor-dv commented on #2616
Storybook itself doesn't provide any module aliasing api. Maybe you can use the webpack alias to achieve this, but I think it doesn't scale. You can think about "story" like about some part of your component - you have `css`, `html` and `spec` alongside with you component js code, so you can place there the `.story.js` file as well, and everything will be relative.

Can you elaborate?

You can ask

[2018-01-03 06:48] igor-dv commented on #2620
@karlos1337 , can you please provide a code example?

[2018-01-03 10:12] JonShort commented on #2627
Looks like this was addressed in #2604

[2018-01-03 10:31] JonShort commented on #2619
The `propTables` & `propTablesExclude` options accept arrays to configure the prop table on a per-story basis.

example - `ExampleComponent` story which excludes the prop table for the component, and shows prop tables for `Button` and `Align` component instead:
[code]

Some more info on the available options [here](https://github.com/storybooks/storybook/tree/master/addons/info#options-and-default

[2018-01-03 11:01] rhalff commented on #2590
I can also take a different approach and set the depth for events to 0, which will only load the first level of properties.

Which would look something like this (object names still missing):

![funcs](https://user-images.githubusercontent.com/274358/34517147-ba4e1168-f071-11e7-85e4-e6310bcf0533.png)

You can get an idea on how performant that would be by changing the default in decycle to 0 (in m

[2018-01-03 11:54] Quramy opened #2629 "[Angular] Styles in .css files are not applied"
### Issue details

Styles in .css files are not applied to Storybook's iframe:

I wrote the following component with `styleUrls`:

[code]

and

[code]

But the component rendered by Storybook is not applied this style ( the font-color is black).

And I use not `styleUrls` but `styles`:

[code]

then, the component gets red colored.

### Steps to reproduce
I've created the reproducing repo:

[code]

[2018-01-03 12:14] igor-dv commented on #2629
Yeah, I'm familiar with this issue. It is because in this way `css` is not loaded as expected. Storybook has already a css rules that puts all the css to the `<style>` tag. So probably you need to take the full control mode of the `webpack.config` and to replace the existing css loaders with yours. And you probably need just to use the `raw-loader`
Another solution is to use `scss` and add only sc

[2018-01-03 14:26] ndelangen commented on #1088
I'd assume it's something you configure in the `webpack.config.js` ?

That'd be located here:
https://github.com/storybooks/storybook/blob/master/app/react/src/server/config/webpack.config.js

[2018-01-03 14:56] jelisejev opened #2630 "Storyshot's multiSnapshotWithOptions does not work with TypeScript"
### Issue details

The multiSnapshotWithOptions feature is not working correctly when writing stories in TypeScript:
it initially generates the snapshots correctly after a repeated run, the "Storyshots Integrity › Abandoned Storyshots › encountered a declaration exception" test fails reporting all files as missing.

The problem is because of this peace of code:

[code]

It's looking only for js or

[2018-01-03 15:27] tuchk4 commented on #2593
Try `storybook-readme@3.2.0`. Ping if any issues.

Not that now there are no additional webpack configuration for React Storybook.

https://github.com/tuchk4/storybook-readme#webpack-configuration-for-react-storybook

[2018-01-03 15:28] tuchk4 commented on #2622
@tobilen now fixed.

Try `storybook-readme@3.2.0`

[2018-01-03 15:31] igor-dv commented on #2630
@jelisejev , we have a PR where storyshots will be working with angular,
[this](https://github.com/storybooks/storybook/pull/2564/files#diff-a3e89e598b48fc8bfcbb947cc9410349R14)  line is fixing the ts issue.

I can probably cherry pick it to a separate PR for a patch release...

[2018-01-03 15:33] tuchk4 commented on #2593
Close this issue for now.

Please reopen is any problems.

[2018-01-03 15:33] #2593 closed

[2018-01-03 15:59] tourshi commented on #2619
Thank you @psimyn @JonShort
I was hoping not to use 'withInfo' because I've set it globally and  if i am understanding correctly, I cannot use withInfo() if I've set the addon globally.

https://github.com/storybooks/storybook/tree/master/addons/info#usage-as-decorator

In any case, I tried it, but I don't seem to be getting any output, here is my code:
`.add(
    'Default',
    withInfo(
      {

[2018-01-03 16:18] adamchenwei commented on #208
@chrbala  what is CRA?

[2018-01-03 16:23] dependencies[bot] opened #2631 "danger versions available: 3.0.0"
There are new versions of danger available from npm.

## 3.0.0

* Updates to the CLI user interface. Breaking changes for everyone.

  **TLDR** - change `yarn danger` to `yarn danger ci`.

  Danger JS has been fighting an uphill battle for a while with respects to CLI naming, and
  duplication of work. So, now it's been simplified. There are four user facing commands:

  * `danger init` - Helps yo

[2018-01-03 16:36] ndelangen commented on #208
[Create React App](https://github.com/facebookincubator/create-react-app)

[2018-01-03 16:49] igor-dv commented on #2629
So, did it work?

[2018-01-03 16:53] ndelangen commented on #2615
Thank you, I have found the solution to the problem thanks to your reproduction repo ❤️

Here's the required change:
https://github.com/aaronfullerton/storybook-issue-2615/pull/1

[2018-01-03 16:53] ndelangen commented on #2615
Please let me know if this doesn't solve the problem for you, or something else breaks.

I'll close the issue, but happy to re-open if it still goes 💥

[2018-01-03 16:53] #2615 closed

[2018-01-03 16:55] Quramy commented on #2629
Yeah. The above config works well.

[2018-01-03 16:57] igor-dv commented on #2629
Cool. I think it worth adding to `app/angular` docs. Would you mind to PR it?

[2018-01-03 17:06] aaronfullerton commented on #2615
Excellent, thank you. I can confirm this solves the problem. I'll look into updating the docs to indicate this.

[2018-01-03 17:06] Quramy commented on #2629
OK, I'll send! 😄  Which file should I add? ( I think `docs/src/pages/basics/guide-angular/index.md` or `docs/src/pages/configurations/custom-webpack-config/index.md`)

[2018-01-03 17:16] igor-dv commented on #2629
I think start from the `docs/src/pages/basics/guide-angular/index.md` =)

[2018-01-03 17:16] #2629 closed

[2018-01-03 18:04] tobilen commented on #2622
works like a charm. nicely done ❤️

[2018-01-03 18:15] tobilen commented on #2622
@tuchk4 looks like storyshots are failing though:
[code]

seems like the code wasnt transpiled before publishing?

[2018-01-03 18:31] #835 closed

[2018-01-03 19:43] alansouzati opened #2635 "Babelrc resolving to wrong location"
### Issue details

When I have a local babel preset, storybook is not able to locate it.

### Steps to reproduce

- Run `start-storybook` where you have a local babel preset. For example:

[code]

### Please specify which version of Storybook and optionally any affected addons that you're running

- @storybook/react 3.3.3

### Affected platforms

- Npm 5.6.0
- Node v8.9.4
- macOS High Sierra

###

[2018-01-03 20:27] leetercola commented on #2523
By container argument what do you mean? Here is the relevant code for the story
`const stories = storiesOf('MDT Modal', module);

stories.addWithJSX('Modal', () => {
    const props = {
        title: "I'm a modal",
        icon: "error",
        contents:[],
        isOpen: true,
        footer: false,
        hasHeader: true
    };
    const wrapper = <MDTModal {...props} ><p>I'm modal body</p><

[2018-01-03 21:42] tobilen commented on #2603
can confirm. it also throws the same error without using babel-plugin-flow-react-proptypes though.

after some testing, i can boil it down to:
[code]

[code]

or, in other words, have a component file with flow typing and union type (if story and component are declared in the same module, it'll work fine), try to render a story with this component and it'll throw.
if the component is being wrapped

[2018-01-03 22:01] ndelangen commented on #806
@benediktvaldez Still interested?

[2018-01-03 22:16] tmeasday opened #2636 "Continue refactoring out common code from app layers"
Following on from https://github.com/storybooks/storybook/pull/2241

Checklist:

- [x] Update RN
- [ ] Refactor RN more aggressively
- [ ] Refactor manager code
- [ ] Refactor server code
- [ ] Update tests/docs

[2018-01-03 22:17] tmeasday commented on #2636
@igor-dv you mentioned something about wanting to separate the angular part of `@storybook/core` -- can you go into a little more detail?

[2018-01-03 22:20] alterx commented on #2636
@tmeasday, there are several functions for generating dynamic components and metadata repeated through the angular app and the knobs addon. We should unify them so we don't repeat ourselves

[2018-01-03 22:54] igor-dv commented on #2636
👆  + after #2564 will be one more place - storyshots.

[2018-01-03 23:17] #802 closed

[2018-01-04 00:24] Hypnosphi commented on #2635
Looks like it locates the file itself, but fails to resolve relative path from it correctly

Probably related: #2610

[2018-01-04 00:27] Hypnosphi commented on #2523
The second one in `ReactDOM.createPortal(child, container)`

[2018-01-04 00:31] ohtake commented on #1402
The issue was fixed in v3.3.3. Thank you.

[2018-01-04 00:35] alansouzati commented on #2635
my current work around is to set a `.babelrc` file inside `storybook` folder that does not use the local preset.

I will try to investigate what is going on.

[2018-01-04 00:40] #1402 closed

[2018-01-04 00:55] alansouzati commented on #2602
hey, great that we have a merged PR for this! :) Any news when we will have it released? also, I believe this issue can be closed?

[2018-01-04 00:57] Hypnosphi commented on #2602
@shilman how about a patch release?

[2018-01-04 01:06] ChristianDavis commented on #2382
There was a linking issue in yarn 1.0.0 that is corrected in 1.3.0 (released as 1.3.2), https://github.com/yarnpkg/yarn/releases/tag/v1.3.0

1.3.2 should be listed as the lowest compatible version in the guide https://github.com/storybooks/storybook/pull/2638#issue-285854674

[2018-01-04 04:14] travi commented on #2627
any ETA on publishing this? it has my build in a broken state due to eslint trying to follow that reference instead of the `main` that used to work:

[code]

[2018-01-04 06:53] tmeasday commented on #2590
I think this would be a great improvement to the current workaround!

[2018-01-04 07:00] tmeasday commented on #2636
@alterx / @igor-dv do knobs and storyshots not ultimately depend on `@storybook/angular` though? In which case the common functionality could maybe just stay in that package?

[2018-01-04 07:54] igor-dv commented on #2636
I think none of the addons currently are dependant on any of the app packages. We can technically do it (like @Hypnosphi suggested - just import things from extraneous deps, without defining them in package.json), but in this case, it feels a bit dirty to me - because of the purpose of the "app" package.

[2018-01-04 08:04] igor-dv commented on #2616
Closing it for now. @dereklin feel free to reopen if you are still having issues.

[2018-01-04 08:04] #2616 closed

[2018-01-04 08:06] jelisejev commented on #2630
@igor-dv

The PR should fix the problem, however, if you can deliver the fix earlier, we would be very happy :) We're actively doing code reviews, and this feature indeed makes it much easier.

[2018-01-04 09:31] tmeasday commented on #2636
I think we need to figure out the story on the way that addons import from the various app packages anyway, right? I mean it's pretty hacky in storyshots as it stands, it would be best to figure out a pattern as we take it further.

I guess what I am wondering is whether it helps for (say) `@storybook/addon-storyshots` to depend on `@storybook/angular-core` instead of depending on `@storybook/angu

[2018-01-04 12:44] igor-dv commented on #2630
CC: @shilman. Patch candidate

[2018-01-04 13:11] robbertvancaem commented on #548
@simon360 After adding the options addon, use this in your config:

[code]

This will sort your stories alphabetically no matter in what order you loaded them.

[2018-01-04 13:20] paulparton opened #2641 "Angular Knobs changing property name to lower case"
### Issue details
When using knobs in Angular the property names are converted to lower case inside KnobWrapperComponent.knobChanged. This is making it impossible to use a knob on a property with a camel cased name

https://github.com/storybooks/storybook/blob/master/addons/knobs/src/angular/helpers.js#L76

### Steps to reproduce

When I console log the the ngOnChanges object for the following, th

[2018-01-04 13:43] ndelangen commented on #2641
Is this behavior seems to not exist in React, I wonder why this was added..

Can you remember why this was added @alterx ?

[2018-01-04 14:10] ndelangen commented on #548
@simon360 @robbertvancaem Would love a PR on our docs to improve to add this 🙇

[2018-01-04 14:11] amireynoso opened #2642 "Missing capture in background addon readme"
### Issue details
There capture image for the background addon in the readme is missing. It's linking to `https://github.com/storybooks/storybook/blob/master/addons/background/.storybook/backgrounds.gif` but there's nothing there.

### Steps to reproduce
Browse https://github.com/storybooks/storybook/tree/master/addons/background

### Screenshots / Screencast / Code Snippets (Optional)

![Image](h

[2018-01-04 14:36] alterx commented on #2641
It's probably a leftover from the first implementation (problems of having to duplicate code 😢 ), right now I can't think of a justification for this. Will look into it.

[2018-01-04 14:37] char0n opened #2643 "@storybook/react package problems"
### Issue details

When installing @storybook/react@3.3.3 there is a problem with package.json

### Steps to reproduce

`npm install @storybook/react@3.3.3`

Inspect `./node_modules/@storybook/react/package.json`

There is following property: `"jsnext:main": "src/client/index.js",`

Notice that the path `src/client/index.js` doesn't exist in the package tree. This is causing multiple issues like l

[2018-01-04 14:41] alterx commented on #2636
Yeah, I think this was a point of discussion when we I initially started working on the knobs addon. At that point in time we wanted to keep their functionality separated, after all just because you use storybook it doesn't mean you'll want to use the knobs addon. I still feel the same way. We should split out the metadata/component/module annotation stuff from both the app and the addons; these t

[2018-01-04 15:02] ndelangen commented on #2642
I will fix it

[2018-01-04 15:06] igor-dv commented on #2643
This is duplicate of #2627. Was already fixed, and will be released soon.
Thanks =)

[2018-01-04 15:06] #2643 closed

[2018-01-04 15:30] amcdnl opened #2645 "Angular Feedback"
First off, this is awesome guys! I know first hand what a challenge Angular can be to build this type of stuff for! I gave it a whirl today and here is my general 'end-user' feedback.

- Add SASS and LESS support by default when you scaffold
- Make scaffolded the stories and config TypeScript not JS
- Every example should show importing a NgModule
- Add option for defining a template in the story

[2018-01-04 15:39] leetercola commented on #2523
Looks like reactstrap has changed and isn't using portals.
`document.body.appendChild(this._element);`
https://github.com/reactstrap/reactstrap/blob/5.0.0-alpha.4/src/Modal.js
I would think the reference for document should be the iframe though and not the parent container

[2018-01-04 16:20] #2642 closed

[2018-01-04 16:27] Hypnosphi commented on #2523
Yes, it defenitely should be the iframe.
Can you please create a GitHub repo with minimal reproduction of this?

[2018-01-04 16:29] amcdnl opened #2647 "[Bug] Angular Components"
I have 3 different bugs I've identified in this repo: https://github.com/amcdnl/angular-storybook-issue

### Basic
In the basic scenario, I import my app component and nothing renders.

### Basic 2
In the basic 2 scenario, I use a component directly that has a nested module dependency and its not resolving that module. It throws the following errors:

[code]

### CSS
The `boostrap.css` file includ

[2018-01-04 16:52] ndelangen commented on #2645
//cc @alterx @ralzinov

[2018-01-04 16:59] alterx commented on #2645
Lovely feedback @amcdnl!

We do use dynamic components currently so adding the template support *shouldn't* be *very*-
 difficult. These examples are amazing (the inputs/outputs parsing code will help a lot)!

[2018-01-04 17:29] lcsrinaldi opened #2649 "[Addon Info] React warns unique "key" prop when using PropTypes.oneOfType"
### Issue details

The warning below appeared after I updated `addon-info` to 3.3.3. It happens when I use `PropTypes.oneOfType`, I think it got something to do with `PropTables` rendering.

[code]

### Steps to reproduce

1. Create a component
2. Add a story with `withInfo`
3. Add `PropTypes.oneOfType` to component's propTypes

### Please specify which version of Storybook and optionally any affe

[2018-01-04 19:31] leetercola commented on #2523
https://github.com/leetercola/storybook-issue

[2018-01-04 19:54] leetercola commented on #2523
I'm not entirely sure where the React Portals code is happening it's not in my code and it's not in the

[2018-01-04 19:54] #2523 closed

[2018-01-04 20:40] paulparton commented on #2641
Awesome! thanks for the fast response guys :)

[2018-01-04 22:23] coreylight commented on #2021
Getting the same issue.
[code]

- `@storybook/addon-storyshots@3.3.3`
- `react@16.2.0`
- `react-test-renderer@16.2.0`

[2018-01-04 22:42] Hypnosphi commented on #2523
Looks like your didn't `git add -A` before commiting: the repo is empty

[2018-01-04 23:28] ralzinov commented on #2647
Hello thank you for feedback, i have looked on your example, and at first story you trying to bootstrap app.component into another module, but i think it is not valid case (tell me if i wrong, [i have checked](https://stackblitz.com/edit/angular-mq4rrq) and got exactly the same error with pure angular)
I think you should export component from module if you want it to render. Second is that "app-ro

[2018-01-05 00:45] abrahamgnz opened #2652 "[Addon Info] - Error when using oneOf propType and a evaluation"
### Issue details

What did you expect to happen?
Tried to display the propTable of a component that has a code evaluation in the propTypes declaration.

What happened instead?
Error `propType.value.map is not a function` was displayed

### Steps to reproduce
Create a component with a evaluation in the propTypes declaration.
Add a story withInfo with an object defining the propTables to display th

[2018-01-05 10:19] sapkra opened #2655 "Scrollbar problems: Visible disabled scrollbars and overlapping of fixed elements"
### Issue details
The decorator set's the `overflow` to `scroll`, but it should be `auto` because if the content is not scrollable the scrollbars will be hidden with `auto`.

There is also an overlapping with fixed elements.
Problem: You can't place a fixed element relative to another fixed element but the backgrounds wrapper is a fixed element.

You can see both problems in the screenshot below.

[2018-01-05 11:13] magnusheino commented on #2021
Same issue as @coreylight, quick workaround that works for me:

[code]

[2018-01-05 12:05] #2235 closed

[2018-01-05 13:35] leetercola commented on #2523
Well now I feel like a scrub. Updated repo

[2018-01-05 13:55] amcdnl commented on #2647
Any ideas on the styles? The others I can work around.

[2018-01-05 15:38] alterx commented on #2647
Yeah, the explanation for this behavior is that we create an inner module that contains our main component (this component dynamically renders each story). Since the nested `TestingModule` module can only be used by the module that's importing it `AppModule`, the component is not available for our own module. Doing something like this should work for issue #2:

[code]

[2018-01-05 16:23] dependencies[bot] opened #2658 "ws versions available: 4.0.0"
There are new versions of ws available from npm.

## 4.0.0

# Breaking changes

- The close status code is now set to 1005 if the received close frame contains
  no status code (a31b1f6).
- Error messages and types have been updated (695c5ea).
- The `onerror` event handler now receives an `ErrorEvent` instead of JavaScript
  error (63e275e).
- The third argument of `WebSocket.prototype.ping()` and

[2018-01-05 16:28] igor-dv commented on #2647
@amcdnl , regarding the css:

Css in this case used in two different context:
1. like an import as you did - for this we use style-loader
2. like a styleUrl in component - for this we need raw-loader

So we have a collision between css rules.

What can you do: Use this [feature](https://storybook.js.org/configurations/add-custom-head-tags/) for the `boostrap.css`. Or even [this](https://storybook.

[2018-01-05 16:53] lewistaylor commented on #1981
We have a setup using react-native that looks like this:

index.js
[code]

We have no addons in the addons.js file, and every time we make a change running our app normally (so that hotreloading occurs), i.e. Config.RUN_STORYBOOK === '0', we get `Accessing not existent addons channel`.

We've managed to get around this by doing:

[code]

So that the storyboard import does not cause this issue. Is

[2018-01-05 17:23] coreylight commented on #2021
Following up, cc @magnusheino
In my case I am using the `multiSnapshotWithOptions()` test/option, and that seems to be even more complex to implement a shim for at the moment.
@eddiemonge can you reopen this?

[2018-01-05 17:40] ppatel221 commented on #2474
Hey Im a student in an open source development class. Im looking to contribute to a open source project. Can i take over?

[2018-01-05 17:51] #1870 closed

[2018-01-05 18:34] ndelangen commented on #1833
This has been added with `3.3.0`

[2018-01-05 19:31] chinchang commented on #1166
Is @types/storybook/vue coming in near future?

[2018-01-05 20:22] amcdnl commented on #2647
I was just showing that 2 different ways of doing it. Neither worked for me.

[2018-01-05 20:53] jalooc commented on #2409
@powermikee I have the same issue, but only when my knobs are added through `addDecorator` or imported from other file. Is it the same in your case?

I also noticed, that they appear again for a split of second during resizing of the panel.

[2018-01-05 23:03] joscha commented on #1166
@chinchang I don't think anyone is working on these types actively at the moment, but the types setup should be fairly similar to the react ones - maybe you can open a PR against definitelytyped and we can take it from there?

[2018-01-05 23:27] bcomnes commented on #1005
Following up here, I dont recall the details, but updating some of our dependencies fixed the issues I was having that caused me to want to turn it off.

[2018-01-05 23:56] Hypnosphi commented on #1005
We actually use ES6-aware uglify since #2530

[2018-01-05 23:56] #1005 closed

[2018-01-06 00:21] timgivois opened #2662 "Shortcut for Inspect Element on Chrome overlaped"
### Issue details
What did you expect to happen?
Tried to open inspect element on Chrome.

What happened instead?
Open Addon panel.

### Steps to reproduce
Open storybook in Chrome and then type Ctrl/Cmd + Shift + C.

### Please specify which version of Storybook and optionally any affected addons that you're running

- `@storybook/react 3.2.12`
- `@storybook/addon-info 3.2.12`

[2018-01-06 05:36] shilman commented on #2501
@samouss Any progress on a PR for this?

[2018-01-06 06:04] gersongoulart commented on #1108
@ndelangen, @ersel sorry for the delay, much going on lately. The "self invite link" above is no longer working (probably expired). I'm in Vancouver (UTC-08:00) but would be more than happy to join in a Skype call whenever works best for you.

[2018-01-06 09:25] ndelangen commented on #1108
UPDATED the link above

[2018-01-06 11:01] #2328 closed

[2018-01-06 13:25] samouss commented on #2501
Nope, I don't have the time to work on it yet. But I hope I will have it in the coming days!

[2018-01-06 14:39] Quramy commented on #2645
I think it's nice !

Now, `@storybook/angular` does not depend on `@angular/cli`. I understand that it makes sense for developers not using `@angular/cli`. However, almost all Angular developers create their project from `ng new`, so they(including me) want that `start-storybook` bundles module configured with their `.angular-cli.json`.

I think storybook should provide a helper function to config

[2018-01-06 15:06] smooJitter commented on #2301
How do I hide the menu.

[2018-01-06 15:11] smooJitter opened #2663 "React-native Menu (How to hide)?"
### Issue details

How do I hide the menu in simulation mode?

[2018-01-06 15:26] shilman commented on #2663
Set `onDeviceUI` to `false` in `getStorybookUI`. See the release announcement for an example:

https://medium.com/storybookjs/announcing-storybook-3-2-e00918a1764c?source=linkShare-37242fe7b393-1515252239

[2018-01-06 17:27] smooJitter commented on #2663
@shilman thanks man.  I appreciate the quick response.

[2018-01-06 18:31] timhaines opened #2665 "preview-head.html is no longer included in iframe.html after upgrading to v3.3"
Upgrading @storybook/react from 3.2.14 to 3.3.3, my preview-head.html file is no longer being included in the head of iframe.html when I build storybook or run start-storybook.

I'm using these scripts:
* `"storybook": "start-storybook -p 9001 -c storybook -s ./storybook/public"`
* `"storybook:build": "build-storybook -c storybook -s ./storybook/public"`

[2018-01-06 19:28] #2259 closed

[2018-01-06 20:10] TwistedIsles opened #2667 "deprecated babel-preset-es2015@6.24.1"
### Issue details
When installing using the instructions, warning for deprecated babel-preset-es2015 and no valid versions are available.

### Steps to reproduce
Running the following command:

`npm i -g @storybook/cli`

### Affected platforms
npm version 5.6.0

### Error Log
Console Log
[code]
Complete Log
[2018-01-06T19_50_12_143Z-debug.log](https://github.com/storybooks/storybook/files/1609180/

[2018-01-06 22:15] Hypnosphi commented on #2667
We don't actually use this preset directly, but our dependency `jscodeshift` does. They actually have an open [issue](https://github.com/facebook/jscodeshift/issues/222) about it, but unfortunately it didn't get any attention

[2018-01-06 22:39] tmeasday commented on #1328
This was fixed in 3.3.0

[2018-01-06 22:39] #1328 closed

[2018-01-06 22:40] tmeasday commented on #614
This was fixed in 3.3.0

[2018-01-06 22:40] #614 closed

[2018-01-06 23:29] BLamy opened #2668 "consume .env file like create-react-app"
Steps to reproduce
- start a new project with create-react-app
- come across the need for an API Key
- Put the `.env` file
[code]

- Put in `public/index.html`
[code]

The issue is I cannot consume this variable from `.storybook/preview-head.html`.

I could modify my project.json file to set them like here
https://storybook.js.org/configurations/env-vars/ but it would be nice if storybooks just pl

[2018-01-07 01:00] shilman commented on #2665
Duplicate to #2501

[2018-01-07 01:01] shilman commented on #2501
Fixed in #2666

[2018-01-07 13:45] Hypnosphi commented on #2665
Fixed in [`3.3.4`](https://github.com/storybooks/storybook/releases/tag/v3.3.4)

[2018-01-07 13:45] #2665 closed

[2018-01-07 13:45] Hypnosphi commented on #2501
Fix released as [`3.3.4`](https://github.com/storybooks/storybook/releases/tag/v3.3.4)

[2018-01-07 13:45] #2501 closed

[2018-01-07 13:46] Hypnosphi commented on #2641
Fix released as [`3.3.4`](https://github.com/storybooks/storybook/releases/tag/v3.3.4)

[2018-01-07 13:46] #2641 closed

[2018-01-07 13:46] Hypnosphi commented on #802
Fix released as [`3.3.4`](https://github.com/storybooks/storybook/releases/tag/v3.3.4)

[2018-01-07 13:46] Hypnosphi commented on #2575
Fix released as [`3.3.4`](https://github.com/storybooks/storybook/releases/tag/v3.3.4)

[2018-01-07 13:46] #2575 closed

[2018-01-07 13:47] Hypnosphi commented on #2602
Fix released as [`3.3.4`](https://github.com/storybooks/storybook/releases/tag/v3.3.4)

[2018-01-07 13:47] Hypnosphi commented on #2647
Fix released as [`3.3.4`](https://github.com/storybooks/storybook/releases/tag/v3.3.4)

[2018-01-07 13:48] Hypnosphi commented on #2630
Fix released as [`3.3.4`](https://github.com/storybooks/storybook/releases/tag/v3.3.4)

[2018-01-07 13:48] #2630 closed

[2018-01-07 13:48] Hypnosphi commented on #2590
Fix released as [`3.3.4`](https://github.com/storybooks/storybook/releases/tag/v3.3.4)

[2018-01-07 15:13] igor-dv commented on #2647
@amcdnl , did you manage to make css working?

[2018-01-07 15:13] alterx commented on #2647
Not sure we should be closing this one. Issues 1 and 2 have a workaround and an explanation so I think we're good with those (#2657 is not directly related).

It looks like issue # 3 is still happening tho (?)

[2018-01-07 15:24] alterx commented on #2645
Hey @amcdnl , I have a couple of questions for you:

- I think the `/stories` folder is already inside the `/src`. Am I missing something here? 🤔
- Could you please elaborate on `Every example should show importing a NgModule` ? For basic components it's possible to not import any modules in Storybook.

Just trying to get a more clear idea of the stuff we want to focus on :D

[2018-01-07 15:58] Quramy commented on #2645
@alterx

`getstorybook` generator creates the `stories` dir under not `<project-root>/src` but `<project-root> .  I'll fix it in PR #2672,  would you review this?

[2018-01-07 16:51] #2263 closed

[2018-01-07 17:31] JamesBliss opened #2675 "Easy way to disable styles?"
Hi,

I have some complex styling in some of my components but on occasion I need them to render without any styling my only options seems to be:

1. Add a new prop which wraps the styling like this which has issues if referencing other components:

[code]

2. Have a second component which is the same minus using any of the styled components e.g. just render the button element.

Is there a better w

[2018-01-07 17:45] timhaines commented on #2665
Thanks so much @Hypnosphi and @shilman!

[2018-01-07 20:38] elsangedy commented on #1519
Any news about that?

[2018-01-07 22:06] gperdomor opened #2676 "[Storyshoot] SyntaxError: Unexpected token import"
### Issue details

Hi... I have problem when try to configure storyshoot in a project bootstrapped with `create-react-app`and `react-scripts-ts`

I'm getting
[code]

### Steps to reproduce

just crea te a new project `create-react-app clarity-react --scripts-version=react-scripts-ts` and configure `storybook`, create a story and configure `storyshoot`

### Please specify which version of Storybook

[2018-01-07 22:06] #1586 closed

[2018-01-07 22:06] #2064 closed

[2018-01-07 22:06] #1593 closed

[2018-01-07 23:24] hswolff commented on #2602
Sadly I'm still seeing this issue.

The PR only removed `src` from the root `.npmignore` and not from the individual package itself: https://github.com/storybooks/storybook/blob/master/app/react/.npmignore#L2

I believe we need to remove that from the individual package to have the `src` directory published as well.

[2018-01-08 00:20] Hypnosphi commented on #2602
Oh I see

[2018-01-08 00:26] hswolff commented on #2602
Incoming!

[2018-01-08 00:28] Hypnosphi commented on #2647
Oh sorry. I just stated "Issue: #2647"

[2018-01-08 01:05] hswolff commented on #2602
PR: https://github.com/storybooks/storybook/pull/2677

[2018-01-08 02:28] csi-lk commented on #2602
Hmm if I manually remove `src` from the `.npmignore` in the @storybook/react folder I still get this eslint error, it could be i'm misunderstanding the solution?

[2018-01-08 02:31] hswolff commented on #2602
You mean in your `node_modules` folder in your application? I'm guessing that it's because the `jsnext:main` value points to a file that doesn't exist. Perhaps try copying over the `src/` folder from this repo into your node_modules folder, which should fix the issue. May be good to do that to verify. That's what my PR will change when a new npm package is published.

[2018-01-08 02:42] csi-lk commented on #2602
I ended up giving up and reverting, will just wait for this change to come through, cheers

[2018-01-08 03:12] #2602 closed

[2018-01-08 03:57] #2663 closed

[2018-01-08 04:11] shilman commented on #2627
The fix is live now in `@storybook/react@3.3.5`

[2018-01-08 04:11] #2627 closed

[2018-01-08 05:10] #2271 closed

[2018-01-08 05:10] #2272 closed

[2018-01-08 06:25] joscha opened #2680 "3.3.4 -> 3.3.5 ENOENT: no such file or directory, stat '.../node_modules/@storybook/react/dist/server/public/index.html"
### Issue details

when starting storybook I expect something like:
[code]

instead I get:
[code]

### Steps to reproduce

Upgrade from Storybook ~~3.3.3~~ (Update: 3.3.4 is fine) 3.3.4 to 3.3.5

I am not sure why it happens. The upgrade alone shows the problem, no other code changes needed. I dug around a bit for references to `public/index.html`, but can't find an obvious one. Will update the is

[2018-01-08 06:25] joscha commented on #2680
cc @gustavohenke

[2018-01-08 06:30] joscha commented on #2680
Just checked `3.3.4`, which seems fine, so the culprit must be part of `3.3.5`.

[2018-01-08 06:31] shilman commented on #2680
@joscha Yikes, that's pretty bad. Have you looked at the change in 3.3.5? It's quite small.

[2018-01-08 06:38] shilman commented on #2680
@joscha FWIW, I'm not seeing this problem on a fresh install in a CRA app. Any chance you have a public repro, or can track it down in yours given that it's such a small change?

[2018-01-08 06:39] joscha commented on #2680
I just sifted through https://github.com/storybooks/storybook/compare/v3.3.4...v3.3.5 - there is nothing obvious that I can see. I'll do a fresh install with 3.3.4 and see if it is not maybe a transitive dep that causes this.

[2018-01-08 06:43] shilman commented on #2680
Yeah, v3.3.5 is a change to a handful of `.npmignore` files, like this one, which fixes some eslint-related problem that I don't entirely understand:

https://github.com/storybooks/storybook/compare/v3.3.4...v3.3.5#diff-2211793f4054904edf471b8db7de3012

[2018-01-08 06:45] joscha commented on #2680
hmm, it definitely does not happen with `3.3.4`, my tree looks like:

[code]

[2018-01-08 06:48] shilman commented on #2680
Have you tried nuking `node_modules` and reinstalling?

[2018-01-08 06:49] joscha commented on #2680
yes, I am doing `rm -rf node_modules && rm yarn.lock && yarn` for all of the above every time.

[2018-01-08 06:50] shilman commented on #2680
Well, this is weird... 😕

[2018-01-08 06:51] joscha commented on #2680
yes, I might close this and see if someone else opens a similar bug in the next 24h. I will downgrade/stay on 3.3.4 for now.

[2018-01-08 06:53] shilman commented on #2680
Please keep us posted, and sorry for the trouble!

[2018-01-08 07:32] joscha commented on #2680
Closing for now, watching out for others to report similar problems. Will open again if it is not just me™.

[2018-01-08 09:48] kendepelchin opened #2681 "[Bug] Running storybook with custom webpack config triggers error in release 3.3.4"
### Issue details

Running storybook gives the error below. This error does not get triggered in version 3.3.3. I don't see any changes in the [changelog ](https://github.com/storybooks/storybook/releases/tag/v3.3.4) that are related to this. Starting from 3.3.4 this fails

[code]

### Steps to reproduce

we're extending webpack config like this:
[code]

Run storybook

### Please specify which ver

[2018-01-08 10:03] RobinMalfait commented on #2681
I'm wondering if that it has something to do with the npm missing packages issues this weekend?

- https://github.com/npm/registry/issues/255
- https://status.npmjs.org/incidents/41zfb8qpvrdj

[2018-01-08 11:50] skycult opened #2683 "Use vue-router with storybook/vue"
Hi there,

the new storybook for Vue is awesome! I switch from vue-play in favor of this. How I can use vie-router inside stories?
Thanks!

[2018-01-08 12:21] JonShort commented on #2675
Might be worth asking this question over at https://github.com/styled-components/styled-components as they probably have more knowledge on the subject.

[2018-01-08 12:57] JamesBliss commented on #2675
Completely right... put it in the wrong place sorry!

[2018-01-08 12:57] #2675 closed

[2018-01-08 13:00] JonShort commented on #2675
No problem 👍

[2018-01-08 13:37] benediktvaldez commented on #806
Actually yes, wow this one hasn't gotten a lot of love. I'll be needing this for a component I'm making right now, so I'll try to make the time to implement it ;)

Thanks for the reminder @ndelangen

[2018-01-08 14:05] Hypnosphi commented on #2680
What's your `.storybook/webpack.config.js`? The change that was made is that we started publishing `src` directories, and `jsnext:main` points to them.

[2018-01-08 14:07] Hypnosphi commented on #2680
Even if it's just you, we need to find out why did we broke your setup. Can you please create a GitHub repo with minimal reproduction of your issue?

[2018-01-08 14:14] Hypnosphi commented on #2681
Probably related to https://github.com/storybooks/storybook/pull/2666

[2018-01-08 14:21] kendepelchin commented on #2681
@Hypnosphi aha makes sense, thanks!

[2018-01-08 14:23] Hypnosphi commented on #2681
Oh, it actually shouldn't. According to [docs](https://storybook.js.org/configurations/custom-webpack-config/#full-control-mode--default), your config had to be written like this:

[code]

[2018-01-08 14:38] amcdnl commented on #2645
@alterx -

1) @Quramy explains the issue.
2) I don't think showing just a component without ngModule imports is a good representative of a true setup since almost every demo will need to include a module.

[2018-01-08 14:41] buscape commented on #2680
For the record: We had the same problem after updating from `v3.2.x` to `v3.3.6` and it was because we tempered the `publicPath` of the storybook Webpack config in full control mode as such:
`storybookBaseConfig.output.publicPath = '/storybook/';`

Removing that line made the storybook work again.

[2018-01-08 14:43] amcdnl commented on #2647
Feedback for CSS work around:

[code]

[2018-01-08 14:44] Hypnosphi commented on #2680
there's a chance this is because of the leading slash

[2018-01-08 14:46] alterx commented on #2645
@amcdnl
1. There's a PR that implements this! :D
2. Ok, so here you're suggesting updating the docs. Gotcha :)

[2018-01-08 15:37] amcdnl commented on #2647
The following config worked me around the CSS issue.

[code]

[2018-01-08 16:23] dependencies[bot] opened #2685 "inquirer versions available: 5.0.0"
There are new versions of inquirer available from npm.

## 5.0.0

**Breaking**: Upgrade to RxJS v5 which updates a bunch of Reactive interface method names.

For people not using the Reactive interface directly, this new major release should just work out of the box.

[2018-01-08 17:06] igor-dv opened #2688 "Css loading complexity in angular app"
I would like to discuss here the problem we have with the css loading complexity for the angular app.

As I understand from the recent issues, there are several flows of loading css to the app
(Related issues: #2647, #2629, #2616)

### Global Import
Example:

[code]
or even in the `config.js`
[code]

Storybook should add it to the style tag in iframe

### With the "styleUrls"
Example:
[code]
In th

[2018-01-08 17:18] eddiemonge commented on #2021
@coreylight thats a different issue ... although i am getting that as well

[2018-01-08 17:35] eddiemonge commented on #2021
although I fixed it by passing an empty config object to multi instead of no arguments:

[code]

[2018-01-08 18:04] #1669 closed

[2018-01-08 18:15] majornista opened #2689 "Dependency for version of @storybook/channels that doesn't exist"
Getting this error on `npm install`, depending only on version 3.3.6 of the packages:

[code]
`npm show @storybook/channels` versions does not list 3.3.6 as a published version.

[2018-01-08 18:20] Hypnosphi commented on #2689
Id does for me. Do you use some proxying npm registry?

[2018-01-08 18:43] majornista commented on #2689
We're not proxying the npm registry. I see version 3.3.5 as the published version:

[code]

[2018-01-08 19:03] Hypnosphi commented on #2689
That's weird, for me it includes `3.3.6`

[2018-01-08 19:07] Hypnosphi commented on #2689
And here it says "3.3.6 is the latest of 37 releases"
https://www.npmjs.com/package/@storybook/channels

[2018-01-08 19:09] igor-dv commented on #2689
We had a similar issue with nexus repository. There was a timer configured to pull new versions once a day. Maybe you have something like this in artifactory?

[2018-01-08 19:13] majornista commented on #2689
@igor-dv  I think that's the case. In the cached packages in Artifactory, we have @storybook/channel-postmessage@3.3.6 but @storybook/channels is still at 3.3.5.

[2018-01-08 19:13] #2689 closed

[2018-01-08 20:37] ndelangen commented on #2688
Agree 💯

We have absolutely no preference in the webpack config ourselves in regards to css, we add things so most users have maximum convenience.

[2018-01-08 21:04] titusfx opened #2691 "Adding nested angular component ?"
### Issue details
Adding a nested angular component which one component depends on other where those other are in different modules. If I just use the tutorial angular examples, didn't work.

### Steps to reproduce

Adding a nested angular component which one component depends on other where those other are in different modules. If I just use the tutorial angular examples, didn't work.
 The same e

[2018-01-08 21:35] igor-dv commented on #2691
Everything that component needs to be rendered should be provided with
`moduleMetadata`. Take a look here - https://github.com/storybooks/storybook/blob/master/examples/angular-cli/src/stories/custom-metadata.stories.ts

[2018-01-08 22:56] amcdnl opened #2693 "Number Knob throws error when clearing value"
## Issue
When using knobs with Angular, when I created a number knob and then removed the value in the ui it throws the following error:

[code]

from this config:

[code]

## Versions
[code]

[2018-01-09 01:59] testerez commented on #2680
I have the same issue updating from `3.2.13` to `v3.3.6`:
[code]
I use full control webpack config but I checked and `output` is left untouched from `storybookConf`.

[2018-01-09 03:13] scottkipfer opened #2694 "[Angular] Add moduleMetadata once"
### Issue details

**Feature Request:** It can get tedious adding the same moduleMetadata for every story.  Could it be possible to add it once at the parent level?  I added a code snippet bellow to help clarify my request.

### Screenshots / Screencast / Code Snippets (Optional)

Current:  `AppMoudle` must be provided for each story.

[code]

Example: `AppMoudle` is imported before any stories ar

[2018-01-09 03:21] joscha commented on #2680
I fail to do this :( I am not sure why, but it seems to happen on some machines and not on others. There is no reliable way to reproduce this issue. I wonder if its related to the node version somehow - I am on `8.9.4.
Our `publicPath` is set to `/`. //cc @buscape.

[2018-01-09 03:40] joscha commented on #2680
I am not sure *why* it happens, but I think I found out *when* it happens (kudos to @gustavohenke).
A `HEAD` request against storybook makes the messages appear. You can try via:

[code]
(`6006` is our storybook port)

[2018-01-09 04:00] testerez commented on #2680
Same for me, I have no error as long as I don't send any request to storybook server.
btw, `node_modules/@storybook/react/dist/server/public/` only contains `favicon.ico` for me.

If it can help here is `JSON.stringify` of my custom webpack config:
[code]

[2018-01-09 04:07] testerez commented on #2680
Ok, in my case, I just had to keep plugins from storybook base config. My bad...

[2018-01-09 04:59] joscha commented on #2680
which plugins?

[2018-01-09 05:16] testerez commented on #2680
I was replacing webpack plugins with my owns, overriding the ones set in storybook config (`HtmlWebpackPlugin`, `DefinePlugin`, `HotModuleReplacementPlugin`).
I guess it wasn't a requirement when I first wrote my config about a year ago. Anyway by adding my own plugins to the existing ones it fixes it for me.

[2018-01-09 05:22] joscha commented on #2680
gotcha, hmm, it is hard for me to understand how that would have changed in a minor version update like this one or why we wouldn't have seen this problem before (potentially when upgrading from 3.2 to 3.3?)

[2018-01-09 05:28] testerez commented on #2680
Yes, for me the update was from `3.2.16` to `3.3.6` so it's a bigger jump.

[2018-01-09 05:32] joscha commented on #2680
Okay, that makes more sense. Maybe in our case the issue was there but noone noticed when we made the 3.2 to 3.3 jump. @shilman @Hypnosphi given the assumption that the culprit is somewhere in the 3.2 to 3.3 jump and the information that it happens on a `HEAD` request against storybook, do you have any hunch on where I should look first?

[2018-01-09 06:55] tmeasday commented on #2680
@joscha is it still the case that you can't repro this or is it possible now you know the way to make it happen?

What does your custom webpack config do?

[2018-01-09 08:11] jelisejev commented on #2630
@igor-dv thanks for the prompt fix, will test it out!

[2018-01-09 08:26] titusfx commented on #2691
Thanks this definetly will fix it!

[2018-01-09 08:26] #2691 closed

[2018-01-09 10:08] dvelasquez opened #2695 "storybook-vue: Module not found: Error: Can't resolve '@/components/..."
### Issue details

In storybook vue, i can't load a component with child components.
Stacktrace:

[code]

Im using the @ notation to load components used in vue-webpack

**I guess the problem is between the @/component notation and the extension .vue**
### Steps to reproduce

* Install vue webpack using vue-cli
* Install storybook for vuejs
* Install addon-viewport
* Create a story using a compone

[2018-01-09 10:27] dvelasquez commented on #2695
This problem is solved with a webpack.config.js extension to support .vue files and @ notation.

[code]

[2018-01-09 10:27] #2695 closed

[2018-01-09 10:33] Hypnosphi commented on #2680
@joscha yeah, the strict requirement of preservig the default plugins in full control mode appeared in 3.3, since we've added HTML plugins in https://github.com/storybooks/storybook/pull/1775

It's kinda breaking change in minor release. We have a few of them, and that's definitely not cool. We've revisited our release strategy since then, and I hope it will allow us to follow semver more strictly

[2018-01-09 10:50] AshCoolman commented on #686
What contributes to the "start up" time?

I have 170 storyshot tests:

- running all takes 90 seconds
- running _none_ takes 35 seconds

[2018-01-09 14:32] ah-adarlow commented on #2475
A similar issue happens with date knobs as well.

[2018-01-09 18:10] amcdnl opened #2701 "EntryComponents not supported in ModuleMetadata"
## Bug
`entryComponents` are not supported in the module metadata. See [here](https://angular.io/guide/ngmodule-faq#when-do-i-add-components-to-entrycomponents) for more info on entry components.

Code Reference: https://github.com/storybooks/storybook/blob/master/app/angular/src/client/preview/angular/helpers.ts#L58

[2018-01-09 18:12] amcdnl commented on #2694
I think something like:

[code]

would be more in line with the API.

[2018-01-09 18:56] #2282 closed

[2018-01-09 18:56] #2281 closed

[2018-01-09 19:38] RobinMalfait commented on #2681
Alright mistake on our end, thanks for the help @Hypnosphi! I think this issue can be closed!

[2018-01-09 22:05] #2681 closed

[2018-01-10 05:49] alterx commented on #2645
Progress on these items:

- [ ] Add SASS and LESS support by default when you scaffold (#2703, in progress)
- [ ] Make scaffolded the stories and config TypeScript not JS
- [ ] Every example should show importing a NgModule
- [ ] Add option for defining a template in the story like you did with Vue (#2690, ready for review)
- [x] ~The ability to specify a custom tsconfig for storybook~ (#2669, mer