[2019-01-31 04:35] Ailrun commented on #5416
@tmeasday After few searches in this repo, I found following things.
1. The client emits `STORY_CHANGED` event only when it is rendered again.
  https://github.com/storybooks/storybook/blob/db3bf638840df6ba4d3dc255dc6d983cefac1779/lib/core/src/client/preview/start.js#L141-L143
1. The client emits `STORY_CHANGED` event only when some stories are changed.
  (Same code)
1. The addon updates its backg

[2019-01-31 04:35] Ailrun commented on #5416
Maybe related with #5418.

[2019-01-31 07:18] alexander-heimbuch commented on #4947
@HerrBertling After removing `addon-centered` it rerenders. Thanks for the hint!

[2019-01-31 08:13] abduzar opened #5435 "Bundled Android application is not connecting to Web Socket server"
**Describe the bug**
The main actors are React Native android application and Storybook WebSocket server.
When the application is not containing JS bundle it successfully connects to local WebSocket server and shares stories to WebSocket server. In the case when the application is bundled with JS inside, it does not connect to the WebSocket server.

**To Reproduce**
Steps to reproduce the behavior

[2019-01-31 08:55] alexan opened #5436 "@storybook/angular does not autoprefix as angular-cli"
**Describe the bug**
@storybook/angular does not respect .browserlist or any other way described in [angualr story autoprexier](https://github.com/angular/angular-cli/wiki/stories-autoprefixer)

**To Reproduce**
1. generate angular projekt: https://storybook.js.org/basics/guide-angular/
2. add .browserslistrc to root (see code snippet for example)
3. create component + story with css property that

[2019-01-31 08:57] alexan commented on #5436
I will create a merge request modifying https://github.com/storybooks/storybook/blob/4da246bbe9413510b48d1ab8b9faf4fae4656d92/app/angular/src/server/framework-preset-angular.js
to add this behavior to @storybook/angular

[2019-01-31 09:08] Gongreg commented on #5435
Hey, have you tried to explicitly pass host to the storybookUI?

The host order in prieview is:

const host = params.host || parse(NativeModules.SourceCode.scriptURL).hostname || 'localhost';

So maybe parse(NativeModules.SourceCode.scriptURL).hostname returns something that isn't correct.

[2019-01-31 09:13] mrmckeb commented on #5183
Thanks @oscargws, we're actively investigating this and #5308 was raised to solve this. @ndelangen, can you take a look at that PR?

[2019-01-31 09:14] oscargws commented on #5183
@mrmckeb ah very nice. For anyone else having the problem, manually changing the babel-loader version in package.json has fixed it for me!

[2019-01-31 09:21] abduzar commented on #5435
@Gongregyes, for android putting "localhost" explicitly, does not help. As a workaround I've used 10.0.2.2 which helped.

[2019-01-31 09:31] tmeasday commented on #5416
I think @ndelangen has been thinking about this stuff. I would suggest that these addons should be listening to the `SET_CURRENT_STORY` event or perhaps the `STORY_RENDERED` event?

[2019-01-31 09:31] abduzar commented on #5435
Sorry accidentally closed

[2019-01-31 09:44] tmeasday commented on #5199
Let's call this done for now. I think there is more @Jessica-Koch wants to do but it is vaguely shippable in its current state

[2019-01-31 09:44] #5199 closed

[2019-01-31 11:19] skeet commented on #3346
Not sure if this will help anyone else but we fixed this issue by running the follow:

[code]

[2019-01-31 11:22] evolutionxbox commented on #3346
@skeet I wondered why storybook had that message

[code]

After installing react-scripts, it now says the following:

[code]

[2019-01-31 12:00] ifthenelse commented on #5436
Have you tried adding modules to an extended Storybook Webpack configuration from the project `package.json` and requiring them via relative path? This works to me:

`npm -i  -D css-loader postcss-loader autoprefixer`
or
`yarn add css-loader postcss-loader autoprefixer --dev`

[code]

[2019-01-31 12:06] klh opened #5438 "Complex Object/Array passed to Configure instead of loaders"
Fishing component story information out on a per component basis is impossible (by design)
But makes it hard to do something like SSR preview inside of storybook (you need a link to the Source.js)

**Describe the solution you'd like**
if Configure was able to take an obj, aswell as loaders one could pass obj settings pr. loader directly

current:
[code]

proposed:
[code]
where confObject would be

[2019-01-31 12:31] ndelangen commented on #5416
I'll fix this

[2019-01-31 13:31] CodeByAlex commented on #5382
@tmeasday do you have the link to the latest angular cli example? or could you point me in the right direction to find it

[2019-01-31 15:51] fjtrujy commented on #5435
Hello,
I can confirm that I'm suffering the same error.
One question @Gongreg , why are we using `parse(NativeModules.SourceCode.scriptURL).hostname` at all?

I have been investigating it, and I have found this PR https://github.com/storybooks/storybook/pull/1568/ but as we can see is not working in all the scenarios.

Maybe we should check if the bundle is or isn't inside, and then have different

[2019-01-31 16:07] Gongreg commented on #5435
Hey @fjtrujy, the reason for that was:

Most CRNA users will tend to run on the phone, not emulator, and the phone can't reach the PC on localhost, leading to storybook not working when following the hello world tutorial (btw this "host" should rather be in hello world readme)

I guess there are other solutions for this.

[2019-01-31 17:08] fjtrujy commented on #5435
Thanks for your reply @Gongreg, but maybe I didn't explain properly.

As you know, we can execute Storybook in a Physical Device, having the bundle either in the machine or included in the APK/IPA.
I think that the previous response that you said, would work when you DON'T have the bundle inside of the APK/IPA.

If I'm not wrong, when you are installing in the specific device you must provide the

[2019-01-31 17:48] i-like-robots commented on #3346
We have also had the `exports is not defined` problem a few times and we've previously worked around it by overriding the Babel configuration as suggested by others.

But, I recently started to look into this again and I noticed that the [exclude][0] property for the default JS rule was being resolved to an absolute path.

[code]

Due to the structure of our project we have a number of `node_modul

[2019-01-31 18:19] HerrBertling opened #5440 "Provide console output on missing addons"
**Is your feature request related to a problem? Please describe.**

I just spent a few minutes trying to debug my storybook integration until I noticed that I had (through careless copy&paste) registered the `@storybook/addon-viewport` in my `addons.js` file – but I had not npm-installed it.

I know this was stupid by me for not setting things up in a thorough way 🤦‍♂️

Still, running `npm run sto

[2019-01-31 19:37] crushjz commented on #5239
Following this as I'm having the same issue.

[2019-01-31 20:44] nataliepan commented on #4759
Im also getting the same issue with the name appearing twice

[2019-01-31 21:55] Gunner17 opened #5441 "storybook webpage not resizing on safari-ios (iPhone)"
**Describe the bug**
Storybook webpage is not resizing on safari-iOS in iPhone.

**To Reproduce**
Steps to reproduce the behavior:
Created a storybook app, added one Highcharts bar chart. Opened the application in Safari iOS. In desktop, resizing the webpage, resizes the components inside, but Safari-iOS (iPhone) did not resize the contents. Please see the screenshot below to find out how it the p

[2019-01-31 21:56] nataliepan opened #5442 "displayName not working, component appearing twice story source in build version"
Component tag names are appearing twice and ignoring displayName settings.

I've set displayName to 'TestButton', and the local story source will display TestButton
however the build version displays Button_Button
[code]

.storybook/.babelrc
[code]

package.json
[code]

there are no  custom webpack settings
//if i add a simple module.exports = {} in webpack.config.js  my font files dont parse
ERRO

[2019-01-31 22:38] A1vinSmith opened #5443 "Lost autofocus on Chrome"
**System**
macOS Mojave 10.14.3

**Binaries**

- Node: 8.10.0 - /.nvm/versions/node/v8.10.0/bin/node
- npm: 5.6. -/.nvm/versions/node/v8.10.0/bin/npm

**npmPackages**

- "@storybook/react": "^3.4.11",
- "styled-components": "^3.4.9",
- "typescript": "^3.2.2",
- "antd": "^3.9.3 <3.12.4 || ^3.12.5",

The button works fine on Firefox and Safari. But I have to give another click to see the changes on

[2019-01-31 23:45] nataliepan commented on #5442
I was able to resolve this by creating .storybook/webpack.config.js that just copies the default
My components still need displayName else the double name will happen
[code]

[2019-01-31 23:45] #5442 closed

[2019-01-31 23:46] nataliepan commented on #4759
I was able to resolve this by creating .storybook/webpack.config.js that just copies the default
My components still need displayName else the double name will happen
[code]

[2019-02-01 00:28] tmeasday opened #5445 "Create a package to check for duplicate versions of our packages"
**Is your feature request related to a problem? Please describe.**
When there are duplicates of our packages, bad things happen. The typical one is:

"Error: Accessing nonexistent addons channel" (duplicate `@storybook/addons`)

A new one is weird font loading issues when you have duplication `@storybook/theming`.

**Describe the solution you'd like**
Let's make a package that other packages can u

[2019-02-01 00:55] tmeasday commented on #5382
It's in the repo at `examples/angular-cli`, but a built version is here: https://next--storybooks-angular.netlify.com

[2019-02-01 01:57] Ailrun opened #5446 "@storybook/addon-backgrounds@next does not work"
**Describe the bug**
Ref: #5416.
I'm trying to use storybook@next. After I installed & set `@storybook/addon-background`, I met the following problem.

1. When I tried to set a background (by clicking a color button), it emits the following error.
[code]

**To Reproduce**
1. `git clone https://github.com/Ailrun/storybook-issue5416`
1. `npm i`
1. `npm start`
1. Open the web dev tool.
1. Click the b

[2019-02-01 02:11] #5446 closed

[2019-02-01 06:49] shilman commented on #5416
Yowza!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-beta.1 containing PR #5439 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-01 06:49] #5416 closed

[2019-02-01 06:54] Ailrun commented on #5416
FYI, I cannot reopen this issue for whatever reason.
What I'm curious about is whether the error is fixed or not. If it's not fixed, I think this issue (or my new issue) should be kept opened.

[2019-02-01 08:42] tmeasday commented on #5416
@ailrun - AFAICT the addon is working. Here is the latest version build of our storybook: https://next--storybooks-official.netlify.com/?path=/story/addons-backgrounds--story-1

You can try yourself with the `@storybook/react@next` (`5.0.0-beta.1`) release. Let us know if it is not fixed.

[2019-02-01 09:09] i-like-robots commented on #3346
I have created a reduced test case for this problem and will file an issue with Babel.

https://github.com/i-like-robots/broken-webpack-bundle-test-case

[2019-02-01 16:02] markov00 commented on #457
@dagatsoin I'm currently on 4.1.11 and it's just a matter of adding the following on your storybook webpack config:
[code]

[2019-02-01 17:17] brett-east opened #5455 "Knobs not updating and sometimes not showing"
**Describe the bug**
I am using the knobs addon and only occasionally do the knobs appear in the 'Knobs' panel. When they do appear, changing them seems to have no affect on the component.

I know that they much be linked to the component as the default values are what show in the component that renders on the screen

**To Reproduce**
Steps to reproduce the behavior:
I have installed storybook and

[2019-02-01 19:14] CodeByAlex commented on #5418
+1

[2019-02-02 14:02] CodeByAlex opened #5458 "Backwards compatibility for viewport addon"
**Describe the bug**
The viewport tab has gone missing when upgrading any version of major version 5 when running in an angular environment.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the viewport addon to addons.js
2. import and add "addDecorator(configureViewport)" to config.js
3. run storybook
4. look to the addons section and viewport will be missing from the options

**Expected

[2019-02-02 17:37] sharathm89 opened #5460 "React Native : Error: jest-haste-map: Haste module naming collision, Duplicate module name: react-animated"
**Describe the bug**
I have 2 modules.

- react native-app
- react native storybook

Getting below error when I run **npm start** on React Native app but React Native storybook works file with no issues.
After importing React Native storybook into React Native app the below issue occurs.

[code]

**Code snippets**
**react-native storybook** `Package.json`

    {
      "name": "storybook",
      "v

[2019-02-03 02:09] Haaruun-I opened #5461 "Pre-Made Stories"
I was just wondering if there was any library of pre-made stories.

[2019-02-03 02:16] Haaruun-I commented on #5401
From the error message it looks like you don't have react-modal instated, try:
` npm install --save react-modal `

[2019-02-03 08:38] seokju-na opened #5462 "Webpack stops when adding custom addon"
**Describe the bug**
Hello! first of all, thanks for making good open source.

I'm using storybook with React and Typescript. There was a problem creating a custom add-on. After write custom add-on, I run storybook.

The results on the console were successful in building the webpack but stopped at that state, and WebpackDevServer not worked.

**Screenshots**
<img width="1026" alt="2019-02-03 5 28

[2019-02-03 10:44] #5069 closed

[2019-02-03 14:42] Keraito commented on #5360
That sounds like a decent workaround for now @pascalduez

[2019-02-03 15:45] mrmckeb commented on #5415
HI @CMatias, this is currently available - assuming the components are rendering in the same story. Otherwise, I don't know of a way...

If you want to manage themes across components, as an example, you could look to another addon for that - https://storybook.js.org/addons/addon-gallery/.

Another trick you could consider, is to store the 'shared knob' value in `localStorage`. So, as each compone

[2019-02-03 15:46] mrmckeb commented on #5440
That's a good idea @HerrBertling, would you like to raise PR? I can help you if needed.

[2019-02-03 16:00] igor-dv commented on #5183
Does anybody know what exactly broken there? it's a patch version bump, seems strange to me.

[2019-02-03 16:06] mrmckeb commented on #5462
Hi @seokju-na, to confirm, this works correctly when you're not using your custom add-on?

Are you able to share a test repository? Thanks!

[2019-02-03 16:07] mrmckeb commented on #5461
Hi @Haaruun-I, not that I know of - but I can help you get started if you have any questions. Personally, I love using the `knobs` addon, and would definitely recommend looking into that.

[2019-02-03 16:12] mrmckeb commented on #5443
Hi @A1vinSmith, are you able to provide a test repository for this? I can look into this for you :)

[2019-02-03 16:20] mrmckeb commented on #5391
I think this could be fairly easily implemented @ReggaePanda, if you'd like to have a go, I could help you with the process?

[2019-02-03 20:07] A1vinSmith commented on #5443
Hi @mrmckeb here is the repository https://github.com/A1vinSmith/storybook-stylecommoncomponents-test

[2019-02-04 07:20] seokju-na commented on #5462
Hi @mrmckeb !

- Yes. When I removed custom add-on, it works correctly.
- I worked in my [repository](https://github.com/geeks-log/geeks-log-web). You can see storybook configurations in `stories/`.

[2019-02-04 07:22] mrmckeb commented on #5461
I do the same in my projects, @Haaruun-I :) It's a great way to manage stories.

[2019-02-04 09:04] mrmckeb commented on #5443
Hi @A1vinSmith, I've taken a look and everything seems to work correctly - can you point me to the specific story/issue that I should be looking at? :)

[2019-02-04 13:02] martinshing commented on #5462
Hi @seokju-na ,

I faced a similar issue with one of our custom addons and spent some time debugging it and it turns out there was a webpack error importing a css file. I'm not sure if the manager portion of storybook is using a separate webpack config but commenting out the line fixed it for us and we have temporarily moved the css into the manager-head.html file as an interim fix.

[2019-02-04 13:07] martinshing commented on #5440
I'm not sure of the correct way to fix this but after some digging around I managed to find a way to output the suppressed webpack errors for addons.

File - ./node_modules/@storybook/core/server/dev-server.js line 125 - This promise.all is swallowing all errors from the two queued promises, the way I got it to bubble out was to change it to:

[code]

[2019-02-04 14:16] Ailrun commented on #5416
Backgrounds addon works well! (Although options addon doesn't.... :( )

[2019-02-04 17:06] Hypnosphi opened #5472 "Dev mode doesn't work in IE11"
**To Reproduce**
`yarn start`, open page in IE11, you get blank page with "Invalid character" error in console.

The reason is [`safe-eval`](https://github.com/hacksparrow/safe-eval/blob/master/index.js#L7-L17) package using template literals

[2019-02-04 17:21] Hypnosphi opened #5473 ""No preview" is displayed when collapsing or expanding a component"
See e.g. https://next--storybooks-official.netlify.com/?path=/story/ui-panel

[2019-02-04 19:51] #5443 closed

[2019-02-04 19:55] kroeder commented on #5030
@gaetanmaisse done!

[2019-02-04 20:07] web-padawan commented on #4958
`@storybook/web-components` makes even more sense to me, actually.
One thing we really need  is "bare" polyfills though, will ping Polymer team again about that.

[2019-02-04 22:08] #5360 closed

[2019-02-05 00:07] leoyli commented on #5461
@mrmckeb I'm wonder if we can have such feature out of the box.  However, I see there are many things to consider... Or maybe just simply document an example that might be helpful?!

Here is my implementation for the story loader, for example:

[code]

[code]

Note: `@src` uses the WebPack alias, and `makeStoryOf` is the implementation details on how the story being generated.

A dummy example for

[2019-02-05 00:52] theboyWhoCriedWoolf opened #5475 "Cannot read property 'minify' of undefined Terser"
**Describe the bug**
I am trying to build storybook and every time I do I get a minification error.

I am using:
[code]

every time I run yarn storybook, I get the error;

I have tried to remove the loader from webpack but I still get the error as if my webpack config doesnt override correctly;

my webpack.config is:
[code]

Error I get is:

<img width="1269" alt="screenshot 2019-02-05 at 00 51 24

[2019-02-05 06:35] guiyep commented on #3389
this is still broken in `4.1.11`

[2019-02-05 07:05] Pringels opened #5486 "@storybook/angular does not work with vanilla CSS"
**Describe the bug**
When installing and running storybook in a freshly generated Angular 7 project (created by angular CLI with CSS as the stylesheet format) I receive the following error when attempting to view my component in storybook UI:

`Expected 'styles' to be an array of strings.`

**To Reproduce**
1. Follow the installation steps exactly as described here: https://storybook.js.org/basics

[2019-02-05 07:59] mrmckeb commented on #5440
OK, cool. If you would like to raise a PR, I think we can get this looked into.

[2019-02-05 10:21] ftanrisevdi commented on #3134
it would be great

[2019-02-05 14:52] Rilliano commented on #3157
Here is nice boilerplate setup u can use
https://github.com/JungleMinds/JM_Basic-Twig-Project

[2019-02-05 15:52] marekalgoud opened #5488 "Cypress and storybook angular compatibility"
**Describe the bug**

When installing cypress, storybook raises errors

**To Reproduce**
Steps to reproduce the behavior:
1. Install storyboard for angular  (following tutorial : https://storybook.js.org/basics/guide-angular/)
2. Install cypress (npm install cypress --save-dev)
3. launch storyboard (start-storybook -p 9001 -c .storybook)
4. See errors

**Expected behavior**
A clear and concise des

[2019-02-05 15:57] CMatias commented on #5415
* sigh *

I was declaring the know variable outside of the story instead of inside. Once I moved it inside everything worked perfectly.

Thank you for your help @mrmckeb!

[2019-02-05 15:57] #5415 closed

[2019-02-05 17:40] gabrielcsapo commented on #5134
@transitorytammy I have an RB open to update the docs to reflect the ability to use the blueprints ember-cli-storybook would you see if that helps https://github.com/storybooks/storybook/pull/5489?

[2019-02-05 19:53] jackblackCH commented on #4958
+1, we are creating a new storybook with lit-element right now and are welcome to contribute with this issue as we need to work with simple es6 classes as well.

[2019-02-05 21:51] jackblackCH commented on #3497
This has not been solved yet, a story can't be created from a simple ES6 class, which prevents also the usage of other features like `lit-html`

[2019-02-05 22:02] jackblackCH commented on #4958
I also suggest:
1. Create a separate `@polymer/webcomponents` package
2. Supports ES6 classes and can handle the polyfills (rel #3497)

[2019-02-06 06:57] dusan-dragon commented on #3843
@Hypnosphi I have still this kind of problem on 4.1.2

[2019-02-06 08:04] mrmckeb commented on #5461
I think examples in documentation would be a great way to go, and perhaps a hint in the default config that points to that documentation for copy-and-paste configs?

[2019-02-06 08:05] mrmckeb commented on #5415
I'm glad you worked it out! :)

[2019-02-06 10:20] iliyanyotov commented on #5164
Don't close this issue, I will try to create a pull request in the next week or so. The fix should be really trivial.

[2019-02-06 10:49] eddybrando commented on #229
This is now documented in the docs:

Source: [https://storybook.js.org/configurations/cli-options/](https://storybook.js.org/configurations/cli-options/)

And here is a small example of how this could look like in your scripts object, in case anybody finds it helpful:

`"storybook": "start-storybook -s ./static-foo,./static-bar -p 9001"`

[2019-02-06 14:07] jcampalo commented on #5462
I face the same issue also, in my case I only use `ts-loader`.

What I've discovered for now is that some options from `ts-loader` caused this bug.

`
const ForkTsCheckerWebpackPlugin = require('fork-ts-checker-webpack-plugin');
const ForkTsCheckerNotifierWebpackPlugin = require('fork-ts-checker-notifier-webpack-plugin');
const path = require('path');

module.exports = (baseConfig, env) => {
  con

[2019-02-06 16:32] kdenz commented on #5377
For me I realized it's caused by this line in `AppDelegate.m` for 0.58.x
It becomes
```  rootView.backgroundColor = [UIColor blackColor];```
from previously
```  rootView.backgroundColor = [[UIColor alloc] initWithRed:1.0f green:1.0f blue:1.0f alpha:1];```

Now I changed it to
```  rootView.backgroundColor = [UIColor whiteColor];```
and it defaults to white again

[2019-02-06 16:49] fssantos opened #5499 "silent console.warn() causing @@iterator problems on React Native"
**only happening on REACT NATIVE**

**Describe the bug**
Somehow console.warn() was causing this problem when inside a render() component method:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any component and put a console.warn() on it's render;
2. Click on it's preview on navigator;
3. See error

**Expected behavior**
Just appear a console.warn normally;

**System:**
 - OS: [UBUNTU

[2019-02-06 17:07] mayureshs commented on #4230
I am still getting the same error even with "architect" in the angular.json file (attached).

ERROR in ./src/app/components/header.component.css
Module build failed (from ./node_modules/postcss-loader/src/index.js):
SyntaxError

(2:40) Unknown word

  1 | .element {

    |                                        ^
  3 |     top: 50%;
  4 |     transform: translateY(-50%);

[angularjson.txt](https:/

[2019-02-06 17:29] rally25rs commented on #3855
Came to say the same as @DimaRGB
Would be able to reserve existing syntax and add hook-like calls, for example:

[code]

The occasional need being that react components aren't supposed to update their own `props`, but instead tell their parent that they need changed. Sometimes a component contains some element that is supposed to toggle it's props (I ran into this because sometimes a nav bar menu

[2019-02-06 17:35] tamlyn commented on #5401
`react-modal` is installed at `node_modules/@storybook/ui/node_modules/react-modal`. If I forcibly install it into the root of the workspace and try a build again, I get a similar error about `react-fuzzy`.

However that did lead me to discover that I had `@storybook/ui` in two places in my `node_modules`. Deleting `node_modules` and reinstalling seems to have fixed it.

Thanks for encouraging me

[2019-02-06 17:35] #5401 closed

[2019-02-06 19:25] Keraito commented on #5364
@shannontan-bolt 	I tried it in the official example stories that we have in the repo, but it correctly gets rid of the `Fragment` elements there. Could you reproduce and share your bug?

[2019-02-06 20:23] pmowrer commented on #5066
@florianbepunkt What did you do to work around this problem? Can't tell what the significant difference is between the two snippets you pasted 😅

[2019-02-06 21:01] A1vinSmith commented on #2882
It worked for me the first time.
After commit, not working any more.

[2019-02-06 22:27] JaeBea commented on #5473
This also appears whenever you reload a component via the browser's built in actions.

[2019-02-06 23:14] shannontan-bolt commented on #5364
@Keraito Our team managed to isolate this issue to our use of Preact in certain places impacting our React components.

Sorry for flagging this inappropriately, and thanks so much for your help!

[2019-02-06 23:14] #5364 closed

[2019-02-07 00:56] garrettmaring opened #5500 "Exports missing from `addon-viewport`"
**Describe the bug**
It seems as though a `withViewport` and `configureViewport` functions are not exported from the `addon-viewport` module.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow [documenation for customizing viewport](https://www.npmjs.com/package/@storybook/addon-viewport#use-custom-set-of-devices)

**Expected behavior**
Viewports can be customized, default viewport can b

[2019-02-07 05:27] kkashou opened #5506 "Nunjucks template?"
I am currently using storybook html and got everything I need going except one thing, that is the support for importing a nunjucks partial. Is there a way to do that? If so what’s the best approach?

I see some people using storybook set up with vue template option but I feel like hack approach.

Let me know what you think.

Thank you!

[2019-02-07 06:32] #5009 closed

[2019-02-07 06:32] #4941 closed

[2019-02-07 06:32] #4975 closed

[2019-02-07 06:32] #4998 closed

[2019-02-07 06:32] #4103 closed

[2019-02-07 06:32] #4997 closed

[2019-02-07 06:32] #5000 closed

[2019-02-07 06:32] #4254 closed

[2019-02-07 06:32] #4847 closed

[2019-02-07 06:32] #3940 closed

[2019-02-07 07:07] DaSchTour commented on #4475
Nothing changed, so probably this bug is still there. Nothing to close here!

[2019-02-07 07:16] nickmccurdy commented on #4769
I'm still having this issue with Storybook 4.1.6

[2019-02-07 07:16] johnhunter commented on #5206
I appreciate it’s a low priority issue. I’ll see if I can get a PR raised to resolve. Thanks.

[2019-02-07 07:20] meebix commented on #5262
This does not work either. ^^

[2019-02-07 07:37] florianbepunkt commented on #5066
@pmowrer: I think the code in my initial post is wrong. I had to use both parameters below in order to correctly set the screensize.

[code]

[2019-02-07 09:22] wprogLK commented on #5293
Would be great when this would be document on the page of the notes addon.

[2019-02-07 09:25] #4848 closed

[2019-02-07 09:48] chulanovskyi commented on #5193
The question remains opened

[2019-02-07 11:43] dancol93 commented on #5240
Having exactly the same issue, anyone has found a workaround?

[2019-02-07 11:58] oreporan commented on #5475
@theboyWhoCriedWoolf
Can you please provide a solution?

[2019-02-07 12:34] gogs85 opened #5509 "Angular 7 assets images path"
Hi, I try to use to make components for icons, and icons is in assets /img folder.
` <svg>
  <use xlink:href="assets/img/icons.svg#customer"></use>
</svg>`
with ng serve this is working fine, but when use npm run storybook images is not show.
How I can include assets to use with storybook in Angular 7?

Thanks

[2019-02-07 13:23] titouancreach opened #5510 "ReferenceError: regeneratorRuntime is not defined"
**Describe the bug**
I just migrated from v5 alpha to v5 beta. Now I can see in the console: "ReferenceError: regeneratorRuntime is not defined". I've so added [babel-plugin-transform-runtime](https://babeljs.io/docs/en/babel-plugin-transform-runtime) to the list of my babel plugins but nothing changed (I think this include only the polyfill to my code and not to Storybook) .

**To Reproduce**
Ste

[2019-02-07 13:30] ryanwelcher commented on #5240
@dancol93 I have not, no. To be clear I have tried both the slow and quick start tutorials and then adding the addon tutorial code.

The only thing I haven't tried is creating the addon as a package and adding it to my package.json as indicated in the[ docs here](https://storybook.js.org/addons/writing-addons/#packaging)

[2019-02-07 13:59] gavmck opened #5511 "Refreshing page loses current story"
**Describe the bug**
Running 5.0.0-beta.1, I can navigate to a story successfully, but when I refresh the page, it shows the "No preview" view.

Url example: http://localhost:1337/?path=/story/templates-payment-direct-debit--default

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a story
2. Click on the browser refresh button
3. See the "No preview" view

**Expected behavior**
The stor

[2019-02-07 14:03] gavmck opened #5512 "Iframe.html view loses the url and updates to /"
**Describe the bug**
When ejecting from the storybook view and into the direct /iframe.html view, once it finishes loading, the browser url is set to the domain root so you can't refresh the page to see updates.

Start: http://localhost:1337/iframe.html?id=templates-payment-card--default
End: http://localhost:1337/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a story
2. Click on the

[2019-02-07 14:25] pardesiaka08 commented on #302
Hi, I am facing an issue on integrating storybook with gatsby.As my gatsby site consists of components which uses graphql queries which are giving an error.Is there any solution to create storybook for such components.

**FooterSocialIcons component**
import React from 'react'
import { StaticQuery, graphql,Link } from "gatsby"
const FooterSocialIcons = (props)=>(
    <StaticQuery
    query={graphq

[2019-02-07 14:33] pardesiaka08 commented on #302
Hi, I am facing an issue on integrating storybook with gatsby.As my gatsby site consists of components which uses graphql queries which are giving an error.Is there any solution to create storybook for such components.

**footerSocialIcons Component**

import React from 'react'
import { StaticQuery, graphql,Link } from "gatsby"
const FooterSocialIcons = (props)=>(
    <StaticQuery
    query={graph

[2019-02-07 15:38] renatho commented on #5276
I have the same problem here with React

[2019-02-07 15:43] rosskevin commented on #5267
/unstale

[2019-02-07 19:11] alflennik commented on #5422
If you're updating an existing storybook, try running `npm install --save  @emotion/core` to upgrade from v0 to v10.

[2019-02-07 19:40] alflennik commented on #5197
Confirmed on `@storybook/react` and `@storybook/addon-jest` versions `5.0.0-beta.1`.

I am glad this is high priority, but I see there has been no progress in three weeks.

Since I need both Jest support and Emotion v10, which is only supported in 5.0.0, my usecase for Storybook is broken until this is fixed.

[2019-02-07 21:21] leoyli commented on #5271
@shilman, this is not working in the beta.1 version. (not sure about the prior versions)

For example, in a decorator I call `api.setQueryParams({ test: 'abc' })`. The URL is not changed and the subsequent call both (`console.dir(api.getUrlState())` and `console.dir(api.getQueryParam())`) was not showing the query parameter I provided...

Any clue or should I open a new issue?!

[2019-02-07 21:32] leoyli commented on #5512
This can not reproduced in my case.

**System:**

* OS: MacOS
* Device: Macbook Air 2013-mid
* Browser: Chrome 72
* Framework: React 16
* Version: 5.0.0-beta.1

[2019-02-07 21:54] tmeasday commented on #5197
Hi @alflennik!

A couple of questions:

1. When you say you need Jest support--do you mean the `addon-jest`? You can certainly use jest and storyshots without it (just FYI)

2. I am not sure that you cannot use Emotion 10 with the latest Storybook 4.1 release. I think you should be able to. What issue are you seeing?

3. We are happy to take contributions here! We haven't looked at this addon yet

[2019-02-07 21:55] tmeasday commented on #5271
@leoyli -- I think open a new issue. This issue was specifically about an API to replace the `setQueryParams` API, but we are aiming for back-compat there, so if it is broken, it is worth fixing.

[2019-02-08 01:56] willdady commented on #5291
Getting the same problem on RN 0.57.8 on Android. I guess storybook is using `Symbol.iterator` which is not supported in the Android JSC react native uses?

The following workaround is working for me:
https://github.com/facebook/react-native/issues/20902#issuecomment-431177779

[2019-02-08 02:19] Pittan commented on #5276
I have the same problem with Vue
@storybook/addon-knobs 4.1.11

[2019-02-08 02:26] alienfacepalm opened #5515 "THEME option missing? Storybook docs say theme is an option, is it gone?"
`addDecorator(
  withOptions({
    name: 'Storybook',
    theme: themes.dark
  })
)`

Error says `theme` does not exist as an option

[2019-02-08 02:34] leoyli commented on #5271
I see, I will take a time to gather enough information and try to reproduce it using some sandbox or in a new project. After that I can open an issue! Thanks!

[2019-02-08 04:49] rapheld commented on #5256
bump

[2019-02-08 06:20] tmeasday opened #5518 "Keyboard shortcuts order is not the same as treeview order"
**Describe the bug**
A bit of an edge case. When you create a new story for a component, it appears in the right place in treeview, but is treated as if it is at the very end as far as keyboard shortcuts are concerned.

## Reproduction (via same kind in two files, kind of weird, but easy to repro):

1. Create three story files, `A`, `B` and `C`.
2. Make `A` + `C`'s stories both apply to the same k

[2019-02-08 06:43] mohsinulhaq opened #5519 "How do I render all my stories inside the React.StrictMode component?"
Logging just for asking a question. How do I achieve the above result?

[2019-02-08 06:56] mohsinulhaq commented on #5519
nvm, I found `addDecorator`! Closing this issue...

[2019-02-08 06:56] #5519 closed

[2019-02-08 07:51] mderazon commented on #58
Is this possible to achieve in any way ?
Could be good for something like theme (light dark)

[2019-02-08 07:54] magic-m-johnson opened #5520 "Storybook loads src/ of package instead of build/"
Hey there,

I'm using storybook in my project but I run into a strange error. I'm using a module that has both `src/` and `build/` dir available. The `main` entry in the `package.json` points to the `src/` directory, while the `module` entry points to `build/` directory.

In regular context it works fine, but in storybook I get this:

![image](https://user-images.githubusercontent.com/27994580/524

[2019-02-08 14:43] dagatsoin commented on #2883
Still have the warning event with the typings declaration.

[2019-02-08 14:50] Vivalldi commented on #5422
Started from scratch and installed `@emotion/core`. Ended up with the same results.

[2019-02-08 15:11] gavmck commented on #5512
You're right! It's me!

I needed to add
[code]
to the RouterModule declaration in the story imports or it detects and invalid rout and redirects to /.

Thanks for investigating, it put me on the right track.

[2019-02-08 15:11] #5512 closed

[2019-02-08 15:27] bertho-zero opened #5524 "Uncaught TypeError: Cannot read property 'call' of undefined at __webpack_require__"
**Describe the bug**
A React app with splitting code generates a webpack error that comes and goes randomly.
A little less than once in two the screen is empty and an error appears in the console.

I can work around the problem by customizing the webpack config with:
[code]

**Expected behavior**
Should work constantly.

**Screenshots**
![image](https://user-images.githubusercontent.com/8525267/52

[2019-02-08 16:42] ifthenelse commented on #2883
Hi guys, I'm still getting errors here.
I'm making a simple documentation using Angular Material components.
Here's my brief Storybook configuration:

**ng-cli**
[code]

**tsconfig.json**
[code]

**typings.d.ts**
[code]

**.storybook/addons.js**
[code]

**.storybook/config.js**
[code]

**src/app/material/mat-button.stories.ts**
[code]

**src/app/notes/mat-button-basic.md**
[code]

Still getting er

[2019-02-08 17:08] Mathias54 commented on #4691
For my, it worked:

[code]

[2019-02-08 17:15] nisheed2440 commented on #4600
Hi All, I have created a wrapper that can be installed on a stencil `component` type project. Hope it helps. https://github.com/nisheed2440/stencil-storybook-wrapper

[2019-02-08 17:18] ChrisBrownie55 commented on #4691
I guess this should be closed then @ilias-t

[2019-02-08 17:18] Edd-Strickland commented on #4600
looks really good I'll test on Monday.  Good work :)

[2019-02-08 17:30] #4691 closed

[2019-02-08 19:37] segalr3 commented on #5066
@florianbepunkt i tried your solution and still getting different image sizes...anything else you recommend checking?

[2019-02-08 19:58] pgoforth commented on #5418
@CodeByAlex
Can you verify that the PR fixed your issue? If so I'm going to close the issue.

[2019-02-08 20:22] CodeByAlex commented on #5418
@pgoforth I am still having the issue using 5.0.0-beta.1. Is there a different version you are thinking of, please let me know. as of this version, the notes do not load on default and they do not change as expected when switching between components.

Ex. If I am on component A and I go to the notes section, eventually(with some clicking around) the notes will populate. Once populated, if you go t

[2019-02-08 20:37] kkashou commented on #5506
Decided to move away form storyboard since I found a different solution.

[2019-02-08 20:37] #5506 closed

[2019-02-08 21:16] klaidman opened #5526 "Webpack error on static build"
**Describe the bug**
Webpack loader error when building a static site using `build-storybook,` with default setup:

[code]

I have tried tweaking webpack.config.js in .storybook, but can't figure out the correct settings that will get this to build correctly. Thanks for any assistance with this.

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh repo (cloned from react-boilerplate, as per

[2019-02-08 22:07] pgoforth commented on #5418
@CodeByAlex
The PR has been merged into the `next` branch. There has not been a beta released with the fix yet. It will likely go out in the next beta build.

[2019-02-08 22:18] florianbepunkt commented on #5066
Can you post a repo?

[2019-02-08 23:25] benkeen opened #5527 "Anchor tags within preview panel not working"
Apologies if this isn't a bug or there's standard way to solve it, I couldn't find it.

**Describe the bug**
An anchor tag within a page in the preview panel iframe doesn't take you to that position within the page, but reloads the top iframe with the page content.

**To Reproduce**
Steps to reproduce the behavior:
- Create a story within the preview panel, and add a link like <a href="#about">Abo

[2019-02-09 00:43] markserrano915 commented on #5183
The following workaround works for me:

[2019-02-09 00:53] Haaruun-I commented on #5461
@leoyli I cant find the experimental branch

[2019-02-09 01:12] sowhatdoido opened #5528 "storybook won't start with eslint-loader if failOnError is false with error present"
**Describe the bug**
If storybook is put into full-control mode, and eslint-loader is added without the option `failOnError: true`, storybook is unable to start up if there is an existing eslint error. This feels a little backwards because failOnError is set to false, so the build should continue.

**To Reproduce**
Steps to reproduce the behavior:
Add `webpack.config.js` to your `.storybook` folde

[2019-02-09 02:34] Haaruun-I commented on #5401
No problem!

[2019-02-09 02:52] leoyli commented on #5461
Not sure about @storybook/html, that experimental branch is my own repo... I'm trying to integrate storybook into our tech stack in the company... That is why I shared the above code. I believe it is fairly straightforward to understand. I will submit a PR to improve the doc too :)

[2019-02-09 03:39] shilman commented on #4958
Hurrah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-beta.2 containing PR #5490 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-09 03:39] shilman commented on #5416
Yo-ho-ho!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-beta.2 containing PR #5452 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-02-09 07:28] Maxhodges commented on #4256
does anyone had a up-to-date storybook vuetify boilerplate? I made one a while back but it's very out of date, and I can't seem to get things working again with latest package versions.

[2019-02-09 09:33] web-padawan commented on #4958
@shilman that PR was only one prerequisite.
Please see https://github.com/storybooks/storybook/issues/4958#issuecomment-460771403 for a full list of the actions to implement.

I can try to refactor `@storybook/polymer` to make this happen, with dropping Polymer 2.
So could you reopen this issue please?

[2019-02-09 12:16] Keraito commented on #4958
Sounds logical @web-padawan, reopening this issue for you guys.

[2019-02-09 12:19] Keraito commented on #5515
Hey @alienfacepalm , what versions of storybook and the options addon are you using? Can you also try with `addParameters` instead of `addDecorator` as in https://github.com/storybooks/storybook/blob/next/examples/official-storybook/config.js#L49?

[2019-02-09 14:25] danielbuechele commented on #5422
Upgrading to `@emotion/core@10.0.7` fixed it for me using beta2. beta1 only worked with `@emotion/core@10.0.6` though. Make sure to explicitly install this the exact version.

[2019-02-09 17:41] natterstefan commented on #5475
Hi @oreporan.

A few minutes ago, I found this comment https://github.com/vuejs/vue-cli/issues/3407#issuecomment-460282427. It works. Hopefully, this helps you as it did me.

[2019-02-09 18:33] #5515 closed

[2019-02-09 18:34] alienfacepalm commented on #5515
addParameters compiles with no issue, doesn't appear have any effect from my config, `info` section works, none of the `options` are applied, but that's another issue.

[code]

[2019-02-09 19:18] web-padawan commented on #4958
@Keraito thanks for reopening. Could you also help me with clarifying some details about how can we tweak webpack setup used by Storybook?

I have created a very basic example of the webpack + web components here:
https://github.com/web-padawan/webpack-wc-demo

So the steps I would like to configure are described below:

1. replace `babel-loader` with the loader provided by [webpack-babel-multi-ta

[2019-02-09 19:41] web-padawan opened #5531 "Core: ES modules output target for iframe-webpack-config"
**Is your feature request related to a problem? Please describe.**
The problem is that certain browser standards (specifically, Custom Elements) need native ES2015 classes to work properly. Otherwise, when transpiled to ES5, special shim is needed to prevent issues like #3497 to happen. This is actually already used by `@storybook/polymer`:
https://github.com/storybooks/storybook/blob/bbcbf7c4d41b

[2019-02-09 19:46] web-padawan commented on #3497
@jackblackCH let's continue discussion in the new issue #5531 which describes potential fix.

[2019-02-09 20:00] leoyli opened #5532 "[v5.0.0-beta.2] Old version of React is not happy with Storybook with React 16.8.1"
**Describe the bug**
Storybook is totally crashed and printed out many `theme` related errors. Even though I removed all add-ons and stories, the problem persisted. The bug can be resolved by upgrade everything to React 16.8.1 or rollback storybook to v5.0.0.beta.1.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a project running on React 16.7 or lower
2. Launch Storybook v5.0.0.beta.2

[2019-02-09 22:06] Keraito commented on #4958
Unfortunately I'm not the best person to ask webpack related issues, tagging @igor-borisov for you, who should have more knowledge in this domain

[2019-02-09 23:29] #4874 closed

[2019-02-09 23:29] #4788 closed

[2019-02-09 23:29] #4188 closed

[2019-02-10 02:09] leoyli opened #5533 "API.setQueryParams not works as expected"
**Describe the bug**
Expected URL updated when `api.setQueryParams` get called.

**To Reproduce**
Steps to reproduce the behavior:
- In any add-on tooltip component, where get access with `storybookAPI`, call `storybookAPI.setQueryParams({ foo: 'bar' })`.

**Expected behavior**
URL change to, for example: `http://localhost:6006/?path=/story/test&foo=bar`.

**System:**
* OS: MacOS Mojave
* Device:

[2019-02-10 04:15] shilman commented on #5532
FYI, I have reproduced this error on a boilerplate CRA1 project that I manually upgraded. It does not repro on a CRA2 project.

[2019-02-10 04:36] shilman commented on #5532
@domyen @ndelangen The theming is still half-baked. The themes define `colorSecondary` but the components still reference `color.secondary`. I'm assuming you guys have a plan for this--please let me know when things are consistent and I'll release a fix.

[2019-02-10 09:39] ndelangen commented on #4958
@igor-dv 👆 Do you know?

[2019-02-10 09:44] ndelangen commented on #4958
@web-padawan looking at what that plugin does, I think that's something we want in the core itself, so all frameworks can benefit from choosing to either run in a modern environment or a legacy one.

Can we schedule a online meeting to discuss perhaps?

[2019-02-10 10:07] web-padawan commented on #4958
@ndelangen thanks for taking a look! Let's continue discussion in #5531
If you think online meeting would be more productive, we could arrange it.

[2019-02-10 12:57] Keraito commented on #5050
I looked into this: currently, we're using `merge-dirs` to copy the generator template files (which are js files) over to the user's directory. We can either create new TypeScript templates for every generator (not preferable), or just change the extensions.

- We can either change (rename the files) the extension **before** the merging is done. This would mean that we need to duplicate + apply th

[2019-02-10 13:02] Keraito commented on #5319
That doesn't look right. I couldn't quite reproduce this behaviour tho @himanshu-dixit, could you share which versions of the respective packages you are using and possible also a reproduction that we can look into?

[2019-02-10 13:06] Keraito commented on #4078
Confirmed in the official storybook examples that this has been fixed as described by @kallaugher, closing this!

[2019-02-10 13:06] #4078 closed

[2019-02-10 13:09] Keraito commented on #5393
Hey @sunlanterns, that doesn't sound right. I couldn't quite reproduce the error in the Storybook repo, do you have a reproduction or a video that you can share to display the error? Also, through what command are you specifically starting storybook?

[2019-02-10 14:06] Keraito commented on #3493
Guess this can be reopened now. @Hypnosphi 	@ndelangen 	do either of you have the time to pick this up?

[2019-02-10 22:31] Jipperism commented on #5225
I have outputted the test results to `src/stories/test-results.json` but it still doesn't pick them up. Webpack does indicate that it's rebuilding as soon as the test results are outputted, by giving the following message:
[code]
When I refresh the page, I can see the new test results. I have also tried to run them side-by-side in seperate processes instead of using `concurrently`, but it has the

[2019-02-11 01:39] CrashyBang opened #5537 "Failing to load config when doing unit tests with Jest (default config)"
**Describe the bug**
A clear and concise description of what the bug is.

Storybooks fails fails to load/find `.storybooks`.

**To Reproduce**
Steps to reproduce the behavior:

Create new project with `vue-cli`.

Use [`vue-cli` plugin](https://github.com/storybooks/vue-cli-plugin-storybook) to add storybook to a fresh Vue project.

Follow instructions in the ['Getting Started'](https://www.learnst

[2019-02-11 04:56] daKmoR commented on #5531
another benefit of this would be that currently if you have any es6 code in your node_modules then it does not get transpiled as there is an exclude for all inside node_modules...

using above mentioned plugin also goes through each package and checks if it needs transpilation and applies it if needed (e.g. there is a "module" in package.json)

So there would be no global exclude for node_modules

[2019-02-11 08:37] Raidok opened #5542 "Angular - Stories redeclaring components in DynamicModule"
**Is your feature request related to a problem? Please describe.**
I am building a component library, which contains primitive (independent) components as well as components that are a composition of other primitive and/or complex components. For simplicity's sake I have a module for every exported component where I can define all nested components(modules) that it depends on.

When writing a stor

[2019-02-11 10:12] afisher88 opened #5543 "addon-a11y not working with React in Storybook 4.1.11"
**Describe the bug**
The A11y extension always returns 0 errors 0 passes even when there are violations

**To Reproduce**
Steps to reproduce the behavior:
https://github.com/afisher88/react-storybook-sandbox

This repository contains a component that should fail on colour contrast and a component that contains a button with no type or text.

**Expected behavior**
A11y errors and passes should show

[2019-02-11 10:35] mrsufgi opened #5544 "[5.0.0] Mobile layout broken"
**Describe the bug**
When resizing the screen it turns white, console errors shows:

Uncaught TypeError: Cannot read property 'initialActive' of undefined
which lead to Mobile ctor.   (calling this.state = { active: options.initialActive }) options in undefined.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Storybook
2. Resize to mobile view
3. App crash and needs a full refresh

**E

[2019-02-11 12:51] kobe990 commented on #5392
I use @storybook/vue v4.11.1 and @storybook/addon-notes v4.11.1 . finally I use @storybook/addon-notes v3.4.6 to solve this issue....

[2019-02-11 13:03] erikthedeveloper opened #5545 "addon-ondevice-knobs does not support React Native >= 0.56 (requires dependency upgrade)"
**Describe the bug**

`@storybook/addon-ondevice-knobs` does not support React Native >= 0.56 due to its dependency on `react-native-modal-datetime-picker`. My Storybook in React Native is working great until attempting to introduce knobs. Attempting to use knobs results in this error:

[code]

https://github.com/storybooks/storybook/blob/d9cd83c2d5e1d160effdc6f51d1dd19a279b5028/addons/ondevice-kn

[2019-02-11 13:57] web-padawan commented on #5531
Tagging @DanielSchaffer who is the author of the plugin I'm suggesting to integrate.

Also, note there is a proposal for the plugin API changes, which might make sense in scope of integrating the plugin to Storybook core: DanielSchaffer/webpack-babel-multi-target-plugin#21

[2019-02-11 14:44] stigi commented on #3843
@Hypnosphi I ran into the same issue on 4.1.2 with react native 0.58.4

I created a demo repo (new react native project from scratch): https://github.com/stigi/storybook-issue-3843/tree/master

cc @dusan-dragon

[2019-02-11 15:16] CodeByAlex commented on #5418
@pgoforth , The fix resolved the issues I was seeing. Thanks!

[2019-02-11 16:31] pascalduez opened #5546 "Mangled component names in production build"
Hi,

upgrading from `@storybook/react` 3 to 4 brings back mangled component names in the production build. So in our styleguide which is using  [`react-element-to-jsx-string`](https://github.com/algolia/react-element-to-jsx-string/blob/333591a19420cb52f93b7c638bcaa2ca10bf2d11/src/parser/parseReactElement.js#L12-L17) can't find function names.

This resulting in our code samples looking like:
[code

[2019-02-11 16:44] grumpyoldman-io opened #5547 "Storybook/html not building properly"
**Describe the bug**
After installing a clean build of storybook html (following the instructions) and running `yarn build-storybook` a broken static build is rendered. The parent keeps opening an iframe inside an iframe inside an iframe and so on.

**To Reproduce**
Steps to reproduce the behavior:
1. `npx -p @storybook/cli sb init -t html`
2. `yarn build-storybook`
3. use serve or any other hosti

[2019-02-11 21:02] #5418 closed

[2019-02-11 21:27] ebrentnelson commented on #5162
I noticed this today as well.

[2019-02-11 22:23] wlkrdv commented on #4769
A temporary workaround is:

- Install react-devtools as standalone app globally: `npm i -g react-devtools`
- Inject in each iframe the tag  `<script src ="http://localhost:8097"></script>` through `.storybook/preview-head.html`.

Running up: `react-devtools`, it is possible to debug the components without problems.

Checked with react-devtools@3.6.0

[2019-02-11 22:23] alienfacepalm commented on #4143
My example is using `withStyles` with Material UI I wind up with some useless source like this ```<WithStyles(LinearDeterminate) progress={50} />
[code]

[2019-02-11 22:42] davemeisenheimer commented on #4143
Based on Norbert's suggestion, my solution has been to export this way:
const exportComponent = withStyles(styles)(LinearDeterminate);
exportComponent.displayName = "LinearDeterminate";
export default exportComponent;

[2019-02-11 22:46] microminibmx commented on #4143
Based on Norbert's suggestion, my solution has been to export this way:
const exportComponent = withStyles(styles)(LinearDeterminate);
exportComponent.displayName = "LinearDeterminate";
export default exportComponent;

[2019-02-11 23:11] Rolando-Barbella commented on #5183
Any updates about this one? can't solve it by just adding `"babel-loader": "8.0.4"` or any of the other steps

[2019-02-11 23:32] alienfacepalm commented on #4143
Oh cool, I missed that somehow. Glad it's possible. Thanks a lot.

[2019-02-11 23:34] #5546 closed

[2019-02-12 00:03] ebrentnelson commented on #5162
I'll create an PR (if that is even allowed--I need to check).

[2019-02-12 00:05] ebrentnelson commented on #5162
Already fixed: https://github.com/storybooks/storybook/blob/06e3e8da16bd04b8bf3f5399a41c7c7fc97eb089/addons/info/src/components/types/PrettyPropType.js#L40

Just needs to be released.

[2019-02-12 00:18] ndelangen commented on #4958
@web-padawan Please join our discord if you can, I'm super active there.
https://discord.gg/sMFvFsG

When would you be available?

[2019-02-12 00:20] ndelangen commented on #5532
I'll take a look at the theming and write some docs tomorrow!

[2019-02-12 01:30] nickdallege commented on #5183
I was able to resolve it by adding babel-loader 8.0.4 as both a dependency and a peer dependency.

[2019-02-12 01:58] leoyli commented on #5543
I think this one was down for a while... But it got fixed at v5.0.0-alpha.X.

[2019-02-12 01:59] leoyli commented on #5544
I guess the core team haven't reach mobile version yet... still have some changes ongoing on the desktop from my understanding.

[2019-02-12 02:05] leoyli opened #5551 "Stringifying events takes a long time (in actions addon)"
**Describe the bug**
Action addon took surprisingly long time to response (freeze the screen >4 sec).

**To Reproduce**
Steps to reproduce the behavior:

1. Given any dummy button component.
1. Hook onClick action with `action` addon function.
1. Wait >4 sec to get response, the UI is totally blocked and unresponsive

An example from `official-storybook`: http://localhost:9011/?path=/story/basics-

[2019-02-12 02:50] thenathanjones commented on #5543
Is it likely that this will make it into 4.x or we going to have to do a major version upgrade to get the fix?

[2019-02-12 11:00] tonai commented on #4801
Same problem for me.

I use the decorator for providing data to my component:
* material UI theme
* date provider for material-ui-pickers
* redux store
* ...etc

But it can't be provided with the global `addDecorator` because data might be different between components.
It would be great if this can be fixed with the local `addDecorator`.

I think the info addon is really nice, but not usable in my

[2019-02-12 11:02] gnclmorais commented on #4997
Hey @gsouquet, `storyFn()` returns an HTML string, which [are allowed as stories][0], so you can do the following:
[code]

[0]: https://storybook.js.org/basics/guide-html/#write-your-stories

[2019-02-12 11:12] madhudskumar commented on #270
the above is invalid as of Feb. 2019.
Just found storybooks has a dependency on react-scripts.
just install react-scripts and everything should work...
Happy coding!

[2019-02-12 11:20] gnclmorais commented on #4997
I have a similar case (where I want to wrap elements with Bootstrap classes) and I did the following:
[code]

[2019-02-12 12:46] NiklasWebnuts commented on #3968
@nicholasmaddren Did you find any performance optimisations?

[2019-02-12 12:52] eddybrando commented on #714
I would advise against creating the symlink via the package.json script for compatibility reasons, in case not every developer uses the same OS.

As an alternative I suggest using the [copy-webpack-plugin](https://github.com/webpack-contrib/copy-webpack-plugin) in the **.storybook/webpack.config.js** file, like this:

[code]

This for example would mount the contents of the directory `.storybook/s

[2019-02-12 13:40] kroeder commented on #3968
@igor-dv @ndelangen do you know anything about that issue?

[2019-02-12 15:34] larsenwork commented on #3921
Just tried V5 Beta2 and confirm it's not fixed, so still a 🐛

[2019-02-12 16:34] #4878 closed

[2019-02-12 16:45] Vivalldi commented on #5422
Still problematic with `@emotion/core@10.0.7` and `@storybook/react@5.0.0-beta.2`

[2019-02-12 16:48] Vivalldi commented on #5422
Seems to happen only when loading without a `path` arg in the query string

[2019-02-12 17:09] Vivalldi commented on #5511
I'm personally not seeing this problem in 5.0.0-beta.2

[2019-02-12 20:55] Rolando-Barbella commented on #5183
Unfournatatley not for me, mine is asking me for `babel-loader": "8.0.5`, not sure if that makes a difference, also, when I run `npm ls babel-loader` it throws this:
[code]

[2019-02-12 21:54] worc opened #5561 "storybook autodetects react and installs using yarn instead of npm"
using:
`storybook: ^1.0.0`

on the first run of `start-storybook` it detected react in the project and then automatically installed the following plugins:

[code]

that's some useful automation, but the problem is that storybook used yarn instead of npm and generated a yarn.lock. there should really be a choice given here. this could cause potential issues where a yarn.lock is generated, the packa

[2019-02-12 22:04] worc commented on #5561
actually, turns out this is an issue with the global storybook command and not start-storybook itself. i was running `npx storybook` trying to refer to the package.json script i'd written to encapsulate the start-storybook command. but that calls what's essentially a storybook-init procedure. it's best to just stick to `npm run storybook` in those situations.

[2019-02-12 22:04] #5561 closed

[2019-02-13 01:33] ZebraFlesh opened #5563 "Prevent navigation in some stories?"
Is there a way prevent navigation in some stories? I have a language picker component (renders an HTML `<select>`) which sets `window.location` when an option is chosen. I'd like to prevent navigation in these stories, but not in others. I'm using react, but not react-router.

- @storybook/react 4.1.11
- react 16.7.0

[2019-02-13 06:44] valentinpalkovic commented on #5183
@Rolando-Barbella Try to pin the version through the `resolution` filed in your package.json to `8.0.4`

[2019-02-13 09:03] Hanspagh commented on #5291
I will try that, it seems like an easier workaround.

[2019-02-13 09:29] erickwilder commented on #5129
Is there any development in this area? Is there something that I could help somehow to get it fixed?

[2019-02-13 12:36] AgaAgnieszkaBorcz opened #5571 "Was looking for Storybook logo license - anyone knows?"

[2019-02-13 15:03] o-t-w commented on #4600
Will this be made into an official part of Storybook? I have a desperate need for this!

[2019-02-13 15:04] gavmck commented on #5511
Confirmed, this is fixed in 5.0.0-beta.2
Yay!

[2019-02-13 15:04] #5511 closed

[2019-02-13 15:09] rgranger opened #5572 "Webpack 4 HMR not rebuilding node_modules"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

I just upgraded @storybook/react to 4.1.11 and webpack to 4.29.0

Using `start-storybook` with custom webpack config.

When modifying a file in `node_modules/`, webpack should rebuild the files so the changes should be seen thanks to HMR.

Problem : Webpack isn't even rebuilding.

### Steps to reprodu

[2019-02-13 19:27] CodeByAlex opened #5574 "[Addon: Notes] - V5 - Weird formatting occurs when using markdown code snippet (```code```)"
**Describe the bug**
When using markdown with the notes addon, in version 5.x, special characters are showing abnormal spacing.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the directions to add notes to the storybook project
2. add a markdown file or include markdown in your ts file (This markdown should include code snippets using tacs 3 tacs(\`) code and then another 3 tacs(`)
3

[2019-02-13 19:55] seancmw-fly-me opened #5575 "StoryShots "default" test fails to run for new React project"
**Describe the bug**
Trying to run the provided test on the structural testing page of the storybook website (https://storybook.js.org/testing/structural-testing/) fails with the error
`SyntaxError: Unexpected identifier`
pointing at
`initStoryshots`

**To Reproduce**
Steps to reproduce the behavior:
1. In an empty directory, run `yarn init`, with default options.
2. Run `npx -p @storybook/cli sb

[2019-02-13 21:38] worc commented on #4672
shouldn't this issue still be open? if storybook doesn't work without babel-loader, then it's not really an optional, peer dependency.

[2019-02-13 22:49] Keraito commented on #5575
Hey @seancmw-fly-me, that doesn't sound right. Could you do/try the following things for me:
1. Post the entire error/stack trace so we could take a closer look.
2. Try moving the `storyshots.test.js` into either a `src` folder or into the `stories` folder and see whether it works that way.

[2019-02-13 23:23] seancmw-fly-me commented on #5575
debug log produced by `npm` (my last name from the username redacted)

[code]
Moving `storyshots.test.js` into the `stories` folder produces a similar, if not the same, error

[code]

[2019-02-13 23:29] tmeasday commented on #5458
Hey @CodeByAlex, sorry I missed this. The viewports addon now lives it the toolbar at the top!

You can see it in the latest official storybook: https://5c638d7c9a7643000809952f--storybooks-official.netlify.com/?path=/story/ui-panel--default

Note this icon in the toolbar:

<img width="554" alt="image" src="https://user-images.githubusercontent.com/132554/52751383-5ea00c00-3043-11e9-815c-fa2361fe9

[2019-02-14 04:06] tmeasday commented on #5551
Probably stringifying the event object? @ndelangen ?

[2019-02-14 04:08] tmeasday opened #5577 "Default stories show up as roots"
**Describe the bug**
<img width="385" alt="image" src="https://user-images.githubusercontent.com/132554/52762124-48f20d00-306a-11e9-9df8-d8f90abd51e1.png">

**To Reproduce**

[code]

[2019-02-14 04:11] leoyli commented on #5551
Maybe not relevant, but it seems that channel can not broadcast `Symbol` object? (will have to check on the case in node side for sure...)

[2019-02-14 04:36] eldyvoon opened #5578 "Importing global style of styled-component for all stories"
This is not really a bug but I'm stuck importing global style of styled-component, for now I have to include it in every single of my story

[code]

[2019-02-14 05:19] tmeasday commented on #5578
Hi @eldyvoon,

The best approach here is to add a global decorator

[code]

[2019-02-14 05:19] #5578 closed

[2019-02-14 05:24] tmeasday commented on #5563
Hey @ZebraFlesh,

I'm not sure there's an easy way without refactoring the component. I think it's good practice to do so anyway -- typically I would pass `onNavigate` or something as a prop to the component, then you can use an action to mock it out in Storybook.

If you need the component to be "self contained", you can export both a Pure version that uses `onNavigate` and a wrapper that sets `o

[2019-02-14 05:24] tmeasday commented on #5547
Seems like a repeat of #5269

[2019-02-14 05:25] tmeasday commented on #5547
I think perhaps you need to cd into the directory and run serve?

[2019-02-14 05:27] tmeasday commented on #5543
Can confirm in official SB: https://storybooks-official.netlify.com/?selectedKind=Addons%7Ca11y&selectedStory=Invalid%20contrast&full=0&addons=1&stories=1&panelRight=0&addonPanel=%40storybook%2Faddon-a11y%2Fpanel.

@leoyli any idea which PR it was that fixed it? Can we backport it?

[2019-02-14 05:29] tmeasday commented on #5542
Hi @Raidok, we are always keen for more people to help out, especially with Angular!

[2019-02-14 05:30] tmeasday commented on #5537
Hi @CrashyBang - any chance you could upload what you have to github?

[2019-02-14 05:30] tmeasday commented on #5537
Or at least what your `scripts` section of `package.json` looks like?

[2019-02-14 05:36] tmeasday commented on #5510
Hi @titouancreach, any chance you could upload your code somewhere?

The issue is in the ui code (ie not your code controlled by your babel config). The regenerator runtime should be part of the manager webpack config. Can you try with the latest beta (`beta.3`)?

[2019-02-14 05:40] Thamizhvaanan commented on #1843
Can storybook display the sample html code for the component????

[2019-02-14 05:41] Thamizhvaanan opened #5580 "Can storybook display the sample html code for the component???"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snippets**
If applicable, add c

[2019-02-14 05:42] #5580 closed

[2019-02-14 06:07] sirberus commented on #5129
This exact comment got things working for me as they do in the docs and as they did before 4.0.8: https://github.com/storybooks/storybook/issues/4947#issuecomment-448001928

4.0.2 seems to be the last time things were working fully as expected. Knobs were all kinds of screwy in versions after this. For example, when I would navigate between stories in the lefthand pane, the knobs panel would go bl

[2019-02-14 06:09] sirberus commented on #4947
All of this was necessary for me to do what I intended. I tried 4.2.0, 4.0.7, 5.0.0-beta... still only 4.0.2 solved most of my issues and no global decorators solved the rest.

[2019-02-14 08:02] titouancreach commented on #5510
Sure I'll try, if it doesn't work, I will do a repro repo!

[2019-02-14 08:53] titouancreach commented on #5510
`5.0.0-beta.3` doesn't fix this bug. I've created a minimal reproduction based on create-react-app [here](https://github.com/titouancreach/repro-storybook-5510)

[2019-02-14 08:56] grumpyoldman-io commented on #5547
@tmeasday I've tried, I also uploaded the complete output folder to a webserver (just to make sure its not just my machine). It keeps persisting. It is indeed a duplicate of #5269 but that was closed.

[2019-02-14 09:56] SubashManian commented on #1503
I stuck in the issue of module Accessibility and searched solution for this issue in GitHub lot of members says downgrade the react-native version i try that too still i got the issue. when i try to upgrade the version i got the issues in my project files are missed. it says the Unable to resolve ../screens/hub.js(my project file)

me some solution to fix this.

This are my dependencies.
<
"devDep

[2019-02-14 10:26] grumpyoldman-io commented on #5547
I just now did a deploy on Netlify and there it does work. My guess it is related to translating `iframe.html` to `iframe` (which loads the default `index.html`). I don't think Storybook can do anything about this since it is up to the serve(r) configuration.

Do you want me to add something to the FAQ in a PR? If not, let's close this.

[2019-02-14 10:30] amathm commented on #5376
I have had this same problem; it is not even a problem with the size of the component being rendered, but rather how knobs settings force a re-rendering of the displayed component Iframe on change.

what's [CodeByAlex](/CodeByAlex) suggested:

Seems a good solution to the problem if implemented, or just allow changes to be submitted once editing of the knobs is done, and then on submit re-renderin

[2019-02-14 12:20] HerrBertling commented on #5440
I won't be able to do the PR soon-ish due to my best release yet a few days ago: 👶 😊

[2019-02-14 12:47] SleepWalker opened #5584 "bug: Storybook@4.1.x swallows errors from the compiler"
In case there are some errors during compilation (in my case that was **Manager Compiler**), e.g.:

or

`core/server/dev-server` will reject with `Stats` instance, but `core/server/build-dev` won't show any errors, because it expects `Error` instance. As a result storybook execution will hang forever without any error messages:

[code]

**To Reproduce**

Steps to reproduce the behavior:

a. Create

[2019-02-14 13:21] CodeByAlex commented on #5458
@tmeasday That looks great! but im not seeing it in the angular cli "next" demo:
![image](https://user-images.githubusercontent.com/29763590/52789305-72db0d80-3031-11e9-908d-8cf3500ff45f.png)

Also, do we still have to include the addon?

[2019-02-14 13:23] ZebraFlesh commented on #5563
Yep, that makes sense. Thank you!

[2019-02-14 13:23] #5563 closed

[2019-02-14 13:30] ndelangen commented on #5551
Indeed, I noticed this as well. Something is not right in the serialization, it used to work really fast :(

[2019-02-14 13:33] ndelangen commented on #4600
@o-t-w We're trying, would you be able to help us?

[2019-02-14 13:35] Gongreg commented on #5545
Hey @erikthedeveloper, there is https://github.com/storybooks/storybook/pull/4425 opened some time ago. Did you try out version 6 and it helped? It didn't break anything else? We could just update the dependency then.

[2019-02-14 16:11] maamounapprise opened #5587 "addon-backgrounds doesn't function with bulma"
**Describe the bug**
Importing bulma and using addon-backgrounds breaks the functionality of backgrounds and no background color is changed stays white all the time.

**To Reproduce**
See code below.

**Bulma CSS File** : https://github.com/jgthms/bulma/blob/master/css/bulma.css

**Expected behavior**
Background color to change

**Code**

[code]

**System:**
 - OS: **MacOS**
 - Device: **Macbook p

[2019-02-14 17:48] CrashyBang commented on #5537
Hey @tmeasday,

Sure here is the `scripts` section:
[code]

And here is my `jest.config.js` (tests are being run by jest as per tutorial):
[code]

And here is my `babel.config.js` (had to make ES5 compliant to work with Cypress):
[code]

And for your reference the directory structure of `testing/`:
[code]

[2019-02-14 18:18] sylvhama commented on #4764
I've updated react-scripts (2.1.5) and storybook react and its addons (4.1.11). The issue is still there but it's about `babel-loader` now:

[code]

[2019-02-14 20:28] o-t-w commented on #4600
@ndelangen I would be happy to test things and provide feedback/bug reports.

[2019-02-14 21:01] jnhooper commented on #4306
for anyone else who comes across this I had issues with sass-loader not liking the being used twice, so i came up with this solution
[code]

[2019-02-14 21:03] jnhooper commented on #270
I had similar issues and this config ended up working for me.
[code]

[2019-02-14 21:04] jjm340 commented on #2081
@jqn This worked for me as well

[2019-02-14 22:41] tmeasday commented on #4764
@sylvhama now you are running into this one 😢 : https://github.com/storybooks/storybook/issues/5183

Most people have managed to fix it by fixing the version of `babel-loader` to `8.04` in `package.json`.

[2019-02-14 23:04] tmeasday commented on #5458
Hey @CodeByAlex, the addon is not currently used in that demo. You do still need to install and register it.

[2019-02-14 23:27] #5334 closed

[2019-02-14 23:34] ndelangen commented on #4764
😭 There's a PR to fix the babel-loader version, and make it match cra's one. I haven't been able to check it out and verify it's good.

If someone here can help us review the PR, we may be able to get it merged faster.

[2019-02-14 23:34] sylvhama commented on #4764
@tmeasday thanks for your feedback!
Their solution is not recommended by CRA Team tho. Plus Storybook v4 promise was to be compatible with CRA2 😞

[2019-02-14 23:50] tmeasday commented on #4764
It's hard because CRA is a moving target :/

[2019-02-14 23:54] ndelangen commented on #3921
@larsenwork thanks for checking, sad to hear the issue is still present. I'll try to take a look asap.

Can I reproduce this in the iOS simulator?

[2019-02-15 00:02] tmeasday commented on #5533
It is no longer intended that it changes the actual URL, this API is kept for back-compat but we do not want to affect the URL any more.

Arguably we should save the state to session storage however. Also I am not sure about the other issues @leoyli mentioned. @shilman you created the back-compat API right, perhaps you can take a first pass over this?

[2019-02-15 00:04] tmeasday commented on #5427
I'm pretty sure this is resolved

[2019-02-15 00:10] tmeasday opened #5590 "Failure in IE11"
v5 is not working in IE right now

[2019-02-15 00:11] domyen opened #5591 "Tooltip stories no longer appear by default and are not clickable"
**Describe the bug**
Tooltip stories no longer appear by default and are not clickable

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [TooltipLinklist](http://localhost:9011/?path=/story/basics-tooltip-tooltiplinklist--links), [TooltipMessage](http://localhost:9011/?path=/story/basics-tooltip-tooltipmessage--default), and [TooltipNote](http://localhost:9011/?path=/story/basics-tooltip

[2019-02-15 00:16] tmeasday commented on #5420
@ndelangen fixed this

[2019-02-15 00:16] #5420 closed

[2019-02-15 00:21] domyen opened #5592 "Storysource: clicking on stories does not update what is highlighted"
**Describe the bug**
When you click on a story in the sidebar, Storysource does not update the code area that is highlighted.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [`WithTooltip`](http://localhost:9011/?path=/story/basics-tooltip-withtooltip--simple-click)
2. Click on the stories in the sidebar
3. Observe that the code highlighted in Storysource does not change

**Expected be

[2019-02-15 00:24] domyen opened #5593 "Tooltip does not disappear when clicking in the Preview iframe"
**Describe the bug**
Open tooltips do not disappear when clicking into the Preview iframe

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the menu tooltip to open it
2. Then click on the Preview iframe
3. See error

**Expected behavior**
Tooltips should disappear when clicking into the Preview iframe

**Screenshots**
Gif: https://cl.ly/42ce365b9d66

[2019-02-15 00:35] domyen opened #5594 "Collapse parent item (folder or component) when a story is selected"
**Describe the bug**
I can’t collapse the parent item (folder or component) when a story is selected. This ends up being cumbersome when there are a lot of nested sibling stories because users have to scroll long distances to navigate the sidebar. I was able to do this in 4.x which mirrors how [file managers UIs](https://www.dropbox.com/s/s9hl071ftuddywj/Screenshot%202019-02-14%2019.34.30.png?dl=0

[2019-02-15 00:38] domyen opened #5595 "a11y addon should highlight violations tab by default"
**Describe the bug**
a11y add-on should highlight “violations” tab when it loads. It currently shows the content for this tab but does not highlight the tab until you click on it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a11y addon
2. See that the violations content is shown
3. But the violations tab is not highlighted (in blue)

**Expected behavior**
The violations tab should b

[2019-02-15 00:44] domyen opened #5596 "Background and viewport addons should have active states in the Toolbar"
**Describe the bug**
The "IconButtons" for Background and Viewports should have active states when they are active. Maybe abstract this behavior so other addons can use it as well?

**To Reproduce**
Steps to reproduce the behavior:
1. Change the Background or Viewport by clicking on one of [these buttons](https://cl.ly/b2ea5fc73119)
2. See that they are not highlighted despite the user having acti

[2019-02-15 00:51] domyen opened #5597 "Toolbar should not have separators between each addon icon"
**Describe the bug**
Icons in the toolbar should not have separators between each of them. Separators should only appear if there are more than two icons present in a feature or addon (i.e., like the Zoom feature).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Storybook that has Toolbar addons
2. See that each icon that corresponds to addons has a toolbar between it

**Expected behav

[2019-02-15 00:58] domyen opened #5598 "Changing stories should reset iframe scroll position to top"
**Describe the bug**
When a user changes stories the iframe scroll position is not reset. If you scroll halfway down a page and change the story you will still be at the same scroll position in the new story.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [AboutScreen:new version required](http://localhost:9011/?path=/story/ui-settings-aboutscreen--new-version-required) in the off

[2019-02-15 02:08] leoyli commented on #5533
@tmeasday Here gives me some confusions, does any reason we don't want the URL keep the query parameter?! Ideally, I would like to share the URL to other people, let's say for designer. That would be super useful for our communication.

The biggest reason for me to have query in URL is for testing.  I have add-on work for this (e.g. `&themes=dark&languages=english`), this gives us the ability to m

[2019-02-15 02:08] nguyentuandat commented on #5183
I changed version from `2.1.2` to `2.1.5` then it resolved

[2019-02-15 02:19] tmeasday commented on #5592
I think the issue is more widespread than that. In general it doesn't seem to update (some rare times it does)

[2019-02-15 02:23] tmeasday commented on #5590
The issue is the use of `new URL()` as a `location`: https://github.com/storybooks/storybook/commit/93b84c18e5626a83c1394468cebf19313d62157a

[2019-02-15 02:30] tmeasday commented on #5533
I think there is a tension here with URLs becoming hideous and unreadable. Potentially there is still an argument for specific addons to write to the URL, maybe we should support that via `setQueryParam` or even `.setState(.., { persistence: 'url' })`.

@ndelangen I think was the driver of removing this from the URL. I am interested to hear his thoughts.

[2019-02-15 02:39] tmeasday commented on #5590
Fixed in https://github.com/storybooks/storybook/pull/5599

[2019-02-15 02:41] tmeasday commented on #5518
This is way better now. One remaining issue (documented above)

[2019-02-15 02:45] tmeasday commented on #5518
@ndelangen I think you are on top of this stuff but I am happy to take a look if you like.

[2019-02-15 02:55] tmeasday commented on #5423
Not seeing this anymore (`beta.3`). Let me know if I am wrong

[2019-02-15 02:56] #5423 closed

[2019-02-15 02:56] #5427 closed

[2019-02-15 02:58] tmeasday opened #5600 "Prop warnings from dependencies"
**Describe the bug**

React v 15.8 has become very noisy with errors of the form "Unknown event handler property `onVisibilityChange`. It will be ignored".

That's all very well but in some cases it is our dependencies that are doing this. Sadly this problem comes through to users of Storybook.

Not quite sure if there is some workaround here (apart from PR-ing our dependencies of course). Let's c

[2019-02-15 03:03] tmeasday commented on #5510
🙏 @titouancreach

You know it is interesting, I defaulted to installing via `yarn` and your repro worked fined. Then I saw you had a `package-lock.json`, installed via `npm`, and it failed. A bit of a hint I think 😉

[2019-02-15 03:08] tmeasday commented on #5510
Aha! I knew this would come to bite us! The issue is you have put in `^5.0.0-beta.3` in your `package.json` but a while back @shilman released a `5.0.0-debug.3` (which matches that specifier sadly).

If you change to an exact match (`5.0.0.beta.3`) it'll work fine.

Sorry about this!

[2019-02-15 03:08] #5510 closed

[2019-02-15 03:12] tmeasday commented on #5577
False alarm. This was due to the `5.0.0-debug.3` version hanging about. If you fix the version, it works fine:

<img width="320" alt="image" src="https://user-images.githubusercontent.com/132554/52832232-c6ca1d00-312b-11e9-974b-ac57a2b4994d.png">

[2019-02-15 03:13] tmeasday commented on #5577
The root issue will be resolved as soon as we release rc, and promise never to release a debug version again ;)

[2019-02-15 03:13] #5577 closed

[2019-02-15 03:25] tmeasday opened #5602 "Warnings about `:first-child`"
Can we remove these by changing to `first-of-type` (as suggested)?

Can confirm that a search and replace does indeed remove the warning, with no obvious visual bugs 🤷‍♂️ .

[2019-02-15 03:25] tmeasday commented on #5600
Perhaps we should run the manager in prod mode?

[2019-02-15 03:31] tmeasday commented on #5544
Fixed in https://github.com/storybooks/storybook/pull/5603

[2019-02-15 05:39] tmeasday commented on #5382
This issue seems to be related to knobs -- is that what you're seeing @CodeByAlex?

I'm only seeing the error when browsing *away* from a story with a knobs decorator.

The error comes from this line: https://github.com/storybooks/storybook/blob/247dd6a35382f432a39166615fba4f3ba59add63/app/angular/src/client/preview/angular/helpers.ts#L74

I don't really know how knobs or angular work so I can onl

[2019-02-15 05:50] tmeasday commented on #5591
Fixed by https://github.com/storybooks/storybook/pull/5610

[2019-02-15 05:50] nitaking commented on #4839
@Gongreg
@shilman
Oh, exactly the same thing happened to me. And I agree.
If I have times, I'll fixed the readme and send PR.

[2019-02-15 06:05] tmeasday commented on #5594
I'm going to have a stab at doing this with `getDerivedStateFromProps`. Note that this will also solve part of https://github.com/storybooks/storybook/issues/5419. Will write more on the PR

[2019-02-15 06:22] tmeasday commented on #5594
(Not tonight though. @ndelangen if you want to take a stab, go for it). My plan is to lift the prop-dependent state out to make a fully controlled (i.e. stateless) `TreeWithSearch` or something (ala https://reactjs.org/blog/2018/06/07/you-probably-dont-need-derived-state.html) and a `TreeWithSearchState` which has something like:

[code]

I hope that makes some vague sense

[2019-02-15 07:22] techdragon opened #5611 "Support for data driven ember components via ember-data and mirage"
**Is your feature request related to a problem? Please describe.**
I already have model data factories for populating components with data during testing. So being required to implement another version of this data factory just to get automatic data into my components when rendering them in storybook. Don't make me repeat myself.

**Describe the solution you'd like**
Support for ember-data + ember

[2019-02-15 07:25] web-padawan commented on #5532
I can confirm these errors still appear with React 16.8.1 when using `@storybook/polymer`

[2019-02-15 07:27] mrmckeb commented on #5183
Yes, this is a good workaround for now @nguyentuandat, but only temporary until we work out how to handle this properly.

[2019-02-15 07:30] mrmckeb commented on #4764
I'm sorry guys, this is on me too - as I got caught up and haven't gotten back to refactoring that POC/PR.

We need a more reliable system here. Right now we have an issue that's kind of related to this, so once we get through that, I think we can talk more about a long-term solution here. https://github.com/facebook/create-react-app/issues/6398

I'll talk to the CRA team on this and see what idea

[2019-02-15 07:48] mrmckeb commented on #5572
Hi @rgranger, which versions were you previously on? I can take a look to see what might have affected this.

[2019-02-15 08:31] rgranger commented on #5572
Previously, I was on :
@storybook/react 3.2.12 (and same for the addons)
webpack 3.5.5

[2019-02-15 08:35] shilman commented on #5334
Whoopee!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-beta.4 containing PR #5573 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-02-15 08:35] shilman commented on #5422
Yowza!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-beta.4 containing PR #5601 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-15 08:35] shilman commented on #5472
Yee-haw!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-beta.4 containing PR #5498 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-15 08:35] #5422 closed

[2019-02-15 08:51] titouancreach commented on #5510
Nice, I was wondering why storybook show "5.0.0-debug-3" in the console!  Thank :)

[2019-02-15 09:16] Undistraction opened #5613 "SVG imports are undefined"
**Describe the bug**
When I import SVGs into storybook, the imports are undefined.

**To Reproduce**

[code]

**Expected behavior**
The SVG should be imported successfully.

**Code snippets**
If applicable, add code samples to help explain your problem.

**System:**
 - OS: OSX
 - Device: Macbook Pro 2018
 - Browser: N/A
 - Framework: N/A
 - Addons: Not relevant
 - Version:  `"@storybook/react": "^

[2019-02-15 10:52] sidhusubhash commented on #3843
create .babelrc inside storybook directory and paste the following in it.
{
"presets": ["module:metro-react-native-babel-preset"],
}
hope this helps..

[2019-02-15 15:08] RPlaha0390 opened #5614 "universal_cookie_1.default is not a constructor"
**universal_cookie_1.default is not a constructor**

I have a typescript, next.js, react application. After updating some packages. Storybook is now moaning with this type error `universal_cookie_1.default is not a constructor`. I can get it fixed by following this [article](https://stackoverflow.com/questions/47631459/universalcookie-cookies-is-not-a-constructor-error-in-reactjs/49932028#49932028

[2019-02-15 15:52] CodeByAlex opened #5615 "Broken build - Cannot find module 'babel-preset-env'"
**Describe the bug**
Getting error: Cannot find module 'babel-preset-env' when upgrading from beta.3 to beta.5

**To Reproduce**
Steps to reproduce the behavior:
1. Update to Beta .4,
2. run npm install
3. start storybook

**Expected behavior**
Start up storybook without breaking

**Screenshots**
![image](https://user-images.githubusercontent.com/29763590/52867900-fbc87680-310f-11e9-8fcf-3d01a235a

[2019-02-15 16:02] stubar opened #5616 "addon-knobs select knob with list of functions"
**Describe the bug**
I have a component that is passed a function as a prop that determines how the component behaves under certain CSS breakpoints.  There is a finite list of functions that can be passed, one for each site breakpoint in fact.  When I pass an object of functions they are not rendered in the dropdown
**To Reproduce**
Steps to reproduce the behavior:
1. Create a select knob for a pr

[2019-02-15 16:07] c-moss-talk commented on #5613
Works fine for me, but I used create-react-app which adds `"react-scripts": "2.1.3",` (at least for me running 5.0). Check that that's in your dependencies as >2.0 per [this](https://facebook.github.io/create-react-app/docs/adding-images-fonts-and-files#adding-svgs)
The slow start guide doesn't mention anything about the scripts version in case you're adding to an old react project, it might be wo

[2019-02-15 16:29] butch-livly commented on #5077
In case someone else comes here having problems with the latest storybook combined with react-scripts < 2.1.2 on windows, @simonbuchan pointed out in the PR that this fix is incompatible with the aforementioned combination, but simply upgrading react-scripts should fix your problem.

[2019-02-15 16:34] CodeByAlex commented on #5382
@tmeasday I just removed the knobs addon from addon.js and I'm still seeing the error appear as seen below:
![image](https://user-images.githubusercontent.com/29763590/52870316-911a3980-3115-11e9-87cb-4e7c68c47c1f.png)
![image](https://user-images.githubusercontent.com/29763590/52870349-a55e3680-3115-11e9-9c12-8074e6c58868.png)

[2019-02-15 17:20] Hypnosphi commented on #5472
It turned out that fix from #5498 doesn't work because `safe-eval` has arrow function in the injected code: https://github.com/hacksparrow/safe-eval/blob/master/index.js#L11. This is inside a string so it doesn't get transpiled by Babel. The package's docs say that it should be used only in Node. I've opened an issue for telejson https://github.com/storybooks/telejson/issues/4

[2019-02-15 17:50] Hypnosphi commented on #5472
To reproduce the issue, you need to set a theme (e.g. `setOptions({ theme: themes.dark })`), and open Accessibility addon panel in IE11

[2019-02-15 18:44] domyen commented on #5602
Removed it in the UI.

[2019-02-15 18:45] CodeByAlex commented on #5382
I removed all addons and I still get the error in the console when switching between components so I don't believe that it has to do with knobs specifically:

![image](https://user-images.githubusercontent.com/29763590/52877428-f119db80-3127-11e9-977d-f9f623eb848e.png)

![image](https://user-images.githubusercontent.com/29763590/52877358-be6fe300-3127-11e9-9356-57a233d801bd.png)

[2019-02-15 22:51] chris-fran opened #5618 "Storyshoot puppeteer can't find a reference to the iFrame where components are rendered"
**Describe the bug**
I want to stop animations of my loader components so that my image snapshot tests don't fail because the spinner looks different everytime.

None of these work:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. use code above in the `beforeScreenshot` function

**Expected behavior**
I should get a reference to the `<iframe id="storybook-preview-iframe">`

[2019-02-15 23:40] tmeasday commented on #5615
Thanks @CodeByAlex. I think @Hypnosphi is all over it: https://github.com/storybooks/storybook/pull/5617

For now you could probably just add that dependency if you want to keep going.

[2019-02-15 23:51] tmeasday commented on #5382
@CodeByAlex turning off the addon on the manager side (what you've done there) isn't going to change the behaviour on the preview side (where the stories run).

To disable knobs in the preview, remove the `withKnobs` decorator. When i do that, I see some other errors, but the above error is gone and the stories change as I browse around.

[2019-02-15 23:58] MmtBkn opened #5619 "Angular named output getting ignored"
**Describe the bug**
Let's say we have following component;
`<button *ngIf="onClick.observers.length" (click)="onClick.emit($event)">Say Hello</button>`

And it has following meta;
`@Output('onClickk') onClick = new EventEmitter<String>();`

And following story;
[code]

As you can see, onClickk is passed, but button is not visible on result.

**Expected behavior**
Button should be visible since on

[2019-02-16 00:00] domyen opened #5620 "When Storybook is loading there is a "no stories message""
**Describe the bug**
When Storybook is initially loading a "no stories" message appears for some time. Sometimes between 100ms and 1000ms depending on the size of your Storybook. This makes Storybook feel slow and sluggish.

**To Reproduce**
Steps to reproduce the behavior:
1. Refresh Storybook
2. See the "no stories" message
3. See that the stories populate the sidebar sometime after

**Expected

[2019-02-16 00:19] tmeasday opened #5621 "Version check should ensure we aren't on a newer version"
We should use semver to check the version is actually newer.

[2019-02-16 00:31] tmeasday commented on #5594
Ignore the above comment I got this in a slightly different way

[2019-02-16 03:10] leoyli opened #5622 "Move show info button to the tooltip (addon-info)"
**Is your feature request related to a problem? Please describe.**
The top-right corner is occupied by the "show info" button, which is kind of annoying in some situation.

**Describe the solution you'd like**
It would be nice if we can move "show info" button into the tooltip.

**Describe alternatives you've considered**
N/A

**Are you able to assist bring the feature to reality?**
I think I may

[2019-02-16 03:15] tmeasday opened #5623 "Keyboard controls for treeview not working"
I'm not quite sure what the UX is supposed to be (how do you focus the treeview, what does the focussed element look like?) but although I think the code is correct, the treeview keydown events don't do anything.

[2019-02-16 03:17] leoyli opened #5624 "Add colour picker in addon-backgrounds"
**Is your feature request related to a problem? Please describe.**
If work in CDD approach, sometimes we may want to quickly change the iframe background colour. It is tedious to add colour definition in to a story just to see the colour each time...

**Describe the solution you'd like**
Add a colour picker or at least a field that accept colour name.

**Describe alternatives you've considered**
N

[2019-02-16 03:20] tmeasday commented on #5594
=> https://github.com/storybooks/storybook/pull/5625

[2019-02-16 04:19] leoyli commented on #5600
Yes, this buggy me too. I think it is okay to have Storybook run in the prod mode but will it bring problems? This I wasn't sure. Or maybe fire a PR there so it got solved...?!

[2019-02-16 04:22] leoyli commented on #5597
But I think they are nice to have, at least it is clear to me what kind of add-on are grouped...?!

[2019-02-16 06:11] tmeasday commented on #5600
I’ll send a PR to popper

[2019-02-16 09:27] quirimmo opened #5627 "Cannot find module 'react-scripts\config\webpack.config.js'"
**Describe the bug**
When executing `start-storybook -p 9009 -s public` I get the following error:

If I go inside the `react-scripts\config` folder, actually that file is not there.
But there are two config files:

`webpack.config.dev.js`
`webpack.config.prod.js`

Opening your source file inside `node_modules` subfolder:

`node_modules\@storybook\react\src\server\cra-config.js`

at line 81, there

[2019-02-16 14:20] mrmckeb commented on #5440
CONGRATULATIONS ;) And don't worry, we'll see if someone else can pick this up.

[2019-02-16 15:00] c-moss-talk commented on #5616
There's a way you can accomplish this:
[code]
It would be nice to display function signatures though. It's common to have function props so I'd like to work toward a way to support them as their own knob type; however, my search hasn't found much in the issues.

[2019-02-16 15:28] c-moss-talk commented on #5627
`If I go inside the `react-scripts\config` folder, actually that file is not there.`

`webpack.config.js` should be there. I would focus on why it's not.

[2019-02-16 16:28] shilman commented on #5615
Yowza!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.1 that addresses this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-16 16:28] #5615 closed

[2019-02-16 18:11] quirimmo commented on #5627
@c-moss-talk

There is a chunk of code which says "if the file is not there, fallback to another one" and the file is there... and I should focus on why there is not the fallback file?

I will try a new fresh install of CRA and see if the file is there, but `react-scripts` seems to work without any issue. If there was a missing file, maybe I should have noticed some error.

[2019-02-16 18:18] ximxim commented on #5543
Looking forward to having this addon work with React.

[2019-02-16 18:32] quirimmo commented on #5627
It looks like with new projects, that file is there. Closing the issue then.

[2019-02-16 18:32] #5627 closed

[2019-02-17 01:48] leoyli commented on #5532
Okay, things get worse.  If i upgrade to React 16.8.1, the same problem comes up again.  I guess the React user have to use the same version of storybook in V5 before this bug being fixed...

[2019-02-17 03:00] tmeasday commented on #5532
@leoyli et al can you check if two versions of `@storybook/theming` are installed?

[2019-02-17 03:14] leoyli commented on #5532
Guessing this wasn't the case?! I only have these dependencies in my package.json:

[code]

[2019-02-17 03:24] tmeasday commented on #5532
I mean inside node modules?

Tom
On 17 Feb 2019, 2:15 PM +1100, Leo Y. Li <notifications@github.com>, wrote:

[2019-02-17 03:27] leoyli commented on #5532
@tmeasday Oh man! you are right!  I completely remove and reclone my entire project then install it, it then delights me again.

[2019-02-17 03:29] leoyli commented on #5532
So I think the problem was what you mentioned in #5445 .

[2019-02-17 04:09] tmeasday commented on #5532
Yeah, looks it’s not great but I am not sure what else we can do about it :/

Tom
On 17 Feb 2019, 2:30 PM +1100, Leo Y. Li <notifications@github.com>, wrote:

[2019-02-17 07:01] #5590 closed

[2019-02-17 07:02] #5544 closed

[2019-02-17 07:22] shilman commented on #5543
@tmeasday @leoyli Might be this one?

https://github.com/storybooks/storybook/pull/5101

[2019-02-17 11:48] fo-fo opened #5628 "React Native Storybook is black on iOS"
**Describe the bug**
The React Native Storybook navigator is completely black on iOS. The menu items appear to exist (they react to clicks) but are not visible (black text on black background?). The story component is also visible on the right.

**To Reproduce**
Steps to reproduce the behavior:
1. Build a project with React Native storybook
2. Open the project in iOS simulator

**Expected behavior

[2019-02-17 15:15] nitaking commented on #4839
@Gongreg
@shilman
What do you think?
https://github.com/storybooks/storybook/pull/5629

I noticed that import is natural in other 'ondevice' packages ....
Should be unified so that it can be used with `*-ondevice-*` import?
[code]
[code]

[2019-02-17 16:48] web-padawan commented on #5600
Do I understand correctly that the warnings bellow are all related to this issue?

[code]

[code]

[code]

Also, are these warnings non-critical and will they appear in production mode?
Asking because they are very annoying, especially in case the users would see them too.

[2019-02-17 18:34] imakou commented on #1843
Want to know if storybook can display HTML code +1

[2019-02-17 19:26] leoyli commented on #5543
Sorry have no clues. I'm not really sure when it was fixed and have the chance to look very close into this addon...

[2019-02-17 21:13] rally25rs opened #5630 "withInfo shows <Undefined> in source for some elements"
**Describe the bug**

For certain components, the info Source will show `<Unknown>` for an element, and log the warning

[code]

**To Reproduce**
Steps to reproduce the behavior:

This seems to happen a lot with `react-bootstrap` components.

For example:

[code]

Results in the source

[code]

along with the error message

[code]

Additionally, if you try to pass this component to `propTablesExcl

[2019-02-17 21:21] #5614 closed

[2019-02-17 22:15] tkryskiewicz opened #5631 "display registered action handlers for active story"
**Is your feature request related to a problem? Please describe.**
For some components, I'm creating a `default` story with actions that are always available:
[code]
and then specialised stories for possible actions:
[code]
but without additional description or some guessing, there's no way to tell what actions are available.

**Describe the solution you'd like**
Would be great to have a list of a

[2019-02-17 23:17] tmeasday commented on #5600
Hey @web-padawan,

The middle one is. The other two are issues that still need to be resolved (I think the last one has been, see #5602). I'll sort out the first.

[2019-02-17 23:31] tmeasday commented on #5631
Hi @tkryskiewicz - I'm not quite sure what you are thinking here, but I'm not sure that is technically possible.

Can you explain a little more about the use case you are trying to serve here, perhaps we can come up with something? Are you thinking about documenting the component?

[2019-02-17 23:31] tmeasday commented on #5624
Sounds like a good feature idea @leoyli

[2019-02-17 23:34] tmeasday commented on #5622
Hey @leoyli - @shilman is working on a larger project to migrate the info addon to the addons panel - (here's a super old ticket about it: https://github.com/storybooks/storybook/issues/1147)

I'm not sure if it makes sense to put the button in the toolbar (is this what you mean?) vs a documentation pane (ala the notes addon in v5) vs a panel. Perhaps it makes sense to move this discussion there?

[2019-02-17 23:34] #5622 closed

[2019-02-18 00:59] leoyli commented on #5622
@tmeasday Thanks! Yes I mean the toolbar, I call it `tooltip` is because there is a component named as tooltip not toolbar...

[2019-02-18 01:21] tmeasday commented on #5532
Shall we close this? I'm not sure there is much we can do, beyond maybe #5445 or reporting a bug upstream to yarn/npm

[2019-02-18 01:21] #5532 closed

[2019-02-18 01:22] leoyli commented on #5532
Yes, I think then this issue should be closed...! Thank you!

[2019-02-18 01:33] tmeasday commented on #5620
@ndelangen do you think we can technically do this right now? Or do we need a new "`configure` ran" event to be able to distinguish between no stories and loading?

[2019-02-18 01:48] tmeasday commented on #5600
https://github.com/storybooks/storybook/pull/5635

[2019-02-18 01:57] tmeasday commented on #5600
Actually totally false accusations on `react-popper-tooltip`, it *was* us.

[2019-02-18 02:28] tmeasday commented on #5598
This has something to do with emotion. I don't quite know the mechanism, but it can be reproduced pretty easily with the following story:

[code]

Try opening the story in its own iframe and commenting the `<Div>` in and out. I see this when it is there:

<img width="153" alt="image" src="https://user-images.githubusercontent.com/132554/52924444-faea4b80-3380-11e9-8295-f1e82778a069.png">

(notice

[2019-02-18 02:28] tmeasday commented on #5598
Any ideas @ndelangen?

[2019-02-18 02:36] tmeasday commented on #5551
I added a link to one of our stories in the description

[2019-02-18 02:38] tmeasday commented on #5551
This is really a bug in `telejson` maybe? In any case I will leave it to you @ndelangen.

[2019-02-18 02:52] tmeasday commented on #5574
Hi @CodeByAlex - I'm no expert here, but in our story (http://localhost:9011/?path=/info/addons-notes--addon-notes-rendering-inline-github-flavored-markdown) we use:

[code]

and it works fine. Maybe this is what you are supposed to do? This is also the way it was written in v4: https://storybooks-official.netlify.com/?selectedKind=Addons%7CNotes&selectedStory=withNotes%20rendering%20inline%2C%20g

[2019-02-18 03:42] shilman commented on #5197
Confirmed and will investigate/fix

[2019-02-18 03:44] #5053 closed

[2019-02-18 03:44] #5116 closed

[2019-02-18 03:55] shilman commented on #5613
Confirmed, this should only be supported out of the box for CRA apps. We plan to update this post 5.0 release.

[2019-02-18 04:02] #5600 closed

[2019-02-18 04:05] #5591 closed

[2019-02-18 04:38] shilman commented on #5533
@leoyli We're addressing this in the knobs addon as follows:
1. When the user modifies knobs in the UI, the URL doesn't update
2. When the user hits the "copy URL" button in the knobs addon, it copies a big URL with query params in it
3. When the user pastes that big URL into the browser, the knobs addon copies those params out and updates its internal state

Would you be able to do something simi

[2019-02-18 06:48] imakou opened #5637 "How to individual page automatically and without Storybook UI?"
For example, if I view ```http://localhost:6006/banner.html``` by adding static folder option.
![image](https://user-images.githubusercontent.com/1507950/52932794-fa20cd80-331e-11e9-8c72-057ad9204f7b.png)

But if I make some change on the ```banner.html``` file.
The current situation doesn't hot-reload.

BUT! the page will be reloaded with StoryBook UI. e.g. ```localhost:6006```.
![image](https://

[2019-02-18 07:15] shilman opened #5639 "Handle prerelease versions in version check"
Follow-on to #5621

When the user is running a prerelease version, version check should see if there is a newer release version or prerelease version.

[2019-02-18 07:43] hopewise opened #5640 "Storybook not working with a symlink for source file"
**Describe the bug**
I am trying to use storybook with [react-rails](https://github.com/reactjs/react-rails) which is configured to store reactjs files at app/assets/javascripts/components.

The storybook project is outside the rails app, and have the files symlinked for files inside rails app at `app/assets/javascripts/components`

I got this error when starting storybook:

[code]
However, if I u

[2019-02-18 08:12] soulcm opened #5642 "Breakpoint not always working when change some code"
**Describe the bug**
I start storybook use `start-storybook` and set some breakpoints in chrome sources, first time it works fine, but when I changed the code and save, the `webpack` rebuild and the breakpoints become not working.

PS. I don't know which time happens when save code, but often happened. I also custom `devtool` in `webpack.config.js`, but not woking too.

**To Reproduce**
Steps to r

[2019-02-18 08:46] dfilatov commented on #5390
The bug is still reproduced

[2019-02-18 08:56] shilman commented on #5390
@dfilatov Can you make a PR with the fix?

[2019-02-18 09:43] ahmadalfy commented on #4796
Can confirm upgrading to storyboard 5.0.0-RC1 fixed it

[2019-02-18 10:17] Rolandisimo commented on #4796
Also, ran into an issue throwing `Uncaught TypeError: Object(...) is not a function`.
Have a CRA2 build. Nothing worked until I tried the 5.0.0-alpha version of @storybook/react.

Thanks!

[2019-02-18 10:39] AgaAgnieszkaBorcz commented on #1100
Hello. What license is your logo falling under? Can be used commercially? For example stickers?>>> thank you

[2019-02-18 11:15] Undistraction commented on #5613
Not using create-react-app explicitly. Managed to get this working with custom webpack config and manually installing `@svgr/webpack`.

[2019-02-18 11:22] Rolandisimo opened #5645 "Storybook v4 addons break storybook v5"
**UPDATE**
Seems related to https://github.com/storybooks/storybook/issues/4525
<hr />

**Describe the bug**
`"@storybook/react": "^4.1.12"` causes storybook not being able to run with the current CRA2 project causing `Uncaught TypeError: Object(...) is not a function`.

✅ Below is a dependency list that **worked for the ongoing project and a clean CRA2 app if addons are not registered:**
[code]

[2019-02-18 11:51] ahmadalfy commented on #4796
@Rolandisimo better than using `alpha` you can use [5.0.0-RC1](https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.1)

[2019-02-18 12:31] Rolandisimo commented on #4796
@ahmadalfy Fails with any 4.x.x storybook/addon I've tried.
Reference issue: https://github.com/storybooks/storybook/issues/5645

[2019-02-18 12:32] shilman commented on #5592
This is an issue with the Storybook syntax highlighter component.

The problem is fixed when I edit `storysource/src/StoryPanel.js` and replace:

[code]

With:

[code]

However, we lose some functionality in the process.

At any rate there is no generic problem with addons. I think they just haven't been tested since the upgrade and are full of bugs.

[2019-02-18 12:41] shilman commented on #5645
@Rolandisimo v4 addons are not intended to be used with v5 -- that's why we're releasing this as 5.0.0 and not 4.2.0 (see https://semver.org/). Is there a reason you don't want to upgrade the addons as well?

[2019-02-18 12:46] shilman commented on #5613
Glad to hear it. We'll try to make that a lot easier sometime soon.

[2019-02-18 12:46] #5613 closed

[2019-02-18 12:50] shilman commented on #5543
@igor-borisov Do you know whether your work in #5101 would also fix this addon for 4.x?

[2019-02-18 12:56] shilman commented on #4839
@nitaking Thanks for fixing this! What do you mean by unified though?

[2019-02-18 12:57] Rolandisimo commented on #5645
@shilman I actually honestly searched for add-ons v5 but couldn't find them. Which made me suspicious, of course. My bad.

Could you provide a link possibly to a release?

Thanks!

[2019-02-18 12:58] shilman commented on #5378
cc @Gongreg

[2019-02-18 12:58] shilman commented on #5628
Cc @Gongreg

[2019-02-18 13:00] shilman commented on #5616
@c-moss-talk I think this is a good workaround. Happy to review a PR if you want to build something like this, though it feels like an edge case to me tbh.

[2019-02-18 13:02] Gongreg commented on #5628
Duplicate of #5377

[2019-02-18 13:02] #5628 closed

[2019-02-18 13:05] stubar commented on #5616
@c-moss-talk this is a good idea, my work around involved a wrapper div with a render prop but I think this is neater.

[2019-02-18 13:36] Rolandisimo commented on #5645
Found it https://github.com/storybooks/storybook/tree/next/addons
Now everything works like a charm on v5.

Thanks @shilman
Sorry for bothering

[2019-02-18 14:00] ohadinho opened #5647 "No stories are shown when using Angular 7"
**Describe the bug**
Storybook is loaded successfully (I'm using Angular 7) but in dashboard this message is displayed:
"Sorry, but you either have no stories or none are selected somehow.".
I DO have stories under `src\stories`.
When typing garbage in `index.stories.ts` I DO get an error in dashboard (that means the file is compiled and read by storybook lib).

**To Reproduce**
Configure storyboo

[2019-02-18 14:15] johot opened #5648 "Importing css with global styles changes the Storybook UI, workaround?"
We are using Storybook together with Create-React-App + TypeScript (sample repo: https://github.com/johot/storybook4-cra2-typescript-react-docgen-typescript-demo).

Now in our component library we import a regular `.css` stylesheet with some global styles like `h1,h2,h3,h4` etc.

We import it by just doing:
`import './styles.css'` from our components.

Now when previewing our components in Storybo

[2019-02-18 14:41] chris-fran commented on #5618
Trying once again with
[code]

After 3 days worked. Seems like the universe didn't want for me to go home early last friday, that was the problem...

[2019-02-18 14:41] #5618 closed

[2019-02-18 15:00] tkryskiewicz commented on #5631
Hi @tmeasday,

I think we can simplify things quite a bit here. Let's say we have a story for `Component` with a `Click` action handler registered.

[code]

When we open this story, without additional description or addons like Storysource, we have no idea that we should be able to click and execute this handler (there's nothing in the UI that tells that).

It would be great to see a list of actio

[2019-02-18 15:16] shilman commented on #5631
@tkryskiewicz Nice idea! I'm also not sure whether it's possible, but it would be cool/useful if we could make it happen!

[2019-02-18 15:19] shilman commented on #5616
Closing for now, feel free to re-open for more discussion!

[2019-02-18 15:19] #5616 closed

[2019-02-18 15:25] shilman commented on #5645
No worries, good luck!

[2019-02-18 15:25] #5645 closed

[2019-02-18 15:26] shilman commented on #1100
cc @domyen

[2019-02-18 15:44] CodeByAlex commented on #5647
Which version of storybook are you using?

[2019-02-18 16:27] domyen commented on #1100
I made the new logo. The source is under the MIT license just like the rest of the code. So I think it's fine if you want to make stickers/merch.

That said, I have a similar opinion of @keithamus [here](https://github.com/chaijs/chai/issues/1233#issuecomment-464046033). Good luck!

[2019-02-18 17:03] domyen commented on #5597
Each icon already represents discrete functionality - they don't need to be further separated from other icons to achieve that.

So they end up occupying more horizontal space yet don't communicating anything new.

[2019-02-18 20:43] gaetanmaisse commented on #5382
It looks like the bug is caused by too many calls to `render` function from `storybook/angular`. And some of this calls are due to `STORY_CHANGED` event listener set [here](https://github.com/storybooks/storybook/blob/next/addons/knobs/src/registerKnobs.js#L58) in knob addon. Each time a story changed knob send a message to force a rerendering, but SB core is already doing the same thing so we ren

[2019-02-18 21:07] robtarr opened #5651 "Issue with Webpack and multiple `node_modules` folders."
**Describe the bug**
Using Lerna, each of my modules has it's own `node_modules` folder. When Webpack bundles `moment` (and other dependencies) from `packages/moduleName/node_modules` it does not get bundled correctly. This results in
[code]
**Expected behavior**
I expect `moment.js` to be bundled correctly and not throw errors.

**Code snippets**
I have put together a repo top show this problem.

[2019-02-18 21:44] b0g3r commented on #4947
Why I should remove all of my global decorators for stable work of re-rendering with knobs changing?

I have a simple decorator like
[code]
for vuetify support, but it broke knobs re-render:
[code]

[2019-02-18 21:51] domyen opened #5652 "Mobile styling"
**Describe the bug**
Mobile styling requires improvement. (see expected behavior)

**To Reproduce**
Steps to reproduce the behavior:
1. Shrink screen width to mobile size
2. Click on "nav" or "panel"
3. See that the bottom bar is incorrect color, and the addons panel has an incorrect backgrounds

**Expected behavior**
- [X]  Bottom bar should have the same background as the `Toolbar`
- [x] Addons

[2019-02-18 22:04] nickdandakis commented on #4947
@b0g3r, you could try to use v4.2.0-alpha.6 or newer (as per #5048) to see if that fixes your global decorator issue.

[2019-02-18 22:32] leoyli commented on #5533
@shilman, I see what you are saying here. I believe I would be able to do the same if the query is shared internally among other addons (just need to avoid the naming collisions).

[2019-02-19 00:15] SachaG commented on #1100
I made the old logo (can't wait to see the new one!) and I agree with @domyen

[2019-02-19 00:56] shilman commented on #4947
@nickdandakis @b0g3r We're in 5.0 RC mode right now -- would love your feedback if it's working for you so we can get out a stable 5.0 ASAP. Thanks!

[2019-02-19 03:08] shilman commented on #5309
cc @Gongreg

[2019-02-19 03:09] shilman commented on #5652
@domyen Is this a bug or a feature request?

[2019-02-19 06:07] #4978 closed

[2019-02-19 06:07] #4990 closed

[2019-02-19 06:07] #5001 closed

[2019-02-19 06:07] #5008 closed

[2019-02-19 06:07] #4886 closed

[2019-02-19 06:07] #5110 closed

[2019-02-19 06:19] hc-12 opened #5663 "5.0.0-rc.1 typography of undefined, empty theme object"
**Describe the bug**
Getting an empty screen with the following error:

[code]

Whole stack can be seen in screenshot.

I suspect that the theme object has been passed on by the theme provider.
I'm not using any addons.

**Expected behavior**
Not to crash?

**Screenshots**
![screen shot 2019-02-19 at 5 12 54 pm](https://user-images.githubusercontent.com/17104732/52993867-c7372080-3469-11e9-83cf-cc

[2019-02-19 06:30] shilman commented on #5663
@hc-12 Thanks for the bug report. Can you tell me more about what kind of project you're running it in? Are you using a theme or just the default? Any repo you can share?

[2019-02-19 06:31] shilman commented on #5663
cc @domyen @ndelangen

[2019-02-19 06:32] shilman commented on #5110
@JustFly1984 FYI we're in 5.0-RC right now. Please check out the latest on the `next` NPM tag

[2019-02-19 07:31] shilman commented on #5197
Zoinks!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.2 containing PR #5644 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-19 07:31] shilman commented on #5419
Ooh-la-la!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.2 containing PR #5625 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-19 07:31] shilman commented on #5591
Boo-yah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.2 containing PR #5610 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-02-19 07:31] shilman commented on #5594
Whoopee!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.2 containing PR #5625 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-19 07:31] shilman commented on #5595
Boo-yah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.2 containing PR #5646 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-19 07:31] shilman commented on #5600
Huzzah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.2 containing PR #5635 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-02-19 07:31] shilman commented on #5621
w00t!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.2 containing PR #5638 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-19 07:31] shilman commented on #5639
w00t!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.2 containing PR #5641 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-19 07:31] #5595 closed

[2019-02-19 07:31] #5639 closed

[2019-02-19 07:31] #5594 closed

[2019-02-19 07:31] #5621 closed

[2019-02-19 07:39] ohadinho commented on #5647
@CodeByAlex  I'm using version 4.1.11 (I've edited the original question).

[2019-02-19 07:42] ohadinho commented on #5647
@CodeByAlex I'm using 4.1.11. I've edited the original question.

[2019-02-19 07:55] Gongreg commented on #5309
@shilman, IIRC this is because of core-js version mismatch. React Native uses v1 while storybook expects v2. Do you have any suggestions for it?

[2019-02-19 08:36] igor-borisov commented on #5543
@shilman yup it should fix, at least you can set context for a11y checking.

[2019-02-19 09:21] #5547 closed

[2019-02-19 09:42] shilman commented on #5309
Then hopefully this will be fixed by #4942 -- adding it to the list

[2019-02-19 09:44] Rolandisimo opened #5665 "withOptions doesn't affect Storybook v5"
**Describe the bug**
Adding addon-options decorator has no effect on the storybook

**To Reproduce**
Steps to reproduce the behavior:
1. Create a CRA2
2. Add v5 addons and storybook/react (`5.0.0-beta.3 for addons` and `5.0.0-rc.1 for storybook/react`)
3. Add `addDecorator(withOptions({ name: "FooBar", ... }))`
4. Observe

**Expected behavior**
Options change as they do in Storybook v4

**Code sni

[2019-02-19 09:46] shilman commented on #5543
Ok I'll figure this out if I have time or if the 5.0 release looks like it will be delayed beyond first week of March

[2019-02-19 10:09] teebszet commented on #2817
Is this in the docs?

[2019-02-19 10:10] teebszet commented on #2817
Is this (should this be) in the docs?

[2019-02-19 10:11] shilman opened #5666 "Keyboard shortcuts reversed for Sidebar and Addons panels in 5.0.0-rc.2"
@domyen Not sure if this is a design issue or implementation bugs, but it seems like the keyboard shortcuts for Addons/Sidebar panels are reversed? LMK

<img width="221" alt="welcome_-_to_storybook_ _storybook" src="https://user-images.githubusercontent.com/488689/53007162-a70b5f80-3471-11e9-94e6-e5409fbf36bb.png">

[2019-02-19 10:29] tmeasday commented on #5665
@shilman - I think the new recommended API is:

[code]

But we should definitely keep back-compat, perhaps with a deprecation warning, and do we need to update the dos/migration guide too?

[2019-02-19 10:29] shilman commented on #5665
Thanks so much, this is a great bug! I'm able to reproduce and will fix.

Here are some notes:

The addon is receiving the event as expected. However the call to `api.setOptions` inside the addon is apparently failing in v5. Looking into this now and hopefully will be an easy fix.

Also, here are some side comments to you @Rolandisimo:

1. You should generally use the same version of Storybook pac

[2019-02-19 10:36] Rolandisimo commented on #5665
@shilman Thanks a bunch for looking into this.

Regarding the comments:
1. You're absolutely right. Will note that. However, that felt like an easy inconsistency to run into. Thus, if this is important, I believe it should somehow be stressed more visibly to any newcomer. _(especially newcomer)_
2. Yes, a discrepancy I noticed several times. For example, here https://www.npmjs.com/package/@storybo

[2019-02-19 10:49] hc-12 commented on #5663
Thanks for the reply.

The setup has no custom config and no themes. I even commented out loading of stories. I wasn't entirely sure whether you need `@storybook/theming`. I did both with and without `@storybook/theming` seem to have made no difference.

[2019-02-19 11:18] ndelangen commented on #5592
I'm on it

[2019-02-19 11:30] shilman commented on #5421
w00t!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.3 containing PR #5650 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-19 11:31] shilman commented on #5421
cc @domyen Still more to do here?

[2019-02-19 11:42] AgaAgnieszkaBorcz commented on #1100
Great thank you Guys!

[2019-02-19 11:46] shilman commented on #5663
@hc-12 I just released a new version with a ton of styling fixes that somehow didn't get released earlier. Mind giving it a try and see if it fixes the problem? If not, we can dig in further.

https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.3

Many thanks!

[2019-02-19 11:47] shilman opened #5667 "versions.json not deployed correctly"
https://storybook.js.org/versions.json

Should contain the latest `versions.json` that I uploaded in `master`, but instead contains the auto-generated one.

[2019-02-19 14:37] phaistonian opened #5668 "Cast event when switching stories"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Either enable passing a handler or casting an event on window, e.g `storyChanged` when the story changes.

**Are you able to assist bring the feature to reality?**
Yes, if I get the time

[2019-02-19 15:40] Kailaash-Balachandran opened #5670 "Error: UnhandledPromiseRejectionWarning in 5.0 RC3"
**Description**
While building Storybook for Vue, I get the following error

[code]
**Package**

Webpack: v4.29.5
Storybook: v5.0.0-rc.3

[2019-02-19 16:37] domyen commented on #5421
Yea, the three styling bugs are still open. Will try to fix them today or tomorrow.

[2019-02-19 16:55] domyen commented on #5665
@Rolandisimo

_Note: This is only about the theme, not the other configurable things in the option addon_

In 5.0, `name` is not configurable via the options addon. If you want to adjust the Storybook `name`, as it appears in the top left corner of the UI, take a look at using `brand` via a theme file. This allows you complete control to pass an svg(use template literals) or a string.

https://git

[2019-02-19 17:02] domyen commented on #5666
I'm in favor of switching the keyboard shortcuts if there are no objections. They pre-date my work on the UI.

I don't know the exact history of why those keyboard shortcuts were chosen. Probably something to do with the original presentational names of the Sidebar (nav/explorer) and Addons (panel). cc @ndelangen.

[2019-02-19 17:06] domyen commented on #5602
This shipped in 5.0.0 rc3 PR #5650

[2019-02-19 17:06] #5602 closed

[2019-02-19 17:28] domyen opened #5671 "Update Storybook options documentation in addons/options and the main docs"
**Describe the bug**
Some options are no longer supported in 5.0. What's more, the `addParameters` API from `@storybook/yourframework` obviates the need for having the addon afaict.

If the [options addon](https://github.com/storybooks/storybook/tree/next/addons/options#set-options-globally) is deprecated, let's remove it or add messaging to direct folks to the right place.

**Expected behavior**

[2019-02-19 17:32] ken0x0a commented on #5049
@dakom Thank you!! your solution works 🗡

[2019-02-19 19:54] joanferns00 commented on #3024
I'm facing the same issue when trying to resolve a custom module to work with storybook and Angular6.

const path = require("path");

module.exports = (storybookBaseConfig) => {
    storybookBaseConfig.resolve={
        ...storybookBaseConfig.resolve,
         alias: {
          ...storybookBaseConfig.resolve.alias,
          'vc-xyz-lib' : '/Users/user1/Documents/github/my-app/externals/js-xyz-sd

[2019-02-19 19:56] ndelangen commented on #1100
@AgaAgnieszkaBorcz
If you can show me a PR you made that got merged, I'll send you a bunch of stickers personally!

[2019-02-19 20:10] B3zo0 commented on #5670
probably there is an error in your webpack config. you can see the error message with a little hack
add this to `/node_modules/@storybook/core/dist/server/build-dev.js`
[code]
after line 341, this way you can see the actual error.

[2019-02-19 20:25] B3zo0 commented on #5663
I think this is related to #5532. For me it was caused by multiple `@storybook/theming` package. Because I work with a monorepo yarn hoisted some `@storybook` package but it also added some in the package's directory. I've added nohoist option to the root package.json like this:
[code]

[2019-02-19 20:31] tkryskiewicz commented on #5631
Thanks @shilman!

Looks like this should be possible, would require to:
- add an event for action handler registration
- emit such event when calling `action()`
- handle that event in `ActionLogger` container (add to list)
- present a list of registered handlers in `ActionLogger` component
- clear list when switching story

Solution seems simple, but there are a couple of problems I've encountered

[2019-02-19 20:44] seanmcintyre commented on #5670
`Cannot read property 'rules' of undefined`

`config.modules.rules` is undefined?

This seems to contradict the migration instructions:
https://github.com/storybooks/storybook/blob/next/MIGRATION.md#from-version-41x-to-50x

[2019-02-19 20:46] seanmcintyre commented on #5670
It's a typo.

`config.modules` should be `config.module`

@Kailaash-Balachandran

[2019-02-19 22:22] tmeasday commented on #5665
Can we get back-compat on this or is it too hard @domyen?

[2019-02-19 22:23] tmeasday commented on #5671
Yes, this is exactly right. We should keep `withOptions` (deprecated) for this major, and if there are options that are no longer supported it's a chance to warn people that they have no effect.

[2019-02-19 22:35] tmeasday commented on #5631
The problem is you don't have to call `action` inside the story function. I guess you could make it a requirement to use this feature.

[2019-02-19 22:48] tmeasday commented on #5651
Hi @robtarr - using lerna is nothing strange, in fact the storybook monorepo uses it as do many other projects.

This seems like a webpack configuration problem. Have you tried without your custom webpack config? I would hazard a guess it is leading to the issue.

[2019-02-19 22:59] tmeasday commented on #5670
Assuming @seanmcintyre and @Kailaash-Balachandran are looking at the same codebase I think we can close this? LMK if not ;)

[2019-02-19 22:59] #5670 closed

[2019-02-19 23:05] ozzyogkush commented on #4945
This is still a problem for my org... please advise!

[2019-02-19 23:11] ozzyogkush commented on #5648
I dunno if it's related, but #4945 has similar issues with the iframe retaining styles between switching stories. CSS rules added to an iframe definitely should not affect the containing DOM.

[2019-02-20 00:41] domyen commented on #5665
@tmeasday We can, but I'm not sure passing `name` and `url` via params is an API we want to support in the future.

Building this into the UI logic results in at least 6 permutations of the brand area (top left) to test and maintain. The new `brand` is intended to be open ended to avoid this.

@Hypnosphi had some good [feedback](https://github.com/storybooks/storybook/commit/387959d67560437f5299a9

[2019-02-20 00:44] guastallaigor commented on #4475
Happening with me as well when I run ` build-storybook -o dist/storybook`.
Ubuntu: 18.04.
Node: v11.6.0.
npm: 6.7.0.

[code]

Any workarounds?

[2019-02-20 01:10] robtarr commented on #5651
I get the exact same results without my webpack config file.

[2019-02-20 01:18] hc-12 commented on #5663
@shilman I will give a crack!
@B3zo0 Definitely looks familiar, it could be the same error. I'm using `lerna` but currently not hoisting any dependencies.

[2019-02-20 01:41] ndelangen commented on #5666
I'm on it

[2019-02-20 02:43] tmeasday commented on #5665
Usually if we want to remove something we have a major release of deprecation (where we continue to support it but warn users about it). Not critical in this case but I would suggest better.

So now the only option is either the default or a custom component? I feel like it's a pretty common use case to just want to change the title, seems a pity to make this hard for people.

I think @Hypnosphi's

[2019-02-20 02:51] shilman commented on #5021
For anybody who's watching this issue, I think it's an issue with `@storybook/addon-a11y` that's been fixed in v5.0 which is currently in RC. Please upgrade to get the fix, and we'll have a stable 5.0 out soon.

See also: https://github.com/storybooks/storybook/issues/5543#issuecomment-465061397

[2019-02-20 02:55] shilman commented on #5648
FYI the info addon is being deprecated and moved into an addons panel in v5. That's probably what's picking up the styles and that's exactly why we're deprecating it.

https://github.com/storybooks/storybook/issues/1147

The issue is old, but it's at the top of my queue as soon as Storybook 5 is released in a couple weeks.

[2019-02-20 02:57] shilman commented on #4945
@ozzyogkush Have you looked at:

https://github.com/storybooks/storybook/tree/next/addons/cssresources

[2019-02-20 03:03] shilman commented on #5602
@domyen if you reference the issue in the first line of the PR where it says "Issue: " my script will close the issue and add a link to the release as a comment

[2019-02-20 03:59] tmeasday commented on #5651
Hey @robtarr, oh, I see the issue is because `moment` is being compiled by babel (it is not easy to debug this, but I think this is the second time I've seen this `exports` vs `__webpack_exports__` issue due to that).

You need to add your subproject's node modules to the exclude list for SB's babel loader, something like:

[code]

I don't know if there is a recommended/better way to do this. We s

[2019-02-20 06:19] ellioseven commented on #5572
@rgranger @mrmckeb

I managed to get HMR working by implementing the following into my webpack configuration:

[code]

This essentially ignores everything except anything inside `my-package-name`

[2019-02-20 07:33] sophister commented on #5051
same problem. open `http://localhost:9001/` just show me `Cannot GET /`. And I use the [guide-react](https://storybook.js.org/basics/guide-react/) to slow start.

`package.json` is:

[code]

directories are:

![image](https://user-images.githubusercontent.com/219501/53074016-9d8eff80-3524-11e9-9d01-f0122f20e350.png)

and `.storybook/config.js` is

![image](https://user-images.githubusercontent.com

[2019-02-20 09:37] tkryskiewicz commented on #5631
True. Right now I see this feature more as opt-in.

Given that you can emit an event from basically anywhere, other ways to register handlers should also be doable. One problem is, that if you create them with `actions()`, then clearing list during story re-rendering doesn't apply. The other one is that only a few might be applicable to the active story.

Also the naming is left up to the user. It

[2019-02-20 09:57] rgranger commented on #5572
I think i found the culprit : https://github.com/storybooks/storybook/blob/1dfb31f9b35c4ce099b30040a92aafdfedbe421a/lib/core/src/server/dev-server.js#L96

Is there any reason for not watching /node_modules/ by default ?

I have always been watching all the files in my projects (including node_modules), and I never have encountered any performance issue.

My biggest project is around 50 MB large (i

[2019-02-20 10:10] Rolandisimo commented on #5665
I'm kinda on-board with @tmeasday regarding not liking over-complication of the simple action of changing a name of the storybook. My vote would be to be user-focused. It's not about a slick pipeline or 200ms faster compilation, but rather the ease of adoption of a tool. Maybe I'm missing the big picture, but these are my 2 cents.

[2019-02-20 11:15] ndelangen commented on #5651
https://github.com/storybooks/storybook/blob/20d4131ef6e6e9faa6e39f22cf6b847535c9f9a1/lib/core/src/server/common/babel-loader.js

I think this needs an exclude?

[2019-02-20 11:17] o-t-w commented on #4600
Would this work with LitElement or just Stencil?

[2019-02-20 11:37] ndelangen commented on #5051
I'll take a look what's going on

[2019-02-20 14:09] mrsufgi opened #5680 "addon-a11y detects addon-info violations"
**Describe the bug**

that's pretty funny but when I use both withInfo and withA11Y decorators globally together (in v5-rc.3)
the accessibility addon detects:

``Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds``

with the problematic class - .info__show-button  which belongs to the info button :D

**To Reproduce**
add both plugins globally
(o

[2019-02-20 14:11] KhodeN opened #5681 "process.env.REACT_APP_* broken in 5"
**Describe the bug**
After updating to `5.0.0-rc.3` all `process.env.REACT_*` variables disappeared.

**Expected behavior**
Storybook should keep reading `REACT_*` variables from dotEnv files (in CRA project).

**Code snippets**
I used this code for proxying API requests:

[code]

**System:**
 - OS: MacOS
 - Device: Macbook Pro 2017
 - Browser: no matter
 - Framework: react (CRAv2)
 - Addons: -
 -

[2019-02-20 14:22] ndelangen commented on #5597
This is fixed?

[2019-02-20 14:42] jonathanj opened #5682 "`channel.emit` in addons-actions is slow in v5.0.0-rc3"
**Describe the bug**
Defining an action, passing it as an event handler, and subsequently clicking it in Storybook v5.0.0-rc3 seems to block for a noticeable (1-2s on my machine) amount of time. Especially noticeable on buttons.

Not passing the action as an event handler doesn't cause the UI to block.

I'm using 5.0.0-rc3 for all my addons and Storybook.

**To Reproduce**
Steps to reproduce the b

[2019-02-20 14:43] ndelangen commented on #5234
Should be fixed in V5

[2019-02-20 14:44] ndelangen commented on #5336
V5 will migrate to a single path in the url via a router.

Can you check out the latest RC release and tell us if this resolves your issue?

[2019-02-20 14:46] ndelangen commented on #5571
All storybook code & material is MIT license.

[2019-02-20 14:46] #5571 closed

[2019-02-20 15:05] ndelangen commented on #5421
![screenshot 2019-02-20 at 16 02 21](https://user-images.githubusercontent.com/3070389/53101056-4dff0280-3529-11e9-9ebf-72230e1fbd8c.png)
![screenshot 2019-02-20 at 16 02 29](https://user-images.githubusercontent.com/3070389/53101059-4fc8c600-3529-11e9-9139-7515ace3cd35.png)

[2019-02-20 15:06] tjbenton opened #5683 "Don't show update available every time you start storybook"
There was an update released 2 days ago to `@storybook/vue` and now every time I run `start-storybook` it shows me a huge message telling me that there's a new version available. While this is a nice feature to let users know a new version is available it's also incredibly annoying to see every single time I start storybook. As every one knows when working on a large project with several people it

[2019-02-20 15:28] shilman commented on #5682
Duplicate to #5551, closing :)

[2019-02-20 15:28] #5682 closed

[2019-02-20 15:34] shilman commented on #5683
@tjbenton My bad! We've updated the way release checks work in v5 and I forgot that this was already being used in v4. Will fix in v4.1.13!

[2019-02-20 15:36] shilman commented on #5680
We're going to deprecate `addon-info` soon and move it into the addons panel, which should address this problem: https://github.com/storybooks/storybook/issues/1147

[2019-02-20 15:45] shilman commented on #5411
Ouch, this is a pretty bad bug. Note that we're deprecating `addon-options` in v5, which is currently in RC.

[2019-02-20 16:33] Kailaash commented on #4947
@shilman It still does not work on 5.0.0.rc3. Changing knobs does not rerender the component and I don't have any additional add ons installed.

`storiesOf('EmptyState', module)
  .addDecorator(withKnobs)
  .add('default', () => {
    return {
      components: { EmptyState },
      props: {
        messageTranslationKey: {
          type: String,
          default: 'emptyState.defaultMessage'

[2019-02-20 16:38] Kailaash commented on #5670
Thanks @seanmcintyre. The migration instructions solved the issue.

[2019-02-20 16:52] Kailaash-Balachandran commented on #4947
The problem seems to persist in 5.0.0-rc.3 and I don't have any global decorators or additional add ons
Issue: Changing knobs doesn't re render the component.

[2019-02-20 16:53] Kailaash-Balachandran commented on #5670
Thanks @seanmcintyre. The migration instructions solved the issue for me.

[2019-02-20 17:11] codestitch opened #5684 "Error importing styles.scss to storybook"
**The bug**
I followed this [tutorial ](https://www.learnstorybook.com/angular/en/simple-component/) in starting storybook. Though the tutorial is using less, I decided to use scss.

**When I import my styles.scss into the config.js in .storybook with this configuration in webpack.config.js**

[code]
as per https://storybook.js.org/configurations/custom-webpack-config/, it gives me an error.

If I

[2019-02-20 17:12] Kailaash-Balachandran commented on #5129
I must say it still doesn't work with 5.0.0-rc.3. I don't have any global decorators or additional add ons.

[2019-02-20 17:28] jalovatt opened #5685 "Story layout breaks for subcomponents with a CSS Grid parent"
**Describe the bug**
I know, awkward title.

If `Component` has an element with `display: grid`, that style is retained for the `.Component` div created when rendering stories for `Component/Subcomponent`. However, because Storybook places the "Story Source" area  as a sibling of `Subcomponent`, "Story Source" ends up being put into the next empty grid cell.

Cheers.

**To Reproduce**
Steps to rep

[2019-02-20 18:34] erikjung opened #5686 "Incorrect homepage URL in storyshots package.json"
### Bug or support request summary

The `@storybook/addon-storyshots` package.json has a typo ("storyshorts") in the homepage URL: https://github.com/storybooks/storybook/blob/master/addons/storyshots/storyshots-core/package.json#L9

### Steps to reproduce

1. Visit the URL specified in the package.json
2. Experience the GitHub 404 page.

### Please specify which version of Storybook and optionall

[2019-02-20 19:19] TomiS opened #5687 "5.0.0-rc.3: Build crashes"
**Describe the bug**
Trying to start storybook crashes with error:

[code]

**System:**
 - OS: Ubuntu 18.04
 - Framework: Webpack 4.19.1, React 16.8.1, Emotion 10.0.7
 - Version: 5.0.0-rc.3

**Storybook deps installed:**
[code]

[2019-02-20 19:45] nottoseethesun opened #5688 "Question: Broken when use redux store with storybook"
I am getting `Can't resolve 'fs'` when I include a jsx component that requires mocking via `Provider` (from `react-redux`).  My only goal here is to, once again (this was working until about a week ago), have my react components that use redux work in the storybook.

Plain components, meaning those that don't use redux, work fine in the storybook.  The problem seems to come when the story file doe

[2019-02-20 20:14] b0g3r commented on #4947
@nickdandakis v4.2.0-alpha.6 is working with decorators 🎉

@shilman v5.0.0.-rc.3 doesn't work and down with exceptions:
[code]

[2019-02-20 21:47] Kailaash-Balachandran commented on #5687
You need to modify the webpack config as described here. In the migration step, there's a typo
`config.modules` should be `config.module`

https://github.com/storybooks/storybook/blob/next/MIGRATION.md#from-version-41x-to-50x

[2019-02-20 21:49] Kailaash-Balachandran commented on #4947
@b0g3r To fix the build set up, follow the 5.0 migration step
https://github.com/storybooks/storybook/blob/next/MIGRATION.md#from-version-41x-to-50x

[2019-02-20 22:44] ndelangen commented on #5421
@domyen I think i got the scrollbars issue for you:
https://github.com/storybooks/storybook/pull/5689

[2019-02-20 23:01] nottoseethesun commented on #5688
Closing as this turned out to be due to an unrelated factor.

[2019-02-20 23:01] #5688 closed

[2019-02-20 23:40] fillipvt commented on #4790
With the workaround the loop doesn't happen. Thank you all

[2019-02-21 00:05] jalovatt commented on #5685
Never mind, it was an issue with a custom decorator we're using. Sorry for the noise.

[2019-02-21 00:05] #5685 closed

[2019-02-21 00:38] tmeasday commented on #5651
On this line, right: https://github.com/storybooks/storybook/blob/20d4131ef6e6e9faa6e39f22cf6b847535c9f9a1/lib/core/src/server/config/utils.js#L5

[2019-02-21 01:18] mauriciord commented on #4011
Same error here
Any  solution ?
[code]

[code]

[2019-02-21 01:53] VladimirPittner opened #5691 "No global CSS in iframe"
**Describe the bug**
I am seeing global CSS inside iframe (see picture) that unfortunately overrides any imported css, which results in different looking components then in real app.

**Expected behavior**
There should be none other CSS inside the iframe then user spcified. Or is there a way to disable/customize those?

**Screenshots**
![globalcss](https://user-images.githubusercontent.com/1529181

[2019-02-21 01:53] hayanisaid commented on #4179
I tried all the solutions above this is the only solution that solved my problem :

[code]
Reference (here)[https://github.com/storybooks/storybook/issues/3897]

[2019-02-21 01:59] VladimirPittner commented on #5691
Oh right after submiting the issue I realized I copied this from examples to my config.js
[code]
And the `<Global styles={createReset} />` is adding those global styles there. [insert facepalm]

Problem solved

[2019-02-21 01:59] #5691 closed

[2019-02-21 03:06] praneybehl commented on #5543
I'm in the same boat, updated the addons to v4.1.12, but it didn't fix it. Then based on @shilman 's comment updated to @storybook/addon-a11y@v4.2.0-alpha.11 which kinda fixed it but not completely.
Although the a11y checks are now back but switching to another story doesn't refresh it.

[2019-02-21 03:54] shilman commented on #5543
@praneybehl wanna try upgrading to the 5.0-rc? We're doing releases every few days there so if you have any problems with it, you're much more likely to get timely help there. We're all hands on deck to get that out bug-free, so any testing from the community is much appreciated!!

[2019-02-21 03:57] shilman commented on #4011
@mauriciord Still work in progress with no release scheduled yet 😭

[2019-02-21 04:03] praneybehl commented on #5543
Thanks for the prompt reply @shilman I'm going to try v5.0-rc in about an hour and post an update if itt fixes the issue.

[2019-02-21 05:34] praneybehl commented on #5543
@shilman I bumped all storybook addons and packages to v5.0.0-rc.3. It seems to resolve the issue with  A11y addon but I'm getting loads of warning in the console:
![image](https://user-images.githubusercontent.com/2144887/53145914-4c4f4080-35f6-11e9-83c4-1d607738f7d2.png)
It appears the webpack aliases that I had to resolve fonts, are not working anymore after the update
Deps:
![image](https://us

[2019-02-21 06:03] #4790 closed

[2019-02-21 06:10] shilman commented on #4947
I'm adding this to the 5.0 milestone, meaning it will get priority as we iron out the 5.0 release over the next week.

@b0g3r please let me know what happens after you migrate your custom webpack config per @Kailaash-Balachandran 's note

[2019-02-21 06:14] shilman commented on #5687
@TomiS Closing for now. Please give the migration suggested by @Kailaash-Balachandran a try and re-open if you still have problems and we'll help get you sorted out. Thanks!

[2019-02-21 06:15] #5687 closed

[2019-02-21 06:23] shilman commented on #5686
Thanks for the bug! This is fixed in `next` so we'll focus on getting v5 out

[2019-02-21 06:23] #5686 closed

[2019-02-21 06:30] shilman commented on #5129
I'm going to close this as a duplicate to #4947. Let's continue the conversation there and get this sorted out. Thanks for your patience everyone!

[2019-02-21 06:30] #5129 closed

[2019-02-21 06:33] shilman commented on #5543
@praneybehl Awesome, glad to hear it worked for you! I'm going to close this issue for now. Mind opening a new issue for the fonts problem in 5.0?

[2019-02-21 06:33] #5543 closed

[2019-02-21 06:36] #5667 closed

[2019-02-21 07:26] eldyvoon opened #5701 "withViewport doesn't work work well with withKnobs"
withViewport addon worked for me to develop responsive component.
[code]
The problem I'm facing is when a knob option is change, the viewport will bounce back to the default viewport value.

<img src="https://im.ezgif.com/tmp/ezgif-1-d560419ddbc2.gif" />

[2019-02-21 08:07] shilman commented on #5683
Yowza!! I just released https://github.com/storybooks/storybook/releases/tag/v4.1.13 containing PR #5699 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-21 08:07] shilman commented on #4839
Yowza!! I just released https://github.com/storybooks/storybook/releases/tag/v4.1.13 containing PR #5629 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-21 08:07] shilman commented on #5667
Yay!! I just released https://github.com/storybooks/storybook/releases/tag/v4.1.13 containing PR #5675 that references this issue. Upgrade today to try it out!

[2019-02-21 08:07] #4839 closed

[2019-02-21 08:07] #5683 closed

[2019-02-21 09:03] wunderkind2k1 commented on #5509
Hi @gogs85 anything new on that? Is your problem solved? I am asking as I have the problem. Storybook worked fine on ng-6 but after upgrading to 7 the asset path resolution is not working anymore i.e. images and styles are not found/ used.

[2019-02-21 09:21] mrsufgi commented on #5680
so until then, I'll drop addon-info from my storybook :) (i guess it has issues with storyshots too)

[2019-02-21 10:03] shilman commented on #5680
Sorry for the inconvenience. addon-info has been a thorn in our side for a long time now -- I'm really excited to get something better in place as soon as v5 has been released!

[2019-02-21 10:03] #5680 closed

[2019-02-21 10:24] shilman commented on #5592
Yay!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.4 containing PR #5672 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-21 10:24] shilman commented on #5639
Yowza!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.4 containing PR #5641 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-02-21 10:24] shilman commented on #5663
Ta-da!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.4 containing PR #5679 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-21 10:24] shilman commented on #5666
Huzzah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.4 containing PR #5677 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-21 10:24] shilman commented on #5683
w00t!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.4 containing PR #5699 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-02-21 10:24] #5666 closed

[2019-02-21 10:24] #5592 closed

[2019-02-21 10:30] tomasskopal commented on #2708
@niecnasowa Worked for me. 👍 Note that if you have more plugins in `.babelrc` the "react-docgen" must be first.

[2019-02-21 11:34] ndelangen commented on #5598
Not an emotion thing, AFAIT:

There's no difference in behavior between these:

[code]

[code]

[2019-02-21 11:36] ndelangen commented on #5598
Can confirm it's in firefox too, not some random browser bug

[2019-02-21 11:50] tmeasday commented on #5598
OK, that's weird. My bad, it was not emotion. Following on from your example though, this does not scroll:

[code]

[2019-02-21 11:53] gogs85 commented on #5509
Hi, I solved the problem. Thanks.

On Thu, Feb 21, 2019, 10:04 Sven <notifications@github.com> wrote:

[2019-02-21 12:20] B3zo0 opened #5703 "Adding default theme removes animations"
**Describe the bug**
I'm adding a default theme to options in config.js. And seeing a warning that animation.hoverable and animation.inlineGlow is missing.

**To Reproduce**
Add a default theme with options.
[code]

**Expected behavior**
Those animations are not missing from default themes.

**System:**
 - Addons: Info
 - Version: 5.0.0-rc.4

[2019-02-21 13:07] huntie opened #5704 "[addon-cssresources] Resource IDs are not displayed in panel"
**Describe the bug**

Per documented behaviour, I expect to see the ID of each resource I have added in the addon panel interface. However, it prints a `#` without any name value for each stylesheet.

**To Reproduce**

1. Add `cssresources` options as documented:

[code]

2. Click on 'CSSRESOURCES' addon panel.
3. See no name/ID label and React `key` usage warning (see screenshot below).

**Expect

[2019-02-21 14:36] wunderkind2k1 commented on #5509
may I know how?

[2019-02-21 14:54] jdelStrother opened #5706 "5.0.0-rc4 - cannot read property 'secondary' of undefined"
**Describe the bug**
In 5.0.0-rc4, the storybook UI fails to load, throwing `cannot read property 'secondary' of undefined`, while trying to read `theme.color.secondary` in `node_modules/@storybook/ui/dist/components/layout/draggers.js`.  The provided `theme` object is empty.
I'm seeing this even if I wipe out my custom webpack config and use the default storybook config, with no addons.
If I down

[2019-02-21 15:04] shilman commented on #5706
@jdelStrother Are you using a theme, or just the default?

[2019-02-21 15:15] yachaka opened #5707 "Addon with-info wrap the story in a div with `position: relative;`"
**Describe the bug**
See https://github.com/storybooks/storybook/blob/master/addons/info/src/components/Story.js#L49
Story is being wrapped in a `position: relative;` div.
Combined with the centering addon, it makes it so absolute element are not positioned relatively to the window but to the story itself.

**To Reproduce**
1. Add addon-centered
2. Add addon-info
3. Create a story with a static fi

[2019-02-21 15:16] jdelStrother commented on #5706
Just the default.  I'm not customizing storybook with addParameters or addOptions anywhere.

[2019-02-21 15:46] VanDoornP opened #5708 "Static file path returned instead of file content on require('./file.svg')"
I'm building a component which loads SVG files. But when I use `icon = import()` or `icon = require()`, the value returned is a static-file-path instead of the content of the file.

[code]
Yields
[code]

The issue https://github.com/storybooks/storybook/issues/1776 is about a similar issue, except that I'm using the full control mode, and I did reset the server. I tried no custom loaders, svg-url-

[2019-02-21 15:56] shilman commented on #5706
@jdelStrother Ok just reproduced in a different test project. Try removing `yarn.lock` and `node_modules` and reinstalling. We've been seeing a lot of yarn issues lately and I suspect this is one.

[2019-02-21 16:02] shilman commented on #5707
Hey @yachaka, thanks for the bug report. Fortunately (unfortunately?) we are going to deprecate `addon-info` and move it to the addons panel as soon as v5 is out, so probably won't get around to this, but if anybody wants to submit a PR with the fix I'd probably release it in the meantime. Closing for now! 🙇

[2019-02-21 16:02] #5707 closed

[2019-02-21 16:07] afisher88 commented on #5543
Is there an ETA for v5 release? I think i'd rather hold fire for a release than upgrading to RC for production.

[2019-02-21 16:07] shilman commented on #5704
cc @nm123github

[2019-02-21 16:09] domyen commented on #5652
These are bugs. There was another bug that prevented mobile QA that was fixed recently. That's why these bugs are surfacing now.

[2019-02-21 16:10] jdelStrother commented on #5706
Are you able to reproduce with this?  For me, if I remove `@storybook/addon-actions` from package.json and re-run yarn, storybook starts working again.

 [storybook-missing-theme.zip](https://github.com/storybooks/storybook/files/2890067/storybook-missing-theme.zip)

[2019-02-21 16:19] shilman commented on #5706
Weird. I couldn't repro in my standard CRA test project, repro'd in a gatsby test project but then fixed the problem by cleaning and reinstalling. Now I'm able to repro in your test project. Will dig in tomorrow AM and see whether I can get to the bottom of this -- thanks for the juicy bug!! 🙇

[2019-02-21 16:21] shilman commented on #5706
Ok it's a yarn hoisting issue. There are two copies of `@storybook/theming` installed:

[code]

Not sure why that's happening. @ndelangen @tmeasday can you shed any light on this?

[2019-02-21 16:30] shilman commented on #5543
@afisher88 We're targeting March 4 for the release

[2019-02-21 17:36] jdelStrother commented on #5706
Ahh, gotcha. FWIW, I can work around the issue by adding an explicit dependency for `@storybook/theming` in my package.json

[2019-02-21 18:14] callmephilip commented on #5166
i have noticed that Storybook picks up env settings from `.env` (using dotenv maybe?). @SebastiaanNijland might be a workaround for the problem you are facing

[2019-02-21 18:29] brotzky commented on #5706
Ran into the same issue.

I can confirm that deleting `yarn.lock` and adding `@storybook/theming` with a fresh install of `node_modules` worked to solve this.

Thanks for the help @shilman and bringing up the issue @jdelStrother.

[2019-02-21 19:08] kelchm commented on #4873
Also seeing this issue. Would be great to have a fix.

[2019-02-21 20:11] kdawgwilk commented on #1151
This still seems to blow up when adding the StorybookUI as another tab in RNN app rather than a single screen app

[2019-02-21 20:40] domyen commented on #5623
Strawman keyboard UX:
- Allow focussing folders and components (right now I can only tab to stories)
- Right arrow key expands the folder or component content
- Right arrow key of an already expanded folder or component focusses the first child
- Left arrow key on folder or component collapses expanded contents
- Left arrow key on a story collapses the parent folder or component and focusses it
-

[2019-02-21 21:09] tmeasday commented on #5706
Hmm I think https://github.com/storybooks/storybook/pull/5679 was supposed to solve this even if there are two copies in your `node_modules`. @shilman do you have a reproduction? If #5679 isn't solving the problem we need to re-evaluate

[2019-02-21 21:11] tmeasday commented on #5623
That sounds fairly similar to the existing code that's there. What I don't understand is the first step -- how do I do that, literally? Also what does a focussed folder/component look like?

[2019-02-21 21:24] domyen commented on #5623
re: focussed states, I can style it we can get the basic functionality working again 😅

[2019-02-21 21:28] tmeasday commented on #5623
But how do I focus it? Do I tab to it? Do I click on it? Is there a shortcut?

[2019-02-21 21:50] domyen commented on #5623
1. Click into the sidebar either on a blank space which sets tab index to default (I think this is what it's called) or on an item
2. From there you can tab around or use the arrow key (with no modifiers) to move around the treeview

Probably missing some edge cases from the above but that's how I'd expect it to work at first glance.

[2019-02-21 22:46] d3bgger commented on #4479
Hello

I use require.context only in storybook config for loadStories;

I followed these instructions: https://www.npmjs.com/package/@storybook/addon-storyshots#configure-jest-to-work-with-webpacks-requirecontext

I used the macro, as its the only way to make it work in CRAv2.

Now storybook doesn't build in the normal "development" webpack build. (warnings and errors)

`WARNING in ./node_modules/

[2019-02-21 23:39] praneybehl commented on #5543
Thanks @shilman will do that.

[2019-02-22 01:35] tmeasday commented on #5445
In theory this has been solved by #5679 although #5706 implies it hasn't. Let's sort it out there.

[2019-02-22 01:35] #5445 closed

[2019-02-22 01:37] shilman commented on #4479
@d3bgger did you look at #5015

[2019-02-22 01:52] shilman commented on #5036
@transitorytammy `addon-info` is only compatible with React at the moment. We'll be moving that functionality to the addons panel and making it cross framework as soon as v5 is released in a few weeks. https://github.com/storybooks/storybook/issues/1147

Closing this for now.

[2019-02-22 01:52] #5036 closed

[2019-02-22 03:07] d3bgger commented on #4479
Yes, that's the pr for the doc i linked.

[2019-02-22 03:14] Chakroun-Anas commented on #5309
Thank you @gcaven, the workaround is working perfectly.

[2019-02-22 04:59] shilman commented on #4873
@maikthomas @kelchm It's a heavy-handed solution, but you can completely override the webpack config in Storybook: https://storybook.js.org/configurations/custom-webpack-config/

I'm overhauling the info addon which uses the docgen after v5 ships https://github.com/storybooks/storybook/issues/1147, so I'll try to take a look at this then. Happy to take a PR for this in the meantime if anybody is i

[2019-02-22 05:25] hc-12 commented on #5663
@shilman Sorry for the delay, i tried it today and it works!

Thank you, much appreciated :)

[2019-02-22 06:17] shilman commented on #5706
@tmeasday the repro is attached here: https://github.com/storybooks/storybook/issues/5706#issuecomment-466059375

[2019-02-22 06:29] tmeasday commented on #5706
I don't get it. Here's the webpack config it is using:

[code]

Might have to pass this one over to @ndelangen

[2019-02-22 08:21] pascaliske commented on #5542
Hi @Raidok,

I run into the same issue as you but I have just a single NgModule declaring all my components. I tested the second of your alternatives and removed the `AnnotatedComponent` from the declarations in [/app/angular/src/client/preview/angular/helpers.ts#L63](https://github.com/storybooks/storybook/blob/master/app/angular/src/client/preview/angular/helpers.ts#L63) and it worked for me.

C

[2019-02-22 10:52] #5598 closed

[2019-02-22 10:55] ndelangen commented on #5706
I'm on it

[2019-02-22 11:28] ndelangen commented on #5706
I found something, it's related to the version of react, upgrading and syncing it to the version of react used by storybook seems to make yarn install in a de-duped way.....

[2019-02-22 11:44] d3bgger opened #5720 "upgraded to 4.1.3, now only cra devserver shows up in port 9001"
**Describe the bug**
I had a working installation of storybook 4.0.7 with cra.
I upgraded to 4.1.3 and now when i start storybook, it builds ok, but in browser localhost:9001 just shows the same output as if i was in localhost:3000. I don't see anything storybook related (apart from the favicon).

If i stop the webpack devserver of my app, then in localhost:9001 in browser i just see:
Error occure

[2019-02-22 11:53] ndelangen commented on #5706
Analysing the stats, I'm NOT finding duplicated theming or packages 😕
<img width="1917" alt="screenshot 2019-02-22 at 12 49 41" src="https://user-images.githubusercontent.com/3070389/53240955-6c3b3e80-36a0-11e9-91e4-6b266ba9f3db.png">

I do find ui to ship nested node_modules, but nothing duplicated it seems?
<img width="899" alt="screenshot 2019-02-22 at 12 52 10" src="https://user-images.githubu

[2019-02-22 11:55] ndelangen commented on #5706
Emotion seems fragtured?

<img width="1865" alt="screenshot 2019-02-22 at 12 54 57" src="https://user-images.githubusercontent.com/3070389/53241175-2df24f00-36a1-11e9-85be-44f8e7f65a0b.png">

[2019-02-22 12:10] sargant opened #5721 "Cannot use React hooks directly inside a story"
**Describe the bug**

Cannot use hooks directly in a story, fails with `Hooks can only be called inside the body of a function component`.

**To Reproduce**

Example code:
[code]

**Expected behavior**
First story works OK, second story fails on initial render

**Versions**
`@storybook/react@4.1.13`
`react@16.8.2`
`react-dom@16.8.2`

[2019-02-22 13:46] ndelangen commented on #5706
By doing some fancy testing I got to a solution that seemed to work!

[2019-02-22 13:49] ndelangen commented on #5706
emotion packages are now longer duplicated in @storyboom/theming

<img width="1873" alt="screenshot 2019-02-22 at 14 47 35" src="https://user-images.githubusercontent.com/3070389/53246431-f9868f00-36b0-11e9-9981-2d90e1e110d5.png">

[2019-02-22 13:52] ndelangen commented on #5706
Also no nested node_modules in ui:

<img width="852" alt="screenshot 2019-02-22 at 14 51 38" src="https://user-images.githubusercontent.com/3070389/53246585-6863e800-36b1-11e9-882e-0d61989c8156.png">

[2019-02-22 14:16] mpelekh commented on #5204
The same issue exists with storybook/react@4.1.12 as well.

[2019-02-22 15:16] B3zo0 opened #5723 "Info addon doesn't inherit styling"
**Describe the bug**
In v4 the info inherited the base font-family and stylings. In v5 it does not.

**To Reproduce**
Steps to reproduce the behavior:
Use info addon.

**Expected behavior**
I expect the behavior from v4 where the font-family is the same as in the outer panels.

**Screenshots**
**v5**
![v5](https://content.screencast.com/users/Bezoo/folders/Jing/media/a06051dc-7993-4feb-87dd-c497ba

[2019-02-22 15:48] mmukes1 commented on #3626
const path = require("path");
module.exports = {
  module: {
    rules: [
      {
        test: /\.stories\.jsx?$/,
        loaders: [require.resolve("@storybook/addon-storysource/loader")],
        test: path.resolve(__dirname, "../src/stories"),
        test: path.resolve(__dirname, "../src/components"),
        enforce: "pre"
      }
    ]
  }
};

This approach on your  .storybook/webpack.confi

[2019-02-22 15:50] mmukes1 commented on #3626
const path = require("path");

module.exports = {
  module: {
    rules: [
      {
        test: /\.stories\.jsx?$/,
        loaders: [require.resolve("@storybook/addon-storysource/loader")],
        test: path.resolve(__dirname, "../src/stories"),
        test: path.resolve(__dirname, "../src/components"),
        enforce: "pre"
      }
    ]
  }
};

this approach on .storybook/webpack.config.js

[2019-02-22 15:59] ndelangen commented on #5706
Should be fixed by https://github.com/storybooks/storybook/pull/5722

[2019-02-22 16:22] mdartic commented on #4256
I found this : https://github.com/nidkil/vuetify-with-storybook

maybe it can help you ?

[2019-02-22 16:38] shilman commented on #5720
@d3bgger What version of CRA are you running? Do you have a sample repo?

[2019-02-22 17:00] shilman commented on #5723
@B3zo0 Thanks for the report. Bugfix PRs are welcome for this!

[2019-02-22 17:46] B3zo0 opened #5726 "Code formatting in v5 notes addon"
**Describe the bug**
I've noticed that the styling of code blocks in markdown files is rendered with syntaxhighlighter.
Problem is I have some text that look like this:
![v5-markdown-notes](https://content.screencast.com/users/Bezoo/folders/Jing/media/8742bc3e-eeab-4e74-a61f-744a982750df/2019-02-22_1627.png)

**To Reproduce**
Use a markdown note like this https://github.com/SenseNet/sn-client/blob

[2019-02-22 17:52] Jack-Barry opened #5727 "Type of withKnobs"
**Describe the bug**
The type of `withKnobs` is not valid for the `addDecorator` function. Looks like the `@types/storybook_addon-knobs` is out of date maybe?

**To Reproduce**

Using the following relevant libraries:

[code]

Not exactly sure the `@types/react` is needed, but it's part of the docs for using knobs with TypeScript.

### `Component.stories.ts`

[code]

**System:**
 - OS: Windows10

[2019-02-22 23:06] mateoholman commented on #5723
@shilman I'll take a crack at this one if no one else is working on it.

[2019-02-23 03:37] ajbowler commented on #5051
I ran into this issue after upgrading storybook v3 within a monorepo to v4.

There's zero console output in the browser or within stdout to tell me what errors, if any, are occurring, only this cryptic cannot GET/ message on the webpage.

[2019-02-23 04:28] shilman commented on #5723
Awesome @mateoholman, thanks for taking this on! Our storybook dev setup is documented here https://github.com/storybooks/storybook/blob/next/CONTRIBUTING.md#development-guide and feel free to get help here or on our Storybook Discord/Slack if you run into issues. 🙇

[2019-02-23 04:35] shilman commented on #5727
Thanks for the bug! Unfortunately, we don't maintain the types on DefinitelyTyped and I'm not sure about what's the procedure for getting those updated.

The good news is that we're in the process of converting our codebase into Typescript, so you should be seeing those types defined "in house" in an upcoming release. You can check the progress and contribute yourself here: https://github.com/stor

[2019-02-23 04:35] #5727 closed

[2019-02-23 06:35] gabefromutah commented on #5721
Not sure this is a bug. I believe, and I could be wrong, the second argument of `stories.add` is expecting a function to return a component and not an actual React component. Try moving your function component to the outside, you should have some success..

Example
[code]

[2019-02-23 09:11] shilman commented on #5597
Yowza!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.5 containing PR #5711 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-23 09:11] shilman commented on #5419
Ooh-la-la!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.5 containing PR #5702 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-23 09:11] shilman commented on #5598
w00t!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.5 containing PR #5713 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-02-23 09:11] shilman commented on #5652
Whoopee!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.5 containing PR #5709 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-23 09:11] shilman commented on #5706
Yee-haw!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.5 containing PR #5722 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-02-23 09:11] #5419 closed

[2019-02-23 09:11] #5597 closed

[2019-02-23 09:11] #5652 closed

[2019-02-23 10:45] shilman commented on #5706
@ndelangen I'm getting this error when running `rc.5` against the example above:

[code]

[2019-02-23 10:51] ndelangen commented on #5706
I cannot reproduce that @shilman

I open the zip, upgraded to rc.5, ran `yarn`, ran `yarn stories`.

Result:
Functioning storybook

[2019-02-23 10:52] ndelangen commented on #5706
<img width="729" alt="screenshot 2019-02-23 at 11 51 49" src="https://user-images.githubusercontent.com/3070389/53285502-72ddba80-3761-11e9-8546-606d6fbe0ba6.png">

[2019-02-23 13:32] shilman opened #5731 "Update CLI to ship with recommended addons in v5"
## Why

v5 ships with a bunch of great addons -- let's remove the friction by making `sb init` ship with sensible defaults.

Yes this is late in the ship cycle, but it's a very low risk feature as it doesn't touch any of the main code.

## What

- [ ] Notes
- [ ] Backgrounds
- [ ] Viewports
- [ ] TBD?

[2019-02-23 14:55] Keraito commented on #5731
What do have explicitly in mind? That the `SB init` also comes with these addons? Or that there are templates for those?

[2019-02-23 15:43] shilman commented on #5731
@keraito yeah  we can update the templates in SB init to help get people started with best practices  highlight the new features in SB5

[2019-02-23 15:48] shilman commented on #5706
@ndelangen weird, it was consistent for me! Well let's call it solved and come back to it if other people run into the problem

[2019-02-23 17:36] domyen commented on #5665
@Rolandisimo have a PR open for this from a theme POV. Will work with @tmeasday to hook it up to params. 👍

[2019-02-23 18:13] domyen opened #5734 "Improve theming in v5"
**Describe the feature request**
- [ ] Polish theme `.create()` to be more similar to the expected shape required by the UI so that theming is easier to understand for theme authors cc @shilman
- [ ] Remove the secondary color var in `.create()` because it's unused

[2019-02-23 21:14] d3bgger commented on #5720
cra v2. I'll see if i can reproduce this in simple test project.

thanks

[2019-02-24 08:48] mrsufgi commented on #5225
I have tried that with version 5.0-rc.5, same results. webpack indicates updates but tests result don't change in the addon

[2019-02-24 15:22] ndelangen commented on #5460
I can't find a reference to `react-animated` in our codebase at all 😕

[2019-02-24 15:25] ndelangen commented on #5225
Sounds like a bug!

Would love some help getting this fixed! I think it's actually just not re-rendering the component for some reason.

Would you have the oppertunity to assist fixing this issue @mrsufgi , @Jipperism or @mrmckeb
 👏 ?

[2019-02-24 18:42] MattPetitt opened #5739 "Fix font-family syntax in Angular welcome"
There's a typo in the angular welcome page css where `fontFamily` should be `font-family`.
https://github.com/storybooks/storybook/blob/e8cdeb6371e69ad8c83c743e9e99cf7ff31951dd/app/angular/src/demo/welcome.component.ts#L42

This causes fonts in the angular welcome page to fallback to the default.

I'm happy to contribute the fix, just wanted to leave this ticket here until I got around to it.

[2019-02-24 23:39] Keraito commented on #5721
It shouldn't really matter AFAIK, but it's always worth trying. Also, @sargant 	what throws the error? Storybook or the type system?

[2019-02-24 23:58] ndelangen commented on #5721
@Keraito No I'm pretty sure the error is correct.

It's because we're calling the function out of the context of react, aka storybook will call the function like so:
[code]
not
[code]

Quite possibly if we'd initiate it like that it might work.

Right now @gabefromutah's advice is sound.

Here's the actual line of code:
https://github.com/storybooks/storybook/blob/next/app/react/src/client/preview

[2019-02-24 23:59] ndelangen commented on #5721
@sargant does @gabefromutah's suggestion work for you?

[2019-02-25 00:41] ndelangen commented on #5704
Is this issue still present in V5?

[2019-02-25 02:31] shilman commented on #5391
Is this still the case in v5?

[2019-02-25 05:22] SebPez commented on #4796
@viczhuravlev did you manage to fix it?

[2019-02-25 05:45] SebPez commented on #4796
I was able to use Storybook 4 and Emotion 10 *ONLY* when I installed with `yarn` instead of `npm` even with different node versions starting a 8.x.x.

[code]

[2019-02-25 06:00] techieshark commented on #5183
Updating react-scripts worked for me (thx, @nguyentuandat). I was on 2.1.1, updated with instructions from the [changelog](https://github.com/facebook/create-react-app/blob/master/CHANGELOG.md):

[code]

[2019-02-25 07:01] tmeasday commented on #4010
This got done somewhere along the line and is in v5

[2019-02-25 07:01] #4010 closed

[2019-02-25 07:08] tmeasday commented on #5270
Looks like this was fixed by https://github.com/storybooks/storybook/commit/ecaf37a5d462dfe805a3dd181023db0bb3e44db8 -- is that right @codebyalex?

[2019-02-25 07:08] #5270 closed

[2019-02-25 07:57] mrsufgi commented on #5225
I would be happy to help, I'll create a CRA + Storybook repo and try to recreate it in an isolated environment and post back asap

[2019-02-25 08:09] sargant commented on #5721
@ndelangen @gabefromutah's suggestion is the same as my initial "this story works" example I believe?

In the case that this is not a bug, it might still be a useful enhancement to avoid having to use third-party plugins for state.

[2019-02-25 08:10] vipcxj commented on #5584
Any news? My storybook server hangs forever without any error messages. I even did not know why this happen.

[2019-02-25 08:30] pvdstel opened #5746 "Custom theme is only applied after navigating to a story"
**Describe the bug**
We're using the `@storybook/addon-options` package to set the theme of our Storybook app. This theme is not applied after loading the page, but is applied correctly after navigating to another story (one that's not selected by default). After this first navigation, the theme remains applied.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `start-storybook -p 6006` an

[2019-02-25 08:33] Keraito commented on #5721
@ndelangen not entirely sure how that will interact with other certain addons, especially `addon-info`, which need information of the underlying rendered component.

[2019-02-25 08:39] shilman commented on #5584
@SleepWalker @vipcxj Mind testing this out in v5? I recently merged this PR that might fix it. If it does, I can patch it back into 4.x: https://github.com/storybooks/storybook/pull/5678

[2019-02-25 08:42] vipcxj opened #5747 "Unable to deal with custom babelrc."
**Describe the bug**
A custom babelrc with a custom presets which referenced through relative path will cause storybook server hangs forever.  The cmd `start-storybook` even will not show any errors. The cmd `build-storybook` shows the errors, this is why I can report this bug.

**To Reproduce**
Steps to reproduce the behavior:
use this custom babelrc
[code]
And this is the file struct
- project r

[2019-02-25 10:18] ndelangen commented on #5225
@mrsufgi I can give you access to the repo as well, and you'll be able to work on it like that, if that helps. Let me know. 👍

[2019-02-25 10:33] jdelStrother commented on #5706
@shilman I'm seeing the same problem in my main app, but not in that demo project 😕

[2019-02-25 11:10] ndelangen commented on #5051
I guess what we really need is an upgrade command in our CLI @ajbowler

[2019-02-25 11:28] tourniquet commented on #5684
[code]

Try this solution, it worked for me, the only difference is I used this configuration for LESS.

[2019-02-25 11:51] ndelangen commented on #5596
I'm on it

[2019-02-25 12:18] aloifolia commented on #5239
Well, as long as it is not fixed, the bug should stay open.

[2019-02-25 12:36] ndelangen commented on #5551
I'm on it

[2019-02-25 12:45] fillipvt commented on #5746
Similarly the default dark th8eme from `@storybook/theming` is only applied when reloading or navigating between stories (version: 5.0.0-rc.5)

[2019-02-25 12:57] fillipvt opened #5750 "Fix double go full screen buttons"
**Describe the bug**
There's a visual bug where there are double "Go full screen" buttons.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `5.0.0-rc.5`

**Expected behavior**
There should only be one.

**Screenshots**
![](https://i.imgur.com/xZdSmaZ.png)

**System:**
 - OS: [MacOS]
 - Device: [Macbook Pro]
 - Browser: [e.g. chrome]
 - Framework: [react]
 - Version: [5.0.0-rc.5]

**Additi

[2019-02-25 13:46] ndelangen commented on #5382
@gaetanmaisse looks like knobs should do that anymore, now that it's in the core!

Good catch, would you want to fix this?

[2019-02-25 13:56] jameshughes7 opened #5752 "Angular 7 a11y implementation no accessibility tests or failures"
**Describe the bug**
No accessibility tests or failures being produced after including a11y addon to my **Angular project** (followed https://github.com/storybooks/storybook/tree/master/addons/a11y)

**To Reproduce**
Steps to reproduce the behavior:
1. $ npm install -D @storybook/addon-a11y
2. import '@storybook/addon-a11y/register';
3. Scroll down to '....'
4. imported **storiesOf** and **checkA1

[2019-02-25 14:09] jameshughes7 commented on #5752
Please ignore step 3 in **To Reproduce** section.

[2019-02-25 14:33] Jack-Barry commented on #5727
Awesome, that will be great! Thanks @shilman

[2019-02-25 14:43] shilman commented on #5752
@jameshughes7 Note that `addon-a11y` is currently not working in 4.x but is apparently working in 5.0-rc:

https://github.com/storybooks/storybook/issues/5543

Yours might a different issue though. Please take a look and LMK what you think!

[2019-02-25 14:52] ndelangen commented on #5551
Fixed

[2019-02-25 14:58] jameshughes7 commented on #5752
HI @shilman thanks for the quick response! I an updating my SB version and trying it out. Will let you know. 👍

[2019-02-25 14:59] shilman commented on #5684
cc @tmeasday

[2019-02-25 15:02] shilman commented on #5706
@jdelStrother Does your main app work if you remove node_modules and recreate your lockfile, or install using npm? Sorry this is such a pain -- really not sure what's going on here.

[2019-02-25 15:23] jdelStrother commented on #5706
Urgh... so, first time through, I ran `npx npm-check-updates '/storybook/' -un; yarn`, ran `yarn run start-storybook`, and then hit the error [seen here](https://github.com/storybooks/storybook/issues/5706#issuecomment-466637770)

I deleted node_modules, re-ran yarn, and hit the same error.

I've just gone back to it, running `npx npm-check-updates '/storybook/' -un; yarn` from the same commit tha

[2019-02-25 15:35] CodeByAlex commented on #5574
@tmeasday - sorry for the delay, just got back from Vacation - Thats odd because tacks are supposed to work and that's what we have been using in our code base. Another alternative is using 4 spaces before each line in the code in order to show it as a code block and that too is not formatting as expected. Any chance you could try those? Can't get them working locally.

[2019-02-25 16:14] shilman commented on #5551
Hurrah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.6 containing PR #5751 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-02-25 16:22] fillipvt commented on #5750
Fixed with `5.0.0-rc.6`. Thanks!

[2019-02-25 16:22] #5750 closed

[2019-02-25 16:23] marvinhagemeister commented on #3766
I'm running into the same issue with React. The expected dom elements from the error overlay are missing in the dom.

[2019-02-25 16:24] shilman commented on #5706
@jdelStrother Ugh ... that sounds pretty nasty. Gonna close this now but I suspect it's not the end of the story for this one... 😦

[2019-02-25 16:24] #5706 closed

[2019-02-25 16:26] shilman commented on #5746
Can you guys post how you're calling `create`? Re-assigning this to @ndelangen since apparently he's seen this one before.

[2019-02-25 16:32] fillipvt commented on #5746
I'm not using any custom theme but the dark theme still flashes. The implementation consists of:

[code]

If there's anything else I can provide let me know.

[2019-02-25 16:50] jameshughes7 commented on #5752
@shilman That worked very well. I like the new layouts BTW. Thanks for the help!

<img width="828" alt="sb_5 0 0_rc5_a11y_success" src="https://user-images.githubusercontent.com/30200120/53353770-60a87b80-391d-11e9-94e4-86f5b6789aab.png">

[2019-02-25 16:54] Jack-Barry commented on #4947
I'm still having trouble with this on `5.0.0-rc.5`.

- I don't have any global decorators
- `props` are updating as expected
- Cannot get attributes in `data()` to update the component

### `MyButton.vue`

[code]

### `MyButton.stories.ts`

[code]

I have tried setting the `data` attribute the following ways to no avail:

[code]

If I set it as `data()` when I click the checkbox the field disappea

[2019-02-25 17:02] CodeByAlex commented on #5458
@tmeasday, are we sure this works on the angular version. Im still not seeing it in the toolbar when installing and registering with the latest:
![image](https://user-images.githubusercontent.com/29763590/53354648-38a52200-38f5-11e9-9025-3e34c555a2cb.png)

[2019-02-25 17:15] nickdandakis commented on #4947
Hey @Jack-Barry,

I'm a little confused as to why you're passing an `enabled` prop to `MyButton` when your prop is called `initialEnabled`.

Does this work for you?

[code]

[2019-02-25 17:17] shilman commented on #5752
Awesome possum!

[2019-02-25 17:17] #5752 closed

[2019-02-25 17:19] shilman commented on #3766
@marvinhagemeister what version of storybook are you using?

[2019-02-25 17:22] d3bgger commented on #5720
That was responsible...

`const proxy = require('http-proxy-middleware');

module.exports = function expressMiddleware(router) {
  router.use(
    '/',
    proxy({
      target: 'http://localhost:3000',
      changeOrigin: true
    })
  );
};`

This was working in previous versions (proxy was not affecting the initial document request of storybook) but now doesn't like it. I changed it to be more

[2019-02-25 19:05] ndelangen commented on #5746
I'm on it

[2019-02-25 19:12] ndelangen commented on #5706
@jdelStrother contact me directly on our discord if the issue persists, so maybe we can debug together.

[2019-02-25 19:19] Jack-Barry commented on #4947
The `initialEnabled` is used so that the component can be initialized in an enabled or disabled state. In `data()`, `enabled` is pulling in `initialEnabled` for this reason, but the _state_ can change which is what the rest of my component uses to determine styling rules etc. This is to be consistent with [Vue's docs](https://vuejs.org/v2/guide/components-props.html#One-Way-Data-Flow).

I _could_

[2019-02-25 19:37] mattrothenberg opened #5754 "a11y addon tests don't run on story load or change"
**Describe the bug**
When using the `a11y` addon, I expect the tests for a particular story to run automatically on initial page load, and then on any subsequent story change.

I am using the global decorator, not individual decorators per components.

Currently, I have to manually press **Rerun test** in order for the tests to run at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Spin

[2019-02-25 20:04] Keraito commented on #5392
Hey @kobe990 	could you share your work or a small reproduction that displays the bug?

[2019-02-25 21:14] CodeByAlex opened #5755 "V5-RC-Double expand icon showing up in top left-hand corner"
**Describe the bug**
Double expand icon showing up in top right-hand corner. It continues to show after multiple restarts, uninstalling and re-installing node_modules, and cache clearing. However, I'm Not seeing it on the next branch: https://next--storybooks-angular.netlify.com/?path=/story/welcome--to-storybook

**To Reproduce**
Steps to reproduce the behavior:
1.  Set up project
2. run storyboo

[2019-02-25 21:53] tmeasday commented on #5684
@codestitch -- what is the content of `button.component.scss`? Can you upload your code somewhere?

[2019-02-25 21:54] tmeasday commented on #5574
@CodeByAlex have you tried in v4? I'm just wondering if this is a regression or a plain bug

[2019-02-25 21:55] tmeasday commented on #5458
Hi @CodeByAlex -- how did you install the addon? Can you upload a version of your code somewhere?

[2019-02-25 21:58] CodeByAlex commented on #5574
@tmeasday This worked in V4 using both ticks and spaces which is why I found it odd. Was the markdown library or code changed for V5?

[2019-02-25 21:59] tmeasday commented on #5574
@CodeByAlex I think the area we render the code in changed? I'm not really sure TBH, I am just trying to triage it at this point :)

[2019-02-25 22:02] CodeByAlex commented on #5458
I am unable to upload the exact code that I am using but here is the config code:

[code]

Here is the addonJS:
[code]

Here are the dev deps from the package json:
[code]

[2019-02-25 22:11] CodeByAlex commented on #5458
I am seeing this though: warn: ["usage is deprecated, use .addParameters({ viewport }) instead"]
0: "usage is deprecated, use .addParameters({ viewport }) instead"

[2019-02-25 22:19] tmeasday commented on #5458
OK, it looks like maybe we can add better back-compat here.

[2019-02-25 22:20] CodeByAlex commented on #5458
@tmeasday Am I adding it in incorrectly?

[2019-02-25 22:21] tmeasday commented on #5458
@CodeByAlex sure, so the new API is just configure it via parameters:

[code]

[2019-02-25 22:22] CodeByAlex commented on #5574
I am also receiving these errors when I click to the notes tab:
[code]

[2019-02-25 22:22] tmeasday commented on #5458
I guess it should still be showing up. I'll dig into that

[2019-02-25 22:24] CodeByAlex commented on #5458
Yeah for good measure I tried that too and it didnt show so it must be something else

[2019-02-25 22:31] nickdandakis commented on #4947
Your idea of what Storybook and `addon-knobs` does is correct. However, I think you're confused about how props and state work in Vue, which is irrelevant to Storybook and this issue.

Consider only setting `enabled` as a prop, instead of deriving state from it (which is generally an anti-pattern), and look into the pattern of controlled vs uncontrolled components. You're mixing the two here, whic

[2019-02-26 00:13] pisrael commented on #3346
We are using storybooks + lerna + typescript. What solved for us was mixing @i-like-robots with @psychobolt:

[2019-02-26 00:36] Jack-Barry commented on #4947
@nickdandakis No worries, thanks for the pointers! I'll rethink the approach.

[2019-02-26 02:02] #5755 closed

[2019-02-26 02:29] Jessidhia opened #5757 "Viewport addon hidden by default, does not accept defaultViewport parameter"
**Describe the bug**
`@storybook/addon-viewport` crashes on initial render, which causes storybooks to render a blank page.

**To Reproduce**
It seems that all that you need is to specify a `defaultViewport`:
![image](https://user-images.githubusercontent.com/73085/53382807-c269f380-39b8-11e9-8066-db98f5c74fb7.png)

When it is converted by `toList`, it splits the string:

![image](https://user-ima

[2019-02-26 02:32] Jessidhia commented on #5757
Likely broken by https://github.com/storybooks/storybook/commit/a86e25f0403c5a729fffdf0606f06c7dd4be02c8#diff-0b19096a27d5827867e96b205e01a2ffR13 because it treats the `string` as an `object`, copying the enumerable properties.

[2019-02-26 02:42] Jessidhia commented on #5757
This seems to have been a misconfiguration: https://github.com/storybooks/storybook/tree/next/addons/viewport#change-the-default-viewport

(change from the alphas? or was it just misconfigured all along?)

[2019-02-26 02:55] Jessidhia commented on #5757
It seems the deprecation message in `configureViewport` is misleading.

[2019-02-26 06:44] shilman opened #5772 "Search menu item broken"
**Describe the bug**

Clicking on the 'search' menu item does not place focus in search box

Note:
- Typing `/` triggers the search
- Clicking in the search box triggers the search

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://next--storybooks-official.netlify.com/
2. Click menu > search
3. Start typing

**System:**
 - Browser: Chrome, Firefox
 - Version: 5.0.0-rc.6

[2019-02-26 09:20] shilman commented on #5486
Related #5239

[2019-02-26 09:29] VanDoornP commented on #5708
Okay, it took some time, but I was finally able to track down the problem.

I tried several loaders in a clean react app install without storybook, and found out that the loader I needed was "[raw-loader](https://github.com/webpack-contrib/raw-loader)" (I wanted the content of the file). The next problem was that I had already tried this loader in storybook and, like the others, it yielded the sta

[2019-02-26 09:30] #5382 closed

[2019-02-26 12:08] jameshughes7 opened #5774 "Angular-Storybook: a11y addOn does not show violations when it should do"
**Describe the bug**
When using the a11y storybook addon, scenarios which should return violations but are not doing so.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit [Storybook official netlify link](https://next--storybooks-official.netlify.com/?path=/story/addons-a11y-basebutton--invalid-contrast)
2. Note how there are  **_No a11y violations found_** with the **Invalid contrast**

[2019-02-26 15:00] CodeByAlex opened #5775 "[Addons: Backgrounds] - Duplicating default color block"
**Describe the bug**
The default color block in the backgrounds tab is being duplicated on every switch of a tab and when the default block is clicked

**To Reproduce**
Steps to reproduce the behavior:
1. Set up project
2. Apply the background addon globally in the addonjs and configjs
(May be a backward compatibility issue)
[code]
The following way of adding backgrounds does not work in angular
[

[2019-02-26 16:27] CodeByAlex commented on #5775
Also What is this:
![image](https://user-images.githubusercontent.com/29763590/53428831-7d928c80-39b9-11e9-9eed-860a731ddd6e.png)
Is that supposed to show up in the toolbar when using backgrounds?

[2019-02-26 18:49] d3bgger commented on #4479
turns out that storybook can't find react-scripts config because i use a forked package instead.
"info => Using base config because react-scripts is not installed."
I tested without my forked react-scripts and it works ok.

Any ideas how can i make storybook read the forked config?

[2019-02-26 19:04] sealightPT opened #5777 "addon-info: prop descriptions are empty with CRA"
The prop descriptions don't show for my React App components.
The App was created with CRA and it's not ejected.

![image](https://user-images.githubusercontent.com/10246381/53439106-375d1d80-39f9-11e9-98a8-84c01639681f.png)

Example:

[code]

[code]

my package.json devDependencies are:

[code]

[2019-02-26 19:07] ryancat opened #5778 "Cannot import umd/commonjs bundle in stories"
**Describe the bug**
Tried to import an umd bundle in stories file and got warning in webpack (v4) that cannot find exports from the bundle.

Further investigation leads to "no exports provided" for the umd bundle when webpack tries to bundle the stories. Compare to other cases where I import from source code, I found webpack is using harmony-module.js instead of module.js to process the module, w

[2019-02-26 19:32] Kacppian commented on #5278
Can I pick this up please?

[2019-02-26 19:32] Kacppian commented on #4976
Is this still open?

[2019-02-26 19:33] Kacppian commented on #5624
Can I work on this?

[2019-02-26 20:50] gaetanmaisse commented on #5774
Storybook is not displaying any violations because in this case (BaseButton | Invalid contrast) `axe-core`, the library we are using for a11y, doesn't return any violations.

In fact this `color-contrast` rule is not in "passing" rules array neither but in `incomplete`.
![image](https://user-images.githubusercontent.com/4112568/53444999-d68d0f80-3a0f-11e9-81c4-e8e178c5d2c3.png)

 As [per doc](http

[2019-02-26 21:06] mattrothenberg commented on #5754
FWIW, this is now working beautifully after updating to latest release candidate ❤️

[2019-02-26 21:36] CodeByAlex opened #5779 "Addon Panel - Set to its max width and overlaps component after toggle"
**Describe the bug**
Addon panel is moving to a max width when trying to switch from bottom to Left

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a project for angular app with Storybook
2. Click on panel toggle and watch the addon panel widen far passed the component in view

**Expected behavior**
the addon panel should either be set to an acceptable width or fit to the component w

[2019-02-26 23:30] ozzyogkush commented on #4976
I haven't had a chance to try anything. I'm not sure if this is even possible, if it'd require usage of something like .mdx (MD mixed with JSX) to be able to resolve the included assets correctly, etc.

[2019-02-27 01:38] Hypnosphi opened #5780 "Using any theme makes addon-a11y crash"
1. Use a theme, e.g.:

[code]

2. Open accessibility tab

Page crashes with
[code]

[2019-02-27 02:19] Hypnosphi opened #5781 "v5 applies decorators to all the kind, no matter where it's placed"
[code]

V4: only second story is centered
V5: both stories are centered

This should be either fixed or documented in `MIGRATION.md`

[2019-02-27 02:22] shilman commented on #4479
@d3bgger The relevant code is here: https://github.com/storybooks/storybook/blob/next/app/react/src/server/cra-config.js

We'll be documenting these presets more comprehensively after the v5 release

[2019-02-27 02:30] shilman opened #5782 "Addon-a11y: Show "incompletes" in a tab"
Currently addon-a11y displays passes and fails. However, the underly library we use also returns "incompletes" that could not determined to be passed or failed. We should show these in a tab!

Hat tip to @gaetanmaisse for the feature suggestion: https://github.com/storybooks/storybook/issues/5774#issuecomment-467608025

[2019-02-27 02:30] shilman commented on #5774
Thanks @gaetanmaisse . Opened a new feature request for this and closing this issue for now.

[2019-02-27 02:30] #5774 closed

[2019-02-27 02:36] shilman commented on #4976
@Kacppian @ozzyogkush I'll be picking up work on rich documentation in Storybook as soon as the v5 release is out the door. If you're interested in collaborating please give me a holler on the Storybook discord!

Related: https://github.com/storybooks/storybook/issues/1147

[2019-02-27 03:47] iamgbayer opened #5783 "Addon-info not show component source props and props table correct"
**Describe the bug**
In story source, not is showing component props like example above, and the table not render borders correctly.

**Screenshots**
![screen shot 2019-02-27 at 00 41 03](https://user-images.githubusercontent.com/5483459/53464278-663eb800-3a28-11e9-900e-b8914377881a.png)

**Code snippets**
Story code
[code]

Component code
[code]

**System:**
 - OS: [MacOS]
 - Device: [Macbook Pro

[2019-02-27 05:48] shilman commented on #5783
Styling issue addressed reported and being addressed in #5278

The missing props is new. What is your webpack setup? Are you using `create-react-app`?

[2019-02-27 07:12] theKashey opened #5784 "setOptions resets to the defaults"
**Describe the bug**

`setOptions(options)` would reset all not listed options to the default value.
basically, new options got merged with default ones, not the current ones.

**To Reproduce**
Steps to reproduce the behavior:
1. add setOptions({anything}) to the `.storybook/config.js`
2. open storybook with `full=1`
3. Page would be loaded with `full=0` (default)

**Expected behavior**
In 4-alpha

[2019-02-27 07:20] shilman commented on #5784
cc @tmeasday

[2019-02-27 07:59] shilman opened #5785 "Fix welcome component to work with dark theme"
Currently the welcome component that `sb init` installs has no background and is unreadable with the dark theme. It's a detail, and presumably most people delete the story anyway, but it's an ugly detail. 😄

<img width="753" alt="storybook" src="https://user-images.githubusercontent.com/488689/53474673-b2314180-3aa8-11e9-879e-aa2fdec497ff.png">

[2019-02-27 08:13] Nejik commented on #5704
same history with vue storybook installed withvue-cli-plugin-storybook, but i changed prop "id" to "name", and it works

Working example:
`addParameters({
    cssresources: [{
        name: `bluetheme`,
        code: `<style>body { background-color: lightblue; }</style>`,
        picked: true,
      },
    ],
  })`