[2017-08-24 08:00] vjpr opened #1728 "getstorybook custom package manager setting"
- I want to use `pnpm` to install packages.
- I would also like a way to disable the installation step.

[2017-08-24 08:12] vjpr opened #1729 "`babel-plugin-transform-regenerator` and `babel-plugin-transform-runtime` missing from `app/react/package.json`"
I assume in the other projects (app/vue) too.

[2017-08-24 08:54] #1637 closed

[2017-08-24 09:02] Gongreg commented on #1192
@tmeasday, this commit broke rn for me.

Both provider and manager breaks.

[code]
It had a check for channel before, now you simply throw up.
So we need to either add try catch around these lines, or revert the change.

[2017-08-24 11:43] designervga commented on #1726
[code]

Same problem here. I updated it today and still can't run the 'storybook' command.
I'm on Windows 10.

[2017-08-24 12:34] ndelangen commented on #1726
Yeah this makes sense... You need:
`"@storybook/react-native": "^3.2.8"`

NOT
`"@storybook/react": "^3.2.8"`

[2017-08-24 12:35] ndelangen commented on #1726
Please re-open this issue if this doesn't fix your problem

I'm really certain it will!

[2017-08-24 12:35] #1726 closed

[2017-08-24 15:03] LukasMac commented on #25
Header file for story book is called `preview-head.html` Reference:
https://storybook.js.org/configurations/add-custom-head-tags/

[2017-08-24 15:11] danielduan opened #1731 "No custom babel config option for static builds"
There's no way to add a custom `.babelrc` to static prod builds. Discovered during https://github.com/storybooks/storybook/issues/1661

It might be helpful to be on feature parity with dev builds for this one.

[2017-08-24 15:15] qwert666 commented on #1678
@danielduan 3.2.6 doesn't help either

[2017-08-24 19:50] ccutch commented on #344
Link is broken

[2017-08-24 20:45] obibring commented on #1726
@ndelangen, thanks! Apart from incorrectly installing `@storybook/react` instead of `@storybook/react-native`, I see several `@storybook` related dependencies that were *not* installed in my local repo that *are* listed in the [package.json file you referenced](https://github.com/storybooks/storybook/blob/master/examples/react-native-vanilla/package.json). Do I need to install the following?:
[cod

[2017-08-24 22:22] arpankotecha opened #1734 "npm test gives setupFiles option was not found Validation error"
I'm running:
mac osx 10.12.5
npm 5.3

Followed the following instructions:
[code]

Ran
`
npm test
`

I get the following errors:
[code]

Do I need to do anything before I can run tests?

[2017-08-24 23:18] Hypnosphi commented on #344
@ccutch thanks, updated that

[2017-08-24 23:27] Hypnosphi commented on #1734
You need to bootstrap RN-vanilla as well: `npm run bootstrap -- --core --react-native-vanilla`

@ndelangen I believe we should add that either to `CONTRIBUTING.md` or to `pretest` script

[2017-08-24 23:46] Ethaan commented on #1718
Made a repo where you guys can take a look.

https://github.com/Ethaan/storybook-bug

[2017-08-25 04:40] codeHatcher commented on #1466
same issue

[2017-08-25 05:17] ndelangen commented on #1726
You could choose to install and use these:
[code]
But they are optional. They are addons enriching storybook's functionality.

The other packages are internal and you do not need them inside your `package.json`.

---

You can view package versions on npmjs.com or in your terminal by running `npm view <packagename>`.

[2017-08-25 07:00] puffstream commented on #1726
Hey everyone, thanks for all the replies, storybook is truely thriving!!

Here's what helped to get it working...

@ndelangen "@storybook/react-native": "^3.2.8" big ups!

And also installing some babel packages was needed...

babel-preset-es2015, babel-preset-stage-2

aWesome!!

[2017-08-25 07:54] michalg42 opened #1735 "Can't get props for addon-info when using decorator (higher order component) on my component"
Hello

I wanted to use addon-info to get props in stories, but I got something like this in PropTypes section:
"withTheme(withStyles(Avatar))" Component
No propTypes defined!
Well, that's obvious for me why it's like this, but I would like to get props for Avatar, not its HOC. I couldn't find how to do it in readme, neither in issues.
How can I achieve this?

[2017-08-25 08:43] victorandree opened #1736 "Ability to refresh (force rerender) of story"
It would be neat if addons could tell the Storybook API to refresh a given story. Using [storybookAPI.selectStory()](https://storybook.js.org/addons/api/#storybookapiselectstory) does nothing if the story is already selected.

This would be useful when a story wants to customize hot-reloading to maintain parts of its state, through e.g. a Redux store. This would support stories like this:

    imp

[2017-08-25 10:05] Hypnosphi commented on #1735
Are those HOCs your own, or are they taken from some library like recompose? If the former, you may want to extend the output with static methods from input:
[code]

[2017-08-25 10:33] michalg42 commented on #1735
Unfortunately for me they are from libraries, in my case these are react-intl and material-ui (v1).

[2017-08-25 11:28] RomainGoncalves opened #1737 "Props order"
Hi there,

sorry quick question. Is there a set order for the props display in the table?
They seem to be totally random yet fixed. Every refresh yields the same order, but I can't find how to organise them properly.

Thanks for any clue

[2017-08-25 11:39] mymachine8 opened #1738 "@storybook/react-native is not installed when using getstorybook"
I followed the below steps,

1. npm -g i @storybook/cli
2. went to the project directory and ran getstorybook
3. now when I try to do, npm run storybook it is throwing me an error

version:
<img width="550" alt="screen shot 2017-08-25 at 5 08 49 pm" src="https://user-images.githubusercontent.com/7432847/29712560-1eb936f8-89b8-11e7-8c7a-cdd914b085ea.png">
storybook/cli@3.2.8

[2017-08-25 11:56] TomiS commented on #1699
Yes! I ran into this problem in less than 10 minutes with Storybook. I'd also consider this as a bug and not a feature improvement. I think Storybook should merge the nested structure independent of how it is exactly defined.

[2017-08-25 12:13] ndelangen commented on #1736
This is really interesting!
We actually do need a good method to push new data to a currentSelectedStory, because Vue and Angular work quite different from react. And we want to wrap the storyFn as little as possible actually.

#1209

[2017-08-25 13:48] ndelangen commented on #1699
I think the desired output IS clearly what everyone expects and wants us to do.

And I agree 100% that's what we want too.
Who's interesting in making a PR for this?

[2017-08-25 14:50] danielduan commented on #1737
They are ordered based on how they are listed inside your react component.

[2017-08-25 14:54] danielduan commented on #1738
try using `yarn run storybook`.

My guess is, you're probably running an older npm version. older versions of npm don't support executing a bin from the local node_modules install.

[2017-08-25 15:09] mymachine8 commented on #1738
manually installing, `npm install --save @storybook/react-native` fixed my issue. Some how this library is not added in my package.json when I ran ` getstorybook`

[2017-08-25 15:15] UsulPro commented on #1735
@michalg42 There two ways to get props in your case.

1. You can simply add everything you need into `propTables` option like this:

[code]

2. You can separate your component from HOC. It means you can add High Order Components via `addDecorator` and then apply `withInfo` to your `<Avatar>` and add it as a story. I guess it's more "Storybook" way.

If you're using Material-UI library you might tr

[2017-08-25 17:05] igor-dv commented on #1699
I'll take it 😉

[2017-08-25 17:26] danielduan commented on #1738
Think this is a bug. Looks like `@storybook/react-native` isn't added during `getstorybook`.

https://github.com/storybooks/storybook/blame/master/lib/cli/generators/REACT_NATIVE/index.js#L12

[2017-08-25 19:03] Ethaan commented on #1718
Seems like i got this wrong, i made this work by using `components` + `template`, so.

[code]

Comming from `vue-play` , `render` + `methods` works (maybe here too i just didn't make it work), but atleast its working now, closing

[2017-08-25 19:03] #1718 closed

[2017-08-25 21:07] ndelangen commented on #1737
Please re-open if the answer doesn't work or you've found a bug ♥️

[2017-08-25 21:07] #1737 closed

[2017-08-25 21:10] ndelangen commented on #1728
Yeah this sounds do-able. However going to be honest, our CLI does really need a complete overhaul, but it's low on the priority list.

[2017-08-25 21:11] ndelangen commented on #1728
We'd love help with this, so if anyone reads this and like writing CLIs please post here or come talk to us on slack. 👍

[2017-08-25 21:17] ndelangen commented on #1738
@mymachine8 Do you think you could open a PR for this? It would help a lot of people out actually!

[2017-08-25 21:23] ndelangen commented on #1708
So to answer here, Currently this does not work,

It's a remote issue being addressed inside the vue-devtools. There's progress being made to resolve the issue.

The reason it's not working, is because the preview and vue binding is happening in an iframe.

[2017-08-25 23:02] vgpena commented on #802
Would the rgba value ideally appear in the URL as a part of the Knobs querystring, in addition to the hex value?

[2017-08-25 23:18] vgpena opened #1739 "Specific deep link options"
My project team has been using Storybook to, among other things, share dev progress with designers and project managers. Being able to send each other URLs deep linked to stories has been really useful.

It would be great to expand this utility to create per-story buttons that copy specific URLs to the clipboard:
- fullscreen deep link (handy for project managers to quickly review)
- hide componen

[2017-08-26 07:18] shilman commented on #1739
@vgpena I think there are a couple different aspects to this issue:
1. functionality to be able to link to a particular state
2. UI for how to do that

Disregarding the UI for a minute, I believe the functionality you're asking for already exists, but may not be easy to find. You can click on the "CMD" button in the upper left corner to see the keyboard shortcuts:

<img width="674" alt="storybook"

[2017-08-26 10:51] miljan-aleksic opened #1742 "Vuejs: the stories are executed twice"
Hi, I detected my components are executed twice, at least when using Vuejs (didn't try with React). I am testing with latest 3.2.8 version. To reproduce just create a simple story like this:

[code]

The component above should be inited once, but is done so twice. Can anyone try and confirm this issue?

[2017-08-26 13:03] lifeiscontent commented on #802
@vgpena I'd imagine so if that's how it currently behaves. I'm unsure because I haven't written a story in several months.

[2017-08-26 13:50] kazupon commented on #1742
Hi!
Thank you for your reporting!

I could not reproduce it.
Could you provide the reproduction repo please?

[2017-08-26 14:02] kazupon commented on #1653
close due to released v3.2.8
https://github.com/storybooks/storybook/releases/tag/v3.2.8

[2017-08-26 14:02] #1653 closed

[2017-08-26 14:03] kazupon commented on #1529
close due to released v3.2.8

[2017-08-26 14:03] #1529 closed

[2017-08-26 15:07] danielduan commented on #403
Same problem in IE #1691

[2017-08-26 15:09] danielduan commented on #1691
gonna close this duplicate issue.

[2017-08-26 15:09] #1691 closed

[2017-08-26 15:13] danielduan commented on #124
#1740 solves part of this problem by changing the iframe size.

[2017-08-26 15:14] danielduan commented on #155
I think this is fixed now by #1667  @ndelangen?

[2017-08-26 15:19] danielduan commented on #548
Looks like this has been added? Please reopen if there's still issues.

[2017-08-26 15:19] #548 closed

[2017-08-26 15:59] shilman commented on #1738
I fixed this and released it in [v3.2.9](https://github.com/storybooks/storybook/releases/tag/v3.2.9). Sorry for the hassle!

[2017-08-26 15:59] #1738 closed

[2017-08-26 17:03] UsulPro commented on #1739
My two cents to this:
Knobs panel has "Reset" button which sets all knobs to the default values and changes the URL appropriately. Isn't it same as you asking for

[2017-08-26 19:09] Alexandr-Lipnitskiy opened #1743 "Flow with storybook"
After installing flow in my Create React App based application I have next error.

[code]

I found that issue appear when I added ".babelrc" file in my root directory.

[2017-08-26 20:11] Alexandr-Lipnitskiy commented on #1743
I solved just add

[2017-08-26 20:14] #1743 closed

[2017-08-26 23:54] Hypnosphi commented on #403
And Edge as well

[2017-08-27 00:02] Hypnosphi commented on #403
As soon as we rename "left panel" to "stories panel" we can introduce `Ctrl + Shift + S` while keeping to support `Ctrl + Shift + L` for backward compatibility. For showing search panel, it seems quite natural to use `Ctrl + Shift + F`.

[2017-08-27 00:36] #1671 closed

[2017-08-27 05:40] miljan-aleksic commented on #1742
Hi @kazupon!

Nothing extra in my configuration, I used the CLI and added the created method. I did notice that this happen only on first init, so only when refreshing the browser page manually, it doesn't happen when switching to another story.

Anyway, here is the test repo https://github.com/miljan-aleksic/test-storybook. Switch to MyButton story, refresh the page and check the console.log. Tes

[2017-08-27 09:27] ndelangen opened #1746 "Do a proper full test of CLI in CI"
We've had some regressions in the @storybook/cli package lately.

This is a clear signal we need proper tests that cover this behavior.

I would love for someone with great testing skills to add a script that properly tests the CLI.

I envision we have some basic fixtures of possible projects. Much like how [lerna has fixtures for their commands](https://github.com/lerna/lerna/tree/master/test/fix

[2017-08-27 09:27] ndelangen commented on #1746
Looking for someone who wants to pick this up!

[2017-08-27 13:20] vhflat commented on #1630
Yup, the bug was in the corporate firewall.

[2017-08-27 14:54] mattrothenberg opened #1747 "Some components seem to trigger an infinite loop in render function in Vue"
Hey, thanks for building such an awesome project! Stoked that we Vue.js developers can finally take advantage of it.

I ran into the following issue when trying to use the `knobs` addon.

Assuming I have a template marked up thusly:

[code]
And a Vue component with a `computed` property marked up thusly:
[code]

My console inevitably blows up with the following error.
![screen shot 2017-08-27 at 1

[2017-08-27 14:55] danielduan commented on #1630
Thanks for reporting back. I'm gonna close this issue.

[2017-08-27 14:55] #1630 closed

[2017-08-27 15:37] ndelangen commented on #1747
I have seen this happen, but I haven't been able to pinpoint why or how this happens.

If someone could help debug this?

🤗

[2017-08-27 15:38] mattrothenberg commented on #1747
@ndelangen I'll put together a sample repository :)

[2017-08-27 15:58] mattrothenberg commented on #1747
@ndelangen https://github.com/mattrothenberg/storybook-test

As it turns out, I wasn't totally accurate in my initial diagnosis of the problem. I only started seeing the infinite loop error after pulling in a particular component from my favorite Vue UI library, [Element UI](http://element.eleme.io/#/en-US/component/select).

It appears that simply adding this particular component to the `template

[2017-08-27 18:59] Hypnosphi commented on #1746
In case of CRA/CRNA templates, we should also check that things work with current version of the boilerplate (see your [concern](https://github.com/storybooks/storybook/pull/1647#issuecomment-324149958)). In that case we can't use snapshots as they will change because of external reasons

[2017-08-27 20:40] danielduan commented on #724
storybook react and react-native should be compatible after https://github.com/storybooks/storybook/pull/1674 and https://github.com/storybooks/storybook/pull/1673

[2017-08-27 20:40] #724 closed

[2017-08-27 20:46] danielduan commented on #701
This should be working as intended. The only way to configure a custom `.babelrc` file is to place one in the `.storybooks` folder. Please reopen if there's another issue related to this.

[2017-08-27 20:46] #701 closed

[2017-08-27 20:51] danielduan commented on #693
You can add global styles to the `preview-header.html` file. It will only be included in the iframe.
https://storybook.js.org/configurations/add-custom-head-tags/

Closing this issue, please reopen if there's still a problem.

[2017-08-27 20:51] #693 closed

[2017-08-27 20:57] Hypnosphi commented on #1746
Alternatively, we could add `create-react[-native]-app` as `devDependencies` and run them before each test on CI. Whenever those packages update, we'll get a PR from greenkeeper bot

[2017-08-27 21:02] #807 closed

[2017-08-27 21:21] igor-dv commented on #887
Should it be marked as merged if it's merged to the release branch ?

[2017-08-27 21:23] danielduan commented on #841
Gonna close this one. create-react-native-app uses Expo. please reopen if there's still a problem.

[2017-08-27 21:23] #841 closed

[2017-08-27 21:25] danielduan commented on #834
You can certainly create a new "modules" project if you will by creating a new project using `create-react-native-app` and then adding storybook/react-native on top of it.

Please reopen if there's still a problem.

[2017-08-27 21:25] #834 closed

[2017-08-27 21:29] danielduan commented on #1095
you can also try using `require.resolve('babel-plugin-name')` in the `.babelrc` as well.

[2017-08-27 21:42] #1095 closed

[2017-08-27 21:44] danielduan commented on #1072
Please reopen this issue if there's still a problem.

[2017-08-27 21:44] #1072 closed

[2017-08-27 21:47] danielduan commented on #1247
If this is still a problem on later versions, please reopen this issue.

[2017-08-27 21:47] #1247 closed

[2017-08-27 21:48] danielduan commented on #1252
If this is still an issue, please reopen this.

[2017-08-27 21:48] #1252 closed

[2017-08-27 21:50] danielduan commented on #1234
If this is still a problem on the latest versions, please reopen. The cli should now install `prop-types` by default.
https://github.com/storybooks/storybook/blob/master/lib/cli/generators/REACT_NATIVE/index.js#L45

[2017-08-27 21:50] #1234 closed

[2017-08-27 21:51] danielduan commented on #1228
Please reopen this if there's still a problem on the latest versions.

[2017-08-27 21:51] #1228 closed

[2017-08-27 21:52] danielduan commented on #1218
AFAIK this is complete?

[2017-08-27 21:52] #1218 closed

[2017-08-27 21:55] danielduan commented on #1203
If this is still an issue on the latest versions, please reopen.

[2017-08-27 21:55] #1203 closed

[2017-08-27 21:56] xareelee opened #1748 "specify storybook path"
I have multiple React Native apps in one monorepo:

[code]

when I use `yarn storybook`, it search and use the scripts in my `package.json`:

[code]

but it shows errors in my console:

[code]

How can I specify the path to the `storybook/` folder I want to pack and launch?

For example:

[code]

[2017-08-27 21:58] #722 closed

[2017-08-27 22:01] danielduan commented on #1141
Related to https://github.com/storybooks/storybook/issues/1661, fixing the docgen part here: https://github.com/storybooks/storybook/pull/1725.

Will require a separate PR to set `NODE_ENV` in Webpack for `prop-types` for components that can't be documented using docgen.

[2017-08-27 22:04] danielduan commented on #1346
Think we've settled on using yarn so no npm lock files. https://github.com/storybooks/storybook/pull/1703

[2017-08-27 22:04] #1346 closed

[2017-08-27 22:11] danielduan commented on #1321
not sure what this is, can we close or update something?

[2017-08-27 22:17] danielduan commented on #1291
If I'm understanding correctly, you'd like `test.dev/storybook` to be your static build of storybook.

You can just put everything inside `/storybook` in your root http server directory. You can use `build-storybook -o file_path` to set the directory: https://storybook.js.org/basics/exporting-storybook/

If there's still an issue, please reopen this.

[2017-08-27 22:17] #1291 closed

[2017-08-27 22:19] #1263 closed

[2017-08-27 22:21] #1465 closed

[2017-08-27 22:23] danielduan commented on #1459
If the workaround isn't sufficient, please reopen this. PRs are always welcomed!

[2017-08-27 22:23] #1459 closed

[2017-08-27 22:24] danielduan commented on #1458
it should be `npm install http-server -g` with the space before `-g`. Not entirely storybook related, but hope that helps.

[2017-08-27 22:24] #1458 closed

[2017-08-27 22:26] danielduan commented on #1457
still an issue?

[2017-08-27 22:28] #1429 closed

[2017-08-27 22:37] danielduan commented on #1398
Please reopen if there's still an issue.

[2017-08-27 22:37] #1398 closed

[2017-08-27 22:42] danielduan commented on #1402
the static build does not use read the babel file in `.storybook/.babelrc`, could the build be missing some transforms such that uglify doesn't work?

also, our babel preset has recently been updated to use `env`. https://github.com/storybooks/storybook/pull/1668

are there still issues with the static build here?

[2017-08-27 22:43] #1392 closed

[2017-08-27 22:45] danielduan commented on #1563
if this is still an issue, please reopen.

[2017-08-27 22:45] #1563 closed

[2017-08-27 22:46] #1369 closed

[2017-08-27 22:47] danielduan commented on #1540
https://github.com/storybooks/storybook/pull/1674 we've moved everything over.

[2017-08-27 22:47] #1540 closed

[2017-08-27 22:48] danielduan commented on #1557
I'll get rid of the individual changelogs.

[2017-08-27 22:51] danielduan commented on #1519
@pselden You are more than welcome to open a PR to get that integrated.

[2017-08-27 22:58] #1470 closed

[2017-08-27 23:02] danielduan commented on #1479
Is this safe to close? I don't see any mention of `babel-preset-airbnb` in our codebase anymore

[2017-08-27 23:33] danielduan commented on #1748
you can set your `package.json` in `apps/FirstReactNativeApp` to do `storybook start -p 7007`. same with the other app.

then in your root `package.json`, you can have something like
[code]

[2017-08-27 23:48] tmeasday commented on #887
Not sure. I guess so, so people know it is solved?

[2017-08-28 00:09] priley86 opened #1749 "Angular feature branch: Storybook Deployer fails"
I've been playing around with the Angular support branch contributed [here](https://github.com/storybooks/storybook/tree/269-angular-support).

After building this in a fork and consuming it in a sample Angular CLI app, it looks the Storybook Deployer/ compiled static assets break when deploying to gh-pages.

Test repo:
https://github.com/priley86/storybook-ng-wc-demo

Error thrown here upon compi

[2017-08-28 00:12] priley86 commented on #1749
cc @alterx

[2017-08-28 01:40] danielduan commented on #1478
I'm convinced this doesn't affect anything since I can still commit and push just fine. Closing.

[2017-08-28 01:40] #1478 closed

[2017-08-28 01:40] danielduan commented on #1475
Same with this, convinced it doesn't actually break anything.

[2017-08-28 01:40] #1475 closed

[2017-08-28 01:51] #1321 closed

[2017-08-28 01:53] danielduan commented on #842
We have #1012 now. I'd say this satisfies having a suite of tests.

[2017-08-28 01:53] #842 closed

[2017-08-28 02:14] danielduan opened #1750 "Group Stories in Example Apps by Addon or Feature"
Changes are really hard to test right now on our example apps. It's hard to find which component uses which addon and what features of the addon where.

I think it'd be nice if we follow a hierarchy that reflects the example's feature set.

### example:
* Addon-Info
  - Docgen
    * React Prop Table
    * React Flow Prop Table
    * Imported Component Prop Table
  - Options
    * Custom Component

[2017-08-28 02:21] danielduan commented on #1669
You're more than welcome to submit a PR and add them

[2017-08-28 02:26] xareelee commented on #887
Has it been released? When or how can I start to use this nice feature? 😄

[2017-08-28 02:27] tmeasday commented on #614
This one is really annoying me right now. Will take a look.

[2017-08-28 02:36] xareelee commented on #1748
I use [lerna](https://github.com/lerna/lerna) for monorepo. I install `storybook` in the root `package.json` for all projects, not app's `package.json`.

[code]

When I ran `yarn storybook` to execute the npm script `storybook start -p 7007` under an app project, it doesn't find the storybook command in the `node_modules` of that app project.

[2017-08-28 02:40] danielduan commented on #1748
You should be using lerna to start storybook then:
https://github.com/lerna/lerna#run

`lerna run --scope FirstReactNativeApp storybook` or whatever you have your different apps named

[2017-08-28 02:53] tmeasday commented on #887
Hi @xareelee -- we'll do a 3.3 alpha soon, you can try installing that.

[2017-08-28 03:57] igor-dv commented on #1750
I have had the same thoughts 👍

[2017-08-28 04:31] Hypnosphi commented on #1739
Let’s make it a link (using `RoutedLink` from `@storybook/components`)

[2017-08-28 08:37] RomainGoncalves commented on #1737
Ok I see that I need to upgrade to at least 3.2.7. I'm at 3.2.4 right now.

Thanks

[2017-08-28 08:57] UsulPro commented on #1750
I like this approach! :+1:

I would also discuss :

- remove from cra-kitchen-sink examples emitting deprecating (and any other) warnings

- move big branches into separate files

- where to keep subcomponents of a package if we need them for development? For example, addon-info has a bunch of own components in [src/components](https://github.com/storybooks/storybook/tree/master/addons/info/src/co

[2017-08-28 08:59] sky790312 opened #1751 "Addons require `react` peer dependencies for Vue Storybook"
I use vue with stoyrbook and want to add more addons like centered, noted..etc.
I follow the step to install:
https://www.npmjs.com/package/@storybook/vue
Then I get default addons 'actions' and 'links' and example.
But when I want to install other addons, It fails without react dependency

[code]

https://github.com/storybooks/storybook/blob/afeebe035814193a9d970b6b613236b08eda2519/addons/centere

[2017-08-28 09:32] ndelangen commented on #1746
I like that idea @Hypnosphi

[2017-08-28 09:41] #1457 closed

[2017-08-28 10:52] Hypnosphi commented on #1746
I'm not sure though that greenkeeper can track non-root package.json

[2017-08-28 11:25] mmintel commented on #681
Sad you closed this issue without providing your solution, i have the same problem :(

[2017-08-28 11:40] D1no commented on #1503
The new packanger implementation https://github.com/storybooks/storybook/pull/1568 solves this issue and is not a problem anymore with the current storybook release [v3.2.9 as of this writing].  Therefore I close this.

[2017-08-28 11:40] #1503 closed

[2017-08-28 13:40] danielduan commented on #1750
I think that's a great idea, but it's nice to have one example that checks backward compatibility so that it doesn't regress.

Yes, 100%! I was thinking a new file per top level group

I see the kitchen sink more as an example app and also a testing environment for us. But I think it's possible we can add a top level dev file that includes components for development as well.

[2017-08-28 13:45] danielduan commented on #1751
You can install the react package in the root directory of your project where `@storybook/vue` is installed.

I wonder if we should also include that in the documentation and cli to automatically install `react` for the other platforms as well.

[2017-08-28 13:46] danielduan commented on #1678
Does anyone have a project I can clone on github to test this out?

[2017-08-28 13:57] #1748 closed

[2017-08-28 15:37] ndelangen commented on #1734
Yes that would resolve the issue indeed.

@arpankotecha In order to run all unit tests (including the ones for react-native) you have to have bootstrapped the react-native part of the codebase too!

Sorry our documentation is a bit lacking here, I'm working on improving this.

[2017-08-28 15:37] #1734 closed

[2017-08-28 18:41] duro opened #1754 "Debugging in VSCode"
I'm trying to setup remote debugging in VSCode for my storybook components. However, when i launch storybook using the Chrome Remote Debugging plugin in VSCode it says that is cannot find my source. I'm assuming this has to do with the iFrame window that the actual stories run inside of.

Has anyone successfulyl setup remote debugging in VSCode for Storybook stories? Is there a `launch.json` confi

[2017-08-28 19:26] GabrielDuarteM commented on #790
Is someone looking into this? i'd love to see this working!

Now it seems kinda broken when using oneOf proptypes, because it simply shows a blank space

[2017-08-28 19:43] UsulPro commented on #1750
Maybe we could put all deprecated examples into a separate story file in order to switch it off easily?

I fully agree with this! In this point, it makes sense to keep all warnings with it. But if you run it as a dev tool it could be not very convenient.
How can we import subcomponents from other packages?

[2017-08-28 19:51] creaux opened #1755 "Global addDecorator not loaded"
I see you already trying to solve this issue here #879 but I experiencing maybe the same. I haven't digged into deeply but following code making issue.

[code]

Error is following...

[code]

I'm using `styled-components` which expecting that I will use with HOC from this is quiet straightforward that hoc is not able to gather context data properly.

[2017-08-28 19:56] UsulPro commented on #1755
@creaux did you try to put `addDecorator` inside `loadStories()` as a workaround:

[code]

[2017-08-28 20:27] ndelangen commented on #1754
Sounds like something @orta might know a few things about? 🙏

[2017-08-28 20:44] nk8 opened #1757 "Add Atlassian to Homepage examples"
Atlassian's AtlasKit is the best implementation of Storybook I've seen yet. It definitely deserves to be added to the homepage, maybe under "Used by these fine folks"

https://atlaskit.atlassian.com/components

[2017-08-28 20:53] danielduan commented on #1757
I don't think it's storybook under the hood. Looks like a custom framework they built with some design cues from Storybook and other similar projects.

[2017-08-28 21:22] nk8 commented on #1757
Hmm... any idea why they have the Storybook link and versioning dropdown at the top right? Maybe they are exporting to Storybook?

Thanks for the clarification @danielduan.

![atlas](https://user-images.githubusercontent.com/1020686/29794289-3fac271c-8bfc-11e7-8912-0472c82fb527.PNG)

[2017-08-28 21:26] danielduan commented on #1757
Oh I completely missed that! Yeah that linked page from the versions is definitely Storybook, but not the AtlasKit part with the blue styling.

[2017-08-29 02:31] Hypnosphi commented on #1746
Unfortunately, not: https://github.com/greenkeeperio/greenkeeper/issues/139
So maybe we should consider alternatives

[2017-08-29 02:32] uptownhr opened #1759 "nuxtjs support/setup?"
Anyone have experience getting storybook to work on a nuxtjs project? https://github.com/nuxt-community/modules/issues/127

[2017-08-29 04:30] MattKunze commented on #1493
I'm running into the same issue, it seems to happen when I have the storyshots addon installed and use dynamic module loading. Basically it's finding the sample dynamic stories in node_modules and failing when it tries to include them along with my code.

I'm able to work around this by only including the folders I want evaluated in 'config.js':

[code]

I haven't had luck getting it to exclude no

[2017-08-29 05:47] kazupon commented on #1742
@miljan-aleksic
Thank you for your feedback!

I checked it. it's bug.
I'll try to fix it later.

[2017-08-29 07:04] konsumer opened #1762 "addon-info: Component.__docgenInfo not defined."
I can't get the "description" field to show up in the PropType table in my project. I worked on #1030 with @bigassdragon and we had it working when all was done.

I tried with both methods to add info, and `.__docgenInfo` is undefined in both.

I did this in my config.js:
[code]

and made stories that looked like this:
[code]

and `Docs.js` looks like this:
[code]

I tried `class Docs extends Reac

[2017-08-29 07:24] creaux commented on #1755
it didn't help.

[2017-08-29 07:31] konsumer commented on #1762
I am pretty sure this is caused by react-docgen not being setup like it used to be. If I manually add my own `__docgenInfo`, it displays correctly:

[code]
<img width="641" alt="screen shot 2017-08-29 at 12 30 26 am" src="https://user-images.githubusercontent.com/83857/29809513-4dc93588-8c51-11e7-9bfe-c5a6d94f293a.png">

[2017-08-29 08:05] creaux commented on #1755
Okay I did directly this in decorator and it didn't helped.

[code]

So seems to be really somewhere else.

[2017-08-29 09:06] ndelangen commented on #1762
@danielduan Did this change recently?

[2017-08-29 10:22] konsumer commented on #1762
Honestly, I haven't really looked at it since it was working when I worked on it with @bigassdragon. I think it could be related to the move from @kadira to @storybook, but I'm not sure. If I look at the webpack config (in a custom config function) I don't see any of the react-docgen stuff I might expect, but I don't know what it used to look like.

[2017-08-29 11:16] igor-dv commented on #1699
What do you think about always putting stories at the beginning ? ()

![image](https://user-images.githubusercontent.com/7867954/29818340-942fd8e2-8cc4-11e7-8971-a3b6b7444f2c.png)

[2017-08-29 13:37] priley86 commented on #1749
@alterx, another observation here after playing some more w/ Custom Elements & ng in my fork...we'll need a way to provide schemas to the NgModule being used to render the stories. Given the current examples/documentation, I didn't see a good way to do this. I've changed the default module in my fork to include `CUSTOM_ELEMENTS_SCHEMA`, but I'm sure we can find a more flexible way to do this...

h

[2017-08-29 14:39] ndelangen commented on #1699
@igor-dv I'm pretty sure that's what everyone is expecting ✅

[2017-08-29 15:44] creaux commented on #1755
When I'm using addDecorator per each story it works!

[code]

Any thoughts?

[2017-08-29 15:48] danielduan commented on #1762
You actually don't need `window.STORYBOOK_REACT_CLASSES = {}` in your `config.js`. It got moved inside the package at some point.

I'm guessing that might have cleared the docgen info.

[2017-08-29 16:58] wojciech-bilicki opened #1765 "ModuleBuildError Unknown plugin"
Tried to use storybook with webpack configuration. No good.

` [ ModuleBuildError: Module build failed: Error: Couldn't find preset "es2015" relative to directory "/Users/mac/Development/MarvelApp/node_modules/react-inspector"`

`ModuleBuildError: Module build failed: Error: Couldn't find preset "es2015" relative to directory "/Users/mac/Development/MarvelApp/node_modules/react-modal"`

`ModuleBui

[2017-08-29 17:14] konsumer commented on #1762
I tried it without, too.

[2017-08-29 17:26] UsulPro commented on #1755
@creaux I tried to reproduce with `@storybook/react v3.2.8` such a simple global decorator:

[code]

and it works fine for me.
What version of Storybook do you use at this moment?
Could you try to add this line into your `config.js` and check it out? Please, make sure that you manually update the page after each change since HMR doesn't do it for a config files.

[2017-08-29 17:30] danielduan commented on #1762
If you're using a custom webpack config, make sure that you're importing the storybook defaults as well. We've changed a good amount of the Webpack between v2 and now, you might not need a custom webpack file unless you're adding additional loaders.

The webpack config gets read here:
https://github.com/storybooks/storybook/blob/master/app/react/src/server/config.js
And the babel config then gets

[2017-08-29 17:40] konsumer commented on #1762
No custom config (although I did try it with one.) [Here](https://github.com/konsumer/storybook_issue_1762) is a project that demonstrates the issue. As I said, it's pretty much just a plain cerate-react-app with getstorybook.

[2017-08-29 18:04] danielduan commented on #1762
`export const Docs = ({name}) => (<div>Hello {name}</div>)` doesn't work unfortunately.

If you delete `export`, it should be okay. It's a bug in https://github.com/storybooks/babel-plugin-react-docgen/issues/33

[2017-08-29 18:10] danielduan commented on #1765
in your custom `.babelrc` file, you might have to list `require.resolve('babel-preset-es2015')` instead of just `'es2015'`

[2017-08-29 18:18] konsumer commented on #1762
Yep, that fixed it. Thanks for the help! It's a bit frustrating though, because I like to export the Component (for unit-testing and storybook) and export the react-redux-wrapped version (for actual use in my application.) I generally do it like this:

[code]
I'll take a look and submit a PR over at babel-plugin-react-docgen. Thanks again!

[2017-08-29 18:23] wojciech-bilicki commented on #1765
Ok, what actually helped was adding "es2015" to the .babelrc in a root directory. and running:
`npm install --save-dev babel-preset-es2015`

Storybook is great :)

[2017-08-29 18:28] danielduan commented on #1759
Take a look at the vue.js project and see if you can get it working. I don't know that anyone's tried it yet. Please report back on your progress.

[2017-08-29 18:29] danielduan commented on #1762
Yeah, you can export it after as a workaround

Something like
[code]

[2017-08-29 18:42] ndelangen commented on #1746
Greenkeeper may not be able to help us there, but it's not like we're without hope.

We can can implement our own helpers to stay up to date.

[2017-08-29 18:43] Hypnosphi commented on #1746
Or we can just use current versions, but make cli build non-required

[2017-08-29 19:12] #1765 closed

[2017-08-29 19:43] priley86 commented on #1749
@alterx @ndelangen @shilman  any ideas? I'm happy to take a stab at this if given direction... would especially like to have the Storybook Deployer working for ng in my fork...

[2017-08-29 19:52] alterx commented on #1749
@priley86, yeah, this is the kind of feedback we need. This is still a WIP (currently finishing the last part of it) and I like to stabilize the features a bit before starting to play around with new things (such as Web Components). There's also a big effort to refactor out the core parts of the app that are currently duplicated for each supported framework.

If I were you, I'd wait a bit before d

[2017-08-29 20:01] #1762 closed

[2017-08-29 20:09] dantix commented on #1075
@stereodenis You are imporing
`import { storiesOf, action, linkTo } from '@kadira/react-native-storybook'`
and it should be
`import { storiesOf, action, linkTo } from '@storybook/react-native'` or something like this.

I'm using react version, so check precise import for react-native yourself

[2017-08-29 20:09] danielduan commented on #1717
Just tested this to be working on Chrome in the `cra-kitchen-sink` on master. Clicking outside or hitting escape will close the search box. I'm gonna consider this as expected behavior and close the ticket.

Please reopen if you still can't close the search box on the latest version of Storybook.

[2017-08-29 20:09] #1717 closed

[2017-08-29 20:10] #1075 closed

[2017-08-29 20:30] Ethaan opened #1766 "Notes Typo on Examples"
So after looking at this for a while, seems like there is a typo on the [VueJS Examples (atleast)](https://github.com/storybooks/storybook/blob/master/examples/vue-kitchen-sink/src/stories/index.js), with the Notes stories.

one note example for the `html` is being written like.

`withNotes({ notes: 'note' })` using `notes` as parameter instead of `text`, this break things, is this intended or som

[2017-08-30 02:50] konsumer commented on #1762
Thanks!

[2017-08-30 03:22] Temoto-kun commented on #1493
@dbrrt Sorry, I don't have a Linux machine. Only using macOS 10.12.6 (Node 8.1.4) and Windows 10.

[2017-08-30 04:19] frehner commented on #703
I had a very similar issue as well.

I found facebook/jest/issues/1767 and the solution there solved it for me. Solution:

Install/update Watchman using `brew install watchman`

[2017-08-30 12:02] Hypnosphi commented on #693
If we inject styles imported from stories into manager html, it’s definitely a bug

[2017-08-30 12:06] Hypnosphi commented on #693
@timoxley is there a chance that you added `ExtractTextPlugin` to your custom webpack config in `.storybook` directory?

[2017-08-30 12:12] dbrrt commented on #1493
@Temoto-kun I'm using almost the same configuration for macOS (10.12.6) and Node 8.2.1 as you, and I was able to run correctly storybook. Which version of storybook are you using ? Have you tried to update `@storybook/cli`?

[2017-08-30 13:13] ndelangen commented on #703
Sounds like there's not much we can do on our side to help with this issue. Sounds like it's a variety of environment issues that are causing the same symptoms.

[2017-08-30 13:13] #703 closed

[2017-08-30 13:19] ndelangen commented on #1749
How experienced are you @priley86? Any chance to get you to help @alterx to get the angular feature out faster?

Sounds like you already got things running and are a fantastic help testing the feature!

I'm not trying to pressure either of you btw!

[2017-08-30 13:36] priley86 commented on #1749
@alterx I will be monitoring your feature branch closely and providing the best feedback I can. If you're making significant refactors, I will happily hold off for now 😉

@ndelangen I work on [Red Hat's User Experience Design team](https://www.redhat.com/en/about/product-design) (we do all of the designs for Red Hat's core products along with maintaining the open source library used in these produ

[2017-08-30 17:18] danielduan commented on #1750
I think we can do it the really ugly way and have it require from the relative path of the source package. That way when a developer changes the source file, it's immediately reflected. The import paths might get really long, but I think it's the most ideal solution.

I'm gonna be away for the next two weeks. If anyone wants to take a shot at refactoring, feel free. Otherwise, I'll start when I ge

[2017-08-30 17:29] danielduan commented on #1492
my bad, this is still an issue, gonna reopen it. sorry for the milestone spam.

[2017-08-30 17:54] Hypnosphi commented on #1751
Why do addons even have a peerDependency on react?

[2017-08-30 18:49] ndelangen commented on #1466
Would we only need to add 'use-strict' in the generator for meteor? or all over the place?

[2017-08-30 19:36] Hypnosphi commented on #1466
lack of use strict isn't the only problem, there's also some unsupported syntax like destructuring. So I decided that adding babel-register with env present is a better solution.

Plus it allows to move from commonjs to es imports

[2017-08-30 19:42] ddaza opened #1772 "Source Maps are not the original source"
with this config

[code]
Running :
[code]

I am seeing the transpilled source on my devtools:
![image](https://user-images.githubusercontent.com/290254/29891577-36e05ed2-8d91-11e7-8631-dbafd2029803.png)

[2017-08-30 21:04] ndelangen commented on #1699
This feature is complete and merged to the 3.3 branch

[2017-08-30 21:20] felizuno commented on #612
Sorry if this is ignorant, I'm new here ;-)

This was an ongoing issue with what seems to be the boilerplate used to build the app (at startup I see `=> Using default webpack setup based on "Create React App".`).

Issue discussion: https://github.com/facebookincubator/create-react-app/issues/293https://github.com/facebookincubator/create-react-app/issues/293

Is there a policy here WRT staying up

[2017-08-30 22:29] cjthedizzy commented on #270
I resolved by using `module.loaders` instead of `module.rules`. The latter doesn't seem to work at all.

[2017-08-30 22:44] felizuno commented on #612
Also FWIW after downgrading to the 6.11.2 LTS release of Node I no longer experience this issue

[2017-08-31 00:25] Hypnosphi commented on #1766
Yeah, definitely a bug. Please replace it with `withNotes('note')` and find other wrong usages, if any

[2017-08-31 00:54] Hypnosphi commented on #693
Ok, I can't reproduce it even with `ExtractTextPlugin`

[2017-08-31 01:53] nicolaskruchten opened #1774 "build-storybook fails with storybook-addon-jsx"
When I activate https://github.com/Kilix/storybook-addon-jsx and run `build-storybook` I get the following error:

[code]

It seems like Uglify is failing on some ES6 input, specifically an arrow function (that's what's on line 44048 in that JS file, and it's the first line where an arrow function appears).

To reproduce:

1. clone this: https://github.com/plotly/react-pivottable/tree/jsx-addon-bu

[2017-08-31 02:01] tmeasday commented on #1774
@nicolaskruchten I'd say the problem is this:  https://github.com/algolia/react-element-to-jsx-string/issues/140

[2017-08-31 02:03] tmeasday commented on #1774
I suspect it will get fixed by https://github.com/storybooks/storybook/pull/1733

[2017-08-31 02:04] tmeasday commented on #1774
An alternative (workaround) solution is to alter the webpack config to compile just the relevant node modules. This works:

[code]

(I know all this because I ran into this bug in a different context just the other day)

[2017-08-31 02:14] nicolaskruchten commented on #1774
Ah, thanks @tmeasday that's really helpful!

Question: when you say "alter the webpack config" which config do you mean? Do you mean via the "full control" mechanism here https://storybook.js.org/configurations/custom-webpack-config/ ?

[2017-08-31 02:15] nicolaskruchten commented on #1774
Ah, I see there's a solution with full-control mode here: #1570

[2017-08-31 03:42] danielduan commented on #1772
Do you have a project somewhere on Github that we can take a look? I'm not seeing it in mine when I add that line, they all have the correct source map.

[2017-08-31 03:46] danielduan commented on #663
Closing issue because it's v2. Please reopen if this is still an issue on the latest v3.

[2017-08-31 03:46] #663 closed

[2017-08-31 03:51] danielduan commented on #693
Could there be a possibility where something in `css-loader` was scoped with `:global` and therefore applies to all components, not just the ones in the iframe?

[2017-08-31 07:14] thomasbertet commented on #1411
Hi guys, I made a PR to fix this : https://github.com/storybooks/storybook/pull/1775

@CurtisHumphrey @florian-bd could you review it & test it with your project to see if it fixes the issue ?

Thanks !

[2017-08-31 10:17] hefei00 opened #1776 "How to use SVG file like <img src={require('path/to/foo.svg')} />"
Hi! Recently， I started using storybook as my react ui environment.  My project was created with create-react-app. In my project, the SVG is imported and used like this:

[code]
but when I add some webpack config in `.storyboook/webpack.config.js`.
[code]
It does't work well. the console has an error:
`" http://localhost:9001/function SVG() {    _classCallCheck(this, SVG);    return _possibleConst

[2017-08-31 10:51] fangel opened #1777 "Decorators on stories are placed around the inline-view of the info-addon"
I'm trying to use a combination of the Info-addon with `inline: true` and a decorator that limits the width of my component to X pixels.

What I currently have is

[code]

What I expected was that the inline info (header + source + prop-tables) was rendered in full width, and only `MyComponent` was wrapped in the decorator limiting its width to 300px.
However, the decorator is applied around the e

[2017-08-31 11:14] Hypnosphi commented on #693
@danielduan what do you mean? We don't use css module in our default config, so in default setup all styles are global.
https://github.com/storybooks/storybook/blob/master/app/react/src/server/config/defaults/webpack.config.js#L16-L19

But global means "applied all over the current document", and iframe is a separate document

[2017-08-31 11:55] GeeWee opened #1778 "Add proper typescript webpack setup in readme"
The current webpack typescript setup in the [readme:](https://storybook.js.org/configurations/custom-webpack-config/) is off. First off, it doesn't import path, and thus doesn't even run.

Secondly, it fails miserably, if the files in the '/stories/' folder is typescript, as it'sn ot listed in the include param.
A webpack config that works looks something like this:

[code]

[2017-08-31 12:41] mascardoso opened #1779 "After resizing scroll focus is lost in Chrome."
When resizing the area through the grabber of the right panel or bottom panel the scroll in Chrome is lost and I'm unable to scroll down. Seems like a focus issue.

[2017-08-31 12:51] apvilkko commented on #1483
I have the same issue. Hot reload is detected on index.js and other "root" components of the app but not on UI components nor their stories. UI components and stories are in the same folder, e.g. Button/index.js and Button/stories.js.

This makes storybook unusable for me currently.

[2017-08-31 14:44] ddaza commented on #1772
Sorry guys it was a `.babelrc` config I totally had missed. Thanks guys!

[2017-08-31 14:44] #1772 closed

[2017-08-31 15:09] danielduan commented on #1778
Would you mind creating a PR for the documentation?

https://github.com/storybooks/storybook/blob/master/docs/pages/configurations/custom-webpack-config/index.md

[2017-08-31 15:33] danielduan commented on #693
A component could be used both inside and outside the iframe and therefore leak the styles right?
 Seems like a very unlikely scenario.

Given how old this issue is, without any solid reproduction, I think we should just let this die.

[2017-08-31 18:59] smith-kyle opened #1781 "Storyshots browser and image snapshots"
It would be great if storyshots could diff screenshots of stories as they are rendered in a browser. The idea comes from this blog post: https://voice.kadira.io/snapshot-testing-in-react-storybook-43b3b71cec4f

Browser snapshots — This will get snapshots by rendering your UI on a real browser.
Image snapshots — This will get snapshots as images so we can test CSS and style changes as well

Possibl

[2017-08-31 20:07] Hypnosphi commented on #1751
Related: https://github.com/yarnpkg/yarn/issues/2688

[2017-08-31 20:12] Hypnosphi commented on #1751
@sky790312 By the way, looks like you're using an outdated version of yarn. Unmet peer dep should be just a warning, not an error

[2017-08-31 20:19] Hypnosphi commented on #1776
You pribably need [full control mode](https://storybook.js.org/configurations/custom-webpack-config/#full-control-mode)

[2017-08-31 22:51] Hypnosphi commented on #1779
Related: https://github.com/tomkp/react-split-pane/issues/30#issuecomment-278782399

[2017-08-31 23:57] Hypnosphi commented on #403
Oh, `Ctrl + Shift + F` is reserved for fullscreen already.

[2017-09-01 01:15] Hypnosphi commented on #403
Here's a table with all the used `Cmd/Ctrl + Shift + ` shortcut keys in major brawsers (sorted by usage data from [caniuse](//caniuse.com)), excluding text field shortcuts, and some highly contextual shortcuts:

|⌘/Ctrl+Shift+|A|B|C|D|E|F|G|H|I|J|K|L|M|N|O|P|Q|R|S|T|U|V|W|X|Y|Z|
|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|---|
|[Chrome](

[2017-09-01 01:37] hefei00 commented on #1776
@Hypnosphi ,Thank you! I found the error was caused by my carelessness. I forget to reset the server after changing the web pack.config.js.   After I reseted the server, everything work well.

[2017-09-01 01:38] #1776 closed

[2017-09-01 08:50] frankwallis commented on #1417
I am seeing this as well, I think it may be due to passing '?reload=true' as an argument webpack-hot-middleware? Not sure why that is being done?

see https://github.com/storybooks/storybook/blob/b7a90fdd45a7c23fff5ad3db2b910595405daa53/app/react/src/server/config/webpack.config.js#L16

[2017-09-01 16:03] GantMan commented on #1678
I had the same exact bug, but got passed it.

I removed all my storybook node modules and did:
`npm i @storybook/cli @storybook/react @storybook/react-native`

no clue why, but it just started working.  @qwert666 - I wish you the same strange luck!

[2017-09-01 23:03] klairetan opened #1784 "Storybook index.js isn't finding one of it's required modules"
When I try to start my Meteor app, `@kadira/storybook/dist/client/index.js` throws an error because of

`var _preview = require('./preview');`

and prints the error

[code]
?

I didn't see this in the past issues, and I was wondering if anyone might know what's causing this? The folder exists within `@kadira/storybook/dist/client/`.

[2017-09-01 23:25] Hypnosphi commented on #1784
`@kadira/storybook` is deprecated. Please upgrade to new packages:

[code]

Node 8 comes with a built-in `npx` module which allows to run packages without installing them globally, so you might want to use it instead:
[code]

Please let us know if the problem still persists after upgrading

[2017-09-01 23:46] uptownhr commented on #1759
will do!

[2017-09-02 04:35] devdoomari opened #1785 "doc on custom webpack - module.rules should be used instead of module.loaders"
I just upgraded some old project, and my webpack loaders were mysteriously ignored.
Spent a few hours on this, and it seems that storybook's custom webpack config only looks at module.rules instead of module.loaders.

Should I update the docs to point this out?
Also, would it be nice to add some warnings (or throw exceptions), or do you think storybook should silently merge module.loaders into mod

[2017-09-02 10:31] ndelangen opened #1786 "🚨 unable to clone from github ( possible repository corruption on the remote side )"
There seems to be a problem with our repository that prevents you from cloning it.

It would appear to be an issue on the remote (GitHub), so I've submitted a support-request via email:

![screen shot 2017-09-02 at 12 25 11](https://user-images.githubusercontent.com/3070389/29994846-f5c4a73c-8fd9-11e7-8b7d-4809b23ace01.png)

If you have a working clone locally, you can probably continue work (but

[2017-09-02 22:58] Ethaan commented on #1785
I might say i have the same issue for my `stylus` loader in the past, spend like 2hrs (no kidding) until i take a close look into the [SASS example ](https://storybook.js.org/configurations/custom-webpack-config/#extend-mode) for the extend-mode and then i see they where doing `storybookBaseConfig.module.rules.push` and everything just works normally, a good warning could be great here

[2017-09-02 23:10] #1766 closed

[2017-09-02 23:12] Hypnosphi commented on #1786
I believe it's fixed

[2017-09-02 23:12] #1786 closed

[2017-09-03 11:21] wildeyes commented on #650
Is there any documentation on how to use the feature closed with the #723 pull request?

[2017-09-03 18:31] chapati23 opened #1791 "PostCSS and CSS Modules not working (again)"
## Description
Sorry, to open this again. I'm aware there were several issue before e.g. https://github.com/storybooks/storybook/issues/48 and https://github.com/storybooks/storybook/issues/755

But unfortunately none of these solutions seem to work in the latest version (`3.2.8`). The storybook webpack doesn't complain but I don't get any of my styles because the class names that CSS Modules usua

[2017-09-03 18:53] chapati23 commented on #1791
god i hate webpack. my bad, forgot `style-loader` of course…

[2017-09-03 18:53] #1791 closed

[2017-09-03 19:37] konsumer commented on #1762
I made a [PR to change the behavior of the resolver](https://github.com/reactjs/react-docgen/pull/214#issuecomment-326797972) but as @danez pointed out, the resolver [is actually configurable](https://github.com/reactjs/react-docgen#cli), and there are a few built in (maybe `findAllComponentDefinitions ` does what I want?) I propose that we that as the default, instead. I like the idea of the defa

[2017-09-04 08:35] markselby9 opened #1792 "Failed to link '@storybook/addon-knobs' with local package"
My steps:
1. Cloned the storybook repository to local
2. In the local repo, run 'npm run bootstrap' to install package dependencies and link packages
3. In my react project, run 'npm link @storybook/react' first, then 'npm link @storybook/addon-knobs' to link the addon package.
4. Try to 'yarn storybook', and the local 'addon-knobs' failed to present. As screenshot below.

![image](https://user-im

[2017-09-04 14:30] dmmarmol commented on #1493
I fixed this issue by looking at some of the `webpack.config.js` files from examples shared by storybooks. In the project that I'm working on they decided to move to another styleguide generator but I managed to make it work before moving it so in case someone want's to have a look at it, here it's my working `webpack.config` file:

[code]

[2017-09-05 09:51] MoOx opened #1797 "Module not found: Error: Can't resolve 'react/lib/checkPropTypes' with react-native 0.47+"
I am trying to upgrade to RN 0.47.2 and now I am facing this error when starting storybook (all my package are to latest version 3.2+

[code]

[code]

[2017-09-05 10:06] shilman commented on #1797
Did you try deleting node_modules and fresh install? Does your app work independent of storybook?

[2017-09-05 17:19] klairetan commented on #1784
Hello! Thanks for the suggestion! Unfortunately, I tried and the issue is still occurring. Storybook ran with the sample button/welcome files though once I inserted my component and added the Meteor-imports plugin, this error began popping up. But I'm not sure how those would interfere with the internal module/file imports in Storybook?

[2017-09-05 17:50] klairetan commented on #1784
Thanks for the instructions! Unfortunately, I updated to @storybook, and I'm getting a similar though slightly different error where `@storybook.addon-actions.dist.index.js` isn't able to find `./manager`. Any ideas?

[2017-09-05 18:18] klairetan commented on #1784
So i think it was a meteorInstall issue, and I was able to run the app once I added the node_modules in my packages.json to Dependencies and not just devDependencies.

[2017-09-05 18:28] #1784 closed

[2017-09-05 21:42] mjhamm75 opened #1798 "Cannot find module 'libnpx/package.json'"
I am running the current version of storybook
`"@storybook/react": "^3.2.8",`
with React 16
`"react": "^16.0.0-beta.5",`
`"react-dom": "^16.0.0-beta.5",`
And RR4
`"react-router": "^4.1.2",`
 `"react-router-dom": "^4.1.2",`

Here is the full error I get when I try to start storybook
[code]

My app runs outside of storybook.  When I use React 15 with RR3, then I can run storybook without an issue.

[2017-09-06 03:13] xareelee opened #1804 "Can't resolve module paths in parent directories"
I use [lerna](https://lernajs.io/) for mono-repo, and here is my folder structures:

[code]

In my `react-native-app` project, I use local module `@foo` by lerna, and lerna will make a symlink in the `apps/react-native-app/node_modules`.

After running `react-native start`, it failed to bundle the js code:

[code]

To resolve this, I need to add `--root` when bundling to search the paths for symli

[2017-09-06 04:36] ChrisRyuGS commented on #1369
I still have the same problem after clearing npm cache deleting node_modules and re installing.
My node version is 8.4.0

[2017-09-06 05:58] tomatosource commented on #269
Hey Guys just wanted to see if anyone is still actively working on this one?

[2017-09-06 07:31] ndelangen commented on #269
Yes, work is progressing:
https://github.com/storybooks/storybook/pull/1474

[2017-09-06 08:07] ndelangen commented on #1804
Have you tried using `haul`?
https://github.com/storybooks/storybook/search?utf8=%E2%9C%93&q=haul&type=

[2017-09-06 09:00] Lehakos commented on #1642
@gihrig Why do you close it? It is real bug. I have same error.

[2017-09-06 09:16] gihrig commented on #1642
@Lehakos did the solution above not work for you?

You could also set that variable more permanently and forget about it.

I'm not sure CRA failing to share its `.env` contents with the OS environment is actually a bug, or just a missing feature, but either way it seems to me that this would be a CRA issue, not a Storybook issue.

The [dotenv](https://www.npmjs.com/package/dotenv) project should w

[2017-09-06 10:02] Lehakos commented on #1642
@gihrig NODE_PATH from .env work perfectly when we run `yarn start`, but not work when we run `yarn storybook`. But it should be work https://github.com/storybooks/storybook/issues/468

[2017-09-06 11:14] husayt opened #1805 "How to connect storybook to external database?"
We have an external database which we store information for our internal stroybook addon. We would like to use storybook's own getDatabase mechanism to store there and connect to our database via setDatabase. This way all addons will be using the same database.

Is this currently supported?

[2017-09-06 11:44] rmevans9 commented on #1804
While `haul` should do the trick I can also understand the want for using the regular `react-native` packager. If you would want to use that packager I think you have two options:

1. Run the packager yourself. When you kick off storybook simply pass this arg: `--skip-packager` then in another terminal run something like this: `node node_modules/react-native/local-cli/cli.js start --projectRoots <

[2017-09-06 11:51] ndelangen commented on #1804
Would you be interested in making that into a PR @rmevans9 ?

[2017-09-06 11:52] rmevans9 commented on #1804
Yes but it likely will not be till next week at some time that I can do so.

[2017-09-06 13:47] #1493 closed

[2017-09-06 13:51] ndelangen commented on #1798
Sounds like something went wrong during npm install, we have no dependency on libnpx anywhere AFAICS.

I have no idea where to start with this one. 😞

[2017-09-06 14:14] ndelangen commented on #1805
The database stuff from Storybook 2 is currently 'on hold' for Storybook 3.

Persistence of settings and data will become a topic in the future and then we will revisit this.
We're not sure if the storybook database apis will remain in the future.
Currently we've left them in, but to our knowledge nothing is using them.

If you want to connect your stories/components to an outside datasource, you'

[2017-09-06 14:43] danielduan commented on #1678
There was an issue with the cli not installing the `@storybook/react-native` package that we fixed. https://github.com/storybooks/storybook/issues/1738 Might be related?

[2017-09-06 15:13] MadsMadsDk commented on #1570
I've found that I experience a similar issue, though not quite the same. Not sure if it should be a separate issue, if so, please say so.

Anyway, I'm using a custom `.babelrc` file, that looks like this:

[code]

When I run `build-storybook`, it does generate the static app, but when I load it up in my browser, I get this error:

[code]

Once I remove `.babelrc` and use the default config, it wor

[2017-09-06 15:20] mjhamm75 commented on #1798
I was trying to stay up to date and use npx, which is where the dependency
for libnpx comes from.  I removed all references/uses of npx and I am back
up and running.  This was not a storybook issue.  Sorry for the bother.

On Wed, Sep 6, 2017 at 7:51 AM Norbert de Langen <notifications@github.com>
wrote:

[2017-09-06 15:35] alterx commented on #269
Yup, I need to find some time today to submit some changes I have in my computer. Will probably do it during lunch 😄

[2017-09-06 17:13] pelotom opened #1808 "A linkTo which generates textual links?"
For components that require textual `href` props, it would be nice to be able to inject links that lead to other stories, a la `linkTo`. Is there a `linkToPath` or something that could generate a path instead of a callback?

[2017-09-06 18:58] Hypnosphi commented on #1808
I think we should use `RoutedLink` from `@storybook/components` in links addon, plus export a function returning hrefs

[2017-09-06 19:07] #1798 closed

[2017-09-06 19:11] pelotom commented on #1808
That would be awesome!

[2017-09-06 19:55] gihrig commented on #1642
@Lehakos CRA (`yarn start`) supports NODE_PATH from an `.env` file. Storybook (`yarn storybook`) does not. It seems logical that they should both work the same, but they don't. That confused me in the beginning too.

#528 (from #468) provides support for Storybook to read an OS environment var `NODE_PATH`. This requires that `NODE_PATH` be set in the OS environment before executing `yarn storybook

[2017-09-06 20:26] danielduan commented on #1792
You seem to be linking it wrong. After running `npm run bootstrap`, you should run `npm link` in `app/react` and `addon/knobs`, and then in your project run `npm link @storybook/react` and `npm link @storybook/addon-knobs`.

[2017-09-06 20:27] danielduan commented on #1785
We'd love a PR to update the documentation for it 👍

[2017-09-06 20:36] Hypnosphi commented on #1785
Just note that those are breaking changes in webpack, not in storybook itself: https://webpack.js.org/guides/migrating/#module-loaders-is-now-module-rules

[2017-09-06 21:26] danielduan commented on #1762
Think it's a good idea, let's keep the conversation in the other issue for the babel plugin.

[2017-09-06 21:43] danielduan commented on #1785
I misread the issue. Thought there was an issue in the documentation. It looks to be correct and uses `rules` instead of `loaders`.

https://storybook.js.org/configurations/custom-webpack-config/

Closing issue since this is a webpack, not storybook. Please reopen if there's still an issue.

[2017-09-06 21:43] #1785 closed

[2017-09-07 03:33] markselby9 commented on #1792
Hi,
I've created a new react project following your instructions, but the issue still remains. For detail, my related files are listed below:
stories:
[code]

package.json
[code]

Please tell if you need more information. Thanks!

[2017-09-07 08:43] tomasfrancisco opened #1812 "Change ReactDOM container target"
I was trying to setup the `storybook` on an existing React project, and I notice that `storybook` is expecting the `container` for `ReactDOM`
[code]
to be `id='root'` instead of something else. Actually on the existing application that I have, it was using `id='app'` and then I was forced to change it to `id='root'`.
So I want to ask if is there any way to change it for the `storybook`  accordingl

[2017-09-07 08:43] darkartur opened #1813 "Setting knob values via URL does not work with iframe.html"
We are using backstopJS for css regression testing via iframe.html

And we want to cover some specific knobs combination but we can't specify knobs values without GUI

[2017-09-07 10:35] Stupidism commented on #1141
It seems to be fixed now.

[2017-09-07 10:35] #1141 closed

[2017-09-07 11:10] Hypnosphi commented on #1813
Well, there are no knobs in iframe. You can try index.html in fullscreen mode (full=1)

[2017-09-07 11:13] darkartur commented on #1813
@Hypnosphi thank you for your answer!

I guess solution that you suggest uses iframe tag. Iframe works badly in PhantomJS why not apply knobs via Iframe? I can make PR if u allow

[2017-09-07 11:14] Hypnosphi commented on #1812
Storybook is built as a separate React app, so it shouldn‘t interfere with your application setup.

How does your storybook setup look like?

[2017-09-07 11:16] Hypnosphi commented on #1813
You‘re welcome to give try (please base on `release/3.3` branch)

[2017-09-07 11:20] Hypnosphi commented on #1813
Please note that PhantomJS project has an unclear future: https://groups.google.com/forum/m/#!topic/phantomjs/9aI5d-LDuNE

Latest release is more then year and a half ago

[2017-09-07 12:34] darkartur commented on #1813
@Hypnosphi Thank you for your advice. Phantom works nice in full screen mode, I guess there is no issue with iframes. But today I've found nice project https://loki.js.org/ and it is using iframe.html https://loki.js.org/ so I think this issue is still actual cuz I'm going to implement knobs testing there

[2017-09-07 12:59] zhipenglin opened #1814 "hoc components require keys when displayed next to each other"
same hoc wrap component put in storybook

warning:Encountered two children with the same key, `1:$`. Child keys must be unique; when two children share a key, only the first child will be used.

such as:

[code]

normal Running environment has not this warning.

[2017-09-07 14:21] FDiskas opened #1815 "Combination addon-knobs and addon-info - wrong source syntax"
### Combination addon-knobs and addon-info
With knobs
[code]
without knobs
[code]
Looks bad for me. How to use it with combination of two thous plugins?

[2017-09-07 14:24] ndelangen opened #1816 "Improve markdown linting"
Markdown linting is a bit broken as it is.

I'd like to move to https://github.com/eslint/eslint-plugin-markdown to lint the code in markdown remove the linting currently in place.

[2017-09-07 15:50] brandondurham opened #1817 "Collapse certain panels by default?"
Is it currently possible to include but collapse certain panels by default?

[2017-09-07 17:13] rkoberg commented on #1153
**_

_**
Ufff... add this to the docs. There is no indication that you need click what looks like the title to the actions pane to see actions show up

[2017-09-07 20:30] creaux commented on #1755
Hello @UsulPro, thanks for reply. I have update regarding issue which is at the moment permanent.

Global decorator is **not loaded only for JEST storyshots**. I overstepped this issue by local decorator which is passthrough as empty function for storybook (as global decorator is working) but local is only loaded for storyshots in JEST environment.

[code]

Global provider still used but changed a

[2017-09-07 20:33] ndelangen commented on #1817
You can pick which panel you want open by default (globally) by importing them in the order you want to show them in `addons.js`.

[2017-09-07 20:37] brandondurham commented on #1817
Sorry… I’m referring to the _down panel_ and _left panel_. I would love to have to _down panel_ included but collapsed (⌘ ⇧ D) by default.

Possible?

[2017-09-07 21:10] matthiasp42 opened #1819 ""npm run storybook" fails after updating storybook"
I updated storybook from:

[code]

to:

[code]

Now I get the following error:

[code]

I'm suspecting that I have some outdated dependency or something. But I'm really not an expert yet and would appreciate if anybody point me in a direction. I spent some time updating outdated dependencies, but it didn't help.
I also couldn't figure out how to find out which of MY dependencies use this "Source-L

[2017-09-07 21:21] ahfarmer commented on #1328
For me this was an issue using Storybook's "Extend Mode." I switched to "Full Control Mode" and that fixed my issue.
Docs on that: https://storybook.js.org/configurations/custom-webpack-config/

Could be an issue with extend mode and setting plugins. I experienced the problem with this in my `webpack.config.js`:
[code]

But switching it to this (Full Control Mode) fixed the issue:

[code]

[2017-09-07 21:27] shilman commented on #1817
@brandondurham yes, you can do this using `@storybook/addon-options`:

[code]

https://www.npmjs.com/package/@storybook/addon-options

[2017-09-07 21:27] #1817 closed

[2017-09-07 21:30] brandondurham commented on #1817
I’m an idiot. I have that installed and tried this setting, but for reason thought it removed it altogether.

Thanks for taking the time.

[2017-09-07 21:36] thenewvu commented on #1328
I've experienced the issue that @joefraley mentioned above, the issue has gone after I added the  below snippet:

[code]

[2017-09-07 21:41] Hypnosphi commented on #1153
If the actions tab is empty unless you click to its title, it’s a bug

@rkoberg do you have any other addon tabs? Can you take a screenshot of your storybook page when it shows action logger without actions?

[2017-09-07 22:11] rkoberg commented on #1153
When this happened, the Actions Logger was the only tab. In other words there is no clicking around. Now that I have multiple tabs, I don't see the behavior. The Actions Logger was the first one I tried. Was banging my head why nothing would show. When I saw the post above (that I quoted using bold for some reason), I clicked the title/tab and actions started to show.

[2017-09-07 22:48] tvald opened #1820 "[storyshots] better document `test: snapshotWithOptions(...)` for mocking refs"
It took quite a bit of searching and code diving through multiple frameworks to resolve callemall/material-ui#7710.

It would be helpful to explicitly mention in the README that it's necessary to mock refs and also link to [the example](https://github.com/storybooks/storybook/blob/master/examples/cra-kitchen-sink/src/storyshots.test.js) buried within the kitchen sink test.

Concise example:
[code]

[2017-09-07 23:48] fourcolors opened #1821 "how do you enable withKnobs as a global?"
I can't seem to get this to work globally?

[2017-09-08 07:59] tomasfrancisco commented on #1812
Hmm I was sure that I was getting an error complaining that somehow the storybook was expecting `root` on my applications, and then I changed it and it started working. Today I moved back to my original id and it works. Well... It's working, don't know what I did differently.

Closing the issue since it's not an issue anymore. Thanks for your time @Hypnosphi .

[2017-09-08 07:59] #1812 closed

[2017-09-08 09:43] joetidee opened #1822 "storybook-preview-iframe does not appear in Firefox Mobile v8.3 (5826)"
The storybook-preview-iframe simply does not appear when Storybook is viewed in Firefox mobile v8.3 (5826). I have to select 'Request Desktop Site' from Firefox setting in order for Storybook to work correctly.

[2017-09-08 12:03] igor-dv commented on #1821
Do you have these files configured:

`config.js`

[code]

`addons.js`
[code]

[2017-09-08 17:22] Zevgart opened #1823 "Unexpected token"
I have a problem with brackets. I can install extension to brackets but I can't use it. I open  developer tools but i don't understand this problem. Console show me this all the time.

Uncaught SyntaxError: Unexpected token < file:///C:/Users/:1

[2017-09-08 17:22] Zevgart commented on #1823
![untitled](https://user-images.githubusercontent.com/22613740/30223430-1c91a748-94cb-11e7-859c-ec7b5cb9d92c.png)

[2017-09-08 19:15] UsulPro commented on #1823
@Zevgart Looks like you have a problem with some `brackets` extension on Windows OS. Are you sure it's related to the Storybook project? As I know we don't have any brackets extensions yet.

If you need help with running Storybook on Windows with Brackets feel free to connect with me in our slack, possible we can figure out it together

[2017-09-08 19:35] joefraley commented on #1328
@thenewvu i didn't see any change in behavior by switching to full control mode, or by hijacking the `devServer` configuration

[2017-09-08 19:37] joefraley commented on #1328
@shilman, @Memfisrain i'm also passing `module`, as does the simple repro i described above

[2017-09-08 19:50] joefraley commented on #1417
@frankwallis i experience the issue even after manually removing `?reload=true` from that line

[2017-09-09 03:18] Hypnosphi commented on #1751
Actually it isn't used in stories code, so it should be left as is.

[2017-09-09 11:13] aganglada commented on #1819
Hello @matthiasp42,

Try removing `node_modules`, cleaning npm cache `npm cache clean` and `npm install` again.

[2017-09-10 19:08] matthiasp42 commented on #1819
Thank you very much. This got my Storybook to run again, but now it just looks like the following:
<img width="1088" alt="storybook error" src="https://user-images.githubusercontent.com/10118116/30252052-eb979c4a-966b-11e7-9e27-77ec80049a70.png">

Here's the copyable plain text:
`exports is not defined
ReferenceError: exports is not defined
    at Object.<anonymous> (http://127.0.0.1:6006/static/p

[2017-09-10 19:14] inyono opened #1831 "React Native Storybook doesn't work with current CRNA"
Thanks for this awesome tool 👍 Unfortunately, we ran into some issue while upgrading our app to Expo 20. Apparently, `react-inspector` causes it.

**TL;DR**: When using React Native Storybook within a CRNA (Expo 20), React Native packager throws TransformError during bundling:
[code]

**Versions**:
[code]

**Steps to reproduce:**
1. Create a new CRNA or clone sample repo https://github.com/inyono/

[2017-09-11 07:50] aganglada commented on #1819
Looks like any of your exports/things you are exporting to storybook, are not working/exported properly (or storybook doesn't like it). That's why the error is only on the app frame and storybook itself works.

You could try debugging deeply into your exports.

[2017-09-11 12:02] xareelee commented on #1804
@rmevans9 could you also add `--root` to storybook cli?

In this issue, I need to add `--root` for the additional search path when bundling to solve this problem.

[2017-09-11 12:04] rmevans9 commented on #1804
Yes, my plan is to take an inventory of what options you can pass `react-native start` and make them work with the storybook cli.

[2017-09-11 12:10] slorber commented on #1192
Hi,

I'm not using RN but i got the error pointing to this issue after upgrading, is it normal?

[2017-09-11 13:10] ndelangen commented on #1804
Awesome, let me know if there's anything I can do to help you!

[2017-09-11 13:58] Lehakos opened #1833 "Add .env file support"
Do you have a plan to add support of .env file? With CRA we can add NODE_PATH variable to .env, but storybook does not support it.

[2017-09-11 14:16] ndelangen commented on #1833
I would welcome a PR to add support!

[2017-09-11 18:50] remotezygote commented on #1417
@frankwallis @joefraley Can confirm. Removing that flag appears to make no difference.

[2017-09-11 20:59] joefraley commented on #1328
so i think i got down to the minimum possible reproduction of this bug: https://github.com/joefraley/repro-storybook-1328

[code]

[code]

[code]

[2017-09-12 02:58] inspireui commented on #1831
same issue

[2017-09-12 03:12] inspireui commented on #1831
Fixed by: npm install --save-dev babel-preset-es2015

Then add .babelrc file to storybook folder with the es2015 in presets.

[2017-09-12 04:19] remotezygote commented on #1328
I think maybe this points to the possibly that it's something that's missing rather than something that should not be included. I would expect it not to work without the HMR plugin. Going to scour the storybook-provided config when you go to partial control mode and see what is in that that we're not including. It's possible this is babel config, too.

[2017-09-12 08:20] inyono commented on #1831
Thanks, nice workaround. I modified the `.babelrc` in root, didn't think about creating one in `storybook` directory. 😅

[2017-09-12 11:15] dzuncoi commented on #803
@Gongreg
I still stuck at this error: `Can't find module: document`
My env:
- `@storybook/addon-knobs: 3.2.8`
- `@storybook/react: 3.2.8`
- `@storybook/react-native": 3.2.8`

If I remove this line: `import '@storybook/addon-knobs/register';` from `addon.js`, it works without error, but `knobs` not work (of course). Otherwise, it doesn't

[2017-09-12 12:48] ndelangen commented on #803
@dzuncoi We recently added addon-knobs to our own example / kitchen-sink for react-native.

But this is still on the release/3.3 branch:
https://github.com/storybooks/storybook/tree/release/3.3/examples/react-native-vanilla

Perhaps this is of help already for you.
You could try the alpha release?

[2017-09-12 14:16] ndelangen commented on #1654
Definitely something we're working on. It's a continues process of improving the codebase.

I think for the most part the points made in the OP have been addressed, If you have specific places you can point us to to improve: please let us know!

[2017-09-12 14:16] #1654 closed

[2017-09-12 14:18] ndelangen commented on #778
@jonnyelliot Is this still something you're interested in to fix?

Did you get stuck somewhere? maybe I can help!

[2017-09-12 14:19] ndelangen commented on #403
I like it @Hypnosphi ❤️

[2017-09-12 14:20] ndelangen commented on #1367
Sounds like something we could very easily do @Gongreg ?

[2017-09-12 14:25] ndelangen commented on #1255
I agree with @danielduan, this is exactly why the `preview-head.html` option is there.

Another option would be to expand the `addon-viewport` with some additional functionality:
setting padding/margin and possible also centering...

[2017-09-12 14:25] #1255 closed

[2017-09-12 14:26] ndelangen commented on #1088
@MrBoolean Are you still interested in adding this to storybook?

[2017-09-12 15:56] DylanVann commented on #1815
Also seeing this issue. It means users won't be able to copy and paste as the jsx is invalid.

[2017-09-12 17:53] dzotos commented on #495
@mnmtanish worked for me. thanks!

[2017-09-12 22:52] smooJitter commented on #1392
@MasahiroMorita I tried this but my stories don't show up?

[2017-09-12 23:00] danielduan commented on #1831
@inyono @inspireui it looks like both of you are using custom `.babelrc` files. Since those aren't managed within our codebase, unfortunately there's no way for us to help facilitate the upgrade.

We did switch our code base from `es-2015` to `env` to support the latest and greatest in javascript language changes.

Can someone verify if this is an issue with an empty vanilla CRNA app and a blank s

[2017-09-12 23:03] danielduan commented on #1831
It looks like our move from babel `es-2015` to `env` caused some unexpected packages to break.

Does someone want to submit a PR for this? a custom `.babelrc` is definitely not the solution if CRNA doesn't work out of the box.

[2017-09-12 23:06] danielduan commented on #1820
@tvald you are more than welcome to open a pull request to add these. We would very much appreciate it.

[2017-09-13 02:54] dzuncoi commented on #803
@ndelangen
I follow this example and update version to 3.3.0-alpha.0, but it's still. I don't think the problem is about version, someone were successful with previous version, there should be something that we miss, I'll try to investigate

[2017-09-13 03:52] dzuncoi commented on #803
@sowdri Did you make it work?

[2017-09-13 11:35] UsulPro commented on #1815
One more reason to switch to #1602

[2017-09-13 11:38] rmevans9 commented on #1804
Due to Hurricane Irma knocking out my power this might be a little delayed. I will still be doing it... just has to wait till I have power again.

[2017-09-13 14:14] deehuey opened #1838 "No LiveReload on completely fresh CRNA + storybook."
Hey there, I've followed a guide to set up a brand new CRNA and storybook environment.

After running `getstorybook` in a fresh CRNA, and changing the App.js to

`export default from './storybook'`

I can see that my app is running, and i can view the emoji / "Hello Button" buttons, and see the actions and all, but if I change the button text to "Hello Buttonnnnnnnn" I'll see the "Hot loading..."

[2017-09-13 15:15] Billy- opened #1839 "Passing unserializable values into action logger causes system to hang"
Title pretty much says it all. Kinda related to #132, you just need to check if the object is serializable rather than only checking if it's a SyntheticEvent type

[2017-09-13 15:17] Billy- commented on #1839
Of course, the obvious workaround is to pull out / modify the values:

[code]

[2017-09-13 15:24] #1367 closed

[2017-09-13 17:10] ijajmulani commented on #1088
Hi, I would like to solve this. Could you guide me in this? I have cloned the repo.

[2017-09-13 18:06] morgs32 commented on #1739
@Hypnosphi What's this you speak of? Is there any documentation of RoutedLink

[2017-09-13 18:41] Hypnosphi commented on #1739
It's an internal component, used in menu, for example. Basically, it's a native html link with changed behaviour on plain left click

[2017-09-14 00:03] thongdong7 commented on #1088
I think here is how it work:

In development webpack config, an entry to handle error is added before the main entry

https://github.com/facebookincubator/create-react-app/blob/206f9e84e62434e78d8ad7cf6f2c84476f611d12/packages/react-scripts/config/webpack.config.dev.js#L48-L58

The react-error-overlay handles the error when occurs

https://github.com/facebookincubator/create-react-app/blob/206f9e8

[2017-09-14 04:03] morgs32 commented on #1739
Is there any way to reset knobs from within the iframe? From within a decorator for example?

[2017-09-14 04:04] morgs32 opened #1842 "Question: Resetting knobs from a decorator"
Is it possible? I've tried pulling in the channel and emitting `addon:knobs:reset` but nothing works!

[2017-09-14 04:06] matchu commented on #190
Ahh, I'm sorry to hear this :( I'm working on upgrading our company's custom component development workflow, too. I was hoping that, while I was at it, I could swap out our custom component preview tooling for the React Sandbox UI.

Unfortunately, while the _core_ UI is in its own reusable module, I'd seemingly have to rewrite a bunch of the React and addon support myself. I was hoping that layer

[2017-09-14 04:19] shilman commented on #1842
It should be possible. If it's not working for you, one possibility is that you are emitting the event on the wrong channel. The storybook channel is a singleton, and it's possible for there to be multiple instances of the channel, in which code A is emitting an event on channel 1, and code B is listening for that event on channel 2.

This has happened to me when I was developing my own addon and

[2017-09-14 04:53] ijajmulani commented on #1088
Thanks @thongdong7. I get a fair idea about will let you know once it done.

[2017-09-14 05:59] ndelangen commented on #1088
@ijajmulani YES definitely I can help you, I can tell you about the codebase and help you find what you need.

Can you join our slack?
https://now-examples-slackin-nqnzoygycp.now.sh/
That way we can chat a bit more easily.

[2017-09-14 06:42] ijajmulani commented on #1088
@ndelangen thanks for sending slack request. I have joined storybook on slack.

[2017-09-14 07:05] benweizhu opened #1843 "Can storybook display the sample code for the component?"
Hi storybook team,

I am wondering whether storybook support show the sample code on the storybook site for the component that display on page?

Like I write a Button component, and I want to show developers how to use the component?

[code]

[2017-09-14 07:10] igor-dv commented on #1843
One of the options is to use `addon-info`

https://github.com/storybooks/storybook/tree/master/addons/info

[2017-09-14 07:24] benweizhu commented on #1843
@igor-dv Thanks a lot, it works.

[2017-09-14 07:24] #1843 closed

[2017-09-14 07:43] UsulPro commented on #1842
@morgs32, In addition to what @shilman pointed out, possible problem could be related to the direction of emitting:

Currently, you can send messages only from preview to manager or from manager to preview. But in this case all event listeners for `addon:knobs:reset` are on preview side (where your stories and decorators are). And I guess you're emitting from preview side as well. So your message

[2017-09-14 08:20] alonbardavid commented on #803
For those who are struggling with "document is not defined"  - it works if I get rid of `import "./addons"` from the main storybook.

It appears that you don't need to import "./addons" but rather that the storybook server takes it automatically from the stroybook config folder.
There is also a need to make sure that "./addons.js" is a js file and not a ts or tsx file if you are using typescript.

[2017-09-14 10:06] Kein1945 opened #1844 "Hot reloading doesn't add IntlProvider decorator after changes"
This is my `.storybook/confg.js`
[code]

After each change in components code, hot reloading module reload iframe in the storybook and I get an error instead of component:
[code]

But after reloading the whole page, all works normally.

[2017-09-14 10:10] UsulPro commented on #1844
@Kein1945 It's a known issue with global decorators

As a workaround put your decorator inside `configure`:

[code]

[2017-09-14 10:23] Kein1945 commented on #1844
That works for me. Thank you for your quick reply!

[2017-09-14 10:44] dzuncoi commented on #803
@alonbardavid
Ohhh you made my day, thank you so much.
Btw, can you tell that how could you find this way? I spent nearly a day to research but no clue about this.

[2017-09-14 11:04] alonbardavid commented on #803
Sure, I found out where `inject-css` was used, tracked it up until I realized that it was only loaded through `@storybook/addon-knobs/register`.
It was then obvious that either it doesn't work for anyone or you don't need to require it from react-native itself. I then looked at the manual for regular storybook and there was really no mention of requiring addons.js at all.

[2017-09-14 11:13] dzuncoi commented on #803
That's what I missed 😅 thank you.

[2017-09-14 11:56] valscion commented on #1729
Seems like this was introduced by #1668? https://github.com/storybooks/storybook/pull/1668/files#r133578294

[2017-09-14 14:17] cubodehelio commented on #579
This would be cool. For me this is specially annoying when using the `addon-info` addon. I'm looking for a way to disable it. I have a bunch of documented components and that documentation looks ugly in the info panel, they are all mixed up with the actual info (the one that i had written for the info panel) and there is no way to avoid it other than either removing the components documentation (w

[2017-09-14 16:11] coreylight commented on #1821
Not working for me either, I see the knobs pane but nothing in it. Have the `config.js` and `addons.js` as noted.

[2017-09-14 16:20] Slackercode opened #1846 "Bundling external js files entry config"
Hi,
I use the full control mode, and I would like to bundle a set of jquery libraries into my storybook, so I've done this
**webpack.config.js**
[code]

However, my
[code]
had thrown me this error `TypeError: (0 , _jquery2.default)(...).knob is not a function`
any ideas ?

Note that I've checked if the library was bundled and it was:
![dada](https://user-images.githubusercontent.com/24302433/30445

[2017-09-14 17:14] igor-dv commented on #1821
Can you please share an example of the story file where you want to use knobs ?

[2017-09-14 17:50] coreylight commented on #1821
Pretty simple stuff:
[code]

[2017-09-14 17:56] coreylight commented on #1821
Perhaps I'm assuming that the decorator will simply enable all component props as knobs? If this isn't true, is it something that can be accomplished?

[2017-09-14 18:00] igor-dv commented on #1821
There is a smart knobs addon that does this: https://github.com/storybooks/addon-smart-knobs
Otherwise you need to define each property separately: https://github.com/storybooks/storybook/tree/master/addons/knobs

[2017-09-14 18:01] coreylight commented on #1821
Great! Thanks @igor-dv, I'll look into it.

[2017-09-14 18:45] leetercola commented on #1774
I tried the workarounds here and [#1570](https://github.com/storybooks/storybook/issues/1570) but they either break resolution, or loaders. I concur with the other discussion on 1570 why is there an uglify plugin against src and not babel parsed code? Either pull the plugin or pre parse it with babel before the uglify.

[2017-09-14 20:24] danielduan commented on #1839
You're more than welcome to open a PR to fix the issue

[2017-09-14 20:26] danielduan commented on #1838
I think I've came across this at one point as well. Can anyone else reproduce this on the latest or `3.3-alpha`?

[2017-09-14 20:27] danielduan commented on #1822
Can you attach a screenshot?

[2017-09-14 20:30] #1155 closed

[2017-09-14 20:32] danielduan commented on #847
Old bug, not sure if it's still relevant. Please reopen if it still exists on the latest builds.

[2017-09-14 20:32] #847 closed

[2017-09-14 20:33] #775 closed

[2017-09-14 20:35] #1479 closed

[2017-09-14 20:41] danielduan commented on #560
I think the output has been silenced for the default webpack config. If you're using a custom config, you might still run into this. Closing.

[2017-09-14 20:41] #560 closed

[2017-09-14 20:42] danielduan commented on #1483
You guys are more than welcome to submit a PR to fix this.

[2017-09-15 00:01] Hypnosphi commented on #1846
Our webpack config expect two entries: `manager` for storybook ui panels, and `preview` for stories iframe. You can try one of the following solutions:

1. Replace `config.entry.knob = require.resolve('./libs/knob.min.js');` with
[code]
2. Alternatively, add this line to your `config.js`:
[code]

[2017-09-15 00:04] Hypnosphi commented on #1774
@leetercola the thing is that loaders (including `babel-loader`) don't process files from `node_modules` by default

[2017-09-15 00:08] tmeasday commented on #1774
I don't think you can selectively apply uglify, it will run over the whole webpack-ed bundle, which includes your code, and things from `node_modules`. As @Hypnosphi points out, typically you do not run babel over `node_modules` (because it'd be hella slow and is unnecessary).

Of course it's no longer true that it's unnecessary if people are going around publishing uncompiled ES6 packages that ar

[2017-09-15 00:13] tmeasday commented on #1774
Meanwhile I should add this whole situation is messed up and it should not be your responsibility to fix it.

It doesn't look like the original package author is likely to change his stance on pre-compiling his package, so I would say the next best solution in the short term is the author of storybook-addon-jsx (@Kilix) should figure out a way to depend on a pre-compiled version of `react-element-

[2017-09-15 02:09] MohamedHamed83 commented on #708
I had the same issue and i fix it by adding scss loader to .storybook>webpack.config.js
        {
            test: /\.scss$/,
            exclude: /node_modules/,
            loaders: [{ loader: 'style-loader' },
            { loader: 'css-loader' },
            {
              loader: 'postcss-loader',
              options: {
                postcss: [
                  precss(),

[2017-09-15 03:47] jlyman commented on #1451
@bbrinx did you end up finding a resolution to this? Even if it was just a configuration error, I'd appreciate any pointers as I'm experiencing the same issue.

[2017-09-15 08:08] valscion commented on #1729
Here is a reproduction repository for this issue, created with `create-react-app` and just running `getstorybook`:

https://github.com/valscion/storybook-repro-1729

[2017-09-15 08:22] joakimgrr opened #1847 "Static build works, but 'npm run storybook' gets 404 on manager.bundle.js"
Hi,

I have a react / webpack project to which i added storybook. I tried the automatic and manual installation and for both i get 404 on manager.bundle.js when running 'npm run storybook'. I opened the index.html inside the static build and that works just fine.

I installed storybook to a blank project and it seemed to work fine, so it seems that there is something conflicting possibly, but i ca

[2017-09-15 08:53] Hypnosphi commented on #1729
@valscion Please create a PR as soon as you do that =)

[2017-09-15 09:30] valscion commented on #1729
PR to fix this issue is here: https://github.com/storybooks/storybook/pull/1848

[2017-09-15 11:08] Slackercode commented on #1846
Thanks mate, I can now resume my work .

[2017-09-15 11:08] #1846 closed

[2017-09-15 12:24] florian-bd commented on #1411
Hi @thomasbertet
I checked with the 3.3.0-alpha.0 version and no more error in the console
Good job and thanks

[2017-09-15 13:07] coreylight commented on #1620
I have a branch intended to fix this, but Github is crashing every time I try to make a PR 😕
https://github.com/coreylight/storybook/tree/no-decorators-in-storyshots

[2017-09-15 13:57] UsulPro commented on #1620
@coreylight Did you try to update your fork?
If still no success I can create a branch in storybook repo

[2017-09-15 14:01] coreylight commented on #1620
@UsulPro How should I update it? It looks like the diff is just massive. I based the branch on `release/3.3` due to this particular functionality being affected by wanting to use a snapshot per story, and not 1 big snapshot.

[2017-09-15 14:17] UsulPro commented on #1620
@coreylight is it #1849?
Could you add a description to this PR or close it if something wrong?

[2017-09-15 15:43] joetidee commented on #1822
![img_0001 1](https://user-images.githubusercontent.com/8842431/30491370-fa101ba4-9a34-11e7-9927-688a9fb9dbca.png)

[2017-09-15 15:50] danielduan commented on #1822
Definitely looks like a bug. If you'd like to look into it and submit a PR, you are more than welcome to. I personally don't have an iPad but I'm sure someone around here does.

[2017-09-15 15:51] danielduan commented on #1847
do you have a custom webpack config? there needs to be an entry point specified or it will 404.

[2017-09-15 15:57] danielduan opened #1850 "Deprecate storybook old repos"
I think these old repos should be moved to storybook-eol:
- https://github.com/storybooks/storybook-database-local
- https://github.com/storybooks/storybook-channel-firebase
- https://github.com/storybooks/storybook-database
- https://github.com/storybooks/storybook-channel-pagebus
- https://github.com/storybooks/storybook-addon-devel

We can have a discussion on whether react-cdk should be deprec

[2017-09-15 16:20] ndelangen commented on #1850
I've added you as an owner to the storybook-eol organisation! :+1:

[2017-09-15 16:22] danielduan commented on #1850
alright, I'll move them.

[2017-09-15 16:47] UsulPro commented on #1850
I'd offer to not move react-cdk untill we can provide any better solution instead.

As for me `react-cdk` = `empty folder` + `getstorybook`

[2017-09-15 17:04] danielduan commented on #1850
@UsulPro would you feel comfortable putting a DEPRECATED label on the repo? I feel like it's misleading to users if we're not going to provide ongoing support for it.

[2017-09-15 17:44] UsulPro commented on #1754
I'm still interested in this as well!

May share this example: https://github.com/storybooks/storybook-addon-console#debugging
Not in browser, but debugging in Node with VSCode

[2017-09-15 18:07] UsulPro commented on #877
Looks like we need to reopen it or create a new one issue?

[2017-09-15 18:26] UsulPro commented on #879
is it really solved?

[2017-09-15 19:22] UsulPro commented on #879
yep, we faced this here https://github.com/react-theming/storybook-addon-material-ui/issues/64
maybe we can unite our efforts to solve this

[2017-09-15 19:33] travi commented on #879
i'm happy to provide details of what we are seeing and help potential solutions, but may not have time to dig into coming up with solutions at this point. happy to provide what help i can though.

[2017-09-15 20:41] xogeny opened #1852 "Typescript bindings for storyshots"
Am I correct in understanding that as of 3.2, the addons type definitions should be located in
`@types/storybook__addon-${ADDON}` and that no such set of type definitions currently
exists for `@types/storybook__addon-storyshots`?

I have a [sample repository](https://github.com/xogeny/typescript-storyshots) and a [Medium article](https://medium.com/@mtiller/storybook-react-typescript-and-jest-c905

[2017-09-16 00:36] konsumer opened #1853 "Packaging an addon"
I made a nice addon that shows you the QR code of the current story you are on (for mobile web testing) and I can't figure out how to package it.

This works fine when I import it in my project, in addons.js:

[code]

But when I put it in it's own project and link to it via `file:///` url in package.json in another project, it doesn't seem to be registering (the QR panel isn't created, and things

[2017-09-16 00:43] konsumer commented on #1853
[Here](https://github.com/konsumer/storybook-qr) is the packaged project.

[2017-09-16 00:48] konsumer commented on #1853
Here it is, running in another project (when imported directly in addons.js):

<img width="643" alt="screen shot 2017-09-15 at 5 48 12 pm" src="https://user-images.githubusercontent.com/83857/30507783-229e44ca-9a3e-11e7-8b2c-db7cfa4e9376.png">

[2017-09-16 16:08] michaellee8 commented on #1153
I have this issue as well. I have tried clicking "ACTION LOGGER" button but still nothing shown. I decided to use `console.log` and `action` in the same time, but only `console.log` show the result but `action` results in nothing.
![screenshot from 2017-09-17 00-07-40](https://user-images.githubusercontent.com/16556558/30513819-4c641e66-9b3c-11e7-908e-c295153f1536.png)

[2017-09-16 20:54] #1729 closed

[2017-09-16 21:13] master-7 opened #1857 "After create-react-native-app and getstorybook I doesn't see any components"
package.json
[code]

.babelrc

[code]

<img width="1215" alt="screen shot 2017-09-17 at 00 12 02" src="https://user-images.githubusercontent.com/7540752/30516063-e922d760-9b3c-11e7-8bce-512c3a447513.png">

[2017-09-16 21:15] master-7 commented on #1857
If I run `yarn ios` I see
<img width="323" alt="screen shot 2017-09-17 at 00 14 54" src="https://user-images.githubusercontent.com/7540752/30516076-3f8c0fcc-9b3d-11e7-9a44-3495e0b1f27b.png">

[2017-09-18 00:37] tbredin opened #1859 "Allow stories to exist at the same level as nested folders"
Picking up on a request made by @psimyn in https://github.com/storybooks/storybook/issues/151#issuecomment-314322511

Initially this was one of the first patterns I attempted upon picking up Storybook, and it until I found @psimyn's comment it wasn't very clear why the below pattern didn't work as expected:

[code]

**Expected:** A single `Grid` folder containing some stories for my components, an

[2017-09-18 00:59] DimaRGB opened #1860 "[addon-info] Why need break word for string prop ?"
Why need this wordBreak style for `string` prop ?
https://github.com/storybooks/storybook/blob/master/addons/info/src/components/PropVal.js#L28

it's ugly http://joxi.ru/V2V3w7EF0a8zMA

Thanks for cool addon.

[2017-09-18 04:35] igor-dv commented on #1859
It's already implemented and will be released with 3.3 😉

[2017-09-18 10:04] hamishtaplin opened #1862 "Smoketesting storybook"
Are there any mechanism provided, either at build-time or runtime to check that each story renders without errors? As part of our CI, we build storybook on Travis and then deploy to Github pages—if a story breaks somehow (easily done) then we end up deploying a broken storybook application.

Currently, we are running the storybook app on Travis and then using webdriver.io (Selenium) to navigate to

[2017-09-18 10:56] Hypnosphi commented on #1862
There is a `--smoke-test` option for `start-storybook` in `3.3.0-alpha`, but looks like it doesn't serve your needs: it just checks that compilation is successful

I'll look into how menu items are rendered and probably will add some data attributes

[2017-09-18 13:57] Billy- commented on #1839
If it were as simple as wrapping `serialize` in a `try {} catch` then I would. However as mentioned it causes the system to hang -- and no errors are output at the end of it. So I'm not really sure where to go from there.

[2017-09-18 15:21] joseneto-fixeads commented on #1255
The storybook iframe (#storybook-preview-iframe) has a default margin (the chrome puts 8px margin on iframe). Components with 100vh broken, with a scrollbar :(

[2017-09-18 15:26] Hypnosphi commented on #1255
@joseneto-fixeads did you try to add `preview-head.html` file? https://storybook.js.org/configurations/add-custom-head-tags/

[2017-09-18 15:48] hamishtaplin commented on #1862
@Hypnosphi Awesome, that would be really helpful 👍

[2017-09-18 16:50] joseneto-fixeads commented on #1255
@Hypnosphi , Thanks! this solved the problem. I read already about this file, but I don't find him. I don't know the file must be created. Thanks!!!!

[2017-09-18 17:01] bratva opened #1863 "[addon-info] add custom Story"
Hello.

I wrap my component in a helper, like this
[code]
When i use addon-info like decorator or with `withInfo` i haved "Story Source" for both components.  But i want Source only for button.

I suggest add option`story` for addon. (custom Story component)
[code]

[2017-09-18 18:07] eddiemonge commented on #1772
Can you explain that? What fixed it?

[2017-09-18 20:42] UsulPro commented on #1863
Hi, Pavel!
Storybook offers a bit another way to create stories. The idea is to put your needed isolated component to the story and wrap it with addons. If your component can't work without being wrapped into some other components you can use decorators.
Given that, your case might look like this:

[code]

[2017-09-18 21:19] Hypnosphi commented on #1862
By the way, you can obtain the stories tree in runtime:
[code]
And then form the links using `?selectedKind=<kind>&selectedStory=<story>` pattern

[2017-09-18 21:21] Hypnosphi commented on #1862
In fact they are already present, it's `data-name`

[2017-09-19 01:33] felquis commented on #202
https://github.com/storybooks/storybook/issues/202#issuecomment-219979955 link was not found

[2017-09-19 03:25] dangreenisrael commented on #1404
Should this not be closed?

[2017-09-19 03:32] dangreenisrael commented on #1839
@Billy - Could you post detailed instructions on how to replicate this issue.

[2017-09-19 04:51] danielduan commented on #1839
I think it has to do with how our addon channels serialize the communication so it's probably not just the addon-actions.

something like this should cause it to hang when it should be dropping the object key:
[code]

[2017-09-19 07:14] MoOx commented on #1797
Will have a look later and will reopen if I still have the issue.

[2017-09-19 07:14] #1797 closed

[2017-09-19 08:27] speyburn commented on #1847
@danielduan i don't have a custom config (i assume this would mean that i would have a webpack.config file in the .storybook folder)

[2017-09-19 09:13] Billy- commented on #1839
@dangreenisrael I have come across this issue while using `react-flatpick`. Just throw a quick story together for it and add an action hander to the onChange:
[code]
This causes the window to freeze up for around 20-30 seconds and then resumes and nothing happens

[2017-09-19 11:26] UsulPro commented on #1863
Yes, I know this addon-info behavior is confusing. That's why we started the work of removing addon-info to the preview side (#1501). After we finish that, stories will not be mutated by the addon

[2017-09-19 11:31] bratva commented on #1863
Thank.  I will wait

[2017-09-19 11:31] #1863 closed

[2017-09-19 15:04] lucbelliveau commented on #1411
I had the same problem and updating to 3.3.0-alpha.0 also fixed it, thanks!

[2017-09-19 16:09] danielduan commented on #1839
@Billy- might be related to this? https://github.com/coderhaoxin/react-flatpickr/issues/43

[2017-09-19 17:23] sky790312 opened #1866 "vue cli with getstorybook - sample "MyButton.vue" addon-action can't work"
I have used vue cli to generate my project and init storybook by "getstorybook".
I found the basic sample MyButton.vue has no react with click event to show in action log.
I have searched the vue way to use addon-action in stroybook example but can't work.

[2017-09-19 18:05] UsulPro commented on #1108
In continuation of #764.
It would be nice to extend `getstorybook` with API which allow specifying custom templates in addition to those from `@storybook/cli` package.
I guess getstorybook was created to solve the issue of quick adding Storybook to the existing project. And it solved it at that stage, but the more new addons appear, the more time we need to spend to install them manually and harde

[2017-09-19 18:58] texttechne commented on #202
https://storybook.js.org/configurations/custom-webpack-config/

[2017-09-19 19:46] Hypnosphi commented on #1404
No, it's not yet released as stable

[2017-09-19 20:13] Hypnosphi commented on #202
Udated the original link

[2017-09-19 20:36] Hypnosphi commented on #1866
which project template do you use when running vue cli?

[2017-09-19 20:53] Hypnosphi commented on #1866
It can look like this:

[code]

[2017-09-19 21:14] dangreenisrael commented on #1404
Makes sense, thanks @Hypnosphi. Thanks for the clarification

[2017-09-20 00:34] dangreenisrael commented on #778
Hey guys, is someone actively working on this? If not I can take a stab at it this weekend.

[2017-09-20 02:45] sky790312 commented on #1866
I believe the project generate by vue-cli and init "getstorybook" which's add-action log has no react with the sample MyButton by click.. the sample use @click and methods, here you use prop $emit vue way. Neither can't work.

[2017-09-20 03:14] mech opened #1868 "_processChildContext is not available in React 16+"
Is the release candidate version of React 16 support on v3.3.0-alpha.0? Using React 16.0.0-rc.3, I am getting this react-modal error:

[code]

[2017-09-20 08:36] Billy- commented on #1839
I don't think so. As mentioned above, this issue can be worked around by using an arrow function and pulling out only the variables you want. It is only if you pass the action logger straight into the onChange that it happens - because the second parameter is unserializable

[2017-09-20 10:13] Hypnosphi commented on #1866
Can you please upload your project to github as a repo?

[2017-09-20 10:59] SeanSilke opened #1869 "Mixing of knobs from different stories"
## Description
I have following three stories for `SelectMultiple` component.

- Single
- Multiple
- Multiple with highlighted element

 And knobs

- `searchable` for all stories
- `Highlighted number` for last story

When I navigate from last story to first or second
'`Highlighted number`'  knob appears in knobs list.
If i try to change its value the value changes and knob disappears

## Code sam

[2017-09-20 11:06] tycho01 opened #1870 "Stencil / web components?"
So Ionic has recently put out an impressive [HNPWA](https://hnpwa.com/) ([here](https://github.com/ionic-team/ionic-stencil-hn-app)) based on their [Stencil](https://github.com/ionic-team/stencil), a "Compiler for Web Components" ([site](https://stenciljs.com/)).
This made me wonder: can `storybook` be used with web components? Would it require something specific to this Stencil to be used with it

[2017-09-20 11:27] dangreenisrael commented on #1839
@Billy-  Could you post a new repo reproducing this problem without the use of 'react-flatpikr'?

[2017-09-20 15:37] marcelorl commented on #430
@dcu-sharepoint the name of the package is `@storybook/cli` then it enables this `getstorybook` command for you.

[2017-09-20 15:54] rndmerle commented on #1747
Same issue with md-menu component of vue-material library.

[2017-09-20 16:09] rndmerle commented on #1747
Are you sure you don't still have a `addDecorator(withKnobs)` in config.js ?
Because I've that kind of loop with md-menu component from vue-material lib, but it's totaly linked to the inclusion of the knobs decorator.

[2017-09-20 16:10] mattrothenberg commented on #1747
@rndmerle You're right, removing that `addDecorator` "resolves" the issue I articulated.

[2017-09-20 19:26] canercandan commented on #1833
@Lehakos https://www.npmjs.com/package/dotenv could be a good candidate to approach this

[2017-09-20 19:57] ndelangen commented on #1108
I like the idea of adding addons via our cli.

I'm thinking we could add a `add` command to the future CLI:
[code]

And in fact what would be really cool is if we could offer a autocomple feature here...

[code]
Would then use `enquirer` and a json-fetch to grab the list of recommended addons from https://storybook.js.org/addons.json

I really want to do away with the `getstorybook` uni-command th

[2017-09-20 20:14] rhalff commented on #778
I could have a look, no guarantees though

Btw, the link in the original post should become:
https://github.com/storybooks/storybook/blob/master/addons/actions/.storybook/stories.js#L20

The current format function only test for a 'SyntheticEvent' but there are many more cases where recursion will fail:
https://github.com/storybook-eol/storybook-addon-actions/blob/master/src/preview.js#L7

Node's

[2017-09-20 20:24] alanhogan opened #1872 "Switch to suppress verbose build output?"
Our project added storybook's `start-storybook` command to our `Profile` so we can start it and a couple other servers with `nf` (Foreman).

This works great but builds cause an extreme amount of output in this manner:

<img width="722" alt="screen shot 2017-09-20 at 1 18 51 pm" src="https://user-images.githubusercontent.com/6808/30665768-041f1ab6-9e07-11e7-8933-ed5c7fc43a92.png">

Would it be pos

[2017-09-20 20:54] ndelangen commented on #1754
Thanks @orta!!!

I'm hoping this helps @duro

[2017-09-20 21:03] ndelangen commented on #1747
I know @kazupon added some code to make addDecorator work for vue?

What could cause an infinite render in Vue?

[2017-09-20 21:12] ndelangen commented on #778
@dangreenisrael @rhalff a PR to fix this proper would be fantastic!

[2017-09-20 21:21] ndelangen commented on #1870
Interesting, yeah looks like that could work!

[2017-09-20 21:24] ndelangen commented on #1872
Hey Alan! We've had this feature request before, I think we should add it, would you like to help us?

It would involve a small CLI change and a webpack config change.
Should be fairly easy to implement, do you want to give it a show?

If so, please use the release/3.3 branch as your base 👍 🙇

[2017-09-20 21:31] ndelangen commented on #1862
@hamishtaplin I wonder what in storyshots made you look for something else.

Storyshots will assure you all stories render exactly as before. If anything changes, it will fail.
Sounds like that's what you wanted?

[2017-09-20 22:12] mattrothenberg commented on #1747
Any call to `vm.$forceUpdate()` poses the risk of funny business

On Wed, Sep 20, 2017, 17:03 Norbert de Langen <notifications@github.com>
wrote:

[2017-09-20 22:14] rjbergerud opened #1874 "Trying to run getstorybook shows uninformative error"
I run `getstorybook` and it prints the following error

```     Unexpected token } in JSON at position 2878 ```

I have no file named JSON in my project.  This is an error with my project, but it would be helpful if `getstorybook` would print out a more informative message/stacktrace.

[2017-09-20 22:17] danielduan commented on #1874
check your `package.json`?

[2017-09-20 22:20] danielduan commented on #1868
There shouldn't be anything preventing React 16 from working. I wonder if you have 2 different versions of react installed?

[2017-09-20 22:23] danielduan commented on #1860
Is this a suggestion to remove the word break? It looks like if you have a really long word that gets displayed inside the prop table, it wouldn't break correctly. German words come to mind with something like this.

[2017-09-20 22:26] danielduan commented on #1857
You need to have storybook running in the background as well:
https://github.com/storybooks/storybook/tree/master/app/react-native#start-storybook

[2017-09-20 22:28] alanhogan commented on #1872
I could take a look. Where in the codebase does `storybook-start` live / examine the flags it gets?

[2017-09-21 00:36] rjbergerud commented on #1874
Yeah, it was there.

[2017-09-21 01:45] mech commented on #1868
I just perform a new app using the following and got the same error. I suspect is **react-modal**.

[code]

Visit the browser console give me these:

<img width="751" alt="react-modal-error" src="https://user-images.githubusercontent.com/5850/30675147-78fdc742-9eb1-11e7-8b6c-e77b05960876.png">

[2017-09-21 06:25] sky790312 commented on #1866
sure, https://github.com/sky790312/storybook-test
it's just set up by vue-cli and getstorybook

[2017-09-21 06:48] canercandan commented on #1833
@ndelangen I will need this feature too so will probably provide a PR soon, though in the meantime if someone wants to keep up on this you can use https://github.com/mrsteele/dotenv-webpack to enable dotenv through webpack this will require to setup a custom webpack setup that includes the webpack plugin `Dotenv`.

[2017-09-21 07:32] iosdev-republicofapps opened #1875 "Doesn't work with React Native"
Hi,

Thanks for making this available, it looks awesome and I'm eager to use it!  :-)

I create a react native app with create-react-native-app. The app works fine.  I followed your instructions at https://github.com/storybooks/storybook/tree/master/app/react-native#create-react-native-app-crna but when I try to preview on device, I get:
[code]

Any ideas?

Thanks!

[2017-09-21 08:07] ndelangen commented on #1833
@canercandan That might be a valid permanent solution too?
To include this in our internal webpack configs?

[2017-09-21 08:39] Ezku opened #1876 "Cannot find module 'babel-plugin-transform-runtime'"
EDIT: Duplicate of https://github.com/storybooks/storybook/issues/1729

Hello,

I'm upgrading to webpack 3, and for that to happen I also need to upgrade `@storybook/react` from `3.1.3` to `3.2.8`. After the upgrade, storybook fails to find `babel-plugin-transform-runtime`.

[code]

The module seems to be missing from the dependency tree altogether.

[code]

Installing `babel-plugin-transform-runt

[2017-09-21 08:57] valscion commented on #1876
I think this is precisely #1729 that was fixed by #1848. There just hasn't been any new storybook release for 3.2.x versions

[2017-09-21 11:43] DimaRGB commented on #1860
Ok, but why that description don't have?

[2017-09-21 13:42] Billy- commented on #1839
I don't really know the exact cause of the bug, so I'd have to put some time into actually trying to track that down. Unfortunately I don't really have the time to contribute that. Sincerest apologies!

[2017-09-21 14:13] ndelangen commented on #1872
Here's our guide to contribute:
https://github.com/storybooks/storybook/blob/master/CONTRIBUTING.md

Here's the code points your need:

https://github.com/storybooks/storybook/tree/master/app/react-native/src/bin

https://github.com/storybooks/storybook/blob/master/app/react/src/server/index.js
https://github.com/storybooks/storybook/blob/master/app/react/src/server/build.js

https://github.com/st

[2017-09-21 15:32] ddaza commented on #1772
My `.babelrc` had a `devtool: source-maps` config as well. Somehow having both they were cancelling each other. I removed the one on my `.babelrc` and everything worked.

[2017-09-21 16:51] t2 opened #1877 "Remove drop shadow in Addon-Info"
The addon-info inline styling is very strange. Header and prop types are split into separate shadowed containers. Is this on purpose?

Example: https://cl.ly/0h0W0g0T1p1b

[2017-09-21 17:38] camsloanftc opened #1878 "addon-info throws contrast accessibility issues for all stories"
The contrast ratio for the addon-info  "show info" button is inaccessible, and thus when used side-by-side with [storybooks-addon-a11y](https://github.com/storybooks/storybook-addon-a11y), I now receive an error on every single story.

<img width="1125" alt="screen shot 2017-09-21 at 1 35 49 pm" src="https://user-images.githubusercontent.com/16295659/30709917-d69d1842-9ed1-11e7-97de-f30096c27026.p

[2017-09-21 18:43] camsloanftc commented on #1878
darkening the background of the button to this hex color would become AA and AAA compliant: `#155884`

[2017-09-21 18:52] joefraley commented on #1328
@remotezygote this also occurs in full-control mode in just the same way. i'm happy to help, storybook is borderline unusable during component development under the weight of this bug.

can you point me in a direction of where to start looking?

[2017-09-21 18:53] joefraley commented on #1328
@thenewvu can you share or link to the rest of your webpack configuration?

[code]

maybe also your storybook entrypoint or a storyfile that was having this problem but now is not?

[2017-09-21 19:29] joefraley commented on #1328
combining some ideas described here, i think i have a workaround for my project:

[code]

basically i strip hmr plugin from the baseconfig, and i slap it back in from my repo's installed webpack instance, and that seems to work.

i still have no idea what's going on

[2017-09-21 19:50] Rovack commented on #1875
This seems to be the same issue reported in https://github.com/storybooks/storybook/issues/1831.

[2017-09-21 20:25] ItsJonQ commented on #1877
I noticed this as well. I couldn't override it via the `styles` config. I had to abandon it :(

[2017-09-21 20:28] t2 commented on #1877
@ItsJonQ Me as well. Moved over to Styleguidist. Maybe someone will clean this up a bit.

[2017-09-21 20:30] ItsJonQ commented on #1877
@t2 Oo! Thanks for the recommendation. I'll seriously consider this option! My needs have grown from needing a simple playground to something more of a styleguide.

Thanks!

[2017-09-21 21:35] eddiemonge opened #1880 "[3.3.0-alpha.0] addinfo throws prettyPropType error"
After upgrading to 3.3.0-alpha.0, I get the following message:

[code]

Seems to come from my `.storybook/config.js` file:

[code]

[2017-09-22 02:29] ederchrono commented on #1866
Seems like Vue events are not working, to make the action work you need to send it as a prop and execute it inside the component :/

[2017-09-22 03:06] thenewvu commented on #1328
@joefraley After days experimented that change, I turned out the issue sometimes still happens. Just like you, I still have no idea what's going on.

[2017-09-22 08:22] sigurbjorngudjonsson commented on #1853
I'm having the exact same issue. Is there anything missing from the documentation?

[2017-09-22 13:52] priley86 commented on #1749
hi @alterx @ndelangen just following up here...

I've continued testing #1474 and shared this with our Angular team @ RedHat. I'm happy to report the following:
* Knobs working as expected 👍
* Custom Elements working alongside Skate.js 👍
* Storybook deployer working as expected 👍

I've deployed a sample Storybook from my testbed here:
https://rawgit.com/priley86/patternfly-webcomponents-next/ng-st

[2017-09-22 14:02] alterx commented on #1749
Glad to hear that @priley86. Modules are definitely something in my list but we wanted to focus on getting it to work first 😄

There are some implications about letting it (potentially) render a full application, for example: how do we handle the case in which we send a module with several components? How do we decide which props apply to which component. We need to define an API for that and we w

[2017-09-22 15:22] priley86 commented on #1749
@alterx I think our use case is possibly more simple that what you have in mind. We develop example components/modules which import the component's module (like the one [here](https://github.com/patternfly/patternfly-ng/blob/master/src/app/sample/examples/sample-example.module.ts)). This just basically ensures that downstream consumers can import the same module which defines this component (and t

[2017-09-22 15:29] priley86 commented on #1749
i.e the current code supports single component with no dependent modules...so i've just used simple inheritance on my example component (inheriting from the actual component) as a short term [workaround](https://github.com/priley86/patternfly-webcomponents-next/blob/master/frameworks/angular/src/app/hello/examples/hello-example.component.ts).

It would be ideal for us though to be able to define a

[2017-09-22 15:36] UsulPro commented on #1853
@konsumer @sigurbjorngudjonsson when you import side package from npm or your local folder it should be transpilled to ES5. Usually, we do it via babel otherwise, it will be included in the bundle but can't be processed.
Are you sure you importing transpilled packages?
You can check out examples of our own addons in https://github.com/storybooks/storybook/tree/master/addons as well

If you have an

[2017-09-22 16:42] konsumer commented on #1853
@UsulPro yeh, I'm importing the babelified plugin. It's not registering at all, as in it doesn't throw an error or anything (as it would if the issue was that it neede to be transpiled) , just no QR panel. I have looked at the example addons, and mine is pretty similar (although maybe a bit simpler) and as I said does work fine if I include the same file, directly in another project, it's just whe

[2017-09-22 17:29] UsulPro commented on #1853
@konsumer
didn't you notice that when you install your addon as a dependency you have missed `./index.js` in your package? to solve this you need to remove it from your `.gitignore` file or add separate `.npmignore` to your project. It happens because npm uses `.gitignire` instead of `.npmignore` when you don't provide the last directly.

[2017-09-22 17:41] joefraley commented on #1328
it seems the issue has something to do with the relationship between the UI url and iframe URL:

![](https://www.evernote.com/l/Ae9S3OFkqWZDH6PEtktIgvp_VCSJhjzUukgB/image.png)

[2017-09-22 21:43] konsumer commented on #1853
This is just local, it hasn't been published. Although, I will do it differently, and in my opinion a better way: have a gitignore that ignores index, the a npmignore which is identical but does not ignore it. That is what I typically do for [my other npm published projects](https://www.npmjs.com/~konsumer). Once published, I will definitely do that. But I am just trying to test the packaged addon

[2017-09-22 21:54] konsumer commented on #1853
But to be clear: `.npmignore` (or in the case where there is only `.gitignore`) only affects publishing. It tells `npm publish` which files to leave out, not what files should be ignored on a local import.

[2017-09-22 21:55] konsumer commented on #1853
and also, as a relevant sidenote, the file does get included (validated with a console.log at the top-level) it's just not registering (validated by no console.log in the register function.)

[2017-09-22 21:57] konsumer commented on #1853
a full example of validation:

[code]

[2017-09-22 22:14] ericterpstra opened #1884 "ModuleBuildError: Module build failed: SyntaxError: Unexpected token"
Just installed storybook into my  `create-react-app` project, and am trying to start storybook for the first time.  I followed the [manual setup](https://storybook.js.org/basics/guide-react/) verbatim.  Looks like webpack is failing somehow.  The error output is huge, but the relevant section seems to be:

[code]

React version is 15.6.1.

I used the default config.json specified in the instructio

[2017-09-22 22:35] Hypnosphi commented on #1866
Looks like `MyButton.vue` lacked `$emit`: https://github.com/sky790312/storybook-test/pull/1. I will add that fix to #1867

[2017-09-23 08:06] UsulPro commented on #1853
@konsumer it doesn't matter if you publish to npm or keep it in your local folder.
Let's say you have a folder `storybook-qr` with your addon and folder `app` with your main project when you want to use this addon.
As I understand you do the steps like this:
[code]

`npm i ../storybook-qr --save-dev` will add to your package.json dependency like this:
`"storybook-qr": "file:///home/path-to-addon/s

[2017-09-23 14:41] Hypnosphi commented on #1868
@mech that's weird, I followed the reproduction instructions and I don't get those errors even after opening some modals. Can you please upload the project you get to GitHub as a repo?

[2017-09-23 14:44] Hypnosphi commented on #1876
Now it's released as [3.2.10](https://github.com/storybooks/storybook/releases/tag/v3.2.10)

[2017-09-23 14:44] #1876 closed

[2017-09-23 14:54] Hypnosphi commented on #1872
@ndelangen I changed all the links to point to `release/3.3` branch

[2017-09-23 14:56] Hypnosphi commented on #1878
@camsloanftc `#155884` looks OK to me, feel free to submit a PR with corresponding change

[2017-09-23 15:16] Hypnosphi commented on #1884
Can you please upload your project to GitHub as a repo if possible? You can leave only the parts related to storybook

You may also want to follow [quick start guide](https://storybook.js.org/basics/quick-start-guide/) and compare the result with what you get with manual setup

[2017-09-23 15:17] mech commented on #1868
You are right, I go to my 2nd laptop and try to use React 16.0.0-rc.3 with create-react-app and it worked fine. Sorry for that, I am surprised my main machine got issues.

[2017-09-23 15:17] #1868 closed

[2017-09-23 15:18] UsulPro commented on #1878
possible better to wait when we move it to the panel: no such buttons at all!

[2017-09-23 16:17] valscion commented on #1876
Thank you! 💞

[2017-09-23 16:40] konsumer commented on #1853
First of all, it does matter if you publish to npm or keep it in your local folder (that's just how npm works.) `.npmignore` is only to limit what files get sent to npm servers. You're missing the part that it is actually requiring it (as verified by the console.logs) and it's just not being registered. Your own tests confirm this, as you didn't mess with npmignore/gitignore, and somehow got it to

[2017-09-23 16:52] konsumer commented on #1853
If I copy the file into `.storybook/addons` and import it directly (not packaged), it works fine:

<img width="1867" alt="screen shot 2017-09-23 at 9 51 55 am" src="https://user-images.githubusercontent.com/83857/30775251-e840fb44-a044-11e7-81a8-5bdd0e84ab7d.png">

[2017-09-23 17:09] konsumer commented on #1853
I just published it on npm, and it worked fine, so I my point is the instructions for local development need a change, as they don't work as-is.

[2017-09-23 17:50] UsulPro commented on #1853
@konsumer how do you think is it enough to mention that after adding this line to `package.json` it's necessary to run `npm i` for this folder?
And that it's necessary to do it every time after you make changes in addon folder

(that's why I think it's not the best way to develop addons)

[2017-09-23 18:08] konsumer commented on #1853
That didn't do it for me. As I said the only way to make it work packaged, for me, was to actually publish it publicly, on npm.  In general, I use `npm link` for this sort of stuff, but that seems to have the same issues. Maybe if we got to the root of why the standard workflow doesn't work, then we could update the docs with proper `npm link` directions, and it would probably also fix the local f

[2017-09-23 18:33] UsulPro commented on #1853
@konsumer I tried your addon on my machine locally and everything worked fine (except the gitignore issue)

Maybe it will be useful to left the steps I did to run it (and maybe you can follow them from scratch as well):

[code]

[2017-09-23 21:24] konsumer commented on #1853
[Here](https://asciinema.org/a/pYJ02SK9DsYyehTtiD01xlSDZ) is me doing that. Here is the result (no QR panel):
<img width="1069" alt="screen shot 2017-09-23 at 2 24 28 pm" src="https://user-images.githubusercontent.com/83857/30777235-ed592ff4-a06a-11e7-8f0a-2347828ead36.png">

[2017-09-23 21:30] konsumer commented on #1853
Also, again, not sure what you mean by "the gitignore issue" as that was addressed above (even though it's actually not an issue.) As I said, this is actually published on npm and working fine in that context, just not locally, with any of the procedures you have described, or the procedure that is described in the documentation.

[2017-09-23 21:33] konsumer commented on #1853
It may not be clear, also, those "Here" statements above are actual links to screencasts of me trying what you are suggesting.  You can watch me do it.  I believe it works on your system, but it doesn't on mine, or  for @sigurbjorngudjonsson.

[2017-09-23 22:09] ArtanisAce commented on #1227
Hi guys, would like to start contributing, so this might be a good first pick. Can I take it? :)

[2017-09-24 08:55] Ragnar-H commented on #1831
@danielduan this has been fixed [upstream](https://github.com/xyc/react-inspector/pull/39)

I guess updating the dependency of `react-inspector` will close this issue?

[2017-09-24 09:57] dantesolis commented on #1852
hey guys, I'm having the same problem. Where Is it possible to submit a PR for those `TypeScript` defs.Thanks

[2017-09-24 12:42] xogeny commented on #1852
@dantesolis I would start here:

http://definitelytyped.org/guides/contributing.html

[2017-09-24 20:01] danielduan commented on #1877
We would love a PR for that if you any of you have time to give a try at fixing it.

[2017-09-24 20:04] danielduan commented on #1831
@Ragnar-H I don't see `react-inspector` listed explicitly as a dependency so I'm guessing the fix would just be to delete the `node_modules` and reinstall?

I would consider this case closed if that's the solution.

[2017-09-24 20:05] danielduan commented on #1875
I'm gonna close this because it's a duplicate as mentioned ^.

[2017-09-24 20:05] #1875 closed

[2017-09-24 20:06] #1850 closed

[2017-09-24 20:07] danielduan commented on #1860
Good question, I don't have an answer to that. If you'd like to open a PR to fix the prop table styles, please do! @DimaRGB

[2017-09-24 20:09] danielduan commented on #1884
Your webpack or babel is missing the react preset.

[2017-09-24 20:12] danielduan commented on #1874
If you have a link to your repo, we can probably take a look at it for you. It sounds like you have an extra `}` somewhere.

[2017-09-24 20:44] Hypnosphi commented on #1877
I believe #1501 fixes that

[2017-09-24 20:47] Hypnosphi commented on #1831
@danielduan it's a dependency of `@stirybook/ui` (see `lib/ui/package.json`). I'll try to update it

[2017-09-24 21:04] Ragnar-H commented on #1831
@Hypnosphi it's also in `addon-actions` -  [addons/actions/package.json](https://github.com/storybooks/storybook/blob/master/addons/actions/package.json#L28)

@danielduan you'd also need to clear the dependency from `yarn.lock`

[2017-09-24 21:19] Hypnosphi commented on #1831
Until #1888 gets released and merged, the easiest fix for current apps is following:

1. Remove all the `@storybook/*` dependencies
2. Run `npm install` or `yarn install` depending on which lockfile do you use. This will remove the lock for `react-inspector` package
3. Restore the dependencies and run install command again

[2017-09-24 22:58] jrwebdev opened #1889 "Silence error output"
When using `start-storybook`, we're seeing the whole compilation object output on error:

[code]

The actual output spans hundreds of lines. The compilation error is output correctly before all of this output, and it does not occur when using `build-storybook`. Having a look at the source, I've tracked it down to this line:

https://github.com/storybooks/storybook/blob/master/app/react/src/server/

[2017-09-25 02:31] sky790312 commented on #1866
got it! there will be a little confuse to use @click and $emit together for vue developer, just a remind.

[2017-09-25 02:58] ericterpstra commented on #1884
Yes, turns out it was .babelrc causing the issue.  I had a .babelrc file in the root of my project, but it did not have a "presets" field specified.  Adding `"presets": ["react"]` got it working. Thanks @danielduan

[2017-09-25 02:58] #1884 closed

[2017-09-25 04:04] camsloanftc commented on #1878
If it is all being moved to the panel, then even better!

[2017-09-25 07:51] Hypnosphi commented on #1866
Why? https://vuejs.org/v2/guide/components.html#Using-v-on-with-Custom-Events

[2017-09-25 09:18] jl-mindius opened #1890 "addon-info causes a 'TypeError: "paddingLeft" is read-only' error on React 16"
We just changed our project's structure to share code between web and React Native, which currently means using React 16.0.0-alpha.12 (due to RN version 0.47). This cased the error in the title to appear in the component view where we use the info addon. Upgrading to 16.0.0-rc.3 doesn't make a difference, but downgrading to 15.6.1 removes it.
[code]
Like it says, the error comes from the Node comp

[2017-09-25 10:14] sky790312 commented on #1866
Sorry, forget that.
I mean..I see :handle-click="action" (<- it's prop) In some sample code.
It should use @handleClick="action" to $emit back parent element.

[2017-09-25 10:17] Hypnosphi commented on #1866
Code with `:handle-click` assumes that `MyButton` declares the corresponding prop, I just took that from `examples/vue-kitchen-sink`

[2017-09-25 10:29] sky790312 commented on #1866
Yes, I think it should be
@handleClick="action"
then in parent method 'action' trigger the addon-action

[2017-09-25 10:32] Hypnosphi commented on #1866
You mean that child should `$emit('handleclick')` instead of `$emit('click')`? But it's just a matter of naming, isn't it?

[2017-09-25 10:35] Hypnosphi commented on #1866
**Alternatively**, you can use a prop, like this: https://github.com/storybooks/storybook/blob/master/examples/vue-kitchen-sink/src/stories/Button.vue

[2017-09-25 13:41] mthuret opened #1892 "Help to debug "Accessing nonexistent addons channel" error that appears with 3.2.10"
Hi there,

We use storybook along argos-ci to perform some visual regression testing. Since the release of 3.2.10, our build break with this error: Accessing nonexistent addons channel.

I have a hard time understanding what is the change causing this. We were using 3.2.6 for the addons lib and the warning was already here.

Here is the code that glue storybook with argos: https://github.com/algol

[2017-09-25 15:41] bmv437 commented on #1890
Yea, I've seen this too. It has to do with ReactFiber freezing the props to a component with `.preventExtensions()`

https://github.com/facebook/react/blob/11a1543b9ececd1fe8dbaf45df1e3ed3de5a8d9f/src/renderers/shared/fiber/ReactFiber.js#L53

The line above could be replaced with
`const containerStyleCopy = Object.assign({}, containerStyle, leftPad)`

[2017-09-25 19:11] ndelangen commented on #1892
Hey @mthuret,

Please check if all the addons you're using are updated and are using the same version of `@storybook/addons`.

[2017-09-25 19:18] #1831 closed

[2017-09-25 20:40] agarrharr opened #1893 "Object spread syntax error"
When I use an object spread, I get a syntax error. Does storybook support this syntax?

[2017-09-25 20:54] danielduan commented on #1889
It sounds like you're probably using a custom webpack config but it's getting an error during validation.

Can you show us the config you're using?

[2017-09-25 20:56] danielduan commented on #1890
The info addon doesn't work with react-native to my knowledge.

[2017-09-25 20:58] bmv437 commented on #1890
I'm having the same issue with just normal react v16.0.0-rc.3
Was going to post an issue but I saw this one.

[2017-09-25 20:59] danielduan commented on #1893
We are using `babel-preset-env` by default so yes we do support the object spread syntax. If you are using a custom babel or webpack config, it might be overridden.

[2017-09-25 21:01] danielduan commented on #1890
@bmv437 please open a PR if you have a chance and add that line in. We'd really appreciate it!

[2017-09-25 21:06] agarrharr commented on #1893
Thanks for the quick response. The only thing I have in my `.storybook` directory is `addons.js` and `config.js`, so I'm not using a custom babel or webpack config.

[2017-09-25 21:18] gvaldambrini commented on #1892
@ndelangen I'm having the same issue. Not sure if it is related to this problem but in my case (the storybook-router development) the addon versions within the example app (cra-kitchen-sink) and within my addon are the same. What surprised me is that if I use the storybook-router version from npm (instead of the linked one) everything works fine. I can of course provide the code if it might help.

[2017-09-26 00:51] bmv437 commented on #1890
Opened a PR with the fix. Thanks @danielduan!

[2017-09-26 01:53] #1890 closed

[2017-09-26 02:59] sky790312 commented on #1866
I think we are discussing different things, the issue is clearify now.
never mind.  Sorry for my poor expression. lol

[2017-09-26 03:02] #1878 closed

[2017-09-26 05:30] Hypnosphi commented on #1893
Actually, it‘s not part of `preset-env`, because it‘s not yet a snandard. But we use `preset-stage-0` as well, so it should be available anyway.

Is there a chance that you have `.babelrc` in your project root directory?

[2017-09-26 06:59] jl-mindius commented on #1890
Awesome, thanks guys!

To be clear, we're not using Storybook with React Native yet, but the shared root requires us using React 16 for the web app.

[2017-09-26 09:11] notgiorgi commented on #44
I'm using react-native-web and I want to share stories between web and native, so I have 2 separate configurations for storybook but 1 stories folder.

In stories I need to import `storiesOf` but import it from either `@storybook/react` or `@storybook/react-native`

So I came up with this:

[code]

and I'm using `import { storiesOf } from '@storybook/react'`

But it still outputs the error, `Can't

[2017-09-26 09:50] mthuret commented on #1892
@ndelangen yes that was it because we're using renovate for updating our deps. I group the update and everyting is now fine. I'm closing this.

 @gvaldambrini feel free to reopen this one or a new one if you have more details on your issue.

[2017-09-26 10:02] notgiorgi opened #1895 "Add documentation for which addons support react-native"
Add documentation for which addons support react-native

[2017-09-26 10:32] notgiorgi commented on #803
`@storybook/addon-info` outputs the same message as well, any solutions?

[2017-09-26 10:53] Aylata opened #1896 "Possibility to group knobs in the panel"
Hello!

Is it possible to group knobs when they are shown in the panel? I use "chapters" add-on to enable using different components in one story. Each component has its own knobs. At the moment there is a long-long-long list of all knobs and it's very hard to navigate and find something that you need. So is there any chance to group those knobs in a way I need it?

Thank you!

[2017-09-26 12:16] Gongreg commented on #803
@notgiorgi storybook addon-info doesn't work with react native.

[2017-09-26 12:31] ImanMh commented on #1777
Same issue here

[2017-09-26 12:38] kkollman opened #1897 "Windows 10 won't run getstorybook - EPERM: operation not permitted, unlink"
Hi there,

I have a big issue when trying to run `getstorybook` - installer throws error and stops the whole process.

Message I get is:

[code]

Could someone please let me know how to handle this one? It's driving me crazy.

[2017-09-26 12:45] notgiorgi commented on #803
Then we need this: https://github.com/storybooks/storybook/issues/1895

if someone can provide the list, I could do the PR

[2017-09-26 13:14] Gongreg commented on #803
@notgiorgi, every addon has a list of apps it supports.

https://github.com/storybooks/storybook/tree/master/addons/actions
https://github.com/storybooks/storybook/tree/master/addons/comments
and so on.

[2017-09-26 13:40] marchdoe commented on #1897
@kkollman - what version of node are you running?

[2017-09-26 14:01] yourikopecky commented on #1897
@kkollman When I have this "EPERM: operation not permitted, unlink [...]" issue on windows it's because:
-When Atom (or any IDE using the project) is open
-When I use Atom Beta (open or not), the fix for this one is to use the stable release of Atom
-When my local server is running

So maybe it's not a problem with storybook.

[2017-09-26 14:40] agarrharr commented on #1893
I do. I added `"stage-1"` to my `.babelrc` and it worked! Thanks.

[2017-09-26 14:40] #1893 closed

[2017-09-26 14:40] UsulPro commented on #1897
@kkollman
try to run `npm i` after that. Do you still have the same error?

[2017-09-26 15:10] danielduan commented on #1895
We'd love a PR for it if you have some time. I think most of the addon readmes have something regarding which projects they support or don't support. It's probably a matter of gathering them in one place and trying some out.

I know for a fact the info addon isn't supported in react-native.

[2017-09-26 15:12] danielduan commented on #1896
I don't think that's something on the roadmap, but if you think you have a solution for it, feel free to open a PR.

[2017-09-26 15:14] danielduan commented on #1880
I haven't seen the info addon documented or used like this as a decorator. I'm wondering if that's supported or not..

[2017-09-26 15:19] stuff opened #1898 "Error: Multiple exported component definitions found"
When exporting a component as a named export and default exporting the same component using an HOC in the same file, I've got a bunch of errors like this the **first time** I run `start-storybook`:
[code]
But the storybook **is created and is working** (however, in our big project, with a lot of snapshots, the deploy machine crashes because of too many errors like this apparently)

Second time, a

[2017-09-26 16:21] danielduan commented on #1898
That's an error from `react-docgen` and probably related to `babel-plugin-react-docgen` passes things in.

I think you'll need to use a custom babel file and export all component definitions: https://github.com/storybooks/babel-plugin-react-docgen#babelrc-options

[2017-09-26 17:19] danielduan commented on #1877
@Hypnosphi #1501 wouldn't fix this, but it would eliminate this problem because it won't be inline anymore.

[2017-09-26 18:06] rjbergerud commented on #1874
@danielduan thanks, I found it ;)

[2017-09-26 18:06] #1874 closed

[2017-09-26 20:41] dweldon opened #1899 "Accessibility developer tools don't work"
I've found that the [Chrome Accessibility Developer Tools](https://chrome.google.com/webstore/detail/accessibility-developer-t/fpkknkljclfencbdbgkenhalefipecmb?hl=en) don't work when browsing stories. I'm using storybook with Vue components (unsure if that's related). The accessibility properties of components were available when I used Vue Play (which also uses iframes) in the past, but after the

[2017-09-26 21:19] BYazdaani commented on #15
hi
for me npm cache clean
and
npm rebuild
worked
thanks

[2017-09-26 22:41] barbush commented on #1040
Why is storybook support only in Typescript starter? Storybook support needs to be in the normal version

[2017-09-26 22:45] eddiemonge commented on #1880
That seems to fix it. The usage seems to have changed. That should make it a breaking change though

[2017-09-26 23:06] shilman commented on #1880
@eddiemonge please double check but i think `addDecorator((story, context) => withInfo({ text: 'string here' })(story)(context))` should also work. i think the issue in your code above is that you are passing in neither a string nor an object with a `text` field of type string. also, i don't think the usage has changed (other than the 3.2 change of `.addWithInfo` being deprecated (still supported,

[2017-09-26 23:10] eddiemonge commented on #1880
Changed it to
[code]
and it still throws the warning. Part of the problem is the debug output is not helpful. It doesn't give line numbers or anything useful.

[code]
doesn't provide any context

[2017-09-26 23:21] shilman commented on #1880
@eddiemonge curious whether you've tried this in 3.2.11? it's also very possible that something broke in the 3.3 branch. if so, i can def look into it.

[2017-09-27 00:07] brycehill commented on #1868
Hmm, I'm running into this too. Not sure why yet.

[2017-09-27 00:19] vladi-dev commented on #1898
Versions:
[code]
After updating to v3.2.11 I receive multiple similar errors when running `npm run storybook`.
[code]
Downgrading to versions below resolved the issue.
[code]

[2017-09-27 01:01] mech commented on #1868
Try making sure your yarn or NPM is latest version. When I upgrade my yarn from 0.x to 1.x, it works.

[2017-09-27 01:11] astrotim commented on #1889
I have added `stats: 'none'` to my webpack.config.js which has suppressed the output on compilation error.

[code]

[2017-09-27 02:12] matt-erhart commented on #1778
I hadn't even considered the docs were wrong until spending a bunch of time on this. Let's get this fixed asap. I can pr later if need be.

[2017-09-27 06:38] kkollman commented on #1897
@marchdoe node v6.11.0
@yourikopecky I've tried with local server and atom off - no difference :(
@UsulPro when I try to `npm i` it correctly throws _no json_ error - did I understand something wrong? Shouldn't it be just a zip file that is opened?

[2017-09-27 07:36] GeeWee commented on #1778
It'd be awesome if you did this - I've had it on my to do list for a while but I've been crazy busy

[2017-09-27 14:01] nblackburn commented on #1899
I am seeing the same, it's a shame as it helps to be able to see them and the state of components.

[2017-09-27 15:49] sigurbjorngudjonsson commented on #1853
If I remove `node_modules` from the custom addon folder and then switch over to a project where the addon is a file dependency and update the packages (`yarn` or `npm install`) then I'm able to use the addon with a local file reference in `package.json`.

Can it be the case that if the `node_modules` folder is not removed it uses a separate instance of the AddonStore from it's own `node_modules` w

[2017-09-27 16:45] eddiemonge commented on #1880
`@storybook/react@3.2.11` no warning.

[2017-09-27 17:00] njj opened #1900 "Unable to load fonts (returning 404)"
Hi all, I've tried various approaches to getting my fonts to load, all which have failed.

The main application is routed through nginx, so I use the paths related to that i.e. `web-2` in the less files for loading the fonts:

I am using the `-s` flag when running storybook to point at `./assets/`

When loading the fonts, the less file looks something like:

[code]

The console error I get is some

[2017-09-27 18:04] shilman commented on #1900
This will work if there is a directory `web2` underneath your `./assets/` directory, i.e. `<project-dir>/assets/web-2/assets/fonts/...`. I think you want `url("/fonts/avenir/...")` instead.

[2017-09-27 18:22] njj commented on #1900
@shilman The project directory is `web-2`, these fonts resolve in the application just fine, but when pulling in the less files into Storybook I get the 404.

[2017-09-27 18:27] lukecwilliams commented on #803
I have the same issue - `yarn run storybook` provides this output then hangs.  Reading comments above, I'm not including addon-info and am on the latest version of Storybook.  Help?

@storybook/react-native@^3.2.11
react-native@0.47.1:

---

$ storybook start -p 7007
=> Loading custom .babelrc from project directory.
=> Loading custom addons config.
=> Using default webpack setup based on "Create

[2017-09-27 19:25] lukecwilliams opened #1902 "How to set up React Native Storybook with alternate dist directory (e.g. with TypeScript)?"
The default installation instructions create a ./storybook directory, but in our case we need all source to be in `src` for TypeScript.  We compile to `dist`.

Moving storybook directory to src and compiling it doesn't appear to work.  We can get the server running with `-c dist/storybook`, but then the app runs normally - not showing any storybook content.

How can we get the storybook app to run

[2017-09-27 19:38] lukecwilliams commented on #1902
I can get storybook running by conditionally changing this line

    jsCodeLocation = [[RCTBundleURLProvider sharedSettings] jsBundleURLForBundleRoot:@"dist/index.ios" fallbackResource:nil];

To

    jsCodeLocation = [[RCTBundleURLProvider sharedSettings] jsBundleURLForBundleRoot:@"storybook/index.ios" fallbackResource:nil];

Is that really the intended way to use this library though?  It seems li

[2017-09-27 19:57] lukecwilliams commented on #1902
Summarized questions on this topic:

1. How to set custom directory for storybooks index.ios.js entry point
2. How to transpile .ts files somewhere besides ./dist, so that they're not included in the production deployment bundle

[2017-09-27 20:11] mobitinker opened #1903 "Trouble using storybook on Ignite boilerplate project"
If I create a new ignite boilerplate project (which has storybook already) and try "npm run storybook" and browse to http://localhost:7007 I see the storybook on the browser but no stories are listed. I would expect the two button stories, one with text, one with emojis.

On a related note, if I remove the storybook dirs from the project and do this:
npm install --global @storybook/cli
cd [your-ap

[2017-09-27 22:13] Hypnosphi commented on #1777
You could add `withInfo` decorator after your own:
[code]

Docs say though that `withInfo` won't work well when used as decorator other then first one: https://github.com/storybooks/storybook/tree/master/addons/info#usage-as-decorator
@UsulPro why is that so? The only problem I noticed is that "Story source" section includes the inner decorator

[2017-09-27 22:31] Hypnosphi commented on #1899
I tried it on our [example app](https://github.com/storybooks/storybook/tree/master/examples/vue-kitchen-sink). Is this how it should work, or am I missing something?
<img width="1440" alt="screen shot 2017-09-28 at 01 30 22" src="https://user-images.githubusercontent.com/6651625/30941153-c615b8e2-a3ec-11e7-928f-9b73b4f5e4e2.png">

[2017-09-27 22:49] dweldon commented on #1899
@Hypnosphi That image looks correct... I just downloaded the source for `vue-kitchen-sink` but I can't get it to build. I'm getting a lot of `Module build failed: ReferenceError: Unknown plugin "transform-runtime"` errors.

[2017-09-27 22:52] Hypnosphi commented on #1899
You can run it this way:
[code]

[2017-09-27 23:50] tmeasday commented on #1862
You can use storyshots to do exactly this, with the [renderOnly](https://github.com/storybooks/storybook/tree/master/addons/storyshots#renderonly) test body.

[2017-09-27 23:55] dweldon commented on #1899
Thanks for the directions - I was able to get the build working but I still can't get the accessibility tools to work for anything inside of the `iframe` (including the button). I can see the accessibility properties of the `iframe` itself and everything above. For reference I'm on Chromium 61.0.3163.79 on Linux.

I wonder if I'm supposed to have to tell the plugin to look inside the `iframe` or s

[2017-09-28 00:19] rpowelll opened #1904 "Update Syntax Highlighting in Firefox Quantum (v57.0)"
The latest Firefox beta includes an updated appearance for the developer tools, including a new syntax theme. It'd be nice to update the React Developer tools to be consistent with that. Here's an example of what the HTML inspector looks like:

<img width="994" alt="screen shot 2017-09-28 at 10 16 03 am" src="https://user-images.githubusercontent.com/320910/30943713-29e277cc-a436-11e7-9fa9-e1c1e1b

[2017-09-28 00:27] rpowelll commented on #1904
I'd be willing to work on this when I have some spare time by the way. I'd be curious to know if we want to keep the old theme around for Firefox < 57 as well?

[2017-09-28 00:29] rpowelll commented on #1904
Somehow I put this in the wrong tab

[2017-09-28 00:29] #1904 closed

[2017-09-28 01:11] roblafeve commented on #1902
I've been struggling with this for the last few days.

[2017-09-28 05:54] vanluke commented on #1900
I have the same issue. Can not load fonts I have got 404

[2017-09-28 06:44] lukecwilliams commented on #1902
@roblafeve So far I don't have a better answer for (1) above - I just have to modify jsBundleURLForBundleRoot.

For (2):

- I'm just moving storybook files to ./src/storybook, and compiling to ./dist/storybook.
- Modified package.json scripts with
    "storybook": "storybook start -p 7007 -c dist/storybook"
- I'll have to remember to delete the ./dist/storybook directory prior to production deploy

[2017-09-28 06:52] lukecwilliams commented on #1902
Side note, if anyone can explain what this `module` keyword is doing I'd be very appreciative.

    storiesOf('Welcome', module)

[2017-09-28 09:50] Hypnosphi commented on #1902
@lukecwilliams it's used for dealing with HMR

[2017-09-28 09:52] UsulPro commented on #1777
At this stage `withInfo` is exactly the same decorator as any other you adding with `addDecorator`.
It just works with a `story` prop passed to him. `story` could be wrapped to another decorator, but `withInfo` has no information about that.

I guess better to say that it should be the `root` decorator (actually **the last one**  because each decorator wraps all previous)

[2017-09-28 10:07] shilman commented on #1900
@njj When you run `start-storybook` it is running its own webserver, and when you run the `-p 6006 -s somedir` option it serves files under `somedir` in the root path. For example, if `somedir` contains `a.txt` and `b.txt`, those should show up at `http://localhost:6006/a.txt` and `http://localhost:6006/b.txt`.

In your case, everything under the assets directory should show up at the root, e.g. `

[2017-09-28 10:21] lee-chase opened #1907 "Add Vue play example like storybook-addon-jsx"
Based on the activity I'd say storybook is a better long-term solution than vue-play, but without example source storybook does not fulfil the basic needs. Is anyone working on this?

[2017-09-28 10:50] dumbNickname commented on #1868
In my case rebuilding the lock file from scratch helped - I removed node_modules together with yarn.lock file and re-installed all of the dependencies. Maybe it helps somebody.

[2017-09-28 11:02] vanluke commented on #1900
In my situation the problem was caused by sass loader so i moved font face statements to CSS files and then import this CSS file in sass

[2017-09-28 12:24] njj commented on #1900
@shilman Thanks!  The solution ended up being:

`start-storybook -p 6006 -s ../`

[2017-09-28 12:24] #1900 closed

[2017-09-28 12:36] ndelangen commented on #1907
Have you seen this:
https://github.com/storybooks/storybook/tree/release/3.3/examples/vue-kitchen-sink

Or this:
https://github.com/ndelangen/storybook-vue-example

Or are you looking for an example using JSX? I haven't seen it yet!

[2017-09-28 13:50] danielduan commented on #1898
This error is related to https://github.com/storybooks/babel-plugin-react-docgen/issues/36 and fixed in v1.8.1.

Please delete your node_modules and all lock files and reinstall. Sorry about this guys.

[2017-09-28 13:51] #1898 closed

[2017-09-28 13:54] lee-chase commented on #1907
I'm working with Vue and noted that the JSX storybook plugin shows the markup/jsx required to create the story.

vue-play also has this feature.

However, unless my freshly installed/tested version of Storybook is broken, I do not see the markup/vue required to create the story.

[2017-09-28 15:35] percyhanna commented on #701
I have been having problems getting this setup. I'm running a Rails 5.1 app, with two `.babelrc` files:

1. `.storybook/.babelrc`
2. `.babelrc` (root folder)

The one in `.storybook` didn't seem to stick, no matter what I tried. I debugged in `babel_config.js`, and it appeared to be loading the correct file, however, it wouldn't actually work. I also noticed [this code](https://github.com/storyboo

[2017-09-28 17:26] danielduan commented on #701
Do you have a custom webpack config @percyhanna ? If you do, can you paste the contents?

[2017-09-28 17:27] lukecwilliams commented on #1902
@Hypnosphi Ok - thanks for the info!

Just need to know how to get the storybook packager to recognize `./dist/storybook/index.ios.js` without manually modifying AppDelegate.m.

[2017-09-28 17:29] percyhanna commented on #701
Yes I do. The file itself is pretty bare, though, it's basically copying over Webpack config settings from the Rails app's `webpack.config.js`. Are you looking for something in particular? I can try to assemble wha the final results look like for you.

[2017-09-28 17:30] percyhanna commented on #701
Are you wondering what the `babel-loader` looks like or something?

[2017-09-28 17:32] lukecwilliams commented on #1902
@Hypnosphi Do you know where this `module` keyword is from?  I don't understand why it's available and useful, is it like a `this` pointer for JS modules?

Very hard to find info searching the word "module".

[2017-09-28 17:32] danielduan commented on #1903
@mobitinker I'm not sure what you mean by `ignite boilerplate project`. Do you have a link to it?

Unfortunately, react-native does not run in the browser. The storybook and its addons will run in the browser and connect to your phone, but the actual components can only be displayed on your phone or the simulators.

[2017-09-28 18:15] mobitinker commented on #1903
Hi!
Thanks for your reply. The ignite boilerplate is at:
https://github.com/infinitered/ignite-ir-boilerplate

Is it possible to run storybook in the browser against the components in my
React-Native app? The components, at present, are purely presentational and
don't reference RN features.

I cloned the example from backpack-ui and it seemed to work out ok.

On Thu, Sep 28, 2017 at 10:32 AM, Dani

[2017-09-28 18:32] danielduan commented on #1903
Backpack-ui is written in react for the web. It seems like you're a bit confused on react vs. react-native.

React is a javascript web rendering library and react-native builds on top of it to adapt the same concepts to native iOS and Android components. While the underlying platform is the same, the "view" that's manipulated is different because react-native is an abstraction of iOS/Android compo

[2017-09-28 18:55] mobitinker commented on #1903
Thanks for patiently helping me with that distinction. I started with
React-Native and assumed <View> etc were used in React as well. Doh.  It
makes so much more sense now!  Eight days into learning the whole RN
ecosystem with no previous ReactJS experience, I'm still feeling
overwhelmed ;-)

On Thu, Sep 28, 2017 at 11:32 AM, Daniel Duan <notifications@github.com>
wrote:

--
Mark Murphy, 503-809-1

[2017-09-28 18:57] faherrera commented on #1868
I have the same problem when I want to use to Modals from 'react-materialize'. And this project have all update.  I really need this component. If you can help me, I will be thank

[2017-09-28 22:17] danielduan commented on #701
You have to extend the webpack configs in a way that preserves our default settings or else it will default to the root `.babelrc`.

https://storybook.js.org/configurations/custom-webpack-config/

[2017-09-28 22:30] danielduan commented on #1897
Try running your terminal in admin mode.

[2017-09-28 22:33] Hypnosphi commented on #1902
It's rather a global variable than a keyword. It's not a part of JS standard, but it's used by webpack (it basically took it from node.js)

[2017-09-29 07:36] illyon commented on #810
I found another way to make array of objects, don't know if it's a right way. This is an example of story for Socials component, which takes an array of objects with information about each social (name, href) and displays it as list:

[code]

[2017-09-29 08:52] Fowowski commented on #1868
Guys I had this issue and it's gone now after I upgraded my `yarn` to `1.1.0`

[2017-09-29 09:06] Billy- commented on #825
I would like this feature. It should be possible for any decorator...

[2017-09-29 11:01] Hypnosphi commented on #810
@illyon nice solution! Works good when you have a fixed set of expected objects

[2017-09-29 13:48] ianmcnally commented on #1819
I'm seeing the "exports is not defined" now and have narrowed it down to babel-preset-env. I'll update if/when I find something.

[2017-09-29 14:10] borbediana opened #1913 "On Edge browser, Storybook doesn't reload styles for :disabled pseudo selector"
I am creating react components. When changing a prop from knobs, the styles for :disabled pseudo selector are not reloaded instantly (at re-render). You have to click on the story window to load them.

Using:
    "@storybook/addon-knobs": "3.1.9",
    "@storybook/react": "3.1.9",

[2017-09-29 14:19] Billy- commented on #794
I am also having the same issue... I've only noticed it on components which are connected though, so I though that might be something to do with it.

[2017-09-29 14:21] Billy- opened #1914 "Add button to addon-knobs"
I'd like to suggest a feature for the knobs addon; a button which when clicked would fire some handler function, e.g:

[code]

And then this button would appear in the knobs panel.

My current solution is to simply put a button inside the story, which is not ideal.

Kind regards

[2017-09-29 15:22] lukecwilliams commented on #1902
@Hypnosphi Ok, interesting - thanks.  I'm unclear where it comes from in RN without Webpack but I take it it's polyfilled somehow.

[2017-09-29 16:14] danielduan commented on #1914
definitely makes sense to me. we welcome PRs 👍

[2017-09-29 17:06] UsulPro commented on #1914
Hi @Billy-

You can put your function to the story, and it will trigger each time when you select this story:

[code]

[2017-09-29 17:11] Billy- commented on #1914
@UsulPro my intention is to allow the user of the story to trigger an action multiple times. In my case my action would dispatch an action to my redux store.

I will look into it... :+1:

[2017-09-29 18:40] Hypnosphi commented on #1902
The stories files are indeed processed by webpack (`@storybook/react-native` depends on it)

[2017-09-29 19:00] notgiorgi commented on #1895
the [addon gallery](https://storybook.js.org/addons/addon-gallery/) would be the best fit I think.

[2017-09-29 20:17] lukecwilliams commented on #1902
That's helpful, thank you!

[2017-09-29 21:02] ndelangen commented on #803
@lukecwilliams The issue is resolved for you? Or are you manually changing a package.json file in our package? If you have founds a fix in our code, could you open a PR? 👍

[2017-09-29 21:13] ArtanisAce commented on #1330
Hi! Would like to take this as first contribution, and then keep jumping to more complex stuff :)

[2017-09-29 22:27] danielduan commented on #1895
Yeah I can see some filter for that list for react, react-native, vue, and angular.

[2017-09-29 23:41] tmeasday commented on #1330
Awesome @artanisace. Let me know how I can help

[2017-09-30 07:38] notgiorgi commented on #1895
Even simple badges after the name would be enough

[2017-09-30 10:01] #1862 closed

[2017-09-30 12:18] SpaceK33z commented on #1490
We now use the latest versions of webpack,

[code]

So this shouldn't be an issue anymore. Feel free to re-open if it still is.

[2017-09-30 12:18] #1490 closed

[2017-09-30 15:03] Hypnosphi commented on #1913
How exactly does your example looks like? This seems to work ok in Edge:

[code]

[code]

[2017-09-30 18:47] Hypnosphi commented on #1914
Does [`addon-events`](https://github.com/storybooks/storybook/tree/master/addons/events) serve your needs?

[2017-09-30 19:08] dependencies[bot] opened #1921 "Dependencies.io troubleshooting"
We're opening this issue to inform you about problems with your [dependencies.io](https://app.dependencies.io/) configuration or build failures.

We'll add a comment here when we see problems. You can close this issue when
you have things resolved -- we'll open it back up if we detect new problems.

Helpful links:

- [dependencies.io/docs](https://www.dependencies.io/docs/)
- https://app.dependenc

[2017-09-30 19:10] Hypnosphi commented on #1921
This seems to be because of an outdated yarn.lock

[2017-10-01 15:48] bermanboris opened #1935 "Storybook doesn't work with Create React App project (React 16)."
After installing storybook into existing CRA (Create React App) project and going to http://localhost:9009/, storybook crashes with the next error:

[code]

I think Storybook tries to read PropTypes from the react package, and as far as I know, PropTypes were removed completely from React 16.

Any was I can solve this issue? Thanks!

[2017-10-01 16:13] Hypnosphi commented on #1935
Which version of `@storybook/react` do you use?

[2017-10-01 16:16] bermanboris commented on #1935
@Hypnosphi, 3.2.11

[2017-10-01 21:16] bermanboris commented on #1935
I found the issue!

I've installed and ran old version of storybook first. It created default stories with depricated PropTypes. Upgrading to newest version of storybook didn't helped, because it didn't override the stories directory in src.

Deleting `src/stories` and running `getstorybook -f` helped.

Thanks!

[2017-10-01 21:16] #1935 closed

[2017-10-01 23:21] Billy- commented on #1914
Possibly.. I'm not sure.. it seems to be tied to an event emitter?

I have tried for several hours today but could not get a working development environment for storybook or the knobs addon. Could someone spell it out for me?

[2017-10-02 09:44] Hypnosphi commented on #1914
Please describe your troubles in an issue, or at our slack [support channel](https://storybooks.slack.com/messages/C55DBHZL0/convo/C4Q0S3MQR-1506807775.000043/)

[2017-10-02 09:49] Hypnosphi commented on #1914
No, it's just used as an example. In your case it would be

[code]

It will create a separate control for each action in `events` array

[2017-10-02 10:45] borbediana commented on #1913
I am using **react-jcss** for styling.

`    input: {
    '&:disabled + label': {
      '&:before': {
        backgroundColor: colorFlint
      }
    },
    '&:disabled:checked + label': {
      '&:before': {
        backgroundColor: colorFlint
      },
      '&:after': {
        backgroundColor: colorHammer
      }
    }
  }`

[2017-10-02 10:48] Hypnosphi commented on #1913
And what exactly does your knob do? Just toggles the `disabled` prop, as in my example above?

[2017-10-02 10:51] borbediana commented on #1913
I have a <input type="radio" />. I just change the `disabled` prop.

[2017-10-02 13:43] lukecwilliams commented on #803
@ndelangen I could look at a fix - currently I have to modify AppDelegate.m every time I want to switch between Storybook and my app.  I'd prefer to only need to run the separate packager and have Storybook read the location of my file automatically (./dist/storybook/index.ios.js).

To confirm, is that not currently possible?

[2017-10-02 15:10] lucasmotta opened #1937 "Consider removing opencollective dependency"
I understand that Storybook is an open-source project and it somehow it needs to get donations and backers so the project can be maintained. But I doubt that the best way to do that is throwing a "DONATE NOW" message when installing the package.

To make things worse, at the moment, storybook cannot even be installed properly because [opencollective-cli](https://github.com/opencollective/opencolle

[2017-10-02 15:31] armenzg opened #1938 "Failure to install storybook-cli"
As mentioned on issue #1937 there's been a bad release of opencollective.
A workaround is mentioned below.

The issue seen is:
[code]

If you install it via yarn you will get the pinned version of opencollective 1.0.3 (as indicated in yarn.lock)
[code]

People that have their own React projects and want to include storybook can work around this issue (and others in the future) by switching to yarn

[2017-10-02 15:54] prabhu commented on #1937
I think someone will answer this one after all the fun and games are over with opencollective.

[2017-10-02 16:32] pascalduez commented on #1210
Just gave it another try, seems to be resolved with latest storybook version and Nightly version:

`58.0a1 (2017-09-30) (64-bit)` with either `layout.css.servo.enabled` true or false.

[2017-10-02 16:38] pascalduez commented on #1402
Related to #1570

[2017-10-02 17:17] danielduan commented on #1938
going to close this since it duplicates https://github.com/storybooks/storybook/issues/1937

[2017-10-02 17:17] #1938 closed

[2017-10-02 17:46] zainfathoni opened #1941 "How to call function props in stories?"
Hi, I am testing a component using Storyshots. This component contains [function props](https://codecov.io/gh/zainfathoni/ojekbelanja/commit/4689e152ef45ac7806767a0ae510fdb1f7ed684c#D1-x94) like these:

[code]

However, since those functions are not called, I am unable to reach 100% coverage test on that component.
How am I supposed to test those kind of props?

Thanks.

[2017-10-02 18:35] zainfathoni commented on #1941
I just change the function props into this one:

[code]

So it doesn't need to be called to reach 100% coverage on that file.

However, since it makes the code to be [more complicated](https://github.com/zainfathoni/ojekbelanja/pull/46/commits/4689e152ef45ac7806767a0ae510fdb1f7ed684c), I still want to know how to test that kind of function props. May be there is a better way in doing it while keep

[2017-10-02 18:51] Hypnosphi commented on #1210
Feel free to reopen once it shows up again

[2017-10-02 18:51] #1210 closed

[2017-10-02 18:54] Hypnosphi commented on #1941
I believe it depends on how your components call those function props. You should probably emulate the conditions in which this happens

[2017-10-02 19:18] Slackercode opened #1942 "Is this a bug or a feature ?"
When I create a component which has another component as a child like so `MyComponent.MyChild`, storybook renders the code sampe like so : `MyChild`
expected result: `MyComponent.MyChild`

If it's a feature how can I disable it ?

[2017-10-02 19:55] nicolechung opened #1943 "Unexpected token import when running `getStorybook`"
I installed storybook globally, but when I run `getStorybook` I get the following error:

[code]

Is it my node version?

[2017-10-02 21:01] nickjohnson-dev commented on #1943
I just had this issue as well. Downgrading to @storybook/cli@3.2 fixed it.

@shilman: Looks like the 3.3.0-alpha.1 version got published on the latest tag. I'm not sure if this was on purpose or not, but just wanted to let you know.

[2017-10-02 21:44] danielduan commented on #1942
can you be more specific?

If you named a story MyComponent.MyChild, and you have hierarchy enabled with the `.` as a separator, it should render like this.

[code]

[2017-10-03 00:35] mmmeff commented on #1872
How could we go about overriding the build output via webpack.config.js? I'm in full control mode and attempting to override it with `config.devServer = { stats: 'errors-only' };` but no dice.

[2017-10-03 00:47] zainfathoni commented on #1941
I think I need to simulate the `click` and `change` events to make it happens, which can be done using [Enzyme](http://airbnb.io/enzyme/).

From what I just read in [this article](https://www.codementor.io/vijayst/unit-testing-react-components-jest-or-enzyme-du1087lh8), I can use [Enzyme](http://airbnb.io/enzyme/) alongside Jest's Snapshot testing, can't I?

Then where am I supposed to write the t

[2017-10-03 01:05] shilman commented on #1943
@nickjohnson-dev @nicolechung Sorry we had an NPM disaster earlier today (I'll spare  you the details, unless you're curious). Now `3.2.12` should be the latest and I'd recommend you use that (unless you're cool using possibly unstable prerelease software, in which case it's all good).

Please let me know if you run into any more problems, and sorry for the trouble.

[2017-10-03 01:14] shilman commented on #1937
Released as part of https://github.com/storybooks/storybook/releases/tag/v3.2.12

[2017-10-03 01:14] #1937 closed

[2017-10-03 01:38] zainfathoni commented on #1941
I just tried writing the test file in a separated `*.test.js` file, and it works!

Thanks! 😄

Please take a look at [this commit diff](https://github.com/zainfathoni/ojekbelanja/pull/46/commits/6f7da97b3ae44b3ead11eb671fbb0260703dac93) and correct me if I am doing things in bad ways.

[2017-10-03 03:36] loliver commented on #1735
I'm getting an issue when manually specifying `propTables` where the prop descriptions aren't passed through. The tables themselves are correct, just no comments are being parsed.

[2017-10-03 07:12] ratheo commented on #1606
We're also seeing very slow rendering. Especially the encoding and decoding of knobs for the url is taking up a lot of time.  It would be nice if it could be disabled.

[2017-10-03 08:15] StipJey commented on #1892
I have this problem after update to 3.1.12

[2017-10-03 08:50] shilman commented on #1943
Also, if you are still having this problem after we sorted our NPM troubles, please try deleting `node_modules` and your lock files (if you have any), and reinstalling. We've also seen some caching issues with `babel-runtime` that might be causing things to fail in this way.

[2017-10-03 09:55] igor-dv commented on #1606
You can change the `sidebarAnimations` to false with the options-addon. It will disable the tree animations.

[2017-10-03 11:25] Hypnosphi commented on #1941
You're doing good =) To enable snapshotting, just add this line:
[code]

[2017-10-03 11:25] #1941 closed

[2017-10-03 12:13] zainfathoni commented on #1941
Got it, thanks! 😄

[2017-10-03 13:37] bustEXZ opened #1945 "action-logger addon don't show Array<File> options"
Deps:  "@storybook/addon-actions": "^3.2.12"

I send in callbacks 2 arrays with type File (acceptedFiles, rejectedFiles).
But logger dont see options (because its File object) and shows them empty.

What can i do, to fix this? (I dont need to convert File type to Object)

Thanks!

[2017-10-03 13:54] nicolechung commented on #1943
Thank you for fixing this so quickly!

[2017-10-03 13:54] #1943 closed

[2017-10-03 15:34] nickjohnson-dev commented on #1943
I've had my fair share of NPM disasters, I know those are stressful. 😥

Thanks for the quick work on this bug, and on the great work in general. I'm loving this great tool as always! 👍

[2017-10-03 16:17] leggomuhgreggo opened #1946 "Storybook with React Native Web"
Working example of how to get Storybook to work with RNW, for anyone else who's trying. Just requires a custom webpack config using [full control mode](https://storybook.js.org/configurations/custom-webpack-config/#full-control-mode)

Using versions:
[code]
Add the `webpack.config.js` in `.storybook` folder, with this:

[code]

Hope this helps someone!

related to #44

[2017-10-03 16:17] #1946 closed

[2017-10-03 19:48] danielduan opened #1961 "Storybook custom name renders poorly when string is too long"
<img width="236" alt="screen shot 2017-10-03 at 3 46 42 pm" src="https://user-images.githubusercontent.com/1474548/31145674-74ddae3e-a852-11e7-93bd-e762d8e31cbd.png">

The `STORYBOOK` in the upper left corner can be customized through `addon-options`. When the string overflows, it goes onto a new line and throws off the layout.

Perhaps it should just have ellipses?

[2017-10-03 19:52] danielduan commented on #1945
Anything passed into the addons should be JSON serializable.

I don't believe files work but there might be workarounds.

[2017-10-03 20:04] oximer commented on #1409
I'm having the same error, even after adding react-test-renderer

[2017-10-03 21:03] danideng commented on #145
This is package.json created after running create-react-app to create my-stories-app. You need to pay attentions to the default versions created for "react", "react-dom" and "react-scripts" under "dependencies":
`{
  "name": "my-stories-book",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "react": "^16.0.0",
    "react-dom": "^16.0.0",
    "react-scripts": "1.0.14"
  },
  "scrip

[2017-10-03 21:45] Hypnosphi commented on #1961
I believe it was normally wrapping before, will check what happened

[2017-10-03 21:47] Hypnosphi commented on #1945
That's not exactly the truth, otherwise `addon-actions` would break when receiving native DOM events

[2017-10-03 21:57] Hypnosphi commented on #145
@danideng Looks like you're using the outdated `getstorybook` package, the up-to-date one is called `@cli/storybook`

Related: #1604

[2017-10-03 22:08] Hypnosphi commented on #1961
I believe it's #1769 that broke it

[2017-10-03 22:18] danideng commented on #145
Based on the information provided by Hypnosphi, here are the steps of my second try:

By following https://www.npmjs.com/package/@storybook/cli:
1. C:\...\test > create-react-app cli-story-book
2. C:\...\test > npm i -g @storybook/cli
3. C:\...\test > cd cli-story-book
4. C:\...\test > getstorybook
 • Detecting project type. ✓
 • Adding storybook support to your "Create React App" based project. ✓

[2017-10-04 00:05] MOZGIII opened #1965 "Error when clicking on the menu item on React 16"
**Workaround:** https://github.com/storybooks/storybook/issues/1965#issuecomment-336912108 (https://github.com/storybooks/storybook/issues/1965#issuecomment-335414898)

I've updated to react 16 and there's this strange error: when I click on any menu item (to open other story or group) I have blank screen (nothing at all is rendered).

I use `yarn storybook` to start storybook.
[code]

Initially p

[2017-10-04 05:51] bustEXZ commented on #1945
![screen02](https://user-images.githubusercontent.com/5757989/31161625-01d2acf2-a8e1-11e7-9fa4-672276471696.png)

I take file list from `event.dataTransfer` and check the types of files to accept or reject, and then call the method `onSelect.call(this, acceptedFiles, rejectedFiles, evt);`

[2017-10-04 09:50] Hypnosphi commented on #1945
Looks like it's fixed with #1887 and released as `3.3.0-alpha.2`. Please try it and tell us if it works

[2017-10-04 10:24] bustEXZ commented on #1945
If i install @storybook/addon-actions@3.3.0-alpha.2 he stop work, and dont create new Tab "ACTION LOGGER" in panel (but witout errors). If i update all for 3.3.0-alpha.2 all don't work and try to redirect me to this page https://storybook.js.org/basics/faq/#why-is-there-no-addons-channel.

Cant resolve this error and check

[2017-10-04 10:26] Hypnosphi commented on #1945
@shilman do you know what happens here?

[2017-10-04 15:40] mthuret commented on #1965
I have the same :(

What dependency do you have on your CRA app?

[2017-10-04 18:53] Hypnosphi commented on #1921
@davegaeddert is there a chance that lerna collector is bound to a specific lerna version?

https://app.dependencies.io/projects/github/storybooks/storybook
[code]

[2017-10-04 18:55] Hypnosphi commented on #1921
I believe it should use local lerna version with `yarn lerna <command>` instead of global one

[2017-10-04 19:40] MOZGIII commented on #1965
Checkout `yarn.lock`.

[2017-10-04 20:55] davegaeddert commented on #1921
@Hypnosphi good point. We pushed an update to both the collector and actor (decided to add the repo's `node_modules/.bin` to the path instead). I tested it on a fork and it ran fine, but let me know if you have any more trouble. Thanks!

[2017-10-04 21:34] kirkstrobeck commented on #1417
I think we accidentally fixed it on our install by removing `addDecorator`

[2017-10-04 22:50] joefraley commented on #1417
@kirkstrobeck do you mean using only `add` everywhere that you were using `addDecorator`?

[2017-10-04 23:37] kirkstrobeck commented on #1417
Hey @joefraley

- We were using `addDecorator` and now we’re not
- We didn’t replace it with `add`

I hope that addresses your question, not sure if it does though.

[2017-10-05 07:13] notgiorgi commented on #846
Isn't there some more general approach? So that the whole team won't have to do that separately?

[2017-10-05 08:48] matthiasp42 commented on #1819
I finally got it running again, but only by removing storybook and adding it again.
Was annoying, but I'm glad to have it running again :)
Thanks @aganglada for taking time to comment.

[2017-10-05 09:38] aloifolia commented on #1586
I ran into a similar issue with Storybook and React Native:
![image](https://user-images.githubusercontent.com/1295054/31220603-32efa70a-a9c1-11e7-8f90-46c5d1cdb122.png)

[code]

Which version would you recommend to use? I

[2017-10-05 10:22] kkollman opened #1979 "Strange: after installing Knobs addon, react won't work"
I just encountered really strange bug: I am `using create-react-app` with `custom-scripts`. Everything working fine, webpack builds page correctly. I have then installed stoybooks, fine, set it up, then copied a story from other project, that was using knobs. As my storybooks shouted that `Module not found: Error: Can't resolve '@storybook/addon-centered`, I've done `npm install @storybook/addon-k

[2017-10-05 10:41] aganglada commented on #1819
Glad you got it, I guess if that's okay, we can close this one.

[2017-10-05 15:14] marchdoe commented on #1965
@MOZGIII Getting the same error after updating a project

[2017-10-05 16:03] MOZGIII commented on #1965
I saw error occuring at `velocity-react` package, but I'm not sure if it's the issue. Debugging this without the code knowledge is hard.

[2017-10-05 17:53] danigulyas commented on #778
Nice catch people!

So i've hit this and (just like you) spent about an hour on this, to my salvation, moving the event to a function parameter instead of an object will solve the issue, see example:

before:
[code]

after:
[code]

[2017-10-05 21:39] jcreamer898 commented on #1892
The only 3 addons I'm using are these, and I'm getting the same error...

![](http://d.pr/i/brWGTD+)

[2017-10-05 22:01] jcreamer898 opened #1981 "Still getting "accessing nonexistent addons channel""
Even after bumping all my addons to the new version I'm still getting the non-existent addons error...

![](https://d.pr/i/brWGTD+)

Something I found a bit interesting is how NPM installed things.

![](https://d.pr/i/3ItwKg+)

It's like `@storybook/react` has it's own version of addons?

[2017-10-05 22:10] jcreamer898 commented on #1981
Ok, so the `node_modules/@storybook/addons` says it was imported by `knobs`...

![](http://d.pr/i/xkJnUb+)

And the one inside of the `node_modules/@storybook/react` says it was...

![](http://d.pr/i/IsWeIc+)

[2017-10-05 22:11] jcreamer898 commented on #1981
BTW, I'm using npm `5.4.2`.

[2017-10-05 22:13] shilman commented on #1981
@jcreamer898 can you try removing your lock file and `node_modules` and reinstalling?

[2017-10-06 06:53] sanphandinh opened #1982 "unable to verify the first certificate"
When I run getstorybook command in create-react-app project. It can't work and show message:
"Adding storybook support to your "Create React App" based project(node:9436) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): RequestError: un
able to verify the first certificate"

[2017-10-06 09:39] stepankuzmin opened #1984 "Action is very slow"
Storybook Addon Actions is very slow in compare with console.log

Eg.

[code]

![2017-10-06 12_44_28](https://user-images.githubusercontent.com/533564/31272592-345d1590-aa94-11e7-8410-beea74ee89a9.gif)

<img width="331" alt="screenshot 2017-10-09 13 29 28" src="https://user-images.githubusercontent.com/533564/31334202-f4f17658-acf5-11e7-9f96-2ee34cd2f619.png">

[code]

![storybook-action-2](https:

[2017-10-06 14:05] ianmcnally commented on #1819
Wanted to leave a note here, in case any other developer stumbles on the "exports is not defined" problem. The fix for me was modifying babel-preset-env.

My babel config went from:

[code]

to:

[code]

Which I came to after looking at https://github.com/storybooks/storybook/pull/1668/files.

[2017-10-06 15:48] jcreamer898 commented on #1981
Ahhh, I had removed `node_modules`, but never `package-lock`. Thanks!

[2017-10-06 16:26] danigulyas opened #1990 "No throttling on resize event handlers."
**Issue**

When you resize windows fast, everything is laggy, and you feel like:
![image](https://user-images.githubusercontent.com/10425681/31287729-96218a76-aac2-11e7-84d6-689b54774ebf.png)

---

My take on this:

**Cause**

The [resize event handler](https://github.com/storybooks/storybook/blob/master/lib/ui/src/modules/ui/components/layout/index.js#L138) is not [throttled](https://lodash.com/d

[2017-10-06 18:04] shilman commented on #1990
@danigulyas care to issue a PR for this? it looks like a very reasonable solution, though I haven't run into the problem myself AFAIK so it's hard for me to tell!

[2017-10-06 22:00] Hypnosphi commented on #1819
`{"modules": false}`

This is actually the thing you should do anyway if you're using webpack 2+

[2017-10-06 22:49] Hypnosphi commented on #1990
I'd prefer to use `requestAnimationFrame` throttling rather than timer-based one

[2017-10-06 23:40] SuperOl3g commented on #1877
@danielduan In common case we can just add `style` properties for each element of components.  But it's very inflexible solution. For example, now I want to add a light-gray background for each odd row in PropTable.
Inline styles can't do this, **we need the power of CSS**! ⚡️

AFAIU from #1576 you are planning to separate visual part from logic.
Did you think about [CSS modules](https://github.co

[2017-10-07 00:09] Hypnosphi commented on #1877
@SuperOl3g We actually use [glamorous](https://glamorous.rocks/)

[2017-10-07 00:41] SuperOl3g commented on #1877
#428

[2017-10-07 01:00] SuperOl3g commented on #1877
@Hypnosphi Hmm, [it's](https://glamorous.rocks/advanced#theming) kind of theming but very limited. With this solution, we can theme the only what we preset to theming, it also doesn't give the possibility to overwrite any styles  :<

[2017-10-07 01:05] SuperOl3g commented on #1877
Hope #428 will solve not only the problem of theming of the core but also theming of add-ons too.

[2017-10-07 03:04] danielduan commented on #1877
I think if you're looking for an inline style guide type react tool, perhaps you should take a look at react-styleguidist: https://react-styleguidist.js.org/

I'd hate for you to leave Storybook but I think it might suit your use case better. You will lose out on Storybook's ecosystem of addons though.

[2017-10-07 07:05] Gongreg commented on #1586
@aloifolia, hey, did you try adding decorator before stories? It looks like knobs are trying to emit events even though the decorator is not created yet.

[2017-10-07 08:20] Hypnosphi commented on #1877
It's actually the same as in styled-components which you have brought up

In my view, it's actually a good thing. Anyway, we could just do something like this for all the components:

[code]
Here, `theme.Title` will override everything

[2017-10-07 13:00] SuperOl3g commented on #1877
@Hypnosphi, sounds good! Look forward when it will be released)

[2017-10-07 16:43] Hypnosphi commented on #1921
@davegaeddert the same problem, this time in actor: https://app.dependencies.io/projects/github/storybooks/storybook/builds/15

[2017-10-07 17:51] oyeanuj commented on #1006
@ndelangen @UsulPro @shilman @tmeasday  I know this issue is closed but incase the team would be open to it in `v4`, just wanted to add one more perspective.

As someone new to the library, as I was looking at `Storybook`, understanding its syntax and API methods actually took a while. I feel like being able to compose stories and chapters like normal JSX components would really be a huge win for

[2017-10-07 18:28] Hypnosphi commented on #1877
@SuperOl3g you can actually bring that moment closer! Just clone the `release/3.3` branch, pick some component from `lib/ui/modules/ui/components`, and move it to `lib/components` replacing inline styles with glamorous stuff. Join us in slack once you have any questions: https://now-examples-slackin-nqnzoygycp.now.sh/

[2017-10-07 20:00] SuperOl3g commented on #1877
@Hypnosphi, ok, if I have some time, I will migrate some code

[2017-10-07 21:46] Luchanso commented on #1833
@bsr203 thank you a lot of, it's work for me

[2017-10-07 23:04] Luchanso opened #1992 "ESLint question"
There is error in project:
```[eslint] '@storybook/addon-actions' should be listed in the project's dependencies, not devDependencies. (import/no-extraneous-dependencies)``` [more about this rule](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/no-extraneous-dependencies.md). So, how to resolve this issue? I won't add  `@storybook/addon-actions` in dependencies, but how to

[2017-10-08 11:45] Hypnosphi commented on #1992
You may want to add something like this to your eslint config:
[code]

This will allow usage of devDependencies in the listed directories

[2017-10-08 11:58] Luchanso commented on #1992
@Hypnosphi Yeah, it's work fine, thank you very much

[2017-10-08 11:58] #1992 closed

[2017-10-08 14:00] kazupon commented on #1907
Unfortunately, we can not support JSX for Vue Components, due to Storybook is based on React architecture. 😞
when we use [babel-preset-vue](https://github.com/vuejs/babel-preset-vue) in Storybook, occure conflicting.

[2017-10-08 16:33] kazupon commented on #1907
sorry, never mind.
We can support JSX syntax for Storybook of Vue.

[2017-10-08 17:36] lee-chase commented on #1907
Can you show Vue syntax?

[2017-10-08 23:30] oyeanuj commented on #769
I get the following error while using `MemoryRouter`:

[code]

Any ideas what might be going on?

[2017-10-09 04:37] rowanwork commented on #1965
I had the exact same problem when upgrading React and Storybook. Yarn had upgraded Storybook to "^3.2.8" and not 3.2.12.
Running `yarn upgrade @storybook/react@3.2.12` seems to have fixed it for me.

I still get some Yarn warning around React 15 peer dependencies, but they don't seem to cause any issues...

[2017-10-09 04:39] MOZGIII commented on #1965
Can you post your `yarn.lock`?

[2017-10-09 10:14] RWOverdijk commented on #1541
Why did you remove the repository?

[2017-10-09 11:37] josephchang opened #1994 "Config directory"
With the 3.3.0 releases, it looks like `--config-dir`/`-c` is not being used anymore, but in favour `SBCONFIG_CONFIG_DIR`, is this likely to change once it goes out of alpha, or is it going to stay?

[2017-10-09 15:06] shilman commented on #1994
From what I can tell:
- `SBCONFIG_CONFIG_DIR` has been around for months
-  `SBCONFIG_CONFIG_DIR` is an alternative way to specify the config dir via env variable, but `--config-dir / -c` still works just fine

Hope that helps!

[2017-10-09 15:26] josephchang commented on #1994
I recently upgraded to `3.3.0-alpha.2` and encountered errors, and found that in `server/config/utils.js`, a new `getConfigDir` function had been added, which seems to ignore the command line option.

[code]

I'm not sure what other regression errors it has caused, but for me, it no longer loaded `preview-head.html` into `iframe.html.ejs`. `webpack.config(.prod).js` use the above function to get t

[2017-10-09 15:46] 1egoman opened #1995 "Styles are missing in development, but are added in production"
I'm unable to get styles to properly display in my react storybook project in `development` mode.

Here's an example project that demonstrates this issue: https://github.com/DensityCo/storybook-issue

To reproduce, clone that repository and run `yarn && yarn storybook`. At `localhost:6006`, here's what I see:

![screen shot 2017-10-09 at 11 41 59 am](https://user-images.githubusercontent.com/17042

[2017-10-09 16:07] shilman commented on #1995
Your example is working for me on my machine. Based on your screenshot, it looks like your actions pane is just taking up the whole screen. Try deleting the query params and navigating directly to http://localhost:6006/ ?

[2017-10-09 16:15] davegaeddert commented on #1921
@Hypnosphi I'll take a look.

[2017-10-09 16:15] 1egoman commented on #1995
Visiting `http://localhost:6006` without query params doesn't seem to change anything.

Should the header of the action logger pane draggable? It doesn't seem to be on the development preview page.

[2017-10-09 16:21] danielduan commented on #1984
possibly related to https://github.com/storybooks/storybook/issues/1535

what's in the debugger waterfall chart under the event handler click?

[2017-10-09 16:24] danielduan commented on #1979
Was the old story you moved over using addon-centered?

In the most recent version of npm, it's normal for it to be uninstalling unused packages. You might want to try deleting the entire `node_modules` folder and any `yarn.lock` or `package-lock.json` that you have and reinstall. Try not to run yarn with npm in the same directory so just pick one to use.

[2017-10-09 16:26] danielduan commented on #1982
can you post the full error log?

It sounds like there might be a certificate issue with npm install. You might be using an internal npm server or perhaps behind a corporate firewall that messes with npm downloads?

[2017-10-09 18:51] ndelangen commented on #1872
@mmmeff What you need to do is filter out the ProgressPlugin if you want to remove it that way.

[2017-10-09 18:58] ndelangen commented on #778
I think this is fixed right?

[2017-10-09 18:58] #778 closed

[2017-10-09 20:20] davegaeddert commented on #1921
@Hypnosphi I think the actor should be working now. The collector failed because it looks like somewhere in the last couple commits some babel/vue dependencies we're introduced but not added to `yarn.lock`? Our collector quits if it notices uncommited `yarn.lock` changes so that you don't get a bunch of pull requests that all included those changes with them.

The issue with the actor might need a

[2017-10-09 20:37] puffstream opened #1996 "Bootstrap modal takes over screen when clicking to other stories"
Anyone else have this issue? Is there any Storybook onleave hook? Then maybe I could call something like close modal before going to next story?

Thanks!

[2017-10-09 21:06] jrwebdev commented on #1889
Thanks for responding. I've had a look into this a bit more and experimented with a number of dev server options, even the following causes the stats object to be output in its entirety:

[code]

Looking through the code some more, these options are [passed to the dev middleware](https://github.com/storybooks/storybook/blob/d39713519b08efd6baef89a902fbc5721ab32b56/app/react/src/server/middleware.j

[2017-10-09 21:08] Hypnosphi commented on #1921
Will fix that.
@ndelangen btw such cases can be prevented with #1980

The reason is that we find it convenient to use a single command to install both root and package s dependencies

I just always use `yarn lerna <command>`

[2017-10-09 21:38] ndelangen commented on #1996
From the description I can't really find out what the bug is, and how to reproduce it, could you help us with a reproduction repo or some good steps to reproduce?

[2017-10-09 21:40] ndelangen commented on #1995
@1egoman Can you clear your localStorage and check if there are any warnings/errors/info in the console to give us an indication of what's going on?

[2017-10-09 22:55] 1egoman commented on #1995
Rebooting then clearing localStorage seemed to fix it. Thanks for the suggestion @ndelangen!

[2017-10-09 22:55] #1995 closed

[2017-10-10 00:38] mmmeff commented on #1872
@ndelangen Since webpack's plugins field is defined as an array, removing that plugin is less than ideal. Here's my working but sloppy fix for disabling the progress output.

[code]

Got a better suggestion?

[2017-10-10 01:20] kazupon commented on #1907
You can check it at [here](https://github.com/storybooks/storybook/pull/1993)

[2017-10-10 01:20] kazupon commented on #1907
close (merged #1993)

[2017-10-10 01:20] #1907 closed

[2017-10-10 09:26] mthuret commented on #1965
a temporary workaround I found with this issue (as upgrading to 3.2.12) wasn't enough, is to use the options addon and set `sidebarAnimation` to false.

`react-treebeard` uses `velocity-react` for those animations and somehow it's working anymore with React16.

[2017-10-10 10:17] MOZGIII commented on #1965
I can confirm this workaround works! Thanks @mthuret for investigating the issue and sharing the solution.

[2017-10-10 10:18] MOZGIII commented on #1965
Proper fix is still needed though.

[2017-10-10 10:19] Hypnosphi commented on #1872
@mmmeff does `plugin.constructor.name !== 'ProgressPlugin' work?

[2017-10-10 11:12] Hypnosphi commented on #1965
I wonder why cra-kitchen-sink works then, it uses React 16 as well

[2017-10-10 11:20] MOZGIII commented on #1965
Maybe it doesn't: it has no `package.lock` or `yarn.lock`, so I may work or not work in different moments in time. Could you just place my `yarn.lock` in there, then run `yarn install` and see if it breaks everything?

[2017-10-10 11:52] Hypnosphi commented on #1965
We use yarn workspaces, so there’s a single lockfile for all the packages: https://github.com/storybooks/storybook/blob/master/yarn.lock

[2017-10-10 11:57] MOZGIII commented on #1965
I see, that's a cool freature of yarn I didn't know about. However it can still be the the reason the issue doesn't appear. You could try using my `yarn.lock`.
If it doesn't help, I need to finish something here and then I'll probably try to extract a reproducable sample.

[2017-10-10 12:15] szalonna opened #2005 "Unnecessary <br> tags when using withNotes"
Currently the withNotes plugin replaces every new line to \<br /> tag.
https://github.com/storybooks/storybook/blob/21aa273812d79f4ca2e7a40738cb884dc739884e/addons/notes/src/register.js#L52

When I provide a HTML input for the plugin (e.g. compiled from a markdown file), it adds <br> tags to the code, which makes huge spaces between the tags. As far as I can see it is unable to disable this behavi