[2019-04-14 14:27] jalovatt commented on #6481
Thanks for your explanation @Phoenixton , it makes much more sense of why Storybook is doing what it's doing.

IMO if a user toggles to full-screen and then toggles one of the panels or the toolbar, they're implicitly leaving full-screen mode and establishing a new state where all of the panels are closed except This One.

Allowing full-screen mode with toggleable panels _and_ remembering their la

[2019-04-14 14:49] Phoenixton commented on #6481
@jalovatt You're very much welcome :) I agree with your proposal on the whole, it seems quite logical to me.

Something like this would correspond to your proposal, imo:

1) Go to fullscreen -> isFullscreen = true, just the way it is right now
2) TogglePanel()/ToggleNav() -> if (isFullscreen), leave fullscreen, close everything (addon panel, sidebar) and open the appropriate window (addon Panel in

[2019-04-14 15:24] mpaarating commented on #4602
@Armanio great! I'll start working on this!

[2019-04-14 16:52] jalovatt commented on #6481
Yup, I think that would do it.

[2019-04-14 16:56] Phoenixton commented on #6481
I'll do that tomorrow then :)

[2019-04-14 17:33] #5204 closed

[2019-04-14 17:55] Armanio commented on #6481
Guys, could you check fix [here](https://monorepo-git-fork-armanio-fix-shortcut-panel.storybook.now.sh/examples/cra-kitchen-sink/?path=/story/welcome--to-storybook). It's expected behavior or not? 🤔

[2019-04-14 18:53] Phoenixton commented on #6481
@Armanio The behavior is still broken for me on your link. I can fix it tomorrow if it's not done today, don't worry :)

[2019-04-14 19:14] Armanio commented on #6481
Still broken? 😕 What is wrong?

Ok, of course, waiting for you solution. Thank you!

[2019-04-14 19:17] Phoenixton commented on #6481
@Armanio So if you try to press F, it goes full screen, then you press A and it opens the Sidebar instead of the add-on panel, this is what we refer to when we say it's broken :)

Go ahead if you wanna fix it, don't worry mate! I just don't want you to be pressured about it, if it's still there tomorrow, I'll do it :)

[2019-04-14 19:21] jalovatt commented on #6481
@Armanio In that build, pressing either `S` or `A` in full-screen just opens both of them again.

[2019-04-14 19:27] Armanio commented on #6481
Oh, you are right, guys, still broken.

Ok, @Phoenixton fix it if you can, I absolutely confused. Your move buddy!

[2019-04-14 19:35] Phoenixton commented on #6481
No pb, thanks ^_^

[2019-04-14 21:51] mpaarating commented on #4602
@shilman I think this feature already exists. If not, can you provide a bit more detail about the change you'd like to see?

Current behavior:
[![Image from Gyazo](https://i.gyazo.com/970282c753125c79601443669bdecac3.png)](https://gyazo.com/970282c753125c79601443669bdecac3)

[2019-04-14 22:30] bitfrost opened #6512 "react native setup fails to load after 5.1.0-alpha.25 (24 works)"
**Describe the bug**
My react native setup fails to load after 5.1.0-alpha.25 (24 works) with following error:
undefined is not an object (evaluating '_global.document.location')
This is happening on device via metro:
getQueryParams
    queryparams.js:19:47
<unknown>
    KnobManager.js:72:39
loadModuleImplementation
    require.js:331:6
<unknown>
    registerKnobs.js:19:49
loadModuleImplementation

[2019-04-14 22:32] taylonr commented on #6017
Copy & pasting code from this link: https://storybook.js.org/docs/addons/writing-addons/ produces the following error when doing an `start-storybook -s ./Images -p 9000 --ci`

[code]

[2019-04-14 22:51] taylonr commented on #6017
I had to create a `.babelrc` and then add this line to it

`{ "presets": ["@babel/preset-env", "@babel/preset-react"] }`

[2019-04-14 23:25] benoitdion commented on #6512
@ndelangen https://github.com/storybooks/storybook/commit/3870bd1707d1f391c0ae31772a8d3df24b27b00c looks like this might be related. I can take a look unless you think you have more context on this one.

[2019-04-15 01:49] cellog commented on #5882
update: still an issue, but I found a very strange fix!

If I create a `storybook/.babelrc` whose contents is identical to the global `.babelrc` then it suddenly starts working.

[2019-04-15 03:52] ypresto commented on #4769
@wlkrdv 's solution (`npm i -g react-devtools`) is the official of react-devtools.
https://github.com/facebook/react-devtools/issues/76#issuecomment-280073254

Perhaps we can integrate react-devtools directly with `@storybook/react` package.

[2019-04-15 04:25] deepaksslibra opened #6516 "Can't Get Storybook to work for components with external dependencies."
Hello guys,

Sorry this is my first issue raised ever hence I don't know the proper way to do it.

The problem i'm facing is with this repo :-

https://github.com/deepaksslibra/ever

I'm trying to setup storybook in that and it works for components which don't have external dependencies.

It works for SwitcherComponent but not for ModalsComponent for example.

Sorry, I have no experience customizi

[2019-04-15 04:57] gilmoreorless commented on #6492
For anyone using Yarn, forcing `react-treebeard` to install `3.1.0` via [resolutions](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/) worked for me:

[code]

Then run `yarn install` to update the `yarn.lock` file.

[2019-04-15 05:48] shilman commented on #6243
I think this might have been addressed by @ndelangen in https://github.com/storybooks/storybook/pull/6486/files

@leoyli would you mind checking this out and letting me know if it's fixed?

[2019-04-15 06:00] shilman commented on #4602
Hmm, looks like it got added, or maybe I goofed!? Anyway thanks for investigating @mpaarating 👍

[2019-04-15 06:00] #4602 closed

[2019-04-15 06:09] libetl commented on #6136
I was sick this weekend and therefore no access to any computer

[2019-04-15 06:51] mrmckeb commented on #6505
@shilman, it may require a similar fix.

@firaskrichi, can you please run `npm ls webpack` and paste the results?

[2019-04-15 06:53] shilman commented on #6492
cc @maximilianoforlenza @ndelangen

[2019-04-15 06:58] donaldpipowitch opened #6518 "Storyshots stopped working correctly with Storybook v5"
**⚠️ Disclaimer ⚠️**

This bug is hard to track down and I probably need more time to complete the bug description. Nevertheless I wanted to create the issue for visibility.

---

**Describe the bug**

We use Storybook v4 for several months now and use a lot of different stories. We have a special kind of category for stories which we want to use with `storyshots`. We run storyshots in a Docker co

[2019-04-15 07:20] shilman commented on #6492
Released: https://github.com/storybooks/storybook/releases/tag/v4.1.18

[2019-04-15 07:20] mohsinulhaq opened #6519 "Using static build inside an iframe causes Storybook update links to either not work or throw CSP error"
**Describe the bug**
`Refused to display 'https://github.com/storybooks/storybook/pull/xxxx' in a frame because an ancestor violates the following Content Security Policy directive: "frame-ancestors 'none'".`
When trying to open changelog PR links.
And no action at all when opening rest of the links.

**To Reproduce**
Steps to reproduce the behavior:
1. Render storybook static build inside an ifra

[2019-04-15 07:21] #6492 closed

[2019-04-15 07:26] objHua commented on #6147
+1
package.json:
` "@storybook/addon-actions": "^5.0.7",
    "@storybook/addon-info": "^5.0.7",
    "@storybook/addon-knobs": "^5.0.7",
    "@storybook/addon-links": "^5.0.7",
    "@storybook/addon-options": "^5.0.7",
    "@storybook/addons": "^4.1.17",
    "@storybook/react": "^5.0.7",`

config.js
`import { withInfo } from '@storybook/addon-info';

addDecorator(addReadme);
addDecorator(withInfo({

[2019-04-15 07:27] deepaksslibra commented on #6516
The code is in the 'develop' branch of the repository.

[2019-04-15 08:04] Keraito commented on #5962
@anthonytranDev Discord or Twitter is also fine.

Weird, it's Keraito everywhere, just like on Github.

[2019-04-15 09:30] JennerChen opened #6520 "groupId doesnot work in `files` in @storybook/addon-knobs"
**Describe the bug**
groupId doesnot work in `files` in @storybook/addon-knobs

**To Reproduce**
[code]

**Expected behavior**
files goes to configuration groupId

**Screenshots**
![image](https://user-images.githubusercontent.com/5472912/56121806-83612300-5fa3-11e9-9650-04877b6dd55e.png)

**Additional context**
@storybook/addon-knobs v5.0.7

[2019-04-15 09:33] JennerChen commented on #6520
https://github.com/storybooks/storybook/blob/cd20c4b75d4cddc6d596e381360efe0020c4bff9/addons/knobs/src/index.js#L72-L74

[2019-04-15 09:35] shilman commented on #5933
Closing this as a dupe to #6474 since I created a repro there (didn't realize this had already been filed otherwise I would've just added to this issue.

[2019-04-15 09:35] #5933 closed

[2019-04-15 10:29] baptooo commented on #6505
Hello, I am having the same issue here, I am giving you the result of `npm ls webpack`

[code]

[2019-04-15 11:52] sobolevn commented on #1759
https://github.com/howdy39/nuxt-storybook-element-boilerplate

[2019-04-15 13:01] mattkoch614 commented on #6504
I opened this issue in both the Storybook and CKEditor repos, as I wasn't initially sure where was the more appropriate place. For now, so there are not two open issues, follow the resolution in the CKEditor repo: https://github.com/ckeditor/ckeditor5/issues/1701

[2019-04-15 13:01] #6504 closed

[2019-04-15 13:36] mbifulco commented on #6389
👋 Hi again! I'm still hoping for some advice/tips on what I might be missing here.

[2019-04-15 15:45] lonyele opened #6521 "Theme variables(brandTitle, brandUrl, brandImage) not working"
**Describe the bug**
Even if I set `brandTitle, brandUrl, brandImage` on theme object, It doesn't work at all(5.1.0-alpha.27)

**To Reproduce**
Set any combinations of `brandTitle, brandUrl, brandImage` of `defined, undefined, null` on theme object.

**Expected behavior**
SidebarHeading should be rendered according to the inputs from options

**System:**
 - OS: Windows10, Ubuntu 18.04
 - Browser:

[2019-04-15 19:02] jeaster12 commented on #6506
@divbhasin fantastic yes this actually works perfect!

@shilman shall we close this? or are there additional needs or opportunities?

[2019-04-15 19:37] jrose-carecloud commented on #6204
Same issue for me. Going back to `firebase` version `4.12.1` worked but its over a year old and isn't a good solution.

[2019-04-15 20:09] KaboomFox commented on #6521
It also doesn't work in 5.0.6

[2019-04-15 20:17] #6470 closed

[2019-04-15 20:25] shilman commented on #6506
Awesome, closing! 🚀

[2019-04-15 20:59] gaetanmaisse opened #6523 "Lerna: Dependency cycles in devDependencies"
Storybook monorepo contains some cyclic dependencies, they are listed during `yarn bootstrap`:

[code]

These cyclic dependencies caused some build to fails because lerna doesn't know which libs should be built first. It was not a big deal when SB was fully JS but since we have some libs in TS type checking during compilation is failing, causing the full build to fail too. For instance, this [buil

[2019-04-15 21:49] pimlottc-gov commented on #539
Updated link: https://storybook.js.org/docs/configurations/env-vars/

[2019-04-15 23:08] leoyli commented on #6523
Perhaps there are some deeper issues.  I think we should make our typing resilient and less duplicated.  I personally not encourage **inline typing** and more favour using `type` for function and `interface` for class (well, maybe just using `type` to leverage the union typing in TS).  And in most of time, using type inferences and reduce the need to type everything in great details.

Most of file

[2019-04-16 00:54] leoyli commented on #6243
Thanks!  It fixed.  I will open another issue for the other issue I've been mentioned, which wasn't fixed.

[2019-04-16 00:54] #6243 closed

[2019-04-16 01:00] leoyli opened #6526 "[addon-knob] magic characters block the knob rendering"
**Describe the bug**

The following story gives a in correct knobs:

**To Reproduce**

Stept to reproduce:

1. Add the following fake story:

[code]

2. see no `meta.pristine`, `meta.error` appears; however no errors get printed. 👀

Note: `<comething>` is potentially be magical, and in some setup it won't be magical (i.e. working as expected...)

**Expected behavior**
It should show 3 knobs.

**Sc

[2019-04-16 01:18] lonyele commented on #6521
@KaboomFox Just FYI, reason for not working is different for version 5.0.6 and this 5.1.0-alpha.27.

Released version 5.0.6 had a bug and [PR](https://github.com/storybooks/storybook/pull/6120) that fixes merged to 5.1.0.-alpha.7 which is not released yet.

Problem with this version(5.1.0-alpha.27) is that It is not working at all.

[2019-04-16 01:36] lauriejones commented on #6014
I am getting this same error on `storybook@4.1.16`.

Dropping back to `4.1.4` does not have the issue.

[2019-04-16 02:50] #6512 closed

[2019-04-16 02:53] KaboomFox commented on #6521
👍

[2019-04-16 02:56] Vianney-VICTORIA commented on #2812
Hi there !  any plans, release date to add support for Vue ?

[2019-04-16 03:46] benoitdion commented on #6512
fixed with 59fa00cf78ddd4d0d2c37fbde3a4b6ebb185148e and 632eabd37cf5dff236ae7c4df38dea3f845fa023

[2019-04-16 04:55] DrSensor commented on #2812
Seems there is no work in progress for this feature. I wonder how the vue storybook will differ from https://vueds.com 🤔

[2019-04-16 05:21] Vianney-VICTORIA commented on #2812
Thanks for the share @DrSensor, I will take a look !!

[2019-04-16 06:22] wangjitai commented on #708
Thanks @nataliepan , I tried almost all methods through research online, only your answer is suitable for me!

[2019-04-16 06:28] alexan commented on #6196
I fiddled around getting the frontend running during development. I did not finde a reliable setup for getting my react changes in the browser without triggering `createDlls` all the time

[2019-04-16 07:32] Kadrei commented on #6413
Having the same issue with a local plugin in a subfolder of the `.storybook`-folder not showing up when I execute `build-storybook` - `start-storybook` works fine.

[2019-04-16 09:00] shilman commented on #6196
@alexan You can run storybook with the `--no-dll` flag to disable this optimization. It's what we do in `examples/official-storybook` to develop interactively

[2019-04-16 09:02] shilman commented on #6188
Were you able to get this working @elie222 ?

[2019-04-16 09:06] shilman commented on #2812
I have a working prototype for Vue and will be shipping this out in the 5.x cycle. For more information see the RFC and a short demo:

RFC: https://docs.google.com/document/d/1D4Ov4UvrB80Uy1CLGshbFEWQKWEpr8dL4FmOqRDwjwI/edit?usp=sharing
Demo: https://twitter.com/mshilman/status/1113532547764342784

[2019-04-16 09:10] shilman commented on #6521
@lonyele So if I merge https://github.com/storybooks/storybook/pull/6120 do you think it will fix 5.0.x?

[2019-04-16 09:19] ndelangen commented on #6523
I think we DO NOT have any production cyclic dependencies. it's devDependencies that make things cyclical.

The solution is likely to not include the devDependencies in the `package.json` of `@storybook/components`.

Because they are guaranteed to be there when developing in the monorepo.

Essentially all devDependencies could be in the package.json in the root, and our own packages don't need to

[2019-04-16 09:54] gaetanmaisse commented on #6523
@ndelangen Yes exactly it's only due to `devDependencies`!

I'm ok with that and already tried it 😉 by doing so it raises [ts-lint error no-implicit-dependencies](https://palantir.github.io/tslint/rules/no-implicit-dependencies). BUT I just found that we can, fortunately, add a whitelist of modules that will be skipped during ts-lint check.

So if you're ok, I will add a commit to https://github.c

[2019-04-16 10:13] elie222 commented on #6188
Yes. I was. If anyone is running into these issues check the linked repo for a solution. Thanks for help!

[2019-04-16 10:13] #6188 closed

[2019-04-16 10:16] mtlewis opened #6536 "Viewport addon has unnecessary scrollbar when dimension is set to 100%"
When one of the dimensions of the viewport is set to 100%, the additional margin added around the iframe causes an unnecessary scrollbar. Since the height is a percentage, it doesn't seem to make sense to force the content to be exactly 100% of the height of the storybook preview area - instead, it should probably take the extra margin into account.

**To Reproduce**
Steps to reproduce the behavio

[2019-04-16 10:27] lonyele commented on #6521
@shilman  Yes, If you cherry-pick into master then It will fix for 5.0.x  (solve #5866 #6476 )

However, If you release 5.1.x then the bug will arise with the exact same problem I stated here.

[2019-04-16 10:48] shilman commented on #6470
Jiminy cricket!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.28 containing PR #6515 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-04-16 10:48] shilman commented on #6481
Ta-da!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.28 containing PR #6525 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-16 10:48] shilman commented on #6520
Good golly!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.28 containing PR #6534 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-16 10:49] #6481 closed

[2019-04-16 10:49] #6520 closed

[2019-04-16 10:51] shilman commented on #6521
Thanks for the clarification @lonyele !

I'll release the patch and follow-up to make sure that the new bug gets fixed in `5.1.x`

감사합니다 🙏

[2019-04-16 11:25] lonyele commented on #6521
@shilman Whaaaaaat  안녕하세요~  Recently, I've started trying to contribute to open source as a mean of learning. Let's see how it goes

[2019-04-16 12:08] ndelangen commented on #6523
Sounds good!

[2019-04-16 12:34] shilman commented on #6521
@lonyele 화이팅! ㅋㅋㅋㅋ

[2019-04-16 12:48] ellinge commented on #5708
Here's some code sample if someone else stumble upon this and want it temporarly fixed. We use svg-react-loader an by removing svg for the default file-loader as suggested above, it works:
[code]

[2019-04-16 13:59] Haroenv commented on #6194
I'm also wondering if every patch version needs to be promoted so heavily in the build, especially in a case like this, where 5.0.7 & 5.0.8 are exactly the same

[2019-04-16 14:39] gaetanmaisse commented on #6523
Fixed with https://github.com/storybooks/storybook/pull/6500

[2019-04-16 14:39] #6523 closed

[2019-04-16 17:25] shilman commented on #6194
@Haroenv Currently the only thing that should show up in a patch version is a little green circle on the menu. Are you seeing something else?

[2019-04-16 19:15] joeycozza commented on #6501
Duplicate of https://github.com/storybooks/storybook/issues/6488

[2019-04-16 19:17] joeycozza commented on #6420
I'd also like to throw in the idea of a flag to put addon-info as a Panel on the bottom.

[2019-04-16 19:24] joeycozza commented on #6285
I think there is a point here concerning static build issues. https://github.com/storybooks/storybook/tree/next/addons/info#the-faq

Also, this worked for me to get around the issue as well
`"storybook:build": "NODE_ENV=development build-storybook -c .storybook -o build"`

[2019-04-16 20:31] Haroenv commented on #6194
I just realised I didn’t comment on the right issue, but my terminal has “you should update to 5.0.8”, when on 5.0.07

[2019-04-16 20:40] egauci opened #6540 "knobs addon - use of default value is unintuitive"
**Is your feature request related to a problem? Please describe.**
I was trying to have the current value of a select knob persist between page loads by using local storage. It didn't work, and I found the reason:

      const existingKnob = knobStore.get(name);
      // We need to return the value set by the knob editor via this.
      // But, if the user changes the code for the defaultValue we

[2019-04-16 20:51] Grsmto commented on #2863
Coming from Docz, that would be really welcome!

It's quite obvious that this is a big UX issue both from dev and user experience when you see that you have to do this to display a homepage:
![Screenshot 2019-04-16 at 17 45 44](https://user-images.githubusercontent.com/527559/56242865-97725680-606f-11e9-8af6-3880aaecaba3.jpg)

There seem to be a couple of issue referencing this one so I suppose th

[2019-04-16 21:28] milesj commented on #5878
I got this working by *removing* the `name` from parameter options.

[code]

[2019-04-16 22:05] androdel opened #6541 "ngx-translate integration"
Hi,

How do I integrate ngx-translate so I can use it with Storybook for Angular?

Kind regards,
androdel

[2019-04-16 22:35] lonyele commented on #5878
@DimitrK I think you can get more info from #6521

[2019-04-16 22:40] JaceHensley commented on #4241
I'm still seeing this problem. Any update on this? Thanks

[2019-04-16 22:51] shilman commented on #2863
cc @domyen

[2019-04-16 22:56] shilman commented on #6194
@Haroenv I see -- yeah that's something I could get behind. Will discuss with the team and see what we can do!

[2019-04-16 22:58] shilman commented on #6501
Closing as dupe!

[2019-04-16 22:58] #6501 closed

[2019-04-16 23:00] SamKirkland opened #6542 "Unicode escape character displayed in addon-jest"
**Describe the bug**
@storybook/addon-jest is displaying \u001b unicode character (ESCAPE) in the addon panel on failed tests.
Clearly it wasn't at some point, I couldn't pin down the exact version jest changed this but it is happening on the current version of CRA (jest v3) and jest v4.

Looks like a replace function could be added to Message.tsx to remove all unicode characters before the final

[2019-04-16 23:32] hipstersmoothie commented on #6521
I just cleared my localstorage and this is what the brand section looks like

![Screen Shot 2019-04-16 at 4 31 01 PM](https://user-images.githubusercontent.com/1192452/56250656-1e6e0180-6065-11e9-9c6f-b0e80878a7c5.png)

[2019-04-16 23:49] shilman commented on #6521
@hipstersmoothie I'm releasing a new version now with the fix from #6120. Can you try again in a few mins?

[2019-04-16 23:56] hipstersmoothie commented on #6521
Yeah sure. I'm stepping through the code and it seems like my theme is represented in two different places in the state.

![Screen Shot 2019-04-16 at 4 55 37 PM](https://user-images.githubusercontent.com/1192452/56251442-7bb78200-6068-11e9-890e-5881d30c4be7.png)

you can see `ui.theme` has the brandImage set properly and on the root (`theme`) does not

[2019-04-16 23:57] hipstersmoothie commented on #6521
Also I'm currently on the latest storybook alpha

[2019-04-17 00:02] leoyli commented on #6540
Hi, thank you for bringing your idea!

Just want to get clarified,

Does that saying you want the knob persist to the current selection, even when you refresh the page? I can see this being useful in some cases, but not sure if that is realistic (due to the limitation on the local storage and the current implementation, which means we might need a unique identifier on each single knob value...).

[2019-04-17 00:13] hipstersmoothie commented on #6521
seems to be something to do with `checkDeprecatedThemeOptions(options)`

[2019-04-17 00:16] hipstersmoothie commented on #6521
this line always returns true https://github.com/storybooks/storybook/blob/f07b2b7574611388ef45a4cb8a89389b434e257d/lib/api/src/modules/layout.ts#L119

which overrides all of these options on this line

https://github.com/storybooks/storybook/blob/f07b2b7574611388ef45a4cb8a89389b434e257d/lib/api/src/modules/layout.ts#L275

[2019-04-17 00:18] hipstersmoothie commented on #6521
Also from my reading of the code it seems like the keys of deprecatedThemeOptions are the deprecations and not the values. I think the appropriate code is

[code]

[2019-04-17 00:20] hipstersmoothie commented on #6521
`applyDeprecatedThemeOptions` would also need to be changed because it will override the configured theme.

[code]

[2019-04-17 00:31] hipstersmoothie commented on #6521
@shilman PR opened https://github.com/storybooks/storybook/pull/6543

[2019-04-17 00:44] hipstersmoothie commented on #6521
My PR seems to fix the `brandTitle` and `brandUrl` but the image is still not there

[2019-04-17 00:51] hipstersmoothie commented on #6521
It is this line

https://github.com/storybooks/storybook/blob/8c4ee76dab03402b6d5a89b08a2504939d6f23e4/lib/theming/src/create.ts#L175

this prevents the user from setting a `brandImage`

[2019-04-17 01:10] hipstersmoothie commented on #6521
Although it seems like the combination of these two PRs would solve my issues

https://github.com/storybooks/storybook/pull/6522
https://github.com/storybooks/storybook/pull/6476

Feel free to choose those over mine! It does about the same thing

[2019-04-17 03:16] shilman commented on #5866
w00t!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.9 containing PR #6120 that references this issue. Upgrade today to try it out!

[2019-04-17 03:16] shilman commented on #6481
Yowza!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.9 containing PR #6525 that references this issue. Upgrade today to try it out!

[2019-04-17 03:16] shilman commented on #6520
Jiminy cricket!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.9 containing PR #6534 that references this issue. Upgrade today to try it out!

[2019-04-17 04:22] bitfrost commented on #6512
The above error is cleared after the above, now getting
TypeError: Cannot read property 'storyFn' of null

This error is located at:
    in StoryView (created by StorybookRoot)
    in StorybookRoot (at renderApplication.js:35)
    in RCTView (at View.js:45)
    in View (at AppContainer.js:98)
    in RCTView (at View.js:45)
    in View (at AppContainer.js:115)
    in AppContainer (at renderApplicat

[2019-04-17 04:23] bitfrost commented on #6512
It is connecting and initializing the web ui..

[2019-04-17 04:27] bitfrost commented on #6512
works when   onDeviceUI: true.

Getting the above   onDeviceUI: false.  I will create a new issue.

[2019-04-17 04:34] bitfrost opened #6545 "onDeviceUI: false fails with 5.1.0.alpha.28 (React Native stopped working post alpha.24 until .28)"
**Describe the bug**
onDeviceUI: false causing build issues RN > 5.1.0-alpha.24

**To Reproduce**
in a react native project set onDeviceUI:false in call to getStorybookUI

**Expected behavior**
on deviceUI:false works

**Screenshots**
![iPhone_X_—_12_2_and_index_js_—_falcon_and_react_native_setup_fails_to_load_after_5_1_0-alpha_25__24_works__·_Issue__6512_·_storybooks_storybook](https://user-image

[2019-04-17 05:59] egauci commented on #6540
@leoyli - no sorry if I was not clear. I think adding functionality to have knobs retain value across page loads is probably best left to the developer users.

I just feel that the way the default value parameter works right now is strange. If it changes between renders, it actually overrides the browser user's selection. Here's an example:

A Select has three values. On initial render, the code s

[2019-04-17 08:12] shilman commented on #6512
@bitfrost did you try the latest alpha that contains @benoitdion 's fixes?

[2019-04-17 08:19] #6285 closed

[2019-04-17 08:46] shilman commented on #5030
Yippee!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.29 containing PR #6500 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-17 08:46] shilman commented on #5866
Yay!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.29 containing PR #6544 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-04-17 09:07] shilman commented on #5866
If somebody can confirm #6444 I'll cherry pick it back into `master` and release a patch 🙏

[2019-04-17 09:09] sibbl opened #6546 "Clicking knobs button doesn't work"
I'd like to use a button knob to change a props I pass to the component I want to present.

I followed the sample given here: https://storybooks-official.netlify.com/?path=/story/addons-knobs-withknobs--triggers-actions-via-button

Unfortunately, both the official sample and my local trigger the method I passed.

Your sample is expected to change anything when clicking the "Toggle item list state"

[2019-04-17 09:16] nianiaJR opened #6547 "Could add a classname to addon-info proptype table"
**Is your feature request related to a problem? Please describe.**
I need add style to the prop-types table whithout influencing the showing "Table" component by addon-info，I use the less，but it's diffcult to use css selector only selecting the proptypes table element without influencing the <Table> coomponent I display.

**Describe the solution you'd like**
Adding a className for the proptypes ta

[2019-04-17 09:17] cookcc commented on #289
the above methods that i try fail，finally figure out my problem method is use specific version webpack-dev-sever， like 3.1.0 and on on

[2019-04-17 09:34] linasmatakas opened #6548 "Vue $root component data access or setup"
If Vue project's $root component has a reactive variable (in data or computed) f.e. `isMobile`, so it can be used in app's components as `$root.isMobile`, then there is no way to define it in `config.js` or anywhere globally for storybook usage.

It would be nice to have some option to define $root component's data, computed and methods.

Alternative solution that I use now, but it has annoying pe

[2019-04-17 09:55] shilman commented on #6547
You can override `options.TableComponent` so you can literally put whatever you want in there?

[2019-04-17 11:15] mouhannad-sh commented on #6023
I'm not familiar with the storybook codebase but from some investigation and looking at this, it's likely that you have a global listener on the manager view that listens to the key events in which you've emitted here.

I think whatever is listening to this event in the manager view is changing the focus from the preview to the parent. That would explain the keyup event never firing inside of the

[2019-04-17 11:24] tmeasday commented on #6023
Hmm, thanks for investigating @mouhannad-sh and I think you are likely right. What is the specific key you are pressing that causes the issue?

I'm not quite sure what we can do to avoid this problem. We currently check to see if the keydown event happens inside an input or textarea, but of course if you have a custom element that is handling key events this will not help. What is likely happening

[2019-04-17 11:49] benoitdion commented on #6545
thanks for catching this @bitfrost. #6549 should fix the issue. Thank you for your patience as storybook react-native test coverage is still lagging behind the new features.

[2019-04-17 12:00] fsz commented on #5814
I just realized that the project is not building after adding the additional options to the angular.json. The build process does not allow these on a library.

So a fix is definitively required.

[2019-04-17 12:01] dropbeardan commented on #5869
I am encountering a similar issue where Jest throws on my storybook config.js file:

[code]

Here are my files:
jest.config.js
[code]

config.storyshot.ts (the test running the storyshot)
[code]

config.js
[code]

webpack.config.js
[code]

tsconfig.json
[code]

[2019-04-17 12:10] mouhannad-sh commented on #6023
Thanks for replying so quickly @tmeasday
In my story I have Modal component that should close on "Escape" `keyup`.

I think the storybook script has more priority to the preview's context.
That's been said your event listeners are likely to execute their logic before anythings else inside of the preview view.

I would suggest one of 3 solutions that comes to my head:
- To have a more complex key b

[2019-04-17 12:44] bitfrost commented on #6545
Thank you for the quick fixes!  I am happy to serve as canary until test coverage catches up.

[2019-04-17 13:14] pOoOf opened #6552 "Adding multiple radio buttons not working"
While adding multiple radio buttons using radios component from the storybook, the last radio button is the one that gets shown in the knobs tab in storybook.

here is the code that I am trying,
[code]
Is this behavior even supported in storybook or am I doing something wrong?
Although I can use a boolean component from storybook for this specific purpose but why multiple radios are not working?

[2019-04-17 14:41] disintegrator opened #6554 "Expose method to stop in standalone dev server"
**Is your feature request related to a problem? Please describe.**
Currently, I am able to start a standalone storybook in dev mode but cannot stop it. I am attempting to start the server before running storyshots+puppeteer then tear it down.

I have the following jest globalSetup module but it does not seem to work because jest complains that it was unable to exit cleanly:

[code]

Jest output:

[2019-04-17 14:43] bennypowers opened #6555 ""No Preview" Shown when switching between components"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Install v5.1.0-alpha.29
2. Create multiple stories using '@storybook/polymer'
3. run storybook
4. Load storybook in browser - first shown story is fine
5. Switch to another story in the side bar menu
6. Second story displays, but so does "No Preview" alert.

**Expected beh

[2019-04-17 14:57] Ineigo commented on #6437
???

[2019-04-17 15:03] kevbost opened #6556 "Readme Images on NPM broken across the board"
**Describe the bug**
README images are broken across the board.
(see https://github.com/storybooks/storybook/issues/1196)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.npmjs.com/package/@storybook/addon-actions
2. Go to https://www.npmjs.com/package/@storybook/addon-storyshots

![image](https://user-images.githubusercontent.com/1672548/56298487-39da1a80-6100-11e9-9936-f15

[2019-04-17 17:04] elado commented on #3346
Had the same issue, also due to removing `module` field.
Adding `@babel/plugin-transform-modules-commonjs` to babel plugin helped, as described in this comment: https://github.com/storybooks/storybook/issues/3346#issuecomment-423719241

[2019-04-17 17:11] piratefsh opened #6557 "Excluding a story from build"
**Is your feature request related to a problem? Please describe.**
I would like to exclude a story from the build without removing the `MyComponent.story.jsx` file or changing storybook configs.

This is for a scenario where I would like to keep a check in a WIP story but prevent it from being surfaced to other engineers while our team works on it.

**Describe the solution you'd like**
Maybe a `.h

[2019-04-17 17:30] #5734 closed

[2019-04-17 17:32] codyaverett commented on #4976
@ozzyogkush my team has a similar use case.  I'd like to understand your solution more if you don't mind sharing.

TBH i was hoping that the notes plugin worked with images out of box 😅
Our workaround is simply to host images and other assets as static files. https://storybook.js.org/docs/configurations/serving-static-files/

[2019-04-17 18:53] RPDeshaies commented on #5975
PR is still opened and currently in the review process...

[2019-04-17 19:18] tofran commented on #6194
While this is not implemented I've made a simple workaround:

https://gist.github.com/tofran/949060c7e385c66bfb76efa043479028

[2019-04-17 19:51] natalan commented on #2357
Thanks for the tip to look at webpack config. I had a similar error and the problem was in `resolve.alias`

[code]

[2019-04-17 21:30] #5575 closed

[2019-04-17 21:30] #5392 closed

[2019-04-17 22:38] kristw commented on #6552
+1

[2019-04-18 00:37] tmeasday commented on #6023
Well we have customizable keybindings so I'm not sure we can solve it this way. I guess the escape keybinding isn't customizable though so I'm not sure you can even work around it by changing that one :/

This approach is definitely doable, although a bit heavy for the user.

This seems interesting although maybe hard to guarantee. I wonder why pressing the esc key is changing the focus in the fir

[2019-04-18 00:40] #6521 closed

[2019-04-18 00:47] ozzyogkush commented on #4976
@codyaverett we haven't had a hard requirement for images, I was really just looking ahead to possible future use cases. If you're asking about the decorator I mentioned above, I made general case MD addon extender that generates a new addon based o the original addon you specify and the function for merging the incoming context and story params with the auto-detected MD file's text. Then I create

[2019-04-18 00:51] kristw commented on #6552
The behavior I am seeing is it only works if the second, third, ... radios add an empty key to options.

[code]

[2019-04-18 00:54] shilman commented on #6557
I like `xadd` :)

[2019-04-18 01:03] leoyli commented on #6552
I believe there are some fundamental issues deeply in somewhere that is buggy...  Will find a time to dive into the source code of knobs.

Related to #6526.

[2019-04-18 01:25] leoyli commented on #6540
Aha, I see your point here.  If the passed `devVal` changed, then knob treat it as a new one and ignore the user selection.  It's interesting you set the default value dynamically.  I may need to see the source code a bit since I'm wondering its internal logic later...

[2019-04-18 01:34] shilman commented on #6521
Shiver me timbers!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.30 containing PR #6543 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-04-18 02:34] elevatebart commented on #2812
@shilman, can't wait !!

[2019-04-18 02:48] nianiaJR commented on #6547
yes，I know that way. But the options.TableComponent seems  to override table render，what I want is just adding a className to make the div wapper or table more semantic.Tanks for your reply~

[2019-04-18 04:22] ericsoco commented on #6311
I also ran into this issue. Turned out it was due to the order of exports in my library -- one component was importing a `styled-components` theme from another module, and accessing it within a `styled.div`. However, the `theme` object was exporting after the component in my `index.js`. Rather than throw an NPE, I saw `Uncaught TypeError: Object(...) is not a function`.

[2019-04-18 05:22] ericsoco commented on #6147
Also see this issue with a `<React.Fragment>` wrapping the contents of my story. Changing to a `<div>` instead eliminates the error.

[2019-04-18 05:49] tomgron opened #6558 "If time is frozen, storybook 5 doesn't load stories"
**Describe the bug**
Storybook's internals rely on system time changes and if time is frozen (e.g. creating date/time bound storyshots), storybook keeps loading stories forever.

**To Reproduce**
Steps to reproduce the behavior:
1. Install lolex (https://github.com/sinonjs/lolex)
2. In storybook config.js create "frozen time" e.g. ```install(createClock(new Date(2018, 10, 13)));```
3. Try to load

[2019-04-18 06:14] shilman commented on #5866
Yippee!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.10 containing PR #6544 that references this issue. Upgrade today to try it out!

[2019-04-18 06:14] shilman commented on #6521
Ooh-la-la!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.10 containing PR #6543 that references this issue. Upgrade today to try it out!

[2019-04-18 10:05] ndelangen commented on #6023
I'm fine with removing that line actually. It's purpose is to remove focus on something in the treeview.

Would you open a PR removing that line and verify that it fixes the issue @aralroca?

[2019-04-18 11:38] michelcve commented on #3836
@igor-dv Hmm, I ran into this today as well... Since the deprecation didn't come through (or so it seems), might it be an idea to reopen this issue and fix it for component syntax anyway?

I got the impression that it's a matter of adding the properties (which are availble) to the template [here](https://github.com/storybooks/storybook/blob/master/addons/centered/src/angular.js#L12) by looping ove

[2019-04-18 12:41] mkchx commented on #6109
@shilman Is it still possible to have it as a tab? instead of an icon with drop-down options

[2019-04-18 13:10] tj commented on #1493
Seems like npm-linked projects aren't supported or something? I get these errors when linking a React project, makes it kind of hard to use private packages

[2019-04-18 15:40] daveisfera opened #6562 "Ability to specify version in AboutScreen"
**Is your feature request related to a problem? Please describe.**
We build a static storybook to deploy for our designer to review and then also for reviewing code changes before approval. Currently, it's not possible to see when the storybook was built and what commit was used to build it.

**Describe the solution you'd like**
Add support for loading a `version.json` file whose contents are disp

[2019-04-18 16:56] JohnMunsch opened #6564 "On the About your Storybook page; unnecessary upgrade message"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snippets**
If applicable, add c

[2019-04-18 17:11] shilman commented on #6562
As a workaround can you simply create a story that displays that information?

[2019-04-18 18:55] deepaksslibra commented on #6516
@igor-dv @shilman Guys any update please ? Sorry for being nosey but I'm in urgent need of help

[2019-04-18 19:25] kaiyoma opened #6565 "warning about opn/open seen during yarn install"
When installing the latest version of Storybook (5.1.0-alpha.27), this warning is seen in the output of `yarn install`:

[code]

[2019-04-18 19:35] daveisfera commented on #6562
That would be possible, but it would be nice to have this as a baked in feature.

[2019-04-18 19:41] kroeder commented on #6516
@deepaksslibra https://github.com/deepaksslibra/ever/blob/develop/admin/website-angular/src/tsconfig.app.json why do you include files from node_modules directly?

in `.storybook/tsconfig.json` storybook uses `../src/tsconfig.app.json` - it might be misconfigured. You should not need any custom webpack config for your setup as far as I can see

I immediately got permission errors (locally) after u

[2019-04-18 20:58] parkerholladay commented on #6204
Also using latest firebase with `storybook@5.0.8` and adding this to storybook's `webpack.config.js` solved the issue.

[2019-04-18 21:30] parkerholladay commented on #6204
I just saw firebase had an update to `5.10.0` and also upgraded storybook to `5.0.10`, and I was able to remove the alias "hack" above.

[2019-04-18 21:53] ndelangen commented on #1493
@tj I think the issue is that the file's path matches the ignore regex for the babel loader or it doesn't match the include regex.

Can you try to use a custom webpack config that changes those regex's so your files will pass through the babel loader?

[2019-04-18 22:00] ndelangen commented on #6250
@Armanio we can set the background to the body of the iframe, but..

Why does a component set a background on the body?

Should storybook try to fight for dominance inside the preview for styling?

Will we win the fight without causing other issues?

---

I humbly think if a user is setting a background as part of their base styles, he/she is better off explicitly removing that style via `preview-

[2019-04-18 22:00] #6250 closed

[2019-04-18 22:06] ndelangen commented on #5879
Looks like we have this feature?

<img width="1498" alt="Screenshot 2019-04-19 at 00 05 39" src="https://user-images.githubusercontent.com/3070389/56394228-ed452b00-6236-11e9-9fb9-59f90763fdbc.png">

[2019-04-18 22:06] #5879 closed

[2019-04-18 23:09] zjaml commented on #6204
unfortunately updating both firebase and storybook to the latest didn't fix my problem.
I have to stop using storybook for this issue.

[2019-04-19 03:08] supadupdip commented on #6414
Found out what was causing the error above. There's a middleware.js file that we are using to customize the proxy server. Prior to v5 it was compiling correctly, however now it was throwing an error because it couldn't resolve `process.env.vars`  resolved by moving the env.config within the middleware file.

[2019-04-19 04:31] shilman commented on #6562
I'll look into something about this in the Storybook Docs project where we're baking in a bunch more design systems primitives: https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a

[2019-04-19 04:32] shilman commented on #4600
Anybody want to pick this up?

[2019-04-19 04:34] shilman commented on #6109
@mkchx Not AFAIK. @ndelangen any plan on making addon UI more portable? Seems like people want to move stuff around

[2019-04-19 05:05] shilman commented on #5809
Jiminy cricket!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.31 containing PR #6539 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-19 05:05] shilman commented on #6338
Yippee!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.31 containing PR #6535 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-19 05:05] #5809 closed

[2019-04-19 05:05] #6338 closed

[2019-04-19 05:36] nmccready commented on #5298
Get rid of stale

[2019-04-19 05:56] nmccready commented on #5117
Re-open

[2019-04-19 06:28] shilman commented on #6204
@zjaml did you try @parkerholladay 's workarounds above?

[2019-04-19 06:44] zjaml commented on #6204
@shilman about that, I don't know in which file I should do it.

[2019-04-19 08:02] kroeder commented on #6541
What have you tried so far? A colleague implemented it in our mono-repo but as far as I can see we needed to do some extra stuff in our story

[code]

*Note:* `I18nModule` is something we added. Replace this code with `TranslationModule` from `ngx-translate`. Maybe it works right away 🙂

If this does not solve your issue, we configured it like that:

- installed `@ngx-tranlsate/core`
- added `asse

[2019-04-19 08:21] shilman commented on #6204
@zjaml That's `.storybook/webpack.config.js`. Please let me know if it works for you

[2019-04-19 08:27] zjaml commented on #6204
@shilman it works that way! Thanks!

[2019-04-19 08:40] shilman commented on #5298
Is this an issue with `addon-graphql` only, or a general SB issue?

[2019-04-19 10:39] sarod commented on #6204
I'm using babel preset-env and I faced the same issue with storybook 5.0.10

[code]

The [delete alias workaround](https://github.com/storybooks/storybook/issues/6204#issuecomment-478998529) fixed it for me. 🙏 @christophehurpeau

[2019-04-19 11:35] #5783 closed

[2019-04-19 12:53] ndelangen commented on #6204
Should we delete the alias from the preview's webpack.config?

[2019-04-19 12:53] cutterbl commented on #5915
Is there any motion on this issue? Still seeing it in 5.0.10 this morning.

[2019-04-19 14:06] throrin19 commented on #6204
Same problem here, the remove alias don't fix the problem for me :(

[2019-04-19 14:08] deepaksslibra commented on #6516
Hello @kroeder.. I can't understand why If I load storybook for SwitcherComponent for example, it works perfectly fine.
I would also like to add that I haven't been working on this project from the start and have no idea why the tsconfig files are structured that way. I've been asked to implement Storybook into this existing codebase.

What is the most surprising factor for me is that the app itse

[2019-04-19 14:25] kroeder commented on #5030
@shilman can we deactivate github-actions for certain issues? I just edited my post (btw. I started working on app/angular) and github-actions immediately is pinging people

[2019-04-19 15:35] #5164 closed

[2019-04-19 15:35] #5152 closed

[2019-04-19 19:53] devniel opened #6568 "problem with custom config folder instead of .storybook"
Hello,

**Describe the bug**
I'm getting an error on remote platforms (on localhost runs without problems)
`(node:901) UnhandledPromiseRejectionWarning: Error: => Create a storybook config file in "config/storybook/config.{ext}".` when using a custom configuration folder an setting it with the `-c` argument.

**To Reproduce**
I'm building my project on a PaaS, where there is necessary to provide a

[2019-04-19 20:06] adamplabarge commented on #4995
It would be great to note in the docs that the customization of webpack does not include the manager, and other core webpack bundles. Total PITA to figure that out.

[2019-04-19 20:10] LdsDannyStaten commented on #6483
yes please!

[2019-04-19 20:14] mackenziemi commented on #6483
This is an awesome idea! Great improvement for a great product

[2019-04-19 21:07] domyen commented on #2863
**TLDR**: This behavior is a better fit for the upcoming [Storybook Docs](https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a) feature not Storybook.

There are two common SB use cases:
1. Isolated UI Component development
2. Component library documentation

Currently, Storybook is intended for 1. isolated component development – helping devs create components. The more folks get

[2019-04-19 21:25] stramel commented on #5889
Would love official support for this! Thanks @seanmcintyre for the workaround

[2019-04-19 21:45] #6516 closed

[2019-04-19 21:47] deepaksslibra commented on #6541
Hello I seem to be facing the same issue as well..
I tried the method above but it didn't work

[2019-04-19 22:02] domyen commented on #5889
This makes sense as an addon to me. It's amazing! Keep it up @seanmcintyre 👏

[2019-04-20 00:07] shilman commented on #5030
@kroeder that's what it's for :) how would you envision disabling it?

[2019-04-20 03:02] shilman commented on #6568
What version?

[2019-04-20 03:27] devniel commented on #6568
Hi, I'm using `@storybook/react": "^5.0.10"`

[2019-04-20 03:36] shilman commented on #6568
Strange. Our `examples/official-storybook` uses a custom path:

https://github.com/storybooks/storybook/blob/master/examples/official-storybook/package.json#L6

And it works fine:

https://storybooks-official.netlify.com/

Do you have a repro you can share?

[2019-04-20 11:21] tj commented on #1493
I'm not familiar with webpack at all, I try hard to avoid it :D. It would be amazing if whatever the defaults are supported npm-linked stuff but I'll try

[2019-04-20 13:31] kroeder commented on #6541
I did a fresh Angular installation and integrated ngx-translate into the actual angular app + into storybook
https://github.com/kroeder/storybook-ngx-translate

I also added a library project but haven't tried integrating ngx-translate there yet.

Please tell me if this is of any help

[2019-04-20 13:33] dogoku opened #6569 "enableShortcuts not working in v5"
**Describe the bug**
The `enableShortcuts` and `isFullscreen` options are not working as expected.

**To Reproduce**
Add this to `config.js` (skipping boilerplate)

[code]

**Expected behavior**
Shortcuts should be disabled.
Story should be fullscreen.

**System:**
Version: 5.x

[2019-04-21 02:21] kutenai commented on #6201
I would prefer a --no-open flag as well. Do everything that is currently default, just skip opening a new browser. I *VERY* often have an existing window open but must close and re-start the storybook process (due to configuration changes, etc), so I cannot rely on the auto-restart. In those cases, I just don't want a new browser.

[2019-04-21 07:15] #5804 closed

[2019-04-21 08:00] androdel commented on #6541
Ofcourse, putting the code in a module would be the answer (stupid me).
Anyway, this raises another issue and that is that he cannot find my en.json file, but it is present.

<img width="1104" alt="Schermafbeelding 2019-04-21 om 09 53 20" src="https://user-images.githubusercontent.com/13794129/56467172-d6136280-641b-11e9-98bc-bd42db140fe7.png">

<img width="159" alt="Schermafbeelding 2019-04-21 om

[2019-04-21 09:38] shilman commented on #6201
@kutenai Can you just run with `--ci`? The discussion here is whether that behavior should be the default.

[2019-04-21 09:54] shilman commented on #6569
`isFullscreen` working for me. What are you seeing?

`enableShortcuts` isn't working -- seems like a bug.

[2019-04-21 10:04] dogoku commented on #6569
@shilman I see, you are using `isFullscreen` not `isFullScreen`...

In the [docs](https://storybook.js.org/docs/configurations/options-parameter/), the parameter is written as `isFullScreen` but the implementation expects `isFullscreen`.

Not sure, which is the "correct", but I suppose updating the docs would be easier

[2019-04-21 13:01] kroeder commented on #6541
@androdel is it in `src/assets` or `projects/your-project/src/assets` ?
If you need a custom assets folder then try using https://storybook.js.org/docs/configurations/serving-static-files/#2-via-a-directory

[2019-04-21 14:34] kutenai commented on #6201
It appears to work fine for me. Maybe the option is just misleading, as it kind of implies that it does "more" than I want, but in practice, it seems to work fine.

[2019-04-21 15:01] mrmckeb commented on #5777
The solution that @nnquangit has suggested is good, but I'd suggest you just need to add to plugins, under options - as opposed to adding a whole rule.

I'm not sure what the best way to approach this is, as with CRA we use the CRA config - and don't necessarily want people to add to provide their own Babel configs. I'm definitely open to any ideas here :)

[2019-04-21 17:23] #4805 closed

[2019-04-21 17:23] #5193 closed

[2019-04-21 17:23] #5524 closed

[2019-04-21 21:02] SpearThruster opened #6574 "BaseUrl not respected with new create-react-app 3.0 version"
**Describe the bug**
Even better here is a repro case -> https://github.com/SpearThruster/storybook5-and-create-react-app3

**To Reproduce**
1. clone repo
2. npm install
3. npm run storybook

**Expected behavior**
The baseUrl should be respected and the component path `import { RoundedButton } from "components/RoundedButton"` should be resolved.

**Screenshots**
not applicable

**Code snippets**
I

[2019-04-22 02:56] shilman commented on #6574
This may already be addressed here: https://github.com/storybooks/storybook/pull/6560

[2019-04-22 03:03] Grsmto commented on #4769
I suppose it's not a Storybook issue but it's more related to React Dev Tools but it really makes me wonder if people are actually using Storybook as a development sandbox. I don't really see how you can build React components without being able to use the dev tool.

The workaround doesn't actually work since you can't use the "target" (you have to open the tree manually one element after the othe

[2019-04-22 03:03] shilman commented on #5777
@mrmckeb can you provide an example?

[2019-04-22 03:28] shilman commented on #6565
Yay!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.32 containing PR #6567 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-22 03:28] #6565 closed

[2019-04-22 04:37] shilman commented on #4769
@Grsmto I use storybook all day and have never used react dev tools in my life 😉

What happens when you click the "eject" button in the upper-right hand corner of the SB5 UI to open the iframe in its own window? Does devtools work then?

[2019-04-22 06:39] mrmckeb commented on #6574
Correct @shilman. @SpearThruster I've got a PR open and will merge once we test against the final release.

If you have time, perhaps you could also do a quick test of the changes in #6560?

[2019-04-22 06:50] mrmckeb commented on #5777
Yes, sorry - good thought @shilman - you can see an example of how we do it internally here:
https://github.com/storybooks/storybook/blob/074d0f36da88d740167b1a033d63396e6f04af0b/app/react/src/server/cra-config.js#L172

This is part of PR #5308.

So instead of:
[code]

You would do this (I didn't test, but it should be close enough):
[code]

[2019-04-22 08:06] SpearThruster commented on #6574
Thanks @mrmckeb for the info and your PR. :)

I will test it later today and report back here.

[2019-04-22 08:42] antitoxic commented on #5827
Pure WTF. @leoyli @shilman @ndelangen Please remove from documentation, or show a giant warning next to each option which is "todo"

[2019-04-22 08:43] shilman commented on #6555
It's showing "no preview" for me the whole time on your storybook (private link). Hopefully one of our polymer gurus can give a look!

[2019-04-22 08:51] androdel commented on #6541
@kroeder it's in `src/assets`

[2019-04-22 08:53] gmaclennan commented on #5291
I am using alpha.31 and I see this error when using the @storybook/addon-actions@5.1.0-alpha.31 and I press a button using the actions (I am not using device addons, I am using standard addons via the react-native-server).

I am just using the default stories that are installed after init.

I fixed it with this solution: https://github.com/facebook/react-native/issues/20902#issuecomment-447593887

[2019-04-22 10:07] vincentbollaert opened #6575 "Make knobs disable-able"
Request to make knobs disable-able by passing in a 4th parameter.

I've got a range input component that renders a ReduxForm Field if `isRFF` prop evaluates to true. This prop should not be toggle-able because the component needs to be wrapped in the `reduxForm` function and that requires a separate story

[code]

If you guys want this in I can create a PR

[2019-04-22 10:17] MrDestroii commented on #6564
And I would like to know whether it is possible to somehow turn off the notification in the lower left corner about the update, i.e. so that this notification never appears

[2019-04-22 10:28] thecotne commented on #5882
this is my workaround

i have this in my `storybook/webpack.config.js`

[code]

storybook adds some plugins in babel config which apparently causes this issue

so over writing options in babel-loader fixes issue

[2019-04-22 11:30] Grsmto commented on #4769
Yeah that's actually the right workaround here! Thanks! :)

Haha then you should try it, I can't do without it :p

[2019-04-22 12:55] Troncoso opened #6576 "Separating components from project"
When I first saw storybook, it looked like it was a way of building a component library separate of an actual project. After looking more into it, all tutorials have you building up your stories in an actual project. So, let's say I have:

- component-lib
- project1
- project2

Both  project1 and project2 use the same component-lib. Should storybook go in the component-lib or in a project? I would

[2019-04-22 13:03] palmerminto opened #6577 "@storybook/addon-info not working"
**Describe the bug**
Just installed @storybook/addon-info. When following the instruction in the readme I either get No Preview or it's stuck in the loading state (see screenshot). Nothing in the console to say there is an error.

**Expected behavior**
Could I get instruction on how to fix?

**Screenshots**
![image](https://user-images.githubusercontent.com/7794427/56501704-9e81e480-6507-11e9-9581

[2019-04-22 13:22] madhav-b commented on #5878
I reproduce the same issue with Storybook version 5.0.5 I had tried with the brand, brandImage, brandTitle but with every case showing default text "Storybook". I want to replace this text with my own logo. Does anyone have any suggestion regarding this issue?

[2019-04-22 13:26] aozora commented on #5878
Hi, as @milesj found out, you have to remove the "name" option, and than "brandImage" must be a url: I couldn't point it to a local asset, so using a public url just works (I use the url of my logo image on a cdn).

[2019-04-22 13:45] amanolar94 commented on #5915
Yes the issue still exists..

[2019-04-22 15:04] benjamingrobertson commented on #5648
@omaracrystal @tnatanael - you can import a sass file inside of your `config.js` and it will apply to all stories:

[code]

[2019-04-22 16:13] maracuja-juice commented on #6320
(this was for react btw)

[2019-04-22 16:38] transitorytammy commented on #5611
I really could use this support too for some components I am working on too.

@techdragon, you mentioned that you are currently have "model data factories for populating components with data during testing."  what are you using there?

[2019-04-22 17:17] tnatanael commented on #5648
Unfortunately i moved out from this package for now, tks for the help

[2019-04-22 18:10] omaracrystal commented on #5648
It didn't work for me. I had to create a decorator that has to be included with the center decorator.
But this has some issues too since decorators and props do not work together.

[code]

[2019-04-22 18:45] SpearThruster commented on #6574
I am having trouble building the project since I am on Windows, and there are plenty of python, shell build scripts referenced in package.json. Also tried to build it on a colleagues Mac (briefly) but didn't work there either.

Can you by any chance send me a dist build of your branch that I can npm link in my project?

[2019-04-22 19:28] #6396 closed

[2019-04-22 20:28] pelotom commented on #6261
I'm seeing this issue in v4.1.18, does the fix need to be backported?

[2019-04-22 21:52] benjamingrobertson commented on #5648
Looks like we are probably using different frameworks, which would probably account for the difference.

I'm using storybook with React and CSS Modules with SCSS.

In my `.storybook/webpack.config.js`, I have this:

[code]

And in `.storybook/config.js`, the only CSS related line I have is:

[code]

I would expect the requirements would vary a lot depending on the framework(s) you are using though

[2019-04-22 21:53] shilman commented on #6261
@pelotom It might. I'll patch it back today!

[2019-04-22 22:02] pelotom commented on #6261
@shilman I opened a PR [here](https://github.com/storybooks/storybook/pull/6579).

[2019-04-22 22:03] shilman commented on #6577
`react.memo` requires React 16.6 and I'm guessing that somebody made a change to `addon-info` that requires this version. If you upgrade I expect it will work. Or I'd be happy to accept PRs to remove the use of `react.memo`.

[2019-04-22 22:29] shilman commented on #6261
Hmm. Actually the PR you duplicated was buggy and required a second PR to fix it, which changes some core dependencies https://github.com/storybooks/storybook/pull/6281

How important is it to get rid of this warning? On the one hand I appreciate that lots of people are stuck on 4.x. On the other hand, this is a bigger change than I would like for a patch release, and I'm tempted to say "upgrade t

[2019-04-22 22:55] pelotom commented on #6261
@shilman I would be happy to upgrade but I've had issues with HMR on v5 that are preventing it... haven't had time to get it down to a minimal reproduction yet.

[2019-04-22 23:03] elevatebart commented on #6357
Oh I might dig into this. Let me get an env ready.

[2019-04-23 02:09] leoyli commented on #6366
I think I can fix this when in the upcoming weekend :)

[2019-04-23 04:00] mrmckeb commented on #6574
In the interim, you can still use `NODE_PATH` - and everything will work.

Give me a few hours and I'll try to get this out, worst case, end of day today (EEST).

[2019-04-23 05:24] mrmckeb commented on #6574
I'm just waiting on some approvals for #6560, and then I hope @shilman can push this out with the next alpha ;)

Thanks again for your patience @SpearThruster, and definitely use the environment variable `NODE_PATH` (i.e. `NODE_PATH=src`) in the interim :)

[2019-04-23 05:41] blemaire commented on #6364
Hi @omaracrystal here is how I did it:
in the `.storybook/config.js`files, add the import with the correct loaders inlined:
[code]

Then add/import all the styles you need in the `scss-loader.scss` file:

[code]
The solution proposed by @kroeder works as long as your using components from an Angular application but for libraries, you cannot add the `styles` property in the angular.json file

[2019-04-23 06:20] techdragon commented on #5611
@transitorytammy I'm using the model factories feature of mirage, https://www.ember-cli-mirage.com/docs/advanced/factories

How it is all connected is probably better explained by the Mirage Documentation than by any quick summary I could write. But fundamentally it relies on Ember Data and the normal initialisation sequence, which if my assessment in https://github.com/samselikoff/ember-cli-mirag

[2019-04-23 06:49] mrmckeb commented on #6574
If you can try https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.33, that would be amazing.

Please let me know immediately if you have any issues.

[2019-04-23 07:01] luksm commented on #6576
Hi @Troncoso, you can add storybook as a dev dependency on you component library and add a [files](https://docs.npmjs.com/files/package.json#files) key to your package.json in order to export only your final compiled library.

[2019-04-23 07:29] ghengeveld opened #6587 "Theme is cached between unrelated instances"
**Describe the bug**
When running multiple Storybook projects, the logo from one project is shown in another. Investigation shows that the logo URL is stored in `@storybook/ui/store` in LocalStorage, which explains why this happens.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a Storybook with a custom `brandImage` and run it locally.
2. Setup another Storybook with default config.

[2019-04-23 07:30] nianiaJR commented on #4089
@Jony-Y I have the same problem，could you tell me how to fix this by react-docgen? thx

[2019-04-23 07:41] jakoandersen commented on #6574
i just upgraded from CRA 2.1.8 to 3.0.0, and then @storybook/react 5.0.6 to 5.1.0-alpha.33 and receive an error in the terminal:
[code]

[2019-04-23 07:56] #5526 closed

[2019-04-23 08:08] SpearThruster commented on #6574
Hi @mrmckeb,

I confirm it works now after i set also the .env `NODE_PATH=src` ... will this be required when using `baseUrl` in `tsconfig.json`? :)

[2019-04-23 08:41] androdel opened #6588 "Stories overview in sidebar"
Hi,

I have 2 different stories, but I only go to the specific path of the last story I edited.
Initially, in the url I see story/*, but then redirects. I used the Angular docs to setup the config to load all stories. You would expect that this works out of the box.

Latest versions Angular and Storybook are being used.

[2019-04-23 10:41] bryankang opened #6590 "remove hard coded title for each story"
must've went through from the recent refactor

https://github.com/storybooks/storybook/blob/v5.1.0-alpha.33/app/react-native/src/preview/components/StoryListView/index.tsx#L151

[2019-04-23 10:54] alfnielsen opened #6591 "Knobs numbers return null instead of undefined"
**Describe the bug**
I know somebody would say that this is not an error,
but knobs 'number' dont work with default parameter values because
it returns null instead of undefined on empty string.

**To Reproduce**
1. Create a React/Angular component with default value and write a story for it.
2. When you delete all context from the knobs input in storybook the value in the component will be null i

[2019-04-23 11:11] mrmckeb commented on #6574
Hi @SpearThruster, hmm... that error looks completely unrelated to this work... To confirm, did you remove all `node_modules` and reinstall (as a test)?

And no, the merged PR means no `NODE_PATH` required - it's just a temporary workaround and is fully resolved :) That was the goal of the PR and it is working for me. See #6560 for the implementation.

If you keep receiving the above error, can yo

[2019-04-23 11:13] mrmckeb commented on #6574
Also, @jakoandersen, did you upgrade all `@storybook` packages to the same version? There may be a mismatch somewhere if not.

[2019-04-23 11:14] shilman commented on #5814
@CodeByAlex do you know what's going on here? seems like this is quiet.

[2019-04-23 11:23] tmeasday commented on #5925
Some notes:
 - This link https://storybooks-official.netlify.com/?selectedKind=UI%7CPanel&selectedStory=no+panels&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Fstories%2Fstories-panel does not work reliably in *chrome* but does in *safari*

 - the order of stories in https://storybooks-official.netlify.com is different in chrome and safari (related to #5827?)

[2019-04-23 11:25] shilman commented on #5926
@karldanninger Any progress on this? I'd like to close the this as a dupe to #5882

[2019-04-23 11:30] kroeder commented on #6541
I don't think so. They might have added something to the default angular.json when bootstrapping a new angular app. Can you try to upgrading to 7 using `ng upgrade @angular/cli @angular/core` in a branch?

[2019-04-23 11:48] ndelangen commented on #6002
We should warn the user they should run `npm init` first

[2019-04-23 11:57] Pixelatex commented on #1369
@shilman I had this issue as well and it seems storybook is setting certain cookies that hide the addons panel. I had to clear my local storage to get my panel back

[2019-04-23 11:58] gswirrl opened #6592 "Storyshots: how to use webpack-built assets"
Storyshots errors if it depends on assets built by webpack.

Im not sure if this is a design/conceptual bug or just a mismatch between my expectations and real life 😄

DESCRIPTION OF ISSUE

I have storybook set up with a simple custom webpack config that runs an imported css file through postcss.

ie in `.storybook/config.js`

[code]

This works perfectly in storybook, but fails in jest presumably

[2019-04-23 12:20] wonskarol opened #6593 "storysource addon: source of transpiled files"
**Is your feature request related to a problem? Please describe.**
In my project I have to operate on transpiled (from TS to es6) `*.stories.js` files. They include source maps. Example:
[code]

**Describe the solution you'd like**
It would be great if storysource addon would support that kind of files. Currently it seems not recognize it and shows

message.
After debugging I noticed that loader i

[2019-04-23 12:25] Pixelatex commented on #5931
Also running into this issue... The theming options are very limited and don't seem to cover everything.

[2019-04-23 12:37] libetl commented on #6593
Working on storysource V2, you will see the source code of the story AND the local dependencies too.

[2019-04-23 13:12] wonskarol commented on #6471
Im facing similar issue. Right after
`[Deprecation] 'window.webkitStorageInfo' is deprecated. Please use 'navigator.webkitTemporaryStorage' or 'navigator.webkitPersistentStorage' instead.`
I'm getting
`tslib.es6.js:17 Uncaught TypeError: toISOString is not a function` error.

[2019-04-23 13:19] Stralos commented on #5817
The issue is still persisting in 5.0.10 (by npm logs it's a version after the alpha.23)

error message:

   Failed to load preset: "/.../node_modules/@storybook/core/dist/server/manager/manager-preset.js"
ERR! Error: Cannot find module 'emotion-theming/package.json'

stack trace:
[code]

[2019-04-23 13:23] BrendanAnnable commented on #5817
@Stralos this fix is in the 5.1.X release branch, which currently is still in alpha (`5.1.0-alpha.33`).

[2019-04-23 13:24] domyen commented on #5931
The official theming api doesn't cover _every_ possible variation intentionally. Our first priority is to have a tight, maintainable API so we can ship fast and lower the risk area for unintentionally breaking themes in future releases.

That said, we're working on an [escape hatch PR](https://github.com/storybooks/storybook/pull/6571) that attaches static classnames to DOM elements so that you ca

[2019-04-23 13:36] Hypnosphi commented on #4487
Looks like the root of the issue is that [`telejson`](https://github.com/storybooks/telejson) library that we use to transmit data between preview and manager frames [uses](https://github.com/storybooks/telejson/blob/master/src/index.js#L263) `JSON.parse(data, reviver())` which [ignores](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/parse#Using_the_reviver_p

[2019-04-23 13:58] taltmann42 commented on #2962
In case someone wants to wrap the stories in Angular components and not standard HTML, I had to use the following approach:

[code]

This way, the wrapping component as well as the declarations from the wrapped component are merged.

[2019-04-23 14:41] karldanninger commented on #5926
@shilman nope, I tried the workarounds in #5882 to no success. Feel free to close this, I'll subscribe to #5882, it's a fairly similar error in the terminal

[2019-04-23 15:26] #5926 closed

[2019-04-23 15:33] shilman commented on #5817
@BrendanAnnable @alexlafroscia @devrelm Should I patch the fix back into 5.0.x?

[2019-04-23 15:36] shilman commented on #6471
Sounds like something weird is going on. Any chance you can provide a repro?

[2019-04-23 15:37] shilman commented on #1369
cc @tmeasday @ndelangen regarding local state and caching

[2019-04-23 15:40] shilman commented on #6591
I think this is a dupe to https://github.com/storybooks/storybook/issues/4487

Right @Hypnosphi ?

[2019-04-23 15:44] shilman commented on #6588
Can you rephrase your question or elaborate, maybe include a screenshot? I don't understand your question

[2019-04-23 15:58] shilman commented on #6577
Trying to get something usable out ASAP as `5.2-alpha.0` but expect that it will take some time to stabilize: https://gist.github.com/shilman/1428d44b2b53644e7b952ac441d2e954

[2019-04-23 16:03] MikaelCarpenter commented on #4805
Haha coming in two days too late for stale bot. But this is a blocker for my team being able to adopt storybook so I'll take a crack at a PR for this 👍

[2019-04-23 16:15] blemaire commented on #5814
This error appears when using components from an Angular library. I haven't had any issues appart from the warning in the terminal.
tldr; ignore it ;)

[2019-04-23 16:15] gswirrl commented on #6592
ahhh. am stupid. mocking the css is fine because ignored by webpack for the running storybook. sorry!

[2019-04-23 16:15] #6592 closed

[2019-04-23 16:20] jaydlawrence commented on #5915
For the sake of helping to weight this issue and keep it fresh:
Having the same issue upgrading from storybook 4 to 5.
I even tried the markdown example from the README and it is also not working.
https://github.com/storybooks/storybook/tree/master/addons/info#markdown

[2019-04-23 16:24] qoalu commented on #6337
having this issue @elliotdickison , did you file an issue to emotion?

[2019-04-23 19:42] androdel commented on #6588
I have 2 stories:
<img width="224" alt="Schermafbeelding 2019-04-23 om 21 30 46" src="https://user-images.githubusercontent.com/13794129/56610144-18e95c00-660f-11e9-95a1-82ca20bdb0c5.png">

I load them with the following code:
`import {configure, addDecorator, moduleMetadata} from "@storybook/angular";
import {I18nModule} from "../src/app/i18n.module";

addDecorator(
  moduleMetadata({
    imports

[2019-04-23 19:50] #5462 closed

[2019-04-23 19:55] Hypnosphi commented on #6591
Yep

[2019-04-23 20:56] munerf opened #6596 "Enable "--display-error-details" in webpack"
**Is your feature request related to a problem? Please describe.**
To debug module imports I would like to enable webpack's "--display-error-details" inside storybook!

**Describe the solution you'd like**
How can I do it?

[2019-04-23 21:00] binomialstew opened #6597 "Having no default value for color knob breaks"
**Describe the bug**
When there is no default value for a color knob, there is a fatal error of:
`TypeError: Cannot read property 'toUpperCase' of undefined`

Here is the source of this error:
https://github.com/storybooks/storybook/blob/c6d704225eec98c20a729242f14987852071ddb1/addons/knobs/src/components/types/Color.js#L94

**To Reproduce**
Steps to reproduce the behavior:
1. In a story, create a

[2019-04-23 21:49] binomialstew commented on #6597
PR [here](https://github.com/storybooks/storybook/pull/6598)

[2019-04-23 22:19] pnarielwala-tc commented on #5645
Hello! 👋 I'm getting this issue as well but with all my packages being on `4.1.12`. I can't upgrade to v5 just yet as we're using `react@15.6.2` and `react-scripts@2.1.8`

![Screen Shot 2019-04-23 at 5 16 54 PM](https://user-images.githubusercontent.com/37671065/56619625-ccd8f000-65eb-11e9-8502-f982fc51ff0a.png)

![Screen Shot 2019-04-23 at 5 17 11 PM](https://user-images.githubusercontent.com/376

[2019-04-23 23:23] adrianoresende commented on #5019
1 - npm init
2 - npx -p @storybook/cli sb init --type vue

[2019-04-23 23:31] benoitdion commented on #6590
Good catch @bryankang. Thanks for reporting!

[2019-04-23 23:33] #6545 closed

[2019-04-24 01:49] ouweiya commented on #252
Useful, what does it mean? It doesn't look like RegExp

[2019-04-24 01:57] jkvim commented on #4378
update `@angular-devkit/build-angular` to `0.13.1` fix the issue

[2019-04-24 02:40] shilman commented on #6545
@benoitdion if you use the `Issue: #xxx` format for the PRs from the template, issues like this will get closed when the PR is released with a comment to let people know to check out the release

[2019-04-24 02:48] shilman commented on #5019
cc @ndelangen for #6002

[2019-04-24 02:50] shilman commented on #5645
@pnarielwala-tc can you open a separate issue? v5 should work with React v15

[2019-04-24 02:53] #6597 closed

[2019-04-24 02:57] shilman commented on #6588
Weird... 🤷‍♂️ Seems kind of tricky. Has anybody else seen this? Is there a repro somewhere?

[2019-04-24 03:14] leoyli opened #6602 "Add URL queries for controlling contexts in the SB full iFrame mode"
**Is your feature request related to a problem? Please describe.**
For snapshot testing and story sharing purposes, it would be nice to have the URL query parameters to determine which contextual environment should be applied in the SB full iFrame mode.

**Describe the solution you'd like**
The same approach done in `addon-contexts`.

**Describe alternatives you've considered**
N/A

**Are you able

[2019-04-24 03:15] leoyli commented on #6602
Related to #6601.

[2019-04-24 03:46] vdh commented on #6471
@shilman I gave some example CLI commands to reproduce it, is there a better repro format or service to use?

I tested it again just now and got the same issue (Chrome 73.0.3683.103, Storybook 5.0.10, Node v11.14.0)

[2019-04-24 04:00] shilman commented on #6471
@vdh Sorry I missed that. I'll check it out!

[2019-04-24 04:08] SpearThruster commented on #6574
Hi @mrmckeb. I updated the repo above with the latest alpha from storybook and it's still failing unless I also set NODE_PATH=src in .env.

[2019-04-24 04:30] lauterry commented on #6204
Same issue for me. Removing the alias does not fix the issue

[2019-04-24 04:38] shilman opened #6604 "React Native ondevice look-and-feel"
RN on-device should match storybook web UI look and feel:
- [ ] sidebar navigation
- [ ] ondevice addons

[2019-04-24 04:41] shilman opened #6605 "React Native ondevice theming"
RN ondevice UI should be themable to match the users' app

As much as possible, the theming API should mirror what we're doing for the web: https://storybook.js.org/docs/configurations/theming/

[2019-04-24 05:00] graup commented on #4475
We should definitely get rid of `babel-preset-vue`, as far as I can tell that is not even compatible with Babel 7 (it's from the time before babel switched from the `babel-preset-name` naming to `@babel/name`). I tried to use JSX in Vue with it and it creates all sorts of errors.

For now, is there a workaround to tell @storyboard/vue to NOT require `babel-preset-vue`? The default babel config by

[2019-04-24 05:09] PaulieScanlon commented on #6216
Hey man! How’s it going? Have you had a chance to investigate this any further? I’d love to see a fix for this... cheers!

[2019-04-24 05:58] Jack-Works commented on #6093
Also have this problem

[2019-04-24 06:09] kroeder commented on #6588
Yes, but only during hmr. This bug exists since 3.x or so (maybe longer?). It works fine in prod and is only an issue during dev (at least for me)

The exact behavior in my case
- run start-storybook: everything is fine
- do a change in a story: the changed story is still there but a handful of others disappear in the navigation bar

This can be fixed by reloading the page (F5)

But it sounds like

[2019-04-24 06:32] alfnielsen commented on #4487
Hey,
Just to add a little extra info to @bennyn comments, it's not just TypeScript but ES6 (EcmaScript 2015) that uses optional parameters which only accepts undefined (not null).

In TypeScript it would be something like this:
[code]
but you can do the same in ES6 like this:
[code]
if ```environment = null``` it will be ```null``` instead the method and **not** the default value  ```'win'```

[2019-04-24 06:47] alfnielsen commented on #6591
I dont believe it's a duplicate of #4487 but clearly related.

The problem with 'select' knobs require another solution then this does.

The 'number' knobs is because it's has been choosen at some point to return 'null'
in ```storybook/addons/knobs/src/converters.js``` for numbers that a empty string instead of undefined

[2019-04-24 06:48] shilman commented on #6216
@PaulieScanlon

Some progress: https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a
Current release schedule: https://gist.github.com/shilman/1428d44b2b53644e7b952ac441d2e954

We'll get there 😉

[2019-04-24 06:55] mrmckeb commented on #6574
Hi @SpearThruster, are you able to share the repo with me (even privately) and I can take a quick look?

Also, the temporary workaround doesn't need to be in `.env`, it can be before your script for Storybook (if you want to keep your `.env` clean).

[code]

[2019-04-24 07:03] shilman commented on #6471
Ok, I can reproduce. Marking this as a bug & will gratefully accept any PRs to fix! 🙇

[2019-04-24 07:51] jakoandersen commented on #6574
Hi @mrmckeb - yes after upgrading all storybook related plugins and addons to 5.1.0-alpha.33 it works :)

[2019-04-24 08:00] mrmckeb commented on #6574
Thanks @jakoandersen, and are you able to use `baseUrl`, or do you still need to use `NODE_PATH`? :)

[2019-04-24 08:10] androdel commented on #6588
Would disabling HMR be a workaround?

[2019-04-24 08:45] jakoandersen commented on #6574
I'm able to get it working with `baseUrl `and without `NODE_PATH` :).

[2019-04-24 09:36] SpearThruster commented on #6574
Hi @mrmckeb -> you can clone the repo above (https://github.com/SpearThruster/storybook5-and-create-react-app3) which contains the latest storybook alpha and cra 3.0.

`
npm install
npm run storybook
`

[2019-04-24 10:36] kroeder commented on #6588
Without HMR you'd need to reload the whole page after every code change

[2019-04-24 11:09] androdel commented on #6588
@kroeder That's fine. Not having the whole list of stories is more of a pain for me. Is there a way that I can enforce this or do I have to do it in the code?

[2019-04-24 11:24] Hypnosphi commented on #3889
What if we make each framework just a decorator for `@storybook/html` For example, here's how `@storybook/addon-react` could look like:

[code]

And then react stories could be written as

[code]

[2019-04-24 11:32] rootical commented on #5951
I have the same issue when installing angular version with:
`npx -p @storybook/cli sb init --type angular` any solution?
Thanks

[2019-04-24 13:05] mrmckeb commented on #6574
Hi @SpearThruster, I've found your issue - it seems that you're pinned to `next` not `3.0.0`. That resolves it.
[code]

This is because [`semver`](https://www.npmjs.com/package/semver) sees `3.0.0-next*` as _less than_ `3.0.0`, and this behaviour is limited to `3.0.0` and above.
https://github.com/storybooks/storybook/pull/6560/files#diff-eda2a92e48b4df8907d95774b054a271R171

[2019-04-24 13:05] mrmckeb commented on #6574
Closing this as all issues seem to be resolved. Thanks everyone for your time here :)

[2019-04-24 13:05] #6574 closed

[2019-04-24 13:06] elevatebart commented on #6357
Hey @tomdohnal
Did you know that the function expects to return ...

a Vue template OR a full vue component?

[code]

You can then register and test your components locally without having to globally register them.

[2019-04-24 13:13] elevatebart commented on #6357
Or you can even go wilder and use JSX. Note that the h parameter is important.

[code]

[2019-04-24 13:19] rootical commented on #5814
None of the solutions above seem to help. Anyway with this warning I was able to run the storybook.
If you're getting errors during `npm run storybook`, make sure to update tsconfig (and make sure it extends a proper config, case for angular-universal, for instance). I also had to exclude tsx and server specs to make it build.

[2019-04-24 14:26] SpearThruster commented on #6574
Ugh, you are absolutely right! Thanks for that, it definitely works now. Cheers!

[2019-04-24 14:29] bennypowers commented on #6135
I define them in a css file that's linked in `preview-head.html`

The good-old-fashioned way :D

[2019-04-24 14:41] shilman commented on #6574
Thanks guys! Great job @mrmckeb 👏

[2019-04-24 14:42] shilman commented on #6394
Docs will supercede Notes and will support cross-linking, coming in 5.2 though: https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a

[2019-04-24 14:43] elliotdickison commented on #6337
I did not, I was never really able to get to the bottom of it. Our plan is to just upgrade to emotion 10 when we upgrade storybook since we’re using the framework-agnostic API that didn’t change between 9 and 10.

[2019-04-24 14:52] jrr opened #6609 "warning filtering (analagous to webpack's stats.warningsFilter)"
**Is your feature request related to a problem? Please describe.**

In our main frontend build we're using Webpack's [stats](https://webpack.js.org/configuration/stats/) `warningsFilter` to suppress innocuous warnings from [ts-loader](https://github.com/TypeStrong/ts-loader#transpileonly-boolean-defaultfalse).

There doesn't seem to be a way to do this in our storybook build, so we get pages of un

[2019-04-24 15:13] shilman commented on #6590
Shiver me timbers!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.34 containing PR #6599 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-24 15:13] #6590 closed

[2019-04-24 15:13] shilman commented on #6597
Egads!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.34 containing PR #6598 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-04-24 15:18] trevordmiller commented on #6391
Our organization uses storybook for hundreds of projects and we see this performance warning on many of them.

[2019-04-24 15:29] Hypnosphi commented on #6135
On root level?

[2019-04-24 15:31] pnarielwala-tc opened #6610 "Object(...) is not a function TypeError on React 15 and SB4"
Hello! 👋

I'm having an issue upgrading storybook to SB4/SB5 with `react@15.6.2` and CRA2 (`react-scripts@2.1.8`). The webpack builds perfectly fine (not so much with SB5), but I get a blank page and an error in the console:

![Screen Shot 2019-04-23 at 5 17 11 PM](https://user-images.githubusercontent.com/37671065/56671288-f9d3e400-6679-11e9-84a1-041e9429c2fb.png)

**Dependencies**
`react@15.6.2`

[2019-04-24 15:38] bennypowers commented on #6135
apologies, it's manager-head, not preview-head. this is my `manager-head.html`

[code]

and here's my-theme.css:

[code]

[2019-04-24 15:41] Hypnosphi commented on #6135
OK, if you move it to `preview-head.html`, you can work around your issue like this.

[code]

[2019-04-24 15:42] giovannicanzio commented on #5915
Hi all, still no news about this issue? It would be great to have it fixed...

[2019-04-24 15:59] bennypowers commented on #6135
In my case, though, I want to theme the storybook manager. I don't need to dynamically change values later on.

[2019-04-24 16:03] Hypnosphi commented on #6135
Ok, then the workaround above should work for you. The variables need to be in `preview-head` because your `config.js` is executed in the context of preview iframe

[2019-04-24 16:13] #6602 closed

[2019-04-24 16:36] #5531 closed

[2019-04-24 16:57] pnarielwala-tc commented on #6610
Works in `4.1.18` apparently, going to close!

[2019-04-24 16:57] #6610 closed

[2019-04-24 17:12] Hypnosphi commented on #6321
Seems fixed with current alpha

[2019-04-24 17:12] #6321 closed

[2019-04-24 19:14] taurean opened #6611 "Issue with angular Router"
I'm receiving an error I haven't been able to find my way around. I'm on Storybook 5.0.10 using angular.

Here is the error:

[code]

and here is my story:
[code]

[2019-04-24 19:39] blemaire commented on #6611
More an Angular issue that a SB issue but here it is:

You need to add `RouterModule` to the list of declarations:

[code]

[2019-04-24 19:46] taurean commented on #6611
Ah okay, thanks. I had that for a little bit but I took it out because I was getting this error:

[code]

[2019-04-24 20:09] blemaire commented on #6611
I see, your component depends on the router to function (routerLink) you may have to mock the directive for the component to function...
(I have to write a story for a component with routerLink tomorrow, i'll let you know how I get on)

[2019-04-24 20:14] taurean commented on #6611
I appreciate it @blemaire, thanks

[2019-04-24 20:43] MansoorBashaBellary opened #6612 "`@storybook/addon-a11y`'s `withA11y` slowing down the storybook that results in browser hanging"
**Describe the bug**
Usage of `withA11y` of `@storybook/addon-a11y` is slowing down the storybooks and resulting in browser hanging

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repository: https://github.com/MansoorBashaBellary/vue-cli-storybook
2. Do `yarn && yarn start` on the cloned repo
3. Click on the `Changelog` story of `Welcome` and observe that browser gets hung for som

[2019-04-24 20:45] MansoorBashaBellary commented on #6612
@CodeByAlex  @jsomsanith @Armanio

Could you please help me on this issue

[2019-04-24 21:35] chris-fran commented on #1833
where is the documentation for this?

My components can't read the environment variables I have defined on my `.env.development` so it's not working?

[2019-04-24 22:23] snowystinger opened #6613 "Panel remembers position based on measurement from top"
**Describe the bug**
The bottom panel for addons remembers its position from run to run based on a measurement from the top of the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to storybook cra
2. Shrink the bottom panel as small as it will go
3. Open Chrome dev tools
4. Close Chrome dev tools
5. Panel top remains where it moved to after Chrome dev tools opened

1. Go to storybook

[2019-04-24 22:27] arjunmehta opened #6614 "5.1.0-alpha.34 react-native linkTo navigating but not rendering story"
**Describe the bug**
When using `linkTo` to navigate to another story, navigation seems to occur and be registered in the navigator, but the component for that story is not rendered.

**To Reproduce**
Install RN storybook example, try adding `linkTo` to button onPress to navigate to sub-stories.

**Expected behavior**
When tapping on a button having passed `linkTo`, it should navigate to that stor

[2019-04-24 22:41] PaulieScanlon commented on #6216
@shilman this is awesome... it’s gonna blow the design team’s mind! I can’t wait for tomorrow! Thanks man... and team!

[2019-04-24 23:45] shilman commented on #6602
Deployed in https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.34

@leoyli if the PR had referenced this issue on the first line, this comment would have been generated and issue would have been closed automagically 😉 I updated the comment just now, but it needs to be correct before I run the publish script

[2019-04-24 23:48] shilman commented on #1833
@chris-fran it's possible that this regressed in 5.0. do you have a repro?

[2019-04-24 23:53] leoyli commented on #6602
Oh I see, sorry about that 😞

[2019-04-25 02:18] #5162 closed

[2019-04-25 02:29] EnjoyChan opened #6615 "custom webpack config through option while use storybook standalone"
**Is your feature request related to a problem? Please describe.**
We have many projects in  our team, and we create a tool called a8k to collect common webpack config, the a8k tool run webpack from node, so we want the standalone too,  but we need to pass webpack config by option not by wepack.config.js in .storybook

**Describe the solution you'd like**
add webpack config option for storybook st

[2019-04-25 02:36] EnjoyChan commented on #6083
it works for me too

[2019-04-25 06:36] mortyccp opened #6616 "addon/notes does not correctly parse markdown string"
**Describe the bug**
Markdown with `'` is loaded by `markdown-loader` to `&#39;`. And the `Markdown` component used cannot decode it to `'`.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up the project to have notes addon
2. Create a md file which contains `'`
3. Use that md file for a story
4. See the result note panel show `&#39;` instead of `'`

**Expected behavior**
`&#39;` should

[2019-04-25 07:42] 1Jesper1 opened #6617 "Error on PropTypes.shape()"
Using "@storybook/react": "4.0.4",

Using:

[code]
crashes on `return originalKeys(object);` in _es5-shim_ package.

[2019-04-25 08:36] #5859 closed

[2019-04-25 09:16] gdarai opened #6618 "Configure which browser"
**Is your feature request related to a problem? Please describe.**
I am using storybook for a chrome-only app, but the storybook opens everytime in firefox. can I change the default somehow?

**Describe the solution you'd like**
A config option or responsiveness to some env variable.

[2019-04-25 09:34] blemaire commented on #6618
you may have to setup the default browser on your machine (I'm guessing that's not an option hence why you're asking if it can be configured?)

[2019-04-25 10:28] joe4mg commented on #1843
Try the storysource addon

[2019-04-25 10:34] jamkaramol opened #6620 "UI looking different in storybook than real"
In storybook
![image](https://user-images.githubusercontent.com/11329267/56729729-99c16880-6773-11e9-8163-8f993d2519f7.png)

And in the actual browser

![image](https://user-images.githubusercontent.com/11329267/56729781-b362b000-6773-11e9-9561-75b8dfdcd5e8.png)

Is anything i a am missing ?? please help

[2019-04-25 11:25] ndelangen commented on #6204
This PR will address this and many other issues I think:
https://github.com/storybooks/storybook/pull/6566

It's probably a major breaking change though, so it might ship in V6, we're still debating this.

Possibly we can put some time into splitting that PR into multiple PRs so we may be able to merge and release some things faster.

Help would be appreciated a lot!

[2019-04-25 11:42] blemaire commented on #1843
`addon-info` is only compatible with react though, we use Angular here so can't use it 😢

[2019-04-25 11:42] blemaire commented on #6620
most likely your font and your css is not loading in your storybook app

[2019-04-25 11:54] benbowes commented on #6023
I am using storybook for a wcag accessible component, and the keyboard shortcuts totally kill my component's ability to function properly with it's key bindings.

Is it possible to disable all of the storybook key bindings? That is what I would do if I could.

[2019-04-25 12:00] benbowes commented on #6023
Here is an example https://benbowes.github.io/react-responsive-select-next/?path=/story/info--home

[2019-04-25 12:22] PhilDore11 commented on #1209
Any news on adding support for async components?

[2019-04-25 13:12] devina91 commented on #6577
I have a similar problem, using the **addon-info** and **addon-readme** together throws the error
_Cannot find symbol._  These issues are are also discussed in https://github.com/tuchk4/storybook-readme/issues/136
I am using storybook/react 5.0.10.

[2019-04-25 13:35] BrendanAnnable commented on #5817
@shilman Not sure what the storybook release schedule is (e.g. for 5.1.x), but this is blocking a number of projects upgrading to storybook 5, so I'd love for this fix to hit some non-alpha release if possible 🙂

[2019-04-25 13:36] #5623 closed

[2019-04-25 13:44] devina91 commented on #6577
Not sure if this is related but **addon-info** also doesnt work for me when i use it with **addon-readme**.  I have the storybook/react version 5.0.10 and  I am trying use the addons together  in global configuration.
It has also been discussed in https://github.com/tuchk4/storybook-readme/issues/136

Here's a screenshot of the error:
![addon-info](https://user-images.githubusercontent.com/9112895

[2019-04-25 13:45] mrmckeb commented on #6574
No problem @shilman.

And don't stress @SpearThruster, I probably should have considered that case... and in future will ;)

[2019-04-25 13:57] palmerminto commented on #6577
hey @devina91, Could you open a new issue - you'll probably get a more focused solution? I'm going to close this.

[2019-04-25 13:57] #6577 closed

[2019-04-25 14:02] chris-fran commented on #1833
@shilman I'll have to make some time to put up a repro.

However, just incase the problem is me doing something wrong, my project goes like this:
[code]

Maybe I am supposed to setup something to make it work?

[2019-04-25 14:15] devina91 opened #6622 "addon-info doesnt work with addon-readme"
**Describe the bug**
addon-info doesnt work together with addon-readme. I have the storybook/react 5.0.10 installed. And I am using them in global configuration for my storybook project.

This issue is also discussed in: https://github.com/tuchk4/storybook-readme/issues/136

**To Reproduce**
Using both addons together causes this issue.

**Screenshots**
Here is a screen shot of the error-
![addon-

[2019-04-25 14:16] hsablonniere opened #6623 "Force rerender with storybook/html"
Hey wonderful team of storybook :smile:

I'm trying to force rerender my stories when a knob is changed with storybook/html but it does nothing when story is an HTML element.

I looked at the code, knob changes trigger a rerender so it should be OK but when the code execution arrives in `renderMain` if it sees `forceRender === true` it does nothing :cry:

I'm probably missing the point here but re

[2019-04-25 14:24] wellyshen opened #6624 "addon-info prop type errors on Chrome devtool"
**Describe the bug**
Addon-info throw prop type errors on Chrome devtool

**To Reproduce**
1. Start storybook
2. Open Chrome devtool
3. Prop type errors displayed on Chrome devtool

**Expected behavior**
No prop type errors.

**Screenshots**
<img width="453" alt="螢幕快照 2019-04-25 下午10 15 46" src="https://user-images.githubusercontent.com/21308003/56743101-87aded00-67a8-11e9-91cf-33616d95ba75.png">

[2019-04-25 14:28] mickaelzhang commented on #6587
I'm having a similar issue where I tested to create and apply a theme to my current project. At the end, I removed it but the change that I made are still there in `dev` mode

[2019-04-25 14:40] stramel opened #6625 "Storybook not reading symlink middleware"
**Describe the bug**
I'm using CRA with Storybook. I have a `setupProxy.js` file that I want to control both the proxy for CRA and Storybook. If I symlink the file to `middleware.js` it doesn't work. However, if I instead copy the file and rename to `middleware.js` it does work.

**To Reproduce**
Steps to reproduce the behavior:
1. `npx create-react-app my-app`
2. `cd my-app`
3. `npx -p @storybook

[2019-04-25 15:23] Hypnosphi commented on #6612
Looks like it's even worse in `5.1.0-alpha`. I observe a lot of inperformant background activity on https://next--storybooks-official.netlify.com

![Kapture 2019-04-25 at 17 20 45](https://user-images.githubusercontent.com/6651625/56747720-c6c74880-677e-11e9-88e4-959ec1718fbb.gif)

[2019-04-25 15:32] Hypnosphi opened #6626 "A lot of background activity slowing down Storybook"
on https://next--storybooks-official.netlify.com:

![Kapture 2019-04-25 at 17 20 45](https://user-images.githubusercontent.com/6651625/56747720-c6c74880-677e-11e9-88e4-959ec1718fbb.gif)

This sometimes leads to page crash, and generally impacts performance a lot

[2019-04-25 15:52] shilman commented on #6587
An ugly workaround... In browser dev console:
[code]

[2019-04-25 15:54] shilman commented on #6624
Possible dupe to #5915

[2019-04-25 16:03] MansoorBashaBellary commented on #6612
I feel this is due `addon-a11y`, because on removing `withA11y` decorator, storybooks are more performant and they are fast

[2019-04-25 16:05] shilman commented on #6023
@benbowes I think there's an option that's not working and should be fixed: https://github.com/storybooks/storybook/issues/6569#issuecomment-485239507

[2019-04-25 16:07] shilman commented on #1843
@blemaire check out https://github.com/storybooks/storybook/tree/master/addons/storysource

[2019-04-25 16:24] chris-fran opened #6627 "Multiple screenshots for a single story on storyshots-puppeteer"
### Problem
I have a Navbar component which can open one menu at a time. Can't have 2 menu open at the same time. Since this menus are handled by react virtual dom, I can't really hack CSS into the compiled bundle to make both of them open at the same time.

So I need either 2 stories for the same props (which will be exactly the same from the storybook perspective, and the purpose of having 2 of

[2019-04-25 16:56] MrHen commented on #6407
I wouldn't mind trying to send a PR out that addresses this but I wouldn't be able to confirm that a fix works with excepted workflows. Are there suitable configuration / integration tests?

[2019-04-25 17:07] deepaksslibra commented on #6541
@kroeder

For some reason, i18nModule doesn't work out of the box. I had to use
    translate.setDefaultLang('en');
    translate.use('en');
everywhere inside the constructor of the Components for which I was creating the story.
Do you have any idea why that would be the case ?

[2019-04-25 17:10] blemaire commented on #1209
@wcastand

Isn't this already supported using `require.context` ?

[2019-04-25 17:42] blemaire commented on #1843
We have this setup but there is a lot of noise being displayed (still better than nothing to be fair)

[2019-04-25 17:57] zachmanring-natgeo opened #6630 "Vue `mounted` lifecycle not being triggered from knobs"
**Describe the bug**
Not sure how to describe it but it seems that if you're trying to set something like a title after vue has mounted and you change the title in the knobs.. nothing happens.

**To Reproduce**
Steps to reproduce the behavior:
Inside of a mounted function in vue, try changing a value based on a prop/knob and nothing happens. If you save the code/file it will refresh properly, this

[2019-04-25 18:07] SEAPUNK commented on #5817
The problem here is that yarn (or npm) is weirdly (in this case, not) hoisting packages. `yarn list` or `yarn why` outputs are faulty too:

[code]

As you can see, yarn is reporting that there's only one `emotion-theming` package, which should be hoisted to root, but it's not the case: It's duplicating the package in 4 places across different packages. Whether it's a yarn/npm bug, I'm not sure. Ma

[2019-04-25 18:10] ndelangen commented on #6404
When using full-control-mode this shouldn't happen anymore:
https://github.com/storybooks/storybook/blob/next/lib/core/src/server/preview/base-webpack.config.js#L36-L41

[2019-04-25 18:10] #6404 closed

[2019-04-25 18:41] leoyli opened #6631 "[Addon-contexts] Vue integration improvement"
**Is your feature request related to a problem? Please describe.**
Due to how Vue define it's component, the component props in Vue is a bit different from React.  For example, `class` and `style` have its own top-level field in [the component data object](https://vuejs.org/v2/guide/render-function.html#The-Data-Object-In-Depth). To make it more JSX-friendly, the `props` definition need a special

[2019-04-25 18:50] LukeAskew opened #6633 "Root babel.config.js not loaded"
**Describe the bug**
Storybook does not load any `babel.config.js` files (in either root or `.storybook`). It only loads `.storybook/.babelrc` files.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new storybook app
2. Add a root-level `babel.config.js` file
3. Run app
4. See that config is not loaded

**Expected behavior**
Storybook should be able to load both babel config formats.

[2019-04-25 19:04] kroeder commented on #6541
@deepaksslibra https://github.com/kroeder/storybook-ngx-translate/blob/master/src/app/i18n/i18n.module.ts#L26 I did it in the constructor of my I18nModule

This does not work for you?

[2019-04-25 21:03] Anandnaik commented on #5915
Fix this plx!

[2019-04-25 21:44] benbowes commented on #6023
Great @shilman, thanks a mill

[2019-04-25 22:02] pnarielwala-tc commented on #6491
I'm having the same issue with `react@15.6.2` and SB4 (`4.1.18`)

[2019-04-25 22:11] Jony-Y commented on #6014
Was able to fix it, in my case it was the @storybook/addon-info, I had base configs which apparently in SBv5 it just either didn't read or just had an issue with.

Ended up creating a small wrapper and removed the global configs.

solved me issue.

[code]

[code]

[2019-04-25 22:11] #6014 closed

[2019-04-25 22:21] #5803 closed

[2019-04-25 23:51] njarin commented on #6093
I also had this problem on a storybook project. I deleted the contents of the .cache folder in the repo and restarted my storybook server. The error is gone. Not sure what caused the issue to manifest in the first place though.

[2019-04-25 23:57] shilman commented on #1843
@blemaire Will be fixing this as part of Storybook Docs: https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a

[2019-04-26 00:01] shilman commented on #6407
@MrHen I asked the same question moments ago here: https://github.com/storybooks/storybook/pull/6634#pullrequestreview-230933661

cc @ndelangen

[2019-04-26 00:02] shilman commented on #6407
cc @ndelangen

[2019-04-26 00:05] shilman commented on #6145
Does this fix your problem? https://github.com/storybooks/storybook/pull/5922

[2019-04-26 03:43] shilman opened #6636 "Addon-docs: storybook preset"
Docs requires a custom web pack loader among other configurations. Let's make it really easy to install using a storybook preset.
- [x] addon registration
- [x] webpack loader
- [x] Update documentation

[2019-04-26 03:55] shilman commented on #6089
This appears to be working in both the latest `next` and `master`

[2019-04-26 04:01] shilman opened #6637 "Addon-docs: DocsPage CLI integration"
When initializing a new storybook project using `sb init`:
- [x] Upgrade stories to module format
- [ ] Install addon-docs and presets
- [ ] Update config.js
- [ ] Update documentation

[2019-04-26 04:07] shilman opened #6638 "Addon-docs: theming support"
Docs should support dark/light themes out of the box. They should also be user-themable:

- [x] Respect existing theme vars for dark/light support
- [x] New theme vars as needed cc @domyen
- [x] Documentation

[2019-04-26 04:16] shilman opened #6639 "Addon-docs: Add Controls ("knobs") support to Props"
- [ ] Refactor to use [Args](https://docs.google.com/document/d/1Mhp1UFRCKCsN8pjlfPdz8ZdisgjNXeMXpXvGoALjxYM/edit?usp=sharing)
- [ ] Add controls to PropTable
- [ ] Update tests & documentation

More generally: https://github.com/storybookjs/storybook/issues/6700

[2019-04-26 04:17] shilman opened #6640 "Addon-docs: Props doc block"
- [x] Basic design
- [x] Annotation support
  - [x] proptypes
  - [x] docgen comments
  - [x] typescript
  - [ ] flow?
- [x] Stories & tests
- [ ] Update documentation

Knobs support split out as a separate issue #6639

[2019-04-26 04:21] shilman opened #6641 "Addon-docs: Source doc block"
Embed a story's source code as a doc block: 

- [x] storiesOf format
- [x] Typescript support
- [x] Module format
- [x] MDX format
- [x] Stories & tests
- [ ] Update documentation

Editing support split out as a separate issue #6642

[2019-04-26 04:21] shilman opened #6642 "Addon-docs: Source editing support"
Add editing support to #6641

Details TBD

[2019-04-26 04:26] FrederickEngelhardt opened #6643 "react-native storybook 5.1.0-alpha-34 missing /bin/storybook script"
**Describe the bug**
Use the following storybook addons
"@storybook/addon-knobs": "5.1.0-alpha.34",
 "@storybook/addon-ondevice-knobs": "5.1.0-alpha.34",
 "@storybook/react-native": "5.1.0-alpha.34",

Simply try and run storybook and you will get the error.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. install
[code]
2. Go into `node_modules/.bin/`
3. Notice that the storybook scrip

[2019-04-26 04:26] shilman opened #6644 "Addon-docs: documentation-only support"
Docs are currently tied to stories. We need to add the ability to include freeform docs without stories, e.g. for styleguides, setup instructions, etc., and have them linked in Storybook UI.

Easy (but lame 🤷🏻‍♂️) workaround is to add a dummy story to the top of your doc:

[code]

Short-term approach:
- User adds `<Meta title="x/y/z">` to the doc w/ no stories
- MDX compiler inserts a dummy story

[2019-04-26 04:28] shilman opened #6645 "Addon-docs: styleguide support"
Add doc blocks for:
- [x] Type
- [x] Colors
- [x] Icons
- [ ] Documentation

Relies on #6644

[2019-04-26 04:31] shilman opened #6646 "Addon-docs: Static export `build-docs`"
`build-docs` that mirrors `build-storybook` for static generation of docs site with custom templates & navigation. Initial design:

![image](https://user-images.githubusercontent.com/488689/58103617-1f301100-7b98-11e9-935a-d66aaf3d400f.png)

Features:
- [x] `--docs` CLI arg
- [x] only display docs
- [ ] only display components in treeview?
- [ ] build separate pages for each component
- [ ] minimi

[2019-04-26 04:47] backbone87 commented on #6630
please show code of your story.

[2019-04-26 05:17] techieshark commented on #6420
@joeycozza I think I've seen the idea of changing addon-info in related manner mentioned in other issues (assuming I'm understanding the proposals correctly):

https://github.com/storybooks/storybook/issues/1147#issuecomment-475810179
https://github.com/storybooks/storybook/issues/6049#issuecomment-472175592

cc @shilman

[2019-04-26 05:51] blemaire commented on #1843
I saw this medium post a little while and have been dying for this to come out.
I've got a couple of side projects going at the moment but when the time is right, I'd like to get onboard (if you need extra fingertips)

[2019-04-26 06:49] PlutoCA opened #6648 "I can't use vw in storybook"
If you are reporting a bug or requesting support, start here:

### Bug or support request summary

I use VW in my project, using the webpack postcssPxToViewport plugin. The plugin automatically calculates the PX in css as a VW unit at compile time, but I tried to use the same configuration in styorybook/webpack, it doesn't work and throws an exception. I don't know how to deal with it, help me tha

[2019-04-26 06:56] PlutoCA commented on #6648
Sorry, I found my error. I didn't write test in the rule, which caused the compilation error.
You can close this issue. 😂🤣

[2019-04-26 06:58] #6648 closed

[2019-04-26 07:10] shilman commented on #1843
@blemaire Please join the `#docs-mode` channel [on our Discord](https://discord.gg/UUt2PJb) for docs-related chatter. Would love to have you involved!

[2019-04-26 07:25] blemaire commented on #1843
@shilman already in there 😄 @Agaurooh#4198

[2019-04-26 07:41] 1Jesper1 commented on #6617
[code]

I think the problem is in Storybook Shape.js class: `Object.keys(propTypes).map(function`

[2019-04-26 07:44] jsomsanith commented on #6612
@MansoorBashaBellary I haven't tried your repo yet, but the description seems to match this issue : https://github.com/storybooks/storybook/issues/5973

I fixed it and scheduled for 5.1.
Can you try the 5.1 alpha.6+ please ?

[2019-04-26 08:24] leepowellcouk commented on #6204
Same issue here - ours is breaking with `react-app-polyfill` though which has been updated to use `core-js` version 3. Rolling back on that to version 0.2.2 for now.

[2019-04-26 08:37] ttiurani opened #6649 "build-storybook generates invalid root paths for scripts and static files"
**Describe the bug**
When running build-storybook with Storybook 5.0.10, the paths in iframe.html to javascript assets and static/media assets have an extra `/` in them which makes the static storybook output not viewable. This was not a problem with Storybook 3.

**To Reproduce**
1. Run `build-storybook -c .storybook -o build/storybook`,
2. Try to open the generated static site in the browser usi

[2019-04-26 09:19] firaskrichi commented on #6505
@shilman is there an easy workaround we could do until this is fixed maybe? A version that's likely to work?

[2019-04-26 09:25] shilman commented on #6505
I'm not sure. @mrmckeb is the expert here! Happy to prioritize a release this to get it fixed for CRA users!

[2019-04-26 09:27] mickaelzhang commented on #6587
Oh didn't know that the them was stored in `localStorage`, what's the reason if you don't mind @shilman ?

[2019-04-26 09:28] shilman commented on #6381
NOTE: we do have `engines` in our root `package.json`: https://github.com/storybooks/storybook/blob/next/package.json#L203

Maybe we need to add it to the rest of our packages? @ndelangen

[2019-04-26 09:36] shilman commented on #6649
@ttiurani Is this a problem in our example storybooks also? doesn't appear to be. E.g. https://monorepo-lpctgf347.now.sh/examples/html-kitchen-sink/iframe.html?id=welcome--welcome

[2019-04-26 09:39] shilman commented on #6587
@mickaelzhang I believe that if we didn't cache it, Storybook would show up with the default theme while it loads and then switch to configured theme after a second or two. With caching, it immediately shows the user-configured theme, and then updates after the configuration loads (tho it seems like that part is broken). Maybe @ndelangen can comment more

[2019-04-26 09:44] mickaelzhang commented on #6587
@shilman Oh right, it make sense !

It might be due to the fact that I'm using the default theme so no update is done after loading the theme from `localStorage` ?

[2019-04-26 09:51] #5908 closed

[2019-04-26 09:57] shilman commented on #6587
That's a good thought @mickaelzhang -- I bet that's it! @ndelangen is that an easy fix?

[2019-04-26 10:58] Armanio commented on #6617
Hmm, could you share a code snippet? I'll try to fix it.

[2019-04-26 11:05] ghengeveld opened #6651 "Dependencies added using sb init are not inserted alphabetically"
**Describe the bug**
When adding Storybook to an existing project using `npx -p @storybook/cli sb init` it installs a set of packages. These are appended to the list of devDependencies in package.json. The yarn and npm clients usually insert new dependencies in alphabetical order, so Storybook breaks that.

**To Reproduce**
Use `sb init` to setup a new Storybook in an existing project with depende

[2019-04-26 11:19] 1Jesper1 commented on #6617
@Armanio

[code]
Using PropTypes.share() in proptypes in a React class.

[2019-04-26 11:48] denkristoffer commented on #5663
Adding `emotion-theming@10` is not always a viable solution, for instance I'm on a project that's still using `emotion-theming@9` itself.

[2019-04-26 12:14] VladislavGritsenko commented on #5684
@codestitch little fix for scss (sass-loader):
[code]

[2019-04-26 12:16] magisters-org commented on #5684
@codestitch little fix for scss (sass-loader):
[code]
to **config.js** file. Work for me with HMR.

[2019-04-26 12:30] vam commented on #5721
Yet another workaround:

I have a utility component called `UseState` defined like this:
[code]
And I use it in the stories like this:
[code]
But I like @kevin940726 's workaround the best

[2019-04-26 12:51] BennyZ28 commented on #6145
Unfortunately no, not for me. I don't need to override styles, I need to *not* get my own styles overridden...

[2019-04-26 13:00] joseporto opened #6652 "next/config mock"
I'm using storybook on a nextjs react project, and many of my components `import` next/config on runtime, but I cannot seem to make it work in storybook/webpack.

being able to override imports with mocked files in .storybook would be nice. For this particular case.

For some reason setting: `  config.resolve.alias['next/config'] = path.join(__dirname, 'mocks/next/config.js');` in webpack.config.j

[2019-04-26 13:06] zachmanring-natgeo commented on #6630
Let me see if I can narrow it down for you.

accordion.vue
[code]

accordion.stories.js
[code]

You will notice the title will not update because of the `getButtonText()` function runs on mounted.

[2019-04-26 13:13] MansoorBashaBellary commented on #6612
Thanks @jsomsanith. Using the above version specified fixes the issue. Closing this issue

[2019-04-26 13:13] #6612 closed

[2019-04-26 13:30] joseporto commented on #6652
ok, found a solution, maybe it's good enough. Basically I import the `next/config` with storybook, and use it's internal `setConfig` method to add whatever I want it to provide via its default export.

[2019-04-26 13:30] #6652 closed

[2019-04-26 13:51] #5393 closed

[2019-04-26 14:49] shilman commented on #6145
How are you styling the notes currently?

[2019-04-26 14:50] shilman commented on #6145
Cc @ndelangen @tmeasday I suspect this is another example of why docs in the preview is a good idea

[2019-04-26 14:51] rixo opened #6653 "Svelte: support using svelte templates (v3) in stories"
**Is your feature request related to a problem? Please describe.**

There are 2 ways a Svelte component can be created. Either the compiled component can be manually created and added to the DOM, or the component can be included in another Svelte component.

Current Svelte support in Storybook uses the first approach. Unfortunately, some important features (e.g. slots, bindings...) are only availa

[2019-04-26 15:09] shilman commented on #6651
I think this will be fixed by #6629

[2019-04-26 15:24] shilman commented on #5663
@denkristoffer which fix?

[2019-04-26 15:54] amazzoccone opened #6656 "Cannot find module 'babel-preset-env'"
**Describe the bug**
After slow guide for HTML, when running `npm run storybook` it throws an error:
[code]
After some research, i fixed with:
`npm install --save @babel/preset-env`
and add a `.babelrc` in storybook config dir with:
[code]
**To Reproduce**
1. Follow slow guide for HTML (installing babel as suggested)
2. Exec `npm run storybook`
3. See error

**Expected behavior**
It should start S

[2019-04-26 17:24] BennyZ28 commented on #6145
Currently I'm calling my css in manage-head.html, but it gets overridden in
Notes by the notes styles.
So I'm horribly copy-pasting a bunch of my CSS in the manager-head.html as
well, to override at least the basic

On Fri, 26 Apr 2019 at 15:51, Michael Shilman <notifications@github.com>
wrote:

[2019-04-26 17:32] #5916 closed

[2019-04-26 17:44] shilman commented on #4918
Great Caesar's ghost!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.35 containing PR #6650 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-26 17:44] shilman commented on #5910
Huzzah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.35 containing PR #6241 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-04-26 17:44] shilman commented on #6023
Yowza!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.35 containing PR #6578 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-26 17:44] shilman commented on #6128
Gadzooks!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.35 containing PR #6607 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-26 17:44] shilman commented on #6394
Hurrah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.35 containing PR #6398 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-26 17:44] shilman commented on #6631
Ta-da!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.35 containing PR #6632 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-26 17:44] #6023 closed

[2019-04-26 17:44] #4918 closed

[2019-04-26 17:44] #6128 closed

[2019-04-26 17:44] #6394 closed

[2019-04-26 17:44] #6631 closed

[2019-04-26 17:58] mattbeaudry commented on #6436
Taking a look at this...

[2019-04-26 18:00] mattbeaudry commented on #6436
The ability to simply hide the icons in the sidebar would also be good

[2019-04-26 18:02] mattbeaudry commented on #6436
Gonna try adding 2 new theme variables, `SidebarIconsHide` and `SidebarIconsColor`

[2019-04-26 18:10] mattbeaudry commented on #6436
noticing that a class was recently added to the sidebar icons... `.sidebar-svg-icon` which could be used to hide or change icon color using CSS in the manager-head.html file. but seems like adding some theme variables might be cleaner

[2019-04-26 19:12] mattbeaudry commented on #6436
seems like CSS classes were added 6 days ago...
https://github.com/storybooks/storybook/commit/f46a4554e86e92ca388dffbee2f3fe9d9e66f284
so not sure theme variables are needed for my scenario if I can style with CSS.

[2019-04-26 19:46] Hypnosphi opened #6657 ""EDIT THIS PAGE" links not working"
E.g. https://storybook.js.org/docs/guides/guide-html/ links to https://github.com/storybooks/storybook/blob/master/docs/src/pages/undefined/guide-html/index.md

[2019-04-26 20:01] Hypnosphi commented on #6656
I can't reproduce it on a clean project.
Can you please create a GitHub repo with minimal reproduction of your issue?

[2019-04-26 20:35] MaxMcKinney commented on #6436
@mattbeaudry That seems useful for now, but themeable variables would prevent any issues with a classname changing in the future. Especially because classnames aren't restricted behind any semantic versioning.

[2019-04-26 20:51] Armanio commented on #6287
@ar7casper it's issue actually?

[2019-04-26 20:59] backbone87 commented on #6630
your issue has nothing to do with storybook, your story is fine. the problem is your component. `buttonText` should be a computed property, so it correctly picks up reactive changes. pls consult the vue guide for more information.

[2019-04-26 21:01] #6630 closed

[2019-04-26 22:48] ndelangen commented on #6474
Should be fixed in this PR:
https://github.com/storybooks/storybook/pull/6475

[2019-04-26 22:48] ndelangen commented on #6474
Thanks for the repro branch @shilman !

[2019-04-27 00:50] leoyli opened #6659 "[Addon-contexts] Add Preact Support"
**Is your feature request related to a problem? Please describe.**
Preact is a small subset of React that aiming to be 100% compatible with React.  The API is kind of similar to React.

**Describe the solution you'd like**
Add Preact support, which should be just a no brainer.

**Describe alternatives you've considered**
N/A

**Are you able to assist bring the feature to reality?**
Done

**Additio

[2019-04-27 01:12] gearsandcode commented on #5065
@phaistonian - did you ever get this sorted out?

[2019-04-27 03:09] benbowes commented on #6023
Works a treat on 5.1.0-alpha.35 🎉

[2019-04-27 03:50] shilman opened #6662 "Addon-docs: DocsPage for React"
Addon-info replacement implemented in Docs for React. Not a drop-in replacement but same functionality & simple migration:
- [x] Title
- [x] Info/notes description
- [x] Docgen info
- [x] Source
- [x] Props

[2019-04-27 03:51] shilman opened #6663 "Addon-docs: DocsPage for Vue"
Addon-info replacement for Vue.
- [x] Title
- [x] Info/notes description
- [x] Docgen info
- [x] Source
- [x] Props
- [ ] Events / Slots #8123

[2019-04-27 03:52] shilman opened #6664 "Addon-docs: DocsPage for Angular"
Addon-info replacement for Angular.
- [x] Title
- [x] Stories
- [x] Info/notes description
- [ ] Docgen info
- [x] Source
- [ ] Props

[2019-04-27 03:57] shilman opened #6665 "Addon-docs: Technical preview"
Technical preview:
- [x] README
- [x] Announcement / guide
- [x] Private release (@palnes, @igor-dv, @tmeasday, @trevoreyre, @elevatebart)
- [x] "Full" release to `#docs-mode` channel

[2019-04-27 04:39] shilman commented on #6296
Docs version tracked here https://github.com/storybooks/storybook/issues/6663

[2019-04-27 04:40] shilman commented on #3134
Docs info issue tracked here: https://github.com/storybooks/storybook/issues/6664

[2019-04-27 04:41] shilman commented on #4540
Docs info issue tracked here https://github.com/storybooks/storybook/issues/6664

[2019-04-27 04:41] #4540 closed

[2019-04-27 04:46] shilman commented on #5065
Missed this the first time. Great idea if somebody wants to pick it up!

[2019-04-27 05:21] shilman commented on #4805
Gadzooks!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.36 containing PR #6629 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-04-27 05:21] shilman commented on #5542
Boo-yah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.36 containing PR #6346 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-27 05:21] shilman commented on #6659
Good golly!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.36 containing PR #6660 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-04-27 05:21] #5542 closed

[2019-04-27 05:21] #6659 closed

[2019-04-27 07:40] tmeasday commented on #6145
@shilman although thinking ahead a bit I think some people might want *different* styles in the docs than their app. There is an argument (with attendant downsides) for having a **third** docs modality. Perhaps it could help with other problems though?

[2019-04-27 09:40] mickaelzhang commented on #6657
@shilman I think this can be closed or do you guys wait until the doc's fix is deployed before closing an issue ?

[2019-04-27 09:46] Drillibit commented on #4082
Here is a better solution for it:
`   config.node = {
        fs: 'empty',
        tls: 'empty',
        net: 'empty',
        module: 'empty',
        console: true
    };`

[2019-04-27 13:33] shilman commented on #6657
Closing! Will finish deploy in a bit

[2019-04-27 13:33] #6657 closed

[2019-04-27 19:16] daKmoR commented on #5852
@shilman any chance this can be released for 5.0.x? or how far away is 5.1.x?

[2019-04-28 02:07] shilman commented on #6127
Hoping to replace info with Docs which won't have this issue: https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a

[2019-04-28 02:50] shilman commented on #5852
Will do. 5.1 a few weeks off

[2019-04-28 03:20] shilman commented on #5852
w00t!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.11 containing PR #5868 that references this issue. Upgrade today to try it out!

[2019-04-28 03:20] shilman commented on #6338
Yee-haw!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.11 containing PR #6535 that references this issue. Upgrade today to try it out!

[2019-04-28 03:20] shilman commented on #6597
Yay!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.11 containing PR #6598 that references this issue. Upgrade today to try it out!

[2019-04-28 03:50] shilman commented on #846
@benoitdion not sure if you've seen this...

[2019-04-28 05:44] #5747 closed

[2019-04-28 07:13] crowphy commented on #5325
I have the same issue, but on macos

[2019-04-28 10:44] #5587 closed

[2019-04-28 10:44] #5955 closed

[2019-04-28 12:54] whitetig3r commented on #6157
@creatyvtype I would like to work on this issue. Is this up for grabs?

[2019-04-28 14:36] shilman commented on #6157
@whitetig3r def up for grabs!

[2019-04-28 14:36] MaximSagan commented on #6611
@taurean I believe your RouterModule should be in the `imports` array, not the `declarations` array, i.e.

[code]

As the warning indicates, the declarations array is only for, items marked as @Pipe, @Directive, or @Component, not for those marked as @NgModule.

This is almost certainly not an issue caused by anything Storybook is doing.

[2019-04-28 15:24] MaximSagan commented on #4378
@jkvim The issue causing `Failed to get angular-cli webpack config` is not the same for all of us. I was on 0.13.8, and I assume @martinmcwhorter was user a newer version too.

Anyway, I finally got around to looking into this, and I have identified the issue in my case.

The error was, as in other cases, indeed caused [here](https://github.com/storybooks/storybook/blob/8926e5765b346f853ddf53f7efa

[2019-04-28 19:19] elnygren commented on #6030
@FinestV check your devtools - are you getting 200 OK for everything?

I'm having this same issue in now.sh; GET iframe.html is getting a 301 redirect to /iframe which seems to be the only difference to `npx http-server` on my local machine.

[2019-04-28 20:55] leoyli opened #6668 "Addon-contexts: Have no cancel option in UI if the context have no param"
**Describe the bug**
Have no cancel option in UI if the context have no param even `option.cancelable` set to `true`.

**To Reproduce**
Steps to reproduce the behavior:
As been described.

**Expected behavior**
N/A

**Screenshots**
N/A

**Code snippets**
N/A

**System:**
N/A

**Additional context**
N/A

[2019-04-29 01:01] #6668 closed

[2019-04-29 03:04] shilman opened #6670 "Core: Web view layer support for module story format"
Docs relies on a new `load` API that loads ES6 modules and converts them to stories. This needs to be added to each framework.

- [x] react
- [x] vue
- [x] angular
- [x] html (web components)
- [x] ember
- [x] marko
- [x] mithril
- [x] polymer
- [x] preact
- [x] riot
- [x] svelte

RN support in a separate issue #6676

[2019-04-29 03:43] grahamlucid commented on #4600
My team is using StencilJS + Storybook for our common component library and I'd love to contribute. Maybe a few of us can get this thing back on track...

[2019-04-29 04:36] shilman commented on #4600
Seems like there's a lot of interest, e.g. https://twitter.com/dboskovic/status/1120336958008348672

One easy win would be publishing a `@storybook/preset-stencil` package which packages @popcorn245 's config into a [storybook preset](https://github.com/storybooks/storybook/pull/5333). I still need to finish off the docs for that, but I'm using it for the upcoming [Storybook Docs](https://medium.c

[2019-04-29 05:02] popcorn245 commented on #4600
Hey @shilman, stoked so many people are psyched to pickup on this and implement Stencil with Storybook.  That thread has some good things that I have found, but there are many more little bugs like having to return a string of the element in order to use knobs.

A much better implementation would piggy-back off of the Stencil compiler and allow for use of JSX like with React components, but that i

[2019-04-29 05:09] tmeasday commented on #6075
Oddly enough it actually *does* work in Safari, not in Chrome (reliably). I am going to close this and deal with it as part of #5925 -- see https://github.com/storybooks/storybook/issues/5925#issuecomment-485762342

[2019-04-29 05:10] #6075 closed

[2019-04-29 06:39] Stupidism commented on #887
Your solution helped me a lot.

Here comes another problem. Storyshots does not re-run after stories update anymore. It seems to be solved before in https://github.com/storybooks/storybook/issues/2936#issuecomment-416057127

[2019-04-29 06:51] denkristoffer commented on #5663
@shilman This issue seems to have been fixed in between the 5.0 release and the 5.1 alpha, although I can't find the change in the git log. I was assuming it was because the dependency had been added explicitly. Is that not correct?

[2019-04-29 07:35] VincentCharpentier commented on #2083
Not sure this should have been closed without a fix. We lost a few hours on this

[2019-04-29 08:33] fabb commented on #6488
It was fixed in `@storybook@5.1.0-alpha.36`: https://github.com/storybooks/storybook/commit/d739347ee9f10e6679a0ccbf399a4dd72ba6cf96

[2019-04-29 09:44] wonskarol commented on #6593
@libetl do you have any estimation when storysource v2 will be released?

[2019-04-29 10:07] sPaCeMoNk3yIam opened #6671 "Upgrade to @babel/preset-env 7.4.4 with core-js@3.x is breaking build"
**Describe the bug**
With @babel/preset-env v7.4.3 and using `core-js` 3.x explicitly in babel config building storybook worked fine. After upgrading @babel/preset-env to the latest release (being 7.4.4) an error is shown when `core-js` modules are used.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a babel config with `corejs: { version: 3, proposals: true }`
2. Use latest @babel/p

[2019-04-29 10:08] Adomas202 commented on #1369
I've tried everything. Deleted Node modules and package-lock.json, installed @storybook/addons, deleted cache, nothing worked. However, only downgrading and then upgrading back to newest version did the trick for me. Thanks!

[2019-04-29 12:02] #6556 closed

[2019-04-29 12:03] shilman commented on #1369
@Adomas202 that's because you need to clear local storage :)

[2019-04-29 12:05] #6488 closed

[2019-04-29 12:08] shilman commented on #5663
Thanks @denkristoffer. Starting the 5.1 release process now so probably won't bother tracking it down for 5.0 unless it takes too long to release 5.1 and there's an easy fix to backport.

[2019-04-29 14:34] libetl commented on #6593
Hi @wonskarol hopefully in 6.0 but not sure.
I don't have an ETA and help is more than appreciated.

[2019-04-29 14:34] libetl commented on #6593
https://github.com/storybooks/storybook/pull/6158

[2019-04-29 14:56] bryankang opened #6674 "React Native Server example with storybook 5"
I've spent the past couple of days trying to get sb5 server running, but I end with a page without any stories populated. Only the device addons work. I've downgraded and upgraded using past issues as reference, but I'm still not seeing anything. I tried again today using version `5.1.0-alpha.36` which is set on all `@storybook/*` packages, cleared cache and reinstalled. No luck. I'm also using th

[2019-04-29 15:02] jholt1 commented on #6012
@shilman @thundermiracle Should this issue be closed? I don't see that it has been fixed in Storybook.

[2019-04-29 15:03] andyearnshaw opened #6675 "Button knob causes a re-render on a HTML story"
**Describe the bug**
When you add a `button(label, action)` knob to a HTML story, clicking the button causes the story to rerender after performing the handler action.

**To Reproduce**
This minimal story code should repro:

[code]

When you click the "Focus input" button knob, the input doesn't actually get focus.  On closer inspection, you can see that this is because the story re-renders and th

[2019-04-29 15:10] bryankang commented on #6674
Sorry, I tried setting everything to their defaults, and I came across the problem. Setting the `--ci` flag seems to break something. I removed it, and it works!

It looks like adding `--ci` or `-p <int>` breaks it for some reason.

Going back to the original problem, I'd be glad to setup a react native example if you guys think it would help out other people.

[2019-04-29 15:10] shilman opened #6676 "React native support for module story format"
Bring RN to parity with the web view layers #6670

Since Docs won't support RN right away this isn't needed right away, but it's a better API so we should support it across the board.

[2019-04-29 15:21] shilman commented on #6674
Thanks @bryankang! I'm not sure whether this is an RN bug or simply a documentation bug, so I'll let the RN folks chime in. But it's awesome that you tracked it out down and are contributing back. We still have a few more things to do before the release, and tightening up stuff like this is absolutely part of the release process. Much appreciated!!! 🙏

[2019-04-29 16:37] elie222 commented on #6188
Hmm... Well the linked project runs, but stories for components that make use of svgs no longer work:

[code]

An example of a problematic line:

[code]

Continuing to play with this to find a solution. Not sure how it suddenly started causing issues again unfortunately.

[2019-04-29 16:46] whitetig3r commented on #6157
Will submit a PR soon! :)

[2019-04-29 18:18] Adomas202 commented on #1369
@shilman Well I did, but it still doesn't show up on that 8081 Port 😕.

[2019-04-29 19:08] snc commented on #6188
@elie222 looks like your svg rule is wrong for this use case, have a look at https://github.com/smooth-code/svgr/tree/master/packages/webpack#using-with-url-loader-or-file-loader.

My `webpack.config.js` contains this which works like a charm:

[code]

[2019-04-29 21:01] Hypnosphi opened #6677 "Can't use brandTitle with brandImage"
**Describe the bug**
Using `brandImage` overrides the effect of `brandTitle`

**To Reproduce**
[code]
**Expected behavior**
Both image and text are shown

https://jetbrains.github.io/ring-ui/develop-storybook

[2019-04-29 21:42] kohakukun commented on #6471
Aside from the warning, what would be the desired behavior?

[2019-04-29 22:42] KovDimaY opened #6678 "Storybook Build failing while deploying to Heroku"
**Describe the bug**
I do not feel comfortable building storybook manually, committing it to the repo and deploying the build from the repo. I want to build it while deploying, as I do it with normal react apps. But when I am trying to run the build script as a part of the `heroku-postbuild` routine, it always fails with an error `sh: 1: build-storybook: not found`. I tried many approaches, even i

[2019-04-29 23:19] kohakukun commented on #5065
Would it be sufficient to pass all arguments from the cli to the story loader?
For example
`start-storybook -p 9010 -s public --filter someExpression`

....

[code]

[2019-04-29 23:41] vdh commented on #6471
@kohakukun Not causing warnings/errors, and consistent behaviour with what is described by the docs. So either update the behaviour to match the docs or vice versa. Compatibility with React 16.3.2 would be nice but I would understand if that's not possible.

I assume the `Uncaught TypeError: toISOString is not a function` error I was encountering was either fallout from the event handling issue or

[2019-04-30 01:04] bryankang opened #6679 "Knobs causing re-renders on react native"
To reproduce, use `react-native` and install `5.1.0-alpha.36`. Add required dependencies to use `react-native-server` and register `addon-knobs`. Use a knob inside a render method and call `console.log` with something. Build it, run it, debug on browser. You can see that it'll log (implying unnecessary re-renders) every half second or so.

Possibly related to #6675 but no action is required to see

[2019-04-30 02:08] shilman commented on #6439
@tmeasday does this fall under your purview?

[2019-04-30 02:09] shilman commented on #6153
Is this still an issue? cc @ndelangen

[2019-04-30 07:24] tmeasday commented on #5925
Ok.

I fixed the regression here: https://github.com/storybooks/storybook/pull/6688

I still want to look at linking to kind only.

I also worked out that the ordering difference between Safari & Chrome is due to this line: https://github.com/storybooks/storybook/blob/5925-fix-kind-deep-linking/lib/ui/src/components/sidebar/treeview/utils.js#L63

(You are supposed to return 1,0,or -1 from sort, I

[2019-04-30 07:33] tkryskiewicz commented on #5631
Sorry. Can't really find time to finish this. Once I'm free, I'll get back to this. :)

[2019-04-30 07:33] #5631 closed

[2019-04-30 08:12] OwenMelbz opened #6689 "Silence all the console.log noise"
**Is your feature request related to a problem? Please describe.**
Currently there is a massive overload of noise in the console which is very annoying as it's related to storybook and not your application, there is already a `--quite` and `--ci` flag to allow message suppression on the terminal process, however this doesn't follow through to the web ui

![Storybook](https://user-images.githubuser

[2019-04-30 08:17] kluplau opened #6690 "Storybook stops working on Create-react-app (CRA) after ejecting"
**Describe the bug**
Storybook stops working, after ejecting CRA. Gives `Module parse failed: Unexpected token` error.

**To Reproduce**
Steps to reproduce the behavior:
1. Install CRA `npx create-react-app storybook-typescript-eject --typescript` and `cd storybook-typescript-eject`.
2. Install Storybook `npx -p @storybook/cli sb init`
3. Verity it works `npm run storybook`
4. Eject `npm run eject

[2019-04-30 09:10] acnebs commented on #6479
I am having the same issue.

Obviously the `.babelrc` in `.storybook` is completely overriding the CRA config, rather than extending it. Hypothetically, you could use the .babelrc's "extends" property, but I'm not sure where CRA's .babelrc is located (or if it even has one).

[2019-04-30 10:31] #5995 closed

[2019-04-30 10:42] kluplau commented on #6690
I think this can be achieved by updating tsconfig.json to match the one provided [in this other issue comment](https://github.com/storybooks/storybook/issues/4253#issuecomment-426435162).

[2019-04-30 13:32] sibelius commented on #5949
I've got this error as well, any way to fix this or any workaround?

I've tried to include `packages` on our custom wepback config

config.module.rules[0].include = [path.join(cwd, 'src'), path.join(cwd, 'packages/')];

but it did not worked well

this is the error:

[code]

[2019-04-30 13:40] amazzoccone commented on #6656
Oh :/. Yeah sure. I will try to reproduce it again. Thanks @Hypnosphi !

[2019-04-30 13:57] pedrombafonso commented on #5613
For those interested, I was able to get `.svg` imports working using the following custom webpack config

[code]

for reference: https://storybook.js.org/docs/configurations/custom-webpack-config/

[2019-04-30 13:57] shilman commented on #6479
@mrmckeb I think the CRA babel heuristic is overriding the user's babelrc. Should we merge them instead?

[2019-04-30 14:18] shilman opened #6691 "Addon-docs: Story parameters & decorators"
[code]

[2019-04-30 14:36] mbifulco commented on #6389
I'm still stumped on this - would love some help!

[2019-04-30 14:47] gsambrotta commented on #5817
I'm also experience the same problems but seems that most of the above solutions didn't fix the issue for me.
I also tried the alpha version and still getting the error.
The problem for me still look like that two different packages are looking for two different version of `@emotion/core` so manual installation works but there is always one of the two packages that are complaining for the missing

[2019-04-30 15:09] haldunanil commented on #2883
Is using `.story.tsx` considered a reliable workaround? I basically want to know if this will continue to work down the road if I change all my existing `stories.tsx` files to `story.tsx`.

[2019-04-30 15:13] rchan commented on #6204
confirming this fix worked for me too, firebase@5.10.1 and storybook@5.0.11

added the file ./storybook/webpack.config.js with the above

[2019-04-30 19:27] vikikamath opened #6693 "issue installing storybook-vue with npx"
**Describe the bug**
Storybook For Vue guide: https://storybook.js.org/docs/guides/guide-vue/ describes the following one step to install storybook-vue

[code]

However, it fails with following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' https://storybook.js.org/docs/guides/guide-vue/'
2. Install with step provided: `npx -p @storybook/cli sb init --type vue`
3. See

[2019-04-30 23:21] ssilk opened #6694 "v5.0.11: addon-knobs with periods and square brackets in the label should properly display"
**Describe the bug**
When the first knob in a story has either a period or a square bracket in its label string argument, additional knobs do not display.

**To Reproduce**
To reproduce the behavior:

Create a Story using knobs, adding a period and/or square bracket(s) to the label of the first knob ->

[code]

**Expected behavior**
That when the story is run, both of the knobs display in the knob

[2019-05-01 00:03] hipstersmoothie commented on #2883
@haldunanil this is exactly what i found too. If you have exclude the stories in your tsconfig, typescript will ignore your typings for those files.

Thanks for the .npmignore tip!

[2019-05-01 04:07] shilman commented on #6465
Are you using custom babel/webpack?

[2019-05-01 05:25] cam-stitt opened #6697 "Support svelte v3 components"
**Is your feature request related to a problem? Please describe.**
Svelte has recently release version 3, which is a complete overhaul of the syntax and API.

**Describe the solution you'd like**
A migration to support svelte v3 and removing support for svelte v2.

**Describe alternatives you've considered**
I have not looked at having support for both v2 and v3. Considering the backward incompati

[2019-05-01 06:45] miljan-aleksic commented on #6153
Is there any interest in solving this?

[2019-05-01 08:02] almeidarruben commented on #5648
In my case, I wanted to have support for both, LESS and CSS.
For the CSS I wanted to have CSS Modules, but not for LESS in order to not rewrite my Theme classes.

I have this:
[code]

For the CSS, I just want to add support to CSS Modules, so I just modify the existent rule.
For LESS, I added a new rule.

[2019-05-01 08:30] shilman commented on #6418
Have you taken a look at this one? https://github.com/hipstersmoothie/storybook-dark-mode

[2019-05-01 08:37] shilman commented on #6693
@vikikamath Do you have a `package.json` in the folder you're running this in? if not, you should? storybook is meant to run in a currently existing vue project, not to create a new one from scratch.

[2019-05-01 10:06] amypellegrini opened #6699 ""No panels available" taking space for no reason"
**Describe the bug**
There is a section below the preview screen intended to have additional panels which at the moment I'm not in the need of using.

This panel cannot be collapsed, it doesn't disappear on its own, and the information "No panels available" is not particularly useful.

This wouldn't be a problem if it panel could be somehow dismissed, but as it is now, it makes it very uncomfortab

[2019-05-01 10:07] shilman opened #6700 "Addon-docs: support interactions with existing addons"

[2019-05-01 10:22] amypellegrini commented on #6699
Sorry, digging a bit further I found this:

https://github.com/storybooks/storybook/issues/1817#issuecomment-327931977

Which means that there is a setting I can use to hide that, I'll give it a try and in case close this issue.

Thanks!

[2019-05-01 11:08] shilman commented on #4805
Ooh-la-la!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.37 containing PR #6695 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-05-01 11:08] shilman commented on #5925
Boo-yah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.37 containing PR #6688 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-05-01 11:08] shilman commented on #6668
Shiver me timbers!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.37 containing PR #6669 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-05-01 11:27] GavBaros opened #6701 "Can the H3 tag be removed in the PropTypes section of the add-info addon?"
[
<img width="825" alt="Screen Shot 2019-05-01 at 12 20 47" src="https://user-images.githubusercontent.com/30755017/57015339-4e440a00-6c0c-11e9-886e-99b5d0d62f0f.png">
](url)

The documentation for handling this is quite poor unfortunately, I was wondering if it is possible to change the highlighted text or even delete it?

FYI I am using the `withInfo` method from `@storybook/addon-info`.

My `.a

[2019-05-01 11:40] limaAniceto opened #6702 "5.1.0-alpha.7 errors while doing yarn storybook"
Hi,
Really appreciate your work on storybook! We've upgraded to 5.1.0-alpha.7 from 5.0.11, package.json:
[code]

We are getting the following errors while doing `yarn storybook`:
[code]

Any help would be much appreciated!

[2019-05-01 11:49] oluckyman opened #6703 "Knob "select" does not work on nested story"
**Describe the bug**
When I use `select` knob in a nested story:
[code]
it throws an error in the console
![image](https://user-images.githubusercontent.com/642673/57015778-dd561f80-6c16-11e9-809e-2f7576f4d183.png)
if I go to root story first, reload the page and then go to the nested story. It does not throw the error, but the `select` knob does not work: when I change the selection, it does not

[2019-05-01 12:25] #6702 closed

[2019-05-01 13:12] ttiurani commented on #6649
Well don't I feel bad, I had `defaultConfig.output.publicPath = "/";` in my `.storybook/webpack.config.js` by accident. That setting apparently affects paths in `iframe.html` and generated javascript bundle, but not the paths in `index.html`.

Sorry for the noise.

[2019-05-01 13:12] #6649 closed

[2019-05-01 13:19] mrmckeb commented on #6479
@shilman, I think it's not a good idea as then we allow people to potentially build a component that works in Storybook, but doesn't work in their actual application.

Can @ryan-ds and/or @acnebs provide insight into what you're trying to achieve here? What features do you want to use in Storybook that are not in Create React App and why? :)

[2019-05-01 13:54] shilman commented on #6153
@miljan-aleksic Yes do you want to take a crack at it?

[2019-05-01 13:57] shilman commented on #6699
@amypellegrini https://storybook.js.org/docs/configurations/options-parameter/ see `showPanel`

[2019-05-01 14:02] shilman commented on #6703
I'm not sure that's valid nesting. Does it work if you try `storiesOf('Chart/standard', ...).add(...)` and `storiesOf('Chart/series', ...).add(...)`?

[2019-05-01 14:37] shilman commented on #4801
FYI redoing `addon-info` features as part of the Storybook Docs project.

https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a

I plan to use the analysis from `addon-storysource` to determine the source to show, if possible, and that wouldn't have this problem. Will post here when there's something to try out, and for anybody who's interested there's a channel called `#docs-mode`

[2019-05-01 14:42] Undistraction commented on #4801
@shilman I'll grin from ear-to-ear if you fix this.

[2019-05-01 15:16] acnebs commented on #6479
@mrmckeb I need to add a babel plugin (`babel-plugin-emotion`).

I add it to the CRA babel config using [customize-cra](https://github.com/arackaf/customize-cra/issues). But can't add it to the Storybook config.

[2019-05-01 15:37] Ben07 commented on #5783
+1,how to display table border?

[2019-05-01 15:45] Peterabsolon opened #6704 "How to modify index.html"
I'm using React Portals to render modals into a node I specified in my index.html, called 'portal-root'.

This of course fails inside Storybook because there is no such element.

I tried to create this element and set its ID in loadStories(), through decorator or inside my modal constructor. None of these methods worked.

How can I achieve this? Thanks!

[2019-05-01 15:55] mrmckeb commented on #6479
@acnebs That makes sense... But I should point out that the recommend way would be to use the macro.
https://emotion.sh/docs/babel-macros

If you really want to modify the config and use `customize-cra`, you'll need to modify the Webpack config. If so, let me know and I can give you some more detailed instructions on how to do that - or share your project and I can take a look this weekend :)

[2019-05-01 18:48] oluckyman commented on #6703
Just tried this:
[code]
It works for 'standard' section and does not work for 'series'.

---

And just before sending this comment I realized that the first section has `addDecorator` and all the rest don't 🤦‍♂️
[code]

Sorry! with `addDecorator` directive it all works as expected.

[2019-05-01 18:48] #6703 closed

[2019-05-01 20:37] RickyMarou commented on #6093
Getting the same problem here. Not using stylis in my project and clearing the `.cache` folder did not help :(

[2019-05-01 21:19] blemaire opened #6705 "addon-knobs - prevent page reload"
**Is your feature request related to a problem? Please describe.**
Changing a knobs value the page refreshes meaning animations are not visible on the components

**Demo**
![SB-knobs-addon-refresh-bug](https://user-images.githubusercontent.com/7140322/57121260-91ba8780-6d76-11e9-97fe-19e1c944d133.gif)

[2019-05-01 22:27] #5390 closed

[2019-05-01 22:27] leoyli commented on #6694
duplicated #6526.

Hello, thank you for reporting this bug to us.  Since I have reported this bug in our issue tracker already, I will close this issue.  Feel free to drop your idea or even step in to see if you can find a quick fix there.  If I were remembered correctly, we will have knob totally rewritten (v2) later at some point... (cc to @ndelangen).

[2019-05-01 22:27] #6694 closed

[2019-05-01 23:11] tmeasday commented on #5925
More to do

[2019-05-02 01:41] tmeasday commented on #6439
@snowystinger sorry I did not comment on this sooner. As I mentioned here: https://github.com/storybooks/storybook/pull/6472#issuecomment-488481890 I don't think sorting in the treeview is correct, and I think probably sorting on the manager side in `setStories` is the way to go.

Another small thing is that I noticed [here](https://github.com/storybooks/storybook/issues/5925#issuecomment-48784538

[2019-05-02 01:42] tmeasday commented on #6439
@snowystinger feel free to reach out on discord if you want to get into the details of this together.

[2019-05-02 03:00] shilman commented on #6439
@tmeasday love the hack 💯

[2019-05-02 03:03] shilman commented on #4958
@web-padawan any movement on this? seems like there are a lot of people lined up to use it!

[2019-05-02 03:11] shilman commented on #3379
@centerwork80 @tsiq-swyx We have a technical preview released on the `5.2.0-alpha.x` releases. In the process of structuring the work & release cycle in `#docs-mode` on our Discord https://discord.gg/UUt2PJb

[2019-05-02 03:14] shilman commented on #6073
This was released in https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.11 so I'm closing this. Please re-open if there's more work to do here.

[2019-05-02 03:14] #6073 closed

[2019-05-02 03:25] shilman commented on #6704
Could you add a decorator to your story and create the id in there instead?

[2019-05-02 04:03] leoyli commented on #6705
As far as I know, changing on a knob is not going to "refresh" the page.  Not sure which framework you are using.  In react, it enforce rerendering due to props get changed.  It is also important to ensure the component "key" is persisted (in cased used).  Could your provide more details or some filming on what was happened in your use case?!  Tx!

[2019-05-02 04:10] tmeasday commented on #6439
Actually I thought a bit more about this in discussions with @shilman and I'm thinking we could after all sort the stories in the preview before sending them over the wire.

Basically the format that goes over the wire is a large array of stories (although it is actually an object). We could in fact sort the stories in the `extract()` function (using the path/root separator as required).

If the s

[2019-05-02 04:11] shilman opened #6706 "Addon-docs: Vue inline rendering support"
Currently Docs for React has an option `inlineStories: true` that causes stories to be rendered inline in MDX rather than in iframes. This has performance and tool compatibility benefits (e.g. vue-devtools https://github.com/storybooks/storybook/issues/1708). As an optimization over the baseline behavior, we should support inline stories for Vue.

Steps to get this working:
1. Modify `inferInlineS

[2019-05-02 06:52] shilman commented on #6605
w00t!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.39 containing PR #6603 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-05-02 07:19] nabati commented on #6643
Also bumped into this issue.

[2019-05-02 07:25] shilman commented on #6643
Please read the migration instructions: https://github.com/storybooks/storybook/blob/next/MIGRATION.md#react-native-server

We still need to get this information back into the main docs, but are busy getting the functionality wrapped up for 5.1.

[2019-05-02 07:27] nabati commented on #6643
Thanks, and awesome to have the info here at least. 💪

[2019-05-02 07:35] backbone87 commented on #6693
if you are using vue-cli, i recommend installing storybook via vue-cli-plugin-storybook

[2019-05-02 07:43] acnebs commented on #6479
@mrmckeb Unfortunately the specific feature I'm using (and one that I don't think I can avoid using) still requires the babel plugin, even with macros support.

So any tips you can provide to customize my webpack config would be very helpful! I really only need to add this one babel plugin at the moment, otherwise the default config works great.

[2019-05-02 09:27] #5847 closed

[2019-05-02 09:35] amypellegrini commented on #6699
Thanks @shilman! Should we close this ticket or are you considering the possibility of having the panel removed by default if there is no content to show, without the need of config?

[2019-05-02 09:50] shilman commented on #6699
Let's keep the issue open.

I don't want to hide the panel because addons are a powerful part of the Storybook ecosystem and I want them to be discoverable.

I think we could improve the empty panel to the tune of:

[code]

What do you think?

As an aside, I noticed you're using an old version of Storybook. v5 allows you to hide that panel by clicking on the X which is a small improvement.

[2019-05-02 10:31] #6440 closed

[2019-05-02 10:58] amypellegrini commented on #6699
Seems legit, having a hint there with references to the docs and config should be enough.

We've just updated to latest Storybook today :)

[2019-05-02 11:02] shilman commented on #6699
Hooray! :tada:

Thanks for raising this @amypellegrini, hope we can get to it soon!

[2019-05-02 11:20] stmoreau commented on #6150
This could be a quick fix, but not sure I will get the time any time soon to look into it

[2019-05-02 13:47] jessepinho commented on #6201
FWIW, create-react-app lets you set a `BROWSER` env variable to choose which browser to open, or `none` to prevent any browser from opening. Could be worth looking into

[2019-05-02 14:37] amelia-lewis opened #6708 "Copy link to individual story"
**Is your feature request related to a problem? Please describe.**
With my current design system docs setup, I regularly find myself needing to copy URLs for individual stories.

**Describe the solution you'd like**
Really happy the "share" button is there, but it would be great if there was a direct copy URL to clipboard function rather than having to open the link and copy from the address bar.

[2019-05-02 18:04] shilman commented on #6708
Thanks @amelia-lewis ! We'll get on this soon

[2019-05-02 18:50] dallas commented on #6418
That looks like exactly what I want, @shilman! Thank you so much for sharing it!

[2019-05-02 20:40] plumbblake commented on #6483
It looks like some work was done on this.
https://github.com/storybooks/storybook/issues/4139
Did this never actually make it into the final release?
@shilman

[2019-05-02 20:55] trevordmiller commented on #6483
Yeah the `searchTags` property in the issue mentioned by @plumbblake looks like what this issue is requesting. I don't see documentation for it though, was it pulled out of the alpha it was released in? Or was it released and is just undocumented?

[2019-05-02 21:25] shilman commented on #6483
https://github.com/storybooks/storybook/blob/11d9a10f33a92d405ce63231beb28f9b46194ee6/lib/ui/src/components/sidebar/treeview/utils.js#L172

Looks like filename and notes are the extra fields. I argued against these actually since it doesn't make sense unless we have a UI to go along with it. I'd be excited to have tags and a tag UI for search results

[2019-05-02 23:05] #6053 closed

[2019-05-02 23:05] #6049 closed

[2019-05-02 23:47] shilman commented on #6049
Update: it's going to be 5.2 not 5.1. Full project announcement: https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a

[2019-05-03 05:40] blemaire commented on #6705
@leoyli I've updated the description with a gif showing the issue

[2019-05-03 06:16] blemaire commented on #3739
Here is an example that does not work:

[code]

[2019-05-03 06:23] blemaire opened #6709 "Knobs with angular component not updating"
**Describe the bug**
When using props on a component, the values of the knobs are not available in the component.

**To Reproduce**
See code snippet

**Expected behavior**
I expect the value within the component to be updated when I type in the `text` knob

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snippets**
[code]

**System:**
 - OS: [MacOS]
 - Browser:

[2019-05-03 06:53] maeh2k commented on #1573
Hi @kazupon,
I have an issue with vue-i18n in storybook even though I followed the example https://github.com/kazupon/vue-i18n/tree/dev/examples/storybook
I changed the .config and added the i18n in the story itself.

However, the i18n from the story is not passed into the component.
Instead the component appears to create a default i18n with locale en-US and no root i18n.

Do you have any intuiti

[2019-05-03 06:59] miljan-aleksic commented on #6153
@shilman, our solution was to implement the SB 4.x decycle into SB5, I don't think that would be accepted. As for working on a real solution I would need to speak with the guy who made this change in the first place, or someone who knows the motivations behind.

Anyway, I would start by adding some more tests, this would not happen with them in place.

[2019-05-03 07:08] shilman commented on #6153
Thanks @miljan-aleksic. Hopefully @ndelangen sees these mentions and can help you get these changes in.

[2019-05-03 12:30] OBrian16 commented on #769
Thanks so much, the responses helped

[2019-05-03 13:09] gustavnikolaj opened #6710 "Add less as an allowed cssExtension when extending create-react-app configurations"
**Is your feature request related to a problem? Please describe.**
I'm trying to integrate the storybook into a project at work. We're running a fork of create-react-apps react-scripts package, to build the application. `@storybook/react` is ALMOST able to pick up on it automatically and without requiring any custom configuration - except that it breaks its neck on the `.less` files.

**Describe t

[2019-05-03 14:09] justindra commented on #6219
Will close as @gaetanmaisse workaround works fine. But hopefully the TS migration will be done soon too 😄

[2019-05-03 14:09] #6219 closed

[2019-05-03 15:03] npattarone opened #6711 "Can't resolve fs when running npm run storybook"
**Describe the bug**
Out of the blue, the command `npm run storybook` started to throw this error. Didn't change anything in between, besides changes of some stories of mine.

**Expected behavior**
Not throw errors of any kind and start the project.

**Screenshots**
![image](https://user-images.githubusercontent.com/19308167/57146121-fdaee700-6d9a-11e9-9565-c0f65145d5da.png)

![image](https://user

[2019-05-03 15:21] trevordmiller commented on #6483
@shilman So for our use case, of adding more terms for searching, would it be alright for us to use the `notes` property to add more search terms? Or is this a brittle implementation detail we shouldn't touch? If it is a public facing feature, could it be documented?

[2019-05-03 15:24] #6711 closed

[2019-05-03 15:24] npattarone commented on #6711
Sorry, was a local mistake in other file

[2019-05-03 15:43] robcalcroft opened #6712 "select knob causing Invariant Error"
**Describe the bug**
When using the `select` knob and applying it to a component, the UI crashes with the following error:
[code]
When removing the code related to the `select` knob this error does not appear.

**To Reproduce**
Steps to reproduce the behavior:
[code]

[code]

**Expected behavior**
The knob should appear with the dropdown menu listing the options available

**Screenshots**
If appli

[2019-05-03 17:45] kevinSuttle opened #6713 "Theme isn't applied when publishing statically"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Apply a custom theme, with a `dark` base
2. Run `build-storybook`
3. Open storybook-static/index.html in the browser
4. See that the theme is not applied

**Expected behavior**
Theme to be maintained

**System:**
 - OS: [e.g. iOS, Windows10, MacOS] MacOS 10.14.4 (18E226)

[2019-05-03 18:10] kevinSuttle commented on #6713
Server running:

<img width="400" alt="Image 2019-05-03 at 2 09 30 PM" src="https://user-images.githubusercontent.com/95672/57156899-335ccb80-6dad-11e9-94c4-690337fe4a9d.png">

Static build:
<img width="400" alt="Image 2019-05-03 at 2 09 06 PM" src="https://user-images.githubusercontent.com/95672/57156910-3ce63380-6dad-11e9-9a88-a138c0f0f48a.png">

[2019-05-03 18:31] iambumblehead opened #6714 "Preview doesn't load svg components correctly still"
**Describe the bug**

storybook/react 5.0.11 exhibits the exact issue [described in this ticket closed a few months ago.][0]

this imported svg is not loaded correctly by storybook even when using a custom webpack config
[code]
this hacky import bypassing storybook's loader behaviour does appear in storybook correctly
[code]
[0]: https://github.com/storybooks/storybook/issues/5898

**To Reproduce*

[2019-05-03 19:04] JohnMunsch commented on #6623
I think I'm seeing the same thing when my object knob supplies new data to create a Redux model and assigns that to my LitElement component. I can see it go through the story, create a new model, create a new component, assign the model to the component, and then return the component. However, the rendered component shown in Storybook is still the previous one.

[2019-05-03 19:33] iambumblehead commented on #5708
I'm using @storybook/react 5.0.11 and am unable to load svgs there. I've tried all of the suggestions here and am ready to give up on it. Here's my not-working config so at this point,
[code]

[2019-05-03 20:53] njradford opened #6715 "v3 & v4 docs?"
In the push for v5, were the docs for v3 and v4 deprecated? Do they exist somewhere or should we consider the docs for v5 to be a drop in replacement?

[2019-05-03 23:39] mlmassey commented on #6577
@palmerminto @shilman I'm having the same issue.  Basically, when I'm importing withInfo as `import {withInfo} from '@storybook/addon-info'` I immediately see that the left panel never loads and the cursor continually shows loading.  Basically, if I never import withInfo, everything works fine.  I'm running Storybook 5.0.11.  On a side note, I'm running React 16.3, so not sure if that is what is c

[2019-05-04 01:51] charlesgivens commented on #5949
I am also having the same issue. My monorepo is just running yarn workspaces, no lerna. All of my packages are running typescript.

[2019-05-04 03:14] iambumblehead commented on #6714
I'm sorry for opening the same issue... I was able to find a solution and added it in a [comment at the original ticket.][0] closing this.

[0]: https://github.com/storybooks/storybook/issues/5708

[2019-05-04 03:14] #6714 closed

[2019-05-04 07:27] yozaam commented on #6708
Hey shilman, is it alright if I work on this?

[2019-05-04 08:00] sibelius commented on #5949
Use latest alphas releases

[2019-05-04 10:41] hiepxanh commented on #3836
1) I think `component` template is very useful when you have to make a quick center every story. I mean why I not need that center? That so elegant way. If my component not at the center. I'm feeling so pain. And add style center to every component to just make it look better is really pain.
2) if I do that quick center for all component in `index.stories.ts` that will casing empty in my all compo

[2019-05-04 13:03] #5528 closed

[2019-05-04 14:40] pauldariye commented on #5721
I'm unable to get the story to re-render on state change. Force re-rendering doesn't work either.

[2019-05-04 15:33] leoyli commented on #6705
This used to give a smooth state transition rather than unmount and remount the component.  Possibly due to other knobs interference or really have something changed internally in knob. @shilman do you have any idea?! I'm also thinking how to make knob sync with the preview.  Taking the above film as an example. When the `disable` clicked, the knob also being clicked.

[2019-05-04 16:08] leoyli commented on #5030
@shilman, @kroeder: I'd like to migrate `@storybook/ui` into TypeScript, can I do it?!  I would also do some small refractor to make the code more maintainable and perhaps kill some class component by hooked functional component.

[2019-05-04 18:05] #6080 closed

[2019-05-04 23:21] vikikamath commented on #6693
Thanks guys! `vue-cli-plugin-storybook` worked like a charm!

[2019-05-04 23:21] #6693 closed

[2019-05-05 03:05] #6099 closed

[2019-05-05 06:27] shilman commented on #6715
v4 https://release-4-1--storybooks.netlify.com/
v3 https://release-3-4--storybooks.netlify.com/

[2019-05-05 06:33] shilman commented on #5030
@kroeder I set it up so that when an issue/PR is assigned to somebody, it won't ping

[2019-05-05 06:33] shilman commented on #5030
@leoyli go for it!

[2019-05-05 06:36] shilman commented on #6708
@yozaam that would be great! PRs welcome!

[2019-05-05 06:43] shilman commented on #6577
@mlmassey PRs welcome to remove the call to memo

[2019-05-05 06:51] shilman commented on #6713
There's some trickiness with how themes are applied in the web UI (cached in localstorage). My guess is that this trickiness broke the static build.

@kevinSuttle what app are those screenshots from?

[2019-05-05 06:54] shilman commented on #6483
@trevordmiller Documentation PRs welcome. If it was up to me it wouldn't be part of the feature in the first place, and we'd have a proper solution like what you're suggesting. But in the rush to ship I didn't spend too much time arguing.

[2019-05-05 07:00] shilman commented on #6705
@leoyli this is the most recent relevant change: https://github.com/storybooks/storybook/pull/6022

[2019-05-05 10:17] Hypnosphi commented on #6495
Hi @LucaMele can you please also show an example of story? `@storybook/html` definitely accepts `HTMLElement` as a story return value

[2019-05-05 10:26] Hypnosphi commented on #6623
@igor-dv @Atekon looks like #4822 broke knobs for "HTML element" stories

[2019-05-05 11:02] Hypnosphi commented on #6201
You actually liked my comment that says that it should be a separate option

[2019-05-05 13:39] eightHundreds commented on #3444
Share my experience

My project use webpack 2 and storybook 5

I got `TypeError: compilation.templatesPlugin is not a function` when i `npm run storybook`
The reason is that webpack2 is used at startup.

After comparing another project(work well)

I solved this problem by installing html-webpack-plugin@3.2

[2019-05-05 14:04] shilman commented on #6201
Yeah I'm absolutely on board with making `--no-open` a separate option. I also think it should be the default and that's what I'm hoping to get consensus on for 6.0

[2019-05-05 15:16] ChuckJHardy commented on #6255
As of `5.0.11` Referencing the fix from https://github.com/storybooks/storybook/issues/5706#issuecomment-469865797

Including `@storybook/theming` to `package.json` solved the `EntryModuleNotFoundError` issues for me.

[2019-05-05 18:06] danstans commented on #6705
I had a similar issue; if you're using withOptions switching to addParamters is what fixed this issue for me. #5665 might be relevant.
[code]

[2019-05-05 23:34] kevinSuttle commented on #6713
Firefox. I’ve noticed a _lot_ of sync latency, colors not even being applied, etc.

I wonder if it has to do with this, which I’m doing:

However, I’ve seen it work. So, this may be on me. :)

[2019-05-06 04:42] tmeasday commented on #5857
I wrote up an idea of a solution to this here: https://docs.google.com/document/d/1LveeO_VaIq9EaeklhZMRMdMONfIF1MnfYAYP0DkI6SE/edit?usp=sharing

Would love to get some comments on this (@shilman / @ndelangen ?) before diving into it.

[2019-05-06 05:59] blemaire commented on #6705
@danstans I already use `addParameters` but that's for other plugins, not `knobs`, right?

[2019-05-06 06:03] danstans commented on #6705
I believe according to the 5.0 upgrade guide, this is something that could cause breaking issues. If you're using withOptions on 5.0, I'd recommend trying out the new method. It's what fixed reloading for me.

[2019-05-06 07:24] fsz commented on #5814
By ignoring the warning and not using the default angular webpack config results in parse errors in LESS files in my case. I could extend the webpack config to fix that but I would rather not do it.

I think it could easily be fixed by adding the required buildOptions parameters styles, scripts and outputPath as empty defaults to https://github.com/storybooks/storybook/blob/next/app/angular/src/se

[2019-05-06 08:54] blemaire commented on #6705
**You**

**me**

**you**

@danstans I'm struggling to follow. you said that `addParameters({options})` is what fixed it for you.
Then I said that's what i'm doing and you're then asking me not to use `withOptions`

here is my setup:
[code]

[code]

[2019-05-06 08:59] jmarceli commented on #25
For Storybook v5 and `normalize.css` "framework" it is enough to just add `import "normalize.css";` inside `.storybook/config.js` file.

[2019-05-06 10:01] mousemke commented on #6471
i'm actually hitting the `Uncaught TypeError: toISOString is not a function` after update, and cannot find an issue aside from this issue, so i'm hoping it is not your code and is instead part of this issue.

[2019-05-06 10:15] brendonco opened #6721 "Remove babel-core and use @babel/core, storybook still using babel-core"
**Describe the bug**
forcing to reinstall storybook doesnt work to use @babel/core.

package.json
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. npx -p @storybook/cli sb init --type react -f
ERROR in ./.storybook/config.js
Module build failed (from ./node_modules/babel-loader/lib/index.js):
Error: Cannot find module 'babel-core'
    at Function.Module._resolveFilename (module.js:547:

[2019-05-06 11:08] whitetig3r commented on #6157
I'm new to working with `Storybook` development. I've been looking through the code and the patterns followed. Given the feature request, I suppose, I should add another menuItem in `nav.js` and `onClick : () => api.collapseTree()` is the required callback that should be created.

It would be super helpful if you could give me a few cues on where and how to implement this `api` callback which resu

[2019-05-06 13:00] ndelangen commented on #6721
If you use `"babel-loader": "^7.1.5",` you should add `babel-core` yourself.

Upgrade to "babel-loader": "^8", to use the `@babel/core`

[2019-05-06 13:05] ndelangen commented on #6208
@gugadev would you open a PR?

[2019-05-06 13:06] #6510 closed

[2019-05-06 13:46] tsteenkamp opened #6722 "[vue] ReferenceError: h is not defined"
**Describe the bug**
After following the `Writing Addons` example of the documentation in a vue application storybook is build successfully but renders only a blank page and console produces the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `vue create storybook-vue-test`
2. Manually select preset preferences.
2.1. Select `Babel` and `Linter / Formatter`
2.2 Linter

[2019-05-06 13:47] fauverism opened #6723 "The link to *Notes* on the Docs page of the website is broken"
**Describe the bug**
When attempting to navigate to the *Notes* add on page via clicking the *Notes* card a hover appears but clicking the link does not load the *Notes* add on page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://storybook.js.org/addons/
2. Click on the *Notes* card

**Expected behavior**
The user should be directed to the *Notes* github page `https://github.c

[2019-05-06 14:44] elie222 commented on #6188
Thank you! That fixed it.

[2019-05-06 15:21] iMarv opened #6724 "Storyshots failing for node >v10.15.3"
**Describe the bug**
Storyshots plugin fails for node version higher than v10.15.3

**To Reproduce**
Steps to reproduce the behavior:
- Add storyshot plugin
- Install accordingly with wrapper-file calling `initStoryshots`
- Run Jest

**Expected behavior**
No errors

**Code snippets**
[code]

**System:**
 - Framework: Angular
 - Addons: Storyshots
 - Version: latest
 - NodeJS: >v10.15.3

[2019-05-06 15:35] njradford commented on #6715
Thank you for the response

[2019-05-06 16:05] trevordmiller commented on #6483
I'm happy to submit a documentation PR. Can you please direct me to where this should be done? And would the following information be correct:

---

# Searching

By default, search results will show up based on the file name of your stories. You can extend this with `notes` to have certain stories show up when the search input contains matches like this:

[code]

[2019-05-06 16:37] shilman commented on #6157
@ndelangen would you mind giving him a pointer?

[2019-05-06 16:47] elevatebart commented on #6722
Hello @tsteenkamp ,

Say you are using JSX written stories,

[code]

will be translated to

[code]

As you can see, vue JSX assumes that you pass `h` as the first parameter of your render function.
It will use `h` to dynamically create all your components.

Can you check that your stories respect this convention?

[the docs](https://vuejs.org/v2/guide/render-function.html)

[2019-05-06 16:47] shilman commented on #6483
Thanks @trevordmiller !! That looks great and I appreciate the follow-through.

There isn't a perfect place for this right now. The following two options are your best bet without rearchitecting the docs site:

- [Storybook UI README](https://github.com/storybooks/storybook/blob/next/lib/ui/README.md)
- [Writing stories](https://github.com/storybooks/storybook/blob/next/docs/src/pages/basics/writi

[2019-05-06 17:02] trevordmiller commented on #6483
@shilman  Ok thanks. Another question: is there a way to add notes for an individual story? Like at the `.add` level, not only the `storiesOf` level?

[2019-05-06 17:08] trevordmiller commented on #6483
...and how does it related to what is documented here: https://github.com/storybooks/storybook/blob/next/docs/src/pages/basics/writing-stories/index.md#using-markdown

[2019-05-06 18:02] libetl commented on #6136
I think this will be available only in v6

[2019-05-06 18:16] glappsi opened #6725 "Addon-docs: When using storybook for angular, cant load docs"
**Describe the bug**
I tried to use storybook addon-docs for my angular storybook project. After creating my first mdx story, it fail with the message `SyntaxError: file: Unexpected token (15:9)`, pointing to JSX-syntax: `return <div {...props}/>`.
Thats why I installed `@babel/preset-react`. Now everything loads fine, my template also gets displayed, but unfortunately it fails when I click on Doc

[2019-05-06 19:24] #6117 closed

[2019-05-06 20:46] dangodev commented on #4600
This thread was immensely helpful to me, especially @popcorn245’s config. Personally I was using `@stencil/state-tunnel`, which broke that config. Fortunately I was able to get it to work with some minor ~hacks~ tweaks:

[code]

[2019-05-06 21:46] CrashyBang opened #6726 "Using window.store when creating a story"
**Describe the bug**
When creating a story I am trying to use the `window.store` as the store (I include a script in [`preview-head.html`](https://storybook.js.org/docs/configurations/add-custom-head-tags/) which sets up `window.store` so it does exist in the `iframe`).

Basically I am working on a site that uses decoupled `vue` components built as libraries which communicate data through a global

[2019-05-06 23:30] shilman commented on #6136
@libetl would love to discuss this with you for 10m on discord when you have time. i'm making some changes to the story format as part of SB docs. the changes are backwards compatible (i.e. old stories will keep working), but i'm wondering whether the new format will break storysource. so i want to understand the impact & whether there's anything i need to consider.

[2019-05-06 23:35] #6723 closed

[2019-05-06 23:36] kohakukun commented on #5624
Is this issue still up for grabs?

[2019-05-06 23:58] shilman commented on #6483
@trevordmiller Sorry there's a typo in your example. The third arg of `.add` is the story parameters. So:

[code]

If you want to add it at the component level:

[code]

And yes, notes can be a string or an object containing a markdown field. Not the best API but it is what it is.

[2019-05-06 23:59] shilman commented on #5624
@kohakukun AFAIK it is!

[2019-05-07 02:13] brendonco commented on #6721
Thanks @ndelangen it works. but I'm getting this error in console logs.

[code]

[2019-05-07 03:25] ayiaq1 opened #6727 "How to set Tabs to default Actions?"
https://storybooks-vue.netlify.com/?path=/story/welcome--welcome
How to set Tabs to default Actions ?

[2019-05-07 06:35] smeijer commented on #3379
Is there a way to try out / get started with that `sneak peak` version? Since I've used docz for one of my projects, I'm considering switching all my projects to `docz` instead of `storybook`. That was until I saw the medium blog.

Unfortunately, I cannot find any "try it now!" docs. Those would be very helpful, to see if it's something worth waiting for.

[2019-05-07 07:59] libetl commented on #6136
sure we can chat

[2019-05-07 08:55] Zyzle commented on #6671
@sPaCeMoNk3yIam Have you been able to come up with a workaround for this issue? I've come up against what looks like the same problem but haven't been able to resolve it.

[2019-05-07 10:07] devina91 commented on #6577
I am running react 16.8.3 actually and still having this problem, addon info never appears on the sidebar and I get that error on importing, I did open a new issue for this, it is this one- It it #6622

[2019-05-07 10:17] devina91 commented on #6110
I agree, still relevant, I too have this vulnerability. in addition to #6622

[2019-05-07 10:36] seokju-na opened #6735 "Error caught when start storybook from angular project without 'architect.build' options"
**Describe the bug**

https://github.com/storybooks/storybook/blob/next/app/angular/src/server/angular-cli_config.js#L53

In above code, storybook always require `architect.build` options. This will work most of angular pojects, but when your making library which build from [ng-packagr](https://github.com/ng-packagr/ng-packagr), these options can be empty.

**To Reproduce**
Steps to reproduce the

[2019-05-07 11:46] kohakukun commented on #1108
Is there work left to do for this feature? I would like to work on this

[2019-05-07 11:46] tsteenkamp commented on #6722
Hi @elevatebart ,

sadly this does not solve the issue, the error appears even if there are no stories present. You can reproduce it by following the steps I described above and comment out everything in the autogenerated `storybook-vue-test/stories/index.stories.js`.

[2019-05-07 12:02] glappsi opened #6738 "Addon-docs: hot module replacement throws error"
**Describe the bug**
I am using storybook for angular. Since I installed the addon-docs and created my first mdx file, the hot moddule replacement crashes with following error
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set up storybook for angular
2. Install and configure addon-docs
3. Create mdx

**Expected behavior**
Hot module replacement should work.

**System:**
 - OS: MacOS

[2019-05-07 12:31] 1Jesper1 commented on #6617
@Armanio Is the code snippet above enough for you to reproduce the problem?

[2019-05-07 15:33] centerwork80 commented on #3379
Take a look at this package docs.

https://www.npmjs.com/package/@storybook/addon-docs

[2019-05-07 16:46] tsteenkamp commented on #6722
Nevermind, I just saw that the example also has a render function and declaring it like
[code]
solves the issue.

Maybe the docs should have a hint for vue users that this is required.

[2019-05-07 16:46] #6722 closed

[2019-05-07 18:28] scottleblang opened #6739 "Set default panel tab to Knobs"
I am using Storybook for React and make heavy use of Knobs. In all instances, in the bottom panel, the default tab is the Actions panel. I would like to request the option to:
1)  Set the option for a Default panel to be selected - i.e. Knobs rather than Actions
2) Option to remove other tabs - i.e. Actions, Story, etc.

As far as I can tell, these options don't exist.

Thanks!

[2019-05-07 18:49] #6739 closed

[2019-05-07 18:51] scottleblang commented on #6727
Try changing the order of imports in your addon.js file, placing Actions as the the first import

[2019-05-07 18:54] kaiyoma opened #6740 "Storybook is suggesting an upgrade to an older build"
**Describe the bug**
The sidebar menu and About page are both suggesting an upgrade to an older version.

**To Reproduce**
Steps to reproduce the behavior:
1. Install and run version 5.1.0-alpha.39.
2. Notice that the sidebar menu and About page suggest upgrading to 5.1.0-alpha.37, an older version.

**Screenshots**
![storybook-upgrade-message](https://user-images.githubusercontent.com/10719780/57

[2019-05-07 18:58] kaiyoma opened #6741 "About page has an invisible div that prevents user interactions"
**Describe the bug**
The About page has an invisible div that prevents user interactions. You can't scroll or select text.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the About page and try scrolling or selecting text.

**Code snippets**
The div with classname `css-sqdry3` seems to be causing the problems. If you delete this element from devtools, the page starts working normally.

[2019-05-07 19:02] kaiyoma opened #6742 "Sidebar no longer works in Firefox"
**Describe the bug**
In Firefox, the sidebar no longer has any content. Moving the mouse over the sidebar reveals hidden areas of content (which trigger the "loading" mouse pointer), but nothing seems to load. This problem does not happen in Chrome or Edge.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Storybook in Firefox.

**System:**
 - OS: Windows 10
 - Browser: Firefox 66.0.4
 -

[2019-05-07 20:36] Parthchokshi commented on #5645
@pnarielwala-tc Hey! Did you solve or open that issue? I am getting the same error.

Using 4.1.18 for all storybook packages and 16.8.6 for react and react-dom.

[2019-05-07 22:16] anoopsinghbayes commented on #4540
@shilman do you have a working branch for this?

[2019-05-07 23:13] kexinlu1121 commented on #3916
In case anyone is looking at this for storybook 5,
[code]

[2019-05-08 00:50] kohakukun commented on #5624
Working on it

[2019-05-08 01:06] bernatfortet commented on #6093
@Armanio, sorry for the late response. I think I did the same @RickyMarou and it fixed my issue.
Hard to create a snippet for that.

[2019-05-08 01:56] #6727 closed

[2019-05-08 06:54] enrique-ramirez commented on #5915
This is a rather urgent problem that I feel deserves more attention, so bumping a bit.

[2019-05-08 08:32] mrmckeb commented on #6479
@acnebs Not a problem - sorry for the delay, I started a new job last week and am still a little busy.

If you add a custom webpack config, you'll be able to modify the rules in there.

You can see here that we add CRA's config for TypeScript when it's needed, and you could effectively use the same approach.
https://github.com/storybooks/storybook/blob/next/app/react/src/server/cra-config.js#L196

[2019-05-08 08:52] cojok opened #6743 "Storybook vuejs scss global scss helper file not available via webpack"
**Describe the bug**
There seems to be an issue in rendering the vue component, as I get alsway 'Undefined variable' for my scss variable from the style tag included in the vue file. This variable comes from a global helpers.scss, which is loaded in the vue app from webpack as loader scss data.

I have a vuejs setup done withe the vue-cli.  I have added storybook to it manually, done like in the t

[2019-05-08 08:59] nianiaJR opened #6744 "show real souce code instead of the third party lib HoC wrapper"
### support request summary
I use a HOC from the third party lib，and the source code always show the HoC wrapper not the real source code. Even when I use the `addDecorator`. I find all existed suggestions in issues are about hoc defined by themselves (such as [issue 938](https://github.com/storybooks/storybook/issues/938l) . How about third party hoc solution?

### Steps to reproduce
my  code:
[c

[2019-05-08 09:30] egor-xyz commented on #6574
[code]

[2019-05-08 09:38] daviscabral commented on #6204
sorry - @storybook/react-native@5.0.11 does not seems released - was it intentional?

[2019-05-08 09:55] mrmckeb commented on #6574
@egor-xyz, this should not be needed in new versions. Are you still seeing this issue? If so, what versions of Storybook and CRA are you using?

[2019-05-08 11:10] smeijer commented on #6262
@stale please don't close! I'm experiencing the same issue. Haven't found a solution yet.

In the meanwhile; I'm using [`storybook-addon-jsx`](https://github.com/storybooks/addon-jsx) to fill the gap.

[2019-05-08 14:26] shilman commented on #6725
Make sure you follow full setup instructions in the technical preview: https://docs.google.com/document/d/1un6YX7xDKEKl5-MVb-egnOYN8dynb5Hf7mq0hipk8JE/edit?usp=sharing

[2019-05-08 14:32] shilman commented on #6744
Dupe to #4801?

[2019-05-08 14:51] willryan commented on #6089
@shilman I'm seeing Copy not work when the knob's name has a space in it (or any other character that needs to be URL-encoded). If you look in addons/knobs/src/components/Panel.js, you can see that the query param is set to `knob-${name}` in several places, without first escaping the name. Since the qs.stringify() call deliberately does not encode the query object, this leaves spaces and other inv

[2019-05-08 15:09] SamKirkland commented on #6542
I've confirmed it's only an issue on Google Chrome + Windows. [See this blog post for info](https://gschoppe.com/uncategorized/fixing-unicode-support-in-google-chrome/)

I don't like the idea of fixing a browser + OS specific issue but it is 25%+ of the market share and has been around for 6+ years.

Thoughts? I can throw together a PR that removes \u001b.

[2019-05-08 15:48] shilman commented on #5925
Zoinks!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.40 containing PR #6720 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-05-08 15:48] shilman commented on #6343
Yowza!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.40 containing PR #6696 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-05-08 15:48] shilman commented on #6697
Olé!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.40 containing PR #6698 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-05-08 15:48] shilman commented on #5542
Yo-ho-ho!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.40 containing PR #6666 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-05-08 15:48] shilman commented on #6474
Yowza!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.40 containing PR #6475 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-05-08 15:48] #5925 closed

[2019-05-08 15:48] #6343 closed

[2019-05-08 15:48] #6697 closed

[2019-05-08 16:25] kaiyoma commented on #6742
@shilman Yes, things are working now for me, even locally. Not sure why it was misbehaving yesterday. The link you sent works correctly in the latest version of all my browsers.

(Unrelated: that UI is showing 3 or 4 unnecessary horizontal scrollbars in Windows/Linux.)

[2019-05-08 16:25] #6742 closed

[2019-05-08 18:48] natocTo commented on #6474
I have tried it and still get same error.
[code]
problem is here: (core.browser.esm.js)
[code]
There is problem with two versions of React. I use React 15 and Emotion use React 16. Import `createContext` from React 15 is resolved as undefined so it can not be call as function.

[2019-05-08 19:21] whengely commented on #5915
There is a relatively easy workaround in this linked issue:

https://github.com/storybooks/storybook/pull/6016

[2019-05-08 20:50] taurean commented on #6611
I'm still struggling to get the component to display but it very well could be an issue with the component itself and is not necessarily storybook related. Closing the ticket, thanks for the help!

[2019-05-08 20:50] #6611 closed

[2019-05-08 21:07] leoyli commented on #6089
`qs` can do encoding for us just need [an option flag `encodeValuesOnly: true`](https://github.com/ljharb/qs#stringifying), but shareable URL is really tricky IMHO, likely to have edge cases to think about.  And I think a better way it get namespaced like I did in `addon-contexts since URL have max size (we can at least prevent it grows too fast).

[2019-05-08 21:22] cutterbl commented on #5915
@whengely Just be nice if it supported the syntax laid out in the documentation. The same syntax this addon supported prior.

[2019-05-08 21:25] alechp commented on #6445
When I try to reinitialize with v5.2.0, `start-storybook` isn't found. What am I doing wrong?

Here's a PDF containing screenshots of my step-by-step interaction: https://github.com/servexyz/react-native-expo-storybook-v5/blob/reverting-to-v510a40/docs/Storybook_version_downgrade.pdf

[2019-05-08 21:33] alechp commented on #6445
@shilman Current error with `v5.1.0-alpha.40`

<img width="1792" alt="Screen Shot 2019-05-08 at 2 32 31 PM" src="https://user-images.githubusercontent.com/3058939/57409838-29b4d880-719e-11e9-96d8-95fd48fd29a1.png">

[2019-05-09 00:34] tmeasday commented on #3917
Seems reasonable to me -- I think @igor-dv is probably the one to make the call

[2019-05-09 01:31] shilman commented on #6542
@SamKirkland Sounds good!

[2019-05-09 03:29] nianiaJR commented on #6744
Maybe, I think they are not the same problem. Actually, I also have an another gloabl decorator which use styled-components like this:
[code]
It's just like the code in [#4801](https://github.com/storybooks/storybook/issues/4801)， but I don't have the problem he met. I have trouble in using the thrid party lib HoC which wrap my real component
to show the `<Form(WrappedComponent)/>` instead of real

[2019-05-09 03:39] nianiaJR commented on #6744
On the other way, can I set the source code or propsTypes mannually?
such as:
[code]

[2019-05-09 04:22] MurrayJack commented on #5217
yes please to above ,  its so easy to get wrong and break the markup!

[2019-05-09 04:37] vdh commented on #5778
So I managed to solve this issue by configuring `sourceType` to `unambiguous` in Babel (https://babeljs.io/docs/en/options#sourcetype) so that my UMD file wasn't treated as an ES6 module.

It was odd that I only encountered this in Storybook. In my normal setup, Webpack automatically hooks into the AMD `define` part of UMD modules. I assume there's something subtle happening between the different

[2019-05-09 05:22] MaximSagan opened #6748 "@storybook/addon-centered/angular does not pass defined props to component"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a component that requires props
2. Add the 'centered' docrator
3. Specify your component using the `component` property.
4. Notice that defined props are not observed by the rendered component. Internally, the component believes they areall  `undefined`.

Example co

[2019-05-09 06:14] shilman commented on #6744
@nianiaJR Good idea to allow overriding the source code. I'm writing a long-overdue replacement to `addon-info` and will make it easy & "regular" to override all of the information that is shown. Thanks for the inspiration.

[2019-05-09 07:03] brendonco commented on #6677
how did you change the storybook logo?

[2019-05-09 07:07] shilman commented on #6677
@Hypnosphi This was a design decision. I believe if you override `brandImage` it should fill the whole space. Maybe @domyen or @ndelangen can give the rationale.

[2019-05-09 07:07] brendonco opened #6749 "Updating theme and brand - throwing Object(...) not a function"
how do you change the storybook logo?

I'm getting below errors after applying the theme:

import { create } from '@storybook/theming';

yourTheme.js
[code]

config.js
[code]

[code]

package.json

[code]

[2019-05-09 07:09] nianiaJR commented on #6744
@shilman so expecting ^-^

[2019-05-09 07:22] shilman commented on #6744
Here's the sneak peak: https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a

Adding the `addon-info` functionality this week!