[2019-06-05 18:18] zachmanring-natgeo commented on #6984
Following.

[2019-06-05 18:58] PilotConway commented on #6848
I just tried the new code with the 5.1.1 release and I am no longer seeing the error, so this is fixed for us  now.

[2019-06-05 19:29] shilman commented on #6984
Does anybody have a repo that we could look at to try to debug?

[2019-06-05 19:41] garrettmaring opened #6985 "Documentation for "top bar""
**Is your feature request related to a problem? Please describe.**

On https://storybook.js.org/ there is a large picture of a demo Storybook page. There is a top bar with non-default elements. "Canvas", "Docs", a theme switcher, etc.

I haven't been able to find any documentation on what exactly those are. Are they add-ons as well or is that a different sort of plugin space?

**Describe the solut

[2019-06-05 19:43] lgraziani2712 opened #6986 "Firefox UI bug in addon list"
**Describe the bug**
A clear and concise description of what the bug is.

The horizontal scrollbar is bigger than the Chrome one and covers the addon titles:

![image](https://user-images.githubusercontent.com/15050200/58984616-d9866180-87af-11e9-8784-299734bac59c.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Add multiple addons
2. Shrink the window until the addons panel is narrower

[2019-06-05 20:15] JonathanSpeek commented on #6984
Unfortunately mine is a private repo 😬

[2019-06-05 20:33] westrem commented on #4801
Still an issue

[2019-06-05 21:20] shilman commented on #6413
From one of our discord users:

[2019-06-05 21:43] ChucKN0risK commented on #6984
Mine too 😔

[2019-06-05 21:51] ChucKN0risK commented on #6984
After installing `core-js@^2.5.7` it works again 😃

[2019-06-05 21:53] ndelangen commented on #6984
Do you have got a custom webpack config possibly?

[2019-06-05 22:37] rlecaro2 commented on #5183
@shilman @mrmckeb with the latest version:

[code]
JSX syntax is not transformed in `.storybooks/config.js` and `start-storybook` fails with a syntax error (on the first `<`).

Using the previous workaround of having babel-loader installed but with the version in sync with CRA works fine.

I tried to check if CRA uses [`babel-preset-react`](https://babeljs.io/docs/en/babel-preset-react) in some bu

[2019-06-05 23:53] vdh commented on #4769
@shilman The problem is that eject button is just a different page. So it doesn't solve the issue of the broken inspector so much as it just reroutes you away from the main Storybook UI completely so that you never use the inspector on it. Hence why it feels like a "just don't do that".

[2019-06-06 01:12] tmeasday commented on #5827
This is in the pipeline for 5.2 however!

[2019-06-06 01:31] sjsingh85 commented on #6974
Same here

[2019-06-06 01:51] #5572 closed

[2019-06-06 02:04] dstroot commented on #6981
Exact same issue here.

[code]

If I remove this:

[code]
 It works.

[2019-06-06 04:52] ericmick opened #6992 "@storybook/addon-knobs: color selector doesn't work in Firefox"
### Bug or support request summary

This is still reproducible in 5.0.11 : https://github.com/storybookjs/storybook/issues/5390

Color selector closes immediately when clicked.  Value does not change.

- @storybook/react 5.0.11
- @storybook/addon-knobs 5.0.11

[2019-06-06 04:56] shilman commented on #6992
@ericmick What about `5.1.1`?

[2019-06-06 04:59] justinhodev commented on #5294
Thanks @mateuszgachowski , I finally got it to compile with your config.

But I want to mention that the line `'vue$': 'vue/dist/vue.esm.js'` seems to be mandatory for starting storybook interactively because without it but no Vue component gets rendered and the warning

`[Vue warn]: You are using the runtime-only build of Vue where the template option is not available. Either pre-compile the temp

[2019-06-06 04:59] KadenLNelson commented on #6915
Will try this later

[2019-06-06 08:02] jakubikan opened #6994 "storybook-addon-context: not rendering menu entry if not having an icon"
Not quite sure if it a bug but for me, it seems like that it should render the title.

Looking at this line it does not render the menu at all if there is no icon
https://github.com/storybookjs/storybook/blob/477f990494f804a25a71f4f1b69b32c86b6501da/addons/contexts/src/manager/components/ToolBarControl.tsx#L50

**To Reproduce**
Context configuration:
[code]

**Expected behavior**
Since its optiona

[2019-06-06 08:41] miljan-aleksic commented on #6153
After debugging this with @ndelangen it turns out to be a Vuejs specific issue when a Vue instance is attempted to be serialized. The Telejson library will attempt to use `JSON.stringify` on the Vue instance object which will expect the `toJSON` method to exist, as it does not Vue will warn about a undeclared method being referenced during render.

Serializing a Vue instance is not supported and m

[2019-06-06 08:47] leepowellcouk commented on #6983
After a bit more investigation with this it turns out Storybook is picking up our babel config - which we don't want Storybook to use. Is there a way of telling Storybook not to use it?

[2019-06-06 08:53] #6983 closed

[2019-06-06 09:04] yarastqt opened #6995 "Addon-docs: Support non-story exports"
**Describe the bug**
When im export my component with any HOC's, then in sidebar i'm getting unknown story with export name.

**Screenshots**
![image](https://user-images.githubusercontent.com/7934638/59020273-51a56380-8852-11e9-9d3c-9f4554b00be2.png)

**Code snippets**

[code]

**System:**
 - Framework: react
 - Addons: @storybook/addon-docs
 - Version: 5.2.0-alpha.21

[2019-06-06 09:10] ndelangen commented on #6983
If you want a storybook specific babel config, you can create a .babelrc in the storybook folder.

[2019-06-06 09:26] Kadrei commented on #6413
I do not like the need for adding a webpack config to storybook just for that but if it solves the problem.

What about adding a glob pattern targeting the `.storybook` folder to the `sideEffect` default webpack config? I am unsure how much else this would affect but might be a possible solution here.

[2019-06-06 09:35] yairEO commented on #6671
Sadly manually installing latest `npm i core-js -D` helped. Shame...
It's not good to manually install a dependency or a 3rd-party library such as Storybook. it should properly manage such issues internally

[2019-06-06 09:36] disintegrator commented on #6984
Getting the same issue as well.

**Dependencies**

[code]

**Webpack config**

[code]

[2019-06-06 09:40] ChandanPHAI commented on #6204
I am still facing the same issue.  @ByDesignGit Can you please explain how were you able to fix it ?

[2019-06-06 09:45] dartist21 commented on #6984
Same problem in my NuxtJS project

[2019-06-06 09:50] sanyamdogra commented on #3592
![image](https://user-images.githubusercontent.com/33497630/59023962-7d364700-886e-11e9-8aec-21f6369f45f1.png)
Hello, how can I get this `root 1` and `root 3` to work?

[2019-06-06 09:52] task-k0414 commented on #6984
I had similar situation too.
In my case install core-js@2.5.7 didn't solve the problem, instead install core-js@3.1.3 worked for me.

I found my project had error about  dependented `core-js/modules/web.dom-collections.for-each`.

[![errors](https://i.gyazo.com/7ee1b9ef68e981e1af50ca1e98514d98.png)](https://gyazo.com/7ee1b9ef68e981e1af50ca1e98514d98)

This file above is only in core-js@3.x so inta

[2019-06-06 09:55] leepowellcouk commented on #6983
@ndelangen - this is what I ended up doing, but ideally I didn't want to use any specific babel config, just the one baked into Storybook.

[2019-06-06 10:01] ChandanPHAI commented on #6204
Was able to fix by manually installing latest npm i core-js -D.
It's not good to manually install a dependency. it should properly manage such issues internally.

Waiting for the proper fix.

[2019-06-06 10:19] Areximacha commented on #6204
I also encountered the same issue. However, I believe it is now the opposite of the original issue where a previous package installed an older version of core-js (2.6.9) as a dependency and now storybook requires core-js@3.
Interim fixed using @ChandanPHAI solution and also waiting on a proper fix.

[2019-06-06 10:28] ByDesignGit commented on #6204
i solved it by moving my `.babelrc` into my `.storybook`

[2019-06-06 10:56] jonkwheeler commented on #6144
Is there any documentation on this? I checked out #6797 but I don't believe ability to change syntax theme changed. Any ideas?

[2019-06-06 12:24] #6223 closed

[2019-06-06 12:24] #6536 closed

[2019-06-06 12:35] huston007 commented on #6883
I believe search may be more specific and show only stories which have match in story name or in hierarchy path.

[2019-06-06 12:54] mykas commented on #6982
Hey, we found out the issue. It seems that we are using two dependencies that are using `@storybook/react` which uses `@emotion/core` libraries. One of them is direct dependency of our repo and another one is nested. The one which has the latest has @emotion/core 10 version and it win over our dependency chain which lead our storybook 4 to fail.

![image](https://user-images.githubusercontent.com/

[2019-06-06 12:56] mykas commented on #6982
We have the workaround to freeze the version, but maybe you could add `@emotion/core` as dependency in `@storybook/ui` ? maybe this will prevent the issue from happening?

[2019-06-06 13:33] umakantp commented on #6984
Similar situation here

[2019-06-06 13:42] ringodotnl opened #6998 "The pseudo class ":first-child" is potentially unsafe when doing server-side rendering."
**Describe the bug**
At the console: The pseudo class ":first-child" is potentially unsafe when doing server-side rendering. Try changing it to ":first-of-type".

**To Reproduce**
Run the angular demo in this repo and check the console.

**Expected behavior**
No error log

**System:**
 - OS: [Windows10,]
 - Device: [Desktop]
 - Browser: [Chrome]
 - Framework: [angular]
 - Addons: [all]
 - Version:

[2019-06-06 13:49] ButuzGOL commented on #6298
in ^5.1.1 have
still issue

[code]

[2019-06-06 13:56] lgraziani2712 commented on #6986
I updated to v5.1.1 and found that is fixed:

![image](https://user-images.githubusercontent.com/15050200/59038564-97116300-8849-11e9-96dc-add9f3ca2826.png)

[2019-06-06 13:56] #6986 closed

[2019-06-06 14:14] shilman commented on #6995
@yarastqt Yeah.. that needs to be documented. Is there a reason you need to export that?

[2019-06-06 14:23] yarastqt commented on #6995
For examples needed create complex component with compose, if not export const then this expression print as plain text, maybe have any ideas workarounds for this?

[2019-06-06 14:27] Piotr-Musial commented on #6204
Same thing here:
[code]

Deleting the alias didn't work for me. But I installed `npm i core-js -D` as @ChandanPHAI suggested, and it worked 👌

Waiting for the proper fix as well.

[2019-06-06 14:32] JonathanSpeek commented on #6984
As the OP said, I was trying to upgrade from `5.0.1` to `5.1.1`. I've tried using `core-js@^2.5.7` and `core-js@^3.1.3` with both Storybook versions. I've also removed (apparently not entirely) Node/NPM/NVM from my machine twice and I'm still getting the same issues even after pulling down a working branch to my machine 🤷🏻‍♂️It still works on other machines that didn't try to upgrade. Weird.

Here

[2019-06-06 14:35] NickSofology commented on #6998
I have also got this error since upgrading.

[2019-06-06 14:57] ndelangen commented on #6984
I'm taking a look now whether I can fix this.

I need all possible missing core-js modules/files listed, so please respond if you see one missing not listed yet:

- `core-js/modules/web.dom-collections.for-each`

I could also use a repo to reproduce this on.

**Current work around involves adding core-js with a < 3 version in your package.json**

[2019-06-06 15:00] yoojene commented on #6807
For anyone else searching this - I fixed it by moving the `create({...` directly into `config.js` rather than importing from another file and it worked fine.  No need to `export` and no errors!

[code]

[2019-06-06 15:15] arvenz0210 commented on #6204
It worked! I copied .babelrc in .storybook

[2019-06-06 15:20] JonathanSpeek commented on #6984
@ndelangen I'm not sure if this is helpful:
[code]

[2019-06-06 15:24] jhoffmcd commented on #6204
@arvenz0210 @ByDesignGit doesn't that mean you know have to maintain two `.babelrc` files? Seems undesirable.

[2019-06-06 15:31] wickkidd commented on #6204
Upgrading my vue.js project to `"@storybook/vue": "^5.1.1"` solved the core-js alias problem for me. 👍

- didn't need to move my `babel.config.js`
- didn't need to add/remove anything from my webpack config (I'm using https://github.com/storybookjs/vue-cli-plugin-storybook v0.6.1 so my webpack config is partly generated by vue-cli with a little bit of unrelated stuff I added via `vue.config.js` wh

[2019-06-06 15:33] thatguynamedandy commented on #6204
I'm also seeing this on an Angular project, hence no .babel file. No luck with either the separate core-js install or the alias deletion.
[code]
All revisions at 5.1.1.
[code]
Apologies I haven't had the time to debug any further.

[2019-06-06 15:35] jhoffmcd commented on #6204
Using `@storybook/react": "^5.1.1"` and still getting this issue with a fresh `npm install`. I suspect @ChandanPHAI is correct, I have other dependancies that have installed v2 of the `core-js` package.

[2019-06-06 15:53] iammattq commented on #6984
Unfortunately, reverting to <3 doesn't work for me. I've also deleted my `package-lock.json` and deleted my `node_modules` folder with a fresh install. Can't use `5.0.11` anymore either after trying to upgrade to `5.1.1`

[2019-06-06 16:14] mateuszgachowski commented on #5294
Thanks for trying the config @justinhodev
It depends what kind of components you are compiling - if you use render functions it will work without this alias.

[code]

vs

[code]

[2019-06-06 16:23] iammattq commented on #6984
Found a workaround:
- restore `package.json` & `package-lock.json` from before the 5.1.1 upgrade attempt
- delete `node_modules`
- `npm i`

back in business.

[2019-06-06 16:27] mattfwood commented on #5721
If anyone else is still getting this, i found that the issue seems to be adding prop types to a functional component.

[code]

For some reason commenting out `.propTypes` seems to make it work. Not sure if it's an issue with the prop types parsing for documentation or something else.

[2019-06-06 17:35] JonathanSpeek commented on #6984
I've also pulled-down what was a working repo as of 2 days ago, onto another machine and am facing these same issues. I'm not sure how that's happening (maybe I'm naive here) when I've specified versions of packages that were all previously working together. 🤷🏻‍♂️

[2019-06-06 17:43] shilman commented on #6984
Hey all @ndelangen is on the case here. If you have stack traces or public repros, please post them here to help the debugging process. 🙏

[2019-06-06 17:45] iammattq commented on #6984
wish I could help more, but everything is private

[2019-06-06 17:59] shilman commented on #6995
Gotcha. What's happening is that the MDX is being compiled to a new, platform-independent ES6 modules format where "exports" are treated as stories.

There are a few ways we could deal with this:
1) Change it so that MDX is loaded directly into the underlying Storybook `storiesOf` API, rather than using the modules format.
2) Provide a way to blacklist certain exports from being treated as stories

[2019-06-06 18:04] shilman commented on #6298
FYI this should be fixed in SB docs, which displays the actual source code. See the 5.1 release post for more info on how to kick the tires: https://medium.com/storybookjs/storybook-5-1-50afd02b5bbb

[2019-06-06 18:12] shilman commented on #6982
@mykas I'd try upgrading to 5.1.x and see if it's still an issue. We're unlikely to modify 4.1.x unless this is affecting a lot of people.

[2019-06-06 18:13] wiscat commented on #6984
in my case it was because of
https://babeljs.io/blog/2019/03/19/7.4.0#migration-from-core-js-2

[2019-06-06 18:14] JonathanSpeek commented on #6984
@ndelangen let me know what else might be helpful. Here's what I get from `npm i`
[code]

[2019-06-06 18:16] shilman commented on #6883
The problem here is that search searches over more fields than just the name of the story. Some of our users, including @ndelangen (who wrote the feature), insist that it's a good idea. I think it should be removed until we implement visual feedback on the search to show why these stories are matching.

Here's the other side of the issue: https://github.com/storybookjs/storybook/issues/6483

[2019-06-06 18:37] dankrieger commented on #6978
I had a similar problem where my storybook configuration was different than the default project even when it wasn't a lib.  There's a fix in 5.1 that will prefer a project named "storybook" to pull the build config from rather than relying on the defaultProject.  Try adding a config for a project named "storybook" to angular.json

[2019-06-06 18:42] huston007 commented on #6883
@shilman Thank you for you answer!

I totally agree that there might be different cases where such smart search would be useful. But I'd also like to share what exactly issue we have in our [Ring UI library](https://jetbrains.github.io/ring-ui/) – If you want to open, for example, "Button Ng" story, it is at the very bottom:
![image](https://user-images.githubusercontent.com/4318513/59057534-3c0c5

[2019-06-06 19:11] cocco3 commented on #6984
I had to copy my `.babelrc` file into the `.storybook` directory which was recommended here: https://github.com/storybookjs/storybook/issues/6204#issuecomment-490991488

Also, if you're having trouble with Babel, we have to specify a corejs version now. Here is my setup if that helps:

**.babelrc**
[code]

**package.json**
[code]

[2019-06-06 19:34] CelesteComet commented on #6002
I like the idea of adding an error message, we can check for the existence of package.json and show an error message that package.json has to exist instead of the current error:
[code]

I'd love to implement it.

[2019-06-06 20:24] #6196 closed

[2019-06-06 21:31] shilman commented on #6955
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.3 containing PR #6970 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-06 21:32] #6955 closed

[2019-06-06 23:28] Neablis commented on #6984
Looks like something is happening in the core-js project around that message that gets logged 20x

https://github.com/zloirock/core-js/issues/548

[2019-06-07 01:26] hipstersmoothie commented on #4958
@web-padawan Really excited to see this get in

[2019-06-07 02:29] agwells commented on #6110
Upgrading to `@storybook/addon-storyshots`@`5.1.3` resolved this issue for me.

[2019-06-07 03:58] lyqht commented on #6984
I'm using react-native storybook, and just upgraded from v4 to v5 with the following steps:
[code]
Then @storybook/react-native-server also gave me the same error in the issue reported at the top.
Installing`"core-js": "^3.1.3"` afterwards works to help me remove the error.

[2019-06-07 06:05] lyqht commented on #6917
tested on `"@storybook/react-native": "^5.1.3"`, same issue

[2019-06-07 06:06] alexandrmiee commented on #6984
@storybook/vue
Only the downgrade to 5.0.11 helped me

[2019-06-07 06:31] vlaraort commented on #6984
I am having the same issue with the storybook and all the plugins. All problems are related with core-js. are there plans to update all the core-js dependencies to the new major version?

[2019-06-07 09:08] alexan opened #7002 "@storybook/angular@5.1 moduleMetadata is not rerendering scene"
**Describe the bug**
I'm using moduleMetadata to mock some services in angular stories via knobs. After updating to storybook 5.1, storybook does update the value from the knob via the service

**To Reproduce**
I prepared a repo containing a story wich works with storybook 5.0.11 but doesn't with 5.1.3
https://github.com/alexan/storybook-module-metadata
https://github.com/alexan/storybook-module-m

[2019-06-07 09:20] mycroft16 opened #7003 "core-js modules not found when using load all stories glob"
**Describe the bug**
Multiple Can't resolve 'core-js/modules/' errors, but only when using the .storybook/config.js to load all stories matching a glob method.

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install of Angular 8
2. Fresh install of @storybook/angular following the guide at [https://storybook.js.org/docs/guides/guide-angular/](url)
3. Create config.js file (see below)
4

[2019-06-07 09:27] ndelangen commented on #6984
@JonathanSpeek can you post the contents of that polyfills.js file?

I think you're loading some core-js files manually, and those reference url's from core-js 2.

If you'd upgrade those to core-js 3 references, I think yours should work.

[2019-06-07 10:06] #6163 closed

[2019-06-07 10:43] Elecweb commented on #6974
Any workaround??

[2019-06-07 10:50] libetl commented on #6974
I believe you should make the eslint-loader failsafe for the moment in the webpack.common.js file.

[code]

[2019-06-07 10:51] libetl commented on #6974
however I don't know where this webpack config comes from. Is it a preset ? or custom config ?

[2019-06-07 11:06] #6546 closed

[2019-06-07 11:12] Txuso commented on #6541
Hi everyone,

I managed to make it work combining some of your solutions. The key is what @kroeder was suggesting of creating a "fake" I18 module and import it in the moduleMetadata. Moreover, the staticTranslateLoader can be used to handle translations within the component.  Here I paste the working config that should be added to you component stories.
![carbon](https://user-images.githubusercont

[2019-06-07 11:12] alexan commented on #6978
Today I generated a new angular 8 project with angular cli. To get storybook running I had to manualy install `babel-loader`and `@babel/core`. This was not a library project.

[2019-06-07 11:32] kroeder commented on #7003
Angular 8 dropped core-js as a dependency. You said

I did a fresh setup myself and it has worked - have you tried to follow the manual steps or have you used the CLI?

Can you try a fresh installation with
- `npx @angular/cli new angular8-project`
- `cd angular8-project`
- `npx @storybook/cli init`
` `npm run storybook`

Or try https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#angul

[2019-06-07 12:56] aralroca commented on #6981
I have exact the same issue

[2019-06-07 13:23] demyan1411 commented on #6984
Have the same issue, after update to  "@storybook/vue": "5.1.3", these error:
[code]

And only after `yarn add -D core-js@2.6.9` it's worked.

[2019-06-07 13:53] yarastqt commented on #6995
@shilman Maybe im trying send pull requests with `ignoreExports`?

[2019-06-07 13:54] ndelangen commented on #6984
@demyan1411
`core-js/modules/es7.object.values` should be `core-js/modules/esnext.object.values`

Can you share your setup so I can debug what's going on?

[2019-06-07 13:55] JonathanSpeek commented on #6984
@ndelangen
Here's my polyfills.js file:
[code]

[2019-06-07 13:57] ndelangen commented on #6984
@JonathanSpeek if you can change that file, so it maps to the new core-js paths, it should work!

[code]
maps to
[code]

[2019-06-07 14:04] JonathanSpeek commented on #6984
@ndelangen Thank you so much!

A combo of updating my pollyfill references and specifying the `core-js` version (for me `core-js@^3.1.1`), like what @cocco3 suggested - ended up working.

[2019-06-07 14:11] demyan1411 commented on #6984
@ndelangen, I don't connect anywhere specifically `core-js/modules/es7.object.values`

I only update @storybook/vue and addons to 5.1.3

 in my storybook/config.js I have:
[code]

[2019-06-07 14:13] knight-bubble opened #7004 "@storybook/addon-a11y raises an error related to Promise polyfill"
**Describe the bug**
After updating to @angular~8.0.0 and @storybook/angular~5.1.3 started to get unhandled promise rejections.

**To Reproduce**
Steps to reproduce the behavior:
1. Update @angular to version 8.0.0 using CLI tool
2. Update storybook and all related addons to 5.1.3
3. The addon-a11y should be imported in the addons.js
4. Run storybook
5. None of components are displayed on canvas
6

[2019-06-07 14:19] psarando commented on #6974
I ran into this same `Import in body of module; reorder to top  import/first` error in SB 5.0.x.

I got rid of those linting errors by using `config.module.rules.unshift` in `.storybook/webpack.config.js`, instead of `rules.push`:

[code]
This fix still works for me in SB v5.1.3.

[2019-06-07 14:23] mtmacdonald opened #7005 "[addon-notes] console warning (Each child in a list should have a unique "key" prop)"
**Describe the bug**
When using the Notes Addon, there's a React console warning:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install and enable the Notes Addon following the default [readme instructions](https://github.com/storybookjs/storybook/tree/master/addons/notes)
2. Run Storybook
3. Open the console
4. See error

**Expected behavior**
No console warning.

**System:**
 - O

[2019-06-07 14:26] shilman commented on #6995
@yarastqt That would be great. I'm also happy to implement it, tho I'd like to hear back from @tmeasday before we settle on a solution.

[2019-06-07 14:30] JonathanSpeek commented on #6981
I have this issue as well...

[2019-06-07 14:43] ndelangen commented on #6984
@demyan1411 could you try a process of elimination to deduce what is importing the incorrect path for core-js?

you stacktrace just points to `storybook/config`, so I have nothing to go on.

This issue has my highest priority. The issue is, The problem involves npm, lockfiles, package versions, webpack plugins. It's hard to replicate.

I really appreciate all comments here, I want to help resolve

[2019-06-07 14:49] ndelangen commented on #6984
@vlaraort we're on the latest 3.x.x version of core-js

[2019-06-07 15:27] demyan1411 commented on #6984
@ndelangen,
I think it is important to mention, my project was generated using `vue-cli@3.x`, and the Storybook was installed as a plugin `"vue-cli-plugin-storybook": "0.6.1"`.
`core-js@2` is a dependency of packets: `vue/babel-preset-app`, `babel-runtime@6.26`, `@babel-runtime-corejs2@7.4.5`, `lazy-universal-dotenv@2`.

`@babel-runtime-corejs2@7.4.5` is a dependency of - `vue/babel-preset-app`.
`

[2019-06-07 15:58] mydesireiscoma opened #7006 "Object styles. Animation / Keyframes"
## Description
Not able to use animations with object styles. (i.e. animations/keyframes are not working at all in case of object styles)
[code]
I am using `styled-system` and thought it's a `styled-system` issue
https://github.com/styled-system/styled-system/issues/547
But it's not
https://spectrum.chat/styled-components/help/how-can-i-use-a-custom-animation-with-the-style-object-syntax~91d624ea-

[2019-06-07 16:01] mydesireiscoma commented on #7005
I have same issue if `addon-notes` is installed

[2019-06-07 16:07] demyan1411 commented on #6984
@ndelangen, I found where this error comes from.
In my `babel.config.js` I has:
[code]
And I use `"@vue/cli-plugin-babel": "3.8.2"`.
In this plugin used `core-js@2`

https://github.com/vuejs/vue-cli/blob/v3.8.2/packages/%40vue/cli-plugin-babel/generator.js

[2019-06-07 16:23] #7006 closed

[2019-06-07 19:05] shilman commented on #6883
@huston007 That is one good looking storybook!!! ❤️❤️❤️

That's a clean solution to the search issue & would be easy to implement. I'd modify it slightly to where the config function gets the story context (params + other metdata) & the function can return a string to be indexed.

But before we add anything, I'd like to figure out what the long-term solution should be for discoverability from a UX

[2019-06-07 20:11] chris-dura commented on #6867
I am doing the same thing, I wasn't familiar with mermaid, until I started seeing it in the stencil readmes... it's very cool, and any of the addons like Notes or Info that already support Markdown should be able to layer in MermaidJS rendering 🤷‍♀

[2019-06-07 20:57] shilman commented on #6867
Pretty cool. Might add it as doc block, see: https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a

[2019-06-08 02:06] #6554 closed

[2019-06-08 02:42] colinbate commented on #6653
I don't think the core of this issue is resolved. While Svelte 3 support has been added (fantastic), the goal of this issue was to allow for more idiomatic Svelte usage by turning story definitions into Svelte components themselves.

As to your examples @rixo I think the first one is probably the best idea. Granted I'm just beginning with Storybook, it feels more appropriate. Just like you don't h

[2019-06-08 03:06] #6547 closed

[2019-06-08 04:08] shilman commented on #6653
@colinbate Any interest in trying to tackle this?

[2019-06-08 10:18] rixo commented on #6653
I've got something already. I'm wrapping it up a bit, and I'll send a PR.

[2019-06-08 15:06] kunalnagar commented on #6488
@fabb ran `npm audit fix` to fix the `@storybook/addon-info` vulnerability and it broke the `build-storybook` command. Here is some more info you might need, any help would be appreciated!

[code]

<details>
  <summary>Logs</summary>

[code]
</details>

[2019-06-08 15:07] agrapine opened #7010 "Incomplete stories"
**Describe the bug**
Starting up storybook brings up only a few stories from the full list.
If I add a new [xxxx].stories.js or rename one of the existing story file, all is good again :D

**Expected behavior**
Expect storybook to start with all the stories.

**System:**
 - OS: MacOS
 - Device: Macbook Pro 2015
 - Browser: chrome
 - Framework: react
 - Version: 5.1.3

**Additional context**
<img w

[2019-06-08 16:25] umakantp commented on #6471
I'm getting the following error when I listen to click even on a button and pass it to actions:-

[code]

My code is as simple as
`<Button onClick={actions('clicked')}Default</Button>`

Button component accepts the onClick and prop and sets on `<input type="button" onClick={props.onClick} />`.

[2019-06-08 16:53] umakantp commented on #6984
Here is reproducible repo:- `https://github.com/umakantp/demo-repro`

Just clone it and do `npm install && npm run start`

[2019-06-08 23:07] mycroft16 commented on #7003
Okay, ran those... new project created, storybook installed just fine.
npm run storybook threw the following errors:
[code]

So I ran `npm rebuild node-sass` as recommended.

Now I'm back to where I was before:
[code]

[2019-06-09 03:15] tmeasday commented on #6995
@yarastqt -- What does the `enhance` do?

My instinct is that if people want to do complicated JS-style things with their components in their story files then they should just do it in the module format and either define the markdown inside there (like `story.docs = `#some markdown`) or else create a second file MDX file that imports from the story file.

It feels like doing complex JS stuff insid

[2019-06-09 04:15] dcayers commented on #5663
Hi, to anyone still looking at this issue, I ran into it as well. My issues were with my `typescript` version not being the same as storybook's, as well as a component library running an older version of `storybook` with `emotion`.

To fix it, I changed my version (`3.5.1`) of typescript to `3.4.1` and it seemed to do the trick.

Also, In my case I have to reference the individual components of a

[2019-06-09 06:05] #6340 closed

[2019-06-09 07:18] shilman commented on #6995
@tmeasday I'm not sure I understand your last sentence there. AFAIK the issue is that Spin is being exported and that export is getting emitted in the module format directly. If the spin was just declared as a `const` but not exported, this wouldn't be an issue.

[2019-06-09 07:22] shilman commented on #7010
Is there an error in the browser JS console?

[2019-06-09 08:34] alexakasanjeev commented on #6910
@Gongreg I have created a repo which has the setup and is giving can't find variable: document error.

Please clone the `bug/storybook-addon-error` branch and see for yourself that whta you have said above I am doing that but it is giving error.

https://github.com/alexakasanjeev/ecommerce-component-library/tree/bug/storybook-addon-error

[2019-06-09 10:10] eikooc commented on #3871
@smnhgn when I add the `<ion-app>` wrapper the component just renders _undefined_. If I on the other hand add the `<ion-app>` tag directly in the component it renders just fine.
The stories file looks like this:
[code]

[2019-06-09 14:23] lonyele commented on #6992
@ericmick I tested with `5.1.1` and it looks fine for me(Loom is only available to chrome so it is recorded with chrome but I tested with firefox too and it worked ok) https://www.loom.com/share/7591109e616949a1aaf9c582a44fc3f5

[2019-06-09 14:40] lonyele commented on #6824
@Hypnosphi Hi, I'm just curious. For fixing those errors, passing `kind` to the `<LinkTo>` component worked fine. Is this supposed to work without explicitly passing `kind`?

[2019-06-09 15:03] mtrabelsi commented on #714
So basically there is no official built in solution and all the "solutions" are just random crappy hacks :)

[2019-06-09 15:12] mtrabelsi commented on #714
this doesn't work ;)

[2019-06-09 16:09] Gongreg commented on #6910
Hello.
Could you remove this line? https://github.com/alexakasanjeev/ecommerce-component-library/blob/bug/storybook-addon-error/storybook/index.js#L5

[2019-06-09 17:21] #5957 closed

[2019-06-09 19:33] tenjojeremy opened #7014 "dark base theme hides js code snippet"
**Describe the bug**
Js Code snippet uses dark text when using storybooks dark theme, which results in the snippet disappearing.

**To Reproduce**
Steps to reproduce the behavior:
1. Create readme and add <Modal show={show} animation='centerOut' />```
2. Click reload page
3. open notes panel/tab
4. js snippet code will be hidden

**Expected behavior**
js snippet text should be white and legible

*

[2019-06-09 22:18] tmeasday commented on #6995
@shilman because @yarastqt said that was the reason for the export:

Or did I read that wrong?

[2019-06-09 22:21] #2863 closed

[2019-06-09 23:06] zhaoyi0113 opened #7015 "Not work with `webpack2`."
I am using `webpack2` with `"@storybook/react": "^5.1.3",` but I found that I can't customise my webpack configuration. Because the `config` passed to the customised webpack is not `webpack4` format. As below example:

[code]

It will throw an error saying `loaders.push` is `undefined`.
I am not sure how to use `storybook` with `webpack2`. Is it supported or is there any workaround?

[2019-06-10 03:50] lyqht commented on #6605
I would like to request on documentation for ondevice theming!
I have tried adding the addParameters({ config}) method for theming but it does not work. I think this method does not exist for RN storybook yet, can the devs help to clarify this?

[2019-06-10 04:21] #5117 closed

[2019-06-10 06:18] alexakasanjeev commented on #6910
Hello @Gongreg, yes If i remove that line then the code is working fine, but the line is responsible for adding action tab, if I remove it then how will I see action tab in web browser.

I want to see action being logged, how can I do that, can you please fork and create a pull request with right code?

[2019-06-10 08:16] Gongreg commented on #6910
Hey @alexakasanjeev. I am on vacation right now and I don’t have access to a computer.

I can look into it in few days.

But the addons panel is supposed to work without including the line. When you run storybook server it automatically includes addons.js file for you.

[2019-06-10 08:19] vladanyes commented on #2989
Just add `import 'semantic-ui-css/semantic.min.css';` to your `.storybook/config.js`

[2019-06-10 09:23] yarastqt commented on #6995
Yep, if write:
[code]
im getting plain text in result :(

[2019-06-10 09:49] alexakasanjeev commented on #6910
@Gongreg yes you are right the `react-native-server` automatically includes addons.js.

Thank you so much for all the support. :)

I have a personal question, if you don't prefer to answer, I understand.
How can I start contributing to open source project. I am contributing to open source but they are small project how do one start contributing on storybook, or react-native debugger, these types o

[2019-06-10 10:49] magicspon commented on #6998
I'm also seeing this... except with React.

[2019-06-10 13:06] edward-s opened #7017 "storybook RN server not refreshing stories"
Between 5.1.0-rc.4 and 5.1.3, Storybook RN server is no longer refreshing stories displayed on iOS simulator.

Steps to reproduce:
1) Install `@storybook/react-native-server": "5.1.3"`
1) Launch storybook RN server, navigate to `localhost:7007` and click on any story
2) iOS simulator shows **Please open navigator and select a story to preview** instead of displaying the selected story
3) Open chro

[2019-06-10 15:10] Hypnosphi commented on #6824
Yes, in that case it should preserve the current kind. Quite useful for navigating inside a kind
That's how it worked before the changes from https://github.com/storybookjs/storybook/commit/a9d356444c75124ee0f1ff6a85a5604ee0b82ff6

[2019-06-10 15:39] shilman commented on #6605
@lyqht This needs docs, but did you try this example from the code?

[code]

[2019-06-10 15:39] edward-s commented on #7017
I did a small investigation and found that if I upgraded all to `5.1.3`,

then manually restore back both `@storybook/ui/dist/components/preview` and `@storybook/ui/dist/containers/preview` from `5.1.0-rc.4`, then the story is once again selectable via RN server. And no `lowerCase of undefined` error either

[2019-06-10 15:41] shilman commented on #7015
That's correct. Storybook uses Webpack 4. You can read more about upgrading here: https://medium.com/storybookjs/migrating-to-storybook-4-c65b19a03d2c

[2019-06-10 15:41] #7015 closed

[2019-06-10 15:46] jonwilliams-bluescape opened #7018 "Docs view PropsTable should steal from addon-info"
The info addon
https://github.com/storybookjs/storybook/tree/master/addons/info
does a decent job dealing rendering deeply nested props in its PropTable implementation
whereas the docs addon currently dumps everything on one line.

The use of expanding elipses is nice but even some pretty-printing / newlines would go a long way.

<img width="764" alt="Screen Shot 2019-06-10 at 11 41 50 AM" src="ht

[2019-06-10 16:00] jwm0 commented on #3291
For some reason it looks like resolve plugins aren't extended. So if you're using `TsconfigPathsPlugin` to get aliases for TS paths, you will need to redefine them in the storybook webpack config file.
[code]

[2019-06-10 17:01] sparanoid commented on #4764
@shilman I can still reproduce this issue in a fresh project created with CRA 3.0.1:

[code]

[2019-06-10 17:15] shilman commented on #7018
@jonwilliams-bluescape Thanks for the request & example! We'll beef this up before we ship 👍

[2019-06-10 17:25] shilman commented on #4764
@mrmckeb Any chance you can help @sparanoid on this?

[2019-06-10 17:29] ericcoulthard commented on #6984
Got storybook to run after installing core-js@^3.1.1. It gives me an error in chrome console now.

`host-report-errors.js:6 Unhandled promise rejection Error: Zone.js has detected that ZoneAwarePromise `(window|global).Promise` has been overwritten.
Most likely cause is that a Promise polyfill has been loaded after Zone.js (Polyfilling Promise api is not necessary when zone.js is loaded. If you mu

[2019-06-10 18:18] nelsieborja commented on #6981
Same issue using the `@storybook/react` 5.1.3 and `@storybook/addon-info` 5.1.3

[2019-06-10 18:32] chris-fran opened #7020 "Shallow rendering broke when upgrading to Storybook 5"
**Describe the bug**
The shallow rendered serialized snapshots broke after I upgraded from 3 to 4 and 4 to 5.

It used to render the inside of my component:
[code]

But now it's rendering the ...outside(?) of it

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Update the following packages

[code]

**Expected behavior**
My snapshots should not break, or at least should not render comp

[2019-06-10 18:46] shilman commented on #7020
@chris-fran Thanks for the bug report and also for the workaround! No sure what's going on here, but maybe somebody more familiar with storyshots can chime in. At least we should add your workaround to MIGRATION.md. cc @igor-dv @tmeasday

Also, do you happen to know if this worked in SB4?

[2019-06-10 18:49] chris-fran commented on #7020
@shilman I don't, I just followed the migration guide to 4 but it got me to 5 instantly (painlessly so that was cool).

I am wondering whether the problem I'm seeing is the same as this one https://github.com/storybookjs/storybook/issues/6880

[2019-06-10 18:50] shilman commented on #6880
Closing this as a dupe of #7020

[2019-06-10 18:55] shilman commented on #6930
Closing as a dupe to https://github.com/storybookjs/storybook/issues/6569

[2019-06-10 18:55] #6930 closed

[2019-06-10 18:56] shilman commented on #6928
@ndelangen seems like another `core-js` related bug, but not sure whether it's a dupe

[2019-06-10 19:00] shilman commented on #6909
@iamnewton Do you have a repro here? Hard to tell what's going on just from the stack trace. Is this a project that worked before and broke when you updated? If not, I'd suggest removing all addons and trying to isolate the problem that way. Or provide a repro and somebody can take a look. Thanks!

[2019-06-10 19:03] shilman commented on #6908
Any other errors on the JS console or command-line? What happens if you disable `storybook-readme`?

[2019-06-10 19:03] javidhsueh commented on #6998
same here with React
Version: SB@v5.1.3

[2019-06-10 19:04] shilman commented on #6873
@khrome83 You can enable verbose logging in chrome dev tools and see every message that gets sent on the channel. Does that help?

[2019-06-10 19:04] chandanaswal18 opened #7021 "Storybook v5 breaks when using Storybook Info Addon"
**Describe the bug**
I am trying to implement Storybook Info Addon and it is breaking the storybook. All other addons are working fine, only in case of info addon it's breaking.

**Code snippets**

**Config.js**

[code]

**Story.button.jsx**

[code]

**webpack.config.js**
[code]

**Package.json library versions I am using**
[code]

i have installed core-js to resolve issue https://github.com/story

[2019-06-10 19:06] shilman commented on #6870
What if you do:

[code]

[2019-06-10 19:07] shilman commented on #6868
Good one! 😆

[2019-06-10 19:09] kaiyoma commented on #6569
Adding a comment to beat back the inactivity bot. I find the keyboard shortcuts pretty disruptive, so having a working config option to disable them would be great.

[2019-06-10 20:36] chris-fran commented on #7020
@shilman the workaround doesn't always work. Doesn't work for HOC wrapped components that you try to unwrap with the `component.WrappedComponent` pattern

[2019-06-10 20:51] aleclarson opened #7022 "Use source-map-loader by default"
**Is your feature request related to a problem? Please describe.**
Source maps for `.js` modules aren't used

**Describe the solution you'd like**
Include [`source-map-loader`](https://github.com/webpack-contrib/source-map-loader) in the default webpack config

**Are you able to assist bring the feature to reality?**
no

[2019-06-10 20:57] jmlivingston commented on #6339
@spiltcoffee - Nice tip! For others, I had to add this before the "var observer...", since it was looking for changes. A shame there isn't a less hacky way to do this.

```document.title = "custom title";```

[2019-06-10 21:53] elevatebart commented on #6932
Hey @alvarosaburido,
 believe we need one more file to be able to help you:
- Can you add the `.stories.js` file you are loading?

[2019-06-10 21:56] elevatebart commented on #6932
OK, my bad I just did not look at your screenshot hard enough.
I have your story.
Just as a rule of thumb, if you want to share code, it usually is better to share it with text ;)

Thank you for sharing.

[2019-06-10 22:01] elevatebart commented on #6932
I believe you might be missing the [VueLoader Plugin](https://vue-loader.vuejs.org/guide/#manual-setup) in your webpack config.

Can you tell me it it helps ?

[2019-06-10 23:31] tmeasday commented on #6995
@shilman having said everything I said above, (I guess reacting to us trying to support non-story exports in order to work around a work around which seems a bit mad), some feedback I did get on the module format was that people wanted to be able to have non-story exports (e.g. for data or other story-related exports that you might want to use in other story files).

One idea I kicked around in th

[2019-06-11 00:37] Jimmydalecleveland commented on #5949
Hello,
I'm using a monorepo of gatsby projects (gatsby-themes) and getting this error, only when importing `Link` from gatsby, no matter what I try:
[code]

I feel certain this is an issue with monorepos and storybook (perhaps the combination with gatsby as well), because I have a gatsby starter project running just fine with storybook ( `gatsby: 2.8.4` and `@storybook/react: 5.1.3`) after followi

[2019-06-11 01:03] ewolfe commented on #6880
@shilman that ticket is regarding Storybook 5. I'm still on Storybook 3. Would you mind re-opening this?

[2019-06-11 01:06] jmlivingston commented on #6339
After trying several solutions, I finally found a clean solution for this. I'm a bit surprised this isn't documented anywhere as this seems like a very common use case.

Create a file called TitleAddon.js with the following content:
[code]

Add a reference addons.js
[code]

Note: I'm using my package.json name as a suffix in the title, but this can be changed to anything. You can also add the stor

[2019-06-11 01:09] ewolfe commented on #995
Did any of you ever find a solution to shallow render snapshots but omit the decorator?

[2019-06-11 01:10] khrome83 commented on #6873
@shilman - i abandoned this and took a different approach. I added a decarator that renders multiple instances of the content, each with a different background color, and applying a different parent class, so the content could respond.

Thank you though.

[2019-06-11 01:15] leoyli commented on #6994
@jakubikan, I think you are right. For the context have more than 2 sets of params, it does not make sense to hide the selection menu if no icon is given. Although the [implementation](https://github.com/storybookjs/storybook/blob/f6fe0141ee18c105d0f02c571d77d4b86a9abcfb/addons/contexts/src/preview/libs/getContextNodes.ts#L17) implies user can "turn it on" in the story-level later, but it seems no

[2019-06-11 01:21] leoyli commented on #6994
I will wait a couple days in case someone not happy about that. Depends on the view point, I think this could mark as a bug since it does a bit strange although the doc says you have to provide the icon name.

I'd like to "fix" this behaviour during the next weekend, or @jakubikan may interested to submit your first PR to storybook, I believe the code should be explanatory by itself. 😉

[2019-06-11 01:27] tmeasday commented on #7020
@shilman I don't know we've ever really resolved this question of storyshots/shallow rendering/decorators.

In SB5 we added a `getOriginal` function to the story context that you could use to drop decorators.

However I think this is an unsatisfactory solution because in many cases the decorators are needed to render the story properly (as opposed to used for layout or utils like the console addon

[2019-06-11 01:41] JonathanSpeek commented on #6981
Anyone have a workaround that doesn't involve gutting all js in markdown?

[2019-06-11 01:54] lyqht commented on #6605
hi @shilman, i have tried the above code that you have given and with the following template code on the storybook website, but both still rendered the storybook in default theme:
[code]

[code]

Thanks for helping!

[2019-06-11 03:18] Gongreg commented on #6605
@lyqht could you also write the storybook version you are using?

[2019-06-11 03:23] mikecousins commented on #4764
Yeah I still get the same errors with CRA 3.0.1 and Storybook 5.1.3 as well.

`yarn install v1.16.0
[1/4] �🔍  Resolving packages...
[2/4] �🚚  Fetching packages...
info fsevents@2.0.6: The platform "win32" is incompatible with this module.
info "fsevents@2.0.6" is an optional dependency and failed compatibility check. Excluding it from installation.
info fsevents@1.2.9: The platform "win32" is inco

[2019-06-11 03:56] shilman commented on #6880
@ewolfe Aha sorry about that. Reopening!

[2019-06-11 05:08] rakibhasan48 commented on #6910
I am facing the same issue. If I remove the following line from storybook/index.js my app works :

`import './rn-addons';
// import './addons';`

But as a result nothing shows up in the storybook web server. Is there any way for the web server and the app to work at the same time?

[2019-06-11 05:11] shilman opened #7024 "Addon-docs: DOCS_MODE undefined in ui_dll"
As part of `addon-docs` we're using a webpack-defined variable called `DOCS_MODE` to communicate from the CLI (e.g. `yarn storybook --docs`) to the manager whether or not to display the "docs mode UI" (canvas hidden, etc.)

This is working successfully in the examples directories that use the `--no-dll` flag. However, it is not working in the standard DLL directories such as `examples/svelte-kitch

[2019-06-11 05:11] shilman commented on #7024
Also, possibly unrelated `--docs` is no longer working in `v5.2.0-alpha.23` in a standalone project. There is no error, but running with `--docs` seemingly has no effect. This might be due to a bad merge of the `next` branch into `release/docs-technical-preview`.

[2019-06-11 05:26] shilman opened #7025 "Addon-docs: Collaborators doc block"
Doc block to show avatars of collaborators for a component, and possibly information related to their commit history.

[2019-06-11 05:48] alexakasanjeev commented on #6910
@rakibhasan48 hello, I was having the same issue, the storybook wasn't loading in the browser,
the solution is mention here https://github.com/storybookjs/storybook/issues/6489#issuecomment-482356045

Make sure your storybook server and everything is running then
find our where your android sdk is installed

if your are on ubuntu it will be
`home/your_username/Android/sdk`

now in terminal type
[c

[2019-06-11 05:55] rakibhasan48 commented on #6910
This solved the problem. Thanks a lot.

[2019-06-11 05:58] alexakasanjeev commented on #6910
You welcome :)

[2019-06-11 06:02] vladanyes commented on #952
You can do smth like this:
[code]

[2019-06-11 06:03] vladanyes commented on #150
storiesOf('elements/Button', module)
  .addDecorator(withInfo)
  .addDecorator(story => (
    <div style={{ paddingLeft: 10 }}>
      <h5>Завершающие кнопки (большие) в карточках позиций и всплывающих окнах</h5>
      {story()}
    </div>
  ))
  .add('Завершающие кнопки(большие)', () => (
    <Button theme="blue" position="complete" onClick={action('onClick')}>
      Добавить продукт
    </Button

[2019-06-11 06:16] graup commented on #6915
Thanks, that works. Should probably be mentioned in the documentation? Currently it just says "You can add the backgrounds to all stories with addParameters in .storybook/config.js".

[2019-06-11 06:28] Gongreg commented on #6910
@alexakasanjeev Regarding your question. You are already contributing by asking questions and answering them. :) Helping out with docs and questions is as important as writing code.

But since you want to contribute to bigger project with code Storybook should be really good place to start. It is already a big project but there are people who try to make sure (@norbert) that everyone can contribut

[2019-06-11 06:56] alexakasanjeev commented on #6910
Thank you once again, I really appreciate you taking your time and helping newcomers and guiding. A years back I used to see OSS as this massive mountain that only experts used to climb, but as I started poking around github and started my own OSS project I get a hang of it, and my perspective changed. My main reason to do this is to improve my skills, to learn from the best and implement back tha

[2019-06-11 07:03] alvarosaburido commented on #6932
Hello @elevatebart thanks for helping me, I currently fixed it by separating `vue-style-loader` to it's own rule for scss only like this:

[2019-06-11 07:13] PratapDessai commented on #1417
const req = require.context("../lib", true, /.stories.js$/);

function loadStories() {
  req.keys().forEach(filename => req(filename));
}

configure(loadStories, module);

if (module.hot) {
  module.hot.accept(() => configure(loadStories, module));
}

[2019-06-11 07:53] alexan commented on #7002
can I implement the story in a different way? Is this unintended behaviour?

[2019-06-11 08:03] michael-ecb opened #7032 "React-Jss injectSheet overriden by Material ui V4"
Hi,

React-jss injectSheet is injected before Material ui styles so it's overridden .
it's only happen in Storybook and not in production code.

this is my configuration:
- "@storybook/addon-actions": "5.1.1"
- "@storybook/react": "5.1.1"
- "react-scripts": "3.0.1"
- "react-jss": "8.6.1"
- "@material-ui/core": "4.1.0"

I'm not working with hooks but on classes so I'm using "injectSheet" that wrap

[2019-06-11 08:19] JeffGuKang commented on #7017
I have a same problem in @storybook/react-native-server": "5.2.0-alpha.23"

[2019-06-11 08:25] shilman commented on #6995
@tmeasday @yarastqt OK I missed that bit about `const x` treated as plain text.

That's part of the MDX spec. MDX understands:
 - markdown
 - JSX
 - imports & exports

The boxing proposal fits nicely with our MDX compiler. JSX `<Story name=xxx>` elements would get mapped to boxed stories and all other exports would be treated as normal exports. I could imagine other benefits to this, e.g. it might

[2019-06-11 08:45] Waseemrajashaik commented on #6711
@npattarone what was the mistake you made ?

[2019-06-11 08:48] de-dan commented on #6870
Thank you! That works. (But it is a workaround in my opinion)

[2019-06-11 08:50] Waseemrajashaik opened #7033 "ERROR in ./node_modules/cosmiconfig/dist/readFile.js"
**Describe the bug**
Can't Run Storybook without any error

**Expected behavior**
Should Run Storybook without any error

**Code snippets**
[code]
add package
[code]

Error Saying
[code]

[2019-06-11 09:13] Waseemrajashaik commented on #7033
i think i got solution - we need to remove node_modules and yarn.lock - reinstall them - then run `yarn start` after that `yarn run storybook` - yarn start will create few files to support yarn run storybook

[2019-06-11 10:11] ndelangen commented on #5949
@Jimmydalecleveland run storybook with the `--debug-webpack` flag and it will print the webpack config for you.

Look at the loaders defined and you'll see there are exclude & include rules for the loaders responsible for transpiling code.

I think if you just remove the include property, it should start to work for you.

[2019-06-11 10:13] ndelangen commented on #6928
@nahumzs any chance you can give me access to your repo, so I can debug locally?

[2019-06-11 10:21] alexakasanjeev commented on #4716
Hi I am using version 5.1.3 of `@storybook/react-native-server` and the first story is loading fine, but then after selecting any different story, it's say `Please open navigator and select a story to preview` if I refresh the browser then the story which I select previously is working fine

Here is the entire code with the problem
https://github.com/alexakasanjeev/ecommerce-component-library/tree

[2019-06-11 10:33] JeffGuKang commented on #6882
To install `@emotion/core` is solved this issue in react native 0.59.9

[code]

[2019-06-11 10:37] ndelangen commented on #6984
@umakantp I'm cloning your repo right now, thanks for posting!

[2019-06-11 10:43] ndelangen commented on #6984
@umakantp Just ran your repro repo successfully, using yarn as package manager.

[2019-06-11 11:16] tmeasday commented on #6995
Yeah we should think about this and loop @ndelangen in as he had opinions about the export being as simple as possible

[2019-06-11 11:41] brenzy commented on #7004
When I am using storybook with an angular library that does not include zone.js (without an application in the workspace), I have the same issue with @storybook/addon-links/register.

[2019-06-11 11:43] john-bell-gw commented on #6505
I'm also having this problem and I'd really appreciate some help.

[code]

[2019-06-11 12:14] HiHiPoBang opened #7049 "Warning: Received `true` for a non-boolean attribute `loading`."
**Describe the bug**
At the console: Warning: Received `true` for a non-boolean attribute `loading`.

**To Reproduce**
Steps to reproduce the behavior:
1.  vue create my-project
2. npx -p @storybook/cli sb init --type vue
3. Then follow the doc from [https://storybook.js.org/docs/guides/guide-vue/](url)

repo: https://github.com/HiHiPoBang/storybook-demo

**Expected behavior**
No error log

**Scre

[2019-06-11 12:39] sindrisig commented on #6981
Same issue here.

[2019-06-11 13:36] smykes commented on #6311
The weird part for me is it runs fine locally, but throws this error when deployed too Netlify.

[2019-06-11 13:44] gorilazish commented on #7049
I get this one as well on React project (Storybook 5.1.3)

[2019-06-11 13:48] Nightbr commented on #7049
I get it also on HTML (stenciljs)
[code]

[2019-06-11 14:04] Yankovsky opened #7052 "Add storybook-addon-themes to community addons list"
Link https://github.com/tonai/storybook-addon-themes

It allows you to select theme in top menu
![https://camo.githubusercontent.com/ceb01675678a451312afac04509d8883b45d95d9/687474703a2f2f732e63737373722e72752f5530324432343854362f323031392d30362d30342d303730392d376f35716868707831722e706e67](https://camo.githubusercontent.com/ceb01675678a451312afac04509d8883b45d95d9/687474703a2f2f732e63737373722e72

[2019-06-11 14:12] neil-morrison44 commented on #7049
Seeing this as well with a react storybook with the following deps:

[code]

Interestingly `storyshots` runs the storybook fine -  it'd have been caught in our tests if they were both affected

[2019-06-11 14:16] amerjx commented on #6133
i second @vitalybe, one of our components relies on a redirect from a payment result, and we would like to have that showcased in storybook.

[2019-06-11 14:18] ndelangen commented on #6995
When we load in the mdx, can we get a list of exports?

Then mark those exports as non-stories automatically?

[2019-06-11 14:26] ndelangen commented on #6133
@vitalybe an option for an alternative would be addon-context, and reading the mock boolean from there. You'd be able to switch mocking on and off from the storybook UI.

I understand if that's not really feasible. I second @tmeasday's suggestion of an queryParameters addon that would read parameters.query and change the url accordingly before calling the storyFn.

[2019-06-11 14:32] Jimmydalecleveland commented on #5949
@ndelangen Thank you for the quick response. I solved this problem last night differently, and now that I've tried your suggestion and it also works, I'm not understanding why.

I pushed a separate include rule: `path.resolve('../../node_modules/gatsby')` because my understanding was that Gatsby has un-transpiled ES6 code and I saw from the Error I previously posted that it was failing when encoun

[2019-06-11 14:32] vlaraort commented on #7049
getting this too

[2019-06-11 14:50] chris-fran commented on #7020
@tmeasday I'm a huge `shallow` rendering advocator; it is the closest, if not, to a unit test for a serialized component. From my point of view, when shallow rendering, the decorators are not wanted. I think a more satisfactory solution would be to opt-in/out of receiving or not the decorators.

I'm sure they're needed for rendering the complete story, and even for image snapshot tests; but for sh

[2019-06-11 14:55] fantun3s commented on #7049
getting this as well :/

[2019-06-11 16:43] jchiatt commented on #3992
Anyone ever find a solution for this? I attempted `import * as React from 'react'` but that doesn't work for me.

Still seeing `<Unknown>` as the top-level component in Story Source, and I'm seeing "Unknown Component" and "no propTypes defined" at the bottom. Using Typescript and docgen plugin to see my props table (which is working fine), but I'm still seeing the Unknown message section underneat

[2019-06-11 17:00] nahumzs commented on #6928
the repo is: https://github.com/acl-services/paprika

But I think I have found the reason why this is occurring:

The next line of code breaks the *dist* version while working in the dev version:

[code]

*error*
![Screen Shot 2019-06-11 at 9 45 24 AM](https://user-images.githubusercontent.com/19418590/59291014-c26fc580-8c2e-11e9-9480-49bd2b983dbf.png)

The other problem I was having is the use of

[2019-06-11 17:03] ndelangen commented on #5949
@Jimmydalecleveland removing that include is on my todo list, but I'm afraid of it messing up people's setup, So I want to do it for the next major (6.0) I think.

My solution works because it simply removes all include filters.

Yours work, because... I have no freaking clue why. 😭 not enough context on the project file structure to really judge.

[2019-06-11 17:06] ndelangen commented on #6928
@nahumzs If you'd be able to do some debugging on that css issue on what exactly in our code is making that possible at development but impossible at static build, I'd be keen to know.

Would be a great contribution to the project 👏

[2019-06-11 17:11] joselcvarela commented on #7049
I am also experiencing this using Angular.
[code]

[2019-06-11 17:17] ndelangen commented on #6389
Sorry for the late reply, You can tweak the config by creating a `webpack.config.js` in the storybook folder.

To determine what to change, you can run storybook with the `--debug-webpack` flag. That will print the full webpack config for you, so you know what to edit.

Note that storybook 5 requires your webpack.config.js to export a function, not an object.

I think your modification to the conf

[2019-06-11 18:11] umakantp commented on #6984
@ndelangen Well I was using npm. Using yarn means not using my package-lock.json

I think you should try using npm once

[2019-06-11 18:27] haldunanil commented on #6908
I was actually able to fix this, I will comment back with what I did as soon as I remember.

[2019-06-11 18:41] shilman commented on #6995
@ndelangen We can do whatever we want from MDX. The question is how we need to designate that in the modules format.

[2019-06-11 18:44] #6908 closed

[2019-06-11 18:53] Jimmydalecleveland commented on #5949
@ndelangen Ok, no problem. I'm pretty sure it is a very specific problem to monorepos with Gatsby and storybook not at the root of the project. Take care!

[2019-06-11 21:26] JasonTheAdams opened #7055 "Error on start: Failed to load preset: framework-preset-cra.js"
**Describe the bug**
I'm attempting to do `npm run storybook` and getting the following error:
[code]

Here is my `config.php`:
[code]

**To Reproduce**
1. Run `npm run storybook`

**System:**
 - OS: MacOS 10.14.5
 - Device: MacBook Pro 2015
 - Browser: Chrome
 - Framework: React
 - Addons: knobs, actions, links
 - Version: 5.1.3

**Additional context**
It was working a sub-package within the proj

[2019-06-11 22:19] chris-fran opened #7056 "Storybook server will rebuild when a storyshots-puppeteer test case fail"
**Describe the bug**
When one of my `storyshots-puppeteer` test cases fail, the storybook server prints an extra

[code]

I believe this might be just that the storybook server is watching for changes in all of the files, including the ones on `__image_snapshots__/__diff_output__/`. ?

As a result, my test suite isn't being ran successfully, it crashes with [this OOM error](https://gist.github.com

[2019-06-11 22:30] ndelangen commented on #6995
This would be a manual ignore-list (proposed by @shilman)

I think asking users to add this list manually is not optimal.

I'd prefer an allow-list instead:
[code]

But honestly I think this list should just not be manual at all.

The storybook mdx loader should just differentiate between an export it received and one it generates.

The ones it generates it would also add to a list in the default

[2019-06-11 22:49] ndelangen commented on #6984
Sorry i didn't report after. I did of course try npm and was able to reproduce.

The lockfile is the problem probably, but good news! My PR for a fix for storybook to deal with it, has been merged, and @shilman will do an (alpha?) release after he's off the plane and dealt with the jetlag.

[2019-06-11 22:50] ndelangen commented on #6984
Thanks a ton for helping me reproduce @umakantp ❤️

[2019-06-12 00:46] ndelangen commented on #6145
I think you're going to have the exact same issues in whichever frame you put docs. Unless I'm misunderstanding this issue, it's about being able to override the targeted default styles, not about styles unintentionally bleeding down.

[2019-06-12 01:12] ndelangen commented on #6883
@shilman @cestrensem How about we do normal "only on name based" filtering, and then when the user filters to 0 results we show a hint:

And then obviously build a feature where if the query starts with a `/` we search more fields?

I'd really like it if instead of us writing it for everyone, this part of storybook would become pluggable, so addons could change this behavior.

[2019-06-12 01:15] #6110 closed

[2019-06-12 01:27] ndelangen commented on #4958
@web-padawan @emilio-martinez @hipstersmoothie @jackblackCH @chhschou @jokin

I'd like to kick this off for realz this time, and get a group together passionate about this.

I'll open a zoom:

**Jun 13, 2019 8:00 PM GMT**

Hope you can join, feel free to join late, I'll keep it open.

The agenda is:
- Rename polymer app to something generic or lit-html
- What are the required changes to make that

[2019-06-12 01:28] ndelangen commented on #6002
@CelesteComet thank you, do you need help getting started?

I can find a slot in my calendar tomorrow to help you get going?

[2019-06-12 01:29] ndelangen commented on #6982
@mykas is anything preventing you from migrating to 5.x? I'm pretty sure it would indeed resolve your issue.

[2019-06-12 01:31] ndelangen commented on #6204
This PR is did today should fix this, @shilman will do a new release testing this soon: #7051

[2019-06-12 01:32] ndelangen commented on #6596
If this flag is toggle-able from the webpack config, this should be fairly simple to implement, any takers?

[2019-06-12 01:47] Jessica-Koch commented on #5030
Can I help with something on here?  I was going to work on app/react, but I see that has already started

[2019-06-12 02:00] kevinSuttle commented on #6642
I've seen how the folks at Segment handle this:

https://github.com/segmentio/evergreen/blob/7fc8135c2b80afd6c7158853f7ffdf4acfffbced/docs/src/components/Playground.js

https://github.com/segmentio/evergreen/blob/7fc8135c2b80afd6c7158853f7ffdf4acfffbced/docs/src/components/MDXPlayground.js

Live example: https://evergreen.segment.com/components/button/

[2019-06-12 03:02] Turkyden commented on #7049
@HiHiPoBang Yeah, i get it error in react project too. Could you help me ?

[2019-06-12 03:13] chingchinglcc opened #7058 "addDecorator doesn't work on config.js"
**Describe the bug**
I am trying to implement some global style. And I think config.js is the good place to put my code. I copied the addDecorator from the official storybook doc to test. But it shows the error:

[code]

I am using the create-react-app and `@storybook/react": "^5.1.3`
It is a problem with Create-react-app?

The addDecorator works fine on individual components but it does not work

[2019-06-12 03:32] HiHiPoBang commented on #7049
@Turkyden
Sorry, I use Vue.js and search the similar problems are also with react, so I guess it' s a bug of storybook.

[2019-06-12 05:07] tmeasday commented on #6995
I personally don't think we need to worry about allowing non-story exports from MDX. I am not convinced this is a problem that we need to solve this way. For instance, is there is probably a better way to solve the original issue on this ticket rather than hackily supporting a hack (exporting something that is not intended to be exported).

However, I do think there is a legitimate use case for no

[2019-06-12 05:15] tmeasday commented on #7020
@chris-fran perhaps you could try using `getOriginal` and writing a custom shallow renderer storyshots renderer? If it works well perhaps you could report back here (or on a new ticket perhaps).

I'm wondering about this.. what does the test-utils version of `intl` do? Are you doing things like checking certain things are called on it or something? Or is it just faster than the real one?

I guess

[2019-06-12 06:48] p-moreira opened #7060 "To support nuxt-optimized-images module - https://www.bazzite.com/docs/nuxt-optimized-images/"
**Is your feature request related to a problem? Please describe.**
I can't use nuxt-optimized-images module with Storybook. The `?include` [query](https://www.bazzite.com/docs/nuxt-optimized-images/usage/#include) doest not works in Storybook component preview.

**Describe the solution you'd like**
**Solution 1:** To detect the nuxt-optimized-images module and setup the necessary webpack config.
*

[2019-06-12 07:52] drichar commented on #7049
Getting this as well with React
[code]

[2019-06-12 08:41] Kosai106 commented on #6204
Still happening with `"@storybook/react": "^5.1.3"` - Installing `core-js --dev` fixed the issue on my end.

[2019-06-12 08:59] ChandanPHAI commented on #6204
anyone facing issue https://github.com/storybookjs/storybook/issues/7021 ??

[2019-06-12 09:10] B3Kay commented on #7049
I get this problem aswell with React

`"react": "^16.4.0",
    "react-dom": "^16.4.0"`

`"@storybook/addon-links": "^5.0.11",
    "@storybook/addon-notes": "^5.0.11",
    "@storybook/addon-storyshots": "^5.0.11",
    "@storybook/addon-storyshots-puppeteer": "^5.0.11",
    "@storybook/addon-storysource": "^5.0.11",
    "@storybook/addons": "^5.0.11",`

[2019-06-12 09:21] B3Kay commented on #6998
Im also seeing this error with React:

[code]

[code]

[2019-06-12 09:29] ndelangen commented on #6995
You mean in the storybook mdx loader we just drop the extra exports and fix the issue that way?

You're right, I forgot about that.

Still, considering we talked about stories as data, -where the story is the pure mockdata-, do you still believe this would be a good idea?

The idea is that you'd only need to use this IF exporting non-stories from this module format. Minimizing the annoyance-factor

[2019-06-12 09:36] ndelangen commented on #7021
We indeed use `nested-object-assign` in addon-info, but your stack trace seems to have the package.json file imported from that module, that is then unloadable by node.

Very very confusing..

Could you please remove all node_modules and lockfiles and re-install? Before i start debugging further, I'd like to eliminate the issues isn't a corrupt node_modules / lockfile situation.

[2019-06-12 10:03] ndelangen commented on #5030
@Jessica-Koch Would you be interested migrating `app/vue`? Or perhaps @kroeder would like to trade, so you can take `app/react`?

[2019-06-12 10:04] ndelangen commented on #5030
One that is missing on the list is `lib/client-api` could be perfect for you @Jessica-Koch ?

[2019-06-12 10:06] ChandanPHAI commented on #7021
I removed all node_modules and lockfiles and re-install it. Still getting the same error.

[2019-06-12 10:21] michael-ecb commented on #7032
Guys from Material ui answered me and give a solution that work fine but not clear for me why it's only happen with storybook and not in my code production....
[the answer here](https://github.com/mui-org/material-ui/issues/16150)

[2019-06-12 10:29] chandanaswal18 commented on #7021
I have removed all node_modules and lock files and re-installed it. Still getting the same error.

[2019-06-12 10:57] tmeasday commented on #6995
What I mean is that I don't currently think there are legitimate use cases for exporting from an MDX story file directly (willing to be convinced though!). In this case @yarastqt is simply `export`-ing in order to work around a limitation of MDX, they are not actually trying to export anything. I would suggest we explore the use case a little more before worrying about supporting MDX exports just

[2019-06-12 10:59] mwager commented on #6984
Same issue here, tried lots of workarounds, none of them worked so far :(

[code]

[2019-06-12 11:02] vlaraort commented on #6984
Yup, can't wait this is released

[2019-06-12 11:10] ndelangen commented on #7021
@chandanaswal18 @borisdiakur would you have a way for me to reproduce this bug locally on my own machine?

[2019-06-12 11:28] dependabot-preview[bot] opened #7062 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-06-12 12:17] #6575 closed

[2019-06-12 12:17] #5291 closed

[2019-06-12 14:42] JasonTheAdams commented on #7055
I just tried deleting the `.storybook` directory and all the npm packages, then starting from scratch with `npx -p @storybook/cli sb init --use-npm --type react`. This produced the exact same error, so it seems I'm pretty stuck. 😕

[2019-06-12 14:48] maxigimenez opened #7065 "Unexpected value 'undefined' declared by the module 'DynamicModule'"
**Describe the bug**
Cannot use any addon because got the same error `Unexpected value 'undefined' declared by the module 'DynamicModule'`

**To Reproduce**
1) Install `addon-notes` to my project
2) Include `import '@storybook/addon-notes/register';` on `addons.js`
3) Add `notes` property to my story

**Expected behavior**

**Screenshots**
If applicable, add screenshots to help explain your proble

[2019-06-12 15:01] JasonTheAdams commented on #7055
I deleted the `node_modules` and `package-lock.json` file and tried installing fresh again. It did the trick this time. Clearly something got garbled up, but I'm not sure what. 🤷‍♂

[2019-06-12 15:01] #7055 closed

[2019-06-12 15:27] B3Kay opened #7066 "Ability to hide Canvas Tab"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated that **Canvas** is the main tab. My team use Storybook as a component library but also as a styleguide. We put the styleguide text as Markdown with Notes.

**Describe the solution you'd like**
I would be able to hide the Canvas tab. So the user doesn't need an extra click to read the Notes.

Maybe something li

[2019-06-12 15:32] nmorris2 commented on #6998
Also seeing the same error with Storybook and Vue after upgrading to 5.1.3.

[2019-06-12 15:44] mousemke commented on #6471
i just wanted to pass this on. we have been having this issue for a while now (in JS, storybook-react)

we fixed it with a small tweak to how we called actions.  it seemed to be an issue of how the addon was serializing the date.  maybe this just applies to us, but also maybe it'll help some folk

fixed.

<img width="1241" alt="Screenshot 2019-06-12 at 17 44 00" src="https://user-images.githubuser

[2019-06-12 17:00] yongching opened #7067 "Storybook 5 for React Native: "Can't find variable: document""
**Describe the bug**
I'm running into this issue "Can't find variable: document" error when launching react-native app with storybook. I have commented out `addon.js` in index.js but it is still returning the same error.

**To Reproduce**
git clone https://github.com/yongching/storybook-bug
1. yarn storybook
2. yarn haul
3. react-native run-ios
4. see error

<img width="351" alt="Screenshot 2019-0

[2019-06-12 17:40] liamross commented on #6981
The issue is only present when you try to add code blocks to the markdown. For basic documentation it works fine, but as soon as you insert a code block into the markdown it attempts to use the syntax formatter.

https://github.com/storybookjs/storybook/blob/7ee997698df4908ec716c5cfb6b59053469b04a9/lib/components/src/syntaxhighlighter/syntaxhighlighter.tsx#L32-L46

It breaks at line 36 specificall

[2019-06-12 17:51] kershnerd opened #7068 "Case Sensitive issue on Windows"
On Windows, adding `"react-vega": "^6.0.1", "vega": "^5.4.0"` to the package.json file gives the following error when running storybook:

[code]

This works correctly with a create-create-app but not in storybook.  My understanding is that `case-sensitive-paths-webpack-plugin ` is in both react-scripts and storybook, so not sure that is the issue.

And suggestions on how to fix this?

**System:**

[2019-06-12 17:56] joehuanguf commented on #7021
I'm getting this exact same issue. I'm using `@storybook/addon-info v5.1.3` and '@storybook/react v4.1.18'.

[2019-06-12 18:04] magnusottosson commented on #7049
I downgraded from 5.1.3 to 5.0.11 (which worked perfect before) today but I still get the error message. Could it be a dependancy package that has changed maybe?

[2019-06-12 19:30] raunofreiberg commented on #5869
Ran into the same issue. Very sad about this :(

[2019-06-12 19:40] mykas commented on #6982
@shilman I understand. Still struggling with time to upgrade to storybook 5.

@ndelangen couple of upgrade takes went taking too much of our time. Something with our heavily used third party library `react-live` that gets broken on storybook 5. I believe it might just how we use it that it gets broken or maybe the fact that we need to support React 15 too.

[2019-06-12 19:43] rosskevin opened #7069 "@storybook/api raising typescript TS2411 - incorrect use of indexed property"
**Describe the bug**
Incorrect use of indexed properties resulting in TS2411 downstream when included by tsc.

Trying to upgrade to 5.1.3 and my typescript based monorepo fails on definitions produced by @storybook/api, specifically ts(2411):

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create a typescript project
2. `yarn add @storybook#addon-actions` which will transitively give

[2019-06-12 19:57] shilman commented on #7021
@joehuanguf in general you should use `@storybook/*` of the same version

[2019-06-12 20:23] bromso opened #7070 "Serve documentation to Dash app (& similar apps)"
**Is your feature request related to a problem? Please describe.**
It's always frustrated when I'm on the "run" and don't have access to a stable internet connection. Especially when I'm out in the world as a Digital Nomad. The amount of reason why access to internet maybe down are so many, such as: power outage, poor reception, data plan is over due etc. It seems that you are always in a critical

[2019-06-12 20:36] shilman opened #7071 "Addon-docs: Support non-story exports in module story format"
[Storybook docs](https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a) is shipping with a new story format for ES6 modules based on [this gist](https://gist.github.com/tmeasday/4de20eab47226a870ab1025642ba848c) that treats all named exports as stories.

Opening this issue as a place to discuss how we might also support non-story exports. This came up in https://github.com/storyboo

[2019-06-12 20:40] shilman commented on #6995
I've opened a separate issue to discuss the module format & have summarized our conversation there https://github.com/storybookjs/storybook/issues/7071

I'll implement whatever gets decided for the module format as part of the MDX compiler so that this won't require any extra syntax on the MDX side.

[2019-06-12 20:45] shilman commented on #7066
We do this in a fairly hardcoded way as part of `addon-docs`. @ndelangen I wonder if we should make this more configurable.

[2019-06-12 21:36] ndelangen commented on #7049
I'm on it

[2019-06-12 22:01] bromso commented on #7070
https://github.com/Kapeli/Dash-User-Contributions#readme

[2019-06-12 22:53] #7062 closed

[2019-06-12 22:57] Jessica-Koch commented on #5030
@ndelangen i'll take a stab at the `lib/client-api`

[2019-06-12 23:10] ndelangen commented on #7066
We could 'hide' it, but it must be present in order for storybook to function right now, at least until #4169.

Hiding it via some option would be a possibility.

[2019-06-12 23:16] ndelangen commented on #7068
We add `case-sensitive-paths-webpack-plugin` to both webpack (manager & preview).

We don't use vega anywhere in our codebase, is this a package you're using?

If the package.json main entry of either `react-vega` or `vega` has case-inconsistency I'd advice opening a PR on those packages to fix that.

I don't think there's anything we can do here.

I'm surprised these no issue for other platforms.

[2019-06-12 23:30] ndelangen commented on #5869
We'd love to get some help fixing this, is anyone here able to help us?

[2019-06-13 01:22] Turkyden commented on #7049
哈哈，原来是台湾同胞，你好噢！可惜我现在用的是 react 版的，但是和你遇到的是同样的问题，这个 bug 后来你找到解决方案了吗？

[2019-06-13 02:39] iamnewton commented on #6909
sorry, its a private repo, so I don't have anyway to share it; i'll remove stuff, and see what happens

[2019-06-13 02:39] tmeasday commented on #7071
@ndelangen I'm sort of interested in why you thought it would bad to annotate functions in this way? If that's a problem we should reconsider annotating the functions with other things like title and parameters

[2019-06-13 06:13] HiHiPoBang commented on #7049
@Turkyden Not yet, 但上面看來已修正準備merge了

[2019-06-13 06:35] NefixEstrada commented on #1573
Thank you, @alexander-elgin !!

I've been searching a solution for this plugin but was unable to make it work. It would be really nice to add this to the Vue documentation with a small example, since I'm sure there are lots of packages that need to be used like this.

[2019-06-13 06:50] x1c0 commented on #7003
+1 same error

[2019-06-13 07:17] #5611 closed

[2019-06-13 07:18] shilman commented on #6204
Yippee!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.4 containing PR #7016 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-13 07:18] shilman commented on #6928
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.4 containing PR #7051 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-13 07:18] shilman commented on #6984
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.4 containing PR #7051 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-13 07:18] shilman commented on #7014
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.4 containing PR #7057 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-13 07:18] shilman commented on #5932
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.4 containing PR #6438 that references this issue. Upgrade today to try it out!

[2019-06-13 07:18] #6928 closed

[2019-06-13 07:18] #7014 closed

[2019-06-13 07:19] raunofreiberg commented on #5869
For reference, the error in this thread only occurs when loading stories dynamically with `require.context`. If one were to load stories via just `require('../src/stories/Example.stories')` then it works with TypeScript.

[2019-06-13 07:26] shilman commented on #7003
I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.4 containing PR #7051 that's related to this issue. Can someone check to see if it's fixed in the new version? 🙏

[2019-06-13 07:50] Victorien-Tardif opened #7074 "Error: ENOENT: no such file or directory, stat '/project-path/node_modules/@storybook/core/dist/public/service-worker.js'"
**Describe the bug**
Everything is working but I always have this error in my console.
It does not seem to be blocking at all but it's weird:

[code]

**To Reproduce**
Here is my config:
[code]
Here is my webpack.config:

[code]

**System:**
 - OS: MacOS
 - Device: Macbook Pro
 - Browser: chrome
 - Framework: react
 - Addons: actions, knobs
 - Version: 5.1.3

[2019-06-13 07:58] jakubikan commented on #6994
Hey @leoyli,

thanks for the response.
I will try to implement this today.

Lets see how it goes 😄

[2019-06-13 08:01] maxigimenez commented on #7065
Never mind, the problem was my implementation, was passing notes object as argument of the `getStory` function instead of the third argument of the `add()`

FYI addon notes are missing of angular documentation.

[2019-06-13 08:01] #7065 closed

[2019-06-13 08:30] mwager commented on #6984
hmm still same:

1. upgraded storybook packages to 5.1.4 (in package.json)
2. $ rm -rf node_modules/; rm package-lock.json
3. npm cache clear --force
4. npm install
5. $ npm run storybook:serve

[code]

[2019-06-13 08:31] nelsieborja commented on #5251
Any update on this issue?

[2019-06-13 08:47] B3Kay commented on #6644
Is there any progress on this one?
I'm stoked to see more! 🍔

[2019-06-13 08:53] DonikaV commented on #6204
@shilman just updated, and same errors... :(

`Module not found: Error: Can't resolve 'core-js/modules/web.dom-collections.iterator'`

[2019-06-13 08:59] pieterdewachter opened #7076 "No matching version found for @storybook/angular@5.1.4"
**Describe the bug**
Internal deps versions was not updated in 5.1.4 release

**To Reproduce**
Steps to reproduce the behavior:
1. install storybook versions like ^5.1.4

2. See error in console:
[code]

**Expected behavior**
Success install

[2019-06-13 09:25] ndelangen commented on #7049
Is anyone able to give me a repo, that they are experiencing this on? I'm having a hard time tracking/reproducing this in our own repo. I did issue a PR already which I THINK MAY fix it, but I'd like to be sure tbh.

[2019-06-13 09:29] ndelangen commented on #7058
Do you have some custom webpack config? I suppose not, since you're using CRA, but I figure I'd ask anyway.

If I try that in one of our examples it works just fine, so I'm puzzled why it's not working for you.

[2019-06-13 09:32] ChandanPHAI commented on #6204
@shilman I updated the storybook and addons to the latest version.

Still getting the errors related to core-js.

installing npm i core-js -D fix the issue locally.

without core-js library it's not working.

[2019-06-13 09:33] hjnilsson commented on #5935
@KamalAman Is there any way to add this early return without modifying storybook itself? The build times are crippling use of storybook in our project.

[2019-06-13 09:33] HiHiPoBang commented on #7049
Hi, you can try this [https://github.com/HiHiPoBang/storybook-demo](url)

[2019-06-13 09:35] alexan commented on #7002
this is still present in `5.1.4`

[2019-06-13 09:43] ndelangen commented on #7049
My hero

[2019-06-13 09:45] jwm0 commented on #5803
If you are having this issue it's probably due to one of the global decorators. I tried removing one by one and for me the issue was with `storybook-addon-styled-component-theme` decorator. Once removed, the snapshots were captured correctly.

[2019-06-13 09:52] ndelangen commented on #6204
Are you importing `babel-polyfill` anywhere in your code? If so, try removing that?

[2019-06-13 09:57] ndelangen commented on #6204
Here's how I fixed the repro branch that I got:
https://github.com/umakantp/demo-repro/pull/1

Please please send me more repro repos to me via any channel, so I can fix the issue.

@ChandanPHAI @DonikaV

[2019-06-13 10:03] DonikaV commented on #6204
@ndelangen hi, i dont have `babel-polyfill` in my folder. I cannot show you more. It is private repo.
storybook and all addons was updated.

[2019-06-13 10:21] ndelangen commented on #7049
YES, I found the issue!

React StrictMode + passing a prop down to a dom-element which it kinda understand, but not really.

[2019-06-13 10:26] shilman commented on #5935
@KamalAman Thanks for the detailed report. We've recently started shipping presets to make it easy to configure storybook for common use cases (e.g. add typescript or scss). I think docgen could be good candidate for that for 6.0 (this will be a breaking change). I'm also thinking maybe the current default is not configured properly if it's also running on node_modules and all JS files... cc @igor

[2019-06-13 10:28] shilman commented on #7058
You can fix it by adding preset-env and preset-react to your babel config. I'm not sure why you need to do this. 😭

[2019-06-13 10:29] ndelangen commented on #7049
@shilman This requires a patch release from our part to fix for users, I'm opening a PR now

[2019-06-13 10:30] ndelangen commented on #7049
@HiHiPoBang send me your address in a private convo on discord and I'll send you a batch of swag
🤜🤛

[2019-06-13 10:31] shilman commented on #7076
I'm pretty sure 5.1.4 was published successfully. Do you need to clear your npm cache on your local machine?

[2019-06-13 10:32] shilman commented on #6644
@B3Kay nope. you'll need to use the workaround for now!

[2019-06-13 11:08] stropho opened #7079 "combined knobs default value @5.1.0"
**Describe the bug**
We've been using a feature of Knobs addon since storybook@3. A feature the allowed us using one knob value in a different one

**Steps To Reproduce**
1. Create an Object of strings, such as `const BUTTON_MODIFIER = {A: 'a', B: 'b'}`
2. Create a story with a React component accepting an array prop
3. use an array knob with combination of select knob
[code]

**Expected behavior*

[2019-06-13 11:09] ndelangen commented on #7049
PR is open, anyone feel like reviewing it?

[2019-06-13 11:28] emmenko opened #7083 "Contexts addon is missing core-js dependency"
**Describe the bug**
The `contexts` addons package is missing an explicit dependency of `core-js`, which causes problems when hoisting modules (e.g. yarn workspaces).
Other addons packages have it (e.g. https://github.com/storybookjs/storybook/blob/6d3d4fafd2888b13d2cb8eb1aa987cec0100775f/addons/a11y/package.json#L37), so we should define it there as well.

[2019-06-13 11:32] danielbartsch commented on #6331
`jest`'s `findRelatedTests` option would do this. But it doesn't work for storyshot testing unfortunately :/

[2019-06-13 11:47] androdel commented on #6978
I fixed it by just adding node-sass to my devDependencies

[2019-06-13 11:54] joanntaguinod commented on #6204
Hi, experiencing the same issue with core-js even on 5.1.4. Manuall installing core-js as dev dependency didn't work either.

[2019-06-13 11:59] jorgecasar opened #7084 "Breaking changes in @storybook/polymer from 5.1.3 to 5.1.4"
**Describe the bug**
Upgrade @storybook/polymer from 5.1.3 to 5.1.4 breaks storybook.

[code]
and some 4 more similar errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Update to 5.14
2. Run `start-storybook -s .`
3. See error

**Expected behavior**
Build the storybook project

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snippets**
-
**System:**

[2019-06-13 12:18] Jack-Barry commented on #1153
I ran into this on `5.0.11`, the fix proposed by @fadomire worked, doesn't even need a parameter just need to call the function.

[code]

[2019-06-13 12:34] ndelangen commented on #7076
can confirm it's on npm!

<details>

[code]

</details>

[2019-06-13 12:34] #7076 closed

[2019-06-13 12:35] dropbeardan commented on #5869
Any strategies on loading all the stories into using one script like that?

[2019-06-13 12:43] x1c0 opened #7085 "build-storybook does not reflect last code changes"
**Describe the bug**
I have to use `build-storybook` in order to run a local server so that after I can run visual regression tests on top of it.

My issue is that if I update one component style (using angular) and I run `backstop test` then I see the style change immediately as expected.

If I run `build-storybook -c .storybook -o .out` && `http-server .out` i get old style..
Is this some cache

[2019-06-13 12:48] x1c0 commented on #7085
If I hit several time hard reload then the change appears.. maybe is some caching issue from http-server :/

[2019-06-13 13:16] dgreuel commented on #5869
I successfully use [Barrelsby](https://github.com/bencoveney/barrelsby) to generate a barrel that exports all *.stories.tsx files, then just require that single file.

[2019-06-13 13:37] ndelangen commented on #6984
Working on this

[2019-06-13 13:37] ndelangen commented on #6204
I'm working on this, new release within 24h!

[2019-06-13 13:40] aseem2625 commented on #1369
Thanks @Adomas202 for suggestion. I'm having 2 different projects.

Even though both projects aren't running at the same time, their storybook can't have same port 6006.
Had to make both different.

[2019-06-13 13:40] x1c0 commented on #7003
Before I had this error with: "@storybook/angular": "5.1.4" and "core-js": "2.6.5",
I tested  "@storybook/angular": "5.1.4", with  "core-js": "2.6.5"

In both cases if I use  "core-js": "3.0.1"  storybook works 🎉

[2019-06-13 14:11] darkowic opened #7087 "[addon-centered] installs not needed packages"
**Describe the bug**
`@storybook/addon-centered` installs `preact` and `mithril` packages in my `react` project. Why?

**To Reproduce**
Install `@storybook/addon-centered` and `preact` nad `mithril` will be installed as a required dependency...

**Expected behavior**
Do not install any not needed packages. See my `package-lock.json`
[code]
I have obviously `react` already installed. `preact` and `

[2019-06-13 14:28] #6936 closed

[2019-06-13 15:36] smurrayatwork commented on #6885
@ganapativs @mcc108,
So I've got this working myself using React lazy and Suspense! This requires your components to be default exports and not named, as React lazy only works with default exports for now. We happen to be using the addon-info addon, so you can ignore the `{ info: DividerDocs }` part below if you're not using it:

[code]

[2019-06-13 15:41] tenjojeremy commented on #7014
Works great. Thank you

[2019-06-13 15:46] gajusp opened #7089 "Warning: Received `true` for a non-boolean attribute `loading`"
**Describe the bug**

Create the new project in angular with storybook

ng new angular-storybook-app
cd angular-storybook-app
npm install @storybook/angular --save-dev
npm install babel-loader @babel/core --save-dev

I have follow the below steps mentioned in this site - https://storybook.js.org/docs/guides/guide-angular/

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the above menti

[2019-06-13 16:09] lavaldi opened #7090 "addon-viewport: core-js modules error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Install addon
[code]
2. Add in addons.js
[code]
3. Add configuration in config.js
[code]
4. Compile with `npm run storybook` (`"storybook": "start-storybook -p 4201 -c .storybook",`)
5. See error

**Expected behavior**
Compile as normal, without errors.

**Screenshots**
![

[2019-06-13 16:12] jnielson94 commented on #7089
Duplicates #7049

[2019-06-13 16:58] apexskier commented on #7067
I'm seeing this as well. Looking into the stack trace, this line appears to be triggering the issue: https://github.com/emotion-js/emotion/blob/41f7ba1c6b7f74cde2c6b6fd5f3333e02e2c154b/packages/cache/src/index.js#L69
That's supposed to be stripped out for non-browser environments, but the `cache.browser.cjs.js` file is being loaded, so it's still there and is failing.

[2019-06-13 18:29] lPaths commented on #7049
does the bug fixed anyone? i still getting this warning!

[2019-06-13 18:52] joehuanguf commented on #7021
@shilman Thanks for the advice. Updating all `@storybook/*` dependencies to 5.1.3 seemed to fix the problem.

[2019-06-13 18:56] rwieruch opened #7092 "Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
My Storybook project has grown to a larger size and on

[code]

I get the following Stack Trace **[0]** with a custom Webpack config **[1]**. It happens on the recent v5.1.4 but also on an older v5.0.x. I guess it isn't related to the Storybook version, but just to the size of my project. What's the recommended strategy to take from here?

1) Code Splitting? If yes, how to apply it in Storybook?
2

[2019-06-13 19:00] piperchester opened #7093 "Storybook 5 doesn't seem to render in IE 11"
**Describe the bug**
Not sure if this is a known bug already (didn't see it as a pre-existing issue) but we don't see our Storybook rendering in IE 11.

We suspect it's related to `Object.assign` not being transpiled somewhere: https://github.com/storybookjs/storybook/search?q=Object.assign&unscoped_q=Object.assign

Opening to see if others have experienced this issue, or if it's likely a problem

[2019-06-13 19:17] rwieruch commented on #7092
Maybe related: https://github.com/storybookjs/storybook/issues/6408

[2019-06-13 19:18] chingchinglcc commented on #7058
I think the problem is CRA. addDecorator works fine after I set up my react project with webpack.

[2019-06-13 20:09] shilman commented on #7074
Are you using `create-react-app`? If so, which version?

[2019-06-13 20:17] shilman commented on #7092
This might be an easy win: #7091

[2019-06-13 20:19] jagreehal commented on #4600
Looks like lots of us have similar solutions out there (including me https://github.com/jagreehal/stencil-boilerplate), but I'd really like hot/live updates when I edit a Stencil component. Currently I have to manually refresh the browser to reload Storybook.

[2019-06-13 20:25] shilman commented on #7089
Closing as dupe to #7049

[2019-06-13 20:25] #7089 closed

[2019-06-13 20:28] shilman commented on #6885
@tmeasday @ndelangen possibly a good argument for keeping stories as functions? ☝️ ☝️ ☝️

[2019-06-13 20:30] jamieshark commented on #6596
Hi there! I think you can enable this webpack setting through the [`stats`](https://webpack.js.org/configuration/stats/) property in a custom config. Based on the [default webpack config](https://github.com/storybookjs/storybook/blob/next/docs/src/pages/configurations/custom-webpack-config/index.md), it doesn't look like there are any default settings for `stats`, so we can assign that as a proper

[2019-06-13 20:36] benoitdion commented on #7067
@apexskier @yongching I wonder if this is because you're using haul. Are you able to reproduce with the metro bundler?

[2019-06-13 20:53] shilman commented on #5893
Fixed with 5.1 release!

[2019-06-13 20:53] #5893 closed

[2019-06-13 20:55] shilman commented on #6469
Fixed in #6977

[2019-06-13 20:55] #6469 closed

[2019-06-13 21:19] apexskier commented on #7067
That could be the case, we're using haul as well. I'm unable to build our project with metro alone though, so I can't test reproduction there.

[2019-06-13 21:22] gajusp commented on #7089
@shilman - Could you please let me know how to fix this issue

[2019-06-13 21:33] benoitdion commented on #7067
haven't played with the bug repro repo yet but based on what I'm seeing it looks like it may be an emotion issue with haul :(

[2019-06-13 21:49] shilman commented on #7089
@gajusp i'll be releasing a fix for it in the next few hours. please track #7049 for the fix

[2019-06-13 22:18] shilman commented on #6204
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.5 containing PR #7086 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-13 22:18] shilman commented on #6984
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.5 containing PR #7086 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-13 22:18] shilman commented on #7049
w00t!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.5 containing PR #7073 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-13 22:18] shilman commented on #7083
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.5 containing PR #7094 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-13 22:18] #7083 closed

[2019-06-13 22:18] #6204 closed

[2019-06-13 22:18] #6984 closed

[2019-06-13 22:50] chrisdrackett commented on #7049
I'm still getting the issue on 5.1.5 myself

[2019-06-13 22:50] AtlasRider commented on #6309
Also having this issue

[2019-06-13 22:51] emilio-martinez commented on #7084
I'd have to look at a full reproduction of the issue, but this may be related to `@open-wc/demoing-storybook` having `/@storybook/addon-storysource` as a runtime dependency instead of a peerDependency. There may be a version mismatch between the version that you upgraded to and the one they're managing as a dep.

[2019-06-13 22:58] emilio-martinez commented on #7003
This is fixed for me with storybook 5.1.5

[2019-06-13 22:59] emilio-martinez commented on #7090
Try the freshly released storybook 5.1.5. That fixed the core-js errors for me.

[2019-06-13 23:01] mkochendorfer commented on #7049
I am also still seeing this issue in 5.1.5.  Looks like https://github.com/storybookjs/storybook/pull/7080 which is the PR that solves this was not actually in the 5.1.5 release.  Perhaps @shilman or @ndelangen  can clarify this.

[2019-06-13 23:07] shilman commented on #7049
Ack. The PR was not marked with `patch` cc @ndelangen

Re-releasing now

[2019-06-13 23:34] #6855 closed

[2019-06-13 23:46] shilman commented on #7049
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.7 containing PR #7080 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-13 23:46] #7049 closed

[2019-06-14 00:06] tmeasday commented on #6885
@shilman definitely!

[2019-06-14 00:28] ndelangen commented on #6885
I had a PR adding support for returning a promise from a storyFn about a year ago.

But back then no-one seemed to want it.

I'll see if I can make it happen again.

[2019-06-14 00:37] mkochendorfer commented on #7049
That did the trick.  5.1.7 is working well.

[2019-06-14 00:45] lPaths commented on #6998
[code]
The error still there

[2019-06-14 01:02] #7021 closed

[2019-06-14 01:15] Nibblesh commented on #6920
There is also issues with escaped tables

The markdown that I am using in the table below renders correctly in github as per the preview. but from storybook it looks as per the screenshot

![image](https://user-images.githubusercontent.com/9124852/59476780-a6219200-8e95-11e9-8010-f53f7da5708a.png)

I am using stencil's doc generation tool which outputs the following:

# my-component

## Properties

[2019-06-14 01:34] ndelangen commented on #6982
Storybook 5 supports React15!

(addon-info no longer does)

[2019-06-14 03:16] lavaldi commented on #7090
Thank you @emilio-martinez, you were right 👍

[2019-06-14 03:16] #7090 closed

[2019-06-14 04:58] emmenko commented on #7083
Awesome, thanks a lot for the quick fix! I’ll try it out later

[2019-06-14 05:08] Gongreg commented on #6920
Hello @lyqht. Seems like the bullets are rendered in middle of the text instead of the top. To render markdown we are using: https://github.com/CharlesMangwa/react-native-simple-markdown .

Regarding loading the md file, you need to have a way to load it in React Native. Maybe you can find something here: https://stackoverflow.com/questions/52571450/react-native-expo-load-markdown-files

[2019-06-14 06:07] SerhiyZheliznjak commented on #7067
Hi!
Got the same issue, not using haul.

[2019-06-14 06:09] yongching commented on #7067
@benoitdion I just did a quick experiment using metro bundler, it has the same issue. Here's the repo, https://github.com/yongching/storybook-with-metro.

[2019-06-14 06:10] HiHiPoBang commented on #6998
[code]
[code]
The error is still there after upgrading (v5.1.3 -> v5.1.7)
repo: [https://github.com/HiHiPoBang/storybook-demo](url)

[2019-06-14 06:13] SerhiyZheliznjak commented on #7067
Btw, as soon as you don't use any addons the issue is gone

[2019-06-14 06:17] yongching commented on #7067
@SerhiyZheliznjak yeah true. But when I use it with haul, even if I remove all the addons it will still have the issue.

[2019-06-14 06:27] shilman commented on #6998
@HiHiPoBang we'll comment here when the issue is fixed. Or feel free to issue a PR to fix it if you're in a rush! 👍

[2019-06-14 07:30] filippoitaliano commented on #6204
I still getting errors for almost every component I have, like the following:
[code]
I'm not excluding it can be my fault. I claned yarn cache, deleted yarn.lock, installed the latest version of every dependency. I don't have core-js installed as a dependency but I use babel with some presets like `@babel/preset-env`. I have a custom webpack config:
[code]

[2019-06-14 07:34] tirthaguha commented on #4664
Sorry, I'm a little new to storybook. I have the exact same issue with `@storybook/react": "^4.0.7"`, How Do I use this `displayName` prop?

[2019-06-14 07:37] Victorien-Tardif commented on #7074
No, I'm not :/

[2019-06-14 07:41] #7003 closed

[2019-06-14 07:41] alexakasanjeev commented on #7067
Hi @yongching @SerhiyZheliznjak I opened a similar issue #6910 , please look into it

Basically If you are using `@storybook/react-native-server` you don't need to import action addon. `react-native-server` will do it automatically (explained in this [comment](https://github.com/storybookjs/storybook/issues/6910#issuecomment-500332291)) so in your `storybook/index.js` comment out the line which is

[2019-06-14 07:42] Victorien-Tardif commented on #7074
I have investigated a bit and it seems that the only references to service-worker are in react-dev-utils, which is a @storybook/react dependency

[2019-06-14 07:43] shilman commented on #7084
Can you try upgrading to 5.1.7? We've done a bunch of `core-js` related fixes in the past few releases and it's possible that this is already fixed.

[2019-06-14 07:51] shilman commented on #4664
[code]

[2019-06-14 08:07] yongching commented on #7067
@alexakasanjeev may I know which repo did you clone? The one with metro bundler will work fine if I remove the addons https://github.com/yongching/storybook-with-metro. But not the one with haul https://github.com/yongching/storybook-bug.

[2019-06-14 08:10] alexakasanjeev commented on #7067
I cloned https://github.com/yongching/storybook-bug this repo and I did run `yarn haul` and it worked fine, also I explained in the comments above that if you are using react-native-server then you don't need to add action addon, it will do automatically

[2019-06-14 08:13] SerhiyZheliznjak commented on #7017
Have the same issue in  @storybook/react-native-server": "5.1.7"
A workaround is to refresh chrome tab every time you choose new component

[2019-06-14 08:14] alexakasanjeev commented on #4716
@Gongreg @shilman any updates on this, please help

[2019-06-14 08:46] joselcvarela commented on #7049
Version 5.1.7 worked for me

[2019-06-14 11:08] Gongreg commented on #7067
@alexakasanjeev, thank you for raising that point. Someone accidentally added the import to the template. Created PR https://github.com/storybookjs/storybook/pull/7096 to fix it.

[2019-06-14 11:11] Gongreg commented on #7067
Okay, so there are two issues. One is accidentally added ./addons import when installing storybook and two, incompatibility between haul and emotion.

Could we please leave this discussion for haul/emotion incompatibility?

[2019-06-14 12:29] Gongreg commented on #6920
I think the issue should be opened for CharlesMangwa/react-native-simple-markdown @shilman, what do you think?

[2019-06-14 12:40] Gongreg commented on #6605
@lyqht, I've just tested out @storybook/react-native@5.1.0 and the way @shilman wrote does work. If you use

[code]

the styles get applied.

[2019-06-14 12:40] #6605 closed

[2019-06-14 12:44] Gongreg commented on #6426
@benoitdion, @shilman, I don't think we can do anything here. There is too much to assume how storybook is going to be used. Expo, React Native Navigation, other non native navigations, etc.

[2019-06-14 12:49] #6588 closed

[2019-06-14 12:51] ndelangen commented on #6135
This is fixed in 5.2!

[2019-06-14 12:51] #6135 closed

[2019-06-14 12:52] #6860 closed

[2019-06-14 13:23] benoitdion commented on #6426
I've got some ideas for how to do this we can chat about

[2019-06-14 13:27] Laslo89 commented on #2303
it would be nice, if you could clean the peer dependencies again :)
btw. i am not using react obviously

[code]

[2019-06-14 13:38] nategreen commented on #6984
Still got these errors in the console after upgrading to 5.1.5. Using `pnpm` with `shamefully-flatter = true`, and Angular 8.0.1, so I suspect one of those things may be the cause, if this update fixed it for others. Or maybe it's a different issue altogether.

[code]

[2019-06-14 13:49] #6357 closed

[2019-06-14 14:49] iammattq opened #7097 "Code.split JavaScript error while loading markdown into notes"
**Describe the bug**
I recently upgraded to Storybook 5.1.3 and the notes addon no longer renders markdown from an external file. When clicking on the notes tab I'm presented with a blank screen with JS errors on the console.

First JS error:

[code]

Next error:

[code]

Last error

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade from 5.0.6 to 5.1.3
2. npm run storybook
3. cl

[2019-06-14 14:55] jmlivingston commented on #6981
This stopped working for me as well, but I figured out an easy workaround until this is fixed. Basically install marked to compile your markdown into HTML.

```npm i marked -D```

[code]

[2019-06-14 15:24] cookch10 commented on #6220
The ability to have a dynamic preview-head html would be extremely useful.

[2019-06-14 15:32] shilman commented on #6920
@Gongreg yeah that makes sense

[2019-06-14 15:54] kershnerd commented on #7068
Thank you!  I will check vega.

[2019-06-14 15:54] #7068 closed

[2019-06-14 16:04] apexskier commented on #7067
@SerhiyZheliznjak I'm using `@storybook/react-native@5.1.0-alpha.8`, `@storybook/react@5.1.4`, and `haul@1.0.0-rc.15` successfully.

[2019-06-14 16:10] stubar opened #7098 "option fileName as boolean || function"
**Is your feature request related to a problem? Please describe.**
We name all our SC css files as styles.js, so in dev all our class names are prefixed styles__ which isn't helpful.

**Describe the solution you'd like**
provide a function that passes either the full path or the File object found in getBlockName(), that way we can completely customise the prefix, in our case the parent folder name

[2019-06-14 16:32] JohnMunsch commented on #6564
<img width="633" alt="Screen Shot 2019-06-14 at 11 32 07 AM" src="https://user-images.githubusercontent.com/20567/59523898-192c0800-8e98-11e9-8510-065918727952.png">

Still there in v5.1.8.

[2019-06-14 17:26] gsaran opened #7099 "Upgrade to Storybook 5.0 to 5.1 overlapping addon panel's State tab content on other tabs"
**Describe the bug**
Upgraded Storybook from 5.0.x to 5.1.4, content of State tab in addon sidepanel overlaps content of other tabs: Readme, Actions or Knobs.

**To Reproduce**
Steps to reproduce the behavior:
Add any story with initial state using withState() from @dump247/storybook-state

**Expected behavior**
On tab change, content of State tab should be hidden

**Screenshots**
![image](https:/

[2019-06-14 17:37] brendanmckeown commented on #7005
I am experiencing the same error in Vue.

[2019-06-14 17:42] Hypnosphi commented on #1153
@fadomire @Jack-Barry can you please share the particular code examples? The result of calling `action(name)` is indeed a function, and the docs assume that you pass it as an event handler

[2019-06-14 17:45] Hypnosphi commented on #2303
But Storybook UI (stories tree, addon panels) does. Please install the missing dependencies on your side (we probably should include it in documentation, feel free to open a separate issue or PR for that)

[2019-06-14 18:09] mAAdhaTTah commented on #7033
I am also getting this error but the above steps didn't resolve it. It _kinda_ looks like the macro isn't running over the file so much as just being `require`'d directly. Is it possible the babel-loader isn't getting applied to this correctly? I'll also note that I downgraded react-scripts v3 -> v2 and that appears to resolve the issue as well, so there could be something in the upgrade causing a

[2019-06-14 21:09] Jack-Barry commented on #1153
[code]
I don't have this project running on the computer I'm at, but the output in the action panel shows `'Button was clicked': []` when calling `action('Button was clicked')()` if I remember correctly.

[2019-06-15 03:28] gms1 commented on #6998
the upstream bug:
https://github.com/emotion-js/emotion/issues/1105

[2019-06-15 06:34] yongching commented on #7067
@alexakasanjeev thanks for pointing that out. After commenting the addons import, android would work. But iOS still the same.

[2019-06-15 08:02] yongching commented on #7067
@apexskier that worked for me on ios! Thank you so much.

[2019-06-15 08:17] JabbyPanda commented on #3626
The incorrect path to story files in `include` or `test` configuration most often leaves you in the dark...

It would be beneficial for the addon users if there will be some output in the console that will provide the feedback summary on the number of story files processed with it...

consider the following format of the message:

`25 stories were found at <path> and successfully processed`

[2019-06-15 10:49] #6618 closed

[2019-06-15 11:10] Hypnosphi commented on #1153
@Jack-Barry `methods: {logAction: action('Button was clicked')}` should work as well

[2019-06-15 11:21] debel27 commented on #4241
I think it would be better to get rid of this `merge-dirs` dependency altogether. It has not updated in 3 years and still at version `0.2.1`.

Looking at the code, the dependency is used only to synchronously copy some directory A in some directory B (the content of A overriding in case of conflicts).

I know [`fs-extra`](https://www.npmjs.com/package/fs-extra) to exist for quite a while now. It m

[2019-06-15 12:50] shilman commented on #7099
Is this a problem with any of the other storybook addons, or is it something about `storybook-state`?

[2019-06-15 13:17] gsaran commented on #7099
It's an issue with just storybook-state other add-ons are working fine.

[2019-06-15 17:10] #6627 closed

[2019-06-15 19:55] ndelangen commented on #4241
@debel27 Sounds like you would be able to open a PR changing this? Would be appreciated a lot!

[2019-06-15 20:54] Waseemrajashaik commented on #7033
Update to react-script version 3.0.1 it fixed this issue for me

[2019-06-15 21:04] mAAdhaTTah commented on #7033
Thanks, but I was on 3.0.1 at the time (it's a new project). I cut out Storyshots for now and will have to revisit this.

[2019-06-15 22:03] bethrezen commented on #6981
Hello, everyone.
Thanks @liamross for error details. I have something more to share with you.
It seems that this addon modifies the story itself and that is the root of problems.
Storybook renders two different React roots - one for storybook UI and another one for the story itself. In last case we have very simple react tree and we **do not have** ThemeProvider there, so SyntaxHighlighter expecti

[2019-06-15 22:48] debel27 commented on #4241
You got it!
[PR](https://github.com/storybookjs/storybook/pull/7100)

[2019-06-16 00:57] shilman commented on #6981
@ndelangen If addon-info requires ThemeProvider per @bethrezen 's comment (thanks!) then the docs should be updated to have users add a decorator. Or the addon itself should be updated to create its own. What a mess!

[2019-06-16 02:02] shilman opened #7101 "Addon-docs: Review and merge"
[SB Docs](https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a) is a big new Storybook feature that has been developed and released as `5.2.0-alpha.x` from the https://github.com/storybookjs/storybook/tree/release/docs-technical-preview branch.

Now we're in a tricky situation where we need to get this work merged back into `next`. Rather than a single giant merge, I'm going to br

[2019-06-16 03:52] codecatalysts commented on #6851
@VictorBaron I was having the same problem and after reading the [docs](https://storybook.js.org/docs/configurations/add-custom-head-tags/) about custom head tags, I was able to get the icons to work.

I crated and added the following to the preview-head.html file in the Storybook config directory.
[code]

[2019-06-16 07:41] dperetti commented on #6984
@shilman Hit by this as well (5.1.8), using `useBuiltIns: false`.

[2019-06-16 09:06] Waseemrajashaik commented on #7033
[code]
requireContext is important for storyshots

[2019-06-16 13:54] cyrus-za commented on #6417
Please let me know when this gets fixed. Quite annoying to see all these unknown styled components
![image](https://user-images.githubusercontent.com/1845861/59565084-3243dd00-9081-11e9-9308-bd9ef7ef3ee1.png)

Not using a custom webpack. Using CRA with typescript

[2019-06-16 14:17] rwieruch commented on #6417
Not sure how to keep issues open when the stale bot comes along 😄

[2019-06-16 14:28] jackblackCH commented on #1255
How about a decorator for stories? `myStory.addDecorator(withBorderless);`

[2019-06-16 15:19] bennypowers commented on #7084
I'm getting these with 5.1.8

[code]

Could be related.

This is after patching `@open-wc/demoing-storybook`'s webpack config to set `corejs.version` to 3 with this patch file

[code]

cc @daKmoR

[2019-06-16 22:28] shilman commented on #6417
FYI you might want to check out Storybook Docs which is designed to replace addon-info.

Here's the project description: https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a
And here's the guide to technical preview alpha you can use today: https://docs.google.com/document/d/1un6YX7xDKEKl5-MVb-egnOYN8dynb5Hf7mq0hipk8JE/edit?usp=sharing

[2019-06-16 22:30] shilman commented on #7084
cc @ndelangen

[2019-06-16 22:32] #6665 closed

[2019-06-16 22:47] shilman commented on #6984
@dperetti Not familiar with `useBuiltIns`. For debugging purposes, is it easy to test whether `useBuiltIns: true` fixes the problem?

[2019-06-16 23:03] shilman commented on #4241
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.27 containing PR #7100 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-16 23:03] #4241 closed

[2019-06-16 23:09] MightyRevenge commented on #6914
Solved it by adding a full line of space right before the code block. And I stuck with the triple slash notation. (works for storybook angular!)

[2019-06-17 00:22] juanmait commented on #6981
@shilman apparently there is no workaround I think for the case of having the markdown as a part of the component documentation itself. That tag should be removed. I don't think anyone would be happy removing component's documentation. In my case, I can't use storybook with info addon anymore because the warning appears on top of everything and it doesn't matter if you set the inline option or not

[2019-06-17 01:00] shilman commented on #7071
More discussion w/ @tmeasday

1. Specifying the blacklist/whitelist is awkward because it opens up the door for typos etc. Boxing is awkward because it's extra syntax and requires an extra import. Would be much better if this was "just plain javascript"
2. Story blacklist (`ignoreExports`) better than whitelist (`storyExports`) from a discoverability standpoint. If you have a typo in your blacklis

[2019-06-17 01:25] tmeasday commented on #7071
I think if we can make the black/whitelist easily configurable via params, then we shouldn't have a default -- to me that falls under the purview of magic that the user might not know about and find hard to debug (why is my story `_iLoveUnderscores` not showing up?)

[2019-06-17 01:45] shilman commented on #6981
@juanmait Thanks for the repro. I think there's a workaround for one class of error, even if it doesn't fit your use case, so I'm going to leave the tag.

[2019-06-17 01:45] shilman commented on #6981
FYI you might want to check out Storybook Docs which is designed to replace addon-info.

Here's the project description: https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a

And here's the guide to technical preview alpha you can use today: https://docs.google.com/document/d/1un6YX7xDKEKl5-MVb-egnOYN8dynb5Hf7mq0hipk8JE/edit?usp=sharing

[2019-06-17 03:57] rodrigouz commented on #145
in the step 4 I added `init`

[2019-06-17 06:04] #6296 closed

[2019-06-17 06:22] emilio-martinez commented on #7084
@bennypowers do you have a repo somewhere to take a look?

Just to clarify, when you say you removed the dependencies on open-wc packages, do you mean you essentially replicated the entire `@open-wc/demoing-storybook` setup with a clean storybook install?

[2019-06-17 06:48] rwieruch commented on #6417
Thanks for sharing! Looks super promising and I will try it this week 👍

[2019-06-17 07:41] pascaliske opened #7106 "[Angular] [bug] Automatic component declaration for Angular not working with `forRoot`"
**Describe the bug**
One of the last Storybook releases introduced a new behavior for NgModules where Storybook only declares components dynamically if they were not declared already inside of an imported NgModule (see #6666 - Thanks to @MaximSagan for his awesome work!).

This new behavior also introduces an error with NgModules imported by a static `forRoot` method which is a really common patte

[2019-06-17 07:45] LeBenLeBen commented on #6974
I got a similar issue caused by the Storysource addon Prettier's default config which is [documented here](https://github.com/storybookjs/storybook/tree/next/addons/storysource#prettierconfig).

The main issue for me is `printWidth: 100` which is different from Prettier's default and my own config. I ended-up overriding the addon settings with my own to stop the warning from popping in the console

[2019-06-17 08:23] shilman commented on #6417
@rwieruch Great! Github issues welcome + we also have a discussion going in the `#docs-mode` channel in our discord around design feedback & support https://discord.gg/UUt2PJb

[2019-06-17 08:34] kg-currenxie opened #7108 "Adding @storybook/react breaks our app's compilation"
**Describe the bug**
Just doing `yarn add @storybook/react -D` breaks our **app's** compilation (TypeScript). That's the only step. I'm **not** even trying to run Storybook yet.

**To Reproduce**
Very hard to reproduce. We have a somewhat big TypeScript app, tons of packages and configurations.

**Code snippets**
1. package.json:  https://gist.github.com/kg-currenxie/1aa3c2c0829b0a787bd97c95011a7c

[2019-06-17 09:54] ndelangen commented on #7108
Have you tried removing the lockfile and node_modules and re-installing?

[2019-06-17 10:02] kg-currenxie commented on #7108
Yes, same result. The yarn.lock diff is massive.

[2019-06-17 10:07] ndelangen commented on #6981
Fixed in https://github.com/storybookjs/storybook/pull/6016

@shilman Do you think we could issue a patch or alpha release with that in it?
So users can start adding code examples to their addon-info?

[2019-06-17 10:09] ndelangen commented on #7108
I noticed that in your package.json you have fixed version for babel & some loaders, if you make those `^` versions, does that make a difference?

[2019-06-17 10:10] Utzel-Butzel opened #7109 "context.parameters.fileName is different in static build"
**Describe the bug**
When using `context` the `parameters.fileName` is the actual path (e.g. /folder/Button-story.js) in development but will switch to a number (e.g. 1021) in static production build.

**To Reproduce**
Steps to reproduce the behavior:
Output context in production build.

**Expected behavior**
context should be the same in development and production

**Code snippets**
[code]

**Sys

[2019-06-17 10:14] ndelangen commented on #6984
@nategreen I do not know how flatten works, if you can debug what it does, and why it breaks the setup we'd welcome a PR!

[2019-06-17 10:15] ndelangen commented on #6984
@dperetti Why would you set `useBuiltIns` to false?

Maybe that might work if you run storybook without dll (`--no-dll`) though.

[2019-06-17 10:22] kg-currenxie commented on #7108
babel core was already on the latest,
babel-loader got upgraded from 8.0.5 to 8.0.6

dont think the other loaders matter in this case? css/style/eslint-loader, but i upgraded them as well

no changes :(

[2019-06-17 10:34] ndelangen commented on #7071
Here's an idea:

[code]

If we're going to assume users will re-use these `normal`, `special`, `odd` exports in other places, having them clean, means less potential for conflicts, but also from a tree-shaking perspective having this:

[code]

Will mean 'some-storybook-addon' will go into the user's bundle.

[2019-06-17 10:43] ndelangen commented on #7071
I agree the api is verbose, the main issue is that it separates the definition from the 'metadata'..

[2019-06-17 10:54] janpe commented on #4716
Ran into this problem as well.

[2019-06-17 10:58] bennypowers commented on #7084
Unfortunately nothing I can share at the moment.

Yes, specifically, reimplemented `defaultConfig` inside my local storybook webpack config

[2019-06-17 11:21] ndelangen commented on #6973
I think checking in `package.json` before searching in `node_modules` is a great solution!

@binomialstew would you be able to open a PR for this?

Here's the code that would need to change:
https://github.com/storybookjs/storybook/blob/5eb6af0e1b20a84b9fb28fd70b049f51993b1169/app/react/src/server/cra-config.js#L62-L70

I'm unsure how to tests this, maybe @Hypnosphi would have a suggestion on that

[2019-06-17 11:23] #5878 closed

[2019-06-17 11:27] danielbartsch opened #7111 "Jest findRelatedTests and storyshots"
**Is your feature request related to a problem? Please describe.**
`jest --findRelatedTests` tests all tests in jest, except storyshot tests.

I would like that this works as well.

**Describe the solution you'd like**
`--findRelatedTests` should work for storyshots as well

**Describe alternatives you've considered**
running all storyshots everytime, which can take a long of time as your storyboo

[2019-06-17 11:29] ndelangen commented on #6335
When #4169 drops we'll support full custom theme options, including this property.

[2019-06-17 11:45] ndelangen commented on #6799
Tok a stab at diffing the 2 configs:
https://www.diffchecker.com/pkKsizom

But nothing really stands out why a module might be missing after a static build.

Have you been able to make any progress on it?

[2019-06-17 11:50] ndelangen commented on #6899
Merged! Marked it as a patch, so should be part of next 5.1.x release

[2019-06-17 11:54] ndelangen commented on #5298
Related:
https://github.com/webpack/webpack/issues/4039

[2019-06-17 11:54] Hypnosphi commented on #6973
@ndelangen add an example with lerna to `cli/tests/fixtures`?

[2019-06-17 12:01] dperetti commented on #6984
@ndelangen because I'm using Electron with a super recent Chromium that doesn't require any polyfill.

[2019-06-17 12:08] ndelangen commented on #6984
Cool, but storybook isn't running in Electron though, is it?

Our code assumes to be running in a browser, and we try to support browser down to IE11.

Could you post your error + stacktrace?

[2019-06-17 12:22] ndelangen commented on #5267
This might help with the reloading issue: #6972

[2019-06-17 12:25] dperetti commented on #6984
My Storybook is :-) https://github.com/storybookjs/storybook/issues/1435#issuecomment-441305372-permalink.
I will post more about my issue tonight. But Electron is a browser, by the way, and no polyfill it at all sounds like an easier case to support ;-)

[2019-06-17 12:26] ndelangen commented on #5267
I won't help with the persistence of state though, if there IS a refresh, it will reset the state.

@shilman and I did discuss the idea of persisting the selected tab, but we haven't really chooses how to exactly solve yet.

[2019-06-17 13:26] hsablonniere commented on #6623
Thanks very much!!! :tada:

[2019-06-17 14:14] Djiit commented on #7092
Hi there ! Jumping in to say we encountered the same thing here -- and that deactivating Source Maps worked for us as a workaround.

[2019-06-17 14:35] Jack-Barry commented on #1153
That does work, guess I just overlooked the slight difference in how the functions in `methods` are declared when using `action`, since typically I declare functions in `methods` along the lines of

[code]

Thanks for pointing that out @Hypnosphi!

[2019-06-17 15:15] dstroot commented on #6981
Umm... I for one am not comfortable with this advice given this warning in the docs:

"⚠️ Disclaimers
This is a very early and incomplete alpha release of SB Docs. We're making it available early to maximize community participation and feedback. We expect it to evolve a lot over the course of the alpha period..."

[2019-06-17 15:40] shilman commented on #6864
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.29 containing PR #7104 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@debug` NPM tag.

[2019-06-17 15:40] shilman commented on #6899
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.29 containing PR #6922 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@debug` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-17 15:40] shilman commented on #7101
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.29 containing PR #6382 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@debug` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-17 15:40] shilman commented on #5915
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.29 containing PR #6016 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@debug` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-17 15:40] shilman commented on #6994
Ta-da!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.29 containing PR #7078 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@debug` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-17 15:40] shilman commented on #6564
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.29 containing PR #7105 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@debug` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-17 15:42] shilman commented on #5915
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.29 containing PR #6016 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@debug` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-17 15:42] shilman commented on #6994
Ta-da!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.29 containing PR #7078 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@debug` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-17 15:42] shilman commented on #6864
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.29 containing PR #7104 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@debug` NPM tag.

[2019-06-17 15:42] shilman commented on #6899
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.29 containing PR #6922 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@debug` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-17 15:42] shilman commented on #7101
w00t!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.29 containing PR #6382 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@debug` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-17 15:42] shilman commented on #6564
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.29 containing PR #7105 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@debug` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-17 15:43] rwieruch commented on #7092
@shilman you mean finding there is one bad library which causes the issue? I don't think I added some library to my bundle in the past, I just think the bundle got too big over time. Any recommendations on how to apply code splitting here? :)

[2019-06-17 15:47] #5915 closed

[2019-06-17 15:48] #6994 closed

[2019-06-17 15:48] #6899 closed

[2019-06-17 16:24] juanmait commented on #6981
@shilman tanks, that project looks really great.

[2019-06-17 17:13] ubaid-dev opened #7113 "ERROR: in ./node_modules/core-js/internals/array-for-each.js Module not found: Error: Can't resolve '../internals/array-methods'"
Problem with core-js package.

After running component explorer command `yarn run storybook` i end up with this issue.
![storybook1](https://user-images.githubusercontent.com/38039843/59622739-14d34980-913b-11e9-88a3-9a8ddfbf2e0d.JPG)

Requiring module that doesn't exists;
![storybook2](https://user-images.githubusercontent.com/38039843/59622965-aa6ed900-913b-11e9-88c8-7be1f374c248.JPG)

**System:

[2019-06-17 18:46] piperchester commented on #7093
Closing this out -- it looks like an issue with our local setup. Apologies for any unwarranted FUD!

[2019-06-17 18:46] #7093 closed

[2019-06-17 19:19] go1deneag1e opened #7114 "Add nested components where one component takes a service"
I am trying to find an example of how to add nested angular components where one takes a service into storybook. Could anyone provide an example of how to do this?

[2019-06-17 19:23] CelesteComet commented on #6002
@ndelangen , sorry I didn't see this. I don't think I'll need help but you can butcher the PR if it's way off!

[2019-06-17 20:18] kon-rad opened #7115 "'TypeError: decorated is not a function' - error while upgrading to 5"
**Describe the bug**
Attempting to update from
`3.4.7` to `5.1.8` (also previously attempted update to `4.1.6` but had the same error)

**To Reproduce**
Steps to reproduce the behavior:
1. Followed instructions on medium post on [updating to 4](https://medium.com/storybookjs/migrating-to-storybook-4-c65b19a03d2c) [and to 5](https://medium.com/storybookjs/storybook-5-migration-guide-d804b38c739d)
2

[2019-06-17 20:19] tsaiDavid commented on #6093
I actually got this same issue when upgrading from v4 -> v5. I'm using Lerna + Yarn Workspaces and just had to delete *all* `node_modules/` and was good to go

[2019-06-17 20:42] robbertolierook opened #7116 "Options knob throws 'Object(...) is not a function'"
**Describe the bug**
Options knob throws `Object(...) is not a function` error

**To Reproduce**
I used this knob directly on my component:
[code]
The Knob did not render in the addon panel, and the story display threw this error:

[code]

Since it also mentions the 'readme' addon, it might be a problem with the combination of both, which is weird, because all other knobs work perfectly.

**Expect

[2019-06-17 21:37] garrettmaring commented on #6985
Thanks for adding this to the 5.1.x milestone, @shilman!

In the meantime, is there somewhere I can look (source is fine) to get a basic understanding of how that section works and how I can configure it?

[2019-06-17 22:16] kon-rad commented on #7115
This was resolved. For anyone that may find this helpful; the issue was passing a non function as the second argument to .add() method.

[2019-06-17 22:16] #7115 closed

[2019-06-17 22:48] kon-rad commented on #6998
same here - react 16.6.3

[2019-06-17 22:57] shilman commented on #7093
@piperchester relieved to hear that! 😅

[2019-06-17 23:32] shilman commented on #7092
@rwieruch I mean that fix is going to reduce the bundle size by 5% or so. It's a small thing, but small things add up. I'm hoping we can do a perf sprint at some point soon and improve the situation.

[2019-06-17 23:36] shilman commented on #6981
@dstroot Updated the disclaimer, which was written when I first released SB Docs. At this point it's a fairly complete v1, and I don't see any major changes on the way (tho I still reserve the right to make them!).

[2019-06-17 23:40] shilman commented on #6985
@ndelangen can you help him out?

[2019-06-17 23:48] ndelangen commented on #7113
what the? how can that happen?

so array-for-each was found, but array-methods is not?
These paths are there for core-js v3, What version have you installed?

[2019-06-18 00:58] tmeasday commented on #7071
Hmm, I hear you about the treeshaking, but I think there is a really big downside ergonomically in having to put something in two spots every time you write a story.

[2019-06-18 03:42] #6127 closed

[2019-06-18 06:00] mwager commented on #6984
Version 5.1.8 - fresh install as in my comment above:

Errors:

[code]

package.json

[code]

[2019-06-18 07:06] filippoitaliano commented on #6984
@mwager similar problem here https://github.com/storybookjs/storybook/issues/6204#issuecomment-502001769.

[2019-06-18 07:10] mwager commented on #6984
I worked around now by copying ALL the contents from core-js@2.6.5 `modules` folder into my core-js3 `modules` folder... e.g.:

[code]

[2019-06-18 07:42] fjtrujy commented on #7017
We are exactly suffering the same issue, and for us is even worse, because we are using WebSockets to select the story in our Automation test to check the content is the proper one.

Thanks

[2019-06-18 08:30] Gongreg commented on #4716
Seems like some additional issue was brought in with storybook v5. React Native server is now using common solution with other frameworks so it is a little more difficult to inspect it.

[2019-06-18 09:50] jamime commented on #6420
PR for `addon-docs` https://github.com/storybookjs/storybook/issues/7101

[2019-06-18 10:06] ubaid-dev commented on #7113
I started with this tutorial [https://www.learnstorybook.com/react/en/get-started/](url) and end up with issue i described above. This file looks different in the latest version of core-js.

[2019-06-18 10:48] mwager commented on #6984
A fix which works for us now (also on CI):

Upgrade vue cli:
[code]

See release notes:

  https://github.com/vuejs/vue-cli/blob/dev/CHANGELOG.md

[2019-06-18 13:28] chulanovskyi opened #7136 "Static build loop"
**Describe the bug**
Static build falls into infinity rendering of nested instances. See *gif* for details

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to the latest version
2. Make static build - `build-storybook -c .storybook -o build`
3. Start - `serve -s build/`

**Expected behavior**
Renders as a usual (development) build (but faster ;) )

**Screenshots**
![Example](https://i

[2019-06-18 13:45] ndelangen commented on #6984
Awesome! Vue upgraded as well 🎊

[2019-06-18 13:49] ndelangen commented on #6984
@dperetti please do. Right an evergreen only project is easier then a non-evergreen project.
But a project where you want both an evergreen distributable AND a non-evergreen distributable is more complex than either one alone.

[2019-06-18 14:16] aga5tya commented on #6204
@filippoitaliano I have the exact same error. I can confirm the file is present in core-js modules path and also babel preset has core-js 3 enabled, but still fails. Were you able to sort this out ?

[2019-06-18 14:25] rg1220 opened #7137 "Basic setup for addon-docs fails in Angular"
**Describe the bug**
Addon-docs do not work for Angular. The Docs tab throws an error and .mdx files do not load.

**To Reproduce**
Steps to reproduce the behavior:
1. Create new Angular repo
2. Initialize Storybook
3. Follow install and configuration instructions for addon-docs (https://docs.google.com/document/d/1un6YX7xDKEKl5-MVb-egnOYN8dynb5Hf7mq0hipk8JE/edit#heading=h.dxj05fphntrh)
4. Run sto

[2019-06-18 14:56] rg1220 commented on #7137
From the Technical Preview docs:

I updated @storybook/* to `5.2.0-alpha.29` and it started to work.

[2019-06-18 14:56] #7137 closed

[2019-06-18 16:00] chriscarpenter12 commented on #5910
I'm still seeing this same error with v5.1.8

[2019-06-18 16:07] jonkwheeler commented on #7084
Same error after upgrading to 5.1.8.

[code]

[2019-06-18 19:13] jendowns opened #7140 "addons-info stylesheetBase sets info to `height: 110vh` which cuts off propTypes table"
**Describe the bug**
In the pre-release `5.2.0-alpha.27`, the `stylesheetBase` for addons-info now has `height: 110vh` applied, which cuts off the propTypes table.

Note: we are aware of the risk of using pre-releases! In this case we are trying to get fixes from https://github.com/storybookjs/storybook/pull/6016 😅

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to `5.2.0-alpha.27`
2

[2019-06-18 20:18] #6030 closed

[2019-06-18 20:59] #7140 closed

[2019-06-18 21:07] shilman commented on #6204
cc @igor-dv @libetl ☝️

[2019-06-18 21:09] jackiehluo opened #7142 "Building Storybook fails, unable to find Jest globals"
**Describe the bug**
Running `yarn build-storybook` fails consistently after upgrading our dependencies. The "Compiling preview" step fails with this output (just a small sample):

[code]

As one might expect, only test files that use Jest globals are affected. Running the tests and the app, however, works fine—only Storybook is failing.

**Expected behavior**
Storybook builds successfully.

**Ver

[2019-06-18 21:12] shilman commented on #6420
@jamime FYI it's been out as 5.2.0-alpha.x for the past month. Guide: https://docs.google.com/document/d/1un6YX7xDKEKl5-MVb-egnOYN8dynb5Hf7mq0hipk8JE/edit?usp=sharing

[2019-06-18 21:40] T-Higgs opened #7143 "@storybook/angular@5.1.8 peer dependency on autoprefixer@^8.1.0"
**Describe the bug**
@storybook/angular@5.1.8 has peer dependency on autoprefixer@^8.1.0 which cannot be resolved with Angular 8 and @storybook/core@5.1.8.

**To Reproduce**
Steps to reproduce the behavior:
1. create a new angular project `ng new storybook-test`
2. add story book `npx -p @storybook/cli sb init`
3. run `npm install`
4. You should have a warning reading: `npm WARN @storybook/angular

[2019-06-18 22:13] dperetti commented on #6984
[code]

and thousands of lines like this
[code]

[2019-06-18 23:03] ndelangen commented on #6985
Yes, documenting this is high priority for me.

[2019-06-19 00:11] tyler-johnson commented on #7084
Hi! Sorry if this is "too many cooks", but I am also having this issue with 5.1.8 and React. I get a ton of these errors while building webpack:

[code]

If I downgrade to 5.1.3, things continue to work again. Happy to share more about my repo if asked!

[2019-06-19 01:47] kg-currenxie commented on #7108
Hey, false alarm. I got the same error by just deleting our `yarn.lock` and installing again. So it wasn't specific to Storybook, but adding the package made the same side effect.

I still don't understand why :P We had most package versions locked, so not sure how `yarn.lock` could have different versions.

[2019-06-19 01:47] #7108 closed

[2019-06-19 02:38] namhong2001 commented on #7142
Same here. Did you find any workarounds?

[2019-06-19 04:16] binomialstew commented on #6973
Thanks, @ndelangen, for the hint. I've submit [a PR](https://github.com/storybookjs/storybook/pull/7144) for this.

@Hypnosphi, that sounds like a good idea, but I'd have to get a little more familiar with the project to set this up. I can probably do this in the next couple days, if it's still needed.

[2019-06-19 05:37] bennypowers commented on #7084
I did some repo spelunking today and noted the following, I hope it helps:

[code]

and here are my dependencies:
[code]
applying @jonkwheeler 's solution to the open-wc `defaultConfig` did not help
removing `@commitlint/cli`, with it's dependency on `babel-polyfill` did not help
removing `@storybook/addon-storysource` did not help
adding peerDependencies `react react-dom webpack babel-loader prop

[2019-06-19 05:54] graup commented on #7142
I found a workaround by pinning both `jest` and `@types/jest` to `24.0.0`.

https://github.com/facebook/jest/issues/8285#issuecomment-500165012

[2019-06-19 06:47] soosap opened #7146 "Addons panel not showing up in development"
In **development**, i.e. when running `start-storybook -p 7007 -c .storybook` the addons panel with **Knobs** and **JSX** (see screenshot) disappears. However, when **build**ing storybook w/ `build-storybook -o dist` it is available. Also not all addons are affected, but only those that are positioned in the bottom panel (see screenshot). Other addons such as @storybook/addon-backgrounds operate a

[2019-06-19 08:29] filippoitaliano commented on #6204
@aga5tya Yeah you hit the problem. I've exclude node_modules and everything works fine!

[2019-06-19 08:32] shilman commented on #7146
I think the UI state is stored in localStorage. I'm wondering if simply selecting "show addons" from the menu fixes it:

<img width="419" alt="Storybook_and_Notifications" src="https://user-images.githubusercontent.com/488689/59749485-ac59a900-92af-11e9-8ab7-3be83cabcc16.png">

If not I'd suggest disabling addons to see if there is an addon that's causing it to error somehow.

[2019-06-19 09:22] borisdiakur commented on #6204
I had to:
- [x] update all storybook dependencies
- [x] add `"corejs": 3` to my .babelrc
- [x] run `yarn add corejs@3`
- [x] add `exclude: /node_modules/,` to my webpack.config.js
- [x] remove `import 'babel-polyfill'` from my app.js

[2019-06-19 09:54] soosap commented on #7146
Hi there, thanks for the quick reply. It seems the problem has been with the Chrome browser. All others browsers DO display the addons panel. Yet for some reason even after updating Google Chrome to Version 75.0.3770.100 it does not show.

[2019-06-19 09:54] #7146 closed

[2019-06-19 10:17] Al-un commented on #2792
Many thanks @wfsovereign . With the [full control mode](https://storybook.js.org/docs/configurations/custom-webpack-config/#full-control-mode--default), the incantation becomes:

[code]

[2019-06-19 11:18] numericgraphics commented on #7049
Version 5.1.8 storybook/html, opening viewport addons displayed the error --> Warning: Received `false` for a non-boolean attribute `loading`.

[2019-06-19 13:00] libetl commented on #6204
babel polyfill is deprecated and must be replaced by core-js everywhere

[2019-06-19 13:35] antoinejaussoin commented on #4691
I also had this problem, and tracked it down (as someone else said before) to the fact that Storybook uses a different instance of React (one in my workspace node_modules, and one in the storybook node_modules, I'm using Yarn Workspaces, monorepo).

I tried the package.json resolution trick, to no avail.

I got it working though by tweaking the webpack.config by using aliases and forcing both reac

[2019-06-19 13:43] martinmcwhorter commented on #5574
I am seeing a strange, possibly related, issue with indentation of code blocks within markdown.

Much of the indentation is incorrect or wrong.

![image](https://user-images.githubusercontent.com/1194490/59770490-0b172680-92a0-11e9-87b9-238e6a65b627.png)

Renders as

![image](https://user-images.githubusercontent.com/1194490/59770540-23874100-92a0-11e9-9781-da71b091ce8a.png)

HTML is much worse:
!

[2019-06-19 15:17] Jony-Y opened #7148 "Add story funtion breaks HMR"
Hi,
I'm trying to create my own wrapper to create stories, to save some redundant code.
every time I use my createStory, the story loads fine but the HMR breaks and I get this warning in the console

I tested everything, even dumbed down versions, still doesnt work

lets say I have a function:

`/** createStory*/
 export default (section) => storiesOf(section, module)
`

and I try to use it in my

[2019-06-19 15:43] #6676 closed

[2019-06-19 15:43] #6593 closed

[2019-06-19 16:05] ljharb commented on #6204
or airbnb-browser-shims :-p

either way, node_modules should always be excluded from transpilation.

[2019-06-19 16:09] mariovde opened #7149 "@storybook-addon-options: per-story hiding panel, hides it for every story."
### Bug or support request summary
HI,

What we are trying to do, is to hide the knobs/actions panel per story. For example, on our welcomes page, we don't need it. So we used the options-addon to hide it for this "component".
And it works, BUT it also hides the panel for the rest of the stories.

What we want is to be able to hide the panel for one story and let it re-appear once we switch storie

[2019-06-19 16:12] emilio-martinez commented on #6889
Hey @gocreating 👋I just tried reproducing with a clean CRA + Storybook + adding Storybook typescript config, but I didn't get any errors. Would you mind sharing more detail on the errors you're seeing?

[2019-06-19 17:18] craigtaub opened #7150 "Addon-knobs label default value persisting"
Hi
We noticed since the 5.0.11 to 5.1.8 upgrade the `text` label default value persists across files/stories. We use `Heading` quite often and now sometimes the default set in 1 Story appears in a different Story (even if it has a different default set). The result is that our Chromatic flags a change in the UI. Happens locally sometimes too. Produces a race condition regarding which file loads fi

[2019-06-19 17:36] jackiehluo commented on #7142
This fix didn't work for me! That linked issue deals with the tests failing; our tests are working fine, though. Only Storybook is broken for us.

[2019-06-19 17:43] aantipov commented on #1298
I wrote an article how to stub components in Storybook https://medium.com/p/how-to-stub-vuejs-react-container-components-in-storybook-eb4193c48f46

**TLDR**:
The approach is similar to @rcadel's one, but uses a [NormalModuleReplaccementPlugin](https://webpack.js.org/plugins/normal-module-replacement-plugin/) plugin instead of a loader:
[code]
It checks all the `.vue` components and
- uses the sibl

[2019-06-19 17:52] Yankovsky commented on #7058
@shilman @chingchinglcc I had similar problem. Storybook has @babel/core and babel-loader in its peer dependencies and relies on you to install them. Check this link https://storybook.js.org/docs/guides/guide-react/
So, probably, babel-loader is not listed in your dependencies and it could be nested inside different modules in your node_modules directory. Because of that storybook can't use it and

[2019-06-19 20:04] atasanchez commented on #4716
I have the same issue, any update about this problem?

[2019-06-19 20:28] happinessEngineer commented on #6012
I am seeing the same issue with the latest version of the addon and storybook/react (both v5.1.8).

[2019-06-19 20:34] ndelangen commented on #7049
@numericgraphics are you able to reproduce here:
https://monorepo.storybook.now.sh/examples/html-kitchen-sink/?path=/story/welcome--welcome

I'm not, so what am I doing wrong?
Can you give me a bit more detail on how to reproduce the problem?

[2019-06-19 21:25] ndelangen commented on #7108
@kg-currenxie long story short:

You depend on exact version package-a,
package-a depends on inexact package-b

a lockfile makes sure that dependency on package-b gets locked to an exact version.

[2019-06-19 22:12] efmr commented on #5269
Found the same issue to reproduce it:

`serve -s storybook-static`

Removing the single page app flag fixes it:

`serve storybook-static`

[2019-06-19 22:14] efmr commented on #5547
Fix: https://github.com/storybookjs/storybook/issues/5269#issuecomment-503765857

[2019-06-19 22:18] madroneropaulo commented on #7033
Can someone reopen this? this is still an issue.

[2019-06-19 22:52] shilman commented on #6888
FYI SB docs is available in 5.2.0-alpha.x and documented here: https://docs.google.com/document/d/1un6YX7xDKEKl5-MVb-egnOYN8dynb5Hf7mq0hipk8JE/edit?usp=sharing

[2019-06-19 23:06] shilman commented on #7148
AFAIK you need `module` to be different for each `storiesOf` call, so you should pass it individually each time.

[2019-06-19 23:10] shilman commented on #5574
cc @ndelangen ☝️

[2019-06-19 23:10] Yankovsky opened #7152 "Cannot find module node_modules/babel-preset-react-app/node_modules/@babel/runtime/helpers/interopRequireDefault"
**Describe the bug**
Running `npm run test` command results in error:
Cannot find module '/Users/yankovskyandrey/Code/cra-sb-storyshots-bug/node_modules/babel-preset-react-app/node_modules/@babel/runtime/helpers/interopRequireDefault' from 'Storyshots.test.js'

**To Reproduce**
Steps to reproduce the behavior:
1. Use npm to install all dependencies
2. Setup CRA + storybook using this instruction h

[2019-06-19 23:16] Yankovsky commented on #7152
I saw issues like that without proper solution. People just blindly remove npm/yarn cache or delete package-lock/yarn.lock files and at one point they get lucky – different version of @babel/runtime become root dependency and version required by babel-preset-react-app stay inside its node_modules.
We can't rely on that.
Let's fix this problem once and for all.

[2019-06-20 00:36] raspo commented on #3855
I would really like for this to be officially supported.

In the meantime, with Storybook v5 I had to go with this terribly hacky solution:
[code]

🙈

[2019-06-20 00:41] shilman commented on #6564
w00t!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.9 containing PR #7105 that references this issue. Upgrade today to try it out!

[2019-06-20 00:41] shilman commented on #6864
Great Caesar's ghost!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.9 containing PR #7104 that references this issue. Upgrade today to try it out!

[2019-06-20 00:41] shilman commented on #6899
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.9 containing PR #6922 that references this issue. Upgrade today to try it out!

[2019-06-20 05:46] graup commented on #6548
@shilman can we reopen this? I have the same question.

[2019-06-20 06:06] graup commented on #1573
This still doesn't work with Single File Components that rely on the root fallback: https://github.com/dlucian/vuejs-storybook-i18n/issues/1

[2019-06-20 06:06] Yankovsky opened #7156 "Throw errors on storybook start if @babel/core or babel-loader are not installed as dependencies"
**Is your feature request related to a problem? Please describe.**
@babel/core and babel-loader are peer dependencies for storybook. People can miss storybook installation instructions or later delete these dependencies because they are not used in project directly. There are many issues because of it, e.g. https://github.com/storybookjs/storybook/pull/6967 and https://github.com/storybookjs/story

[2019-06-20 06:24] mrmckeb commented on #4691
Hey, so this is a known issue with hooks, I believe they have it documented on the React side - you can also symlink react (if you're symlinking a package into your project - you symlink React from the project back to your package).

[2019-06-20 06:30] mrmckeb commented on #7152
@Yankovsky, that `blind` solution is actually one that works most of the time... unfortunately there isn't a better solution yet. If you have one, please suggest it.

The appropriate place would be the Create React App project, as this is seen outside of Storybook installs. https://github.com/facebook/create-react-app/issues

We're yet to work out how to solve it, but it is a deduping issue I beli

[2019-06-20 06:30] #7152 closed

[2019-06-20 06:46] Yankovsky commented on #7152
@mrmckeb I agree, it is definitely deduping issue, I've spent one whole day trying to debug that. I suspect that some module rely on having @babel/runtime inside its own dependencies and for some reason has relative path to it. Just to be clear are you sure that it is not storybook's problem, but CRA's?

[2019-06-20 07:38] shilman commented on #7156
Throwing errors up front is a good idea -- I imagine it can save people time. Can you create a PR for it? I don't think converting peerDependencies is a good idea but I can't recall the rationale for it. I'm sure @Hypnosphi remembers :)

[2019-06-20 07:43] shilman commented on #5050
@Keraito https://github.com/storybookjs/storybook/pull/7100

[2019-06-20 07:57] Jony-Y commented on #7148
so if I pass the module? would that work?

[2019-06-20 08:05] Gongreg commented on #4716
I should have some time tomorrow to look into it.

[2019-06-20 08:20] Jony-Y commented on #7148
So, Adding module to the createStory function worked. Thanks!

[2019-06-20 08:20] #7148 closed

[2019-06-20 09:30] ChucKN0risK commented on #4259
I'm experiencing the same issue. I created a question on StackOverflow : https://stackoverflow.com/questions/56682493/how-can-i-make-vuex-store-work-with-storybook

[2019-06-20 09:51] Yankovsky commented on #7156
I can work on this issue but first I want to understand why these dependencies are peer dependencies and I'll try to find a way to turn peer dependencies warning for package into errors.

[2019-06-20 09:56] Al-un commented on #6219
@gaetanmaisse Thanks for the suggestion but even if I can register `withProps` globally, I cannot use knobs:
[code]
Type check complains that `props` is not compatible

[2019-06-20 10:24] Al-un commented on #6219
Workaround works fine but when I import `import { number } from "@storybook/addon-knobs/vue";`, I have
[code]

I use storybook for Vue components by `@storybook/ui` drags down React dependencies...

[2019-06-20 10:26] methodus opened #7157 "[Angular] TypeError: Cannot read property 'value' of undefined"
**Describe the bug**
When using a decorator to provide required modules to an angular component, storybook throws the error below:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create an Angular component
2. Create an Angular module which declares and exports the component and additionally imports other required modules from Angular
3. Create a story with a decorator to provide the

[2019-06-20 10:38] #4797 closed

[2019-06-20 11:55] ndelangen commented on #6219
@Al-un what version do you use?

Can you try importing from `import { number } from "@storybook/addon-knobs';`?

[2019-06-20 11:58] ndelangen commented on #5574
I'll pick this up

[2019-06-20 12:37] ndelangen commented on #3855
🙈

[2019-06-20 12:40] ndelangen commented on #3855
Related: #6916

[2019-06-20 12:52] TroySchmidt commented on #6905
Module not found: Error: Can't resolve '@storybook/addon-knobs/register' in `C:\Source\project\.storybook`.  When it tries to resolve, it goes back up the folder tree looking for `node_modules` but that folder is sitting right beside the `.storybook` folder.  I have a project I created in CRA and then ejected.

[2019-06-20 13:03] 1999 commented on #3780
I can't say that this message is very helpful: I'm trying to set up the webpack config, webpack.config.ts file exists but it obviously doesn't even get read and this message doesn't say anything about how to fix it.

[2019-06-20 13:23] xcrzx commented on #7092
Our team encountering the same issue. BTW Upgrading from Node v10 to v12 made it occur less often.

[2019-06-20 13:29] ndelangen commented on #6905
@TroySchmidt got a project you could share?

AFAIK the node resolve algorithm should be able to find `@storybook/addon-knobs` in the case you describe given it's actually installed.

from node perspective there's no difference between `src` and `.storybook`. Node will (recursively) look up, and for sibling folders called `node_modules`, and try to resolve from there.

Are you sure you installed th

[2019-06-20 13:38] TroySchmidt commented on #6905
I resolved this by blowing away `node_modules` and going back to 5.1.8.  5.1.9 and the alphas don't work.

[2019-06-20 13:46] TroySchmidt commented on #6905
Now I do have a custom baseUrl set in tsconfig.json.  Without having the `.env` file having the NODE_PATH set how do you configure that in storybook?

[2019-06-20 13:49] TroySchmidt commented on #6889
I think maybe the issue is the baseUrl setting.  That isn't standard if doing clean CRA.  CRA now recommends not having a .env file with NODE_PATH set and instead using baseUrl of tsconfig.json when using TypeScript.  But if you don't have the .env file you will get a lot of resolution errors.

[2019-06-20 13:52] TroySchmidt commented on #6799
I have seen this in some other places where the new recommendation is only having the baseUrl setting in tsconfig.json.  It used to be to also have that in a .env file and setting NODE_PATH.  If you have both Storybook seems to be fine.  If you delete the .env file then resolve errors start showing up.

[2019-06-20 14:08] knsv commented on #6867
I am the author of mermaid. Let me know if you need any assistance from me. As a happy user of storybook I would love to see mermaid support here.

[2019-06-20 15:24] z00m1n opened #7159 "trying to import actions fails"
**Describe the bug**
Trying to import actions from for the on device add-on as in

[code]

fails with

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. install packages: `npm install --save-dev @storybook/react-native @storybook/addon-actions @storybook/addon-ondevice-actions`
2. add the `import` line of code shown above to `<project root>/storybook/stories/index.js`
3. try to run the

[2019-06-20 15:48] #6656 closed

[2019-06-20 16:04] shilman commented on #7159
@ndelangen another `core-js` instance

[2019-06-20 16:11] shilman commented on #6867
@knsv It looks like an awesome library -- thanks for offering to help. Will reach out soon to discuss! 🥇

[2019-06-20 16:20] shilman commented on #7092
cc @ndelangen

[2019-06-20 16:27] shilman commented on #6905
@TroySchmidt what do you mean "don't work"?

[2019-06-20 16:37] Gongreg commented on #7159
@shilman is it fixed?

[2019-06-20 17:29] sioanis opened #7160 "multiSnapshotWithOptions UnhandledPromiseRejectionWarning"
**Describe the bug**
Getting this warning when adding `multiSnapshotWithOptions` to `storyshots.test.js`.
[code]

**To Reproduce**

Warning when running `npm run test`.

**Expected behavior**

To pass without `UnhandledPromiseRejectionWarning`.

**Screenshots**

![Screen Shot 2019-06-20 at 1 20 55 PM](https://user-images.githubusercontent.com/3586765/59868191-437d3a00-935e-11e9-8cd9-e674980d9db0.p

[2019-06-20 18:39] dmigliorisi-we commented on #7097
Experienced the same bug after upgrade to 5.1.8

[2019-06-20 19:06] jaruesink opened #7161 "raw-loader module not found when using with Angular 8, breaks Angular project when installed"
**Describe the bug**
`Error: Cannot find module 'raw-loader'`

**To Reproduce**
Install storybook using the automatic install into an existing Angular 8 project.

**Expected behavior**
The raw-loader module should not be missing or needed.

**Screenshots**
n/a

**Code snippets**
[code]

**System:**
 - OS: MacOS
 - Device: Macbook Pro 2018
 - Browser: n/a
 - Framework: Angular 8
 - Addons: n/a
 - V

[2019-06-20 22:13] danrha commented on #6675
Are there any updates on this? I'm having a similar issue using the knob on a React story. It didn't happen on Storybook 3. My click handler is sending an event the component is listening to, and the component effectively receives the message, but immediately re-renders, so the change can't be seen.

[2019-06-20 23:29] shilman commented on #7159
@Gongreg it's a complex problem. it's been fixed in the common case but there are still corner cases where it shows up. this might be one of them.

[2019-06-21 02:15] shilman opened #7162 "Addon-docs: Highlight MDX code blocks"
- [ ] Use the syntax highlighter to highlight MDX code blocks
- [ ] Document how to DIY override

[2019-06-21 03:52] danyim commented on #6569
+1 from me as well. Also, how's it going @shilman 😄 -- saying hi from a distant past from Zippy.

[2019-06-21 04:57] betoharres commented on #6674
wow! @bryankang thanks a lot for reporting back the solution!
Currently storybook server is not working if the user follows the documentation( is there a open issue about this? ). Removing the `-p 6006` flag on my package json got it finally working! It was so painful to navigate and edit knobs inside the device. I was developing for a whole month like that until I got time to track down the probl

[2019-06-21 05:21] z00m1n commented on #7159
Is there anything I can do to help ? Any info I can provide ? Is there any workaround for the time being ?

I have very little idea of what's going on, but happy to help any way I can as getting this to work would help me a lot in my current project.
`node_modules/@storybook/addon-ondevice-actions/dist/index.js` does indeed contain a line `require("core-js/modules/es.object.define-property");` and

[2019-06-21 06:58] methodus commented on #7106
Maybe my issue (https://github.com/storybookjs/storybook/issues/7157) is related to this. Any work-a-rounds?

[2019-06-21 07:27] pascaliske commented on #7106
@methodus Yes, your issue describes the same bug.

I have a workaround (provided inside the collapsed diff above) which requires to edit the storybook source code inside node_modules but im willing to extract a PR from this issue changing the storybook code for a future release.

Until the issue is fixed I would suggest to create a little script that applies the above diff and put that script in y

[2019-06-21 07:48] methodus commented on #7106
Do you mean this commit? https://github.com/pascaliske/form-elements/pull/105/commits/3f00b3c9818b94e0bbac40626ea02095199012d0

[2019-06-21 07:55] z00m1n opened #7163 "trying to import withKnobs for Knobs on device add-on fails (regression bug ?)"
**Describe the bug**
Trying to import `withKnobs` for the [Knobs on device add-on](https://github.com/storybookjs/storybook/tree/master/addons/ondevice-knobs) fails; using code such as e.g.

[code]

does not work due to `withKnobs` being undefined:

![20190621-090500 Screenshot iPhone Xs storybook github bug report import withKnobs fails](https://user-images.githubusercontent.com/662044/59904968-2

[2019-06-21 07:58] pascaliske commented on #7106
@methodus yes but inside the `storybook-patch.js` you need to change the search and replace strings for the above diff:

<details>
    <summary><code>storybook-patch.js</code></summary>

    #!/usr/bin/env node
    const { readFile, writeFile } = require('fs')
    const { join, dirname } = require('path')
    const { promisify } = require('util')
    const chalk = require('chalk')

    /* tslint:d

[2019-06-21 08:15] graup commented on #6548
Here's a sort of ugly workaround for this. Just add a decorator that wraps every story and manually assign $root in there. Something along the lines of this:
[code]

[2019-06-21 08:48] z00m1n commented on #4716
I'm running into this as well, happy to help with testing development versions or whatever else is helpful.

On a general note: When running the storybook web server, should I be able to select stories and interact with them (e.g. setting texts in the UI using `@storybook/addon-knobs`) _in the web browser_ ? I do see my stories in the left pane of the web page, but all the "main" pane displays is

[2019-06-21 08:51] Gongreg commented on #4716
@z00m1n, if you use @storybook/addon-knobs you should see addons in web browser.

[2019-06-21 09:38] #5648 closed

[2019-06-21 09:56] andremiguelaa commented on #6981
Still not working here with 5.2.0-alpha.29 :(

[2019-06-21 10:50] Yankovsky commented on #7049
I have same issue as well. You've fixed the issue for lib/ui/src/components/sidebar/SidebarItem.js but I get it for ListItem ![http://s.csssr.ru/U02D248T6/2019-06-21-13-50-11-q96kn_.jpg](http://s.csssr.ru/U02D248T6/2019-06-21-13-50-11-q96kn_.jpg)

[2019-06-21 11:55] frankstallone commented on #7146
This happens to me in Google Chrome, Google Chrome Canary and Firefox Nightly. All latest. Storybook 5.1.8. The only way I've been able to get it to work is to hop into Incognito mode (thx to jamime on Discord for that). When I click on the menu I immediately get this error in console...

[code]

[2019-06-21 12:12] Hypnosphi commented on #7156
We need those as peer dependencies as long as we're going to support both babel 6 and babel 7 configs

[2019-06-21 12:37] Gongreg commented on #4716
Hello.

I've tried playing with things around. I managed to get story selection working. But what became clear is that we have to update react-native code to support react-native-server properly. I hope to do that next week.

The main issues are these:

1. It doesn't connect to react-native-server properly.
2. Story store api has changed and we are using old one.

[2019-06-21 13:01] benoitdion commented on #4716
Is this because someone of the new code started using hooks?

[2019-06-21 13:16] Gongreg commented on #4716
The way the events are emitted has changed, we have some useless events being emitted from react native side and now storyStore is using storyId instead of kind + story. Also if you somehow call getStorybookUI multiple times the connection to server fails.

[2019-06-21 13:20] cormickjbrowne commented on #7106
@pascaliske I ran your script and I can see that this line...
[code]

...was added in
`node_modules\@storybook\angular\dist\client\preview\angular\helpers.js`

but I'm still seeing the same error in storybook. The `importItem` that it's trying to load looks like this:
[code]

Any thoughts?

[2019-06-21 13:27] Waseemrajashaik commented on #7033
Reopened this issue
when i get this issues - i need to again reinstall `react-scripts: 3.0.1` every time. even if it's already installed . (it occurs when you add new story in it).

[2019-06-21 13:28] jackblackCH commented on #1255
A simple and still customizable plugin like solution via a decorator. We inject a style tag that overrides the body class in the iframe.

1. Add file to `.storybook/addons/no-border.js` -> `export default story => `<style>.sb-show-main{margin: 0}</style>${story()}`

2. In the story
[code]

[2019-06-21 13:29] jackblackCH commented on #2264
A simple and still customizable plugin like solution via a decorator. We inject a style tag that overrides the body class in the iframe.

1. Add file to `.storybook/addons/no-border.js` -> `export default story => `<style>.sb-show-main{margin: 0}</style>${story()}`

2. In the story
[code]

[2019-06-21 14:07] shilman commented on #7146
@ndelangen This was supposedly fixed in 5.1.7 #7080 #7073 but looks like it's still affecting users in 5.1.8. Any idea what's going on?

@frankstallone If you do `localStorage.clear()` in normal mode (not incognito) does that fix it?

[2019-06-21 14:11] shilman commented on #7159
@z00m1n more info: https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#corejs-3

[2019-06-21 14:17] shilman commented on #6674
This sounds like a bug in RN server, not a documentation issue.

@Gongreg @benoitdion mind taking a look?

[2019-06-21 14:44] frankstallone commented on #7146
Good question @shilman. Doesn't look like that changes anything. ` localStorage.clear()` then `localStorage` shows `Storage {length: 0}`, which is what we want, however the panel does not appear. Hard refresh does not seem to do it either. I would have thought this would work considering Incognito mode works.

[2019-06-21 16:45] CygnusRoboticus commented on #7157
I get this on `5.1.9` => `5.0.11`; I've switched to `5.1.0-alpha.39` (the version in the demo) for now.

[2019-06-21 17:05] shilman opened #7164 "Addon-docs: Naming consistency for Story blocks"
As raised in @ndelangen 's review of #7119. We currently define stories in MDX as:

[code]

However, in the module format we can override the story title as:

[code]

Should we rename the `Story`'s `name` attribute to `title` for consistency? Or rename `title` to `name`?

[2019-06-21 17:38] shilman opened #7165 "CSF: Recover from errors"
As reported by @ndelangen in #7119 , docs doesn't recover from errors:

<img width="1066" alt="Screenshot 2019-06-21 at 15 14 11" src="https://user-images.githubusercontent.com/3070389/59924974-4730bf80-9437-11e9-987c-0bcdff6cff79.png">

Reproduction path (csf):
- Load CSF story
- Edit CSF to make a syntx error & save
- Fix the error & save

Reproduction path (docs):
- Navigate docs-mode
- Navigat

[2019-06-21 18:08] chrisdrackett commented on #4312
I'm running into this as well around loading external scripts that then stay around between navigation

[2019-06-21 18:15] jaridmargolin commented on #7067
I've been able to track this pesky error down.

I am confident this is not an issue with Storybook, but instead, it is with **webpack** or **Haul**. The behavior I am seeing from **webpack** is what I would deem unexpected, but it is perhaps intended. I need to dig a little further to determine where exactly the fix should be introduced.

## What is happening?

`emotion` utilizes the `browser` and

[2019-06-21 18:53] CodeByAlex opened #7167 "Addon Centered causes component to disappear when zooming"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a component that uses addon centered
2. use the + or - magnifying glass in storybook
3. component will disappear

**Expected behavior**
Component shouldnt disappear.

**Screenshots**
![centered-zoom-bug](https://user-images.githubusercontent.com/29763590/59945023-5104

[2019-06-21 18:58] justindasilva opened #7168 "Update src/index.html issue?"
I'm attaching a screenshot of what I see after running `npm run start`
Anyone know how to fix this?

<img width="987" alt="Screen Shot 2019-06-21 at 2 56 24 PM" src="https://user-images.githubusercontent.com/882534/59945245-03d55180-9435-11e9-9bf2-3fd73fb28c5b.png">

[2019-06-21 19:28] kylesuss opened #7169 "Renaming stories in MDX fails to remove old story"
**Describe the bug**

When using `.mdx` to compose stories on the latest alpha release (`5.2.0-alpha.29`), renaming a story has the effect of creating a newly named story in the currently running storybook, but the old story and name still exists in the UI.

**To Reproduce**
1. Using `5.2.0-alpha.29`, add a story as simple as the following:

[code]

2. Fire up storybook
3. Change the name of the s

[2019-06-21 19:45] joeycozza commented on #3062
For posterity: As of June 21 2019, all that was required to turn off HMR was removing the webpack-hot-middleware entry, there was no plugin being used called HotModuleReplacementPlugin.

[code]

[2019-06-21 19:54] webOS101 opened #7170 "CLI update message leads to wrong changelog"
**Describe the bug**
CLI update message links to wrong CHANGELOG

**To Reproduce**
Steps to reproduce the behavior:
1. Install storybook `5.1.8`
2. Start storybook

**Expected behavior**
Link to change log will show `5.1.9` (or newer) changes (/blob/master)

**Screenshots**
A new version (5.1.9) is available!
Read full changelog here: https://git.io/fhFYe

Link above leads to `/blob/next`

**Code

[2019-06-21 20:22] mjaltamirano commented on #7170
I tried to take a crack at this: https://github.com/storybookjs/storybook/pull/7166

[2019-06-21 20:22] zackphilipps commented on #7116
@robbertolierook how are you importing the options knob?

[2019-06-21 20:24] robbertolierook commented on #7116
Like the rest of the knobs:

[code]

[2019-06-21 20:37] zackphilipps commented on #7116
@robbertolierook according to the docs, it's actually `optionsKnob`, so `options` is probably something else:

[code]

Not intuitive, but 🤷‍♂

[2019-06-21 20:43] robbertolierook commented on #7116
Oh golly, thanks for that! Now it works:)

[2019-06-21 21:15] chazzmoney commented on #4600
Is there a bullet list of requirements to complete this? I'd be happy to pitch in if I knew what needed to be built.

[2019-06-21 22:34] tmeasday commented on #7164
Or the other way (use name for both)

[2019-06-21 23:10] gabrielmf commented on #5814
Hey, I think I managed to fix the issue, at least it worked for me.

**Context**

I am creating an angular library with storybook, at first the build was not working, for the same reasons as @fsz mentioned, it was missing these properties.

This fixed the storybook, but then I was not able to build the library anymore. The build settings didn't match the schema from ng-packgr.

**Solution**

After

[2019-06-22 00:16] #7116 closed

[2019-06-22 00:20] shilman commented on #7168
Need a lot more context. What does your setup look like? What version, addons, etc?

[2019-06-22 01:12] kane41 commented on #6569
+1

[2019-06-22 05:25] chris-pearce commented on #4801
Still an issue, be great if this could be fixed.

[2019-06-22 05:48] #6704 closed

[2019-06-22 09:42] DrSensor commented on #2812
@probot waiting for the sneak peek

[2019-06-22 14:26] shilman commented on #2812
@DrSensor why wait, it's been available in alpha for over a month?

[2019-06-22 16:37] justindasilva commented on #7168
Using latest StencilJS (1.0.7)
Using latest `stencil-storybook-wrapper` (1.3.1) (https://www.npmjs.com/package/stencil-storybook-wrapper)

No addons or anything.

[2019-06-22 18:03] agrapine commented on #7010
just typescript warnings :(

[2019-06-22 18:32] flowck commented on #6204
I am having the following error:

ERROR in ./.storybook/config.js
Module not found: Error: Cannot find module 'core-js/modules/web.dom.iterable'

I am using storybook/vue 5.1.9.

<img width="570" alt="Screen Shot 2019-06-22 at 7 26 48 PM" src="https://user-images.githubusercontent.com/1679333/59967606-5b9eb600-9524-11e9-90e3-7d870ac9b0f5.png">

[2019-06-22 19:48] #6418 closed

[2019-06-23 06:48] jamesgeorge007 commented on #6926
cc @shilman

[2019-06-23 07:14] DrSensor commented on #2812
Wait what..., yeah 💃 will take a 👀

[2019-06-23 08:00] shilman commented on #2812
@DrSensor Feel free to join in the conversation on `#docs-mode` in our discord https://discord.gg/UUt2PJb

[2019-06-23 10:17] sw-yx commented on #6147
not inactive

[2019-06-23 11:21] shilman commented on #6147
@sw-yx Any interest in kicking the tires on SB Docs? It's designed to replace `addon-info`, supports stories with fragments like the one at the top of this issue, and the code is 100x cleaner so I can turn around fixes pretty quickly if needed.

Here's the project overview: https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a

And here's the guide to get started with the current a

[2019-06-23 11:22] shilman commented on #3379
@smeijer just saw this comment. here's the guide you want https://docs.google.com/document/d/1un6YX7xDKEKl5-MVb-egnOYN8dynb5Hf7mq0hipk8JE/edit?usp=sharing

[2019-06-23 12:38] ndelangen commented on #6204
@flowck please install core-js v3 into your project root

[2019-06-23 13:20] smeijer commented on #3379
@shilman, thanks. I did find my way after @centerwork80 hinted me to look at `@storybook/addon-docs` :)

[2019-06-23 16:18] ljharb commented on #6204
Can we find a way to use storybook without any core-js in use at all? Why can’t consumers provide their own shims?

[2019-06-23 22:36] plumpNation commented on #6904
I'm sorry, I don't have time right now to contribute on this. One thing to be aware of is that there is a lot of work happening to update the svelte version to 3 in storybook. Backward compatibility may not be achieved as there are large breaking changes between svelte 2 and 3.

https://github.com/storybookjs/storybook/pull/7023#issuecomment-504782982

[2019-06-23 22:44] sw-yx commented on #6147
i'm interested, but also i need to upgrade an existing tutorial/codebase that uses addon-info 😅

will try this out at some point just not right now. looks good tho

[2019-06-23 23:13] cam-stitt commented on #6904
As @plumpNation said, storybook has moved to support Svelte 3 *only* as of #6698. It was stated in that PR that it was a "breaking change" as it removed the support for Svelte 2 completely.

[2019-06-24 00:37] Al-un commented on #6219
@ndelangen
I use Storybook 5.1.9 and just adding the import (without using `number`) triggers the error :( Storybook still runs though

[2019-06-24 00:44] dstroot commented on #5269
@efmr > Gah!  That was it!

[2019-06-24 01:54] Al-un commented on #6219
One way to remove the error is to comment out the content of `src/shims-tsx.d.ts`. I initially planned to try JSX in storybook to prevent from having a huge string template but it seems we can deal without JSX.

[2019-06-24 03:40] #6904 closed

[2019-06-24 03:54] binomialstew commented on #6973
@shilman and @ndelangen --@mrmckeb has [raised concerns](https://github.com/storybookjs/storybook/pull/7144#issuecomment-503893726) around checking in package.json for `react-scripts`.

So, it's clear that checking in `package.json` is not viable. How about checking for `process.env.REACT_SCRIPTS`? Since some users already depend on `react-scripts` being used implicitly, we can make this backwards

[2019-06-24 07:07] zzc5464 commented on #3346
@elado work!

[2019-06-24 07:08] mrmckeb commented on #6973
Hi @binomialstew, thanks for moving the discussion back to here. I want to be clear that this was a design choice before I joined the project, but not one that I'm necessarily opposed to - there are pros and cons of this "detection" approach.

We can't detect `react-scripts` in the user's `package.json`, as they may have a different scripts version. So changing this would be a breaking change.

Ho

[2019-06-24 07:28] shilman commented on #6973
@mrmckeb for a little color here, we've already started adding presets for scss and typescript, and it seems to be working well.

- https://www.npmjs.com/package/@storybook/preset-scss
- https://www.npmjs.com/package/@storybook/preset-typescript

I can imagine doing the same for CRA compat. We'd automatically add it to the user's `presets.js` file if CRA is detected by the CLI, and if it didn't ge

[2019-06-24 08:39] #6926 closed

[2019-06-24 09:56] ydagana commented on #6611
Hi @blemaire , did you manage to solve the issue with routerLink? if so, can you please share what you did? Thank you in advance!

[2019-06-24 10:55] alasdairhurst commented on #5817
Upgraded to 5.x, ran into the bug and I've just updated to the latest release 5.1.x version with exactly the same problem.

That said, i'm only getting one version of @emotion/core (10.0.10)

[2019-06-24 13:46] pascaliske commented on #7106
@cormickjbrowne How did you import your module in Storybook? If you log out the `target` variable it should contain the actual ngModule which is required by sotrybook:

<img width="917" alt="log-imports" src="https://user-images.githubusercontent.com/7473880/60019280-ccadad00-968d-11e9-9ab9-014e75c4f226.png">

My fix above works for the cases where the `forRoot` convention of Angular is used. The

[2019-06-24 17:06] pascaliske commented on #7106
For my own Angular library I can confirm that the automatic component declaration works together with compiled files (built with `ng-packagr`) if I build the lib with the Angular compiler flag `"annotateForClosureCompiler": false,` turned off. This compiles Angulars decorators using tslibs `__decorate` function which injects the `__annotations__` metadata correctly.

[2019-06-24 17:12] mypum opened #7176 "Cannot import modules from modules CommonJS exports"
**Describe the bug**
I build a component in react using NextJS and use next-routes as the router. So I create routes.js inside project and export by CommonJS syntax for compatible with custom server.js to require modules.

The component in the project that runs by NextJS works well with import syntax. But the same component that runs in the storybook environment cannot find modules that export fro

[2019-06-24 18:18] darkowic commented on #6069
FYI: Storybooks 5.1 solved the issue in my project. Though, I did not test it in the repository I created.

[2019-06-24 20:09] jimmy-e opened #7178 "story isn't getting linted (eslint)"
### Bug or support request summary

I am trying to reconfigure my babel building my storybook no longer works. I am suspicious that it has something to do with my babel configs? I am able to build and run my React SPA successfully. The failure only occurs when trying to run storybook.

### Steps to reproduce

See [this repo](https://github.com/jimmy-e/storybook-lint-issue).

Clone it and run the f

[2019-06-24 21:10] untempered commented on #4688
Looks like this issue can be closed since the current version (5.1.0) has much different text color in the sidebar and now passes WCAG.
![image](https://user-images.githubusercontent.com/19578001/60043064-d2eb5b80-9684-11e9-9b6c-ee198ea780e0.png) Can someone confirm and close?

[2019-06-24 22:06] ZebraFlesh commented on #7058
This fixed it for me. I also am unclear on why we need to do this. Everything was working just fine with storybook 5.0, but as soon as I upgraded to the 5.1 releases it stopped working. Smells like someone made a breaking change.

[2019-06-24 22:09] chingchinglcc commented on #7058
Yes.  It fixed for me as well.

[2019-06-24 22:24] shilman commented on #6136
I believe this is fixed by #7117

[2019-06-24 23:32] shilman commented on #7058
@ZebraFlesh These are the two explicitly babel-related changes in 5.1. I don't see anything suspicious here, but if anybody wants to dig in, this might be a good place to start.

- https://github.com/storybookjs/storybook/pull/6634
- https://github.com/storybookjs/storybook/pull/6878

These workarounds are not required for every project, so it would be useful to understand what's in common with al

[2019-06-24 23:34] #4688 closed

[2019-06-24 23:43] shilman commented on #7178
I'm getting an error trying to install your repro, but browsing the code this is what I think is happening:

1. Your common config is using the eslint-loader that checks every file as its loaded
2. Your storybook config is using the storysource loader that adds some variables into your stories file, and is enforced as "pre", meaning it runs before the eslint-loader.
3. The eslint-loader is analyzi

[2019-06-25 00:11] emilio-martinez commented on #5030
If any `@types` packages are missing, e.g., `@types/react-color`, is there a process to add those?

[2019-06-25 00:19] ZebraFlesh opened #7179 "Missing ts-pnp dependency"
Installing @storybook/react@5.1.9, I'm now presented with the following warning from npm:
[code]

That leads me to:
[code]

Which was introduced in commit https://github.com/storybookjs/storybook/commit/c28af59e7db496ed01cec55dab70c98916d5d858 by @crubier. Why am I being asked to install typescript things in my not-typescript repo?

[2019-06-25 01:28] kylesuss commented on #7071
A bit of color on how I found this issue -- mdx mentions on the official docs that you need to export a variable in order to use it in the same mdx file.

https://mdxjs.com/getting-started#defining-variables-with-exports

With that in mind, it is quite likely that many users will attempt to define variables this way as it appears to be the only way to use variables in the .mdx file.

[2019-06-25 02:14] ZebraFlesh commented on #7058
Mine is hand rolled, not CRA.

[2019-06-25 02:23] ZebraFlesh commented on #7058
Looking over those PRs and combining it with the behavior I’m seeing, it looks SB 5.1 is loading my root babel.config.js file. Previously this only had a simple @babel/preset-env preset; due to a lack of preset-react, JSX wouldn’t parse. I do not have a custom babel config file in the .storybook config folder.

This is hard, because I really wanted the fix from the first PR for a different project

[2019-06-25 05:02] bennypowers commented on #7084
Errors persist with 5.1.9

[2019-06-25 05:47] roderickfung commented on #6674
@bryankang I seem to have tried the same approach but still getting this problem. Do you mind showing me your `.storybook/config.js`?

[2019-06-25 07:07] betoharres commented on #6674
You're right, sorry my misinterpretation.

[2019-06-25 07:10] pascaliske commented on #7106
Besides the problem with AOT-compiled code I would suggest to implement the following change which fixes the actual error:

<details>
  <summary>Click to expand diff</summary>

[code]
</details>

[2019-06-25 07:12] libetl commented on #7178
Same problem as in #6974 ?

[2019-06-25 07:14] Gongreg commented on #6674
Hey, I don't see any bug.
If you set port to 6006 you also have to set the port to `getStorybookUI({port: 6006});`

[2019-06-25 07:37] SeedyROM commented on #6201
The `--no-open` being default seems like a sane default to have, honestly opening a browser window by default seems like it's mostly for flash in a conference talk and does nothing but annoy developers who actually reload this command quite often.

**For now:**
Is there actually a solution to not opening a browser window?

[2019-06-25 07:37] gaetanmaisse commented on #7069
@rosskevin can you share your `tsconfig.json`? because I can't reproduce your pb on my company big front monorepo.

[2019-06-25 07:45] Gongreg commented on #4716
Hey, I've created a PR which should solve the issue.

[2019-06-25 08:33] rwieruch opened #7189 "Storybook isn't picking up my .eslintrc in Full Control Mode"
Recently I introduced ESLint to my UI library which is managed by Storybook. The build happens independently and I was able to integrate ESLint with it. Thus, every time I build the project, the build will fail in case I get lint errors.

Now I wanted to have the same ESLint configuration in my custom Storybook Webpack setup. I only added the 'eslint-loader' to my previous configuration in **.stor

[2019-06-25 08:37] rwieruch commented on #7189
Maybe related: https://github.com/storybookjs/storybook/issues/7178 https://github.com/storybookjs/storybook/issues/6974 https://github.com/storybookjs/storybook/issues/6363

[2019-06-25 10:19] pksunkara commented on #4475
@shilman babel-preset-vue is required for `babel@6` based vue projects. We can remove it for `babel@7` based vue projects.

[2019-06-25 10:31] crubier commented on #7179
Hmm this seems to be a limitation of `pnp-webpack-plugin`, which is kind of "hardcoded" to use typescript: https://github.com/arcanis/pnp-webpack-plugin#ts-loader-integration

I didn't see this problem as I tested it in a project that already uses typescript...

To be fair I think that commit https://github.com/storybookjs/storybook/commit/c28af59e7db496ed01cec55dab70c98916d5d858 can be reverted a

[2019-06-25 10:43] shilman opened #7192 "Storysource: Use story parameters injected by source-loader"
PR #7117 introduced @libetl's `@storybook/source-loader`, a reusable package for annotating stories with their source code. In addition to emitting an event (old behavior) every time a story is rendered, it also injects story source as story parameters.

The Storysource addon should be refactored to use the story parameters instead of the channel event. There are a few reasons:

1) There are race

[2019-06-25 11:04] theboyWhoCriedWoolf opened #7194 "BrowserslistError: Unknown browser query `android all`"
Running `build-storybook` throws the following repeatedly in the terminal.

**config**

[code]

**error in terminal**
[code]

[2019-06-25 11:36] stropho commented on #7079
Anybody interested in this ?
I found another problem with the `info addon` - it breaks if the text option includes tabs. For example
[code]
As mentioned before, it worked in storybook@5.0.11
The error now says "Cannot read property 'defaultText' of undefined" - something with the syntax-highlighter probably

[2019-06-25 11:41] #6495 closed

[2019-06-25 11:58] tuhinadasgupta commented on #5251
would really appreciate an update on this issue!

[2019-06-25 12:29] shilman commented on #5030
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.30 containing PR #7177 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-25 12:29] shilman commented on #5574
Great Caesar's ghost!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.30 containing PR #7158 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-25 12:29] shilman commented on #5822
Hurrah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.30 containing PR #6972 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-25 12:29] shilman commented on #6926
Great Caesar's ghost!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.30 containing PR #6937 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-06-25 12:29] shilman commented on #6995
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.30 containing PR #7188 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-25 12:29] shilman commented on #7071
Crikey!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.30 containing PR #7185 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-25 12:29] shilman commented on #7101
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.30 containing PR #7171 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-25 12:29] shilman commented on #7140
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-alpha.30 containing PR #7141 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-06-25 12:29] #5574 closed

[2019-06-25 12:29] #5822 closed

[2019-06-25 12:29] #6995 closed

[2019-06-25 12:29] #7071 closed

[2019-06-25 12:35] ZebraFlesh commented on #7058
More detailed steps to reproduce now that I'm not on my phone:

1. Do not create any babel configuration in the `.storybook` folder.
2. Create a `babel.config.js` file at the root of your repo:
[code]
3. Create a custom webpack config for storybook in `.storybook/webpack.config.js`:
[code]
4. In a single `.stories.js` file, add the following decorator:
[code]
5. Use storybook 5.0.11 and everything

[2019-06-25 13:26] ndom91 commented on #7167
Can confirm I have the same issue.

[2019-06-25 13:49] cyrus-za commented on #2487
I had the same issue. Using CRA v3 (not ejected) with ts and I could not figure a way out to get it to work with the babel plugin or anything. Followed various solutions on different git issues but nothing worked for me, so I hacked it with these 3 lines.

This seems to solve it. No .babelrc or jest.config or setupTest.js or anything. I just add the above to replace the original line in `.storyboo

[2019-06-25 14:22] rosskevin commented on #7069
@gaetanmaisse here is our base config:

[code]

[2019-06-25 14:41] #6427 closed

[2019-06-25 15:19] jimmy-e commented on #7178
@libetl , you are correct, this issue is actually occuring because I forgot to remove the storysource loader in my storybook webpack config. That issue should be addressed separately in issue [#6974](https://github.com/storybookjs/storybook/issues/6974).

Thus, updating the storybook webpack to the following should fix this issue:

**storybook webpack:**
[code]

[2019-06-25 15:19] #7178 closed

[2019-06-25 15:23] lonyele commented on #6980
I have a same problem. After I type `yarn test` and select anything such as `Core & Examples`, I get
[code]

It is happening at Windows 10. On Ubuntu, It works fine. Maybe because of some commands that are only working at linux system?

[2019-06-25 15:38] andremiguelaa commented on #6285
Still not working for PropTypes.oneOf(...)

[2019-06-25 15:44] smurrayatwork commented on #6981
The version of addon-info `5.2.0-alpha.30` fixes this for me.

[2019-06-25 16:04] kon-rad opened #7195 "Failed prop type: The prop `children` is marked as required in `Td`, but its value is `undefined`."
**Describe the bug**
[code]
Updated from storybook 4 to 5. This warning appears in the console when first loading the page. On visiting other 'stories' warning doesn't show up.

**To Reproduce**
Steps to reproduce the behavior:
1. visit storybook homepage on localhost
2. warning appears in console.log

**Expected behavior**
No warnings should appear in console.

**Screenshots**
N/A

**Code snippet

[2019-06-25 16:06] #6981 closed

[2019-06-25 16:25] shilman commented on #7179
@crubier any chance you can create a PR to fix it?

[2019-06-25 16:26] shilman commented on #4475
@pksunkara can we move that out into a preset?

https://github.com/storybookjs/presets

[2019-06-25 16:37] shilman commented on #7136
dupe to https://github.com/storybookjs/storybook/issues/5269 ?

[2019-06-25 16:37] #7136 closed

[2019-06-25 16:39] shilman commented on #7060
Maybe a good candidate for https://github.com/storybookjs/presets ?

[2019-06-25 16:55] pksunkara commented on #4475
Yes, but should be properly named. `preset-vue` is not enough because it's for babel6 and that too only non vue-cli stuff.

[2019-06-25 18:31] atsikov opened #7196 "TypeScript imports are not resolved from addons.ts"
**Bug or support request summary**
Non-js modules cannot be imported into `addons.js`/`addons.ts`.
Webpack throws
[code]

**To Reproduce**
Import any not-`js` (`tsx` in my case) module into `addons.ts`.
In case I rename imported file to `.js`, it is being loaded, however doesn't seem to be transpiled and fails to load other dependencies.
With that import commented out everything works fine.

**Exp

[2019-06-25 20:50] Akaryatrh commented on #5183
@rlecaro2 Exact same issue here!
[code]

[2019-06-25 22:21] ryudice commented on #1754
Any update on this? I tried all of the instructions here I do get the breakpoints to show as filled red but they never hit or stop.

[2019-06-25 23:30] nigelsim commented on #6984
We're still experiencing this issue. Interestingly it works on 5.0.11 and 5.2.0-alpha.23 but not 5.1.x.

Here is a sample project setup for 5.1.9 that is broken if you have a chance to have a look.

https://github.com/nigelsim/storybook-6984

[2019-06-26 00:39] artyomtrityak commented on #2708
It still does not work for me with docgen

[2019-06-26 01:04] nmccready commented on #2118
Reopen!

[2019-06-26 02:12] y-nk commented on #4505
@igor-dv installing latest @storybook/vue@5.1.9 this is still a valid bug