[2020-03-23 01:37] matheo commented on #8265
@shilman is there a way to mark a story as `primary`,
when they are distributed in many files for the same category?

[2020-03-23 03:11] shilman commented on #9968
I just tried it again in `official-storybook` and it seems to be working fine:

[code]

[2020-03-23 03:31] shilman commented on #10155
`main.js` is not used in `5.2.x`. you should upgrade to to `5.3.x` and then use the `stories` field in main.js:

[code]

Also rename `config.js` to `preview.js` and remove the `configure` line. for full instructions see: https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#to-mainjs-configuration

[2020-03-23 03:33] shilman commented on #9594
cc @ndelangen

[2020-03-23 03:36] shilman commented on #6700
@jack-bliss if it's useless to you, don't use it

[2020-03-23 03:43] Elanhant commented on #9968
I've been experiencing the same issue, and it seems like it's happening in [Documentation-only MDX](https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/mdx.md#documentation-only-mdx), MDX with stories seems to be working fine.

Perhaps a related problem — docs theming is not applied to Documentation-only MDX, still works for other docs though.

[2020-03-23 03:55] shilman commented on #10158
@lockykeaney Because you're using `preset-create-react-app` you're running up against https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#reactfc-interfaces. Please try updating your code:

[code]

See migration instructions for more info: https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

[2020-03-23 03:59] shilman commented on #8265
@matheo Nope. The primary story is the first story, so if you're defining stories in multiple files, you need to either control the load order or (MAYBE) use the `storySort` option to control (have not verified the latter)

[2020-03-23 04:03] shilman commented on #10176
cc @ndelangen

[2020-03-23 04:04] shilman commented on #9723
@matheo can you use `--docs` as a workaround?

[2020-03-23 04:07] shilman commented on #10177
This is a known issues with having too many iframes on the page. There are two possible solutions: https://github.com/storybookjs/storybook/issues/7455 https://github.com/storybookjs/storybook/issues/8153

I'm going to close this as a duplicate to those... fingers crossed we'll get some movement on that soon. I understand this is a pain. 🤞

[2020-03-23 04:11] #10177 closed

[2020-03-23 04:19] shilman commented on #9575
Details updated: https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

[2020-03-23 04:42] lifeiscontent commented on #10176
@shilman this ended up working once I changed all my storybook configs back to `.js`

[2020-03-23 04:45] shilman commented on #10174
Have you tried something like this?

[code]

Also easy to adapt to `addon-toolbars` in 6.0:

https://github.com/storybookjs/storybook/tree/next/addons/toolbars

[2020-03-23 04:47] shilman commented on #10178
cc @ndelangen

[2020-03-23 04:49] shilman commented on #9962
@stereodenis Yeah I'd be happy to. Want to jump on our Discord https://discord.gg/UUt2PJb

I'm pretty booked up for the next month or so until 6.0 is out, but I'd love to see this get into SB 6.1.

[2020-03-23 04:50] shilman commented on #9786
cc @Aaron-Pool @elevatebart @pocka

[2020-03-23 05:16] shilman commented on #10179
You might need to add `source-loader` to the `.tsx?` rules since it looks like you're overriding them: https://github.com/storybookjs/storybook/tree/next/addons/docs#manual-configuration

[2020-03-23 05:19] shilman commented on #10182
Do you have a repro repo?

[2020-03-23 05:21] shilman commented on #8544
cc @jonspalmer

[2020-03-23 05:24] shilman commented on #10176
Possibly related https://github.com/storybookjs/storybook/pull/10099

[2020-03-23 05:32] shilman commented on #9968
@Elanhant thanks for the clue. Can you try upgrading to 6.0-alpha? Both theming & component overrides seem to be working in `next` for me. Have not tried in `master`.

[2020-03-23 05:33] shilman commented on #7772
@folz I'd be happy to. Join in in the Storybook Discord? https://discord.gg/UUt2PJb

[2020-03-23 05:42] shilman commented on #9384
Please try the upgraded recommendation for typescript props tables:  https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

This is for 6.0 but should also work in 5.3

[2020-03-23 06:46] yas-tyoukan commented on #10182
Sorry,  I create repo https://github.com/yas-tyoukan/react-storybook-test. but, it's not reproduced.

I don't know now why the cause was reproduced, may be my PC slow or may be something unfortunate thing happened.

I close this issue. I apologize for the trouble.

[2020-03-23 06:46] #10182 closed

[2020-03-23 06:57] shilman commented on #6798
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.28 containing PR #9076 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-03-23 06:57] shilman commented on #7479
¡Ay Caramba!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.28 containing PR #10184 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-03-23 06:57] shilman commented on #9741
Ta-da!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.28 containing PR #9931 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-03-23 06:57] shilman commented on #9938
Crikey!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.28 containing PR #9942 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-03-23 06:57] shilman commented on #9953
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.28 containing PR #9957 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-03-23 06:57] #6798 closed

[2020-03-23 07:58] jgarplind commented on #10179
Confirmed solution. Appended

[code]

to the `tsx`-matching block in `webpack.config.js` and that worked wonders. 💯

Before we close I have one more clarifying question to help others who may end up in a similar situation:

Are you saying that by specifying a tsx-loader I am overwriting some out of the box @storybook/source-loader configuration?

Thanks a lot for the support. 🙏

[2020-03-23 08:12] ndelangen commented on #9635
Yes, let me know if you need any help!

[2020-03-23 08:15] ndelangen commented on #10113
PR open

[2020-03-23 08:19] ndelangen commented on #9819
We should likely extend the sorting I added so the order is correct. (according to original `addons` array)

[2020-03-23 08:21] ndelangen commented on #10115
For options 2. we can actually store the global args state on the ref object itself?

[2020-03-23 08:43] jgarplind opened #10188 "Addon centered breaks story display in Docs mode"
**Describe the bug**
When adding `addDecorator(centered)` to `preview.js`, the display of the story in the Docs tab is silently ignored and I am instead presented with a blank slate.

**To Reproduce**
Append `addDecorator(centered)` to `preview.js` as is done here:
[code]

**Expected behavior**
The component should render, ideally centered, even when embedded in the Docs page.

**Screenshots**
If

[2020-03-23 08:50] ndelangen commented on #10175
We'd need support for this from webpack.

[2020-03-23 08:50] tmeasday commented on #10115
Yeah sounds about right.

[2020-03-23 09:34] cherouvim commented on #4645
Hello. This is the most minimal repro I could come up with. Steps:
1. Confirm that the `woff` font file is loading via the network tab:
[code]
2. Confirm that font file is not loading (404s due to `static/css/static/media`):
[code]

[storybook-repro-4645.zip](https://github.com/storybookjs/storybook/files/4368312/storybook-repro-4645.zip)

[2020-03-23 09:36] RogierdeRuijter commented on #10174
Yeah this seems nice! Thanks for your help I am going to give this a try!

[2020-03-23 09:50] ndelangen commented on #8129
@yptr no news, would you like to contribute by fixing this issue perhaps?

[2020-03-23 09:56] ndelangen commented on #10170
@bhough that's great news! We'd love to take a PR fixing this.

What do you think about using that util function in the `@storybook/theming`'s `convert` util?

[2020-03-23 09:57] ndelangen commented on #9260
Yes, I'll do that as part of my 6.0 deprecation efforts. I plan on starting that work next week when composition is finished and merged.

[2020-03-23 10:10] maxigimenez commented on #6738
Same error on angular too

![image (1)](https://user-images.githubusercontent.com/1178139/77305755-e6505380-6cf6-11ea-8cb0-e9798c2b66ff.png)

[2020-03-23 10:22] ndelangen commented on #10153
It seems this page is the right place to place this info:
https://github.com/storybookjs/storybook/blob/next/docs/src/pages/configurations/overview/index.md

I think the page is missing on current docs and also on next docs
https://storybook.js.org/docs/basics/introduction/
https://deploy-preview-93--storybook-frontpage.netlify.com/docs/basics/introduction/

We should fix that. @matthias-ccri woul

[2020-03-23 10:23] ndelangen commented on #9594
Here's where it's explained, but it's missing in the docs for some reason:
https://github.com/storybookjs/storybook/blob/next/docs/src/pages/configurations/overview/index.md

[2020-03-23 10:27] ndelangen commented on #9594
@shilman do we deploy the docs for next somewhere somehow?

[2020-03-23 10:27] DashaTselesh opened #10189 "React hooks error with material-ui components"
I have faced with issue "Invalid hook call" https://reactjs.org/docs/error-decoder.html/?invariant=321 .

Steps to reproduce the behavior:
1. Create component in Storybook based on material-ui component.

[code]
2. Use this new component in other app.

[code]
3. Run the app.
4. See the errors.
Console errors:
[code]
Error page:
[code]

**Expected behavior**
I can use components from Storybook whic

[2020-03-23 10:39] ndelangen commented on #10178
We turn the glob into a require.context regex here:

https://github.com/storybookjs/storybook/blob/54a1c0c5f6e6cb9ca078c884c45447b95fada29f/lib/core/src/server/preview/to-require-context.js#L27-L30

Do you see any obvious bugs @yoavniran I'm confused as to why `"../packages/**/!(node_modules/)*.stor(y|ies).js"` would still load files from `node_modules`.

[2020-03-23 10:41] ndelangen commented on #10176
I'm confused

[2020-03-23 10:46] shilman commented on #10189
Can you share a repro repo?

[2020-03-23 10:47] blind76 opened #10190 "Cannot run storybook after upgrade to 5.3.17"
**Describe the bug**
Cannot run storybook after upgrade from 5.3.9 to 5.3.17

[code]

**System:**
[code]

[2020-03-23 10:51] shilman commented on #9594
@ndelangen No because of the whole "frontpage" / "docs" split. I think we need to patch that into `master`. It came in on this PR, but didn't have the `patch` label:

https://github.com/storybookjs/storybook/pull/9552

I'll do the patch now. Thanks!

[2020-03-23 10:55] DashaTselesh commented on #10189
I cannot share these particular repos. I'll create test ones and will share.

[2020-03-23 11:44] tomaszs opened #10191 "What version of Angular is supported by the storybook?"
Hello,

I was browsing through the release readme, and can not find information about what Angular versions are supported and by what versions. How can I find this information out?

[2020-03-23 12:47] sergiohgz opened #10192 "addon-storysource - Prettier transitive dependency collision"
**Describe the bug**
`@storybook/addon-storysource@5.3.17` installs `prettier@1.19.1` because it requires to install `^1.16.4`.
After recreating lockfile (using npm), as `@storybook/addon-storysource` installs its own version of Prettier, users could not update to v2.

**To Reproduce**
Steps to reproduce the behavior:
1. Add `"prettier": "^2.0.0"` in package.json
2. Remove `package-lock.json` and

[2020-03-23 13:56] iansan5653 commented on #10175
Could we at least be able to adjust the debounce rate of the refresh? My code editor autosaves every time I stop typing for a half second, which means that I'm usually rebuilding 5-10 times more often than I need to be. I don't really want to slow down autosave and risk losing work. That would just mean forwarding the `watchOptions.aggregateTimeout` option from webpack.

[2020-03-23 14:04] ndelangen commented on #10175
That's already possible:
https://github.com/storybookjs/storybook/blob/9da592591c4bd35b45a9a869f121e3ba156af0f3/lib/core/src/server/dev-server.js#L108-L109

[2020-03-23 14:06] barakyosi opened #10193 "Vulnerability error of unused vue-docgen-api dependency"
**Describe the bug**
I'm getting vulnerability warning for `acorn@3.3.0`

Running `yarn why acorn` returns:
[code]

I'm using React in my project, so I'm not sure whether `vue-docgen-api` is really needed as a dependency in my project.

Saw a similar issue with a different package:
https://github.com/storybookjs/storybook/issues/8936
Feel free to close this issue if you feel we can continue the di

[2020-03-23 14:11] iansan5653 commented on #10175
Oh thanks, that's not documented on the CLI options page. Is that specified like `--watchOptions {"aggregateTimeout": 500}`?

[2020-03-23 14:20] ndelangen commented on #10175
uhm, You have to add those options to the webpack config:
https://storybook.js.org/docs/configurations/custom-webpack-config/

[2020-03-23 14:30] iansan5653 commented on #10175
Oh duh, thanks.

[2020-03-23 15:40] maniax89 commented on #4645
in my project - i was able to remedy this by adding the `"homepage": "."` to my package json -> https://create-react-app.dev/docs/deployment/#serving-the-same-build-from-different-paths

not sure if this helps anyone^

seems like the relevant lines in CRA look something like this (https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/config/webpack.config.js):
[code]

and

[2020-03-23 16:02] shilman commented on #6738
@maxigimenez do you have a repro repo?

[2020-03-23 16:05] shilman commented on #4645
@mrmckeb any chance you can look at @cherouvim 's repro?

[2020-03-23 16:13] shilman commented on #10179
@jgarplind you're running `mergeDeepLeft(storybookCfg, config)` and it appears that's overwriting the typescript rules. i think the devil's in the details about how you merge the rules, so i wouldn't generalize that statement.

also, for clarification, it's addon-docs that's configuring source-loader AFAIK.

[2020-03-23 16:13] Elanhant commented on #9968
Sorry, I should've mention that I am already on alpha 🙂 I've just tried upgrading to `6.0.0-alpha.28`, still no luck.

I also remember that "page" parameter wasn't working for me either. It's as if doc-only MDX just skips all the theming and parameters, and goes straight to displaying plain MDX.

[2020-03-23 16:15] shilman commented on #10190
Can you clear out node_modules and reinstall? And if that doesn't work, can you try clearing your lockfiles and node_modules and reinstall? That doesn't look right to me.

[2020-03-23 16:16] shilman commented on #10191
cc @kroeder @gaetanmaisse

[2020-03-23 16:20] matheo commented on #9723
@shilman we need to use the Figma addon, so it needs to be next to the Canvas right?

Is there a way to load a Story in the docs view?
I've setup the initial story with:
[code]
but I would need to specify docs instead `/story/`.
I don't see options in the API Documentation tho
https://storybook.js.org/docs/addons/api/#apigeturlstateoverrideparams

Thanks in advance!

[2020-03-23 16:35] shilman commented on #9723
@matheo OK yeah you can't use `--docs` with addons. TBH i'm not sure how to switch view modes like that. @ndelangen do you know?

[2020-03-23 16:36] shilman commented on #9968
@Elanhant what are the filenames of your docs-only MDX files?

[2020-03-23 16:38] shilman commented on #10188
@jgarplind staring in storybook 6.0 we're deprecating addon centered and we have a built-in `layout` parameter that controls the layout:

https://github.com/storybookjs/storybook/blob/next/examples/official-storybook/stories/core/layout.stories.js

Give that a try?

[2020-03-23 16:40] shilman commented on #10188
Closing as dupe to #7227

[2020-03-23 16:40] #10188 closed

[2020-03-23 16:40] shilman commented on #7227
Starting in storybook 6.0 we're deprecating addon centered and we have a built-in `layout` parameter that controls the layout:

https://github.com/storybookjs/storybook/blob/next/examples/official-storybook/stories/core/layout.stories.js

Give that a try?

[2020-03-23 16:45] maxigimenez commented on #6738
Sadly no, is a private repository. I will try to set-up a new one!

[2020-03-23 16:46] kroeder commented on #10191
There's no overview. But the Storybook pipeline currently tests Angular 6+ (see https://github.com/storybookjs/storybook/tree/next/lib/cli/test/fixtures)

There's also no official rule (afaik) or guarantee what Angular versions are compatible with what Storybook versions but we always work on making the latest Storybook version compatible with the latest Angular version.

Also, when there is an is

[2020-03-23 16:51] Elanhant commented on #9968
`Intro.stories.mdx` and `About.stories.mdx`. [You can check them out here](https://github.com/gatsby-inc/gatsby-interface/tree/master/__stories__/about).

[2020-03-23 17:11] matthias-ccri commented on #10153
Sure thing — here's a PR: https://github.com/storybookjs/storybook/pull/10196

[2020-03-23 17:27] shilman commented on #9968
Thanks @Elanhant -- am able to repro. It's getting late here, but I'll dig in tomorrow and see if I can figure out what's going on. That's NOT expected behavior.

[2020-03-23 19:37] raen79 commented on #10131
Hey guys, does anyone have even a temporary solution. I would need this feature quite urgently and I can't figure out how to get it working ... :(

[2020-03-23 19:37] elderalves commented on #10179
@shilman @jgarplind  I have the same problem with not showing the `Show code`, however, I'm not using `typescript` and also not using a custom webpack config.

This is my config:
[code]

[2020-03-23 20:17] aroget commented on #7318
After upgrading our app to @angular v9.0.7 and @storybook v.5.3.17 this issue is now resolved on our end.

Thanks!

[2020-03-23 20:31] chrisahardie opened #10197 "addon-docs Error: Cannot read property 'theme' of undefined"
**Describe the bug**
When documenting a component styled with `styled-components` I get:

**To Reproduce**
Steps to reproduce the behavior:

Create styled button:

[code]

Create a story:

[code]

In the MDX, enter the following:

[code]

Where I expect to see the Props description, I see "Cannot read property 'theme' of undefined"

**Expected behavior**
I expected to see Props displayed

**System

[2020-03-23 21:39] FrederickEngelhardt commented on #10138
Also noting that this error occurs on **5.3.17**
[code]

[2020-03-23 22:09] jgoz commented on #10098
@egauci I was having the same issue and solved it by adding the `withKnobs` decorator to each of my story files. I think previously I had the decorator registered globally, but it must have been removed after upgrading to 5.3.

[code]

[2020-03-23 23:13] yoavniran commented on #10178
hey @ndelangen as far as i can tell the resulting regex does match even if the path contains node_modules.

this can be seen here: https://jsbin.com/coxuqojuli/edit?js,console

the regex is the one stored in "m" from line 28 in:
https://github.com/storybookjs/storybook/blob/54a1c0c5f6e6cb9ca078c884c45447b95fada29f/lib/core/src/server/preview/to-require-context.js#L28

[code]

my regex skills arent

[2020-03-23 23:27] shilman commented on #10179
@elderalves try changing it to:

[code]

If that doesn't work, let me know if you have a repro I can look at

[2020-03-23 23:34] elderalves commented on #10179
@shilman I changed and it still doesn't show... It's a private repo.

for example... my `Button.stories.jsx` looks like it:

[code]

is it right?

[2020-03-24 00:04] jgarplind commented on #10179
Thanks, from my side this issue can be closed.

[2020-03-24 00:41] MarkHorman commented on #10104
rookie mistake the attribute should be wrapped in quotes accordion-label="${text('Accordion label', 'AccordionOne')}"

[2020-03-24 00:41] #10104 closed

[2020-03-24 00:58] mehrad-meraji commented on #9133
@shilman any update on this? would you like some help?

[2020-03-24 01:00] lifeiscontent commented on #10145
@tmeasday yeah, that'd be pretty cool! does `combineParameters` already exist? Or was that just something you were envisioning.

[2020-03-24 01:50] tmeasday commented on #10145
Yup! https://github.com/storybookjs/storybook/blob/a723b46f4f9baae3bc5667ea2a42c7797e36cb33/lib/client-api/src/index.ts#L19

[2020-03-24 01:51] tmeasday commented on #10145
PS I really like your apollo package, can't wait to try it.

[2020-03-24 02:16] lifeiscontent commented on #10145
@tmeasday thanks! I plan on releasing another addon to do behavior testing with the next.js router

[2020-03-24 02:16] petermikitsh commented on #5572
It appears #6265 got reverted in https://github.com/storybookjs/storybook/pull/8657, and the previous workarounds suggested (https://github.com/storybookjs/storybook/issues/5572#issuecomment-465506042, https://github.com/storybookjs/storybook/issues/5572#issuecomment-465441095) no longer work on `6.0.0-alpha.28`.

This is an issue for users with monorepo (lerna) setups who have their components in

[2020-03-24 06:20] shilman commented on #9768
Related: https://github.com/storybookjs/storybook/pull/10089

[2020-03-24 06:23] #10179 closed

[2020-03-24 06:24] shilman commented on #9133
@mehrad-meraji Thanks so much for the offer! I've got my hands full with other stuff but will ping you as soon as I have the bandwidth to work with you on that.

[2020-03-24 06:47] #10113 closed

[2020-03-24 07:19] shilman commented on #10197
Repro repo would be great!

[2020-03-24 07:59] shilman commented on #9968
@Elanhant It's something wrong with your repo.

[code]

When I started, I found multiple versions of these libraries and aggressively removed stuff, esp. old version of `@storybook/addon-info` and `react-storybook-addon-chapters`, **removed the lockfile**, reinstalled, and generally stripped things down (`FileUpload` stopped building at some point, so I stripped it out). I also removed your workar

[2020-03-24 07:59] #9968 closed

[2020-03-24 08:13] 4ndv commented on #6364
@lopis just create `preview.js` in the `.storybook` folder and put that line into it

[2020-03-24 08:13] Benwick91 opened #10200 "Perfect Storybook Config"
**Describe the bug**
I am using and loving Storybook. But I get a little bit confused with all the config files. (config.js, main.js, addons.js, webpack.config.js, previed-head.html, manager-head.html, manager.js, preview.js, presets.js ).I think I use not the right and simplest config. Can you help me to find the best way?

I got some MXD errors and could solve them by deleting a doubled config o

[2020-03-24 08:41] tomaszs commented on #10191
Thanks @kroeder . Yes, it answers my question. So it is tested with the latest version of Angular, and 3 earlier releases. So now when the latest version of Angular is 9, it is tested with 9,8,7 and 6. Keep up the good work!

[2020-03-24 09:01] zeorin commented on #10078
Please reopen this issue, it is not solved:

`getReactScriptsPath` does not seem to have been changed so that it can deal with hoisted `node_modules` folders, nor can it resolve a "custom" `react-scripts` package (since `react-scripts` does not have a `main` field in its `package.json` Node's built-in `require.resolve` will not be able to resolve it.

In my case I'm using Yarn's `node-modules` plu

[2020-03-24 09:11] shilman commented on #10200
Sorry it's confusing! Take a look at this doc if you haven't seen it yet:

https://github.com/storybookjs/storybook/blob/next/docs/src/pages/configurations/overview/index.md

Then:
- remove `addons.js`, it's redundant with `main.js`'s `addons` field
- rename `config.js` to `preview.js` which is the new naming convention
- move the webpac config into `main.js` (or not?)

cc @ndelangen

[2020-03-24 09:18] mrmckeb commented on #4645
@cherouvim, I downloaded your project and ran it - and I see "Rumba" loading as expected.

![image](https://user-images.githubusercontent.com/5043083/77408562-950c9680-6dc0-11ea-9d4c-65415ba88b3d.png)

You also have a `webpack.config.js` file which is not needed, as CRA inserts the necessary config.

I then migrated the project to use the new preset for CRA, and everything was still working correc

[2020-03-24 09:19] mrmckeb commented on #4645
@YDundie, I'd like to find the root cause of this and fix it in the preset. Are you able to share an example of what isn't working for you?

Even just code snippets here.

[2020-03-24 09:20] cherouvim commented on #4645
@mrmckeb it does work on `npm run storybook`, but does it work on `npm run build-storybook`?

[2020-03-24 09:46] #9970 closed

[2020-03-24 09:56] mrmckeb commented on #4645
Thanks @cherouvim, I didn't understand that it was build only. Found and hopefully fixed.

[2020-03-24 10:06] thany commented on #9626
@shilman That will add runtime overhead, because at runtime, `defaultValues` is pointless.

[2020-03-24 10:27] #4645 closed

[2020-03-24 10:38] #10191 closed

[2020-03-24 11:10] kevinccbsg commented on #9777
We are having the same problem in our team, and we installed the https://www.npmjs.com/package/@storybook/preset-create-react-app and it did not work. 😢

[2020-03-24 11:14] thehulke commented on #9205
@getignited  Hey, Have you tried `import * as React from 'react' ` in your component?

[2020-03-24 11:31] vertic4l commented on #9777
@kevinccbsg You need the check the given rules and the given plugins. That should be all.

In my case (see above) i'm using the rules from my own webpack config,
but plugins section from storybook's webpack config doesn't fit (how should it?)

So the fix is, to add the plugins for the rules you are using, in my case adding the missing MiniCssExtractPlugin.

[2020-03-24 11:31] GR34SE commented on #10094
^Didn't solve the issue. Although rewriting my preview.js to common js helped

[2020-03-24 11:44] vertic4l commented on #9777
@kevinccbsg I've updated the config above to show my latest version. It fixes a similiar issue when using '@storybook/addon-docs'. It's all about having the right mix of storybook's own webpack config and yours to get everything work as expected.

[2020-03-24 12:12] stevesims commented on #10197
+1 from me on this issue - i'm seeing exactly the same thing

[2020-03-24 12:24] chrisahardie commented on #10197
Repro repo here: https://github.com/chrisahardie/storybook-styled-component

Thanks!

[2020-03-24 12:25] Dashue commented on #10148
@shilman

I've got bandwidth and happy to do further testing if I can to either figure out what I'm doing wrong or to help resolve the issue before anyone else comes across it

[2020-03-24 13:32] sbenitezma opened #10204 "Warning: Cannot update during an existing state transition (such as within `render`). Render methods should be a pure function of props and state."
**Describe the bug**
Hello,
I have a vue-cli project with storybook for vue. Yesterday I found so many vulnerabilities provoked by this issue: [ https://github.com/facebook/create-react-app/issues/8672 ]. Once I updated and fixed all my vulnerabilities, I compiled my project, run storybook and suddenly I see the following warning in console:

    in Unknown (created by Context.Consumer)
    in Wit

[2020-03-24 14:31] greenroach opened #10205 "storybook/react bug with margins"
**Describe the bug**
Margins in layout create unnecessary scrolls and shift body

**To Reproduce**
Steps to reproduce the behavior:
1. Create a story with margin in any container
[code]
2. Run the story. The body will be shifted and vertical scrolls will appear.
3. Remove margin or wrap it to another div with the same padding and all be ok.
[code]
**Expected behavior**
Margin in some div shouldn't

[2020-03-24 14:42] f-masche opened #10206 "Redundant `core-js` and `airbnb-js-shims` deps"
**Is your feature request related to a problem? Please describe.**

I recently started using storybook for an angular project, and I noticed the bundle size is HUGE (vendor bundle is about 7.8 MB !!!) and the startup times are not the greatest.

Question: Is there any effort taken on improving performance and reducing the bundle size in the future?

During my research, I found some redundant depen

[2020-03-24 15:18] tsnolan23 commented on #9630
Is there actually a different way to do this? When you use a `<Story/>`, you remove the ability to have Documentation-only MDX files. It would be awesome to strip the default styles from `<Preview/>` with a prop or something similar.

[2020-03-24 15:24] MOTORIST commented on #10204
I have same problem (.

[2020-03-24 15:47] Elanhant commented on #9968
@shilman thank you, much appreciated! I'll see if I can pinpoint the exact reason, the context thing does seem to be the most probable candidate.

[2020-03-24 16:45] EvHaus commented on #10192
Same problem here. Can you please move it to `devDependencies` instead? This is the offending line: https://github.com/storybookjs/storybook/blob/master/lib/source-loader/package.json#L39

[2020-03-24 17:20] dylanjmcdonald commented on #10204
For me it's when I add @storybook/addon-viewport

[2020-03-24 17:24] bhough commented on #10170
@ndelangen Great, `convert` seems like a logical starting point based on a brief look at the code. I'll put some time in this weekend and see what I can come up with.

[2020-03-24 17:45] DashaTselesh commented on #10189
Hi!

It looks like Storybook is not a root cause of such behavior. We use Storybook in our components library. And based on several experiments, we've decided that the issue is in build configuration in the library.

Thanks a lot!

[2020-03-24 17:45] #10189 closed

[2020-03-24 17:50] AnnyCaroline commented on #8078
I tried the @sezeregrek workaround, but I'm still getting indentation error in this case:

[code]

![image](https://user-images.githubusercontent.com/17753656/77459551-a82e5f00-6dde-11ea-9a63-f10b253c2e41.png)

[2020-03-24 17:57] Louis345 commented on #10155
Thank you.

[2020-03-24 17:57] #10155 closed

[2020-03-24 18:17] warmbowski commented on #7577
I had this issue recently when upgrading to storybook `@5.3.17` from `@5.2.0-rc4`. I removed the `storybook-host@5.1.0` package and it started working again.

[2020-03-24 18:20] steel commented on #9496
We wrote a HMR handler for custom elements and it's been working fairly well for our situation: https://github.com/polleverywhere/hmr-custom-element

Hope this works for you guys as well.

[2020-03-24 19:13] sergiohgz commented on #10192
@EvHaus the problem is not having it as devDependency, because it will be used for code formatting in production. This way, should be user decision to install it, so it should be put in `peerDependencies` block

[2020-03-24 19:24] stefanprobst opened #10207 "[components] Preview Toolbar has scrollbar"
**Describe the bug**
The DocsPage Preview component Toolbar has a scrollbar when the IconButton's `box-sizing` is not reset to `border-box` somewhere else.

[Toolbar has height 40](https://github.com/storybookjs/storybook/blob/47a932d850a0460f101c69a9c4d09e98bb483a4a/lib/components/src/blocks/Preview.tsx#L132), and [IconButton has height: 40 + 3 border](https://github.com/storybookjs/storybook/blo

[2020-03-24 21:31] hasparus commented on #7577
Just got it on `5.3.17`.

[2020-03-24 21:33] viniciusdacal commented on #7577
same error here: `5.3.17`.

[2020-03-24 23:44] shilman commented on #9809
Closing this

[2020-03-24 23:44] #9809 closed

[2020-03-24 23:55] shilman commented on #10192
Why does it matter what version of prettier Storybook chooses to use? NPM supports multiple versions of libraries (that's why your `node_modules` folder is so huge). I don't understand why a dependency of a Storybook library would restrict you from using a different version in your project.

We're not going to move prettier to a `peerDependency` because it needlessly complicates setup -- unless I'

[2020-03-24 23:57] shilman commented on #9496
Nice one @steel! 💯

@steel @daKmoR any chance we can integrate this into `@storybook/web-components` out of the box so it's zero config?

[2020-03-24 23:59] EvHaus commented on #10192
For us it's because of our monorepo structure. Consider:

- MyProject/
    - package.json (this has prettier)
    - packages/
       - SubPackageA/
           - package.json (this has storybook)
       - SubPackageB/
           - package.json

I want both `SubPackageA` and `SubPackageB` to use the same shared prettier version and configuration, so it's installed at the root level. However, `SubPac

[2020-03-25 00:02] shilman commented on #10204
Are you all using `@storybook/vue`?

@sbenitezma does the problem go away when you uninstall `@storybook/addon-viewport` per @dylanjmcdonald 's suggestion?

Does anybody have a repro repo they can share?

[2020-03-25 00:05] dylanjmcdonald commented on #10204
@shilman I'm using the Create React App approach via `@storybook/preset-create-react-app`

[2020-03-25 00:05] shilman commented on #9630
@tsnolan23 not a bad idea, and maybe something that's come up elsewhere. Re-opening as a feature request.

[2020-03-25 00:13] shilman commented on #10206
@f-masche This would be a tremendous contribution to Storybook and we'd love help on this. I'm hoping to do a full performance release post 6.0 but in the meantime all perf-related contributions are welcome.

- The syntax highlighter issue is dupe: #9282
- The `core-js` issue is something @ndelangen has looked at extensively, but I don't think we have any resolution yet.

In general, I suspect the

[2020-03-25 00:22] shilman commented on #10018
@kushalmahajan we'll have a better option for you in SB6 as part of this effort

https://docs.google.com/document/d/1Mhp1UFRCKCsN8pjlfPdz8ZdisgjNXeMXpXvGoALjxYM/edit?usp=sharing

[2020-03-25 00:23] shilman commented on #10094
@GR34SE "helped" as in fixed it? that's pretty weird.

[2020-03-25 00:23] dylanjmcdonald commented on #10204
@shilman Here's an [example repo](https://github.com/dylanjmcdonald/10204-example) that reproduces the issue with `@storybook/addon-viewport' added.

[2020-03-25 00:37] shilman commented on #10197
This @chrisahardie! The bug is due to this line, which is a heuristic for dealing with props for React forwardRefs. I'm not quite sure what the fix is, but if anybody wants to experiment and figure it out, it would be much appreciated:

https://github.com/storybookjs/storybook/blob/master/addons/docs/src/frameworks/react/extractProps.ts#L29

[2020-03-25 00:39] shilman commented on #10205
@greenroach can you check out the new `layout` parameter in 6.0 and let me know if that solves the problem?

https://github.com/storybookjs/storybook/blob/next/examples/official-storybook/stories/core/layout.stories.js

[2020-03-25 00:40] shilman commented on #10148
@igor-dv @Hypnosphi any chance one of you can point @Dashue in the right direction?

[2020-03-25 00:49] mayteio commented on #10176
I had the same issue. Turns out its an issue with react-scripts [8680](https://github.com/facebook/create-react-app/issues/8680) so I fixed it by;
1. deleting node_modules
2. updating all dependancies on react-script 3.4.0 to 3.4.1 (monorepo)
3. yarn
4. storybook working again.

[2020-03-25 01:00] RuneKR commented on #3566
Hi - ended up getting super busy so this dropped off. I was thinking about the solution the other day. Perhaps the right solution is to enable tabs for the preview under docs?

Why:
- Fully extendable framework already in place (everyone can write addons as normal)
- Supports multiple tabs for sources
- Supports knobs etc

Thoughts?

[2020-03-25 01:37] kennycrosby commented on #5262
Also having this problem if anyone has a solution. @meebix ?

[2020-03-25 02:14] caspardue commented on #7577
Just a small suggestion. You can check for duplicated packages (eg. emotion in this case) using https://github.com/atlassian/yarn-deduplicate

[2020-03-25 02:55] tsnolan23 commented on #9630
@shilman sounds good, thanks, I'll try to take a look at it in the next week or so, too.

[2020-03-25 03:03] shilman commented on #10204
Thanks @dylanjmcdonald ! Strangely I cannot reproduce on my machine. What I tried:

[code]

Does that fail on your machine?

[2020-03-25 03:12] shilman commented on #3566
@RuneKR I think it's a great idea. Pretty sure @atanasster implemented this in his controls work. I'm currently busy tying to refactor and simplify docs for the 6.0 release, but would be happy to work with you on this in 6.1.

[2020-03-25 03:15] dylanjmcdonald commented on #10204
@shilman It will build and run just fine, but there will be an error in the browser console with the following message:

`Warning: Cannot update during an existing state transition (such as within `render`). Render methods should be a pure function of props and state.`

[2020-03-25 06:30] divye1995 opened #10208 "Unable to run Story book in Angular 8 project in yarn workspaces"
So I usually use storybook to develop my UI components but now i m unable to start the story book .
Here are some details :
Error:
'SyntaxError: Unexpected token } in JSON at position 166\n    at JSON.parse (<anonymous>)\n    at getTsConfigOptions (/Path/To/My/Project/node_modules/@storybook/angular/dist/server/angular-cli_config.js:40:25)\n    at Object.getAngularCliWebpackConfigOptions (/Path/To

[2020-03-25 07:12] Benwick91 commented on #10200
@shilman Thank you very much. Now I understand how it works. That helps and the main and preview file working fine. The only thing which I don't getting work: How should I use my webpack config in the main.js? Thank you!

[2020-03-25 08:21] ndelangen commented on #10153
Thank you!

[2020-03-25 08:33] shilman commented on #10192
@EvHaus can you make `SubPackageA` depend explicitly on `prettier` v2? That way Storybook's version of prettier will not be hoisted AFAIK.

[2020-03-25 08:37] shilman commented on #10200
@Benwick91 see e.g. https://github.com/storybookjs/storybook/blob/master/examples/official-storybook/main.js#L26

[2020-03-25 08:46] shilman commented on #9626
@thany taking a very different approach in 6.0 that will address this issue

[2020-03-25 08:48] shilman commented on #10204
@dylanjmcdonald thanks for clarifying. confirmed that the error occurs with `@storybook/addon-viewport` and disappears when I remove the addon.

@ndelangen any idea why this might be? i looked at the addon's dependencies and also its code and AFAICT there's nothing suspicious in there. i must be missing something.

[2020-03-25 10:24] ndelangen commented on #9723
the way it works, is that --docs forces the viewMode to `docs`, always.

[2020-03-25 10:38] MarcusNotheis commented on #9801
Leaving a comment to keep that issue open - would love to see this as part of storybook.

[2020-03-25 10:59] ndelangen commented on #10206
@f-masche want to talk in a zoom call about this some time?

Feel free to take a slot in my calendar:
https://calendly.com/ndelangen/storybook

[2020-03-25 11:05] ndelangen commented on #10178
@yoavniran I'll try to debug and solve this before 6.0 release, any help would be appreciated!

[2020-03-25 11:10] ndelangen commented on #9496
Impressive @steel, would love to have that by default in app/web-components for 6.0.0!

If you need any help, we could pair program on it?

[2020-03-25 11:13] yoavniran commented on #10178
thanks @ndelangen - I will be happy to help. Hopefully tonight will be able to troubleshoot

[2020-03-25 11:29] ndelangen commented on #10176
@Aaron-Pool are you still having this issue? Could the elaborate on what's wrong?

[2020-03-25 12:15] sbenitezma commented on #10204
Tried to remove `@storybook/addon-viewport` and tested in browser, the results are the same as @dylanjmcdonald is saying 😮

[2020-03-25 12:16] sergiohgz commented on #10192
Hi @shilman,

First of all, sorry if I could sound rude before, the global problem we are living is elevating our anxiety levels and we should not explode with software :wink:. Also, I want to say that Storybook is an awesome project and you (the team) is doing a great job managing it. Now, I'll explain better and change the title to better understanding.

I have upgraded to Prettier v2 last monda

[2020-03-25 12:23] ndelangen commented on #10178
@yoavniran Perhaps instead of converting the globs to this webpack special thing (which seems to yield incorrect results) we could convert it to an actual list of files.

[2020-03-25 12:36] thany opened #10209 "Importing MD files in MDX"
**Describe the bug**
The [MDX specification](https://mdxjs.com/getting-started#documents) suggests that one can import MD files in MDX and render them out. However, this does not work. I looks like this is called "tranclusion".

**To Reproduce**
Steps to reproduce the behavior:
1. Have an MDX story.
2. Import an existing MD file and render it out as if it were a component
3. Navigate to it in Stor

[2020-03-25 12:42] thany commented on #10209
Worthy of note, triple-backtick code blocks from within the MD file are rendered somewhat weirdly, likely because I have to render the MD into a `Description` tag that doesn't handle codeblocks in the same way as straight MDX does. This means a very default `<pre>` tag with no syntax highlighting.

When this issue is resolved, I would expect codeblocks to get syntax highlighting as well.

[2020-03-25 12:49] shilman commented on #10209
@thany closing as dupe to #7644

[2020-03-25 12:49] #10209 closed

[2020-03-25 13:04] shilman commented on #10192
@sergiohgz no you weren't rude at all. Apologies if I sounded rude or annoyed -- I was just trying to be direct since I feel confident about my response.

Let me try again:

I think `prettier` can be removed completely as a dependency from `storysource`. It's dead code from an older version of `storysource`.

Unfortunately, that doesn't solve the problem. `prettier` is a dependency of `source-load

[2020-03-25 13:07] shilman commented on #10204
@sbenitezma can you try removing all the addons for debugging purposes and see if the error goes away, then add them back one by one until the error comes returns?

[2020-03-25 13:08] shilman commented on #10176
I think you mean @lifeiscontent 😂

[2020-03-25 13:40] sbenitezma commented on #10204
@shilman just removing the `@storybook/addon-viewport` the error goes away, so I guess the problem is with that addon... do you want me also to test with the rest of addons?

[2020-03-25 13:54] Aaron-Pool commented on #10176
How did I get here? Where did it all go wrong? 🤔

[2020-03-25 14:25] #10153 closed

[2020-03-25 14:54] EvHaus commented on #10192
Yeah, this was my solution as well. Just sucks to have to now keep the two dependencies in sync (the one in our root and the one in this sub package).

You're right. I incorrectly assumed you were using `prettier` as a dev dependency. If it's a true dependency (via `source-loader`) then... it's unfortunate but I agree that you should just keep things as they are.

[2020-03-25 15:03] alexhhn commented on #8342
Is this supported in current latest release, or only in alpha version?

[2020-03-25 17:15] lifeiscontent commented on #10176
Sorry, corrected. main.ts

[2020-03-25 17:39] dlemek commented on #10204
I have the same problem with ```create-react-app``` right now.
The error goes away after removing the```@storybook/addon-viewport```

[2020-03-25 17:40] dlemek commented on #10204
I have exactly the same problem with ```create-react-app``` right now.
The error goes away after removing the ```@storybook/addon-viewport```.

[2020-03-25 17:43] steel commented on #9496
I'll put up a PR

[2020-03-25 18:58] jhoch commented on #1992
@Hypnosphi, you have a small typo in your [comment](https://github.com/storybookjs/storybook/issues/1992#issuecomment-335001056) above: `error` should be `'error'`.

Years later, I copied your suggestion, with a small tweak for my project, and it worked perfectly - thank you!  Including mine for anyone who would find it useful:
[code]

[2020-03-25 19:08] caspardue commented on #8884
Ran into the issue running on Windows using addon-docs. As PR #8884 seems to be for version 6 I've fixed the issue with [patch-package](https://github.com/ds300/patch-package) and the following patch:

[code]

[2020-03-25 19:23] nathansmith opened #10211 "Incorrect Highlight.js implementation"
**Describe the bug**

When I expanded the "show code" area on a Storybook docs page, I noticed that the `hljs` class has been applied to the `<pre>` tag.

[code]

However, this differs from how Highlight.js will typically parse a page when running `hljs.initHighlightingOnLoad()`.

After running that, the DOM ends up looking like this.

[code]

---

**To reproduce**

Steps to reproduce the behavior

[2020-03-25 19:25] meantsaki commented on #729
Hi, can you provide a example of the workaround with a Vue Story.?

[2020-03-25 19:48] dylanjmcdonald commented on #10204
@shilman @sbenitezma Want to throw this out there, but it might not lead to anything or pertain to this issue at all - but react-scripts was just updated recently with some babel version updates because there was some odd errors being thrown from some outdated dependencies. Maybe someone who understands babel a bit more could check into this. Here is the issue I was following regarding this: https

[2020-03-25 20:07] dlemek commented on #10204
Also downgrading react & react-dom from ```^16.13.1``` to ```^16.13.0``` solves the problem

[2020-03-25 22:09] matheo commented on #9723
@shilman @ndelangen it would be nice to have `api.selectStory(kind, name, viewMode?)` and override any other config. I've used `viewMode: 'docs'` in preview.js but that messes the overall experience when people are browsing the Canvas and select another story (going back to the Docs view) :(

[2020-03-25 23:08] yoavniran commented on #10178
hey @ndelangen
ive been trying to debug micromatch which looks to be the source of the issue. its definitely not returning what I would have expected. Might be due to my lack of familiarity with all of its complexity but the following seems like a problem to me:

[code]

yields the following:

./ui/button/button.stories.js match =  **true** - expected: **true**
./ui/button/node_modules/button.stor

[2020-03-25 23:33] shilman commented on #10211
Wow, that's a pretty big difference! Any chance you might be able to put together a fix?

[2020-03-25 23:35] shilman commented on #10204
The plot thickens! Tho I don't think it's a CRA issue because AFAIK @sbenitezma 's not using CRA. Sounds like a React problem or a (possibly long-standing) Storybook problem that's being exposed by recent versions of React.

[2020-03-26 00:30] erikt9 commented on #10204
Seems like the message is coming from this pull request in React 16.13.1.  https://github.com/facebook/react/pull/18330/files

Line 2959 of `packages/react-reconciler/src/ReactFiberWorkLoop.js`

[code]

[2020-03-26 01:42] amendoa commented on #10204
It looks like there's a problem with react `16.13.1`, you can add
[code]
in your `package.json` as a temporary workaround

[2020-03-26 01:51] nathansmith commented on #10211
cc: @shilman

Sure, I can try go to come up with a fix tomorrow.

👍

[2020-03-26 02:22] shilman commented on #10211
Thanks! That code has a lot of tentacles in our codebase, and I'm not sure why it's implemented like that (cc @ndelangen @domyen?) so it maybe easier to just patch over it

[2020-03-26 02:57] shilman commented on #10113
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.29 containing PR #10187 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-03-26 02:57] shilman commented on #10160
Ta-da!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.29 containing PR #10161 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-03-26 02:57] #10160 closed

[2020-03-26 03:15] techieshark opened #10213 "Confusing warning: "…simply add `@storybook/preset-create-react-app` to your project.""
**Describe the bug**

After upgrading to Storybook 5.3.17, I ran 'yarn storybook' and see the following warning:
[code]

This is confusing, because I have "@storybook/preset-create-react-app" in my package.json.

**To Reproduce**
Steps to reproduce the behavior:
1. Create storybook react project or upgrade one to 5.3.17.
2. Run 'yarn start-storybook`.
3. Observe warning.

**Expected behavior**

A

[2020-03-26 03:28] #9727 closed

[2020-03-26 03:28] #9728 closed

[2020-03-26 03:28] #9712 closed

[2020-03-26 06:35] techieshark commented on #8115
Actually this seems to work in 5.3.17  ✨

[2020-03-26 06:42] shilman commented on #8115
@techieshark that's great news. any idea what changed? i'm not sure there have been any intentionally related changes in the interim.

if possible, can you run `yarn storybook --debug-webpack` before and after? it might shed some light on things and help other flow users. thanks!

[2020-03-26 06:48] shilman commented on #10213
@techieshark any chance you can contribute a PR to fix it?

[2020-03-26 08:04] dragooncjw opened #10214 "How to define a function in mdx?"
First, I want to ask if it has a export function to delete this
![image](https://user-images.githubusercontent.com/13393433/77623235-b4e7ba00-6f7a-11ea-9f5f-2e9fbc88aa15.png)
I'm using mdx to avoid this. However, I have no idea to use functions.
For example, I have code here:
[code]
where should I define clickHandler?
I'v tried to import js file but in template it can not read import js files.

[2020-03-26 08:05] kushalmahajan commented on #10039
import statements?

[2020-03-26 08:06] kushalmahajan commented on #10018
Ok. Will wait for it

[2020-03-26 08:07] kushalmahajan commented on #10030
I want this. It is clearly a bug

[2020-03-26 08:45] ndelangen commented on #10192
I agree

[2020-03-26 08:48] ndelangen commented on #8884
@caspardue Would you be able to put that in a PR?

[2020-03-26 08:58] ndelangen commented on #10178
Yes, and yes that would be a big change, but I think it would help making things simpler?

It would also allow us to injecting all stories as separate entrypoints!

[2020-03-26 09:08] ndelangen commented on #10211
the `hljs` class should simply be removed, AFAIK it does nothing.

Perhaps someone added it to make it easier to overload the styling of the syntaxhighlighter? Likely it's just added from ReactSyntaxHighlighter, assuming people will use global styles (which we don't)

[2020-03-26 09:39] yisheng90 opened #10217 "@storybook/addon-docs preset not working"
**Describe the bug**
I was following the installation guide on  [here](https://www.npmjs.com/package/@storybook/addon-docs#be-sure-to-check-framework-specific-installation-needs). But got the error below:

![image](https://user-images.githubusercontent.com/15208791/77631994-54f81000-6f88-11ea-8794-351f5f333d17.png)

I tried the manual configuration as well. But it does not work as well.

**To Repr

[2020-03-26 10:23] sbenitezma commented on #10204
That fix is not working for me @amendoa, my project is made in vue not react. That workaround is giving me lots of errors when I execute `npm run storybook:serve`

[code]

[2020-03-26 12:33] dgellow commented on #6998
Using `"@storybook/react": "^5.3.17"`, I can confirm I still get the error.

[2020-03-26 14:23] shilman commented on #10030
Do you have a repro repo?

[2020-03-26 14:34] zxuqian commented on #5926
I still have this problem

[2020-03-26 14:37] shilman commented on #10217
Got it working by the following steps:

1) Add a `/preset` to the end of `addon-docs` (needed in `.storybook/preset.js`, not needed in `main.js`)
2) Reorder `preset-typescript` and `addon-docs`
3) Fix syntax error in MDX file (remove trailing `;`)

Final `.storybook/preset.js`:

[code]

Final `Button.stories.mdx`

[code]

[2020-03-26 14:56] evanmwillhite commented on #9981
We're still actively working on this - hoping to make progress in the next few weeks.

[2020-03-26 16:48] davoam commented on #2264
In my story template I've just added the following container with `height: 100vh`

Example:
[code]

[2020-03-26 17:24] avistheripper opened #10221 "Storybook + Angular doesn't work on IE11"
I have blank Angular 9 application and the latest version of Storybook installed, but after running 'npm run storybook', the errors occurs pointing at
stories/Welcome.stories.ts
export const ToStorybook = function () {
  return {
    component: Welcome,
    props: {},
  }
};
Probably having issues related to es6, is there any workaround for this issue?
The problem is related only to IE11.

[2020-03-26 18:00] ivan3177 commented on #7863
Any update on this? We currently have lot of stories in our project and it takes some time to run them on CI now

[2020-03-26 18:01] llmartinll commented on #6364
Thanks everyone. Confirming that
- adding the scss file to `.storybook` (or whatever place you wish to put it).
- Creating `.storybook/preview.js`
- adding `import '!style-loader!css-loader!sass-loader!./styles.scss';` to the `preview.js` dir
- adding `"css-loader": "^3.4.2"` as a devDependency to `package.json`

works for us; storybook i.c.w. an Angular 9 library (so no option to add it to the `a

[2020-03-26 18:14] LongLiveCHIEF commented on #9893
go away stale bot.

[2020-03-26 19:34] vgrinko opened #10222 "`process.execArgv` is not present in `process` mock"
**Describe the bug**
[code]
this is caused by `process.execArgv` not being present in the `process` shim for the browser. I tried all these options:
`true`, `mock`, `empty`, `false` as described here https://webpack.js.org/configuration/node/
But issue only goes away if I explicitly set `process.execArgv=[]` using debugger.

Looking at all options - is there a hook I can use to shim this attribute

[2020-03-26 23:38] chemoish commented on #9471
https://github.com/storybookjs/storybook/pull/9697/files#diff-177dcef0a5b481c2c87db87f7cdf200dR106 (Sentence that stopped halfway)

Even though the documentation states 5.3+, it is not accurate. Looks like 5.3 still requires decoration configuration.  Would be great to specify requirements for that version.

[code]

**preview.js**

[2020-03-26 23:57] jniemin commented on #9923
I ran in the same issue today. This basic example logs undefined when ran

[code]

If `{storyFn()}` is converted to `<StoryFn />` then context works as expected

[2020-03-27 00:03] techieshark commented on #9946
Same question - as a CRA user I get a warning like this when I run `react-scripts test`:

[code]

I've tried adding the `transform` config to both package.json (under the "jest" field) as well as `jest.config.js`, with no luck.

[2020-03-27 00:30] yisheng90 commented on #10217
@shilman

It works. Thank you so much for taking your time to look at my issue.

[2020-03-27 00:30] #10217 closed

[2020-03-27 00:34] shilman commented on #9997
FYI the recommended 6.0 setup (should work in 5.3 too) is ready, and is the default in the most recent versions of both `@storybook/preset-typescript` and `@storybook/preset-create-react-app`:

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

I am commenting on all props-related issues to request that you upgrade so we can get this right before rel

[2020-03-27 00:34] shilman commented on #10017
FYI the recommended 6.0 setup (should work in 5.3 too) is ready, and is the default in the most recent versions of both `@storybook/preset-typescript` and `@storybook/preset-create-react-app`:
 https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

I am commenting on all props-related issues to request that you upgrade so we can get this right before rel

[2020-03-27 01:25] shilman opened #10224 "Addon-docs: Remove DocsPage slots"
In SB5.2, we introduced the concept of [DocsPage slots](https://github.com/storybookjs/storybook/blob/0de8575eab73bfd5c5c7ba5fe33e53a49b92db3a/addons/docs/docs/docspage.md#docspage-slots) for customizing the DocsPage.

In 5.3, we introduced `docs.x` story parameters like `docs.prepareForInline` which get filled in by frameworks and can also be overwritten by users, which is a more natural/convenie

[2020-03-27 02:37] shilman commented on #9824
FYI the recommended 6.0 setup (should work in 5.3 too) is ready, and is the default in the most recent versions of both `@storybook/preset-typescript` and `@storybook/preset-create-react-app`:

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

I am commenting on all props-related issues to request that you upgrade so we can get this right before rel

[2020-03-27 03:49] vgrinko commented on #10222
I resolved this by using custom webpack config in storybook - by aliasing (basically, mocking in this case) the module which had a codepath, which referenced this browser incompatible code (`should-preserve-symlinks`).

**.storybook/shouldPreserveSymlinksMock.js**
`module.exports = ()=>true;
`

**.storybook/main.js**
[code]

So I am unblocked now.

[2020-03-27 03:49] #10222 closed

[2020-03-27 05:19] techieshark commented on #10213
@shilman yep done! Thanks : )

[2020-03-27 05:37] dragooncjw commented on #10214
By the way, if I use like below,
[code]
It will show error 'Cannot add property _Ctor, object is not extensible'.

[2020-03-27 06:23] shilman commented on #10214
Which frameworks is that?

[2020-03-27 06:31] dragooncjw commented on #10214
The framework I used is Vue. I've tried JSX by using onClick. It didn't work.
But I have found a solution on this url by mix stories.js and stories.mdx:  https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/recipes.md#mixed-csf--mdx-stories

However, I still want to know the reason cause the error 'error 'Cannot add property _Ctor, object is not extensible'.

[2020-03-27 07:50] shilman commented on #10214
In Vue, how about this:

[code]

Or this:

[code]

[2020-03-27 07:56] idbartosz opened #10227 "Failed to construct 'URL': Invalid URL [6.0.0-alpha.29]"
**Describe the bug**
After updating from`6.0.0-alpha.6` to `6.0.0-alpha.29` Storybook freezes with spinning loader and shows an error message.

[code]

**Expected behavior**
Storybook should load stories as usual.

**Screenshots**
<img width="993" alt="Screen Shot 2020-03-27 at 08 47 43" src="https://user-images.githubusercontent.com/21260478/77734064-481b0100-7008-11ea-947b-efa3895a376d.png">

**

[2020-03-27 08:13] idbartosz commented on #10227
After some debugging I've found the issue. It's related to the way `src` attribute is obtained from `iframe` and after altering the returned value `'iframe.html?id=*&viewMode=story'` to `http://localhost:6006/iframe.html?id=*&viewMode=story` Storybook started to work as normal.

#### Root problem

`var src = frame.getAttribute('src')` returns source but it's stripped from base url and that's why `

[2020-03-27 09:33] Xuezenghuigithub opened #10229 "What addon can storybook use to manage permissions?"
What plug-ins can storybooks use to manage permissions?

[2020-03-27 10:27] balteo opened #10230 "Issue with using addon: Unexpected value 'undefined' declared by the module 'DynamicModule'"
**Describe the bug**
I am facing an issue with adding **storysource addon**. Here is the error I get:

    Unexpected value 'undefined' declared by the module 'DynamicModule'
    Error: Unexpected value 'undefined' declared by the module 'DynamicModule'
        at syntaxError (http://localhost:4400/vendors~main.f55ebc95ceee9dbd1ca0.bundle.js:8364:17)
        at http://localhost:4400/vendors~main.f

[2020-03-27 13:00] dragooncjw commented on #10214
Yes, it works! Thanks!!
Could I use data() , and other life cycle functions or hooks in '{{ }}'?

[2020-03-27 13:06] TommySorensen commented on #10204
I'm still getting the error when using:
[code]

[2020-03-27 13:10] fabian-hiller opened #10231 "@emotion/react ThemeProvider does not work with @emotion/styled"
**Describe the bug**
I use @emotion/react ThemeProvier to access the theme prop when styling a component. When I open my app with "npm start" everything works smoothly. With "npm run storybook", however, the theme object for my styled emotion components is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. npx create-react-app my-app
2. npx -p @storybook/cli sb init
3. npm install @emoti

[2020-03-27 13:15] dragooncjw commented on #10214
I found that if I use `parameters: {
        notes: markdownNotes
      }`
in Story in Preview, the second time I visit Doc tag, It will disappear. Which is the same in other way. Is it a bug?

[2020-03-27 14:24] maniax89 opened #10232 "Allow linear-gradient in ColorItem doc block"
**Is your feature request related to a problem? Please describe.**

When using the `<ColorPalette><ColorItem /></ColorPalette>` doc blocks, the `<ColorItem>` accepts a `colors` parameter that ultimately gets set to `backgroundColor`.

would be nice to allow setting `background` or `backgroundImage` to allow setting things like gradients `linear-gradient(white, black)`

**Describe the solution you'

[2020-03-27 15:03] shilman commented on #10232
Gonna defer to @domyen on this one.. WDYT?

[2020-03-27 15:05] #9784 closed

[2020-03-27 15:36] nathansmith commented on #10211
Sorry for the delay. I did not get to this as soon as I had hoped. I had some time to dig further today, and I think I found the culprit.

As Norbert predicted, it is indeed coming from the `ReactSyntaxHighlighter` internals.

[code]
I think Michael is right. It is probably much easier to gloss over with project specific CSS than expect the implementation to change in an upstream dependency. For t

[2020-03-27 15:38] #10211 closed

[2020-03-27 15:39] jonhuteau opened #10233 "View mode "docs" seems to be ignored"
**Describe the bug**

After upgrading from ` 6.0.0-alpha.28` to ` 6.0.0-alpha.29`, it looks like all my default URLs of stories are wrong.

When I navigate between stories, I have `http://localhost:6006/?path=/story/packages-ui-box` even if in my MDX I define `viewMod` to `docs` (should be `/docs/packages-ui-box`).

Set `addParameters({ viewMode: 'docs' })` in `preview.js` doesn't seem to fix this

[2020-03-27 15:43] lukepolo opened #10234 "IE 11 - Object doesn't support property or method 'bind'"
**Describe the bug**
When opening IE 11 we get three errors

![image](https://user-images.githubusercontent.com/2066668/77771188-c4b7da80-701c-11ea-8874-4b4ad70fd7e3.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Use The Repository  (https://github.com/lukepolo/ie-11-storybook-bug)
2. npm run storybook
3. Open IE 11
4. See error

This is a clean install using the setup for a storybook

[2020-03-27 15:51] domyen commented on #10232
Thanks for the detail and suggestion @maniax89! I'd be open to adding more flexibility. This sounds like it should be possible by:
1. Changing  `backgroundColor` to `background` [here](https://github.com/storybookjs/storybook/blob/next/lib/components/src/blocks/ColorPalette.tsx#L129).
2. Adding `text-overflow: ellipsis` [here](https://github.com/storybookjs/storybook/blob/next/lib/components/src/b

[2020-03-27 17:04] hasparus commented on #8078
I'd like to take this one. I did some quick research.

I've added a repro story (picture 1) to get the most hideous formatting.
You can notice in the picture 2, that the code is altered not only in whitespace.
It has also one pair of parentheses less.

I logged the `source` around [addons/docs/src/blocks/Source.tsx#L45](https://github.com/storybookjs/storybook/blob/d9b5c4c0d87820e61e0d5587770decf1

[2020-03-27 18:10] maniax89 commented on #10232
@domyen added https://github.com/storybookjs/storybook/pull/10237

[2020-03-27 18:12] RazvanDH opened #10238 "CSS Modules in MDX docs not working?"
**Describe the bug**
Hey. I'm trying to implement the latest version of Storybook (5.3) into a pattern library using React and CSS Modules. I've been trying to get CSS Modules to work correctly but it does not want to apply the style no matter.

**To Reproduce**
Steps to reproduce the behavior:
1. have a CSS file (let's call it `CompA.module.css`)
[code]

2. The style is imported in the React comp

[2020-03-27 18:57] dylanjmcdonald commented on #10204
@TommySorensen Maybe a stupid question, but did you delete your node_modules folder and package-lock.json file before installing 16.13.0?

[2020-03-27 19:37] smmoosavi opened #10239 "@storybook/addon-toolbars default value not working at initial render"
**Describe the bug**
@storybook/addon-toolbars default value not working at initial render, if the page reloaded or start navigation from the story URL, the default value is not applied, after navigation between stories, the default value will be applied.

**To Reproduce**
Steps to reproduce the behavior:
scenario 1:
1. Go to a story that using `globalArgs`
2. reload page
3. globalArgs default val

[2020-03-27 19:45] snyderhaus commented on #8342
Still no update on this? All those pages are not found, unfortunately.

[2020-03-27 19:54] avkonst commented on #9905
The stories are not empty, they are just not loaded. That is why the issue
was reported. But I do not care, you may close it as I moved to docusaurus
2 and it works perfectly.

On Fri, 27 Mar 2020, 20:53 stale[bot], <notifications@github.com> wrote:

[2020-03-27 19:54] smmoosavi opened #10240 "add store feature to @storybook/addon-toolbars"
**Is your feature request related to a problem? Please describe.**
after reloading page, the state of globalArgs will be restart. some times we need to state to be more sticky. for example, the default theme is light, but you are focusing to fix a bug in dark mode.

**Describe the solution you'd like**
add `store` option to `globalArgTypes` definition. it can be `false`, `'session'` or `'local'`

[2020-03-27 20:57] steel commented on #9496
I'm gonna delay this. We don't use LitElement, only lit-html within the custom element. This helper does not work with LitElement which is what the kitchen sink app uses. I don't want folks to get some sense of false hope. I can still put up a PR though if you like that updates the doc with instructions on how to try it if they are not using LitElement.

Let me know.
Thanks.

[2020-03-27 23:20] shilman commented on #10240
cc @tmeasday

[2020-03-27 23:22] adeelibr commented on #9233
@Dev-Jeromebaek what was the plugin that was causing the conflict?

[2020-03-27 23:29] shilman commented on #10231
We are also using emotion 10.0.x in Storybook. I'm guessing the two are not playing nicely together. cc @ndelangen

[2020-03-27 23:31] shilman commented on #10230
Can you provide a reproduction repo?

[2020-03-27 23:32] shilman commented on #9858
@rwu823 any interest in contributing a fix for this?

[2020-03-27 23:33] shilman commented on #10060
FYI the recommended 6.0 setup (should work in 5.3 too) is ready, and is the default in the most recent versions of both `@storybook/preset-typescript` and `@storybook/preset-create-react-app`:

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

I am commenting on all props-related issues to request that you upgrade so we can get this right before rel

[2020-03-27 23:33] shilman commented on #10233
cc @ndelangen

[2020-03-27 23:38] shilman commented on #8078
@hasparus Awesome, I'm so happy you're taking this. I think formatting the code with prettier is the way to go -- the user should have the option of auto-formatting or zero formatting, which I believe is already the case, just the auto-formatting logic is insufficient for most cases. I believe that's happening in `syntaxhighlighter.tsx` inside `lib/components`

[2020-03-27 23:44] shilman commented on #10238
do you have a repro repo?

[2020-03-28 03:42] matheo opened #10241 "Issue registering custom addon on alpha.29"
**Describe the bug**
I upgraded to `alpha.29` and my custom addon stopped working because `api.on` was not defined (it's an empty object that gets populated later, as the console.log shows a full object). I reverted back to `alpha.28` and it worked again.

[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/260185/77813685-7df7ce00-7078-11ea-9f15-603ff8cd5a9a.png)

**Additi

[2020-03-28 05:51] #9732 closed

[2020-03-28 05:51] #9703 closed

[2020-03-28 05:51] #9537 closed

[2020-03-28 05:51] #9418 closed

[2020-03-28 05:51] #9523 closed

[2020-03-28 05:51] #9767 closed

[2020-03-28 05:51] #9702 closed

[2020-03-28 09:07] fabian-hiller commented on #10231
Hello @shilman , thank you very much for the fast processing. I am currently in the process of moving our design system to Storybook. Due to this problem, a part of our frontend development is currently at a standstill. If it helps you, I will support you in solving this problem.

[2020-03-28 09:11] kushalmahajan commented on #10030
Repo is open source at -  https://github.com/turtlemint/mint-ui

[2020-03-28 10:53] hasparus commented on #8078
yup, this is the current formatter.
[code]
I like the code a lot, but we dedent just isn't the big gun we need.

[2020-03-28 12:10] balteo commented on #10230
Hi @shilman
Please find the reproduction repo here: https://github.com/balteo/reproduction_issue_10230
There's only one branch. After `npm i`, please run the following command: `nx run my-lib:storybook`

[2020-03-28 12:28] balteo commented on #10230
@shilman
This might help: I noticed that in `libs/my-lib/.storybook/config.js`

[code]

B seems to point to that code (from `node_modules/@storybook/addon-storysource/dist/index.js`):
[code]
whereas A points to that line of code (from `node_modules/@storybook/addon-knobs/dist/index.d.ts`):

`export declare const withKnobs: (...args: any) => any;`

[2020-03-28 13:03] stefanprobst opened #10244 "Handle .babelrc file extensions"
**Describe the bug**
Storybook currently does not seem to handle `.babelrc` files with a file extension, e.g. `.babelrc.json`.
It looks like this is hardcoded here: https://github.com/storybookjs/storybook/blob/fb9813e79398c5d21a6a84d1ecef95c40cf53616/lib/core/src/server/utils/load-custom-babel-config.js#L87

**Expected behavior**
All supported file extensions (see [here](https://babeljs.io/docs/e

[2020-03-28 15:12] rwu823 commented on #9858
@shilman  yeah I'll try.

[2020-03-28 19:38] yoavniran commented on #10178
Hey @ndelangen
ive been playing with the implementation a bit and i was able to get the correct paths (using fast-glob).

i added those to the entries passed to the iframe webpack config (lib/core/src/server/preview/iframe-webpack.config.js)
however, im not so sure about how you see getting rid of require.context (if thats what you meant) because even though the story modules are bundled, we still

[2020-03-28 21:55] techieshark commented on #8115
@shilman I think last time I tried 5.3 I missed the [migration instructions](https://github.com/storybookjs/storybook/blob/v5.3.17/MIGRATION.md#using-mainjs). I suspect having `preset-create-react-app` or possibly one of the other two addons below did the trick. Apologies for the confusion earlier!

Here's my `.storybook/main.js` config file now (which works) for reference -
[code]

[2020-03-28 22:06] matheo opened #10247 "Possibility to define CSF Stories in different files"
**Is your feature request related to a problem? Please describe.**

Right now the [CSF Format Guide](https://storybook.js.org/docs/formats/component-story-format/) is clear about the possibilities to export stories, but the only alternative it offers is to export all the stories on the same single file.

**Describe the solution you'd like**

It would be nice to have the possibility to add Stories

[2020-03-28 22:17] matheo opened #10248 "Possibity to exclude Stories from the Menu"
**Is your feature request related to a problem? Please describe.**

Right now I'm trying to figure out how the `Designers` can have a clean `Docs` page with their stuff, and not dealing with `Developers` specifications of the `Canvas` page.

Turns out that the current approach of Storybook with MDX seems to integrate the Developer specs as a Table component inside the custom `Docs`, but I'd like t

[2020-03-28 23:38] shilman commented on #10248
I'm closing this as a duplicate to #9209

Your use case is interesting. Can you use something like addon-notes to achieve it? So your spec goes in notes, is available in the addons panel using `registerPanel`, and is kept separate from the docs?

[2020-03-28 23:38] #10248 closed

[2020-03-28 23:43] shilman commented on #10247
Unfortunately all `storiesOf` files load before all CSF/MDX files, due to an implementation gotcha.

What are you trying to achieve?

I don't think this is what you're looking for but FYI it's currently possible to load CSF stories for the same component in different files:

### CompA.stories.js
[code]

### CompB.stories.js
[code]

[2020-03-28 23:45] shilman commented on #8115
Cool! FYI, you can remove `/preset` from the end of `@storybook/addon-docs` and it looks a little cleaner 😄

[2020-03-28 23:48] shilman commented on #8892
@nickzcv and for those of you using [CSF](https://medium.com/storybookjs/component-story-format-66f4c32366df):

[code]

[2020-03-28 23:52] shilman commented on #10244
@stefanprobst can you contribute a fix?

[2020-03-29 00:08] matheo commented on #10247
@shilman thanks for the fast answer.

So maybe I've been misunderstanding the CSF format, and I thought the default export could be defined once for all the Stories under the title, but now I see that it's just a matter format, it's not like the code I'm used to :)

Thanks for the great stuff!

[2020-03-29 00:08] shilman commented on #10230
It definitely seems to be an issue with your storysource setup.

It works when I remove all storysource references in your code and use the preset instead in `.storybook/presets.js`:

[code]

[2020-03-29 00:09] matheo commented on #10247
Now I kinda understand that I have to override the DocsPage for all the stories right?
they act like units even if they "share" the Docs page, they implement it individually

[2020-03-29 00:09] matheo commented on #10248
Indeed, it's a duplicate! It would be awesome to have that for v6.0.0, please :)

[2020-03-29 00:09] matheo commented on #10248
And yes, I think that the spec will need to be inside a Panel :)

[2020-03-29 00:13] shilman commented on #10030
Any interest in trying to contribute a fix?

[2020-03-29 00:24] shilman commented on #10247
You can override the DocsPage once globally in `.storybook/preview.js` if it helps:

[code]

[2020-03-29 00:28] matheo commented on #10247
@shilman but I'm customizing that per-category with an MDX file tho.

BTW, can we `Preview` in the MDX something else like a Figma file?
I see that the Design Specs can have some stuff that is not replicable sometimes (like instruction) and it would be nice to be able to show their stuff in the MDX, while in the Stories we show the Component Behavior in the Canvas tab.

[2020-03-29 06:31] the0rem commented on #9876
Can we make sure this issue isn't closed by the bot?

[2020-03-29 07:12] shilman commented on #9876
cc @kroeder @gaetanmaisse

[2020-03-29 08:10] shilman commented on #10247
@matheo I would recommend one of two different strategies. Both use custom DocBlocks. I will be writing more about custom DocBlocks as part of the 6.0 release. They are just React components with a little bit extra. For the purposes of this issue, let's assume that you have an `DesignPreview` block that takes a URL as its parameter:

[code]

If you are using MDX, you can just drop this in directly

[2020-03-29 08:24] graup commented on #9768
@visualjerk Is there any standard/precedent for this ` ```vue ... ` string? It looks a bit odd to me. It might make syntax highlighting difficult? I wonder if we should coordinate with [@mdx-js/vue-loader](https://github.com/mdx-js/mdx/tree/master/packages/vue-loader) to add this feature there first.

[2020-03-29 08:27] shilman commented on #9768
@graup thanks for the reference. I think https://github.com/mdx-js/mdx/tree/master/packages/vue-loader is the converse of what we want. It takes MDX and loads it into a Vue component. We want to load MDX into a React component since Storybook Docs is implemented in React. I'm also not sure whether @visualjerk 's approach is the best one, but it seems like a very reasonable approach at first glance

[2020-03-29 08:39] graup commented on #9768
Here's another idea instead of `<Story> ```vue`: how about something like `<Story lang="vue">`? That would feel pretty familiar to vue developers and be just as easily regex-able.

[2020-03-29 10:45] balteo commented on #10230
Thanks for your reply. It works indeed. I am closing the issue.

[2020-03-29 10:45] #10230 closed

[2020-03-29 13:46] kushalmahajan commented on #10030
Is this the file to look in?

https://github.com/storybookjs/storybook/blob/next/lib/core/src/server/dev-server.js

[2020-03-29 13:59] kroeder commented on #9876
AFAIK Ivy support for libs is coming in Angular 10 and is not recommended for Angular 9 libraries. Or was it just "publishing libs with Ivy is not recommended"?

That said, it's still an issue we have to deal with and I'm not yet sure how to fix this 🤔
I tried to implement https://www.npmjs.com/package/@ngtools/webpack a couple of times but always failed to integrate it in Storybook.

We can give

[2020-03-29 14:05] Aaron-Pool commented on #9768
@graup I think the reason he went with the notated template string was because this gives us a lot of the DX provided by the markdown syntax highlighter for free (in most code editors, at least) 🤷‍♂️

[2020-03-29 14:06] Aaron-Pool commented on #9768
If we want a different syntax, and a decent developer experience, we're going to need to work the MDX syntax highlighting extension and add some additional functionality to detect story block `lang` attribute.

[2020-03-29 15:37] urish commented on #8544
Seems like this issue is coming from [react-inspector](https://github.com/storybookjs/react-inspector).

I managed to reproduce it there as follow:
1. Go to the [react-inspector playground](https://storybookjs.github.io/react-inspector/)
2. Open the devtools console and type `window.eval = () => new CustomEvent('test', {detail: 123})`
3. Type anything in the code editor on the left (doesn't matter

[2020-03-29 16:58] matheo commented on #10247
@shilman I love the `<DesignPreview url="https://figma.com/path/to/design" />` component to be placed one or multiple times inside the custom MDX docs page, I will need that one :)

And about this ticket, it's clear to me now that each Component Story of my system must have its default export, and decorators, and trying to merge that into a single file just complicates the things on my case.

Than

[2020-03-29 16:58] #10247 closed

[2020-03-29 18:00] gabrielcsapo opened #10249 "Docs plugin is broken on ember example site"
**Describe the bug**
<img width="1792" alt="Screen Shot 2020-03-29 at 10 59 06 AM" src="https://user-images.githubusercontent.com/1854811/77856493-6a4d8400-71ac-11ea-85de-7ef10c4a7fc4.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://storybookjs.netlify.com/ember-cli/?path=/docs/addon-a11y--label

**Expected behavior**
To be unsupported or to not show up. The current error

[2020-03-29 19:02] #9458 closed

[2020-03-29 20:16] JBusch commented on #4217
Same Problem here. Node 12.16.1 on Windows.

[2020-03-29 20:28] matheo commented on #9209
`sidebar: { disable: true }` will be nice to have for v6.0.0

What are the corner cases @shilman?

[2020-03-29 21:04] visualjerk commented on #9768
@graup Initially I was aiming for a solution similar to the one you proposed. But as @Aaron-Pool pointed out the syntax highlighting with this approach was not great. Having the fenced code block with `vue` around it lets markdown syntax highlighter recognize it as Vue SFC code.

[2020-03-29 22:46] tmeasday commented on #10240
Yeah, fair point.

I think at this stage rather than make it configurable we should maybe just always store it for the session? WDYT @shilman?

However this is going to be a bit tricky because we store state on the manager side. So we'd need to tell the story store about it after the manager+preview booted, leading to a flash of the wrong globals.

The alternative is to store the globals in local/

[2020-03-29 22:47] tmeasday commented on #10030
These code paths have changed significantly in 6.0 (`next`). I would definitely try it with a recent alpha before investigating too much.

(Not saying the bug is necessarily fixed, but it might be!)

[2020-03-29 23:46] tmeasday commented on #9981
I don't want to comment on the design side of things, but just thinking out loud about the question of how you would render an arbitrary error in the preview:

An error is rendered by the `StoryRenderer` in one of two main cases:

1. The Storybook itself is misconfigured and the store has been loaded up with an error state. [This is a global error and probably not appropriate].

2. The story itsel

[2020-03-30 00:39] vdh opened #10250 "Something in Storybook's default Babel config causes ReferenceError (tdz) errors"
With some Typescript code like this example:
[code]
Will get compiled normally by Babel into:
[code]

But under the default Storybook babel setup, gets compiled into:

[code]

And creates a `ReferenceError` error because the `React.createElement` call is moved higher than the `let`, so it's trying to use `cards` too early.

But I can't figure out how to debug this to find out which Babel plugin or

[2020-03-30 01:21] kylepeeler commented on #9443
Anyway to get this fixed pushed to 5.3? The workaround requires making a static build :(

[2020-03-30 02:09] shilman commented on #10250
Can you create a minimal repro?

[2020-03-30 02:12] shilman commented on #10240
Yeah I like your solution @tmeasday (non-configurable session storage on the preview side). Is that something you can work your magic on?

[2020-03-30 02:13] tmeasday commented on #10240
Yeah assign it to me

[2020-03-30 02:27] shilman commented on #9209
No corner cases AFAIK. Just adds complexity.

[2020-03-30 04:05] lockykeaney commented on #10158
Thanks @shilman, that work around is fine for me at the moment 👍. And I updated to 2.1.1.

The Prop table is now populated, but the description does not show the values allowed, just returns `ButtonVariants` or `union`, but I don't think this is an issue on your side,

[2020-03-30 06:10] vimalraj9423 opened #10252 "error when initialize storybook in create-react-app"
**Describe the bug**
npx -p @storybook/cli sb init
npm ERR! code ENOLOCAL
npm ERR! Could not install from "raj\AppData\Roaming\npm-cache\_npx\15292" as it does not contain a package.json file.

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\vimal raj vel raj\AppData\Roaming\npm-cache\_logs\2020-03-30T06_02_37_947Z-debug.log
Install for [ '@storybook/cli@latest' ] failed

[2020-03-30 07:18] shilman commented on #10158
@lockykeaney glad to hear it's sort of working. it is an issue in Storybook -- the type rendering code needs to be updated to the new setup. coming soon!

[2020-03-30 07:44] #10227 closed

[2020-03-30 07:57] shilman commented on #10252
Can't repro. Can you try clearing your NPM cache?

[2020-03-30 08:04] vorant94 opened #10253 "Storybook for Angular and Angular Material 9"
I am using the Storybook a little time for my projects which are heavily based on Angular Material and it works really nice. But recently I updated the Angular and also Angular Material to 9 version and Storybook doesn't load the styles or something like this any more. I have no clue what happens under the hood, so I appreciate if you ask some suggestive questions so I can tell you more. Here is t

[2020-03-30 08:35] vimalraj9423 commented on #10252
Running npx globally does not work on Windows when the user folder patch contains a space #146

[2020-03-30 08:35] vimalraj9423 commented on #10252
Running npx globally does not work on Windows when the user folder patch contains a space #146

[2020-03-30 08:35] #10252 closed

[2020-03-30 08:39] DanielHoffmann commented on #9901
I can confirm that the default settings are not working properly for sourcemaps, but changing the devtool in the `.storybook/webpack.config.js` to `'inline-source-map'` or `''source-map'` works

[2020-03-30 09:53] kylemh commented on #9556
Seems to still be an issue, but it sounds like there's a PR for the fix here:

https://github.com/reactjs/react-docgen/pull/352

[2020-03-30 10:01] enzoferey commented on #10078
Any updates with this ? It is still a problem on Yarn v1 as far as I can tell. `getReactScriptsPath` won't resolve a hoisted `react-script` package.

[2020-03-30 10:10] backbone87 commented on #7379
Can confirm, this isnt limited to theming anymore. (It has nothing to do with installs, just about what is imported, which means some import during storybook config/bootstrap imports something which imports something etc, until finally react TSX typings get imported, which results in conflict)

the only 2 workarounds left are:
- `--skipLibCheck` (not recommended)
- not use vue jsx/tsx

[2020-03-30 10:53] urish commented on #9727
Thanks for the manager.js tip, worked perfectly for me!

[2020-03-30 10:59] ndelangen commented on #7379
@backbone87 isn't there some way to make folder specific tsconfig?

[2020-03-30 11:42] backbone87 commented on #7379
not as far as i know. the TSX declarations target the global namespace, so you can never have vue and react TSX shims imported (directly or indirectly) within the same compliation. just importing `@storybook/vue` will import react TSX d.ts from somewhere. you can prevent TS from checking stuff in node_modules (skipLibCheck), but that may result in incomplete typings.

removing the vue TSX declarat

[2020-03-30 12:43] tobiaskraus commented on #9467
I have the same issue, and **#9556 is not the same as the issue described here**.

@sami616 wrote

So it did render the base properties, and not like in 9556 described, nothing.
I am NOT using the default import syntax `React.FunctionComponent` but the named export syntax `FunctionComponent` and I try to extend another properties interface from another file (named export), and it ignores these pro

[2020-03-30 12:50] tobiaskraus commented on #9467
This issue is a currently opened issue in [react-docgen-typescript-loader/issues/47](https://github.com/strothj/react-docgen-typescript-loader/issues/47)

The problem seems to lay deep:

(from paibamboo in the above issue)

[2020-03-30 13:54] WirthAware commented on #9242
We having similar issues running storybook/react in IE 11.
We tried newest v5.3.17 also new alpha version v6.0.0-alpha.29.
We also tried to run storybook from scratch w/o any addition just initialize storybook and tried out in IE 11.
But we was not able to run it in IE 11.

![image](https://user-images.githubusercontent.com/137501/77919486-89780e80-729d-11ea-9086-cf1492714134.png)

![image](https:

[2020-03-30 14:00] afebbraro commented on #10234
Hey all! I'm getting this error (Syntax issue) in IE11 with these packages. Might be related to this issue.

<img width="853" alt="Screen Shot 2020-03-30 at 9 58 33 AM" src="https://user-images.githubusercontent.com/2117593/77921002-30908200-726d-11ea-9a1a-0f8513e255be.png">

[code]

[2020-03-30 14:07] thany commented on #7998
@atanasster Sorry to but in, but since I'm experiencing this issue as well, I thought I'd try your plugin.

Our build time almost doubled. Went from 54sec to 1.8min 🤔
I suppose it needs to build up caches. So I gave it one more build, and that time it finished in 52sec. So that's back to where we started. A difference of 2sec over alost a minute is within the margin of error.

Any ideas?

[2020-03-30 14:16] shilman commented on #7998
@The-Code-Monkey @thany 6.0 recommendations updated here https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

[2020-03-30 14:18] thany commented on #7998
Excellent! But unfortunately that requires Storybook 6.0, doesn't it?
If only 6.0 would be final. That's why I'm hunting for a solution in 5.3.

[2020-03-30 14:22] shilman commented on #9467
FYI we are recommending `react-docgen` in SB 6.0. It suffers from the same issue, but fixes a lot of other issues, and we think issues are more likely to get fixed there:

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

[2020-03-30 14:23] shilman commented on #7998
@thany I believe it should work with 5.3 as well. Please give it a try!

[2020-03-30 14:34] jgarplind commented on #9996
Not sure if this is helpful, but for me the difference between the error above and a working config was this:

[code]

I can see it doesn't resemble your config at all, but maybe it would help someone knowledgable such as @shilman to understand where the error comes from.

[2020-03-30 15:22] #10241 closed

[2020-03-30 15:43] ndelangen commented on #9242
@WirthAware that looks like there's come code in node_modules (perhaps `semver`?) that's ES6. If that's the case, what needs to happen for IE11 support is to pass the dependency thru babel-loader, (which will transform the ES6 to ES5)

[2020-03-30 15:57] ndelangen commented on #7379
@backbone87 I sympathise.

That seems like the root of the problem.

I'm guessing that's not configurable either?

[2020-03-30 15:59] sebastian-nowak commented on #6806
It looks like an awesome, much needed update, thanks @ndelangen! Is there an estimate when it might land in 6.0-alpha so that we could play with it? ;)

[2020-03-30 16:48] backbone87 commented on #7379
At least currently it is not configurable. but i dont think that it is feasible either. it would definitely require changes within typescript itself and maybe even the babel plugin to transpile 2 TSX files differently based on its path. vue tsx gets compiled into vues createElement calls, while react tsx gets compiled to reacts renderComponent (or whatever its called in react).

but i think it is

[2020-03-30 16:57] backbone87 commented on #7379
fwiw: the real problem seems to be `@types/react` which should not expose their TSX shims without explicitly importing them -> https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react/index.d.ts#L2939

which means as soon as you want to use react in any way (and even it its just exposing some APIs which have nothing to do with rendering react at all) you get the react shims

[2020-03-30 18:12] snyderhaus commented on #5648
Any recent update on this?

[2020-03-30 19:02] alex-ald commented on #10176
I have the same issue. I ran `npx @storybook/cli init` within an angular application.  Then ran npm run storybook, but received the same errors

[2020-03-30 19:04] lukepolo commented on #10234
@afebbraro I disabled the dll that is provided with storybook, `start-storybook --no-dll -p 6006`.  Now I am getting a similar error to yours.

It is inside the `react-popper-tooltip` library. I tried modifying the webpack config to something like this:

[code]

But it seems webpack doesn't pick up that the file needs to go through babel

[2020-03-30 19:28] snyderhaus commented on #25
Is this still a viable option with v6?

[2020-03-30 19:45] alexd99 opened #10256 "Using storybook with a custom host prevents storybook from binding to your ip address"
**Describe the bug**
I am running storybook and I am using a custom host by using the --host CLI option. The `On your network` URL that storybook gives me after the storybook is running does not work.

**To Reproduce**
1. Run storybook with a command like `start-storybook -p 9009 -s public -h localhost.someCustomHost.org`
2. Wait for the CLI to build the storybook and give you the `On your network

[2020-03-30 19:48] alex-ald commented on #10176
Adding the dependency @babel/compat-data": "7.8.0" fixed the issue for me.

Resource: https://stackoverflow.com/questions/60790726/could-not-find-plugin-proposal-numeric-separator-in-angular-app

[2020-03-30 20:37] domyen commented on #10067
This is still up for grabs!

[2020-03-30 21:11] ndelangen commented on #10176
I can't even find what that package does... it has no readme.

[2020-03-30 21:20] ndelangen commented on #6806
@sebastian-nowak We decided to slowly migrate to this over time instead of a big bang change.

Many things this introduced are now in a `main.js` file that is in the `.storybook` folder. Goal is to at some point change the many files into a single file `storybook.config.js` at the project root.

We'll get there eventually.

[2020-03-30 21:53] jdmoody opened #10257 "Initial page load shows "No Preview" instead of correct Story"
**Describe the bug**
On my Production instance of Storybook, I always see "No Preview" on the initial page load.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a production Storybook instance
2. Make sure the path is set for a Story that exists

Defect: A "No Preview" block appears in the iframe instead of the Story.

This doesn't happen when I run `start-storybook` or `build-storyboo

[2020-03-31 02:02] #9677 closed

[2020-03-31 07:22] timiscoding commented on #5721
https://github.com/storybookjs/storybook/issues/5721#issuecomment-518225880

I was having this exact same issue. The fix is to capitalize the named story export.

<pre>
import React from 'react';
import Foo from './Foo';

export default {
  title: 'Foo';
};

export const <b>Basic</b> = () => &lt;Foo /&gt;</pre>

The docs say [capitalization is recommended](https://storybook.js.org/docs/formats/com

[2020-03-31 08:12] DanielBarbakadze opened #10260 "addon-docs: WARNING in ./stories/test.stories.mdx 5:0. You may need an appropriate loader to handle this file type."
**Describe the bug**

**WARNING in ./stories/test.stories.mdx 5:0
Module parse failed: Unexpected token (5:0)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders
**
I have a problem about using _.mdx_ files. I use react (not CRA) with typescript and webpack (because of typescript). If web

[2020-03-31 08:13] WirthAware commented on #9242
@ndelangen but it also happen with a clean and fresh installation of storybook w/o any other dependency. Already tried some babel reconfiguration, also babel transformer but nothing seems to work

[2020-03-31 08:41] DanielBarbakadze commented on #10260
Updating ts-loader up to 4.5.0 v fixed the issue.
package.json
`
devDependencies": {
     "ts-loader": "4.5.0",
}
`

[2020-03-31 08:41] #10260 closed

[2020-03-31 09:48] thany commented on #7644
@Sidnioulz

I tried this, but I'm getting an error while building, when importing an MD file:

[code]

So how do you get it to work? It seems a slight bit more configuration is needed in order for this to work properly. I'm on SB 5.3.14, btw. I'll try updating to latest, but I doubt this will fix it.

[2020-03-31 09:59] ndelangen commented on #10178
@yoavniran looking at your original post again, I think you should try to make sure there are no node_modules directories inside the packages directory. If at all possible hoisting dependencies up.

`"../packages/**/!(node_modules/)*.stor(y|ies).js"` seems to not be transformed quite correctly in the `lib/core/src/server/preview/to-require-context.js`. That could be considered a bug.

One way you

[2020-03-31 10:18] Sidnioulz commented on #7644
@thany below is my whole Webpack config, as you can see, nothing else than what I've posted should be involved when it comes to loading MD files. I'm using `@mdx-js/loader` and `@mdx-js/mdx` 1.5.5 and 1.5.7 according to my yarn.lock (not sure which version is used, thus). My SB is 5.3.10.

[code]

Also, my MD files actually refer to documentation without stories. They are pure Markdown content. Is

[2020-03-31 10:37] shilman commented on #10082
@vidarc should be merged back into `master` -- will cut a release now

[2020-03-31 10:38] shilman commented on #10257
Please share a minimal reproduction and we'd be happy to help

[2020-03-31 10:43] shilman commented on #25
@snyderhaus yes, though since 5.3 `config.js` has been soft-deprecated and we suggest using `preview.js` instead. more info:

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#to-mainjs-configuration

[2020-03-31 12:00] rwu823 commented on #9858
I tried the latest version `6.0.0-alpha.30` is worked fine. close it.

![image](https://user-images.githubusercontent.com/890063/78023938-1b5d4580-738a-11ea-8c98-c3d92d73445a.png)

[2020-03-31 12:00] #9858 closed

[2020-03-31 12:51] shilman commented on #6639
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.30 containing PR #10258 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-03-31 12:51] shilman commented on #9741
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.30 containing PR #9933 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-03-31 12:51] shilman commented on #10224
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.30 containing PR #10259 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-03-31 12:51] shilman commented on #10227
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.30 containing PR #10228 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-03-31 12:51] shilman commented on #10232
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.30 containing PR #10237 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-03-31 12:51] shilman commented on #10241
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.30 containing PR #10254 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-03-31 12:51] #10224 closed

[2020-03-31 12:51] #10232 closed

[2020-03-31 12:57] bastienrobert opened #10269 "React as peer dependency"
**Is your feature request related to a problem? Please describe.**
While using yarn workspaces, packages are hoisted. If my project is using React, then there's conflicts between versions and I get this classic error [reported here](https://fr.reactjs.org/warnings/invalid-hook-call-warning.html)

**Describe the solution you'd like**
A solution could be to set React as peer dependency and write in

[2020-03-31 13:28] shilman commented on #10269
I don't think this is going to happen. Storybook depends on a specific version of React--it's up to you to make sure your dependencies get hoisted properly.

[2020-03-31 13:30] bastienrobert commented on #10269
Alright! I'm going to investigate, I close this issue for now and I'll add more informations later if I find a good solution. Thanks for the fast reply!

[2020-03-31 13:30] #10269 closed

[2020-03-31 13:33] ndelangen commented on #10269
Storybook for react is 2 react applications running in parallel; which communicate with each other via a postmessage channel.

The manager application uses React specified from our dependencies.
(this is the outer shell)

The preview application uses React specified in your package.json.
(this is where your components are rendered)

The manager applications requires a modern version of React.

If

[2020-03-31 13:46] evanmwillhite commented on #9981
Thank you so much for this guidance @tmeasday!

[2020-03-31 13:50] shilman commented on #10269
Worst case I think you can probably depend on the version of React you want hoisted in the root. Though there are probably better ways to get Yarn to do what you want.

[2020-03-31 13:56] shilman commented on #8884
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.18 containing PR #9790 that references this issue. Upgrade today to try it out!

[2020-03-31 13:56] shilman commented on #9443
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.3.18 containing PR #9646 that references this issue. Upgrade today to try it out!

[2020-03-31 14:20] fernandofranca commented on #6163
I have interest in this and wasn't able to follow the instructions to get it working.

[2020-03-31 14:45] dgreene1 commented on #7943
How would I enable this feature?

[2020-03-31 15:12] yoavniran commented on #10178
regarding your first comment. Not sure how that can be accomplished. I'm working in a mono-repo (lerna + yarn workspaces) and my stories are co-located with their respective package.
Changing my repo structure isnt really an option.

And no matter how I look at it, loading stories from node_modules is a (specific) bug and the pattern not being transformed correctly is the more general bug.

Althou

[2020-03-31 15:34] thany commented on #7644
@Sidnioulz
Your config is a bit off as compared to the documentation, but functionally yours and mine are the same. But no worries, after some more digging, I found [this documentation](https://mdxjs.com/getting-started/webpack) on MDX in Webpack, saying that it also requires some presets to be added in your `.babelrc`, which I didn't have yet.

So my .babelrc is now:
[code]
And that makes it work

[2020-03-31 15:38] Sidnioulz commented on #7644
Good job @thany, I'd forgotten about that! I also use those two presets.

[2020-03-31 16:32] RazvanDH commented on #10238
Hey @shilman. Thank you for your quick answer. I've put together a stripped down version of the project with the issue. I'm sure it's something easy, but I can't figure it out as my experience with Webpack isn't great: https://github.com/RazvanDH/storybook-css-modules-example

[2020-03-31 16:47] mamoonraja opened #10270 "Can't render list items when using MDX"
## Description

I have a list of items in my `MDX` files, as defined below:

[code]

**Storybook renders it as:**

![image](https://user-images.githubusercontent.com/16810846/78053023-fc40c280-734d-11ea-8fbe-82a17c4e7e5c.png)

**Expected behavior:**

![image](https://user-images.githubusercontent.com/16810846/78053062-0d89cf00-734e-11ea-90de-8167d0eb81f4.png)

**Additional context**

Looks like `l

[2020-03-31 17:13] Vanuan commented on #9669
The issue with `parser` options is that `jscodeshift` has this enum:

    babel,babylon,flow,ts,tsx

while prettier has [this](https://prettier.io/docs/en/options.html#parser):

    babel,babel-flow,babel-ts,flow,typescript,css,json,mdx,...

A quick fix would be this:

    parser: options.parser === 'tsx' ? 'typescript' : options.parser || 'babel',

But needs proper tranformation of a jscodeshift

[2020-03-31 17:14] Vanuan commented on #9669
Additional issue with prettier is that it doesn't read options for `.prettierrc`

[2020-03-31 17:23] M-S commented on #6569
still have this issue , the version I use is ^5.3.17

[2020-03-31 18:06] Vanuan opened #10271 "RDTL: "No props found for this component" when using const export"
**Describe the bug**
When the component module exports a component as a constant, I see this message:
"No props found for this component"

**To Reproduce**

[code]

[code]

**Expected behavior**

I expect to see a property table.

**Screenshots**
![image](https://user-images.githubusercontent.com/361985/78059322-4ea3d280-7392-11ea-8f9e-20e744f7ffcf.png)

**Code snippets**
[code]
**System**
storybo

[2020-03-31 18:09] Vanuan commented on #10271
The crucial part is that using this syntax works:

[code]

[2020-03-31 18:22] Vanuan commented on #10271
Related issues I could find but don't appear to be exact duplicates:

- #9205 This is when props interface declared in a different file. But it appears to be working
- #9415 This when using propTypes. Not using it
- #9575 This is a camel case export issue. This uses UpperCase
- #9586 This is when using React.memo. Not using it
- #9592 This is an issue with `<Props`. I'm using CSF.

The only releva

[2020-03-31 19:40] sashafklein opened #10272 "[Angular] Can't seem to generate a story with ng-content and knob-passed props"
I'm building out an Angular app with Storybook. I want my stories to have controllable knobs, but some of these components take `ng-content`.

I'm having trouble getting these two to work together, because, from [what I've found](https://github.com/storybookjs/storybook/issues/2817), passing content into a component using Storybook involves setting a `template` on the story. Unfortunately, templat

[2020-03-31 19:52] tsnolan23 opened #10273 "Add ability to reset the styles of the Preview component to preserve documentation-only mdx files"
**Is your feature request related to a problem? Please describe.**
Yes. There is no way to have a documentation-only MDX file with the styles reset since `Story` is the only component that resets the styles of its children. For it to remain a documentation-only file, it cannot contain a `Story`.

**Describe the solution you'd like**
I propose a prop on the `Preview` component, such as `resetStyles

[2020-03-31 20:05] Vanuan commented on #9586
@shilman Is it available in 5.3.x? What should be changed here:
[code]

[2020-03-31 20:09] tsnolan23 commented on #9630
PR to resolve this: https://github.com/storybookjs/storybook/pull/10274

[2020-03-31 20:13] gesseekur opened #10275 "@storybook/addon-backgrounds not working with Vue"
**Describe the bug**
I am trying to add @storybook/addon-backgrounds to my vue storybook project and it is not working.

I followed the exact steps here:
https://www.npmjs.com/package/@storybook/addon-backgrounds

and also manually installed all the dependencies (not sure if that was required) and it still is not working for me.

**Expected behavior**
I was expecting the background color of my spe

[2020-03-31 20:28] fabian-hiller commented on #10231
Is there any news yet? @shamin @ndelangen

[2020-03-31 20:54] freesh commented on #6055
I solved it like that in my ./storybook/main.js

[code]

[2020-03-31 20:55] DScheglov commented on #9582
It is still an issue.

The case:

**File Structure**:

[code]

**./components/story-names.js**:
[code]

**./components/atoms/Headings/index.stories.js**
[code]

The result:
![image](https://user-images.githubusercontent.com/9888941/78073727-1b6d3d80-73aa-11ea-9823-2c863b16bdf2.png)

Fix **./components/atoms/Headings/index.stories.js**
[code]
The result:
![image](https://user-images.githubuserconte

[2020-03-31 21:48] jamesarosen commented on #10009
This is still an issue, stalebot.

My use-case is preloading all the fonts before rendering the stories so that snapshots always have the correct fonts loaded.

[2020-03-31 23:07] anton-tregubov opened #10277 "optionsKnob in checkbox mode doesn't reset"
**Describe the bug**
Knoob "optionsKnob" in inline checkbox view doens't reset after click on "Reset" button

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://storybooks-official.netlify.com/?path=/story/addons-knobs-withknobs--optionsknob'
2. Choose on "Multi Select"  'Banana, Cherry' (remove Apple)
3. Choose on "Inline Check"  'Cheese, Butter' (remove Milk)
4. Click on  'Reset

[2020-04-01 00:41] shilman commented on #9582
@DScheglov would you like to submit a PR for this?

[2020-04-01 00:45] shilman commented on #10231
I don't know what's happening here. Hopefully @ndelangen  does.

[2020-04-01 00:46] shilman commented on #10275
Can you share a reproduction repo?

[2020-04-01 00:48] shilman commented on #9586
@Vanuan Yeah, it should be available in 5.3.x. You can should be able to add `preset-typescript@3.0.0` and get the new config.

[2020-04-01 01:01] shilman commented on #10271
@Vanuan the 6.0 setup should also work in 5.3. But it's a breaking change, which is the primary reason I haven't called it a 5.3 change. Can you try that?

[2020-04-01 01:03] shilman commented on #9669
@Vanuan can you submit a fix?

[2020-04-01 01:04] shilman commented on #10270
That looks like a bug. cc @domyen

[2020-04-01 01:30] shilman commented on #9901
cc @ndelangen do you think we should change this setting per @DanielHoffmann 's comment?

[2020-04-01 02:47] Vanuan commented on #10271
@shilman I tried that and they don't work at all. It looks like it's documented to not work, so I created a PR to clarify that it only works with RDTL: #10276

Could you tell what's the relationship between `react-docgen` and `react-docgen-typescript`?

It looks like `react-docgen` is created by Facebook, while `react-docgen-typescript` is by styleguidist?

Why do you recommend using Facebook's ve

[2020-04-01 03:04] Vanuan opened #10278 "RDTL: "No props found for this component" when the component name is different from its filename"
**Describe the bug**
When there's multiple components per file, only one of their prop tables works.

**To Reproduce**

component file:
[code]

First story:

[code]

Second story:
[code]

Only one of these component stories would have the props table populated in storybook.

In this example, only `B` has it. If I rename `B.tsx` to `A.tsx`, `A` would have it.

**Expected behavior**
I expect result

[2020-04-01 05:00] shilman commented on #10271
AFAIK `react-docgen` and `react-docgen-typescript` are parallel projects that do similar things. The former supports JS/Flow/TS as of 5.0, and the latter supports TS.

Here's the rationale for the move:

1. After releasing Props support in SB5.2, I've handled over 100 issues related to RDTL and created repro test cases for many of them. Nearly all of them work correctly in `react-docgen`.
2. Stand

[2020-04-01 05:14] shilman commented on #10278
FYI this works in react-docgen: https://github.com/storybookjs/storybook/pull/10279

[2020-04-01 05:50] AndrewOCC opened #10280 "Portability typescript error with @storybook/theming"
**Describe the bug**
When using @storybook/theming outside of the repo, components created with `styled` cannot resolve types correctly – as

An example of the error returned is below:
`The inferred type of 'StorybookStyledComponent' cannot be named without a reference to '@storybook/theming/node_modules/@emotion/styled-base'. This is likely not portable. A type annotation is necessary.ts(2742)`

[2020-04-01 07:14] shilman commented on #9415
FYI, the 6.0 typescript recommendations have been updated here. I don't know whether it will fix this issue, but it's been pretty good in a lot of cases:

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

[2020-04-01 07:59] shilman commented on #10280
cc @ndelangen @gaetanmaisse @kroeder

[2020-04-01 11:21] DScheglov commented on #9582
Oh! It's an interesting task due it requires deep diving in the source-loader. But I have lack of time for job projects ...

So, Sorry. For now, I cannot collaborate more then just register/comment issues.

[2020-04-01 11:24] timmaloshtan commented on #9582
Same issue :(

[2020-04-01 14:50] slashwhatever commented on #8575
Note that while this may have been closed, this is still a bug and a breaking change from older versions of storybook.

Here's the content of my preview.js file:

    import React from "react";
    import { addDecorator, addParameters } from "@storybook/react";
    import { withKnobs } from "@storybook/addon-knobs";

    addParameters({
      backgrounds: [
        { name: "light", value: "#FFFFFF

[2020-04-01 15:26] hasable commented on #9515
Hi, I am having the same issue. Any update or maybe workaround? @lozinsky @chloeleichen

[2020-04-01 15:30] lozinsky commented on #9515
@hasable we stopped using `thread-loader` for javascript code in storybook config ☹️

[2020-04-01 17:06] matheo commented on #10241
Thanks @shilman
FYI, https://www.npmjs.com/package/@storybook/addon-options didn't triggered the `alpha.30` release, that's normal?

[2020-04-01 17:18] patelvp commented on #8093
@shilman Can you take a look at the PR?
Thanks

[2020-04-01 17:22] buscape opened #10282 "Document addon-viewport disable paramter"
Had to dig into the [source](https://github.com/storybookjs/storybook/blob/next/addons/viewport/src/Tool.tsx#L130) to find the `disable` option.
It's missing in the Readme https://github.com/storybookjs/storybook/tree/next/addons/viewport#configuration

[2020-04-01 18:17] gesseekur commented on #10275
@shilman  Hello, this is the repo I am currently working on: https://github.com/MyEtherWallet/mew-components

[2020-04-01 19:21] eashwar commented on #8278
Hi @jay-bis, are you still working on this?

Myself and @christopherhafke are interested in taking a stab, if you're no longer working on it.

[2020-04-01 19:23] christopherhafke commented on #9776
Hi, @eashwar and I are interested in working on this as first-time contributors. Could we take this one?

[2020-04-01 19:24] eashwar commented on #8768
Hi there!

Myself and @christopherhafke are interested in working on this bug. We're first-time contributors! Can we try it?

[2020-04-01 19:51] do87 opened #10284 "Can't install @storybook/channel-postmessage@5.3.18"
**Describe the bug**
Can't install @storybook/channel-postmessage@5.3.18

**To Reproduce**
1. run `npm install @storybook/channel-postmessage@5.3.18`

Error log below

**Expected behavior**
Package is installed successfully

**Code snippets**
If applicable, add code samples to help explain your problem.

**System:**
[code]

**Additional context**
[code]

[2020-04-01 20:08] tvsbrent commented on #10234
I just opened an issue in the react-popper-tooltip library about this. Version 2.10.1 of that library didn't have this problem, but version 2.11.0 does.

https://github.com/mohsinulhaq/react-popper-tooltip/issues/91

[2020-04-01 20:11] lukepolo commented on #10234
Yah, thats what I found, was trying to have babel still run through it, but for the life of me I could not get it to run through babel.

[2020-04-01 20:21] tvsbrent commented on #10234
Our team recently fought with that _a lot_ recently, as the most recent releases of Babel really, really don't want to go into your node modules folder. What my team mate did (who is a lot smarter than me), was the following:

* Converted to using a `babel.config.js` file.
* In that file, did something like this:
[code]

[2020-04-01 21:46] trutia opened #10285 "How can I add a background image to a story with addon-backgrounds ?"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

_Please provide issue details here - What did you expect to happen? What happened instead?_

### Steps to reproduce

_Please provide necessary steps for reproduction of this issue. Describe the exact steps a maintainer has to take to make the problem occur. If the problem is non-trivial to reproduce,

[2020-04-01 23:41] lifeiscontent commented on #10145
@tmeasday I tried implementing this today, but in our codebase in `preview.js` this is what we're doing:

[code]

so AFAIK your example of

[code]

would not work, is there another way to add decorators globally?

[2020-04-02 00:27] shilman commented on #10145
@lifeiscontent @tmeasday is using the 6.0 syntax:

[code]

You could make the same thing work in 5.3:

[code]

[2020-04-02 00:28] alexreardon commented on #8600
I can confirm that this API is not working

[2020-04-02 00:28] alexreardon commented on #8600
[code]

[2020-04-02 00:30] shilman commented on #10284
@do87 looks like a caching issue. can you clear your NPM cache and try again?

[2020-04-02 00:38] alexreardon commented on #8600
This line is clearing the query string: https://github.com/storybookjs/storybook/blob/b6136e1539c85d253504391a7d3f65e2c1239143/lib/api/src/modules/url.ts#L93

[2020-04-02 01:07] shilman commented on #8768
@eashwar of course! contributions always welcome!

[2020-04-02 01:08] shilman commented on #9776
@christopherhafke absolutely! contributions always welcome!

[2020-04-02 02:15] absalonv commented on #7479
@shilman is there an example to just load the code inside the `template:` field when using angular components and mdx docs?

[2020-04-02 02:33] shilman commented on #10275
What I did:
1) rename config.js to `preview.js`
2) delete the following code which is redundant with `main.js`:
[code]
3) add some background configuration code:
[code]

At this point the backgrounds icon is showing up and I can toggle the background. However, your stories are configured to obscure the background, so I couldn't easily test it out.

[2020-04-02 03:02] shilman commented on #7479
@absalonv i've seen one for vue `template:` but can't find it at the moment. it's just a regex.

[2020-04-02 03:05] #9765 closed

[2020-04-02 03:05] #9781 closed

[2020-04-02 04:27] lifeiscontent commented on #10145
@shilman ah, so I guess that's why I wasn't seeing combineParameters as a function that was exported.

[2020-04-02 07:00] basher commented on #10110
I'm still keen to resolve this.

Might it end up being a non-issue when Storybook 6 is released, with support for [@storybook/server](https://github.com/storybookjs/storybook/pull/9250), meaning I don't have to use a standalone Storybook setup?

[2020-04-02 07:55] ndelangen commented on #9242
working on this..

[2020-04-02 08:33] do87 commented on #10284
hi @shilman,
i tried running npm install -f which should skips cache, and i still got the same problem
Same issue occurs on my Azure DevOps agent as well

[2020-04-02 08:55] ndelangen commented on #9242
<img width="1918" alt="Screenshot 2020-04-02 at 10 54 31" src="https://user-images.githubusercontent.com/3070389/78229543-6da87e80-74d0-11ea-9972-d1d729c3b37d.png">

got it working!

(dll must be enabled)

[2020-04-02 08:56] #10284 closed

[2020-04-02 09:16] prsdta commented on #9518
Hi, passing by as I had the same issue, @shilman advice worked for me.

I just had to clean the `sessionStorage` since I used the same browser to browse the development version and the `--docs` version.

[2020-04-02 09:53] habemuscode commented on #9680
Duplicate? https://github.com/storybookjs/storybook/issues/9801 Close other if duplicate :)

[2020-04-02 10:11] p3k commented on #9403
any update on this?

[2020-04-02 10:21] shilman commented on #10110
Yeah, `@storybook/server` builds on the standalone stuff and supercedes it. We should probably get rid of standalone, right @jonspalmer @tmeasday ?

[2020-04-02 10:22] shilman commented on #9534
cc @ndelangen @tmeasday

[2020-04-02 10:25] shilman commented on #9403
Work in progress here: https://docs.google.com/document/d/1fe6uCfpr3mzSnj4jN_uoZqVnyNtjBjfOMxt_ZI7ktL8/edit?usp=sharing

[2020-04-02 10:25] Noaspz opened #10286 "selected option does not update when options is changed dynamically"
I've noticed a bug in storybook knobs.
I have one knob that is responsible for the page background color. It selects the background color out of a close group of colors. It looks like this:

`select('Background Color', colors, colors.first, ‘Background’);`

The second knob is responsible for the group of colors:

[code]

The problem is, for example, when ‘first’ color is selected as a background c

[2020-04-02 10:31] basher commented on #10110
Thanks Michael.

Any ideas how far off you are from releasing `@storybook/server`?

[2020-04-02 10:37] 0x0006e opened #10287 "Cannot call a class as a function"
**Describe the bug**
`Cannot call a class as a function` error  throw When export class Component in `**.stories.js`

**To Reproduce**
Steps to reproduce the behavior:

1. Clone and run this [repo](https://github.com/0x0006e/StoryBook/tree/bug/report)
2. http://localhost:9009/?path=/story/button--default-button

**Expected behavior**
No error throw

**Screenshots**
If applicable, add screenshots t

[2020-04-02 10:39] danyball commented on #9680
Not a duplicate

[2020-04-02 11:30] stevesims commented on #9794
+1 from me on this

i have a workaround to this specific issue, which is to create a simple React functional component that wraps the styled component specifically only for use with the `Props` table.

my base component `button.tsx` file has the following code at the end:
[code]

my `button.stories.mdx` file has the following code:
[code]

this is obviously slightly less than ideal (as the DocsBut

[2020-04-02 11:36] ndelangen commented on #10178
All properties in main.js can be functions that take the previous config and return a new one.

[2020-04-02 11:40] buscape commented on #10282
Fixed by https://github.com/storybookjs/storybook/pull/10283

[2020-04-02 11:40] #10282 closed

[2020-04-02 12:17] ndelangen commented on #8768
@eashwa @christopherhafke I'd be happy to assist you, reach out to me on the Storybook discord or plan a meeting here:
https://calendly.com/ndelangen/storybook

[2020-04-02 12:31] ndelangen commented on #8600
The queryParam is for the preview, not the manager.

`storybook/lib/api` is code that only runs on the manager.

[2020-04-02 12:55] michaelwooley opened #10289 "svelte hot reloading"
**Describe the bug**
Storybook for svelte does not hot reload on the kitchen sink example. It is also not hot-reloading on my project config even though it was a few slight tweaks ago.

**To Reproduce**
[code]
Now go to one of the story or `.svelte` files and try making edits. Not only does the browser not update, it is clear from the terminal output that there is no rebuild occurring in response

[2020-04-02 12:56] suraj-eai commented on #9794
Sorry, not yet.

[2020-04-02 13:02] shilman commented on #10119
Closing as duplicate to #9403

[2020-04-02 13:02] #10119 closed

[2020-04-02 13:05] shilman commented on #9794
@stevesims we're updating the docgen recommendations for typescript in 6.0:

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

the new setup has its own issues, but i expect will resolve the one you're seeing above

[2020-04-02 13:10] shilman commented on #10287
Please see the docs on non-story exports:

https://storybook.js.org/docs/formats/component-story-format/#non-story-exports

[2020-04-02 13:11] shilman commented on #10110
Shooting for the 6.0 release in mid-May: https://github.com/storybookjs/storybook/issues/9311

[2020-04-02 13:33] ndelangen commented on #10280
I've seen the `The inferred type of '...' cannot be named without a reference to '...'. This is likely not portable. A type annotation is necessary.ts(2742)` inside the monorepo a few times also, but I'm unsure how to solve it.

[2020-04-02 13:52] #10287 closed

[2020-04-02 14:07] ndelangen commented on #10231
Are you wrapping your stories with a decorator providing the theme context?

[2020-04-02 15:30] fabian-hiller commented on #10231
Yes. As described in step 7 (steps to reproduce), I have done that. Because the useTheme hook works, as you can see in the photo, the theme context is available.

I created a repository where you can look at the code or clone it for testing.
https://github.com/fabian-hiller/a7hs5hsk2

[2020-04-02 15:35] jdiponziano opened #10291 "Viewport Addon: Custom Viewports Do Not Build"
**Describe the bug**
I built an app using create-react-app. I create custom viewport types to add to my storybook. When I use yarn start everything builds fine and works. But when I build the app the viewports that I globally defined my preview.js file are not loading on the build. It is still the defaults. And for the life of me I can't figure out why. As far as I can tell I set it up the way the

[2020-04-02 15:56] #9718 closed

[2020-04-02 16:41] matheo commented on #5935
@shilman I perceive a speed improvement in the build time of the latest `6.0.0-apha`, but I wonder if there will be improvements loading huge projects. Currently, the size of my main bundle is 25Mb, with vendors it's up to 32Mb, so it would be good to have some kind of lazy-loading of the Stories per Category, so we can improve the UX and loading times.

Thanks in advance!

[2020-04-02 17:25] danverde opened #10293 "Storybook unable to resolve model when used to declare angular component input type"
**Describe the bug**
Storybook is unable to resolve a model imported from a library when used to define the type of an Angular component `@Input` property.

**To Reproduce**
Steps to reproduce the behavior:
1. Import an interface from a library
2. Use that interface to declare the type of a component's input property
3. Start storybook

**Expected behavior**
The Storybook should be able to resolve

[2020-04-02 17:30] matheo opened #10294 "Issue with onlyDocs page as homepage Story on alpha.30"
**Describe the bug**

On `alpha.28` I had no issues with this, but with the `alpha.30` upgrade (coming with some `@babel 7.9.0` updates), my initial Story is not being loaded.

I managed to sort my Stories adding the parameter `options.storySort`, so I have an MDX Story as my homepage, hiding the Canvas tab because it's onlyDocs:
[code]
and it worked with `alpha.28`, but with `alpha.30` I'm gettin

[2020-04-02 17:31] l0c0luke commented on #9564
this was working for me in 5.2, now broke in 5.3 ... do we know when this started? will it be different in 6.0?

[2020-04-02 17:41] gesseekur commented on #10275
@shilman awesome thank you, I do see the options now! I did comment out the css I used to change the background color as well as the theme I was using and it still does not work. Any ideas?

Thanks again!

[2020-04-02 17:44] gesseekur commented on #10275
@shilman these are my changes: https://github.com/MyEtherWallet/mew-components/pull/10/files

[2020-04-02 17:53] DigTheDoug commented on #8134
In one of the recent updates (I'm on `5.3.12` but I haven't checked backwards) this was fixed somewhere. It works as expected for me now, so thanks!

[2020-04-02 18:06] gesseekur commented on #10275
@shilman I found the culprit - it was done by one of my colleagues :) thank you so much!

[2020-04-02 18:10] gesseekur commented on #10275
never mind ..that wasn't it.

[2020-04-02 18:11] marr opened #10295 "Building on Heroku Fails"
**Describe the bug**
Running `build-storybook` fails when I run it on heroku. Things work fine locally.

**To Reproduce**
Push to heroku
run `npm run build-storybook` on heroku server
See storybook failing

[2020-04-02 18:32] dsebastien commented on #2872
It does indeed work perfectly (for anyone wondering) :)

[2020-04-02 19:02] tajo opened #10296 "React context passed through addDecorator doesn't work at the top level in stories"
**Describe the bug**
React context added through global addDecorator doesn't work in the exported stories on the top level, but works when used indirectly.

**To Reproduce**

Here's [the complete repository](https://github.com/tajo/storybook-context-issue).

`context.js`:

[code]

`.storybook/preview.js`:

[code]

`stories/context.stories.js`:

[code]

**Expected behavior**
`value` should be `INIT

[2020-04-02 19:03] tajo commented on #10231
Might be related to https://github.com/storybookjs/storybook/issues/10296

It seems that context provider doesn't work on the top level in stories.

[2020-04-02 19:15] fabian-hiller commented on #10231
In my case it just does not work with the styled components. In the other cases, as you can see in the screenshot, the context works.

But maybe the reason for the problem is the same for both of us.

[2020-04-02 19:26] goldhand commented on #8342
Looks like the links @atanasster are to an experimental "addon-controls" addon that was removed. See the [commit history in properties-2 branch](https://github.com/atanasster/storybook/commits/properties-2/examples/official-storybook/stories).

The removed code is here: https://github.com/atanasster/storybook/tree/4a62e69ecb82fbfc19c65c834309a93e50de0fe7/examples/official-storybook/stories/addon-c

[2020-04-02 20:02] Schum123 opened #10297 "addon-docs doesnt show prop table with imported component from npm package"
**Describe the bug**
Hello, I'm having problems using the ``addon-docs``  and storybook for vue. I have a library where i store all my components and importing them in my stories.

The component renders its story but not the props table.

**To Reproduce**
Steps to reproduce the behavior:
1. import { MyComponent } from '@mylib/mylib-vue-components';
2. Go to docs
3. props table does not render

**E

[2020-04-02 21:21] alexreardon commented on #8600
So is there a way from my addon panel to set something in the query string? I am using the API in the same way as it is being used in the docs: https://storybook.js.org/docs/addons/api/#apisetqueryparams

[2020-04-02 21:25] CodeDredd commented on #10204
@TommySorensen @sbenitezma
I also have a vue project where this warrning occurs. The workaround is working u just need to know one thing which i also didn't know.

For `yarn` users the workaround mentioned by @amendoa works.

For `npm `users you have to install it seperatly in your dev dependencies because npm doesn't support `resolutions`

[code]

and don't forget to delete `package.lock` & `node

[2020-04-02 21:28] CodeDredd commented on #10204
My Stacktrace:
[code]

[2020-04-02 21:56] #9785 closed

[2020-04-02 22:58] shilman commented on #8342
@goldhand It's work in progress. More info here: https://docs.google.com/document/d/1Mhp1UFRCKCsN8pjlfPdz8ZdisgjNXeMXpXvGoALjxYM/edit?usp=sharing

[2020-04-03 02:39] shilman commented on #10297
That's the expected behavior. `Props` works by running some babel or webpack loader on the source code of your component to analyze its interface, and it only runs on files in your project for performance reasons.

If that source code is part of the distribution, there might be some custom webpack tricks you could play to also get it to run on that code. But it's not supported by Storybook at the

[2020-04-03 02:44] shilman commented on #10296
Looks like the difference between those two stories is that `Div` is treated as a react component and results in a `createElement` call, whereas `directUsage` is just a function.

Two possible workarounds:
1) Capitalize your stories
2) Rewrite your decorator code like this:

[code]

[2020-04-03 02:46] shilman commented on #10275
Awesome, glad to hear you got it working! 💯

[2020-04-03 02:46] #10275 closed

[2020-04-03 02:48] shilman commented on #9564
@l0c0luke No idea. Would love help tracking this down!

[2020-04-03 02:49] shilman commented on #10294
@ndelangen is this composition-related?

[2020-04-03 02:54] shilman commented on #5935
@matheo yeah we're working on a variety of related projects. I don't have numbers yet but 6.0 will include some massive perf improvements for large storybooks.

[2020-04-03 02:56] shilman commented on #7677
Not yet. It's on the radar.

[2020-04-03 03:04] shilman commented on #10291
Try moving your `addParameters` code before `configure`.

Also, unrelated but I recommend moving to the `main.js` configuration: https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#to-mainjs-configuration

[2020-04-03 03:56] #9288 closed

[2020-04-03 07:52] ndelangen commented on #10231
I spoke to one of the emotion maintainers yesterday, and this is essentially due to both storybook & your app/component using emotion & theming.

Emotion theming solution uses React context, meaning is somewhat global.

The proper solution is to not use emotion context but our own.

Here's the suggested solution from https://github.com/Andarist:

[code]

I'm not mentioning this because I think YOU

[2020-04-03 07:58] ndelangen commented on #7677
@dsebastien or @wKich or @lirbank would you be interested in contributing to https://github.com/storybookjs/csf?

[2020-04-03 08:14] ndelangen commented on #8600
Why would you need to set something on the query of storybook's manager?

[2020-04-03 08:17] fabian-hiller commented on #10231
Yeah, I'd be honored. How much effort do you estimate?

[2020-04-03 08:23] ndelangen commented on #10231
We need
- to expose a custom context for theming that derives the theme from the manager-context state
- replace the ThemeProvider from emotion with this custom ContextProvider
- change @storybook/theming so `styled` & `useTheme` auto-inject them theme into any functions

part 3 is going to be the most challenging, particularly to make all the typings correct.

If you'd want to tackle this togethe

[2020-04-03 09:10] fabian-hiller commented on #10231
All right. See you later.

[2020-04-03 09:13] wKich commented on #7677
Yes, I would like to try.

[2020-04-03 09:14] ndelangen commented on #7677
I think interfaces could be exported here:
https://github.com/storybookjs/csf/blob/next/src/index.ts

WDYT @shilman ?

[2020-04-03 09:17] suraj-eai commented on #9794
Thanks @shilman

[2020-04-03 09:22] wKich commented on #10162
I also want to add `Playwright` support for my visual testing tool [creevey](https://github.com/wKich/creevey) in near future.

For now `creevey` support only selenium webdriver, but it provide ultra-fast cross-browser testing and fancy web ui runner with visual diff comparing.

[2020-04-03 10:14] ndelangen commented on #10204
Has anyone been able to locate the specific lines of code in addons/viewports that causes the warning?

[2020-04-03 10:19] mohammed-shakeel-by opened #10299 "Adding CSS Styling to BrandLogo"
Hi Guys,

I have a requirement for moving the position of `Storybook Logo` with padding. How we do this better instead of using the "CSS-escape-hatch method'?

My Approach was to go with  [CSS-escape-hatch](https://github.com/storybookjs/storybook/blob/master/addons/docs/docs/theming.md#css-escape-hatches).
Step-1. Added  css file under public folder. and override Styling of logo class based on th

[2020-04-03 10:33] sbenitezma commented on #10204
I tested with @CodeDredd notes and no warnings now, so it works, ty 😄
from me no idea where are the lines that causes the warning, maybe someone can give more light about that 🙏

[2020-04-03 10:45] shilman commented on #7677
Yeah, that would be great. I'd like to revise what's in there currently and make it better reflect what we're doing with [Storybook Args](https://docs.google.com/document/d/1Mhp1UFRCKCsN8pjlfPdz8ZdisgjNXeMXpXvGoALjxYM/edit#), among other improvements.

[2020-04-03 11:31] DaSchTour opened #10301 "Storybook build doesn't work with Angular 9.1"
**Describe the bug**
Building static storybook breaks with the following error
[code]
or
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Setup storybook with angular 9.1
2. Install some 3rd party library
3. Build static storybook

**Expected behavior**
Build should work with angular 9.1

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snippets**
If

[2020-04-03 11:35] jeroenheijmans opened #10302 "Allow choosing Angular project when running"
We have a mono-repo with multiple Angular 9 Projects, each of them being one app. They also have some common, shared source code. So our folder structure is something like:

[code]

We will write stories for both components in _common, and for components in all the various apps. Ideally for us, we could specify per Storybook module what app to use, but I feel that might be far off from how Storybo

[2020-04-03 12:12] jeroenheijmans opened #10303 "Errors in angular.json should lead to non-zero exit code"
When I run `build-storybook` in an Angular application, I expect it to exit with `1` (or some non-zero code) when the `angular.json` file is incorrect, just as you'd get nonzero exit code for errors in your stories.

To reproduce:

1. Run `ng new foo`
2. Folllow https://storybook.js.org/docs/guides/guide-angular/ (manual steps, I don't use `npx` here)
3. Add `"storybook-ci": "build-storybook"` to

[2020-04-03 13:31] german-bortoli opened #10304 "Storybook for react makes webpack crash"
**Versions:**
 - Node: v10.16.3
 - NPM: v6.9.0

**Libraries Versions:**
 - react-scripts: 3.4.1
 - @storybook/react: 5.3.18
 - @storybook/preset-create-react-app: 2.1.1

**Result**

Having different webpack versions my react application won't start

[code]

[2020-04-03 13:49] jdiponziano commented on #10291
Thank you so much @shilman ! Feel so stupid it was so simple lol!

[2020-04-03 13:49] #10291 closed

[2020-04-03 14:02] honorsuper commented on #7914
@Iuriy-Budnikov   I have the same problem with you ,have you solve it ,i have found you github project push-ui, great project, i should learn form it

[2020-04-03 14:12] edmulraney commented on #8884
@shilman i'm still getting the same issue as above on 5.3.18

[2020-04-03 14:18] Iuriy-Budnikov commented on #7914
Hi @honorsuper ,
Yes, I resolved it. Try to remove package-lock/yarn lock files.
It should help

[2020-04-03 14:47] viljark commented on #7379
I'm facing the same issue.

Had to add  `"paths": {
			"react": [".sink.d.ts"]
		}` and `"skipLibCheck": true,` to tsconfig.json.

The .sink.d.ts is just an empty file and enables me to use my own `namespace JSX` for vue, since the react module import eventually will not introduce it's own JSX namespace.

[2020-04-03 15:13] Schum123 commented on #10297
Ok! thx for quick answer! Will look into my webpack config and see if can manage to fix it.

[2020-04-03 15:13] #10297 closed

[2020-04-03 15:32] echoulen commented on #8600
Hi @ndelangen
For my example, I have to set the active tab in my addon form query params if the user refresh the page

[2020-04-03 16:20] ton03 opened #10306 "Hierarchy order"
**Is your feature request related to a problem? Please describe.**
I would prefer to have an option to set an order of the story hierarchies. In the case of the demo site, I may want to see "Basics" first, then "UI", etc.

**Describe the solution you'd like**
Set the order via `manager.js`?
[code]
or
[code]
the rest that are not mentioned would be rendered in whatever order they are rendered now.

[2020-04-03 17:27] ndelangen commented on #8600
For refreshes you could use the localStorage instead?

[2020-04-03 19:01] tajo commented on #10296
Thanks!

[2020-04-03 20:34] TfADrama opened #10307 "React Native, Theme Dark, Unreadable text"
**Describe the bug**
Changing the theme to dark with react native causes the storybook's welcome text to be unreadable...

**To Reproduce**
Change the theme to dark by adding this in your ./storybook/index.js

**Expected behavior**
Storybook server with readable text.

**Screenshots**
![image](https://user-images.githubusercontent.com/1742789/78402407-6f6a6300-75f2-11ea-83a3-a3aeb6b06dc3.png)

**C

[2020-04-03 21:23] idbartosz opened #10308 "addon-docs Source component does not return source when no props provided"
**Describe the bug**
Source component from `@storybook/addon-docs/blocks` doesn't return source when no props provided.

**To Reproduce**
Use Source component from addon-docs in custom Preview component.

**Expected behavior**
Should render source for the current story as described in comments:
https://github.com/storybookjs/storybook/blob/c8c0a7f6634dbf2358653bcb44b0892523bf2216/addons/docs/src/b

[2020-04-03 21:42] idbartosz commented on #10308
Problem is with condition on line 66. When no props are passed (e.g. `<Source />`) then
1. `targetId` value is obtained from ternary condition
2. condition `singleProps.id === CURRENT_SELECTION` is evaluated to `false`
3. assigned value is `singleProps.id` which is equal to `undefiled`.

For the scenario with self closing `<Source />` value assigned to `targetId` should equal to the `currentId` ob

[2020-04-03 23:54] #9835 closed

[2020-04-04 00:21] Albert-Gao opened #10309 "Add way to remove nesting when using CSF"
A CSF like following.

[code]

will generate a structure like this

![image](https://user-images.githubusercontent.com/18282328/78414050-c285f980-7676-11ea-824e-d52cdcb1a9d6.png)

It would be helpful to remove the nesting, so the named export `Button` in the csf can be displayed as a root. Thanks

Or it is already supported? But I went through the documentation multiple times, can not find it. Tha

[2020-04-04 02:33] echoulen commented on #8600
the route trigger enable tab is more make sense, I had used this API a long time ago, it's was broken after I upgrade the storybook, so that's why I report the issue.

[2020-04-04 03:21] cdll commented on #9637
hi all, how 's going~
the issue 's still even after i 've upgraded to ``"@storybook/vue": "^6.0.0-alpha.29"``

[2020-04-04 06:21] kroeder commented on #10293
Hey,

does your `.storybook/tsconfig.json` extend your root tsconfig that declares your tsconfig paths?

[2020-04-04 11:18] vipcxj commented on #6113
The workaround is too complex, why not storybook provide a callback just called after the story is added to the dom tree?

[2020-04-04 13:53] DQvsRA opened #10310 "Include fonts from .scss file"
**Describe the bug**
Fonts can't be found.

**To Reproduce**
I have fonts imported in style.css:
[code]
This is a part of the structure of the app
![Screenshot 2020-04-04 at 15 33 53](https://user-images.githubusercontent.com/442111/78452128-c40ced00-7689-11ea-8dd0-3ec17ccfa78e.png)

And I import this style.css into the app with `vue.config` and `webpack.config` in the root of the app:

webpack.co

[2020-04-04 14:49] TripleSpeeder commented on #10304
Also happens for me with newer node/npm versions:
* Node: v10.19.0
* NPM: v6.14.4

Yarn managed resolving the webpack version better (it used 4.42.0 as required by react-scripts) and my app can start. However it failed to create a production build, and i did not yet bother checking in detail what went wrong (pretty sure it is an unrelated issue though).
@german-bortoli so you might have more luck

[2020-04-04 15:00] shilman opened #10311 "Addon-docs: Update type/value rendering for 6.0 recommendations"
<img width="614" alt="Addons___Docs___mdx_-_hello_story_⋅_Storybook" src="https://user-images.githubusercontent.com/488689/78453995-d73ead80-76c7-11ea-8773-78fb7c8eb7e0.png">

Storybook 5.3 has a nice type rendering system based on `react-docgen-typescript-loader`. In SB 6.0 we've [updated the recommended configuration](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tab

[2020-04-04 17:20] gossi commented on #7671
Oh yes please! I just released Theemo, read here about: https://gos.si/blog/say-hello-to-theemo-the-yordle-powered-theme-automator/

Basically the idea with this is theemo already knows about all your tokens. Would like to connect theemo to this. In the end theemo automates everything for you, just one command away.

Let me know how to collaborate.

[2020-04-04 18:08] #9846 closed

[2020-04-04 18:19] german-bortoli commented on #10304
@TripleSpeeder I tried using Yarn also, and did not went very good, some problems got fixed but webpack was not able to transpile Typescript pretty well, for example, the props from redux couldn´t be mapped properly.

[2020-04-04 19:26] DQvsRA commented on #713
And how to apply `storiesOf` to Vue component?

[2020-04-04 19:28] cogoo commented on #10302
Using a monorepo powered by Nx.

I ran into a similar issue. The styles that are automatically injected into the stories body are listed in that project's (what gets resolved by `getLeadingAngularCliProject`) styles array.

This causes a discrepancy between how the component looks in storybook vs when in an application.

This could be solved by allowing us to specify a project (or even leave it bl

[2020-04-04 20:37] fallemand commented on #10310
Same problem here.

[2020-04-04 20:41] fallemand commented on #7335
Same problem here after upgrading to `5.3` From `5.2` Can't get it to work

[2020-04-04 20:52] fallemand commented on #10310
I had the problem after migrating to `5.3`.
I was importing a `global.scss` for storybook using this hack:
[code]
But I had to add `resolve-url-loader` so It could get the right paths for the fonts
[code]

[2020-04-04 22:41] jNormaster commented on #6505
I experienced this issue today.
Workaround with .env file solved it

[code]

[2020-04-04 22:53] vertic4l commented on #7379
Thank you for deleting my comment.
Very transparent censorship.

[2020-04-05 01:08] #9683 closed

[2020-04-05 05:05] tajo opened #10312 "The order of addon panels doesn't match main.js configuration"
**Describe the bug**
It seems that the order of addon panels is somewhat arbitrary.

**To Reproduce**

main.js:

[code]

**Expected behavior**
Should see 3 panels in this order:

1. Accessibility
2. Actions
3. Knobs

Instead, I get:

1. Knobs
2. Accessibility
3. Actions

Not sure where this order comes from. Is there some other way how to control it? Thanks.

[2020-04-05 06:08] #9852 closed

[2020-04-05 06:09] #9850 closed

[2020-04-05 06:09] #9849 closed

[2020-04-05 07:24] mkinfrared commented on #9586
Still not working if I use default export.
`No props found for this component`

[2020-04-05 07:55] 0x0006e opened #10313 "addons docs does not work"
**Describe the bug**
- docs does't show。I don't know how to fix it

**To Reproduce**
1.run this [repo](https://github.com/0x0006e/StoryBook/tree/bug/meican)

**Expected behavior**
- show docs

**Screenshots**
![image](https://user-images.githubusercontent.com/18499153/78469073-13b5ec00-7750-11ea-915c-e6ebe217955d.png)

**System:**
[code]

**Additional context**
Add any other context about the prob

[2020-04-05 08:51] mkinfrared commented on #9586
What I also noticed is when I use named export, which is currently a working solution rignt now, docs doesn't read the children prop, even if I specifically declare that in my interface.

[2020-04-05 09:36] A7DC commented on #2695
How is this meant to work for the latest version of Storybook, where you have a `main.js` file instead of the webpack stuff?

[2020-04-05 10:01] Donghoon759 opened #10314 "Notes addon link doesn't work"
**Describe the bug**
stories with Markdown notes using parameters in the Notes addon link doesn't work.
https://github.com/storybookjs/storybook/tree/next/addons/notes

[2020-04-05 14:22] #9553 closed

[2020-04-05 16:27] scottc11 commented on #25
I have come to this thread numerous times for numerous projects! So this is for my own reference as well as anybody else.

This worked for me.

[code]

my `style.scss` is overriding the default bootstrap theme using sass variables

I was able to use storybooks default webpack config and just reference the style sheets like so, additionally using the **inline loader syntax** for my `sass` files, as

[2020-04-05 16:34] christopherhafke commented on #8768
@StJohn3D What version were you encountering this problem on? We're not able to reproduce it on the current release.

[2020-04-05 18:04] sebastian-nowak opened #10315 "Storybook requires installing webpack which makes no sense"
**Describe the bug**
Storybook has a peerDependency on babel-loader which has a peerDependency on webpack => 2. The result is that storybook requires installing webpack as a dependency even though it's absolutely not needed.

[code]

**Expected behavior**
Storybook should not have a (transitive) peerDependency on webpack.

**Additional context**
I'm trying out storybook 6.0.0-alpha.30 with yarn2.

[2020-04-05 18:14] SunilSalve opened #10316 "Storybook Docs for Web Components - how to use setCustomElements method for multiple component."
setCustomElements method registor customElement Json to winto object how to change this file for multiple component

Can we have multiple customElements json in storybook app?

[2020-04-05 18:39] greenroach commented on #10205
Hi, @shilman, sorry for a long answer. I checked layout and seems it not helped. Also I found that the bug reproduced only if body min-width set to 100vh. I created clean project with empty cra + stories to reproduce it. https://github.com/greenroach/storybook-margins

[2020-04-05 19:06] StJohn3D commented on #8768
@christopherhafke that's good to hear! I know I'm a release or two behind. I forget what stopped me from upgrading. I just remember trying to upgrade, things breaking, so I left it alone to do later and then never got back to it. I'll close this issue and reopen if I'm able to reproduce after upgrading.

[2020-04-05 19:22] #9856 closed

[2020-04-05 19:24] cristian-spiescu commented on #3291
In my opinion there is an issue around [this line](https://github.com/storybookjs/presets/blob/32b0e861bbea7a0972d2bd99f5cb6a6851a85ce1/packages/preset-create-react-app/src/index.ts#L123). It should get the modules of the original config as well.

My workaround, in `main.js`:

[code]

[2020-04-06 00:23] shilman commented on #10205
@ghengeveld @ndelangen can you guys take a look at this?

[2020-04-06 00:24] shilman commented on #10316
cc @daKmoR

[2020-04-06 00:26] shilman commented on #10315
cc @gaetanmaisse

[2020-04-06 00:27] shilman commented on #10314
What's linking to this?

[2020-04-06 00:39] shilman commented on #2695
Main.js can configure webpack: https://storybook.js.org/docs/configurations/custom-webpack-config/

[2020-04-06 00:40] shilman commented on #9586
@mkinfrared are you using `babel-plugin-react-docgen` or `react-docgen-typescript-loader`?

[2020-04-06 00:46] shilman commented on #10313
Did you follow the setup instructions? Your setup looks nothing like the recommendation: https://github.com/storybookjs/storybook/blob/next/addons/docs/README.md

[2020-04-06 00:49] shilman commented on #10073
Closing as dupe to #9819

[2020-04-06 00:49] #10073 closed

[2020-04-06 00:49] shilman commented on #10312
Closing as dupe to #9819

[2020-04-06 00:49] #10312 closed

[2020-04-06 00:56] shilman commented on #10304
@german-bortoli can you share a reproduction repo?

[2020-04-06 01:19] shilman commented on #7671
@gossi @Sqrrl let's tackle this together in 6.1. The 6.0 schedule is slipping and it's going to be a complex release. As soon as it's out the door, I'll start a document that we can iterate together. In the meantime if anybody wants to put together POC's (either as standalone addons or enhancements to `storybook-design-token`) to help shape the integration into core, I'd be happy to help promote t

[2020-04-06 01:22] #9862 closed

[2020-04-06 01:22] #9859 closed

[2020-04-06 01:23] shilman commented on #10309
@Albert-Gao no, that's not supported. however if you run storybook with `addon-docs` in `--docs` mode it collapses the navigation.

[2020-04-06 01:24] shilman commented on #10309
Closing as dupe to #8255

[2020-04-06 01:24] #10309 closed

[2020-04-06 01:33] shilman commented on #10306
You can currently achieve this by simply loading your stories in the desired order in `main.js`:

[code]

There's also an options argument to `StorySort` that basically does what you're asking for: https://github.com/storybookjs/storybook/pull/9188

[2020-04-06 01:33] #10306 closed

[2020-04-06 01:38] shilman commented on #8884
Hmm this was def merged. @lmaze any idea what's going on in 5.3.18?

[2020-04-06 01:39] shilman commented on #10303
@jeroenheijmans any interest in contributing a fix?

[2020-04-06 03:21] Donghoon759 commented on #10314
https://storybook.js.org/docs/basics/writing-stories/
------------------------------------------------------------------------------------------------
Parameters
Parameters are custom metadata for a story. Like decorators, they can also be hierarchically applied: globally, at the component level, or locally at the story level.

Here’s an example where we are annotating our stories with Markdown no

[2020-04-06 04:06] 0x0006e commented on #10313
I finally solved this problem。My old project config was confusing！

[2020-04-06 04:06] #10313 closed

[2020-04-06 05:38] ghengeveld commented on #10205
The short answer is that you shouldn't wrap your component with a padded container, we have the new layout prop for that.

However, there may be valid use cases, so we'll have to investigate.

@greenroach can you try with the layout prop set to "fullscreen" in Storybook v6? Alternatively you can just set the html/body margin to 0, that's what it does.

[2020-04-06 06:48] gaetanmaisse commented on #10315
Hmmm I see, it appears because I fixed some missing transitive peer dependencies (great post about this: https://dev.to/arcanis/implicit-transitive-peer-dependencies-ed0) and as `@storybook/core` has a peerDependency on `babel-loader` almost every package has it too 🙃

However, it looks like `babel-loader` is now a regular dependency of `@storybook/core`(https://github.com/storybookjs/storybook/co

[2020-04-06 07:59] SunilSalve commented on #10316
@daKmoR  - Can you please share your thoughts on above question.?

[2020-04-06 08:07] peterp commented on #6715
@shilman Just a heads up that the link to v4 docs are no longer working.

[2020-04-06 08:22] noisy commented on #8662
@qinglong-kooboo example would be great!

[2020-04-06 08:40] ndelangen commented on #10205
Wrapping stories with divs that have margin isn't recommended. either padding would do, or use the layout parameter.

[2020-04-06 08:45] ndelangen commented on #8600
@echoulen you're 100% correct. The API used to set queries on the manager as well, but when we changed to use a router we removed this behavior so we could have clearer/readable URLs that wouldn't grow to be too long.

[2020-04-06 08:46] greenroach commented on #10205
@ghengeveld the body already have the margin 0 style.
@ndelangen this example works the same
[code]

[2020-04-06 08:48] alexreardon commented on #8600
I would like to be able to set the URL for sharing purposes. Right now I am unable to do anything to the URL as an addon as it is always cleared

[2020-04-06 08:50] ndelangen commented on #10205
@greenroach yes, margin 'bleeds' outside of containing box. that's the problem.

change it to padding, and it should be fixed.

[2020-04-06 08:51] ndelangen commented on #8600
I agree that'd be useful

[2020-04-06 09:03] greenroach commented on #10205
@ndelangen Yes, but I'f I need to place in story some component with margins there will be problems.

[2020-04-06 09:26] TripleSpeeder commented on #10304
@shilman You can also check the development branch of https://github.com/TripleSpeeder/token-allowance-checker. As a workaround i added a fixed dependency to webpack 4.42.0 in package.json. If you remove this dependency you will see the problem.

Overall I think this is more an issue with npm and the way it resolves dependencies. Don't think storybook code is actual responsible, it's just a coinci

[2020-04-06 09:47] daKmoR commented on #10316
generally there should only be one `customElements.json` per repository - it can hold information for multiple tags.

If you really need to split it up you will need to merge the data yourself with something like this (psoido code):
[code]

[2020-04-06 10:48] ghengeveld commented on #10205
Perhaps you're already aware, but components with margins are generally frowned upon. Read this: https://mxstbr.com/thoughts/margin

Regardless I'll investigate and see if we can improve it for v6.

[2020-04-06 10:49] ndelangen commented on #10205
A `overflow: hidden` will prevent margin bleed, but I don't see that as a good solution tbh, and not something i'd take as a PR for storybook, as I think it will cause many more issues than it would fix.

[2020-04-06 11:11] echoulen commented on #8600
@ndelangen I see

[2020-04-06 11:30] mkinfrared commented on #9586
@shilman I'm using `react-docgen-typescript-loader`
I can push my test project to github if it can help you somehow

[2020-04-06 12:59] german-bortoli commented on #10304
@shilman no, I can't share the code repo :s sorry

[2020-04-06 13:17] valerybugakov opened #10322 "Stories glob doesn't work as expected"
**Expected Behavior**
Using glob `**/*.stories.tsx` should match all files ending with `.stories.tsx` in all subdirectories.

**To Reproduce**
Use glob in storybook config `**/*.stories.tsx`
Notice that stories located in folders that have the same suffix `*.stories` won't load into a storybook.

**Additional context**
The root of the issue is hidden in [to-require-context.js](https://github.com/s

[2020-04-06 13:24] SunilSalve commented on #10316
@daKmoR - Thanks for hint. It solved my problem, I ran into this issue because we are using Lerna for monorepo and my repo structure is bit complicated.

Thanks again

[2020-04-06 13:26] #10316 closed

[2020-04-06 13:34] sali1982 opened #10323 "Publish Storybooks on a lab"
Hi All,

I looked at the documentation, I cannot find out how we can run the storybooks on a live lab.
I know these are tests, but our Product owners and manager want to see it on a running lab to see our fetures.

I am thinking the way would be instead of npm start, we need to do: start-storybook on the running app and that should just work?

[2020-04-06 13:45] albanlorillard opened #10324 "TypeError: "o is undefined" (Storybook 6 and Angular 9.1)"
**Describe the bug**
Hello,
Since I upgrade Storybook to the version 6 (alpha 29 then alpha 30) on my Angular 9.1 project, my static Storybook not work after build-storybook command.
This error appear on the browser console :
[code]

But, on live compilation, that work perfectly with `start-storybook` command.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/alba

[2020-04-06 15:01] costerik opened #10325 "Flow Type Definitions - @storybook/react-native v.5"
It would be awesome to have the FlowJS definitions for Storybook v.5.

[2020-04-06 15:14] danverde commented on #10293
Yes it does

[2020-04-06 15:20] amitch6097 commented on #10027
+1

[2020-04-06 15:44] emanuelepane opened #10326 "Storybook for HTML cannot import components"
I am trying to use Storybook for HTML.

I want to follow the CSF approach and keep component and stories separated.
These are my doc references:
* https://storybook.js.org/docs/guides/guide-html/#step-4-write-your-stories
* https://storybook.js.org/docs/basics/writing-stories/#basic-story
* https://storybook.js.org/docs/basics/writing-stories/#story-file-location

**To Reproduce**
Steps to reprodu

[2020-04-06 15:54] slavarazum opened #10327 "VueJS TypeScript Property Decorators Error"
**Describe the bug**
Looks like `@storybook/preset-typescript` can't interpret decorators from `vue-property-decorators`, like: `@Component`

**Error screenshot**:
![screenshot](https://image.prntscr.com/image/6Eig_CO4SPe7hiC57Ewsxg.png)

Error text:

**Code snippets**

_main.js_
[code]

_1-TestComponent.stories.ts_

[code]

_TestComponent.vue_
[code]

**System:**
[code]

**Additional context**
Al

[2020-04-06 16:22] yannbf opened #10328 "Reuse existing tab if possible"
**Is your feature request related to a problem? Please describe.**
Whenever I am making changes to configuration files (e.g. adding a new addon) or just leaving tabs open because I forgot them open, I end up in a situation like this as result of running storybook multiple times:
![image](https://user-images.githubusercontent.com/1671563/78577918-14717f80-782f-11ea-9617-d131b1f6c2f5.png)

It's a bi

[2020-04-06 18:20] danawoodman commented on #9889
Anyone...?

[2020-04-06 19:01] warunikar commented on #10193
I'm also getting a security vulnerability warning for the nested dependency `acorn` in `@storybook/addon-actions`. `react-inspector` dependency doesn't seem to be up to date, which is causing this warning.

[2020-04-06 19:14] eashwar commented on #8278
Hey @jay-bis! Just letting you know that @christopherhafke and myself are going to take a stab at this issue - if you are still working on it, the two of us are on the Storybook discord at `eash#0001` and `chafke#9253`, or you can let us know here if you still are.

[2020-04-06 19:28] tom-tom1234 opened #10330 "Resort knobs after they dynamically change"
It would be nicer if knobs were re-sorted when they change dynamically instead of being appended at the bottom of the list.

[2020-04-06 20:54] metanas commented on #10327
You should add `ts-loader` to your webpack configuration in main.js of your storybook
[code]

[2020-04-06 21:45] machineghost commented on #9854
A much simpler way to solve ES Module issues is to not use Node, and instead use the "esm" module (from the creator of Lodash).

With the module and Node's `-r` argument, solving ES module code is as simple as:

    npm i esm
    node -r esm foo.js

It seems to me the ideal solution here would be to just give the storybook command a `--esm` option that does that, or a generic `-r` pass through opt

[2020-04-07 00:10] shilman commented on #10327
Thanks for reporting @slavarazum and for the workaround @metanas. We have an open PR for that here, but are still figuring out the best path forward: https://github.com/storybookjs/presets/pull/122

[2020-04-07 00:16] shilman commented on #10326
@emanuelepane did you try:

[code]

[2020-04-07 00:18] shilman commented on #10324
@ndelangen guessing this is composition-related?

[2020-04-07 00:21] joshuatvernon commented on #5065
I got it to work like this . . .

### config.ts
[code]

### package.json
[code]

[2020-04-07 00:22] shilman commented on #10314
Thanks @Donghoon759. Will rewrite that soon!

[2020-04-07 00:24] shilman commented on #6715
@peterp thanks for the heads up. we'll be doing a docs overhaul as soon as 6.0 is out the door and will fix the versioning issue as part of that. in the meantime, your best bet is to look at the repo:

- https://github.com/storybookjs/storybook/tree/release/3.4
- https://github.com/storybookjs/storybook/tree/release/4.x

[2020-04-07 00:28] shilman commented on #9586
@mkinfrared it's a known issue in RDTL that's fixed in `react-docgen`. currently both solutions leave a lot to be desired.

https://github.com/storybookjs/storybook/issues/9556

[2020-04-07 01:01] Donghoon759 commented on #10314
Very nice!
Sorry for poor issue format :(

[2020-04-07 01:33] tmeasday commented on #10109
Yeah, TBH although I realise there are legitimate use cases where this is nice my current feeling is that setting options per-story (or component) is too messy and complicated to really be worth it. I reckon we should drop this as a "feature".

[2020-04-07 01:35] tmeasday commented on #9534
Can you tell us a bit more about the data you are sending over @ArrayKnight?

[2020-04-07 01:39] tmeasday commented on #10110
@shilman I'm not sure `@storybook/server` removes the need for standalone -- it is a different layer of separation -- in `@storybook/server` the JS code for the preview is still served by our process, but it (inside the preview iframe) communicates with an external service.

In standalone the entire preview iframe is served by that external service.

You could also combine the two and have the ext

[2020-04-07 01:49] machineghost commented on #208
A minor update: all of the solutions here rely on the default export of the proxy middleware package ... but that didn't work for me.

The package now seems to be relying on a `createProxyMiddleware` *named* export instead, so what worked for me was:

[code]

[2020-04-07 03:05] phaistonian commented on #5065
@joshuatvernon Thing is, this way the `require.context` has already done its thing, plus this is working - in terms of filtering - only for the non-CSF format.

I managed to do it in the webpack level - so it's irrelevant with the story format - in a rather ugly way that involves using `ContextReplacementPlugin`.

Here's the code block:

[code]

This way I can do:

[code]

You need to make sure th

[2020-04-07 03:26] shilman commented on #10110
@jonspalmer can you confirm @tmeasday 's comment above?

As for storysource, it uses source-loader which annotates each story file with its own source code as story parameters (effectively) that can be used in the addon. If the source-loader is not run, or those parameters are not written by hand (and historically, they have not been designed to be written by hand -- that has changed a bit in 6.0)

[2020-04-07 03:30] chvin commented on #6339
'overwritten by Storybook' solution:

[code]

[code]

[2020-04-07 03:33] chvin commented on #812
'overwritten by Storybook' solution:

[code]

[code]

[2020-04-07 05:02] Bilb commented on #8623
Hey @shilman , I have the same issue. How did you solve it?

[2020-04-07 05:25] Cyrus-d commented on #8461
I don't like this logs too, so irrelevant during development, for now, I m removing the related code from logger file to prevent this messages, but I have to do this every time installing new package.

[2020-04-07 06:29] Morteza-Jenabzadeh commented on #4143
Is there any sample for write a story for FOC component ?

[2020-04-07 06:53] basher commented on #10110
In hindsight, the `storysource` addon is probably not the correct addon for me, in terms of achieving some parity of behaviour compared to my previous experience of using the old Storybook API and Create React App.

I want to be able to view **component** source code (including **configurable props**), like the old `info` addon used to do.
- Therefore, I guess I need to get `storybook docs` workin

[2020-04-07 06:57] albanlorillard commented on #10324
Hello @shilman
Thanks for your quick answer and for tips. ;)
Yes, If I downgrade to the last V5 stable version, no problem occurred on runtime after a build nor on live build version.

[2020-04-07 07:04] emanuelepane commented on #10326
Thank you @shilman yes I did!

As a result, the warning goes away, which is great and I understood why by looking it up (thanks!).

However there is no actual Button displayed in Storybook.
What am I missing here?

[2020-04-07 07:39] Benwick91 opened #10335 "TypeScript compile errors with CSF & Knobs"
**Describe the bug**

**TS Error with Knobs**
If I use especially the select Option from Knobs with TypeScript, the TypeScript Compiler throws an error.

**TS Error with CSF**
The error Message with Knobs:
`Type 'string' is not assignable to type '"secondary" | "inverted" | undefined'.`

Also the compiler throws an error with the components, which only has a default export (I use `declaration: tru

[2020-04-07 08:12] Niondir opened #10336 "How to set parameters for single Component"
The readme contains invalid code for the example. How to set parameters for a single component?
[code]

[2020-04-07 09:29] dbendaou commented on #10074
Could we deactivate stale bot on this issue ?

[2020-04-07 09:38] shilman commented on #10074
Done 👍

[2020-04-07 10:15] gaetanmaisse commented on #10094
@ChiefORZ this should be fixed in the next `alpha` release 😉

[2020-04-07 10:31] shilman commented on #9242
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.31 containing PR #10281 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-04-07 10:31] shilman commented on #9854
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.31 containing PR #10097 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-04-07 10:31] shilman commented on #9901
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.31 containing PR #10290 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-04-07 10:31] shilman commented on #10075
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.31 containing PR #10288 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-04-07 10:31] shilman commented on #10094
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-alpha.31 containing PR #10305 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-04-07 10:32] #9242 closed

[2020-04-07 11:25] sebarthel89 opened #10339 "Handling prettier dependency properly"
**Problem description**
We are using storybook's source loader as a dependency in our project. We realized, that there is a dependency to prettier that conflicts with our own prettier version.

Usually, handling multiple package versions in a project is possible but it still creates annoying issues. Internally, we migrated to prettier v2 that comes transitively from our own configuration package a

[2020-04-07 11:26] shilman commented on #10339
closing as dupe to #10192

[2020-04-07 11:26] #10339 closed

[2020-04-07 11:27] shilman commented on #10192
FYI, I believe we've upgraded to prettier 2 in 6.0.

[2020-04-07 11:31] sergiohgz commented on #10192
That would be really nice @shilman

[2020-04-07 11:31] sebarthel89 commented on #10192
I have a similar issue described in #10339. I would love to understand good solutions for it and go forward in this direction with storybook.

[2020-04-07 12:08] Shadowlauch commented on #10190
I had the exact same error. Reinstalling sadly did not help. I had 2 instances where I had declared a React Component at the end of the file and used it further up in the file. Moving the declaration of those components above the place I used them, fixed the error.

[2020-04-07 12:58] urish commented on #8375
Seems like the same issue as #8544

[2020-04-07 13:26] gaetanmaisse commented on #10094
😞 it looks like https://github.com/storybookjs/storybook/pull/10281 reintroduce the issue. I will 🔍 .

[2020-04-07 13:34] 0x0006e commented on #8055
😔

[2020-04-07 13:55] domyen opened #10340 "Storybook Composition styling QA/polish"
This issue tracks user interface QA on Storybook Composition. Previously discussed with @mrmckeb @shilman in the monthly maintainers meeting.

- Ensure styling matches design
- Code review for styling
- Test styling in different cases (wide/narrow sidebar, mobile view, dark/light themes etc.)

[Link to design in InVision](https://invis.io/SEWAH6E43RZ)

[2020-04-07 14:58] meyerds commented on #9917
I'd like to see this option too. [This bug](https://github.com/storybookjs/storybook/issues/8539) is affecting me, but I'm in a Typescript codebase, so the bugfix on that issue didn't have any effect. A sort prop on the `Props` component seems like the best way to make everybody happy.

[2020-04-07 18:55] costerik opened #10344 "React Native Examples"
Are there examples for react-native with the last storybook's version?

[2020-04-07 19:26] justincy commented on #8881
Removing `react-docgen-typescript-loader` and adding `babel-plugin-react-docgen` worked for me, as documented here: https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#react-prop-tables-with-typescript

[2020-04-07 19:54] slavarazum commented on #10327
@metanas Thanks for help! I thought `ts-loader` included under the hood.

Also, for non vue-clie presets we should add runtime compiler:

[code]

@shilman Thanks for the link, just have subscribed.

[2020-04-07 20:07] #9871 closed

[2020-04-07 20:55] tooppaaa commented on #10094
The code you changed is now going through babel. Happy to submit a new PR taking yours into account !

[2020-04-07 21:44] sali1982 commented on #10323
No one answers this?

[2020-04-07 23:29] shilman opened #10346 "Remove configurable path separator for 6.0"
In Storybook 5.3 we added simplified hierarchy separators: https://github.com/storybookjs/storybook/pull/8796

In 6.0 we should make that the default, and consider removing the configuration logic across the codebase.

[2020-04-07 23:33] shilman commented on #10323
Chromatic will be launching a service for this soon. https://blog.hichroma.com/chromatic-2-0-beta-3bf9172b6a4

[2020-04-07 23:34] shilman commented on #10143
Thanks! Closing as dupe to #5269

[2020-04-07 23:34] #10143 closed

[2020-04-08 00:13] nemoDreamer commented on #7445
_OMG..._
This error was _only_ happening on CI, and has been taking up most of my time these past 2 days...

My branch was called `issue/SG-16714-fix-core-js-dist-conflicts`, which on CI gets baked into the workspace path...:

[code]

🤦‍♂

[2020-04-08 01:51] cam-shaw commented on #7390
I've run into this issue as well. @stereodenis since you've closed the problem, would you be able to explain what fixed it please?

[2020-04-08 02:24] ldeveber commented on #9514
I am also seeing this issue. I made an app today with `create-react-app`, and added storybook. I like to keep things separate, so I changed the directories to be as follows:

[code]

And changed the appropriate line in `./storybook/main.js` to `stories: ['../stories/**/*.stories.js'],`. This broke everything! Once I reverted this change, everything just worked.

[2020-04-08 04:23] shilman commented on #10141
https://www.npmjs.com/package/storybook-addon-preview

haven't tried, but this is supposed to do that

[2020-04-08 07:28] v-zo commented on #10075
doesn't work. Where error comes from?

[code]

[2020-04-08 07:38] joshuatvernon commented on #5065
Hmm I tried to get this to work but haven't been able to. I'm using Typescript so it may be a bit different.

This is what I've got so far...
[code]

[2020-04-08 08:11] jorisw commented on #7223
I've tried the `config-overrides.js` and `react-rewire` solutions proposed above, and I've tried upgrading to `v6.0.0-alpha.31`. I'm still getting:

[code]

My `package.json`:

[code]

[2020-04-08 08:32] ndelangen commented on #10322
@valerybugakov I don't know anymore what `.replace(/\?:\^/g, '?:')` is supposed to do/fix.

It seems we should just never try to match relative paths to the regex to me.

[2020-04-08 08:39] gaetanmaisse commented on #10094
@tooppaaa you can take a look at https://github.com/storybookjs/storybook/pull/10342, in fact, it was an issue caused by `replace('{{xx}}', aStringWith$$InIt)` 🙃. I made a small refactoring in the last commit, feel free to give your feedback.

[2020-04-08 10:05] ColCh commented on #9221
Look what I found! Looks interesting indeed

Plugin which generates tests for storybook, using webpack.

https://github.com/yandex/storytests-webpack-plugin/blob/master/index.js

example: https://github.com/baushonok/tested-storybook

[2020-04-08 10:05] valerybugakov commented on #10322
@ndelangen can you clarify about relative paths?

As far as I understand the relative prefix is added by Webpack and generated regex is changed respectively because of that. The issue that I'm facing is caused by `.replace(/\?:\^/g, '?:')` replacement.

[2020-04-08 10:28] lucasleelz opened #10347 "Using lerna, babel cannot resolve packages"
**Describe the bug**
[code]

**Code snippets**
[code]

**System:**
` npx -p @storybook/cli@next sb init  -p babel ts tsx --story-format mdx`
**Additional context**
 - `@storybook 6.0.0-alpha.31`

[2020-04-08 11:49] varya opened #10348 "'no code availabe' for Doc tab"
**Describe the bug**
`@storybook/addon-docs` does not snow code snippet for the stories. Shows "No code available".
![image](https://user-images.githubusercontent.com/27215/78780475-54f40900-79a7-11ea-986c-0a3f74947403.png)

**To Reproduce**
Steps to reproduce the behavior:

Storybook setup with the following configuration:

**Badge.stories.js**
[code]

**main.js**
[code]

**webpack.config.babel.j

[2020-04-08 12:06] ndelangen commented on #10322
If the filepath is always ansolute then we can do just this:
https://codesandbox.io/s/storybook-glob-issue-hb3ox

[2020-04-08 12:16] ndelangen commented on #9221
In 6.0.0 the storybook CLI will have a command:
[code]
Which will generate a stories.json

https://github.com/storybookjs/storybook/blob/4a3d16103656a78b9fb377107bb755d2de80a7fb/lib/cli/src/generate.js#L70-L79

[2020-04-08 12:48] yannbf commented on #10348
Hey @varya, thanks for opening this issue! I noticed that in your custom webpack configuration you are not passing all the rules that storybook needs (see the code below). As a result, storybook won't have the necessary loaders to enable showing the code!

Could you try changing the following code in your **webpack.config.babel.js**:
`config.module.rules = [config.module.rules[0], ...extraRules];`

[2020-04-08 12:49] jcampbell05 commented on #10140
Still an issue

[2020-04-08 12:49] ndelangen commented on #7445
oof :(

[2020-04-08 15:40] #9884 closed

[2020-04-08 15:55] clonitza commented on #8794
I tried everything I could on 5.3.18, including the above config for the preset and it still crashes on IE11 due to they way react-syntax-highlighter is imported.
[code]
My webpack config is:
[code]

[2020-04-08 15:59] osdiab commented on #8767
Hmm looks like this didn't fly, but I'm interested in this as well. I haven't thought much about how this would work yet, will comment with ideas as some time frees up

[2020-04-08 16:00] osdiab commented on #9962
I too am interested in this!

[2020-04-08 16:01] osdiab commented on #9962
I would assume that some knobs would be easy to exhaustively step through (finite ones like radios and selects), but some knobs are not so straightforward (unbounded ranges); and that the number of combinations would explode in numbers if you have a lot of knobs, however. Not sure good ways to resolve those

[2020-04-08 16:46] yannbf commented on #10335
Hey @Benwick91, I might be able to help you with that!

1 - In your button, create a type for your variation and export it.
[code]

2 - In your story file, define the type of the option in the select function like: `select<YourType>(....)`
[code]

3 - Make sure you are adding the `withKnobs` decorator, either globally or in the `decorators` property of your default export.

For the Modal issue, if

[2020-04-08 16:51] stereodenis commented on #9962
@osdiab 5 knobs with 5 settings generate 120 combinations

[2020-04-08 17:38] MelMacaluso opened #10350 "Objects are not valid as a React child when not using backticks after .attrs"
I tried to search the docs, asked StackOverflow and searched the issues but I didn't come up with a satisfactory answer (maybe is me doing something silly ahah).

Context:
[code]

I have the following simple `styled-component`:

[code]

Now for some reason unless I append the backticks in the ed such as:

[code]

I will get an error from storybook:

Ideally, I would like to avoid putting random ba

[2020-04-08 17:47] AnnaYuS opened #10351 "TypeError: require(...) is not a function in initStoryshots()"
**Describe the bug**

I'm using storybook/vue and trying to run jest tests and generate snapshots with Storyshots but I'm getting `TypeError: require(...) is not a function` when `initStoryshots()` is called.

[code]
**To Reproduce**
Follow the instructions on using Storyshots with storybook/vue

**Code snippets**
This is the jest config that i'm using:

[code]

**System:**

  System:
    OS: macO

[2020-04-08 18:04] #10323 closed

[2020-04-08 18:04] sali1982 commented on #10323
https://storybook.js.org/docs/basics/exporting-storybook/

[2020-04-08 18:19] bwhitty commented on #7914
To build on https://github.com/storybookjs/storybook/issues/7914#issuecomment-595508641, may I suggest this is a bug (or at least documentation gap?) in the way Emotion is depended upon in Storybook? I don't see any documentation stating that you must install it yourself, but for instance, having the following dependencies
[code]
Yields the following `UNMET PEER DEPENDENCY` error:
[code]

`npm ins

[2020-04-08 18:29] varya commented on #10348
Ah, thank you very much for the suggestion. My mistake!

[2020-04-08 18:29] #10348 closed

[2020-04-08 18:40] yannbf commented on #10350
Hey @MelMacaluso, the backticks are not random, they are template literals used in most styled component functions. [Refer to this docs](https://styled-components.com/docs/basics#attaching-additional-props) for more information. This error is not related to storybook.

[2020-04-08 18:50] MelMacaluso commented on #10350
Hi @yannbf feel free to close the issue, for some reason, I thought I made this in `styled-component`'s repo ahaha. ps: by random I mean the fact they *must* be there, I am well aware of what template literals/interpolations are.

Thanks a lot and sorry for the trouble ahah 🙏

[2020-04-08 18:53] yannbf commented on #10350
No worries! Happy to help!

[2020-04-08 18:53] #10350 closed

[2020-04-08 21:40] #9380 closed

[2020-04-08 22:28] alexreardon opened #10352 "addon: parameters updated before any core events fired"
When changing between stories, the new parameters are sent to a panel just before the `coreEvents.STORY_CHANGED` is fired. No core event is fired before the parameters are updated.This makes it hard to know if the params are changing because of a story change, or for some other reason

[2020-04-08 22:36] breadadams commented on #9610
Following up on @Djiit's suggestion, we've got it working with a similar approach, however without the need for the `React` imports thanks to [`babel-plugin-react-require`](https://www.npmjs.com/package/babel-plugin-react-require) - as suggested in the [Storybook FAQs](https://storybook.js.org/docs/basics/faq/#i-see-referenceerror-react-is-not-defined-when-using-storybooks-with-nextjs).

_However_

[2020-04-09 00:30] osdiab commented on #9962
Huh? It would be 5^5 permutations no? Which is far more than 120

[2020-04-09 00:40] #9892 closed

[2020-04-09 01:58] runarberg opened #10353 "addon-docs <Props> table should show CSS custom properties and parts"
**Is your feature request related to a problem? Please describe.**

I have a `custom-elements.json` with the `cssCustomProperties` and `cssShadowParts` fields but when I add the `<Props />` element to generate the props table in my `mdx` storybook these relevant tables are noticeably missing from the docs tab.

**Describe the solution you'd like**

The generated table has all the other relevant pr

[2020-04-09 04:18] valerybugakov commented on #10322
File-path is not absolute because of Webpack.
Regex is used later in [require-context](https://github.com/storybookjs/storybook/blob/b6136e1539c85d253504391a7d3f65e2c1239143/lib/core/src/server/preview/to-require-context.js#L29) expression. See comment [here](https://github.com/storybookjs/storybook/blob/b6136e1539c85d253504391a7d3f65e2c1239143/lib/core/src/server/preview/to-require-context.js#L11

[2020-04-09 04:30] amilaI commented on #10034
Any update on a fix for this?

[2020-04-09 05:55] softmarshmallow opened #10355 "update readme vue"
in https://github.com/storybookjs/storybook/tree/next/app/vue readme

https://github.com/white-rabbit-japan/vuetify-storyboard-boilerplate
upper link is dead

[2020-04-09 06:12] Benwick91 commented on #10335
@yannbf Thank you so much!!! That is the way to get it worked. Thanks for the good and detailed answer.

[2020-04-09 06:17] Benwick91 commented on #9764
I have the same problem. The extends properties aren't shown in the prop table. But I want to use the `react-docgen-typescript-loader` because I use smart-knobs and for the select knobs I have to use the option `shouldExtractLiteralValuesFromEnum`.

I use CRA. Is there a possibility to get it work that I can see all props. That is needed for the documentation, because other users should see, what

[2020-04-09 06:36] kariasbolster opened #10356 "How to run on non-root url?"
I want to deploy storybook-react on a kubernetes cluster. the load balancer will route traffic from /storybook to the storybook service. So how can I make it run on /storybook instead of root url?

[2020-04-09 07:18] yannbf commented on #10326
Hey @emanuelepane, the reason you're not seeing anything is because you're not exporting any variation of your button.

This worked because there was a named export defined in your story file:
[code]

In your second case, there was none.
[code]

Usually in stories you have multiple variations of a base component, so it's common to see multiple named exports, one for each variation. For example:
[c

[2020-04-09 07:19] yannbf commented on #10335
No worries, happy to help!

[2020-04-09 07:19] #10335 closed

[2020-04-09 07:28] yannbf commented on #10326
Please refer to the docs for more info, but there is a section which states:

[2020-04-09 07:33] ndelangen commented on #10075
confirmed still and issue, investigating..

[2020-04-09 07:40] shilman commented on #6700
@fabiradi finally getting back to this issue. addon-contexts is being replaced by addon-toolbars, which is docs-compatible. please take a look and let me know what you think: https://github.com/storybookjs/storybook/tree/next/addons/toolbars

[2020-04-09 07:44] shilman commented on #7227
General issue #6700

[2020-04-09 09:07] cloud-walker commented on #2833
The new issue link shared by @Gongreg is: https://github.com/storybookjs/react-native/issues/12

[2020-04-09 09:21] ndelangen commented on #10322
So I think that's the main issue, where the regex created from `micromatch` only matches absolute filepaths, and we're trying to make it match relative paths.
And that regex conversion is buggy.

@valerybugakov Do you have a fix? A PR would be immensely welcome!

[2020-04-09 09:24] lucasleelz commented on #9514
I am also seeing this issue when I use `storybook-addon-intl ` to load internationalized resources
## project
[code]
## preview.js
[code]
## version
- "@storybook/addon-actions": "6.0.0-alpha.31"
- "storybook-addon-intl ": "2.4.1"
-  "react-intl": "^4.1.1",
- "intl": "^1.2.5",

[2020-04-09 09:28] ndelangen commented on #7914
@bwhitty looks to me like you likely have a lockfile that is forcing multiple version of emotion.

Storybook packages that use emotion depend on it. We do not have peerDependencies on emotion:
https://github.com/storybookjs/storybook/blob/ff99e99f39e58efdad406aa6689cd5ed5175ba37/lib/theming/package.json#L31-L32
https://github.com/storybookjs/storybook/blob/ff99e99f39e58efdad406aa6689cd5ed5175ba37/

[2020-04-09 09:33] ndelangen commented on #9534
This is already possible:

https://github.com/storybookjs/storybook/blob/2046e904e5c78491929d111915dceccc94283dc6/addons/actions/src/preview/action.ts#L13-L32

https://github.com/storybookjs/storybook/blob/341fc2d90d4f3ae42fd9b68173b9f7b1856917f0/lib/channels/src/index.ts#L71-L79

https://github.com/storybookjs/storybook/blob/7e18c2e41f018e95e9ff99b87cd6f4333049c726/lib/channel-postmessage/src/ind

[2020-04-09 09:39] yannbf commented on #10355
Great catch! Thanks for letting us know!

The repo has been renamed and here is the new link:
https://github.com/white-rabbit-japan/vue-vuetify-storybook

[2020-04-09 09:55] emanuelepane commented on #10326
Hey @yannbf,

Now I get it :) Thank you so much for taking the time to write this super clear explanation!

[2020-04-09 09:55] #10326 closed

[2020-04-09 09:57] marcianosr opened #10360 "Typeset colors"
Hi!

I'm using the <Typeset> component in storydocs. I have different sets of text in different colors which I want to add colors (defined in css styles) on aswell. I was wondering if there was a way to add colors to the typesets?

[2020-04-09 10:17] valerybugakov commented on #10322
@ndelangen yep, the fix is to remove the second replacement. But I don't understand the purpose of this part of the conversion, so it's not save until we know why it was added. Maybe @Hypnosphi can shed some light on it as the author of [this line](https://github.com/storybookjs/storybook/blob/b6136e1539c85d253504391a7d3f65e2c1239143/lib/core/src/server/preview/to-require-context.js#L13)?

[2020-04-09 10:29] ndelangen commented on #10322
I think @Hypnosphi just moved the code.

[2020-04-09 10:46] valerybugakov commented on #10322
Seems like it was changed by @Hypnosphi from the other replacement [here](https://github.com/storybookjs/storybook/commit/54a1c0c5f6e6cb9ca078c884c45447b95fada29f#diff-b2967ea5bba766646d93fe3653239d67L35).

[2020-04-09 10:59] tmeasday opened #10361 "Normalize parameter storage"
Change the way we store + publish parameters at least on the preview side to be normalized -- ie. don't spread global+component parameters until we fetch a story.

[2020-04-09 12:28] ndelangen commented on #10324
@kroeder any ideas what might be causing this?

[2020-04-09 12:31] ndelangen commented on #10322
@valerybugakov let's remove the extra replacement, add some tests, and see how that affect things.

[2020-04-09 12:49] YuunYang opened #10362 "Possibility to only show doc tab"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/15278220/78896695-72a69880-7aa3-11ea-8289-e07aab3c66e5.png)
Remove the `canvas` tab

**Describe alternatives you've considered**
Set default tab to `doc`

**Are you able to assist bring the feature to reality?**
maybe

**Additional context**

[2020-04-09 13:45] ziodave commented on #4038
Using _@storybook/preset-create-react-app_ and without custom a _webpack.config.js_ file, following [Custom Webpack Config](https://storybook.js.org/docs/configurations/custom-webpack-config/), this is how I changed `.storybook/main.js` to have postcss use the postcss.config.js file:

[code]

[2020-04-09 13:52] 0x0006e opened #10363 "waring: @storybook/source-loader was applied to a file which does not contain a story"
**Describe the bug**
waring: @storybook/source-loader was applied to a file which does not contain a story. Please check your webpack configuration and make sure to apply @storybook/source-loader only to files containg stories. Related file:"

**To Reproduce**
Steps to reproduce the behavior:
1. run is [repo](https://github.com/0x0006e/StoryBook/tree/bug/10363)

**Expected behavior**
no waring

**

[2020-04-09 14:14] ajkl2533 commented on #10362
I believe you can run storybook with `--docs` flag to achieve that, like:
[code]

[2020-04-09 14:16] ajkl2533 opened #10364 "[storyshots] Is there any coverage report for storyshots?"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
I wonder if there is any way how to generate a coverage report from Storyshots addon. We are using it partly instead of unit test for components in React and we want to include it in overall coverage.

[2020-04-09 14:46] twittwer opened #10365 "Knobs are not working with Angular's Async Pipe"
**Describe the bug**

When knobs are used in combination with an async pipe the value does not get updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout this Repo: https://github.com/twittwer/repro-storybook-async
2. `npm i` & `npm run storybook`
3. Initially plain & async messages are updated correctly
4. Change the message via knob
5. Now the async message is not updated anymor

[2020-04-09 14:50] B3Kay commented on #5684
I got this problem to with typescript project.

[2020-04-09 15:23] 0x0006e commented on #9662
😔

[2020-04-09 16:22] tylersticka commented on #729
As far as I can tell, [the workaround](https://github.com/storybookjs/storybook/issues/729#issuecomment-572858966) still results in stylesheets stacking after initial view, at least if you're using the Docs add-on. 😕

[2020-04-09 16:30] skattabrain commented on #10239
I'm seeing this as well using a global decorator using Vue. Also not seeing the variable updated after an option is selected, I have to view a different story to see the change.

[2020-04-09 16:39] benedfit opened #10366 "Can toolbar addons appear on DocsPage Previews?"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to use toolbar addons, such as `@storybook/addon-backgrounds`, in conjunction with DocsPage as per the image shown here: https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/media/hero.png

`<Preview withToolbar>` currently only renders the default buttons for zooming and opening in a new window.

[2020-04-09 16:44] RaviDesai opened #10367 "MDX compilation error: Adjacent JSX elements must be wrapped"
**Describe the bug**
Trying to compile any component.stories.mdx file in 5.3.18 fails with the following error in build-storybook:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Update my build environment as specified here: https://github.com/storybookjs/storybook/blob/next/addons/docs/README.md#installation
1. Add a very simple MDX story to one of my components
2. run `./node_modu

[2020-04-09 16:46] benedfit commented on #10366
Looks like this is related to https://github.com/storybookjs/storybook/issues/6700. I assume there will be some refactoring required before it all works together?

[2020-04-09 16:47] mikestopcontinues opened #10368 ""No stories" in monorepo - source-map-support issue?"
**Describe the bug**

I'm trying to get storybook working in my monorepo. I read the most recent tutorials on the matter and ended up using `require.context` to collect the right files.

I get this error in storybook: `Sorry, but you either have no stories or none are selected somehow.`

And I see this warning in the console for both webpack instances:
[code]

I updated `main.js` to compensate, bu

[2020-04-09 17:10] ConnorDY opened #10369 "TypeError: Cannot read property 'baseUrl' of undefined"
**Describe the bug**

I used `npx -p @storybook/cli sb init` to add Storybook to my Angular component library monorepo (using Lerna).

Upon running, `npm run storybook`, I get the following output:

[code]

My `tsconfig.json` files are as follows.

`projects/core/tsconfig.lib.json`:
[code]

`tsconfig.lib.json`:
[code]

`tsconfig.json`:
[code]

**To Reproduce**
Described above.

**Expected behavior

[2020-04-09 17:58] yannbf commented on #10362
Hey @YuunYang, @ajkl2533 is correct. If you run `yarn storybook --docs` you will get something like the following:
![image](https://user-images.githubusercontent.com/1671563/78925730-39b6f580-7a9c-11ea-982d-84b55e12e00d.png)

If you don't mind I'll be closing the issue. Thanks @ajkl2533!

[2020-04-09 17:58] #10362 closed

[2020-04-09 19:43] mustran opened #10371 "Ability to exclude some chained prop types"
**Is your feature request related to a problem? Please describe.**
I am trying to generate docs for a library and suddenly I got into a problem where I can't exclude some inherited types (props) from TypeScript.

TypeScript types:
[code]
Button Component:
[code]

**Describe the solution you'd like**
I want to be able to remove the props from `HTMLButtonElement` so it shows only the `ContentProps`

[2020-04-09 19:55] Alphy11 opened #10372 "Knob changes clear actions log"
**Describe the bug**
When changing a knob, the action log gets cleared because it is a "new story" to the action log.  Changing a knob should not clear the log.

**To Reproduce**
[code]

press the button a couple times to generate some action logs, then change the knob, the action log will be cleared.  Adding `clearOnStoryChange: false` lets them persist.  But then they will persist on new stories

[2020-04-09 22:40] ton03 commented on #10306
Hi @shilman thanks for that but I don't think the default `storySort` function works well with hierarchy and custom separators. Should it also consider `hierarchySeparator` and `hierarchyRootSeparator`?

https://github.com/storybookjs/storybook/blob/next/lib/client-api/src/storySort.ts#L18

But here's my solution
[code]

[2020-04-10 02:50] shilman opened #10374 "Core: Convert parameter enhancers to ArgTypes enhancers"
## Why

1. Parameter enhancers are a slippery slope. Let's expose ArgTypes enhancers for now and generalize later if needed.

2. For performance reasons, we want to process _normalized_ parameters instead of _denormalized_ ones.

## What

Loop over all _component_ and _story_ parameters and run the following function signature:

[code]

[2020-04-10 03:12] #8951 closed

[2020-04-10 03:12] #9602 closed

[2020-04-10 03:12] #9672 closed

[2020-04-10 05:43] jkarttunen commented on #3730
Stupid problems call for stupid solutions.
I renamed all to folders and prepended them with category number.

1_button
1_Input
2_grid
2_stack
3_hero
3_section

[2020-04-10 08:28] giorgiogalassi commented on #10170
Hi,

Is this issue fixed?
If yes, how i'm supposed to integrate?

I have a library of ui-components, all written in Stencil.JS, using css-variables.

Regards.

[2020-04-10 10:28] pranshuchittora opened #10376 "Err: React Native storybook symbolic dependency"
I am using React Native Storybook and to test a custom component library. I know that the metro server doesn't support symlinking. Hence I copied the packages in the app's node_modules manually (via script).

Then I wrote a story for that component. The default demo stories are working perfectly but when I click on my custom story it cashes.

![Screenshot from 2020-04-10 15-52-29](https://user-ima

[2020-04-10 10:51] alex198710 opened #10378 "Addon-storyshot with create-react-app and Stories2SnapsConverter, context.fileName is null"
**Describe the bug**
Hello, I tried for weeks now but I cannot make the addon-storyshots work with create-react-app and the Stories2SnapsConverter. I got the following error:

[code]
With create-react-app, I had to put this jest config inside my package.json like this:

[code]
But I got the same error. Any idea ?

Here is my shoryshot file: (copied from https://github.com/storybookjs/storybook/tre

[2020-04-10 12:31] connor-baer commented on #10231
Woohoo! It's great to see this being worked on. We face the same issue at [sumup-oss/circuit-ui](https://github.com/sumup-oss/circuit-ui) — if there's anything that I can do to help here, please let me know.

[2020-04-10 14:01] thany opened #10379 "Custom icon in the tree"
**Is your feature request related to a problem? Please describe.**
I'm making a MDX docs-only story that will act as the homepage of our Storybook instance, and it would be nice to give that item a homepage-worthy icon in the tree.

**Describe the solution you'd like**
Perhaps in the `<Meta>` MDX element, add a prop that accepts an SVG path and a colour, that will be passed on to the tree.

**Desc

[2020-04-10 16:17] sioanis commented on #5965
Not sure why, but this still seems to exist for `"@storybook/vue": "^5.3.14"`, `"@storybook/addon-viewport": "^5.3.14"`.

<img width="1472" alt="Screen Shot 2020-04-10 at 12 17 17 PM" src="https://user-images.githubusercontent.com/3586765/79005616-45023380-7b25-11ea-8ee4-c5a8d9eb136e.png">

[2020-04-10 16:29] connor-baer commented on #5965
@sioanis The PR to update the styling was merged into the v6 branch (https://github.com/storybookjs/storybook/pull/8486)

[2020-04-10 17:30] memark commented on #4844
I get an equally large bunch of warnings on React/CRA.

![image](https://user-images.githubusercontent.com/318504/79010162-afd16000-7b61-11ea-8243-94a87a87c0bd.png)

@codeNoobie Are you still working on this? :)

[2020-04-10 18:56] fabian-hiller commented on #10231
Thanks for your message @connor-baer.

Could you find a solution? Where can I find the code for it in your repository?

[2020-04-10 19:11] karthiks commented on #5866
I see this issue in current version of Storybook for React as well ("@storybook/react": "^5.3.18",).

@miguelyoobic95's hack works decently enough!!..

P.S: This issue is reproducible in this reference project: https://github.com/karthiks/build-a-burger

[2020-04-10 19:46] sioanis commented on #5965
Ah, I see. Thank you, @connor-baer.