[2019-07-22 07:39] danielddb commented on #7457
@Drag13 What does your tsconfig.json look like? I had exactly the same issue since upgrading to Angular 8 and added `emitDecoratorMetadata: true` and this fixed the issue.

[2019-07-22 07:56] mrmckeb commented on #6161
@jacobgranberry That's correct, and it should never be a `devDependency`. It was a design decision by Joe and Dan early on in the CRA project.

[2019-07-22 07:59] mrmckeb commented on #6690
The CRA config doesn't support ejection right now, you'd need to write your own config in that case - as we no longer have a reliable source.

[2019-07-22 08:00] mrmckeb commented on #6690
Let me know if you need a hand with that, in the meantime I'll close this off as it's expected behaviour.

Also, consider forking `react-scripts` over ejection.

[2019-07-22 08:00] #6690 closed

[2019-07-22 08:02] mrmckeb commented on #6505
Hi all, you need to have `react-scripts` in `dependencies`, not `devDependencies`. This is how it installs by default.

If you're seeing versioning issues, try removing your `node_modules` and lock file, and reinstalling. This should resolve most issues.

[2019-07-22 08:04] mrmckeb commented on #7462
Right now there are problems with `react-scripts` and monorepos in general. We need to resolve that on the CRA-side, and then update the implementation here to match.

You said you were having issues with the `webpack.config.json` route, perhaps I can help there? Can you share an example repo maybe?

[2019-07-22 08:05] padevone commented on #7474
@shilman, i try use addon cssresource, but i have one problem.
I build stylesheet with storybook's webpack. I add my style sources in entry for webpack's config, but storybook includes all entries.
Can i exclude some webpack's entries for storybook?

[2019-07-22 09:16] shilman commented on #7221
Hey @mrmckeb I think this would be a milestone towards getting presets adopted. We're in the thick of the 5.2 release, so we probably wouldn't get it in until 5.3, but if you wanted to take a stab at it, it would be much appreciated!! 🙇

[2019-07-22 10:37] miguelyoobic95 commented on #5866
Hey @ndelangen sorry for the slow reply, we had some other stuff coming up. If you could give me some pointers to the config that would be great :)

[2019-07-22 10:44] SilencerWeb opened #7520 "Error on rendering story (probably related to babel)"
**Describe the bug**
I have a website on [gatsby](https://github.com/gatsbyjs/gatsby). One of the components contains such code:
[code]

And because of this code, I get this error:

![image](https://user-images.githubusercontent.com/20713191/61626023-90be3580-ac95-11e9-9bca-e891bd40d304.png)

<details>
<summary>Error as text</summary>
<br>
<pre>
ERROR in ./node_modules/gatsby/cache-dir/gatsby-brow

[2019-07-22 10:54] soundstep opened #7521 "Set focus on iframe for keyboard usage"
**Is your feature request related to a problem? Please describe.**
Working on components that use keyboard rather than mouse, I need to click on the iframe to retrieve key events before using the keyboard. I'd like this to be automatic so I don't have to click on the iframe every time.

**Describe the solution you'd like**
I'd like to set the focus myself on the iframe, or tell storybook to do so.

[2019-07-22 11:21] shilman opened #7522 "Module / MDX format: Make `component` a top-level construct"
Currently, users specify components using parameters. Let's make it a first class feature since components are central to Storybook.

## Before

Module:

[code]

MDX:

[code]

## After

Module:

[code]

MDX:

[code]

**NOTE:** The `component` will still appear as a parameter. But it may be expected at the top-level by some tools in the future.

## To-do

- [ ] Update loader
- [ ] Update MDX compil

[2019-07-22 11:46] ndelangen commented on #7522
makes sense

[2019-07-22 12:57] ndelangen commented on #7488
@w2kzzz The scrollbar in the iframe should behave as configured on your OS/browser.

AFAIK we're not doing any styling of removal of the scrollbar there.

Whether the scrollbar is visible is configurable on MacOS.

[2019-07-22 12:58] ndelangen commented on #5866
Sure, join me on discord here:
https://discord.gg/sMFvFsG

And I'll talk you through what I've got so far.

[2019-07-22 12:58] SilencerWeb commented on #7520
Solved via: https://www.gatsbyjs.org/docs/visual-testing-with-storybook/ and https://github.com/Mathspy/gatsby-storybook-jest-starter/issues/7

[2019-07-22 12:58] #7520 closed

[2019-07-22 13:03] w2kzzz commented on #7488
@ndelangen thanks for the response i think i made it work by changing the overflow inside my css, thanks a lot for the follow up.

[2019-07-22 13:03] #7488 closed

[2019-07-22 13:09] ndelangen commented on #7474
@padevone I'm working on making this easier.

Right now you can customize the storybook webpack config so you override the `files` templateParameters.

This is what we do in storybook:
https://github.com/storybookjs/storybook/blob/next/lib/core/src/server/preview/iframe-webpack.config.js#L47-L62

You'll want to filter the `files.css` so they do not contain the specific css files you don't want.

[2019-07-22 13:10] RaghulXander opened #7523 "Query: Storybook api to open particular canvas alone in new tab"
By clicking Story name on side panel how can we open the particular canvas of a story in a new tab.
We have a button called `open canvas in new tab` but how can we automate it ??
Do we lack that feature through Api ?

[2019-07-22 13:21] padevone commented on #7474
Thanks, @ndelangen. I will try it. I saw enough solutions.

[2019-07-22 13:21] #7474 closed

[2019-07-22 13:28] bashmish commented on #6208
`@storybook/lit-html` is a more accurate name for what it does.

[2019-07-22 13:30] orangeloops commented on #7407
@norbert @shilman hi, how are you ?

did you have any chance to review this issue ? I can't migrate from 5.1.1 to any new version because of this issue.

@Badlapje mention that this issue also can be reproduced using "Learn Storybook" repo.

Thanks,
Daniel.

[2019-07-22 13:30] ndelangen commented on #3346
@busticated sounds like you might have a reproduction repo you could share i could take a look at?

[2019-07-22 14:21] ndelangen commented on #7407
Thanks for the report:
https://github.com/orangeloops/public-ol-web-template/pull/17

Seems like `core-js` packages REALLY don't want to be transpiled by babel for some reason.

Make sure core-js is ignored if you're passing `node_modules` though babel (which isn't recommended for performance reason really.

[2019-07-22 14:53] earGO commented on #4890
this

This one helped with local storybooks while importing components from other packages. Thank you!!

[2019-07-22 15:21] city41 commented on #7493
I am going to dig into this today and see if I can contribute anything helpful.

[2019-07-22 16:18] city41 commented on #7493
From what I can tell, this issue was introduced in `5.2.0-alpha.37`. When I use `5.2.0-alpha.36` or any previous alphas, the stories never disappear. From `5.20-alpha.37` on up to the most recent beta, stories disappear after an HMR load.

I didn't try every single release :) I binary searched to find 37.

I'll keep digging into 37's changes and see if I can find a culprit.

[2019-07-22 16:32] YoussefTaghlabi commented on #7219
I'm still getting the same error in 5.1.9

[2019-07-22 16:35] busticated commented on #3346
@ndelangen thanks for taking a look :pray: my repo is not public atm unfortunately. i tried to share the relevant details above but in the meantime i can try to build up a working example if that'd be helpful. might take a bit though. otherwise, happy to try suggestions, etc.

[2019-07-22 17:00] orangeloops commented on #7407
@ndelangen

Babel error was fixed 👍 , thank you!

BUT now I have "Rendered more hooks than during the previous render." with exactly the same basic story from 5.1.1

I did the merge on https://github.com/orangeloops/public-ol-web-template/tree/storybook_5_2_0

[2019-07-22 17:09] shilman commented on #7493
It's probably related to this change: https://github.com/storybookjs/storybook/pull/7319

I also just made a related change in this recent PR that hasn't been released yet: https://github.com/storybookjs/storybook/pull/7518

[2019-07-22 17:13] city41 commented on #7493
I tried rolling back that change and still saw the issue, but I'm not 100% certain on that.

Just now I copied alpha.36's client-api/dist into alpha.37's and the problem went away, so does feel like the problem is somewhere in there (client-api is primarily what changed from 36->37)

[2019-07-22 17:26] city41 commented on #7493
I take that back. It does feel like that change might be the culprit @shilman . Here is what I did

1. install all storybook packages at `alpha.37`
2. start my storybook, confirm the bug happens
3. cp `story_store.js` from `@storybook/client-api@5.2.0-alpha.36/dist` into 37
4. restart storybook, bug no longer repros

[2019-07-22 17:50] gptt916 opened #7525 "Unable to connect to redux extension tools"
**Describe the bug**
I have several components that use the redux store, functionally they work as intended. However I am unable to connect to the redux devtools extension (https://github.com/zalmoxisus/redux-devtools-extension) when using both basic (window.__REDUX) and advanced (npm package) setups for the extension in my store configuration.

https://github.com/storybookjs/storybook/search?q=re

[2019-07-22 17:55] shilman commented on #7493
@city41 I'm releasing `5.2.0-beta.6` right now with the changes I linked to above. I suspect what's going on is that you are calling `load` multiple times (per the documentation!) and the different calls are interfering with one another. In the new version there are facilities for achieving everything in a single call, and this is now the recommended way to use `load`. The new release contains upd

[2019-07-22 17:57] city41 commented on #7493
Do you mean `load` from `@storybook/react`?

Here is my config.js

[code]

As far as I know, I am only calling load once.

I will try beta.6 once it's out. Thanks for looking into this!

[2019-07-22 18:04] shilman commented on #7493
Hmm, ok there goes that theory then! 🤷‍♂

`alpha.37` fixed a bug relating to deleting stories, so for sure these codepaths are relevant to what's going on.

`beta.6` also changes that code significantly. So it might fix the problem or might even make it worse! This HMR stuff is tricky and pretty hard to test.

Thanks so much for hunting down the breaking change and also for being so patient on thi

[2019-07-22 18:22] shilman commented on #7167
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.6 containing PR #7400 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-07-22 18:22] shilman commented on #7348
Yippee!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.6 containing PR #7515 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-07-22 18:22] shilman commented on #7512
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.6 containing PR #7518 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-22 18:22] shilman commented on #7522
w00t!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.6 containing PR #7524 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-22 18:22] #7512 closed

[2019-07-22 18:22] #7522 closed

[2019-07-22 18:25] shilman commented on #7493
The eagle has landed:

https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.6

[2019-07-22 19:02] barclayd commented on #7516
Many thanks for the guidance @shilman

Issue was resolved using the excellent [paths.macro](https://github.com/storybookjs/paths.macro) like so:
[code]
[code]

[2019-07-22 19:02] #7516 closed

[2019-07-22 19:27] pascaliske commented on #7106
It would be awesome if we can keep this open. I just provided a PR (#7224) to fix this error hopefully we can merge it. 😊

[2019-07-22 20:00] city41 commented on #7493
The bug still repros for me with beta.6

[2019-07-22 20:04] city41 commented on #7493
Although interestingly, with beta6 it doesn't always repro. Sometimes I make a change and it succeeds to reload the stories. In alpha 37 on up, as far as I know, the bug always repros after a change.

[2019-07-22 20:28] jckw commented on #1946
Storybook has since changed their Webpack config customisation API. This should do effectively the same thing:

[code]

[2019-07-22 21:05] ralberts commented on #4993
@Brianzchen I ended up adding the following which seemed to work (not sure if it's the right thing to do or not but it seems to work):
`<script> setTimeout(function() { document.title = 'Component Library'}, 1000); </script>`

[2019-07-22 21:06] hipstersmoothie commented on #6609
@igor-dv anything i can do to get this going?

edit: someone has to hold the stale bot off ;)

[2019-07-22 21:37] betoharres commented on #6674
If you see this error at the end of the log:

`adb: error: cannot bind listener: Operation not permitted`

It's because adb is requesting root access, so you'll need to to run these two commands:
[code]
Try to to add the storybook port at the build command, like so:

`react-native run-android --port=7007`

make sure this error did not appeared:

`adb: error: cannot bind listener: Operation not per

[2019-07-22 21:41] hammadj opened #7526 "Cannot read property 'name' of undefined"
**Describe the bug**
When running the on device storybook on react native, as soon as I select one of my stories, I get an error: `TypeError: Cannot read property 'name' of undefined`.

**To Reproduce**
1. Go to on device story book
2. Open "Navigator" tab
3. Click on a story

**Expected behavior**
Story should render as usual without errors

**Screenshots**
[video here](https://media.giphy.com/me

[2019-07-22 21:59] hipstersmoothie commented on #6609
Interim solution: I just used this webpack plugin https://www.npmjs.com/package/webpack-filter-warnings-plugin

[2019-07-22 22:47] shilman commented on #7493
@city41 Rats. I'll dig in on this and see if I can get a repro today.

[2019-07-22 22:50] city41 commented on #7493
I will debug a bit more tomorrow as well. I'll also see if I can get a repro, I suspect at the very worst I could replace all my real code with dummy code but keep the story structure, and stick that on github somewhere :crossed_fingers:

[2019-07-23 00:42] 8beeeaaat commented on #7167
@shilman
Thanks!!🙌

[2019-07-23 01:04] chungskie commented on #4479
If you're having trouble with [require-context.macro](https://www.npmjs.com/package/require-context.macro), here's a workaround that worked for me.

Install `babel-plugin-macros`:
[code]

And add this to a `.babelrc` in your project root or `.storybook` directory:
[code]

[2019-07-23 04:18] shilman opened #7528 "Addon-docs: Support function `<Story>` blocks"
Currently `<Story>` blocks can either contain strings, JSX, or objects. But they should also be able to contain functions, e.g.:

[code]

[2019-07-23 06:46] kylemh commented on #4479
I was watching this issue, but not the damned repo I made... I'll go spruce up that require-context.macro!

[2019-07-23 07:48] wintercounter commented on #1637
Why is this closed?

[2019-07-23 08:12] shilman commented on #1637
@wintercounter are you still seeing this? If so, what version?

[2019-07-23 08:13] ndelangen commented on #7407
@Hypnosphi 2 months ago you added the error; and migrated addon-knobs to use the new hooks api.

What do you think might cause this behaviour?
https://github.com/orangeloops/public-ol-web-template/pull/17#issuecomment-513864171

<img width="1171" alt="Screenshot 2019-07-23 at 10 09 31" src="https://user-images.githubusercontent.com/3070389/61694773-78e8bf00-ad32-11e9-9177-0de6135d49a5.png">

[2019-07-23 08:15] EdenTurgeman opened #7530 "@storybook/addon-storyshots Add a way to disable animations."
When testing the storybook, some of our pages contain loading bars and Circular progress components.
These cannot be tested because even with a delay, results are inconsistent because of many variables, puppeteer seems to allow disabling all animations but I haven't found anyone using this addon that managed to pull it off. Please add a way to disable animations as it is essential to visual testin

[2019-07-23 08:35] wintercounter commented on #1637
Latest. I'm having a custom ApolloProvider as:
[code]

[2019-07-23 09:25] shilman commented on #1637
@wintercounter `5.1.9`? Just verifying since I've been touching that code in `5.2.0-beta.x` and want to make sure it wasn't those changes that caused a regression. Thanks.

[2019-07-23 09:32] RWOverdijk opened #7532 "React Native, ondevice-knobs select fails without default"
**Describe the bug**

When using ondevice-knobs: select() but neglecting to provide a default the app throws:

Upon investigation I found and fixed the issue.

**Code snippets**
If applicable, add code samples to help explain your problem.

**System:**
 - OS: iOS/Android
 - Device: Mobile
 - Framework: React Native
 - Version: master (@5.2.0-beta.6)

[2019-07-23 09:36] ndelangen commented on #6915
This is indicative of a bug:

Global decorators and parameters must currently be set BEFORE the configure call.

[2019-07-23 09:49] ndelangen commented on #7483
We're currently not exposing viewport change events on the channel.

We did a month ago 😄

We could add these events back unto the channel, so you could use listen for them in a custom decorator and change the body styles based on the viewport.

Would you be interested in contributing?
This would be the place where an `api.emit()` would need to be added:
https://github.com/storybookjs/storybook/bl

[2019-07-23 09:51] #6883 closed

[2019-07-23 09:51] wintercounter commented on #1637
Yes, it `5.1.9`.

[2019-07-23 10:06] shilman commented on #7499
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.7 containing PR #7500 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-23 10:06] shilman commented on #7528
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.7 containing PR #7529 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-23 10:06] shilman commented on #7532
Crikey!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.7 containing PR #7533 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-23 10:06] #7499 closed

[2019-07-23 10:06] #7528 closed

[2019-07-23 10:06] #7532 closed

[2019-07-23 10:22] ndelangen commented on #7445
Strange, i think it might be because they use babel-polyfill, which libraries really shouldn't.

I'm hoping we can fix this on their end.

Thanks for the repro, I'll take a look if nothing comes out of the fetch-mock.

Looking at the error, that module has been completely removed from core-js (my guess is all platforms now support that api and no polyfill is required anymore).

Really confirms to

[2019-07-23 11:06] Hypnosphi commented on #7407
Will take a look

[2019-07-23 11:07] ndelangen commented on #7523
I'm not sure what you mean by automating it? The URL is created from state here:
Addons have access to this state.

https://github.com/storybookjs/storybook/blob/next/lib/ui/src/components/preview/preview.js#L146-L147

[2019-07-23 11:12] SQReder commented on #7005
bump

[2019-07-23 11:12] ndelangen commented on #7407
Thanks for taking a look!

I looked at the @orangeloops code for how they create stories, but it a bit more complex then I could digest at a glance. I'm unsure if they use conditional knobs, but it could also be something async they do that causes this.

[2019-07-23 11:16] ndelangen commented on #6609
@hipstersmoothie the bot will not act on any issue or PR that's a labelled with `todo` or `in progress` FYI

[2019-07-23 11:19] ndelangen commented on #6609
@hipstersmoothie That sounds like a fine permanent solution to the problem, don't you agree?

[2019-07-23 11:28] ndelangen commented on #3346
@busticated I'd be happy to take a look at a monorepo-repro-repo 🙈

It's likely that:
- some files are parsed through babel twice
- some files are parsed though loaders that aren't compatible with each other
- some files are compiled using the wrong babel config
- some other monorepo shenanigans

Unfortunately `ReferenceError: exports is not defined` doesn't tell us anything other then, something

[2019-07-23 11:30] ndelangen commented on #7219
I'll take a look.

[2019-07-23 11:51] Haroenv commented on #6998
IIRC the css to change is here: https://github.com/storybookjs/storybook/blob/81e399648ba65006130768bac6890517ca5b3091/lib/components/src/tabs/tabs.tsx#L76

[2019-07-23 12:01] lonyele commented on #7219
@ndelangen Ironically, I couldn't reproduce this issue when this one came up. But somehow I could reproduce now. It looks like I could fix this one maybe. Can I take it? I'll make a PR in a few hours(I need to go home first haha)

[2019-07-23 12:03] ndelangen commented on #7219
It's yours! 🤝

[2019-07-23 12:03] shilman commented on #7493
Here are some thoughts:

1. Verify that there are no errors in the browser dev console. Sometimes an error midway through load can cause stories not to load. I doubt this is the problem since you didn't have a problem in older versions of Storybook, but it never hurts to check.
2. If you set logging level to `verbose` in the browser console, you can see multiple calls to `setStories` that might gi

[2019-07-23 12:05] shilman commented on #7219
@ndelangen what do you mean?

[2019-07-23 12:09] ndelangen commented on #7495
Use the `--debug-webpack` flag when starting storybook to view the full config storybook creates.

Then compare that with what your app is using. You're likely missing the `babel-plugin-import` thing.

[2019-07-23 12:11] #7495 closed

[2019-07-23 12:44] ndelangen commented on #7113
When I'm installing `core-js` v3.1.4, within the file: `node_modules/core-js/internals/array-for-each.js` I get:

[code]

no references to `../internals/array-methods`..

Does anyone have a reproduction repo I can checkout?When I'm installing `core-js` v3.1.4, within the file: `node_modules/core-js/internals/array-for-each.js` I get:

[code]

no references to `../internals/array-methods`..

Does a

[2019-07-23 12:45] ndelangen commented on #7219
My question was:
Is what's on master, equal to what's on npm, right now?

[2019-07-23 12:54] szyszkin commented on #7326
I have exactly same problem. My component has two dependencies ` constructor(
        private elementRef: ElementRef,
        private renderer: Renderer2
    ) {`
And I'm gettin:
`Unhandled Promise rejection: Can't resolve all parameters for MenuItemComponent: (?).`
Any help/solution?

[2019-07-23 13:08] ndelangen commented on #7092
@shilman I think we fixed this in the source-loader, right?

[2019-07-23 13:08] #7092 closed

[2019-07-23 13:22] ndelangen commented on #7421
Here's the official documentation:
https://storybook.js.org/docs/configurations/custom-webpack-config/#full-control-mode

[2019-07-23 13:22] #7421 closed

[2019-07-23 13:29] ndelangen commented on #6204
@JamyGolden & @Exomnius could you please share more about your setup?

the output of `yarn why core-js` is helpful, a reproduction repo is even more useful.

[2019-07-23 14:03] michalsnik commented on #4844
Is it safe now to remove these peer dependencies?

[2019-07-23 14:33] Drag13 commented on #7457
@danielddb Many thanks for the answer. With ```emitDecoratorMetadata: true``` flag it starts working as expected.

Thank you so much.

[2019-07-23 14:46] danielddb commented on #7326
@nnaynnay Are you using Angular 8? This may solve your issue https://github.com/storybookjs/storybook/issues/7457#issuecomment-514236598

[2019-07-23 15:22] nnaynnay commented on #7326
@danielddb Thanks much!
It works after update tsconfig.json `emitDecoratorMetadata: true`

[2019-07-23 15:23] #7326 closed

[2019-07-23 15:41] hipstersmoothie commented on #6609
I'd more expect the webpack stats object to work to some degree, but this is ok too. idk where it should be documented though.

[2019-07-23 16:22] jaredh159 commented on #6201
I would also like the default to be not to open the browser, and fwiw my first guess was that I could add `BROWSER=none` like cra -- so it might be worth adopting that method for consistency.  I might not be the only one who would guess that before looking at docs.

[2019-07-23 17:49] city41 commented on #7493
I'll give your debug tips a try this afternoon. In the mean time, I did create a pretty small repro:

https://github.com/city41/storybookRepro

I took my actual project and stripped out most everything. There's a lot of cruft in the package.jsons for example. But for the most part just a few stories and a few dummy components feeding them.

With this repo I can reproduce the bug.

[2019-07-23 18:16] busticated commented on #3346
@ndelangen ok, here's the repro repo 😂

https://github.com/busticated/storybook-monorepo-repo

you should be able to simply:
1. `git clone`
2. `npm i && npm start`

...and see storybook attempt to load in the browser. open dev tools' console and you'll see the `exports` error.

couple of notes:
* run `npm run build` to test the prepublish build
* it should work across node / npm versions +/- some

[2019-07-23 18:52] robaxelsen commented on #1369
For me it still didn't work after clearing storage, not until I toggled "Change addons orientation" on and off in the sidebar menu:
![Screenshot at 2019-07-23 20-51-45](https://user-images.githubusercontent.com/13132899/61738960-bfb6d300-ad8b-11e9-8492-04deb98bd13f.png)

[2019-07-23 19:58] jaredh159 opened #7540 "Can't get emotion's css prop working inside storybook"
**Describe the bug**
I can't seem to get [emotion's](https://emotion.sh) [`css` prop](https://emotion.sh/docs/css-prop) to work inside of Storybook.  Seems like emotion is now the dominant css-in-js library, and the `css` prop is emotion's recommended primary way of styling components, so I thought I was choosing a well-travelled happy path here, but I'm stuck.  I'm very open to the fact that I'm

[2019-07-23 20:53] benjamingeorge commented on #7267
I followed the google doc for getting addon-docs setup.  I'm using version 5.2.0-beta.7 for all required packages (this is a new project).  The story source doesn't seem to work with typescript.

presets.js
[code]

webpack.config.js
[code]

The props table is populated by the Typescript interfaces used for the props so that works correctly.  Just the source doesn't show up.

![docs](https://user-i

[2019-07-23 21:12] benjamingeorge opened #7541 "@storybook/addon-contexts: Style story background based on context value"
"@storybook/react": "^5.2.0-beta.7",
"@storybook/addon-contexts": "^5.2.0-beta.7",

I'm using this addon-contexts to be able to switch between Styled-components themes.  When the theme value in context switches, i want to be able to change the color of the story background (essentially styling the `<body class="sb-show-main">` inside the iframe).

Is it possible to dynamically change the iframe bo

[2019-07-23 22:14] shilman commented on #7267
@benjamingeorge that's strange! Got a repo I can look at? Or wanna hop onto our Discord and we can debug it together interactively?

[2019-07-23 22:16] shilman commented on #7493
@city41 awesome. I'll take a look today. Thanks so much for doing this!

[2019-07-23 22:41] ythecombinator commented on #7108
@kg-currenxie did you manage to figure it out?

[2019-07-23 23:04] benjamingeorge commented on #7267
Sure here is a pared down version https://github.com/benjamingeorge/ts-addon-docs

[2019-07-24 01:17] kg-currenxie commented on #7108
Our case ended up not being related to storybook even if it seemed so.
Without even having storybook added, we tried deleting our yarn.lock, and after installing again we got the same error. We had to solve/upgrade a lot of dependencies.

[2019-07-24 02:45] ythecombinator commented on #7108
So... Upgrading things did the trick?

[2019-07-24 02:46] kg-currenxie commented on #7108
In our case yes :)

[2019-07-24 03:36] shilman commented on #7219
Yes AFAIK with the exception of a handful of documentation fixes. Also there are some `patch` PRs on `next` that haven't been applied back to `master` yet. Why do you ask?

[2019-07-24 03:55] #6670 closed

[2019-07-24 04:03] leoyli commented on #7541
Nope, this addon does not allow you directly do that.  But it's is possible to "hook" such logic as a context by writing a component to manipulate the DOM. Please do it with caution.

Instead, I would recommend you to create a helper component like:

(A) create a wrapper box
[code]

And put `BackgroundBox` as one of the context, which wrapping all of your component in a box with background.

(B) u

[2019-07-24 04:03] #7541 closed

[2019-07-24 04:43] bennypowers commented on #7084
With that out of the way, I'm here to confirm that this issue is still relevant to 5.2.0-beta.7

[2019-07-24 06:15] #6942 closed

[2019-07-24 07:06] shilman commented on #7493
OK figured out the problem based on your repo and am working on a fix.

The issue is that you have three files that contain the following snippet `<Meta title="Hawkins/React Primitives/buttons" />`. Each file should have a unique "title" (usually corresponding to the component) you're documenting.

Due to a bug we "accidentally" supported duplicating titles in early alphas (at the cost of other th

[2019-07-24 09:03] shilman commented on #7267
@benjamingeorge Your include path is wrong:

[code]

For your project structure should be:

[code]

[2019-07-24 09:03] #7267 closed

[2019-07-24 09:32] shilman opened #7543 "Addon-docs: MDX CLI integration"
(Split out from #6337)

When initializing a new storybook project using sb init:

- [ ] Option to use MDX stories

[2019-07-24 10:00] izmaylovdev opened #7544 "No providers for Angular's services (ChangeDetectorRef, Renderer, ElementRef) in Angular."
**Describe the bug**
 I try to create story for component which has a `ChangeDetecorRef` as dependency. As result I got an error `Can't resolve all parameters for MyComponentName: (?).`. If remove `ChangeDetectorRef`, all works well.

**To Reproduce**
Steps to reproduce the behavior:
1) Create component with ChangeDetecorRef as dependency.
2) Try to write story for the component.

**Expected behav

[2019-07-24 10:32] siffash opened #7545 "Only last component is shown, storyMissing is thrown for the rest"
**Describe the bug**
Storybook loads all components one by one (not all of them at once) and shows only the last one.

**To Reproduce**
Steps to reproduce the behavior:
1. Create components and stories for them.
2. Load them into Storybook, everything works fine.
3. Export the components with their stories files to bit.dev
4. Install the components from bit.dev to another project.
5. Load them int

[2019-07-24 10:35] shilman opened #7546 "Addon-docs: Include source-loader in preset"
To reduce the configuration burden of SB Docs, make it handle source-loading by default.

- [x] Add dependency on `source-loader`
- [x] Update preset to accept `sourceInclude` (or `null` to disable?)
- [x] Update examples & documentation

[2019-07-24 11:49] ndelangen commented on #7084
@pksunkara we might need to give the `lazy-universal-dotenv` an upgrade to core-js v3?

[2019-07-24 11:55] ndelangen commented on #3346
I'll try to take a look asap

[2019-07-24 11:58] pksunkara commented on #7084
Yeah, looks like it

[2019-07-24 12:31] allpwrfulroot commented on #7150
I'm also seeing this, updating button text for example is unresponsive.

[2019-07-24 12:47] Drag13 commented on #7457
Shouldn't this be documented somehow?
I can try to make a PR if it's ok.

[2019-07-24 13:18] shaibam commented on #7033
Any solution found?

[2019-07-24 13:28] benjamingeorge commented on #7267
Wow.  Thats embarrassing. Thank you.

[2019-07-24 13:50] denisbabineau commented on #5910
+1 if it would be more critical to me I'd investigate further but it's mostly a small nuisance at this point

[2019-07-24 14:31] QuantariusRay commented on #6709
I'm also seeing this issue...

[2019-07-24 15:42] shilman commented on #6738
@glappsi Sorry I missed this one. Are you still seeing this issue on the latest beta?

[2019-07-24 15:43] city41 commented on #7493
Ah, I see. Thanks for tracking this down. I am pretty new to storybook and didn't realize that is a limitation.

The reason I did that as it removes one layer of nesting from the stories. I can have a tree like this

![image](https://user-images.githubusercontent.com/141159/61807686-dfcbae00-adee-11e9-939f-1cbc269f2f70.png)

Otherwise it needs to be something like this

![image](https://user-image

[2019-07-24 16:05] ythecombinator commented on #7108
@kg-currenxie, I spent a few hours updating dependency by dependency and, apparently, updating `react` and `react-dom` did the thing – but I am not quite sure yet. So:

1. Thanks for your priceless tip (I probably would have taken a few more hours to guess that)
2. WTF! This works but still puzzles me in a way I cannot even say

[2019-07-24 16:08] shilman commented on #7493
No worries! It's possible to do what you were trying to do with the "classic" `storiesOf` API and the behavior you found is undocumented, so I'm really glad we could figure it out together. Thanks for being a guinea pig! :wink:

Here's how I would hack it in MDX if I wanted your flatter structure FWIW:

[code]

[2019-07-24 16:17] city41 commented on #7493
Maybe I'll go back to the old API. The problem with putting more than one story in an MDX file is it muddies the doc tab. My goal is for each button to have its own doc tab.

Since the old API still supports MDX docs, maybe that is a better fit for me?

[2019-07-24 16:21] miguelyoobic95 commented on #5866
Hey @ndelangen, I actually found a workaround for our use case. It is a bit hacky but it works nicely and does exactly what we want it to do.
[code]

I am still happy to discuss on Discord towards the end of the week - I should have time this Friday so will contact you there. I have signed up for the group already.

Thanks again for all your time and help.

[2019-07-24 17:54] leerob commented on #7264
I also noticed this one!

[2019-07-24 18:06] leerob commented on #7456
Would definitely like to see some documentation examples of how you can add blocks in your own MDX. For example, I was messing with this.

[code]

It'd also be cool to expose a way to have color formatted code like the story previews. Or can you use `Preview` to do that? Use case would be including the import statement as well.  Here's our existing story using `storybook-readme`.

![image](https:/

[2019-07-24 19:00] kevliu commented on #7481
@gergelyke Does the problem go away if you increase the memory limit for the Flow shared hash table by adding `sharedmemory.hash_table_pow=21` to the options block of your flowconfig?

[2019-07-24 19:14] gergelyke commented on #7481
let me try that, thanks for getting back to me!

[2019-07-24 19:25] gergelyke commented on #7481
it seems like it solved it, thank you: https://github.com/uber-web/baseui/pull/1631

[2019-07-24 19:25] #7481 closed

[2019-07-24 20:03] diegolamanno commented on #7335
Has anyone found a solution for this? I used to have it working but after upgrading this stopped working.

[2019-07-24 20:11] andrey-shostik opened #7549 "Cannot connect device to react-native-server"
**Describe the bug**
I have run emulator and react-native-server, but I can't see my stories on the web page

**Expected behavior**
On web page should be my stories instead of placeholder

**Screenshots**
![download](https://user-images.githubusercontent.com/13626849/61825070-3d501100-ae68-11e9-8cb0-9baff8ef43f6.png)

**System:**
[code]

[2019-07-24 20:49] Downchuck commented on #3889
@Hypnosphi  I ended up in the same spot -- I've just got a wrapper returning React elements as DOM to the HTML DOM framework. The react plugin spits some warnings to console but it's otherwise working. I've mixed angular1 and react, and used angular2react to show components working across a single storybook.

[2019-07-24 22:31] #6264 closed

[2019-07-24 23:17] MrBugatti commented on #7355
Hello, I'm on latest version and still having same issues.

[2019-07-25 01:04] jamesguan opened #7550 "Make Storybook compatible with Parcel.js"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I really want Storybook to work with parceljs bundler
**Describe the solution you'd like**
Storybook works with parceljs bundler
**Describe alternatives you've considered**
Storybook is the best and parcel-story does not compare

**Are you

[2019-07-25 01:18] kg-currenxie commented on #7108
Awesome! :)
Maybe the repo owners would know more? (And add something to the docs)

[2019-07-25 02:17] lonyele commented on #7355
@MrBugatti which error are you seeing?
This should be fixed by #7405
[code]
and this should be fixed by #7408
[code]
and this one has been around for awhile #6998
[code]

[2019-07-25 02:27] shilman commented on #7456
@leerob Thanks! I think your questions are more about MDX than about `DocsPage`.

To clarify:
- `DocsPage` is a prebuilt component that you can add to all your stories to generate reasonable documentation with a single line of code.
- MDX is a much more flexible authoring format that can be used to create any page you want with a mix of markdown and JSX.

5.2 will introduce and document `DocsPage`

[2019-07-25 03:00] shilman commented on #7550
Have you looked at this? https://github.com/storybookjs/storybook/tree/next/examples/standalone-preview

[2019-07-25 04:28] shilman commented on #7493
@city41 The `storiesOf` API does not support MDX (per se, you could hack it but I'd strongly recommend against this).

The right way to do this unless you really want to fight against Storybook is that each component gets its own MDX file.

We have UI updates planned that will partially address your nesting concerns, which are partially described in https://github.com/storybookjs/storybook/issues/

[2019-07-25 04:29] SilencerWeb opened #7551 "storybook build contacts recursive "docs" folder"
**Describe the bug**
My storybook build is 238MB, it has tons of "docs" folders inside each other, it's like a ZIP bomb.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone git@github.com:SilencerWeb/storybook-build-bug.git`
2. `cd storybook-build-bug && npm install`
3. `npm run build`
4. Open folder "public" and check "storybook" size

**Expected behavior**
There should be only one "

[2019-07-25 04:41] shilman commented on #7551
What happens when you change this:

[code]

To this:

[code]

[2019-07-25 04:49] SilencerWeb commented on #7551
@shilman, yea, that's what I thought. Now the size is 5.3MB and no "docs" folder. In my case, build version somehow works okay without this static folder, but in development I definitely need it. Anyway, thanks a lot!

[2019-07-25 04:49] #7551 closed

[2019-07-25 07:04] mkosir opened #7553 "deviceorientation event/gyroscope (mobile devices)"
**Describe the bug**
When trying to use storybook with `deviceorientation` event, it seems that the event doesn't get fired (not sure but noticed `iframes` which could be causing/blocking this). Behavior is the same on mobile devices or simulating it with dev tools.

**To Reproduce**
Steps to reproduce the behavior:
1. Create component with `deviceorientation` event, which can be implemented as lo

[2019-07-25 08:09] sahilkhan99 commented on #7218
Hi All,
Resolved the issue, by moving all package-scripts commands to `package.json` file. Seems like culprit is nps  package-scripts file.

[2019-07-25 08:09] #7218 closed

[2019-07-25 09:00] stereodenis commented on #2081
Still not working on 5.1 for me

[2019-07-25 09:02] shilman commented on #2081
@stereodenis try `5.2-beta`? 🙈

[2019-07-25 09:08] pvinis opened #7556 "design-assets missing from ADDONS_SUPPORT"
**Describe the bug**
The table [here](https://github.com/storybookjs/storybook/blob/next/ADDONS_SUPPORT.md) is missing the design-assets [addon](https://github.com/storybookjs/storybook/tree/next/addons/design-assets)

**Expected behavior**
To be there.

[2019-07-25 09:17] Badlapje commented on #3386
For those who also run into this problem:
yarn add @types/node @types/react @types/storybook__addon-knobs --dev

That solved it.  Documentation only mentions first two, CLI error only mentions the last.  You need all three.

[2019-07-25 09:22] Haroenv opened #7557 ""search" shortcut not usable on azerty"
**Describe the bug**

On an azerty keyboard, there's no dedicated key for `/` , it's instead `shift+:`. This means that the `/` shortcut for search does not work.

A possible solution would be to use the [`key`](https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/key) instead of the likely used charCode now

**To Reproduce**
Steps to reproduce the behavior:
1. Use an AZERTY keyboard
2.

[2019-07-25 09:27] stereodenis commented on #2081
@shilman  5.2-beta.7
![image](https://user-images.githubusercontent.com/1406461/61862996-6fe52280-aed7-11e9-953b-fba56f132a12.png)

[2019-07-25 09:54] pvinis commented on #6917
Was this working on 4? If yes, I could do a bisect, but I don't know how big the changes were from 4 to 5.

[2019-07-25 10:05] Gongreg commented on #2081
Sadly there was no effort done to fix hmr

[2019-07-25 10:08] Gongreg commented on #6917
Hey, I don’t think so. We need to addSafeAreaView wrapper. Could you add it?

[2019-07-25 10:33] shilman commented on #7324
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.8 containing PR #7393 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-25 10:33] shilman commented on #7493
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.8 containing PR #7542 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-25 10:33] shilman commented on #7509
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.8 containing PR #7554 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-25 10:33] shilman commented on #7546
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.8 containing PR #7547 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-25 10:33] #7324 closed

[2019-07-25 10:33] #7493 closed

[2019-07-25 10:33] #7509 closed

[2019-07-25 10:33] #7546 closed

[2019-07-25 11:10] robaxelsen commented on #6869
I could investigate this further, and maybe attempt a fix, but would be helpful with some pointers on where in the code to look - or if it's entirely a markdown-to-jsx issue. Pinging some recently active contributors @Gongreg @tmeasday @ndelangen @danielduan.

[2019-07-25 11:13] Gongreg commented on #6869
Hey,

[code]

this is all ondevice-notes addon is doing.
So I assume the issue is in markdown-to-jsx lib

[2019-07-25 11:14] Enuvid commented on #7442
Can I take this?

[2019-07-25 11:16] robaxelsen commented on #6869
@Gongreg Thanks! I will try to reproduce with plain markdown-to-jsx, and report any findings to their project. Propose to keep this open for now, for visibility.

[2019-07-25 11:22] RWOverdijk commented on #3855
This would be cool... Especially because modals.

[2019-07-25 12:24] shaibam opened #7558 "import redux store, from '../../' crashes storybook"
When creating a story with a component that imports redux store from index.js file. storybook crashes.

if I change the import to

Storybook lives on!

This is the received error :

[2019-07-25 12:31] shaibam opened #7559 "react, redux store.getState() results in error"
When using the redux command store.getState() an error appears:

TypeError: Cannot read property 'getState' of undefined

React component :

import { connect } from "react-redux";
import { store } from '../../../index.js';
class HeaderRight extends Component {
  &nbsp;constructor(props) {
    &nbsp;&nbsp; super(props);
   &nbsp;&nbsp;  console.log(store.getState())
 &nbsp;}
   &nbsp;render() {

[2019-07-25 12:35] SilencerWeb opened #7560 "Ability to set window's width like in DevTools Device Toolbar"
**Is your feature request related to a problem? Please describe.**
Right now it is pretty comfortable to work on adaptive of some block inside the storybook but it's still not enough.

**Describe the solution you'd like**
Would be awesome to have the ability to set window's width like in DevTools Device Toolbar.

**Describe alternatives you've considered**
Right now I still have to use DevTools De

[2019-07-25 12:54] #7549 closed

[2019-07-25 13:15] shaibam commented on #7033
I also tried that (downgraded react-scripts to 2.1.8), and now storybook compiles but the stories dont show

[2019-07-25 14:10] kevinSuttle commented on #6642
Is https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.8 related to this?

[2019-07-25 14:43] shilman commented on #6642
@kevinSuttle thanks for the link. this is probably a 5.3 feature and still unclear how to fit it in in a cross-framework way!

[2019-07-25 14:45] kevinSuttle commented on #6642
Definitely. That's not an easy task for sure. Thanks for your work on this!

[2019-07-25 14:45] shilman opened #7562 "Rename Module => Component Story Format (CSF)"
We're branding the new format "component story format" (csf) so we need to rename a bunch of stuff to avoid confusion.

- [ ] docs
- [ ] codemods

[2019-07-25 14:56] kroeder commented on #7442
@Enuvid sure! Do you need any guidance?

[2019-07-25 15:04] elevatebart commented on #6642
For now, the [`vue-inbrowser-compiler`](https://www.npmjs.com/package/vue-inbrowser-compiler) for VueJs.
We might leverage this but it means definitely a lot of work to get cross framework compatibility.

[2019-07-25 15:21] kevinSuttle commented on #7483
Thank you for this!

[2019-07-25 15:22] Kamahl19 opened #7563 "TSX not supported in config with CRA"
**Describe the bug**
TSX is not supported inside of the .storybook folder.

**To Reproduce**
Steps to reproduce the behavior:
1. Install create-react-app with typescript
2. Install Storybook
3. create .storybook/config.tsx

**Expected behavior**
TSX will be supported inside the .storybook folder.

**System:**
All

**Additional context**
The problem is that `cra-config.js` assumes that CRA only has

[2019-07-25 15:23] Kamahl19 commented on #7201
Actually this is also not working for TSX #7563

[2019-07-25 15:43] JamyGolden commented on #6204
@ndelangen I've upgraded to `5.1.9` without problems now, I guess a new patch dependency has been installed and has solved the issue 🤷‍♀️

[2019-07-25 15:46] mrmckeb commented on #7221
Thanks @shilman, I think this weekend I can start looking at it ;)

[2019-07-25 15:46] Kamahl19 commented on #7563
Dumb workaround until it's properly fixed

webpack.config.js
[code]

[2019-07-25 15:59] mrmckeb commented on #7201
@jamesg1 I actually have it working with this `tsconfig.json`. Here, `js` files work and `tsx` files still fail... `react-scripts@3.0.1` and `storybook@5.1.9`.

[code]

I'm looking into it more now.

[2019-07-25 16:01] Kamahl19 commented on #7201
@mrmckeb I think it's because of this #7563 , isnt it?

[2019-07-25 16:59] pascaliske commented on #7157
FYI: My PR (#7224) was recently merged into `next`! 🎉😄

[2019-07-25 17:23] shilman commented on #7106
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.9 containing PR #7224 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-25 17:23] shilman commented on #7157
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.9 containing PR #7224 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-25 17:23] shilman commented on #7562
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.9 containing PR #7564 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-25 17:23] #7157 closed

[2019-07-25 17:23] #7106 closed

[2019-07-25 17:23] #7562 closed

[2019-07-25 17:37] pascaliske commented on #7106
The bugfix from the PR works as expected. Thanks! 🙂

[2019-07-25 20:35] vincentbriglia commented on #7361
you have to add @storybook/theming separately

[2019-07-25 20:53] ronnyek opened #7567 "Request: Remember tool window orientation"
**Is your feature request related to a problem? Please describe.**
I've noticed that every time storybook starts, it totally forgets what orientation I had the tool window. I prefer to have it docked right, and it frequently gets reset to docked at the bottom.

**Describe the solution you'd like**
Seems like orientation could be stored in a cookie, or local storage to facilitate this

**Are you ab

[2019-07-25 20:56] bqrichards commented on #6917
I can do this if you haven't started already @pvinis

[2019-07-25 21:36] pvinis commented on #6917
feel free to take this :)

[2019-07-26 00:48] #5889 closed

[2019-07-26 01:21] elliotlarson opened #7569 "Select knob with array options does not correctly set the select list to the default"
**Describe the bug**

When using a select knob with arrays as option values, the default value is not getting set properly on the select list.  The code is comparing two arrays with ===, which is always false.

**To Reproduce**

Create a select knob with option values that are arrays.  Set the default to an option that is not the first option.

**Expected behavior**

The default option should be s

[2019-07-26 01:39] halian-vilela commented on #7231
I have a PR running on this issue, maybe it will make it clear if went directly into the docs. Looking forward for it to be merged.

[2019-07-26 03:03] shilman opened #7570 "Core: Rename `load` to `configure`"
To support Component Story Format (CSF) in Storybook 5.2 we added a `load` function to all frameworks. This load function uses the `configure` function internally but accepts more arguments (a `require.context` `req` or an array of them) for convenience. It also processes CSF exports from those `reqs`, or allows you to pass a loader function that returns an array of exports.

During CSF feedback,

[2019-07-26 03:53] KadenLNelson commented on #6915
This did not work

[2019-07-26 05:47] tmeasday commented on #7570
How long will this stick around for?

[2019-07-26 07:15] bennypowers commented on #7084
`lazy-universal-dotenv` [already depends on core-js ](https://github.com/storybookjs/lazy-universal-dotenv/blob/f1d3723de28fabe0c4ebb90b2ee61a77a6b58567/package.json#L35)3?
[code]

[2019-07-26 07:30] nbrylev opened #7572 "addon-notes and importing an .md file"
_Greetings!_

**Describe the bug**
I try to import an .md file in my `stories.js` file and use it as a context for notes. But when I run `npm run storybook:serve` I get next message:
[code]

**Expected behavior**
Documentation of `addons/notes` says it's possible to use markdown external files. I want to use it the same way.
[code]

**Code snippets**
This is my .md file
[code]
And this is my .stor

[2019-07-26 07:53] nbrylev commented on #7572
Just found the solution from [for webpack.config.js](https://github.com/storybookjs/storybook/issues/2883#issuecomment-363425916)

I've added next code to my `vue.config.js`:
[code]
No more errors, everything works fine. But shouldn't `addons/notes` works with `.md` files without extra config (out of the box, I mean)? If answer is no then I close this issue.

[2019-07-26 09:46] adrienjoly commented on #5708
FYI, just adding the following parts in `.storybook/webpack.config.js` did the trick:

[code]

... and:

[code]

Thanks for your help!

[2019-07-26 10:21] shilman commented on #7058
OK here's what's happening: #6634 was an unintentional breaking change. If you used a `babel.config.js` in your project root prior to 5.1, Storybook would ignore it. Now it's picking it up.

The change was a weird, inconsistent one. The code should probably either read:

[code]

OR

[code]

Now we're in a funny situation where if we fix it the first way, we'll break a lot more people.

The second

[2019-07-26 10:34] igor-dv commented on #7058
I think if it was a break change we need to fix it back and wait for the v6.

[2019-07-26 10:35] ndelangen commented on #7058
Reading the discussion the @LukeAskew it was never supposed to load from the project root.

[2019-07-26 11:59] shilman commented on #5721
Ta-da!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.10 containing PR #7571 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-26 11:59] shilman commented on #6925
Great Caesar's ghost!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.10 containing PR #7571 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-26 11:59] shilman commented on #7058
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.10 containing PR #7573 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-26 11:59] shilman commented on #7219
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.10 containing PR #7548 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-26 11:59] #5721 closed

[2019-07-26 11:59] #6925 closed

[2019-07-26 11:59] #7219 closed

[2019-07-26 12:49] tmpaul06 commented on #4479
For those who stumble onto `d3bgger`'s issue:

[code]

[2019-07-26 12:50] rahulpsd18 opened #7575 "addon-info not working properly"
**Describe the bug**
Followed the readme to add addon-info to my storybook but the info created is wrong.
In my story source, instead of showing the JSX I have provided to the story, the following is shown:
[code]
I am using typescript so I know PropTypes won't work out of the box and needs to be configured but the story source should render fine.

**To Reproduce**
Steps to reproduce the behavior:

[2019-07-26 13:34] siffash commented on #7545
The problem was with _node_modules_ of each component, removing that directory for each component solved the issue.

[2019-07-26 13:34] #7545 closed

[2019-07-26 15:01] ndelangen commented on #3206
Tracked in #5030

Will close this in favour of that issue

[2019-07-26 15:01] #3206 closed

[2019-07-26 15:34] Amay88 opened #7577 "addon-docs Error: Cannot read property 'content' of undefined"
Hello everyone. I'm using the newest storybook/react with addon-docs, both version 5.2.0-beta.10. Right now I have a problem running the example from the official Storybook Docs: Technical Preview google docs. When I click Docs panel I get an error `Cannot read property 'content' of undefined`

### Bug

![image](https://user-images.githubusercontent.com/4764368/61962560-0d208380-afca-11e9-9f9d-4d0

[2019-07-26 15:36] kaiyoma commented on #7260
Still an issue.

[2019-07-26 15:49] #6790 closed

[2019-07-26 15:49] #6677 closed

[2019-07-26 15:49] #6931 closed

[2019-07-26 15:49] #6748 closed

[2019-07-26 15:49] #6754 closed

[2019-07-26 15:49] #6452 closed

[2019-07-26 15:49] #6491 closed

[2019-07-26 15:49] #6852 closed

[2019-07-26 15:49] #6295 closed

[2019-07-26 15:49] #6391 closed

[2019-07-26 15:49] #6979 closed

[2019-07-26 15:49] #6055 closed

[2019-07-26 15:49] #6721 closed

[2019-07-26 16:42] lroling8350 commented on #7206
The biggest show stopper (I had PnP working) is this PR https://github.com/storybookjs/storybook/commit/4d747663887ab7815ea534f2e0a33a97447866a9#diff-12679c86a71ee9f4267519c0607ebd60 which uses resolve-from. The problem is PnP relies on symlinks for some packages, @storybook/theming being one of them. Since resolve-from passing the resolved destination of the symlink to Module._resolveFilename it

[2019-07-26 16:49] #6743 closed

[2019-07-26 16:49] #5830 closed

[2019-07-26 16:49] #5777 closed

[2019-07-26 16:49] #6363 closed

[2019-07-26 16:49] #6437 closed

[2019-07-26 16:49] #6558 closed

[2019-07-26 16:49] #6724 closed

[2019-07-26 16:49] #6591 closed

[2019-07-26 16:49] #6613 closed

[2019-07-26 16:49] #6620 closed

[2019-07-26 16:49] #6616 closed

[2019-07-26 16:49] #6796 closed

[2019-07-26 16:49] #6786 closed

[2019-07-26 16:49] #6622 closed

[2019-07-26 16:49] #6812 closed

[2019-07-26 17:21] ruudyroon commented on #7004
any update over here?

[2019-07-26 17:48] #5240 closed

[2019-07-26 17:48] #5897 closed

[2019-07-26 18:27] OwenPattison commented on #7255
@shilman I've tried to get the suggestion working without much success.
When i require the stories from the root storybook i'm seeing alot of errors, here's how I've setup my config.ts: https://i.imgur.com/F377kj9.png
and these are the errors i'm seeing: https://i.imgur.com/pWq6JxB.png

If i import stories from a subfolder of root it compiles and runs fine.

[2019-07-26 18:39] shilman commented on #7255
@OwenPattison i think this is related to `core-js` version, not really related to composition. @ndelangen can you give a hand?

[2019-07-26 18:47] tw15egan commented on #5551
Just chiming in to say that I'm experiencing this on `5.1.9` as well

[2019-07-26 19:25] garrettmaring commented on #806
If anyone's still looking for this, it works under the [`optionsKnob`](https://www.npmjs.com/package/@storybook/addon-knobs#options).

<img width="685" alt="Screen Shot 2019-07-26 at 12 23 37 PM" src="https://user-images.githubusercontent.com/8270120/61976288-417f4a00-afa0-11e9-8db6-44be7caceda9.png">

[2019-07-26 19:27] shilman commented on #5551
Thanks @tw15egan. This was fixed in 5.2.0-alpha.36. I'll patch the fix into 5.1.10.

[2019-07-26 19:44] tw15egan commented on #5551
Awesome! Thanks for the quick response 👍

[2019-07-26 19:48] shilman opened #7580 "Addon-docs: Configure JSX automagically"
In `react` projects, assume that JSX is already babel-configured.

In other projects, automatically configure it for MDX usage.

[2019-07-26 20:01] kevinSuttle opened #7582 "v5 URL format: default to first story if no path or storyId is included"
**Is your feature request related to a problem? Please describe.**
Having to include `--*` at the end of Storybook URLs is a bit of a task. Seems avoidable.

**Describe the solution you'd like**
1. If the URL doesn't have --* or $[storyID} at the end of it, the router would redirect to the first story listed.

2. (Maybe related?) If the URL doesn't have
- a `/`
- or `?`
- or `path`

redirect to th

[2019-07-27 01:59] shilman commented on #7442
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.12 containing PR #7574 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-27 01:59] shilman commented on #7569
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.12 containing PR #7568 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-27 01:59] #7442 closed

[2019-07-27 01:59] #7569 closed

[2019-07-27 02:09] JBallin commented on #5416
@tmeasday, that link currently doesn't change background colors?
https://next--storybooks-official.netlify.com/?path=/story/addons-backgrounds--story-1

[2019-07-27 03:48] nzacca commented on #7466
Version 0.8.9 appears to be [marked](https://www.npmjs.com/package/@angular-devkit/build-angular?activeTab=versions) as `v6-lts` which I assume is for Angular v6. Could we change the peer dependency to be `>=0.8.9`?

https://github.com/storybookjs/storybook/blob/v5.2.0-beta.12/app/angular/package.json#L47

[2019-07-27 06:54] kroeder commented on #7525
Can you try to open your story in a separate window? (use the control in the upper right in storybook)

I got the same problem using augury for angular.
Its because storybooks preview is an iframe and augury can't detect angular inside that iframe. Chances are redux behaves the same

[2019-07-27 07:30] kroeder commented on #7544
Can confirm this

[2019-07-27 07:32] kroeder commented on #7544
[code]

[2019-07-27 08:47] shilman commented on #7570
Ta-da!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.13 containing PR #7576 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-27 08:47] #7570 closed

[2019-07-27 09:00] kroeder commented on #7466
@nzacca `>=0.8.9` sounds good! Can you open a PR for this?

[2019-07-27 09:11] kroeder commented on #7572
This seems to be the place where we add the rule for `*.md`
https://github.com/storybookjs/storybook/blob/next/lib/core/src/server/preview/iframe-webpack.config.js#L74

@shilman since you dealt a lot with markdown lately: do you know why we are not using https://github.com/peerigon/markdown-loader and why `raw-loader` has worked so far? Does `addon-notes` the rest of the job converting markdown to

[2019-07-27 09:59] #6153 closed

[2019-07-27 10:57] crimx commented on #3758
This bug is caused by react hot loader and I've fired a PR two weeks ago. Somehow being ignored? Am I missing something?

[2019-07-27 10:59] #6413 closed

[2019-07-27 11:32] metamn opened #7583 ""No Preview" of stories"
**Describe the bug**
For a while I can't run Storybook anymore. When I launch it I'm always receiving 'No Preview'.

When the stories get recompiled the first story shows up well. When trying to click on another story an error message is shown up.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:9009/?path=/story/*
2. See error "No Preview" (Screenshot attached)
3. Edit

[2019-07-27 11:59] #6144 closed

[2019-07-27 12:48] shilman commented on #7572
@kroeder Notes uses `markdown-to-jsx` to render raw markdown.

[2019-07-27 13:02] shilman commented on #3758
@crimx Sorry your PR hasn't been addressed yet. There are about 40 other PRs active, we're trying to get 5.2 shipped, and `addon-info` doesn't really have an owner right now. Hope you can be patient on this one.

[2019-07-27 13:15] shilman commented on #6796
@leanne2 try doing `localStorage.clear()` in your browser console and then hard refresh?

[2019-07-27 13:20] shilman commented on #6055
@manuelbieh Any interest in pairing on a CSS modules preset? I'm familiar with the presets side and it sounds like you're familiar with the CSS modules side. I bet we could get something going in 30m if you're interested.

[2019-07-27 14:32] crimx commented on #3758
I see.

[2019-07-27 15:47] shaibam commented on #7196
Is this the same issue as https://github.com/storybookjs/storybook/issues/7033 ?

[2019-07-27 17:00] Hypnosphi commented on #7407
@ndelangen looks like the reason is `storybook-router` that exports a decorator which passes `storyFn` to a component instead of calling it synchronously:

https://github.com/gvaldambrini/storybook-router/blob/master/packages/react/react.js#L91-L97

[2019-07-27 18:56] nzacca commented on #7466
@kroeder Of course! Coming right up.

[2019-07-27 20:07] nzacca commented on #7466
@kroeder [PR is up](https://github.com/storybookjs/storybook/pull/7585).

[2019-07-27 20:11] #6801 closed

[2019-07-27 21:21] #7466 closed

[2019-07-27 22:44] jamesg1 commented on #7201
I added .storybook and src as rootDirs in tsconfig options which seemed to work.

[2019-07-27 23:01] tmeasday commented on #5416
Hmm, doesn't currently work for me at all at that link (on desktop). Shall we re-open @shilman?

[2019-07-27 23:02] ndelangen commented on #6204
You got it working locally, but the CI still had the same error?

[2019-07-28 04:11] richsoni commented on #5019
+1 just had to search to resolve this.  It would be really nice if the error said, "Do you have a package.json?"

[2019-07-28 07:20] shilman commented on #5416
I don't think it's currently being deployed at netlify. @ndelangen can you update the docs to reflect the current state?

[2019-07-28 11:31] agrublev commented on #719
[code]

[2019-07-28 12:11] #6541 closed

[2019-07-28 13:45] mrmckeb commented on #7201
Yes, correct @Kamahl19.

[2019-07-28 13:48] mrmckeb commented on #7563
I'll close this off as a duplicate of #7201.

[2019-07-28 13:48] #7563 closed

[2019-07-28 14:24] mrmckeb commented on #7201
@jamesg1, would you mind sharing your `tsconfig,json` if possible? You can cut out anything confidential.

[2019-07-28 14:35] mrmckeb commented on #7221
I've started on this today @shilman, I'll try to get it done in the next 7-10 days :)

[2019-07-28 14:50] shilman commented on #7221
Awesome!!! Thanks for taking this on. I'm really excited about where this is headed and have been doing some interesting preset work in docs-land. I think we can make this really sweet 🔥

[2019-07-28 15:09] mkosir commented on #7553
Issue can be closed. Below is my root cause if anybody encounters the same problem in the future.
Even though iframe can cause trouble receiving device motion/orientation events on mobile devices, this wasn't the case. The reason was while testing storybook it's starts on localhost with (default) insecure origin (http), once I started storybook on localhost (https) server with provided SSL certifi

[2019-07-28 15:09] #7553 closed

[2019-07-28 16:00] mrmckeb commented on #7221
@shilman In case you see this first, I pinged you for a quick discussion on this ;)

[2019-07-28 16:13] mrmckeb commented on #4841
I'll try to get this into #7221 as well. I think that's the best path forward here.

[2019-07-28 16:26] #7201 closed

[2019-07-28 19:11] ndelangen commented on #5416
Updated the docs, here's the url for next:
https://monorepo.storybook.now.sh/

[2019-07-28 20:24] EdenTurgeman opened #7587 "StoryShots/Storyshots-Puppeteer is inconsistent and buggy with docker"
**Describe the bug**
We are trying to use Storyshots with puppeteer to take snapshots of our storybook and integrate it to out ci Jenkins pipeline, but are running into many problems when using it with docker, specifically these issues :
Screenshots are inconsistent, primarily each time we run the tests with the exact same project and storybook hosted locally, we keep getting these errors related

[2019-07-29 04:20] shilman commented on #5416
@ndelangen if you don't issue a PR with the `patch` label, these won't make it onto the live site. I'm fine with self-merging uncontroversial documentation-only like this.

https://storybook.js.org/docs/basics/live-examples/

[2019-07-29 04:56] shilman commented on #7201
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.15 containing PR #7566 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-07-29 06:31] #6552 closed

[2019-07-29 07:34] JamyGolden commented on #6204
@ndelangen yeah the CI and another dev are having issues, however things are fine on my side, we're using a lockfile too. The above was the failing `yarn why core-js` and this is mine:

[code]

[2019-07-29 08:39] shilman commented on #7316
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.16 containing PR #7579 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-29 08:39] shilman commented on #7580
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.16 containing PR #7581 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-29 08:39] #7316 closed

[2019-07-29 08:39] #7580 closed

[2019-07-29 09:34] 1oglop1 opened #7588 "@storybook/addon-storyshots-puppeteer@5.1.9 dependency locked on 5.1.0-rc.0 version"
Hi,
I'm unable to install `@storybook/addon-storyshots-puppeteer@5.1.9` due to its version lock.
I noticed @shilman pushed a new version in `next` branch just an hour ago.

[2019-07-29 09:40] shilman opened #7589 "CLI: storiesof-to-csf breaks on story names with punctuation"
E.g. `w/positions` =>

[code]

[2019-07-29 11:00] shilman commented on #7588
I see the bad dep here: https://github.com/storybookjs/storybook/blob/master/addons/storyshots/storyshots-puppeteer/package.json#L33

I'll fix it in the next few hours when I do a release. Thanks for letting me know.

[2019-07-29 11:08] svanbelleghem commented on #7113
Not sure if it's gonna help, but I resolved this issue by removing the node_modules folder and running Yarn install again.

[2019-07-29 11:30] shilman commented on #7589
Ta-da!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.17 containing PR #7590 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-29 11:30] #7589 closed

[2019-07-29 12:21] vipcxj opened #7591 "There is a bug in CoreJSUpgradeWebpackPlugin"
This plugin did not deal with the module like `node_modules/XXX/node_modules/@babel/runtime/core-js/YYY`.
Add
[code]
after
[code]
fix it.
However, there is no repo of `CoreJSUpgradeWebpackPlugin` on github. So I can't submit a pull request.
And with full control webpack mode, I cannot recognize the plugin, So I have no workaround with `storybook`. Please fix it.

[2019-07-29 12:31] shilman commented on #7591
@vipcxj https://github.com/ndelangen/corejs-upgrade-webpack-plugin

[2019-07-29 14:24] #7591 closed

[2019-07-29 14:58] nicgirault commented on #4325
This does not working on dev server with hot reload :-(

[2019-07-29 15:29] buschco commented on #4716
@z00m1n I searched like 2 hours for that issue. I will copy and paste the error message to make everyones life simpler 🙂
[code]

[2019-07-29 15:47] jacklp opened #7593 "Vuetify 2.0.2 not supported"
Description:
https://stackoverflow.com/a/56367842
The new style of latest version of vuetify 2.0.2 requires that vuetify be passed into new Vue()

My .storybook/config.js file:

[code]

My /plugins/vuetify.ts file:
[code]
Cannot read property 'dark' of undefined
TypeError: Cannot read property 'dark' of undefined
    at VueComponent.isDark (http://localhost:9001/vendors~main.2f0c8252b2ad5480ce8f.b

[2019-07-29 15:59] atgjack commented on #7593
I had the same issue. All you have to do is add `vuetify` to the `addDecorators` call.

[code]

[2019-07-29 16:31] jacklp commented on #7593
legend, thanks jack :)

[2019-07-29 16:34] nicolastelfer opened #7594 "StyleSheetRegistry: styleId: `jsx-undefined` not found"
**Describe the bug**
External styles using styled-jsx in storybook throw HMR error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the test repo: https://github.com/nicolastelfer/storybook-test
2. yarn install or npm install
3. yarn storybook
4. Open new localhost window and see error in Storybook

**Expected behavior**
It should show correct component styling, no errors.

**Screensho

[2019-07-29 17:37] shilman opened #7595 "React/Angular/HTML: Incorrect type for configure"
Per https://github.com/storybookjs/storybook/pull/7576/files/86370b51296f62b318404e3f8858ed1762992d24#r308342160

Affected frameworks:
- [ ] react
- [ ] angular
- [ ] html

[2019-07-29 17:45] shilman opened #7596 "Addon-docs: Error "markdown-to-jsx: the first argument must be a string""
The logic for using non-string `info`/`notes` is broken!

- [ ] Improve heuristic
- [ ] Add test cases

[2019-07-29 18:18] kevinSuttle opened #7599 "CSF: Story names should have intelligent defaults"
**Is your feature request related to a problem? Please describe.**
It's tedious to have to change the story name in CSF to a human readable one.
e.g.

`withSubtitle.story = {name: 'with subtitle'}`

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I'm wondering if the `export`ed story names should follow a convention or be allowed to be configured g

[2019-07-29 18:41] nickofthyme opened #7600 "addon-knobs Select | Option values as Arrays"
**Describe the bug**
As of `v5.1.9` I could use arrays or any custom type as an option value with the `select` knob. This functionality is now not allowed as of `v5.2.0-beta.*`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create the following `select` knob

[code]
2. Notice with `v5.2.0-beta.19` there is a type error for the option values as the select option value can only be one of...

[2019-07-29 18:43] shilman commented on #7599
I love this idea. This could be implemented as an option parameter.

Globally in your config:
[code]

Locally to a component's stories:
[code]

[2019-07-29 18:58] kevinSuttle commented on #7599
Sure!

[2019-07-29 18:58] nickofthyme opened #7601 "Add wordwrap toggle to storysource panel"
**Is your feature request related to a problem? Please describe.**
Add option for turning off word wrap on `storysource` addon. Word wrap is so annoying especially with long lines of code [**opinion*].

**Describe the solution you'd like**
Have option to allow text overflow on the storysource panel.

**Describe alternatives you've considered**
N/A

**Are you able to assist bring the feature to rea

[2019-07-29 19:00] #7601 closed

[2019-07-29 19:35] kevinSuttle commented on #7599
Suggestions on where to get started?

[2019-07-29 19:43] Hypnosphi opened #7602 "`sb migrate` doesn't work with npx"
[code]

[2019-07-29 20:05] ndelangen commented on #6204
aha, so storybook is running OK, but a test is still using an old core-js version!

What's inside `localMocksFile.js`? Likely all you need to do is update that 1 file.

[2019-07-29 20:13] shilman commented on #7599
Right here:

https://github.com/storybookjs/storybook/blob/d1d22d7915014d80fc0b341e05a3ab94a3e75d71/lib/core/src/client/preview/start.js#L392

Getting the parameter out of the client API might require some redesign now that I think about it.

Any thoughts @tmeasday @ndelangen?

[2019-07-29 20:55] ndelangen commented on #7599
In monoconfig I'd implement this within the loader.

But that's some time away.

---

@shilman I'm not sure what you mean. Looks to me that implementing this exactly where you pointed out is perfectly do-able?

[2019-07-29 20:56] affanshahid opened #7603 "CSF documentation"
Where can I find documentation for the new CSF feature?

[2019-07-29 21:34] tomitrescak commented on #4202
Yes, the issue persist, can this be reopened please?

[2019-07-29 22:55] shilman commented on #7603
Here are the docs so far:

https://github.com/storybookjs/storybook/blob/next/docs/src/pages/basics/writing-stories/index.md

https://github.com/storybookjs/storybook/blob/next/docs/src/pages/formats/component-story-format/index.md

[2019-07-29 23:12] kenny-inthirath-pear commented on #5141
Had the same issue in `5.1.9` and did **not** attempt using with`@storybook/react-native-server`

It seems fixed using the `@next`, guessing [5.20-beta.12](https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.12) may have resolved it.

[2019-07-29 23:20] shilman commented on #4202
@tomitrescak This issue is duplicate to #4801 which is open

[2019-07-29 23:39] shilman commented on #7340
@auderer can you try with the most recent 5.2 beta? there was a babel config-related bug in 5.1.0-5.1.9 that I fixed in the 5.2 beta and plan to patch back into 5.1.10, tho I'm not sure it's related to this: https://github.com/storybookjs/storybook/pull/7573

[2019-07-29 23:51] shilman commented on #5030
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.18 containing PR #7578 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-29 23:51] shilman commented on #7595
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.18 containing PR #7598 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-29 23:51] shilman commented on #7596
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.18 containing PR #7597 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-29 23:51] #7595 closed

[2019-07-29 23:51] #7596 closed

[2019-07-29 23:52] kenny-inthirath-pear opened #7606 "[React-Native][5.1.X] addon-ondevice-notes crash on initial story selection"
**Describe the bug**
Using the Notes add-on for the INITIAL Story that is loaded crashes the app and throws a JS error

Any Story selected after the initial one WILL NOT crash

**To Reproduce**
1. Go to 'ADDONS' on the INITIAL Story loaded
2. Click on 'NOTES'
3. See error `TypeError: Cannot read property of 'selection' of null`

**Expected behavior**
Should see the text passed in (or auto-generate

[2019-07-30 01:57] vipcxj commented on #7591
@shilman The fix not work at all.
For example:
[code]
This will cause an Error be throwed.
I am not very familiar with webpack plugin. So my fix may not cover all the case. I think the key is the latest version of `@babel/runtime` has dropped all core-js package. However the regex `/core-js/` match the path of `@babel/runtime/core-js` too, This should not be a design behavior. We should let it not

[2019-07-30 02:12] tmeasday commented on #7599
@shilman can we just add something to the store to get the current list of global parameters? They are stored in the story store somewhere..

[2019-07-30 02:49] kevinSuttle commented on #7599
FWIW, I got the above to work within here:

https://github.com/storybookjs/storybook/blob/8d5422bee356cee4051f747412f5bbb63f78d3c8/lib/client-api/src/client_api.ts#L234-L240

by setting `name` to `getDisplayName()`, but it was only just a POC to discover what was possible and where the wiring led.

Happy to implement wherever is best 👍

[2019-07-30 04:15] nutboltu commented on #7445
I am using `"fetch-mock": "^7.3.9"` and `"@storybook/react": "^5.1.9",` and  still getting same error. I found `NormalModuleReplacementPlugin` is causing the issue.
So I filtered the plugin from `.storybook/webpack.config.js` and it's working fine.

[code]

[2019-07-30 05:08] jamesg1 commented on #7201
Yeah sure no problem:
[code]

[2019-07-30 05:51] brennj opened #7607 "[CSF/MDX] Auto-generated code snippet flexibility"
**Is your feature request related to a problem? Please describe.**

From the [technical preview where I added this comment](https://docs.google.com/a/visma.com/document/d/1un6YX7xDKEKl5-MVb-egnOYN8dynb5Hf7mq0hipk8JE/edit?disco=AAAADPXQZA4) I would like to see for the following code snippet:

[code]

To have the same code-snippet preview as:

![](https://i.imgur.com/g4nt6kz.png)

If it was also pos

[2019-07-30 06:19] shilman commented on #7607
Hey @brennj, still documenting everything but I think it's already there. Try:

[code]

As for in-place editing, we've got our best guys on it! 😄

https://github.com/storybookjs/storybook/issues/6642

[2019-07-30 06:19] #7607 closed

[2019-07-30 07:48] brennj commented on #7607
<3 <3 <3

[2019-07-30 08:29] shilman commented on #7600
@emilio-martinez assigned you -- hope that's ok! 🙇

[2019-07-30 08:31] shilman commented on #4325
@nicgirault which part?

[2019-07-30 08:33] nbrylev opened #7619 "Theming and addon-notes code block"
Greetings!

**Describe the bug**
I use a custom theme for Storybook. `barBg` property changes background of blocks with code.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a .md file with code example inside.
2. Import it in any story.
3. Go to "Notes" section.
4. See error.

**Expected behavior**
So, I expect `barBg` to change background of top bar only.

**Screenshots**
![Снимок э

[2019-07-30 08:38] shilman commented on #7398
@rkara Sorry this got lost in the shuffle. I think I fixed it in #7596 which went out in `5.2.0-beta.18`. Can you give it a try and let me know if it solves your problem?

[2019-07-30 08:43] shilman commented on #7619
Related:

https://github.com/storybookjs/storybook/pull/5922

https://github.com/storybookjs/storybook/issues/7434

[2019-07-30 08:45] nbrylev commented on #7619
By the way, version I use are
[code]

[2019-07-30 08:46] rfreydi opened #7620 "[Angular] Storyshots 5.1.9: Cannot read property 'get' of undefined"
I reopen my previous issue which is still present :

https://github.com/storybookjs/storybook/issues/6490

I tried to modify node_modules/@storybook/addon-storyshots/dist/api/index.js :
[code]
But now I'm getting an error related to config :
[code]

[2019-07-30 08:58] shilman opened #7621 "CLI: `sb info` should print out package info"
#6937 introduced `sb info` to print out environment info, and #7225 added that to the default issue template as the way to give context for the issue.

In addition to what it already does, `sb info` should print out `@storybook/*` package information, (...and maybe also `babel`/`webpack`-related packages too?)

As a workaround we could update the issue template to instruct people to paste this inf

[2019-07-30 08:58] shilman commented on #7621
@jamesgeorge007 Any interest in following up on this?

[2019-07-30 09:07] jamesgeorge007 commented on #7621
sure :clap:

[2019-07-30 09:29] ndelangen commented on #7024
I'm on it

[2019-07-30 09:30] shilman commented on #7621
Awesome. Love it! 💯

[2019-07-30 09:49] shilman commented on #5935
On a related note @jessepinho and @leoyli also went through the perf debugging process for typescript and found that things sped up dramatically when he used babel to handle typescript instead of `awesome-ts-loader`. Referencing them so they can add some color here.

Also cc @mrmckeb who is working on turning the CRA config into a preset. Maybe we can make the docgen stuff opt-out in the process s

[2019-07-30 10:25] backbone87 commented on #7593
Decorators are the correct approach.

[2019-07-30 12:14] ndelangen commented on #7619
Fixing this now.

[2019-07-30 13:00] domjacks commented on #7398
Hi. I still get issues with `markdown-to-jsx` showing:
`Error "markdown-to-jsx: the first argument must be a string"`

I only get this when trying to add more than one story and try and select the "Docs" tab. It's like when it tries to render the non-Primary stories is bombs out.

[2019-07-30 13:19] Sjiep opened #7625 "[addon-contexts] Should I add global and qs to my package.json?"
**Describe the bug**
When adding the context addon package to my project as suggested in the README. I receive the following warning from yarn:
[code]
It appears that these two packages are listed as peer dependencies in the `package.json` of `@storybook/addon-contexts@5.1.9`. However the README doesn't mention that these two package should be installed 'manually'.

**Expected behavior**
When foll

[2019-07-30 14:10] tomitrescak commented on #4202
@shilman thanks for letting me know. I found several issues on this and all of them were closed. Will follow that one.

[2019-07-30 14:14] jamesgeorge007 opened #7626 "Misleading usage information"
[code]

The usage information should be:-
Usage: sb &lt;command&gt; [options] instead

[2019-07-30 14:22] abalad opened #7628 "[Angular] Background and Background Grid not Show"
**Describe the bug**
Background and Background GRID is not shown on the preview screen. However the same I realized that it is created in Dom but not rendered in Preview

**Screenshots**
![image](https://user-images.githubusercontent.com/5459282/62136832-4a7f5c80-b2bb-11e9-9659-2b276863d5dd.png)

![image](https://user-images.githubusercontent.com/5459282/62136877-5b2fd280-b2bb-11e9-9da3-020a27ff20

[2019-07-30 15:01] shilman commented on #7398
Are you using notes or or info? Pretty sure it has something to do with that. Do you have a repro I could look at?

[2019-07-30 15:09] rkara commented on #7398
@shilman my configuration isn't loading properly with the latest version.

The browser is firing an error of when `load` is called.

[code]

[2019-07-30 15:12] domjacks commented on #7398
Unfortunately it's a private repo. But we're using `notes`. I've just enabled DocsPage in my config:
[code]

If there is only one story for the component, it renders the docs with the primary story along with the prop table (using prop-types and docgen) all correctly. As soon as I add a second story using `.add()` I get the error.

[2019-07-30 15:17] #6992 closed

[2019-07-30 15:21] ndelangen commented on #7206
Looks like yarn does support `enhanced-resolve` which could do the same thing.

@marco-silva0000 @lroling8350 Would either of you be interested in opening a PR switching us from `resolve-from` to `enhanced-resolve`?

https://yarnpkg.com/en/docs/pnp/getting-started

https://yarnpkg.com/en/package/enhanced-resolve#readme

[2019-07-30 15:25] #7626 closed

[2019-07-30 16:18] shilman commented on #7398
@rkara there was a breaking change recently. Rename load to configure and you should be good. Also make sure it's only called once

https://github.com/storybookjs/storybook/blob/next/docs/src/pages/basics/writing-stories/index.md

[2019-07-30 16:19] shilman commented on #7398
@domjacks can you paste an example notes parameter from one of the stories that breaks?

[2019-07-30 17:03] domjacks commented on #7398
So we have this:

[code]

[2019-07-30 18:43] domjacks commented on #7398
Okay so I figured it out. It was my bad, but I declared the notes config on both stories. This is what causes the error.

Once I removed that it worked.

[code]

[2019-07-30 19:08] rkara commented on #7398
I'm still seeing the error even when I only have one set of notes defined for a story within a `ts` file.

[2019-07-30 20:20] cwhenderson20 opened #7633 "theming.lighten is not a function"
**Describe the bug**
Opening the Storybook server menu crashes the page with the error `theming.lighten is not a function`

**To Reproduce**
Steps to reproduce the behavior:
1. Run storybook server (v5.2.0-beta.18)
2. Open the "..." menu
3. Observe crash

**Expected behavior**
The overlay menu should open. It worked correctly in 5.1.9.

**Code snippets**
Stacktrace:
[code]

**System:**
[code]

**A

[2019-07-30 20:30] zchsh commented on #6000
I ran into this problem as well! I also noticed that the `backgrounds` add-on doesn't show the default background when you click "Open canvas in new tab" button.

My workaround has been to add a `<style>` tag within the story that sets the background colour I want on `body`. Since it's part of the story itself, that `body` style seems to be applied within the story's `iframe`, so the "Open canvas

[2019-07-30 23:00] shilman commented on #6713
@kevinSuttle Is this is still causing you problems?

[2019-07-30 23:22] city41 commented on #6803
I have also encountered this. I just upgraded to beta.18 to see if it's been fixed, but still see the issue.

In my case it's the same `ul { padding-left: 30px }` that OP is seeing.

[2019-07-31 00:02] city41 opened #7636 "build-storybook: calling configure more than once causes only last call to be honored"
**Describe the bug**
Calling `configure` from `@storybook/react` more than once in your `.storybook/config.js` file works just fine in dev mode. All stories for each call to `configure` are present in the storybook.

But when invoking `build-storybook`, only the stories from the last call to `configure` are present.

**To Reproduce**

using 5.2.0-beta.18

Steps to reproduce the behavior:
1. In `.s

[2019-07-31 00:35] emilio-martinez commented on #7600
@shilman sure thing! I'm on it :)

[2019-07-31 01:29] shilman commented on #6803
That's why the issue is still open :trollface:

[2019-07-31 01:45] leoyli commented on #7625
@shilman, I actually have the same question on package management here.  Should we remove the entire `peerDependencies` and put `qs` or `global` under regular dependencies? I don't see it is really necessary. One thing need to be cared is the dependencies deduplication.

[2019-07-31 02:42] kevinSuttle commented on #6713
As of beta 18 (maybe earlier), it is not! Thanks for the reminder!

[2019-07-31 02:42] #6713 closed

[2019-07-31 03:19] jeremy-deutsch opened #7637 "AddonStore crashes from bad logger import"
**Describe the bug**
In `@storybook/addons` 5.1.9, AddonStore has a bad import of `@storybook/client-logger`. This was fixed in [commit 9fb7217](https://github.com/storybookjs/storybook/commit/9fb72175b76b7ec613a34d31c15329a5333ab3b6#diff-95dd793bf940eb95d270f44051641e08), but doesn't seem to have made its way into a patch release for users still on Storybook 5.1. `@storybook/client-logger` needs

[2019-07-31 03:45] jrsearles opened #7638 "[5.2.0-beta.x] addon-knobs error: Storybook preview hooks can only be called inside decorators and story functions."
**Describe the bug**
I'm trying to update a project to use latest beta (5.2.0-beta.18), but running into issues which i think i've narrowed down to the knobs addon. I've stripped out all other addons and am still receiving this.

Full stack:
Error: Storybook preview hooks can only be called inside decorators and story functions.
    at useHook (http://localhost:58156/vendors~main.1935f7d6221d9ef14

[2019-07-31 06:04] bennypowers commented on #7084
I was able to build storybook successfully with `5.2.0-beta.18` and this command `start-storybook -p 9001 -s storybook-static`

However, once the page loaded, I got these console errors:

[code]

I get this in FF only, but in chromium (edgium) it works. I will file a separate issue.

[2019-07-31 06:11] bennypowers opened #7639 "storyStore.setPath is not a function"
**Describe the bug**
I was able to build storybook successfully with `5.2.0-beta.18` and this command start-`storybook -p 9001 -s storybook-static`

However, once the page loaded, I got these console errors:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. build storybook with `start-storybook -p 9001 -s storybook-static`
4. See error

**Expected behavior**
No errors, stories render

*

[2019-07-31 06:17] mlegait commented on #5827
Hello,

I'm sorry if it's a silly question 😅 But I'm not used to `sortStoriesByKind` and I don't find any documentation on `storySort`.

Where do these `id` come from? I would like to sort the stories manually. How can I do that?

Thank you for your help 😊

[2019-07-31 06:21] rwieruch commented on #5827
@mlegait I think `id` is the name of the story, without looking into it so I am not a 100% sure, but you can do the following to get clarity:

[code]

[2019-07-31 07:12] alihassan0 commented on #7149
@shilman I tried that and it still dosen't work.

[2019-07-31 07:36] shilman commented on #6897
Fixed in CSF conversion

[2019-07-31 07:36] #6897 closed

[2019-07-31 08:58] shilman commented on #7625
I think it's fine to put them as regular dependencies in this case. We should use peer deps when we want to use the user's version. But I don't think it matters in this case?

[2019-07-31 09:03] shilman commented on #4241
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.10 containing PR #7100 that references this issue. Upgrade today to try it out!

[2019-07-31 09:03] shilman commented on #4716
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.10 containing PR #7187 that references this issue. Upgrade today to try it out!

[2019-07-31 09:03] shilman commented on #5574
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.10 containing PR #7158 that references this issue. Upgrade today to try it out!

[2019-07-31 09:03] shilman commented on #6675
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.10 containing PR #7197 that references this issue. Upgrade today to try it out!

[2019-07-31 09:03] shilman commented on #7058
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.10 containing PR #7573 that references this issue. Upgrade today to try it out!

[2019-07-31 09:03] shilman commented on #7087
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.10 containing PR #7315 that references this issue. Upgrade today to try it out!

[2019-07-31 09:03] shilman commented on #7140
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.10 containing PR #7141 that references this issue. Upgrade today to try it out!

[2019-07-31 09:03] shilman commented on #7167
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.10 containing PR #7400 that references this issue. Upgrade today to try it out!

[2019-07-31 09:03] shilman commented on #7169
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.10 containing PR #7319 that references this issue. Upgrade today to try it out!

[2019-07-31 09:03] shilman commented on #7244
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.10 containing PR #7342 that references this issue. Upgrade today to try it out!

[2019-07-31 09:03] shilman commented on #7292
Great Caesar's ghost!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.10 containing PR #7410 that references this issue. Upgrade today to try it out!

[2019-07-31 09:03] shilman commented on #7619
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.10 containing PR #7623 that references this issue. Upgrade today to try it out!

[2019-07-31 09:03] shilman commented on #7626
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.10 containing PR #7627 that references this issue. Upgrade today to try it out!

[2019-07-31 09:29] shilman commented on #5030
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.19 containing PR #7527 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-31 09:29] shilman commented on #7024
Crikey!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.19 containing PR #7622 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-07-31 09:29] shilman commented on #7619
w00t!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.19 containing PR #7623 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-07-31 09:29] shilman commented on #7621
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.19 containing PR #7624 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-07-31 09:29] #7024 closed

[2019-07-31 09:29] shilman commented on #7626
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.19 containing PR #7627 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-07-31 09:39] vkrol commented on #7517
Probably it is fixed in `5.2.0-alpha.31` https://github.com/storybookjs/storybook/issues/6439#issuecomment-506164318.

[2019-07-31 10:17] mrmckeb commented on #5935
Yes, so the CRA preset doesn't include doc-gen at all, and I thought about that yesterday and will make it opt-in I think.

So the preset would include doc-gen for JS and TS, and you just need to turn it on. Sound fair?

[2019-07-31 10:46] shilman commented on #5935
I'm not sure about opt-out vs opt-in but we can start with opt-in. Seems like ts loading is also a pain point. Any thoughts on that?

[2019-07-31 11:36] revmischa opened #7641 "dotenv-webpack missing"
I upgraded to the latest @storybook/core and @storybook/react
and now get:
[code]

[2019-07-31 11:37] revmischa commented on #7641
and if install it, it yells at me i don't have raw-loader
if i install that too, it runs like before except for the error
    TS2305: Module '"../../../../../../../../Users/cyber/dev/jb/qc/qc-frontend/node_modules/@storybook/react/dist/client"' has no exported member 'RenderFunction'.

[2019-07-31 11:45] revmischa commented on #7641
ModuleNotFoundError: Module not found: Error: Can't resolve 'react-resize-detector' in '/Users/cyber/dev/jb/qc/qc-frontend/node_modules/@storybook/react/node_modules/@storybook/ui/dist'

[2019-07-31 11:48] revmischa commented on #7641
And after getting it to start up I get the error
`  return api.configure.apply(api, args.concat([framework]));`
[code]

[2019-07-31 12:42] josvdveen opened #7642 "Addon knobs won't reset to default value when open canvas in new tab"
**Describe the bug**
Changing a knob back to its default setting is not reflecting when opening canvas in a new tab.
When opening the story canvas in a new tab, the previous selection of the knob is still active. So for example a Boolean is still true instead of false (default value). This is also reflected in the URL parameters, witch shows true even after the Boolean is set to false (default val

[2019-07-31 12:55] andyasberry opened #7643 "How to verify in CI that all Storybooks load without error?"
Hello,

In the past, we've had issues in our projects where some changes are merged that breaks one or more storybooks (red error page instead of component). We have a checks that run when a PR is posted, inside Docker, and I would like to add a step there to validate that all storybooks work/load without error. I've thought about using Cypress or Jest, but wanted to ask around first to see if any

[2019-07-31 12:55] leoyli commented on #7625
@shilman, I think we should use it from @storybook/core, like `qs`, or `global` at least (and use ^ to allow dedup).  We can use yarn resolution to enforce consistency across the entire workspaces.  But now when I install it, I'm always seeing warnings, which seems not too good and confusing.

[2019-07-31 14:08] wlblanchette commented on #6311
I ran into this issue as well and it was related to importing from "@storybook/theming": "5.0.11"

[2019-07-31 14:24] demiro commented on #311
is this closed? I have the same issue with the latest storybook (@next - 5.2.0-beta.19)

I installed cli globally and I get for example getstorybook functioning... but for some reason the start-storybook, build-storybook commands result in errors:

been trying to make storybook work on my windows machine for past couple of hours... but nothing works (the npx -p @storybook/cli sb init works complet

[2019-07-31 14:40] rkara opened #7644 "Unable to embed mdx/md documents within mdx doc page stories"
**Describe the bug**
An error is received when attempting to embed markdown documents within a doc page story (mdx file).  Error states `Failed to execute 'createElement' on 'Document': The tag name provided ('# Markdown File....`

**To Reproduce**
Steps to reproduce the behavior:
1. Use below code along with a markdown file within story
1. Navigate to story
1. Open docs page
1. View error

**Expe

[2019-07-31 14:46] sebastian-marinescu commented on #7242
We are using storybook with a custom component-library and just stumbled upon this issue.
Before we had 5.0.11 and I remember it working - now after updating to 5.1.9, this doesn't seem to work. We noticed it in a custom accordion-component, where after adjusting the title or content via a text-knob, the toggle-click doesn't work anymore.

[2019-07-31 15:53] shilman commented on #7625
how do you propose we use it from `@storybook/core`?

typically we just make sure the versions more or less line up across packages in the monorepo and then trust that npm/yarn will do the right thing to dedupe.

in other words adding at as a direct dep of the package shouldn't add any extra overhead unless the version is radically different than `@storybook/core`'s version, which it should never

[2019-07-31 15:56] shilman commented on #311
@demiro is it only broken in 5.2.x, or do you know if it's also broken in earlier versions?

[2019-07-31 16:04] shilman commented on #7644
@rkara Thanks for filing this. As you pointed out in Discord, [transclusion is supported by MDX](https://mdxjs.com/getting-started/#documents) but it's not currently supported by Storybook. I'll see what I can do to make this work. It's a little complicated because Storybook already has a defined behavior for `.md` specifically and I think it's inconsistent with MDX. However, transcluding `.mdx` s

[2019-07-31 16:55] mejiamanuel57 commented on #7593
or if you don't want to import the plugin....

[code]

[2019-07-31 17:48] jalovatt opened #7646 "Viewport fix in 5.1.10 causes the original bug"
Our project hasn't had any trouble up to this point - for us, the fix in #7173  is now causing the problem it's meant to solve. I updated Storybook this morning and got:

![http://imgur.com/9ziWTOVl.png](http://imgur.com/9ziWTOVl.png)

- Reverting the CSS to `height: 100%` puts things back to normal.
- We are _not_ using `addon-backgrounds`, if that helps.
- We don't have much going on for addons

[2019-07-31 20:01] #6945 closed

[2019-07-31 20:01] #6924 closed

[2019-07-31 20:01] #6868 closed

[2019-07-31 20:49] sebastian-marinescu commented on #7242
I've also tested 5.1.10, and down to 5.1.5, than reverted back.
I can confirm, that downgrading to 5.0.11, makes it work again.

[2019-08-01 00:01] ndelangen commented on #5030
@shilman could you ignore this specific PR in your "Jeehaa this got fixed" script?

[2019-08-01 01:17] shilman commented on #5030
@ndelangen i'd recommend not mentioning this issue in the first line of the PR

[2019-08-01 01:42] neginbasiri commented on #3647
Failed to load preset: "C:\\Projects\\storybook\\node_modules\\@storybook\\core\\dist\\server\\manager\\manager-preset.js"

Failed to load preset: "C:\\Projects\\storybook\\node_modules\\@storybook\\core\\dist\\server\\preview\\preview-preset.js"

 TypeError: Cannot read property 'rules' of undefined

[2019-08-01 02:30] shilman commented on #7646
@Autarc can you look into this?

[2019-08-01 03:33] Autarc commented on #7646
Yeah I'm going to check it the next days!

@jalovatt Didn't face that issue before but sorry for the inconvenience.

[2019-08-01 04:07] lroling8350 commented on #7206
I'll play with this and get a PR up. I am curious what condition/scenario altered the code from using the standard require.resolve to the resolve-from. I would like to ensure i don't break that use case. I bring this up because resolve-from is useful if you want to resolve against a different directory than the one the current file exists in, however, the current implementation with resolve-from u

[2019-08-01 04:59] #6880 closed

[2019-08-01 05:46] neginbasiri commented on #311
I have the same issue using yarn run storybook

[2019-08-01 07:48] shilman commented on #7599
I think this is a fine place to put it:

[code]

What do you think?

[2019-08-01 07:51] ndelangen commented on #7206
@lroling8350 I'd be happy to your support line on discord for this
https://discord.gg/sMFvFsG

[2019-08-01 08:16] mrmckeb commented on #5935
@shilman, it shouldn't be... we are using TS with React on several projects in my company and don't have performance issues - as CRA is already using the `babel-loader`. So the preset I'm working on should be immune to these issues!

[2019-08-01 08:16] #7603 closed

[2019-08-01 08:22] Sjiep commented on #7625
@shilman @leoyli in my experience adding `qs` and `global` as dependencies to the addon-context package should work out nicely (as long as you keep the version range the same/similar). Yarn should nicely hoist/dedupe these dependencies into one.

[2019-08-01 08:57] shilman commented on #7398
@domjacks @rkara I think you guys may have a problem with your webpack loaders. I've updated the code to fail with a more legible error that's easier to debug and will hopefully be releasing that shortly.

[2019-08-01 11:24] backbone87 commented on #7379
still relevant

[2019-08-01 11:26] sebastianfrey commented on #6640
I use Storybook with Typescript. So I configured Storybook via presets.js:

[code]

But when I open DocPage for an Component, I get:

`No props found for this component`.

My Components are mostly Functional Components and as required by  `react-docgen-typescript-loader` I export them as named export.

For example:

[code]

And the related Story:

[code]
Is there something I missed?

[2019-08-01 12:39] shilman commented on #6640
@sebastianfrey looks like a typo?

[code]

But `CoordinateList` is your default export

[2019-08-01 12:43] shilman opened #7652 "Addon-docs: Transpile with babel"
Most of the files in addons/docs directory aren't transpiled by Babel, which breaks IE (again)

[2019-08-01 12:47] Edd-Strickland opened #7654 "DeprecationWarning: @storybook/addon-storysource/loader is deprecated"
**Describe the bug**
DeprecationWarning: @storybook/addon-storysource/loader is deprecated, please use @storybook/source-loader instead.

on start up of beta 5.2.0-beta.19

**To Reproduce**
install latest beta and install then run start command.

**Expected behavior**
seems this is deep linked into the core modules

[2019-08-01 13:15] Lexicality opened #7655 "addon-info works poorly with nesting & titles"
**Describe the bug**
If you use a title or a nested folder in your story name, `addon-info` shows an ugly title and does not show the documentation for the component

**To Reproduce**
Create a story with metadata in the title such as `Components/ExampleComponent` and then look at the story info pane

**Expected behavior**
The title should not include any metadata and the class documentation should

[2019-08-01 13:40] chriscarpenter12 commented on #7217
@smesko85 It seems that with this implementation it is flooding the console of Firefox and IE with messages like:

[code]

Doesn't seem to happen in Chrome.

Moving the knobs back inline to each story fixes this. After a while it basically crashes the browser from so much logging.

[2019-08-01 13:42] beltranrengifo commented on #7314
Hi there!
Just want to know if this issue is on the roadmap for future releases.
Thanks!

[2019-08-01 13:43] sebastianfrey commented on #6640
@shilman I fixed the default export without any effect.

Along the custom preset configuration, I also have a custom webpack configuration:

[code]

But I guess, this should have no effect?

Any idea how I can check, if `react-docgen-typescript-loader`s output is valid?

[2019-08-01 14:29] shilman commented on #7387
Hey @centerwork80! Completely missed this issue and just got raised back into my feed due to the stale bot. If you're still using SB Docs, please upgrade to the latest beta. I changed the way loading works in `5.2.0-beta.13`.

It's now called `configure` and you should only call it once. So yours would be:

[code]

And you wouldn't need to load the `mdx` stories because they are already imported b

[2019-08-01 14:33] shilman commented on #6640
@sebastianfrey You should be able to do something like:

[code]

I expect that this will show up as `undefined`. And if it shows up as anything other than that, you're golden.

[2019-08-01 14:59] #6133 closed

[2019-08-01 15:05] kevinSuttle commented on #7599
Looks good to me!

[2019-08-01 15:05] jalovatt commented on #7646
@Autarc Not a problem. Cheers.

[2019-08-01 15:33] shilman commented on #7654
@Edd-Strickland Can you share which packages you're using?

[2019-08-01 15:57] shilman commented on #7398
Hurrah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.20 containing PR #7650 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-08-01 15:57] shilman commented on #7602
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.20 containing PR #7649 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-08-01 15:57] shilman commented on #7652
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.20 containing PR #7653 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-08-01 15:57] #7652 closed

[2019-08-01 15:57] #7398 closed

[2019-08-01 16:06] mgcrea opened #7657 "React-native does not properly hide navBar when showNav is set to false"
**Describe the bug**

Using the proper parameters, the bottom navbar (navigator/preview/addons) should start as hidden/collapsed. However it does not seem to work.

**To Reproduce**

Tried:

[code]

But it did not change anything.

**Expected behavior**
Start with the navbar hidden/collapsed

**System:**

[code]

[2019-08-01 17:59] #6389 closed

[2019-08-01 18:32] Hypnosphi commented on #7602
Still doesn't work without global `core-js`:

[code]

[2019-08-01 18:36] sandwichsudo commented on #3982
`.storybook/webpack.config.js`

const path = require('path');
[code]

[2019-08-01 18:49] Hypnosphi commented on #7602
Oddly enough, `/Users/jetbrains/.npm/_npx/84370/lib/node_modules/@storybook/cli/node_modules/@storybook/codemod/dist/transforms/storiesof-to-csf.js:3` doesn't actually import `'core-js/modules/es6.string.iterator'`, it imports `'core-js/modules/es.array.iterator'` which exists in core-js 3

[2019-08-01 21:18] Tycholiz opened #7659 ""cannot read property 'rules' of undefined" when upgrading from v4 to v5"
After upgrading from v4 to v5, 'yarn storybook' no longer works, and I get the error above originating from my storybook/webpack.config.js. Here is that module:

storybook/webpack.config.js
[code]

I'm not exactly sure what the issue is, as webpack is something I am not totally advanced in, so it may be a simple issue I am just not understanding.

Here is also:

package.json
[code]

I scaffolded t

[2019-08-01 21:39] gmotzespina commented on #6998
I got the same error while doing the following,

[code]

### Error
[code]

[2019-08-01 21:51] shilman commented on #7659
@Tycholiz https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#webpack-config-simplification

[2019-08-01 21:51] #7659 closed

[2019-08-01 22:23] jrsearles commented on #7638
I've installed beta.20 and seems to be working now.

[2019-08-01 22:23] #7638 closed

[2019-08-01 22:34] kroeder commented on #5030
Don't mentioning it means it's harder to keep track.

[2019-08-01 22:43] shilman commented on #5030
@kroeder Please re-read my comment.

[2019-08-01 23:07] shilman commented on #7602
It's working for me. Will investigate if other people are seeing this problem.

[2019-08-02 00:30] shilman commented on #7058
Somehow project root `babel.config.js` is still being loaded. Repro: https://github.com/dburles/sb-babel-bug

Reopening this 😭

[2019-08-02 01:07] #6145 closed

[2019-08-02 05:48] sebastianfrey commented on #6640
@shilman Thankfully I am not goden. ;-)

I got it work for some of my components, by defining a second tsconfig with `jsx=preserve` instead of `jsx=react` to handle my components via ts-loader.

[code]

Then, I configured manually `ts-loader` and `react-docgen-typesript-loader` via my webpack configuration:

[code]

Unfortunately this does not work for all my components. And in addition storybook

[2019-08-02 06:13] affanshahid opened #7661 "Info Addon - Props table when using nested types with react-docgen-typescript-loader"
**Describe the bug**
I have followed the storybook docs to enable auto generation of the prop types table for my components. Things are working but there is a slight issue when I use separate nested types.
For example with the following props:

[code]
I get the following table:
![image](https://user-images.githubusercontent.com/17955210/62348251-eefcdb00-b515-11e9-8d0b-0d434a335c0d.png)

the type

[2019-08-02 06:57] dimlksin2 commented on #6984
export ADBLOCK=1 && npm i

[2019-08-02 07:07] #7020 closed

[2019-08-02 07:07] #6902 closed

[2019-08-02 07:23] zibra commented on #4691
I'm still facing this issue in storybook. Is this output from npm ls correct or not?
![image](https://user-images.githubusercontent.com/4493100/62351904-20ba7580-b507-11e9-861c-e64a151732e7.png)![image](https://user-images.githubusercontent.com/4493100/62351908-23b56600-b507-11e9-9ad5-6f28ad7c8f75.png)

[2019-08-02 07:44] zibra commented on #4691
In my case, the problem was caused by `why-did-you-update` module.

[2019-08-02 08:50] hernanif1 commented on #7189
In my case when I **REMOVE** this config it works but without the story code :(
[code]

[2019-08-02 08:51] shilman commented on #4691
Hooks fully supported in 5.2. Upgrade to try it out. Here's the PR: https://github.com/storybookjs/storybook/pull/7571

[2019-08-02 09:00] shilman commented on #7621
@jamesgeorge007 Doesn't seem to work:

[code]

I believe your change is just for globally installed `@storybook/*` packages. But what about ones that are installed in the user's project?

[2019-08-02 09:05] shilman commented on #6145
I think this was addressed here https://github.com/storybookjs/storybook/pull/5922

[2019-08-02 09:14] #7621 closed

[2019-08-02 09:17] Sjiep commented on #7625
I see that now in storybook 5.1.10, `react`, `preact` and `vue` have been adding to peer dependencies. Giving the the following warning from `yarn` (I'm using React):

[code]

I'm not entirely sure how to solve that one, you definitely wouldn't want all  `react`, `preact` and `vue` as dependencies in storybook itself.

[2019-08-02 10:10] Edd-Strickland commented on #7654
default add ons included with SB

The package is the HTML version SB

[2019-08-02 10:15] prapansak opened #7662 "[Angular 8.1.2] Can't resolve all parameters for AppComponent: (?, ?, [object Object])."
**Describe the bug**
Unable to create story, I'm using Angular `8.1.2` and Storybook `5.1.10`

**To Reproduce**
Steps to reproduce
1.  Install Storybook `npx -p @storybook/cli sb init --type angular`
2. Run Storybook `npm run storybook`
4. See error `Can't resolve all parameters for AppComponent: (?, ?, [object Object]).`

**Expected behavior**
Story works well

**Screenshots**
![image](https://us

[2019-08-02 10:22] thandaanda commented on #7662
This may solve your issue [#7457 (comment)](https://github.com/storybookjs/storybook/issues/7457#issuecomment-514236598)

[2019-08-02 10:33] prapansak commented on #7662
@thandaanda It works! Thank you so much.

[2019-08-02 10:34] shilman commented on #7654
@Edd-Strickland can you do:

[code]

[2019-08-02 10:37] brew-danica commented on #7662
For anyone else lurking - pop that in your compilerOptions and that should work a treat. As it did for me - thanks @thandaanda !

[2019-08-02 10:39] shilman commented on #7625
@leoyli why are these peer dependencies at all? i don't see them imported anywhere in addon-contexts. i think this is a bug.

[2019-08-02 10:48] shilman commented on #7314
Nobody's picked it up so far. We're in the process of releasing addon-docs, which does not have this problem and is a superset of notes, so a lot of attention is going there:

https://docs.google.com/document/d/1un6YX7xDKEKl5-MVb-egnOYN8dynb5Hf7mq0hipk8JE/edit

[2019-08-02 10:50] #7662 closed

[2019-08-02 11:07] #7032 closed

[2019-08-02 12:11] Edd-Strickland commented on #7654
on npm but I think I understand why it's doing it.

in the webpack config currently the config is set to :
`loaders: [
        {
          loader: require.resolve('@storybook/addon-storysource/loader')
       }`
But it needs to be set for 5.2 too:

`loaders: [
        {
          loader: require.resolve('@storybook/source-loader')
       }`

to work.

[2019-08-02 12:47] saviomuc commented on #7453
To all others looking for a quick solution, just add this to your jest config and make sure that you have you babel config in a `babel.config.js` file.

[code]

[2019-08-02 14:21] elevatebart opened #7664 "CLI argument to open storybook to a specific story"
**Is your feature request related to a problem? Please describe.**
I am frustrated when I have to search for the story I am looking for among the 1000 stories my storybook has.

**Describe the solution you'd like**
A CLI argument that would allow the storybook command to open to an existing story.

**Describe alternatives you've considered**
We could instead filter stories that open. We would not

[2019-08-02 14:23] elevatebart commented on #7664
@mdvorscak this was your idea, credit is due where credit is due ;)

[2019-08-02 14:25] elevatebart commented on #7664
@shilman Do you think there are enough details to start a discussion? To start coding.

[2019-08-02 14:42] hinok opened #7665 "@storybook/addon-centered@5.1.10" has unmet peer dependency "mithril@*" "preact@*"."
**Describe the bug**
Adding `@storybook/addon-centered@5.1.10` ends with displaying warnings below.
I use React in my project.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a basic project
2. Add newest storybook and storybook/addon-centered

**Expected behavior**
No warnings about peer dependencies

**Screenshots**
N/A

**Code snippets**
N/A

**System:**
[code]

**Additiona

[2019-08-02 15:02] shilman commented on #7665
We have two options here:
1) Remove the peer dependencies, implicitly depend on the various framework packages, and ignore warnings on our side
2) Add peer dependencies, explicitly depend on the various framework packages, and have users ignore warnings on their side

I think option (1) is the more user-friendly option. @leoyli @ndelangen @igor-dv  agree?

[2019-08-02 15:07] shilman commented on #7664
This sounds reasonable. How do you expect users to run it? Like this:

[code]

Or is it more of a utility for integrating with other tools?

Related #6201 #5065 #5855

[2019-08-02 15:45] tomitrescak opened #7666 "Component story format break hot reloading"
**Describe the bug**
When used the new component story format with latest 5.2 beta, the hot reloading stops working. Reverting back to old format all works.

**To Reproduce**

Used the code from: https://medium.com/storybookjs/component-story-format-66f4c32366df
Modified component, received buch of messages in the console but the component not reloaded.

**Expected behavior**
Component hot reloads

[2019-08-02 15:50] shilman commented on #7666
@tomitrescak Need a lot more context to answer your question. Do you have a repro repo I can look at?

[2019-08-02 16:28] leoyli commented on #7625
@shilman.... well I see you the persona added it:

https://github.com/storybookjs/storybook/blame/ae8baa22ef8bf019d2cee07a5ef51bb6aa711359/addons/contexts/package.json#L39

It defiantly should not be there, it just meant to make sure the tarball can be built.  And I can shape a PR to change this altogether as soon as tonight.

[2019-08-02 16:37] shilman commented on #7167
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.21 containing PR #7640 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-08-02 16:37] shilman commented on #7652
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.21 containing PR #7667 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-08-02 16:58] tomitrescak commented on #7666
Hi, yes, silly me. Here it goes:

https://github.com/tomitrescak/react-boilerplate

[2019-08-02 17:01] rdm commented on #6005
General note:

Debounce can be necessary on systems with poorly functioning keyboards (not that macbooks have ever had anything other than perfect keyboards).

However, debounce should, by default, only take effect for quickly repeated instances of the *same* character.

[2019-08-02 18:24] leoyli commented on #7665
@shilman, I agreed for (1).  The user definitely have no clue and should not care about that.  We will also need it to be stated in the contribution guide and perhaps let all maintainer knows in discord.

[2019-08-02 19:00] jnielson94 commented on #7643
Hi @andyasberry! We recently added this to our component library using the storyshots addon - https://github.com/storybookjs/storybook/tree/master/addons/storyshots/storyshots-core

We decided to go with the [`renderOnly`](https://github.com/storybookjs/storybook/tree/master/addons/storyshots/storyshots-core#renderonly) test type, since we don't want a bunch of snapshot files laying around just to

[2019-08-02 20:35] smesko85 commented on #7217
@chriscarpenter12 Sorry to hear that. I've been using this approach in React project without issue :(

[2019-08-02 21:16] jesusmaldonado commented on #7079
Still broken

[2019-08-02 22:07] #7056 closed

[2019-08-02 22:50] elevatebart commented on #7664
I was thinking of exactly this, to start with.
This would probably allow external tools to interact efficiently with the parameter
Because the story names can be lengthy, next step would be to allow to specify only part of the name. Think of it like in jest:
instead of

[code]

we would be allowed to write

[code]

... typing is hard and I am lazy ;)

[2019-08-02 22:52] beltranrengifo commented on #7314
Cool!

Will this addon-docs be available for Vue.js in short or just for React?
Is there a way I can try to help to fix the actual notes addon in Vue.js?

Thanks!

[2019-08-02 23:34] wuweiweiwu commented on #5030
@kroeder I can pick up the following!

[code]

[2019-08-03 00:50] shilman commented on #7666
Thanks. Will take a look this weekend!

[2019-08-03 01:54] jamesguan commented on #7550
@shilman I tried your example, but nothing rendering. No console errors but nothing rendering either.

[2019-08-03 02:18] shilman commented on #7550
Yeah the enclosing UI is still driven with webpack, but the "preview" portion which is the user code is run with parcel.

If you want to convert all of storybook to parcel, I don't think that will happen any time soon.

[2019-08-03 03:05] shilman commented on #7314
@beltranrengifo It's available for all frameworks already. You can see the feature support matrix here: https://github.com/storybookjs/storybook/blob/next/addons/docs/README.md

As for debugging the notes addon, you can read all about that here: https://github.com/storybookjs/storybook/blob/next/CONTRIBUTING.md

And if you want help getting going jump on our Discord and you can get realtime help t

[2019-08-03 04:37] shilman commented on #7625
@leoyli hahaha well you also see why then 😘

thanks for picking this up 🙇

[2019-08-03 04:58] shilman commented on #7666
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.22 containing PR #7670 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-08-03 04:58] #7666 closed

[2019-08-03 09:29] fvilers commented on #2962
@w2kzzz

[code]

[2019-08-03 14:36] joyfulelement commented on #7246
Hi @shilman could you help remove the `has workaround` label? Since the issue still exist with or without the suggested workaround, thanks.

[2019-08-03 15:21] #7070 closed

[2019-08-03 16:21] #5869 closed

[2019-08-03 18:03] shilman opened #7671 "Addon-docs: Design token support"
Incorporate https://github.com/UX-and-I/storybook-design-token into SB Docs

- [ ] file parsers
- [ ] presenters
- [ ] MDX-embeddable block

[2019-08-03 20:09] MrJadaml commented on #4306
This is how I ended up getting css modules to work

[code]

[2019-08-03 21:21] #7085 closed

[2019-08-03 21:24] ziel5122 commented on #7263
If I can help this move forward in any way, let me know. My team is waiting on this for our storybook to work in ie11.

[2019-08-03 21:34] adamdoyle commented on #7263
Yeah sorry about that.  I can probably do it on Monday if things aren't too busy at work.  @shilman asked me to throw together a PR and then they moved the goalposts on me a little bit.  😉

[2019-08-04 08:59] #7074 closed

[2019-08-04 23:19] affanshahid opened #7676 "Default babelrc"
Where is the default babelrc located? and would it be possible to use it for my jest configuration?

My project is TS based for which I use the typescript compiler, so I don't have a babelrc but am forced to create one to configure storyshots (since it needs to run `.storybook/config.js`). Instead of creating my own I was hoping to use the one that storybook comes with (and uses when I run `npm ru

[2019-08-05 02:09] devadeka commented on #6262
[This comment](https://github.com/storybookjs/storybook/issues/6262#issuecomment-481353727) solved my issue... I moved my `webpack.config.js` to the `.storybook` folder.

[2019-08-05 03:19] shilman commented on #6978
@kroeder is this also a problem with `examples/angular-kitchen-sink` in the monorepo?

[2019-08-05 03:38] shilman commented on #7217
Not entirely sure what's going on here because I don't use Angular. But:

1) I believe this is related to the number of messages coming through: https://github.com/storybookjs/storybook/commit/e651a3bdbc14834943a7362508ae5840f849752c
2) These messages only show up when you have log level `verbose` enabled. Maybe a workaround is to turn that off?

[2019-08-05 03:43] shilman opened #7677 "CSF: Add typescript typings"
Add typescript typings for CSF:

- [ ] default export
- [ ] story exports w/ annotations

Update monorepo examples:

- [ ] `**/*.stories.tsx?`

[2019-08-05 06:12] kroeder commented on #7677
I think we already have types for a story function.
CC @ndelangen - Didn't we add them in our pair session a couple of weeks ago?

[2019-08-05 06:48] MikeYermolayev opened #7678 "Jest is throwing an error after importing @storybook/addon-contexts/react to config.js"
**Describe the bug**
Hello,
I'm using create-react-app 3.0.1 and trying to setup the storybook.
I've set up automated snapshot testing of my stories and now I want to add context addon. But when I run `npm run test` I observe the error that Jest can't parse the file.

**To Reproduce**
Steps to reproduce the behavior:
1. Build new project using create-react-app
2. Init storybook
3. Add storyshots a

[2019-08-05 07:41] divisivadev commented on #7662
i have added "emitDecoratorMetadata": true in .storybook/tsconfig.json
[code]

[2019-08-05 08:21] shilman opened #7679 "Addon-docs: Move context provider to core"
Currently `addon-docs` is controlled by a parameter `docs`, which takes a Storybook `context` object as its parameter, and puts the content into a `DocsContext` react context. Most "doc blocks" depend on `DocsContext`.

The translation between SB context and DocsContext is done multiple places:
- In a wrapper around `DocsPage`
- In the compiled MDX code
- In any user-overridden docs parameter

Thi

[2019-08-05 09:11] wa4-fearless-otter commented on #6979
I still want this

[2019-08-05 09:15] shilman commented on #6979
@wa4-fearless-otter PRs welcome!

[2019-08-05 09:30] jack-sf commented on #5551
Mhm, FYI we had just had updated to 5.1.10 and the issue still persists.

[2019-08-05 09:34] Edd-Strickland commented on #7654
however this now causes the HMR to constantly reload.  I'm assuming we should remove the deprecated package @storybook/addon-storysource/loader?

[2019-08-05 09:39] shilman commented on #7654
@Edd-Strickland i would expect `loader: require.resolve('@storybook/addon-storysource/loader')` to work, but to issue a deprecation warning

[2019-08-05 09:44] shilman commented on #5551
@ndelangen #7256 went out in `5.1.10` but the perf issue remains. Any chance you can take a look?

[2019-08-05 09:46] Edd-Strickland commented on #7654
Again not entirely sure why this was happening other than an abstract there seems to be a conflict however if you do not remove the @storybook/addon-storysource/ install after you've installed the @storybook/source-loader it seems to cause an HMR issue were it builds and then loads the SB instance only to then restart the build.

removing the depreciated add-on install seems to reset it to not do

[2019-08-05 09:46] JamyGolden commented on #6204
@ndelangen the error I previously pasted was related to storyshots running (Which only occurs after updating the version of storybook). The errors the other dev gets when running `yarn storybook` contains a lot of similar errors, seemingly an error on every file:
[code]

[2019-08-05 10:38] mlegait commented on #5827
@rwieruch Thank you for your response :)

When I log a and b, I get something like that:
[code]
So it's perfect if I want to sort stories alphabetically but I'd like to sort them manually. Is it possible to add a custom field `order` (or something like that) or should I do it in a completely different way?

[2019-08-05 10:46] tomitrescak opened #7681 "CSS from storybook-docs interfere with story css"
**Describe the bug**

When I use a UL element in my story it is styled by storybook.

**To Reproduce**
Steps to reproduce the behavior:

Just use UL element in your story and check styles.

**Expected behavior**
A clear and concise description of what you expected to happen.

Storybook does not interfere with CSS of the component.

[2019-08-05 11:35] shilman commented on #7681
Duplicate to #6803

[2019-08-05 11:35] #7681 closed

[2019-08-05 11:37] asinitson commented on #6804
Seems to be broken again somewhere **after** Angular `8.0.1`.

Steps to reproduce:

[code]

After this running `npm start` and `npm run storybook` produce this:
![image](https://user-images.githubusercontent.com/13285303/62461439-7607b880-b78d-11e9-93d9-d0ea1fdf5713.png)

If you substitute first two envrionment variables to:
[code]
...then you get to the happy end:
![image](https://user-images.git

[2019-08-05 11:38] shilman commented on #5827
@mlegait You could add a story parameter and sort by that?

[code]

Pretty sure it will show up in `a.parameters.order`, but I didn't verify.

[2019-08-05 11:43] shilman commented on #7654
@Edd-Strickland That's pretty weird. Let's close it and feel free to re-open, holler, or open another issue if it rears its ugly head again.

The CSF stuff is reasonably documented in "writing stories" and its linked pages (IMHO, lmk if it's not):

https://github.com/storybookjs/storybook/blob/next/docs/src/pages/basics/writing-stories/index.md

The docs stuff is still WIP. Most recent docs is the

[2019-08-05 11:43] #7654 closed

[2019-08-05 12:01] chriscarpenter12 commented on #7217
My npm script to start it set to run the below command. I'm not setting verbose anywhere. Like I said it's only output in Firefox and IE not Chrome.

[code]

[2019-08-05 12:24] shilman commented on #7217
@chriscarpenter12 that's a browser setting AFAIK. at least it is in chrome

[2019-08-05 12:26] Edd-Strickland commented on #7654
thanks

[2019-08-05 12:27] mlegait commented on #5827
Thank you very much for your quick answer :)

 I tried with `storiesOf` and I managed to have something like this:
[code]
It's perfect! It'll allow me to order stories manually.

I'm currently testing the new plugin **addon-docs**, which is so promising, and I was wondering if it's possible to do something similar in a **mdx file** in the `Meta` tag for example.

[2019-08-05 12:31] shilman commented on #5827
@mlegait `Meta` and `Story` in MDX can both provide parameters in the same way 👍

[2019-08-05 12:34] shiranZe commented on #5721
@shilman thanks!! do you have a code snippet example of how to use it?

[2019-08-05 12:42] shilman commented on #5721
@shiranZe sure do: https://github.com/storybookjs/storybook/blob/next/examples/official-storybook/stories/demo/button.stories.js#L26

[2019-08-05 13:04] shiranZe commented on #5721
@shilman thank you!
but still getting the error:
React Hook "useState" is called in function "component" which is neither a React function component or a custom React Hook function

[2019-08-05 13:13] rwieruch commented on #5827
Perhaps the custom order is a a good addition for the docs :)

[2019-08-05 14:00] #7098 closed

[2019-08-05 14:07] rwieruch commented on #2083
Do you have a fix for it @VincentCharpentier ?

[2019-08-05 14:13] shilman commented on #5827
@rwieruch @mlegait Yeah, tho I think this is more of a workaround and probably not the "final" way to do it. Will noodle on that!

[2019-08-05 14:16] shilman commented on #5721
@shiranZe are you using a recent 5.2-beta?

[2019-08-05 14:18] mlegait commented on #5827
[code]
works perfectly!

I'll use this workaround while waiting for the final version.

Thank you very much for your help 😄

[2019-08-05 14:23] shilman commented on #5827
@mlegait 💯💪🎉

[2019-08-05 14:27] shiranZe commented on #5721
@shilman yes...

my code on stories/components/Menu/index.js:

`const component = () => {
 const [buttonEl, setButtonEl] = useState(null)

    const handleClick = (event) => {
        console.log('the event', event)
        setButtonEl(event.currentTarget)
    }

    return (
        <>
            <IconButton iconName={"menu-hamburger"} size="s" onClick={handleClick} color={"midGray"}></IconButto

[2019-08-05 14:36] shilman commented on #5721
@shiranZe i'd guess it's an issue with `addon-readme` -- maybe file an issue there?

[2019-08-05 16:50] shilman commented on #7165
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.23 containing PR #7684 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-08-05 16:50] #7165 closed

[2019-08-05 17:08] helsont commented on #4691
@mikkelking's suggestion did the trick for me. Just having intermediary component solves the hooks issue.

[2019-08-05 17:20] omares commented on #3593
To fix the `Expected 'styles' to be an array of strings` error, i followed the [Custom Webpack Config chapter of the storybook documentation](https://storybook.js.org/docs/configurations/custom-webpack-config/#full-control-mode) and added a custom rule that handles `scss` parsing.

The debug flag ` --debug-webpack` revealed that storybook adds a custom `scss` rule which needs to removed, as that r

[2019-08-05 18:07] VincentCharpentier commented on #2083
@rwieruch Nothing ideal, I just ignored the issue until it is fixed.
Maybe you can try @ilya-pyatin 's solution of using only the default storybook webpack rule for fonts.
Let me know if you find something interesting, I'd be happy to fix that in my project too

[2019-08-05 18:17] slorber commented on #7325
Myself using emotion 10, the css prop won't work. There are similar issues in Emotion repo btw.

[2019-08-05 19:42] aaa-magenic-eleazarj opened #7687 "Props in typescript not displayed"
**Describe the bug**
The props in typescript are not displayed when component is wrapped in HOC withStyles/withTheme of material ui. Only 'innerRef' props are displayed

**Expected behavior**
All defined props should be displayed

**Screenshots**
![image](https://user-images.githubusercontent.com/32895751/62490836-edc0fc00-b7fc-11e9-985c-9be7c1a34d4a.png)

**Code snippets**
export default withStyl

[2019-08-05 20:10] calaway commented on #3526
I don't have a question or issue to address. I'm just posting my solution here in case it helps someone else.

I am also trying to leverage StoryShots to run Axe accessibility tests on all stories and ran into a similar problem. This thread helped get me half way there, but not all the way, probably because I'm not using Enzyme to render the components.

Here is what ultimately worked for me:
[cod

[2019-08-05 22:29] shilman commented on #4691
@helsont you shouldn't need to do that anymore in a recent 5.2 beta

[2019-08-06 00:59] backbone87 commented on #7423
Not stale

[2019-08-06 05:20] bhargavshah commented on #4739
Hi, @mohamedmansour @ibrambe. This worked for me! Can you please explain this? Didn't quite get my head around this :/

[2019-08-06 06:28] govinbrice commented on #7074
Hi, just checking if someone has any update on this issue. I have this error in some of my project but in others event if I have exactly same version of :
- storybook
- @storybook/react
- @storybook/addon-info
- @storybook/addon-actions
- @storybook/addon-console

and same config files (except for webpack.config.js where I only have awesome-typescript-loader for one of projet that have the issue)

[2019-08-06 07:03] Superpencil opened #7693 "Storybook CLI host option needs subdomain on local domain for simplebar to work"
**Describe the bug**
On macOS Catalina, when running storybook server with the `-h` option, without `www.` prepended to the domain, storybook works as expected, but the top bar with view options (a simplebar) does not show.

**To Reproduce**
1. Edit `/etc/hosts` to have a custom domain (`sudo nano /etc/hosts`, change `127.0.0.1       localhost` to `127.0.0.1       localhost storybookis.cool `, wri

[2019-08-06 07:14] robaxelsen commented on #6869
This has now been[ fixed in latest markdown-to-jsx release](https://github.com/probablyup/markdown-to-jsx/releases), `6.10.3`. Huge thanks to @ariabuckles in the underlying simple-markdown for providing a fix and submitting it downstream as well.

Submitted a PR to upgrade the `markdown-to-jsx` version for notes addon.

[2019-08-06 08:34] shiranZe commented on #5721
Thank you @shilman for your reply.  I don't know if that's the problem . I tried without `addon-readme` and still getting the same error. do you have a URL of 5.2-beta story book?
i tried to take a look at `https://storybooks-official.netlify.com/` (other|demo/Button)
but i can't find there the example with react hooks.

[2019-08-06 08:49] sebslomski commented on #7678
Hi,
this seems to be an open issue. @saviomuc solved it over here: https://github.com/storybookjs/storybook/issues/7453#issuecomment-517686819

[2019-08-06 08:57] BerQin commented on #6998
I met the same mistake,How to solve

[2019-08-06 09:13] MikeYermolayev commented on #7678
@sebslomski thanks for the link. Yeah the issue is the same so probably my can be closed as duplicate.

@saviomuc looks like this solution fits for ejected CRAs but I'd like to not eject mine.

Maybe some solution with babel-plugins-macro can be made?

[2019-08-06 09:40] saviomuc commented on #7678
@MikeYermolayev If you don't want to eject you could also use https://github.com/harrysolovay/rescripts to modify the babel config.

[2019-08-06 10:35] #6869 closed

[2019-08-06 10:37] shilman commented on #7678
Cool, closing this as a duplicate! 👍

[2019-08-06 10:37] #7678 closed

[2019-08-06 11:02] MikeYermolayev commented on #7678
@saviomuc thanks a lot but still it looks like a workaround.
Do you know if it's possible to make it work out-of-the-box? Are there any plans for that?

[2019-08-06 11:41] rasmusroy commented on #7195
I'm experiencing this same issue
`
"@storybook/addon-info": "^5.1.10",
"@storybook/react": "5.2.0-beta.7",
"react": "^16.8.6",
"react-dom": "^16.8.6",
`

[2019-08-06 13:12] shilman commented on #6646
UI question. I wrote a heuristic to collapse components in the treeview. So each component gets its own page like this:

<img width="600" alt="Storybook" src="https://user-images.githubusercontent.com/488689/62542471-691ebe00-b88e-11e9-87a8-32bcefab2ebf.png">

The heuristic says "if all the node's children are leaves (stories), collapse it into a leaf with a document icon."

However, this fails in

[2019-08-06 13:41] jrsearles opened #7697 "CSF stories does not work correctly with addon-storyshots multiSnapshotWithOptions option"
**Describe the bug**
I am trying out the beta for 5.2 and have converted several stories over to CSF. What i've found is that when running storyshots, all of the stories in the CSF style end up using the generic snapshot path/file instead of creating the snapshots adjacent to the stories.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `jest` with the storyshots add on enabled and the "-

[2019-08-06 14:36] izmaylovdev commented on #7544
@kroeder

In this case you don't get errors but `this.cdr` does not work.

[2019-08-06 16:33] reggi commented on #5183
This still isn't working for me, I've seen this issue a bunch around but can't seem to find a definitive fix / upgrade path or guidelines on how to fix.

[2019-08-06 16:35] inlikealion commented on #7430
So, I'm working on my first big Storybook and Vue app. Would you say Vue with Storybook has broad enough support in the current 5.2 beta? Or are you mostly looking for React folks at this point as far as viewing this as relatively stable?

[2019-08-06 16:38] reggi commented on #4739
This works:

[code]

[2019-08-06 18:14] ArmandoAA commented on #7231
This works for me, thanks

[2019-08-06 18:14] #7231 closed

[2019-08-06 23:30] dburles opened #7698 "storiesof-to-csf removes comment above storiesOf import"
5.2.0-beta.23

It appears as though comments positioned directly above the `storiesOf` import are also removed. This is a breaking issue in this case as the comment is required.

![Screen Shot 2019-08-07 at 9 27 57 am](https://user-images.githubusercontent.com/319567/62583976-f5b09700-b8f5-11e9-88be-8c89c4534534.png)

[2019-08-06 23:43] dburles opened #7699 "CSF: storiesof-to-csf parameters with duplicate keys"
5.2.0-beta.23

Stories with more than one `addParameters({ component: ... })` result in an export containing parameters with duplicate keys for `component`. e.g:
[code]

[2019-08-07 01:50] shilman commented on #7699
@dburles what would you expect it to do in this case?

[2019-08-07 01:54] dburles commented on #7699
Should passing multiple `addParameters` to a single story been allowed in the first place? I wondered since it is possible that you couldn't also pass an array `addParameters: { components: [Card, CardHeader, ...] }`

[2019-08-07 02:31] #6914 closed

[2019-08-07 02:31] #6851 closed

[2019-08-07 02:32] shilman commented on #7699
I'd argue that the current behavior is desirable.

The codemod takes the user's current code and creates CSF-style code that preserves some of the weirdness of the original. It's up to the user to figure out what to do about it. It could also error in this case, or issue a warning to the user?

I think what it would ideally do is to create story-level parameters. But that's tricky to implement, an

[2019-08-07 02:40] shilman commented on #6136
Closing this. Please give a shout if this is not working in 5.2-beta and above!

[2019-08-07 02:40] #6136 closed

[2019-08-07 02:41] shilman commented on #7435
@jamesgeorge007 Any interest in taking a crack at this?

[2019-08-07 02:45] shilman commented on #7697
@jrsearles Good catch cc @tmeasday

[2019-08-07 02:47] shilman commented on #5183
FYI we've got some game-changing work on CRA support coming from @mrmckeb -- hopefully will make reasoning about these issues a lot easier

[2019-08-07 02:50] shilman commented on #7430
@inlikealion SB Vue support is stable and usable. Vue support SB Docs is also useable but still early. If it's useful I'd be happy to go through any issues you run into on our Discord and get them sorted out, since the documentation is still sparse. https://docs.google.com/document/d/1un6YX7xDKEKl5-MVb-egnOYN8dynb5Hf7mq0hipk8JE/edit?usp=sharing

[2019-08-07 02:53] dburles commented on #7699
Yeah, I guess generally you don't want to generate code that's broken, but if there isn't an automated way to avoid it, then I guess it's unavoidable. A warning could perhaps assist too.

[2019-08-07 03:22] tmeasday commented on #7697
🤔 I think CSF opens up the potential for refactoring how storyshots works in a much cleaner way (match on `*.stories.js`, write a Jest loader to map CSF => a test file).

In the short term is there an easy fix to this problem? I don't think we actually know the file name any more -- we could add an optional `module` to the default "component" export and pass that into `storiesOf` if it is there (t

[2019-08-07 03:22] tmeasday commented on #7697
Or maybe we do know the filename from the req?

[2019-08-07 03:30] shilman commented on #6869
Crikey!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.24 containing PR #7694 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-08-07 03:30] shilman commented on #7263
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.24 containing PR #7401 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-08-07 03:30] shilman commented on #7456
Hurrah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.24 containing PR #7680 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-08-07 03:31] #7263 closed

[2019-08-07 03:31] #7456 closed

[2019-08-07 03:35] shilman commented on #7697
I think we can get the filename from the req as a workaround.

[2019-08-07 03:52] KamalAman commented on #5935
@hjnilsson 	I added the following as a pre `storybook` npm script hook. It adds an early return to the docgen present :(

`prestorybook: node ./make-storybook-faster.js`

make-stroybook-faster.js

[code]

Building storybook on the ci server went from 10 minutes to ~2minutes

[2019-08-07 06:53] kroeder commented on #6804
I'll take a look at this later this day
Seems like a dependency injection issue

can't resolve all parameters for AppComponent(?, ?) usually  means the DI Tokens couldn't be injected into AppComponent

https://github.com/storybookjs/storybook/blob/next/app/angular/src/client/preview/angular/components/app.component.ts#L38

[code]

the first two can't be resolved, but the Story Token seems to work

[2019-08-07 07:34] Undistraction commented on #4801
Still a problem stalebot.

[2019-08-07 07:39] shilman commented on #7439
@rixo do your changes address this at all?

[2019-08-07 07:40] chris-pearce commented on #4801
Still an issue.

[2019-08-07 07:43] shilman commented on #4801
If you haven't tried it yet, `addon-docs` is currently in beta and is designed to replace `addon-info`: https://docs.google.com/document/d/1un6YX7xDKEKl5-MVb-egnOYN8dynb5Hf7mq0hipk8JE/edit?usp=sharing

[2019-08-07 08:08] ildar-icoosoft opened #7703 "Blank page in Angular storybook"
**Describe the bug**
I get blank page in Angular storybook. I'm using Ionic framework.

**To Reproduce**
Steps to reproduce the behavior:
1. install Ionic: `ionic start myApp blank`
2. install storybook: `npx -p @storybook/cli sb init --type angular`
3. run storybook: `npm run storybook`
4. canvas tab is empty (see attached screenshot)

![blank page](https://user-images.githubusercontent.com/29747

[2019-08-07 08:17] jamesgeorge007 commented on #7435
@shilman sure would be great if you could elaborate it further :clap:

[2019-08-07 08:58] metamn commented on #7583
I've just removed the story causing the error and re-added ... since then it works ... strange ... :)

[2019-08-07 08:58] #7583 closed

[2019-08-07 09:05] manuelbieh commented on #6055
@shilman Hey, sure. Just let me know how I can help. I just googled the concept of presets in Storybook, looks awesome. I guess the preset will probably look similar to what I've already done here, right?

https://github.com/manuel-bieh/ui/blob/master/config/webpack.config.js/storybook.js

[2019-08-07 09:14] shilman commented on #7435
@jamesgeorge007 For example, a user might have the following packages installed in their project:

[code]

While this is OK from a semver standpoint (theoretically these packages might work together since they are all the same major version), we want users to be using the same versions of `@storybook/*`. So in this case we'd prefer them to upgrade all their packages to match. This will minimize th

[2019-08-07 09:14] shilman commented on #7435
One tricky thing is that we have other packages, like `@storybook/design-system` that are not part of the monorepo and are on a different versionings schedule.

[2019-08-07 09:31] #6417 closed

[2019-08-07 09:32] ashleyNoDeal opened #7704 "Module not found: Error: [CaseSensitivePathsPlugin] file location issue"
**Describe the bug**
ERROR in ./src/components/_UI/ErrorMessage/errorMessage.tsx
Module not found: Error: [CaseSensitivePathsPlugin] `C:\Projects\**\**\src\components\_UI\ErrorMessage\ErrorMessage.css.tsx` does not match the corresponding path on disk `errorMessage.css.tsx`.

**To Reproduce**
Add test into same folder as component.
Run 'npm run storybook'

**Expected behavior**
Should just starts

[2019-08-07 11:30] #7703 closed

[2019-08-07 11:31] ildar-icoosoft commented on #7703
it was Ionic CSS:
[code]

So I need just override this CSS in storybook

[2019-08-07 12:02] adamdoyle opened #7706 "IE11: Object doesn't support property or method 'assign'"
**Describe the bug**
The following usage (in [lib/core/src/server/templates/index.ejs](https://github.com/storybookjs/storybook/blob/next/lib/core/src/server/templates/index.ejs#L28)) of `Object.assign(...)` in the EJS template for the manager is incompatible with IE11:

[code]

Additionally, it's ineligible for babel transformation since it's embedded in a `<script>` tag

**To Reproduce**
Steps t

[2019-08-07 12:07] adamdoyle commented on #7706
@ndelangen Looks like it was [this change](https://github.com/storybookjs/storybook/commit/1a6007d46f114d0b60f46936028bde7c5c8d097e) that switched from IE11-safe `window[/* ... */] = /* ... */` assignments to IE11-unsafe `Object.assign(/* ... */);`.

I tested switching back to the old form (but switching to the `globals` variable), which eliminated the error and _appeared(?)_ to correctly set the

[2019-08-07 12:31] #5298 closed

[2019-08-07 12:33] spacegiant commented on #7335
@diegolamanno I had this issue with loading SVG files.

It seems that Storybook now imports SVG (and some other file types) already so having a custom rule for SVG was causing a problem.

From my .storybook/webpack.config.js I deleted the whole ruleblock relating to the file type I was having problems with and this seemed to fix my problem:

`{
    test: /\.svg$/,
    loaders: ["file-loader"]
},`

[2019-08-07 13:43] shilman commented on #6055
@manuelbieh Yeah, we can probably just copy and paste from that. Want to hop on our discord and pair on it? Or if you can explain to me how to use it / test it, I can probably just whip something out.

[2019-08-07 13:48] ZebraFlesh commented on #7179
Still a problem in non-pre-release versions

[2019-08-07 13:58] iMarv commented on #7318
Just gonna bump it as this is a serious issue for us.

[2019-08-07 14:42] caamx opened #7708 "NativeScript support"
**Is your feature request related to a problem? Please describe.**
Apps created with NativeScript cannot be used with storybook.

**Describe the solution you'd like**
Apps created with NativeScript can be used with storybook.
Since NativeScript already offers the possibility to preview the apps on the device by using the NativeScript playground app and NativeScript CLI to generate a QR Code, somet

[2019-08-07 15:26] amwmedia commented on #7439
yes, I was able to work around this with the following duct tape inside of `.storybook/webpack.config.js` 😉

[code]

[2019-08-07 15:30] kroeder commented on #6804
Can confirm the above error.

This seems to be fixed in `@next`
[code]

although there's another error in `next`
[code]

A workaround for `next` is to set `skibLibCheck: true` in `.storybook/tsconfig.json`
We need to figure out the changes in `5.2.0` that might have solved this issue

We also need to figure out why `webpack-env` makes trouble in `5.2.0-beta`

[2019-08-07 15:31] #7111 closed

[2019-08-07 15:31] inlikealion commented on #7430
@shilman Thanks for the documentation hookup. Which channel in Discord should I go to for followup?

[2019-08-07 15:57] shilman commented on #7430
@inlikealion It's the `#docs-mode` channel 👍

[2019-08-07 16:59] fredboyle commented on #4878
Was there ever a solution implemented for this? This would be very useful for our team as well.

[2019-08-07 18:52] chasemccoy opened #7710 "Storybook 5.2 with CSF: __esModules story for every component"
**Describe the bug**
I installed the beta of Storybook 5.2 and ran the codmod to update our stories. Everything seemed to work just fine, except all of my components now have a story called `__esModule`. Clicking on this story displays an error message: `Attempted to set a non-object key in a WeakMap` (screenshots below)

**Screenshots**
<img width="1189" alt="Screen Shot 2019-08-07 at 1 46 22 PM"

[2019-08-07 19:18] jnielson94 commented on #7710
Something that might help diagnose the issue further - do you have any custom babel/webpack config running? It sounds like you might have a custom babel config getting picked up which might be configured incorrectly for storybook?

[2019-08-07 19:20] chasemccoy commented on #7710
@jnielson94 I do have a custom Babel config:

[code]

[2019-08-07 19:24] kharrop opened #7711 "Filter and search components by tag"
**Is your feature request related to a problem? Please describe.**
Right now, there isn't a way to filter or search through filtered items in the left navigation. While searching is available to find a specific component, it searches through all available components.

**Describe the solution you'd like**
I would like the ability to filter AND search filtered options based on tag.

For example, the

[2019-08-07 19:27] jnielson94 commented on #7710
To verify another thing, it looks like you're still using the `storiesOf` api, correct? Or did you switch to the new CSF?

[2019-08-07 19:29] chasemccoy commented on #7710
@jnielson94 Nope, I switched to CSF using the provided code-mod.

[2019-08-07 19:30] jnielson94 commented on #7710
Ah, just noticed you mentioned that in the initial description. Are you running storybook with a `BABEL_ENV` defined? If not, it looks like it'll default to commonjs, which would have babel adding something like:
[code]

To each file, which would explain why the story exists (since in CSF the export would get picked up as a story) :) Does it go away if you switch your `BABEL_ENV` to `es`?

[2019-08-07 19:34] chasemccoy commented on #7710
@jnielson94 That fixed it! Worked like a charm. This could be good to document somewhere maybe? At least in the migration guide. I definitely assumed it was a bug when I first upgraded.

[2019-08-07 19:35] jnielson94 commented on #7710
I don't know the documentation well enough to know where it would make sense to note it - @shilman might have a better idea?

[2019-08-07 19:36] adierkens commented on #7711
I wonder if this could be made slightly more generic and filter by `tag` rather than an explicit `platform`, but I'd really like to see an expansion of the search/filter capabilities!

[2019-08-07 19:37] chasemccoy commented on #7710
@jnielson94 While I've got you here, I had another question about CSF... it seems as if this doesn't work:

[code]

I used to be able to nest stories into categories using this syntax, but it doesn't seem to work now. Is this a bug or expected?

[2019-08-07 19:47] jnielson94 commented on #7710
I'm not sure if that's expected or a bug, I know that I ran into that when I tried CSF on our codebase. Using nesting like that definitely works in the default export name (storiesOf equivalent), but I don't know if that was a decision that was made to not allow stories to nest themselves...

[2019-08-07 19:49] chasemccoy commented on #7710
@jnielson94 Good to know 👍 I know it can be done with the default export, but only one of those is allowed per-file, so we couldn't have multiple nested categories without making multiple `component.stories.js` files for each component.

[2019-08-07 19:50] jnielson94 commented on #7710
Yep, that's where my experimentation landed me as well. We decided that it'd probably be useful to break them up anyway to have smaller files to deal with, so we went ahead and did that (on 5.1 actually). I'd be curious to know the official stance/reason on stories nesting themselves though :)

[2019-08-07 19:52] chasemccoy commented on #7710
@jnielson94 Cool. I will open a separate issue to discuss that. Thanks for your help! Gonna go ahead and close this out.

[2019-08-07 19:53] jnielson94 commented on #7710
I'd be tempted to leave this one open to make sure the docs question gets addressed? Otherwise, glad to help!

[2019-08-07 20:56] tylerkrupicka commented on #7711
Agreed, being able to filter in some sort of generic pattern would be helpful.

[2019-08-07 21:47] rixo commented on #7439
@shilman Not at all. But AFAIK, @amwmedia's solution is the correct way. I would have done it this way.

With my proposed changes in their current form, it should also keep working as it is. But that's more luck than anything else; I experimented with changing this rule at a point, to make it work.

Maybe that would be nice to be able to expose some particularly interesting rules / loaders / loade

[2019-08-07 23:02] fernandoagarcia commented on #7572
@nbrylev you can use this to load the markdown file just as storybook.
`
    config.module
      .rule('markdown')
      .test(/\.md?$/)
      .use('babel-loader')
        .loader('raw-loader')
        .end()
`

[2019-08-07 23:31] #7114 closed

[2019-08-07 23:53] waynebrantley commented on #3898
Any chance for this support.  We use several libraries that set Ids and other things that change when rebuilding - we do not want those snapshots to fail for those changes.

[2019-08-08 00:59] shilman commented on #3898
PR's welcome! 😘

[2019-08-08 01:10] shilman commented on #7711
Related: https://github.com/storybookjs/storybook/issues/6483

I could have sworn there was already an issue for this, but I can't find it. I'd love to add this kind of UI to Storybook! cc @domyen

[2019-08-08 01:19] shilman commented on #7710
@chasemccoy @jnielson94 Looks like you guys sorted this out while I was sleeping.

Let's add this to the docs if it comes up again. CSF picks up all named exports. Perhaps it would be useful to ignore exports whose names start with underscore? That would be a breaking change, but I'd consider it in 6.0. What do you guys think.

Related feature is you can add `includeStories`/`excludeStories` rules

[2019-08-08 01:24] chasemccoy commented on #7710
@shilman In that example above, `apple/banana` won't get turned into a nested accordion called "apple" with a story called "banana" in it, will it? That's what I am trying to achieve. Having that happen in the default export means I can't have multiple of those in one file. I'd like to avoid having multiple story files per component.

[2019-08-08 01:37] shilman commented on #7318
Have you tried the latest 5.2-beta? Worth a try if you haven't. There are some other angular-related fixes in there, tho I don't know the status of this one.

[2019-08-08 01:38] shilman commented on #7179
@ZebraFlesh Is it fixed in the prerelease version?

[2019-08-08 01:42] shilman commented on #7710
@chasemccoy I see, that's interesting. Won't change in 5.2, but we could consider something like that for a future release. No promises! cc @tmeasday

[2019-08-08 02:06] shilman commented on #7706
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.25 containing PR #7707 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-08-08 02:06] #7706 closed

[2019-08-08 02:13] chasemccoy commented on #7710
@shilman Thanks so much! 🙏 Definitely not a deal breaker for me. My team and I are super excited about CSF.

[2019-08-08 02:53] tmeasday commented on #7710
I didn't even know we supported that in the `.add()` API 😬

I think it (a) probably breaks the assumptions made in CSF and (b) is rarely used enough that we shouldn't support it.

But correct me if I am wrong on (a) or (b).

[2019-08-08 03:06] shilman commented on #7710
@tmeasday We don't support that in the `.add` API. The story will just get the name `'apple/banana'`! 😁

[2019-08-08 03:08] shilman commented on #7710
Closing this for now, reply if there's more to resolve!

[2019-08-08 03:08] #7710 closed

[2019-08-08 03:23] chasemccoy commented on #7710
Sorry, I think I explained this poorly. Here's the code we had before:

[code]

and it gave us this:

<img width="207" alt="Screen Shot 2019-08-07 at 10 22 08 PM" src="https://user-images.githubusercontent.com/8663074/62672856-d7808080-b961-11e9-8b3d-50a3f9153cde.png">

As far as I can tell, with CSF there is no way to replicate this without creating multiple files (so that you can have more defau

[2019-08-08 03:26] chasemccoy commented on #7710
What I suppose I expected when switching to CSF if that the default export title would be `Checkbox`, and then naming a story `Disabled/Checked` would allow me to get the same nesting I had before (but in a single file).

[2019-08-08 03:27] chasemccoy commented on #7710
So... I guess what I am saying is that the nesting separators seem to make more sense to me at the story level with CSF, instead of at the module level. If a module == a component in the mental model (at least this is our mental model), then it seems reasonable that you would have stories within that component that would have different nesting. But at the moment it seems nesting is only possible a

[2019-08-08 04:31] XYShaoKang opened #7717 "Addon-viewport: defaultViewport does not work"
**Describe the bug**

Addon-viewport parameter configuration `defaultViewport` does not work in Storybook 5.2

**To Reproduce**

Follow the [documentation](https://github.com/storybookjs/storybook/tree/v5.2.0-beta.25/addons/viewport#installation) installation

Configuration

[code]

Refresh storybook, `defaultViewport` does not work, Preview Area is still 100% filled.

I can switch Preview Area by

[2019-08-08 06:09] shilman commented on #7710
@chasemccoy I understood your request. The current structure is by design. Our intent is that each component will have its own file and will be placed in the user-specified position in the hierarchy. It's flexible, you can achieve what you're looking for by creating more files. But for now we're pretty sticking to the `storiesOf` structure, and we don't have any immediate plans to deviate from tha

[2019-08-08 07:27] Saitop commented on #5294
hello, after i set as your way, I got an 'cache-loader' not found issue, any thought about it?

[2019-08-08 08:02] pomeloworkspace opened #7718 "undefined is not a function (near '...regeneratorRuntime.mark...')"
**Describe the bug**
I follow the steps of Storybook to React Native but got this error when I run the app.

Require cycle: node_modules\regenerator-runtime\runtime.js -> node_modules\regenerator-runtime\runtime.js
Require cycles are allowed, but can result in uninitialized values. Consider refactoring to remove the need for a cycle.
undefined is not a function (near '...regeneratorRuntime.mark...

[2019-08-08 08:15] pomeloworkspace commented on #7718
MY package.json

  "dependencies": {
    "@storybook/addon-knobs": "^5.1.10",
    "@storybook/addon-ondevice-knobs": "^5.1.10",
    "@storybook/addon-ondevice-notes": "^5.1.10",
    "bugsnag-react-native": "^2.15.0",
    "create-react-class": "^15.6.3",
    "dateformat": "^3.0.3",
    "jcore-react-native": "^1.3.1",
    "jpush-react-native": "^2.5.1",
    "jsc-android": "236355.x.x",
    "mobx": "

[2019-08-08 08:32] flxwu commented on #866
The document title still doesn't update for me, although I'm on the latest version :(

[2019-08-08 09:58] flxwu opened #7720 "[API] storybook api onchange returns undefined kind"
**Describe the bug**
When calling `storybookAPI.onChange((kind,story) =>` as specified in the docs, story is undefined.

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
kind should be the component type, story should be the story name.

**System:**
Environment Info:

  System:
    OS: macOS 10.14.5
    CPU: (4) x64 Intel(R) Core(TM) i5-5287U CPU @ 2.90GHz
  Binaries:

[2019-08-08 11:47] thibaudcolas commented on #6194
I would also like to have a way to turn this off. The main reason is that I find the current design of notifications quite obnoxious. Then, also because I wouldn’t use this type of in-app information to keep track of new versions to start with. I also wouldn’t use this for security notices as @shilman suggests – I already use other channels for this as well, that are not specific to Storybook.

Ba

[2019-08-08 12:41] arthurpumpa opened #7722 "Latest storybook and angular doesn't work together"
**Describe the bug**
Latest storybook and angular doesn't work together
@angular version: 8.2.0
@storybook/angular version: 5.1.10

**To Reproduce**
Steps to reproduce the behavior:
1. npm install -g @angular/cli
2. ng new my-dream-app
3. cd my-dream-app
4. npx -p @storybook/cli sb init --type angular
5. npm run storybook
6. open any story

**Expected behavior**
No exceptions

**Additional context

[2019-08-08 14:10] dweng0 commented on #311
Seem to be getting this issue with Create react app, have removed the node_modules folder and re-installed. Doesn't seem to fix the issue

[2019-08-08 14:11] shilman commented on #7722
@arthurpumpa Can you include the errors to make it easier to review? Thanks!

[2019-08-08 14:19] arthurpumpa commented on #7722
![image](https://user-images.githubusercontent.com/930487/62710736-807db880-ba00-11e9-83ca-8ecfa123ef21.png)

[code]

[2019-08-08 14:46] kroeder commented on #7722
Duplicates https://github.com/storybookjs/storybook/issues/6804#issuecomment-518198870

@arthurpumpa I'm working on a fix. I haven't found the problem, though
I also added a workaround in the linked issue https://github.com/storybookjs/storybook/issues/6804#issuecomment-519149065

[2019-08-08 14:46] #7722 closed

[2019-08-08 15:08] chrisgeorge87 opened #7723 "Expo + Storybook - Navigation links don't work on web"
**Describe the bug**
The Storybook page in the web browser isn't updating when you click different stories. It always shows the first (in my case, the Welcome story that is included by default). It does update on Expo in the connected iOS simulator.  I'm using 5.2.0-beta.25 as with 5.1.x, the preview in the Navigator tab on iOS wouldn't update from selecting stories.

**To Reproduce**
Steps to rep

[2019-08-08 15:18] chasemccoy commented on #7710
@shilman Good to know! Thanks for walking me through it. Like I said, definitely not a deal breaker for us 🙂

[2019-08-08 15:20] MerlinMason commented on #1575
Has anybody found a solution to this? Would be really useful.

[2019-08-08 15:29] danielschwartz85 opened #7724 "Scrollbars always appear in the story iframe"
Hi
**The main story iframe is now always with scrollbars**
Introduced in @storybook/react@2.1.10
We use this iframe to visual test the components, this creates false negative test images for the component screen.

**To Reproduce**
Steps to reproduce the behavior:
1. install and run SB with the basic example

**Expected behavior**
Small components would not be in such a big div.

**Screenshots**
![

[2019-08-08 15:34] chrisgeorge87 commented on #7723
Adding to the above, I've since found that the 'Welcome' page content it is showing all the time is from PreviewHelp.js from react-native-server, rather than the Welcome component and story that is created when you first add storybook to a project, just for added info.

[2019-08-08 21:15] nbrylev opened #7725 "Use style files from repo with addon-cssresources"
Greetings!

**Is your feature request related to a problem? Please describe.**
Our team is making components library for inner projects and we use Storybook. We have couple of themes for components (different component's styles for every project). So I've tried addon-cssresources and faced with next problem. I can't link/use css files from components repo (so, Storybook in the same repo). As I und

[2019-08-08 22:12] #6420 closed

[2019-08-09 00:33] idbartosz commented on #3346
I'm using Lerna, internal packages are bundled by Webpack with output `libraryTarget: 'commonjs2'`. Approach based on @JasonTheAdams comment works for me. I've also tested @0nn0 solution with `{ "sourceType": "unambiguous" }` and it also works however it requires to have `.babelrc` in package root.

Some basic setup - maybe it will help someone 😉

---

file: _lerna_repo/.storybook/webpack.config.j

[2019-08-09 00:44] idbartosz commented on #3346
I'm using Lerna, internal packages are bundled by Webpack with output `libraryTarget: 'commonjs2'`. Approach based on @JasonTheAdams comment works for me. I've also tested @0nn0 solution with babelrc `{ "sourceType": "unambiguous" }` and it also works however it requires to have `.babelrc` in package root.

Some basic setup - maybe it will help someone 😉(Storybook: 5.1.10, Lerna: 3.16.4, Webpack:

[2019-08-09 02:52] shilman commented on #6644
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.26 containing PR #7716 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-08-09 07:27] stephtr commented on #7456
Should mdx files be automatically decorated by `DocsPage`?
If I export stories, `DocsPage` gets automatically created, but not for mdx, even if I add `addParameters({ docs: DocsPage });` to my configuration (which shouldn't even be necessary any more). Or do I have to wait for that until 5.3?

[2019-08-09 08:42] shilman commented on #7456
MDX is an alternative to DocsPage. DocsPage takes all your stories and turns them into documentation. MDX takes your documentation and turns it into stories (roughly). If you're writing MDX containing `<Story name="...">...</Story>" stories and it's not showing up in your storybook, perhaps you're not loading the MDX files in your `.storybook/config.js`? Feel free to jump on our Discord and I can

[2019-08-09 09:18] wbern commented on #244
I solved this in a rather crude way, but it does the trick.

add a `manager-head.html` file in your `.storybook` directory as per docs. (https://storybook.js.org/docs/configurations/add-custom-head-tags/#add-tags-or-scripts-to-the-main-ui)

inside, put the following:

[code]

start storybook, and with a slight delay, the items all get expanded.

[2019-08-09 11:30] datasoysa commented on #6136
I am still not able to make it work. Even with the latest beta version tab stays at "loading source" state

[2019-08-09 12:04] GankCC commented on #5183
I also face the same issue , and also fixed it. My project name is 'idash2' and I install it on

code/web/frontend/idash2

But the problem is I accidentally installed node_modules on this directory

code/web/frontend

After I remove code/web/frontend/node_modules and reinstall react app again , problem solved.

Credit for this solution: Parinya Onsuwan

[2019-08-09 12:08] ashleyNoDeal commented on #7704
I found the issue . If storybook calls a component and the component itself imports other components . The import path is case sensitive

[2019-08-09 13:15] johnhunter commented on #6116
hmm... reporting is turned off in production but we still make the request
https://github.com/storybookjs/storybook/blob/e5001cd9277976143c724c4f02043cb01b64a9ba/lib/ui/src/core/versions.js#L81-L88

[2019-08-09 13:28] shilman commented on #6116
@johnhunter Ouch. I'll look into this!

[2019-08-09 14:11] stramel commented on #6625
I'm no longer using this tool and it doesn't appear to be getting attention so I'm going to close.

[2019-08-09 14:11] #6625 closed

[2019-08-09 14:37] tcoz opened #7728 "Guide to set up Storybook Visual Regression for NX Angular Workspace"
Hello, thanks for looking at this.

We're an Angular team, and we use the nx extensions, build libs of all kinds (purely style, components, utilities, etc).

We're interested in understanding how, in an nx angular workspace, to configure visual regression. We managed to get it working in a vanilla CLI app, but it's pretty fragile and involves digging into a lot of plumbing. We're not confident tha

[2019-08-09 20:24] stephtr commented on #7456
Ah ok, thanks. For me everything is working as intended. I just had the feeling that there would be a way to automatically generate `DocsPage`s out of mdx, such that the the following two snippets end up being displayed in the same way (including the addition of headings and props table):
[code]

[code]

[2019-08-10 00:18] ellisio commented on #7246
I am experiencing this issue with `5.1.10` using the following `webpack.config.js`. We are using PostCSS and TailwindCSS.

[code]

The above was proposed on this thread: https://github.com/storybookjs/storybook/issues/6319#issuecomment-477852640

[2019-08-10 00:31] #6888 closed

[2019-08-10 00:39] ellisio commented on #7246
I was able to resolve this by modifying our `webpack.config.js` to be the following:

[code]

[2019-08-10 00:40] ellisio commented on #6319
For anyone stumbling onto this as of August 2019, using v5.1.10, we were able to resolve this by using the above recommendation, and making the following modifications:

1. Instead of removing the default css rule, just ignore our `../src/` directory.
2. Change the `include` on the new rule to be `../src/` and not `../`.

Full config:

[code]

[2019-08-10 01:30] morficus commented on #7593
@jacklp - how did you add the VuetifyLoaderPlugin? via Webpack or vue.config.js?

[2019-08-10 02:00] Aaron-Pool opened #7729 "Addon-docs: Support Vue JSX in MDX stories"
**Describe the bug**
A clean install of vue and addon-docs preset doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Fork: https://github.com/Aaron-Pool/storybook-vue-addon-docs-repro
2. Run `yarn storybook`

**Expected behavior**
It displays the docs for `Test.stories.mdx` correctly.

**Screenshots**
![image](https://user-images.githubusercontent.com/5634834/62816134-c9149f00-baf

[2019-08-10 02:15] shilman commented on #7729
Hi @Aaron-Pool the contents of `<Story>` need to be appropriately structured for Vue. It can be a function that returns an object, or just the return object itself.

Here's a valid example:

[code]

This should exactly parallel the return value from a regular Storybook for Vue story. https://storybook.js.org/docs/guides/guide-vue/

[2019-08-10 02:24] Aaron-Pool commented on #7729
Oh? Sorry, this example in in the technical preview threw me off

[code]

I assumed that that would work for any JSX supporting view layer, since (to my knowledge) the above has no parallel to the current usage of the way stories are written, even in the react view layer?

[2019-08-10 03:39] shilman commented on #7729
Unfortunately we're not there yet. We support JSX directly in React, but it's going to take some time to get that level of ergonomics for the other view layers. There are two reasons:

1) The contents of the `<Story>` block are passed directly to the underlying `storiesOf().add(...)` function in the Storybook API. AFAIK, `@storybook/vue` does not support JSX directly yet.
2) We might need to do so

[2019-08-10 04:01] chrisdrackett opened #7730 "@storybook/react-native error after upgrade to 5.1.10"
I upgraded `@storybook/react-native` from `5.1.9` to `5.1.10` and got the following error when building my app:

[code]

rolling back to `5.1.9` fixed the issue. Might be worth mentioning that this issue is when using `expo` and shows up when compiling for web or iOS.

[2019-08-10 04:19] Aaron-Pool commented on #7729
@shilman yeah, I actually spent about an hour digging through your mdx compiler plug-in, it seems like it should be possible to check the view layer and parse the contents of the <story> tag with a different set of Babel plugins, depending on the view layer that is active. But I tried to do a quick hack of the storybook compiler dist code and I was still running into some parsing errors. Whenever

[2019-08-10 04:40] shilman commented on #6136
@datasoysa does it work if you used chained `storiesOf().add().add()` style?

[2019-08-10 04:41] Aaron-Pool commented on #7729
Oh, and also, I don't entirely know what you specifically mean when you say "AFAIK, @storybook/vue does not support JSX directly yet". Because you can definitely use JSX with the Vue `storiesOf` API, but maybe you're talking about putting JSX directly in, rather than a function that returns JSX?

[2019-08-10 04:45] shilman commented on #7729
Yeah that's what I meant. I think the non-react view layers support stores that return objects and strings. Whereas React specifically supports JSX (React elements, to be more specific).

[2019-08-10 10:35] jacklp commented on #7593
I found the best way to achieve this was to use the vue cli to add vuetify because it adds a la carte automatically then behind the scenes.

Vue create my_project
Cd my_project
Vue add vuetify

[2019-08-10 12:54] shilman commented on #6644
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.28 containing PR #7719 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-08-10 13:16] shilman commented on #7730
Sounds like a yarn/npm issue. Can you try removing node_modules & reinstalling? And if that doesn't work, removing your package lock file also and reinstalling?

[2019-08-10 13:41] nicgirault commented on #4325
(sorry for the delay)

I start the dev server
I navigate to un story
I choose an option in a knob select list
I click on the copy button
I past the link in a new tab
In my case I get redirected from `http://localhost:9001/?path=/story/exercise-headers--sound-header&knob-Characters=4&knob-Sound Status=SOUND_PLAYING&knob-image=` to `http://localhost:9001/?path=//story/exercise-headers--sound-header`

[2019-08-10 13:49] #7052 closed

[2019-08-10 14:00] shilman commented on #7724
Closing this as a duplicate of https://github.com/storybookjs/storybook/issues/7646

Let me know if you think it's something else

[2019-08-10 14:00] #7724 closed

[2019-08-10 14:01] shilman commented on #7646
@Autarc did you have a chance to look at this? I'm going to have to back out your change if you can't get to this. Thanks!

[2019-08-10 14:02] shilman commented on #4325
@nicgirault which version?

[2019-08-10 14:33] #6889 closed

[2019-08-10 17:33] #6905 closed

[2019-08-10 17:35] #7505 closed

[2019-08-10 21:19] nicgirault commented on #4325
"@storybook/addon-actions": "^5.0.11",
    "@storybook/addon-knobs": "^5.0.11",
    "@storybook/addon-links": "^5.0.11",
    "@storybook/addons": "^5.0.11",
    "@storybook/react": "^5.0.11",
    "@storybook/theming": "^5.0.11",

And here is the code of the story:

[code]

[2019-08-10 23:33] #7161 closed

[2019-08-11 09:03] maximeg commented on #6526
Hi @leoyli, the `stale` bot closed it, but this is still an issue as of `@storybook/addon-knobs` version `5.1.10`:

[code]

![image](https://user-images.githubusercontent.com/252162/62831959-87d2db00-bc27-11e9-9856-30e35f922dec.png)

[2019-08-11 14:43] leoyli commented on #6526
@maximeg, oh thank you to bring this up!

@shilman, I think we need to change the setting on the stale bot do not close the `bug` tag...

@ndelangen, I believe the root cause is how storybook serialize the message exchanged via the channel... any idea?!  I was looking a bit but not get lost... It seems the root cause is not this addon but the internal lib.

[2019-08-11 15:35] #7159 closed

[2019-08-11 19:35] #7067 closed

[2019-08-11 23:17] ssz1100 opened #7739 "0509874102"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snippets**
If applicable, add c

[2019-08-12 07:05] fabiradi opened #7740 "Redesigned addon-jest counts pending tests and todos as "failed""
**Describe the bug**
The redesigned addon-jest handles **skipped tests** (pending) and **todos** (todo) differently compared to the previous version: They currently **don't show up in the list**. Previously, they were counted as "failed", but shown in "green" (like "passed"). This was still not perfect, but – at least – they were displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Cre

[2019-08-12 07:06] fabiradi commented on #7740
✋ As I'm already working on the fix, I would like to have this issue assigned.

[2019-08-12 08:17] shilman commented on #7740
Thanks @fabiradi !!! 🙏

[2019-08-12 08:41] hcz commented on #811
upd: this option was renamed from `selectedAddonPanel`  to `selectedPanel`.
For example:
[code]

[2019-08-12 09:20] itayod commented on #7097
I have the same problem in 5.1.10

[2019-08-12 10:26] itayod commented on #7097
I have found the problem, I passed directly the imported "readme" variable which is `{default: 'my readme'}`

adding `readme.default` fixed

[code]

[2019-08-12 11:26] datasoysa commented on #6136
yes i've also tried like that but couldn't make it running. I am using addon-info instead but it not the same thing.

[2019-08-12 11:26] datasoysa commented on #6136
Yes i've also tried like that but couldn't make it running @shilman . I am using addon-info instead but it is not the same thing.

[2019-08-12 11:54] nicholasbraun commented on #7092
I'm having the same issue.

`
    "@storybook/addon-a11y": "^5.1.10",
    "@storybook/addon-actions": "^5.1.10",
    "@storybook/addon-knobs": "^5.1.10",
    "@storybook/addon-links": "^5.1.10",
    "@storybook/addon-viewport": "^5.1.10",
    "@storybook/addons": "^5.1.10",
    "@storybook/react": "^5.1.10",
`

`
92% chunk asset optimization 92% chunk asset optimizatio

[2019-08-12 11:59] shilman commented on #7511
Hey @interactivellama anything I can do to help move this forward?

[2019-08-12 12:03] shilman commented on #4325
@nicgirault can you try updating to the latest? I think this was fixed at some point but I cannot find the exact PR at the moment.

[2019-08-12 12:06] shilman commented on #7092
@nicholasbraun Can you try upgrading to `5.2.0-beta.x` (using the version `"next"` will get you the latest) and see if you still have the problem?

[2019-08-12 12:08] web-padawan commented on #4958
@emilio-martinez any update on this?

This issue is marked as "in progress" so I'm wondering whether there is any actual progress.
I would be glad to help with reviewing and testing, and maybe some suggestions.

[2019-08-12 12:08] shilman commented on #6136
@datasoysa do you see any errors in the console? Are you using JS or Typescript? Which version of Storybook? What does your `webpack.config.js` look like?

[2019-08-12 12:12] shilman commented on #4958
@web-padawan Yes you can see @lonyele 's first draft here https://github.com/storybookjs/storybook/pull/7731

[2019-08-12 12:18] datasoysa commented on #6136
Actually no errors on console. I am not using webpack. Using a CRA project with .storybook/config.js adding the storysource addon as import '@storybook/addon-storysource/register'; to the addons.js and tried both addDecoration withStorySource and without that one. It creates the tab but only shows "loading source..."

[2019-08-12 12:35] nicholasbraun commented on #7092
@shilman It works on my local machine, but not on the server where I deploy it to. It has only 2GB of memory.

[2019-08-12 12:46] quentind commented on #7724
@shilman Thanks for looking into this. I'm experiencing the same issue on 5.1.10 and I don't think it is the same problem as the one referenced in #7646 which pertain to the `height` of the preview area.

This issue is related to the viewport having unwanted scrollbars due to whitespace/margin on the body, which is a regression compared to (live demo running on 5.1.3)[https://storybooks-official.n

[2019-08-12 12:54] shilman commented on #7092
@nicholasbraun So it's the same behavior on 5.1.10 and 5.2.0-beta.28?

[2019-08-12 13:00] nicholasbraun commented on #7092
@shilman yes.

[2019-08-12 13:01] shilman commented on #6136
@datasoysa If you're using Storybook then you're using webpack. And you need to add the appropriate webpack loader in order to view the source, otherwise you'll see "loading source...". See https://github.com/storybookjs/storybook/blob/next/addons/storysource/README.md#getting-started

[2019-08-12 13:02] shilman commented on #7092
@nicholasbraun Are you using `addon-storysource` or `source-loader`?

[2019-08-12 14:04] shilman opened #7743 "React: Disable react-docgen"
React-docgen can cause the `terser` plugin to blow up, e.g. @nicholasbraun's issue in https://github.com/storybookjs/storybook/issues/7092
https://github.com/storybookjs/storybook/issues/5935

We should:

- [ ] Allow users to opt-out of docgen in 5.3
- [ ] Disable docgen by default and move it into a preset in 6.0

[2019-08-12 14:05] shilman commented on #7092
@nicholasbraun and I were able to work around the issue by removing react docgen. I added an issue to fix this properly: https://github.com/storybookjs/storybook/issues/7743

[2019-08-12 14:19] datasoysa commented on #6136
@shilman  Thank you :) I've made a mistake on test regex. Now it is fine 👍

[2019-08-12 16:51] idahogurl opened #7744 "Preview not responsive"
**Describe the bug**
The Preview iframe does not have a viewport meta tag. This causes the page not to act responsively.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Chrome
2. Go to 'http://localhost:6006/'
3. Open 'DevTools'
4. Click 'Toggle device toolbar'
5. Enter 320 for the screen width.
6. The page does not apply applicable media queries.

**Expected behavior**
The page should

[2019-08-12 17:15] jnielson94 commented on #7643
@andyasberry & @shilman - Any reason to leave this issue open? Any other questions or things that would be helpful to have here?

[2019-08-12 19:08] macrozone opened #7745 "provide better example for async snapshot testing"
**Is your feature request related to a problem? Please describe.**

the readme of storyshots mentions a way to do async snapshot testing, e.g. if you use apollo or siilar: https://github.com/storybookjs/storybook/tree/master/addons/storyshots/storyshots-core#storyshots-for-async-rendered-components

There are two problems with that example:

- it uses enzyme, while default storybook uses react-tes

[2019-08-12 20:53] kroeder opened #7746 "Angular 8.2.0 + Storybook 5.2.0-beta.28 throws react warning"
**Describe the bug**
Despite the known `:first-of-child` error from https://github.com/storybookjs/storybook/issues/6998 the latest `@next` throws

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `npx @angular/cli new sb-example`
2. `npx @storybook/init@next init`
3. `npm run storybook`

**Expected behavior**
No warning

**Screenshots**
![image](https://user-images.githubusercontent.c

[2019-08-12 21:34] RDUBPhoto commented on #6998
Getting the exact same errors as mentioned:

`    "@angular-devkit/build-angular": "~0.802.0",
    "@angular/cli": "~8.2.0",
    "@angular/compiler-cli": "~8.2.0",
    "@angular/language-service": "~8.2.0",
    "@babel/core": "^7.5.5",
    "@storybook/addon-actions": "^5.1.10",
    "@storybook/addon-info": "^5.1.10",
    "@storybook/addon-links": "^5.1.10",
    "@storybook/addon-notes": "^5.1.10",

[2019-08-12 22:56] shilman commented on #7643
@jnielson94 I think that's a great answer. I typically leave these open until the original poster closes or `stale-bot` does :)

[2019-08-12 22:58] shilman commented on #7744
@idahogurl Any chance you can upgrade to 5.1 or 5.2-beta? I don't know whether this is fixed there, but there's a low likelihood that we'd implement a patch for 4.x at this point unless it's a major breaking issue (which it's not).

[2019-08-13 00:26] shilman commented on #7167
@CodeByAlex @ndom91 @8beeeaaat @quentind @Hypnosphi

I'm reverting #7640 and #7400. We should not be modifying the preview styles since it can conflict with the user's style and break visual tests (among other things).

We'll have to come up with a different solution to this problem. @Hypnosphi suggested `body {transformOrigin: center center;}` as an option. Whatever we do it's important that it's

[2019-08-13 00:48] CodeByAlex commented on #7167
@shilman thats a really good point and something that should have been considered. I will say that addon centered applies styles to the component to place it in the center to begin with as seen here: https://github.com/storybookjs/storybook/blob/next/addons/centered/src/styles.ts

If we want to make sure that styles aren’t interfering(which makes sense), we may want to consider how the addon works

[2019-08-13 01:36] shilman commented on #7456
Great Caesar's ghost!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.29 containing PR #7741 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-08-13 01:36] shilman commented on #7480
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.29 containing PR #7741 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-08-13 01:36] shilman commented on #7724
Great Caesar's ghost!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.29 containing PR #7750 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-08-13 01:36] shilman commented on #7167
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.29 containing PR #7749 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-08-13 01:36] #7480 closed

[2019-08-13 02:02] shilman commented on #7263
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.11 containing PR #7401 that references this issue. Upgrade today to try it out!

[2019-08-13 02:02] shilman commented on #7724
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.11 containing PR #7750 that references this issue. Upgrade today to try it out!

[2019-08-13 04:55] vipcxj opened #7754 "function props not work with addon-knobs"
**Describe the bug**
function props not work with addon-knobs because the function is not properly serialized to json.

**To Reproduce**
Because the function is not properly serialized to json by telejson, and `addon-knobs` serialized the props to the json. The error happened.

**Expected behavior**
no error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snip

[2019-08-13 05:30] lookfirst commented on #6004
Still seeing this with latest of everything.

Brave Version 0.67.124 Chromium: 76.0.3809.100 (Official Build) (64-bit)
Storybook 5.1.11 with Typescript according to the SB install with babel.
Default 'button' example converted to tsx.
CRA 3.1.0

[code]

[2019-08-13 05:53] vipcxj commented on #7754
update: even a simple funcion still not work:
[code]
the serialized function will return undefined what ever it accepts.

[2019-08-13 06:34] Autarc commented on #7646
@shilman Unfortunately I didn't had the chance yet so it might be better to revert if a fix which should have helped causes more trouble. Will come back with a more reliable solution then in the future!

[2019-08-13 08:20] #2812 closed

[2019-08-13 11:12] nekitk opened #7763 "addon-knobs | Select | Knobs after select disappear when you pass to select an object with empty string key as options"
**Describe the bug**
When you pass to select's options an object with an empty string as a key select itself renders and works properly, but all the knobs after the select fail to render.

Using `0`, `null` or `undefined` as a key doesn't affect rendering, only empty string.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit `examples/official-storybook/stories/addon-knobs.stories.js`
2. A

[2019-08-13 11:59] Haroenv opened #7764 "Addon-actions: "action" is always wrapped in an array"
**Describe the bug**

I'm trying to periodically log actions of deep objects. Because the default view is only one level deep, it's stringified, however, this wraps a bit oddly in certain circumstances.

Ideally I'd be able to use the default object representation, but be able to specify it should be expanded N levels, as well as not having the wrapping array around it.

If it is something possibl

[2019-08-13 13:37] andyasberry commented on #7643
@jnielson94 @shilman Sorry for my delayed response! This is awesome! Exactly what I was looking for. Thanks again!

[2019-08-13 13:52] #7643 closed

[2019-08-13 14:39] elevatebart commented on #6706
This is exciting !!!

[2019-08-13 16:11] BiosBoy opened #7765 "Storybook doesn't deal with external svg' defs node"
**Describe the bug**
Hi, guys! It's a quite strange error, but Storybook doesn't deal with external `defs` params from additional `svg` inside the same DOM window. More interesting to admit, that all works normally once `defs` params is inside `svg` icon itself.

**To Reproduce**
Try to build the same DOM model to reproduce through Storybook. Where you shall have both independent svg `defs` and th

[2019-08-13 17:20] akoushke commented on #6689
for some reasons `loglevel` is an unknown parameter still
![Screen Shot 2019-08-13 at 10 20 20 AM](https://user-images.githubusercontent.com/14226615/62962552-02306600-bdb4-11e9-8812-e8abee858ea6.png)

[2019-08-13 21:08] anthify opened #7766 "PropType descriptions not showing."
**Describe the bug**
PropTypes descriptions not appearing, but all other table items are visible `property`, `default`, `required`, and `propType`.

Description example.
[code]

**To Reproduce**
Followed `addon-info` docs applied it in the config file.

**Expected behavior**
PropType descriptions to appear in the PropTypes table in Storybook.

**Screenshots**
![image](https://user-images.githubuse

[2019-08-13 23:28] astorije commented on #6055
I'm currently setting CSS Modules in a shared component library written in TypeScript (apps consuming this library already use CSS Modules, but the shared library doesn't) and I ended up with this:

[code]

It's a work in progress for a few reasons which I assume are on our end (e.g. the build fails the first time because `*.d.ts.css` files do not initially exist as we are not committing them in,

[2019-08-14 07:15] Silverium commented on #7219
In my case, it was the cookies. Removed all cookies and all cached storage, and automagically Addons tab shows again!

[2019-08-14 07:15] Silverium commented on #7049
In my case, it was the cookies. Removed all cookies and all cached storage, and automagically Addons tab shows again!

[2019-08-14 08:06] esase commented on #6262
or 'stories.ts' if you use type script

[2019-08-14 08:10] shilman commented on #5164
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.30 containing PR #6949 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2019-08-14 08:10] shilman commented on #7163
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.2.0-beta.30 containing PR #7555 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-08-14 08:10] #7163 closed

[2019-08-14 08:29] sergej-s commented on #5132
Many thanks for sharing the reply! :smile: I've managed to make it working albeit had to wrap dom code into async func. Otherwise puppeteer didn't want to work.
[code]
If someone knows why plz msg.

[2019-08-14 09:28] troch commented on #4274
To fix this behaviour, the `restoreScroll` option needs to be passed to the a11 addon (which itself will pass it to axe).

[code]

[2019-08-14 09:30] prasanthLalapeta opened #7769 "Request to make knobs disable-able"
**How can i restrict and tell user that knobs action can be selected only once?**
I have a scenario where i want user to send prop only one time while component is getting mounted.

**Example:**
 Irrespective of default value to be set by developer before publishing, i need that default value from user input only once as a props. So that we can use that prop in constructor or during state initial