[2018-11-07 12:36] samjt commented on #4738
You can still add and exclusion clause to the webpack config, if that helps

[2018-11-07 12:42] soundyogi opened #4743 "How to use with metamask / injected web3 Provider / global window contexts"
Hi!

I am trying to build a ethereum dapp frontend with Storybook.
The Components need the web3 Provider that gets injected into the window context by metamask or other providers. e.g.: ```window.web3```

Of course this is not available inside the iframes since the variable is injected by a browser extension into the main window running storybook.

How can I give my components in the iframes acces

[2018-11-07 12:48] mounlion opened #4744 "React native hot reload (HMR) not working"
**Describe the bug**
React native hot reload (HMR) not working
When i try change component in story, component not update

**System:**
[code]
**Additional context**
I try use unique name for story components like
[code]
And hot reload is working and add new story component, but if i try change component with exist name component not update

[2018-11-07 14:06] jackkoppa commented on #1708
Can confirm the above solution worked well as a stopgap for me, thanks a lot @gapipro. Though it seems we only have the option to install the devtools package globally (rather than as a project dependency), so as to still be able to inject the script into the iframe. And it's not immediately obvious how to strip out the Storybook `<script>` tag when deploying Storybook to a live environment.

Any

[2018-11-07 14:44] jpeet86 commented on #4738
I get the original errors when I exclude node_modules. If it works for you then there must be an issue with some of the modules we are using. We will investigate further. Thanks for your help @samjt

[2018-11-07 17:12] bertho-zero commented on #4469
The problem is still there.

[2018-11-07 19:39] acao commented on #3990
does this need to be re-opened?

[2018-11-07 21:40] ewolfe opened #4746 "StoryShots: Add option to use shallowSnapshot with multiSnapshotWithOptions"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I would like to use multiSnapshotWithOptions while also only performing a shallow snapshot

**Describe alternatives you've considered**
I've looked through the documentation and seen the examples here https://github.com/storybooks/storybook/tree/4c757d05f162925217751bb5d61518c108d0935b/addon

[2018-11-07 21:42] jmakGH commented on #4542
@lu4 Not sure if this extends to your situation but what version of React are you using? I ran into this issue today but realized that the project I was working on was using an older version of React before the `createContext` API was added. Updating React past v16.3.0 helped solved this for me.

[2018-11-08 03:32] #4433 closed

[2018-11-08 05:08] rhys-vdw commented on #4665
For me I don't want to add a new line to .gitignore for every module that needs a cache folder. So if there's an easy way to define this globally, or in config, I'd prefer to supply a path that is already ignored.

[2018-11-08 05:29] xujianshe commented on #3952
i think you are right,  Is there any further research?

[2018-11-08 07:19] ashutoshrishi commented on #4739
CRA 2.0 typescript config wants `"jsx": "preserve"` so that it can use babel to transform the JSX. But storybook wants `"jsx": "react"`.

[2018-11-08 07:42] wuweijia commented on #4001
same problem

[2018-11-08 07:46] wuweijia commented on #4001
@chovy did you solve the problem?

[2018-11-08 07:53] y-nk commented on #1708
@jackkoppa this doesn't solve the bug on the Vue.js part, rather fixing it for storybook only... the problem is the lack of choice of frame in the devtools, which would solve storybook _and_ all the other environments using iframes, without having to force people to use the electron app. I've added a quick and dirty fix months ago but no-one seems to care.

[2018-11-08 09:58] ndelangen commented on #1708
@y-nk (over at storybook) We **do** care, I think at the devTools people care too, but are likely overloaded with work.

Did anyone reply to your POC?

What are the steps to take this POC to a real production worthy solution?
Perhaps the reason you're not getting any feedback is that a POC implies it still needs a lot of work from current maintainers to get right.

If we can minimize the amount of

[2018-11-08 10:15] Gongreg commented on #3897
Hey, since this issue is relevant to #4179 I am closing this one.

[2018-11-08 10:15] #3897 closed

[2018-11-08 10:39] Gongreg opened #4747 "Support WebView addons"
It should be possible to support addons rendered in WebView. That way we could reuse addons both in web and in React Native.

I've tried to do POC for this and it seems to be possible.
But the current idea is that every addon would get a separate webview. That might bring performance issues. We need to inspect it.

[2018-11-08 10:55] mimamuh commented on #4562
Hi @Gongreg, I added the decorator today and upgraded to `4.0.4` but still have the same error when using the knob.

[2018-11-08 11:01] Gongreg commented on #4562
@mimamuh, can you update example repo with your latest code? I can look into it.

[2018-11-08 11:02] mimamuh commented on #4562
I already did it. :) [Here is the repro.](https://github.com/mimamuh/storybook-issue-4562)

[2018-11-08 11:15] Gongreg commented on #4562
hey @mimamuh, make sure to set up decorators before setting the stories.

So if you write:

[code]

it will work.

[2018-11-08 11:51] jacksbox commented on #4315
+1 this would be handy

[2018-11-08 12:04] divyanshu-rawat opened #4748 "Using addon-knobs with vue.js"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

_Please provide issue details here - What did you expect to happen? What happened instead?_
I want to make use of  ``` withKnobs ``` in my vue.js application this is how I am importing it.

```js import { withKnobs } from '@storybook/addon-knobs/vue'; ```

### Steps to reproduce
I am writing a story f

[2018-11-08 12:46] ibrambe commented on #4739
Found the solution here: https://vincenttunru.com/migrate-create-react-app-typescript-to-create-react-app: a custom `tsconfig.json` for Storybook.

[code]

[code]

[2018-11-08 12:46] #4739 closed

[2018-11-08 12:56] jacksbox commented on #4743
you could include the metamask script inside the iframe, this way the window properties would be set there and be available to the components.

[2018-11-08 14:30] #1921 closed

[2018-11-08 15:05] rndmerle opened #4751 "How to preload assets?"
### Bug or support request summary

**Any alternative to preload-webpack-plugin ?**

We're running screenshot tests thru Storybook.
To avoid issues with invisible icons or different text when a menu opens and used fonts are not loaded, we were using preload-webpack-plugin to preload all needed fonts.

It's no longer possible under Storybook 4 because it seems html-webpack-plugin as been replaced b

[2018-11-08 17:39] adamchenwei commented on #2487
@ndelangen I just had same issue, but it just suddenly happned without a indicator how. also your 2nd link is broken

[2018-11-09 08:18] Eelsie commented on #4325
Great @shilman! Thank you! This is a great help!

[2018-11-09 08:18] #4325 closed

[2018-11-09 08:44] Gongreg commented on #2081
Hey @jqn, so to be clear you had to create StorybookUIHMRRoot even though we already create it in getStorybookUI?

[2018-11-09 10:43] reddysridhar53 commented on #4688
Is this still open?

[2018-11-09 11:12] smashercosmo commented on #4650
Relevant for me as well. I'm using svgr to include svg files as components, and now it's pretty hard to change config.

[2018-11-09 11:19] smashercosmo commented on #4650
Well, actually it's not that hard. Solved it like this:
[code]

[2018-11-09 13:13] #4646 closed

[2018-11-09 13:13] rndmerle commented on #4751
Well for now I'm using a workaround by removing hashes from fonts in Storybook's Webpack config:
[code]
And then preloading needed fonts in preview-head.html:
[code]

[2018-11-09 13:48] pouyas-github commented on #3940
@lawrenceforsytheiii It didn't fix it for me.

[2018-11-09 14:11] alisonjoseph opened #4759 "v4 no longer shows correct component in Story source"
Our users rely on storybook to know how to use our components. They use the "show info" to see the component name annd prop types table. Since upgradinng to v4 we are gettinng questions about what componennt to use since it is no lonnger visible. Is this by design or a bug? and is there any way to fix. Thank you! 🙌

This is what we get w/ v3

<img width="584" alt="screen shot 2018-11-09 at 8 09 11

[2018-11-09 15:17] lapa182 commented on #4500
Is there a feedback with this issue? Having the same problem.

[2018-11-09 15:49] dptoot commented on #4349
Is this not still an issue?  We are seeing in 4.0+ release.  It seems to resolve after HMR which is strange?

[2018-11-09 17:46] jake-harris commented on #1708
Thanks for the workaround, @gapipro.

Just a note for any copy-paste warriors like myself, don't forget to restart storybook once the config file has been created if using the standalone dev tools instance as described above.

[2018-11-09 18:12] ruudyroon opened #4760 "Does forcererender exist in @storybook/angular?"
I'm currently using @storybook/angular 4.0.2, just wanted to know if I can use forceRerender in angular like i see it being used for React.

[2018-11-09 18:12] rachel-md commented on #4665
I have Babel caching enabled but rely on the default path of `node_modules/.cache/babel-loader`. I noticed there's also a cache file for Storybook in `node_modules/.cache/react-storybook`. Why is an additional cache folder needed at the root level? Could the two folders be combined? I too prefer to have my all my cache folders in the same location which is why `node_modules` works perfect for me.

[2018-11-09 18:16] Hypnosphi commented on #4500
I believe it was fixed with #4522. Which storybook version do you use?

[2018-11-09 18:16] #4500 closed

[2018-11-09 19:50] ruudyroon commented on #4760
found the solution, closing it

[2018-11-09 19:50] #4760 closed

[2018-11-09 20:47] ruudyroon commented on #1736
How do I use this in Angular? Any examples?

[2018-11-09 21:35] ruudyroon opened #4762 "@storybook/angular/index"' has no exported member 'forceReRender'"
@storybook/angular/index"' has no exported member 'forceReRender'

[2018-11-10 00:03] MorganLester commented on #4759
Looks like you need to add displayName and that resolves it.

[2018-11-10 04:06] rhys-vdw commented on #4665
Yeah, `node_modules/.cache` seems standard and is conveniently beneath the deps folder which is already ignored.

[2018-11-10 08:43] mohamedmansour commented on #4739
This is incorrect, please follow my guide #4763  you shouldn't use `awesome-typescript-loader` you should use `babel-loader` which is inside cra2

[2018-11-10 08:54] mohamedmansour opened #4764 "create-react-app babel-loader clash"
<details><summary>Original Post Hidden As It Relates to CRAv2</summary>
<p>

When installing create-react-app 2, it already has `babel-loader` and `@babel/core` . We need to add those two as a `peerDependency`?

My `packages.json`:

[code]

The errors warnings are:

[code]

</p>
</details>

[2018-11-10 11:34] tonai commented on #4591
I'm talking about maintaining all storybook variant:
* `@storybook/react`
* `@storybook/angular`
* `@storybook/vue`
* `@storybook/ember`
* ...etc.

I don't think it will be really hard to create the `@storbyook/omi` variant as it is very close to the `@storybook/react` one.
So we may duplicate it and adapt it to `omi` but that will be a lot of duplicated code won't it ?

[2018-11-10 12:52] y-nk commented on #4516
@igor-dv i'd be happy to help if i could get any pointers to a direction, but i feel it's a deep structural change that should probably come from the core team, right ?

[2018-11-10 13:09] y-nk commented on #1708
@ndelangen i've been submitting to them a workable fork, that you can checkout and build properly to test the feature rather than a PR. I made a pretty long post on the most active discussion about iframe support in their repo about it, to make sure I'd get attention.

I decided to go this way because I believe that the current architecture of vue-devtools is honestly not ideal and i really don't

[2018-11-10 15:58] igor-dv commented on #4591
Most of the common code is located in `@storybook/core`. The only difference if the rendering mechanism. Take a look at the recent `ember` addition: #4237

[2018-11-10 16:04] vpicone commented on #4759
@MorganLester The weird thing is that requirement isn't new but it worked fine before (presumably through @babel/preset-react's "@babel/plugin-transform-react-display-name"). Wondering why that preset might not work as expected when running build-storybook in v4.

[2018-11-10 17:40] ibrambe commented on #4739
@mohamedmansour this works like a charm indeed:

[code]

no need for `awesome-typescript-loader` anymore.

[2018-11-10 22:31] fayway commented on #4739
For CRA using [react-scripts-ts](https://github.com/Microsoft/TypeScript-React-Starter)(Microsoft/TypeScript-React-Starter), I had to install:
`yarn add -D @babel/preset-typescript`

And use the following **.storybook/webpack.config.js**

[code]

[2018-11-11 09:39] igor-dv commented on #4688
I think it is.
@Muhammad-Ibrahim ?

[2018-11-11 10:33] igor-dv commented on #4516
I think so =/ There is some discussion about changing knobs anyway.

[2018-11-11 10:34] #4503 closed

[2018-11-11 10:41] igor-dv commented on #4740
I can assume this is due to options now applied on every story change

CC @tmeasday, we probably need to have some optimization there

[2018-11-11 10:44] #4711 closed

[2018-11-11 10:45] shilman commented on #4204
I've been ignoring this failure on every release but it's still a problem. @pksunkara how complicated is the fix to `run-e2e.sh`?

[2018-11-11 10:49] igor-dv commented on #4759
I can assume there is something to do with babel minification configuration

[2018-11-11 11:47] transitive-bullshit opened #4766 "RFC: npm module to generate story metadata"
Posting this here to get feedback on the idea and implementation.

My team is planning on creating an npm module along the lines of `generate-storybook-metadata`, which would generate the full storybook metadata for any valid storybook project.

E.g., it would output:

[code]

This would be really useful for allowing other projects and design system tools to integrate with Storybook.

Our current

[2018-11-11 11:51] igor-dv commented on #4764
Yes, you need. These are direct deps for CRA, but peer for the Storybook, which means you need to install them.

[2018-11-11 12:04] igor-dv commented on #4762
Thanks

[2018-11-11 12:09] igor-dv commented on #4349
Is there any error log?

[2018-11-11 12:11] igor-dv commented on #4751
SB v4 is using `html-webpack-plugin` back again.

[2018-11-11 13:47] Hypnosphi commented on #4204
@ndelangen should know better

[2018-11-11 18:15] rndmerle commented on #4751
That's cool so. Thanks!

[2018-11-11 18:15] #4751 closed

[2018-11-11 20:38] #4212 closed

[2018-11-11 21:38] #4089 closed

[2018-11-11 21:43] vpicone commented on #4759
@igor-dv The minification configuration of storybook itself? This is the .storybook/.babelrc for the project. It's only an issue comes from the statically built storybook:
`
{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 1 versions", "Firefox ESR"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "dev-expression

[2018-11-11 22:13] nickmccurdy opened #4769 "Inspector broken in React Developer Tools"
**Describe the bug**
In Storybook 4, React devtools is now properly scoped to the story (rather than Storybook itself). However, the inspect button in devtools does not let you select anything within the story pane. Additionally, the scope is broken when doing a production build with storybook-build.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Storybook using Storybook React
2. Inst

[2018-11-11 22:14] nickmccurdy commented on #102
I made a new issue for the inspector, the actual elements panel in devtools works fine: https://github.com/storybooks/storybook/issues/4769

[2018-11-11 22:59] tmeasday commented on #4740
Yeah, I guess we need to put in some memoization close to the code that doesn't cope with options being reset to the same value.

I think this could be a good one for someone to help us out with! I assume it would be pretty easy to replicate by adding some `options` parameters to one of the knobs stories in our `official-storybook`; then start digging (starting [here](https://github.com/storybooks

[2018-11-11 23:00] matt-ward commented on #4256
I also am experiencing this

[2018-11-12 04:04] y-nk commented on #4748
Hi @divyanshu-rawat !

You're actually importing `@storybook/addon-knobs/vue` but it should be `@storybook/addon-knobs`. As for now, there's no different version of knobs addon for libraries.

[2018-11-12 04:12] igor-dv commented on #4516
Can you please explain the problem behind thes issue ? I understand that the component is recreated each time you change the knob, but sounds like it is still working. Regarding the alpha, there is no alpha yet, but discussion in Discord

[2018-11-12 04:16] y-nk commented on #4516
@igor-dv if the component is created and destroyed everytime, then all the variables initialized in the internal state of the component are going back to default and so is the same with all the children of this component.

[2018-11-12 04:45] y-nk commented on #4516
@igor-dv actually, my code **and** gif can a bit misleading.

For the code, I'm using the knob in the `data()` node, but i should be using a property instead. it sets good because the value is set by storybook after the knob changes. Because of Vue accessors, it actually doesn't change so much ; but what you don't see, is that `data.i` is actually reset to 40 every time (because of this bug), and

[2018-11-12 06:38] samit4me opened #4770 "Cannot add property components, object is not extensible"
**Describe the bug**
Installed `@storybook/addon-info` to work with a Vue app, but I've been unable to get it working as it seems to break storybook as it renders the error `Cannot add property components, object is not extensible`.

I've tried to use `addDecorator` in `config.js` (breaks all stories) and also inside a single story (breaks just that story).

Also uninstall all other addon's and we

[2018-11-12 07:33] mrucelum commented on #3797
I still encounter this issue with angular 7.0.3 and storybook 4.0.4:

"dependencies": {
    "@angular/animations": "~7.0.0",
    "@angular/common": "~7.0.0",
    "@angular/compiler": "~7.0.0",
    "@angular/core": "~7.0.0",
    "@angular/forms": "~7.0.0",
    "@angular/http": "~7.0.0",
    "@angular/platform-browser": "~7.0.0",
    "@angular/platform-browser-dynamic": "~7.0.0",
    "@angular/route

[2018-11-12 07:50] igor-dv commented on #3797
@mrucelum, we are working on making the types into our repo, don't have an ETA though. But I see people above are able to run it without problems.

Anyway, If you have a reproduction I can play with to understand how to solve this, that'd be great.

@kroeder, can you suggest something as a workaround?

[2018-11-12 07:57] igor-dv commented on #4770
The official `addon-info` is platform specific, and currently has only React implementation
https://github.com/storybooks/storybook/blob/next/ADDONS_SUPPORT.md

But you can use this one https://github.com/pocka/storybook-addon-vue-info =)

[2018-11-12 08:32] kroeder commented on #3797
`@storybook/addons` is missing, isn't it?

We run an Angular 6 project with
[code]

And an Angular 7 update branch ready with
[code]

[2018-11-12 10:11] mrucelum commented on #3797
@igor-dv Here is a repo from my playing around: https://github.com/mrucelum/angular-storybook-test

However, I just noticed - as I wanted to create a clean repo - that it suddenly worked! The clean one, that is.
I tried this so many times and it never worked out and now it does all of a sudden. Very strange. The linked repo however, still requires manual adaptations. I already had to remove and re

[2018-11-12 10:35] divyanshu-rawat commented on #4748
Hi @y-nk  I tried by updating with this `@storybook/addon-knobs` as well. But it still shows this `Accessing nonexistent addons channel, see https://storybook.js.org/basics/faq/#why-is-there-no-addons-channel`

[2018-11-12 10:43] #4496 closed

[2018-11-12 11:04] mrucelum commented on #3797
Just checked again - removed node_modules and package-lock.json and still get the same error for the project in the repo I posted above. Hope you can also reproduce it with this repo! :)

[2018-11-12 14:48] jakobloekke opened #4772 "Error using withInfo: Unexpected value 'undefined' declared by the module 'DynamicModule'"
**Describe the bug**
Error when adding "withInfo" addon to storybook using Angular 7.

*Unexpected value 'undefined' declared by the module 'DynamicModule'*

**To Reproduce**
1. npm i -D @storybook/addon-info
2. Add ```import {withInfo} from '@storybook/addon-info';``` and  ```stories.addDecorator(withInfo);```
3. Start storybook
4. Go to story and see red error screen

**Expected behavior**
Not e

[2018-11-12 16:31] adamchenwei commented on #2998
still have the same issue in 4.0.0 or 4.0.4 for storybook/vue

[2018-11-12 17:10] tonai opened #4774 "Opt-out for knobs URL update"
**Is your feature request related to a problem? Please describe.**
If you have a lot of complexes props on some component, you might end up with a too long URL in the browser bar.
Then when you refresh the page or try to add iframe.html to the URL you will get an "Request-URI Too Long" error.

**Describe the solution you'd like**
Add an opt-out to not update the URL with knobs values.
Ideally you

[2018-11-12 18:00] mohamedmansour commented on #4764
This is a problem, when installing `babel-loader`, it requires `webpack` but these two dependencies are already the required dependencies of `react-scripts` for CRA2.

[code]

I don't believe it is good to make users install `babel-loader` or `@babel-core` when CRA is there, it will conflict and devs will have a trouble upgrading in the future.

Is there a better way to support this? For example,

[2018-11-12 18:06] #4217 closed

[2018-11-12 19:02] adamchenwei opened #4775 "Does Storybook cache its change by port number somewhere hidden?"
**Describe the bug**
I can't reproduce it, but I can tell what happened:
so I had two identical application repo (repo#1 and repo#2), repo#1 was running on 9001 already with a vue component call `Hello` established, while the repo #2 haven't yet setup storybook yet. So once I configed storybook in repo#2, then stopped the repo #1's storybook and started storybook for repo #2 afterward, for some re

[2018-11-12 19:15] divyanshu-rawat commented on #4748
@igor-dv  can you help with this?

[2018-11-12 19:43] emyarod opened #4776 "Addons panel position resets with each knob change"
**Describe the bug**
The position of the addons panel position resets with each story or knob change

**To Reproduce**
Steps to reproduce the behavior:
1. Reposition addons panel (`cmd`+`shift`+`G` or `ctrl`+`shift`+`G`)
2. Click on a different story or modify a story knob

The panel will then reset its position

**Expected behavior**
The storybook should remember the position of the panel for the

[2018-11-12 20:03] adamchenwei commented on #4188
its a problem still need to be resolved

[2018-11-12 20:14] adamchenwei commented on #4775
I am not sure what that is, but adding custom webpack config for sass fixed it, its here:https://storybook.js.org/configurations/custom-webpack-config/

[2018-11-12 20:14] #4775 closed

[2018-11-12 20:34] shawwn opened #4777 "The Discord invite link in README.md is broken"
**Describe the bug**
The Discord invite link in README.md is broken: https://discord.gg/sMFvFsG/

**To Reproduce**
Steps to reproduce the behavior:
1. Open discord
2. Click "Join a server"
3. Enter https://discord.gg/sMFvFsG/
4. See error

**Expected behavior**
The user should be able to join the Storybook discord server.

**Screenshots**
![image](https://user-images.githubusercontent.com/59632/48

[2018-11-12 20:52] techieshark commented on #4254
@matchu I'm curious if you still see this. I ran into the same issue - not being able to open the stories panel after having closed it, on Firefox 64bit / OS X.

I access Storybook over HTTP, but also have an HTTPS proxy to the same instance, and when accessed over HTTPS it worked.

[2018-11-12 21:03] daKmoR commented on #4321
yes that still holds true for current version `4.0.4`

[2018-11-12 21:41] fabb commented on #3992
Similar for me, `import React, { Component } from „react“;` and `class Example extends Component` worked for me. Some magic seems to be broken.

[2018-11-12 22:00] x1c0 opened #4778 "addon-storyshots not working in angular"
**Describe the bug**
After following the steps for addon-storyshots using jest-preset-angular the jests tests pass but I got this error on the Storyshots.test.js file

**To Reproduce**
Steps to reproduce the behavior:
1. clone https://github.com/x1c0/test-angular-storybook
2. run `ng test`

**Expected behavior**
I should have some screenshots

**Screenshots**
![image](https://user-images.githubuse

[2018-11-12 22:34] jrtitus commented on #4475
I _was_ running into the same problem - just started using Storybook today and trying to get it to work with a Vue project I have. Seemed like a simple set of steps to reproduce:

1. `npx -p @storybook/cli sb init`
2. `yarn storybook`

[code]
Also, I was running into #4065.

### As it turns out, I was stuck on Vue CLI v2.9.6.
**Updating to `@vue/cli` v3.1.3 fixed both issues.**

[2018-11-12 23:30] dereklin commented on #3797
I can confirm the type errors are back in this setting:

[code]

[2018-11-13 08:04] rodneyrehm commented on #4033
I still experience this with `@storybook/vue` and `@storybook/addon-knobs` in version 4.0.4.

There's a text field and I type (not paste) `hello world` (in a reasonable speed), I end up with the knobs input showing "hel d" and the browser console showing 98x `Throttling history state changes to prevent the browser from hanging.`.

The problem can be reproduced with a very simple setup:

[code]

he

[2018-11-13 08:49] donaldpipowitch commented on #4469
axe has actually two ways to configure which rules should be used. In your initial example you used an options object in the shape of `{ runOnly: {}, ... }`. This one is [documented here](https://github.com/dequelabs/axe-core/blob/develop/doc/API.md#options-parameter) and needs to be passed as a second argument to `axe.run` on this line:

https://github.com/storybooks/storybook/blob/f8feb013b8e748

[2018-11-13 09:03] samit4me commented on #4770
Oh, so sorry about that, I thought I checked that table too. Is there any plans on supporting vue or should I close this issue? Thanks for the other suggestion 👍

[2018-11-13 11:06] Pixelatex opened #4781 "Styled component + storybook crashes the snapshots"
**Describe the bug**
Running `yarn test` causes all my tests to crash on components that use styled components

**To Reproduce**
Steps to reproduce the behavior:
1. CRA setup
2. Add storybook
3. Run the snapshots for a component
4. Crashes...

**Expected behavior**
Shouldn't crash.

**Code snippets**

The custom .babelrc added because I'm using context to load all the .story.js files.
[code]
Story

[2018-11-13 12:29] Pixelatex commented on #4781
Update, removing the autoloading code with manual requires still throws the same issue:

[code]

I am aware this seems to be more of an implementation issue rather than a bug but I cannot find any information on this and styled components work as intended in other things, it's only in storybook testing that it breaks.

[2018-11-13 12:57] igor-dv commented on #4781
Can you please share the test file ?

[2018-11-13 13:03] igor-dv commented on #4770
We have this - #4341 that should replace the addon-info. No ETA though. Currently, there is no interest/focus of the maintainers to support the addon-info for each framework, but it's opened for PRs of course 😉

[2018-11-13 13:07] igor-dv commented on #3824
Just import it like anything else. `stylePreprocessorOptions` should be handled from angular-cli

[2018-11-13 13:19] igor-dv commented on #4748
You should use the same version for all the SB deps

[2018-11-13 13:42] Pixelatex commented on #4781
Seems the origin of the issue is located here:

[code]

the variables are what's causing the issue.

[2018-11-13 13:59] Pixelatex commented on #4781
I think styled comp uses context to pass the props to the children and this might be what's causing the issue, this part of the error seems to support my findings :/

[code]

[2018-11-13 14:11] simpleimpulse opened #4782 "Feature Request: Addon for live code playground"
**Introduction**
As providers of the TELUS Design System's component catalog, we'd like our users to be able to interact with potential components and experiment with various props and settings in a live code playground.

**Describe the solution you'd like**
We would like to have a live code playground that allows our users to edit source code and view the results rendered immediately.

**Describe

[2018-11-13 14:19] simpleimpulse opened #4783 "Feature Request: Ability to make Storybook more themable"
**Introduction**
As providers of the TELUS Design System's component catalog, we'd like to be able to theme our Storybook catalog, including adding the Telus logo, colours and other brand elements to give our users a consistent experience across our products.

**Describe the solution you'd like**
A theming addon or other similar solution that provides more options than what is currently available.

[2018-11-13 14:27] simpleimpulse opened #4784 "Feature Request: Versioned documentation for components"
**Introduction**
As developers of the TELUS Design System's component catalog, we would like our users to be able to view documentation for previous versions of the components if they want.
This will allow us to continue to publish patches and features to our components, without completely dropping support for our users who need to use an older version of our component for any reason.

**Describe

[2018-11-13 14:30] StevenFewster commented on #4620
sorry for jumping in on this issue, but where exactly do you put the preview-head.html file, as currently I've got it under .storybook, src and src/stories and can't get it to pick up?!  Documentation says

but as config.js is a file, I'm assuming this is the .storybook folder, but that's not working.  All help gratefully received.

[2018-11-13 14:48] igor-dv commented on #4620
it should be located under the `.storybook` dir

[2018-11-13 15:10] jansav commented on #4717
Any tips?

[2018-11-13 16:25] #4470 closed

[2018-11-13 16:39] igor-dv commented on #4644
Actually, we are mocking `vue` to use `vue.common` inside the storyshots. So probably ☝️ is not 100% accurate

[2018-11-13 16:59] vpicone commented on #4759
I wanted to share my findings from researching this. It seems the problem is that Storybook's webpack config uses the UglifyJSPlugin to mangle function names during `build-storybook`. As a result, the React component names get minified before being set (by @babel/react) as the displayName. The new minification was likely due to storybook's webpack 4 upgrade.

The three potential solutions I found

[2018-11-13 23:10] typosadovsky commented on #3758
Can we reopen this issue? It doesn't look like it's been solved. I am using JSS in my React app and the option (`propTablesExclude`) does not exclude the JSS component propTable (which is wrapped in an HOC)

[2018-11-13 23:19] vitalybe commented on #4739
@ibrambe

It semi-works - It indeed compiles TypeScript but it also doesn't do any type validation, e.g:

`const a: number = "d";`

In a story works without any error.

[2018-11-14 03:07] ChrisBrownie55 commented on #4691
This didn't work for me, I get the exact same error with or without it.

[2018-11-14 03:54] theKashey commented on #4691
Could anyone provide a bit more verbose output?
`pureSFC` should work, and it's easy to check it - _hooked_ should be called from a function named `ProxyFacade`, not `hotComponentRender`

[2018-11-14 05:05] ChrisBrownie55 commented on #4691
Nvm, I was using hooks inside of the `.add('with ...', () => { ... return (<Component></Component>) }` part which is a no go, my bad. Instead I'm creating a function outside of it and using it like `.add('with ...', () => (<ComponentWithHooks></ComponentWithHooks>))` to test it with hooks.

[2018-11-14 05:10] brandonce commented on #4373
This looks similar to https://github.com/storybooks/storybook/issues/4643

[2018-11-14 05:32] theKashey commented on #4691
And it works?

[2018-11-14 09:38] igor-dv commented on #4739
you can use [fork-ts-checker-webpack-plugin](https://github.com/Realytics/fork-ts-checker-webpack-plugin) for this.

[2018-11-14 10:29] ibrambe commented on #4739
@vitalybe @igor-dv

Upgraded to storybook 4.0.6 and using this is my webpack.config.js:

[code]

This works and has live type validation, it's based on the config in `react-scripts`, so all dependencies are already loaded if you use CRA 2.

[2018-11-14 13:07] igor-dv commented on #4644
Got it working with a bit different approach.

First of all, I can confirm that the problem is with vue/jest/typescript . So probably there is a different solution by changing something in `tsconfig`.

Currently, the `vue-jest-preprocessor` is [using](https://github.com/vire/jest-vue-preprocessor/blob/master/index.js#L65) `typescript` compiler when the `lang="ts"` is defined in the <script> of the

[2018-11-14 13:54] mdr opened #4786 "Storybook + Typescript + CRA 2: jsx react versus preserve"
I'm following the instructions to use Typescript with Storybook from within a Create React App (CRA) app as described here:

https://storybook.js.org/configurations/typescript-config/

The instructions require the following option set in `tsconfig.json`:

`   jsx": "react"`

This works perfectly; however, CRA will, when running various its scripts (e.g. unit tests) rewrite the file to change that

[2018-11-14 14:04] igor-dv commented on #4786
You can create a different tsconfig for storybook that extends the main one and only overrides options that needed.

[2018-11-14 14:06] mdr commented on #4786
Thanks @igor-dv, that sounds like it would be a great approach -- do you have an example (or pointer to docs) about how to override tsconfig for Storybook?

[2018-11-14 14:12] mdr commented on #4786
This is a dupe of https://github.com/storybooks/storybook/issues/4739

[2018-11-14 15:44] #4197 closed

[2018-11-14 16:42] vpicone opened #4787 "addon-info doesn't handle React.forwardRef appropriately"
**Describe the bug**
When forwarding a ref to a child component, the component shows up as `<Unknown>`. You can set the display name of the wrapper component to the name of the child component, but this means less legible devtools.

**To Reproduce**
Steps to reproduce the behavior:
1. Export a component with a React.forwardRef wrapper:
2. View the story source section of addon-info

*Note:* If you

[2018-11-14 17:07] igor-dv commented on #4778
PR is here - https://github.com/x1c0/test-angular-storybook/pull/1

[2018-11-14 17:54] slorber commented on #3018
Hi @FredyC

Sorry but I'm not sure how you deal with dynamic story imports in RN currently and I'm looking for a solution.

I've found this that may be handy as a workaround https://github.com/elderfo/react-native-storybook-loader

[2018-11-14 18:02] jrtitus commented on #4001
@wuweijia I recently ran into this same problem. @nickdandakis's solution above worked for me. Just make sure you remember to `yarn add --dev vue-style-loader css-loader sass-loader`.

[2018-11-14 18:42] igor-dv commented on #4001
Would be great if you could PR to docs your findings

[2018-11-14 19:33] RuneKR opened #4788 "Memory leak and high cpu when using symlinks"
**Describe the bug**
Memory leak and high cpu when using symlinks

**To Reproduce**
I am using storybook v3.4.11. I can provide an example repo on request.

I have a monorepo setup:

- node_modules (root of symlink)
- packages/node_modules/my-scope/
  - packagea
    - node_modules (symlink)
  - packageb
    - node_modules (symlink)

**Expected behavior**
When i use symlinks the CPU goes to 99% and

[2018-11-14 19:48] RuneKR commented on #4788
I suspect it might be related to my require.context:

```require.context('../packages/node_modules/@my-scope/', true, /story\.tsx$/)```

since i will have a node_modules folder under `@my-scope/{package}`

[2018-11-14 19:53] igor-dv commented on #4778
If there are some missing action items in docs, that'd be great you could add them 😉

[2018-11-14 19:53] #4778 closed

[2018-11-14 19:59] FredyC commented on #3018
@slorber Sorry, I've kinda left a world of React Native, so I am not really focused on looking for a solution.

@Hypnosphi I guess you can close it now or if @slorber wants to take over ... ?

[2018-11-14 20:14] x1c0 commented on #4778
Sure! I’ll do, once again thanks for your help

[2018-11-15 00:15] lifeiscontent commented on #4525
@igor-dv do you know who might be able to look into this?

[2018-11-15 00:18] lifeiscontent commented on #4487
@igor-dv do you know who I could talk to about how knobs work so I could
implement this?
On Wed, Nov 14, 2018 at 2:15 AM stale[bot] <notifications@github.com> wrote:

[2018-11-15 04:05] charrondev commented on #4499
I certainly wouldn't want to see this automatically closed. The way markdown works with the generated documentation seems to be a little bit of a let down.

[2018-11-15 04:06] fillipvt opened #4790 "While using jest-addon with --json and --watch together an infinite loop is triggered"
**Describe the bug**
When using --json and --watch together a infinite jest test loop occurs

**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple jest test
2. Implement jest-addon
3. Create a script like this: `"test:output:watch": "jest --json --outputFile=jest-lock.json --watch"`
4. See infinite loop on console when running `nom test:output:watch`

**Expected behavior**
There sh

[2018-11-15 04:16] charrondev commented on #1147
Has there been any additional movement on this? I'd be interested in helping out, but I'd want to get some clear acceptance criteria before sinking time into it.

[2018-11-15 09:29] x1c0 commented on #4778
would it be better if I try to fix it on https://github.com/storybooks/storybook/tree/next/examples/angular-cli and then add maybe a link into main README on the angular section?

[2018-11-15 09:54] NickToye commented on #3940
I can also confirm this didn't fix it for me either.

[2018-11-15 10:00] 0nn0 commented on #3346
@cilice How did you solve this?

[2018-11-15 14:19] Muhammad-Ibrahim commented on #4688
yes it is, @reddysridhar53  @igor-dv

[2018-11-15 14:30] shilman commented on #4543
Confirmed fixed in repro repo

[2018-11-15 14:30] #4543 closed

[2018-11-15 14:41] shilman commented on #4762
Fixed in https://github.com/storybooks/storybook/releases/tag/v4.0.7

[2018-11-15 14:41] #4762 closed

[2018-11-15 18:15] adamchenwei opened #4793 "storyshot broken with error Module not found: Error: Can't resolve 'fs'"
**Describe the bug**
Massive cant resolve 'fs' came up with storyshot config after jest already configed and storybook was running correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/adamchenwei/boilerplate-webpack-babel-sass-storybook-vuejs
2. npm install && npm run storybook
4. See error

**Expected behavior**
storyshot should not cause error prevent sto

[2018-11-15 20:37] iambumblehead opened #4794 "vuejs addDecorator(withOptions({ name: 'bah', theme: { mainBackground: 'red' } })) does not change storybook page name or color"
**Describe the bug**
using addDecorator(withOptions({ name: 'bah', theme: { mainBackground: 'red' } })) does not affect storybook pages using vuejs.

**To Reproduce**
Steps to reproduce the behavior:
1. Write the following to your vue project's _.storybook/config.js_: `addDecorator(withOptions({ name: 'bah', theme: { mainBackground: 'red' } }))`
2. run the storybook application and see the page wi

[2018-11-15 22:18] theiliad opened #4796 "Uncaught TypeError: Object(...) is not a function - @emotion"
**Describe the bug**
When updating `@storybook/react` to `4.0.7`, we are receiving the following error:

![image](https://user-images.githubusercontent.com/14989804/48585305-414f8a80-e8fa-11e8-90e4-09751334e091.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/IBM/carbon-charts
2. Update `@storybook/react` version in `packages/react/package.json` to `4.0.7`
3. Run

[2018-11-15 22:42] nathanaelphilip commented on #4794
Having same issue.

[code]

[2018-11-16 00:56] hoanguyen311 opened #4797 "Add support for Rax framework"
**Is your feature request related to a problem? Please describe.**
I'm very interested in this project and want to apply it for my tasks in company but it lacks of support for Rax which is the framework I'm using.

https://github.com/alibaba/rax

**Describe the solution you'd like**
Can you add support for this framework?

**Describe alternatives you've considered**
Provide a guideline for adding

[2018-11-16 01:37] wuweijia commented on #4001
I have fixed this problem. Thank you

[2018-11-16 08:46] shilman commented on #4796
https://github.com/storybooks/storybook/blob/next/MIGRATION.md#react-163

Please upgrade to React 16.3+ and this problem should go away. We hope to re-introduce support for older versions of React in Storybook 4.1 coming soon.

[2018-11-16 09:17] amittkSharma opened #4799 "Migration to Storybook 4 issue with webpack config"
Hi Team,

During migration the storybook to new version 4.0.7, there is an issue in starting the storybook. Webpack is freaking out. The application is based on Create-React-App 1 and storybook has an extended webpack.config.js.  There are two issues:

1. Failed to load presets
2.  Cannot read property 'rules' of undefined (During the loading custom webpack config task)

The webpack config looks l

[2018-11-16 13:49] Itrulia commented on #4298
So I am trying to get this to work with typescript.

[code]

[code]

This will result in a warning like this

[code]

import is: `import {ReactComponent as Youtube} from "./youtube.svg";`

What am I missing?

[2018-11-16 14:09] #4665 closed

[2018-11-16 14:15] developer239 commented on #3044
I accidentally run into this issue when I upgraded to the newest webpack. Version `4.20.2` works fine.

[code]

[2018-11-16 15:07] Undistraction opened #4801 "Decorator Children Displayed In Story Source"
**Describe the bug**
If a decorator itself uses child components, those components are displayed in the Story Source. This can be seen in the following example, where the decorator uses a child component to handle the layout. Prop Tables are also displayed for each of these components. There is no way to exclude these components using the `withInfo` addon as they are internal to the Component.

**

[2018-11-16 15:59] pkuczynski commented on #4665
Thanks @alex-fournier !

[2018-11-16 16:04] theiliad commented on #4796
Working again, thanks 👍

[2018-11-16 16:36] igor-dv commented on #4487
@lifeiscontent , sorry for the delay =) you can chat with us on [Discord](https://discord.gg/3DUuDqn):

[2018-11-16 20:30] hipstersmoothie commented on #1147
Definitely needs some docs for using the pure docgen plugin. The only one i could find for typescript I could not get to work. Whereas the info plugin works fine

[2018-11-16 21:28] mick-feller opened #4802 "Static build (S)css issue"
**Describe the bug**
When running storybook everything works perfect as soon as i'm generating a static build most of my scss files are not being included

**Expected behavior**
I expect that the static build looks the exact same as the storybook run command.

**Screenshots**
When running Storybook:
![image](https://user-images.githubusercontent.com/32658692/48647966-a0c19f00-e9bb-11e8-97a1-305603

[2018-11-17 02:54] andoshin11 commented on #4644
Yes! It finally worked for me!
Appreciate your help:)

Here's the tweak I have done 👇

https://github.com/andoshin11/spa-playground/pull/10

[2018-11-17 07:39] #3787 closed

[2018-11-17 07:48] #4644 closed

[2018-11-17 13:42] a-trost commented on #4694
This seems to be due to overflow hidden on the div that contains the entire knobs panel. Unchecked it displays, and it only happens at the bottom of a list of knobs.
![image](https://user-images.githubusercontent.com/19617280/48661729-b7600880-ea44-11e8-9383-ff608109c1bc.png) This is with "Overflow:hidden" removed from that container div.

[2018-11-17 14:08] igor-dv commented on #4802
Hey @mick-feller ,do you have a reproduction somewhere?

[2018-11-17 14:34] mick-feller commented on #4802
Here you go:
https://github.com/mick-feller/storybook-build-debug

Tried to make it as small as possible but left all addons etc.

I've in the meanwhile upgraded to the new alpha version to see if that helped, no luck there either

[2018-11-17 14:37] igor-dv commented on #4799
So, I understand that before migration to v4 everything worked ok with this custom `webpack.config.js`? Can you also share some stack trace / error log?

[2018-11-17 14:45] igor-dv commented on #4797
Hey @hoanguyen311, we do not have any formal guideines for a new framework support, but you can take a look on the last PR (#4237) for ember.

Also, you can talk with us on Discord if you need any help =)
You can just open a PR with some minimal working POC, and we will guide you.

[2018-11-17 15:30] igor-dv commented on #4499
We are currently focused on other features and infra changes
Any help is appreciated.

[2018-11-17 15:32] igor-dv commented on #4545
Here are the docs for theming:

https://storybook.js.org/configurations/theming/

[2018-11-17 15:32] #4545 closed

[2018-11-17 15:36] igor-dv commented on #4788
Can we help in some way? It's not directly related to Storybook, but if you have some reproduction I will try to take a look.

[2018-11-17 16:10] bartdominiak commented on #4475
Hi, I've the same problem with `cannot find module 'babel-preset-vue`
Even if I've `@vue/cli:3.1.3`

[2018-11-17 18:01] kwintessential2 opened #4803 "I don't see a "play" option anymore"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snippets**
If applicable, add c

[2018-11-17 18:38] dfee commented on #4739
@ibrambe: why are you using `fork-ts-checker-webpack-plugin-alt` instead of `fork-ts-checker-webpack-plugin`?

[2018-11-17 18:51] OzairP commented on #4201
If anyone stumbles on this, try this out.

[code]

For me, react-docgen was returning `ui/src/` as a base path for my components so place a debugger or log the props.parent to see what you may need to put.

[2018-11-17 19:05] hisapy commented on #4741
I'm having this same issue ... Can you please provide the correct contents of the **.babelrc** workaround? ...

[2018-11-17 23:59] mlnor27 commented on #1735
Hi everyone !
I encountered the same issue using the memo optimization HOC for functional component. Do we still have any news on this ?

[2018-11-18 00:05] mlnor27 commented on #1735
Props end up not being passed at all :/

[2018-11-18 00:10] #4243 closed

[2018-11-18 05:22] davidchristie commented on #4717
I recently hit this issue when upgrading `@types/react` to version 16.7.6.

Dropping back to 16.4.18 fixed it for me: https://github.com/davidchristie/social-network/pull/216/commits/9d6f0046d5a277e2020aba4794a09f6fe8318472

[2018-11-18 14:41] smks commented on #4210
I tried adding in the config and the theme is not working.

[code]

[2018-11-18 15:31] Keraito commented on #4783
Hey @simpleimpulse, this is definitely something that is actively being worked on. See: https://twitter.com/NorbertdeLangen/status/1063790691988504576. We definitely value any feedback or suggestions regarding it. The best way to speed up the progress is either through joining our Discord (see README) or contacting @ndelangen via either Twitter or Discord.

[2018-11-18 15:33] Keraito commented on #4782
As far as I remember, I think @expe-lbenychou was working on something like this together with Norbert. Tagging him to see whether this was the case and what the potential status is

[2018-11-18 15:36] Keraito commented on #4784
If I understand correctly, you're specifically looking to keep the *documentation* available of components right? Did you have any concrete implementation or workflow in mind regarding this? What kind of documentation are you referring to?

[2018-11-18 15:46] Keraito commented on #4794
@iambumblehead did you try to see what happens if you use a hex code instead of  `red`? Otherwise, could you try first adding the decorator and after that import all the story files? Keep me up to date!

@nathanaelphilip `setOptions` is (if i remember correctly) deprecated since the SB4 release. So the way @iambumblehead deals with it should be the only way that works, except for adding it per sto

[2018-11-18 15:50] Keraito commented on #4790
Maybe we should redirect this to Jest?

[2018-11-18 15:55] Keraito commented on #4772
@jakobloekke that's quite weird. Can you show which versions you are exactly using for the different storybook packages? Also, do you have a reproduction repo that we can take a look at?

[2018-11-18 15:56] Keraito commented on #4210
@smks Could you make a new issue and describe your context (like package versions) in slightly more detail? That way we can help you better

[2018-11-18 15:59] Keraito commented on #4803
@kwintessential2 could you provide more detail on what you mean exactly? It's quite unclear on what your problem is right now.

[2018-11-18 16:02] kwintessential2 commented on #4803
![image](https://user-images.githubusercontent.com/13756210/48675033-14c58980-eb19-11e8-9523-67fa43b30b6f.png)

[2018-11-18 19:37] ibrambe commented on #4739
I have no clue, wasn't on purpose :)

[2018-11-18 20:04] StephanBijzitter opened #4805 "Having a frozen lockfile prevents storybook from installing its dependencies during init"
**Describe the bug**
Having a frozen lockfile prevents Storybook from installing its dependencies during init.

**To Reproduce**
1. Have a project with some dependencies
2. Have a `.yarnrc` file with `--install.frozen-lockfile true`
3. Run `yarn sb init`

**Expected behavior**
Storybook should install dependencies using yarn's cli, rather than modifying the `package.json` itself.

**Screenshots**

[2018-11-18 20:17] StephanBijzitter commented on #2758
Any chance the documentation could be added? I'm also running into this and even after reading the merged pull requests for presets I'm not quite sure what I'm expected to do.

[2018-11-18 21:10] iambumblehead commented on #4794
@Keraito I'll follow your recommendation and report the result later today.

[2018-11-18 21:32] RuneKR commented on #4788
Hi,

Awesome to hear. I will get something setup later today!

It doesn't look like to be caused by the fact that the modules are symlinked but rather that node_modules gets scanned even though they are a part of the regex ignore

[2018-11-18 21:57] Keraito commented on #4794
@iambumblehead do you have a (small) reproduction project that I can take a look in?

[2018-11-18 22:35] #4777 closed

[2018-11-19 02:19] jamesleech commented on #1070
for anyone else that ends up here looking for a solution.
It isn't great but it works.

src/App.js

[code]

[2018-11-19 02:57] jamesleech commented on #2281
for anyone else that ends up here looking for a solution.
It isn't great but it works.

src/App.js

[code]

storybook/index.js

[code]

[2018-11-19 05:00] DmitryEfimenko commented on #3165
for me just `stories` didn't work. Had to do `"**/*.stories.ts"`

[2018-11-19 08:19] broven commented on #4797
I'll take this

[2018-11-19 08:20] broven commented on #4797
any guideine provide?

[2018-11-19 08:29] broven commented on #4797
I'll do it

[2018-11-19 09:32] amittkSharma commented on #4799
I tried by removing the rule as suggested above, but still getting the same error.

[2018-11-19 09:32] igor-dv commented on #3165
@amitport is probably using the `stories` dir to put all the stories in.

[2018-11-19 09:36] igor-dv commented on #4741
@hisapy, what's wrong in the example above?

[2018-11-19 09:49] #4235 closed

[2018-11-19 12:04] cilice commented on #3346
@0nn0 by following https://github.com/storybooks/storybook/issues/3346#issuecomment-425516669 this advice :)

[2018-11-19 12:34] mrmckeb commented on #4587
Just adding this resolved the issue for me.
[code]

However, the docs suggest the following:
[code]

If we're OK with this approach, I can put together a PR that looks for a tsconfig.json in root, and if present, adds support in the same way that we do for CSS modules (below).
https://github.com/storybooks/storybook/blob/next/app/react/src/server/cra-config.js

[2018-11-19 12:45] slorber commented on #4738
Hey, also tried to be able to use my RN design system with react-native-web. Not that I use react-native-web on any webapp, but just because visual regression testing tools (storyshot, applitools eyes...) do not work with RN yet (afaik)

That would be cool if react-native-web was officially supported in storybook imho. I've tried to make it work but was unsuccessful and my webpack/babel config is

[2018-11-19 12:58] hisapy commented on #4741
hi @igor-dv ... I didn't try it yet ... I actually was hoping to know what were those other plugins/presets needed ... so instead of correct, I should've said complete
😅

Anyways, for the moment, my workaround is to move my exports out of the module with dynamic import. In my case the module with dynamic imports is the Router config for Found Router. Luckily, I don't need to import that module in

[2018-11-19 19:32] JasonKleban opened #4809 "Allow withViewport() of @storybook/addon-viewport to accept viewport object for adhoc breakpoints"
Feature Request:  Allow withViewport() of @storybook/addon-viewport to accept viewport object for adhoc breakpoints.

[code]

Use case:  There's component that has special rules for responsiveness - parts of it disappear when they need to for the component to crush down to smaller widths - heavily dependent on the pixel widths of the subcomponents.  These breakpoints are not important for other co

[2018-11-19 19:41] GeeWee commented on #4587
The config above works for me as well. Note that you'll have to make a decision whether or not to support decorators, they're a separate plugin.

[2018-11-19 22:31] mdartic commented on #4256
I have the problem too.

After reading vuetify's code, seems the generation of CSS, and injection of the theme is made in the `VApp` mixin `app-theme` located [here](https://github.com/vuetifyjs/vuetify/blob/master/packages/vuetify/src/components/VApp/mixins/app-theme.js#L13-L33).

So, I think the problem is not linked to storybook, but vuetify instead.

By wrapping the component I wish to test wi

[2018-11-20 03:02] matt-ward commented on #4256
@mdartic that worked for me thanks. What about loading icons?

[2018-11-20 03:58] fillipvt commented on #4790
@igor-dv @Keraito Sorry I wasn't more specific at first. The [documentation here](https://github.com/storybooks/storybook/tree/next/addons/jest) (inside Storybook) explains that:

We can run the following:
[code]

While having

[code]

Which I believe is basically the same as:

[code]

This results for me in an infinite loop as expressed above. Perhaps I'm doing something wrong here or the docs ar

[2018-11-20 06:09] jitenderchand1 opened #4817 "Failed prop type: Invalid prop `type` of type `object` supplied to `PropTable`, expected'` `function`"
**Describe the bug**
Proptypes didn't show up with styled-component. Instead I got error
`Failed prop type: Invalid prop `type` of type `object` supplied to `PropTable`, expected'` `function`

**To Reproduce**
`npm run storybook
`

**Expected behavior**
Proptypes should show up with all default values

**Screenshots**
<img width="867" alt="screen shot 2018-11-20 at 5 00 54 pm" src="https://user-im

[2018-11-20 06:11] bernatfortet opened #4818 "Pressing on Sidebar list item could show content instead of just expanding content"
I wonder if it possible to start showing content when pressing in the dropdowns of the Manager App like in the older version of Storybook. [Hack Oregon is a good example](https://hackoregon.github.io/component-library/?selectedKind=Welcome&selectedStory=to%20Storybook&full=0&down=1&left=1&panelRight=0&downPanel=kadirahq%2Fstorybook-addon-actions%2Factions-panel)

This image also shows the sidebar

[2018-11-20 07:33] mdartic commented on #4256
Don't solve yet :-( I'm gonna search a little more. If I find something, I let you know about it.

[2018-11-20 07:44] Inframatic commented on #1653
@adi-zz This is good to add a decorator in my story but what about for pre-existing decorators in scss files.

For example, in Vue.js I have `@import "~theme/colors.scss";`, which returns me the error: `Module parse failed: Unexpected character '@'`

[2018-11-20 07:56] mrmckeb commented on #4587
I think we should (by default) follow the approach used by CRA - so when we detect `react-scripts` we add only the behaviours expected.

Otherwise, users can do what they could always do and extend.

[2018-11-20 07:57] Leesson commented on #4794
Having same issue too.
[code]

[2018-11-20 08:16] Leesson commented on #4794
Adding `import '@storybook/addon-options/register'` to `.storybook/addons.js` did fix this issue.

addons.js:
[code]
config.js:
[code]

[2018-11-20 09:15] scoutrul commented on #4256
I think you just nedd add **<v-app>** tag inside Story.

[2018-11-20 10:01] igor-dv commented on #4475
Have you installed it?

[2018-11-20 10:07] #4259 closed

[2018-11-20 10:11] darotar commented on #4817
Mate, you don't need to export component with styled wrapper, it's not good practise

storybook/react watching exactly on React Components wrapper and with your example, has no access for defaultProps and propTypes. As you can see, you provide Styled(Button) component for storybook in addon info

Styled-components provide access for props by innerProps attribute, but I don't think if contributors

[2018-11-20 10:45] Keraito commented on #4794
Great to hear @Leesson! @iambumblehead @nathanaelphilip did you guys register the options addon similar to @Leesson already? If not, could you try it out and report back 😊

[2018-11-20 11:41] NasadiukVlad opened #4820 "Action Logger doesn`t handle events with template prop"
**Describe the bug**
Impossible to handle events for Action logger, if use template. Action logger is empty after an event was executed

**To Reproduce**
1. Create a component, for example, button, which will contain <ng-content>
2. Go to your stories and use `template` and `props` click.

**Expected behavior**
After button clicked, action logger display all info about the event

**Code snippets**

[2018-11-20 11:52] szastupov commented on #4587
@mrmckeb this one worked for me:
[code]

Thanks!

[2018-11-20 14:03] andyhall opened #4821 "Build error from slow start - babel-core vs @babel/core"
Hi,

I'm following the [slow start](https://storybook.js.org/basics/guide-vue/) instructions, which start with:

[code]

When I later run the script to start storybook, it fails out with:

[code]

Do I need a different `core` or a different `loader`, or is something else going on?

(Or even better, is there any way to get a "built" version of storybook that's already transpiled and doesn't need Ba

[2018-11-20 15:20] igor-dv commented on #4790
Didn't try to reproduce it yet, but here is what I think out loud:

1. Watching jest will recreate the `jest-test-results.json` file on any test (or the dependencies of the test) changes
2. The file recreation will trigger HMR in Storybook (not sure it's relevant)
3. Also, might be, the story is in the dependencies tree of the test (for example Storyshots)
4. This (3) triggers again the test and w

[2018-11-20 15:49] igor-dv commented on #4821
The is a bit outdated. You should use `@babel/core`.

[2018-11-20 15:55] igor-dv commented on #4803
@kwintessential2, sorry I am closing this.
Let us know If you have a proper explanation of what the "play" option you are missing.
(Are you sure it's related to Storybook ?)

[2018-11-20 15:55] #4803 closed

[2018-11-20 16:09] igor-dv commented on #4820
@NasadiukVlad,
Here is the working example of your use-case in our official angular example.
https://storybooks-angular.netlify.com/?selectedKind=Custom%7CStyle&selectedStory=Default&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Fstories%2Fstories-panel

Can you plase explain what is the difference, maybe it's not the same

[2018-11-20 16:40] broven commented on #4797
I have to say add a framework support to storybook is poor documented
reading the source code..

[2018-11-20 16:58] NasadiukVlad commented on #4820
@igor-dv you are right! I just forget to add `$event` to selector in the story. Thanks!

[2018-11-20 16:58] #4820 closed

[2018-11-20 17:03] bernatfortet commented on #1341
Hello, I'm not clear on what action I should take to fix this.

Thanks

[2018-11-20 17:17] igor-dv commented on #4797
It's not documented TBH =) Mostly, people just copy an existing one and change the copy...

[2018-11-20 17:29] feonit commented on #4741
I have the same problem, but i really need this feature in my ui components that wrapped with HOR component for pass the language property with translates. CRA support that fine. I hope that will be fixed, because i want migrate my develop environment to CRAv2 successfully :/

[2018-11-20 17:43] igor-dv commented on #4741
@feonit, can you try this - https://github.com/storybooks/storybook/issues/4741#issuecomment-437085226

 ?

[2018-11-20 17:59] mrmckeb commented on #4587
Hi all, if anyone would like to take a look at #4824 and leave feedback, please do.

It's works perfectly for me when testing locally.

[2018-11-20 18:09] brunoreis commented on #4103
@ndelangen, I'm almost not using knobs in the actual workflow I'm using. I was waiting to be sure I had some real world need to tell you about regarding this task, but in fact I'm favoring other approaches than knobs here. I have a testData dir with "fixtures" and create a single story for every one. Most of them indeed are fed by Apollo mocked queries and mutations.

[2018-11-20 18:33] brandondurham commented on #1341
Nothing at all as far as I can tell.

[2018-11-20 18:38] fillipvt commented on #4790
This might help. Found the time to make a minimal, complete, and verifiable example:

https://github.com/fillipvt/jest-watch-json-infinite-loop

Just follow the readme instructions and let me know what you think.

A: I'm not using Storyshots

[2018-11-20 18:51] 0nn0 commented on #3044
Got the error as well. Manually installing webpack 4.20.2 as mentioned above does the trick for now.

[2018-11-20 22:40] iambumblehead commented on #4794
Yes that works. @Leesson thank you :)

@Keraito the issue is, for me, resolved but I leave the status unchanged in case that is more polite.

[2018-11-20 22:47] iambumblehead commented on #4794
are there a variety of existing storybook themes? or are 'dark' and 'light' the only pre-made options now?

[2018-11-21 00:17] jitenderchand1 commented on #4817
@darotar Thanks that was really helpful. I used this one which has better support for styled-component.

[storybook-styled-components](https://github.com/ticketmaster/storybook-styled-components)

[2018-11-21 00:17] #4817 closed

[2018-11-21 00:48] Keraito commented on #4794
@iambumblehead Currently there are only those two pre-made themes, yes. But creating your own should not be too difficult.

If all your problems are resolved regarding the initial issue, then please feel free to close this issue :)

[2018-11-21 00:50] Keraito commented on #4818
@bernatfortet So basically you want that when you click the dropdown menus, the first story (for example) would be immediately shown?

[2018-11-21 02:11] theKashey commented on #4691
Please try [ReactHotLoader@next](https://github.com/gaearon/react-hot-loader#-hot-labs-).
It potentially could solve any problems, but would require `react-dom` to be processed by RHL `webpack-loader`. Ie could cause problems with custom webpack configuration, and will not work for the configuration from CRA.

[2018-11-21 04:40] y-nk commented on #4821
@andyhall i'm gonna update the wiki page as we speak, but meanwhile you can use [this post](https://github.com/storybooks/storybook/issues/4505#issue-372454482) as a up-to-date slow start instruction set for vue.

[2018-11-21 04:50] andyhall commented on #4821
@y-nk Those steps work, thanks! Feel free to close this when the doc issue is resolved.

[2018-11-21 05:02] y-nk commented on #4821
@andyhall PR to update doc is on its way. Thank you for reporting !

[2018-11-21 05:02] #4821 closed

[2018-11-21 09:39] MaryGorshkova commented on #4479
@ecsmyth thank you for your solution!
I tailored it for my TypeScript needs. my **transform.ts** looks this way:
[code]

[2018-11-21 10:11] shilman commented on #4516
Released in 4.0.8. Can we close?

[2018-11-21 10:12] igor-dv commented on #4516
Yep 💪

[2018-11-21 10:12] #4516 closed

[2018-11-21 14:35] mshipov opened #4829 "When group specified for any knob, others without group are not displaying"
When set group for knob in story other knobs, that dont have group, are not displaying in knobs panel

**To Reproduce**
Steps to reproduce the behavior:
1. Add story with two knobs (`text` for example)
2. Set group to one of them
3. Open storybook
4. Knob without group is not in knob panel

**Expected behavior**
Group 'All' should contain the knob without group

**Screenshots**
![image](https://us

[2018-11-21 17:10] cadesalaberry commented on #4011
`App.js`
[code]

Meanwhile, @kdawgwilk here is how we use it in our app.

[2018-11-21 18:12] callmephilip commented on #340
I have ended doing smth like this to globally inject a translation mock for i18n (all the components need access to the `t` func providing translation for a given key):

[code]

[2018-11-21 19:38] rickbsgu commented on #4256
Nice. Thanks for your effort. I feel like maybe I can use Storybook, now.

[2018-11-22 02:43] shilman commented on #4191
Released a first version of compatibility in 4.1.0-alpha.4: https://github.com/storybooks/storybook/releases/tag/v4.1.0-alpha.4

Still needs more testing and documentation.

[2018-11-22 08:01] larsklingenberg opened #4831 "Angular: Module not found: Error: Can't resolve '@abp/settings/setting.service'"
**Describe the bug**
When running 'npm run storyboard' few of my node_modules are not found. And all of them is starting with '@abp/'. So basically it cant find modules that starts with '@abp'. The path is added to tsconfig.json.

**To Reproduce**
Steps to reproduce the behavior:
1. Followed storybook starting guide
2. npm run storyboard
3. See error

**Screenshots**
node_modules/abp-ng2-module/di

[2018-11-22 08:53] igor-dv commented on #4831
I've edited the issue because the code examples were not readable.

[2018-11-22 09:06] kroeder commented on #4831
@larsklingenberg why adding lots of paths that are not necessary?
[code]

Is your project structure kinda like this?
[code]

I need more information about your angular version, storybook version, how your setup is in general. Are you using angular-cli projects, nrwl / nx or something self-made?

Also, I never had to do
```"@abp/*": [ "../node_modules/abp-ng2-module/dist/src/*" ],```
In my environm

[2018-11-22 11:33] larsklingenberg commented on #4831
I use something called Aspnet Zero which provided Angluar-frontend. So they had a setup before. I have no "project"-folder, but it does not seem that this is the problem.

Project files:
<img width="97" alt="project_files" src="https://user-images.githubusercontent.com/39561341/48900231-23ca7580-ee52-11e8-8f8c-84a629651928.PNG">

Part of package.json:
[code]
Is there any more info I can give you a

[2018-11-22 15:00] feonit commented on #4741
@igor-dv, yes, it work, but additionally i must add other plugins and presets, like "@babel/flow", "@babel/plugin-syntax-dynamic-import", "@babel/plugin-proposal-class-properties" and may be others

[2018-11-22 16:30] 2Steaks commented on #489
Add `import '@babel/polyfill';` to the beginning of your storybook config

[2018-11-22 19:40] alexkcollier opened #4833 "@storybook/vue@4.0.8 and @storybook/addon-knobs@4.0.8 do not update components using JSX render functions in stories"
**Describe the bug**
Knobs no longer update components when using JSX render functions in stories. I managed to get it working for standard string templates, but I have a large project using JSX for stories.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://gitlab.com/alexkcollier/storybook-vue-knobs-issue.git`
2. `npm install`
3. `npm start`
4. Change a knob

**Expected beh

[2018-11-22 20:34] kylemh commented on #2455
Cool. So, I got `postcss.config.js` read from the official storybook example! Yay! 🎉

I'd like to discuss more with whoever has been working on presets and webpack configuration as I see a few problems...

The main issue is that postcss-loader exists as the first of many possible other loaders related to style loading, but never by itself. So, while the initial issue reads as: "Do this like you di

[2018-11-23 09:03] kroeder commented on #4831
Can you post your `angular.json`?

Your project-structure is not as expected in a common angular project
- `tsconfig.json` should be in your root folder besides `node_modules` (this would eliminate `"@angular/*": [ "../node_modules/@angular/*" ]` - typescript automatically searches in node_modules when you do `import { ... } from '@angular/...'`)
- src would've a `tsconfig.app.json` that includes

[2018-11-23 09:21] jchiem opened #4835 "addon-a11y - make "VIOLATIONS" and "PASSES" meet AA or AAA levels of accessibility"
Not sure if this is an actual bug, so I will file this as a Feature request since there's no actual problem with the functionality of the addon in this issue.

**Problem:**
@storybook/addon-a11y is shows if a story is accessible, but the addon itself is inaccessible for the red and green text for the aXe results tabs. It is not reaching WCAG 2.1 AA contrast ratio requirements for these two element

[2018-11-23 10:31] himanshu309 commented on #2925
import { Box, Text, Heading } from '../../components/base';
import React from 'react'
export default () => (
  <div className='mobilePadding'>
    <div>
      <Heading bold is="h1" my={2}>

        Reviews

      <div id='yotpo-testimonials-custom-tab'>
  </div>
      </Heading>
      <Text mb4>We use a third party company by the name of Yotpo to send and verify all of our product and site reviews

[2018-11-23 10:36] himanshu309 commented on #2925
Hello , I just need  to convert the code same as above into class Something extends React.Component{
//
}

plz help me

[2018-11-23 16:32] igor-dv commented on #4764
`@storybook/react` is supposed to match different versions of different tools.

For example:
1. Your application may use babel 6. In that case, you will install babel-loader@7 that has a peer for babel-core (babel v6). that is why we have babel-loader as a peer dependency
2. Another user may use babe 7. And will install babel-loader@8 with `@babel/core` (v7)
3. The third user may have a usage of C

[2018-11-23 19:10] dperetti commented on #1435
OK, got it working!  😜
`require` is not available in the iframe but it is accessible in the parent document, using `top.require` (provided Electron is running low security settings, which should be the case when it's called using the `electron` binary, using `electron http://localhost:9001`).
The trick is to overwrite default externals for webpack's `electron-renderer` target and any node-related

[2018-11-23 19:53] kylemh commented on #4764
Maybe a preset for CRA 1 and 2?

[2018-11-23 19:59] igor-dv commented on #4764
In my vision, we need to extract presets out of the supported frameworks and make CLI install them when it recognizes one or another tool.

[2018-11-23 20:07] #4770 closed

[2018-11-23 21:21] RuneKR commented on #4788
Sorry for the delay - https://github.com/RuneKR/bad-performance

I did come up with a solution, but i am keen to hear your thoughts!

[2018-11-24 00:36] #4156 closed

[2018-11-24 00:36] #4026 closed

[2018-11-24 01:46] stevula opened #4839 ""decorator is not a function" error when using withKnobs decorator from addon-ondevice-knobs (React Native)"
**Describe the bug**
Calling `addDecorator(withKnobs)` on a story or in the global config causes the app the throw a "decorator is not a function" error when trying to render the component.

Indeed, `withKnobs` is undefined after importing like so:
`import { withKnobs } from '@storybook/addon-ondevice-knobs';`

`withKnobs` does not appear to be a valid import:
<img width="733" alt="screen shot 201

[2018-11-24 02:52] stevula commented on #4839
So, I just noticed when running `yarn install` that `addon-ondevice-knobs` has a peer dependency on `addon-knobs`. After installing that, other thing I had to change was to import from '@storybook/addon-knobs' instead of from `'@storybook/addon-ondevice-knobs'`.

It may just be me, but it seems a bit unintuitive to import from `addon-knobs` instead of `addon-ondevice-knobs`. That is not the patter

[2018-11-24 03:28] iamnewton opened #4840 "No stories showing up in preview"
**Describe the bug**
I've updated from React 15 to 16, and Storybook 3 to 4 and I'm getting no stories load, only the "No Preview".  There are no errors in the console or anything that would help me debug why its off.

**To Reproduce**
Steps to reproduce the behavior:
Followed instructions for setting up Storybook from scratch and not seeing any stories.

**Expected behavior**
Expect an error if s

[2018-11-24 09:22] chrbala opened #4841 "Easily share environment variables with Create React App"
**Is your feature request related to a problem? Please describe.**
React Storybook and Create React App both require a prefix in environment variables. This makes environment switches cumbersome because both prefixes have to be defined and checked.

For example

.env
[code]

Then later you have to check both the STORYBOOK prefixed and the REACT_APP prefixed endpoints.

**Describe the solution you'

[2018-11-24 12:45] #4693 closed

[2018-11-24 17:38] Lyncee59 commented on #4840
Same problem for me

[2018-11-24 18:06] shilman commented on #4841
@igor-dv this is an interesting thing for presets / unified config

[2018-11-24 18:15] shilman commented on #4840
@iamnewton @Lyncee59 do either of you have a public repo I can look at?

[2018-11-24 18:32] shilman commented on #4643
This certainly looks like a bug. @danielduan mind taking a quick look? @MihaChicken any chance you could put together a PR for this?

[2018-11-24 18:44] shilman commented on #4835
@jchiem this makes sense, tho I don't know much about a11y. I put together a quick PR to change the success/fail colors in the default theme

[2018-11-24 18:53] shilman commented on #4191
cc @ranyitz @Sujimoshi @caitlin615 @arkadiusm @Buggytheclown @stereodenis

If you'd like to test out the alpha on your projects and let us know if it works for you, that would be really awesome! Just try out `@storybook/react@next` which should get you the latest alpha.

@ndelangen is there anything else they need to do or will it work out of the box?

[2018-11-24 19:48] MihaChicken commented on #4643
@shilman Already done :)
https://github.com/storybooks/storybook/issues/4685

[2018-11-25 02:08] shilman commented on #4741
Released in alpha: https://github.com/storybooks/storybook/releases/tag/v4.1.0-alpha.8

[2018-11-25 02:08] #4741 closed

[2018-11-25 02:09] shilman commented on #4298
Released in alpha: https://github.com/storybooks/storybook/releases/tag/v4.1.0-alpha.8

[2018-11-25 02:09] #4298 closed

[2018-11-25 02:17] tmeasday commented on #4764
It sounds like maybe the problem you describe can be solved by optional [react] presets that depend on these various things directly @igor-dv? Then the CLI can install the preset for you and as a user maybe you don't actually need to understand what's happening

[2018-11-25 02:49] shilman commented on #4621
This got fixed in `4.0.1`, closing!

[2018-11-25 02:49] #4621 closed

[2018-11-25 02:55] shilman commented on #4088
@SleepWalker @cheapsteak Is this still an issue in `^4.0.0` or `4.1.0-alpha.*`? Thanks for your patience and help on this!

[2018-11-25 02:57] shilman commented on #4615
@Zwerge just released a new version that should solve your issue. Mind testing it out for me? https://github.com/storybooks/storybook/releases/tag/v4.1.0-alpha.8 Feel free to re-open this if it's still a problem.

[2018-11-25 02:57] #4615 closed

[2018-11-25 03:02] shilman commented on #4532
@langri-sha Mind checking if this fixed in `^4.0.0` or `4.1.0-alpha.*`? There have been a bunch of changes since `rc.2`. Thanks for your patience and help!

[2018-11-25 03:07] shilman commented on #4254
@matchu @techieshark Also curious if this is happening in `^4.0.0` or `4.1.0-alpha.*`, since we've made a lot of changes since `alpha.23`.

Also, this probably unrelated but you should probably upgrade `@storybook/addon-actions` to track the same version as `@storybook/react`. We try to keep everything working together, but we don't make any special effort to make the packages work across versions

[2018-11-25 03:52] codeNoobie opened #4844 "Peer dependency warning for Storybook Angular."
**Describe the bug**
Why do I get these warnings on Yarn install. I am trying to use storybook for angular app.

[code]

Do I need to provide react libs in my package.json?

[2018-11-25 07:39] shilman commented on #4643
@MihaChicken dang guys, you're 5 steps ahead. 😲 Will get that out soon. Thanks for making it happen! 🙇

[2018-11-25 07:43] shilman commented on #4844
You shouldn't need to. Recent versions of `@storybook/angular` depends on `react@^16.6.0` and `react-dom@^16.6.0`, so it should just work. What version of Storybook are you using? And can you upgrade to the latest stable release if you're not already on it?

[2018-11-25 07:44] shilman commented on #4469
@donaldpipowitch that looks much cleaner to me. Mind putting together a PR, either to document the configuration, or to add your new API and deprecate the old API?

[2018-11-25 08:33] #4717 closed

[2018-11-25 08:33] #4759 closed

[2018-11-25 08:43] hipstersmoothie commented on #1147
I've published `storybook-addon-react-docgen`. It uses the docgen information just like the info addon but places the information in a `Props` tab in the the addons panel. It works quite well with the notes notes-addon

https://www.npmjs.com/package/storybook-addon-react-docgen

[2018-11-25 08:59] codeNoobie commented on #4844
@shilman I am still seeing this with v4.0.8. I am using Yarn.

[2018-11-25 09:03] yas24 commented on #4392
This is still happening for the react tutorial, I've used the alpha to get it working but I don't want fall into using an alpha just to get this working? Why isn't version 4.0.0 working?

[2018-11-25 10:38] igor-dv commented on #4392
What alpha are you using ? V4 is already stable. Can you elaborate on your usecase a bit ?

[2018-11-25 10:53] yas24 commented on #4392
Sorry, ignore my previous comment - I just re-installed storybook again, and its running version 4.0.8 fine. :)

[2018-11-25 11:09] maacky opened #4845 "[cra-kitchen-sink] required index.html file missing"
**Describe the bug**
Due to index.html missing in 'examples/cra-kitchen-sink/public', `yarn start` in 'examples/cra-kitchen-sink' throws `Could not find a required file`. The file was removed in e93d9f3 (FIX chromatic by removing some index.html files and correcting the location of static files).

**To Reproduce**
1. Go to 'examples/cra-kitchen-sink'
2. Run `yarn`
3. Run `yarn start`

**Expected b

[2018-11-25 12:45] langri-sha commented on #4532
Thanks for the heads up! Will try to take a look!

On Sun, 25 Nov 2018, 04:02 Michael Shilman, <notifications@github.com>
wrote:

[2018-11-25 12:50] abilicz commented on #4233
I created a PR for this issue in #4846.

[2018-11-25 15:12] yanivshiloah opened #4847 "addon-info details disappear on reload ever since using req.keys().forEach((filename) => req(filename))"
**Describe the bug**
Ever since I've started using the req.keys().forEach((filename) => req(filename)) pattern to load all of the stories in the directory, each time I change something in the component or the story, all of the addon-info details disappear from the story. If I put all of my stories under index.js it works fine.

**Expected behavior**
Reload should not cause the addons info disappea

[2018-11-25 15:38] shilman commented on #4665
This just went out in https://github.com/storybooks/storybook/releases/tag/v4.0.9

Great work @alex-fournier!

[2018-11-25 15:40] shilman commented on #4643
This just went out in https://github.com/storybooks/storybook/releases/tag/v4.0.9, closing!

Great work @MihaChicken 🎉

[2018-11-25 15:40] #4643 closed

[2018-11-25 15:44] chrbala commented on #4841
Sounds great, thank you!

[2018-11-25 16:40] ndelangen commented on #4191
We changed so the preview and manager can use different versions.
With the last next release, using any version of react should just work.

[2018-11-25 17:36] kriku commented on #3946
I also have this issue with storybook v4.0.9.. still.. Markdown looks awful. But it seems like it can be overwrite using !important style (but in this case another problem - lack of selectors and style importing).

[2018-11-25 18:03] SleepWalker commented on #4088
@shilman It does not work on 4.0.9. In 4.1.0-alpha8 it does not work too.

It won't fix till we have babel runtime alias in storybook config or till all the libs will be upgraded to use stable babel 7 (i mean material-ui, react-swipeable and others).

[2018-11-25 21:02] igor-dv commented on #4841
Extending presets to the `env` loading sounds reasonable

[2018-11-25 21:48] shilman commented on #4840
Cool thanks guys. Will take a look in the next few days!

[2018-11-25 23:11] bufke commented on #4772
I get this as well. Using:

[code]

[2018-11-25 23:37] shilman commented on #4840
@Lyncee59 there's an error in the browser console:

[code]

I'm guessing you need to add `babel-plugin-require-context-hook` to your custom babel setup.  We mention it briefly in `MIGRATION.md` in the context of `jest`:

https://github.com/storybooks/storybook/blob/next/MIGRATION.md#storyshots-changes

I tried adding it myself, but couldn't get it working in 2m. Hopefully this is enough to get you

[2018-11-26 00:21] tmeasday opened #4848 "New story file format"
As part of a push towards [a better documentation mode](
https://github.com/storybooks/storybook/issues/4341), and to make stories more general and more easily consumed by other tools (thus making things like a [Docz plugin](https://github.com/hydrateio/docz-plugin-storybook) easier), we are considering a new file format for stories that is less tied to SB APIs:

The current proposal is a file `Co

[2018-11-26 02:18] dfee opened #4849 "addon-options `withOptions` not typed"
`@storybook/addon-options` has deprecated `setOptions`, and forwards us to `withOptions`. This, however, is untyped.

It appears that a good(?) type for it would be:
[code]

here is the code: https://github.com/storybooks/storybook/blob/0a8e860ee335611204c8bc5b5fd3e6c7b7f964b8/addons/options/src/preview/index.js#L52
here are the types: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master

[2018-11-26 02:30] shilman commented on #4849
@dfee I'm not sure what's the recommended protocol for updating types in DefinitelyTyped, perhaps this? https://definitelytyped.org/guides/pull-request.html

That said, we've also been discussing pulling back the type definitions into the Storybook repo, and issues like the one you've raised here is why. https://github.com/storybooks/storybook/pull/4753

[2018-11-26 04:03] codeNoobie commented on #4844
Yes. It does work. But the warnings are annoying. Adding a dev dependency on react in an Angular based repository could raise eyebrows as well.

What's your recommendation? Keep the warnings or add react to dev dependency?

[2018-11-26 06:35] igor-dv commented on #4844
I think you can keep warnings for now.

After https://github.com/storybooks/storybook/releases/tag/v4.1.0-alpha.4 we can just hide react dep in all the addons that are bundled to the manager. We need to make sure that the React in manager is our React though 🤔 Maybe with aliasing. CC: @ndelangen @shilman

[2018-11-26 06:38] donaldpipowitch commented on #4848
FYI: The link points to this issue, because #4341 is treated as an anchor.

[2018-11-26 06:40] donaldpipowitch commented on #4341
Thanks for the work so far! I'd like to showcase how we currently use MDX, just to give some feedback:

- We try to write a documentation page for every component in `.mdx`.
- This documentation can include several stand-alone examples (which don't use any Storybook API at all and are therefor very re-usable).
- We also load the source code of the examples, so it can be shown next to every example

[2018-11-26 06:48] igor-dv commented on #4833
CC @y-nk

[2018-11-26 06:50] donaldpipowitch commented on #4469
I'm not super familiar with aXe, but I think we'd need to keep both APIs, because they slightly configure different things. E.g. with `axe.configure(options)` you can set a `locale`, but not with `axe.run(_, options)`.

[2018-11-26 07:09] igor-dv opened #4850 "Node Api needs tests"
Node API (#4249) that was added in #4344 needs some smoke tests automation.

[2018-11-26 08:32] igor-dv commented on #4844
@codeNoobie , I would very like you to contribute =) also you can hang with us on Discord.

[2018-11-26 08:40] igor-dv commented on #4845
Yeah, probably we need this file back in the cra example. Do you want to return it @maacky  ?

[2018-11-26 08:43] maxkomarychev opened #4852 "Web view is broken with RN 0.57"
`app/react-native/package.json` bring babel 6.x dependencies which conflict with babel 7.x required by react-native 0.57. More speifically: `babel-preset-react` is installed because of storybook while my `package.json` requires `@babel/preset-react: "^7.0.0"`:

[code]

Does anyone know how to force babel 7 to be used or any other way to make it work together with rn 0.57?

**Describe the bug**
Sto

[2018-11-26 08:46] andyhall opened #4853 ""Download React DevTools" message, when not using React?"
Hi,

I'm using storybook for Vue, just starting out with a minimal project, and I get the following message bolded in the browser console on every page refresh:

[code]

Nothing related to React is in the project, just `@storybook/vue` and various Vue packages. Is this message a bug, or is there a convenient way to hide it? Thanks!

----

**System:**
 - MacOS / macbook / Chrome 69

Dependencies fo

[2018-11-26 09:37] maacky commented on #4845
@igor-dv, sure, let me do it.

[2018-11-26 10:06] Isakdl commented on #4011
Any updates on this?

I'm also trying to use babel 7 with storybook, but can't make it work...

I get Error: Plugin/Preset files are not allowed to export objects, only functions errors when I try to start, it seems storybook uses babel 6 packages when starting the server.

Specifically, it fails on loading addons.

[2018-11-26 11:46] nithinpeter commented on #4691
@theKashey Is there a way to get around this issue when using a [custom webpack configuration](https://storybook.js.org/configurations/typescript-config/#setting-up-typescript-to-work-with-storybook)?

[2018-11-26 12:08] hmelenok opened #4854 "IE11 Side panel not renders, fail with SecurityError"
**Describe the bug**
Side panel is empty:
<img width="1280" alt="screen shot 2018-11-26 at 12 57 03" src="https://user-images.githubusercontent.com/2149114/49010049-d19f9200-f17a-11e8-80c6-337f10efd92f.png">

In attempt go to component directly (copy link in other than IE11 browser) throws SecurityError which pointing to https://github.com/storybooks/storybook/blob/master/lib/ui/src/modules/ui/con

[2018-11-26 12:49] feonit commented on #4741
And today it is not worked for me.

ERROR in multi ./node_modules/@storybook/core/dist/server/config/polyfills.js ./node_modules/@storybook/core/dist/server/config/globals.js ./.storybook/config.js ./node_modules/webpack-hot-middleware/client.js?reload=true
Module not found: Error: Can't resolve 'babel-loader' in '/Users/feonit/github/demo_ui'
 @ multi ./node_modules/@storybook/core/dist/server/co

[2018-11-26 13:59] larsklingenberg commented on #4831
Any luck here?

[2018-11-26 14:05] jtomaszewski commented on #3921
@Sandstedt 's fix is not enough.

My case: I am using newest stable 4.0.x.

I had added `<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">` tag to both `manager-head.html` and `preview-head.html`.

I tried debugging it remotely with Safari Debugger and adding various `width`, `max-width`, `min-width`, `overflow: auto;`, `-webkit-overflow-scrolling: touch;` wher

[2018-11-26 16:16] ozzyogkush commented on #4784
I am currently in the process of trying to figure out how to do this for my own company's shared/common component library as well.

My initial thought process was to make a custom addon to provide a dropdown in a given component's story which would let the user select a version of the component. The stories for each component would live with the component in its repo, thus story versions should ma

[2018-11-26 17:50] misund opened #4860 "addon-info: story description not displaying since 4.0.9"
The JSDoc description from my components disappear from my storybook in 4.0.9.

The root cause are the changes in #4685. My problem is exactly the opposite of of #4643 - my components have the same name as the story (and not necessarily as the kind).

Would a PR that accomodates both this pattern and the one from #4685 be welcome?

## Need to see code to understand?
Here's a sample of the pattern

[2018-11-26 18:12] hipstersmoothie commented on #4274
This was mostly fixed in #4704

[2018-11-26 18:18] iambumblehead opened #4861 "Allow storybook components to be listed without directory"
**Is your feature request related to a problem? Please describe.**
Allow storybook components to be listing without directory

For example, [here][0] two different buttons are listed under "Button". Offer an abstraction that would allows one to list items like "button-text" or "button-emoji" at the top level of the list without nesting inside another item such as "Button"

[0]: https://storybook.j

[2018-11-26 19:30] codeNoobie commented on #4844
@igor-dv Thanks. Let's discuss this change soon. Please also move this issue to open state.

[2018-11-26 21:01] igor-dv commented on #4844
Sure.

[2018-11-26 22:31] victorct-pulsarup opened #4864 "Storybook takes up to 2 minutes to start and up to 10 to reload"
**Describe the bug**

I've been using Storybook for like two days and it seems the initial loas is very slow, it takes up to 2 mins!

I have 10 stories so far, when I change something inside a Story it can take up to 10 mins to do a hot-reloading!

I'd like to investigate this further and, if possible, improve this but I don't really know where to start.

**Expected behavior**
Not to take too much

[2018-11-26 22:39] kdawgwilk commented on #4011
@cadesalaberry how are you passing that `REACT_APP_STORYBOOK` variable when you start the packager?

[2018-11-27 00:35] rosskevin commented on #4503
Thanks @jfsiii - that helped a ton.  For others that find this the **working** config has a typo (mentions `baseConfig` but shows `defaultConfig` spread) - but the comments point to the working solution.

I encountered this `Unknown word` with a react/typescript combination that has a single reference for an external library on `import 'some/lib/foo.css'`.  This was previously working but it seems

[2018-11-27 01:38] dfee opened #4865 "addon-knobs `select` seemingly mistyped (typescript)"
If I want to provide a `null` option for a `select` options, I have to do casting:

[code]

In the [documentation](https://github.com/storybooks/storybook/tree/next/addons/knobs#select) however it provides the following example:
[code]

But the types doesn't match, as the `SelectValue` is expected to be a `string` or a `number` (hence my casting to `unknown`, then re-casting to `string`):
https://

[2018-11-27 01:58] victorct-pulsarup commented on #4864
Hello, I have found the problem is related to Docker and Mac themselves, I will close the issue, and leave the url for the Docker github issue regarding mounting systems.

Maybe it could be worth mentioning this in the README.md for further reference.

https://github.com/docker/for-mac/issues/77

[2018-11-27 01:58] #4864 closed

[2018-11-27 03:46] tmeasday commented on #4341
Thanks for sharing @donaldpipowitch, that's a useful perspective

[2018-11-27 04:19] theKashey commented on #4691
Just use webpack aliases to rewire `react-dom` to `hot-loader/react-dom` - see this thread - https://github.com/gaearon/react-hot-loader/issues/1088#issuecomment-440624088

[2018-11-27 05:57] motleydev commented on #4741
This issue persists in both alpha and with .babelrc added. Any update on this?

[2018-11-27 08:46] Laslo89 commented on #4833
The same issue occurs without the render function:

**Story**:
`import { storiesOf } from '@storybook/vue'
import { withKnobs, text } from '@storybook/addon-knobs'
import TestComponent from './test-component.vue'

storiesOf(TestComponent.name, module)
  .addDecorator(withKnobs)
  .add('as Component', () => {
    const textProp = text('text', '')
    return {
      components: { TestComponent },

[2018-11-27 09:11] y-nk commented on #4833
We made changes with knobs when handling Vue.

As you may know, Vue renders differently from React.

The way promoted before in storybook was using knobs as fixed values in template, or as values bound to the internal state of the story component (data). The direct consequence is that the story component was destroyed and recreated each and every time a knob was updated (easily spottable with a `c

[2018-11-27 09:15] y-nk commented on #4833
for @alexkcollier - i think the story component should be written this way instead :

[code]

[2018-11-27 09:17] y-nk commented on #4833
for @Laslo89 :

[code]

[2018-11-27 11:16] igor-dv commented on #4833
@y-nk , I think now maybe we need somehow to have a backward comparability to the previous functionality. Otherwise it looks like a breaking change

[2018-11-27 11:44] StevenFewster opened #4871 "new text('name', value) not correctly passing values"
Using knobs with @storybook/angular, passing a simple "text" through to my component, it receives an empty text object.

### To Reproduce

[code]

### Expected behavior
Expect a string to be passed to the current attribute and for that string to be 'DEV'

### Details
[code]

Also worth noting, projects are part of an Nx monorepo

[2018-11-27 11:48] Laslo89 commented on #4833
@y-nk Thank you for your answer.
Unfortunately the way you wrote the story, does not work. I think what you've wanted to write is:

[code]
But still it never updates the component, when I change the value of the knob. Is this working as intended?

[2018-11-27 11:55] StevenFewster commented on #4871
Addendum:
digging in to the constructor on the prototype of the object `testItem` above, I get this:

`Exception: TypeError: 'caller', 'callee', and 'arguments' properties may not be accessed on strict mode functions or the arguments objects for calls to them at Function.remoteFunction (<anonymous>:2:14) at http://localhost:6006/static/iframe.bundle.js:398259:5 at http://localhost:6006/static/ifra

[2018-11-27 11:56] ndelangen commented on #4864
Great to see you found the problem @victorct-pulsarup

Would you want to open a PR adding the docker on mac notice?

[2018-11-27 12:39] y-nk commented on #4833
@Laslo89 You don't need to `.sync` since there's no magic event/setter involved ; the patch that i've been writing is supposed to mutate the props of the component according to it.

I've been re-reading the code which has been merged, we probably have to take action on that very soon @igor-dv

[2018-11-27 13:17] y-nk commented on #4833
@Laslo89 I've been running your example in the vue-kitchen-sink with success, running on tag `v4.1.0-alpha.8`. I can see the knob modifying the prop, and the TestComponent reacts to it.

**Component :**

[code]

**Story :**

[code]

[2018-11-27 14:30] maikthomas opened #4873 "Error processing Flow optional object spread caused by babel-plugin-react-docgen even though shared .babelrc"
**Describe the bug**
When running storybook on a react app using flow, an optional spread type **[1]** causes an error **[2]** and storybook fails to compile.
The code runs finein the application even though storybook uses App's babel and `.babelrc`.
The error comes from:`babel-plugin-react-docgen`

**To Reproduce**
Steps to reproduce the behavior:
I have created a CRA with storybook demo exhibiti

[2018-11-27 15:13] Laslo89 commented on #4833
@y-nk Thank you for the detailed explanation. I tried your story and with your advice,I updated the knobs-addon and storybook to v4.1.0-alpha.8 but the issue remains. It also shows same odd side effect. When I am changing the knob nothing happens, but when i change the knob, click on another story and go back to story before, it shows my change.

[2018-11-27 15:16] EloB opened #4874 "Knobs type Object will encode some values to htmlentities"
**Describe the bug**
When you use knobs and `object` then it will html encode values.

[code]

Will result in:

[code]

**System:**
 - Framework: react
 - Addons: knobs
 - Version: 4.0.8

[2018-11-27 15:22] Gongreg commented on #4839
Hey,
I definitely agree that the documentation could be a lot better over there. The addon was done as a POC that we can support addons in React Native. And it used addon-knobs to reuse as much code as possible.

@stevula, if you have any time to update readme, that would be great.

[2018-11-27 15:30] MihaChicken commented on #4860
@misund sad to hear that :(
 Although I am totally up to change it to serve both usecases I think in a long term info-addon should have a more sophisticated way to match component stories with components jsdoc.

For example the same way it currently looks for prop tables here:
https://github.com/storybooks/storybook/blob/next/addons/info/src/components/Story.js#L354
Maybe we can use this code to g

[2018-11-27 16:23] spawnia opened #4875 "Document configuration options for Storyshots test"
I use storyshots to do a simple smoke test for my stories. As my components use **ref** and **portal**, the default react-test-renderer does not work for me.

After digging through the source code, i found that it is indeed possible to overwrite the renderer, contrary to what the documentation says about the `test` option: https://github.com/storybooks/storybook/tree/master/addons/storyshots/story

[2018-11-27 16:37] #4845 closed

[2018-11-27 17:12] mAAdhaTTah commented on #4479
@ecsmyth Are you using create-react-app (CRA2)? It doesn't look like we can override `jest.transform` in the configuration, nor does use `jest.config.js` seem to be working either. Were you / are you on the latest version of CRA?

[2018-11-27 17:54] cmkieran commented on #4479
@mAAdhaTTah, my solution will not work with CRA2 unless you [eject](https://facebook.github.io/create-react-app/docs/available-scripts#npm-run-eject) or [fork](https://facebook.github.io/create-react-app/docs/alternatives-to-ejecting) `react-scripts`. Up to you to determine if either of those options is better for you than @semb09's approach.

With CRA2, you can [set up the test environment](https

[2018-11-27 17:55] ecsmyth commented on #4479
@mAAdhaTTah, my solution will not work with CRA2 unless you [eject](https://facebook.github.io/create-react-app/docs/available-scripts#npm-run-eject) or [fork](https://facebook.github.io/create-react-app/docs/alternatives-to-ejecting) `react-scripts`. Up to you to determine if either of those options is better for you than @semb09's approach.

With CRA2, you can [set up the test environment](https

[2018-11-27 18:48] motleydev commented on #4741
Hi @igor-dv, This code exists in one of my components:

[code]
Which yielded this error:

[code]

I've tried adding the recommended plugins to a babelrc file and running storybook v4.1.0-alpha.8, the error persists.

[2018-11-27 19:40] victorct-pulsarup commented on #4864
Yeah I will open a PR

[2018-11-27 19:48] igor-dv commented on #4741
Do you maybe have a public repo with  reproduction ?

[2018-11-27 19:54] motleydev commented on #4741
no I don't - what would be helpful to see?

[2018-11-27 20:08] igor-dv commented on #4741
package.json, custom SB things like webpack.config , babelrc, config.js. File structure

[2018-11-27 20:08] MansoorBashaBellary opened #4877 "Missing Styles in Storybooks when used with Vue-CLI"
**Describe the bug**

Styles are missing in storybooks when used with Vue CLI. Some styles are loaded, others are not. Fonts are missing. No error messages though.

**To Reproduce**

Reproduction URL for the same is:
https://github.com/MansoorBashaBellary/vue-cli-storybook

**Expected behavior**

Storybooks shouldn't break as in the screenshot below

**Screenshots**

![screen shot 2018-11-27 at 2

[2018-11-27 20:17] motleydev commented on #4741
Here's a peak at those files: https://gist.github.com/motleydev/dc048f43a722b8eb232bc7ab77e0d90f

[2018-11-27 20:18] motleydev commented on #4741
Everything had been working prior to that one file with the dynamic import.

[2018-11-27 20:30] renemn commented on #2894
@airtonix I think that's because webpack doesn't recognize variables at compile time, that could explain the message about `__webpack_require__(...).context is not a function`.

Have you tried by using webpack's **ContextReplacementPlugin** and do something like this in a custom webpack.config.js:
[code]

Then in the config file you could require the src like this:
[code]

That could work as possi

[2018-11-27 20:42] igor-dv commented on #4741
So you are not using create react app, I don't see any react-scripts pkg in you deps

[2018-11-27 20:46] igor-dv commented on #4741
Also

[code]

Is not needed , since you have all these in the custom .babelrc

[2018-11-27 20:47] motleydev commented on #4741
Its a gatsby project and I removed them for some code sanitization. Good to know about the loaders

[2018-11-27 20:47] motleydev commented on #4741
anything else stand out?

[2018-11-27 20:49] igor-dv commented on #4741
Do you have this error now, after removing the above ?

[2018-11-27 22:59] igor-dv commented on #4831
I wanted to take a look on this today, but unfortunately had no time for this. Will try to do this in the next upcoming days.

[2018-11-27 23:11] tmeasday commented on #4169
Re configuring addons, client side:

Only if the config is static though. If you e.g. want to register a react class or something, this is going to be tricky via a config file evaluated on the server. Maybe this is mostly fine though?

[2018-11-27 23:12] tmeasday commented on #4169
Also, what about global parameters? Can we add that to the unknown's list @igor-dv? :)

[2018-11-28 02:47] shilman commented on #4191
@Frankcarvajal it's released as alpha in `@storybook/react@next`. Please check it out! We expect to do a stable release in the next few weeks.

[2018-11-28 03:41] y-nk commented on #4833
@Laslo89 i'd like to offer more help. is there any way to isolate your trial into a public repo which i could fork ?

[2018-11-28 05:04] rupurt commented on #3990
I'm running into a similar problem but it's for `@storybook/react`

[code]

[2018-11-28 06:42] donaldpipowitch opened #4878 "Create "sitemap"/list of all stories on build"
**Is your feature request related to a problem? Please describe.**
It is possible to get all stories at runtime/on the client with `import {configure, getStorybook} from '@storybook/react';`, but sometimes you want to have the same information somewhere else. E.g. if you want to run a test against all stories and the test runner isn't aware of Storybook at all.

You can _expose_ the stories on you

[2018-11-28 07:05] techieshark commented on #825
The suggested workaround from April 2017 seems to no longer work.

Given these styles:
https://github.com/storybooks/storybook/blob/fae0ff5b53bd32e9db89d551c48638eddbf814af/addons/centered/src/styles.js

The parent sets `display: flex` but there's an inner container between that and the story, and yet "The scope of a flex formatting context is limited to a parent/child relationship." - https://sta

[2018-11-28 07:06] techieshark commented on #825
Would it be possible to disable through same mechanism as available with addon-info?

Like so:
[code]

[2018-11-28 07:16] igor-dv commented on #4169
Global parameters?

[2018-11-28 07:17] tmeasday commented on #4169
Sure, like

[code]

[2018-11-28 07:18] igor-dv commented on #4169
I think it's just one of the entries

[2018-11-28 07:50] Laslo89 commented on #4833
you should have an invite to a repo. thank you for your help :-)

[2018-11-28 11:06] motleydev commented on #4741
So I tried solving it the other way around by adding the new configs into the webpack file and ended up with this;

[code]

which did seem to solve the original issue but now it's complaining about a graphql-language-service-interface. Did I somehow introduce this or was this just an error waiting its turn? :)

[2018-11-28 11:07] stof commented on #4853
this is because storybook itself is a React app

[2018-11-28 11:44] slorber opened #4879 "react native -> /dist not needed?"
Hi,

[code]

For ReactNative, the /dist package is not needed because all RN packages are transpiled by Metro by default. Btw Metro does not use jsnext:main so not sure this setting is useful.

Also I tried to run StorybookUI on RN with src and it works fine.

Just wanted to mention that, not sure exactly what should be done but I suspect it's not needed to transpile / use the whole src folder. Ma

[2018-11-28 12:23] sht5 opened #4880 "storybook plugins cant be found in npm when using yarn"
**Describe the bug**
A clear and concise description of what the bug is.
when installing any storybook plugin using yarn i get an error, it can't find the repository

**To Reproduce**
Steps to reproduce the behavior:
1. install yarn v1.2.1
2. open mac terminal
3. run `yarn add -D @storybook/addon-console`
4. See error

**Expected behavior**
A clear and concise description of what you expected to h

[2018-11-28 12:46] camposdev commented on #4880
+1 same issue :(

[2018-11-28 12:55] #4200 closed

[2018-11-28 13:41] cadesalaberry commented on #4011
In the `package.json` [further up](https://github.com/storybooks/storybook/issues/4011#issuecomment-429758542), the relevant line is:

[code]

[2018-11-28 14:15] sht5 commented on #4880
i stumbled upon this issue
https://github.com/yarnpkg/yarn/issues/4451
deleted my ~/.npmrc file and reinstalled yarn and works now

[2018-11-28 14:15] #4880 closed

[2018-11-28 14:37] feonit opened #4881 "addon-info show Unknown component names"
**Describe the bug**
When i run build-storybook after upgrade from 4.0.8 to 4.1.0-alpha.8 addon-info show me in Story Source section code like this:
[code]

**Expected behavior**
before upgrade code was like below
[code]
and i use custom .storybook/.babelrc file with
[code]
**System:**
    "@storybook/addon-info": "4.1.0-alpha.8",
    "@storybook/addon-knobs": "4.1.0-alpha.8",
    "@storybook/addo

[2018-11-28 14:38] Sandstedt commented on #3921
@jtomaszewski I will see if I can come upp with a working solution during the weekend and make a pull request. But I don't think it's a good solution to open it in a new tab. Then you loose access to the navigation and the bottom panel. In our projects we use that panel for ex Knobs to trigger actions and change values, so we still need that panel in the iOS version.

It should be an easy fix. Jus

[2018-11-28 14:55] OlegIvaniv commented on #2862
Hi, any updates on this?

[2018-11-28 15:21] Itrulia commented on #4298
This does not work for me. Still getting the same warning/error:

[code]

this is the story:

[code]

[2018-11-28 16:14] martinmacko47 commented on #4078
lol

[2018-11-28 16:23] mrmckeb commented on #4587
@Itrulia It was never intended to sorry, this was intended for project files.

I'm concerned that your change suggested above could be an issue as it would force all typescript to be passed by rule[0], which is not the rule for CRA.

@igor-dv This could be an order of operations issue. Should we add the CRA config earlier?

[2018-11-28 16:35] magicspon commented on #4796
I'm seeing this issue.

Using react 16.6.3,
@storybook/react 4.0.9
and @emotion/core 10.0.0

cheers

[2018-11-28 17:36] StevenFewster commented on #4871
Please close.  Was setting my environment variables with "new " keyword proceeding them, which isn't necessary and was causing problems

[2018-11-28 17:36] #4871 closed

[2018-11-28 19:50] Syynth commented on #4691
So I ran into this issue using CRA 2.1.1 with typescript on the 4.1.0-alpha.8 version of `@storybook/react` and hooks and it ended up coming down to the fact that the package includes it's own local copy of React so when the hook is called it can't find the `ReactSharedInternals.ReactCurrentOwner.currentDispatcher` instance.
As silly as it felt, I just updated my npm scripts to the following:
[cod

[2018-11-28 21:20] psabharwal123 commented on #4796
i am using **preact** instead of react, what changes are required in preact to make this work (basically what is the specific change from old react to 16.3+), also should i open a new bug?

[2018-11-28 21:40] shlomitc commented on #4191
@shilman - I've tried the new version on our project `wix-style-react` but building the storybook failsas Webpack fails to bundle the manager and hits undefined (no error checking on `build-static.js`).
Trying to log the webpack errors shows it couldn't resolve `react` from `react-dom`

You can check out the PR branch that was created https://github.com/wix/wix-style-react/pull/2494 and our discus

[2018-11-28 22:58] hughanderson4 commented on #4772
Same problem here.  Angular 7.  Only when using `withInfo` addon.

I noticed `addon-info` does not have register.js like other addons.

Also docs of `addon-info` don't say to add to addons.js

I tried adding to addons.js anyway, like this:

`import '@storybook/addon-info';`

it did not help

[2018-11-28 23:46] lifeiscontent commented on #4525
@igor-dv it's no longer in beta.

[2018-11-29 00:50] ranyitz commented on #4191
Thanks @shlomitc!

@shilman I've found the bug with the resolution of `react`/`react-dom`.

**TL;DR** The manager gets the user version of `react` and `react-dom` instead of the version specified in `@storybook/react`. The issue explained in details [in this comment](https://github.com/wix/wix-style-react/pull/2494#issuecomment-442661590).

[2018-11-29 00:54] diagramatics commented on #4312
Resurfacing this, I had a case where I need the preview to be hard reloaded for a piece of code in our component that relies on using a variable declared in `window` on instantiation. Thinking of creating an addon that allows you to change the `window` piggybacked variables, but I believe I'll need this exposed in the preview API.

If this is alright I should be able to contribute to this.

[2018-11-29 01:44] hipstersmoothie commented on #4312
What would an ideal API look like? @diagramatics  @phaistonian

[2018-11-29 01:46] hipstersmoothie commented on #4770
@lloydjatkinson seems like a good opportunity for a tiny PR! Don't worry they get merged quick round here

[2018-11-29 01:51] hipstersmoothie commented on #4772
This is probable because the info addon only support react https://github.com/storybooks/storybook/issues/4770#issuecomment-437788574

[2018-11-29 01:53] hipstersmoothie commented on #4772
It's probably because the storysource section is react only, making the whole addon react only. Try using the addon-notes

[2018-11-29 03:07] tmeasday commented on #4848
After talking with @transitive-bullshit about his format's pros+cons we've agreed to have a go with the format in the gist to get a feel for it. PR/branch is here: https://github.com/storybooks/storybook/pull/4885 -- all welcome to get involved / make suggestions

[2018-11-29 05:17] andyhall commented on #4853
I take it there's no way to suppress the message?

[2018-11-29 05:41] phaistonian commented on #4312
Perhaps

`.add('story', callback, true)`

or

`.add(story, callback, { reload: true }`

Or you could have it for all subs like this:

`storiesOf(myStory, module, { reload: true })`

[2018-11-29 08:01] igor-dv commented on #4525
🔥
I suppose it will be handled soon by our @dependabot-bot . But you can submit a PR 😉

[2018-11-29 08:03] diagramatics commented on #4312
I don't have an opinion for a reload-on-story-switch, but I expect an API under `preview` will be needed for it?

[2018-11-29 08:07] igor-dv commented on #4587
I assume it happens because CRA includes only files from `src` dir into its rules, and `.storybook` is not located there. We can add it to the CRA preset too...

[2018-11-29 08:09] igor-dv commented on #3990
@rupurt do you have any corporate registry in your workplace?

[2018-11-29 08:11] mrmckeb commented on #4587
@igor-dv Maybe that's best. I can take a look at that over the weekend if you'd like?

[2018-11-29 08:20] igor-dv commented on #4587
Take your time 👍 thanks

[2018-11-29 08:53] hipstersmoothie commented on #4853
Seems like we could actually do this https://stackoverflow.com/questions/42196819/disable-hide-download-the-react-devtools/42196820#42196820

[2018-11-29 09:18] Gongreg commented on #4879
Hey @slorber, you are correct, the transpilation is unneeded for preview folder in react-native. It is necessary for server part. Moving forward we will separate preview part from server part to a separate module. There is a PR for that done by me, but it is a little bit stale so I will have to redo it.

[2018-11-29 10:08] kimamula opened #4886 "Angular: Object properties keyed with Symbol disappears when it is passed as a component's input"
**Describe the bug**
When I pass an object containing a key of `Symbol` as a component's input, the key disappears inside the component.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone storybook repo and checkout to v4.0.9
2. Add [this diff](https://github.com/kimamula/storybook/commit/d0f48459ef3989baee82496f97534b04d0fa3c18) to the Angular's example
3. Run storybook and open "Depende

[2018-11-29 11:17] andyhall commented on #4853
@hipstersmoothie Thanks, this is working for me! No idea if it would make sense for storybook to do it automatically, but adding

[code]

to my `.storybook/webpack.config.js` suppressed the message.

[2018-11-29 12:29] Itrulia commented on #4587
Is it also going to be configurable via the `-c` option? We for example are using `-c config/storybook`

[2018-11-29 12:31] Itrulia commented on #4298
Okay, so I was able to reproduce it by having:

[code]

In the config directory.

[2018-11-29 13:22] MarcNq commented on #4796
Also seeing this issue when trying to use emotion for my own components.

Using:
React 16.3.2 + @storybook/react 4.0.2
React 16.6.3 + @storybook/react 4.0.2
React 16.6.3 + @storybook/react 4.0.9
And @emotion/core 10.0.0 in all cases.

[2018-11-29 13:51] soundyogi commented on #4743
Turns out I am stupid, web3 gets injected into iframes now by metamask. thanks anyway!

[2018-11-29 13:51] #4743 closed

[2018-11-29 14:17] hughanderson4 commented on #4772
Thanks, but unfortunately `addon-notes` isn't really the same features as `addon-info`.  Need the usage information to be the first thing presented in the docs, not stuck in a tab.

[2018-11-29 14:41] jaydlawrence commented on #4829
Having the same problem.
We are having to go through all of our Knobs and set a group for all of them now, just so that they show up.

[2018-11-29 14:41] titimoby commented on #4769
I have this issue with 4.0.9 also but more, I have it with 3.4.11

[2018-11-29 14:45] fredxie commented on #4829
We are experiencing the same issue. Having to add default groupId to all the knobs is a huge drag

[2018-11-29 14:45] Carduelis commented on #4817
@darotar could you please describe the cons of this approach?
So, for example, we have a Button.js file, that represents a simple html button wrapped with `styled` and several conditional css-attributes.
Then we export it and reuse somewhere else.
[code]

[2018-11-29 14:54] amittkSharma opened #4887 "Storybook 4 migration addon-knobs is not working"
Hi  Team

After migration to Storybook 4, I am facing an issue with addon-knobs, the panel appears but with "No Knobs" string, where almost every story contains knobs to change the properties of the component.

Before the migration, these were working.

Small Info about the current project structure setup:

1. addon.js contains the following:

[code]

2. config.js contains the following code:

[co

[2018-11-29 14:55] hughanderson4 opened #4888 "How to achieve content pictured on addon-options page"
Looking at the Github page for addon-options

https://github.com/storybooks/storybook/tree/next/addons/options

I see this:

![screenshot](https://raw.githubusercontent.com/storybooks/storybook/next/addons/options/docs/screenshot.png)

Can you please provide the configuration that created such content?
How to make the Hello World story?  Is this hooked to a component?  Or can I write it with Markd

[2018-11-29 15:23] ehtonay commented on #4829
My project is suffering from this issue. Any chance for a fix?

[2018-11-29 15:37] waldemarfm opened #4889 "addon-a11y not working on latest next"
**Describe the bug**
`@storybook/addon-a11y` not reporting a11y test results on `next` branch . It shows `0 passes` and `0 violations` on any story regardless of decorator being set or not.

**To Reproduce**
1. Checkout `next` branch
2. Start the `official-storybook` kitchen sink app or install/register add-on to any other app.
2. Open any of the `a11y` stories with decorator set.
3. Go to `Access

[2018-11-29 15:54] Undistraction opened #4890 "Request: Support For Stories Distributed Amongst Lerna Packages"
**Is your feature request related to a problem? Please describe.**
At present Storybook will not work with stories distributed amongst packages in a monorepo. Storybook's babel loader assumes that it only needs to transpile js within `src`, so if you use a configuration that looks for stories outside of `./src` that are not transpiled, for example:
[code]
Loading these (untranspiled) stories resul

[2018-11-29 16:49] hughanderson4 commented on #4861
I need a top level item in the nav as well.  Not nested under anything else.
It will be a "Getting Started" guide.
Please offer a way to write a story that is not nested under a sub-nav.

[2018-11-29 17:24] rupurt commented on #3990
@igor-dv I think npm invalidated auth tokens which somehow affected downloading packages. I deleted my `~/.npmrc` and it now works.

[2018-11-29 19:36] igor-dv commented on #4691
That was done in order to support different versions of React. One for the `manager` and one for the `client`. Is there any way we can make hooks available out of the box 🤔 ?

[2018-11-29 20:08] hughanderson4 commented on #4888
After spending the afternoon with Storybooks I understand better how to create this structure myself.
Closing it as I no longer need assistance.

[2018-11-29 20:08] #4888 closed

[2018-11-29 21:09] hipstersmoothie commented on #4853
Awesome! I'll take a look into adding this to storybook

[2018-11-29 21:55] carrickjason commented on #3805
Does storybook look for a `babel.config.js` file?  or is it still just `.babelrc`?

[2018-11-29 22:01] amittkSharma commented on #4887
Hi @MansoorBashaBellary - Below are the packages I am using for the storybook:
[code]

[2018-11-29 22:07] MansoorBashaBellary commented on #4887
@amittkSharma - I had this problem earlier, when I upgraded all the `@storybook` dependencies to latest. It fixed my issue. Please try using the latest of `addon-knobs`

"@storybook/addon-knobs": "4.0.9"

[2018-11-29 22:29] amittkSharma commented on #4887
@MansoorBashaBellary - Thanks for the quick response I got the knobs in the panel but I still have some queries:
1. Are knobs from all stories are displayed together at the same time?
2. Still not able to update the component on changing the knobs.

Please let me know if something is missing.

Thanks and regards
Amit

[2018-11-29 22:46] CloudPower97 opened #4891 "Can't configure it with CSS Module and PostCSS"
**Describe the bug**
I'm trying to use `CSS Module`s with `PostCSS`, but I'm experiencing a lot of problem configuring `webpack.config.js` up.

**To Reproduce**
It's a fresh installation of `storybook`.
Just head over to your `.storybook` folder and add a `webpack.config.js` file.

I've tried :

[code]

and this one:

[code]

with no luck.

Everything else works just fine.

This is driving me craz

[2018-11-29 22:51] MansoorBashaBellary commented on #4887
Try using

`addDecorator(
  withKnobs({
    escapeHTML: false
  })
);`

Knobs are specific to stories. On selecting a story that has `KNOBS` will display knobs and then changing the selection to stories that doesnot have knobs will show `NO KNOBS`.

[2018-11-30 00:32] wcj3 commented on #3987
I'm still seeing this issue with a similar setup to above(Using 4.0.7 for all storybook packages). Fails when using the -o argument. Let me know if I should create a separate ticket or provide information here.

[2018-11-30 01:08] amittkSharma commented on #4887
@MansoorBashaBellary I found the problem but not able to identify the real reason behind it, I created a generic function to add chapters to a story

[code]

Do you have a real information on it?

Thanks and regards
Amit

[2018-11-30 01:42] hipstersmoothie commented on #4772
@hughanderson4 is it being the first tab not enough? storybook has a docs mode coming soon. but IDK if that will support vue either. @ndelangen is the plan for the new docs mode to support all app types?

[2018-11-30 01:47] hipstersmoothie commented on #3805
@carrickjason I am currently using a `babel.config.js` and it works

[2018-11-30 01:50] hipstersmoothie commented on #4861
@hughanderson4 You can do something like I did here

I am not sure how to not have a dropdown. But this will get you an intro.

https://github.com/hipstersmoothie/materialize-hooked/blob/master/Components/welcome.story.tsx
http://hipstersmoothie.com/materialize-hooked/?selectedKind=Welcome&selectedStory=Introduction&full=0&addons=0&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-pa

[2018-11-30 01:57] hipstersmoothie commented on #4890
This should work. I have a storybook that loads stories from another monorepo package. Try adding this to your storybook webpack config. Find the babel rule in loaders and modify the include and exclude to include the parent directory (for a monorepo this will be `packages`).

[code]

Let me know if it helps you!

[2018-11-30 01:58] hipstersmoothie commented on #4889
Are all your other storybook deps up to date?

[2018-11-30 06:00] y-nk commented on #4833
@Laslo89 sorry for my late response.

---

First : About the non-working "all knobs" demo :

It's actually **normal** that way. I think was _kindof a false-positive working feature_ in my opinion as I'm not convinced that this way of coding is a best practice regarding Vue components.

If you look at the [source code of the story](https://github.com/storybooks/storybook/blob/next/examples/vue-kitc

[2018-11-30 09:20] Undistraction commented on #4890
@hipstersmoothie Thanks. I'm off today but I'll give this a try on Monday.

[2018-11-30 11:50] Laslo89 commented on #4833
@y-nk  Thanks for taking the time and your detailed explanation.

when I remove the Decorator and properly update to the "@next" Version of knobs it works.

Before you pointed out the bug I also tried to remove the wrapper and update to "@next". The only difference was, that I updated Storybook as well. This lead to a webpack html-loader error. Therefore i reverted it to 4.0.9

Until you fix the (

[2018-11-30 13:39] dbenfouzari commented on #3417
@aircraft721 Did you made it work ? I cannot get it to work :(

[2018-11-30 13:50] carrickjason commented on #3805
@hipstersmoothie Nice, thanks.  Works for me too.  The docs still say it looks for `.babelrc` so i was curious.

[2018-11-30 14:41] adekbadek opened #4895 "scroll blocking on Android Firefox"
**Describe the bug**
On Firefox browser on Android device (tested on emulated Nexus 5X) it's impossible to scroll an overflowing story in preview panel.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a scrollable (overflowing) story
2. Try to scroll

**Expected behavior**
Scrolling should work

**Screenshots**
https://monosnap.com/file/p5lkd6OKMjjFraUmOGnGy4LOwOCQQx

**Code snippets**

[2018-11-30 14:52] waldemarfm commented on #4889
Yes this is happening on a fresh clone of latest, `4.1.0-alpha.9`.

[2018-11-30 15:14] adekbadek opened #4896 "in mobile version, the bottom bar partially obscures stories list"
**Describe the bug**
In mobile version, the bottom bar partially obscures stories list, making the bottommost in the list unclickable

**To Reproduce**
Steps to reproduce the behavior:
1. open a long (taller than screen height) stories list in mobile view
2. the bottommost stories are obscured by the bottom UI bar

**Expected behavior**
the bottom UI bar should not cover stories list

**Screenshot

[2018-11-30 18:05] Edd-Strickland commented on #4860
If it was able to support the other variations of storybook it'd be good too...

[2018-11-30 19:22] dereklin commented on #3797
@igor-dv is there any update on this?  the same problem happens with angular 7.1.1 + storybook 4.0.9

[2018-11-30 19:29] airato opened #4897 "@storybook/addon-options missing v4.0.9 release in npm"
@storybook/addon-options is missing v4.0.9 release in npm. And @storybook/addon-backgrounds too

![image](https://user-images.githubusercontent.com/4506749/49310391-01a8a700-f493-11e8-93e0-4d4de42d9813.png)

[2018-11-30 21:19] ndelangen commented on #4191
The next "next" release should fix this.

[2018-11-30 21:20] ndelangen commented on #4191
@shilman Do we close this, as it's fixed now in "next"?

[2018-11-30 21:22] ndelangen commented on #3921
You'll be glad to hear that will be a standard feature in Storybook 5, see #4086

[2018-12-01 08:09] chikalaka commented on #4088
@SleepWalker can you explain where you have added this code? (currently not working for me)
Thanks.

[2018-12-01 08:14] SleepWalker commented on #4088
@chikalaka you need to use webpack.config.js (extend mode):

https://storybook.js.org/configurations/custom-webpack-config/#extend-mode

[code]

[2018-12-01 08:31] chikalaka commented on #4088
@SleepWalker I'm using the Full control mode + default, maybe a noob webpack question, but where did you get the webpack object?

My code:
[code]

[2018-12-01 08:52] SleepWalker commented on #4088
Just type on top of file:

[code]

[2018-12-01 09:18] chikalaka commented on #4088
Thanks.
Still getting an error:

ERROR in ./node_modules/react-event-listener/dist/react-event-listener.cjs.js
Module not found: Error: Can't resolve '@material-ui/core/node_modules/@babel/runtime/helpers/builtin/typeof' in '/Users/edanc/workspace/chika/frontend/client/node_modules/react-event-listener/dist'
 @ ./node_modules/react-event-listener/dist/react-event-listener.cjs.js 11:30-78
 @ ./node

[2018-12-01 11:35] ndelangen commented on #3242
Let's consider this a duplicate of #4169.

[2018-12-01 11:35] #3242 closed

[2018-12-01 11:39] ndelangen commented on #4088
I think we can remove the alias from preview config now that the preview and manager are split @shilman Let me open a PR.

[2018-12-01 14:02] eweap commented on #2616
@dereklin @igor-dv Thanks a lot both of you for your usefull conversation, it helped me to implement storybook in my angular multi apps project with shared lib !

[2018-12-01 14:11] igor-dv commented on #2616
@eweap, would be great if you can document it in some way to help others 😉

[2018-12-01 14:13] SleepWalker commented on #4088
@chikalaka it does not work probably because your Plugin config is incorrect. Both `@material-ui` and `react-event-listener` using stable babel 7+. Looks like your build previously have failed with some other package. You should temporary disable plugin, than look at the error during build and notice what the package is causing an issue and use it's name for plugin setup. E.g. if you have the foll

[2018-12-01 14:34] Hypnosphi commented on #4088
BTW did you try replacing the default alias with your own?

[code]

[2018-12-01 16:05] igor-dv commented on #4897
Indeed @shilman
https://www.npmjs.com/package/@storybook/addon-options

[2018-12-01 16:39] igor-dv commented on #4861
I think it's duplicate to #2863

[2018-12-01 16:57] igor-dv commented on #4891
Default config already has partially css rules supported. If you are using CRA2 it even brings more css rules... So you probably need to replace/disable the css rules that are already coming from the `defaultConfig`.

[2018-12-01 17:37] igor-dv commented on #4298
@Itrulia do you use CRA2? I wonder why would you create a custom webpack config, since we support now TS and svgr out of the box for CRA2 users.

[2018-12-01 17:41] igor-dv commented on #4587
It should =)

[2018-12-01 17:51] igor-dv commented on #4312
[code]

this makes more sense to me since we can have an addon that uses this "reload" prop

[2018-12-01 18:04] igor-dv commented on #4875
Would you like to PR this to docs?

[2018-12-01 19:14] maxkomarychev commented on #4852
relevant issue: #4011

[2018-12-01 21:10] PinkaminaDianePie commented on #2863
This bug makes navigation twice as hard. Each time 2 clicks instead of one :(

[2018-12-01 21:31] chikalaka commented on #4088
@SleepWalker @Hypnosphi
When using the "Full control mode + default":
[code]

[2018-12-01 22:53] shilman commented on #4897
Sorry about that--this one was due to a bug in lerna or how I was using it. I've released 4.0.10 that publishes all packages.

https://github.com/storybooks/storybook/releases/tag/v4.0.10

[2018-12-01 22:53] #4897 closed

[2018-12-01 22:59] igor-dv commented on #4897
@shilman, maybe we should create a test that will check all the packages are having the right version in npm?

[2018-12-01 23:06] shilman commented on #4897
@igor-dv that's a good idea. In this case it was a lerna issue, but in the past there have been cases where NPM just ignores the publish in some cases. I'll add that to my release process.

[2018-12-01 23:41] #4718 closed

[2018-12-01 23:49] igor-dv commented on #2862
There were a few similar issues regarding this. You can take a look on an attempt to solve this in #4516

[2018-12-01 23:54] igor-dv commented on #4694
@maacky, It's still an issue

[2018-12-01 23:57] igor-dv commented on #4865
So what is this issue about and would mind to PR the fix ? 😉

[2018-12-02 01:46] #4181 closed

[2018-12-02 03:40] airato commented on #4897
Thanks guys!

[2018-12-02 04:42] shilman commented on #4897
@igor-dv I've added it to my release script so we won't have to wait for issues to be filed to know when something went wrong with the publishing 😊

[2018-12-02 06:33] phaistonian commented on #4312
@igor-dv or even `storiesOf(myStory, { module, reload: true })`

[2018-12-02 09:36] spencersmb commented on #4210
@Keraito I'm having same issue as @smks using the same config setup except I'm using typescript.

My package versions are:
"@storybook/addon-actions": "^4.0.9",
    "@storybook/addon-info": "^4.0.9",
    "@storybook/addon-links": "^4.0.9",
    "@storybook/addon-options": "^4.0.10",
    "@storybook/components": "^4.0.10",
    "@storybook/react": "^4.0.9"

Let me know what else would help if anythin

[2018-12-02 10:44] hmelenok commented on #4854
Fixed with new alpha 🎉

[2018-12-02 14:06] mrmckeb commented on #4587
@igor-dv Please see #4902

[2018-12-02 14:16] mrmckeb opened #4903 "create-react-app config is loading twice"
**Describe the bug**
The create-react-app config is loading twice, but should not be.

**To Reproduce**
Steps to reproduce the behavior:
1. Run storybook alongside an application based on create-react-app.
2. Observe terminal output.

**Expected behavior**
This config should be loaded once only.

**Screenshots**
![image](https://user-images.githubusercontent.com/5043083/49340758-ff8a4800-f64c-11e8

[2018-12-02 15:34] shilman commented on #4191
Yep, closing!

[2018-12-02 15:34] #4191 closed

[2018-12-02 17:51] #4349 closed

[2018-12-02 18:05] igor-dv commented on #4903
As I've mentioned here - https://github.com/storybooks/storybook/pull/4902#issuecomment-443510766

We are applying presets on `baseConfig` and `defaultConfig` independently (it's not an issue introduced only in presets feature, it was also before, but now it's more visible):

[code]
The reason for this, is that we don't know what user will choose.

The possible solution could be:

### Changing the

[2018-12-02 18:46] #4059 closed

[2018-12-03 00:52] codeNoobie commented on #4844
@igor-dv What if we replace peer dependency on react with optional dependency on react? We can put some fallback code in the manager to fail/ignore gracefully?

https://docs.npmjs.com/files/package.json#optionaldependencies

[2018-12-03 02:57] y-nk commented on #4833
@Laslo89 i'm glad i could be of help. I couldn't see your webpack html loader error when i ran your repo, so feel free to let me know ; it could be a side effect related to our update somehow.

We'll update you about this bug/issue whenever possible.

[2018-12-03 09:33] dasdeck commented on #4833
I still can not get my component to update its values, no matter what I do, the value is stuck. Is there a specific combination of versions I have to use? Thanks!

[2018-12-03 10:02] maacky commented on #4847
The same applies to `backgrounds`, and, I guess, any other addon that directly modifies the preview.

[2018-12-03 13:21] Undistraction commented on #4890
@hipstersmoothie  I've spent the morning trying to get this working. I think I'm close. Storybook is no longer choking on jsx, but I cannot get Storybook to display stories from other packages. Even if I hardcode the import into my `./storybook/config.js`:

function loadStories() {
  require('../../example/src/components/DisclosingText/DisclosingText.stories.js')
}

Storybook still opens without e

[2018-12-03 14:42] KudMath commented on #4887
I have the exact same issues! (v `4.0.9`)

[2018-12-03 14:46] MansoorBashaBellary commented on #4887
Oh. I am using `4.0.9`, I don't have this issue. Is there any JS error.

[2018-12-03 14:50] KudMath commented on #4887
@MansoorBashaBellary nope

[2018-12-03 14:51] paradox42 commented on #1325
@vijaybritto Mind to share your process of identify and fixing ? Appreciated.

[2018-12-03 14:57] spawnia commented on #4875
@igor-dv Sent a PR :)

[2018-12-03 15:16] amittkSharma commented on #4887
@KudMath Can you please provide how you are adding the stories? As things are working with the updated version.

[2018-12-03 16:23] alexkcollier commented on #4833
@dasdeck Your template should be `<BuilderStory :user="userInput()" />`. You can also just set `userInput.default` to `user`, rather than the function.

@y-nk I refactored to your suggested implementation on 4.0.11 and ran into a new issue . Wrapping stories in a global decorator stops the knobs from being reactive.

[code]

[2018-12-03 16:39] Frankcarvajal opened #4909 "Storybook 4/Addon Dependencies breaks mobx/mobx-react @observable"
**Describe the bug**

_I couldn't determine if this should be filed as a Storybook bug or as a Feature request for support with MobX/Mobx-react._

https://stackoverflow.com/questions/53547412/storybook-breaks-mobx-mobx-react

With most recent versions of React/MobX/mobx-react @observable variables are defined,
after running `npm i --save-dev @storybook/react @storybook/addon-notes @storybook/addon

[2018-12-03 16:56] ronihcohen commented on #4799
On a new project (CRA 2.1.1 + Storybook 4.0.1) https://storybook.js.org/configurations/typescript-config/ didn't work for me today.

[2018-12-03 17:00] sibelius commented on #4082
can we use WebpackNodeExternals https://github.com/liady/webpack-node-externals/issues with storybook?

[2018-12-03 17:32] igor-dv commented on #4587
The fix is merged.

[2018-12-03 17:32] MansoorBashaBellary commented on #4877
Tried to figure out root cause of this issue, but was not able find it. But got a work around to fix this issue with `resolutions` field in `package.json` like:

"resolutions": {
  "@storybook/components": "4.1.0-alpha.2",
  "@storybook/ui": "4.1.0-alpha.2"
}

Adding above code in `package.json` fixed my issue

[2018-12-03 17:41] matt-oakes commented on #4011
An important part of getting the `REACT_APP_STORYBOOK` to work is to configure the `babel-plugin-transform-inline-environment-variables` Babel plugin. Details:

https://www.npmjs.com/package/babel-plugin-transform-inline-environment-variables

[2018-12-03 17:54] shafua commented on #1435
Hi, I may have solution to this issue. As @dperetti mentioned, it would be useful to have stories that running inside webview tag.
So, I've created small library that start separate electron instance just to show stories which it are served on 9002 port.
Check it out, maybe you'll find it useful: https://github.com/web-pal/electronic-stories

[2018-12-03 17:55] #3379 closed

[2018-12-03 18:01] Undistraction opened #4910 "Cannot Require Stories From Parent or Sibling Directories"
**Describe the bug**
Storybook is unable to require stories if their location is outside the root of the directory containing the `.storybook` config directory.

**To Reproduce**
1. Create a project using Storybook
2. Require a `*.stories.js` file located in a directory that is not a subdirectory to the directory containing the storybook config directory.

**Expected behavior**
The story is loaded

[2018-12-03 18:01] Undistraction commented on #4890
I've opened a separate issue as the problem seems to be related to loading stories from parent or sibling directories: #4910

[2018-12-03 20:11] okinp commented on #2812
bump

[2018-12-03 20:57] hoopes opened #4911 "mockChannel from FAQ does not exist?"
### Bug or support request summary
Hi, I'm trying to use the `addons-knobs` plugin, and I get this error: `Accessing nonexistent addons channel, see https://storybook.js.org/basics/faq/#why-is-there-no-addons-channel`. However, when I try to do what it says, there does not appear to be a `mockChannel` within `@storybook/addons`.

[code]

There is also the promisingly-named `@storybook/channels`, w

[2018-12-03 21:53] igor-dv commented on #4082
What do you mean?

[2018-12-03 21:55] sibelius commented on #4082
instead of using `alias`, why not use webpack-node-externals to not bundle anything inside node_modules

I've tried, but got `require` is not a function

[2018-12-03 21:56] igor-dv commented on #4298
Do you have a `react-scripts` somewhere in your `node_modules` ? We are applying rules from CRA when this package is listed.

[2018-12-03 21:57] igor-dv commented on #4082
Can you share an example of the usage?

[2018-12-03 21:59] sibelius commented on #4082
[code]

related to this https://github.com/entria/entria-fullstack/blob/master/packages/server/webpack/webpack.dev.js#L16

[2018-12-03 22:00] igor-dv commented on #4799
v4.1.0-alpha already supports TS out of the box for the CRA2 users, without creating a custom webpack.config. Can you check this ?

[2018-12-03 22:14] igor-dv commented on #4082
What is the error log by the way?

[2018-12-03 22:31] #4875 closed

[2018-12-03 22:40] igor-dv commented on #4844
The problem is that optional deps are like real deps, but when there is a problem with installing it, it won't fail the whole installation... I am not sure this fits the `react` pkg in our case...

[2018-12-03 22:44] igor-dv commented on #4911
You have to use all of the storybook packages with the same version.

[2018-12-03 22:48] igor-dv commented on #2812
Linking with #4770.
You can use https://github.com/pocka/storybook-addon-vue-info.

[2018-12-03 23:16] #4016 closed

[2018-12-03 23:16] #4115 closed

[2018-12-03 23:42] paradox42 commented on #1325
@vijaybritto  Thanks man, that's what I was looking for

[2018-12-04 00:33] Itrulia commented on #4298
Yes, my stripped down version doesnt have it, the original version I encountered that includes it.

[2018-12-04 02:13] sairus2k commented on #4011
Another approach is to check `REACT_APP_STORYBOOK` variable in `rn-cli.config.js` file, where it is available without babel plugin.

[code]

[2018-12-04 05:36] immuzov commented on #4796
I'm seeing this issue.

Using react 16.7.0-alpha.2,
@storybook/4.1.0-alpha.10
and @emotion/core 10.0.1

cheers

[2018-12-04 05:40] #4017 closed

[2018-12-04 09:08] dandida95 commented on #4896
can i help out?

[2018-12-04 09:18] igor-dv commented on #4896
@dandida95, definitely you can!

[2018-12-04 09:55] gapipro commented on #4887
I have same issue with:
[code]

[2018-12-04 12:04] ronanmulvaney opened #4918 "Apply sideEffect true to default CSS rule"
As per #4690 sideEffects true is needed to load SCSS but it is also needed to load CSS as per the linked https://github.com/webpack-contrib/style-loader/issues/312#issuecomment-406444631

Could this be applied to the provided CSS rule in the default WebPack config.

[2018-12-04 12:09] amittkSharma commented on #4887
@MansoorBashaBellary: The knobs are working for me now, even as global decorators. I think the problem is not the addon itself but how you create the object of the story and add chapters to it.

Thanks
-A

[2018-12-04 14:07] hoopes commented on #4911
Got it - thank you very much @igor-dv !

[2018-12-04 14:07] #4911 closed

[2018-12-04 15:04] Edd-Strickland opened #4920 "Knobs Addon: example for Polymer"
**Is your feature request related to a problem? Please describe.**
Within the supported addons table for the Polymer column it says Knobs is supported.  However there's limited examples of how this could be done.

In the Polymer showcase this is also up and running meaning it's like to be possible to set up yet again no examples or code base which doesn't trigger the append child error.

**Describ

[2018-12-04 15:17] tonai opened #4921 "Storybook with centralized store (like Redux)"
Hi,

this is not a bug, but just a question on how do you guys use storybook in a context that you are building an app with some centralized store like Redux, MobX...etc.

In fact it is not really bonded to the usage of a centralized store but it is even more true this way.

Let me bring a simple example:

I want to build some search input with React and I know I will use Redux, so there will be s

[2018-12-04 15:40] Hypnosphi commented on #4921
In my case, it was enough to add a [global decorator](https://storybook.js.org/basics/writing-stories/#using-decorators)

[code]

[2018-12-04 16:15] tonai commented on #4921
Thanks @Hypnosphi for your reply.

In fact, I know how I can technically use the `decorators`, `Provider` and so on.

Sorry for being not precise enough, but my question is more about, how do you organize your code...etc.

Let me also tell more about the context:

In my case I use the storybook in a project (call it `ui-kit`) where we develop components that we use in other projects (the real apps

[2018-12-04 17:01] jalal246 commented on #4890
This might be helpful but it has performance issues  regarding to loading.

`
const req = require.context('..', true, /packages\/((?!node_modules).)*\/stories\/[^\/]+\.js$/);
`

I am not sure if this is the best solution to load stories from `packages`

[2018-12-04 18:07] jkalina commented on #3797
Check your imports in stories. In my project there was wrong import appied in one story: `import { storiesOf } from '@storybook/angular/src/client/preview';` instead `import { storiesOf } from '@storybook/angular;`.

[2018-12-04 19:02] Undistraction commented on #4890
@jalal246 Thanks for the suggestion. I actually switched to transpiling the stories as I thought that would allow me to sidestep this issue. I thought that this would allow me to load the transpiled stories directly from within my lerna packages which are just symlinks in my package's `node_modules`, however even if I use an explicit import, for example:
[code]
Storybook just will not load the sto

[2018-12-04 22:21] samuelcastro opened #4924 "How to define a custom tsconfig just for StoryBook?"
This is not a bug and I think you support this, I have different compilations props for storybook and for the regular app, how can I config a different tsconfig file for Storybook?

Thanks.

[2018-12-04 22:29] igor-dv commented on #4844
@codeNoobie , do you need help with this?

[2018-12-04 22:53] igor-dv commented on #4924
Is this for sb/angular?

[2018-12-04 22:55] #4620 closed

[2018-12-04 23:35] samuelcastro commented on #4924
@igor-dv It's for a React app.

[2018-12-04 23:37] igor-dv commented on #4799
@amittkSharma , do you have a reproduction repo?

[2018-12-04 23:39] amittkSharma commented on #4799
@igor-dv: Will create one tomorrow and send you the repo name.

Thanks
- Amit

[2018-12-04 23:51] igor-dv commented on #4924
Can you elaborate more about your setup? SB version ? do you use CRA ?

[2018-12-04 23:56] igor-dv commented on #4802
I've tried to set up the repo, but there are some `@od/*` packages (probably internals ?) that are missing...

[2018-12-05 00:10] igor-dv commented on #4738
@slorber, you just need to set `babel-plugin-react-native-web` properly for the storybook. We can make it as a preset for storybook in the future. What exactly doesn't work for you now?

[2018-12-05 00:13] igor-dv commented on #4818
Closing this as a duplicate to #2863.

[2018-12-05 00:13] #4818 closed

[2018-12-05 00:59] samuelcastro commented on #4924
@igor-dv This is a typescript project for React UI components, I'm not using CRA, it's a plain webpack + jest setup.

[2018-12-05 02:15] samuelcastro commented on #4924
I just fixed the problem adding a compilation option on storybook webpack like so:

[code]

[2018-12-05 02:30] hipstersmoothie commented on #4890
@jalal246 I could probably just change it to:

[code]

[2018-12-05 02:40] hipstersmoothie commented on #4890
I've double checked and I am 99% sure that I have no other config for storybook to see the other dir

[2018-12-05 02:40] hipstersmoothie commented on #4910
@Undistraction throw this in a repo so i can try to fix it?

[2018-12-05 05:17] bradwoods opened #4926 "Typescript Error: appropriate loader"
**Describe the bug**
When running storybook, getting error: `You may need an appropriate loader to handle this file type...`

**To Reproduce**
1. Installed latest create-react-app (v2.1.1),
2. Enabled typescript as per instructions [here](https://facebook.github.io/create-react-app/docs/adding-typescript),
2. Installed latest storybook (v4.0.11),
3. Followed instruction [here](https://storybook.js

[2018-12-05 07:40] igor-dv commented on #4924
Cool. 👍
Anyway, if you are defining TS rules by yourself in the custom webpack config, you can provide a custom `tsconfig.json` file to consume there.

[2018-12-05 07:40] #4924 closed

[2018-12-05 09:39] Itrulia commented on #4298
Oh... This works great!

Thanks and sorry for wasting your time!

[2018-12-05 09:58] igor-dv commented on #4802
Ok, I don't get what's the thing here... Downgraded it down to v4.0.0, and the problem still remains 🤦‍♂️

[2018-12-05 09:59] igor-dv commented on #4298
Linking the #4903 here.

[2018-12-05 11:01] mick-feller commented on #4802
The problem with the build still remains you mean?

[2018-12-05 12:04] igor-dv commented on #4802
I meam the problem with the build.

[2018-12-05 12:20] Laslo89 commented on #4833
@alexkcollier Thats the issue that i got into. ... This is a open issue / bug. see some comments above. At the moment, it is not possible to use knobs with global decorators that wrap stories

[2018-12-05 12:22] Edd-Strickland commented on #4920
TBH I'd settle for a peak at the code for the working polymer example and I can maybe work it out from there?

Thanks

[2018-12-05 12:56] mick-feller commented on #4802
The only potential difference i can see from other projects is that i don't have any cra or other build for my app/components. I'm relying only on the storybook build. I don't know if this makes any difference.

[2018-12-05 15:28] kyleoliveiro opened #4930 "What about SBNext?"
**Is your feature request related to a problem? Please describe.**
So I stumbled upon https://github.com/storybooks/SBNext and noticed that the project hasn't been updated in a while, and there isn't a way to create an issue there. Are there plans to continue development on SBNext?

**Are you able to assist bring the feature to reality?**
Yes.

[2018-12-05 15:53] turkus commented on #190
@matchu because I have the same issue like you, you can try to deploy storybook on the same machine as your app, then serve in nginx under specific path storybook and in the storybook create symlink to the folder containing your components. The same with sass (if you use). Then it should work :) I will let you know if it works, because I plan to do the same.

[2018-12-05 15:55] turkus commented on #2140
@AndreiCalazans please check this: https://github.com/storybooks/storybook/issues/190#issuecomment-444535554

[2018-12-05 16:01] igor-dv commented on #4746
Should be something like this:

[code]

[2018-12-05 16:06] alexkcollier commented on #4833
Sorry about that. I should read closer

[2018-12-05 16:07] igor-dv commented on #4930
SBNext is kinda an agenda to where we want to move storybook. This project won't be published in the nearest future, but part of its apis/concepts will be implemented here soon (in the v4.1 and v5, etc)

[2018-12-05 16:10] igor-dv commented on #4920
You are welcome to add more example 😉

[2018-12-05 16:13] igor-dv commented on #4926
CRA2 + TS is already supported in the latest alpha (4.1.0-alpha)

[2018-12-05 17:19] Edd-Strickland commented on #4920
Love to but really I need to see working code so I can backwards engineer it or at least some support from the core team so I know what I should be doing.   Theres no documentation and it's experimental i get that but its clear from the demo site someone has it working so a repo of that would be helpful to at least guide those of use attempt to use it, expand, develop on it or for it...

[2018-12-05 17:48] igor-dv commented on #4776
IMO shortcuts are not persistent.
@ndelangen, @Jessica-Koch, will this be handled in the ui overhaul?

[2018-12-05 17:49] igor-dv commented on #4918
I think it could. Do you want to PR?

[2018-12-05 17:55] rileytb opened #4931 "TS definitions for @types/storybook__addon-knobs@^3.4.1 missing radios"
**Describe the bug**
The TS definitions (@types/storybook__addon-knobs@^3.4.1) appear to be missing the definition for `radios`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to @storybook/addon-knobs/src/index.js
2. There you can see `export function radios(...`
3. Go to @types/storybook__addon-knobs/index.d.ts
4. There you'll see the definitions for everything _but_ the radios

**Expec

[2018-12-05 17:56] igor-dv commented on #4321
So what is an alternative?

[2018-12-05 17:58] igor-dv commented on #4188
Have you tried the v4?

[2018-12-05 18:00] igor-dv commented on #4931
We are not maintaining types in the definitelytyped. But we will bring our types into the repo soon.

[2018-12-05 18:00] #4931 closed

[2018-12-05 18:04] igor-dv commented on #4877
That strange. I can't see this problem in the official example

[2018-12-05 18:08] igor-dv commented on #4909
We should probably setup a CLI test for this...
Anyway, can you create a reproduction repo?

[2018-12-05 18:11] MansoorBashaBellary commented on #4877
@igor-dv - This is happening due to `vue-cli-plugin-storybook`. This is not as such issue of `storybooks`. Created an issue for `vue-cli-plugin-storybook`:

https://github.com/storybooks/vue-cli-plugin-storybook/issues/40

Closing this issue

[2018-12-05 18:11] #4877 closed

[2018-12-05 19:09] igor-dv commented on #4877
@y-nk , IMO we need to bring the `vue-cli` integration into SB as a preset.

[2018-12-05 19:17] Jessica-Koch commented on #4776
Yes this was held up because of a bug that caused the constructor to load twice

Sent from my iPhone

[2018-12-05 19:20] igor-dv commented on #4766
With `sb/standalone` you probably won't be able to support v3. You can try using AST parsing of the stories to extract this metadata (We are doing this internally for storysource addon), but it also won't support some esoteric examples.
I think after the #4848 everything will be much easier.

[2018-12-05 19:21] igor-dv commented on #4776
Can the fix be extracted to v4?

[2018-12-05 19:22] ecbrodie opened #4932 "After upgrade to v4, storyshots multiSnapshotWithOptions infinitely hangs"
**Describe the bug**
I am currently upgrading my project from Storybook v3 to v4 (coupled with a Webpack 3-->4 and Babel 6-->7 upgrade). Everything is working so far, except for Storyshots. With `multiSnapshotWithOptions` enabled, the storyshots test will infinitely hang with zero feedback as to why. But, the storyshots work just fine without this option.

**To Reproduce**
Steps to reproduce the b

[2018-12-05 19:22] #4854 closed

[2018-12-05 19:40] Jessica-Koch commented on #4776
Sorry if that doesn’t answer the question, I have no idea when things are getting released.  I took off work to work on this today

Sent from my iPhone

[2018-12-05 19:49] ecbrodie commented on #4932
@igor-dv thank you for the quick reply. I am glad to provide a repo, but I'll need some time to prepare a public one because I am running into this issue on a private repo and do not have permission to make the codebase public. Please give me a day and I'll have something public ready for you to reproduce the issue with.

[2018-12-05 19:52] igor-dv commented on #4784
So, if I understand you well, you have something like `@my/button@1`, `@my/button@2`. And you want to see both in Storybook? Like this:

[code]

Then you publish a new `@my/button@3`, and this should be reflected in the running SB instance?

[2018-12-05 20:01] simpleimpulse commented on #4784
Yes, I would ideally like to be able to simply write a single story per component, and then I want to be able to choose from a drop down or something which allows me to render different versions of the component for the same story.

This add-on seems to be handling the requirement well:
https://medium.com/buildit/versioned-style-guides-with-react-storybook-aed6eebc585d

[2018-12-05 20:03] igor-dv commented on #4849
As was already mentioned in similar issues, we are not maintaining typings in definitelytyped, and we are going to bring types into Storybook soon.

[2018-12-05 20:03] #4849 closed

[2018-12-05 20:10] #4835 closed

[2018-12-05 20:11] igor-dv commented on #4684
Does this still happen? Did you maybe try other versions of SB?

[2018-12-05 20:15] igor-dv commented on #4083
@stramel,  a long time has passed since you opened this issue, can you confirm this is still happening with v4?

[2018-12-05 20:16] igor-dv commented on #4703
I think it's fixed.

[2018-12-05 20:16] #4703 closed

[2018-12-05 20:58] stramel commented on #4083
I will try to update my stuff to v4 and see if it is still an issue.

[2018-12-05 21:10] joscha commented on #4849
They should be, I think the pull request was merged last week.
@igor-dv agree co-locating the types would be best but the types have been much more up to date ever since they are on DefinitelyTyped - more hands to help I think ;)

[2018-12-05 22:27] ruudyroon opened #4937 "http-server inside .out returns module build failed (storybook-angular)"
I'm running http-server inside .out folder to check if the static storybook app runs correctly.

Starting up http-server, serving ./
Available on:
  http://127.0.0.1:8080
  http://10.58.90.233:8080
Hit CTRL-C to stop the server

it works properly on
http://10.58.90.233:8080

but fails on
 http://127.0.0.1:8080

with this error message
Module build failed (from ./node_modules/ts-loader/index.js): E

[2018-12-06 00:57] hamstu commented on #4840
Same thing is happening to me, I also added `babel-plugin-require-context-hook` but I see no stories and get this error in the console:

[code]

Were you able to look into this anymore @shilman?

[2018-12-06 07:23] tirli opened #4940 "SCSS doesn't work out of the box on Windows"
**Describe the bug**
scss is still not working under windows out of the box. We tested it on Linux and it works OK, but with the same config(just initialized) on windows it fails with error `You may need an appropriate loader to handle this file type.`

Tested in the combination of storybook 4.0.12 and CRA 2.1.1

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize new CRA project
2. In

[2018-12-06 07:45] kylemh commented on #4940
The issue is that you need to rename `App.css` to `App.module.scss` to get CSS Modules with Sass working 👍

Really well-written issue btw, thank you for taking that time.

[2018-12-06 08:03] kylemh commented on #4940
The code in question: https://github.com/storybooks/storybook/blob/next/app/react/src/server/cra-config.js

This smells like it could be some kind of cross-platform issue with `fs` or `path` in [this function](https://github.com/storybooks/storybook/blob/next/app/react/src/server/cra-config.js#L13)

Googling issues related to methods called + "windows problem" led me to the following open (or unre

[2018-12-06 08:06] kylemh commented on #4940
Also, ping @igor-dv

[2018-12-06 08:40] objectiveSee opened #4941 "Failing to compile"
**Describe the bug**
I am trying to install Storybook into an existing RN app. We do not use `expo` and we only have an `ios` app not `android` (yet). I am getting build errors when I run `yarn storybook` as well as `npm run storybook`. The compiler bug may be related to `babel-loader`.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the instructions for adding a SB to a RN app.
2, Wh

[2018-12-06 08:51] tirli commented on #4940
I'm using node 10.13.0 and Windows 10.0.17134.407 (but tried on 3 different windows computers and two linux + macbook).

Not sure what do you mean about "explicit path to node_modules", but for example `process.cwd` output is `'C:\\Users\\Yoga\\projects\\app'`

Also I tried to run such code in node (taken from storybook sources) to understand what is wrong
[code]

 I'm getting such error:
[code]

[2018-12-06 08:55] asnewman commented on #4796
Same

"react": "^16.2.0"
"@storybook/react": "^4.0.12"
"@emotion/core": "^0.13.1",

[2018-12-06 09:45] slorber commented on #4738
I don't remember exactly what did not work for me but my attempt to make storybook web + native work on the same RNW project did not work. I'll probably give it another try sooner or later because I really want visual diffing feature of my RN components. Will report here on my next attempt.

However if you can provide a sample repo where you made this work fine please don't hesitate ;)

[2018-12-06 11:15] anyexinglu commented on #3858
Have you resolved?

[2018-12-06 15:01] esbenvb opened #4943 "postcss-loader cause errors with react-calendar module"
**Describe the bug**
I am trying to introduce storybook on a web app which use typescript and scss.

**To Reproduce**
When I use the sample story (with two buttons), it works fine. However, when I try mounting one of our existing components in the story, I get the following compile error:

[code]

**Code snippets**
the `webpack.config` of the react project:

[code]

And the `webpack.config.js` of

[2018-12-06 15:09] MonteKrysto opened #4944 "Can't resolve components path that are imported using the directory and default index.js file"
**Describe the bug**
Storybook can't resolve components path that are imported from a directory with the default index.js

[code]

`form/index.js` contains:
[code]

`alert/index.js` is the same:
[code]

`utils/index.js` contains:
[code]

`form.jsx` contiains:
[code]

`form/form.stories.jsx` looks like this:
[code]

`.storybook/webpack.config.js` looks like this:
[code]

`.storybook/config.js`:
[co

[2018-12-06 15:19] jalal246 commented on #4890
Hi again,

It sounds complicated for me right now, and I want to keep it simple. So, inside `.storybook\config.js`
I added the paths manually,  should be a better way to do it but it works good and fast for now.

[code]

@hipstersmoothie @Undistraction

[2018-12-06 15:44] igor-dv commented on #4840
babel-plugin-require-context-hook should be added only for tests.

[2018-12-06 15:45] igor-dv commented on #4941
This is a babel6 vs babel7 mismatch exception. @Gongreg, is there any workaround for this for now?

[2018-12-06 15:48] igor-dv commented on #4738
We used rn-web at work and just separated a storybook for native into a separate package.

[2018-12-06 16:30] ozzyogkush commented on #4847
I am running into this issue as well. It happens for the `info` addon also when say I modify an `info` parameter in a story definition and it tries to HMR. The panel disappears. On version 4.0.9.

[2018-12-06 16:38] ozzyogkush opened #4945 "Style loader data remains in iframe when changing stories"
**Describe the bug**
When switching between viewing stories, the <style> tags from previous style-loader outputs remain in the preview iframe.

**To Reproduce**
Steps to reproduce the behavior:

1. Make a story that addDecorator() that requires() a SASS/CSS file
2. Make a separate story that does not
3. View the first story
4. View the second story
5. The second story has the first story's CSS app

[2018-12-06 16:39] ozzyogkush commented on #4312
See #4945 as well

[2018-12-06 16:46] ruudyroon commented on #4937
Found the issue -

mentioned in the Troubleshoot section
https://storybook.js.org/basics/guide-angular/

forgot to do this part

"exclude": [
    "../src/**/**/*.stories.ts"
  ]

[2018-12-06 16:46] #4937 closed

[2018-12-06 16:51] objectiveSee commented on #4941
@igor-dv We just created the React Native portion of our app this week so we can switch to using any version that works. Here's our package.json:

[code]

[2018-12-06 18:20] dereklin commented on #3797
I did a global search and only found
[code]
Didn't find any
[code]
reference

One thing is that I see this problem on Mac.  I was able to run the similar set up without issues on Windows

[2018-12-07 03:34] samit4me opened #4947 "addon-knobs not working with vue from v4.0.8"
Upgraded from 4.0.4 to 4.0.12 and knobs were no longer visible or working. Tested each version and 4.0.7 works but 4.0.8 does not. I assume it's something to do with #4773.

Typical use of knobs looks something like this (if that helps):
[code]

I don't see any error messages or anything, but if there is anything else I can do to help please let us know.

[2018-12-07 03:54] nullobject commented on #4796
I'm seeing this issue too:

react 16.6.3
@storybook/react 4.0.7

[2018-12-07 05:39] Bobgy commented on #4889
Hi, I met the same issue. This is a reproduction repo: https://github.com/Bobgy/reproduction-storybook-a11y-bug
It's simply made from a new create-react-app and installing storybook@next

[2018-12-07 07:54] theKashey commented on #4691
As long as you are using webpack loader - add ‘ignoreSFC:true’ to configuration.
But actually it should work even without it. Probably the setting is not actually set.

[2018-12-07 08:04] mweibel opened #4949 "Color knob disappears on click in firefox"
**Describe the bug**
As shown in the following GIF, the color knob is disappearing when clicking on the small modal window to select a color (or clicking anywhere within it, actually). It works in Chrome but not in Firefox.

![color-knobs-firefox](https://user-images.githubusercontent.com/307427/49635004-9fa1f180-f9fe-11e8-8a04-23766ce0fb85.gif)

**To Reproduce**
Steps to reproduce the behavior:
1

[2018-12-07 10:55] Sandwell commented on #3614
If you declared some "props" you have to use them.

[2018-12-07 11:45] shlomitc commented on #4191
I keep getting errors with the latest alpha build (v4.1.0-alpha.11) when trying to run `build-stroybook`

[code]

[2018-12-07 12:00] occar421 commented on #4940
I met a similar problem today. So I inspected the code in @storybook/react.

In "app/react/src/server/cra_config.js" on "v4.0.12" tag, I just thought
[code]
is wrong and it should be
[code]
Modifying locally-installed dist js, now storybook seemed to load CRA's config.

On "next" branch (default; and you'd saw), this code is resolved like that by #4836 only for v4.1 alpha version.

[2018-12-07 13:40] Richacinas opened #4950 "HMR not working for components"
**Describe the bug**

When changing any of the components that I am using from my stories, HMR is not reloading the content of the story.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to the story of, for example, Button.
2. Go to './src/components/Button.jsx'
3. Change any content in your React component.
4. Watch how the component doesn't reload in your story.

**Expected behavior**

[2018-12-07 14:15] jgoux commented on #4691
@theKashey I tried with a more manual way by aliasing `react-dom` and installing `@hot-loader/react-dom` and it works!

I'd prefer using the webpack's plugin but doing :
[code]
doesn't seem to work.

I have no other issue with manipulating storybook's webpack config with other plugins.

[2018-12-07 14:19] kylemh commented on #4940
Not 100% certain because I’m on mobile but that PR seems to resolve both the SVG loader and Sass loader

[2018-12-07 14:57] JabbyPanda commented on #172
https://babeljs.io/docs/en/config-files/#project-wide-configuration

[2018-12-07 15:37] khaki4 opened #4951 "@storybook/addon-knobs/react color picker hide behind"
**Describe the bug**
when click color picker by @storybook/addon-knobs/react color.
The color picker is cut off and can not be seen.

when i edit css to
.css-8a9ncn {
    overflow: visible;
...
}
the issue has solved.

**Expected behavior**
show entire color picker.

**Screenshots**
<img width="992" alt="screen shot 2018-12-08 at 12 28 01 am" src="https://user-images.githubusercontent.com/8818375/

[2018-12-07 15:48] igor-dv commented on #4941
I think it's related to #4852

[2018-12-07 15:57] igor-dv commented on #4940
I encountered some problems with windows too but in a monorepo. @tirli, can you check if this happens with 4.1.0-alpha?

CC @mrmckeb

[2018-12-07 15:58] #4468 closed

[2018-12-07 16:46] mistyhx opened #4952 ".babelrc gets ReferenceError and can't find relative to directory."
**Describe the bug**
Following the .babelrc configuration in the documentation for REACT.
`{
  "presets": ["..."],
  "plugins": ["..."],
  "env": {
    "test": {
      "plugins": ["require-context-hook"]
    }
  }
}`,

 `Storyshots.test.js` gets Reference error, when removed `"plugins": ["..."]` from `.babelrc`,`Storyshots.test.js` gets error on not finding presets and env.

**Screenshots**

![scr

[2018-12-07 16:47] mowbell opened #4953 "Storybook React Native Unable hide UI by getStorybookUI param"
**Describe the bug**
in [Docs](https://github.com/storybooks/storybook/tree/next/app/react-native) `getStorybookUI` has a param to hide UI `isUIHidden`.

But in source code in **preview/index.js** it expect param with name `isUIOpen` instead of `isUIHidden`
The correct param name is `isUIHidden` that is expected by **preview/OnDeviceUI/index.js**

**To Reproduce**
Try writing
[code]
[code]
None is

[2018-12-07 23:11] nickdandakis commented on #4947
Upgraded from 3.4.0 to 4.0.12 and came across the same issue. I can get the knobs to show up with my 3.4.0 config (in my case they're added globally in `.storybook/config.js`), but changing the value of a knob doesn't update the component's props.

You can even see it being broken on the official [Vue storybook example](https://storybooks-vue.netlify.com/?selectedKind=Addon%7CKnobs&selectedStory=A

[2018-12-08 00:14] igor-dv commented on #4952
"..." means "Here you put all the plugins you are using in your app".  This example is mostly to show how to use `babel-plugin-require-context-hook`

[2018-12-08 01:00] Nemvts opened #4955 "Storysource unable to parse Flow type annotations"
**Describe the bug**
Storysource is unable to parse Flow type annotations. When the type annotations are removed or by wrapping it around a flow comment the error will go away.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snippets**
[code]

[code]

**System:**
 - OS: Windows10
 - Device: [e.g. iPhoneX, Macbook Pro 2018]
 - Browser: chrome
 - Framework: reac

[2018-12-08 07:34] mrmckeb commented on #4940
@occar421, the reason it isn't `../../react-scripts` is that CRA supports custom `react-scripts` packages, which can have any name they like.

Are you working in WSL, or in PowerShell/Command Prompt? And can you share the value of `reactScriptsScriptPath` from your `cra_config.js` please? :)

I have a team working on Windows, MacOS, and Linux - and this works for all - but none of the Windows user

[2018-12-08 09:36] hulkish opened #4956 "@storybook/addon-options@4.0.12 is using @storybook/addons@4.0.8"
**Describe the bug**
Is this a mistake? I see there is a `@storybook/addons@4.0.12`.

**To Reproduce**
N/A

**Expected behavior**
`@storybook/addon-options@4.0.12` to use `@storybook/addons@4.0.12`

**Screenshots**
N/A

**Code snippets**
N/A

**System:**
N/A

**Additional context**
N/A

[2018-12-08 10:47] jithinvj commented on #4668
Hi ,

I am having the exact same issue with latest version of storybook. Am on node v6.6.0.

When using @storybook/react v4.0.0-alpha.1 storybook is loading perfectly. Even the webpack default [config](https://github.com/storybooks/storybook/blob/v4.0.0-alpha.1/lib/core/src/server/config/defaults/webpack.config.js) on that version is using spread operator, how it's working?

Thanks in advance,
Jit

[2018-12-08 11:00] igor-dv commented on #4668
We are transpiling our non-client code for node 8.11 that supports the spread operator.
Also, it's better for performance, and many js features are natively supported. It's better for webpack 4, as well - https://twitter.com/wSokra/status/967852475918274561

[2018-12-08 11:04] Lyncee59 commented on #4840
Hey, I did not spot at this time this error, it was simply a missing export. Sorry for wasting your time !

Thanks again !

[2018-12-08 18:55] maacky commented on #4951
This is related to #4694.

[2018-12-08 18:55] maacky commented on #4951
Except for OS, this is duplicate of #4694.

[2018-12-08 21:30] mcarlucci commented on #4947
Seeing the same issue.

[2018-12-08 21:41] igor-dv commented on #4951
Do you want to take it?

[2018-12-08 22:04] Glavin001 commented on #4801
I am also experiencing this problem. Please don't close as inactive 😅!

[2018-12-08 22:33] tirli commented on #4940
@igor-dv Sorry for the late reply. Tested and it works on 4.1.0-alpha!

[2018-12-08 22:34] #4940 closed

[2018-12-08 22:37] Undistraction commented on #4801
Yep. This is definit lyrics still a problem.

[2018-12-08 22:37] igor-dv commented on #4951
Cool!
Closing it as a duplicate.

[2018-12-08 22:37] #4951 closed

[2018-12-08 23:51] igor-dv commented on #4955
Storysource is dependant on parsers from `Prettier` and works now with `prettier/parser-babylon` and `prettier/parser-typescript`. For Flow they have a `prettier/parser-flow`.

It's very easy to add a support for this, would you like to create a PR ?

[2018-12-09 05:39] hamstu commented on #4840
Thanks @igor-dv, removing `babel-plugin-require-context-hook` fixed it – I misunderstood the documentation and thought it was needed in all cases.

[2018-12-09 14:04] musaffa opened #4957 "Ember: Uncaught TypeError: _global.window.require is not a function"
After running the storybook server, the following error pops up in the browser console:
[code]
Originates from [this line](https://github.com/storybooks/storybook/blob/4c757d05f162925217751bb5d61518c108d0935b/app/ember/src/client/preview/render.js#L7).

**To Reproduce**
Steps to reproduce the behavior:
1. ember new storybook-test --yarn
2. cd storybook-test
3. npx -p @storybook/cli sb init
4. yarn

[2018-12-09 16:14] Pixelatex commented on #4781
I managed to fix this I think. I'll update it this week when I'm back at work with the issue/fix/etc

[2018-12-10 07:57] Richacinas commented on #4950
Ok, I found some more information.

It detects changes and reloads up to **3 levels deep**. That means that anything you change inside Header folder or anything at that level and up, will be detected and will trigger a new build and reload.

If I change something inside **HeaderNav folder**, nothing gets detected.

![image](https://user-images.githubusercontent.com/7046504/49718072-4b467e00-fc59-1

[2018-12-10 08:31] tonai opened #4958 "Support for lit-element with storybook/polymer"
**Is your feature request related to a problem? Please describe.**
`lit-element` seems to be the next evolution of polymer, but using the @storybook/polymer package with `lit-element` is not working out of the box.

**Describe the solution you'd like**
There is a little configuration that must be added in the webpack config file in order to make the storybook work with `lit-element`.

**Describe a

[2018-12-10 08:32] tonai commented on #4295
I have created a new issue as it is not directly related to that issue : https://github.com/storybooks/storybook/issues/4958

[2018-12-10 09:52] esbenvb commented on #4943
Thanks, that solved the problem!

[2018-12-10 09:52] #4943 closed

[2018-12-10 10:10] gm90 opened #4959 "isReactScriptsInstalled unable to identify CRA dependency on windows."
**Describe the bug**
Currently using storybook with a CRA setup. On OSX 'cra_confix.js' correctly identifies that react-scripts is installed and adds the required loaders for scss. With the same setup on Windows it fails when it reaches the first scss file.

**Expected behavior**
CRA config is able to identify the presence of react-scripts consistently

**Screenshots**
![image](https://user-images

[2018-12-10 10:54] jmfrancois commented on #4921
For question you should use stackoverflow.

[2018-12-10 13:39] yjcxy12 commented on #4740
I've had a look into this issue. I believe the slow performance happens when `addDecorator(withOptions(...))` is used in multiple places (both globally and locally). This makes memoization quite difficult as `setOptions` is being called multiple times with different objects with no notion of each other.

The easiest solution I can think of is mention in the documentation to use `withOptions()` onl

[2018-12-10 14:51] andersaloof commented on #4740
@yjcxy12 In my case, I only used withOptions once, as a global setting, no local settings, and it still makes i slow and sluggish.

[2018-12-10 14:58] ndelangen commented on #3940
#4086

[2018-12-10 16:48] ndelangen commented on #3940
Turns out I needed to fix 2 issues to solve this:

1. When editing stories, HMR kicks in and loads addons twice. Some addons have side-effects which could then be executed twice.

2. When running axe and navigating very fast, it could happen that storybook would run axe on 2 elements at the same time.

I fixed both issues. Will be part of `5.0.0`

[2018-12-10 20:20] ozzyogkush commented on #4847
@maacky @yanivshiloah FYI I notice this issue even when only requiring the stories by context in the config file. I do use `require.context()` in other places to dynamically import other types of files (notably, markdown files), but not the actual story files themselves.

[2018-12-10 22:17] ReDrUm commented on #3940
Great news. Thanks @ndelangen!

[2018-12-10 22:42] igor-dv commented on #4957
@gabrielcsapo, wasn't `sb cli` supposed to install `sb-ember-adapter`?

[2018-12-10 22:44] igor-dv commented on #4950
Can you please share some story file?

[2018-12-10 22:47] igor-dv commented on #4959
Yeah, we have some issues with resolving symlinks in Windows. Can you please try using the latest alpha (4.1.0-alpha) ?

[2018-12-11 02:49] tmeasday commented on #4740
I believe @ndelangen has probably been looking at this kind of thing as a part of the refactoring he has been doing in `ui-overhaul`. Is this something you've looked at norbert?

[2018-12-11 04:16] anhmv91 commented on #4802
I am facing with this problem too when build static, and I think somethings went wrong with `mini-css-extract-plugin`, I currently temperature fix by move   `<script src="css/iframe.7bbbcae7.css" defer></script>` and `        <script src="css/iframe.7bbbcae7.css" defer></script>` up to the `<head>` and use the `link ref stylesheet` instead, in `frame.html`

[2018-12-11 05:39] shilman opened #4964 "Storyshots broken in 4.1.0-alpha.11"
Transcribed from Discord:

[code]

[2018-12-11 05:41] biglee1234 opened #4965 "fire fox"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

_Please provide issue details here - What did you expect to happen? What happened instead?_

### Steps to reproduce

_Please provide necessary steps for reproduction of this issue. Describe the exact steps a maintainer has to take to make the problem occur. If the problem is non-trivial to reproduce,

[2018-12-11 05:41] biglee1234 opened #4966 "fire fox"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

_Please provide issue details here - What did you expect to happen? What happened instead?_

### Steps to reproduce

_Please provide necessary steps for reproduction of this issue. Describe the exact steps a maintainer has to take to make the problem occur. If the problem is non-trivial to reproduce,

[2018-12-11 06:31] techieshark commented on #4254
@shilman Just now I happened upon the fact that the sidebar can be dragged open or closed with the mouse. I think what may have happened was somehow it became closed (possibly through my own dragging with the mouse). Then when I was trying to pop it open through the key shortcut, it was toggling between a non-existent sidebar, and a sidebar of zero width, and I just wasn't noticing the little hand

[2018-12-11 07:21] gapipro commented on #4947
I don't agree with the `props` approach at all. Why would you need to specify props again if they are already specified in a component it self? It brings additional not needed complexity to the stories.

Before this update my solution that worked was like this:

[code]

It's clean, simple and story can be directly copied from storybook for reuse.

[2018-12-11 07:41] Richacinas commented on #4950
Hi Igor.

I'm working on a Ubuntu machine, which seems to have a limit of some levels deep of folders for this kind of watch and build process.

Here, you can find information to solve it. As I have read, there is not such a limit on Windows (I never had a problem on that OS).

[Post on StackOverflow](https://stackoverflow.com/questions/35367533/webpack-react-hot-loading-not-working-for-files-in-s

[2018-12-11 07:41] #4950 closed

[2018-12-11 08:23] Nemvts commented on #4955
@igor-dv Babel v7 seems to now support Flow syntax so maybe this is not actually needed, but PR #4971 has been created to add support for Flow as an option.

[2018-12-11 09:34] luisjs commented on #4947
Seeing the same issue with v4.0.8 and above. Knobs won't update the story when visible, and are only visible after a page refresh, meaning they disappear as soon as I navigate to another story.

[2018-12-11 09:40] metamn commented on #4339
Just a quick add. This is how your `manager-head.html` has to look like to style your markdown:

[code]
![screenshot from 2018-12-11 11-36-57](https://user-images.githubusercontent.com/86295/49791588-799b8a80-fd39-11e8-8e9f-51ca2df10e5a.png)

[2018-12-11 10:52] llccrr opened #4972 "shouldPersistSelection not working"
**Describe the bug**
Setting shouldPersistSelection to `true` as above:
`const StorybookUIRoot = getStorybookUI({ port: 7007, onDeviceUI: true, shouldPersistSelection: true });`
But it does not seem to work.

I looked out the PR and figured out that it was supposed to write into the **Async Storage** with the `lastOpenedStory` key.
I tried to console.log it in the render of my story but the value

[2018-12-11 11:39] tomegz commented on #4290
Same here with 4.0.12

[2018-12-11 12:57] amittkSharma commented on #4799
@igor-dv: Here is the basic [repo structure](https://github.com/amittkSharma/cra1-storybook), please take a look at it. In my system, I am not able to reproduce the above error as there were some updates in the past but feel free to check it.

Thanks
Amit

[2018-12-11 12:58] nickdandakis commented on #4947
@gapipro I think the reasoning for deprecating template string injection and binding to `data` (your example) is to keep it consistent with React. Your example is mapping knobs to state, which isn't "correct". Knobs are UI that update props to your story, which then update the underlying component.

Your example then becomes:
[code]

The only thing I personally dislike is binding the knob to `defa

[2018-12-11 13:00] #3992 closed

[2018-12-11 14:37] lordfido commented on #4829
Any clue about the status of this issue?

[2018-12-11 14:44] igor-dv commented on #4959
👍 4.1 is soon out, so closing this.

[2018-12-11 14:44] #4959 closed

[2018-12-11 14:49] igor-dv commented on #4955
babel supported Flow before as well (IMO), but the current implementation is not relying on babel directly

[2018-12-11 14:50] igor-dv commented on #4802
I think @mick-feller is not using `mini-css-extract-plugin` for static storybook mode.

[2018-12-11 14:52] mick-feller commented on #4802
I tried several ways actually.

Without mini-css-extract-plugin, with mini-css-extract-plugin and with extract-text-plugin.

Non of these worked for me

[2018-12-11 15:03] igor-dv commented on #4802
A good friend of mine (@leeran88) pointed me to an issue (#4918) that straight connected me to this problem 😄

The thing that I missed in your setup is a `"sideEffects": false` in your `package.json`.
Checked it right now and setting `sideEffects: true` to the specific rule solved the issue 👍

[code]

[2018-12-11 15:07] mick-feller commented on #4802
You are the MAN!!!

Thank you very much, never realized that this could cause that.

Thanks again!!

[2018-12-11 15:07] #4802 closed

[2018-12-11 15:18] igor-dv commented on #4965
![travolta](https://user-images.githubusercontent.com/7867954/49809883-b6cb4100-fd68-11e8-8838-0947339bae52.gif)

[2018-12-11 15:18] #4965 closed

[2018-12-11 15:19] igor-dv commented on #4966
![travolta](https://user-images.githubusercontent.com/7867954/49809909-c64a8a00-fd68-11e8-8688-0b5e7889eaa1.gif)

[2018-12-11 15:19] #4966 closed

[2018-12-11 15:23] igor-dv commented on #4957
@musaffa, try to use `ember-cli-storybook` until we have a better solution.

[2018-12-11 15:37] #4865 closed

[2018-12-11 15:42] igor-dv commented on #4078
We have a bunch of issues with knobs. Sure, we do need to fix them. Any community help is much appreciated. If anyone wants to help by creating a PR with the fix until the team could handle this, that'd be great

[2018-12-11 16:10] luisjs commented on #4947
@nickdandakis I've just ported my usage of the knobs, and it seems to be working wonderfully.

There was also a problem in the way I was generating the stories via my story factory, which caused the "knobs not showing up after navigating" issue. It's now fixed as well, and apologies for implying it was a Storybook issue.

---

Here is a snippet of my code now, for demo purposes. Don't know if it's

[2018-12-11 16:30] TimoSta opened #4975 "GraphQL Addon: Blank last line breaks formatter"
**Describe the bug**
When using the GraphQL addon to submit a GraphQL query inside GraphiQL, the addon formats the query to remove unnecessary indentation.

If the last line of the query is blank however, this formatting step fails, and only the last character of each line is kept, rather than removing only whitespace from the beginning of a line.

**To Reproduce**
Steps to reproduce the behavior:

[2018-12-11 17:32] conorriches commented on #4059
We are also having this issue, and `addons.getChannel().emit(Events.FORCE_RE_RENDER)` doesn't make seem to work either.

Trying to get Storybook Knobs defined in an object which is passed into the component:

Here is my code:
[code]

[2018-12-11 17:35] ozzyogkush opened #4976 "Add ability to include images and other assets in Markdown-based addons"
Designers and such may want to include high-res designs or wireframes and other assets directly in the `addon-info` pane (or other Markdown-based addons).

**Describe the solution you'd like**
When I add a MD image tag that points to a local file eg if my MD file is in

`./storybook/stories/component/component-addon-info.md`

[code]

Webpack should be able to process that like it does normally imp

[2018-12-11 17:42] shilman commented on #4964
Fixed in https://github.com/storybooks/storybook/releases/tag/v4.1.0-alpha.12

[2018-12-11 17:42] #4964 closed

[2018-12-11 20:32] starvsion opened #4978 "Unable to compile Vue SFC with Laravel Mix"
**Describe the bug**
I cannot get storybook to compile Vue SFC properly with Laravel Mix. (e.g. I cannot install babel-core or vue-loader, cause that breaks Laravel Mix). And I tried to use Laravel Mix's webpack.config.js , that did not work as well.  The (guide)[https://storybook.js.org/basics/guide-vue/] here cannot be followed, because Laravel Mix handles vue-loader, babel etc.

**To Reproduce*

[2018-12-11 21:14] igor-dv commented on #4059
You should define knobs in the story function. Or change `cardProps` to something like:
[code]

[2018-12-11 21:51] igor-dv commented on #4949
I think it's duplicate to the issues we already have with the color knob - #4694. Waiting for a brave soul to help us with the fix 😉

[2018-12-11 21:51] #4949 closed

[2018-12-12 01:10] llccrr commented on #4972
Changing the port from 7007 to 7008 does not seem to work either.

[2018-12-12 06:48] heetrew commented on #4525
If in one project use last versions of storybook and emotion it cases missing styles in storybook UI
<img width="1253" alt="screenshot 2018-12-12 at 09 45 17" src="https://user-images.githubusercontent.com/18642706/49851693-ffc7d780-fdf2-11e8-8f61-7b2719d4e3db.png">

[2018-12-12 07:12] gabrielcsapo commented on #4957
@musaffa have you tried using the quick-start guide https://storybook.js.org/basics/guide-ember/?

@igor-dv will investigate and make sure it gets added as a part of the bootstrapping process

[2018-12-12 07:53] ysgk commented on #4796
I had the same problem.

- react 16.6.3
- @storybook/react 4.0.12
- @emotion/core 10.0.4
- @emotion/styled 10.0.4

After all, I downgraded emotion to 0.x.x and it's working fine now.

- @emotion/core 0.13.1
- @emotion/styled 0.10.6

I should have taken the warning message 😅
[code]

[2018-12-12 09:15] igor-dv commented on #4796
Linking the #4925 pr for reference.

[2018-12-12 09:39] Gongreg commented on #4011
Hey, sorry for taking so long. I've asked @igor-dv for the help, and he did the whole work :)

https://github.com/storybooks/storybook/pull/4942

I will be released in storybook V5 so some time in January.

[2018-12-12 10:04] gregoralbrecht commented on #4759
I came here because I had the same issue and upgrading to `v4.1.0-alpha.12` **_kind of_** fixed it for me. The component names are no longer minified but they include their name twice (or both names for renamed components)

## With `start-storybook`
<img width="741" alt="bildschirmfoto 2018-12-12 um 10 57 22" src="https://user-images.githubusercontent.com/6179211/49861889-386cae80-fdfd-11e8-8a29-d

[2018-12-12 12:52] janwidmer commented on #291
same experience here, issue has been closed due to inactivity: https://github.com/storybooks/storybook/issues/3890

[2018-12-12 14:59] #4787 closed

[2018-12-12 15:56] wyseguyonline commented on #4688
Is this issue still open?

[2018-12-12 17:02] igor-dv commented on #4688
Yep

[2018-12-12 17:17] MihaChicken opened #4982 "[addon-info] Add markdown support for docgen component description"
Addon-info has an awesome feature to auto-generate documentation from jsdoc comments.
Although jsdoc [encourage us to use markdown](http://usejsdoc.org/plugins-markdown.html) in our comments, addon-info doesn't have support for it, which is why all text from comment is displayed in one line and unstyled.
This feature is pretty easy to implement because addon-info already has all the tools for mark

[2018-12-12 20:30] GlisboaDev opened #4984 "ReferenceError: dlls is not defined on setup"
Hi,
I'm currently trying to add a storybook to our React Native project, but I'm getting the following error when trying to run it (yarn storybook):

[code]

relevant dependencies:

[code]

**System:**
 - OS: MacOS Mojave 10.14.1
 - Storybook Version: 4.1.0 (also attempted with 4.0.12)
- React native version: 0.57.5

Steps to reproduce:
I attempted to run using both script setup (`npx -p @storyboo

[2018-12-12 23:56] DarkPurple141 commented on #3389
Still broken.

[2018-12-13 00:32] scerelli opened #4986 "[ReactNative] Not working at all with 0.57.7"
**Describe the bug**
Fail compiling on newly created react native project.

This is the error i get:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open the terminal
2. Type: `react-native init testApp`
3. Wait few years
4. `npx -p @storybook/cli sb init`
5. Wait again
6. Type in your terminal: `yarn run storybook`
7. Wait until it fails compiling.

**Expected behavior**
I expect tha

[2018-12-13 03:09] iamnewton opened #4987 "use both package.json and .babelrc"
**Describe the bug**

It doesn't appear you can use the `babel` key in the package.json, otherwise you get errors.  It seems you are only allowed to use a `.babelrc`.

**System:**
 - OS: [e.g. iOS, Windows10, MacOS] unrelated
 - Device: [e.g. iPhoneX, Macbook Pro 2018] unrelated
 - Browser: [e.g. chrome, safari] unrelated
 - Framework: [e.g. react, vue, angular] react
 - Addons: [if relevant] unre

[2018-12-13 07:55] DaSchTour commented on #4475
I ran into this problem while migrating from webpack 3/stroybook 3 to webpack 4/storybook 4.
We removed the babel preset as we don't use it anymore in our vue build. I think at least this should be added as a peer dependency until it is clear how to proceed. As the preset is requirered at runtime it has to be some kind of dependency.

[2018-12-13 08:20] sariroti commented on #4926
I'm still experiencing this problems. Is there any solution ?

[2018-12-13 09:32] igor-dv commented on #4986
Duplicate to #4984

[2018-12-13 09:32] #4986 closed

[2018-12-13 09:33] igor-dv commented on #4984
The fix is out with 4.1.1
Please try it out and let us know if it's working now for you.

[2018-12-13 09:33] thebuilder commented on #4889
The `addon-a11y` plugin also appears to be broken in the `4.1.1` release now - displaying `0 passes` and `0 violations` on all stories.

[2018-12-13 09:35] igor-dv commented on #4987
With the v4 you can

[2018-12-13 09:42] igor-dv commented on #4840
Sadly but without any minor reproduction, we can't help with this. The description is too generic.
One possible issue could be in this line

[code]

for example, you've mistaken in the number of `../` in the relative path 🤷‍♂️ But again, it's only an assumption.

[2018-12-13 10:09] thebuilder commented on #4889
This is also an issue on the [official Storybook example page](https://storybooks-official.netlify.com/?selectedKind=Addons%7Ca11y&selectedStory=Default&full=0&addons=1&stories=1&panelRight=0&addonPanel=%40storybook%2Faddon-a11y%2Fpanel)

I'm guessing this is related to #4704 - Adding a `<div id="root-story">` around all my stories, causes aXe to throw a selector warning, but it does run all the t

[2018-12-13 10:48] #4506 closed

[2018-12-13 11:45] theKashey commented on #4691
React-Hot-Loader 4.6.0 should work with hooks out of the box.
https://medium.com/@antonkorzunov/react-hot-loader-4-6-41f3ce76fb08

[2018-12-13 12:06] janryWang opened #4990 "Storybook can not watch node_modules."
**Describe the bug**
I want the storybook watch node_modules but it not work.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snippets**
If applicable, a

[2018-12-13 13:19] conorriches commented on #4059
That worked - many thanks!

[2018-12-13 15:34] MansoorBashaBellary commented on #4887
Hi @amittkSharma - Could you please share me an example of how you fixed this issue. Now I am facing this issue

[2018-12-13 15:59] amittkSharma commented on #4887
@MansoorBashaBellary: Please take a look at this [repo:](https://github.com/amittkSharma/cra1-storybook).
If you have any problems please let me know.

Thanks
Amit

[2018-12-13 17:39] stelmakh commented on #4809
I'd be happy to work on this issue

[2018-12-13 18:17] evexoio commented on #1813
@darkartur any updates on this?

[2018-12-13 18:18] evexoio commented on #4468
@mattrlong any updates on this?

[2018-12-13 18:24] hensmith opened #4992 "Don’t use mobile layout for tablets with large screens"
Storybook [decides which layout to use based on user-agent sniffing](https://github.com/storybooks/storybook/blob/next/lib/ui/src/modules/ui/libs/is_mobile_device.js) instead of device capabilities. On tablets with larger screens this approach kind of falls apart.

Here's the desktop layout, for context:

![screenshot 2018-12-13 at 19 20 28](https://user-images.githubusercontent.com/566159/4995918

[2018-12-13 18:55] rndmerle commented on #1813
Afaik, in SB 4, setting knobs from the URL is no longer supported even from index.html.

[2018-12-13 19:00] darkartur commented on #1813
I'm sad to hear that

[2018-12-13 20:43] GlisboaDev commented on #4984
Upgrading to `4.1.1` fixes the issue.
Thanks

[2018-12-13 20:43] #4984 closed

[2018-12-13 22:52] semoal opened #4993 "Custom head tag title not getting overwrited"
**Describe the bug**
I need to change the storybook main html title on head tags.
First, I created a manager-head.html with `<title> test </title>`, didn't work. After that, I created a preview-head.html with the same content, same result...

**To Reproduce**
Steps to reproduce the behavior:
1. Create a storybook project
2. Add custom files for head tags
3. See how both titles are set on html, and

[2018-12-14 00:27] wileym opened #4994 "Emotion v10 crashes Storybook 4.1.1"
**Describe the bug**
Storybook crashes at runtime (in browser) when project uses emotion v10.

**To Reproduce**
1. git clone https://github.com/wileym/emotion10CrashesStorybook.git
2. cd emotion10CrashesStorybook
3. npm install
4. npm run storybook
5. http://localhost:6006
6. Note blank browser screen and error in console

**Expected behavior**
Browser loads Storybook and one story appears for But

[2018-12-14 02:12] nowells opened #4995 "v4.1.0 stop allowing webpack.config.js to influence manager"
**Describe the bug**
`@storybook/core@4.1.0` broke (`<= 4.0.12` worked) the ability for `.storybook/webpack.config.js` to contribute to the `manager` webpack bundle. This is important to us, as we have addons that rely on webpack features that we need to configure, this worked in versions before `4.1.0`, however, it appears that this behavior was removed at that time.

**To Reproduce**
Attempt to

[2018-12-14 02:42] #4087 closed

[2018-12-14 04:12] brandonce commented on #4995
Something broke for me as well, going from `<=4.0.12` to `>=4.1.0`. Starting storybook works, but the storybook is now completely empty. It shows the knobs addon, so at least `addons.js` is getting loaded, but none of our components or md files are displayed.

[2018-12-14 08:54] ndelangen opened #4996 "Storyshots overhaul"
Storyshots currently has 2 major problems:

1. There is zero feedback on the progress
2. Running storyshots is slow

Both problems are caused by the same:
We ask users to write a extra testfile which then encapsulates all of storyshots.

If instead we were able to have jest run the story-files directly jest would be able to:

- run all storyshots in parallel
- provide feedback on progress

To have

[2018-12-14 08:58] ndelangen commented on #4996
jest-storybook would be a jest-plugin makes sure all stories are actually rendered and then snapshotted.

<img width="1042" alt="screenshot 2018-12-14 at 09 57 04" src="https://user-images.githubusercontent.com/3070389/49993320-a690ad00-ff86-11e8-9532-7b0f1ac88286.png">

[2018-12-14 09:00] ndelangen commented on #4996
jest-storybook should use the names of `storiesOf` and `add` as the text for `describe` and `it`.

<img width="761" alt="screenshot 2018-12-14 at 10 00 12" src="https://user-images.githubusercontent.com/3070389/49993492-12731580-ff87-11e8-9b92-b722691641ad.png">

[2018-12-14 09:33] ndelangen commented on #4995
@nowells I didn't expect people would need to modify the webpack config for manager.

I was wrong.

There's a solution for you, which you can do right now:

- create a file inside your storybook folder: `presets.js`
- set it's contents to:
[code]

This should modify the webpack config of the manager to your desire.

You can use this file to modify both configs at once:

[code]

We haven't really i

[2018-12-14 09:33] ndelangen commented on #4995
@brandonce ☝️

[2018-12-14 09:36] evexoio commented on #4996
Hey @ndelangen can you assign this issue to me please?

[2018-12-14 09:40] tmeasday commented on #4996
Sorry I am in a rush and I will write this up properly later, but I did a POC of such an approach:

[code]

It seemed to work with some small problems

[2018-12-14 09:42] ndelangen commented on #4995
@nowells I didn't expect people would need to modify the webpack config for manager.

I was wrong.

There's a solution for you, which you can do right now:

- create a file inside your storybook folder: `presets.js`
- set it's contents to:
[code]

This should modify the webpack config of the manager to your desire.

You can use this file to modify both configs at once:

[code]

We haven't really i

[2018-12-14 09:43] tmeasday commented on #4996
![unknown](https://user-images.githubusercontent.com/132554/49995683-f13f1300-ffe0-11e8-8df6-af491a9ee525.png)

Also another advantage of this approach is the snapshots end up in a sensible location

[2018-12-14 09:44] gsouquet opened #4997 "addDecorator documentation for @storybook/html"
Hi,

First and foremost, thank you for Storybook, I love it! Used it across multiple React projects, and I am now experiencing with the `@storybook/html` package

### Bug or support request summary

I am currently implementing Storybook in a project that does not contain React and if possible I would like to keep it that way. Thus me using `@storybook/html`.
I wanted to use the `addDecorator` func