[2018-04-02 11:23] igor-dv commented on #3322
I think it will be a good change for the naming convention between the addons. Think of having a `configure` function in 15 other addons at a time (there is already a configureA11y)... People will need to use aliasing which IMO is 🤢.

[2018-04-02 11:33] mshaaban088 commented on #3322
That's why I'm totally ok to change it 😉
I was just stating the initial thoughts

[2018-04-02 13:48] yazdog8 commented on #3323
@Hypnosphi My apologies. Forgot to make it public. You should be able to view it now.

[2018-04-02 14:57] allangrds commented on #3339
[code]

[2018-04-02 15:31] westandy commented on #3322
igor-dv's statement: "Think of having a configure function in 15 other addons at a time (there is already a configureA11y)... " is spot on.  We already have a `configure` for the `react` addon.  But honestly, aliasing is fine IMO... just because it's for storybook configuration, not production code.  But whatever you decide is fine by me.  Just as long as it works.

[2018-04-02 15:35] westandy commented on #3322
PS: the upgrade to `3.4.0-rc.3` did not fix my issue.  Looking through your code, i don't see where `configure` or equivalent is being exported.  I just see that we are supposed to import `register` which works fine.  Is there some type of order between `register` and `configure` that is supposed to occur?

[2018-04-02 16:00] Hypnosphi commented on #3339
Sorry, I meant in a repo. I can't debug just by folder structure

[2018-04-02 17:37] mshaaban088 commented on #3322
Have you upgraded `@storybook/addon-viewport` to `4.0.0-alpha.1` and it didn't work?

[2018-04-02 17:52] mshaaban088 commented on #3322
Please see [configure](https://github.com/storybooks/storybook/blob/v4.0.0-alpha.1/addons/viewport/src/preview/index.js#L8) function

[2018-04-02 20:06] danielduan commented on #3256
fixed in https://github.com/storybooks/babel-plugin-react-docgen/issues/42
clear your lock files, reinstall, and let me know if this doesn't fix your issue

[2018-04-02 20:06] #3256 closed

[2018-04-02 20:06] danielduan commented on #3017
fixed in https://github.com/storybooks/babel-plugin-react-docgen/issues/42
clear your lock files, reinstall, and let me know if this doesn't fix your issue

[2018-04-02 20:09] #3017 closed

[2018-04-02 20:09] danielduan commented on #3163
fixed in https://github.com/storybooks/babel-plugin-react-docgen/issues/42
clear your lock files, reinstall, and let me know if this doesn't fix your issue

[2018-04-02 20:09] #3163 closed

[2018-04-02 20:29] danielduan commented on #3333
they break during new deploys after we merge things, not sure if that's something we can fix or not. thanks for reporting though @SilencerWeb

[2018-04-02 20:32] danielduan commented on #3330
build the static version of storybook in a folder like `/storybook-static`, make that folder a public static folder in your web server, point your react router to that folder.

[2018-04-02 20:37] #1877 closed

[2018-04-02 20:39] danielduan commented on #1731
I think this has been fixed in the core refactor. Going to close this, please open a new ticket if this is still an issue.

[2018-04-02 20:39] #1731 closed

[2018-04-02 20:40] danielduan commented on #1661
Think this issue has been fixed when we refactored the server code to the core package.

[2018-04-02 20:40] #1661 closed

[2018-04-02 22:29] mshaaban088 opened #3341 "Part of the device's viewport is hidden behind the addon panel and not scrollable in small screens"
### Steps to reproduce

1. Open this [Viewport story](http://storybooks-official.netlify.com/?selectedKind=Addons%7CViewport.Custom%20Default%20%28Kindle%20Fire%202%29&selectedStory=Inherited&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook-addon-viewport%2Faddon-panel) on small screen (e.g. 13")
2. You will see part of the story's content is hidden and you cannot scroll to see it
<img

[2018-04-02 23:14] mshaaban088 commented on #3326
It was not because of the `SyntaxHighlighter` itself, but the `scrollIntoView` call which scrolls to the selected story in story source panel.

By the way, when you call `scrollIntoView` with `false` (block: end), the issue is gone, but it's solvable by making the preview panel scrolls when needed.

[2018-04-03 01:02] SilencerWeb commented on #3333
@Hypnosphi [here](https://github.com/storybooks/storybook/tree/master/addons/knobs) is the broken link [Live Storybook](https://git.io/vXdhZ)

[2018-04-03 01:06] KevinTHicks commented on #2883
For those using Angular CLI with Storybook 3.4.0 release - you may have to add the typedef changes suggested by @amorenew in the typings.d.ts file _in the src directory_.  That's what got this to work for me!

Thanks for saving me a night of headaches tracking this down.

[2018-04-03 01:16] Hypnosphi commented on #3333
Looks like we need to update screenshots there as well. PR is welcome

[2018-04-03 01:21] Hypnosphi commented on #3333
Oh, do they? If so, we should ask netlify guys do they have some options for seamless deployment

[2018-04-03 01:32] westandy commented on #3322
I'm gonna wait till you're bleeding edge... it works fine with 'register' .   But if I want to add any configurations, the whole thing blows up.  I'll keep watching, but I don't have time to mess with this right now.

[2018-04-03 01:32] #3322 closed

[2018-04-03 01:48] nickytonline commented on #25
@bradfrost this was bugging me that it was not working for you so I create a very basic repo using create-react-app and the storybook CLI. It shows an example of a static asset being used in storybook being referenced via a `<link />` tag. It's available here, https://github.com/nickytonline/for-brad

![image](https://user-images.githubusercontent.com/833231/38224702-39b4c9c2-36bf-11e8-8789-90758b

[2018-04-03 05:08] danielduan commented on #3333
I fixed the live storybook link in that readme.

[2018-04-03 05:19] hally9k opened #3344 "Installing @storybook/react@3.4.0 stops yarn from installing webpack-dev-server from other packages dependencies."
### Bug or support request summary

On upgrading to @storybook/react@3.4.0 we found that the `webpack-dev-server` dependency was not installing in our project's `node_modules` any more. The `webpack-dev-server` dependency is provided to our project via our bootstrapping package Vitalizer. This arrises exclusively with `yarn` and using `npm i` works as expected

### Steps to reproduce

Clone https:

[2018-04-03 09:55] ndelangen commented on #1576
@davidowens Sorry your kind offer for help slipped under my radar for so long. If you'd like, I can invite you to our slack (or you can self-invite). We have @orta currently working on some redesign work. I'm sure you could provide valuable insight what your team would like changed to the storybook app.

Very much interested in what sort of changes you'd like to make to the app 🙇

[2018-04-03 12:02] igor-dv commented on #3140
Please reopen if there are any new insights

[2018-04-03 12:02] #3140 closed

[2018-04-03 12:05] #3222 closed

[2018-04-03 12:15] allangrds commented on #3339
I solved my problem, following the code:

`.storybook/webpack.config.js`
[code]

`path.js`
[code]

I put a file with all my paths, and use in storybook webpack config file.

[2018-04-03 12:15] #3339 closed

[2018-04-03 12:29] igor-dv commented on #3260
What about passing a path to the config.js itself? In this case, you will be able to have the following structure:

[code]

[code]

[2018-04-03 15:25] orta commented on #1576
Yep, definitely interested!

[2018-04-03 15:38] #3024 closed

[2018-04-03 17:50] danielduan commented on #3344
have you tried clearing your lock file? I wonder if this has to do with us or yarn

[2018-04-03 17:59] #1212 closed

[2018-04-03 18:06] danielduan commented on #3293
Yeah, I think we can probably have addons render in a drawer in an RN webview type thing. That'll be a nice to have. Gonna close this since it doesn't seem like a good idea to deprecate the browser UI.

[2018-04-03 18:06] #3293 closed

[2018-04-03 18:08] danielduan commented on #2273
might not be relevant after https://github.com/storybooks/storybook/pull/3278

[2018-04-03 18:08] #2273 closed

[2018-04-03 18:09] #1723 closed

[2018-04-03 18:10] danielduan commented on #1723
This is more of a react-docgen issue than anything else. I'll update the docgen plugin.

[2018-04-03 18:10] #2229 closed

[2018-04-03 18:14] danielduan commented on #1576
I'm gonna close this issue since there's nothing actionable here.

For anyone who's interested in helping out with the redesign, please find us on Slack. There's a link in the `README` at the root of the repo.

[2018-04-03 18:14] #1576 closed

[2018-04-03 18:15] Olian04 opened #3346 "Error: exports is not defined"
I'm trying to use storybook for the first time, so I decided to follow the guides.
I can get it working with the examples, but as soon as i pull in my own components i get __exports is not defined__.
It doesn't matter if I use the _"Quick Start Guide"_ or the _"Slow Start Guide (React)"_ I always get the same unhelpful error.

    at Object.<anonymous> (http://localhost:6006/static/preview.bundle.

[2018-04-03 18:17] Olian04 commented on #3346
I'm getting `export 'MatrixEffect' was not found in '../dist/index'` in the terminal. But I can import the module in just a plain node runtime (can't use it ofc, but at least i know it can be imported).

[2018-04-03 20:41] estaub opened #3347 "Storybook appears to think entire viewport (including frame) is bigger than it is."
### Bug summary

The entire Storybook page extends both below and to the right of the viewport; 36 pixels horizontally and about the same vertically (maybe a bit less).

FWIW, this cost me hours before it dawned on me that no amount of `box-sizing` or other CSS voodoo in my code was going to keep my `100%` elements from being too big!

There are a few other similarly-worded issues posted that appe

[2018-04-03 21:18] duro opened #3348 "HMR with RN Story of "..." named "..." already exists"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

I have reviewed issue #1581 but do not seem to be having the same problem mentioned there. I am certain that I have passed `module` to my `storiesOf` call.

When HMR is enabled, and I save the file, I get an error:

[code]

### Steps to reproduce

1. Setup a simple react-native storybook
2. Launch app

[2018-04-03 22:07] duro commented on #3348
I noticed this very old issue in the react-native repo whis is the only other mention I have seen of `hot.dispose` being missing:

https://github.com/facebook/react-native/issues/8558

[2018-04-03 22:43] duro commented on #3348
I was able to find a work around for this by modding like so:

[code]

https://github.com/storybooks/storybook/blob/master/lib/core/src/client/preview/client_api.js#L52

I'm going to try and work this up as a PR

[2018-04-04 00:33] duro commented on #3348
After a bit more digging, it would seem this can be closed. It turns out that the Metro bundler that the RN uses failed to implement `.dispose()` in their initial polyfill for `module`

That said, they have fixed this in version 0.29.0

It would appear that RN v0.55.0 which was released today, upgrades to metro 0.31, and should make it's way into tools like Expo and CRNA in the next week or so.

I

[2018-04-04 00:33] #3348 closed

[2018-04-04 00:38] tmeasday commented on #3348
Thanks for digging into this @duro. This sounds like good news indeed! Unexpected benefit of refactoring the RN code to use this code path even though it didn't work at the time ;)

[2018-04-04 05:25] leojh commented on #713
This feature was never completed, correct? There is no way to asynchronously render a story still?

[2018-04-04 05:50] ndelangen commented on #713
Correct 😞

[2018-04-04 06:26] bacancy-swaroopa opened #3353 "Stories not displaying in the web browser- react-native"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

I created the stories and when running on browser then when I click on the any story
the stories were not displaying in the right pane of the browser
Actually they should display respective stories.

### Steps to reproduce

I installed the storbook and run `npm run storybook`

Here is the screen shot:

[2018-04-04 06:33] igor-dv commented on #3290
Will check it today

[2018-04-04 06:48] igor-dv commented on #3353
React native stories can't be shown in the browser with an out-of-the-box use case - because they are **react-native**. As you can see in the first `Welcome to storybook` screen or in the [Readme](https://github.com/storybooks/storybook/tree/master/app/react-native), you should perform more steps to see them on the device.

If you do want to see them in the browser, you may set up the [react-nativ

[2018-04-04 06:57] igor-dv commented on #3260
The next release (v4.0) will be breaking, so we can change things to make an API better. If you have some prototype in mind feel free to share (and PR)

[2018-04-04 07:01] theneva commented on #3260
I'll have a look at it when I get some time, thanks a lot :)

[2018-04-04 07:39] bacancy-swaroopa opened #3354 "Hosting Stories in Bitbucket or other"
It is not a issues but now the stoies are running in localhost by default but I want to run in my bitbucket server or other
I have done like this

`const StorybookUI = getStorybookUI({port: 7007, host: '<My server>', onDeviceUI: true});`

But still it is running in localhost only.
Can anyone tell me how to do that
[code]

[2018-04-04 11:29] leepercox opened #3355 "addon-knobs WrapStory component not importing React properly"
### Bug or support request summary

To start, I am 99% sure this is me doing something stupid, not a bug with storybook. I just cannot for the life of me figure out what could be wrong. All my other modules and apps work perfectly.

Every time I run storybook since updating, I get the following errors:

![screen shot 2018-04-04 at 12 14 30](https://user-images.githubusercontent.com/6492146/3830497

[2018-04-04 11:56] Hypnosphi commented on #3333
Screenshots are still outdated, and the other link too: https://github.com/storybooks/storybook/tree/master/addons/knobs#additional-links

[2018-04-04 15:15] danielduan commented on #3354
You will need to commit the static build to BitBucket and have it serve the static html version

[2018-04-04 15:16] danielduan commented on #3355
you should remove `react-transform-catch-errors`
https://github.com/gaearon/react-transform-catch-errors

[2018-04-04 15:18] danielduan commented on #3353
I personally think the web UI is of little value to most developers. We should just default to device UI only - https://github.com/storybooks/storybook/pull/3278

[2018-04-04 15:34] igor-dv commented on #3354
It won't work with react-native though

[2018-04-04 19:25] sdaconceicao commented on #2772
Experiencing the same problem, unfortunately it makes the global decorator useless.
Running with knobs and addon info, all 3.4.0 release.

[2018-04-04 20:34] igor-dv commented on #3290
I've managed to make it work with multiSnapshots:

[code]

Also, there is a problem with the inner `Integrity Test`, that takes too much time (#3301). I think I will remove them as a temporal solution.

[2018-04-04 23:41] hally9k commented on #3344
@danielduan I tried everything I could think of. Nuked the lock, rolled yarn back to earlier versions. Tried to reproduce with other libs. The example shows that nothing fixed it for yarn but I couldn't get to the bottom of it so I thought I'd post up to you guys and see if you had any ideas.

[2018-04-05 00:45] jeetparikh opened #3358 "Storybook angular not detecting the component when the selector is an attribute"
If you are reporting a bug or requesting support, start here:
### When trying to use a template for writing a story and the component selector is an attribute, the component is not rendered correctly.

_The button component instead of being rendered as an angular custom created component simply renders as a default button styled by browser_

### Steps to reproduce

_Please provide necessary steps

[2018-04-05 01:20] estaub commented on #3347
No, sorry, I can't reproduce it at all now!
I did Quit out of Chrome yesterday and was able to reproduce it after restart.
I also checked other applications to see if they appeared to have a similar issue, and they did not.

This probably makes sense to close, but I'll leave it to you in case there's some reason you think Storybook is likely to be more than an ordinary victim.

[2018-04-05 01:26] jeetparikh commented on #3358
I was able to fix this by adding `ButtonComponent` to the `declarations` section of the `moduleMetaData`. So basically the storybook wasn't recognising the component at all but didn't throw any error since `button` is a valid HTML. When I tried using another component as `template` I realised this was the issue since storybook threw an error stating it is not a valid component and I added it to de

[2018-04-05 01:26] #3358 closed

[2018-04-05 03:37] bacancy-swaroopa commented on #3354
@danielduan I alreadt committed the code then how to serve the static html version?

[2018-04-05 03:41] danielduan commented on #3354
I must have been really tired when I answered that.. yeah sorry I don’t think what you’re asking for can be done.

[2018-04-05 03:53] bacancy-swaroopa commented on #3354
@danielduan then it is not possible?

[2018-04-05 04:03] danielduan commented on #3354
It is not possible to host react native storybook on a server at the moment.

[2018-04-05 04:05] bacancy-swaroopa commented on #3354
@danielduan okay thank you

[2018-04-05 06:01] bacancy-swaroopa commented on #3354
@danielduan can you tell me why it is not supported right now in react native and when can it will be available

[2018-04-05 07:27] eric-burel commented on #3329
My idea was to replace Node by Meteor when running tools as Storybook (but also jest and whatever 3rd party tool we use), I don't know if it is doable? That's how we work usually with Electron, this way we can support native modules compiled for Electron for example.

[2018-04-05 09:48] strothj commented on #3344
@hally9k

If you make this change in Vitalizer's `webpack.config.babel.js` it appears to work as expected with Yarn:
[code]

A small adjustment to your Webpack's `resolve.modules` setting is needed it looks like.

Storybook's version of webpack-dev-middleware is probably different from the one used by webpack-dev-server in your Vitalizer package. As a result, Yarn creates `node_modules` directorie

[2018-04-05 09:57] jefflau commented on #3329
So it sounds like there are two realistic options from what I can see:

1. Replace Meteor to another Node Framework within Vulcan so we are totally npm based and webpack compatible.
2. Extend the webpack build system for storybook so it can resolve Meteor imports.

I'm guessing Meteor will never drop their build system and it might be a very long time til Meteor can be totally npm based as there a

[2018-04-05 11:27] leepercox commented on #3355
Ignore this. I was an idiot. My 'resolve' was wrong.

[2018-04-05 11:27] #3355 closed

[2018-04-05 12:51] tmeasday commented on #3329
@eric-burel you know your idea reminded me of something I've been wanting to try that I think could be used to solve this problem. The idea is to render Storybook's preview iframe inside the user's app.

Basically this could ease setup of Storybook because it means you don't need re-write your webpack config for Storybook (in the typical case) or try and run your app inside webpack in Meteor's cas

[2018-04-05 14:48] tsiq-swyx commented on #3270
Hi friends,

I am going to start work on this now. Appreciate the wait.

[2018-04-05 15:37] tsiq-swyx commented on #3270
Going to document how to get it to look a bit nicer too like this:

![image](https://user-images.githubusercontent.com/35976578/38376038-ac02b432-38c5-11e8-9aed-f4fa2e258f60.png)

[2018-04-05 16:33] dependencies[bot] opened #3362 "react-lifecycles-compat versions available: 2.0.0"
There are new versions of react-lifecycles-compat available from npm.

## 2.0.0

_No content found._

[2018-04-05 16:33] dependencies[bot] opened #3363 "react-lifecycles-compat versions available: 2.0.0"
There are new versions of react-lifecycles-compat available from npm.

## 2.0.0

_No content found._

[2018-04-05 16:33] dependencies[bot] opened #3364 "react-lifecycles-compat versions available: 2.0.0"
There are new versions of react-lifecycles-compat available from npm.

## 2.0.0

_No content found._

[2018-04-05 16:33] dependencies[bot] opened #3365 "react-lifecycles-compat versions available: 2.0.0"
There are new versions of react-lifecycles-compat available from npm.

## 2.0.0

_No content found._

[2018-04-05 16:33] dependencies[bot] opened #3366 "react-lifecycles-compat versions available: 2.0.0"
There are new versions of react-lifecycles-compat available from npm.

## 2.0.0

_No content found._

[2018-04-05 16:33] dependencies[bot] opened #3367 "react-lifecycles-compat versions available: 2.0.0"
There are new versions of react-lifecycles-compat available from npm.

## 2.0.0

_No content found._

[2018-04-05 17:58] danielduan commented on #3367
Closing duplicate #3362

[2018-04-05 17:58] #3367 closed

[2018-04-05 17:59] danielduan commented on #3366
Closing duplicate #3362

[2018-04-05 17:59] #3366 closed

[2018-04-05 17:59] danielduan commented on #3365
Closing duplicate #3362

[2018-04-05 17:59] #3365 closed

[2018-04-05 17:59] danielduan commented on #3364
Closing duplicate #3362

[2018-04-05 17:59] #3364 closed

[2018-04-05 17:59] danielduan commented on #3363
Closing duplicate #3362

[2018-04-05 17:59] #3363 closed

[2018-04-05 18:02] danielduan commented on #3354
react-native is only meant to run on mobile phones and emulators, storybook RN is not an exception.

there is a browser UI to control the mobile UI and display addon information, but it is not a replacement for running the actual storybook on an emulator or phone. they are meant to work together.

[2018-04-05 19:00] timothymclane opened #3370 "addon-a11y uses React.Fragment without specifying react >=16.2.0"
### Bug or support request summary

Using @​storybook/addon-a11y with Storybook in a React 15 project throws errors as React.Fragment is undefined.

This can be fixed by specifying a minimum React version or removing the Fragment usage in `./components/Report`. Given I have some React 15 projects using addon-a11y 3.4.0, I'd prefer removing it altogether.

I'd be happy to make a pull request to add

[2018-04-05 19:01] adamchenwei commented on #3263
@igor-dv would you elaborate on how to do
`Use a multi-snapshot option that will create snapshots according to the stories.`

[2018-04-05 19:02] adamchenwei commented on #3263
I currently have this config to load seperated stories file in each component folder, what else I need to do so they can generate story shot the same way as how snapshot is generated in each component folder?

[code]

[2018-04-05 19:13] danielduan commented on #3370
@timothymclane that'd be great if you can remove them. you're welcome to create a PR.

[2018-04-05 19:54] Hypnosphi commented on #3344
If you want to guarantee that some package is in the root of your node_modules, you need to add a direct dependency on it instead of relying on npm/yarn hoisting

[2018-04-05 19:57] Hypnosphi commented on #3370
Yes, let's remove the Fragment usage

[2018-04-05 20:01] EugeneDraitsev opened #3371 "Babel 7 with create-react-app"
How I can use storybook with babel 7? When I try to run it with babel 7 I get an error:
[code]

### Steps to reproduce
1. Create simple react application: `create-react-app test`
2. Eject it `yarn eject`
3. Use babel 7 in package.json
[code]
and this minimal .babelrc (also remove babel section from `package.json`)
[code]
4. Run `getstorybook` and `yarn storybook`
5. You will get an error about wro

[2018-04-05 20:02] leojh commented on #909
This error started happening for me all out of a sudden out of nowhere :|

[2018-04-05 20:09] timothymclane commented on #3370
Sounds good. I will get my environment set up and make that request.

[2018-04-05 20:13] ndelangen commented on #3371
@Hypnosphi would supporting this be as simple as declaring compatibility in `package.json`?

[2018-04-05 20:35] ndelangen commented on #3155
glamorous DOES deterministic classnames, they are based on the hash of the content of the class. If I'm not mistaken @kentcdodds ?

[2018-04-05 20:41] kentcdodds commented on #3155
They are deterministic. What's happening here is the class name will have the component's `displayName` set to the `label` which glamor will include in the class name. But it only does that when the `NODE_ENV` is `development` I believe. Make sure that the `NODE_ENV` is unchanged from when you take the snapshot to when you compare it.

[2018-04-05 21:54] ndelangen commented on #3155
Thanks for the clarification ♥️

[2018-04-05 22:11] Hypnosphi commented on #3371
Storybook has a peerDependency on `babel-core` so you may need to install [`babel-bridge`](https://github.com/babel/babel-bridge)

[2018-04-05 22:33] EugeneDraitsev commented on #3371
@Hypnosphi yep, it works fine with `babel-bridge`. Thanks a lot, you can close issue

[2018-04-05 22:39] #3371 closed

[2018-04-06 08:49] FDiskas opened #3374 "@storybook/addon-knobs wrong types for typescript in @types/storybook__addon-knobs"
### Bug summary

### Steps to reproduce

- `@storybook/react 3.4.0`
- `@storybook/addon-knobs 3.4.0`
- `@types/storybook__addon-knobs 3.2.3`

[code]
Got error:
[code]

[2018-04-06 08:55] Hypnosphi commented on #3374
Looks like the definition is outdated. Please open a PR for [Definitely typed](https://github.com/DefinitelyTyped/DefinitelyTyped) to support the fourth argument

[2018-04-06 12:02] joegoodall1 commented on #3353
Quick question:

I've got everything up and running for React Native but was wondering if it was possible to have 2 simulators open at the same time, one with the storybook UI and one with the app being developed UI?

If this isn't possible, does it mean I have to shut down the packager to switch between seeing my app and storybook on the simulator?

[2018-04-06 12:43] dawnmist opened #3375 "@storybook/addon-storyshots: Inconsistency in framework string for react-native."
I have been working on putting together a typescript definition file for the storyshots addon, and when tracking through options provided to functions in the code noticed that the 'framework' string for react-native changes from `'react-native'` to `'rn'` when the react-native loader is used.

Affected lines:
https://github.com/storybooks/storybook/blob/9b3f63b304c381db4457449c32d37f03ce8e0a9a/add

[2018-04-06 13:59] rameshkunwar opened #3376 "How to use knobs with angular"
Knobs with Angular is not same as with React. I tried to write story with Knobs, however, it will not modify my props as that is done using React which can be found [here](https://storybooks-official.netlify.com/?knob-Dollars=12.5&knob-Name=Storyteller&knob-Text=help&knob-Years%20in%20NY=9&knob-background=%23ffff00&knob-Age=70&knob-Items%5B0%5D=Laptop&knob-Items%5B1%5D=Book&knob-Items%5B2%5D=Whisk

[2018-04-06 15:31] danielduan commented on #3353
@joegoodall1 you'll need to run two different packagers, one with the storybook script and the other with whatever you use to bundle your app

[2018-04-06 15:46] igor-dv commented on #3376
You have to name your knobs labels exactly as the name of the component props.

[2018-04-06 16:05] igor-dv commented on #3375
'rn' is used internally only. It is used to prevent image snapshots to be called for rn.

[2018-04-06 17:40] danielduan opened #3377 "Deprecate old keyboard shortcuts"
### Work summary

Keyboard shortcuts were modified so they don't conflict with browser shortcuts https://github.com/storybooks/storybook/pull/1858

We should remove the old shortcuts

### Where to start

https://github.com/storybooks/storybook/blob/master/lib/ui/src/libs/key_events.js#L44

### Acceptance criteria

Just delete the lines that have them

### Who to contact

Myself or @Hypnosphi

[2018-04-06 17:40] #3288 closed

[2018-04-06 20:28] tsiq-swyx opened #3379 "mdx stories?"
just an idea for general discussion - any interest in writing stories in guillermo rauch's mdx?

https://github.com/mdx-js/mdx

i was honestly surprised no one seems to have suggested this yet. seems like a very natural pairing.

[2018-04-06 23:09] joegoodall1 commented on #3353
Thanks for replying so quickly @danielduan.

Can you give me some pointers on how to implement this? Is there a link to an example that is set up and working?

I did try the link [here](https://github.com/storybooks/storybook/tree/master/app/react-native#using-haul-cli) to use the haul packager but that was unsuccessful in running Storybook and our app at the same time.

[2018-04-07 02:08] dawnmist commented on #3375
The output from the load function is used when creating the context information that is passed to the options.test function, so it is leaking out into user code as well.
https://github.com/storybooks/storybook/blob/9b3f63b304c381db4457449c32d37f03ce8e0a9a/addons/storyshots/src/index.js#L39
https://github.com/storybooks/storybook/blob/9b3f63b304c381db4457449c32d37f03ce8e0a9a/addons/storyshots/src/i

[2018-04-07 04:27] nareshbhatia opened #3381 "Multiple copies of React being loaded because of storybook"
### Bug or support request summary

I have a repo with two packages - one containing a reusable component library and another containing an app. I am using Storybook to test the reusable component library - it is a `devDependency` defined in the library package. Everything works fine here, Storybook is able to display the components.

However, when I use this library to build the app, I get the fo

[2018-04-07 05:08] SachaG commented on #3329
Could https://github.com/ardatan/meteor-webpack be helpful at all?

[2018-04-07 07:30] igor-dv commented on #3375
I see. So probably changing it back to the  'react-native' will be a good thing.

[2018-04-07 09:31] zhenwenc commented on #3291
@felipedeboni  Thank you so much!! Perfectly solve the issue!

[2018-04-07 10:30] Hypnosphi commented on #3329
@SachaG looks like it solves an opposite problem: use webpack inside Meteor

[2018-04-07 15:27] eric-burel commented on #3329
Maybe it would help to run storybook in Meteor as @tmeasday proposed

[2018-04-08 00:14] joscha commented on #3374
PR is here: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/24797 - closing this ticket as tracking will continue in DefinitelyTyped.

[2018-04-08 00:14] #3374 closed

[2018-04-08 01:14] tsiq-swyx commented on #3291
@felipeleusin sorry for the delayed response, I only just saw this. I tried it but it doesnt seem to work. I have no idea if its my fault, I don't even know how to debug this thing!

my `webpack.config.js`:

[code]

my baseUrl is src, so if I did this right I think I should be able to do absolute imports like this:
![image](https://user-images.githubusercontent.com/35976578/38461836-883da7c0-3aa8-

[2018-04-08 08:57] #2804 closed

[2018-04-08 11:34] zhenwenc commented on #3291
@tsiq-swyx This is my config, it may not be correct, but hope it helps:

[code]
BTW, as mentioned in the plugin's docs:
```Notice that the plugin is placed in the resolve.plugins section of the configuration. tsconfig-paths-webpack-plugin is a resolve plugin and should only be placed in this part of the configuration. Don't confuse this with the plugins array at the root of the webpack configurati

[2018-04-08 12:16] gvaldambrini commented on #1981
The problem is that in my case it is correct (as far as I understand) that both the package and the example have `@storybook/addons` installed. I managed to workaround the problem using lerna hoisting so that they share the same instance of `@storybook/addons`, but of course it's a workaround and not the ideal solution.
I hope that in the next storybook version the issue will be fixed as reported

[2018-04-08 14:57] #1648 closed

[2018-04-08 17:46] Hypnosphi commented on #1981
I think we should enforce channel being a singleton using some global variable like `window.__STORYBOOK_CHANNEL` instead of relying on a single package instance

[2018-04-08 19:09] bradfrost commented on #25
@nickytonline Thanks very much for the demo project! I really appreciate it.

The issue I'm still running into is reflected in [my original post](https://github.com/storybooks/storybook/issues/25#issuecomment-377046095), which is the use of `import` to get the styles into the project. That method unfortunately throws errors if assets like fonts or icons or background images don't resolve. I realiz

[2018-04-08 19:13] Hypnosphi commented on #3143
Upgraded in #3327

[2018-04-08 19:13] #3143 closed

[2018-04-08 19:13] #3158 closed

[2018-04-08 19:13] #3248 closed

[2018-04-08 19:13] #3317 closed

[2018-04-08 19:14] Hypnosphi commented on #2728
those peer deps are removed in #3383

[2018-04-08 19:32] nickytonline commented on #25
Sorry, my bad for not absorbing the entire content of your original post. That's quite the pickle if you want to avoid the [rigamarole](https://github.com/postcss/postcss-import/issues/304). Gonna have to think about that one a little bit.

[2018-04-08 21:54] Hypnosphi commented on #3323
looks like babel plugins `react-css-modules` and `react-optimize` don't work well together. You only see it is storybook build because `react-optimize` doesn't actually get applied to your `yarn build`. You can reproduce it there if you add this line to `webpack.config.js`:

[code]

[2018-04-09 05:26] Maxim-Filimonov commented on #3348
The same error is still present in the latest version.
Just tested with
[code]
Storybook 3.4.0
RN 0.55.1
[code]

[2018-04-09 05:43] danawoodman opened #3384 "getstorybook shouldn't use yarn if there's no `yarn.lock`"
### Bug(?)

Using latest `@storybook/cli` running `getstorybook` installs alpha version of storybook versus latest stable version.

### Steps to reproduce

[code]

The installed version of Storybook dependencies are `alpha` versions. Considering the versions are alpha, it seems unexpected that the most recent version of `getstorybook` would install them rather than the latest stable release.

###

[2018-04-09 05:45] danawoodman commented on #3384
In addition, and I'm not sure if it is related, by I am getting the following error when installing Storybook (using `getstorybook -f`) and running `npm run storybook`:

[code]

[2018-04-09 07:57] michaelgeorgeattard opened #3385 "Storyshots screenshot timing issue"
Problem: Storyshots screenshot is sometimes a white image.

The components being tested are Angular 5 components.

I am using latest version of `storybook` and addons.

I am initializing `storyshots` using the following:

[code]

I tried all puppeteer `waitUntil` parameters from https://github.com/GoogleChrome/puppeteer/blob/master/docs/api.md#pagegotourl-options however nothing worked.

Puppeteer

[2018-04-09 08:58] #2808 closed

[2018-04-09 09:49] nihaux opened #3386 "[Typescript/add-knobs] error TS7016: Could not find a declaration file for module '@storybook/addon-knobs/react'."
### Bug or support request summary

I'm new to typescript and to storybook and having a problem to make knob work with typescript.
Maybe I am missing something, but I get a TS7016 error on the import:
[code]
I've added
[code]

Any pointers appreciated :)

### Steps to reproduce

I've setup a basic repo to reproduce my problem.
Basically it is a create-react-app (with typescript scripts) + getStory

[2018-04-09 11:07] rameshkunwar commented on #3376
[This](https://github.com/storybooks/storybook/blob/master/examples/angular-cli/src/stories/addon-knobs.stories.ts) example helped me. I think this example should be added on **knobs** for **Angular**.

[2018-04-09 11:08] #3376 closed

[2018-04-09 11:25] igor-dv commented on #3386
Maybe related to the #3374

[2018-04-09 11:33] razzildinho commented on #3061
I'm having the same issue, Followed the Storybook for Angular guide. Angular v5.2.0, typescript v2.5.3, storybook/angular v3.4.0.

[code]

[2018-04-09 14:03] #3216 closed

[2018-04-09 17:10] DefoyPhilip opened #3389 "React.forwardRef cause invalid prop in PropTable for the withInfo addon"
### Bug or support request summary

Using React.forwardRef cause the prop `type` of PropTable to be incorrect.
[code]

It causes bugs in the story source and proptypes table
#### Story without the forwardRef wrapper:
![working-exemple](https://user-images.githubusercontent.com/3996226/38507569-e42dd512-3bea-11e8-87b2-bdfff498e770.PNG)
#### Story with the  forwardRef wrapper: (Note the `Unknown` ta

[2018-04-09 20:48] Hypnosphi commented on #3385
You can use this approach: https://github.com/storybooks/storybook/tree/master/addons/storyshots#specifying-options-to-jest-image-snapshots

But maybe we could implement a more explicit API for delays, @thomasbertet WDYT?

[2018-04-09 20:51] yazdog8 commented on #3323
Interesting. I broke out all of the optimize plugins and found that this is the one that seems to be breaking the css modules: 'babel-preset-transform-react-inline-elements'.

https://github.com/babel/babel/tree/6.x/packages/babel-plugin-transform-react-inline-elements

Will investigate further with the individual repos.

Thanks for your help!

[2018-04-09 20:55] yazdog8 commented on #3323
And it seems like this is the reason: https://github.com/gajus/babel-plugin-react-css-modules/issues/120

Not included in the documentation it seems.

[2018-04-09 21:00] #3323 closed

[2018-04-09 21:08] Hypnosphi commented on #3384
Weird, for me it installs the stable versions. What does this command output for you?

[code]

[2018-04-09 22:47] Hypnosphi commented on #3181
upgraded as part of #3327

[2018-04-09 23:12] hally9k commented on #3344
@Hypnosphi Although your point is valid in terms of relying on yarn hoisting being a bit shaky this approach would remove a lot of the value of having the project configuration delegated to a package, we would have to maintain our dependencies in 2 places.

[2018-04-10 02:06] danawoodman commented on #3384
I get nothing running that but `which getstorybook` returns:

[code]

[2018-04-10 02:38] danawoodman commented on #3384
Installing `npm i -g @storybook/cli@3.3.15` fixes the problem. Seems an issue with `v3.4.0`?

[2018-04-10 08:56] michaelgeorgeattard commented on #3385
@Hypnosphi I think `beforeScreenshot` is good enough till `waitUntilTime` or similar is implemented by Puppeteer.

Things are working correctly now, thanks!

[2018-04-10 08:56] #3385 closed

[2018-04-10 09:11] oldwin opened #3394 "Generate snapshot for all select options"
Hi everyone,

I was trying to find answer in docs and issues, but seems like there is now answer.
Is it possible to configurate different storyshot for each select option?

For example I have next

[code]

And it will create snapshot for only default value 'A'
[code]

Is it possible to use all select values for snapshot generation to get all possible values?
[code]

Maybe there is any plans to imp

[2018-04-10 09:16] igor-dv commented on #3394
It's not possible with the out-of-the-box usage. the addons are agnostic to each other. You should probably add a story for each state of the select, or some other automation.

[2018-04-10 22:24] Hypnosphi commented on #3344
Well, either your config is completely handled by Vitalizer, and than it should be OK to have `webpack-dev-server` under `storybook-dependency-test/node_modules/vitalizer/node_modules`. Or for some reason you import or call `webpack-dev-server` directly, an then you need it as direct dependency

[2018-04-11 10:14] Hypnosphi commented on #3370
Released as [3.4.1](https://github.com/storybooks/storybook/releases/tag/v3.4.1)

[2018-04-11 10:14] #3370 closed

[2018-04-11 10:14] Hypnosphi commented on #3381
Released as [3.4.1](https://github.com/storybooks/storybook/releases/tag/v3.4.1)

[2018-04-11 10:14] #3381 closed

[2018-04-11 10:26] #3270 closed

[2018-04-11 10:27] Hypnosphi commented on #2662
Fix released as [`4.0.0-alpha.2`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.2)

[2018-04-11 10:27] #2662 closed

[2018-04-11 10:29] Hypnosphi commented on #2383
Released as [`4.0.0-alpha.2`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.2)

[2018-04-11 10:29] #2383 closed

[2018-04-11 10:29] Hypnosphi commented on #1981
Fix released as [`4.0.0-alpha.2`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.2)

[2018-04-11 10:29] #1981 closed

[2018-04-11 10:30] Hypnosphi commented on #3341
Fix released as [`4.0.0-alpha.2`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.2)

[2018-04-11 10:30] #3341 closed

[2018-04-11 10:32] Hypnosphi commented on #2729
Fix released as [`4.0.0-alpha.2`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.2)

[2018-04-11 10:32] #2729 closed

[2018-04-11 10:33] Hypnosphi commented on #3384
Can you please check it on `3.4.1`? Which framework are you using BTW?

[2018-04-11 11:23] Pavankumar1014 opened #3398 "Addon-info not showing description and propTypes after adding react-css-modules"
If you are reporting a bug or requesting support, start here:
### Bug  summary
Hi,

I am facing a issue with storybook addon-info that after adding css modules the proptables are not showing the description and proptypes

### Steps to reproduce

## Component:

`import React from 'react';
import CSSModules from 'react-css-modules';
import styles from './button.css';

 class Button extends AbstractC

[2018-04-11 11:58] bengry opened #3399 "Error in HtmlWebpackPlugin with latest alpha"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary
Storybook for Angular doesn't start up with `4.0.0-alpha3` - stuck on ` 95% emitting HtmlWebpackPlugin` for a while, than fails.

_Please provide issue details here - What did you expect to happen? What happened instead?_
After configuring a repo the same way as the [angular-cli example](https://github

[2018-04-11 12:06] goodmind commented on #2894
any updates?

[2018-04-11 17:37] CLL80 opened #3400 "addon-knobs: null default prop is false after page reload"
When setting a boolean default prop value, for example, `const shouldBeNullByDefault = boolean('Should Be Null By Default', null);`, the value is `null` but changes to `false` if page is reloaded.

### Steps to reproduce

Clone repo:
`git@github.com:CLL80/storybook.git`

Checkout branch:
`knob-test`

Run storybook

Go to the `withKnobs` story:
http://localhost:9011/?selectedKind=Addons%7CKnobs.wit

[2018-04-11 18:52] #3240 closed

[2018-04-11 19:27] danielduan commented on #1895
Documented in https://github.com/storybooks/storybook/blob/master/ADDONS_SUPPORT.md

[2018-04-11 19:27] #1895 closed

[2018-04-11 20:26] kaitmore commented on #2475
Also experiencing this issue +1

[2018-04-11 21:17] shwanton commented on #3246
👍

[2018-04-11 21:57] #2841 closed

[2018-04-11 22:46] lgraziani2712 commented on #3205
Bug still active in `"@storybook/vue": "^3.4.1"`

[2018-04-11 23:10] ndelangen commented on #3242
In the long long term, a overhaul of config/settings is inevitable.

I like the idea @mshaaban088 actually brings up here to actually facilitate "settings for addons". Certainly something we want to address in the overhaul.

[2018-04-11 23:24] marciaga opened #3405 "Flow Types not displaying in PropTypes table in addon-info"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

Flow types don't show up in addon-info props table.

_Please provide issue details here - What did you expect to happen? What happened instead?_

The documentation seems to suggest Flow types should work analogously to PropTypes.

### Steps to reproduce

_Please provide necessary steps for reproductio

[2018-04-11 23:26] kaitmore commented on #2475
hi @Hypnosphi! I have a PR for this, but I'm getting permission denied when I try to push to origin.

[2018-04-11 23:41] danielduan commented on #3211
This is surprisingly not easy to do because of how the state is managed by the knobs addon.

If we throttle at the input onChange level, the inputs become uncontrolled in React and the text input becomes garbage. Same issue with changing at the form level.

Throtting at the framework `wrapStory` level will reduce the number of times the page gets rerendered, but doesn't help with the history.

We

[2018-04-11 23:53] CLL80 commented on #2475
@kaitmore, I don't think this is set up to allow direct PRs. You can fork the repo and set the PR to come from your fork, though.

[2018-04-12 07:41] goodmind opened #3406 "require.context in nested modules"
### Bug or support request summary

`require.context` only polyfilled in top config, but not in other required file in `@storybook/addon-storyshots`

[2018-04-12 08:14] igor-dv commented on #2894
Not yet =)

[2018-04-12 10:04] colincclark opened #3407 "Select knob is broken in 3.4.1"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

Upgraded storybook and relevant packages to 3.4.1 and the [select](https://github.com/storybooks/storybook/tree/master/addons/knobs#select) knob stopped working. When loading a story that utilises this knob, we get "Maximum call stack size exceeded"

### Steps to reproduce

Load any story (on 3.4.1) w

[2018-04-12 10:25] mindtricksdev opened #3408 "[addon-info] Filter out props by name"
I was wondering if there's a way to avoid rendering some props when using `withInfo` from `@storybook/addon-info`.

Right now I'm using the following options to avoid rendering HoC props and it works well:
[code]

But the `Icon` has a `classes: PropTypes.object.isRequired` which gets rendered in the docs and I want to filter this out because it is injected by the HoC. The user does not need to pas

[2018-04-12 11:50] igor-dv commented on #3399
I don't have this specific issue when running the angular-cli example (have other warnings, but everything is working)

[2018-04-12 13:06] bengry commented on #3399
@igor-dv Try to do the following in the angular-cli example:
1. Add a file:
`src/lib/index.js`
Content shouldn't matter, I used:
[code]
2. Add that file to the `.angular-cli.json`, under `scripts`:
[code]
3. Run storybook (`yarn storybook`).

This is the outout I got after doing the above:
[code]

[2018-04-12 15:53] duro commented on #3348
That's bizzare, because upgrading to 0.55 resolved this for me. I did have
to make sure all my build caches were cleaned, but can't think of anything
else that I had to do to resolve.
On Thu, Apr 12, 2018 at 7:34 AM Federico Gonzalez <notifications@github.com>
wrote:

[2018-04-12 16:24] #3324 closed

[2018-04-12 17:44] er-dev opened #3410 "Can't install: Pull is not possible because you have unmerged files."
When running `getstorybook` I receive an error that it cannot install dependencies because I have unmerged files in git. I do not:

`git status` output:
[code]

`git diff` has no output

### Steps to reproduce

Run `getstorybook`

OS X 10.11.6
Node 8.9.1
NPM 5.6.0
In a brand new bare Meteor app (created with `meteor create xyz --bare`)

### Screenshots / Screencast / Code Snippets (Optional)

[cod

[2018-04-12 17:50] er-dev commented on #3410
After receiving that error, I ran `git status` again:

[code]

So I added the untracked files to git and commited them.

`git status` came back clean after that:

[code]

So I ran `getstorybook` again and received this message:

[code]

But I know the dependencies are not installed because of the original error.

I then ran `getstorybook -f` and received the original error again.

So I ran `npm in

[2018-04-12 18:39] vnctaing opened #3411 "How to mock Relay Modern component"
### Bug or support request summary

Hello

I'm using Relay modern. I have a component <QueryRenderer /> and I'd like to mock it in storybook. I haven't found a way to use `jest.mock()` in the browser.

[code]

Is there a way to mock any component or relay-modern in this case ? Thanks for you help !

[2018-04-12 19:17] danielduan commented on #3405
will be fixed by #3403, we currently don't support named exports.

[2018-04-12 19:35] marciaga commented on #3405
It doesn't seem to work with default exports either:
[code]

[2018-04-12 19:47] danielduan commented on #3405
yeah.. flow support is kind of wonky right now. once I get that version in and published, please test it for me.

[2018-04-12 20:44] anthonymetzler opened #3413 "Viewport Addon: Custom devices are NOT appearing as available options in Viewport drop-down"
### Bug or support request summary
I had previously been running viewport and using its default list of devices. I came across the need to add a custom device to test against a specific resolution, so I updated my .storybook/config.js file as instructed in the README. However, my custom devices are not appearing in the drop-down no matter what I try.

### Steps to reproduce
Here is my .storybook/c

[2018-04-12 21:40] mshaaban088 commented on #3413
@anthonymetzler Version `3.4.1` does not support configuration, please use `4.0.0-alpha.x` instead.

I think you have seen the README file in master, no? ([README v3.4.1](https://github.com/storybooks/storybook/tree/v3.4.1/addons/viewport))

[2018-04-12 22:42] danielduan commented on #2313
I have second thoughts about even refactoring off this stack.

I spent a good few hours trying to understand how the state management and containers work within the `@storybook/ui` package. It doesn't seem like I can migrate things little by little, and it's a huge effort that'd be better spent just starting fresh with a new UI like the `SBNext` project.

[2018-04-13 16:36] adrice727 commented on #3061
I'm having the same (or a very similar) issue.  When I use `style-loader`, I have the same error message as @EmmaTwersky.
[code]
Using `MiniCssExtractPlugin.loader`, I get:
[code]
My `.storybook/webpack.config.js` is essentially identical to my primary `webpack.config.js`, which creates builds with no issue:
[code]
 My `tsconfig` for `storybook`:
[code]
`postcss.config.js`:
[code]

The offending f

[2018-04-13 18:29] danielduan opened #3416 "Deprecate Knob debounce option, Select V1, old export format"
### Work summary

* Deprecate Select V1 API
* remove debounce in Knob
* Remove old Knob exports

### Where to start

Select: https://github.com/storybooks/storybook/blob/master/addons/knobs/src/components/types/Select.js
Debounce: https://github.com/storybooks/storybook/blob/master/addons/knobs/src/components/Panel.js#L3
Remove old Knobs exports: https://github.com/storybooks/storybook/blob/master

[2018-04-13 19:14] nareshbhatia commented on #3381
Hi @Hypnosphi, thanks for the help. I see that you removed the hard dependency on React and changed it to a peer dependency. This does help, but it does not solve the issue. In order to run Storybook, I have to now include React in my library myself. I added it as a `devDependency` to make sure that it is not picked up by other dependent packages. In spite of this, when I run my app (which depends

[2018-04-13 20:48] adrice727 commented on #3061
Update.  I resolved my issue by not using any of the webpack config defaults (e.g. `baseConfig`, `env`, `defaultConfig`).

[2018-04-14 18:07] Hypnosphi commented on #3381
You're importing `'react'` package from your source files, so you need to have it as direct dependency anyway. There's no guarantee that your indirect dependencies end up installing into the root of your `node_modules` (and are therefore available for import)

[2018-04-14 22:49] aircraft721 opened #3417 "Unable to make @storybook/addon-storyshots work in a typescript/react project."
### Bug

#### What I expected to happen:
Generate images from the existing stories.

#### What happened instead:
I receive this error instead:

[code]

### Steps to reproduce
https://github.com/aircraft721/typescript-storyshot
1. Clone the repo
2. yarn
3. yarn build-storybook
4. yarn test
### Please specify which version of Storybook and optionally any affected addons that you're running

- storyb

[2018-04-14 23:52] nareshbhatia commented on #3381
1. Yes I am using Lerna for my monorepo. `lerna bootstrap` creates the symlinks. No experience with yarn workspaces. Is it a similar concept?
2. By "hoist react devDependencies", you mean to simply move the React dependency to the root package, correct? I had it set up that way earlier, but the app was still picking up two copies of React.
3. Your "third package" solution seems to be the most viab

[2018-04-15 07:01] #3417 closed

[2018-04-15 09:59] dietergeerts commented on #3157
Wouldn't it be great if storybook was framework independent? Of course, that means that for the actual examples, we'll need something to work with the framework used in the examples, but the overal structure should not mind the framework being used. This would be so much more future proof and would allow for easier development.

I came here because after years of using [Fabricator](https://github.

[2018-04-15 10:00] Hypnosphi commented on #3157
AFAIK @ndelangen is working on something like that in https://github.com/storybooks/SBNext/tree/POC-bundler and he welcomes assistance

[2018-04-15 10:08] dietergeerts commented on #3157
Nice. That would be exactly what I am after. Would love to contribute, and if anything comes out of it, I will deprecate my Fabricator Builder project to redirect to the new StoryBook then. I'll contact @ndelangen to see how I can help out.

[2018-04-15 12:16] Maxim-Filimonov commented on #3348
I've attached source code to test - [latest.zip](https://github.com/storybooks/storybook/files/1912380/latest.zip)

[2018-04-15 15:07] Hypnosphi commented on #3381
Yes. You can actually use yarn for bootstrapping and lerna for publishing (that's what we do in storybook main repo). It deduplicates and hoists all the common dependencies automatically
https://yarnpkg.com/lang/en/docs/workspaces/

Probably that's because `myapp` still had its own react dependency

[2018-04-15 21:03] ndelangen commented on #3157
🎉

[2018-04-15 21:44] Hypnosphi commented on #2240
I'm going to start refactoring out `html.ejs` templates and error / nopreview views

[2018-04-15 22:37] mssngr opened #3421 "preview-head.html not injecting into iframe"
### Bug or support request summary

I created a `preview-head.html` file with a single `<link>` tag to load in a custom Google web font, but the tag is never injected into Storybook's iframe.

### Steps to reproduce

1. Create a `create-react-app` app.
2. Add any tags to a `preview-head.html` file within `/.storybook`. I added:
[code]
3. Start the dev server with `npm start` or `yarn start`
4. Ope

[2018-04-16 00:45] andyo729 commented on #3408
I could look into this and try to throw something together.

[2018-04-16 01:42] pelotom commented on #713
My use case is that I'm trying to use Storyshots with a component that, several levels down in its render tree, uses a component that is lazily loaded with `import(...)` from a codesplit module. So on first render it's almost entirely blank. Does anyone have any ideas on the easiest way to get Storyshots to wait until the component is loaded to render? Or to just load the component synchronously i

[2018-04-16 01:53] tmeasday commented on #713
@pelotom could you `import` all the relevant modules in your storyshots (jest) test file in a `beforeAll` async block? Kind of janky but maybe would work in theory.

[2018-04-16 02:26] pelotom commented on #713
@tmeasday I tried that (actually just a regular static import at the top of the file, but it didn't seem to work. I think even if the module is immediately available the promise won't resolve synchronously.

[2018-04-16 02:53] tmeasday commented on #713
Can you mock `import` to just do nothing?
On Mon, 16 Apr 2018 at 12:26 pm, Tom Crockett <notifications@github.com>
wrote:

[2018-04-16 06:32] franktopel opened #3423 "Add how to install storybook for use with stencil-component-starter (or even better, make a version for that)"
### Bug or support request summary

I'd love to use storybook for the web components library our company is about to create using **StencilJS**. Can you please add information as on how to get that up & running?

### Steps to reproduce

Create a project from [stencil-component-starter](https://github.com/ionic-team/stencil-component-starter), then open up a terminal and issue `getstorybook`.

###

[2018-04-16 06:49] franktopel commented on #1870
Please re-open this ticket and let us know what has been done on this very promising issue!

[2018-04-16 08:01] wuweiweiwu commented on #1108
@ndelangen I'd like to take this up!

Seems like a large todo list..

perhaps starting with adding packages via the `getstorybook` cli?

- [ ] add packages via getstorybook
- [ ] search documentation via cli
- [ ] create `storybook` cli
- [ ] everything here https://github.com/storybooks/storybook/issues/1108#issue-230745046
- [ ] add addons via `storybook` cli

[2018-04-16 11:32] Hypnosphi commented on #2389
The easiest workaround would be not to include dll plugin into your storybook webpack config (you probably only need it for your actual app). I'll try to investigate why the error happens though

[2018-04-16 13:28] hoschi commented on #2389
@Hypnosphi that is generally right, but it gives a significant performance boost.
/cc @MarkusLanger

[2018-04-16 13:58] Inateno opened #3424 "React ref as string throw an error"
Hi !

If I use the React refs with string (old way) I got an error:
![image](https://user-images.githubusercontent.com/1068709/38813111-6d2e0ea6-418e-11e8-8030-3f80aa5c1280.png)

But then if I use the !["new" way of doing it](https://reactjs.org/docs/refs-and-the-dom.html#creating-refs) it's okay.

The fact is, in my application refs as string are still okay (and running). React team removed the s

[2018-04-16 14:46] mssngr commented on #3421
Well, Storybook is working with the new font this morning. 🤷‍♂️  I was probably doing _something_ wrong. False alarm.

[2018-04-16 14:46] #3421 closed

[2018-04-16 16:35] dependencies[bot] opened #3425 "sass-loader versions available: 7.0.0"
There are new versions of sass-loader available from npm.

## 7.0.0

### Features

* Refactor resolving and simplify webpack config aliases (#479) ([e0fde1a](https://github.com/webpack-contrib/sass-loader/commit/e0fde1a))
* Remove `node-sass` from `peerDependencies` (#533) ([6439cef](https://github.com/webpack-contrib/sass-loader/commit/6439cef))

### BREAKING CHANGES

* Drop official node 4 suppo

[2018-04-16 17:56] CLL80 opened #3427 "Test suite failed to run"
This issue introduced to master over the last few days:

[code]

### Steps to reproduce
Clone storybook

`yarn bootstrap --core && yarn test --core --image`

storybook 4.0.0-alpha.2

[2018-04-16 18:37] SindreSvendby commented on #3413
Ahh, I just did the same. I was expecting master to ref to the latest stable build and developing of a new version on another branch. Could it be an idea to give a little heads up in the readme files that master is about the new alpha version and point to README for the latest stable branch?

I can send a PR on that if that is something that you want to have @mshaaban088

[2018-04-16 19:00] Hypnosphi commented on #3427
You need to run `cd examples/official-storybook && yarn build-storybook` before image tests

https://github.com/storybooks/storybook/blob/master/CONTRIBUTING.md#cra-kitchen-sink---image-snapshots-using-storyshots

[2018-04-16 19:00] #3427 closed

[2018-04-16 19:28] CLL80 commented on #3427
Yes, they all pass after this. Thanks.

[2018-04-16 19:57] Hypnosphi commented on #3423
@storybooks/team  looks like we need a slow start guide for polymer / web components

[2018-04-16 20:01] Hypnosphi commented on #3424
That's only partially true
https://reactjs.org/docs/strict-mode.html#warning-about-legacy-string-ref-api-usage

[2018-04-16 20:05] Hypnosphi commented on #3424
But the actual issue is probably that:

What does this command output for you?

[code]

[2018-04-16 21:11] mshaaban088 commented on #3413
@SindreSvendby More about the release process can be found in [RELEASES](/storybooks/storybook/blob/master/RELEASES.md) file. Feel free to raise your concern.

[2018-04-16 21:17] danielduan commented on #3267
sounds like this might be related to https://github.com/storybooks/storybook/issues/3335

[2018-04-16 21:18] #3162 closed

[2018-04-16 21:56] #3218 closed

[2018-04-16 21:57] #3362 closed

[2018-04-16 21:57] #2931 closed

[2018-04-16 22:09] mshaaban088 commented on #3400
Just some insights about this issue, this is happening because:
* First time the value is `null`, and serialized as `'null'` (`String`)
* Second time the value is loaded
  * First from stories (value is still `null`)
   * Second from the query params, which has the `serialized` version of type `String`, and when the `deserialization` happens (`value === 'true'`) it ends having value equals to `fal

[2018-04-16 22:13] Hypnosphi commented on #2389
@hoschi @smithjustinb can someone of you please create a GitHub repo with minimal reproduction of the issue, so that I could debug it myself?

[2018-04-16 22:15] Hypnosphi commented on #3407
Our [official example](https://release-3-4--storybooks-official.netlify.com/?knob-Dollars=12.5&knob-Name=Storyteller&knob-Years%20in%20NY=9&knob-background=%23ffff00&knob-Age=70&knob-Items%5B0%5D=Laptop&knob-Items%5B1%5D=Book&knob-Items%5B2%5D=Whiskey&knob-Other%20Fruit=lime&knob-Birthday=1484870400000&knob-Nice=true&knob-Styles=%7B%22border%22%3A%223px%20solid%20%23ff00ff%22%2C%22padding%22%3A%22

[2018-04-16 22:35] mshaaban088 commented on #3400
I'm going to write a small fix for it

[2018-04-16 23:44] Hypnosphi commented on #3410
I wasn't able to reproduce it using following steps:

[code]

Can you please create a GitHub repo with minimal reproduction of your issue?

[2018-04-16 23:47] Braden1996 commented on #887
Hey everyone!

I'm struggling to get this working :( Any advice as to what I am doing wrong?
**Storyshots.test.ts**
[code]

**Error message:**
[code]

[2018-04-17 00:28] tmeasday commented on #713
@pelotom this may be getting too complicated, but what about using a different babel plugin for `import()` then? One of these maybe:

https://www.npmjs.com/package/babel-plugin-dynamic-import-node-sync
https://www.npmjs.com/package/babel-plugin-transform-import-to-require

Could that possibly work?

[2018-04-17 00:31] pelotom commented on #713
@tmeasday I'm not using Babel at all in my project (I'm using TypeScript), and would rather not start now. The solution I'm using for now is to pass down an optional override component to use instead of the lazy one if present.

[2018-04-17 00:49] pelotom commented on #713
Lol, why the thumbs down??

[2018-04-17 00:50] tmeasday commented on #713
I mis-clicked ;) Did you get a notification or something? Looks like a thumbs up for me!

[2018-04-17 05:54] nnennajohn commented on #3339
@allangrds You are awesome!!! Thank you! Searched all day for this. :)

[2018-04-17 06:49] igor-dv commented on #3423
Stencil is a "compiler", that combines TS + Angular-like-components syntax + JSX. Also, It might be tested with Jest (which is good for example to be able supporting storyshots). As the result, it compiles to web-components.

1. TS - TS 🤷‍♂️
2. - Angular-like-components - here I mean all kind of decorators like `@Prop` and `@Components` with all fields like `styleUrl`, that have to be treated in a

[2018-04-17 06:53] igor-dv commented on #3423
I think it will be a very good addition to Storybook, since it will open a channel to the ionic users. But as a separate app.

[2018-04-17 06:56] #3413 closed

[2018-04-17 07:57] Samatar26 commented on #3416
Hi @danielduan, can I work on this one?

[2018-04-17 08:32] Braden1996 commented on #887
Fixed! Nothing fresh morning eyes couldn't solve 🤪
I needed to import like this:
[code]

[2018-04-17 09:37] Neglexis commented on #2708
No, this is everything but stale. The real issue wasn't answered in @danielduan's reply.

[2018-04-17 10:04] Hypnosphi commented on #3424
Can you please share some minimal part of your configuration as a GitHub repo, co that I could debug it?

[2018-04-17 10:06] Hypnosphi commented on #2708
Please try it with 3.4.1
AFAIK there were some huge fixes in that field

[2018-04-17 10:36] Neglexis commented on #2708
Still nothing.

Still fails with this component.

[code]

![image](https://user-images.githubusercontent.com/29750443/38864766-006cc3a8-423c-11e8-8aa6-f01abc3b233b.png)

[2018-04-17 12:01] #3287 closed

[2018-04-17 14:19] xeroxoid opened #3434 "start cache reset"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

_Please provide issue details here - What did you expect to happen? What happened instead?_

### Steps to reproduce

_Please provide necessary steps for reproduction of this issue. Describe the exact steps a maintainer has to take to make the problem occur. If the problem is non-trivial to reproduce,

[2018-04-17 14:19] #3434 closed

[2018-04-17 14:25] xeroxoid commented on #1192
Any news on this? Keep randomly getting it all day long today.

[2018-04-17 16:09] er-dev commented on #3410
I am not using `create-react-app`, but Meteor instead:

[code]

[code]

[2018-04-17 18:45] emiyake opened #3435 "Storybook 4.0.0-alpha.2 with FontAwesome"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary
I updated the storybook in my project and found out that SVG fonts are not loaded correctly by the default `wepack.config.js`.

I noticed that `.svg` extension was removed from the loader that deals with fonts in the #3221 commit:
[code]

and [`svg-url-loader`](https://github.com/storybooks/storybook/b

[2018-04-17 20:58] dependencies[bot] opened #3436 "redux versions available: 4.0.0"
There are new versions of redux available from npm.

## 4.0.0

Redux 4 is here! 🎉

If you're a React user, this is going to be a lot like going from 15 to 16. Not a lot of user-facing changes, but some interesting improvements under the hood.

The major changes (#1342) are around our TypeScript definitions, bundled CommonJS and ES builds, throwing if you subscribe or getState from a reducer, and a

[2018-04-17 20:58] dependencies[bot] opened #3437 "ts-node versions available: 6.0.0"
There are new versions of ts-node available from npm.

## 6.0.0

_No content found._

[2018-04-17 21:06] abecks opened #3438 "Compatibility with absolute import paths"
Can Storybook be made compatible with absolute import paths:

`import { Module } from '/imports/module'`

I am working on adding Storybook to a Meteor project, and I store all my app code under `<project root>/src`. I'd like Storybook to map all absolute imports (starting with a "/" character) to `src/*`

This is brought up [here](https://github.com/storybooks/storybook/issues/224) and [here](http

[2018-04-17 21:12] Hypnosphi commented on #3438
Adding [React preset](http://babeljs.io/docs/plugins/preset-react/) should be enough

But AFAIK there is some more fundamental problem with using meteor imports, see #3329

[2018-04-17 21:50] Hypnosphi commented on #3410
Looks like you're using a very outdated version of yarn. Please try installing the latest one
https://yarnpkg.com/en/docs/install

[2018-04-17 22:49] #3196 closed

[2018-04-17 22:55] danielduan commented on #3435
does using `url-loader` not have this issue?

[2018-04-17 23:32] Hypnosphi commented on #3400
Released as [`3.4.2`](https://github.com/storybooks/storybook/releases/tag/v3.4.2)

[2018-04-17 23:34] #3400 closed

[2018-04-17 23:34] Hypnosphi commented on #2590
Released as [`3.4.2`](https://github.com/storybooks/storybook/releases/tag/v3.4.2)

[2018-04-18 00:08] wkentdag commented on #3044
@Hypnosphi after updating to `v4.0.0-alpha.0`, my storybook compilation stalls and hangs on the `compat` plugin, never moving past 95%:

[code]

Before upgrading to the alpha build, I was running into @TomFoyster's issue.

I can still get it to compile now by using `yarn` instead of `npm`, but the newest build doesn't appear to have fixed the problem.

[2018-04-18 00:16] Hypnosphi commented on #3301
Released as [`4.0.0-alpha.3`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.3)

[2018-04-18 00:16] #3301 closed

[2018-04-18 01:12] andyo729 opened #3441 "Missing assetFileTransform when trying to run tests"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

I ran `yarn run test` and received the following error:

### Steps to reproduce

1. Run `yarn bootstrap`
1. Select Core and Examples
1. Run `yarn run test`
1. Select Core, React, Vue etc..

### Please specify which version of Storybook and optionally any affected addons that you're running

- storyboo

[2018-04-18 05:31] danawoodman commented on #3384
This is very easy to reproduce:

[code]

Result:

[code]

[2018-04-18 08:05] Hypnosphi commented on #3384
Is there a chance that you have yarn on your machine? Which version is it?

[2018-04-18 08:15] Hypnosphi commented on #3441
You need to uncheck react-native

[2018-04-18 08:47] ankibalyan commented on #3044
Do `rm -rf node_modules` and then use `yarn install`. Its working with `storybook v3.4.1` and `webpack v4.6.0`

specifically yarn solves the problem by installing storybook dependency seperatly.

[2018-04-18 09:59] terrencewwong opened #3442 "addon-notes causes story to not render and shows error instead"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

Using `addon-notes` causes story to not render. Instead it renders an error "Expecting a valid React element from the story...Seems like you are not returning a correct React element from the story.
Could you double check that?"

![image](https://user-images.githubusercontent.com/5312329/38924911-79dd

[2018-04-18 10:48] Hypnosphi commented on #3442
Notes as object is feature is only in `4.0.0-alpha.3` version.
Here are the docs for the stable version: https://github.com/storybooks/storybook/tree/release/3.4/addons/notes

[2018-04-18 12:29] terrencewwong commented on #3442
Ah sorry that's correct. Thank you!

[2018-04-18 12:29] #3442 closed

[2018-04-18 12:37] ndelangen commented on #1108
@wuweiweiwu and me are going to discuss this epic tomorrow evening.

[2018-04-18 13:03] ankibalyan commented on #3044
I also tried `v4.0.0-alpha.3` but `@storybook/addon-storysource@v4.0.0-alpha.3` doesn't seem to be working with it.

[2018-04-18 13:31] michaelgeorgeattard commented on #3289
Any updates on this please?

[2018-04-18 13:45] Inateno commented on #3424
Ok after creating an independent project I found the "real" problem.

So ref as string is working in storybook, but it is not 2 different versions of React who create the problem.
It is the same version of React loaded twice.

What is interesting is, the ref instance works anyway, the ref string doesn't.

Here is the link to the repo, will be more simple to understand: https://github.com/Inateno/s

[2018-04-18 14:09] merlinpatt opened #3443 "Add option to clear action logger on switching stories"
I would like to see an option to clear the action logger (and possibly the console) when switching between stories.

This could simply be `clearActionLogger: true`.

I would be happy to write this feature if someone can help me get started with where to look.

[2018-04-18 14:32] danawoodman commented on #3384
I do but why would that matter?

[2018-04-18 16:29] Kizbo opened #3444 "Compile error - create-react-app with latest storybook"
[code]

Running react 16.3.2 with latest create-react-app

[2018-04-18 17:00] abecks commented on #3438
Thanks for pointing me in the right direction, I got this working with:

[code]

I'm aware of the issue importing Meteor packages. I'm taking care to build "dumb" UI components that do not import any Meteor packages.

[2018-04-18 17:00] #3438 closed

[2018-04-18 17:35] 2rod commented on #3444
I just got a similar set of error messages trying to run storybook on a new react app!

[2018-04-18 18:28] gagan0723 opened #3446 "[storybook/cli] Fails if package.json at /home/user has no license field."
### Summary
```storybook/cli``` gives error when initiating a repo with ```$ getstorybook```.

#### Here's the error:
[code]

### Steps to reproduce
1. ```sudo npm i -g @storybook/cli```
2. ```getstorybook```

### Please specify which version of Storybook and optionally any affected addons that you're running

- ```storybook/cli: 3.4.2```
- Addons: none

[2018-04-18 19:28] igor-dv commented on #3290
@Hypnosphi can't we release it as a patch for 3.4 as well ?

[2018-04-18 19:30] emiyake commented on #3435
@danielduan This issue persists even with `url-loader`

[2018-04-18 21:06] ruanmer commented on #3405
any news about this bug?

[2018-04-18 21:30] danielduan commented on #3446
I believe this is a warning thrown by `npm`.

If you do `npm install @storybook/react` for example in the same directory, you should get the same warning.

Does this prevent `getstorybook` from completing the install?

I personally don't think we should get into the business of catching `npm` warnings as there are many more such as `No repository field`, `No description`. The message is clear and

[2018-04-18 21:32] danielduan commented on #3444
Is this a valid file?
[code]

[2018-04-18 22:01] danielduan commented on #3405
@ruanmer it should be available in the 4.0.0-alpha builds

[2018-04-18 22:12] Hypnosphi commented on #3384
`getstorybook` uses yarn if it's available. There is a way to opt out of it:

[code]

[2018-04-18 22:25] Hypnosphi commented on #3290
Looks we've actually released it as 3.4 but it didn't get into changelog

cc @shilman

[2018-04-18 22:51] gagan0723 commented on #3446
@danielduan thanks.

## Yes it does prevent getstorybook from completing the install.

#### Content of ```package.json```

*  Before ```license``` field.
[code]

* After ```license``` field.
[code]

#### Screenshot of ```terminal``` before and after ```license``` field.

![story](https://user-images.githubusercontent.com/6944095/38962039-b8d4ac0a-436b-11e8-8f6f-5a60472921dd.png)

[2018-04-19 02:25] yi-ge opened #3448 "ReferenceError: h is not defined"
I use `@storybook/cli@4.0.0-alpha.3`.

[code]

I get the error: `ReferenceError: h is not defined`.

If add `h` in `render`, it work. [#3409](https://github.com/storybooks/storybook/pull/3409)

But on the `addDecorator`, I cant get the `h`.

[2018-04-19 02:26] #3448 closed

[2018-04-19 02:30] yi-ge opened #3449 "ReferenceError: h is not defined"
### Bug or support request summary

I use `@storybook/cli@4.0.0-alpha.3`.

[code]

I get the error: `ReferenceError: h is not defined`.

If add `h` in `render`, it work. [#3409](https://github.com/storybooks/storybook/pull/3409)

But on the `addDecorator`, I cant get the `h`.

### Steps to reproduce

1、`yarn global add @storybook/cli@4.0.0-alpha.3`
2、`getstorybook `

### Please specify which versi

[2018-04-19 06:27] apawar14 commented on #2096
Hi,

I am not able to print "Hi" on screen.

![screenshot_1524119087](https://user-images.githubusercontent.com/38472918/38974707-f9f41402-435f-11e8-9bab-3fb5b0ad0215.png)

[2018-04-19 07:21] kroeder opened #3450 "Angular CLI + SCSS + url(...) issue"
### Bug or support request summary

Hey,

per default storybook handles angular pretty well but we recently moved from less to scss and now `url(...)` with relative paths don't work anymore. Then I found this: https://github.com/webpack-contrib/sass-loader#problems-with-url

I tried to extend the webpack defaultConfig as described in the storybook documentation but then I ran into this https://git

[2018-04-19 07:28] Inateno commented on #3424
Yeah. Because everything in package is an independent library that needs React to launch example and build.
We are using Lerna on top of all those things.

And even if there is a way to say to rollup (or else) to use dependencies from the parent folder, this will mean that all packages must have the same dependencies which can be possible but is not true all the time.

[2018-04-19 09:15] Kizbo commented on #3444
I'm using yarn too
i have index.js autogenerated by storybook inside src\stories

[2018-04-19 09:29] wellnine commented on #2708
I also have the same issue. So the problem is actual.

[2018-04-19 10:53] Hypnosphi commented on #3424
OK, that case is pretty similar to https://github.com/storybooks/storybook/issues/3381

The possible solutions are pretty much the same:

— Use [yarn workspaces](https://yarnpkg.com/blog/2017/08/02/introducing-workspaces/) for bootstrapping phase
— [Hoist common `devDependencies`](https://github.com/lerna/lerna#common-devdependencies) manually
— Create a separate package with storybook and tests f

[2018-04-19 13:25] thupi opened #3451 "[Typescript] Props inside the RenderFunction"
### Bug or support request summary

I was trying out a addon called storybook-state when i discovered that one of the examples passed props to the RenderFunction in a story. That seems to be invalid due the the typings. The typings for this repo do not allow props to be passed to the RenderFunction. The code works fine without typescript so this must be a bug in the type definition.

### Steps to

[2018-04-19 14:38] DylanLyon commented on #3329
Has there been any updates on making Meteor work with Storybook? I'm not using VulcanJS but I'm having the same issue when using 'import from meteor/X'. Assuming that changing all my code to not use Meteor import statements is not an option (it would be more trouble than it's worth) what are some alternative options?

Did anyone ever get it working by any of the methods mentioned above?

[2018-04-19 16:29] danawoodman commented on #3384
Ok, thanks for the info. This is super unexpected and I would categorize this as a bug since it breaks any application where a developer does not use that flag. I expect that installing with `npm` and running it with `npm` that it would use `npm`. Maybe there is a way for storybook to do this more intelligently? Eg check if there is a `yarn.lock` instead of just a system available `yarn`?

[2018-04-19 16:46] danielduan commented on #3450
while we do try to include sensible defaults, we can't possibly support every possible config in webpack

please follow the extend mode guide here to add your own webpack plugin to Storybook:
https://storybook.js.org/configurations/custom-webpack-config/

[2018-04-19 17:05] igor-dv commented on #3450
Since the 3.4 version, storybook integrates with the styling part of the angular-cli. Can you share you webpack.config.js?

[2018-04-19 17:12] Hypnosphi commented on #3384
Sounds like a good idea. Want to open a PR? The code to change would be this: https://github.com/storybooks/storybook/blob/master/lib/cli/lib/has_yarn.js

[2018-04-19 17:57] #3411 closed

[2018-04-19 19:14] josh-gree opened #3452 "Module build failed: Error: Cannot find module '@babel/core'"
### Bug or support request summary

I am trying to start using `storybook` on a fresh `create-react-app` project and I am running into an error (at end of this issue). I know that this is not a bug since I can successfully get things working in a `node:alpine` container. It is therefore an issue with my local setup but I am at a loss to see what it may be! Any help would be much appreciated. Some

[2018-04-19 19:39] Keraito commented on #3384
Can I give this a try? If @danawoodman doesn't mind of course.

[2018-04-19 19:49] danawoodman commented on #3384
Go for it!

[2018-04-19 19:55] igor-dv commented on #3215
It should've been fixed with moving server/config.js to the core

[2018-04-19 20:59] kgroat commented on #2522
Please reopen this issue, it's still showing up.  The workaround ahead works, but it should not be necessary.

[2018-04-19 21:04] danielduan commented on #3452
Sounds like you might need to run `npm i` to get `@babel/core`, either that or you might need to list it as a dependency and directly install it.

[2018-04-19 21:06] danielduan commented on #3446
If you or someone would like to open a PR to fix this, please do.

[2018-04-19 21:09] danielduan commented on #3435
@emiyake it's not caused by that PR then. while we try to provide a sensible webpack configuration, it's impossible to support everything. your best bet is to use the `Full Control Mode` and remove the `svg-url-loader` entry

same problem as https://github.com/storybooks/storybook/issues/3450

[2018-04-19 22:04] #2830 closed

[2018-04-19 22:05] Hypnosphi commented on #3215
Yes, but not for 3.4

[2018-04-19 22:13] Hypnosphi commented on #3443
Hi @merlinpatt

You can start with [`CONTRIBUTING.md`](https://github.com/storybooks/storybook/blob/master/CONTRIBUTING.md)

The addon configuration code is here: https://github.com/storybooks/storybook/blob/master/addons/actions/src/preview/configureActions.js
The code related to displayed actions list is here:
https://github.com/storybooks/storybook/blob/master/addons/actions/src/containers/Acti

[2018-04-19 23:41] Hypnosphi commented on #3444
How does your `.storybook/config.js` look like?

[2018-04-19 23:46] Hypnosphi opened #3454 "HMR not working in non-React examples"
### Steps to reproduce

Open vue, angular, polymer, or mithril example locally, change something in the story. Storybook doesn't get updated without page reload. This only reproduces on `master` branch, not on `release/3.4`
HMR works only in React

cc @igor-dv

[2018-04-20 00:00] Hypnosphi commented on #3452
Weird, can't reproduce it on my machine. Can you please share your result of those commands as a reproduction GitHub repo?

[2018-04-20 07:40] Kizbo commented on #3444
Thank you for responding
Here is my config.js:

[code]

[2018-04-20 10:39] kroeder commented on #3450
@igor-dv I do not use any custom webpack.config.js - I tried to use the full mode in order to get this running but failed when I tried to add a scss loader to the defaultConfig because there already was a scss loader (see https://github.com/vuejs-templates/webpack-simple/issues/107#issuecomment-311097791)

Here's my current scenario

- .angular-cli
[code]

- no custom webpack.config.js
- I have a

[2018-04-20 10:47] kroeder commented on #3450
nvm - seems to be angular-cli related
Fixed it this way: https://github.com/angular/angular-cli/issues/6599#issuecomment-379039521

[2018-04-20 10:47] #3450 closed

[2018-04-20 11:09] Keraito commented on #3443
Willing to help out, if you need someone extra @merlinpatt!

[2018-04-20 12:44] oldwin commented on #3152
@igor-dv hi, any updates? Maybe I can help with something?

[2018-04-20 13:13] DylanLyon opened #3455 "Importing Meteor packages solutions?"
Hey all,

I know there has been some talk in the past about handling Meteor import statements into storybook (e.g. 'import Random from meteor/meteor') but I never saw any concrete ways to make it work. Did anyone ever get a method working that doesn't involve rewriting all their code? (rewriting isn't really an option for this project.)

Thanks everyone for your help!

[2018-04-20 14:28] #3384 closed

[2018-04-20 15:43] danielduan commented on #3455
I don't think anyone is looking into adding support. If you'd like to open a PR, we'll gladly take a look.

[2018-04-20 15:43] Sommerfeld commented on #3452
Same issue :/

[code]

https://github.com/Sommerfeld/react-storybook-example

[2018-04-20 15:48] josh-gree commented on #3452
So fixed by following the slow start process - `getstorybook` is the issue. As I said it is not reproducible since everything works in a fresh node container. But there must be something weird about my local setup that is interacting badly...

[2018-04-20 15:49] Sommerfeld commented on #3452
[code]

Fixed it by installing correct peer dependencies.

[code]

[2018-04-20 16:11] DylanLyon commented on #3455
Done, added a new PR at [#3456](https://github.com/storybooks/storybook/pull/3456) although I'm unsure if I created the request properly.

[2018-04-20 16:55] Hypnosphi commented on #3452
Looks very similar to https://github.com/storybooks/storybook/issues/3384

Is there a chance that you have some old version of yarn installed?

[2018-04-20 17:01] danielduan commented on #1357
is this still a valid issue @Hypnosphi @ndelangen? wouldn't we be able to deploy branch builds to netlify for each release and keep them versioned?

[2018-04-20 17:12] danielduan commented on #2996
Doc updated.

[2018-04-20 17:12] #2996 closed

[2018-04-20 18:29] creatyvtype commented on #2140
@tmeasday can you elaborate on this? I am attempting to do something like this but can't seem to crack into the storybook webpack the way I'd like.

My task: take the .scss files and generate 3 different versions to swap around from the dom while in storybook.
My attempted solution: run 3 different webpacks within a node server to generate the stylesheets.
Blockers: I can't figure out simple thing

[2018-04-20 18:52] Hypnosphi commented on #1357
We already do, but we haven't any links to them
E.g. docs for current alpha (master) https://storybooks.netlify.com/

[2018-04-20 19:53] emiyake commented on #3435
I see. Wouldn't it make sense not to add `svg-url-loader` in the default configuration and add it with `Extended Control Mode` when needed, instead of forcing developers to remove it from the baseConfig?
My understanding of basic configuration is to have a minimum support and we should add additional loaders according to the project needs (just like when we add loaders such as typescript).

The cu

[2018-04-20 20:05] SethDavenport opened #3458 "Markdown shows up as HTML with addon-info"
### Bug or support request summary

I'm using `@storybook/addon-info` to get some markdown into my stories, however, I'm loading it from an external file:

[code]

What I'm noticing is that it works fine if the markdown just has a header:

[code]

![image](https://user-images.githubusercontent.com/4614141/39071096-c9e4f9ac-44b3-11e8-95ee-769517fcb0b5.png)

But as soon as I add another line, the in

[2018-04-20 21:45] Hypnosphi commented on #2728
Released as [`4.0.0-alpha.3`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.3)

[2018-04-20 21:45] #2728 closed

[2018-04-20 21:54] Hypnosphi commented on #3181
This one is actually released under `next` tag, so we shouldn't hurry

[2018-04-20 21:54] #3181 closed

[2018-04-21 14:16] Hypnosphi commented on #3454
There's a chance it's somehow related to warnings during compilation. I'm adding graphql example to storybook-official, it has compilation warning and breaks HMR. I noticed that angular compilation has warnings as well:

[code]

[2018-04-21 20:28] Hypnosphi commented on #3436
Breaking changes: https://github.com/reactjs/redux/issues/1342

[2018-04-21 20:58] andyo729 commented on #3441
Yea, didn't notice that was set by default. Thanks for commenting!

[2018-04-21 20:58] #3441 closed

[2018-04-21 21:01] andyo729 opened #3469 "There isn't a test:watch script"
### Bug or support request summary

I tried to run `yarn run test:watch` and it seems that script does not exist. It is listed in the README, but doesn't seem to be supported.

### Steps to reproduce

Run `yarn run test:watch`

### Please specify which version of Storybook and optionally any affected addons that you're running

- @storybook/react@3.0.0

### Affected platforms

- Contributing

[2018-04-21 21:07] Hypnosphi commented on #3469
It's actually `yarn test --core --watch`. We need to update the docs. Would you like to open a PR?

[2018-04-21 21:37] Hypnosphi commented on #3410
#3453 should help in cases like yours, when you have an old yarn installed which you don't actually use

[2018-04-21 21:38] Hypnosphi commented on #3452
Will be fixed with releasing #3453

[2018-04-21 21:55] Hypnosphi opened #3471 "Polymer & Vue knobs are vulnerable to XSS Attack"
We probably should escape text values in those frameworks, or at least the values that came from URL

[Polymer](https://storybooks-polymer.netlify.com/?knob-Button%20title=%3Cscript%3Ealert%281%29%3C%2Fscript%3E&knob-Name=%3Cimg%20src%3Dx%20onerror%3D%22if%20%28%21window.hasAttacked%29%20%7B%20window.hasAttacked%20%3D%20true%3B%20alert%28%27XSS%20Attack%27%29%3B%7D%22%20%3E&knob-Border=deeppink&kn

[2018-04-22 05:13] colincclark commented on #3407
@Hypnosphi try changing it to an Array, rather than an object.

[2018-04-22 09:47] igor-dv commented on #3152
Still didn't manage to work on the refactoring, but you are welcome to help

[2018-04-22 09:54] igor-dv commented on #3454
Oh, I am glad that was the issue =)

[2018-04-22 16:42] Hypnosphi commented on #3435
Makes sense to me @emiyake

[2018-04-22 19:48] Hypnosphi commented on #124
Released as [`4.0.0-alpha.3`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.3)

[2018-04-22 19:51] Hypnosphi commented on #2905
Please try `4.0.0-alpha.3`, it hides stories panel on mobile by default

[2018-04-22 21:54] Keraito commented on #3458
Sorry @SethDavenport, I forgot to reply here after looking into a fix and proposing the changes.

Basically, the problem is that the content of a `.md` file, when imported, is automatically turned into the corresponding HTML. This results in some flaky rendering. As a workaround while waiting for the PR, you can try  [using webpack to change the import to load in the file raw](https://github.com/r

[2018-04-23 00:09] tmeasday commented on #3455
Hi @DylanLyon, I guess this is covered by this ticket: https://github.com/storybooks/storybook/issues/3329

I don't think explicitly supporting Meteor from within Storybook is the best way to solve it. Probably the best way forward in the shorter term is investigating things like https://github.com/ardatan/meteor-webpack and seeing if you can use that to make SB in it's current form work with Mete

[2018-04-23 00:09] #3455 closed

[2018-04-23 00:16] tmeasday commented on #3329
I think with the refactoring that's been going on moving everything into `@storybook/core` it is probably easier than ever to run storybook on a route from within your Meteor app as I prototyped in #3360.

On that PR I discuss some of the downsides of the approach, but it feels like maybe worth making some small tweaks to core to enable a Meteor package that embeds a route like the above. I'd be h

[2018-04-23 00:27] creatyvtype commented on #2140
Sure,

So we have a package that exports styled elements like Input, TextArea, Tooltips, etc. They have slight differences based on 3 user types. Previously, to accomplish this, we had to export 3 different stylesheets and the consuming app would have to import the stylesheet they want in order to make it work. For bundle size and overhead, we wanted to find a solution where the element already ha

[2018-04-23 00:39] tmeasday commented on #2140
That makes sense I think.

Given you want to run separate webpack servers for each user type but use a single storybook, could it not make sense to just run the app as usual in the three different configurations, say on ports 3001-3003 and then load the CSS in via injecting a style tag in the head? Or is the CSS not available at a specific URL on the app?

In any case, it should be possible to alt

[2018-04-23 00:44] creatyvtype commented on #2140
We already do have a custom configuration, but yeah what I wanted was to do essentially that... let me take another stab at this tomorrow and see where I get.

I was looking at this as a potential solution, but right now all we have is the storybook running (no actual app to embed in).

[2018-04-23 01:38] #2942 closed

[2018-04-23 01:38] #2962 closed

[2018-04-23 01:38] #2921 closed

[2018-04-23 01:38] #3066 closed

[2018-04-23 01:38] #2720 closed

[2018-04-23 01:38] #2980 closed

[2018-04-23 01:38] #3112 closed

[2018-04-23 01:38] #3126 closed

[2018-04-23 01:38] #3127 closed

[2018-04-23 08:29] joscha commented on #2680
@lamkn please have a look here: https://github.com/storybooks/storybook/issues/2704#issuecomment-357851851 as I think the two issues are related.

[2018-04-23 08:36] lamkn commented on #2680
@joscha Thank. I followed it already. but the issue still show up. Any more idea? please help

[2018-04-23 08:38] joscha commented on #2680
Sorry, that's all I got. The issue disappeared after upgrade and using the
absolute path.

On Mon., 23 Apr. 2018, 18:36 lamkn, <notifications@github.com> wrote:

[2018-04-23 09:36] Hypnosphi commented on #3329
@tmeasday sounds like a good idea to me

[2018-04-23 11:02] uliana-sirotina commented on #2423
Hi, we are also interested in adjusting the styles of storybook. If there could at least be a className for every part of the story. Like "story-header" etc.

[2018-04-23 12:00] tmeasday commented on #3329
Is anyone who is keen on using Meteor with Storybook interested in maintaining a Meteor package and working with me to get this going? Probably not a lot in the Meteor package beyond setting up a route and calling into Storybook..

[2018-04-23 13:04] eric-burel commented on #3329
@tmeasday I have not much free time but I am interested, I use storybook intensively whenever I develop UIs. If you create a repo you can add me to it and I'll do my best to investigate the issues you encounter at least.

[2018-04-23 13:09] DylanLyon commented on #3329
@tmeasday I'm extremely interested in making SB work with Meteor but I'm afraid I'm out of my depth here so I'm not sure how much help I can be. That being said I'm available to help with anything I can.

[2018-04-23 13:13] rhberro commented on #3044
@danmakenoise's solution works for me, it seems to be fine with yarn instead of npm.

[2018-04-23 13:14] dlamoureux commented on #3444
I've got the same problem, any news?

[2018-04-23 15:16] Kizbo commented on #3444
I run my project on another pc, so my guess is that my global dependencies are old or broken. My shot is on babel or webpack version, but i haven't tested that.

[2018-04-23 16:00] igor-dv commented on #3399
I see it moved to https://github.com/angular/devkit/tree/master/packages/angular_devkit/build_angular/src/angular-cli-files/models/webpack-configs

[2018-04-23 16:02] bengry commented on #3399
@igor-dv what do you mean?

[2018-04-23 16:10] igor-dv commented on #3399
There are webpack configuration parts in the v1.7 of angular-cli that we are using in code here: https://github.com/storybooks/storybook/blob/master/app/angular/src/server/angular-cli_config.js#L46

Since v1.7 is dependant on webpack < 4, we are getting all these  `Tapable.plugin is deprecated` errors when trying to use a new version of storybook (which is dependant on webpack >= 4).

In order to

[2018-04-23 16:37] KaySackey commented on #2522
I agree. Plus until its fixed in the core, addons or future updates might cause changes that break the work-around.

I wish I had some insight into what's going on with the preview/main stuff, but I haven't seen documentation for that (from a dev perspective) or anything about the channels module that all addons seem to use. Is this all private core functionality, that none of us should worry abou

[2018-04-23 16:44] SethDavenport commented on #3458
OK yeah that makes sense.  I'll give that a shot. Thanks.

[2018-04-23 16:52] Tomekmularczyk commented on #1320
Isn't the working configuration missing...

[code]

[2018-04-23 16:56] er-dev commented on #3410
Updated to Yarn 1.6.0. Still receiving an error installing dependencies:

[code]

But `meteor npm install` works to install them, and `npm run storybook` works now.

Updating yarn fixed the issue with the Git errors.

[2018-04-23 20:57] #3443 closed

[2018-04-23 22:40] wuweiweiwu commented on #2893
can be done using `propTables` and `propTablesExclude` options together.

ex:

[code]

[2018-04-24 00:15] SachaG commented on #3329
We'd probably use this inside the core Vulcan repo and/or the Vulcan starter repo so I think you'd get a fair share of potential users/maintainers at least.

[2018-04-24 03:06] tmeasday commented on #3329
Ok, I'll report back on this issue when I've had a chance to do the two things above.

[2018-04-24 05:13] adamchenwei commented on #866
@danielduan don't understand... seems, @janmichek answer in `https://github.com/storybooks/storybook/issues/812`  works pretty well... why not just use that?

[2018-04-24 06:53] wuweiweiwu commented on #2845
I'll get this out in the next couple of days

[2018-04-24 07:46] leozhao0709 opened #3480 "addon-knobs array of object components"
Hello guys, I was using a table to show multiple UI in one story name. Here's a code example

[code]

In this way, looks like the `withKnobs` doesn't work. I can see the color bar and text input shows, but when I change the color or the text, it's not showing the change in storybook.

I find one way to solve this is to move the `const buttonComponents` and `const buttonRow` in side of the `add` fu

[2018-04-24 10:17] igor-dv commented on #3480
In order to be changed, the knob function should be called on every story rerender. In your case, the "color" function is called once. You can wrap everything with functions out of the story and it will work.

E.g:
[code]

You can even change the `getButtonRow()`  ot `ButtonRow()` and use it as `<ButtonRow/>`.

[2018-04-24 10:19] bastoune opened #3481 "Impossible to make Flow work with addon-info in my project"
What I already did :
Looking for this similar issue in github & StackOverflow a lot, and upgrading to the latest `babel-plugin-react-docgen` as recommended

Bug
-> `No propTypes defined!` when using flow in my component or class

What happens
-> I expect to have the same behaviour as the storybook example `Comments from Flow declarations`
-> Instead, I get the message above or only the default pro

[2018-04-24 11:17] Quramy commented on #3399
@igor-dv

And there is the following comment in https://github.com/angular/devkit/blob/master/packages/angular_devkit/build_angular/src/angular-cli-files/models/webpack-configs/styles.ts#L2

Can we use these webpack configurators as "public" APIs? 🤔

Also .anglar-cli.json in v5 has been renamed to angular.json. They are not compatible. If we support both cli v5 and cli v6,  I think that handling o

[2018-04-24 11:25] igor-dv commented on #3399
probably they want to clean up unneeded things =)

I think yes. Are you already familiar with a new CLI ? Also, they are in the RC now.

IMO we shouldn't support both. Storybook v4 will be compatible with a new angular-cli version and with a new webpack version. That's the breaking change all over the place, so we just can't support everything.

[2018-04-24 11:31] bastoune commented on #3481
I finally manage to make it work (at least most of the time, I can't isolate for now components for which it is not working properly).

I forgot to add `react-docgen` in the plugin list of my `.babelrc`

[2018-04-24 11:51] janmichek commented on #866
@adamchenwei This should be the proper way to set Storybook header name in config.js
https://github.com/storybooks/storybook/tree/master/addons/options

[code]

[2018-04-24 11:53] #3107 closed

[2018-04-24 11:56] stasgavrylov commented on #3481
@bastoune Thanks for your suggestions, it worked. Although I'm having exactly same problem now – some components have prop tables displayed, and some don't. Will try to find the reason for this.

[2018-04-24 11:56] bastoune commented on #3481
I did many tests and here is what I found out :

-> If I import a component which as only one default export it works
-> In all other cases, it doesn't work :
For example :
- a file with one or more "const" export
- a file with one or more "const" and default export

[2018-04-24 12:13] stasgavrylov commented on #3481
@bastoune Unfortunately, I couldn't reproduce your case with multiple exports (at least, after trying to have both default and named export from 1 file).

In my project named exports work fine (I'm not using any default exports).

What I've noticed is that functional components are not supported. If I rewrite them using `Component` or `PureComponent`, everything works as expected. But functional c

[2018-04-24 13:34] Braden1996 opened #3483 "Jest not recognising/updating Storyshots"
### Bug or support request summary
Hello everyone,

I am trying to setup Storyshots on a project I am working on.
The initial snapshot generation is successful, however, all following changes are not picked up by jest's watch mode. If I want to update the snapshots, I have to use `npm run test -- -u` - which isn't ideal, as the tests never visibly fail.

From the screenshot in the readme, this sho

[2018-04-24 14:45] drphelps opened #3484 "jsnext:main entry point should not contain next-gen JS"
### Bug or support request summary

Adding `jsnext:main` in v3.3.x and exposing the /src dir in v3.3.6 leads to parse errors if Webpack config `resolve.mainFields` includes `jsnext:main`. I realize this is kind of a non-standard but `jsnext:main` is meant to denote ES module syntax only and should not point to files that include next-generation JS features. Storybook should not require src files t

[2018-04-24 16:10] leozhao0709 commented on #3480
@igor-dv  thanks for your help! yeah, it works this way. Really thanks for the help.

[2018-04-24 16:10] #3480 closed

[2018-04-24 16:30] MattPetitt commented on #1493
I had this exact issue and I just had to delete the webpack.config.js file in the .storybook folder. After that it picked up the create-react-app webpack build.

[2018-04-24 22:28] xiaolin commented on #3172
@bionikspoon Did you ever resolve your issue besides using a redirect? I'm also running into the same issue setting up the static content to load in a django application.

[2018-04-25 03:46] kxxoling opened #3486 "Search box not auto focused."
### Bug or support request summary

Search box not auto focused on open. I think the shortcut is aimed to make actions easy, but not auto focusing makes things inconvenient.

### Steps to reproduce

Just using `cmd+shift+o`:
![image](https://user-images.githubusercontent.com/1227139/39225299-14662abe-487e-11e8-9e1f-87be176db9b9.png)

this is manually focused:
![image](https://user-images.githubuse

[2018-04-25 08:56] Keraito commented on #3486
I can take a look at this

[2018-04-25 09:47] asktosimon commented on #3444
+1

[2018-04-25 12:49] theKashey commented on #1637
Still an issue :(

[2018-04-25 14:14] justinmwarner opened #3489 "When registering Notes addon, webpack creates two modules for the Addon store when bundled."
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

EXPECTED: Only one AddonStore in the bundle.
ACTUAL: Two AddonStore in the bundle.

### Steps to reproduce

I can't share our code. And I don't have a repro.
But when I add ```import "@storybook/addon-notes/register";``` to our ```addons.js``` file, the bundle file webpack produces contains two module

[2018-04-25 14:25] darkylmnx commented on #3444
same issue here on a Vue project

[2018-04-25 14:38] oyvindberg opened #3490 "RFE: use onBlur for text fields for knobs addon"
I have a use case where it's somewhat expensive to render after update to a knob value. When a user types in a text field (or array), any of the following symptoms are seen:
- focus moved out of text field
- missing typed characters
- cursor at the end of input

I should also mention that I've tried to use debouncing and waiting, but it's not really helping.

### Please specify which version of St

[2018-04-25 15:56] Olian04 commented on #3346
This is still not working...

[2018-04-25 16:14] anthonymetzler commented on #3435
I'm having a similar issue with Semantic UI...
"@storybook/react": "^4.0.0-alpha.2" will break all the FontAwesome icons baked into Semantic UI. It's affecting the npm package "semantic-ui-css" as well as a local version of the Semantic library I've built.

[2018-04-25 16:26] Hypnosphi commented on #3044
@AlastairTaft which storybook version is it in your case?

[2018-04-25 16:30] AlastairTaft commented on #3044
Oops sorry, I'm not on Story books, this was the only Google hit for the error.

[2018-04-25 16:54] Hypnosphi commented on #3484
I thought that's what `module` is for

[2018-04-25 19:54] #3048 closed

[2018-04-25 21:54] #3134 closed

[2018-04-25 21:54] #3150 closed

[2018-04-26 00:27] ndelangen commented on #1357
As @Hypnosphi describes, this issue has become:
We need a method for users to be able to select an older version of the docs.
We can use netlify links for that purpose. But it needs a UI & links on the docs.

[2018-04-26 00:56] DaddyWarbucks commented on #3444
Same here on a blank storybook install.

[2018-04-26 04:55] #3347 closed

[2018-04-26 08:51] avol-io commented on #3399
I had the same problem. And I confirm that  upgrade to angular 6 fix this problem.
Here a useful steps to do to upgrade right: https://stackoverflow.com/a/49474334/5867911

[2018-04-26 09:02] igor-dv commented on #3399
Should the "@angular-devkit/build-angular" be installed explicitly? Or it always appeared before?

[2018-04-26 09:10] avol-io commented on #3399
I think that it must installed and addend in package.json (i created a new project from scratch to compare the package.json).
I had problems also with rxjs but in the same stackoverflow post there is a link to rx upgrade guide that explain also how automate the upgrade/fix of import for rxjs if you don't want install retro-compatible package.

this is my package.json:
`{
  "name": "xxxx",
  "versi

[2018-04-26 15:51] DylanLyon commented on #3329
Any luck on this issue? I've been trying to get [meteor-imports-webpack-plugin](https://github.com/jedwards1211/meteor-imports-webpack-plugin) working because I _think_ it will solve the 'import Meteor from meteor/meteor' webpack issue but the documentation is sorely lacking (not to mention the very first thing it tell you to do is impossible unless I'm just understanding it incorrectly).

[2018-04-26 16:27] ilyaztsv opened #3492 "unable to use vue-loader 15.0.0 (Error: options/query provided without loader)"
### Bug or support request summary

I've updated `"vue-loader": "^14.2.2"` to `"vue-loader": "^15.0.0"` in `examples/vue-kitchen-sink`. That update crashed the example for `4.0.0-alpha.3`.

### Steps to reproduce

- `cd examples/vue-kitchen-sink` (master branch)
- `npm i`
- `npm i --save-dev vue-template-compiler`
- `npm i --save-dev vue-loader@15.0.0`
- `npm run storybook`

You'll see errors like

[2018-04-26 21:27] rajjejosefsson commented on #3444
Same here, 1+

[2018-04-26 21:32] #2845 closed

[2018-04-26 21:39] Hypnosphi commented on #3444
Can anyone please share exact reproduction steps for that, or maybe even a reproduction repo on GitHub?

[2018-04-26 21:43] Hypnosphi commented on #3490
Do those issues reproduce with `4.0.0-alpha.3`? We've added some debouncing in #3412

[2018-04-26 21:57] darkylmnx commented on #3444
My steps :
- cd in my Vue project
- yarn global add @storybook/cli
- getstorybook in my Vue project
- yarn run storybook
- error in console with same messages OP had

[2018-04-26 22:00] emiyake commented on #3435
@anthonymetzler  https://gist.github.com/emiyake/a1302eeca331cceaf129789bb0a6c216

[2018-04-27 00:59] tmeasday commented on #3329
@DylanLyon that seems pretty cool, definitely worth trying. What do you mean by "very first thing it tell you to do is impossible"? Do you mean having your Meteor project in a subdirectory of your webpack project? That's sort of going to be weird for Storybook but I guess it'll work?

[2018-04-27 01:12] DylanLyon commented on #3329
@tmeasday I had misunderstood the documentation was was trying to make a meteor instance inside another meteor instance, which is not allowed. The creator clarified so now I'm going to take another crack at it!

[2018-04-27 01:15] tmeasday commented on #3329
Yeah, please let us know!

[2018-04-27 01:41] #3185 closed

[2018-04-27 01:41] #3436 closed

[2018-04-27 01:41] #3425 closed

[2018-04-27 12:25] mlegait opened #3493 "[addon-info] "custom" is written when PropTypes are extracted in another file"
### Bug or support request summary

When the propTypes are not defined directly in the component file, the addon info displays [custom] in the Prop Types table 😕 I was expecting that the behavior would be the same as when it is defined in the component file.

### Steps to reproduce

When I started my project, PropTypes were defined in each component as below :

SectorSolution.js
[code]
It worked v

[2018-04-27 15:31] Aaron-Pool commented on #3205
I'm also running into this issue.

[2018-04-27 18:31] gravitypersists opened #3495 "Use a more informative slider for number range knob"
I am happy to implement the work for this request but I wanted to first get approval from the core contributors to know that this is something you'd like in scope for this project (and while I'm here, a huge **Thank you!** for building it).

Currently the slider does not impart any value information:

![no-val](https://user-images.githubusercontent.com/231863/39378825-530ede96-4a0e-11e8-8785-cc5e6

[2018-04-27 18:52] Hypnosphi commented on #3495
Actually, some info has been added in #2445 (released as `4.0.0-alpha.3`, [live demo](https://storybooks-official.netlify.com/?knob-Dollars=12.5&knob-Name=Storyteller&knob-Years%20in%20NY=9&knob-background=%23ffff00&knob-Age=70&knob-Items%5B0%5D=Laptop&knob-Items%5B1%5D=Book&knob-Items%5B2%5D=Whiskey&knob-Other%20Fruit=lime&knob-Birthday=1484870400000&knob-Nice=true&knob-Styles=%7B%22border%22%3A%

[2018-04-27 19:32] #3263 closed

[2018-04-27 19:51] Hypnosphi commented on #1872
@storybooks/team how do you feel about making #3487 behavior the default one in 4.0, and introduce `--verbose` opt-it?

[2018-04-27 20:06] DaddyWarbucks commented on #3444
I could did a fresh CRA install with no modifications and found the error.
[code]

[2018-04-27 21:28] Hypnosphi commented on #3444
What does `getstorybook -V` output for you? Which versions of storybook packages get installed?

[2018-04-27 21:31] darkylmnx commented on #3444
3.4.2 for me, as we said both it was a fresh install, mine was this week.

[2018-04-27 21:43] Hypnosphi commented on #3444
Still reproducing with 3.4.3? #3453 could change things a bit

[2018-04-28 00:36] darkylmnx commented on #3444
still not working after update to 3.4.3
![image](https://user-images.githubusercontent.com/1426357/39389852-fd890bde-4a8c-11e8-9d3d-3cdd7ab12b34.png)

[2018-04-28 00:40] Hypnosphi commented on #3444
This looks pretty outdated. Can you please [https://yarnpkg.com/en/docs/install](upgrade yarn) and repeat all the steps?

[2018-04-28 00:41] darkylmnx commented on #3444
@ ./node_modules/@storybook/ui/dist/index.js
 @ ./node_modules/@storybook/core/dist/client/manager/index.js
 @ multi ./.storybook/addons.js ./node_modules/@storybook/vue/dist/server/config/polyfills.js ./node_modules/@storybook/core/dist/client/manager/index.js

ERROR in ./node_modules/velocity-react/velocity-component.js
Module not found: Error: Can't resolve 'react-dom' in '\node_modules\velocit

[2018-04-28 00:52] darkylmnx commented on #3444
@Hypnosphi  still some errors, though they are not the same as before

[code]

[2018-04-28 07:35] ilyaztsv commented on #3492
@Hypnosphi  do you have any news about fixing that issue?

[2018-04-28 07:54] seaneking opened #3497 "[Polymer] Bundling ES5 shim breaks ES6 elements"
### Bug or support request summary

`@storybook/polymer` currently bundles the webcomponents es5 shim (in the `<head>` of the preview iframe) which makes it impossible to use storybook with untranspiled elements, since the shim throws on ES6 classes. Should leave it to the user to include the shim, and just put a note in the README.

Use cases this breaks:
- Developing internal tools that don't ne

[2018-04-28 11:10] Hypnosphi commented on #3444
This is fixed in https://github.com/storybooks/storybook/pull/3409, but the fix did not get into stable release yet. Please try applying the corresponding change to your story

[2018-04-28 13:11] Braden1996 commented on #3483
Okay, so this was a result of using `multiSnapshotWithOptions`. Unfortunately, as [this brilliant article](https://medium.com/sears-israel/adding-multi-snapshot-testing-to-jest-b61f23cf17ca) explains, it is a smart "monkey patch" - to state a custom snapshot filename. However, it has a few caveats; including the inability to update snapshots.

[2018-04-28 14:14] igor-dv commented on #3483
Hey @Braden1996, multi-snapshots should work with manual updating. I wasn't aware of the watch mode that automatically updates snapshot, so I should probably check it.

[2018-04-28 14:48] seaneking commented on #3497
Of the ES5 shim throwing with an ES6 class? Sure, pens:

- [ES6 element](https://codepen.io/seaneking/pen/KRapeq)
- [Same element with ES5 shim bundled](https://codepen.io/seaneking/pen/vjgOQB) (see console for error)

[2018-04-28 15:05] igor-dv commented on #3497
Maybe I am missing something in the problem. In the polymer example here we do have components with es6 syntax (https://github.com/storybooks/storybook/blob/release/3.4/examples/polymer-cli/src/simple-button.html) And everything is working.

[2018-04-28 16:52] seaneking commented on #3497
Is the default webpack config transpiling them?

[2018-04-28 18:54] darkylmnx commented on #3444
I'll try this thanks @Hypnosphi

[2018-04-28 20:33] barkamir opened #3499 "using visual storyshots snapshots with static build"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

I'm trying to integrate the visual storyshots snapshots, using the static build option. according to the documentation (https://github.com/storybooks/storybook/tree/master/addons/storyshots#specifying-the-storybook-url), this is can be done by providing "{storybookUrl: 'file:///path/to/my/storybook-st

[2018-04-28 21:40] barkamir commented on #3499
NM. realized I should use the full path.
now it works

[2018-04-28 21:40] #3499 closed

[2018-04-29 02:56] jaunkst commented on #3492
+1

[2018-04-29 09:16] igor-dv commented on #3497
Yes. Also, we have a babel step in it. Do you use an extended webpack config mode?

[2018-04-29 10:56] seaneking commented on #3497
Yeah (typescript), but the same issue would apply if you were to target evergreens only with your Babel config (ie: don't transpile). Same use-cases as outlined in initial issue.

[2018-04-29 11:04] igor-dv commented on #3497
I see.
Is `custom-elements-es5-adapter` a shim?

[2018-04-29 12:27] igor-dv commented on #3497
You can try to remove this shim from the extended webpack config

[code]

polyfills.js looks like this:

[code]

you need to replace the `polyfills.js` with you own that imports everthing from the above but not the `custom-elements-es5-adapter`

[2018-04-29 14:14] aircraft721 opened #3501 "Accessibility testing using storybook."
If you are reporting a bug or requesting support, start here:
### Support request

I'm curious if there is a way to do accessibility testing using `storybook/addon-storyshots` and what tools can be used to achieve this.
I already implemented `storybook/addon-a11y`, but I want to test the accessibility using a different approach like:
[code]

[2018-04-29 16:27] livemirsi opened #3502 "[addon-info] markdown in description"
Hello.
[code]
I see that the markup does not work
[show screen](http://joxi.ru/823OONoI6VeMX2)
How to fix that?
- @storybook/react 3.4.2
- @storybook/addon-something 3.4.3

[2018-04-29 21:04] #3177 closed

[2018-04-29 22:57] kamthamc opened #3503 "[addon-storyshots] unable to run tests. Transforming files is not supported in browsers"
### Bug or support request summary
Upgrading `@babel/core` to `7.0.0-beta.46` breaking snapshot testing (storybook is working in browser). May be babel 7 no longer su.

[code]

### Steps to reproduce
N/A
### Please specify which version of Storybook and optionally any affected addons that you're running

- storybook/react  - 4.0.0-alpha.4, 3.4.3
- storybook/addon-storyshots  - 4.0.0-alpha.4, 3.4.3

[2018-04-29 23:38] Keraito commented on #3502
As I'm already working on some Markdown-related stuff, I will try to look into it for you.

[2018-04-30 03:59] seaneking commented on #3497
Ah okay awesome. Is that documented somewhere? Must have missed it, tried to look for a way to do that before making this issue. If not, would be good to note it in the `@storybook/polymer` readme.

FWIW still think the shim should be unbundled before 4.0 of the Polymer setup goes public, since it's a destructive 'polyfill' (`webcomponentsjs/webcomponents-loader` doesn't automatically apply the sh

[2018-04-30 04:44] seaneking commented on #3497
Tried this (had to update to `alpha.4` for that setup), but now I can't get it to build, something about the storybook's Babel config throwing, don't have time to debug it atm.

[2018-04-30 07:03] arntj commented on #2936
I have a related problem. If I have setup a precommit hook with jest, and I create a file, say:
`thingamabob.tsx`
and a corresponding story file:
`thingamabob.stories.tsx`
then if I change `thingamabob.tsx` then jest won't detect that the tests related to the stories related to that file should update. This happens even if I create a `thingamabob.test.tsx` to setup stories that would be in the sam

[2018-04-30 07:05] Aarbel opened #3505 "Need Help - Error : Aborting CSS HMR due to changed css-modules locals"
# Screenshot
![image](https://user-images.githubusercontent.com/25119847/39417419-5ad5b40e-4c54-11e8-86e2-4607e433813c.png)

# How to reproduce
1. Add a .root1 css class in storybook React starter's Button component.
2. Save it
3. That generates this webpack error.

How could i fix it ? (i'm not webpack expert)

# Files
## JS
[code]

## CSS
[code]

## WEBPACK CONFIG
[code]

# Impact
the .root1 sty

[2018-04-30 07:09] igor-dv commented on #3497
This particular extension is not documented. But extending webpack config in common is documented, so it depends on the users' imagination of how to handle this =). But you are welcome to PR it to docs 😉

I can't advocate about this since hardly familiar with the polymer adoption / best practices, so would be nice to hear the pros and cons, and what actually people do.

Mind share the error ?

CC.

[2018-04-30 07:13] igor-dv commented on #2936
I assume that these all are related also to #3483.

[2018-04-30 08:04] seaneking commented on #3497
Haha I think that's a liberal use of 'imagination', since to fix it you'd have to dig through the src of `@storybook/polymer` to figure out how it's being polyfilled. Case in point, it changed from `alpha.3` to `alpha.4` without a breaking change warning, so I'm guessing it's not considered public interface.

Fair enough - IMO it's generally an antipattern to bundle polyfills, _especially_ when th

[2018-04-30 09:41] GeorgeWL opened #3506 "Inconsistencies between guides for add-on modules"
### Bug or support request summary

I've noticed there's a major inconsistency between the Guide on the Docs and the Guide on the Add-on itself for quite a few of the official add-ons.

This includes, knobs & notes from what I've seen so far.

They're stating conflicting methods for adding them to Storybooks, which could cause major confusion.

https://github.com/storybooks/storybook/blob/master/d

[2018-04-30 11:20] esperancaJS opened #3507 "css-loader having issues with alpha version"
Version: @storybook/react 4.0.0-alpha.3

I'm having a hard time including css libraries from node modules, in this case from react-select (`import 'react-select/dist/react-select.css';`)

I am inclined to believe there might be a dependency issue with the alpha version as the same webpack config works outside storybook.

The error:
[code]

More details:
![image](https://user-images.githubuserconte

[2018-04-30 12:38] saravanacu commented on #3444
Same issue with Vue project.

[2018-04-30 13:42] mdwagner opened #3508 "Storybook with Angularjs (1.x)?"
Hello! I've been using React-Storybook for a few small projects now and love it. However, at my work we still use Angularjs (1.x) and we'll be (incrementally) migrating to React soon. Currently, we use Hologram for rendering Angularjs component documentation, but we would like to migrate to something else (hopefully Storybook).

I was wondering what your suggestion(s) are for using Storybook with

[2018-04-30 13:52] ersel commented on #3508
Interesting, we're also migrating from 1.x to React at my workplace. I think your approach is to render Angular within React components?

We're doing the exact opposite, using the https://github.com/ngReact/ngReact

It lets us build new components in React and slowly migrate existing bits into iteratively. So we can use all the modern tooling around the React components.

[2018-04-30 14:11] mdwagner commented on #3508
Yeah, we were initially going to use ngReact for migration, but we felt that it didn't fulfill our requirements, only developer happiness. Our migration approach will be to use [UI-Router/React-Hybrid](https://github.com/ui-router/react-hybrid) because our app is too large to migrate at one time and we wanted to take control away from Angularjs and move to a more framework-agnostic router.

[2018-04-30 15:07] Kizbo commented on #3444
Hi guys.

I dug a little inside my Yarn directory, and here is answer for me, at least, hope someone else will find it too in here:

1. Install latest version of Yarn/Npm (for me it was Yarn 1.6 as for 2018-04-30)
2. Install inside your directory latest webpack **(important)** . This what caused my error, as for my webpack version (installed by create-react-app) did not have methods that storybook

[2018-04-30 15:07] #3444 closed

[2018-04-30 16:39] #3495 closed

[2018-04-30 18:04] cprakti commented on #2708
☝️ also have this issue

[2018-04-30 18:41] Keraito commented on #3502
After looking into your example, it seems that you're using tabs for indentation (in the markdown string). If you use spaces instead (should not be hard to convert them depending on your text editor), it will work. Can you see if that fixes it?

Tagging @Hypnosphi whether this is something storybook wants to cover on their side, or users should adhere to.

[2018-04-30 18:53] livemirsi commented on #3502
@Keraito  thanks for the help. Yes, if  i using spaces it is work. But, not have syntax highlighting.
[see screenshot](http://joxi.ru/Dr8KKGMskQGxwA)

[2018-04-30 20:25] dependencies[bot] opened #3509 "vue-loader versions available: 15.0.0"
There are new versions of vue-loader available from npm.

## 15.0.0

_No content found._

[2018-04-30 20:25] dependencies[bot] opened #3510 "rxjs versions available: 6.0.0"
There are new versions of rxjs available from npm.

## 6.0.0

_No content found._

[2018-04-30 20:25] dependencies[bot] opened #3511 "@types/node versions available: 10.0.0"
There are new versions of @types/node available from npm.

## 10.0.0

_No content found._

[2018-04-30 20:25] dependencies[bot] opened #3512 "vue-loader versions available: 15.0.0"
There are new versions of vue-loader available from npm.

## 15.0.0

_No content found._

[2018-04-30 23:41] kamthamc commented on #3503
this works when the browser is set to false with babel-core@7

[2018-04-30 23:41] #3503 closed

[2018-05-01 00:50] Grimones opened #3516 "[v4.0.0-alpha.4] React - component ref innerWidth and innerHeight are 0 on page load"
### Bug or support request summary

The component needs parents `clientWidth` and `clientHeight` to properly size canvas when `componentDidMount()` on page load.

**Expected:** on v3.4.3 works as expected. The canvas gets his size.

**Happens:** on v4.0.0-alpha.4 `clientWidth` and `clientHeight` are 0 so cavas renders nothing. If you switch on other story and get back - everything works as expecte

[2018-05-01 03:01] nivort commented on #1398
The official guid only tell us to run 'npm run storybook', but if's very important for react native developers to know when to run this command, and where would it shows the components.
For me:
**1. Stop the application, make sure port 8801 is not in use.
2. run 'npm run storybook'
3. run 'react-native run-ios'**
Then the components would **shows on the ios simulator**. The broswer only show me a

[2018-05-01 04:06] zakkudo opened #3517 "Watch on build-storybook tries to open in browser"
### Bug or support request summary
I'm trying to serve storybook with my other project web server with live rebuilding.  For that reason I switched from `start-storybook` to `build-storybook`.  It works as expected with no watch option.

I expected build-storybook to just do incremental build without trying to start a webserver.

### Steps to reproduce

Run the command line option with options sim

[2018-05-01 11:41] tonai commented on #1870
For information I have made the test of integrating stencil and here is the comment that describe the process : https://github.com/storybooks/storybook/pull/2225#issuecomment-385005765

It can perhaps helps other stencil projects even if @storybook/polymer is not completely compatible now due to the polyfill that polymer uses and that cannot be removed from storybook.

[2018-05-01 11:45] igor-dv commented on #1870
@tonai, check this #3497, maybe it will help you to progress

[2018-05-01 13:31] #3501 closed

[2018-05-01 14:35] macrozone commented on #2325
@rodriguesbreno i added

[code]

but it fails with

[code]

[2018-05-01 15:56] Hypnosphi commented on #3505
I was experiencing this as well, will investigate

[2018-05-01 16:09] #3458 closed

[2018-05-01 16:12] Hypnosphi commented on #3506
Documentation on `master` branch is for alpha version, th stable one is on `release/3.4`. It would make sense to add a note about it on top of each addon's readme, with a link to stable version docs. Would you like to open a PR adding that?

[2018-05-01 21:27] Hypnosphi commented on #3516
Ok I think we need to call `showMain` before rendering

[2018-05-01 22:01] Grimones commented on #3516
Yes, I will open a PR. Should I add all frameworks in one PR?

[2018-05-01 22:29] bradleyayers commented on #1852
I've written some types for storyshots and have published them at https://www.npmjs.com/package/@types/storybook__addon-storyshots.

[2018-05-01 23:31] Hypnosphi commented on #3516
Yes that would be great

[2018-05-02 00:00] Hypnosphi commented on #3505
Looks like the issue is in style-loader:

https://github.com/webpack-contrib/style-loader/issues/320

They ask for a reproduction case, can you please provide them one

[2018-05-02 07:40] tonai commented on #1870
Thanks @igor-dv, it indeed helps me because I was trying the v3 of storybook.
Upgrading to v4.0.0-alpha4 solved the polyfill problem.

[2018-05-02 11:27] nickbullock opened #3522 "[Angular] ie11 polyfills for angular 4"
### Bug or support request summary
Hi guys! I don't sure about this issue is related to storybook or to angular, but i got this only with stories.
With babel-polyfill included i've got in runtime:
[code]
[code]

I already tried tons of polyfills and combinations (all of these https://angular.io/guide/browser-support), tried all tricks from issue https://github.com/storybooks/storybook/issues/213,

[2018-05-02 12:13] #3394 closed

[2018-05-02 12:56] sunilhari commented on #3416
Hi @danielduan

I have few queries regarding this .Kindly ignore if these questions are out of point,as am totally new to this project

1.Deprecate Select V1 API

Is this about updating the depreciation warning being shown for select v1 api in the file mentioned

2.remove debounce in Knob

Is this about stopping support for debounce

3.Remove old Knob exports

How to understand which are old knob

[2018-05-02 15:08] Hypnosphi commented on #3471
Released as [`4.0.0-alpha.4`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.4)

[2018-05-02 15:08] #3471 closed

[2018-05-02 15:08] Hypnosphi commented on #3408
Released as [`4.0.0-alpha.4`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.4)

[2018-05-02 15:08] #3408 closed

[2018-05-02 15:08] Hypnosphi commented on #2845
Released as [`4.0.0-alpha.4`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.4)

[2018-05-02 15:10] Hypnosphi commented on #1872
Released as [`4.0.0-alpha.4`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.4)

[2018-05-02 15:11] Hypnosphi commented on #3443
Released as [`4.0.0-alpha.4`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.4)

[2018-05-02 15:11] Hypnosphi commented on #3486
Released as [`4.0.0-alpha.4`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.4)

[2018-05-02 15:11] #3486 closed

[2018-05-02 15:11] Hypnosphi commented on #3384
Released as [`4.0.0-alpha.4`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.4)

[2018-05-02 15:14] Hypnosphi commented on #3454
Released as [`4.0.0-alpha.4`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.4)

[2018-05-02 15:14] #3454 closed

[2018-05-02 15:15] #3377 closed

[2018-05-02 15:16] Hypnosphi commented on #3410
Did you try that?

[2018-05-02 15:16] #3410 closed

[2018-05-02 15:16] #3452 closed

[2018-05-02 23:45] aewing opened #3523 "Bug: installing @storybook/react fails on Ubuntu 18.04"
### Bug or support request summary

Attempted to install `@storybook/react` on Ubuntu 18.04 using node v8.9.3 (nvm).
Expected installation to succeed, but was instead presented with an ENOENT error for `detect-port`

### Steps to reproduce

In a fresh project on Ubuntu 18.04:
`npm i @storybook/react --save-dev`

### Please specify which version of Storybook and optionally any affected addons that

[2018-05-02 23:54] aewing commented on #3523
I suspect this may be an NPM issue, as I was able to install successfully after installing npm v6.0 with:
[code]

[2018-05-03 00:04] MaulikPlutus commented on #2096
Can't find variable: autobind.
<img width="316" alt="screen shot 2018-05-03 at 5 33 49 am" src="https://user-images.githubusercontent.com/36003390/39555003-9f4ceb2a-4e93-11e8-9185-064efdb8c20a.png">

[2018-05-03 00:05] MaulikPlutus commented on #2096
`// @flow
import moment from "moment";
import * as React from "react";
import { StyleSheet, View, Text, TextInput, Switch } from "react-native";
import { H1, ListItem, List, Item, Body, Right, Icon, Picker, CheckBox, Button, SettingsSwitch, Container, Content, Segment } from "native-base";
import { BaseContainer, Styles, Avatar, Field, Small } from "../components";

import type {ScreenProps } from

[2018-05-03 03:53] tim-yao opened #3524 "Path to webpack.config.js"
### Support request summary

Need to know the location of storybook webpack config file I am using.

### Steps to reproduce

I am using vue.js and [`jest-webpack-resolver`](https://github.com/mkg0/jest-webpack-resolver) to work with stroybook, it can resolve the `jest` couldn't fine module errors. The question is `jest-webpack-resolver` ask for a location of webpack config js. Like this:
[code]

I

[2018-05-03 04:29] tim-yao commented on #2836
@Hypnosphi @igor-dv I am getting that error in `Jest` testing.
`TypeError: Cannot read property 'module' of undefined`.
However it works in `npm run storybook`.

I am in 3.4.3 and `storybook/vue`.
I use "jestWebpackResolver" module with option `"webpackConfig": "./.storybook/webpack.config.js"`.
I tried above old implementation and it is giving me same error. Any idea?
Is that `./.storybook/webpac

[2018-05-03 05:28] igor-dv commented on #2836
Your webpack config in the `.storybook` dir is probably partial. If you are using an extended mode, it doesn't even matche to what webpack wants. All these because storybook manipulates this cnfig before passing it to webpack. So you can't use it as is for other tools.

[2018-05-03 06:29] hitendramalviya opened #3525 "Unable to install with npm i --save-dev @storybook/react on mac"
### When I try to install @storybook/react through below command it fails

### Steps to reproduce

On terminal running the command `npm i --save-dev @storybook/react`

Error message during installation i see as below:

`error for @storybook/addon-actions@3.4.3 zlib: unexpected end of file`

After finished I see below error message

![image](https://user-images.githubusercontent.com/5709606/3956228

[2018-05-03 08:12] aircraft721 opened #3526 "Need Help - Unable to run some custom tests with initStoryshots."
If you are reporting a bug or requesting support, start here:
### Bug or support request

I want to use enzyme and jest-axe to do some accessibility tests. I was wondering if I can accomplish this by using the `test` method from `initStoryshots`.

Something like this :
[code]

After I run it I get this error
[code]

Is there any way I could extract the component and use enzyme `mount` like this ?

[2018-05-03 08:27] sunilhari commented on #3446
@danielduan

It seems that here it goes to the error if the license is not specified.
https://github.com/storybooks/storybook/blob/master/lib/cli/lib/latest_version.js#L8
Can u guide me to fix this issue??

@Keraito  if this finding helps you to fix ,feel free to.

[2018-05-03 09:43] Aarbel commented on #324
I solved it using a static on storybook-start :

`start-storybook -p 9001 -c .storybook watch-css -s ./src`

[2018-05-03 12:44] weslleyaraujo commented on #1291
I am facing the same issue, my storybook is deployed to `/storybook` (using webpack publicPath) but the iframe wont follow

so what I get is:
![screen shot 2018-05-03 at 2 43 13 pm](https://user-images.githubusercontent.com/2286385/39577023-74aa7db8-4ee0-11e8-994b-7587829baef5.png)

if I manually replace the iframe url to `/storybook/iframe.html` everything works as expected, currently there is no

[2018-05-03 13:34] Robula commented on #3492
Same issue here, I'm extending webpack configuration:
[code]

[2018-05-03 14:41] Hypnosphi commented on #3524
Do you have any custom webpack config in `.storybook` dir? How does it look like?

[2018-05-03 15:12] Pavankumar1014 commented on #3398
Hi stale,

We still stuck with the same issue.

Please let me know if you need more info on this

[2018-05-03 15:28] ersel commented on #3398
You might need to extend your component using CSSModules before you export it and define the `propTypes` on top of that.

so instead of this:

[code]

do something like:

[code]

[2018-05-03 22:39] Keraito commented on #3502
Hey @livemirsi, I looked into it a bit and couldn't quite solve it. Maybe I can find a fix later, but I don't expect that to be soon, sorry.

[2018-05-04 00:06] tmeasday commented on #2894
ping

[2018-05-04 00:27] tim-yao commented on #3524
Hi @Hypnosphi yes, I have a `.storybook/webpack.config.js`.
I tested in "Full control mode + default" now.
[code]
If I use that file, `npm test` will fail in error:
[code]
Same `Cannot read property 'module' of undefined` error if I use "Full Control Mode". In extend mode, it give me other errors. So I am wondering I should not use that `./.storybook/webpack.config.js` because it is not the full c

[2018-05-04 00:46] hally9k opened #3528 "[addon background] Not persisting background color"
### Bug
The background color flickers and reverts to default on 3.3.15

### Steps to reproduce
Boot up 3.3.15 with background addon and attempt to set a background. The `background` attr gets set on the iFrame's inline styles but doesn't show. If i manually set it on the html tag inside the iframe it works. Might be a chrome thing. In Safari it is just a fine line at the top, see below, the intend

[2018-05-04 01:26] Hypnosphi commented on #3528
It was fixed with https://github.com/storybooks/storybook/pull/3331
Please try version `4.0.0-alpha.4`

[2018-05-04 01:26] #3528 closed

[2018-05-04 01:27] Hypnosphi commented on #2894
this works better

[2018-05-04 01:35] tim-yao commented on #3524
@Hypnosphi thanks, that make sense.

[2018-05-04 01:35] #3524 closed

[2018-05-04 06:20] dahei opened #3529 "getstorybook is failing on Windows"
### getstorybook fails on Windows

Simple setup to reproduce:
I've installed latest create-react-app (1.5.2) and ran getstorybook in the freshly created project folder. That's what's happening on Windows:

![image](https://user-images.githubusercontent.com/2070820/39614844-22391f88-4f73-11e8-871e-1538a4db1278.png)

I've tried it several times (also w/ ejecting the cra) - it always fails at this po

[2018-05-04 08:07] sthzg commented on #769
For react-router 3:

[code]

[2018-05-04 12:26] IgorZh commented on #775
@swese44 , hi
did you solve your problem? If yes, could you share the way how you do it?

[2018-05-04 14:06] Hypnosphi commented on #3525
Is there a chance you’re using some corporate proxy for accessing npm? What does this command output for you?
[code]

[2018-05-04 14:11] bionikspoon commented on #3172
@xiaolin no, still using the redirect.

[2018-05-04 14:12] Hypnosphi commented on #3526
Cc @igor-dv

[2018-05-04 14:15] Hypnosphi commented on #3446
That’s weird that it checks package.json in your home directory. Unless you have no package.json in the directory where you run getstorybook. You might want to create it first using `npm init`

[2018-05-04 14:26] Hypnosphi commented on #3172
What happens if you don't override publicPath from our default config?

[2018-05-04 19:53] #3194 closed

[2018-05-04 21:16] mcissel commented on #2708
I fixed this by 'extending' the `PropTable` component from storybook/addon-info.

[code]

 Then override the TableComponent in storybook/config.js
[code]

[2018-05-05 01:25] takaya1992 commented on #3492
FYI https://vue-loader.vuejs.org/migrating.html

[2018-05-05 05:41] sunilhari commented on #3446
@Keraito  @Hypnosphi

Did this issue get fixed.I was trying today on 3.4.3version of the  cli and this went through with out any errors.I understand that @Keraito  code is not merged.But the issue is not there anymore.

Please confirm

[2018-05-05 08:45] icynoangel commented on #2708
@mcissel Nice! That works, thank you!

[2018-05-05 08:58] wuweiweiwu commented on #3529
Can you try updating storybook/cli to `4.0.0-alpha.4`?

[2018-05-05 09:00] wuweiweiwu commented on #3502
Try with `4.0.0-alpha.4`?

[2018-05-05 09:04] wuweiweiwu commented on #3508
As angular1.x will be defunct in 3 years https://blog.angular.io/stable-angularjs-and-long-term-support-7e077635ee9c I'm not if we should add support.

I feel your pain too haha. We're still on angular1.x w no migration in sight :(

[2018-05-05 09:09] #3523 closed

[2018-05-05 09:36] Keraito commented on #3446
@sunilhari can you check whether

1. There is a package.json at the direct path from your home to your project?
2. It has no license field?
3. You have yarn installed?

[2018-05-05 10:36] sunilhari commented on #3446
@Hypnosphi

Sorry some way it was using npm.Yeah the issue still exist.Sorry

[2018-05-05 17:30] osdevisnot commented on #3335
It seems this is needed for CRA and getstorybook integration when react-scripts@2.0 is ready (referenced in https://github.com/facebook/create-react-app/issues/3815). Currently, we run into incompatible versions for babel since react-scripts@2.0 is on Babel 7 and Storybook is on Babel 6.

[2018-05-05 18:16] Hypnosphi commented on #2837
You may want to try combining `propTables` and `propTablesExclude ` options

[2018-05-05 18:51] Hypnosphi commented on #3508
[`@storybook/html`](https://github.com/storybooks/storybook/pull/3475) may bring some hope

[2018-05-05 20:42] igor-dv commented on #3526
From the first glance, everything looks ok. Can you try to reproduce this with the latest storybook and addon-storyshots version ?

[2018-05-06 15:37] GeekMode commented on #3529
I'm also experiencing the exact same issue. Updating to 4.0.0-alpha.4 doesn't change anything.

### Affected platforms
- Windows 7
- Node 10.0.0
- NPM 5.6.0
- Yarn 1.6.0

[2018-05-06 20:51] Keraito commented on #3529
@dahei Do you have yarn installed?
@GeekMode what does `yarn info babel-runtime version --json` output for you?

[2018-05-06 20:52] #3193 closed

[2018-05-06 21:27] GeekMode commented on #3529
`{"type":"inspect","data":"6.26.0"}`

[2018-05-07 07:34] wuweiweiwu commented on #3529
The error is due to us trying to parse a `Buffer` as `JSON`. However, it used to be valid JSON.... maybe something with node 10? A fix would be `Buffer.toString()`

[2018-05-07 07:56] DanielRuf commented on #3529
Which is highly recommended. A buffer is not automatically a string and can be anything afaik.

[2018-05-07 07:57] DanielRuf commented on #3529
But it is just a warning. The issue is still the `SyntaxError: Unexpected token ( in JSON at position 0` which also happens in Node.js 8 as you can see in the initial comment.

[2018-05-07 08:16] wuweiweiwu commented on #3529
Found the bug. `spawn` doesn't have an `encoding` option in either node 8 or 10 which is specified [here](https://github.com/storybooks/storybook/blob/master/lib/cli/lib/latest_version.js#L12).

we're getting the stdout and stderr which are going to be outputs of `npm` or `yarn` which are strings.

The fix would be `JSON.parse(data.toString('utf8'))`

[2018-05-07 08:34] macrozone commented on #2259
@slorber did you come up with a solution for this? unfortunatly, the stale bot closed the issue

[2018-05-07 09:03] igor-dv commented on #2259
There are already few open issues about this. But meanwhile no progress

[2018-05-07 09:10] slorber commented on #2259
no, not working on that project anymore. Note if you think it's still not fixed and there's no open issue you may try to reopen a new one as closed issue comments are often ignored

[2018-05-07 10:59] GeekMode commented on #3529
That was my initial reaction as well and that's what I tried, but unfortunately I get the exact same error.

[code]

[2018-05-07 12:02] GeekMode commented on #3529
Finally found the bug. It's actually yarn that is causing the issue. #https://github.com/yarnpkg/yarn/issues/5477. They have it already fixed but are waiting  for the next release. Until then, if anyone runs into this issue, just change the following line in `@storybook/cli/lib/latest_version.js`:

`const packageManager = hasYarn() ? 'yarn' : 'npm';`

to

`const packageManager = 'npm';`

Maybe dow

[2018-05-07 13:09] dahei commented on #3529
@GeekMode

Thank's for your investigation effort!

Unfortunately I don't have installed yarn so shouldn't `hasYarn()` return false? In that case it would have the same effect as your hotfix.

To prove it, I've changed `latest_version.js` as you suggested, but the error is still the same.

[2018-05-07 13:54] DanielRuf commented on #3529
Did it work before (try testing with `git bisect`)?

[2018-05-07 14:43] igor-dv commented on #3483
Small update here, I've tried multisnapshots outside the storybook (in the `jest-specific-snapshot` repo) and even though there was no a `u` command, I was able to press `u` and to update the snapshots. Here, in storybook it's not available (can't understand why, maybe because of the different Jest versions).

Anyway, I will try to check if it's possible to add a custom command to the watch.

[2018-05-07 15:06] amittkSharma opened #3537 "How to make a REST API call from a story."
Hi Team,

I wanted to make a REST call from the story in order to fetch the data from server but the port of storybook gets in the REST call.

How I can configure storybook to access the server?

Thanks in Advance.

Amitt

[2018-05-07 15:38] Keraito commented on #3529
So I messed around running `getstorybook -f` several times in the environment specified by @dahei. So what I noticed was that the process is quite random whether it passes. One time it just goes through eveyrthing without a problem, while the other time it fails as described in the screenshot above.

I then ran the process a few times again while logging the error as I mentioned in https://github.

[2018-05-07 16:17] mshaaban088 commented on #3537
I believe in development you can make use of webpack [devServer.proxy](https://webpack.js.org/configuration/dev-server/#devserver-proxy ) option to proxy all API calls to your back-end server.

You can do the same in production but not through webpack, external proxy will to the job

[2018-05-07 16:40] dependencies[bot] opened #3539 "@angular/common versions available: 6.0.0"
There are new versions of @angular/common available from npm.

## 6.0.0

_No content found._

[2018-05-07 16:40] dependencies[bot] opened #3540 "@angular/compiler versions available: 6.0.0"
There are new versions of @angular/compiler available from npm.

## 6.0.0

_No content found._

[2018-05-07 16:40] dependencies[bot] opened #3541 "@angular/core versions available: 6.0.0"
There are new versions of @angular/core available from npm.

## 6.0.0

_No content found._

[2018-05-07 16:40] dependencies[bot] opened #3542 "@angular/forms versions available: 6.0.0"
There are new versions of @angular/forms available from npm.

## 6.0.0

_No content found._

[2018-05-07 16:40] dependencies[bot] opened #3543 "@angular/platform-browser versions available: 6.0.0"
There are new versions of @angular/platform-browser available from npm.

## 6.0.0

_No content found._

[2018-05-07 16:40] dependencies[bot] opened #3544 "@angular/platform-browser-dynamic versions available: 6.0.0"
There are new versions of @angular/platform-browser-dynamic available from npm.

## 6.0.0

_No content found._

[2018-05-07 16:40] dependencies[bot] opened #3545 "@angular/common versions available: 6.0.0"
There are new versions of @angular/common available from npm.

## 6.0.0

_No content found._

[2018-05-07 16:40] dependencies[bot] opened #3546 "@angular/compiler versions available: 6.0.0"
There are new versions of @angular/compiler available from npm.

## 6.0.0

_No content found._

[2018-05-07 16:40] dependencies[bot] opened #3547 "@angular/core versions available: 6.0.0"
There are new versions of @angular/core available from npm.

## 6.0.0

_No content found._

[2018-05-07 16:40] dependencies[bot] opened #3548 "@angular/forms versions available: 6.0.0"
There are new versions of @angular/forms available from npm.

## 6.0.0

_No content found._

[2018-05-07 16:40] dependencies[bot] opened #3549 "@angular/platform-browser versions available: 6.0.0"
There are new versions of @angular/platform-browser available from npm.

## 6.0.0

_No content found._

[2018-05-07 16:40] dependencies[bot] opened #3550 "@angular/platform-browser-dynamic versions available: 6.0.0"
There are new versions of @angular/platform-browser-dynamic available from npm.

## 6.0.0

_No content found._

[2018-05-07 16:40] dependencies[bot] opened #3551 "@angular/cli versions available: 6.0.0"
There are new versions of @angular/cli available from npm.

## 6.0.0

_No content found._

[2018-05-07 16:40] dependencies[bot] opened #3552 "@angular/compiler-cli versions available: 6.0.0"
There are new versions of @angular/compiler-cli available from npm.

## 6.0.0

_No content found._

[2018-05-07 17:43] Hypnosphi commented on #3537
What I do in my project is use absolute URLs in requests from stories

[2018-05-07 21:27] #3059 closed

[2018-05-07 23:31] ttoohey opened #3556 "react-beautiful-dnd outputs "Droppable has not been provided with a ref." in storyshots"
### Bug or support request summary

Storyshots with https://github.com/atlassian/react-beautiful-dnd output an error message:

[code]

I'm expecting the fix will require "mocking refs" but am looking for some guidance on how to do that. I've looked through https://github.com/storybooks/storybook/issues/1820 but I'm still not clear what should be done.

### Steps to reproduce

From a `create-react-

[2018-05-07 23:43] Hypnosphi commented on #3556
You can try something like this:

[code]

[2018-05-08 00:39] ttoohey commented on #3556
@Hypnosphi - thanks for that, that seems to work for the simple example.

I've now tried with the Draggable component from react-beautiful-dnd and it has another problem that seems related, but I'm stuck again trying to understand what it means.

[code]
[code]

[2018-05-08 02:27] wuweiweiwu commented on #3529
This is weird :(

[2018-05-08 05:53] a-golovanov commented on #3348
The issue can be easily reproduced when `storiesOf` is called two or more times in a single js file (like in the auto-generated stories). Both calls try to set a dispose callback, but the metro "require" polyfill retains only the last one.

[2018-05-08 06:02] amittkSharma commented on #3537
Thanks, Can you please provide the example or some pointers how to set it up? In Webpack.config.js and packages.json? Do I need to install some special package for the same?

[2018-05-08 08:16] Keraito commented on #3529
So from what I understand from all the comments is that there are two different issues atm, and please correct me if I'm wrong:

1. The original issue by @dahei, which I could mimic in https://github.com/storybooks/storybook/issues/3529#issuecomment-387106175, caused by `npm` since he has no `yarn` installed.

2. As specified by @GeekMode, [a bug between `yarn` and node regarding some deprecated B

[2018-05-08 08:32] maggiew61 commented on #2727
@ri8ika thx

[2018-05-08 08:59] Hypnosphi commented on #3537
I mean, I pass the full URL `'http://my-web-app.address/rest/endpoint'`

[2018-05-08 12:17] aircraft721 commented on #3526
I updated all my storybook related packages to version 3.4.3 but I still get that error.
[code]

[code]

[code]

[2018-05-08 12:26] hitendramalviya commented on #3525
Yes we are using a proxy, nexus repository manager we are using, is there any workaround in such case?

[2018-05-08 12:33] Hypnosphi commented on #3525
You should probably contact your admins

[2018-05-08 12:41] hitendramalviya commented on #3525
Sure, I will contact them, but I am bit curious why it is happening on latest version of this package only, a previous version `3.4.2` of the same package got installed successfully. Anyway thanks for your inputs if you feel it not related anymore to this repo, feel free to close this issue.

[2018-05-08 12:44] igor-dv commented on #3526
Looks like it happens from the `mount`, maybe you return a wrong result fro the story. Can you please share your code from the stories?

[2018-05-08 12:53] aircraft721 commented on #3526
Yes, of course.

[code]

[2018-05-08 13:31] aircraft721 commented on #3526
Sorry about that. This is my code now.
[code]

[2018-05-08 13:35] GeorgeWL commented on #3506
Ah brilliant, ta, shall do yeah.

I feel tbh though, master should only ever be the current stable release, with future and alpha/beta releases being on branches instead.

It's the more commonly seen practice.

[2018-05-08 14:05] igor-dv commented on #3526
I've tried now to reproduce it with the official-storybook example but didn't get this error. I think we need some more details to reproduce it. Do you have a public repo with this problem?

[2018-05-08 14:35] aircraft721 commented on #3526
I found the root of the problem. This issue is caused by `.addDecorator(withReadme(README))
`. After I removed this it works as expected. Any thoughts on how I could find a workaround?

[2018-05-08 14:43] oyvindberg commented on #3490
Sorry it took a while, webpack 4 wasn't originally on my radar.

Just confirmed it on `4.0.0-alpha.4`. It seems overall **much** faster (thanks!), but this particular issue remains.

[2018-05-08 15:02] Hypnosphi commented on #3490
I wonder if we can find another fix for it. Updating on blur only seems a bit counter-intuitive to me

[2018-05-08 15:37] igor-dv commented on #3526
This is a 3rd-party addon, just try to debug it during the test. Also maybe @tuchk4 can shed more light on this. You can try even to mock it with `jest.mock`, and return a story from this mocked decorator.

[2018-05-08 15:48] igor-dv commented on #3423
Related: #1870
@tonai, can you share your findings ?

[2018-05-08 16:37] #2862 closed

[2018-05-09 00:01] Hypnosphi commented on #3490
Can you please try using `withKnobsOptions({timestamps: true})`?
https://github.com/storybooks/storybook/tree/master/addons/knobs#withknobs-vs-withknobsoptions

[2018-05-09 07:13] tonai commented on #3423
Of course :)

From stencil-component-starter :
[code]

Then add the script line in the package.json:
[code]

Create the `.storybook` folder and a `.storybook/config.js` file:
[code]

And also a `.storybook/preview-head.html` with:
[code]

Finally create a story, for example `src/components/my-component/my-component.stories.js` :
[code]

There is still warnings when you run `npm run storybook` but

[2018-05-09 07:35] seaneking commented on #3423
👍 This is great news - last time I tried `@storybook/polymer` things got painful as soon as you got away from the default Polymer 2 stack (HTML imports, webcomponentsjs polyfills, etc). If this does work smoothly with other web components libraries (or just vanilla web components), would be a great opportunity to rename the package to `@storybook/webcomponents` before it's out of alpha, so it's no

[2018-05-09 07:54] binarybro commented on #3423
@tonai Thank you for your quick guid. It's now working for me, with minor changes:
* Added `react`, `react-dom` and `velocity-react` to devDependencies.
* omitted the stylesheet from `.storybook/preview-head.html`, as StencilJS is not emitting CSS in my installation.

[2018-05-09 08:02] igor-dv commented on #3423
Since everyone is happy, I am closing this now 😃

[2018-05-09 09:09] IncredibleMrTim commented on #1946
Just as an addition to @leggomuhgreggo post.  If you need to add loaders to your storybook you can also add modules rules as below...

[code]

I found this especially handy when working with images

[2018-05-09 09:33] silentHoo commented on #3423
I've used a slight different approach: Vue.js-Storybook and added Stencil there. Here's how I've made it: https://github.com/silentHoo/stencil-storybook-spike

[2018-05-09 09:35] seaneking commented on #3423
@igor-dv is renaming the `@storybook/polymer` package something the storybook team would consider? Should I file an issue for it? Just think this kind of confusion will keep coming up if the plugin is associated closely w/ Polymer vs. WC in general.

[2018-05-09 10:37] #3235 closed

[2018-05-09 10:59] aircraft721 commented on #3526
I'm not sure how to return a story from the mocked decorator. Can you please provide an example? Thanks!

[2018-05-09 11:11] amittkSharma opened #3561 "How to display state properties of a react component"
Hello Team,

I am working with Storybook and using the info Addon for displaying the properties of the component in the story. And I wanted to display the state properties of the component too.

1. Is there some way I can use the same addon to display the state properties of the component?
2. Or there is some other addon I have to use for this purpose?

Thanks in advance.
Amit

[2018-05-09 11:14] amittkSharma commented on #3537
Thanks for the pointers guys.

I used middleware extension storybook. Created a file middleware.js in .storybook folder with the following code:

const proxy = require('http-proxy-middleware')
module.exports = function expressMiddleware (router) {
  router.use('/api', proxy({
    target: 'http://localhost:8090',
    changeOrigin: true
  }))
}
using the http-proxy-middleware I was able to make all

[2018-05-09 12:45] igor-dv commented on #3526
something like this

[code]

[2018-05-09 13:02] aircraft721 commented on #3526
Thanks. Everything works as expected. I will close this now.

[2018-05-09 13:02] #3526 closed

[2018-05-09 14:34] Hypnosphi commented on #3289
cc @igor-dv

[2018-05-09 18:31] drmanitoba commented on #3502
Just to add, I'm on 4.0.0-alpha.4 and am not seeing the syntax highlighting. Was also experiencing the issue where tabs would break the Markdown almost entirely.

[2018-05-09 18:40] Keraito commented on #3502
As far as I could see from playing around with the markdown stuff, is that the highlighting for the `addon-info` and `addon-notes` doesn't work, while it does work for example in the `Story Souce`.  It seemed like storybook was using different ways of rendering the markdown between those 2. I'm not quite sure whether the highlighting worked before (cuz i havent been around for so long), maybe some

[2018-05-09 18:54] alexiscordova opened #3564 "[v4.0.0-alpha.4] Sass parsing error: Unexpected character '@'"
I'm attempting to add Sass support to a new installation of Storybook, but am running into the following error:

[code]

### Steps to reproduce
I believe I have the appropriate loaders installed and setup properly, but the error persists. I've attempted to setup my `webpack.config.js` in two ways: Full control mode and Full control mode + default.

[code]

[code]

In both instances, I have switche

[2018-05-09 19:11] ckeeney commented on #2423
Is there a way to make stale bot ignore an issue?  An issue has been created for this topic a number of times:
- https://github.com/storybooks/storybook/issues/313
- https://github.com/storybooks/storybook/issues/428
- https://github.com/storybooks/storybook/issues/1107
- https://github.com/storybooks/storybook/issues/1360
- https://github.com/storybooks/storybook/issues/1576

The stale bot repeat

[2018-05-09 20:38] ndelangen commented on #3423
@seaneking yes, that's on the table, would you want to help us do it?

[2018-05-09 20:47] ndelangen commented on #3564
So I think this is causing the scss file not to get matched by webpack:
[code]

[2018-05-09 20:56] ndelangen commented on #2423
+1 on that @ckeeney. This is on the roadmap, I kinda like @uliana-sirotina idea as a intermediate solution.

I could do that, but it's also possibly easy enough for someone new to do it. Anyone here interested in taking it on?

[2018-05-09 21:07] alexiscordova commented on #3564
@ndelangen yep, you're right; I was worried it was something this simple. Fixing this caused a couple other issues to occur, but I just worked through them successfully.

[2018-05-09 21:07] #3564 closed

[2018-05-09 23:02] ruanmer commented on #3405
I was able to make it work putting the `react-docgen` plugin in my babelrc (#3481).

[code]

[2018-05-10 01:00] benbowes opened #3565 "Incorrect URL linking to Backgrounds from addons gallery"
### Bug

Incorrect URL linking to Backgrounds from addons gallery

https://storybook.js.org/addons/addon-gallery/#backgrounds

### Steps to reproduce

1. Visit https://storybook.js.org/addons/addon-gallery/#backgrounds
1. Click on Backgrounds link https://github.com/storybooks/storybook/tree/master/addons/background
1. 404 page is displayed

Should the URL be https://github.com/storybooks/storyboo

[2018-05-10 02:37] zetekla opened #3566 "Coursera-UI storybook"
Hello,
I'm interested in getting the version of this demo https://building.coursera.org/coursera-ui/?selectedKind=Welcome&selectedStory=to%20Storybook&full=0&addons=0&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

to render, test and play out locally.
Can you help with where to clone/download it?
The only one I found was outdated.
thanks

[2018-05-10 03:01] fralonra commented on #3529
Same issue, but the weird thing is that it works fine sometimes without trying any solutions listed above.

The first time I ran `getstorybook`, it worked. Next time, failed.
I have tried re-install storybook, re-install node modules in the project. None of those can solve the issue.
After several failed attrempts, it worked again, but I don't know why.

* Windows 10
* node v8.11.1
* npm v5.6.0
*

[2018-05-10 03:31] seaneking commented on #3423
Sure, but I dont have access to publish to NPM or changing GitHub repo names, what do you want a PR for? AFAIK there's no docs for it yet, just the stuff in the GitHub repo

[2018-05-10 04:42] seaneking commented on #3423
One potential issue is the `getstorybook` CLI - you could make it check for a bunch of common WC libraries (Polymer, Stencil, Svelte, SkateJS), but that doesn't seem very robust (nor account for vanilla web components), since most are moving towards loose collections of base classes and mixins (eg: Polymer's LitElement).

That said, I've always wondered why `getstorybook` didn't prompt the user to

[2018-05-10 04:55] Mujaddadi commented on #2423
I would like to do it as my first open source project. Although I am quite busy but its time to give back to the community. I will check it on this Sunday hopefully.

[2018-05-10 08:52] axelnormand commented on #1736
awesome!
is this method available for the react native storybook?
I couldn't see it in the src

[2018-05-10 09:42] DanielRuf commented on #3529
Sounds like some racecondition or async issue imo.

[2018-05-10 09:44] Keraito commented on #3529
@fralonra I think this is in line with what I found in https://github.com/storybooks/storybook/issues/3529#issuecomment-387106175:

You might be experiencing the same error as displayed in the screenshots in the first comment and in mine, but it's not for sure. There is a fix merged (#3563) that will ignore these warnings.

[2018-05-10 09:53] Keraito commented on #2423
If you need some help at some point, @Mujaddadi, I can gladly help, just @ me!

[2018-05-10 10:04] Keraito commented on #3565
Can reproduce, but it seems like the link in https://github.com/storybooks/storybook/blob/master/docs/src/pages/addons/addon-gallery/index.md#backgrounds is correct though

[2018-05-10 12:12] sanyashvets opened #3567 "Cannot parse scss files with default vue-cli webpack config. Unexpected character"
Hello
I cant get my styles work in storybook from default vue-cli webpack config.
I tried to make a [custom](https://storybook.js.org/configurations/custom-webpack-config/#docs-content) webpack config, but it seems doesnt work for me: throws even more different errors

Webpack with default vue-cli config throws errors like:
[code]

I`m using:
- webpack 3.11.0
- "@storybook/vue": "^3.4.3"
- "vue-lo

[2018-05-10 13:27] Hypnosphi commented on #3565
The correct link is https://github.com/storybooks/storybook/tree/release/3.4/addons/background

https://github.com/storybooks/storybook/pull/3393 isn't live because no one labelled the PR as `patch`

[2018-05-10 13:57] primetwig commented on #795
you could add a method `update`, so others could use it like this:
[code]

[2018-05-10 20:05] danieltott commented on #3389
I had this same issue and solved it by using `jest.mock` to remove storybook-info from this process. This has the added benefit of not including the markup that info creates into the snapshots.

I added the following code to `Storyshots.test.js`:

[code]

Hope this helps someone

[2018-05-10 20:13] chrisahardie opened #3570 "Can't get React Docgen support with Create React App"
I have the following libraries in my `Create-React-App` site:

    "@storybook/addon-actions": "^3.4.3",
    "@storybook/addon-info": "^3.4.3",
    "@storybook/addon-links": "^3.4.3",
    "@storybook/addons": "^3.4.3",
    "@storybook/cli": "^3.4.3",
    "@storybook/react": "^3.4.3",

I created a story like this:

[code]

My comments are not populating the `description` field in my PropTypes table

[2018-05-10 21:06] Keraito commented on #3570
Reproduced your scenario, but it works if you extract the component and propTypes stuff into another file and import it into the `stories/index.js`

[2018-05-10 21:55] Aaron-Pool commented on #2812
Not the author, but just wanted to say that this exists and seems to be being actively developed: https://github.com/pocka/storybook-addon-vue-info

[2018-05-11 08:41] nickbullock commented on #3522
I fixed this issue with webpack.config.js:
[code]
I think we can close it now, thank you.

[2018-05-11 08:46] ewagulik commented on #2708
Niecnasowa, worked for me, thanks :)

[2018-05-11 12:18] chrisahardie commented on #3570
Ah, thanks for your help!!

[2018-05-11 12:28] chrisahardie commented on #3570
Hey, I have another case where my propTypes aren't showing up, can you tell if I'm doing something incorrectly?

styles.js
[code]

index.js
[code]

stories/TopNav.js
[code]

[2018-05-11 13:25] Safa2222 opened #3571 "Error with 'getstorybook' ?"
I have just created a react app with create-react-app and tried to install storybook in it (npm i -g @storybook/cli  then getstorybook) but each time i get the same error and i have no clue on how to fix this :
![error](https://user-images.githubusercontent.com/39192658/39926408-21854460-54fd-11e8-8d6a-4e03d5bd385e.png)
 HELP PLZ !!

[2018-05-11 13:38] #2409 closed

[2018-05-11 13:54] Keraito commented on #3571
Thanks for noticing us, @Safa2222. There is a similar issue right now, which is caused by a combination of factors between Windows and `npm`. The more thorough explanation that will help you is and how you can solve it is at https://github.com/storybooks/storybook/issues/3529#issuecomment-388006708. A fix has already been merged into the repository.

[2018-05-11 14:08] Safa2222 commented on #3571
Hmmm Okay thanks !

[2018-05-11 14:29] Keraito commented on #3570
Hey @chrisahardie, great that the previous issue was resolved. Regarding your second issue, there is nothing wrong with your example. However, we are aware of some issues with the react docgen generator. Your issue has to do with the export of multiple components: see https://github.com/storybooks/storybook/issues/2708#issuecomment-375783270 for more information. In the same issue there are also s

[2018-05-11 14:53] chrisahardie commented on #3570
Ok, thanks very much!

[2018-05-11 14:53] #3570 closed

[2018-05-11 15:05] Keraito commented on #3566
Hey @zetekla, I looked through our repository a bit and google'd a bit about it, and couldn't find it either. As not all the examples in the addon gallery have a reference to the source code either, I suspect that the source code of coursera-ui is also not publicly available. Tagging @vidaaudrey whether she knows more, as she was the latest editor of the coursera-ui demo link.

[2018-05-11 15:15] vidaaudrey commented on #3566
Hi @zetekla currently coursera-ui is in our private repo and is still under active development. It'll take some time before we can share the source code publicly. Happy to answer any questions if you have.

[2018-05-11 15:41] Safa2222 commented on #3529
@Keraito : after 2 hours of trying to fix the  latest_version.js, to update my package.json and try every single tip i found about this isuue it still doesn't work for me :/ any help? does it work at least in an OSX environment ?

[2018-05-11 15:52] Safa2222 commented on #3529
Ah it worked now ! i had to try getstorybook many times ! weird !

[2018-05-11 16:02] Keraito commented on #3529
Hey @Safa2222, the main reason that you're encountering the issue is due to a `npm update check failed` (see screenshot in https://github.com/storybooks/storybook/issues/3529#issuecomment-387106175, the top border of the warning box matches the error in your screenshot in https://github.com/storybooks/storybook/issues/3571). It would be good to see if you encounter this as well when running other

[2018-05-11 17:09] iwarner commented on #769
Accetped answer works great, but I get

    Uncaught ReferenceError: ___loader is not defined

Any help with this error

[2018-05-11 17:38] Keraito commented on #3571
Closing this issue as it's the same as #3529 and the conversation is moved there.

[2018-05-11 17:38] #3571 closed

[2018-05-11 18:32] neo commented on #3547
is Angular 6 currently supported?

[2018-05-11 18:33] neo commented on #3547
with #3551

[2018-05-11 20:51] chemoish opened #3574 "Normalize CSS and storybook"
I have implemented normalize css in the `preview-head.html` to give a baseline to the components I am building (I do the same in my app).

It seems like `storybook` css might be written based on Chrome default css—or similar?

Would there be any interest or recommendations for fixing style conflicts? Foundation injects normalize automatically, but I am not sure if this would be a good recommendati

[2018-05-12 05:55] nickbullock opened #3575 "[Angular] how to change props dynamically?"
### Bug or support request summary
Hi guys! First of all, thank you for this great library.
My question is how can i change props in angular component story dynamically?

### Steps to reproduce

Story for example:
[code]

I can't find an example in documentation
https://storybook.js.org/basics/guide-angular/
or https://release-3-4--storybooks-angular.netlify.com/
And for now i can do it only with

[2018-05-12 11:26] #2718 closed

[2018-05-12 21:33] Hypnosphi commented on #2423
Does it mean that our layout will become a contract, and we won't be able to change it in non-major releases

[2018-05-12 21:36] Hypnosphi commented on #3522
A simpler solution would be to add `import 'babel-polyfill'` both to your `config.js` and `addons.js`

[2018-05-12 21:40] Hypnosphi commented on #3566
@vidaaudrey you may consider using [`addon-storysource`]() to share only the stories part https://github.com/storybooks/storybook/tree/master/addons/storysource

[2018-05-12 21:40] #3469 closed

[2018-05-12 21:43] Hypnosphi commented on #3574
What do you mean by that? We (almost) don't add any styles to story iframe

[2018-05-12 21:44] #3539 closed

[2018-05-12 21:44] #3540 closed

[2018-05-12 21:44] #3542 closed

[2018-05-12 21:44] #3543 closed

[2018-05-12 21:44] #3544 closed

[2018-05-12 21:44] #3545 closed

[2018-05-12 21:44] #3546 closed

[2018-05-12 21:44] #3547 closed

[2018-05-12 21:44] #3548 closed

[2018-05-12 21:44] #3549 closed

[2018-05-12 21:44] #3550 closed

[2018-05-12 21:44] #3551 closed

[2018-05-12 21:44] #3552 closed

[2018-05-12 21:45] Hypnosphi commented on #3541
Will be fixed in #3491

[2018-05-12 21:47] Hypnosphi commented on #3157
`@storybook/html` released as [`4.0.0-alpha.6`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.6)

[2018-05-12 21:47] #3157 closed

[2018-05-12 21:47] Hypnosphi commented on #3458
released as [`4.0.0-alpha.6`](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.6)

[2018-05-12 21:50] Hypnosphi commented on #3446
released as [`3.4.4`](https://github.com/storybooks/storybook/releases/tag/v3.4.4)

[2018-05-12 21:50] Hypnosphi commented on #3290
Now released as [`3.4.4`](https://github.com/storybooks/storybook/releases/tag/v3.4.4)

[2018-05-12 22:27] vidaaudrey commented on #3566
Thanks @Hypnosphi, that's a great feature. Currently we are still on 3.3.2, not on 3.4 yet and we have separate demo files for each component (it gets messy if we keep all the demos in the story source file).  Maybe we'll wait till storybook v4 for a more complete upgrade with storysource support.

[2018-05-12 22:30] Hypnosphi commented on #3566
That's totally OK, we have a similar setup for our own examples, and storysource addon works well with it, see
http://storybooks-official.netlify.com/

[2018-05-13 07:59] igor-dv commented on #3567
From the error above I can understand that the sass-loader was not applied at all.

Try something like this:

[code]

also, make sure that all of the loaders are installed.

[2018-05-13 08:05] igor-dv commented on #3575
Can't the [knobs addon](https://github.com/storybooks/storybook/tree/master/addons/knobs) help you with it?

[2018-05-13 09:26] DmitryEfimenko commented on #3291
+1. it'd be great if it worked out of the box.
I've followed this tutorial: [Sexier Imports in TypeScript](https://netbasal.com/sexier-imports-in-typescript-e3c645bdd3c6) and it broke my stories

[2018-05-13 09:32] nickbullock commented on #3522
thank you

[2018-05-13 09:32] #3522 closed

[2018-05-13 10:28] nickbullock commented on #3575
thank you!

[2018-05-13 10:28] #3575 closed

[2018-05-13 15:22] Frikki opened #3577 "Wrong documentation on serving static files"
### Bug or support request summary

Following the documentation for serving static files as [presented here](https://storybook.js.org/configurations/serving-static-files/#1-via-imports) produces broken images with this path: `/static/media/[name].[hash:8].[ext]`

The documentation explicitly mentions:

The issue is that adding the _file-loader_ into my custom Webpack configuration is what breaks t

[2018-05-13 18:53] Keraito commented on #3561
Hey @amittkSharma, what properties of the state do you exactly want to display?

The reason that the `addon-info` can display the additional information of the properties of components is cuz they are statically defined. As far as I'm aware, that is rarely to not done for the state of react components. Or are you referring to different information?

[2018-05-13 21:00] #124 closed

[2018-05-13 21:00] #2905 closed

[2018-05-13 21:27] #2934 closed

[2018-05-13 22:31] vidaaudrey commented on #3566
@Hypnosphi our set up is a little different. To uncluttered the story file, we have a separate demo js file for each component. Would be useful if storySource allows us to add additional files.

![image](https://user-images.githubusercontent.com/10999093/39972355-4a07f3b2-56c2-11e8-877c-84f38e354313.png)

[2018-05-14 06:15] kroeder commented on #3541
Any plans of making use of the new angular cli features?
E.g. hooking into schematics like `ng generate @storybook/schematics:story --storyOf Buttons --name FancyButton` or whatever the syntax was like :)

I just wanted to ask here because it's the update issue but I can make a seperate one if you want to

[2018-05-14 07:31] amittkSharma commented on #3561
Hi Keraito,

Thanks for the response, but the thing I am referring is some kind of state interface that a react component has? This will be useful for the user using the storybook to get the information that what kind of state a component will be maintaining.

Thanks
Amit

[2018-05-14 15:04] darlanmendonca opened #3579 "multiples storybook per project"
I'm trying add multiple storybook's to a same project, a storybook in react, and another in angular.

This is possible?

I target the first to directory .storybook/react, and all works very well, but, when I add the devDependency @storybook/angular, when I start the react storybook, is loaded `@storybook/angular` instead `@storybook/react`

[2018-05-14 16:36] dependencies[bot] opened #3580 "@webcomponents/webcomponentsjs versions available: 2.0.0"
There are new versions of @webcomponents/webcomponentsjs available from npm.

## 2.0.0

_No content found._

[2018-05-14 16:36] dependencies[bot] opened #3581 "@polymer/polymer versions available: 3.0.0"
There are new versions of @polymer/polymer available from npm.

## 3.0.0

_No content found._

[2018-05-14 16:36] dependencies[bot] opened #3582 "@webcomponents/webcomponentsjs versions available: 2.0.0"
There are new versions of @webcomponents/webcomponentsjs available from npm.

## 2.0.0

_No content found._

[2018-05-14 16:36] dependencies[bot] opened #3583 "marko-starter versions available: 2.0.0"
There are new versions of marko-starter available from npm.

## 2.0.0

_No content found._

[2018-05-14 17:52] #3236 closed

[2018-05-14 17:52] #3113 closed

[2018-05-14 18:39] Safa2222 opened #3586 "Notes Addon not working !"
Hi, i installed the notes addon to my storybook and followed the doc steps : modify addon.js then modify config.js then modify stories using the parameter {notes : .......}. Unfortunately, this is not working and i get an 'Expecting a valid React element from the story [nameOfTheStory]' . What did i do wrong?

[2018-05-14 18:45] Safa2222 commented on #3586
Oh sorry ! I didn,t see this isuue : [#3442](https://github.com/storybooks/storybook/issues/3442)

[2018-05-14 19:35] igor-dv commented on #3566
Probably we can add more tabs for other imports. Let's say for every import according to some pattern, for example here it will be for `ButtonDemo`. WDYT about this?

[2018-05-14 20:20] andyford commented on #958
I also ran into this issue while using storybook with create-react-app and styled-components. Based on @stolinski's babelrc comment, what worked for me was changing my babelrc from:
[code]

to
[code]

[2018-05-14 20:53] Keraito commented on #3586
No problem, glad you could find a solution in another issue. If you keep having troubles with it, feel free to open a new issue or reopen the one that you referenced. I'm closing this issue for now as your original problem is technically solved.

[2018-05-14 20:53] #3586 closed

[2018-05-14 21:32] chemoish commented on #3574
@Hypnosphi Sorry for the vague description.

It is specifically in regards to `@storybook/addon-info`, https://github.com/storybooks/storybook/blob/9f004c88dd1883ed3d2a4cc8052b1ec335d4c81e/addons/info/src/components/markdown/pre/copyButton.js.

It seems there is a lot of styles under this addon, but I am sure there might be issues with any other CSS injected; if the source isn't normalized or rese

[2018-05-14 21:43] ndelangen commented on #3579
indeed, this is current a limitation.

We're using the same binary name for both apps.

You can possibly run like so:
[code]

[2018-05-14 21:44] ndelangen commented on #3579
I'm working on solving this limitation, and have you be able to run a single storybook with multiple frameworks.

[2018-05-14 21:47] ndelangen commented on #2423
@Hypnosphi I would propose a few select global scope classes so there's some room for customisation there.

I'm already working on proper theming.

[2018-05-14 23:18] Keraito commented on #3566
Think this would be a great addition to `addon-storysource`, as imo a story currently only really displays how a component should be used, but not how it works which I sometimes miss when looking at a story. It also makes it easier to observe the relationship between implementation and result (UI) by seeing them side by side.

Maybe we could (only) show the component subject to the current story t

[2018-05-15 00:46] daiky00 commented on #3541
@Hypnosphi  is this fixed?

[2018-05-15 04:09] singharpit94 opened #3587 "Issue with storysource addon"
I am trying to use storysource addon.Things work fine when the code does not contain any decorators but it seems that the parser fails when we use decorators in out source code.

Example code which fails:

`import {autobind} from 'core-decorators';

 class someClass {
@autobind
_someRandomFuntion() {
// some code
  }
}`

Can someone help me if I am missing something

[2018-05-15 04:32] igor-dv commented on #3587
What version do you use?

[2018-05-15 04:36] igor-dv commented on #3541
@kroeder, I think it's already out of the scope of this monorepo. Might be a nice addition to the storybook ecosystem though. You are welcome to contribute 😉

[2018-05-15 04:36] igor-dv commented on #3566
I will experiment with it =)

[2018-05-15 05:05] vidaaudrey commented on #3566
Maybe can use Dropdown in case there are too many files?

[2018-05-15 05:45] igor-dv commented on #3587
I think you should upgrade to v4

[2018-05-15 07:12] eavichay opened #3588 "cli fails on custom (polymer) project with **yarn**"
### Fails on initializing story book (yarn issue)
I'm working on a "freestyle" project, using polymer as core library. The project WAS NOT created with the polymer-cli and the folder structure is unrelated to polymer's standard.

I have run `getstorybook` command and it failed to install npm dependencies, and failed to output it's own error.
on file `@storkybook\cli\lib\latest_version.js` I have c

[2018-05-15 07:27] wuweiweiwu commented on #3577
Thats interesting. Because that path is the default path/filename that the default [configs](https://github.com/storybooks/storybook/blob/master/lib/core/src/server/config/defaults/webpack.config.js#L39) resolve to.

What happens if you replace the test with ` /\.(ico|jpg|jpeg|png|gif|eot|otf|webp|ttf|woff|woff2)(\?.*)?$/`?

Seems like all the cases are covered.

[2018-05-15 07:31] ndelangen commented on #3588
Could you try with the 4.0.0 alpha? I know there have been a couple of fixes and changes. This may have been resolved already.

[2018-05-15 07:41] wuweiweiwu commented on #3561
Hi @amittkSharma,

The info addon currently uses the parse tree to generate propTypes docs. However, state documentation is not supported unless you just want to use `withInfo`. Perhaps in the future we can support flow annotations on state type definitions.

[2018-05-15 07:53] Keraito commented on #3588
Confirming that this is most likely the same as https://github.com/storybooks/storybook/issues/3529#issuecomment-388006708. As stated above,  `v4.0.0-alpha.6` will fix this. Please note, @eavichay, that this most likely indicates an issue with your npm environment (and has nothing to do with yarn, for more information see the whole linked issue). You might want to try fix it (just google it and th

[2018-05-15 08:32] wuweiweiwu commented on #3502
Interesting. I'll take a look this weekend

[2018-05-15 08:32] amittkSharma commented on #3561
Thanks, looking forward to the feature in the addon.

[2018-05-15 08:36] wuweiweiwu commented on #3561
For now, if you want to document state it'll prob be just just to write it out. 👍

[2018-05-15 08:36] #3561 closed

[2018-05-15 09:17] markelog opened #3590 "Show progress of the addons-storyshot run"
### Bug or support request summary

When executing screenshot tests with addons-storyshot plugin on the large project it shows only initial start message then it looks like it froze when in reality it just has a lot things to do. I'm wondering it it's all possible to show the progress of it?

### Steps to reproduce

I suppose default setup of addons-storyshot  will do

### Please specify which ver

[2018-05-15 12:31] pebie commented on #1981
For those who still get this issue, I just figured out that I use babel module resolver.
My plugins config in `.babelrc` was :

[code]

Then I decided to move `.storybook` in a `storybook` env :
[code]

[2018-05-15 13:27] darlanmendonca commented on #3579
thanks @ndelangen, I'm running binary manullay, as you write

[code]

[2018-05-15 17:05] badave commented on #1493
This is caused by having a JSX file in node_modules.  Note that in the above webpack configs (and I'm having this same issue) the ones with the issues are excluding node_modules or only including the source directory for the project.  One solution is ejecting with `npm run eject` and then adding the node_modules directory to the webpack configs.

I'm unsure if there is a solution that doesn't requ

[2018-05-15 19:38] eavichay commented on #3588
@Keraito thanks.

[2018-05-15 20:09] Keraito commented on #3590
I tried my hands a little bit onto this, but any attempts in trying to log something to the terminal from https://github.com/storybooks/storybook/blob/master/addons/storyshots/src/index.js when running the tests failed for me. This seem to involve some [irregular longstanding issue at Jest regarding console output being swallowed by the tests output](https://github.com/facebook/jest/issues/2441).

[2018-05-15 21:27] Safa2222 opened #3592 "Hierarchy of stories ?"
Hi guys ! I need to find a way to create nested stories for my storybook, i have the 3.4.3 version. I tried adding simple '/' in stories kind but it didn't work and the addon 'storybook-chapter' is giving me the error **Uncaught TypeError: (0 , _addonLinks.register) is not a function**

Is there any fix ?
Thanks !

[2018-05-15 22:04] Keraito commented on #3592
Hey @Safa2222, what do you mean exactly with nested stories? Do you mean how the stories are organised on the left in: http://storybooks-official.netlify.com/, or are you referring to something else?

[2018-05-15 22:08] ndelangen commented on #3590
We should probably reach out the the jest team and ask them if they'd have some way in mind to get this. I know we're already kinda doing things out of the ordinary.

Maybe @orta or @cpojer or @SimenB could help here?

[2018-05-15 22:13] SimenB commented on #3590
I have no idea how storyshots is implemented under the hood beyond a cursory look now, but I think some way of making separate story files into separate test files would be the best. We collect all results from a single test file before passing the result on to reporters. I don't think we have a way of streaming the results per test.

That would also help keep the `.snap` files smaller, and utiliz

[2018-05-16 06:16] wuyuanyi135 opened #3593 "Angular 6 Expected 'styles' to be an array of strings."
If you are reporting a bug or requesting support, start here:
### Bug or support request summary
I want to use storybook with **Angular 6**. It turns out I have to use the 4.0.0 alpha branch to make it through (#3044 ). After I managed to make the story server run, I got another error `Expected 'styles' to be an array of strings.`, which I have no idea how to get around.

### Steps to reproduce
I

[2018-05-16 07:07] rwieruch commented on #3322
I am on version 3.4.4 for Storybook but also the viewport addon. Everything runs fine, except for the viewport addon. It exports nothing for me.

*addons.js*

[code]

*config.js*

[code]

But also when I try the default import or named import, there is nothing available.

`import * as everything from '@storybook/addon-viewport';`

or

`import { configureViewport as qwerty  } from '@storybook/addon

[2018-05-16 08:16] thomasbertet commented on #3483
@igor-dv I did some digging and proposed a solution https://github.com/igor-dv/jest-specific-snapshot/pull/9. Please let me know what you think of it :)

[2018-05-16 08:32] wuweiweiwu commented on #3592
Hi @Safa2222,

I would recommend checking out the [`options` addon](https://github.com/storybooks/storybook/tree/master/addons/options)

Specifically using the `hierarchySeparator` or `hierarchyRootSeparator` options:

ex: (in your configs)
[code]

and then when writing stories

[code]

would nest `Links` section under `Addons` and the `Select` stories will appear in that section.

Hope that helps

[2018-05-16 09:42] visualfanatic commented on #3512
Duplicate of #3509

[2018-05-16 11:05] amittkSharma opened #3595 "Is is possible to override the values of global addons"
Hi Team,

Is it possible to override the value of global add-ons, within the story specific values?

Thanks in advance
Amit

[2018-05-16 11:12] igor-dv commented on #3592
As far as I remember, the "/" should be a default.

[2018-05-16 11:14] Hypnosphi commented on #3595
It depends on which addon are we talking about. Right now it's possible at least for background and viewport addon, see examples:

http://storybooks-official.netlify.com/?selectedKind=Addons%7CBackgrounds&selectedStory=overriden&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Fstories%2Fstories-panel
http://storybooks-official.netlify.com/?selectedKind=Addons%7CViewport.Custom%20Defau

[2018-05-16 11:16] amittkSharma commented on #3595
Hi Filipp,

I am talking about the storybook/read-me addon.

Thanks
Amit

[2018-05-16 12:20] #3110 closed

[2018-05-16 12:39] Safa2222 commented on #3592
@Keraito : yes it was about the nesting options in the left menu of storybook.
@wuweiweiwu : Thanks a lot ... it worked  ;)
@igor-dv : in my setOptions, hierarchySeparator and hierarchyRootSeparator were set to null that's why it didn't work by default.

[2018-05-16 13:34] GrtDev opened #3596 "addon-info: docgen markdown support - feature request"
Pretty new to Storybook but love it! Currently working on adding proptypes and descriptions for my React Components. One feature that could possibly be easy add and would be helpful is to add Markdown support in the [React Docgen Integration](https://github.com/storybooks/storybook/tree/master/addons/info#react-docgen-integration).

Was looking into the source code and it seems that you could poss

[2018-05-16 14:57] mshaaban088 commented on #3322
`addon-viewport` prior to `4.0.0` wasn't exporting any function/fields, so you cannot simply install `3.4.4` and expect to see `configure` function ;)

So to answer your question, yes it's necessary to upgrade

[2018-05-16 21:04] alveshelio commented on #3061
Hi @adrice727,

Do you think you could post your .storybook/webpack.config.js file, I'm having the same problems as you had.

Thanks

[2018-05-16 23:36] #3588 closed

[2018-05-16 23:39] ndelangen commented on #3590
Hmm I'm guessing a totally alternative route that would make that work, would be to add story-files as test-files themselves and have a transformer applied on them?

But that sounds easier then it is, since storybook support global options and decorators..
Still.. not impossible.

[2018-05-16 23:40] #3579 closed

[2018-05-17 00:54] rwieruch commented on #3322
Thank you @mshaaban088 Looking really forward to the official 4.0 release. Is there any timeline when this will happen? I would lobe to cover the viewport add-on in an article of mine :)

[2018-05-17 04:52] jacoahmad opened #3597 "Couldn't find package "@storybook/component@3.4.3" required by "@storybook/addon-actions@^3.4.3" on the "npm" registry."
Couldn't find package "@ storybook/ component@3.4.3" required by "@ storybook/ addon-actions@^3.4.3" on the "npm" registry.

### Steps to reproduce
open terminal, run yarn

[code]

storybook/react 3.4.3
storybook/addon (almost every addon) 3.4.3

### Affected platforms
[code]
*Update*
Downgrading to 3.4.2 fixes the issue

[2018-05-17 06:08] gabrielcsapo commented on #2877
leh sigh... 💨

[2018-05-17 09:51] ndelangen commented on #3597
WHUT

The correct package name id `@storybook/components`.

the 3.4 `package.json` for addon-actions:
[code]

[2018-05-17 09:51] ndelangen commented on #3597
@Hypnosphi @shilman since you do most of the 3.x release work I think, any idea what's going on here?

[2018-05-17 09:54] hepiyellow commented on #3516
I think this issue is not resolved.
I am encountering an issue that looks very similar in alpha.06

I have a component which in `componentDidMount` calls `element.getBoundingClientRect().width`
Something like this:
[code]

The `updateLayoutIfNeeded()`is the one calling `element.getBoundingClientRect().width`.
It is getting the wrong width (360 in my case) while it should be (280).

If I add `setTi

[2018-05-17 11:28] volodymyr-kushnir commented on #252
You can set `-[HMR]` in the console's filter input if we're talking about Chrome DevTools.

[2018-05-17 12:17] felix-zg opened #3598 "graphql: Unexpected invocation at runtime"
### Bug summary

Babel transform for graphql is not working with `storybook start`.
https://github.com/facebook/relay/blob/490469c93845a59a776daebd9c2b368d93d98cfc/packages/relay-runtime/query/RelayModernGraphQLTag.js#L38
It works for Storyshots and regular app.

I have only one .babelrc, in the root folder:
[code]

### versions

[code]

### Affected platforms
React Native with relay modern

[2018-05-17 12:54] dbrrt commented on #1493
@badave I don't think that's related to JSX directly, but to any format not handled by webpack, if you want to have webpack loading markdown, then install the proper parser, and restart, same for JSX or SCSS :)

[2018-05-17 16:18] jacoahmad commented on #3597
@ndelangen @Hypnosphi @shilman, it happens again even with 3.4.2
[code]

[2018-05-17 16:45] khaliu opened #3599 "Custom webpack plugin config not being loaded by Storybook"
### Support request summary
I'm having an issue when trying to add a plugin like https://github.com/shaketbaby/directory-named-webpack-plugin, where it should be added as a config.resolve.plugin.

If I'm not mistaken, while looking at the code I saw that particulary configuration part isn't taken into account for the merged webpack config.

### Steps to reproduce

- Add custom webpack config file

[2018-05-17 18:53] alveshelio opened #3601 "Unable to make postcss work with alias and typescript"
Hi guys,

I'm having a hard making storybook work fine with my set up.

I've created an app with create-react-app with Typescript scripts.
I've ejected my app and I've added css modules, here's my `webpack.config.dev.js` in `config/webpack.config.dev.js`

[code]

I have this structure
[code]

And heres' my `webpack.config.js` in `.storybook/`

[code]

And here are the errors I'm getting
[code]

I'

[2018-05-17 20:30] #3224 closed

[2018-05-17 21:43] mpopv commented on #3492
@Robula I believe in addition to adding VueLoaderPlugin you also need to rewrite the vue-loader options per the 15.0.0 migration docs, to something like
[code]

[2018-05-17 22:35] Hypnosphi commented on #3324
Released as [`3.4.5`](https://github.com/storybooks/storybook/releases/tag/v3.4.5)

[2018-05-17 22:35] Hypnosphi commented on #3529
Released as [`3.4.5`](https://github.com/storybooks/storybook/releases/tag/v3.4.5)

[2018-05-17 22:35] #3529 closed

[2018-05-18 00:30] #3062 closed

[2018-05-18 00:57] khaliu commented on #3599
On full control mode the plugin is created but it fails (Inside my webpack config works fine), the log here:

``bash
C:\...\node_modules\directory-named-webpack-plugin\index.js:23
  var target = resolver.ensureHook("undescribed-raw-file");
                        ^

TypeError: resolver.ensureHook is not a function
    at module.exports.doApply (C:\...\node_modules\directory-named-webpack-plugin\in

[2018-05-18 01:54] tmeasday commented on #3329
Any luck @DylanLyon?

[2018-05-18 02:02] DylanLyon commented on #3329
@tmeasday unfortunately, no. Tried several different things and figured it was more trouble than it was worth and ended up writing my own front-end UI for our documentation using JSDoc data scrapped with react-docgen directly.

[2018-05-18 02:04] tmeasday commented on #3329
Cool, thanks for letting us know. I'll circle back around to the other approach sometime soon I hope!

[2018-05-18 05:27] J28848 commented on #3444
Thanks @Kizbo, I change the node version with 8.0+ and re-install webpack, yarn, storybook-cli, and re-create the app again.
It works well!

[2018-05-18 06:49] jacoahmad commented on #3597
Update:
I use 4.0.0 Alpha 6 to be able to continue on my work, seems like there's some sort of dependency typo on the mentioned version.

[2018-05-18 08:19] alexandermikuta opened #3602 "Looking for React-Files in Angular-Project"
I get the following error in an angular-cli-project ("@angular/cli": "6.0.3") when doing `build-storybook`

[code]

When doing `start-storybook -p6006 -c .storybook` it gives the following errors:

[code]

Used Storybook is:

[code]

Any ideas why it looks for react-files in an angular-project?

[2018-05-18 08:51] pokkur commented on #3602
Vue project too

[2018-05-18 09:41] DonChengCheng opened #3603 "Imported components report an error if they have a reference to a .css style file"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

_Please provide issue details here - What did you expect to happen? What happened instead?_

### Steps to reproduce

_Please provide necessary steps for reproduction of this issue. Describe the exact steps a maintainer has to take to make the problem occur. If the problem is non-trivial to reproduce,

[2018-05-18 12:09] rafal-r commented on #2708
Maybe when your package resides in `node_modules` or outside project directory then weback treats those files on import as production builds which results in omitting comments and propTypes ?

My solution was to make symlink to my module (which was outside project directory) and then import  components from that directory.
This approach requires disabling symlinks in webpack resolver:
`const path

[2018-05-18 18:10] mosesoak commented on #3597
+ 1 this package is failing to install from CircleCI today,

[code]

Also trouble installing locally:
[code]

There are no network connection issues for me, or Circle, or for any other modules in a large project, just this one

[2018-05-18 18:53] stellarhoof opened #3604 "Request: Do not ignore renderer when using imageSnapshot test function"
### Bug or support request summary

`imageSnapshot` doesn't render stories. However, when specifying the `test` option to `initStoryshots`, it ignores the `renderer` option. I would like to test components that use `findDOMNode` but `react-test-renderer` doesn't support it and I can't specify a custom renderer in this instance.

### Please specify which version of Storybook and optionally any affe

[2018-05-18 19:02] stellarhoof commented on #3604
Actually nevermind. Since `imageSnapshot` doesn't use the renderer, it doesn't matter which one is specified.

[2018-05-18 19:02] #3604 closed

[2018-05-18 19:56] ndelangen commented on #3597
@mosesoak When I try to access https://registry.yarnpkg.com/@storybook/addon-backgrounds/-/addon-backgrounds-3.0.0.tgz it just works, I get a tgz download.

[2018-05-18 19:58] ndelangen commented on #3597
Most likely npm had a outage

[2018-05-18 20:27] KolbySisk opened #3605 "Styles no longer imported after updating to v4.0.0-alpha - Angular 6"
### Bug or support request summary

After updating to Angular 6, Storybook stopped working. Based on the advice in [this Issue](https://github.com/storybooks/storybook/issues/3044) I updated to `4.0.0-alpha.3` This fixed my error and the Storybook server was running again, however now my styles (and fonts) aren't showing up.

I also tried updating to the latest version `4.0.0-alpha.7` but I get a

[2018-05-18 22:01] #3155 closed

[2018-05-19 01:38] robertmassaioli commented on #3346
I just ran into an issue with the same error message in a storybook after turning on yarn workspaces in a lerna project. I suspect that this is caused by package loading issues. Investigating further.

[2018-05-19 04:33] wuyuanyi135 commented on #3605
Loading css problem probably is due to #3593. I start to use storybook just recently so I don't know whether `react-dom` was a explicit dependency. I had to install `react, react-dom@16.0.0` manually.

[2018-05-19 09:36] jpetitcolas commented on #2455
I encountered the same issue, and I executed the following to use global `postconfig.config.js` file:

[code]
I propose to check if we got a `postcss.config.js` file at root. If not, then we put the default current `plugins` function. If core team is OK with this change, I can give it a try in a PR. :)

[2018-05-19 22:42] Hypnosphi commented on #2455
@jpetitcolas Sounds good. We could also support it in storybook config directory

[2018-05-19 23:08] Hypnosphi commented on #3541
@daiky00 Please press "subscribe" button in #3491 to receive updates on its progress

[2018-05-19 23:08] #3512 closed

[2018-05-19 23:10] Hypnosphi commented on #3595
Do you mean this one? https://github.com/tuchk4/storybook-readme

This is not developed by us, so you may want to open an issue in that repo instead

[2018-05-19 23:50] wuyuanyi135 commented on #3593
@nglazov I suppose that will be taken care of by the dev teams. :) Really hope it to work soon.

[2018-05-20 10:48] mshaaban088 commented on #3321
I've tested it now with [releases/v4.0.0-alpha.7](https://github.com/storybooks/storybook/releases/tag/v4.0.0-alpha.7), and it works pretty well

[2018-05-20 11:37] Hypnosphi commented on #3321
Yes, this was probably fixed with #3555

[2018-05-20 11:37] #3321 closed

[2018-05-20 13:51] amittkSharma commented on #3595
Thanks,  The issue is no opened in the respective repo.

[2018-05-20 13:51] #3595 closed

[2018-05-20 20:54] #3308 closed

[2018-05-21 02:50] ynk commented on #1708
still no update on that issue ? is there a way to make it work temporarly ?

[2018-05-21 07:40] marcusnielsen opened #3613 "cors calls not working"
When I do a `window.fetch` call inside a stoy, I get a cors error.

_Please provide issue details here - What did you expect to happen? What happened instead?_
When I do the following call inside a story:
[code]

I get:
[code]

I expected storybook dev server to allow CORS calls either by default or by configuration.

I tried to add the following content to `.storybook/webpack.config.js`
[code]
bu

[2018-05-21 10:01] mlegait commented on #3493
Oh no please. I really need this fix for my project!

If @pasupuletics doesn't answer, do we have another solution?
@Keraito and @Hypnosphi do you have an idea?

Thank you for your help.

[2018-05-21 11:41] tmeasday commented on #3613
Hi @marcusnielsen; sorry if I am being dense but isn't it the maps.googleapis.com server that would need to enable cors?

I think you just need to pass `{ cors: true }` to your `fetch` request..