[2020-07-03 13:29] shilman commented on #11399
Yeah, MDX compiles to [CSF](https://medium.com/storybookjs/component-story-format-66f4c32366df) under the hood.  CSF requires that story names be statically analyzable. So this kind of dynamic expression won't be possible in MDX. What's the use case?

[2020-07-03 13:31] shilman commented on #10798
Related (but different): https://github.com/storybookjs/storybook/pull/11396

[2020-07-03 13:33] shilman commented on #11373
cc @kroeder @matheo @gaetanmaisse can anybody give a hand here?

[2020-07-03 13:36] shilman commented on #11409
Is pug a standard thing in ALL Vue projects and should we support it out of the box? If not, you probably need to customize your webpack config: https://storybook.js.org/docs/configurations/custom-webpack-config/

[2020-07-03 15:02] matheo commented on #11152
I'm having a problem with Storybook's webpack config after `beta.28`
it's not including the styles I'm importing from `preview.js` #11304

@calebedwards21 to customize the webpack config you should check the existing loaders already configured by Storybook, sometimes you need to override them to make your rules work

[2020-07-03 15:07] Nvveen opened #11411 "Multiple children of a <Story> block in MDX files breaks the parsing"
**Describe the bug**
Multiple children of a <Story> block in an MDX file breaks the parsing (with a default create-react-app setup) @6.0.0-beta.39 with the following error:
`Module build failed (from ./node_modules/babel-loader/lib/index.js):
Error: example/src/stories/Test.stories.mdx: transform-react-jsx: pragma has been set but pragmaFrag has not been set`

**To Reproduce**
Steps to reproduce t

[2020-07-03 16:22] jonhuteau opened #11412 "Stories imported in MDX ignore args and parameters"
**Describe the bug**

I'm upgrading my Storybook from 6.0.0-beta.37 to 6.0.0-beta.39.

As mentioned in release notes, multiple files with same title aren't allowed anymore. So I'm trying to merge theses files.

To give you some context, here are my files:

* 1 file named `chart.stories.js`, which defines a component playground and only available in `story` mode
* 1 file named `chart.stories.mdx` w

[2020-07-03 16:32] shilman commented on #11142
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.40 containing PR #11387 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-03 16:32] shilman commented on #11382
Hurrah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.40 containing PR #11396 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-03 16:32] shilman commented on #11383
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.40 containing PR #11396 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-03 16:32] #11142 closed

[2020-07-03 16:32] #11382 closed

[2020-07-03 16:32] #11383 closed

[2020-07-03 16:43] gastonmorixe commented on #10772
I am on 6.0.0-beta.37 and still see it

[code]

[2020-07-03 16:47] yannbf commented on #10772
Hey @gastonmorixe could you please share your glob in main.js? Did you see in the migration file in that the glob format is different than previously used in examples?

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#correct-globs-in-mainjs

[2020-07-03 17:13] mohammadalipak commented on #3444
Doing 2 things helped me:
* upgrading `html-webpack-plugin` to `3.2.0` (I was on an older `2.30.1`) as [suggested by eightHundreds above](https://github.com/storybookjs/storybook/issues/3444#issuecomment-489427490)
* downgrading `babel-loader` to `7.1.5` as [suggested by andyford](https://github.com/storybookjs/storybook/issues/5249#issuecomment-477648849)

Thanks guys 👍

[2020-07-03 17:30] shilman commented on #11412
Thanks @jonhuteau ! Will try to give it a look this weekend

[2020-07-03 19:24] azaxarov opened #11413 "Issue with deepEqual in SourceContainer"
**Describe the bug**
My current Storybook setup works up to and including v6.0.0-beta.37. However, once Storybook dependencies are updated to v6.0.0-beta.38, the stories break on the deepEqual check in SourceContainer. The changes were introduced in https://github.com/storybookjs/storybook/pull/11332.

https://github.com/storybookjs/storybook/blob/b25b434faa174105003a3cbf859db81e2841feb9/addons/do

[2020-07-03 20:18] #10770 closed

[2020-07-03 21:28] domyen commented on #10794
@tooppaaa @tom I styled the rest of the components in the sample repo [here](https://github.com/chromaui/storybook-template-react). This brings their appearance in line with the design spec. Hooray!

**Question**
We have a mix of JSX styles and vanilla CSS using the `<style>` tag. I prefer to use CSS because it's cleaner for styling nested elements. Plus raw CSS is framework agnostic meaning you c

[2020-07-03 22:20] BWrites commented on #11255
@ndelangen Sorry, please ignore that last error - looks like that was similar to this: #11356.  I had my `main.js` config set to

[code]

so the glob meant it may have been loading stories from my `node_modules`. 🤦

I've updated the glob to look solely at my `src` folder and now I'm getting the `core-js` issue mentioned by the OP...

[code]

[2020-07-03 22:28] BWrites commented on #11255
And as @43081j suggests, adding `core-js` v3 as a dev dependency fixes it but that doesn't seem like a great solution...

[2020-07-03 22:36] tmeasday commented on #10794
Here’s my 2c, fwiw:

1. Maybe class names is the best solution. I don’t think our component files need to serve as teaching resources about how to build components in react (et al). There is plenty of stuff on the net for that. I think the priority should be maintainability, across all frameworks.

With that in mind maybe we should have a single css file that we can add to all templates somehow?

[2020-07-03 23:01] mitchellwarr commented on #11399
The use case is that we would like to be able to keep our linter consistent across all jsx. We have the lint rule for everything being wrapped in curly brackets.

But besides that use case, using curly brackets in jsx is expected and valid behavior. It feels like a bug that this is breaking. I'm not sure if i just missed some important note in the docs pointing our the different behavior though. B

[2020-07-03 23:03] mitchellwarr commented on #11399
Are there other ways to make the field statically analyzable? It might be that one of those would suit my use case better

[2020-07-03 23:58] shilman commented on #11391
FYI, we’ve released addon-controls in 6.0-beta. Controls are portable, auto-generated knobs that are intended to replace addon-knobs long term.

- [Controls README](https://github.com/storybookjs/storybook/tree/next/addons/controls)
- [Migration instructions](https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#how-do-i-migrate-from-addon-knobs)
- [Walkthrough: Controls w/

[2020-07-04 00:05] shilman commented on #11228
I'm unable to repro. Do you have a public repro I can look at?

[2020-07-04 00:07] shilman commented on #11026
cc @hipstersmoothie is there anything we can do about this on the `react-docgen-typescript` side?

[2020-07-04 00:37] hipstersmoothie commented on #11026
I think this might have been fixed already. react-docgen-typescript supports this and has tests to show it. I think this should have been fixed with https://github.com/storybookjs/storybook/pull/11184 which went out in beta 31

[2020-07-04 04:54] Remeic commented on #9625
Is possibile to re-open this issue?

[2020-07-04 05:57] shilman commented on #11026
You rock @hipstersmoothie. @youfoundron can you try upgrading?

[2020-07-04 05:59] manjunatha-d opened #11416 "Can't use global installation of prettier when `addon-storysource` or `source-loader` is installed"
**Describe the bug**
We can't use a global installation of prettier in yarn scripts (or npm scripts) when certain storybook packages like @storybook/addon-storysource or @storybook/source-loader are installed.

**To Reproduce**
Steps to reproduce the behavior:
0. Run `yarn global add prettier@2.0.5` to install prettier globally.
1. Clone the repo https://github.com/manjunatha-d/storybook-prettier-

[2020-07-04 06:32] shilman commented on #11416
please upgrade to 6.0, i think the dependency has been ugpraded

[2020-07-04 06:49] tmeasday commented on #10005
Currently you get this warning on edit of `preview.js`:

[code]

Which causes a full reload of the iframe (rather than HMR).

Ideally we should fix that, probably by adding this to `lib/core/src/server/preview/virtualModuleEntry.template.js`:
[code]

However, it isn't a bad situation as it resolves all the issues above. So I am not going to fix it right now.

---

Here is a plan to fix this issue

[2020-07-04 07:20] manjunatha-d commented on #11416
@shilman Upgrading will not fix the root cause. The prettier version used will be dependent on the version specified in storybook packages. This is a problem because the dependencies should not determine the version of a package used in the main application.

[2020-07-04 07:30] shilman commented on #11416
Why can't storybook depend on a specific version of a package. Getting your monorepo to work is up to you, isn't it?

[2020-07-04 07:31] shilman commented on #10958
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.41 containing PR #11415 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-04 07:31] shilman commented on #11413
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.41 containing PR #11414 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-04 07:31] #10958 closed

[2020-07-04 07:31] #11413 closed

[2020-07-04 07:40] manjunatha-d commented on #11416
@shilman Absolutely.

The problem is with how dependencies are installed and how npm resolves dependencies. We don't have control over either of them to fix our issue. Their approach works fine for most of the cases. Unfortunately, ours is an edge case.

This will be a problem for all monorepos that want to use a prettier version different from the one that storybook addons depend on.

If these st

[2020-07-04 07:42] shilman commented on #11416
Unfortunately those libraries do depend on prettier at the moment. I think there are some smaller alternatives we should consider using, but that’s a separate issue

[2020-07-04 07:47] manjunatha-d commented on #11416
@shilman Alright, thanks!

For others with the same issue:
We can make it work in monorepos by using path to the global prettier binary, something like:
[code]

[2020-07-04 07:51] #11416 closed

[2020-07-04 07:55] azaxarov commented on #11413
Great news! I'll give it a go today.

[2020-07-04 08:12] shilman opened #11418 "Dynamic source rendering for Angular"
Follow-up to #11332 but for Angular

[2020-07-04 10:21] philippone commented on #9167
I'm developing a add on for this: https://github.com/Ergosign/storybook-addon-pseudo-states

It's already mentioned in the main post.

I'm thankful for any feedback.

[2020-07-04 11:34] yannbf commented on #4667
Hey @ChrisBAshton I attempted a fix for your use case at #11066 and I was wondering what you think about it :)

[2020-07-04 14:20] sami616 commented on #11019
@hipstersmoothie @shilman do you still need a reproducible example for this regression?  It seems to have reverted for my entire project, all the unions are now rendering as object fields

[2020-07-04 14:49] domyen commented on #10794
A single CSS file that we import in each file makes sense to me for maintenance reasons.

Should we drop the CSS and images in the `/assets` dir?

[2020-07-04 14:53] iPzard commented on #10204
@ndelangen thanks for sharing! Will be following progress on 6.0.0.

[2020-07-04 16:10] hipstersmoothie commented on #11019
Can you post a minimal repo?

[2020-07-04 18:25] daniel-norris commented on #9996
I'm getting the same issue after following a basic example [Storybook tutorials](https://www.learnstorybook.com/design-systems-for-developers/react/en/document/)

main.js
`module.exports = {
    stories: ['../src/**/*.stories.(js|mdx)'],
    addons: [
        '@storybook/preset-create-react-app',
        '@storybook/addon-actions',
        '@storybook/addon-links',
        {
            name: '@st

[2020-07-04 20:44] yannbf commented on #10796
I'm taking this!

[2020-07-04 23:28] tmeasday commented on #10794
wfm. Would like to hear from @tooppaaa and @shilman who have more context on this front

[2020-07-05 00:16] pelotom opened #11419 "Docgen: Errors on TS components whose names are keywords"
It appears that a change introduced in `6.0.0-beta.24` is causing my storybook to fail to load:

![image](https://user-images.githubusercontent.com/128019/86522911-c06c3c00-be19-11ea-95ff-e3f0b2e8087f.png)

I'm not sure exactly what is going on here because source maps don't seem to be working.

[2020-07-05 01:57] gastonmorixe commented on #10772
@yannbf yeah just saw that, fixed it adding `@` now:
[code]

[2020-07-05 04:24] shilman commented on #11419
Works in beta.23? Lots of changes in beta.24...

https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.24

[2020-07-05 04:26] shilman commented on #10005
¡Ay Caramba!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.42 containing PR #11417 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-05 04:26] shilman commented on #10958
Gadzooks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.42 containing PR #11420 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-07-05 04:30] pelotom commented on #11419
Yes, it works in `6.0.0-beta.23` and before. I don't have a minimal repro currently, but can work on putting one together.

[2020-07-05 04:33] shilman commented on #9996
@daniel-norris whitespace is important in MDX. extra blank lines can cause problems, per the issue you referenced. but missing blank lines can too. for instance i'm pretty sure you are missing required blank lines around the JSX snippets and headings.

MDX 2.0 will hopefully be released in the next few weeks, in concert with Storybook 6.0, and hopefully that will address some of these issues, or a

[2020-07-05 06:16] #10767 closed

[2020-07-05 06:16] #10777 closed

[2020-07-05 06:58] daniel-norris commented on #9996
@shilman thanks for the reply. Is there an example repo or boilerplate I can look at for correct mdx usage with storybook? I've been searching for a solution to this for weeks now and have gone to the effort of trying to use this with a completely stripped down example (above) after this failed with the full project...

[2020-07-05 07:02] sami616 commented on #11019
@hipstersmoothie here you go @hipstersmoothie

https://github.com/sami616/sb-ts-union-regression

[2020-07-05 08:35] sami616 commented on #11019
@shilman @hipstersmoothie at closer inspection, it looks like this is also affecting other fields too, for exmaple - booleans have stopped rendering as checkboxes in my controls UI too.

[2020-07-05 08:36] shilman commented on #11019
@sami616 taking a look now to see if this is due to changes I've made on the storybook side. i'll report back.

[2020-07-05 09:14] shilman commented on #11019
@sami616 @hipstersmoothie found at least one issue on the storybook side with `undefined` enum values (or any enum values that are not a number or string). putting in a fix for it now, but would love to figure out a better solution

[2020-07-05 09:46] shilman commented on #10157
@yannbf can you take a look at this?

[2020-07-05 10:51] shilman commented on #10115
Yippee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.43 containing PR #11407 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-05 10:51] #10115 closed

[2020-07-05 11:32] zakkor commented on #7678
I don't see why this one file in this one addon should use ES6 modules, unlike all the others.
This requires CRA users to do a ton of extra work to get this addon to work.

Try importing the built file instead of the ES6 modules file:
`import { withContexts } from '@storybook/addon-contexts/dist/preview/frameworks/react'`

[2020-07-05 11:47] shilman commented on #7678
FYI `addon-toolbars` is replacing `addon-contexts`: https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#deprecated-addon-contexts

[2020-07-05 15:20] jlarmstrongiv opened #11425 "[addons/controls]: Docs for global controls"
**Is your feature request related to a problem? Please describe.**
I use global controls for the color theme that applies to all of my components.  In addons/knobs, I was able to add a global decorator `addDecorator(withKnobs);` in `preview.js` to show the theme controls for every component.

**Describe the solution you'd like**
Well, I am unsure whether that feature is currently available in addo

[2020-07-05 15:37] tooppaaa commented on #10794
After looking at the code, I'm in favor of @tmeasday idea. Classnames would ease the reading of components.
We can have css files in assets or next to components (`button.css`, `header.css`,...) either case will be easy to implement and maintain :)

[2020-07-05 17:21] hipstersmoothie commented on #11163
bump

[2020-07-05 19:30] yannbf commented on #10794
These are subjective question, maybe for @domyen:
for storybook documentation, do we want to point users to:
1 - https://storybook.js.org/docs
2 - https://storybook.js.org/docs/basics/introduction/

Somehow I think that 2 is more straight forward and people can quickly go to their framework of choice in the side navigation.

Also, the welcome component has a link to this component driven approach

[2020-07-05 20:02] yannbf commented on #10157
Oh wow sorry @shilman I didn't see this before! Will check right away.

[2020-07-05 20:13] yannbf commented on #10157
Hey @winterlamon, thanks for opening an issue with us! Sorry that it was stale for some time.
If I understand you correctly, you only set programmatically the colors once in `preview.js`, in a global fashion. Then you change the color by *clicking in the addon button*, right?
The addons keep their state, so that whenever you switch stories the addon will still respond with the last behavior you se

[2020-07-05 21:01] winterlamon commented on #10157
Hey, @yannbf. Thanks for writing. The behavior you described is correct.

I didn't realize that the addon buttons were meant to affect the stories globally. If that's the intended behavior, I can close the issue. 👍🏾

[2020-07-05 21:01] #10157 closed

[2020-07-05 21:58] hmajid2301 opened #11426 "Gatsby Mock (Markdown) GraphQL"
Hi,

I am using Gatsby to create a blog. Gatsby can use markdown with GraphQL to "automagically" create post pages for you. I was wondering using the [Gatsby example here](https://www.gatsbyjs.org/docs/adding-markdown-pages/), what is the best way to
"mock" out the graphql query and replace it with our markdown data, so that I can test this component in Storybook UI. For example if I have a blog t

[2020-07-06 00:26] shilman commented on #10005
TODO @tmeasday
- [ ] remove `module.hot.accept` from configure call
- [ ] deprecate preview.js configure call
- [ ] remove semi-functional HMR code

[2020-07-06 01:04] shilman commented on #11425
@jlarmstrongiv `addon-toolbars` is the args-based design for global variables. LMK if this is what you had in mind:

https://github.com/storybookjs/storybook/tree/next/addons/toolbars

[2020-07-06 01:17] shilman opened #11427 "Controls: Add debounce logic"
Controls are not currently debounced, leading to typing jankiness for the user.

Proposal:
- Rather than debouncing, send all input events to the story store
- Keep local state in the control so that input can update in real time
- Only update a control from the story store if the control not focused, resolve differences on blur

This is a follow-up to #10701 , which proposes a simple debounce

[2020-07-06 01:37] shilman opened #11428 "Controls: JSX support"
Currently React nodes, such as `children`, show a JSON object editor by default. They should show a text editor instead that supports full JSX editing.

[2020-07-06 01:37] shilman opened #11429 "Controls: React node support"
Currently React nodes, such as `children`, show a JSON object editor by default. They should show a text editor instead, in the short term. Long term, we should support JSX #11428

[2020-07-06 07:07] aishwaryasharma14 commented on #11379
Any word on this?

[2020-07-06 08:22] frebro commented on #11411
I see the same warning on a similar setup, after upgrading from 6.0.0-beta.20 to 6.0.0-beta.43. I rolled back the beta version number a few times and found that it gets introduced at 6.0.0-beta.38. Ping me for more specs if that helps!

[2020-07-06 09:13] benbonnet commented on #11402
sorry to ask again;  is this case could be handled with a different pattern; or is it just a limitation at the moment ?

[2020-07-06 12:00] jlarmstrongiv commented on #11425
@shilman thanks for the help!  I totally missed [addon-toolbars](https://www.npmjs.com/package/@storybook/addon-toolbars).

Unfortunately, I just don’t feel like the plugin is ready for prime time.  Configuring it in the addons array broke storybook with `Uncaught TypeError: (0 , _api.useGlobalArgTypes) is not a function` and all of the examples I tried had miss-matched braces or missing commas.

[2020-07-06 12:00] #11425 closed

[2020-07-06 12:41] tsvetomir opened #11433 "Angular v10 issue with vendor packages"
**Describe the bug**
Storybook does not load ES2015 bundles, leading to runtime errors in Angular v10 applications.

* Starting [from v10](https://blog.angular.io/version-10-of-angular-now-available-78960babd41), Angular ships only ES2015 bundles.
* Libraries typically ship both ES5 and ES2015 modules to remain compatible with Angular v8 and 9 (see [APFv8](https://docs.google.com/document/d/1nn79r

[2020-07-06 12:55] hardikjain0309 opened #11434 "Primary slot description using JsDoc comment not working"
**Describe the bug**
I have a JsDoc comment in my component source file, just above the line export default but it doesn't reflect in DocsPage generated for my component. Its my first time trying this feature so I am not sure if this is actually a bug or something I might be doing wrong

**To Reproduce**
I have a source component file that looks like this
[code]

**Expected behavior**
But right no

[2020-07-06 13:15] James-Hudson3010 opened #11435 "Tutorial Bug"
In the Add Assets section, there are the two commands:

[code]

these apparently no longer work. It would seem that GitHub has removed the feature needed for these commands.

[2020-07-06 13:32] ndelangen commented on #11356
Please don't include stories from within `node_modules`.

[2020-07-06 13:32] #11356 closed

[2020-07-06 13:33] shilman commented on #11435
Please file against https://github.com/chromaui/learnstorybook.com/

[2020-07-06 13:33] #11435 closed

[2020-07-06 13:36] shilman commented on #11434
You might try upgrading to 6.0-beta (soon to be RC). We've overhauled the typescript handling there, and this is almost certainly a typescript configuration issue.

https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#zero-config-typescript

[2020-07-06 13:40] shilman commented on #11425
@jlarmstrongiv what version of `addon-toolbars` did you use and did it line up with the other `@storybook/*` packages you had installed? it's ready for prime time and a major step up from addon-contexts for all the reasons described in the README.

[2020-07-06 13:42] jlarmstrongiv commented on #11425
I assume it’s the latest?  I installed both with the `@next` flag so I assumed they should have been on the same version

[2020-07-06 13:45] #9773 closed

[2020-07-06 13:53] shilman commented on #11425
We recently renamed `useGlobalArgTypes` to `useGlobalTypes` across the codebase in https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.39. That failure indicates that some of your packages are earlier versions than that, and some are after. We're going into RC tomorrow, so there shouldn't be anymore breaking changes between now and the 6.0 final release, just bug fixes.

[2020-07-06 13:54] shilman commented on #11130
NOTE: new command for upgrading

[code]

[2020-07-06 13:57] jayarjo opened #11436 "addon-docs: stories on DocsPage are not self-contained"
**Describe the bug**
When component triggers a modal, it becomes a modal for the whole DocsPage.

**To Reproduce**
Have a component that opens a modal in portal for example.

**Expected behavior**
Each story should somehow be contained within its own area, perhaps by loading each one in a separate iframe?

For some reason I thought that that's how it is implemented in first place, and was quite su

[2020-07-06 14:38] shilman commented on #9773
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.44 containing PR #11368 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-07-06 14:38] shilman commented on #10005
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.44 containing PR #11431 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-06 14:38] shilman commented on #10115
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.44 containing PR #11401 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-07-06 14:38] shilman commented on #11343
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.44 containing PR #11430 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-06 14:38] shilman commented on #11427
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.44 containing PR #11430 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-06 14:38] #11343 closed

[2020-07-06 14:38] #11427 closed

[2020-07-06 14:41] shilman commented on #11436
You can force stories to render in their own iframes, tho it has performance issues:

https://github.com/storybookjs/storybook/blob/next/addons/docs/react/README.md#inline-stories

[2020-07-06 15:00] jayarjo commented on #11375
Awesome!

[2020-07-06 15:00] #11375 closed

[2020-07-06 15:01] jayarjo commented on #11436
Thanks!

[2020-07-06 15:07] domyen commented on #10794
@yannbf we'll need to update the article! Thanks for pointing that out. The point of the 2017 article is to show that the component-driven process is not a new concept.

Re: link to docs, we're launching new docs and docs site in the next couple of weeks. storybook.js.org/docs will go to the same path as
storybook.js.org/docs/basics/introduction. It doesn't go there right now because we haven't ha

[2020-07-06 15:36] akhilesh85 commented on #11391
Hi Shilman,

I tried the control addon and did not find Issues while integrating it. However, I am unable to use the addon as it is throwing error. Do you have any reference guide for how to use control for angular? I found the storybook doc very hard to follow for Angular as most of the examples are for React. Is there a better approach I could take to follow the doc? As today I spent around 8 ho

[2020-07-06 15:37] akhilesh85 commented on #11391
Hi Shilman,

I tried the control addon and did not find Issues while integrating it. However, I am unable to use the addon as it is throwing error. Do you have any reference guide for how to use control for angular? I found the storybook doc very hard to follow for Angular as most of the examples are for React. Is there a better approach I could take to follow the doc? As today I spent around 8 ho

[2020-07-06 15:43] coltpini commented on #11395
Ok, cool controls looks great. I am not seeing support for custom property support in controls. Am I just missing it, or is that something I would feature request for controls?

[2020-07-06 17:53] hardikjain0309 commented on #11434
I finally upgraded to beta (.44) but now the whole docs add on is super buggy. I am seeing scrollbars everywhere and this message where propsTable used to be: Args unsupported. See Args documentation for your framework.
Read the docs

![image](https://user-images.githubusercontent.com/40684057/86623486-52717180-bfdf-11ea-9252-2f1b24a84a17.png)

The only good thing that came out of this was that my

[2020-07-06 17:53] shilman commented on #11395
@coltpini Can you define custom property for me?

[2020-07-06 18:18] shilman commented on #11434
@hardikjain0309 Do you have a repro?

[2020-07-06 18:20] xurxe commented on #5527
We came up with a workaround for now, which involves:
1) Using `event.preventDefault();` to prevent reloading of the page.
2) Using `window.scrollTo()` to scroll to the destination element.
3) Using `element.focus()` to move focus to the destination element. If the destination element is not focusable, you can make it focusable with `tabindex="-1"`.

This is a basic version of our React implementa

[2020-07-06 18:22] shilman commented on #11391
@akhilesh85 Try

[code]

[2020-07-06 18:28] hardikjain0309 commented on #11434
Hmm I am not sure how to create the exact situation for you. How do people usually do this here? Give you steps? I can try creating a new app soon to repro this if you want. Also, in 5.3.x I am seeing that the descriptions (From JSDoc comments) for props are getting displayed, just the main primary description is not getting displayed. Havent tried the same with 6.0.0-beta. Also which repro do you

[2020-07-06 19:41] coltpini commented on #11395
A custom property: https://developer.mozilla.org/en-US/docs/Web/CSS/--*

I would use them in a component like this:
[code]

then in the css that uses the above component:
[code]
[code]

[2020-07-07 00:00] brandonpittman commented on #11343
@shilman I'll never be able to test this, because the Angular stuff's still broken when I open controls.

[2020-07-07 00:13] brandonpittman commented on #11373
@shilman **Update**: Still having this issue under beta-44.

Here's some sample code from a component that dies when I open the controls panel.

[code]

[code]

Can't share a repo, but maybe this will help.

[2020-07-07 00:21] shilman commented on #11434
To create a repro, either:
- create a temporary github repo that i can download, install, and observe the error
- @yannbf has created a codesandbox template https://gist.github.com/yannbf/d7a32cfe697e71489db00bfd50e7ab5c

[2020-07-07 00:26] shilman commented on #11395
Thanks for the clarification. Definitely not supported explicitly in either Knobs or Controls currently. Both support all the building blocks you'd need to do this (numbers, strings, colors, etc.), but I'm not sure the best way to hook those up to CSS vars.

[2020-07-07 00:53] shilman commented on #11373
@brandonpittman is there any chance you can create a minimal repro with just those those two files and whatever basic Storybook config you need to show the problem? would help a ton, and i should be able to get you a fix within a day or so.

[2020-07-07 00:54] brandonpittman commented on #11373
@shilman I will try. 💪🏻

[2020-07-07 01:01] shilman opened #11439 "MDX error: Support for the experimental syntax 'jsx' isn't currently enabled"
A recent change in `babel` has broken Storybook's MDX configuration in CRA, with the error: `Support for the experimental syntax 'jsx' isn't currently enabled`.

More info here: https://github.com/storybookjs/storybook/pull/11422#issuecomment-653939846

This is reproducible in a fresh CRA install, and the problem is present on both `next` and `latest` branches, unrelated to any code changes on our

[2020-07-07 01:19] shilman commented on #11439
There are two workarounds for this issue. For React projects (e.g. CRA) that have the following line in their `main.js`:

[code]

Update to:

[code]

If you use `<>blah</>` style fragments in your MDX, this will unlock a second bug (presumably from the same underlying source): `transform-react-jsx: pragma has been set but pragmaFrag has not been set`.

For now, the workaround is to rewrite those f

[2020-07-07 02:33] shilman opened #11440 "Args: Rename Story.bind to Template.bind"
We currently have a variety of new-style "Args" stories with the `Story.bind()` or `Story.bind({})` idiom. We should update these all to `Template.bind({})` to reflect the latest thinking

[2020-07-07 02:40] shilman opened #11441 "Addon-docs: Clean up description configuration"
Description block should be parameter-configurable for frameworks that don't support auto-extraction. And we have good patterns for that now.

## Proposal

[code]

[2020-07-07 03:05] coltpini commented on #11395
The way I was planning on doing it was to add a style to the element based on the value using the setProperty function. It would be pretty simple for styles on the host element. It would be more difficult to figure out how to change the value on different scopes, but I am not sure that would be needed. I would want to see how it would be used first.

[2020-07-07 03:07] shilman opened #11442 "Addon-controls: Warn if docs preset is run after controls"
`Addon-controls` requires `addon-docs` and also requires that its preset is run earlier in the `main.js` `addons` array. We should check for this automatically and warn if its misconfigured because people might not see this in the docs.

[2020-07-07 03:09] hardikjain0309 commented on #11434
[https://codesandbox.io/s/wandering-bird-vmtf1](url)

I thought the repro might be difficult but this was really easy. I guess beta docs really is broken

[2020-07-07 03:44] v-yafeili opened #11443 "how can build component json"
like this:
[{button:[{name:"with text", showult:"/button--with-text"}]}]

[2020-07-07 03:44] shilman commented on #11434
No, I think it's just your example that's pretty badly broken. Did you follow the upgrade instructions in https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#from-version-53x-to-60x

[2020-07-07 03:52] #10542 closed

[2020-07-07 04:01] shilman commented on #11373
@brandonpittman if it helps, here's a template for codesandbox: https://gist.github.com/yannbf/d7a32cfe697e71489db00bfd50e7ab5c

a standalone github repo would also be great

[2020-07-07 04:05] shilman commented on #11434
A couple things jumped out from a quick look at the example:
1. you're not using the docs preset, so there are lots of configuration changes in 6.0. i'd really recommend using the docs preset unless you have a good reason not to
2. there's no CRA preset https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#cra-preset-removed

Lack of docs preset would explain why there is no JSDoc extrac

[2020-07-07 04:29] hardikjain0309 commented on #11434
I am not using CRA so wont be using the cra-preset. Also, how to use the docs preset?

[2020-07-07 05:03] hardikjain0309 commented on #11434
Ok I tried the main.js:

[code]

Btw I was unable to find the docs on how to use this preset, and had to go through https://medium.com/storybookjs/storybook-docspage-e185bc3622bf
can we put this in the documentation for addon-docs? And now the docs don't show vertical scroll bars but instead of args not supported I am seeing the error

![image](https://user-images.githubusercontent.com/40684057/86

[2020-07-07 05:11] hardikjain0309 commented on #11434
Finally, this worked for me

typescript: {
    // also valid 'react-docgen-typescript' | false
    reactDocgen: "react-docgen"
  }

That means react-docgen-typescript has some corner case my code isnt passing. Thanks for all the help!

![image](https://user-images.githubusercontent.com/40684057/86716056-73b57a80-c03e-11ea-8ed9-3bef7ab2cb6d.png)

[2020-07-07 05:29] #11434 closed

[2020-07-07 05:45] LinusBorg commented on #10654
We don't think or aim for Vite to become "the" tooling. A great number of projects will need the power and flexibility that webpack provides, and vite's goal is not to cater to all of these needs.

So I wouldn't worry too much about vite for now, and certainly not for the Vue3 support for storybook itself.

[2020-07-07 05:45] sag1v commented on #4840
Got the same problem, shame this got closed though

[2020-07-07 06:24] shunyue1320 commented on #10477
###  Latest solution:
[code]
### 亲测有效！！!

[2020-07-07 07:00] DanWahlin commented on #11439
Thanks for posting this - appreciate it. Been fighting that exact error for a day but it's related to a custom addon in the project:

[code]

This loads register.js fine but the .jsx inside of the addon gives the 'jsx' isn't currently enabled error when trying to load a `storybookPanel.jsx` file in the sourcecode-addon folder.

Changed it to:

[code]

But, now I get a "Cannot find module './.story

[2020-07-07 07:03] jijigo commented on #3949
I found now should need `lessOptions` in the options object
it's work now. Thanks!

[code]

[2020-07-07 07:17] ndelangen commented on #11321
Refs are currently configured with their 'base' path:
`https://example.com` rather then their full path`https://example.com/iframe.html`.

if I want to add some query parameter, I need to store that on the ComposedRef object; and then append it in the IframesRenderer. WDYT @tmeasday ?

[2020-07-07 08:24] akhilesh85 commented on #11391
Hi Shilman,

Thanks. I managed to upgrade to beta-44. When I upgraded it gave some errors. I have some .scss files in my workspace hence I had to install sass-loader css-loader and style-loader of webpack as part of preset-scss storybook presets.

**On running the storybook, I got the below error**:

[0] multi ./node_modules/@storybook/core/dist/server/common/polyfills.js ./node_modules/@storybook

[2020-07-07 08:28] tmeasday commented on #11321
@ndelangen that sounds ok although won't we need to also do the appending in the `fetch`-es in `refs.js` (e.g. for `/stories.json`?)

[2020-07-07 08:54] ndelangen commented on #11321
yeah that's right

[2020-07-07 09:16] yannbf commented on #11443
Hey @v-yafeili thanks for opening an issue with Storybook! I'd suggest you to elaborate your questions a bit more on future issues so we can provide you with better support. There's a great template that you can use!

For assistance in building your components with Storybook server, please check the following docs:
https://github.com/storybookjs/storybook/tree/next/app/server#getting-started

And

[2020-07-07 10:11] kelvin-evari opened #11446 "Visual testing fail consistently after 100 tests"
**Describe the bug**
We are using `storybook`, `storyshots`, and `addon-storyshots-puppeteer` to perform visual testing on both local and CI environments. Everything works fine as long as the number of stories is less than 100. Once that number is higher, the CI's visual testing keeps failing for all tests after the 100th one. However, the local machine (using Docker to simulate the CI environment

[2020-07-07 10:21] shilman commented on #11434
@hardikjain0309 glad you got it working! FYI, the installation instructions are here:

https://github.com/storybookjs/storybook/blob/next/addons/docs/README.md#installation

Specifically:

[code]

When you don't add `/register` to the end, it uses the preset, which pre-configures a lot of stuff for you.

Here's another variant of that a little bit lower in the same file:

 Here's an example of how

[2020-07-07 10:28] jonnysmith1981 commented on #11394
Complete non-issue. Closing.

[2020-07-07 10:28] #11394 closed

[2020-07-07 10:54] jasancheg commented on #9625
Hi @Remeic, do you run the app in the simulator or a device after run the web ui of storybook? Note that "your stories will only show up in the left-pane after your device has connected to this storybook server". You can see this note is in the welcome page of the web UI.

![Screen Shot 2020-07-07 at 04 41 52](https://user-images.githubusercontent.com/204084/86770358-d17d9e80-c00d-11ea-92aa-1ee653

[2020-07-07 12:59] Aaron-Pool commented on #10654
@LinusBorg the reason I specifically brought that up is that we often ran into a similar issue with Vue 2, where 90% of the community created their projects with vue-cli, and the fact that storybook couldn't detect and use a Vue-cli managed build system caused a substantial amount of confusion for Vue users.

Do you not see us running into a similar issue with vite as people try to integrate story

[2020-07-07 13:12] shilman commented on #11439
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.45 containing PR #11448 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-07 13:12] #11439 closed

[2020-07-07 14:01] bkiac commented on #6188
In storybook^6.0.0 beta one of the rules had an array as the test field for me like this: `[ /\.stories\.(jsx?$|tsx?$)/ ]`, so the code above fails.
This is my `.storybook/webpack.config.js` which disregards arrays:
[code]

[2020-07-07 15:01] #9185 closed

[2020-07-07 15:21] mklanjsek commented on #11228
@shilman Unfortunately I do not have the reproduce case anymore. We worked around the problem by temporarily changing the story tree structure - basically changing the story tree pattern from `Octant/Components/[ComponentXYZ]` to `Octant/[ComponentXYZ]/[ComponentXYZ]`.  That may give you some clues for reproducing the problem - basically all stories that have identical 2nd level in tree structure

[2020-07-07 15:28] jpzwarte opened #11451 "addParameters deprecation warning is also triggered by addons"
With the latest beta, the `addParameters` deprecation warning about `preview.js` is also triggered when `addParameters` is called by an addon. This can be confusing since a user may think he still needs to change something in `preview.js`.

To be clear: the deprecation warning still persists even after you have changed `preview.js` to use `export const parameters = {...};`.

I traced one such depr

[2020-07-07 15:38] udahari commented on #11373
I got this error too because of this @shilman , if I remove the resolve then it's run well

[code]

this is my Webpack final

[code]

[2020-07-07 16:59] LinusBorg commented on #10654
not really, no. Vite itself is pretty bare-bones compared to a Vue CLI setup.

What Vite provides is covered by any simple Webpack config that has rules for handling `.vue`, `ts(x)` and `.css` files. And while it *is* extensible, that API is pretty close to the metal so we don't expect people adding custom transforms and stuff left and right.

It doesn't have an extensive  plugin API by design. if

[2020-07-07 17:15] akhilesh85 opened #11452 "[Bug] Addon Controls Issue with CSF and MDX format in Angular 7"
**Describe the bug**
1. When the MDX template is used in Angular, controls are not functioning properly.
- The args are not read by the story.
- The documentation to set up and use controls was not present. I had a hard time to come up with a syntax that worked wit Angular
- The Default value does not show up, not sure how to configure a default value.
- When we edit the controls in the Canvas and

[2020-07-07 17:26] Aaron-Pool commented on #10654
@LinusBorg Ok, that makes sense. Thankful for the input 👍  Any guidance from the Core Vue team is always very appreciated!

[2020-07-07 17:36] akhilesh85 commented on #11391
I was able to resolve the above error in my angular 7 workspace.

I had to upgrade core-js from 2.6.11 to 3.6.5 and downgrade sass-loader from 8.0.2 to 7.3.1. In addition to this, I had to add some path entries in my tsconfig.json. https://github.com/zloirock/core-js/issues/573#issuecomment-501254872

[2020-07-07 17:36] #11391 closed

[2020-07-07 20:05] LinusBorg commented on #10654
Thanks for the work everyone is putting into storybook, can't wait to use it for my Vue 3 project :)

[2020-07-07 21:31] ericsoco commented on #4996
Possibly? Though not likely I'll have time until Aug/Sept. Is @evexoio 's approach the right one? If something needs to change, can you please clarify (to someone unfamiliar w/ the codebase except as an end user) what/how?

[2020-07-08 04:33] shilman commented on #6915
Backgrounds has been overhauled in 6.0 and works properly now https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#backgrounds-addon-has-a-new-api

[2020-07-08 04:33] #6915 closed

[2020-07-08 04:39] shilman opened #11459 "Backgrounds: Sensible zero config defaults"
When you add the backgrounds addon to your Storybook, it should ship with sensible defaults:

- no selected background (transparent so it doesn't conflict with themes)
- light/dark options in the menu

[2020-07-08 05:38] nnennajohn commented on #9311
Hi @shilman, I got here from this thread: https://github.com/storybookjs/storybook/issues/7066#issuecomment-594922094

Is there now a way to make the Docs tab default? Thank you.

[2020-07-08 09:17] shilman commented on #11321
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.46 containing PR #11447 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-08 09:17] shilman commented on #11371
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.46 containing PR #11392 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-08 09:17] shilman commented on #11442
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.46 containing PR #11458 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-08 09:17] shilman commented on #11451
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.46 containing PR #11455 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-08 09:17] shilman commented on #11459
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.46 containing PR #11460 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-08 09:17] #11321 closed

[2020-07-08 09:17] #11371 closed

[2020-07-08 09:17] #11451 closed

[2020-07-08 09:17] #11459 closed

[2020-07-08 09:21] Muneem commented on #4254
It's kind of weird behaviour. There should be menu icon through which we can show or hide sidebar

[2020-07-08 09:23] akhilesh85 commented on #11452
Hi @shilman,

Sorry for updating the content of the bug multiple times. I wanted t cover all the issues together. Please have a look at them. I have also added a gif that can give you more insights on the issue. Hope this would help your team :).

Regards,
Akhilesh

[2020-07-08 10:27] nicholasbraun-de commented on #9921
I'm having the same issue when following @shilman 's gist: https://gist.github.com/shilman/bc9cbedb2a7efb5ec6710337cbd20c0c

package.json:
[code]

[2020-07-08 10:34] nicholasbraun-de commented on #9921
It works however, when I give the `children` prop a comment:

[code]

[2020-07-08 11:56] davidstromback commented on #9889
Bump

[2020-07-08 12:56] ghengeveld commented on #9311
@nnennajohn See https://github.com/storybookjs/storybook/issues/7066#issuecomment-531334139

[2020-07-08 13:15] irongollem commented on #10204
I have the same issue with a vue app

[2020-07-08 13:49] amcsi commented on #9805
I'm interested in dynamically creating stories with loops as well. Please reopen this ticket.

[2020-07-08 13:59] doglasbatista opened #11465 "Addon-docs: Doesn't render values within objects"
**Describe the bug**

This is my code:

`GridContainer.tsx`
[code]

`variables.ts`
[code]

And this is the generated doc table

![image](https://user-images.githubusercontent.com/5438099/86925556-67e1bb00-c107-11ea-932b-bd224d72cee0.png)

**Expected behavior**
Print `grid` object value in the "default" column

**System:**
OS: macOS 10.15.4
    CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz

[2020-07-08 14:36] dpouliot opened #11466 "[Storybook 6.0.0-rc.0] build fails on sass-loader"
**Describe the bug**
I'm testing upgrading my storybook 5.3 repo to 6. I haven't changed the `webpack.config.js`, but Storybook fails on build with:
[code]

**Code snippets**
[code]
**System:**
Environment Info:

  System:
    OS: macOS Mojave 10.14.6
    CPU: (12) x64 Intel(R) Core(TM) i9-8950HK CPU @ 2.90GHz
  Binaries:
    Node: 10.21.0 - /usr/local/bin/node
    Yarn: 1.18.0 - /usr/local/Cellar

[2020-07-08 16:35] Remeic commented on #9625
Hi, sorry for delay.
Yes i run app on my device, and on device i can view default stories as CenteredView
![image](https://user-images.githubusercontent.com/7298302/86945719-a6986500-c149-11ea-87b6-f924cf38d411.png)
On webpage i don't see anything, only loading animation.
No error in console and in terminal

[2020-07-08 16:49] JeffWeim opened #11467 "Addon-docs: Custom source snippet not rendering"
**Describe the bug**
In the latest docs for `addon-docs` there is a [section](https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/recipes.md#customizing-source-snippets) describing how to customize the source code shown in the docs tab. However, when I try to use a custom snippet in a CSF file it does not seem to work (See code snippet below).

**To Reproduce**
Steps to reproduce t

[2020-07-08 17:34] aminimalanimal commented on #4445
fwiw, with the new exported story format, it goes under `parameters`:

[code]

[2020-07-08 17:58] SethDavenport commented on #9084
@ian-callaghan I'm actually struggling to implement your workaround because storyshots doesn't seem to find any CSF stories for me, only the old-style `storiesOf` stories.  This open issue suggests that CSF doesn't work with storyshots so I'm curious how you got it working: https://github.com/storybookjs/storybook/issues/10673

Storybook 5.3.19 FWIW

[2020-07-08 18:11] SethDavenport commented on #10673
I'm seeing the same issue

[2020-07-08 18:23] domyen opened #11468 "Menu tooltip is not aligned in 6.0 RC"
**Describe the bug**
The menu tooltip is misaligned. It was caused by [these styles](https://github.com/storybookjs/storybook/commit/e1425c90660833b183f1e321f5d117d1d0fb1fe9#diff-4375d40e4d5c41d7a7a5aef77e493c29R44) committed in [this PR](https://github.com/storybookjs/storybook/pull/9210).

![image](https://user-images.githubusercontent.com/263385/86955735-0ed54f80-c126-11ea-8e93-0dfacfca8ecf.png

[2020-07-08 18:36] SethDavenport commented on #9084
Red herring, sorry. CSF does work as long as you get the config right 🤦

[2020-07-08 19:25] domyen opened #11470 "Menu tooltip shows scrollbar"
**Describe the bug**
The menu tooltip shows a scrollbar when more links can fit on the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to latest [official SB on next](https://next--storybookjs.netlify.app/official-storybook/?path=/story/addons-a11y-basebutton--default)
2. Click on menu
3. See scrollbar

**Expected behavior**
It shouldn't show the scrollbar.

**Screenshots**
![image]

[2020-07-08 21:35] shilman commented on #11452
@akhilesh85 Thanks for the issue, I will take a look in the next few days.

Re: formats, you should use either CSF or MDX. CSF is the "safest" one because it's core. MDX compiles to CSF internally, and should be getting [v2 improvements](https://github.com/mdx-js/mdx/issues/1041) soon. `storiesOf` was our external API for years, and is now our internal API. At some point in the future we may place

[2020-07-08 21:40] shilman commented on #11465
There are too many props-related issues to support on both SB5 and SB6, so please upgrade to SB6 with `npx sb@next upgrade --prerelease` and if it's still an issue I'm happy to investigate.

[2020-07-08 21:42] shilman commented on #11466
So to confirm, this config was working fine in 5.3 and is now failing in 6.0?

[2020-07-08 23:08] amacleay-cohere commented on #5882
I found myself in a situation where our storybook webpack config was a little more complex and @piotrkrajewskicn 's excellent workaround wasn't quite enough (the rule was hidden in a `oneOf`) - the following is what I settled on:
[code]
Hope someone finds this helpful!

[2020-07-09 03:14] BPScott opened #11474 "Toolbars: Should show name if no icon is configured"
**Is your feature request related to a problem? Please describe.**

I'm not a fan of mystery-meat navigation. I like to see what an item in a toolbar does without needing to hover over it to see a tooltip. That's why [when configuring addon-controls I specify a title but no icon](https://github.com/Shopify/polaris-react/blob/master/.storybook/preview.js#L74-L104) and it [shows the title text ("New

[2020-07-09 06:01] sami616 commented on #11019
Is it worth reopening this issue, or happy to create a new one.

[2020-07-09 07:27] shilman commented on #11019
I did more research and I think this is actually an issue with `react-docgen-typescript`. Will try to create a repro and file an issue there. Opening this in the meantime.

[2020-07-09 07:34] shilman commented on #11474
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.1 containing PR #11475 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-09 07:34] #11474 closed

[2020-07-09 08:03] #11440 closed

[2020-07-09 08:45] Sunbreak commented on #9183
This project seems promising of `dart` with `webpack`

https://github.com/learn-flutter-dev/flutter-widget-livebook

[2020-07-09 09:44] krechtern opened #11480 "[Angular] ngOnChanges called twice (custom component selector)"
**Describe the bug**
Hey, I wrote a story with knobs-addon to render a component state. I defined four inputs and pass them via `props: {..}`.

[code]

Now the `ngOnChanges` function of my component will be called twice. The first time with my defined props as changes stating these are the first changes. Which is correct. Then ngOnChanges is called a second them with `tableOptions` and `sortConfig

[2020-07-09 10:07] krechtern commented on #11480
Ok, I found the problem. We use a non-standard selector for this component to force specific inputs to be set. In this example we have the selector `overview-table[tableOptions][sortConfig]`. The inputs `tableOptions` and `sortConfig` inputs are mandatory for the component to work correctly.

With storybook this doesn't seems to work with storybook. If I change the selector to default `overview-ta

[2020-07-09 10:49] bard commented on #11377
No longer happening with current version. Closing.

[2020-07-09 12:28] MahdiAbdi commented on #5721
In my case, the problem was that I forgot to import the hook I was using.

[2020-07-09 12:56] dpouliot commented on #11466
Yes.

[2020-07-09 13:20] corysimmons opened #11482 "options addon link in README 404s"
![image](https://user-images.githubusercontent.com/224636/87044893-2ca5c180-c1c5-11ea-822f-9f6cfc70e7b3.png)

Seems like it was deprecated/removed from addons folder: https://www.npmjs.com/package/@storybook/addon-options

Maybe point it to https://storybook.js.org/docs/configurations/options-parameter/ or just remove it to avoid confusion?

[2020-07-09 14:00] bard commented on #11312
I hacked around this in the code base I'm working. Here's the summary in case someone finds this through a search.

- If your project was created with create-react-app and you're using `@storybook/preset-create-react-app`, you shouldn't need to worry about anything, because project and Storybook will be using compatible webpack configurations.
- If you're adding Storybook to an existing project wi

[2020-07-09 14:14] corysimmons commented on #6364
For installs that have `main.js` (i.e. you ran `npx -p @storybook/cli sb init` in a CreateReactApp project), just add `preview.js` as a sibling then do this:

[code]

If it complains one of those loaders isn't installed (they should be if it's a CRA project), just manually install them (i.e. `yarn add style-loader css-loader`).

Lock thread so people can just jump to bottom for solution when the u

[2020-07-09 15:14] doglasbatista commented on #11465
The error continues even with the version 6.0.0-rc.1 :disappointed:

npmPackages:
    @storybook/addon-actions: 6.0.0-rc.1 => 6.0.0-rc.1
    @storybook/addon-docs: 6.0.0-rc.1 => 6.0.0-rc.1
    @storybook/addon-knobs: 6.0.0-rc.1 => 6.0.0-rc.1
    @storybook/addon-links: 6.0.0-rc.1 => 6.0.0-rc.1
    @storybook/addon-storysource: 6.0.0-rc.1 => 6.0.0-rc.1
    @storybook/addons: 6.0.0-rc.1 => 6.0.0-rc.

[2020-07-09 15:24] domyen opened #11483 "About, release notes, keyboard shortcuts pages go blank"
**Describe the bug**
When I go to about, release notes, or keyboard shortcuts page in the [latest built Storybook for `next`](https://next--storybookjs.netlify.app/official-storybook/?path=/settings/release-notes), the page goes blank.

[Video of that here](https://www.loom.com/share/79ea9ef961024134bce9ee21100068f8)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://next--storybo

[2020-07-09 15:26] domyen opened #11484 "Release notes error"
**Describe the bug**
When I go to the release notes page on localhost I get an error about "X-frame options".

![image](https://user-images.githubusercontent.com/263385/87058114-ae9de680-c1d5-11ea-9794-bf1497e23ff2.png)

![image](https://user-images.githubusercontent.com/263385/87058130-b3fb3100-c1d5-11ea-87b6-d5489ee2866a.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Run Storybook of

[2020-07-09 16:00] shilman commented on #11465
Thanks for upgrading. I’ll give it a look during the RC period!

[2020-07-09 17:00] undefinederror opened #11485 "@storybook/addon-controls -- Uncaught TypeError: (0 , _api.useArgTypes) is not a function"
As soon as I add @storybook/addon-controls in main.js addons I get a blank page in browser and these errors in browser console

Warning: Cannot update during an existing state transition (such as within `render`). Render methods should be a pure function of props and state.
Warning: Failed prop type: Invalid prop `title` of type `function` supplied to `SafeTab`, expected `string`.
The above error

[2020-07-09 17:17] stefanhamburger opened #11486 "Addon-controls: Feature request to allow user-defined controls"
We are currently documenting our React components in Storybook, and decided to go straight to version 6.0 to make use of the new Args and Controls addons. During that work, we realised that the [choice of controls](https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#control-annotations) is very limited.

Here are some examples:
- We want users to select from a pre-defined

[2020-07-09 18:46] Hypnosphi commented on #11071
I can reproduce some scrollbar issues here: https://next--storybookjs.netlify.app/html-kitchen-sink/?path=/docs/addons-a11y--default

[2020-07-09 21:53] BPScott opened #11487 "Controls: Add mechanism to reset control state"
https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#template-stories demonstrates the power of template stories. It means I can write something like the following, leveraging a template and creating multiple stories with different args:

[code]

However after a fun day of editing controls in the addons panel, such as toggling `primary` to false in the `ButtonWithPrimary` s

[2020-07-09 21:58] codemonkey800 commented on #9889
ughh this issue is affecting me too, i'll spend some time looking into it later if no one else is going to 😆

[2020-07-09 23:14] Hypnosphi opened #11488 "global parameters declared using `export const parameters` are ignored in Storyshots"
**Describe the bug**
If I declare global parameters using `export const parameters` in `preview.js` as suggested in [`MIGRATION.md`](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#deprecated-addparameters-and-adddecorator), those are ignored in storyshots

**Code snippets**
[code]

[code]

Expected: `{foo: 'foo'}' is logged
Actual: it's not logged

**System:**
[code]

[2020-07-09 23:36] Hypnosphi opened #11489 "A11y addon ignores inherited parameters"
**Describe the bug**
A11y addon only takes into account own story parameters, not the inherited ones

**To Reproduce**
- Apply following patch:
[code]
- run `yarn start`
- go to `http://localhost:9011/?path=/story/ui-panel--default`, switch to accessibility tab

**Expected behavior**
No violations reported, because `color-contrast` rule should be disabled.

It works correctly if I define the param

[2020-07-10 02:25] shilman commented on #11485
5.x and 6.x not compatible, you need to upgrade all your packages:
[code]

[2020-07-10 02:25] #11485 closed

[2020-07-10 02:28] shilman commented on #11312
When Storybook runs with `preset-create-react-app` it discards nearly all of Storybook's settings and replaces them with CRA's, so addressing Typescript issues in `preset-cra` is necessary.

[2020-07-10 02:29] shilman commented on #11312
cc @mrmckeb about the workaround ☝️

[2020-07-10 03:01] vvanpo opened #11492 "@storybook/vue floods my console with peer dependency warnings on every upgrade"
**Describe the bug**

Installing `@storybook/vue` 6 generates a lot of peer dependency warnings, mostly for React and Typescript dependencies. My project uses neither of those things, so it's odd that I'm expected to supply them. If `@storybook/core` or the like has a dependency on React, it would be reasonable for `@storybook/vue` to fulfill that dependency in its package definition, rather than

[2020-07-10 03:05] vvanpo commented on #11492
I should also note that the `babel-preset-vue` dependency in the documentation isn't actually listed as a peer dependency: https://github.com/storybookjs/storybook/blob/v6.0.0-rc.1/app/vue/package.json#L54
It's also unmaintained and only relevant for JSX, so I don't think most users will actually need it.

[2020-07-10 03:12] vvanpo commented on #11492
I should also note that these warnings appear to be unnecessary, I've been using Storybook 6 for a while and have just ignored those warnings, I'm just reminded of them every time I `yarn upgrade`.

If I do `yarn why react`, it'll tell me it's being hoisted from a number of sources:
[code]

What's even more odd is that `@storybook/vue` lists `ts-loader` both as a dependency and a peer dependency:

[2020-07-10 07:24] undefinederror commented on #11485
Hi @shilman,
Thanks for the reply.
It does indeed work if upgrading everything to 6.x. :+1:

Is this the only way to use @storybook/addon-controls? Since I see that it doesn't have any release 5.x.
If so I feel like documentation could definitely benefit from an extra line about that.

![image](https://user-images.githubusercontent.com/8209966/87126389-6392da80-c28c-11ea-8978-fa2716cf6112.png)

[2020-07-10 08:11] sami616 commented on #11019
ah okay, brill thanks @shilman !

[2020-07-10 08:15] michielmetcake opened #11493 "Text knob is not rendering special character as expected"
**Describe the bug**
Text knob is escaping the value in the canvas. When using the '&' in the text knob the rendered value of '&' is equal to '&amp'

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://next--storybookjs.netlify.app/official-storybook/?path=/story/addons-knobs-withknobs--tweaks-static-values
2. Click on 'knobs' tab
3. Scroll down to the 'name' input
4. Change name to

[2020-07-10 11:14] undefinederror opened #11494 "@storybook/addon-controls with vuejs, props show up only if statically typed"
**Describe the bug**
props come up in the controls tab only when statically typed

**To Reproduce**
I have a `schema.js` file when I keep the component props

[code]
Then in my component
[code]

This unfortunately doesn't populate props

![image](https://user-images.githubusercontent.com/8209966/87148054-f85a0000-c2ad-11ea-9b06-86b72937d99e.png)

If I copy paste the content of `schema.js` in  `pro

[2020-07-10 12:31] shilman commented on #11494
@elevatebart do you know anything about this?

As a workaround you can manually define argTypes for your component: https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#my-controls-arent-being-auto-generated-what-should-i-do

[2020-07-10 12:43] elevatebart commented on #11494
I do know anything about it.

The static analyser vue-docgen-api is very fast because it does not compile nor loads any extra file that it does not understand.

I have wanted to solve this for a while: to be able to define prop definitions in a variable then use this variable in the props. Then it would matter very little if the variable is in the same file or not. If the type definition is a vari

[2020-07-10 13:32] shilman commented on #11494
@elevatebart thanks for the fast reply! given we have a workaround i don't think it's critical on the storybook side. but i guess you have another potential user here in @undefinederror if you do manage to solve it. 🚀

[2020-07-10 14:16] shilman commented on #8096
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.2 containing PR #11495 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-07-10 14:16] shilman commented on #10794
Jiminy cricket!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.2 containing PR #11422 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-10 14:16] shilman commented on #11108
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.2 containing PR #11476 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-07-10 14:16] shilman commented on #11468
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.2 containing PR #11469 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-10 14:16] shilman commented on #11470
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.2 containing PR #11471 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-10 14:16] #11468 closed

[2020-07-10 14:16] #11470 closed

[2020-07-10 14:16] #10794 closed

[2020-07-10 14:27] fernandopasik opened #11496 "Knobs/Controls add-ons fail to update UI when using Zero config typescript"
**Describe the bug**
Using zero config typescript the addons knobs and controls do not update the ui one the value is changed in the control.
I'm using web components.

**To Reproduce**
Steps to reproduce the behavior:
1. Start storybook with zero config typescript
2. Open a story with controls or knobs
3. change the value of the control
4. UI keeps the same with the default value.

**Expected beh

[2020-07-10 14:37] fernandopasik commented on #11496
My project https://github.com/fernandopasik/hello-web-components has a custom config for typescript that works good. And I have a branch in the repo https://github.com/fernandopasik/hello-web-components/tree/ts-zero-config where the bug can be reproduced.

[2020-07-10 15:59] hipstersmoothie commented on #11019
I now have time to take a look at this. Set up a repo and i'll fix both ASAP

[2020-07-10 16:05] sami616 commented on #11019
Hi @hipstersmoothie this should show it in action, its not just affecting unions, i noticed other controls like booleans for example aren't rendering as checkboxes.

https://github.com/sami616/sb-ts-union-regression

[2020-07-10 16:22] hipstersmoothie commented on #11019
Awesome, thanks!

[2020-07-10 16:39] hipstersmoothie commented on #11019
@shilman where does `sbType` get set?

[2020-07-10 16:39] shilman commented on #11019
@hipstersmoothie Sorry it's after midnight here and I don't have time to create a repro for you, but here's what I found while investigating this issue. AFAICT `react-docgen-typescript` (or the plugin?) behaves inconsistently in a variety of cases.

Here are the variables, and note that these variables combine to make different permutations.

## Whether the component is exported as a named export

[2020-07-10 16:43] shilman commented on #11019
@hipstersmoothie `sbType` gets set here: https://github.com/storybookjs/storybook/blob/next/addons/docs/src/lib/docgen/createPropDef.ts#L76

It's a little confusing because a few lines below you'll see one for Typescript. As I recall, that one gets called in the `react-docgen` Typescript case. `react-docgen-typescript` outputs data in a format that matches `propTypes`, so I think its output is act

[2020-07-10 16:47] shilman commented on #11019
Another note on the "combinations of variables" thing above. In @sami616 's case you can see his component is defined a little weirdly:

https://github.com/sami616/sb-ts-union-regression/blob/master/src/Spinner/Spinner.tsx#L12-L19

I always use `FC<Props>`, and as I recall modifying that will modify the `react-docgen-typescript` output. Ideally we can create a big test matrix for all of these and

[2020-07-10 16:48] hipstersmoothie commented on #11019
This is the battle with react-docgen-typescript. There are 1000 ways you could define a component. A good thing though is that it has a great test setup. So if we find a case that doesn't work too well the easiest way to fix it is to [add a test file here](https://github.com/styleguidist/react-docgen-typescript/tree/master/src/__tests__/data) and notify me!

There really is no sure fire way of get

[2020-07-10 16:48] hipstersmoothie commented on #11019
Give me concise examples and I would be happy to fix those cases in `react-docgen-typescript`

[2020-07-10 16:51] hipstersmoothie commented on #11019
added some setting and I think this is what you want right? @sami616

![Screen Shot 2020-07-10 at 9 51 01 AM](https://user-images.githubusercontent.com/1192452/87178993-de5ef400-c292-11ea-935e-a535bd0f0943.png)

![Screen Shot 2020-07-10 at 9 51 31 AM](https://user-images.githubusercontent.com/1192452/87179030-f0d92d80-c292-11ea-84ec-c60dd071b97a.png)

[2020-07-10 16:53] hipstersmoothie commented on #11019
But as I said I'm happy to tackle any case RDT isn't already handling

[2020-07-10 16:55] sami616 commented on #11019
@hipstersmoothie wow, yes! magic. @shilman should these be defaults?

[2020-07-10 16:58] shilman commented on #11019
Awesome guys—thanks a ton!!! I’m going to hit the sack and do a pass at all this tomorrow. @hipstersmoothie You’re a hero for taking this on. @sami616 Thanks for raising the issue. Those should probably be added to the defaults

[2020-07-10 17:07] dej611 opened #11498 "Storybook Docs custom Preview component access to Story source code"
**Is your feature request related to a problem? Please describe.**
I'm trying to build a documentation with Storybook and migrating to the new addon-docs tool.
One more feature I tried to implement was a link to open the story source code in tools such CodeSandbox or Stackblitz.

So far I tried the following things in a `mdx` file:
* Create a custom `MyPreview` component where I try to access to t

[2020-07-10 17:14] mchl18 opened #11499 "Storybook for Angular nrwl/nx Multi-Tenant Monorepo - selects first project but should take a name as parameter"
**Is your feature request related to a problem? Please describe.**

Hello,

while running storybook in a multi tenant monorepo we discovered a problem while loading configs. This happens when using `@nx/storybook`. It loads the correct storybook config but not the correct angular config.

Currently the storybook inetgration with angular cli only lets us use a default-project for compilation. If th

[2020-07-10 17:16] matheo commented on #11304
@ndelangen it seems that my preview is only including the `base-preview-head.html`, the rest are `emotion` styles loaded dynamically. There's something we can do with webpack config to restore the styles imported from the `preview.js`?

[2020-07-10 17:46] jpzwarte opened #11500 "Allow for logging additional data with an action"
So current action API does not allow for logging additional (dynamic) data. When i expand an action in the "Actions" tab, i always see `isTrusted: true` (using `@storybook/web-components` here).

Some use cases:
- Log `event.detail` in case of `CustomEvent`s emitted from my web components (make this work automatically if `detail` is present?)
- Log some component state as part of the event (whethe

[2020-07-10 17:50] undefinederror commented on #11494
Hey @elevatebart indeed should you manage to solve this I'd be first in line to try it out 😄

Thank you @shilman, yes I can do with the `argTypes` workaround for now. I can parse my schema.js and convert into argTypes format.

I am experiencing another weird issue though with the component in canvas not being reactive, while the same component in Docs is.
I am going to open a dedicated issue for t

[2020-07-10 18:06] undefinederror opened #11501 "@storybook/addon-controls with vuejs, component reactive in docs while not reactive in canvas"
My component is reactive only in Docs tab.

My story
[code]

Controls are populated correctly, defaults included. Though when I start typing the component doesn't update

![image](https://user-images.githubusercontent.com/8209966/87184175-cfeef780-c2e7-11ea-8d57-b026ea775a09.png)

I can see the args, being logged on each input event, but component doesn't get remounted

![image](https://user-image

[2020-07-10 18:07] sami616 commented on #11019
After having set these options, i'm seeing all the native html attributes that are part of my interface, which isnt really desired - is there a way around this guys?

[2020-07-10 18:09] hipstersmoothie commented on #11019
[There is a `propFilter` function.](https://github.com/styleguidist/react-docgen-typescript/#propfilter)

[code]

[2020-07-10 18:11] shilman commented on #11019
yeah there are already a few default options, and by setting the new options you're overwriting those defaults

https://github.com/storybookjs/storybook/blob/next/lib/core/src/server/config/defaults.js

[2020-07-10 18:15] shilman commented on #11501
Take a look at the recommended pattern here:

https://github.com/storybookjs/storybook/blob/next/examples/vue-kitchen-sink/src/stories/addon-controls.stories.js#L11-L15

[2020-07-10 18:16] shilman commented on #11498
@kevin940726 is this something you can help with?

[2020-07-10 18:25] dej611 commented on #11498
Just to leave a little bit more context, sorry the pun, I've already looked at the [remark-codesandbox](https://github.com/kevin940726/remark-codesandbox) integration (which is great btw!) but in my case I need the Story source code access. :)

[2020-07-10 18:50] sami616 commented on #11019
@shilman  ah i see! i've re-added the propfilter option for now, (all those controls were crashing my browser!) can these be merged into the default object instead for custom setups?

[2020-07-10 18:55] denimamab commented on #6204
Same issue with the version 5.3.19 while dealing with the migration from core-js v2 to v3

[2020-07-10 19:28] abt86croz commented on #9805
please send me info.

On Wed, Jul 8, 2020 at 9:49 AM Attila Szeremi <notifications@github.com>
wrote:

--
*Albemarle Ballet Theatre*
*www.abtdance.org <http://www.abtdance.org>*
*(434) 823-8888*
-- <https://www.youtube.com/watch?v=evsz4_AL2Hg>

[2020-07-10 20:22] BPScott commented on #11492
Tagging various peer dependencies as optional I think would help some of the warnings under storybook's control: https://github.com/yarnpkg/rfcs/blob/master/accepted/0000-optional-peer-dependencies.md

I think the inverse

[2020-07-10 20:35] matheo commented on #11304
Ok, I went through the commits and didn't find a relevant change
so I went back to my webpack config to compare the rules loading the CSS files.

I found this on my latest installation with rc2:
[code]
but I saw another defaults being set by `@storybook/core`,
and after modifying this config to fic the storybook defaults:
[code]
it worked!

Holy cow, I've tried to search who's setting this inside

[2020-07-10 20:35] #11304 closed

[2020-07-10 20:38] matheo commented on #11304
yes, `@angular-devkit/build-angular` does that, I didn't know that it was able to do it!
[code]
Nice to know tho

[2020-07-10 22:55] mesqueeb commented on #11494
I'm personally not a fan of extracting the entire "props" section into a separate "schema.js", so I'm not sure. 😅

I am more interested in allowing JSDoc typedefs like so:
<img width="440" alt="image" src="https://user-images.githubusercontent.com/3253920/87209109-bda6a500-c34b-11ea-9dec-7fa7d53a615f.png">

And then have the actual type of this typedef provided in the JSON that `vue-docgen` provid

[2020-07-11 00:19] shilman commented on #11498
Aha, sorry I didn't read the issue closely--I was just heading to sleep when I read this. The `SourceContext` is provided by the `SourceContainer` component, which is instantiated in the `DocsContainer` component:

https://github.com/storybookjs/storybook/blob/next/addons/docs/src/blocks/DocsContainer.tsx#L79

I'm not sure why you wouldn't be able to access context from within your DocBlock... 🤔

[2020-07-11 01:20] ron23 commented on #10662
I have same issue. Using clean rc 6.0.2.
When I say clean I mean I ran the cli to regenerate the configs

[code]

[2020-07-11 01:28] nad182 opened #11504 "Webpack build failing when setting args for React storybook component"
**Describe the bug**
When running start-storybook script in React project with Typescript, the script is failing during the webpack build stage at 70% if I'm trying to set `args` for the component. If args are not being set, the build is successful, but the storybook is empty.

An example of `args`:
[code]

**To Reproduce**

**Expected behavior**
Successful webpack build.

**Screenshots**

**Code

[2020-07-11 01:33] #10840 closed

[2020-07-11 01:33] #10849 closed

[2020-07-11 01:33] #10594 closed

[2020-07-11 02:32] #10827 closed

[2020-07-11 02:32] #10824 closed

[2020-07-11 02:32] #10820 closed

[2020-07-11 02:32] #10809 closed

[2020-07-11 03:13] shilman commented on #11019
@hipstersmoothie @sami616 when I add `shouldRemoveUndefinedFromOptional: true` I get the following error in `cra-ts-kitchen-sink`, both on CI and also on my local dev machine:

[code]

I'm running `RDTL@3.7.2` and and `RDTP@0.5.1`, both of which are the latest versions.

UPDATE: It looks like we're blocked on this: https://github.com/strothj/react-docgen-typescript-loader/pull/98

@hipstersmoothie

[2020-07-11 03:16] hipstersmoothie commented on #11019
I thought storybook stopped using that. This issue doesn’t exist in react-docgen-typescript-plugin

[2020-07-11 03:17] hipstersmoothie commented on #11019
I can take a look after dinner (around 1.5 hours)

[2020-07-11 04:36] jayarjo opened #11506 "addon-actions: actions that are triggered in `componentDidMount` are not logged"
**Describe the bug**
Actions that are triggered in `componentDidMount` are not logged.

I'm not entirely sure if that's intended, but would be great if `addon-actions` would log all actions somehow.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a prop function - `onComponentMount={action('onComponentMount')}`
2. Make sure you invoke it in `componentDidMount`
3. Notice that action is n

[2020-07-11 06:14] hipstersmoothie commented on #11019
Ehh a little tired. First thing tomorrow!

[2020-07-11 06:17] shilman commented on #11019
Storybook no longer uses RDTL directly. But AFAICT  `react-docgen-typescript-plugin` uses a function from `react-docgen-typescript-loader`

[2020-07-11 06:25] hipstersmoothie commented on #11019
oh you're right. that shouldn't effect the actual docgen though. will investigate soon!

[2020-07-11 06:27] sami616 commented on #11019
@shilman @hipstersmoothie thanks guys! This is awesome! 🤙🏼

[2020-07-11 06:35] shilman commented on #11019
NVM, it looks like a configuration issue in the monorepo example -- old version of preset-cra and preset-cra's RDTP dep is out of date... Will keep you guys posted!

[2020-07-11 07:14] jayarjo commented on #866
Is this fixed or not? I'm not sure.

[2020-07-11 08:14] jayarjo commented on #866
Setting Storybook title to the current story name is one problem. But there's another one - title of the preview iframe should be updated as well. Otherwise this happens:
![Screen Shot 2020-07-11 at 10 59 20 AM](https://user-images.githubusercontent.com/150075/87219872-fbb5c000-c36f-11ea-85fe-dd63c6d9b9d9.png)

Related: https://github.com/storybookjs/storybook/issues/522#issue-180174479

As a solu

[2020-07-11 08:42] shilman commented on #11019
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.3 containing PR #11503 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-11 08:42] #11019 closed

[2020-07-11 11:30] ajkl2533 commented on #7223
For me also no MDX stories are not picked up but I'm using `ts-jest` instead of `babel-jest` not sure if that can be the issue

[2020-07-11 12:04] akhilesh85 opened #11508 "[Angular 7] Warning "The Types mismatch" while using same argTypes in Controls addon"
**Describe the bug**
When there are two select option control arg types with the same name declared in two different stories have different data types. This warning popups up. The behavior is observed in the Angular 7 workspace on Mac. When I investigated the warning comes from merge.js in @storybook/api/dist/lib/merge.js

**To Reproduce**
Steps to reproduce the behavior:
1. Add the same argTypes

[2020-07-11 12:24] fernandopasik commented on #11291
I know it's related to that issue, but looks like that ticket will take further to be done.

Would it be ok as a solution for this to replace the loader with the official one?

[2020-07-11 13:17] akhilesh85 opened #11509 "Controls Addon - Ability to reset attributes of a story component"
**Is your feature request related to a problem? Please describe.**
While using Controls Addon like "select" we often choose an option from a dropdown and there is no way to select the initial state of the control. The scenario is explained in the gif screenshot shared. The only way to set to the initial state is t refresh the browser page.

**Describe the solution you'd like**
An ability to reset

[2020-07-11 14:50] mrmckeb commented on #11312
Yes, Storybook will never match a project's Webpack config unless the user sets it to. So you might be unlucky in some cases and you'll need to tweak Storybook to match your local config... the more we add to the base config, the more likely users are to hit compatibility issues.

I think we need to improve the story here, but I'm not sure how right now... something to think about for v7.

[2020-07-11 16:19] Lueton opened #11510 "Addon-docs: Exclude defaultProps from source"
It would be great if (if not already available) there was an option to exclude` defaultProps` from the source output.

**Button.tsx**
[code]

**Button.stories.mdx**
[code]

**current behavior of addon-docs source code**
[code]
**desired behavior**
[code]

[2020-07-11 17:40] Gieted opened #11511 "Yarn 2 support"
Both automatic and manual Storybook setups seams to fail, when using Yarn 2 (berry).

Steps to reproduce the behavior:
1. `yarn init -y`
2. `yarn set version berry`
3. `yarn install`
4. `npx -p @storybook/cli sb init --type html`

**Console output:**
![obraz](https://user-images.githubusercontent.com/35242233/87230056-5a4d5f00-c3ad-11ea-9c68-0bba246f991e.png)

**System:**
![obraz](https://user-ima

[2020-07-11 19:53] lukasholzer commented on #11125
@kroeder sorry hadn't had the time yet. Will try next week to squeeze some time into :D

[2020-07-11 20:07] hipstersmoothie commented on #11019
Is it all good now?

[2020-07-11 21:02] lostdesign commented on #11245
Isn't this also labeled wrong? I intended it to be a bug report.

[2020-07-11 21:30] BPScott commented on #11509
Duplicate of / highly related to #11487?

[2020-07-11 22:09] domyen commented on #11071
Likely related to this https://github.com/storybookjs/storybook/issues/11283

[2020-07-12 05:17] shilman commented on #11509
Yup closing as dupe

[2020-07-12 05:17] #11509 closed

[2020-07-12 05:19] akhilesh85 commented on #11509
Noted, Thanks. I will look forward for the feature to be available in the upcoming releases. 😊

[2020-07-12 05:24] sami616 commented on #11019
@hipstersmoothie seems good to me

[2020-07-12 06:31] stereodenis commented on #10942
It’s not stale

сб, 11 июля 2020 г. в 04:33, stale[bot] <notifications@github.com>:

[2020-07-12 08:41] #10586 closed

[2020-07-12 08:41] #10841 closed

[2020-07-12 08:41] #10716 closed

[2020-07-12 08:41] #10158 closed

[2020-07-12 08:41] #10327 closed

[2020-07-12 08:41] #10280 closed

[2020-07-12 08:41] #10412 closed

[2020-07-12 13:33] gaetanmaisse commented on #11511
@Gieted which version of Storybook are you trying to use?
Yarn 2 will start to be supported with Storybook 6 (see https://github.com/storybookjs/storybook/issues/9527 for details), there are still some issues with `addon-docs` but we are working on them!

You can give a try to Storybook 6 RC by running:
 - `npx -p @storybook/cli@next sb init --type html` or `yarn dlx -p @storybook/cli@next sb init

[2020-07-12 13:35] marb0 opened #11513 "addon-docs [6.0.0-rc3]: skip option in dynamic source rendering not doing anything"
**Describe the bug**
Upgraded from an older beta version of storybook 6 to the latest rc, and found some issues related to the new dynamic source rendering feature, introduced in pull request #11332

My sb setup is somewhat complicated, using custom decorators to setup the company-internal framework neded to display my components in storybook. When viewing the source in docs, i would like to show

[2020-07-12 13:56] marb0 opened #11514 "addon-docs [6.0.0-rc3]: child render props not showing with dynamic source rendering"
**Describe the bug**
In order to show my components in storybook, I use a custom decorator to setup an internal framework. A part of this internal framework is wrapping story code with a component utilizing child render props. However, this does not seem to work with dynamic source rendering, since the source output that I get cuts off at the component utilizing child render props.

**To Reproduce

[2020-07-12 16:12] DavidRouyer opened #11515 "Storybook 6 with Vue.js doesn't support optional chaining"
**Describe the bug**
Storybook 6 with Vue.js doesn't support optional chaining with the zero config TypeScript.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the https://github.com/storybookjs/storybook/tree/next/examples/vue-cli example
2. Add some code which uses optional chaining in `Button.vue`
[code]
3. See the error in console
[code]

**Expected behavior**
The code should not thr

[2020-07-12 17:35] chris-dura opened #11517 "addon-docs [6.0.0-rc.3]: HTML style comments not showing up in transcluded code blocks"
**Describe the bug**
Comments in fenced code blocks are not displayed when they're transcluded into the MDX story.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `.md` file with fenced code blocks containing an HTML style comment (``)
2. Transclude that `.md` file into a `.mdx` story using the `<Description>` block
3. Run storybook
4. HTML comments are not displayed

**Expected beh

[2020-07-13 01:13] Gieted commented on #11511
Sorry, I thought Yarn 2 support already is on @latest version.

[2020-07-13 01:13] #11511 closed

[2020-07-13 03:14] ron23 commented on #11466
Same issue here

[2020-07-13 04:21] brandonpittman commented on #11373
@shilman Not completely sure why, but the latest release candidate seems to have resolved this issue.

[2020-07-13 04:39] shilman commented on #11373
@brandonpittman hallelujah! ... but a little disappointing that this issue and the CJK one were both resolved "by accident." feels pretty haphazard, but at this point i'll take a win on this one any way i can get it

[2020-07-13 05:13] tmeasday commented on #11489
@tooppaaa - I dug into this issue a bit and the immediate bug is due to this line:

https://github.com/storybookjs/storybook/blob/badece61154f4cd372404786186125a7369e362f/addons/a11y/src/a11yRunner.ts#L46

Accessing both the variable on `window`, and specifically the private member (`_stories`) is not a great idea!

The simplest fix is to just use `fromId`: https://github.com/storybookjs/storybook

[2020-07-13 07:11] jpzwarte opened #11520 ""Show code" not properly positioned after switching tabs"
See the video.

Storybook 6.0.0-rc.3, on a mac Firefox Developer Edition.

[Screen Recording 2020-07-13 at 09.03.25.zip](https://github.com/storybookjs/storybook/files/4911075/Screen.Recording.2020-07-13.at.09.03.25.zip)

Reproducible in FF, not in Chrome.

[2020-07-13 08:34] jackysee opened #11521 "Storybook 6 Vue docgen cannot parse component file in ESM export from other file"
**Describe the bug**

When using vue component in its compiled form (esm), vue-docgen-api cannot extract the documentation if the component itself is exporting from other files.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone this repo `https://github.com/jackysee/storybookVueDocgenDemo`
2. run `npm ci`
3. run `npm run storybook`
4. open browser

**Expected behavior**
The props table o

[2020-07-13 08:39] EdenTurgeman commented on #11377
@bard @shilman ,Currenty happening in `6.0.0-rc.3`
[code]
Seems like it's a typescript problem, and it's been happening since upgrading to beta.30±

[2020-07-13 08:50] EdenTurgeman commented on #9205
@shilman after upgrading to ``
We couldn't get our typescript props to display even with a simple example component
`No inputs found for this component. Read the docs >`

with this `main.ts`:
[code]

`preview.js`:
[code]

[2020-07-13 08:51] bard commented on #11377
@EdenTurgeman is correct, I was mistakenly looking at `@storybook/addon-storyshots` 5.x.

[2020-07-13 08:53] shilman commented on #9205
@EdenTurgeman do you have a repro?

[2020-07-13 09:11] EdenTurgeman commented on #9205
@shilman
Not currently... since we're working with a private repo.
I might eventually try to create a public repo since we're having quite a few issues upgrading which we can't diagnose, is there a way I could give out more info considering our current state? (webpack debug info? custom webpack config?)

[2020-07-13 09:20] #10883 closed

[2020-07-13 09:20] #10475 closed

[2020-07-13 09:20] #10771 closed

[2020-07-13 09:20] #10558 closed

[2020-07-13 09:20] #10271 closed

[2020-07-13 09:21] ajkl2533 commented on #7677
@shilman Any update on `StoryMetadata` interface being exported somewhere?

[2020-07-13 09:40] keerthnaram opened #11522 "Module not found error"
**Describe the bug**
I received module not found ERROR for all the components from Kitchen sink example. I am running it in windows instance.

**To Reproduce**
Steps to reproduce the behavior:
1) DOwnloaded the project zip from github
2) EXtracted the aem-master
3) RAn yarn from the root and then yarn build
4) THen opened a new terminal from kitchen-sink example and ran the command yarn storybook

[2020-07-13 09:54] undefinederror commented on #11501
Yes, that works, thank you!

Seems like `props: Object.keys(args),` is necessary for reactivity.

thank you

[2020-07-13 09:54] #11501 closed

[2020-07-13 10:49] ajkl2533 opened #11523 "CSF stories with defined docs are not picked up by Storyshots"
**Describe the bug**
First I tried to use MDX format directly and define stories in it but it didn't work for me (#7223), so I tried to use CSF to define stories and add MDX file into parameters (https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/recipes.md#csf-stories-with-arbitrary-mdx) but it doesn't work either. If I remove `docs` parameter from default export it storyshots wi

[2020-07-13 11:05] dehypnosis commented on #11071
### preview.tsx
[code]

Add props of `parameters.docs` make it fixed. I guess some code to combine user parameter with default parameter has been broken..?

[2020-07-13 11:25] shilman commented on #11232
#11360 merged & released

[2020-07-13 11:25] #11232 closed

[2020-07-13 13:19] RiaanWest commented on #11239
I'm happy to say that as of rc-0, the problem has now been resolved. Thank you!

[2020-07-13 13:19] #11239 closed

[2020-07-13 14:01] EdenTurgeman commented on #11071
@shilman This issue was fixed for me after upgrading to `6.0.3 RC.
Not closing this because this seems to be an issue for other people as well and we should probably keep track about this :)

[2020-07-13 14:14] sami616 commented on #10979
Just wondering if there is any documentation kicking around for how to handle subcomponent controls in SB6? @shilman mentioned some kind of "undocumented API" for this.

[2020-07-13 14:41] undefinederror opened #11525 "@storybook/addon-controls with vuejs, argType on nested arg property"
This is just a question.

say I have
[code]
Is there any way to define config.bg as `{ control: { type: color } }`?

Thank you

[2020-07-13 15:49] shilman commented on #11525
Not currently. We need to figure out how to provide nested controls in a future iteration.

[2020-07-13 15:51] shilman commented on #10979
Did I? At one point I'd implemented something for that, but I removed it for simplicity. Right now you can either get autogenerated controls for the top-level component (in frameworks that support it) and/or you can manually define args/controls and how those values get translated into subcomponent instances. But there's no explicit support for subcomponent controls.

Related: https://github.com/s

[2020-07-13 15:54] shilman commented on #11071
@tmeasday any thoughts on @dehypnosis 's comment above?  https://github.com/storybookjs/storybook/issues/11071#issuecomment-657493513

[2020-07-13 15:55] sami616 commented on #10979
Okay, good to know. Is it worth me reopening this issue as a feature request? 🤔

[2020-07-13 15:58] shilman opened #11526 "Addon-docs: Opt out of dynamic snippet rendering"
#11332 added dynamic source rendering for React, but many users prefer the existing 5.3 behavior. So we should give them the ability to opt out of the new behavior, at least until we've made it more bulletproof.

[2020-07-13 15:59] ndelangen commented on #11302
@shilman would you be able to be on a call tomorrow with me (my morning) dot see what is causing this diff:
<img width="319" alt="Screenshot 2020-07-13 at 17 57 35" src="https://user-images.githubusercontent.com/3070389/87326002-762e3d80-c532-11ea-83b6-b296a5dfcc98.png">
<img width="220" alt="Screenshot 2020-07-13 at 17 57 41" src="https://user-images.githubusercontent.com/3070389/87326006-775f6a8

[2020-07-13 16:03] shilman commented on #10979
Sure, that would be awesome. The more you can specify the desired behavior, the better. I can't actually think of a well-defined version of the feature, which is why I removed what I'd implemented.

[2020-07-13 16:04] shilman commented on #11302
@ndelangen i'm guessing this has to do with parameter normalization, where global parameters are now stored separately from component/story parameters, but i'd be happy to look at this together.

[2020-07-13 16:20] Cornally commented on #11292
I added an exclusion entry for specific filenames matching pattern to `file-loader` inside my `main.js` then bolted my own loader for that respective use-case in (`svg-inline-loader`): https://gist.github.com/Cornally/11a99616cffc006c12166043ab4ab411#file-main-js-L10-L29.

You could do something similar and let your respective loader handle all/some svgs.  Good luck!

[2020-07-13 16:21] ndelangen commented on #11302
<img width="1791" alt="Screenshot 2020-07-13 at 18 20 42" src="https://user-images.githubusercontent.com/3070389/87328324-a0352f00-c535-11ea-9572-18d147a21110.png">

[2020-07-13 16:49] ChazUK opened #11527 "Nx Library + Transloco i18n, Adding Providers on Global Storybook config issue"
Hi, I'm running Storybook in an Nx monorepo on an Angular library. The library uses Transloco to handle translating strings (i18n), this requires each component to have individual language files and configuration in the component to pass a scope as a provider.

Example Component configured to use Transloco (with scope):

_libs/ui/src/lib/button/button.component.ts_
[code]

_libs/ui/src/lib/button/

[2020-07-13 17:09] DavidRouyer commented on #11515
I've found the culprit, it looks like the `"target": "esnext"` doesn't support optional chaining anymore :/ You have to use `"target": "ES2018"` for example

[2020-07-13 18:49] DHedgecock commented on #11181
Is there anyway to pass options for `glob` in `main.js`? From the `glob` docs:

These options were deprecated in version 5, and removed in version 6.

To specify things that should not match, use the ignore option.

[2020-07-13 20:33] psimyn commented on #11493
this looks due to the `escapeHTML` option - https://github.com/storybookjs/storybook/blob/18e0738b46355f5e4de3f20b944d08aa2f204c60/addons/knobs/README.md#withknobs-options

[2020-07-13 20:54] costalvaro commented on #8153
Hi folks!
Sorry for being late, took longer than expected to come back.
Here's a "little" resume of what's going on.

While testing how to inline Angular components, I'v hit 2 main issues.
Both are independent, so I'm gonna describe them below. Maybe one of you will be able to help on them. :)

1. 🚫 Technical blocker point: Rendering multiple angular components with the same selector in a react pa

[2020-07-13 22:06] daniel-ac-martin opened #11530 "toRequireContext does not work in all cases"
Storybook v6.0.0-rc.3 accepts globs to describe the location of 'stories' files. It appears to attempt to convert these globs into calls to `require.context`. - https://github.com/storybookjs/storybook/blob/next/lib/core/src/server/preview/to-require-context.ts#L28

It currently sets the `recursive` flag based on whether the glob contains a 'globstar' / `**` pattern:
[code]

However, many other gl

[2020-07-13 23:42] shilman commented on #8153
@costalvaro awesome that you've been able to push this forward!

re: angular and ID's, i don't have a good sense for that and will let an angular respond

re: the storybook side, i get it and have a couple thoughts on that.

1. in `@storybook/vue` we do some setup so that every story gets wrapped in a decorator by the framework handling code. so when you call `storyFn()` you're actually calling a

[2020-07-13 23:44] shilman commented on #11493
FYI, we’ve released addon-controls in 6.0-beta. Controls are portable, auto-generated knobs that are intended to replace addon-knobs long term.

- [Controls README](https://github.com/storybookjs/storybook/tree/next/addons/controls)
- [Migration instructions](https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#how-do-i-migrate-from-addon-knobs)
- [Walkthrough: Controls w/

[2020-07-13 23:44] shilman commented on #11238
FYI, we’ve released addon-controls in 6.0-beta. Controls are portable, auto-generated knobs that are intended to replace addon-knobs long term.

- [Controls README](https://github.com/storybookjs/storybook/tree/next/addons/controls)
- [Migration instructions](https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#how-do-i-migrate-from-addon-knobs)
- [Walkthrough: Controls w/

[2020-07-14 00:19] shilman commented on #11181
cc @yannbf @ndelangen

[2020-07-14 00:21] shilman commented on #11515
So this is a `tsconfig.json` configuration issue, not a storybook issue?

[2020-07-14 00:25] Marklb commented on #8153
@costalvaro For the first point, I was able to modify the bootstrap process in your demo and make all three render. Instead of using the `bootstrap` property of the `NgModule` decorator, I made the component an `entryComponent` and manually bootstrapped it in `ngDoBootstrap()`. I don't know if that is a stable way of doing this, but it worked for your demo. Here is my fork of your demo: https://st

[2020-07-14 00:28] shilman commented on #11517
FYI `addon-docs` supports first-class transclusion in 6.0 -- maybe try that?

https://github.com/storybookjs/storybook/pull/11334

[2020-07-14 00:36] shilman commented on #11522
Please file this on the AEM repo

[2020-07-14 00:36] #11522 closed

[2020-07-14 00:38] shilman commented on #7677
I think this is going to end up as a 6.1 feature

[2020-07-14 00:40] shilman commented on #9205
@EdenTurgeman standalone minimal repro is the best way. if you have a bunch of issues around a specific feature, like prop tables, a repo that demonstrates all those issues in one place is also great

[2020-07-14 00:43] shilman commented on #11521
Workaround `component: test1234` if you import that directly into your story

[2020-07-14 00:49] shilman commented on #11302
@tmeasday do you know what's up with this ☝️

[2020-07-14 00:51] shilman commented on #11245
@lostdesign it's not a bug until somebody actually confirms it as a bug. half our bug reports are configuration issues.

[2020-07-14 00:54] shilman commented on #11291
@fernandopasik that would be great. feel free to take that!

[2020-07-14 00:55] shilman commented on #11508
Closing as dupe to #11229

[2020-07-14 00:55] #11508 closed

[2020-07-14 00:56] shilman commented on #866
@jayarjo any interest in fixing this inside storybook?

[2020-07-14 01:10] shilman commented on #11230
cc @domyen

[2020-07-14 01:12] shilman commented on #10662
@ron23 do you have a repro repo i can look at?

[2020-07-14 01:27] jackysee commented on #11521
The test component is a simplified case, a typical component entry would look like

[code]

[2020-07-14 01:39] brandonpittman commented on #11373
@shilman I take it back, it's still broken. Any time I provide an `args` param in a story, the Hooks crash happens.

[2020-07-14 02:14] iamgollum commented on #6004
Thanks @richardtorres314 !

[2020-07-14 04:28] tmeasday commented on #11071
@shilman no obvious reason why that would be the case but anything is possible. More likely the docs addon stopped exporting those parameters correctly I would guess?

[2020-07-14 04:52] tmeasday commented on #11302
@ndelangen initially when you load the outer storybook and it grabs the `/stories.json` there are no docs-only stories listed as we currently filter them out in `extract()` and thus Chromatic doesn't get them, so they don't end up in there. We need to figure that out on the Chromatic side I suppose.

As for the second problem (what happens when you browse to a story) I don't think it is likely any

[2020-07-14 05:35] Jinujs commented on #2615
please add these lines to your index.js file
 ReactDOM.render(
     <React.StrictMode>
      <App />     //  render your component
     </React.StrictMode>,
     document.getElementById("root")
  );

[2020-07-14 06:27] undefinederror commented on #11525
Yeah, I was fearing that.
Ok, thank you.

[2020-07-14 06:27] #11525 closed

[2020-07-14 06:30] ugglr opened #11532 "start-storybook -s "unknown option" Error"
**Describe the bug**
**Context:** I want to run react-native-web with storybook.

After creating a react native project and installing storybook the recommended way according to the docs everything works as it's supposed to.

After that I want to be able to build a storybook-web version where I use `react-native-web` so I add a .storybook directory where I add custom configuration, after that I in

[2020-07-14 06:56] akhilesh85 commented on #11508
Super thanks 😊

[2020-07-14 07:13] baurine commented on #9514
My case (may not very common, it has a real project in https://github.com/pingcap-incubator/tidb-dashboard/tree/master/ui), the following is the project files structure:

[code]

The project is initialized by CRA and typescript, and uses customized-cra to customize webpack config.

I init the storybook by `npx -p @storybook/cli sb init --story-format=csf-ts` according to https://gist.github.com/sh

[2020-07-14 07:53] baurine commented on #9514
![image](https://user-images.githubusercontent.com/1284531/87399573-227f2b00-c5ea-11ea-9a35-d37e4262408e.png)

Upgrade to 6.0.0-rc.3, same results.

cc @shilman @mrmckeb

[2020-07-14 08:30] baurine commented on #9514
According to the documents in https://storybook.js.org/docs/basics/writing-stories/#story-file-location , it says components and stories can put outside src, but why actually it can't?

![image](https://user-images.githubusercontent.com/1284531/87403250-34af9800-c5ef-11ea-8e9c-da1a431158ce.png)

[2020-07-14 08:59] baurine commented on #9514
hi @mrmckeb , how can we do it for storybook, I mean modify webpack config.

[2020-07-14 09:32] ColCh commented on #9221
Hi @ndelangen . Any news? Version 6 seems to be in RC now

[2020-07-14 09:42] DavidRouyer commented on #11515
Yes 🙂

[2020-07-14 10:54] nerdyman commented on #11071
I've got the scrollbar issue with `6.0.3 RC` too, @dehypnosis' fix didn't change anything for me. It might be something else?

[2020-07-14 11:05] ndelangen commented on #11302
Thanks to @shilman I now know how to fix 1 of these 2 issues:
Once the page type stories are added, they are still rendered incorrectly:
<img width="332" alt="Screenshot 2020-07-14 at 13 01 09" src="https://user-images.githubusercontent.com/3070389/87418816-b1804900-c5d2-11ea-819e-4209e7a92123.png">

[2020-07-14 11:21] DanielGSan commented on #11379
same issue here

[2020-07-14 11:27] Spence1115 opened #11536 "Enzyme and addon-snapshots doesn't work with our CI environment"
**Describe the bug**
I cannot use enzyme for @storyshots/addon-snapshots, as it stores the filename which differs locally compared to on CI. I'm probably being daft and missing something here.

**To Reproduce**
Taking snapshots using

[code]

However on our CI we get a failure:

[code]

[2020-07-14 11:31] dehypnosis commented on #11071
@nerdyman yah.. sorry mine fixs only 2nd issue.

[2020-07-14 11:38] ndelangen commented on #11302
To solve the other problem, we should probably start using this:
https://github.com/storybookjs/storybook/blob/1d08802a5e92db6edb83003beb13a08253accf93/lib/client-api/src/story_store.ts#L536-L546

over raw `.extract()`, WDYT @shilman @tmeasday ?

I assume we use `.extract()` in chromatic somewhere? @ghengeveld ?

[2020-07-14 11:50] daniel-ac-martin commented on #11530
[code]
I suspect that this is simply due to the regexp being applied to a path that starts `./`. i.e. It should be possible to patch the regexp to handle that and reinstate the `^` for stricter matching.

[2020-07-14 12:35] shilman commented on #11515
Cool. Closing!

[2020-07-14 12:36] #11515 closed

[2020-07-14 13:12] NicolaSansom opened #11542 "Story source code shows "MDXCreateElement" instead of actual source code"
**Describe the bug**
The output of Show Code tabs mismatches the source

**To Reproduce**

1. Create a new `.mdx` story:
[code]
2. Click on 'Show Code'
3. Scroll down to screenshot of output

**Expected behavior**
Output match contents of the `<Story>`

**Screenshots**
![image](https://user-images.githubusercontent.com/17367104/87429042-22c3fa00-c5db-11ea-8be7-08e771d84db1.png)

**Code snippets**

[2020-07-14 13:47] ndelangen commented on #11302
The above should also be changed in the `sb extract` command

[2020-07-14 13:49] stupidawesome commented on #8153
@costalvaro Using `ngDoBootstrap` you can set which node the component is appended to.

https://stackblitz.com/edit/angular-to-react-cpyey4?file=angular-to-react.js

[2020-07-14 13:58] realmunk opened #11543 "RC3 - React Components with Children Objects are not valid as a React child"
**The bug**
```Objects are not valid as a React child (found: object with keys {header, content, footer}). If you meant to render a collection of children, use an array instead.```

 We have quite a few components with props using the pattern `named slots projection`, which we use in the following way:

children: {
  header: React.ReactNode;
  content: React.ReactNode;
  footer: React.ReactNode;
}

[2020-07-14 14:01] ndelangen commented on #11466
Can someone help me reproduce this issue on my local machine? A repo that shows this issue would really help get this fixed.

I can also help you @dpouliot get the storybook repo setup so you can fix this? Happy to take a meeting request:
https://calendly.com/ndelangen/storybook

[2020-07-14 14:43] drewrwilson commented on #6204
Same issue for me. Like @denimamab I'm using version `5.3.19`

[2020-07-14 14:53] IanVS opened #11544 "Storybook 5.3 failing to install on node 8"
**Describe the bug**
Due to inquirer dropping support for node 8 in a minor version (7.3.0), it's no longer possible to install @storybook/react@5.3.x in node 8.

**To Reproduce**
Steps to reproduce the behavior:
1. `nvm use 8`
2. `yarn add --dev @storybook/react@5.3`
3. `error chalk@4.1.0: The engine "node" is incompatible with this module. Expected version ">=10". Got "8.17.0"`

**Expected behav

[2020-07-14 15:02] raDiesle commented on #7863
good @shilman you pointed out Chromatic, which seems to envolved much further the last time I checked.
Nevertheless do you have any hint for current Storyshots setup how to parallelize?
About Chromatic, so to run 200 pages for tests would required ramp up time + time for longest page ~ 20 seconds in total, is it correct?

[2020-07-14 15:17] dpouliot commented on #11466
@ndelangen
https://drive.google.com/file/d/10oD9Z2Tt0zGhMqvAw6bPxE04YqIXxiSN/view?usp=sharing
Let me know once you've got it, I'd like to take it down.
Storybook 5 will build successfully. Storybook 6 won't.

[2020-07-14 15:54] shilman commented on #7863
@raDiesle yeah, there's a few seconds latency and then we crunch through snapshots/diffs in small batches. there can be some variation based on the framework you're using and the content of your component library, but our internal storybook contains about 1500 stories and the whole process including image snapshots & diffing takes around 50 seconds end to end.

as for parallelizing storyshots, jes

[2020-07-14 16:12] shilman commented on #10842
FYI this has been updated in 6.0 and probably works out of the box. see the default propFilter:

https://github.com/storybookjs/storybook/blob/next/docs/src/pages/configurations/typescript-config/index.md#mainjs-configuration

[2020-07-14 16:13] daniel-ac-martin commented on #11530
I think that PR largely addresses his issue. Except that webpack will (usually) traverse the entire base-directory even in the absence of a globstar (`**`) which is pretty unintuitive and can lead to huge memory consumption.

I think this is unavoidable with `require.context` though. - It would be nice if it let us limit the depth.

[2020-07-14 16:25] shilman commented on #11302
@ndelangen I think that makes sense. The reason I didn't implement this for more different consumers (e.g. storyshots, chromatic) was because i didn't understand the impact and didn't want to break anything. and i still don't understand the impact, but i think it sounds reasonable provided the calling code is updated to deal with those docsOnly stories.

[2020-07-14 16:58] ron23 commented on #11466
I realized my issue was a bit different.
I have babelrc file with the following plugin:

[code]

I got errors saying the files couldn't find the *.css file (probably because babel already transformed it to use .css).
This wasn't happening before on 5.2 or 5.3.

[2020-07-14 17:32] invious commented on #10942
yeah just experienced this error today

[2020-07-14 17:41] invious commented on #10351
After rolling back to 25 I see this

[code]

[2020-07-14 18:19] ChazUK commented on #11527
Closing this, I had to make a separate Angular Module with the imports and providers for Transloco and then import that module into the global Storybook config.

in _scoped-translations.ts_
[code]

_libs/ui/.storybook/config.js_
[code]

[2020-07-14 18:19] #11527 closed

[2020-07-14 18:41] chris-dura commented on #11517
@shilman -- thanks! That option worked (at least for the `.mdx` files)!

Unfortunately, I'm in the process of migrating away from CSF (*.tsx) stories using the `notes` addon, towards (hopefully) all MDX stories. I followed the [migrating recipe](https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/recipes.md#migrating-from-notesinfo-addons) and setting the `transcludeMarkdown: true`

[2020-07-14 19:10] domyen commented on #9523
I tried reproducing this issue with Storybook Design System. It uses SB 6.0 beta and styled-components 5.1.1. The build-storybook that was published online [here](https://5ccbc373887ca40020446347-wazfapcutn.chromatic.com/?path=/story/design-system-button--all) is getting styled OK.

[2020-07-14 19:50] pklada commented on #10197
Same problem here. Any reliable work-arounds at the moment?

[2020-07-14 20:07] yannbf commented on #11181
I don't think there's a mechanism in place for that, and I tried tweaking a little [here](https://github.com/storybookjs/storybook/blob/29a13f6657cb5c4d9828431008b2a0a728c8cade/lib/core/src/server/preview/to-require-context.ts#L36) but it seems like passing a `ignore` option to micromatch doesn't alter the resulting regex. Would be nice to have an `exclude` property like tsconfig has for instance,

[2020-07-14 20:30] jdmacmurtrie commented on #9801
@Lav39 I've been having the same issue.  I ran the storybook in the repo you provided, and it worked.  I see all of your storybook versions are `"^6.0.0-beta.20"`.  Is this how you got it to work?

[2020-07-14 20:39] pfmartins4 commented on #8675
I'm running into this issue. I tried all stuff from above, none worked.
[code]

[2020-07-14 20:45] pelotom commented on #11181
My use case is that I have one particular directory of stories nested deep within my repo which I want to exclude during visual regression testing in CI. It's not practical to positively specify all the things I do want to include while omitting this one particular deeply-nested directory, if that makes sense. My short term workaround is just to delete the directory in the CI script before buildin

[2020-07-14 21:11] jookshub opened #11546 "Various sub-projects do have react and react-dom as dependencies resulting in hook-errors"
**Describe the bug**
Multiple _react_ and _react-dom_ dependencies inside of _@storybook_ lead to the following type of error:

**To Reproduce**
e.g. https://github.com/storybookjs/storybook/blob/next/lib/components/package.json

or

1. `git clone https://github.com/jookshub/storybook_cra_tsx.git`
2. `nvm use`
3. `npm i`
4. `npm run storybook` -> broken
5. `npm run storybook-fixed` -> working

**E

[2020-07-14 23:35] pak11273 commented on #7390
Check the components you are importing.  If they are undefined then you will get this error.

[2020-07-15 01:01] shilman commented on #11071
@dehypnosis I don't understand your fix. do you have a public repro i can look at?

[2020-07-15 01:07] shilman commented on #11181
@pelotom One workaround might be to specify the `disable` parameter for the components in that directory. This is available for both Storyshots and Chromatic, and may be available for whatever tool you're using.

[code]

[2020-07-15 01:19] shilman commented on #8675
@pfmartins4 `rules: custom.module.rules` looks like it's overwriting the storybook rules entirely, so you're not getting the MDX compiler plugin:

https://github.com/storybookjs/storybook/blob/next/addons/docs/src/frameworks/common/preset.ts#L121

[2020-07-15 01:23] shilman commented on #9801
@Lav39 I cloned your repo, ran the following, and it worked fine on my machine:

[code]

[2020-07-15 01:34] shilman commented on #10197
I ran the following in @chrisahardie 's repo and it worked after the upgrade. YMMV:

[code]

I also had to `yarn add babel-loader --dev` and update the `main.js` stories glob from `../src/**/*.stories.(ts|tsx|js|jsx|mdx)` to `../src/**/*.stories.@(ts|tsx|js|jsx|mdx)`

[2020-07-15 01:35] shilman commented on #11517
@chris-dura Yeah. It's an all or nothing change.

[2020-07-15 01:38] pelotom commented on #11181
Ah, I am using Chromatic, thanks for the tip!

[2020-07-15 02:33] lifeiscontent opened #11548 "Storybook 6.0: viewport not being set on initial load"
**Describe the bug**
Viewport is not set on. the story on initial load:

https://next--storybookjs.netlify.app/official-storybook/?path=/story/addons-viewport-custom-default-kindle-fire-2--overridden-via-with-viewport-parameterized-decorator

**To Reproduce**
Steps to reproduce the behavior:
1. Go to link
2. see the viewport not being set

**Expected behavior**
I expect viewport addon to set prope

[2020-07-15 02:50] shilman commented on #11548
Confirmed that this is a regression 6.0. Here's the 5.3 version https://storybookjs.netlify.app/official-storybook/?path=/story/addons-viewport-custom-default-kindle-fire-2--overridden-via-with-viewport-parameterized-decorator

[2020-07-15 03:17] desireco commented on #10987
I am willing to poke around if someone who is knowledgable wants to pair. It would be huge if we could figure out how to make this work. I have sizable storybook instance.

[2020-07-15 03:46] baurine commented on #9514
Resolve the compile errors by following main.js config:

[code]

Now it works fine after running `yarn storybook`:

[code]

But, there is still runtime error:

![image](https://user-images.githubusercontent.com/1284531/87501088-cd4a2480-c690-11ea-9292-e9c4f301ef6d.png)

![image](https://user-images.githubusercontent.com/1284531/87501110-dd620400-c690-11ea-909d-7a40357d1061.png)

[2020-07-15 04:02] baurine commented on #11419
Meet the same issue by 6.0.0-rc.3, details in https://github.com/storybookjs/storybook/issues/9514#issuecomment-658528692

[2020-07-15 04:40] bsdis opened #11551 "proxy not working for storybook"
To make storybook truly useful it is necessary to be able to interact with a backend storage. That seems to be not really possible. The closest description i have found is a 4 year old issue: https://github.com/storybookjs/storybook/issues/208 which seems to not work anymore.
I am quite amazed how it is possible that this is not a built in feature and i don't understand why there is not a bigger d

[2020-07-15 05:41] christianwiedemann opened #11553 "Loading stories from a YAML file in storybook 6."
I want to generate dynamic stories from a YAML file in stroybook 6 and above.

### Steps to reproduce
In storybook 5.x it was possible to provide a load function where I can load the YAML inside the preview.js and generate stories with storiesof api from this YAML file.
With storybook 6 I get deprecated messages with the notice that I should using a GLOB inside the main.js to load stories.

It is

[2020-07-15 06:19] FabianSellmann opened #11554 "Addon-docs: Error: Evaluation failed: TypeError: Cannot convert a Symbol value to a string"
**Describe the bug**
The error `Error: Evaluation failed: TypeError: Cannot convert a Symbol value to a string` is thrown at runtime for a story under the cirucmenstance described below.
**To Reproduce**
Steps to reproduce the behavior:

1. Have story wrapped in a  React.Profiler
1. Have docs addon enabled
1. Open story in story book
**Expected behavior**
It should not throw this error

Using stor

[2020-07-15 06:43] baurine commented on #9514
downgrade to 5.3 still has the same error, finally, changing my code writing way fixes it:

[code]

Full commit is here: https://github.com/pingcap-incubator/tidb-dashboard/pull/691/commits/27499af0342940181675a85caedb14e96ec07441

[2020-07-15 06:45] baurine commented on #11419
related comment: https://github.com/storybookjs/storybook/issues/9514#issuecomment-658578009

[2020-07-15 08:21] guilhermewaess commented on #11244
Same problem here, when using decorators, the controls in docs page stopped to work. Without decorators works fine.
I'm using .RC-3

[2020-07-15 08:43] reme3d2y commented on #10982
I have the same issue. One of my components depends on `usePopper`, but storybook uses old version, without this hook, that cause the problem.

Pls, bump popper version 🙏

[2020-07-15 09:14] blemaire commented on #3739
@igor-dv can this be reopened?

[2020-07-15 09:17] ndelangen commented on #4996
I can assist getting up and running in a online meeting, if you'd like:

You can schedule a meeting with me here:
https://calendly.com/ndelangen/storybook

[2020-07-15 09:22] shilman opened #11555 "Addon-controls: Make sure all argTypes are args (even if undefined)"
When we construct the initial set of args, we don't include an arg in the initial state if it doesn't have a default value. (Thanks to @backbone87 for helping me figure this all out).

This conflicts with our idiom for args in Vue, e.g.

[code]

Supposing I have an argType like this, e.g. in #11505

[code]

Because it's default value is undefined, it doesn't get set in `args` initially, and doesn'

[2020-07-15 09:52] shilman commented on #11555
Another option is to update the idiom to be:

[code]

This solves the problem, but is a little verbose.

[2020-07-15 10:02] tmeasday commented on #11555
Are we sure there'll be an arg type for every arg though?

[2020-07-15 10:11] shafeek2112 commented on #9463
Thank you. Working well.

[2020-07-15 11:34] tomsonpl opened #11559 "Storybook 6 yarn 2 workspaces issue with core-js as dependecy of node-fetch"
**Describe the bug**
I have issues with Storybook@6 and core-js. While using yarn berry 2 and its workspaces. (however i dont think yarn is an issue here)
Unfortunately one of my packages is using node-fetch which has dependencies on core-js.
When I pass

  "node-fetch@*":
    dependencies:
      "core-js": "*"

 to packageExtensions in .yarnrc.yml - the errors dissaper, however the story is not i

[2020-07-15 11:35] shilman commented on #11555
Pretty sure we will:

https://github.com/storybookjs/storybook/blob/next/addons/docs/src/frameworks/common/enhanceArgTypes.ts#L13

[2020-07-15 11:35] ndelangen commented on #11132
I upgraded this reproduction to the latest RC and it seems fixed already.

@aputinski mind testing it for us? 🙏

[2020-07-15 11:42] tmeasday commented on #11555
And if they aren't using docs?

[2020-07-15 11:56] ndelangen commented on #10762
I think this has been fixed in the RC.3

@tooppaaa would you be able to verify this is the case?

[2020-07-15 11:58] ndelangen commented on #11483
I'm on it

[2020-07-15 12:19] #11559 closed

[2020-07-15 12:19] tomsonpl commented on #11559
It appeared to be an issue on our side.

[2020-07-15 12:55] shilman commented on #11302
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.5 containing PR #11537 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-15 12:55] shilman commented on #11487
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.5 containing PR #11519 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-15 12:55] shilman commented on #11555
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.5 containing PR #11558 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-15 16:13] fgaleano commented on #11542
I'm encountering the same issue using React and CSF stories.

The code shown in "Show Code" is the computed output of the component and not the content of the actual story. It shows props that have default values but were not actually passed to the component in the story code.

I haven't tried using `addon-storysource` in Canvas mode to confirm that plugin does pick up the story's content like it

[2020-07-15 16:17] shilman commented on #11542
Yes will offer the ability to configure, hopefully this week

[2020-07-15 16:20] dcts opened #11565 "Inline styling of any html tag inside <Preview> throws error"
**Describe the bug**
Html written inside a `Preview` element (inside an MDX file) throws an error when trying to set inline-styling with `style=""`.

**To Reproduce**
I am using lit-element [storybook template by open-wc](https://open-wc.org/demoing/), not sure if you need further information?

**Expected behavior**
I expected that adding properties to html-tags would not break the storybook.

**C

[2020-07-15 16:26] shilman commented on #11565
Try `style={{ backgroundColor: 'black' }}`?

[2020-07-15 16:33] dcts commented on #11565
Thanks a lot, this worked! I didnt work at all with react so wasn't aware of the syntax! Thanks!

[2020-07-15 17:00] lukaskoeller commented on #8392
Are there any updates on this one? Would be highly interested in this feature as well.

Especially when I think of Design Tokens (Colors, Icons, etc.) and using `<ColorPalette>` and `<ColorItem>` provided by `addon-docs`. It would enable me to loop through all colors (key, values) provided by a json file that is part of Style Dictionarie's build. No more manual maintenance.

[2020-07-15 17:36] shilman commented on #8392
@lukaskoeller You can do that WITHIN a Story or JSX element in the page, no problem. The only limitation is you can't dynamically generate stories. But it doesn't sound like you need that for your use case.

[2020-07-15 17:46] #11565 closed

[2020-07-15 18:37] invious opened #11568 "Keep AllowJs to true with Typescript and StoryShots"
I want to be able to not have to transpile js using ts-jest for the tests to work.

### Scenario 1 -- Working

#### jest configuration
[code]

#### tslint configuration
[code]

### Scenario 2 -- Not Working

#### jest configuration
[code]

#### tslint configuration
[code]
--

It looks like the transformIgnorePatterns have no effect on the js files unless i run them through `ts-jest`, but I don't w

[2020-07-15 19:43] pelotom commented on #11419
This seems to happen in cases where a static property is assigned to a component which is exported at its declaration site, e.g.

[code]

A workaround seems to be separating the export from the declaration:

[code]

Class components with static properties suffer from the same problem:

[code]

and the workaround is the same:

[code]

[2020-07-15 19:57] #11517 closed

[2020-07-15 20:12] Steffi3rd opened #11569 "[GatsbyJS] ERROR in ./src/2-Button.stories.js Module not found: Error: Can't resolve 'components'"
**Describe the bug**
Hi, I just installed Storybook on my existing **Gatsby** application. **The installation was successful.** I can access to the Storybook stories examples in http://localhost:6006.

But when I tried to use my own components I have errors :

[code]

Here is the content of the file : `2-Button.stories.js`
[code]

I think the thing is that I use this code below in my `gatsby-node.

[2020-07-15 21:37] crhistianramirez commented on #11125
+1 This would really help my use case.

I'm trying to build an angular library and the builder for that `@angular-devkit/build-ng-packagr:build` doesn't support `assets` like the normal app builder does. This means I need to have a build configuration for running storybook and a separate one for actually bundling my library.

As a workaround I have some npm scripts that I'm using to modify the ang

[2020-07-15 23:02] masood1 commented on #208
Please use createProxyMiddleware, function is updated

const { createProxyMiddleware } = require('http-proxy-middleware');
module.exports = function(app) {
  app.use(
    '/api/login',
    createProxyMiddleware({
      target: 'http://localhost:3090',
      changeOrigin: true,
    })
  );
};

[2020-07-15 23:16] shilman commented on #11244
@guilhermewaess are you also using vue?

[2020-07-15 23:33] shilman commented on #11244
I did a little digging and found that there are two potential culprits:

### The Docs-specific hooks that listens for changes to Args

https://github.com/storybookjs/storybook/blob/next/addons/docs/src/blocks/Props.tsx#L46-L67

### The inline rendering of vue elements

https://github.com/storybookjs/storybook/blob/next/addons/docs/src/frameworks/vue/config.tsx#L10-L13

I put a `console.log` in bot

[2020-07-16 00:21] shilman commented on #208
FYI all of these APIs are experimental/undocumented, and we reserve the right to change/remove them outside of the normal rules of semver.

[2020-07-16 01:53] dehypnosis commented on #11071
@shamin sorry but i don't have public one.
Simply, i just had been digging into the error message "Args unsupported. See Args documentation for your framework".

So firstly, I found the source of error.
https://github.com/storybookjs/storybook/blob/next/lib/components/src/blocks/ArgsTable/ArgsTable.tsx#L155

And here as you can see, the code itself throw ARGS_UNSUPPORTED error if `params.docs` doe

[2020-07-16 01:54] stefan-toubia opened #11570 "React stories vars should be uppercase"
The docs for stories show each story with camelCase naming conventions, but since these are React components it really seems more proper that these should be PascalCase.

[code]

 This is especially evident when you do things that react linters don't like, such as using a hook in a story

[code]
[code]

It would be good if the docs were updated to reflect this.

[2020-07-16 02:03] baurine commented on #11419
Got it, thanks @pelotom !

[2020-07-16 02:21] shilman commented on #11071
@dehypnosis thanks for the explanation. i understand the fix, but I don't understand why it's necessary in the first place. if you're using the docs preset (i.e. `'@storybook/addon-docs'` listed in your `main.js` addons) then that code should already be applied automatically. are you using a fully manual configuration instead of the preset?

[2020-07-16 02:28] dehypnosis commented on #11071
@shilman
Yeah, you're right. I had spent much time with preset, but failed to build storybook.
I needed a lot of customization to integrate my codebase.
Mine uses typescript and react-native with customized-cra. and some webpack variations for 3rd libraries.
you can check my whole configuration.

[code]

[2020-07-16 02:52] Aaron-Pool commented on #11244
@shilman are decorators framework specific, or framework agnostic? The template decorator in the original comment looks kinda like a Vue component, so I was just curious if there's any per framework implementation going on with the decorator feature.

[2020-07-16 03:00] shilman commented on #11244
@Aaron-Pool good question. it looks like there's some vue-specific decorator logic here:

https://github.com/storybookjs/storybook/blob/next/app/vue/src/client/preview/index.ts#L76-L104

[2020-07-16 04:57] pelotom opened #11571 "Common name prefix causes rapid switching between stories on load"
This appears to have been introduced in 6.0.0-beta.33.

Using these stories:

[code]

if you start on the "x" story and then reload the page, it will switch to the "x y" story, and the console prints

[code]

(In my real project using typescript it actually switches between the 2 stories many more times, sometimes endlessly.)

This seems somehow related to the fact that the second story's name is

[2020-07-16 06:54] baurine commented on #9514
A reference to handle files outside `src` folder if you use customize-cra:

- [Installing Storybook with Typescript, React, and customize-cra](https://harrietryder.co.uk/blog/storybook-with-typscript-customize-cra/)

It works for my project with following config:

[code]

Full commit: https://github.com/pingcap-incubator/tidb-dashboard/pull/691/commits/4bac5a61c00dd9993dfb1bb842cb70232c53a8f8

[2020-07-16 07:06] baurine commented on #9514
btw, @shilman @mrmckeb can you fix this on the document site page? it really misguided the reader. ( I will create an issue for this later)

[2020-07-16 07:14] baurine opened #11573 "docs: Render markdown content error in the document site"
**Describe the bug**

The document site page renders some markdown contents incorrectly, which will misguide the readers.

**To Reproduce**

The incorrect content link: https://storybook.js.org/docs/basics/writing-stories/#story-file-location

![image](https://user-images.githubusercontent.com/1284531/87638791-f0e79a80-c776-11ea-9caf-6662bef6a6ff.png)

The `src` and `components` folders look like

[2020-07-16 07:29] openscript opened #11574 "docs: Unable to display descriptions (6.0.0-rc.5, 6.0.0-rc.14)"
**Describe the bug**
I'm unable to display descriptions of my components based on jsdoc comments. Also per story description doesn't work. Props description **work**.

**To Reproduce**
Steps to reproduce the behavior:
1. Add jsdoc comments
2. Start storybook `start-storybook -p 6006`
3. Open the story and go to the docs page
4. Search for description

**Expected behavior**
Some description should

[2020-07-16 08:07] guilhermewaess commented on #11244
Nope, react.

[2020-07-16 08:29] lukaskoeller commented on #8392
Does this also works for `for` loops? When I try to use it I get an error, saying:
[code]

This appears when I'm trying to use `for...of` loop. Though, it doesn't appear when I use `map`.
[code]

[2020-07-16 09:08] vinceumo commented on #8392
Hi @lukaskoeller, in JSX you should use [.map](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/map).

https://reactjs.org/docs/lists-and-keys.html

Assuming you have an object you could have something like that:

[code]

[2020-07-16 09:33] maraisr commented on #6413
I don't think putting things in this package.json file for consumers to also see is a good idea. Have we solved this?

[2020-07-16 09:46] openscript commented on #9311
That removes the Canvas tab and doesn't make Docs the default tab.

[2020-07-16 09:58] ghengeveld commented on #9311
It will basically hide the UI tabs and panels and show the docs view by default. You can still toggle the UI tabs' and panels' visibility using keyboard shortcuts though.

It's the only option you have right now. We want to improve this but there's a lot of higher priority things. A pull request is welcome though 👍

[2020-07-16 10:00] openscript commented on #11574
The whole project (with the issue) can be found here: https://github.com/openscript/react-dsv-import/tree/develop

[2020-07-16 10:13] VictorienT commented on #5166
Hi, I'm using 5.3.19 and trying to set a variable the same way @Armanio is is not working for me.
process.env.FOO is undefined.

Has something been broken since?

[2020-07-16 10:43] jayarjo commented on #866
@shilman I'd gladly participate, but don't think  I will be able to find time. Maybe later.

[2020-07-16 10:45] dcts commented on #6364
When I create a `styles.css` file inside the same directory and import it with `import './styles.css';` inside my `preview.js` file, my storybook suddenly just is stuck in a loading state... :(

Any idea how to resolve that?

I use storybook with the [open-wc config for webcomponents](https://open-wc.org/demoing/) and have a `preview.js` and a `main.js` file inside my `.storybook` folder.

[2020-07-16 10:55] fernandopasik commented on #11496
I'm a bit lost on why this issue could be happening, any clue @shilman ?

[2020-07-16 11:19] Aaron-Pool commented on #11244
@shilman To be totally honest, based on that code I'm not sure how the target story is getting even the initial props value, much less reacting to them. I'll try to look at this later, just about to start my work day.

[2020-07-16 11:58] shilman commented on #10723
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.8 containing PR #11505 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-16 11:58] shilman commented on #11487
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.8 containing PR #11550 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-16 11:58] shilman commented on #11555
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.8 containing PR #11561 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-16 11:58] #11487 closed

[2020-07-16 11:58] #11555 closed

[2020-07-16 14:02] larsreith opened #11580 "Storybook shows no story content on Heroku"
**Describe the bug**
I build storybook locally, and it runs fine (both start-storybook and serve storybook-static)
I deploy it on Heroku. It builds and deploys fine. It shows the navigation, but no content for the stories

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://teamx-storybook.herokuapp.com/?path=/story/web-app--header

**Expected behavior**
Story content should display

[2020-07-16 14:04] GiraffeCoding opened #11581 "Jest Results not showing in HTML example"
Hi,

I'm trying to get a working example of the `@storybook/addon-jest` working within the HTML example. The JSON results file exists in the file directory but the addon doesn't appear to ever find it.

You can see a live example of this in storybooks own demo for the HTML Kitchen sink

![image](https://user-images.githubusercontent.com/12425975/87680622-8f72fc00-c775-11ea-9390-c44733d74221.png)

[2020-07-16 14:33] jonhuteau opened #11582 "Invalid default values for VueJS components in props table"
**Describe the bug**
I'm upgrading to v6.0.0-rc.8 and defaults values in props tables are empty. If I revert changes made at https://github.com/storybookjs/storybook/pull/11534/files#diff-ac92839dce97cc5e5fdcc8587102c691, I can see default values.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://next--storybookjs.netlify.app/vue-kitchen-sink/?path=/docs/button--rounded
2. Look a

[2020-07-16 14:45] kylegach commented on #11526
Want to give something stronger than just a "thumbs up" for this.

I tried v6 RC.4 yesterday and the snippet rendering for our project was broken or otherwise inadequate for all but the simplest of story sources (using the ["CSF stories with arbitrary MDX"](https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/recipes.md#csf-stories-with-arbitrary-mdx) recipe). For some, it even hit

[2020-07-16 14:47] gisu opened #11583 "Addon-Docs: Props of subcomponents are not indexed"
**Describe the bug**
With the current Storybook 6 RC 8 I want to display the props of my subcomponents within the MDX files. In the beta I did this using `<Props components={{ProjectOverview, ProjectOverviewEntry, ProjectOverviewProgress}} />`, but in RC this seems to be impossible. I only get the props of the main component displayed. So I can even omit `components={{}}`, I still get the props of

[2020-07-16 14:48] #11031 closed

[2020-07-16 14:53] nnennajohn commented on #9311
@ghengeveld ok. Thanks for pointing me to a solution.

[2020-07-16 16:42] pelotom opened #11585 "Deprecation warning in v6 beta when using storyshots"
I get the following warning when running storyshots with the v6 beta:

[code]

even though I've already refactored to use `main.js`. It seems that `initStoryshots` may still be using `configure` under the hood?

[2020-07-16 17:24] costalvaro commented on #8153
@Marklb This is an amazing contribution!
Thank you for showcasing how to manually bootstrap a component with dynamic selector, never had to do that until now. 😄
It works perfectly, so I'm gonna focus on the storybook integration for now, and will get back to improving this part when/if needed.

@shilman Thanks for the insights!
This is a new & unknown ground for me, so it's gonna take some time to

[2020-07-16 18:00] bbfrancis commented on #10369
@ConnorDY @matheo - Fixing my angular.json tsConfig value solved the issue for me. Figured I'd throw it out there if it helps anyone else

[2020-07-16 18:23] ndelangen commented on #11466
@shilman didn't you do some recent changes to babel config loading?

[2020-07-16 19:14] jasongaare commented on #1398
Sorry I know this is an old issue - but I'm scratching my head following the React Native tutorial at learnstorybook.com because all the screenshots seem to imply that you should see the elements in the browser too: https://www.learnstorybook.com/intro-to-storybook/react-native/en/simple-component/

Is there some magic I can't figure out? All I see is the `PreviewHelp.js` file from `react-native-s

[2020-07-16 19:51] priandsf opened #11586 "Controls panel does not refresh properly"
**Describe the bug**
The controls panel (from addon-controls) does not proper refresh when selecting a different story on the same component.

**To Reproduce**
Steps to reproduce the behavior:
1 Go to https://lwc-essentials.github.io/storybook/lwc-library/?path=/story/units-1-attributes--default-with-args
2 Add some test to attrString (ex' ABCDEF'). You see the JSON dump being updated
3 Select the

[2020-07-16 21:37] vvanpo opened #11587 "Storybook cannot be built on packages using "type": "module""
**Describe the bug**

For projects configured to use native ES modules in node.js via the `"type": "module"` configuration in `package.json` (https://nodejs.org/api/esm.html#esm_package_json_type_field), Storybook cannot `require()` the `main.js` configuration file, because `node` does not support `require()` for this package type. We also cannot rename it to `main.cjs` to allow the use of `requir

[2020-07-16 21:41] vvanpo commented on #11587
A cheap fix would be to just look for `main.cjs` in addition to `main.js`. Better might be register `@babel/register` within the `server-require.js` and use `import()`.

[2020-07-16 21:49] stephiescastle commented on #10351
Ran into the same error with
[code]

Fixed it by downgrading to `"jest": "^25.5.4",`

[2020-07-16 22:16] lopis commented on #9209
I would like to add that in my case I wanted to hide all stories present in my MDX page from the sidebar. That is to say: I wanted my story to turn back to being a plain page like when the MDX file contains no stories. I explored the addon api a bit to see if this was possible to manipulate, but so far I couldn't find a way.

[2020-07-16 22:17] shilman commented on #11587
@ndelangen @igor-dv can you give a hand here?

[2020-07-16 22:24] shilman commented on #11466
Yeah, but AFAIK only related to processing `.mdx` files.

- Before: The MDX handler was including user babel config
- After: The MDX handler only includes Storybook configuration by default and users need to override the `babelrc/babelConfig: false` if they want a custom babel configuration. I expect most users won't want to do this ever.

The change shouldn't affect any other file types in the pr

[2020-07-16 22:29] shilman opened #11588 "Dynamic source rendering for Web components"
Follow-up to #11332 but for Web components

[2020-07-16 22:46] dustinsavery opened #11589 "Latest `@mdx-js/mdx` breaks `@storybook/addon-docs`"
**Describe the bug**
`@mdx-js/mdx` released version `1.6.8` today, which has a [breaking change](https://github.com/mdx-js/mdx/pull/1126) as part of a patch version 🤦

**To Reproduce**
Steps to reproduce the behavior:
1. Fresh install of packages, start storybook

**Expected behavior**
Storybook should launch with no errors

**Screenshots**
![image](https://user-images.githubusercontent.com/244745

[2020-07-16 23:00] alvarezmario commented on #11589
I'm getting the same error. Luckily I found this issue confirming it, because I'm currently learning storybook (awesome project) and using the docs addon was getting crazy with this error. 😄

[2020-07-16 23:01] alvarezmario commented on #11589
They reported an issue as well: https://github.com/mdx-js/mdx/issues/1153

[2020-07-16 23:13] podzz commented on #6316
For anyone wondering how to make paths work for the latest version of storybook, I ended up updating my main.js with the following (you will need to install tsconfig-paths-webpack-plugin as a dev dependency)
`const TsconfigPathsPlugin = require('tsconfig-paths-webpack-plugin');

module.exports = {
      ...,
      webpackFinal: async (config, { configType }) => {
           config.resolve.plugins

[2020-07-16 23:16] koop-stripe opened #11590 "Sidebar navigation does not work in production (6.0.0-rc.5 + addon-docs)"
**Describe the bug**
Sidebar navigation does not work when building addon-docs for production.

**To Reproduce**
Steps to reproduce the behavior:

1. Build storybook for production `build-storybook --docs -c .storybook -o .storybook-dist`
2. Start the server, load a page in your browser.
3. Try to navigate to another page by clicking a page title in the sidebar.

**Expected behavior**
The browser

[2020-07-16 23:19] shilman commented on #11590
Looks like a regression due to https://github.com/storybookjs/storybook/pull/11537

[2020-07-16 23:21] dustinsavery commented on #11589
Tested on `1.6.9` that they pushed to patch, doesn't seem to fix it.

[2020-07-16 23:24] koop-stripe opened #11591 "Storybook >10 seconds to launch, slowed down by merge in transformStoriesRawToStoriesHash"
**Describe the bug**
Storybook takes 10-15 seconds to launch in production. Most of the time (7-10 seconds) is spent in `transformStoriesRawToStoriesHash` repeatedly calling `merge`.

Screenshots of both are provided below. This only occurs for us when building for production. We have 505 stories in our storybook.

**To Reproduce**
Steps to reproduce the behavior:
1. Build storybook for production

[2020-07-16 23:32] shilman commented on #11526
@kylegach thanks for the feedback. i knew this was a rats nest when I started us down this path, but we'll get it sorted out. opting out will be a good escape valve for people who were satisfied with the v5 behavior.

[2020-07-16 23:34] shilman commented on #11582
Thanks @jonhuteau -- will get it sorted!

[2020-07-16 23:39] shilman commented on #11244
@Aaron-Pool it's a little magic. @backbone87 and I modified the vue code to store the args in the story's reactive store here:

https://github.com/storybookjs/storybook/blob/next/app/vue/src/client/preview/render.ts#L57

and then it gets passed to the story as props here

https://github.com/storybookjs/storybook/blob/next/app/vue/src/client/preview/index.ts#L58

[2020-07-16 23:45] shilman commented on #9209
@lopis partial solution is to run storybook with the `--docs` flag which collapses components in the nav

[2020-07-16 23:57] shilman commented on #11496
I don't know what's going on.
0. I verified that this works on the main branch, then switched to the zero-config branch
1. I upgraded to the latest RC using `npx sb@next upgrade --prerelease`
2. I added a `console.log` to the story

I observed that:
1. The story function is getting called repeatedly with the expected args as I type, but the preview is not refreshing
2. The story is refreshing as e

[2020-07-17 01:21] squarebraket commented on #11589
I'm having the same issue.

`TypeError: Cannot read property 'path' of undefined`

I'm trying to use `addon-docs` to write our documentation but can't move forward until this is resolved.

[2020-07-17 01:23] Aaron-Pool commented on #11244
@shilman yeah, but the way I'm reading it, that's binding them as props to the root node of the story decorator, but in the original example the root node of the decorator is not the actually the story component, but a wrapper div applying styles. So I don't see how the props are getting to the final story component, am I being an idiot? 🤷‍♂️

[2020-07-17 01:25] shilman commented on #11244
@Aaron-Pool that vue knowledge is above my pay grade, but that could be the problem? @backbone87 ?

[2020-07-17 01:58] shilman commented on #11589
@squarebraket can you pin the MDX dependency to an older version until this gets resolved?

[2020-07-17 02:04] backbone87 commented on #11244
ok short explanation how it worked with sb4/5 knobs:
- each story & decorator component gets normalized with Vue.extend
- then each one gets wrapped with a functional component (lets call this the wrapper)
- the wrapper has 2 responibilities:
  - collect prop default values from the inner wrapper (if any) and from the wrapped components options https://github.com/storybookjs/storybook/blob/next/ap

[2020-07-17 02:58] squarebraket commented on #11589
@shilman I'll try to do that. I looked thru the dependencies for `@storubook/addon-docs` and the `package.json` for this lib reports the following:
`
    "@mdx-js/loader": "^1.5.1",
    "@mdx-js/mdx": "^1.5.1",
    "@mdx-js/react": "^1.5.1",
`
I'm not sure why it doesn't work given the fact that it's an older version.

I also try installing (in my project)@mdx-js/mdx@1.6.10, which is the version t

[2020-07-17 03:05] halionn opened #11592 "how to just show component in canvas tab but hide component in doc tab (but do not hide other description in doc tab)"
login.stories.mdx
[code]
this Cat component will render both in canvas tab page and doc tab page， how to hide Cat render in doc tab page, but reserve other description and propsTable

[2020-07-17 03:30] halionn opened #11593 "when using propsTable, defaultValue priority is lower than component defaultValue, how to make it higher in js doc"
[code]
in this component, i give props bgImg a default value of an image，
defaultBgImg value from webpack is 'static/media/bg.b49ca57a.jpg'， but in propsTable it shown '-' ， how to fixed it ，or
make jsdoc @default value shown in propsTable。

i know a way to fixed it ,but i don't want my code to be this style:
[code]

is there another way to fix it ?

[2020-07-17 03:49] dustinsavery commented on #11589
@squarebraket It's semver. `^1.5.1` (specifically the `^`) means anything short of `2.0.0` will automatically install the latest.

[2020-07-17 05:02] kontactmaneesh opened #11595 "Knobs label update is not reflecting into React Component . Stories implemented into MDX."
**Describe the bug**
Stories implemented into MDX  and trying to use addon-knobs.
Calling React component and passing some props while calling the react component.
As per Knobs , I am trying to change label dynamically into react component . I am passing label into the react component. Changes are not reflecting.
To cross-check that did i added knobs properly , I added simple code like button and

[2020-07-17 05:13] squarebraket commented on #11589
Yep, you’re right, I missed the “^” altogether.

Pedro

[2020-07-17 06:36] vvanpo commented on #11587
Upon taking a closer look, it appears `.cjs`+`.mjs` support was added recently: https://github.com/storybookjs/storybook/commit/6b25bf55c7f95e124e9994718b9cd12348405d59

So I'll just have to wait until v6 is released. Still, it would be nice if we could figure out a solution that didn't require renaming the file.

[2020-07-17 07:00] shilman commented on #11595
FYI, we’ve released addon-controls in 6.0-beta. Controls are portable, auto-generated knobs that are intended to replace addon-knobs long term.

- [Controls README](https://github.com/storybookjs/storybook/tree/next/addons/controls)
- [Migration instructions](https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#how-do-i-migrate-from-addon-knobs)
- [Walkthrough: Controls w/

[2020-07-17 07:04] shilman commented on #11504
A couple things are wrong here:
1) you probably shouldn't be mixing args/controls and knobs in the same story -- it might work but we don't support it
2) this is not valid JS/TS AFAIK

[code]

[2020-07-17 07:06] shilman commented on #10878
How is your project set up? Do you have a repro repo?

[2020-07-17 07:29] yannbf commented on #11581
Hey @GiraffeCoding, by opening this issue you helped us detect that our example file was actually wrong, so thanks a lot for that!

There's nothing wrong in the addon itself, it's just the way the parameters are passed in our example files. I already opened a PR to fix that, but in the meantime what you have to do is to pass the parameters in the following way:

[code]

Note that this is if you're

[2020-07-17 07:33] luke-j opened #11597 "Generating source maps slow the build significantly, should they be opt-in?"
**Is your feature request related to a problem? Please describe.**
I'm looking to optimise the time taken by `build-storybook`. Simply setting the `devtool` webpack option to `undefined` reduces my build times by half.

**Describe the solution you'd like**
I'd argue the average storybook user would benefit more from faster builds than they would from source maps. Therefore, I think source maps sho

[2020-07-17 07:48] luke-j commented on #11597
Actually, I'm going to have a think on this.

[2020-07-17 08:11] timtos commented on #4844
For me the same with the latest version:

![image](https://user-images.githubusercontent.com/2648014/87763790-9cdfc300-c815-11ea-8252-5fe8bedaa2c7.png)

Any updates on this?

[2020-07-17 08:19] GiraffeCoding commented on #11581
Hi @yannbf,

thank you for your response :)

I also managed to get the mdx version working as well which is shown below:

[code]

[2020-07-17 09:10] ndelangen commented on #11466
ok, so it's not that then. thanks.

[2020-07-17 09:36] xseman commented on #6408
I can confirm memory leak, storybook consumed 6GB of RAM.

**storybook/react:**: v5.3.18
**Node**: v14.5.0
**OS**: Linux (Debian 10)

[2020-07-17 10:37] ndelangen commented on #11590
I'm investigating!

[2020-07-17 10:47] kontactmaneesh commented on #11595
Thanks a lot for your quick reply with useful information.
I just installed latest version of the control.
And mentioned into main.js file .

addons: ['@storybook/addon-actions', '@storybook/addon-links',
    '@storybook/addon-viewport/register',
    "@storybook/addon-docs", '@storybook/addon-controls'],

"@storybook/addon-controls": "^6.0.0-beta.15",
But I am always facing below issue.   App is u

[2020-07-17 10:52] yannbf commented on #11581
Really happy that you managed to get that solved! I'll be closing this issue as it has been resolved.
Have a great day 🕺

[2020-07-17 10:52] #11581 closed

[2020-07-17 11:35] sashapawcloud commented on #7223
Faced the same issue recently. Solved by the following trick it `package.json`:
[code]

[2020-07-17 11:57] fernandopasik commented on #11496
Great finding about the docs tab, I didn't notice. In that case all of it is in the same iframe.

Canvas has the controls outside the iframe.

[2020-07-17 12:01] fernandopasik commented on #11496
Also, the value is modified in the component, what seems to happen is that the update is not triggered within the component.
I've triggered manually the update with dev tools selecting the element and running in the console `$0.update()`

[2020-07-17 12:15] simmo commented on #11378
@kettanaito I have had an issue with this, mainly that stuff is getting 500'ed by msw (like fonts, one works one doesn't, race condition?). Only happens in storybook. My setup has the `worker.start()` located in my app entry point (not loaded by storybook) as well as in the `preview.js` as suggested above so I can get msw working in both environments. I found that moving the contents of the condit

[2020-07-17 12:28] simmo commented on #11378
In fact, I seemed to fix that with:

[code]

[2020-07-17 12:36] Steffi3rd opened #11599 "[NETLIFY] "build.command" failed • Command failed with exit code 1: build-storybook -s ./public"
**Describe the bug**
I installed storybook on my project. It works well on local using `yarn storybook`.
But when I try to deploy on Netlify I have the following error :
[code]

**To Reproduce**
Steps to reproduce the behavior:

I tried these but none of them worked.
[code]
[code]
[code]

**package.json**
[code]

**Expected behavior**
Build success

**System:**
[code]

[2020-07-17 12:37] Steffi3rd commented on #11569
Fixed here : https://github.com/gatsbyjs/gatsby/issues/25785#issuecomment-659376887

[2020-07-17 12:37] #11569 closed

[2020-07-17 12:41] Steffi3rd commented on #11599
Looks like every deploy on storybook official netlify are failed : https://app.netlify.com/sites/storybooks-official/deploys 🤔

[2020-07-17 13:16] squarebraket commented on #11589
I was able to make it work by "pinning" `@mdx-js/mdx` to version 1.5.1. @shilman thanks for the suggestion

[2020-07-17 13:43] aputinski commented on #11132
@ndelangen Just upgraded to the latest RC and it's working as expected. Thanks!

[2020-07-17 13:53] pvds commented on #11589
`@mds-js/mdx` just released [version `1.6.11`](https://github.com/mdx-js/mdx/tree/v1.6.11) to [fix the breaking change](https://github.com/mdx-js/mdx/issues/1153#issuecomment-660108205).

Just tested it my `5.3.19` Storybook install and I can confirm the issue is resolved!

[2020-07-17 13:56] pvds commented on #11589
@silvenon does mention that [`toJSX` is (currently) internal API](https://github.com/mdx-js/mdx/issues/1153#issuecomment-660117384)

[2020-07-17 14:09] shilman commented on #11589
Thanks @pvds!! 🙏  Closing this and plan to update the Storybook side when MDX 2.0 is released unless there's urgency to do it sooner.

[2020-07-17 14:43] shilman commented on #11595
Upgrade using:
[code]

[2020-07-17 14:51] shilman commented on #11010
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.9 containing PR #11572 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-17 14:51] shilman commented on #11244
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.9 containing PR #11594 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-17 14:51] shilman commented on #11283
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.9 containing PR #11579 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-17 14:51] shilman commented on #11071
Ta-da!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.9 containing PR #11579 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-17 14:51] shilman commented on #11083
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.9 containing PR #11598 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-17 14:51] #11071 closed

[2020-07-17 14:51] #11083 closed

[2020-07-17 14:51] #11244 closed

[2020-07-17 14:51] #11283 closed

[2020-07-17 15:06] shilman commented on #3855
Here's a code snippet for anybody who's interested in how to do this using `addon-controls` in v6.

[code]

I don't know if this is the best API for this purpose but it should work. Example in the monorepo:

https://github.com/storybookjs/storybook/blob/next/examples/official-storybook/stories/core/args.stories.js#L34-L43

[2020-07-17 15:08] #11132 closed

[2020-07-17 15:10] shilman commented on #11245
I think this was fixed, can you verify @lostdesign ?

https://github.com/storybookjs/storybook/pull/11541

[2020-07-17 15:11] #11245 closed

[2020-07-17 16:57] tau150 commented on #5036
@ilkkao I am having the same issue in Ember, I am new in Ember, could you pass me an example of how did you solve it?

[2020-07-17 17:17] #11589 closed

[2020-07-17 17:38] chrislopresto commented on #3855
Thanks, @shilman! That did the trick.

For folks interested, we happen to have the exact `Checkbox` story `checked` prop that started this whole thread. Here's our newly wired up story using Storybook 6.0.0-rc.9:

[code]

![cb-arg](https://user-images.githubusercontent.com/93691/87814917-a166a480-c832-11ea-86b9-07870006337c.gif)

[2020-07-17 19:06] ilkkao commented on #5036
@tau150 in my case it was ember component with `layout` property set to HTML string. If you are in same situation you can find it by searching for `layout:` in your code.

[2020-07-17 19:32] snyderhaus commented on #7386
Double bump, what's going on with this? Tried multiple things to resolve with no conclusion.

[2020-07-17 20:15] abrenneke opened #11600 "Vue automatic controls, required dependencies"
Looking into this problem is what lead me to work on #11547. So, there are four somewhat unrelated things here:

- [ ] Storybook does not automatically generate controls for Vue as well as it does for React
- [ ] Vue requires `vue-docgen-loader` and docgens created for Vue components - this seems like an unnecessary dependency.
- [ ] `@storybook/addon-controls` requires `@storybook/addon-docs`, wh

[2020-07-17 21:50] kevinkuebler commented on #11255
I just ran into the same issue trying to update my storybook from 5.2.5 to 6.0.0-rc.9. Like @BWrites I added the latest `core-js` as a dev dependency and that fixed it, but I agree that it's not a great solution.

[2020-07-17 21:57] mkrause commented on #548
I wrote a sorting function similar to what @hanilim wrote above, but with support for any amount of nesting.

[code]

[2020-07-18 00:32] LeandroCarolino01 commented on #10869
Why the fuck do they keep storybook with a bug like that?

[2020-07-18 00:50] shilman commented on #11600
I disagree with this. React requires `react-docgen` or `react-docgen-typescript`. Vue requires `vue-docgen-api`. Once you have these set up, the experiences are on a par with one another.

Why is it a bad thing to depend on a library that does the task that you want it to do? As you point out, Vue components expose their metadata, so we could get away with a much simpler library. But we also want

[2020-07-18 00:53] shilman commented on #5036
`Addon-info` is being superceded by `addon-docs`, which fixes a bunch of bugs and is easier to maintain. Please give it a try! https://medium.com/storybookjs/storybook-docspage-e185bc3622bf

[2020-07-18 01:19] shilman commented on #10869
We are getting rid of the demo components in 6.0, which is currently in RC. If you create a new angular project and run:

[code]

You'll get a beautiful Angular storybook with a Button, Header, Page, and full Intro page and current best practices for writing your stories.

<img width="909" alt="Example___Introduction_-_Page_⋅_Storybook" src="https://user-images.githubusercontent.com/488689/8784143

[2020-07-18 06:00] SimenB commented on #11250
I haven't used angular since v1 days, so not much help I'm afraid. If a repository with a full repro was posted I might be able to take a look, but no promises.

(Currently on vacation, so 2 weeks until I can check, btw)

[2020-07-18 06:49] #10896 closed

[2020-07-18 06:49] #5262 closed

[2020-07-18 06:49] #10934 closed

[2020-07-18 06:49] #10718 closed

[2020-07-18 06:49] #10931 closed

[2020-07-18 06:49] #10927 closed

[2020-07-18 06:49] #10078 closed

[2020-07-18 06:49] #9592 closed

[2020-07-18 07:32] nqhy commented on #11041
@AsherFoster Thanks so much for your support <3 i really appreciate that

[2020-07-18 07:32] #11041 closed

[2020-07-18 10:30] christianwiedemann opened #11602 "Webpack Hot Reload not working in react Storybook 6.0-rc.9"
**Describe the bug**
After changing a story the page reloads and I get following message in the browser console

[code]

**To Reproduce**
1. Fresh install of storybook 6 react with npx sb@next init --type react
1. Go to the button story
1. Change something inside 'stories/Button.stories.js'
[code]

**Expected behavior**
A hot reload without page reload

**Screenshots**
![react](https://user-images

[2020-07-18 11:26] hollandThomas commented on #10654
Since [Vue3 is now in RC](https://github.com/vuejs/rfcs/issues/189), it might be worthwhile reevaluating whether or not adding Vue3 support to v6 should be considered.

[2020-07-18 11:51] macrozone commented on #7745
no solution worked good for me so far, so no stale bot, go away

[2020-07-18 12:34] ZebraFlesh commented on #11275
Any updates here?

[2020-07-18 13:25] shilman commented on #10654
@hollandThomas we're already mid-RC so vue3 will have to come in 6.1. That said, we should be releasing the first 6.1 alphas in a few weeks so if anybody wants to start putting this together, I'm sure there is a large audience that's hungry for this!

[2020-07-18 13:34] shilman commented on #11275
This is apparently working for me in 6.0. What I did:

[code]

[2020-07-18 14:14] shilman commented on #11526
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.10 containing PR #11601 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-18 14:14] #11526 closed

[2020-07-18 15:03] pranaypratyush commented on #9610
Any updates on this? I need Storybook with Typescript on my Next.js app as well

[2020-07-18 16:35] Hongbo-Miao commented on #10768
Activate.

[2020-07-18 18:25] BPScott opened #11604 "Global Args / Toolbars: Mechanism to load preview iframe with particular global args configuration"
**Is your feature request related to a problem? Please describe.**

I would like to be able set the preview iframe into a given global args state. This was possible using addon-controls as it passed values into preview iframe's querystring. However it is not clear how to do that with addon-toolbars / global args.

I want to use chromatic/percy to screenshot a story with different values for global

[2020-07-18 22:45] lifeiscontent opened #11605 "Storybook 6.0 args don't maintain array order."
**Describe the bug**
When using both typescript types and argTypes,  the order of args are not maintained.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a component that has a prop with multiple options
2. Add story with args
3. See arg order is not maintained

**Expected behavior**
Args are ordered

**Screenshots**
<img width="1083" alt="Screen Shot 2020-07-18 at 3 41 17 PM" src="h

[2020-07-18 23:23] shilman commented on #11605
@hipstersmoothie  is this something you can look into? I think it's happening in `react-docgen-typescript`. Even worse it's nondeterministic, so our snapshot tests become flakey. Any help you can provide would be much appreciated!

[2020-07-19 00:08] Orpheusp commented on #10167
Just chatted with @shilman and we both think we should expose some of the options for the color control. I'll start with exposing `presetColors`.

[2020-07-19 09:17] streamich opened #11607 "[Feature request] Ink Storybook"
Add support for [`ink`](https://github.com/vadimdemedes/ink) React renderer. It could be a `@storybook/ink` package that works just like `@storybook/react`, but instead renders components in a browser terminal like [`xterm`](https://xtermjs.org/).

[2020-07-19 09:19] shilman commented on #10167
Shiver me timbers!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.11 containing PR #11606 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-19 09:19] shilman commented on #11582
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.11 containing PR #11603 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-19 09:19] #10167 closed

[2020-07-19 09:19] #11582 closed

[2020-07-19 11:18] gaurav5430smallcase commented on #340
This works similar in the new CSF format as well

[code]

and can be used as:

[code]

[2020-07-19 12:31] LeandroCarolino01 commented on #10869
still getting an error when running npm run storybook....

[2020-07-19 12:42] shilman commented on #10869
@LeandroCarolino01 in SB6 with a fresh install?

[2020-07-19 12:51] LeandroCarolino01 commented on #10869
[14:50:23] No configuration file found, switching to CLI flags.
[14:50:23] "./tsconfig.base.json" file was not found in the current directory
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! testing-sb@0.0.0 docs:json: `compodoc -p ./tsconfig.base.json -e json -d .`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the testing-sb@0.0.0 docs:json script.
npm ERR! This is probably not a problem w

[2020-07-19 13:11] iamandrewluca opened #11608 "feat(html): add support for declarative JSX elements"
Right now when exporting an element from a story we have to do this in an imperative way

[code]

Would be great if we could do this in an declarative way using JSX (events also work)

[code]

Current alternative for declarative exporting is to use string html, but in my opinion I think JSX exporting is better.

[code]

I can help implemet this feature

I worked on an [experimntal PR](https://gith

[2020-07-19 14:18] shilman opened #11609 "CLI: Generate compodoc command based on user's setup"
According to @LeandroCarolino01 the new angular CLI template is not working out of the box in his project https://github.com/storybookjs/storybook/issues/10869#issuecomment-660639116

We should generate the `docs:json` command based on the user's setup rather than hard-coding it to the latest `angular-cli`. Help wanted @tooppaaa @kroeder @gaetanmaisse

@LeandroCarolino01 can you help kick this off

[2020-07-19 14:19] shilman commented on #10869
@LeandroCarolino01 seems like a separate issue. continuing the conversation here: https://github.com/storybookjs/storybook/issues/11609

[2020-07-19 14:22] shilman commented on #11104
@domyen sorry i missed this. we treat JSdoc comments as markdown, so the user should escape the html manually like this:

[code]

[2020-07-19 17:39] artaommahe opened #11610 "Storybook uses own webpack config with angular components that breaks images requiring"
**Describe the bug**
Using storybook with angular we faced an issue that storybook does not use angular-cli webpack config for components build and e.x. requiring images resolves to different stuff in the storybook and in the real angular project.

**To Reproduce**
Steps to reproduce the behavior:
1. new angular project, 6.0.0-rc.8 storybook
2. add any png image and require it in the component lik

[2020-07-19 20:59] StephanBijzitter commented on #3592
For Storybook 5.x:

manager.js:
[code]

[2020-07-19 23:07] tim-mccurrach commented on #11227
@yannbf It's mentioned in a comment above that you have worked on adding msw to storybook. This sounds like a really great development. What is the status of this work? (an experiment that might be built on later? / one that will probably be discarded? / is already completed?).

It goes without saying, I don't mean any pressure in asking this. I'm just excited by the prospect, regardless of the st

[2020-07-19 23:21] mitchellbusby commented on #11213
@shilman did that fix successfully work and was it released for addon-docs?

[2020-07-19 23:29] shilman commented on #11213
@mitchellbusby yes, fixed in https://github.com/storybookjs/storybook/pull/10959

We still don't recommend using template strings as per this comment https://github.com/storybookjs/storybook/pull/10959#pullrequestreview-431120762

[2020-07-20 01:41] daneah commented on #9191
We're on to controls at this point, and they're looking really nice. More responsive, more granular, and so on. Really liking them in the short time we've worked with them! Thanks for the work on this @shilman .

[2020-07-20 01:42] daneah commented on #9295
Sorry for the lack of follow-up here—we rapidly switched to web components only, so haven't really been digging into HTML Storybook at all, of late.

[2020-07-20 02:06] #10660 closed

[2020-07-20 02:40] tmeasday commented on #11586
@shilman I think this is likely just a problem with `undefined` coming down the line into your stateful control component.

I added a repro in the branch 11586-fix-args-refresh:

https://www.loom.com/share/c195dee7689040b7bb5d0edae88d443f

[2020-07-20 02:56] akhilesh85 opened #11613 "[Angular] Addon Controls resets the component's local variables initialised during Angular life cycle events"
**Describe the bug**
When a field in the Controls is updated it resets the value of the components instance variable which is altered in the Angular lifecycle events

**To Reproduce**
Steps to reproduce the behavior:
1. Create a component with @Input and an instance variable with a default value
2. Update the instance variable in ngOnInit with a new value.
3. Go to the storybook controls tab and a

[2020-07-20 03:44] akhilesh85 opened #11614 "[Angular] Addon Controls "reset functionality" does not reset a component to its Initial State"
**Describe the bug**
When we use the reset functionality under the controls tab, it does not reset the component to its initial state.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to controls
2. Update the Input for both text and select controls
3. Click on the reset button under the controls
4. The values reset under controls but the component instance variables do not resets

**Expec

[2020-07-20 04:10] akhilesh85 opened #11616 "[Angular] Addon Control Input borders not showing up correctly under the Docs section"
**Describe the bug**
The border on the right-hand side of the select control gets cut off.

**To Reproduce**
Steps to reproduce the behavior:
1. Create some inputs like text, select.
2. Go to the controls tab under the Canvas tab. The select and input control borders show up correctly.
3. Go to the props section under the Docs tab. The borders or the select control do not show up correctly whereas

[2020-07-20 04:21] akhilesh85 commented on #11452
Hi @shilman ,

Thank you fr your inputs. May I know when would be args and argTypes available in the Angular MDX version? If it is already there could you please provide a reference code snippet for the same. Thanks.

Regards,
Akhilesh

[2020-07-20 05:27] tmeasday opened #11618 "All parameters are added and merged to all groups + roots in `storiesHash`"
**Describe the bug**

In https://github.com/storybookjs/storybook/pull/9090 we started storing parameters on all levels of the `storiesHash` from root down.

The reason for this was to control link behaviour when clicking on the component in the UI (I'm not sure why this meant we started adding parameters for *all* groups including non-components, given it is behaviour of clicking on components we

[2020-07-20 06:32] kontactmaneesh commented on #11595
Thanks a lot for your quick reply.
Run npx sb@next upgrade --prerelease command but it is giving me the same issue.
So I updated version directly into package.json

"@storybook/addon-actions": "^6.0.0-rc.11",
    "@storybook/addon-controls": "^6.0.0-rc.11",
    "@storybook/addon-docs": "^6.0.0-rc.11",
    "@storybook/addon-links": "^^6.0.0-rc.11",
    "@storybook/addon-viewport": "^^6.0.0-rc.11",

[2020-07-20 07:21] lukaskoeller commented on #8392
Thank you @shilman and @vinceumo very much for your help. For anybody interested and feedback for improvements, I ended up using this code:

[code]

[2020-07-20 07:48] ndelangen commented on #11135
https://github.com/storybookjs/storybook/blob/6f7420531d17fb6fd0320c2c41c46ca0be535294/lib/core/src/server/preview/entries.js#L61-L62

[2020-07-20 07:48] #11135 closed

[2020-07-20 09:01] LeandroCarolino01 commented on #11609
Sure, This is my set up

[2020-07-20 09:35] shiseru commented on #979
Hi ndelangen, Thanks for your great description for removing storybook. Here I would like to provide more specific details.
1. delete your stories

2. delete the .storybook folder

3. delete scripts and dependencies from package.json (usually, delete every single line which contains 'storybook')

4. run `npm install` (*this is important. Don't run `npm update` as `npm update` updates every single

[2020-07-20 09:41] shilman commented on #11609
@LeandroCarolino01 how about your angular project? Is it generated by `angular-cli`? What version? Do you have a single `tsconfig.json` file or multiple? Do you happen to have the project available publicly?

[2020-07-20 09:50] TomWija commented on #11526
So I updated to rc.11 and now stories that used to have code-snippets generated for them are just showing "No Code Available"

[code]

results in this:

![image](https://user-images.githubusercontent.com/7304281/87924383-bf244b80-ca76-11ea-93b7-beee35511ff9.png)

Back in v5.0.0 this would have given us the source instead

[2020-07-20 09:57] LeandroCarolino01 commented on #11609
I am going to send you the link to the project on github here, thanks
https://github.com/LeandroCarolino01/sb-setup

[2020-07-20 10:04] brandiqa commented on #6319
Which file does this config go to?

[2020-07-20 10:36] jookshub commented on #10878
I've ran into the same problem.

{{build-storybook}} does not respect {{.eslintrc.json}} and I have found no sufficient information how to configure it, so that it will respect it or an {{.eslintignore}}

See my repo https://github.com/jookshub/storybook_cra_tsx/tree/feature/demo-eslint-storybook-issues

Compare running {{build-storybook}} vs. {{npm run lint}}

[2020-07-20 10:37] shilman commented on #11526
@TomWija do you have a repro I can look at?

[2020-07-20 10:41] shilman commented on #11595
What's going on with your `package.json` here? `^^6.0.0-rc.11` is not a valid version specifier for this and a few other entries.

[2020-07-20 10:51] TomWija commented on #11526
Here's one I put together that replicates the problem
https://github.com/TomWija/storybook-source-test

[2020-07-20 11:53] kontactmaneesh commented on #11595
it was a typo error. I already corrected and getting same issue.

"@storybook/addon-actions": "^6.0.0-rc.11",
    "@storybook/addon-docs": "^6.0.0-rc.11",
    "@storybook/addon-links": "^6.0.0-rc.11",
    "@storybook/addon-viewport": "^6.0.0-rc.11",
    "@storybook/addons": "^6.0.0-rc.11",
    "@storybook/react": "^6.0.0-rc.11",

[2020-07-20 12:42] shilman commented on #11583
¡Ay Caramba!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.12 containing PR #11612 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-20 12:42] shilman commented on #11585
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.12 containing PR #11611 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-20 12:42] shilman commented on #11586
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.12 containing PR #11619 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-20 12:42] #11583 closed

[2020-07-20 12:42] #11585 closed

[2020-07-20 12:42] #11586 closed

[2020-07-20 12:51] priandsf commented on #11586
Thanks, first quick tests show it working properly!

[2020-07-20 13:18] shilman commented on #11526
Thanks @TomWija, I'll try to get out a fix in the next RC 🙈

[2020-07-20 13:19] shilman commented on #11595
Did you try clearing `node_modules` and your package lock and reinstalling

[2020-07-20 13:47] kontactmaneesh commented on #11595
Yes, I tried many times.
Cleaned node_modules, yarn.lock file and did the fresh install.
But it is always giving me same error.

Important: If I will use below version so everything will work.

    "@storybook/addon-actions": "^5.3.19",
    "@storybook/addon-docs": "^5.3.19",
    "@storybook/addon-links": "^5.3.19",
    "@storybook/addon-viewport": "^5.3.19",
    "@storybook/addons": "^5.3.19",

[2020-07-20 13:54] diegovincent commented on #7708
Number of likes is increasing. No PRs by anbody?

[2020-07-20 14:23] EdenTurgeman commented on #11377
Unfortunately Still happening in the latest RC (12)

[2020-07-20 14:54] artaommahe commented on #11181
Faced same issue. We have a big library with a lot of submodules and their stories. Some submodules have their own storybook configuration due to specific code/environment. We need to exclude these submodules stories from the main storybook and cant find a way to do it with the new pattern format 😕

[2020-07-20 16:47] shilman commented on #11595
@ndelangen can you help out with this core-js related issue?

[2020-07-20 16:56] shilman commented on #11181
@artaommahe have you looked at storybook composition? https://medium.com/storybookjs/storybook-composition-af0da9084fba

[2020-07-20 17:01] shilman commented on #11452
Here's an MDX example for Vue. it should be straightforward to adapt the example to angular: https://raw.githubusercontent.com/storybookjs/storybook/next/examples/vue-kitchen-sink/src/stories/addon-controls.stories.mdx

[2020-07-20 17:06] akhilesh85 commented on #11452
Sure, let me try it tomorrow. Thanks.

[2020-07-20 17:06] lifeiscontent commented on #11605
@shilman I looked into it more on the TypeScript side, looks like it might be planned to fix this behavior upstream, but currently no fix.

https://github.com/Microsoft/TypeScript/issues/17944

[2020-07-20 17:40] artaommahe commented on #11181
how does it exclude dirs from specific storybook? e.x. this folders structure
[code]
we need layout/lesson/user stories, but not widgets one for the main storybook

[2020-07-20 17:42] shilman commented on #11181
you could just include `layout`, `lesson`, `user` and then compose the storybooks from chat & switcher if you wanted a unified view including storybooks with different configurations

[2020-07-20 17:42] #9794 closed

[2020-07-20 17:42] #10905 closed

[2020-07-20 17:42] #10948 closed

[2020-07-20 17:42] #10961 closed

[2020-07-20 17:42] #10598 closed

[2020-07-20 17:42] #10983 closed

[2020-07-20 17:53] hipstersmoothie commented on #11605
I could add an option to one of the underlying libraries to sort the props. I'm not sure this will ever get "fixed" in typescript

[2020-07-20 17:55] artaommahe commented on #11181
hm, yu're right, just list all folders.. so there is no other way, no excluding in current glob implementation?

[2020-07-20 18:23] brandiqa commented on #6319
In case you come across this issue while trying to integrate storybook with tailwind, update your `postcss.config.js`:

[code]

That's it. The plugin `tailwindcss` must be declared as an object in order for Storybook's webpack to process it. Credit for this solution goes to [Andrea Cappuccio](https://dev.to/0xcap/nextjs-typescript-tailwindcss-storybook-project-setup-4clj)

[2020-07-20 19:44] Snowshield commented on #11551
@bsdis, i try solution from https://github.com/storybookjs/storybook/issues/208#issuecomment-306953718 with your import declaration and it works for me.

[code]

[2020-07-20 20:13] ddoria921 commented on #11301
Quick update: I was able to figure out an easy fix for this with the help of other devs in the Ember community. If you define an empty `.babelrc` file like this:
[code]
By using an empty config, Babel will find the config used by `ember-cli-babel` which has the proper config setup to handle the framework's decorators.

[2020-07-20 22:01] saravvij commented on #9311
`npx sb@next upgrade --prerelease` - Upgrades storybook to alpha. How to upgrade storybook 5.x to rc release?

[2020-07-21 00:31] shilman commented on #9311
@saravvij `npx sb@next upgrade --prerelease` upgrades any version of storybook to the RC release. We'll publish a migration guide soon, but in the meantime the best resource for breaking changes etc. is https://github.com/storybookjs/storybook/blob/next/MIGRATION.md

[2020-07-21 00:35] #11609 closed

[2020-07-21 00:40] shilman commented on #11609
@LeandroCarolino01 we've updated the CLI so it's now compatible with older versions of `angular-cli`. After we release the next RC, you can re-run it on a fresh project. Or you can update the breaking line in your `package.json`:

[code]

[2020-07-21 03:27] lacolaco commented on #10784
I'm in the same situation with `@storybook/angular` 6.0.0-rc.12. It takes 2-3 minutes for responding the first HTML. `build-storybook` is not slow. And once initialized, reloading storybook preview is not slow. Only the first response.

[2020-07-21 04:31] shilman commented on #10784
@lacolaco i suspect that's due to a perf bug in 6.0 and not typescript related https://github.com/storybookjs/storybook/issues/11618

[2020-07-21 04:33] lacolaco commented on #10784
@shilman Thanks. I'll subscribe that issue.

[2020-07-21 04:42] kontactmaneesh commented on #11595
Thanks, @shilman .
@ndelangen : please let me know if I can provide further inputs.
I am also trying all the possible scenarios to resolve this issue but did not resolve it till now.

[2020-07-21 06:33] shilman opened #11623 "Core: Ensure decorators are not run twice"
In SB6 we added a bunch of addon presets which automatically register decorators. Although this is documented in [MIGRATION.md](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#new-addon-presets) it will also likely lead to difficult to debug situations. We are also [recommending duplicate decorators to storyshots users](https://github.com/storybookjs/storybook/pull/11518), which wi

[2020-07-21 08:03] nfroidure commented on #714
Do you think a solution like `start-storybook -p 6006 -s "./public:/static"` to serve static files from `./public` on the `/static` path be implemented? It would lead to extremely flexible uses and fit the Docker's conventions of path mapping that lots of us are already familiar with.

[2020-07-21 09:16] ndelangen commented on #11590
I'm trying to reproduce, but I'm unable to. The navigation seems to work for me, in both dev & prod mode.

Could you make me a reproduction repo?

[2020-07-21 09:27] jookshub commented on #10878
After some experimentation I got Storybook 6.0.0-rc.3 to respect a given `.eslintrc.json` or `.eslintignore` or the `eslintConfig` section of the `package.json`.

Key to this was to use `EXTEND_ESLINT=true build-storybook`, so that CRA would set `useEslintrc: true` - [see here](https://github.com/facebook/create-react-app/blob/fa648daca1dedd97aec4fa3bae8752c4dcf37e6f/packages/react-scripts/config/

[2020-07-21 09:49] shilman commented on #10878
Nice find @jookshub! @mrmckeb should we build this into the CRA preset somehow?

[2020-07-21 09:51] ndelangen commented on #11466
@dpouliot got it

[2020-07-21 10:03] ndelangen commented on #11466
I investigated:

The webpack extend mode is no longer supported in Storybook V6.
The best course of action is to migrate to the `main.js` config file format introduced in 5.3:
https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#to-mainjs-configuration

Once you've done that migrating to SB6 should be easier.

To get sass support in SB6 we actually have an example here:
https://storyboo

[2020-07-21 10:06] ndelangen commented on #11466
Previously you could do:
[code]

That's no longer supported, this is the new way:
[code]

[2020-07-21 10:07] ndelangen commented on #11548
I'm on it

[2020-07-21 10:11] ndelangen commented on #11466
Please re-open if this doesn't fix it, and you find storybook is not compatible with sass-loader in some way.

[2020-07-21 10:11] #11466 closed

[2020-07-21 10:37] shilman commented on #11229
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.13 containing PR #11624 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-21 10:37] shilman commented on #11302
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.13 containing PR #11584 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-21 10:37] shilman commented on #11609
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.13 containing PR #11622 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-07-21 10:37] shilman commented on #11618
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-rc.13 containing PR #11624 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-07-21 10:37] #11229 closed

[2020-07-21 10:37] #11618 closed

[2020-07-21 13:05] daniel-ac-martin commented on #11530
Now that PR's been merged I wonder whether this issue should be closed or whether it is worth starting a campaign to improve `require.context`.

FWIW, it _looks like_ the starting point to improving the implementation would be here: https://github.com/webpack/webpack/blob/master/lib/dependencies/RequireContextDependencyParserPlugin.js#L18

Mind you it looks like a related subject was brought up qu

[2020-07-21 13:06] ndelangen commented on #11623
@tmeasday @shilman I'd like to discuss this first before I start working on a solution..

Also see my comment here:
https://github.com/storybookjs/storybook/pull/11518#issuecomment-661847900

(I understand that "proposal" isn't feasible for 6.0)

[2020-07-21 13:50] amalfra opened #11629 "Error in React native storybook"
**Describe the bug**
When adding storybook view in react native app as main component using appRegistry, even without loading anything the app is crashing with below error. This is a monorepo setup using lerna.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup storybook for react native in lastest react native and storybook v5.3.19.
2. Run the app after including storybook compon

[2020-07-21 13:56] Meugenn opened #11630 "Can't start storybook: recieve error"
Hi. I'm trying to start storybook, but recieve an error:
ERROR in  SyntaxError: Invalid regular expression: /%g++%/: Nothing to repeat

### Steps to reproduce
Repeating the guide:
npx create-react-app taskbox
cd taskbox
npx -p @storybook/cli sb init
yarn storybook

### Please specify which version of Storybook and optionally any affected addons that you're running

- @storybook/react ^5.3.19
- Nod

[2020-07-21 14:39] IrmantasM commented on #6505
Also facing this issue:

[code]

I am troubleshooting build performance issues and now I am not sure if this can be causing it or I can simply ignore it using `SKIP_PREFLIGHT_CHECK=true`.

[2020-07-21 15:08] jonhuteau commented on #10758
Hi,

Is there any news about this feature ? I ran into this "problem" too and I'd love to have it!

Also, @adamlohner, could your provide a gist with you config please ? I'm using Vue SFC for writing stories and then I bind the source code with raw loader (seems a bit messy)

[code]

[2020-07-21 15:17] ajkl2533 commented on #9794
@shilman @kcsuraj  I see this issue is closed but I encountered the same/very similar issue with the latest `rc.13` version. I have styled-component added to Storybook but the props table is not showing any custom props defined on the component. Any idea or advice what I'm doing wrong?
[code]
[code]

<img width="745" alt="Screenshot 2020-07-21 at 17 15 04" src="https://user-images.githubuserconten

[2020-07-21 16:25] shilman commented on #11530
@daniel-ac-martin Thanks so much for your work identifying the issue and improving the situation.

I don't fully understand all the moving pieces here, but I wonder if it would be possible to statically detect some common patterns that would incorrectly dive into node_modules with a warning and a link to storybook documentation that explains how to rewrite your globes to avoid this. What do you th

[2020-07-21 16:52] dpouliot commented on #11466
@ndelangen Thank you, this basically fixed it. There are other issues, but I'll follow up on those through the appropriate channels.

[2020-07-21 17:26] keyboard-clacker commented on #8078
Is there any work being done on this? I'd be happy to dig into it, though I don't have much experience with the storybook source code haha. Would love to have my source code unformatted (or even better, automatically formatted by prettier!)

[2020-07-21 17:52] shilman commented on #8078
@hasparus started a PR to use prettier but it stalled. I think the issue there is bundle size. I'd love some help to fix this. There's also another JS formatter used in storybook-addon-jsx that might be worth a look

[2020-07-21 18:10] DanWahlin opened #11633 "Can't resolve 'core-js/modules/es.string.replace' with Storybook 6.0.0-rc.13"
**Describe the bug**
I'm using `myString.replace(regex)` in a custom addon with Storybook 6.0.0-rc.13 and getting the following error during the build process.

`Can't resolve 'core-js/modules/es.string.replace' error when building.`

This has happened with earlier RCs as well, but did work fine with 6.0.0-rc.0 so I'm guessing it's related to the version of core-js being used under the covers.

Th

[2020-07-21 18:16] DanWahlin commented on #11633
As a temporary work around I added the following into package.json:

[code]

The build now seems to work correctly. So, I'm guessing a core-js dependency somewhere in Storybook just needs updated.

[2020-07-21 18:43] DanWahlin commented on #11312
I'm seeing this issue as well with Storybook 6.0.0-rc.13 with `@storybook/preset-create-react-app` 3.1.4.

I don't have any local webpack rules defined so I'm not sure what else to change there. Any ideas?

[2020-07-21 19:26] blaine-stripe commented on #11590
@ndelangen This was happening on rc.5 but I upgraded to rc.13 and I can't reproduce. Where you checking rc.5? Anyway, might have been fixed in between!

[2020-07-21 19:40] blaine-stripe commented on #11590
Doing some more digging here, so might continue to update with some information:

When I navigate, an error is thrown in my console that says
[code]

It looks like null values are being passed to the sanitize method through `toId`

[2020-07-21 19:52] #11484 closed

[2020-07-21 20:47] cescoferraro commented on #9311
@shilman any tips on how to run it with typescript?
 I thought i was having issues with the wrong library.
I am getting some errors like described on the link below
https://github.com/ccontrols/component-controls/issues/6

[2020-07-21 20:58] pelotom commented on #11571
Ping? Just want to make sure this doesn't fall thru the cracks before the release!

[2020-07-21 21:29] blaine-stripe commented on #11590
Alright, I think I've tracked the issue down to the method it is happening in (and why it only happens in the production build).

In production, the `window['DOCS_MODE']` is set to true, so [`collapseAllStories`](https://github.com/storybookjs/storybook/blob/next/lib/ui/src/components/sidebar/Tree/State.tsx#L10) is called instead of [`collapseDocsOnlyStories`](https://github.com/storybookjs/storyb

[2020-07-21 21:57] keyboard-clacker commented on #8078
Ahh I see @shilman , thanks for the update! Interesting, I'll check it out. I wonder if we could declare prettier as a peer dependency or something, and try to require it and fall back to the current version or something

[2020-07-21 22:42] fgaleano commented on #11574
I'm having this issue as well and beyond that, I haven't figured out anyway at all to add component text descriptions using CFW in 6.0-rc3. I including JSDocs and `parameters` API. Is the component description feature not working at all in the RC versions or is there some method that does work while these other issues are ironed out? Thanks!

[2020-07-21 22:55] JeffWeim commented on #11467
@shilman This is seems to be resolved on the `6.0.0-rc.13` branch

[2020-07-21 23:05] mkay581 commented on #3908
we're not ready to use controls just yet. @JalilArfaoui did you use a workaround for this?

[2020-07-21 23:18] segunadebayo opened #11636 "Chakra UI: Storybook not running after upgrade"
**Describe the bug**
I recently upgraded to `6.0.0-rc.13` and I'm getting some errors related to React Docgen Typescript. Is there a way to turn off this step?

**Steps to reproduce**
1. Clone https://github.com/chakra-ui/chakra-ui/tree/develop
2. Edit `main.js` to run all storybook files
3. You'll see the same error as attached below. The packages that seem to be problematic are "slider", and "sy

[2020-07-21 23:28] blaine-stripe commented on #10846
I also ran into this while investigating https://github.com/storybookjs/storybook/issues/11590 - is there a workaround for now?

[2020-07-22 00:04] blaine-stripe commented on #11591
@shilman Your PR helped a bunch, especially around the stories hash, but it seems that 7 seconds are still being spent in `configure` on page load.

<img width="811" alt="Screen Shot 2020-07-21 at 5 02 12 PM" src="https://user-images.githubusercontent.com/67979863/88119073-38ee2f00-cb74-11ea-83ed-024024e64518.png">

[2020-07-22 00:08] shilman commented on #9311
@cescoferraro this is an umbrella issue for the 6.0 release. Please open a separate issue describing your specific problem and we'll do our best to help there!