[2020-04-30 21:22] Neilpoulin commented on #10204
I also had this error in the console. Removing the `@storybook/addon-viewport` addon was successful in removing the error.

[2020-04-30 22:19] lifeiscontent commented on #10595
@ndelangen yep, will do once I can get storybook 6.0 to compile for me :)

[2020-04-30 22:20] #10176 closed

[2020-04-30 22:21] lifeiscontent commented on #10176
Solution: use `.js` configs

[2020-04-30 22:22] lifeiscontent commented on #10145
@tmeasday @shilman I think I'll try to take a stab at this once I can get 6.0 to compile for me.

[2020-04-30 22:47] hipstersmoothie commented on #9209
This would be a killer feature to have with addon-docs.

I have a bunch of mdx files with designer focused documentation. (not stories.mdx) This file generally just documents the component and references story ids to render stories. A lot of the time we want to add examples in this doc but still want it to be verified with typescript/eslint so we end up creating real stories for them.

The only pr

[2020-04-30 22:51] lifeiscontent commented on #10595
@ndelangen here's a link to the build: https://lifetime-497nhbw39.now.sh/storybook

here's the main.js

[code]

let me know if I should add you to the repo to debug.

[2020-05-01 01:16] stephenhmarsh commented on #3722
THANK YOU @johnhunter this was driving me crazy

[2020-05-01 01:29] tugglecore commented on #8575
Will a fix for this be coming soon? This is a problem that still exists today

[2020-05-01 01:30] matheo commented on #10294
@ndelangen @shilman I've found this difference between the `alpha.28` webpack config rules and the latest one; this was the config on `alpha.28`:
[code]
and this is how it looks now:
[code]

I will remove the `(stories|story)\.[tj]sx?` as it seems to conflict with my custom rule, but I'm worried about the MDX files not being listed anyways.

[2020-05-01 05:11] scoorey opened #10604 "background addon no longer has event support?"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

I want to be notified when the user changes background colours in an event. I saw in the history of the readme file it used to be possible like this (in  .storybook/preview.js:) :

[code]
[code]
When I try to debug this, I don't get the log messages and it never steps into the addons.register statemen

[2020-05-01 06:04] tmeasday commented on #10467
It's sort of tricky in React because the story function is implicitly a SFC (i.e. a function that returns a React element). They aren't allowed to be async by the rules of React (see error above). We could not render them with React but then React hooks wouldn't work inside stories or decorators.

We discussed the possibility of having a parameter, maybe something like:

[code]

Where if you passe

[2020-05-01 06:19] tmeasday commented on #10523
No? I haven't really been following but the obvious answer to that question is of course not. That's exactly why we made global args.

[2020-05-01 06:22] tmeasday commented on #10551
hi @JadeTao, thanks for the report.

I don't really understand what you mean by "changing a tab"? Do you mean a tab in the browser? Or the addon panel? Or switching between docs / story mode?

As you mentioned, the code you highlighted doesn't exist any more in 6.0. Unless you meant switching from docs mode to story mode, in which case I think re-rendering the story is unavoidable..

[2020-05-01 06:52] hipstersmoothie commented on #10523
So the question remains: How can I dynamically theme `addon-docs`? If it's through global args that's cool. I just read through the doc and it doesn't mention parameters very much.

[2020-05-01 07:04] tmeasday commented on #6885
Hey everyone, we'd love to see proper code-splitting in Storybook, we've all got big bundles too and it surely isn't ideal! I know this is one important way Storybook could improve for application development and its definitely something we've been thinking about a fair bit.

Let me outline some of the difficulties and ideas/progress towards solutions we've had so folks know what's up and how they

[2020-05-01 07:10] tmeasday commented on #9534
@ArrayKnight you could stringify the `DocumentNode` yourself though and pass it as a string?

I'm sure it would be better to be able to control telejson, but essentially that'd be the same thing, no?

[2020-05-01 07:32] shilman commented on #9592
@jonasantonelli that's strange. `babel-plugin-react-docgen` should be automatically applied in the default babel setup. are you using a custom babel config?

[2020-05-01 07:37] shilman commented on #10600
That sounds weird--can't imagine what's causing the problem. Can you share what an example MDX/MD/Story looks like?

[2020-05-01 07:43] shilman commented on #10586
@DanielRamosAcosta I tried your your repo and was able to repro. Then I did the same thing in `yarn`, which generated a new lock file, and now it doesn't repro. Hope that helps narrow it down!

[2020-05-01 07:47] shilman commented on #10523
@tmeasday in that case either #10114 was wrong and we should switch to `globalArgs` (which is possible because we haven't released 6.0 yet), or we should forego dynamic theming in docs. thoughts?

[2020-05-01 07:55] shilman commented on #10604
Working for me:

https://next--storybookjs.netlify.app/angular-cli/?path=/story/addon-background--background-component

Are you showing verbose logs in your browser console?

[2020-05-01 07:56] shilman commented on #8575
@tugglecore would you like to contribute the fix?

[2020-05-01 08:07] shilman commented on #10579
@flo-sch I think (1) lack of documentation, and (2) horrible duplication of types across the codebase.

In practice, I'd probably write it:

[code]

[2020-05-01 08:11] shilman commented on #10598
I think this already exists but needs some documentation.

There's a doc block called `Anchor`, which I believe you can pass the Story ID to, and override the existing scroll behavior.

https://github.com/storybookjs/storybook/blob/next/addons/docs/src/blocks/Anchor.tsx

cc @patricklafrance

[2020-05-01 08:12] shilman commented on #10597
@ndelangen @ghengeveld is this related to the layout work?

[2020-05-01 09:20] slashwhatever commented on #8575
Quick fix (might work for you - definitely worked for me while I try to decipher a real fix):

Add a `storybook.css` file in your `.storybook` folder and give it this CSS rule:

[code]

[2020-05-01 09:32] ghengeveld commented on #10597
I checked the [PR](https://github.com/storybookjs/storybook/pull/9229/files) that introduced the layout option and it didn't touch the background.

[2020-05-01 10:19] scoorey commented on #10604
That one works for me too (i can see the log messages in my console),
When I look at the source, it doesn't seem to subscribe to storybook/background/update events like the readme file used to say.

I think it does this instead:
[code]

I don't understand how that hooks into the dropdown menu's selection events - is it creating an event on a new button for the facebook and twitter options? I alrea

[2020-05-01 10:47] zeorin commented on #10078
Still an issue for me. What's especially annoying is that Yarn 2 keeps deleting the symlink whenever it touches the package that contains it.

[2020-05-01 10:48] #10595 closed

[2020-05-01 11:24] daraclare commented on #9131
I have the same issue, if I change a knob that affects the design it changes, but not if I change a knob that affects how the component renders. For instance, I have an iframe component, if it has a thumbnail, it should not render the iframe until the thumbnail is clicked, if it doesn't have a thumbnail it should render the iframe without needing to be clicked.

The story:
[code]

The component:
[

[2020-05-01 11:36] daraclare opened #10609 "Component not re-rendering on knob change."
**Describe the bug**
I think this is a bug, not a feature request 🤔

If I change a knob that affects the design of a component, the component in storybook changes, but not if I change a knob that affects how the component renders.

For instance, I have an iframe component (see below). If the iframe component is passed a thumbnail it does not render the iframe until the thumbnail is clicked. If he

[2020-05-01 12:29] kevinmpowell commented on #10486
@shilman FWIW the manager does work in IE11 in the latest 5.x release, it's the preview that fails. **That's the part I'd really like to see working**. There are examples in the preview of the web components scaffold, and that's the part that wasn't working to me.

In the alpha the manager is _also_ broken.

[2020-05-01 12:55] sney-js opened #10610 "No props table appear within docs on typescript when exported from another file"
**Describe the bug**
It seems like unless the types are in the same file as the Component, it is not shown within `@addons/docs` prop section.

**To Reproduce**
The code below for a react component **SHOWS** props within the docs section.
`Button.tsx`:
[code]
`Button.stories.tsx`:
[code]
But if I move the ButtonProps type to another file, types table does not work:
[code]

**Expected behavior**
Re

[2020-05-01 13:51] ndelangen commented on #10486
@kevin940726 when I navigate to  https://next--storybookjs.netlify.app/official-storybook/?path=/story/addons-a11y-basebutton--default in IE11 it works.

It's slow beyond believe, but it works.

How do you test this?

[2020-05-01 13:53] kevin940726 commented on #10486
@ndelangen Are you tagging the wrong person here 😂?

[2020-05-01 13:58] ndelangen commented on #10294
@matheo would you want to debug this together sometime?

https://calendly.com/ndelangen/storybook

[2020-05-01 13:59] ndelangen commented on #10486
sorry! 🙇

[2020-05-01 14:00] ndelangen commented on #10597
I'll check it out, thanks @hipstersmoothie

[2020-05-01 14:15] Dashue commented on #10109
Chipping in here setting it to true on a global level makes it work to disable it on a story level.

Just verified with
showPanel: false,
isToolshown: false,

So in my case it seems it's an issue with nothing being set before i set it to false in my component?

Perhaps defaulting to true on all options if nothing is being set by the user in preview.ts might resolve my use-case?

[2020-05-01 14:26] kevinmpowell commented on #10486
@ndelangen I walk through the process here: https://youtu.be/olcRZZAPvfw

[2020-05-01 14:26] ndelangen commented on #10523
I think it should use global args then?

[2020-05-01 14:28] matheo commented on #10294
@ndelangen sure! I'd love to!
added a spot for tomorrow, or if you have some time tonight it would be nice

[2020-05-01 14:35] #9589 closed

[2020-05-01 14:35] #10107 closed

[2020-05-01 14:37] ndelangen commented on #10486
@kevinmpowell thank you for taking the time to create this.

That is very useful!

You've tried everything I'd suggest.. So I'm kinda stumped too. I posted in our discord, asking for help on this one.

Would you be able to test if this problem is actually also present on our 6.0.0-beta ?

[2020-05-01 14:37] ndelangen commented on #10486
The missing lit-html dependency is also something we can easily fix!

[2020-05-01 14:52] ArrayKnight commented on #9534
That's what I'm having to do currently. But because I'm running into this issue as part of a Storybook addon, it means anybody that wants to use the addon has to do this extra step. My ideal would be to have the addon control telejson so that the end user implementation is as simple as possible.

[2020-05-01 14:59] ndelangen commented on #10294
@matheo would you be able to do a meeting on Monday perhaps?

[2020-05-01 15:02] matheo commented on #10294
@ndelangen sure, same time works for me

[2020-05-01 15:37] michaelwarren1106 commented on #10600
yeah it was definitely weird to us too.

Here's a sample of our stories.jsx:

[code]

[2020-05-01 16:59] fvilers commented on #10403
I came to this topic while looking for how to inject the rendered stories inside a custom div tag instead of the traditional `<div id="root">`. Are there more instructions somewhere on how to do this?

My app design is based on CSS rules using #root which I should not use inside storybook so I created a preview-body.html file with another div ID and expected storybook to render to it.

[2020-05-01 17:17] michaelwarren1106 commented on #10600
i should prolly add that we're using mdx, but the readme that gets pulled in is not an mdx file, nor does it have any jsx in it. The readme that gets imported is auto-generated by jsdocs as just plain-ole markdown...i've checked the contents of that file and it seems just fine, no weirdness

[2020-05-01 17:32] arun678 commented on #10544
@jonniebigodes Thanks for that. I tried on a different system. It worked without any issues. When tried to inspect from logs, got to know that its because of file permission issues. My PC's name has a space. However i wasnt able to rename the PC to make it 1 word without space.

[2020-05-01 17:32] #10544 closed

[2020-05-01 17:53] jsc144 commented on #10578
Ive run into the same behavior, it looks like it primarily effects string literals and variable names.

If you comment out color:inherit in chrome devtools, the text all appears correctly until you refresh the page.

`pre code {
    font-size: inherit;
    /* color: inherit; */
    word-break: normal;
}`

[2020-05-01 18:05] jonniebigodes commented on #10544
@arun678 no need to thank. Glad that i was able to provide you with some context and you managed to solve the issue.

[2020-05-01 18:08] jsc144 commented on #10578
A quick workaround as an end user would be to create a style sheet with the following rule:

`pre code {
    color: #e83e8c;
}
`
and import it in the .stories/preview.js file  (create it if it doesnt exist)
`import 'PATH_TO_STYLESHEET'`

[2020-05-01 18:35] #9904 closed

[2020-05-01 18:35] #9422 closed

[2020-05-01 18:35] #10080 closed

[2020-05-01 19:56] lihue commented on #9605
I solved this by using the beforeScreenshot function like this:

`
const beforeScreenshot = async (page, { context: { parameters } }) => {
  const viewport = parameters.viewport;
  if (viewport) {
    const defaultViewport = viewport.viewports[viewport.defaultViewport];
    await page.setViewport({
      width: parseInt(defaultViewport.styles.width, 10),
      height: parseInt(defaultViewport.styl

[2020-05-01 20:18] Manishalexin opened #10615 "Mismatching versions of React & Renderer with react being a dependency in addons and core"
There is a mismatching version of react & renderer in monorepos. React is set as a Dependency in Addons & Storybook core instead of it being a PeerDependency. And it's also set to update minor versions. So, React being a transitive dependency in a project with Storybook keeps a duplicate copy of whatever is the latest version of React in the project (assuming the project is not on the latest versi

[2020-05-01 20:23] Manishalexin commented on #10615
I can create a PR to move all the react, react native and react-dom dependencies to peerDependency in the next branch. Can someone review and let me know if this is the correct approach to solve this issue?

[2020-05-01 20:44] rhendric opened #10616 "[app: react] HMR causes story components to unmount way too aggressively"
**Describe the bug**

In a plain, completely unmodified `create-react-app` project, I can make edits with hot module replacement and my components don't unmount most of the time.

In a Storybook, if I sneeze, my components unmount.

Okay, I'm joking about the sneeze, but seriously: I can have a story from file A open, and edit file B, with no dependency relationship between the two files at all (e

[2020-05-01 21:44] daneah commented on #10164
I'm having trouble launching Storybook `6.0.0-beta.0` in either IE11 or a pre-Webkit version of Edge, with the following errors (Edge left, IE11 right):

<img width="776" alt="Screen Shot 2020-05-01 at 5 40 03 PM" src="https://user-images.githubusercontent.com/1808306/80843739-0f57e400-8bd3-11ea-816c-b57446cd4bf2.png">

The IE11 error points at a perhaps-untranspiled usage of `class` coming from `

[2020-05-01 22:13] maeriens commented on #8279
Not sure if this adds much - but I am able to show the docGen if I create a React functional component that returns the Styled Component. But it means wrapping all the styled components that way...
[code]

Proof:
![image](https://user-images.githubusercontent.com/5074186/80845491-be022180-8bdf-11ea-916d-5611377da154.png)

All storybook versions are `5.3.18`. Styled Components `4.4..1`.

[2020-05-01 22:42] sashafklein opened #10617 "Dynamic source rendering for Angular"
I'm using the Docs addon in an Angular project.

It's generally working great, but when I click to see the code which generates the component, I instead am shown the code which generates the **story**:

As in, for this code in my stories file,

[code]

I see this when I view the storybook docs page and click "Show Code":

![image](https://user-images.githubusercontent.com/1746778/80845981-c21e4700

[2020-05-01 22:59] christian-valadez commented on #8623
I have the same issue as well - has anyone found a fix for this?

[2020-05-02 00:12] shilman commented on #8623
This looks like you need to run the files through babel to get the ESM `import` syntax. Here's how we do it in Storybook monorepo: https://github.com/storybookjs/storybook/blob/next/jest.config.js#L45

[2020-05-02 00:24] shilman commented on #10610
Documented here: https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/props-tables.md#imported-types

[2020-05-02 00:41] melanieseltzer opened #10618 "Addon-docs (React): component using withTheme HOC not working with <IconGallery> block"
**Describe the bug**
I have a component that uses the styled-components `withTheme` HOC:

[code]

I want to document the `<Icon>` component so I tried this:

[code]

As you can see from the icon component, the default value for the `color` prop should be theme resolved. However I see this error in my storybook:

[code]

I actually do have a theme decorator added for stories in preview.js:

[code]

[2020-05-02 00:45] shilman commented on #10616
cc @ndelangen @tmeasday

[2020-05-02 00:47] shilman commented on #10615
That's by design. Storybook's UI requires a specific version of React (16.x) but Storybook also supports libraries built in 15.x. Your `node_modules` is filled with multiple package versions based on what package is required--that's how  NPM works.

[2020-05-02 00:51] shilman commented on #10578
Duplicate to #10211

[2020-05-02 00:51] #10578 closed

[2020-05-02 00:56] shilman commented on #10600
I'm not familiar with this usage:

[code]

So you're saying that gets successfully rendered outside the workspace but not inside? What webpack loader are you using for Markdown? My first reaction is that this looks like a webpack config issue on your side and not a storybook issue per se. 🤷‍♂️

[2020-05-02 00:57] shilman commented on #10403
AFAIK there is no way to render stories in a custom root cc @ndelangen

[2020-05-02 00:57] maplion commented on #10272
@sashafklein I was just introduced to Storybook and also ran into this roadblock pretty quickly.

[2020-05-02 01:02] shilman commented on #10294
Possibly related: #10592 ?

[2020-05-02 01:05] shilman commented on #10107
Duplicate to #8255

[2020-05-02 01:10] shilman commented on #10039
Fixed in #7479

[2020-05-02 01:10] #10039 closed

[2020-05-02 01:36] shilman commented on #10604
I'm not sure I understand your question.

- The background addon should send events on the channel automatically when you register it. All of our example repos use it. You should see an event logging in the console.
- Writing an addon to consume that event is a separate issue (and one we can help with).

Which one is it?

[2020-05-02 01:52] scoorey commented on #10604
So the example I've been following is here:
[https://github.com/storybookjs/storybook/tree/master/addons/backgrounds](https://github.com/storybookjs/storybook/tree/master/addons/backgrounds)

I have registered it in my plain old javascript repo like this:
import '@storybook/addon-backgrounds/register';

and added the two backgrounds like the example says:
addParameters({
  backgrounds: [
    { nam

[2020-05-02 02:38] ekilah commented on #6055
@freesh  thanks, though i did something different it helped. in my case I have been struggling for ages and I just removed all the default storybook webpack CSS stuff and used (copy/paste mostly) what Create React App gave me when I ejected, manually:

[code]

[2020-05-02 02:52] maeriens opened #10620 "Docs - oneOf does not show correct data when using an imported variable"
**Describe the bug**
 When passing down an array of strings to `oneOf` from a variable that is being imported, the docs shows the variable name (if passing an array directly) or the string `Object.keys(object)` if doing so with an object.
 If the exact same variable is created in the same file as the propType definition, this does not happen.
 I did research around to see if this can be fixed by p

[2020-05-02 02:59] shilman commented on #8575
Related? https://github.com/storybookjs/storybook/pull/10612

[2020-05-02 03:02] shilman commented on #10620
I believe this is a known limitation: https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/props-tables.md#imported-types

[2020-05-02 03:11] maeriens commented on #10620
Just when I thought I had seen all the docs pages... there is another one I hadn't.
Closing this then, it looks like that ticket is close to be finished. Thanks @shilman!

[2020-05-02 03:11] #10620 closed

[2020-05-02 03:21] shilman commented on #10604
Thanks for the clarification.

In the example I linked to, you can see the events being logged to the console in `verbose` mode. There is no consumer code in that example, those debug messages just get logged as part of the example.

I suspect you'll see the same messages in your setup, which means that the addon is working as expected. If that's the case, your question is really about how to cons

[2020-05-02 03:29] shilman commented on #10620
@maeriens I wish it was close to being finished! That PR has been open for over a year. We'll see what we can do, but in the meantime, it's just a limitation of that library and also of Storybook.

[2020-05-02 03:36] flynnham commented on #8342
Contrarian here, I think this new prop injection is a terrible idea, namkely since it basically obliterates the whole point of `copy` on source display components.

If a potential client's developer tried to copy and paste source code, they'd be under the impression that these props exist on our platform. For now I've been devising a workaround for this, but this feature might detract from the who

[2020-05-02 03:52] shilman commented on #8342
@flynnham you can still use no-arg functions in 6.0. in a future iteration of the source block we will show the live values in the code per this issue so you can copy and paste it.

Story:
[code]

Raw display:
[code]

Values display:
[code]

[2020-05-02 04:45] flynnham commented on #8342
Because the storybook environment we're building atm, we've alredy using a custom Source block in the documentation. As a last resort to not confuse clients, I've opted for a very _cheap_ static analysis version that's getting the job done. We're not using weird knob configurations so this is going the job just fine, but for more advanced usages (like higher order functions and values dependant on

[2020-05-02 04:48] tmeasday commented on #10523
Yeah, I guess?

I think we’ll likely keep running into challenges deciding if things should be configured via parameters vs global args. Perhaps we should make a pattern where certain things are can be configured both ways.

What do you think folks?

[2020-05-02 04:49] tmeasday commented on #10616
I’d like to look at this as part of 6.0 qa

[2020-05-02 05:09] ekilah commented on #8548
May I politely suggest that the docs on CSF mention that this is optional, and its purpose (either planned or current) a bit more explicitly?

I, too, was quite lost until now about this. At least, it could be mentioned that it is optional, which I've only gained from some examples scattered around the internet.

My intuition is to use stories maybe not the way they are intended - where the defaul

[2020-05-02 06:08] scoorey commented on #10604
So I didn't have verbose logging ticked, but now I do and I still see no log messages. I took a quick video so you can see what I mean:
https://youtu.be/fgkLlHIAzmE

You'll also see in the video in my .Storybook folder I have a config.js and addons.js as well as a preview-head.html.
The addons.js just registers the addons (backgrounds and knobs) and config.js uses them (addParameters for the backg

[2020-05-02 06:50] fvilers commented on #10403
@shilman Thanks for the answer.

[2020-05-02 09:12] kolisko commented on #10578
Thank you @jsc144
I tried to disable color inherit using devtools, it works well.
But workaround does not. Still see inherit. Any idea? I added to the ``.storybook/preview.ts``:

``import './showCodeFix.css';``

and to the ``showCodeFix.css``:

``pre code { color: #e83e8c; }``

[2020-05-02 09:18] Manishalexin commented on #10615
I agree.

But the storybook for react is not supposed to run on its own without a react project including it right? So is it necessary that it packages react with it? Especially for all the addons?
Shouldn't peerDependency enforce the inclusion of react with version lets say greater than 15.1 or if storybook supports any react version, it can always mark it as * in peerDependency?
@gaetanmaisse &

[2020-05-02 09:30] ekilah commented on #8383
If it helps, I just ran into this bug immediately after adding the knobs package. All I did to get the panel to be visible was to go to the `...` menu and change the orientation of the (invisible) panel. It magically appeared in the vertical orientation, and I was able to rotate it back afterwards.

Maybe that'll help, maybe not!

[2020-05-02 13:11] twittwer commented on #10365
@shilman Can you say something about the problem or give hint where to find the problems cause?
Should I provide some more information?

[2020-05-02 13:12] jsc144 commented on #10578
Can you see your rule being overwritten in devtools? You could try making it more specific, like pre code.hljs{}

[2020-05-02 13:14] shilman commented on #10365
@twittwer unfortunately I’m ignorant about angular. Maybe @kroeder  can help?

[2020-05-02 13:57] gaetanmaisse commented on #10315
https://github.com/storybookjs/storybook/pull/10613 has been merged, so as soon `6.0.0-beta.1` will be out this issue should be fixed, as `babel-loader` will not be a peerDeps of `@storybook/core` anymore.

[2020-05-02 13:57] #10315 closed

[2020-05-02 14:21] shilman commented on #9527
Good golly!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.1 containing PR #10613 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-05-02 14:21] shilman commented on #10308
w00t!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.1 containing PR #10619 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-05-02 14:21] shilman commented on #10596
Yippee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.1 containing PR #10608 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-05-02 14:21] #9527 closed

[2020-05-02 14:21] #10308 closed

[2020-05-02 14:21] #10596 closed

[2020-05-02 16:37] daneah commented on #8884
@timohermans I'm seeing the same on `6.0.0-beta.1`

[2020-05-02 17:07] jessicarobins commented on #8383
I am also running into this issue, except that clearing local storage/opening an incognito window doesn't work. I can find the panel in the Elements console and force it to be visible, and the knobs work just fine.

[2020-05-02 17:38] #9939 closed

[2020-05-02 17:48] kolisko commented on #10578
no, I can not see any change in devtools. Tried

``pre code { color: #e83e8c; }``
``pre.hljs code { color: #e83e8c; }``
``pre.hljs code { color: #e83e8c !important; }``
``* { color: #e83e8c !important;}``

no change in devtools. Seems like it do not apply any style in imported css file.

[2020-05-02 17:53] jonspalmer commented on #10594
@chrisj-skinner actions and "static' stories are something of a challenge and one that we've been working on the understand the use cases for. Similar issues came up was we're working on @storybook/sever and web components have the same challenges.

As an aside in Storybook 6 you won't need to use the withActions decorator to configure actions. Instead you can use parameters:

[code]

To address y

[2020-05-02 17:58] CaffeinateOften commented on #10140
Think I'm running into this issue now.

[2020-05-02 18:15] daneah commented on #10164
My comment above appears to be more like a special/new case of storybookjs/storybook#8884, rather.

[2020-05-02 18:18] mikestopcontinues commented on #9963
This is still an issue.

[2020-05-02 18:23] lpoulter opened #10626 "Failed webpack build with Monorepo on v6.0.0-beta.1"
**Describe the bug**
When upgrading monorepo project from `6.0.0-alpha.30` to `6.0.0-beta.1` I see the following error when I run `yarn storybook`. Everything works fine on alpha.30.

`TypeError: params.compilationDependencies.push is not a function`

**To Reproduce**
Install `6.0.0-beta.1` on a monorepo project.

**Expected behavior**
Webpack compiles.

**Screenshots**
[code]

**Code snippets**
M

[2020-05-02 19:10] CaffeinateOften commented on #10140
By messing around a bit, I did determine that the DOM element object that is created from JSX and `preact.h` does list `class` as a prop.

So by using `class={props.class}` on the child component, the class value is correctly passed down. I'm unsure with what the _expected_ behavior of Preact should be though.

[2020-05-02 20:08] CaffeinateOften commented on #10140
This problem also occurs for _all_ props used, including things like `onMouseEnter`

[2020-05-02 21:17] lpoulter commented on #10626
Looks like this is an issue when using webpack 3. Does storybook support webpack 3?

[2020-05-02 22:54] flynnham commented on #8389
This is what I've been using:

[code]

[2020-05-03 02:08] chyyran opened #10627 "Failed webpack build on Yarn v2 with 'Error: Can't resolve 'uuid/v4' in a CRA project on 6.0.0-beta.1"
**Describe the bug**

The following error occurs when attempting to build the storybook with `yarn storybook`

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `yarn dlx -p @storybook/cli@next sb init` on a CRA project with Yarn v2 with PNP enabled.
2. Ensure `@storybook/addon-actions` is installed and being used.
3. `yarn storybook`

**Expected behavior**
It works and builds

**Code s

[2020-05-03 02:21] chyyran commented on #10627
Repro: https://github.com/SnowflakePowered/hydrogen-paper/

Run `yarn storybook` at `theme/`. Zero-install is enabled, so `yarn install` shouldn't be necessary.

[2020-05-03 03:47] shilman commented on #8884
@daneah @timohermans what do you see what you navigate to:

https://next--storybookjs.netlify.app/official-storybook/?path=/story/addons-a11y-basebutton--default

It's running beta.1 (`next` branch to be specific) and showing up fine in browserstack IE11.

I think the major problems are fixed in Storybook now. Let's get to the bottom of what's going wrong for you.

[2020-05-03 04:03] alexkrolick commented on #10167
<activity>

[2020-05-03 06:32] marvinhagemeister commented on #10140
@jcampbell05 This is not a bug in Preact, but a webpack configuration issue. If you want to make use of CSS Modules you need to enable that. To do that you need to pass `modules: true` as an option to `css-loader`. This is described in [the documentation for css-loader](https://webpack.js.org/loaders/css-loader/).

[code]

[2020-05-03 06:37] chyyran commented on #10627
This does not occur with `@storybook/addon-actions@6.0.0-beta.0`, so it seems it has to do with the actions addon specifically.

[2020-05-03 09:19] flo-sch commented on #10579
@shilman I have 2 type issues with that:

First is the return itself

[code]

Second is the missing context:

[code]

But anyway, I think we can close this issue since I have a workaround thanks to your answers :)

I will open a PR for the documentation of addons-toolbar later today, we can continue the discussion there perhaps

[2020-05-03 10:01] fakiolinho commented on #10602
I think that the flag for experimental support is going to be named `FAST_REFRESH=true` as mentioned [here](https://github.com/facebook/create-react-app/blob/master/docusaurus/docs/advanced-configuration.md) 😉

[2020-05-03 10:08] jeroenheijmans commented on #10302
Even though the [contributing guidelines](https://github.com/storybookjs/storybook/blob/next/CONTRIBUTING.md) are a bit daunting, I think I would be willing to take a crack at submitting a fix. But it would be nice if someone knowledgeable could point me to the area of the codebase to look at?

[2020-05-03 10:38] tooppaaa commented on #8884
@timohermans This is definitely an issue that was fixed recently. Above links is working for me in IE 11. Is the manager showing up for you ?

[2020-05-03 10:52] tooppaaa commented on #10164
Is the manager displayed in IE 11 ?
All dependencies should be transpiled in the dll. There's maybe a missing babel plugin.

[2020-05-03 11:59] IzoldaV opened #10629 "Endless loading of components"
**Describe the bug**
I can't start my storybook app. It loads only loading state (loading story). There aren't any errors in the console.

**To Reproduce**
npm run storybook

**Expected behavior**
See rendered components

**Screenshots**
![screen1](https://i.imgur.com/58Txo0q.png)

**Code snippets**

**main.js**
[code]

**Button.stories.js**

[code]

**System:**

  System:
    OS: Windows 10 10.0.

[2020-05-03 13:32] webistomin commented on #8669
It works if you render your component like this:
[code]

[2020-05-03 16:35] daneah commented on #8884
@shilman @tooppaaa those both seem to work—I see the problem specifically when using the web components flavor.

[2020-05-03 16:38] daneah commented on #10164
The manager begins to load but doesn't render a list of components in Edge, and nothing loads in IE11 (for web components specifically).

[2020-05-03 16:40] tooppaaa commented on #8884
Relates to #10486

[2020-05-03 16:46] daneah commented on #8884
Apologies, I missed that issue quite entirely. Will have a look!

[2020-05-03 16:55] daneah commented on #10486
After using the scaffolding, I found that I still needed to add my own polyfill (e.g. `<script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.4.3/webcomponents-loader.js"></script>`) to `preview-head.html` to get components to load in an older version of Edge. In IE11, even the manager doesn't load for me due to the untranspiled `class Comparator` @kevinmpowell mentions above.

[2020-05-03 17:13] adamborowski commented on #10178
@yoavniran I found some solution but I am not sure if this can break from version to version as it is not documented. But right now main.js in contrasto to config.js is executed in a node process not in the browser. So you can synchronously query for all packages to prepare list of precise globs. Here is my example where I read all monorepo package roots and add glob for src and stories directorie

[2020-05-03 17:43] tooppaaa commented on #10627
Already handled by #10625

[2020-05-03 17:45] liamross commented on #8389
^ That's definitely a lot simpler than mine, I'll give that a try

[2020-05-03 17:47] tooppaaa commented on #10486
I guess we can add this when using the cli to scaffold a new project.

I created #10630 to add the lit-html dependency.

However I do reproduce the IE 11 not using the dll, I'll try to undestand why

[2020-05-03 21:44] SimenB opened #10631 "Jest 26 compatibility: replace `require.requireActual` with `jest.requireActual`"
**Describe the bug**
Storyshot depends on `require.requireActual` - this has been removed from Jest 26. Please use `jest.requireActual` instead.

**To Reproduce**
- Install storyshot using Jest 26 (currently alpha, scheduled for release Tuesday or Wednesday this week)
- Attempt to run it

**Expected behavior**
Should work

**Screenshots**
![image](https://user-images.githubusercontent.com/1404810/

[2020-05-03 22:47] jcampbell05 commented on #10140
@marvinhagemeister im not using css modules though ?

[2020-05-04 02:13] #8531 closed

[2020-05-04 02:32] shilman commented on #10371
A workaround I've added is the ability to specify props `include` and `exclude`:

[code]

So you could achieve what you want by only including non-chained props.

[2020-05-04 02:45] shilman commented on #10629
cc @yannbf

[2020-05-04 02:47] shilman commented on #10302
Please jump on our discord and check out the #angular channel: https://discordapp.com/invite/UUt2PJb

[2020-05-04 05:51] marvinhagemeister commented on #10140
@jcampbell05 yeah, that's why it's not working.

[2020-05-04 06:31] #10627 closed

[2020-05-04 07:08] ndelangen commented on #10486
@tooppaaa I know that we fixed this manager not working in IE11. The DLL is required.

I'm not confident we can port that fix to 5.x tbh, feels a bit risky to me. WDYT?

[2020-05-04 07:12] badsketch commented on #3898
@shilman I'd like a chance to work on this 🙂

[2020-05-04 07:18] ndelangen commented on #10178
@adamborowski This is actually the plan to become the default at some point, and make every story file be it's own webpack entry-point, making code-splitting possible too.
#10009

[2020-05-04 07:25] shilman commented on #10486
@ndelangen The issue says 5.3, but I believe--from comments in related issues--that this is also a problem in `next`. I think we should NOT be porting these fixes back to 5.3.

[2020-05-04 07:31] ndelangen commented on #10403
Indeed there isn't the `#root` is hard-coded, and non-configurable.

Perhaps we should rename the `#root` to something a bit more storybook specific?

[2020-05-04 07:31] ndelangen commented on #10486
The manager UI not working in IE11 is fixed in next for sure.

[2020-05-04 07:35] shilman commented on #10183
Fixed in c1bb8efc6f

[2020-05-04 07:35] #10183 closed

[2020-05-04 07:36] shilman commented on #10626
@lpoulter Nope, webpack 4 only!

[2020-05-04 07:39] ndelangen commented on #10592
I need more explanation then..

You say "nothing is rendered", but your story is literally an empty div..

I don't know how to reproduce this.

Looking at the video, it seems like storybook is working as intended?

it's an empty div? even if you're hiding the canvas tab it's still active..

[2020-05-04 07:40] shilman commented on #10615
@Manishalexin The entire Storybook UI is built in React

[2020-05-04 07:42] shilman commented on #10378
@Hypnosphi can you take a look at this?

[2020-05-04 07:43] shilman commented on #10156
cc @ndelangen

[2020-05-04 07:45] shilman commented on #10604
Do you have a repro?

[2020-05-04 07:46] #10626 closed

[2020-05-04 07:49] shilman commented on #8548
Updated the docs per your suggestion @ekilah

Also see https://github.com/storybookjs/csf/pull/5 which will be incorporated into a broader Storybook TS upgrade soon

[2020-05-04 08:05] shilman commented on #10592
Does he need to set `viewMode` to `docs`? Should `viewMode` be set to `docs` automagically when the the canvas tab is hidden?

[2020-05-04 08:07] shilman commented on #10403
@ndelangen `#sb-root` as a breaking change for 6.0?

[2020-05-04 08:17] ndelangen commented on #10523
Yeah that seems very very likely to me too tom..

[2020-05-04 08:17] ndelangen commented on #10403
I could change that @shilman

[2020-05-04 08:19] ndelangen commented on #10592
Please let's not! there's a separate parameter for forcing viewMode changes, this code is already WAY to complicated as is.

[2020-05-04 08:21] ndelangen commented on #10156
There must be some weird version mismatch going on here.

Please remove all node_modules and lockfiles and make sure all storybook related packages are of the same version.

[2020-05-04 08:22] shilman commented on #10403
Probably a good idea. @tmeasday any objections from a chromatic / third party standpoint?

[2020-05-04 08:31] mgol commented on #10156
@ndelangen You can see that @devtreehouse's test case has a `yarn.lock` so the whole dependency tree is locked and all `@storybook/*` packages are at version 5.2.0 there.

[2020-05-04 08:51] shilman commented on #10592
@hipstersmoothie if you set `viewMode: 'docs'`, does that solve your problem?

[2020-05-04 08:56] ndelangen commented on #10156
You have https://github.com/liximomo/lazy-compile-webpack-plugin/ which isn't compatible with storybook.

I think this might fix it:
https://github.com/liximomo/lazy-compile-webpack-plugin/#ignores

Add `.storybook` to the ignores list

[2020-05-04 08:56] ndelangen commented on #10592
That SHOULD change the viewMode when navigating to the story.

[2020-05-04 09:02] ndelangen commented on #10403
Do we have a list of other integration parties who we should notify of this change upfront?

[2020-05-04 09:19] shilman commented on #10403
yeah, i can handle that

[2020-05-04 09:24] ndelangen commented on #10403
I'll open a PR for the change then

[2020-05-04 09:34] joshje commented on #8107
I'm also getting this issue, in my case with Vue. Any event emitted during the initial render seems to get missed by the actions addon. Using `setTimeout` ensures that the event gets captured, but is obviously undesirable.

[2020-05-04 10:03] shilman commented on #7339
Fixed

[2020-05-04 10:03] #7339 closed

[2020-05-04 10:19] shilman commented on #10618
Yes! Added some documentation -- please let me know if that works for you https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/recipes.md#overwriting-docs-container

[2020-05-04 10:51] tooppaaa commented on #10602
After trying to add the plugin as described in [the readme](https://github.com/pmmmwh/react-refresh-webpack-plugin) I encountered multiple errors saying
`Module not found: Error: Can't resolve '\storybook\examples\official-storybook\storybook-init-framework-entry.js'`

My thoughts is the plugin can't transform virtual modules easily and fails.

As discussed with @ndelangen a first step would be to

[2020-05-04 11:09] victorward opened #10635 "Observable props for @storybook/angular are not propagated correctly when knobs used"
**Describe the bug**
Observable props for `@storybook/angular` are not propagated correctly when knobs are used. If you use knobs together with some _Observable_ parameter then, during runtime, after changing knob value - observable value is reset.

**To Reproduce**
This bug easy to reproduce.

1. Create story
[code]
2. After story initialization you will see correct value (`false `or `true`)
3. C

[2020-05-04 11:12] vertic4l opened #10636 "HTML Presentation of React Component"
I'm using Storybook for React and thought about a possibility within docs / source addon to have the html representation of the current component.

Is there anyway to have one of these addons to show the html markup
with ReactDOMServer.renderToStaticMarkup() ?

[2020-05-04 11:14] #10636 closed

[2020-05-04 11:17] kurbar opened #10637 "Unicode characters in title have weird whitespace around them"
**Describe the bug**
When using unicode characters in story titles that get rendered in the browsers tab title, there is whitespace around the unicode characters.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a story and add a unicode character to the name so it shows up in the browser tab title. Copy-pasterino for ease - ü õ ö ä
[code]
2. Serve Storybook

**Expected behavior**
No w

[2020-05-04 12:40] mustran commented on #10371
Hi @shilman. Thank you a lot for your answer, it looks amazing.
Is the feature available in the beta version ?

[2020-05-04 12:40] shilman commented on #8571
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.2 containing PR #9531 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-05-04 12:40] shilman commented on #10498
Ta-da!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.2 containing PR #10621 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-05-04 12:40] shilman commented on #10499
Yo-ho-ho!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.2 containing PR #10621 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-05-04 12:41] #8571 closed

[2020-05-04 12:41] #10498 closed

[2020-05-04 12:41] #10499 closed

[2020-05-04 12:48] shilman commented on #10371
Yeah, available for a couple weeks https://github.com/storybookjs/storybook/pull/10464

[2020-05-04 13:06] tmeasday commented on #10403
Yeah I guess this is OK, although it will be annoying for integrators I guess.

[2020-05-04 13:14] mustran commented on #10371
@shilman I deleted `node_modules`, installed the beta version and when I run `yarn run storybook` I get this error:

![Screenshot from 2020-05-04 15-07-56](https://user-images.githubusercontent.com/45851256/80969230-93031200-8e19-11ea-82fa-6a7fdc793652.png)

Also, this is how my `scripts` are defined:

![Screenshot from 2020-05-04 15-04-08](https://user-images.githubusercontent.com/45851256/809694

[2020-05-04 13:46] michaelwarren1106 commented on #10600
We're using @mdx-js to load/transform the markdown as JSX. Here's our main.js:

[code]

[2020-05-04 13:49] daneah commented on #10486
I'd like to better understand if the transpilation errors mentioned above are due to us missing an expectation that the web components flavor of Storybook has of us, or if it's something that would need to be fixed at build/package time upstream before `next` is released.

[2020-05-04 14:15] #10615 closed

[2020-05-04 15:05] 7michele7 commented on #3346
I had the exact same issue, and for me the solution was switching from using `transform-es2015-modules-commonjs` to `@babel/plugin-transform-modules-commonjs` on `babel.config.js`.

**before**
[code]

**after**
[code]

[2020-05-04 15:14] GasimGasimzada opened #10639 "Order of story hierarchy is not retained when searching"
**Describe the bug**

We have a bit of a complex sorting mechanism to sort stories in a specific order. This behavior works as expected during normal usage. However, when searching, the logic in `storySort` is ignored and the search results are displayed in alphabetical order. I am not sure if this is a bug or a feature request but it would be nice if the initial order can be retained when searchi

[2020-05-04 15:44] DanielRamosAcosta commented on #10586
Yes, with yarn it seems to work!

[2020-05-04 15:47] shilman commented on #10600
@michaelwarren1106 have you run `yarn storybook --debug-webpack` on your setup? But eyeballing it all looks fine to me.

And to confirm: this works well outside the monorepo but not in it? The one thing I can think of is React context hooks failing due to incompatible react versions somehow. Under the hood, MDX uses React context via hooks, and it's possible that the `components` MDX context is ge

[2020-05-04 16:37] jcampbell05 commented on #10140
Is that CSS modules as in the css specification or CSS as in the JavaScript feature

[2020-05-04 16:54] michaelwarren1106 commented on #10600
so, let me be clear, it always "works" in that the app builds, compiles and renders without console errors...the only thing "wrong" is that the docs styles dont get applied when in a workspace...

I've run the webpack debug and everything seems fine from my perspective given that i think the issue is somewhere with the docs addon. I can run the exact same config, the only difference being an npm i

[2020-05-04 17:14] hipstersmoothie commented on #10592
The problem is (and I know i'm getting into edge case territory) I really don't want to force my storybook into another viewMode.

Right now our storybook serves 2 consumers: designer and developer

Designers main look browse the docs with viewMode set to docs. Developers browse mainly though looking at stories + addons. Both experiences are configured to bet suit the consumer.

I recently added a

[2020-05-04 17:17] ybrodsky opened #10640 "@storybook/storyshots snaps have duplicated components"
As the title says, storybook/storyshots is creating snaps with duplicated components. The number of files being created are fine, the problem is the content. So what should be

    exports[`Storyshots Advertise Advertise 1`] = `
    Array [
      <div>something</div>
    ]

Ends up being

    exports[`Storyshots Advertise Advertise 1`] = `
    Array [
      <div>something</div>,
      <div>somethi

[2020-05-04 18:14] yannbf commented on #10629
Hey @IzoldaV sorry that you are experiencing this issue. I created a sample app with your exact `main.js` configuration, and it worked fine for me. Could it be that your stories are not falling into your glob `../app/ui/**/*.stories.js`? Can you try something minimal to see if it works for you?
For instance point into a very specific story file like `..app/ui/components/toolbar/toolbar.stories.js`

[2020-05-04 18:27] michahell commented on #6709
also having this problem

[2020-05-04 18:33] radoi90 commented on #10631
https://github.com/facebook/jest/releases/tag/v26.0.0

Jest 26 has now been released. Would be great for storyshots to be updated 🙏

[2020-05-04 18:33] michahell commented on #3739
I Have the same issue. Basically, it looks like when defining a component - instead of inlining a template - knobs do not work. Is this a known storybook caveat?

[2020-05-04 18:34] hipstersmoothie commented on #10592
I would expect storybook to not show a hidden tab. It should only display non-hidden tabs.

I know you can force the viewMode to avoid this. But then it forces the viewmode for every story, which I would really like to not happen.

Reproduction: https://github.com/hipstersmoothie/storybook/commit/e552e7ad64259152ad3a98e2be1603ce8680f888

[2020-05-04 19:03] yannbf opened #10641 "Storybook 6.0.0-beta.0 bug: layout:centered affects all stories after visiting centered story"
**Describe the bug**
A clear and concise description of what the bug is.
When using `layout: 'centered'` as parameter, after opening the centralized block, all the others are centralized too. I tested using 6.0.0-beta.0 and v6.0.0-alpha.46.
_Originally posted by @AnnyCaroline in https://github.com/storybookjs/storybook/issues/10407#issuecomment-621504405_

**To Reproduce**
Steps to reproduce the b

[2020-05-04 19:04] yannbf commented on #10407
Hey @AnnyCaroline I'm glad you found a way to fix your issue, however it's unfortunate that there's a bug! I created a bug report out of this, and if you don't mind I will close this issue as the original problem has been solved. Thanks!

[2020-05-04 19:04] #10407 closed

[2020-05-04 20:05] marvinhagemeister commented on #10140
Neither, it's this thing: https://github.com/css-modules/css-modules That's what the `modules: true` enables in `css-loader`. It's not part of the CSS spec and it's not a feature of JS. It's more of a thing for bundlers only.

[2020-05-04 21:14] melanieseltzer commented on #10618
@shilman Brilliant, this works great! Thanks a bunch 😄

[2020-05-04 21:30] f3ltron commented on #10582
got the same issue here for vuejs

Failed to load preset: "@storybook/addon-docs/vue" on level 1
ERR! Error: Cannot find module '../dist/frameworks/common/index'

[2020-05-04 21:33] f3ltron commented on #10582
i have added '@storybook/addon-docs/vue' and all my @storybook/ are in `"^6.0.0-beta.2"`

[2020-05-04 21:35] melanieseltzer commented on #10618
Thought it might be useful to have this in the docs: https://github.com/storybookjs/storybook/pull/10645

[2020-05-04 21:44] ekilah commented on #8548
thanks!

[2020-05-04 22:35] ndelangen commented on #10576
@tmeasday after giving it some more thought, i think having a v:1 is better. versioning storybook separately from the event versions seems fair to me.

[2020-05-05 00:23] reanimatter commented on #9946
I'm seeing the same warning that `Storybook was unable to detect filename`. Interestingly,

[code]

generates a single snapshot combining all stories in the app, which pretty much ignores `multiSnapshotWithOptions`.

[2020-05-05 03:05] maeriens opened #10646 "Docs - PropTypes.exact reads 'exact' as prop description"
**Describe the bug**
When using `PropTypes.exact({ ... })`, the description in the prop table inside the docs shows only the word **exact**. I am using sb@next (6.beta.2)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a component inside a storybook
2. Add an exact propType
3. See it's associated doc page

**Expected behavior**
The exact props are shown - in this case, an object with

[2020-05-05 04:51] ShkiperMe opened #10647 "Configuration of Storybook logo link"
Link from Storybook logo opens in a new window. Is it possible to change it?
![Selection_108](https://user-images.githubusercontent.com/1908843/81035763-1584e380-8ea5-11ea-94e3-4a46a49d0147.jpg)

[2020-05-05 05:47] TroodoNmike commented on #10204
still error exists when upgrading @storybook/addon-viewport to alpha or beta versions. The only way fixed it for me was to downgrade react and react-dom

[code]

[2020-05-05 07:03] idbartosz opened #10648 "[v6.0.0-beta.2] wrong iframe URL after visiting root path"
**Describe the bug**
On initial load iframe URL is correct (e.g.: `http://localhost:6006/iframe.html?id=introduction-welcome--page&viewMode=docs`) but if we visit the root path in the same tab (e.g.: `http://localhost:6006`) the iframe URL will change to `http://localhost:6006/iframe.html?id=*&viewMode=story`

**To Reproduce**
Steps to reproduce the behavior:
1. In new browser tab open `http://loc

[2020-05-05 07:17] ndelangen commented on #10204
@yannbf perhaps this would be something you'd be keen to look at?

I checked 11 days ago whether this existed on next, but @TroodoNmike seems to be able to reproduce it on the latest beta...

[2020-05-05 09:17] ChazUK commented on #6611
@lppedd
I have tried adding this to my .stories.ts file.

[code]

And I'm still getting this error in the console

[code]

This Component is part of a Module, which is being imported on the global storybook config.

[code]

[2020-05-05 11:15] p3k opened #10654 "Vue: Add Vue3 support"
I just tried to run storybook with a Vue3 (beta) app and got some errors… A few I was able to work-around merging our Webpack config and pushing the Vue3 loader plugin:

[code]

I still get a warning and an error in the shell:

[code]
– nevertheless storybook builds and opens the browser. There I am stuck with this error message:

[code]

Is there a better approach than this? I am a total n00b to

[2020-05-05 12:40] tooppaaa opened #10655 "[v6.0.0-beta.2] React, CSF, ForwardRef cause infinite loading"
**Describe the bug**
Infinite loading on startup

**To Reproduce**
Cherry pick https://github.com/storybookjs/storybook/commit/8c6172e1db5a58e8e5995d5e4a46201968eabdd2
Launch Storybook
See infinite scroll

**Expected behavior**
Storybook to load.

If you comment  ` component: ForwardedButton,`, launch and uncomment, you can see an error like "cannot read label from undefined"

[2020-05-05 13:23] scoorey commented on #10604
I just installed storybook and the addon from scratch on my home pc and it logged out the verbose messages like you said (so it has a main.js and a preview.js instead of the addons.js and config.js at work). I read another of your posts that says that config.js and addons.js are obsolete and you provided a migration guide, so I'll try doing that in the work repository tomorrow. Maybe upgrading the

[2020-05-05 14:55] bgaynor78 commented on #3798
I know this is a closed issue and doesn't have a resolution, per se, but I just wanted to confirm what @melismae provided above with a bit more detail that works for my case. As mentioned, you need to add the Fontawesome imports of the `library` helper and the actual icons you want to use into something like your preview.js config in .storybook like:

[code]

Then you should be able to use the ico

[2020-05-05 15:25] anynines-johannchopin opened #10656 "Addon-docs: 'No props found for this component' using Props table in .mdx file"
**Describe the bug**
Trying to document my React/TypeScript project using Storybook with `.mdx` files, I'm unable to make the Props table recognise my component's props. Using `<Props of={Button} />` I get this  message in the Props table field:

The problem is that the component has declared props:

*Button.tsx:*
[code]
*button.stories.mdx:*
[code]

----

**To Reproduce**

Steps to reproduce the

[2020-05-05 15:39] jose-airspace commented on #9288
@Terrafire123 @CodeByAlex this happens for me when using a react class component. When a knob changes the render function gets called but the constructor does not.

Sample component:
[code]

Sample story:

[code]

[2020-05-05 15:51] sylvainDNS opened #10657 "(React) Broken build caused by `ref` key"
**Describe the bug**
`ref` key seems to break my storybook build.

**Code snippets**
When I am using this snippet :
[code]
Build storybook command return this error : **`Module parse failed: Unexpected keyword 'var'`**

[code]

What is really weird is that I put `ref` key to `null` in `<Link />` component build works:
[code]

**System:**
[code]

**Additional context**
I am using CRA with [`craco`]

[2020-05-05 15:56] tylermenezes commented on #10086
`storySort` only sorts things with _stories._ It doesn't seem to be possible to sort pages with only documentation (and no stories), except by exclusion.

(That is, `storySort: () => 1` does reliably put all the documentation pages are on top, because everything else is always be sorted higher.)

You can verify this by setting `storySort` to `console.log`, and noticing that documentation pages are

[2020-05-05 16:32] norbert-doofus commented on #3855
Hi folks!

[2020-05-05 16:38] norbert-doofus commented on #3855
Hi folks!
As a temporary solution I've used in my app next code:

[code]
Still waiting this feature will be implemented natively.

[2020-05-05 17:04] lipeavelar opened #10658 "Possibility to add toolbar to all stories"
**Is your feature request related to a problem? Please describe.**
Based on #9593, it is not possible, by default, to use toolbar in all stories, so the solution is to customize the story page to show it in all stories, but to do this, we need to understand the framework and write a way to customize the wait to print stories for the page.

**Describe the solution you'd like**
I think it would be e

[2020-05-05 17:35] bsgreenb commented on #10204
So using Gatsby, I actually found that "@storybook/preset-create-react-app" was able to solve this issue for our case.  If you're using React this seems like the surefire way.  For those using Vue, maybe it's just an issue of setting up a preset to avoid this?

[2020-05-05 17:36] pksunkara commented on #10654
Hmm.. We might need to do a vue3 preset

[2020-05-05 20:02] flynnham opened #10660 "Add PREVIEW_URL support to other iframes"
**Is your feature request related to a problem? Please describe.**
For Storybook apps that are hosted on remote CDNs, I've been finding it difficult to enable previews and stories without severe compromises.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Make the `PREVIEW_URL` global available to other iframes as well

Allow developers to use env

[2020-05-05 20:05] katywatkins commented on #9242
@WirthAware Were you able to resolve that syntax error? I've been running into the exact same error in a fresh install and haven't been able to resolve it.

[2020-05-05 21:39] matheo commented on #10294
@shilman yes!
I've confirmed that removing this made it:
[code]

[2020-05-05 22:05] LeeBurton commented on #5630
I am experiencing the same problem with html elements being rendered as <undefined> when using render props in my web components... maybe it is related to this issue too...?

[2020-05-06 02:52] #10128 closed

[2020-05-06 06:20] madeleineostoja opened #10662 "[6.0.0-beta.2] Storybook v6 not working with Typescript"
**Describe the bug**
Using the Storybook v6 beta with `@storybook/preset-typescript` fails, throwing an error for loading JSX in stories.

Minimal repro has this error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install `@storybook/react@next` and `@storybook/preset-typescript@next`
2. Write a story and import your typescript compoent
3. Watch it fail

**Expected behavior**
Shou

[2020-05-06 08:13] ndelangen commented on #10538
We can make it the default, if you want @shilman.

[2020-05-06 08:16] ndelangen commented on #1493
Please paste the complete terminal errors here @pfmartins4 otherwise I can't know what's wrong.

[2020-05-06 08:34] agambewe commented on #10477
thx a lot sir, it work for me

[2020-05-06 09:31] timohermans commented on #8884
@shilman I can confirm the link you sent is working on my IE11. I will try to update storybook to the same version as yours and see what happens

[2020-05-06 09:53] tooppaaa commented on #8884
@timohermans Please hold for the next beta. We found an issue in the way the dll that ensure IE 11 compatibility was generated.
#10644 should resolve it (see the resolution comment as well)

[2020-05-06 11:28] duarteCost commented on #10475
@patricklafrance I think the problem is no the spread operators. Any complex javascript is not interpreted.
Test case:
![image](https://user-images.githubusercontent.com/23384922/81171552-763f1980-8f94-11ea-9488-57bb7e051016.png)
![image](https://user-images.githubusercontent.com/23384922/81171613-940c7e80-8f94-11ea-9145-c48a02b15920.png)
The result is this:
![image](https://user-images.githubuser

[2020-05-06 12:10] GeorgeWL commented on #9961
This is a major security issue

[2020-05-06 13:31] norbert-doofus commented on #8886
Hi there!
I've just faced the same annoying nuisance. In my project I use the latest stable version of package, which is 5.3.18 at the moment, and the issue is still there.

[2020-05-06 13:34] #10477 closed

[2020-05-06 13:51] Rohit1508 commented on #6739
Any update on this, how to make the panel default

[2020-05-06 14:11] #10579 closed

[2020-05-06 14:12] flo-sch commented on #10579
Closing the issue, discussion about args can continue there :)

https://docs.google.com/document/d/1Mhp1UFRCKCsN8pjlfPdz8ZdisgjNXeMXpXvGoALjxYM/edit#

[2020-05-06 14:33] tigredonorte commented on #3855
I solved that problem using observable. I'm using storybook with angular

`.add('updating chart data', () => {
    const myObservable= new BehaviorSubject([{a: 'a', b: 'b'}]);
    return {
      template: `
      <my-component
        myInput: myData,
        (myEvent)="myEventProp($event)"

      `,
      props: {
        myData: myObservable,
        myEventProp: $event => {
          myObservab

[2020-05-06 15:26] shilman commented on #9961
@ndelangen can you look into this?

[2020-05-06 15:37] shilman commented on #10662
@seaneking do you have a repro we can look at?
@mrmckeb any thoughts?

[2020-05-06 15:44] shilman commented on #9723
Fixed in https://github.com/storybookjs/storybook/pull/10292 and available since `v6.0.0-alpha.44`. Closing!

[2020-05-06 15:44] #9723 closed

[2020-05-06 15:47] shilman commented on #7625
https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#deprecated-addon-contexts

[2020-05-06 15:54] lpoulter opened #10664 "Log or Throw error when stories fail to load."
**Is your feature request related to a problem? Please describe.**
It's very hard to debug which story is causing the issue when no error is reported.

**Describe the solution you'd like**
A descriptive error or at least a stack trace.

**Additional context**
Stuck on this screen.
<img width="320" alt="Screenshot 2020-05-06 at 16 52 49" src="https://user-images.githubusercontent.com/3940567/811991

[2020-05-06 16:12] jcampbell05 commented on #10140
Ah got it - I set it as false as I got it confused as being about CSS modules

Cool I’ll enable it and see if it resolves it

[2020-05-06 16:13] shilman commented on #10657
@sylvainDNS do you have a public repro cc @ndelangen

[2020-05-06 16:32] danielo515 opened #10665 "Addon docs shows too much story information"
**Is your feature request related to a problem?
I think that addon-docs shows too much info from the actual story function, specially compared with addon-info:

This is what addon-info shows, and what I would expect addon-docs to show too:

![image](https://user-images.githubusercontent.com/2270425/81203008-ae138480-8fc7-11ea-8df5-976724b01d1f.png)

Instead, this is what I get:

![image](https://u

[2020-05-06 16:38] PhiLhoSoft commented on #10505
I have this issue without using terser-webpack-plugin.
I just updated all the storybook dependencies.
Like Adam, it is in an Angular project, so Webpack is bundled.
Current relevant dependencies:

    "@angular-devkit/build-angular": "^0.803.2",
    "@angular-devkit/build-ng-packagr": "^0.803.2",
    "@angular/cdk": "8.1.1",
    "@angular/cli": "^8.3.2",
    "@angular/common": "^8.2.4",
    "@angu

[2020-05-06 16:58] danielo515 commented on #7227
I'm on storybook 5 and addon-centered makes the component to not show at all. What is the workaround there?

[2020-05-06 17:01] lpoulter commented on #10629
I had this issue it was caused by React.foreward Ref.

[2020-05-06 17:43] jw-miaem commented on #8505
@shilman code is available but its not the output its the export in CSF file - would be great to get the rendered output

[2020-05-06 20:50] zbream opened #10666 "Addon-docs: Markdown tables do not support column alignment"
**Describe the bug**

When writing MDX in **addon-docs**, Markdown tables do not support column alignment using the typical [colon syntax](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#tables).

It seems like this was supported at one point, given the example below.

**To Reproduce**

The **official-storybook** demonstrates this bug: https://storybookjs.netlify.app/official-stor

[2020-05-06 21:04] Steven-Harris opened #10667 "Angular-cli example fails to build/run"
**Describe the bug**
The main issue is that the example angular-cli fails to build and I can't run it. I was having issues getting storybook to pick up the compodoc json file and it doesn't seem to work with 5.3.18

**To Reproduce**
Steps to reproduce the behavior:
1. run example angular-cli app in master branch. (doesn't work in @next either)

**Error**
[code]

**System:**
[code]

[2020-05-06 21:16] Steven-Harris commented on #10667
nevermind, figured out I need to bootstrap the application from the root package.json

[2020-05-06 21:16] #10667 closed

[2020-05-06 21:39] Steven-Harris commented on #9103
@tommyc38  I reverted to 5.3.18 and I still can't get storybook to load my documentation.json file. I don't get any errors it just doesn't work. DocsPage works but only has the component in it, I can't customize it

[2020-05-06 22:02] seaneking commented on #10662
It's in a private repo unfortunately, but reducing to a minimum repro with the following config still has the same error:

**main.js**
[code]

**Button.story.tsx**
[code]

**tsconfig.json**
[code]

[2020-05-07 00:26] shilman commented on #10582
@f3ltron did you try clearing node_modules and possibly regenerating lockfile?

[2020-05-07 00:30] #10618 closed

[2020-05-07 00:33] f3ltron commented on #10582
Yes I tried it :$

[2020-05-07 00:39] jtieu-r7 commented on #10536
Hey I'm also running into this issue, +1 for a potential solution.

If I'm reading this correctly, there is no existing solution for generating a props table for any components propTypes that are composed from another imported component's propTypes?

[2020-05-07 01:50] dotpegaso opened #10668 "Cannot find module '.../react-scripts/config /webpack.config'"
**Describe the bug**
Can't run StoryBook properly

**To Reproduce**
Steps to reproduce the behavior:
1. I already have a CRA project with `"react": "^16.8.6"`
2. Added SB to my current project using `npx -p @storybook/cli sb init --type react_scripts --use-npm`
3. When I run `npm run storybook` I receive this error:

[code]

**System:**
    OS: macOS 10.15.4
    CPU: (4) x64 Intel(R) Core(TM) i5-5

[2020-05-07 02:25] shilman commented on #10668
Can't reproduce. Do you have a public repro?

[2020-05-07 02:27] shilman commented on #10536
@jtieu-r7 currently that's the case, do to limitations of `react-docgen`. if we support runtime generation of the prop types we can support arbitrary JS, but at the cost of a bunch of features (e.g. jsdoc comments, probably)

[2020-05-07 02:28] shilman commented on #10582
Do you have a public repo I can look at?

[2020-05-07 02:30] shilman commented on #10662
@seaneking thanks for the additional info. is there any chance you can create a minimal repo with those files (and package.json and whatever else is needed to get it to run and fail)? would really help out, since we have literally hundreds of open issues, and i'd love to get to the bottom of this and get it fixed.

[2020-05-07 02:31] shilman commented on #9103
@Steven-Harris do you have a public repro?

[2020-05-07 02:37] dotpegaso commented on #10668
Unfortunately I don't.

[2020-05-07 02:50] shilman commented on #10371
https://raw.githubusercontent.com/storybookjs/storybook/next/examples/official-storybook/stories/addon-docs/props-include-exclude.stories.mdx

[2020-05-07 03:05] f3ltron commented on #10582
Yes you can go here https://github.com/vuemontreal/vuemontreal. I rollback my pr on that but you have storybook in our project so maybe you can try a bit

[2020-05-07 03:17] shilman commented on #10600
Can you do a standalone test to see if react hooks contexts are working for you? I wouldn't know how to debug it without a public repro

[2020-05-07 03:17] JadeTao commented on #10551
![image](https://user-images.githubusercontent.com/11882787/81250606-ee204900-9053-11ea-94d2-4ab667ddd224.png)
@tmeasday  here are the tabs I meant.
Thanks anyway. I am looking forward to next version to see if the phenomenon will exist anymore.

[2020-05-07 03:21] shilman commented on #10640
Can you create a repro repo?

[2020-05-07 03:31] shilman commented on #10665
Addon-info didn't really nail anything. What you are showing is the reconstructed source of the current state of the runtime component, which works in a bunch of cases, but is react-specific, and brings up countless other issues that you can find by looking through old issues. i think we could bring back a mode for this in react, but would rather focus on doing it properly as part of #8342. Closin

[2020-05-07 03:31] #10665 closed

[2020-05-07 03:33] shilman commented on #10505
@PhiLhoSoft you're seeing https://github.com/storybookjs/storybook/issues/10204

[2020-05-07 03:44] shilman commented on #7227
@danielo515 not using addon-centered

[2020-05-07 03:46] shilman commented on #10666
Good catch @zbream. Mind submitting a small PR to delete that and we can use Chromatic to see what blows up?

[2020-05-07 03:57] shilman commented on #10582
@f3ltron https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#remove-framework-specific-docs-presets

[2020-05-07 04:26] tmeasday commented on #10551
Hmm, I suspect there is no fundamental reason when changing from an addon tab (Notes) to the current story tab (Canvas) it would re-render any contents of the tab. I suppose that's what you mean @JadeTao.

@ndelangen do you have any insight into what's happening here? I don't really know what the mechanism to change the "active tab" is in this case. Is it URL based in the manager?

[2020-05-07 05:09] shilman commented on #10572
Yippee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.3 containing PR #10634 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-05-07 05:09] shilman commented on #10631
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.3 containing PR #10642 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-05-07 05:09] #10572 closed

[2020-05-07 05:09] #10631 closed

[2020-05-07 06:38] JadeTao commented on #10551
@tmeasday
http://jader.xyz/ng-arwes/?path=/story/words--text
https://github.com/JadeTao/ng-arwes/commit/2e8aa2012b995eb0d95c43f1c89869df3128373b
you can toggle tabs and check the log(btw, there are 3 words components)

[2020-05-07 06:48] mrmckeb commented on #10662
I agree with @shilman - having a reproduction will be immensely helpful here. We have a demo of this working in the presets repo, you could also cross-reference that?
https://github.com/storybookjs/presets/tree/master/examples/ts-react

[2020-05-07 07:00] timohermans commented on #8884
Thanks guys for all your hard work.

Is there a migration guide from 5.3 to 6.0? I can't seem to find it. Or maybe a quick rundown?

[2020-05-07 07:01] Adam-Michalski commented on #10505
Any updates on this issue https://github.com/storybookjs/storybook/issues/10505#issuecomment-621182073

[2020-05-07 07:15] seaneking commented on #10662
Sure thing I'll see what I can do, pretty slammed with a deadline atm but I'll try and put something together over the weekend

[2020-05-07 07:54] PhiLhoSoft commented on #10505
Thanks @shilman, I found a workaround in the pointed out issue, and indeed it is unrelated to this one, which I still have.

[2020-05-07 08:41] tooppaaa commented on #8884
You can follow [this guide](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md)

[2020-05-07 09:46] laranhee opened #10670 "ie11 error in 6.0.0-beta.3"
**Describe the bug**
In 6.0.0-beta.3, ie11 error of manager's bundle code(`vendors~main..js`) is occuring.

**To Reproduce**
1. Create project. `npx -p @storybook/cli@next sb init --type react`
2. Build static app. `npx build-storybook`
3. Serving app. `npx http-server ./storybook-static`
4. Go to app in ie11
5. See error

**Expected behavior**
No error

**Screenshots**
![image](https://user-image

[2020-05-07 10:17] shilman commented on #10670
Are you saying that the Storybook repo is working in IE11 but the `6.0.0-beta.3` released version is not?

@tooppaaa @ndelangen this looks really strange to me.. can you verify?

[2020-05-07 10:27] laranhee commented on #10670
@shilman
Yes, Storybook repo's `v6.0.0-beta.3` tagged commit is working in IE11
but npm's `6.0.0-beta.3` released version is not working.

[2020-05-07 10:27] shilman commented on #8884
@timohermans [MIGRATION.md](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md) is the raw version, and I usually write a more conversational version as part of the release, like this one for 5.0: https://medium.com/storybookjs/storybook-5-migration-guide-d804b38c739d

[2020-05-07 10:37] shilman commented on #10670
Thanks for confirming. @laranhee

@tooppaaa @ndelangen Maybe the project builds differently on my machine (MacOS) vs. @laranhee 's (Windows)? If that's the problem it would be really, really, really annoying!

[2020-05-07 10:50] laranhee commented on #10670
@shilman
My environment is MacOS(include building static app and serving through web server) except for checking IE11 (in vm Windows)

[2020-05-07 10:52] tooppaaa commented on #10670
It does make sense actually. If you use the linked storybook repo bootstraped, the dll is working as expected as the path and everything matches.
In our real life, when unfortunately everyone doesn't have the repo on their machines, it has differences that confuses webpack and the dll.

It's still unclear in my head, hope this makes sense?
I'll look at it !

[2020-05-07 10:59] dana-c0914 commented on #5648
hey, I have the same issues with global styles being applied to storybook UI elements.
I have a preview.js where I import the styles, but, for example, buttons from the Docs tab are picking up those styles.

I am using "@storybook/angular": "^5.3.18" with angular 9.

[2020-05-07 11:27] lopis opened #10672 "Unable to link to Documentation-only MDX page"
**Describe the bug**
Documentation-only MDX pages don't contain any stories per-se, but it should still be possible to `lintTo` them. Unfortunately, documentation-only pages are not identified as stories.

**Expected behavior**
I created a custom link component that uses `lintTo` instead of `<Link>`, which overrides the markdown link. This should allow me to link to a `kind` in this fashion: `onCl

[2020-05-07 11:32] lopis commented on #10672
A workaround is to add at least one story to the page. My issues with that are that it's very inelegant and not obvious why there's a random story in the middle of the markdown. Also, if I add an empty story, there's an error in the console. Finally, my project is in Vue, so a non-empty story would be pretty verbose...

[2020-05-07 12:07] lopis commented on #10672
Found this issue https://github.com/storybookjs/storybook/issues/9328 which seems to describe the problem with using a regular anchor. Issue was closed without a solution, it seems?

[2020-05-07 12:10] lopis commented on #10672
Ugh, ok, so it was my fault for over-customizing the component. The way described in #9328 works fine.

[2020-05-07 12:10] #10672 closed

[2020-05-07 12:28] GasimGasimzada commented on #10656
Did you install and configure `react-docgen-typescript-loader`?

[2020-05-07 12:37] GasimGasimzada opened #10673 "CSF stories not included in storyshots"
**Describe the bug**

Currently, when running storyshots, CSF stories are being excluded from the tests. We are using storyshots puppeteer for visual tests. I have dug deeper into understanding why it isn't loading the stories (thought maybe it was because of our regexes); so, I found the problem:

[code]

The code above does not print CSF stories and only includes `storiesOf` stories.

**Expected

[2020-05-07 13:12] tooppaaa commented on #10670
@laranhee could you try to add the following resolution as a workaround
`
  "resolutions": {
    "semver": "^7.3.2"
  }` ?

[2020-05-07 13:22] Steven-Harris commented on #9103
@shilman, sure thing! Here you go! [repo](https://github.com/Steven-Harris/storyboook-compodoc-issue)

[2020-05-07 13:49] BridgeAR commented on #7445
@ndelangen we just ran into this issue as well. The problem ist that `corejs-upgrade-webpack-plugin` fundamentally breaks the way modules work. It is mostly not possible to replace one version with another, since there are often valid reasons to require a specific version.

In this specific case corejs version 2 files are required that do not exist in version 3. This will always fail therefore. Bu

[2020-05-07 13:50] laranhee commented on #10670
@tooppaaa
Which package.json should I add? I will try.

[2020-05-07 14:25] p3k commented on #10654
can i help?

[2020-05-07 14:31] fo-fo commented on #10670
@tooppaaa That change fixed the main issue for me on IE11, now the UI is loading with `6.0.0-beta.3`. However, the stories (I'm using TypeScript) are not getting transpiled properly, there are arrow functions left in the transpiled code, such as this:

[code]

I initialized the project with:
[code]

Any ideas?

[2020-05-07 15:34] tooppaaa commented on #10670
You have to enable ie 11 in the development browserlist
`"browserslist": {
    "production": [
      ">0.2%",
      "not dead",
      "not op_mini all"
    ],
    "development": [
      "last 1 chrome version",
      "last 1 firefox version",
      "last 1 safari version",
      "ie 11"
    ]
  },`

Please note you have to **remove** node_modules after adding it in the list (that last piece took m

[2020-05-07 15:41] fo-fo commented on #10670
@tooppaaa Thanks, that did the trick! (I actually did try to modify `browserslist` before commenting, but didn't think that reinstalling node_modules from scratch could make a difference...)

[2020-05-07 15:48] JBusch commented on #1843
it is not possible to show the component and template  for angular right now, is it? am i missing something?

[2020-05-07 15:53] bburke4 commented on #9336
Having the same issue importing global scss partials/files with a ~

@number33 have you had any luck figuring this out?

[2020-05-07 16:05] mjsarfatti commented on #10668
I have the exact same error, even though I'm running `react-scripts-ts`.

This is my `main.js`:

[code]

The problem seems to be with `node_modules/@storybook/preset-create-react-app/dist/index.js` line 100-103:

[code]

It's as if it ends up looking for a file named `webpack.config`, as opposed to `webpack.config.dev.js`?

[2020-05-07 16:38] dotpegaso commented on #10668
@mjsarfatti  Yup, it is!
<img width="415" alt="Screen Shot 2020-05-07 at 1 34 09 PM" src="https://user-images.githubusercontent.com/6591661/81320618-de126480-9067-11ea-88ed-f34232e748c4.png">

There's some way to solve that besides change the extension name manually?

[2020-05-07 16:58] akapaddy opened #10674 "Storybook 5.3.+ with Angular 9.1 with IE 11 script syntax error"
**Describe the bug**
Using Storybook 5.3.+ with angular 9.1 - getting an ie11 script error targeting the story shown within the code snippet example.

Have attempted to update the webpack.config with the following configuration

[code]

But then getting a compile error with Angular Dependency Injection from injectable services in all browsers e.g. `Can't resolve all parameters for IconComponent: (

[2020-05-07 17:25] mjsarfatti commented on #10668
Alright so, here is how I solved it (the concept is doing a custom webpack config, but actually importing your existing webpack.config.dev.js):

**.storybook/main.js**

[code]

You should also uninstall `@storybook/preset-create-react-app` and remove it from your **main.js** as you are referencing your webpack config directly.

[2020-05-07 17:54] KamalAman commented on #5935
I'm am definitely seeing more stable start-storybook build and decreased build time in `6.0.0-beta.0`.

The places where I am noticing slow downs are:
- initial load of the storybook site, it is in the loading state for 20ish seconds.
- build-storybook crashes to due running out of memory when minifying the code which did not happen in v5 [6408](https://github.com/storybookjs/storybook/issues/6408

[2020-05-07 17:54] dotpegaso commented on #10668
@mjsarfatti that works!

I just had to change
`const oneOf = custom.module.rules[1].oneOf;` to
`const oneOf = custom.module.rules[3].oneOf;`

may the gods of custom webpacks bless you, thanks bro!

[2020-05-07 18:25] kruthivijay31 opened #10675 "Broken link"
#10279 # Bug or support request summary

In this [document](https://storybook.js.org/docs/formats/mdx-syntax/) `Installation Instructions` link under `MDX files name` section is broken.

**404 error**

<img width="1578" alt="Screen Shot 2020-05-07 at 11 24 41 AM" src="https://user-images.githubusercontent.com/14045986/81330744-63404e00-9055-11ea-8cad-8a53c56ed8ce.png">

[2020-05-07 18:32] ndelangen commented on #7445
@BridgeAR We can remove it in 6.0, I'd be happy to accept a PR on the next branch!

[2020-05-07 18:44] bburke4 commented on #9336
@number33 @rurusyu I fixed this in my use case by pushing my stylesheets dir onto resolve.modules.

Then I could do imports like this: `@import '~shared/variables';`

[code]

Also, @number33 shouldn't you drop the slash from this import... `import Icons from "~/helpers/icons";` because `~/` points to your home directory.

[2020-05-07 18:44] shilman commented on #5648
@dana-c0914 canvas components are completely isolated but unfortunately the docs tab specifically is not. if you have a good repro you can share, maybe file a separate issue and we'll see if we can solve it? it's kind of a game of whack-a-mole, but we'll do our best.

[2020-05-07 18:47] shilman commented on #10675
Thanks, fixed!

[2020-05-07 18:47] #10675 closed

[2020-05-07 18:55] shilman commented on #10670
@tooppaaa do we need to document `"resolutions": { "semver": "^7.3.2" }` somewhere? like an IE11 FAQ in the storybook documentation? or is that a temporary workaround?

[2020-05-07 18:58] shilman commented on #10673
@GasimGasimzada what happens when you just add all the stories from `.raw()` without the filtering logic?

[2020-05-07 19:04] GasimGasimzada commented on #10673
Reduce function just groups the items, right? I’ll check just to be sure.

[2020-05-07 19:34] morficus commented on #7367
bumping this ticket again. would really love this option w/o a workaround

[2020-05-07 19:56] tooppaaa commented on #10670
Yes I think we can but that is a moving fix I guess, any differences between storybook dependencies and user dependencies might require more resolutions to match our versions.
This might be the "effortless but might break" IE 11 solution, on the other hand I'm looking at a --legacy flag to transpile node_modules 🚧
That will be sloooooooow but 100% sure it work.

I can get that documented for you,

[2020-05-07 20:23] mjsarfatti opened #10677 "Global addDecorator is ignored"
**Describe the bug**
In my React/TypeScript app if I add a global `addDecorator` in my **preview.tsx** this is ignored.
The exact same decorator works if I add it to a single story.

What could it be?

**Expected behavior**
I expect the decorator to work in preview.tsx

**Code snippets**

**main.js**:

[code]

**preview.tsx**:

[code]

**button.stories.tsx**:

[code]

**System:**

[code]

[2020-05-07 21:21] testacode commented on #8279
I personally don't like to change my Components so that they can work with Storybook. It's like changing code for making tests pass...

[2020-05-07 22:00] kruthivijay31 opened #10678 "Broken Link"
In this [document section](https://storybook.js.org/docs/formats/mdx-syntax/#documentation-only-mdx) “CSF Stories with MDX Docs” link is broken and returns 404.
<img width="1671" alt="Screen Shot 2020-05-07 at 3 00 11 PM" src="https://user-images.githubusercontent.com/14045986/81348736-837f0580-9073-11ea-86cb-aa3750ae8592.png">

[2020-05-08 00:43] #10144 closed

[2020-05-08 00:43] #10139 closed

[2020-05-08 01:11] michaeltrilford commented on #9133
Oh thank goodness, is this content hard to find for anyone else? Lifesaver

[2020-05-08 01:23] shilman commented on #8279
@testacode that's why it's a workaround, not a proper fix

[2020-05-08 01:26] shilman commented on #10677
i can assure you that global decorators work in storybook. do you have a public repro i can look at? if not @yannbf has created a great workflow to create one on codesandbox https://gist.github.com/yannbf/d7a32cfe697e71489db00bfd50e7ab5c

[2020-05-08 01:27] shilman commented on #7367
cc @yannbf

[2020-05-08 01:27] shilman commented on #10673
@GasimGasimzada

[code]

[2020-05-08 01:32] shilman commented on #10678
Fixed

[2020-05-08 01:32] #10678 closed

[2020-05-08 01:36] maeriens commented on #8279
@shilman to confirm - the issue here is in `react-docgen`, right? Haven't investigated much since but it seems not related to Storybook

[2020-05-08 01:53] shilman commented on #10674
Have you tried in 6.0-beta? We've recently made a bunch of IE related fixes that won't get ported back into 5.3.x and are better equipped to offer support help there.

[2020-05-08 02:55] jakubriedl commented on #10631
@shilman can you please merge the fix also to stable version (v5)? As I assume it will still take some time before v6 becomes stable and this issue block update of jest. Thanks

[2020-05-08 03:08] shilman commented on #10631
@jakubriedl ok will try to special-case this

@SimenB do we need to upgrade `babel-jest` also?

[2020-05-08 03:26] brennop commented on #10677
Was having the same problem. `preview.js` would not work at all. Using the latest beta fixed the problem for me

[2020-05-08 05:21] YuunYang opened #10680 "Addon-docs: Pretty json in Props table"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/15278220/81369807-006ab780-9126-11ea-970f-c8f4cf9d0f9b.png)
If the input value is object, the content is not pretty, so, it looks terrible

**Describe alternatives you've considered**
No

**Are you able to assist bring the feature to reality

[2020-05-08 05:44] rue-mishakorablin commented on #10558
I ran into this same issue as well. Looking at the code in the npm package, it looks like it doesn't have changes made in this commit: https://github.com/storybookjs/storybook/commit/f19556f1d0e7565dfe42d5bb76f80a915c06bb62#diff-8341c62a0da2d81731c3e84433653563

Here's the final code that I see:
[code]

Very curious how did this happen.

[2020-05-08 06:12] shilman commented on #10558
That's probably a 6.0 feature and you're using 5.3?

[2020-05-08 06:13] shilman commented on #10677
@brennop what version were you using before?

[2020-05-08 06:15] shilman commented on #8279
Yeah, this particular codepath (react PropTypes) would get handled by `react-docgen` @maeriens

[2020-05-08 06:48] idbartosz commented on #10598
Thanks @shilman, `Anchor` works but after scroll content is positioned at bottom of the screen. Would be nice to have some prop to change scroll behavior that the content begin on top of the page.

[2020-05-08 07:47] SimenB commented on #10631
You don't _need_ to upgrade, `jest.requireActual` has been available insce Jest 21 released in 2017.
If you do upgrade though, we recommend upgrading all of Jest's dependencies, including `babel-jest`

[2020-05-08 07:57] #7445 closed

[2020-05-08 08:03] akapaddy commented on #10674
Not tried with 6.0-beta as yet, but will do with this scenario and feedback here

[2020-05-08 08:07] Grienauer opened #10681 "@storybook/html -"
**Describe the bug**
JS from my story is loaded "outside" the storybook-preview-wrapper iframe and is not able to manipulate elements inside.

**Expected behavior**
the js should be able to manipulate elements.

**Code snippets**
my story:
[code]

the js file:
[code]

**System:**
Environment Info:

  System:
    OS: macOS 10.15.4
    CPU: (12) x64 Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz
  Binarie

[2020-05-08 08:09] Qeeq777 commented on #9243
https://www.qeeq.com/a/mcs18596
--

[2020-05-08 08:28] BridgeAR commented on #10164
This is likely fixed by https://github.com/storybookjs/storybook/commit/4c35a213b73c649add0a6b9733e806e877d6b0de

[2020-05-08 08:28] BridgeAR commented on #7084
This is likely fixed by https://github.com/storybookjs/storybook/commit/4c35a213b73c649add0a6b9733e806e877d6b0de

[2020-05-08 09:24] mjsarfatti commented on #10677
I'm using a custom webpack, basically replicating my project's config. For this reason (_I think_) I had to rename `preview.js` ☞ `preview.tsx` or it would error out trying to parse **jsx**.

Is it possible that this is causing problems? I have the feeling that `preview.tsx` is just ignored.

Will try to reproduce on a codesandbox in the meantime.

[2020-05-08 09:43] ml-tsai opened #10682 "Unable to build storybook, "command not found""
I have an issue when i try to build my storybook. It will always return "command not found".
Can anyone advise or help?

[2020-05-08 09:46] anynines-johannchopin commented on #10656
I use in this project the `@storybook/preset-create-react-app` addon that handle TypeScript conf for me. Should I tried using `react-docgen-typescript-loader`?

[2020-05-08 10:04] shilman opened #10684 "Args: ArgStory for React"
Provide a stylized way to create stories based on:
- The component
- An args object

[code]

[2020-05-08 10:27] zeorin commented on #9918
I just ran into this.

[2020-05-08 10:54] maslade commented on #10204
This probably isn't helpful information at this point, but seeing it on our project as well. It's @storybook/html base, but we do have react and react-dom installed as peer dependencies supporting a couple of React components from a separate repo. It started after adding @storybook/addon-viewports (along with backgrounds and a11y) and went away only by setting my React versions to 16.3.0 (as noted

[2020-05-08 11:26] rahulrsingh09 opened #10686 "I am using RMWC lib in my composite components while using Story books i am not able to showcase both"
I am using RMWC lib in my composite components while using Story books i am not able to showcase both inside a component.

If the RMWC styles work then the component styles are stripped and if the component styles work the RMWC styles are Stripped what is the cause here.

I am using a helper html file

[code]

[code]

This is my main.ts

[code]

[2020-05-08 11:57] rahulrsingh09 commented on #10686
Added a workaround for this working

[2020-05-08 11:57] #10686 closed

[2020-05-08 11:57] rahulrsingh09 commented on #10686
Added a workaround for this working

[2020-05-08 12:00] rahulrsingh09 opened #10687 "My StoryBook Component is Downloading a svg from a CDN and using it like an Icon But it never shows in Preview?"
I have a Component that downloads a svg from cdn and put its as part of a i tag background-url property when using it normally i am able to see the icon but in the Story Book Preview i am never able to see the Icon.

is there any config we need to do for this. I can see in the Network Tab of StoryBook preview the svg getting downloaded but never getting applied .

Is this a known issue ?

[2020-05-08 13:05] mjsarfatti commented on #10677
**_WORKAROUND_**

It appears that
1. my current `react-scripts-ts` setup doesn't transform `.jsx` files, but only `.tsx` for some reason
2. Storybook ignores `preview.tsx` if it has a `.tsx` extension

I solved by
1. renaming `preview.tsx` ☞ `preview.jsx`
2. adding the following line to my `main.js`:

[code]

[2020-05-08 13:14] shilman commented on #10631
Great Caesar's ghost!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.4 containing PR #10669 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

[2020-05-08 13:14] shilman commented on #10684
Hurrah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.4 containing PR #10685 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-05-08 13:14] #10684 closed

[2020-05-08 13:32] evankellogg commented on #5193
Hello, was the documentation ever updated to show to how wrap the dev server in a separate express server?

[2020-05-08 13:34] ybrodsky commented on #10640
Okay, nevermind.
The problem was in my code and I am an idiot.

Sorry.

[2020-05-08 13:34] #10640 closed

[2020-05-08 13:56] #10424 closed

[2020-05-08 14:33] GasimGasimzada commented on #10656
I don't think `@storybook/preset-create-react-app` supports `react-docgen-typescript-loader` because CRA does not have this configured and the addon uses CRA configuration. Can you try to install both `preset-create-react-app` and `preset-typescript` (not sure if this is a good idea) or install configure docgen manually using `webpackFinal` option.

[2020-05-08 14:48] AnnyCaroline opened #10690 "Search by folder name don't work correctly when title is long"
**Describe the bug**
When searching by folder's name, storybook shows the folder structure until the previous folder and don't allow to open it if the story title is long.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a react app using `create-react-app test_storybook`
2. Add storybook using `npx -p @storybook/cli sb init`
4. Change the title of "src/stories/1-Button.stories.js" to

[2020-05-08 15:24] GasimGasimzada commented on #10673
I tested it out and it doesn't exist:

[code]

Interesting thing is that the stories appear in normal storybook. It is just they do not appear during visual tests.

Here is my storybook + webpack config:

[code]

webpackConfig

[code]

[2020-05-08 15:58] vdanchenkov commented on #6364
In nextjs based setup simple line of `import "../styles/main.css";` (as in main app) to `.storybook/preview.js` add styles correctly.

[2020-05-08 16:07] jpmarra opened #10692 "[addon-knobs]: options knob with display: multi-select inferring wrong type info"
**Describe the bug**
When using the options knob with `{display: multi-select}`, it is inferring the return type from the values of the `valuesObj`, which need to be strings in order for the multi-select to work. The return type is being inferred as `string` when the multi-select actually returns an array of strings, so `string[]`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `op

[2020-05-08 17:06] chriscarpenter12 commented on #8370
So @kroeder or @sharikovvladislav how do we officially run storybook with Ivy enabled?

[2020-05-08 17:13] PhiLhoSoft commented on #10505
FYI, I found this interesting article: https://medium.com/@omril321/fixing-overly-aggressive-optimization-with-terser-f07309761b50

I tried it like that, in main.js :
[code]
and alas, I still have the issue, but if it can help…

[2020-05-08 18:39] jrr commented on #10190
This happened to me when I updated `react-scripts` from 3.4.0 to 3.4.1. Diffing my yarn.lock, quite a few transitive dependencies changed. Diff below.

I'm hoping that when this bug is fixed, Storybook will again be able to tolerate forward references in JSX/TSX.

If for some reason it can't, then it might be helpful to come up with a lint rule that can discourage them. (`no-use-before-define` doe

[2020-05-08 18:41] chulanovskyi-bs commented on #5193
@evankellogg I've just looked through their new _fancy_ [guides](https://www.learnstorybook.com/), and guess what - not a single word about `security`, neither at main docs...

[2020-05-08 19:26] kruthivijay31 opened #10693 "Upgrade to Axe-core 4.0 when released"
**Is your feature request related to a problem? Please describe.**
We recently migrated to the storybook and found an a11y violation in the Switch component.
<img width="455" alt="Screen Shot 2020-05-08 at 12 10 19 PM" src="https://user-images.githubusercontent.com/14045986/81441033-e335e900-9125-11ea-9955-c5b296effbd6.png">
We have raised this [issue with axe-core](https://github.com/dequelabs/ax

[2020-05-08 21:55] yannbf commented on #10682
Hey @ml-tsai, could you provide us a bit more information? What command are you trying to run exactly? Are you running that command in the same place of your `package.json`? Does it contain a script like `"build-storybook": "build-storybook -s public"`?

[2020-05-08 22:10] tooppaaa commented on #10602
Just added the PR if anyone wants to help !

[2020-05-08 23:43] shilman commented on #10673
@Hypnosphi have you seen this problem?

[2020-05-08 23:52] shilman commented on #10656
@GasimGasimzada CRA preset supports `react-docgen` and this walkthrough should work:

https://gist.github.com/shilman/bc9cbedb2a7efb5ec6710337cbd20c0c

Older versions used `react-docgen-typescript-loader` and `1.5.2` was the most recent version that used it.

[2020-05-09 00:14] selim2020 opened #10695 "https://github.com/selim2020/https-www.facebook.com-mohmedselim100001994033990/invitations"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snippets**
If applicable, add c

[2020-05-09 00:14] selim2020 opened #10696 "https://github.com/selim2020/https-www.facebook.com-mohmedselim100001994033990/invitations"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snippets**
If applicable, add c

[2020-05-09 00:16] selim2020 opened #10697 "Follow"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

_Please provide issue details here - What did you expect to happen? What happened instead?_

### Steps to reproduce

_Please provide necessary steps for reproduction of this issue. Describe the exact steps a maintainer has to take to make the problem occur. If the problem is non-trivial to reproduce,

[2020-05-09 03:16] #9493 closed

[2020-05-09 03:16] #9952 closed

[2020-05-09 04:56] aditya237 commented on #8541
I'm a first timer wanna contribute is it still available
i'll do my best to remove the bug

[2020-05-09 07:49] #10553 closed

[2020-05-09 08:24] adover commented on #9072
This looks like it is covered in the migration guide. I will attempt a PR.

[2020-05-09 08:41] yusufezelcakan opened #10698 "https://www.webagim.com/"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
https://www.webagim.com/
**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features

[2020-05-09 08:47] ndelangen commented on #5193
We assume the dev server is used development on someone's local machine and that will never be made public.

We assume the static build could be hosted anywhere, and pretty much all hosting platforms have some way to add a basic auth to a folder or something.

Here's our start-dev script:
https://github.com/storybookjs/storybook/blob/next/lib/core/src/server/build-dev.js

This is where it's used i

[2020-05-09 08:52] ndelangen commented on #7084
If someone wants that commit be make it into @storybook/polymer, they'd have to open a PR here https://github.com/storybookjs/storybook/tree/master/app/polymer

FYI we're dropping support for storybook for polymer and focussing on supporting plain web-components instead.

[2020-05-09 10:34] danielo515 commented on #7227
Thans, and what is the alternative? I was previously using a custom decorator. Is that the only way?

[2020-05-09 12:55] nonlinearcom commented on #9031
+1 for the Nuxt example :)

[2020-05-09 14:38] hsablonniere commented on #3855
@norbert-doofus thanks your example helped me 👍

[2020-05-09 16:01] yannbf commented on #10698
Closing this issue as it's not related at all with Storybook. Advertising like this are not cool! :)

[2020-05-09 16:01] #10698 closed

[2020-05-09 18:16] #7079 closed

[2020-05-09 21:16] #10165 closed

[2020-05-09 22:28] john-craft commented on #2695
I had this same question, @A7DC, and the code below is what worked for me. I had to tell webpack to use Vue's runtime compiler, thus the `'vue$': 'vue/dist/vue.esm.js'` line. Also, I already had the `stories` property set in `main.js` and that may not apply to you.

This is running on `@storybook/vue v5.3.18`.

[code]

[2020-05-10 02:17] enagy27 opened #10716 "Typescript props table overflow"
**Describe the bug**
More complex Typescript types such as:
[code]
are causing overflow in the props tables.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the [Storybook Design System](https://storybook-design-system.netlify.app/?path=/docs/design-system-button--buttons)
2. Replace one of the types provided with the Typescript type above in the inspector.
3. Shrink the window to abou

[2020-05-10 05:21] lifeiscontent opened #10717 "source-loader cannot parse index.stories.tsx during build"
**Describe the bug**
@ndelangen and I worked together on setting up a `main.js` for typescript this is what we came up with:

[code]

when I deploy my storybook to `now.sh` I get an error saying source-loader cannot parse index.stories.tsx

**To Reproduce**
Steps to reproduce the behavior:
I don't have a clear way on how to debug this behavior, I can add someone from the storybook team to my proje

[2020-05-10 06:41] waterkip commented on #10629
I have the same issue. I'm following the tutorial found at: https://www.learnstorybook.com/intro-to-storybook/vue/en/get-started/ and it does not seem to work.

[2020-05-10 07:20] zhaoyao91 opened #10718 "docs scrolling is slow"
**Describe the bug**

presets

- docs addon
- a component with many props
- some stories

it is slow to scroll to bottom story.

**Screenshots**

![Kapture 2020-05-10 at 15 19 05](https://user-images.githubusercontent.com/3808838/81493269-a1e23c80-92d1-11ea-97b7-f5482873d30f.gif)

**System:**

[code]

**Additional context**

[code]

[2020-05-10 07:46] stropho commented on #7079
@adriencaccia thx for the message. I don't feel comfortable with the solution as long as it is not documented anywhere. That way, the functionality could be removed just like that any time.
Let's hope for the best in version 6 :crossed_fingers:

[2020-05-10 09:30] danzrou commented on #10466
Hi, this issue is still up.
Any ideas?

[2020-05-10 10:53] jeroenheijmans opened #10721 "Error running `yarn test` on Windows 10 PowerShell"
To assist with #10302 I've been following [the CONTRIBUTING.md guide](https://github.com/storybookjs/storybook/blob/next/CONTRIBUTING.md) on my Windows 10 1909 machine. I run into script errors when doing so.

**To Reproduce**

Steps to reproduce the behavior:

1. On Windows 10 Pro 64bit open PowerShell 5.1
2. Install `yarn` (I got 1.22.4)
3. Clone a fork of storybook with `git`, `cd` into that fo

[2020-05-10 11:00] jeroenheijmans commented on #10721
On a side note, I ran `yarn lint` to see if a simpler command _would_ work, but it spits out:

[code]

After first listing all those 89k errors 😅. So ~perhaps~ probably I'm doing something wrong, and all of this is caused by missing a step in the guide? Or maybe developing Storybook on Windows is unsupported?

[2020-05-10 11:45] jeroenheijmans commented on #10721
Found that #6980 describes the same _symptoms_ but in a very different situation. So presuming this is not a duplicate? In any case, that issue was closed without ever being resolved.

[2020-05-10 12:00] jeroenheijmans commented on #10721
This symptom is described in [jest issue 3750](https://github.com/facebook/jest/issues/3750). Weirdly, a fix was merged last Feb 26, and since then version 26.0.0 has been released which [seems to be the version in use](https://github.com/storybookjs/storybook/blob/e54b70a2bc03581be2e910614b58de2399750c62/package.json#L187). So not sure why Storybook's `yarn test` command still runs into this issu

[2020-05-10 12:19] Nabellaleen commented on #10025
Stale bots are a pain ...

[2020-05-10 13:34] tooppaaa commented on #10721
`yarn jest` does the same as `yarn test --core` if I'm right.

[2020-05-10 13:45] jeroenheijmans commented on #10721
Thanks for the help! I can confirm that tests then indeed run on my machine with `yarn jest`. I guess it doesn't do "the same" but something "similar", as the effect is different. I still suppose it's something that could be fixed (or at least mentioned in the contributing guidelines).

When I _do_ run the tests like that, a whole bunch of them fail. Some of them most likely related to my env bein

[2020-05-10 13:51] jeroenheijmans opened #10722 "Tests won't pass on Windows 10 environment"
While investigating #10721 I got to run the tests on my Windows 10 PC with Powershell. However, a whole bunch of tests fail out-of-the-box.

**To Reproduce**

Steps to reproduce the behavior:

1. Use Windows 10 + Powershell
2. Clone a fork of Storybook, `cd` into the folder
3. Run `yarn` and then `yarn bootstrap`
4. Run tests (use `yarn jest` to circumvent #10721)

- Expected: all tests pass.
- Ac

[2020-05-10 14:22] yannbf opened #10723 "Discussion: CLI Overhaul"
# What is this?
This is an issue to center the status and discussions about the work that's being done at #10702.

We are making an overhaul of the CLI so that we can automate the generation of templates for the frameworks that Storybook supports.
The work also involves adding and improving E2E tests and making the storybook installation consistent across all frameworks.

This gives us the opportu

[2020-05-10 18:00] gaurav5430 commented on #2377
facing the same issue when using a custom webpack config.
`title`, `componentSubtitle` works as expected, but props information and description does not show up in the DocsPage tab, even though specified correctly in the docgen format

[2020-05-10 18:18] gaurav5430 commented on #2010
This helped me in resolving this issue. I was using a custom webpack config, in which I was overriding storybook's default `babel-loader` rule with my own `babel-loader` rule, which simply meant that the docgen preset was never registered and hence no docs were produced.

As a workaround, I am now preserving storybook's `babel-loader` rule and also adding my own.

[2020-05-10 18:51] cpconcertage commented on #10405
just because the stale bot seems a bit eager, I'll add my 2 cents.  I have just had the same problem with a CI timeout because build-storybook got hung.  For me it occurred here:

[code]

[2020-05-10 20:31] bsgreenb commented on #8753
@shilman Is it super advanced usage?

I have a GlobalStyle object I want to document in a non conventional way (using color swatches etc. from docs blocks)..

It seemed natural to me that I'd have a GlobalStyle.stories.tsx object, where I could `export const colors`

[2020-05-11 01:13] shilman commented on #8753
@bsgreenb are you using them inside stories? or inside the docs tab?

[2020-05-11 01:18] shilman commented on #10722
@jeroenheijmans AFAIK none of the core maintainers develop on windows. Would you be interested in contributing fixes for the tests?

@patricklafrance You had this working on Windows before didn't you?

[2020-05-11 01:24] ml-tsai commented on #10682
Hi @yannbf, I just type "build-storybook" in terminal and it returns "command not found".
This is my first time trying, not good with command prompt.

Below is my package.json
![Screenshot 2020-05-11 at 09 20 53](https://user-images.githubusercontent.com/702772/81515923-b9203900-9368-11ea-870e-1c45c7430c5a.png)

[2020-05-11 01:40] thany commented on #9592
It feel to me like everyone is writing their own little typescript parser to get this kind of infor from the sourcecode.

Why is it not possible to just to *whatever* VScode (or any other editor) does in order to get proper intellisense information? Certainly, code editors don't need these crappy unstable babel plugins to get intellisense information. They use the actual proper typescript engine.

[2020-05-11 01:41] bsgreenb commented on #8753
@shilman Got it working with mdx (not inside story).  Yeah, it worked in the build inside a story

[2020-05-11 01:49] scoorey commented on #10604
Ok I've done the migration and updated storybook and the addons and now I am seeing the verbose log message in my project, thanks!

I was then able to consume the event by using the code i originally pasted in Manager.js as you suggested, but I had to correct the ADDON_ID to be 'addon-backgrounds'.

The final step to achieve my goal is to be able to swap the css file used in preview-head.html, and

[2020-05-11 02:17] mariasereno-png commented on #10363
Can you try adding this to your `export default` up top?

` includeStories: []`

I was getting both this warning and "story with id already exists in store" warnings. I added that per https://github.com/storybookjs/storybook/blob/master/addons/docs/docs/recipes.md#csf-stories-with-mdx-docs and both types of warnings disappeared for me. Might be worth a shot.

[2020-05-11 02:24] shilman commented on #10723
Thanks for opening this @yannbf! Agree with your suggestions across the board. The first question about `stories` vs `src/stories` is tricky.

- Ideally we want to the setup to be as close to their final setup as possible. Some users won't have a `src` directory. Some setups, like `CRA`, won't work outside of a `src` directory.
- We shipped demo components with most of the frameworks, but `addon-d

[2020-05-11 02:44] f3ltron opened #10724 "nuxtjs project storybook/addons-docs not working"
**Describe the bug**
A clear and concise description of what the bug is.

We want to implement mdx doc logic to our project. https://github.com/vuemontreal/vuemontreal/pull/182. I did with success to implement docs without mdx. But we want to have all in one page so thank's to mdx. But i faced so many issues.

**To Reproduce**
Steps to reproduce the behavior:
- clone the project
- git checkout f\/

[2020-05-11 02:47] f3ltron commented on #10582
i created an issue https://github.com/storybookjs/storybook/issues/10724. Really hard to work with :s

[2020-05-11 02:51] patricklafrance commented on #10722
@shilman running all the test suits never worked. It only worked when filtering to run specific test suits.

I believed those we fixed together were in babel-plugin-react-docgen.

[2020-05-11 04:10] scoorey commented on #10604
Solved by accessing the iFrame by id:
document.getElementById("storybook-preview-iframe").contentDocument;

Thanks for your help @shilman

[2020-05-11 04:10] #10604 closed

[2020-05-11 05:57] honorsuper commented on #9796
i have the same problem

[2020-05-11 07:19] PhiLhoSoft commented on #10505
Update: I finally got rid of this error by upgrading to 6.0.0-beta.4.

I had to add `"sass-loader": "^7.3.1"` to the package.json, because Storybook 6 brings the v. 8 which has a breaking change in the config, conflicting with some library we use.

[2020-05-11 07:32] ndelangen commented on #10723
agreed

agreed

we noticed is the message about webpack
We should update it so it mentions `main.js` and links to the docs.

[2020-05-11 07:36] shilman commented on #10716
Thanks for raising this -- definitely not optimal. I'm reconsidering the switch to `react-docgen` since it doesn't support imported types currently and that's a dealbreaker for most "real world" use cases. We need to hustle to get something good in place for 6.0 -- quite a pain in the neck.

[2020-05-11 08:01] ndelangen commented on #10551
I think it can be considered a bug.

When the viewMode is changed, the URL changes.

The Preview component emits a message with { viewmode, id } to the iframe.

This then renders either the component in isolation or the docs.

If it switches from story to docs, it destroys the mounted story.

@shilman I do believe we can optimize this a bit actually. WDYT?

[2020-05-11 08:04] shilman commented on #10551
If the optimization also simplifies things, I'm for it. If it makes these more complicated, I don't think that's a good tradeoff.

[2020-05-11 08:08] shilman commented on #7227
in SB5 yes, in SB6, we `layout` parameter is the recommended way

[2020-05-11 08:17] yannbf commented on #10723
Downside to this is we would need to change the implementation of the generators and make it more complex, because right now it just does a `copySync` of the entire template folder, very straight forward (but less dynamic).

Also, we'd need to change the text on the Welcome story based on that, because in that text there is a reference to one of the stories like this:
```Try editing the Button sto

[2020-05-11 08:34] ndelangen commented on #10664
#10659

[2020-05-11 08:58] p3k commented on #10654
what i tried so far (only in dist files located in the node modules directory, though):

### vue/dist/server/framework-preset.js

* `VueLoaderPlugin` is now an export of `vue-loader`
* replace `vue-esm.js` with `vue

[code]
### vue/dist/client/preview/render.js

app component is now instantiated with `createApp()`, all configuration etc. needs to be applied to the instance

[code]

i am now stuck

[2020-05-11 08:59] ndelangen commented on #9961
I don't think this is true for the latest 6.0.0-beta?

[2020-05-11 09:02] shilman commented on #9072
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.5 containing PR #10699 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-05-11 09:02] shilman commented on #10577
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.5 containing PR #10659 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-05-11 09:02] shilman commented on #10664
Yippee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.5 containing PR #10659 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-05-11 09:02] #10577 closed

[2020-05-11 09:02] #10664 closed

[2020-05-11 09:02] #9072 closed

[2020-05-11 09:16] ndelangen commented on #10551
@shilman I noticed this:

<img width="681" alt="Screenshot 2020-05-11 at 11 10 17" src="https://user-images.githubusercontent.com/3070389/81544602-08ba3100-9378-11ea-9a88-503a54ec1f91.png">

Emitting an event to the preview with an viewMode it cannot render is redundant..

I think we should have a look at this code, there's possibly a bug there, that re-renders the component when it's not needed:

[2020-05-11 09:50] ndelangen commented on #10723
Downside to this is we would need to change the implementation of the generators and make it more complex

true, good point, that is a downside..

We could say we copy the stories into the project dir, then OPTIONALLY move the stories dir into the src directory?

And make sure the glob specified in `main.js` matches both.

I think we can drop the `src/` in that, because it's kinda obvious if the u

[2020-05-11 09:59] ndelangen commented on #9918
@shilman I think I came up with a solution to this.

I'm thinking we convert the glob patterns specified in `main.js`.stories and apply that to the includes for the storybook mdx loader.

And add it to the excludes for the other mdx loader?

[2020-05-11 10:01] ndelangen commented on #9918
I feel we can try to do this for 6.1

[2020-05-11 10:01] #10425 closed

[2020-05-11 10:08] GeorgeWL commented on #9961
but people don't tend to use beta versions, they tend to use the LTS

[2020-05-11 10:16] shilman commented on #10717
Do you have a minimal repro i can look at? possibly following this? https://gist.github.com/yannbf/d7a32cfe697e71489db00bfd50e7ab5c

[2020-05-11 10:19] ndelangen commented on #10717
Please paste the full output of `--debug-webpack` ?

https://storybook.js.org/docs/configurations/custom-webpack-config/#debug-the-default-webpack-config

[2020-05-11 10:28] ndelangen commented on #9961
I am aware, but unfortunately upgrading is a risky endeavor, and testing all possible permutations takes a lot of time.

I'm willing to spend time patching specific dependencies if you they have backwards compatible patches.

Pretty much ALL of our dependencies have a `~` version; for this reason.
So you should be getting those upgrades automatically.

But a major version bump in dependencies take

[2020-05-11 10:43] ndelangen commented on #10657
[code]

is invalid code...

Please send us a repro

or paste the output of `--debug-webpack`

[2020-05-11 11:14] sylvainDNS commented on #10657
Yes I will make a repo soon :wink:

[2020-05-11 12:07] tooppaaa commented on #10723
Here's my suggestion for the one-for-all wording of the introduction story.
I took the react one as basis and tried to remain cross-framework, "src-independent", and provide useful links to the docs

Should we add a section that encourages the usage of docs ?

___________________

# Welcome to storybook

This is a UI component dev environment for your app.

We've added some basic stories inside th

[2020-05-11 13:10] 0x0006e commented on #10363
Still can't solve

[2020-05-11 13:10] #10363 closed

[2020-05-11 13:17] thedamon commented on #2965
@seberik the delay is very useful!
just wanted to mention we had lots of weird text rendering issues even with a delay, so we added this CSS to our stories via a url param when running screenshots and it helped remove a bunch of false-positives

[code]

[2020-05-11 13:43] torkelrogstad opened #10726 "StoryShots, TypeScript and multiSnapshotWithOptions does not work"
**Describe the bug**
I'm having issues getting TypeScript, StoryShots and `multiSnapshotWithOptions` to work nicely together.

**To Reproduce**
1. Clone this repo: https://github.com/torkelrogstad/storyshots-test. It was created by doing `yarn create react-app storyshots-test/ --template typescript`, `npx -p @storybook/cli sb init` and adding `src/Storyshots.test.ts`, `src/App.stories.tsx`, `src/C

[2020-05-11 14:19] leotm commented on #3348
[code]
Also gives us 2 `storiesOf` from the get-go, then HMR later:

<img width="426" alt="Screenshot 2020-05-11 at 14 55 16" src="https://user-images.githubusercontent.com/1881059/81569827-b0932700-9397-11ea-9ca4-96954fbd0918.png">

- react-native 0.62.2
- @storybook/react-native 5.3.18

---

@shilman Could you clarify our workaround?

[code]

[2020-05-11 15:22] yannbf commented on #10723
So @shilman mentioned in one of the PRs:

What do we want to use? I think it would be nice to use `docs` because then eventually docs becomes part of storybook as a default experience and more people get to enjoy it out of the box!

[2020-05-11 16:40] johnhunter commented on #6089
@willryan's comment is still true with v5.3.18

I have stories where the knob names have spaces. The url from the copy button fails as the spaces are not encoded. Replacing the spaces in the url with `%20` and the url loads the expected state so its definitely a space encoding issue.

[2020-05-11 16:54] johnhunter commented on #6089
Ah, so it works. The issue is pasting the url into other applications that expect urls to have spaces escaped (Slack, I'm looking at you). In all fairness there is no way handle links with spaces correctly when pasted as text.

Pasting links into other apps is a pretty common use case - it would be nice to resolve this.

[2020-05-11 17:18] tooppaaa commented on #10723
Docs is a different approach. I can see projects where I am not yet sure I'll install docs. (simpler is better). Same for backgrounds. So this leads to:
Do we really need to demonstrate another addon in the CLI generator ?

This increase the maintenance cost (Lots of PR to harmonize only links & actions)
In my opinion, the welcome page with links to addons and the button story does the job.
We can

[2020-05-11 17:49] roniRamon commented on #9970
@here what is the fix for this? still getting the vulnerability in version 5.3.17 for mem

[2020-05-11 18:02] jeroenheijmans commented on #10722
@shilman Thx for the confirmation that this doesn't work on Windows.

I might try to squeeze in a PR for a warning to the guidelines that Windows is not well supported until a community member or maintainer stands up to get that fixed. But unfortunately I'm otherwise maxed out with OSS efforts on other libraries. I don't think I'm up for getting an OS supported in this large a framework at this po

[2020-05-11 18:05] jeroenheijmans commented on #10302
I tried to get up and running but first ran into #10721 and while trying to fix _that_ I ran into #10722, so for the moment, I'm tapping out on fixing this original issue. I hope someone else would find a moment to contribute a fix, but otherwise I'll look for a workaround in my codebase (and report here if I find any reusable workaround).

[2020-05-11 20:57] yannbf commented on #10723
That's a great question!

Sounds like a great idea!

[2020-05-11 21:19] Stafie commented on #9680
Would love to be able to do that! Looks like the guys from six are doing here:
https://wix-style-react.now.sh/?activeTab=Playground&path=%2Fstory%2Fcomponents-api-components--button

[2020-05-12 03:07] shilman commented on #10723
@tooppaaa i think it's fine if the user has to delete some or even all of the code generated by the template -- that's already the case with stories. its main purposes are (1) to give users something useful out of the box and (2) to educate them about storybook concepts. what's nice specifically about the `notes` example is that it was both useful (prior to `docs`) and also demonstrated story para

[2020-05-12 03:42] matheo opened #10728 "Addon-docs: Parameter to not print the PropsTable next to the primary story"
**Is your feature request related to a problem? Describe the solution you'd like**

I want to prevent the PropsTable to be displayed by default next to the primary story and instead, move it to a panel if possible (can Storybook v6 support that kind of move?)

**Describe alternatives you've considered**

I've checked the sourcecode and it seems that no matter what, `StoryTable` will include a `Tab

[2020-05-12 04:27] juliocymatic commented on #3791
Thanks to @panlina I've implemented it with Vue using composition-api:

[code]

and then adding the cdn script tag to preview-head.html as it is mentioned in [storybook documentation](https://storybook.js.org/docs/configurations/add-custom-head-tags/)

[2020-05-12 07:01] ndelangen commented on #10723
But less is better.

referencing demo components from `@storybook/<framework>/demo` is better IMHO.

The issue is that (as @shilman mentions as well), that part of the purpose of this copied template is to give the user something to play with **code-wise**. If it's a ref they can see the storybook, but they cannot experience changing the component & story.

But I'm not apposed to the idea of addin

[2020-05-12 07:08] blemaire commented on #6611
@ChazUK I think you need to import the `RouterModule` in `UiModule` since you're using `routerLink` in a component defined in that module.

[2020-05-12 07:24] yannbf commented on #10682
@ml-tsai thanks for the additional info! Also nice that you're trying out the command prompt!

So "build-storybook" is actually just the name of the npm script, but in order to run it you need to first open the terminal at the root folder of your project (where package.json is located) and do either:
1 - `npm run build-storybook` if you're using npm
2 - `yarn build-storybook` if you're using yarn

[2020-05-12 08:29] ricovitch commented on #9593
I'm also interested in a simple solution to allow toolbar display on the <Preview /> component in DocsPage.
Our use case is that we build storybook with Docs page only, and we want to allow users to open standalone stories for some stories that involve responsive behaviors or layout logic demonstration.

Actually this works : <Preview withToolbar />
But it does not show the "open canvas in new tab

[2020-05-12 08:33] parulpriyedarshani commented on #10434
@shilman Is anyone working on this issue? No active work has been done here lately. I would like to submit a PR on the same.

[2020-05-12 08:35] shilman commented on #10723
In 5.3 I wrote a meta-addon called [Storybook Essentials](https://www.npmjs.com/package/@storybook/addon-essentials), which is a curated collection of zero-config addons for Storybook. I think Essentials should be the basis for the updated CLI template and related work.

Essentials had a technical limitation about package imports. However, I've fixed the limitation in in 6.0, and it's now availabl

[2020-05-12 08:40] ndelangen commented on #9970
We depend on:
https://github.com/storybookjs/storybook/blob/ff445da08f82a7b0931647754394b4de0a2a34f9/addons/docs/package.json#L57

Do you have a lockfile?

[2020-05-12 08:48] davidnguyen179 opened #10738 "addon-docs: Typescript not showing table of Proptypes"
**Describe the bug**
I set up project using `storybook` and `typescript`. I followed the documentation, but I cannot make the `docs` tab show props description based on JS docs of props

**main.ts**
[code]
**webpack.config.js**
[code]
============= Component =================

**button.ts**

[code]

Here is the repo: https://github.com/davidnguyen179/storybook-wdio/tree/temp

[2020-05-12 08:53] tooppaaa commented on #10723
Reusing what has been done ? Love the idea !
I didn't know about it but I've seen this experience in Apollo. You have a "simple" starter, with guidelines if you want to "eject".
Is this ready to be used in CLI ?

[2020-05-12 09:00] sanyaches opened #10739 "Display others properties in knobs"
**Describe the bug**
Assign knobs-properties from others stories

**To Reproduce**
Steps to reproduce the behavior:
1. Go to some story
2. Click on tab 'Docs'
3. Change story
4. Click on tab 'Canvas'
5. See strange knobs-properties from other story

**Expected behavior**
See only current knobs-props

**Screenshots**
1 step)
![image](https://user-images.githubusercontent.com/22271980/81663926-8190b

[2020-05-12 09:36] paradoxxxzero opened #10740 "Storysource renders (and rehighlight source) each time the story renders."
So I have this quite simple story :
[code]

and have noticed that storysource with default configuration renders each time I press a key in the field. (In fact each time the story renders).
I realized it because in this story long pressing a key will result in render freeze, due to spending quite some time in highlighting the same source over and over.
NB: I don't even have the addon panel open.

[2020-05-12 10:01] shilman commented on #10434
@parulpriyedarshani yes please! PRs welcome!

[2020-05-12 10:11] shilman commented on #10728
Please use the following recipe:

https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/docspage.md#remixing-docspage-using-doc-blocks

We'll provide more configurability for the props table in 6.1

[2020-05-12 10:54] renatodeleao commented on #5527
Still experiencing this at `v5.3.18`, was this fixed or is there any workaround?

[2020-05-12 11:02] Klaudia-Brysiewicz commented on #10474
yes, args works perfectly without knobs, just in our case we truly need knobs panel to show component props. Can we register args panel the same way as we use knobs? If knobs will be replaced how can we show data passed to the component?

[2020-05-12 11:15] feluxe opened #10744 "Native Knobs: Knob menu showing on emulator screen but not in StoryBook web UI"
**Describe the bug**

I use StoryBook with React Native which works nicely. I can use the StoryBook WebUI in the browser on my laptop to select different Stories on my device emulator. I was hoping to achieve the same with the `Knobs` addon, but it doesn't really work like I expected: The knobs are only availabe on my Emulator screen, but not on the WebUI in my browser.

**To Reproduce**

Steps to

[2020-05-12 13:28] rue-mishakorablin commented on #10558
Thank you @shilman! You are right. I checked 5.3 tags and it's indeed not there. Do you know how far away is 6.0 from official release?

[2020-05-12 13:36] shilman commented on #10641
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.6 containing PR #10643 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-05-12 13:36] shilman commented on #10723
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.6 containing PR #10729 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-05-12 13:36] #10641 closed

[2020-05-12 13:38] yannbf commented on #10723
Hey @shilman what tasks based on this discussion do you think can be created so far? Or should we mature it a bit more before creating tasks?

[2020-05-12 13:39] shilman commented on #10723
@tooppaaa the updated essentials is now available as part of `6.0.0-beta.6`. it's relatively untested, so i'm sure we'll find some issues, but hopefully nothing big.

@yannbf go for it! 💯

[2020-05-12 13:50] paradoxxxzero commented on #10740
_To me this is not a question but a plain old bug..._

Anyway, this seems to be fixed in 6.0.0-beta.5.

[2020-05-12 13:56] shilman commented on #10558
Probably a month off

[2020-05-12 14:27] mylnikovD opened #10750 "Background classnames"
Is there a way to add class names to backgrounds from the add-on? That would be a very cool thing to have

[2020-05-12 15:35] Yama-Tomo opened #10752 "[Addon-docs] Invalid hook call error with MDX"
**Describe the bug**

Occurs the Invalid hook call error with MDX.

**To Reproduce**
Steps to reproduce the behavior:
1. clone my sample repo  https://github.com/Yama-Tomo/type-checking-MDX-in-storybook
2. run `nvm use` or use node v12.16.3
3. check out `reproduction-invalid-hook-call` branch
4. run `yarn sb`

**Screenshots**
<img width="1091" alt="screenshot" src="https://user-images.githubuserco

[2020-05-12 16:42] bertho-zero commented on #3346
[code]

I spent the day on this issue, I already had the `sourceType: 'unambigous'`.

For my part, it was not linked to a `node_modules` folder to ignore since it is a relative file right next to it.

A workaround that works for me is to force the option `modules: 'cjs'`.

I also have this problem with `@storybook/react@next`, the final solution for me was to manually add the babel plugin `@babel/

[2020-05-12 17:30] bradtaylorsf commented on #10586
I'm having the same issue. I tried yarn and it still gave me the same error. We are not using Typescript but we are using Next.js

[code]

[2020-05-12 17:31] lifeiscontent commented on #10717
@shilman @ndelangen this is my reproduction: https://github.com/lifeiscontent/sbnow if its easier for you, I can run --debug-webpack or do it in the format you want via codesandbox.

fwiw I was able to fix my issue by using the main.js from the official storybook example. So I suspect some functionality that we're adding there should be included in the defaults in order to fix these issues.

[2020-05-12 19:32] javve commented on #6546
Bumb! The button knob doesn't seem to work?
It don't work in your example and it don't work for me locally.
[code]

[2020-05-12 19:37] samholmes opened #10755 "Variable Viewport Definitions | @storybook/addon-viewport"
#### Problem

Sometimes you are interested in how your component responds to variable viewport dimensions. Current there is no way to define a viewport definitions that would allow you to test out dimension ranges.

#### Solution

My Recommendation is two fold:

1. Allow for drag handles at the edges of the viewport UI to resize the viewport.
2. Allow for ranges in width/height fields on the viewp

[2020-05-12 19:59] yannbf commented on #10755
Hey @samholmes thanks for opening this issue!
That's an interesting idea, but I'm wondering if [this](https://github.com/storybookjs/storybook/tree/master/addons/viewport#add-new-device) doesn't already solve your problem? You can add as many custom viewports you want and either just use the custom ones or merge them together with the default ones from Storybook!

[2020-05-12 20:00] yaelfish commented on #5817
If this may help anyone - I got this error too, and it took me a while to relize I was installing the package outside of the website folder... That's why it didn't find the package.json...

[2020-05-12 21:25] thedamon opened #10756 "storyshots-puppeteer can't find dist files"
Running storyshots-puppeteer (for screenshot and axe tests) it works perfectly against localhost but fails when I target my dist folder. The url it prints as being unable to connect to works if i paste it into my browser.

[code]

There's a lot of config involved in the tests, so not sure if there will be much help in pasting all of that, but the a11y test is:

[code]

But we are passing some args

[2020-05-12 22:31] matheo commented on #10728
@shilman great thanks!
I will customize the DocsPage with that recipe

but talking about moving the `<Props />` to a panel,
is it possible right now? or there will be needed some core support to allow it?
TIA

[2020-05-12 23:18] samholmes commented on #10755
@yannbf The custom viewports are static. My proposal is to allow for ranges and an ability to drag the viewport edges between those ranges.

[2020-05-12 23:26] samholmes commented on #10755
I'm going to update my proposal with an added behavior when going from a smaller size to a larger range size.

[2020-05-12 23:27] ehzhang opened #10757 "Better search"
**Is your feature request related to a problem? Please describe.**
Hi!

We have hundreds of components in our company's storybook, but we find that there are a lot of struggles when developers/designers are trying to find components that are relevant to them.
A common complaint during our quarterly dev survey ends up being "storybook is great, but really hard to search"

We use the custom story so

[2020-05-13 00:18] adamlohner opened #10758 "Addon-docs: enable configuration of CSF syntax highlighting"
**Is your feature request related to a problem? Please describe.**

We currently use `vue` single file components to write all our stories and then load them in through an associated `.stories.js` CSF file. We've got a custom webpack loader that abstracts out the SFC code to `component.__source` and thanks to the recently added `transformSource` function, we're able to render that output no proble

[2020-05-13 00:23] shilman commented on #10551
@ndelangen why would it emit an viewMode that it can't render?

[2020-05-13 00:25] shilman commented on #10657
@sylvainDNS there's also this great recipe for codesandbox by @yannbf https://gist.github.com/yannbf/d7a32cfe697e71489db00bfd50e7ab5c

[2020-05-13 00:33] shilman commented on #10758
This is currently possible with `Source` block props in MDX, but is not easily configurable via story parameters in CSF. We should unify these two, both for source and for other blocks as well!

[2020-05-13 00:45] shilman commented on #10750
cc @yannbf didn't we get another request for this somewhere?

[2020-05-13 00:47] shilman commented on #10740
Probably, but I haven't confirmed

Ok, going to close this then

[2020-05-13 00:47] #10740 closed

[2020-05-13 01:00] shilman commented on #10474
@Klaudia-Brysiewicz currently args show up in the `Docs` tab. In 6.1 we'll add the ability to show them in an addon panel. At that point, it should have (rough) feature parity with knobs, but:
1. has a nicer API
2. can be automatically generated for many frameworks
3. can work in both canvas and docs mode
4. potentially will get support in other tools because it's baked into CSF

[2020-05-13 01:45] isaaclem opened #10759 "Partial component is not showing on Storybook but on development server"
I have a simple header component as below
[code]

On localhost:3000, it shows below, which is exactly what I want

![image](https://user-images.githubusercontent.com/32945572/81762232-b9ead380-94fe-11ea-86be-a3454dd55684.png)

However, I got the different output on Storybook

![image](https://user-images.githubusercontent.com/32945572/81762248-c2dba500-94fe-11ea-9a3a-c7cb646a0f2e.png)

As you can

[2020-05-13 01:57] matheo commented on #10728
@shilman this code was a great help
https://raw.githubusercontent.com/storybookjs/storybook/ad3af10f05f275ed31cf7722f4cb0c86d8c6ac70/examples/official-storybook/stories/addon-docs/addon-docs.stories.mdx

As I'm using Angular, the React recipe was a bit complicated to run
I preferred to use an MDX as default page like this:
[code]
and I'm loving how it works per-story basis.

Now I'm getting famili

[2020-05-13 02:34] ludan1107743896 commented on #7914
## When I view the Docs tab for any of my stories I get the following error? When I view the Docs tab for any of my stories I get the following error.
[code]

[2020-05-13 03:47] matheo commented on #10728
PS. Digging and playing with the `Props` block, it seems to rely on `DocsContext`, but I'm not sure if it can be provided from an Addon to render that block inside a Panel. Is that possible?

My current panel looks like this:
[code]
but it fails trying to extract the subcomponents from the context.parameters
[code]
because of
[code]

[2020-05-13 03:57] ml-tsai commented on #10682
@yannbf you da man!!
I finally got it to build storybook. Am using the npm command.

Cheers man, really appreciate the help.

[2020-05-13 04:04] shilman commented on #10728
Yeah. We’ll provide an addon for that in 6.1. In the meantime you might be able create your own DocsContext if you want to hack it yourself. I don’t have time to look into it yet

[2020-05-13 04:07] matheo commented on #10728
@shilman I'm not a react expect, can you share with me two lines to create a context (inside the addon?) to be detected by Props correctly. I've tried some stuff but I definitely need to read React docs to get a better idea.

[2020-05-13 04:11] shilman commented on #10728
https://github.com/storybookjs/storybook/blob/next/lib/core/src/client/preview/StoryRenderer.tsx#L306-L312

[2020-05-13 04:57] #10173 closed

[2020-05-13 04:57] #9326 closed

[2020-05-13 04:57] #10168 closed

[2020-05-13 05:35] matheo commented on #10728
@shilman I managed to run most of it but now, for some reason, I'm getting this error inside `Props`:
[code]
it comes from addons/docs/src/frameworks/angular/compodoc.ts(extractArgTypes) not working properly :( I have no idea of which binding is going wrong or what's happening... it's so close to run!
Thanks for your time!

[2020-05-13 05:57] #10181 closed

[2020-05-13 05:57] #10149 closed

[2020-05-13 05:57] #9384 closed

[2020-05-13 06:07] #10509 closed

[2020-05-13 06:25] andreev-artem opened #10760 "Angular in AOT mode"
**Is your feature request related to a problem? Please describe.**
While developers work on Angular components in JIT mode it's possibly to get additional errors in AOT mode.

**Describe the solution you'd like**
We need a way to run Angular components in AOT mode while developing.

[2020-05-13 06:32] phaistonian commented on #8981
The way to _fix_ this is to move `babel.config.js` so that it's not used when migrating.

When done, you can put it back / rename it.

[2020-05-13 06:39] idbartosz opened #10761 "[v6.0.0-beta.6] preview is not initially loaded when addon docs panel is renamed"
**Describe the bug**
Preview is not loaded when addon docs panel is renamed in `manager.js`, refreshing page after initial load fixes the preview. Issue may be caused by wrong iframe URL (https://github.com/storybookjs/storybook/issues/10648)

[code]

<img width="1199" alt="Screen Shot 2020-05-13 at 08 28 46" src="https://user-images.githubusercontent.com/21260478/81778924-f9f88900-94f3-11ea-90ca-

[2020-05-13 06:48] yannbf commented on #10682
Hey @ml-tsai great that it's working! I'm happy to help.
Now if you don't mind I will be closing this issue as it has been solved.

Enjoy Storybook!

[2020-05-13 06:48] #10682 closed

[2020-05-13 07:00] yannbf commented on #10759
Hey @isaaclem, thanks for opening this issue! Would you be so kind to create a reproduction sandbox so that we can help you better?
You can follow [these instructions](https://gist.github.com/yannbf/d7a32cfe697e71489db00bfd50e7ab5c). Thanks!

[2020-05-13 07:25] Dorkside commented on #6867
Hey, any news on how this might be going ? It would be nice to have a streamlined solution for this :+1:

[2020-05-13 07:47] masives commented on #6204
I faced the same issue when trying to add storybook(5.3.18) to gatsby v2 when at lease one component was using static queries. Moving .babelrc to .storybook worked as suggested by @brycehill .

[2020-05-13 08:00] tooppaaa opened #10762 "[v6.0.0-beta.6] "View error" leads to internal error"
**Describe the bug**
When storybook fails to load, the manager is showing button "View error" but clicking on that button leads to another error.

**To Reproduce**
Check #10655 for a breaking storybook on load
- start-storybook
- view error

**Expected behavior**
Error displayed

**Screenshots**
If applicable, add screenshots to help explain your problem.

![image](https://user-images.githubuserco

[2020-05-13 08:41] ndelangen commented on #7914
@ludan1107743896 can you give us some more info on your environment?

[2020-05-13 08:43] ndelangen commented on #10551
We currently don't make any assumptions about which viewmodes can be or can not be rendered.

[2020-05-13 08:57] #9635 closed

[2020-05-13 09:04] jackmccloy commented on #6188
i was running into this problem in a monorepo setup and @snc's solution mostly fixed it, but i also had to set `removeViewBox: false` to prevent the viewBox attribute from getting removed.

posting in case anyone has the same issue and happens upon this thread

[code]

[2020-05-13 09:45] parulpriyedarshani commented on #10434
@ChazUK Thanks for opening this issue. After going through this issue and digging deep into it, I think that the documentation is correct here. One could import a file in this manner as we have by creating the typings.d.ts file and so have used * as here. I referred to the link as follows and hope this solves the problem : https://stackoverflow.com/questions/44817349/how-do-i-include-a-javascript-

[2020-05-13 09:57] #10174 closed

[2020-05-13 10:30] TurtleWolf opened #10763 "Dark Mode in Main.js"
I'm using **_StoryBook_** for **_Create React App_**
I'm assuming the documentation is out of date? It says to change global theming in the **_`.storybook/manager.js`_** file but that's been merged into the **_`.storybook/main.js`_**.
 I'm unsure of how to add the syntax to the file. It says **_theming_** comes **_out of the box_** but then it says to make sure I **_install_** theming. I've added,

[2020-05-13 10:45] shilman commented on #6867
haven't been able to work on this in months. this is what i have so far:

<img width="1249" alt="Mermaid_for_React_-_Flow_⋅_Storybook" src="https://user-images.githubusercontent.com/488689/81803195-e972fd80-9549-11ea-9bbc-324609e6d6d6.png">

going to work with @yannbf and @knsv to get it shipped

[2020-05-13 10:55] shilman commented on #10763
Three are actually up to three files: `main.js`, `manager.js`/`preview.js` (both optional)

https://storybook.js.org/docs/configurations/overview/#manager--preview

The theming docs are up to date AFAIK

[2020-05-13 10:57] #8129 closed

[2020-05-13 11:01] Dorkside commented on #6867
Great, seems good enough for basic usage.
I'm trying to use it with @storybook/web-components right now.
Was able to show it inside a CSF story, but having issues doing the same from mdx.
[code]
From what I gathered this seems to be a configuration problem, so trying to solve it first.
Keep us posted for this integration :+1:

[2020-05-13 11:03] shilman commented on #10551
Sure, but where does it even get the "info" viewMode from in that example? If something is misconfigured, is it up to the core to be filtering events? That sounds like needless complexity to me

[2020-05-13 11:40] Dashue commented on #10148
Following up on this.
Jest does run for a long time before stating 0 tests found/
I'm guessing either it receives an error that isn't surfaced, or it genuinely cannot find any tests.
I'll include my folder hierarchy and code for the relevant files below.

[code]

./storybook/main.ts
[code]

./src/_tests_/Storyshots.test.ts
[code]

./jest.config.js
[code]

Folder structure
[code]

[2020-05-13 13:19] casvil opened #10765 "Snapshot testing - prop changes in one story makes other test to break"
**Describe the bug**
I have two React stories in my storybook, let's say story A (Cell component) and story B (Table component). Both stories are located in different files and they test different components (story A renders a cell and story B renders a container fetches data props to A).

I get the initial snapshot for both stories just running `jest`, both test story checks are marked as passed.

[2020-05-13 13:27] thomasdavis commented on #6364
The above solutions work if all your pathing is relative `../../src/main.scss`.but my current project uses SCSS global/alias.

My `main.js` webpack config for Storybook can compile the alias. But when I try import global/alias SCSS into my `preview.js` then it can't resolve the paths.

Not sure where to go.

[2020-05-13 13:59] kalinchernev opened #10766 "Label of button function from addon-knobs unnecessary suffix based on groupId"
# Question

When using `button` from `@storybook/addon-knobs` in the documented way:

[code]

Button labels get undesired suffices based on `groupId`:

![storybook_buttons_issue](https://user-images.githubusercontent.com/1923476/81820571-12d35f80-9531-11ea-81ad-c663ce52ebbf.png)

### Steps to reproduce

I believe that the behavior can be reproduced with any data as I've tried to change input param

[2020-05-13 14:03] montogeek commented on #6505
I stil get the error with:
react-scripts@3.4.1
@storybook/preset-create-react-app@2.1.2
@storybook/react@5.3.18

[2020-05-13 16:57] #6738 closed

[2020-05-13 16:58] matheo commented on #10728
It worked after manually setting some addon-docs/angular stuff!
for the record, the final code looks like this:
[code]

Now I have those props outside the docs, next to the Story of the component :)

![image](https://user-images.githubusercontent.com/260185/81842049-fd4e3d80-9510-11ea-8a95-cbb465ff3db8.png)

Looking forward for some options in 6.1,
I will try to provide feedback on PRs around it :

[2020-05-13 16:58] #10728 closed

[2020-05-13 17:07] dariusrosendahl commented on #10197
We have the same problem here. No props for styled components. And all our components are styled 😅

[2020-05-13 17:53] MarkLyck commented on #5262
Having this issue too, can we re-open please?

Did anyone find a solution @meebix?

[2020-05-13 18:10] persefoniai commented on #9583
@aizerin we hit this same issue which lead us to this issue posting.  Wanted to share one potential route for addressing it in a bandaid fashion.  In the mdx file's Meta tag you can add:

`parameters={{
    docs: {
      source: {
        code: stories.jsxCode,
      }
    }
  }}`

along with a corresponding export within the story file that contains the desired source as the jsxCode export. Bit o

[2020-05-13 18:13] kenpowers-signal opened #10767 "Support multiple canvases with Toolbar / Global Args"
**Is your feature request related to a problem? Please describe.**

As discussed in [the RFC Doc](https://docs.google.com/document/d/1Mhp1UFRCKCsN8pjlfPdz8ZdisgjNXeMXpXvGoALjxYM/edit#), at Signal we have a Storybook setup with a global decorator that sets up knobs so we can render the same story in multiple contexts (themes, modes, etc) side-by-side. See the following screenshot:

![image](https:/

[2020-05-13 18:16] MarkLyck commented on #5262
Reposted the question on SO: https://stackoverflow.com/questions/61781954/how-to-use-babel-emotion-plugin-with-storybook-typescript

[2020-05-13 19:50] svewag opened #10768 "storyshots: Unexpected loaded state. Did you call `load` twice?"
**Describe the bug**
I have a setup using storyshots / storyshots-puppeteer and I want to make a screenshot of a story on multiple devices. When I execute the code I receive a warning.

**Expected behavior**
No warning.

**Screenshots**
<img width="917" alt="1" src="https://user-images.githubusercontent.com/155578/81857863-27305000-9563-11ea-8911-5a2324bcbc52.png">

**Code snippets**
[code]

**Sys

[2020-05-13 19:59] nanandn opened #10769 "addon-storysource - Not showing stories imported from other source files."
Storybook addons "storysource" and "docs" not loading the story source imported from other files. In the example shown below, storybook preview and docs story panel renders the component, but storysource addon panel is not loading the source. Just shows "loading source..." and docs page shows "no code available".

My example seems very simple to be included in the main story file. But in reality,

[2020-05-13 20:08] nanandn opened #10770 "addon-docs - Props Table."
Two questions/issues.

#### Props table is not showing nested/shape props.
   For example if I have props like
[code]

Prop table shows.
columns* | Array of table column definitions.[{ id: string, accessor: string \| func, title: string }]
-- | --

Is it possible to show the props of the shape nested. Docgen does generate the docs for the complex props. But the prop table is not displaying it.

##

[2020-05-13 20:26] christinec01 opened #10771 "addon-docs Prop Table versioned React components 'No props found for this component'"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

Following the Storybook setup instructions for adding Docs to my Storybook project which uses React components. After adding `'@storybook/addon-docs'` to my main.js file, and ensuring that my component field is correct
[code]
The Docs tab loads and the component renders, however the props table and co

[2020-05-13 20:30] shilman commented on #10771
- Does `Radio.__docgenInfo` exist?
- Is your component written in Typescript or PropTypes?
- Are you using a custom webpack setup? Custom babel setup?

[2020-05-13 20:57] #7318 closed

[2020-05-13 20:57] #10131 closed

[2020-05-13 21:01] shilman commented on #10728
Awesome that it works @matheo! Great job!!!

[2020-05-13 21:04] ShNURoK42 commented on #9732
@Eventyret I have same warning, yes it's adblock.

[2020-05-13 21:10] alexcheuk opened #10772 "[v6.0.0-beta.6] Glob not finding stories files"
**Describe the bug**
Using the same `main.js` `stories` configuration as `v5.3` fails to find story files in `v6.0.0-beta.6`.

`main.js`:
[code]

This warning shows up when running storybook
![image](https://user-images.githubusercontent.com/1242663/81865721-15c75380-9523-11ea-9d56-c2e024342a3b.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Update storybook packages to `v6.0.0-beta.6`

[2020-05-13 21:57] #10138 closed

[2020-05-13 22:14] #7440 closed

[2020-05-13 22:27] Bruno-Tavares-Bose opened #10773 "Static folder copied before creation"
**Describe the bug**
Building the standalone Storybook, in a clean repo, will try to copy the static folder before it's creation.

**To Reproduce**
Steps to reproduce the behavior:
1. Having a clean (no `node_modules`, no `build`/`dist` folder) repo with Storybook configured
1. Run `yarn` or `npm install` to install dependencies
1. Run your build command (`yarn build` for example)
1. Run your buil

[2020-05-13 22:57] #10098 closed

[2020-05-14 03:17] magic-akari opened #10774 "Manually set up React with TypeScript not work"
**Describe the bug**
Manually set up React with TypeScript not work

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/magic-akari/storybook-poc.git
2. npm i
3. npm run storybook

**Expected behavior**
There should be a button in the storybook

**Screenshots**
<img width="1050" alt="image" src="https://user-images.githubusercontent.com/7829098/81888091-32bb5f80-95d3

[2020-05-14 06:48] pabloimrik17 commented on #10557
Hi, any update?

[2020-05-14 06:50] yehuozhili opened #10776 "How to solve the dll file?"
**Describe the bug**

If i use the CLI option --no-dll , it will generate a chunk which about 2000k size .
if i want to publish static website ,  ever user must pull the 700k(2000k before gzip)chunk first , it has greate  impact on the user experience .

the strange thing is , i use main.js to merge the webpack config but it doesnt work on dll file . it seems that the generation of dll chunk is in

[2020-05-14 06:54] imcodingideas commented on #9413
Do you have a working example of this? I cannot seem to get font awesome icons showing in storybook.

[2020-05-14 06:56] yannbf commented on #10629
Hey @waterkip, at which part of the tutorial did you get that issue?

[2020-05-14 06:58] lifeiscontent commented on #9413
@imcodingideas the example I provided is a working solution please follow the directions on creating an icon library using font-awesome.

https://www.npmjs.com/package/@fortawesome/react-fontawesome#build-a-library-to-reference-icons-throughout-your-app-more-conveniently

[2020-05-14 07:59] rahulrsingh09 opened #10777 "Getting regenerator runtime issue in StoryBook Build"
[code]

I have added story book to a ejected CRA and trying to use this command ` "build-storybook": "build-storybook -s public"` but for some odd reason it throws regenerator error i tried adding babel transform runtime to the plugins but it dosent seem to obey that .

I am able to run and see story book `"storybook": "start-storybook -p 9009 -s public",` using this command but cannot build it wh

[2020-05-14 08:32] ndelangen commented on #10767
I had the same idea at some point:
https://next--storybookjs.netlify.app/official-storybook/?path=/story/basics-colorpalette--page

We could do this in a few ways:

- a new viewMode that shows all stories (in a grid)
  each story has it's own context/wrapper

- a decorator that displays the story multiple times (in a grid)

- a parameter like `layout` that automatically adds a the decorator

I'm l

[2020-05-14 08:46] imcodingideas commented on #9413
You're awesome.

I'm able to get something like this working:

`<FontAwesomeIcon icon={faPlusCircle} />`

However; this does not:

`<FontAwesomeIcon icon={['fal', 'browser']} size="lg" />`

In your pull issue here I see:

`import { FontAwesomeIcon, library } from '..';`

Where you pulling that from. It would be great if I can borrow your dynamic storybook for font awesome

[2020-05-14 10:03] yannbf commented on #10723
Ok @shilman @ndelangen I'd love to create tasks however I'd like to know which one should be tasks, which ones should not, and have a more concrete idea about them:

1 - Remove addon notes usage from CLI generated stories.
2 - Make CLI generated setup use only addon-essentials. Update E2E tests accordingly.
3 - Change the Welcome component content (please check the [suggestion](https://github.com/

[2020-05-14 12:20] mgohin commented on #4312
Same case for me, I'd be sad to remove Storybook for this reason :(

[2020-05-14 12:59] ndelangen commented on #10723
my preferences:
✅ remove addon notes from generators
✅ add addon-essentials to the generators
❓ Use demo components in generated stories
❓ generate into the `src` directory if we can find one
✅ consistent welcome-component (and button) in all generators
(let's show a pretty one, with:
- storybook logo
- link to storybook docs
- link to discord invite
- link to storybook repo on github
- some messa

[2020-05-14 13:00] ndelangen commented on #10551
that what addon-notes does

[2020-05-14 13:58] yairEO commented on #7205
@ppalmeida  - what about _ESLINT_?
 what about globbing paths (`**`) for importing deeply nested files in those aliases?

[2020-05-14 14:34] chriscarpenter12 commented on #8494
@sharikovvladislav You [commented](https://github.com/angular/angular/issues/35265#issuecomment-589083119) that it works when AoT is enabled. Were you able to enable AoT with Storybook?

[2020-05-14 14:39] qburst-riju commented on #9592
@shilman I'm using storybook of version 5.3, I have the addon knobs, docs, viewport. I'm trying install `addon-docs`. `TS4090: Conflicting definitions for 'node' found at '../node_modules/@types/node/index.d.ts' and '../node_modules/@types/node/ts3.2/index.d.ts'. Consider installing a specific version of this library to resolve the conflict.` but ended up with this error. Could you please help me

[2020-05-14 14:41] luckylooke commented on #8128
Same problem is also in Vue stories.
Temporary fixed by:
https://github.com/storybookjs/storybook/issues/8128#issuecomment-551868589 👍

[2020-05-14 15:05] aminimalanimal commented on #10351
Same issue. Mine throws a TypeError:

[2020-05-14 15:15] domyen commented on #10723
Sounds awesome Norbert, I can do that 👍

On Thu, May 14, 2020 at 8:59 AM Norbert de Langen <notifications@github.com>
wrote:

[2020-05-14 15:34] shilman commented on #10723
@yannbf @ndelangen we need to ship components with the stories. if we do:

- props tables will work out of the box, which is super important
- stories and components will be colocated per our recommendations
- it will also make tutorials easier because we can ask users to edit the added components

it adds more complexity to the templates, but we just need to deal with it

[2020-05-14 15:59] lpoulter commented on #9583
Can you show an example of "along with a corresponding export within the story file that contains the desired source as the jsxCode export."

[2020-05-14 16:17] persefoniai commented on #9583
@lpoulter  Sure.  Here you go using the OP examples:

**mdx**

[code]

**story**

[code]
If you are using the external `Source` block you can also pipe the source code in without the `Meta` param approach:
[code]
which could potentially let you get into more complicated combinations depending upon what you are doing with your mdx layout.  Or the last option we found was you can pipe it to the Stor

[2020-05-14 16:39] xppalmeida commented on #7205
Hey, @yairEO.

About the `**`, they are not much useful I think. Since all alias just ends up with `packages/app/*` (a single `*` will do the trick). Maybe on Jest aliases, that uses those two matching groups like this one:

[code]
But I'm not sure. didn't test it. I'll take a look.

Talking about ESLint, what's the problem you're facing? Because the ESLint works well here without any other additi

[2020-05-14 16:47] lpoulter commented on #10772
I see this also. It appears to be a false positive as my stories load.

[2020-05-14 16:52] lpoulter opened #10782 "[v6.0.0-beta.6] Routing not working on static build"
**Describe the bug**
Routing not working on static build. This was last known to work on v6.0.0-alpha.30. No issues in dev mode.

**To Reproduce**
run `build-storybook`
Navigate between stories, URL changes but the page does not. Manual refresh caused the story to load.

**Expected behavior**
Stories change on navigation.

**Example**
![2020-05-14 17 49 37](https://user-images.githubusercontent.co

[2020-05-14 18:01] yannbf commented on #10772
Hey @alexcheuk thanks a lot for opening this issue! A fix is being cooked at the moment  👨‍🍳

[2020-05-14 18:29] MarkLyck opened #10784 "Storybook w/ Typescript takes ~2 minutes to load a story."
**Describe the bug**
A clear and concise description of what the bug is.

The initial load of storybook takes about 2 minutes to load when using Typescript.
When not using Typescript it takes a few seconds.

Code changes also takes a very long time to reflect in the story.

My guess is that it doesn't exclude node_modules correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up stor

[2020-05-14 19:18] ByeBye-Sama commented on #10286
I have pretty much the same behavior when in one knob I choose the color and then the other one where you can change properties of the color selected, but the option selected by default that is the color you choose doesn't change until you change manually the knob. I hope you can fix it. Thanks for storybook 🎉

[2020-05-14 19:32] doublejosh commented on #8183
[code]

[2020-05-14 20:51] LuisHCK commented on #9463
Works pretty well, Thanks <3

[2020-05-14 21:07] mgameover commented on #7242
Hi everyone,

Is there any news there?
As I can see, the issue is still there. I've just checked **v6.0.0-beta.6**.
It looks pretty critical to me. Are there any plans to fix that?

Thanks.

[2020-05-14 21:09] pconrad commented on #10586
Any progress on this?   Having the same error here on a next.js project.

[2020-05-14 21:19] meyerds commented on #10522
hey stale bot I still care about this issue ;-)

[2020-05-14 21:49] alanbueno commented on #2362
any news regarding this one?
same thing here, app works fine but when running storybook babel's not able to resolve any alias while pointing the --projectRoot storybook instead of replacing the app entry point

[2020-05-14 22:17] torkelrogstad commented on #10726
I've tried to look into this as best I can, and I _think_ I know what's going on:

The following snippet _almost_ works with the code I linked above:
[code]

The only missing piece is the custom Jest transformer that inserts the file name into the story. I can tell Jest to use that transformer through two different ways:

1. Set it in the `package.json` `jest` field
1. Pass it directly to the test

[2020-05-14 23:10] RuneKR commented on #9896
This is used for docgen now right? https://www.npmjs.com/package/babel-plugin-react-docgen-typescript

[2020-05-15 02:15] badsketch commented on #3898
Just an update: Still working on this. Sort of have a grasp by now on how this addon works and learning more as I go along, but for a good first issue this is surprisingly involved since it touches a lot of pieces haha (which I guess makes it a good first issue). If this is taking too long, I welcome anybody else submit a PR before me since I know this is a pretty desirable feature and I don't wan

[2020-05-15 02:33] shilman commented on #3898
@badsketch given that the issue is almost two years old, i think it's safe to assume you're the only one working on it. jump onto our discord if you need help getting through it! https://discord.gg/UUt2PJb

[2020-05-15 02:50] shilman commented on #10586
No progress, but we're chatting with the next.js team to get official storybook support via a preset, so that should be a huge boost for all next.js users.

[2020-05-15 02:53] shilman commented on #10784
Did you try the preset? https://storybook.js.org/docs/configurations/typescript-config/#typescript-configuration-presets

[2020-05-15 02:54] shilman commented on #10782
Guessing this is a composition thing @ndelangen

[2020-05-15 02:55] shilman commented on #9583
Thanks gang. Still hoping to get this into 6.0.

[2020-05-15 03:20] shilman opened #10789 "Addon-docs: Add `layout` parameter support to `Preview`"
Storybook has a new `layout` parameter feature built-in in 6.0 [that replaces addon-centered](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#removed-addon-centered).

The `Preview` component should respect the valid values: 'centered', 'padded', 'fullscreen'

Here are the layouts the Canvas uses for each value:

https://github.com/storybookjs/storybook/blob/next/lib/core/src/clien

[2020-05-15 03:21] shilman commented on #10789
cc @yannbf

[2020-05-15 03:24] shilman commented on #10551
@ndelangen yes, but won't addon-notes know how to render that?

[2020-05-15 03:34] shilman commented on #10776
cc @ndelangen

[2020-05-15 03:37] shilman commented on #10773
cc @CodeByAlex is this related to the issue you found?

[2020-05-15 03:40] shilman commented on #10769
Not possible in Storysource

[2020-05-15 03:42] shilman commented on #5262
PSA: Upvoting the original issue description is the most effective way to get it solved. Upvoting comments below is also great, but won't help us prioritize the feature/fix

[2020-05-15 03:53] shilman commented on #10157
@yannbf any chance you can take a look at this in the updated version?

[2020-05-15 04:31] shilman opened #10790 "Storybook zero-config typescript support"
- [x] Base Webpack config gets support for TypeScript via `@babel/preset-typescript`
- [x] For Angular and Vue, base support is disabled.
- [x] Support is added into Vue framework.
- [x] Checking via `ts-fork-checker-webpack-plugin` should be opt-in
- [x] Add support for `ts-fork-checker-webpack-plugin` options
- [x] For 6.0, TS preset is no more - we'll ignore and warn if detected
- [x] For React

[2020-05-15 05:07] shilman opened #10791 "Args: Resolve `argsStory` pattern"
We introduced an [experimental `argsStory` feature](https://github.com/storybookjs/storybook/issues/10684) convenience function during the [args upgrade of Storybook design system](https://github.com/storybookjs/storybook/issues/10684).

Before shipping, we should figure out the recommended solution. Options:
1. Use `argsStory` and write codemod to final solution (annoying to users)
2. Initialize

[2020-05-15 05:10] prtksxna commented on #10351
I am getting this issue too.
[code]

[2020-05-15 05:11] shilman commented on #10528
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.7 containing PR #10753 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-05-15 05:11] #10528 closed

[2020-05-15 05:13] shilman commented on #10791
Stories as data strawman for React:

[code]

[2020-05-15 05:21] benmvp commented on #7743
FYI - I just ran into this issue and spent several hours trying to debug and fix the problem.

My problem also was with `react-docgen-typescript-loader` but it's what I'm using to document my TypeScript components, so there's no way I could take it away. I followed @justdanallen's suggestion about turning off sourcemaps but it was still sometimes blowing up, even w/ an increased bundle size.

But

[2020-05-15 05:33] #9777 closed

[2020-05-15 06:19] ndelangen commented on #10776
if you use `--no-dll` the dll file should not be loaded by the browser, are you saying it is?

[2020-05-15 06:22] #10244 closed

[2020-05-15 06:43] yehuozhili commented on #10776
@ndelangen
the dll file content is about storybook ui  ,it  should be loaded by the browser , but  it too  large and can not configure .
if  user in 3g network  or  when  the  network  speed is not good , user will see the white screen for a long time .
it takes me two minutes to use  my network to visit the website to pull the first chunk(700k) and i look the blank screen for two minutes.
it will

[2020-05-15 07:09] napolux commented on #10636
@vertic4l did you solve it? How?

[2020-05-15 07:13] vertic4l commented on #10636
@napolux Hey! I've found this handy addon for storybook which is the right approach to what i was looking for: https://github.com/whitespace-se/storybook-addon-html

[2020-05-15 07:27] ndelangen commented on #10776
The Dll can currently only be enabled and disabled.

Enabling it, means a slower storybook start/build. Overall output size should be the same, but without DLL webpack could split the size over multiple chunks, I believe.

I'd love to find ways to minimize the footprint of storybook including the DLL size.

Would you be able to help?

[2020-05-15 07:29] ndelangen commented on #8183
@doublejosh please upgrade node to 10.17 or higher.

[2020-05-15 07:55] prtksxna commented on #10351
I was able to fix this on my install. It was happening because I had `jest@26.0.0.` installed when `storybook` only supports up to `25.0.0` as pointed out in https://stackoverflow.com/questions/61706963/typeerror-require-requireactual-is-not-a-function.

While this is fixed in #10642 and part of a beta release for now I downgraded my jest — `npm install jest@25.0.0 --save-dev` — and everything is

[2020-05-15 08:04] ndelangen commented on #10551
It does, the manager is just written to pass down whatever viewMode the manger's in. It doesn't assume that particular viewModes cannot be rendered by the preview.

I think we should change this behavior so the manager only emits when the viewMode is `story` or `docs`, nothing else.

[2020-05-15 08:26] yehuozhili commented on #10776
@ndelangen
maybe i  have some misunderstanding on webpack config,  i think you mean is if dll disabled, webpack can split dll  to multiple chunks?
what puzzles  me is that the biggest chunk(generated by disabled dll) has been generated before i console log in main.js, and webpack-bundle-analyzer can not  catch the biggest chunk(because the biggest chunk has already been generated before use user w

[2020-05-15 09:11] ndelangen commented on #10782
Investigating now..

[2020-05-15 09:13] vandhuymartins opened #10792 "@storybook/addon-knobs: color selector doesn't work in IE11"
**Describe the bug**
The color selector doesn't work in IE11. It closes immediately when clicked. The value does not change.

**To Reproduce**
Try to change color with corresponding control in IE11.

**Expected behavior**
Color is changed.

**Actual behavior**
Nothing happens.

**System**
OS: Windows 10 Pro
Device: Desktop w/ AMD Ryzen 5 16GB RAM
Browser: Internet Explorer 11 | Version 11.836
Fram

[2020-05-15 10:20] CodeByAlex commented on #10773
@shilman This was not the same issue I was seeing

[2020-05-15 10:54] ndelangen commented on #10782
I cannot reproduce

i tried the official example & dev-kit example.. @lpoulter can you supply a reproduction repo?

[2020-05-15 11:01] ndelangen commented on #10776
We build 2 apps, thus run webpack twice (in parallel).

Normally users need only worry about customizing the webpack config for THEIR code (the preview)

But it IS possible to customize the webpack config for OUR code (the manager) as well. It' just generally not recommended.

There's some docs on this:
https://storybook.js.org/docs/presets/writing-presets/#webpack

you can customize the both conf

[2020-05-15 11:13] yehuozhili commented on #10776
@ndelangen
Thank you !
That's i want.
My English is not very good , so there is a deviation in my understanding of the document

[2020-05-15 12:39] lpoulter commented on #10782
I'll see if I can reproduce in another repo. Here is the [preview build](https://5ebd8ade0210295129008087--axiom-react.netlify.app/) with the error I describe if that helps.

[2020-05-15 13:02] shilman commented on #10067
pretty sure this was fixed

[2020-05-15 13:02] #10067 closed

[2020-05-15 13:27] krishnaglick commented on #7745
Not done with this yet... Still need to try the above async solution. Or for storybook to give us one.

[2020-05-15 14:13] yannbf opened #10793 "CLI: colocate example components together with generated stories"
### Work summary
Currently some frameworks have colocated components along with the stories like [Vue](https://github.com/storybookjs/storybook/tree/next/lib/cli/src/generators/VUE/template-csf/stories), and others use demo components like [React](https://github.com/storybookjs/storybook/blob/next/lib/cli/src/generators/REACT/template-csf/stories/0-Welcome.stories.js#L3). We need standardize all f

[2020-05-15 14:14] yannbf opened #10794 "CLI: consistent welcome-component in all generators"
### Work summary
Make all `0-Welcome.stories.*` components look the same and have the same content accross all storybook templates.

These are suggestions from @ndelangen but we can discuss further in this issue:

Link to storybook docs
Link to discord invite
Link to storybook repo on github
Some message about the ability to add & write addons

This work is part of #10723 and depends on:
- preferr

[2020-05-15 14:14] yannbf opened #10795 "CLI: use addon essentials in storybook templates"
### Work summary
Make the generated boilerplate from CLI to use [addon-essentials](https://www.npmjs.com/package/@storybook/addon-essentials) and remove the explicit use of `@storybook/addon-actions`, `@storybook/addon-links` and `@storybook/docs` (when applicable) in `main.js` files.

Essentials will be the easiest way to get started with a high-quality Storybook experience. If all the CLI templa

[2020-05-15 14:14] yannbf opened #10796 "CLI: remove addon notes from framework generators"
### Work summary
We have have to remove the usage of addon notes in the boilerplate generated from the CLI.
The reason is that the addon is removed starting from Storybook 6 in favor of addon docs.

This work is part of #10723

### Where to start

There are stories in the [generators](https://github.com/storybookjs/storybook/tree/next/lib/cli/src/generators) folder which contain the notes paramete

[2020-05-15 14:20] yannbf commented on #10723
@gaetanmaisse would you be so kind and create issues about the following points you mentioned?

- Check that no deps or peerDeps added when running sb init are missing (Yarn 2 will help on that as it is way more strict)
- Yarn 2 Improvements

[2020-05-15 15:13] aloulouamine commented on #7242
Hi,

Any workaround for this issue ?

Thanks.

[2020-05-15 15:38] gaetanmaisse opened #10797 "CLI: Improve support of Yarn 2 in E2E tests"
### Work summary

Currently, there is only one E2E test that uses Yarn 2, it's a simple CRA setup: https://github.com/storybookjs/storybook/pull/10702/files#diff-054afb61fcbf5f01b1e17e1341d869e4R147-R154

It would be great if the package manager used when running E2E tests was a CLI param and everything needed to bootstrap and run tests were using NPM or Yarn accordingly to that param.

By doing s

[2020-05-15 15:39] MarkLyck commented on #10784
@shilman

Thanks for the quick response. I tried with just the default preset and nothing else, and it's a little better.

It now takes ~1.5 minutes instead. of 2-3. minutes.

But looking at the logs it still spends the vast majority of the time compiling node_modules I don't use in my stories. The longest time is spent loading `amcharts` and ALL `@ant-design/icons`

Is there any way to exclude li

[2020-05-15 15:40] shilman commented on #10784
It shouldn't be processing node_modules at all... 🤔

[2020-05-15 15:48] MarkLyck commented on #10784
@shilman Glad to hear that it's not supposed to do that!

From the logs it looks like it's the type checking.

before it starts building node_modules it logs

"Starting type checking service..."

After building all the node_modules it says>

"No type errors found"

So looks like it's typescript building all this stuff.

But my tsconfig (pasted above) have node_modules excluded as well 🤷‍♂️

[2020-05-15 15:55] MarkLyck commented on #10784
Even if I remove the `tsconfig.json` it still builds my node_modules during type checking O.o

[2020-05-15 15:57] zero298 commented on #9564
This is solved for me as well after updating.  Thanks 👍

[2020-05-15 16:03] shilman commented on #10784
There is no `.storybook/tsconfig.json` AFAIK. We're upgrading Storybook's typescript support in the next few days, and I'll be sure to bring this into the discussion cc @mrmckeb

[2020-05-15 16:04] gaetanmaisse opened #10798 "CLI: check for missing/unneeded deps when initializing SB in a project"
### Work summary

When using CLI to initialize Storybook in a project some dependencies are added (according to the framework) to have everything working out of the box. For instance, for a CRA project [the following dependencies](https://github.com/storybookjs/storybook/blob/next/lib/cli/src/generators/REACT_SCRIPTS/index.js#L15) are added:
   - @storybook/react
   - @storybook/preset-create-reac

[2020-05-15 16:04] shilman opened #10799 "Args Documentation"
[Args](https://docs.google.com/document/d/1Mhp1UFRCKCsN8pjlfPdz8ZdisgjNXeMXpXvGoALjxYM/edit?usp=sharing) is a new feature in SB 6 that adds dynamic inputs to stories.

It's been documented [in general](https://github.com/storybookjs/storybook/blob/next/docs/src/pages/formats/component-story-format/index.md#args-story-inputs) for [addon-actions](https://github.com/storybookjs/storybook/tree/next/ad

[2020-05-15 16:09] MarkLyck commented on #10784
@shilman

It's about half the loading time with the preset, so I'll take that as a win for now, and check back when the typescript support is updated to see if there's any updates :)

Thanks for the help!

[2020-05-15 16:09] shilman commented on #10551
Ok, I get it now. Thanks for explaining ❤️

[2020-05-15 16:32] viniarruda commented on #5455
Thanks @brett-east

[2020-05-15 16:32] Smolations commented on #9384
Really? Seems like labels are being used effectively, and this is clearly a valid issue. I feel like stalebot should keep it's grimy hands off issues that have been labeled by maintainers.. 😏

So we're encouraging dupes here, eh? Boo. 😒

[2020-05-15 18:30] lifeiscontent opened #10800 "Toolbars Addon bugs"
**Describe the bug**

Docs says to use `options` when the code is using `items` for the dropdown items.

`defaultValue` does not work currently.

[2020-05-15 18:30] lifeiscontent commented on #10800
CC: @shilman

[2020-05-15 19:59] jonasantonelli commented on #9592
Oww I understand now
I'm using a custom configuration for Storybook, then I needed to import it to solve. Thanks for explanation

[2020-05-15 21:41] domyen commented on #10538
sgtm

[2020-05-15 22:25] nanandn opened #10803 "TypeError: Cannot read property 'name' of undefined"
**Describe the bug**
After upgrading to v6.0.0-beta.7 (from 5.3.18), when I run storybook I see an error.

[code]

[2020-05-15 22:52] nanandn commented on #10803
Found the problem. It is the @storybook/addon-a11y addon. Looks like 5.x needed addDecorator(withAlly) and 6.x does not.

[2020-05-15 23:42] kruthivijay31 opened #10804 "Props are not resolved as expected in props table with typescript"
**Describe the bug**
[code]
<img width="1013" alt="Screen Shot 2020-05-15 at 4 35 34 PM" src="https://user-images.githubusercontent.com/14045986/82104063-41387280-96ca-11ea-9dd1-7fb3a803886d.png">

**main.js**
[code]

**Expected behavior**
position -> 'left' | 'right'
Similar to the image in this docs https://github.com/storybookjs/storybook/blob/next/addons/docs/react/README.md

TIA for helping m

[2020-05-16 02:10] onose004 commented on #6188
@jackmccloy I had similar problem in a monorepo, but solved by using `removeViewBox: false` option. The other possible cause is that I was using a material design icon. Anyway, that code helped a lot.

[2020-05-16 08:19] zzzz-Z opened #10805 "Considering support for vue3.0（vue-next）？"
Can you use the beta version of vue directly after it has been released?

[2020-05-16 09:14] gossi commented on #9761
Hack storybook like a pro, use a homoglyph: https://www.irongeek.com/homoglyph-attack-generator.php

Works like charm ;)

[2020-05-16 10:43] codemacabre commented on #9635
Hey @ndelangen apologies again for letting this get stale; not had any time to work on this recently.

However, it's worth rethinking whether `proptable` should actually be rewritten in CSS grid. Accessibility guidelines indicate that as `proptable` does actually contain tabular data, it would be better to keep it as a `<table>` element rather than using an admittedly better layout to mimic the ap

[2020-05-16 11:16] yannbf commented on #10542
Hey @shilman what do you think should be the next steps here?
Should the Preview not have its styles influenced by Storybook theme, but rather by the users custom css/addon backgrounds if they want to?

Current version (you can picture the issue mentioned above):
![image](https://user-images.githubusercontent.com/1671563/82118327-dbee8b00-9776-11ea-849d-d60e7699d8a1.png)

Version where preview kee

[2020-05-16 11:20] shilman commented on #10542
If we install addon-backgrounds by default in 6.0 as part of essentials, does this problem go away? @yannbf

[2020-05-16 11:32] yannbf commented on #10542
Only partially, because it would require the users to use addon-backgrounds to just to be able to see their components which should be an easy experience out of the box IMHO. It would also only affect people who are either starting a new SB or using addon-essentials already, rather than everyone using storybook.

I'd say it's better to have it the other way around, where you don't have the styles

[2020-05-16 11:49] skill83 opened #10806 "Vue components can't access to $refs"
**Describe the bug**
In the mount callback of a component if you try to get a ref it's undefined

**To Reproduce**
Steps to reproduce the behavior:
1. In the template of a component add a ref
[code]
2. In the mounted cb add a console.log of the ref
[code]
3. You will get undefined in tthe console

**Expected behavior**
Find in the console the node logged

**System:**
Environment Info:

  System:

[2020-05-16 11:59] rbutera commented on #10542
Can we not just have a toggle in the menu for this behaviour?

[2020-05-16 13:04] waterkip commented on #10629
It occurs at building a single components. I switched to Vue Design System, so no rush to fix it.

[2020-05-16 13:32] ndelangen commented on #9635
That's fine @codemacabre, thank you for your time & energy anyway!

[2020-05-16 13:58] yannbf commented on #10774
Hey @magic-akari sorry that you're experiencing issues with Storybook and thanks a lot for putting effort to adding a repo with your issue.

I noticed two things in your repository:
1: `main.cjs`. If I recall correctly, support for commonjs was added in Storybook 6, so for now please just rename your file to `main.js`
2: `babel-loader` is missing in your package.json. It's a core dependency of Sto

[2020-05-16 15:08] DaviSena opened #10807 "Cannot read property 'parameters' of null"
**Describe the bug**
After installing **addon-ondevice-notes** version 5.3.18 and create my welcome story my react native app crashes with the error:

This is the code of my storie:

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. yarn add -D @storybook/addon-ondevice-notes
2. add ```import '@storybook/addon-ondevice-notes/register';``` in rn-addons.js file
3. Open de storybook app

**

[2020-05-16 15:32] magic-akari commented on #10774
Thank you for solving my issue.
For some reason, I have to use commonjs in my project. The `type` in my `package.json` is `module`. I tried the Storybook 6. It works 🎉.

[2020-05-16 15:32] #10774 closed

[2020-05-16 17:26] machineghost commented on #4769
Please re-open this.  I'm still having the dev tools (Inspect Element specifically) not work in 2020 and to me this seems like a _major_ issue.

Also, it happens with or without the React dev tools installed.

[2020-05-16 17:34] machineghost opened #10809 "Storybook Breaks Chrome Inspect Elements"
**Describe the bug**
I use storybook to render a component.  I inspect an element in the component rendered by storybook (using the Chrome dev tools). Chrome shows me the CSS for ... some other element (I see no styles defined except for inherited body styles).

It does not show the CSS for the element I inspected.

**To Reproduce**
See above.  My component is extremely simple; the only thing of i

[2020-05-16 20:53] lipeavelar commented on #10658
@shilman Can I do anything to help in this issue?

[2020-05-16 21:04] gaurav5430 commented on #10179
For anyone facing this problem in general, even without using typescript:

In my project I am overriding the default storybook webpack config with my own custom webpack config. This meant that any of the default `module.rules` from storybook webpack config were not being applied. Due to this the `source-loader` rule was also not being applied, and DocsPage was showing 'No code available' .

I re-a

[2020-05-16 21:05] gaurav5430 commented on #8104
In my project I am overriding the default storybook webpack config with my own custom webpack config. This meant that any of the default module.rules from storybook webpack config were not being applied. Due to this the source-loader rule was also not being applied, and DocsPage was showing 'No code available' .

I re-added the source-loader rule and it works fine.

[2020-05-17 01:21] shilman commented on #10658
@lipeavelar yes, i'd love to work with you on this. i think there are a couple ways to go here, both which might make the code better.

1. we can add `withToolbars` to the `Stories` doc block and the user can override the DocsPage. this is consistent with the current design and i'd be comfortable with that change.

2. we can make the `docs` parameters align with the props of the doc blocks. someth

[2020-05-17 01:28] shilman commented on #10809
<img width="152" alt="Addons___A11y___BaseButton_-_Default_⋅_Storybook" src="https://user-images.githubusercontent.com/488689/82133592-9d150f80-9820-11ea-946b-3b0977249d1d.png">

Does hitting the "eject" button in the upper right hand corner and inspecting in the ejected iframe help at all?

Do you have a public repro?

[2020-05-17 01:46] shilman commented on #10803
https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#removed-witha11y-decorator

[2020-05-17 01:47] shilman commented on #10803
@tooppaaa i'm wondering whether we should leave the `withA11y` decorator in, but make it throw an error that points to the migration docs?

[2020-05-17 01:49] shilman commented on #10804
closing as dupe to #10311

[2020-05-17 01:49] #10804 closed

[2020-05-17 01:50] shilman commented on #10805
closing as dupe to #10654

[2020-05-17 01:50] #10805 closed

[2020-05-17 01:52] shilman commented on #10806
have you looked at #6288

[2020-05-17 02:15] #10208 closed

[2020-05-17 02:15] #9923 closed

[2020-05-17 02:15] #10017 closed

[2020-05-17 02:19] shilman commented on #10542
@yannbf starting in 6.0 we will be installing essentials by default. that means users won't need to do anything to get backgrounds, they'll just be there. i don't mind fixing this issue in another way (config option?), but generally if we can address the issue with near-term product improvements we should be focusing on those, rather than increasing complexity to handle corner cases.

[2020-05-17 02:38] shilman commented on #10366
gonna close this as dupe to #8521

[2020-05-17 03:15] #9824 closed

[2020-05-17 04:03] shilman commented on #10366
Sorry this is a different issue. 🙈 reopening

[2020-05-17 05:07] matheo opened #10811 "Importing tsx addons inside manager.js"
**Is your feature request related to a problem? Please describe.**

Is it possible to include addons with custom tsx components inside the `manager.js`?
or do I need to compile the addons to es2015 to be properly imported?

It would be nice if there's some workaround to be able to support some custom paths to `register.tsx` in the addons list tho. I'm no expert about webpack so I have no idea abou

[2020-05-17 05:43] shilman commented on #10239
@tmeasday global args appear to initialize to `{}` due to this line:

https://github.com/storybookjs/storybook/blob/next/lib/api/src/modules/globalArgs.ts#L20

On the other hand `storyStore._globalArgs` appears to be initialized properly. Getting the values from there into the `ManagerContext` should fix this issue. Any ideas?

[2020-05-17 09:22] tooppaaa commented on #10803
That would propably ease the translation. I'll do it.
Is there any "tag" to put on the code like "Delete in 7.x" ?

[2020-05-17 09:22] skill83 commented on #10806
Hi @shilman  yes, i looked at it.
It seems it broke up with some updates of storybook.
If i try `learnstorybook-code`, that use an older version of storybook i do not get the issue.
I tried both with the vue cli and without, and with the last version of sb there's no way to get the refs working.

Thanks

[2020-05-17 09:44] shilman commented on #10803
@tooppaaa we use `util-deprecate` and then strip them all out on the next major release

[2020-05-17 10:48] skill83 commented on #10806
Hi @shilman i started everything again.
With the cli and the plugin it's working.
Now i'm trying to integrate storybook in a project that do not use the cli.
I made `npx -p @storybook/cli sb init --type vue` but i have the issue of the refs.
What exactly the cli plugin does? what should i look for to change in my custom configuration?
A hint could be enough.

Thanks

[2020-05-17 11:00] shilman commented on #10806
cc @pksunkara @graup @Aaron-Pool

[2020-05-17 11:32] shilman commented on #10497
Ooh-la-la!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.0.0-beta.8 containing PR #10812 that references this issue. Upgrade today to try it out!

You can find this prerelease on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2020-05-17 11:32] #10497 closed

[2020-05-17 14:49] #10214 closed

[2020-05-17 15:29] lipeavelar commented on #10658
@shilman The first solution seems the ideal to me, since we already have a pattern `title` and `includePrimary ` as props, I think that adding `withToolbars` and set its default value to false would respect customizing pattern we already have. Then, should we go with the first one?

[2020-05-17 15:30] machineghost commented on #10809
Yes, it does fix it (although obviously that's not a very viable workaround).

And no unfortunately I don't.

[2020-05-17 18:24] Aaron-Pool commented on #10806
@skill83 if I'm remembering correctly, I didn't think child refs were guaranteed to exist until the `$nextTick` _after_ the `mounted` lifecycle had been called. Have you tested this?

[code]

[2020-05-17 18:28] Aaron-Pool commented on #10806
Further reading here: https://vuejs.org/v2/api/#mounted

Relevant text:

[2020-05-17 22:05] tooppaaa commented on #10793
I started to copy the Welcome component in src/Welcome.tsx (or jsx where ts is not set).
When I was almost done, I realize there are lots of reference to `import { Welcome } from '@storybook/react/demo';`

It would also mean duplicating this component in react, cra, webpack react, for each one, csf, mdf, csf-ts.
React is obviously the worst case but my option would be to leave it in demo and copy

[2020-05-18 00:12] anuraags commented on #3286
This is now causing issues for our workflow as well. We were unable to upgrade our storybook dependencies (including storyshots) from version 5.2.6 to 5.3.18 as our jest run would just fail with memory allocation errors.

[2020-05-18 01:21] shilman commented on #10793
@tooppaaa Sounds ok to me. Alternatively, we could create a `FRAMEWORKS` directory inside the CLI to make everything more self-contained?

As far as JSX vs TSX, ideally this would be based on which template the user is using (JS template => JSX, TS => TSX)?

This is maybe late to suggest it, but what do you think of a template scheme that `fetch`es the templates from a network location, so we can

[2020-05-18 01:24] shilman commented on #10214
Late answer to your original question, but here are the docs for remixing docsPage:

https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/docspage.md#remixing-docspage-using-doc-blocks

[2020-05-18 01:55] mike-lawson commented on #7914
I'm running into this same problem, with the following added quirks:
* @emotion/core has been updated to 10.0.28
* @emotion/styled is still on 10.0.27

I've installed each package manually to the exact same 10.0.27 version, and there doesn't appear to be any mismatch between versions, nor are there multiple versions that I'm seeing.

[code]

All Storybook packages are the same version as well:
[co

[2020-05-18 02:23] lifeiscontent opened #10815 "Storybook 6.0 iframe.html preview is broken on first render"
**Describe the bug**
I am using storybook and cypress together to test the behavior of my UI components.

on Storybook v5 I was always able to get this to work, so I'm assuming this might have something to do with the refactor @tmeasday worked on.

**To Reproduce**

in the reproduction, you'll need to boot storybook using `yarn storybook` and then in another terminal run `yarn test:cypress:ci` you

[2020-05-18 04:16] deborahjames commented on #9463
Adding "skipLibCheck": true, in the compilerOptions inside file tsconfig.json worked for me. Thank you so much .

[2020-05-18 05:38] shilman commented on #10034
point taken. to some extend we're at the mercy of the underlying docgen packages we're using (react-docgen / react-docgen-typescript) but i'll see what we can do

[2020-05-18 06:49] #10060 closed

[2020-05-18 07:07] skill83 commented on #10806
Hi @Aaron-Pool ,
I know about $nextTick, it wasn't related to it the issue, anyway thanks a lot for trying to help me.
Now i was able to make all the enviroment work.
What i found a bit boring is to inject in each component the store.
I try to explain.

In my case i have already a huge project with hundred of components in a SPA.
All the component are under the same vue instance and use the same s

[2020-05-18 07:09] #10806 closed

[2020-05-18 07:59] ksaturnius opened #10817 "Emotion CSS overriding element styles in MDX Preview"
**Describe the bug**
I am working on a documentation-only `.mdx` file for our design system's typography styles. I have the following block in my file:
[code]
These `type-` styles in my CSS are only used to adjust the font size, but they are getting multiple other styles applied that seem to be getting injected as part of Storybook's processing of the content. I have also tried swapping the `<div>

[2020-05-18 08:15] deholger commented on #9582
This topic is still actual with 6.0 betas

[2020-05-18 08:50] yairEO commented on #7205
@xppalmeida - I was facing problems where ESLINT complained about not being able to resolve my absolute paths but I've managed to fix them!

## ESLINT configuration looks like this:

[code]

## .env

    ...
    NODE_PATH=./

## jsconfig.json

[code]

[2020-05-18 08:51] mgohin commented on #4312
For anyone needing a very ugly hack, I did this and it works.
I have one file per global variable, so I use an object to reference every global var and it's script. Adapt this part for your needs.

**./storybook/preview-head.html**

[code]

**./stories/mystory.js**

[code]

[2020-05-18 09:54] tmeasday commented on #10815
In what way is it broken @lifeiscontent?

[2020-05-18 09:55] tmeasday commented on #10239
Hmm, yeah we should probably just emit `GLOBAL_ARGS_UPDATED` at the same time as we emit `SET_STORIES` in the store. WDYT @shilman?

[2020-05-18 10:20] casvil opened #10820 "console.error with element-resize-detector"
The following error keeps appearing when I run jest snapshot testing. It is non-blocking though.

**System:**
Environment Info:
[code]

[2020-05-18 10:50] JabbyPanda commented on #8201
Related commit that removed `babel-preset-react-app` runtime dependency from `@storybook/react` package

https://github.com/storybookjs/storybook/commit/942238acc8f2a87e83898d93c789818d391a2f06#diff-b5412b044e81f54a9cadb0982c0aa7c6

[2020-05-18 11:25] JabbyPanda commented on #9580
See comment from @mrmckeb here

https://github.com/storybookjs/storybook/issues/8201#issuecomment-536446521

Since Storybook 5.3 and higher `babel-preset-react-app` is not installed as part of `@storybook/react` package

I think that Migration.md doc file https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#from-version-52x-to-53x` and Typescript config doc file
https://github.com/story

[2020-05-18 12:05] ndelangen commented on #7215
Could you please upgrade to the latest version and tell me if this is still a problem, and if it is give me a reproduction repo? 👏

[2020-05-18 13:46] StJohn3D commented on #8768
I have upgraded storybook to latest 5.3.18 and am still seeing this issue.

[2020-05-18 13:47] StJohn3D commented on #7215
@ndelangen this looks related to my issue #8768 which already includes steps to reproduce.

[2020-05-18 13:56] StJohn3D commented on #8768
Hi @christopherhafke,
First, thank you for taking a look at this issue.
When you attempted to reproduce the issue, did you register the addon from the code snippet, then create a story and open the addons panel to see the custom addon? The consol warnings won't appear until you bring up the addons panel and view the custom addon. If you already tried all of those things I'll try to put together a

[2020-05-18 14:29] charleshimmer commented on #6998
I get this error on "@storybook/react": "^5.3.18" as well.

[2020-05-18 15:12] shilman commented on #10817
You either need to put your components inside a story, or you need to remove the docs styling: https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/recipes.md#overwriting-docs-container