[2019-02-27 08:43] huntie commented on #5704
@Nejik Same use case here with Vue, looks to just be a documentation blip then!

[2019-02-27 09:18] shilman commented on #5704
@huntie @Nejik mind creating a small PR to fix the docs?

[2019-02-27 09:51] gagarin55 commented on #3346
We have same issue, when r u going to fix it ?

[2019-02-27 10:00] tmeasday commented on #5784
Wow I have zero memory of this code change but I can say it got completely refactored for 5.0.

My guess is there is a bit of a tension here between the use case @theKashey has (where the initial state set via query parameters needs to stick around, i.e. the state needs to be stateful), and the `parameters` API, where if one story sets and option and the next does not, we don't want the previous s

[2019-02-27 10:25] codestitch commented on #5684
Hi, @tourniquet, less is fine. As I stated in my problem less has no problem. only when I call **.scss** files from **config.js**. And it didn't work.

[2019-02-27 10:29] codestitch commented on #5684
Hi, @tmeasday. There's no style for button.component.scss... I am making my styles in the global such as styles.scss outside of app folder. That's why I'm trying to import **styles.scss** in **config.js**  coz importing **styles.less** works in **config.js**. Or there could be another way of importing **styles.scss** other than in **config.js**.

[2019-02-27 10:31] tmeasday commented on #5684
Hi @codestitch - but the error above looks like you are importing that file - and it looks like a JS file?

[2019-02-27 10:58] guuibayer commented on #5783
I'm not using **CRA**, I generate the storybook config with `npx -p @storybook/cli sb init`

[2019-02-27 13:34] codestitch commented on #5684
yes @tmeasday ... it's saying that there is an error in button.component.scss file, but there are not styling in that file... that's what perplexed me. When I use this **sass-loader** in **webpack.config.js**, i'm having that error.
[code]

but if i'm using a **less loader** in **webpack.config.js**, it's just ok.

the only place i'm importing styling is in **config.js**

[2019-02-27 14:12] anirudhvarma12 commented on #5509
@gogs85 , can you please share the solution? I am also running into the same issue.

[2019-02-27 14:13] amypellegrini commented on #5152
I was just thinking about this and I'm glad I found this ticket here. I think that support for responsive viewport would add great value to Storybook.

Myself have to do some tricks if I want to test responsive/device-specific stuff within the Storybook UI.

[2019-02-27 14:42] shilman commented on #5784
@tmeasday Is this related? https://github.com/storybooks/storybook/issues/5781

[2019-02-27 16:15] kiranFullStack commented on #5183
After trying everything over here, I found the solution.

Just open .profile in a text editor (it is hidden in the Home directory so press Ctrl + H )

Just paste this line at the bottom of the .profile

export PATH=$HOME/.node_modules_global/bin:$PATH

and Voila....it works

[2019-02-27 16:24] CodeByAlex commented on #5376
@igor-dv , have you been seeing this performance issue. I believe that I read that you were one of the Angular maintainers.

[2019-02-27 16:51] shilman commented on #5376
@CodeByAlex is this addressed by https://github.com/storybooks/storybook/pull/5753

[2019-02-27 17:00] CodeByAlex commented on #5376
@shilman it may be, once released, I’ll check and comment below

[2019-02-27 17:50] shilman commented on #5620
Yippee!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.7 containing PR #5756 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-27 17:50] shilman commented on #4378
Huzzah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.7 containing PR #5776 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-02-27 17:50] shilman commented on #5239
Whoopee!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.7 containing PR #5776 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-27 17:50] shilman commented on #5382
w00t!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.7 containing PR #5753 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-02-27 17:50] shilman commented on #5421
Boo-yah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.7 containing PR #5716 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-27 17:50] shilman commented on #5596
Whoopee!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.7 containing PR #5749 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-27 17:50] shilman commented on #5665
Ooh-la-la!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.7 containing PR #5773 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-27 17:50] shilman commented on #5671
Whoopee!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.7 containing PR #5758 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-02-27 17:50] #5239 closed

[2019-02-27 17:50] #5620 closed

[2019-02-27 17:50] #5665 closed

[2019-02-27 17:50] #5671 closed

[2019-02-27 17:50] #5421 closed

[2019-02-27 17:50] #5596 closed

[2019-02-27 18:14] CodeByAlex commented on #5376
@shilman the build failed and it looks like its because: WARN => Failed to get angular-cli webpack config. Nothing changed on my end but it now looks like the project cant resolve the different parts of the monorepo. May have to raise an issue.

[2019-02-27 18:50] jephjohnson opened #5786 "Accessing nonexistent addons channel, using storybook withKnobs and React.js"
**Describe the bug**
I keep receiving the following error when implmenting withKnobs using storybook. This is my current config. I have it creating an '..example.js' on the fly. See attached.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy snippet below and paste into 'config.js'

**Expected behavior**
Run as normal with knobs integrated

**Screenshots**

**Code snippets**
This creates

[2019-02-27 20:06] CodeByAlex commented on #5376
@shilman @igor-dv I was able to install v7 for all projects other than @storybook/angular. I noticed the knobs change referenced in #5753 was in the code as seen in the browser console below:
![image](https://user-images.githubusercontent.com/29763590/53516675-d84fe500-3a9a-11e9-8e3b-68931a4971c5.png)

However, I am still seeing the issue described above. On every keystroke the component is being

[2019-02-27 23:39] n9niwas commented on #5779
Also it doesn't remember resizing.
If I set addons panel to render on the right side, manually adjust its width and reload the page - it still squishes the preview.
In v4 it saved panel sizes.

[2019-02-28 00:29] shilman commented on #5499
Did you try the workaround referenced in #5291?

[2019-02-28 00:31] shilman commented on #5786
Does it work if you `addDecorator(withKnobs)` globally outside of the `configure` function?

[2019-02-28 00:35] tmeasday commented on #5784
@shilman - I don't think so. I imagine that one has something to do with refactorings in the story store that @ndelangen has made.

[2019-02-28 00:38] tmeasday commented on #5684
@codestitch as a guess I'd say that by adding the above rule, your webpack config is now treating `.scss` files as SASS files rather than default (which is to load them with `file-loader` which I think just dumps their contents into a string). So if you have import `./button.component.scss` which contains JS it'd explain that error.

[2019-02-28 00:51] shilman opened #5788 "Static `official-storybook` is broken on `next`"
**Describe the bug**

The dev branch of Storybook doesn't load:

https://next--storybooks-official.netlify.com/

The error in the browser console is:

[code]

**To Reproduce**

I can reproduce locally:

[code]

**NOTE:** I'm NOT able to reproduce this locally when I run it in dev mode.

**Expected behavior**
Expect stories to load

**System:**
 - OS: [MacOS]
 - Device: [Macbook Pro 2018]
 - Browse

[2019-02-28 01:10] shilman commented on #5788
Thankfully this does not repro on the `release/5.0` branch

[2019-02-28 02:45] leerob commented on #5779
In v4, the panel was never this large. I would love to see it returned to the same initial width as before. The large size becomes an issue when you default to opening on the right.

[2019-02-28 02:57] trongthanh commented on #4797
Hi folks, I've just opened a draft PR #5791. I've been discussing with @hoanguyen311 & @broven and we'll join effort to implement this support.

Since there's no official framework integration document, I'm still fiddling around and reading other framework examples to do this. I will post update or raise questions under the PR issue.

[2019-02-28 03:57] dburles opened #5792 "Support dynamic imports for non CRA-apps without explicit configuration"
Storybook 4+ appears to no longer support dynamic imports out of the box. I think it makes reasonable sense to enable this feature by default. I've created a [simple reproduction](https://github.com/dburles/storybook-dynamic-import-issue). Running storybook will result in a build error.

[code]

[2019-02-28 05:25] ianstormtaylor opened #5798 "run the server without opening the browser?"
**Is your feature request related to a problem? Please describe.**

Right now it doesn't seem like there's a way to run the server without having it open up a tab in the browser when the server starts? This is frustrating for situations where you have a `yarn start` command that does multiple things, one of which is Storybook. You end up having to keep closing the tab each time you re-run `yarn st

[2019-02-28 05:52] shilman commented on #5798
There is!

[code]

[2019-02-28 05:52] #5798 closed

[2019-02-28 05:58] shilman commented on #5779
There are two bugs here:
- Choice of initial width, which should be a tweak
- Not remembering the layout, which AFAIK is supposed to work in v5

Hopefully it's a straightforward fix. Anybody wanna pick it up?

[2019-02-28 06:22] shilman commented on #5500
@garrettmaring This is working for me in Storybook 4.x (it appears to have broken in SB5). I'm wondering if you're running into this issue? https://github.com/storybooks/storybook/issues/4796

[2019-02-28 08:45] shilman commented on #5206
Thanks @johnhunter and sorry for the slow response. Everybody's been head's down on the SB5 release. Will def appreciate a fix if you have one. I'll also be prioritizing `addon-info` after the v5 release, moving it out of the preview https://github.com/storybooks/storybook/issues/1147
and addressing bugs like this one.

[2019-02-28 09:38] johnhunter commented on #5206
Thanks @shilman much appreciated - i'm looking forward to seeing SB5. Not able to get to a fix at the moment, will let you know if I do.

[2019-02-28 09:50] d3bgger opened #5801 "getReactScriptsPath not detecting my forked react-scripts package"
I'm trying to make storybook detect my forked cra package (based on cra 2.1.5) with no luck.

The following code in getReactScriptsPath() (https://github.com/storybooks/storybook/blob/be544bc22043da83300523b59c7734ba54db1eae/app/react/src/server/cra-config.js#L13) always returns the hardcoded 'react-scripts' because it always trying to find a package.json in node_modules folder (2 folders up from

[2019-02-28 10:06] codestitch commented on #5684
this is the structure of my button.component
![capture](https://user-images.githubusercontent.com/5573444/53558618-4a2e3a00-3b40-11e9-882d-558899491eaf.PNG)

The button.component.scss files doesn't contain anything.. this is the [project](https://github.com/codestitch/storybook-alpha).

[2019-02-28 10:20] penx commented on #3289
+1 for a documented way of getting code coverage output from storybook stories

[2019-02-28 10:23] penx commented on #3289
that's a pretty aggressive stalebot

[2019-02-28 10:39] chulanovskyi commented on #5193
Don't close

[2019-02-28 11:13] shilman commented on #5757
NOTE: I can repro this in the official storybook in `next` and `master`

[2019-02-28 11:14] shilman commented on #5458
I'm closing this as a duplicate to #5757. Please feel free to re-open if you think there's something angular-specific here or this is not a dupe.

[2019-02-28 11:14] #5458 closed

[2019-02-28 11:35] #4290 closed

[2019-02-28 11:35] #5132 closed

[2019-02-28 11:35] #5165 closed

[2019-02-28 11:35] #5167 closed

[2019-02-28 11:35] #4957 closed

[2019-02-28 11:35] #5013 closed

[2019-02-28 12:09] tmeasday commented on #5684
Oh, you know what, this could be a problem with file loader, maybe. I don't think you need to do this any more with SB5 but previously I think I had a similar issue with svgs that I avoided with:

[code]

Try that with `/\.scss/` and see if it helps?

[2019-02-28 12:10] karltaylor commented on #5788
I had a problem with storybook not fully compiling, no errors / warnings on `4.1.13`. Rolled back to `4.1.6` and everything was fine

[2019-02-28 14:02] ryanwelcher commented on #5240
@ndelangen sorry for the direct ping but we're not getting any traction on this. Hoping you can help?

[2019-02-28 14:19] climberger commented on #5486
I have the same problem:

To reproduce:

- I created an Angular project with Angular CLI.
- Then I added storybook to the project with command `npx -p @storybook/cli sb init`
- I created my own component to test it with storybook.

I can start storybook with `npm run storybook`
When I click on my component story in storybook, I get following error:

`Unhandled Promise rejection: Expected 'styles'

[2019-02-28 14:19] aralroca opened #5803 "Empty Snapshots (null) with Storyshots"
**Describe the bug**
After configure the addon-storyshots with React `16.8.3`. Snapshots are created, but when I enter inside the snapshot file to see what the plugin did, the snapshots are empty:

Example:

[code]

And always `null`, for all the stories...

**To Reproduce**

I configured the plugin in this way:

Create file: `.storybook/__tests__/stories.test.js` with this content:

[code]
This f

[2019-02-28 15:02] B3zo0 commented on #5723
I was able to workaround this with this code in config.js:
[code]

[2019-02-28 15:31] androdel commented on #4378
I get the following when I try to run storybook@next:

Error: Cannot find module 'emotion-theming/package.json'
EntryModuleNotFoundError: Entry module not found: Error: Can't resolve './src' in [project]

[2019-02-28 15:40] jephjohnson commented on #5786
No, still running into the same issue. It displays no panels found even for my action logger when I remove everything but keep it registered in my 'addons.js' file

<img width="619" alt="screen shot 2019-02-28 at 9 39 10 am" src="https://user-images.githubusercontent.com/1817084/53578216-d3437200-3b3c-11e9-973b-696c3962536b.png">
<img width="306" alt="screen shot 2019-02-28 at 9 39 31 am" src="htt

[2019-02-28 16:11] shilman commented on #5786
@jephjohnson I see the problem. You should be using the same version of everything. So either use `@storybook/react@4.1.13` OR use `@storybook/addon*@3.4.11` (I suggest using the most recent version).

Closing for now. Please re-open if that wasn't the problem.

[2019-02-28 16:11] #5786 closed

[2019-02-28 16:14] shilman commented on #4378
@androdel Have you tried removing `node_modules` and reinstalling? Or even removing `yarn.lock` and `node_modules` and reinstalling (if you're using yarn)?

[2019-02-28 16:18] shilman commented on #5486
@climberger Why does the screen capture say `v4.1.13` if you've upgraded to `5.0.0-rc.7`?

[2019-02-28 16:24] b0g3r commented on #4947
@shilman
I started a migration to storybook 5.0, but saw some errors :(

First, I try to update only storybook:
[code]
Then I rewrote webpack.config.js to new format and has error like this (in browser console, not on build stage):
[code]

After updating `@storybook/addon-knobs` also to 5.0, I got an error on build stage:
<details>
  <summary>:see_no_evil:</summary>

[code]
</details>

[2019-02-28 16:26] shilman commented on #4805
@StephanBijzitter Is this something you might be able to contribute on? The CLI code should be pretty accessible.

[2019-02-28 16:32] b0g3r commented on #4947
Okay, I just add `@emotion/styled` to dependencies and it solved my problem 🎉

Why `@emotion/styled` was not in my dependency? Maybe it implicit dependency on some addon?

[2019-02-28 16:44] b0g3r commented on #4947
I think this issue is done. The solution is upgrading to 4.2 or 5.0, but both currently aren't released.

[2019-02-28 16:52] rosskevin commented on #5267
/unstale

[2019-02-28 17:31] climberger commented on #5486
Tja screen capture is from the former version, where it did not work.
With version 5, as I described, it works and the error does not occur anymore.

[2019-02-28 17:56] shilman commented on #5486
@climberger Sorry I missed that! Glad to hear it's sorted!

[2019-02-28 17:56] #5486 closed

[2019-02-28 18:03] shilman commented on #4947
@b0g3r Glad to hear you got it working!

Re: `@emotion/styled` I suspect it's a yarn issue and if you'd deleted `node_modules` and possibly `yarn.lock` you wouldn't have had to add it as a dependency (It's a direct dep of `@storybook/theming` which is a dep of `@storybook/ui`)

Re: release: 4.2 won't be released (we went directly to 5). We're targeting Monday for the 5.0 release.

[2019-02-28 18:24] androdel commented on #4378
Doesn't make a difference

[2019-02-28 19:24] jephjohnson commented on #5786
Solid!!! Thanks @shilman

[2019-02-28 20:02] ianstormtaylor commented on #5798
Ah wow I'm an idiot, thank you! That's perfect.

[2019-02-28 20:23] alflennik commented on #5197
First, thank you so much for prioritizing this, but I am still having issues!

The TL;DR is:  **Has this been tested with the filesExt parameter?**

I just upgraded to storybook and addon-jest version 5.0.0-rc.7 and noticed that the test panel in Storybook remained blank. So I removed all the addon-jest code in my repo and started reinstalling it following the instructions [in the docs](https://gi

[2019-02-28 22:24] ndelangen commented on #5746
PR is ready

[2019-03-01 03:02] helloncanella commented on #163
updating the answer: add a `preview-head.html` to the folder `.storybook`.

[2019-03-01 03:32] hally9k opened #5804 "@storybook/addon-knobs: Vulnerability in the react-color -> lodash dependency"
**Describe the bug**
A vulnerable dependency in the addon-knobs plugin.

The react-color dependency contains the vulnerable version of lodash.
react-color "^2.17.0"
lodash "^4.17.11"

Github flagged this up as below:
![image](https://user-images.githubusercontent.com/3803536/53614579-4af9c580-3c3f-11e9-9f5b-7ba8178e70ea.png)

[2019-03-01 03:47] tmeasday commented on #5781
I'm fairly sure this was an intentional change (right @ndelangen).

Is it possible to add per-story decorators? It doesn't actually look like it is, but it would be easy to add via changing this line:

https://github.com/storybooks/storybook/blob/9f87b711b5aa9f487225c48407c2a23b7cd5df17/lib/client-api/src/client_api.js#L206

To

[code]

(Arguably we should make `localDecorators` and `globalDecorat

[2019-03-01 04:08] tmeasday commented on #5518
Ok the reason for this is the implementation of the `setStories` function inside `core/stories.js`

What it does is take a datastructure of the form

[code]

And produces something like:

[code]

The problem is that if a story is added "out of order" (via either of the mechanisms described in the repros above) you end up with something like:

[code]

So the children of all groups are ordered as yo

[2019-03-01 04:35] tmeasday commented on #5518
=> https://github.com/storybooks/storybook/pull/5805

[2019-03-01 04:43] tmeasday commented on #5781
I added local decorators in https://github.com/storybooks/storybook/pull/5806

[2019-03-01 05:09] ozzyogkush commented on #4976
On that note, I created a simple decorator at my work that lets us automatically inject the contents of MD files into a story. Basically if a file with the kebab-cased version of the story name exists in the current story directory, it applies it to the original addon. I implemented it for notes and info addons because our designers might want to put their info in one or the other without having t

[2019-03-01 05:54] shilman commented on #4976
@ozzyogkush Cool! Any interest in contributing?

[2019-03-01 05:55] shilman commented on #5256
@rapheld Mind giving the latest 5.0-rc on `@next` a try?

[2019-03-01 05:57] shilman commented on #5781
@tmeasday I think we should deprecate the old behavior as part of the 5.0 release. Feels "tricky" to me...

[2019-03-01 07:13] tmeasday commented on #5781
Deprecate or remove entirely?
On 1 Mar 2019, 4:57 PM +1100, Michael Shilman <notifications@github.com>, wrote:

[2019-03-01 08:44] larsenwork commented on #5049
FWIW removing node modules folder and re-installing npm packages fixed it for me

[2019-03-01 09:37] StephanBijzitter commented on #4805
I'll see if I can make some time, but I don't think I'll be able to do this anytime soon

[2019-03-01 10:01] nemonweb commented on #5378
Because of this bug it is not possible to use storybook 5.x with react native. Fix it please

[2019-03-01 10:11] MonteKrysto commented on #5051
I'm getting the same thing.  Any updates?

[2019-03-01 10:47] shilman commented on #5781
Sorry, remove entirely and document rationale in `MIGRATION.md`

[2019-03-01 11:55] ndelangen commented on #5780
@Hypnosphi Setting a theme as a parameter is recommended:

[code]

That should work, but I'll look into why the code you posted results in an error.

[2019-03-01 11:58] tourniquet opened #5809 "addon-jest display wrong result"
**Describe the bug**
Hi guys! I'm trying to use addon-jest for a few projects I am working on, but there is a weird bug.

I have a component called Button, but I also have other components called SwitcherButton, ToggleTypeButton, FixedButton, and so on. In my Button.story.js I have specified that it should look for the Button.test.js like this:

[code]

But when the jest JSON test report is genera

[2019-03-01 12:33] ndelangen commented on #5781
[code]

I tend to agree.

[2019-03-01 14:22] robtarr commented on #5651
It turns out this was an error in my alias configuration. Sorry the hassle.

[2019-03-01 14:22] #5651 closed

[2019-03-01 14:48] shilman commented on #5651
Glad you solved it!

[2019-03-01 14:51] shilman commented on #5780
@ndelangen I repro'd with parameter style in official-storybook, FYI

[2019-03-01 15:54] ndelangen commented on #5780
I see, will investigate

[2019-03-01 16:10] ndelangen commented on #5780
Fixed in https://github.com/storybooks/storybook/pull/5787

[2019-03-01 16:15] ndelangen commented on #5809
@tourniquet would you be interested in helping us fix this issue?

The jest addon can be improved a lot I think, I just haven't have had the time yet.

[2019-03-01 16:21] ndelangen commented on #5193
@chulanovskyi If you're creating a static build the security should be provided on a hosted level.

If you're running a dev server, we could add some login, but that's a little out of scope for what it is: a dev setup.

Having said that, We have made improvements to make the dev-server more composable "under the hood" and so if we up the documentation you'll likely be able to wrap storybook's dev

[2019-03-01 16:32] ndelangen commented on #5788
Seems related to simple-bars

[2019-03-01 16:38] ndelangen commented on #5788
correction axe related possibly

[2019-03-01 17:18] vvanpo opened #5812 "Zooming on component causes overflow scrollbars to scale poorly"
**Describe the bug**
Overflow scrollbars in component views scale with the component as you zoom in, and the anti-aliasing scales as well leading to very ugly scrollbars.

**To Reproduce**
Navigate to any component in Storybook 5.0.0-rc.7, and zoom in drastically until the component overflows and scrollbars appear.

**Expected behavior**
I would expect scrollbars not to change size when zooming on

[2019-03-01 17:28] shilman commented on #5518
Yo-ho-ho!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.8 containing PR #5805 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-01 17:28] shilman commented on #5723
Yo-ho-ho!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.8 containing PR #5759 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-03-01 17:28] shilman commented on #5781
Yo-ho-ho!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.8 containing PR #5806 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-01 17:28] shilman commented on #5593
Boo-yah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.8 containing PR #5807 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-01 17:28] #5518 closed

[2019-03-01 17:28] #5593 closed

[2019-03-01 18:24] CodeByAlex opened #5814 "Startup Fails - Angular - Failed to get angular-cli webpack config - Last working version V5.0.0-rc.6"
**Describe the bug**
Cannot find angular cli webpack version and begins using default webpack setup. This causes issues where different parts of monorepo cannot be found and storybook never starts.

**To Reproduce**
Steps to reproduce the behavior:
1. setup angular storybook project using V5.0.0-rc.7 or greater
2. run storybook

**Expected behavior**
Use the webpack config provided.

**Screenshots

[2019-03-01 18:30] alflennik commented on #5197
I got halfway through a minimum repro repo and I discovered that some, ahem, abuses of the Storybook API that I was doing in the config.js file were the cause of my issue.

My workaround was functional in Storybook 4.0 but broken in 5.0.

So it looks like the fix to addon-jest is good to go! And thanks so much for the responsiveness!

[2019-03-01 18:50] SivanMehta opened #5815 "The doc site is down"
**Describe the bug**
The docsite is down

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://storybook.js.org/
2. See that it's down

**Expected behavior**
It's not down

**Screenshots**
<img width="893" alt="screen shot 2019-03-01 at 10 49 03 am" src="https://user-images.githubusercontent.com/6868877/53659175-b330b300-3c0f-11e9-97e6-1bf9819139a6.png">

**System:**

literally any w

[2019-03-01 19:07] Zodiase commented on #5815
I was just preparing a presentation about using Storybook to my colleagues and found the site is down...

[2019-03-01 19:40] domyen commented on #5815
@Zodiase these presentation materials might hold you over in the meantime https://github.com/storybooks/brand/tree/master/presentation 🙏

[2019-03-01 20:27] pomber commented on #5815
Here is the preview from one of the last PRs https://deploy-preview-5813--storybook-docs.netlify.com/

[2019-03-01 21:48] ndelangen commented on #5815
I fixed it!

[2019-03-01 21:48] ndelangen commented on #5815
Thanks for reporting @SivanMehta

[2019-03-01 21:48] #5815 closed

[2019-03-01 22:15] ndelangen commented on #5788
PR with a fix is open

[2019-03-01 23:29] afrankel-sfdo opened #5817 "Storybook 5.0.0 emotion-themeing and React loader bug"
**Describe the bug**
When starting up Storybook 5.0.0-rc.8 see the following error:

[code]

**To Reproduce**
1. yarn
2. yarn storybook

**Expected behavior**
Starts up without issue

**Additional context**
Adding `yarn add emotion-theming@^10.0.7 -D` to project gets past this error

[2019-03-02 01:04] rapheld commented on #5256
Sure. Should I bump `@storybook/addon-knobs` only, or `@storybook/react` as well?

[2019-03-02 01:16] tmeasday commented on #5781
I had an idea -- we could make `.addDecorator` log a warning if it is called on a kind *after* a story has already been added.

I'll do the above and add the migration notes above if everyone is cool with it?

[2019-03-02 01:16] tmeasday commented on #5197
Awesome! Anything we need to add to the migration guide @alflennik?

[2019-03-02 01:16] #5197 closed

[2019-03-02 01:29] hipstersmoothie commented on #2883
For me the errors go away if i switch the extension from 'stories.tsx' to just 'tsx'

[2019-03-02 02:43] shilman commented on #5256
@rapheld All the `@storybook/*` packages should use the same version always if you want to be safe

[2019-03-02 02:45] shilman commented on #5527
@benkeen What version of storybook?

[2019-03-02 02:47] shilman commented on #5817
@afrankel-sfdo Can you remove `node_modules` and `yarn.lock` and try again? We've been seeing a lot of weirdness around stuff like this, e.g. https://github.com/storybooks/frontpage/pull/28#issuecomment-468666553

[2019-03-02 02:53] shilman commented on #5052
@gabrielcsapo Mind taking a quick look at this?

[2019-03-02 02:57] shilman commented on #5814
@CodeByAlex @gaetanmaisse @yjcxy12 This is the only angular-related PR that got merged in that tiemeframe, in `rc.7`:

* Angular: Fix global style imports ([#5776](https://github.com/storybooks/storybook/pull/5776))

Is that enough to debug what's going on? I don't use Angular myself... 🤷‍♂️

[2019-03-02 03:35] alflennik commented on #5197
Nope!

[2019-03-02 04:04] gabrielcsapo commented on #5052
Hey 👋 @transitorytammy I am looking into this. Do you have a reproduction repo that I am use to debug?

[2019-03-02 04:27] transitorytammy commented on #5052
Hi @gabrielcsapo.  You could use this repo to reproduce the bug.  https://github.com/MatchbookLabs/bourbon . Please let me know if there is anything else I can provide to help with this issue.  :)

[2019-03-02 04:35] benkeen commented on #5527
Thx! `4.1.11`.

[2019-03-02 06:15] SachaG commented on #769
For anybody else what actually helped me was this package: https://github.com/gvaldambrini/storybook-router/

[2019-03-02 07:13] hipstersmoothie opened #5818 "Backgrounds addons do not show by default"
**UPDATE:**

This issue describes problems with both `addon-backgrounds` and `addon-viewports`. The viewports bug is a duplicate to #5757, so I'm reappropriating this issue to backgrounds since it's a separate work item. --@shilman

---

**Describe the bug**

addon-backgrounds and addon-viewport do not display in any way

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.co

[2019-03-02 09:55] ndelangen commented on #5781
Yes perfect!

[2019-03-02 10:32] M3kH commented on #4011
This is still an issue, even on `v5` with `VUE_SFC`

[2019-03-02 10:49] hipstersmoothie commented on #5818
I got it to work but only by doing the following

[code]

[2019-03-02 10:57] hipstersmoothie commented on #5818
It seems like this can also be done for the viewport with

[code]

all current documented ways are incorrect (i think)

[2019-03-02 12:44] CodeByAlex commented on #5814
@shilman, That did help. The issue was caused by this line in the build options of the angular-cli_config.js file:
      sourceMap: {},
According to #5525, both buildOptions.sourceMap and buildOptions.optimization were added by default to angular webpack config in order to ensure that @angular-devkit/build-angular does not fail. I wasnt having the original issue with devkit, @yjcxy12, could you sh

[2019-03-02 12:51] SleepWalker commented on #5584
@shilman yep, it is fixed in v5.

[2019-03-02 13:38] tmeasday commented on #5781
=> https://github.com/storybooks/storybook/pull/5819

[2019-03-02 16:57] #5788 closed

[2019-03-02 17:31] fo-fo opened #5821 "Use @storybook/react stories with @storybook/react-native?"
**Is your feature request related to a problem? Please describe.**
I'm trying to use Storybook with React Native and react-native-web but ran into some problems. I want to use the same components (built from the React Native primitives) in the web Storybook (for easy viewing in a browser) and the mobile Storybook (for testing on mobile devices).

The main problem is that if I want to define storie

[2019-03-02 22:39] samwightt commented on #3346
Getting this error on a fresh install. No clue as to what's causing this (possibly in a conflict with the `.babelrc` between `create-react-app`'s setup and this one?).

[2019-03-03 00:52] anoopsinghbayes commented on #3995
Is this still on the roadmap ?

[2019-03-03 03:17] shilman opened #5822 "Babel errors swallowed in v5 UI"
**Describe the bug**

When my JSX has a syntax error, v5 does not display the error in the UI.

For instance in this example repo https://github.com/hipstersmoothie/story-bug there is a bug:

<img width="258" alt="github_desktop" src="https://user-images.githubusercontent.com/488689/53690436-2ae41680-3da5-11e9-9e4b-e7a33d776746.png">

In v4, error displays in the terminal, browser console, AND UI:

[2019-03-03 03:18] shilman commented on #5818
@hipstersmoothie Great catch, we should fix this before launch.

Your repo also revealed another good one: https://github.com/storybooks/storybook/issues/5822

[2019-03-03 05:13] shilman opened #5823 "CORS error for versions.json"
**Describe the bug**

CORS error when Storybook UI tries to get the versions file:

![](https://cdn.discordapp.com/attachments/490070912448724992/551395862610182204/unknown.png)

Currently visible on: https://next--storybooks-official.netlify.com/?path=/story/ui-panel--default

[2019-03-03 06:18] shilman opened #5824 "Base themes broken in v5"
### Example 1

[code]

Results:
- No dark theme
- Warnings about missing primary/secondary colors

### Example 2

[code]

Results:
- No dark theme
- No warnings about missing primary/secondary colors

**System:**
 - Version: 5.0.0-rc.9

[2019-03-03 07:00] shilman commented on #5726
Whoopee!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.9 containing PR #5802 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-03 07:00] shilman commented on #5746
Ooh-la-la!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.9 containing PR #5787 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-03 07:00] shilman commented on #5781
w00t!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.9 containing PR #5819 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-03 07:00] shilman commented on #5788
Boo-yah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.9 containing PR #5816 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-03-03 07:00] #5726 closed

[2019-03-03 07:00] #5746 closed

[2019-03-03 07:00] #5781 closed

[2019-03-03 07:17] shilman commented on #5780
@ndelangen Still seeing this on `rc.9` 😦

[2019-03-03 07:53] shilman commented on #5681
@KhodeN Can you help me repro this?

### What I did

1. Create a `.dotenv` file containing:
[code]
2. Create a `middleware.js` file including your snippet above and a `console.log` statement.

### What I'm seeing

I see consistent behavior between 4.x and 5.x. Specifically:
1. `REACT_APP_API_HOST=localhost:3000 yarn storybook` shows `host` is defined
2. `yarn storybook` shows `host` is `undefined`

[2019-03-03 07:56] shilman commented on #4995
FYI to anybody who's monitoring this issue:
- We plan to make the workaround described above officially supported post 5.0
- We haven't had time to update the documentation. There's a WIP PR, but that requires a lot more work to merge and we don't have time to get to it until after the 5.0 release https://github.com/storybooks/storybook/pull/5333

[2019-03-03 08:24] shilman opened #5825 "Addon-a11y crashes without `withA11y` decorator"
**Describe the bug**

In 4.x:
- Register `addon-a11y` in `addons.js`

In 5.x:
- Register `addon-a11y`
- Add `addDecorator(withA11y)` in `config.js` or the addon crashes

We should support the 4.x defaults so as not to break existing storybook configs

[2019-03-03 09:54] gabrielcsapo commented on #5052
Okay so 4 hours later for some reason boot is being called twice, I am going to file an issue with ember and figure out why this happens, but in the meantime I was able to bump a ton of dependencies for you https://github.com/MatchbookLabs/bourbon/pull/124.

[2019-03-03 11:03] huntie commented on #5704
It appears that the default branch on this repository (and therefore the docs) is simply ahead of the currently distributed version (4.1.13), and includes https://github.com/storybooks/storybook/commit/412cd179849fdc442206b93616d57faf30a0c0cd where `id` is used consistently and documented. Probably worth moving forward with that release, and having this issue as reference. Maybe docs in this repos

[2019-03-03 12:36] CodeByAlex commented on #5574
I am closing this issue because it was resolved by changes made in pr #5802 . If anyone believes that this should be re-opened, please feel free to do so.

[2019-03-03 12:44] danielg2002 opened #5827 "5.0.0-rc.9: Option sortStoriesByKind is not working"
[code]

sortStoriesByKind is not working, true/false it's the same.

5.0.0-rc.9

[2019-03-03 14:36] shilman commented on #3493
I'll pick this up with `addon-info` improvements in 5.1

[2019-03-03 14:42] shilman commented on #5050
@Keraito We could also switch to using `recursive-copy` which already supports this feature:

https://www.npmjs.com/package/recursive-copy

[2019-03-03 15:00] shilman commented on #5704
@huntie There are a couple things going on here:
- `master` branch is equivalent to `latest` npm tag (version 4.1.x currently)
- `next` branch is equivalent to `next` npm tag (version 5.0-rc.x currently)

If there is a breaking change in `next` we should document this in `MIGRATION.md` so that people who are upgrading from 4.x to 5.x can expect it and know how to fix it. Better yet, we deprecate t

[2019-03-03 16:08] igor-dv commented on #5814
@CodeByAlex what version of "@angular-devkit/build-angular" are you using?

[2019-03-03 16:16] CodeByAlex commented on #5814
@igor-dv, it looks like I was running an older version of @angular-devkit/build-angular: 0.8.0-rc.0. Now that I have upgraded, the issue has been fixed. Nice catch.

[2019-03-03 16:22] igor-dv commented on #5814
Thanks =)

[2019-03-03 18:29] creaux commented on #5462
Using babel with typescript-preset. Same issue.

[2019-03-04 00:25] francopetra commented on #5785
Oh yes, I noticed. I can take a look at this.

[2019-03-04 01:56] tmeasday commented on #5757
Thanks for the report @Jessidhia.

`.addParameters({ viewport: 'string' })` will no longer be supported (we need to it to be an object so it can be sensibly merged by the parameters system) but we need to (a) allow setting the default viewport and (b) not throw up if you do the old thing. See #5829

[2019-03-04 02:37] shilman opened #5830 "Clean up spurious console errors"
## What

Remove the noise so actual errors show up better:

<img width="511" alt="addons___viewport___custom_default___kindle_fire_2___-_overridden_via___withviewport___parameterized_decorator_ _storybook_and__1____storybook_addon-viewport__docs_are_incorrect_for_v5_ _issue__5757_ _storybooks_storybook" src="https://user-images.githubusercontent.com/488689/53707317-69430980-3e69-11e9-937d-15eb3d79

[2019-03-04 03:06] ahimberg opened #5831 "storybook package.json files don't declare dependency on core-js"
**Describe the bug**
storybook packages are not declaring a dependency on core-js in package.json, unable to run using pnpm as a packager without adding core-js or hacking the core-js dependency in.

**To Reproduce**
set up react-native project using pnpm rather than yarn/npm.  when bundling, @storybook/react-native and many other @storybook packages are unable to resolve require imports to core-j

[2019-03-04 03:38] shilman commented on #5825
False alarm 🤕

[2019-03-04 03:38] #5825 closed

[2019-03-04 04:25] #5754 closed

[2019-03-04 04:59] shilman opened #5832 "Ensure smooth a11y migration for SB5"
Ensure a11y usage is properly deprecated, documented, and tested

[2019-03-04 06:41] shilman commented on #5757
Yee-haw!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.10 containing PR #5829 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-04 06:41] shilman commented on #5818
Yippee!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.10 containing PR #5828 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-04 06:41] shilman commented on #5832
Yo-ho-ho!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.10 containing PR #5833 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-04 06:41] #5757 closed

[2019-03-04 06:41] #5832 closed

[2019-03-04 06:41] #5818 closed

[2019-03-04 08:47] ndelangen commented on #5824
I'll make this work:

[code]

[2019-03-04 09:30] Ziv-Barber commented on #4796
To fix this remove all the '@emotion' packages from package.json, remove node_modules and yarn.lock (or package json lock) and yarn install.

[2019-03-04 10:28] Ziv-Barber commented on #4210
Not working also here. I added the same code to the config.js file as on the docs.
I do have import '@storybook/addon-options/register' on my addon.js file.

On my package.json I have:

[code]

It looks like the documentation is not updated with the last theme interface.

[2019-03-04 10:30] ndelangen commented on #5824
PR is open

[2019-03-04 11:16] ndelangen commented on #5785
Need any help @francopetra ?

[2019-03-04 13:06] andrewmarmion commented on #5831
I am having the same issue when using `npm`, adding `core-js` to my devDependencies solved it but I shouldn't have to do that.

[2019-03-04 13:21] huntie commented on #5704
@shilman Understood. What I meant is that a user (like myself on this occasion) will commonly jump to a GitHub homepage for a project, ignore the default branch and essentially read the documentation there, which is ahead. On npm however, the correct state of `README.md` is present for the release and the documentation is correct.

A breaking change will therefore be introduced between 4.1.x and 5

[2019-03-04 13:45] Hypnosphi commented on #5780
Same on `rc.10`. I think I'll disable a11y addon for now

[2019-03-04 14:22] web-padawan commented on #5531
I'm still interested but haven't got any time to take a closer look. Will try to do it this week.

[2019-03-04 14:48] ohelixa opened #5847 "React - No Knobs on build"
**Describe the bug**
after building storybook components are exported as so:

`Button_Button`

Setting `Button.displayName = "Button"` will fix the visual presentation but still on build file I see wrong naming. This makes the Knob addon showing : No Knobs.

From the bundle file:

[code]

devDependecies:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://components.helixa.a

[2019-03-04 14:52] alflennik commented on #5225
I'm running a monorepo with addon-jest and I'm not getting hot reloading either.

OS: MacOS
Browser: Chrome, Safari, Firefox
Framework: React
Addons: addon-jest
Version: `5.0.0-rc.7`

@mrsufgi Thanks for volunteering to create a repro repo.

[2019-03-04 15:58] #5704 closed

[2019-03-04 16:24] afrankel-sfdo commented on #5817
@shilman even on `info @storybook/react v5.0.0-rc.10`:

`rm yarn.lock; rm -Rf node_modules/; yarn; yarn storybook `

`Error: Cannot find module 'emotion-theming/package.json'`

[2019-03-04 16:39] shilman commented on #5817
That's really bizarre. Can you provide a repro? Not seeing that in my CRA test app or in my Gatsby test app

[2019-03-04 19:30] chrisokamoto commented on #5572
I am also facing this problem.. I downgraded to the version 3.2.12 to test and it is working with the old version

[2019-03-04 20:02] rgranger commented on #5572
As I mentioned above, I think the culprit is this line that should be removed : https://github.com/storybooks/storybook/blob/1dfb31f9b35c4ce099b30040a92aafdfedbe421a/lib/core/src/server/dev-server.js#L96

Unfortunately, I dont' have enough time currently to send a PR

[2019-03-04 20:43] wilbyang commented on #4011
I am having this issue too...using react native 0.58.6

[2019-03-04 21:22] daKmoR opened #5852 "[5.0.0-rc.10] Switching stories results in breaking storybook"
**Describe the bug**
Switching between stories pretty fast or multiple times results in
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Working storybook.

**Screenshots**
![storybook-bug](https://user-images.githubusercontent.com/24378/53763963-56adec00-3ecc-11e9-917f-250a6e3e1655.gif)

[2019-03-04 21:39] daKmoR commented on #5852
apparently, it has to do with this
[code]

e.g. if you return a node and then you switch multiple times then it "breaks" with this "fatal" error and you are forced to do a hard reload.

[2019-03-04 22:37] Hypnosphi opened #5853 "Make grid cell size customizeable"
Right now it's hardcoded to be 10px. Our designer uses 8px grid, so I'd like to have it in storybook as well

[2019-03-04 23:46] shilman commented on #4769
Is this still an issue in SB5?

[2019-03-05 00:19] backbone87 opened #5855 "CLI --ci and --quiet options are confusing and not documented/available for static build"
The CLI options `--ci` and `--quiet` are a little bit confusing for their intended purpose.

Prefered solution:
- For `--quiet` i dont expect any output at all, unless their is an error.
- And for `--ci` i expect everything to be ready to be used in a CI env (no browser launch and no progress/terminal spam)
- Maybe introduce a `--no-browser` option to disable browser launch (though, you should rly

[2019-03-05 01:04] shilman opened #5857 "Story-level options and stateful behavior"
When the user configures UI options on a per-story level, we need two separate behaviors for different kinds of options.
- Theme options: e.g. Storybook name/logo should set that option globally, and it should be unset (set back to the default) when you navigate away from that story to a story where it's unset.
- Stateful UI options: e.g. Selected panel should be updated when the user switches sto

[2019-03-05 01:21] rapheld commented on #5256
I'm running into so issues trying to fire up storybook.

`package.js`
[code]

[code]

[2019-03-05 01:26] allpwrfulroot opened #5859 "Website IP address on blacklist"
**Describe the bug**
The Storybook.js.org website has been flagged on https://iplists.firehol.org, so I can't access it behind a firewall

**To Reproduce**
See address on blacklist (https://github.com/firehol/blocklist-ipsets/blob/master/firehol_level1.netset)

Non-authoritative answer:
storybook.js.org        canonical name = storybooks.netlify.com.
Name:   storybooks.netlify.com
Address: 167.99.

[2019-03-05 01:33] shilman commented on #5256
I'm not familiar with those version idientifiers. Try something like this?

[code]

[2019-03-05 02:03] francopetra commented on #5785
Hi @ndelangen! I don't know how to try sb init from my local repo (without a package manager like npm).
Thanks!

[2019-03-05 02:26] shilman commented on #5757
Yowza!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.11 containing PR #5829 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-03-05 02:26] shilman commented on #5780
Yippee!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.11 containing PR #5843 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-05 02:26] shilman commented on #5818
Yowza!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.11 containing PR #5829 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-03-05 02:26] shilman commented on #5824
Ooh-la-la!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.11 containing PR #5843 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-05 02:26] shilman commented on #5832
Boo-yah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.0-rc.11 containing PR #5833 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-03-05 02:26] #5780 closed

[2019-03-05 02:26] #5824 closed

[2019-03-05 03:13] rapheld commented on #5256
Apologies, my paste above was incorrect. My package.js is actually:
[code]

[2019-03-05 04:45] backbone87 commented on #5030
i can offer to do the @storybook/vue migration once the core package is done

[2019-03-05 06:52] shilman opened #5866 "Theme variable brandTitle incorrectly applied"
**Describe the bug**
When we use the theme variable `brandTitle` on its own, it should replace the Storybook logo in the upper left with a string. Instead, it simply modifies the alt tag for the existing image.

Repro in `official-storybook`:
[code]

**System:**
 - Version: 5.0.0-rc.11

[2019-03-05 07:17] dgana commented on #3389
[code]

[2019-03-05 07:23] guiyep commented on #3389
This is still broken in latest version. Any idea? I’m just ignoring it...

[2019-03-05 07:27] dgana commented on #3389
Its working fine with me try check dependencies below
[code]

[2019-03-05 09:20] apiel opened #5869 "Storyshot fail with Typescript"
I am trying to use `storyshot` with Typescript but I get an error that I don't manage to solve:

[code]

I also tried to follow https://medium.com/@mtiller/storybook-react-typescript-and-jest-c9059ea06fa7 without success.

**To Reproduce**
[code]

In my source folder I add a storybook.test.ts
[code]
The wepack config is
[code]

and the jest config is
[code]
**Screenshots**
![image](https://user-im

[2019-03-05 09:29] Itrulia commented on #5817
I have the same thing with `@storybook/react@5.0.0`

[2019-03-05 10:20] aralroca opened #5871 "Error after migrate to Storybook 5.0.0 using material-ui"
I followed all the steps of the `MIGRATION.md` guide from `4.1` to `5.0.0`. However running the storybook I'm getting this error:

[code]

I guess that is related with babel. I'm using Next.js `8.0.3` (that already have Babel 7)... And my `.babelrc` file is:

[code]

Maybe will be great to add to the `MIGRATION.md` how to migrate from Next.js... 😕

[2019-03-05 10:34] shilman commented on #5871
Can you remove node_modules & yarn.lock and retry?

[2019-03-05 10:39] tmeasday commented on #5871
@aralroca -- I wonder what version of core js you have in `node_modules`? I am running an next@8 app w/ SB5 and I have `core-js@2.6.3`

[2019-03-05 10:41] 0nn0 commented on #3346
I managed to fix the issue by adding the following line to the `.babelrc` file:

[code]

More info on this option: https://babeljs.io/docs/en/options#sourcetype
Believe this option is only available with Babel 7 and up.

[2019-03-05 10:41] codestitch commented on #5684
I tried it but gave me an error.

![capture](https://user-images.githubusercontent.com/5573444/53799821-382f0b80-3f33-11e9-9fa5-059d962c0706.PNG)

[2019-03-05 10:44] codestitch commented on #5684
is there a way of adding a global style in all the stories?

[2019-03-05 11:02] sucat opened #5872 "Webpack performance options are ignored"
**Describe the bug**
I have a separate webpack config for storybook. I can see some Webpack Performance hints which I want to disable. It looks like webpack performance options are ignored.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `webpack.config.js` within storybook directory
2. Add `performance: { hints: false },` under `module.exports`
3. Build storybook

**Expected behavior*

[2019-03-05 11:25] aralroca commented on #5871
Sure, I did it.

My version in `node_modules` is `core-js@1.2.7` 😕

<details>
<summary>Dependencies tree</summary>

[code]
</details>

[2019-03-05 11:28] aralroca commented on #5871
I guess is related with `@material-ui/core@3.9.2`, not with Next.js

[2019-03-05 11:44] aralroca commented on #5871
Adding `"core-js": "2.6.5"` on package.json as devDependeny is fixing the storybook. After this is working well (And don't break at least the things that I have from material-ui...) 😕

[2019-03-05 11:50] aralroca commented on #5871
I changed the issue title, and I close the issue

[2019-03-05 11:57] tmeasday commented on #5871
Do we need to depend on `core-js` somehow and we are not? (`@babel/runtime`?)

[2019-03-05 11:59] tmeasday commented on #5684
Sorry, `storybookBaseConfig` was the first argument to the function exported by `webpack.config.js` in SB4.

[2019-03-05 12:00] tmeasday commented on #5684
You can do it like this: https://storybook.js.org/docs/configurations/add-custom-head-tags/

[2019-03-05 12:06] tmeasday commented on #5871
The dependency on `async-iterator` is a recent change in `core/context.js` in `@storybook/ui`

[2019-03-05 12:08] tmeasday commented on #5871
These dependencies on es7 features from core-js seem reasonably recent (wasn't there in rc.11 as far as I can tell).

[2019-03-05 12:11] codestitch opened #5873 "Global styling and CSSresource in Storybook 5.0.0 doesn't work."
**Describe the bug**
Just installed **SB 5.0.0** and tried adding global styles such as `preview-head.html` w/ bootstrap4 in **.storybook/** folder.

Added `import '!style-loader!css-loader!../stories/styles.scss';` in `.storybook/config.js` and didn't reflect.
Tried using CSSResource addon and didn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to angular project and insta

[2019-03-05 12:26] ndelangen commented on #5785
@francopetra Want to schedule a call? I can give you a tour around the codebase and show you how I work. And talk a bit about the roadmap and such.

The gist is that we have examples in the monorepo, so after bootstrapping you can just run one of those and see the changes.

[2019-03-05 13:08] amensouissi commented on #5873
hello :)
same problem here :(

[2019-03-05 13:13] tourniquet commented on #5809
@ndelangen , unfortunately, I don't have enough knowledge to fix this issue

[2019-03-05 13:23] PhillippOhlandt opened #5874 "(Vue) Custom Parameters are not working"
**Describe the bug**
Hello,

I have a few stories where I don't need the panel because they act as content pages.

**To Reproduce**
Here is one typescript module:

[code]

**Expected behavior**
When I browse to the story, the panel on the bottom should not be visible.

**Current behavior**
The panel stays visible. I also tried other options, e.g. setting the panel position to the right side, which

[2019-03-05 13:29] shilman commented on #5874
Hi @PhillippOhlandt try this with the newly released `@storybook/vue@5.0.0`. I think you're looking at a new version of the docs but using those options with an old version of Storybook.

[2019-03-05 13:59] gijoehosaphat commented on #5166
This is also a problem for us. We don't want to have to change our application to use .env files, nor change where our config is located. We are passing some config in via CLI for now as a temporarily workaround.

[2019-03-05 14:14] ikhudo opened #5875 ""export 'default' (imported as 'Stylis') was not found in 'stylis/stylis.min'"
**Describe the bug**
I'm getting that error when trying to add some component that uses styled components

[code]

**To Reproduce**
Steps to reproduce the behavior:
add an component with styled-components
run storybook

 - Version:5.0.0

[2019-03-05 14:31] FrAgFo0d commented on #5817
Have the same issue here in @storybook/react@5.0.0 running on Mac OSX

[2019-03-05 14:57] thebuilder commented on #5411
So this issue seems to have been fixed with the the 5.0 release. 👍

[2019-03-05 14:57] #5411 closed

[2019-03-05 15:02] DeX3 commented on #5869
Bump, also hitting this.

It seems to happen when storyshots tries to load the storybook-config file, which contains code that's not just plain JS.

[2019-03-05 15:07] CodeByAlex commented on #5775
This issue has been resolved and I am now seeing the expected result with higher versions.

[2019-03-05 15:07] #5775 closed

[2019-03-05 15:18] codestitch commented on #5684
Thanks, @tmeasday. But how do I include my own styles from the project, like styles.css inside /stories folder?

[2019-03-05 15:20] alexanderstudte commented on #5873
hello :)
also same problem here :(

[2019-03-05 15:37] tourniquet commented on #5684
At the top of my .storybook/config.js I added:
[code]

I think you can import your styles in the same way.
PS: The only way this works is to add at the very top of the file, in the first line

[2019-03-05 15:58] codestitch commented on #5684
My bad. I looked at the iframe and the style are already there. Sorry for wasting your time @tmeasday .

So, this code `import '!style-loader!css-loader!../stories/styles.scss';` works!
instead of import `"../stories/styles.scss";` or `require('../stories/styles.scss');`

Thanks a lot.

[2019-03-05 16:03] afrankel-sfdo commented on #5817
same issue on `5.0.0` and I also noticed low down...

[code]

[code]

A fresh storybook install works fine, haven't tracked down what in our project might be causing these issues.

[2019-03-05 16:08] mfellner commented on #5723
Unfortunately this appears to be still an issue in the current version 5.0.0. 😕

[2019-03-05 16:10] mAAdhaTTah commented on #5817
@afrankel-sfdo I'm seeing the same issue. My current theory is the lack of `@emotion/core` causes the `ModuleParseError`. I ran `npm i @emotion/core @emotion/styled` which seemed to resolve the issue. Weirdly, I did notice that those two deps are removed from the `package-lock.json`, although I have no idea why. I removed them from the `package.json` and left the `package-lock.json` with them, and

[2019-03-05 16:18] mAAdhaTTah commented on #5817
Update: Noticed this when running `npm ls @emotion/core` after the above steps:

[code]

`@emotion/core` isn't being hoisted to the root, where the build is expecting it (it's extraneous because it's no longer in my `package.json`). `require.resolve` is called in `@storybook/ui/paths.js`, but it's only installed under `@storybook/theming`, so it's nested in the `node_modules` in that folder, which

[2019-03-05 16:23] mAAdhaTTah commented on #5817
Another update: If you don't want to delete your `package-lock.json`, `npm dedupe` seems to have solved the issue for me.

[2019-03-05 16:24] shilman commented on #5873
@nm123github any chance you can take a look?

[2019-03-05 16:31] codestitch commented on #5684
Another question though, @tmeasday. Does the SB iframe automatically loads bootstrap v3.3.5?

[2019-03-05 16:36] MrLoh commented on #5817
I have the same issue and couldn't resolve it by deleting the yarn.lock

[2019-03-05 16:40] MrLoh commented on #5817
`yarn add @emotion/core @emotion/styled` immediately resolved it though

[2019-03-05 17:01] jesprider commented on #5708
The same problem here with `svg-inline-loader`. It worked well with v4.1.1. After v5.0.0 it returns a string (path to an svg file) instead of an svg tag.

[code]

What I found so far is that the loader is completely ignored by storybook in webpack extend mode.

[2019-03-05 17:03] MerrickGit opened #5876 "Invalid kind 'Кнопки', must include alphanumeric characters"
**Describe the bug**
When i use cyrillic symbols in the storiesOf, getting the bug.

**Code snippets**
If applicable, add code samples to help explain your problem.
[code]

**Additional context**
[code]

Error in `.replace(/[^a-z0-9-]/g, '-')`. We can use only latin titles.

[2019-03-05 17:04] shilman commented on #5876
This is a good one! Any interest in contributing a PR with the fix?

[2019-03-05 17:30] jordyvandomselaar opened #5877 "TypeError: Cannot read property 'module' of undefined"
I'm using the latest Storybook: 5.0.0

I'm using React generated with `create-react-app` with the `--typescript` flag. Following this guide; https://storybook.js.org/docs/configurations/typescript-config/#setting-up-typescript-with-babel-loader

I get the following error: TypeError: Cannot read property 'module' of undefined

[2019-03-05 17:30] seanmcintyre opened #5878 "@storybook/theming brand property does not update with custom logo/svg"
**Describe the bug**
`brand` property in `@storybook/theming` `create()` function has no effect

**Expected behavior**
Logo should reflect SVG component from `brand` property.

**Screenshots**
<img width="1376" alt="screen shot 2019-03-05 at 12 25 48 pm" src="https://user-images.githubusercontent.com/319302/53824403-dd50e080-3f41-11e9-884b-dca81adae048.png">

**Code snippets**

`config.ts`
[code]

[2019-03-05 17:39] jesprider commented on #5708
Update: it is exactly what @VanDoornP says in a previous comment. Used the same hack for now.

Then only thing that there is [no 3rd argument](https://storybook.js.org/docs/configurations/custom-webpack-config/#full-control-mode) in a module.exports function:
[code]

[2019-03-05 17:39] backbone87 opened #5879 "SB5 UI: improve viewport usability"
It would be nice, if we could see the selected viewport right next to the viewport button.
- Always show pixel size
- show label if selected
- show L or P for orientation

[2019-03-05 17:40] vpicone commented on #5817
I was getting some really weird emotion related errors. Deleting node_modules, yarn.lock and running `yarn cache clean` before installing fixed the issue for me.

[2019-03-05 18:09] MrLoh commented on #5817
Maybe the issue is related to two different emotion versions being used by storybook/core and storybook/theming. This is all very weird, I just can't get past this. When I install the emotion libraries manually, it builds, but I get errors in the browser (`Cannot read property 'Consumer' of undefined at ThemeProvider`) and nothing renders.

It worked in a pristine CRA app, but in my custom Webpack

[2019-03-05 18:11] MrLoh commented on #5817
Downgrading to storybook `4.1.13` solved the issue, so maybe it's an incompatibility in my project between storybook/react and storybook/react-native with different versions

[2019-03-05 18:23] vpicone opened #5880 "Error: Workbox no such file or directory issues"
**Describe the bug**
Upgraded to SB5, build executes no problem, but getting these errors in console after the build is complete.

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to sb5
2. Run `yarn storybook`
3. Wait for build to finish

**Additional context**
Storybook loads just fine and continues running as the errors are displayed. The browser console shows the workbox too

[2019-03-05 18:25] kylepeeler commented on #5878
I'm experiencing the same thing

[2019-03-05 18:52] maxharris9 commented on #291
This is still broken for me in v4.1.12. Please reopen this!

[2019-03-05 19:00] cellog opened #5882 "upgrade storybook to 5 fails"
**Describe the bug**
upgrade to storybook 5 fails with mysterious error

**To Reproduce**
Steps to reproduce the behavior:
1. check out https://github.com/unlock-protocol/unlock/pull/1877
2. run `npm ci` in the root directory
3. `cd unlock-app`
4. `npm run storybook`

**Expected behavior**
works

**Screenshots**

<img width="838" alt="screen shot 2019-03-05 at 1 59 02 pm" src="https://user-images.

[2019-03-05 19:02] joaogarin commented on #5871
Also getting the sam error, on a project that is not using nextjs or material ui..Just plain storybook with babel (including babel polifyll)

[2019-03-05 19:12] MrLoh commented on #5821
@fo-fo here's my example of getting what you are talking about to work: https://github.com/MrLoh/universal-react-storybook

I am requiring from `.web.js` and `.native.js` files to solve the issues you describe above. It would be nice if there would be a simple `@storybook/react-primitives` package that encapsulates this.

My main issue now is more that I would like to use a merged storybook server

[2019-03-05 19:12] SamKirkland opened #5883 "v5 upgrade guide, webpack modules vs module"
**Describe the bug**
Migration guide mistake. In the ["webpack config simplification"](https://github.com/storybooks/storybook/blob/next/MIGRATION.md#webpack-config-simplifcation) area, the code example uses: `config.modules.rules.push` when it should be `config.module.rules.push`
(modules should be module)
[The webpack config page](https://github.com/storybooks/storybook/blob/next/docs/src/pages/

[2019-03-05 19:39] MrLoh opened #5886 "Provide React Native WS Server as Addon for React Storybook"
**Describe the solution you'd like**
My company builds a shared component library between react-native and react-web projects. So I have a setup for storybook where stories are both rendered on the web with storybook/react and on native with storybook/react-native. That all works fine, but when developing, we have to manually keep the web and native views in sync. The storybook server for react-na

[2019-03-05 19:44] SamKirkland commented on #5883
Resolved by PR: #5881

[2019-03-05 19:58] artemirq commented on #4796
@ysgk Thanks, it's works

[2019-03-05 20:16] tograd commented on #5877
same issue I guess

[code]

[2019-03-05 20:29] #5880 closed

[2019-03-05 21:02] glockjt opened #5887 "Addons breaking App"
**Describe the bug**
I first started by just adding one addon and was getting this error (in screenshots below) but then I added the kitchen-sink of all the addons and still got this error.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the latest and greatest of storybook, material-ui/core, react, react-dom, and all the addons from the kitchen-sink example
2. Setup as described in

[2019-03-05 21:08] jangerhofer commented on #5877
Logging the three variables in the line `(baseConfig, env, config) => {` shows that the latter two are `undefined` with v5.  The `baseConfig` object has a `config` key whose value is an object with `module` and `resolve`.

I don't have any grasp on what the aforementioned trio of variables are intended to represent, but I did find that changing the enclosing function got me up and running.  My `we

[2019-03-05 21:10] korede360 opened #5888 "Error on v5 upgrade"
**Describe the bug**
After upgrading to v5, I get the error `Uncaught TypeError: Cannot read property 'Consumer' of undefined` and a blank screen.
**To Reproduce**
Steps to reproduce the behavior:
Upgrade a project from v4.1.4 to v5

**Expected behavior**
I expected it to work flawlessly, and see my stories.

**Screenshots**
![image](https://user-images.githubusercontent.com/15985212/53837697-8247

[2019-03-05 21:19] tograd commented on #5877
Thank you

Another issue that might crop up afterwards is in `.storybook/config.js`
[code]
using the default npx install it puts files into `../src/stories` not `../stories`

[2019-03-05 21:25] seanmcintyre opened #5889 "Dynamic Themes"
Unsure if this is a bug report or a feature request 😅

---

The current [docs](https://storybook.js.org/docs/configurations/theming/) state:

I am specifically trying to do this in conjunction with styled-components `<ThemeProvider />` and `@storybook/addon-knobs`. However, I have not yet been able to figure out how to do this in even a simple manner. My ultimate goal is to change both the Storybo

[2019-03-05 21:28] Armanio commented on #5782
Hmm, intresting.
Can i do it?

[2019-03-05 21:32] erikthedeveloper commented on #5706
For anyone running into the `EntryModuleNotFoundError` (I landed here while Googling / troubleshooting) I want to point out that it sounds like this is specific to yarn and that @jdelStrother's recommendation fixed it for me:

📝 I'm also not using any custom theming. I did try blowing away `node_modules` and even `yarn.lock`. Still had the same issue with `5.0.0`. `yarn add -D @storybook/theming`

[2019-03-05 21:34] Kacppian commented on #4976
yup, would love to contribute!

[2019-03-05 21:42] gaetanmaisse commented on #5782
Sure! But I think we should wait to merge https://github.com/storybooks/storybook/pull/5738. I will resolve conflicts this week and check with @shilman when we can merge it.

[2019-03-05 21:46] adamcarriere commented on #5831
This is also happening with `@storybook/react@5.0.0`. @andrewmarmion's suggestion solves this, but as he said this shouldn't be needed.

[2019-03-05 21:47] Armanio commented on #5782
Got it!

[2019-03-05 22:31] mneumark commented on #5256
I'm getting the same error regarding `publicPath` as well:
[code]

[2019-03-05 22:47] backbone87 commented on #5879
another thing: show a rotate button when a viewport is selected, so you dont have to open the dropdown to do it

[2019-03-05 23:16] artemirq commented on #5871
@tmeasday I have the same problem, but [error stack](https://pastebin.com/i2k26DH5) is much bigger. I think we need `core-js@2.6.3` dependency from `@storybook/ui`

[2019-03-05 23:18] tmeasday commented on #5888
Hi @korede360 - can you show the contents of your `package.json`?

You could try removing `node_modules` and `yarn.lock`/`package-lock.json` and reinstalling -- it could be a messed up set of modules.

[2019-03-05 23:19] tmeasday commented on #5887
Hi @glockjt - what was the first addon you added that saw the error?

[2019-03-05 23:19] tmeasday commented on #5883
Thanks @SamKirkland and thanks for the kind words!

[2019-03-05 23:19] #5883 closed

[2019-03-05 23:21] tmeasday commented on #5882
That's an odd one @cellog

[2019-03-05 23:23] tmeasday commented on #5878
I think you want `brandImage`? Is this a change we should document in `MIGRATION.md`?

[2019-03-05 23:24] tmeasday commented on #5877
Any one keen to send a PR to the docs to fix these two things? 🙏

[2019-03-05 23:26] tmeasday commented on #5876
This is a tricky one! I'm quite sure what the best fix is. Should we:

A) allow non-latin characters in `storyId`s? (part of the idea was to restrict them to make them simpler to work with, certainly want to restrict them in some ways)
B) transliterate non-latin chars to latin equivalents?
C) something else?

What did you have in mind @MerrickGit?

[2019-03-05 23:29] tmeasday commented on #5871
@artemirq that does seem like one way forward. I guess I am still wondering where that dependency comes from? I don't think babel asks us to add that as a direct dep; is there a babel dependency we are missing? (`@babel/runtime` would be what I would have guessed, but it doesn't depend on `core-js`)

[2019-03-05 23:33] artemirq commented on #5871
@tmeasday I don't know... Now I have other problem, which does not allow upgrade to `5.0.0` version. Sorry for offtop, but maybe you know?
![image](https://user-images.githubusercontent.com/17342159/53844893-32c7d480-3fb8-11e9-9587-99f8ebb301e6.png)

[2019-03-06 00:02] shilman commented on #5782
@gaetanmaisse we can merge whenever conflicts are resolved 👍 thanks for checking!

[2019-03-06 00:02] glockjt commented on #5887
@tmeasday this is my fault.  I installed storybook the other day and installed the addons today.  So it was a version mismatch.  I was running storybook 4.* and the addons were v5.  I just updated storybook to v5 and everything is fine.  My apologies again.

[2019-03-06 00:03] shilman commented on #5831
`@storybook/react-native@5.0.0` is getting close. thanks for your patience everybody!

[2019-03-06 00:06] tmeasday commented on #5684
Hey @codestitch you probably just need to carefully consider the import chain -- if your storybook imports a story, which itself imports a component which imports a style file, that style file will end up in the storyboook.

If the component imports a library which imports a ... etc etc -- so you just need to figure out how the bootstrap files are getting imported.

[2019-03-06 00:06] tmeasday commented on #5684
I guess I am going to close this as the issue has been resolved?

[2019-03-06 00:06] #5684 closed

[2019-03-06 00:10] shilman commented on #5889
Take a look at this PR to see how @hipstersmoothie did it? https://github.com/storybooks/storybook/pull/5841

[2019-03-06 00:12] backbone87 opened #5891 "Clicking a story in the storysource resets the addon panel"
When you use the storysource addon and click a story inside it, you switch to that story, but the addon panel resets and you see the initial tab insteadof keeping the storysource addon panel open at the position it was.

[2019-03-06 00:15] artemirq opened #5892 "ModuleParseError: Module parse failed: Unexpected character '�' (1:0)"
**Describe the bug**

When I upgraded Storybook from `4.0.9` to `5.0.0`, by starting `start-storybook`, I give error (see screenshot below)

**Expected behavior**

Storybook works without errors

**Screenshots**

![image](https://user-images.githubusercontent.com/17342159/53846231-3447cb80-3fbd-11e9-973e-851b465e2952.png)

**System:**
 - OS: `Windows 10`
 - Framework: `React`
 - Addons: `@storyboo

[2019-03-06 00:17] tmeasday commented on #5887
No worries! Glad you figured it out! Enjoy SB5

[2019-03-06 00:17] #5887 closed

[2019-03-06 00:24] Razzwan commented on #5892
The same error

[2019-03-06 00:37] tmeasday commented on #5871
Looks like this issue describes the problem more cleanly: https://github.com/storybooks/storybook/issues/5831 -- so I'll close this one.

[2019-03-06 00:37] #5871 closed

[2019-03-06 00:54] tmeasday commented on #5882
I took a look at this and it is completely bizarre.

It has someting to do with styled-components (if you e.g. comment out all the styled components in `KeyList.js` it no longer errors). I would say it's a problem with the styled components babel plugin but even if I disable it is still happens.

Any ideas @cellog?

[2019-03-06 01:35] shilman opened #5893 "React Native CLI install broken in SB5 (temporarily)"
Running the CLI `sb init` in an RN project installs the wrong version of libraries until we release `@storybook/react-native@5.1` which is coming soon.

### What's going on
- CLI is checking for the latest version of dependent libraries on NPM
  - Latest version of `@storybook/react-native` is 4.x
  - Latest version of the rest of `@storybook/*` is 5.0.x
- These versions are incompatible

### Work

[2019-03-06 01:35] tmeasday commented on #5831
PS this is not a react-native specific issue

[2019-03-06 01:37] tmeasday commented on #5831
Ok, i figured it out in the end, PR incoming

[2019-03-06 01:43] shilman commented on #5892
Any chance you can provide a sample repo?

[2019-03-06 01:52] tmeasday commented on #5831
The issue here is `pnpm` and it's non-deduping module install. I suspect the only fix would be to depend on `core-js` from every manager-side package. Is this the right solution?

[2019-03-06 01:53] tmeasday commented on #5831
Another option would be to use a webpack resolve alias

[2019-03-06 02:00] cellog commented on #5882
Thanks for taking a look. Our entire project is based on styled-components, so extricating it will be a no-go. If the issue is in styled components, it may be in their babel plugin? I think the big question is what is different between storybook 4.1 and 5.0 that is triggering the weird bug?

I won't have free cycles to investigate this immediately, but perhaps next week. If you think of anything f

[2019-03-06 02:01] kylepeeler commented on #5878
I tried both brandImage and brand and still am only seeing the title. :( Any other things to try?

[2019-03-06 02:07] tmeasday commented on #5882
Well don't worry plenty of projects use styled-components with SB5 so there is no need to stop using it. As I mentioned I tried disabling the babel plugin with no success. Maybe I didn't manage it to actually disable it? -- it does seem the most likely culprit (although I know that other projects use it successfully also).

Well probably a lot of things but nothing comes to mind that is directly r

[2019-03-06 02:13] shilman commented on #5878
I'm guessing this is probably a duplicate to https://github.com/storybooks/storybook/issues/5866

[2019-03-06 02:49] shilman commented on #5421
Boo-yah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.0 containing PR #5714 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-03-06 03:11] sizer opened #5895 "Will @storybook/react-native v5.0.0 release??"
**Describe the bug**
It looks to me that @storybook/react-native v5.0.0 is NOT released 🤔

**To Reproduce**
[code]

**Expected behavior**

expected that publish `@storybook/react-native` with other storybook libraries as same version 😃

**System:**

[code]

[2019-03-06 03:29] shilman commented on #5895
Yes it's work in progress and should be out in the next few weeks. We didn't have a clear timeline on that and didn't want it to hold up the 5.0 release. Will release and announce it soon. Thanks for your patience!

[2019-03-06 03:38] ZebraFlesh opened #5897 "IE11: webpack-hot-middleware's client requires EventSource to work"
**Describe the bug**
IE11 doesn't hot reload as you make changes.

**To Reproduce**
Steps to reproduce the behavior:
1. Get setup:
[code]
2. In Chrome and IE11, visit http://localhost:9011/?path=/story/addons-backgrounds--overriden
3. Edit stories/addon-backgrounds.stories.js and change the overridden story from
[code]
to
[code]
4. In Chrome, the background changs from blue to pink. IE11 fails to

[2019-03-06 04:23] simezi commented on #5817
@MrLoh

I also encountered this issue ( I use `@storybook/vue` though).
And I found that one of the packages in `package.json`  depended on old `@storybook/addons` package which depended on old `@emotion/*` package.

As a workaround, I wrote `resolutions` field for that library, and that solved the issue for me.

[code]

[2019-03-06 05:15] yingzuo opened #5898 "Preview doesn't load svg components correctly"
**Describe the bug**
Preview doesn't render the svg files imported as a React component correctly even with the custom webpack config. It always looks for the svg file under static/media.

**To Reproduce**
Steps to reproduce the behavior:
1. import the svg as a React component
[code]

2. Run "start-storybook -p 6006 -c .storybook"

3. Storybook ui is loaded with the preview of components.  Error i

[2019-03-06 05:50] shilman commented on #5898
Yeah, hope to fix that today! Closing this as a duplicate to #5708

[2019-03-06 05:50] #5898 closed

[2019-03-06 06:04] mohsinulhaq commented on #4995
Hi, what is the proper solution here? I was waiting for 5.0 release, but seems like it's still the same.

[2019-03-06 06:14] shilman commented on #4995
@mohsinulhaq the presets solution described above. we'll support it moving forward.

[2019-03-06 06:35] delewis13 opened #5906 "Can't locate module 'fs', 'tls', 'net'. Subsequent failure to extend default webpack config."
**Describe the bug**

Attempting to create a story for a component that uses NPM modules that require 'tls', 'fs' and 'net'.

Receive error [note: do not receive this during usual build]:

[code]

Subsequently attempt to resolve by extending default webpack config as per [https://github.com/request/request/issues/1529](url). As such add the following webpack.config.js file to my .stories folder wh

[2019-03-06 06:38] mohsinulhaq commented on #4995
Using that method my custom addon config is correctly compiling, but now .webpack/config.js is causing issue. How do I pass config.js through webpack first? Apologies if I have missed it in the documentation.

[2019-03-06 06:43] mohsinulhaq commented on #4995
thanks, the solution worked.

[2019-03-06 06:46] mohsinulhaq commented on #4995
However, I get this warning:
"Custom presets" is an experimental and undocumented feature that will be changed or deprecated soon. Use it on your own risk.

[2019-03-06 06:52] ehzhang opened #5907 "Story search does not work in production mode"
Thanks for the great library, super excited about SB5.0!

**Describe the bug**
In production mode, typing two characters into the search fails with the error:
[code]

Typing > 2 characters leads to:
[code]

In development, this is not an issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a custom webpack config, and force the `config.mode = "production"`
2. Start up storybook loca

[2019-03-06 06:56] BinitaBharati commented on #2615
I bumped into this thread while searching for "React Target container is not a DOM element". This is not related to storybook, nevertheless, I will leave my comments here, as it may help some other person. So, I was facing the same error with minimal React.js code. I had a basic html with a empty target div, which had to be populated by React js code.  As mentioned by @Mandy94, moving the dom cont

[2019-03-06 07:41] FrAgFo0d opened #5908 "Can't resolve 'polished' in /node_modules/@storybook/ui/node_modules/@storybook/components/dist/Button"
**Describe the bug**
When running build-storybook on Codeship I will get an error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

The problem is I cannot reproduce this locally.
What I can see locally is that I do not have  the 'components' directory in 'editor/node_modules/@storybook/ui/node_modules/@storybook'.

Running the build on codeship will produce errors.

I have tried adding

[2019-03-06 07:50] FrAgFo0d commented on #5908
Just read this [command](https://github.com/storybooks/storybook/issues/5817#issuecomment-469743481) on an other issue for 5.0.0.

However I can see the same thing happening here where the dependancy is not avaiable, and even hidden deeper as this requires it Button to be in:

```/@storybook/ui/node_modules/@storybook/```

[2019-03-06 07:53] FrAgFo0d commented on #5817
I wish it did, but after doing this I cannot say the problem is caused by other items being installed with non-matching versions or by storybook itself.

I can try ```yarn add @emotion/core @emotion/styled``` to see if it is resolved. `
However I rather not add more dependancies in my own project ;)

[2019-03-06 08:18] MerrickGit commented on #5876
We are creating a banking app and our customers interested in сyrillic stories. I think others company which use storybook also need non-latin symbols, for example, chinese companies.

My vision, Storybook need to allow non-latin characters otherwise these companies will not be able to update to new version.

What do you think about it? @tmeasday @shilman

[2019-03-06 08:26] web-padawan opened #5910 "[5.0.0] Prop type error in the console when resizing browser window to less than 600px"
**Describe the bug**
The following error appears in the console:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Resize the window to be less than 600px
2. See the console
3. When refreshing page in a small window, error appears again

**Expected behavior**
No error in the console

**Screenshots**
![resize-error](https://user-images.githubusercontent.com/10589913/53866211-ac33e700-3f

[2019-03-06 08:31] ehzhang commented on #5907
I've been able to make a workaround for this issue by setting in my storybook config:
[code]

https://webpack.js.org/configuration/optimization/#optimizationmoduleids

[2019-03-06 08:34] shilman commented on #5907
Thanks @ehzhang for the bug, the fix, AND the workaround! You're awesome 💯!!! Waiting for more PR comments, then will merge & release unless there's a better solution.

[2019-03-06 08:36] shilman commented on #4995
@mohsinulhaq Thanks, I'll remove that warning!

[2019-03-06 08:43] web-padawan opened #5912 "[5.0.0] Error message when removing value from number knob"
**Describe the bug**
When removing the value from the "number" knob, following error appears in the console:

<details>
<summary>Full log</summary>
<pre>
Warning: `value` prop on `input` should not be null. Consider using an empty string to clear the component or `undefined` for uncontrolled components.
    in input (created by Context.Consumer)
    in Input (created by NumberType)
    in NumberTy

[2019-03-06 08:50] sruda commented on #5878
Same behavior. I modified the *brand* property, and nothing happens.

[2019-03-06 09:11] bmsuseluda opened #5913 "cra-ts-kitchen-sink example doesn't work in IE11"
Hello everyone,

i'm trying to get the cra-ts-kitchen-sink example to run in IE11 but getting a blank page without errors in the console.

**To Reproduce**
Steps to reproduce the behavior:
checkout https://github.com/storybooks/storybook/tree/next/examples/cra-ts-kitchen-sink
yarn storybook
open in IE11

**Expected behavior**
I was expecting error messages in the console or a working storybook.

*

[2019-03-06 09:13] PhillippOhlandt commented on #5874
@shilman That could be it. Just saw that we have an open PR which updates to storybook v5 so I guess it will work as soon as it's merged. Closing this for now.

[2019-03-06 09:13] #5874 closed

[2019-03-06 09:17] michaelfarrell76 opened #5914 "Searching for component broken on static build"
**Describe the bug**
I recently upgraded to v5. I have a relatively simple storybook setup. I can run the `start-storybook` and get a functional storybook environment no problem. I can search components and everything

 But when I use `build-storybook` and host the assets using `http-server`, everything loads up fine and all of my stories show, however when I try to search, the components do not g

[2019-03-06 09:19] homburg commented on #5817
Worked for us to add `@storybook/theming` as an explicit dependency

[2019-03-06 09:22] insanepl commented on #5817
I just encountered same problem on Mac OSX, on Windows everything works fine on Mac I had to run ```npm i @emotion/core @emotion/styled``` to make it work

[2019-03-06 09:28] wuweiweiwu commented on #5914
I just also recently discovered this. thanks @michaelfarrell76

[2019-03-06 09:49] shilman commented on #5914
Thanks for the report! This is duplicate to #5907 where there's also a solution PR pending. Closing for now 👍

[2019-03-06 09:49] #5914 closed

[2019-03-06 09:53] Sycoraxya commented on #5888
@tmeasday
I had the same problem and that solution fixes it for me

[2019-03-06 09:56] dharmawankenny opened #5915 "[5.0.0] addon-info does not render code snippet markdown given on the text parameter"
**Describe the bug**
After upgrading to 5.0.0, addon-info does not render any code snippets given via the `text` key on the `info` parameter on the `addParameter()` function. It successfully displays all the given text but fails and does not display the given code under the ~~~ ~~~ notation, i.e:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any story, put any string with afo

[2019-03-06 10:12] shilman commented on #5893
Awesome gist from @johnwylie70 with the current install process end to end:

https://gist.github.com/johnwylie70/1f019c643641f56b400acc78415d398d

[2019-03-06 10:17] tourniquet commented on #5888
@tmeasday , thank you! This solution worked for me!

[2019-03-06 11:05] anru commented on #5393
I have same issue
![image](https://user-images.githubusercontent.com/130013/53876918-85cd7600-4010-11e9-9f33-03fd09508e3d.png)

[2019-03-06 11:18] codestitch opened #5916 "Set Storybook to stop including styles from app's style in angular.json for total isolation"
**Describe the bug**
With regards to using which style should be included in the iframe, SB5 by default gets the style from the default app. Looks at angular.json and gets the default app's styles.

Is there a way to make SB look the other way around? Like, instead of SB gettings styles written in **angular.json** file, looks at a different file, say in config.js or other stuff. So that it complet

[2019-03-06 11:21] dnepro opened #5917 "Backgrounds addon has overlapping element"
Hello Everybody,
i first wanted to thank you a lot for this project 👍

**Describe the bug**
I've just followed the install guides for the react view layer and added the backgrounds addon.

I see that this element is overlapping the iframe and creates a white background:
[code]

If i remove the `background`-property or delete the element completely, i can see and switch the background as expected.

[2019-03-06 11:53] artemirq commented on #5892
@shilman So I found reason. When I disable `storybook-addon-material-ui`, Storybook works normally. This issue related to `storybook-addon-material-ui` repository

[2019-03-06 11:59] artemirq commented on #5892
I close this issue in [favour](https://github.com/react-theming/storybook-addon-material-ui/issues/92) at `storybook-addon-material-ui` repo

[2019-03-06 11:59] #5892 closed

[2019-03-06 12:15] tuchk4 opened #5918 "Get current Storybook theme"
Storybook version 5.
Stroybook theming https://storybook.js.org/docs/configurations/theming/

How can I get current theme values at storybook for vue (`@storybook/vue`)?
I have a story decorator written on Vue and need to get current storybook theme.

Theme is set  in this way:
[code]

---
For React this should work:

[code]
It is ref to https://emotion.sh/docs/emotion-theming#withthemecomponent-r

[2019-03-06 12:16] anru commented on #5393
Solved issue by upgrading babel from 6 to 7 version

[2019-03-06 12:17] tuchk4 commented on #5918
Would be nice if add all theme values as CSS variables to the root element.

So it will be possible to access them from vanilla CSS.
All dynamic features should work correctly.

[2019-03-06 12:35] tuchk4 commented on #5918
@ndelangen suggested me this solution:
[code]

[2019-03-06 12:35] sht5 commented on #1048
@khankuan adding my solution
[code]

@ndelangen would this be beneficial to docs? maybe i can make a pull request if so.

[2019-03-06 12:36] #5918 closed

[2019-03-06 12:52] thalseth opened #5919 "Storybook 5 - Missing emotion dependencies"
Start storybook fail after installing storybook 5 because of missing dependencies.

`*Module not found: Error: Can't resolve '@emotion/core' in '/my-package/node_modules/emotion-theming/dist'`

Dependencies:
@emotion/core
@emotion/styled

Maybe @storybook/react should include these dependencies?

For now i installed the dev dependencies manually:
`npm i @emotion/core@^10.0.7 -D && npm i @emotion/s

[2019-03-06 12:58] dnepro commented on #5917
Forget it it was a Chrome plugin, i just now double checked it on FF and it worked, sorry for the fuzz.

[2019-03-06 12:58] #5917 closed

[2019-03-06 13:35] Pixelatex commented on #5708
@shilman any eta on this thing? 😄

[2019-03-06 13:43] pfftdammitchris commented on #5919
I solved it by removing node_modules and package.lock.json + npm install

[2019-03-06 14:13] kylepeeler commented on #5878
FWIW The default storybook logo doesn't even show up for me, it only shows the title of the Storybook. Would this have anything to do with this? [Screenshot](https://www.dropbox.com/s/ype7899ue72nq00/Screenshot%202019-03-06%2009.13.07.png?dl=0)

[2019-03-06 14:25] pedroabreu commented on #5919
Removing the `addons-options` (which is deprecated) fixed it for me. Removing the lock file it's a bit of a last resort move (in my opinion)

[2019-03-06 14:36] domyen opened #5921 "Search doesn't search on static storybooks"
**Describe the bug**
Search doesn't search on staticly deployed Storybooks.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a static storybook [here](https://artsy-reaction.netlify.com/?path=/story/apps-artwork-page-components-artworkimagebrowser--artworkactions) or the [official SB](https://storybooks-official.netlify.com/?path=/story/ui-panel--default)
2. Click on the search input
3.

[2019-03-06 14:58] jonrimmer commented on #4098
I just tried using Storybook v5 in an Angular project and the performance with knobs is so atrocious I'm reconsidering using it at all. 2 - 3 second pauses for every keypress I type something into a knobs text field.

The knobs addon is not "framework agnostic" if its design is fundamentally incompatible, performance-wise, with Angular and Vue. How did a patch with such a massive, massive performa

[2019-03-06 15:18] filiplindbladh commented on #5877
Can't get the example with babel-loader to work either! tried some different webpack configs but no luck, it looks like this:

[code]

any ideas?

[2019-03-06 15:27] whengely commented on #5915
I am also experiencing this with the ```js ``` syntax.

[2019-03-06 15:29] NicoleGrondinAlayacare commented on #674
This seems to have regressed with version 5.0.0. Are there any plans to fix this?

[2019-03-06 15:30] dai4 commented on #5877
@tograd Did you manage to find a workaround for the config issue?

[2019-03-06 15:39] vpicone opened #5923 "Allow for styling of the addon-notes panel"
**Is your feature request related to a problem? Please describe.**

With the current theming options, it's very difficult to style the notes panel when needed. Using backticks for inline code results in unreadable text.

![screen shot 2019-03-06 at 9 33 12 am](https://user-images.githubusercontent.com/4078018/53892960-e64dba80-3ff2-11e9-81b9-e5f28669edb1.png)

---
**Describe the solution you'd lik

[2019-03-06 15:40] ShaiDemri commented on #3398
me too, any news?

[2019-03-06 15:43] tograd commented on #5877
@dai4

yes just change to `require.context('../src', true, /.stories.tsx$/)` if you put `.stories` files everywhere, or `require.context('../src/stories', true, /.stories.tsx$/)` if you keep them in `src/stories` folder only

[2019-03-06 15:45] dai4 commented on #5877
@tograd Thanks for your reply!

I misunderstood what you said as I'm having a different issue where this bit of code `require.context('../stories', true, /.stories.tsx$/)` is not actually looking only in the `../stories` folder, but rather everywhere, starting from root.

[2019-03-06 15:57] FrancisVega commented on #5875
I'm getting the same error, but just when I use  `createGlobalStyle`.

**Explain**

I'm started a new project from scratch and the error **just appeared when I tried to use `createGlobalStyle`**, not before.

I also get the error

[code]

[2019-03-06 16:08] CodeByAlex commented on #4098
Hey @jonrimmer, looks like there is a lot of talk about this performance issue especially using angular. I have a PR open that should fix this here: https://github.com/storybooks/storybook/pull/5811

@shilman , could we take a look at merging this in. It hasn't received any feedback yet but follows what @tmeasday and I were solutioning here: https://github.com/storybooks/storybook/issues/4740#issu

[2019-03-06 16:09] shilman opened #5925 "Deep linking to "kinds" broken in SB5"
H/t @NicoleGrondinAlayacare

Confirmed the old behavior in 4.x and the new (regressed) behavior in 5.x.

4.x: https://5c7e1a14bc4b210008a05f9f--storybooks-official.netlify.com/?selectedKind=Addons%7CKnobs.withKnobs

5.x: https://storybooks-official.netlify.com/?selectedKind=Addons%7CKnobs.withKnobs

---

~~Click on: https://storybooks-official.netlify.com/?path=/story/ui-menuitem--default~~

~~Bef

[2019-03-06 16:11] shilman commented on #674
Thanks for the bug @NicoleGrondinAlayacare -- tracking it here: https://github.com/storybooks/storybook/issues/5925

[2019-03-06 16:26] shilman commented on #5708
Played around with this today and came up with this partial workaround. Issue is still WIP: #5924

[2019-03-06 16:30] karldanninger opened #5926 "Upgrade to 5.0.0 svg import error"
**Describe the bug**
After upgrading to 5.0.0, I'm getting an error on import statements for svg files

[code]

I do not have a custom webpack config file.

[2019-03-06 16:31] jonrimmer commented on #4098
@CodeByAlex Yeah I saw that. Debouncing should help disguise the problem somewhat, but the fundamental problem would remain: Angular is not a framework where you just re-render the entire component tree whenever something changes. This an approach that is 100% perfect for React, and 0% perfect for anything that does not work in the same way. Knobs should never have been rewritten to work like this

[2019-03-06 16:33] shilman commented on #5926
Hey @karldanninger! What project type?

Something def broke here. I'm trying to figure it out in #5924 -- so far only a basic workaround at the surface. Not sure what changed and am not a webpack wizard like @ndelangen

[2019-03-06 16:40] Pixelatex commented on #5708
@shilman the weird thing is that this used to work with my webpack setup, (not full control) but it seems to just ignore my loaders now 😕seems like either something undocumented changed in the webpack api or something is broken..

[2019-03-06 16:42] jangerhofer commented on #5877
@tmeasday: Sure!  I would be happy to take a stab at it.  It looks to me like [this line](https://github.com/storybooks/storybook/blob/2cf21e6f097c80e721f5a65a92974031887f9e41/lib/core/src/server/preview/custom-webpack-preset.js#L27) loads the function provided in a custom `webpack.config.js` file.  I see that said function's signature changed [in this commit](https://github.com/storybooks/storybo

[2019-03-06 16:55] karldanninger commented on #5926
@shilman Oh gosh, I got pretty close to what you did in #5924. Adding `@svgr/webpack` & `webpack.config.js` within the `.storybook` dir still doesn't seem to take effect for me.

[2019-03-06 16:55] jangerhofer commented on #5877
@filiplindbladh: Are you blocked by any error in particular?  I just tried using the `npx -p @storybook/cli sb init` set up method on a fresh Create-React-App Typescript project, and the `webpack.config.js` below (straight from [the docs](https://storybook.js.org/docs/configurations/typescript-config/#setting-up-typescript-to-work-with-storybook-1) worked on the first go for me.

[code]

[2019-03-06 16:59] korede360 commented on #5888
@tmeasday Your solution works! Thanks a lot.

[2019-03-06 16:59] #5888 closed

[2019-03-06 17:37] Nightbr commented on #4600
@nisheed2440 your wrapper seems promising, I will test this soon! But it could be great to have a "native" integration documented by Storybook 👌

[2019-03-06 17:40] jcousins-ynap opened #5927 "Viewport Addon: Border-box modifies iframe size"
The border of `#storybook-preview-iframe` reduces the width and height of the document by 20px thanks to `* { box-sizing: border-box; }`.

This means that a viewport is not the size it says it is.

With the following viewport defined:
[code]
The iFrame document should be 320px by 460px, but instead it actually is 300px by 460px.

![image](https://user-images.githubusercontent.com/46780058/53901383

[2019-03-06 18:00] lucas-carl commented on #5879
I would like to work on this!

[2019-03-06 18:10] CodeByAlex commented on #4098
@jonrimmer I agree that the current force-rendering approach is not best for all frameworks. I develop primarily with Angular so I understand your frustration. The PR that I put out which uses the debouncing technique was implemented to help improve what currently exists in the addon knobs codebase. I think we should continue to look into options where we can reuse the knobs foundation logic and a

[2019-03-06 18:22] Armanio commented on #5876
Fully support comrade @MerrickGit.
It's weird. I get empty string instead of  'сторис'.
If SB not support non-latin symbols must throw error.

[2019-03-06 18:47] seanmcintyre commented on #5889
My use case is fairly different. I elected to go the route of writing an addon, but currently struggling with getting the theme data to pass to and re-render the iframe with the story wrapped in a `ThemeProvider`. I haven't found documentation for doing something like this.

So far I've figured out that I can grab the current theme information off the context in a decorator like so:
[code]
This do

[2019-03-06 18:49] jth0024 commented on #5298
I'm seeing this issue as well

[2019-03-06 18:56] DanRYoung commented on #5877
@jangerhofer For me at least, the issue arises in _upgrading_ Storybook from 4.x to 5 on my TypeScript CRA app, [per the upgrade guide](https://medium.com/storybookjs/storybook-5-migration-guide-d804b38c739d).

[2019-03-06 19:26] regs79 commented on #5878
The below worked for me.

I just had to ensure I didn't have a name set in the main storybook config file under addParameters. That seems to overwrite the logo.

[code]

[2019-03-06 19:27] aaryn101 commented on #5915
I see this issue when using individual story parameters as well.

[2019-03-06 19:48] ZebraFlesh commented on #5897
This isn't an issue with backgrounds addon -- it's just a handy minimal example. Any storybook will fail to update in IE11 due to the missing EventSource polyfill.

[2019-03-06 20:30] havgry commented on #5919
I got the same error after upgrading to 5.0.0. Fixed it by removing node_modules and the lockfile (no `addons-options` dependency) but it shouldn't be necessary in my opinion.

[2019-03-06 20:32] seanmcintyre commented on #5889
I cannot figure out how to retrieve what I set via `api.setOptions` in the decorator:

[code]

[2019-03-06 20:32] markgaze opened #5931 "Knobs text shares the same colour as the sidebar text colour"
**Describe the bug**
When theming the site in v5.0.0, the knobs description text shares the same text colour as the sidebar so when attempting to have a dark coloured sidebar with white text but a white value for `appContentBg` the text is impossible to read.

**To Reproduce**
Use the following theme:

[code]

Changing between `base` of `light` or `dark` doesn't make any difference either.

**Expe

[2019-03-06 20:39] ehzhang commented on #5921
if interested, there is a workaround identified in #5907 (and a pr to fix in #5907)

[2019-03-06 21:19] asiacomeau opened #5932 "SB5: Actions panel not clearing between stories"
**Describe the bug**
After upgrading to Storybook 5, the Actions panel does not clear out when I switch between stories. This happens both when omitting `clearOnStoryChange` from storybook config, and when setting it to `true`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a story that dispatches actions
2. Cause the action to be dispatched (the action shows up in the actions panel)

[2019-03-06 21:22] kylepeeler commented on #5878
Yup, I had brandImage as a property within brand for some reason. Also it was helpful to note that the brandImage value should be a url (or a data url if you are using the included webpack url-loader)

[2019-03-06 22:07] tmeasday opened #5933 "Using `@storybook/theming` in the preview imports emotion (and thus requires `react@16.3`)"
**Describe the bug**
It seems `import { create } from '@storybook/theming'` ends up requiring emotion.

The error you'll see is

[code]

**To Reproduce**
1. Create a React@15 app
2. `import { create } from '@storybook/theming'` in `.storybook/config.js`

**Expected behavior**
`create` is a simple function it shouldn't need to require emotion?

**System:**
 - Version: 5.0.0

[2019-03-06 22:15] petekp opened #5934 "Uncaught TypeError: Cannot read property 'length' of undefined at serializeStyles"
**Describe the bug**
After following the migration docs from v4 to v5, the following error prevents Storybook from rendering:

[code]

After [seeing this same error on the `docz` repo](https://github.com/pedronauck/docz/issues/604), I suspect it's due to conflicting versions of `emotion` that storybook and docz are using, both of which are in separate packages but are hoisted into a shared set of

[2019-03-06 22:21] shilman commented on #5921
Closing as duplicate to #5907. Community is one step ahead @domyen 😘

[2019-03-06 22:21] #5921 closed

[2019-03-06 22:26] shilman commented on #5879
Cc @ndelangen

[2019-03-06 22:35] tmeasday commented on #5876
Of course! We need to support non-latin story names of course! This was just an oversight in the design 🤦‍♂️

I just was wondering because your comment implied you had a solution in mind. But we'll figure something out very soon.

[2019-03-06 22:35] petekp commented on #5934
Confirmed that this is a conflict between `docz` and `storybook`. After removing `docz` as a dependency, Storybook starts up fine.

[2019-03-06 22:39] jniemin opened #5935 "[5.0.0] Web building slow"
**Describe the bug**
I have an app build with create-react-app. Upgrading @storybook/react from 4.1.13 to 5.0.0 increased webpack build time from 500ms to 5000ms. Initial startup was increased from 8s to 11s, but the bigger issues is that while doing small change to code completion time went 10 fold.

**To Reproduce**
Steps to reproduce the behavior:
1. Start storybook
1. Make modification to exis

[2019-03-06 22:46] shilman commented on #5935
Any chance you can provide a repro repo?

[2019-03-06 23:19] jniemin commented on #5935
Unfortunately it's private repo. I'll see if I can create custom repo that reproduces the issue

[2019-03-06 23:44] kaiyoma commented on #5276
Running into this with Storybook for our React components. Versions:

[code]

[2019-03-06 23:56] jniemin commented on #5935
I created a new create-react-app and added storybook as dependency. With quick test I saw some 20-30ms longer built times with 5.0.0. Not sure if the difference grows bigger when project gets bigger.

[2019-03-07 00:01] Glavin001 commented on #4801
Still an issue.

[2019-03-07 00:50] tmeasday commented on #5925
But that's just because there is no story called "UI|MenuItem:default"?

This link works: https://storybooks-official.netlify.com/?path=/story/ui-layout-desktop-mocked--default

[2019-03-07 00:53] tmeasday commented on #5925
As does this:

https://storybooks-official.netlify.com/?selectedKind=UI%7CPanel&selectedStory=no+panels&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Fstories%2Fstories-panel

[2019-03-07 00:53] tmeasday commented on #5925
Not sure what's going on here 🤷‍♂️

[2019-03-07 01:12] ReasonableDeveloper commented on #5183
Using `"react-scripts": "2.1.8"` and `storybook` v5, I'm getting the same error.
As stated by others, manually adding `"babel-loader": "8.0.4"` as a `devDependency` fixed it.

[2019-03-07 01:19] shilman commented on #4801
Hmmm @tmeasday I bet this is due to https://github.com/storybooks/storybook/blob/next/MIGRATION.md#individual-story-decorators

[2019-03-07 01:32] tmeasday commented on #5888
:/

[2019-03-07 01:40] adamjang commented on #5878
@regs79 Solution worked for me too. SVG's didn't work though and I couldn't have a URL set in the storybook config.

[2019-03-07 01:41] tmeasday commented on #4801
How do you mean @shilman?

I'm confused though -- is this in the info addon? Have you tried the story source addon? I suspect it may work in this case.

[2019-03-07 01:45] shilman commented on #5925
Right on. This was a bad URL 👍

[2019-03-07 01:59] shilman commented on #5876
Discussed with @tmeasday:
- Change from whitelist chars to blacklist? Expand whitelist? Technically a breaking change.
- Allow specifying an ID separately from the story name? Probably inconvenient.

==> Find list of chars to expand to

[2019-03-07 02:08] shilman commented on #5926
@karldanninger Are you using NextJS and styled components?

@tmeasday and I think this is duplicate to https://github.com/storybooks/storybook/issues/5882

[2019-03-07 02:34] karldanninger commented on #5926
@shilman I tried removing all styled-components after seeing that issue earlier, with no change to the error.

It’s a webpack 4 project. I even tried adding a very similar webpack config in the .storybook dir similar to the one you wrote earlier today as part of #5924 still no luck unfortunately :(

[2019-03-07 02:48] shilman commented on #5926
I really have no clue about webpack 😖 but I think this is a different issue from the one I'm trying to address in #5924. I'll have an update on that issue in the next few hrs, and possibly it will help with this one too.

[2019-03-07 02:51] shilman commented on #5878
@ndelangen Since you're working on the theming documentation, please make sure this gets clarified in the docs.

[2019-03-07 03:22] mt-roberto opened #5936 "Failed to decode downloaded font"
**Description**
Storybook 5 fails to decode custom fonts. The console returns: `Failed to decode downloaded font: http://localhost:9001/static/media/fonts.ttf`.

The font is available when accessing that url directly: `http://localhost:9001/static/media/fonts.ttf`

**To Reproduce**
Just import the font in one of your jsx files:

`import 'custom-font/style.css';`

**Expected behavior**
Version 4 of

[2019-03-07 04:03] tmeasday commented on #5933
Do we still need the emotion exports in `base.ts`? (`animation` / `easing`)? I was under the impression we weren't using them.

My proposal here is to create a `lib/theming/preview.ts` file which only imports/exports the non-emotion stuff. Then users can `import { create } from '@storybook/theming/preview';`

That seems like the back-compat way to fix this. A non-back compat way would be to remove

[2019-03-07 04:13] shilman commented on #5936
@ndelangen @tmeasday any idea what could be happening here?

[2019-03-07 04:21] tmeasday commented on #5866
The source of this issue is all these checks for `null` vs `undefined` in this component:

https://github.com/storybooks/storybook/blob/b19ae6b9e44e8759a4735169059cfa05f104d5e9/lib/ui/src/components/sidebar/SidebarHeading.js#L68-L93

Looking at the relevant stories, it looks like you are supposed to set the `brandImage` to `null` if you want no image:

https://github.com/storybooks/storybook/blob/

[2019-03-07 04:48] tmeasday commented on #5936
No idea -- any chance of a reproduction @mt-roberto?

[2019-03-07 04:53] tmeasday commented on #5831
Hmm.. there already is an alias: https://github.com/storybooks/storybook/blob/b19ae6b9e44e8759a4735169059cfa05f104d5e9/lib/ui/paths.js#L15

[2019-03-07 04:58] tmeasday commented on #5831
Without a reproduction I am not totally sure but I am guessing the issue may come from the preview side. I see that `app/react` has a dependency on `core-js` but `app/react-native` does not. @adamcarriere can you post the stack trace of the error you saw?

[2019-03-07 05:09] mt-roberto commented on #5936
I think it has to do with the webpack configuration, according to this issue on webpack: https://github.com/webpack/webpack/issues/1468

[2019-03-07 05:13] tmeasday commented on #5936
@mt-roberto are you importing the font from JS? Your code snippet imports CSS (which I assumed imported the font via CSS syntax, not webpack).

If you are importing the font directly, are you using a loader for that? You might be tripping up on the fact that SB5 adds file loader to the default configuration

[2019-03-07 05:33] mt-roberto commented on #5936
Ok, I fixed this replacing the fonts rules on Storybook webpack with my rules:

[code]

[2019-03-07 06:08] littlepoolshark commented on #5217
@doroncy yeah,I finally  get around this issue by creating a const parameter with the markdown.

[2019-03-07 07:10] ndelangen commented on #5876
Expand whitelist isn't a breaking change IMHO

Maybe this:
https://www.npmjs.com/package/sanitize-filename

[2019-03-07 07:23] Armanio commented on #5876
@ndelangen like a good solution.

[2019-03-07 07:37] cpannwitz commented on #5028
I tried the new SB v5.0 today and experienced the exact same bug, except I'm not using the Typescript-CRA, just "default" CRA v2. Also I'm using Yarn v1.13.0.

What I did:
1) (preparation, git fetch & git pull, rm -rf node_modules & yarn)
2) `npx -p @storybook/cli sb init` -> succeeded
3) Run `yarn storybook`
4) Error appears: `Cannot find module '@babel/plugin-syntax-jsx'`

Resolved it with the w

[2019-03-07 07:59] Pixelatex commented on #5708
pre-v5, this config worked for me without issue, post-v5 it doesn't do a thing, it just ignores it.
[code]

Looking at the docs, this should still be the correct way of using them but not a single rule seems to be used right now, it's not just the svg's that get frapped.

[2019-03-07 08:47] mohsinulhaq opened #5940 "Story search not working as expected in SB5"
**Describe the bug**
As in previous versions, only those stories showed up which contained a part of the input text. Along with the text highlighted. Right now, I am not sure how the filtering is done as completely unrelated text still makes stories pass the filter, as shown in the screenshot:

**To Reproduce**
1. Go to https://next--storybooks-official.netlify.com
2. Click on 'Search input'
3. Ty

[2019-03-07 09:06] shilman commented on #5940
@ndelangen This is what we discussed around searching random fields that are not the story name/kind. I seriously propose we remove those extra fields until we have UI to show them.

[2019-03-07 09:40] Ziv-Barber opened #5941 "5.0.0 not supporting images"
**Describe the bug**
Version 4.1.3 allowing using images in stories:

[code]

I do had to setup .storybook/webpack.config.js (I just copied the rules from my normal webpack file) but it worked.

After upgrading to 5.0.0 all the images become broken.

**To Reproduce**
My .storybook/webpack.config.js file:

[code]

**Expected behavior**
To be able to see images like it was working in 4.1.3

**System

[2019-03-07 09:47] sargant opened #5942 "Upgrading from Storybook 4.1.13 to 5.0.0 - Cannot find module '@emotion/core/package.json'"
**Describe the bug**

When upgrading from Storybook 4.1.13 to 5.0.0, an attempt to run `start-storybook` results in the error message `Error: Cannot find module '@emotion/core/package.json`.

There is no `node_modules/@emotion/core` folder. The only copy that gets installed is due to the dependencies within `@storybook/theming@5.0.0`, so it's not at the top-level `node_modules` folder, but instead

[2019-03-07 09:58] sargant commented on #5942
Note that installing `@storybook/theming` fixes the error - is this package now mandatory?

[2019-03-07 10:05] ndelangen commented on #5876
@Armanio I'm not sure if you mean my suggestion is good or bad 😿

@shilman suggested using slugify, which seems top make a lot of sense to me too.

[2019-03-07 10:08] shilman commented on #5942
Should not be mandatory. We're still trying to get to the bottom of this -- feels like a yarn bug, but it's all pretty opaque. `@emotion/core` and `@storybook/theming` are def in your dependency tree, but they are just not getting hoisted properly AFAIK.

[2019-03-07 10:10] viktormill commented on #5942
Im getting the exactly same error with npm and package-lock. `Error: Cannot find module '@emotion/core/package.json'`

[2019-03-07 10:21] shilman commented on #5941
Related https://github.com/storybooks/storybook/issues/5708

[2019-03-07 10:24] shilman commented on #5942
Resolving this as a duplicate to https://github.com/storybooks/storybook/issues/5919

We still don't know what's going on tho

[2019-03-07 10:24] #5942 closed

[2019-03-07 10:26] sargant commented on #5919
As #5942 was closed as a duplicate of this, adding what I said there:
* Removing `yarn.lock` and `node_modules` and reinstalling from `package.json` only did _not_ work
* Adding `@storybook/theming` *does* work (hoists `@emotion/core` up to the top level of `node_modules`)

[2019-03-07 10:28] shilman commented on #5919
Sorry @sargant I goofed. https://github.com/storybooks/storybook/issues/5817 has more info and is also a dupe. Resolving this one also as a dupe. Thanks for your patience.

[2019-03-07 10:28] #5919 closed

[2019-03-07 10:38] wirtzdan commented on #5878
I got this to work with an SVG. It's important to set the `width` and `height` inside the svg.
Here is what worked for me:

**logo.svg**
[code]
**theme.js**
[code]

[2019-03-07 11:26] Armanio commented on #5876
@ndelangen sorry for implicit message. It's not sarcasm, good solution.
Blacklist is better than whitelist.
Of course it's only my opinion.

[2019-03-07 11:38] Nightbr commented on #5017
Hey, same bug here with Web Components (build with Stenciljs):

[code]

The stories is not rerendered :/ I will try to return and HTML string to see if it is rerendered.

[2019-03-07 12:41] anki247 commented on #5923
This is how the `addons/notes/README.md` looks in v5.0.0 with dark theme.
![image](https://user-images.githubusercontent.com/3366211/53957477-bda2ef00-40de-11e9-96e9-83f1f6ea1781.png)

[2019-03-07 12:50] customcodepl opened #5945 "a11y addon - addParameters doesn't work (react)"
I've tried to limit inspect elements only to selector scope.

In `config.js` file I added:
[code]

**Expected behavior**
It should be limited to provided selector.

**Screenshots**
![zrzut ekranu 2019-03-7 o 13 34 48](https://user-images.githubusercontent.com/12142840/53957111-d232b780-40dd-11e9-9e00-0648faf21227.png)

**Code snippets**
If applicable, add code samples to help explain your problem.

[2019-03-07 13:36] shilman commented on #5945
@customcodepl I just took a look at the code and it looks like the addon lost support for the `element` parameter in the v4 => v5 upgrade:

https://github.com/storybooks/storybook/blob/next/addons/a11y/src/index.js#L14

Should be easy to add back -- any interest in taking a shot at that?

[2019-03-07 14:08] rcadel commented on #1298
I know this is an old issue but i spend some time trying to find a solution to this problems and i found one in this [comment](https://github.com/storybooks/storybook/issues/3411#issuecomment-381394388).

So my .storybook/webpack.config.js look like this

[code]

and my mockLoader.js look like this
[code]

this way i just have to put a Component.mock.[ext] just right next to my Component.[ext] and

[2019-03-07 14:31] petewarman commented on #5831
I'm seeing something similar - I get a ton of errors like:

[2019-03-07 14:32] NicoleGrondinAlayacare commented on #5925
Hum... maybe I'm not getting it. In storybook 4, you could link to storiesOf(X) without naming a specific story and it would default to the first story available.

Now you need to feed the name of a specific story to the url or you get an error screen:
<img width="1440" alt="screen shot 2019-03-07 at 9 29 29 am" src="https://user-images.githubusercontent.com/44609805/53963567-8f5fe800-40bb-11e9-8f

[2019-03-07 14:39] whengely commented on #5889
I've been following this because I'm very interested in it.  When I read the linked issue, I kind of read it as not possible until 5.1 and then by means of an addon.  I wonder if the docs got a bit ahead.

[2019-03-07 14:44] maecapozzi opened #5949 "Unable to use Storybook as expected in a monorepo"
**Describe the bug**
I am working in a lerna-managed monorepo with Typescript. Originally, we had a separate storybook configuration in each package, which worked nicely. We decided we wanted a root-level storybook that pulled from the `*.stories.tsx` files inside each package.

Here is an example of the desired file structure:

[code]

After following the fix in [this issue](https://github.com/st

[2019-03-07 15:04] Armanio opened #5950 "linkTo has incorrect behavior on call with one parameter"
**Describe the bug**
`linkTo` from links addon has incorrect behaviour when it calls without second parameter

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://storybooks-official.netlify.com/?path=/story/other-demo-welcome--to-storybook
2. Click on "stories" in description welcome component
3. App will be redirect to https://storybooks-official.netlify.com/?path=/story/Button an

[2019-03-07 15:09] Armanio commented on #5950
If i understand it right i can take this issue and fix it?

[2019-03-07 15:25] seanmcintyre commented on #5889
Where did you read this is not possible until 5.1?

[2019-03-07 15:28] fauverism opened #5951 "Unable to install storybook due to TypeError:"
**Describe the bug**
When running `npm install babel-cli babel-core --save-dev` then choosing *Yes* to _Do you want to manually choose a Storybook project type to install?_, then choosing *Angular* the following error occurs.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Terminal
2. Run `npm install babel-cli babel-core --save-dev`
3. Choose *Yes* to _Do you want to manually

[2019-03-07 15:38] #5951 closed

[2019-03-07 15:46] vpicone commented on #5923
@anki247 Yes, that's why I made this issue and PR.

[2019-03-07 15:57] shilman commented on #5376
Crikey!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.1 containing PR #5811 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-07 15:57] shilman commented on #5907
w00t!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.1 containing PR #5909 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-07 15:57] #5907 closed

[2019-03-07 15:57] #5376 closed

[2019-03-07 16:07] shilman commented on #5925
@NicoleGrondinAlayacare Confirmed the old behavior in 4.x and the new (regressed) behavior in 5.x.

4.x: https://5c7e1a14bc4b210008a05f9f--storybooks-official.netlify.com/?selectedKind=Addons%7CKnobs.withKnobs

5.x: https://storybooks-official.netlify.com/?selectedKind=Addons%7CKnobs.withKnobs

Updating the issue description

[2019-03-07 16:08] ysgk commented on #5831
In my case, storybook@5.0.0 and react@16.8.3 was working fine. Upgrading react to 16.8.4 causes the error below.

[2019-03-07 16:13] shilman commented on #5950
@Armanio Awesome!! Would love a fix for this!! 🥇

[2019-03-07 16:23] Edd-Strickland commented on #4600
@nisheed2440 I have been very busy(sorry everyone)  but have had a very small window today to test a very vanilla version of this locally and it's really good.  works really well.

going to spend some time on this next week trying to incorporate it into an existing project to see how this might work for existing stencil users / projects.

[2019-03-07 16:27] Nightbr commented on #4600
I have tested it this morning and it works pretty well too!  GJ it's really easy to setup. I have installed and tested some addons:

[code]

Everything works fine, just found one issue with addon-knobs https://github.com/storybooks/storybook/issues/5017 But there is a workaround and this should be fixed pretty soon I think.

[2019-03-07 16:40] leepowellcouk opened #5952 "addon-knobs panel loses focus on change of value"
**Describe the bug**
We have a React Storybook set up with the `actions` and `knobs` addons. Running version 5.0.0 of each. When changing a `knob` value, the addons panel jumps to `actions`.

**Expected behavior**
`knob` panel should remain as the primary focus until the user selects an alternative addon

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snippets

[2019-03-07 16:42] Hypnosphi commented on #5473
Seems fixed in 5.0.0

[2019-03-07 16:56] andrii-melnyk-ring commented on #5941
I think it is because storybook merges it's own webpack rules with specified by you.

I use full control mode (when I'm exporting a function) and can change base config to remove rules for css and images to enable my own rules:
`config.module.rules = config.module.rules.filter(rule => {
      const ruleTestStr = rule.test.toString();
      return ruleTestStr !== '/\\.css$/' && ruleTestStr !== '/\\

[2019-03-07 16:57] warkentien2 commented on #5915
It does, however, interpret HTML. I had to use `<code>`, `&lt;`, `&gt;` to make do.

[2019-03-07 17:02] Abramovick commented on #4038
@igor-dv but the tailwind docs do show how to configure it with webpack like here: https://tailwindcss.com/docs/installation/#webpack

Did you manage to get tailwind to work with Storybook by the way? As I'm struggling here...

[2019-03-07 17:24] Hypnosphi commented on #5472
Not observed in 5.0

[2019-03-07 17:24] #5472 closed

[2019-03-07 17:25] #5473 closed

[2019-03-07 18:47] shilman commented on #5950
Related: https://github.com/storybooks/storybook/issues/5925

[2019-03-07 18:49] #5952 closed

[2019-03-07 18:56] shilman commented on #5952
Solved?

[2019-03-07 19:11] CrashyBang commented on #5537
Still experiencing this issue, have been unable to figure out the cause.

[2019-03-07 20:18] procload commented on #4540
Seconded. Is there any timeline for this? Angular has support for most of Storybook's add-ons, but this key add-on is lacking. For something like Storybook to be really valuable in an organization, developers would need to know the implementation details of each component. Outside of this add-on, is there any other way to do achieve this?

[2019-03-07 20:28] timhettler opened #5955 "5.0.0 uses root babel.config even if custom config is provided"
**Describe the bug**
If a project uses a `babel.config.js` file, there is no way to provide a custom babel config to storybook.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `babel.config.js` file in the root directory
2. Create a `.babelrc` file with overriding behavior in `.storybook`
3. Start storybook
4. See at the configuration specified in the root `babel.config.js` is used.

[2019-03-07 20:52] Eth3rnit3 opened #5956 "Unable to start storybook"
**Describe the bug**
Unable to launch the startup script `npm run storybook`

**To Reproduce**
Tried with node `8.11.3` and `10.15.1` same result
1 - `rm -rf node_modules && npm install` Clean install of node_modules
2 - `npx -p @storybook/cli sb init` Create React App has been detected, full install is ok !
3 - run startup script and crash

**Console Errors**
[code]

**2019-03-07T20_36_25_847Z-de

[2019-03-07 20:59] Eth3rnit3 commented on #5956
### Solved by using yarn
- `rm -rf node_modules && yarn install`
- `npx -p @storybook/cli sb init` (I don't know if it's possible with yarn)
- `yarn storybook`

It work fine !

[2019-03-07 21:04] leepowellcouk commented on #5952
Yes I think so. I didn’t see the configuration change warnings in the console. Once I updated it seemed to solve the issue.

[2019-03-07 21:12] CodeByAlex opened #5957 "[Addon: Knobs] - Knob categories displaying unnecessary vertical scroll bar"
**Describe the bug**
knob categories displaying unnecessary scroll bar

**To Reproduce**
Steps to reproduce the behavior:
1. Set up project
2. Add knobs addon
3. Set up configuration with knob categories

**Expected behavior**
Revert to the old display where there wasnt a vertical scroll bar

**Screenshots**
![image](https://user-images.githubusercontent.com/29763590/53987913-470eed00-40f0-11e9-83

[2019-03-07 22:08] seanmcintyre commented on #5878
@wirtzdan Do you have a custom webpack config to support loading SVG files?

[2019-03-07 22:28] seanmcintyre commented on #5889
Update: It's kind of a hack, but I pulled it off with `localStorage`.

[code]

[code]

[2019-03-07 22:31] tmeasday commented on #5831
@petewarman @ysgk are you using pnpm?

@ysgk this is pretty surprising as `@storybook/core` does in fact depend directly on `core-js`. What do you your `node_modules` look like? Is `core-js` resolvable from `@storybook/core`? What version?

I hate to suggest it but you could probably try removing `node_modules` and re-running your package manager installation.

[2019-03-07 22:39] maecapozzi commented on #5949
@shilman, if you have this tag, you might consider adding a `lerna` tag to this as well. I have a hunch that this problem is more lerna-related than typescript-related.

[2019-03-07 22:55] metasean opened #5958 "Colorblindness Emulation broken"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Code snippets**
If applicable, add c

[2019-03-07 22:55] metasean opened #5959 "Colorblindness Emulation broken in Firefox"
**Describe the bug**
When clicking the "Color Blindness Emulation" button, only the "Mono" emulator works.  Selecting anything other than "Mono" or attempting to deselect "Mono" results in a blank canvas.

**To Reproduce**
Steps to reproduce the behavior:
Spin up a new Storybook 5 project, or hit one of the live examples:
- [Official [React]](https://storybooks-official.netlify.com/?path=/story/ad

[2019-03-07 22:57] petewarman commented on #5831
I’m using yarn.

[2019-03-07 23:16] seanmcintyre commented on #5889
Update update: It doesn't persist when switching stories. Still working on that.

[2019-03-07 23:42] lake-effect opened #5960 "iOS devices can't connect to storybook server locally"
This is a new ticket referencing https://github.com/storybooks/storybook/issues/846 which was closed by stalebot. The issue is still present, so following the guidelines mentioned there I'm opening a new one.

[2019-03-08 00:33] #5958 closed

[2019-03-08 00:34] tmeasday commented on #5831
OK I think the original issue title is the correct way forwards, we should add a dependency on `core-js` to *all* our packages

[2019-03-08 00:47] ysgk commented on #5831
I’m using yarn too.

[2019-03-08 01:15] ysgk commented on #5831
I forgot to remove yarn.lock. Removing node_modules and yarn.lock and re-running yarn works.
My case seems to be a yarn-related problem.

[2019-03-08 01:50] sylvhama commented on #4764
No more issue since v5.

[2019-03-08 01:51] pelotom commented on #3865
Looks like this is fixed in storybook v5.

[2019-03-08 01:51] #3865 closed

[2019-03-08 02:06] tmeasday commented on #5831
@ysgk I'm not surprised to hear that, sadly

[2019-03-08 02:22] anthonytranDev opened #5962 "Docs: Gatsby Configuration Examples for Storybook v5"
Is your feature request related to a problem? Please describe.
---

**Awesome Experience** :grin: - It was nice when `create-react-app` could integrate well with StorybookJS in the past.

**Painful Experience** :disappointed: - However ... as someone who has started using StorybookJS, with Gatsby, there was that presumption that the integration would be as simple as automated integration with `cre

[2019-03-08 03:19] shilman commented on #5962
This is awesome. So far the Gatsby folks have done a great job at documenting Storybook usage at https://www.gatsbyjs.org/docs/visual-testing-with-storybook/. I agree we could do a much better job on our side, both with the docs and also with the tool integration on the CLI. I think @Keraito took a look at this at one point, and @igor-dv has done a lot of work with webpack presets (partially docum

[2019-03-08 03:21] shilman commented on #4764
That's great to hear. Closing this now, but feel free to re-open if the issue hasn't gone away.

[2019-03-08 03:34] shilman commented on #5960
I reopened that one. Not sure why stalebot is set up that way 🤷🏻‍♂️, but thanks for following the guidelines 🏅

[2019-03-08 03:34] #5960 closed

[2019-03-08 03:38] shilman commented on #5959
Thanks! This looks like it's working well in Chrome. Any interest in trying to debug it in FF?

[2019-03-08 03:40] shilman commented on #5949
We don't have a lerna tag -- `compatibility with other tools` is our catchall. If I see a lot more lerna-related issues I'll def create one.

[2019-03-08 03:41] claudio-moya commented on #5872
same issue here, by using webpack 4 the "full-control-mode" doesn't fully work and I still get the fat main bundle over 1MiB.

From my case, some changes works for the 'iframe.html' JS files but the JS files for index.html don't change at all -> the fat main bundle.js

[2019-03-08 03:42] shilman commented on #5878
@seanmcintyre The reason this works without the custom webpack config is because `brandImage` expects a URL as its argument, not the SVG contents. The reason it's breaking on the other issue https://github.com/storybooks/storybook/issues/5708 is because in that case the user wants the SVG content. (I think!)

[2019-03-08 03:45] shilman commented on #5956
Glad you fixed it!

Closing this as a dupe of https://github.com/storybooks/storybook/issues/5831

[2019-03-08 03:45] #5956 closed

[2019-03-08 04:39] vipcxj commented on #5747
any news? still not work in 5.0.0

[2019-03-08 07:39] gaetanmaisse commented on #5782
@Armanio https://github.com/storybooks/storybook/pull/5738 is merged so you can have fun with addon-a11y now!

[2019-03-08 08:01] hipstersmoothie commented on #5889
I think @ndelangen has a plan on exposing an API to getOptions from an addon

[2019-03-08 08:02] hipstersmoothie commented on #5889
@seanmcintyre you might also be interested in https://github.com/hipstersmoothie/storybook-dark-mode/issues/1

[2019-03-08 08:51] shilman commented on #5611
Cc @gabrielcsapo

[2019-03-08 08:53] shilman commented on #5587
@maamounapprise Have you tried with SB5 which was released a few days ago?

[2019-03-08 09:26] Jessidhia commented on #5955
`babel.config.js` is always considered to be _the_ authoritative babel config by default.

You need to tell babel that it's OK to trust your local babelrc by adding it to `babelrcRoots`: https://babeljs.io/docs/en/options#babelrcroots

For example, `babelrcRoots: ['.', '.storybook']`.

If that still doesn't work, then you should either merge both configs (by using, say, https://babeljs.io/docs/en/

[2019-03-08 09:42] kallrobin commented on #5276
Also having the same bug
Versions:
[code]

[2019-03-08 10:55] shilman commented on #5030
Zoinks!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.2 containing PR #5738 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-08 10:55] shilman commented on #5876
ZOMG!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.2 containing PR #5964 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-08 10:55] shilman commented on #5831
Whoopee!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.2 containing PR #5961 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-08 10:55] #5876 closed

[2019-03-08 10:55] #5831 closed

[2019-03-08 11:04] petewarman commented on #5831
💥Works for me now - thanks!

[2019-03-08 11:10] ndelangen commented on #5831
@tmeasday is here to save the day

[2019-03-08 11:26] Glazy opened #5965 "Viewport styling changes"
**Is your feature request related to a problem? Please describe.**

Since upgrading to v5, the viewport addon adds a big 10px black border around your viewport and it doesn't look as nice as it used to.

**Describe the solution you'd like**

I think it would be good to get a way to configure this border or ideally have a way to return to the styling of V4. Putting the viewport in the center of the

[2019-03-08 11:26] robcronin commented on #4243
Hi @ndelangen, any update on this issue?

[2019-03-08 11:29] keul commented on #4243
@robcronin it has been closed from the stale bot, so: no.

I think you should provide a PR yourself if you need it

[2019-03-08 11:45] anthonytranDev commented on #5962
@Keraito would be awesome to help you with this, if I get the chance that is

Currently have a basic solution that works for Storybook v4. I think at the rate both tools are changing and being updated, it's always nice to have additional helping hands. :smiley:

[2019-03-08 11:55] nicgirault commented on #4776
This issue is still happening and very frustrating to work on components

[2019-03-08 13:44] shilman commented on #5965
Not sure who changed the border or why. @domyen @ndelangen any comments here? Is that in scope for theming in the near future?

[2019-03-08 13:46] shilman commented on #4776
@nicgerault v5?

[2019-03-08 14:10] seanmcintyre commented on #5889
I've tried something similar. It seems hard to find documentation of the 5.0 API 😅

[2019-03-08 15:00] jacobgranberry opened #5966 "Setting up SB5 with styled components theme"
Hi there.  Trying to set up Storybook for the first time.  I'm using styled components ThemeProvider to wrap the app, but the theme props aren't being passed to my stories.js files.

Heres my config:

`import { addParameters, configure } from '@storybook/react';
import { baseTheme } from '../src/Theme/theme';

addParameters({
  options: {
    theme: baseTheme
  }
})

const req = require.context('.

[2019-03-08 15:24] shilman commented on #5545
Released a fix at https://github.com/storybooks/storybook/releases/tag/v4.1.14

Please give it a try! Closing this for now.

[2019-03-08 15:24] #5545 closed

[2019-03-08 15:47] no23reason opened #5968 "Viewport addon: Missleading example in README"
**Describe the bug**
Following the example of setting defaultViewport per story in `@storybook/addon-viewport` README does not work and breaks the viewport configuration.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a custom viewport configuration:
[code]
2. Create a story and try to set its default viewport following the [example](https://github.com/storybooks/storybook/tree/next/

[2019-03-08 16:33] fo-fo commented on #5821
Thanks for this, `.web.js` and `.web.jsx` in `config.resolve.extensions` was the missing part of the puzzle for me!

[2019-03-08 16:36] dehamilton opened #5969 "react-native doesn't export "raw" function"
Description
Running snapshot tests with react-native receive the following error description:
"TypeError: storybook.raw is not a function"

Looking at the storybook/react-native package it doesn't export a "raw" function
https://github.com/storybooks/storybook/blob/next/app/react-native/src/index.js

storybook/react does export a "raw" function
https://github.com/storybooks/storybook/blob/next/app

[2019-03-08 16:37] arnaudmanaranche opened #5970 "Update README"
In the section `Configuration`, the following part of code :
[code]
should be :
[code]
<img width="912" alt="screen shot 2019-03-08 at 17 34 05" src="https://user-images.githubusercontent.com/12219184/54041627-7bee7300-41c8-11e9-8c06-cdb981612b4e.png">

[2019-03-08 16:48] MrLoh commented on #5821
@fo-fo glad I could help. You should probably close the issue since it’s resolved.

I would like a deeper integration for react-native(-web) libraries as well. I opened a separate issue for that: https://github.com/storybooks/storybook/issues/5886

[2019-03-08 16:59] domyen commented on #5965
I didn't change the border. The v4 appearance is more handsome imo. Would be open to changing the base UI to something like that if @Glazy wants to open a PR for it.

**Something like:**
- 1px border with box-shadow
- horizontally centered

[2019-03-08 19:52] kengogo commented on #4947
The problem is still being? I tried with `5.1.0-alpha.2`, `5.0.1` and `5.0.0`, but knobs don't work reactively 😢 so I'm stopping at 4.0.7 even for now.

[2019-03-08 20:13] metasean commented on #5959
I've been "volunteered" for several things recently, so unfortunately I don't have a lot of time :-(   but I went ahead and did what digging I could think of.

### Mono versus Achromatomaly

I realized later that there's a lack of _visible_ color palettes in the corresponding drop-down options and this _may_ be a critical clue, so I initially focused on finding differences between "achromatomaly"

[2019-03-08 21:12] backbone87 commented on #4947
@kengogo It is working fine for me, if you still have problems, open a new issue with all the relevant information for your use case (including code samples/reproduction repo)

[2019-03-08 21:27] jsomsanith opened #5973 "A11y addon freezes the UI"
**Describe the bug**
With the a11y addon, with complex stories, the UI blocks, making the user experience awful.
For some cases, switching from story to story takes 3 to 5 seconds, freezing the UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a storybook with complex markup
2. Add the a11y addon
3. Switch from stories to stories
4. The render takes a lot of time

An example is publ

[2019-03-08 21:28] kengogo commented on #4947
@backbone87 Great to know! I'd try to take a look more deeply (hesitated for a while after I saw this issue). Thanks for the info ✨

[2019-03-08 21:29] jsomsanith commented on #5973
(I can contribute on that, I just need the community and maintainers feedback)

[2019-03-08 21:48] ganorberg commented on #3977
@kaitmore I'm not sure if this solution makes sense for Storybook to implement, but I wanted to throw out an option for allowing functions to survive JSON.stringify and JSON.parse in case it might be helpful to you.

You can customize their replacer and reviver functions like so:

[code]

Usage:

[code]

Of course, we'd want to set up the reviver in such a way that it dynamically uses your functio

[2019-03-08 21:54] liamross opened #5974 "[Addon: info - v5.x] Story Source breaks if using React.forwardRef"
### Describe the bug

In version 5.0 of the **info** addon, **Story Source** is breaking if the component is wrapped in `forwardRef`

This additionally breaks the parsing of props in **TypeScript** (and maybe JavaScript, have not been able to test).

**_Here are some collapsable sections for the files in question:_**

<details><summary>Component</summary>

[code]

</details>

<details><summary>Ver

[2019-03-08 21:54] rolandjohann opened #5975 "How to use existing build process and use storybook as lib"
**Describe the solution you'd like**
I would like to use my existing build process (in this case parcel-bundler) with it's own capabilities (build, serve, hmr) and omit storybook build system, just use it as library.

**Describe alternatives you've considered**
As my setup involves typescript I started to setup storybook as described at the official docs, but it seems to be wrong to setup a parall

[2019-03-08 21:55] metasean commented on #5959
(I couldn't focus on the work I'm supposed to doing, and ended up revisiting this 🙃)

Yep, at least part of the problem has something to do with the difference between the `filter: grayscale(100%);` and the `filter: url("#emulator-type")`;

If I hover over the hash value in the url filters then Firefox tells me it "Could not load the image".

Chrome's devtools indicate the filter is at "https://st

[2019-03-08 22:37] churichard commented on #5936
I was running into the same issue and excluding [the rule](https://github.com/storybooks/storybook/blob/4da246bbe9413510b48d1ab8b9faf4fae4656d92/lib/core/src/server/preview/base-webpack.config.js#L36) that @mt-roberto mentioned fixed it. Would doing this break anything in Storybook, or is it safe to do?

[2019-03-08 23:19] shilman commented on #5973
@jsomsanith This sounds super reasonable. Need any help getting set up to develop storybook?

[2019-03-08 23:20] mikestaub commented on #5184
This is still an issue, I can't get actions to work with knobs. I recommend creating a demo that imports all the official addons in this repo to avoid clashes in the future.

[2019-03-08 23:20] shilman commented on #4947
@kengogo SB5 is out -- please give it a try today!

[2019-03-08 23:28] shilman commented on #5970
@arnaudmanaranche Mind putting together a small PR for this?

[2019-03-08 23:32] shilman commented on #5968
@tmeasday Didn't https://github.com/storybooks/storybook/pull/5829 try to address this?

[2019-03-08 23:36] shilman commented on #5376
Olé!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.1 containing PR #5811 that references this issue. Upgrade today to try it out!

[2019-03-08 23:36] shilman commented on #4995
Son of a gun!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.1 containing PR #5911 that references this issue. Upgrade today to try it out!

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-08 23:36] shilman commented on #5831
Yo-ho-ho!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.1 containing PR #5961 that references this issue. Upgrade today to try it out!

[2019-03-08 23:36] shilman commented on #5876
Yay!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.1 containing PR #5964 that references this issue. Upgrade today to try it out!

[2019-03-08 23:36] shilman commented on #5907
Egads!! I just released https://github.com/storybooks/storybook/releases/tag/v5.0.1 containing PR #5909 that references this issue. Upgrade today to try it out!

[2019-03-08 23:36] #4995 closed

[2019-03-08 23:38] liamross commented on #5974
@shilman I think this is `addon: info` not storysource, unless `storysource` is used internally by `info`.

[2019-03-08 23:43] shilman commented on #5974
Related: https://github.com/storybooks/storybook/pull/4961

Looks like this needs to get ported to v5

[2019-03-08 23:44] shilman commented on #5184
@mikestaub is this an issue in SB5?

[2019-03-08 23:45] mikestaub commented on #5184
Yes

[2019-03-08 23:46] tmeasday commented on #5968
You can set `viewport: { defaultViewport: 'myOne' }`, but cannot set the parameters object to a string (as this breaks auto-merging of parameters).

Did I not end up documenting this properly?

[2019-03-08 23:47] tmeasday commented on #5968
Hmm I see I made a typo, I'll fix it.

[2019-03-08 23:48] tmeasday commented on #5968
https://github.com/storybooks/storybook/pull/5977/files

[2019-03-08 23:54] tmeasday commented on #5933
Discussed this a little with @ndelangen (who is a little out-of-action the last day or so) and generally he agreed on the approach. I think he is better placed to pull the pieces apart here.

[2019-03-08 23:56] tmeasday commented on #5925
I reckon we can fix this but it's not trivial. Something for 5.1.0?

[2019-03-08 23:57] tmeasday commented on #5970
@arnaudmanaranche I'm not sure I agree -- the `options` can take a couple of keys, as documented directly below the snippet you posted?

[2019-03-09 00:00] tmeasday commented on #5975
Hi @rolandjohann! This is something that we've considered in the past:
 - it is one solution to a similar problem with Meteor: https://github.com/storybooks/storybook/issues/3329
 - I did a POC PR here: https://github.com/storybooks/storybook/pull/3360
 - it was also discussed here: https://github.com/storybooks/storybook/issues/2140

I think this is something that @shilman might be thinking about

[2019-03-09 00:16] shilman commented on #5975
There's also a node API by @igor-dv , which hasn't been documented and which I'd like to change:

[code]

[2019-03-09 00:30] tmeasday commented on #5949
Hi @maecapozzi - I'm glad you figured out a workaround, but I'm wondering about the original issue. I wonder why you think it might be lerna related? Because of symlinks within `node_modules`? I would expect SB to just ignore `node_modules` when searching for stories, but I could be missing something.

OTOH maybe there is a more general issue with monorepos specifically with typescript? I know ple

[2019-03-09 00:31] tmeasday commented on #5949
Sorry I should add I guess what I did to work around #3346 is:

[code]

Which is perhaps a little simpler and less disruptive that what you posted...

[2019-03-09 00:32] tmeasday commented on #3346
Just to drive by on this one without fully understanding what people's issues are (apologies!) -- here's a snippet from my webpack config that works around this issue, maybe in a simpler way:

[code]

[2019-03-09 00:38] tmeasday commented on #5940
I agree with @shilman that searching on random fields that do not show up is a bit confusing.. But, exactly what is going on here? Is this the fuzzy search being extra fuzzy? I can search for `tistrumpisrr` and still get those two. But not any random string.

[2019-03-09 00:45] shilman commented on #5184
@mikestaub We have such a demo and the date knobs is working AFAICT: https://storybooks-angular.netlify.com/?path=/story/addon-knobs--all-knobs

[2019-03-09 03:58] francopetra commented on #5785
Sure! I would love to take a look at it. Will send you an email right away!

ps. Sorry for the delay, just moved to a different city.

[2019-03-09 04:00] shilman opened #5981 "FOUC on storybook docs header"
**Describe the bug**

@ndelangen After deploying https://github.com/storybooks/storybook/pull/5820 there is a pretty bad FOUC on the new docs header when I load any page from the site for the first time. Mind taking a look at this since you made the change?

**To Reproduce**

Navigate directly to: https://storybook.js.org/docs/basics/introduction/

Watch the header loading behavior

[2019-03-09 04:42] billyvg commented on #5663
I'm still getting this error with `5.0.1` -

[code]

[2019-03-09 06:58] #5211 closed

[2019-03-09 06:58] #4469 closed

[2019-03-09 06:58] #5220 closed

[2019-03-09 06:58] #5122 closed

[2019-03-09 06:58] #5223 closed

[2019-03-09 06:58] #4772 closed

[2019-03-09 06:58] #5201 closed

[2019-03-09 06:58] #5250 closed

[2019-03-09 06:58] #4920 closed

[2019-03-09 06:58] #5218 closed

[2019-03-09 07:41] mohsinulhaq commented on #4995
thanks @shilman 🤩

[2019-03-09 09:00] malykhinvi commented on #5785
Hello everyone! @shilman what is the expected UI? White background or light text?
![5785](https://user-images.githubusercontent.com/5537715/54068797-91fc4200-4261-11e9-9f98-664a702c1194.png)

@francopetra if you don't have enough bandwidth to work on this issue, I would love to contribute as well.

[2019-03-09 09:15] MrLoh commented on #5886
@Hypnosphi could you give me a pointer as to how I would go about building this. I understand that the react native [server](https://github.com/storybooks/storybook/tree/master/app/react-native/src/server) sets up a websocket server that forwards messages to all connected clients and that the [manager](https://github.com/storybooks/storybook/tree/master/app/react-native/src/manager) emits the stor

[2019-03-09 12:14] #5965 closed

[2019-03-09 12:18] mts commented on #5941
I came across the same issue @Ziv-Barber reported when upgrading from Storybook ^3.4.11 to ^5.0.1 and what @andrii-melnyk-ring suggests does indeed offers a workaround.

I still think that it might be a regression since filtering config.module.rules was not necessary before v5 and the purpose of the custom storybook webpack configuration is to overwrite the Storybook base configuration.

On the ot

[2019-03-09 12:53] pascalduez commented on #5941
Same issue for CSS modules, having two rules for `.css` doesn't work out of the box.
So I add to remove the base one.

[code]

[2019-03-09 13:37] shilman commented on #5886
@MrLoh I would recommend that you wait for the next version of `@storybook/react-native` before you embark on this. Specifically there is a major refactor that's been blocked for a couple months but apparently is "very close to ready" and it's sitting in this PR: https://github.com/storybooks/storybook/pull/4942 Any work done on RN before this merge is likely to be superceded by the new code.

[2019-03-09 13:39] shilman commented on #5785
Yeah I think white background is the simplest thing. It's a simple fix, but it should be applied to all the different frameworks (React, Vue, Angular, etc. etc.)

[2019-03-09 13:59] shilman commented on #5949
Related: https://github.com/storybooks/storybook/issues/5220

[2019-03-09 14:03] Armanio commented on #5782
Ready! Check it!

[2019-03-09 14:09] evolutionxbox commented on #5927
As far as I know, this issue can only be mitigated by editing the addon source.

Using the following css fixes the issue:
[code]

The use of important is to override any style attributes, but if this rule can be added via emotion, or the like, that is preferable.

[2019-03-09 14:21] shilman commented on #5927
Wanna issue a PR?

[2019-03-09 14:29] evolutionxbox commented on #5927
Honestly, not really.
However, now that I have much more free time today than I thought I'll give it a go.

[2019-03-09 14:34] ikhudo commented on #5875
it non works even with emotion, getting

[code]

[2019-03-09 14:37] ikhudo commented on #5875
did you get working storybook with styled-components without `createGlobalStyle`?

[2019-03-09 14:41] francopetra commented on #5785
@maacky I see you already moved forward, so go ahead!

[2019-03-09 15:37] shilman commented on #4995
Ooh-la-la!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.3 containing PR #5911 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-03-09 15:37] shilman commented on #5782
Yowza!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.3 containing PR #5984 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-09 15:37] shilman commented on #5950
Yowza!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.3 containing PR #5983 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-09 15:37] shilman commented on #5965
Zoinks!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.3 containing PR #5979 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-03-09 15:37] #5782 closed

[2019-03-09 15:37] #5950 closed

[2019-03-09 16:21] mohsinulhaq commented on #4995
wow, is this an automated script?

[2019-03-09 16:22] evolutionxbox commented on #5927
(btw, the account which posted the issue is my work github account)

[2019-03-09 19:46] rolandjohann commented on #5975
Hi together, thanks for quick reply.

@tmeasday thanks for pointing to existing issues. Doing the discussion at this ticket makes sense.

@shilman I played with that API already which triggers webpack anyway. It seems that the code for build and the actual business logic of storybook is not encapsulated in a way to just use storybook. Are there any detailed plans yet to refactor this and where I c

[2019-03-09 20:02] volkerchartier opened #5989 "Storybook 5, typescript .addDecorator addon-info"
After updating to 5.0.0 and adding

`import { configure, addDecorator} from '@storybook/react';`
`import {withInfo} from '@storybook/addon-info';`
`addDecorator(withInfo );`

to my .storybook/config.tsx file ends in empty story and following error in console output

**To Reproduce**
Steps to reproduce the behavior:
1. create a Storybook 5.0.0 React/Typescript project
2. addDecorator
4. See error

[2019-03-09 22:29] medmunds commented on #5891
@shilman I don't think this is specific to addon-storysource. I'm seeing exactly the same behavior in 5.0.1 with addon-knobs and addon-actions (but not loading storysource). And switching stories with keyboard shortcuts will also reset to the first tab.

I think the bug may actually be that if you have more than one addon panel registered, any navigation between stories switches the addon panel ba

[2019-03-10 00:45] #5927 closed

[2019-03-10 00:51] shilman commented on #5989
What version of react are you running?

[2019-03-10 00:56] shilman commented on #5975
Hi @rolandjohann -- no plans that I know of? Maybe @ndelangen can weigh in here? I'd be open to some refactoring if it can also simplify the default webpack build process AND make it more debuggable. Every time we change anything related to webpack/babel it generates TONS of issues, so I'm hesitant to make changes here unless they are both well-justified and well-tested.

[2019-03-10 01:24] seanmcintyre commented on #5966
I think we may be trying to accomplish the same thing @jacobgranberry https://github.com/storybooks/storybook/issues/5889

[2019-03-10 02:16] seanmcintyre commented on #5889
Figured it out. This _**definitely**_ still feels like a hack though.

[code]

Full code:
[code]

I'm going to clean this up and release an addon that takes an array of themes from a `.storybook/themes.ts` (or js), adds them to the current dark/light default themes, allows dark/light to be overridden by your own variations, and makes the use of styled-components `ThemeProvider` optional.

[2019-03-10 02:38] backbone87 commented on #5891
imo for best UX, the last actively clicked tab should be marked, so when switching to a story that does not contain the tab and then back to the previous story, this tab would be opened again (because on the other story, no active tab selection was made)

[2019-03-10 05:31] d2s opened #5994 "docs: website: links to "Made for" sections point to 404 errors"
**Describe the bug**
Links to _"Made for"_ sections on the front page of the Storybook website https://storybook.js.org/ point to a missing documentation pages (even while those pages exist on other URL addresses).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to _'Storybook website'_ https://storybook.js.org/
2a. Click on _'Made for … HTML'_ link on the right side of the page (on large

[2019-03-10 07:06] juanscilingo commented on #5817
Had the same problem with storybook@5.0.0, homburg [solution](https://github.com/storybooks/storybook/issues/5817#issuecomment-470031275) worked for me

[2019-03-10 08:30] pvhespen opened #5995 "[Addon - knobs] Only the last Knob URL argument is loaded page load."
**Describe the bug**
The (generated) storybook URL that contains the current knob configuration, is not correctly applied to the story when loaded. Only the last knob configuration from the URL is being applied.

**To Reproduce**
Steps to reproduce the behavior:
1. This is the default URL: https://storybooks-official.netlify.com/?path=////story/addons-knobs-withknobs--tweaks-static-values-organize

[2019-03-10 09:47] Armanio commented on #5945
I take this issue.

[2019-03-10 09:53] shilman commented on #5994
@d2s Thanks for the report! It's strange -- I couldn't reproduce the behavior since the site was redirecting properly for me. Nevertheless I've updated the URLs in the docs site and also in the frontpage marketing site, so hopefully it should be fixed now.

[2019-03-10 09:55] Armanio commented on #5945
Ready!

[2019-03-10 09:55] shilman commented on #5945
You rock @Armanio !!!

[2019-03-10 11:23] mrsufgi commented on #5225
Sorry for the delay guys, I'm swamped at work. I will try find some time this weekend

[2019-03-10 11:57] kroeder commented on #5030
@ndelangen regarding `@storybook/core`... I had in mind that you don't want to migrate it but I might be wrong. What's your current opinion on this?

[2019-03-10 12:04] Phoenixton commented on #5779
I'm taking a look at this. Contrary to @leerob , my add-on panel on the right is way too small by default and I don't have any horizontal scrolling going on in it, so I'd love for it to actually be larger. But as you said, that should be a tweak. On the other hand, it definitely doesn't remember resizing, so that's what I'm gonna try to figure out.

[2019-03-10 12:08] Phoenixton commented on #5772
As far as I can see, this is due to the onClick() method of the search button in the toolbar not actually calling any api method to focus on the search text area, in nav.js. I'll try and change it tonight :)

[2019-03-10 12:26] d2s commented on #5994
@shilman Yes, I thought it could be an issue with redirects. Generally it is a good idea to avoid adding the extra HTTP redirect step to the requests, as it slows down the page performance (even without having this kind of potential issues).

Thank you for the good tool. Lets make it even better, step by step. 😄

[2019-03-10 13:38] volkerchartier commented on #5989
@shilman React Version was 16.6.3 now running on 16.8.x ending in some typings errors but addDecorator + addon-info is running under storybook 5.0.1.

[2019-03-10 13:55] CodeByAlex opened #6000 "[Addon: A11y + Addon: Backgrounds] - Results don't change when switching the background color and rerunning a11y"
**Describe the bug**
When switching the background color of the iframe using the background addon, the results do not change even in the worst case scenario for the a11y addon.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up project
2. Add a11y and backgrounds
3. render component and switch background color to a color that would fail a11y
4. Re-run accessibility tests
5. Notice that t

[2019-03-10 15:04] shilman commented on #6000
Hmm, I'm not sure this is actually a bug. In my opinion, the backgrounds tool is a display helper and the a11y tool is testing the component in isolation.

At any rate, given what I understand of the a11y tool and how things are set up it would be quite challenging to get this working without major changes.  Closing this as "won't fix" but anybody who wants to is welcome to disagree, or better yet

[2019-03-10 15:04] #6000 closed

[2019-03-10 15:08] shilman commented on #5989
I think it's still a bug since `addon-info` shouldn't use new features of React.

[2019-03-10 15:10] #5994 closed

[2019-03-10 15:24] shilman commented on #5779
@Phoenixton Thanks for picking this up! @ndelangen you worked on the layout, can you chime in here?

[2019-03-10 16:28] Jony-Y commented on #5989
having the same issue.

[2019-03-10 16:45] CodeByAlex opened #6001 "[Addon: A11y] - Feature - Highlight the violation on the rendered component"
**Is your feature request related to a problem? Please describe.**
There isn't a way for a non-technical user to determine where the accessibility issue is located on the component. I think it would be useful for there to be a button/checkbox/link that, when clicked, would highlight where the specific issue is located on the component.

**Describe the solution you'd like**
I would like there to be

[2019-03-10 16:58] matthewharwood opened #6002 "Storybook throws a ugly error if there is not package.json"
**Describe the bug**
If you run

[code]
w/o a package.json, user will get a gross error.
Dunno if theres anything to do to prevent this but maybe a simple readme update?

[code]

[2019-03-10 17:32] matthewharwood opened #6003 "Storybooks is erroring out when using Latest preact"
UPDATE:
Storybook will need a custom `webpack.config.js` to support `.mjs` files.
I was able to fix this problem adding:

https://github.com/lukeed/webpack-modules

Which looks like this:

[code]
Feature request:
As .mjs is a new standard in node, Storybook should work with `.mjs` out of the box.

**Describe the bug**
Using preact@latest uses .mjs extensions and storybook's webpack fail with the e

[2019-03-10 17:34] gaetanmaisse commented on #5030
FYI, I started to work on TS migration of `@storybook/components` as it used in almost every addon.

[2019-03-10 18:52] kaluabentes opened #6004 "Action logger not working"
**Describe the bug**
The action logger is not working

**To Reproduce**
Steps to reproduce the behavior:
1. Create a story with action
2. Click on the component
4. See error

**Expected behavior**
See action log

**Code snippets**
[code]

**System:**
 - OS: MacOS
 - Device: Macbook Pro
 - Browser: Chrome
 - Framework: React
 - Addons: addon-actions
 - Version: 5.0.1

[2019-03-10 19:44] fo-fo commented on #5821
It's not a perfect solution, as I feel that fundamentally the stories should have a dependency on React, not React Native, but the workaround is good enough for me so so I'll close this.

[2019-03-10 19:44] #5821 closed

[2019-03-10 20:37] volkerchartier commented on #5989
@shilman
` npx ncu '/@types/' -u && npm i` definitely solves my problem.

[2019-03-10 20:39] kristremblay opened #6005 "[Addon: Knobs] Updating text fields is laggy and frequently overwrites keys."
**Describe the bug**
Editing text fields in knobs seemingly lags behind key presses, and deletes any characters after one of such instances.  It's like the state is updating in a convoluted manner, and previously entered characters are overwritten. For example, quickly typing "Kris Tremblay" at the same speed I'd normally type yielded "Krisblay".

**To Reproduce**
Steps to reproduce the behavior:

[2019-03-10 20:46] kristremblay commented on #6005
Is it possible it has something to do with the debounce in KnobStore?

[2019-03-10 21:02] jsomsanith commented on #5973
@shilman Thank you for your feedback.
Don't know yet for the set up, I'll follow any guide I find on the repo, if I have any struggle, I'll ping you :)

[2019-03-10 22:14] yhnavein commented on #5952
I am having this problem in 5.0.1 in the almost the same configuration as yours. @leepowellcouk How did you manage to fix it?

[2019-03-10 22:45] #5297 closed

[2019-03-10 23:39] shilman commented on #6004
I'm not able to reproduce. Can you please provide an example?

[2019-03-11 00:42] shilman commented on #6001
That's a cool idea! I wonder whether we can do this without modifying the component's DOM? @ndelangen maybe a new addon API?

[2019-03-11 00:59] CodeByAlex commented on #6001
@shilman I like the idea of keeping the changes out of the component’s DOM if possible. Any idea  how that could be done whether it’s a new api or not?

[2019-03-11 01:47] shilman commented on #6001
AFAIK it's not possible in the current setup. My suggestion would be prototyping the feature by modifying the DOM directly and then potentially rebuild it with a new API if we can figure out a good way to do that.

[2019-03-11 01:51] shilman commented on #6005
@CodeByAlex mind taking a look at this? I suspect it's related to https://github.com/storybooks/storybook/pull/5811

[2019-03-11 02:01] CodeByAlex commented on #6005
@kristremblay, do you know if this was introduced in 5.0.1 or was it present in 5.0.0

[2019-03-11 02:03] kristremblay commented on #6005
@CodeByAlex I just started using Storyboard today so I actually don't know.

[2019-03-11 02:11] CodeByAlex commented on #6005
@kristemblay, welcome to the community! Would you mind reverting your version of addon/knobs to 5.0 and check.; A separate piece of code that debounces other than what you mentioned above was added to fix the symptoms you are seeing. It would be great if we could pinpoint whether or not that change had an unintended impact.

On a separate note, I’m wondering what if the need for the 50ms Debounce

[2019-03-11 02:20] kristremblay commented on #6005
Thanks!  This is a great product you guys have made and it's certainly making my life easier :)

It looks like it is working properly in 5.0.0.  I saw the debounce and assumed that had something to do with it.

[2019-03-11 02:24] CodeByAlex commented on #6005
That’s good to know. @shilman I’ll take a look into this further. The issue may be caused by multiple Debounce functions that could be conflicting with each other.

[2019-03-11 02:46] shilman commented on #6005
@CodeByAlex @ndelangen How about posting the knob change when the user hits enter or focus leaves the text field, rather than on every key press?

[2019-03-11 02:51] kylepeeler commented on #6005
I have the exact same issue. Was happening in 5.0 and upgraded to 5.0.1 and the issue seemed to be fixed slightly but I still have to type slower than usual without characters being dropped. I think posting the knob update on blur of the knob would be better IMO

[2019-03-11 03:01] CodeByAlex commented on #6005
@shilman @ndelangen it looks like the Debounce that was added to reduce lag on the Angular side caused the choppy text entry that @kristremblay was mentioning. We will have to back that out and put in a different solution. The frameworks seem to react differently to this knobs rendering logic in general.

[2019-03-11 03:26] kylepeeler commented on #6005
I can provide links to anyone who picks up this issue with examples that we are experiencing this on both 5.0.0 and 5.0.1, I just can't share the links publically since its a proprietary storybook. If you DM me (shared them with @shilman on discord as well).

[2019-03-11 03:36] CodeByAlex commented on #6005
@shilman @kylepeeler @kristremblay
Heres what Im thinking
[code]

So as of the 5.0.1 updated, the logic in the de dunction consisted of:
[code]

After adding the following back in the onchanged function before the debounce, the issue in vue is resolved:
[code]

To better handle the debouncing and force rendering, instead of waiting for a user to click out of the field, we should wait for a longer

[2019-03-11 03:40] kristremblay commented on #6005
I think that's a good solution.  Let's see how it works in the next commit :)

[2019-03-11 06:23] thundermiracle opened #6012 "[addon:google-analytics] throws "path is required in .pageview()" error"
**Describe the bug**
throws `[react-ga] path is required in .pageview()` when upgrade to storybook 5.0.x

**To Reproduce**
Steps to reproduce the behavior:
1. add addon-google-analytics
1. select another story after page loaded

**Expected behavior**
No error throws.

**Screenshots**
https://thundermiracle.github.io/storybook-loader/?path=/story/documentation-basic--description
then open the debug

[2019-03-11 07:02] dwightjack commented on #5017
Hi,

just to add a note I'm experiencing the same issue with version 5.0.1. As @andyearnshaw pointed out the problem looks like to be [this check](https://github.com/storybooks/storybook/blob/master/app/html/src/client/preview/render.js#L20).

[2019-03-11 08:11] #5989 closed

[2019-03-11 08:19] #5785 closed

[2019-03-11 08:44] shilman commented on #5989
@volkerchartier but you also had to upgrade react, and that's a problem

[2019-03-11 08:47] mech commented on #6004
I am able to produce it using stock CRA + SB 5.0.1

[code]

When viewing the "Hello Button", click in rapidly on it to see error. You have to open the console and click the action multiple times quickly. After this you can move to Button with emoji and it works and then move back to "Hello Button" and it works again.

This happen only the first time.

[code]

Dependencies as follow:

[code]

[2019-03-11 09:13] Jony-Y opened #6014 "Cannot convert undefined or null to object"
Migrated to v5 from v4.1 with custom webpack, getting this issue:
![image](https://user-images.githubusercontent.com/10330531/54112017-edf3d180-43ed-11e9-81bf-575662393deb.png)

this is my console:
![image](https://user-images.githubusercontent.com/10330531/54112063-0532bf00-43ee-11e9-9319-96fdb49acbd5.png)

my stack:
[code]
my webpack:

[code]

my config:

[code]
*****Edit******
And an example of

[2019-03-11 09:14] volkerchartier commented on #5989
@shilman I´m not 100% sure.  I use your first response here as hint to update React. Finally updating types solves the problem...

[2019-03-11 10:11] chhschou commented on #4958
If anyone needs `lit-html` pronto, you can get it going by first whitelist `lit-html` (see first comment above, https://github.com/storybooks/storybook/issues/4958#issue-389191229) and add a decorator (inspired by https://github.com/storybooks/storybook/issues/4050#issuecomment-414933096).

Decorator code (in .storybook/config.js)

[code]

Usage
[code]

Note above the `render` and `html` from `lit

[2019-03-11 10:43] leepowellcouk commented on #5952
@yhnavein Not really sure what fixed it. I got a bunch of warnings in the console about deprecated settings. Once I resolved those it seemed to fix the issue.

[2019-03-11 10:46] leepowellcouk opened #6017 "Writing Addons Documention - Still Correct?"
I'm working through the writing addons documentation with the most basic example.

https://storybook.js.org/docs/addons/writing-addons/

However, when I start storybook I get the following error which looks like Storybook isn't compiling the code through Webpack:

[code]

Does the documentation need an update to work with v5?

[2019-03-11 11:53] tomekbuszewski commented on #5803
I am experiencing the same problem, using version 5.0.1.

[2019-03-11 13:53] MPasadu opened #6018 "html-loader and markdown-loader not working together + wrong output"
**Describe the bug**
We can't use markdown-loader together with html-loader. When I only use markdown-loader some syntax is not correct. Returns / Line feeds also only sometimes seem to be recognized.

**Expected behavior**
Correct formatting.

**Markdown**
![alt text](https://i.imgur.com/ITvaFZX.png "markdown")

**Output**
![alt text](https://i.imgur.com/BFzGDiW.png "output")

**System:**
 - OS:

[2019-03-11 14:04] bmsuseluda commented on #5913
I found a solution. I loaded my stories dynamically like described in the [docs](https://storybook.js.org/docs/basics/writing-stories/)

[code]

The problem is that IE11 breaks if you are using array.forEach. It works if im using a simple for loop.

[code]

[2019-03-11 14:04] #5913 closed

[2019-03-11 14:06] malykhinvi commented on #791
@ndelangen is that still valid bug in v5? If so, I would love to help with this one.

[2019-03-11 14:07] viktorsec commented on #5217
@transitorytammy I have the same problem as you. We should create a new issue since it's not at all related to @littlepoolshark's.

[2019-03-11 14:07] sulco commented on #5663
FYI, I had the same `Cannot read property 'fonts' of undefined` and after a lot of trial and error I managed to get rid of it after uninstalling `emotion-theming` package I have in my project's dependencies.

I still need that package though  ;)

[2019-03-11 14:24] SamKirkland commented on #5827
Also an issue with the other options in the ui object: enableShortcuts and sidebarAnimations

[2019-03-11 14:39] shilman commented on #5852
Yo-ho-ho!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.4 containing PR #5868 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-11 14:39] shilman commented on #5945
Ermahgerd!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.4 containing PR #5996 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-03-11 14:39] shilman commented on #5785
Yay!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.4 containing PR #5998 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-03-11 14:39] #5852 closed

[2019-03-11 14:39] shilman commented on #5927
Yo-ho-ho!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.4 containing PR #5993 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-03-11 14:39] #5945 closed

[2019-03-11 15:22] HerrBertling opened #6019 "[docs] Add hint regarding addon tabs order"
I'd like to add a short sentence about the order of the addon tabs:

![image](https://user-images.githubusercontent.com/1827373/54135172-9f5c2c80-4419-11e9-907f-7ce101e13210.png)

I asked within the Storybook Slack channel and got the helpful hint from @benediktvaldez that the order of imports in the `addons.js` is what produces the order of the tabs.

This wasn't obvious to me through reading the

[2019-03-11 15:33] AmaxJ opened #6020 "Cannot get /iframe.html"
**Describe the bug**

I'm currently running into this issue when I run storybook locally. Storybook loads but I see the message `Cannot GET /iframe.html` in the window where the component should render.

[code]

**Packages I'm using**
[code]

[2019-03-11 15:44] Draccoz commented on #5509
@gogs85 Could you elaborate please? This issue seems to hit not just you, would be great to know how to fix that.

[2019-03-11 15:49] dgreuel commented on #5869
@apiel @DeX3 I was able to fix similar errors by renaming addons.js and config.js to addons.ts and config.ts

[2019-03-11 16:03] CodeByAlex commented on #6005
PR for this change can be found here: https://github.com/storybooks/storybook/pull/6022

[2019-03-11 16:12] aralroca opened #6023 "onKeyUp event doesn't work after upgrade to Storybook 5.0.1"
**Describe the bug**
I have a React component that use the onKeyPress event and before the Storybook version 5.0.1 was working fine. However, after migrate to the last version, it stop working. Doing nothing.

**To Reproduce**

I have this React hook:

[code]

And I'm using a component that use this hook to close a modal:

[code]

**Expected behavior**
To fire the event.

[2019-03-11 16:34] Zyzle commented on #5391
@shilman It seems to be, I found this issue after coming across the same problem today.

[2019-03-11 16:49] misund commented on #5974
Looks like I have this same issue. 4.1.13 on the left hand side, 5.0.1 on the right hand side.

![Screenshot from 2019-03-11 17-46-50](https://user-images.githubusercontent.com/265459/54141399-e3edc500-4425-11e9-83fb-2461bab5a403.png)

[2019-03-11 17:37] anoopsinghbayes commented on #5436
would this feature help in fixing angular related issues?
https://github.com/storybooks/storybook/issues/3995

[2019-03-11 18:02] CodeByAlex commented on #6001
Nice @Armanio! So are you saying that you are already working on adding this feature or are you saying that you would like this feature to be added?

[2019-03-11 18:08] Armanio commented on #6001
Yep, i already started work on this feature. But dont worry, if you want you can implement it instead me.

[2019-03-11 18:57] CodeByAlex commented on #6001
I started working on this last night so I'm not too far along yet. How much progress have you made?

In any case, at some point, I think we should touch base with @ndelangen to see if he has any ideas for the design. Were you planning on making the path a link, adding a button, or something else to trigger the highlighting

[2019-03-11 18:58] Armanio commented on #5847
Hi @ohelixa
Could you confirm issue if he actually. I don't can reproduce.

I see you button component, no error, correct name.
What i did wrong? 🤔

[2019-03-11 19:02] CodeByAlex commented on #6023
@aralroca are you using any addons and if so, which ones?

[2019-03-11 19:14] maecapozzi commented on #5949
@tmeasday, I did think that maybe it had to do with the symlinks.

Alternatively, as I was digging into the dev tools, it looked like something called `StoryStore` was getting constantly recreated, and losing its context.

[2019-03-11 19:16] domyen commented on #6001
I can take a look at the design 👍 Socialize the prototype when ready, also
lmk the outcome of the api discussion :)
On Mon, Mar 11, 2019 at 2:58 PM Alex Wilson <notifications@github.com>
wrote:

[2019-03-11 19:29] aralroca commented on #6023
Yes! I'm using this ones:

[code]

Both with `5.0.1` version

[2019-03-11 19:47] dmoojunk commented on #6020
For me this turned out to be a path issue - the git repo created a folder called Design%20System - removing the encoded space to just DesignSystem fixed this for me.

[2019-03-11 19:58] shilman commented on #6023
@aralroca What version of Storybook are you upgrading from?

[2019-03-11 20:26] shilman commented on #6018
I don't understand this issue. Can you clarify what's the problem?

[2019-03-11 20:28] shilman commented on #6017
cc @ndelangen

[2019-03-11 20:33] MPasadu commented on #6018
I am sorry. I think the issue can be put simpler: I can't seem to get markdown to work with story book. At the top screenshot you can see the markdown text (inside visual studio code). The bottom screen shows the result inside storybook. You can see the line feeds are not correct as well as the corresponding line 19 in the markdown screenshot, shows in the storybook screenshot html characters like

[2019-03-11 20:36] shilman commented on #6014
@Jony-Y what happens when you remove the custom `TableComponent`?

[2019-03-11 20:51] Armanio commented on #6001
@CodeByAlex i write prototype but code is too bad. 😖
I am ashamed to show it.

I recorded mini screencast.
![2019-03-11 23 46 16](https://user-images.githubusercontent.com/3195714/54156959-5d9ea680-4458-11e9-9e58-d520708e8b1b.gif)

[2019-03-11 21:00] Armanio opened #6025 "Addon-a11y: dark theme report"
**Describe the bug**
Reports in dark theme has white text on white bg.

**To Reproduce**
Open cra-kitchen-sink with dark theme
Open a11y addon
Show reports

**Expected behavior**
White text on dark bg

**Screenshots**
<img width="648" alt="Снимок экрана 2019-03-11 в 23 59 18" src="https://user-images.githubusercontent.com/3195714/54157599-b3c01980-4459-11e9-8e3d-9208583c4fe9.png">

[2019-03-11 21:07] CodeByAlex commented on #6001
@Armanio Nice work! I like the idea of having transparent styles added to where the accessibility rule is checking. The user can see the component through the highlight and, since it is temporary, it means that the component is not altered with a border. However, I am wondering if it would be frustrating for the user to have to keep clicking in order to see the location of the rule. Maybe we can h

[2019-03-11 21:13] heldr commented on #1519
If you use Babel with Typescript, I also recommend using this https://www.npmjs.com/package/babel-plugin-typescript-to-proptypes

[2019-03-11 21:29] Armanio commented on #6001
Now i add 'pulse' class to target element for 2 sec on click. We can do it on hover. On 'mouseenter' - add class, on 'mouseleave' - remove class. So user can turn on/of glowing manually.  🤔

[2019-03-11 21:30] domyen commented on #6001
@Armanio This is an awesome animation for calling attention to an element!

Agree with @CodeByAlex, a persistent highlight would be ideal.

Strawman UX:
- Add highlight to elements that are in violation `outline: 1px dotted red !important` [1]
- All highlights are visible by default when the accessibility tab is activated
- Add checkbox in the accessibility addons panel subheader to toggle between

[2019-03-11 21:48] Armanio commented on #6001
I understand! You want highlight violation element right away! Without user actions! Of course! Excuse me, today i cant think straight. 🙃

[2019-03-11 22:30] shilman commented on #6001
This is so freaking cool. Great job @Armanio @CodeByAlex -- this is gonna be an awesome feature for a11y.

[2019-03-11 23:07] CodeByAlex commented on #6001
@domyen thanks for the strawman design! That will definitely help improve the experience and increase accessibility in the process by having a persistent visual rather than a flash.

What do you all think about providing the same functionality for passing (green) and incomplete (yellow). When you move from tab to tab, it should only be able to highlight the rules within that tab. This would add a

[2019-03-12 00:17] mikestaub commented on #5184
The example you linked is not using the actions addon, but rather the internal ActionBar component: https://github.com/storybooks/storybook/blob/next/lib/components/src/ActionBar/ActionBar.stories.js#L36

I created a minimal example to reproduce the bug, please see here: https://github.com/mikestaub/storybook-example-bug

[2019-03-12 00:53] lifeiscontent opened #6028 "latest update breaks components built with emotion"
**Describe the bug**
Previous version 5.0.0 works perfectly, and this latest update breaks all of my emotion components.

it has there's also an error saying I need to add `emotion-theming` in my project in order for storybook to work.

[2019-03-12 01:10] shilman commented on #6028
@lifeiscontent can you clear out your `node_modules` and `yarn.lock` and try again? I suspect this is due to a yarn bug. Probable dupe to https://github.com/storybooks/storybook/issues/5817

[2019-03-12 01:10] #6028 closed

[2019-03-12 01:30] acnebs commented on #1153
I actually bumped into this issue because my MetaMask extension was intercepting the `action` calls for some reason. Removed MetaMask and action logs started showing up in the action panel.

[2019-03-12 02:43] Jack-Barry commented on #210
Just to help if anyone else runs into this, I wasn't having much luck finding how to import a CSS file with `@font-face` declarations, but got this working in `@storybook/vue 5.0.0-rc.5`. There was a little additional complexity in figuring out the paths because we keep configuration files in a subdirectory.

[code]

[code]

[code]

And finally, the `npm` script:

[code]

The ticket here was inclu

[2019-03-12 02:51] johhansantana opened #6029 "addon-knobs not showing on storybook for production"
**Describe the bug**
While I am developing on storybook
[code]
the panel shows perfectly but after building
[code]
and serving the folder, the panel is not showing

Here are my configs:
[code]
[code]
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. install `@storybook/addon-knobs`
2. create a component
[code]
3. create a story
[code]

4. run on development and you see the panel. Run on

[2019-03-12 03:36] #4831 closed

[2019-03-12 05:04] FinestV opened #6030 "Static App cannot browse directly to story urls"
**Describe the bug**
When Storybook is exported as a static app using build-storybook you can no longer browse directly to stories by their url. Browsing directly works as expected when running the Storybook in dev mode.

**To Reproduce**
Steps to reproduce the behavior:
1. npm run build-storybook
2. Start a web server in the output directory eg. npx serve .
3. Open the Storybook in a web browser

[2019-03-12 06:20] EnixCoda opened #6039 "Cannot install @storybook/addon-liveedit"
**Describe the bug**
Cannot find `@storybook/addon-liveedit` on npm.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run `yarn add @storybook/addon-liveedit -D` in a npm package folder.

**Expected behavior**
Install the addon successfully.

**System:**
 - OS: MacOS
 - Addons: liveedit

[2019-03-12 06:40] shilman commented on #6030
Can't repro this on my local machine. See also official storybook:

https://storybooks-official.netlify.com/?path=/story/basics-brand-storybookicon--default

[2019-03-12 06:53] shilman commented on #5184
@mikestaub `storybooks-angular` is using the both the `actions` and `knobs` addons. Your repo is using actions but not knobs, and it's react not angular. 😕

[2019-03-12 07:23] Armanio commented on #6001
Green border for passed elements, red for violations, orange for incomplete? Sounds good!

I get iframe by id, after in 'contentDocument' get by query from rule. Its all. :wink:

Without keyframe animation, additional class and onclick event its look a like easy feature.
@CodeByAlex Could you implement that?

[2019-03-12 07:56] mohsinulhaq commented on #5882
could the issue be related to this one?
https://github.com/storybooks/storybook/issues/4995

[2019-03-12 07:59] ohelixa commented on #5847
@Armanio Hi, with the v5 everything got fixed beside the fact that if you look at: "Prop Types" you will see that propType column is showing "other" as value. This is happening only on bundle.

If you go to FormItem component "No propTypes defined!" yet again only on bundle.

[2019-03-12 08:01] aralroca commented on #6023
@shilman I was using `4.1` before `5.0.1`

[2019-03-12 08:11] vytautas-pranskunas- opened #6040 "tests are not found"
Just run example storybook project with Angular and story with tests saying "This story has tests configured, but no file was found" no matter what i have tried.

[2019-03-12 08:30] shilman commented on #6023
@tmeasday @Jessica-Koch Could this be due to the updated keyboard handling in SB5?

[2019-03-12 08:34] shilman commented on #5882
@mohsinulhaq I don't think that issue is related -- AFAIK that's mostly about custom addons but this repo is only using off-the-shelf addons

[2019-03-12 09:29] Keraito commented on #5962
@shilman @anthonytranDev Definitely would like to help if possible, also because of what @shilman stated that we kind of lack documentation on our side. How could I help?

[2019-03-12 09:31] Keraito commented on #6002
@matthewharwood @shilman what do we expect as the expected behaviour here? Just a warning that there's no `package.json`? Or that it initializes it with the respective dependencies?

[2019-03-12 10:16] FinestV commented on #6030
It seems to be related to the `serve` package so may be out of scope. Using `http-server` does not seem to exhibit the issue. Storybook docs however suggest to use serve https://storybook.js.org/docs/basics/exporting-storybook/ "To test it locally: npx serve ."

I have put a simple repro here https://github.com/FinestV/storybook-browse-repro

[2019-03-12 10:33] tmeasday commented on #6023
This is all the keybinding we do inside the preview, AFAIK:

https://github.com/storybooks/storybook/blob/cf96e889c18095c225325d034501e40ced0472d3/lib/core/src/client/preview/start.js#L197-L205

I'm not sure how that could stop the `keyup` event firing?

[2019-03-12 10:35] Jony-Y commented on #6014
@shilman Sorry, closed by mistake, yes, If I remove it it still happens. I'll add an example of a story that fails.

[2019-03-12 10:40] FrancisVega commented on #5875
Now, with the 5.0.1 styled-components, createGlobalStyle and css works like a charm :)

[2019-03-12 10:46] alexan commented on #5436
I don't think so

[2019-03-12 10:54] glitchperfect opened #6041 "addon-backgrounds doesn't hide the addons panel when transparent"
**Describe the bug**
Addon-backgrounds overwrites the background color of the preview. However, if the color is "cleared" or set to transparent, then the preview panel is also transparent and will not show the default theme background color but instead reveal the underlying addons-panel that should be hidden. This is due to the fact that "Showing or Hiding the Addons Panel" does in fact not change

[2019-03-12 10:57] yhnavein commented on #5952
For everyone interested in this issue:
The reason you see this is pretty much because you use old `@storybook/options` package. Just follow this guide: [Migration Guide](https://github.com/storybooks/storybook/blob/next/MIGRATION.md#options-addon-deprecated) and you are good to go :)

[2019-03-12 10:59] shilman commented on #6002
I think a warning would be good. There's probably an interesting project here about making it create a standalone component library after prompting the user if that's what they want, but I'm not sure what would be involved with that.

[2019-03-12 12:02] astrotim commented on #5949
I am also unable to get SB5 working with our Lerna monorepo. We have a custom Webpack config which I haven't had any success updating to the single signature format. Initially it was blowing up on the .css files (we use PostCSS), and after some trial and error I progressed to it blowing up on the JSX parsing.

I will try to detail the specific steps to reproduce this error, but I just wanted to ad

[2019-03-12 12:06] IshaTr commented on #5912
@web-padawan @shilman Hey do you mind if I take this issue up?

[2019-03-12 12:18] Keraito commented on #5050
Yeah that sounds good @shilman, since the PR I created at `merge-dirs` still hasn't received any attention.

[2019-03-12 12:27] CodeByAlex commented on #6001
Yeah I can take this on. Thanks for getting a POC going @Armanio

[2019-03-12 12:33] CodeByAlex commented on #5647
@ohadinho Sorry for the delay. I believe the 5.0 release is optimized for Angular 7 and there may be some backward compat issues. Are you still seeing this issue? If so, are there any errors?

[2019-03-12 12:49] shilman commented on #5912
@IshaTr Go for it! 👍

[2019-03-12 13:00] toshi1127 commented on #5912
@IshaTr
@shilman
I'm sorry if you put your hand on
I tried to fix it.

[2019-03-12 13:13] stdavis commented on #3348
I'm having the same issue. Did anyone ever figure out a solution other than not calling `storiesOf` multiple times in the same module?

[2019-03-12 13:32] IshaTr commented on #5912
@toshi1127 are you done with the fix?

[2019-03-12 13:36] toshi1127 commented on #5912
@IshaTr
I fixed it, so I opened PR！

[2019-03-12 14:27] ohadinho commented on #5647
Hi Alex,
I've started a new angular 7 + storybook project from scratch and
everything is working fine.

On Tue, Mar 12, 2019, 14:33 Alex Wilson <notifications@github.com> wrote:

[2019-03-12 14:31] CodeByAlex commented on #5647
@ohadinho Great to hear! Im going to close this issue

[2019-03-12 14:39] maeligg commented on #5989
I encountered the same issue on a non-TS project using React 16.4.0. I had to update to 16.6.0 (the version where React.memo was added) to make it work.

[2019-03-12 16:57] mr-wildcard commented on #5949
@astrotim I'm having the exact same issue right now in our monorepo (not using Lerna though).

I temporarily fixed it by prefixing the `import` statement this way :
[code]
I never used Lerna but I don't feel like this is related to it... It might have to do with what I'd call webpack contexts switching : the custom webpack configuration you provide to Storybook somehow conflicts with what Storyboo

[2019-03-12 17:05] mikestaub commented on #5184
Yes so perhaps this is a different bug than the original reported one. But even with just the actions addon I still get a 'stack exceeded' error.

[2019-03-12 17:08] mr-wildcard opened #6047 "Can't use JSX nor import CSS file in a custom addon"
**Describe the bug**
I created a custom addon whose purpose is to print the HTML of the current viewed story. But it seems that I cannot import a CSS file nor use JSX in my addon.
Adding a custom webpack config with `babel-loader`, `style-loader` and `css-loader` doesn't fix this issue.

**To Reproduce**
Bug reproduction : https://github.com/mr-wildcard/storybook-custom-addon-bug-repro
Temporary f

[2019-03-12 17:27] CodeByAlex commented on #6001
@domyen How would the user know which rule corresponds to which highlighted option if the only options that they have are to show all highlighting or show no highlighting

[2019-03-12 17:39] sealightPT commented on #5777
This problem still exists with
"@storybook/addon-info": "^5.0.1"
and
"react-scripts": "^2.1.8"

[2019-03-12 17:49] scottdickerson opened #6049 "Add option to hide info from story snapshot generated by story snaps"
**Is your feature request related to a problem? Please describe.**
Can we add an option to the story snaps configuration to exclude all the addons output from the captured storybooks snapshot?  I'm using story snaps to identify changes to my components and alert me to them, but I don't want to be alerted whenever my property definitions or comments change, only when functional changes have happene

[2019-03-12 17:51] domyen commented on #6001
@CodeByAlex good question! Armanio's flash animation would be the right tool for this.

When the highlights are shown, you can click on a list item to trigger the animation as shown in the GIF.

The other thought I've been considering is to reveal the a11y message on hover.
Something like this:
![image](https://user-images.githubusercontent.com/263385/54223391-c3794580-44cd-11e9-859a-dd0dc2e7acf0.

[2019-03-12 17:57] CodeByAlex commented on #6001
@domyen I like the idea of having the description popup as it gives insight into the issue while the user is looking at the component. This way they won't have to look back and forth between the addon view and the component. However, hover states don't work on mobile so we might have to figure out how to make a good mobile experience.  A click is not really an option because then you would be inte

[2019-03-12 19:22] Generic35 opened #6051 "Nesting two storybook projects."
**Is your feature request related to a problem? Please describe.**
We have an existing library of components that we share across teams.
This library also has it's storybook.
Is it possible to do storybook composition, meaging, creating new storybooks that would start off including these base components (atoms, molecules, organisms), and then add to this storybook pages specific to the current pro

[2019-03-12 19:57] Jessica-Koch commented on #6023
Tom is right

Sent from my iPhone

[2019-03-12 20:23] CrashyBang opened #6052 "Issues with withCSSContext when using vue-cli plugin defaults"
**Describe the bug**
Storybooks not loading, using default config.

**To Reproduce**
Steps to reproduce the behavior:
1. Create empty Vue project `vue create project-name`
2. Add storybooks plugin `vue add vue-cli-plugin-storybook `
3. Run `npm run storybook:serve`
4. See error

[code]

**Expected behavior**
Storybooks to load up (according to dash it is built correctly);

**Code snippets**
`packa

[2019-03-12 20:24] trentparker16 opened #6053 "dark theme <a/> style"
**Describe the bug**
default link color in most user agent stylesheets doesn't look good using dark theme. Specifically the links in addon-storysource.

**To Reproduce**
Steps to reproduce the behavior:
1. Use dark theme and addon-storysource
2. Use a browser with a default link color that has low contrast to the dark theme background.

**Expected behavior**
link color should be legible.

**Screen

[2019-03-12 20:38] shilman commented on #6052
cc @pksunkara

[2019-03-12 20:45] shilman commented on #6051
I don't see why you couldn't do this. Most Storybooks have a story loader that looks like this defined in its `config.js`:

[code]

Each storybook could have a different config with as many or as few of those as you wanted.

[2019-03-12 20:50] shilman commented on #6049
Addons that modify the preview window are an anti-pattern. We'll be updating `addon-info` to run in the addons panel in 5.1, so hopefully this won't be an issue.

[2019-03-12 20:53] shilman commented on #6047
cc @ndelangen

[2019-03-12 21:01] shilman commented on #5249
FYI the RN changes got delayed.

SB5 launched last week without RN: https://medium.com/storybookjs/storybook-5-0-db1d0f9c83b8

We'll try to release an updated RN on `5.1-alpha` in the coming two weeks.

[2019-03-12 21:02] #5647 closed

[2019-03-12 21:35] shilman commented on #5912
Great Caesar's ghost!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.5 containing PR #6043 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.