[2019-05-09 07:40] shilman opened #6751 "Migrate Chromatic to CircleCI"
Run Chromatic from CircleCI rather than Teamcity.

This is our last Teamcity dependency. Moving this to CircleCI allows us to simplify our CI dramatically, frees up Teamcity resources, and addresses a security concern.

- [ ] Add Chromatic to circle config
- [ ] Remove it from Teamcity config
- [ ] Test with the PR

[2019-05-09 08:55] domyen opened #6753 "5.1.x scrollbars do not scroll and exhibit strange behavior with external mice"
**Describe the bug**
- Scrolling does not scroll
- Scrollbars remain visible when using an external mouse (i.e., in a desktop setup)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Storybook `next` branch. View the [default story](https://next--storybooks-official.netlify.com/?path=/story/ui-panel--default) or the [about page](https://next--storybooks-official.netlify.com/?path=/settin

[2019-05-09 09:08] goldstork commented on #6743
Hi!

This is my config and it works for me.
I think this is not the best option, but others did not work for me.

`
const path = require('path')
const rootPath = path.resolve(__dirname, '../src')

module.exports = ({ config }) => {
	config.module.rules.push({
		test: /\.scss$/,
		use: [
			'vue-style-loader',
			'css-loader',
			{
				loader: 'sass-loader',
				options: {
					data: `
						@impor

[2019-05-09 09:34] shilman commented on #6615
Can you use this as a workaround?

https://storybook.js.org/docs/configurations/custom-webpack-config/#using-your-existing-config

[2019-05-09 09:37] shilman commented on #6678
@KovDimaY FWIW we do this all the time on CircleCI: https://github.com/storybooks/storybook/blob/next/.circleci/config.yml#L43-L124

I'm not sure if there's a special setup you need for Heroku.

[2019-05-09 11:17] carlrip opened #6754 "maxPropObjectKeys not being applied to objects within an array prop in the Info addon"
If you have a React component prop that is an array of objects, only 3 props within the objects is shown in the JSX preview. Setting `maxPropObjectKeys` doesn’t seem to effect this.

An example story is below:
[code]

This shows a `List` component that has a `data` array prop. The first object in the array has 4 props which is greater than the default `maxPropObjectKeys` setting which seems to be

[2019-05-09 11:52] cojok commented on #6743
Hi @goldstork,

Thanks a lot for the suggestion. It works!

[2019-05-09 12:02] ymcnicoll commented on #6753
This behavior also shows on Windows machines.

This started to happen when I upgraded from alpha.31 to alpha.40

[2019-05-09 12:58] #5052 closed

[2019-05-09 13:19] daton89 commented on #6253
i have installed storybook with `npx -p @storybook/cli sb init` today...

as suggested from the the cli,  i installed `core-js@3`, then the start script was not found.

but after installing `@storybook/react-native-server` and updating storybook script to `start-storybook -p 7111" i solved the problem

[2019-05-09 14:08] saintplay commented on #1298
- **proxyquire** doesn't work with webpack
- **Mocktail** isn't that powerfull

There is another option, robust, well mantained and works very well

<https://github.com/theKashey/rewiremock>

[2019-05-09 14:24] Hypnosphi commented on #6677
Can we reconsider it? Of course one can put a text in the SVG, but it complicates things a bit

[2019-05-09 16:20] scottleblang opened #6756 "Clicking Shortcuts Button Opens Blank Screen"
**Describe the bug**
When clicking the Storybook 3-dot shortcuts button in the left panel, rather than open a menu of options for Storybook, the page refreshes to a blank screen . This same behavior also occurs if I press the 'Change the size of the preview' button along the top header panel.

**Expected behavior**
A menu should open next to the Shortcuts button showing selectable options -see att

[2019-05-09 17:16] ajhool commented on #4007
I'm experiencing the same bug. Have tried the fix suggested by @panosangelopoulos and it did not resolve the issue

[2019-05-09 17:20] brycehill commented on #6204
Deleting the alias didn't work for me. However, I was able to workaround this by moving our babel file into `.storybook`

[2019-05-09 17:22] #6756 closed

[2019-05-09 17:23] scottleblang commented on #6756
Issue resolved as invalid entry in theme

[2019-05-09 18:58] #5906 closed

[2019-05-09 19:35] forrestblade commented on #5877
I'm still having this error, I'm not understanding what I need to do to fix it.  This is what my webpack.config inside my .storybook looks like.
[code]

[2019-05-09 19:44] shilman commented on #5877
@forrestblade If you're using Storybook 5, the webpack config function signature changed. You're still using the v4 version. See: https://github.com/storybooks/storybook/blob/next/MIGRATION.md#webpack-config-simplification

[2019-05-09 19:50] forrestblade commented on #5877
@shilman Sorry that config was not accurate, I updated to 5.0.11 and I changed the `module.exports = (baseConfig, env, defaultConfig) => {` to `module.exports = (config, mode) => {`

I get the same error except it's not on modules its on the rules.
` TypeError: Cannot read property 'rules' of undefined`

[2019-05-09 19:51] #6483 closed

[2019-05-09 19:53] forrestblade commented on #5877
I updated my original comment to my current settings

[2019-05-09 19:58] shilman commented on #6754
@carlrip I think `maxPropObjectKeys` is currently an option for the PropsTable. Applying it to the source display makes sense too. PRs welcome.

[2019-05-09 19:59] forrestblade commented on #5877
I figured, it out.  It's been a long day haha. I forgot my curly braces

[2019-05-09 20:52] nkov commented on #5888
I am having this issue and reinstalling modules did not help.

[2019-05-09 23:36] DrSensor commented on #2812
@probot waiting for v5.x

[2019-05-10 06:38] #6414 closed

[2019-05-10 08:23] andreassavva commented on #3982
I have the same issue, I am using `module.rules`. I have been debugging with `--debug-webpack` and I see the loaders are loaded as they should, the path `.storybook` is included but I still get an Unexpected token error in the beginning of the first .scss file. What can the problem be?

[2019-05-10 09:11] rwieruch opened #6758 "Override SVG Loader in custom Webpack"
Not sure whether this is explained somewhere, but I had to override the SVG loader used by Storybook to integrate [SVG](https://github.com/smooth-code/svgr). In case someone stumbles upon this issue, here is what I have done in my custom Webpack config:

[code]

In case there is another approach to this, please leave a comment. Anyway, just thought this may help someone who runs into the same thin

[2019-05-10 10:27] #6192 closed

[2019-05-10 11:27] freedyc commented on #3444
upgrade yarn  and updae package

[2019-05-10 11:42] Grsmto commented on #6753
Hi,
SimpleBar maintainer here, I'll look into this, I think this is an upstream bug. I think I know the cause but I'm still unsure on why this is happening as the usage in Storybook seems quite straightforward.

After debugging quickly this, it seems like it's unrelated to SimpleBar and it's a `z-index` issue. An element on top is blocking any mouse interaction.

[2019-05-10 12:04] Grsmto commented on #6753
So after investigation, this is because SimpleBar V4 has breaking changes that have been taken into account in Storybook. Actually it's not due to the breaking changes exactly, it's just that you have hardcoded the core CSS of SimpleBar [in this file](https://github.com/storybooks/storybook/blob/bf76760d333436fde7b408fe2eb63e03a2822133/lib/components/src/ScrollArea/ScrollAreaStyles.tsx) so the CSS

[2019-05-10 12:26] jonwilliams-bluescape commented on #5455
For those who would like to keep their knob configurations outside the add() function,
you can apply scope FTW:

[code]

[2019-05-10 12:33] forrestblade commented on #5706
I cannot resolve these errors.
[code]

![code](https://user-images.githubusercontent.com/34611501/57527642-d0f85380-72f5-11e9-94be-3a8bc8dbd75f.png)

I have tried multiple times deleting my node_modules and yarn.lock
I am working with a monorepository so I don't know if that would make a difference

[2019-05-10 12:52] forrestblade opened #6760 "Cannot launch storybook UI, receiving multiple errors"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
I don't know how to reproduce

**Expected behavior**
To load the UI
**Screenshots**
this is my package.json

![code](https://user-images.githubusercontent.com/34611501/57528625-77455880-72f8-11e9-96eb-183b87f8110f.png)

**Code snippets**
[code]

I have tried multiple times deleting my node_modules and yarn.l

[2019-05-10 12:55] forrestblade commented on #6760
I'm at the point where I need to downgrade back to to 4.x.x so I can finish my work.  The reason I was upgrading is I had a specific component that was crashing Storybook all together and I figured that upgrading might resolve that issue.

[2019-05-10 15:17] shilman commented on #6760
@forrestblade Are you trying to theme Storybook? If so, I'd suggest removing that part, since the stack trace is theming-related.

[2019-05-10 15:19] shilman commented on #6753
Thanks so much @Grsmto ! Much appreciated!

[2019-05-10 15:44] majames opened #6762 "Webpack dev server proxy failing"
**Describe the bug**

I am using storybook in **full control mode** and attempting to add a proxy to the webpack dev server for certain requests (as the backend API I'm querying is served off a different `localhost` port). This is failing to work.

**To Reproduce**

1. Setup storybook in [full control mode](https://storybook.js.org/docs/configurations/custom-webpack-config/#full-control-mode)
2. M

[2019-05-10 16:01] artyomtrityak commented on #6753
Having similar issue on Mac 5.1-beta0

![Storybook (1)](https://user-images.githubusercontent.com/957406/57540735-3a7e5f00-7302-11e9-878a-f7c32bc0fda0.png)
![Storybook](https://user-images.githubusercontent.com/957406/57540737-3a7e5f00-7302-11e9-890b-733ab9b4f34e.png)

[2019-05-10 16:04] zlw11063 commented on #1171
I would also like to know the right way to do this.

[2019-05-10 16:11] travi opened #6763 "defining `process` as `true` breaks usage of libraries looking for environment variables"
**Describe the bug**

[`process` is defined as `true` using the webpack define plugin](https://github.com/storybooks/storybook/blob/6adbf6b4c605b3628acb73293ae9fe1889404d2a/lib/core/src/server/manager/manager-webpack.config.js#L63). `true` does not match the expectation that `process` is an object.

this results in libraries, even when attempting to be defensive about the presence of `process`, at

[2019-05-10 17:25] beauroberts opened #6764 "Error with 5.1.0-beta and React < 16.6"
**Describe the bug**
When using React < 16.6, storybook 5.1.0-beta fails to load in the browser with the following error in the dev console:

[code]

I am upgrading from storybook 5.1.0-alpha.37

The React peerDependencies seem to suggest that any version is supported (`"react": "*"`), but it looks like usage of `React.memo` has recently made it into the codebase. Does this mean you no longer supp

[2019-05-10 18:58] lewisl9029 commented on #6763
I was just about to report the exact same issue. In my case our project used https://github.com/nygardk/react-share, which had `debug` as a transitive dependency.

This also appears to overwrite whatever was set previously as `process.env` in the previous DefinePlugin invocation above, which also feels problematic: https://github.com/storybooks/storybook/pull/6553/files#diff-87391fa0641e90443c27a7

[2019-05-10 19:04] travi commented on #6763
thats a good point that i forgot to address in my initial issue. i did attempt to use the define plugin to override what was set as `process` by storybook, but i was unsuccessful. i'm not sure if there is a way to use the define plugin multiple times or not, but i was unsuccessful in my attempts.

[2019-05-10 20:10] lewisl9029 commented on #6763
Here's the workaround I put in place for now (requires [full control mode](https://storybook.js.org/docs/configurations/custom-webpack-config/#full-control-mode)):

[code]

[2019-05-10 20:34] Shaneprrlt commented on #5817
@whyayala that worked for me, thanks!

[2019-05-10 21:30] MightyRevenge commented on #6364
I did this exact thing, but it doesn't seem to load this for me when I run storybook

[2019-05-11 00:58] alistair-hmh commented on #1171
@zlw11063 - I found this kind of thing to work ok...

[code]

[2019-05-11 01:41] lewisl9029 opened #6765 "Full page load on navigation since 5.1.0-alpha.37"
**Describe the bug**

In previous releases, navigating to a new story using the sidebar seems to have only resulted in a js navigation event inside the preview iframe.

Unfortunately, since 5.1.0-alpha.37 (specifically this PR: https://github.com/storybooks/storybook/pull/6688), navigating to a new story has started to trigger a full page load inside the iframe, which can add quite a bit of fricti

[2019-05-11 04:16] shilman commented on #6763
@libetl Didn't you run into this bug and fix it? Can you issue a small PR for that?

[2019-05-11 05:15] domyen commented on #6753
Thanks @Grsmto 🙏. I totally forgot about that hack 😅, will have to figure out why we ended up doing that - a setting-specific reason I'm sure.

[2019-05-11 07:25] libetl commented on #6763
Exactly this bug so I made a workaround in poc/addon-editor branch

[2019-05-11 07:26] libetl commented on #6763
We should export all the env vars and not just these three in the above snippet I think

[2019-05-11 07:28] libetl commented on #6763
The above snippet looks good, I also suggest to leave a value for the  `process.browser` boolean

[2019-05-11 11:08] chrispcode opened #6766 "fromId is not defined when using mdx format"
**Describe the bug**
Alright, so I have been trying to translate some of my Docz .mdx files to storybook, with version
v5.2.0-alpha.4. And so far so good, I get the *canvas* tab to work, but when I navigate to the *docs* tab it crashes saying `Cannot read property 'fromId' of undefined`.

**To Reproduce**
Steps to reproduce the behavior:
1. Install `@storybook/react` and `@storybook/addon-docs` to

[2019-05-11 13:17] nikdo commented on #6065
I think this can be safely closed. Bootstrap sets body background, resetting it manually for usage in Storybook sounds like a proper solution.

The other solution is to change storybook to set a transparent `body` background using `!important`. But I'm not sure this is reasonable.

[2019-05-11 13:24] nikdo commented on #6065
.storybook/config.js:
[code]

.storybook/reset.css:
[code]

[2019-05-11 13:26] #6051 closed

[2019-05-11 14:52] #6065 closed

[2019-05-11 14:59] shilman commented on #6766
Some comments:
- You can use `@storybook/addon-docs/react/preset` since you're using `@storybook/react`
- The following configurations are redundant with the preset and should be removed:
  - webpack.config.js
  - .babelrc
  - addons.js

Try getting rid of those and maybe it will solve the problem?

[2019-05-11 15:01] shilman commented on #6763
@libetl Can you make a PR onto `next` to fix the bug so we don't need a workaround at all?

[2019-05-11 15:06] shilman commented on #6765
@tmeasday Mind taking a look at this?

[2019-05-11 15:54] chrispcode commented on #6766
If I remove them, I get a transpilation error:
![image](https://user-images.githubusercontent.com/7029482/57572024-cb922a80-7415-11e9-91ef-86daa2fd5964.png)

[2019-05-11 16:00] chrispcode commented on #6766
If I add only the webpack configuration, and remove the link to the .babelrc I get a react syntax error:

![image](https://user-images.githubusercontent.com/7029482/57572127-989c6680-7416-11e9-8fec-2a0b5c32472e.png)

[2019-05-11 16:01] chrispcode commented on #6766
If I add the .babelrc as well the project compiles with no errors, but the docs tab does not show up.

![image](https://user-images.githubusercontent.com/7029482/57572150-d39e9a00-7416-11e9-8c9b-4bb972563f11.png)

[2019-05-11 16:19] chrispcode commented on #6766
Also the preset change does not effect it, in my situation

[2019-05-11 17:41] libetl commented on #6763
Will do

[2019-05-11 17:49] libetl commented on #6763
pull request is now opened

[2019-05-11 23:14] forrestblade commented on #6760
No we aren't using any themes. I added the themes package in an attempt to resolve that issue

[2019-05-12 00:49] shilman commented on #6760
what version of react are you using?

[2019-05-12 00:51] shilman commented on #6766
Oh, rename your file to `presets.js`

[2019-05-12 06:16] egor-xyz commented on #6574
```"react-scripts": "3.0.1",```
```"@storybook/react": "5.0.11",```

Working only with:
[code]

Otherwise:
[code]

[2019-05-12 10:21] SpearThruster commented on #6574
@egor-xyz I am pretty sure you need one of the `alpha|beta` releases of `storybook@5.1.X` (starting from: `5.1.0-alpha.33`)

[2019-05-12 10:26] egor-xyz commented on #6574
@SpearThruster Yes, working with beta
[code]

[2019-05-12 11:22] mrmckeb commented on #6574
Correct, as @SpearThruster said, you need to be on the next branch. This will be released very soon :)

[2019-05-12 13:09] #5779 closed

[2019-05-12 16:09] #5134 closed

[2019-05-12 17:09] #5886 closed

[2019-05-12 17:09] #5895 closed

[2019-05-12 18:04] alechp opened #6768 ""About Your Storybook" version upgrade recommendation is wrong when using `@storybook/react-native-server@5.1.0-beta.0``"
**Describe the bug**
@storybook/react-native-server v `5.1.0-beta.0` simply doesn't work. Will file a separate issue to address that.

This is a non-breaking bug. Filing because it causes confusion. If nothing else, figure that it'll help save someone else time.

 Storybook recommends that you update your "storybook" version even if you have already done so... What it really means to say is you sh

[2019-05-12 18:22] alechp opened #6769 "`@storybook/react-native-server@5.1.0-beta.0` is broken"
**Describe the bug**

1. `@storybook/react-native-server` is broken in `@storybook/react-native-server@5.1.0-beta.0`. You can tell because none of the stories are displaying in the navbar.

2. `About Your Storybook` has a style issue

<img width="952" alt="Screen Shot 2019-05-12 at 11 04 15 AM" src="https://user-images.githubusercontent.com/3058939/57586191-422b3880-74a7-11e9-98b2-51c85e8a30b4.png

[2019-05-13 00:31] tmeasday commented on #6765
I wondered about this; I should have probably looked closer.

Thanks for the detailed report @lewisl9029.

The reason that #6688 was needed was due to the iframe not yet being initialized when the first event was sent over the channel; thus the usual mechanism not working.

I guess we need to
  (a) Explicitly ensure the `src` of the `iframe` never changes. Previous to #6688 this happened but it wa

[2019-05-13 03:48] shilman commented on #5895
We're on `5.1.0-beta` now. Check it out!

[2019-05-13 03:48] shilman commented on #5886
We're on `5.1.0-beta` now. Check it out!

[2019-05-13 04:20] brendonco commented on #5866
@shilman  how to upgrade to https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.29  ? will this be enough ```npx npm-check-updates '/storybook/' -u && npm install```

[2019-05-13 04:24] shilman commented on #5866
We're on `beta.0` now. I think `npm-check-updates` will work for prerelease versions -- try it? If it doesn't work, just edit your `package.json` file to set dependencies by hand.

[2019-05-13 04:44] shilman opened #6770 "Addon-docs: Preview multiple stories"
[code]

[2019-05-13 04:47] shilman opened #6771 "Addon-docs: Preview show source"
Drop-down to show source code for embedded stories:

[code]

<img width="786" alt="Storybook_Docs_sneak_peak_–_Storybook_–_Medium" src="https://user-images.githubusercontent.com/488689/57596479-740ece80-757d-11e9-857c-32fad5bb097e.png">

[2019-05-13 06:28] majames commented on #6762
Any update here? 🙏

[2019-05-13 08:04] csvan commented on #6671
We currently work around this by adding a hard resolve (in Yarn) to core-js 2.6.5, but that is untenable in the long run. Would be great to see full support for core-js 3, which is also the path Babel is headed.

[2019-05-13 09:36] flav0061 commented on #6363
Hi,
Any further development on this?
Thanks for the help

[2019-05-13 11:45] #6233 closed

[2019-05-13 12:43] soundstep commented on #729
Same issue here, storybook doesn't isolate each story, making it unusable for any visual testing/ acceptance testing.

[2019-05-13 13:00] sigo commented on #5869
Same here. :(

[2019-05-13 13:55] karldanninger commented on #5882
In case anyone comes across this issue, what I found was I followed what @thecotne said above with the config, and removed all storybook addons until I found some culprits in my particular setup.

[2019-05-13 15:08] oMaten opened #6773 "Webpack's DevServer not work as expected"
**Describe the bug**
I set the `webpack.config.js` as follow, but it's not work.
Then, I found here https://github.com/storybooks/storybook/blob/next/lib/core/src/server/dev-server.js#L109
It's wrong for assigning the `devServer` options to `webpack-dev-middleware`, cause the most of options only affect the behavior of `webpack-dev-server`.
Is it possible to support the webpack's `devServer` optio

[2019-05-13 15:36] mundosk8 commented on #6474
Im facing the same problem also. Even using the next tag

[2019-05-13 15:45] #6247 closed

[2019-05-13 19:26] chrispcode commented on #6766
Yes, that was the solution! Sorry for losing your time with this guys.

[2019-05-13 19:26] #6766 closed

[2019-05-13 21:36] artyomtrityak commented on #5721
While this code works

[code]

It does not work well with `@storybook/addon-info`:
![Screenshot 2019-05-13 14 35 10](https://user-images.githubusercontent.com/957406/57656082-57c65e00-758c-11e9-8e90-d44b0b127940.png)

This makes this workaround unusable. Any ideas? Storybook 5.1.0-beta.0

[2019-05-13 22:24] Hypnosphi commented on #6626
Not observed on  https://next--storybooks-official.netlify.com anymore

[2019-05-13 22:24] #6626 closed

[2019-05-14 01:42] shilman commented on #5721
You can override the `propTables` option in `addon-info`?

[2019-05-14 02:20] artyomtrityak commented on #5721
@shilman will it also include source of `<DropdownBasicStory  />`?

[2019-05-14 03:05] domyen commented on #6753
Tried to debug this using @Grsmto's suggestion to update the CSS; that ended up causing different layout bugs. @ndelangen can you lend a hand here?

[2019-05-14 03:10] shilman commented on #5721
@artyomtrityak I'll see what I can do 😆

[2019-05-14 03:11] shilman commented on #6671
@csvan Have you tried `5.1.0-beta.0`? I believe it contains the full upgrade

[2019-05-14 08:05] oMaten commented on #6773
I found `./storybook/middleware.js` could solve my problem. But it's not mentioned on document.

[2019-05-14 10:02] ndelangen commented on #6765
[code]

Sounds like the proper plan tbh

[2019-05-14 10:06] ndelangen commented on #6753
I'm on it

[2019-05-14 10:27] ndelangen commented on #6753
@artyomtrityak are you on our discord by any chance?
https://discord.gg/sMFvFsG

[2019-05-14 10:58] Grsmto commented on #6753
Make sure to apply the right css properties on the host (element on which you apply SimpleBar). As it doesn't do it for you anymore (that's a breaking change on V4).
So for ex for the left sidebar it won't work unless you define `max-height: 100%;` on the element.

[2019-05-14 11:09] Grsmto commented on #6753
If you guys struggle let me know and I could work on a PR!
I had a quick look and was able to fix it with the tips I provided in my previous comment.

[2019-05-14 11:30] ali-sao commented on #1946
يا عيني على ربك يا زلمه

[2019-05-14 12:08] imvetri commented on #6067
I made something to make component building and code generation easier. @igor-dv / @libetl / @shilman Could anyone of you have a look at it and provide a feedback?

I reported this issue and I built something to similar one. Would really appreciate it if I get some guidance on how to take it further.

[2019-05-14 13:43] adberard commented on #5779
downPanelInright: true in the the deprecated  setOptions() was working better than panelPosition: 'right'.
How do we fix this ?

[2019-05-14 13:43] TCiobanu commented on #6576
Hey @luksm, I have a similar situation to @Troncoso, I have a components directory which is a submodule to a webapp and storybook integrated into the components. Is there any way to separate storybook, i.e. the config files, and all the stories from the components? Your suggestion, correct me if I'm wrong, separates the storybook module from production but not the stories and associated files.

[2019-05-14 13:46] ndelangen commented on #6753
@Grsmto I'm running into a problem where (at least on my machine, I can't scroll all the way to the right, when scrolling on both axis:

[![](http://img.youtube.com/vi/kp-om1IryaQ/0.jpg)](http://www.youtube.com/watch?v=kp-om1IryaQ "")

I can reproduce this on http://grsmto.github.io/simplebar/examples too

[2019-05-14 14:04] wbern commented on #1171
@alistair-hmh don't you get webpack compile errors when using that?

[2019-05-14 14:34] Grsmto commented on #6753
@ndelangen what we can see in the video is actually the "normal" behaviour. If you check when you're testing the "Both axis + padding native" it's having the exact same behaviour.
If you apply a padding inside an `overflow: auto` element, the browser does not take that padding into account for the `padding-right`. I'm not sure exactly why but that's the native CSS behaviour!

If you want to fix th

[2019-05-14 14:48] ndelangen commented on #6753
browsers suck

[2019-05-14 15:50] mglavall opened #6786 "Migrating to v5, addons throw error"
### Bug or support request summary
We have migrated from 4.1.11 to 5.0.11, but we are getting the following error.
![image](https://user-images.githubusercontent.com/23035545/57712167-76058a00-7670-11e9-95a9-c63a5bece23e.png)
It seems related to #5645 , but in our case, the addons are up to date. Is there something that we are missing?

### Please specify which version of Storybook and optionally

[2019-05-14 16:50] mbulfair commented on #5949
I'm working with a monorepo as well, but the issue has something to do with css-loader, I am using style-loader/css-loader/postcss-loader with css modules, I'm trying to switch from styleguidst to storybook, and it hasn't been easy at all. I am not sure where the issue is but, I get the unknown word:
`var content = require("!!../../../node_modules/css-loader/dist/cjs.js??ref--10-1!../../../node_mo

[2019-05-14 17:00] graphographer commented on #714
For future reference, symlinks are perfectly fine to use. If you want/need to use them with relative paths, then you simply use the -r switch like so: ln -rs <dir1> <dir2>

I personally think that if storybook sees fit to *copy* an entire static directory, this should be clearly stated in the documentation. Otherwise, this behavior should be switched out for one that creates the appropriate symlin

[2019-05-14 17:14] ndelangen commented on #4774
knobs now no longer appear in the url, unless you generate a share-url

[2019-05-14 17:14] #4774 closed

[2019-05-14 17:18] ndelangen commented on #6753
@domyen or anyone else, are you able to confirm the issue is resolved in my PR?
https://github.com/storybooks/storybook/pull/6785

[2019-05-14 17:41] ndelangen commented on #6786
Addon info requires a modern version of react (16.8), updating to the latest react will fix this.

[2019-05-14 18:37] mbulfair opened #6788 "Question - Undefined css-modules v5.1.0-beta.0"
If you are reporting a bug or requesting support, start here:
### Bug or support request summary

_Please provide issue details here - What did you expect to happen? What happened instead?_
Using a custom webpack config, the component I am using renders, but the css classname are returning undefined. I have css modules enabled. I see the css in the <style></style> as well. No other console errors.

[2019-05-14 19:06] nfarina commented on #5889
So I personally only want Storybook's theme to change along with my macOS system theme (for when I'm working at night). My app itself already uses the `prefers-dark-mode` media query and I wanted Storybook's UI to do the same. I took @seanmcintyre's (excellent) sample code and made this very quick and simple alternative:

  https://gist.github.com/nfarina/fb708f66858d2d3317877ab8adf8d926

Simply a

[2019-05-14 20:30] #6788 closed

[2019-05-14 22:48] vdh commented on #4769
This issue has been a big headache for me when developing in Storybook, since the React Dev Tools' inspector is effectively broken.

There's a very roundabout workaround where I have to target the DOM element via Chrome's inspector, then make sure `$0` targets a relevant element, and _then_ switch back to React Dev Tools, which hopefully jumps to the relevant React component due to the `$0` integr

[2019-05-14 22:59] mlmassey commented on #6577
@shilman Do you believe the call to memo is what is causing the problem.  As I see it, I saw two problems:
1. console.error complaining about memo (don't really care)
2. Left panel never loads and show a spinner when importing withInfo, which makes it unusable.
My final solution was to remove withInfo completely from my project by hand-editing 450 occurrences and now we are happily using Storybook

[2019-05-14 23:46] #6237 closed

[2019-05-15 00:16] shilman commented on #6577
@mlmassey I believe the call to memo is a problem if you're using earlier versions of react. If you're running into this memo issue, currently, you have three options (I'm guessing):
1) Fix addon-info to not use memo
2) Remove addon-info from your project
3) Upgrade your react to 16.6+

I'm currently working on an `addon-info` replacement, and I hope to address most of the open addon-info issues t

[2019-05-15 00:18] psachs21 commented on #5663
@shilman I also just ran into this issue. My issue is that because I have emotion-theming@9.x in my package, the ThemeProvider included is from this version (node_modules/emotion-theming) as opposed to node_modules/@storybook/theming/node_modules/emotion-theming. I suspect this has to do with the storybook dll (a webpack dll) that links all imports from emotion-theming to the root node_modules dir

[2019-05-15 02:33] forrestblade commented on #6760
i'm just going to close this.  I ended up not using storybook in order to get my work done.  If I end up using it in the future and run into these errors again I will opena new issue with more detailed information.

[2019-05-15 02:33] #6760 closed

[2019-05-15 04:51] jung-han opened #6790 "The first knobs button with a title that contains brackets does not render."
**Describe the bug**
Hi, I am currently using a storybook using the knobs button in `^5.1.0-alpha.40` version.

I found a bug ...
The first knobs button with a title that contains brackets does not render.
However, if the first button is exposed, it will render normally.

**Expected behavior**
The text must be fully exposed, no matter what text is entered.

**Code snippets**

[code]

**Screenshots

[2019-05-15 08:20] shilman opened #6791 "Addon-docs: Automatically identify framework"
Add a method to core to identify the framework associated with a story / kind. This will be useful for multi-framework support https://github.com/storybooks/storybook/issues/3889 and potentially other addons as well.

In Addon-docs, we should use this to select smart default values for "inline" prop table extraction to make the addon zero-config (and future-compatible with multi-framework).

[2019-05-15 09:24] mglavall commented on #6786
I just updated react and react-dom like you suggested, the error is still there

[2019-05-15 09:53] austil commented on #6689
Yes please !
This noise is so annoying that I've became a power user of the filter feature in the dev console.

[2019-05-15 11:30] devdigital commented on #4672
This is still an issue, if you add `babel-loader` when using create-react-app, and it's not the expected version, then you'll receive the following:

[code]

[2019-05-15 11:44] ndelangen commented on #3889
That's a really good insight @Hypnosphi

[2019-05-15 11:46] #6217 closed

[2019-05-15 11:49] ndelangen commented on #6689
A general logLevel setting would solve this.

one day monoconfig will fix this

[2019-05-15 12:33] Zyzle commented on #6671
@shilman @csvan  Can confirm upgrading to `5.1.0-beta.0` resolved the issue for us.

[2019-05-15 14:11] lucasff opened #6792 "v5.0.11 is not in NPM"
No 5.x "stable" version exists in NPM which break any installation

[code]

**System:**
 - OS: macOS Mojave
 - Framework: react-native
 - Addons: typescript

[2019-05-15 16:57] Asday commented on #2513
@swashcap nooo!  I was so happy someone else said what I've been thinking the entire time I've been working with redux, and you disappear a month later?

I am exceedingly sad.

(I got here in a different way though - I'm looking to split `propTypes` out into ones the user must provide, and ones the component gets from the store, and enforce that with linting.  Unrelated, but context is always help

[2019-05-15 17:33] artyomtrityak commented on #6753
@ndelangen yes i am :)

[2019-05-15 18:05] kaelig commented on #6764
I encountered the same issue (workaround: downgrade to `5.1.0-alpha.39`).

[2019-05-15 19:36] vanpacheco commented on #2266
I feel that hiding all of the prop types could be a useful feature. Right now the way to achieve that is by filling the `propTablesExclude` array, but if a component is created inside a story, then it will appear in the props table.

[2019-05-16 01:24] domyen commented on #6753
Added theming support back in #6794. can @ndelangen or anyone confirm 🙏

[2019-05-16 03:08] shilman commented on #5663
Thanks @psachs21. @ndelangen can you chime in here?

[2019-05-16 03:13] shilman commented on #4475
@backbone87 @pksunkara @elevatebart @igor-dv  Is there any chance one of you can take a look at this in 5.2? Our support for Vue will always be second-class unless we can resolve issues like this. I'm happy to help on the presets side of things, and we can highlight this work when we start hyping presets in 5.2.

[2019-05-16 03:19] shilman commented on #6671
Awesome @Zyzle thanks for the confirmation. I'm going to close this issue, but can re-open if it's still a problem for people.

[2019-05-16 03:19] #6671 closed

[2019-05-16 03:21] shilman commented on #6792
There is no 5.0 release of RN. See https://github.com/storybooks/storybook/issues/5893 deets

[2019-05-16 03:21] #6792 closed

[2019-05-16 03:26] shilman commented on #6764
@beauroberts @kaelig What addons are you using? Can you try disabling all of them & let me know if it's still a problem? Thanks!

[2019-05-16 03:29] shilman commented on #2266
@vanpacheco Working on a full replacement for `addon-info` that will have this feature and a lot more. Current progress:

<img width="752" alt="Storybook" src="https://user-images.githubusercontent.com/488689/57824514-dfe77600-77cd-11e9-9253-b78079c9f8d2.png">

More information about the project: https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a

[2019-05-16 03:35] shilman commented on #6216
@PaulieScanlon This is working well in docs now:

<img width="1220" alt="Storybook" src="https://user-images.githubusercontent.com/488689/57824755-b549ed00-77ce-11e9-9a5b-a19507dacc77.png">

[2019-05-16 06:08] shilman commented on #6751
Gadzooks!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-beta.1 containing PR #6752 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-05-16 06:08] shilman commented on #6343
Great Caesar's ghost!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-beta.1 containing PR #6696 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-05-16 06:08] shilman commented on #6753
w00t!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-beta.1 containing PR #6794 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-05-16 06:08] #6751 closed

[2019-05-16 06:08] #6753 closed

[2019-05-16 07:05] shilman commented on #5779
@adberard The whole UI was reimplemented, so the `downPanelInRight` vs `panelPosition` is just a naming change. The real issue here that the new UI needs some love. If you're interested in working on it, you can join our Discord and @ndelangen can help onboard you!

https://discord.gg/UUt2PJb

[2019-05-16 07:06] shilman commented on #6067
@imvetri This looks really cool. Is there a repo somewhere I can look at and try it out?

[2019-05-16 07:10] shilman commented on #6773
@oMaten In my opinion it's not an officially supported API. We've kept it around because it's a useful escape hatch for doing just about anything. We also don't have any plans to remove it, and if we did it would only be in a major version update. Does that help clarify?

[2019-05-16 07:44] imvetri commented on #6067
@shilman
Here is a quick gif.
![Component_responding_to_events](https://user-images.githubusercontent.com/6542274/57835590-77ec5c00-77dc-11e9-9566-a1a43bfdd84d.gif)

Here is the repo link https://github.com/imvetri/ui-editor

[2019-05-16 08:22] libetl commented on #6067
Neat tool

[2019-05-16 10:03] imvetri commented on #6067
@libetl Thanks, Currently I'm looking for feedbacks to focus on. Do you mind providing it?

[2019-05-16 10:15] leanne2 opened #6796 "Knobs panel renders off screen"
**Describe the bug**
When using knobs panel the panel visually diappears despite all set up being correct. What is actually happening is then panel is rendering off screen. This can be seen by searching for `react-draggable` css class in the Chrome Dev Tools elements panel. This shows the panel is renderd but is rendered off screen at the top

**To Reproduce**
I am not entirely sure what triggers

[2019-05-16 10:29] stof opened #6797 "Syntax highlighted code blocks render as gray on gray for unsupported languages in dark theme"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a markdown note for a story
2. Put a code block in it using a language for which highlighting is not loaded in storybook (I used ```` ```twig ```` when discovering the bug)
3. use the dark theme for your storybook
4. go to the notes panel to see these notes

**Expec

[2019-05-16 10:30] stof commented on #6797
On a side note, I would be interested in getting an answer on https://github.com/storybooks/storybook/issues/6144 as well (because this codeblock would be even better with proper highlighting.

[2019-05-16 10:37] domyen opened #6798 "Unable to switch theme back to "light""
**Describe the bug**
I'm unable to switch the theme back to "light" after using the dark theme.  The only resolution is the `localstorage.clear()` hack.

**To Reproduce**
Steps to reproduce the behavior:
1) Clone the [Storybook Design System](https://github.com/storybooks/design-system) project.
2) Go to SB config.js and `import { themes } from '@storybook/theming';`
2) Set `options: { theme: them

[2019-05-16 10:56] n44ps opened #6799 "build-storybook blank screen because only one __webpack_require__(x) gives empty object"
**Describe the bug**
When I start Storybook, I get all my previews and everything's fine.
But when I try to build, the only thing I get is a blank page with "No Preview".

I get a `TypeError: Cannot read property 'colors' of undefined` in the console.

I tried to search further why, and played with the bundle from webpack.
I found the culprit which is one `__webpack_require__(2)` that gives an emp

[2019-05-16 11:51] libetl commented on #6067
Do you have a demo site ? Netlify, gihub pages, now.sh, surge.sh ?

[2019-05-16 12:21] imvetri commented on #6067
Thanks!. Working on it. Will let you know once available.

[2019-05-16 12:28] jblaut opened #6800 "Values changed using knobs don't update in a new tab view"
**Describe the bug**
We use knobs a lot to check how components look with different translations/lengths of headlines, etc. which are then tested by UX. They prefer using the new tab view, without Storybook UI, however in that view, all options changed via knobs disappear and go back to the default view.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a story in Storybook
2. Change pro

[2019-05-16 12:55] #5701 closed

[2019-05-16 12:55] #6069 closed

[2019-05-16 14:35] Gongreg commented on #846
Currently you have an option to pass host as a param to getStorybookUI. It is a lot better solution than the one recommended here. Later on we could try to implement some screen to allow user to insert custom IP, but for now it should work. I am closing this issue and opening a feature request.

[2019-05-16 14:35] #846 closed

[2019-05-16 14:37] Gongreg opened #6801 "React Native Server. Allow to enter custom IP in the app."
If user is using a real device and wants to connect to server running on his computer he has to manually set it as a prop to onDeviceUI. We could add some kind of interface in the app itself so he could do it through it instead of hardcoding it in the code.

Old issue: #846.

[2019-05-16 15:03] ndelangen commented on #5889
That's really cool @nfarina

[2019-05-16 15:07] ndelangen commented on #6596
@shilman added a `--debug-webpack` options recently, perhaps we can add this setting when that is active?

[2019-05-16 15:08] ndelangen commented on #6144
@kroeder did you find a work-around / solution yet?

[2019-05-16 15:45] trevordmiller commented on #6391
@shilman I noticed you removed the inactive label - is this something that the storybook team plans to address? If this is an isolated problem with our organization, I understand and we can close this issue and try to improve things on our end. But it seems to me with how often we are seeing this warning across the many many storybooks we maintain that perhaps it is a problem for many other teams

[2019-05-16 16:03] stramel commented on #6625
Still an issue AFAIK

[2019-05-16 16:05] damusnet commented on #3389
Looks like #6222 was [included](https://github.com/storybooks/storybook/releases/tag/v5.1.0-alpha.19) in `storybook@5.1.0-alpha.19` but the stable version of `5.1.0` has yet to come out.

[2019-05-16 16:25] shilman commented on #6796
Is it only knobs or is it all addons? Is it a duplicate of this? https://github.com/storybooks/storybook/issues/6343

[2019-05-16 16:29] shilman commented on #6800
This is a little tricky without special-casing the eject button to know about knobs. However, I think it's a nice feature and should be possible.

@ndelangen is there an easy way for knobs to override that button?

[2019-05-16 16:33] leanne2 commented on #6796
@shilman I don't use other addons so cannot say if it is only knobs. Also it seemed today to simply hide the panel without out any reszing of the window. The browser window had been idle for a while, i refocusd it, the UI flickered (*maybe* due to a hot reload), then the panel disappears. To get it to re-appear i have to click "Change Addons orientation"

[2019-05-16 16:34] shilman commented on #6391
@trevordmiller I think this is happening for most storybook users. Nobody is working on it right now, but I don't want performance issues to go stale and get swept under the rug so I "reactivated" it. If anybody wants to give it a go, they are welcome to. Hope at some point we can do a perf-oriented release and tackle this and a bunch of other related issues...

[2019-05-16 16:35] shilman commented on #3389
@damusnet we're in beta now and hope to do a full release in a few weeks

[2019-05-16 16:35] mfolnovic opened #6802 "CLI - create-react-library - 5.1 regression"
**Describe the bug**

Running storybook init (`npx -p @storybook/cli@next sb init`) on a project generated with `create-react-library` with next storybook version results with an error:

[code]

Difference between what generates `create-react-app` and `create-react-library` is where it puts `react-scripts` dependency. `create-react-app` puts it in `dependencies` while `create-react-library` puts i

[2019-05-16 16:43] shilman commented on #6802
@mrmckeb It looks like you added this line here and @MikaelCarpenter touched it again when adding the installation improvements (but I don't think that's the problem):
 https://github.com/storybooks/storybook/commit/074d0f36da88d740167b1a033d63396e6f04af0b#diff-9db699d9952076f9824f81e3076cf80c

Would you mind taking a look at this? I'm pretty sure what's going on is that react-scripts is installed

[2019-05-16 16:48] elevatebart opened #6803 "Addon-docs: list style bleeds on stories components"
**Describe the bug**
Using addon-docs to showcase material powered Menu, I get an unwanted padding caused by the docs `.12345xx ul{padding-left:30px;}` coming from the docs.

**To Reproduce**
1. install addon-docs alpha 8
1. show case a component with a ul list in the docs tab
1. it's padding-left will be too big

**Expected behavior**
The style of the docs should not bleed down on the components

[2019-05-16 17:37] AlokTakshak commented on #4617
@igor-dv  is it still open?

[2019-05-16 18:51] mrmartineau commented on #6671
Thanks @shilman, updating all my `@storybook` dependencies to `@5.1.0-beta.1` fixed the build issues for me.

[2019-05-16 20:08] martinsik opened #6804 "Unable to install @storybook/angular to a new Angular project."
**Describe the bug**
Running `npm install @storybook/angular --save-dev` or `npx -p @storybook/cli sb init --type angular` in a new Angular application always fails.

**To Reproduce**
Create a new Angular application using angular-cli and try to install `@storybook/angular`:

[code]

**Expected behavior**
`npm i` should not fail and should install `@storybook/angular`.

**Code snippets**
`package.

[2019-05-16 21:00] adamchenwei commented on #4617
is this hard to add?

[2019-05-16 21:00] adamchenwei commented on #4617
I can see if I can do it, if I can get point to the right file usually this got handled?

[2019-05-16 22:51] CrashyBang commented on #6726
So I have been continuing work on this, and I am not sure it is a context issue so much as a timing issue.

It looks like `store: window.store` does work, however due to the order in which the component is mounted and the external script is loaded into the `iframe` the components do not have the correct reference to the `store` but it is actually there.

Could this be correct?

[2019-05-16 23:13] paco3346 commented on #5250
Using the method approach to webpack overrides (in `.storybook/webpack.config.js`) you can add the following to disable warnings in your webpack console:
`config.devServer = {stats: 'errors-only'};`

Full working copy:
[code]

[2019-05-17 00:30] shilman commented on #6726
@CrashyBang could you test that with a `setTimeout`?

[2019-05-17 01:23] MrHen commented on #6407
I'm definitely still interested in getting this fixed. I'll start working on something and submit a PR but it will probably be a few weeks before I'll have dedicated time for it.

[2019-05-17 01:24] CrashyBang commented on #6726
Hey @shilman,

Okay that _sort of_ working (`5000`ms delay), the notification system which is also on the window now works, however the store is still having issues:

[code]

This is coming from `mapState` this would lead me to believe that `this.$store` is not referenced correctly during the components render. I am trying to reference it like so:

[code]

Note in the storybook interface `window.s

[2019-05-17 01:37] oMaten commented on #6773
@shilman Sure, thanks for reply

[2019-05-17 01:37] #6773 closed

[2019-05-17 03:00] jrr commented on #6609
@igor-dv , @ndelangen , @shilman before the garbage collector bot closes this issue, could you offer any guidance on where to start? I'm willing to take a crack at it, but I've never touched the internals of Webpack or Storybook before, and don't really understand how they interact.

[2019-05-17 04:24] imvetri commented on #6067
@libetl Setup a demo site. Here you go. https://imvetri.github.io/ui-editor/

[2019-05-17 05:18] rpearce commented on #6671
This is fixed for me, as well. Thanks!

[2019-05-17 05:41] shilman commented on #6609
I think @igor-dv 's your man here. 😉

[2019-05-17 05:53] kaelig commented on #6764
Here are all the storybook-related packages we use:

[code]

Sadly, even when disabling all of the addons (running 5.1.0-beta.1), the issue still happens.

[2019-05-17 05:57] shilman commented on #6764
Thanks for checking that @kaelig. I'll dig in and see if I can figure out what's going on. 🙏

[2019-05-17 06:25] shilman commented on #6420
FYI just wrapping up the technical preview of `addon-docs` which aims to replace `addon-info` and addresses these issues: https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a

[2019-05-17 08:46] NickSofology opened #6805 "Jest Addon Style"
So basically I can't view the percentage value of my tests across the bar in the top of the addon panel for Jest.

Below is how I am enabling these tests to display on my stories.

[code]

I also have this in my config.js file.

[code]

It's all pretty standard as per instructions.

**Expected behavior**
I expect to be able to view the percentage value in the bar.

**Screenshots**
![Screenshot 201

[2019-05-17 09:03] #6294 closed

[2019-05-17 09:17] ndelangen commented on #6671
Awesome!

[2019-05-17 09:19] ndelangen commented on #6786
@mglavall thanks for reporting back, can you share your project so I can assist?

[2019-05-17 09:34] ndelangen opened #6806 "Config V2: storybook.config.js - Monoconfig / Single Configuration File"
**Is your feature request related to a problem? Please describe.**
The method of configuring Storybook is broken. We have `config.js` and `addons.js` which are loaded in either the preview or manager. It isn't really obvious to anyone that's what's going on, and what impact it has when you require some code in either.

`config.js` main purpose is to require all story files. This is problematic sin

[2019-05-17 09:35] ndelangen commented on #6391
This related to #6806

With the current `config.js` is real hard to enable code-splitting in an automated fashion.

[2019-05-17 10:24] ndelangen commented on #5663
Yeah I have an idea how to fix this.

[2019-05-17 10:26] yoojene opened #6807 "Error adding custom theme, exports is not defined. @storybook/html"
**Describe the bug**

Similar to https://github.com/storybooks/storybook/issues/6749, I'm trying to add a custom theme to change the logo and title, following the instructions https://storybook.js.org/docs/configurations/theming/

[code]

[code]

Error:
[code]

**System:**
 - OS: MacOS 10.14.5
 - Framework: HTML (Stencil JS)
[code]

[2019-05-17 10:31] ndelangen commented on #5663
@psachs21 I could use your review on the PR I made

[2019-05-17 10:39] ndelangen commented on #6381
My bad, I'll open a PR adding engines

[2019-05-17 10:43] ndelangen commented on #6587
@shilman @mickaelzhang If no theme is set at all, then I don't know a good fix really...

Here's a concept though:
If you're using multiple storybooks and they all have their own theme.
Make sure they all have their own port. That way they do not share the localstorage between them.

[2019-05-17 10:45] ndelangen commented on #6587
This relates to #6806
If the theme is loaded from the manager itself instead of loaded in the preview, then transmitted to the manager, the delay disappears. This means we don't have to cache the theme in the localstorage anymore to prevent the flash of incorrect theme (FOIT) 😄

[2019-05-17 10:46] ndelangen commented on #6587
The best way to fix this right now, if to always set a theme, even if using the default one.

[2019-05-17 11:19] ndelangen commented on #6135
I'm not tied to polished personally, if we can find a way to make things work without polished that works with css custom properties, that'd be a win for all i think.

@Armanio @bennypowers do you know of such a library?

[2019-05-17 11:21] ndelangen commented on #6721
@brendonco you should upgrade all babel related packages to the latest.

`babel-plugin-transform-object-rest-spread` is still the old version it seems, and this is causing the error.

[2019-05-17 11:23] ndelangen commented on #6764
Do you have a project I can check out to reproduce this locally and debug?

[2019-05-17 11:24] ndelangen commented on #6797
I'll see what I can do

[2019-05-17 12:22] anton-paskanny commented on #25
@jmarceli It works for me, thanks a lot!

[2019-05-17 12:52] bennypowers commented on #6135
looks like emotion does

[2019-05-17 13:03] #4873 closed

[2019-05-17 13:21] psachs21 commented on #5663
I'll definitely take a look

On Fri, May 17, 2019 at 6:32 AM Norbert de Langen <notifications@github.com>
wrote:

[2019-05-17 13:24] mglavall commented on #6786
I'm afraid I can't, it's a private repo. More info about this: removing addon-info from the project doesn't solve the problem, then it logs the same error but with addon-knobs.

If there is any other thing that I can share to make this easier, please let me know. Maybe the webpack.config?

[2019-05-17 14:10] shilman commented on #6797
@ndelangen you might want to check out the changes @domyen made in the `release/docs-technical-preview` branch. We have nice syntax highlighting for the Source block in both light & dark modes.

[2019-05-17 14:48] kaelig commented on #6764
Yes, this is the project: https://github.com/Shopify/polaris-react/pull/1488

[2019-05-17 16:16] CharlesPoquet opened #6812 "error when i run npm run storybook"
**Describe the bug**
After do the installation explain here https://storybook.js.org/docs/guides/guide-angular/
i tried to run my storybook but i get an error:

ERR! TypeError: Cannot destructure property `options` of 'undefined' or 'null'.
ERR!     at getAngularCliWebpackConfigOptions (/Users/charlypy/qima-platform/front/node_modules/@storybook/angular/dist/server/angular-cli_config.js:70:9)
ERR!

[2019-05-17 17:08] shilman commented on #6651
Closing. Please comment if this is still broken after #6629

[2019-05-17 17:08] #6651 closed

[2019-05-17 17:41] kaiyoma opened #6813 "Storybook 5.1.0-beta.1 is not showing all stories and has a TypeError in the console"
**Describe the bug**
After upgrading from 5.1.0-alpha.39 to 5.1.0-beta.1, most of my stories are missing from the sidebar. There's also a JavaScript error in the console:

[code]

Here's the line in question (in Chrome devtools):

[code]

**System:**
 - OS: Windows 10
 - Browser: Chrome 74
 - Framework: React
 - Version: 5.1.0-beta.1

[2019-05-17 17:44] domyen commented on #6135
We use polished to transform user-supplied colors for use in the theme.  I'd love to support css-vars as well if we can. I'd be open to jettisoning polished if there was a suitable color transformation alternative _or_ if someone can recommend another method.

As far as I can tell emotion does not do color transformation.

[2019-05-17 18:08] alechp commented on #6471
I'm using `@storybook/react-native` and `@storybook/react-native-server` and having the same issue as described above.

I'm also getting the synthetic event is used for performance reasons error described above. I haven't updated react-dom.

## Error
The error recurses
### Screenshot
![Screen Shot 2019-05-17 at 11 01 05 AM](https://user-images.githubusercontent.com/3058939/57947515-f48e4180-7893-1

[2019-05-17 19:03] #6322 closed

[2019-05-17 19:05] joeycozza commented on #5301
I know you are super busy with Storybook-docs, and I don't want to add stress or pressure, but has this been documented/worked on at all?

[2019-05-17 20:50] TerrenceLJones commented on #5592
I think this issue is related to https://github.com/storybooks/storybook/issues/6136

[2019-05-17 21:57] ndelangen commented on #6135
@bennypowers can you link to docs for that?

PS. can I ask what exactly the point is? I'm not asking in a bad way, I'd like to understand what improvement you're trying to get by moving JS variables into CSS?

You're defining a global scope CSS variable and then referencing that global variable by name in a JS file. I'm sceptical about that being a good idea.

I'm all in favor of using standards,

[2019-05-17 23:04] MikaelCarpenter commented on #6802
This seems like a simple fix, i'll take this one for you @mrmckeb . PR incoming

[2019-05-17 23:08] bennypowers commented on #6135
Well, you could

[code]

That's all built in to the platform, so it seems pretty easy to me, don't think you need any libraries for that.

CSS custom properties are an inherent part of CSS the web platform, so it makes sense that a web-development tool that understands them. Your question is sort of like "switch statements can be done as ternary expressions, so we don't support switch statements".

[2019-05-18 00:57] ndelangen commented on #6135
I ask because if our code is to become significantly more complex to handle CSS custom properties, we better have a good understanding of the reason. Principle aren't enough reason.

What I'm trying to avoid is that we add complex code that reaches into the runtime global document namespace, does global (possible ui-thread-blocking) operations to convert 1 value to another. And the storybook maint

[2019-05-18 01:02] ndelangen commented on #6786
@mglavall There isn't much I can do without being able to reproduce the error.

I'm 99% certain it's a react version issue. I assume you've tried to remove any lockfiles & node_modules after upgrading?

If using yarn, try `yarn upgrade-interactive latest`?

But perhaps you could also attempt to upgrade all storybook packages to the `5.1.0-beta.1`?

[2019-05-18 01:02] ndelangen commented on #6786
We may have fixed the issue there already.

[2019-05-18 01:09] ndelangen commented on #6609
@jrr Happy to help you get started, message me on our discord, if you'd like some help getting setup and understanding the code!

https://discord.gg/sMFvFsG

[2019-05-18 01:10] ndelangen commented on #5240
I'm on it

[2019-05-18 01:11] ndelangen commented on #5240
I have progress here:
https://github.com/storybooks/storybook/pull/6759

and here:
https://github.com/chromaui/learnstorybook.com/pull/91

[2019-05-18 01:34] ndelangen commented on #6797
@stof Would you like to review my PR?

[2019-05-18 01:35] ndelangen commented on #6800
This may be already fixed in the 5.1 beta?

I'll check tomorrow

[2019-05-18 09:24] ndelangen commented on #6800
I found that if the values are copied from the 'copy button' and then the user presses the `eject iframe window` button it works.

But updating the knobs doesn't work. So I'll try and fix this today.

[2019-05-18 09:48] mitni455 commented on #6807
In `myTheme.js`

Change it to:
[code]

then import it in the `config`

[code]

[2019-05-18 10:13] mitni455 commented on #5017
@Nightbr
The only workaround I found was adding the element to the global scope, rather than the `story.add` scope:

e.g.
[code]

[2019-05-18 10:16] mitni455 commented on #5017
@andyearnshaw

Try add the element to the global scope

[code]

[2019-05-18 10:23] Hypnosphi commented on #6135
Which exactly kinds of color transformations do we use? Is there a chance that those usecases can be covered by `opacity`?

[2019-05-18 11:19] beauroberts commented on #6764
Thanks for looking into this, and apologies if this is old news:

From what I can tell, the source of the particular error I reported initially comes from the dependency on [`react-inspector`](https://github.com/storybooks/react-inspector), used in [`lib/theming/src/convert.ts`](https://github.com/storybooks/storybook/blob/b19e5bc5c36d6d51257ae6f1eb43872634013813/lib/theming/src/convert.ts) and al

[2019-05-18 12:12] ndelangen commented on #6135
Valid question @Hypnosphi, though I think the options of using the `opacity` property is slim. The way opacity work is it affects the entire element, making it so it only affects the textColor or borderColor means restructuring the html in weird ways.

transforming transparency is best done using `rgba` or `hsla`, `hsla` is also especially useful for transforming hue saturation & lightness. That i

[2019-05-18 12:58] ndelangen commented on #6764
@beauroberts thanks for digging that up, maybe I can find a way of including the dark & light themes from `react-inspector` without depending on the entire package from  `lib/theming/src/convert.ts`

[2019-05-18 14:29] Hypnosphi commented on #6135
Well you can always put the thing that you want to make half-transparent to a separate element or pseudoelement

[2019-05-18 14:29] ndelangen commented on #6799
@n44ps do you think you could create a reproduction repo for me to check out?

[2019-05-18 14:57] ndelangen commented on #6135
I've just gone through this document, and AFAICS there are no...
`color: lighten(0.2, var(--my-var))`,
`color: darken(0.2, var(--my-var))`,
`color: transparentize(0.2, var(--my-var))`,

https://www.w3.org/TR/css-color-4/#changes-from-3

...in the CSS spec. There are 12 ways of **defining** a color, but no ways of converting 1 to another or slightly adjusting a color after it's been defined.

This

[2019-05-18 15:32] Hypnosphi commented on #6135
That's why you can't find it in spec
https://github.com/postcss/postcss-color-function#deprecated

And that's how you do darken/lighten using the plugin which still works despite the deprecation
https://github.com/postcss/postcss-color-function#deprecated

[2019-05-18 15:37] Hypnosphi commented on #6135
Ok, so we're actually only transforming the lightness. This should be pretty easy to achieve using [CSS filters](https://developer.mozilla.org/ru/docs/Web/CSS/filter). The downside is the same as with opacity: you need a separate (pseudo)element for each color usage that you want to transform

[2019-05-18 15:38] Hypnosphi commented on #6135
This should work OK with custom properties (aka CSS vars)

[2019-05-18 17:41] wilau2 commented on #6614
Experiencing same behavior

[2019-05-18 18:04] arjunkalburgi commented on #6812
I'm getting a very similar issue when I run `npx -p @storybook/cli sb init --type angular` in my Ionic Angular application.

[code]

[2019-05-18 18:10] arjunkalburgi commented on #6804
I'm having a similar problem with my Ionic Angular project:

When I run: `npx -p @storybook/cli sb init --type angular`
[code]
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! titan96@0.0.1 storybook: `start-storybook -p 6006`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the titan96@0.0.1 storybook script.
npm ERR! This is probably not a problem with npm. There is likely additional logging

[2019-05-18 21:58] ndelangen commented on #6407
@MrHen let me know if you have time to pair on this at some point?

[2019-05-18 22:55] ndelangen commented on #6135
SO we're left with 2 scenarios for a potential fix:

**1**:
Never try to read the css value, never try to transform it, just pass it around as a value, unchangeable. In order to do lightness and darkness and hue changes we use pseudo-elements + css filters.

possible side-effects and dangers:
- possibly need to position the pseudo elements in 'funny' ways, to emulate things like borders, underline

[2019-05-19 08:39] Hypnosphi commented on #6135
Looks like a proper place for a warning

[2019-05-19 13:37] Hypnosphi commented on #6491
Reproduced in official example: https://next--storybooks-official.netlify.com/?path=/story/addons-info-react-docgen--comments-from-flow-declarations

[2019-05-19 14:05] Hypnosphi opened #6824 "hrefTo throws an error when kind is not supplied"
**Describe the bug**
Can't use `hrefTo` without supplying both kind and story

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://next--storybooks-official.netlify.com/?path=/story/addons-links-link--first
2. See error in console: `Uncaught (in promise) TypeError: Cannot read property 'toLowerCase' of undefined`
3. Link's href points to root instead of the linked story

Probably br

[2019-05-19 14:48] shilman commented on #5301
@joeycozza Yeah there's a WIP here https://github.com/storybooks/storybook/pull/5333

Thanks for the nudge, I'll get that back into shape this week.

[2019-05-19 14:51] shilman commented on #6471
@alechp Can you open a separate issue? `ondevice-actions` is a RN addon, and I'd like the RN guys to look at it, but I'm not sure it's the same issue.

[2019-05-19 16:51] shilman commented on #6812
Different symptoms but I expect this is a dupe of #6804

[2019-05-19 16:52] shilman commented on #6653
This was fixed in https://github.com/storybooks/storybook/pull/6698 and released in 5.1.0-alpha.40. Closing

[2019-05-19 17:32] shilman commented on #6614
Is this related to https://github.com/storybooks/storybook/pull/6823 ?

[2019-05-19 17:51] alechp opened #6827 "`@storybook/addon-actions` & `@storybook/addon-ondevice-actions` are not working"
I'm using `@storybook/react-native` and `@storybook/react-native-server` and having the same issue (or at least same error message) as described here: https://github.com/storybooks/storybook/issues/6471#issue-431269970 (ie. `synthetic event is used for performance reasons error`)

## Summary
* `@storybook/react-native`: No addons are shown on the device (under the `addons` tab on iOS Simulator)
*

[2019-05-19 18:36] wilau2 commented on #6614
I'm not sure I thought it was strictly related to react-native...
I will try the #6823 fix in my project later today if I have time :)!

[2019-05-19 19:03] alechp commented on #6471
@shilman Roger. New issue created here: https://github.com/storybooks/storybook/issues/6827

[2019-05-19 19:23] kempsterrrr commented on #6389
@mbifulco did you find a solution this ?

[2019-05-20 04:49] leoyli commented on #6366
Sorry for this easy bug I committed to fix lately, I get many things pile up unfortunately 😂...  I think this commit should logically fixing the bug since it allow `false` (and potentially `0`) to be correctly passed in.

[2019-05-20 06:53] patricknick commented on #5183
I just tried the latest beta build. We are using storybook with `react-scripts@3.0.1` and the Typescript setup described here: https://storybook.js.org/docs/configurations/typescript-config/#setting-up-typescript-with-babel-loader

This fails though as the require cannot find the CRA babel-loader. Is there already a solution for that?

[2019-05-20 07:01] shilman opened #6831 "Addon-docs: Support for referencing current story/component"
Make it easy to reference the current story or component. Proposal:

[code]

[2019-05-20 07:15] shilman commented on #5183
@mrmckeb know anything about this?

[2019-05-20 08:25] n44ps commented on #6799
Hey @ndelangen thank you for your help :)
https://github.com/n44ps/ui-storybook

Just `yarn`
Check it works using `yarn storybook`
Then `yarn build-storybook`  :)

Thanks !

[2019-05-20 08:27] mglavall commented on #6786
I updated all my storybook packages to `5.1.0-beta.1`, now the build is not finishing because there is an error with the style-loader, something similar to this: https://github.com/webpack-contrib/css-loader/issues/362

I'll try to fix it and find more about this, I'll report back if I come up with a solution.

[2019-05-20 08:31] wxqee commented on #5183
Yeah, I got the same problem as well with `"react-scripts": "3.0.1"`

[2019-05-20 09:44] marcel-k commented on #6264
Will this be fixed in 5.1.0?

[2019-05-20 10:58] ummahusla commented on #5183
This is what I've got after adding storybook to the codebase:

[code]

* `devDependencies`

[code]

* `npm ls babel-jest`

[code]

[2019-05-20 11:38] markusdresch commented on #6490
I got the same problem with
* Storyshots ^5.0.11
* OS: Windows 10
* Node v11.12.0
* Angular 8.0.0-rc.4

[code]

[2019-05-20 12:34] Saifadin commented on #6798
Happens for me too. The only difference is, that I work on a React based Storybook, that has the dark theme and i also use an HTML based Storybook. When switching between them, only localStorage.clear works and i loose all other customisations i made to my storybook.

[2019-05-20 12:51] SilenceOfNight opened #6833 "Why there is a Unknown tag around story source"
**Describe the bug**
There is a Unknow tag around story source

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
There is not a Unknow tag aroud story source

**Screenshots**
![image](https://user-images.githubusercontent.com/8108915/58022614-67234980-7b40-11e9-9658-fd6f75746e1b.png)

**Code snippets**

[2019-05-20 14:32] mbifulco commented on #6389
@kempsterrrr unfortunately not 😭

[2019-05-20 15:29] leoyli commented on #6366
@metasean,

Hey, thank you for pointing me a good direction to fix the bug, although I did not take you suggested bugfix approach.  I would also encourage you to submit PR and invite people to review it next time :).

The fact is `value` could be `0`, `null`, `undefined`, `''`, `false`, `NAN` that triggers this bug, and I believe the intention was to ensure the value can be typed against `undefine

[2019-05-20 15:33] metasean commented on #6366
@leoyli - No sweat from my end.  If my pile hadn't been so high (and remained so high) I would have submitted a PR instead of a just a bug report.  So at this point, **_I'm just happy you've submitted a fix!_**  Thank you! 🙇‍♂️

[2019-05-20 16:24] envision commented on #5949
Just noticed this import is not working when using in a Lerna monorepository `import '@fortawesome/fontawesome-svg-core/styles.css';`. When copied @fortawesome folder inside storybook folder's node_modules folder, the import started working (although can't get FA icons to show up yet)...

[2019-05-20 18:33] Hypnosphi opened #6834 "Kinds and hierarchies share the same namespace"
**Describe the bug**
If kind's name clashes with an existing hierarchy, it's not displayed.

**To Reproduce**
[code]

**Expected behavior**
Tho kinds, "FOO -> Bar", and "OTHERS -> Foo" are displayed

**Screenshots**
<img width="207" alt="Screen Shot 2019-05-20 at 20 32 12" src="https://user-images.githubusercontent.com/6651625/58043820-84efaf00-7b3e-11e9-9901-a97eb0e20f24.png">

[2019-05-20 23:06] shilman commented on #6264
We're generally focusing on addon-docs, a replacement for addon-info that fixes this issue and many others.

https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a

It's currently usable in technical preview in the `#docs-mode` channel on our Discord https://discord.gg/UUt2PJb and will be documented as part of the 5.1 release (but officially released in 5.2)

[2019-05-20 23:07] ndelangen commented on #6786
start storybook with the `--debug-webpack` flag.

This should output the full webpack output being used. You can inspect that for abnormalities.

[2019-05-20 23:09] ndelangen commented on #6798
@Saifadin one recommendation I can give right now, is to not have the 2 storybooks share the same port.

I'll implement #6806 (hopefully soon), which will remove the need to cache the theme in localStorage all-together.

[2019-05-20 23:42] ndelangen commented on #6799
So I've run:
`yarn storybook --debug-webpack` & `yarn build-storybook --debug-webpack && npx serve ./storybook-static`

First one works fine, second one indeed gives no stories.

The problem is coming from:

[code]

`theme` is en empty object in prod mode.
It should be coming from `import { theme } from '@root';`. I'm not sure why that's be different in production mode.

Here's the webpack config

[2019-05-20 23:58] ndelangen commented on #6799
Perhaps you can help me understand how `@root` works, and why it might not work in prod mode?

[2019-05-21 00:06] ndelangen commented on #6807
I think
[code]

is not allowed syntax?
https://developer.mozilla.org/en-US/docs/web/javascript/reference/statements/export

[2019-05-21 00:06] #6807 closed

[2019-05-21 01:17] CodeByAlex commented on #6805
@NickSofology I'm on it!

[2019-05-21 04:02] CrashyBang commented on #6726
Hey @shilman,

I keep coming back to this when I have time so sorry for the sporadic posting, I tried to extend on the `setTimeout` idea by delaying the `storiesOf` function like so:

[code]

But this just gave me the following:

![2019-05-21_15-57](https://user-images.githubusercontent.com/2978850/58067355-23345100-7be1-11e9-876e-f08d34711e08.png)

In an ideal world I would actually like to do so

[2019-05-21 05:57] jxh150535011 commented on #6020
[code]

[code]

[2019-05-21 06:08] jxh150535011 opened #6837 "Custom Webpack Config"
**Describe the bug**
'compilation.hooks.htmlWebpackPluginBeforeHtmlProcessing' is undefined

[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. build-storybook

**Additional context**
react-scripts is not installed

[2019-05-21 07:22] CharlesPoquet commented on #6812
i try on other project and it's works. Maybe the problem come from the tree of the project and the fact that it hasn't been generated by the CLI?

[2019-05-21 08:28] mrmckeb commented on #6802
Thanks @MikaelCarpenter! Can this be closed off now?

[2019-05-21 08:32] mrmckeb commented on #5183
Hi @patricknick and @wxqee, you shouldn't have any custom configuration if you're using CRA :) TypeScript works out-of-the-box. Try it with a fresh install, no custom config, and let me know if it isn't working for you.

@shilman - perhaps we should update the docs to reflect this?

The `babel-jest` issue should be resolved in the latest version of CRA @ummahusla - if not, please raise it over at

[2019-05-21 09:00] yoojene commented on #6807
Unfortunately this didn't work for me - I get the same error using
 `export const myTheme = create({...`

[2019-05-21 09:04] robbertvancaem commented on #1736
For anyone trying to accomplish this in combination with a `button`-knob, I managed to do so with a little workaround.

It's important that you specify a `key` that is based on a counter variable which you update. This key will be used by React to determine if it should re-render or not. I tried getting it to work in combination with the `forceReRender` function but that didn't work

**_(input on

[2019-05-21 09:19] idanhaviv commented on #5893
@shilman upgrade by changing "@storybook/react-native": "5.1-alpha" in package.json?
and what is "next"?

[2019-05-21 09:32] zono opened #6846 "React native "null is not an object (evaluating selection.kind)""
**Describe the bug**

I tried to use storybook in react native app but I got the following error. Can you help me to solve it?

**To Reproduce**

[code]

**Expected behavior**

Sample stories are showed.

**System:**
 - OS: MacOS

[code]

**Additional context**

I could not solve this issue so I chose version 4.1.6.

SB5 React Native multiple installation issues
https://github.com/storybooks/story

[2019-05-21 10:35] alexnofoget opened #6848 "React hooks error with material-ui"
I have an error with storybook and react hooks
[code]

Example with the same error here https://github.com/alexnofoget/storybook-issue

[2019-05-21 10:35] shilman commented on #5893
Next is both a GitHub branch and also an npm tag. We'll be releasing 5.1 in 2wk which will fix this issue

[2019-05-21 10:37] shilman commented on #6802
@mrmckeb will close when it's released

[2019-05-21 11:13] arturgaik commented on #6702
Why has this been closed?

[2019-05-21 11:20] ndelangen commented on #6837
This seems related:
https://github.com/jantimon/html-webpack-plugin/issues/875

[2019-05-21 11:24] shilman commented on #5030
ZOMG!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-rc.0 containing PR #6772 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-05-21 11:24] shilman commented on #6366
Huzzah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-rc.0 containing PR #6830 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-05-21 11:24] shilman commented on #6381
Ooh-la-la!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-rc.0 containing PR #6809 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-05-21 11:24] shilman commented on #6633
Boo-yah!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-rc.0 containing PR #6634 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-05-21 11:24] shilman commented on #6764
Gadzooks!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-rc.0 containing PR #6818 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-05-21 11:24] shilman commented on #6797
Great Caesar's ghost!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-rc.0 containing PR #6814 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-05-21 11:24] shilman commented on #6802
Jeepers creepers!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-rc.0 containing PR #6815 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-05-21 11:24] #6366 closed

[2019-05-21 11:24] #6381 closed

[2019-05-21 11:24] #6764 closed

[2019-05-21 11:24] #6802 closed

[2019-05-21 11:24] #6797 closed

[2019-05-21 11:25] ndelangen commented on #6848
Are you using react hooks somewhere in your code?

[2019-05-21 12:07] zono commented on #6846
I think the problem was solved by the following command.

[code]

[2019-05-21 12:07] #6846 closed

[2019-05-21 12:28] bastiW commented on #6640
+1 for this

[2019-05-21 12:56] alexnofoget commented on #6848
No, but this error doesn`t occure if I use this component without storybook

[2019-05-21 13:17] Aekal opened #6849 "Addon-a11y - Disable accessibility tab in a single story"
**Describe the bug**
I can't find a way to disable accessibility tab in a single story.
In `config.js` I have defined decorator `addDecorator(withA11y)` and in some stories I want to disable this tab. For example I have a simple component like input without label, so I don't need to see violations related to missing label.
I tried to use `disable` option as in info addon (tab is empty there), but

[2019-05-21 14:34] jack-sf commented on #5578
Is there any other approach? This causes the GlobalStyle to be mounted and unmounted on each story mount. Which is impacting the performance.

For example, in our case, we have `@font-face` declarations in that GlobalStyle. So now, the fonts are being queried from the server and reloaded every time we navigate to a different story. This is actually visible for the users - even if the fonts are cac

[2019-05-21 14:36] jack-sf commented on #5578
Maybe we could mount that component only once, i.e. in `loadStories` fn (that is passed to `configure(loadStores, module)` of `@storybook/react` ?

[2019-05-21 14:38] #6351 closed

[2019-05-21 14:42] renan-reami opened #6850 "ERROR in ./src/app/pages/dashboard/status-card/status-card.component.scss Module build failed (from ./node_modules/sass-loader/lib/loader.js):"
ERROR in ./src/app/pages/dashboard/status-card/status-card.component.scss
Module build failed (from ./node_modules/sass-loader/lib/loader.js):

undefined
         ^
      Argument `$degrees` of `adjust-hue($color, $degrees)` must be a number

Backtrace:
        node_modules/@nebular/bootstrap/styles/_hero-buttons.scss:118, in function `adjust-hue`
        node_modules/@nebular/bootstrap/styles/_he

[2019-05-21 15:11] shilman commented on #6646
Discussed `build-docs` with @ndelangen  and am going to do `"build-docs": "yarn build-storybook --docs"` to keep things simple. This flag will configure the UI to have a docs look and feel.

In a future iteration I'll look at either enhancing build-storybook or making build-docs generate a gatsby site with embedded doc blocks, which is something we want to support anyway.

[2019-05-21 15:20] jack-sf commented on #5578
For now we have moved that into that `loadStories` fn like that:

[code]

and it works.

I don't know if that function passed to `configure` is the best place to do such things, but that's where we had put global css in previous apps (using sass instead of styled components) before and it worked as well.

[2019-05-21 15:31] #6850 closed

[2019-05-21 16:43] VictorBaron opened #6851 "Adapt to Font Material Icons syntax"
When trying to render a Material-Ui Icon identified by its Font material identifier, all I get is the identifier as a string

![Storybook](https://user-images.githubusercontent.com/10496372/58114556-43233f00-7bf8-11e9-8038-d403ffa6972d.png)

The code is as following:

[code]

I would expect to see the corresponding Icon.

[2019-05-21 17:06] feonit commented on #6465
no, cra2

[2019-05-21 17:15] feonit commented on #6465
nevermind, 5.1.0-rc.0 is successfully installed

[2019-05-21 17:34] moltar opened #6852 "Notes addon should be part of the panel"
**Describe the bug**

Notes add gets added to the top nav instead of the panel.

The reason I have qualified this as a bug is because [the screenshot](https://github.com/storybooks/storybook/blob/next/addons/notes/docs/demo.png) on the [Notes README](https://github.com/storybooks/storybook/tree/next/addons/notes) file shows that the add on is part of a panel.

**To Reproduce**

1. Using Vue.
2. Re

[2019-05-21 17:36] moltar commented on #6852
Just did an experiment. I removed all registrations from `addons` file, except for notes. I thought maybe there is a conflict with some other addons. But nope, still the same issue.

[2019-05-21 17:56] absgjames commented on #5827
is there another way to sort these stories?

[2019-05-21 18:02] ndelangen commented on #6848
OK, I'll take a look at your repo

[2019-05-21 19:39] ConnorNumberOne opened #6853 "Storybook CSS Prop Parsing"
It looks like my storybook instance is not parsing the styles I have given it from emotion. See screenshot below. Does anyone know how to fix this?
![Screen Shot 2019-05-21 at 3 32 04 PM](https://user-images.githubusercontent.com/19382245/58125433-8c669500-7bde-11e9-9cf5-0ff34bf7c623.png)

[2019-05-21 21:02] robbertolierook commented on #6756
I have the same issue but I can't figure out what the invalid entry in my theme is. What should I pay attention to?

[2019-05-21 21:04] scottleblang commented on #6756
I was passing in a color with the hash tag - i.e. #white. As you can imagine that broke it.

[2019-05-21 21:07] robbertolierook commented on #6756
hmm.. I don't. I think to me it might be either the gradient or using variables. Either way, I think my code should work:

[code]

[2019-05-21 21:09] scottleblang commented on #6756
Looks correct on the surface. Was it working at one point?

[2019-05-21 21:11] robbertolierook commented on #6756
Nope never had. Weird right?

[2019-05-21 21:20] scottleblang commented on #6756
What if you remove your custom theme and just use the default SB theme?

[2019-05-21 21:37] patricknick commented on #5183
Hi @mrmckeb, thank you for your help! I just tried your solution and removed my custom webpack.config.js:

[code]

Unfortunately, this results in the following error:

[code]

This is my config.tsx:
[code]

Could give me a hint on this? Thanks!

[2019-05-21 21:41] robbertolierook commented on #6756
Then it does work

From: scottleblang <notifications@github.com>
Reply-To: storybooks/storybook <reply@reply.github.com>
Date: Tuesday, May 21, 2019 at 2:20 PM
To: storybooks/storybook <storybook@noreply.github.com>
Cc: Robbert Olierook <robbert.olierook@skechers.com>, Comment <comment@noreply.github.com>
Subject: Re: [storybooks/storybook] Clicking Shortcuts Button Opens Blank Screen (#6756)

Wha

[2019-05-21 21:43] scottleblang commented on #6756
So, it looks like it doesn't like something in your theme.

Is there an extra quote here before Open:
`fontBase: '"Open Sans", sans-serif',`

[2019-05-21 23:01] robbertolierook commented on #6756
That is supposed to be there. It turns out it was the gradient. Which is too bad because I liked the gradient background. I'm opening another issue

[2019-05-21 23:08] robbertolierook opened #6855 "Gradients in theme break shortcut menu"
**Describe the bug**
Whenever one uses a gradient in the theme, the shortcut button will cause the entire app to crash.
**To Reproduce**
Theme with crash:
[code]
---
Theme without crash:
[code]
**Expected behavior**
The gradient background works, but I also expect the shortcut menu to open normally.

**Screenshots**
A screenshot would simply be a white page.

**System:**
 - OS: [MacOS]
 - Device:

[2019-05-21 23:52] tmeasday commented on #5827
Looks like we'll have a way soon: https://github.com/storybooks/storybook/pull/6472

[2019-05-22 02:26] fvaldes33 commented on #4600
Starting to experiment with this also and (as mentioned somewhere else) using `concurrently` seems to work just fine for me (for now). I created a quick starter project that includes everything you need to get up and running with both stencil and storybook. Already using the latest stencil release.

Check it out here: [stencil-storybook-starter](https://github.com/fvaldes33/stencil-storybook-start

[2019-05-22 02:32] dangodev commented on #4600
@fvaldes33 Nice! Starred it. I actually just updated to Stencil One beta and my config looks similar—I basically could use the stock webpack setup entirely.

The only difference for me was using `stencil build --watch` (prod, not dev) because the build times are so fast and it’s easier to consume the prod version in Stencil (especially with global styles and other imports).

[2019-05-22 02:41] kwinyyyc opened #6856 "Angular Service generated dynamic component"
Hi I would like to check if storybook would support dynamic generated component for Angular.

For the use case I am facing is we have components such as a system loader which is generated dynamically by a service.

Thanks.

[2019-05-22 05:22] carolinmaisenbacher commented on #5578
Thank you jack-sf!
The solution worked for me.

It took me a while, because the render method wasn't working at first.
I then realized it comes from ReactDOM.

This is how I called it now:
[code]

[2019-05-22 06:46] envision opened #6857 "Storysource addon Webpack configs on Vue with TypeScript"
Can't get storysource addon to work on Vue with TypeScript. Could you please release official Webpack configs on how to load .stories.ts files?

[2019-05-22 06:50] envision commented on #6857
Actually just got it to work with this in .storybook/webpack.config.js

[code]

[2019-05-22 07:03] bennypowers commented on #6135
FWIW I'm comfortable with a fix that just reads the initial value once. Just please make sure user CSS is loaded before reading the values, and documentation should be super clear on why Storybook doesn't yet fully support this built-in feature of the web platform.

A later, more comprehensive fix might prefer built-in CSS filters to tooling, as @Hypnosphi suggested.

Thanks for your consideration

[2019-05-22 07:07] ndelangen commented on #6135
Cool, so we come to the consensus that the solution is:

Reading the value before creating the theme just once and warning the user somehow that this is a one-off operation.

@bennypowers my question still stands, would you be able to provide us with the code to do it? Preferable as an external module. Or point us to an existing solution of course.

[2019-05-22 07:08] #6465 closed

[2019-05-22 07:09] ndelangen commented on #6465
Thanks for reporting back @feonit 💪

[2019-05-22 07:19] ndelangen commented on #5827
We're in the final phase of the 5.1 release. I just had a short discussion with @shilman & @tmeasday about this, and although https://github.com/storybooks/storybook/pull/6472 is very promising, we feel it's a bit too late into the process to merge this into 5.1.

This will be a 5.2 feature.

Reason being:
The visual sorting & sorting of the keyboard shortcuts are kinda independent and haven't bee

[2019-05-22 07:42] #5932 closed

[2019-05-22 08:06] ndelangen commented on #6848
Investigating...

Seems the problem is with how addon-info (storybook) + withStyles (@material-ui/core/styles) interop.

[2019-05-22 08:08] ndelangen commented on #6848
This line seems to cause react to think it's not rendering a functional component, which is what hooks needs to operate.

[code]

[2019-05-22 10:15] lydell commented on #6633
@shilman I just tried 5.1.0-rc.0 with a root babel.config.js. I get this:

[code]

A `c` is indeed the first character of the config.

[code]

The probilecomes from this line:

https://github.com/storybooks/storybook/commit/a08f44e4813ce19f9ff2670d9c1ccb312e94cb22#diff-cbcd9978dcfe6d6dafed0b1a16ee99f1R23

It checks if the entire file starts with `module.exports`. But the file might start with a co

[2019-05-22 10:45] ndelangen commented on #6848
Found a fix, opened a PR

[2019-05-22 10:48] ndelangen commented on #6633
Thank you for this very detailed feedback @lydell !

Perhaps instead of trying to detect what type of file it is, we just try-catch to load it with the 2 methods?

[2019-05-22 11:25] lydell commented on #6633
Isn’t .babelrc _always_ JSON5, and babel.config.js _always_ JS? If so, could `loadFromPath` take another parameter?

[code]

[2019-05-22 11:33] Hypnosphi commented on #6135
That's just not true. All the web platform fully works in your stories (just because they run in browser). Theming the Storybook UI itself is an additional feature which has its intrinsic limitations. For example, you can't pass gradients as backgrounds. And gradients have been a part of web standarts for quite a while.

[2019-05-22 13:34] bennypowers commented on #6135
Right, so we agree that this CSS feature isn't supported. No big deal, I just think that should be explicit so developers are informed.

@ndelangen You need something fancier than this?
[code]

This will return `black` for, for example
[code]

[2019-05-22 13:47] Hypnosphi commented on #6135
Ok, I'm able to strip the context as well

[2019-05-22 14:40] ZebraFlesh opened #6860 "Make babel configuration more flexible"
**Is your feature request related to a problem? Please describe.**
In the root of my repo, I have both a `.storybook` folder and a `config` folder. My babel config lives in `config/babel.config.js`. No matter what I do, I can't make storybook see that babel configuration. I don't see any sort of storybook configuration option for this scenario -- it always wants either `./.storybook/.babelrc` or `

[2019-05-22 14:41] ZebraFlesh commented on #6633
That's correct according to babel docs: https://babeljs.io/docs/en/config-files#config-format

However, don't forget about `.babelrc.js` files -- those are valid too.

[2019-05-22 14:52] piperchester commented on #548
For the v5 users, see https://github.com/storybooks/storybook/issues/5827 which discusses fixing `sortStoriesByKind` in v5.2.

[2019-05-22 15:59] Jenn commented on #6852
Having the same issue. We use our notes extensively to view while you are viewing the canvas so this is a dealbreaker for us.
I did see this in my searching for a solution: https://github.com/storybooks/storybook/pull/6091
Also considered switching to using readme
https://github.com/tuchk4/storybook-readme

[2019-05-22 16:47] fredefl commented on #5183
I'm getting the same issue. It seems to be very unhappy about parsing `JSX`.

[2019-05-22 16:53] shilman commented on #5183
@mrmckeb I just released `@storybook/preset-typescript` and need to update the typescript docs anyway. If you let me know what I should say about Typescript and CRA, I'd be happy to work that into the update.

[2019-05-22 16:54] shilman commented on #6342
Released `@storybook/preset-typescript` and need to update docs.

[2019-05-22 16:56] shilman commented on #6852
This was updated here: https://github.com/storybooks/storybook/pull/6091

Needs to be tested & documented. Any takers?

[2019-05-22 17:17] Undistraction commented on #4801
Still an issue stale bot.

[2019-05-22 17:42] #6326 closed

[2019-05-22 18:51] bessey commented on #6860
Funnily enough your issue is fixed on the just released 5.1.0 rc.

I can verify as I have just upgraded for exactly the same reason.

[2019-05-22 18:53] moltar commented on #6852
Great! I can test it on Monday.

[2019-05-22 19:50] ZebraFlesh commented on #6860
But how do you consume the babel config from a directory other than `.storybook` or the root of the repo? I didn't see that in the mentioned PR.

[2019-05-22 23:22] cafesanu commented on #6262
https://github.com/storybooks/storybook/issues/6262#issuecomment-477076005 and https://github.com/storybooks/storybook/issues/6262#issuecomment-481353727 were relevant. These answers solved my issue

[2019-05-22 23:36] bessey commented on #6860
You could symlink it?

On Wed, 22 May 2019, 20:51 Zebra Flesh, <notifications@github.com> wrote:

[2019-05-23 01:28] shilman commented on #6701
Storybook docs will replace addon-info and will be super configurable (and pretty much better in every way). Check out the announcement https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a and discussion in the #dosc-mode channel on our discord https://discord.gg/UUt2PJb

[2019-05-23 01:32] shilman commented on #4801
@Undistraction this is working well in `addon-docs` thanks to the storysource addon

[2019-05-23 01:32] shilman commented on #6744
@nianiaJR this is currently working well in `addon-docs` thanks to the storysource addon

[2019-05-23 02:15] ZebraFlesh commented on #6860
Windows environment, so nope.

[2019-05-23 03:36] nianiaJR commented on #6744
@shilman That's so great. Thanks agiain.

[2019-05-23 04:30] quietnumeric opened #6863 "I want to see transition effect of element by change boolean toggle on story knobs."
**Is your feature request related to a problem? Please describe.**
**Describe the solution you'd like**

I want to see transition effect of element by change boolean toggle on story knobs.
But I saw changing state of element without transition effect.
On Vue.js (in Nuxt.js).

MyComponent:
[code]
storybook.story:
[code]
**Describe alternatives you've considered**

I think DOM should update only att

[2019-05-23 04:47] leoyli commented on #6790
related #6526.

[2019-05-23 04:49] leoyli commented on #6712
I'll need to have a look during the weekend. 🙈

[2019-05-23 04:59] leoyli commented on #6863
Duplicated #6705.

Thank you for reporting this, I think it is a duplicated issue so I will just close here.  Please move to #6705 for further discussions!

[2019-05-23 04:59] #6863 closed

[2019-05-23 05:02] kaiyoma opened #6864 "5.1.0-rc.0 does not start: Error parsing babel config file"
**Describe the bug**
After upgrading from 5.1.0-alpha.39 to 5.1.0-rc.0, Storybook does not start. It appears to be parsing a JavaScript file with a JSON parser.

**Code snippets**
Here's the shell output:

[code]

Our `.babelrc` file is proper JSON and does not have a "c" character at the beginning of the file, but our `babel.config.js` does. It appears that Storybook is either trying to parse the

[2019-05-23 05:08] leoyli opened #6865 "Remove source, tests, stories files from NPM pkg"
**Is your feature request related to a problem? Please describe.**
As mentioned in our monthly meeting, user usually don't care about other files that are meant for Storybook developing or maintaining. Cut down those from bundling can improve the speed of installation to give better DX.

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
N/A

**Are you able to as

[2019-05-23 05:11] leoyli commented on #6860
I am just cross link to an old issue #4169 here.

[2019-05-23 05:15] leoyli commented on #4169
Are #6806 overlapped with this old issue?!

[2019-05-23 05:54] #6029 closed

[2019-05-23 05:59] bennypowers commented on #6135
I'm going to bow out of this thread, since it seems to me that the discussion isn't progressing in a particularly productive direction. I really hope this fix gets in soon. Thanks all for your consideration.

[2019-05-23 06:10] ZebraFlesh commented on #6860
This feature could be considered part of that larger request. However, this one could be delivered independently and provide plenty of value while also being smaller in scope (IMO).

[2019-05-23 06:41] tylerxo commented on #6069
@darkowic I can't tell if you found the solution to your issue, but I was experiencing the same problem.

After struggling for a while, I found this comment https://github.com/babel/babel/issues/8577#issuecomment-439579410 which helped lead me to the solution that worked for me.

Adding the plugins to `.babelrc` was not enough. I needed to create a custom `.storybook/webpack.config.js` and add the

[2019-05-23 06:43] web-padawan commented on #4958
I'm still interested in this issue and hopefully will have time to finally work on it soon.
Please do not close it in the meanwhile.

[2019-05-23 07:25] fishonweb commented on #6812
In our case (@CharlesPoquet and I), we are able to launch Storybook when adding build options in our `angular.json`. This error message could not be more explicit ?

[2019-05-23 07:35] mrmckeb commented on #5183
Thanks @shilman. The CRA preset uses the CRA config under the hood, so it has support for everything CRA can do - TypeScript, CSS modules, Sass, etc. Basically, nothing is required for this to work, just install and go!

[2019-05-23 07:38] Undistraction commented on #4801
@shilman great news. I'll try that out later today.

[2019-05-23 07:47] feonit commented on #4089
it does not help

[2019-05-23 08:29] nianiaJR commented on #6744
@shilman l meet a problem, in the [addon-docs](https://www.npmjs.com/package/@storybook/addon-docs) description:
[code]
When I npm installed the `addon-docs`, I can't find the presets directory, it doesn't exist.

[2019-05-23 08:37] de-dan opened #6867 "Support Mermaid Graphs"
**Is your feature request related to a problem? Please describe.**
I'm using Storybook to display my web-components built with [stencil](https://stenciljs.com). Stencil autogenerates Readme-markdown files, which I can display via the notes addon.

As of Stencil-One it generates graph-data using [mermaid](https://mermaidjs.github.io/), as far as I can see. It would be great, if the addon can displa

[2019-05-23 09:04] huston007 opened #6868 ""No Preview" message shown together with story content if press "Back" after navigation to default story"
**Describe the bug**
Storybook doesn't handle "Back" button properly if navigated to default story

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://storybooks-html.netlify.com
2. Wait until it is completely loaded, URL becomes https://storybooks-html.netlify.com/?path=/story/welcome--welcome
3. Press browser's "Back" button. https://storybooks-html.netlify.com/?path=/story/* ope

[2019-05-23 09:15] de-dan opened #6869 "Escaped Pipe creates new table cell"
**Describe the bug**
**In Storybook-Addon-Notes**: I'm using markdown-files with tables. Inside a table-cell I use escaped pipes. These pipes are creating new cells

**To Reproduce**
Steps to reproduce the behavior:
1. Create a story
2. Use addon notes
3. Create a markdown file with this table:

[code]
Which should render this:

| Attribute    | Type                  |
| ------------ | -----------

[2019-05-23 09:39] kroeder commented on #6856
You can use a wrapper component for your demo instead of directly point your story to your actual dynamic component

Kinda like
[code]

I'm writing this from my phone and I'm not 100 sure if the Syntax is correct. If you need further implementation help, just let me know! :rocket:

[2019-05-23 09:44] yann-combarnous commented on #6491
Same issue with CRA 3.0.1 and Storybook 5.1.0-rc.0..

[2019-05-23 10:35] 491688169 commented on #5869
same here

[2019-05-23 10:55] jokin commented on #4958
Have you looked at the open-wc tool? they have a feature to use storybooks with lit-element
at https://open-wc.org/demoing/

[2019-05-23 11:03] web-padawan commented on #4958
Sure, I actually use that. It's based on `@storybook/polymer` but my suggestion would be to get rid of HTML imports polyfill and do the steps mentioned in https://github.com/storybooks/storybook/issues/4958#issuecomment-460771403

[2019-05-23 11:07] de-dan opened #6870 "Support multiple markdown files properly"
**Describe the bug**
**Storybook/addon-notes**
Currently the storybook/addon-notes expects one markdown file. It would be nice, if you could serve an array of markdown files.
If I simply concatenate two markdown files, the first line of formatted markdown will not get rendered properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Create markdownFileA.md. Content:
`Text`
2. Create markdow

[2019-05-23 11:43] ndelangen commented on #6806
## API
The `storybook.config.js` will be at a root level of the repo.

The file is a ES module, and has named exports.

The exports that storybook will support initially are:

[code]

Custom exports will be allowed, but how to use those will have to be determined later.

### entries
Let's not call this field `stories`, because semantics will maybe changed

both a single string and array of strings

[2019-05-23 11:44] ndelangen commented on #4169
@leoyli you are 💯% correct sir.

I have a WIP branch, which does things a little differently from what's described in this issue, but is addresses these points.

I'll close this issue in favor of https://github.com/storybooks/storybook/issues/6806

[2019-05-23 11:57] #4169 closed

[2019-05-23 13:13] alex-page commented on #5897
@shilman I tried it out in the `addons.js` file, this is not working. For example both of these fail:

Following `event-source-polyfill` documentation:
[code]

Following @ZebraFlesh's above example.
[code]

[2019-05-23 14:04] shilman commented on #6864
Yeah this was a bad change made for #6633

[2019-05-23 14:07] bennypowers commented on #6555
Confirming this bug still exits with storybook 5.1.0-rc.0

[2019-05-23 14:13] shilman commented on #6744
This is an old README. Use the technical preview guide linked at the top. And the latest README is here https://www.npmjs.com/package/@storybook/addon-docs/v/5.2.0-alpha.12

[2019-05-23 14:44] perkrlsn commented on #4600
@fvaldes33 how are you able to reference the build/components.js in your preview-head.html like that? I have to supply the full path e.g. http://localhost:3333/build/components.js. But I would like to not have to do that.

(I'm not using your starter, but i'm using the stencil component starter with a fresh storybook/html install)

[2019-05-23 15:11] jericomanapsal opened #6871 "Please provide a working example for vue with typescript"
**Describe the bug**

Using Vue framework initialized with typescript, typescript integration with storybook doesn't work at all.

**To reproduce**

Steps to reproduce the behavior:

*Part 1 - Create the Project*

1. Create a vue project using `vue create sample` and select `Manually select features`.
2. Check `Babel`, `TypeScript`, `Linter / Formatter`, and `Unit Testing`.
3. Answer the prompts w

[2019-05-23 15:27] Anandnaik commented on #5915
bump

[2019-05-23 16:50] stmoreau commented on #6150
Hopefully, this won't get closed 😄

[2019-05-23 20:22] ericsoco commented on #4082
Putting together answers from @igor-dv and @Drillibit, and bumping to Storybook v5+:

Add a Webpack config override as `.storybook/webpack.config.js` with the following content:

[code]

Docs on overriding Storybook's Webpack config [here](https://storybook.js.org/docs/configurations/custom-webpack-config/#full-control-mode)
Docs on Webpack's `config.node` [here](https://webpack.js.org/configurati

[2019-05-23 22:30] khrome83 opened #6873 "Background Addon does not seem to trigger AddonsAPI"
**Describe the bug**
I can't get the example code for Background addond to trigger any console.log -

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup Background Addon
2. Past Example Code with addonAPI import into `./storybook/config.js`

**Expected behavior**
Should see the example console.log behavior.

**System:**
 - OS: MacOS
 - Device: Macbook Pro 2017
 - Browser: chrome
 -

[2019-05-24 01:54] #5488 closed

[2019-05-24 02:54] #6387 closed

[2019-05-24 05:21] graup commented on #6871
The whole Vue support is kind of bad. There's also #4475 which prevents us from using up-to-date presets (like the one offered by vue-cli). I wonder if that also to do with this issue.

[2019-05-24 06:00] graup commented on #6871
I was actually able to get it running following your guide, but skipping the installation of `babel-preset-vue`.

You'll need to edit `node_modules/@storybook/vue/dist/server/framework-preset-vue.js:34:42` to make it just

[code]

The rest I did pretty much as you described (using a webpack config similar to the one provided by the vue-cli plugin) and it works. I'll upload a test repo shortly.

[2019-05-24 09:38] ndelangen commented on #6864
Thanks for reporting @kaiyoma!

[2019-05-24 11:31] smnhgn commented on #3871
@sneko  I think the problem is that ionic components need ```<ion-app>``` as a parent. I got the animations to work by writing a custom decorator in the config.js to wrap my stories with ```<ion-app>```.

This is how my config.js looks like now:

[code]

[2019-05-24 11:33] ndelangen commented on #6860
related #6633

[2019-05-24 11:50] ndelangen commented on #6135
@bennypowers Code looks good to me, if that works for you, my suggestion is to use that code, when you create the theme. Putting that code into the storybook core, feels like unwise. I'll try to explain:

The solution makes a lot of assumptions and have a lot of nuanced limitations.
It assumes:
- the value passed is always a `var(--something)`
- the var exists on body/html element
- there will be

[2019-05-24 11:57] ndelangen commented on #6153
Sorry for the delay, @miljan-aleksic I'd be available to chat about the needed changes, join me on discord? https://discord.gg/sMFvFsG

[2019-05-24 12:13] hazzo commented on #6758
Thanks for the advice but I was having still problems because the generated regex was a string and with an extra `\` and it could not load some fonts.

Here is my approach:
[code]
It is actually working in conjunction with `vue-svg-loader`

[2019-05-24 12:37] rwieruch commented on #6758
Thanks for sharing! It worked in my case, but always good to see different approaches.

One thing I forgot to mention: I had the same problem in Gatsby.js. However, there it is neatly solved with their plugin approach. There exists one plugin which just deals with the [SVGR integration](https://github.com/zabute/gatsby-plugin-svgr). Maybe it would be great to have such approach for Storybook as we

[2019-05-24 13:18] PaulieScanlon commented on #6216
@shilman This looks great! what version of Storybook was this released in i'm still on `5.0.6`

[2019-05-24 13:55] n44ps commented on #6799
I only use a tsconfig.json for custom paths.
And I have a custom babelrc for Storybook !

`
tsconfig.json
{
  "extends": "../tsconfig.base.json",
  "include": ["src"],
  "compilerOptions": {
    "target": "esnext",
    "module": "esnext",
    "lib": ["dom", "esnext"],
    "declaration": true,
    "sourceMap": true,
    "rootDir": "./",
    "noImplicitAny": true,
    "strictNullChecks": true,
    "

[2019-05-24 14:22] #6400 closed

[2019-05-24 15:06] ndelangen commented on #6864
related: https://github.com/storybooks/storybook/pull/6634

[2019-05-24 17:50] psi-4ward opened #6879 "Ability to rename Knobs / Actions Tab-Titles"
Would be cool to have the ability to use own title for `Knobs` and `Actions` tabs to make it more consistent with other frameworks like Vue: `Props` and `Events`.

If I look at the code it's hopefully not to difficult.

[2019-05-24 18:35] graygilmore commented on #5278
@shilman is there a place I can subscribe to to follow along to the updates? Excited for this!

[2019-05-24 19:05] bbecker-te commented on #1274
Its too bad this was closed. It would be nice if once could add tooltip text to knobs. Can we just reopen this instead of creating a new issue and linking?

[2019-05-24 19:58] chriscarpenter12 commented on #3982
I too am having this same exact issue. I can't get scss files to load using the custom config, but work fine when using the inline loaders.

[2019-05-24 21:15] ndelangen commented on #6555
I'm not able to reproduce the behavior in the polymer-cli example. @bennypowers if I could take a look at the example too, I might be able to help here. 🙇

[2019-05-24 21:41] ewolfe opened #6880 "Storyshot shallow rendering with decorators"
**Describe the bug**
When shallow rendering with decorators the snapshot generated is useless. For example:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a story
1. Configure storyshots to use shallow rendering
1. Configure storyshots to use a decorator, (e.g. https://github.com/gvaldambrini/storybook-router)

**Expected behavior**
The snapshot contains the serialized compon

[2019-05-24 21:58] ndelangen commented on #3982
@andreassavva or @chriscarpenter12 I'd like to be able to reproduce this locally, could you help me by setting up a reproduction repo?

[2019-05-24 22:00] ndelangen commented on #5897
Can you try adding that to `config.js` ?

[2019-05-24 22:02] ndelangen commented on #6855
@robbertolierook that sounds like something that might be fairly easy to get started on, would you be able and interested in contributing to storybook?

I can help you get started.

[2019-05-25 01:09] shilman commented on #5663
Good golly!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-rc.1 containing PR #6808 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-05-25 01:09] shilman commented on #6800
Shiver me timbers!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-rc.1 containing PR #6817 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-05-25 01:09] #5663 closed

[2019-05-25 01:09] #6800 closed

[2019-05-25 05:02] jericomanapsal commented on #6871
Thank you so much @graup ! It worked!

First I cloned the repo and did a diff. It didn't really need much modification like I did before. I followed what you did and it worked.

Maybe I can say that this is a workaround because it requires modifying a file in `node_modules` which can cause problems in CI environments. However, this can be solved by creating a script that modifies the file in the `

[2019-05-25 05:02] #6871 closed

[2019-05-25 05:49] shilman commented on #5278
@graygilmore https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a is the announcement, and there is ongoing discussion in `#docs-mode` channel on our discord https://discord.gg/UUt2PJb

[2019-05-25 06:04] shilman commented on #6216
@PaulieScanlon 5.2.0-alpha.x. https://docs.google.com/document/d/1un6YX7xDKEKl5-MVb-egnOYN8dynb5Hf7mq0hipk8JE/edit?usp=sharing

[2019-05-25 06:06] shilman commented on #6758
@rwieruch we just started to release presets for this kind of thing.

here's the first one: https://www.npmjs.com/package/@storybook/preset-typescript

and here's the docs: https://github.com/storybooks/storybook/pull/5333

Any interest in writing a `preset-svgr`?

[2019-05-25 14:45] #6339 closed

[2019-05-25 15:00] psachs21 commented on #5663
Super excited to upgrade to to storybook@5. @ndelangen, sorry I totally forgot to get around to reviewing the code, the last week just swamped me badly.

[2019-05-25 15:17] PaulieScanlon commented on #6216
@shillman 🤦‍♂️ Of course! Thanks man!

[2019-05-25 15:53] schtanislau commented on #340
@Wgil You saved my life

Anyone looking for a solution for **redux-form**

[code]

[2019-05-25 17:45] #6018 closed

[2019-05-25 17:45] #6421 closed

[2019-05-26 03:45] #5936 closed

[2019-05-26 07:08] #6090 closed

[2019-05-26 07:08] #6092 closed

[2019-05-26 08:37] bennypowers commented on #6555
@ndelangen Thanks for writing. I sent you a PM on storybook's discord with the link to the (private for now) storybook. Thanks for the interest

[2019-05-26 13:12] Jobeso opened #6882 "RN 0.59.8 - Module `react-native` does not exist in Haste module map"
**Describe the bug**
When installing storybook with a clean react-native 0.59.8 project storybook is not working due to react-native not being found in the Haste module map.

[Here](https://github.com/Jobeso/storybookexample) is a repo to reproduce.

**To Reproduce**
Steps to reproduce the behavior:
1. `react-native init storybookexample`
2. `npx -p @storybook/cli sb init`
3. `react-native start -

[2019-05-26 15:07] #6430 closed

[2019-05-26 18:07] #6416 closed

[2019-05-26 22:24] #6623 closed

[2019-05-27 03:07] #6115 closed

[2019-05-27 04:19] Gongreg commented on #1274
@bbecker-te, I've reopened it. It would be great if you could create a PR for it :)

[2019-05-27 07:36] cestrensem opened #6883 "UX: Wrong search results"
**Describe the bug**
Search does't work correctly

**To Reproduce**
1. Add cursor to search box
2. Try to find something

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/3720256/58403282-90713780-8062-11e9-8008-57f4fa625ba0.png)

**System:**
 - OS: MacOS
 - Device: Macbook Pro 2018
 - Browser: chrome
 - Framework: reac

[2019-05-27 08:59] mrmckeb commented on #6710
Hi @gustavnikolaj, this is not supported by Create React App, so if you're using a custom configuration alongside CRA, you'll need to modify your local configuration.

The goal of the CRA preset is that it should offer the same support as CRA, we don't want a situation where things work in Storybook, but not in CRA (by default).

[2019-05-27 09:11] mrmckeb commented on #6710
What you'll need to do, is to [follow the steps here](https://storybook.js.org/docs/configurations/custom-webpack-config/#full-control-mode), and add a rule that handles `.less`.

If we simply support the extension, you'll have build failures as there won't be a loader for LESS (or less as I think it's now known).

[2019-05-27 09:11] #6710 closed

[2019-05-27 09:50] gustavnikolaj commented on #6710
@mrmckeb This PR added support for forks of react-scripts and their associated configurations to be picked up. https://github.com/storybooks/storybook/issues/5801

Following the reasoning laid out in your comments that suggestion should have been rejected as well. This strikes me as being a bit inconsistent.

I'm perfectly aware of how both CRA, react-scripts and the storybook works, and I was exc

[2019-05-27 09:57] gustavnikolaj commented on #6710
Pinging @shilman for a second opinion :-)

[2019-05-27 10:13] kwinyyyc commented on #6856
Thanks @kroeder

Not sure if I got you right, I created a wrapper component and it solves my problem. Let me share here what I have and feel free to comment if there could be any improvements.

In my case, I am using a ngx-toastr library (which is where the ToastrModule from) which generates a dynamic toast component.
I wrap it with a wrapper component and what the wrapper component does it basica

[2019-05-27 11:34] rwieruch commented on #6758
Any interest: yes. But lack of time :( I will ask around in my React community! I guess it's a good issue for developers new to open source.

[2019-05-27 11:39] arjunkalburgi commented on #6812
Wait @CharlesPoquet and @fishonweb you were able to fix it? Could you please show me?

[2019-05-27 11:57] EnjoyChan commented on #6615
I don't think so. Throught that way, I need to pass exiting config in every project, and the exiting config is loacated in our npm pacakage, that means, I need to copy the config in every project. Can you add webpack config option for storybook standalone

[2019-05-27 12:22] RomainGoncalves commented on #6848
Hi @ndelangen ,
thanks for looking into this. I have the same issue here. Can we expect the PR to be merged/released soon?

Thanks

[2019-05-27 12:45] fishonweb commented on #6812
@arjunkalburgi we fix it for our project. We add build options in project in our `angular.json` like this
[code]
Hope it will help you

[2019-05-27 12:59] ganapativs opened #6885 "How to lazy load(code splitting) stories and respective components?"
**Is your feature request related to a problem? Please describe.**
We have many components(100+) and we want to write stories for all of them, eventually replacing component development with storybook.

The bundle size is growing enormously as we are writing stories for new components. This is affecting initial page load time as all the component JS & stories are loaded on page load.

**Describe t

[2019-05-27 14:31] shilman commented on #6864
Shiver me timbers!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-rc.2 containing PR #6878 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-05-27 14:31] #6864 closed

[2019-05-27 14:34] RogierdeRuijter opened #6888 "Story groups for angular"
Hi,

Is there an addon available to create story groups in angular. Similar to https://github.com/jurgob/react-storybook-addon-add-stories-group.

Cheers

[2019-05-27 15:04] gocreating opened #6889 "How to emit typescript on error?"
I followed the [official tutorial](https://storybook.js.org/docs/configurations/typescript-config/) to migrate storybook project to typescript code base. However, `start-storybook` will not launch local server if there is any one type error. This is so annoying for a beginner of typescript.

After I hacked to resolve all type errors, storybook did launch successfully. Is there a better configurati

[2019-05-27 17:08] benoitdion commented on #6769
hey @alechp, I'm unable to reproduce this. Do you mind testing again on the latest rc?

[2019-05-27 17:12] benoitdion commented on #6643
@nabati is this issue resolved?

[2019-05-27 17:14] benoitdion commented on #6452
@MaxToyberman are you still seeing the issue with the latest 5.1 RC?

[2019-05-27 17:25] nabati commented on #6643
Yes!

On Mon, May 27, 2019, 20:13 Benoit Dion <notifications@github.com> wrote:

[2019-05-27 19:41] #6643 closed

[2019-05-27 20:53] thegiantbeast-csm commented on #5822
@shilman how does the workaround work?

Because I didn't had any success following the comments on #5818. Thanks!

[2019-05-27 21:18] mathew3 commented on #6882
Same issue as @Jobeso with brand new project following automatic setup. Eventually managed to run it with manual setup which added an old version tho: `"@storybook/react-native": "^4.1.18",`

[2019-05-27 21:25] shilman commented on #5822
The workaround is to open the dev tools and see the console output there

[2019-05-27 22:26] mcdonnelldean commented on #6882
Same issue for me, different module, Note this is using the same version of storybook as @mathew3 as the default auto installer failed due to missing `5.x`.

[code]

[2019-05-28 00:37] graup commented on #4475
As far as I can see the fix here is to just remove the automatic inclusion of that preset and make it clear in the documentation that users should specify a preset themselves? (Which in most cases will have already been taken care of.)

Can someone reiterate why that preset is there in the first place? It seems counter-intuitive to forcefully add babel presets to existing babel projects.

[2019-05-28 01:33] #6443 closed

[2019-05-28 03:08] codeglider commented on #6848
@ndelangen I'm having the same issue. Do you know when this PR will be merged? Is there any work around until then? maybe lowering the react version? I tried, but didn't work.

[2019-05-28 06:17] minuz commented on #6040
Hello all, I just ran into the same issue and I'm unsure what's wrong with this...

I pushed a repo that contains a test project that has this problem. Any help would be appreciated!

https://github.com/minuz/ng-jest-storybook

[2019-05-28 06:18] emilio-martinez commented on #6208
I'd like to keep this open. 👋

[2019-05-28 08:05] mrmckeb commented on #6710
Hi @gustavnikolaj, that PR fixed support for custom `react-scripts` packages, we added support for those last year. What that PR doesn't do, is allow Storybook users to accidentally implement things in Storybook that won't work with CRA - at least not without creating a custom config.

What you're asking would do that, which is why I am suggesting you simply add this to the config yourself. Storyb

[2019-05-28 09:42] mateuszgachowski commented on #5294
If someone still has problems with it this should help :)

[code]

[2019-05-28 10:50] mgan59 commented on #5183
Ran into the above `babel-loader` issue as mentioned.  I installed the `@storybook/react@5.1.0-rc.2`.  Storybook will build and run, but none of my Stories/Components populate.  And `stdout` all my stories are throwing exceptions

[code]

Reverting back to `5.0.11` it works again.  Do I need to do something else?  Are their changes to the syntax.  Just setup storybook yesterday so new to the proje

[2019-05-28 11:29] fredefl commented on #5183
Just in case anyone else lands in the same situation as me: I couldn't for the life of me get the Storybooks + CRA integration to work, where Storybooks uses the build setup of CRA. However, I then tried to move my stories into the `src/` directory of my CRA project, and suddenly it worked. I don't know why, or if it has been recommended or required all along, but this fixed it for me.

[2019-05-28 11:42] tofran commented on #6194
I think this is very relevant and should not be closed.
This feature **may** be used for telemetry purposes. Users should be able to opt-ot from it.

[2019-05-28 12:48] UFOMelkor commented on #5869
I had a similar error after upgrading today. This was the error message:

[code]

And this jest configuration helped:
[code]

Not sure whether this helps someone.

[2019-05-28 13:46] arturopie commented on #6110
This issue is still relevant. I tried to help by fixing it on a PR, but I couldn't setup the project to run all the tests. If you can point me to the right documentation for setting up my environment to work on this project, I can make a PR.

[2019-05-28 13:46] alflennik commented on #4034
I just encountered the same error running a brand new Storybook 5.0.10, Webpack 4.29.0, Babel 7.2.2, which makes me think that this error must be related to a low-level dependency, since these high level dependencies must have changed significantly since the issue was opened a year and a half ago.

I'm running a yarn monorepo.

Here's the stack trace:

[code]

I was able to fix it by manually dele

[2019-05-28 13:59] shilman commented on #6710
I think we should handle less via a preset, like [preset-typescript](https://www.npmjs.com/package/@storybook/preset-typescript)

[2019-05-28 14:07] shilman commented on #6416
Note: we are moving to `@storybook/source-loader` in 5.2 which may have solved this issue since Typescript handling has been rewritten by @libetl

[2019-05-28 14:13] shilman commented on #6110
@arturopie There's a development guide in `CONTRIBUTING.md`. Did you take a look at that?

https://github.com/storybooks/storybook/blob/next/CONTRIBUTING.md#reproductions

[2019-05-28 14:25] shilman opened #6897 "CLI: Generate stories in X.stories.js format"
We currently generate `stories/index.js` from the CLI. We should update the CLI templates to generate `X.stories.js` with the appropriate loaders to help encourage people to use a common setup.

[2019-05-28 14:37] shilman opened #6898 "CLI: Generate stories under src directory in CRA projects"
See: https://github.com/storybooks/storybook/issues/5183#issuecomment-496477023

We're detecting CRA projects, so we should be able to easily put the stories in the right place under `src/`

[2019-05-28 14:39] shilman commented on #6136
In 5.2 we're moving to `@storybook/source-loader` which was overhauled by @libetl. This might have been fixed in there.

[2019-05-28 14:44] crubier opened #6899 "Trying to require the package "@emotion/core" without it being listed in its dependencies"
**Describe the bug**

When using sotrybook within a yarn PnP project, we get this error:

`Trying to require the package "@emotion/core" without it being listed in its dependencies`

Here is how to fix this:

https://yarnpkg.com/en/docs/pnp/troubleshooting#toc-is-trying-to-require-without-it-being-listed-in-its-dependencies

Fixes for https://github.com/storybooks/storybook/issues/5919 do not fix

[2019-05-28 15:11] LaurenceRolandJames commented on #4841
Any update on this? Thanks.

[2019-05-28 15:11] nonameolsson commented on #5935
I can agree that it is very slow. I haven't used Storybook v4, only the latest one.
![image](https://user-images.githubusercontent.com/1493018/58489492-ac143500-816b-11e9-94c2-720d641108bb.png)

[2019-05-28 15:36] shilman commented on #5935
@nonameolsson are you using typescript? did you use the workaround here?

[2019-05-28 15:47] saibotlive commented on #5533
@shilman just to add, I used to use process.browser in my application. This works fine on the stable release but returns undefined in your alpha release.

[2019-05-28 16:27] shilman commented on #5533
@saibotlive Would you mind trying out the latest alpha https://github.com/storybooks/storybook/releases/tag/v5.1.0-rc.2 and let me know if this is still a problem for you?

[2019-05-28 16:36] revmischa commented on #5183
I'm having this problem too, with a new CRA typescript app. Very latest CRA from master and storybook 5.0.11

[2019-05-28 16:46] robbertolierook commented on #6855
Sure, I could take a look.
Any help you could provide to get me started would be appreciated.

[2019-05-28 16:48] revmischa commented on #4672
Yes I'm seeing this too, @devdigital

[2019-05-28 18:01] feonit commented on #5251
and now, in version 5 it still not work!

[2019-05-28 18:06] feonit opened #6901 "[addon-info] `No propTypes defined!` on prop table in build mode"
**Reproduce the bug**
https://github.com/storybooks/storybook/issues/5251

in version 5 it still not work! but my issues was closed without come fix! it saddens me

[2019-05-28 18:16] shilman commented on #5183
@revmischa are your stories under `src/`?

[2019-05-28 18:20] shilman commented on #6901
Reopening #5251

[2019-05-28 18:20] #6901 closed

[2019-05-28 18:22] travi commented on #6763
since i saw that this got merged, i decided to give it a try again and found that i was still presented with the same error. it took me a bit to realize that i needed to use the `debug` dist-tag instead of `next`, but these are my results with `5.2.0-alpha.18`

running with the `--debug-webpack` flag, i see that the "Manager webpack config" now looks like a config similar to what i would expect:

[2019-05-28 18:43] revmischa commented on #5183
Yes @shilman - I'm basically just running CRA then sb init: https://github.com/jetbridge/create-react-app/pull/1/files#diff-0ae46a2383dedcac5f5e369f5ca5f169R35

The stories are inside src/.

[code]

[2019-05-28 18:45] revmischa commented on #5183
If I remove it from devDependencies:
[code]

[2019-05-28 19:14] kubilaykiymaci commented on #6882
i have same versions, configs and same issue. i can’t start storybook with rn 0.59.8

[2019-05-28 19:23] revmischa commented on #5183
Looks like I had a different version in a project in an enclosing folder.

[2019-05-28 19:53] kaiyoma commented on #6813
Still an issue in 5.1.0-rc.2.

[2019-05-28 19:54] kaiyoma commented on #6864
Thanks, the new release fixed the config parsing issue, though we still can't upgrade because a lot of other functionality is still broken. See https://github.com/storybooks/storybook/issues/6813.

[2019-05-28 20:40] crubier commented on #6899
Here is a way to somewhat work around this (didn't get storybook to work yet though..)

It uses solution 3 listed here : https://yarnpkg.com/en/docs/pnp/troubleshooting#toc-is-trying-to-require-without-it-being-listed-in-its-dependencies

Go to top level package and then:

[code]

[2019-05-28 21:36] shilman commented on #6763
@travi You should be able to get this on the `next` dist tag. The `debug` tag includes the stuff from the `next` tag, but it's main purpose is as a release channel for [SB Docs](https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a), and it's not intended to be stable. Does the latest version on `next` (5.1.0-rc.2?) still not work for you? Do we need to apply the change to both man

[2019-05-28 21:39] travi commented on #6763
from what i can tell, the change is more necessary on the preview config than on the manager config. i was able to apply the [workaround from above](https://github.com/storybooks/storybook/issues/6763#issuecomment-491415516) to get past it for now, but the change that was merged does not fully resolve the issue for me.

[2019-05-28 21:41] shilman commented on #6813
@kaiyoma I missed this one somehow. We'll try to get it figured out before the 5.1 release. Do you have a repro available?

[2019-05-28 21:46] shilman commented on #6763
@travi Thanks for the quick response. We'll try to get it taken care of soon.

[2019-05-28 21:48] travi commented on #6763
thank you 🙏

[2019-05-28 22:46] nigelsim opened #6902 "React Native Storyshots - RangeError: Maximum call stack size exceeded"
**Describe the bug**
When running `storyshots` the following error occurs. Running the storybook within the app on the device works as expected:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Setup React Native Story book and test
2. Add `@storybook/addon-storyshots`
3. Setup `storyshots.test.ts` as per README
4. Run `yarn test`

**Expected behavior**
Snapshots to be generated

**Code

[2019-05-28 23:23] kaiyoma commented on #6813
@shilman No, not easily. We use Storybook in our project for our internally developed components.

[2019-05-28 23:37] kaiyoma commented on #6813
I glanced again at the error in the Chrome debugger and if I set a breakpoint on the line I mentioned above, I see `ReferenceError: process is not defined` when I hover over `process`. Hope this helps.

[2019-05-29 00:10] shilman opened #6903 "Addon-docs: DocsPage fails unless a theme is specified"
When you add DocsPage from `addon-docs` to a storybook that does not use themes, e.g. https://github.com/grommet/grommet, it fails with a stack trace like this:

[code]

DocsPage (or its container?) needs to ensure that a theme is provided so that its Doc Blocks can use the theme.

As a temporary workaround you can simply add a theme in `config.js`:

[code]

[2019-05-29 02:08] jamsch commented on #6882
Just installed `5.1.0-rc.2` from `4.1.18` to try it out and get the same kind of error:

[code]

[2019-05-29 06:09] shilman commented on #6903
Turns out this was an unrelated bug solved in https://github.com/storybooks/storybook/commit/1ee3302400f8a85978e88c13cec0c51182e607d2

[2019-05-29 06:09] #6903 closed

[2019-05-29 07:12] louisrudner commented on #4672
It works if you install the exact expected version from both react scripts and storybook:
[code]

[2019-05-29 08:16] tarjei opened #6904 "Svelte stores not supported"
**Describe the bug**
If you define a Svelte component that dependes on a store, you create the component like this:

`new MyComponent({target: "#roor", store: store})`

The problem is that the Svelte component api (v2) also supports passing in a store value that is unsupported by storybook-svelte.

**To Reproduce**
Se description above.
**Expected behavior**
Storybook should also pass the store ke

[2019-05-29 08:45] mrmckeb commented on #4841
@LaurenceRolandJames I can see that @shilman has added this to the next milestone, which is great.

@shilman would you like me to pick this one up?

[2019-05-29 08:53] nianiaJR commented on #6744
It seems that I can't find

[2019-05-29 08:59] nianiaJR commented on #6744
as the [doc](https://www.npmjs.com/package/@storybook/addon-docs/v/5.2.0-alpha.12) say:
[code]
But I can't find the `react` directory in `@storybook/addon-docs` module too. Do I misunderstand this doc?

[2019-05-29 09:37] mgan59 commented on #5183
I moved all my stories from `./stories/*` to `./src/stories/*` and updated my `.storybook/config.js` and now things are working with the `@storybook/react@5.1.0-rc.2`.  Having just set this up the other day, the docs/setup guide for `React` will be out-of-date for those coming in with a fresh CRA setup.

Otherwise, issue looking fixed 👍

[2019-05-29 09:45] crubier opened #6905 "Cannot start when installed using yarn pnp, improvement to webpack config needed"
**Describe the bug**

When running storybook in a package installed using yarn pnp, storybook does not start.

This is caused by the webpack config not using https://github.com/arcanis/pnp-webpack-plugin

**To Reproduce**
Steps to reproduce the behavior:

1. Take a valid storybook project
2. Enable yarn pnp on the project by adding  this to `package.json`:

[code]
3. Run `yarn add @storybook/chann

[2019-05-29 09:46] crubier commented on #6899
I have this other bug afterwars btw:

https://github.com/storybooks/storybook/issues/6905

Am I the first person in the world to run storybook on a project installed with yarn pnp, or am I badly mistaken somewhere ?

@arcanis , https://yarnpkg.com/en/docs/pnp/troubleshooting#toc-is-trying-to-require-without-it-being-listed-in-its-dependencies . says I am supposed to ping you.

[2019-05-29 09:48] crubier commented on #6905
I have been trying to fix the Webpack config manually for 24 hours now, without success

[2019-05-29 10:19] arcanis commented on #6899
There's been a few reports of incompatibilities with Storybook but unfortunately those who did them didn't have the bandwidth to investigate. I did try a bit, but since I never used Storybook myself I would have to learn it first and it didn't seem straightforward 😅

I'm pretty sure the problems can be fixed with only a few PRs, and I'd be happy to lend my experience to help achieve this goal! We

[2019-05-29 10:25] abrcdf1023 commented on #6848
Same here after upgrade to material-ui V4 everything is broken.

[2019-05-29 10:31] crubier commented on #6905
Some pointers on the related issue here https://github.com/storybooks/storybook/issues/6899#issuecomment-496866180

[2019-05-29 10:36] beshanoe commented on #6439
Hi there. This bug seems pretty serious, it ruins the whole nice experience of developing in storybook. Are you waiting for PR? Is there a solution you agreed on?

[2019-05-29 10:43] crubier commented on #6905
This file might be a good culprit ?

https://github.com/storybooks/storybook/blob/master/app/react/src/server/cra-config.js

[2019-05-29 10:43] crubier commented on #6899
This file might be a good culprit ?

https://github.com/storybooks/storybook/blob/master/app/react/src/server/cra-config.js

[2019-05-29 10:45] mrmckeb commented on #5183
Hi all, yes, please be sure to remove your `babel-loader` and do a quick spot check to see if it's listed somewhere else.

You can also tell CRA to skip that check if you want, but it's there for safety...

[2019-05-29 11:15] revmischa commented on #5183
I'm still having this issue with @storybook/react 5.0.11 and the latest create-react-app from master.
The problem is that CRA wants babel-loader 8.0.5 and running `sb init` adds `"babel-loader": "^8.0.6"` to my packages.json
So what about detecting what babel-loader CRA already requires and add that? or just skip adding babel-loader to package.json in sb init if CRA is detected? keeping the two ex

[2019-05-29 12:03] ganapativs commented on #6885
Am I using the storybook in a wrong way?

Found some related issues(https://github.com/storybooks/storybook/issues/696 & https://github.com/storybooks/storybook/issues/713) though. but, none of them solves the issue.

It would be nice if we can support this feature out of the box in storybook. Also, if someone has already tried some implementation related to this, please share!

[2019-05-29 12:09] arcanis commented on #6899
I made a quick first pass. My methodology:

[code]

This gives us a project with Storybook using Yarn v2 (Yarn v2 is where most of the development occurs nowadays, and in particular it uses PnP by default; it's the best place to debug such issues).

---

I had to do the following changes to the resulting lockfile in order to get somewhere (note that except for `pnp-webpack-plugin`, all those depen

[2019-05-29 12:54] MrFoxfr commented on #5183
Please i really need help.

i try everything but enything work.

`There might be a problem with the project dependency tree.
It is likely not a bug in Create React App, but something you need to fix locally.

The react-scripts package provided by Create React App requires a dependency:

  "babel-loader": "8.0.5"

Don't try to install it manually: your package manager does it automatically.
However

[2019-05-29 13:27] benoitdion commented on #6882
does it work if you install emotion as a dev dependency?

[2019-05-29 13:36] lslocum commented on #6804
I think the problem is the new version of zone.js in Angular 8. I get this error when I try to upgrade my existing project from 7 to 8

![image](https://user-images.githubusercontent.com/19716694/58561481-ce01cc00-81ec-11e9-8de7-82e15458600d.png)

[2019-05-29 13:44] arturopie commented on #6110
Yes, I did and got 6 failed test and 3 failed snapshots after running the core tests.

[2019-05-29 14:18] acnebs commented on #6479
@mrmckeb Thanks for the thorough talk-through, that is now what I've done and it is working well.

There is some potential to have a lib like [customize-cra](https://github.com/arackaf/customize-cra) that would provide a cleaner API than modifying the `config` object directly.

I actually tried to use `customize-cra` for this purpose, as I thought Storybook was using CRA behind the scenes, but for

[2019-05-29 14:56] quolpr commented on #5869
To fix issues I went away from `ts-jest` and now use babel version.

https://jestjs.io/docs/en/getting-started

But there are still some tradeoffs - https://kulshekhar.github.io/ts-jest/user/babel7-or-ts

And it seems that `ts-jest` can't be used with storyshot, because webpack `require` fix is about babel(macro or plugin way).

So, my configs:

jest.config.js:
[code]

.babelrc:
[code]

.storybook

[2019-05-29 15:12] sky007 commented on #244
Is there any implementation of this, I see there is an reference issue that has been merged but the documentation doesn't have an option to expand all the stories.

[2019-05-29 15:14] tmeasday commented on #6439
Hi @beshanoe - yes, you are correct, that PR contains a fix, and will be merged into our main release branch sometime after 5.1 is released (very soon). I'm not quite sure when the fix will make it out.

[2019-05-29 15:15] rosskevin commented on #5267
I wish there was a better solution than a stale bot, but understand it helps overall.

Go away stale bot.

[2019-05-29 15:16] shilman commented on #244
We don't have that feature -- not sure why that PR references this issue. Would you like to add it?

[2019-05-29 15:18] shilman commented on #5267
@rosskevin If one marks the issue as `in progress` the stale bot goes away. Any interest in picking this issue up?

[2019-05-29 15:23] rosskevin commented on #5267
I'm sorry @shilman I'm already spread thin across the other open source and private projects I contribute to. I'd like to pick it up but it would be irresponsible of me to indulge.

[2019-05-29 15:43] shilman commented on #6110
@arturopie Failed tests in the `next` branch?

[2019-05-29 15:57] kaiyoma commented on #6741
AFAIK, this is still an issue.

[2019-05-29 15:58] Reeska commented on #4241
Hello,

Any news on this ?
There is a new vulnerability with `moderate` level now, this is going to be critical.

[code]

[2019-05-29 16:22] shilman commented on #6899
@crubier You should be able to override the webpack configuration without modifying those files using "full control mode": https://storybook.js.org/docs/configurations/custom-webpack-config/

[2019-05-29 16:24] shilman commented on #6744
@nianiaJR Which version of addon-docs is that? Please upgrade to the latest release, alpha.19. This is a "technical preview" release, as explained in bold letters at the top of the Google doc. If you want something stable, please wait for the stable release.

[2019-05-29 16:25] shilman commented on #4841
@mrmckeb That would be awesome! 🙇

[2019-05-29 16:30] shilman commented on #6904
cc @plumpNation @cam-stitt

[2019-05-29 16:40] crubier commented on #6899
@shilman I agree with this but I have been trying this for a long time now, to now avail. I always get the problem seen in #6905

[2019-05-29 16:46] marco-silva0000 commented on #6899
@arcanis great digging! In my limited understanding of storybook, it has "2 webpacks" one for the storybook UI and wrapper stuff, where the actual server is ran, which they call `manager`, and one do be configured by the user, i guess the 'iframe'.

@shilman  I believe "full control mode" only allows to configure the `iframe-webpack`. I'm also trying to use sotrybook with yarn 2 and pnp, so you ar

[2019-05-29 16:51] PilotConway commented on #6848
I just ran into this as well.

Seems the workaround for the time being is to stop using withInfo decorator until it's fixed. I think I got a few other components working by removing withStyles from the tree but can't really do that everywhere at this time so I just commented out the withInfo add decorator line in my config and am going forward with that for now.

[2019-05-29 17:00] Stephanemw commented on #4241
I've updated Storybook's direct dependencies on lodash in another PR, will take a look at this transitive one as well if no-one else is on it yet

[2019-05-29 17:14] crubier commented on #6899
@shilman Here is an example of a webpack override that could be expected to work but does not:

[code]

[2019-05-29 18:46] #6715 closed

[2019-05-29 19:18] gormat commented on #6848
I am not sure this is the best place to ask this question, but anyway, can I use `makeStyles` function inside class ? I got an `Invalid hook call`. Is there any possible way to use the function `makeStyles` ?

[2019-05-29 19:33] crubier commented on #6899
@shilman I think the "full control mode" allows to customize what @marco-silva0000 calls "the one do be configured by the user, i guess the 'iframe'."

But is there a way to configure the othe rone, what @marco-silva0000 calls "the one for the storybook UI and wrapper stuff, where the actual server is ran" ?

This is the one causing the bug now for me.

[2019-05-29 20:16] faizalMo commented on #5889
Thanks for sharing that @seanmcintyre. How far away is the addon?

[2019-05-29 20:18] CodeByAlex commented on #6888
@RogierdeRuijter This is a work in progress but might address what you are looking for: https://medium.com/storybookjs/storybook-docs-sneak-peak-5be78445094a

[2019-05-29 20:49] marco-silva0000 commented on #6899
@crubier you have more info about that on #4995 It's a pretty long conversation, and honestly I'm not sure about the state of te problem, but maybe you can figure it out, if not I'm sure @shilman can help us out.

[2019-05-29 21:11] haldunanil opened #6908 "Storybook 5 not displaying all stories"
**Describe the bug**
I am dynamically loading stories, but only the first 18 seem to get loaded. The rest simply don't show up on the left nav.

**Expected behavior**
All of the identified story files should be loaded into Storybook (indeed, when I do a console.log of `req.keys()`, all of the files I want are listed).

**Screenshots**
<img width="229" alt="Screen Shot 2019-05-29 at 5 09 42 PM" src

[2019-05-29 21:37] crubier commented on #6899
@marco-silva0000 Thank you, I think this is going in the right direction, even though it . does not work yet

[2019-05-29 22:05] #5460 closed

[2019-05-30 00:08] ozzpy commented on #5183
I discovery that I have `babel-loader 8.0.6` installed globally on my home directory `/home/user/node_modules`, so under my project directory was installed babel-loader 8.0.5, so I remove `npm remove babel-loader` on my home directory(8.0.6), than all work fine.

[2019-05-30 05:01] #6146 closed

[2019-05-30 05:35] shilman commented on #6055
@manuelbieh FYI we merged the presets doc and released our first preset.

https://github.com/storybooks/storybook/pull/5333
https://www.npmjs.com/package/@storybook/preset-typescript

Any interest in doing this for CSS modules? If so, I'd def feature it as part of the push towards presets.

[2019-05-30 05:45] shilman commented on #6899
@crubier @marco-silva0000 Yeah that #4995 is exactly right. I've merged the presets documentation in #5333 and you can see the relevant docs here:

https://next--storybooks.netlify.com/presets/writing-presets/#advanced-configuration

Hopefully this makes sense. If not, hop on Discord and I can help you get going and update the documentation to make it more clear.

[2019-05-30 06:08] iamnewton opened #6909 "TypeError: Cannot destructure property `id` of 'undefined' or 'null'."
**Describe the bug**

```TypeError: Cannot destructure property `id` of 'undefined' or 'null'.```

This is the only error I receive in the console but its preventing me from seeing any storybooks.

**System:**
 - OS: MacOS
 - Device: MacBook Pro 2016
 - Browser: Chrome 74
 - Framework: React
 - Addons: addon-options, addon-knobs, addon-viewport, addon-actions, addon-links, addon-a11y, storybook-ad

[2019-05-30 06:18] nianiaJR commented on #6744
@shilman My version is 5.2.0-alpha.0. I get it and thanks for your patience.

[2019-05-30 06:28] shilman commented on #6848
Yowza!! I just released https://github.com/storybooks/storybook/releases/tag/v5.1.0-rc.3 containing PR #6859 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-05-30 06:28] #6848 closed

[2019-05-30 06:30] revmischa commented on #5183
This is a dumb question I'm sure but...
If I'm using typescript, what do I need babel for?

[2019-05-30 08:05] erhanbicer commented on #6882
same problem

[2019-05-30 08:16] crubier commented on #6899
OMG Ok This works :tada:

It was painful, but it works and the solution is relatively simple in the end, thanks to presets.

The solution is a combination of @arcanis answers + this storybook preset

[code]

[code]

I will probably make a PR on Friday.

Thanks all !

[2019-05-30 09:00] Jobeso commented on #6882
@benoitdion thanks for the response. I tried out your suggestion and this fixes it.
I now used `5.2.0-alpha.19` and added `emotion-theming` and `@emotion/core` as dev dependencies and after that I was able to use storybook.

I can create a PR adding those two dev dependencies if it helps you.

[2019-05-30 09:01] #2226 closed

[2019-05-30 09:02] yairEO commented on #6505
I have the same issue :(

[code]

Require assistance please...have no idea how to fix this

[2019-05-30 10:02] Jason-Michaels commented on #6804
The zone.js dependency error is also stopping me from using storybook on Angular 8... I hope it get's resolved soon!

[2019-05-30 10:21] blemaire commented on #6709
Hey, has anybody had a chance to look at this? It's not blocking as we can wrap the component in a template but it's extra effort to duplicate the bindings when they're already there.
Thanks a lot

[2019-05-30 10:40] alexakasanjeev opened #6910 "React-Native: "Can't find variable: document""
**Describe the bug**
Getting "Can't find variable: document" error when launching React-Native app with storybook.
**This is only coming when i am including this line `import '@storybook/addon-actions/register';`
If I comment out above line in addon.js, then everything is working fine.**

**To Reproduce**
Steps to reproduce the behavior:
1. Create a react native project
2. Install storybook using

[2019-05-30 11:12] sdurnov opened #6911 "Error when trying to run storybook for Angular on Angular 8 project"
**Describe the bug**
Had this problem since upgraded to Angular 8 RC from Angular 7, still getting it after upgraded to final Angular 8 packages.

When trying to run newly added Storybook (Angular project with 2 angular libraries, which uses ng-packagr for build, and 1 Angular UI app), getting this:
[code]

When adding Storybook to a fresh Angular 8 project, getting this when trying to launch Stor

[2019-05-30 11:23] gmeans commented on #6911
@sdurnov I ran into this last night and the fix was to modify the `tsconfig.json` in the `.storybook` folder. Its path to the `tsconfig.app.json` file was generated incorrectly.

My working version:

[code]

[2019-05-30 14:34] arturopie commented on #6110
Yes

[2019-05-30 15:46] lassiter commented on #5298
bump, We're running into this issue as well. We use module.exports for our API library. Has anyone made any progress?

[2019-05-30 15:49] chrismiceli commented on #6194
I agree that this should be resolved. I would even further argue off by default, at least until I can find a privacy policy for the data collected from these update checks. This may be a legal issue in some countries.

[2019-05-30 16:04] MightyRevenge opened #6914 "[Angular][Notes Addon] Markdown not showing code blocks correctly"
**Description**
Trying to add a multi-line code block to my notes, but it does not render it correctly. I'm expecting to see a code block with a copy button on it like most people (https://github.com/storybooks/storybook/issues/5574), but I don't see it. Only inline code blocks work.

**To Reproduce**

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screens

[2019-05-30 18:41] KadenLNelson opened #6915 "add-backgrounds doesn't seem to show configured default background"
**Describe the bug**
The configured background only seems to 'appear' when I'm resizing the window.

**Expected behavior**
I expect the backgrounds add on to show the background that I've set as default in `config.js`

**Screenshots**
https://gyazo.com/692513518902f8e403036d29b4ee5c28

**Code snippets**
[code]

**System:**
 - OS: MacOS
 - Device: macbook pro 2015
 - Browser: chrome
 - Framework: r

[2019-05-30 21:45] SEAPUNK commented on #5141
We're using `5.1.0-rc.3` with `addon-knobs` on `@storybook/react-native-server`, but we're still experiencing the same problem, particularly when switching between stories with knobs to stories w/o knobs: The knobs don't clear out, and you have to press the "reset" button for it to actually say that there are no knobs on the story.

[2019-05-30 23:49] stephenkoo commented on #5183
Thanks @shilman, but the pre-release doesn't seem to be fix the babel-loader issue.

Steps taken:
1. Install latest Typescript ver. of CRA (react-script 3.0.1) via `npx create-react-app my-app --typescript`
2. `npx -p @storybook/cli sb init --type react`
3. Configure storybook for TS using instructions in https://storybook.js.org/docs/configurations/typescript-config/ & demo https://github.com/joh

[2019-05-31 02:01] claudio-moya commented on #5602
Hi guys,

The warning still available at the v5.1.0-rc.2, any plan to remove it?

[2019-05-31 03:04] lyqht opened #6917 "React-Native Storybook v5.1.0rc3 add-on tabs cannot be seen on simulator."
**Describe the bug**
After upgrading storybook-react-native to ver 5.1.3-rc, there is a lack of padding / margin around the app. Now I am not able to click on the add-on notes & knobs tabs.

**Expected behavior**
I should be able to click on the add-on tabs.

**Screenshots**
on ver 5.1.3-rc
![image](https://user-images.githubusercontent.com/35736525/58678470-71401600-8392-11e9-8ac5-f9e3c00e5896.pn

[2019-05-31 03:29] lyqht opened #6918 "addon-knobs for React-Native not working"
**Describe the bug**
In the index.tsx file, I have tried adding a global decorator for add-on knobs with the code below. (Notes is working, knobs is not.)
[code]

And in my story file,
[code]
I can see that the const values are parsed correctly in the app, but there is no knobs available.
![image](https://user-images.githubusercontent.com/35736525/58679664-1a890b00-8397-11e9-81fd-03226c168311.png)

[2019-05-31 03:33] lyqht commented on #6679
Any updates to this?
Might be relevant to the issue that I brought up for #6918

[2019-05-31 03:34] y-nk commented on #6679
looks to me related to Vue and other frameworks as well :/

[2019-05-31 03:56] mcc108 commented on #6885
I also need dynamic imports.

I tried to do this, but the display is blank :

[code]

I suggest `storyFn` should support await Promise

[2019-05-31 03:59] forforeach commented on #2812
Is there anything going on actually? Aren't we in a 5.x yet?

[2019-05-31 04:19] leoyli commented on #6705
related to #6679.

[2019-05-31 04:19] leoyli commented on #6863
related to #6679.

[2019-05-31 04:28] leoyli commented on #6679
It seems a recurrent bug. The above #6705, #6863 all share the same root cause.

This probably would trace back to #6022 PR. Unfortunately, I'm currently busy in my day-time job and would stay focus on migrate `@storybook/ui` into TS. If anyone would be able to voluntarily help out would much be appreciated. 🙏

Also, I think @ndelangen have some works/explorations on rewriting knobs?

[2019-05-31 04:43] shawnmclean commented on #6848
I tried it and I still get the same error, my devDeps look like this:

`"devDependencies": {
    "@babel/core": "^7.4.5",
    "@storybook/addon-actions": "^5.1.0-rc.3",
    "@storybook/addon-info": "^5.1.0-rc.3",
    "@storybook/addon-links": "^5.1.0-rc.3",
    "@storybook/addons": "^5.1.0-rc.3",
    "@storybook/react": "^5.1.0-rc.3",
    "@types/jest": "24.0.13",
    "@types/storybook__addon-acti

[2019-05-31 06:08] lyqht opened #6920 "addon-ondevice-notes does not format markdown correctly"
**Describe the bug**
The format of the markdown is rendered incorrectly (the bullets and table in this case).
![image](https://user-images.githubusercontent.com/35736525/58685476-7612c300-83ae-11e9-8d70-9cbf16c3e793.png)

**Code snippets**
[code]

[code]

**System:**
 - Device: iPhone X Simulator
 - Framework: React-Native
 - Storybook: @storybook/react-native v4.1.18
 - Addons: addon-ondevice-not

[2019-05-31 06:51] #5630 closed

[2019-05-31 07:58] Gongreg commented on #6910
Hey @alexakasanjeev, the issue happens because you include addons.js file inside storybook/index.js file. addons.js file is used only in web part of react native so there is no need to import it.

[2019-05-31 07:58] #6910 closed

[2019-05-31 08:47] crubier commented on #6899
PR for adding a preset for Pnp here:

https://github.com/storybookjs/presets/pull/8

[2019-05-31 08:55] crubier commented on #6899
Second PR following @arcanis recommandations above:

https://github.com/storybookjs/storybook/pull/6922

[2019-05-31 09:57] dburles commented on #6833
It would be good to perhaps just ignore React fragments

![Screen Shot 2019-05-31 at 4 26 04 pm](https://user-images.githubusercontent.com/319567/58698234-4b406300-83de-11e9-9a6e-ae4bc069d979.png)

[2019-05-31 10:15] bife1 commented on #6568
The same bug, any suggestions?

[2019-05-31 10:55] stephenkoo opened #6924 "How do I implement jest-styled-components with storyshot-puppeteer?"
**Is your feature request related to a problem? Please describe.**
Storyshots docs do not provide guidance on implementing a basic storyshots-puppeteer setup with CRA + styled-components + jest-styled-components.

**Describe the solution you'd like**
A clear guide or demo using the latest CRA app implementing storyshots-puppeteer, styled-components, & jest-styled-components.

**Describe alternativ

[2019-05-31 12:10] miljan-aleksic commented on #6153
@ndelangen, I did :)

[2019-05-31 13:51] #6331 closed

[2019-05-31 13:55] sdurnov commented on #6911
### Small update

Clean project run was fixed by fixing tsconfig.

But my primary project still fails. Same error on running storybook and similar when building:
[code]
I wonder if this has something to do with my custom build commands. In package json I have build command which builds 2 libs first and then builds app. And one of libs has its own custom webpack config. I wonder what storybook does

[2019-05-31 14:12] alexakasanjeev commented on #6910
@Gongreg So how do I use action addon, I am running storybook server, I am previewing stories on device and selecting stories from web browser, I want to see actions being logged, How do I do that?

[2019-05-31 14:26] Gongreg commented on #6910
You should see the action list in the addon panel inside the web browser or you can use https://github.com/storybookjs/storybook/tree/next/addons/ondevice-actions if you want to see them in the app.

Ping here if you can't get it to work. :)

[2019-05-31 14:27] ConstRep commented on #6298
@shilman Hi, thx for the updates. In @next version (5.1.0-rc.3) using react memo, have same story with memo components (in JSX tab). `<[object Object] />` instead component name `<Modal />`

[2019-05-31 14:42] Lehakos opened #6925 "React-storybook fails when use hooks within forwardRef"
**Describe the bug**
If we use hooks within forwardRef component, we receive next error:

**To Reproduce**
1. Make component using hooks and forwardRef
2. Create story for this component

**Code snippets**
Story for example:
[code]

**Storybook:**
 - Version: 5.0.11

**Additional context**
If we make wrapper for this component, and than add wrapper to story, error disappears:
[code]

[2019-05-31 15:00] alexakasanjeev commented on #6910
@Gongreg  I am unable to see action in web browser, my addon panel is empty. I have the same code as above
and this is the screenshot, when I am clicking on button i cannot see any action being logged
![Screenshot from 2019-05-31 20-27-07](https://user-images.githubusercontent.com/13250741/58714632-bee46f00-83e2-11e9-9b57-8ee6df72d216.png)

[2019-05-31 15:04] Gongreg commented on #6910
Maybe you need to pass in —config option to storybook start? I am not really sure what the issue might be :/

[2019-05-31 15:09] alexakasanjeev commented on #6910
To see **action panel** in the addon panel, you need to add this line `import '@storybook/addon-actions/register';` and when i am adding this line it is giving me that error, what should I do?

Can you tell me what kind of  config I need to write in package.json??

[2019-05-31 15:10] shilman commented on #2812
@forforeach Vue is supported in the addon-docs technical preview including props, source, docgen info, notes, etc.

https://docs.google.com/document/d/1un6YX7xDKEKl5-MVb-egnOYN8dynb5Hf7mq0hipk8JE/edit?usp=sharing

![image](https://user-images.githubusercontent.com/488689/58715336-79408b80-837b-11e9-9ee7-1e08aa1e4582.png)

[2019-05-31 15:18] shilman commented on #6298
@ConstRep Can you file an issue on `addon-jsx` repo for that? I don't maintain that package.

[2019-05-31 15:58] zachmanring-natgeo commented on #4259
I am having the same issue trying to setup a store via the config.js so that multiple components can use the same store.

[2019-05-31 17:54] jamesgeorge007 opened #6926 "Have a dedicated command to print debugging information about local environment"
## The idea

Have a dedicated `info` command that prints out debugging information about the local environment which proves to be useful especially while submitting bug reports.

### Proposed API
`sb info`

[code]

[2019-05-31 17:56] jamesgeorge007 commented on #6926
@shilman Shall I go ahead and propose a PR?

[2019-05-31 18:19] chriscarpenter12 opened #6927 "Angular addParameters missing from index.d.ts"
**Describe the bug**
`addParameters` is not defined in `app/angular/src/client/preview/index.d.ts`

**To Reproduce**
Import `addParameters` into storybook config.

**Expected behavior**
IDE warnings.

**Screenshots**
![Screenshot from 2019-05-31 14-03-17](https://user-images.githubusercontent.com/458486/58726158-fe916380-83ae-11e9-90e0-d051a157636b.png)

**System:**
 - OS: Ubuntu 18.04
 - Framewor

[2019-05-31 18:28] nahumzs opened #6928 "During Storybook-dist TypeError: _interopRequireDefault is not a function"
**Describe the bug**
Running storybook via `start-storybook` will render all my components and work perfectly. Once I try to export to a static version using build-storybook.

The following error appears:

[code]

and none component is shown on storybook.

I tried to search for a solution but with no success so far. I don't know why storybook 4 and 5 work correctly and only fail during the build p

[2019-05-31 18:43] kaiyoma commented on #6741
This also affects the "Keyboard shortcuts" page. You can't scroll down to see all the entries.

[2019-05-31 18:47] kaiyoma opened #6930 "Keyboard shortcuts are disruptive and interfere with component interactions"
Keyboard shortcuts are disruptive and interfere with component interactions. There should be a way to disable them. If I try to type into an input, for instance, Storybook intercepts all the keypresses, which is not desirable.

Is there a way to disable keyboard shortcuts and hide them from the sidebar menu?

[2019-05-31 19:50] trevorgithub opened #6931 "Anchor tags within preview panel not working"
**Describe the bug**
An anchor tag within a page in the preview panel iframe doesn't take you to that position within the page, but reloads the top iframe with the page content.

**To Reproduce**
Steps to reproduce the behavior:

Create a story within the preview panel, and add a link like About
Add a target for that link further down the page<a id="about"></a>
Expected behavior
When clicking the

[2019-05-31 20:03] luksm commented on #6576
Hey @TCiobanu, sorry for the delay. The same thing applies, when you are packaging your submodule you should be able to say what will make the cut.

Lets say your components is structured like this

[code]

On your package.json you would have

[code]

And when you run `npm pack` or `npm publish` you'll see that only the storybook files are not included in the final package.

[2019-05-31 20:35] jdhayford commented on #6204
^ To my knowledge this is still very much an issue and should not be marked inactive

[2019-05-31 22:35] alvarosaburido opened #6932 "Vue component Error: Failed to mount component"
**Describe the bug**
Custom components imported to Storybook do not render, console error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Create story of a custom component.
2. `start-storybook -p 9001 -c .storybook`
3.  See error in console

**Expected behavior**
Component Renders correctly

**Screenshots**
<img width="1517" alt="Components___Logo_-_Logo_⋅_Storybook_and_New_Issue_

[2019-05-31 22:57] #6200 closed

[2019-06-01 00:28] shilman commented on #6204
@jdhayford AFAIK this is fixed in 5.1, which is slated for release in a few days

[2019-06-01 00:43] jdhayford commented on #6204
@shilman That's great! Thank you and thanks to the contributors 👍

[2019-06-01 02:02] shilman opened #6933 "Addon-docs: Meta block for component metadata"
Clean up the component metadata declaration and also its "compiled" output in the MDX loader.
- [x] Add a new doc block called Meta
- [x] Update compiler to export Meta contents as componentMeta
- [x] Update the modules format loader to use default instead of componentMeta
- [x] Update compiler to export Meta contents as default
- [x] Update compiler to export the MDX as a field on default
- [x] U

[2019-06-01 05:56] prashant1k99 commented on #4329
Did you know that StoryBook creates static assets. Which means the security can easily be bypassed as the entire assets are served upon request. You should think of something about server side implementation of the request and once authenticated then serve the route desired by the Client. I believe it can easily be done with Express....

[2019-06-01 07:57] #5184 closed

[2019-06-01 10:07] Emobe opened #6934 "Incorrect tsconfig `extends` in Angular 8"
**Describe the bug**
storybook tsconfig does not point to the correct tsconfig to extend from

**To Reproduce**
Steps to reproduce the behavior:
1. Create new angular 8 app
2. Initialise storybook inside the app
3. Run storybook
4. See error

**Expected behavior**
Check if angular version is 8 and point to correct tsconfig file

**Code snippets**
.storybook/tsconfig.json
`"extends": "../src/tsconf

[2019-06-01 10:57] #5051 closed

[2019-06-01 12:10] gugadev commented on #6208
Keep it open, currently I'm very busy but I'm working on the PR!

[2019-06-01 13:57] #6482 closed

[2019-06-01 14:21] djMax commented on #6813
rc3 behaving the same.

[2019-06-01 14:38] Hypnosphi opened #6936 "Addon Events: can't edit payload"
https://storybooks-official.netlify.com/?path=/story/addons-events--logger

The field for editing event payload is unresponsive

[2019-06-01 19:13] shilman commented on #6813
Thanks guys. Looks like it's due to this change: https://github.com/storybookjs/storybook/pull/6767

I'll put together a fix this weekend.

[2019-06-01 21:02] libetl commented on #6813
hmmm. Shall we remove the readable-stream dependency once for all ?

[2019-06-01 23:44] #6220 closed

[2019-06-02 00:38] shilman commented on #6926
@jamesgeorge007 This is a great idea -- would love a PR!

[2019-06-02 03:40] hy2k commented on #6853
I had a similar issue when I was using emotion with Gatsby. In my case, although I was using gatsby-plugin-emotion to parse styles, I also added `.babelrc` in `.storybook/` directory which is in the project root. Now Storybook is parsing the styles correctly.

**.storybook/.babelrc**:
[code]

I hope this solves your problem.

[2019-06-02 05:19] shilman commented on #6813
@libetl I don't understand the dependency and what it has to do with this bug. Can you elaborate?

[2019-06-02 06:42] libetl commented on #6813
I mean the readable-stream npm dependency, indirectly pulled from the crypto module (to calculate hashes) contains the line of code responsible for crashing the application.

If we find another solution for hashing values, we remove that dependency.

Do you have another solution ?

[2019-06-02 08:13] aswin-s commented on #6918
Facing the same issue. Tried alpha & next channels as well.

[2019-06-02 11:44] kroeder commented on #6934
Can confirm, they changed the directory of `tsconfig.app.json` and moved it into the root directory
We should add a check for `< 8.0.0 = src/tsconfig.app.json` and `>= 8.0.0 = ./tsconfig.app.json`

Maybe it should be double checked again if we need a default tsconfig for app/angular at all. I already forgot why I introduced it but back then it solved a couple of issues

[2019-06-02 11:52] kroeder commented on #6804
I couldn't reproduce it

[code]

## Storybook version
5.1.0-rc.3

## Angular version
[code]

I'm going to upgrade our companies storybook in the next couple of days and check if it fails
The only bug I encountered was https://github.com/storybookjs/storybook/issues/6934

[2019-06-02 11:52] #6287 closed

[2019-06-02 11:53] kroeder commented on #6934
# Workaround
Edit `.storybook/tsconfig.json` and update the `extends` path to `../tsconfig.app.json` instead of `../src/tsconfig.app.json`

[2019-06-02 15:26] shilman opened #6941 "Source-loader: Extend default export with storySource parameters in module format"
## What I did

As part of https://github.com/storybookjs/storybook/issues/6933 I reverted the change to modules format so that we now use the default export to communicate component metadata.

Here's an example:

[code]

## What I need
The previous version used to look like:

[code]

At that time, it was easy to extend the parameters with the following snippet:

[code]

Now we need to do something

[2019-06-02 15:39] shilman commented on #6941
Here is a strawman proposal:

[code]

So if the user writes:
[code]

I want to rewrite it as:
[code]

Of course there are other ways to get this done. Just need it to work for docs :)

[2019-06-02 17:19] niritsgl168 opened #6942 "add customAfterAll to storyshots suit"
**Description**
I am using a dockerized chromium as my custom browser (using getCustomBrowser).
My `getCustomBrowser` function raises the container and returns a puppeteer-browser instance from the chromium instance in my container.
When the tests are finished, I need to kill this container as it no longer needed.
Currently I'm using the globalTeardown option (in Jest.config) to do that, which mea

[2019-06-02 18:45] jmlivingston commented on #6689
For what it's worth, adding `-HMR` was the easiest way for me to the filter these in Chrome.

![image](https://user-images.githubusercontent.com/1093719/58765811-b51a5300-852b-11e9-969f-13e8e1d2798a.png)

[2019-06-02 20:50] LukasMachetanz opened #6943 "Angular 8"
Is there a way to use storybook with Angular 8? If yes, where could I find further information how to set it up correctly?

Thanks.

[2019-06-02 20:59] #6943 closed

[2019-06-03 01:39] luapaaron opened #6945 "Switching Tabs Notes to Canvas, the default viewport used was set to null"
**Describe the bug**
The issue is that the default viewport used is not implemented, when going to canvas to notes, then notes to canvas. see steps below.

Steps:
1. I added my own view port using the code below
[code]

**viewports.js**
[code]

2. added addons of notes
import '@storybook/addon-notes/register';

3. add a new story
4. Run the storybook
5. at first the new story was at the default vi

[2019-06-03 03:54] Gongreg commented on #6910
Hey @alexakasanjeev,

If you want to see actions addon inside web addons panel you have to do this:

    Add following content to .storybook/addons.js
    import '@storybook/addon-actions/register';

That should be enough to get addons panel to appear in web.

If you want to see actions addon inside react native addons panel you have to do this:

[code]

And that should be enough to get actions pa

[2019-06-03 05:11] shilman commented on #6768
Is it still a problem when all your deps are the same version? They should be.

[2019-06-03 05:41] shilman commented on #6918
@lyqht @aswin-s You should either use `4.1.x` versions across the board or upgrade everything to `5.1.0-rc.x`. Can't guarantee it will fix the problem, but I wouldn't expect the example posted here to work due to version inconsistency (4.0 to 5.0 is a breaking change)

[2019-06-03 05:41] Gongreg commented on #6918
@ndelangen, did anything change in knobs addon?

[2019-06-03 05:41] Gongreg commented on #6918
Sorry, accidentally closed it.

[2019-06-03 05:57] aswin-s commented on #6918
@shilman Yes I did the same. When I was trying out stable build, all storybook dependencies were on 4.1.18. And for 'rc' tag, I used 5.1.0-rc.3 across.

[2019-06-03 06:02] shilman commented on #6918
@aswin-s Ok, thanks for letting me know. Hopefully we can get a fix out soon.

[2019-06-03 06:48] shilman commented on #6813
Attempted to fix this in https://github.com/storybookjs/storybook/pull/6946 which was released in https://github.com/storybookjs/storybook/releases/tag/v5.1.0-rc.4

@kaiyoma @djMax can you try it out and let me know if that worked?

[2019-06-03 06:49] shilman commented on #6934
Fixed in https://github.com/storybookjs/storybook/pull/6940

Released in https://github.com/storybookjs/storybook/releases/tag/v5.1.0-rc.4

[2019-06-03 06:49] #6934 closed

[2019-06-03 07:11] lyqht commented on #6918
@shilman , thank you for getting back on this issue!
- Regarding upgrading to `5.1.0-rc.x`, i faced the resolution issue in #6917 and hence decided to keep it in `4.1.18`.
- While the add-on knobs are able to work on `4.1.x`, i faced the same issue as #6005 , where the debouncing is too fast and editing the knob value results in NaN before I finish typing the input value.

![image](https://user-im

[2019-06-03 07:21] shilman commented on #6762
@majames Sorry for the late reply. Have you tried running with the `--debug-webpack` CLI option?

[2019-06-03 07:56] lyqht commented on #3592
Currently the simple way out i can think of is to include a number in front of the category / story e.g.
![image](https://user-images.githubusercontent.com/35736525/58785445-10297400-8618-11e9-94a6-df74f75b54bd.png)

I would like to know if there is any method to sort and display the stories manually to our own priority!

[2019-06-03 09:05] adelina29 commented on #5873
@codestitch , do you found a solution on this?

[2019-06-03 09:17] romanrandom commented on #6739
Also reordering the imports in `addons.js` does the trick

[2019-06-03 09:58] flav0061 commented on #6363
Hi,
Any further development on this?
Thanks for the help

[2019-06-03 10:28] firaskrichi commented on #6505
@mrmckeb what do you advise doing here?

[2019-06-03 10:57] nicgirault opened #6947 "First gif on README is ugly on retina screen"
![image](https://user-images.githubusercontent.com/551837/58797013-1d863480-85ff-11e9-80de-ac247cfc6d55.png)

[2019-06-03 11:15] kroeder opened #6948 "ng update from 7 to 8 collides with DemoComponents"
**Describe the bug**
When writing stories like this:
[code]

`ng update @angular/core` does not work correctly, throwing:
[code]

`ng update` can't detect that the DemoComponent is in a dynamic module generated by storybook.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a story as described above

**Expected behavior**
Unsure. Needs more information

**System:**
 - Framework: angular

[2019-06-03 12:39] aswin-s commented on #6918
I tried this on a new CRNA app and to my surprise, it's working. I don't know where I messed up last time. Please mark this as a non-issue.

[2019-06-03 13:01] ndelangen commented on #6762
@majames You can use the `middleware.js` feature storybook has:
https://github.com/storybookjs/storybook/pull/435#issuecomment-366701274

The feature still needs documentation. We could use your help with that.

We don't use webpack-dev-server directly. We use the devMiddleware:
https://github.com/webpack/webpack-dev-middleware

which doesn't support proxies

[2019-06-03 13:01] #6762 closed

[2019-06-03 13:30] ndelangen commented on #6689
Related: #6825

also related #6806

[2019-06-03 13:31] #6689 closed

[2019-06-03 14:18] ndelangen commented on #5792
I'm on it

[2019-06-03 14:22] brianmcd commented on #6804
@kroeder - When I run those commands, I get a warning about `@angular/storybook` zone.js dependency:

`warning " > @storybook/angular@5.0.11" has incorrect peer dependency "zone.js@^0.8.27".`

Things proceed and install, but a fresh install is different than upgrading with the Angular CLI.

This fails:

[code]

Output:
[code]

And the CLI won't proceed.

I'd imagine that the zone.js `peerDependenc

[2019-06-03 14:44] jmcpeak commented on #6813
I had the same issue - v5.1.0-rc.4 resolves the issue for me - thanks!

[2019-06-03 14:46] shilman commented on #6947
@domyen Didn't you have some other plans for this at some point?

[2019-06-03 14:48] shilman commented on #6363
I recommend using full-control mode:

https://storybook.js.org/docs/configurations/custom-webpack-config/#full-control-mode

Then running storybook with the `--debug-webpack` CLI flag

[2019-06-03 14:54] shilman commented on #3592
@lyqht there's a PR for it that will get merged as part of 5.2 (should be available next week after 5.1 is released)

[2019-06-03 14:56] #6813 closed

[2019-06-03 15:08] martinsik commented on #6804
I just tried again what I wrote in the initial post after upgrading to Angular 8 but I'm still having the exact same issue:

[code]

[2019-06-03 15:09] domyen commented on #6947
We can't do much about this without media queries. If we made it higher resolution that would increase the size of the gif for everyone (substantially). Tradeoffs 😅

Closing this. Please reopen if folks can recommend a way forward that balances file size, visual acuity, and something that works with GitHub 🙏

[2019-06-03 15:09] #6947 closed

[2019-06-03 15:14] brianmcd opened #6951 "Unable to upgrade from Angular 7 -> 8 with the Angular CLI due to zone.js dependency"
**Describe the bug**
Upgrading from Angular 7 to Angular 8 via the CLI won't proceed due to `@storybook/angular`'s zone.js peerDependency.

**To Reproduce**
[code]

Output:
[code]
And the upgrade stops.

I'd imagine that the zone.js `peerDependency` just needs to be bumped: https://github.com/storybookjs/storybook/blob/8fef8f408f52105f4c48a13d61ab2df2e068080e/app/angular/package.json#L54

**Expect

[2019-06-03 15:33] ndelangen commented on #6153
I'm on it

[2019-06-03 16:18] mtuzinskiy commented on #6308
@shilman  Can we please reopen it?..

[2019-06-03 17:13] wlblanchette commented on #5166
Is this fixed? I'm using 5.0.11 which seems to be the latest version and storybook's DefinePlugin is still overriding `process.env`

[2019-06-03 17:27] ndelangen commented on #5792
I'm not able to reproduce on `5.1.0-rc.4` (next) branch

[2019-06-03 18:07] ndelangen commented on #5792
I just verified that using an externally installed project, `5.1.0-rc.4`has this feature

[2019-06-03 18:08] #5792 closed

[2019-06-03 18:12] alechp commented on #6769
@benoitdion Updated everything to rc.4 and it seems to have resolved the issues I was having before.

Repo as reference:
https://github.com/servexyz/react-native-expo-storybook-v5

[2019-06-03 18:12] #6769 closed

[2019-06-03 18:13] alechp commented on #6768
@shilman Updated everything to rc.4 and it seems to have resolved the issues I was having before.

Repo as reference:
https://github.com/servexyz/react-native-expo-storybook-v5

[2019-06-03 18:13] #6768 closed

[2019-06-03 18:16] lyczos commented on #6951
I have the same problem.

[2019-06-03 18:18] alechp opened #6953 ""About your version" has layout issues (elements overlap) in `5.1.0-rc.4`"
**Describe the bug**
Elements overlap (screenshots below)

<img width="952" alt="Screen Shot 2019-06-03 at 11 10 42 AM" src="https://user-images.githubusercontent.com/3058939/58824553-2e2fae00-85f1-11e9-8dcb-07d9752be512.png">
<img width="1792" alt="Screen Shot 2019-06-03 at 11 10 47 AM" src="https://user-images.githubusercontent.com/3058939/58824554-2e2fae00-85f1-11e9-806a-0693cdc86396.png">

**T

[2019-06-03 18:36] kroeder commented on #6951
Thanks for reporting! I'm currently working on a fix but it's blocked by another bug that appeared related to core-js in angular 7.

Can you please try `ng update @angular/cli @angular/core --force`?

[2019-06-03 18:44] kaiyoma commented on #6813
@jmcpeak Yup, fixed our issue too. Thanks!

[2019-06-03 18:50] kroeder commented on #6804
A short wrap-up: There seem to be 2 individual bugs here

1. `sb init` in an Angular 7 project and then `yarn storybook` won't work. Angular 7 depends on `core-js@^2.0.0`, Angular 7 on `core-js@^3.0.0` due to babel. There's a webpack plugin that was meant to solve that version mismatch but it seems that there's still an issue. If you got stuck with something like `Module not found: Error: Can't re

[2019-06-03 19:20] shilman commented on #5166
@wlblanchette This is fixed in 5.1.0-rc.4. Full 5.1 release in the next few days.

[2019-06-03 19:21] shilman commented on #6768
Thanks for the followup @alechp 👋

[2019-06-03 19:24] shilman commented on #6951
Closing this as a dupe to #6804 which has some discussion about what's going on (thanks @kroeder !)

[2019-06-03 19:28] kaiyoma opened #6955 ""document components in Markdown" link doesn't work"
**Describe the bug**
The "document components in Markdown" link doesn't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Notes tab.
2. Click on "document components in Markdown".

**Expected behavior**
The link should work.

**System:**
 - OS: Windows 10
 - Browser: Chrome
 - Version: 5.1.0-rc.4

[2019-06-03 19:28] shilman commented on #6951
Not a dupe. Reopening. 😭

[2019-06-03 19:30] shilman commented on #6953
@ndelangen I see this issue in general when I have bugs in the story loading. Seems like there's an error handling issue somewhere in Core / Storybook UI. Any ideas?

[2019-06-03 19:50] KamalAman commented on #5935
I am using native javascript and finding the same issue. I did a performance profile and I see the the culprit is `storybook-addon-react-docgen` which uses `react-docgen` underneath.

It seems like `framework-preset-react-docgen.js` adds the plugin into the bundle process. If I add an early return to framework-preset file (and not use docgen) then my storybook build time drops from 4 minutes to 40

[2019-06-03 21:04] ndelangen commented on #6474
@shilman do you know how to reproduce this?

[2019-06-03 21:25] ndelangen commented on #3389
This should be fixed in 5.1

[2019-06-03 21:25] #3389 closed

[2019-06-03 21:28] ndelangen commented on #3736
Should be fixed in 5.1

[2019-06-03 21:28] #3736 closed

[2019-06-03 21:29] ndelangen commented on #5278
Fixed in 5.1

[2019-06-03 21:29] #5278 closed

[2019-06-03 21:34] ndelangen commented on #5931
Would anyone be able to help us fix this one?

[2019-06-03 21:38] ndelangen commented on #6136
@libetl has done amazing work on this stuff, v5.2 will include his work to bring the loader much needed upgrade 🎉

[2019-06-03 21:44] #5882 closed

[2019-06-03 23:08] brianmcd commented on #6951
@kroeder - Thanks for working on this!  Upgrading with `--force` does get past the error.

[2019-06-03 23:54] #6122 closed

[2019-06-04 00:56] majames commented on #6762
Thanks for following up @shilman and @ndelangen! I'll check it out and see whether it solves the problem for my use case! 🙂

[2019-06-04 01:19] shilman commented on #6763
Fixed in https://github.com/storybookjs/storybook/pull/6946

Released in https://github.com/storybookjs/storybook/releases/tag/v5.1.0-rc.4

[2019-06-04 01:19] #6763 closed

[2019-06-04 01:21] #6708 closed

[2019-06-04 01:25] lyqht commented on #3592
Alright, i look forward to it ^^ thank you!

[2019-06-04 02:25] shilman commented on #6953
Kind of dupe to #6493

[2019-06-04 03:03] adbutterfield commented on #3577
Hi - I just wanted to drop a comment real quick. I just encountered this very same problem. Removing file-loader form my webpack config also fixed the issue for me.

[2019-06-04 04:16] Yankovsky commented on #5889
@seanmcintyre  @faizalMo does this addon works for you? https://github.com/tonai/storybook-addon-themes/tree/master/src
It allows you to select theme in top menu ![https://camo.githubusercontent.com/ceb01675678a451312afac04509d8883b45d95d9/687474703a2f2f732e63737373722e72752f5530324432343854362f323031392d30362d30342d303730392d376f35716868707831722e706e67](https://camo.githubusercontent.com/ceb0167

[2019-06-04 06:49] ndelangen commented on #5889
Adding fully dynamic theming in #6806

[2019-06-04 06:49] libetl commented on #6642
What do we want here ?

[2019-06-04 06:49] libetl commented on #6642
I can try to help

[2019-06-04 07:42] nicgirault commented on #6947
mmm, I would bet you are dropping ~50% of your users. High screen density (retina and other ones) is the standard at least for developers. This screen is your showcase on which developers make their first impression. I think there is no tradeoff here. I would highly suggest that you reconsider your choice.

This being said, it seems that `srcset` image attribute would do the job and is understood

[2019-06-04 07:43] Pixelatex commented on #5931
I was forced to use a gray-ish color in the dark theme to make everything visible... we have to wait until they extend the api for theming.

[2019-06-04 08:11] ivan-kleshnin commented on #4672
Pls. reopen as it will break after each react-scripts and storybook dep change.

[2019-06-04 08:48] kroeder commented on #6948
Found a fix for this.

Update `tsconfig.app.json`:
[code]

`ng update` only checks files that are in the defined tsconfig scope

[2019-06-04 08:48] #6948 closed

[2019-06-04 11:23] ndelangen commented on #6765
Should be fixed in 5.1

[2019-06-04 11:23] #6765 closed

[2019-06-04 12:07] ndelangen commented on #6848
@shawnmclean @DwayneSamuels could you help me reproduce?

a list of dependencies isn't enough for me to be able to reproduce unfortunately.

I was able to reproduce before using @alexnofoget repo, before, but the fact you're still experiencing an issue, suggest your issue might have a different cause.

[2019-06-04 16:30] vipyoshi commented on #5183
Basic Setup without Typescript does not even work for me

1. `npx create-react-app my-app`
2. `cd my-app`
3. `npx -p @storybook/cli sb init --type react`

CRA expects `"babel-loader": "8.0.5"` but finds `8.0.6`. However the generated `packages.json` hsa following devDependencies listed:
[code]

Also I have a similar Issue in another project where CRA (3.0.1) expectes `"webpack": "4.29.6"` but find

[2019-06-04 17:02] shilman commented on #4672
@mrmckeb Is what @ivan-kleshnin said true, or are we able to use the one out of `react-scripts` now?

[2019-06-04 17:07] shilman commented on #6642
@libetl Haven't really spec'ed it out yet. Will definitely loop you in once this gets started.

There are some "lightweight" in-place code editors like https://github.com/FormidableLabs/react-live and I'd like to support this interaction. However, I'm unclear how this will integrate with the rest of the Storybook UI and also cross-framework.

More soon cc @elevatebart

[2019-06-04 18:12] shilman commented on #6493
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.0-rc.5 containing PR #6968 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-04 18:12] shilman commented on #6708
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.0-rc.5 containing PR #6719 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

[2019-06-04 18:12] shilman commented on #6805
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.0-rc.5 containing PR #6847 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-04 18:12] shilman commented on #6927
Zoinks!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.0-rc.5 containing PR #6929 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-04 18:12] shilman commented on #6951
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.0-rc.5 containing PR #6957 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-04 18:12] #6493 closed

[2019-06-04 18:12] shilman commented on #6953
Ta-da!! I just released https://github.com/storybookjs/storybook/releases/tag/v5.1.0-rc.5 containing PR #6968 that references this issue. Upgrade today to try it out!

Because it's a pre-release you can find it on the `@next` NPM tag.

Closing this issue. Please re-open if you think there's still more to do.

[2019-06-04 18:12] #6805 closed

[2019-06-04 18:12] #6927 closed

[2019-06-04 18:12] #6951 closed

[2019-06-04 18:12] #6953 closed

[2019-06-04 18:14] amelia-lewis commented on #6708
woohoo!! thanks guys!

[2019-06-04 18:43] shilman commented on #5183
@vipyoshi A couple comments:
- You shouldn't pass `--type react`. Let it use the CRA template instead.
- This is fixed in the latest version `@storybook/cli@next` and we're releasing that as stable in the next 24h.

[2019-06-04 19:03] revmischa commented on #5183
Seriously though why is babel needed if I'm using TypeScript?

[2019-06-04 19:11] danielg2002 commented on #5827
apparently was resolved in 5.1.0-rc.5 ?

[2019-06-04 19:15] shilman commented on #5827
@danielg2002 We removed from the docs, but didn't actually solve the issue AFAIK. Is it working for you now?

[2019-06-04 19:39] arjunkalburgi commented on #6804
I fixed it by upgrading to Ionic 4 and Angular 7. Which now makes sense why that worked because it upgraded those other dependencies too. Nice!

[2019-06-04 21:37] binomialstew opened #6973 "Is there a way to prevent load of react-scripts for webpack.config.js?"
**Is your feature request related to a problem? Please describe.**
I have a custom config for storybook using the full-control mode. I now have a sibling package in a `lerna` monorepo that uses `react-scripts`, but this is not used or wanted in my storybook package, and I'd like to avoid loading this config for storybook at all, as the rules conflict and I need much more control over the storybook

[2019-06-04 22:18] jimmy-e opened #6974 "Storysource is giving me linting errors"
When I try and run storybook with storysource, I get a bunch of linting errors. Am I not properly adding babel or es-lint to my storybook webpack build? Thanks.

**error messages:**
[code]

**File structure:**
[code]

**sampleButton.js:**
[code]

**sampleButton.stories.js:**
[code]

**webpack.common.js:**
[code]

**addons.js:**
[code]

**config.js:**
[code]

**webpack.config.js:**
[code]

[2019-06-05 00:17] #6017 closed

[2019-06-05 00:22] faizalMo commented on #5889
@Yankovsky my use case was slightly different. I wanted a way to easily switch between override CSS files so that our WebComponents showcased in Storybook can be displayed in different styles/themes. I achieved this by adding the CSS using preview-head.html and then switching it with custom storybook addon.

[2019-06-05 01:43] leoyli opened #6975 "TypeScript migration in @storybook/ui"
## Goal

Follow up #5030, I will use this issue to track the progress of the status in `@storybook/ui`.

## Strategy

After several weeks and days, I finally have deeper understanding on how our UI get implemented. I'm kind of have some idea how it would be look like by the end. But since UI is likely to be adding feature or fixing bugs frequently, it is **impossible** to move everything at once.

[2019-06-05 04:17] shilman commented on #6975
Exciting work @leoyli 🚀

[2019-06-05 05:09] vdh commented on #4769
I feel like the only workarounds so far have been variations of "just don't do that", which isn't really a workaround at all.

[2019-06-05 06:16] libetl commented on #6974
I don't believe it can be linked to prettier in storysource.

[2019-06-05 06:18] libetl commented on #6974
But the webpack common js uses eslint-loader as a rule

[2019-06-05 06:37] shilman commented on #4769
@vdh the definition of a workaround is that the user wants to do something, in this case select something in the story pane, and although there isn't a fix for it (the issue is still open) the user can hit the eject button, which actually provides a better DX. what am i missing here?

[2019-06-05 07:25] nickmccurdy commented on #4769
As far as I'm aware Storybook is meant to be a development environment, and I expected it to support React devtools as a result. Is there a way this can be fixed? If not I like the idea of embedding React devtools directly, as it does have standalone components.

[2019-06-05 07:35] lacolaco opened #6978 "[storybook/angular] storybook fails because of missing "node-sass", for Angular v8.0 when `defaultProject` is a library project"
**Describe the bug**

This is a bit complex bug.
This bug is based on the following conditions;

- Storybook v5
- Angular v8.0.0
  - `node-sass` doesn't exist in `package.json`
- In `angular.json`, `defaultProject` is set to a project which has `projectType: library`.
- A component (used in a story) has `styleUrls` and it refers external `.scss` files which contains `@import "..."`.

Running `yarn

[2019-06-05 08:21] alexander-elgin commented on #1573
If you use Vue CLI plugin for storybook you can modify the `config/storybook/config.js` as follows

[code]

[2019-06-05 08:47] shilman commented on #4769
@nickmccurdy i would gratefully accept a PR if you have a fix for this issue!

[2019-06-05 08:51] #5962 closed

[2019-06-05 08:51] #6518 closed

[2019-06-05 09:15] iMarv commented on #6724
Would be really nice to have this rather sooner than later as angular 8 now requires node >12

[2019-06-05 10:04] saxoncameron opened #6979 "addon-viewport: Add option to disable viewport rotation for custom viewports"
When registering a custom viewport, the schema is like so
[code]

It would be great if we could also specify whether we'd like the viewport to be rotatable; like `rotate: false` in this same object.

My use-case is that I've added our media-query breakpoint sizes, and the height of those viewports are all 100vh since I'm mainly concerned with the width. Having the ability to rotate these viewports

[2019-06-05 10:11] ByDesignGit commented on #6204
This issue is still happening but was able to fix it using @brycehill solution

[2019-06-05 10:20] luapaaron commented on #6979
+1

[2019-06-05 11:10] danielg2002 commented on #5827
@shilman  well, I did a test on 5.1.1 and conclusions are:
- sortStoriesByKind is not working
- now the stories are sorted alphabetically (“byKind”) by default
- this solve my needs

[2019-06-05 11:52] rwieruch commented on #5827
If sortStoriesByKind is not working, the issue isn't resolved, is it?

[2019-06-05 11:54] danielg2002 commented on #5827
correct!, not resolved

[2019-06-05 11:56] mihaisavezi opened #6980 "Syntax error on Windows when trying to debug"
**Describe the bug**
trying to debug via ```node --inspect node_modules/.bin/storybook-start -p 9001``` on windows, throws this

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install a basic storybook example on a windows machine.
2. Run the command ```node --inspect node_modules/.bin/storybook-start -p 9001``` to try and debug your storybook application.

**Expected behavior**
A cl

[2019-06-05 11:57] mihaisavezi commented on #6980
Also, it would help to have some documentation to debug the storybook command that starts the live server locally

[2019-06-05 12:01] kushalmahajan opened #6981 "Cannot read property 'defaultText' of undefined when markdown is added"
Using storybook 5.1.1 and a few add-ons registered - `@storybook/addon-info`  `storybook-addon-jsx` `@storybook/addon-knobs` and a CRA typescript cut out.

This doesn't works.

[code]

But as soon as I remove the below code, it renders atleast

[code]

**Exact ERROR**

[code]

[2019-06-05 13:46] n44ps commented on #6799
Hey @ndelangen, do you think it is still on my end ? Thanks

[2019-06-05 13:50] mykas opened #6982 "@storybook/core@4.1.18 is throwing an error on runtime"
Storybook runtime throws error: Uncaught TypeError: Object(...) is not a function

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://github.com/wix/wix-style-react
2. Clone the repo.
3. npm install
4. npm start
5. Open localhost:6006
6. See white screen with an error in console
**Screenshots**
![Screenshot 2019-06-05 at 16 47 57](https://user-images.githubusercontent.com/8919190/

[2019-06-05 13:55] adamdoyle commented on #5897
Adding this line to `addons.js` worked for me:
[code]

I don't know if it matters, but I used the polyfill package mentioned in the [link](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events#Tools) from the webpack HMR error message, instead of the one that @ZebraFlesh used.

*In other words:*  I used [eventsource](https://www.npmjs.com/package/eventsource) (from the mozilla link)

[2019-06-05 14:02] adamdoyle commented on #5897
I spoke too soon.  Now the error is in the console and in the "actions" panel (and HMR still not working), but it's not giving me the original popup error anymore.  (maybe I suppressed it somehow)

[2019-06-05 14:10] leepowellcouk opened #6983 "5.1.1 broken decorators?"
Just upgraded to 5.1.0 and decorators that we're previously working in my `config.js` file are now throwing errors:

[code]

Results in `Error: Unexpected token`

Likewise if I use a custom decorator in a story results in the same:

[code]

Results in the same `Error: Unexpected token`. It seems they're not being run through Babel for the transpilation process.

[2019-06-05 14:35] adamdoyle commented on #5897
this seems to work :crossed_fingers:

in `config.js`:
[code]

[2019-06-05 14:50] ConnorNumberOne commented on #6853
Thanks @hy2k! Unfortunately my company pivoted to docz instead. It met our needs a little more.

[2019-06-05 14:50] #6853 closed

[2019-06-05 15:07] shilman commented on #6982
This looks like a react version issue. cc @ndelangen here's your repro?

[2019-06-05 15:15] djgrant commented on #6974
I am also seeing this error. The add-on loads fine initially but triggers errors when I save a file.

[code]
**.storybook/webpack.config.js**
[code]
**src/components/atoms/container.tsx**
[code]

[2019-06-05 15:34] djgrant commented on #6915
I have the same issue setting backgrounds in `.storybook/config.js` in a TypeScript project. However, the background is not showing even when resizing the window.

It works fine when adding background parameters to individual stories.

[2019-06-05 15:51] binomialstew commented on #6973
I am able to work around this by running my storybook scripts in the storybook package subdirectory. This results in storybook not finding `react-scripts` because it is not in the local `node_modules` folder. I still think it would be helpful to have an optional load of react-scripts—I'm sure there are needs for this other than mine.

[2019-06-05 15:55] djgrant commented on #6915
I solved this for myself by calling `addParameters` before `configure`.

[2019-06-05 16:24] shilman commented on #6973
I've run across this too. Perhaps we can do a check in `package.json` instead of or in addition to the existing check. What do you think @mrmckeb ?

[2019-06-05 16:27] ChucKN0risK opened #6984 "@storybook 5.1.1 is throwing an error on build"
Just upgraded to 5.1.1 from 5.0.1 and the build fails.
I downgraded to 5.0.1, removed my `nodes_modules` folder and reinstall all my packages but the issues remain.

I've never installed the `core-js` package before and even after installing it the issues remain.

<img width="1440" alt="Screen Shot 2019-06-05 at 18 21 55" src="https://user-images.githubusercontent.com/3913276/58972865-d5157500-87b

[2019-06-05 17:13] JonathanSpeek commented on #6984
I'm experiencing this same issue.

System:
OS: MacOS
Device: Macbook Pro 2017
Framework: React
Version: 16.4.0

[2019-06-05 17:23] shilman commented on #6984
@ChucKN0risK @JonathanSpeek For debugging purposes, can you try regenerating your lock file?

[2019-06-05 17:30] ChucKN0risK commented on #6984
@shilman I deleted my `yarn.lock` and `package-lock.json` and runned `yarn install` but the issue remains.

[2019-06-05 17:58] JonathanSpeek commented on #6984
I deleted both `package-lock.json` and my `node_modules/`.