[2017-07-07 20:15] ndelangen commented on #951
Yeah, why not?! should be simple.

Want to make a PR for this @ilionic ?

[2017-07-07 20:20] ndelangen commented on #952
To what end? what follows is always the same, so they are descriptive headers..

[2017-07-07 20:29] Djspaceg commented on #800
Well, so as our understanding of React and ES evolves, it turns out that this method works out a bit more reliably, returning an `undefined` rather than a null, which allows the defaultTypes to flow through:
[code]
I'm not sure where in the source of Storybook this handy method should reside. It now is more a "nullify" concept, rather than _literally converting_ empty to `null`.

[2017-07-07 20:52] ndelangen commented on #946
#1147 Wil be fixed by moving info contents to a panel

[2017-07-07 20:52] #946 closed

[2017-07-07 20:56] ndelangen commented on #944
We get the props info from this babel plugin: https://github.com/storybooks/babel-plugin-react-docgen

Is this support still missing? Cone you please open an issue at that repo?

[2017-07-07 20:57] #944 closed

[2017-07-07 20:58] #950 closed

[2017-07-07 21:05] ndelangen commented on #954
Is this now resolved?

[2017-07-07 21:07] igor-dv commented on #1429
Will be fixed with #1427

[2017-07-07 21:22] ndelangen commented on #949
I'll consider adding some api to define the actual component that the story is about.
#1209 Please pitch in how! 👍

I'll leave this issue open for that.

[2017-07-07 21:26] ndelangen commented on #953
The custom `.addBlahBlah()` stuff is a bad idea, and we need to provide better ways to add addon-data to stories.

That will make this problem go away too.

Ideas and solution are welcome, but I'm not going to fix this, because long term this is not how we want to do things.

Related #1209

[2017-07-07 21:26] #953 closed

[2017-07-07 21:32] ndelangen commented on #976
I'm going to mark this as done.. There are some remains, and we'll remove them over time. Path is clear: add things to the example/kitchen-sink.

[2017-07-07 21:32] #976 closed

[2017-07-07 21:40] ndelangen commented on #983
Use full-control-mode if you want full control.
https://storybook.js.org/configurations/custom-webpack-config/#full-control-mode

[2017-07-07 21:40] #983 closed

[2017-07-07 21:46] ndelangen commented on #993
Very solid proposal for #1209 api-v2

[2017-07-07 22:10] ndelangen commented on #1006
Sorry, but I don't think is going to make it into storybook mate, supporting 2 very different methods of configuring would be really bad long term.

I like the idea in concept, but it **ties Storybook to much to react**.

[2017-07-07 22:10] #1006 closed

[2017-07-07 22:13] ndelangen commented on #1011
#1147 info will be moved into a panel

And we have a solution:
https://github.com/storybooks/storybook/issues/1011#issuecomment-313439490

[2017-07-07 22:13] #1011 closed

[2017-07-07 22:14] ndelangen commented on #1012
This exists now, right?

[2017-07-07 22:17] ndelangen commented on #1036
Done

[2017-07-07 22:17] #1036 closed

[2017-07-07 22:18] #1059 closed

[2017-07-07 22:19] #1033 closed

[2017-07-07 22:19] #1029 closed

[2017-07-07 22:20] ndelangen commented on #1041
Would you be interested in creating a PR @kirkstrobeck ?

[2017-07-07 22:21] ndelangen commented on #1040
We better make it Gatsby 1.0 compatible! I think this would be great!

[2017-07-07 22:22] #1070 closed

[2017-07-07 22:29] ndelangen commented on #1126
@arunoda Would you be if I would just remove the kadira part from the LICENCE?

[2017-07-07 22:35] ndelangen commented on #1122
https://github.com/storybooks/storybook/issues/7#issuecomment-313653199

I don't think we should touch this behavior tbh. It's the web. You made an `<a>` without a target.. This is what happens.

But having said that.. You could easily wrap a decorator or addon to `preventDefault()` that.

[2017-07-07 22:37] #1169 closed

[2017-07-07 22:37] #1175 closed

[2017-07-07 22:38] #1177 closed

[2017-07-07 22:38] #1182 closed

[2017-07-07 22:38] #1183 closed

[2017-07-07 22:40] ndelangen commented on #1186
Related: #1187

Want to make a PR @kohlmannj ?

[2017-07-07 22:41] ndelangen commented on #1198
#1147 The entire info bit will be rendered in a panel instead

[2017-07-07 22:41] #1198 closed

[2017-07-07 22:53] ndelangen commented on #800
Well for starters, we could document this in addon-knobs README!

[2017-07-07 23:00] ndelangen commented on #1225
Merged!

[2017-07-07 23:00] #1225 closed

[2017-07-07 23:01] ndelangen commented on #1208
Percy and Screener are doing. I think both based on the code Storyshots uses:

https://github.com/storybooks/storybook/blob/master/addons/storyshots/src/index.js#L61

[2017-07-07 23:01] #1208 closed

[2017-07-07 23:03] ndelangen commented on #1260
So who's interested in turning this issue into a PR?
@luftywiranda13 @thebuilder @danielduan ?

[2017-07-07 23:09] ndelangen commented on #1296
Related: #799

[2017-07-07 23:09] ndelangen commented on #1296
Related: #799

[2017-07-07 23:11] ndelangen commented on #1314
Here you go:
Webpack full control mode: https://storybook.js.org/configurations/custom-webpack-config/#full-control-mode

[2017-07-07 23:11] ndelangen commented on #1314
Please re-open if you feel this doesn't solve your problem 👍

[2017-07-07 23:11] #1314 closed

[2017-07-07 23:31] ndelangen commented on #1088
That would seriously be
![awesome](https://media.giphy.com/media/d2Z9QYzA2aidiWn6/giphy.gif)

[2017-07-07 23:33] ndelangen commented on #1098
yeah valid point, that's an option too!

[2017-07-07 23:33] ndelangen commented on #1098
Care to make this into a PR @heinzmuller ?

[2017-07-07 23:36] ndelangen commented on #693
That's sad to hear, what setup have you migrated to?

[2017-07-08 01:20] arunoda commented on #1126
@ndelangen I'm fine with that.
But who'll hold the copyright then?
Do it wisely.

[2017-07-08 01:34] paulmolluzzo commented on #1126
@arunoda is there a reason you don't want to hold the copyright yourself not as Kadira but as an individual? Seems simple enough. 😀

[2017-07-08 09:19] bailinlin commented on #311
I'm also experiencing this issue:

[code]

 and there is my error log :

[code]

[2017-07-08 11:09] michaltaberski commented on #1428
Coud I ask any of you if you have also called the story twice each time or if it's just an issue of my setup?

[2017-07-08 12:28] roonyh commented on #834
By "module" i meant "library". https://nativebase.io/ seems to be such a component library.
Its not an app. At the time rn-storybook was difficult to be used for such library development. It was targeting app development. The web storybook can be used instead of an sample app by web component library developers. I thought the RN version should work the same.

I haven't used RN-storybook in a while

[2017-07-08 13:14] jhurley23 commented on #151
Just a small quirk I noticed with the story hierarchy:
Depending on whether a directory has subdirectories changes the result of clicking a directory.
If there are subdir's the folder will expand, but if it is down at the story level the story will be auto selected.
A user may wish to view the contents of dir without selecting a story inside.
![autoselectdir](https://user-images.githubusercontent.

[2017-07-08 13:27] igor-dv commented on #151
In the previous implementation when selecting a `kind` its first story was autoselcted. So this functionality I wanted to preserve. But maybe with hierarchy it's already looks like a bug.

![image](https://user-images.githubusercontent.com/7867954/27985729-97c062cc-63f9-11e7-8b68-d2ce37a3be7e.png)

In the pic `Component 5` is not a directory - it's a `kind`.

Actually I don't like this behavior as

[2017-07-08 13:31] heinzmuller commented on #26
@oblador Give me a heads up if you need any testers/help with coding!

I looked at the suggestions @ndelangen but Percy seems very pricey, and screener will probably cost about the same.

[2017-07-08 13:48] UsulPro commented on #311
@bailinlin could you give us additional information:
- what version of storybook do yo use?
- what version of getstorybook / @storybook/cli do you use?
- what is your OS?

[2017-07-08 14:58] shilman opened #1433 "Fix bootstrap command for alpha releases"
## why

`npm run bootstrap` runs `lerna` to set up the proper package dependencies for local development. After running it, for example, `examples/cra-kitchen-sink` should use the freshly built `@storybook/*` packages on your local machine.

However, when we do alpha releases, our version naming convention differs from `semver` and `lerna` uses packages from the `npm` package server instead. So we

[2017-07-08 15:53] oblador commented on #26
@heinzmuller sure, DM me on twitter (@trastknast).

[2017-07-08 19:48] brandonmp opened #1435 "Use storybook for electron app"
versions:
[code]

I'm trying to use Storybook with an electron app. The components are vanilla JS, but some of them import modules from `electron`

In my app, I configure webpack to `target: 'electron-renderer'`, and this works fine

However, in `storybook`, doing so results in the error below.

Has anyone configured storybook to work correctly with electron?

[code]

[2017-07-08 20:44] theinterned commented on #1006
Thanks @ndelangen. It was an idea ahead of its time 👨‍🚀

[2017-07-08 21:51] jhurley23 commented on #1433
Lerna have just announced [Release 2.0](https://github.com/lerna/lerna/blob/master/CHANGELOG.md) which may address this issue.
They've improved --canary functionality: https://github.com/lerna/lerna/pull/904

[2017-07-08 23:59] ndelangen commented on #1095
@zeroasterisk Sorry this isn't super high on our roadmap, I think it could be quite complicated to solve, but of course anyone is open to try. So if you want, a PR is welcome!

I can think of a method to fix your problem I think: Place your storybook next to (outside of) your meteor src-folder?

[2017-07-09 11:08] pascalduez commented on #1428
Hi,

I also noticed this while debugging a component. Did not investigate further though.

[2017-07-09 14:45] michaltaberski commented on #1428
Thanks for info @pascalduez,
@ndelangen would you consider this issue as a bug, or there is a reason behind this?

[2017-07-09 23:44] shilman commented on #1428
I think this is a known bug, but thanks for the simple repro. Closing it as a duplicate to #707 . Feel free to re-open if you think it's a separate issue.

[2017-07-09 23:44] #1428 closed

[2017-07-10 01:33] tmeasday commented on #1012
Yes, I'm not sure why it wasn't closed

[2017-07-10 01:33] #1012 closed

[2017-07-10 01:34] tmeasday commented on #887
Yeah, that's my thinking. Pretty much the exact opposite to what https://www.npmjs.com/package/jest-storybook-facade does.

[2017-07-10 01:36] tmeasday commented on #831
I'm really not sure.

[2017-07-10 01:37] tmeasday commented on #815
I guess not. It might be useful to have the issue open for people searching for it?

[2017-07-10 01:38] tmeasday commented on #764
That is my recommendation, yes. Not so wedded to it that I would complain if we wanted to go another way, but this is based on my experience with other OSS projects.

[2017-07-10 04:06] psimyn commented on #1352
This looks fixed since react-split-panel version `0.1.64`

<img width="645" alt="screen shot 2017-07-10 at 2 05 22 pm copy" src="https://user-images.githubusercontent.com/1731922/28002476-ddda461c-6578-11e7-91d6-36d58b76943d.png">

[2017-07-10 05:07] bholloway commented on #791
Sorry @ndelangen but sadly I am no longer using storybooks.

We became so deeply coupled with redux `connect()` that components were no longer pure and their APIs increasingly unstable. 😞  I think it is a certain pathology with redux that the team does not see.

Anyhow they voted to discontinue storybook. I am so shocked I feel the need to share my bad news.

[2017-07-10 06:59] mcmunder commented on #810
I'll give it a try!

[2017-07-10 07:56] florian-bd commented on #1411
Yes I have a lot of chunks. All of them start with webpackJsonp.
This function is defined in the bootstrap-typeahead.js but this code is executed after the bundles.

[2017-07-10 08:06] florian-bd commented on #1411
I think I will close this. It seems like I have another error which causes this file to crash. That is why the function is not defined.
Somehow the webpackJsonp error are printed first in the console.
Thank you for your help

[2017-07-10 08:10] florian-bd commented on #1411
My error is that a file declaring a global variable gets a Reference Error because the code is executed in strict mode.

[2017-07-10 08:46] florian-bd commented on #1411
I still get the errors in the console after I fixed my issue. The storybook works in some stories, but in some others I get the following error:
[code]
No idea what is going on...

[2017-07-10 09:17] ndelangen commented on #1411
`Maximum call stack size exceeded` is pretty clear: there recursion going on somewhere that's not broken out of and at some point the VM is just bailing out.

Try the devtools profiler to find out what's going on, the flame chart will likely give you insight into where the recursion is happening.

[2017-07-10 09:21] ndelangen commented on #887
Would be a real big improvement for storyshots if you ask me!

[2017-07-10 10:34] florian-bd commented on #1411
So one of the errors was a deprecate warning about action being imported from @storybook/react.
Still I got another error and it is pretty hard to debug.
Wondering why I get this weird behavior

[2017-07-10 10:41] florian-bd commented on #1411
Now I got it.
I created a redux middleware that uses (storybook) action to log the (redux) actions. So I add the warning in there.
Now everything works fine but I still have the webpackJsonp error for each bundle in the console

[2017-07-10 11:27] benediktvaldez commented on #806
Completely forgot about this – what an awesome idea haha 🤣

I'll look into it.

[2017-07-10 13:07] ndelangen opened #1444 "Open translations on docs"
I'm thinking about using the same docs-translations strategy https://github.com/yarnpkg/website uses.

[2017-07-10 15:51] seb0zz commented on #1328
Same issue for me. Until this is fixed: Is there anyway to disable hot reloading easily? Tried to remove the HotModuleReplacement plugin from the webpack config but that doesn't work. Probably because the corresponding dev server middleware is still active.

[2017-07-10 16:51] #954 closed

[2017-07-10 16:55] shilman commented on #993
I'm board with `Option 1`. Any breaking change in the API had better be motivated by enabling something we can't do with the current API, IMHO.

[2017-07-10 18:00] bbrinx opened #1447 "Uncaught Error: Cannot find module "react""
Cannot find module react in manager.js

`var _react = require('react');`

[2017-07-10 18:10] TheSisb commented on #151
Long story names wrap oddly
![image](https://user-images.githubusercontent.com/1592327/28032730-6f298cc2-6560-11e7-816f-b84b0aba463c.png)

[2017-07-10 18:16] TheSisb commented on #151
Resizing the sidebar to be really small causes the preview pane to overflow into it.
![shrunk](https://user-images.githubusercontent.com/1592327/28032919-1755c140-6561-11e7-9c09-e746319662bb.png)

[2017-07-10 18:34] dilizarov commented on #1416
Essentially, we have our own build tools at the company. I'm perfectly fine running whatever storybook has running when we start up storybook in the `npm run storybook` way. The dilemma is that I'm not allowed to run `npm run` with our build tools. I noticed that `start-storybook` runs the `dist/server/index.js` file for instance. If there is a way in gulp to latch onto that and get things started

[2017-07-10 19:26] #1447 closed

[2017-07-10 20:21] brandondurham commented on #1341
So I just figured out how I got the alpha. It was through `yarn upgrade-interactive`:

![image](https://user-images.githubusercontent.com/250210/28038130-dd6e415c-658b-11e7-8bac-3402f4f73429.png)

[2017-07-10 21:51] CurtisHumphrey commented on #1411
I have this error too. It loads 0.bundle.js before preview.bundle.js.  0 is a code split point created by require.ensure()

[2017-07-10 23:56] pckhoi commented on #1398
This is also happening for me (CRNA app). I just started playing with storybook + react native yesterday. Below are my `dependencies` and `devDependencies`:
[code]

@codecitrus it seems latest build of storybook only has `index.android.js` and `index.ios.js` and no `config.js` in `storybook` folder. And `configure` is called alright, I've made no changes to those files.

@matt-oakes there are some

[2017-07-11 00:07] pckhoi commented on #1398
Just found out the solution - I have to replace `localhost` with my pc ip address here: `const StorybookUI = getStorybookUI({port: 7007, host: 'localhost'});`. Working perfectly now!

[2017-07-11 00:21] ericclemmons commented on #590
This is what I have in our code now:

[code]

Our app has docs, tools, stories, etc. all available when in development.  (We found that no one runs stories if it's a separate process/script.  Plus, we need the API  access.)

[2017-07-11 04:46] shilman commented on #764
Definitely with @tmeasday on this one, and for the same reasons (cough, Meteor, cough)

[2017-07-11 04:52] psimyn commented on #151
is it possible to combine hierarchy folders with individual stories? I have some stories I want at the top level, otherwise I have a folder with a single item

Currently if you do this

[code]

Then it creates 2 entries for 'Something', one with a folder and one with an item

[2017-07-11 06:34] igor-dv commented on #151
@TheSisb , thanks, will be fixed until the official release.

@psimyn , in the current implementation it's not possible.. but might be changed.. @UsulPro mentioned this in the initial PR too.
IMO this is not a good behavior (and brings more complexity). Comparing it to the every IDE, there are namespaces (dirs/folders/packages) and could be some items in those namespaces (or near by) with the same

[2017-07-11 09:44] seb0zz commented on #1328
Just in case anybody else finds this useful: Could disable hot reloading by filtering for:

[code]

[2017-07-11 10:11] beauknowssoftware commented on #909
Sorry for coming back to a closed issue, but I'm also experiencing this.  @flanamacca , do you happen to have a code sample that shows your solution?

[2017-07-11 11:24] #764 closed

[2017-07-11 11:32] ndelangen commented on #1416
Is something blocking your technically from doing that? \
Or are you prohibited from configuring something like that?

If you are prohibited from running `npm run` or `gulp shell` I'm assuming you're also prohibited from running a custom gulp pipe? or gulpFn?
https://www.npmjs.com/package/gulp-fn
https://stackoverflow.com/questions/27923523/how-can-i-write-a-simple-gulp-pipe-function

If you can r

[2017-07-11 11:32] #1416 closed

[2017-07-11 14:14] skovhus opened #1450 "StoryShots compatibility with jsdom/enzyme"
StoryShots add conflicts with `jsdom` in a React Native project.

A `jsdom` setup for React Native might looks like:
[code]

This means that we now have `global.window` defined causing issues for the `global` detection here:
- https://github.com/storybooks/storybook/blob/master/addons/storyshots/src/index.js#L2
- https://github.com/Raynos/global/blob/master/window.js#L3

And `jest` fails with "sto

[2017-07-11 15:41] slorber commented on #1398
This is related to this existing issue:

https://github.com/storybooks/storybook/issues/1222

I hadn't time to work on it but it should not be too hard if the dev setup is now ok

[2017-07-11 16:23] aacotroneo commented on #938
can't we add an option like a displayName? it'd be an analogous design to the current `propTables` ... we can't tell by inspecting the code, so we tell explicitly what it is. Or support an extended syntax like `propTables: [{myDisplayName: MyObject}, ...]`

[2017-07-11 17:47] bbrinx opened #1451 "ModuleNotFoundError in Imported Components"
While importing the component works, it returns a ModuleNotFound error in the imported component. Outside of Storybook the component works perfectly.

[code]

I don't know if this error is related:

[code]

[2017-07-11 18:48] lavelle commented on #703
Just encountered this and a restart didn't fix it.

Seemed to happen after switching Node versions. I moved from `nvm` to using `n`. Still on the same node version though. 6.2.2. I tried removing `node_modules` and starting from scratch, no dice.

System: https://cl.ly/3u0S3c1u0710

[2017-07-11 19:48] ndelangen commented on #703
Can you provide stuff like:
- node version
- npm version
- storybook version

I'm expecting you're using a very old version of node..

[2017-07-11 19:49] ndelangen commented on #703
I hear a reboot may help `¯\_(ツ)_/¯`

[2017-07-11 20:20] #1451 closed

[2017-07-11 21:30] lavelle commented on #703
I've tried rebooting iTerm and my machine, neither helped.

This has happened on Node v6, v7 and v8, with npm v3 and v6, and Yarn v0.27.

We're using the latest Storybook, v3.1.8, with the latest versions of our addons (actions, knobs and info)

This seems to be a webpack issue, I found lots of similar issues: https://www.google.co.uk/search?q=FSEventStreamStart%3A+register_with_server%3A+ERR&oq=F

[2017-07-11 21:31] lavelle commented on #703
cc @danoc in case he's seen this

[2017-07-11 22:06] axed commented on #311
A lil update from my side. Maybe im understanding the whole installation process wrong, but one simple `npm install whateveruwant` will uninstall nearly all of storybook's dependencies after you installed and setup storybook.
I was a little surprised when i did a simple `npm install apollo-client` and suddenly npm removed like 1138 packages, added 1 package and storybook stopped working.
I have al

[2017-07-11 22:19] UsulPro commented on #311
@axed thanks for reporting this!

could you clarify? do you mean that `npm i smth` removes everything from devDependencies but holds dependencies?

and could you give us info about your OS and NPM version?

[2017-07-11 22:21] UsulPro commented on #311
looks like npm bug on Windows

[2017-07-11 22:36] axed commented on #311
@UsulPro sure thing!
My `package.json`'s `devDependencies` object is empty, or else it's etries had been removed upon each `npm install somethingnew`.
So i guess yes, every node module that is not listed in your `package.json`'s `dependencies` object/list, will be removed from the local `node_modules` directory.

OS: Windows 10 1608 build 14393.1358
NPM: 5.0.3

[2017-07-12 06:26] mnmtanish commented on #938
Hi @ndelangen,
I was working on this feature and ran into something. I'm sorry I can't remember the reason. Please ignore that comment.

[2017-07-12 07:45] cpunion opened #1453 "`mobx` is locked to version 2.x"
There are two versions of `mobx` in my node_modules directory: `3.2.1` and `2.7.0`.
[code]

Because `mantra-core@1.7.0` depends `react-komposer@^1.9.0`, and `react-komposer@1.x` depends `mobx@^2.3.4`. `react-komposer@2.x` removes dependency of `mobx`, but `mantra-core` hasn't new version that updated dependencies.

It affects my project, some UIs can't update correctly. If I delete node_modules/ma

[2017-07-12 08:54] ndelangen commented on #703
Can you try loading just a single story (instead of all via webpack.context)?
If the problem goes away,
Can you try loading just a single story but this time via webpack.context?
If the problem goes away,
Can you try adding your stories 1 by 1
At which point does the error return?
What's special about that story file?

[2017-07-12 09:01] ndelangen commented on #1411
That's a bug!

[2017-07-12 09:04] UsulPro commented on #1426
looks like we discuss the same issue here: #311

[2017-07-12 09:20] cpunion commented on #1453
Ignore this, it's my wrong usage for mobx.

[2017-07-12 09:20] #1453 closed

[2017-07-12 10:48] xareelee opened #1454 "Massive conflicts after upgrading React-Native to 0.46"
I just upgrade React-Native from 0.45.1 to 0.46.1. After upgrading, the stroyshots cases failed massively. All `<View/>`, `<Text/>`, `<Image/>` are replaced with `</>` components in the result of the jest.

Need I do something to fix this?

Anyone encountered this?

A sample of the jest failed results with storyshots is:

![screen shot 2017-07-13 at 09 32 33](https://user-images.githubusercontent.

[2017-07-12 12:27] greenkeeper[bot] opened #1457 "An in-range update of jest-enzyme is breaking the build 🚨"
## Version **3.5.0** of [jest-enzyme](https://github.com/blainekasten/enzyme-matchers) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/storybooks/storybook/compare/greenkeeper%2Fjest-enzyme-3.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      jest-enzyme
    </td>
  </tr>
  <tr>

[2017-07-12 13:54] aadirngr opened #1458 "i m having this prolem while installing http-server-g..."
C:\Users\user>npm install http-server-g
npm ERR! Windows_NT 10.0.10240
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install" "http-server-g"
npm ERR! node v6.11.0
npm ERR! npm  v3.10.10
npm ERR! code E404

npm ERR! 404 Registry returned 404 for GET on https://registry.npmjs.org/http-server-g
npm ERR! 404
npm ERR! 404  'http-se

[2017-07-12 14:59] hlandao opened #1459 "Running storybooks on now.sh fails"
Running storybooks on now.sh fails because Now does not allow to modify the filesystem in runtime
[code]

Is there a way to change Webpack in such way that filesystem modifications aren't required ?

* in our scenario we deploy storybooks on every pull-request, building static version takes too long and makes it useless.

Thanks!

[2017-07-12 16:40] shilman commented on #1454
Yowza! @xareelee there's a PR that might help: https://github.com/storybooks/storybook/pull/1424

Maybe try that out in the short term, and if not one of us will dig into it soon.

[2017-07-13 00:11] shilman opened #1461 "Docs Deploy Broken"
## why

Docs deployment from Travis is broken and generates a site that looks like this:

<img width="1575" alt="screen shot 2017-07-12 at 2 01 34 pm" src="https://user-images.githubusercontent.com/488689/28145163-ee045b38-6724-11e7-8985-c5128041341a.png">

This is due to CSS not getting generated properly in the Travis build (though it worked in the past, and still works on my development machine

[2017-07-13 01:19] shilman commented on #1461
@ndelangen Pinned gatsby and upgraded gh-pages, and deployment seems to have succeeded. Let's leave this open and keep an eye on it.

[2017-07-13 01:47] xareelee commented on #1454
@shilman Thanks for your reply. I'm not sure how to try the commit. I use 3 libs from storybook:

[code]

Do I need to remove them in the `package.json`, and use [`yarn add --dev <git remote url>#<branch/commit/tag>`](https://yarnpkg.com/lang/en/docs/cli/add/) to install a specific commit?

I have no idea how to find the commit url in the pull request page https://github.com/storybooks/storybook/p

[2017-07-13 02:16] xareelee commented on #1454
@shilman Don't bother. 😄

This issue has been resolved by upgrading React-Native from `0.46.1` to `0.46.2`.

[2017-07-13 02:16] #1454 closed

[2017-07-13 03:49] shilman commented on #1454
Glad to hear you fixed it and thanks for posting the fix!

[2017-07-13 17:40] shilman opened #1464 "Addon-Knobs example broken in `release/3.2` branch"
## why

`cra-kitchen-sink` knobs examples break when you click between the the different knobs-stories.

## what
- [ ] Diagnose & fix

[2017-07-13 21:34] panosvoudouris opened #1465 "v3.1.6 bottom panel won't resize on node6"
With v3.1.6, when trying to resize the bottom panel (where addons appear) on node 6 the panel will jump between either a nearly collapsed height or almost full screen. It is not possible to resize it in-between. Works fine with node 8.

To replicate you'll need to clear node_modules and `npm i` with node 6, then try to run it.

[2017-07-13 21:36] shilman commented on #1465
@panosvoudouris FYI this is reproducible in the `examples/cra-kitchen-sink` example. I think somebody upgraded `react-split-pane` recently and I bet it's related to that.

[2017-07-13 22:33] CJjumper opened #1466 "Meteor 1.5 getstorybook error Block-scoped declarations (let, const, function, class) not yet supported outside strict mode"
I keep running into this error with Meteor 1.5.

[code]

And yes I have read that all I have to do is upgrade node. But with with Meteor 1.5 am stuck at node version 4 for now. You guys could not just use "use strict" at the top of your files? ``

[2017-07-14 02:33] fvgs opened #1467 "Extending webpack config fails without user-provided `module` property"
Running `start-storybook` after adding my own `webpack.config.js` produces the following error:

Using **v3.1.7**
[code]

webpack.config.js
[code]

Storybook accesses `customConfig.module` which may be undefined if the user webpack config does not contain a `module` property. Storybook further attempts to access `customConfig.module.rules` which, in the case described, results in the above error.

[2017-07-14 07:51] ujovlado opened #1470 "Build static site of Storybook in project based on Create React App shows no stories"
Steps to reproduce:

[code]

Looks like build exits without error, but serving files from `build` folder shows "Default page for CRA" and no stories.

While running `yarn run storybook` shows stories and everything work as expected.

Thanks.

[2017-07-14 07:52] ujovlado commented on #1470
Contents of `package.json`:

[code]

[2017-07-14 10:30] ujovlado commented on #1470
Looks like a problem in my env (Docker) since on Travis build finished successfully and deployed site has stories.

[2017-07-14 16:58] UsulPro commented on #1465
Thanks for reporting it! I faced the same issue with node 7. Really ugly behavior!

[2017-07-14 19:46] joefraley commented on #1459
This can't be quite right because Zeit allows you to run build scripts that write to disk. Something else must be going on here...

[2017-07-15 10:00] greenkeeper[bot] opened #1475 "An in-range update of prettier is breaking the build 🚨"
## Version **1.5.3** of [prettier](https://github.com/prettier/prettier) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/storybooks/storybook/compare/greenkeeper%2Fprettier-1.5.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      prettier
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-07-15 16:56] iroy2000 opened #1476 "Adding webpack 3 as peer dependency"
Since webpack 3 is backward compatible with webpack 2, can you add  webpack 3 as peer dependencies?

[2017-07-15 16:57] #1476 closed

[2017-07-15 16:57] iroy2000 commented on #1476
The `UNMET PEER DEPENDENCY `  is coming from a addon, closing this.

[2017-07-15 17:44] #1409 closed

[2017-07-16 20:35] mattleff commented on #879
I can fix the repro @ktj provided with the following [diff](https://github.com/ktj/storybook-rp/blob/master/.storybook/config.js#L6-L10):

![image](https://user-images.githubusercontent.com/120155/28251114-b2a501ca-6a33-11e7-84db-ebacb9fac7db.png)

This ensures that `addDecorator` is called before the stories are loaded.

[2017-07-17 00:25] tmeasday commented on #879
I'm guessing just moving the `addDecorator` line above the `require.context` line should work too, no?

This seems like a documentation problem more than anything. Perhaps the global `addDecorator` should log a warning if a story has already been registered, as this is unlikely to be what you want?

[2017-07-17 00:29] mattleff commented on #879
Yup, that has the same affect. I'd be game for logging a warning: it would have saved me a ton of time debugging this.

[2017-07-17 00:37] tmeasday commented on #879
@mattleff keen to try sending a PR?

[2017-07-17 00:41] mattleff commented on #879
@tmeasday Sure, I'll try to send one in the next couple days.

[2017-07-17 07:08] shilman commented on #831
I don't know the solution but @ajwhite figured this out.

[2017-07-17 08:33] greenkeeper[bot] opened #1478 "An in-range update of lint-staged is breaking the build 🚨"
## Version **4.0.2** of [lint-staged](https://github.com/okonet/lint-staged) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/storybooks/storybook/compare/greenkeeper%2Flint-staged-4.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      lint-staged
    </td>
  </tr>
  <tr>
    <th align

[2017-07-17 09:19] macrozone opened #1479 "execute getstorybook fails on react-native"
i get this error:

[code]

[2017-07-17 09:39] vvo opened #1480 "@storybook/react/addons is not transpiled and fails on uglifyjs"
[code]

[code]

I understand this has been deprecated but I think there should be a dist/addons or the addons.js should be transpiled. This is causing me failures.

[2017-07-17 14:32] orta commented on #1479
Looks like that version may have been yanked from npm

[2017-07-17 14:53] shilman commented on #1479
Weird. Maybe we need to upgrade?

[code]

[2017-07-17 14:58] shilman commented on #1480
@vvo this is a bug. `prepublish.js` goes through and transpiles everything in `src` but `addons.js` is at the top level, so it should be written in old-style JS. Please feel free to submit a PR, or I can take care of it later.

[2017-07-17 23:07] #1467 closed

[2017-07-17 23:48] datapimp commented on #898
i'm experiencing this also; can you suggest some steps on how to find the culprit?

[2017-07-18 00:36] tmeasday commented on #898
@datapimp have you tried `lerna clean` to clean up

[2017-07-18 09:59] ndelangen commented on #898
Our repo should no longer have this problem

[2017-07-18 18:17] rvenugopal opened #1483 "HMR(Hot module replacement) not working when stories are not in src folder"
Hi

My project structure looks like the following.  I am able to get storybook working however, Webpack dev server HMR only works when I make changes to the 'src' folder.  When I make changes to the stories themselves, the changes are not picked up.

[code]
My config.js looks like the following
[code]

Thanks
-Rv

[2017-07-18 20:47] arahansen commented on #1465
looks like I'm seeing this issue on node 8.

@panosvoudouris do you have steps on how you resolved this issue for node 8.x?

[2017-07-18 21:02] panosvoudouris commented on #1465
@arahansen I have not noticed this with node 8, worked fine for me there. However I've been deleting node_modules and rerunning `npm install` when switching node versions. Maybe that's the problem?

[2017-07-18 21:03] ConneXNL commented on #686
Since storybook manages the entries of webpack, wouldn't it be an idea to run each story on its own process?

I currently see no other way than uncommenting all stories I am not actively work on just in order to keep the stuff I am working on fast.

Storybook description says: "This allows you to develop UI components in isolation,". However it's really just the UI that is in isolation not the act

[2017-07-18 21:32] ConneXNL commented on #729
I am almost there. In the webpack config I use
`'style-loader/useable' instead of 'style-loader',`

This adds an API for you to work with. .use() to add the styles, unuse() to remove them. In my stories file I use the decorator like:

`.addDecorator((c) => <ReactStylesheet stylesheets={[require('./stories.scss')]}>{ c() }</ReactStylesheet> )`

Using the following React Component to add and remove

[2017-07-18 22:37] ilyakatz commented on #495
Why is this the case? Is there another way for the stories code to access environmental variables?

[2017-07-19 08:29] ndelangen commented on #686
@ConneXNL That's the truth currently.

I'd be very interested to know how you'd approach to do this:

[2017-07-19 08:35] ndelangen commented on #729
Fantastic investigative work! I looked around for something like this, before and wasn't able to find it.

Anything we can do on this side to help @ConneXNL ?

[2017-07-19 08:38] ndelangen commented on #791
@bholloway Does your team not separate smart/connected and dumb/presentational components?
https://medium.com/@dan_abramov/smart-and-dumb-components-7ca2f9a7c7d0

Author of redux thinks it's a good idea. 😏

[2017-07-19 08:39] ndelangen commented on #810
AWESOME, let me know if there's something I can help with ♥️

[2017-07-19 08:41] ndelangen commented on #806
Here's something you might like to use:
https://react.rocks/example/react-select-box

[2017-07-19 08:44] ndelangen commented on #590
@ericclemmons Do you think you could write a blogpost & a section in our documentation detailing this and why it's working out so well for you?

[2017-07-19 10:04] jkomyno opened #1487 "Info addon seems broken"
- Versions:
[code]

I have followed Info addon's README, everything seems well configured, but I continue to see a red screen when I click in the only component with `addWithInfo` instead of `add`.

Screenshot of the error:
![screenshot_1500457477](https://user-images.githubusercontent.com/12381818/28361173-40d7d58a-6c78-11e7-9542-8a2a20ea1621.png)

I am using Info in conjunction with Knobs, but i

[2017-07-19 10:12] shilman commented on #1487
Currently `addon-info` only works with `react`. After #1147 it will work with `react-native`.

cc @UsulPro

[2017-07-19 10:13] jkomyno commented on #1487
Thanks for the quick response!

[2017-07-19 13:27] simon360 opened #1489 "Return value of the date knob is unclear"
The [documentation for the date knob](https://github.com/storybooks/storybook/tree/master/addons/knobs#date) is a bit sparse.

The date knob returns a UNIX timestamp as a string. That's a perfectly fine way to return a date/time, but it's one of many. It's especially confusing, because the knob accepts a `new Date` as input, but returns a string of a UNIX timestamp.

I'm happy to send a PR for thi

[2017-07-19 13:45] simon360 commented on #1489
A further breakdown of my concerns:
* Accepting a `new Date` as input, but not returning a `Date` as output, feels like there's no consistent way of representing a datetime
* A UNIX timestamp in JavaScript is usually represented as a `Number`; `moment` throws a warning when you provide a string of a timestamp to its constructor, so this implementation is inconsistent with some prior art.
* My comp

[2017-07-19 13:56] moimikey commented on #729
the solutions are getting close. the idea of `stylesheet.use()` and `unuse` was foreign to me, but this seems like it's getting on the right track.

[2017-07-19 14:03] simon360 commented on #1489
(sorry... I keep having thoughts about this)

One potential quickish way to improve this would be adding an optional third argument to the `date` function for formatting, which receives the timestamp as input, and returns the desired output format. So the above would become:
[code]
It's not perfect, but it's a start?

[2017-07-19 14:20] Travellerme opened #1490 "Old version of enhanced-resolve and memory-fs"
If I want to use alias for webpack config - I'm not able to do it, because I get such error from "memory-fs" library: Cannot read property 'replace' of undefined
This issue was solved here https://github.com/webpack/memory-fs/issues/12
But inside your library I see that you still use old versions:
`dependencies:
...
enhanced-resolve "~0.9.0"
...
`
0.9.0 Version of "enhanced-resolve" is using old v

[2017-07-19 14:29] ls-guillaume-lambert commented on #811
Regarding this, is it currently possible to set a default panel for ALL stories? For example, I'm using the storybook-readme addon and I'd want to have it as the default opened panel.

[2017-07-19 15:04] mikewheaton opened #1491 "Slack group?"
The footer of the [Storybook website](https://storybook.js.org/) contains a link to https://storybooks-slackin.herokuapp.com/, but it looks like there's nothing at that address. Has the Slack group been moved, or is it no longer available?

I'm brand new to Storybook but would be happy to submit a PR updating the [Footer component](https://github.com/storybooks/storybook/blob/master/docs/component

[2017-07-19 15:09] shilman opened #1492 "React Native On-Device UI should show the first story on load"
## why

Streamline the startup experience of https://github.com/storybooks/storybook/pull/1413

## what

When `onDeviceUI` is true, show the first story rather than the welcome screen.

[2017-07-19 15:28] UsulPro commented on #811
@ls-guillaume-lambert The order of addons in the "addons panel" is the same as you import them in 'addons.js'. And the first panel will be opened as you run Storybook.

[2017-07-19 15:34] ls-guillaume-lambert commented on #811
Perfect, thanks for the heads up!

[2017-07-19 18:33] dmmarmol opened #1493 "Module parse failed: You may need an appropriate loader to handle this file type"
Sorry if this is an already answered issue but trust me when i told you that i spend most of the day googling about this and couldn't find a solution.

I have an existing project (with custom `webpack.config.dev.js` file) that I want to integrate with `storybooks` but after following the getting started guide and installing whatever `babel` or any other kind of dependency available on the web, i'm

[2017-07-19 18:51] Jordan-Hall commented on #269
@alterx Are you working on it now? I'm cloning the vue.js version now

[2017-07-19 18:53] alterx commented on #269
@Jordan-Hall, there's already a PR in with a basic app working.
Please refer to #1474
I'm currently checking the add-ons to see which work out of the box. Would you mind joining the Slack channel so we can coordinate?

[2017-07-19 19:10] Jordan-Hall commented on #269
@alterx  Sure. What's the channel https://storybooks-slackin.herokuapp.com appears to be down?

[2017-07-19 19:16] alterx commented on #269
Whops, that's supposed to be it 🤔
Maybe @ndelangen can help with that.
For the time being, my PR covers the basic work (rendering a component, sending inputs). It's a bit different from what others did with `vue` and `react` but `angular`'s way of doing stuff (`NgModules`) required some changes.

We're aiming to include Angular (2+) support as part of the 3.3 release.

[2017-07-19 21:53] #1127 closed

[2017-07-19 22:46] ndelangen commented on #1491
It appears the heroku container was stopped by heroku..
Ow well, https://now-examples-slackin-nqnzoygycp.now.sh/

[2017-07-19 23:00] dsiaudvytis commented on #1493
Just to be clear, are you using two webpack configs? Did you add the loaders to both?

[2017-07-20 01:36] dmmarmol commented on #1493
Yes, i have an original webpack.config file at
`./config/webpack.config.dev.js` that i `require()` from inside of
`./config/.storybook/webpack.config.dev.js` and exporting another
webpack.config for storybook only.

Let me know if I'm not being clear

El jul. 19, 2017 20:00, "dsiaudvytis" <notifications@github.com> escribió:

[2017-07-20 09:00] janmichek commented on #812
This is a simple hack for changing page title, name of the app in heading and favicon.
I know you guys working on new api and I am sorry for hacking your awsome tool, but I didn't found this simple example.

Create 'manager-head.html' in .storybook/ folder with following content:

[code]

[2017-07-20 11:47] dmmarmol commented on #1493
@dsiaudvytis This is the other webpack config file only for storybooks
[code]

[2017-07-20 13:32] janusch commented on #1378
Hey,
there is a slight confusion about the addon-info package.
I just ran the latest getstorybook command and it rewrote the `addon-info` imports to:
`import infoAddon from '@storybook/react-addon-info';`
whereas the package states that it has moved to `import infoAddon from '@storybook/addon-info';`
See: https://github.com/storybooks/react-storybook-addon-info

Is this the correct package? `impor

[2017-07-20 13:48] kivohin opened #1496 "Bug preview-head.html"
Hi there :)

I am trying to inject some custom fonts with Typekit into the iframe, so I am following these instructions: https://storybook.js.org/configurations/add-custom-head-tags/

So I created a `preview-head.html` file, but it never gets injected when running the local server. I was before on version `3.1.7`, I updated to `3.1.9` to see if any luck but didn't work. Also I tried to use the dep

[2017-07-20 15:23] syabro commented on #663
@ndelangen have the same error
and how with error `TypeError: Cannot read property 'find' of undefined` you got the idea of not modern version of node
Does `undefined` in your node have `.find` method?

[2017-07-20 15:25] syabro commented on #663
UPD: I've fixed the issue by disabling `HotModuleReplacementPlugin` in plugins

[2017-07-20 16:14] billyvg commented on #1328
@tmeasday Not a simple example, but we have the issue as @Memfisrain. I will try to debug it in the next few weeks, but in case anyone was interested: https://github.com/getsentry/sentry/tree/use-react-storybook
`npm run storybook` - stories are in `docs-ui/`

[2017-07-20 17:07] Memfisrain commented on #1328
@billyvg @seb0zz @bodyflex @tmeasday , I've found out the problem. In my case it appeared that I skipped the second arguments in storiesOf:
[code]
However, you have to pass **module** as the second arguments:
<pre>
storiesOf('Spinner',  <strong>module</strong>)
   .add('default', () => <Spinnter />)
</pre>

Unfortunately, there is no warning about this.

I'm going to create a PR, to fill this gap.

[2017-07-20 17:17] freakaziod210 commented on #239
I am also a Mac use and I am having this same problem. I am using version 3.1.7. @mnmtanish Any suggestions?

[2017-07-20 17:33] shilman commented on #1496
@kivohin am not aware of any known issues with this. Can you provide a repro? I'm going to update the `examples/cra-kitchen-sink` to include a working example.

[2017-07-20 17:53] shilman commented on #1328
Awesome @Memfisrain !! PR to warn about this problem would be very helpful -- I believe you're not the first to run into it.

[2017-07-20 17:54] freakaziod210 commented on #571
Is this still an issue? Do we actually need an empty string in the first index?

[2017-07-20 17:59] nickdandakis commented on #1465
This _was_ broken for me with Node 8. Seems fine after clearing `node_modules/`, deleting `package-lock.json` and re-running `npm install`.

Node v8.1.2
react-split-pane v0.1.65
@storybook/react v3.1.9

[2017-07-20 18:28] dsiaudvytis commented on #1493
I think you might need to add the `/\.(js|jsx)$/` loader into that storybook webpack config as well.

[2017-07-20 18:54] UsulPro commented on #1378
@janusch the right name of this package is `@storybook/addon-info`
See: https://github.com/storybooks/storybook/tree/master/addons/info

[2017-07-20 20:17] mikewheaton commented on #1491
Is the URL you posted a good replacement? I can open a PR to update that URL.

[2017-07-20 20:18] dsiaudvytis commented on #1493
I suspect the line `var config = require('../webpack.config.dev.js');` doesn't really do anything.

[2017-07-21 01:47] ajhyndman commented on #1254
This still seems to be affecting me, when using 3.1.9.

[2017-07-21 03:53] tmeasday commented on #1254
Hi @ajhyndman -- can you open a new issue with a few more details?

[2017-07-21 04:20] ajhyndman commented on #1254
Yeah, I'll do a little more investigation. :+1:

[2017-07-21 04:47] ajhyndman commented on #1254
Whoops, I assumed this was fixed in `@storybook/addons-storyshots` 3.1.6.  I hadn't upgraded `@storybook/react` to match.

All good now!

[2017-07-21 05:09] tmeasday commented on #1254
Great! Thanks
On Fri, 21 Jul 2017 at 2:47 pm, Andrew Hyndman <notifications@github.com>
wrote:

[2017-07-21 06:06] ndelangen commented on #1491
Yes it's a fine replacement I think,
if you find any places where we still link to the herokuapp a PR to change them would be great!

[2017-07-21 06:07] ndelangen commented on #1491
I'll close this issue, I've edited the readme already, thanks for reporting!

[2017-07-21 06:07] #1491 closed

[2017-07-21 06:09] ndelangen commented on #269
Yeah heroku decided to shut down the app, so i just deployed to now.sh:
https://now-examples-slackin-nqnzoygycp.now.sh/

`¯\_(ツ)_/¯`

[2017-07-21 06:20] bodyflex commented on #1328
awesome @Memfisrain, this fixed it for me as well!

[2017-07-21 06:29] igor-dv commented on #1328
@shilman , @UsulPro can it be related to the HMR issue from 3.2 release ?

[2017-07-21 07:07] WellerQu opened #1500 "TypeError: chunk.sortModules is not a function"
I got an following error. I think it's because of the version of extract-text-webpack-plugin@3.0.0 . but extract-text-webpack-plugin@2.1.2 is no problem. Could you help me to upgrade extract-text-webpack-plugin in storybook?

[code]

[2017-07-21 07:19] WellerQu commented on #1500
OK, I upgrade @storybook/react, All fixed. Sorry to trouble you but thank you

[2017-07-21 07:19] #1500 closed

[2017-07-21 09:40] ndelangen commented on #811
Good tip @UsulPro !

[2017-07-21 09:43] ndelangen commented on #663
Whoops, my bad; you're right.

[2017-07-21 13:34] kivohin commented on #1496
Thanks for your answer @shilman. I realized the scripts are actually being injected, so everything is good on your side 👍🏼 Keep up the great work 🌈

[2017-07-21 13:34] #1496 closed

[2017-07-21 16:32] arolson101 commented on #1435
the problem is the iframe that displays the content doesn't inherit ```require```, ```globals```, et al.

[2017-07-21 17:59] D1no opened #1503 "RN: Unable to resolve module `AccessibilityInfo`"
I would love to implement storybooks into an open source project (https://github.com/shoplinksys/react-native-scandit/tree/storybook). The project runs fine with the default packanger, but the storybook packanger errors out with an `Unable to resolve module AccessibilityInfo`.

Current Reproduction-Commit with Files & Set-Up:
https://github.com/shoplinksys/react-native-scandit/tree/c16e2b9d82008f0

[2017-07-21 19:13] D1no commented on #1503
### Current Workaround: use `sudo`
I am not sure why, but the dependency map seems to resolve when storybook is ran as
`sudo yarn run storybook`. I got the inspiration of this comment: https://github.com/facebook/react-native/issues/14209#issuecomment-313654205

Does storybook use components of an "old" rn-packager (which had issues until v.46.3)?

[2017-07-21 20:11] shilman commented on #1503
@D1no nice workaround 😭 . I'm sure the storybook packager is out of date, and I'm not even sure if any of the core  maintainers are RN-savvy enough to get it upgraded. @mnmtanish ?

[2017-07-22 03:44] dcu-sharepoint commented on #430
can't get **getstorybook** to run on a newly minted mac-mini on a hello-storybook app created to follow these commands

`npm i -g create-react-app getstorybook`
`create-react-app hello-react`
`cd hello-react`
`getstorybook`

everything runs except the getstorybook line and there are no errors anywhere!

I installed the app with both yarn and npm 5.3.0

[2017-07-22 04:47] agalazis commented on #269
I don't get why people don't just use gitter  for this kind of projects xD

[2017-07-22 06:18] shilman opened #1506 "3.2-alpha: HMR broken"
## why

Expanding on @UsulPro 's [comment](https://github.com/storybooks/storybook/pull/1383#issuecomment-316526470). Do the following in branch `release/3.2` vs. `master` (3.1.x):
[code]
Then select one of the Button stories (not the Welcome story).
In a separate window, edit the you're looking at (e.g. change the button text).

Expected behavior (3.1.x):
- The button text will update.

Actual be

[2017-07-22 07:34] #877 closed

[2017-07-22 10:44] igor-dv commented on #1506
Until now it was optional..
Don't we want this kind of checking ?

![image](https://user-images.githubusercontent.com/7867954/28490479-a77b103c-6ee3-11e7-8bec-7dc4603bc54c.png)

[2017-07-22 10:54] ndelangen commented on #1506
It should remain optional

[2017-07-22 11:49] igor-dv commented on #1506
Not providing the module breaks the HMR. But it should remain optional.. I am confused :confused:

[2017-07-22 16:17] shilman commented on #1506
@ndelangen @igor-dv  why optional? And if we want to keep it optional, can we at least print out a warning? Seems like a lot of people are getting bit by this, including us in our sample code!

[2017-07-22 17:51] shilman opened #1509 "Bootstrap problems with react-native-vanilla"
## why

The new build setup (I think?) is breaking `examples/react-native-vanilla`.

## what

Here's my setup (on `master`):
[code]

This causes a few problems:
1. Primarily, the example doesn't run: it's hitting this error `Accessing nonexistent addons channel, see https://storybook.js.org/basics/faq/#why-is-there-no-addons-channel`
   - I've tried changing this from an error to a warning with `c

[2017-07-22 18:08] shilman commented on #1509
NOTE: I have just tried `v3.1.9` on a standalone RN project and verified that this is a development problem and not a problem with our latest public release.

[2017-07-22 18:10] shilman commented on #1509
@ndelangen @tmeasday could use your help on this 😉

[2017-07-22 19:00] shilman commented on #1509
Mediocre workaround for problem #2:
[code]

[2017-07-23 15:44] sterlingwes opened #1511 "[Discussion] [Ideas] Story definition API"
Hello! We *love* Storybooks at [Wealthsimple](http://wealthsimple.com) and use it regularly as part of our React Native development. I'm excited for opportunities to contribute and thought I'd share our workflow for discussion and to see if there's interest in my efforts in any area.

There's a few things we've enjoyed doing:

* writing our stories alongside our components
* providing a more decla

[2017-07-23 16:24] shilman commented on #1511
@sterlingwes Nice!! We're excited to learn from your workflow. Are you proposing a single PR, or a handful of PR's for:
- glob syntax for `storybook start`
- use of diff-react for improving storyshots
- built-in support for a more declarative form of story definition?

Happy to provide feedback here, or if you're up for it our slack is a great place to get more realtime feedback: https://now-examp

[2017-07-23 16:36] sterlingwes commented on #1511
Oh nice, I'll join in on Slack 👍

Yes was looking to split up the work for sure. Your first two suggestions I think I could tackle quickly. I might tread more carefully on the third being a fairly big API change. Thanks for the feedback!

[2017-07-23 16:36] #1511 closed

[2017-07-23 22:50] ndelangen commented on #1506
Right, so a single warning into the terminal and console sound fair to me, yes!

Providing the module enables HMR. If you don't provide the module HMR is not enabled, for whatever reason the users is choosing to.
Now if a lot of users are missing this, a reminder-warning is definitely in order.

[2017-07-23 22:55] ndelangen commented on #1509
Hey @shilman let's sit together and help me get setup to help you fix this, OK? When's a good time for you?

[2017-07-24 01:58] tmeasday commented on #1509
@shilman: I thought we determined that RN didn't work with symlinks unless we used that other packager?

[2017-07-24 09:03] dzc944262316 commented on #1371
I have also encountered this problem

[2017-07-24 14:31] janusch commented on #1378
thanks a lot for the reply!

[2017-07-24 15:30] TimothyKrajewski commented on #151
This is the exact solution I needed !!! thank you +1

[2017-07-24 16:07] mattleff commented on #879
@shilman Can this issue be closed now?

[2017-07-24 16:46] jonathanong opened #1513 "disable logging to stdout"
i find this console log very annoying https://github.com/storybooks/storybook/blob/9b80a992cfcbece11227f815893173bf7b7a8ee7/app/react/src/server/babel_config.js#L24

can we add a way to disable it? i personally use https://www.npmjs.com/package/debug to gate logs at will. i know i'm using a custom babelrc because i added it manually!

[2017-07-24 16:59] jonathanong commented on #1513
note that i only care about this when i use snapshot testing. jest is no fun when tests print to stdout

[2017-07-24 21:54] obartra commented on #1402
Is `3.1.7` the latest working version for storybook-build? I can repro the issue in `3.1.8` and `3.1.9` as well

[2017-07-24 22:15] shilman commented on #1509
@tmeasday fixed a couple problems, see PR #1514 above

[2017-07-24 22:36] jonathanphz commented on #304
I'm trying to do the same thing but getting errors.

[code]
I'm using an ejected CRA with Webpack 1.14.0

[2017-07-25 01:08] tmeasday commented on #879
I'll mark it `merged` and we'll close it when it gets released (soon!)

[2017-07-25 05:55] ndelangen commented on #815
#1514

[2017-07-25 06:17] tmeasday commented on #815
And #1515

[2017-07-25 10:45] wellyal opened #1518 "Can't find utility function on Absolut path"
I have added a new resolve path on my webpack config

```modules: ['node_modules', 'src', ...```

On my Input component I reference a utility function for its absolut path like this.

[code]

The component itself works great but when I run storybook I get this error message:

[code]

[2017-07-25 10:46] ndelangen commented on #1513
I will slowly move over the codebase to use `npmlog`;

Should be easy to mock that with jest and filter out all the logging!

Any help with this would be appreciated!

[2017-07-25 10:50] ndelangen commented on #1518
I presume you have a custom webpack config for storybook and have added it there as well?

Perhaps you need to provide full paths, that sounds like a good idea anyway. You can use the `path` module to get the full path:

[code]

[2017-07-25 10:53] ndelangen commented on #1518
PS. I personally prefer to use a babel plugin over a webpack resolve:
https://github.com/jagrem/babel-resolve-relative-module

[2017-07-25 11:39] wellyal commented on #1518
@ndelangen thanks for you help. Still newbe with storybook. I didn't realize I had to create a custom webpack config for storybook. But (of course) makes all sense. Thanks again.

[2017-07-25 14:05] pselden opened #1519 "Addons info and Typescript props docgen?"
Is there a way to use Typescript to set up the props table instead of just using propTypes?

Either a hook which allows a parser (like react-styleguidist does with https://github.com/styleguidist/react-docgen-typescript) or a way to let you pass your own propTypes in so you can do it in user-land?

[2017-07-25 16:29] hellobrian opened #1520 "Storybook UI has a11y violations"
## Problem

When using [aXe chrome extension](https://chrome.google.com/webstore/detail/axe/lhdoppojpmngadmnindnejefpokejbdd?hl=en-US) or the [storybook-addon-a11y](https://github.com/storybooks/storybook-addon-a11y), there are a few a11y violations that can be resolved with storybook's UI.

Basically, these violations make it a little troublesome to pinpoint whether a developer's components are c

[2017-07-25 19:48] Hypnosphi opened #1521 "Tests are failing locally"
With this setup:
[code]

if you run `yarn test`, it just fails to start:
[code]

`yarn jest` works, but one test is failing:
[code]

I believe the second issue is connected with usage of [toLocaleDateString](https://github.com/storybooks/storybook/blob/master/examples/cra-kitchen-sink/src/stories/index.js#L81)

[2017-07-25 19:52] shilman commented on #1521
Thanks @Hypnosphi !

For first one, you need to run `yarn bootstrap:react-native-vanilla` beforehand.

Second one is a nice catch. It sounds like there is a problem with our test setup where it is locale-dependent... Wanna take a crack at that?

[2017-07-25 20:29] ndelangen commented on #1518
You're very welcome! Our support channel on slack is also a great way to get community support ⭐️

[2017-07-25 20:29] #1518 closed

[2017-07-25 20:31] ndelangen commented on #1506
Is this something you want to do @igor-dv ?

[2017-07-25 20:32] igor-dv commented on #1506
Yeah, I'll do it by the end of the week

[2017-07-25 23:58] dcu-sharepoint commented on #1521
@shilman My name is Carlos and would like to contribute as I think this app has great promise. the thing is I don't know how to start and I'm a newbie with these technologies including GITHUB/GIT but got to start somewhere.

[2017-07-26 05:19] ndelangen commented on #812
no worries, we added the `manager-head.html` as an escape-hatch also.

If you're changing the name storybook, you can do this via the [addon-options](https://github.com/storybooks/storybook/tree/master/addons/options#getting-started)

[2017-07-26 10:32] daiyanze commented on #270
Since webpack released version 2.0, I think it might have affected how css modules settings work.

[2017-07-26 12:10] ndelangen commented on #1506
Cool, will close this then, will be released soon!

[2017-07-26 12:10] #1506 closed

[2017-07-26 12:12] ndelangen commented on #151
@psimyn Please open a new issue describing the feature? This issue will be closed real soon with the release of `3.2.0`

[2017-07-26 16:06] MarcoWorms commented on #270
For webpack 2 I'm using this in `.sotrybook/webpack.config.js` and it's working fine:

[code]

[2017-07-27 01:11] daiyanze commented on #270
@MacroWorms It works like a charm. Thank you for updating the solution.

[2017-07-27 02:11] tmeasday opened #1528 "Allow decorator API to accept HOC-style wrappers"
As per @shilman in https://gist.github.com/shilman/792dc25550daa9c2bf37238f4ef7a398:

We are moving to a "wrapper" style API for addons/decorators:

[code]

Which can be used like:

[code]

However, currently the decorator API takes something slightly different:

[code]

It's conceptually the same, but different in practice.

## Proposal:

- In 3.3: Allow `addDecorator` to take *both* `decorator`

[2017-07-27 02:14] shilman commented on #1528
Yes, confusing as a transition path, but hopefully simple and uniform and powerful once we get through it! Thanks for putting this together!

[2017-07-27 02:15] tmeasday opened #1529 "Vue API decorator improvements"
It's possible to write simple "DOM wrapping" decorators in the new Vue API, but a bit clunky:

[code]

It would be cool if somehow we registered the story as `story` as per the Vue component API and allowed you to write instead:

[code]

I'm not quite sure how to do that ;) but it seems conceptually possible anyway. Would love to hear thoughts.

[2017-07-27 10:26] ndelangen commented on #1088
Hey @MrBoolean Did we miss your PR for this? or can someone else pick this up?

[2017-07-27 12:07] irnc commented on #995
@heinzmuller Yes, your concern is right, decorators are added to the snapshot, so component under story is not rendered at all.

I am afraid that conditionally adding decorators is not an option when decorators provide context to component under story, e.g. my stories are decorated with `ThemeProvider` for getting values from theme.

Thus we need to find a way to omit decorators in outputed snapsh

[2017-07-27 12:57] rmevans9 opened #1532 "[3.2.0-alpha.10] react-native project isn't working with the latest version of storybook"
Hello!

To start I want to just say I love storybook and it is great for my workflow in developing components.

I was especially excited to see the nesting of stories PR land in 3.2.0. I gave it a shot on my project to see how it looked and to my dismay when I open the browser to the storybook page it actually locks up and ends up crashing the browser tab. I haven't tried debugging past looking at

[2017-07-27 13:36] RWOverdijk commented on #1503
Sudo works. Doesn't feel to nice though

[2017-07-27 13:43] shilman commented on #1532
@rmevans9 Thank you for the bug report and the repo. I can reproduce the problem on my machine and am looking into it now.

[2017-07-27 14:03] shilman commented on #1532
We've identified the problem in the hierarchy UI's interaction with react16 and are fixing it now. (Your project works fine with the stable version of Storybook, FYI)

[2017-07-27 14:05] rmevans9 commented on #1532
@shilman yes, I am working just fine in the stable version in both my real project and this one. I just didn't want to see the bug causing this problem to hit stable so I just wanted to give the alpha a shot.

Thanks for tracking dow the issue!

[2017-07-27 14:11] shilman commented on #1532
Yeah we truly appreciate the bug report. We are about to release 3.2.0 and it's great to be able to fix this before that goes out. 🙇

[2017-07-27 14:28] shilman commented on #1503
@RWOverdijk yes it's definitely a workaround and not a solution. We'll get on this, or feel free to contribute a fix if you're motivated!

[2017-07-27 14:59] shilman commented on #1532
@rmevans9 `@storybook/react-native@3.2.0-alpha.11` is live and fixes the problem 💥

[2017-07-27 15:10] rmevans9 commented on #1532
It works in my real project! 🍾  Thanks for the quick turn around on the fix!

[2017-07-27 15:12] igor-dv commented on #1532
:+1:

[2017-07-27 15:12] #1532 closed

[2017-07-27 17:55] byrekt commented on #810
I think you can actually just use object to handle an array of objects:
e.g.
`const footnotes = object('Footnotes', [{symbol: 1, content: 'sample'}]);`

seems to work for me

[2017-07-27 20:47] majapw opened #1534 "Super long story descriptions don't wrap or ellipsize"
This ends up causing weird behavior, like pushing the keyboard shortcuts button out of view and stretching the titular button out of view as well.

![screen shot 2017-07-27 at 1 37 39 pm](https://user-images.githubusercontent.com/1383861/28691176-d835541c-72d0-11e7-91a4-cbc0e1dadd75.png)

[2017-07-27 21:07] shilman commented on #1534
@majapw which version? we've revamped that in 3.2 (landing in the next 24h):

<img width="336" alt="storybook" src="https://user-images.githubusercontent.com/488689/28692288-d289be1e-72d4-11e7-961e-2cba1158996c.png">

Still lacking polish for sure, but does this address your concerns about keyboard shortcuts/buttons?

[2017-07-27 22:25] ndelangen commented on #1262
We will be making an announcement tomorrow 🥁

[2017-07-27 23:45] tmeasday commented on #995
@irnc I've been pondering this one a little bit. If you were writing a shallow snapshot test case by hand that required some kind of context, how would you do it? i.e. what does the raw code look like?

I've been trying to figure out how we can take the right snapshot but still have the context.

[2017-07-28 00:16] levithomason opened #1535 "Firing an action with the info addon is slower than molasses"
### What is this?

A button with `onClick={action('onClick')}`.  Two identical stories except the first is added with `.add()` the second with `.addWithInfo()`.

### What I'm doing
😄 Clicking the button several times in the `add()` story.  The actions are logged immediately.

😞 Clicking the button once in the `addWithInfo()` story.  The UI freezes for several seconds before the action is logged.

[2017-07-28 02:39] shilman commented on #1535
In v4 we will deprecate the `addWithInfo` API and rename it to `addWithMolasses`. 😭

In all seriousness, we're making a bunch of changes to the info addon (e.g. #1147) so let's see how things shake out with that. cc @UsulPro

[2017-07-28 07:01] gihrig opened #1536 ""Reproductions" script fails on Mac"
Just an FYI to be addressed by anyone interested...

Attempting to run the "[Reproductions](https://github.com/storybooks/storybook/blob/master/CONTRIBUTING.md#reproductions)" script fails with `sh: lerna: command not found`

OS X 10.11.6 (up to date)

The reproductions script goes OK until the command `npm run bootstrap`. The result is:

[code]

[2017-07-28 07:18] gihrig opened #1537 "Storybook does not serve files from CRA public folder"
I attempted to follow "The guidelines for contributing" "[Reproductions](https://github.com/storybooks/storybook/blob/master/CONTRIBUTING.md#reproductions)" script, but I couldn't get that to work, see #1536.

Here's an abbreviated version that describes the problem:

[code]

Specifically the error is wrapped in an html file:

[code]
I have tried with files of various extensions (.html, .json, .ic

[2017-07-28 07:19] RWOverdijk commented on #1503
@shilman If I manage to free up some time I'll definitely give it a go.

[2017-07-28 08:08] irnc commented on #995
I don't know, I newer used shallow rendering before storyshots.

Looking into `ReactShallowRenderer`, I could see that `render` [accepts `context`](https://github.com/facebook/react/blob/v15.6.1/src/renderers/testing/ReactShallowRenderer.js#L82) as a second argument. This brings me to a conclusion, that for shallow rendering I would need to pass `context` manually.

Looking into `enzyme` we could

[2017-07-28 08:22] irnc commented on #995
Given that the current semantics of a story and a decorator is that they could return multiple nested elements, we couldn't expect it to work for shallow rendering. For shallow rendering to make sense, we need to constrain story function to return only one element (i.e. element without children), and decorators accounted separately from story function.

If needed to separate context setting decora

[2017-07-28 08:26] ndelangen commented on #810
@byrekt I can imagine that's good for lots of cases!

[2017-07-28 11:52] ConneXNL opened #1539 ""Stateless function components cannot be given refs" warnings with React@next"
I am using the react@next branch with the initial fiber support.

Upon loading the storybook I get 2 warnings:

[code]

Things seem to work normally though.

[2017-07-28 13:24] macrozone opened #1540 "use proptypes from standalone package"
storybook-native still uses `import React, { Component, PropTypes } from 'react';`

which does not work anymore in react 16.0.0.beta.x

it should use package prop-types

[2017-07-28 13:51] tesla3327 commented on #1005
I am running into this issue as well. Right now our workaround is to remove the UglifyJS plugin manually through "full-control" mode, which is a bit of an ugly hack.

Hopefully this can be merged soon?

[2017-07-28 13:52] ndelangen commented on #1539
Anyone who wants to pick this one?

I feel it should be an easy one to get started contributing to storybook, so send me a message if you want to give this a go and want my help!

[2017-07-28 13:54] ndelangen commented on #1536
You missed the `npm install` step.

This is why the `lerna` command cannot be found.

If I'm wrong, or you need further help, please reopen, happy to help 👍

[2017-07-28 13:54] #1536 closed

[2017-07-28 13:56] ndelangen commented on #1537
Can you try a `npm install` after `getstorybook` ?

[2017-07-28 14:06] bigfish commented on #1005
This will be in 3.2.0, right? Looking forward to that :)

[2017-07-28 14:50] sergeyzwezdin opened #1541 "Storybook with TypeScript based application"
I've created [typescript based](https://github.com/wmonk/create-react-app-typescript) React app (with `create-react-app`) and added storybook there (by using `getstroybook` CLI command).

I've [added](https://github.com/sergeyzwezdin/storybook-with-ts/blob/master/.storybook/webpack.config.js) `webpack.config.js` to define `ts-loader` to transpile my TypeScript code.

I've placed whole code here -

[2017-07-28 15:31] ndelangen commented on #1005
@bigfish this is not a change about the be released with `3.2.0`, if you want to remove Uglify, you'll need to do so using webpack full control mode.

[2017-07-28 15:36] ndelangen commented on #1487
Will close this one then 👍

[2017-07-28 15:36] #1487 closed

[2017-07-28 17:05] Hypnosphi opened #1542 "lib/ui/example doesn't work with node < 8"
That's because of trailing comma in function call: https://github.com/storybooks/storybook/blob/master/lib/ui/example/server.js#L12

We should either remove the comma until Node 8 becomes LTS in October, or add a note to readme

[2017-07-28 18:07] gihrig commented on #1537
@ndelangen, Thanks for the reply 😄

I have modified my test script to use npm and add your advised install step. Still fails to read file, same as before.

Now the script is as follows:

npm -v 4.0.2
node -v 7.10.1

Also tried
npm -v 5.3.0
node -v 8.2.1

[code]

More info:

I think this may be a configuration problem...

Running CRA, `npm start` `http://localhost:3000/favicon.ico` returns the reac

[2017-07-28 20:19] ndelangen commented on #1542
Trailing comma in function call is invalid, removal would be fine!

[2017-07-28 20:20] ndelangen commented on #1542
eslint should actually remove such things.. I guess somehow this got ignored because of a `.eslintignore` or some rules in the file itself?

[2017-07-28 20:22] ndelangen commented on #1537
Can you check this documentation page, and see if this solves the problem?

https://storybook.js.org/configurations/serving-static-files/#docs-content

Storybook does not automatically serve the same folder statically as cra.

[2017-07-28 20:55] gihrig commented on #1537
RTFM, ugh, 😊

@ndelangen That solves it. Thank you so much for the help 😄

[2017-07-28 20:57] #1537 closed

[2017-07-28 21:03] Hypnosphi commented on #1542
Well it's valid since ES2017, so I think it's totally ok to used in babel-transpiled files

[2017-07-28 21:05] Hypnosphi commented on #1542
But yes, `**/example/**` is `.eslintignore`d for some reason

[2017-07-28 22:55] ndelangen commented on #1537
My pleasure!

[2017-07-28 23:00] ndelangen commented on #1542
I can tell you the reason, those examples are marked for deletion.

'Lib/ui' may be excepted from this. I'm not quite sure yet.

The idea is to see the entire repo as 1 development environment, not every individual package have its own. This is still an ongoing process of improvement. We cut out what bothers us and have alternatives for. Parts that haven't been touched or discussed or reached cons

[2017-07-28 23:48] bcomnes commented on #1005
+1000 on this.  Would very much rather pass a single flag to turn things off than adopt full-control mode.

[2017-07-29 16:36] jamoha commented on #1371
Same problem :/

[2017-07-29 17:14] #1521 closed

[2017-07-29 17:18] shilman commented on #1371
@dzc944262316 @jamoha which version of Storybook are you using?

[2017-07-29 17:42] code-by commented on #79
I'm try to add `bootstrap-loader` into storybook (React 16, storybook 3.1.9).
I have 'compile' solutions above, but I get errors for files `eot, woff2, woff, ttf, svg`

my config
[code]

webpack
[code]
so what I could miss/mistake?

[2017-07-29 23:16] code-by commented on #79
@ndelangen , this way?

[code]

[2017-07-30 09:25] ndelangen commented on #79
Check out the webpack 1 to webpack 2 migration.
https://webpack.js.org/guides/migrating/

the queries (`?`) and options (`!`) should be split out,
the property you set on a rule-object is `use`:
https://webpack.js.org/guides/migrating/#module-loaders-is-now-module-rules

Basicly, you webpack config is a webpack 1. Which storybook does not support anymore.

[2017-07-30 12:39] Hypnosphi commented on #1542
Closed with #1543

[2017-07-30 12:39] #1542 closed

[2017-07-30 15:53] oriSomething commented on #1539
@ndelangen I think I'll try to pick this

[2017-07-30 19:42] ajwhite opened #1547 "Adding/removing stories do not automatically update in React Native (3.2)"
Story lists (on device, and on web) no longer automatically add or remove stories as they are added or removed in the codebase. It currently requires a full refresh of the web and device to observe these changes.

[2017-07-30 19:47] shilman commented on #1547
@ajwhite I am seeing this bug in `examples/react-native-vanilla` on `master` and also on @rmevans9 's branch. However, I am also running a CRNA side project with the latest `alpha` (which should be equivalent to `master`) and it's updating fine.

[2017-07-30 20:46] Hypnosphi commented on #871
I think it's OK to keep disabling shortcuts when some input is focused. The issue with search box is quite annoying though. We can allow dismissing it with Esc key and/or outside click. Maybe we could use ReactModal like it's done in shortcuts_help. "Toggle Search Box" should be renamed into "Show Search Box" in that case.

[2017-07-30 22:35] rmevans9 commented on #1547
After speaking with @shilman about this and taking a quick look at it here are my findings on this issue which could make it a non-issue:

React Native has Hot Module Reloading built into it. If you have it on the components of the app reload when a story is added and the menus (both on web and OnDeviceUI) update accordingly. If you have it off the app doesn't reload the stories and thus the story

[2017-07-30 22:42] shilman commented on #1547
Agree with @rmevans9 and closing. And here's a screenshot for anybody who runs across this issue:

<img width="372" alt="glass" src="https://user-images.githubusercontent.com/488689/28757696-8ee87356-753d-11e7-8ef4-caf16c293a78.png">

[2017-07-30 22:42] #1547 closed

[2017-07-30 22:45] rmevans9 commented on #1547
@shilman Either that or the "Enable Hot Reloading" below will do. Personally I use "Enable Hot Reloading" because it updates the component in place without reloading the entire bundle. "Enable Live Reload" will reload the entire app bundle.

[2017-07-30 23:34] rmevans9 commented on #1418
@smooJitter what are you not seeing work in 0.45.1? I have it working perfectly fine in 0.46.4

[2017-07-31 00:47] tmeasday commented on #995
Hmm, yes I was thinking about this possibility, but it's not very user-friendly, there are a lots of use-cases where you want to use a `<Provider/>`-style wrapper. I guess in all such cases conceptually you could just pass the context that provider provides, but I think in practice it would often be tricky to do so.

I'm not sure what you mean by this?

[2017-07-31 02:32] godd9170 opened #1549 "Importing files via an index.js export in a sub directory fails"
When running my webpack-hotloader I can use my app without any import errors. However attempting to render a component, which relies on some subcomponents, in storybook I get the error:

The folder structure looks like this

[code]

Where each of the `index.js` files export all components in it's directory so I can simply import any file from `./components` like this:

[code]

I'm seeing the above

[2017-07-31 03:34] adoyle-h commented on #1444
Great! I'm willing to translate the website into Chinese. I will do it when the i18n framework get ready.

[2017-07-31 10:49] tibbus commented on #810
You can use it as @byrekt suggest, but React will complain about the types :
`**Warning**: Failed prop type: Invalid prop **knob.value** of type **array** supplied to **ObjectType**, expected **object**`

A workaround is to create a wrapper component:

[code]

[2017-07-31 10:59] Hypnosphi commented on #810
Yeah, I think we should update the propType

[2017-07-31 15:47] #151 closed

[2017-07-31 15:48] #879 closed

[2017-07-31 16:08] ajwhite opened #1553 "OnDeviceUI breaks RN versions <0.43"
StoryListView [makes use of SectionList](https://github.com/storybooks/storybook/blob/v3.2.0/app/react-native/src/preview/components/StoryListView/index.js#L79), which is new to ReactNative `v0.43`. We currently support a minimum version of `0.27`, so that breaks a number of lower versioned users.

I'd suggest continued usage of `ListView`. While this will [ultimately be deprecated in the future](

[2017-07-31 16:15] ajwhite commented on #1418
I think we can close this issue with #1424 having merged.

There are some dependency issues as of `3.2.0` outlined in https://github.com/storybooks/storybook/issues/1553, but that should be something we can provide a backward compatible solution for without needing to set a minimum dependency version.

[2017-07-31 16:15] #1418 closed

[2017-07-31 17:46] godd9170 commented on #1549
Word of the wise.... don't call a directory and a file the same name. Calling the directory something more sensible resolves this. I think Storybook's webpack `test`s are bit different than mine.

[2017-07-31 17:46] #1549 closed

[2017-07-31 18:00] eddiemonge commented on #1133
What was the point of the mono-repo? Makes its harder to track changes to the add-ons

[2017-07-31 18:07] eddiemonge opened #1557 "Changelogs"
Since this is now a mono-repo, changelogs are even more criticial to see whats been done in an add-on.

addons-actions is now at version 3.2.0 but the changelog only goes  up to 1.x. Please either update the changelog file or remove it. Or better yet, **split the add-ons back into separate repos but still under the storybook org**

[2017-07-31 18:21] ndelangen commented on #1557
Hey @eddiemonge,
There's a changelog in a subproject? Well that'd be legacy content. I guess we could remove it, it's probably no use to anyone anymore..

The monorepo is helping us tremendously in our development, it's not changing. Thanks for the suggestion though, I understand it's not quite the industry standard.

[2017-07-31 19:02] benbayard opened #1558 "addons/knobs types were unpublished"
After updating from v3.1.9 to v3.2.0 the typescript types were no longer published on npm.

[2017-07-31 20:01] ndelangen commented on #1444
@adoyle-h I'll keep you informed about the process, I think especially for Storybook for Vue, a chinese translation will be welcomed by the users!

[2017-07-31 20:32] shilman commented on #1558
@benbayard yeah we could have done a better job documenting that. Here's the MIGRATION instructions:

https://github.com/storybooks/storybook/blob/master/MIGRATION.md#from-version-31x-to-32x

And here's the relevant github issue: https://github.com/storybooks/storybook/issues/1166

We'll try to get those types updated today (cc @joscha )

[2017-07-31 20:45] benbayard commented on #1558
Thanks @shilman ! If you guys are interested in using TS as the language maintained for the knobs repo I can work on that.

[2017-07-31 21:11] shilman commented on #1558
@benbayard Thanks! I'm sure we could use some help on the Typescript front. @joscha is handling that now, so I'll let you guys coordinate. Easiest way to coordinate (IMHO) is our slack channel:

https://now-examples-slackin-nqnzoygycp.now.sh/

[2017-07-31 21:46] ndelangen commented on #1558
@benbayard That would be fantastic, we could definitely use the help!

[2017-07-31 23:29] #1553 closed

[2017-08-01 00:18] benbayard opened #1563 "Build Storybook command is failing:"
[code]

[2017-08-01 10:59] sapkra opened #1565 "Options for hierarchy"
Options to modify the size and the animation speed of the hierarchy.

[2017-08-01 14:57] josefernand commented on #1398
Same problem with a **clean** CRNA app and following the instructions to add storybook. No stories are shown in the left panel even replacing `localhost` with the IP address.
I see these warnings in the browser console:

[code]

[code]

[code]

[2017-08-01 15:32] KaySackey commented on #1541
You don't have to double up on babel-loader and ts-loader. ts-loader can load javascript for you, and you're transpiling the Typescript down to ES5/commonjs modules anyways.

I'm not seeing anything that should make this so slow, exclude: /node_modules/ should already be excluding your node_modules.

[2017-08-01 17:28] remotezygote commented on #1417
I am having the same issue, and am having trouble reproducing it in a smaller test case that I can share. I am using full control mode with the webpack config, and have a custom `.babelrc`, and have fiddled and messed with every single thing I can imagine, and nothing seems to work. I am using the `env` preset for babel - possibly that is the problem? Not sure what next steps are here.

Here's the

[2017-08-01 17:35] remotezygote commented on #1328
Running into this same issue (details here: https://github.com/storybooks/storybook/issues/1417#issuecomment-319439819). I am passing module with every `storiesOf` call, so that's not the issue for me.

[2017-08-01 17:56] Billydubb opened #1567 "React-Native: Fresh install doesn't show storybook elements (Android Only!)"
I am using npm version: 3.10.8, node version 6.9.0 and @storybook/cli and getstorybook version 3.1.9

On a fresh `react-native init` project I install storybook by running `getstorybook` in the directory.

The install completes fine and the storybook directory is created inside my project root directory.

Now I start storybook with `npm run storybook`
The site is set up at localhost:7007 correctly

[2017-08-01 18:15] philipthemagnificent commented on #1369
I had a problem with Action Logger Panel not displaying.  I tried installing other panels to see if it was a problem with action logger, but they didn't work either.  Knob, Notes, Action, never displayed a tab in the panel.  I was getting 'No Panels Available' in the panel area.

Updating my version of node from 6.10 to 8.2.1 fixed this issue for me.

[2017-08-01 18:22] shilman commented on #1369
@philipthemagnificent i suspect that cleaning out node_modules might have also fixed the issue for you.

[2017-08-01 18:26] shilman commented on #1567
@Billydubb it's a little wonky. What's supposed to happen is that:
1) You run storybook and open it in `http://localhost:7007`
2) You shouldn't see any stories to start out
3) You run it on your device and it connects to the storybook server on `localhost:7007`
4) The stories show up in the browser, and on your device

Let me know if that works for you?

[2017-08-01 18:29] #1262 closed

[2017-08-01 18:33] shilman commented on #1398
@josefernand I just got it working in a fresh CRNA app, so let's figure out what's going wrong. Your symptoms seem to be identical to: https://github.com/storybooks/storybook/issues/1567

Duplicating my response here:

[code]

Also I've submitted a PR to address #1222 referenced above, should simplify things a bit:

https://github.com/storybooks/storybook/pull/1568

[2017-08-01 19:19] josefernand commented on #1398
@shilman It's working now thanks a lot!

[2017-08-01 19:30] philipthemagnificent commented on #1369
@shilman I read other tickets besides this one, so I know what you mean, I was unsure where to post my comment, but I decided on the first ticket I came across.

Before updating NodeJs, I tried cleaning out node modules and doing a fresh install.  I also cleared my npm cache out for extra insurance.

When that didn't work, I updated NPM, and tried again.

I decided to do a complete fresh installat

[2017-08-01 19:33] shilman opened #1569 "Add addon-link example to react-native"
## why

At some point the links addon demo was removed from the RN boilerplate (CLI templates, example apps, etc.)

## what

- [ ] Add back addon-links demo to Welcome
- [ ] Fix up `prop-types`
- [ ] Remove `preventDefault` which is unnecessary in RN

See https://github.com/storybooks/storybook/pull/1568#discussion_r130697233

[2017-08-01 20:09] hakimelek opened #1570 "Storybook 3.2 is failing to build static export"
- using @storybook/react 3.2.0

.babelrc
`{
  "presets": ["es2015", "stage-0", "react"]
}`

Running build-storybook throws this error. It looks like we should use `uglifyjs-webpack-plugin` according to https://stackoverflow.com/questions/42375468/uglify-syntaxerror-unexpected-token-punc

[2017-08-01 20:28] ndelangen commented on #1570
This could be because UglifyJS doesn't support any ES6 yet.
Make sure babel is transpiling down to ES5.

[2017-08-01 20:31] hakimelek commented on #1570
Do you recommend any plugin I should use for that?

[2017-08-01 20:41] #1222 closed

[2017-08-01 21:09] shilman commented on #1398
@josefernand was it just a matter of following those instructions? or did you have to do something else?

[2017-08-01 21:21] josefernand commented on #1398
@shilman my app was not loading properly on the device, so the stories were not loaded either. Following your instructions, I finally realized that.

[2017-08-01 23:28] marcushenrique commented on #475
@akatech like @jason-ivy said, I had to install react first but I don't know why it is not automatic.

[2017-08-02 04:07] sky790312 opened #1572 "use storybook with vue and css preprocessor"
I face some problem with css preprocessor.
I have import global.styl in my project. How do I use it in storybook ..?

I can't import stylus file directly in here. like:
import '../assets/css/global.styl'

[code]

[2017-08-02 04:09] sky790312 opened #1573 "use storybook with vue and vue-i18n"
my component combines with vue-i18n. I try to add like this:

import Vue from 'vue'
import VueI18n from 'vue-i18n'

Vue.use(VueI18n)

but it still can't work in storybook. How to use it ?

[2017-08-02 05:10] ndelangen commented on #1572
You should import the file, and then add a loader by customizing the webpack config:
https://storybook.js.org/configurations/custom-webpack-config/#docs-content

[2017-08-02 05:12] ndelangen commented on #1573
Move the code into the `config.js`:

[code]

See the veux example here:
https://github.com/storybooks/storybook/blob/master/examples/vue-kitchen-sink/.storybook/config.js#L9

[2017-08-02 06:07] igor-dv commented on #887
Hey, I've created an [experimental jest matcher](https://github.com/igor-dv/jest-specific-snapshot#example) that will probably help here..  Will try to have a working demo with storyshots soon.

[2017-08-02 06:07] sky790312 commented on #1573
I use it in config.js. But it doenn't work.
In vue, the completed usage is like:

[code]

But I don't know how to setting this in storybook

[2017-08-02 06:43] sky790312 commented on #1572
I use it and setting the webpack. Now It can understand stylus file.
But I still face the problem with:

1.
[code]

I have used url-loader in webpack.config like project setting but still doen't work.
[code]

2.
[code]

I have use the bootstrap in my global setting. It works in my project but here can't work.

Please help me to resolve it... Thanks!

[2017-08-02 07:10] kazupon commented on #1573
In the same way as vuex, You need to use the `VueI18n` instance in the story

See the vuex story example here:
https://github.com/storybooks/storybook/blob/master/examples/vue-kitchen-sink/src/stories/index.js

[2017-08-02 08:22] ndelangen commented on #1572
The problem seems to be there's no '../node_modules/bootstrap/dist/css/bootstrap.min.css' file relative to the `.styl` file?

Since it appears to be in `node_modules`, you could try `bootstrap/dist/css/bootstrap.min.css`. If this module is installed, that is.

If the CSS file is static you may also add it to the preview-head.
https://storybook.js.org/configurations/add-custom-head-tags/#docs-conte

[2017-08-02 08:32] ndelangen commented on #887
Wow cool! @igor-dv! I was talking with @kentcdodds, this came up as well!

Although there was a misconception Storyshots was outputting as 1 big snapshot (which it is NOT). It outputs all snapshots individually into 1 file.

We're hoping to find a way to store the snapshots near the sourcefiles.

Looking forward to seeing your proposal @igor-dv, You're on a roll!

[2017-08-02 08:49] saitonakamura commented on #807
Same story using react

[2017-08-02 08:57] tirli opened #1575 "Knobs sharing props between two stories"
Hi
I'm using knobs and link addon to create a story for tooltip. It's possible to open it by hover and by focus.
I created something like this:
[code]
But when I'm using it and change `trigger` from hover to focused in 'closed' story, the 'opened' story still thinks that the `trigger` is hover. So tooltip disappears when I move the mouse away(not click outside as expected in focused behavior).
I a

[2017-08-02 09:48] ndelangen commented on #807
@saitonakamura Can you give us more information on how you're experiencing this error with React?

[2017-08-02 09:56] saitonakamura commented on #807
Sorry, false alarm, it was v2 vs v3 incompatibility

[2017-08-02 10:01] ndelangen commented on #1417
I've looked through your configs and nothing spots my eye of what could be causing it.

Are you passing the module instance to the `storiesOf()`-calls?

[code]

[2017-08-02 10:04] alexcheninfo commented on #1573
@kazupon Could you please provide a short example? ` store: new Vuex.Store` uses `new`. So it's a bit confusing how to use the `VueI18n` instance in the story.

[2017-08-02 10:32] vhflat opened #1576 "How can I customize the UI?"
I'm looking at the REAME under storybook/lib/ui and I dont understad In what file I'm supposed to use the renderStorybookUI method.

Could you specify the filenames and paths for the example code in the README?

In the storybook/lib/ui/example you use a new webpack-dev-server with a new webpack config, does that mean I should change the webpack config in the .storybook directory in my project to h

[2017-08-02 10:46] ndelangen commented on #1576
Here's where this function is called in the react app:
https://github.com/storybooks/storybook/blob/master/app/react/src/client/manager/index.js

[2017-08-02 10:51] ndelangen commented on #1576
If you want to customize the Storybook UI visually this is currently very impractical.
There are options for changing the 'logo text' and url on the top left, via [addon/options](https://github.com/storybooks/storybook/tree/master/addons/actions).

It's also possible to inject css using a `manager-head.html`, but because of the lack of css classes selecting elements will be a major pain. Besides t

[2017-08-02 10:51] tmeasday commented on #887
Oh, that's really interesting @igor-dv! Let's give it a try!!

[2017-08-02 11:21] dpankros commented on #1466
+1  Also getting this

[2017-08-02 11:54] igor-dv commented on #887
So far

![storyshots-example](https://user-images.githubusercontent.com/7867954/28872506-2c85f682-7792-11e7-8a15-cfb373be6ea3.gif)

[2017-08-02 13:18] tirli opened #1578 "Storyshots. Ability to skip some stories"
Is it possible to skip several stories for storyshots?
I've read issues according to this in the old repo, but it doesn't help.

Tha main reason I need it is [not working findDomNode in react-test-renderer](https://github.com/facebook/react/issues/7371). I need to use it in one of my components, but its story fails all tests for me :(

[2017-08-02 13:23] captainkovalsky commented on #1570
I have the same problem, trying to find some workaround

[2017-08-02 13:30] igor-dv commented on #1578
There is a `storyKindRegex` option that may help you:
https://github.com/storybooks/storybook/tree/master/addons/storyshots#storykindregex

[2017-08-02 14:27] tirli commented on #1578
@igor-dv
Oh, I missed it. Thanks

[2017-08-02 14:27] #1578 closed

[2017-08-02 15:28] code-by commented on #79
Could somebody help with properly webpack.config.js for Webpack 3?

[2017-08-02 15:53] 5revolutions opened #1579 "'emit' of null Error with every Addon I try"
1. Have a simple Create React App project to test Storybook and addons.
2. Removed and reinstalled latest npm modules.
3. Using all standard documented Storybook instructions.
4. Searched in issues about this error and see references to old, mismatched versions etc, but none seem to apply to this instance?

Every addon I try I get errors, usually: `Cannot read property 'emit' of null`

Could very

[2017-08-02 16:04] remotezygote commented on #1417
Yup, we're passing `module` to each and every call.

[2017-08-02 17:11] thomaskuntzz opened #1580 "[addon/knobs] JSX Support"
It would be great if the knobs add-on had the ability to input simple JSX (`img` tags, etc.).

For instance: I have a coponent. One of its attributes is an object containing JSX, in this case an `img` tag. I'd like to be able to modify the `img` tag from the Knobs panel in Storybook. However, it seems that in order to do so, I'd need to have a function similar to for instance [object](https://gith

[2017-08-02 17:18] ajwhite commented on #1540
Given that we [don't specify a `react` dependency version](https://github.com/storybooks/storybook/blob/ac2c8bdeaafdc5671c5d4b1d2c54e2fe7f348d92/app/react-native/package.json#L78), I'd like to look towards @kentcdodds's solution for this `glamorous`, https://github.com/paypal/glamorous/commit/14970c1bb59d1408d3066d209dafa356b5ce3173.

Essentially - use `prop-types` if they exist and `React` is of

[2017-08-02 17:34] hakimelek commented on #1570
Here is my workaround, it's not a good idea but it works for now:

Just get rid of UglifyJs on prod. Create a new `webpack.config.js` inside `.storybook`.

[code]

[2017-08-02 18:18] levithomason opened #1581 "HMR causes `Stories of "..." named "..." already exists` error"
# Solved

Don't forget to include the `module` argument in your `storiesOf` call 😉

***

# Original Post

I have a single `Example.stories.js` file.  When making changes, I see this error after the HMR update.  This bug was introduced within the last few days.  Prior to that I had never seen this bug.

## Preview area

![image](https://user-images.githubusercontent.com/5067638/28887989-e68ef0ca-77

[2017-08-02 18:27] levithomason commented on #1581
I forgot the `module` argument in the `storiesOf` call.  Would be great to throw an error in that case.

[2017-08-02 18:27] #1581 closed

[2017-08-02 18:28] idris commented on #803
@sowdri @shilman is this actually fixed?  On the latest versions, the `knobs` addon still uses `insert-css` and has a peer dependency `react-dom`.  How can it work in react native?

[2017-08-02 19:29] shilman commented on #1581
Cc @igor-dv @ndelangen

[2017-08-02 19:54] ndelangen commented on #1581
According to the screenshot we do throw an error 😂
It's just not the error that explains what you think is wrong.

The error we show is to prevent someone from adding a story with the exact same name twice..

But of course that is exactly what happens if HMR is not handled..

I guess we should move this error into a warning and let the rendering continue.

[2017-08-02 19:56] ndelangen commented on #1581
Code for this error is here:
https://github.com/storybooks/storybook/blob/master/app/react/src/client/preview/client_api.js#L72

[2017-08-02 20:15] donaldtf commented on #571
I have been trying to get storybooks to work with typescript using a similar method to this. If I include `''` in my extensions list, however, I get the following error.

[code]

[2017-08-02 20:25] ndelangen commented on #1580
Can you elaborate?

[2017-08-02 20:30] ndelangen commented on #1579
Try this new syntax:
[code]

[2017-08-02 20:38] ndelangen commented on #79
I think such a question would be best asked on https://stackoverflow.com where there are more users with webpack knowledge.

[2017-08-02 21:31] 5revolutions commented on #1579
Thanks for the reply. Regrettably I still get an "Cannot read property 'emit' of null" error.

[2017-08-02 22:01] alterx commented on #475
@marcushenrique,  we support other libraries (eg. Vue), so installing React automatically wouldn't make sense for everyone. What you should do first is create a React or Vue project and after that install storybook.

[2017-08-03 01:39] levithomason commented on #1581
Heh, yes, there is _an_ error 😛  I'm thinking it may be helpful if `storiesOf()` threw an error itself if there were a missing `module` argument.  Something like `Error: storiesOf() "module" argument must be an object, got: undefined`.

Is a PR for this acceptable?

[2017-08-03 02:19] tmeasday commented on #752
@samkelleher did you ever discover anything here?

[2017-08-03 02:38] sky790312 commented on #1572
I think I can fixed the problem about path.. Thanks.
I still have the second problem which is about the image handle (png, svg..etc.)

[code]

I have already set the webpack as following:

[code]

But it still doen't work. Any idea..? Thanks!

[2017-08-03 02:44] kazupon commented on #1573
I tried it at storybook.
it does not work.
Hmm 🤔 I'll try to support due to work at storybook.

[2017-08-03 03:03] djyde commented on #208
It's really a useful feature, since the `webpack-dev-server` has a `proxy` config out of the box. Though we should do this work manually, but why there is no document for it? I don't even know the middle ware can be override by adding a `middleware.js`.

I am willing to create a PR for this part of doc.

[2017-08-03 05:48] igor-dv commented on #1581
@levithomason

We've discussed it here: https://github.com/storybooks/storybook/issues/1506

So I've added the console warning to this..

[2017-08-03 08:11] ndelangen commented on #208
A PR on our docs to improve the information regarding `middleware.js` would be fantastic!

[2017-08-03 08:13] ndelangen commented on #1572
My idea is the path to the file is wrong 😆

Looks like it should be `'../img/buttons/radio.svg'` ?

[2017-08-03 08:15] ndelangen commented on #1572
I'll close this issue, as I think the remaining problems are not really 'Storybook for Vue'-related. Feel free to re-open if you disagree or find a bug!

[2017-08-03 08:15] #1572 closed

[2017-08-03 08:18] ndelangen commented on #1581
Is the console warning shown in this case? We can't see in the screenshot.

I think the correct behavior would be to accept the new story being injected, but show a warning in the console (PR welcome), and show an individual warning if `module` is missing (implemented).

What do you think @igor-dv ?

[2017-08-03 08:20] djyde commented on #208
I will work on it. 😋

[2017-08-03 08:53] stuff commented on #1579
got the same error with addon-actions

[2017-08-03 09:42] tirli commented on #892
@epicallan I tried to use your regexp from docs and I have a file named `tooltip.DontTest.stories.js`. But the story still not skipping :( Could you please tell me what I'm doing wrong?

[2017-08-03 09:44] igor-dv commented on #892
@tirli
Can you please share your regex ?

[2017-08-03 09:46] tirli commented on #892
@igor-dv The same as in docs: `storyKindRegex: /^((?!.*?DontTest).)*$/`

[2017-08-03 09:52] igor-dv commented on #892
storyKindRegex is for the storyKind (the first parameter you provide to the `storiesOf(...)`), but not for the story file name..  I think currently is not possible to filter stories by files..

[2017-08-03 09:54] ndelangen commented on #1579
Does any of you have a codebase with this problem I can take a look at?

[2017-08-03 10:01] tirli commented on #892
@igor-dv Now it works :) Thank you

[2017-08-03 10:41] bmv437 commented on #1311
Any way to make it support markdown?
Similar to
https://github.com/storybooks/storybook/blob/master/addons/info/src/components/Story.js#L222

[2017-08-03 11:32] captainkovalsky opened #1585 "How to disable escaping for svg-inline-loader?"
Hi guys,

Svg-inline-loader escapes characters inside svg.

like this
[code]

Does svg-inline-loader works with storybook?

[2017-08-03 11:34] #1585 closed

[2017-08-03 13:45] 5revolutions commented on #1579
OK, so with a fresh project install, I see where it breaks down. Perhaps a dumb, non-Storybook environment issue on my end that I'm too dumb to understand? Step 4 below is where it goes wrong for me:

1. I created a fresh Create React App project.
2. I created a fresh Storybook install.
3. The default Storybook actions and link addons work fine.
4. But when I attempt to add addons per instructions

[2017-08-03 15:16] DaniyarJakupov opened #1586 "Storybook crashes when using Addon Knobs (evaluating this.props.channel.on)"
**Version**
App bootstrapped with create-react-native-app.
[code]
**Reproduction**
When I add withKnobs decorator to the story, storybook crashes with this error:

<img width="374" alt="screen shot 2017-08-03 at 17 04 20" src="https://user-images.githubusercontent.com/17025967/28928826-954d65c4-786e-11e7-8cb5-ef10576498e4.png">

<img width="864" alt="screen shot 2017-08-03 at 17 09 36" src="https:

[2017-08-03 15:38] kazupon commented on #1573
fixed, and I provided the storybook example.
please check vue-i18n v7.1.1

https://github.com/kazupon/vue-i18n/tree/dev/examples/storybook

[2017-08-03 15:38] #1573 closed

[2017-08-03 16:34] rkichenama commented on #1586
I am not sure why, but when I `npm i -D react-inspector` everything got fixed.

[2017-08-03 16:34] rkichenama commented on #1579
I am not sure why, but when I `npm i -D react-inspector` everything got fixed.

[2017-08-03 16:55] TrevorEyre commented on #1352
I agree with @psimyn, it looks like this is fixed. Tested in IE 11 on Windows 8.1. @ndelangen, I think this issue can be closed.

![screen shot 2017-08-03 at 10 53 59 am](https://user-images.githubusercontent.com/6662070/28933405-2c3a6ea8-783a-11e7-97ab-e3f472ca4ad9.png)

[2017-08-03 17:48] Billydubb commented on #1567
At step 3. I get the error `'websocket: connection error', 'Failed to connect to localhost/127.0.0.1:7007'`.
![screen shot 2017-08-03 at 7 48 04 pm](https://user-images.githubusercontent.com/1459741/28935394-b6fffdd8-7884-11e7-8ffd-11468d381957.png)

[2017-08-03 18:06] kazupon commented on #1529
ue is possible to write simple DOM wrapping like `story` component due to be able to write HOC.
The below link helps us a lot:
https://github.com/vuejs/vue/issues/6201

I'll try to support decorator for Vue.

[2017-08-03 18:12] Billydubb commented on #1567
I just tried the same sequence of steps on iOS and there it works without a problem. This seems to be somehow Android related.

[2017-08-03 18:32] thomaskuntzz commented on #1580
I updated the issue description 😉

[2017-08-03 18:37] Billydubb commented on #1567
Got help in the storybooks slack channel.

After step 3 you have to run
`adb reverse tcp:7007 tcp:7007`
to route any traffic to the 7007 port on the emulator to the 7007 port on the local machine.

[2017-08-03 18:40] moimikey commented on #729
this is also another interesting thing for sandboxing storybook https://github.com/Wildhoney/ReactShadow

[2017-08-03 19:27] Hypnosphi commented on #1580
The simplest use case is a component that expects children

[2017-08-03 19:36] edoroshenko opened #1588 "Warnings about missing `selectedKind` and `selectedStory`"
Steps to reproduce:
1. Go through installation guide (https://storybook.js.org/basics/slow-start-guide/)
2. Open `http://localhost:9001/` (without query string!)
3. Open console

Result:
<img width="503" alt="screen shot 2017-08-03 at 21 30 48" src="https://user-images.githubusercontent.com/1292187/28939904-2772ce02-7893-11e7-8ef9-f15a7bbdac3a.png">

Expected result: clean console.

Additional inf

[2017-08-03 21:01] kbherbert opened #1589 "'getstorybook' yields: 'Unable to get local issuer certificate'"
Super stoked about Vue support! We are running through the setup on an internal repo that is inside a corporate firewall. Typically, when I install npm modules, I have to use the `strict-ssl=false` setting in my `.npmrc` to get around this error.

When running `getstorybook` within my Vue repo, I consistently get the following error:

[code]

I assume this command is trying to download other packa

[2017-08-04 00:17] tmeasday commented on #1529
@kazupon am I right to say if we follow those patterns, we would want to get passed a Vue `Component` instance rather than a set of options (which is basically the input to `new Component()`), which is what is currently passed around?

I do wonder whether the storybook API should be something like:

[code]

Rather than:
[code]

I'm not really sure and far from a Vue expert, so of course I totally

[2017-08-04 03:21] sky790312 commented on #1573
awosome! Thanks.

[2017-08-04 05:57] #109 closed

[2017-08-04 08:01] macrozone commented on #1540
@ajwhite that's true, but i want to highlight that the prop-types package work with react 14, 15 and 16: https://www.npmjs.com/package/prop-types

[2017-08-04 11:55] bellomimarc commented on #1588
I have the same issue.
Prev version (no issues) : 3.1.7
Actualy version (with issue): 3.2.3

[2017-08-04 12:05] macrozone commented on #284
I got still the same error on react-native. any idea?

[2017-08-04 12:36] slorber commented on #1570
I have the same issue:

[2017-08-04 12:38] mnmtanish opened #1593 "React Native: Decorators may get applied multiple times"
Moved issue: https://github.com/storybook-eol/react-native-storybook/issues/50#issuecomment-320232611

Hi @macrozone
Shall we continue discussing the issue here. Thanks

[2017-08-04 12:43] slorber commented on #1570
I can confirm the hack of @hakimelek solves the problem. Here's how to handle it if you normally use extension mode you have to apply the merge manually:

[code]

[2017-08-04 12:57] Hypnosphi commented on #1588
Looks like we jus should select the first story of the first kind by default. Feel free to file a PR

[2017-08-04 13:11] Hypnosphi commented on #1540
Looks like this will warn in 15.6 and break in 16

[2017-08-04 16:01] shilman commented on #1540
@ajwhite why complicate things? Shouldn't we just move to `prop-types` and be done with it?

[2017-08-04 16:02] gihrig commented on #1059
I ran into this issue, it was a config problem as outlined above.

But it would be nice if the error message better described the problem. E.g. check for a "no stories found" condition and report that before failing with a deep internal error.

[2017-08-04 16:15] ajwhite commented on #1540
Given @macrozone's findings -- sounds like we can move over without a problem on the compatibility fronts 👍

[2017-08-04 17:27] Hypnosphi commented on #1570
`storybookBaseConfig.plugins.pop();`

It relies on the fact that uglify plugin is first, I use `plugins = plugins.filter(plugin => plugin.constructor.name !== 'UglifyJsPlugin'` instead (when addressing an issue with third-party addon)

[2017-08-04 18:09] swellingt0n commented on #1361
@shilman I am having the same problem when using Nexus as a proxy for the npm registry.
[code]
outputs

[code]

[2017-08-04 18:11] lokywin commented on #1520
Hi @hellobrian since you mentioned `storybook-addon-a11y` I have been trying to use it but so far unsuccessful to get it run. Do you have any tips for enabling it? I followed the instructions here (https://github.com/storybooks/storybook-addon-a11y) I am on storybook v2.35.3.

Thanks for any tips and sorry for hijacking this thread.
![28953067-77d1a692-788a-11e7-8cc1-0d230681a304](https://user-ima

[2017-08-04 18:16] hellobrian commented on #1520
Yeah, here's our React component library where we're using it:
- [.storybook/addons.js](https://github.com/carbon-design-system/carbon-components-react/blob/master/.storybook/addons.js#L3)
- [.storybook/config.js](https://github.com/carbon-design-system/carbon-components-react/blob/master/.storybook/config.js#L4-L9)

Hope this helps!

[2017-08-04 18:26] mauzepeda opened #1596 "Can't setup in existing Vue project"
I followed the instructions as specified (run get storybook). I get the following errors (related to dependencies it seems).
[error.log.zip](https://github.com/storybooks/storybook/files/1201280/error.log.zip)

[2017-08-04 18:31] ntucker commented on #877
This change breaks HMR for me. I never had a problem with decorators in the past. Anyone have some tips on how to change my config? I just add decorators then load the stories, which is how the docs say to do things...

[2017-08-04 18:44] lokywin commented on #1520
Thank you very much @hellobrian for a prompt response. You replied quicker than I could type. BTW, I ❤️  you and your team's work on Carbon. The fact that you guys also care for a11y is 🎉  🙇

[2017-08-04 19:47] ndelangen commented on #1596
It seems the project type was undetected, this means the storybook CLI was unable to determine what to add.

Try setup/add storybook manually (it's not that hard!)
I have an example here:
https://github.com/ndelangen/storybook-vue-example

You need to:
- add the dependencies
- add the `.storybook` folder.
- add stories

I hope this helps you.

[2017-08-04 19:52] slorber opened #1597 "RFC: knob button to memoize or refresh dynamically computed props"
Hi,

I'd like to have a new knob in the knob extension that would permit to `regenerate` the data I feed to the displayed component.

The idea is that currently you have the choice between making the data static, by assigning it to variables, or dynamic, which means your component might not look "stable" if you move the knobs.

Static is annoying due to having to do F5 to have new generated data,

[2017-08-04 21:04] jebeck commented on #934
I commented on [the outdated original issue](https://github.com/storybook-eol/react-storybook-addon-info/issues/59), and now that that's been closed, I found this open issue, so I'll copy my comment over in case it's useful for anyone else: in cases where a wrapper is unavoidable (e.g., a story for an SVG component that requires a top-level `<svg>` wrapper), you can specify a `propTablesExclude` o

[2017-08-05 07:43] #1352 closed

[2017-08-05 10:16] michaltaberski commented on #1565
@sapkra I don't like the slow tree animations neither.

I made a pull request where you can set a flag `sidebarAnimations` to `false` in order to disable the animations.

https://github.com/storybooks/storybook/pull/1601

@ndelangen could you take a look at https://github.com/storybooks/storybook/pull/1601 and tell me what you think?

[2017-08-05 11:03] slorber opened #1602 "Info addon: prettify the source?"
Hi,

I think it would be nice if in the info addon, the source would be run against a tool like Prettier, it will be certainly more readable than current form:

![image](https://user-images.githubusercontent.com/749374/28995044-68f066b8-79de-11e7-8335-2e140b1f070b.png)

[2017-08-05 13:24] slorber commented on #1597
Another quite related idea could be to have a button in knobs to force a remount of the component. Currently when you move knobs the component only re-renders, but sometimes the knobs only have effects on component initialization so they are quite useless (think a component initialized with `state = {text: props.text}`, for a text editor)

One workaround is to use a knob that can output different

[2017-08-05 15:40] UsulPro commented on #1602
@slorber I think it's a good idea!
Do you want to make a PR for that?

[2017-08-05 16:39] slorber commented on #1602
I can try :)

[2017-08-05 16:56] slorber commented on #1597
By the way, I think it would be very handy to allow users to implement custom knobs. Currently it seems not supported but it could probably. What do you think?

I tried the following hacks without success:

[code]

[2017-08-05 17:16] slorber commented on #1602
As far as I understand, the source is rendered from an VDOM representation with a custom recursive rendering logic, so using Prettier here means we would remove a lot of the current code (and available options) because we would probably run Prettier directly against a string.

Is it something to consider?

Otherwise it's probably possible to create more display options based on current code. `maxP

[2017-08-05 19:18] UsulPro commented on #1602
Yes, it looks like this!
But I guess having the source as a string could be a useful feature in the next stages.

@slorber You can check out this example: https://github.com/UsulPro/storybook-styleguidist
it generates markdown from the stories sources. Can't promise that it's the best solution, but maybe it could be useful as a starting point.

[2017-08-05 19:39] ziedhajsalah opened #1603 "Can't import css"
I am trying to use storybook for the first time. In my project I am using blueprintJs as UI library so to test my components I need to import the css file for blueprint.
According to the docs

In the `.storybook/config.js` I added an import like this:
[code]
Unfortunatly that does not work and I got this error:

[code]

[2017-08-05 19:45] slorber commented on #1602
@UsulPro I'm not sure why you want to use markdown to display the source.

For me the simplest option would probably be:

- Convert vdom to string with https://github.com/algolia/react-element-to-jsx-string
- Apply prettier on string
- Load pretty string in code block with syntax highlighter

This would remove the burden of maintaining a custom vdom renderer and we could also expose prettier optio

[2017-08-05 22:09] UsulPro commented on #1602
it's a fork of `addon-info` and just generates text string with the source of the story component.

Maybe you're right and some existing package will be better, but not sure that react specific solution has a future in a sense that we're going to support other frameworks soon

[2017-08-05 22:33] Hypnosphi commented on #1603
If you want to import CSS, you may need to specify a custom webpack config to your `.storybook` directory (default mode should be enough): https://storybook.js.org/configurations/custom-webpack-config/#default-mode

[2017-08-05 22:47] Hypnosphi commented on #1603
So looks like we should either include `node_modules` in default css loader config, or remove the `from NPM modules` line from docs. I vote for the former =)

[2017-08-05 23:01] ziedhajsalah commented on #1603
Same thing after adding my custome css-loader to `.storybook/webpack.config.js`
[code]

[2017-08-05 23:07] Hypnosphi commented on #1603
Try to add `include: require.resolve('@blueprintjs/core')` into loader config

[2017-08-05 23:28] ziedhajsalah commented on #1603
@Hypnosphi , same error.
I tried to copy the css file from the `node_modules` and put it in `.storybook` folder and import it and the same result, It does not import any css file from any directoroy.

[2017-08-05 23:36] Hypnosphi commented on #1603
That's weird. Are you using webpack 2 or higher?

[2017-08-05 23:53] Hypnosphi opened #1604 "`getstorybook` package should warn that it's deprecated"
And suggest to install `@storybook/cli`

[2017-08-05 23:55] ziedhajsalah commented on #1603
I am using webpack 3

[2017-08-06 00:14] ziedhajsalah commented on #1603
@storybook/react: 3.2.3

[2017-08-06 01:35] mauzepeda commented on #1596
nom install wasn't working, yarn install did the job (+manual setup).

[2017-08-06 02:32] psimyn commented on #1603
Since Blueprint also imports fonts, this could by failing due to a `@font-face`

Can you try adding file-loader or url-loader to your config?

[code]

(from https://github.com/webpack-contrib/css-loader/issues/38)

You can also try `rm -rf node_modules` then reinstall.

Otherwise there is this ongoing css-loader issue that might one day have answers - https://github.com/webpack-contrib/css-loader/

[2017-08-06 10:20] ziedhajsalah commented on #1603
@psimyn , thank you. But I tried to import a css file that I created only to test this, it contains only one css rule about 3 lines:
[code]
and the same error persists.
I also moved from my own configuration to create-react-app and that does not change any thing.

[2017-08-06 11:08] psimyn commented on #1603
@ziedhajsalah that is odd - you get the `@charset "UTF-8";` error with that 3 line CSS file?

Have you restarted storybook/webpack processes when making these changes?

[2017-08-06 11:23] ziedhajsalah commented on #1603
The Error is always
[code]

[2017-08-06 11:33] psimyn commented on #1603
change `loaders` to `rules`

[code]

[2017-08-06 11:56] ziedhajsalah commented on #1603
Nothing is changing!

[2017-08-06 12:23] Hypnosphi commented on #1603
Can you please create a GitHub repo with the same storybook setup as yours, so that we can maybe see what's not working?

[2017-08-06 12:31] ziedhajsalah commented on #1603
Ok, I wrapped it into create-react-app to make things simpler.
[The repo](https://github.com/ziedhajsalah/story-issue)

[2017-08-06 13:34] Hypnosphi commented on #1603
Things start working for me if I remove the empty webpack.config.js

[2017-08-06 13:44] ziedhajsalah commented on #1603
@Hypnosphi the same for me!!!

[2017-08-06 13:54] Hypnosphi commented on #1603
If I do this
[code]

it works for `style.css`, but not for external module. So I have to include all the project, and add `url-loader` for fonts:

[code]

[2017-08-06 14:00] ziedhajsalah commented on #1603
Thank you for the help @Hypnosphi . It worked finally.

[2017-08-06 14:02] #1603 closed

[2017-08-06 21:54] Hypnosphi opened #1606 "Tree animations perform poorly when knobs are present"
It's easy to reproduce if you move the 'with knobs' story on the top of the 'Button' group in `examples/cra-kitchen-sink/src/stories/index.js`:

<details><summary>gif</summary>
<img src="https://user-images.githubusercontent.com/6651625/29007386-e937c8ca-7b0a-11e7-9d1e-bc0769a0e318.gif">
</details>

I'm not really sure, should we fix it on the side of knobs, tree, or both

[2017-08-06 22:21] CGamesPlay commented on #484
I have this same problem. When `MuiThemeProvider` is used from a decorator, hot reloading fails. Here is a repository which demonstrates: https://github.com/CGamesPlay/storybook-484

[2017-08-06 22:43] tuckerconnelly commented on #1459
I got around this by doing:

`npm i serve`

[code]

[2017-08-07 09:30] srph opened #1608 "build-storybook: Improve file deletion"
I found out that `build-storybook` appends `static` to the folder name, so:

[code]

Spouts everything to `storybook/static/static`. I just wanted to put everything storybook related inside the `storybook` directory, so I assumed that:

[code]

Would just make a `static` folder on the `storybook` folder.

But instead, it deleted everything and spouted an error: `Create a storybook config file in "

[2017-08-07 11:34] #1596 closed

[2017-08-07 11:36] ndelangen commented on #1608
AW SH🛑T, sorry man, I hope you didn't lose too much work.

[2017-08-07 11:38] ndelangen commented on #1604
Yeah, I'm talking with @mnmtanish and @arunoda about getting access to those packages, so we can deprecate all the old packages.

[2017-08-07 11:43] ndelangen commented on #1589
All packages we download are on the public npm registry.

Some packages use a namespace (`@storybook`), maybe this is causing you some issues, if you're using a proxy.

see: https://github.com/storybooks/storybook/issues/235

[2017-08-07 11:43] #1589 closed

[2017-08-07 12:08] srph commented on #1608
Nah it's fine. If anybody wants to pick this up, let us know. I'm interested to fix this soon, but I think I have a feeling that this upcoming week might be busy.

[2017-08-07 12:10] Gongreg commented on #803
Hey, @idris.
Those dependencies are used in manager side of addon (in browser). There both inser-css and react-dom do work :)

[2017-08-07 14:27] dfagan2 commented on #1579
I'm struggling through this as part of the upgrade to v3.2 (things were working fine before that). Getting this "emit" error among others that seem related, when trying to re-introduce the Knobs addon. All seem to stem from the a null channel

With:
[code]

The established syntax of `.addDecorator(withKnobs)`

I'm getting:
[code]

Have trashed my `node_modules` directory and reinstalled, per the s

[2017-08-07 16:03] shilman opened #1609 "Add multiple project roots to react-native CLI"
## why

So you can add components from from source that is located outside of your example app. E.g.

https://github.com/storybooks/react-native-elements/tree/master/example

Currently you have to either copy the components into your app (which sucks) or reference them from the library (which sucks less, but means you need to link ... which RN doesn't support? or deploy to NPM).

## what

Add `--p

[2017-08-07 16:03] keabard commented on #484
Same problem here, testing my components wrapping material-ui own components, with Storybook and Specifications add-on.

Used addDecorator in my config.js file :

`
import MuiThemeProvider from 'material-ui/styles/MuiThemeProvider';
import getMuiTheme from 'material-ui/styles/getMuiTheme';
addDecorator(story => (
  <MuiThemeProvider muiTheme={getMuiTheme()}>
    {story()}
  </MuiThemeProvider>
));

[2017-08-07 16:44] shilman opened #1610 "Markdown linting configuration is broken"
## why

When I try to check in markdown changes, the linter automatically "fixes" the markdown with changes like this:

<img width="826" alt="storybooks_storybook" src="https://user-images.githubusercontent.com/488689/29036574-d9fe332c-7b54-11e7-8527-a550b89563f3.png">

This breaks the docs site, as you can see here:

https://storybook.js.org/basics/faq/#why-is-there-no-addons-channel

1. FAQ is n

[2017-08-07 16:47] shilman commented on #1579
@dfagan2 do you have a public repo I could look at?

[2017-08-07 16:54] dfagan2 commented on #1579
Unfortunately no, the client I'm working for has put me up in a private repo. Is there additional context or snippets I can provide?

[2017-08-07 17:14] CGamesPlay commented on #484
Note that my test case repository does not include `injectTapEventPlugin` nor does the stack trace include that method.

[2017-08-07 18:16] shilman commented on #1579
@dfagan2 do you have any yarn/npm lockfiles around? if so, try nuking those too.

[2017-08-07 18:26] dfagan2 commented on #1579
Aha! that was it, had a lingering `package-lock.json`. Deleting that and re-running `npm install` appears to have cleared it up.

Thanks for the tip!

[2017-08-07 18:55] #871 closed

[2017-08-07 20:04] UsulPro commented on #1604
@ndelangen if you want to update `getstorybook` package, I have access to it on npm

[2017-08-07 20:21] Hypnosphi commented on #1608
So, to be clear, do you want to have storybook's `index.html`, `iframe.html`, and `favicon.ico` in the same directory as the configs?

[2017-08-07 20:41] alonbardavid opened #1611 "React-native device menu looks bad when RTL"
![screenshot_20170807-232805](https://user-images.githubusercontent.com/4058321/29044458-3dd124ae-7bc8-11e7-9439-704f767fa6e2.png)

When the android device is set to RTL (such as with hebrew), the menu that shows up on device when using React-native storybook obscures the content by default and when click on the header, instead of hiding it, it just docks it to the left.

I'm using:
@storybook/rea

[2017-08-07 20:43] Hypnosphi commented on #1608
At the same time, I'm not sure that we should clear anything automatically. Webpack doesn't, so why should we?

[2017-08-07 21:40] shilman commented on #1611
@ajwhite is this related to your backwards-compatible menu change?

[2017-08-08 01:49] psimyn commented on #1563
this looks like you are missing webpack as a dependency - is it included in your package.json?

If so, can you try running `npm install` again?

[2017-08-08 03:28] KaySackey opened #1614 "Setting showLeftPanel does nothing without showDownPanel"
If showLeftPanel is true, the left panel isn't shown unless showDownPanel is true.

I'd suggest merging these two into a single option like `panelLocation: "left" | "right" | "none"`

[2017-08-08 03:40] jonathanong opened #1615 "disable specific tests for snapshot testing"
I have some dependencies that are not deterministic, so I can't really run snapshot testing on components that use them. is there a way to disable snapshot testing for specific stories?

thanks!

[2017-08-08 03:46] shilman commented on #1615
https://github.com/storybooks/storybook/tree/master/addons/storyshots#storykindregex

[2017-08-08 03:46] #1615 closed

[2017-08-08 05:40] vamsiampolu commented on #1570
@ndelangen why does storybook's static build even require minification, would it not be beneficial to leave it unminified because the end users might want to check the output in react developer tools to see the components if this tool is meant for development?

[2017-08-08 06:04] Hypnosphi commented on #1570
Only in [full control mode](https://storybook.js.org/configurations/custom-webpack-config/#full-control-mode) (the one used in snippets above)

[2017-08-08 06:09] Hypnosphi commented on #1570
Well, it's only half true. It's [supported](https://storybook.js.org/configurations/custom-babel-config/), but only in form of local `.babelrc` file

[2017-08-08 06:56] duro commented on #877
I am implementing a decorator exactly as @ntucker describes and using Storyshots. I have one test that sets's up Storyshot, and it looks like this:

`src/components/__tests__/Storyshots.test.js`:
[code]

That's it. The rest of my config is all contained in `.storybook/config.js`, which looks like this:

[code]

[2017-08-08 06:59] srph commented on #1608
No, just that it puts things inside the `<output>/static` folder but at the same time deletes everything inside the `<output>` folder.

[2017-08-08 07:47] Hypnosphi commented on #1608
Looks like we need this extra folder for webpack output

[2017-08-08 09:47] Hypnosphi commented on #1614
That's how storybook UI looks with
[code]
<img width="1434" alt="screen shot 2017-08-08 at 12 42 24" src="https://user-images.githubusercontent.com/6651625/29066197-28b839f8-7c37-11e7-91ab-72a97bcad782.png">

Left panel (the one with navigation) is shown

Honestly, I find this naming (`showLeftPanel`, `showDownPanel`, and especially `downPanelInRight`, which is called "Action Logger position" in t

[2017-08-08 10:31] batjko opened #1619 "Separator for nested stories not working"
I've just set up Storybook for my project, and following [the docs](https://storybook.js.org/basics/writing-stories/#nesting-stories), I am trying to create a folder structure of sorts, e.g.:

[code]

But the `/` separator seems to have no effect:

![selection_152](https://user-images.githubusercontent.com/7287076/29067932-a02f1dcc-7c2c-11e7-9e30-13030c4d1831.png)

Storybook React: *v3.2.3*
OS: *L

[2017-08-08 10:34] batjko commented on #1619
Never mind...
I had previously copied the whole options object from the options addon into my code (because one might use all those properties in the future, right?).
It has a `hierarchySeparator` option I wasn't aware of, and it sets it to `null`. :disappointed:

Anyway, all solved by setting that option back to `'/'`.

[2017-08-08 10:34] #1619 closed

[2017-08-08 13:22] testerez opened #1620 "storyshots: decorators are part of the snapshots"
When testing with storyshots, the decorators added with `addDecorator` are repeated in every snapshots. It would be great if the snapshots contain only the stories.
Is there any way to do it?

[2017-08-08 14:46] tuanh118 commented on #213
The red error `'Symbol' is undefined` is still happening for me with version `2.31.0`. I tried following this guide https://babeljs.io/docs/usage/polyfill/, but couldn't figure out what the "entry point" is. Can someone help?

[2017-08-08 16:20] Hypnosphi commented on #1570
Well, this is exactly the "issue with third-party addon" I was talking about =) My solution was to disable UglifyJS, but if you want to target pre-ES6 browser, looks like you have to transpile that module (and its dependency `get-own-enumerable-property-symbols`) along with your code.

[2017-08-08 18:09] josefarfetch opened #1622 "Calling a component inside select knob"
Hey guys,
I'm trying to create a component (Button) which uses one of its properties to call other component (icon).

Ex:
**Component**
`import { arrow, star } from './icons';
<Button icon={arrow} />`

**Story**
`
storiesOf('Components', module)
  .add('Button', () => (
    <Button
      icon={ select(label, options, default) }
    </Button>
))
`

I wanted to create a story with a select knob in o

[2017-08-08 18:28] UsulPro commented on #1622
HI @josefarfetch

I'm afraid it's impossible to pass React Component by Knobs Addon!
It's because all data sent from stories (which executes in iframe) to UI panel should be serialized/deserialized.

But you can send a type of icon:

[code]

And then use Knobs to select this type

[2017-08-08 18:35] joefraley commented on #1328
So I'm pretty sure that this issue is caused by custom webpack config collisions, but I'm not sure how or what specifically yet. Here's what I've done to reproduce:

[code]

[2017-08-08 18:57] seniorquico opened #1624 "Resizing the preview iframe"
Is there an available method to style or resize the preview iframe?

I would like to preview my components at various "screen sizes" to test some responsive CSS rulesets. Right now, I have to go fullscreen and resize the browser or enable the device mode using Chrome/Safari devtools. I could see making the testing workflow for a scenario like this much easier if the navigation menu could remain vi

[2017-08-08 18:57] duro opened #1625 "Global decorators cause Storyshots to fail"
Surfacing this again from #877.

When I add a global decorator to `.storybook/config.js` it cuases my Storyshot tests to fail with:

[code]

[2017-08-09 00:51] duro commented on #1059
@igor-dv I am still getting this on a fresh install of CRA + Storybook as soon as I use the dynamic loading of modules

I am using the convention of creating stories inside files named `story.js`

So right now my structure is:

[code]

My `config.js` looks like this:

[code]

I reproduced this by simply doing a fresh CRA with version `1.3.3` and then `npm install -D @storybook/cli` then `npx getst

[2017-08-09 01:14] JasonCoal commented on #1059
On Aug 4, 2017 12:02 PM, "Glen Ihrig" <notifications@github.com> wrote:

I ran into this issue, it was a config problem as outlined above.

But it would be nice if the error message better described the problem.
E.g. check for a "no stories found" condition and report that before
failing with a deep internal error.

—
You are receiving this because you are subscribed to this thread.
Reply to this

[2017-08-09 02:35] Hypnosphi commented on #1624
<details><summary>Have you tried this?</summary>
<img src="https://user-images.githubusercontent.com/6651625/29102832-70eccf12-7cc4-11e7-80f3-a9e7722e8efe.gif">
</details>

[2017-08-09 03:05] Hypnosphi commented on #213
`.storybook/config.js` is what you're looking for I think

[2017-08-09 03:49] seniorquico commented on #1624
@Hypnosphi Did you intend to include a link or reference?

[2017-08-09 07:11] UsulPro commented on #1624
@seniorquico It's default behavior of Storybook UI

[2017-08-09 10:48] Hypnosphi commented on #1624
@seniorquico please click on "Have you tried this?" above

[2017-08-09 10:55] vhflat opened #1630 "Unable to install because package doesn't have certificate"
When trying to run `npm install @storybook/cli` I get the following error.
I could set strict-ssl = false, but I can't really do that beacuse its not safe.

npm info using node@v7.7.4
npm verb request uri https://registry.npmjs.org/@storybook%2fcli
npm verb request no auth needed
npm info attempt registry request try #1 at 12:37:05
npm verb request id 6bd6d99e44b72a3e
npm verb etag W/"597f3b21-91e

[2017-08-09 12:14] mjurczyk opened #1631 "RangePicker with Scale"
It may be useful in some use-cases to show the `min` and `max` available values next to the `<input type="range" />` as a scale.

https://github.com/storybooks/storybook/blob/4d4581bad176afcd735ad959412ad5dc9511643f/addons/knobs/src/components/types/Number.js#L42

---

Since range has a discreet set of values, maybe something similar to, with marked `min` and `max` on the sides:

https://developer

[2017-08-09 12:18] mjurczyk opened #1632 "NumberPicker with Min and Max"
Currently `number` knob does not allow setting `min` and `max` values, which are a very common use-case.

---

https://github.com/storybooks/storybook/blob/4d4581bad176afcd735ad959412ad5dc9511643f/addons/knobs/src/components/types/Number.js#L25

[2017-08-09 14:20] seniorquico commented on #1624
@Hypnosphi Weird, the expanding block doesn't work on Chrome 60 on my Win10 touch device. Got it on my phone.

Yes. I can resize the pane manually and observe the responsive changes. That's what I've doing up to now. Having to test at multiple viewport sizes, I found the select menu with pre-defined options in the device mode of Chrome/Safari devtools much easier than manually resizing. However, t

[2017-08-09 14:57] jonambas opened #1633 "[addon-info] story source misleading without curly braces"
This is a very minor issue, but can be anoying when trying to copy/paste source.

Example source
<img width="980" alt="screen shot 2017-08-09 at 10 52 48 am" src="https://user-images.githubusercontent.com/3903325/29128204-28179b78-7cf1-11e7-95fe-d296d0272038.png">

Prop values should be surrounded with `{ }` eg: `<Tabs selected={0} />`

[2017-08-09 15:43] UsulPro commented on #1633
@jonambas Thanks for reporting this issue!
Do you want to help us to solve this?

[2017-08-09 15:49] UsulPro commented on #1633
btw here is a discussion about "Story Source" improvement #1602

[2017-08-09 15:52] UsulPro commented on #1602
Our own solution isn't ideal as well. So maybe we could switch framework specific tools depending on what Storybook is running?
cc: @shilman

[2017-08-09 20:36] plitex commented on #1466
+1 Having same issue

[2017-08-09 22:58] shilman commented on #1602
I like @slorber 's proposed solution and would love to see a PR.

Regarding support for multiple frameworks, I'd propose we either just add custom code to the addon to support other frameworks, like in `addon-knobs`:

[code]

Alternatively we could create packages for each framework, e.g. `addon-info-react`.

[2017-08-09 23:24] jrmurad opened #1634 "cases when not unmounting causes render failures in storybook and storyshots"
In my decorator, I reset global state to empty with redux.

In each story, I dispatch actions which set the required global data for the component to be rendered.

When I use my browser's refresh while on such a story or go directly to its URL, I get an error page because it:

1. runs story fine
2. for some reason, runs the story again
3. this causes the decorator's reset to run
4. the reset clear

[2017-08-10 00:05] Hypnosphi commented on #1539
Ok, so #1551 fixes the symptoms, but the origin of the problem is `react-komposer` adding refs to children [just for tests](https://github.com/arunoda/react-komposer/blob/master/src/tests/compose.js#L79). I will send them a PR, but unfortunately the repo looks [abandoned](https://github.com/arunoda/react-komposer/issues/127#issuecomment-286835563), so we should probably switch to [recompose](https

[2017-08-10 07:26] Gongreg commented on #1586
@DaniyarJakupov, I found the issue, I am working on pr to fix it. I should be able to fix it today.

[2017-08-10 07:35] matsumatsu233 commented on #892
Hi, I'm finding a way to separate the snapshots generated by storyshot. I read the README of storyshot and found here.
[code]

This statement indicates that if I use this option, then the snapshots will be separated and be placed nearby each component's source code. I gave it a try but just found the generated snapshots are stilled merge into a big file. The regex works well.

So, do I misundersta

[2017-08-10 07:36] shilman commented on #1464
This was a library multiple versions issue fixed by @ndelangen's package hoisting fix. Closing.

[2017-08-10 07:36] #1464 closed

[2017-08-10 10:18] igor-dv commented on #892
@matsumatsu233

Today the only way to do what you want is creating a storyshot.test.js for each story separately. For example having `Button.stories.js` file you can create `Button.storyshots.tests.js` and configure it to take only the kind from `Button.stories.js`.

The limitation is from the Jest's side that do not support multiple snapshots per test file.

But we have this #1584 PR that will pr

[2017-08-10 12:01] matsumatsu233 commented on #892
@igor-dv Thank you very much! I will try to create test file for each component, and I'm looking forward to #1584 :)

[2017-08-10 15:57] clementoriol opened #1637 "Global decorators in config.js are removed after hot module reload"
Using the following package versions :
[code]

After adding global decorators in the config.js (before the configure function), the decorators work as expected (addon-info is here, addon-knobs works, etc.), but as soon as I save one of my file (a story for exemple), Storybook hot-reloads and the decorators are gone. Knobs doesn't work anymore, my custom decorator for wrapping the Preview component

[2017-08-10 16:49] #1608 closed

[2017-08-10 17:08] srph commented on #1608
Thank you, @Hypnosphi 🤜 🤛

[2017-08-10 20:39] ndelangen commented on #1565
I think that it's merged!

I hope it's ok if I close this issue then.

[2017-08-10 20:39] #1565 closed

[2017-08-10 20:43] #1579 closed

[2017-08-10 21:08] ndelangen commented on #213
Yeah that'd be it, another option would be to add your entrypoint in a custom webpack config.

[2017-08-10 23:29] Hypnosphi commented on #213
In fact, it can be be as simple as
[code]

[2017-08-11 03:53] kaiyoma commented on #213
I just tried these suggestions and it's still not working for me. I installed `babel-polyfill` and then tried adding it as the only entry point to my config and also tried importing it in the main file; no change in behavior.

[2017-08-11 10:31] MrOrz commented on #933
Sorry for not writing back for so long.

Since my [last patch](https://github.com/MrOrz/react-storybook-addon-info/commit/c74d6d97ebb59d526b012c37089e11498b7fe6f2#diff-d54f967651cd0741dbae9b74fd8ed084) storybook has changed a lot. Seems that developers can now set [options that directly goes to `<PropVal>`](https://github.com/storybooks/storybook/blob/master/addons/info/src/components/PropVal.js#L

[2017-08-11 11:12] Gongreg commented on #1567
@Billydubb, I got into the same issue today. Maybe it would be nice to write about this somewhere in readme?

[2017-08-11 11:14] Billydubb commented on #1567
I already did add it to the readme:

"If you are using Android and you get the following error after running the app: 'websocket: connection error', 'Failed to connect to localhost/127.0.0.1:7007', you have to forward the port 7007 on your device/emulator to port 7007 on your local machine with the following command: adb reverse tcp:7007 tcp:7007"

[2017-08-11 11:31] Gongreg commented on #1567
@Billydubb Awesome! :) I will close the issue then.

[2017-08-11 11:31] #1567 closed

[2017-08-11 14:45] jomarquez commented on #475
the project I am trying to install playbook is using angular. i am running ```sb-create``` in the same location my package.json is located.

i am getting the same error as above
[code]

My project does not use React. Should I still install React to get this working. Also, where is the slow-start guide located?

[2017-08-11 18:22] ntucker commented on #1637
There are two other reports of this in the original issue whose PR merge created this bug: https://github.com/storybooks/storybook/issues/877#issuecomment-320321789

[2017-08-11 18:39] Hypnosphi commented on #213
Ok, looks like it should affect storybooks UI, not the stories itself. So you should `import 'babel-polyfill'` in `.storybook/addons.js`.

[2017-08-11 18:55] kwelch commented on #1586
Same for me, but installing react-inspector has not fixed the issue.

[2017-08-11 21:48] Hypnosphi commented on #213
A question to everybody getting the `Symbol` error. Which addons do you use? Looks like this error isn't present with default setup

[2017-08-11 21:51] kaiyoma commented on #213
I'm not using any addons and I don't have `addons.js` in my project.

[2017-08-11 21:55] Hypnosphi commented on #757
Looks like it's fixed with #1560: my IE11 renders Segoe UI in sidebar

[2017-08-11 21:55] #757 closed

[2017-08-11 22:08] Hypnosphi commented on #298
I'm not really sure that encouraging usage of browsers that don't get security updates is a good idea at all
https://www.xfive.co/blog/stop-supporting-ie10-ie9-ie8/

[2017-08-11 22:28] ndelangen commented on #298
I'm going to close this, this remains unresolved.

A PR **is** still welcome.

[2017-08-11 22:28] #298 closed

[2017-08-11 22:30] ndelangen commented on #213
@kaiyoma just create a file called `addons.js` in your storybook config folder (usually called `.storybook`. and import `babel-polyfill` in there.

[2017-08-11 23:05] deehuey commented on #1637
Any updates?

[2017-08-11 23:09] kaiyoma commented on #213
If I do that, the action logger panel at the bottom of the screen disappears entirely.

[2017-08-12 00:42] Hypnosphi commented on #213
yeah, you should manually include the default addons:
[code]

[2017-08-12 03:53] Temoto-kun commented on #1493
Same problem. I have CRA 1.3.3 and getstorybook 3.2.3. Didn't fiddle with webpack configs whatsoever. Oddly enough, it shows `React` app instead of `Create React App` when `getstorybook` is run (because `getstorybook` looks under `devDependencies`, not on `dependencies` for `react-scripts`, which CRA does install `react-scripts` under `dependencies` now).

I tried:

1. Making a webpack config in `

[2017-08-12 07:57] gihrig opened #1642 "CRA .env and NODE_PATH"
Does current Storybook/react support NODE_PATH? - Yes it does. See next entry below.

I see this was implemented in #528, That was merged nearly a year ago, using webpack 1? It's not working for me with current Storybook. The specified NODE_PATH works for CRA and its provided Jest, but storybook complains: `Error: Can't resolve 'components/...'`

See demo repo [here](https://github.com/gihrig/stor

[2017-08-12 11:21] Hypnosphi commented on #475
It would be handy to show a prompt with options when automatic detection fails

[2017-08-12 11:31] Hypnosphi commented on #475
@jomarquez we don't have `sb-create` command. Looks like you're trying to use another [similar tool](https://github.com/ui-storybook/sb) thats seems to support Angular 1, so you can open an issue about supporting later versions there.

But maybe you don't need to. Actually, we're working on supporting Angular 2+, you can track the progress in https://github.com/storybooks/storybook/issues/269

[2017-08-12 13:37] Hypnosphi commented on #213
@kaiyoma which version of `@storybook/react` do you have?

[2017-08-12 18:35] dbrrt commented on #1493
+1, I've got the same issue

[2017-08-12 18:36] gihrig commented on #1642
My problem came from assuming that because CRA reads and operates on an `.env` file with `NODE_PATH` that Storybook should do the same since it reads CRA's webpack.

[code]

That assumption is wrong: the `NODE_PATH` environment variable must be set prior to running Storybook. e.g. this, works:

[code]

[2017-08-12 18:36] #1642 closed

[2017-08-12 18:47] Hypnosphi commented on #1493
@Temoto-kun how exactly does the error look in your case?
@dbrtt same question for you

[2017-08-12 20:34] DaniyarJakupov commented on #1586
Just downgrade to "3.1.9" version. That should do the trick. At least it worked for me

[2017-08-12 21:42] kaiyoma commented on #1588
Yup, seeing this error too in Storybook 3.2.3. Also seeing an error about the `prop-types` package:

[code]

[2017-08-12 21:49] kaiyoma commented on #213
I realized I was actually still on the old `@kadira/storybook` (I inherited this project recently), so I upgraded to the "proper" Storybook 3.2.3 with React 15.5. I finally got it working, but I'm still having issues with actions in IE11. Now, when I click a UI element (to trigger an action), nothing happens. Nothing in the logger, nothing in the console.

Here's my `addons.js`:

[code]

Any ideas

[2017-08-12 23:15] ndelangen commented on #213
clean the entire node modules and all lock files, make sure everything storybook related is at the latest version and install anew.

make sure you're importing the right addons in your stories.

[2017-08-13 00:12] kaiyoma commented on #213
Yup, that did it! Thanks for all your help guys! 😄

[2017-08-13 00:16] #213 closed

[2017-08-13 00:16] ndelangen commented on #213
Happy to help @kaiyoma !

[2017-08-13 00:24] ndelangen commented on #1539
@Hypnosphi That sounds like the best course of action indeed! Will switching to recompose be easy you think?

[2017-08-13 00:32] ndelangen commented on #1624
We have a topic on our roadmap to create tooling inside storybook (via addons) that mimic Sizzy's behavior, and make it easy to send links to real mobile devices to view the selected story in a variety of screen-sizes etc.

If you would want to work with us to create it 🙇 that'd be awesome!

[2017-08-13 00:40] ndelangen commented on #1637
@clementoriol it would be super useful for anyone picking up this issue if there's a ready to go reproduction repo to clone. So it would help out tremendously if you could set that up? 🙇

Switching from 3.2 to 3.1 solved the issue for you? damn, so we introduced this bug recently. Sorry about that.

[2017-08-13 00:43] ntucker commented on #1637
@ndelangen FYI the bug is added here: https://github.com/storybooks/storybook/commit/8a48f80d78d7dcfc9d8e32b4ea68d26bca1fa189

[2017-08-13 00:45] philipithomas opened #1648 "VueJS Webpack Template Compatibility"
I just spent the better part of a day getting Storybook to work with our VueJS codebase, which is based on the [VueJS Webpack Template](https://github.com/vuejs-templates/webpack).

The hardest part was getting the webpack configurations to work. Loaders seemed to keep causing issues for many different kinds of files. We use some features beyond the base template such as custom font loading, impor

[2017-08-13 01:02] philipithomas opened #1649 "VueJS Stories - Binding to variables"
I'm trying to pass an image into a user profile component in Storybook. To normally do this, I use a require statement, then bind the image to that variable.

Is it possible to reference a dynamic variable, such an image, in a VueJS story? How would this be done?

[2017-08-13 01:44] Hypnosphi commented on #1539
Well, I haven't really digged into it, we should check that it provides the needed features. It may turn out that transferring react-komposer will be a better option (if that's OK for @arunoda)

[2017-08-13 02:27] kazupon commented on #1648
I'm contributing to make storybook available for vue users coommunity. However, My time is limited due to hard to work and Vue.js core team.

I hope your contributing. 👍

[2017-08-13 08:45] Gongreg commented on #1586
@DaniyarJakupov, @kwelch the pr is still not merged. So yes, for now switch to older version. I'll notify you when pr is merged.

[2017-08-13 09:04] UsulPro commented on #1539
if somebody is going to connect with @arunoda please ask about https://github.com/arunoda/podda as  well!

[2017-08-13 15:41] dbrrt commented on #1493
@Hypnosphi I solved it by adding a custom `webpack.config.js` file following the documentation.

[2017-08-14 07:50] benzaita commented on #1570
@ndelangen - shouldn't [this](https://github.com/storybooks/storybook/blob/a9944e1533de79ce4a1a2fd8d2b25aa450998147/app/react/src/server/config/babel.prod.js#L14) make sure it's transpiled to ES5?

[2017-08-14 09:25] miljan-aleksic opened #1653 "Decorators for Vue stories"
Hi, I wasn't able to make work decorators when using Vue Stories and the documentation only reference an react example.

Are those supported?

[2017-08-14 09:31] kazupon commented on #1653
WIP now.
https://github.com/storybooks/storybook/pull/1595

[2017-08-14 09:46] miljan-aleksic opened #1654 "Make storybooks more impartial"
I love the initiative to support other frameworks, and in that line of work, I would like to see less about react/vue and more about the storybooks as a whole. For example:

- The repo description is about React, only.
- The storybooks source code, even if react based, should not have react namespaces in the result. There are data named as `data-reactroot` which when using Vue lead to believe you

[2017-08-14 10:08] janryWang opened #1655 "When building a storybook, the path to the bundle file needs to be a relative path"
[code]
====>
[code]

[2017-08-14 10:49] TakeoffAndroid opened #1656 "Storybook react-native not working on Android. Another process using port 8081"
<img width="455" alt="screen shot 2017-08-14 at 1 15 28 pm" src="https://user-images.githubusercontent.com/11768239/29268865-61a4feca-810c-11e7-9b28-e41b246acf07.png">

[2017-08-14 10:50] TakeoffAndroid commented on #1656
I did all the possible ways. I changed the port from 8081 to 8088, but after changing the port issue again reflecting on port 8088

[2017-08-14 10:53] Hypnosphi commented on #1570
It does, but only for the files included into babel-loader rule (`node_modules` is excluded by default)

[2017-08-14 10:57] dchambers commented on #713
Hi @ndelangen,

I need to be able to return a promise from the `add` method, so tried updating my copy of `node_modules/@storybook/react/dist/client/preview/render.js` to match the [given diff](https://github.com/storybooks/storybook/compare/async-render-support?w=1), but AFAICT the `renderMain` function in the file I've edited is never ever invoked.

Am I doing something stupid?

[2017-08-14 15:48] ndelangen commented on #713
@dchambers Try this diff maybe? https://github.com/storybooks/storybook/pull/1253

[2017-08-14 16:52] philipithomas opened #1657 "Loading custom VueRouter in config.js"
I'm trying to load a specific router so that `router-link` elements do not error.

Normally, I would do something like this:

[code]

However, Storybook does not seem to play nicely with the Vue constructor.

Help?

[2017-08-14 18:05] philipithomas commented on #1656
You might have storybook or another app already running and using that port. Did you try rebooting?

You can find the app running with netstat or lsof ([see here](https://stackoverflow.com/questions/3855127/find-and-kill-process-locking-port-3000-on-mac)).

[2017-08-14 18:08] TakeoffAndroid commented on #1656
Yes. I tried rebooting, resetting, changing port and adb reverse too. None
worked.

On Aug 14, 2017 11:35 PM, "Philip I. Thomas" <notifications@github.com>
wrote:

[2017-08-14 18:26] saponifi3d commented on #1624
@ndelangen I recently ran into this issue as well, and created a quick addon to help solve the problem.

![viewport](https://user-images.githubusercontent.com/1569818/29285410-431ea466-80e3-11e7-8dc1-430a73785dc4.gif)

if you guys are interested, i'd love to cleaning up the action area, add more mobile sizes (maybe a handle to make responsive), and contrib back to the storybook addons :D

[2017-08-14 18:29] danielsneijers commented on #1588
Is the issue still open? I'd like to take a shot at this one.

[2017-08-14 19:19] kaiyoma commented on #1588
I just ran into it this weekend after upgrading to the newest Storybook (and doing a clean install), so I believe it's still an issue.

[2017-08-14 19:21] danielsneijers commented on #1588
Cool, I'll check it out and try to make fix

[2017-08-14 19:27] Hypnosphi commented on #1656
So what's the output of `lsof -i :8081` in your case?

[2017-08-14 19:30] TakeoffAndroid commented on #1656
It was showing npm process running. Then i took the PID and execited kill
-9 PID command.

On Aug 15, 2017 12:57 AM, "Filipp Riabchun" <notifications@github.com>
wrote:

[2017-08-14 19:34] Hypnosphi commented on #1656
And what does the same command return right after the kill?

[2017-08-14 19:49] Hypnosphi commented on #1655
But it is relative, it has no leading slash

[2017-08-14 19:53] TakeoffAndroid commented on #1656
It is not showing up anything. Just an empty response.

On Aug 15, 2017 1:04 AM, "Filipp Riabchun" <notifications@github.com> wrote:

And what does the same command return right after the kill?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/storybooks/storybook/issues/1656#issuecomment-322286903>,
or mute the thread
<h

[2017-08-14 20:35] seniorquico commented on #1624
@saponifi3d That looks awesome! Please let me know if there's anyway I can help toward an effort to release your addon to the community.

@ndelangen Sending "fullscreen" links to a mobile device also sounds like an awesome feature. Are there any requirements or use cases drawn up? I'm definitely willing to help contribute.

[2017-08-14 20:42] Hypnosphi commented on #1656
Can you please create a temporary GitHub repo with your setup, so that we could reproduce your issue?

[2017-08-14 20:49] Hypnosphi commented on #1654
Can you please elaborate? `data-reactroot` is attached and used by React DOM, not by Storybook app itself.

Anyway, feel free to contribute!

[2017-08-14 20:53] dmaksimovic opened #1658 "Knobs panel not displayed"
I am running a storybook instance and have the component displayed there, but knobs panel is not displayed. The source is very simple:

[code]

No error is shown, console is clear of any messages, it displays the component with the default button text ('Ok'), but knobs panel is not visible anywhere to enable changing the button title.

What's strange, I use storybook at work, and the knobs panel i

[2017-08-14 21:08] Hypnosphi commented on #1122
#1650 solves this while respecting usual browser behaviour

[2017-08-14 21:14] Hypnosphi commented on #1658
How does your `.storybook/addons.js` file looks like?

[2017-08-14 21:31] danielduan commented on #1630
This sounds like something is wrong with your npm config or npm's certificate expired. Either that, or you're working behind a corporate proxy firewall and somehow they're stripping the ssl certificate.

Do installing other packages work for you?

[2017-08-14 21:34] danielduan commented on #1614
definitely support the renaming of those.

[2017-08-15 00:03] Hypnosphi commented on #1630
Namely, other scoped packages, e. g. `@angular/common`

[2017-08-15 00:04] #1122 closed

[2017-08-15 02:42] janryWang commented on #1655
Can I customize the configuration? Because my current site hopes storybook and other content coexist. @Hypnosphi

[2017-08-15 03:37] miljan-aleksic commented on #1654
Ok, I don't know react works, we can skip that one :)

[2017-08-15 03:39] msankhala opened #1660 "Start Guide for React/ Vue links are broken"
Route for these two links does not exists.

https://storybook.js.org/basics/slow-start-react
https://storybook.js.org/basics/slow-start-vue

On this page https://storybook.js.org/basics/quick-start-guide/ when click on these two links it show this error

[code]

[2017-08-15 06:20] iernie opened #1661 "PropTypes are missing in info panel in static build"
Couldn't find this issue anywhere so I am reporting it here.

It seems that when using the info-addon, the proptypes to a components works when you run storybook locally, but all proptypes are defaulted to type `node` in a static build of storybook.

The required field is also reset to `no` in a static build. Default seems to work though.

Here is a picture of it running locally
![live](https://us

[2017-08-15 07:54] MrOrz opened #1662 "Info addon markdown with inline code (backtick `) is broken"
## Versions
* `@storybook/react` v3.2.4
* `@storybook/addon-info` v3.2.4

## Example input
[This entry](https://github.com/storybooks/storybook/blob/master/addons/info/example/story.js#L65) in the official example

[code]

Notice the `propTypes` is enclosed in backticks.

## Expected output
The word `propTypes` is shown in monospaced font, alongside with the sentence it belongs to.

## Current out

[2017-08-15 11:11] Hypnosphi commented on #1655
I still don't really understand the problem, but I think it's customizable via webpack config

[2017-08-15 11:22] Hypnosphi commented on #1660
It's already fixed with #1629, but not yet deployed for some reason. @ndelangen how do we deploy the website?

[2017-08-15 11:43] ndelangen commented on #1660
I'll do it

[2017-08-15 12:21] UsulPro commented on #1662
@MrOrz I faced this issue as well and going to fix it in this PR #1501

Thanks for the help!

[2017-08-15 12:36] ndelangen commented on #1660
done!

[2017-08-15 12:36] #1660 closed

[2017-08-15 12:37] ndelangen commented on #1624
@seniorquico Come join us on Slack so we can communicate efficiently on what, when and how we're planning to add the feature.

Full disclosure: there hasn't been any work put into this except the description on our [Roadmap](https://github.com/storybooks/storybook/blob/master/ROADMAP.md)

[2017-08-15 21:12] dmaksimovic commented on #1658
It doesn't look. I don't have that file. I was reading through your pages about knobs and addons in general, but I did not see any mention of that config file. Should you make any documentation about it more visible in relevant places?

[2017-08-15 21:21] dmaksimovic commented on #1658
Jesus, I just saw it on your knobs page as well. Completely my fault, sorry about the fuss. Sorry I did not take it seriously and did not read it thoroughly. Thanks Daniel for help, Closing.

[2017-08-15 21:21] #1658 closed

[2017-08-15 22:50] hmontes commented on #128
I found a better way.

[code]

So. We need a better action with a e.preventDefault integrated.

[2017-08-16 00:43] Hypnosphi commented on #128
@hmontes You just inlined a variable, why do you think it's better?

[2017-08-16 00:45] hmontes commented on #128
@Hypnosphi Because if i have several buttons in a component (example. A modal with a Close button and a send form button) i can use different actions (action('Modal closed'), action('Submitted Form').

[2017-08-16 00:47] Hypnosphi commented on #128
But you only need preventing default on form submit button

[2017-08-16 00:49] hmontes commented on #128
Yes. Because "action" don't have a natural way to do that. (I spend hours to find a way to prevent default an event in storybook)

[2017-08-16 00:49] Hypnosphi commented on #128
If you have several forms, you may want to create a function like this:

[code]

And use it like that:
[code]

[2017-08-16 00:51] hmontes commented on #128
Yeah. But that function is INSIDE the component.

The solution is for the Story. If you have a presentational component and a container you want to disable the action OUTSIDE the presentational component (And in this case. In the history) because the presentational components not are classes.

[2017-08-16 00:56] Hypnosphi commented on #128
Sorry, but I don't get what you're talking about. Please provide an examle

[2017-08-16 08:10] MrOrz commented on #1011
If you use the latest `addon-info` (>3.2.0) 's `withInfo`, the workaround can be even simpler:

[code]

[2017-08-16 10:38] crtvhd commented on #1059
We're getting the same error here.

Our directory structure:
[code]

Our `.storybook/config.js`:
[code]

Surprisingly our stories are rendering correctly, it's just that we're facing this JS error in the console. Would be great to find a fix for that.

[2017-08-16 11:30] tko commented on #1402
Seeing similar issue, upgrading to `v3.2.4` did not help.

[2017-08-16 12:34] ndelangen commented on #1011
Thank for the additional help @MrOrz

[2017-08-16 12:56] blargity opened #1665 "(0, _typeof4.default) is not a function"
I'm trying to set up Storybook for our react native application. We're using `async` / `await`.

When I run `yarn run storybook` I get:
![screen shot 2017-08-16 at 10 45 50 pm](https://user-images.githubusercontent.com/1531750/29363871-ef1adb20-82d4-11e7-9dd0-b431ee87e7b0.png)

I think this is related to babel not being configured with `"plugins": ["transform-async-to-generator"]` so I tried setti

[2017-08-16 14:05] ndelangen commented on #1665
I will add the plugin to the babel config

[2017-08-16 14:28] #1588 closed

[2017-08-16 16:42] dchambers commented on #713
Hi @ndelangen, thanks for the help here and sorry I took so long to come back to you.

This diff seems to be an updated but otherwise identical diff to the last one, and the problem I'm seeing is that the `renderMain` function never seems to be invoked at all.

**Scratch that**, I've just realized that this code is only used on the client-side, whereas I've been testing within Jest (using storysho

[2017-08-16 16:49] malixsys commented on #1570
FYI, our `webpack.config.js`:

[code]

[2017-08-16 17:52] danielduan opened #1667 "babel-preset-es2016 warning to use babel-preset-env"
There's a warning when running Storybook to use a different package. Instead of listing `['es2016', 'es2015', ...]`, `['env']` would include the latest js specs.

We should look into integrating this across our apps.

[code]

[2017-08-16 19:14] ndelangen commented on #1667
I'm on this.

[2017-08-16 19:39] adamchenwei commented on #25
@arunoda would it possible remove above two links that have confused face I marked above? save time for others who enter this page in the future. Thanks!

[2017-08-16 19:41] kirkstrobeck commented on #25
The confused reactions are probably enough. I upvoted em’ too.

[2017-08-16 20:18] dchambers commented on #713
Hi @ndelangen, I've just looked at this again and your diff does work for storybook proper, but it looks like a separate change would be needed to get this working for storyshots. I'm actually only really adding the promise for storyshots because otherwise I can't delay when the snapshots are taken, and this causes them being taken before any data has arrived, so that I just see the loading indica

[2017-08-16 21:44] dchambers commented on #713
I've now been able to get this working for snapshots too. I created an `asyncSnapshot` test function that I could use instead of the built-in `snapshot` function, like so:

[code]

and then I modified the `it` function in `addons/storyshots/src/index.js` to **return** the promise that I was providing it through my `test` function, like so:

[code]

As it happens this doesn't actually help me in my

[2017-08-16 21:59] dchambers commented on #713
I've now been able to work around my particular issue by using a `delayedAsyncSnapshot` test function like this:

[code]

Obviously this is probably only useful to me, whereas the `asyncSnapshot` function given earlier should probably be the default implementation within `snapshot` going forwards.

[2017-08-17 03:56] blargity commented on #1665
Is there a way for me to configure Storybook to use a different babel config in the meantime? I couldn't seem to get it to work even with adding a `.babelrc` in the `storybook` directory that running `getstorybook` created for me.

[2017-08-17 08:51] BjornMelgaard commented on #1059
Cant fix this too, [config](https://github.com/BjornMelgaard/ran/blob/ccdd4552dad4db6d85fbe830a709d10159fa12b8/app/.storybook/config.js)

[code]

occurs only on opening storybook in new tab

[2017-08-17 10:09] tko opened #1669 "addons-info missing typescript declarations"
While type definitions for many of the addons (knobs, links, notes, options, actions) seem to exist in DefinitelyTyped repository, there's none for `addons-info`.

[2017-08-17 10:23] danhawkes commented on #831
@shilman Can you point to where @ajwhite says this? Can't find it in any of the related issues.

[2017-08-17 10:54] Hypnosphi commented on #25
Just updated the comments with outdated links

[2017-08-17 11:04] Gongreg commented on #831
There are two solutions:

1. Running hosted storybook server, so multiple devices can connect on same storybook server (work in progress to make it easier to use).

2. Start  multiple storybooks with different ports (if not implemented shouldn't be difficult to implement).

[2017-08-17 11:11] Hypnosphi commented on #752
Such problems are usually solved by adding `fsevents` to `optionalDependencies`

[2017-08-17 11:42] danhawkes commented on #831
The use-case I'd like to see supported would be to control multiple devices simulataneously via the storybook UI. E.g. I click on a story and all devices update to show that story. Ideally the UI could show a list of connected devices somewhere.

Think the only way that can work is via solution 1. Not clear on why it'd need to be hosted though? -  assuming the storybook UI is already acting as a s

[2017-08-17 12:22] dchambers commented on #713
I was actually able to add the delay I need within the test code, so just regular promise support is working great for me. In case it makes it easier to explain, here's a diff for the changes I'm using:

https://github.com/storybooks/storybook/compare/master...dchambers:master?w=1

[2017-08-17 13:19] Gongreg commented on #831
Right, you can actually do that but only for multiple devices of same type (either ios or android). If you try to mix and match it starts to fail. But for multiple ios devices it works as you expect, you click on story and all devices show the story.

But you could try to start storybook separately (npm run storybook --skip-packager) from packager and then start as many packagers as you want.

[2017-08-17 14:23] vjpr opened #1671 "Add `latest-version` to `/lib/cli/package.json`"
Dependency used without being declared in pjson.

[code]

[2017-08-17 14:47] code-by opened #1672 "How to set <body> classes?"
Hello!
Is there way to set `<body>` (inside `<iframe>`) class(es)? (except using `finddomnode`)
Thank you

[2017-08-17 16:32] danielduan commented on #1672
What are you trying to insert? You should generally be using stories to insert components and add decorators to them if you want the components to be wrapped in something.

Extremely hacky way: you can target the nodes onload with a script in the header
https://storybook.js.org/configurations/add-custom-head-tags/

[2017-08-17 16:35] #1667 closed

[2017-08-17 16:36] danielduan commented on #489
polyfill has been added

[2017-08-17 19:34] Hypnosphi commented on #1059
@crtvhd @BjornMelgaard does this still show up in `3.2.5`?

[2017-08-17 20:29] ndelangen commented on #1604
Yes please!

[2017-08-17 20:30] BjornMelgaard commented on #1059
@Hypnosphi , no, works perfectly, thank you kind man)

[2017-08-17 21:47] ndelangen commented on #1665
@blargity adding a `.babelrc` in the storybook config folder should work..

I've never used this myself, though.

I feel like we need to revamp how we configure things #1209
How nextjs is configured I like a lot.

[2017-08-17 21:48] ndelangen commented on #1665
Regarding this specific issue, please recheck after next release. I think @shilman is working on it at the moment. Please re-open if it's not working.

[2017-08-17 21:48] #1665 closed

[2017-08-17 22:59] hmontes commented on #208
Any news? I want to connect Apollo Graphql and i need this option (Like proxy config in create-react-app).

Thank you :)

[2017-08-18 03:46] djyde commented on #208
@hmontes This is how I did:

[code]

[code]

[2017-08-18 12:09] crtvhd commented on #1059
@Hypnosphi Unfortunately upgrading to `3.2.5` did not solve the issue. Maybe it's the fault of our decorator: [react-intl](https://github.com/yahoo/react-intl):

[code]

We know there's [storybook-addon-intl](https://github.com/truffls/storybook-addon-intl) however it seems to introduce much more errors in our storybook so we decided to provide [react-intl](https://github.com/yahoo/react-intl) man

[2017-08-18 12:28] crtvhd commented on #1059
@Hypnosphi Yes, upgrading has solved our issue. Thanks for the quick fix :)

[2017-08-18 12:31] crtvhd commented on #1059
@Hypnosphi just seeing that unfortunately it broke our `sass-loader`. we seeing this error after the upgrade:
[code]
in one of our components we're importing a `SCSS` file: `import './styles/calendar.scss';`
any idea why the `sass-loader` could suddenly fail?

[2017-08-18 12:56] blargity opened #1678 "(0, _typeof4.default) is not a function"
Unfortunately even on 3.2.5 I'm still getting the issue from #1665. I'm no longer as strongly convinced that it's babel config.

Reproduction steps:
- Clone the master branch here: https://github.com/hummingbird-me/kitsu-mobile
- Run `getstorybook`
- Run `yarn run storybook`
- Run `react-native run-ios`

I'll keep digging on my side, but unfortunately this isn't resolved yet. Does anyone have any

[2017-08-18 13:03] crtvhd commented on #1637
We're having the same issue with applying a global decorator which disappears after hmr:

[code]

(We know there's [storybook-addon-intl](https://github.com/truffls/storybook-addon-intl) however it seems to introduce much more errors in our storybook so we decided to provide [react-intl](https://github.com/yahoo/react-intl) manually)

Yet, adding the same decorator manually inside a story works ju

[2017-08-18 13:36] su-narthur commented on #769
Was searching for this error, and had a hard time finding this issue because it was posted in an image. Pasting the text now to make it easier for people to find in the future:

[2017-08-18 13:42] blargity commented on #1678
I commented out a bunch of code in `storybook.js` and this issue only appears when the `getStorybookUI` function gets called, even with no stories loaded. I experimented with renaming `.babelrc` to something else to try to force `storybook` to use its own built in babel config, and it stopped saying it was loading the project `.babelrc` but I still got this error.

This is with the built it in exa

[2017-08-18 14:03] blargity commented on #1678
I also created a fresh new project with `react-native init` to see if I could reproduce the issue and it worked fine. So I went back to the project and did a clean attempt, which didn't work, failing with this:
![screen shot 2017-08-19 at 12 01 56 am](https://user-images.githubusercontent.com/1531750/29462144-ab5a007a-8471-11e7-868d-6edb5db67390.png)

I'll now be taking my working empty project an

[2017-08-18 15:37] Hypnosphi opened #1680 "Knobs: allow opting out of persisting values in URL"
Ideally it would be a per-knob option. In fact, maybe having this on object knob could be enough

[2017-08-18 15:44] code-by commented on #1672
For example, one have css with
[code]

so for storybook it is need to reassign body class(es) for another(s) div(s).

[2017-08-18 18:29] BjornMelgaard opened #1685 "Add option to specify path where all files from static directories will be outputted"
Right now I have nextjs project, with images in `/static/images` folder, and Im using it in components like this

`<img src="/static/images/logo.png" alt="logo" />`
Problem is when I starting storybook with `"storybook": "start-storybook -p 6006 -c app/.storybook -s static",` the logo cant be found, for storybook proper path to image is now `"/images/logo.png"`

[2017-08-18 18:31] danielduan commented on #1680
I think the knobs in the URL looks really messy. I'd love to have an input in the panel to generate the copy and paste url, and perhaps save the actual knobs data in the local storage or cookie.

[2017-08-18 20:24] tabrindle opened #1687 "Unable to run on React-Native app v47.1"
## Steps
[code]

## Output:
[code]

## Environment:
  OS:  macOS Sierra 10.12.5
  Node:  7.10.0
  Yarn:  0.27.5
  npm:  4.6.1
  Watchman:  4.7.0
  Xcode:  Xcode 8.3.3 Build version 8E3004b
  Android Studio:  2.3 AI-162.4069837
  react-native-cli: 2.0.1

Packages: (wanted => installed)
  babel-jest: 20.0.3 => 20.0.3
  babel-preset-react-native: 3.0.0 => 3.0.0
  jest: 20.0.4 => 20.0.4
  react-test-r

[2017-08-18 20:55] ntucker commented on #1637
@ndelangen I don't know why this https://github.com/storybooks/storybook/commit/8a48f80d78d7dcfc9d8e32b4ea68d26bca1fa189 was added. All it does is break HMR. HMR will run modules again while maintaining state so it just throws and exception. PR is to revert this buggy commit.

[2017-08-19 00:28] shilman commented on #1687
Reproduced on my machine. It seems to be an issue with RN@0.47.1. I tried it on an older RN@0.45.1 project and it worked no problem. Will dig in and see what I can deduce, thanks for reporting!

[2017-08-19 00:40] shilman commented on #1687
Update: I got it working by downgrading  `babel-preset-react-native` from `3.0.0` to `1.9.2`. I'm not sure what's wrong with Storybook or with `babel-preset-react-native`, but as a temporary workaround, if you downgrade the babel preset it should work for you. I did not take the time to figure out at what version specifically it broke (1.9.2 was the version used by my other test project that was w

[2017-08-19 01:28] tabrindle commented on #1687
Awesome! Thanks so much for looking into this. Now that I know where to look, I can help dig into this as well. Had some issues with that babel preset the other day.

[2017-08-19 02:26] xareelee opened #1688 "[Suggestion] add bookshelf feature to classify books/stories"
I have categories for different purposes:

* `Component`: display a UI element for reusability
* `Scene`: display a whole UI page for a scene
* `App`: display the whole app with full functionalities just like `react-native start`
* and more... for testing specific functionalities with UI

My current stories are like this:

<img width="257" alt="screen shot 2017-08-19 at 10 09 12" src="https://user

[2017-08-19 02:54] xareelee commented on #887
By the way, we should avoid to update a gigantic file frequently using git.

My current `Storyshots.test.js.snap` file is a size of 1.1 MB, and my git repo is going big as the project goes on.

[2017-08-19 05:19] tmeasday commented on #1688
Hi @xareelee -- you can use the new Story Heirarchy feature to achieve this I think? https://medium.com/storybookjs/announcing-storybook-3-2-e00918a1764c

Try `storiesOf('Scene / AdDialog', module)` etc

[2017-08-19 06:09] tmeasday commented on #713
@dchambers I'm glad you are making progress here. Can I ask the reason for the async story in the first place? I've never quite managed to get my head around this particular feature

[2017-08-19 06:37] xareelee commented on #1688
Thanks for the info. I did not notice this new feature. It works after upgrading to 3.2.

[2017-08-19 06:37] #1688 closed

[2017-08-19 08:52] ndelangen commented on #713
@dchambers Awesome progress you're making!

[2017-08-19 11:34] Temoto-kun commented on #1493
@Hypnosphi it's exactly the same error as OP. Apparently, storybook's webpack is unable to transpile JSX because somehow the configs don't work.

[2017-08-19 12:59] Hypnosphi commented on #1493
Can you please create a GitHub repo with minimal reproduction of your issue?

[2017-08-19 13:27] dbrrt commented on #1493
@Hypnosphi I replicated the example from storybook usage with Webpack, so another webpack.config.js and it worked (and still works)

[2017-08-19 13:45] blargity commented on #1678
This may be related to a cache somewhere. I can get this to work with all the same dependencies in a fresh project. I'll keep chipping away at it, but any ideas would be amazing!

[2017-08-19 14:21] Hypnosphi commented on #1539
@ndelangen we can achieve the current behaviour using recompose's  [`mapPropsStream`](https://github.com/acdlite/recompose/blob/master/docs/API.md#mappropsstream) and some lite-weight observable stream library (I'd suggest [xstream](https://github.com/staltz/xstream)).

[2017-08-19 16:01] Temoto-kun commented on #1493
@Hypnosphi here it is: https://github.com/Temoto-kun/create-react-app-storybook-repro

What I did is I only ran `create-react-app` and `getstorybook` to initialize. Both generators' versions are the same from my report.

[2017-08-19 16:57] vtsatskin commented on #1678
Hey @blargity, I'm experiencing the same problem on my own project using the steps you discussed. Here's my [dependencies list and various versions of things I'm using](https://gist.github.com/vtsatskin/1c0bc983d78621bd435201dcd89bf6f4).

I've tried removing my .babelrc file to see if this fixes it, no luck. I've also tried editing my .babelrc to include the `babel-preset-env` configuration with n

[2017-08-19 17:48] Hypnosphi commented on #1493
@Temoto-kun

That's weird. I cloned your repo and I can start storybook with no errors. I tried it with yarn:
[code]

And with npm 3 and 5:
[code]

`start` script doesn't seem to work though, as you're missing CRA's `public` directory:
[code]

[2017-08-19 18:46] Temoto-kun commented on #1493
Maybe because of Node then? I have 7.7.1.

And BTW I'm also running Windows 10.

Any other info I can provide?

[2017-08-20 00:17] Hypnosphi commented on #1493
Works for me with node v7.7.1 on mac. Will test on Windows.

Node that node 7 has reached end of support this June

[2017-08-20 00:27] Hypnosphi opened #1690 "Options set via addon should not override URL params"
1. Run `yarn start` in repo root
2. Toggle actions panel with `⌘ ⇧ D`
3. Reload the page

Expected: Actions panel stays hidden
Actual: It is hidden for a moment, and then shows up

[2017-08-20 01:33] Hypnosphi opened #1691 "Some shortcuts overlap with MS Edge shortcuts"
https://support.microsoft.com/en-us/help/13805/windows-keyboard-shortcuts-in-apps

[2017-08-20 08:39] Temoto-kun commented on #1493
Tried updating my Node to 8.4.0. Still didn't work.

[2017-08-20 09:36] jbovenschen opened #1694 "Split plane layout system"
As mentioned in the storybook slack channel I would create a new issue with some ideas about improving the layout system of storybook.

## Problem
Currently you can only have enabled the following panels inside storybook.

1. Story
2. Story tree
3. Addon pannel

This is ok, when you don't have multiple addons enabled.

## Idea

My idea to improve the main UI of storybook to be;
1. More configurabl

[2017-08-20 11:28] dbrrt commented on #1493
@Temoto-kun Is you error message still the same ?

[2017-08-20 11:44] igor-dv commented on #1493
@Temoto-kun, still didn't try your demo, but since @Hypnosphi managed to run it without problems, I may assume it's related to clean environment. Did you try to delete all the `lock` files and `node_modules` and to install them again ?

[2017-08-20 13:49] Hypnosphi commented on #1493
the easiest way to do that is `git clean -fdx` (removes everything that's not in git)

[2017-08-20 15:44] Hypnosphi commented on #1614
Fixed with #1689

[2017-08-20 15:57] shilman commented on #1614
@Hypnosphi by convention we mark the issue as `merged` when the PR gets merged, and close the issue only once the code is actually released. See:

https://github.com/storybooks/storybook/blob/master/CONTRIBUTING.md#closing-issues

[2017-08-20 15:57] UsulPro commented on #1690
@Hypnosphi it happens because we use `setOptions` in `config.js` to setup initial state.
If you remove `setOptions` it'll behave as you describe

[2017-08-20 16:29] MrOrz commented on #1662
It's great hearing that!

For now, I will just overwrite `marksyConf` to workaround this issue, so no hurries on that ;)

ex:
[code]

[2017-08-20 16:29] #1662 closed

[2017-08-20 17:00] Hypnosphi commented on #1614
Ok, so I shouldn't use the "Fixes #N" magic as I did before?

[2017-08-20 17:02] Hypnosphi commented on #1690
My point is that query params should have higher priority when present

[2017-08-20 17:56] UsulPro commented on #1662
Looks like `code` used for both inline and block code sections.
For inline code it should render `props.children` but for code block `props.code`

[2017-08-20 18:04] UsulPro commented on #1690
I see but `setOptions` can be used per story to setup appearance accordingly to selected story. It'll stop working if we change the priority

[2017-08-20 18:26] Hypnosphi commented on #1690
Well, if I reload the page, I stay on the same story. Links to other stories can be adjusted according to their specific `setOptions`

[2017-08-20 18:56] UsulPro commented on #1690
So you offer to detect where it runs: inside a story or not? And depending on that change `setOptions` behavior?

[2017-08-20 19:40] Hypnosphi commented on #1690
I'd suggest roughly that:
1) explicit URL param have precedence when defining current view
2) hiding/showing a panel changes the current page URL
3) URL params in links to other stories are formed in this manner:
    a) If the story has set the corresponding option via local `setOptions`, use that
    b) Otherwise, use the current value

[2017-08-20 19:49] Hypnosphi commented on #1690
By the way, how do you use `setOptions` per story? Can't find that in docs

[2017-08-20 20:25] UsulPro commented on #1690
this way:
https://github.com/storybooks/storybook/blob/master/examples/cra-kitchen-sink/src/stories/index.js#L83

or even like this:
https://github.com/storybooks/storybook/blob/master/examples/cra-kitchen-sink/src/stories/index.js#L70

so in this cases URL could be formed twice:
1. when you select a story in stories panel
2. when this story trigger `setOptions` and it updates query params

[2017-08-20 20:34] Hypnosphi commented on #1690
Oh, so it's inside story render

[2017-08-20 23:04] danielduan commented on #1661
I think I know what's happening here. On prod, PropTypes get stripped out because it's not necessary in the traditional prod environment sense. Also, the `babel-plugin-react-docgen` doesn't run.

[2017-08-21 06:10] igor-dv opened #1699 "Have stories on each level of hierarchy"
This is very asked improvement from the beginning of the hierarchy feature.

Today we have this:
[code]

That will be shown as
[code]

Desired
[code]

In this case we should allow stories and groups to be in the same level.

[2017-08-21 06:22] igor-dv commented on #1699
I would like us to discuss this. Do we want to implement this ? Do we want to keep it configurable ?

For example the first thing I can think about is to remove the story auto-selection  when clicking the storyKind.

[2017-08-21 09:53] evenchange4 commented on #1625
Here is a simple workaround which mocking `addDecorator` as an emptyFunction for my project.

[code]

[2017-08-21 12:35] vipulbhavsar94 commented on #810
@mcmunder Any updates on this, kind of critical thing for me?

[2017-08-21 12:40] tibbus commented on #810
@vipulbhavsar94 Should not be critical, you can use my workaround until is fixed.

[2017-08-21 15:49] danielduan commented on #1678
@vtsatskin the latest babelrc should contain in 3.2.5 should contain `[env, react-native, stage-0]`. might be worth cleaning out your npm directory and doing a fresh install.

[2017-08-21 16:43] vtsatskin commented on #1678
I've tried updating my `.babelrc` in both the root folder and inside of `/storybook` with the following contents:

[code]

Following your suggestions (and also trying to upgrade the babel preset packages) does not fix the issue. I've also run this with and without a `.babelrc` in both the project root and inside of `/storybook`:

[code]

From my understanding, isn't storybook on react native suppo

[2017-08-21 18:20] hellogerard commented on #13
If anyone Googles into here, I was getting a similar, but slightly different, error:

[code]

`npm ls babel-core` gave me:

[code]

It sounded like Babel 5 was the problem, so I had to explicitly install Babel 6: `npm i --save-dev babel-core@6.26.0`. Not sure if that's a good idea or not, but it fixes the error and everything in my project still appears to be working.

[2017-08-21 20:28] dchambers commented on #713
Hi @tmeasday, in my case I'd like to use to Storyshots to do snapshot testing of GraphQL backed components. Although I connect to an in-process mock GraphQL server rather than a real one for Storybook and unit testing, Apollo still returns the data asynchronously which means that all of my snapshots end up rendering 'Loading...' rather than the components I've created.

There may well be other sce

[2017-08-21 20:59] tabrindle commented on #1687
Confirmed that both the server and app actually start now.

After having looked at the changelog for babel-preset-react-native, the only things Ive seen that might mess things up is adding dynamic imports, and change how regenerator-runtime is included.

Here's what I looked at.

https://github.com/facebook/react-native/commits/master/babel-preset/package.json

[2017-08-21 22:52] danielduan commented on #1678
I'm gonna have to apologize and suggest you try to revert back to 3.2.3 if you need to have it working asap. I saw that your `package.json` had `react@16` in it.

We added a dependency for react-native backwards compatibility in 3.2.4 that broke storybook react-native when used with `react@16-beta` because it accessed `PropTypes` from the `React` package.

They've been fixed since, but we're still

[2017-08-21 23:05] justindra opened #1704 "[feature-request]: Multiple Frameworks"
Not sure if this is part of the roadmap for Storybook, but just wondering if there has been any thought on using storybook to cater for two different frameworks at the same time?

I use react, aurelia and vue for different projects. And I would like to basically keep track of a lot of the basic components together and make it easier for others to contribute to and use those components.

So be cool

[2017-08-21 23:28] Temoto-kun commented on #1493
@igor-dv @Hypnosphi I tried:

1. `git clean -fdx`
2. Remove `package-lock.json` since (1) does not delete it
3. `npm install`
4. `npm run storybook`

Nope. Still the same error.

[2017-08-21 23:31] vtsatskin commented on #1678
Hey @danielduan, I'm not frustrated at all and thanks for all your help!

I've tried integrating with 3.2.3 and it still didn't work. I performed the following:

[code]

I've also edited the `.babelrc` file to the previously mentioned presets. I've additionally tried with no `.babelrc`, and the same file in `/storybook`.

[2017-08-21 23:36] danielduan commented on #1678
@vtsatskin you should go into your `package.json` and change `@storybook/react-native` version to `3.2.3` and then remove `node_modules` and `yarn install`.

the `@storybook/cli` package is only to create the project for you. Itt will install the latest version of Storybook out there regardless which version of the cli you use.

[2017-08-21 23:48] vtsatskin commented on #1678
@danielduan I just tried that, still no luck.

[2017-08-22 02:32] tmeasday commented on #713
@dchambers thanks for the explanation. That makes perfect sense, and I can understand the use cae.

[2017-08-22 05:48] nareshbhatia commented on #700
I tried to add Storybook to my TypeScript React app based on the above information. However I am getting an error when running Storybook:

    ERROR in ./.storybook/config.js
    Module not found: Error: Can't resolve '../stories'

I have a ../stories folder, so I am not sure why I am getting this error. Can someone please take a look at my project and help me figure this problem: https://github.c

[2017-08-22 08:18] shilman commented on #1687
@tabrindle I just released `@storybook/react-native@3.2.6-alpha.0` that fixes this problem. I don't know **WHY** it fixes the problem, but I do know that we messed with the babel settings so I decided to give it a shot.

Can you try it on your project? Once we've confirmed its stable (it contains a bunch of changes) we'll release 3.2.6.

[2017-08-22 09:52] miljan-aleksic opened #1708 "Vue devtools"
Similar to the React devtools [issue](102) with iframes Vue devtools doesn't recognize the Storybooks components. Seems the solution is also similar using the `__VUE_DEVTOOLS_GLOBAL_HOOK__`, although I'm actually not sure if that's up to date.

Anyhow, if finally Vue devtools is not compatible with Storybooks there should be a BIG warning about that.

[2017-08-22 10:01] miljan-aleksic commented on #1708
Ok, I just saw it is already like that in the Vue [iframe file](https://github.com/storybooks/storybook/blob/master/app/vue/src/server/iframe.html.js), but is not working for me.

Checking why...

[2017-08-22 10:28] miljan-aleksic commented on #1708
Ok, I see Events are getting registered, but no components. Can somebody confirm this or say it does work for him?

[2017-08-22 10:45] satazor opened #1709 "Unknown option: base.cacheDirectory"
I was trying the new `3.2.6-alpha.0` release but it has an error when used with `storyshots` because of https://github.com/storybooks/storybook/blame/master/app/react/src/server/config/babel.js#L6 which was recently added.

We must omit that in https://github.com/storybooks/storybook/blob/master/addons/storyshots/src/index.js#L41 and probably other places.

//cc @ndelangen

[2017-08-22 14:35] tabrindle commented on #1687
As a programmer, that is the worst place to be in. ¯\\_(ツ)_/¯

But, on the bright side, confirmed working:

[code]

Closing this issue!

[2017-08-22 14:35] #1687 closed

[2017-08-22 14:48] kazupon commented on #1708
related:
https://github.com/storybooks/storybook/pull/1376
https://github.com/vuejs/vue-devtools/pull/361

[2017-08-22 17:18] dbrrt commented on #1493
@Temoto-kun Just ran it without any issue (MacOS Sierra 10.12, node 5.3.0 so an old version). Have you access to a Linux machine?

[2017-08-22 18:09] shilman commented on #1614
yeah i think we want the issues to only show up as fixed when end users can actually install the fix from NPM 👍

[2017-08-22 18:09] shilman commented on #1614
Fixed in 3.2.6 https://github.com/storybooks/storybook/releases/tag/v3.2.6

[2017-08-22 18:09] #1614 closed

[2017-08-22 19:32] danielduan commented on #1678
@vtsatskin does `3.2.6` fix it for you?

[2017-08-22 19:39] apipemc commented on #994
@ndelangen Slack-in continue to be down.

[2017-08-22 20:43] ndelangen commented on #994
It's up here:
https://now-examples-slackin-nqnzoygycp.now.sh/

Heroku decided to disable the old url, and I cannot get it back.

[2017-08-22 21:04] ndelangen commented on #13
Thanks for posting your solution @hellogerard !

[2017-08-22 22:00] ndelangen commented on #1709
How do I test this?

[2017-08-22 22:06] ndelangen commented on #1709
Can you help me determine if this change fixes the problem?

[2017-08-22 23:48] blargity commented on #1678
@danielduan I'll give it a shot too.

[2017-08-23 00:04] satazor commented on #1709
Yep I will test it right now.

[2017-08-23 00:08] satazor commented on #1709
@ndelangen is does work, but shouldn't you apply the same fix to the react app?

[2017-08-23 01:18] nareshbhatia commented on #700
FYI, I got help from a colleague to get this working. The project is now updated with a working storybook example: https://github.com/archfirst/react-mobx-mui-ts-seed

[2017-08-23 04:40] DanielJRutledge commented on #1661
Am also facing this issue with static builds of storybook. Any suggested workarounds until a fix is put in?

[2017-08-23 05:48] igor-dv commented on #1637
I think we are facing the same issue. I'll try to look into it ASAP.

[2017-08-23 05:54] ndelangen commented on #1637
Thank you @igor-dv 🙇

[2017-08-23 05:59] ndelangen commented on #1709
Thanks for validating!

It was already there..

[2017-08-23 06:00] #1709 closed

[2017-08-23 06:42] ndelangen commented on #1672
Write a wrapper component / decorator that sets the classes for you.

Alternatively you could write an addon so you can change the class from a panel for example.

[2017-08-23 06:42] #1672 closed

[2017-08-23 10:24] igor-dv commented on #1637
Let's make some order.

1. #1481 was about to fix some wrong behavior in Storyshots regarding the global decorators (#877, #879) I still can't relate what was the problem, can someone elaborate it ? (cc @tmeasday)
2. This PR was about **not** to update global decorators after stories were loaded.
3. Since in a regular work HMR causes global decorators to be cleaned and re-added again (IMO it's OK,

[2017-08-23 11:32] tmeasday commented on #1637
The idea of #1481 was to help people who put their global decorators *after* their story modules are required, like: https://github.com/ktj/storybook-rp/blob/master/.storybook/config.js#L6-L20

Looking at it closer, the reason the above code breaks in SS is that storyshots does this totally zany thing to emulate `require.context` (a webpack thing): https://github.com/storybooks/storybook/blob/mast

[2017-08-23 12:22] satazor commented on #1709
@ndelangen Could we have a patch release with the fix? I'm kind of blocked because I need the newest version because of https://github.com/storybooks/storybook/pull/1554 available in `3.2.6` but at the same time I can't use it because of this bug.

[2017-08-23 12:57] igor-dv commented on #1637
Maybe it's far from being discussed (and a wrong place), but what if `configure`, will take `loadDecorators` function, like it takes `loadStories`.. And in general, may be it's better to limit the API to some life-cycle

[2017-08-23 14:44] tesla3327 opened #1717 "Cannot toggle search box when it has focus"
When you toggle the search box on, it gets focus automatically. However, if the search box has focus you cannot use the same key commands to toggle it off. You must first click elsewhere to give focus the rest of the app, and then the key command will work again.

This is frustrating because it is unexpected behaviour and requires an extra mouse click (or tab to shift the focus).

[2017-08-23 14:58] igor-dv commented on #1717
Doesn't the `Esc` key work for you ?

[2017-08-23 15:02] danielduan commented on #1661
There's really no workaround unfortunately. I don't think you can use a custom `.babelrc` for static builds.

I'll fix it when I get a chance.

[2017-08-23 15:11] tesla3327 commented on #1717
The `Esc` key does not work for me.

Even if it did, it doesn't solve the issue that this is unexpected behaviour. Any IDE or editor or Spotlight on OS X do not require you to change focus before you can actually toggle the search box off again.

[2017-08-23 15:39] Ethaan opened #1718 "VueJS Methods + Component"
Like the title says, i can see on the examples Templates + Methods is fully supported but its the following case supported? or does it make sense?

[code]

[2017-08-23 16:23] Hypnosphi commented on #1717
Which version of `@storybook/react` do you use?

[2017-08-23 16:27] shilman commented on #1709
@satazor https://github.com/storybooks/storybook/releases/tag/v3.2.7 👍

[2017-08-23 16:33] Hypnosphi commented on #1671
Fixed in `3.2.7`

[2017-08-23 18:46] DanielJRutledge commented on #1661
A custom ```.babelrc``` would only be employed on non-static builds?

[2017-08-23 18:46] satazor opened #1720 "Syntax error import statement on storyshots"
Version 3.2.6 & 3.2.7 both contain a change on the babel presets. More specifically,
it was added `babel-preset-env` and removed `babel-preset-es2015` and `babel-preset-es2016`.

The issue is that the `modules` option was set to false but this causes issues when integrating with Jest. It must be NOT set if `process.env.NODE_ENV` is `test`. CRA does the same here: https://github.com/facebookincubat

[2017-08-23 18:50] danielduan commented on #1661
@DanielJRutledge unfortunately, yes. I think I'm gonna add it into the prod babel config for now and refactor the function that takes the custom babelrc later.

[2017-08-23 21:17] kohlmannj commented on #1602
I've looked into this recently, and have a few informal notes:

- Using Prettier client-side, in-browser is not currently supported (there's an `fs` dependency); I also tried [js-beautify](https://github.com/beautify-web/js-beautify) before settling on **[jsx-to-string](https://github.com/grommet/jsx-to-string)**
- I have a local-only Storybook feature branch which replaces addon-info's custom JSX

[2017-08-23 21:45] danielduan opened #1723 "PropTypes show up as `node` incorrectly in static build."
When propTypes are generated using the fallback method, they don't have a type attached and we wrongly assume that it is of type `node`.

The fallback gets used when propTypes are defined in a separate file and imported.

[2017-08-23 22:03] slorber commented on #1602
@kohlmannj it seems possible to embed prettier for runtime formatting. However it looks like it adds 4mb to the bundle because prettier ships with a lot of built in parsers that may not be easy to tree-shake/disable. See [this PR](https://github.com/graphql/graphiql/pull/578)

jsx-to-string should already be a nice solution imho

[2017-08-23 22:07] shilman commented on #1602
@kohlmannj awesome!!! i think @ndelangen has a lot of experience with syntax highlighting and can chime in?

[2017-08-23 22:51] shilman commented on #1720
Released in 3.2.8, closing. Please re-open if there's more to do here!

[2017-08-23 22:51] #1720 closed

[2017-08-23 23:29] satazor commented on #1720
It's working nicely now. Thanks!

[2017-08-24 01:31] kohlmannj commented on #1606
Writing a "+1" on this issue:

We're seeing unusable levels of sluggishness in a large Storybook (~30 components, 40+ stories), with multiple stories that use knobs. It's bad enough that I reverted back to the v3.1.x versions of `@storybook/react` and related dependencies.

 I will attempt to investigate and further diagnose the underlying cause as time permits.

[2017-08-24 01:32] kohlmannj commented on #1606
Writing a "+1" on this issue:

We're seeing unusable levels of sluggishness in a large Storybook (~30 components, 40+ stories), with multiple stories that use knobs, after upgrading to v3.2.x. It's bad enough that I reverted back to the v3.1.x versions of `@storybook/react` and related dependencies.

 I will attempt to investigate and further diagnose the underlying cause as time permits.

[2017-08-24 03:32] puffstream opened #1726 "sh: storybook: command not found"
Hello,

Trying react-native with Storybook and failing.

Followed this:
1. yarn create react-native-app myapp
2. cd myapp
3. getstorybook
4. Update App.js
5. npm run storybook

Step 5 not working.. see subject line - sh: storybook: command not found

Any help would be appreciated. Thanks!

[2017-08-24 04:20] Ethaan commented on #1467
Did you fix this?

[2017-08-24 04:41] fvgs commented on #1467
@Ethaan yes, this was fixed in #1468

[2017-08-24 06:13] ndelangen commented on #1726
make sure you're using the latest `@storybook/cli`. It provides the `getstorybook` command.

You could have a look at our react-native example here:
https://github.com/storybooks/storybook/tree/master/examples/react-native-vanilla

Check for difference in package.json, because something is causing some packages not to get installed.

[2017-08-24 06:39] ghengeveld commented on #1726
I've just run `getstorybook` and it has updated my `package.json` to include the following in `scripts`:

`"storybook": "start-storybook -p 6006",
"build-storybook": "build-storybook"`

You are probably missing that part.