[2021-03-04 08:35] Aid19801 commented on #12481
Hey love Storybook. Much love.

Buuuuuut... It's March 2021 and i've hit the same issue^^ 😂 I feel like it should state clearly in the controls documentation that you need to adjust config to use this feature, or update, or "If you cannot see the controls panel, make sure you have upgraded to the latest version of Storybook / installed 'essentials' etc "

Happy to raise a PR if you have a link to

[2021-03-04 09:31] pixelass commented on #12481
@Aid19801
Edit here: https://github.com/storybookjs/storybook/blob/next/docs/essentials/controls.md
(via https://storybook.js.org/docs/react/essentials/controls link on the bottom of the page)

[2021-03-04 10:23] bhoomij commented on #7223
@shilman  is this fixed now ?
I still get issue with storybook 6.1.X

jest.config.js
[code]

[2021-03-04 11:15] shilman commented on #13988
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-beta.9 containing PR #14122 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-04 11:15] shilman commented on #14095
Whoopee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-beta.9 containing PR #14123 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-04 11:32] #14087 closed

[2021-03-04 12:23] pixelkritzel commented on #11798
Still an issue with 6.1.21

[2021-03-04 13:14] pixelass commented on #13661
Duplicate: There is an open issue for this: https://github.com/storybookjs/storybook/issues/12076

[2021-03-04 13:18] pixelass commented on #12076
@shilman Is this issue being worked on?
Sadly we'll have to drop Storybook unless this gets fixed

[2021-03-04 13:19] pixelass commented on #13145
@shilman Is this issue being worked on?
Sadly we'll have to drop Storybook unless this gets fixed

[2021-03-04 13:23] mikebarkmin commented on #13145
@pixelass you can take a look at this repository: https://github.com/openpatch/patches. In this repository I have a working storybook 6.1 and emotion 11. Take a look at the main.ts for how I have setup it up: https://github.com/openpatch/patches/blob/main/.storybook/main.ts.

[2021-03-04 13:27] bkardol opened #14126 "Unable to use docs in combination with stories in subdirectories"
In our Storybook (v6.1+) we'd like to have the following structure:
- Control (Top level)
  - Usage (Story)
  - States (Directory)
    - State 1 (Story)
    - State 2 (Story)
    - State 3 (Story)
  - Playground (Story)

What I did:
I created a component-states.tsx file with the states:

[code]

and an mdx file importing the stories:
[code]

The result:
![StoryDocSubdirectories](https://user-image

[2021-03-04 13:31] shilman commented on #12076
@pixelass we did a bunch of work on default value handling in 6.2. can you see if your issue is resolved?

[code]

[2021-03-04 15:10] Sm1t commented on #14092
@shilman Will https://github.com/reactjs/react-docgen/pull/464 fix this?

[2021-03-04 15:47] marjisound commented on #13893
@lanesawyer Did you manage to solve the issue you had regarding the build-storybook ? I'm having the exact same problem and I tried so many different alpha versions including #14044 but none works

[2021-03-04 16:07] ghengeveld commented on #13888
Going to reopen this because we changed our minds. The new proposal is:

[code]

[2021-03-04 16:40] david-genger commented on #10227
What extension? I have the same issue. Can figure out what extension to uninstall

[2021-03-04 16:49] petermikitsh commented on #7587
@steinroe Could you make a repro repo? Happy to take a look, but from the error message alone, it's hard to say for certain.

[2021-03-04 17:35] pc-vmora commented on #9216
@shilman it's a private repo.

[2021-03-04 17:37] MickL commented on #13467
@yuchuan1 this gives me:

[2021-03-04 17:45] MickL commented on #13366
Please dont close unresolved issues

[2021-03-04 17:51] as-zlynn-philipps commented on #12431
@shilman Just calling out that `include` and `exclude` are useful props of ArgsTable, that would be useful to configure globally, and probably wouldn't be accounted for in #11697.

[2021-03-04 17:59] marjisound opened #14130 "Webpack v5 Upgrade - `build-storybook` fails"
**Describe the bug**
Hi, we are trying to upgrade our project to webpack 5. But build-storybook fails with the following error:

[code]

Could you please guide me on what things I can try. I went through all the comments and updates in #9216
I also tried different alpha versions including #13808

**To Reproduce**
Upgrade Webpack
Upgraded storybook to the latest version
Running build-storybook fail

[2021-03-04 19:21] jqrun commented on #13988
Hi!

I'm using 6.2.0-beta.9 but I'm still running into the exact same error listed here. For reference, these are the settings I'm trying to use with standalone:

[code]

Error:

[code]

[2021-03-04 19:55] mwilliamson opened #14134 "CSS in header.css causes incorrect rendering of component"
**Describe the bug**

I'm using Chakra UI to render a menu. Each `MenuItem` component is rendered as a `button` element. In a menu of two items, the second item is misaligned since it's given a left margin by the CSS rule:

[code]

from `header.css`, which appears to come from Storybook. Is there a way to avoid this CSS being included? Apologies if I've misunderstood something!

Actual:

![image](

[2021-03-04 19:57] steinroe commented on #7587
@petermikitsh that would be great. You can find a repro repo here: https://github.com/steinroe/storyshots-issue

Thank you!

[2021-03-04 20:00] arsamsarabi commented on #6587
On version 6.1.21, faced the same problem and having no luck with the `--no-manager-cache` flag

[2021-03-04 20:18] oscard0m commented on #13988
Same here:

<details>
<summary>Error: Cannot find module './dist/cjs/server/standalone'</summary>

<code>
Require stack:
- /Users/XXXXXXX/dev/experiments/storybook/node_modules/@storybook/react/node_modules/@storybook/core-server/standalone.js
- /Users/XXXXXXX/dev/experiments/storybook/node_modules/@storybook/react/node_modules/@storybook/core/standalone.js
- /Users/XXXXXXX/dev/experiments/storybo

[2021-03-04 20:46] pixelass commented on #12076
@shilman sounds good we'll try and report back next week.

[2021-03-04 20:51] adarshpastakia commented on #13795
found the culprit I think ;) either way it seems to be working now, downgrading `react-scripts` to 3.4.x it works fine with latest storybook version

[2021-03-04 21:38] acerbastimur commented on #13888
I wonder if I will be able to use it like that ?

<img width="374" alt="Screen Shot 2021-03-05 at 00 37 23" src="https://user-images.githubusercontent.com/33218120/110033854-f8ca6e00-7d4a-11eb-9373-9d53b515ef07.png">

[2021-03-04 21:47] adagar commented on #13372
I believe this issue was fixed with this PR: https://github.com/storybookjs/storybook/pull/13827

Using VO on Safari, I'm able to see the landmark for `main` content.

![PXL_20210304_214437121](https://user-images.githubusercontent.com/3698858/110035075-31e1ee80-7d09-11eb-9b96-714f30e0325c.jpg)

Sorry about uploading an image of this quality, I gotta figure out how to take screenshots of VO conten

[2021-03-04 21:47] #13372 closed

[2021-03-04 22:54] shilman commented on #14130
closing as dupe to #13893

[2021-03-04 22:54] #14130 closed

[2021-03-04 22:57] shilman commented on #12431
@as-zlynn-philipps @thany does this fix it for you? https://github.com/storybookjs/storybook/pull/13898

[2021-03-04 23:04] shilman commented on #13893
@lanesawyer @marjisound very interested in identifying the failure modes, so if you (or anybody else) is experiencing this issue and have a repro repo I'd be happy to take a look

[2021-03-04 23:07] shilman commented on #14092
@Sm1t it should address part of the problem (externally defined props) but not all of it (dynamic props defined in functions). and it requires some additional work on the storybook side to integrate.

[2021-03-04 23:09] #14126 closed

[2021-03-04 23:28] shilman commented on #14134
Did you try setting the `layout` parameter to `fullscreen`?

https://storybook.js.org/docs/react/configure/story-layout#gatsby-focus-wrapper

[2021-03-05 01:32] ckaethler commented on #14000
^ Having the same error and would love some suggested solutions

[2021-03-05 01:33] sarahbethfederman commented on #10227
I think it was axe that was causing the issue, they did a big release recently I think

[2021-03-05 02:20] TylerAPfledderer opened #14138 "'this.getOptions is not a function': Adding Scss in Gatsby/Typescript"
**Describe the bug**
Running a script to start storybook results in an error when checking SCSS file and mentions ```this.getOptions is not a function```.

**To Reproduce**
1. Installed ```@storybook/preset-css``` (Storybook ran successfully prior to install)
2. Added ```@storybook/preset-css``` to .storybook/main.js addon option
3. Changed a css file to scss
4. When importing scss file to compone

[2021-03-05 03:58] shilman opened #14139 "Core: Dump webpack stats on build with flag"
Use cases:

* [ ] dependencies for build optimizations
* [ ] stats object for perf diagnostics

This should be available on both `start` and `build` (via a flag or main.js `core.x` option?).

It would be nice if it was reported in a standard format that we are willing to support across versions and potentially across different builders.

Apparently we are already dumping a `stats.json` on `--smoke

[2021-03-05 05:10] tmeasday commented on #14139
So, indeed when we run with `--smoke-test`, we dump the webpack stats object (in JSON form) for preview and manager:

https://github.com/storybooks/storybook/blob/41c4b4a7efa34782e9b8b3a5afc12dbf3d271378/lib/core-server/src/build-dev.ts#L87-L98

Note this stats data is freaking ginormous: for a trivially small SB, it is a 31MB JSON file (for the preview).

I guess this is the question -- if we are

[2021-03-05 06:40] ooo2003003v2 commented on #14121
So I added the store to the story then it came out fine
[code]

[2021-03-05 06:40] #14121 closed

[2021-03-05 06:44] ooo2003003v2 opened #14141 "Cant reqjuire scss file as const to ts file"
I required my color scss file as a const in my component it worked fine in the website but storybook shows the follow error.
Any idea why?

component file
[code]

scss file
[code]

error
[code]

[2021-03-05 08:29] #14141 closed

[2021-03-05 08:58] ghengeveld commented on #13888
@acerbastimur That looks like you want a control on a nested property. Unfortunately that's not possible. However you can use the newly introduced [JSON editor](https://github.com/storybookjs/storybook/pull/12824) for objects such as `theme`. It doesn't include a color picker though.

Feel free to open a feature request for controls on nested properties. Your example it a legit use case.

[2021-03-05 08:59] shilman commented on #14120
This is not how to write decorators for `@storybook/web-components` stories. Unfortunately we don't have any examples in our repo or in our docs.

@jonniebigodes @daKmoR @gaetanmaisse is this something any of you can help out with?

[2021-03-05 09:03] shilman commented on #13661
closing as dupe to #12076

[2021-03-05 09:03] #13661 closed

[2021-03-05 09:14] shilman commented on #13145
For now this is a breaking change to Storybook 6.x users so the workaround will have to do for the moment.

It seems like this is a major obstacle, and I see two possible paths forward:

**Direct support.** There is an open PR for Emotion 11 https://github.com/storybookjs/storybook/pull/13300, and I could merge this and release it as an early 7.0 prerelease while the 6.x proceeds as scheduled. I d

[2021-03-05 09:19] shilman commented on #14000
Do you have a repro repo you can share?

[2021-03-05 09:21] JessevanAssen commented on #13893
We are running into this issue in the https://gitlab.com/riovir/vue-app-scaffolding repository which can be used as a reproduction. It currently breaks on the v11.6.0 tag.

Reproduction recipe:
- `git clone git@gitlab.com:riovir/vue-app-scaffolding.git --branch v11.6.0`
- `cd vue-app-scaffolding`
- `npm ci`
- `npm run storybook:build`

Your [prior suggestion](https://github.com/storybookjs/storybo

[2021-03-05 09:36] Infuser opened #14143 "Cannot install storybook Aurelia type project"
Hi Story book

I am trying to install storybook using aurelia as project type IMO it does not work at all
https://www.npmjs.com/package/@storybook/aurelia

Can someone internally at storybook try a fresh install using aurelia project.

Install steps
1. npx -p @storybook/cli sb init
2. npm install sass-loader sass webpack --save-dev
3. npm install node-sass

Issues I have had
1. Something saying re

[2021-03-05 09:41] shilman commented on #13893
@JessevanAssen

[code]

[2021-03-05 09:44] ghengeveld commented on #14055
@JesusTheHun it would be great if you could get Symbols to work properly in telejson. Another issue however is serialization to the URL, which only allows `[a-z0-9 _-]*` alongside `!null` and `!undefined`. That's why we're investing in a workaround where you use a simple string as the arg value, and apply a `mapping` to convert that to the actual (complex) value. That complex value is never sent o

[2021-03-05 10:04] shilman commented on #13988
Ermahgerd!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-beta.10 containing PR #14140 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-05 10:05] riovir commented on #13893
You may want to use the https format of the repo:
[code]

Alternatively, you can also bypass any cloning and use this via its npm initializer (@riovir/create-vue-app)
`npm init @riovir/vue-app`

Hope it helps!

[2021-03-05 10:13] juliankrieger opened #14144 "Storybook experiences a hard crash on reloading after fixing SCSS Syntax errors in a React project"
When editing an SCSS file and saving it with a Syntax error, Storybook correctly reports the syntax error in the correct line. After fixing (or changing anything else in that file for that matter), Storybook and/or the underlying Webpack Dev Server experiences a hard crash. It has to be manually restarted and may only work after deleting `node_modules/.cache` beforehand.

**To Reproduce**
Steps to

[2021-03-05 10:19] evgencode opened #14145 "Vue component: Doesn't see default property values"
**Describe the bug**
**1 case:**
Vue component in .vue file. Properties are defined via `vue-types` libriary.
Example:
[code]
looks like:
![image](https://user-images.githubusercontent.com/2129431/110101085-37e0d980-7db4-11eb-87ab-aedbed626678.png)

**2 case:**
Vue component is defined in .js file using jsx syntax (render function).
Example (components.js):

[code]
looks like:
![image](https://use

[2021-03-05 10:26] akd-io commented on #13145
Thank you for looking into this @shilman!

[2021-03-05 10:50] JesusTheHun commented on #14055
@ghengeveld I've created a [PR in telejson](https://github.com/storybookjs/telejson/pull/57) to truly support **global** symbols but it is simply impossible to have local symbols to be serialized, it's a JS limitation that is also a feature.

Now regarding the serialization to the url, I don't know where you need that but it's very likely a bad solution. You could base64'ify the content to pass th

[2021-03-05 10:56] juliankrieger commented on #14144
@shilman can you add appropriate labels (maybe `app:react`, `webpack` and `typescript`)? Thanks in advance!

[2021-03-05 10:59] shilman commented on #14144
Do you have a repro repo you can share?

[2021-03-05 11:07] mwilliamson commented on #14134
Thanks for the suggestion. I've just tried that, and I get the same problem:

![image](https://user-images.githubusercontent.com/391876/110107481-d6643f00-7da2-11eb-900f-133f59e5def2.png)

Expected:

![image](https://user-images.githubusercontent.com/391876/110107506-debc7a00-7da2-11eb-9498-fa577430e0c6.png)

[2021-03-05 11:38] larsenwork opened #14146 "Beta start-storybook hangs"
**Describe the bug**
Start-storybook doesn't complete for me on beta version.

**To Reproduce**
1. Have beta version installed
2. `npm run storybook`

**Current behaviour**
It hangs without completing the build and if I `ctrl+c` it actually completes for a split second but then closes

**Expected behavior**
It completes building and I can see my storybook

**Code snippets**
(note the `^C`)
[code]

[2021-03-05 11:42] larsenwork commented on #14146
FWIW the issue persist on `v6.2.0-beta.10`

[2021-03-05 11:46] btmnk commented on #10082
Did you guys find any solutions to this?
I'm having the same problem right now with a rush monorepo.
@storybook/react@6.1.17

My Dockerfile
[code]

Rush update and build work fine, so generally the dependency linking seems to work and all but once it comes to storybook it just fails at the very end (100%) of building for every story:

[code]

When I run it locally without docker it works fine desp

[2021-03-05 11:57] criskrzysiu opened #14147 "Storybook 6.2.0-beta new angular renderer ovverides properties"
**Describe the bug**
if component has some properties that are not inputs they are overridden
[code]

and template will be
[code]
then notInputProperty will be overridden after change detection we will get rendered ```notInputProperty : `.

if we add ```@Input``` decorator to this property then it works as it should and we get rendered: ```notInputProperty : kokos'.

setting   ```angularLegacyRend

[2021-03-05 12:02] larsenwork commented on #14146
Hmm... a machine restart resolved the issue. Closing this until I can repro consistently.

[2021-03-05 12:02] #14146 closed

[2021-03-05 12:35] juliankrieger commented on #14144
@shilman It turned out to be an issue with us using Storybook 6.1.14 in combination with NPM v7 and React 17. Upgrading via `npx sb upgrade --prerelease` fixed the issue

[2021-03-05 12:41] shilman commented on #14144
Pretty weird! Glad you got it sorted

[2021-03-05 12:41] #14144 closed

[2021-03-05 13:28] starzonmyarmz opened #14148 "Documentation (--docs) mode not running in local development"
**Describe the bug**
According to [Storybook Docs](https://storybook.js.org/docs/react/writing-docs/build-documentation#preview-storybooks-documentation) running `start-storybook --docs` should run a local instance in documentation mode, where the navigation is flattened and the toolbar is removed... similarly to how a public docs would be distributed. However running `start-storybook --docs` appe

[2021-03-05 13:30] ghengeveld commented on #1100
I updated the above thread to replace inline images and links with raw URLs. Hopefully that'll get those images out of the Google search index. We don't want to see those old logos in any more slide decks. Here's the proper one:

![storybook-logo-2400w](https://user-images.githubusercontent.com/321738/110119676-6b276680-7dbc-11eb-974c-f891f4c29928.png)

And white variant (for dark backgrounds):

!

[2021-03-05 13:43] BudHimself opened #14149 "Control boolean with default value in component is not initialized correctly (vue js component)"
**Describe the bug**
props in vue js component with default value to `true` and a story which have the props set to `false` in the template not init correctly the component in storybook.

**To Reproduce**
Steps to reproduce the behavior:
I do a component using vue js. This component have a props `isPrimary` with default value set to `true`. In the template of the story is set this props to `false`

[2021-03-05 13:56] blowsie commented on #13087
Right now, I'm having to nest a lot of classes to prevent this storybook issue. It's a fairly important topic for any vue user using storybook. Can we have this issue added to a priority. roadmap?

[2021-03-05 14:17] juliankrieger commented on #5183
@shilman I'm coming straight from #14144 to this Issue. Like @davidgilbertson, I get the same issue still.

[2021-03-05 14:18] starzonmyarmz commented on #14148
I was looking at something completely unrelated and saw the `--no-manager-cache` and thought I'd give that a shot:

`yarn start-storybook --docs --no-manager-cache`

and that seemed to do the trick! That said, this doesn't feel like a straight forward solution, so maybe the docs could mention that or maybe functionality can be enhanced 🤷🏻.

I'll leave this open for someone on the Storybook team to

[2021-03-05 14:32] gerardo-navarro commented on #12306
Hi @slowselfip, I think that you are right. Where you able to solve this?

I am experiencing the same issue with `react-hook-form`. I isolated the story / stories for easy testing.

[code]

[2021-03-05 14:38] shilman commented on #12306
@gerardo-navarro Instead of `<Story/>` try `{Story()}` in your decorator?

[2021-03-05 14:47] shilman commented on #14148
This is a bug introduced in 6.1. Thanks for reporting!!

Cc @ghengeveld @jonniebigodes

[2021-03-05 14:47] LeBenLeBen commented on #7593
There’s indeed an issue with this, when you provide `vuetify` object globally through a decorator, it works once (its defined the first time it goes through the function), but then the object is modified somehow and keys such as `$vuetify.lang` aren’t available anymore.

I was able to work around the issue by providing the `vuetify` object again locally to the component.

vuetify.js
[code]

.story

[2021-03-05 14:55] gerardo-navarro commented on #12306
@shilman Thank you for your quick response.

Unfortunately, It does not work. The method `useFormContext()` returns `null` which is not suppose to be considering that the `FormProvider` was wrapped around it. Given that `null` is returned, the following code breaks.

Any other ideas?

[2021-03-05 15:51] lev-savranskiy opened #14150 "@emotion10 components cause webpack issue"
**styled component  - webpack issue**

1. Create Gastby  2 project
2. Create a styled component (i use     _"@emotion/core": "^10.0.22"_)
3. Story book fails to run when i use styled component in a story.

<img width="1775" alt="110000927-d6503a80-7ce1-11eb-862f-120a03ae8838" src="https://user-images.githubusercontent.com/7965778/110138987-900de080-7da0-11eb-8e1a-543d20c5dcf3.png">

**main.js**

[

[2021-03-05 16:00] jqrun commented on #13988
Sorry to bother again 😬 , and thank you for the quick responses! The previous error is gone but now this one has surfaced:

[code]

[2021-03-05 16:29] pocka commented on #7593
IMO this issue should focus on the original topic (we can't `Vue.use`, the workaround is to add a decorator) and we better create another issue with more specific contexts. It seems recent comments are Docs Addon specific (especially Dynamic Source Rendering is suspicious regarding dates...). It's so hard to work on a bug report in the issue for a different bug, not only insufficient information (

[2021-03-05 16:54] pocka commented on #13087
@blowsie Could you make the issue more specific?

- **To reproduce** ... How you use the components? Any reproduction repo?
- **Expected behaviour** ... ex) each `<p>` tag has different data hash
- What is the actual result? ... ex) both `<p>` tag has same data hash

...and additional Vue specific ones (these would help us diagnose the bug a lot!):
- Do your DOM nodes on Storybook have `data-v-<co

[2021-03-05 17:13] scottdickerson opened #14152 "Webpack5: storybook blank with node_modules cache on second start"
**Describe the bug**
On first startup of the storybook, everything works correctly using webpack 5 resolutions according to the gist (and the additional gist configs).  However on second startup for me, the page stays blank and doesn't render the manager.  We noticed that if we delete the node_modules/.cache, the storybook works correctly again.

**To Reproduce**
Steps to reproduce the behavior:

[2021-03-05 17:19] bmayen commented on #6725
@shilman , can this be reopened? This is a primary use-case that isn't documented.

[2021-03-05 17:38] gaetanmaisse commented on #14120
@hasanirogers I make it work on your repo (thanks by the way, really appreciate not having to fight to reproduce the pb) with the following syntax:

[code]
Can you try and let me know if it behaves like expected? If so I will do a PR to add this is the [doc](https://storybook.js.org/docs/web-components/writing-stories/decorators#wrap-stories-with-extra-markup)

[2021-03-05 17:45] shilman commented on #6725
@bmayen This issue is already open?! 🤔

[2021-03-05 17:54] pocka commented on #14085
Confirmed in v6.2.0-beta.10, and happened in Storybook for React (same version, CRA) too. Clicking an empty color picker crashes the entire Storybook UI (you can check it with stories created by `npx sb init`). Also tested on stable (v6.1.21) but did not happen in v6.1.21.

<details>
<summary>Error stack</summary>

[code]

</details>

[2021-03-05 18:03] pocka commented on #14085
@shilman
I changed the title because it turns out this is `addon-controls`' (or Storybook UI's?) bug instead of Vue specific one. Could you take a look at this?

[2021-03-05 18:15] iwan-uschka opened #14153 "How to use addon-docs like addon-notes?"
Or in other words: how can `addon-docs` be used for showing story specific notes as we were able to do so with `addon-notes`?

I already use `addon-docs` for displaying component's `JSDoc`. It works great!

I need to display additional notes for each story, like a little how-to or guide on what exactly is being addressed in that story.

As i can see on https://github.com/storybookjs/storybook, `ad

[2021-03-05 19:01] brettm523 commented on #6725
Ah, looks like stalebot had it `inactive` back in December but it's active again.

[2021-03-05 19:34] shaktals commented on #13332
What up!
I started a fresh new _gatsby_ [public project](https://github.com/shaktals/gatsby-sample/tree/setup-storybook) and tried to install _storybook_ and then bumped into this issue.
Installing `html-webpack-plugin` doesn't seem to solve it.

While on the `setup-storybook` branck of my project, I tried deleting `node_modules` and `package-lock.json`, then `npm i` but _Gatsby_ is using _React_

[2021-03-05 19:50] tim-mukhin commented on #7109
Same here. Still a bug in 6.1

[2021-03-05 19:53] hasanirogers commented on #14120
@gaetanmaisse That works! Thanks a million.

[2021-03-05 22:12] atflick commented on #9209
Could a solution be to just add another Doc Block that's like a story but it's basically just a component that you can pass other components into?  Unless something like this already exists?  I'm trying to add additional documentation below my main story and ArgsTable which uses some other custom components that I wrote just for presentation.  Something like this...

[code]

Right now I can accomp

[2021-03-05 22:53] fabiradi opened #14155 "<em> element (or _italic_) in Controls table should not be "bold""
The global style defines the HTML elements `b` and `em` both as being **bold**, which is not quite correct.
See https://github.com/storybookjs/storybook/blob/4f5ab9fe9e590da7b841ec37cb1bed8d6327ea4b/lib/theming/src/global.ts#L50

[code]

As written on [MDN: \<em\>: The Emphasis element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/em#usage_notes):

The problem is: If you want to use _

[2021-03-05 22:59] fabiradi commented on #14153
If you use [MDX](https://storybook.js.org/docs/react/writing-docs/mdx) to write stories, it will get closer to what you might want to achieve. While there is no dedicated _field_  for notes, `MDX` is way more flexible. You could combine multiple stories, code samples, and lots of describing text, which was not really possible with `addon-notes`.  However, it is different and it takes some time to

[2021-03-05 23:45] shilman commented on #14153
If you follow this recipe, you can associate an MDX file with a story: https://github.com/storybookjs/storybook/blob/next/addons/docs/docs/recipes.md#csf-stories-with-arbitrary-mdx

If you only put markdown in the story, you can approximately achieve the Notes behavior.

@jonniebigodes we should get this into the official documentation

[2021-03-05 23:46] #14153 closed

[2021-03-06 02:11] tihuan commented on #14000
I have the same issue!

Please try: https://github.com/tihuan/components and run `yarn && yarn storybook` 🙏

Thank you!

[2021-03-06 02:47] shilman commented on #13893
@riovir thanks for this. i haven't gotten to the bottom of it yet, but my guess is it's a hoisting issue. I reinstalled with `yarn` just for testing purposes and that works fine. I'll see if I can figure out what's going on with `npm`.

[2021-03-06 02:50] shilman commented on #14134
@ghengeveld @ndelangen is this something you can help with?

[2021-03-06 03:02] shilman commented on #14085
Thanks @pocka, we'll take care of it! 🙏

[2021-03-06 03:07] shilman commented on #13332
@shaktals try running npm with `--legacy-peer-deps`

[2021-03-06 03:35] hg-pyun opened #14157 "Cannot read property 'tap' of undefined in ts-loader"
**Describe the bug**
[code]

**To Reproduce**
## webpack.config.js
[code]
## .storybook/main.js
#### Error
[code]
#### Work
[code]

**Expected behavior**
Do works without TypeError.

**System**
- Node.js v14.15.5
- darwin 19.6.0
- Npm Version 6.14.11
- webpack
[code]
- html-webpack-plugin
[code]

#### package.json
[code]

[2021-03-06 05:23] jacktraina opened #14158 "Bug: Controls not properly rendering in Storybook"
When I try to add argTypes to my Storybook components, the controls are not properly rendering. I instead appear to see raw data for the controls. This has only recently begun happening, but has happened with multiple components/controls of various types. Other components that were made earlier did not have this output so I assume it's a big with the new Storybook version.

Below is my code and th

[2021-03-06 10:04] shaktals commented on #13332
@shilman worked like a charm, thanks man!

[2021-03-06 10:33] tim-mukhin commented on #7109
@gavmck @imdongchen @Utzel-Butzel @shilman
I found the workaround here https://github.com/storybookjs/storybook/issues/5907#issuecomment-470015950
Thought it soult be already fixed, but as I've mentioned, it's still an issue in 6.1.

I guess if a project wants to use it's own webpack config, it will most likely turn on optimization and get caught on this bug. I suppose it would be helpful to point

[2021-03-06 12:44] Titou325 commented on #14118
Hi! Hope you are doing well,

I have been investigating a bit on my end, and the problem seems to occur before the typescript files are being handed to `react-docgen-typescript-plugin` so there might be an error with the babel loader for typescript files.

I have tried to initialize a very simple Storybook w/ Webpack 5 repository and can't get anything to work, here is the link to the repro: https

[2021-03-06 14:56] nikandlv commented on #6316
Thanks fam @podzz

[2021-03-06 15:49] oscard0m commented on #13988
Same here

[2021-03-06 18:39] bmayen commented on #13499
@MickL, could you share where you found these answers? Would help this documentation effort, but would also help other Angular devs looking for the same answers in the meantime.

[2021-03-07 03:52] pocka commented on #14110
The Dynamic Source Rendering feature does not support named slots, and it can't be implemented for now.
The problem is, named slots do not exist in a VNode tree: we need to create it by instance method (`$scopedSlots[name]`) with slot props, but we can't because we don't know the props from outside.

To fulfill this feature request, we need to re-implement the Dynamic Source Rendering feature in a

[2021-03-07 06:32] belykh opened #14160 "Critical dependency: require function is used in a way in which dependencies cannot be statically extracted"
**Describe the bug**
When I added addon `@storybook/addon-a11y` I've got a warning after running and building storybook

package.json
[code]

commands:
[code]

building log (partially):
[code]

**System**
[code]

[2021-03-07 10:15] keitheric79 commented on #13929
![tf1577256286299](https://user-images.githubusercontent.com/80196040/110236498-23135b80-7f04-11eb-80db-cc307c7e71db.jpg)

[2021-03-07 14:01] jogarijo opened #14162 "Svelte component documentation not generated when using inline arrow functions (`() => () => {}`)"
**Describe the bug**
In a Svelte project, Storybook fails to generate a component documentation when it contains nested inline arrow functions (i.e. `() => () => {}`).

**To Reproduce**
Steps to reproduce the behavior:

1. Create a simple Svelte project with Storybook. You can bootstrap one using `npx degit chromaui/intro-storybook-svelte-template taskbox` for example;
2. Install dependencies;
3.

[2021-03-07 21:08] Azim-Palmer commented on #12625
I also have this issue

[2021-03-07 21:11] no-todos commented on #9639
I wonder if this bug was ever fixed or the only way to solve it is to migrate to next major version?

[2021-03-07 21:14] chrisabrams commented on #11255
`dirname` was the magic I needed, thanks!

[2021-03-08 03:06] IanEdington commented on #9828
This might be another example of the benefit of a
We have a ~200 emails that we would like to storybook + chromatic with.
They all follow the same pattern so could easily be generated by finding all files that end in email.tsx and looping over them.

[2021-03-08 04:32] iamxyzby commented on #11290
You can try this:
[code]

[2021-03-08 06:10] shilman commented on #9828
@IanEdington Thanks for sharing that! The "CSF-compatible" way to do this would be to write a custom loader for those email files, which should be as simple as the for-loop you describe. We'll create a sample when we deprecate `storiesOf` to make it easy for people with this use case to transition off.

cc @jonniebigodes

[2021-03-08 07:20] LeBenLeBen commented on #7593
@pocka Isn’t the decorator needed in any case? The components must be wrapped within a `VApp` element for the styling to be applied properly. Also passing the Vuetify instance to the root Vue component is also needed according to Vuetify docs, `Vue.use()` is not enough, see [Webpack install](https://vuetifyjs.com/en/getting-started/installation/#webpack-install).

[2021-03-08 07:21] MatthijsBe commented on #13824
@waterstar  We created a work around for this, we created an npm package from the "sharedComponents" project mentioned above.

[2021-03-08 08:42] criskrzysiu commented on #14149
Not sure but it is very similar to #14147

[2021-03-08 09:39] skidding commented on #10987
If anyone's curious, [this is how React Cosmos integrates with Snowpack](https://github.com/react-cosmos/react-cosmos/blob/main/docs/snowpack.md). Not trying to promote Cosmos on a Storybook thread, just wanted to share how we do it. Storybook and Cosmos are similar in many respects so you might be able to get some inspiration.

The Cosmos integration is pretty verbose and requires some manual wir

[2021-03-08 09:48] blowsie commented on #13087
@pocka There is no hashes found on the nodes.

I can create a repro on an empty vue/storybook project using the examples above if required.

[2021-03-08 10:03] pocka commented on #7593
@LeBenLeBen

Ah, my bad. We can't eliminate the need for the decorator anyway. Also, the correct problem is "we can't access Vue root instance" not "we can't `Vue.use`" (updated original comment).

Do you mean this? It seems it's working without it according to comments... I thought the `vuetify` injection on the decorator is for this 🤔

[code]

I (and some contributors) acknowledge the root insta

[2021-03-08 10:12] pocka commented on #13087
@blowsie
Thanks for the information! I checked the vue-kitchen-sink but it does not use scoped CSS :/

Reproduction is greatly helpful 👍 Would you create one?

[2021-03-08 11:02] FabianPiconeDev commented on #13332
I had webpack installed with version definition `^5.18.0` but with command `npm i --save-dev html-webpack-plugin@next` i received error:

[code]
After that i found [this thread](https://stackoverflow.com/questions/65839447/cannot-read-property-createsnapshot-of-undefined), so i found out that `npm ls webpack` showed me webpack 4.x stuff, so i downgraded my webpack to v4 with `^4`, then i was able

[2021-03-08 11:20] thany opened #14166 "Errors after installing preset-create-react-app"
**Describe the bug**
I've been getting this warning when starting Storybook since we upgraded to 6.0:
[code]
I did what it says, and now I'm getting compilation errors:
[code]
This worked fine before. I cannot change the structure of our project, other components depend on it being the way it is, which is fine. Adding symbolic links is also a no-go, because first of all it says to create them in `

[2021-03-08 11:24] shilman commented on #14160
Did you try upgrading to 6.2-beta?

[code]

[2021-03-08 13:02] sagic commented on #14000
same here 🙋🏻‍♂️

[2021-03-08 13:29] Niznikr opened #14167 "Webpack5: Addons throw error on start"
**Describe the bug**
After updating to use the webpack5 builder with Storybook `6.2.0-beta.1` running `storybook-start` builds successfully but after opening the tab, there is a loading spinner with error.

[code]

Seems to also happen from the other addons when I start disabling some.

**To Reproduce**
Steps to reproduce the behavior:

1. Use Webpack5 builder (followed [this example repo](https:/

[2021-03-08 13:44] marjisound commented on #14157
I'm having the same issue. After upgrading webpack to v5 when I build-storybook or start-storybook, ts-loader module build fails and I get  **Cannot read property 'tap' of undefined**

`
WARN ./src/components/anchor.stories.tsx
WARN Module build failed (from ./node_modules/ts-loader/index.js):
WARN TypeError: Cannot read property 'tap' of undefined
WARN     at makeAssetsCallback (/Users/marjank/co

[2021-03-08 14:00] Niznikr commented on #14167
Deleted my `yarn.lock` and re-installed which seems to have helped. Now seeing this error in the console:

[code]

[2021-03-08 15:10] hg-pyun commented on #14157
@marjisound The error seems to have included ts-loader in webpack.config.js. In my case, the storybook used config.moodle.rules.push to remove the ts-loader. Storybooks seem to use webpack4 internally. Lower the webpack 5 version or remove the ts-loader from the storybook defendancy.

[2021-03-08 15:24] bmayen opened #14168 "prepareForInline triggers storyFn deprecation warning"
**Describe the bug**

I'm testing 6.2.0 beta 10 with Angular inline support. `prepareForInline` uses `storyFn` which has been deprecated.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1.` import { prepareForInline } from '@storybook/addon-docs/angular/inline';`
2. add `prepareForInline` to preview.js `docs` config
3. Load a component story and view warning in browser console

**Expec

[2021-03-08 15:52] GLosch commented on #14138
@TylerAPfledderer I ran into a similar issue. The culprit for me was `sass-loader`. Version ^11 caused the error you're seeing. I downgraded to version 10.1.1 and the error resolved. Hopefully that fixes it for you.

[2021-03-08 16:00] shilman commented on #14000
This warning is being printed here: https://github.com/storybookjs/storybook/blob/next/lib/core-server/src/manager/manager-config.ts#L37

Storybook is going through your project's dependencies and trying to read the `package.json` to extract the `storybook` metadata from it in the case of component libraries with published storybook's. I don't know why this code can't find `rollup`'s `package.json

[2021-03-08 16:06] shilman commented on #14158
@jacktraina this indeed looks like a bug. do you have a repro repo you can share?

[2021-03-08 16:10] shilman commented on #13499
@matthias-ccri we've got some new web component examples here https://github.com/storybookjs/storybook/pull/14163

[2021-03-08 16:13] ghengeveld commented on #14158
`type: { name: 'theme' }` is not a valid type name, and thus it assumes `'object'`. Previously that would render a string input field, but now that'll render the JSON editor.

What does appear broken is that `control.type` doesn't override `type.name`.

[2021-03-08 16:26] shilman commented on #14168
closing as dupe to #13074

[2021-03-08 16:26] #14168 closed

[2021-03-08 17:01] shilman commented on #14114
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-beta.11 containing PR #14165 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-08 17:01] shilman commented on #14162
Egads!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-beta.11 containing PR #14164 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-08 17:01] #14114 closed

[2021-03-08 17:01] #14162 closed

[2021-03-08 17:13] j3rem1e commented on #13499
Today, some section of the documentation is focused on React and can't be translated for other framework.
I think of :
- The 'ThemeProvider' example
- Reusing stories by importing them (works only because of jsx/react)

Code snippets can be translated but the text can't be adapted.

Likewise,  it's not possible to add sections specific to a framework. For example for Svelte, I'd like to add a sect

[2021-03-08 17:25] marjisound opened #14170 "Webpack 5 upgrade - ts-loader module build fails on storybook run"
**Describe the bug**
Hi there, after upgrading webpack version to 5, running build-storybook or start-storybook is causing the ts-loader module build to fail. **TypeError: Cannot read property 'tap' of undefined**

`
WARN ./src/components/anchor.stories.tsx
WARN Module build failed (from ./node_modules/ts-loader/index.js):
WARN TypeError: Cannot read property 'tap' of undefined
WARN     at makeAss

[2021-03-08 17:29] marjisound commented on #13893
Thanks @shilman  We actually manages to fix the `TypeError: The 'compilation' argument must be an instance of Compilation` issue for build-storybook by running `npm i terser-webpack-plugin && npm remove terser-webpack-plugin`

But now we are having a new issue on both build-storybook & start-storybook for ts-loader module build
`**TypeError: Cannot read property 'tap' of undefined**` for which I c

[2021-03-08 17:46] tihuan commented on #14000
Ahh perfect! Thanks so much, @shilman 🤩 Can confirm that the components work as intended in the storybook even with the warning 👍 Have a wonderful day!

[2021-03-08 18:49] belykh commented on #14160
Checked on 6.2-beta.11

No warnings on this version
Confirmed

Thank you!

[2021-03-08 18:57] ntucker commented on #14012
"won't affect the user's installation at all" - this is incorrect as various webpack plugins do version detection to determine how to operate and they get confused by finding webpack 4 in the path.

[2021-03-08 20:11] danielglarioja opened #14171 "pruebaerror"
**Is your feature request related to a problem? Please describe**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Are

[2021-03-08 20:12] danielglarioja commented on #14171
pruebaerrorr

[2021-03-08 20:12] #14171 closed

[2021-03-08 20:17] nemanjamilosavljevic-newtron opened #14173 "Storybook does not display images"
**Describe the bug**
[code]
This doesn't get rendered in the storybook

I have tried importing the image directly in the *.stories.tsx as described [here](https://storybook.js.org/docs/react/configure/images-and-assets), however, the image couldn't be found.
![image](https://user-images.githubusercontent.com/77624664/110376589-ad1e0a00-8053-11eb-8788-05305d91751a.png)

When I inspect the source, t

[2021-03-08 22:05] martynd commented on #13893
The majority of the times that I've had erratic `TypeError: The 'compilation' argument must be an instance of Compilation`  errors, it has been caused by separate installs of webpack 4 getting caught up in imports causing the instanceof tests to go sideways.
This would likely fit with people having differing successes when it comes to changing how modules are imported/installed and the inconsisten

[2021-03-08 22:26] #14000 closed

[2021-03-08 22:26] #14160 closed

[2021-03-08 22:28] shilman commented on #14173
@mandarini is this something you can help with?

[2021-03-08 23:01] tihuan commented on #750
I know this thread is 3 years old, but for completeness, check out: https://storybook.js.org/docs/react/configure/story-rendering#adding-to-head

[code]

[2021-03-08 23:29] anicholls commented on #13608
@shilman Thank you! Much appreciated.

I have tried to upgrade to 6.2.0-beta.11 to test and I am having babel issues. On start up I’m getting a bunch of `Syntax Error: Missing class properties transform` warnings. However, it looks like `
@babel/plugin-proposal-class-properties` is still included in the default storybook babel plugins so I don't know why this is appearing all of a sudden. Even if

[2021-03-09 01:31] shilman commented on #13608
@anicholls I think there's already an issue for this, so please look for it or open a new one and I can de-dupe. Thanks!!

[2021-03-09 02:05] azangru opened #14174 "Webpack5: DefinePlugin error (parser.isAsiPosition is not a function) in storybook with addons"
**Describe the bug**
While going through the [instructions](https://gist.github.com/shilman/8856ea1786dcd247139b47b270912324) for testing Storybook's Webpack5 support, I am seeing the following errors that appear to be related to Webpack DefinePlugin. The errors seem to be caused by addons (e.g. `@storybook/addon-viewport`). I have not checked whether disabling the addons will make the errors go a

[2021-03-09 03:52] indiejoseph commented on #14174
+1

[2021-03-09 03:52] shilman opened #14175 "Controls: Null control causes crash"
@ghengeveld after upgrading to latest beta I'm getting this error:

_Originally posted by @lifeiscontent in https://github.com/storybookjs/storybook/pull/14100#discussion_r589916421_

@ghengeveld In the docs, we recommend `control: false` as a way to disable controls. However, some users, such as @lifeiscontent were using `control: null` to do the same thing. Interestingly, this variant causes the

[2021-03-09 04:00] sidharthramesh commented on #13400
Any updates on this? I'm using stenciljs and want to use my components in storybook as just web components. Hot module reloading would be awesome too. I think the @storybook/web-components (@daKmoR) should show examples with customElements too. I am currently doing something like this
[code]
And I import the webcomponents and define them in the preview.js file. However, if there's a better method,

[2021-03-09 04:01] sidharthramesh commented on #13400
Referenced from this blog: https://paulcpederson.com/articles/stencil-storybook/

[2021-03-09 04:17] tmeasday commented on #12255
Wow, I can't believe I had this whole conversation with your @migueloller and had forgotten I'd submitted this PR already: https://github.com/storybookjs/storybook/pull/13049. Sorry to have led us down a wild goose chase.

[2021-03-09 05:26] migueloller commented on #12255
@tmeasday, hah very nice

[2021-03-09 08:39] shilman commented on #13400
we just got some new snippets here: https://github.com/storybookjs/storybook/pull/14163

does it help?

[2021-03-09 08:44] dexster opened #14176 "validateDOMNesting error when displaying a URL generated by compodocs"
### Bug

In an Angular project Storybook is displaying this console error for a link generated by Compodocs

[code]

### Steps to reproduce

Add JSDocs to an `@Input` in an angular component
[code]

or

[code]

Then run storybook to generate the docs and start the site

Compodocs generates this in documentation.json

`<p>This is a test\n<a href=\"https://example.com\">https://example.com</a></p>`

[2021-03-09 08:48] shilman commented on #14174
Hmm following your repro instructions succeeds for me... 🤔

[code]

[2021-03-09 09:48] thany commented on #12431
@shilman Seems like it, yeah. I'm not sure where to put those configs, but I'm sure you're also going to update the documentation, so everyone can find out on their own 😉

[2021-03-09 10:10] shilman commented on #12431
@thany yup, the documentation is updated in the PR and will be reflected on the live site once 6.2 is released. we might also have a deploy preview for the next release somewhere (@jonniebigodes ?)

[2021-03-09 10:19] ravecat opened #14177 "Skip eslint/prettier error in development mode"
**Describe the problem**
Default config in dev mode has broken rebuild on every eslint/prettier error

**Expected behavior**
Maybe storybook has config parameter or env variables for skipping eslint error in development mode, like CRA
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/24782863/110455703-cf5a6b00-80d9-11eb-8f3a-8e771209d692.png)

**System**
  System:
    OS:

[2021-03-09 10:19] tmeasday commented on #12255
At least my feeling about what the problem was correct 🤣

[2021-03-09 10:41] sidharthramesh commented on #13400
All of them use lit-html

[2021-03-09 10:42] sidharthramesh commented on #13400
All of them use lit-html

[2021-03-09 11:32] shilman commented on #14170
webpack5 is not supported in 6.1.x. when i upgrade and follow the [6.2 webpack5 configuration instructions](https://gist.github.com/shilman/8856ea1786dcd247139b47b270912324) the `ts-loader` errors go away (and are replaced by some other errors, which might be related to your setup).

as a side note, i'm not sure what are the implications of using `ts-loader` in storybook, which already comes bundl

[2021-03-09 12:28] JamieB-gu commented on #14170
Thanks for getting back to us @shilman! We're aware Webpack 5 isn't officially supported yet, so appreciate you taking the time to look at this.

Ah, I did naively attempt to bump our storybook dependencies to the [latest 6.2.x beta](https://github.com/storybookjs/storybook/releases/tag/v6.2.0-beta.11), but didn't realise those instructions existed. We'll try those out and let you know what we get

[2021-03-09 13:09] shilman commented on #13400
cc @gaetanmaisse

[2021-03-09 13:09] shilman commented on #14177
@mrmckeb is this something we can do by default in the preset?

[2021-03-09 13:13] shilman commented on #14157
closing as dupe to #14170 which has a repro

[2021-03-09 13:13] #14157 closed

[2021-03-09 13:16] shilman commented on #14170
@JamieB-gu in 6.1 it's webpack4. in 6.2 it's webpack4 by default, but when you opt-in by installing `@storybook/builder-webpack5` and setting `core.builder` to `webpack5` in `.storybook/main.js`, it will use webpack5 instead of webpack4 for building your components/stories.

[2021-03-09 13:24] gaetanmaisse commented on #13400
@sidharthramesh as you're using `@storybook/html` you have a few example stories in https://github.com/storybookjs/storybook/tree/next/examples/html-kitchen-sink/stories.

They are all using the new Component Story Format and you should be able to do the same on your side too, it should look like:

[code]

[2021-03-09 13:35] cy6erskunk commented on #13561
The same issue here... It seems that there's no way to use pre-intalled puppeteer if understood #13724 correctly.

[2021-03-09 15:55] JamieB-gu commented on #14170
Thanks @shilman! Switching to that configuration seems to do the trick (as seen in the PR that GitHub has linked above ^).

I did have to tweak how `terser-webpack-plugin` was installed, which I believe is due to the issue discussed in #13893.

We'll do some testing to see if we can spot any issues caused by jumping to the beta.

[2021-03-09 15:56] yurist38 commented on #1291
This an absolute MUST HAVE! 🙌  Please add this possibility to specify a custom path prefix...

[2021-03-09 18:18] hasanirogers opened #14180 "ArgsTable not working for Web Components in MDX"
**Describe the bug**
Probably doing something wrong again but I'm getting a message "No inputs found for this component." from the ArgsTable while using Web Components. I have the info for the component specified in custom-elements.json at the root of the project. I didn't see any docs on how to include an ArgsTable with components so I assumed you just pass it a string like you did with the forme

[2021-03-09 20:23] shilman commented on #14170
Awesome @JamieB-gu !! Thanks for being a guinea pig on this 🙏

[2021-03-09 23:27] shilman commented on #14095
Still seeing this issue in a CRA app. Needs more investigation...

[2021-03-09 23:41] shilman commented on #13888
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-beta.12 containing PR #14169 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-09 23:41] #13888 closed

[2021-03-09 23:41] shilman commented on #14014
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-beta.12 containing PR #14182 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-09 23:41] #14014 closed

[2021-03-09 23:41] shilman commented on #14102
Yay!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-beta.12 containing PR #14172 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-09 23:41] #14102 closed

[2021-03-10 01:20] shilman commented on #14118
Re: your new repo, there is no `tsconfig.json`. Storybook is not a scaffolder: it's meant to initialize itself in an existing app/design system.

I'm still stuck on your first repo, will try to spend more time on that today.

[2021-03-10 01:30] shilman commented on #14167
@Niznikr not seeing this when I clone the sample repo and add `addon-a11y@next`. do you a repro repo you can share?

[2021-03-10 01:38] Niznikr commented on #14167
I do not (private repo). I can share the `main.js` we use if that's helpful:

[code]

[2021-03-10 02:01] kaelig opened #14185 "Allow custom URLs in `outputStartupInformation`"
**Is your feature request related to a problem? Please describe**
I'm looking to output a special URL in this box:

![Screen Shot 2021-03-09 at 5 40 54 PM](https://user-images.githubusercontent.com/85783/110562666-cc25a600-80fe-11eb-8f5a-10a2a83184fb.png)

**Describe the solution you'd like**

An option that allows to extend this object would be great, but perhaps this is a bigger discussion and p

[2021-03-10 02:53] shilman commented on #14185
@kaelig I love this feature. Here's one idea for how to implement it in `.storybook/main.js` (which should be accessible from that code):

[code]

[2021-03-10 03:01] Niznikr commented on #14167
@shilman Found the culprit. We have a docs only story named `intro.docs.stories.mdx` which simply contains this bit to render our README md file using `transcludeMarkdown: true` from `@storybook/addon-docs`:

[code]

If I tell tell Storybook to ignore this file, everything runs fine with Webpack@5 builder. Guessing a regression from 4 -> 5 regarding importing md files with transcludeMarkdown in ad

[2021-03-10 03:03] shilman commented on #14167
HMMMM interesting. Thanks for tracking this down! I'll dig a little bit and see if I can reproduce. Much appreciated 🙏

[2021-03-10 03:05] Niznikr commented on #14167
You bet!

[2021-03-10 03:13] Niznikr commented on #14167
@shilman Actually confirmed it's not that. I excluded it from the snippet because I thought it was irrelevant but removed this bit and the doc rendered fine. In that same mdx file we have:
[code]

Where dsTitle.js contains:
[code]

I suspect the line `import pkg from '../packages/core/package.json'` is causing the issue

[2021-03-10 03:31] TylerAPfledderer commented on #14138
Hi @GLosch! I ended up going with a different workflow with my Gatsby project.

However, I did run into this issue in a Nuxt project, and moving back to the version of ```sass-loader``` you suggested did indeed resolve it!

Thank you!

[2021-03-10 03:52] Niznikr commented on #14167
The line is in accordance with the Webpack 5 [guidelines on JSON modules](https://webpack.js.org/migrate/5/#using-named-exports-from-json-modules) so not sure why it's causing in issue.

[2021-03-10 04:11] mnquintana opened #14187 "Add option to show globalTypes name in toolbar"
**Is your feature request related to a problem? Please describe**
I find it tricky to grok what custom toolbar items are / do just by looking at the icons or menu items alone. You can find out by hovering (assuming you set a `description`), but at least on macOS I find the delay time for a tooltip faaaaar too long to be useful for getting quick feedback about the thing you're hovering over. Even w

[2021-03-10 04:40] shilman commented on #14167
@Niznikr it might be that we have some weird JSON configuration in storybook core? cc @ndelangen

https://github.com/storybookjs/storybook/blob/next/lib/builder-webpack5/src/preview/iframe-webpack.config.ts#L194-L210

[2021-03-10 06:07] aharris opened #14188 "MDX auto HeaderWithOcticonAnchor links in iframe have incorrect url."
**Describe the bug**
A clear and concise description of what the bug is.

When clicking in the Octicon anchor links the query params from the URL are removed and the result is a blank page as no id matches.

**To Reproduce**
Steps to reproduce the behavior:

1. Create an MDX Page
2. Add headings that will be autolinked
3. Click on the  Octicon anchor
4. See error

**Expected behavior**
A clear and

[2021-03-10 06:19] daveisfera opened #14189 "Solution for duplicate kinds in a distributed fashion"
**Is your feature request related to a problem? Please describe**
Creating groups like `Atoms`, `Molecules`, `Organisms` currently isn't possible when they all can't be imported into a single location (see [here](https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#deprecated-support-for-duplicate-kinds))

**Describe the solution you'd like**
Ability to specify group/directory in indivi

[2021-03-10 06:21] Titou325 commented on #14118
Hello!

Thanks for your reply. I definitely forgot about the `tsconfig.json`, I have added it and pushed it however SB is still not picking any typings. I am going to try to investigate to see if I missed something else.

Thanks again, it is a pleasure to be of any help. Have a nice day!

[2021-03-10 06:42] daveisfera commented on #14189
And closely related to this, is what's the recommended solution for single components in a file versus files that export multiple components? Currently, things like `args` and `argTypes` can be put in `export default` and then used/shared by all of the components, but I don't see a way to do that sort of thing with a single file that `export * from` all of the files.

[2021-03-10 07:48] ThibaudAV commented on #14147
Yes, it's true. But I don't think it's a "bug". 🙈 Give me a few days to find time to make a complete answer. (very busy lately 😞 )

[2021-03-10 08:22] gyoon-dev opened #14190 "Unable to resolve path to module '@storybook/react/types-6-0'"
**Describe the bug**

Getting
eslint `Unable to resolve path to module '@storybook/react/types-6-0'. eslint(import/no-unresolved).` error when using
storybook with Typescript.

with the boilerplate code
`import { Story, Meta } from '@storybook/react/types-6-0';`

Is there a config I might be missing?

**To Reproduce**
Using Storybook with Typescript, NextJS, and other packages.

**Expected behavio

[2021-03-10 08:25] shilman commented on #14187
@mnquintana love it ❤️  PRs welcome -- will merge! @ghengeveld any thoughts on the API?

[2021-03-10 08:32] shilman commented on #14188
Thanks for tracking this down! Do you happen to have a repro you can share? I'm clicking around in our example storybooks and not seeing it.

https://next--storybookjs.netlify.app/html-kitchen-sink/?path=/docs/addons-docs--heading#story-reference

https://next--storybookjs.netlify.app/official-storybook/?path=/docs/addons-docs-mdx-id--hello-story#this-is-a-markdown-file

[2021-03-10 08:41] devbucket commented on #13811
@phated Any news on this one?

[2021-03-10 08:58] shilman commented on #14189
There are a few different levels of concern here:
1. How stories are described in files
2. How the data is stored in Storybook
3. What the user sees on the screen

I think we're pretty set on the first two. The recommendation is that each file represent stories for a single component. You can configure stories globally, on a component level, and on individual stories (parameters, decorators, args)

[2021-03-10 09:12] sneyed commented on #12353
I'm also seeing this issue with these deps

[code]

Is there any workaround to override the description column without displaying the "control" column?
I don't want to use controls at all

[2021-03-10 09:42] shilman commented on #13811
@devbucket there's definitely a bug here. @ndelangen poked around a bit and we have a workaround, which is to add the following to your `main.js`:

[code]

Embarrassingly, we don't know exactly why this is working or why the other solutions are failing. We'll need to spend some time reworking the babel config section of the code, but for now I'm classifying this as "has workaround" and prioritizin

[2021-03-10 11:01] yurist38 commented on #1291
I've just figured this out finally! 🎉  To set the path prefix you need to set `publicPath` in both `webpackFinal` and `managerWebpack` functions in the `.storybook/main.js` like this:

[code]

For some reason, I have found nothing about it in official docs, had to google it a lot...

[2021-03-10 11:06] kaeh opened #14192 "[Angular] Generated attributes with auto generated id (like nghost)"
**Describe the bug**
When using `test: multiSnapshotWithOptions()` in an angular context, the generated snapshot contains attributes with auto generated id, like _nghost-a-c[id].

[code]

This is also the cased for HTML attributes like `aria-describedby="cdk-describedby-message-52"`.

I don't really know if this is a bug or me using the addong incorrectly, but it sometimes fail my snapshots testin

[2021-03-10 11:09] ghlai9665 commented on #7215
I solved this by opening storybook in an incognito window. It's possible that Chrome plugins are messing with the browser.

[2021-03-10 11:49] reno1979 commented on #13400
@gaetanmaisse the examples work, thanks for that.

But mentioned before: The docs part of storybook does not render the component anymore. Instead it shows the HTML string.
Some examples stories https://github.com/storybookjs/storybook/tree/next/examples/html-kitchen-sink/stories. return HTMLElements instead of a string, perhaps I could just use a DOMparser.

The controls etc only work when I supp

[2021-03-10 11:59] reno1979 commented on #13400
Ok just tested returning HTML elements, now the docs render the components!! yeah!

But know the canvas is broken..... Message:

Expecting an HTML snippet or DOM node from the story: "Primary" of "Buttons/button"

Sigh... Zucht...

utility used:

[code]

[2021-03-10 12:27] Varedis commented on #13335
Issues still happens in the latest version of storybook (v6.1.21) when using storyshots and automatic matched args for actions

[2021-03-10 12:29] Tymek commented on #11916
In case someone find this issue searching for "why argTypes from TS aren't working": Check **`tsconfig.json`**. In my case adjusting something to be in line with [`/examples/cra-ts-kitchen-sink/tsconfig.json`](https://github.com/storybookjs/storybook/blob/65c8ca746f441464a095d623117af3f89ac4d803/examples/cra-ts-kitchen-sink/tsconfig.json) fixed this issue.

[2021-03-10 12:29] dexster opened #14193 "Angular source code view unavailable until control toggled"
**Describe the bug**
In the Docs tab the "Show code" option is disabled and shows "No code available". Simply toggling a control enables the ability to Show code

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new angular cli project
2. `npx sb@next init` in the project
3. `npm run storybook`
4. Click on Primary button and click the Docs tab
5. Note the disabled option to view code

[2021-03-10 12:34] shilman commented on #14193
@yngvebn is this something you can help with?

[2021-03-10 12:36] shilman commented on #12255
I think we'll probably merge it first thing in 6.3-alpha unless @tmeasday thinks we should jam it into 6.2

[2021-03-10 12:39] temacode commented on #13467
@MickL you just need to provide APP_BASE_HREF, as it says

[code]

[2021-03-10 12:40] yngvebn commented on #14193
I can atleast point in the right direction. As far as I remember, this is broken in the "old" Angular rendering-mechanic, but works if you apply `prepareForInline` in docs. So in preview.ts:

[code]

This should enable the Show Code button immediately, and added benefit is faster rendering of Angular storybooks :)

[2021-03-10 12:47] shilman commented on #12353
@sneyed you can set `control: false` to disable controls

https://storybook.js.org/docs/react/essentials/controls#disable-controls-for-specific-properties

[2021-03-10 13:44] dexster commented on #14193
Yes, inline fixed the issue for me. Thanks

[2021-03-10 15:01] criskrzysiu commented on #14147
Well I don’t think storybook should change in any way properties that are
not inputs and are even private (i know ts private is come and take It).
But, sure will wiat for update on Your side. For now will keep legacy
rendering on.

W dniu śr., 10.03.2021 o 08:48 ThibaudAV ***@***.***>
napisał(a):

[2021-03-10 15:05] soullivaneuh opened #14194 "Typescript React event type references are not recognized as a function"
**Describe the bug**

If a component event prop is defined with a typescript type reference like this:

[code]

This is not recognized as a function and show the related controls allow text modification:

![image](https://user-images.githubusercontent.com/1698357/110649443-e3759980-81b9-11eb-807c-793763c8e510.png)

If I switch back to a classic function declaration:

[code]

Then it is recognized

[2021-03-10 18:39] lightcap commented on #14190
Having the same issue but not with nextjs. Standard CRA with Ionic.

[2021-03-10 20:23] alvarosaburido commented on #13957
I still have an issue tho using quasar v2 with storybook https://github.com/quasarframework/quasar/issues/8607

[2021-03-10 21:20] shilman commented on #14193
we might make inline the default in the (near) future.

as for deprecating iframe stories, i don't see that happening. we'll probably need to fix the bugs eventually, but later as part of a major refactor for addon-docs.

[2021-03-10 21:20] shilman commented on #14190
Did you try removing `node_modules` and/or lockfiles and reinstalling?

[2021-03-10 21:29] lightcap commented on #14190
I believe I've narrowed it down to an issue between `eslint-plugin-import` and storybook.

I added one thing at a time back to my app and found that when I added that eslint plugin back in the error was triggered. Take it out and it's gone.

You can still use `eslint-plugin-import` but you'll need to make sure you add the typescript config to fix it. Adding `plugin:import/typescript` to your `esli

[2021-03-10 21:30] lightcap commented on #14190
I'd love to hear if this fixes it for you @gyoon-dev.

@shilman yeah, I tore it all down and built it up one package at a time. I was sure it was a `craco` related issue, but turned out not to be.

[2021-03-10 22:41] shilman commented on #13988
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-beta.13 containing PR #14196 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-10 22:41] #13988 closed

[2021-03-10 22:41] shilman commented on #14095
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-beta.13 containing PR #14184 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-10 22:41] shilman commented on #14103
Crikey!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-beta.13 containing PR #14191 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-10 22:41] #14103 closed

[2021-03-10 22:41] shilman commented on #14139
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-beta.13 containing PR #14186 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-10 22:41] #14095 closed

[2021-03-10 23:35] tmeasday commented on #12255
Yeah I guess it would be a bad idea to merge it at this late point given the potential for unintended consequences

[2021-03-10 23:35] tmeasday commented on #12255
@Varedis

I think if it was going to break something it would be an obvious "missing hook" style of error.

[2021-03-11 00:01] anicholls opened #14197 "Storybook 6.2.0-beta.13 not transforming class properties"
I have tried to upgrade to `6.2.0-beta.13` to test the fix for #13608 and I am having babel issues. On start up I’m getting a bunch of `Syntax Error: Missing class properties transform` errors. However, it looks like `@babel/plugin-proposal-class-properties` is still included in the default storybook babel plugins so I don't know why this is appearing all of a sudden. Even if I explicitly add it m

[2021-03-11 00:06] sneyed commented on #12353
@shilman unfortunately adding `control: false` removes the description as the issue poster above describes

controls specified:

![image](https://user-images.githubusercontent.com/14341953/110715682-71e92a00-8251-11eb-9472-eaa7c7dc1dbe.png)

`control: false`

![image](https://user-images.githubusercontent.com/14341953/110715622-57af4c00-8251-11eb-9565-0be464011421.png)

[2021-03-11 00:10] shilman commented on #12353
@sneyed Hmm that's a bug. Will dig in

[2021-03-11 01:05] shilman commented on #14197
@anicholls as a workaround can you try

[code]

we did a bunch of package upgrades in 6.2 so if you're not seeing any specific change about this, i'd bet it's due to something that happened in one of our dependencies?

[2021-03-11 03:07] Niznikr commented on #14167
Perhaps? I can try without that entry and see if that helps.

[2021-03-11 03:31] Niznikr commented on #14167
@shilman Was able to verify that json imports are fine. The thing causing `RangeError: Maximum call stack size exceeded` to get thrown is having periods within the Meta title. In my case it was showing the `package.json` version in the title. This leads me to think it is not Webpack related but perhaps a change in what is allowed in titles?

[2021-03-11 04:09] shilman commented on #14167
Aha, so the generated string was something like `My Design System 0.5.3/Intro`?

[2021-03-11 04:16] shilman commented on #14139
follow-up in #14198

[2021-03-11 07:21] nemanjamilosavljevic-newtron commented on #14173
@mandarini?
I'd appreciate some hint as to what causes this issue.

[2021-03-11 08:20] ntindle commented on #13731
Note: there has been a channel created on the community discord called #blazor to help work on this

[2021-03-11 08:53] InsOpDe commented on #10784
In the end it boils down to the webpack configuration being used.  If `node_modules` is excluded in every webpack-rule `node_modules` should be excluded from being iterated as it is at the moment. if the modules are in fact not excluded, its a webpack issue.

is it as trivial as I described?

[2021-03-11 09:01] mockingjet opened #14201 "MDX fails to render docs with Vue3"
I build components with Vite, Vue3, VueJsx, Typescript, Tailwindcss.

Everything works fine with Storybook in Component Story Format, but MDX Format only render Canvas and no Docs.

[code]

It works in Canvas
![image](https://user-images.githubusercontent.com/32839503/110760239-77626680-8289-11eb-8f6c-2a964e91f3fc.png)

But it fails in Docs
![image](https://user-images.githubusercontent.com/328395

[2021-03-11 09:07] magic-akari commented on #12479
bump

[2021-03-11 09:21] F0rsaken commented on #10654
For anyone having problem with Storybook with Vue 3 + TypeScript, here's what I did:
1. Add SB to project `npx sb@next init`
2. Remove generated folder `src/storybook` that contains examples, as it broke my compilation (don't know why)
3. As suggested above, install vue loader `yarn add -D vue-loader@next`
4. In `package.json`:
[code]
Adding `^16.1.2` don't work for me (still don't know why)
5. Re

[2021-03-11 09:47] RobineSavert opened #14202 "Show code not parsing correctly Vue 3"
### Bug or support request summary

I recently updated my component library to Vue 3. Everything is working as intended, except for the Show Code tab. It shows everything in the callback, not just the template.

I used the Button story from the official Storybook documentation for Vue 3 and was able to reproduce this problem as well.

### Steps to reproduce

- Have a working Storybook Vue 3 enviro

[2021-03-11 10:05] Stupidism commented on #13062
I met this bug today and found it's caused by not upgrade the whole @storybook family together.
![image](https://user-images.githubusercontent.com/5801015/110770523-5fdcab00-8294-11eb-985a-55bf8be76447.png)

[2021-03-11 10:12] shilman commented on #14202
closing as dupe to #13917

[2021-03-11 10:12] #14202 closed

[2021-03-11 10:30] RobineSavert commented on #13917
Thanks for the answers but workaround 2 breaks the Canvas tab..

[2021-03-11 10:37] shilman commented on #14201
We're waiting for MDX v2 to be released to try addressing stuff like this.

In the meantime you have two options. One is to write your stories using POJO, like this:

https://github.com/storybookjs/storybook/blob/next/examples/vue-3-cli/src/stories/GlobalUsage.stories.js#L9-L18

The second is to use the VueJsx in your story file, and then embed that in MDX using this recipe:

https://github.com/st

[2021-03-11 11:01] Sawtaytoes commented on #7540
@redshoga Your fix worked for me.

This is the JavaScript version:

`.storybook/main.js`
[code]

This project is brand new built with Emotion and Next.js just tonight. I'm surprised I had to add this hack for it to work.

I have Storybook + Emotion playing nicely together without a hack on two separate projects at work, but I'm not sure why it works there and not here.

[2021-03-11 11:40] Blackfaded commented on #10654
In addition to the above comment I can add, that the `vue-style-loader` enabled me to inject global sass files like so:

[code]

[2021-03-11 12:01] Niznikr commented on #14167
Yup!

[2021-03-11 12:11] mockingjet commented on #14201
@shilman Thanks. First option is not what I want. As for the second option, it didn't work.

[code]

[code]
![image](https://user-images.githubusercontent.com/32839503/110785221-a686d100-82a5-11eb-8aed-a9dcec4986ef.png)
![image](https://user-images.githubusercontent.com/32839503/110785239-ae467580-82a5-11eb-879a-553b08385c95.png)

[2021-03-11 12:13] shilman commented on #14201
@mockingjet Any Errors in the browser console?

[2021-03-11 12:14] mockingjet commented on #14201
@shilman The same as the errors in my post

![image](https://user-images.githubusercontent.com/32839503/110785873-6542f100-82a6-11eb-9be0-1f24777ba234.png)

[2021-03-11 13:17] ybrodsky commented on #9962
Any update on this?
Any way to do it?

If you have 10 stories and you manage to reduce it to just 1 by using knobs (or controls, whatever) you will see a coverage decresed. So you are forced to have 10x more code just to avoid losing coverage.

[2021-03-11 13:25] aghan commented on #9455
Hello All,

I wanted to do something similar. Is there a way we could render stories and export them into HTML files? I read the comments and it seems there is no way to do this but still wanted to check.

[2021-03-11 13:28] bursik-peter opened #14204 "Range slider value label changes handle position and causes jittering"
**Description**
When the range sliders' (most notably with `step` smaller than 1) handle is dragged, the numeric value label changes its size, that causes slider width change, and that causes handle position change to a slightly different value.

**To Reproduce**
Steps to reproduce the behavior:

1. Add a range slider to a component story with `step = 0.01`
2. Interact with handle
3. Observe prop

[2021-03-11 13:29] shilman commented on #9962
@ybrodsky rough proposal here https://docs.google.com/document/d/1MF1QZdMvJ-0mMxCuFXxgthkig5AZp2L6f4VGNIu03zc/edit?usp=sharing

[2021-03-11 13:32] shilman commented on #14201
do you have a repro repo i could look at?

[2021-03-11 14:13] shilman commented on #13616
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-beta.14 containing PR #14199 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-11 14:13] shilman commented on #14056
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-beta.14 containing PR #14200 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-11 14:13] shilman commented on #14139
Crikey!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-beta.14 containing PR #14198 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-11 14:13] #14139 closed

[2021-03-11 14:13] #13616 closed

[2021-03-11 14:13] #14056 closed

[2021-03-11 14:30] dersimn opened #14205 "dispatched CustomEvent not showing up in Actions"
**Describe the bug**

Custom made events are not showing up in Actions.
See [this repository](https://github.com/dersimn/storyboard-customevent-issue) for fully working example:

`Button.js`
[code]

`Button.stories.js`
[code]

![screen3](https://user-images.githubusercontent.com/3258452/110801369-775c6980-827d-11eb-97da-a383517f1c34.png)

**To Reproduce**
Steps to reproduce the behavior:

1. `git

[2021-03-11 14:30] TheDutchCoder commented on #14056
Awesome, I'll give it a whirl and let you know if everything works!
Thanks for jumping on this so fast!

[2021-03-11 14:36] TheDutchCoder commented on #14056
All working, excellent work!

[2021-03-11 15:16] desiboli commented on #13034
Hi! I'm experiencing the same problem. I have a setup of Vue 2 (TS) and Vuetify.
It doesn't load/recognize the global variables.scss file I want to import.

I tried both importing it like this `import "@/styles/variables.scss";` and like this `import '!style-loader!css-loader!sass-loader!../src/styles/variables.scss';`, I have also tried to import it via webpack in .storybook/main.js with sass-loa

[2021-03-11 15:21] phaistonian commented on #14005
Closing this issue since the latest betas have resolved those issues.

Ps: great work @shilman and all!

[2021-03-11 15:21] #14005 closed

[2021-03-11 15:22] TheDutchCoder commented on #11989
This works properly for me on the latest version:

[code]

[2021-03-11 15:22] phaistonian opened #14206 "[6.2b] Issue w"
This is an issue with 6.2b.

<img width="728" alt="CleanShot 2021-03-11 at 17 19 53@2x" src="https://user-images.githubusercontent.com/796530/110810192-3882df80-828e-11eb-8159-3ef438dcc3ff.png">

As a sidenote, when switching to the Docs pane, the knob works fine.

[2021-03-11 15:31] mockingjet commented on #14201
@shilman https://github.com/mockingjet/storybook-vite-vue3-vuejsx-demo

[2021-03-11 15:37] desiboli commented on #7593
Hi just wanna say that I'm experiencing the same problem mentioned in some comments here regards importing the global variables.scss file. Has anyone found a solution or a workaround for this ? 🙏

I've tried with both importing `import '!style-loader!css-loader!sass-loader!../src/styles/variables.scss';` and `import "@/styles/variables.scss";`with no success :(

This is my .storybook/preview.js fi

[2021-03-11 16:02] marians commented on #12780
I just had a very weird debugging experience and would like to share it here.

This is the start of my file `Colors.stories.mdx`:

[code]

This yielded the warning

[code]

and the according story `Display/Colors` was missing from the generated output. I was searching for anything suspicious in line 5, character 18, but failed. Line 5 is in fact empty.

Thanks to comment https://github.com/storybo

[2021-03-11 16:04] dawidzarzycki opened #14207 "Search input activated when pressing '/' in text knob/control"
**Describe the bug**
When I'm using text knob and then I want to type `/` then `search input` is getting focused. It means that shortcut fires when I'm typing.

**To Reproduce**
Steps to reproduce the behavior:

1. Create any text knob
2. try to type `/`

**Expected behavior**
I can type `/` in text knob and active element won't change into `input search`

**Additional context**
I'm using componen

[2021-03-11 16:12] phaistonian opened #14208 "[6.2b] ReferenceError React is not defined"
It seems, at least in my case, that the JSX transform is either ignored or not working (anymore?).

This Reference Error `React is not defined` comes up when removing `React` from the import.

Tried hard to pinpoint to issue, but I failed to.

Any ideas or pointers?:)

[2021-03-11 16:48] sidharthramesh commented on #13400
Okay. So I just got to using these snippets, and they work great! They work with custom elements out of the box if they are just imported in the preview.js file! I assumed that they were meant for lit-html components only, but it works for anything. Thanks for these snippets!!

One thing that took me a while to figure out was that non-string attributes must be passed in as properties instead with

[2021-03-11 16:51] nemanjamilosavljevic-newtron commented on #5941
The same problem exists in storybook/react@6.1.11.
https://github.com/storybookjs/storybook/issues/14173

[2021-03-11 17:02] aharris commented on #14188
@shilman thanks for the quick reply.

I created a simple app from scratch to highlight this bug:

https://github.com/aharris/storybook-hash-anchor-bug-demo

By comparing the default storybook install to mine I was able to find what is causing it to break.

Just the existence of `manager.js` causes this issue.

Create that file in `.storybook` and links no longer work. Even if that file is empty.

[2021-03-11 17:19] gaetanmaisse commented on #13400
@reno1979 I'm facing the same limitation in my company Storybook, the need to use web-component-analyzer etc, I hope I will be able to do some improvement on that side, on HMR and add missing features to be aligned with @storybook/angular/react/vue for the next big release of Storybook (6.2 will be out soon so I think it will be 7.0 then).

@sidharthramesh yep `@storybook/web-components` is `lit-h

[2021-03-11 18:30] anicholls commented on #14197
@shilman Thanks! Switching from `babel` to `babelDefault` doesn't seem to make a difference.

[2021-03-11 18:53] F0rsaken commented on #11515
Actually, I don't know if changing the `target` property is the solution. Let's say I want to keep it as `esnext` or lower for browser compatybility. What should I do then?

[2021-03-11 19:02] developer239 commented on #10142
@nickdandakis I don't think this is a correct solution because we should be able to mock/stub imports in runtime.

Example:
- `Component B` is connected to redux
- `Component A` is not connected to redux and uses `Component B`

If I want to test `Component A` with Storybook I shouldn't have to connect it to redux just because `Component B` requires it. I likely have a separate story where `Compone

[2021-03-11 19:54] idbartosz opened #14209 "[6.1] Allow to search by story"
**Is your feature request related to a problem? Please describe**
Storybook 6.1 allows only to search by kind. This means that I can search for a `Button` but I cannot search for the stories associated with it, like `with emoji`.

**Describe the solution you'd like**
I'd like to be able to search by story.

**Describe alternatives you've considered**
If this might cause some performance issues in

[2021-03-11 19:58] nemanjamilosavljevic-newtron commented on #14173
Well, finally I've figured it out (how to fix the issue).
Removing this part of the webpack config allowed images to be parsed correctly.
[code]

Mind you, this configuration was added automatically when generating a library.

[2021-03-11 19:58] #14173 closed

[2021-03-11 20:13] trickydisco78 commented on #6364
I'\ve added a decorator (withHTMLDOc) to preview.js and now it's broken the loading of css. How do i get the css to load along with this addon?

[code]

[2021-03-11 20:57] jacktraina commented on #14158
@shilman I cannot share the repo publicly, but can I provide you with specific files that would be useful?

[2021-03-11 21:34] nhoizey commented on #7671
Following my previous comment about using both Style Dictionary and Storybook, here's how I use the former's global JSON output in the later's stories, based on some examples I've seen elsewhere.

For colors:

[code]

For typography sizes:

[code]

As you can see, I target a fraction of my color tokens (`tokens.color.brand`) for a section of the color options story. It contains other sections for

[2021-03-11 23:26] salehkaddoura-alation opened #14211 "StorybookJS not importing RequireJS components properly"
Hello storybook team, this is not necessarily a bug but an issue I ran into and would like some guidance.

I am creating my first story and attempting to import one of my components and I am running into this error.

`ERROR in ./js/require/****/views/uikit/UIButton.jsx
Module not found: Error: Can't resolve 'alation/views/uikit/UITooltip' in '/Users/saleh.kaddoura/dev/alation/django/static/js/requ

[2021-03-12 00:32] matheo opened #14214 "[6.2.0-beta.14] Unknown exception created by Scroller"
**Describe the bug**

I was trying to see if the next version had fixed this issue:

![image](https://user-images.githubusercontent.com/260185/110873656-36c21780-82a0-11eb-91c4-60eb82192891.png)

but instead I got:

![image](https://user-images.githubusercontent.com/260185/110873381-a08df180-829f-11eb-838e-c5b80311a84b.png)

**To Reproduce**

I've updated my packages from `~6.1.21` to `~6.2.0-beta

[2021-03-12 01:42] shilman commented on #14209
Already available in 6.2

[code]

[2021-03-12 01:42] #14209 closed

[2021-03-12 01:55] shilman commented on #14205
@yannbf can you look into this when you have a min?

[2021-03-12 01:55] shilman commented on #14214
Did you try removing `node_modules` and/or lockfiles and reinstalling?

[2021-03-12 01:57] #14211 closed

[2021-03-12 02:03] shilman commented on #14206
did your issue title get cut off?

[2021-03-12 02:03] shilman commented on #14206
FYI, we’ve released `addon-controls` in Storybook 6.0. Controls are portable, auto-generated knobs that are intended to replace `addon-knobs`, which are slated for deprecation.

- [Controls documentation](https://storybook.js.org/docs/react/essentials/controls)
- [Migration instructions](https://github.com/storybookjs/storybook/blob/next/addons/controls/README.md#how-do-i-migrate-from-addon-knobs)

[2021-03-12 02:07] shilman commented on #13400
@gaetanmaisse probably 6.3 👍

[2021-03-12 02:24] Niznikr commented on #14167
Any recommendations? Until we get composition going, this has been a helpful way to inform folks the version of the DS being reflected in the deployed SB instance.

[2021-03-12 02:56] matheo commented on #14214
@shilman yep, I doubled checked and I did refresh the `node_modules` when updating it :)

[2021-03-12 05:11] tylercollier commented on #12855
Any update? From what I can tell, it's not that the introduction story is leaking, or the sample stories are leaking, but all component css is merged. E.g. if component A imports CSS with `* { font-color: red; }`, and component B imports CSS with `* { font-weight: bold; }`, then both components will have red bold text. On the homepage of https://storybookjs.org it says:

Thus I figured the iframe

[2021-03-12 05:38] ywongau opened #14216 "Need a reliable way to test if storybook page is ready programatically"
**Is your feature request related to a problem? Please describe**
Start-server-and-test is very reliable with storybook <= 5 because the HTTP endpoint isn't available until everything is built, but stop working with storybook 6 because the webserver is up before it is ready and shows a `building n/m modules` screen, therefore the endpoint test doesn't work anymore

![image](https://user-images.git

[2021-03-12 07:19] phaistonian commented on #14206
@shilman Sorry - the title was meant to describe the issue illustrated in the screenshot.

Controls are great - will switch to that — which resolves the issue for me too.

Thank you

[2021-03-12 07:19] #14206 closed

[2021-03-12 08:02] YozhEzhi opened #14218 "Old images for new docs"
**Describe the bug**
Images for docs should be updated :)

**To Reproduce**
Where:

1. Go to https://github.com/storybookjs/storybook/blob/master/addons/docs/docs/docspage.md#component-parameter
2. Go to https://github.com/storybookjs/storybook/blob/master/addons/docs/docs/mdx.md

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
1.
![image](htt

[2021-03-12 09:09] ndelangen commented on #12625
I find it interesting you can run a development command (`npm run build`) when only having production dependencies installed, honestly.

Is this intended to work @mrmckeb ?

[2021-03-12 09:24] ndelangen commented on #12625
The issue has 2 possible work-arounds, right now:
- install all dependencies
- move the storybook the storybook dependencies to regular dependencies manually.

Despite the error in the console, the build CRA works!, the output of /build is valid and opens in a browser.

I'm not exactly sure what CRA is trying to do with the src/stories contents..
The problem is that the content in there is typescr

[2021-03-12 09:27] trickydisco78 commented on #25
This was working when i was just importing global styles but now i've added a decorator to enable html preview the styles are no longer loaded

[code]

[2021-03-12 10:37] lucascurti commented on #13914
Deleting `node_modules/.cache` and restarting temporary fix it. In my case it breaks when saving multiple files. Once it breaks, it doesn't matter if I restart storybook, it will still be broken and deleting the cache is the only way to fix it.

[2021-03-12 10:43] atrunelle commented on #14109
FYI, We have a very similar issue with providing `i18n` to our components and using story with arguments.

We are using a decorator in our Vue components to provide `i18n` config globally in `preview.js`

[code]

The decorator works great for stories without args. But those with args throw an error: `TypeError: Cannot read property 't' of undefined`

I can provide more info if needed but it seems

[2021-03-12 11:44] F0rsaken opened #14220 "Version 6.1.21 of `@storybook/vue` breaks '*.vue' module types"
**Describe the bug**
Installing newest version (6.1.21) of `@storybook/vue` in Vue 2 + TypeScript project, breaks module augmentation specified in `shims-vue.d.ts` file. All imports of Vue components in TS files are now typed as `{}`, not `VueContructor`.

**To Reproduce**
Steps to reproduce the behavior:

1. Create Vue 2 project using `vue-cli`
2. Add storybook, using `npx -p @storybook/cli sb in

[2021-03-12 12:52] JamieB-gu commented on #14170
I'll try to keep the PR (linked above) updated with the betas you're releasing, to see if we can smoke out any issues.

Beta 14 seems to build fine according to our CI and works with our Chromatic integration (as seen in the PR checks). Only issue was the terser-plugin issue mentioned above: bumping the storybook versions essentially reverted the tweak I'd made to get it working - you can see what

[2021-03-12 13:23] NiklasPor commented on #13561
Ran into the same issue. Strangely I resolved it by calling `sb extract` from the root of the repository with the dist folder as a parameter:

[code]

This strangely worked in opposite to `cd dist/storybook/your-lib/ && sb extract` in my case.

[2021-03-12 13:37] jeongsd commented on #7540
I fixed it with the settings below.
Hope it helps someone.

pacakge.json
[code]

.storybook/main.js
[code]

[2021-03-12 13:52] RemiKalbe opened #14221 "Change default main.js config for svelte project"
Currently, when installing storybook in a svelte project, it's not possible to import an external svelte component. The following error occurs:

`Module not found: Error: Can't resolve .......`

**To Reproduce**
Just import an external library that relies on the "svelte" entry.
In my situation, I tried to use `svelte-loading-skeleton`

**Additional context**
As mentioned here https://github.com/st

[2021-03-12 13:55] FelixSab opened #14222 "[6.2.0-beta.14] using asset/source Webpack 5 loader returns export string"
**Describe the bug**

Using the built-in Asset Modules (in my case `asset/source` for loading the svg images directly into the dom) in Webpack 5 results in a string looking like this: `export default __webpack_public_path__ + "static/media/Download.59ef5238.svg";`

**Expected behavior**

The .svg images are loaded into the dom properly

**Code snippets**

config/.storybook/main.ts
[code]

config/w

[2021-03-12 14:08] jenshaase commented on #14052
Hi,

I had the same problem. I found this little workaround. Maybe it helps.

[code]

The trick here is to alias the Options Decorator to `Component`. Then `vue-docgen-api` works for me. At least on my small example.

[2021-03-12 14:14] yannickcornaille commented on #1291
It doesn't work for me if I want to deploy Storybook into a subpath.
Like other people here I use Next.js and we have to serve static files from the root `/` as described here https://nextjs.org/docs/basic-features/static-file-serving

So in my components for an image `myImage.png` in the `/public` folder I have this :
[code]

Everything is fine if I deploy Storybook at the root of the site but no

[2021-03-12 14:38] peey commented on #13856
A related issue is that despite the above hack (which just prevents storybook from dying even before it has had a chance to render and display the story), I still get thousands of the following in my console:

[code]

This logging in deeply circular data affects initial load time quite adversely. The logs appear synchronously before rendering.

[2021-03-12 15:03] allison-palum commented on #6133
I found this really helpful: https://github.com/storybookjs/storybook/issues/769

[2021-03-12 15:11] shilman commented on #6133
We have a recommended way to do this in Storybook 6.2: https://github.com/storybookjs/storybook/pull/13803

This brings URL sync to [Storybook Args](https://storybook.js.org/blog/introducing-storybook-args/) which can also be be [controlled in the UI](https://storybook.js.org/blog/storybook-controls/). We'll be building on this more in future versions of Storybook.

[2021-03-12 15:17] shilman commented on #14222
Storybook has a built-in loader for SVG. In order to provide your own you need to remove Storybook's:

https://github.com/storybookjs/storybook/blob/next/lib/builder-webpack5/src/preview/base-webpack.config.ts#L52-L58

[2021-03-12 15:18] shilman commented on #14221
@j3rem1e What do you think?

[2021-03-12 15:20] shilman commented on #14220
@F0rsaken do you know when the bug was introduced? is it still a problem on 6.2-beta?

[2021-03-12 16:25] jesse23 commented on #10523
Temp workround - just refresh the iframe:
https://gist.github.com/nfarina/fb708f66858d2d3317877ab8adf8d926

[2021-03-12 16:27] F0rsaken commented on #14220
@shilman should the `6.2-beta` work with Vue 2? I could test it later

[2021-03-12 17:16] j3rem1e commented on #14221
I agree.

The recommanded webpack configuration is :

[code]

[2021-03-12 19:32] reno1979 commented on #13400
@gaetanmaisse Any improvement for the vanilla webcomponents is welcome. For now storybook still offers a great workflow. The work arounds kind of work, still I can't wait for future updates.

[2021-03-12 19:36] khats opened #14225 "Object control does not work with value property containing string with commas"
**Describe the bug**
I have object control for JSON with following JSON:
[code]

Storybook ignores control value and does not append control value to url to  query paratemer`args` when some object property value contains comma.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [https://next--storybookjs.netlify.app/official-storybook/?path=/story/@storybook/design-system_shadowboxcta--d

[2021-03-12 19:37] stevendavisfoto commented on #14119
@shilman i still have issues...

`npm ERR! Found: react@17.0.1
npm ERR! node_modules/react
npm ERR!   react@"^17.0.1" from the root project
npm ERR!   peer react@"^16.8.0 || ^17.0.0" from @material-ui/core@4.11.3
npm ERR!   node_modules/@material-ui/core
npm ERR!     @material-ui/core@"^4.11.3" from the root project
npm ERR!     peer @material-ui/core@"^4.0.0" from @material-ui/icons@4.11.2
npm ER

[2021-03-12 19:38] Methuselah96 commented on #14119
@stevendavisfoto That's why the issue is still open. It hasn't been resolved yet.

[2021-03-12 19:39] stevendavisfoto commented on #14119
@Methuselah96 what's the solution for now? downgrade to react 16? use `--leacy-peer-deps`?

[2021-03-12 19:39] Methuselah96 commented on #14119
Yes, use `--legacy-peer-deps`.

[2021-03-12 21:36] TheMightyPenguin commented on #14176
@shilman I'd like to give this one a shot, I'll start working on it!

[2021-03-12 22:12] daveisfera commented on #14057
We removed our direct uses of `@storybook/addon-actions` by using Controls, so it's working now

[2021-03-12 22:12] #14057 closed

[2021-03-12 22:34] shilman commented on #14208
Do you have a repro repo you can share?

[2021-03-12 22:35] shilman commented on #14207
Which version are you using? I believe this was fixed by @ghengeveld

[2021-03-12 22:37] shilman commented on #12780
@marians we are waiting for MDXv2 to re-address this https://github.com/mdx-js/mdx/issues/1041

[2021-03-13 03:17] gyoon-dev commented on #14190
Wow super fast replies 🚀

---

@lightcap I will try those settings soon.
Immediately after posting this issue, I just used the alternative boilerplate code:

[code]

which resolved the errors. I assume that this is a viable solution only for those who can update to 6.1.

---

@shilman - this was one of the many attempts I made, but the issue did not resolve.

<br /> Thank you and it is awesome to

[2021-03-13 04:14] shilman commented on #14221
@j3rem1e does this belong in:
- the CLI template as suggested above
- the built-in svelte framework preset
- the preset inside https://github.com/storybookjs/addon-svelte-csf

Or somewhere else?

[2021-03-13 04:15] shilman commented on #14220
Yes. In the beta, `@storybook/vue` is still vue2 and `@storybook/vue3` is vue3.

[2021-03-13 04:20] shilman commented on #14190
The rationale for the two different imports is that `react/types-6-0` would be strict semver, and `react` imports would potentially change outside of semver. In practice I don't think we've made any breaking changes yet.

[2021-03-13 05:10] TheMightyPenguin commented on #14176
I was able to reproduce using the https://github.com/chromaui/intro-storybook-angular-template template, I'll keep researching to find the root cause

[2021-03-13 11:45] phaistonian commented on #14208
@shilman  I am afraid not since it's a (huge) private repo.

My guess is that somehow my custom webpack config is causing this, however, all I have tried has failed.

Will get back to you with any additional findings, if any.

[2021-03-13 13:41] khats commented on #14225
Also expected to have a way to use object property keys with dot in name:
[code]

[2021-03-13 15:23] Blackfaded opened #14229 "Vue3 + TSX"
**Describe the bug**
Storybook cant load `.tsx` files in vue3.

**To Reproduce**

1. Write a tsx component
2. write a story and include that component
3. get console error

[code]

**Expected behavior**
Storybook should support vue tsx files.

**Code snippets**
[code]

**System**
[code]

**Additional**

My App gets build with `vite`.

my storybook webpack config:
[code]

[2021-03-13 15:25] Blackfaded commented on #14229
I also found [this](https://storybooks-vue.netlify.app/?path=/story/custom-method-for-rendering-vue--jsx) storybook where a jsx element gets rendered.
Are there any additional configs that must be includes?

[2021-03-13 16:36] Blackfaded commented on #14229
Solved it with
[code]

And a custom .babelrc in the storybook folder:
[code]

[2021-03-13 16:40] #12371 closed

[2021-03-13 18:19] sidneypp commented on #12129
I'm having the same problem right now, using the material ui, is anyone working on it?

[2021-03-13 18:40] TheMightyPenguin commented on #14176
After some debugging, the issue seems to be in the `ArgRow` component, which is used to render this table of props with the description, but the issue seems to be caused by an external dependency, `markdown-to-jsx`:

https://github.com/storybookjs/storybook/blob/4f5ab9fe9e590da7b841ec37cb1bed8d6327ea4b/lib/components/src/blocks/ArgsTable/ArgRow.tsx#L86

I was playing with this library in their [pl

[2021-03-13 19:24] dexster commented on #14176
FYI, I've got a PR for that library to fix #14116

[2021-03-13 20:30] TheMightyPenguin commented on #14176
@dexster great 👍 I'll open another PR to that library to fix the anchor issue as well!

[2021-03-13 21:14] KenACollins opened #14231 "[6.2.0-beta.11] MDX Merges Heading Levels 1 and 2"
**Describe the bug**
In a stories file using markdown (*.stories.mdx), if a heading level 1, denoted by a single pound symbol `#` at the beginning of the line, is followed by a heading level 2, denoted by two pound symbols `##`, even if there are multiple blank lines between them, these two headings will be merged onto the same line.

This issue does not occur if heading level 1 is followed a sent

[2021-03-13 23:42] TheMightyPenguin commented on #14176
@dexster @shilman I opened a PR to `markdown-to-jsx` fixing this issue, if it does get merged we can update the library version here to fix this issue probablyup/markdown-to-jsx#379

[2021-03-14 00:06] shilman commented on #14231
That's pretty bizarre. Do you mind testing the 6.1.x stable release?

[2021-03-14 00:19] shilman commented on #14225
@ghengeveld can you take a look at this and let me know what you think?

[2021-03-14 13:57] gaetanmaisse commented on #14120
Closing as I updated the doc to add snippets about decorators.

[2021-03-14 13:57] #14120 closed

[2021-03-14 15:18] ahelmel commented on #12283
Is there any progress on this issue? I would like to get all story urls inside a node script.

[2021-03-14 15:30] marceloadsj commented on #13128
You can add this to preview.js. On first load, it will click on Docs btn and switch tabs.

A bit hacky but... :)

[code]

[2021-03-14 15:50] ozaytsev86 commented on #14138
Hi guys I had the same issue using Webpack v5.25.0, and after some time researching and trying different things the fix was the same: downgrade sass-loader to version 10.1.1. The reason probably is that in sass-loader v11 they dropped the support for Webpack 4 and Storybook is still using v4.46.0. Cheers.

[2021-03-14 17:37] henriquez commented on #11255
This worked for me when storybook 6 complained about core-js missing in dependency I was loading from another project, the key here is to install core-js *in that other project* not in the project that is using storybook.

[2021-03-14 18:02] geisterfurz007 commented on #14108
I am hitting the same thing with storybook 6.2.0-beta.14. I tried to fix my jest and babel configs for a while before giving up on this. If there is a way I can help to investigate or fix this, let me know!

[2021-03-14 20:19] oscard0m commented on #13988
It works. Nice work @shilman

[2021-03-15 06:06] Rush commented on #14026
I have the same issue. Any ideas or suggestions?
[code]

[2021-03-15 11:21] rssfrncs commented on #12028
Was this a duplicate? String unions are different to string enums and it appears that string unions are still rendered as text fields in storybook 6.1.17.

[2021-03-15 11:33] shilman commented on #9917
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-beta.15 containing PR #13125 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-15 11:33] shilman commented on #13237
w00t!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-beta.15 containing PR #13125 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-15 11:33] #9917 closed

[2021-03-15 11:33] #13237 closed

[2021-03-15 11:47] shilman commented on #14138
@ozaytsev86 you can use webpack5 in storybook 6.2

https://storybook.js.org/blog/storybook-for-webpack-5/

[2021-03-15 12:00] F0rsaken commented on #14220
@shilman yes, unfortunately, the same problem exists in newest `v6.2.0-beta`

[2021-03-15 12:01] j3rem1e commented on #14221
this belong to the default svelte webpack preset, imo. It's implemented in the linked PR.

[2021-03-15 12:17] dws-luke opened #14236 "Controls are not automatically generated based upon their types."
**Describe the bug**
Storybook is able to generate type information in the "Docs" section but it is unable to use this information to generate meaningful controls. Instead all controls seem to be an object. For example I have a size prop which is typed as:
[code]
The control should be inferred as either text entry or ideally with a radio input with small and large as options. However, the default

[2021-03-15 12:20] dws-luke commented on #14236
Unable to upload screenshot of storybook ui for DLP reasons.

[2021-03-15 12:31] dws-luke commented on #14236
It looks like the issue could come from the fact that it is an optional prop.. is this not supported?

[2021-03-15 12:34] webb04 commented on #14170
Thanks @JamieB-gu we had exactly the same issue 😀

[2021-03-15 12:43] dws-luke commented on #14236
Fixed by adding the following:

[code]
to typescript.reactDocgenTypescriptOptions in the main.js by the way

[2021-03-15 12:43] #14236 closed

[2021-03-15 15:17] shilman commented on #14221
Son of a gun!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.0 containing PR #14235 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-15 15:17] #14221 closed

[2021-03-15 15:25] prdevrf opened #14237 "[webpack5] Fail to init a sb project with webpack 5"
### Bug or support request summary

I'm trying to init a storybook project with the following command in a React + Webpack 5 project :
[code]
and I'm getting the following error :
[code]

Seems like I can't get one of the latest dependency of `sb@next`
### Steps to reproduce

#### Initialize a webpack 5 project with React.
<details>
<summary>Webpack config file</summary>
webpack.dev.config.ts  :

[2021-03-15 15:31] SebDuf commented on #10660
Is there a workaround available for this? I've just stumbled on this and thought changing the `PREVIEW_URL` would solve my issues, but this is still blocking me.

I'm trying to deploy Storybook under `/storybook/`, here's what I currently have:

`build-storybook --preview-url=/storybook/iframe.html`

and in `main.js`:

[code]

[2021-03-15 15:37] hcientist commented on #9519
in case others find this like I just have, It turns out the in my case I needed to press <kbd>s</kbd>, as [answered on SO here](https://stackoverflow.com/a/64957511/1449799).

n.b. the suggestion above to do `localStorage.clear()` was insufficient, but as mentioned in an earlier answer on the same (linked) SO question, `sessionStorage.clear()` worked.

[2021-03-15 15:41] daveisfera opened #14238 "Switch @storybook/addon-docs to XDM"
**Is your feature request related to a problem? Please describe**
`@mdx-js/mdx` uses specific versions which causes duplicate versions of modules to be installed and can create security risk ( see [here](https://github.com/mdx-js/mdx/issues/1480#issuecomment-799070729) )

**Describe the solution you'd like**
Switch to [XDM](https://github.com/wooorm/xdm)

**Describe alternatives you've considered*

[2021-03-15 16:05] ThibaudAV commented on #14147
In fact I don't know where to start... many things are mixed up

### Problem Replication:

If I understand correctly your example is this:
<details>
  <summary>Click to expand!</summary>

[code]
</details>

here are the steps I do :

- Add story without `angularLegacyRendering: true`
- run `yarn storybook`

- change `input1` value with controls

![image](https://user-images.githubusercontent.com/4

[2021-03-15 16:12] targumon commented on #9216
I saw that [v6.2.0-rc.0](https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.0) was released today.
Gave it a go in my existing Webpack 5 project.
Followed @shilman 's [instructions](https://gist.github.com/shilman/8856ea1786dcd247139b47b270912324) (upgrade installation, add builder-webpack5, update main.js, disable all addons).

Unfortunately not only I'm still hit with `'compilation'

[2021-03-15 16:16] alexander-akait commented on #9216
@targumon What is version of `mini-css-extract-plugin`?

[2021-03-15 17:00] targumon commented on #9216
I'm not using `mini-css-extract-plugin`, not directly at least.
`html-webpack-plugin` lists version 1.0.0 of it in its devDependencies, if that what you meant.

[2021-03-15 17:08] KenACollins commented on #14231
Okay, it took a couple hours to update my local copy of the Storybook tutorial from 6.0.21 to 6.1.21 but now that I have it running, I can report that the issue with the MDX headings 1 and 2 being merged does not occur. Therefore, the only place I am seeing it is in 6.2.0-beta.11 as previously reported.

[2021-03-15 17:13] kaelig opened #14239 "addon-toolbars: add support for keyboard shortcuts/navigation"
**Is your feature request related to a problem? Please describe**
I'd like to be able to switch easily between, say, dark and light mode in a Story (or cycle through multiple themes).

**Describe the solution you'd like**
Not sure how this could work in practice, curious if anyone has ideas on how to make that work.

**Are you able to assist to bring the feature to reality?**
Probably not, sorry!

[2021-03-15 17:21] Rush commented on #13768
Great news! Do you think it would also address https://github.com/storybookjs/storybook/issues/14026 ?

If so, any idea when the work could be available in a beta/alpha release?

[2021-03-15 17:45] Rush commented on #14026
I just tested with `6.2.0-rc1` and the issue seems to be fixed!

[2021-03-15 17:47] jonniebigodes commented on #14231
@shilman it's working in the latest version (6.1.21), got a deployed Storybook [here](https://pedantic-bell-a99307.netlify.app/?path=/docs/design-system-avatar--standard) and code [here](https://github.com/jonniebigodes/design-systems-with-a-template). This issue that @KenACollins brought up I've run into when I migrated the tutorial for 6.0 and last week. From my notes and testing, it only happen

[2021-03-15 17:58] KenACollins commented on #14231
@jonniebigodes -- I have stopped and started my 6.2.0-beta.11 app multiple times and the error never goes away. For now, my workaround is to follow heading 1 with heading 3.

[2021-03-15 18:11] Rush commented on #14026
Seems my message was premature. :) It's still occurring but I need to figure out exactly what triggers it because for a few minutes it was working well,

[2021-03-15 19:05] lifedup commented on #12668
npx sb upgrade --prerelease worked for me - it push it to  ^6.2.0-rc.0

[2021-03-15 19:21] temurih opened #14240 "Why Storybook TS does not support `as`?"
Why why why! Why it does not support `as` and a few other TypeScript notations? I don't use `as` often, but sometimes you are working with a weird library and you don't have a choice but to use `as` to get the types right.

![image](https://user-images.githubusercontent.com/3893769/111209055-24dac000-8591-11eb-9058-956d29d31d78.png)

[2021-03-15 20:09] bozdoz commented on #13763
Actually, this problem ONLY happens when config.resolve.mainFields are set to `['browser', 'main', 'module']` in `.storybook/webpack.config.js`.

I have another package which doesn't work in IE11 unless those fields are set, so I'm not sure how to make this work

[2021-03-15 20:28] scottdickerson commented on #12678
we can cancel this due to the comment above.

[2021-03-15 20:28] #12678 closed

[2021-03-15 21:18] skovy commented on #14118
We're also experiencing this issue with the following versions in a React TypeScript project:

[code]

This is resulting in a runtime error for some stories: `Cannot convert undefined or null to object`. This happens when we explicitly define a control:

[code]

Previously, my understanding is that `react-docgen-typescript` would infer the `options` from the types, and that would get merged in wit

[2021-03-15 21:48] desiboli commented on #11101
Hello, importing the scss file in preview.js doesn't work or more correctly the Vuetify variables is not overriden like it should. Something is loading in the correct order. I'm importing the file like so `import "@/styles/variables.scss";` in the preview.js file. Has anyone got this working with a Vue + Vuetify + Storybook setup ? Everyhting is working fine except the variables, which is kind of

[2021-03-15 21:50] shilman commented on #14238
Any idea about the timeline for MDX v2?

[2021-03-15 22:51] mgameover commented on #14197
Hi guys,
I faced with the  same issue after upgrading SB v6.1.11 → 6.2.0-rc.0. The suggested solution didn't work for me neither.

But I was managed to get rid of that error and run storybook by simply installing the following packages:
[code]
and deleting `node_modules\.cache` folder. @anicholls that might work for you.

However I am getting another error right now:
[code]
any thoughts?

[2021-03-15 23:14] mgameover opened #14242 "Story with storiesOf() is not working in v6.2.0-rc.0"
**Describe the bug**
storiesOf() is not working, throws the error: **Can't construct a query for the property "storyComponentElementRef" of "StorybookWrapperComponent" since the query selector wasn't defined**.

**To Reproduce**
That can be reproduced with the official samples.
1. Run [angular-cli](https://github.com/storybookjs/storybook/tree/v6.2.0-rc.0/examples/angular-cli) project
2. Go to "St

[2021-03-16 00:28] TheMightyPenguin commented on #14029
@domyen @ndelangen I'd like to give this one a shot!

[2021-03-16 01:13] Sm1t opened #14244 "Improve addons-docs blocks documentation"
**Is your feature request related to a problem? Please describe**
I was inspired by the [color documentation](https://5ccbc373887ca40020446347-qbeeoghter.chromatic.com/?path=/story/colors--page) in the design system, and wanted to do something similar in my project, but could not find documentation about Color, ColorPalette, etc. (of course, I found what I was looking for [after diving into the re

[2021-03-16 03:23] daveisfera commented on #14238
Honestly, I don't know anything about MDX or XDM. I just upgrade to 6.2 and noticed that `@storybook/addon-docs` was causing a bunch of old/duplicate packages to be installed, so was hoping that something could be done to fix that and prevent it going in the future.

[2021-03-16 03:58] shilman commented on #14238
It looks like XDM is just the compiler. We still rely on the runtime.

I'll see what we can do to fix this by SB 7.0 -- probably refactor the packages, as `@storybook/addon-docs` has gotten quite big/unwieldy over its evolution.

In the meantime, suggestions like this are welcome!

[2021-03-16 05:41] Rush commented on #12153
Wow. I was banging my head against the wall, went through all the docs but stumbled upon your post. I've changed my code to:
[code]
and voila .. it works.

Does anybody have any idea how to annotate Angular components for Storybook to pick up the fields on its own?

[2021-03-16 06:33] shilman commented on #12153
@Rush what version are you using?

[2021-03-16 06:48] Rush commented on #12153
6.2.0-rc.0 with Angular

[2021-03-16 07:01] shilman commented on #14242
I'm not seeing that in the example: https://next--storybookjs.netlify.app/angular-cli/?path=/docs/legacy-story-with-storiesof--with-text

Can you provide another repro?

[2021-03-16 08:10] devbucket commented on #13811
I can confirm that this solution works now. At least we can continue with our project. Thank you very much.

[2021-03-16 08:20] ghengeveld commented on #14225
A string value with comma should work as an arg, so I'm surprised it doesn't get through to the story. Need to verify that part.

Given that a comma isn't a supported character in URL args, it's correct that it's omitted there. That part works as intended.

[2021-03-16 08:29] Tim152 opened #14245 "[Vue 3] Wrong string's default prop formatting"
**Describe the bug**
So, when you set up default property as string, it can't be parsed by story in appropriate way. You got this string with extra quotes in template. See the code:

**To Reproduce**
1) set up default prop as string
![Screenshot 2021-03-16 at 11 17 41](https://user-images.githubusercontent.com/14087100/111277639-bc034e80-8649-11eb-9ef4-44ce821df072.png)

2) create a story
![Screen

[2021-03-16 08:39] khats commented on #14225
I think the reason with comma is because comma not listed in
https://github.com/storybookjs/storybook/blob/be1dc2ea07de332cbc710ea8929c01f8b432915a/lib/core-client/src/preview/parseArgsParam.ts#L8

[2021-03-16 08:57] #14237 closed

[2021-03-16 08:57] prdevrf commented on #14237
Seems like the dependencies have been added

[2021-03-16 08:59] shilman commented on #14245
Closing as dupe to https://github.com/storybookjs/storybook/issues/14056

You can upgrade to the latest prerelease with

[code]

Also please make sure your 6.1.x packages are upgraded 👍

[2021-03-16 08:59] #14245 closed

[2021-03-16 09:40] Tim152 commented on #14245
thank you!

[2021-03-16 09:57] dawidzarzycki commented on #14207
@shilman
Hi! Thanks for the respond! :)
My version I'm using right now is 6.1.20

[2021-03-16 10:16] Aarbel commented on #12852
@shilman up ;)

[2021-03-16 10:33] ghengeveld commented on #14225
Correct, such a value cannot be serialized to the URL (for XSS protection), so "ejecting" the iframe won't work. If this is a deal breaker, you can use a `mapping`: https://github.com/storybookjs/storybook/blob/next/docs/writing-stories/args.md#mapping-to-complex-arg-values

[2021-03-16 12:03] hanwenbo commented on #14197
still

[2021-03-16 12:24] shilman commented on #14197
It's gotta be something here https://github.com/storybookjs/storybook/pull/13631

<img width="472" alt="Dependencies__6_2_non-breaking_package_upgrades_by_phated_·_Pull_Request__13631_·_storybookjs_storybook" src="https://user-images.githubusercontent.com/488689/111308137-48872e80-8695-11eb-95eb-cceb70c869c1.png">

<img width="494" alt="Dependencies__6_2_non-breaking_package_upgrades_by_phated_·_P

[2021-03-16 12:25] shilman commented on #12852
Sorry, I don't know the answer 🤷

[2021-03-16 12:25] shilman commented on #14207
Try upgrading to 6.2-rc:

[code]

[2021-03-16 12:45] ghengeveld commented on #14175
I think this has been resolved already as part of the work for #14169

[2021-03-16 12:46] #14175 closed

[2021-03-16 12:51] ghengeveld commented on #14158
Can you try the following config?

[code]

[2021-03-16 13:09] phaistonian commented on #14208
It turns out the issue was a side-effect of me using esbuild (custom webpack config) before. babel-loader.

[code]

fixed it.

[2021-03-16 13:09] #14208 closed

[2021-03-16 13:16] shilman commented on #12625
@ndelangen can you track down @mrmckeb and figure something out together?

[2021-03-16 14:03] mgameover commented on #14242
Hi @shilman,
It looks like the issue was in `node_modules`, I guess some of the packages were not updated when I switched from v6.1
I deleted that folder and run `npm i` once again - [angular-cli](https://github.com/storybookjs/storybook/tree/v6.2.0-rc.0/examples/angular-cli) sample works fine now.
Thanks!

[2021-03-16 14:06] #14242 closed

[2021-03-16 14:10] domyen commented on #14029
Thanks @TheMightyPenguin 🙇‍♂️ go for it!

[2021-03-16 15:00] AnnyCaroline opened #14247 "Default props with handsontable causes infinite loading"
**Describe the bug**
When using the Storybook with the [handsontable](https://handsontable.com/), my Storybook stopped working, showing the error `Uncaught TypeError: toISOString is not a function`

**To Reproduce**
I created a small repository to demonstrate the bug: https://github.com/AnnyCaroline/react-storybook-typescript/tree/with-handsontable. It has two important commits.

**In the first on

[2021-03-16 15:21] seisenreich opened #14248 "Giant vendor directory chunk on run storybook caused by some issue described in a warning"
Hello there,
I'm getting a warning whenever I run `npm run storybook` resulting in a giant ~10 MiB vendor folder chunk and a warning.
Sure I'll provide you with all information probably missing here to find the actual problem.

Steps to reproduce the behavior:

1. cd into repository root
2. run `npm run storybook`
3. Look at the webpack output
4. See the warning

**Expected behavior**
I expected g

[2021-03-16 16:37] j3rem1e commented on #14248
Probably dupe of #14160

[2021-03-16 17:41] seisenreich commented on #14248
Yup, looks like this is the same issue going on there.
When i remove a11y the warning is gone.

#14160  seems to be closed due to the fact, that the beta version of 6.2.x does not have this issue.
Is there a known solution for 6.1, too? I run storybook in a working environment used by developers, designers and marketing. I don't really want to use a beta version of this tool.

Otherwise I'll just

[2021-03-16 19:31] mgameover commented on #14197
Hi guys,
Yes, the issue is sitting somewhere in dependencies... The following configuration works for me:
[code]

What I did is:
1. Completely removed `node_modules` folder and `package-lock.json` file
2. added @babel/* and updated @storybook/* packages from the snippet above
3. ran `npm i`

No issues so far.

[2021-03-17 01:53] shilman commented on #14248
closing as dupe to #14160

6.2 should be available in the next few weeks

[2021-03-17 02:55] viridia commented on #12939
I've stopped using reach/router in my own projects since it appears to be abandoned. I've used react-router in some projects but it's pretty hefty compared to other alternatives.

I tried several different routers, wouter looks to be a reasonable and small replacement that wasn't too difficult to migrate to.

[2021-03-17 04:36] shilman opened #14252 "Webpack5: Detect wrong version of webpack and warn user"
Storybook 6.2 introduces [experimental webpack5 suport](https://gist.github.com/shilman/8856ea1786dcd247139b47b270912324). For webpack4 users, this currently has no impact. For webpack5 users, they will potentially get two versions of webpack installed, since Storybook still uses webpack4 to build Storybook's "manager" UI. Multiple versions of webpack can lead to bugs.

To mitigate the problem, we

[2021-03-17 04:52] phaistonian opened #14253 "[chore, webpack5] Replace hash with [fullhash]"
Webpack5 is _complaining_ about using `[hash]`.

Changing [this](https://github.com/storybookjs/storybook/blob/cf656ca04d066b1815fa0e9b9be5248adeb80dbe/lib/builder-webpack5/src/preview/base-webpack.config.ts#L56) and [this](https://github.com/storybookjs/storybook/blob/cf656ca04d066b1815fa0e9b9be5248adeb80dbe/lib/builder-webpack5/src/preview/base-webpack.config.ts#L64) to `[fullhash]` will do it.

[2021-03-17 05:43] shilman commented on #14253
@phaistonian Mind making a small PR with the changes? Will merge and release

[2021-03-17 05:47] rmknecht commented on #12296
Double checked with @IanVS recommendation and still see the parent storybook "hanging." The referenced storybooks load normally when opened directly.

I'm building ~7 storybooks from within a mono-repo, and referencing them from a parent storybook that doesn't contain any stories itself. Each storybook is served from the same host, statically. Storybooks include addons such as a11y, knobs, links,

[2021-03-17 06:05] rmknecht opened #14254 "sb extract alternative to puppeteer"
I build and "extract" several static storybooks for composition within a docker-based CI/CD environment similar to Drone. The `sb extract` command leverages puppeteer to extract metadata. Puppeteer's headless browser is notoriously difficult to configure and use within docker and other virtual linux environments, and is currently blocking us from implementing fully automated storybook builds.

Is

[2021-03-17 06:27] shilman commented on #14254
I'd propose a separate command, something like `sb csf-extract` that is only compatible with [component story format[(https://storybook.js.org/docs/react/api/csf#gatsby-focus-wrapper), which is statically analyzable. That command would be orders of magnitude faster and would not need any external dependencies. It would loop over the files from the `stories` glob  in `main.js`, read in each one, ex

[2021-03-17 07:49] khats opened #14257 "Storybook with builder-webpac5 complains about conflicting values in DefinePlugin and not redefine custom variables"
**Describe the bug**
I am using Storybook6-rc01 with builder-webpack5.
 I define several variables with patching webpack config and DefinePlugin through function `webpackFinal`:

[code]

Function `FAKE_GLOBAL_FUNCTION` call is added to test story

But there is error about `Conflicting values for 'process.env' ` in build console and there is error on rendered story on UI about `window.FAKE_GLOBAL_F

[2021-03-17 09:50] shilman commented on #12625
Discussed this with @ndelangen and am in agreement that:
1) this is kind of a corner case because it requires that you don't install dev dependencies, which is weird
2) it's ultimately a CRA problem because they shouldn't bundle the story files

We should chase it down and fix it anyway because it affects our CRA users, but de-prioritizing it for now.

[2021-03-17 10:33] shilman commented on #9695
Boo-yah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.2 containing PR #14227 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

[2021-03-17 10:33] shilman commented on #14252
Yippee!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.2 containing PR #14256 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-17 10:33] shilman commented on #14253
Jeepers creepers!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.2 containing PR #14255 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-17 10:33] #14252 closed

[2021-03-17 11:34] ndelangen commented on #13811
@shilman I'd like to drop all this code in 7.0:

https://github.com/storybookjs/storybook/blob/32c63568d6f7f6ef90afd206405524543d5a7068/lib/core-common/src/utils/load-custom-babel-config.ts#L79-L93

in regards to configuration storybook should move towards a world where everything is configured in 1 place: `main.js` (eventually just `storybook.config.js` in the project root.

No 'magic' webpack.co

[2021-03-17 11:38] blowsie opened #14259 "Storybook controls dont react to v-model changes"
**Describe the bug**
 - Changing state in the controls updates the component as expected
 - Changing state in the component does not update the control state as expected

 In vue you should not mutate props, and they propose you should implent a handler liek so for v-model
[code]
  I've done this but storybook doesn't react to the input event

**To Reproduce**
Create a component that uses v-model

[2021-03-17 11:42] jlabaj commented on #13689
still cant find the angular.json even after the update npx sb upgrade --prerelease

[2021-03-17 11:44] blowsie commented on #14259
Looking at the source code, perhaps the control could be updated if the input events were passed to the knob as onChange events
https://github.com/storybookjs/storybook/blob/master/addons/knobs/src/components/types/Text.tsx

[2021-03-17 12:45] ndelangen commented on #12283
@ahelmel the progress is slow.

Our goal is to push forwards static analyzable stories via https://storybook.js.org/docs/react/api/csf

And statically analyzable definitions and config via https://storybook.js.org/docs/react/configure/overview

This will allow us to extract stories.json without running the code.
(running the stories code can't reliably done in node)

[2021-03-17 12:46] jacktraina commented on #14158
Still having the same issue @ghengeveld

![Screen Shot 2021-03-17 at 8 45 24 AM](https://user-images.githubusercontent.com/31632347/111469475-20331a80-86fd-11eb-9943-0063a7c66fbb.png)

[2021-03-17 12:47] jlabaj opened #14260 "Failed to load the Angular CLI config (Angular 11.2.5)"
I have run the npx sb upgrade --prerelease

I have nuked the node_modules and reinstalled, still the same error

![image](https://user-images.githubusercontent.com/5179937/111469549-1d4d1f80-8727-11eb-9eff-90d7f1a6f4cf.png)

"@angular-builders/custom-webpack": "11.0.0",
    "@angular-devkit/architect": "0.1102.4",
    "@angular-devkit/build-angular": "0.1102.4",
    "@angular-devkit/build-ng-packa

[2021-03-17 12:52] 7rulnik commented on #14253
@shilman @phaistonian it introduced an error in compilation when user has files with the same filename ```ERROR in Conflict: Multiple assets emit different content to the same filename```

Maybe we can use `contenthash`?

[2021-03-17 12:54] shilman commented on #14253
@phaistonian would you mind looking into this?

[2021-03-17 12:56] phaistonian commented on #14253
@shilman @7rulnik  We _always_ use `contenthash` in our configs.

The only reason I went for `fullhash` is that that's what Webpack5 suggested we should do.

Do you want me to push a new PR?

[2021-03-17 12:57] ndelangen commented on #7540
It'd be great to have this code encapsulated in a preset!

[2021-03-17 13:02] 7rulnik commented on #14253
@phaistonian I can create it :)

[2021-03-17 13:06] phaistonian commented on #14253
I know this is not the place to raise this issue, but I found a rather simple and elegant _solution_ to [this issue](https://github.com/storybookjs/storybook/issues/5065) but I am not how it should be introduced and where at.

The gains - in terms of performance and DX - is rather important and so, when you plan to visit this (@shilman ) let's sync — if you want to :)

[2021-03-17 13:07] shilman commented on #14253
Thanks guys 🙏🙏🙏

[2021-03-17 13:10] jlabaj commented on #14260
It works if I downgrade to  @angular-devkit/build-angular@0.11.00.0 but the build times will dip again 10x with Angular 11.2.5

see https://github.com/angular/angular-cli/issues/20235

[2021-03-17 13:11] yngvebn opened #14262 "Storybook 6.2.0-beta.4 through 6.2.0-rc.1 fails to display any stories due to prettier ES5 transpilation"
**Describe the bug**
When upgrading to any version past beta.3, my storybook fails all stories due to an error in the console:

[code]

After alot of digging, it seems this PR https://github.com/storybookjs/storybook/pull/14047 made the change in es6Transpiler, adding `prettier` to the regex list of packages to transpile to ES5. For some reason the transpiled version is wrong in my repository, but

[2021-03-17 13:12] ndelangen commented on #14167
I recommend using babel-preval like so:
https://github.com/storybookjs/storybook/blob/8b9bf5ea3003be7e03291b27926441075b00e10d/lib/api/src/version.ts#L0-L1

@shilman You seem to have overwritten this file, presumably because you have some local script that re-writes this file when updating version?

[2021-03-17 13:20] #11989 closed

[2021-03-17 13:22] ndelangen commented on #7215
I think we can close this issue now, https://github.com/storybookjs/storybook/issues/13608 was the fix.

[2021-03-17 13:22] #7215 closed

[2021-03-17 13:26] ghengeveld commented on #14158
What happens if you click that RAW toggle?

[2021-03-17 13:28] jacktraina commented on #14158
![Screen Shot 2021-03-17 at 9 27 57 AM](https://user-images.githubusercontent.com/31632347/111475045-114f6680-8703-11eb-8ab9-a06c3d08ec03.png)

[2021-03-17 13:28] ghengeveld commented on #14158
Oh, I see now. It should be `argTypes`, not `args`. Typically that would be defined on the default export, not on each individual story.

[2021-03-17 13:30] ndelangen commented on #14262
As a work around, you could make a change in main.js, changing the webpack config with the change described above.

[2021-03-17 13:40] yngvebn commented on #14262
I thought about that, but wasn't sure how to do it really properly. Do I have to remove the existing rule first, and then re-add my adjusted rule?

[2021-03-17 13:45] ndelangen commented on #14262
You can mutate / replace the object in the config

[2021-03-17 13:47] yngvebn commented on #14262
Yeah, but I'll have to find this object then, and mutate it:

![image](https://user-images.githubusercontent.com/772071/111477753-baac5180-872f-11eb-9a3a-4b6da5002d51.png)

[2021-03-17 13:48] shilman commented on #14253
@phaistonian If this has big perf implications let's definitely discuss! Cc @tmeasday

[2021-03-17 13:51] FelixSab commented on #14222
I Want to use the currentColor attribute of the svg files, which only works if they are loaded as a source code and not as an url. This is why I would want to use my own svg loader

[2021-03-17 13:52] ndelangen commented on #14262
yes, **I know this is a pain**, but unfortunately something we can't make it any easier on you, because we're constrained by webpack's api..

I suggest finding the module.rule that has a include that's a regex that matches `prettier` then generating a new regex that doesn't include it.

[2021-03-17 14:02] ndelangen commented on #10987
@skidding I'd love to learn more, would you have the time to do a knowledge sharing zoom meeting some day?
https://calendly.com/ndelangen/storybook

or reach out to me on our discord:
https://discord.gg/js3AjMg6dW

[2021-03-17 14:04] ndelangen commented on #14134
Just delete `header.css`, it's just to help people get started, it's not required to keep.

[2021-03-17 14:04] #14134 closed

[2021-03-17 14:07] shilman commented on #14167
@ndelangen that's probably part of the release script. i guess i should fix that?!

[2021-03-17 14:08] ndelangen commented on #14167
Yeah, I used preval so you wouldn't have to do this.

[2021-03-17 14:11] Niznikr commented on #14167
Still get the same error when using the babel-preval method

[2021-03-17 14:14] shilman commented on #14260
@gaetanmaisse can you take a look at this? seems to be related to your previous PR

[2021-03-17 14:18] shilman commented on #12283
@ndelangen @ahelmel open issue for that here https://github.com/storybookjs/storybook/issues/14254

[2021-03-17 14:21] jdelStrother commented on #13371
I keep seeing Storybook crash with OOM errors after working in it for a while. I tried attaching the Chrome profiler to the server process - here's successive heap snapshots after making a single change to a file on disk:

![image](https://user-images.githubusercontent.com/2377/111482602-f47b5900-872b-11eb-90ef-107144688ed1.png)

Seems like an awful lot of stuff in Webpack's in-memory cache.

[2021-03-17 14:34] luisrudge opened #14263 "Storybook not showing Radio Button Group for a typescript property"
**Describe the bug**
Hi, there. Storybook is not showing the usual Radio Button Group for my 'variant' props in this case. If I change my `ButtonVariants`  props to `'default' | 'info'` etc, then it works, but I want to have this in a separate file so I can reuse it. Am I missing something? Thanks!

**To Reproduce**
- Declare a type called `DefaultVariants` in a file called `types.ts`
- Import thi

[2021-03-17 14:57] mgameover commented on #13630
Hi @shilman,
Have you got a chance to take a look at that? I've played with v6.2.0-rc.1, the issue is still there.
Do you know if there is a workaround?

Thank you.

[2021-03-17 15:37] gyoon-dev commented on #14190
@lightcap
I tried adding your settings above to `package.json`, but the linting error did not go away.
I also tried adding the settings in my `.eslintrc.js`, but no luck there either.

Seems different setups will need different solutions. Thanks again for the input!

[2021-03-17 16:46] mgameover commented on #14262
Hi guys,
@yngvebn have you seen this [issue](https://github.com/storybookjs/storybook/issues/14197)? Take a look at my [comment](https://github.com/storybookjs/storybook/issues/14197#issuecomment-800545590).

I tried this approach with your project  and it worked!:
![Capture](https://user-images.githubusercontent.com/62712576/111504988-271a5700-8716-11eb-98af-bff6d604fed2.PNG)

[2021-03-17 16:49] jlabaj commented on #14260
@shilman @gaetanmaisse it works when I explicitly add following to the angular.json:
"optimization": {
              "styles": false,
              "scrypts": false,
              "fonts": false
            },

that means no optimization: false or true, but one must define at least one of the properties shown above.

[2021-03-17 16:53] luisrudge commented on #14263
Also, I'd love to help fix this, if anyone wants to point me in the right direction 😬

[2021-03-17 16:54] yngvebn commented on #14262
Nice! Let my try that later tonight! 😄👍

[2021-03-17 17:04] kroeder commented on #13768
Chances are good that this gets fixed as well. I'm not sure why it happens without the ivy implementation, though 🤔

[2021-03-17 19:13] gaetanmaisse commented on #14260
@jlabaj Adding these fields has been done in https://github.com/storybookjs/storybook/pull/13704 so you shouldn't face this issue 🤔 , I tried to reproduce but everything is working fine for me with a fresh Angular CLI project and:
 - Storybook 6.1.21 or 6.2.0-rc2
 - @angular-devkit/build-angular 0.1102.4, 1101.4 or 1100.7

Can you share your `angular.json` or create a simple repo reproducing the i

[2021-03-17 19:59] YozhEzhi commented on #13687
@shilman I'll make demo repo tomorrow.

[2021-03-17 20:25] YozhEzhi commented on #13687
https://github.com/YozhEzhi/storybook-6-crash-demo

Steps to reproduce:
- yarn
- yarn start
- [all is fine]
- remove `/DELETE_ME_AND_I_WILL_CRASH_STORYBOOK` in `packages/button/stories/readme.stories.mdx`
- [app crashed]

[2021-03-17 20:54] fertrig commented on #9183
We just released a tool to develop Flutter widgets in isolation, inspired by Storybook. We developed it from the ground up using Dart and Flutter. It renders your stories in a native desktop experience. You won't have to deal with JavaScript, emulators or Appetize. Also, stories are plain functions, no need to import packages or use special types.

We think you will like the experience.

Please gi

[2021-03-17 21:00] coreybruyere commented on #9996
This is a long shot, but I'm hoping someone who's more familiar with MDX's intricacies might be able to help me pinpoint my error. I've gone line by line and manually checked by deleting code and checking for output and have only been able to successfully get my MDX story to display when I remove everything but the final `return`. I can't share my private repo, but as noted hoping someone might be

[2021-03-17 22:08] jlabaj commented on #14260
@gaetanmaisse here you go:
{
  "$schema": "./node_modules/@angular/cli/lib/config/schema.json",
  "version": 1,
  "newProjectRoot": "projects",
  "projects": {
    "arbitrarycompany-enterprise": {
      "projectType": "application",
      "schematics": {
        "@schematics/angular:component": {
          "style": "less,sass"
        }
      },
      "root": "",
      "sourceRoot": "src",
      "

[2021-03-17 22:10] jlabaj commented on #14260
@gaetanmaisse there is also a custom webpack that is not doing much, but this bit could mess it up:
const webpackConfigBase = {
  optimization: {
    concatenateModules: false,
    minimizer: [
      new TerserPlugin({
        terserOptions: {
          keep_classnames: environment.optimizeTerser ? true : false,
          keep_fnames: environment.optimizeTerser ? true : false,
        },
      }),

[2021-03-17 22:33] davpascoal commented on #12432
@Joe-Moran Do you know how does it work for Vue3?
Tried the following and it didn't work.
`createApp().component('font-awesome-icon')`

[2021-03-18 00:23] shilman commented on #9996
@coreybruyere a couple different thoughts:
- we're also passing the MDX through our own compiler, so it's possible that there's a bug there (tho I think it's fairly battle tested by now?)
- do you have a custom babel config in your project root? if so, try removing it for debugging purposes

[2021-03-18 02:48] aintnorest commented on #14044
How did you fix that? I get
<i> [webpack-dev-middleware] wait until bundle finished: /runtime~main.6a9b04192e3176eff72a.bundle.js
<i> [webpack-dev-middleware] wait until bundle finished: /vendors~main.4abf29e4f956d5befb41.bundle.js
<i> [webpack-dev-middleware] wait until bundle finished: /main.2d01924b12554c6c15af.bundle.js
99% done plugins webpack-hot-middlewarewebpack built preview 356cb15c2b9b4

[2021-03-18 03:32] tenistenex commented on #1291
It's work for me, thx!

[2021-03-18 03:34] tenistenex commented on #1291
It works for me, thx!

[2021-03-18 05:36] H-Huang opened #14265 "Is React.Suspense not supported? Needed for Relay v11.0.0"
**Describe the bug**
Using React.Suspense in a story causes the error `Cannot convert a Symbol value to a string `.

**To Reproduce**
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/14858254/111578165-d08e3680-8770-11eb-9f99-aa53da312ae5.png)

**System**
<details>
Environment Info:

  System:
    OS: Linux 4.19 Debian GNU/Linux 10 (buster) 10 (buster)
    CPU: (12) x64 I

[2021-03-18 07:39] seisenreich commented on #14248
Thank you very much for taking the time - I appreciate it.
Then I'll simply wait for 6.2 :+1:

[2021-03-18 07:39] #14248 closed

[2021-03-18 08:04] shilman commented on #14265
closing as dupe to https://github.com/storybookjs/storybook/issues/11554, which has a workaround

[2021-03-18 08:04] #14265 closed

[2021-03-18 08:17] Ahmed-osama commented on #11639
thank you man you saved my day

that's how it worked for **next.js**

[code]

[2021-03-18 08:24] nextah commented on #14026
I am also having this issue, trying to investigate it...

[2021-03-18 09:14] tobiloeb commented on #1291
Thanks a lot, this works perfect for me!

[2021-03-18 09:24] ghengeveld commented on #10856
Closing this for lack of a reproduction. I wasn't able to break Storybook by nullifying a required arg.

JSX is not supported as arg value. Use a [`mapping`](https://github.com/storybookjs/storybook/blob/next/docs/writing-stories/args.md#mapping-to-complex-arg-values) instead.

[2021-03-18 09:24] #10856 closed

[2021-03-18 09:43] ghengeveld commented on #13379
If I understand correctly, you have a component with static properties, which are components themselves? E.g.:

[code]

Naturally, you would have a `MyComponent.stories.js`, and you could define the stories for `MyComponent.SubComponent` in the same file. However that means you won't have the flexibility to change the story hierarchy that way. Therefore I recommend you also create a `MyComponent.S

[2021-03-18 09:51] ghengeveld commented on #13503
I really like the `console.table` suggestion. Like Chrome, it should automatically infer the right columns (based on all the rows rather than the first, so partial objects just have empty cells). I'm going to update this ticket to be a feature request for that.

As of Storybook 6.2, arrays are inferred to use the `object` control type, which renders the JSON editor, regardless of whether the value

[2021-03-18 09:57] ghengeveld opened #14266 "Controls: Add `table` type for arrays"
As of Storybook 6.2, arrays are inferred to use the `object` control, which renders the JSON editor.

I propose to introduce a `table` control type for arrays, which renders a row for each value with a column for each property, just like [`console.table`](https://developer.mozilla.org/en-US/docs/Web/API/Console/table).

<img width="594" alt="Screenshot 2021-03-18 at 10 57 46" src="https://user-ima

[2021-03-18 10:01] ghengeveld commented on #13503
Closing this because the original bug (displaying `[object Object]`) was resolved in Storybook 6.2.

[2021-03-18 10:01] #13503 closed

[2021-03-18 10:06] shilman commented on #14266
Love this @ghengeveld @hydrosquall

[2021-03-18 10:09] ghengeveld commented on #13574
In 6.2, `control.options` was deprecated in favor of `options` (one level up) and superceded by `control.labels`.

Are you looking to have async `options` or `control.labels`? The latter should be fairly straightforward (like a "lazy" component in React). The former would be more involved because `options` are enforced in Storybook core (specifically the story store). We would have to await the va

[2021-03-18 10:15] ghengeveld commented on #13551
Because JSX isn't serializable (by telejson), such values cannot be used as args. The workaround is to use a [`mapping`](https://github.com/storybookjs/storybook/blob/next/docs/writing-stories/args.md#mapping-to-complex-arg-values).

[2021-03-18 10:16] ghengeveld commented on #11429
Because JSX isn't serializable (by telejson), such values cannot be used as args. As of Storybook 6.2, you can use a [`mapping`](https://github.com/storybookjs/storybook/blob/next/docs/writing-stories/args.md#mapping-to-complex-arg-values).

[2021-03-18 10:16] shilman commented on #13379
This issue is about how subcomponents are displayed in the controls addon, not about the sidebar @ghengeveld

[2021-03-18 10:30] dexster opened #14268 "Angular docs "Show code" chooses generated template over user-defined template"
**Describe the bug**
"Show code" in the Docs tab prioritises showing generated template over a template specified using the "template" property

**To Reproduce**
Steps to reproduce the behavior:

Create a story with a template
[code]
Go to Docs and click Show code. The randomattribute will not be visible.

**Expected behavior**
My thinking is that anything defined by a user should be prioritised o

[2021-03-18 10:34] shilman commented on #14268
@yngvebn is this something you can look into?

[2021-03-18 10:35] yngvebn commented on #14268
@shilman I'll take a look!

[2021-03-18 10:35] dexster commented on #14268
I have the code and am happy to submit a PR but just want to check whether my thinking is correct.

[2021-03-18 10:39] ghengeveld commented on #14158
@jacktraina can you confirm the above resolved your issue?

[2021-03-18 10:53] ghengeveld commented on #14259
Essentially, you're asking for the Storybook arg to be automatically updated to reflect any mutation on the value (by the component). Most args are primitive values, so these can't actually be mutated, only replaced. Controls was never designed to be bi-directional or "reactive". If we go down that road, we'd have to implement it to work with any framework, not just Vue. Introducing a wrapper obje

[2021-03-18 11:32] ghengeveld commented on #12613
As of Storybook 6.2, `control.options` is deprecated in favor of `options` (one level up), which only accepts an array. With that, we've circumvented the "object format is reversed" problem.

As mentioned before, we've introduced [`mapping`](https://github.com/storybookjs/storybook/blob/next/docs/writing-stories/args.md#mapping-to-complex-arg-values) to allow for complex arg values.

We've also in

[2021-03-18 11:32] #12613 closed

[2021-03-18 11:46] idbartosz opened #14269 "[6.2.0-rc.2] problem with resolving imports in development mode"
**Describe the bug**

In Storybook 6.2.0 development mode there's a problem with import resolving. This problem only occurs in the development mode the **builded version works fine**.

**To Reproduce**

1. Bootstrap an example project with `npx -p @storybook/cli@next sb init --type react`
1. Install some packages which support different modules like CJS and ESM
1. In development mode try to import

[2021-03-18 12:34] ghengeveld commented on #14085
Turns out the issue isn't if there's *no value*, it's when the value is `null`.

[2021-03-18 13:25] slashwhatever commented on #8575
I'm running v6.1.21 and this is still an issue.

[2021-03-18 13:33] mrmckeb commented on #12625
Interesting, I haven't hit this before... but it could use some investigation. If you'd like to raise an issue at @colinramsay, we can take a look at this on the CRA side:
https://github.com/facebook/create-react-app/issues/new/choose

Officially, the CRA team recommend installing everything as "dependencies" anyway as Webpack doesn't differentiate between dependency types, and we know that people

[2021-03-18 13:33] AndreySukhov commented on #12973
removing node_modules folder and installing it again worked for me

[2021-03-18 13:44] Nerlin commented on #7745
In case someone will need it, here's an example how we run async snapshot tests in our project using react-testing-library and msw:
[code]

[2021-03-18 13:48] alex83130 commented on #13379
Exactly, within the controls addons tab,  the feature would be to be able to "play" with a SubCompoment in the same way we are for the moment able to play with the MainComponent.

To give you a simple example and a bit more context :
We have within our storybook a Modal component which use the Compound component pattern, this one is pretty simlare to that code below :

[code]

For the moment the o

[2021-03-18 14:06] gomorizsolt commented on #13791
Same here, the "Docs" tab re-renders the component upon modifying the "globals" but the "Canvas" tab doesn't react to it.

[2021-03-18 14:11] shilman commented on #14269
Do you have a repro repo you can share?

[2021-03-18 14:15] shilman commented on #8153
Hurrah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.3 containing PR #14270 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

[2021-03-18 14:15] shilman commented on #13860
Huzzah!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.3 containing PR #14068 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-18 14:15] shilman commented on #14029
ZOMG!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.3 containing PR #14251 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-18 14:15] #13860 closed

[2021-03-18 14:15] #14029 closed

[2021-03-18 15:11] idbartosz commented on #14269
@shilman I see there's already a PR with fix, do you still need a reproduction repo?

[2021-03-18 15:25] rmknecht commented on #14254
@shilman that sounds great, a dependency free `csf-extract` would meet our needs. What does a timeline look like for this feature?

[2021-03-18 15:39] shilman commented on #14254
@rmknecht it's not currently on the roadmap. if you're interested in taking a swing at making this happen, we could release it as early as 6.3.

[2021-03-18 15:40] shilman commented on #14269
@idbartosz no, i think we figured out the problem and can hopefully get you the fix soon

[2021-03-18 18:24] geometricpanda commented on #1843
so i handled this in `preview.js`:

[code]

Limitations: This won't interpolate any `@Input` props.
And if there's any real problem, it's suppressing the Error and returning null - which usually is an issue, except thanks to how the `<Source>` block has been built where that's ok
https://github.com/storybookjs/storybook/blob/master/addons/docs/src/blocks/Source.tsx#L83

[2021-03-18 19:09] wpatter6 commented on #11587
I tried the workaround mentioned in [this issue](https://github.com/storybookjs/storybook/issues/10075) of adding an empty object package.json into the `.storybook` folder for it to be treated as a commonjs type, and now I get stuck building storybook, always at this `acorn-jsx/index.js`:
![Screen Shot 2021-03-18 at 1 06 55 PM](https://user-images.githubusercontent.com/2145031/111683221-d1fc4500-8

[2021-03-18 19:10] nick-compassaq commented on #12789
Hey, I'm just curious if this feature ever got implemented. The story I'm working on is looking for a hex color, but the color control only seems to output rgba() format colors. I've looked through the documentation, but there doesn't seem to be any configuration for color controls beyond just stating that your control is or isn't a color.

[2021-03-18 20:40] algoz098 commented on #12144
This is happening with vue with vuetify, any update to version 6,

Some more info, if i import each of the files, from vuetify, it works.

[2021-03-18 21:08] matthias-ccri commented on #12408
I was able to get this working on react 17 by turning off the new JSX transform.

In the tsconfig
[code]
And add `import * as React from 'react';` in all JSX files as needed. After that, you can wipe the tears off your keyboard :frowning_man:

[2021-03-18 21:52] shilman commented on #12789
It's being implemented in addon-controls (that supercedes addon-knobs, which will be deprecated) right here: https://github.com/storybookjs/storybook/pull/14249#issuecomment-802149344

[2021-03-18 22:22] shilman commented on #14263
@luisrudge would love the help! first step is to see what `react-docgen-typescript` outputs, which is what we use under the hood. if that works, it's a bug in storybook and i can help guide you towards a fix. if not, we'll need to figure out how to fix that library and maybe @hipstersmoothie can help.

[2021-03-18 22:24] TheMightyPenguin commented on #13589
@shilman I'd like to give this one a shot! 😄

[2021-03-18 22:34] shilman commented on #14262
Possible dupe to #14197

[2021-03-19 00:21] maeriens commented on #10620
If anyone comes wondering here about the state of this, this is being investigated in https://github.com/storybookjs/storybook/issues/14092.

[2021-03-19 02:32] shilman commented on #13754
When I put a `console.log` in `webpackFinal` in your repro, it's getting logged in both dev and production ... so it's definitely not getting ignored. Perhaps something else is overwriting the results differently in the two modes?

[2021-03-19 02:53] shilman commented on #14152
Do you have a repro repo you can share?

[2021-03-19 03:17] shilman commented on #14257
I took a look at the repo:

[code]

The issue is that webpack4 is hoisted, but because you're using `builder-webpack5`, this code is executing using a webpack4 instance of DefinePlugin, that's being executed inside webpack5:

[code]

I installed webpack5 at the root to force it to be hoisted:

[code]

However that leads to a different error.

[2021-03-19 03:37] shilman commented on #14118
@skovy thanks for the debugging. i'm able to repro on `react-ts` and am trying to understand what's going on.

From the [webpack docs](https://webpack.js.org/api/stats/#module-objects) on `module.built`:

[code]

[2021-03-19 04:14] ianwijma opened #14272 "Misconfiguration / error in a story causes it to just disappear from Storybook without any visible error."
**Is your feature request related to a problem? Please describe**
Yes, ATM when something is misconfigured, the story is not being added. But no error is shown. Even though the file matches the `main.js` stories configuration.

**Describe the solution you'd like**
I would love to see at least some where a notice with why its not working. Sometimes it's a misconfiguration or code error.

**Describe

[2021-03-19 04:32] ianwijma commented on #14272
NVM, found where its being logged, was looking over it. My bad!

[2021-03-19 04:32] #14272 closed

[2021-03-19 05:47] shilman commented on #14269
Gadzooks!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.4 containing PR #14271 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-19 05:47] #14269 closed

[2021-03-19 05:54] Cyclodex commented on #14220
@shilman FYI With latest `6.2.0-rc.3` i have the same issues
[code]
I thought, if really the @types/react is the problem, then a `npm ls @types/react` might be a good point to see who calls that in the deps.:
[code]

[2021-03-19 06:20] maxthrottleup opened #14273 "Storybook not working with Gatsby v3"
**Describe the bug**
Storybook is not working with the latest version of Gatsby v3. It seems that the issue is that Gatsby needs only Webpack 5 to be installed and Storybook 6.2 (the one that has Webpack 5) still requires Webpack 4 to be installed. But I could be wrong here. Any advice will be greatly appreciated. We really don't want to remove Storybook from our CI/CD pipeline.

**To Reproduce**

[2021-03-19 09:44] 43081j opened #14274 "Typescript module resolution with `js` extension"
Let's say we have sources like this:

[code]

This works in production with `tsc` because it is assumed the transpiled output will be alongside this file. `tsc` allows this purposely so you're not writing "fake" import paths in your sources (which means tsc doesn't have to rewrite them).

If we try this through storybook, though, we get:

[code]

Changing the import to have no extension results in

[2021-03-19 10:11] shilman commented on #14118
@hipstersmoothie I took a look at this with @ndelangen and it looks like `react-docgen-typescript-plugin` needs to be updated to webpack5.

We looked at the `built` field and it is apparently not present in webpack5. We modified the plugin code in node_modules to use this check instead:

[code]

After that hack, the `.tsx` files are getting processed, but the source modification code (which looks

[2021-03-19 10:47] Sm1t commented on #14244
@jonniebigodes hi, what do you think about it?

[2021-03-19 10:51] norin89 commented on #11406
@fregiese I am facing the same issue. Did you manage to solve it somehow?

[2021-03-19 11:18] dpxgit commented on #11406
@norin89 We have implemented HMR with a custom `webpackDevServer`, but it was a lot of work. It would have been much easier if Storybook would have an option for this. We are starting two processes now, one with storybook and one with our custom webpack config and the `webpackDevServer`. The paths for css and js in our html templates are linking to `localhost:3001` now and would be different for e

[2021-03-19 11:27] abhijit-kar opened #14275 "Storybook Init doesn't work with PNPM"
Storybook init command results in error: "Cannot read property parent of 'null'", while using pnpm.

**Steps**
1. pnpx -p @storybook/cli sb init
2. Wait an eternity for things to finish.

**Expected behavior**
1. I expect to be able to use Storybook.
2. I wish that the init command for svelte project generated svelte specific example stubs.
3. I expected that Storybook moved on to better bundlers

[2021-03-19 12:53] soullivaneuh commented on #7772
Some suggestions:

First, it would be great to see the import on the related code block directly:

![image](https://user-images.githubusercontent.com/1698357/111783153-34704680-88ba-11eb-9791-630e9b80f476.png)

Thanks to that, the copy past may be easier.

Second, it would be great to detect or configure the way we want our users to import the components.
For example, components of library are mos

[2021-03-19 13:14] barinbritva commented on #9765
To run `main.ts` it's necessary to compile it first. If not, `ts-node` will help. I installed it and everything became OK.
Maybe they just forgot to add `ts-node` to dependencies?

[2021-03-19 13:47] #13952 closed

[2021-03-19 13:53] Cyclodex commented on #14220
@shilman forget about my comment above - I figured out why my vue build and storybook was throwing errors 😎

As one can see in the output above, I had an `shims-tsx.d.ts` file in my `src/` folder, which we don't actually need.
(Where it has a conflict with the `interface Element extends VNode {}` with something coming from the storybook dependencies)

So I deleted this file, and now all is fine! S

[2021-03-19 14:02] shilman commented on #9765
@barinbritva it should work automatically in `6.2.0-rc.x`

[2021-03-19 14:04] shilman commented on #14275
closing as duple to #13428

[2021-03-19 14:04] #14275 closed

[2021-03-19 14:22] scottdickerson commented on #14152
I wish I could share ours, unforunately ours is a private Github Enterprise project.  I also see errors between Hot Module Reloading and our Mini CSS Extract Plugin on rebuilds within the first startup.  Not sure if they're related. Is there anyway to tweak the storybook manager cache settings with an option so I could try out multiple options and get more info? like I could do with this:
[code]

[2021-03-19 14:50] dptoot opened #14278 "default component args missing from importing named export stories in unit tests"
When importing named export stories into unit tests as described in the docs any defaulted component args are not retained

**To Reproduce**
Steps to reproduce the behavior:

My story file is as follows

[code]
and then I import it into my unit as described in the docs like so:

[code]

The resulting rendered element is hass the offsite arg assigned but is missing the label and href args assigned

[2021-03-19 17:06] reywright commented on #7772
@soullivaneuh There's no longer a dire need for Storybook to support this as you can extend docs to support it.

https://github.com/cbinsights/form-design-system/blob/master/.storybook/preview.js#L23

Notice here that I'm extending the base level docs page to include this custom "ImportPath" component, which has access to the story information through context. The only possible thing they could ad

[2021-03-19 17:34] stefanprobst commented on #9765
i'm getting `SyntaxError: Unexpected token 'export'` with `v6.2.0-rc.4` - could you link to a working example @shilman thanks!

[2021-03-19 18:01] soullivaneuh commented on #13255
@jpcmf May we re-open the issue?

Using `@storybook/preset-create-react-app` does not allow us to create stories outside of `src`.

Is it something fixable?

[2021-03-19 18:01] kaelig opened #14280 "Allow enabling compression in development"
**Is your feature request related to a problem? Please describe**
In development (when running `start-storybook -s .storybook/public -p 6006`), large bundles are slow to load.

**Describe the solution you'd like**
I'd like assets served by the development server to be compressed (either by default or via a setting). NOT minified, as minification has a significant impact on compilation time.

Gzip

[2021-03-19 18:09] saiichihashimoto commented on #14259
I would love the "setter" solution, which would be a lot more generic than using something like a ref (or whatever fits with each framework) and, if desired, there could be wrappers that work with each framework.

[2021-03-19 19:27] Rush commented on #14026
let me know if you figure something out. I am desperately looking for a workaround

[2021-03-19 20:16] #14240 closed

[2021-03-19 20:47] Hypnosphi commented on #14044
@VincentLanglet so you don't have memory issues anymore? I'm asking because I use `builder-webpack5` but still have memory issues

[2021-03-20 02:15] Niznikr commented on #14273
Are you using yarn resolutions for handling Webpack 5 as a dependency? See [this repo](https://github.com/jean-leonco/storybook-webpack-5) for an example. We have been able to use Gatsby v3 and Storybook 6.2 with Webpack 5 together in a monorepo fine using resolutions.

[2021-03-20 02:18] shilman commented on #13484
closing this as dupe to #12307

[2021-03-20 02:18] #13484 closed

[2021-03-20 02:20] shilman commented on #9496
Related: #12307

[2021-03-20 03:02] shilman commented on #9765
@stefanprobst from inside the storybook monorepo in the `examples` directory:

[code]

[2021-03-20 03:06] shilman commented on #14278
@tmeasday @yannbf we've addressed this in https://github.com/storybookjs/testing-react -- looks like this is also a problem inside storybook itself ... any thoughts?

[2021-03-20 03:59] maxthrottleup commented on #14273
@Niznikr We are not using yarn, I have not used it before. Could you please elaborate more on how this can be done? If you could provide the steps on how to set it up with the Gatsby starter, it could really help.

Thanks!

[2021-03-20 08:26] rpedretti opened #14282 "Missing types for async loaders in React"
**Describe the bug**
The types for async loaders are missing from `StoryContext` and `Story`

**To Reproduce**
Steps to reproduce the behavior:

1. Create a CSF story in typescript
2. Try to add `loaders` prop to story
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
missing optional `loaded`
![image](https://user-images.githubuse

[2021-03-20 09:17] shilman commented on #13371
Yowza!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.5 containing PR #14264 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-20 09:17] shilman commented on #14079
¡Ay Caramba!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.5 containing PR #14230 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-20 09:17] #14079 closed

[2021-03-20 11:55] Niznikr commented on #14273
Sure! Just use `yarn` instead of `npm` to install your dependencies and have a resolutions field with Webpack 5 in your package.json before running the install [as seen here](https://github.com/jean-leonco/storybook-webpack-5/blob/main/package.json#L10).

[2021-03-20 14:56] dptoot commented on #14278
Thanks!  That utility looks like a good solution to what I was seeing!  Looks like I will be getting us in on the ground floor. :)

I personally don't see similar issues within storybook itself at this time so I wanted to make sure this wasn't based off something I said.

Thanks for the quick response!

[2021-03-20 15:41] shilman commented on #14278
Those utilities are meant for using stories inside jest where you are lacking the storybook runtime. In your case, the problem you're describing is happening inside storybook itself. Which makes me wonder whether we should be providing at least part of that utility inside Storybook core rather than as a standalone library.

In the short term you can def use that library--it's great!

[2021-03-20 16:01] dptoot commented on #14278
Forgive me if I am misunderstanding... I just want to make sure I am not sending you down the wrong path.

My issue was indeed that I was re-using stories in separate Jest unit tests and the defaults we not being applied... which it seems like this great utility provides...  as far as usage in the storybook runtime environment I am seeing everything work as expected.  I know there are addons that

[2021-03-20 16:20] shilman commented on #14278
Aha, thanks for the clarification -- I misunderstood. In that case, `@storybook/testing-react` is exactly designed to solve your problem!

[2021-03-20 18:48] dptoot commented on #14278
@shilman
@tmeasday
@yannbf

I am afraid I may have to take back what I said... It does look like I am seeing some similar issue within the storybook runtime if I reused predefined story components within other storybook stories.  It does look like the default values are being removed.   Take the following example:

[code]

MountedAd story will not have the default args.size applied and only if the

[2021-03-20 20:28] brion-fuller opened #14286 "Support use of updated custom-elements.json file"
**Is your feature request related to a problem? Please describe**
`custom-elements.json` has changed over the years and currently not integrated with autogenerating of args for web components.  Add support for https://github.com/webcomponents/custom-elements-manifest

**Describe the solution you'd like**
I would like to map the new schema in support for auto generated args.

**Are you able to assi

[2021-03-20 20:59] macrozone commented on #7745
wow that actually works much better and only takes a litte more then half the time of my previous implementation, thank you very much!

[2021-03-20 22:06] jazzfog commented on #12893
Same here, just `rm yarn.lock && yarn` did not work but also deleting `node_modules` did the trick.

[2021-03-20 22:19] appcypher commented on #8144
If anyone is wondering where the file is, `config.js` has been renamed to `preview.js` so you can add
[code]
to your `preview.js` file.

[2021-03-20 22:22] Jakob-em opened #14287 "Angular stories without component property on story level don't render source code"
**Describe the bug**
Angular Stories without the component on the story level don't render source code.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a story without the deprecated component property on the story
2. Check Source code on Docs Page

**Expected behavior**
Source code should be visible

**Screenshots**
![image](https://user-images.githubusercontent.com/26389546/1118870

[2021-03-20 22:32] shilman commented on #14286
That sounds great. Will the processing be backwards compatible? That's my only concern if we're trying to get this out in 6.3.

[2021-03-20 22:33] brion-fuller commented on #14286
Yeah I think it should be.  I was planning to add a mapper for different versions because it’s still not a stable spec.

[2021-03-20 22:41] Jakob-em commented on #14287
Looks like something else caused the code preview to break, it's now working as expected

[2021-03-20 22:41] #14287 closed

[2021-03-20 22:43] skidding commented on #10987
Happy to help. Just sent you a DM.

[2021-03-20 23:24] danBamikiya opened #14289 "storybook not working on microsoft edge."
**Describe the bug**
Storybook doesn't work on microsoft edge(latest version, don't know about other versions), but works fine on chrome.
**To Reproduce**
Steps to reproduce the behavior:

1. Run `npm run storybook`
2. Open microsoft edge
3. Go to localhost:6006
4. check error logging at the browser console `Ctrl+Shift+i`

**Expected behavior**
A clear and concise description of what you expected

[2021-03-20 23:25] danBamikiya commented on #14289
I installed storybook two days ago and decided to use it today, so its the latest version.

[2021-03-21 03:46] ntucker commented on #14012
@shilman Not supporting pmmmwh/react-refresh-webpack-plugin is a pretty big deal. This is the standard way of enabling hotreloading for react. This and many other webpack plugins use version detection.

[2021-03-21 05:28] ntucker opened #14291 "6.2.0-rc.6 inifite build loop"
**Describe the bug**
This makes infinite build loop. I guess the output is also input, triggering rebuild?

**To Reproduce**
Steps to reproduce the behavior:

1. git clone https://github.com/ntucker/storybook6.2-infiniteloop
2. cd storybook6.2-infiniteloop
3. yarn install
4. yarn storybook

**Expected behavior**
Build finishes and shows storybook

**Code snippets**
https://github.com/ntucker/story

[2021-03-21 05:52] ntucker commented on #14291
Turns out need the `watchOptions` set. Be sure to include in upgrade guide?

[2021-03-21 05:52] #14291 closed

[2021-03-21 07:45] shilman commented on #14291
@ntucker Can you be more specific? We haven't run into this yet.

[2021-03-21 07:47] shilman commented on #14289
Try upgrading to 6.2-rc:

[code]

[2021-03-21 07:57] ntucker commented on #14291
https://github.com/ntucker/anansi/commit/19c26dbd7512abad5ddb55dd997cb89d132ce997 was my fix.

- custom webpack config
- needed to add 'watchOptions' for it to work.
- repo included will fail. upgrade the config to beta.6 to see it work.

[2021-03-21 09:35] jeongtae opened #14292 "ES6 optional chaining syntax in svelte component throws an error"
**Describe the bug**
When I use an optional chaining syntax in the Svelte component, An error occurs.
It occurs only when I run Storybook, no problem on Rollup.
I expected it is related to Babel so I tried to configure Babel in several ways but all failed.

**To Reproduce**
Steps to reproduce the behavior:

1. Execute commands below
[code]
2. Edit `src/stories/Button.svelte`
[code]

3. Run Storybo

[2021-03-21 09:54] barinbritva commented on #9765
@shilman, thanks I'll try.

But I just copied content of `examples/react-ts-webpack4` folder and tried to launch it. I was supposed to manually add `cross-env` and `ts-node` dependencies. After doing that, everything works.

[2021-03-21 16:06] shilman commented on #14291
Thanks so much. Will check it out on Monday 🙏

[2021-03-21 17:24] Anzumana commented on #12311
Can also confirm that this seems to be related to saving files from vim specifically. very strange . The fix that @nathanielgreen posted work in my case.

[2021-03-21 17:24] Anzumana commented on #12311
tbh did not expect that an editor could be the cause of this.

[2021-03-21 17:38] erhise commented on #12311
Probably it's something that storybook can fix but I would define at an editor problem primarily

[2021-03-21 18:35] maxthrottleup commented on #14273
Thank you @Niznikr for your help.

For others encountering the same problem, I created a [repo](https://github.com/maxthrottleup/storybook-test) with Gatsby v3 and Storybook 6.2. Here are the steps to get both running:

1. git clone https://github.com/maxthrottleup/storybook-test.git
2. cd storybook-test
3. yarn install

And then we'll be able to run Gatsby or Storybook like this:
Gatsby: gatsby d

[2021-03-21 18:46] resistdesign commented on #5878
Had an issue where the logo just wouldn't show, figured it was caching because I couldn't change anything about the theme, all of a sudden.

This helped me: https://github.com/storybookjs/storybook/issues/13200

[2021-03-21 21:26] ntucker opened #14294 ""@storybook/builder-webpack5 > webpack-filter-warnings-plugin@1.2.1" has incorrect peer dependency "webpack@^2.0.0 || ^3.0.0 || ^4.0.0"."
**Describe the bug**
`"@storybook/builder-webpack5 > webpack-filter-warnings-plugin@1.2.1" has incorrect peer dependency "webpack@^2.0.0 || ^3.0.0 || ^4.0.0"`

**To Reproduce**
Steps to reproduce the behavior:

1. Install `@storybook/builder-webpack5` via yarn
2. Observe warning message

**Expected behavior**
No warnings as webpack5 should be expected.

**System**
[code]

**Additional context**
Ad

[2021-03-21 22:11] YozhEzhi commented on #13929
@AndrewGoupil I've made PR for this. Take a look please.

[2021-03-21 23:18] maxthrottleup commented on #14273
@shilman I don't know if this should still be considered as "has workaround". Although the solution that suggested @Niznikr and the repo that I set up works (using version `6.2.0-alpha.30`), the Storybook build crashes when I upgrade to version `6.2.0-rc.6`. I created a branch called "[rc-6](https://github.com/maxthrottleup/storybook-test/tree/rc-6)" on my previous repo so we can replicate this is

[2021-03-21 23:36] tmeasday commented on #14278
@shilman we should update our documentation to (at least in the react case) encourage the use of `@storybook/testing-react`, WDYT?

@dptoot -- there isn't really much SB can do about this one, you are literally just calling the `BasicAd` "component" in React with `BasicAd.args`, which of course doesn't automatically inherit, only when passed through the SB runtime. So what you are seeing is what I

[2021-03-22 00:59] shilman commented on #14292
@j3rem1e I repro'd this even on the 6.2-rc (`npx sb@next init`). any ideas what's going on?

[2021-03-22 01:12] #14155 closed

[2021-03-22 02:33] shilman commented on #14166
The CRA preset tries to replace Storybook's default react configuration (babel/webpack) with CRA's config. This used to be hard-coded inside `@storybook/react`, but putting it an addon both made it more modular AND came with a bunch of improvements.

As for how to solve your problem, I'm hoping @mrmckeb can help with that. This has come up a number of times and AFAIK there isn't an existing workar

[2021-03-22 02:43] shilman commented on #14149
Try upgrading to the latest prerelease:

[code]

Does that fix it?

[2021-03-22 02:56] shilman commented on #14278
@tmeasday perhaps this is something we can take care of as part of https://github.com/storybookjs/storybook/issues/12654

[2021-03-22 06:18] johnnyoshika commented on #6505
@shomukai's technique worked like a charm for me.

[2021-03-22 06:55] j3rem1e commented on #14292
It's a known issue with webpack4 :
https://github.com/sveltejs/svelte-loader/issues/137
https://github.com/webpack/webpack/issues/10227#issuecomment-642734920

with yarn, there is a workaround :

[code]

[2021-03-22 08:00] Anzumana commented on #12311
I think the only thing that is really strange about it, is that when using storybook with react, the issue never occurred.
Thats was the main reason for me why i did not really consider the editor in the first place.

[2021-03-22 08:35] dawidzarzycki commented on #14207
@shilman it works on version you posted above 👍

[2021-03-22 08:35] #14207 closed

[2021-03-22 09:07] BudHimself commented on #14149
Nope

[2021-03-22 11:29] marcusstenbeck commented on #7390
Seems like the cache is messing up somehow. Removing the npm cache and restarting storybook solves things, but the problem comes back.

[code]

[2021-03-22 11:41] markahon commented on #13422
I bumped into this when running my tests. It started occurring also after adding snapshot tests to my CRA build. Also

[code]

Workaround: Disable [the "new" jsx transform](https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html) by adding the [DISABLE_NEW_JSX_TRANSFORM](https://create-react-app.dev/docs/advanced-configuration#__docusaurus:~:text=DISABLE_NEW_JSX_TRANSFORM) flag

[2021-03-22 11:46] danielbachhuber opened #14300 "Unexpected 'Compiling RuleSet failed: Properties query are unknown' error with Vue 2 in a Laravel project"
**Describe the bug**

After I ran `npx sb init` inside of my Laravel project (which uses Vue 2), running `npm run storybook` produces this error:

[code]

Here's my `package.json` https://gist.github.com/danielbachhuber/667f6717d299b23b54bb137aa77e6161

[2021-03-22 12:41] jdelStrother commented on #13371
That PR was reverted in https://github.com/storybookjs/storybook/pull/14283, so reopening for now.

In the meantime, I'm working around this by overriding Storybook's webpack config to set `output.filename = "[name].bundle.js";`, which seems to be working well. Memory usage stays constant and I'm not experiencing the crashes mentioned in #14283

[2021-03-22 13:39] yngvebn commented on #14262
I can confirm that the workaround here https://github.com/storybookjs/storybook/issues/14197 fixed the problem

[2021-03-22 13:47] maxmezzomo opened #14301 "Typescript: Propagate Meta Generic Args type to interface properties"
**Is your feature request related to a problem? Please describe**
Specified Generic Type for Meta type is not provided as a generic to properties of the interface, specifically the proprties of the Annotations type. I have some examples in Additional context.

**Describe the solution you'd like**
It would a nice feature to have the Meta type propagate the Args to all relevant interface properties

[2021-03-22 14:04] shilman commented on #14301
@maxmezzomo this looks like a great enhancement. A PR would be very welcome!

[2021-03-22 14:05] shilman commented on #14262
OK closing as dupe to #14197 , thanks!

[2021-03-22 14:05] #14262 closed

[2021-03-22 14:06] shilman commented on #14300
Do you have a repro repo you can share?

[2021-03-22 14:29] snutij commented on #14026
I just had the problem **again**.

[code]

Its works.
I don't know which command solves the problem and why, but it might be a workaround for you.

[2021-03-22 14:37] nextah commented on #14026
@snutij Can confirm the sorcery.

[2021-03-22 14:42] danielbachhuber commented on #14300
It's private, unfortunately. I was hoping this was an error someone else had seen before 😄 I might be able to reproduce the issue by copying some of the dependencies into a clean repo.

[2021-03-22 15:12] shilman commented on #14197
Does anybody have a repro repo they can share?

[2021-03-22 15:33] shilman commented on #14294
closing as duplicate to #13990

[2021-03-22 15:33] #14294 closed

[2021-03-22 16:20] mike-odom commented on #13099
I'm seeing this on rollup packages specifically:
[code]

Here is `node_modules/rollup/package.json`

[code]

[2021-03-22 16:29] shilman commented on #13099
If you want this fixed, please upvote by adding a 👍 to the issue description. We use this to help prioritize!

[2021-03-22 16:33] shilman commented on #13990
Olé!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.7 containing PR #14303 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

Closing this issue. Please re-open if you think there's still more to do.

[2021-03-22 16:33] shilman commented on #14155
Yee-haw!! I just released https://github.com/storybookjs/storybook/releases/tag/v6.2.0-rc.7 containing PR #14290 that references this issue. Upgrade today to the `@next` NPM tag to try it out!

[code]

[2021-03-22 16:33] #13990 closed

[2021-03-22 19:18] coreybruyere commented on #9996
I tried removing my babel config and was still seeing the same issue.

If you get a chance could you possibly take a look at a [simplified version of my library](https://github.com/coreybruyere/HDS)? It contains the same config as my private repo. Stories break when the code is present inside of `packages/core/stories/0-c-theme-spec.stories.mdx`.

Any pointers or help would be greatly appreciated

[2021-03-22 19:57] mike-odom commented on #10876
We ran into this issue and spent a good amount of time trying to fix it.

I think the big issue here is that Jest suppresses console logs  by default. I went into our jest config in package.json and added:
```"verbose": true,```

That then showed the error we were having that prevented it from loading the stories:
[code]

(There was something in our code that depended on a babel macro. Adding `"ma

[2021-03-22 20:42] danielbachhuber commented on #14300
@shilman Here's a repo that reproduces: https://github.com/danielbachhuber/storybook-js-issue-14300

Notably, I'm using https://github.com/JeffreyWay/laravel-mix for building. The webpack config is in `node_modules/laravel-mix/setup/webpack.config.js`

Although, if they're two separate processes, I'm not sure whether they'd conflict.

[2021-03-23 02:31] shilman commented on #14253
Fixed in https://github.com/storybookjs/storybook/pull/14284 and released in 6.2.0-rc.x

[2021-03-23 02:31] #14253 closed

[2021-03-23 03:27] sarahbethfederman commented on #7772
I mean, I would like to see this included in the future, hopefully with a bit more logic around default exports, subcomponents, and multiple entrypoints. I am not sure if it's fair to say that just being able to do `import { ${componentName} } from '@mylib/components';` (https://github.com/cbinsights/form-design-system/blob/master/src/util/storybook-docs/ImportPath.jsx#L14) on every page really so

[2021-03-23 06:45] wKich commented on #14254
Hi, @rmknecht. I'm working on a [screenshot testing tool for Storybook](https://github.com/wKich/creevey) and already have AST processing code to extract stories meta without a browser. And I glad to add the `extract` command to my tool, so you can use it instead of `sb extract`. Just give me some time to organize my code so I can add that command to CLI.

[2021-03-23 07:37] riccardogiorato opened #14311 "SCSS preset is not working with latest node-sass"
**Describe the bug**
- I followed this guide to configure SCSS in my storybook project:  https://github.com/storybookjs/presets/tree/master/packages/preset-scss#basic-usage
- when executing the project I would get this error coming from the "sass-loader" package
[code]
- I found out this issue almost identical on "nuxt"
- the solution proposed was to install a supported version of "sass-loader@10.

[2021-03-23 09:35] rodrigoehlers commented on #14119
I'd like to contribute and replace `@reach/router` with an alternative. @shilman: You mentioned [React Router](https://reactrouter.com) as an alternative. Is anyone already working on this? If not, I'd like to start doing so.

[2021-03-23 09:59] ozaytsev86 commented on #14138
Just tried it last weekend, all works like a charm with sass-loader v11 and postcss-loader v5. Thank you @shilman

[2021-03-23 09:59] shilman commented on #14119
@rodrigoehlers Thanks for your enthusiasm to fix this!! I was probably referring to this: https://reacttraining.com/blog/reach-react-router-future/

@ndelangen did the `@reach/router` work and is most familiar with it. Ideally he would give the green light on this and provide any mentoring needed. If you're eager to start, you could probably get going and then we could review what you come up with

[2021-03-23 10:04] rodrigoehlers commented on #14119
@shilman Sounds good, thanks. I'll wait for input from @ndelangen and setup the development environment in the meantime. If I don't contribute with this, I'll definitely do with another issue.

[2021-03-23 10:07] allanlewis commented on #11492
We just upgraded from 5.x to 6.1.21 and we're still getting a bunch of warnings from `yarn` like this:

    warning "@storybook/addon-actions > @storybook/addons@6.1.21" has unmet peer dependency "react@^16.8.0 || ^17.0.0".

This is despite `react@16.13.1` being installed, so I'm not sure what's going on.

[2021-03-23 10:10] balibebas commented on #13795
I hit this problem several times on day one of trying to integrate this with an [existing Next app](https://github.com/reactioncommerce/example-storefront). I wonder if it has anything to do with Next inlining the Webpack as Cosmos (an alternative to storybook) started seeing Webpack related issues around the exact same date (early Feburary).

[2021-03-23 10:15] balibebas commented on #13795
I hit this problem several times on day one of trying to integrate this with an [existing Next app](https://github.com/reactioncommerce/example-storefront). Hard deleting cache fixes it but the issue came right back several times with little more than basic edits to Storybook files.

[2021-03-23 10:18] shilman commented on #14119
@rodrigoehlers I just chatted with @ndelangen and he's cool with the project. Please hit us up on Discord if you have questions getting set up or need a hand in any way!

[2021-03-23 10:41] danBamikiya commented on #14289
Still not working. This is the log file:
[localhost-1616495912721.log](https://github.com/storybookjs/storybook/files/6188810/localhost-1616495912721.log)

[2021-03-23 11:10] PhekPR commented on #14197
I think I managed to reproduce this. I removed and simplified as many files as possible from our design system where we currently have this problem when upgrading and then applied the [Storybook upgrade guide](https://gist.github.com/shilman/8856ea1786dcd247139b47b270912324#upgrade) on it.

Here is the repo:
https://github.com/PhekPR/reprod-storybook-transforming-class-properties

[2021-03-23 13:13] christopher-francisco opened #14315 "MDX markdown not being passed any class names"
**Describe the bug**

None of my markdowns have class names passed.

**To Reproduce**

1. Have a `pnpm` monorepo with many different storybook instances. Not all instances are on the same version. They also don't have the same addons

Cannot reproduce on a brand new repo

**Expected behavior**
markdown has class names when rendered

**Screenshots**
<img width="527" alt="Screenshot 2021-03-23 at 13

[2021-03-23 13:58] balibebas commented on #13184
I had to use `TsConfigPathsPlugin` to use Storybook with my app. [So did this fella](https://github.com/storybookjs/storybook/issues/14087#issuecomment-790003173) in a different issue. Here's the place in the docs that needs to be updated with this workaround: https://storybook.js.org/docs/react/configure/webpack

[2021-03-23 14:06] balibebas commented on #14087
Two methods for handling I've seen now to address this issue here and in #13184 are:

[code]

[code]

The first seems more robust because it's pushing the plugin onto the existing array whereas the second doesn't. I was able to use the second version without issue. But I'm wondering if it's prone to breakage due to not being as robust. @DoneDeal0 any thoughts?

[2021-03-23 14:42] shilman commented on #13184
@balibebas any interest in submitting a PR with the update?

[2021-03-23 14:47] shilman commented on #13795
@balibebas can you try the latest 6.2 RC? we recently made some changes that could be relevant

[code]

[2021-03-23 15:45] reywright commented on #7772
@sarahbethfederman Yeah totally that's fair.

* When I created this ticket it was for providing a simple UI as well as a very simplistic implementation.
* I would almost rather create a separate ticket just to request merely include this data in the context now (pathname of the component, subcomponents, etc) as a first step, so it becomes less of a question of how this should look UI wise, to be a

[2021-03-23 16:04] kluplau commented on #12747
@shilman Will circular references be working again in 6.2?

[2021-03-23 16:09] aharris commented on #7978
Having the same issue here with it not working in MDX. Can (should) this issue be reopened?

[2021-03-23 16:27] jeffersondev commented on #13128
Thank you for sharing @marceloadsj ;) It worked like a charm until there is not a solution to this by configuration!

[2021-03-23 16:41] donpernino commented on #12153
Thanks a lot, banged my head as well but this fixed the controls customization for me!

[2021-03-23 17:10] wooorm commented on #14238
@shilman “We still rely on the runtime.” For what do you need the runtime? xdm compiles to something which doesn’t need a runtime (other than react/preact/vue/emotion/etc)

[2021-03-23 17:32] AlexandraNicolau10x commented on #7223
A solution for me was just to simply remove the mock below from our JestSetup file, and just move it in the test which was failing because of storybook.

`jest.mock('@storybook/react-native', () => ({
  getStorybookUI: jest.fn(),
  addDecorator: jest.fn(),
  configure: jest.fn(),
}));`

[2021-03-23 17:57] j3rem1e opened #14319 "addon-jest doesn't work with webpack 5"
**Describe the bug**

When using addon-jest with the webpack5 builder, the stories fail with this error :

[code]

This addon uses upath in the browser which need the path module. In webpack5, this module doesn't have an automatic polyfill.

**Screenshots**
<img width="1426" alt="Capture d’écran 2021-03-23 à 18 51 56" src="https://user-images.githubusercontent.com/2384547/112194532-44b15a00-8c09

[2021-03-23 18:21] j3rem1e commented on #14319
As a workaround, it is solved by adding `config.resolve.fallback.path = require.resolve("path-browserify");` in a webpackFinal function in `.storybook/main.js`.

[2021-03-23 18:50] chris-erickson commented on #14273
I got the whole thing "working" with webpack 5 but none of my Gatsby styles or CSS class names (using SASS and CSS Modules) are present in the output.  Any idea what part of the chain I'm missing?

[2021-03-23 20:02] abhijit945 commented on #14192
Identical behavior even with `jest-preset-angular`
[code]
I have to update the screenshots anytime I update the package.json devDependencies etc.

[2021-03-23 20:05] natac13 commented on #12129
This suggest is working for me, however it exposes **every** HTML prop as well, making the storybook ui unusable since each component now has close to 300 props.
Is there a way to stop the *extending* at the MUI package and no further??

[2021-03-23 20:34] smrq commented on #13099
Dug into this a little bit out of curiosity and found that it seems to be triggered by deps/devDeps that include an `exports` configuration in their `package.json` that does not explicitly export the `package.json` file itself. Rollup's config, as an example:

[code]

And the error it generates (which is not currently displayed anywhere -- [this catch expression](https://github.com/storybookjs/sto

[2021-03-23 20:54] shilman commented on #14238
@wooorm Thanks for the clarification! I'll take a closer look as soon as SB6.2 is out the door. Is XDM the recommended path forward for MDX-consuming apps like storybook?

[2021-03-23 20:54] KenACollins opened #14320 "[6.2.0-beta.11] Missing Two html.js Files"
**Describe the bug**
Hi, my 6.2.0-beta.11 installation is missing two `html.js` files (which I only discovered because the storybook-addon-designs add-on version 5.4.5 bombed for this reason). I was able to copy them from a stable 6.1.21 build and I am good now but are these files actually missing from the beta release after all dependencies are installed?

The first `html.js` file is missing at t

[2021-03-23 21:13] fcisio opened #14321 "[@storybook/addon-a11y]: Critical dependency issue"
**Describe the bug**
Enabling `@storybook/addon-a11y` logs this dependency error.

- The issue seems to be present at least from `6.1.19` to `6.1.21`.
- Disabling the addon fixes the issue.
- While the error is logged, it doesn't seem to affect the app

**Expected behavior**
The console should run without errors

**Screenshots**
![ScreenShot 2021-03-23 at 5 04 51 PM](https://user-images.githubuser

[2021-03-23 21:13] shilman commented on #12129
@natac13 the `propFilter` config option is a function, so you should be able to do something tricky there to get only the props you want

[2021-03-23 21:19] shilman opened #14322 "Addon-backgrounds MDX support"
Hi @shilman ,

Your PR fixes the problem for DocsPage generated documentation, but not for manually written MDX stories in the style described [here](https://github.com/storybookjs/storybook/tree/next/addons/docs#mdx).

The code in the PR tries to set styles on the CSS selector  [here](https://github.com/storybookjs/storybook/blob/next/addons/backgrounds/src/decorators/withBackground.ts#L28-L56)

[2021-03-23 21:23] shilman commented on #7772
If it's cool with you @reywright let's keep it all in one place. When somebody gets around to implementing this, it will be useful to see all the context together.

[2021-03-23 23:47] maxmezzomo commented on #14301
Nice, I'll start in the next few days see what we can get working

[2021-03-24 04:15] balibebas commented on #13184
Can do. But I'd like to answer this question before laying down a suggestion in the docs. https://github.com/storybookjs/storybook/issues/13184#issuecomment-804959943

[2021-03-24 04:32] shilman commented on #13184
@balibebas sorry, I didn't see a question ... what am I missing? 😄

[2021-03-24 05:00] balibebas commented on #13184
Seeing as how I linked to your own comment I can see how that could be confusing. I've updated the link above to link to the related issue with the question. Whoops! :D

[2021-03-24 05:09] shilman commented on #13494
Sorry I missed this first time around. Is it still a problem for you? I can't repro.

[2021-03-24 07:05] shilman commented on #14087
@balibebas Definitely prefer the most robust one, maybe:

[code]

Or the equivalent

[2021-03-24 08:31] Sawtaytoes opened #14327 "🐛 Actions don't work on non-`onClick` functions"
**Describe the bug**
Actions don't work on non-`onClick` functions when a default value is defined in the component.

**To Reproduce**
Steps to reproduce the behavior:

1. Setup a create-react-app project with `sb init`
2. Edit the `Button` (and its prop types) to use `onClick2`:
[code]
3. Click on the `Button` in Storybook, actions won't show.

I first noticed this with `onChange` and `onSubmit`;

[2021-03-24 08:36] wooorm commented on #14238
It’s an option. Sticking with `@mdx-js/mdx` is a safe bet though

[2021-03-24 10:42] lijing666 commented on #14327
I found actions not work  even with next version `"@storybook/vue": "^6.2.0-rc.8"`, only 'onClick' works, even 'on-click' not works too, I have also turned on argTypesRegex config globally:
[code]

[2021-03-24 11:38] shilman commented on #14327
What's happening here is that the actions addon is scanning through the existing argTypes and looking for function argTypes whose names matches the regex. When it fails, it's because those argTypes don't exist or because they are not of type function. Perhaps we need to update the design to make it less finicky. Suggestions welcome!!

[2021-03-24 11:41] criskrzysiu commented on #14147
one thing is still making me unsure if it is problem with compdoc beacause even if I disable

[2021-03-24 11:41] criskrzysiu commented on #14147
srx, wanted to just cancel comment, srx

[2021-03-24 12:51] christopher-francisco commented on #14315
I fixed the problem by removing `@mdx-js/loader` from a different package within the same monorepo. I'll close this ticket,  but I'm not sure if we should log that incorrect dependencies are being loaded(?)

[2021-03-24 12:51] #14315 closed

[2021-03-24 13:16] PLSFIX commented on #14321
Same

[2021-03-24 14:22] yannbf commented on #14322
@patricklafrance we spoke about this back then. Did you have any ideas on how to best approach this? The addon must know what target to set a custom background for.

[2021-03-24 14:28] rhahne commented on #13254
I'm experiencing a similar issue regarding MDX syntax highlight changes.
In our Storybook we have several code blocks, where we show SCSS specific code within an MDX code block like so:

[code]

In Storybook v6.0.x the syntax highlight is being rendered correctly like so:
![Screenshot 2021-03-24 at 15 17 14](https://user-images.githubusercontent.com/10713975/112326889-391b6d00-8cb5-11eb-9af5-d3cbc

[2021-03-24 17:22] cinan commented on #14197
I had the same problem with storybook 6.2.0-rc.9. Solved by `yarn dedupe` (yarn 2.4.1)

[2021-03-24 19:11] zolk commented on #13630
I'm also running into this and have had to lock our Storybook installation at `6.1.11` to avoid numerous links in our docs breaking.

[2021-03-24 20:18] as-zlynn-philipps commented on #12431
@shilman just tested it out, seems to work well on both the Canvas and Docs tab when I add `exclude` to the global `parameters.controls`. However, for subcomponents, the excluded controls still show up. It doesn't seem like this feature has complete parity with `<ArgsTable exclude={[]} />` for that reason, and also because `ArgsTable` **must** have a `story` prop set in order for the global exclud

[2021-03-24 22:30] Sawtaytoes commented on #14327
Just as a quick update, I did this to fix it locally:
[code]

[2021-03-24 22:31] Sawtaytoes commented on #14327
@shilman What exactly would need to change to make this work properly in Storybook? It's using `PropTypes.func` in my component.